version: 5.15.0

type: DeclarativeSource

description: >-
  Appwrite connector enables seamless data synchronization between Appwrite and
  other platforms. This connector simplifies integration by automating data flow
  and ensuring efficient data transfer across systems.

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  streams:
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - $id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
          request_headers:
            X-Appwrite-Key: "{{ config[\"key_value\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: OffsetIncrement
            page_size: 25
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    teams:
      type: DeclarativeStream
      name: teams
      primary_key:
        - $id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /teams
          http_method: GET
          request_headers:
            X-Appwrite-Key: "{{ config[\"key_value\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - teams
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: OffsetIncrement
            page_size: 25
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    team_memberships:
      type: DeclarativeStream
      name: team_memberships
      primary_key:
        - $id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /teams/{{ stream_partition.team }}/memberships
          http_method: GET
          request_headers:
            X-Appwrite-Key: "{{ config[\"key_value\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - memberships
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: OffsetIncrement
            page_size: 25
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: $id
              partition_field: team
              stream:
                $ref: "#/definitions/streams/teams"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/team_memberships"
    databases:
      type: DeclarativeStream
      name: databases
      primary_key:
        - $id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /databases
          http_method: GET
          request_headers:
            X-Appwrite-Key: "{{ config[\"key_value\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - databases
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/databases"
    collections:
      type: DeclarativeStream
      name: collections
      primary_key:
        - $id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /databases/{{ stream_partition.database }}/collections
          http_method: GET
          request_headers:
            X-Appwrite-Key: "{{ config[\"key_value\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - collections
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: $id
              partition_field: database
              stream:
                $ref: "#/definitions/streams/databases"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/collections"
    attributes:
      type: DeclarativeStream
      name: attributes
      primary_key:
        - key
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /databases/{{ stream_partition.database }}/collections/{{
            stream_partition.collection }}/attributes
          http_method: GET
          request_headers:
            X-Appwrite-Key: "{{ config[\"key_value\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - attributes
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: $id
                partition_field: database
                stream:
                  $ref: "#/definitions/streams/databases"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: $id
                partition_field: collection
                stream:
                  $ref: "#/definitions/streams/collections"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/attributes"
    documents:
      type: DeclarativeStream
      name: documents
      primary_key:
        - $id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /databases/{{ stream_partition.database }}/collections/{{
            stream_partition.collection }}/documents
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - documents
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: true
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: $id
                partition_field: database
                stream:
                  $ref: "#/definitions/streams/databases"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: $id
                partition_field: collection
                stream:
                  $ref: "#/definitions/streams/collections"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/documents"
    indexes:
      type: DeclarativeStream
      name: indexes
      primary_key:
        - key
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /databases/{{ stream_partition.database }}/collections/{{
            stream_partition.collection }}/indexes
          http_method: GET
          request_headers:
            X-Appwrite-Key: "{{ config[\"key_value\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - indexes
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: $id
                partition_field: database
                stream:
                  $ref: "#/definitions/streams/databases"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: $id
                partition_field: collection
                stream:
                  $ref: "#/definitions/streams/collections"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/indexes"
    buckets:
      type: DeclarativeStream
      name: buckets
      primary_key:
        - $id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /storage/buckets
          http_method: GET
          request_headers:
            X-Appwrite-Key: "{{ config[\"key_value\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - buckets
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/buckets"
    files:
      type: DeclarativeStream
      name: files
      primary_key:
        - $id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /storage/buckets/{{ stream_partition.bucket }}/files
          http_method: GET
          request_headers:
            X-Appwrite-Key: "{{ config[\"key_value\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - files
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: OffsetIncrement
            page_size: 25
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: $id
              partition_field: bucket
              stream:
                $ref: "#/definitions/streams/buckets"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/files"
  base_requester:
    type: HttpRequester
    url_base: https://cloud.appwrite.io/v1
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: X-Appwrite-Project
        inject_into: header

streams:
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/team_memberships"
  - $ref: "#/definitions/streams/databases"
  - $ref: "#/definitions/streams/collections"
  - $ref: "#/definitions/streams/attributes"
  - $ref: "#/definitions/streams/documents"
  - $ref: "#/definitions/streams/indexes"
  - $ref: "#/definitions/streams/buckets"
  - $ref: "#/definitions/streams/files"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - key_value
    properties:
      api_key:
        type: string
        description: The API key to use for authentication
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
      key_value:
        type: string
        title: Key Value
        airbyte_secret: true
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    users: true
    teams: true
    team_memberships: true
    databases: true
    collections: true
    attributes: true
    documents: true
    indexes: true
    buckets: true
    files: true
  testedStreams:
    users:
      streamHash: 6dfd006b6bcbc8792fdafdb0ef4a78de19036fa1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teams:
      streamHash: 291199ad691a000867bbf85e8f3c77e57f4de8aa
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    team_memberships:
      streamHash: dc9e73e56e7d164c518d3173cf69f921a89aeb0c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    databases:
      streamHash: f151ccb3523b5c7c606f854a11cedbf7cdad5b5c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    collections:
      streamHash: 477d3724409b2d3d5a8311c402bfe6cf9d9a0636
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    attributes:
      streamHash: 4bd936641566ba15c335a3ede11ded1b7ebc9174
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    documents:
      streamHash: 2fcfc7718ab456f018624e63833d5ba489797e24
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    indexes:
      streamHash: 618c2ee23f599ef417db4ed8da404dcec49a79bb
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    buckets:
      streamHash: b539245b0a339a7a6145d50bda7da21019e2630b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    files:
      streamHash: 3fcf0c4c1f6421373de5f53fa828def50535eda5
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: >-
      https://github.com/appwrite/appwrite/blob/main/app/config/specs/swagger2-latest-server.json

schemas:
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      $createdAt:
        type:
          - string
          - "null"
      $id:
        type: string
      $updatedAt:
        type:
          - string
          - "null"
      accessedAt:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      emailVerification:
        type:
          - boolean
          - "null"
      hash:
        type:
          - string
          - "null"
      hashOptions:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          memoryCost:
            type:
              - number
              - "null"
          threads:
            type:
              - number
              - "null"
          timeCost:
            type:
              - number
              - "null"
      labels:
        type:
          - array
          - "null"
      mfa:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      password:
        type:
          - string
          - "null"
      passwordUpdate:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      phoneVerification:
        type:
          - boolean
          - "null"
      prefs:
        type:
          - object
          - "null"
      registration:
        type:
          - string
          - "null"
      status:
        type:
          - boolean
          - "null"
      targets:
        type:
          - array
          - "null"
    required:
      - $id
  teams:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      $createdAt:
        type:
          - string
          - "null"
      $id:
        type: string
      $updatedAt:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      prefs:
        type:
          - object
          - "null"
      total:
        type:
          - number
          - "null"
    required:
      - $id
  team_memberships:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      $createdAt:
        type:
          - string
          - "null"
      $id:
        type: string
      $updatedAt:
        type:
          - string
          - "null"
      confirm:
        type:
          - boolean
          - "null"
      invited:
        type:
          - string
          - "null"
      joined:
        type:
          - string
          - "null"
      mfa:
        type:
          - boolean
          - "null"
      roles:
        type:
          - array
          - "null"
      teamId:
        type:
          - string
          - "null"
      teamName:
        type:
          - string
          - "null"
      userEmail:
        type:
          - string
          - "null"
      userId:
        type:
          - string
          - "null"
      userName:
        type:
          - string
          - "null"
    required:
      - $id
  databases:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      $createdAt:
        type:
          - string
          - "null"
      $id:
        type: string
      $updatedAt:
        type:
          - string
          - "null"
      archives:
        type:
          - array
          - "null"
      enabled:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      policies:
        type:
          - array
          - "null"
    required:
      - $id
  collections:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      $createdAt:
        type:
          - string
          - "null"
      $id:
        type: string
      $permissions:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      $updatedAt:
        type:
          - string
          - "null"
      attributes:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            $createdAt:
              type:
                - string
                - "null"
            $updatedAt:
              type:
                - string
                - "null"
            array:
              type:
                - boolean
                - "null"
            error:
              type:
                - string
                - "null"
            key:
              type:
                - string
                - "null"
            required:
              type:
                - boolean
                - "null"
            size:
              type:
                - number
                - "null"
            status:
              type:
                - string
                - "null"
      databaseId:
        type:
          - string
          - "null"
      documentSecurity:
        type:
          - boolean
          - "null"
      enabled:
        type:
          - boolean
          - "null"
      indexes:
        type:
          - array
          - "null"
      name:
        type:
          - string
          - "null"
    required:
      - $id
  attributes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      $createdAt:
        type:
          - string
          - "null"
      $updatedAt:
        type:
          - string
          - "null"
      array:
        type:
          - boolean
          - "null"
      error:
        type:
          - string
          - "null"
      key:
        type: string
      required:
        type:
          - boolean
          - "null"
      size:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - key
  documents:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      $collectionId:
        type:
          - string
          - "null"
      $createdAt:
        type:
          - string
          - "null"
      $databaseId:
        type:
          - string
          - "null"
      $id:
        type: string
      $permissions:
        type:
          - array
          - "null"
      $updatedAt:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      picture:
        type:
          - string
          - "null"
      user_id:
        type:
          - string
          - "null"
    required:
      - $id
  indexes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      $createdAt:
        type:
          - string
          - "null"
      $updatedAt:
        type:
          - string
          - "null"
      attributes:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      error:
        type:
          - string
          - "null"
      key:
        type: string
      orders:
        type:
          - array
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - key
  buckets:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      $createdAt:
        type:
          - string
          - "null"
      $id:
        type: string
      $permissions:
        type:
          - array
          - "null"
      $updatedAt:
        type:
          - string
          - "null"
      allowedFileExtensions:
        type:
          - array
          - "null"
      antivirus:
        type:
          - boolean
          - "null"
      compression:
        type:
          - string
          - "null"
      enabled:
        type:
          - boolean
          - "null"
      encryption:
        type:
          - boolean
          - "null"
      fileSecurity:
        type:
          - boolean
          - "null"
      maximumFileSize:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
    required:
      - $id
  files:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      $createdAt:
        type:
          - string
          - "null"
      $id:
        type: string
      $permissions:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      $updatedAt:
        type:
          - string
          - "null"
      bucketId:
        type:
          - string
          - "null"
      chunksTotal:
        type:
          - number
          - "null"
      chunksUploaded:
        type:
          - number
          - "null"
      mimeType:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      signature:
        type:
          - string
          - "null"
      sizeOriginal:
        type:
          - number
          - "null"
    required:
      - $id
