@use "../../../../../scss/variables" as vars;

.container {
  text-align: center;
  padding: vars.$spacing-lg vars.$spacing-xl;
}

.connectionDeleted {
  max-width: vars.$width-modal-md;
  margin: vars.$spacing-lg auto;
}

.statusContainer {
  margin: 18px 0;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
