@use "../../../../../scss/colors";
@use "../../../../../scss/variables";

.container {
  margin-bottom: variables.$spacing-xl;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textContainer {
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.icon {
  display: none;
  position: absolute;
  right: variables.$spacing-xl;
  font-size: 18px;
  color: colors.$blue;
}

.nameContainer {
  composes: textContainer;
  background-color: colors.$white;
  border: variables.$border-thin solid colors.$backgroundColor;
  border-radius: 6px;
  padding: 0 variables.$spacing-xl;

  div {
    width: 100%;

    h2 {
      font-weight: 500;
      font-size: 22px;
      line-height: 30px;
      text-align: center;
      color: colors.$dark-blue-900;
      margin: variables.$spacing-md;
      word-wrap: break-word;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: colors.$backgroundColor;

    & > .icon {
      display: block;
      color: #27272a;
    }
  }
}

.editingContainer {
  composes: textContainer;
  background-color: colors.$backgroundColor;
  border: variables.$border-thin solid colors.$backgroundColor;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.crossIcon,
.tickIcon {
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.inputContainer {
  height: 50px;
  flex: 1;

  div {
    border-radius: 6px;
    border: none;
    box-shadow: none;
    background-color: colors.$backgroundColor !important;
  }
}

.input {
  border-radius: 6px;
  background-color: colors.$backgroundColor;
  font-size: 22px !important;
  height: 50px;
  text-align: center;
  padding: 0 20px;
  font-weight: 500;
  caret-color: colors.$blue;
}
