@use "../../../../../scss/colors";
@use "../../../../../scss/variables";

.container {
  margin-top: variables.$spacing-md;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textContainer {
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.icon {
  display: none;
  position: absolute;
  right: variables.$spacing-xl;
  font-size: 18px;
  color: colors.$blue;
}

.nameContainer {
  composes: textContainer;
  background-color: colors.$beige-100;
  border: variables.$border-thin solid colors.$beige-100;
  border-radius: variables.$border-radius-sm;
  padding: 0 variables.$spacing-xl;

  div {
    width: 100%;

    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: colors.$dark-blue-900;
      margin: variables.$spacing-md;
      word-wrap: break-word;
    }
  }

  &:hover {
    cursor: pointer;
    border: variables.$border-thin solid colors.$blue;
    background-color: colors.$blue-50;

    & > .icon {
      display: block;
    }
  }
}

.editingContainer {
  composes: textContainer;
  background-color: colors.$white;
  border: variables.$border-thin solid colors.$blue;
  border-radius: variables.$border-radius-sm;
}

.inputContainer {
  height: 50px;
  width: 100%;

  div {
    border-radius: variables.$border-radius-sm;
    border: none;
    box-shadow: none;
    background-color: colors.$white !important; // fix style import order issue
  }
}

.input {
  border-radius: variables.$border-radius-sm;
  background-color: colors.$white;
  font-size: 24px !important; // fix style import order issue
  height: 50px;
  text-align: center;
}
