@use "../../../../../scss/variables" as vars;

.resetWarningModal {
  padding: vars.$spacing-xl;
}

.resetWarningModalButtons {
  display: flex;
  justify-content: flex-end;
  gap: vars.$spacing-md;
  margin-top: vars.$spacing-lg;
}
