@use "../../../../../scss/colors";

.statusView {
  margin: 0 10px;

  .title {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    .resetButton {
      margin-right: 10px;
    }

    .cancelButton {
      padding: 5px 8px;
      border-color: transparent;
      background-color: colors.$red;

      .iconXmark {
        margin: 0 10px -1px 0;
        font-size: 14px;
      }
    }

    .syncButton {
      padding: 5px 8px;

      .iconRedoAlt {
        margin: 0 10px -1px 0;
        font-size: 14px;
      }
    }
  }

  .contentCard {
    margin-bottom: 20px;
  }
}
