@use "../../../../../scss/colors";
@use "../../../../../scss/variables";

.connectorLink {
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
  max-width: 400px;

  &:hover {
    background-color: colors.$grey-50;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-flow: column wrap;
  background-color: white;
  border-radius: 10px;
  padding: 24px 60px;
}

.mainInfoContainer {
  width: 100%;
}

.mainInfoContainer,
.pathContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.leftContainer {
  flex: 1;
}

.enabledControlContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 152px;
  padding: variables.$spacing-md;
}

.syncDate {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #999;
  justify-content: center;
  margin-top: 10px;
}
