@use "../../../../../scss/colors";
@use "../../../../../scss/variables";

.connectorLink {
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;

  &:hover {
    background-color: colors.$grey-50;
  }
}

.container {
  width: 650px;
  display: flex;
  justify-content: space-between;
  padding: variables.$spacing-md variables.$spacing-xl;
  background-color: white;
  border-radius: 10px;
  align-items: center;
}
