version: 5.7.5

type: DeclarativeSource

description: |-
  Website: https://app.circleci.com/
  API Docs: 
  - v1-https://circleci.com/docs/api/v1/index.html
  - v2-https://circleci.com/docs/api/v2/index.html
  API page: https://app.circleci.com/settings/user/tokens

check:
  type: CheckStream
  stream_names:
    - context

definitions:
  streams:
    context:
      type: DeclarativeStream
      name: context
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/context
          http_method: GET
          request_parameters:
            owner-id: "{{ config['org_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page-token
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"next_page_token\", {}) }}"
            stop_condition: "{{ not response.get(\"next_page_token\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/context"
    self_ids:
      type: DeclarativeStream
      name: self_ids
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/me
          http_method: GET
          request_parameters:
            owner-id: "{{ config['org_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page-token
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"next_page_token\", {}) }}"
            stop_condition: "{{ not response.get(\"next_page_token\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/self_ids"
    self_collaborations:
      type: DeclarativeStream
      name: self_collaborations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/me/collaborations
          http_method: GET
          request_parameters:
            owner-id: "{{ config['org_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page-token
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"next_page_token\", {}) }}"
            stop_condition: "{{ not response.get(\"next_page_token\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/self_collaborations"
    me:
      type: DeclarativeStream
      name: me
      primary_key:
        - analytics_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1.1/me
          http_method: GET
          request_parameters:
            owner-id: "{{ config['org_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page-token
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"next_page_token\", {}) }}"
            stop_condition: "{{ not response.get(\"next_page_token\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/me"
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - vcs_url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1.1/projects
          http_method: GET
          request_parameters:
            owner-id: "{{ config['org_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page-token
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"next_page_token\", {}) }}"
            stop_condition: "{{ not response.get(\"next_page_token\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
  base_requester:
    type: HttpRequester
    url_base: https://circleci.com/api/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: Circle-Token
        inject_into: header

streams:
  - $ref: "#/definitions/streams/context"
  - $ref: "#/definitions/streams/self_ids"
  - $ref: "#/definitions/streams/self_collaborations"
  - $ref: "#/definitions/streams/me"
  - $ref: "#/definitions/streams/projects"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - org_id
      - start_date
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      org_id:
        type: string
        description: >-
          The org ID found in
          `https://app.circleci.com/settings/organization/circleci/xxxxx/overview`
        order: 1
        title: Organization ID
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 2
      organizational_slug:
        type: string
        description: Organizational slug
        title: Organizational slug
        order: 3
      project_slug:
        type: string
        description: Project slug for getting information about it
        title: Project slug
        order: 4
    additionalProperties: true

metadata:
  autoImportSchema:
    context: true
    self_ids: true
    self_collaborations: true
    me: true
    projects: true
  testedStreams:
    context:
      streamHash: 2db58db8647b6dbeb05e3040a85515adeba9c208
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    self_ids:
      streamHash: 81183e512a17f46ff1b436e73de0539cbfe6273e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    self_collaborations:
      streamHash: 65dfddfb9cf5a1846147a6925a9e6bfc82b2f8e1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    me:
      streamHash: 8c378e8221bef781f6911329df100ab02e9fd4e7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    projects:
      streamHash: d4be2ef5ee3276dc0ff7240dc8720495ce82a4f1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  context:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type: string
      id:
        type: string
      name:
        type:
          - string
          - "null"
    required:
      - id
      - created_at
  self_ids:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      login:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
    required:
      - id
  self_collaborations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      avatar_url:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      slug:
        type:
          - string
          - "null"
      vcs_type:
        type:
          - string
          - "null"
    required:
      - id
  me:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      admin:
        type:
          - boolean
          - "null"
      all_emails:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      analytics_id:
        type: string
      basic_email_prefs:
        type:
          - string
          - "null"
      bitbucket_authorized:
        type:
          - boolean
          - "null"
      containers:
        type:
          - number
          - "null"
      created_at:
        type: string
      days_left_in_trial:
        type:
          - number
          - "null"
      dev_admin:
        type:
          - boolean
          - "null"
      email_authentication:
        type:
          - object
          - "null"
        properties:
          email_verified:
            type:
              - boolean
              - "null"
          login:
            type:
              - string
              - "null"
      enrolled_betas:
        type:
          - array
          - "null"
      github_oauth_scopes:
        type:
          - array
          - "null"
      identities:
        type:
          - object
          - "null"
      in_beta_program:
        type:
          - boolean
          - "null"
      login:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      num_projects_followed:
        type:
          - number
          - "null"
      organization_prefs:
        type:
          - object
          - "null"
      parallelism:
        type:
          - number
          - "null"
      privacy_optout:
        type:
          - boolean
          - "null"
      projects:
        type:
          - object
          - "null"
        properties:
          //circleci.com/fd70effc-9850-4c06-bfda-2cd8f0aa7e84/1bf14e34-a4d9-4e18-bfdf-20e74b13a7df:
            type:
              - object
              - "null"
            properties:
              emails:
                type:
                  - string
                  - "null"
              on_dashboard:
                type:
                  - boolean
                  - "null"
          //circleci.com/fd70effc-9850-4c06-bfda-2cd8f0aa7e84/ac888fc0-0fe8-4382-a8dc-1850261359ce:
            type:
              - object
              - "null"
            properties:
              emails:
                type:
                  - string
                  - "null"
              on_dashboard:
                type:
                  - boolean
                  - "null"
          //circleci.com/fd70effc-9850-4c06-bfda-2cd8f0aa7e84/cb29099f-feac-4587-8dcc-7c83b44fb0e3:
            type:
              - object
              - "null"
            properties:
              emails:
                type:
                  - string
                  - "null"
              on_dashboard:
                type:
                  - boolean
                  - "null"
      pusher_id:
        type:
          - string
          - "null"
      selected_email:
        type:
          - string
          - "null"
      sign_in_count:
        type:
          - number
          - "null"
      student:
        type:
          - boolean
          - "null"
      trial_end:
        type:
          - string
          - "null"
      web_ui_pipelines_first_opt_in:
        type:
          - boolean
          - "null"
      web_ui_pipelines_optout:
        type:
          - string
          - "null"
    required:
      - analytics_id
      - created_at
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      branches:
        type:
          - object
          - "null"
      default_branch:
        type:
          - string
          - "null"
      following:
        type:
          - boolean
          - "null"
      has_usable_key:
        type:
          - boolean
          - "null"
      oss:
        type:
          - boolean
          - "null"
      reponame:
        type:
          - string
          - "null"
      username:
        type:
          - string
          - "null"
      vcs_type:
        type:
          - string
          - "null"
      vcs_url:
        type: string
    required:
      - vcs_url
