version: 0.78.5

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - organizations

definitions:
  streams:
    organizations:
      type: DeclarativeStream
      name: organizations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v3/organizations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - organizations
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organizations"
    projects:
      type: DeclarativeStream
      name: projects
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v3/organizations/{{ stream_slice.id }}/projects
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - projects
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: body_data
            field_name: page_size
          pagination_strategy:
            type: PageIncrement
            page_size: 32
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: id
                stream:
                  $ref: "#/definitions/streams/organizations"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    k6-tests:
      type: DeclarativeStream
      name: k6-tests
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: loadtests/v2/tests
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - k6-tests
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: body_data
            field_name: page_size
          pagination_strategy:
            type: PageIncrement
            page_size: 32
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/k6-tests"
  base_requester:
    type: HttpRequester
    url_base: https://api.k6.io
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config['api_token'] }}"

streams:
  - $ref: "#/definitions/streams/organizations"
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/k6-tests"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_token
    properties:
      api_token:
        type: string
        title: Api Token
        description: >-
          Your API Token. See <a
          href="https://k6.io/docs/cloud/integrations/token/">here</a>. The key
          is case sensitive.
        airbyte_secret: true
        order: 0
    additionalProperties: true

metadata:
  autoImportSchema:
    organizations: false
    projects: false
    k6-tests: false

schemas:
  organizations:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      billing_address:
        type: string
        description: The billing address of the organization.
      billing_country:
        type: string
        description: The country associated with the billing address of the organization.
      billing_email:
        type: string
        description: The billing email address for the organization.
      created:
        type: string
        description: The timestamp when the organization was created.
      description:
        type: string
        description: A textual description or details about the organization.
      id:
        type: integer
        description: The unique identifier for the organization.
      is_default:
        type: boolean
        description: Indicates if the organization is set as the default organization.
      is_saml_org:
        type: boolean
        description: Flag showing if the organization uses SAML for authentication.
      name:
        type: string
        description: The name of the organization.
      owner_id:
        type: integer
        description: The user ID of the owner or creator of the organization.
      updated:
        type: string
        description: The timestamp when the organization data was last updated.
      vat_number:
        type: string
        description: Value-added tax (VAT) number for the organization.
    additionalProperties: true
  projects:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      created:
        type: string
        description: The timestamp when the project was created
      description:
        type: string
        description: A short description of the project
      id:
        type: integer
        description: The unique identifier for the project
      is_default:
        type: boolean
        description: A flag indicating if the project is the default one
      name:
        type: string
        description: The name of the project
      organization_id:
        type: integer
        description: The unique identifier of the organization the project belongs to
      updated:
        type: string
        description: The timestamp when the project was last updated
    additionalProperties: true
  k6-tests:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      created:
        type: string
        description: Date and time when the k6 test was created.
      id:
        type: integer
        description: Unique identifier for the k6 test.
      last_test_run_id:
        type: string
        description: Identifier for the last test run associated with this k6 test.
      name:
        type: string
        description: Name of the k6 test.
      project_id:
        type: integer
        description: Identifier for the project to which this k6 test belongs.
      script:
        type: string
        description: The script content of the k6 test.
      test_run_ids:
        type: array
        description: List of identifiers for all test runs associated with this k6 test.
      updated:
        type: string
        description: Date and time when the k6 test was last updated.
      user_id:
        type: integer
        description: Identifier of the user who owns this k6 test.
    additionalProperties: true
