version: 6.33.0

type: DeclarativeSource

description: >-
  Omnisend is a marketing automation platform for ecommerce businesses, focusing on email and SMS marketing.

check:
  type: CheckStream
  stream_names:
    - contacts

definitions:
  streams:
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - contactID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /contacts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - contacts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{response['paging']['next']}}"
            stop_condition: "{{response['paging']['next'] == None}}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    campaigns:
      type: DeclarativeStream
      name: campaigns
      primary_key:
        - campaignID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /campaigns
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - campaign
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{response['paging']['next']}}"
            stop_condition: "{{response['paging']['next'] == None}}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns"
    carts:
      type: DeclarativeStream
      name: carts
      primary_key:
        - cartID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /carts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - carts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{response['paging']['next']}}"
            stop_condition: "{{response['paging']['next'] == None}}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/carts"
    orders:
      type: DeclarativeStream
      name: orders
      primary_key:
        - orderID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /orders
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - orders
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{response['paging']['next']}}"
            stop_condition: "{{response['paging']['next'] == None}}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/orders"
    products:
      type: DeclarativeStream
      name: products
      primary_key:
        - productID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /products
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - products
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{response['paging']['next']}}"
            stop_condition: "{{response['paging']['next'] == None}}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
    brand:
      type: DeclarativeStream
      name: brand
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/reporting_requester'
          path: brands/current
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: ListPartitionRouter
          cursor_field: reporting_enabled
          values: '{{ [True] if config.get(''enable_reporting'', False) else [] }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          additionalProperties: true
          properties:
            brandID:
              type:
              - 'null'
              - string
            name:
              type:
              - 'null'
              - string
            website:
              type:
              - 'null'
              - string
            currency:
              type:
              - 'null'
              - string
            timezone:
              type:
              - 'null'
              - string
      primary_key:
      - brandID
    campaigns_v2026:
      type: DeclarativeStream
      name: campaigns_v2026
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/reporting_requester'
          path: campaigns
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - campaigns
        partition_router:
          type: ListPartitionRouter
          cursor_field: reporting_enabled
          values: '{{ [True] if config.get(''enable_reporting'', False) else [] }}'
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            page_size: 250
            cursor_value: '{{ response.get(''paging'', {}).get(''cursors'', {}).get(''after'') }}'
            stop_condition: '{{ not response.get(''paging'', {}).get(''hasMore'', False) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          additionalProperties: true
          properties:
            abTest:
              type:
              - 'null'
              - object
              additionalProperties: true
            audience:
              type:
              - 'null'
              - object
              additionalProperties: true
            boosterSettings:
              type:
              - 'null'
              - object
              additionalProperties: true
            brandID:
              type:
              - 'null'
              - string
            channel:
              type:
              - 'null'
              - string
            content:
              type:
              - 'null'
              - object
              additionalProperties: true
            createdAt:
              type:
              - 'null'
              - string
            endedAt:
              type:
              - 'null'
              - string
            id:
              type: string
            language:
              type:
              - 'null'
              - string
            name:
              type:
              - 'null'
              - string
            sendingSettings:
              type:
              - 'null'
              - object
              additionalProperties: true
            startedAt:
              type:
              - 'null'
              - string
            status:
              type:
              - 'null'
              - string
            type:
              type:
              - 'null'
              - string
            updatedAt:
              type:
              - 'null'
              - string
            url:
              type:
              - 'null'
              - string
      primary_key:
      - id
    automations:
      type: DeclarativeStream
      name: automations
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/reporting_requester'
          path: automations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - automations
        partition_router:
          type: ListPartitionRouter
          cursor_field: reporting_enabled
          values: '{{ [True] if config.get(''enable_reporting'', False) else [] }}'
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            page_size: 250
            cursor_value: '{{ response.get(''paging'', {}).get(''cursors'', {}).get(''after'') }}'
            stop_condition: '{{ not response.get(''paging'', {}).get(''hasMore'', False) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          additionalProperties: true
          properties:
            blocks:
              type:
              - 'null'
              - array
              items:
                type:
                - 'null'
                - object
                additionalProperties: true
            brandID:
              type:
              - 'null'
              - string
            createdAt:
              type:
              - 'null'
              - string
            disabledAt:
              type:
              - 'null'
              - string
            enabledAt:
              type:
              - 'null'
              - string
            exitConditions:
              type:
              - 'null'
              - array
              items:
                type:
                - 'null'
                - object
                additionalProperties: true
            id:
              type: string
            isEnabled:
              type:
              - 'null'
              - boolean
            name:
              type:
              - 'null'
              - string
            settings:
              type:
              - 'null'
              - object
              additionalProperties: true
            trigger:
              type:
              - 'null'
              - object
              additionalProperties: true
            updatedAt:
              type:
              - 'null'
              - string
            url:
              type:
              - 'null'
              - string
      primary_key:
      - id
    forms:
      type: DeclarativeStream
      name: forms
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/reporting_requester'
          path: forms
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - forms
        partition_router:
          type: ListPartitionRouter
          cursor_field: reporting_enabled
          values: '{{ [True] if config.get(''enable_reporting'', False) else [] }}'
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            page_size: 250
            cursor_value: '{{ response.get(''paging'', {}).get(''cursors'', {}).get(''after'') }}'
            stop_condition: '{{ not response.get(''paging'', {}).get(''hasMore'', False) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          additionalProperties: true
          properties:
            abSetupID:
              type:
              - 'null'
              - string
            abStatus:
              type:
              - 'null'
              - string
            autoRedirect:
              type:
              - 'null'
              - object
              additionalProperties: true
            clickOutside:
              type:
              - 'null'
              - object
              additionalProperties: true
            contactTags:
              type:
              - 'null'
              - array
              items:
                type:
                - 'null'
                - string
            content:
              type:
              - 'null'
              - object
              additionalProperties: true
            createdAt:
              type:
              - 'null'
              - string
            disabledAt:
              type:
              - 'null'
              - string
            displayType:
              type:
              - 'null'
              - string
            doubleOptIn:
              type:
              - 'null'
              - object
              additionalProperties: true
            enabledAt:
              type:
              - 'null'
              - string
            id:
              type: string
            launchedAt:
              type:
              - 'null'
              - string
            name:
              type:
              - 'null'
              - string
            recaptcha:
              type:
              - 'null'
              - object
              additionalProperties: true
            socialMediaSharing:
              type:
              - 'null'
              - object
              additionalProperties: true
            status:
              type:
              - 'null'
              - string
            targeting:
              type:
              - 'null'
              - object
              additionalProperties: true
            updatedAt:
              type:
              - 'null'
              - string
      primary_key:
      - id
    segments:
      type: DeclarativeStream
      name: segments
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/reporting_requester'
          path: segments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - segments
        partition_router:
          type: ListPartitionRouter
          cursor_field: reporting_enabled
          values: '{{ [True] if config.get(''enable_reporting'', False) else [] }}'
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: '{{ response.get(''paging'', {}).get(''cursors'', {}).get(''after'') }}'
            stop_condition: '{{ not response.get(''paging'', {}).get(''hasMore'', False) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          additionalProperties: true
          properties:
            archivedAt:
              type:
              - 'null'
              - string
            conditionGroups:
              type:
              - 'null'
              - array
              items:
                type:
                - 'null'
                - object
                additionalProperties: true
            createdAt:
              type:
              - 'null'
              - string
            isStarred:
              type:
              - 'null'
              - boolean
            name:
              type:
              - 'null'
              - string
            segmentID:
              type: string
            status:
              type:
              - 'null'
              - string
            updatedAt:
              type:
              - 'null'
              - string
      primary_key:
      - segmentID
    analytics_reports:
      type: DeclarativeStream
      name: analytics_reports
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/reporting_requester'
          path: analytics/reports
          http_method: POST
          request_body_json:
            queries:
            - alias: activity
              metrics:
              - name: sent
              - name: failed
              - name: markedAsSpamUnique
              - name: unsubscribedUnique
              - name: openedUnique
              - name: opened
              - name: clickedUnique
              - name: clicked
              - name: attributedOrders
              - name: attributedOrdersUnique
              - name: attributedRevenue
              - name: openRate
              - name: clickRate
              - name: failRate
              - name: markedAsSpamRate
              - name: unsubscribeRate
              - name: attributedOrderRate
              - name: attributedRevenuePerOrder
              - name: attributedRevenuePerSent
              dimensions:
              - name: marketingActivityID
              - name: marketingActivityType
              dateRange:
                interval: '{{ stream_partition.period }}'
            - alias: channel
              metrics:
              - name: sent
              - name: failed
              - name: markedAsSpamUnique
              - name: unsubscribedUnique
              - name: openedUnique
              - name: opened
              - name: clickedUnique
              - name: clicked
              - name: attributedOrders
              - name: attributedOrdersUnique
              - name: attributedRevenue
              - name: openRate
              - name: clickRate
              - name: failRate
              - name: markedAsSpamRate
              - name: unsubscribeRate
              - name: attributedOrderRate
              - name: attributedRevenuePerOrder
              - name: attributedRevenuePerSent
              dimensions:
              - name: marketingActivityType
              - name: messageChannel
              dateRange:
                interval: '{{ stream_partition.period }}'
            - alias: automation_message
              metrics:
              - name: sent
              - name: failed
              - name: markedAsSpamUnique
              - name: unsubscribedUnique
              - name: openedUnique
              - name: opened
              - name: clickedUnique
              - name: clicked
              - name: attributedOrders
              - name: attributedOrdersUnique
              - name: attributedRevenue
              - name: openRate
              - name: clickRate
              - name: failRate
              - name: markedAsSpamRate
              - name: unsubscribeRate
              - name: attributedOrderRate
              - name: attributedRevenuePerOrder
              - name: attributedRevenuePerSent
              dimensions:
              - name: marketingActivityID
              - name: messageID
              filters:
              - name: marketingActivityType
                operator: in
                values:
                - Automation
              dateRange:
                interval: '{{ stream_partition.period }}'
            - alias: overview
              metrics:
              - name: sent
              - name: failed
              - name: markedAsSpamUnique
              - name: unsubscribedUnique
              - name: openedUnique
              - name: opened
              - name: clickedUnique
              - name: clicked
              - name: attributedOrders
              - name: attributedOrdersUnique
              - name: attributedRevenue
              - name: openRate
              - name: clickRate
              - name: failRate
              - name: markedAsSpamRate
              - name: unsubscribeRate
              - name: attributedOrderRate
              - name: attributedRevenuePerOrder
              - name: attributedRevenuePerSent
              dimensions: []
              dateRange:
                interval: '{{ stream_partition.period }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - reports
        partition_router:
          type: ListPartitionRouter
          cursor_field: period
          values: '{{ config.get(''reporting_periods'', [''lastMonth'']) if config.get(''enable_reporting'', False) else [] }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          additionalProperties: true
          properties:
            alias:
              type: string
            rows:
              type: array
              items:
                type: object
                additionalProperties: true
            metrics:
              type: array
              items:
                type: object
                additionalProperties: true
            dimensions:
              type: array
              items:
                type: object
                additionalProperties: true
            query_period:
              type: string
            date_basis:
              type: string
            query_window_start:
              type: string
            query_window_end:
              type: string
      transformations:
      - type: AddFields
        fields:
        - type: AddedFieldDefinition
          path:
          - query_period
          value: '{{ stream_partition.period }}'
        - type: AddedFieldDefinition
          path:
          - date_basis
          value: send
    analytics_statistics:
      type: DeclarativeStream
      name: analytics_statistics
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/reporting_requester'
          path: analytics/statistics
          http_method: POST
          request_body_json:
            queries:
            - alias: audience_growth
              metrics:
              - name: subscribedEmail
              - name: unsubscribedEmail
              - name: subscribedSms
              - name: unsubscribedSms
              - name: subscribedPush
              - name: unsubscribedPush
              dimensions:
              - name: timestamp
                granularity: month
              dateRange:
                from: '{{ stream_partition.window[''from''] }}'
                to: '{{ stream_partition.window[''to''] }}'
            - alias: sales
              metrics:
              - name: totalOrders
              - name: totalRevenue
              - name: attributedOrders
              - name: attributedRevenue
              dimensions:
              - name: timestamp
                granularity: month
              dateRange:
                from: '{{ stream_partition.window[''from''] }}'
                to: '{{ stream_partition.window[''to''] }}'
            - alias: delivery_failures
              metrics:
              - name: failed
              dimensions:
              - name: timestamp
                granularity: month
              - name: bounceType
              - name: deliveryFailureReason
              dateRange:
                from: '{{ stream_partition.window[''from''] }}'
                to: '{{ stream_partition.window[''to''] }}'
            - alias: subscription_sources
              metrics:
              - name: subscribedEmail
              - name: subscribedSms
              - name: subscribedPush
              dimensions:
              - name: timestamp
                granularity: month
              - name: subscriptionMethod
              dateRange:
                from: '{{ stream_partition.window[''from''] }}'
                to: '{{ stream_partition.window[''to''] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - statistics
        partition_router:
          type: ListPartitionRouter
          cursor_field: window
          values: '{{ config.get(''statistics_windows'', []) if config.get(''enable_reporting'', False) else [] }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          additionalProperties: true
          properties:
            alias:
              type: string
            rows:
              type: array
              items:
                type: object
                additionalProperties: true
            metrics:
              type: array
              items:
                type: object
                additionalProperties: true
            dimensions:
              type: array
              items:
                type: object
                additionalProperties: true
            query_period:
              type: string
            date_basis:
              type: string
            query_window_start:
              type: string
            query_window_end:
              type: string
      transformations:
      - type: AddFields
        fields:
        - type: AddedFieldDefinition
          path:
          - query_period
          value: '{{ stream_partition.window[''from''] }}'
        - type: AddedFieldDefinition
          path:
          - date_basis
          value: event
        - type: AddedFieldDefinition
          path:
          - query_window_start
          value: '{{ stream_partition.window[''from''] }}'
        - type: AddedFieldDefinition
          path:
          - query_window_end
          value: '{{ stream_partition.window[''to''] }}'
    form_reports:
      type: DeclarativeStream
      name: form_reports
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/reporting_requester'
          path: forms/{{ stream_partition.form_id }}/report/periodic
          http_method: GET
          request_parameters:
            createdAtFrom: '{{ stream_partition.window[''from''] }}'
            createdAtTo: '{{ stream_partition.window[''to''] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: '#/definitions/streams/forms'
            parent_key: id
            partition_field: form_id
        - type: ListPartitionRouter
          cursor_field: window
          values: '{{ config.get(''form_report_windows'', []) if config.get(''enable_reporting'', False) else [] }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          additionalProperties: true
          properties:
            formID:
              type:
              - 'null'
              - string
            form_id:
              type: string
            granularity:
              type:
              - 'null'
              - string
            rows:
              type: array
              items:
                type: object
                additionalProperties: true
            date_basis:
              type: string
            query_window_start:
              type: string
            query_window_end:
              type: string
      transformations:
      - type: AddFields
        fields:
        - type: AddedFieldDefinition
          path:
          - form_id
          value: '{{ stream_partition.form_id }}'
        - type: AddedFieldDefinition
          path:
          - date_basis
          value: form_activity
        - type: AddedFieldDefinition
          path:
          - query_window_start
          value: '{{ stream_partition.window[''from''] }}'
        - type: AddedFieldDefinition
          path:
          - query_window_end
          value: '{{ stream_partition.window[''to''] }}'
    analytics_reports_daily:
      type: DeclarativeStream
      name: analytics_reports_daily
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/reporting_requester'
          path: analytics/reports
          http_method: POST
          request_body_json:
            queries:
            - alias: performance_daily
              metrics:
              - name: sent
              - name: failed
              - name: markedAsSpamUnique
              - name: unsubscribedUnique
              - name: openedUnique
              - name: opened
              - name: clickedUnique
              - name: clicked
              - name: attributedOrders
              - name: attributedOrdersUnique
              - name: attributedRevenue
              - name: openRate
              - name: clickRate
              - name: failRate
              - name: markedAsSpamRate
              - name: unsubscribeRate
              - name: attributedOrderRate
              - name: attributedRevenuePerOrder
              - name: attributedRevenuePerSent
              dimensions:
              - name: timestamp
                granularity: day
              - name: marketingActivityType
              dateRange:
                interval: '{{ stream_partition.period }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - reports
        partition_router:
          type: ListPartitionRouter
          cursor_field: period
          values: '{{ [''lastMonth''] if config.get(''enable_reporting'', False) else [] }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          additionalProperties: true
          properties:
            alias:
              type: string
            rows:
              type: array
              items:
                type: object
                additionalProperties: true
            metrics:
              type: array
              items:
                type: object
                additionalProperties: true
            dimensions:
              type: array
              items:
                type: object
                additionalProperties: true
            query_period:
              type: string
            date_basis:
              type: string
            query_window_start:
              type: string
            query_window_end:
              type: string
      transformations:
      - type: AddFields
        fields:
        - type: AddedFieldDefinition
          path:
          - query_period
          value: '{{ stream_partition.period }}'
        - type: AddedFieldDefinition
          path:
          - date_basis
          value: send
    analytics_statistics_daily:
      type: DeclarativeStream
      name: analytics_statistics_daily
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/reporting_requester'
          path: analytics/statistics
          http_method: POST
          request_body_json:
            queries:
            - alias: audience_growth_hourly
              metrics:
              - name: subscribedEmail
              - name: unsubscribedEmail
              - name: subscribedSms
              - name: unsubscribedSms
              - name: subscribedPush
              - name: unsubscribedPush
              dimensions:
              - name: timestamp
                granularity: hour
              dateRange:
                from: '{{ stream_partition.window[''from''] }}'
                to: '{{ stream_partition.window[''to''] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
            - statistics
        partition_router:
          type: ListPartitionRouter
          cursor_field: window
          values: '{{ config.get(''daily_statistics_windows'', []) if config.get(''enable_reporting'', False) else [] }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          additionalProperties: true
          properties:
            alias:
              type: string
            rows:
              type: array
              items:
                type: object
                additionalProperties: true
            metrics:
              type: array
              items:
                type: object
                additionalProperties: true
            dimensions:
              type: array
              items:
                type: object
                additionalProperties: true
            query_period:
              type: string
            date_basis:
              type: string
            query_window_start:
              type: string
            query_window_end:
              type: string
      transformations:
      - type: AddFields
        fields:
        - type: AddedFieldDefinition
          path:
          - query_period
          value: '{{ stream_partition.window[''from''] }}'
        - type: AddedFieldDefinition
          path:
          - date_basis
          value: event
        - type: AddedFieldDefinition
          path:
          - query_window_start
          value: '{{ stream_partition.window[''from''] }}'
        - type: AddedFieldDefinition
          path:
          - query_window_end
          value: '{{ stream_partition.window[''to''] }}'
  base_requester:
    type: HttpRequester
    url_base: https://api.omnisend.com/v3/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: X-API-KEY
        inject_into: header

  reporting_requester:
    type: HttpRequester
    url_base: https://api.omnisend.com/api/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: Omnisend-API-Key {{ config.get('reporting_api_key') or config['api_key'] }}
      inject_into:
        type: RequestOption
        field_name: Authorization
        inject_into: header
    request_headers:
      Omnisend-Version: '2026-03-15'
      Content-Type: application/json
    error_handler:
      type: DefaultErrorHandler
      max_retries: 3
      backoff_strategies:
      - type: ExponentialBackoffStrategy
        factor: 30
      response_filters:
      - type: HttpResponseFilter
        http_codes: [400, 401, 403, 404, 410, 415, 422]
        action: FAIL
        failure_type: config_error
      - type: HttpResponseFilter
        http_codes:
        - 429
        action: FAIL
        failure_type: transient_error
        error_message: 'Omnisend rate limit reached. No automatic retry is made. Wait for the brand''s sliding-window quota before restarting. retryAfter
          seconds: {{ response.get(''retryAfter'', headers.get(''Retry-After'', ''not supplied'')) }}'

streams:
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/campaigns"
  - $ref: "#/definitions/streams/carts"
  - $ref: "#/definitions/streams/orders"
  - $ref: "#/definitions/streams/products"

  - $ref: "#/definitions/streams/brand"
  - $ref: "#/definitions/streams/campaigns_v2026"
  - $ref: "#/definitions/streams/automations"
  - $ref: "#/definitions/streams/forms"
  - $ref: "#/definitions/streams/segments"
  - $ref: "#/definitions/streams/analytics_reports"
  - $ref: "#/definitions/streams/analytics_statistics"
  - $ref: "#/definitions/streams/form_reports"
  - $ref: "#/definitions/streams/analytics_reports_daily"
  - $ref: "#/definitions/streams/analytics_statistics_daily"

api_budget:
  type: HTTPAPIBudget
  policies:
    - type: MovingWindowCallRatePolicy
      rates:
        - limit: 10
          interval: PT1M
        - limit: 55
          interval: P1D
      matchers:
        - method: POST
          url_base: https://api.omnisend.com
          url_path_pattern: ^/api/analytics/(reports|statistics)$

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: API Key
        order: 0
        title: API Key
        airbyte_secret: true
      enable_reporting:
        type: boolean
        title: Enable reporting API streams
        description: Opt in to the new versioned metadata and reporting streams. Requires the read permissions for the selected streams. Disabled by
          default; the five legacy streams are unaffected.
        default: false
        order: 1
      reporting_api_key:
        type: string
        title: Reporting API key (optional)
        description: Optional key for the new API streams. If omitted or empty, the existing API key is used. Never changes authentication of the five
          legacy streams.
        airbyte_secret: true
        order: 2
      reporting_periods:
        type: array
        title: Send-date reporting periods
        description: Named intervals evaluated in the brand timezone. Each period costs one analytics request. Non-timestamp reports preserve interval
          uniques and rates; daily reporting independently fetches lastMonth.
        items:
          type: string
          enum:
          - lastMonth
          - last7Days
          - last30Days
          - thisYear
          - lastYear
        uniqueItems: true
        default:
        - lastMonth
        order: 3
      statistics_windows:
        type: array
        title: Statistics windows
        description: Event-date monthly-bucket analytics. Inclusive from, exclusive to; same numerical timezone offset at both boundaries. Maximum 12 months
          per window. Empty or omitted means no requests.
        default: []
        items:
          type: object
          required:
          - from
          - to
          properties:
            from:
              type: string
              format: date-time
              pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(?:\.\d+)?(?:Z|[+-]\d{2}:\d{2})$
            to:
              type: string
              format: date-time
              pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(?:\.\d+)?(?:Z|[+-]\d{2}:\d{2})$
          additionalProperties: false
        order: 4
      form_report_windows:
        type: array
        title: Form report windows
        description: Form periodic reports. BOTH from and to are inclusive; buckets use brand timezone. Empty or omitted means no report requests. Granularity
          is chosen by Omnisend from the range.
        default: []
        items:
          type: object
          required:
          - from
          - to
          properties:
            from:
              type: string
              format: date-time
              pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(?:\.\d+)?(?:Z|[+-]\d{2}:\d{2})$
            to:
              type: string
              format: date-time
              pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(?:\.\d+)?(?:Z|[+-]\d{2}:\d{2})$
          additionalProperties: false
        order: 5
      daily_statistics_windows:
        type: array
        title: Daily statistics windows
        description: Hourly event-date audience counts. Supply contiguous UTC windows of at most7days each. Empty or omitted means no requests; no automatic
          local-day aggregation.
        default: []
        items:
          type: object
          required:
          - from
          - to
          properties:
            from:
              type: string
              format: date-time
              pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(?:\.\d+)?(?:Z|\+00:00)$
            to:
              type: string
              format: date-time
              pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(?:\.\d+)?(?:Z|\+00:00)$
          additionalProperties: false
        order: 6
    additionalProperties: true

metadata:
  autoImportSchema:
    contacts: false
    campaigns: false
    carts: false
    orders: false
    products: false
  testedStreams:
    contacts:
      streamHash: 136b637658311d09cfceca024e41c8f768c80181
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    campaigns:
      streamHash: c521f74b61abde3eef94fee0af7f552f1f24bf3b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    carts:
      streamHash: c9737893ea95eaff145f23d36f0b55a90dbb9b90
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    orders:
      streamHash: 5d01bd9b2104c5ec1b1c1947f543f1b9795c87e1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    products:
      streamHash: b6a88ced7a2a4aceb138d15788515b3d1a03b447
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  contacts:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      address:
        type:
          - string
          - "null"
      birthdate:
        type:
          - string
          - "null"
      city:
        type:
          - string
          - "null"
      consents:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            channel:
              type:
                - string
                - "null"
            createdAt:
              type:
                - string
                - "null"
            ip:
              type:
                - string
                - "null"
            source:
              type:
                - string
                - "null"
            userAgent:
              type:
                - string
                - "null"
      contactID:
        type: string
      country:
        type:
          - string
          - "null"
      countryCode:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      customProperties:
        type:
          - object
          - "null"
        additionalProperties:
         true
      email:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      gender:
        type:
          - string
          - "null"
      identifiers:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            channels:
              type:
                - object
                - "null"
              properties:
                email:
                  type:
                    - object
                    - "null"
                  properties:
                    status:
                      type:
                        - string
                        - "null"
                    statusDate:
                      type:
                        - string
                        - "null"
                sms:
                  type:
                    - object
                    - "null"
                  properties:
                    status:
                      type:
                        - string
                        - "null"
                    statusDate:
                      type:
                        - string
                        - "null"
            id:
              type:
                - string
                - "null"
      lastName:
        type:
          - string
          - "null"
      optIns:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            channel:
              type:
                - string
                - "null"
            date:
              type:
                - string
                - "null"
      phone:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      postalCode:
        type:
          - string
          - "null"
      segments:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      state:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      statuses:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            channel:
              type:
                - string
                - "null"
            date:
              type:
                - string
                - "null"
            status:
              type:
                - string
                - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
    required:
      - contactID
    additionalProperties: true
  campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      type:
        type:
          - string
          - "null"
      allContacts:
        type:
          - boolean
          - "null"
      bounced:
        type:
          - number
          - "null"
      byDevices:
        type:
          - object
          - "null"
        properties:
          clicked:
            type:
              - object
              - "null"
            properties:
              desktop:
                type:
                  - number
                  - "null"
              mobile:
                type:
                  - number
                  - "null"
              tablet:
                type:
                  - number
                  - "null"
          opened:
            type:
              - object
              - "null"
            properties:
              desktop:
                type:
                  - number
                  - "null"
              mobile:
                type:
                  - number
                  - "null"
              tablet:
                type:
                  - number
                  - "null"
      campaignID:
        type: string
      clicked:
        type:
          - number
          - "null"
      complained:
        type:
          - number
          - "null"
      createdAt:
        type:
          - string
          - "null"
      endDate:
        type:
          - string
          - "null"
      excludedSegments:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      fromName:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      opened:
        type:
          - number
          - "null"
      segments:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      sent:
        type:
          - number
          - "null"
      startDate:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      subject:
        type:
          - string
          - "null"
      unsubscribed:
        type:
          - number
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - campaignID
    additionalProperties: true
  carts:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      attributionID:
        type:
          - string
          - "null"
      cartID:
        type: string
      cartRecoveryUrl:
        type:
          - string
          - "null"
      cartSum:
        type:
          - number
          - "null"
      contactID:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      products:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            cartProductID:
              type:
                - string
                - "null"
            discount:
              type:
                - number
                - "null"
            imageUrl:
              type:
                - string
                - "null"
            price:
              type:
                - number
                - "null"
            productID:
              type:
                - string
                - "null"
            productUrl:
              type:
                - string
                - "null"
            quantity:
              type:
                - number
                - "null"
            sku:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
            variantID:
              type:
                - string
                - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - cartID
    additionalProperties: true
  orders:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      attributionID:
        type:
          - string
          - "null"
      billingAddress:
        type:
          - object
          - "null"
        properties:
          address:
            type:
              - string
              - "null"
          address2:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
          company:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          countryCode:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          postalCode:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          stateCode:
            type:
              - string
              - "null"
      cancelReason:
        type:
          - string
          - "null"
      canceledDate:
        type:
          - string
          - "null"
      cartID:
        type:
          - string
          - "null"
      contactID:
        type:
          - string
          - "null"
      contactNote:
        type:
          - string
          - "null"
      courierTitle:
        type:
          - string
          - "null"
      courierUrl:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      depersonalized:
        type:
          - boolean
          - "null"
      discountCode:
        type:
          - string
          - "null"
      discountSum:
        type:
          - number
          - "null"
      discountType:
        type:
          - string
          - "null"
      discountValue:
        type:
          - number
          - "null"
      email:
        type:
          - string
          - "null"
      fulfillmentStatus:
        type:
          - string
          - "null"
      orderID:
        type: string
      orderNumber:
        type:
          - number
          - "null"
      orderSum:
        type:
          - number
          - "null"
      orderUrl:
        type:
          - string
          - "null"
      paymentMethod:
        type:
          - string
          - "null"
      paymentStatus:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      products:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            categoryIDs:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            discount:
              type:
                - number
                - "null"
            imageUrl:
              type:
                - string
                - "null"
            price:
              type:
                - number
                - "null"
            productID:
              type:
                - string
                - "null"
            productUrl:
              type:
                - string
                - "null"
            quantity:
              type:
                - number
                - "null"
            sku:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
            variantID:
              type:
                - string
                - "null"
            variantTitle:
              type:
                - string
                - "null"
            vendor:
              type:
                - string
                - "null"
            weight:
              type:
                - number
                - "null"
      shippingAddress:
        type:
          - object
          - "null"
        properties:
          address:
            type:
              - string
              - "null"
          address2:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
          company:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          countryCode:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          postalCode:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          stateCode:
            type:
              - string
              - "null"
      shippingMethod:
        type:
          - string
          - "null"
      shippingSum:
        type:
          - number
          - "null"
      source:
        type:
          - string
          - "null"
      subTotalSum:
        type:
          - number
          - "null"
      subTotalTaxIncluded:
        type:
          - boolean
          - "null"
      taxSum:
        type:
          - number
          - "null"
      trackingCode:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - orderID
    additionalProperties: true
  products:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      categoryIDs:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      createdAt:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      images:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            imageID:
              type:
                - string
                - "null"
            isDefault:
              type:
                - boolean
                - "null"
            url:
              type:
                - string
                - "null"
            variantIDs:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
      productID:
        type: string
      productUrl:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
      variants:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            imageID:
              type:
                - string
                - "null"
            oldPrice:
              type:
                - number
                - "null"
            price:
              type:
                - number
                - "null"
            productUrl:
              type:
                - string
                - "null"
            sku:
              type:
                - string
                - "null"
            status:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
            variantID:
              type:
                - string
                - "null"
      vendor:
        type:
          - string
          - "null"
    required:
      - productID
    additionalProperties: true
