version: 6.33.0

type: DeclarativeSource

description: >-
  Omnisend is a marketing automation platform for ecommerce businesses, focusing on email and SMS marketing.

check:
  type: CheckStream
  stream_names:
    - contacts

definitions:
  streams:
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - contactID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /contacts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - contacts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{response['paging']['next']}}"
            stop_condition: "{{response['paging']['next'] == None}}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    campaigns:
      type: DeclarativeStream
      name: campaigns
      primary_key:
        - campaignID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /campaigns
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - campaign
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{response['paging']['next']}}"
            stop_condition: "{{response['paging']['next'] == None}}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns"
    carts:
      type: DeclarativeStream
      name: carts
      primary_key:
        - cartID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /carts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - carts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{response['paging']['next']}}"
            stop_condition: "{{response['paging']['next'] == None}}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/carts"
    orders:
      type: DeclarativeStream
      name: orders
      primary_key:
        - orderID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /orders
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - orders
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{response['paging']['next']}}"
            stop_condition: "{{response['paging']['next'] == None}}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/orders"
    products:
      type: DeclarativeStream
      name: products
      primary_key:
        - productID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /products
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - products
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{response['paging']['next']}}"
            stop_condition: "{{response['paging']['next'] == None}}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
  base_requester:
    type: HttpRequester
    url_base: https://api.omnisend.com/v3/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: X-API-KEY
        inject_into: header

streams:
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/campaigns"
  - $ref: "#/definitions/streams/carts"
  - $ref: "#/definitions/streams/orders"
  - $ref: "#/definitions/streams/products"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: API Key
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    contacts: false
    campaigns: false
    carts: false
    orders: false
    products: false
  testedStreams:
    contacts:
      streamHash: 136b637658311d09cfceca024e41c8f768c80181
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    campaigns:
      streamHash: c521f74b61abde3eef94fee0af7f552f1f24bf3b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    carts:
      streamHash: c9737893ea95eaff145f23d36f0b55a90dbb9b90
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    orders:
      streamHash: 5d01bd9b2104c5ec1b1c1947f543f1b9795c87e1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    products:
      streamHash: b6a88ced7a2a4aceb138d15788515b3d1a03b447
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  contacts:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      address:
        type:
          - string
          - "null"
      birthdate:
        type:
          - string
          - "null"
      city:
        type:
          - string
          - "null"
      consents:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            channel:
              type:
                - string
                - "null"
            createdAt:
              type:
                - string
                - "null"
            ip:
              type:
                - string
                - "null"
            source:
              type:
                - string
                - "null"
            userAgent:
              type:
                - string
                - "null"
      contactID:
        type: string
      country:
        type:
          - string
          - "null"
      countryCode:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      customProperties:
        type:
          - object
          - "null"
        additionalProperties:
         true
      email:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      gender:
        type:
          - string
          - "null"
      identifiers:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            channels:
              type:
                - object
                - "null"
              properties:
                email:
                  type:
                    - object
                    - "null"
                  properties:
                    status:
                      type:
                        - string
                        - "null"
                    statusDate:
                      type:
                        - string
                        - "null"
                sms:
                  type:
                    - object
                    - "null"
                  properties:
                    status:
                      type:
                        - string
                        - "null"
                    statusDate:
                      type:
                        - string
                        - "null"
            id:
              type:
                - string
                - "null"
      lastName:
        type:
          - string
          - "null"
      optIns:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            channel:
              type:
                - string
                - "null"
            date:
              type:
                - string
                - "null"
      phone:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      postalCode:
        type:
          - string
          - "null"
      segments:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      state:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      statuses:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            channel:
              type:
                - string
                - "null"
            date:
              type:
                - string
                - "null"
            status:
              type:
                - string
                - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
    required:
      - contactID
    additionalProperties: true
  campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      type:
        type:
          - string
          - "null"
      allContacts:
        type:
          - boolean
          - "null"
      bounced:
        type:
          - number
          - "null"
      byDevices:
        type:
          - object
          - "null"
        properties:
          clicked:
            type:
              - object
              - "null"
            properties:
              desktop:
                type:
                  - number
                  - "null"
              mobile:
                type:
                  - number
                  - "null"
              tablet:
                type:
                  - number
                  - "null"
          opened:
            type:
              - object
              - "null"
            properties:
              desktop:
                type:
                  - number
                  - "null"
              mobile:
                type:
                  - number
                  - "null"
              tablet:
                type:
                  - number
                  - "null"
      campaignID:
        type: string
      clicked:
        type:
          - number
          - "null"
      complained:
        type:
          - number
          - "null"
      createdAt:
        type:
          - string
          - "null"
      endDate:
        type:
          - string
          - "null"
      excludedSegments:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      fromName:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      opened:
        type:
          - number
          - "null"
      segments:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      sent:
        type:
          - number
          - "null"
      startDate:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      subject:
        type:
          - string
          - "null"
      unsubscribed:
        type:
          - number
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - campaignID
    additionalProperties: true
  carts:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      attributionID:
        type:
          - string
          - "null"
      cartID:
        type: string
      cartRecoveryUrl:
        type:
          - string
          - "null"
      cartSum:
        type:
          - number
          - "null"
      contactID:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      products:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            cartProductID:
              type:
                - string
                - "null"
            discount:
              type:
                - number
                - "null"
            imageUrl:
              type:
                - string
                - "null"
            price:
              type:
                - number
                - "null"
            productID:
              type:
                - string
                - "null"
            productUrl:
              type:
                - string
                - "null"
            quantity:
              type:
                - number
                - "null"
            sku:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
            variantID:
              type:
                - string
                - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - cartID
    additionalProperties: true
  orders:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      attributionID:
        type:
          - string
          - "null"
      billingAddress:
        type:
          - object
          - "null"
        properties:
          address:
            type:
              - string
              - "null"
          address2:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
          company:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          countryCode:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          postalCode:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          stateCode:
            type:
              - string
              - "null"
      cancelReason:
        type:
          - string
          - "null"
      canceledDate:
        type:
          - string
          - "null"
      cartID:
        type:
          - string
          - "null"
      contactID:
        type:
          - string
          - "null"
      contactNote:
        type:
          - string
          - "null"
      courierTitle:
        type:
          - string
          - "null"
      courierUrl:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      depersonalized:
        type:
          - boolean
          - "null"
      discountCode:
        type:
          - string
          - "null"
      discountSum:
        type:
          - number
          - "null"
      discountType:
        type:
          - string
          - "null"
      discountValue:
        type:
          - number
          - "null"
      email:
        type:
          - string
          - "null"
      fulfillmentStatus:
        type:
          - string
          - "null"
      orderID:
        type: string
      orderNumber:
        type:
          - number
          - "null"
      orderSum:
        type:
          - number
          - "null"
      orderUrl:
        type:
          - string
          - "null"
      paymentMethod:
        type:
          - string
          - "null"
      paymentStatus:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      products:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            categoryIDs:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            discount:
              type:
                - number
                - "null"
            imageUrl:
              type:
                - string
                - "null"
            price:
              type:
                - number
                - "null"
            productID:
              type:
                - string
                - "null"
            productUrl:
              type:
                - string
                - "null"
            quantity:
              type:
                - number
                - "null"
            sku:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
            variantID:
              type:
                - string
                - "null"
            variantTitle:
              type:
                - string
                - "null"
            vendor:
              type:
                - string
                - "null"
            weight:
              type:
                - number
                - "null"
      shippingAddress:
        type:
          - object
          - "null"
        properties:
          address:
            type:
              - string
              - "null"
          address2:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
          company:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          countryCode:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          postalCode:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          stateCode:
            type:
              - string
              - "null"
      shippingMethod:
        type:
          - string
          - "null"
      shippingSum:
        type:
          - number
          - "null"
      source:
        type:
          - string
          - "null"
      subTotalSum:
        type:
          - number
          - "null"
      subTotalTaxIncluded:
        type:
          - boolean
          - "null"
      taxSum:
        type:
          - number
          - "null"
      trackingCode:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - orderID
    additionalProperties: true
  products:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      categoryIDs:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      createdAt:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      images:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            imageID:
              type:
                - string
                - "null"
            isDefault:
              type:
                - boolean
                - "null"
            url:
              type:
                - string
                - "null"
            variantIDs:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
      productID:
        type: string
      productUrl:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
      variants:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            imageID:
              type:
                - string
                - "null"
            oldPrice:
              type:
                - number
                - "null"
            price:
              type:
                - number
                - "null"
            productUrl:
              type:
                - string
                - "null"
            sku:
              type:
                - string
                - "null"
            status:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
            variantID:
              type:
                - string
                - "null"
      vendor:
        type:
          - string
          - "null"
    required:
      - productID
    additionalProperties: true
