@use "scss/colors";
@use "scss/variables" as vars;

$toast-icon-size: 13px;
$toast-icon-container-size: 34px;

@keyframes slide-up-animations {
  0% {
    transform: translate(-50%, -100%);
    bottom: -49px;
  }

  100% {
    transform: translate(-50%, 0);
    bottom: 49px;
  }
}

.toastContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: vars.$spacing-md;
  position: fixed;
  box-sizing: border-box;
  bottom: 49px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 20;
  padding: vars.$spacing-md;
  border-radius: vars.$border-radius-md;
  animation: slide-up-animations 0.25s linear;
}

.iconContainer {
  width: $toast-icon-container-size;
  height: $toast-icon-container-size;
  padding: vars.$border-radius-md;
  border-radius: vars.$border-radius-md;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toastIcon {
  width: $toast-icon-size;
  height: $toast-icon-size;
  background: colors.$white;
  border-radius: 50%;
}

.warning {
  background-color: colors.$yellow-50;
  border: 1px solid colors.$yellow-500;

  .iconContainer {
    background-color: colors.$yellow-500;
  }

  .toastIcon {
    color: colors.$yellow-500;
  }
}

.error {
  background-color: colors.$red-50;
  border: 1px solid colors.$red-300;

  .iconContainer {
    background-color: colors.$red-300;
  }

  .toastIcon {
    color: colors.$red-300;
  }
}

.success {
  background-color: colors.$green-50;
  border: 1px solid colors.$green-200;

  .iconContainer {
    background-color: colors.$green-200;
  }

  .toastIcon {
    color: colors.$green-200;
  }
}

.info {
  background-color: colors.$blue-50;
  border: 1px solid colors.$blue-400;

  .iconContainer {
    background-color: colors.$blue-400;
  }

  .toastIcon {
    color: colors.$blue-400;
  }
}

.text {
  line-height: 17px;
  text-align: center;
}

.closeButton {
  svg {
    font-size: 20px;
    color: colors.$dark-blue-900;
  }
}

.actionButton {
  background-color: colors.$dark-blue-900 !important;
}
