version: 5.10.2

type: DeclarativeSource

description: Connector that pulls from Segment's Public API.

check:
  type: CheckStream
  stream_names:
    - warehouses

definitions:
  streams:
    warehouses:
      type: DeclarativeStream
      name: warehouses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /warehouses
          http_method: GET
          request_parameters:
            pagination.count: "200"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - warehouses
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pagination.cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('data', {}).get('pagination', {}).get('next') }}"
            stop_condition: >-
              {{ response.get('data', {}).get('pagination', {}).get('next') is
              none }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/warehouses"
    sources:
      type: DeclarativeStream
      name: sources
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /sources
          http_method: GET
          request_parameters:
            pagination.count: "200"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - sources
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pagination.cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('data', {}).get('pagination', {}).get('next') }}"
            stop_condition: >-
              {{ response.get('data', {}).get('pagination', {}).get('next') is
              none }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sources"
    destinations:
      type: DeclarativeStream
      name: destinations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /destinations
          http_method: GET
          request_parameters:
            pagination.count: "200"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - destinations
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pagination.cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('data', {}).get('pagination', {}).get('next') }}"
            stop_condition: >-
              {{ response.get('data', {}).get('pagination', {}).get('next') is
              none }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/destinations"
    reverse_etl_models:
      type: DeclarativeStream
      name: reverse_etl_models
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reverse-etl-models
          http_method: GET
          request_parameters:
            pagination.count: "200"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - models
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pagination.cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('data', {}).get('pagination', {}).get('next') }}"
            stop_condition: >-
              {{ response.get('data', {}).get('pagination', {}).get('next') is
              none }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reverse_etl_models"
    catalog_destinations:
      type: DeclarativeStream
      name: catalog_destinations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /catalog/destinations
          http_method: GET
          request_parameters:
            pagination.count: "200"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - destinationsCatalog
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pagination.cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('data', {}).get('pagination', {}).get('next') }}"
            stop_condition: >-
              {{ response.get('data', {}).get('pagination', {}).get('next') is
              none }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/catalog_destinations"
    catalog_sources:
      type: DeclarativeStream
      name: catalog_sources
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /catalog/sources
          http_method: GET
          request_parameters:
            pagination.count: "200"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - sourcesCatalog
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pagination.cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('data', {}).get('pagination', {}).get('next') }}"
            stop_condition: >-
              {{ response.get('data', {}).get('pagination', {}).get('next') is
              none }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/catalog_sources"
    catalog_warehouses:
      type: DeclarativeStream
      name: catalog_warehouses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /catalog/warehouses
          http_method: GET
          request_parameters:
            pagination.count: "200"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - warehousesCatalog
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pagination.cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('data', {}).get('pagination', {}).get('next') }}"
            stop_condition: >-
              {{ response.get('data', {}).get('pagination', {}).get('next') is
              none }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/catalog_warehouses"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
          request_parameters:
            pagination.count: "200"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - users
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pagination.cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('data', {}).get('pagination', {}).get('next') }}"
            stop_condition: >-
              {{ response.get('data', {}).get('pagination', {}).get('next') is
              none }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    labels:
      type: DeclarativeStream
      name: labels
      primary_key:
        - key
        - value
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /labels
          http_method: GET
          request_parameters:
            pagination.count: "200"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - labels
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pagination.cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('data', {}).get('pagination', {}).get('next') }}"
            stop_condition: >-
              {{ response.get('data', {}).get('pagination', {}).get('next') is
              none }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/labels"
    audit_events:
      type: DeclarativeStream
      name: audit_events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /roles
          http_method: GET
          request_parameters:
            pagination.count: "200"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - roles
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pagination.cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('data', {}).get('pagination', {}).get('next') }}"
            stop_condition: >-
              {{ response.get('data', {}).get('pagination', {}).get('next') is
              none }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/audit_events"
    transformations:
      type: DeclarativeStream
      name: transformations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /transformations
          http_method: GET
          request_parameters:
            pagination.count: "200"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - transformations
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pagination.cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('data', {}).get('pagination', {}).get('next') }}"
            stop_condition: >-
              {{ response.get('data', {}).get('pagination', {}).get('next') is
              none }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/transformations"
    spaces:
      type: DeclarativeStream
      name: spaces
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /spaces
          http_method: GET
          request_parameters:
            pagination.count: "200"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - spaces
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pagination.cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('data', {}).get('pagination', {}).get('next') }}"
            stop_condition: >-
              {{ response.get('data', {}).get('pagination', {}).get('next') is
              none }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/spaces"
    usage_api_calls_daily:
      type: DeclarativeStream
      name: usage_api_calls_daily
      primary_key:
        - timestamp
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /usage/api-calls/daily
          http_method: GET
          request_parameters:
            pagination.count: "200"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - dailyWorkspaceAPICallsUsage
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pagination.cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('data', {}).get('pagination', {}).get('next') }}"
            stop_condition: >-
              {{ response.get('data', {}).get('pagination', {}).get('next') is
              none }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: timestamp
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: period
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/usage_api_calls_daily"
    usage_mtu_daily:
      type: DeclarativeStream
      name: usage_mtu_daily
      primary_key:
        - timestamp
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /usage/mtu/daily
          http_method: GET
          request_parameters:
            pagination.count: "200"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - dailyWorkspaceMTUUsage
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pagination.cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('data', {}).get('pagination', {}).get('next') }}"
            stop_condition: >-
              {{ response.get('data', {}).get('pagination', {}).get('next') is
              none }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: timestamp
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: period
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/usage_mtu_daily"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['region'] }}.segmentapis.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_token\"] }}"

streams:
  - $ref: "#/definitions/streams/warehouses"
  - $ref: "#/definitions/streams/sources"
  - $ref: "#/definitions/streams/destinations"
  - $ref: "#/definitions/streams/reverse_etl_models"
  - $ref: "#/definitions/streams/catalog_destinations"
  - $ref: "#/definitions/streams/catalog_sources"
  - $ref: "#/definitions/streams/catalog_warehouses"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/labels"
  - $ref: "#/definitions/streams/audit_events"
  - $ref: "#/definitions/streams/transformations"
  - $ref: "#/definitions/streams/spaces"
  - $ref: "#/definitions/streams/usage_api_calls_daily"
  - $ref: "#/definitions/streams/usage_mtu_daily"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - region
      - api_token
      - start_date
    properties:
      region:
        type: string
        description: The region for the API, e.g., 'api' for US or 'eu1' for EU
        name: region
        title: Region
        default: api
        order: 0
      api_token:
        type: string
        description: API token to use. Generate it in Segment's Workspace settings.
        name: api_token
        title: API Token
        airbyte_secret: true
        order: 1
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    warehouses: true
    sources: true
    destinations: true
    reverse_etl_models: true
    catalog_destinations: true
    catalog_sources: true
    catalog_warehouses: true
    users: true
    labels: true
    audit_events: true
    transformations: true
    spaces: true
    usage_api_calls_daily: true
    usage_mtu_daily: true
  testedStreams:
    warehouses:
      streamHash: 17f0b046014defcd4101c49476865e1085c1b6d7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    sources:
      streamHash: 3bcc4d20f755b3891cb8879a2993f7c35dfa96af
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    destinations:
      streamHash: 29a7c5bce7261d75892a7b226990d50970ec032c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    reverse_etl_models:
      streamHash: d482b4a5daff3cd55986cab8d2df1e204fe2dfd8
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    catalog_destinations:
      streamHash: 5b509798bc082680cf40ed7901c4982812ea9619
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    catalog_sources:
      streamHash: 925ae072360bd15bec85896d339c5dd047d96e45
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    catalog_warehouses:
      streamHash: e15340dbfd7212aa20d1b76f72ee6c335f6dfd51
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: cab27b5c9d6632d6fbc169bf6bcf45c0551c6181
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    labels:
      streamHash: f00385277b3e59318e60d5386b014e65de963a07
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    audit_events:
      streamHash: 68aca0f750d5aad3a880359dc15b5037415a0749
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    transformations:
      streamHash: 20b5b55fb7f69a661217d8ef7df8efb03d698531
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    spaces:
      streamHash: cabfb9d1823950792cb3a525b88f3fc84dc6aaa2
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    usage_api_calls_daily:
      streamHash: af24dfe6b1f3e90d1a1ca842e0a0c81412c3ef62
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    usage_mtu_daily:
      streamHash: 4d693b75c5b506bd2066e4d53ac3873dbaf4739d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://docs.segmentapis.com/tag/Introduction

schemas:
  warehouses:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      metadata:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          logos:
            type:
              - object
              - "null"
            properties:
              alt:
                type:
                  - string
                  - "null"
              default:
                type:
                  - string
                  - "null"
              mark:
                type:
                  - string
                  - "null"
          name:
            type:
              - string
              - "null"
          options:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                required:
                  type:
                    - boolean
                    - "null"
          slug:
            type:
              - string
              - "null"
      enabled:
        type:
          - boolean
          - "null"
      id:
        type: string
      settings:
        type:
          - object
          - "null"
        properties:
          ciphertext:
            type:
              - string
              - "null"
          encrypted:
            type:
              - boolean
              - "null"
          gc-project:
            type:
              - string
              - "null"
          location:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      workspaceId:
        type:
          - string
          - "null"
    required:
      - id
  sources:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      metadata:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          categories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          id:
            type:
              - string
              - "null"
          isCloudEventSource:
            type:
              - boolean
              - "null"
          logos:
            type:
              - object
              - "null"
            properties:
              alt:
                type:
                  - string
                  - "null"
              default:
                type:
                  - string
                  - "null"
              mark:
                type:
                  - string
                  - "null"
          name:
            type:
              - string
              - "null"
          options:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                description:
                  type:
                    - string
                    - "null"
                defaultValue:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                required:
                  type:
                    - boolean
                    - "null"
          partnerOwned:
            type:
              - boolean
              - "null"
          slug:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
      enabled:
        type:
          - boolean
          - "null"
      id:
        type: string
      labels:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            key:
              type:
                - string
                - "null"
            value:
              type:
                - string
                - "null"
      name:
        type:
          - string
          - "null"
      settings:
        type:
          - object
          - "null"
        properties:
          location:
            type:
              - string
              - "null"
          website_url:
            type:
              - string
              - "null"
      slug:
        type:
          - string
          - "null"
      workspaceId:
        type:
          - string
          - "null"
      writeKeys:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
    required:
      - id
  destinations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      metadata:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          actions:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                description:
                  type:
                    - string
                    - "null"
                defaultTrigger:
                  type:
                    - string
                    - "null"
                fields:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      description:
                        type:
                          - string
                          - "null"
                      allowNull:
                        type:
                          - boolean
                          - "null"
                      choices:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - object
                            - "null"
                          properties:
                            label:
                              type:
                                - string
                                - "null"
                            value:
                              type:
                                - boolean
                                - string
                                - "null"
                      defaultValue:
                        anyOf:
                          - type:
                              - boolean
                              - number
                              - string
                          - type: object
                            properties:
                              "@arrayPath":
                                type: array
                                items:
                                  anyOf:
                                    - type: string
                                    - type: object
                                      properties:
                                        affiliation:
                                          type: object
                                          properties:
                                            "@path":
                                              type: string
                                        coupon:
                                          type: object
                                          properties:
                                            "@path":
                                              type: string
                                        index:
                                          type: object
                                          properties:
                                            "@path":
                                              type: string
                                        item_brand:
                                          type: object
                                          properties:
                                            "@path":
                                              type: string
                                        item_category:
                                          type: object
                                          properties:
                                            "@path":
                                              type: string
                                        item_id:
                                          type: object
                                          properties:
                                            "@path":
                                              type: string
                                        item_name:
                                          type: object
                                          properties:
                                            "@path":
                                              type: string
                                        item_variant:
                                          type: object
                                          properties:
                                            "@path":
                                              type: string
                                        price:
                                          type: object
                                          properties:
                                            "@path":
                                              type: string
                                        quantity:
                                          type: object
                                          properties:
                                            "@path":
                                              type: string
                              "@if":
                                type: object
                                properties:
                                  else:
                                    type: object
                                    properties:
                                      "@path":
                                        type: string
                                  exists:
                                    type: object
                                    properties:
                                      "@path":
                                        type: string
                                  then:
                                    type: object
                                    properties:
                                      "@path":
                                        type: string
                              "@path":
                                type: string
                      dynamic:
                        type:
                          - boolean
                          - "null"
                      fieldKey:
                        type:
                          - string
                          - "null"
                      hidden:
                        type:
                          - boolean
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      label:
                        type:
                          - string
                          - "null"
                      multiple:
                        type:
                          - boolean
                          - "null"
                      placeholder:
                        type:
                          - string
                          - "null"
                      required:
                        type:
                          - boolean
                          - "null"
                      sortOrder:
                        type:
                          - number
                          - "null"
                hidden:
                  type:
                    - boolean
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                platform:
                  type:
                    - string
                    - "null"
                slug:
                  type:
                    - string
                    - "null"
          categories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          components:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                code:
                  type:
                    - string
                    - "null"
                owner:
                  type:
                    - string
                    - "null"
          contacts:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                email:
                  type:
                    - string
                    - "null"
                isPrimary:
                  type:
                    - boolean
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                role:
                  type:
                    - string
                    - "null"
          id:
            type:
              - string
              - "null"
          logos:
            type:
              - object
              - "null"
            properties:
              default:
                type:
                  - string
                  - "null"
              mark:
                type:
                  - string
                  - "null"
          name:
            type:
              - string
              - "null"
          options:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                description:
                  type:
                    - string
                    - "null"
                defaultValue:
                  type:
                    - array
                    - boolean
                    - number
                    - object
                    - string
                    - "null"
                label:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                required:
                  type:
                    - boolean
                    - "null"
          partnerOwned:
            type:
              - boolean
              - "null"
          presets:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                actionId:
                  type:
                    - string
                    - "null"
                fields:
                  type:
                    - object
                    - "null"
                  properties:
                    send_page_view:
                      type:
                        - boolean
                        - "null"
                name:
                  type:
                    - string
                    - "null"
                trigger:
                  type:
                    - string
                    - "null"
          previousNames:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          regionEndpoints:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          slug:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          supportedFeatures:
            type:
              - object
              - "null"
            properties:
              browserUnbundling:
                type:
                  - boolean
                  - "null"
              browserUnbundlingPublic:
                type:
                  - boolean
                  - "null"
              cloudModeInstances:
                type:
                  - string
                  - "null"
              deviceModeInstances:
                type:
                  - string
                  - "null"
              replay:
                type:
                  - boolean
                  - "null"
          supportedMethods:
            type:
              - object
              - "null"
            properties:
              alias:
                type:
                  - boolean
                  - "null"
              group:
                type:
                  - boolean
                  - "null"
              identify:
                type:
                  - boolean
                  - "null"
              pageview:
                type:
                  - boolean
                  - "null"
              track:
                type:
                  - boolean
                  - "null"
          supportedPlatforms:
            type:
              - object
              - "null"
            properties:
              browser:
                type:
                  - boolean
                  - "null"
              cloudAppObject:
                type:
                  - boolean
                  - "null"
              mobile:
                type:
                  - boolean
                  - "null"
              server:
                type:
                  - boolean
                  - "null"
              warehouse:
                type:
                  - boolean
                  - "null"
          supportedRegions:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          website:
            type:
              - string
              - "null"
      enabled:
        type:
          - boolean
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      settings:
        type:
          - object
          - "null"
        properties:
          account:
            type:
              - string
              - "null"
          accountId:
            type:
              - string
              - "null"
          activator:
            type:
              - string
              - "null"
          allowAdPersonalizationSignals:
            type:
              - boolean
              - "null"
          allowGoogleSignals:
            type:
              - boolean
              - "null"
          anonymizeIp:
            type:
              - boolean
              - "null"
          apiBase:
            type:
              - string
              - "null"
          apiKey:
            type:
              - string
              - "null"
          appId:
            type:
              - string
              - "null"
          automaticConfiguration:
            type:
              - boolean
              - "null"
          blacklistPiiProperties:
            type:
              - array
              - "null"
          classic:
            type:
              - boolean
              - "null"
          clickConversions:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                accountId:
                  type:
                    - string
                    - "null"
                event:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
          collectContext:
            type:
              - boolean
              - "null"
          contentGroupings:
            type:
              - object
              - "null"
          contentTypes:
            type:
              - object
              - "null"
          conversionLinker:
            type:
              - boolean
              - "null"
          cookieDomain:
            type:
              - string
              - "null"
          cookieExpirationInSeconds:
            type:
              - number
              - "null"
          cookieFlags:
            type:
              - string
              - "null"
          cookiePath:
            type:
              - string
              - "null"
          cookiePrefix:
            type:
              - string
              - "null"
          cookieUpdate:
            type:
              - boolean
              - "null"
          defaultAdsStorageConsentState:
            type:
              - string
              - "null"
          defaultAnalyticsStorageConsentState:
            type:
              - string
              - "null"
          defaultPageConversion:
            type:
              - string
              - "null"
          dimensions:
            type:
              - object
              - "null"
          disableAdPersonalization:
            type:
              - boolean
              - "null"
          domain:
            type:
              - string
              - "null"
          doubleClick:
            type:
              - boolean
              - "null"
          enableConsentMode:
            type:
              - boolean
              - "null"
          enableServerIdentify:
            type:
              - boolean
              - "null"
          enhancedEcommerce:
            type:
              - boolean
              - "null"
          enhancedLinkAttribution:
            type:
              - boolean
              - "null"
          floodlightAccountId:
            type:
              - string
              - "null"
          identifyCategory:
            type:
              - string
              - "null"
          identifyEventName:
            type:
              - string
              - "null"
          ignoredReferrers:
            type:
              - array
              - "null"
          includeSearch:
            type:
              - boolean
              - "null"
          initWithExistingTraits:
            type:
              - boolean
              - "null"
          isBulkAPIEnabled:
            type:
              - boolean
              - "null"
          keyForExternalId:
            type:
              - string
              - "null"
          legacyEvents:
            type:
              - object
              - "null"
          limitedDataUse:
            type:
              - boolean
              - "null"
          measurementID:
            type:
              - string
              - "null"
          metrics:
            type:
              - object
              - "null"
          mobileApiKey:
            type:
              - string
              - "null"
          mobileTrackingId:
            type:
              - string
              - "null"
          nameTracker:
            type:
              - boolean
              - "null"
          nonInteraction:
            type:
              - boolean
              - "null"
          oauth:
            type:
              - object
              - "null"
            properties:
              access-token:
                type:
                  - string
                  - "null"
              appId:
                type:
                  - string
                  - "null"
              appName:
                type:
                  - string
                  - "null"
              createdAt:
                type:
                  - string
                  - "null"
              createdBy:
                type:
                  - string
                  - "null"
              displayName:
                type:
                  - string
                  - "null"
          optimize:
            type:
              - string
              - "null"
          pageLoadConversions:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                accountId:
                  type:
                    - string
                    - "null"
                event:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
          pageView:
            type:
              - boolean
              - "null"
          partnerId:
            type:
              - string
              - "null"
          pixelId:
            type:
              - string
              - "null"
          preferAnonymousId:
            type:
              - boolean
              - "null"
          protocolMappings:
            type:
              - object
              - "null"
          reportUncaughtExceptions:
            type:
              - boolean
              - "null"
          resetCustomDimensionsOnPage:
            type:
              - array
              - "null"
          richLinkProperties:
            type:
              - array
              - "null"
          sampleRate:
            type:
              - number
              - "null"
          secretKey:
            type:
              - string
              - "null"
          sendPageView:
            type:
              - boolean
              - "null"
          sendUserId:
            type:
              - boolean
              - "null"
          serversideClassic:
            type:
              - boolean
              - "null"
          serversideTrackingId:
            type:
              - string
              - "null"
          setAllMappedProps:
            type:
              - boolean
              - "null"
          siteSpeedSampleRate:
            type:
              - number
              - "null"
          standardEvents:
            type:
              - object
              - "null"
            properties:
              Book Bookkeeping Call Completed:
                type:
                  - string
                  - "null"
              Book a Demo CTA Click:
                type:
                  - string
                  - "null"
              Book accountant call CTA Click:
                type:
                  - string
                  - "null"
              Booked Demo:
                type:
                  - string
                  - "null"
              Calendly Appointment Booked:
                type:
                  - string
                  - "null"
              LTD:FREE:Registration:Completed:
                type:
                  - string
                  - "null"
              LTD:PRO:Registration:Completed:
                type:
                  - string
                  - "null"
              LTD:Sub Created:PRO:
                type:
                  - string
                  - "null"
              LTD:Sub Created:UNLIMITED:
                type:
                  - string
                  - "null"
              LTD:Sub Created:YEARLY:PRO:
                type:
                  - string
                  - "null"
              LTD:Sub Created:YEARLY:UNLIMITED:
                type:
                  - string
                  - "null"
              LTD:UNLIMITED:Registration:Completed:
                type:
                  - string
                  - "null"
              LTD:YEARLY:PRO:Registration:Completed:
                type:
                  - string
                  - "null"
              LTD:YEARLY:UNLIMITED:Registration:Completed:
                type:
                  - string
                  - "null"
              Main CTA Click:
                type:
                  - string
                  - "null"
              Registration Started:
                type:
                  - string
                  - "null"
              SA Webinar Tracking:
                type:
                  - string
                  - "null"
              ST:FREE:Registration:Completed:
                type:
                  - string
                  - "null"
              ST:PRO:Registration:Completed:
                type:
                  - string
                  - "null"
              ST:Sub Created:PRO:
                type:
                  - string
                  - "null"
              ST:Sub Created:UNLIMITED:
                type:
                  - string
                  - "null"
              ST:Sub Created:YEARLY:PRO:
                type:
                  - string
                  - "null"
              ST:Sub Created:YEARLY:UNLIMITED:
                type:
                  - string
                  - "null"
              ST:UNLIMITED:Registration:Completed:
                type:
                  - string
                  - "null"
              ST:YEARLY:PRO:Registration:Completed:
                type:
                  - string
                  - "null"
              ST:YEARLY:UNLIMITED:Registration:Completed:
                type:
                  - string
                  - "null"
          standardEventsCustomProperties:
            type:
              - array
              - "null"
          tagId:
            type:
              - string
              - "null"
          topLevelContextMapping:
            type:
              - boolean
              - "null"
          trackCategorizedPages:
            type:
              - boolean
              - "null"
          trackNamedPages:
            type:
              - boolean
              - "null"
          trackingId:
            type:
              - string
              - "null"
          typeOverride:
            type:
              - boolean
              - "null"
          useGoogleAmpClientId:
            type:
              - boolean
              - "null"
          userDeletion:
            type:
              - string
              - "null"
          userIdAsExternalId:
            type:
              - boolean
              - "null"
          valueIdentifier:
            type:
              - string
              - "null"
          waitTimeToUpdateConsentStage:
            type:
              - number
              - "null"
          whitelistPiiProperties:
            type:
              - array
              - "null"
      sourceId:
        type:
          - string
          - "null"
    required:
      - id
  reverse_etl_models:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      enabled:
        type:
          - boolean
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      query:
        type:
          - string
          - "null"
      queryIdentifierColumn:
        type:
          - string
          - "null"
      scheduleConfig:
        type:
          - object
          - "null"
        properties:
          days:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          hours:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          interval:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
              - "null"
      scheduleStrategy:
        type:
          - string
          - "null"
      sourceId:
        type:
          - string
          - "null"
    required:
      - id
  catalog_destinations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      actions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            defaultTrigger:
              type:
                - string
                - "null"
            fields:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  description:
                    type:
                      - string
                      - "null"
                  allowNull:
                    type:
                      - boolean
                      - "null"
                  choices:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        label:
                          type:
                            - string
                            - "null"
                        value:
                          type:
                            - boolean
                            - number
                            - string
                            - "null"
                  defaultValue:
                    anyOf:
                      - type:
                          - boolean
                          - "null"
                          - number
                          - string
                      - type: object
                        properties:
                          type:
                            anyOf:
                              - type: string
                              - type: object
                                properties:
                                  "@path":
                                    type: string
                          "1":
                            type: object
                            properties:
                              "@path":
                                type: string
                          "2":
                            type: object
                            properties:
                              "@path":
                                type: string
                          "3":
                            type: object
                            properties:
                              "@path":
                                type: string
                          "@arrayPath":
                            type: array
                            items:
                              anyOf:
                                - type: string
                                - type: object
                                  properties:
                                    type:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    description:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    address1:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    address2:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    affiliation:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    allocation_method:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    amount:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    attribute:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    brand:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    campaign:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    categories:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    category:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    city:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    code:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    collection:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    company_id:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    consent_collected_from:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    consent_updated_at:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    content:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    country:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    country_code:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    coupon:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    created_at:
                                      type: object
                                      properties:
                                        "@if":
                                          type: object
                                          properties:
                                            else:
                                              type: object
                                              properties:
                                                "@path":
                                                  type: string
                                            exists:
                                              type: object
                                              properties:
                                                "@path":
                                                  type: string
                                            then:
                                              type: object
                                              properties:
                                                "@path":
                                                  type: string
                                    currency:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    device:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    discount:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    discountTitle:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    discountValue:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    first_name:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    id:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    imageSrc:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    imageUrl:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    image_url:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    index:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    industry:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    integrationId:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    itemPrice:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    item_brand:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    item_category:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    item_id:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    item_name:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    item_price:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    item_variant:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    key:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    last_name:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    manufacturerNname:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    medium:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    monthly_spend:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    name:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    namespace:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    opt_in_level:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    os:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    phone:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    plan:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    position:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    price:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    priceAmount:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    productID:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    productId:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    product_category:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    product_id:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    product_image_url:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    product_name:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    product_price:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    product_quantity:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    properties:
                                      type: object
                                      properties:
                                        coupon:
                                          type: object
                                          properties:
                                            "@path":
                                              type: string
                                        variant:
                                          type: object
                                          properties:
                                            "@path":
                                              type: string
                                    province:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    province_code:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    qty:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    quantity:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    queryID:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    revenue:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    revenueType:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    seller_id:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    size:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    sku:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    source:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    state:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    tagName:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    tags:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    target_selection:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    target_type:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    taxes:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    taxonomy:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    term:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    title:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    unitPrice:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    unit_price:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    unit_sale_price:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    untranslatedTitle:
                                      type: object
                                      properties:
                                        "@if":
                                          type: object
                                          properties:
                                            else:
                                              type: object
                                              properties:
                                                "@path":
                                                  type: string
                                            exists:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  "@path":
                                                    type: string
                                            then:
                                              type: object
                                              properties:
                                                "@path":
                                                  type: string
                                        "@path":
                                          type: string
                                    url:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    userAgent:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    value:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    value_type:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    variant:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    variantId:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    variant_id:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    vendor:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    website:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    weight:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                                    zip:
                                      type: object
                                      properties:
                                        "@path":
                                          type: string
                          "@if":
                            type: object
                            properties:
                              else:
                                anyOf:
                                  - type:
                                      - boolean
                                      - string
                                  - type: object
                                    properties:
                                      "@path":
                                        type: string
                                      "@template":
                                        type: string
                              exists:
                                type: object
                                properties:
                                  "@path":
                                    type: string
                              then:
                                type: object
                                properties:
                                  "@path":
                                    type: string
                          "@path":
                            type: string
                          "@template":
                            type: string
                          accept_language:
                            type: object
                            properties:
                              "@path":
                                type: string
                          accepts_marketing:
                            type: object
                            properties:
                              "@path":
                                type: string
                          accepts_marketing_updated_at:
                            type: object
                            properties:
                              "@path":
                                type: string
                          account_creation:
                            type: object
                            properties:
                              "@path":
                                type: string
                          address:
                            type: object
                            properties:
                              "@if":
                                type: object
                                properties:
                                  else:
                                    type: object
                                    properties:
                                      "@path":
                                        type: string
                                  exists:
                                    type: object
                                    properties:
                                      "@path":
                                        type: string
                                  then:
                                    type: object
                                    properties:
                                      "@path":
                                        type: string
                              "@path":
                                type: string
                          address1:
                            type: object
                            properties:
                              "@path":
                                type: string
                          address2:
                            type: object
                            properties:
                              "@path":
                                type: string
                          address_lines:
                            type: object
                            properties:
                              "@if":
                                type: object
                                properties:
                                  else:
                                    type: object
                                    properties:
                                      "@path":
                                        type: string
                                  exists:
                                    type: object
                                    properties:
                                      "@path":
                                        type: string
                                  then:
                                    type: object
                                    properties:
                                      "@path":
                                        type: string
                          advertising_id:
                            type: object
                            properties:
                              "@path":
                                type: string
                          affiliation:
                            type: object
                            properties:
                              "@path":
                                type: string
                          age:
                            type: object
                            properties:
                              "@if":
                                type: object
                                properties:
                                  else:
                                    type: object
                                    properties:
                                      "@path":
                                        type: string
                                  exists:
                                    type: object
                                    properties:
                                      "@path":
                                        type: string
                                  then:
                                    type: object
                                    properties:
                                      "@path":
                                        type: string
                              "@path":
                                type: string
                          altitude:
                            type: object
                            properties:
                              "@path":
                                type: string
                          amount:
                            type: object
                            properties:
                              "@path":
                                type: string
                          anonymousId:
                            type: object
                            properties:
                              "@path":
                                type: string
                          app_version:
                            type: object
                            properties:
                              "@path":
                                type: string
                          application_tracking_enabled:
                            type: object
                            properties:
                              "@path":
                                type: string
                          architecture:
                            type: object
                            properties:
                              "@path":
                                type: string
                          avatar:
                            type: object
                            properties:
                              "@path":
                                type: string
                          birthdate:
                            type: object
                            properties:
                              "@path":
                                type: string
                          birthday:
                            type: object
                            properties:
                              "@if":
                                type: object
                                properties:
                                  else:
                                    type: object
                                    properties:
                                      "@path":
                                        type: string
                                  exists:
                                    type: object
                                    properties:
                                      "@path":
                                        type: string
                                  then:
                                    type: object
                                    properties:
                                      "@path":
                                        type: string
                          bitness:
                            type: object
                            properties:
                              "@path":
                                type: string
                          brand:
                            type: object
                            properties:
                              "@path":
                                type: string
                          browser:
                            type: object
                            properties:
                              "@path":
                                type: string
                          browser_height:
                            type: object
                            properties:
                              "@path":
                                type: string
                          browser_ip:
                            type: object
                            properties:
                              "@path":
                                type: string
                          browser_width:
                            type: object
                            properties:
                              "@path":
                                type: string
                          carrier:
                            type: object
                            properties:
                              "@path":
                                type: string
                          city:
                            type: object
                            properties:
                              "@if":
                                type: object
                                properties:
                                  else:
                                    type: object
                                    properties:
                                      "@path":
                                        type: string
                                  exists:
                                    type: object
                                    properties:
                                      "@path":
                                        type: string
                                  then:
                                    type: object
                                    properties:
                                      "@path":
                                        type: string
                              "@path":
                                type: string
                          click_tracking_opted_in:
                            type: object
                            properties:
                              "@path":
                                type: string
                          click_tracking_opted_out:
                            type: object
                            properties:
                              "@path":
                                type: string
                          clientId:
                            type: object
                            properties:
                              "@path":
                                type: string
                          client_ip_address:
                            type: object
                            properties:
                              "@path":
                                type: string
                          client_user_agent:
                            type: object
                            properties:
                              "@path":
                                type: string
                          code:
                            type: object
                            properties:
                              "@path":
                                type: string
                          commercial_opted_in:
                            type: object
                            properties:
                              "@path":
                                type: string
                          commercial_opted_out:
                            type: object
                            properties:
                              "@path":
                                type: string
                          company:
                            type: object
                            properties:
                              "@path":
                                type: string
                          company_id:
                            type: object
                            properties:
                              "@path":
                                type: string
                          contactKey:
[...]
