version: 4.3.2
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
  - boards
definitions:
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: []
  boards_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: []
    record_filter:
      condition: "{{ record.id in config.board_ids or not config.board_ids }}"
  requester:
    type: HttpRequester
    url_base: https://api.trello.com/1/
    http_method: GET
    request_headers: {}
    authenticator:
      type: ApiKeyAuthenticator
      api_token: 'OAuth oauth_consumer_key="{{ config[''key''] }}", oauth_token="{{
        config[''token''] }}"'
      inject_into:
        type: RequestOption
        field_name: Authorization
        inject_into: header
    error_handler:
      type: CompositeErrorHandler
      error_handlers:
      - type: DefaultErrorHandler
        backoff_strategies:
        - type: ConstantBackoffStrategy
          backoff_time_in_seconds: 10
    request_body_json: {}
  paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: before
    page_size_option:
      type: RequestOption
      field_name: limit
      inject_into: request_parameter
    pagination_strategy:
      type: CursorPagination
      page_size: 500
      cursor_value: "{{ last_record['id'] }}"
      stop_condition: "{{ last_page_size == 0 }}"
  board_id_partition_router:
  - type: CustomPartitionRouter
    class_name: source_declarative_manifest.components.OrderIdsPartitionRouter
    parent_stream_configs:
    - type: ParentStreamConfig
      parent_key: id
      partition_field: id
      stream:
        type: DeclarativeStream
        name: boards
        primary_key: id
        retriever:
          type: SimpleRetriever
          requester:
            type: HttpRequester
            url_base: https://api.trello.com/1/
            http_method: GET
            request_headers: {}
            authenticator:
              type: ApiKeyAuthenticator
              api_token: 'OAuth oauth_consumer_key="{{ config[''key''] }}", oauth_token="{{
                config[''token''] }}"'
              inject_into:
                type: RequestOption
                field_name: Authorization
                inject_into: header
            error_handler:
              type: CompositeErrorHandler
              error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                - type: ConstantBackoffStrategy
                  backoff_time_in_seconds: 10
            request_body_json: {}
            path: members/me/boards
            request_parameters:
              since: "{{ config['start_date'] }}"
          record_selector:
            type: RecordSelector
            extractor:
              type: DpathExtractor
              field_path: []
            record_filter:
              condition: "{{ record.id in config.board_ids or not config.board_ids
                }}"
        schema_loader:
          type: InlineSchemaLoader
          schema:
            type:
            - 'null'
            - object
            properties:
              name:
                type:
                - 'null'
                - string
              desc:
                type:
                - 'null'
                - string
              descData:
                type:
                - 'null'
                - string
              closed:
                type:
                - 'null'
                - boolean
              idOrganization:
                type:
                - 'null'
                - string
              idEnterprise:
                type:
                - 'null'
                - string
              limits:
                type:
                - 'null'
                - object
                properties:
                  attachments:
                    type:
                    - 'null'
                    - object
                    properties:
                      perBoard:
                        type:
                        - 'null'
                        - object
                        properties:
                          status:
                            type:
                            - 'null'
                            - string
                          disableAt:
                            type:
                            - 'null'
                            - integer
                          warnAt:
                            type:
                            - 'null'
                            - integer
              pinned:
                type:
                - 'null'
                - boolean
              shortLink:
                type:
                - 'null'
                - string
              dateLastActivity:
                type:
                - 'null'
                - string
                format: date-time
              datePluginDisable:
                type:
                - 'null'
                - string
                format: date-time
              creationMethod:
                type:
                - 'null'
                - string
              ixUpdate:
                type:
                - 'null'
                - string
              enterpriseOwned:
                type:
                - 'null'
                - boolean
              idBoardSource:
                type:
                - 'null'
                - string
              id:
                type: string
              starred:
                type:
                - 'null'
                - boolean
              url:
                type:
                - 'null'
                - string
              powerUps:
                type:
                - 'null'
                - array
                items:
                  type:
                  - 'null'
                  - string
              premiumFeatures:
                type:
                - 'null'
                - array
                items:
                  type:
                  - 'null'
                  - string
              idTags:
                type:
                - 'null'
                - array
                items:
                  type:
                  - 'null'
                  - string
              prefs:
                type:
                - 'null'
                - object
                properties:
                  permissionLevel:
                    type:
                    - 'null'
                    - string
                  hideVotes:
                    type:
                    - 'null'
                    - boolean
                  voting:
                    type:
                    - 'null'
                    - string
                  comments:
                    type:
                    - 'null'
                    - string
                  invitations:
                    type:
                    - 'null'
                    - string
                  selfJoin:
                    type:
                    - 'null'
                    - boolean
                  cardCovers:
                    type:
                    - 'null'
                    - boolean
                  isTemplate:
                    type:
                    - 'null'
                    - boolean
                  cardAging:
                    type:
                    - 'null'
                    - string
                  calendarFeedEnabled:
                    type:
                    - 'null'
                    - boolean
                  background:
                    type:
                    - 'null'
                    - string
                  backgroundImage:
                    type:
                    - 'null'
                    - string
                  backgroundImageScaled:
                    type:
                    - 'null'
                    - array
                    items:
                      type:
                      - 'null'
                      - object
                      properties:
                        width:
                          type:
                          - 'null'
                          - integer
                        height:
                          type:
                          - 'null'
                          - integer
                        url:
                          type:
                          - 'null'
                          - string
                  backgroundTile:
                    type:
                    - 'null'
                    - boolean
                  backgroundBrightness:
                    type:
                    - 'null'
                    - string
                  backgroundBottomColor:
                    type:
                    - 'null'
                    - string
                  backgroundTopColor:
                    type:
                    - 'null'
                    - string
                  canBePublic:
                    type:
                    - 'null'
                    - boolean
                  canBeEnterprise:
                    type:
                    - 'null'
                    - boolean
                  canBeOrg:
                    type:
                    - 'null'
                    - boolean
                  canBePrivate:
                    type:
                    - 'null'
                    - boolean
                  canInvite:
                    type:
                    - 'null'
                    - boolean
              subscribed:
                type:
                - 'null'
                - boolean
              labelNames:
                type:
                - 'null'
                - object
                properties:
                  green:
                    type:
                    - 'null'
                    - string
                  yellow:
                    type:
                    - 'null'
                    - string
                  orange:
                    type:
                    - 'null'
                    - string
                  red:
                    type:
                    - 'null'
                    - string
                  purple:
                    type:
                    - 'null'
                    - string
                  blue:
                    type:
                    - 'null'
                    - string
                  sky:
                    type:
                    - 'null'
                    - string
                  lime:
                    type:
                    - 'null'
                    - string
                  pink:
                    type:
                    - 'null'
                    - string
                  black:
                    type:
                    - 'null'
                    - string
              dateLastView:
                type:
                - 'null'
                - string
                format: date-time
              shortUrl:
                type:
                - 'null'
                - string
              templateGallery:
                type:
                - 'null'
                - string
              memberships:
                type:
                - 'null'
                - array
                items:
                  type:
                  - 'null'
                  - object
                  properties:
                    id:
                      type:
                      - 'null'
                      - string
                    idMember:
                      type:
                      - 'null'
                      - string
                    memberType:
                      type:
                      - 'null'
                      - string
                    unconfirmed:
                      type:
                      - 'null'
                      - boolean
                    deactivated:
                      type:
                      - 'null'
                      - boolean
    - type: ParentStreamConfig
      parent_key: idBoards
      partition_field: id
      stream:
        type: DeclarativeStream
        name: organizations
        primary_key: id
        retriever:
          type: SimpleRetriever
          requester:
            type: HttpRequester
            url_base: https://api.trello.com/1/
            http_method: GET
            request_headers: {}
            authenticator:
              type: ApiKeyAuthenticator
              api_token: 'OAuth oauth_consumer_key="{{ config[''key''] }}", oauth_token="{{
                config[''token''] }}"'
              inject_into:
                type: RequestOption
                field_name: Authorization
                inject_into: header
            error_handler:
              type: CompositeErrorHandler
              error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                - type: ConstantBackoffStrategy
                  backoff_time_in_seconds: 10
            request_body_json: {}
            path: members/me/organizations
            request_parameters:
              since: "{{ config['start_date'] }}"
          record_selector:
            type: RecordSelector
            extractor:
              type: DpathExtractor
              field_path: []
        schema_loader:
          type: InlineSchemaLoader
          schema:
            $schema: https://json-schema.org/draft-07/schema#
            type: object
            properties:
              id:
                type:
                - 'null'
                - string
              name:
                type:
                - 'null'
                - string
              credits:
                type: array
              displayName:
                type:
                - 'null'
                - string
              desc:
                type:
                - 'null'
                - string
              descData:
                type: object
                properties:
                  emoji:
                    type: object
              domainName:
                type:
                - 'null'
                - string
              idBoards:
                type: array
                items:
                  type:
                  - 'null'
                  - string
              idMemberCreator:
                type:
                - 'null'
                - string
              invited:
                type:
                - 'null'
                - boolean
              invitations:
                type: array
              limits:
                type: object
                properties:
                  orgs:
                    type: object
                    properties:
                      totalMembersPerOrg:
                        type: object
                        properties:
                          status:
                            type:
                            - 'null'
                            - string
                          disableAt:
                            type:
                            - 'null'
                            - integer
                          warnAt:
                            type:
                            - 'null'
                            - integer
                      freeBoardsPerOrg:
                        type: object
                        properties:
                          status:
                            type:
                            - 'null'
                            - string
                          disableAt:
                            type:
                            - 'null'
                            - integer
                          warnAt:
                            type:
                            - 'null'
                            - integer
              memberships:
                type: array
                items:
                  type: object
                  properties:
                    idMember:
                      type:
                      - 'null'
                      - string
                    memberType:
                      type:
                      - 'null'
                      - string
                    unconfirmed:
                      type:
                      - 'null'
                      - boolean
                    deactivated:
                      type:
                      - 'null'
                      - boolean
                    id:
                      type:
                      - 'null'
                      - string
              membersCount:
                type:
                - 'null'
                - integer
              prefs:
                type: object
                properties:
                  permissionLevel:
                    type:
                    - 'null'
                    - string
                  orgInviteRestrict:
                    type: array
                  boardInviteRestrict:
                    type:
                    - 'null'
                    - string
                  externalMembersDisabled:
                    type:
                    - 'null'
                    - boolean
                  googleAppsVersion:
                    type:
                    - 'null'
                    - integer
                  boardVisibilityRestrict:
                    type: object
                    properties:
                      private:
                        type:
                        - 'null'
                        - string
                      org:
                        type:
                        - 'null'
                        - string
                      enterprise:
                        type:
                        - 'null'
                        - string
                      public:
                        type:
                        - 'null'
                        - string
                  boardDeleteRestrict:
                    type: object
                    properties:
                      private:
                        type:
                        - 'null'
                        - string
                      org:
                        type:
                        - 'null'
                        - string
                      enterprise:
                        type:
                        - 'null'
                        - string
                      public:
                        type:
                        - 'null'
                        - string
              powerUps:
                type: array
              products:
                type: array
              billableMemberCount:
                type:
                - 'null'
                - integer
              activeBillableMemberCount:
                type:
                - 'null'
                - integer
              billableCollaboratorCount:
                type:
                - 'null'
                - integer
              url:
                type:
                - 'null'
                - string
              premiumFeatures:
                type: array
                items:
                  type:
                  - 'null'
                  - string
              promotions:
                type: array
              enterpriseJoinRequest:
                type: object
              ixUpdate:
                type:
                - 'null'
                - string
              newLicenseInviteRestrict:
                type:
                - 'null'
                - string
              newLicenseInviteRestrictUrl:
                type:
                - 'null'
                - string
  boards_stream:
    type: DeclarativeStream
    name: boards
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.trello.com/1/
        http_method: GET
        request_headers: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: 'OAuth oauth_consumer_key="{{ config[''key''] }}", oauth_token="{{
            config[''token''] }}"'
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
          - type: DefaultErrorHandler
            backoff_strategies:
            - type: ConstantBackoffStrategy
              backoff_time_in_seconds: 10
        request_body_json: {}
        path: members/me/boards
        request_parameters:
          since: "{{ config['start_date'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
        record_filter:
          condition: "{{ record.id in config.board_ids or not config.board_ids }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
        - 'null'
        - object
        properties:
          name:
            type:
            - 'null'
            - string
          desc:
            type:
            - 'null'
            - string
          descData:
            type:
            - 'null'
            - string
          closed:
            type:
            - 'null'
            - boolean
          idOrganization:
            type:
            - 'null'
            - string
          idEnterprise:
            type:
            - 'null'
            - string
          limits:
            type:
            - 'null'
            - object
            properties:
              attachments:
                type:
                - 'null'
                - object
                properties:
                  perBoard:
                    type:
                    - 'null'
                    - object
                    properties:
                      status:
                        type:
                        - 'null'
                        - string
                      disableAt:
                        type:
                        - 'null'
                        - integer
                      warnAt:
                        type:
                        - 'null'
                        - integer
          pinned:
            type:
            - 'null'
            - boolean
          shortLink:
            type:
            - 'null'
            - string
          dateLastActivity:
            type:
            - 'null'
            - string
            format: date-time
          datePluginDisable:
            type:
            - 'null'
            - string
            format: date-time
          creationMethod:
            type:
            - 'null'
            - string
          ixUpdate:
            type:
            - 'null'
            - string
          enterpriseOwned:
            type:
            - 'null'
            - boolean
          idBoardSource:
            type:
            - 'null'
            - string
          id:
            type: string
          starred:
            type:
            - 'null'
            - boolean
          url:
            type:
            - 'null'
            - string
          powerUps:
            type:
            - 'null'
            - array
            items:
              type:
              - 'null'
              - string
          premiumFeatures:
            type:
            - 'null'
            - array
            items:
              type:
              - 'null'
              - string
          idTags:
            type:
            - 'null'
            - array
            items:
              type:
              - 'null'
              - string
          prefs:
            type:
            - 'null'
            - object
            properties:
              permissionLevel:
                type:
                - 'null'
                - string
              hideVotes:
                type:
                - 'null'
                - boolean
              voting:
                type:
                - 'null'
                - string
              comments:
                type:
                - 'null'
                - string
              invitations:
                type:
                - 'null'
                - string
              selfJoin:
                type:
                - 'null'
                - boolean
              cardCovers:
                type:
                - 'null'
                - boolean
              isTemplate:
                type:
                - 'null'
                - boolean
              cardAging:
                type:
                - 'null'
                - string
              calendarFeedEnabled:
                type:
                - 'null'
                - boolean
              background:
                type:
                - 'null'
                - string
              backgroundImage:
                type:
                - 'null'
                - string
              backgroundImageScaled:
                type:
                - 'null'
                - array
                items:
                  type:
                  - 'null'
                  - object
                  properties:
                    width:
                      type:
                      - 'null'
                      - integer
                    height:
                      type:
                      - 'null'
                      - integer
                    url:
                      type:
                      - 'null'
                      - string
              backgroundTile:
                type:
                - 'null'
                - boolean
              backgroundBrightness:
                type:
                - 'null'
                - string
              backgroundBottomColor:
                type:
                - 'null'
                - string
              backgroundTopColor:
                type:
                - 'null'
                - string
              canBePublic:
                type:
                - 'null'
                - boolean
              canBeEnterprise:
                type:
                - 'null'
                - boolean
              canBeOrg:
                type:
                - 'null'
                - boolean
              canBePrivate:
                type:
                - 'null'
                - boolean
              canInvite:
                type:
                - 'null'
                - boolean
          subscribed:
            type:
            - 'null'
            - boolean
          labelNames:
            type:
            - 'null'
            - object
            properties:
              green:
                type:
                - 'null'
                - string
              yellow:
                type:
                - 'null'
                - string
              orange:
                type:
                - 'null'
                - string
              red:
                type:
                - 'null'
                - string
              purple:
                type:
                - 'null'
                - string
              blue:
                type:
                - 'null'
                - string
              sky:
                type:
                - 'null'
                - string
              lime:
                type:
                - 'null'
                - string
              pink:
                type:
                - 'null'
                - string
              black:
                type:
                - 'null'
                - string
          dateLastView:
            type:
            - 'null'
            - string
            format: date-time
          shortUrl:
            type:
            - 'null'
            - string
          templateGallery:
            type:
            - 'null'
            - string
          memberships:
            type:
            - 'null'
            - array
            items:
              type:
              - 'null'
              - object
              properties:
                id:
                  type:
                  - 'null'
                  - string
                idMember:
                  type:
                  - 'null'
                  - string
                memberType:
                  type:
                  - 'null'
                  - string
                unconfirmed:
                  type:
                  - 'null'
                  - boolean
                deactivated:
                  type:
                  - 'null'
                  - boolean
  organizations_stream:
    type: DeclarativeStream
    name: organizations
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.trello.com/1/
        http_method: GET
        request_headers: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: 'OAuth oauth_consumer_key="{{ config[''key''] }}", oauth_token="{{
            config[''token''] }}"'
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
          - type: DefaultErrorHandler
            backoff_strategies:
            - type: ConstantBackoffStrategy
              backoff_time_in_seconds: 10
        request_body_json: {}
        path: members/me/organizations
        request_parameters:
          since: "{{ config['start_date'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: https://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type:
            - 'null'
            - string
          name:
            type:
            - 'null'
            - string
          credits:
            type: array
          displayName:
            type:
            - 'null'
            - string
          desc:
            type:
            - 'null'
            - string
          descData:
            type: object
            properties:
              emoji:
                type: object
          domainName:
            type:
            - 'null'
            - string
          idBoards:
            type: array
            items:
              type:
              - 'null'
              - string
          idMemberCreator:
            type:
            - 'null'
            - string
          invited:
            type:
            - 'null'
            - boolean
          invitations:
            type: array
          limits:
            type: object
            properties:
              orgs:
                type: object
                properties:
                  totalMembersPerOrg:
                    type: object
                    properties:
                      status:
                        type:
                        - 'null'
                        - string
                      disableAt:
                        type:
                        - 'null'
                        - integer
                      warnAt:
                        type:
                        - 'null'
                        - integer
                  freeBoardsPerOrg:
                    type: object
                    properties:
                      status:
                        type:
                        - 'null'
                        - string
                      disableAt:
                        type:
                        - 'null'
                        - integer
                      warnAt:
                        type:
                        - 'null'
                        - integer
          memberships:
            type: array
            items:
              type: object
              properties:
                idMember:
                  type:
                  - 'null'
                  - string
                memberType:
                  type:
                  - 'null'
                  - string
                unconfirmed:
                  type:
                  - 'null'
                  - boolean
                deactivated:
                  type:
                  - 'null'
                  - boolean
                id:
                  type:
                  - 'null'
                  - string
          membersCount:
            type:
            - 'null'
            - integer
          prefs:
            type: object
            properties:
              permissionLevel:
                type:
                - 'null'
                - string
              orgInviteRestrict:
                type: array
              boardInviteRestrict:
                type:
                - 'null'
                - string
              externalMembersDisabled:
                type:
                - 'null'
                - boolean
              googleAppsVersion:
                type:
                - 'null'
                - integer
              boardVisibilityRestrict:
                type: object
                properties:
                  private:
                    type:
                    - 'null'
                    - string
                  org:
                    type:
                    - 'null'
                    - string
                  enterprise:
                    type:
                    - 'null'
                    - string
                  public:
                    type:
                    - 'null'
                    - string
              boardDeleteRestrict:
                type: object
                properties:
                  private:
                    type:
                    - 'null'
                    - string
                  org:
                    type:
                    - 'null'
                    - string
                  enterprise:
                    type:
                    - 'null'
                    - string
                  public:
                    type:
                    - 'null'
                    - string
          powerUps:
            type: array
          products:
            type: array
          billableMemberCount:
            type:
            - 'null'
            - integer
          activeBillableMemberCount:
            type:
            - 'null'
            - integer
          billableCollaboratorCount:
            type:
            - 'null'
            - integer
          url:
            type:
            - 'null'
            - string
          premiumFeatures:
            type: array
            items:
              type:
              - 'null'
              - string
          promotions:
            type: array
          enterpriseJoinRequest:
            type: object
          ixUpdate:
            type:
            - 'null'
            - string
          newLicenseInviteRestrict:
            type:
            - 'null'
            - string
          newLicenseInviteRestrictUrl:
            type:
            - 'null'
            - string
  actions_stream:
    type: DeclarativeStream
    name: actions
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.trello.com/1/
        http_method: GET
        request_headers: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: 'OAuth oauth_consumer_key="{{ config[''key''] }}", oauth_token="{{
            config[''token''] }}"'
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
          - type: DefaultErrorHandler
            backoff_strategies:
            - type: ConstantBackoffStrategy
              backoff_time_in_seconds: 10
        request_body_json: {}
        path: boards/{{ stream_partition.id }}/actions
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: before
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 500
          cursor_value: "{{ last_record['id'] }}"
          stop_condition: "{{ last_page_size == 0 }}"
      partition_router:
      - type: CustomPartitionRouter
        class_name: source_declarative_manifest.components.OrderIdsPartitionRouter
        parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: id
          partition_field: id
          stream:
            type: DeclarativeStream
            name: boards
            primary_key: id
            retriever:
              type: SimpleRetriever
              requester:
                type: HttpRequester
                url_base: https://api.trello.com/1/
                http_method: GET
                request_headers: {}
                authenticator:
                  type: ApiKeyAuthenticator
                  api_token: 'OAuth oauth_consumer_key="{{ config[''key''] }}", oauth_token="{{
                    config[''token''] }}"'
                  inject_into:
                    type: RequestOption
                    field_name: Authorization
                    inject_into: header
                error_handler:
                  type: CompositeErrorHandler
                  error_handlers:
                  - type: DefaultErrorHandler
                    backoff_strategies:
                    - type: ConstantBackoffStrategy
                      backoff_time_in_seconds: 10
                request_body_json: {}
                path: members/me/boards
                request_parameters:
                  since: "{{ config['start_date'] }}"
              record_selector:
                type: RecordSelector
                extractor:
                  type: DpathExtractor
                  field_path: []
                record_filter:
                  condition: "{{ record.id in config.board_ids or not config.board_ids
                    }}"
            schema_loader:
              type: InlineSchemaLoader
              schema:
                type:
                - 'null'
                - object
                properties:
                  name:
                    type:
                    - 'null'
                    - string
                  desc:
                    type:
                    - 'null'
                    - string
                  descData:
                    type:
                    - 'null'
                    - string
                  closed:
                    type:
                    - 'null'
                    - boolean
                  idOrganization:
                    type:
                    - 'null'
                    - string
                  idEnterprise:
                    type:
                    - 'null'
                    - string
                  limits:
                    type:
                    - 'null'
                    - object
                    properties:
                      attachments:
                        type:
                        - 'null'
                        - object
                        properties:
                          perBoard:
                            type:
                            - 'null'
                            - object
                            properties:
                              status:
                                type:
                                - 'null'
                                - string
                              disableAt:
                                type:
                                - 'null'
                                - integer
                              warnAt:
                                type:
                                - 'null'
                                - integer
                  pinned:
                    type:
                    - 'null'
                    - boolean
                  shortLink:
                    type:
                    - 'null'
                    - string
                  dateLastActivity:
                    type:
                    - 'null'
                    - string
                    format: date-time
                  datePluginDisable:
                    type:
                    - 'null'
                    - string
                    format: date-time
                  creationMethod:
                    type:
                    - 'null'
                    - string
                  ixUpdate:
                    type:
                    - 'null'
                    - string
                  enterpriseOwned:
                    type:
                    - 'null'
                    - boolean
                  idBoardSource:
                    type:
                    - 'null'
                    - string
                  id:
                    type: string
                  starred:
                    type:
                    - 'null'
                    - boolean
                  url:
                    type:
                    - 'null'
                    - string
                  powerUps:
                    type:
                    - 'null'
                    - array
                    items:
                      type:
                      - 'null'
                      - string
                  premiumFeatures:
                    type:
                    - 'null'
                    - array
                    items:
                      type:
                      - 'null'
                      - string
                  idTags:
                    type:
                    - 'null'
                    - array
                    items:
                      type:
                      - 'null'
                      - string
                  prefs:
                    type:
                    - 'null'
                    - object
                    properties:
                      permissionLevel:
                        type:
                        - 'null'
                        - string
                      hideVotes:
                        type:
                        - 'null'
                        - boolean
                      voting:
                        type:
                        - 'null'
                        - string
                      comments:
                        type:
                        - 'null'
                        - string
                      invitations:
                        type:
                        - 'null'
                        - string
                      selfJoin:
                        type:
                        - 'null'
                        - boolean
                      cardCovers:
                        type:
                        - 'null'
                        - boolean
                      isTemplate:
                        type:
                        - 'null'
                        - boolean
                      cardAging:
                        type:
                        - 'null'
                        - string
                      calendarFeedEnabled:
                        type:
                        - 'null'
                        - boolean
                      background:
                        type:
                        - 'null'
                        - string
                      backgroundImage:
                        type:
                        - 'null'
                        - string
                      backgroundImageScaled:
                        type:
                        - 'null'
                        - array
                        items:
                          type:
                          - 'null'
                          - object
                          properties:
                            width:
                              type:
                              - 'null'
                              - integer
                            height:
                              type:
                              - 'null'
                              - integer
                            url:
                              type:
                              - 'null'
                              - string
                      backgroundTile:
                        type:
                        - 'null'
                        - boolean
                      backgroundBrightness:
                        type:
                        - 'null'
                        - string
                      backgroundBottomColor:
                        type:
                        - 'null'
                        - string
                      backgroundTopColor:
                        type:
                        - 'null'
                        - string
                      canBePublic:
                        type:
                        - 'null'
                        - boolean
                      canBeEnterprise:
                        type:
                        - 'null'
                        - boolean
                      canBeOrg:
                        type:
                        - 'null'
                        - boolean
                      canBePrivate:
                        type:
                        - 'null'
                        - boolean
                      canInvite:
                        type:
                        - 'null'
                        - boolean
                  subscribed:
                    type:
                    - 'null'
                    - boolean
                  labelNames:
                    type:
                    - 'null'
                    - object
                    properties:
                      green:
                        type:
                        - 'null'
                        - string
                      yellow:
                        type:
                        - 'null'
                        - string
                      orange:
                        type:
                        - 'null'
                        - string
                      red:
                        type:
                        - 'null'
                        - string
                      purple:
                        type:
                        - 'null'
                        - string
                      blue:
                        type:
                        - 'null'
                        - string
                      sky:
                        type:
                        - 'null'
                        - string
                      lime:
                        type:
                        - 'null'
                        - string
                      pink:
                        type:
                        - 'null'
                        - string
                      black:
                        type:
                        - 'null'
                        - string
                  dateLastView:
                    type:
                    - 'null'
                    - string
                    format: date-time
                  shortUrl:
                    type:
                    - 'null'
                    - string
                  templateGallery:
                    type:
                    - 'null'
                    - string
                  memberships:
                    type:
                    - 'null'
                    - array
                    items:
                      type:
                      - 'null'
                      - object
                      properties:
                        id:
                          type:
                          - 'null'
                          - string
                        idMember:
                          type:
                          - 'null'
                          - string
                        memberType:
                          type:
                          - 'null'
                          - string
                        unconfirmed:
                          type:
                          - 'null'
                          - boolean
                        deactivated:
                          type:
                          - 'null'
                          - boolean
        - type: ParentStreamConfig
          parent_key: idBoards
          partition_field: id
          stream:
            type: DeclarativeStream
            name: organizations
            primary_key: id
            retriever:
              type: SimpleRetriever
              requester:
                type: HttpRequester
                url_base: https://api.trello.com/1/
                http_method: GET
                request_headers: {}
                authenticator:
                  type: ApiKeyAuthenticator
                  api_token: 'OAuth oauth_consumer_key="{{ config[''key''] }}", oauth_token="{{
                    config[''token''] }}"'
                  inject_into:
                    type: RequestOption
                    field_name: Authorization
                    inject_into: header
                error_handler:
                  type: CompositeErrorHandler
                  error_handlers:
                  - type: DefaultErrorHandler
                    backoff_strategies:
                    - type: ConstantBackoffStrategy
                      backoff_time_in_seconds: 10
                request_body_json: {}
                path: members/me/organizations
                request_parameters:
                  since: "{{ config['start_date'] }}"
              record_selector:
                type: RecordSelector
                extractor:
                  type: DpathExtractor
                  field_path: []
            schema_loader:
              type: InlineSchemaLoader
              schema:
                $schema: https://json-schema.org/draft-07/schema#
                type: object
                properties:
                  id:
                    type:
                    - 'null'
                    - string
                  name:
                    type:
                    - 'null'
                    - string
                  credits:
                    type: array
                  displayName:
                    type:
                    - 'null'
                    - string
                  desc:
                    type:
                    - 'null'
                    - string
                  descData:
                    type: object
                    properties:
                      emoji:
                        type: object
                  domainName:
                    type:
                    - 'null'
                    - string
                  idBoards:
                    type: array
                    items:
                      type:
                      - 'null'
                      - string
                  idMemberCreator:
                    type:
                    - 'null'
                    - string
                  invited:
                    type:
                    - 'null'
                    - boolean
                  invitations:
                    type: array
                  limits:
                    type: object
                    properties:
                      orgs:
                        type: object
                        properties:
                          totalMembersPerOrg:
                            type: object
                            properties:
                              status:
                                type:
                                - 'null'
                                - string
                              disableAt:
                                type:
                                - 'null'
                                - integer
                              warnAt:
                                type:
                                - 'null'
                                - integer
                          freeBoardsPerOrg:
                            type: object
                            properties:
                              status:
                                type:
                                - 'null'
                                - string
                              disableAt:
                                type:
                                - 'null'
                                - integer
                              warnAt:
                                type:
                                - 'null'
                                - integer
                  memberships:
                    type: array
                    items:
                      type: object
                      properties:
                        idMember:
                          type:
                          - 'null'
                          - string
                        memberType:
                          type:
                          - 'null'
                          - string
                        unconfirmed:
                          type:
                          - 'null'
                          - boolean
                        deactivated:
                          type:
                          - 'null'
                          - boolean
                        id:
                          type:
                          - 'null'
                          - string
                  membersCount:
                    type:
                    - 'null'
                    - integer
                  prefs:
                    type: object
                    properties:
                      permissionLevel:
                        type:
                        - 'null'
                        - string
                      orgInviteRestrict:
                        type: array
                      boardInviteRestrict:
                        type:
                        - 'null'
                        - string
                      externalMembersDisabled:
                        type:
                        - 'null'
                        - boolean
                      googleAppsVersion:
                        type:
                        - 'null'
                        - integer
                      boardVisibilityRestrict:
                        type: object
                        properties:
                          private:
                            type:
                            - 'null'
                            - string
                          org:
                            type:
                            - 'null'
                            - string
                          enterprise:
                            type:
                            - 'null'
                            - string
                          public:
                            type:
                            - 'null'
                            - string
                      boardDeleteRestrict:
                        type: object
                        properties:
                          private:
                            type:
                            - 'null'
                            - string
                          org:
                            type:
                            - 'null'
                            - string
                          enterprise:
                            type:
                            - 'null'
                            - string
                          public:
                            type:
                            - 'null'
                            - string
                  powerUps:
                    type: array
                  products:
                    type: array
                  billableMemberCount:
                    type:
                    - 'null'
                    - integer
                  activeBillableMemberCount:
                    type:
                    - 'null'
                    - integer
                  billableCollaboratorCount:
                    type:
                    - 'null'
                    - integer
                  url:
                    type:
                    - 'null'
                    - string
                  premiumFeatures:
                    type: array
                    items:
                      type:
                      - 'null'
                      - string
                  promotions:
                    type: array
                  enterpriseJoinRequest:
                    type: object
                  ixUpdate:
                    type:
                    - 'null'
                    - string
                  newLicenseInviteRestrict:
                    type:
                    - 'null'
                    - string
                  newLicenseInviteRestrictUrl:
                    type:
                    - 'null'
                    - string
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date
      cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S.%fZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
        - 'null'
        - object
        properties:
          id:
            type:
            - 'null'
            - string
          idMemberCreator:
            type:
            - 'null'
            - string
          data:
            type:
            - 'null'
            - object
            properties:
              card:
                type:
                - 'null'
                - object
                properties:
                  id:
                    type:
                    - 'null'
                    - string
                  name:
                    type:
                    - 'null'
                    - string
                  idShort:
                    type:
                    - 'null'
                    - integer
                  shortLink:
                    type:
                    - 'null'
                    - string
                  pos:
                    type:
                    - 'null'
                    - number
                  desc:
                    type:
                    - 'null'
                    - string
                  closed:
                    type:
                    - 'null'
                    - boolean
                  idList:
                    type:
                    - 'null'
                    - string
                  idMembers:
                    type:
                    - 'null'
                    - array
                    items:
                      type:
                      - 'null'
                      - string
              list:
                type:
                - 'null'
                - object
                properties:
                  id:
                    type:
                    - 'null'
                    - string
                  name:
                    type:
                    - 'null'
                    - string
                  pos:
                    type:
                    - 'null'
                    - number
                  closed:
                    type:
                    - 'null'
                    - boolean
              board:
                type:
                - 'null'
                - object
                properties:
                  id:
                    type:
                    - 'null'
                    - string
                  name:
                    type:
                    - 'null'
                    - string
                  shortLink:
                    type:
                    - 'null'
                    - string
                  prefs:
                    type:
                    - 'null'
                    - object
                    properties:
                      background:
                        type:
                        - 'null'
                        - string
              old:
                type:
                - 'null'
                - object
                properties:
                  pos:
                    type:
                    - 'null'
                    - number
                  desc:
                    type:
                    - 'null'
                    - string
                  name:
                    type:
                    - 'null'
                    - string
                  closed:
                    type:
                    - 'null'
                    - boolean
                  idList:
                    type:
                    - 'null'
                    - string
                  prefs:
                    type:
                    - 'null'
                    - object
                    properties:
                      background:
                        type:
                        - 'null'
                        - string
                  idMembers:
                    type:
                    - 'null'
                    - array
                    items:
                      type:
                      - 'null'
                      - string
              listBefore:
                type:
                - 'null'
                - object
                properties:
                  id:
                    type:
                    - 'null'
                    - string
                  name:
                    type:
                    - 'null'
                    - string
              listAfter:
                type:
                - 'null'
                - object
                properties:
                  id:
                    type:
                    - 'null'
                    - string
                  name:
                    type:
                    - 'null'
                    - string
              memberType:
                type:
                - 'null'
                - string
              idMemberAdded:
                type:
                - 'null'
                - string
              cardSource:
                type:
                - 'null'
                - object
                properties:
                  id:
                    type:
                    - 'null'
                    - string
                  name:
                    type:
                    - 'null'
                    - string
                  idShort:
                    type:
                    - 'null'
                    - integer
                  shortLink:
                    type:
                    - 'null'
                    - string
              idMemberInviter:
                type:
                - 'null'
                - string
              method:
                type:
                - 'null'
                - string
              idMember:
                type:
                - 'null'
                - string
              member:
                type:
                - 'null'
                - object
                properties:
                  id:
                    type:
                    - 'null'
                    - string
                  name:
                    type:
                    - 'null'
                    - string
              deactivated:
                type:
                - 'null'
                - boolean
              text:
                type:
                - 'null'
                - string
              organization:
                type:
                - 'null'
                - object
                properties:
                  id:
                    type:
                    - 'null'
                    - string
                  name:
                    type:
                    - 'null'
                    - string
          type:
            type:
            - 'null'
            - string
          date:
            type:
            - 'null'
            - string
          memberCreator:
            type:
            - 'null'
            - object
            properties:
              id:
                type:
                - 'null'
                - string
              username:
                type:
                - 'null'
                - string
              activityBlocked:
                type:
                - 'null'
                - boolean
              avatarHash:
                type:
                - 'null'
                - string
              avatarUrl:
                type:
                - 'null'
                - string
              fullName:
                type:
                - 'null'
                - string
              idMemberReferrer:
                type:
                - 'null'
                - string
              initials:
                type:
                - 'null'
                - string
              nonPublicAvailable:
                type:
                - 'null'
                - boolean
          member:
            type:
            - 'null'
            - object
            properties:
              id:
                type:
                - 'null'
                - string
              username:
                type:
                - 'null'
                - string
              activityBlocked:
                type:
                - 'null'
                - boolean
              avatarHash:
                type:
                - 'null'
                - string
              avatarUrl:
                type:
                - 'null'
                - string
              fullName:
                type:
                - 'null'
                - string
              idMemberReferrer:
                type:
                - 'null'
                - string
              initials:
                type:
                - 'null'
                - string
              nonPublicAvailable:
                type:
                - 'null'
                - boolean
          limits:
            type:
            - 'null'
            - object
            properties:
              reactions:
                type:
                - 'null'
                - object
                properties:
                  perAction:
                    type:
                    - 'null'
                    - object
                    properties:
                      status:
                        type:
                        - 'null'
                        - string
                      disableAt:
                        type:
                        - 'null'
                        - integer
                      warnAt:
                        type:
                        - 'null'
                        - integer
                  uniquePerAction:
                    type:
                    - 'null'
                    - object
                    properties:
                      status:
                        type:
                        - 'null'
                        - string
                      disableAt:
                        type:
                        - 'null'
                        - integer
                      warnAt:
                        type:
                        - 'null'
                        - integer
  cards_stream:
    type: DeclarativeStream
    name: cards
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.trello.com/1/
        http_method: GET
        request_headers: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: 'OAuth oauth_consumer_key="{{ config[''key''] }}", oauth_token="{{
            config[''token''] }}"'
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
          - type: DefaultErrorHandler
            backoff_strategies:
            - type: ConstantBackoffStrategy
              backoff_time_in_seconds: 10
        request_body_json: {}
        path: boards/{{ stream_partition.id }}/cards/all
        request_parameters:
          list: "true"
          sort: "-id"
          since: "{{ config['start_date'] }}"
          members: "true"
          pluginData: "true"
          actions_display: "true"
          customFieldItems: "true"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: before
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 500
          cursor_value: "{{ last_record['id'] }}"
          stop_condition: "{{ last_page_size == 0 }}"
      partition_router:
      - type: CustomPartitionRouter
        class_name: source_declarative_manifest.components.OrderIdsPartitionRouter
        parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: id
          partition_field: id
          stream:
            type: DeclarativeStream
            name: boards
            primary_key: id
            retriever:
              type: SimpleRetriever
              requester:
                type: HttpRequester
                url_base: https://api.trello.com/1/
                http_method: GET
                request_headers: {}
                authenticator:
                  type: ApiKeyAuthenticator
                  api_token: 'OAuth oauth_consumer_key="{{ config[''key''] }}", oauth_token="{{
                    config[''token''] }}"'
                  inject_into:
                    type: RequestOption
                    field_name: Authorization
                    inject_into: header
                error_handler:
                  type: CompositeErrorHandler
                  error_handlers:
                  - type: DefaultErrorHandler
                    backoff_strategies:
                    - type: ConstantBackoffStrategy
                      backoff_time_in_seconds: 10
                request_body_json: {}
                path: members/me/boards
                request_parameters:
                  since: "{{ config['start_date'] }}"
              record_selector:
                type: RecordSelector
                extractor:
                  type: DpathExtractor
                  field_path: []
                record_filter:
                  condition: "{{ record.id in config.board_ids or not config.board_ids
                    }}"
            schema_loader:
              type: InlineSchemaLoader
              schema:
                type:
                - 'null'
                - object
                properties:
                  name:
                    type:
                    - 'null'
                    - string
                  desc:
                    type:
                    - 'null'
                    - string
                  descData:
                    type:
                    - 'null'
                    - string
                  closed:
                    type:
                    - 'null'
                    - boolean
                  idOrganization:
                    type:
                    - 'null'
                    - string
                  idEnterprise:
                    type:
                    - 'null'
                    - string
                  limits:
                    type:
                    - 'null'
                    - object
                    properties:
                      attachments:
                        type:
                        - 'null'
                        - object
                        properties:
                          perBoard:
                            type:
                            - 'null'
                            - object
                            properties:
                              status:
                                type:
                                - 'null'
                                - string
                              disableAt:
                                type:
                                - 'null'
                                - integer
                              warnAt:
                                type:
                                - 'null'
                                - integer
                  pinned:
                    type:
                    - 'null'
                    - boolean
                  shortLink:
                    type:
                    - 'null'
                    - string
                  dateLastActivity:
                    type:
                    - 'null'
                    - string
                    format: date-time
                  datePluginDisable:
                    type:
                    - 'null'
                    - string
                    format: date-time
                  creationMethod:
                    type:
                    - 'null'
                    - string
                  ixUpdate:
                    type:
                    - 'null'
                    - string
                  enterpriseOwned:
                    type:
                    - 'null'
                    - boolean
                  idBoardSource:
                    type:
                    - 'null'
                    - string
                  id:
                    type: string
                  starred:
                    type:
                    - 'null'
                    - boolean
                  url:
                    type:
                    - 'null'
                    - string
                  powerUps:
                    type:
                    - 'null'
                    - array
                    items:
                      type:
                      - 'null'
                      - string
                  premiumFeatures:
                    type:
                    - 'null'
                    - array
                    items:
                      type:
                      - 'null'
                      - string
                  idTags:
                    type:
                    - 'null'
                    - array
                    items:
                      type:
                      - 'null'
                      - string
                  prefs:
                    type:
                    - 'null'
                    - object
                    properties:
                      permissionLevel:
                        type:
                        - 'null'
                        - string
                      hideVotes:
                        type:
                        - 'null'
                        - boolean
                      voting:
                        type:
                        - 'null'
                        - string
                      comments:
                        type:
                        - 'null'
                        - string
                      invitations:
                        type:
                        - 'null'
                        - string
                      selfJoin:
                        type:
                        - 'null'
                        - boolean
                      cardCovers:
                        type:
                        - 'null'
                        - boolean
                      isTemplate:
                        type:
                        - 'null'
                        - boolean
                      cardAging:
                        type:
                        - 'null'
                        - string
                      calendarFeedEnabled:
                        type:
                        - 'null'
                        - boolean
                      background:
                        type:
                        - 'null'
                        - string
                      backgroundImage:
                        type:
                        - 'null'
                        - string
                      backgroundImageScaled:
                        type:
                        - 'null'
                        - array
                        items:
                          type:
                          - 'null'
                          - object
                          properties:
                            width:
                              type:
                              - 'null'
                              - integer
                            height:
                              type:
                              - 'null'
                              - integer
                            url:
                              type:
                              - 'null'
                              - string
                      backgroundTile:
                        type:
                        - 'null'
                        - boolean
                      backgroundBrightness:
                        type:
                        - 'null'
                        - string
                      backgroundBottomColor:
                        type:
                        - 'null'
                        - string
                      backgroundTopColor:
                        type:
                        - 'null'
                        - string
                      canBePublic:
                        type:
                        - 'null'
                        - boolean
                      canBeEnterprise:
                        type:
                        - 'null'
                        - boolean
                      canBeOrg:
                        type:
                        - 'null'
                        - boolean
                      canBePrivate:
                        type:
                        - 'null'
                        - boolean
                      canInvite:
                        type:
                        - 'null'
                        - boolean
                  subscribed:
                    type:
                    - 'null'
                    - boolean
                  labelNames:
                    type:
                    - 'null'
                    - object
                    properties:
                      green:
                        type:
                        - 'null'
                        - string
                      yellow:
                        type:
                        - 'null'
                        - string
                      orange:
                        type:
                        - 'null'
                        - string
                      red:
                        type:
                        - 'null'
                        - string
                      purple:
                        type:
                        - 'null'
                        - string
                      blue:
                        type:
                        - 'null'
                        - string
                      sky:
                        type:
                        - 'null'
                        - string
                      lime:
                        type:
                        - 'null'
                        - string
                      pink:
                        type:
                        - 'null'
                        - string
                      black:
                        type:
                        - 'null'
                        - string
                  dateLastView:
                    type:
                    - 'null'
                    - string
                    format: date-time
                  shortUrl:
                    type:
                    - 'null'
                    - string
                  templateGallery:
                    type:
                    - 'null'
                    - string
                  memberships:
                    type:
                    - 'null'
                    - array
                    items:
                      type:
                      - 'null'
                      - object
                      properties:
                        id:
                          type:
                          - 'null'
                          - string
                        idMember:
                          type:
                          - 'null'
                          - string
                        memberType:
                          type:
                          - 'null'
                          - string
                        unconfirmed:
                          type:
                          - 'null'
                          - boolean
                        deactivated:
                          type:
                          - 'null'
                          - boolean
        - type: ParentStreamConfig
          parent_key: idBoards
          partition_field: id
          stream:
            type: DeclarativeStream
            name: organizations
            primary_key: id
            retriever:
              type: SimpleRetriever
              requester:
                type: HttpRequester
                url_base: https://api.trello.com/1/
                http_method: GET
                request_headers: {}
                authenticator:
                  type: ApiKeyAuthenticator
                  api_token: 'OAuth oauth_consumer_key="{{ config[''key''] }}", oauth_token="{{
                    config[''token''] }}"'
                  inject_into:
                    type: RequestOption
                    field_name: Authorization
                    inject_into: header
                error_handler:
                  type: CompositeErrorHandler
                  error_handlers:
                  - type: DefaultErrorHandler
                    backoff_strategies:
                    - type: ConstantBackoffStrategy
                      backoff_time_in_seconds: 10
                request_body_json: {}
                path: members/me/organizations
                request_parameters:
                  since: "{{ config['start_date'] }}"
              record_selector:
                type: RecordSelector
                extractor:
                  type: DpathExtractor
                  field_path: []
            schema_loader:
              type: InlineSchemaLoader
              schema:
                $schema: https://json-schema.org/draft-07/schema#
                type: object
                properties:
                  id:
                    type:
                    - 'null'
                    - string
                  name:
                    type:
                    - 'null'
                    - string
                  credits:
                    type: array
                  displayName:
                    type:
                    - 'null'
                    - string
                  desc:
                    type:
                    - 'null'
                    - string
                  descData:
                    type: object
                    properties:
                      emoji:
                        type: object
                  domainName:
                    type:
                    - 'null'
                    - string
                  idBoards:
                    type: array
                    items:
                      type:
                      - 'null'
                      - string
                  idMemberCreator:
                    type:
                    - 'null'
                    - string
                  invited:
                    type:
                    - 'null'
                    - boolean
                  invitations:
                    type: array
                  limits:
                    type: object
                    properties:
                      orgs:
                        type: object
                        properties:
                          totalMembersPerOrg:
                            type: object
                            properties:
                              status:
                                type:
                                - 'null'
                                - string
                              disableAt:
                                type:
                                - 'null'
                                - integer
                              warnAt:
                                type:
                                - 'null'
                                - integer
                          freeBoardsPerOrg:
                            type: object
                            properties:
                              status:
                                type:
                                - 'null'
                                - string
                              disableAt:
                                type:
                                - 'null'
                                - integer
                              warnAt:
                                type:
                                - 'null'
                                - integer
                  memberships:
                    type: array
                    items:
                      type: object
                      properties:
                        idMember:
                          type:
                          - 'null'
                          - string
                        memberType:
                          type:
                          - 'null'
                          - string
                        unconfirmed:
                          type:
                          - 'null'
                          - boolean
                        deactivated:
                          type:
                          - 'null'
                          - boolean
                        id:
                          type:
                          - 'null'
                          - string
                  membersCount:
                    type:
                    - 'null'
                    - integer
                  prefs:
                    type: object
                    properties:
                      permissionLevel:
                        type:
                        - 'null'
                        - string
                      orgInviteRestrict:
                        type: array
                      boardInviteRestrict:
                        type:
                        - 'null'
                        - string
                      externalMembersDisabled:
                        type:
                        - 'null'
                        - boolean
                      googleAppsVersion:
                        type:
                        - 'null'
                        - integer
                      boardVisibilityRestrict:
                        type: object
                        properties:
                          private:
                            type:
                            - 'null'
                            - string
                          org:
                            type:
                            - 'null'
                            - string
                          enterprise:
                            type:
                            - 'null'
                            - string
                          public:
                            type:
                            - 'null'
                            - string
                      boardDeleteRestrict:
                        type: object
                        properties:
                          private:
                            type:
                            - 'null'
                            - string
                          org:
                            type:
                            - 'null'
                            - string
                          enterprise:
                            type:
                            - 'null'
                            - string
                          public:
                            type:
                            - 'null'
                            - string
                  powerUps:
                    type: array
                  products:
                    type: array
                  billableMemberCount:
                    type:
                    - 'null'
                    - integer
                  activeBillableMemberCount:
                    type:
                    - 'null'
                    - integer
                  billableCollaboratorCount:
                    type:
                    - 'null'
                    - integer
                  url:
                    type:
                    - 'null'
                    - string
                  premiumFeatures:
                    type: array
                    items:
                      type:
                      - 'null'
                      - string
                  promotions:
                    type: array
                  enterpriseJoinRequest:
                    type: object
                  ixUpdate:
                    type:
                    - 'null'
                    - string
                  newLicenseInviteRestrict:
                    type:
                    - 'null'
                    - string
                  newLicenseInviteRestrictUrl:
                    type:
                    - 'null'
                    - string
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
        - 'null'
        - object
        properties:
          id:
            type:
            - 'null'
            - string
          start:
            type:
            - 'null'
            - string
          customFieldItems:
            type:
            - 'null'
            - array
            items:
              type:
              - 'null'
              - object
              properties:
                id:
                  type:
                  - 'null'
                  - string
                idValue:
                  type:
                  - 'null'
                  - string
                idCustomField:
                  type:
                  - 'null'
                  - string
                idModel:
                  type:
                  - 'null'
                  - string
                modelType:
                  type:
                  - 'null'
                  - string
                value:
                  type:
                  - 'null'
                  - object
                  properties:
                    checked:
                      type:
                      - 'null'
                      - string
                    date:
                      type:
                      - 'null'
                      - string
                    number:
                      type:
                      - 'null'
                      - string
                    text:
                      type:
                      - 'null'
                      - string
                    option:
                      type:
                      - 'null'
                      - string
          idMembersVoted:
            type:
            - 'null'
            - array
            items:
              type:
              - 'null'
              - string
          checkItemStates:
            type:
            - 'null'
            - array
            items: {}
          closed:
            type:
            - 'null'
            - boolean
          dateLastActivity:
            type:
            - 'null'
            - string
            format: date-time
          desc:
            type:
            - 'null'
            - string
          descData:
            type:
            - 'null'
            - object
            properties:
              emoji:
                type:
                - 'null'
                - object
                properties: {}
          dueReminder:
            type:
            - 'null'
            - string
          idBoard:
            type:
            - 'null'
            - string
          idList:
            type:
            - 'null'
            - string
          idShort:
            type:
            - 'null'
            - integer
          idAttachmentCover:
            type:
            - 'null'
            - string
          manualCoverAttachment:
            type:
            - 'null'
            - boolean
          name:
            type:
            - 'null'
            - string
          pos:
            type:
            - 'null'
            - number
          shortLink:
            type:
            - 'null'
            - string
          isTemplate:
            type:
            - 'null'
            - boolean
          badges:
            type:
            - 'null'
            - object
            properties:
              attachmentsByType:
                type:
                - 'null'
                - object
                properties:
                  trello:
                    type:
                    - 'null'
                    - object
                    properties:
                      board:
                        type:
                        - 'null'
                        - integer
                      card:
                        type:
                        - 'null'
                        - integer
              location:
                type:
                - 'null'
                - boolean
              votes:
                type:
                - 'null'
                - integer
              viewingMemberVoted:
                type:
                - 'null'
                - boolean
              subscribed:
                type:
                - 'null'
                - boolean
              fogbugz:
                type:
                - 'null'
                - string
              checkItems:
                type:
                - 'null'
                - integer
              checkItemsChecked:
                type:
                - 'null'
                - integer
              checkItemsEarliestDue:
                type:
                - 'null'
                - string
                format: date-time
              comments:
                type:
                - 'null'
                - integer
              attachments:
                type:
                - 'null'
                - integer
              description:
                type:
                - 'null'
                - boolean
              due:
                type:
                - 'null'
                - string
                format: date-time
              dueComplete:
                type:
                - 'null'
                - boolean
          dueComplete:
            type:
            - 'null'
            - boolean
          due:
            type:
            - 'null'
            - string
            format: date-time
          shortUrl:
            type:
            - 'null'
            - string
          subscribed:
            type:
            - 'null'
            - boolean
          url:
            type:
            - 'null'
            - string
          cover:
            type:
            - 'null'
            - object
            additionalProperties: true
            properties:
              idAttachment:
                type:
                - 'null'
                - string
              color:
                type:
                - 'null'
                - string
              idUploadedBackground:
                type:
                - 'null'
                - string
              size:
                type:
                - 'null'
                - string
              brightness:
                type:
                - 'null'
                - string
              edgeColor:
                type:
                - 'null'
                - string
              sharedSourceUrl:
                type:
                - 'null'
                - string
              idPlugin:
                type:
                - 'null'
                - string
          idChecklists:
            type:
            - 'null'
            - array
            items:
              type:
              - 'null'
              - string
          idMembers:
            type:
            - 'null'
            - array
            items:
              type:
              - 'null'
              - string
          idLabels:
            type: array
            items:
              type:
              - 'null'
              - string
          labels:
            type:
            - 'null'
            - array
            items:
              type:
              - 'null'
              - object
              properties:
                id:
                  type:
                  - 'null'
                  - string
                idBoard:
                  type:
                  - 'null'
                  - string
                name:
                  type:
                  - 'null'
                  - string
                color:
                  type:
                  - 'null'
                  - string
  checklists_stream:
    type: DeclarativeStream
    name: checklists
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.trello.com/1/
        http_method: GET
        request_headers: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: 'OAuth oauth_consumer_key="{{ config[''key''] }}", oauth_token="{{
            config[''token''] }}"'
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
          - type: DefaultErrorHandler
            backoff_strategies:
            - type: ConstantBackoffStrategy
              backoff_time_in_seconds: 10
        request_body_json: {}
        path: boards/{{ stream_partition.id }}/checklists
        request_parameters:
          since: "{{ config['start_date'] }}"
          fields: all
          checkItem_fields: all
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
      - type: CustomPartitionRouter
        class_name: source_declarative_manifest.components.OrderIdsPartitionRouter
        parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: id
          partition_field: id
          stream:
            type: DeclarativeStream
[...]
