airbyte-cdk==0.7.0
appdirs==1.4.4
attrs==22.1.0
backoff==2.2.1
cattrs==22.2.0
certifi==2022.9.24
charset-normalizer==2.1.1
coverage==6.5.0
dataclasses-jsonschema==2.15.1
deepdiff==5.8.1
Deprecated==1.2.13
docker==5.0.3
dpath==2.0.6
exceptiongroup==1.0.1
fancycompleter==0.9.1
gitdb==4.0.9
GitPython==3.1.29
hypothesis==6.54.6
hypothesis-jsonschema==0.20.1
icdiff==1.9.1
idna==3.4
inflection==0.5.1
iniconfig==1.1.1
Jinja2==3.1.2
jsonref==0.2
jsonschema==3.2.0
MarkupSafe==2.1.1
ordered-set==4.1.0
packaging==21.3
pdbpp==0.10.3
pendulum==2.1.2
pluggy==1.0.0
pprintpp==0.4.0
py==1.11.0
pyaml==21.10.1
pydantic==1.9.2
Pygments==2.13.0
pyparsing==3.0.9
pyrepl==0.9.0
pyrsistent==0.19.2
pytest==6.2.5
pytest-cov==3.0.0
pytest-mock==3.6.1
pytest-sugar==0.9.6
pytest-timeout==1.4.2
python-dateutil==2.8.2
pytzdata==2020.1
PyYAML==5.4.1
requests==2.28.1
requests-cache==0.9.7
requests-mock==1.9.3
six==1.16.0
smmap==5.0.0
sortedcontainers==2.4.0
-e git+ssh://git@github.com/airbytehq/airbyte.git@70679775b55c5bb1be7384114155924772885be0#egg=source_acceptance_test&subdirectory=airbyte-integrations/bases/source-acceptance-test
termcolor==2.1.0
toml==0.10.2
tomli==2.0.1
typing_extensions==4.4.0
url-normalize==1.4.3
urllib3==1.26.12
websocket-client==1.4.2
wmctrl==0.4
wrapt==1.14.1
