version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - campaigns
    - lists
definitions:
  streams:
    campaigns:
      type: DeclarativeStream
      name: campaigns
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://emailoctopus.com/api/1.6
          path: /campaigns
          http_method: GET
          request_parameters:
            api_key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: PageIncrement
            page_size: 50
      transformations:
        - type: RemoveFields
          field_pointers:
            - - content
              - html
        - type: RemoveFields
          field_pointers:
            - - content
              - plain_text
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          description: Details of all campaigns.
          properties:
            created_at:
              type: string
              description: When the campaign was created, in ISO 8601 format.
              title: Campaign Created At
            from:
              type: object
              description: The sender of the campaign.
              properties:
                email_address:
                  type: string
                  description: The email address the campaign was sent from.
                  title: Sender Email Address
                name:
                  type: string
                  description: The name the campaign was sent from.
                  title: Sender Name
              title: From
            id:
              type: string
              description: The identifier of the campaign.
              title: Campaign ID
            name:
              type:
                - string
                - "null"
              description: The name of the campaign.
              title: Campaign Name
            sent_at:
              type: string
              description: When the campaign was sent, in ISO 8601 format.
              title: Campaign Sent At
            status:
              type: string
              description: The status of the campaign (DRAFT/SENDING/SENT/ERROR).
              title: Status
            subject:
              type:
                - string
                - "null"
              description: The subject of the campaign.
              title: Subject
            to:
              type: array
              description: The ids of the lists the campaign was sent to.
              items:
                type: string
              title: To
          title: Campaigns
          additionalProperties: true
    lists:
      type: DeclarativeStream
      name: lists
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://emailoctopus.com/api/1.6
          path: /lists
          http_method: GET
          request_parameters:
            api_key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: PageIncrement
            page_size: 50
      transformations:
        - type: RemoveFields
          field_pointers:
            - - tags
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          description: Details of all lists.
          properties:
            counts:
              type: object
              description: The summary counts of the list.
              properties:
                pending:
                  type: integer
                  description: The number of pending contacts in the list.
                  title: Pending
                subscribed:
                  type: integer
                  description: The number of subscribed contacts in the list.
                  title: Subscribed
                unsubscribed:
                  type: integer
                  description: The number of unsubscribed contacts in the list.
                  title: Unsubscribed
              title: Counts
            created_at:
              type: string
              description: When the list was created, in ISO 8601 format.
              title: List Created At
            double_opt_in:
              type: boolean
              description: If double opt-in has been enabled on the list.
              title: Double Opt-in
            fields:
              type: array
              description: Stored information on subscribers.
              properties:
                type:
                  type: string
                  description: The type of the field - can be NUMBER, TEXT or DATE.
                  title: Type
                fallback:
                  type: "null"
                  description: >-
                    A default value for the field, used when there is no other value
                    available.
                  title: Fallback
                label:
                  type: string
                  description: A human readable label for the field.
                  title: Label
                tag:
                  type: string
                  description:
                    The identifier used to reference the field in your
                    emails.
                  title: Tag
              title: Subscriber Fields
            id:
              type: string
              description: The identifier of the list.
              title: List ID
            name:
              type: string
              description: The name of the list.
              title: List Name
          title: Lists
          additionalProperties: true
  base_requester:
    type: HttpRequester
    url_base: https://emailoctopus.com/api/1.6
streams:
  - type: DeclarativeStream
    name: campaigns
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://emailoctopus.com/api/1.6
        path: /campaigns
        http_method: GET
        request_parameters:
          api_key: "{{ config['api_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: PageIncrement
          page_size: 50
    transformations:
      - type: RemoveFields
        field_pointers:
          - - content
            - html
      - type: RemoveFields
        field_pointers:
          - - content
            - plain_text
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        description: Details of all campaigns.
        properties:
          created_at:
            type: string
            description: When the campaign was created, in ISO 8601 format.
            title: Campaign Created At
          from:
            type: object
            description: The sender of the campaign.
            properties:
              email_address:
                type: string
                description: The email address the campaign was sent from.
                title: Sender Email Address
              name:
                type: string
                description: The name the campaign was sent from.
                title: Sender Name
            title: From
          id:
            type: string
            description: The identifier of the campaign.
            title: Campaign ID
          name:
            type:
              - string
              - "null"
            description: The name of the campaign.
            title: Campaign Name
          sent_at:
            type: string
            description: When the campaign was sent, in ISO 8601 format.
            title: Campaign Sent At
          status:
            type: string
            description: The status of the campaign (DRAFT/SENDING/SENT/ERROR).
            title: Status
          subject:
            type:
              - string
              - "null"
            description: The subject of the campaign.
            title: Subject
          to:
            type: array
            description: The ids of the lists the campaign was sent to.
            items:
              type: string
            title: To
        title: Campaigns
        additionalProperties: true
  - type: DeclarativeStream
    name: lists
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://emailoctopus.com/api/1.6
        path: /lists
        http_method: GET
        request_parameters:
          api_key: "{{ config['api_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: PageIncrement
          page_size: 50
    transformations:
      - type: RemoveFields
        field_pointers:
          - - tags
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        description: Details of all lists.
        properties:
          counts:
            type: object
            description: The summary counts of the list.
            properties:
              pending:
                type: integer
                description: The number of pending contacts in the list.
                title: Pending
              subscribed:
                type: integer
                description: The number of subscribed contacts in the list.
                title: Subscribed
              unsubscribed:
                type: integer
                description: The number of unsubscribed contacts in the list.
                title: Unsubscribed
            title: Counts
          created_at:
            type: string
            description: When the list was created, in ISO 8601 format.
            title: List Created At
          double_opt_in:
            type: boolean
            description: If double opt-in has been enabled on the list.
            title: Double Opt-in
          fields:
            type: array
            description: Stored information on subscribers.
            properties:
              type:
                type: string
                description: The type of the field - can be NUMBER, TEXT or DATE.
                title: Type
              fallback:
                type: "null"
                description: >-
                  A default value for the field, used when there is no other value
                  available.
                title: Fallback
              label:
                type: string
                description: A human readable label for the field.
                title: Label
              tag:
                type: string
                description: The identifier used to reference the field in your emails.
                title: Tag
            title: Subscriber Fields
          id:
            type: string
            description: The identifier of the list.
            title: List ID
          name:
            type: string
            description: The name of the list.
            title: List Name
        title: Lists
        additionalProperties: true
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: EmailOctopus API key
        description: >-
          EmailOctopus API Key. See the <a
          href="https://help.emailoctopus.com/article/165-how-to-create-and-delete-api-keys">docs</a>
          for information on how to generate this key.
        airbyte_secret: true
        order: 0
    additionalProperties: true
metadata:
  autoImportSchema:
    campaigns: false
    lists: false
schemas:
  campaigns:
    type: object
    description: Details of all campaigns.
    properties:
      created_at:
        type: string
        description: When the campaign was created, in ISO 8601 format.
        title: Campaign Created At
      from:
        type: object
        description: The sender of the campaign.
        properties:
          email_address:
            type: string
            description: The email address the campaign was sent from.
            title: Sender Email Address
          name:
            type: string
            description: The name the campaign was sent from.
            title: Sender Name
        title: From
      id:
        type: string
        description: The identifier of the campaign.
        title: Campaign ID
      name:
        type:
          - string
          - "null"
        description: The name of the campaign.
        title: Campaign Name
      sent_at:
        type: string
        description: When the campaign was sent, in ISO 8601 format.
        title: Campaign Sent At
      status:
        type: string
        description: The status of the campaign (DRAFT/SENDING/SENT/ERROR).
        title: Status
      subject:
        type:
          - string
          - "null"
        description: The subject of the campaign.
        title: Subject
      to:
        type: array
        description: The ids of the lists the campaign was sent to.
        items:
          type: string
        title: To
    title: Campaigns
    additionalProperties: true
  lists:
    type: object
    description: Details of all lists.
    properties:
      counts:
        type: object
        description: The summary counts of the list.
        properties:
          pending:
            type: integer
            description: The number of pending contacts in the list.
            title: Pending
          subscribed:
            type: integer
            description: The number of subscribed contacts in the list.
            title: Subscribed
          unsubscribed:
            type: integer
            description: The number of unsubscribed contacts in the list.
            title: Unsubscribed
        title: Counts
      created_at:
        type: string
        description: When the list was created, in ISO 8601 format.
        title: List Created At
      double_opt_in:
        type: boolean
        description: If double opt-in has been enabled on the list.
        title: Double Opt-in
      fields:
        type: array
        description: Stored information on subscribers.
        properties:
          type:
            type: string
            description: The type of the field - can be NUMBER, TEXT or DATE.
            title: Type
          fallback:
            type: "null"
            description: >-
              A default value for the field, used when there is no other value
              available.
            title: Fallback
          label:
            type: string
            description: A human readable label for the field.
            title: Label
          tag:
            type: string
            description: The identifier used to reference the field in your emails.
            title: Tag
        title: Subscriber Fields
      id:
        type: string
        description: The identifier of the list.
        title: List ID
      name:
        type: string
        description: The name of the list.
        title: List Name
    title: Lists
    additionalProperties: true
