version: 7.4.2

type: DeclarativeSource

description: scrape, crawl, batch scrape

check:
  type: CheckStream
  stream_names:
    - scrape
    - crawl

definitions:
  linked:
    HttpRequester:
      request_body:
        type: RequestBodyJsonObject
        value:
          url: "{{ config['target_url'] }}"
      authenticator:
        type: BearerAuthenticator
        api_token: "{{ config['api_key'] }}"

streams:
  - type: DeclarativeStream
    name: scrape
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: https://api.firecrawl.dev/v2/scrape
        http_method: POST
        request_body:
          type: RequestBodyJsonObject
          value:
            url: "{{ config['target_url'] }}"
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          metadata:
            type:
              - object
              - "null"
            properties:
              url:
                type:
                  - string
                  - "null"
              title:
                type:
                  - string
                  - "null"
              cachedAt:
                type:
                  - string
                  - "null"
              language:
                type:
                  - string
                  - "null"
              scrapeId:
                type:
                  - string
                  - "null"
              viewport:
                type:
                  - string
                  - "null"
              proxyUsed:
                type:
                  - string
                  - "null"
              sourceURL:
                type:
                  - string
                  - "null"
              cacheState:
                type:
                  - string
                  - "null"
              statusCode:
                type:
                  - number
                  - "null"
              contentType:
                type:
                  - string
                  - "null"
              creditsUsed:
                type:
                  - number
                  - "null"
          markdown:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: crawl
    retriever:
      type: AsyncRetriever
      status_mapping:
        type: AsyncJobStatusMap
        failed:
          - failed
        running:
          - scraping
        timeout: []
        completed:
          - completed
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      status_extractor:
        type: DpathExtractor
        field_path:
          - status
      polling_requester:
        type: HttpRequester
        url: https://api.firecrawl.dev/v2/crawl/{{ creation_response['id'] }}
        http_method: GET
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
      creation_requester:
        type: HttpRequester
        url: https://api.firecrawl.dev/v2/crawl
        use_cache: false
        http_method: POST
        request_body:
          type: RequestBodyJsonObject
          value:
            url: "{{ config['target_url'] }}"
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
      download_requester:
        type: HttpRequester
        url: https://api.firecrawl.dev/v2/crawl/{{ creation_response['id'] }}
        http_method: GET
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
      polling_job_timeout: 1
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          data:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                metadata:
                  type:
                    - object
                    - "null"
                  properties:
                    url:
                      type:
                        - string
                        - "null"
                    title:
                      type:
                        - string
                        - "null"
                    cachedAt:
                      type:
                        - string
                        - "null"
                    language:
                      type:
                        - string
                        - "null"
                    scrapeId:
                      type:
                        - string
                        - "null"
                    viewport:
                      type:
                        - string
                        - "null"
                    proxyUsed:
                      type:
                        - string
                        - "null"
                    sourceURL:
                      type:
                        - string
                        - "null"
                    cacheState:
                      type:
                        - string
                        - "null"
                    statusCode:
                      type:
                        - number
                        - "null"
                    contentType:
                      type:
                        - string
                        - "null"
                    creditsUsed:
                      type:
                        - number
                        - "null"
                markdown:
                  type:
                    - string
                    - "null"
          total:
            type:
              - number
              - "null"
          status:
            type:
              - string
              - "null"
          success:
            type:
              - boolean
              - "null"
          completed:
            type:
              - number
              - "null"
          expiresAt:
            type:
              - string
              - "null"
          creditsUsed:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: batch scrape
    retriever:
      type: AsyncRetriever
      status_mapping:
        type: AsyncJobStatusMap
        failed:
          - failed
        running:
          - scraping
        timeout: []
        completed:
          - completed
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      status_extractor:
        type: DpathExtractor
        field_path:
          - status
      polling_requester:
        type: HttpRequester
        url: >-
          https://api.firecrawl.dev/v2/batch/scrape/{{ creation_response['id']
          }}
        http_method: GET
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
      creation_requester:
        type: HttpRequester
        url: https://api.firecrawl.dev/v2/batch/scrape
        http_method: POST
        request_body:
          type: RequestBodyJsonObject
          value:
            urls: "{{ config['batch_urls'] }}"
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
      download_requester:
        type: HttpRequester
        url: >-
          https://api.firecrawl.dev/v2/batch/scrape/{{ creation_response['id']
          }}
        http_method: GET
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
      polling_job_timeout: 1
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          data:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                metadata:
                  type:
                    - object
                    - "null"
                  properties:
                    description:
                      type:
                        - string
                        - "null"
                    url:
                      type:
                        - string
                        - "null"
                    title:
                      type:
                        - string
                        - "null"
                    chrome:
                      type:
                        - string
                        - "null"
                    cachedAt:
                      type:
                        - string
                        - "null"
                    language:
                      type:
                        - string
                        - "null"
                    referrer:
                      type:
                        - string
                        - "null"
                    scrapeId:
                      type:
                        - string
                        - "null"
                    viewport:
                      type:
                        - string
                        - "null"
                    proxyUsed:
                      type:
                        - string
                        - "null"
                    sourceURL:
                      type:
                        - string
                        - "null"
                    cacheState:
                      type:
                        - string
                        - "null"
                    statusCode:
                      type:
                        - number
                        - "null"
                    contentType:
                      type:
                        - string
                        - "null"
                    creditsUsed:
                      type:
                        - number
                        - "null"
                markdown:
                  type:
                    - string
                    - "null"
          total:
            type:
              - number
              - "null"
          status:
            type:
              - string
              - "null"
          success:
            type:
              - boolean
              - "null"
          completed:
            type:
              - number
              - "null"
          expiresAt:
            type:
              - string
              - "null"
          creditsUsed:
            type:
              - number
              - "null"
        additionalProperties: true

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - target_url
      - api_key
    properties:
      api_key:
        type: string
        order: 1
        title: API Key
        airbyte_secret: true
      formats:
        type: array
        description: >-
          all format options are:  String formats:  "markdown" (default) "html"
          "rawHtml" (no modifications) "links" "summary" "images" Object
          formats:  JSON: { "type": "json", "prompt": "...", "schema": {...} }
          Screenshot: { "type": "screenshot", "fullPage": true, "quality": 80,
          "viewport": {...} } Change tracking: { "type": "changeTracking",
          "modes": [...], "prompt": "...", "schema": {...}, "tag": "..." }
          (requires markdown)
        order: 3
        title: formats
      batch_urls:
        type: array
        description: List of URLs to scrape for Batch Scrape
        order: 2
        title: batch urls
      target_url:
        type: string
        order: 0
        title: target_url
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://docs.firecrawl.dev/introduction
    openapiSpecUrl: https://docs.firecrawl.dev/introduction
  testedStreams:
    crawl:
      isStale: false
      hasRecords: true
      streamHash: 9a861ecf6b9d70f71d5423e4ef08d7b1e0164afa
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    scrape:
      isStale: false
      hasRecords: true
      streamHash: 93a381e2e576f54f5d6b129a034254298105b574
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    stream_0:
      streamHash: ad11f9fa446b445a056b0f48d54e74059e0bc977
    batch scrape:
      isStale: false
      hasRecords: true
      streamHash: ba83088224f85702f1d58e8e3ae67ab52cfea339
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    crawl: true
    scrape: true
    batch scrape: true
