version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - dashboards
definitions:
  streams:
    cards:
      type: DeclarativeStream
      name: cards
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          url_base: "{{ config['instance_api_url'] }}"
          http_method: GET
          authenticator:
            type: "LegacySessionTokenAuthenticator"
            username: "{{ config['username'] }}"
            password: "{{ config['password'] }}"
            header: "X-Metabase-Session"
            session_token: "{{ config['session_token'] }}"
            session_token_response_key: "id"
            login_url: "session"
            validate_session_url: "user/current"
          path: card
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            archived:
              type:
                - "null"
                - boolean
            cache_ttl:
              type:
                - "null"
                - integer
            collection:
              type:
                - "null"
                - object
              properties:
                archived:
                  type:
                    - "null"
                    - boolean
                authority_level:
                  type:
                    - "null"
                    - string
                color:
                  type:
                    - "null"
                    - string
                description:
                  type:
                    - "null"
                    - string
                id:
                  type:
                    - "null"
                    - integer
                location:
                  type:
                    - "null"
                    - string
                name:
                  type:
                    - "null"
                    - string
                namespace:
                  type:
                    - "null"
                    - string
                personal_owner_id:
                  type:
                    - "null"
                    - integer
                slug:
                  type:
                    - "null"
                    - string
            collection_id:
              type:
                - "null"
                - integer
            collection_position:
              type:
                - "null"
                - integer
            created_at:
              type:
                - "null"
                - string
            creator:
              type:
                - "null"
                - object
              properties:
                common_name:
                  type:
                    - "null"
                    - string
                date_joined:
                  type:
                    - "null"
                    - string
                email:
                  type:
                    - "null"
                    - string
                first_name:
                  type:
                    - "null"
                    - string
                id:
                  type:
                    - "null"
                    - integer
                is_qbnewb:
                  type:
                    - "null"
                    - boolean
                is_superuser:
                  type:
                    - "null"
                    - boolean
                last_login:
                  type:
                    - "null"
                    - string
                last_name:
                  type:
                    - "null"
                    - string
            creator_id:
              type:
                - "null"
                - integer
            database_id:
              type:
                - "null"
                - integer
            dataset:
              type:
                - "null"
                - boolean
            dataset_query:
              type:
                - "null"
                - object
              properties:
                type:
                  type:
                    - "null"
                    - string
                database:
                  type:
                    - "null"
                    - integer
                native:
                  type:
                    - "null"
                    - object
                  properties:
                    query:
                      type:
                        - "null"
                        - string
                    template-tags:
                      type:
                        - "null"
                        - object
            description:
              type:
                - "null"
                - string
            display:
              type:
                - "null"
                - string
            embedding_params:
              type:
                - "null"
                - string
            enable_embedding:
              type:
                - "null"
                - boolean
            id:
              type:
                - "null"
                - integer
            last-edit-info:
              type:
                - "null"
                - object
              properties:
                email:
                  type:
                    - "null"
                    - string
                first_name:
                  type:
                    - "null"
                    - string
                id:
                  type:
                    - "null"
                    - integer
                last_name:
                  type:
                    - "null"
                    - string
                timestamp:
                  type:
                    - "null"
                    - string
            made_public_by_id:
              type:
                - "null"
                - integer
            name:
              type:
                - "null"
                - string
            public_uuid:
              type:
                - "null"
                - string
            query_type:
              type:
                - "null"
                - string
            result_metadata:
              type:
                - "null"
                - array
              items:
                properties:
                  base_type:
                    type:
                      - "null"
                      - string
                  display_name:
                    type:
                      - "null"
                      - string
                  effective_type:
                    type:
                      - "null"
                      - string
                  field_ref:
                    type:
                      - "null"
                      - string
                      - array
                  fingerprint:
                    type:
                      - "null"
                      - object
                  name:
                    type:
                      - "null"
                      - string
                  semantic_type:
                    type:
                      - "null"
                      - string
            table_id:
              type:
                - "null"
                - integer
            updated_at:
              type:
                - "null"
                - string
            visualization_settings:
              type:
                - "null"
                - object
    collections:
      type: DeclarativeStream
      name: collections
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          url_base: "{{ config['instance_api_url'] }}"
          http_method: GET
          authenticator:
            type: "LegacySessionTokenAuthenticator"
            username: "{{ config['username'] }}"
            password: "{{ config['password'] }}"
            header: "X-Metabase-Session"
            session_token: "{{ config['session_token'] }}"
            session_token_response_key: "id"
            login_url: "session"
            validate_session_url: "user/current"
          path: collection
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            archived:
              type:
                - "null"
                - boolean
            authority_level:
              type:
                - "null"
                - string
            can_write:
              type:
                - "null"
                - boolean
            color:
              type:
                - "null"
                - string
            description:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
                - string
            location:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            namespace:
              type:
                - "null"
                - string
            personal_owner_id:
              type:
                - "null"
                - integer
            slug:
              type:
                - "null"
                - string
    dashboards:
      type: DeclarativeStream
      name: dashboards
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          url_base: "{{ config['instance_api_url'] }}"
          http_method: GET
          authenticator:
            type: "LegacySessionTokenAuthenticator"
            username: "{{ config['username'] }}"
            password: "{{ config['password'] }}"
            header: "X-Metabase-Session"
            session_token: "{{ config['session_token'] }}"
            session_token_response_key: "id"
            login_url: "session"
            validate_session_url: "user/current"
          path: /dashboard/{{stream_slice.id}}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: id
                stream:
                  type: DeclarativeStream
                  name: collections_items_dashboards
                  retriever:
                    type: SimpleRetriever
                    requester:
                      url_base: "{{ config['instance_api_url'] }}"
                      http_method: GET
                      authenticator:
                        type: "LegacySessionTokenAuthenticator"
                        username: "{{ config['username'] }}"
                        password: "{{ config['password'] }}"
                        header: "X-Metabase-Session"
                        session_token: "{{ config['session_token'] }}"
                        session_token_response_key: "id"
                        login_url: "session"
                        validate_session_url: "user/current"
                      path: collection/{{stream_slice.id}}/items?models=dashboard
                    record_selector:
                      type: RecordSelector
                      extractor:
                        type: DpathExtractor
                        field_path:
                          - data
                    partition_router:
                      - type: SubstreamPartitionRouter
                        parent_stream_configs:
                          - type: ParentStreamConfig
                            parent_key: id
                            partition_field: id
                            stream:
                              type: DeclarativeStream
                              name: collections
                              primary_key:
                                - id
                              retriever:
                                type: SimpleRetriever
                                requester:
                                  url_base: "{{ config['instance_api_url'] }}"
                                  http_method: GET
                                  authenticator:
                                    type: "LegacySessionTokenAuthenticator"
                                    username: "{{ config['username'] }}"
                                    password: "{{ config['password'] }}"
                                    header: "X-Metabase-Session"
                                    session_token: "{{ config['session_token'] }}"
                                    session_token_response_key: "id"
                                    login_url: "session"
                                    validate_session_url: "user/current"
                                  path: collection
                                record_selector:
                                  type: RecordSelector
                                  extractor:
                                    type: DpathExtractor
                                    field_path: []
                              schema_loader:
                                type: InlineSchemaLoader
                                schema:
                                  type: object
                                  $schema: http://json-schema.org/draft-07/schema#
                                  additionalProperties: true
                                  properties:
                                    archived:
                                      type:
                                        - "null"
                                        - boolean
                                    authority_level:
                                      type:
                                        - "null"
                                        - string
                                    can_write:
                                      type:
                                        - "null"
                                        - boolean
                                    color:
                                      type:
                                        - "null"
                                        - string
                                    description:
                                      type:
                                        - "null"
                                        - string
                                    id:
                                      type:
                                        - "null"
                                        - integer
                                        - string
                                    location:
                                      type:
                                        - "null"
                                        - string
                                    name:
                                      type:
                                        - "null"
                                        - string
                                    namespace:
                                      type:
                                        - "null"
                                        - string
                                    personal_owner_id:
                                      type:
                                        - "null"
                                        - integer
                                    slug:
                                      type:
                                        - "null"
                                        - string
                  schema_loader:
                    type: InlineSchemaLoader
                    schema:
                      type: object
                      $schema: http://json-schema.org/draft-07/schema#
                      additionalProperties: true
                      properties: {}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            archived:
              type:
                - "null"
                - boolean
            cache_ttl:
              type:
                - "null"
                - integer
            can_write:
              type:
                - "null"
                - boolean
            caveats:
              type:
                - "null"
                - string
            collection:
              type:
                - "null"
                - object
              properties: {}
            collection_authority_level:
              type:
                - "null"
                - string
            collection_id:
              type:
                - "null"
                - integer
            collection_position:
              type:
                - "null"
                - integer
            created_at:
              type:
                - "null"
                - string
            creator_id:
              type:
                - "null"
                - integer
            dashcards:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                properties: {}
            description:
              type:
                - "null"
                - string
            embedding_params:
              type:
                - "null"
                - object
            enable_embedding:
              type:
                - "null"
                - boolean
            id:
              type:
                - "null"
                - integer
            last-edit-info:
              type:
                - "null"
                - object
              properties:
                email:
                  type:
                    - "null"
                    - string
                first_name:
                  type:
                    - "null"
                    - string
                id:
                  type:
                    - "null"
                    - integer
                last_name:
                  type:
                    - "null"
                    - string
                timestamp:
                  type:
                    - "null"
                    - string
            made_public_by_id:
              type:
                - "null"
                - integer
            name:
              type:
                - "null"
                - string
            param_fields:
              type:
                - "null"
                - object
              properties: {}
            param_values:
              type:
                - "null"
                - object
              properties: {}
            parameters:
              type:
                - "null"
                - array
              items:
                properties:
                  type:
                    type:
                      - "null"
                      - string
                  default:
                    type:
                      - "null"
                      - array
                      - string
                    items:
                      type:
                        - "null"
                        - array
                        - boolean
                        - integer
                        - string
                  id:
                    type:
                      - "null"
                      - string
                  name:
                    type:
                      - "null"
                      - string
                  sectionId:
                    type:
                      - "null"
                      - string
                  slug:
                    type:
                      - "null"
                      - string
            points_of_interest:
              type:
                - "null"
                - string
            position:
              type:
                - "null"
                - string
            public_uuid:
              type:
                - "null"
                - string
            show_in_getting_started:
              type:
                - "null"
                - boolean
            tabs:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                properties: {}
            updated_at:
              type:
                - "null"
                - string
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          url_base: "{{ config['instance_api_url'] }}"
          http_method: GET
          authenticator:
            type: "LegacySessionTokenAuthenticator"
            username: "{{ config['username'] }}"
            password: "{{ config['password'] }}"
            header: "X-Metabase-Session"
            session_token: "{{ config['session_token'] }}"
            session_token_response_key: "id"
            login_url: "session"
            validate_session_url: "user/current"
          path: user
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            common_name:
              type:
                - "null"
                - string
            email:
              type:
                - "null"
                - string
            first_name:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
            last_name:
              type:
                - "null"
                - string
    databases:
      type: DeclarativeStream
      name: databases
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          url_base: "{{ config['instance_api_url'] }}"
          http_method: GET
          authenticator:
            type: "LegacySessionTokenAuthenticator"
            username: "{{ config['username'] }}"
            password: "{{ config['password'] }}"
            header: "X-Metabase-Session"
            session_token: "{{ config['session_token'] }}"
            session_token_response_key: "id"
            login_url: "session"
            validate_session_url: "user/current"
          path: database
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            auto_run_queries:
              type:
                - "null"
                - boolean
            cache_field_values_schedule:
              type:
                - "null"
                - string
            cache_ttl:
              type:
                - "null"
                - integer
            can_upload:
              type:
                - "null"
                - boolean
            caveats:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
            creator_id:
              type:
                - "null"
                - integer
            dbms_version:
              type:
                - object
                - "null"
              properties:
                version:
                  type:
                    - "null"
                    - string
                flavor:
                  type:
                    - "null"
                    - string
                semantic-version:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - integer
                      - "null"
            description:
              type:
                - string
                - "null"
            details:
              type:
                - object
                - "null"
              properties:
                advanced-options:
                  type:
                    - "null"
                    - boolean
                cloud-ip-address-info:
                  type:
                    - "null"
                    - string
                dataset-filters-patterns:
                  type:
                    - "null"
                    - string
                dataset-filters-type:
                  type:
                    - "null"
                    - string
                db:
                  type:
                    - "null"
                    - string
                include-user-id-and-hash:
                  type:
                    - "null"
                    - boolean
                let-user-control-scheduling:
                  type:
                    - "null"
                    - boolean
                project-id:
                  type:
                    - "null"
                    - string
                project-id-from-credentials:
                  type:
                    - "null"
                    - string
                service-account-json:
                  type:
                    - "null"
                    - string
                ssl:
                  type:
                    - "null"
                    - boolean
                use-jvm-timezone:
                  type:
                    - "null"
                    - boolean
            engine:
              type:
                - "null"
                - string
            features:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - string
            id:
              type:
                - integer
                - "null"
            initial_sync_status:
              type:
                - "null"
                - string
            is_audit:
              type:
                - "null"
                - boolean
            is_full_sync:
              type:
                - "null"
                - boolean
            is_on_demand:
              type:
                - "null"
                - boolean
            is_sample:
              type:
                - "null"
                - boolean
            metadata_sync_schedule:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            native_permissions:
              type:
                - "null"
                - string
            options:
              type:
                - "null"
                - string
            points_of_interest:
              type:
                - "null"
                - string
            refingerprint:
              type:
                - "null"
                - boolean
            settings:
              type:
                - "null"
                - string
            timezone:
              type:
                - "null"
                - string
            updated_at:
              type:
                - "null"
                - string
    native_query_snippets:
      type: DeclarativeStream
      name: native_query_snippets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          url_base: "{{ config['instance_api_url'] }}"
          http_method: GET
          authenticator:
            type: "LegacySessionTokenAuthenticator"
            username: "{{ config['username'] }}"
            password: "{{ config['password'] }}"
            header: "X-Metabase-Session"
            session_token: "{{ config['session_token'] }}"
            session_token_response_key: "id"
            login_url: "session"
            validate_session_url: "user/current"
          path: native-query-snippet
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            archived:
              type:
                - "null"
                - boolean
            collection_id:
              type:
                - "null"
                - integer
            content:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
            creator:
              type:
                - "null"
                - object
              properties:
                common_name:
                  type:
                    - "null"
                    - string
                date_joined:
                  type:
                    - "null"
                    - string
                email:
                  type:
                    - "null"
                    - string
                first_name:
                  type:
                    - "null"
                    - string
                id:
                  type:
                    - integer
                    - "null"
                is_qbnewb:
                  type:
                    - "null"
                    - boolean
                is_superuser:
                  type:
                    - "null"
                    - boolean
                last_login:
                  type:
                    - "null"
                    - string
                last_name:
                  type:
                    - "null"
                    - string
            creator_id:
              type:
                - "null"
                - integer
            description:
              type:
                - "null"
                - string
            entity_id:
              type:
                - "null"
                - string
            id:
              type:
                - integer
                - "null"
            name:
              type:
                - "null"
                - string
            updated_at:
              type:
                - "null"
                - string
    collections_items_dashboards:
      type: DeclarativeStream
      name: collections_items_dashboards
      retriever:
        type: SimpleRetriever
        requester:
          url_base: "{{ config['instance_api_url'] }}"
          http_method: GET
          authenticator:
            type: "LegacySessionTokenAuthenticator"
            username: "{{ config['username'] }}"
            password: "{{ config['password'] }}"
            header: "X-Metabase-Session"
            session_token: "{{ config['session_token'] }}"
            session_token_response_key: "id"
            login_url: "session"
            validate_session_url: "user/current"
          path: collection/{{stream_slice.id}}/items?models=dashboard
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: id
                stream:
                  type: DeclarativeStream
                  name: collections
                  primary_key:
                    - id
                  retriever:
                    type: SimpleRetriever
                    requester:
                      url_base: "{{ config['instance_api_url'] }}"
                      http_method: GET
                      authenticator:
                        type: "LegacySessionTokenAuthenticator"
                        username: "{{ config['username'] }}"
                        password: "{{ config['password'] }}"
                        header: "X-Metabase-Session"
                        session_token: "{{ config['session_token'] }}"
                        session_token_response_key: "id"
                        login_url: "session"
                        validate_session_url: "user/current"
                      path: collection
                    record_selector:
                      type: RecordSelector
                      extractor:
                        type: DpathExtractor
                        field_path: []
                  schema_loader:
                    type: InlineSchemaLoader
                    schema:
                      type: object
                      $schema: http://json-schema.org/draft-07/schema#
                      additionalProperties: true
                      properties:
                        archived:
                          type:
                            - "null"
                            - boolean
                        authority_level:
                          type:
                            - "null"
                            - string
                        can_write:
                          type:
                            - "null"
                            - boolean
                        color:
                          type:
                            - "null"
                            - string
                        description:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - integer
                            - string
                        location:
                          type:
                            - "null"
                            - string
                        name:
                          type:
                            - "null"
                            - string
                        namespace:
                          type:
                            - "null"
                            - string
                        personal_owner_id:
                          type:
                            - "null"
                            - integer
                        slug:
                          type:
                            - "null"
                            - string
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties: {}
  base_requester:
    url_base: "{{ config['instance_api_url'] }}"
    http_method: "GET"
    authenticator:
      type: "LegacySessionTokenAuthenticator"
      username: "{{ config['username'] }}"
      password: "{{ config['password'] }}"
      header: "X-Metabase-Session"
      session_token: "{{ config['session_token'] }}"
      session_token_response_key: "id"
      login_url: "session"
      validate_session_url: "user/current"
streams:
  - type: DeclarativeStream
    name: cards
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        url_base: "{{ config['instance_api_url'] }}"
        http_method: GET
        authenticator:
          type: "LegacySessionTokenAuthenticator"
          username: "{{ config['username'] }}"
          password: "{{ config['password'] }}"
          header: "X-Metabase-Session"
          session_token: "{{ config['session_token'] }}"
          session_token_response_key: "id"
          login_url: "session"
          validate_session_url: "user/current"
        path: card
        type: HttpRequester
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          archived:
            type:
              - "null"
              - boolean
          cache_ttl:
            type:
              - "null"
              - integer
          collection:
            type:
              - "null"
              - object
            properties:
              archived:
                type:
                  - "null"
                  - boolean
              authority_level:
                type:
                  - "null"
                  - string
              color:
                type:
                  - "null"
                  - string
              description:
                type:
                  - "null"
                  - string
              id:
                type:
                  - "null"
                  - integer
              location:
                type:
                  - "null"
                  - string
              name:
                type:
                  - "null"
                  - string
              namespace:
                type:
                  - "null"
                  - string
              personal_owner_id:
                type:
                  - "null"
                  - integer
              slug:
                type:
                  - "null"
                  - string
          collection_id:
            type:
              - "null"
              - integer
          collection_position:
            type:
              - "null"
              - integer
          created_at:
            type:
              - "null"
              - string
          creator:
            type:
              - "null"
              - object
            properties:
              common_name:
                type:
                  - "null"
                  - string
              date_joined:
                type:
                  - "null"
                  - string
              email:
                type:
                  - "null"
                  - string
              first_name:
                type:
                  - "null"
                  - string
              id:
                type:
                  - "null"
                  - integer
              is_qbnewb:
                type:
                  - "null"
                  - boolean
              is_superuser:
                type:
                  - "null"
                  - boolean
              last_login:
                type:
                  - "null"
                  - string
              last_name:
                type:
                  - "null"
                  - string
          creator_id:
            type:
              - "null"
              - integer
          database_id:
            type:
              - "null"
              - integer
          dataset:
            type:
              - "null"
              - boolean
          dataset_query:
            type:
              - "null"
              - object
            properties:
              type:
                type:
                  - "null"
                  - string
              database:
                type:
                  - "null"
                  - integer
              native:
                type:
                  - "null"
                  - object
                properties:
                  query:
                    type:
                      - "null"
                      - string
                  template-tags:
                    type:
                      - "null"
                      - object
          description:
            type:
              - "null"
              - string
          display:
            type:
              - "null"
              - string
          embedding_params:
            type:
              - "null"
              - string
          enable_embedding:
            type:
              - "null"
              - boolean
          id:
            type:
              - "null"
              - integer
          last-edit-info:
            type:
              - "null"
              - object
            properties:
              email:
                type:
                  - "null"
                  - string
              first_name:
                type:
                  - "null"
                  - string
              id:
                type:
                  - "null"
                  - integer
              last_name:
                type:
                  - "null"
                  - string
              timestamp:
                type:
                  - "null"
                  - string
          made_public_by_id:
            type:
              - "null"
              - integer
          name:
            type:
              - "null"
              - string
          public_uuid:
            type:
              - "null"
              - string
          query_type:
            type:
              - "null"
              - string
          result_metadata:
            type:
              - "null"
              - array
            items:
              properties:
                base_type:
                  type:
                    - "null"
                    - string
                display_name:
                  type:
                    - "null"
                    - string
                effective_type:
                  type:
                    - "null"
                    - string
                field_ref:
                  type:
                    - "null"
                    - string
                    - array
                fingerprint:
                  type:
                    - "null"
                    - object
                name:
                  type:
                    - "null"
                    - string
                semantic_type:
                  type:
                    - "null"
                    - string
          table_id:
            type:
              - "null"
              - integer
          updated_at:
            type:
              - "null"
              - string
          visualization_settings:
            type:
              - "null"
              - object
  - type: DeclarativeStream
    name: collections
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        url_base: "{{ config['instance_api_url'] }}"
        http_method: GET
        authenticator:
          type: "LegacySessionTokenAuthenticator"
          username: "{{ config['username'] }}"
          password: "{{ config['password'] }}"
          header: "X-Metabase-Session"
          session_token: "{{ config['session_token'] }}"
          session_token_response_key: "id"
          login_url: "session"
          validate_session_url: "user/current"
        path: collection
        type: HttpRequester
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          archived:
            type:
              - "null"
              - boolean
          authority_level:
            type:
              - "null"
              - string
          can_write:
            type:
              - "null"
              - boolean
          color:
            type:
              - "null"
              - string
          description:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
              - string
          location:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          namespace:
            type:
              - "null"
              - string
          personal_owner_id:
            type:
              - "null"
              - integer
          slug:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: dashboards
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        url_base: "{{ config['instance_api_url'] }}"
        http_method: GET
        authenticator:
          type: "LegacySessionTokenAuthenticator"
          username: "{{ config['username'] }}"
          password: "{{ config['password'] }}"
          header: "X-Metabase-Session"
          session_token: "{{ config['session_token'] }}"
          session_token_response_key: "id"
          login_url: "session"
          validate_session_url: "user/current"
        path: /dashboard/{{stream_slice.id}}
        type: HttpRequester
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                type: DeclarativeStream
                name: collections_items_dashboards
                retriever:
                  type: SimpleRetriever
                  requester:
                    url_base: "{{ config['instance_api_url'] }}"
                    http_method: GET
                    authenticator:
                      type: "LegacySessionTokenAuthenticator"
                      username: "{{ config['username'] }}"
                      password: "{{ config['password'] }}"
                      header: "X-Metabase-Session"
                      session_token: "{{ config['session_token'] }}"
                      session_token_response_key: "id"
                      login_url: "session"
                      validate_session_url: "user/current"
                    path: collection/{{stream_slice.id}}/items?models=dashboard
                    type: HttpRequester
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - data
                  partition_router:
                    - type: SubstreamPartitionRouter
                      parent_stream_configs:
                        - type: ParentStreamConfig
                          parent_key: id
                          partition_field: id
                          stream:
                            type: DeclarativeStream
                            name: collections
                            primary_key:
                              - id
                            retriever:
                              type: SimpleRetriever
                              requester:
                                url_base: "{{ config['instance_api_url'] }}"
                                http_method: GET
                                authenticator:
                                  type: "LegacySessionTokenAuthenticator"
                                  username: "{{ config['username'] }}"
                                  password: "{{ config['password'] }}"
                                  header: "X-Metabase-Session"
                                  session_token: "{{ config['session_token'] }}"
                                  session_token_response_key: "id"
                                  login_url: "session"
                                  validate_session_url: "user/current"
                                path: collection
                                type: HttpRequester
                              record_selector:
                                type: RecordSelector
                                extractor:
                                  type: DpathExtractor
                                  field_path: []
                            schema_loader:
                              type: InlineSchemaLoader
                              schema:
                                type: object
                                $schema: http://json-schema.org/draft-07/schema#
                                additionalProperties: true
                                properties:
                                  archived:
                                    type:
                                      - "null"
                                      - boolean
                                  authority_level:
                                    type:
                                      - "null"
                                      - string
                                  can_write:
                                    type:
                                      - "null"
                                      - boolean
                                  color:
                                    type:
                                      - "null"
                                      - string
                                  description:
                                    type:
                                      - "null"
                                      - string
                                  id:
                                    type:
                                      - "null"
                                      - integer
                                      - string
                                  location:
                                    type:
                                      - "null"
                                      - string
                                  name:
                                    type:
                                      - "null"
                                      - string
                                  namespace:
                                    type:
                                      - "null"
                                      - string
                                  personal_owner_id:
                                    type:
                                      - "null"
                                      - integer
                                  slug:
                                    type:
                                      - "null"
                                      - string
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    type: object
                    $schema: http://json-schema.org/draft-07/schema#
                    additionalProperties: true
                    properties: {}
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          archived:
            type:
              - "null"
              - boolean
          cache_ttl:
            type:
              - "null"
              - integer
          can_write:
            type:
              - "null"
              - boolean
          caveats:
            type:
              - "null"
              - string
          collection:
            type:
              - "null"
              - object
            properties: {}
          collection_authority_level:
            type:
              - "null"
              - string
          collection_id:
            type:
              - "null"
              - integer
          collection_position:
            type:
              - "null"
              - integer
          created_at:
            type:
              - "null"
              - string
          creator_id:
            type:
              - "null"
              - integer
          dashcards:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties: {}
          description:
            type:
              - "null"
              - string
          embedding_params:
            type:
              - "null"
              - object
          enable_embedding:
            type:
              - "null"
              - boolean
          id:
            type:
              - "null"
              - integer
          last-edit-info:
            type:
              - "null"
              - object
            properties:
              email:
                type:
                  - "null"
                  - string
              first_name:
                type:
                  - "null"
                  - string
              id:
                type:
                  - "null"
                  - integer
              last_name:
                type:
                  - "null"
                  - string
              timestamp:
                type:
                  - "null"
                  - string
          made_public_by_id:
            type:
              - "null"
              - integer
          name:
            type:
              - "null"
              - string
          param_fields:
            type:
              - "null"
              - object
            properties: {}
          param_values:
            type:
              - "null"
              - object
            properties: {}
          parameters:
            type:
              - "null"
              - array
            items:
              properties:
                type:
                  type:
                    - "null"
                    - string
                default:
                  type:
                    - "null"
                    - array
                    - string
                  items:
                    type:
                      - "null"
                      - array
                      - boolean
                      - integer
                      - string
                id:
                  type:
                    - "null"
                    - string
                name:
                  type:
                    - "null"
                    - string
                sectionId:
                  type:
                    - "null"
                    - string
                slug:
                  type:
                    - "null"
                    - string
          points_of_interest:
            type:
              - "null"
              - string
          position:
            type:
              - "null"
              - string
          public_uuid:
            type:
              - "null"
              - string
          show_in_getting_started:
            type:
              - "null"
              - boolean
          tabs:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties: {}
          updated_at:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: users
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        url_base: "{{ config['instance_api_url'] }}"
        http_method: GET
        authenticator:
          type: "LegacySessionTokenAuthenticator"
          username: "{{ config['username'] }}"
          password: "{{ config['password'] }}"
          header: "X-Metabase-Session"
          session_token: "{{ config['session_token'] }}"
          session_token_response_key: "id"
          login_url: "session"
          validate_session_url: "user/current"
        path: user
        type: HttpRequester
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          common_name:
            type:
              - "null"
              - string
          email:
            type:
              - "null"
              - string
          first_name:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
          last_name:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: databases
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        url_base: "{{ config['instance_api_url'] }}"
        http_method: GET
        authenticator:
          type: "LegacySessionTokenAuthenticator"
          username: "{{ config['username'] }}"
          password: "{{ config['password'] }}"
          header: "X-Metabase-Session"
          session_token: "{{ config['session_token'] }}"
          session_token_response_key: "id"
          login_url: "session"
          validate_session_url: "user/current"
        path: database
        type: HttpRequester
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          auto_run_queries:
            type:
              - "null"
              - boolean
          cache_field_values_schedule:
            type:
              - "null"
              - string
          cache_ttl:
            type:
              - "null"
              - integer
          can_upload:
            type:
              - "null"
              - boolean
          caveats:
            type:
              - "null"
              - string
          created_at:
            type:
              - "null"
              - string
          creator_id:
            type:
              - "null"
              - integer
          dbms_version:
            type:
              - object
              - "null"
            properties:
              version:
                type:
                  - "null"
                  - string
              flavor:
                type:
                  - "null"
                  - string
              semantic-version:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - integer
                    - "null"
          description:
            type:
              - string
              - "null"
          details:
            type:
              - object
              - "null"
            properties:
              advanced-options:
                type:
                  - "null"
                  - boolean
              cloud-ip-address-info:
                type:
                  - "null"
                  - string
              dataset-filters-patterns:
                type:
                  - "null"
                  - string
              dataset-filters-type:
                type:
                  - "null"
                  - string
              db:
                type:
                  - "null"
                  - string
              include-user-id-and-hash:
                type:
                  - "null"
                  - boolean
              let-user-control-scheduling:
                type:
                  - "null"
                  - boolean
              project-id:
                type:
                  - "null"
                  - string
              project-id-from-credentials:
                type:
                  - "null"
                  - string
              service-account-json:
                type:
                  - "null"
                  - string
              ssl:
                type:
                  - "null"
                  - boolean
              use-jvm-timezone:
                type:
                  - "null"
                  - boolean
          engine:
            type:
              - "null"
              - string
          features:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - string
          id:
            type:
              - integer
              - "null"
          initial_sync_status:
            type:
              - "null"
              - string
          is_audit:
            type:
              - "null"
              - boolean
          is_full_sync:
            type:
              - "null"
              - boolean
          is_on_demand:
            type:
              - "null"
              - boolean
          is_sample:
            type:
              - "null"
              - boolean
          metadata_sync_schedule:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          native_permissions:
            type:
              - "null"
              - string
          options:
            type:
              - "null"
              - string
          points_of_interest:
            type:
              - "null"
              - string
          refingerprint:
            type:
              - "null"
              - boolean
          settings:
            type:
              - "null"
              - string
          timezone:
            type:
              - "null"
              - string
          updated_at:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: native_query_snippets
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        url_base: "{{ config['instance_api_url'] }}"
        http_method: GET
        authenticator:
          type: "LegacySessionTokenAuthenticator"
          username: "{{ config['username'] }}"
          password: "{{ config['password'] }}"
          header: "X-Metabase-Session"
          session_token: "{{ config['session_token'] }}"
          session_token_response_key: "id"
          login_url: "session"
          validate_session_url: "user/current"
        path: native-query-snippet
        type: HttpRequester
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          archived:
            type:
              - "null"
              - boolean
          collection_id:
            type:
              - "null"
              - integer
          content:
            type:
              - "null"
              - string
          created_at:
            type:
              - "null"
              - string
          creator:
            type:
              - "null"
              - object
            properties:
              common_name:
                type:
                  - "null"
                  - string
              date_joined:
                type:
                  - "null"
                  - string
              email:
                type:
                  - "null"
                  - string
              first_name:
                type:
                  - "null"
                  - string
              id:
                type:
                  - integer
                  - "null"
              is_qbnewb:
                type:
                  - "null"
                  - boolean
              is_superuser:
                type:
                  - "null"
                  - boolean
              last_login:
                type:
                  - "null"
                  - string
              last_name:
                type:
                  - "null"
                  - string
          creator_id:
            type:
              - "null"
              - integer
          description:
            type:
              - "null"
              - string
          entity_id:
            type:
              - "null"
              - string
          id:
            type:
              - integer
              - "null"
          name:
            type:
              - "null"
              - string
          updated_at:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: collections_items_dashboards
    retriever:
      type: SimpleRetriever
      requester:
        url_base: "{{ config['instance_api_url'] }}"
        http_method: GET
        authenticator:
          type: "LegacySessionTokenAuthenticator"
          username: "{{ config['username'] }}"
          password: "{{ config['password'] }}"
          header: "X-Metabase-Session"
          session_token: "{{ config['session_token'] }}"
          session_token_response_key: "id"
          login_url: "session"
          validate_session_url: "user/current"
        path: collection/{{stream_slice.id}}/items?models=dashboard
        type: HttpRequester
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                type: DeclarativeStream
                name: collections
                primary_key:
                  - id
                retriever:
                  type: SimpleRetriever
                  requester:
                    url_base: "{{ config['instance_api_url'] }}"
                    http_method: GET
                    authenticator:
                      type: "LegacySessionTokenAuthenticator"
                      username: "{{ config['username'] }}"
                      password: "{{ config['password'] }}"
                      header: "X-Metabase-Session"
                      session_token: "{{ config['session_token'] }}"
                      session_token_response_key: "id"
                      login_url: "session"
                      validate_session_url: "user/current"
                    path: collection
                    type: HttpRequester
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path: []
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    type: object
                    $schema: http://json-schema.org/draft-07/schema#
                    additionalProperties: true
                    properties:
                      archived:
                        type:
                          - "null"
                          - boolean
                      authority_level:
                        type:
                          - "null"
                          - string
                      can_write:
                        type:
                          - "null"
                          - boolean
                      color:
                        type:
                          - "null"
                          - string
                      description:
                        type:
                          - "null"
                          - string
                      id:
                        type:
                          - "null"
                          - integer
                          - string
                      location:
                        type:
                          - "null"
                          - string
                      name:
                        type:
                          - "null"
                          - string
                      namespace:
                        type:
                          - "null"
                          - string
                      personal_owner_id:
                        type:
                          - "null"
                          - integer
                      slug:
                        type:
                          - "null"
                          - string
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties: {}
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - instance_api_url
      - username
    properties:
      instance_api_url:
        type: string
        title: Metabase Instance API URL
        description: URL to your metabase instance API
        examples:
          - https://localhost:3000/api/
        pattern: ^https://
        order: 0
      username:
        type: string
        title: Username
        order: 1
      password:
        type: string
        title: Password
        always_show: true
        airbyte_secret: true
        order: 2
      session_token:
        type: string
        description: >-
          To generate your session token, you need to run the following command:
          ``` curl -X POST \
            -H "Content-Type: application/json" \
            -d '{"username": "person@metabase.com", "password": "fakepassword"}' \
            http://localhost:3000/api/session
          ``` Then copy the value of the `id` field returned by a successful
          call to that API.

          Note that by default, sessions are good for 14 days and needs to be
          regenerated.
        airbyte_secret: true
        order: 3
    additionalProperties: true
metadata:
  autoImportSchema:
    cards: false
    collections: false
    dashboards: false
    users: false
    databases: false
    native_query_snippets: false
    collections_items_dashboards: false
schemas:
  cards:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      archived:
        type:
          - "null"
          - boolean
      cache_ttl:
        type:
          - "null"
          - integer
      collection:
        type:
          - "null"
          - object
        properties:
          archived:
            type:
              - "null"
              - boolean
          authority_level:
            type:
              - "null"
              - string
          color:
            type:
              - "null"
              - string
          description:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
          location:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          namespace:
            type:
              - "null"
              - string
          personal_owner_id:
            type:
              - "null"
              - integer
          slug:
            type:
              - "null"
              - string
      collection_id:
        type:
          - "null"
          - integer
      collection_position:
        type:
          - "null"
          - integer
      created_at:
        type:
          - "null"
          - string
      creator:
        type:
          - "null"
          - object
        properties:
          common_name:
            type:
              - "null"
              - string
          date_joined:
            type:
              - "null"
              - string
          email:
            type:
              - "null"
              - string
          first_name:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
          is_qbnewb:
            type:
              - "null"
              - boolean
          is_superuser:
            type:
              - "null"
              - boolean
          last_login:
            type:
              - "null"
              - string
          last_name:
            type:
              - "null"
              - string
      creator_id:
        type:
          - "null"
          - integer
      database_id:
        type:
          - "null"
          - integer
      dataset:
        type:
          - "null"
          - boolean
      dataset_query:
        type:
          - "null"
          - object
        properties:
          type:
            type:
              - "null"
              - string
          database:
            type:
              - "null"
              - integer
          native:
            type:
              - "null"
              - object
            properties:
              query:
                type:
                  - "null"
                  - string
              template-tags:
                type:
                  - "null"
                  - object
      description:
        type:
          - "null"
          - string
      display:
        type:
          - "null"
          - string
      embedding_params:
        type:
          - "null"
          - string
      enable_embedding:
        type:
          - "null"
          - boolean
      id:
        type:
          - "null"
          - integer
      last-edit-info:
        type:
          - "null"
          - object
        properties:
          email:
            type:
              - "null"
              - string
          first_name:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
          last_name:
            type:
              - "null"
              - string
          timestamp:
            type:
              - "null"
              - string
      made_public_by_id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      public_uuid:
        type:
          - "null"
          - string
      query_type:
        type:
          - "null"
          - string
      result_metadata:
        type:
          - "null"
          - array
        items:
          properties:
            base_type:
              type:
                - "null"
                - string
            display_name:
              type:
                - "null"
                - string
            effective_type:
              type:
                - "null"
                - string
            field_ref:
              type:
                - "null"
                - string
                - array
            fingerprint:
              type:
                - "null"
                - object
            name:
              type:
                - "null"
                - string
            semantic_type:
              type:
                - "null"
                - string
      table_id:
        type:
          - "null"
          - integer
      updated_at:
        type:
          - "null"
          - string
      visualization_settings:
        type:
          - "null"
          - object
  collections:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      archived:
        type:
          - "null"
          - boolean
      authority_level:
        type:
          - "null"
          - string
      can_write:
        type:
          - "null"
          - boolean
      color:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - integer
          - string
      location:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      namespace:
        type:
          - "null"
          - string
      personal_owner_id:
        type:
          - "null"
          - integer
      slug:
        type:
          - "null"
          - string
  dashboards:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      archived:
        type:
          - "null"
          - boolean
      cache_ttl:
        type:
          - "null"
          - integer
      can_write:
        type:
          - "null"
          - boolean
      caveats:
        type:
          - "null"
          - string
      collection:
        type:
          - "null"
          - object
        properties: {}
      collection_authority_level:
        type:
          - "null"
          - string
      collection_id:
        type:
          - "null"
          - integer
      collection_position:
        type:
          - "null"
          - integer
      created_at:
        type:
          - "null"
          - string
      creator_id:
        type:
          - "null"
          - integer
      dashcards:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties: {}
      description:
        type:
          - "null"
          - string
      embedding_params:
        type:
          - "null"
          - object
      enable_embedding:
        type:
          - "null"
          - boolean
      id:
        type:
          - "null"
          - integer
      last-edit-info:
        type:
          - "null"
          - object
        properties:
          email:
            type:
              - "null"
              - string
          first_name:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
          last_name:
            type:
              - "null"
              - string
          timestamp:
            type:
              - "null"
              - string
      made_public_by_id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      param_fields:
        type:
          - "null"
          - object
        properties: {}
      param_values:
        type:
          - "null"
          - object
        properties: {}
      parameters:
        type:
          - "null"
          - array
        items:
          properties:
            type:
              type:
                - "null"
                - string
            default:
              type:
                - "null"
                - array
                - string
              items:
                type:
                  - "null"
                  - array
                  - boolean
                  - integer
                  - string
            id:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            sectionId:
              type:
                - "null"
                - string
            slug:
              type:
                - "null"
                - string
      points_of_interest:
        type:
          - "null"
          - string
      position:
        type:
          - "null"
          - string
      public_uuid:
        type:
          - "null"
          - string
      show_in_getting_started:
        type:
          - "null"
          - boolean
      tabs:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties: {}
      updated_at:
        type:
          - "null"
          - string
  users:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      common_name:
        type:
          - "null"
          - string
      email:
        type:
          - "null"
          - string
      first_name:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - integer
      last_name:
        type:
          - "null"
          - string
  databases:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      auto_run_queries:
        type:
          - "null"
          - boolean
      cache_field_values_schedule:
        type:
          - "null"
          - string
      cache_ttl:
        type:
          - "null"
          - integer
      can_upload:
        type:
          - "null"
          - boolean
      caveats:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
      creator_id:
        type:
          - "null"
          - integer
      dbms_version:
        type:
          - object
          - "null"
        properties:
          version:
            type:
              - "null"
              - string
          flavor:
            type:
              - "null"
              - string
          semantic-version:
            type:
              - array
              - "null"
            items:
              type:
                - integer
                - "null"
      description:
        type:
          - string
          - "null"
      details:
        type:
          - object
          - "null"
        properties:
          advanced-options:
            type:
              - "null"
              - boolean
          cloud-ip-address-info:
            type:
              - "null"
              - string
          dataset-filters-patterns:
            type:
              - "null"
              - string
          dataset-filters-type:
            type:
              - "null"
              - string
          db:
            type:
              - "null"
              - string
          include-user-id-and-hash:
            type:
              - "null"
              - boolean
          let-user-control-scheduling:
            type:
              - "null"
              - boolean
          project-id:
            type:
              - "null"
              - string
          project-id-from-credentials:
            type:
              - "null"
              - string
          service-account-json:
            type:
              - "null"
              - string
          ssl:
            type:
              - "null"
              - boolean
          use-jvm-timezone:
            type:
              - "null"
              - boolean
      engine:
        type:
          - "null"
          - string
      features:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      id:
        type:
          - integer
          - "null"
      initial_sync_status:
        type:
          - "null"
          - string
      is_audit:
        type:
          - "null"
          - boolean
      is_full_sync:
        type:
          - "null"
          - boolean
      is_on_demand:
        type:
          - "null"
          - boolean
      is_sample:
        type:
          - "null"
          - boolean
      metadata_sync_schedule:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      native_permissions:
        type:
          - "null"
          - string
      options:
        type:
          - "null"
          - string
      points_of_interest:
        type:
          - "null"
          - string
      refingerprint:
        type:
          - "null"
          - boolean
      settings:
        type:
          - "null"
          - string
      timezone:
        type:
          - "null"
          - string
      updated_at:
        type:
          - "null"
          - string
  native_query_snippets:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      archived:
        type:
          - "null"
          - boolean
      collection_id:
        type:
          - "null"
          - integer
      content:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
      creator:
        type:
          - "null"
          - object
        properties:
          common_name:
            type:
              - "null"
              - string
          date_joined:
            type:
              - "null"
              - string
          email:
            type:
              - "null"
              - string
          first_name:
            type:
              - "null"
              - string
          id:
            type:
              - integer
              - "null"
          is_qbnewb:
            type:
              - "null"
              - boolean
          is_superuser:
            type:
              - "null"
              - boolean
          last_login:
            type:
              - "null"
              - string
          last_name:
            type:
              - "null"
              - string
      creator_id:
        type:
          - "null"
          - integer
      description:
        type:
          - "null"
          - string
      entity_id:
        type:
          - "null"
          - string
      id:
        type:
          - integer
          - "null"
      name:
        type:
          - "null"
          - string
      updated_at:
        type:
          - "null"
          - string
  collections_items_dashboards:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
