version: 0.51.16
spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/freshsales
  connection_specification:
    type: object
    title: Freshsales Spec
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - domain_name
      - api_key
    properties:
      domain_name:
        type: string
        order: 0
        title: Domain
        description: "The Name of your Freshsales domain"
        examples:
          - "mydomain.myfreshworks.com"
      api_key:
        type: string
        order: 1
        title: API Key
        description: "Freshsales API Key. See <a href=\"https://crmsupport.freshworks.com/support/solutions/articles/50000002503-how-to-find-my-api-key-\">here</a>. The key is case sensitive."
        airbyte_secret: true
    additionalProperties: true
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - contacts
definitions:
  schema_loader:
    type: JsonFileSchemaLoader
    file_path: "./source_freshsales/schemas/{{ parameters['name'] }}.json"
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: []
  basic_requester:
    type: HttpRequester
    url_base: "https://{{ config['domain_name'] }}/crm/sales/api/"
    http_method: "GET"
    authenticator:
      type: ApiKeyAuthenticator
      header: "Authorization"
      api_token: "Token token={{ config['api_key'] }}"
  requester:
    $ref: "#/definitions/basic_requester"
    request_parameters:
      page: "{{ parameters.get('page', None) }}"
      filter: "{{ parameters.get('filter', None) }}"
      sort_type: "asc"
      sort: "updated_at"
  default_paginator:
    type: DefaultPaginator
    pagination_strategy:
      type: "CursorPagination"
      cursor_value: "{{ response['next'] }}"
      stop_condition: "{{ response['has_more'] == false }}"
    page_token_option:
      type: "RequestPath"
  retriever:
    type: SimpleRetriever
    record_selector:
      $ref: "#/definitions/selector"
    requester:
      $ref: "#/definitions/requester"
    paginator:
      $ref: "#/definitions/default_paginator"
  base_stream:
    primary_key: "id"
    retriever:
      $ref: "#/definitions/retriever"
  contacts_filters_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "contact_filters"
      path: "contacts/filters"
    retriever:
      $ref: "#/definitions/retriever"
      requester: 
        $ref: "#/definitions/basic_requester"
      record_selector:
        type: RecordSelector
        extractor:
          field_path:
            - filters
        record_filter:
          condition: "{{ record['name'] == parameters['filter'] }}"
  contacts_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "contacts"
      filter: "All Contacts"
    retriever:
      $ref: "#/definitions/retriever"
      requester:
        $ref: "#/definitions/requester"
        path: "contacts/view/{{ stream_slice.view_id }}"
      record_selector:
        type: RecordSelector
        extractor:
          field_path:
            - contacts
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - stream: "#/definitions/contacts_filters_stream"
            parent_key: "id"
            partition_field: "view_id"
  accounts_filters_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "sales_accounts_filter"
      path: "sales_accounts/filters"
    retriever:
      $ref: "#/definitions/retriever"
      requester: 
        $ref: "#/definitions/basic_requester"
      record_selector:
        type: RecordSelector
        extractor:
          field_path:
            - filters
        record_filter:
          condition: "{{ record['name'] == parameters['filter'] }}"
  accounts_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "sales_accounts"
      filter: "All Accounts"
    retriever:
      $ref: "#/definitions/retriever"
      requester:
        $ref: "#/definitions/requester"
        path: "sales_accounts/view/{{ stream_slice.view_id }}"
      record_selector:
        type: RecordSelector
        extractor:
          field_path:
            - accounts
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - stream: "#/definitions/accounts_filters_stream"
            parent_key: "id"
            partition_field: "view_id"
  deals_filters_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "deals_filter"
      path: "deals/filters"
    retriever:
      $ref: "#/definitions/retriever"
      requester: 
        $ref: "#/definitions/basic_requester"
      record_selector:
        type: RecordSelector
        extractor:
          field_path:
            - filters
        record_filter:
          condition: "{{ record['name'] == parameters['filter'] }}"
  open_deals_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "Open deals"
      filter: "Open Deals"
    retriever:
      $ref: "#/definitions/retriever"
      requester:
        $ref: "#/definitions/requester"
        path: "deals/view/{{ stream_slice.view_id }}"
      record_selector:
        type: RecordSelector
        extractor:
          field_path:
            - deals
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - stream: "#/definitions/deals_filters_stream"
            parent_key: "id"
            partition_field: "view_id"
    transformations:
      - type: RemoveFields
        field_pointers:
          - [ "fc_widget_collaboration" ]
  won_deals_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "Won deals"
      filter: "Won Deals"
    retriever:
      $ref: "#/definitions/retriever"
      requester:
        $ref: "#/definitions/requester"
        path: "deals/view/{{ stream_slice.view_id }}"
      record_selector:
        type: RecordSelector
        extractor:
          field_path:
            - deals
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - stream: "#/definitions/deals_filters_stream"
            parent_key: "id"
            partition_field: "view_id"
    transformations:
      - type: RemoveFields
        field_pointers:
          - [ "fc_widget_collaboration" ]
  lost_deals_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "Lost deals"
      filter: "Lost Deals"
    retriever:
      $ref: "#/definitions/retriever"
      requester:
        $ref: "#/definitions/requester"
        path: "deals/view/{{ stream_slice.view_id }}"
      record_selector:
        type: RecordSelector
        extractor:
          field_path:
            - deals
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - stream: "#/definitions/deals_filters_stream"
            parent_key: "id"
            partition_field: "view_id"
    transformations:
      - type: RemoveFields
        field_pointers:
          - [ "fc_widget_collaboration" ]
  open_tasks_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "Open tasks"
      path: "tasks"
      filter: "open"
    retriever:
      $ref: "#/definitions/retriever"
      record_selector:
        type: RecordSelector
        extractor:
          field_path:
            - tasks
  completed_tasks_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "Completed tasks"
      path: "tasks"
      filter: "completed"
    retriever:
      $ref: "#/definitions/retriever"
      record_selector:
        type: RecordSelector
        extractor:
          field_path:
            - tasks
  past_appointments_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "Past appointments"
      path: "appointments"
      filter: "past"
    retriever:
      $ref: "#/definitions/retriever"
      record_selector:
        type: RecordSelector
        extractor:
          field_path:
            - appointments
  upcoming_appointments_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "Upcoming appointments"
      path: "appointments"
      filter: "upcoming"
    retriever:
      $ref: "#/definitions/retriever"
      record_selector:
        type: RecordSelector
        extractor:
          field_path:
            - appointments
  
streams:
  - "#/definitions/contacts_stream"
  - "#/definitions/accounts_stream"
  - "#/definitions/open_deals_stream"
  - "#/definitions/won_deals_stream"
  - "#/definitions/lost_deals_stream"
  - "#/definitions/open_tasks_stream"
  - "#/definitions/completed_tasks_stream"
  - "#/definitions/past_appointments_stream"
  - "#/definitions/upcoming_appointments_stream"
