version: 4.6.2

type: DeclarativeSource

description: >-
  Rollbar is a comprehensive code improvement platform that helps developers to
  improve their code and deliver the best applications to individual customers
  in real-time. The platform enables users to proactively discover, predict and
  resolve errors in no time besides deploying apps with confidence.

check:
  type: CheckStream
  stream_names:
    - items

definitions:
  streams:
    items:
      type: DeclarativeStream
      name: items
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1/items
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: last_occurrence_timestamp
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/items"
    occurrences:
      type: DeclarativeStream
      name: occurrences
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1/instances
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - instances
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 20
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: timestamp
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/occurrences"
    items_metrics:
      type: DeclarativeStream
      name: items_metrics
      primary_key:
        - item_counter
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1/metrics/items
          http_method: POST
          request_body_json:
            item_counters: "[{{ stream_partition['item_id'] }}]"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - metrics
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: item_id
              stream:
                $ref: "#/definitions/streams/items"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/items_metrics"
    deploys:
      type: DeclarativeStream
      name: deploys
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1/deploys
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - deploys
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 20
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: start_time
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deploys"
    environments:
      type: DeclarativeStream
      name: environments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1/environments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - environments
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 20
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/environments"
    rql_jobs:
      type: DeclarativeStream
      name: rql_jobs
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1/rql/jobs/
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - jobs
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 20
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_modified
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/rql_jobs"
    top_active_items:
      type: DeclarativeStream
      name: top_active_items
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1/reports/top_active_items
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - "*"
              - item
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/top_active_items"
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/account_base_requester"
          path: /api/1/projects
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_modified
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    teams:
      type: DeclarativeStream
      name: teams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/account_base_requester"
          path: /api/1/teams
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/account_base_requester"
          path: /api/1/users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - users
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
  base_requester:
    type: HttpRequester
    url_base: https://api.rollbar.com
    authenticator:
      type: ApiKeyAuthenticator
      api_token: '{{ config["project_access_token"] }}'
      inject_into:
        type: RequestOption
        field_name: X-Rollbar-Access-Token
        inject_into: header
  account_base_requester:
    type: HttpRequester
    url_base: https://api.rollbar.com
    authenticator:
      type: ApiKeyAuthenticator
      api_token: '{{ config["account_access_token"] }}'
      inject_into:
        type: RequestOption
        field_name: X-Rollbar-Access-Token
        inject_into: header

streams:
  - $ref: "#/definitions/streams/items"
  - $ref: "#/definitions/streams/occurrences"
  - $ref: "#/definitions/streams/items_metrics"
  - $ref: "#/definitions/streams/deploys"
  - $ref: "#/definitions/streams/environments"
  - $ref: "#/definitions/streams/rql_jobs"
  - $ref: "#/definitions/streams/top_active_items"
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/users"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - project_access_token
      - start_date
      - account_access_token
    properties:
      project_access_token:
        type: string
        name: api_key
        title: Project Access Token
        airbyte_secret: true
        order: 0
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 1
      account_access_token:
        type: string
        title: Account Access Token
        airbyte_secret: true
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    items: true
    occurrences: true
    items_metrics: true
    deploys: true
    environments: true
    rql_jobs: true
    top_active_items: true
    projects: true
    teams: true
    users: true
  testedStreams:
    items:
      streamHash: 5caf81d1ae48571edb46a66e05942cc41aa0f9a9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    occurrences:
      streamHash: 254376ebcb4e0b7595aeee19c5ed208fd34fad00
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    items_metrics:
      streamHash: 6a3e4f8e389c619ac45231689aef8f4533f89431
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    deploys:
      streamHash: 4b1ff7b493fa1f7b927268e06968c216004b1f5e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    environments:
      streamHash: d7b377d6c7a0323e2b310060a3b2f4009b786d76
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    rql_jobs:
      streamHash: 45c7f290e33af26fba970d74cab5b2d6221b4640
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    top_active_items:
      streamHash: 9d34f434f4a86072b3a52735c460272cff3184d6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    projects:
      streamHash: d3c872f44f662400f000a7b73f08110c79713f2a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teams:
      streamHash: d7cbb23690ffb146ea7610536e4d63e18a96dcab
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: fe82bea1ad8d9d97fd4157c222967d474383433e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://docs.rollbar.com/reference

schemas:
  items:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      activating_occurrence_id:
        type:
          - number
          - "null"
      controlling_id:
        type:
          - number
          - "null"
      counter:
        type:
          - number
          - "null"
      environment:
        type:
          - string
          - "null"
      first_occurrence_id:
        type:
          - number
          - "null"
      first_occurrence_timestamp:
        type:
          - number
          - "null"
      framework:
        type:
          - string
          - "null"
      group_status:
        type:
          - number
          - "null"
      hash:
        type:
          - string
          - "null"
      id:
        type: number
      last_activated_timestamp:
        type:
          - number
          - "null"
      last_modified_by:
        type:
          - number
          - "null"
      last_occurrence_id:
        type:
          - number
          - "null"
      last_occurrence_timestamp:
        type: number
      level:
        type:
          - string
          - "null"
      level_lock:
        type:
          - number
          - "null"
      platform:
        type:
          - string
          - "null"
      project_id:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      title_lock:
        type:
          - number
          - "null"
      total_occurrences:
        type:
          - number
          - "null"
      unique_occurrences:
        type:
          - number
          - "null"
    required:
      - id
      - last_occurrence_timestamp
  occurrences:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type:
          - number
          - "null"
      billable:
        type:
          - number
          - "null"
      data:
        type:
          - object
          - "null"
        properties:
          metadata:
            type:
              - object
              - "null"
            properties:
              access_token:
                type:
                  - string
                  - "null"
              api_server_hostname:
                type:
                  - string
                  - "null"
              debug:
                type:
                  - object
                  - "null"
                properties:
                  routes:
                    type:
                      - object
                      - "null"
                    properties:
                      counters:
                        type:
                          - object
                          - "null"
                        properties:
                          post_item:
                            type:
                              - number
                              - "null"
                      start_time:
                        type:
                          - number
                          - "null"
              symbolication:
                type:
                  - string
                  - "null"
              timestamp_ms:
                type:
                  - number
                  - "null"
          body:
            type:
              - object
              - "null"
            properties:
              crash_report:
                type:
                  - object
                  - "null"
                properties:
                  raw:
                    type:
                      - string
                      - "null"
                  symbolicated:
                    type:
                      - string
                      - "null"
              telemetry:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    body:
                      type:
                        - object
                        - "null"
                      properties:
                        from:
                          type:
                            - string
                            - "null"
                        message:
                          type:
                            - string
                            - "null"
                        to:
                          type:
                            - string
                            - "null"
                    level:
                      type:
                        - string
                        - "null"
                    source:
                      type:
                        - string
                        - "null"
                    timestamp_ms:
                      type:
                        - number
                        - "null"
              trace:
                type:
                  - object
                  - "null"
                properties:
                  exception:
                    type:
                      - object
                      - "null"
                    properties:
                      class:
                        type:
                          - string
                          - "null"
                      message:
                        type:
                          - string
                          - "null"
                  frames:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        address:
                          type:
                            - string
                            - "null"
                        library:
                          type:
                            - string
                            - "null"
                        method:
                          type:
                            - string
                            - "null"
                        position:
                          type:
                            - number
                            - "null"
          client:
            type:
              - object
              - "null"
            properties:
              ios:
                type:
                  - object
                  - "null"
                properties:
                  app_name:
                    type:
                      - string
                      - "null"
                  bundle_identifier:
                    type:
                      - string
                      - "null"
                  code_version:
                    type:
                      - string
                      - "null"
                  device_code:
                    type:
                      - string
                      - "null"
                  os:
                    type:
                      - string
                      - "null"
                  os_version:
                    type:
                      - string
                      - "null"
                  short_version:
                    type:
                      - string
                      - "null"
              timestamp:
                type:
                  - number
                  - "null"
              user_ip:
                type:
                  - string
                  - "null"
          context:
            type:
              - string
              - "null"
          custom:
            type:
              - object
              - "null"
            properties:
              customer_type:
                type:
                  - string
                  - "null"
          environment:
            type:
              - string
              - "null"
          framework:
            type:
              - string
              - "null"
          language:
            type:
              - string
              - "null"
          level:
            type:
              - string
              - "null"
          notifier:
            type:
              - object
              - "null"
            properties:
              version:
                type:
                  - string
                  - "null"
              configured_options:
                type:
                  - object
                  - "null"
                properties:
                  custom:
                    type:
                      - object
                      - "null"
                    properties:
                      customer_type:
                        type:
                          - string
                          - "null"
                  dataScrubber:
                    type:
                      - object
                      - "null"
                    properties:
                      enabled:
                        type:
                          - boolean
                          - "null"
                      safeListFields:
                        type:
                          - array
                          - "null"
                      scrubFields:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - string
                            - "null"
                  destination:
                    type:
                      - object
                      - "null"
                    properties:
                      accessToken:
                        type:
                          - string
                          - "null"
                      endpoint:
                        type:
                          - string
                          - "null"
                      environment:
                        type:
                          - string
                          - "null"
                  developerOptions:
                    type:
                      - object
                      - "null"
                    properties:
                      enabled:
                        type:
                          - boolean
                          - "null"
                      logDroppedPayloads:
                        type:
                          - boolean
                          - "null"
                      logDroppedPayloadsFile:
                        type:
                          - string
                          - "null"
                      logIncomingPayloads:
                        type:
                          - boolean
                          - "null"
                      logIncomingPayloadsFile:
                        type:
                          - string
                          - "null"
                      logTransmittedPayloads:
                        type:
                          - boolean
                          - "null"
                      logTransmittedPayloadsFile:
                        type:
                          - string
                          - "null"
                      suppressSdkInfoLogging:
                        type:
                          - boolean
                          - "null"
                      transmit:
                        type:
                          - boolean
                          - "null"
                  httpProxy:
                    type:
                      - object
                      - "null"
                    properties:
                      enabled:
                        type:
                          - boolean
                          - "null"
                      proxyPort:
                        type:
                          - number
                          - "null"
                      proxyUrl:
                        type:
                          - string
                          - "null"
                  httpsProxy:
                    type:
                      - object
                      - "null"
                    properties:
                      enabled:
                        type:
                          - boolean
                          - "null"
                      proxyPort:
                        type:
                          - number
                          - "null"
                      proxyUrl:
                        type:
                          - string
                          - "null"
                  loggingOptions:
                    type:
                      - object
                      - "null"
                    properties:
                      captureIp:
                        type:
                          - string
                          - "null"
                      codeVersion:
                        type:
                          - string
                          - "null"
                      crashLevel:
                        type:
                          - string
                          - "null"
                      framework:
                        type:
                          - string
                          - "null"
                      logLevel:
                        type:
                          - string
                          - "null"
                      maximumReportsPerMinute:
                        type:
                          - number
                          - "null"
                      rateLimitBehavior:
                        type:
                          - number
                          - "null"
                  notifier:
                    type:
                      - object
                      - "null"
                    properties:
                      version:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                  person:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type:
                          - string
                          - "null"
                  server:
                    type:
                      - object
                      - "null"
                    properties: {}
                  telemetry:
                    type:
                      - object
                      - "null"
                    properties:
                      captureConnectivity:
                        type:
                          - boolean
                          - "null"
                      captureLog:
                        type:
                          - boolean
                          - "null"
                      enabled:
                        type:
                          - boolean
                          - "null"
                      maximumTelemetryData:
                        type:
                          - number
                          - "null"
                      memoryStatsAutocollectionInterval:
                        type:
                          - number
                          - "null"
                      vewInputsScrubber:
                        type:
                          - object
                          - "null"
                        properties:
                          enabled:
                            type:
                              - boolean
                              - "null"
                          safeListFields:
                            type:
                              - array
                              - "null"
                          scrubFields:
                            type:
                              - array
                              - "null"
                            items:
                              type:
                                - string
                                - "null"
              name:
                type:
                  - string
                  - "null"
          person:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
          platform:
            type:
              - string
              - "null"
          retentionDays:
            type:
              - number
              - "null"
          server:
            type:
              - object
              - "null"
            properties: {}
          timestamp:
            type:
              - number
              - "null"
          title:
            type:
              - string
              - "null"
          uuid:
            type:
              - string
              - "null"
      id:
        type: number
      item_id:
        type:
          - number
          - "null"
      project_id:
        type:
          - number
          - "null"
      timestamp:
        type: number
    required:
      - id
      - timestamp
  items_metrics:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      item_counter:
        type: number
    required:
      - item_counter
  deploys:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      comment:
        type:
          - string
          - "null"
      environment:
        type:
          - string
          - "null"
      id:
        type: number
      local_username:
        type:
          - string
          - "null"
      project_id:
        type:
          - number
          - "null"
      revision:
        type:
          - string
          - "null"
      start_time:
        type: number
      status:
        type:
          - string
          - "null"
    required:
      - id
      - start_time
  environments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      environment:
        type:
          - string
          - "null"
      id:
        type: number
      project_id:
        type:
          - number
          - "null"
      visible:
        type:
          - number
          - "null"
    required:
      - id
  rql_jobs:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      date_created:
        type:
          - number
          - "null"
      date_modified:
        type: number
      id:
        type: number
      job_hash:
        type:
          - string
          - "null"
      project_group_id:
        type:
          - number
          - "null"
      project_id:
        type:
          - number
          - "null"
      query_string:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
      - date_modified
  top_active_items:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      counter:
        type:
          - number
          - "null"
      environment:
        type:
          - string
          - "null"
      framework:
        type:
          - number
          - "null"
      group_status:
        type:
          - number
          - "null"
      id:
        type: number
      last_occurrence_timestamp:
        type:
          - number
          - "null"
      level:
        type:
          - number
          - "null"
      occurrences:
        type:
          - number
          - "null"
      project_id:
        type:
          - number
          - "null"
      title:
        type:
          - string
          - "null"
      unique_occurrences:
        type:
          - number
          - "null"
    required:
      - id
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_id:
        type:
          - number
          - "null"
      date_created:
        type:
          - number
          - "null"
      date_modified:
        type: number
      id:
        type: number
      name:
        type:
          - string
          - "null"
      settings_data:
        type:
          - object
          - "null"
        properties:
          encryption_at_rest:
            type:
              - object
              - "null"
            properties:
              enabled:
                type:
                  - boolean
                  - "null"
          grouping:
            type:
              - object
              - "null"
            properties:
              recent_versions:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          integrations:
            type:
              - object
              - "null"
            properties:
              asana:
                type:
                  - object
                  - "null"
              azuredevops:
                type:
                  - object
                  - "null"
              bitbucket:
                type:
                  - object
                  - "null"
              campfire:
                type:
                  - object
                  - "null"
              ciscospark:
                type:
                  - object
                  - "null"
              clubhouse:
                type:
                  - object
                  - "null"
              datadog:
                type:
                  - object
                  - "null"
              email:
                type:
                  - object
                  - "null"
                properties:
                  enabled:
                    type:
                      - boolean
                      - "null"
              github:
                type:
                  - object
                  - "null"
              gitlab:
                type:
                  - object
                  - "null"
              hipchat:
                type:
                  - object
                  - "null"
              jira:
                type:
                  - object
                  - "null"
              lightstep:
                type:
                  - object
                  - "null"
              opsgenie:
                type:
                  - object
                  - "null"
              pagerduty:
                type:
                  - object
                  - "null"
              pivotal:
                type:
                  - object
                  - "null"
              slack:
                type:
                  - object
                  - "null"
              sprintly:
                type:
                  - object
                  - "null"
              trello:
                type:
                  - object
                  - "null"
              victorops:
                type:
                  - object
                  - "null"
              webhook:
                type:
                  - object
                  - "null"
          time_format:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
              - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
      - date_modified
  teams:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      access_level:
        type:
          - string
          - "null"
      account_id:
        type:
          - number
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
    required:
      - id
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      email:
        type:
          - string
          - "null"
      id:
        type: number
      username:
        type:
          - string
          - "null"
    required:
      - id
