@use "scss/colors";

:export {
  darkBlue: colors.$dark-blue-900;
  logoColor: colors.$blue-400;
  gradientOrange: colors.$orange-400;
  gradientBlue: colors.$blue-400;
  dotColor: colors.$blue-400;
}
