version: 6.10.0

type: DeclarativeSource

description: Add support for toggl API

check:
  type: CheckStream
  stream_names:
    - Projects

definitions:
  streams:
    Projects:
      type: DeclarativeStream
      name: Projects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v9/workspaces/{{ stream_partition.workspace_id }}/projects
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: start_project_id
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('projects', [])[-1].get('id') if
              response.get('projects') else None }}
            stop_condition: >-
              {{ not response.get('projects') or response.get('projects')|length
              == 0 }}
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: workspace_id
              stream:
                $ref: "#/definitions/streams/Workspaces"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Projects"
    Organizations:
      type: DeclarativeStream
      name: Organizations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v9/me/organizations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Organizations"
    Workspaces:
      type: DeclarativeStream
      name: Workspaces
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v9/workspaces
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Workspaces"
    Tasks:
      type: DeclarativeStream
      name: Tasks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v9/workspaces/{{ stream_partition.workspace_id }}/tasks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: workspace_id
              stream:
                $ref: "#/definitions/streams/Workspaces"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Tasks"
    Tags:
      type: DeclarativeStream
      name: Tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v9/workspaces/{{ stream_partition.workspace_id }}/tags
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: workspace_id
              stream:
                $ref: "#/definitions/streams/Workspaces"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Tags"
    Clients:
      type: DeclarativeStream
      name: Clients
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v9/workspaces/{{ stream_partition.workspace_id }}/clients
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: workspace_id
              stream:
                $ref: "#/definitions/streams/Workspaces"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Clients"
    Me:
      type: DeclarativeStream
      name: Me
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v9/me
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Me"
    Preferences:
      type: DeclarativeStream
      name: Preferences
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v9/me/preferences
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Preferences"
    Users:
      type: DeclarativeStream
      name: Users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v9/organizations/{{ stream_partition.organization_id }}/users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: organization_id
              stream:
                $ref: "#/definitions/streams/Organizations"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Users"
  base_requester:
    type: HttpRequester
    url_base: https://api.track.toggl.com
    authenticator:
      type: BasicHttpAuthenticator
      username: "{{ config['api_token'] }}"
      password: api_token

streams:
  - $ref: "#/definitions/streams/Projects"
  - $ref: "#/definitions/streams/Organizations"
  - $ref: "#/definitions/streams/Workspaces"
  - $ref: "#/definitions/streams/Tasks"
  - $ref: "#/definitions/streams/Tags"
  - $ref: "#/definitions/streams/Clients"
  - $ref: "#/definitions/streams/Me"
  - $ref: "#/definitions/streams/Preferences"
  - $ref: "#/definitions/streams/Users"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_token
    properties:
      api_token:
        type: string
        order: 0
        title: API Token
        always_show: true
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    Projects: true
    Organizations: true
    Workspaces: true
    Tasks: true
    Tags: true
    Clients: true
    Me: true
    Preferences: true
    Users: true
  yamlComponents:
    global:
      - authenticator
  testedStreams:
    Projects:
      streamHash: 509946e1b0bd93dc4d600f410dc7d10120c21c97
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Organizations:
      streamHash: 7c17f94dce17d692099b184b43bb64959d0e7d3c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Workspaces:
      streamHash: 1dc5519d2a037d093e37dfcda04d7d94953dacdb
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Tasks:
      streamHash: cec3b3a76f743396372c10999b14da4f8f700f5d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Tags:
      streamHash: 68cecc866558ea2c8cab9f59e1bfc691a6f58742
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Clients:
      streamHash: b6bdbb511edd7b329807f5c15c38aac120589c9b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Me:
      streamHash: a85ec5f579ce5a702d7827be5b1be9f5066699dd
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Preferences:
      streamHash: 88aaef16e13e203de460a838825a107a64ef3e51
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Users:
      streamHash: 6b61933a24af1213ae3ecdbd9cc83972d3d3355d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://engineering.toggl.com/docs/

schemas:
  Projects:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - boolean
          - "null"
      at:
        type:
          - string
          - "null"
      auto_estimates:
        type:
          - boolean
          - "null"
      billable:
        type:
          - boolean
          - "null"
      can_track_time:
        type:
          - boolean
          - "null"
      color:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      id:
        type: number
      is_private:
        type:
          - boolean
          - "null"
      is_shared:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      pinned:
        type:
          - boolean
          - "null"
      recurring:
        type:
          - boolean
          - "null"
      start_date:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      tasks_count:
        type:
          - number
          - "null"
      template:
        type:
          - boolean
          - "null"
      wid:
        type:
          - number
          - "null"
      workspace_id:
        type:
          - number
          - "null"
    required:
      - id
  Organizations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      admin:
        type:
          - boolean
          - "null"
      at:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      id:
        type: number
      is_multi_workspace_enabled:
        type:
          - boolean
          - "null"
      is_unified:
        type:
          - boolean
          - "null"
      max_workspaces:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      owner:
        type:
          - boolean
          - "null"
      pricing_plan_enterprise:
        type:
          - boolean
          - "null"
      pricing_plan_id:
        type:
          - number
          - "null"
      pricing_plan_name:
        type:
          - string
          - "null"
      trial_info:
        type:
          - object
          - "null"
        properties:
          can_have_trial:
            type:
              - boolean
              - "null"
          next_payment_date:
            type:
              - string
              - "null"
          trial:
            type:
              - boolean
              - "null"
          trial_available:
            type:
              - boolean
              - "null"
          trial_end_date:
            type:
              - string
              - "null"
          trial_plan_id:
            type:
              - number
              - "null"
      user_count:
        type:
          - number
          - "null"
    required:
      - id
  Workspaces:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active_project_count:
        type:
          - number
          - "null"
      admin:
        type:
          - boolean
          - "null"
      api_token:
        type:
          - string
          - "null"
      at:
        type:
          - string
          - "null"
      business_ws:
        type:
          - boolean
          - "null"
      default_currency:
        type:
          - string
          - "null"
      hide_start_end_times:
        type:
          - boolean
          - "null"
      ical_enabled:
        type:
          - boolean
          - "null"
      ical_url:
        type:
          - string
          - "null"
      id:
        type:
          - number
          - "null"
      last_modified:
        type:
          - string
          - "null"
      limit_public_project_data:
        type:
          - boolean
          - "null"
      logo_url:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      only_admins_may_create_projects:
        type:
          - boolean
          - "null"
      only_admins_may_create_tags:
        type:
          - boolean
          - "null"
      only_admins_see_billable_rates:
        type:
          - boolean
          - "null"
      only_admins_see_team_dashboard:
        type:
          - boolean
          - "null"
      organization_id:
        type:
          - number
          - "null"
      premium:
        type:
          - boolean
          - "null"
      projects_billable_by_default:
        type:
          - boolean
          - "null"
      projects_enforce_billable:
        type:
          - boolean
          - "null"
      projects_private_by_default:
        type:
          - boolean
          - "null"
      reports_collapse:
        type:
          - boolean
          - "null"
      role:
        type:
          - string
          - "null"
      rounding:
        type:
          - number
          - "null"
      rounding_minutes:
        type:
          - number
          - "null"
      te_constraints:
        type:
          - object
          - "null"
  Tasks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - boolean
          - "null"
      at:
        type:
          - string
          - "null"
      estimated_seconds:
        type:
          - number
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      project_id:
        type:
          - number
          - "null"
      recurring:
        type:
          - boolean
          - "null"
      tracked_seconds:
        type:
          - number
          - "null"
      workspace_id:
        type:
          - number
          - "null"
    required:
      - id
  Tags:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      at:
        type:
          - string
          - "null"
      creator_id:
        type:
          - number
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      workspace_id:
        type:
          - number
          - "null"
    required:
      - id
  Clients:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      archived:
        type:
          - boolean
          - "null"
      at:
        type:
          - string
          - "null"
      creator_id:
        type:
          - number
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      wid:
        type:
          - number
          - "null"
    required:
      - id
  Me:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      api_token:
        type:
          - string
          - "null"
      at:
        type:
          - string
          - "null"
      authorization_updated_at:
        type:
          - string
          - "null"
      beginning_of_week:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      default_workspace_id:
        type:
          - number
          - "null"
      email:
        type:
          - string
          - "null"
      fullname:
        type:
          - string
          - "null"
      has_password:
        type:
          - boolean
          - "null"
      id:
        type: number
      image_url:
        type:
          - string
          - "null"
      intercom_hash:
        type:
          - string
          - "null"
      oauth_providers:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      openid_enabled:
        type:
          - boolean
          - "null"
      timezone:
        type:
          - string
          - "null"
      toggl_accounts_id:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  Preferences:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      BeginningOfWeek:
        type:
          - number
          - "null"
      alpha_features:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            code:
              type:
                - string
                - "null"
            enabled:
              type:
                - boolean
                - "null"
      date_format:
        type:
          - string
          - "null"
      duration_format:
        type:
          - string
          - "null"
      pg_time_zone_name:
        type:
          - string
          - "null"
      record_timeline:
        type:
          - boolean
          - "null"
      send_daily_project_invites:
        type:
          - boolean
          - "null"
      send_product_emails:
        type:
          - boolean
          - "null"
      send_timer_notifications:
        type:
          - boolean
          - "null"
      send_weekly_report:
        type:
          - boolean
          - "null"
      timeofday_format:
        type:
          - string
          - "null"
  Users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      avatar_url:
        type:
          - string
          - "null"
      can_edit_email:
        type:
          - boolean
          - "null"
      email:
        type:
          - string
          - "null"
      id:
        type: number
      inactive:
        type:
          - boolean
          - "null"
      joined:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      organization_id:
        type:
          - number
          - "null"
      role_id:
        type:
          - number
          - "null"
      user_id:
        type:
          - number
          - "null"
      workspace_count:
        type:
          - number
          - "null"
      workspaces:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            admin:
              type:
                - boolean
                - "null"
            default_currency:
              type:
                - string
                - "null"
            inactive:
              type:
                - boolean
                - "null"
            role:
              type:
                - string
                - "null"
            view_edit_billable_rates:
              type:
                - boolean
                - "null"
            view_edit_labor_costs:
              type:
                - boolean
                - "null"
            workspace_id:
              type:
                - number
                - "null"
            workspace_name:
              type:
                - string
                - "null"
            workspace_user_id:
              type:
                - number
                - "null"
    required:
      - id
