version: 0.83.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - color_collections

definitions:
  looker_base_stream:
    type: DeclarativeStream
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/base_requester"
        path: "{{ parameters.path }}"
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
  content_metadata_base_stream:
    $ref: "#/definitions/looker_base_stream"
  dashboard_base_stream:
    $ref: "#/definitions/looker_base_stream"
  streams:
    looks:
      $ref: "#/definitions/looker_base_stream"
      name: looks
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/looks"
      $parameters:
        path: looks
    roles:
      $ref: "#/definitions/looker_base_stream"
      name: roles
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/roles"
      $parameters:
        path: roles
    users:
      $ref: "#/definitions/looker_base_stream"
      name: users
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
      $parameters:
        path: users
    groups:
      $ref: "#/definitions/looker_base_stream"
      name: groups
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/groups"
      $parameters:
        path: groups
    folders:
      $ref: "#/definitions/looker_base_stream"
      name: folders
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/folders"
      $parameters:
        path: folders
    projects:
      $ref: "#/definitions/looker_base_stream"
      name: projects
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
      $parameters:
        path: projects
    versions:
      $ref: "#/definitions/looker_base_stream"
      name: versions
      primary_key: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/versions"
      $parameters:
        path: versions
    boards:
      $ref: "#/definitions/looker_base_stream"
      name: boards
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/boards"
      $parameters:
        path: boards
    run_looks:
      $ref: "#/definitions/looker_base_stream"
      name: run_looks
      primary_key: []
      retriever:
        $ref: "#/definitions/looker_base_stream/retriever"
        requester:
          $ref: "#/definitions/looker_base_stream/retriever/requester"
          path: looks/{{ stream_partition['id'] }}/run/json
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                stream:
                  $ref: "#/definitions/streams/search_looks"
                parent_key: id
                partition_field: id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/run_looks"
    dashboards:
      $ref: "#/definitions/dashboard_base_stream"
      name: dashboards
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/dashboards"
      $parameters:
        path: dashboards
    datagroups:
      $ref: "#/definitions/looker_base_stream"
      name: datagroups
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/datagroups"
      $parameters:
        path: datagroups
    model_sets:
      $ref: "#/definitions/looker_base_stream"
      name: model_sets
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/model_sets"
      $parameters:
        path: model_sets
    workspaces:
      $ref: "#/definitions/looker_base_stream"
      name: workspaces
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/workspaces"
      $parameters:
        path: workspaces
    connections:
      $ref: "#/definitions/looker_base_stream"
      name: connections
      primary_key: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/connections"
      $parameters:
        path: connections
    permissions:
      $ref: "#/definitions/looker_base_stream"
      name: permissions
      primary_key: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/permissions"
      $parameters:
        path: permissions
    role_groups:
      $ref: "#/definitions/looker_base_stream"
      name: role_groups
      retriever:
        $ref: "#/definitions/looker_base_stream/retriever"
        requester:
          $ref: "#/definitions/looker_base_stream/retriever/requester"
          path: /roles/{{ stream_partition['id'] }}/groups
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                stream:
                  $ref: "#/definitions/streams/roles"
                parent_key: id
                partition_field: id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/role_groups"
    git_branches:
      $ref: "#/definitions/looker_base_stream"
      name: git_branches
      primary_key: []
      retriever:
        $ref: "#/definitions/looker_base_stream/retriever"
        requester:
          $ref: "#/definitions/looker_base_stream/retriever/requester"
          path: /projects/{{ stream_partition['id'] }}/git_branches
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                stream:
                  $ref: "#/definitions/streams/projects"
                parent_key: id
                partition_field: id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/git_branches"
    integrations:
      $ref: "#/definitions/looker_base_stream"
      name: integrations
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/integrations"
      $parameters:
        path: integrations
    search_looks:
      type: DeclarativeStream
      name: search_looks
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /looks/search
          http_method: GET
          request_$parameters:
            id: "{{ config['run_look_ids']|join(',') }}"
            limit: "10000"
            fields: id,title,model(id)
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - id
    lookml_models:
      $ref: "#/definitions/looker_base_stream"
      name: lookml_models
      primary_key: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lookml_models"
      $parameters:
        path: lookml_models
    project_files:
      $ref: "#/definitions/looker_base_stream"
      name: project_files
      retriever:
        $ref: "#/definitions/looker_base_stream/retriever"
        requester:
          $ref: "#/definitions/looker_base_stream/retriever/requester"
          path: /projects/{{ stream_partition['id'] }}/files
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                stream:
                  $ref: "#/definitions/streams/projects"
                parent_key: id
                partition_field: id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/project_files"
    query_history:
      type: DeclarativeStream
      name: query_history
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: queries/run/json
          http_method: POST
          request_body_json:
            view: history
            limit: "10000"
            model: i__looker
            sorts: '["history.created_time", "query.id",]'
            fields: >-
              ["query.id", "history.created_date", "history.created_time",
              "query.client_id", "query.model", "query.view", "space.id",
              "look.id", "dashboard.id", "user.id", "history.query_run_count",
              "history.total_runtime",]
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - query.id
        - history.created_time
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/query_history"
    user_sessions:
      $ref: "#/definitions/looker_base_stream"
      name: user_sessions
      retriever:
        $ref: "#/definitions/looker_base_stream/retriever"
        requester:
          $ref: "#/definitions/looker_base_stream/retriever/requester"
          path: /users/{{ stream_partition['id'] }}/sessions
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                stream:
                  $ref: "#/definitions/streams/users"
                parent_key: id
                partition_field: id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/user_sessions"
    board_items:
      $ref: "#/definitions/looker_base_stream"
      name: board_items
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/board_items"
      $parameters:
        path: board_items
    legacy_features:
      $ref: "#/definitions/looker_base_stream"
      name: legacy_features
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/legacy_features"
      $parameters:
        path: legacy_features
    permission_sets:
      $ref: "#/definitions/looker_base_stream"
      name: permission_sets
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/permission_sets"
      $parameters:
        path: permission_sets
    scheduled_plans:
      $ref: "#/definitions/looker_base_stream"
      name: scheduled_plans
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/scheduled_plans"
      $parameters:
        path: scheduled_plans
    user_attributes:
      $ref: "#/definitions/looker_base_stream"
      name: user_attributes
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/user_attributes"
      $parameters:
        path: user_attributes
    content_metadata:
      $ref: "#/definitions/content_metadata_base_stream"
      name: content_metadata
      retriever:
        $ref: "#/definitions/looker_base_stream/retriever"
        requester:
          $ref: "#/definitions/looker_base_stream/retriever/requester"
          path: /content_metadata/{{ stream_partition['content_metadata_id'] }}
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                stream:
                  $ref: "#/definitions/streams/dashboards"
                parent_key: content_metadata_id
                partition_field: content_metadata_id
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                stream:
                  $ref: "#/definitions/streams/folders"
                parent_key: content_metadata_id
                partition_field: content_metadata_id
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                stream:
                  $ref: "#/definitions/streams/boards"
                parent_key: content_metadata_id
                partition_field: content_metadata_id
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                stream:
                  $ref: "#/definitions/streams/looks"
                parent_key: content_metadata_id
                partition_field: content_metadata_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/content_metadata"
    folder_ancestors:
      $ref: "#/definitions/looker_base_stream"
      name: folder_ancestors
      retriever:
        $ref: "#/definitions/looker_base_stream/retriever"
        requester:
          $ref: "#/definitions/looker_base_stream/retriever/requester"
          path: /folders/{{ stream_partition['id'] }}/ancestors
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                stream:
                  $ref: "#/definitions/streams/folders"
                parent_key: id
                partition_field: id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/folder_ancestors"
    integration_hubs:
      $ref: "#/definitions/looker_base_stream"
      name: integration_hubs
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/integration_hubs"
      $parameters:
        path: integration_hubs
    color_collections:
      $ref: "#/definitions/looker_base_stream"
      name: color_collections
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/color_collections"
      $parameters:
        path: color_collections
    dashboard_filters:
      $ref: "#/definitions/looker_base_stream"
      name: dashboard_filters
      retriever:
        $ref: "#/definitions/looker_base_stream/retriever"
        requester:
          $ref: "#/definitions/looker_base_stream/retriever/requester"
          path: /dashboards/{{ stream_partition['id'] }}/dashboard_filters
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                stream:
                  $ref: "#/definitions/streams/dashboards"
                parent_key: id
                partition_field: id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/dashboard_filters"
    dashboard_layouts:
      $ref: "#/definitions/looker_base_stream"
      name: dashboard_layouts
      retriever:
        $ref: "#/definitions/looker_base_stream/retriever"
        requester:
          $ref: "#/definitions/looker_base_stream/retriever/requester"
          path: /dashboards/{{ stream_partition['id'] }}/dashboard_layouts
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                stream:
                  $ref: "#/definitions/streams/dashboards"
                parent_key: id
                partition_field: id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/dashboard_layouts"
    board_sections:
      $ref: "#/definitions/looker_base_stream"
      name: board_sections
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/board_sections"
      $parameters:
        path: board_sections
    dashboard_elements:
      $ref: "#/definitions/looker_base_stream"
      name: dashboard_elements
      retriever:
        $ref: "#/definitions/looker_base_stream/retriever"
        requester:
          $ref: "#/definitions/looker_base_stream/retriever/requester"
          path: /dashboards/{{ stream_partition['id'] }}/dashboard_elements
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                stream:
                  $ref: "#/definitions/streams/dashboards"
                parent_key: id
                partition_field: id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/dashboard_elements"
    user_login_lockouts:
      $ref: "#/definitions/looker_base_stream"
      name: user_login_lockouts
      primary_key: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/user_login_lockouts"
      $parameters:
        path: user_login_lockouts
    content_metadata_access:
      $ref: "#/definitions/content_metadata_base_stream"
      name: content_metadata_access
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/content_metadata_access"
      $parameters:
        path: content_metadata_access
    primary_homepage_sections:
      $ref: "#/definitions/looker_base_stream"
      name: primary_homepage_sections
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/primary_homepage_sections"
      $parameters:
        path: primary_homepage_sections
    dashboard_layout_components:
      $ref: "#/definitions/looker_base_stream"
      name: dashboard_layout_components
      retriever:
        $ref: "#/definitions/looker_base_stream/retriever"
        requester:
          $ref: "#/definitions/looker_base_stream/retriever/requester"
          path: /dashboard_layouts/{{ stream_partition['id'] }}/dashboard_layout_components
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                stream:
                  $ref: "#/definitions/streams/dashboard_layouts"
                parent_key: id
                partition_field: id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/dashboard_layout_components"
    user_attribute_group_values:
      $ref: "#/definitions/looker_base_stream"
      name: user_attribute_group_values
      retriever:
        $ref: "#/definitions/looker_base_stream/retriever"
        requester:
          $ref: "#/definitions/looker_base_stream/retriever/requester"
          path: /user_attributes/{{ stream_partition['id'] }}/group_values
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                stream:
                  $ref: "#/definitions/streams/user_attributes"
                parent_key: id
                partition_field: id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/user_attribute_group_values"
    user_attribute_values:
      name: user_attribute_values
      primary_key: []
      $ref: "#/definitions/looker_base_stream"
      retriever:
        $ref: "#/definitions/looker_base_stream/retriever"
        requester:
          $ref: "#/definitions/looker_base_stream/retriever/requester"
          path: "/users/{{ stream_partition['id'] }}/attribute_values"
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: id
                stream:
                  $ref: "#/definitions/streams/users"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/user_attribute_values"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['domain'] }}/api/4.0/
    authenticator:
      type: CustomAuthenticator
      class_name: source_looker.components.LookerAuthenticator

streams:
  - $ref: "#/definitions/streams/query_history"
  - $ref: "#/definitions/streams/roles"
  - $ref: "#/definitions/streams/user_attributes"
  - $ref: "#/definitions/streams/user_attribute_values"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/versions"
  - $ref: "#/definitions/streams/workspaces"
  # # existing empty streams
  - $ref: "#/definitions/streams/scheduled_plans"
  - $ref: "#/definitions/streams/user_attribute_group_values"
  - $ref: "#/definitions/streams/user_login_lockouts"
  - $ref: "#/definitions/streams/user_sessions"
  # # new empty streams
  - $ref: "#/definitions/streams/content_metadata"
  - $ref: "#/definitions/streams/content_metadata_access"
  - $ref: "#/definitions/streams/dashboard_elements"
  - $ref: "#/definitions/streams/dashboard_filters"
  - $ref: "#/definitions/streams/dashboard_layout_components"
  - $ref: "#/definitions/streams/dashboard_layouts"
  - $ref: "#/definitions/streams/folder_ancestors"
  - $ref: "#/definitions/streams/git_branches"
  - $ref: "#/definitions/streams/project_files"
  - $ref: "#/definitions/streams/role_groups"
  - $ref: "#/definitions/streams/run_looks"
  # # records are read but test says empty streams
  - $ref: "#/definitions/streams/board_items"
  - $ref: "#/definitions/streams/board_sections"
  - $ref: "#/definitions/streams/boards"
  - $ref: "#/definitions/streams/color_collections"
  - $ref: "#/definitions/streams/connections"
  - $ref: "#/definitions/streams/dashboards"
  - $ref: "#/definitions/streams/datagroups"
  - $ref: "#/definitions/streams/folders"
  - $ref: "#/definitions/streams/groups"
  - $ref: "#/definitions/streams/integration_hubs"
  - $ref: "#/definitions/streams/integrations"
  - $ref: "#/definitions/streams/legacy_features"
  - $ref: "#/definitions/streams/lookml_models"
  - $ref: "#/definitions/streams/looks"
  - $ref: "#/definitions/streams/model_sets"
  - $ref: "#/definitions/streams/permission_sets"
  - $ref: "#/definitions/streams/permissions"
  - $ref: "#/definitions/streams/primary_homepage_sections"
  - $ref: "#/definitions/streams/projects"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    required:
      - client_id
      - client_secret
      - domain
    properties:
      domain:
        type: string
        order: 2
        title: Domain
        examples:
          - domainname.looker.com
          - looker.clientname.com
          - 123.123.124.123:8000
        description: >-
          Domain for your Looker account, e.g. airbyte.cloud.looker.com,looker.[clientname].com,IP address
      client_id:
        type: string
        order: 0
        title: Client ID
        description: >-
          The Client ID is first part of an API3 key that is specific to each Looker user. See the <a href="https://docs.airbyte.com/integrations/sources/looker">docs</a> for more information on how to generate this key.
      run_look_ids:
        type: array
        items:
          type: string
          pattern: ^[0-9]*$
        order: 3
        title: Look IDs to Run
        description: The IDs of any Looks to run
      client_secret:
        type: string
        order: 1
        title: Client Secret
        description: The Client Secret is second part of an API3 key.
        airbyte_secret: true

schemas:
  looks:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "title": { "type": ["null", "string"] },
        "user_id": { "type": ["null", "string"] },
      }
    additionalProperties: true
  roles:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "name": { "type": ["null", "string"] },
        "url": { "type": ["null", "string"] },
      }
    additionalProperties: true
  users:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "email": { "type": ["null", "string"] },
        "url": { "type": ["null", "string"] },
      }
    additionalProperties: true
  groups:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "name": { "type": ["null", "string"] },
        "user_count": { "type": ["null", "string"] },
      }
    additionalProperties: true
  folders:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "namw": { "type": ["null", "string"] },
        "parent_id": { "type": ["null", "string"] },
      }
    additionalProperties: true
  projects:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "name": { "type": ["null", "string"] },
        "git_remote_url": { "type": ["null", "string"] },
      }
    additionalProperties: true
  versions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "looker_release_version": { "type": ["null", "string"] },
        "api_server_url": { "type": ["null", "string"] },
        "web_server_url": { "type": ["null", "string"] },
      }
    additionalProperties: true
  boards:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "title": { "type": ["null", "string"] },
        "user_id": { "type": ["null", "string"] },
      }
    additionalProperties: true
  run_looks:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties: {}
    additionalProperties: true
  query_history:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "query.id": { "type": ["null", "integer"] },
        "history.created_date":
          { "type": ["null", "string"], "format": "date" },
        "history.created_time": { "type": "string", "format": "date-time" },
        "query.model": { "type": ["null", "string"] },
        "query.view": { "type": ["null", "string"] },
        "space.id": { "type": ["null", "integer"] },
        "look.id": { "type": ["null", "integer"] },
        "dashboard.id": { "type": ["null", "integer"] },
        "user.id": { "type": ["null", "integer"] },
        "history.query_run_count": { "type": ["null", "integer"] },
        "history.total_runtime":
          { "multipleOf": 1e-20, "type": ["null", "number"] },
      }
    additionalProperties: true
  dashboards:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "title": { "type": ["null", "string"] },
        "user_id": { "type": ["null", "string"] },
      }
    additionalProperties: true
  datagroups:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "name": { "type": ["null", "string"] },
        "model_name": { "type": ["null", "string"] },
      }
    additionalProperties: true
  model_sets:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "name": { "type": ["null", "string"] },
        "url": { "type": ["null", "string"] },
      }
    additionalProperties: true
  workspaces:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties: { "id": { "type": ["null", "string"] } }
    additionalProperties: true
  connections:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "name": { "type": ["null", "string"] },
        "host": { "type": ["null", "string"] },
        "port": { "type": ["null", "string"] },
      }
    additionalProperties: true
  permissions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "permission": { "type": ["null", "string"] },
        "parent": { "type": ["null", "string"] },
        "description": { "type": ["null", "string"] },
      }
    additionalProperties: true
  role_groups:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "name": { "type": ["null", "string"] },
        "external_group_id": { "type": ["null", "string"] },
      }
    additionalProperties: true
  git_branches:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "name": { "type": ["null", "string"] },
        "remote": { "type": ["null", "string"] },
        "remote_name": { "type": ["null", "string"] },
      }
    additionalProperties: true
  integrations:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "integration_hub_id": { "type": ["null", "string"] },
        "description": { "type": ["null", "string"] },
      }
    additionalProperties: true
  lookml_models:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "name": { "type": ["null", "string"] },
        "label": { "type": ["null", "string"] },
        "project_name": { "type": ["null", "string"] },
      }
    additionalProperties: true
  project_files:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "path": { "type": ["null", "string"] },
        "title": { "type": ["null", "string"] },
      }
    additionalProperties: true
  user_sessions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "ip_address": { "type": ["null", "string"] },
        "url": { "type": ["null", "string"] },
      }
    additionalProperties: true
  board_items:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "title": { "type": ["null", "string"] },
        "url": { "type": ["null", "string"] },
      }
    additionalProperties: true
  legacy_features:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "name": { "type": ["null", "string"] },
        "description": { "type": ["null", "string"] },
      }
    additionalProperties: true
  permission_sets:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "name": { "type": ["null", "string"] },
        "url": { "type": ["null", "string"] },
      }
    additionalProperties: true
  scheduled_plans:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "title": { "type": ["null", "string"] },
        "user_id": { "type": ["null", "string"] },
      }
    additionalProperties: true
  user_attributes:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "name": { "type": ["null", "string"] },
        "type": { "type": ["null", "string"] },
      }
    additionalProperties: true
  content_metadata:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "name": { "type": ["null", "string"] },
        "content_type": { "type": ["null", "string"] },
      }
    additionalProperties: true
  folder_ancestors:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "name": { "type": ["null", "string"] },
        "parent_id": { "type": ["null", "string"] },
      }
    additionalProperties: true
  integration_hubs:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "url": { "type": ["null", "string"] },
        "label": { "type": ["null", "string"] },
      }
    additionalProperties: true
  color_collections:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "label": { "type": ["null", "string"] },
      }
    additionalProperties: true
  dashboard_filters:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "name": { "type": ["null", "string"] },
        "title": { "type": ["null", "string"] },
      }
    additionalProperties: true
  dashboard_layouts:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "type": { "type": ["null", "string"] },
        "dashboard_title": { "type": ["null", "string"] },
      }
    additionalProperties: true
  board_sections:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "board_id": { "type": ["null", "string"] },
        "title": { "type": ["null", "string"] },
      }
    additionalProperties: true
  dashboard_elements:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "title": { "type": ["null", "string"] },
        "type": { "type": ["null", "string"] },
      }
    additionalProperties: true
  user_login_lockouts:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "key": { "type": ["null", "string"] },
        "auth_type": { "type": ["null", "string"] },
        "user_id": { "type": ["null", "string"] },
      }
    additionalProperties: true
  content_metadata_access:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "content_metadata_id": { "type": ["null", "string"] },
        "permission_type": { "type": ["null", "string"] },
      }
    additionalProperties: true
  primary_homepage_sections:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "title": { "type": ["null", "string"] },
        "description": { "type": ["null", "string"] },
      }
    additionalProperties: true
  dashboard_layout_components:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "dashboard_element_id": { "type": ["null", "string"] },
        "element_title": { "type": ["null", "string"] },
      }
    additionalProperties: true
  user_attribute_group_values:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "id": { "type": ["null", "string"] },
        "group_id": { "type": ["null", "string"] },
        "value": { "type": ["null", "string"] },
      }
    additionalProperties: true
  user_attribute_values:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      {
        "name": { "type": ["null", "string"] },
        "user_id": { "type": ["null", "string"] },
        "value": { "type": ["null", "string"] },
      }
    additionalProperties: true
