version: 0.78.5

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - pagespeed

definitions:
  streams:
    pagespeed:
      type: DeclarativeStream
      name: pagespeed
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /runPagespeed
          http_method: GET
          request_parameters:
            key: "{{ config['api_key'] }}"
            category: "{{ config['categories'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          - type: ListPartitionRouter
            values: "{{ config['urls'] }}"
            cursor_field: url
            request_option:
              type: RequestOption
              field_name: url
              inject_into: request_parameter
          - type: ListPartitionRouter
            values: "{{ config['strategies'] }}"
            cursor_field: strategy
            request_option:
              type: RequestOption
              field_name: strategy
              inject_into: request_parameter
      transformations:
        - type: AddFields
          fields:
            - path:
                - strategy
              value: "{{ stream_partition.strategy }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/pagespeed"
  base_requester:
    type: HttpRequester
    url_base: https://www.googleapis.com/pagespeedonline/v5

streams:
  - $ref: "#/definitions/streams/pagespeed"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - categories
      - strategies
      - urls
    properties:
      api_key:
        type: string
        title: API Key
        description: >-
          Google PageSpeed API Key. See <a
          href="https://developers.google.com/speed/docs/insights/v5/get-started#APIKey">here</a>.
          The key is optional - however the API is heavily rate limited when
          using without API Key. Creating and using the API key therefore is
          recommended. The key is case sensitive.
        airbyte_secret: true
        order: 0
      categories:
        type: array
        items:
          type: string
          enum:
            - accessibility
            - best-practices
            - performance
            - pwa
            - seo
        title: Lighthouse Categories
        description: >-
          Defines which Lighthouse category to run. One or many of:
          "accessibility", "best-practices", "performance", "pwa", "seo".
        order: 1
      strategies:
        type: array
        items:
          type: string
          enum:
            - desktop
            - mobile
        title: Analyses Strategies
        description: The analyses strategy to use. Either "desktop" or "mobile".
        order: 2
      urls:
        type: array
        items:
          type: string
          pattern: >-
            ^(?:origin:)?(http(s)?:\/\/)[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:\/?#\[\]@!\$&'\(\)\*\+,;=.]+$
        title: URLs to analyse
        description: >-
          The URLs to retrieve pagespeed information from. The connector will
          attempt to sync PageSpeed reports for all the defined URLs. Format:
          https://(www.)url.domain
        example: https://example.com
        order: 3
    additionalProperties: true

metadata:
  autoImportSchema:
    pagespeed: false

schemas:
  pagespeed:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      analysisUTCTimestamp:
        type: string
        description: The timestamp of when the analysis was performed in UTC.
      captchaResult:
        type: string
        description: Result of captcha check during analysis.
      id:
        type: string
        description: Unique identifier for the analyzed page.
      kind:
        type: string
        description: A string indicating the object type.
      lighthouseResult:
        type: object
        description: Results from Lighthouse analysis.
        properties:
          audits:
            type: object
            description: Detailed audit results.
          categories:
            type: object
            description: Overall performance categories.
          categoryGroups:
            type: object
            description: Grouped performance categories.
          configSettings:
            type: object
            description: Settings used for analysis configuration.
            properties:
              channel:
                type: string
                description: Channel used for analysis.
              emulatedFormFactor:
                type: string
                description: Emulated form factor used for analysis.
              formFactor:
                type: string
                description: Form factor used for analysis.
              locale:
                type: string
                description: Locale used for analysis.
              onlyCategories:
                type: array
                description: Categories included in the analysis.
                items:
                  type: string
                  description: Category included in the analysis.
          environment:
            type: object
            description: Environment details during analysis.
            properties:
              benchmarkIndex:
                type: number
                description: Benchmark value used for comparison.
              hostUserAgent:
                type: string
                description: Host user agent used for analysis.
              networkUserAgent:
                type: string
                description: Network user agent used for analysis.
          fetchTime:
            type: string
            description: Time taken to fetch the analyzed page.
          finalUrl:
            type: string
            description: The final URL of the analyzed page.
          lighthouseVersion:
            type: string
            description: Version of Lighthouse used for the analysis.
          requestedUrl:
            type: string
            description: The URL requested for analysis.
          runWarnings:
            type: array
            description: Warnings generated during the analysis run.
          userAgent:
            type: string
            description: User agent used for analysis.
      loadingExperience:
        type: object
        description: Loading experience metrics for the analyzed page.
        properties:
          id:
            type: string
            description: Unique identifier for the loading experience data.
          initial_url:
            type: string
            description: Initial URL used for loading experience analysis.
          metrics:
            type: object
            description: Metrics related to loading experience.
            properties:
              CUMULATIVE_LAYOUT_SHIFT_SCORE:
                type: object
                description: Cumulative layout shift score metrics.
                properties:
                  category:
                    type: string
                    description: Category of cumulative layout shift score.
                  distributions:
                    type: array
                    description: Distribution details.
                    items:
                      type: object
                      description: Individual distribution data.
                      properties:
                        max:
                          type: number
                          description: Maximum value in the distribution.
                        min:
                          type: number
                          description: Minimum value in the distribution.
                        proportion:
                          type: number
                          description: Proportion of the distribution.
                  percentile:
                    type: number
                    description: Percentile value for cumulative layout shift score.
              EXPERIMENTAL_INTERACTION_TO_NEXT_PAINT:
                type: object
                description: Experimental interaction to next paint metrics.
                properties:
                  category:
                    type: string
                    description: Category of experimental interaction to next paint.
                  distributions:
                    type: array
                    description: Distribution details.
                    items:
                      type: object
                      description: Individual distribution data.
                      properties:
                        max:
                          type: number
                          description: Maximum value in the distribution.
                        min:
                          type: number
                          description: Minimum value in the distribution.
                        proportion:
                          type: number
                          description: Proportion of the distribution.
                  percentile:
                    type: number
                    description: >-
                      Percentile value for experimental interaction to next
                      paint.
              EXPERIMENTAL_TIME_TO_FIRST_BYTE:
                type: object
                description: Experimental time to first byte metrics.
                properties:
                  category:
                    type: string
                    description: Category of experimental time to first byte.
                  distributions:
                    type: array
                    description: Distribution details.
                    items:
                      type: object
                      description: Individual distribution data.
                      properties:
                        max:
                          type: number
                          description: Maximum value in the distribution.
                        min:
                          type: number
                          description: Minimum value in the distribution.
                        proportion:
                          type: number
                          description: Proportion of the distribution.
                  percentile:
                    type: number
                    description: Percentile value for experimental time to first byte.
              FIRST_CONTENTFUL_PAINT_MS:
                type: object
                description: First contentful paint latency metrics.
                properties:
                  category:
                    type: string
                    description: Category of first contentful paint latency.
                  distributions:
                    type: array
                    description: Distribution details.
                    items:
                      type: object
                      description: Individual distribution data.
                      properties:
                        max:
                          type: number
                          description: Maximum value in the distribution.
                        min:
                          type: number
                          description: Minimum value in the distribution.
                        proportion:
                          type: number
                          description: Proportion of the distribution.
                  percentile:
                    type: number
                    description: Percentile value for first contentful paint latency.
              FIRST_INPUT_DELAY_MS:
                type: object
                description: First input delay latency metrics.
                properties:
                  category:
                    type: string
                    description: Category of first input delay latency.
                  distributions:
                    type: array
                    description: Distribution details.
                    items:
                      type: object
                      description: Individual distribution data.
                      properties:
                        max:
                          type: number
                          description: Maximum value in the distribution.
                        min:
                          type: number
                          description: Minimum value in the distribution.
                        proportion:
                          type: number
                          description: Proportion of the distribution.
                  percentile:
                    type: number
                    description: Percentile value for first input delay latency.
              LARGEST_CONTENTFUL_PAINT_MS:
                type: object
                description: Largest contentful paint latency metrics.
                properties:
                  category:
                    type: string
                    description: Category of largest contentful paint latency.
                  distributions:
                    type: array
                    description: Distribution details.
                    items:
                      type: object
                      description: Individual distribution data.
                      properties:
                        max:
                          type: number
                          description: Maximum value in the distribution.
                        min:
                          type: number
                          description: Minimum value in the distribution.
                        proportion:
                          type: number
                          description: Proportion of the distribution.
                  percentile:
                    type: number
                    description: Percentile value for largest contentful paint latency.
          overall_category:
            type: string
            description: Overall category performance of loading experience.
      originLoadingExperience:
        type: object
        description: Loading experience metrics for the origin site of the analyzed page.
        properties:
          id:
            type: string
            description: Unique identifier for the origin loading experience data.
          initial_url:
            type: string
            description: Initial URL of the origin site for loading experience analysis.
          metrics:
            type: object
            description: Metrics related to origin loading experience.
            properties:
              CUMULATIVE_LAYOUT_SHIFT_SCORE:
                type: object
                description: Cumulative layout shift score metrics for origin site.
                properties:
                  category:
                    type: string
                    description: Category of cumulative layout shift score for origin site.
                  distributions:
                    type: array
                    description: Distribution details.
                    items:
                      type: object
                      description: Individual distribution data.
                      properties:
                        max:
                          type: number
                          description: Maximum value in the distribution.
                        min:
                          type: number
                          description: Minimum value in the distribution.
                        proportion:
                          type: number
                          description: Proportion of the distribution.
                  percentile:
                    type: number
                    description: >-
                      Percentile value for cumulative layout shift score of
                      origin site.
              EXPERIMENTAL_INTERACTION_TO_NEXT_PAINT:
                type: object
                description: >-
                  Experimental interaction to next paint metrics for origin
                  site.
                properties:
                  category:
                    type: string
                    description: >-
                      Category of experimental interaction to next paint for
                      origin site.
                  distributions:
                    type: array
                    description: Distribution details.
                    items:
                      type: object
                      description: Individual distribution data.
                      properties:
                        max:
                          type: number
                          description: Maximum value in the distribution.
                        min:
                          type: number
                          description: Minimum value in the distribution.
                        proportion:
                          type: number
                          description: Proportion of the distribution.
                  percentile:
                    type: number
                    description: >-
                      Percentile value for experimental interaction to next
                      paint of origin site.
              EXPERIMENTAL_TIME_TO_FIRST_BYTE:
                type: object
                description: Experimental time to first byte metrics for origin site.
                properties:
                  category:
                    type: string
                    description: >-
                      Category of experimental time to first byte for origin
                      site.
                  distributions:
                    type: array
                    description: Distribution details.
                    items:
                      type: object
                      description: Individual distribution data.
                      properties:
                        max:
                          type: number
                          description: Maximum value in the distribution.
                        min:
                          type: number
                          description: Minimum value in the distribution.
                        proportion:
                          type: number
                          description: Proportion of the distribution.
                  percentile:
                    type: number
                    description: >-
                      Percentile value for experimental time to first byte of
                      origin site.
              FIRST_CONTENTFUL_PAINT_MS:
                type: object
                description: First contentful paint latency metrics for origin site.
                properties:
                  category:
                    type: string
                    description: >-
                      Category of first contentful paint latency for origin
                      site.
                  distributions:
                    type: array
                    description: Distribution details.
                    items:
                      type: object
                      description: Individual distribution data.
                      properties:
                        max:
                          type: number
                          description: Maximum value in the distribution.
                        min:
                          type: number
                          description: Minimum value in the distribution.
                        proportion:
                          type: number
                          description: Proportion of the distribution.
                  percentile:
                    type: number
                    description: >-
                      Percentile value for first contentful paint latency of
                      origin site.
              FIRST_INPUT_DELAY_MS:
                type: object
                description: First input delay latency metrics for origin site.
                properties:
                  category:
                    type: string
                    description: Category of first input delay latency for origin site.
                  distributions:
                    type: array
                    description: Distribution details.
                    items:
                      type: object
                      description: Individual distribution data.
                      properties:
                        max:
                          type: number
                          description: Maximum value in the distribution.
                        min:
                          type: number
                          description: Minimum value in the distribution.
                        proportion:
                          type: number
                          description: Proportion of the distribution.
                  percentile:
                    type: number
                    description: >-
                      Percentile value for first input delay latency of origin
                      site.
              LARGEST_CONTENTFUL_PAINT_MS:
                type: object
                description: Largest contentful paint latency metrics for origin site.
                properties:
                  category:
                    type: string
                    description: >-
                      Category of largest contentful paint latency for origin
                      site.
                  distributions:
                    type: array
                    description: Distribution details.
                    items:
                      type: object
                      description: Individual distribution data.
                      properties:
                        max:
                          type: number
                          description: Maximum value in the distribution.
                        min:
                          type: number
                          description: Minimum value in the distribution.
                        proportion:
                          type: number
                          description: Proportion of the distribution.
                  percentile:
                    type: number
                    description: >-
                      Percentile value for largest contentful paint latency of
                      origin site.
          overall_category:
            type: string
            description: >-
              Overall category performance of loading experience for origin
              site.
      strategy:
        type: string
        description: Strategy used for page analysis.
    additionalProperties: true
