version: 6.41.5

type: DeclarativeSource

description: Mailgun Source Connector

check:
  type: CheckStream
  stream_names:
    - domains

definitions:
  streams:
    logs:
      type: DeclarativeStream
      name: logs
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_path:
              - pagination
              - limit
            inject_into: body_json
          page_token_option:
            type: RequestOption
            field_path:
              - pagination
              - token
            inject_into: body_json
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get(\"pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get(\"pagination\", {}).get(\"next\", {}) }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/analytics/logs
          http_method: POST
          request_body_json:
            pagination: "{\"sort\": \"timestamp:asc\"}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/logs"
      incremental_sync:
        type: DatetimeBasedCursor
        step: PT1H
        cursor_field: "@timestamp"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config.get('start_date', now_utc() -
            duration('P1D')).strftime('%Y-%m-%dT%H:%M:%S.%fZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%a, %d %b %Y %H:%M:%S %z"
        end_time_option:
          type: RequestOption
          field_name: end
          inject_into: body_json
        start_time_option:
          type: RequestOption
          field_name: start
          inject_into: body_json
        cursor_granularity: PT0.001S
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
    domains:
      type: DeclarativeStream
      name: domains
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: skip
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
        requester:
          $ref: "#/definitions/base_requester"
          path: /v3/domains
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/domains"
  base_requester:
    type: HttpRequester
    url_base: |-
      {{        
        'https://api.eu.mailgun.net/v3'
        if config.domain_region == 'EU'
        else 'https://api.mailgun.net'
      }}
    authenticator:
      type: BasicHttpAuthenticator
      password: "{{ config['private_key'] }}"
      username: api

streams:
  - $ref: "#/definitions/streams/domains"
  - $ref: "#/definitions/streams/logs"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - private_key
    properties:
      start_date:
        type: string
        description: >-
          UTC date and time in the format 2020-10-01 00:00:00. Any data before
          this date will not be replicated. If omitted, defaults to 3 days ago.
        order: 2
        title: Replication Start Date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2023-08-01T00:00:00Z"
      private_key:
        type: string
        description: Primary account API key to access your Mailgun data.
        order: 0
        title: Private API Key
        airbyte_secret: true
      domain_region:
        type: string
        description: >-
          Domain region code. 'EU' or 'US' are possible values. The default is
          'US'.
        enum:
          - US
          - EU
        order: 1
        title: Domain Region Code
        default: US
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    logs:
      hasRecords: true
      streamHash: 8bd6729db0f044eb7a97b576edb8e293f2c1ec64
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    domains:
      hasRecords: true
      streamHash: d5725ac67966583344f6b184b0774582768e42cc
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    logs: true
    domains: false

schemas:
  logs:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - "@timestamp"
    properties:
      id:
        type: string
      ip:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      event:
        type:
          - string
          - "null"
      flags:
        type:
          - object
          - "null"
        properties:
          is-routed:
            type:
              - boolean
              - "null"
          is-callback:
            type:
              - boolean
              - "null"
          is-test-mode:
            type:
              - boolean
              - "null"
          is-system-test:
            type:
              - boolean
              - "null"
          is-authenticated:
            type:
              - boolean
              - "null"
          is-delayed-bounce:
            type:
              - boolean
              - "null"
      domain:
        type:
          - object
          - "null"
        properties:
          name:
            type:
              - string
              - "null"
      method:
        type:
          - string
          - "null"
      reason:
        type:
          - string
          - "null"
      account:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
      message:
        type:
          - object
          - "null"
        properties:
          size:
            type:
              - number
              - "null"
          headers:
            type:
              - object
              - "null"
            properties:
              to:
                type:
                  - string
                  - "null"
              from:
                type:
                  - string
                  - "null"
              subject:
                type:
                  - string
                  - "null"
              message-id:
                type:
                  - string
                  - "null"
          attachments:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                size:
                  type:
                    - number
                    - "null"
                filename:
                  type:
                    - string
                    - "null"
                content-type:
                  type:
                    - string
                    - "null"
      storage:
        type:
          - object
          - "null"
        properties:
          env:
            type:
              - string
              - "null"
          key:
            type:
              - string
              - "null"
          url:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          region:
            type:
              - string
              - "null"
      envelope:
        type:
          - object
          - "null"
        properties:
          sender:
            type:
              - string
              - "null"
          targets:
            type:
              - string
              - "null"
          transport:
            type:
              - string
              - "null"
          sending-ip:
            type:
              - string
              - "null"
      severity:
        type:
          - string
          - "null"
      log-level:
        type:
          - string
          - "null"
      recipient:
        type:
          - string
          - "null"
      "@timestamp":
        type: string
      api-key-id:
        type:
          - string
          - "null"
      client-info:
        type:
          - object
          - "null"
        properties:
          bot:
            type:
              - string
              - "null"
          client-os:
            type:
              - string
              - "null"
          user-agent:
            type:
              - string
              - "null"
          client-name:
            type:
              - string
              - "null"
          client-type:
            type:
              - string
              - "null"
          device-type:
            type:
              - string
              - "null"
      geolocation:
        type:
          - object
          - "null"
        properties:
          city:
            type:
              - string
              - "null"
          region:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
              - "null"
      primary-dkim:
        type:
          - string
          - "null"
      originating-ip:
        type:
          - string
          - "null"
      user-variables:
        type:
          - string
          - "null"
      delivery-status:
        type:
          - object
          - "null"
        properties:
          tls:
            type:
              - boolean
              - "null"
          code:
            type:
              - number
              - "null"
          utf8:
            type:
              - boolean
              - "null"
          message:
            type:
              - string
              - "null"
          mx-host:
            type:
              - string
              - "null"
          attempt-no:
            type:
              - number
              - "null"
          enhanced-code:
            type:
              - string
              - "null"
          retry-seconds:
            type:
              - number
              - "null"
          session-seconds:
            type:
              - number
              - "null"
          certificate-verified:
            type:
              - boolean
              - "null"
          first-delivery-attempt-seconds:
            type:
              - number
              - "null"
      recipient-domain:
        type:
          - string
          - "null"
      recipient-provider:
        type:
          - string
          - "null"
    additionalProperties: true
  domains:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      type:
        type:
          - "null"
          - string
        description: Type of the domain (e.g., custom, sandbox).
      id:
        type:
          - "null"
          - string
        description: The unique identifier for the domain.
      ips:
        type:
          - "null"
          - array
        description: List of IP addresses associated with the domain.
        items:
          type:
            - "null"
            - string
          description: IP address
      name:
        type:
          - "null"
          - string
        description: The name of the domain.
      pool:
        type:
          - "null"
          - string
        description: The pool to which the domain belongs.
      state:
        type:
          - "null"
          - string
        description: The current state of the domain.
      wildcard:
        type:
          - "null"
          - boolean
        description: Indicates if the domain allows wildcard addresses.
      created_at:
        type:
          - "null"
          - string
        description: The date and time when the domain was created.
      smtp_login:
        type:
          - "null"
          - string
        description: SMTP login credentials for the domain.
      web_prefix:
        type:
          - "null"
          - string
        description: Prefix for webhooks related to the domain.
      web_scheme:
        type:
          - "null"
          - string
        description: The scheme for webhook URLs (e.g., https).
      is_disabled:
        type:
          - "null"
          - boolean
        description: Specifies if the domain is disabled.
      require_tls:
        type:
          - "null"
          - boolean
        description: Specifies if TLS is required for emails sent from this domain.
      spam_action:
        type:
          - "null"
          - string
        description: Action to take for emails marked as spam.
      dkim_key_size:
        type:
          - "null"
          - integer
        description: The size of the DKIM key associated with the domain.
      smtp_password:
        type:
          - "null"
          - string
        description: SMTP password associated with the domain.
      skip_verification:
        type:
          - "null"
          - boolean
        description: Indicates whether email verification should be skipped.
      force_dkim_authority:
        type:
          - "null"
          - boolean
        description: Indicates whether DKIM authority needs to be enforced.
    additionalProperties: true
