version: 6.48.15

type: DeclarativeSource

description: >-
  Seamless data integration between Klaus (also known as Zendesk QA) and your
  data warehouse or any other destination.

check:
  type: CheckStream
  stream_names:
    - reviews
    - users
    - categories

definitions:
  streams:
    reviews:
      type: DeclarativeStream
      name: reviews
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /account/{{ config['account'] }}/workspace/{{ config['workspace']
            }}/reviews
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - conversations
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: lastUpdatedISO
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: fromDate
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: toDate
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1W
        cursor_granularity: PT0.001S
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reviews"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /account/{{ config['account'] }}/users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    categories:
      type: DeclarativeStream
      name: categories
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /account/{{ config['account'] }}/workspace/{{ config['workspace']
            }}/categories
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - categories
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/categories"
    disputes:
      type: DeclarativeStream
      name: disputes
      primary_key:
        - disputeId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /account/{{ config['account'] }}/workspace/{{ config['workspace']
            }}/disputes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - disputes
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/disputes"
  base_requester:
    type: HttpRequester
    url_base: https://kibbles.klausapp.com/api/v2
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/reviews"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/categories"
  - $ref: "#/definitions/streams/disputes"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - account
      - workspace
    properties:
      api_key:
        type: string
        description: API access key used to retrieve data from the KLAUS API.
        order: 0
        airbyte_secret: true
      account:
        type: integer
        description: getting data by account
        order: 1
        title: account
      workspace:
        type: integer
        description: getting data by workspace
        order: 2
        title: workspace
      start_date:
        type: string
        description: Start getting data from that date.
        order: 3
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2020-10-15T00:00:00Z"
    additionalProperties: true

metadata:
  autoImportSchema:
    reviews: false
    users: false
    categories: false
    disputes: true
  testedStreams:
    reviews:
      streamHash: 9c1ce7975a7d85a02632827724bacc9af868beae
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: bf9bc67ca9ca515946d6fecaee2b7974025b4f26
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    categories:
      streamHash: 7b240acd0fa7c1da98313fb727668236a7933a0c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    disputes:
      streamHash: 650e6193c4bd018f00c418f2907e659a2b7c0398
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  reviews:
    type:
      - object
      - "null"
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      comments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            comment:
              type:
                - string
                - "null"
            created:
              type:
                - string
                - "null"
            createdISO:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            owner:
              type:
                - object
                - "null"
              properties:
                avatar:
                  type:
                    - string
                    - "null"
                email:
                  type:
                    - string
                    - "null"
                groups:
                  type: array
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                name:
                  type:
                    - string
                    - "null"
            tags:
              type:
                - array
                - "null"
            thread:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  comment:
                    type:
                      - string
                      - "null"
                  created:
                    type:
                      - string
                      - "null"
                  createdISO:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  owner:
                    type:
                      - object
                      - "null"
                    properties:
                      avatar:
                        type:
                          - string
                          - "null"
                      email:
                        type:
                          - string
                          - "null"
                      groups:
                        type:
                          - array
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                  tags:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        tag:
                          type:
                            - string
                            - "null"
                        user:
                          type:
                            - object
                            - "null"
                          properties:
                            avatar:
                              type:
                                - string
                                - "null"
                            email:
                              type:
                                - string
                                - "null"
                            groups:
                              type:
                                - array
                                - "null"
                              items:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  id:
                                    type:
                                      - string
                                      - "null"
                                  name:
                                    type:
                                      - string
                                      - "null"
                            name:
                              type:
                                - string
                                - "null"
                  thread:
                    type:
                      - array
                      - "null"
                  updated:
                    type:
                      - string
                      - "null"
                  updatedISO:
                    type:
                      - string
                      - "null"
            updated:
              type:
                - string
                - "null"
            updatedISO:
              type:
                - string
                - "null"
      createdAt:
        type:
          - string
          - "null"
      createdAtISO:
        type:
          - string
          - "null"
      externalId:
        type:
          - string
          - "null"
      externalUrl:
        type:
          - string
          - "null"
      lastUpdatedISO:
        type:
          - string
          - "null"
      reviews:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            comment:
              type:
                - "null"
                - string
            created:
              type:
                - string
                - "null"
            createdISO:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            ratings:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  categoryId:
                    type:
                      - string
                      - "null"
                  categoryName:
                    type:
                      - string
                      - "null"
                  cause:
                    type: "null"
                  critical:
                    type:
                      - boolean
                      - "null"
                  score:
                    type:
                      - integer
                      - "null"
                  weight:
                    type:
                      - number
                      - "null"
            received:
              type:
                - boolean
                - "null"
            reviewTime:
              type:
                - string
                - "null"
            reviewee:
              type:
                - object
                - "null"
              properties:
                avatar:
                  type:
                    - string
                    - "null"
                email:
                  type:
                    - string
                    - "null"
                groups:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                name:
                  type:
                    - string
                    - "null"
            reviewer:
              type:
                - object
                - "null"
              properties:
                avatar:
                  type:
                    - string
                    - "null"
                email:
                  type:
                    - string
                    - "null"
                groups:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                name:
                  type:
                    - string
                    - "null"
            score:
              type:
                - number
                - "null"
            scorecard:
              type: "null"
            tags:
              type:
                - array
                - "null"
            thread:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  comment:
                    type:
                      - string
                      - "null"
                  created:
                    type:
                      - string
                      - "null"
                  createdISO:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  owner:
                    type:
                      - object
                      - "null"
                    properties:
                      avatar:
                        type:
                          - string
                          - "null"
                      email:
                        type:
                          - string
                          - "null"
                      groups:
                        type:
                          - array
                          - "null"
                        items:
                          type:
                            - object
                            - "null"
                          properties:
                            id:
                              type:
                                - string
                                - "null"
                            name:
                              type:
                                - string
                                - "null"
                      name:
                        type:
                          - string
                          - "null"
                  tags:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        tag:
                          type:
                            - string
                            - "null"
                        user:
                          type:
                            - object
                            - "null"
                          properties:
                            avatar:
                              type:
                                - string
                                - "null"
                            email:
                              type:
                                - string
                                - "null"
                            groups:
                              type:
                                - array
                                - "null"
                              items:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  id:
                                    type:
                                      - string
                                      - "null"
                                  name:
                                    type:
                                      - string
                                      - "null"
                            name:
                              type:
                                - string
                                - "null"
                  thread:
                    type:
                      - array
                      - "null"
                  updated:
                    type:
                      - string
                      - "null"
                  updatedISO:
                    type:
                      - string
                      - "null"
            updated:
              type:
                - string
                - "null"
            updatedISO:
              type:
                - string
                - "null"
      sourceType:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
      workspaceId:
        type:
          - string
          - "null"
  users:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      email:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
  categories:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      archived:
        type:
          - boolean
          - "null"
      critical:
        type:
          - boolean
          - "null"
      groupId:
        type:
          - string
          - "null"
      groupName:
        type:
          - string
          - "null"
      groupPosition:
        type:
          - integer
          - "null"
      id:
        type:
          - string
          - "null"
      maxRating:
        type:
          - integer
          - "null"
      name:
        type:
          - string
          - "null"
      position:
        type:
          - integer
          - "null"
      rootCauses:
        type: array
        items:
          type: string
      scorecards:
        type: array
        items:
          type: string
      weight:
        type:
          - number
          - "null"
  disputes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      account:
        type:
          - string
          - "null"
      assignee:
        type:
          - object
          - "null"
        properties:
          avatar:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      categories:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            expectedRating:
              type:
                - number
                - "null"
            id:
              type:
                - string
                - "null"
            rootCause:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
      comment:
        type:
          - object
          - "null"
        properties:
          Id:
            type:
              - string
              - "null"
          comment:
            type:
              - string
              - "null"
          commentTags:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                tag:
                  type:
                    - string
                    - "null"
                userId:
                  type:
                    - string
                    - "null"
          created:
            type:
              - string
              - "null"
          owner:
            type:
              - object
              - "null"
            properties:
              avatar:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          thread:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                Id:
                  type:
                    - string
                    - "null"
                comment:
                  type:
                    - string
                    - "null"
                commentTags:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      tag:
                        type:
                          - string
                          - "null"
                      userId:
                        type:
                          - string
                          - "null"
                created:
                  type:
                    - string
                    - "null"
                owner:
                  type:
                    - object
                    - "null"
                  properties:
                    avatar:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                thread:
                  type:
                    - array
                    - "null"
                updated:
                  type:
                    - string
                    - "null"
          updated:
            type:
              - string
              - "null"
      connectionId:
        type:
          - string
          - "null"
      conversationId:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      createdBy:
        type:
          - object
          - "null"
        properties:
          avatar:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      disputeId:
        type: string
      rejectedBy:
        type:
          - object
          - "null"
        properties:
          avatar:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      resolutionTime:
        type:
          - string
          - "null"
      resolvedAt:
        type:
          - string
          - "null"
      reviewId:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      workspace:
        type:
          - string
          - "null"
    required:
      - disputeId
