version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - pages
definitions:
  streams:
    pages:
      type: DeclarativeStream
      name: pages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.statuspage.io/v1
          path: /pages
          http_method: GET
          request_headers:
            Authorization: OAuth {{ config['api_key'] }}
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 62
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 420
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: https://json-schema.org/schema#
          additionalProperties: true
          description: Get a page
          properties:
            activity_score:
              type: number
              format: float
            allow_email_subscribers:
              type:
                - "null"
                - boolean
              description: Can your users choose to receive notifications via email
            allow_incident_subscribers:
              type:
                - "null"
                - boolean
              description:
                Can your users subscribe to notifications for a single
                incident
            allow_page_subscribers:
              type:
                - "null"
                - boolean
              description: Can your users subscribe to all notifications on the page
            allow_rss_atom_feeds:
              type:
                - "null"
                - boolean
              description: >-
                Can your users choose to access incident feeds via RSS/Atom (not
                functional on Audience-Specific pages)
            allow_sms_subscribers:
              type:
                - "null"
                - boolean
              description: Can your users choose to receive notifications via SMS
            allow_webhook_subscribers:
              type:
                - "null"
                - boolean
              description: Can your users choose to receive notifications via Webhooks
            branding:
              type:
                - "null"
                - string
              description: The main template your statuspage will use
            city:
              type:
                - "null"
                - string
            country:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
              description: Timestamp the record was created
              format: date-time
            css_blues:
              type:
                - "null"
                - string
              description: CSS Color
            css_body_background_color:
              type:
                - "null"
                - string
              description: CSS Color
            css_border_color:
              type:
                - "null"
                - string
              description: CSS Color
            css_font_color:
              type:
                - "null"
                - string
              description: CSS Color
            css_graph_color:
              type:
                - "null"
                - string
              description: CSS Color
            css_greens:
              type:
                - "null"
                - string
              description: CSS Color
            css_light_font_color:
              type:
                - "null"
                - string
              description: CSS Color
            css_link_color:
              type:
                - "null"
                - string
              description: CSS Color
            css_no_data:
              type:
                - "null"
                - string
              description: CSS Color
            css_oranges:
              type:
                - "null"
                - string
              description: CSS Color
            css_reds:
              type:
                - "null"
                - string
              description: CSS Color
            css_yellows:
              type:
                - "null"
                - string
              description: CSS Color
            domain:
              type:
                - "null"
                - string
              description: CNAME alias for your status page
              example: status.mycompany.com
            email_logo:
              type:
                - "null"
                - object
            favicon_logo:
              type:
                - "null"
                - object
            headline:
              type:
                - "null"
                - string
            hero_cover:
              type:
                - "null"
                - object
            hidden_from_search:
              type:
                - "null"
                - boolean
              description: Should your page hide itself from search engines
            id:
              type:
                - "null"
                - string
              description: Page identifier
              example: j7m9j8brdt3h
            ip_restrictions:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
              description: Name of your page to be displayed
              example: My Company Status
            notifications_email_footer:
              type:
                - "null"
                - string
              description: >-
                Allows you to customize the footer appearing on your notification
                emails.  Accepts Markdown for formatting
            notifications_from_email:
              type:
                - "null"
                - string
              description: >-
                Allows you to customize the email address your page notifications
                come
                from
              example: no-reply@status.mycompany.com
            page_description:
              type:
                - "null"
                - string
            state:
              type:
                - "null"
                - string
            subdomain:
              type:
                - "null"
                - string
              description: Subdomain at which to access your status page
              example: your-subdomain.statuspage.io
            support_url:
              type:
                - "null"
                - string
            time_zone:
              type:
                - "null"
                - string
              description: Timezone configured for your page
              example: UTC
            transactional_logo:
              type:
                - "null"
                - object
            twitter_logo:
              type:
                - "null"
                - object
            twitter_username:
              type:
                - "null"
                - string
            updated_at:
              type:
                - "null"
                - string
              description: Timestamp the record was last updated
              format: date-time
            url:
              type:
                - "null"
                - string
              description: >-
                Website of your page.  Clicking on your statuspage image will link
                here.
              example: https://www.mycompany.com
            viewers_must_be_team_members:
              type:
                - "null"
                - boolean
    subscribers:
      type: DeclarativeStream
      name: subscribers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.statuspage.io/v1
          path: /pages/{{ stream_slice.page_id }}/subscribers
          http_method: GET
          request_headers:
            Authorization: OAuth {{ config['api_key'] }}
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 62
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 420
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: page_id
                stream:
                  type: DeclarativeStream
                  name: pages
                  primary_key:
                    - id
                  retriever:
                    type: SimpleRetriever
                    requester:
                      type: HttpRequester
                      url_base: https://api.statuspage.io/v1
                      path: /pages
                      http_method: GET
                      request_headers:
                        Authorization: OAuth {{ config['api_key'] }}
                      error_handler:
                        type: CompositeErrorHandler
                        error_handlers:
                          - type: DefaultErrorHandler
                            backoff_strategies:
                              - type: ConstantBackoffStrategy
                                backoff_time_in_seconds: 62
                            response_filters:
                              - type: HttpResponseFilter
                                action: RETRY
                                http_codes:
                                  - 420
                                  - 429
                    record_selector:
                      type: RecordSelector
                      extractor:
                        type: DpathExtractor
                        field_path: []
                    paginator:
                      type: DefaultPaginator
                      page_token_option:
                        type: RequestOption
                        inject_into: request_parameter
                        field_name: page
                      page_size_option:
                        type: RequestOption
                        inject_into: request_parameter
                        field_name: limit
                      pagination_strategy:
                        type: OffsetIncrement
                        page_size: 100
                  schema_loader:
                    type: InlineSchemaLoader
                    schema:
                      type: object
                      $schema: https://json-schema.org/schema#
                      additionalProperties: true
                      description: Get a page
                      properties:
                        activity_score:
                          type: number
                          format: float
                        allow_email_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users choose to receive notifications
                            via email
                        allow_incident_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users subscribe to notifications for a
                            single incident
                        allow_page_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users subscribe to all notifications on
                            the page
                        allow_rss_atom_feeds:
                          type:
                            - "null"
                            - boolean
                          description: >-
                            Can your users choose to access incident feeds via RSS/Atom
                            (not
                            functional on Audience-Specific pages)
                        allow_sms_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users choose to receive notifications
                            via SMS
                        allow_webhook_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users choose to receive notifications
                            via Webhooks
                        branding:
                          type:
                            - "null"
                            - string
                          description: The main template your statuspage will use
                        city:
                          type:
                            - "null"
                            - string
                        country:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          description: Timestamp the record was created
                          format: date-time
                        css_blues:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_body_background_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_border_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_font_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_graph_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_greens:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_light_font_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_link_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_no_data:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_oranges:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_reds:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_yellows:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        domain:
                          type:
                            - "null"
                            - string
                          description: CNAME alias for your status page
                          example: status.mycompany.com
                        email_logo:
                          type:
                            - "null"
                            - object
                        favicon_logo:
                          type:
                            - "null"
                            - object
                        headline:
                          type:
                            - "null"
                            - string
                        hero_cover:
                          type:
                            - "null"
                            - object
                        hidden_from_search:
                          type:
                            - "null"
                            - boolean
                          description: Should your page hide itself from search engines
                        id:
                          type:
                            - "null"
                            - string
                          description: Page identifier
                          example: j7m9j8brdt3h
                        ip_restrictions:
                          type:
                            - "null"
                            - string
                        name:
                          type:
                            - "null"
                            - string
                          description: Name of your page to be displayed
                          example: My Company Status
                        notifications_email_footer:
                          type:
                            - "null"
                            - string
                          description: >-
                            Allows you to customize the footer appearing on your notification
                            emails.  Accepts Markdown for formatting
                        notifications_from_email:
                          type:
                            - "null"
                            - string
                          description: >-
                            Allows you to customize the email address your page notifications
                            come
                            from
                          example: no-reply@status.mycompany.com
                        page_description:
                          type:
                            - "null"
                            - string
                        state:
                          type:
                            - "null"
                            - string
                        subdomain:
                          type:
                            - "null"
                            - string
                          description: Subdomain at which to access your status page
                          example: your-subdomain.statuspage.io
                        support_url:
                          type:
                            - "null"
                            - string
                        time_zone:
                          type:
                            - "null"
                            - string
                          description: Timezone configured for your page
                          example: UTC
                        transactional_logo:
                          type:
                            - "null"
                            - object
                        twitter_logo:
                          type:
                            - "null"
                            - object
                        twitter_username:
                          type:
                            - "null"
                            - string
                        updated_at:
                          type:
                            - "null"
                            - string
                          description: Timestamp the record was last updated
                          format: date-time
                        url:
                          type:
                            - "null"
                            - string
                          description: >-
                            Website of your page.  Clicking on your statuspage image will
                            link
                            here.
                          example: https://www.mycompany.com
                        viewers_must_be_team_members:
                          type:
                            - "null"
                            - boolean
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: https://json-schema.org/schema#
          additionalProperties: true
          description: Get an incident subscriber
          properties:
            components:
              type:
                - "null"
                - string
              description: >-
                The components for which the subscriber has elected to receive
                updates.
              example:
                - vp5sp4b1rl2l
            created_at:
              type:
                - "null"
                - string
              format: date-time
            display_phone_number:
              type:
                - "null"
                - string
              description: >-
                A formatted version of the phone_number and phone_country pair, nicely
                formatted for display.
              example: +1 (202) 555-0105
            email:
              type:
                - "null"
                - string
              description: >-
                The email address to use to contact the subscriber. Used for Email
                and
                Webhook subscribers.
              example: foo@example2.com
            endpoint:
              type:
                - "null"
                - string
              description: The URL where a webhook subscriber elects to receive updates.
              example: https://example.com/
            id:
              type:
                - "null"
                - string
              description: Subscriber Identifier
              example: x2wy916b0s4l
            mode:
              type:
                - "null"
                - string
              description: The communication mode of the subscriber.
              example: email
            obfuscated_channel_name:
              type:
                - "null"
                - string
              description: Obfuscated slack channel name
              example: "#*******an"
            page_access_user_id:
              type:
                - "null"
                - string
              description: >-
                The Page Access user this subscriber belongs to (only for
                audience-specific pages).
              example: pwq31gns60j3
            phone_country:
              type:
                - "null"
                - string
              description: >-
                The two-character country code representing the country of which the
                phone_number is a part.
              example: US
            phone_number:
              type:
                - "null"
                - string
              description: The phone number used to contact an SMS subscriber
              example: 202-555-0105
            purge_at:
              type:
                - "null"
                - string
              description: >-
                The timestamp when a quarantined subscriber will be purged
                (unsubscribed).
              format: date-time
            quarantined_at:
              type:
                - "null"
                - string
              description: >-
                The timestamp when the subscriber was quarantined due to an issue
                reaching them.
              format: date-time
            skip_confirmation_notification:
              type:
                - "null"
                - boolean
              description: >-
                If this is true, do not notify the user with changes to their
                subscription.
            workspace_name:
              type:
                - "null"
                - string
              description: The workspace name of the slack subscriber.
              example: Atlassian
    subscribers_histogram_by_state:
      type: DeclarativeStream
      name: subscribers_histogram_by_state
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.statuspage.io/v1
          path: /pages/{{ stream_slice.page_id }}/subscribers/histogram_by_state
          http_method: GET
          request_headers:
            Authorization: OAuth {{ config['api_key'] }}
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 62
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 420
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: page_id
                stream:
                  type: DeclarativeStream
                  name: pages
                  primary_key:
                    - id
                  retriever:
                    type: SimpleRetriever
                    requester:
                      type: HttpRequester
                      url_base: https://api.statuspage.io/v1
                      path: /pages
                      http_method: GET
                      request_headers:
                        Authorization: OAuth {{ config['api_key'] }}
                      error_handler:
                        type: CompositeErrorHandler
                        error_handlers:
                          - type: DefaultErrorHandler
                            backoff_strategies:
                              - type: ConstantBackoffStrategy
                                backoff_time_in_seconds: 62
                            response_filters:
                              - type: HttpResponseFilter
                                action: RETRY
                                http_codes:
                                  - 420
                                  - 429
                    record_selector:
                      type: RecordSelector
                      extractor:
                        type: DpathExtractor
                        field_path: []
                    paginator:
                      type: DefaultPaginator
                      page_token_option:
                        type: RequestOption
                        inject_into: request_parameter
                        field_name: page
                      page_size_option:
                        type: RequestOption
                        inject_into: request_parameter
                        field_name: limit
                      pagination_strategy:
                        type: OffsetIncrement
                        page_size: 100
                  schema_loader:
                    type: InlineSchemaLoader
                    schema:
                      type: object
                      $schema: https://json-schema.org/schema#
                      additionalProperties: true
                      description: Get a page
                      properties:
                        activity_score:
                          type: number
                          format: float
                        allow_email_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users choose to receive notifications
                            via email
                        allow_incident_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users subscribe to notifications for a
                            single incident
                        allow_page_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users subscribe to all notifications on
                            the page
                        allow_rss_atom_feeds:
                          type:
                            - "null"
                            - boolean
                          description: >-
                            Can your users choose to access incident feeds via RSS/Atom
                            (not
                            functional on Audience-Specific pages)
                        allow_sms_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users choose to receive notifications
                            via SMS
                        allow_webhook_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users choose to receive notifications
                            via Webhooks
                        branding:
                          type:
                            - "null"
                            - string
                          description: The main template your statuspage will use
                        city:
                          type:
                            - "null"
                            - string
                        country:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          description: Timestamp the record was created
                          format: date-time
                        css_blues:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_body_background_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_border_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_font_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_graph_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_greens:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_light_font_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_link_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_no_data:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_oranges:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_reds:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_yellows:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        domain:
                          type:
                            - "null"
                            - string
                          description: CNAME alias for your status page
                          example: status.mycompany.com
                        email_logo:
                          type:
                            - "null"
                            - object
                        favicon_logo:
                          type:
                            - "null"
                            - object
                        headline:
                          type:
                            - "null"
                            - string
                        hero_cover:
                          type:
                            - "null"
                            - object
                        hidden_from_search:
                          type:
                            - "null"
                            - boolean
                          description: Should your page hide itself from search engines
                        id:
                          type:
                            - "null"
                            - string
                          description: Page identifier
                          example: j7m9j8brdt3h
                        ip_restrictions:
                          type:
                            - "null"
                            - string
                        name:
                          type:
                            - "null"
                            - string
                          description: Name of your page to be displayed
                          example: My Company Status
                        notifications_email_footer:
                          type:
                            - "null"
                            - string
                          description: >-
                            Allows you to customize the footer appearing on your notification
                            emails.  Accepts Markdown for formatting
                        notifications_from_email:
                          type:
                            - "null"
                            - string
                          description: >-
                            Allows you to customize the email address your page notifications
                            come
                            from
                          example: no-reply@status.mycompany.com
                        page_description:
                          type:
                            - "null"
                            - string
                        state:
                          type:
                            - "null"
                            - string
                        subdomain:
                          type:
                            - "null"
                            - string
                          description: Subdomain at which to access your status page
                          example: your-subdomain.statuspage.io
                        support_url:
                          type:
                            - "null"
                            - string
                        time_zone:
                          type:
                            - "null"
                            - string
                          description: Timezone configured for your page
                          example: UTC
                        transactional_logo:
                          type:
                            - "null"
                            - object
                        twitter_logo:
                          type:
                            - "null"
                            - object
                        twitter_username:
                          type:
                            - "null"
                            - string
                        updated_at:
                          type:
                            - "null"
                            - string
                          description: Timestamp the record was last updated
                          format: date-time
                        url:
                          type:
                            - "null"
                            - string
                          description: >-
                            Website of your page.  Clicking on your statuspage image will
                            link
                            here.
                          example: https://www.mycompany.com
                        viewers_must_be_team_members:
                          type:
                            - "null"
                            - boolean
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: https://json-schema.org/schema#
          additionalProperties: true
          description: Get a histogram of subscribers by type and then state
          properties:
            email:
              type: object
              $schema: https://json-schema.org/schema#
              properties:
                active:
                  type: integer
                  description: The number of active subscribers found by the query.
                  format: int32
                quarantined:
                  type: integer
                  description:
                    The number of quarantined subscribers found by the
                    query.
                  format: int32
                total:
                  type: integer
                  description: The total number of subscribers found by the query.
                  format: int32
                unconfirmed:
                  type: integer
                  description:
                    The number of unconfirmed subscribers found by the
                    query.
                  format: int32
            integration_partner:
              type: object
              $schema: https://json-schema.org/schema#
              properties:
                active:
                  type: integer
                  description: The number of active subscribers found by the query.
                  format: int32
                quarantined:
                  type: integer
                  description:
                    The number of quarantined subscribers found by the
                    query.
                  format: int32
                total:
                  type: integer
                  description: The total number of subscribers found by the query.
                  format: int32
                unconfirmed:
                  type: integer
                  description:
                    The number of unconfirmed subscribers found by the
                    query.
                  format: int32
            slack:
              type: object
              $schema: https://json-schema.org/schema#
              properties:
                active:
                  type: integer
                  description: The number of active subscribers found by the query.
                  format: int32
                quarantined:
                  type: integer
                  description:
                    The number of quarantined subscribers found by the
                    query.
                  format: int32
                total:
                  type: integer
                  description: The total number of subscribers found by the query.
                  format: int32
                unconfirmed:
                  type: integer
                  description:
                    The number of unconfirmed subscribers found by the
                    query.
                  format: int32
            sms:
              type: object
              $schema: https://json-schema.org/schema#
              properties:
                active:
                  type: integer
                  description: The number of active subscribers found by the query.
                  format: int32
                quarantined:
                  type: integer
                  description:
                    The number of quarantined subscribers found by the
                    query.
                  format: int32
                total:
                  type: integer
                  description: The total number of subscribers found by the query.
                  format: int32
                unconfirmed:
                  type: integer
                  description:
                    The number of unconfirmed subscribers found by the
                    query.
                  format: int32
            webhook:
              type: object
              $schema: https://json-schema.org/schema#
              properties:
                active:
                  type: integer
                  description: The number of active subscribers found by the query.
                  format: int32
                quarantined:
                  type: integer
                  description:
                    The number of quarantined subscribers found by the
                    query.
                  format: int32
                total:
                  type: integer
                  description: The total number of subscribers found by the query.
                  format: int32
                unconfirmed:
                  type: integer
                  description:
                    The number of unconfirmed subscribers found by the
                    query.
                  format: int32
    incident_templates:
      type: DeclarativeStream
      name: incident_templates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.statuspage.io/v1
          path: /pages/{{ stream_slice.page_id }}/incident_templates
          http_method: GET
          request_headers:
            Authorization: OAuth {{ config['api_key'] }}
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 62
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 420
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: page_id
                stream:
                  type: DeclarativeStream
                  name: pages
                  primary_key:
                    - id
                  retriever:
                    type: SimpleRetriever
                    requester:
                      type: HttpRequester
                      url_base: https://api.statuspage.io/v1
                      path: /pages
                      http_method: GET
                      request_headers:
                        Authorization: OAuth {{ config['api_key'] }}
                      error_handler:
                        type: CompositeErrorHandler
                        error_handlers:
                          - type: DefaultErrorHandler
                            backoff_strategies:
                              - type: ConstantBackoffStrategy
                                backoff_time_in_seconds: 62
                            response_filters:
                              - type: HttpResponseFilter
                                action: RETRY
                                http_codes:
                                  - 420
                                  - 429
                    record_selector:
                      type: RecordSelector
                      extractor:
                        type: DpathExtractor
                        field_path: []
                    paginator:
                      type: DefaultPaginator
                      page_token_option:
                        type: RequestOption
                        inject_into: request_parameter
                        field_name: page
                      page_size_option:
                        type: RequestOption
                        inject_into: request_parameter
                        field_name: limit
                      pagination_strategy:
                        type: OffsetIncrement
                        page_size: 100
                  schema_loader:
                    type: InlineSchemaLoader
                    schema:
                      type: object
                      $schema: https://json-schema.org/schema#
                      additionalProperties: true
                      description: Get a page
                      properties:
                        activity_score:
                          type: number
                          format: float
                        allow_email_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users choose to receive notifications
                            via email
                        allow_incident_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users subscribe to notifications for a
                            single incident
                        allow_page_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users subscribe to all notifications on
                            the page
                        allow_rss_atom_feeds:
                          type:
                            - "null"
                            - boolean
                          description: >-
                            Can your users choose to access incident feeds via RSS/Atom
                            (not
                            functional on Audience-Specific pages)
                        allow_sms_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users choose to receive notifications
                            via SMS
                        allow_webhook_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users choose to receive notifications
                            via Webhooks
                        branding:
                          type:
                            - "null"
                            - string
                          description: The main template your statuspage will use
                        city:
                          type:
                            - "null"
                            - string
                        country:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          description: Timestamp the record was created
                          format: date-time
                        css_blues:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_body_background_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_border_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_font_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_graph_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_greens:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_light_font_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_link_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_no_data:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_oranges:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_reds:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_yellows:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        domain:
                          type:
                            - "null"
                            - string
                          description: CNAME alias for your status page
                          example: status.mycompany.com
                        email_logo:
                          type:
                            - "null"
                            - object
                        favicon_logo:
                          type:
                            - "null"
                            - object
                        headline:
                          type:
                            - "null"
                            - string
                        hero_cover:
                          type:
                            - "null"
                            - object
                        hidden_from_search:
                          type:
                            - "null"
                            - boolean
                          description: Should your page hide itself from search engines
                        id:
                          type:
                            - "null"
                            - string
                          description: Page identifier
                          example: j7m9j8brdt3h
                        ip_restrictions:
                          type:
                            - "null"
                            - string
                        name:
                          type:
                            - "null"
                            - string
                          description: Name of your page to be displayed
                          example: My Company Status
                        notifications_email_footer:
                          type:
                            - "null"
                            - string
                          description: >-
                            Allows you to customize the footer appearing on your notification
                            emails.  Accepts Markdown for formatting
                        notifications_from_email:
                          type:
                            - "null"
                            - string
                          description: >-
                            Allows you to customize the email address your page notifications
                            come
                            from
                          example: no-reply@status.mycompany.com
                        page_description:
                          type:
                            - "null"
                            - string
                        state:
                          type:
                            - "null"
                            - string
                        subdomain:
                          type:
                            - "null"
                            - string
                          description: Subdomain at which to access your status page
                          example: your-subdomain.statuspage.io
                        support_url:
                          type:
                            - "null"
                            - string
                        time_zone:
                          type:
                            - "null"
                            - string
                          description: Timezone configured for your page
                          example: UTC
                        transactional_logo:
                          type:
                            - "null"
                            - object
                        twitter_logo:
                          type:
                            - "null"
                            - object
                        twitter_username:
                          type:
                            - "null"
                            - string
                        updated_at:
                          type:
                            - "null"
                            - string
                          description: Timestamp the record was last updated
                          format: date-time
                        url:
                          type:
                            - "null"
                            - string
                          description: >-
                            Website of your page.  Clicking on your statuspage image will
                            link
                            here.
                          example: https://www.mycompany.com
                        viewers_must_be_team_members:
                          type:
                            - "null"
                            - boolean
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: https://json-schema.org/schema#
          additionalProperties: true
          description: Get a list of templates
          properties:
            body:
              type:
                - "null"
                - string
              description: >-
                Body of the incident or maintenance update to be applied when
                selecting this template
            components:
              type: array
              description: Affected components
              items:
                type: object
                $schema: https://json-schema.org/schema#
                description: Add page access groups to a component
                properties:
                  automation_email:
                    type:
                      - "null"
                      - string
                    description: Requires a special feature flag to be enabled
                  created_at:
                    type:
                      - "null"
                      - string
                    format: date-time
                  description:
                    type:
                      - "null"
                      - string
                    description: More detailed description for component
                  group:
                    type:
                      - "null"
                      - boolean
                    description: Is this component a group
                  group_id:
                    type:
                      - "null"
                      - string
                    description: Component Group identifier
                  id:
                    type:
                      - "null"
                      - string
                    description: Identifier for component
                  name:
                    type:
                      - "null"
                      - string
                    description: Display name for component
                  only_show_if_degraded:
                    type:
                      - "null"
                      - boolean
                    description: Requires a special feature flag to be enabled
                  page_id:
                    type:
                      - "null"
                      - string
                    description: Page identifier
                  position:
                    type: integer
                    description: Order the component will appear on the page
                    format: int32
                  showcase:
                    type:
                      - "null"
                      - boolean
                    description: Should this component be showcased
                  start_date:
                    type:
                      - "null"
                      - string
                    description: The date this component started being used
                    format: date
                  status:
                    type:
                      - "null"
                      - string
                    description: Status of component
                    enum:
                      - operational
                      - under_maintenance
                      - degraded_performance
                      - partial_outage
                      - major_outage
                      - ""
                  updated_at:
                    type:
                      - "null"
                      - string
                    format: date-time
            group_id:
              type:
                - "null"
                - string
              description: Identifier of Template Group this template belongs to
              example: mntdyll6bk4c
            id:
              type:
                - "null"
                - string
              description: Incident Template Identifier
              example: p08qyqtz4fnq
            name:
              type:
                - "null"
                - string
              description: >-
                Name of the template, as shown in the list on the "Templates" tab
                of
                the "Incidents" page
            should_send_notifications:
              type:
                - "null"
                - boolean
              description: >-
                Whether the "deliver notifications" checkbox should be selected when
                selecting this template
            should_tweet:
              type:
                - "null"
                - boolean
              description: >-
                Whether the "tweet update" checkbox should be selected when selecting
                this template
            title:
              type:
                - "null"
                - string
              description: >-
                Title to be applied to the incident or maintenance when selecting
                this
                template
            update_status:
              type:
                - "null"
                - string
              description: >-
                The status the incident or maintenance should transition to when
                selecting this template
    incidents:
      type: DeclarativeStream
      name: incidents
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.statuspage.io/v1
          path: /pages/{{ stream_slice.page_id }}/incidents
          http_method: GET
          request_headers:
            Authorization: OAuth {{ config['api_key'] }}
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 62
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 420
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: page_id
                stream:
                  type: DeclarativeStream
                  name: pages
                  primary_key:
                    - id
                  retriever:
                    type: SimpleRetriever
                    requester:
                      type: HttpRequester
                      url_base: https://api.statuspage.io/v1
                      path: /pages
                      http_method: GET
                      request_headers:
                        Authorization: OAuth {{ config['api_key'] }}
                      error_handler:
                        type: CompositeErrorHandler
                        error_handlers:
                          - type: DefaultErrorHandler
                            backoff_strategies:
                              - type: ConstantBackoffStrategy
                                backoff_time_in_seconds: 62
                            response_filters:
                              - type: HttpResponseFilter
                                action: RETRY
                                http_codes:
                                  - 420
                                  - 429
                    record_selector:
                      type: RecordSelector
                      extractor:
                        type: DpathExtractor
                        field_path: []
                    paginator:
                      type: DefaultPaginator
                      page_token_option:
                        type: RequestOption
                        inject_into: request_parameter
                        field_name: page
                      page_size_option:
                        type: RequestOption
                        inject_into: request_parameter
                        field_name: limit
                      pagination_strategy:
                        type: OffsetIncrement
                        page_size: 100
                  schema_loader:
                    type: InlineSchemaLoader
                    schema:
                      type: object
                      $schema: https://json-schema.org/schema#
                      additionalProperties: true
                      description: Get a page
                      properties:
                        activity_score:
                          type: number
                          format: float
                        allow_email_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users choose to receive notifications
                            via email
                        allow_incident_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users subscribe to notifications for a
                            single incident
                        allow_page_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users subscribe to all notifications on
                            the page
                        allow_rss_atom_feeds:
                          type:
                            - "null"
                            - boolean
                          description: >-
                            Can your users choose to access incident feeds via RSS/Atom
                            (not
                            functional on Audience-Specific pages)
                        allow_sms_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users choose to receive notifications
                            via SMS
                        allow_webhook_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users choose to receive notifications
                            via Webhooks
                        branding:
                          type:
                            - "null"
                            - string
                          description: The main template your statuspage will use
                        city:
                          type:
                            - "null"
                            - string
                        country:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          description: Timestamp the record was created
                          format: date-time
                        css_blues:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_body_background_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_border_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_font_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_graph_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_greens:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_light_font_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_link_color:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_no_data:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_oranges:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_reds:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        css_yellows:
                          type:
                            - "null"
                            - string
                          description: CSS Color
                        domain:
                          type:
                            - "null"
                            - string
                          description: CNAME alias for your status page
                          example: status.mycompany.com
                        email_logo:
                          type:
                            - "null"
                            - object
                        favicon_logo:
                          type:
                            - "null"
                            - object
                        headline:
                          type:
                            - "null"
                            - string
                        hero_cover:
                          type:
                            - "null"
                            - object
                        hidden_from_search:
                          type:
                            - "null"
                            - boolean
                          description: Should your page hide itself from search engines
                        id:
                          type:
                            - "null"
                            - string
                          description: Page identifier
                          example: j7m9j8brdt3h
                        ip_restrictions:
                          type:
                            - "null"
                            - string
                        name:
                          type:
                            - "null"
                            - string
                          description: Name of your page to be displayed
                          example: My Company Status
                        notifications_email_footer:
                          type:
                            - "null"
                            - string
                          description: >-
                            Allows you to customize the footer appearing on your notification
                            emails.  Accepts Markdown for formatting
                        notifications_from_email:
                          type:
                            - "null"
                            - string
                          description: >-
                            Allows you to customize the email address your page notifications
                            come
                            from
                          example: no-reply@status.mycompany.com
                        page_description:
                          type:
                            - "null"
                            - string
                        state:
                          type:
                            - "null"
                            - string
                        subdomain:
                          type:
                            - "null"
                            - string
                          description: Subdomain at which to access your status page
                          example: your-subdomain.statuspage.io
                        support_url:
                          type:
                            - "null"
                            - string
                        time_zone:
                          type:
                            - "null"
                            - string
                          description: Timezone configured for your page
                          example: UTC
                        transactional_logo:
                          type:
                            - "null"
                            - object
                        twitter_logo:
                          type:
                            - "null"
                            - object
                        twitter_username:
                          type:
                            - "null"
                            - string
                        updated_at:
                          type:
                            - "null"
                            - string
                          description: Timestamp the record was last updated
                          format: date-time
                        url:
                          type:
                            - "null"
                            - string
                          description: >-
                            Website of your page.  Clicking on your statuspage image will
                            link
                            here.
                          example: https://www.mycompany.com
                        viewers_must_be_team_members:
                          type:
                            - "null"
                            - boolean
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: https://json-schema.org/schema#
          additionalProperties: true
          description: Get an incident
          properties:
            metadata:
              type: object
              description:
                Metadata attached to the incident. Top level values must
                be objects.
              example:
                jira:
                  issue_id: value
            auto_transition_deliver_notifications_at_end:
              type:
                - "null"
                - boolean
              description: >-
                Controls whether send notification when scheduled maintenances auto
                transition to completed.
            auto_transition_deliver_notifications_at_start:
              type:
                - "null"
                - boolean
              description: >-
                Controls whether send notification when scheduled maintenances auto
                transition to started.
            auto_transition_to_maintenance_state:
              type:
                - "null"
                - boolean
              description: >-
                Controls whether change components status to under_maintenance once
                scheduled maintenance is in progress.
            auto_transition_to_operational_state:
              type:
                - "null"
                - boolean
              description: >-
                Controls whether change components status to operational once
                scheduled maintenance completes.
            components:
              type: array
              description: Incident components
              items:
                type: object
                $schema: https://json-schema.org/schema#
                description: Add page access groups to a component
                properties:
                  automation_email:
                    type:
                      - "null"
                      - string
                    description: Requires a special feature flag to be enabled
                  created_at:
                    type:
                      - "null"
                      - string
                    format: date-time
                  description:
                    type:
                      - "null"
                      - string
                    description: More detailed description for component
                  group:
                    type:
                      - "null"
                      - boolean
                    description: Is this component a group
                  group_id:
                    type:
                      - "null"
                      - string
                    description: Component Group identifier
                  id:
                    type:
                      - "null"
                      - string
                    description: Identifier for component
                  name:
                    type:
                      - "null"
                      - string
                    description: Display name for component
                  only_show_if_degraded:
                    type:
                      - "null"
                      - boolean
                    description: Requires a special feature flag to be enabled
                  page_id:
                    type:
                      - "null"
                      - string
                    description: Page identifier
                  position:
                    type: integer
                    description: Order the component will appear on the page
                    format: int32
                  showcase:
                    type:
                      - "null"
                      - boolean
                    description: Should this component be showcased
                  start_date:
                    type:
                      - "null"
                      - string
                    description: The date this component started being used
                    format: date
                  status:
                    type:
                      - "null"
                      - string
                    description: Status of component
                    enum:
                      - operational
                      - under_maintenance
                      - degraded_performance
                      - partial_outage
                      - major_outage
                      - ""
                  updated_at:
                    type:
                      - "null"
                      - string
                    format: date-time
            created_at:
              type:
                - "null"
                - string
              description: The timestamp when the incident was created at.
              format: date-time
            id:
              type:
                - "null"
                - string
              description: Incident Identifier
              example: p31zjtct2jer
            impact:
              type:
                - "null"
                - string
              description: The impact of the incident.
              enum:
                - none
                - maintenance
                - minor
                - major
                - critical
              example: critical
            impact_override:
              type:
                - "null"
                - object
              description: value to override calculated impact value
              example: minor
            incident_updates:
              type: array
              description: The incident updates for incident.
              items:
                type: object
                $schema: https://json-schema.org/schema#
                description: Update a previous incident update
                properties:
                  affected_components:
                    type:
                      - "null"
                      - array
                    description:
                      Affected components associated with the incident
                      update.
                  body:
                    type:
                      - "null"
                      - string
                    description: Incident update body.
                  created_at:
                    type:
                      - "null"
                      - string
                    description:
                      The timestamp when the incident update was created
                      at.
                    format: date-time
                  custom_tweet:
                    type:
                      - "null"
                      - string
                    description:
                      An optional customized tweet message for incident
                      postmortem.
                  deliver_notifications:
                    type:
                      - "null"
                      - boolean
                    description: Controls whether to delivery notifications.
                  display_at:
                    type:
                      - "null"
                      - string
                    description: Timestamp when incident update is happened.
                    format: date-time
                  id:
                    type:
                      - "null"
                      - string
                    description: Incident Update Identifier.
                  incident_id:
                    type:
                      - "null"
                      - string
                    description: Incident Identifier.
                  status:
                    type:
                      - "null"
                      - string
                    description: >-
                      The incident status. For realtime incidents, valid values are
                      investigating, identified, monitoring, and resolved. For
                      scheduled incidents, valid values are scheduled, in_progress,
                      verifying, and completed.
                    enum:
                      - investigating
                      - identified
                      - monitoring
                      - resolved
                      - scheduled
                      - in_progress
                      - verifying
                      - completed
                  tweet_id:
                    type:
                      - "null"
                      - string
                    description: Tweet identifier associated to this incident update.
                  twitter_updated_at:
                    type:
                      - "null"
                      - string
                    description: The timestamp when twitter updated at.
                    format: date-time
                  updated_at:
                    type:
                      - "null"
                      - string
                    description: The timestamp when the incident update is updated.
                    format: date-time
                  wants_twitter_update:
                    type:
                      - "null"
                      - boolean
                    description: Controls whether to create twitter update.
            monitoring_at:
              type:
                - "null"
                - string
              description: The timestamp when incident entered monitoring state.
              format: date-time
            name:
              type:
                - "null"
                - string
              description: Incident Name
              example: Data Layer Migration
            page_id:
              type:
                - "null"
                - string
              description: Incident Page Identifier
            postmortem_body:
              type:
                - "null"
                - string
              description: Body of the Postmortem.
              example: >
                ##### Issue

                At approximately 17:02 UTC on 2013-04-21, our master database server
                unexpectedly went unresponsive to all network.

                A reboot of the machine at 17:05 UTC resulted in a failed mount of
                a
                corrupted EBS volume, and we made the decision

                at that time to fail over the slave database.


                ##### Resolution

                At 17:12 UTC, the slave database had been successfully promoted to
                master and the application recovered enough to

                accept web traffic again. A new slave database node was created and
                placed into the rotation to guard against future

                master failures. The promoted slave database performed slowly for
                the
                next couple of hours as the query cache began

                to warm up, and eventually settled into a reasonable performance
                profile around 20:00 UTC.


                ##### Future Mitigation Plans

                Over the past few months, we have been working on an overhaul to our
                data storage layer with a migration from a Postgres

                setup to a distributed, fault-tolerant, multi-region data layer using
                Riak. This initiative has been prioritized, and

                the migration will be performed in the coming weeks. We will notify
                our clients of the scheduled downtime via an

                incident on this status site, and via a blog post.
            postmortem_body_last_updated_at:
              type:
                - "null"
                - string
              description:
                The timestamp when the incident postmortem body was last
                updated at.
              format: date-time
            postmortem_ignored:
              type:
                - "null"
                - boolean
              description: Controls whether the incident will have postmortem.
            postmortem_notified_subscribers:
              type:
                - "null"
                - boolean
              description:
                Indicates whether subscribers are already notificed about
                postmortem.
            postmortem_notified_twitter:
              type:
                - "null"
                - boolean
              description: Controls whether to decide if notify postmortem on twitter.
            postmortem_published_at:
              type:
                - "null"
                - boolean
              description: The timestamp when the postmortem was published.
            resolved_at:
              type:
                - "null"
                - string
              description: The timestamp when incident was resolved.
              format: date-time
            scheduled_auto_completed:
              type:
                - "null"
                - boolean
              description: >-
                Controls whether the incident is scheduled to automatically change
                to
                complete.
            scheduled_auto_in_progress:
              type:
                - "null"
                - boolean
              description: >-
                Controls whether the incident is scheduled to automatically change
                to
                in progress.
            scheduled_for:
              type:
                - "null"
                - string
              description: The timestamp the incident is scheduled for.
              example: "2013-05-07T03:00:00.007Z"
              format: date-time
            scheduled_remind_prior:
              type:
                - "null"
                - boolean
              description:
                Controls whether to remind subscribers prior to scheduled
                incidents.
            scheduled_reminded_at:
              type:
                - "null"
                - string
              description:
                The timestamp when the scheduled incident reminder was
                sent at.
              format: date-time
            scheduled_until:
              type:
                - "null"
                - string
              description: The timestamp the incident is scheduled until.
              example: "2013-05-07T06:00:00.007Z"
              format: date-time
            shortlink:
              type:
                - "null"
                - string
              description: Incident Shortlink.
              example: https://stspg.io/803310a12
            status:
              type:
                - "null"
                - string
              description: >-
                The incident status. For realtime incidents, valid values are
                investigating, identified, monitoring, and resolved. For scheduled
                incidents, valid values are scheduled, in_progress, verifying, and
                completed.
              enum:
                - investigating
                - identified
                - monitoring
                - resolved
                - scheduled
                - in_progress
                - verifying
                - completed
              example: scheduled
            updated_at:
              type:
                - "null"
                - string
              description: The timestamp when the incident was updated at.
              format: date-time
    components:
      type: DeclarativeStream
      name: components
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.statuspage.io/v1
          path: /pages/{{ stream_slice.page_id }}/components
          http_method: GET
          request_headers:
            Authorization: OAuth {{ config['api_key'] }}
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 62
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 420
                      - 429
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: page_id
                stream:
                  type: DeclarativeStream
                  name: pages
                  primary_key:
                    - id
                  retriever:
                    type: SimpleRetriever
                    requester:
                      type: HttpRequester
                      url_base: https://api.statuspage.io/v1
                      path: /pages
                      http_method: GET
                      request_headers:
                        Authorization: OAuth {{ config['api_key'] }}
                      error_handler:
                        type: CompositeErrorHandler
                        error_handlers:
                          - type: DefaultErrorHandler
                            backoff_strategies:
                              - type: ConstantBackoffStrategy
                                backoff_time_in_seconds: 62
                            response_filters:
                              - type: HttpResponseFilter
                                action: RETRY
                                http_codes:
                                  - 420
                                  - 429
                    record_selector:
                      type: RecordSelector
                      extractor:
                        type: DpathExtractor
                        field_path: []
                    paginator:
                      type: DefaultPaginator
                      page_token_option:
                        type: RequestOption
                        inject_into: request_parameter
                        field_name: page
                      page_size_option:
                        type: RequestOption
                        inject_into: request_parameter
                        field_name: limit
                      pagination_strategy:
                        type: OffsetIncrement
                        page_size: 100
                  schema_loader:
                    type: InlineSchemaLoader
                    schema:
                      type: object
                      $schema: https://json-schema.org/schema#
                      additionalProperties: true
                      description: Get a page
                      properties:
                        activity_score:
                          type: number
                          format: float
                        allow_email_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users choose to receive notifications
                            via email
                        allow_incident_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users subscribe to notifications for a
                            single incident
                        allow_page_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users subscribe to all notifications on
                            the page
                        allow_rss_atom_feeds:
                          type:
                            - "null"
                            - boolean
                          description: >-
                            Can your users choose to access incident feeds via RSS/Atom
                            (not
                            functional on Audience-Specific pages)
                        allow_sms_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users choose to receive notifications
                            via SMS
                        allow_webhook_subscribers:
                          type:
                            - "null"
                            - boolean
                          description:
                            Can your users choose to receive notifications
                            via Webhooks
                        branding:
                          type:
                            - "null"
                            - string
                          description: The main template your statuspage will use
                        city:
                          type:
                            - "null"
                            - string
                        country:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          description: Timestamp the record was created
                          format: date-time
                        css_blues:
                          type:
[...]
