version: 4.6.2

type: DeclarativeSource

description: Conector de leitura dos dados Sense Data

check:
  type: CheckStream
  stream_names:
    - Client List

definitions:
  streams:
    Client List:
      type: DeclarativeStream
      name: Client List
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/customers
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Client List"
  base_requester:
    type: HttpRequester
    url_base: https://api.sensedata.io/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: '{{ config["api_key_2"] }}'
      inject_into:
        type: RequestOption
        inject_into: header

streams:
  - $ref: "#/definitions/streams/Client List"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key_2
    properties:
      api_key_2:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
    additionalProperties: true

metadata:
  autoImportSchema:
    Client List: true
  testedStreams:
    Client List:
      streamHash: 7c1673b1255a185a9c80eb05e646b5540a2da377
      hasResponse: true
      responsesAreSuccessful: false
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  Client List:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
