version: 5.16.0

type: DeclarativeSource

description: removed `is_read_only` attribute from dashboards stream schema

check:
  type: CheckStream
  stream_names:
    - dashboards

definitions:
  streams:
    audit_logs:
      type: DeclarativeStream
      name: audit_logs
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/audit/events
          http_method: GET
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[cursor]
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ last_record['meta']['page']['after'] if last_record else None
              }}
            stop_condition: "{{ 'page' not in last_record['meta'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/audit_logs"
    dashboards:
      type: DeclarativeStream
      name: dashboards
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/dashboard
          http_method: GET
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - dashboards
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/dashboards"
    downtimes:
      type: DeclarativeStream
      name: downtimes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/downtime
          http_method: GET
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/downtimes"
    incident_teams:
      type: DeclarativeStream
      name: incident_teams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/teams
          http_method: GET
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ last_record['meta']['pagination']['next_offset'] if last_record
              else None }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incident_teams"
    incidents:
      type: DeclarativeStream
      name: incidents
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/incidents
          http_method: GET
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[offset]
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get("meta", {}).get("pagination",
              {}).get("next_offset", {}) }}
            stop_condition: >-
              {{ not response.get("meta", {}).get("pagination",
              {}).get("next_offset", {}) }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incidents"
    logs:
      type: DeclarativeStream
      name: logs
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/logs/events
          http_method: GET
          request_parameters:
            filter[query]: "{{ config['query'] }}"
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 429
                    error_message: Too many requests, retrying...
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[cursor]
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ last_record['meta']['page']['after'] if last_record else None
              }}
            stop_condition: "{{ 'page' not in last_record['meta'] }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: sync_date
        lookback_window: P31D
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['start_date'] or day_delta(-30,
            format='%Y-%m-%dT%H:%M:%SZ') }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: filter[from]
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: filter[to]
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config['end_date'] or day_delta(-1, format='%Y-%m-%dT%H:%M:%SZ')
            }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: PT0.000001S
      transformations:
        - type: AddFields
          fields:
            - path:
                - sync_date
              value: "{{ record['attributes']['timestamp'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/logs"
    metrics:
      type: DeclarativeStream
      name: metrics
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/metrics
          http_method: GET
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/metrics"
    monitors:
      type: DeclarativeStream
      name: monitors
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/monitor
          http_method: GET
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/monitors"
    service_level_objectives:
      type: DeclarativeStream
      name: service_level_objectives
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/slo
          http_method: GET
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/service_level_objectives"
    synthetic_tests:
      type: DeclarativeStream
      name: synthetic_tests
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/synthetics/tests
          http_method: GET
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tests
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/synthetic_tests"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/users
          http_method: GET
          request_headers:
            DD-APPLICATION-KEY: "{{ config['application_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[size]
          pagination_strategy:
            type: PageIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
  base_requester:
    type: HttpRequester
    url_base: https://api.{{ config['site'] }}/api/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: DD-API-KEY
        inject_into: header

streams:
  - $ref: "#/definitions/streams/audit_logs"
  - $ref: "#/definitions/streams/dashboards"
  - $ref: "#/definitions/streams/downtimes"
  - $ref: "#/definitions/streams/incident_teams"
  - $ref: "#/definitions/streams/incidents"
  - $ref: "#/definitions/streams/logs"
  - $ref: "#/definitions/streams/metrics"
  - $ref: "#/definitions/streams/monitors"
  - $ref: "#/definitions/streams/service_level_objectives"
  - $ref: "#/definitions/streams/synthetic_tests"
  - $ref: "#/definitions/streams/users"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - application_key
    properties:
      api_key:
        type: string
        description: Datadog API key
        order: 0
        title: API Key
        airbyte_secret: true
      application_key:
        type: string
        description: Datadog application key
        order: 1
        title: Application Key
        airbyte_secret: true
      query:
        type: string
        description: >-
          The search query. This just applies to Incremental syncs. If empty,
          it'll collect all logs.
        order: 2
        title: Query
      start_date:
        type: string
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00Z. Any data before
          this date will not be replicated. This just applies to Incremental
          syncs.
        order: 3
        title: Start date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2022-10-01T00:00:00Z"
        default: "2023-12-01T00:00:00Z"
      site:
        type: string
        description: The site where Datadog data resides in.
        enum:
          - datadoghq.com
          - us3.datadoghq.com
          - us5.datadoghq.com
          - datadoghq.eu
          - ddog-gov.com
        order: 4
        title: Site
        default: datadoghq.com
      end_date:
        type: string
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00Z. Data after this
          date will  not be replicated. An empty value will represent the
          current datetime for each  execution. This just applies to Incremental
          syncs.
        order: 5
        title: End date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2022-10-01T00:00:00Z"
        default: "2024-01-01T00:00:00Z"
      max_records_per_request:
        type: integer
        description: Maximum number of records to collect per request.
        order: 6
        title: Max records per requests
        default: 5000
        maximum: 5000
        minimum: 1
      queries:
        type: array
        description: List of queries to be run and used as inputs.
        items:
          type: object
          required:
            - name
            - data_source
            - query
          properties:
            name:
              type: string
              description: The variable name for use in queries.
              order: 1
              title: Query Name
            query:
              type: string
              description: A classic query string.
              order: 3
              title: Query
            data_source:
              type: string
              description: A data source that is powered by the platform.
              enum:
                - metrics
                - cloud_cost
                - logs
                - rum
              order: 2
              title: Data Source
        order: 7
        title: Queries
        default: []
    additionalProperties: true

metadata:
  autoImportSchema:
    audit_logs: false
    dashboards: false
    downtimes: false
    incident_teams: false
    incidents: false
    logs: false
    metrics: false
    monitors: false
    service_level_objectives: false
    synthetic_tests: false
    users: false
  testedStreams:
    audit_logs:
      streamHash: 4938d5b333c624c8f301eac284c5a174d944f466
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    dashboards:
      hasRecords: true
      streamHash: 277a1ea39fde86d246bc648ae60ff3b8ebd8ec41
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    downtimes:
      hasRecords: true
      streamHash: d2cc478d2160b90412e4e9f6745cd3161820d6fb
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    incident_teams:
      hasRecords: true
      streamHash: 0d8bc56787c599e1011cfab5b7c0e84b2c851557
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    incidents:
      hasRecords: true
      streamHash: 47cc0e8fd035e7db2846b26520ab729458984f44
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    logs:
      streamHash: 6c2d948af333d7285c98d4f6776d79ff50310acb
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    metrics:
      hasRecords: true
      streamHash: f4ec990f551bab54c17838ed70867b1ec35f43e5
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    monitors:
      hasRecords: true
      streamHash: a062c312b114a0c93de6cf544cb3866a4d740cd0
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    service_level_objectives:
      hasRecords: true
      streamHash: 7fd5b7991c51fb67325aa0a7ff96577be2a7987d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    synthetic_tests:
      hasRecords: true
      streamHash: c81afc074ea369f5ac1d5ee5c73431c3094912d2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    users:
      hasRecords: true
      streamHash: b5f9f6ef4f26ab4ba4a9485496e18506c4fb3184
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist: {}

schemas:
  audit_logs:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
        description: "Type of the event. Allowed enum values: audit"
        enum:
          - audit
        readOnly: true
      attributes:
        type:
          - object
          - "null"
        description: >-
          JSON object containing all event attributes and their associated
          values.
        additionalProperties: true
        properties:
          attributes:
            type:
              - object
              - "null"
            description: JSON object of attributes from Audit Logs events.
            additionalProperties: true
          service:
            type:
              - string
              - "null"
            description: Name of the application or service generating Audit Logs events.
          tags:
            type:
              - array
              - "null"
            description: Array of tags associated with your event.
            items:
              type: string
          timestamp:
            type:
              - string
              - "null"
            description: Timestamp of your event.
            format: date-time
      id:
        type:
          - string
          - "null"
        description: Unique ID of the event.
        readOnly: true
      sync_date:
        type:
          - "null"
          - string
  dashboards:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
        description: Description of the dashboard.
        readOnly: true
      author_handle:
        type:
          - string
          - "null"
        description: Identifier of the dashboard author.
        readOnly: true
      created_at:
        type:
          - string
          - "null"
        description: Creation date of the dashboard.
        format: date-time
        readOnly: true
      deleted_at:
        type:
          - string
          - "null"
        description: Deletion date of the dashboard.
        format: date-time
        readOnly: true
      id:
        type:
          - string
          - "null"
        description: Dashboard identifier.
        readOnly: true
      layout_type:
        type:
          - string
          - "null"
        description: Layout type of the dashboard
        enum:
          - ordered
          - free
        readOnly: true
      modified_at:
        type:
          - string
          - "null"
        description: Modification date of the dashboard.
        format: date-time
        readOnly: true
      title:
        type:
          - string
          - "null"
        description: Title of the dashboard.
        readOnly: true
      url:
        type:
          - string
          - "null"
        description: URL of the dashboard.
        readOnly: true
  downtimes:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - boolean
          - "null"
        description: If a scheduled downtime currently exists.
        readOnly: true
      active_child:
        type:
          - object
          - "null"
        description: >-
          The downtime object definition of the active child for the original
          parent recurring downtime.
        additionalProperties: true
      canceled:
        type:
          - integer
          - "null"
        description: If a scheduled downtime is canceled.
        readOnly: true
      child_id:
        type:
          - integer
          - "null"
      created:
        type:
          - integer
          - "null"
      creator_id:
        type:
          - integer
          - "null"
        description: User ID of the downtime creator.
        readOnly: true
      disabled:
        type:
          - boolean
          - "null"
        description: If a downtime has been disabled.
        readOnly: true
      downtime_type:
        type:
          - integer
          - "null"
        description: >-
          0 for a downtime applied on * or all, 1 when the downtime is only
          scoped to hosts, or 2 when the downtime is scoped to anything but
          hosts.
        readOnly: true
      end:
        type:
          - integer
          - "null"
        description: >-
          POSIX timestamp to end the downtime. If not provided, the downtime is
          in effect indefinitely until you cancel it.
        readOnly: true
      id:
        type:
          - integer
          - "null"
        description: The downtime ID.
        readOnly: true
      message:
        type:
          - string
          - "null"
        description: A message to include with notifications for this downtime.
        readOnly: true
      modified:
        type:
          - integer
          - "null"
      monitor_id:
        type:
          - integer
          - "null"
        description: >-
          A single monitor to which the downtime applies. If not provided, the
          downtime applies to all monitors.
        readOnly: true
      monitor_tags:
        type:
          - array
          - "null"
        description: A comma-separated list of monitor tags.
        items:
          type: string
        readOnly: true
      mute_first_recovery_notification:
        type:
          - boolean
          - "null"
        description: If the first recovery notification during a downtime should be muted.
        readOnly: true
      notify_end_states:
        type:
          - array
          - "null"
        items:
          type: string
      notify_end_types:
        type:
          - array
          - "null"
        items:
          type: string
      org_id:
        type:
          - integer
          - "null"
      parent_id:
        type:
          - integer
          - "null"
        description: ID of the parent Downtime.
        readOnly: true
      recurrence:
        type:
          - object
          - "null"
        description: An object defining the recurrence of the downtime.
        additionalProperties: true
      scope:
        type:
          - array
          - "null"
        description: The scope(s) to which the downtime applies.
        items:
          type: string
        readOnly: true
      start:
        type:
          - integer
          - "null"
        description: >-
          POSIX timestamp to start the downtime. If not provided, the downtime
          starts the moment it is created.
        readOnly: true
      status:
        type:
          - string
          - "null"
      timezone:
        type:
          - string
          - "null"
        description: >-
          The timezone in which to display the downtime's start and end times in
          Datadog applications.
        readOnly: true
      updater_id:
        type:
          - integer
          - "null"
        description: ID of the last user that updated the downtime.
        readOnly: true
      uuid:
        type:
          - string
          - "null"
  incident_teams:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
        description: "Incident Team resource type. Allowed enum values: teams"
        enum:
          - teams
        readOnly: true
      attributes:
        type:
          - object
          - "null"
        description: The incident team's attributes from a response.
        additionalProperties: true
        properties:
          created:
            type:
              - string
              - "null"
            description: Timestamp of when the incident team was created.
            format: date-time
          modified:
            type:
              - string
              - "null"
            description: Timestamp of when the incident team was modified.
            format: date-time
          name:
            type:
              - string
              - "null"
            description: Name of the incident team.
      id:
        type:
          - string
          - "null"
        description: The incident team's ID.
        readOnly: true
      relationships:
        type:
          - object
          - "null"
        description: The incident team's relationships.
        additionalProperties: true
        properties:
          created_by:
            type:
              - object
              - "null"
            description: Relationship to user.
            additionalProperties: true
            properties:
              data:
                type:
                  - object
                description: Relationship to user object.
                additionalProperties: true
                properties:
                  type:
                    type:
                      - string
                    description: "Users resource type. Allowed enum values: users"
                    enum:
                      - users
                  id:
                    type:
                      - string
                    description: A unique identifier that represents the user.
          last_modified_by:
            type:
              - object
              - "null"
            description: Relationship to user.
            additionalProperties: true
            properties:
              data:
                type:
                  - object
                description: Relationship to user object.
                additionalProperties: true
                properties:
                  type:
                    type:
                      - string
                    description: "Users resource type. Allowed enum values: users"
                    enum:
                      - users
                  id:
                    type:
                      - string
                    description: A unique identifier that represents the user.
  incidents:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
        description: "Incident resource type. Allowed enum values: incidents"
        enum:
          - incidents
        readOnly: true
      attributes:
        type:
          - object
          - "null"
        description: The incident's attributes from a response.
        additionalProperties: true
        properties:
          created:
            type:
              - string
              - "null"
            description: Timestamp when the incident was created.
            format: date-time
          customer_impact_duration:
            type:
              - integer
              - "null"
            description: >-
              Length of the incident's customer impact in seconds. Equals the
              difference between customer_impact_start and customer_impact_end.
          customer_impact_end:
            type:
              - string
              - "null"
            description: Timestamp when customers were no longer impacted by the incident.
            format: date-time
          customer_impact_scope:
            type:
              - string
              - "null"
            description: A summary of the impact customers experienced during the incident.
          customer_impact_start:
            type:
              - string
              - "null"
            description: Timestamp when customers began being impacted by the incident.
            format: date-time
          customer_impacted:
            type:
              - boolean
              - "null"
            description: A flag indicating whether the incident caused customer impact.
          detected:
            type:
              - string
              - "null"
            description: Timestamp when the incident was detected.
            format: date-time
          fields:
            type:
              - object
              - "null"
            description: A condensed view of the user-defined fields attached to incidents.
            additionalProperties: true
          modified:
            type:
              - string
              - "null"
            description: Timestamp when the incident was last modified.
            format: date-time
          notification_handles:
            type:
              - array
              - "null"
            description: >-
              Notification handles that will be notified of the incident during
              update.
            items:
              type: object
          public_id:
            type:
              - integer
              - "null"
            description: The monotonically increasing integer ID for the incident.
          resolved:
            type:
              - string
              - "null"
            description: >-
              Timestamp when the incident's state was last changed from active
              or stable to resolved or completed.
            format: date-time
          time_to_detect:
            type:
              - integer
              - "null"
            description: >-
              The amount of time in seconds to detect the incident. Equals the
              difference between customer_impact_start and detected.
          time_to_internal_response:
            type:
              - integer
              - "null"
            description: >-
              The amount of time in seconds to call incident after detection.
              Equals the difference of detected and created.
          time_to_repair:
            type:
              - integer
              - "null"
            description: >-
              The amount of time in seconds to resolve customer impact after
              detecting the issue. Equals the difference between
              customer_impact_end and detected.
          time_to_resolve:
            type:
              - integer
              - "null"
            description: >-
              The amount of time in seconds to resolve the incident after it was
              created. Equals the difference between created and resolved.
          title:
            type:
              - string
            description: The title of the incident, which summarizes what happened.
      id:
        type:
          - string
        description: The incident's ID.
        readOnly: true
      relationships:
        type:
          - object
          - "null"
        description: The incident's relationships from a response.
        additionalProperties: true
        properties:
          attachments:
            type:
              - object
              - "null"
            description: A relationship reference for attachments.
            additionalProperties: true
          commander_user:
            type:
              - object
              - "null"
            description: Relationship to user.
            additionalProperties: true
          created_by_user:
            type:
              - object
              - "null"
            description: Relationship to user.
            additionalProperties: true
          integrations:
            type:
              - object
              - "null"
            description: >-
              A relationship reference for multiple integration metadata
              objects.
            additionalProperties: true
          last_modified_by_user:
            type:
              - object
              - "null"
            description: Relationship to user.
            additionalProperties: true
  logs:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
        description: "Type of the event. Allowed enum values: log"
        enum:
          - log
        readOnly: true
      attributes:
        type:
          - object
          - "null"
        description: JSON object containing all log attributes and their associated values.
        additionalProperties: true
        properties:
          attributes:
            type:
              - object
              - "null"
            description: JSON object of attributes from your log.
            additionalProperties: true
          host:
            type:
              - string
              - "null"
            description: Name of the machine from where the logs are being sent.
          message:
            type:
              - string
              - "null"
            description: The message reserved attribute of your log.
          service:
            type:
              - string
              - "null"
            description: The name of the application or service generating the log events.
          status:
            type:
              - string
              - "null"
            description: Status of the message associated with your log.
          tags:
            type:
              - array
              - "null"
            description: Array of tags associated with your log.
            items:
              type: string
          timestamp:
            type:
              - string
              - "null"
            description: Timestamp of your log.
            format: date-time
      id:
        type:
          - string
          - "null"
        description: Unique ID of the Log.
        readOnly: true
      sync_date:
        type:
          - "null"
          - string
  metrics:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
        description: The metric resource type.
      id:
        type:
          - "null"
          - string
        description: The metric name for this resource.
  monitors:
    type:
      - object
      - "null"
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      created:
        type:
          - string
          - "null"
      created_at:
        type:
          - integer
          - "null"
      creator:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          email:
            type:
              - string
              - "null"
          handle:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      deleted:
        type:
          - string
          - "null"
      id:
        type:
          - integer
          - "null"
      matching_downtimes:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          additionalProperties: true
          properties:
            end:
              type:
                - integer
                - "null"
            id:
              type:
                - integer
                - "null"
            scope:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            start:
              type:
                - integer
                - "null"
      message:
        type:
          - string
          - "null"
      modified:
        type:
          - string
          - "null"
      multi:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      options:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          aggregation:
            type:
              - object
              - "null"
            additionalProperties: true
            properties:
              type:
                type:
                  - string
                  - "null"
              groupBy:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              metric:
                type:
                  - string
                  - "null"
          device_ids:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          enable_logs_sample:
            type:
              - boolean
              - "null"
          enable_samples:
            type:
              - boolean
              - "null"
          escalation_message:
            type:
              - string
              - "null"
          evaluation_delay:
            type:
              - integer
              - "null"
          group_retention_duration:
            type:
              - string
              - "null"
          groupby_simple_monitor:
            type:
              - boolean
              - "null"
          include_tags:
            type:
              - boolean
              - "null"
          locked:
            type:
              - boolean
              - "null"
          new_group_delay:
            type:
              - integer
              - "null"
          new_host_delay:
            type:
              - integer
              - "null"
          no_data_timeframe:
            type:
              - integer
              - "null"
          notification_preset_name:
            type:
              - string
              - "null"
          notify_audit:
            type:
              - boolean
              - "null"
          notify_by:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          notify_no_data:
            type:
              - boolean
              - "null"
          on_missing_data:
            type:
              - string
              - "null"
          renotify_interval:
            type:
              - integer
              - "null"
          renotify_occurrences:
            type:
              - integer
              - "null"
          renotify_statuses:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          require_full_window:
            type:
              - boolean
              - "null"
          scheduling_options:
            type:
              - object
              - "null"
            additionalProperties: true
            properties:
              evaluation_window:
                type:
                  - object
                  - "null"
                additionalProperties: true
                properties:
                  day_starts:
                    type:
                      - string
                      - "null"
                  hour_starts:
                    type:
                      - string
                      - "null"
                  month_starts:
                    type:
                      - integer
                      - "null"
          silenced:
            patternProperties:
              .+:
                type:
                  - integer
                  - "null"
          synthetics_check_id:
            type:
              - string
              - "null"
          threshold_windows:
            type:
              - object
              - "null"
            additionalProperties: true
            properties:
              recovery_window:
                type:
                  - string
                  - "null"
              trigger_window:
                type:
                  - string
                  - "null"
          thresholds:
            type:
              - object
              - "null"
            additionalProperties: true
            properties:
              critical:
                type:
                  - number
                  - "null"
              critical_recovery:
                type:
                  - number
                  - "null"
              ok:
                type:
                  - number
                  - "null"
              unknown:
                type:
                  - number
                  - "null"
              warning:
                type:
                  - number
                  - "null"
              warning_recovery:
                type:
                  - number
                  - "null"
          timeout_h:
            type:
              - integer
              - "null"
          variables:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              additionalProperties: true
              properties:
                compute:
                  type:
                    - object
                    - "null"
                  additionalProperties: true
                  properties:
                    aggregation:
                      type:
                        - string
                        - "null"
                    interval:
                      type:
                        - integer
                        - "null"
                    metric:
                      type:
                        - string
                        - "null"
                data_source:
                  type:
                    - string
                    - "null"
                group_by:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    additionalProperties: true
                    properties:
                      facet:
                        type:
                          - string
                          - "null"
                      limit:
                        type:
                          - integer
                          - "null"
                      sort:
                        type:
                          - object
                          - "null"
                        additionalProperties: true
                        properties:
                          aggregation:
                            type:
                              - string
                              - "null"
                          metric:
                            type:
                              - string
                              - "null"
                          order:
                            type:
                              - string
                              - "null"
                indexes:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - string
                      - "null"
                name:
                  type:
                    - string
                    - "null"
                search:
                  type:
                    - object
                    - "null"
                  additionalProperties: true
                  properties:
                    query:
                      type:
                        - string
                        - "null"
      org_id:
        type:
          - integer
          - "null"
      overall_state:
        type:
          - string
          - "null"
      overall_state_modified:
        type:
          - string
          - "null"
      priority:
        type:
          - integer
          - "null"
      query:
        type:
          - string
          - "null"
      restricted_roles:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      state:
        type:
          - object
          - "null"
        properties:
          groups:
            type:
              - object
              - "null"
            patternProperties:
              .+:
                type:
                  - object
                  - "null"
                properties:
                  last_nodata_ts:
                    type:
                      - integer
                      - "null"
                  last_notified_ts:
                    type:
                      - integer
                      - "null"
                  last_resolved_ts:
                    type:
                      - integer
                      - "null"
                  last_triggered_ts:
                    type:
                      - integer
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  status:
                    type:
                      - string
                      - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
  service_level_objectives:
    type:
      - object
      - "null"
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      created_at:
        type:
          - integer
          - "null"
      creator:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          email:
            type:
              - string
              - "null"
          handle:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      groups:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      id:
        type:
          - string
          - "null"
      modified_at:
        type:
          - integer
          - "null"
      monitor_ids:
        type:
          - array
          - "null"
        items:
          type:
            - integer
            - "null"
      monitor_tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      name:
        type:
          - string
          - "null"
      query:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          denominator:
            type:
              - string
              - "null"
          numerator:
            type:
              - string
              - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      target_threshold:
        type:
          - number
          - "null"
      thresholds:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          additionalProperties: true
          properties:
            target:
              type:
                - number
                - "null"
            target_display:
              type:
                - string
                - "null"
            timeframe:
              type:
                - string
                - "null"
            warning:
              type:
                - number
                - "null"
            warning_display:
              type:
                - string
                - "null"
      timeframe:
        type:
          - string
          - "null"
      type_id:
        type:
          - integer
          - "null"
      warning_threshold:
        type:
          - number
          - "null"
  synthetic_tests:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
        description: >-
          Type of the Synthetic test, either api or browser. Allowed enum
          values: api,browser
        enum:
          - api
          - browser
        readOnly: true
      config:
        type:
          - object
          - "null"
        description: Configuration object for a Synthetic test.
        additionalProperties: true
      created_at:
        type:
          - string
          - "null"
        description: Creation date of the Synthetic test.
        format: date-time
        readOnly: true
      creator:
        type:
          - object
          - "null"
        description: Object describing the creator of the shared element.
        additionalProperties: true
        properties:
          email:
            type:
              - string
              - "null"
            description: Email of the creator.
          handle:
            type:
              - string
              - "null"
            description: Handle of the creator.
          name:
            type:
              - string
              - "null"
            description: Name of the creator.
      locations:
        type:
          - array
          - "null"
        description: Array of locations used to run the test.
        items:
          type: string
        readOnly: true
      message:
        type:
          - string
          - "null"
        description: Notification message associated with the test.
        readOnly: true
      modified_at:
        type:
          - string
          - "null"
        description: Creation date of the Synthetic test.
        format: date-time
        readOnly: true
      monitor_id:
        type:
          - integer
          - "null"
        description: The associated monitor ID.
        readOnly: true
      name:
        type:
          - string
          - "null"
        description: Name of the test.
        readOnly: true
      options:
        type:
          - object
          - "null"
        description: Object describing the extra options for a Synthetic test.
        additionalProperties: true
      public_id:
        type:
          - string
          - "null"
        description: The test public ID.
        readOnly: true
      status:
        type:
          - string
          - "null"
        description: >-
          Define whether you want to start (live) or pause (paused) a Synthetic
          test. Allowed enum values: live,paused
        enum:
          - live
          - paused
        readOnly: true
      steps:
        type:
          - object
          - "null"
        description: For browser test, the steps of the test.
        additionalProperties: true
      subtype:
        type:
          - string
          - "null"
        description: >-
          The subtype of the Synthetic API test, http, ssl, tcp, dns, icmp, udp,
          websocket, grpc or multi. Allowed enum values:
          http,ssl,tcp,dns,multi,icmp,udp,websocket,grpc
        enum:
          - http
          - ssl
          - tcp
          - dns
          - multi
          - icmp
          - udp
          - websocket
          - grpc
        readOnly: true
      tags:
        type:
          - array
          - "null"
        description: Array of tags attached to the test.
        items:
          type: string
        readOnly: true
  users:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
        description: "Users resource type. Allowed enum values: users"
        enum:
          - users
        readOnly: true
      attributes:
        type:
          - object
          - "null"
        description: Attributes of user object returned by the API.
        additionalProperties: true
        properties:
          created_at:
            type:
              - string
              - "null"
            description: Creation time of the user.
            format: date-time
          disabled:
            type:
              - boolean
              - "null"
            description: Whether the user is disabled.
          email:
            type:
              - string
              - "null"
            description: Email of the user.
          handle:
            type:
              - string
              - "null"
            description: Handle of the user.
          icon:
            type:
              - string
              - "null"
            description: URL of the user's icon.
          modified_at:
            type:
              - string
              - "null"
            description: Time that the user was last modified.
            format: date-time
          name:
            type:
              - string
              - "null"
            description: Name of the user.
          service_account:
            type:
              - boolean
              - "null"
            description: Whether the user is a service account.
          status:
            type:
              - string
              - "null"
            description: Status of the user.
          title:
            type:
              - string
              - "null"
            description: Title of the user.
          verified:
            type:
              - boolean
              - "null"
            description: Whether the user is verified.
      id:
        type:
          - string
          - "null"
        description: ID of the user.
        readOnly: true
      relationships:
        type:
          - object
          - "null"
        description: Relationships of the user object returned by the API.
        readOnly: true
