version: 6.33.4

type: DeclarativeSource

description: >-
  fixed date parse in url path and incremental sync, added parameters end_date
  and symbols, updated schema

check:
  type: CheckStream
  stream_names:
    - open_exchange_rates

definitions:
  streams:
    open_exchange_rates:
      type: DeclarativeStream
      name: open_exchange_rates
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: historical/{{ stream_interval.start_time }}.json
          http_method: GET
          request_parameters:
            base: "{{ config['base'] }}"
            app_id: "{{ config['app_id'] }}"
            symbols: "{{ config['symbols'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/open_exchange_rates"
      incremental_sync:
        type: DatetimeBasedCursor
        step: P1D
        cursor_field: timestamp
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['end_date'] if config['end_date'] else today_utc() }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        cursor_granularity: P1D
        cursor_datetime_formats:
          - "%s"
  base_requester:
    type: HttpRequester
    url_base: https://openexchangerates.org/api/

streams:
  - $ref: "#/definitions/streams/open_exchange_rates"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - app_id
      - start_date
    properties:
      base:
        type: string
        description: >-
          Change base currency (3-letter code, default is USD - only modifiable
          in paid plans)
        order: 3
        default: USD
        examples:
          - EUR
          - USD
      app_id:
        type: string
        description: App ID provided by Open Exchange Rates
        order: 0
        airbyte_secret: true
      symbols:
        type: string
        description: >-
          Enter a list of comma-separated currency codes to limit output
          currencies
        order: 4
        title: symbols
      end_date:
        type: string
        description: If provided, returns data up to the end date, otherwise until today
        order: 2
        title: end_date
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
      start_date:
        type: string
        description: Start getting data from that date.
        order: 1
        title: start_date
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        examples:
          - YYYY-MM-DD
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    open_exchange_rates:
      hasRecords: true
      streamHash: ee08269b46a7be1a40d81c06b787b787b8a0cab8
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    open_exchange_rates: false

schemas:
  open_exchange_rates:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - disclaimer
      - license
      - timestamp
      - base
      - rates
    properties:
      base:
        type: string
        description: The base currency against which exchange rates are provided.
      rates:
        type: object
        description: Contains exchange rates data
        additionalProperties:
          type: number
      license:
        type: string
        description: >-
          The type of license under which the exchange rate data is made
          available.
      timestamp:
        type: number
        description: >-
          The UNIX timestamp indicating when the exchange rates were last
          updated.
      disclaimer:
        type: string
        description: >-
          Information about the usage rights or restrictions related to the
          provided data.
    additionalProperties: true
