version: 5.7.5

type: DeclarativeSource

description: |-
  Website: https://gorgias.com/
  API docs: https://developers.gorgias.com/reference/introduction
  Auth docs: https://developers.gorgias.com/reference/authentication
  API Keys: https://testerstoreusedbytester.gorgias.com/app/settings/api

check:
  type: CheckStream
  stream_names:
    - account

definitions:
  streams:
    account:
      type: DeclarativeStream
      name: account
      primary_key:
        - domain
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: account
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/account"
    customers:
      type: DeclarativeStream
      name: customers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: customers
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: '{{ response.get("meta", {}).get("next_cursor", {}) }}'
            stop_condition: '{{ not response.get("meta", {}).get("next_cursor", {}) }}'
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_datetime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customers"
    custom-fields:
      type: DeclarativeStream
      name: custom-fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: custom-fields
          http_method: GET
          request_parameters:
            object_type: Ticket
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: '{{ response.get("meta", {}).get("next_cursor", {}) }}'
            stop_condition: '{{ not response.get("meta", {}).get("next_cursor", {}) }}'
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_datetime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom-fields"
    events:
      type: DeclarativeStream
      name: events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: events
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: '{{ response.get("meta", {}).get("next_cursor", {}) }}'
            stop_condition: '{{ not response.get("meta", {}).get("next_cursor", {}) }}'
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/events"
    integrations:
      type: DeclarativeStream
      name: integrations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: integrations
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: '{{ response.get("meta", {}).get("next_cursor", {}) }}'
            stop_condition: '{{ not response.get("meta", {}).get("next_cursor", {}) }}'
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_datetime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/integrations"
    jobs:
      type: DeclarativeStream
      name: jobs
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: jobs
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: '{{ response.get("meta", {}).get("next_cursor", {}) }}'
            stop_condition: '{{ not response.get("meta", {}).get("next_cursor", {}) }}'
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/jobs"
    macros:
      type: DeclarativeStream
      name: macros
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: macros
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: '{{ response.get("meta", {}).get("next_cursor", {}) }}'
            stop_condition: '{{ not response.get("meta", {}).get("next_cursor", {}) }}'
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/macros"
    views:
      type: DeclarativeStream
      name: views
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: views
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: '{{ response.get("meta", {}).get("next_cursor", {}) }}'
            stop_condition: '{{ not response.get("meta", {}).get("next_cursor", {}) }}'
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/views"
    rules:
      type: DeclarativeStream
      name: rules
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: rules
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: '{{ response.get("meta", {}).get("next_cursor", {}) }}'
            stop_condition: '{{ not response.get("meta", {}).get("next_cursor", {}) }}'
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/rules"
    satisfaction-surveys:
      type: DeclarativeStream
      name: satisfaction-surveys
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: satisfaction-surveys
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: '{{ response.get("meta", {}).get("next_cursor", {}) }}'
            stop_condition: '{{ not response.get("meta", {}).get("next_cursor", {}) }}'
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/satisfaction-surveys"
    tags:
      type: DeclarativeStream
      name: tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: tags
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: '{{ response.get("meta", {}).get("next_cursor", {}) }}'
            stop_condition: '{{ not response.get("meta", {}).get("next_cursor", {}) }}'
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    teams:
      type: DeclarativeStream
      name: teams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: teams
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: '{{ response.get("meta", {}).get("next_cursor", {}) }}'
            stop_condition: '{{ not response.get("meta", {}).get("next_cursor", {}) }}'
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    tickets:
      type: DeclarativeStream
      name: tickets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: tickets
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: '{{ response.get("meta", {}).get("next_cursor", {}) }}'
            stop_condition: '{{ not response.get("meta", {}).get("next_cursor", {}) }}'
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tickets"
    messages:
      type: DeclarativeStream
      name: messages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: messages
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: '{{ response.get("meta", {}).get("next_cursor", {}) }}'
            stop_condition: '{{ not response.get("meta", {}).get("next_cursor", {}) }}'
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/messages"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: users
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: '{{ response.get("meta", {}).get("next_cursor", {}) }}'
            stop_condition: '{{ not response.get("meta", {}).get("next_cursor", {}) }}'
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    views_items:
      type: DeclarativeStream
      name: views_items
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: views/{{ stream_partition.view_id }}/items
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: '{{ response.get("meta", {}).get("next_cursor", {}) }}'
            stop_condition: '{{ not response.get("meta", {}).get("next_cursor", {}) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: view_id
              stream:
                $ref: "#/definitions/streams/views"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/views_items"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['domain_name'] }}.gorgias.com/api/
    authenticator:
      type: BasicHttpAuthenticator
      password: '{{ config["password"] }}'
      username: '{{ config["username"] }}'

streams:
  - $ref: "#/definitions/streams/account"
  - $ref: "#/definitions/streams/customers"
  - $ref: "#/definitions/streams/custom-fields"
  - $ref: "#/definitions/streams/events"
  - $ref: "#/definitions/streams/integrations"
  - $ref: "#/definitions/streams/jobs"
  - $ref: "#/definitions/streams/macros"
  - $ref: "#/definitions/streams/views"
  - $ref: "#/definitions/streams/rules"
  - $ref: "#/definitions/streams/satisfaction-surveys"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/tickets"
  - $ref: "#/definitions/streams/messages"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/views_items"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - username
      - domain_name
      - start_date
    properties:
      username:
        type: string
        order: 0
        title: Username
      password:
        type: string
        order: 1
        title: Password
        always_show: true
        airbyte_secret: true
      domain_name:
        type: string
        description: >-
          Domain name given for gorgias, found as your url prefix for accessing
          your website
        order: 2
        title: Domain name
      start_date:
        type: string
        order: 3
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  autoImportSchema:
    account: true
    customers: true
    custom-fields: true
    events: true
    integrations: true
    jobs: true
    macros: true
    views: true
    rules: true
    satisfaction-surveys: true
    tags: true
    teams: true
    tickets: true
    messages: true
    users: true
    views_items: true
  yamlComponents:
    streams:
      account:
        - incrementalSync
      customers:
        - incrementalSync
      custom-fields:
        - incrementalSync
      events:
        - incrementalSync
      integrations:
        - incrementalSync
      jobs:
        - incrementalSync
      macros:
        - incrementalSync
      views:
        - incrementalSync
      rules:
        - incrementalSync
      satisfaction-surveys:
        - incrementalSync
      tags:
        - incrementalSync
      teams:
        - incrementalSync
      tickets:
        - incrementalSync
      messages:
        - incrementalSync
      users:
        - incrementalSync
      views_items:
        - incrementalSync
  testedStreams:
    account:
      streamHash: d744624c7484b6696d00b448a4873d44577fe6d4
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    customers:
      streamHash: ca559007a6bf263aeaf11dbb9b96295e64555c2f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    custom-fields:
      streamHash: 158d74d4ec15ddb393fcd93410df78b504b07144
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    events:
      streamHash: 180fd5e4dcc2a7c6c78011249aa2a8bdc8910c4f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    integrations:
      streamHash: d7d971ef58a4eab715c2a3609213d5d65e8fefca
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    jobs:
      streamHash: ed6c3e3ed40bb137f8ef8748435bd2c83b9e3d74
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    macros:
      streamHash: 955fe8be382283bd12e9b461f8c6dea96d521480
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    views:
      streamHash: f6f2fec4decd9c5657d47007cf7ca50c74798f5d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    rules:
      streamHash: 1bbb2ded40d6ec6ac514a7a4d031824fb72c8671
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    satisfaction-surveys:
      streamHash: 78392e54d6a852c07c6b68f1268167a523a1fed8
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tags:
      streamHash: d08f102f1d1d60817d0dc073daebc13c9589d2fc
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teams:
      streamHash: 0ef08ffb72fa8e5404c7ceb3d350be90cf39cbcb
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tickets:
      streamHash: b735a8354cf6d5ad5034612614d137a60a0420d8
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    messages:
      streamHash: 5fb8111396993c073be7704df24dac5c8bdb3446
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: 5c44f43aba3bdbdddb0bce2483d1a2baf7591307
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    views_items:
      streamHash: 3fb81032865e8878b9d3d811f070b8e09c2d82cf
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  account:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_datetime:
        type: string
      current_subscription:
        type:
          - object
          - "null"
        properties:
          start_datetime:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          trial_end_datetime:
            type:
              - string
              - "null"
          trial_start_datetime:
            type:
              - string
              - "null"
      domain:
        type: string
      meta:
        type:
          - object
          - "null"
        properties:
          analytics_group_id:
            type:
              - string
              - "null"
          company_domain:
            type:
              - string
              - "null"
      settings:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            data:
              type:
                - object
                - "null"
              properties:
                allowed_domains:
                  type:
                    - array
                    - "null"
                assignment_channels:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - string
                      - "null"
                auto_assign_to_teams:
                  type:
                    - boolean
                    - "null"
                business_hours:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      days:
                        type:
                          - string
                          - "null"
                      from_time:
                        type:
                          - string
                          - "null"
                      to_time:
                        type:
                          - string
                          - "null"
                email:
                  type:
                    - number
                    - "null"
                google_sso_enabled:
                  type:
                    - boolean
                    - "null"
                hidden_views:
                  type:
                    - array
                    - "null"
                max_user_chat_ticket:
                  type:
                    - number
                    - "null"
                max_user_non_chat_ticket:
                  type:
                    - number
                    - "null"
                office365_sso_enabled:
                  type:
                    - boolean
                    - "null"
                send_survey_for_chat:
                  type:
                    - boolean
                    - "null"
                send_survey_for_email:
                  type:
                    - boolean
                    - "null"
                signup_mode:
                  type:
                    - string
                    - "null"
                survey_email_html:
                  type:
                    - string
                    - "null"
                survey_email_text:
                  type:
                    - string
                    - "null"
                survey_interval:
                  type:
                    - number
                    - "null"
                tickets:
                  type:
                    - object
                    - "null"
                  properties:
                    enabled:
                      type:
                        - boolean
                        - "null"
                    merging_window_days:
                      type:
                        - number
                        - "null"
                timezone:
                  type:
                    - string
                    - "null"
                unassign_on_reply:
                  type:
                    - boolean
                    - "null"
                view_sections:
                  type:
                    - object
                    - "null"
                views:
                  type:
                    - object
                    - "null"
                views_bottom:
                  type:
                    - object
                    - "null"
                views_top:
                  type:
                    - object
                    - "null"
            id:
              type:
                - number
                - "null"
      status:
        type:
          - object
          - "null"
        properties:
          notification:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              message:
                type:
                  - string
                  - "null"
          status:
            type:
              - string
              - "null"
    required:
      - domain
      - created_datetime
  customers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - boolean
          - "null"
      created_datetime:
        type:
          - string
          - "null"
      custom_fields:
        type:
          - object
          - "null"
      email:
        type:
          - string
          - "null"
      external_id:
        type:
          - string
          - "null"
      firstname:
        type:
          - string
          - "null"
      id:
        type: number
      language:
        type:
          - string
          - "null"
      lastname:
        type:
          - string
          - "null"
      meta:
        type:
          - object
          - "null"
        properties:
          name_set_via:
            type:
              - string
              - "null"
      name:
        type:
          - string
          - "null"
      timezone:
        type:
          - string
          - "null"
      updated_datetime:
        type: string
    required:
      - id
      - updated_datetime
  custom-fields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      created_datetime:
        type:
          - string
          - "null"
      definition:
        type:
          - object
          - "null"
        properties:
          data_type:
            type:
              - string
              - "null"
          input_settings:
            type:
              - object
              - "null"
            properties:
              choices:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              input_type:
                type:
                  - string
                  - "null"
      id:
        type: number
      label:
        type:
          - string
          - "null"
      managed_type:
        type:
          - string
          - "null"
      object_type:
        type:
          - string
          - "null"
      priority:
        type:
          - number
          - "null"
      required:
        type:
          - boolean
          - "null"
      updated_datetime:
        type: string
    required:
      - id
      - updated_datetime
  events:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      context:
        type:
          - string
          - "null"
      created_datetime:
        type: string
      data:
        type:
          - object
          - "null"
        properties:
          login_type:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          remote_addr:
            type:
              - string
              - "null"
      id:
        type: number
      object_id:
        type:
          - number
          - "null"
      object_type:
        type:
          - string
          - "null"
      uri:
        type:
          - string
          - "null"
      user_id:
        type:
          - number
          - "null"
    required:
      - id
      - created_datetime
  integrations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      created_datetime:
        type:
          - string
          - "null"
      id:
        type: number
      managed:
        type:
          - boolean
          - "null"
      meta:
        type:
          - object
          - "null"
        properties:
          address:
            type:
              - string
              - "null"
          email_forwarding_activated:
            type:
              - boolean
              - "null"
          outbound_verification_status:
            type:
              - object
              - "null"
            properties:
              domain:
                type:
                  - string
                  - "null"
              single_sender:
                type:
                  - string
                  - "null"
          preferred:
            type:
              - boolean
              - "null"
          provider:
            type:
              - string
              - "null"
          verified:
            type:
              - boolean
              - "null"
      name:
        type:
          - string
          - "null"
      updated_datetime:
        type: string
      uri:
        type:
          - string
          - "null"
      user:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
    required:
      - id
      - updated_datetime
  jobs:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      created_datetime:
        type: string
      ended_datetime:
        type:
          - string
          - "null"
      id:
        type: number
      info:
        type:
          - object
          - "null"
        properties:
          _composed_files:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                absolute_path:
                  type:
                    - string
                    - "null"
                content_type:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                size:
                  type:
                    - number
                    - "null"
                url:
                  type:
                    - string
                    - "null"
          _tickets_files:
            type:
              - array
              - "null"
          archive:
            type:
              - object
              - "null"
            properties:
              absolute_path:
                type:
                  - string
                  - "null"
              content_type:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              size:
                type:
                  - number
                  - "null"
              url:
                type:
                  - string
                  - "null"
          custom_fields_mapping:
            type:
              - object
              - "null"
          custom_fields_order:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          iteration_over:
            type:
              - boolean
              - "null"
          progress_count:
            type:
              - number
              - "null"
          progress_cursor:
            type:
              - number
              - "null"
          timezone:
            type:
              - string
              - "null"
      params:
        type:
          - object
          - "null"
        properties:
          view:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              category:
                type:
                  - string
                  - "null"
              filters:
                type:
                  - string
                  - "null"
              filters_ast:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  body:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        expression:
                          type:
                            - object
                            - "null"
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            arguments:
                              type:
                                - array
                                - "null"
                              items:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  type:
                                    type:
                                      - string
                                      - "null"
                                  computed:
                                    type:
                                      - boolean
                                      - "null"
                                  loc:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      end:
                                        type:
                                          - object
                                          - "null"
                                        properties:
                                          column:
                                            type:
                                              - number
                                              - "null"
                                          line:
                                            type:
                                              - number
                                              - "null"
                                      start:
                                        type:
                                          - object
                                          - "null"
                                        properties:
                                          column:
                                            type:
                                              - number
                                              - "null"
                                          line:
                                            type:
                                              - number
                                              - "null"
                                  object:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      type:
                                        type:
                                          - string
                                          - "null"
                                      loc:
                                        type:
                                          - object
                                          - "null"
                                        properties:
                                          end:
                                            type:
                                              - object
                                              - "null"
                                            properties:
                                              column:
                                                type:
                                                  - number
                                                  - "null"
                                              line:
                                                type:
                                                  - number
                                                  - "null"
                                          start:
                                            type:
                                              - object
                                              - "null"
                                            properties:
                                              column:
                                                type:
                                                  - number
                                                  - "null"
                                              line:
                                                type:
                                                  - number
                                                  - "null"
                                      name:
                                        type:
                                          - string
                                          - "null"
                                  property:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      type:
                                        type:
                                          - string
                                          - "null"
                                      loc:
                                        type:
                                          - object
                                          - "null"
                                        properties:
                                          end:
                                            type:
                                              - object
                                              - "null"
                                            properties:
                                              column:
                                                type:
                                                  - number
                                                  - "null"
                                              line:
                                                type:
                                                  - number
                                                  - "null"
                                          start:
                                            type:
                                              - object
                                              - "null"
                                            properties:
                                              column:
                                                type:
                                                  - number
                                                  - "null"
                                              line:
                                                type:
                                                  - number
                                                  - "null"
                                      name:
                                        type:
                                          - string
                                          - "null"
                                  raw:
                                    type:
                                      - string
                                      - "null"
                                  value:
                                    type:
                                      - string
                                      - "null"
                            callee:
                              type:
                                - object
                                - "null"
                              properties:
                                type:
                                  type:
                                    - string
                                    - "null"
                                loc:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    end:
                                      type:
                                        - object
                                        - "null"
                                      properties:
                                        column:
                                          type:
                                            - number
                                            - "null"
                                        line:
                                          type:
                                            - number
                                            - "null"
                                    start:
                                      type:
                                        - object
                                        - "null"
                                      properties:
                                        column:
                                          type:
                                            - number
                                            - "null"
                                        line:
                                          type:
                                            - number
                                            - "null"
                                name:
                                  type:
                                    - string
                                    - "null"
                            loc:
                              type:
                                - object
                                - "null"
                              properties:
                                end:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    column:
                                      type:
                                        - number
                                        - "null"
                                    line:
                                      type:
                                        - number
                                        - "null"
                                start:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    column:
                                      type:
                                        - number
                                        - "null"
                                    line:
                                      type:
                                        - number
                                        - "null"
                        loc:
                          type:
                            - object
                            - "null"
                          properties:
                            end:
                              type:
                                - object
                                - "null"
                              properties:
                                column:
                                  type:
                                    - number
                                    - "null"
                                line:
                                  type:
                                    - number
                                    - "null"
                            start:
                              type:
                                - object
                                - "null"
                              properties:
                                column:
                                  type:
                                    - number
                                    - "null"
                                line:
                                  type:
                                    - number
                                    - "null"
                  loc:
                    type:
                      - object
                      - "null"
                    properties:
                      end:
                        type:
                          - object
                          - "null"
                        properties:
                          column:
                            type:
                              - number
                              - "null"
                          line:
                            type:
                              - number
                              - "null"
                      start:
                        type:
                          - object
                          - "null"
                        properties:
                          column:
                            type:
                              - number
                              - "null"
                          line:
                            type:
                              - number
                              - "null"
                  sourceType:
                    type:
                      - string
                      - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              order_by:
                type:
                  - string
                  - "null"
              order_dir:
                type:
                  - string
                  - "null"
      started_datetime:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      uri:
        type:
          - string
          - "null"
      user_id:
        type:
          - number
          - "null"
    required:
      - id
      - created_datetime
  macros:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      actions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            arguments:
              type:
                - object
                - "null"
              properties:
                body_html:
                  type:
                    - string
                    - "null"
                body_text:
                  type:
                    - string
                    - "null"
            name:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
      created_datetime:
        type: string
      id:
        type: number
      intent:
        type:
          - string
          - "null"
      language:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      uri:
        type:
          - string
          - "null"
      usage:
        type:
          - number
          - "null"
    required:
      - id
      - created_datetime
  views:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      category:
        type:
          - string
          - "null"
      created_datetime:
        type: string
      fields:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      filters:
        type:
          - string
          - "null"
      filters_ast:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          body:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                expression:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    arguments:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          type:
                            type:
                              - string
                              - "null"
                          computed:
                            type:
                              - boolean
                              - "null"
                          loc:
                            type:
                              - object
                              - "null"
                            properties:
                              end:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  column:
                                    type:
                                      - number
                                      - "null"
                                  line:
                                    type:
                                      - number
                                      - "null"
                              start:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  column:
                                    type:
                                      - number
                                      - "null"
                                  line:
                                    type:
                                      - number
                                      - "null"
                          object:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              loc:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  end:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      column:
                                        type:
                                          - number
                                          - "null"
                                      line:
                                        type:
                                          - number
                                          - "null"
                                  start:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      column:
                                        type:
                                          - number
                                          - "null"
                                      line:
                                        type:
                                          - number
                                          - "null"
                              name:
                                type:
                                  - string
                                  - "null"
                          property:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              loc:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  end:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      column:
                                        type:
                                          - number
                                          - "null"
                                      line:
                                        type:
                                          - number
                                          - "null"
                                  start:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      column:
                                        type:
                                          - number
                                          - "null"
                                      line:
                                        type:
                                          - number
                                          - "null"
                              name:
                                type:
                                  - string
                                  - "null"
                          raw:
                            type:
                              - string
                              - "null"
                          value:
                            type:
                              - boolean
                              - string
                              - "null"
                    callee:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        loc:
                          type:
                            - object
                            - "null"
                          properties:
                            end:
                              type:
                                - object
                                - "null"
                              properties:
                                column:
                                  type:
                                    - number
                                    - "null"
                                line:
                                  type:
                                    - number
                                    - "null"
                            start:
                              type:
                                - object
                                - "null"
                              properties:
                                column:
                                  type:
                                    - number
                                    - "null"
                                line:
                                  type:
                                    - number
                                    - "null"
                        name:
                          type:
                            - string
                            - "null"
                    left:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              computed:
                                type:
                                  - boolean
                                  - "null"
                              loc:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  end:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      column:
                                        type:
                                          - number
                                          - "null"
                                      line:
                                        type:
                                          - number
                                          - "null"
                                  start:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      column:
                                        type:
                                          - number
                                          - "null"
                                      line:
                                        type:
                                          - number
                                          - "null"
                              object:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  type:
                                    type:
                                      - string
                                      - "null"
                                  computed:
                                    type:
                                      - boolean
                                      - "null"
                                  loc:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      end:
                                        type:
                                          - object
                                          - "null"
                                        properties:
                                          column:
                                            type:
                                              - number
                                              - "null"
                                          line:
                                            type:
                                              - number
                                              - "null"
                                      start:
                                        type:
                                          - object
                                          - "null"
                                        properties:
                                          column:
                                            type:
                                              - number
                                              - "null"
                                          line:
                                            type:
                                              - number
                                              - "null"
                                  name:
                                    type:
                                      - string
                                      - "null"
                                  object:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      type:
                                        type:
                                          - string
                                          - "null"
                                      loc:
                                        type:
                                          - object
                                          - "null"
                                        properties:
                                          end:
                                            type:
                                              - object
                                              - "null"
                                            properties:
                                              column:
                                                type:
                                                  - number
                                                  - "null"
                                              line:
                                                type:
                                                  - number
                                                  - "null"
                                          start:
                                            type:
                                              - object
                                              - "null"
                                            properties:
                                              column:
                                                type:
                                                  - number
                                                  - "null"
                                              line:
                                                type:
                                                  - number
                                                  - "null"
                                      name:
                                        type:
                                          - string
                                          - "null"
                                  property:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      type:
                                        type:
                                          - string
                                          - "null"
                                      loc:
                                        type:
                                          - object
                                          - "null"
                                        properties:
                                          end:
                                            type:
                                              - object
                                              - "null"
                                            properties:
                                              column:
                                                type:
                                                  - number
                                                  - "null"
                                              line:
                                                type:
                                                  - number
                                                  - "null"
                                          start:
                                            type:
                                              - object
                                              - "null"
                                            properties:
                                              column:
                                                type:
                                                  - number
                                                  - "null"
                                              line:
                                                type:
                                                  - number
                                                  - "null"
                                      name:
                                        type:
                                          - string
                                          - "null"
                              property:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  type:
                                    type:
                                      - string
                                      - "null"
                                  loc:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      end:
                                        type:
                                          - object
                                          - "null"
                                        properties:
                                          column:
                                            type:
                                              - number
                                              - "null"
                                          line:
                                            type:
                                              - number
                                              - "null"
                                      start:
                                        type:
                                          - object
                                          - "null"
                                        properties:
                                          column:
                                            type:
                                              - number
                                              - "null"
                                          line:
                                            type:
                                              - number
                                              - "null"
                                  name:
                                    type:
                                      - string
                                      - "null"
                              raw:
                                type:
                                  - string
                                  - "null"
                              value:
                                type:
                                  - string
                                  - "null"
                        callee:
                          type:
                            - object
                            - "null"
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            loc:
                              type:
                                - object
                                - "null"
                              properties:
                                end:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    column:
                                      type:
                                        - number
                                        - "null"
                                    line:
                                      type:
                                        - number
                                        - "null"
                                start:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    column:
                                      type:
                                        - number
                                        - "null"
                                    line:
                                      type:
                                        - number
                                        - "null"
                            name:
                              type:
                                - string
                                - "null"
                        loc:
                          type:
                            - object
                            - "null"
                          properties:
                            end:
                              type:
                                - object
                                - "null"
                              properties:
                                column:
                                  type:
                                    - number
                                    - "null"
                                line:
                                  type:
                                    - number
                                    - "null"
                            start:
                              type:
                                - object
                                - "null"
                              properties:
                                column:
                                  type:
                                    - number
                                    - "null"
                                line:
                                  type:
                                    - number
                                    - "null"
                    loc:
                      type:
                        - object
                        - "null"
                      properties:
                        end:
                          type:
                            - object
                            - "null"
                          properties:
                            column:
                              type:
                                - number
                                - "null"
                            line:
                              type:
                                - number
                                - "null"
                        start:
                          type:
                            - object
                            - "null"
                          properties:
                            column:
                              type:
                                - number
                                - "null"
                            line:
                              type:
                                - number
                                - "null"
                    operator:
                      type:
                        - string
                        - "null"
                    right:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              computed:
                                type:
                                  - boolean
                                  - "null"
                              loc:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  end:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      column:
                                        type:
                                          - number
                                          - "null"
                                      line:
                                        type:
                                          - number
                                          - "null"
                                  start:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      column:
                                        type:
                                          - number
                                          - "null"
                                      line:
                                        type:
                                          - number
                                          - "null"
                              object:
                                type:
                                  - object
                                  - "null"
                                properties:
[...]
