version: 6.13.0

type: DeclarativeSource

description: >-
  All streams updated to use the "Retry-after" header when rate limited. 


  Changed the tickets stream's cursor field to "updated_datetime". Tickets are
  mutable.


  In views_items, added parent "view_id" to additional views and included in
  view_id + id composite key to resolve duplicate key errors. 



  Website: https://gorgias.com/

  API docs: https://developers.gorgias.com/reference/introduction

  Auth docs: https://developers.gorgias.com/reference/authentication

  API Keys: https://testerstoreusedbytester.gorgias.com/app/settings/api

check:
  type: CheckStream
  stream_names:
    - account

definitions:
  streams:
    account:
      type: DeclarativeStream
      name: account
      primary_key:
        - domain
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: account
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/account"
    customers:
      type: DeclarativeStream
      name: customers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: customers
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_datetime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customers"
    custom-fields:
      type: DeclarativeStream
      name: custom-fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: custom-fields
          http_method: GET
          request_parameters:
            object_type: Ticket
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_datetime
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom-fields"
    events:
      type: DeclarativeStream
      name: events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: events
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/events"
    integrations:
      type: DeclarativeStream
      name: integrations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: integrations
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_datetime
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/integrations"
    jobs:
      type: DeclarativeStream
      name: jobs
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: jobs
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/jobs"
    macros:
      type: DeclarativeStream
      name: macros
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: macros
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/macros"
    views:
      type: DeclarativeStream
      name: views
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: views
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/views"
    rules:
      type: DeclarativeStream
      name: rules
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: rules
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/rules"
    satisfaction-surveys:
      type: DeclarativeStream
      name: satisfaction-surveys
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: satisfaction-surveys
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/satisfaction-surveys"
    tags:
      type: DeclarativeStream
      name: tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: tags
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    teams:
      type: DeclarativeStream
      name: teams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: teams
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    tickets:
      type: DeclarativeStream
      name: tickets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: tickets
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_datetime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tickets"
    messages:
      type: DeclarativeStream
      name: messages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: messages
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/messages"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: users
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    views_items:
      type: DeclarativeStream
      name: views_items
      primary_key:
        - view_id
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: views/{{ stream_partition.view_id }}/items
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 50
            cursor_value: "{{ response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
            stop_condition: "{{ not response.get(\"meta\", {}).get(\"next_cursor\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: view_id
              stream:
                $ref: "#/definitions/streams/views"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_datetime
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%d %H:%M:%S+00:00"
          - "%Y-%m-%dT%H:%M:%S+00:00"
      transformations:
        - type: AddFields
          fields:
            - path:
                - view_id
              value: "{{ stream_partition.view_id}}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/views_items"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['domain_name'] }}.gorgias.com/api/
    authenticator:
      type: BasicHttpAuthenticator
      password: "{{ config[\"password\"] }}"
      username: "{{ config[\"username\"] }}"

streams:
  - $ref: "#/definitions/streams/account"
  - $ref: "#/definitions/streams/customers"
  - $ref: "#/definitions/streams/custom-fields"
  - $ref: "#/definitions/streams/events"
  - $ref: "#/definitions/streams/integrations"
  - $ref: "#/definitions/streams/jobs"
  - $ref: "#/definitions/streams/macros"
  - $ref: "#/definitions/streams/views"
  - $ref: "#/definitions/streams/rules"
  - $ref: "#/definitions/streams/satisfaction-surveys"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/tickets"
  - $ref: "#/definitions/streams/messages"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/views_items"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - username
      - domain_name
      - start_date
    properties:
      username:
        type: string
        order: 0
        title: Username
      password:
        type: string
        order: 1
        title: Password
        always_show: true
        airbyte_secret: true
      domain_name:
        type: string
        description: >-
          Domain name given for gorgias, found as your url prefix for accessing
          your website
        order: 2
        title: Domain name
      start_date:
        type: string
        order: 3
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  autoImportSchema:
    account: true
    customers: true
    custom-fields: true
    events: true
    integrations: true
    jobs: true
    macros: true
    views: true
    rules: true
    satisfaction-surveys: true
    tags: true
    teams: true
    tickets: true
    messages: true
    users: true
    views_items: true
  yamlComponents:
    streams:
      account:
        - incrementalSync
      custom-fields:
        - incrementalSync
      events:
        - incrementalSync
      integrations:
        - incrementalSync
      jobs:
        - incrementalSync
      macros:
        - incrementalSync
      views:
        - incrementalSync
      rules:
        - incrementalSync
      satisfaction-surveys:
        - incrementalSync
      tags:
        - incrementalSync
      teams:
        - incrementalSync
      messages:
        - incrementalSync
      users:
        - incrementalSync
      views_items:
        - incrementalSync
  testedStreams:
    account:
      streamHash: 04826fe9a24fd0a368cd72410cfde97787cb795b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    customers:
      streamHash: 309e16af9cc0f560658c29b4f4345eb2471bba6a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    custom-fields:
      streamHash: 828d3aa034f184d9d2854aff6b5bafd704a203f3
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    events:
      streamHash: 7ca474ce9f0857a7cc88e10b70604734ac71f920
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    integrations:
      streamHash: 265ff8bcd600d17702f4328f6bc860d2d7266e06
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    jobs:
      streamHash: 2283996fa059b750e05ddbb16fcf7232131cb54e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    macros:
      streamHash: 29827bb20f78faec0936462b58ac0990b2b97923
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    views:
      streamHash: 7b336a1596704d9da6fc840ee88082310ced6c8b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    rules:
      streamHash: 2c04e339a4816f923bc45d35bfa49c03ce7dc9ae
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    satisfaction-surveys:
      streamHash: 84052d1d1a264dd8c580a2e9890c55b4d29e9100
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tags:
      streamHash: 01fe39f93c4f76e70f3b48ccefd628f10e8c3079
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teams:
      streamHash: 810498e2ece94d9fd837176ebdbdbe0eaf20276d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tickets:
      streamHash: b392f24ea610c9ee32760c959f825139816e3d5e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    messages:
      streamHash: 7bf4dd65eb1af10ce6ee1eedaf13baefa815c804
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: ef1d3bd96c84322e5ce0afe1dc29827b015bd393
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    views_items:
      streamHash: 93c83d3f1fbdc4d75c06bfa970e61d5ba0d48537
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  account:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_datetime:
        type: string
      current_subscription:
        type:
          - object
          - "null"
        properties:
          plan:
            type:
              - string
              - "null"
          start_datetime:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
      domain:
        type: string
      meta:
        type:
          - object
          - "null"
        properties:
          analytics_group_id:
            type:
              - string
              - "null"
          company_domain:
            type:
              - string
              - "null"
          company_id:
            type:
              - string
              - "null"
          hasCreditCard:
            type:
              - boolean
              - "null"
      settings:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            data:
              type:
                - object
                - "null"
              properties:
                active_view:
                  type:
                    - string
                    - "null"
                allowed_domains:
                  type:
                    - array
                    - "null"
                assignment_channels:
                  type:
                    - array
                    - "null"
                auto_assign_to_teams:
                  type:
                    - boolean
                    - "null"
                business_hours:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      days:
                        type:
                          - string
                          - "null"
                      from_time:
                        type:
                          - string
                          - "null"
                      to_time:
                        type:
                          - string
                          - "null"
                email:
                  type:
                    - number
                    - "null"
                google_sso_enabled:
                  type:
                    - boolean
                    - "null"
                hidden_views:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - number
                      - "null"
                max_user_chat_ticket:
                  type:
                    - number
                    - "null"
                max_user_non_chat_ticket:
                  type:
                    - number
                    - "null"
                office365_sso_enabled:
                  type:
                    - boolean
                    - "null"
                send_survey_for_chat:
                  type:
                    - boolean
                    - "null"
                send_survey_for_email:
                  type:
                    - boolean
                    - "null"
                signup_mode:
                  type:
                    - string
                    - "null"
                survey_email_html:
                  type:
                    - string
                    - "null"
                survey_email_text:
                  type:
                    - string
                    - "null"
                survey_interval:
                  type:
                    - number
                    - "null"
                tickets:
                  type:
                    - object
                    - "null"
                  properties:
                    enabled:
                      type:
                        - boolean
                        - "null"
                    merging_window_days:
                      type:
                        - number
                        - "null"
                timezone:
                  type:
                    - string
                    - "null"
                unassign_on_reply:
                  type:
                    - boolean
                    - "null"
                view_sections:
                  type:
                    - object
                    - "null"
                  properties:
                    "383":
                      type:
                        - object
                        - "null"
                      properties:
                        display_order:
                          type:
                            - number
                            - "null"
                    "386":
                      type:
                        - object
                        - "null"
                      properties:
                        display_order:
                          type:
                            - number
                            - "null"
                    "387":
                      type:
                        - object
                        - "null"
                      properties:
                        display_order:
                          type:
                            - number
                            - "null"
                    "392":
                      type:
                        - object
                        - "null"
                      properties:
                        display_order:
                          type:
                            - number
                            - "null"
                    "453":
                      type:
                        - object
                        - "null"
                      properties:
                        display_order:
                          type:
                            - number
                            - "null"
                    "787":
                      type:
                        - object
                        - "null"
                      properties:
                        display_order:
                          type:
                            - number
                            - "null"
                    "2731":
                      type:
                        - object
                        - "null"
                      properties:
                        display_order:
                          type:
                            - number
                            - "null"
                    "2805":
                      type:
                        - object
                        - "null"
                      properties:
                        display_order:
                          type:
                            - number
                            - "null"
                    "2847":
                      type:
                        - object
                        - "null"
                      properties:
                        display_order:
                          type:
                            - number
                            - "null"
                    "5020":
                      type:
                        - object
                        - "null"
                      properties:
                        display_order:
                          type:
                            - number
                            - "null"
                    "6506":
                      type:
                        - object
                        - "null"
                      properties:
                        display_order:
                          type:
                            - number
                            - "null"
                    "7536":
                      type:
                        - object
                        - "null"
                      properties:
                        display_order:
                          type:
                            - number
                            - "null"
                    "7587":
                      type:
                        - object
                        - "null"
                      properties:
                        display_order:
                          type:
                            - number
                            - "null"
                    "7878":
                      type:
                        - object
                        - "null"
                      properties:
                        display_order:
                          type:
                            - number
                            - "null"
                    "8636":
                      type:
                        - object
                        - "null"
                      properties:
                        display_order:
                          type:
                            - number
                            - "null"
                    "8642":
                      type:
                        - object
                        - "null"
                      properties:
                        display_order:
                          type:
                            - number
                            - "null"
                    "8663":
                      type:
                        - object
                        - "null"
                      properties:
                        display_order:
                          type:
                            - number
                            - "null"
                views:
                  anyOf:
                    - type: object
                      properties:
                        "97940":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "97942":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "97944":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "99092":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "99581":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "99592":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "99593":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "100296":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "100565":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "100981":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "101398":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "101402":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "101486":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "101488":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "101489":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "101491":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "101492":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "101493":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "101494":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "102707":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "102708":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "105955":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "116936":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "121063":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "123663":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "128205":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "183246":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "186939":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "187691":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "190025":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "190683":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "190686":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "213534":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "213537":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "215437":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "218071":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "227587":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "238257":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "250362":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "251092":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "251093":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "253400":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "253444":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "302159":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "597173":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "597277":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "635895":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "667871":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "704288":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "769072":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "772664":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "772710":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "779628":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "779736":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1067762":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1067903":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1156976":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1180049":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1236833":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1236850":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1287487":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1391896":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1465249":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1474411":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1474414":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1474417":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1474423":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1546564":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1566719":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1607721":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1607726":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1607732":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1607734":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1620183":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1620185":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1620188":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1620189":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1632587":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1648908":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1648910":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1655573":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1655574":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1655654":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1655655":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1664946":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1672972":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1672973":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1672974":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1683641":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1709756":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1736046":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1736048":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1744930":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1750901":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1757076":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1757088":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1757164":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1757297":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1785680":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1785682":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1785684":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1785687":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1785689":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1785690":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1785694":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1785696":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1833993":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1865425":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1887145":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1889899":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1889901":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1901317":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1901318":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1901319":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1901320":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1901321":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1902261":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1903228":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1903231":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1908345":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1909356":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1914601":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1916026":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1916027":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1916031":
                          type: object
                          properties:
                            display_order:
                              type: number
                        "1916032":
                          type: object
                          properties:
                            display_order:
                              type: number
                    - type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          metrics:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                visibility:
                                  type:
                                    - boolean
                                    - "null"
                          name:
                            type: string
            id:
              type:
                - number
                - "null"
      status:
        type:
          - object
          - "null"
        properties:
          status:
            type:
              - string
              - "null"
    required:
      - domain
      - created_datetime
  customers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - boolean
          - "null"
      created_datetime:
        type:
          - string
          - "null"
      custom_fields:
        type:
          - object
          - "null"
      email:
        type:
          - string
          - "null"
      firstname:
        type:
          - string
          - "null"
      id:
        type: number
      lastname:
        type:
          - string
          - "null"
      meta:
        type:
          - object
          - "null"
        properties:
          name_set_via:
            type:
              - string
              - "null"
      name:
        type:
          - string
          - "null"
      updated_datetime:
        type: string
    required:
      - id
      - updated_datetime
  custom-fields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      created_datetime:
        type:
          - string
          - "null"
      deactivated_datetime:
        type:
          - string
          - "null"
      definition:
        type:
          - object
          - "null"
        properties:
          data_type:
            type:
              - string
              - "null"
          input_settings:
            type:
              - object
              - "null"
            properties:
              choices:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              input_type:
                type:
                  - string
                  - "null"
      id:
        type: number
      label:
        type:
          - string
          - "null"
      managed_type:
        type:
          - string
          - "null"
      object_type:
        type:
          - string
          - "null"
      priority:
        type:
          - number
          - "null"
      required:
        type:
          - boolean
          - "null"
      requirement_type:
        type:
          - string
          - "null"
      updated_datetime:
        type: string
    required:
      - id
      - updated_datetime
  events:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      context:
        type:
          - string
          - "null"
      created_datetime:
        type: string
      data:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          account_id:
            type:
              - number
              - "null"
          assignee_user_id:
            type:
              - number
              - "null"
          code:
            type:
              - string
              - "null"
          event_types:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          new_subject:
            type:
              - string
              - "null"
          priority:
            type:
              - number
              - "null"
          tags_added:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          triggering_event_type:
            type:
              - string
              - "null"
      id:
        type: number
      object_id:
        type:
          - number
          - "null"
      object_type:
        type:
          - string
          - "null"
      uri:
        type:
          - string
          - "null"
      user_id:
        type:
          - number
          - "null"
    required:
      - id
      - created_datetime
  integrations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      application_id:
        type:
          - string
          - "null"
      created_datetime:
        type:
          - string
          - "null"
      deactivated_datetime:
        type:
          - string
          - "null"
      decoration:
        type:
          - object
          - "null"
        properties:
          avatar:
            type:
              - object
              - "null"
            properties:
              company_logo_url:
                type:
                  - string
                  - "null"
              image_type:
                type:
                  - string
                  - "null"
              name_type:
                type:
                  - string
                  - "null"
          avatar_team_picture_url:
            type:
              - string
              - "null"
          avatar_type:
            type:
              - string
              - "null"
          background_color_style:
            type:
              - string
              - "null"
          conversation_color:
            type:
              - string
              - "null"
          display_bot_label:
            type:
              - boolean
              - "null"
          introduction_text:
            type:
              - string
              - "null"
          launcher:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              label:
                type:
                  - string
                  - "null"
          main_color:
            type:
              - string
              - "null"
          main_font_family:
            type:
              - string
              - "null"
          offline_introduction_text:
            type:
              - string
              - "null"
          position:
            type:
              - object
              - "null"
            properties:
              alignment:
                type:
                  - string
                  - "null"
              offsetX:
                type:
                  - number
                  - "null"
              offsetY:
                type:
                  - number
                  - "null"
          use_main_color_outside_business_hours:
            type:
              - boolean
              - "null"
      http:
        type:
          - object
          - "null"
        properties:
          form:
            anyOf:
              - type: string
              - type: object
                properties:
                  type:
                    type: string
                  metadata:
                    type: object
                    properties:
                      facebook_page_id:
                        type: string
                      order_reference:
                        type: string
                      tracking_number:
                        type: string
                  affiliateId:
                    type: string
                  affiliateType:
                    type: string
                  body:
                    type: string
                  bodyHtml:
                    type: string
                  closedOn:
                    type: string
                  customer:
                    type: object
                    properties:
                      addresses:
                        type: array
                        items:
                          type: object
                          properties:
                            address1:
                              type: string
                            address2:
                              type: string
                            city:
                              type: string
                            country:
                              type: string
                            province:
                              type: string
                            zip:
                              type: string
                      email:
                        type: string
                      id:
                        type: string
                      ip_address:
                        type: string
                      name:
                        type: string
                      phone_numbers:
                        type: array
                        items:
                          type: string
                      shopify_customer_id:
                        type: string
                      shopify_email_marketing_consent:
                        type: string
                      sms_marketing_consent:
                        type: string
                  event:
                    anyOf:
                      - type: string
                      - type: object
                        properties:
                          aircall_call_id:
                            type: string
                          channel:
                            type: string
                          created_datetime:
                            type: string
                          destination:
                            type: array
                            items:
                              type: object
                              properties:
                                address:
                                  type: string
                                name:
                                  type: string
                          event_type:
                            type: string
                          facebook_comment_id:
                            type: string
                          facebook_post_id:
                            type: string
                          integration_id:
                            type: string
                          message_id:
                            type: string
                          permalink:
                            type: string
                          source_address:
                            type: string
                          source_name:
                            type: string
                          source_type:
                            type: string
                          subject:
                            type: string
                          ticket_id:
                            type: string
                  fromAgent:
                    type: string
                  intents:
                    type: array
                    items:
                      type: object
                      properties:
                        intent_name:
                          type: string
                        intent_score:
                          type: string
                  message:
                    type: object
                    properties:
                      attachments:
                        type: string
                      body_html:
                        type: string
                      body_text:
                        type: string
                      channel:
                        type: string
                      created_datetime:
                        type: string
                      from_agent:
                        type: string
                      id:
                        type: string
                      integration_id:
                        type: string
                      intents:
                        type: string
                      meta:
                        type: string
                      source:
                        type: string
                      subject:
                        type: string
                  order:
                    type: object
                    properties:
                      browser_ip:
                        type: string
                      hitid:
                        type: string
                      last_order_id:
                        type: string
                      last_order_name:
                        type: string
                  properties:
                    type: object
                    properties:
                      customer_email:
                        type: string
                      customer_firstname:
                        type: string
                      customer_id:
                        type: string
                      customer_shopify_email:
                        type: string
                      customer_shopify_phone:
                        type: string
                      last_message_datetime:
                        type: string
                      last_order_id:
                        type: string
                      shopify_customer_id:
                        type: string
                      ticket_assignee_email:
                        type: string
                      ticket_assignee_name:
                        type: string
                      ticket_channel:
                        type: string
                      ticket_created_datetime:
                        type: string
                      ticket_id:
                        type: string
                      ticket_message_first:
                        type: string
                      ticket_message_last:
                        type: string
                      ticket_subject:
                        type: string
                      ticket_updated_datetime:
                        type: string
                  public:
                    type: string
                  sentiments:
                    type: array
                    items:
                      type: object
                      properties:
                        sentiment_name:
                          type: string
                        sentiment_score:
                          type: string
                  snoozeTill:
                    type: string
                  strippedBody:
                    type: string
                  strippedBodyHtml:
                    type: string
                  ticket:
                    type: object
                    properties:
                      account:
                        type: object
                        properties:
                          domain:
                            type: string
                      channel:
                        type: string
                      created_datetime:
                        type: string
                      customer:
                        type: object
                        properties:
                          email:
                            type: string
                          firstname:
                            type: string
                          id:
                            type: string
                          integrations:
                            type: string
                          lastname:
                            type: string
                          name:
                            type: string
                      id:
                        type: string
                      messages:
                        type: string
                      spam:
                        type: string
                      subject:
                        type: string
                      tags:
                        type: string
                  ticketId:
                    type: string
                  ticketStatus:
                    type: string
                  trigger:
                    type: string
          id:
            type:
              - number
              - "null"
          method:
            type:
              - string
              - "null"
          request_content_type:
            type:
              - string
              - "null"
          response_content_type:
            type:
              - string
              - "null"
          triggers:
            type:
              - object
              - "null"
            properties:
              ticket-created:
                type:
                  - boolean
                  - "null"
              ticket-message-created:
                type:
                  - boolean
                  - "null"
              ticket-self-unsnoozed:
                type:
                  - boolean
                  - "null"
              ticket-updated:
                type:
                  - boolean
                  - "null"
          url:
            type:
              - string
              - "null"
      id:
        type: number
      managed:
        type:
          - boolean
          - "null"
      meta:
        type:
          - object
          - "null"
        properties:
          about:
            type:
              - string
              - "null"
          address:
            type:
              - string
              - "null"
          app_id:
            type:
              - string
              - "null"
          can_be_onboarded:
            type:
              - boolean
              - "null"
          category:
            type:
              - string
              - "null"
          currency:
            type:
              - string
              - "null"
          default_address_phone_matching_enabled:
            type:
              - boolean
              - "null"
          email_forwarding_activated:
            type:
              - boolean
              - "null"
          emoji:
            type:
              - string
              - "null"
          enable_gmail_sending:
            type:
              - boolean
              - "null"
          enable_gmail_threading:
            type:
              - boolean
              - "null"
          enable_outlook_sending:
            type:
              - boolean
              - "null"
          failures:
            type:
              - number
              - "null"
          history_sync:
            type:
              - object
              - "null"
            properties:
              is_synchronized:
                type:
                  - boolean
                  - "null"
              oldest_syncable:
                type:
                  - string
                  - "null"
              posts:
                type:
                  - object
                  - "null"
                properties:
                  is_synchronized:
                    type:
                      - boolean
                      - "null"
                  nb_of_tickets_created:
                    type:
                      - number
                      - "null"
                  oldest_time_synced:
                    type:
                      - string
                      - "null"
          import_activated:
            type:
              - boolean
              - "null"
          import_state:
            type:
              - object
              - "null"
            properties:
              customers:
                type:
                  - object
                  - "null"
                properties:
                  is_over:
                    type:
                      - boolean
                      - "null"
                  oldest_created_at:
                    type:
                      - string
                      - "null"
              enabled:
                type:
                  - boolean
                  - "null"
              is_over:
                type:
                  - boolean
                  - "null"
              products:
                type:
                  - object
                  - "null"
                properties:
                  is_over:
                    type:
                      - boolean
                      - "null"
                  oldest_created_at:
                    type:
                      - string
                      - "null"
          instagram:
            type:
              - object
              - "null"
            properties:
[...]
