version: 5.7.5

type: DeclarativeSource

description: testing whether this PR gets labeled

check:
  type: CheckStream
  stream_names:
    - public_credentials

definitions:
  streams:
    tasks:
      type: DeclarativeStream
      name: tasks
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: tasks/tasks
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tasks"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
    teams:
      type: DeclarativeStream
      name: teams
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: teams/teams
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            with_periods: "true"
            with_employee_ids: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    fields:
      type: DeclarativeStream
      name: fields
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: custom_fields/fields
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/fields"
    leaves:
      type: DeclarativeStream
      name: leaves
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: timeoff/leaves
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/leaves"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
    shifts:
      type: DeclarativeStream
      name: shifts
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: shift_management/shifts
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shifts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: end_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%d"
        end_time_option:
          type: RequestOption
          field_name: end_at
          inject_into: request_parameter
        start_time_option:
          type: RequestOption
          field_name: start_at
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
    policies:
      type: DeclarativeStream
      name: policies
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: timeoff/policies
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/policies"
    employees:
      type: DeclarativeStream
      name: employees
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: employees/employees
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/employees"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
    locations:
      type: DeclarativeStream
      name: locations
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: locations/locations
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/locations"
    schedules:
      type: DeclarativeStream
      name: schedules
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: work_schedule/schedules
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            with_periods: "true"
            with_employee_ids: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/schedules"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
    allowances:
      type: DeclarativeStream
      name: allowances
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: timeoff/allowances
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/allowances"
    categories:
      type: DeclarativeStream
      name: categories
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: trainings/categories
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/categories"
    taxonomies:
      type: DeclarativeStream
      name: taxonomies
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: contracts/taxonomies
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/taxonomies"
    work_areas:
      type: DeclarativeStream
      name: work_areas
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: locations/work_areas
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/work_areas"
    leave_types:
      type: DeclarativeStream
      name: leave_types
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: timeoff/leave_types
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/leave_types"
    memberships:
      type: DeclarativeStream
      name: memberships
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: teams/memberships
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            with_periods: "true"
            with_employee_ids: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/memberships"
    cost_centers:
      type: DeclarativeStream
      name: cost_centers
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: finance/cost_centers
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/cost_centers"
    fields_options:
      type: DeclarativeStream
      name: fields_options
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: custom_fields/options
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/fields_options"
    legal_entities:
      type: DeclarativeStream
      name: legal_entities
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: companies/legal_entities
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/legal_entities"
    blocked_periods:
      type: DeclarativeStream
      name: blocked_periods
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: timeoff/blocked_periods
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/blocked_periods"
    overlap_periods:
      type: DeclarativeStream
      name: overlap_periods
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: work_schedule/overlap_periods
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
          request_parameters:
            with_periods: "true"
            with_employee_ids: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/overlap_periods"
    company_holidays:
      type: DeclarativeStream
      name: company_holidays
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: holidays/company_holidays
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/company_holidays"
    contract_versions:
      type: DeclarativeStream
      name: contract_versions
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: contracts/contract_versions
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contract_versions"
    public_credentials:
      type: DeclarativeStream
      name: public_credentials
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: api_public/credentials
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/public_credentials"
    reference_contracts:
      type: DeclarativeStream
      name: reference_contracts
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: contracts/reference_contracts
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reference_contracts"
    break_configurations:
      type: DeclarativeStream
      name: break_configurations
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: time_settings/break_configurations
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/break_configurations"
    webhook_subscriptions:
      type: DeclarativeStream
      name: webhook_subscriptions
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: api_public/webhook_subscriptions
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/webhook_subscriptions"
    fields_resource_fields:
      type: DeclarativeStream
      name: fields_resource_fields
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 2
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: custom_fields/resource_fields
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/fields_resource_fields"
  base_requester:
    type: HttpRequester
    url_base: https://api.factorialhr.com/api/v2/resources/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: X-API-KEY
        inject_into: header

streams:
  - $ref: "#/definitions/streams/public_credentials"
  - $ref: "#/definitions/streams/webhook_subscriptions"
  - $ref: "#/definitions/streams/tasks"
  - $ref: "#/definitions/streams/schedules"
  - $ref: "#/definitions/streams/overlap_periods"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/memberships"
  - $ref: "#/definitions/streams/allowances"
  - $ref: "#/definitions/streams/blocked_periods"
  - $ref: "#/definitions/streams/leaves"
  - $ref: "#/definitions/streams/leave_types"
  - $ref: "#/definitions/streams/policies"
  - $ref: "#/definitions/streams/break_configurations"
  - $ref: "#/definitions/streams/categories"
  - $ref: "#/definitions/streams/legal_entities"
  - $ref: "#/definitions/streams/contract_versions"
  - $ref: "#/definitions/streams/reference_contracts"
  - $ref: "#/definitions/streams/taxonomies"
  - $ref: "#/definitions/streams/fields"
  - $ref: "#/definitions/streams/fields_options"
  - $ref: "#/definitions/streams/fields_resource_fields"
  - $ref: "#/definitions/streams/employees"
  - $ref: "#/definitions/streams/cost_centers"
  - $ref: "#/definitions/streams/company_holidays"
  - $ref: "#/definitions/streams/locations"
  - $ref: "#/definitions/streams/work_areas"
  - $ref: "#/definitions/streams/shifts"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      limit:
        type: string
        description: Max records per page limit
        order: 2
        title: Limit
        default: "50"
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      start_date:
        type: string
        order: 1
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    tasks:
      hasRecords: true
      streamHash: 9284400a6bf81e8a59ee4c21fea8dfb9e7bb57f8
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    teams:
      hasRecords: true
      streamHash: e63700f179a673a398c31f35f515b22317ef1d0a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    fields:
      hasRecords: true
      streamHash: b6fe8faebd8576137243d46b64c24b0388409968
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    leaves:
      hasRecords: true
      streamHash: 3372e7cbba5fa7adf20c8c97332d88c7b0d7167c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    shifts:
      hasRecords: true
      streamHash: d323a0649c18358921e3aa3dd2088df6396f522b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    policies:
      hasRecords: true
      streamHash: bb51ee8cc3874ff34691d4568e6ea1a5bd429af7
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    employees:
      hasRecords: true
      streamHash: 7f56400daecd177d103c307963bcd8265326030e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    locations:
      hasRecords: true
      streamHash: a68c40c003c127719f459095a94ba4742e0e1828
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    schedules:
      hasRecords: true
      streamHash: 241e11887bd489d0ee96ba611fd8583d47a062eb
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    allowances:
      hasRecords: true
      streamHash: a3d8487e6197b8b1c943594c94ff7157b1d52ece
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    categories:
      hasRecords: true
      streamHash: aaaec55be695fb4a4970e13fae67dcd8823bfd23
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    taxonomies:
      hasRecords: true
      streamHash: 18b20828ea7ad444530a7de8f601ba68943ab0da
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    work_areas:
      hasRecords: true
      streamHash: 8cdf723f6bbb4698b7b02a9f4ecc5427e2ee95ee
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    leave_types:
      hasRecords: true
      streamHash: 1c362b45ded5bdc3984860ba0a1451682625b809
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    memberships:
      hasRecords: true
      streamHash: ab6c68db56af25ea78334c6414ccfec3901eed6f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    cost_centers:
      hasRecords: true
      streamHash: a3756272963e7f25b219c9a6ab13119b303e08c8
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    fields_options:
      hasRecords: true
      streamHash: 9959db46f955fe4bbe8b299b76da394525c9f76c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    legal_entities:
      hasRecords: true
      streamHash: ab77163e377a090348aca07083aa17a3678bafa4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    blocked_periods:
      hasRecords: true
      streamHash: def81c99d242aba355381dc5c5fedbbb2934fce1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    overlap_periods:
      hasRecords: true
      streamHash: d99864e538f022aabfe7cf5fecc2a2b705ea10e4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    company_holidays:
      hasRecords: true
      streamHash: 9107a136d4eb099caff057c5644dd0cf6dad18c1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    contract_versions:
      hasRecords: true
      streamHash: 4d0ac5ab458d853f600f7efd7e1e13972b654d37
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    public_credentials:
      hasRecords: true
      streamHash: a23b2f993d35cf3757f6e0b9b864b69e50151248
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    reference_contracts:
      hasRecords: true
      streamHash: de04646353f866d15df49a10716f33e6bf9d85d1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    break_configurations:
      hasRecords: true
      streamHash: 7245c0cdaf555566e9ab2cd652719e25c01fd0e1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    webhook_subscriptions:
      hasRecords: true
      streamHash: e41377e7a133c294bbb09a2b5bd73d2ce2d764d9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    fields_resource_fields:
      hasRecords: true
      streamHash: 218f805e6b302d1fb78e9847cbd82d1a15ab27d6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    tasks: true
    teams: true
    fields: true
    leaves: true
    shifts: true
    policies: true
    employees: true
    locations: true
    schedules: true
    allowances: true
    categories: true
    taxonomies: true
    work_areas: true
    leave_types: true
    memberships: true
    cost_centers: true
    fields_options: true
    legal_entities: true
    blocked_periods: true
    overlap_periods: true
    company_holidays: true
    contract_versions: true
    public_credentials: true
    reference_contracts: true
    break_configurations: true
    webhook_subscriptions: true
    fields_resource_fields: true

schemas:
  tasks:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - updated_at
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
      due_on:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      content:
        type:
          - string
          - "null"
      company_id:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      updated_at:
        type: string
      assignee_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      author_employee_id:
        type:
          - number
          - "null"
    additionalProperties: true
  teams:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      description:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      lead_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      company_id:
        type:
          - number
          - "null"
      employee_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
    additionalProperties: true
  fields:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      slug:
        type:
          - string
          - "null"
      options:
        type:
          - array
          - "null"
      field_type:
        type:
          - string
          - "null"
      label_text:
        type:
          - string
          - "null"
      legal_entity_name:
        type:
          - string
          - "null"
    additionalProperties: true
  leaves:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - updated_at
    properties:
      description:
        type:
          - string
          - "null"
      id:
        type: number
      approved:
        type:
          - boolean
          - "null"
      start_on:
        type:
          - string
          - "null"
      finish_on:
        type:
          - string
          - "null"
      company_id:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      updated_at:
        type: string
      employee_id:
        type:
          - number
          - "null"
      leave_type_id:
        type:
          - number
          - "null"
      employee_full_name:
        type:
          - string
          - "null"
    additionalProperties: true
  shifts:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - end_at
    properties:
      id:
        type: number
      notes:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      end_at:
        type: string
      start_at:
        type:
          - string
          - "null"
      timezone:
        type:
          - string
          - "null"
      employee_id:
        type:
          - number
          - "null"
      local_end_at:
        type:
          - string
          - "null"
      local_start_at:
        type:
          - string
          - "null"
    additionalProperties: true
  policies:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      main:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      company_id:
        type:
          - number
          - "null"
    additionalProperties: true
  employees:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - updated_at
    properties:
      id:
        type: number
      email:
        type:
          - string
          - "null"
      active:
        type:
          - boolean
          - "null"
      access_id:
        type:
          - number
          - "null"
      full_name:
        type:
          - string
          - "null"
      last_name:
        type:
          - string
          - "null"
      company_id:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      first_name:
        type:
          - string
          - "null"
      manager_id:
        type:
          - number
          - "null"
      updated_at:
        type: string
      login_email:
        type:
          - string
          - "null"
      is_terminating:
        type:
          - boolean
          - "null"
      legal_entity_id:
        type:
          - number
          - "null"
      timeoff_manager_id:
        type:
          - number
          - "null"
    additionalProperties: true
  locations:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      main:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      timezone:
        type:
          - string
          - "null"
      company_id:
        type:
          - number
          - "null"
      phone_number:
        type:
          - string
          - "null"
    additionalProperties: true
  schedules:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - updated_at
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
      periods:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            default:
              type:
                - boolean
                - "null"
            end_day:
              type:
                - number
                - "null"
            end_date:
              type:
                - string
                - "null"
            end_month:
              type:
                - number
                - "null"
            start_day:
              type:
                - number
                - "null"
            start_date:
              type:
                - string
                - "null"
            schedule_id:
              type:
                - number
                - "null"
            start_month:
              type:
                - number
                - "null"
            schedule_type:
              type:
                - string
                - "null"
      employees:
        type:
          - array
          - "null"
      company_id:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      updated_at:
        type: string
    additionalProperties: true
  allowances:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
      rounding:
        type:
          - string
          - "null"
      days_type:
        type:
          - string
          - "null"
      frequency:
        type:
          - string
          - "null"
      cycle_start:
        type:
          - string
          - "null"
      cycle_length:
        type:
          - number
          - "null"
      source_units:
        type:
          - string
          - "null"
      timeoff_cycle:
        type:
          - string
          - "null"
      allowance_type:
        type:
          - string
          - "null"
      available_days:
        type:
          - string
          - "null"
      leave_type_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      proration_type:
        type:
          - string
          - "null"
      tenure_periods:
        type:
          - array
          - "null"
      carry_over_days:
        type:
          - number
          - "null"
      expire_in_months:
        type:
          - number
          - "null"
      send_notification:
        type:
          - boolean
          - "null"
      timeoff_policy_id:
        type:
          - number
          - "null"
      unlimited_holidays:
        type:
          - boolean
          - "null"
      pto_proratio_enabled:
        type:
          - boolean
          - "null"
      unlimited_carry_over:
        type:
          - boolean
          - "null"
      negative_counter_type:
        type:
          - string
          - "null"
      tenure_periods_enabled:
        type:
          - boolean
          - "null"
      unlimited_accrued_hours:
        type:
          - boolean
          - "null"
      tenure_period_transition:
        type:
          - string
          - "null"
      carry_over_units_in_cents:
        type:
          - number
          - "null"
      count_holiday_as_workable:
        type:
          - boolean
          - "null"
      accrued_units_availability:
        type:
          - string
          - "null"
      holiday_allowance_in_cents:
        type:
          - number
          - "null"
      unlimited_carry_over_expiration:
        type:
          - boolean
          - "null"
    additionalProperties: true
  categories:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
      company_id:
        type:
          - number
          - "null"
    additionalProperties: true
  taxonomies:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
      default:
        type:
          - boolean
          - "null"
      archived:
        type:
          - boolean
          - "null"
      is_overtime:
        type:
          - boolean
          - "null"
      legal_entity_id:
        type:
          - number
          - "null"
    additionalProperties: true
  work_areas:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
      location_id:
        type:
          - number
          - "null"
    additionalProperties: true
  leave_types:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
      color:
        type:
          - string
          - "null"
      active:
        type:
          - boolean
          - "null"
      accrues:
        type:
          - boolean
          - "null"
      editable:
        type:
          - boolean
          - "null"
      workable:
        type:
          - boolean
          - "null"
      attachment:
        type:
          - boolean
          - "null"
      company_id:
        type:
          - number
          - "null"
      identifier:
        type:
          - string
          - "null"
      restricted:
        type:
          - boolean
          - "null"
      visibility:
        type:
          - boolean
          - "null"
      allow_endless:
        type:
          - boolean
          - "null"
      allowance_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      translated_name:
        type:
          - string
          - "null"
      details_required:
        type:
          - boolean
          - "null"
      approval_required:
        type:
          - boolean
          - "null"
      half_days_units_enabled:
        type:
          - boolean
          - "null"
      is_attachment_mandatory:
        type:
          - boolean
          - "null"
    additionalProperties: true
  memberships:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      lead:
        type:
          - boolean
          - "null"
      team_id:
        type:
          - number
          - "null"
      company_id:
        type:
          - number
          - "null"
      employee_id:
        type:
          - number
          - "null"
    additionalProperties: true
  cost_centers:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      company_id:
        type:
          - number
          - "null"
      active_employees_count:
        type:
          - number
          - "null"
      historical_employees_count:
        type:
          - number
          - "null"
    additionalProperties: true
  fields_options:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      label:
        type:
          - string
          - "null"
      field_id:
        type:
          - number
          - "null"
      is_active:
        type:
          - boolean
          - "null"
    additionalProperties: true
  legal_entities:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      country:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      company_id:
        type:
          - number
          - "null"
      legal_name:
        type:
          - string
          - "null"
    additionalProperties: true
  blocked_periods:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
      members:
        type:
          - array
          - "null"
      strategy:
        type:
          - string
          - "null"
      company_id:
        type:
          - number
          - "null"
      time_periods:
        type:
          - array
          - "null"
      leave_type_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
    additionalProperties: true
  overlap_periods:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      default:
        type:
          - boolean
          - "null"
      end_day:
        type:
          - number
          - "null"
      end_date:
        type:
          - string
          - "null"
      end_month:
        type:
          - number
          - "null"
      start_day:
        type:
          - number
          - "null"
      start_date:
        type:
          - string
          - "null"
      schedule_id:
        type:
          - number
          - "null"
      start_month:
        type:
          - number
          - "null"
      schedule_type:
        type:
          - string
          - "null"
    additionalProperties: true
  company_holidays:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      date:
        type:
          - string
          - "null"
      summary:
        type:
          - string
          - "null"
      location_id:
        type:
          - number
          - "null"
    additionalProperties: true
  contract_versions:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      starts_on:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      employee_id:
        type:
          - number
          - "null"
      has_payroll:
        type:
          - boolean
          - "null"
      effective_on:
        type:
          - string
          - "null"
      fr_forfait_jours:
        type:
          - boolean
          - "null"
      has_trial_period:
        type:
          - boolean
          - "null"
      es_has_teleworking_contract:
        type:
          - boolean
          - "null"
    additionalProperties: true
  public_credentials:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: string
      tos:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      locale:
        type:
          - string
          - "null"
      gdpr_tos:
        type:
          - boolean
          - "null"
      company_id:
        type:
          - number
          - "null"
      legal_name:
        type:
          - string
          - "null"
      subscription_plan:
        type:
          - string
          - "null"
    additionalProperties: true
  reference_contracts:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      starts_on:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      employee_id:
        type:
          - number
          - "null"
      has_payroll:
        type:
          - boolean
          - "null"
      effective_on:
        type:
          - string
          - "null"
      fr_forfait_jours:
        type:
          - boolean
          - "null"
      has_trial_period:
        type:
          - boolean
          - "null"
      es_has_teleworking_contract:
        type:
          - boolean
          - "null"
    additionalProperties: true
  break_configurations:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
      paid:
        type:
          - boolean
          - "null"
      archived:
        type:
          - boolean
          - "null"
    additionalProperties: true
  webhook_subscriptions:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      enabled:
        type:
          - boolean
          - "null"
      company_id:
        type:
          - number
          - "null"
      target_url:
        type:
          - string
          - "null"
      api_version:
        type:
          - string
          - "null"
    additionalProperties: true
  fields_resource_fields:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      field_id:
        type:
          - number
          - "null"
    additionalProperties: true
