version: 4.3.2
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
  - forms
definitions:
  items_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
      - items
  no_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractorF
  token_auth:
    type: BearerAuthenticator
    api_token: "{{ config['credentials']['access_token'] }}"
  oauth2:
    type: OAuthAuthenticator
    token_refresh_endpoint: https://api.typeform.com/oauth/token
    client_id: "{{ config['credentials']['client_id'] }}"
    client_secret: "{{ config['credentials']['client_secret'] }}"
    refresh_token: "{{ config['credentials']['refresh_token'] }}"
    refresh_token_updater: {}
  requester:
    type: HttpRequester
    url_base: https://api.typeform.com/
    http_method: GET
    request_parameters: {}
    request_headers: {}
    error_handler:
      type: CompositeErrorHandler
      error_handlers:
      - type: DefaultErrorHandler
        response_filters:
        - http_codes:
          - 499
          action: FAIL
          error_message: "Could not complete the stream: Source Typeform has been
            waiting for too long for a response from Typeform API. Please try again
            later."
    authenticator:
      class_name: source_declarative_manifest.components.TypeformAuthenticator
      token_auth:
        type: BearerAuthenticator
        api_token: "{{ config['credentials']['access_token'] }}"
      oauth2:
        type: OAuthAuthenticator
        token_refresh_endpoint: https://api.typeform.com/oauth/token
        client_id: "{{ config['credentials']['client_id'] }}"
        client_secret: "{{ config['credentials']['client_secret'] }}"
        refresh_token: "{{ config['credentials']['refresh_token'] }}"
        refresh_token_updater: {}
    request_body_json: {}
  paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: page
    page_size_option:
      type: RequestOption
      field_name: page_size
      inject_into: request_parameter
    pagination_strategy:
      type: PageIncrement
      page_size: 200
      start_from_page: 1
  paginated_stream:
    type: DeclarativeStream
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.typeform.com/
        http_method: GET
        request_parameters: {}
        request_headers: {}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
          - type: DefaultErrorHandler
            response_filters:
            - http_codes:
              - 499
              action: FAIL
              error_message: "Could not complete the stream: Source Typeform has been
                waiting for too long for a response from Typeform API. Please try
                again later."
        authenticator:
          class_name: source_declarative_manifest.components.TypeformAuthenticator
          token_auth:
            type: BearerAuthenticator
            api_token: "{{ config['credentials']['access_token'] }}"
          oauth2:
            type: OAuthAuthenticator
            token_refresh_endpoint: https://api.typeform.com/oauth/token
            client_id: "{{ config['credentials']['client_id'] }}"
            client_secret: "{{ config['credentials']['client_secret'] }}"
            refresh_token: "{{ config['credentials']['refresh_token'] }}"
            refresh_token_updater: {}
        request_body_json: {}
        path: "{{ parameters.path }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - items
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
  trim_forms_stream:
    type: DeclarativeStream
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.typeform.com/
        http_method: GET
        request_parameters: {}
        request_headers: {}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
          - type: DefaultErrorHandler
            response_filters:
            - http_codes:
              - 499
              action: FAIL
              error_message: "Could not complete the stream: Source Typeform has been
                waiting for too long for a response from Typeform API. Please try
                again later."
        authenticator:
          class_name: source_declarative_manifest.components.TypeformAuthenticator
          token_auth:
            type: BearerAuthenticator
            api_token: "{{ config['credentials']['access_token'] }}"
          oauth2:
            type: OAuthAuthenticator
            token_refresh_endpoint: https://api.typeform.com/oauth/token
            client_id: "{{ config['credentials']['client_id'] }}"
            client_secret: "{{ config['credentials']['client_secret'] }}"
            refresh_token: "{{ config['credentials']['refresh_token'] }}"
            refresh_token_updater: {}
        request_body_json: {}
        path: "{{ parameters.path }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - items
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
    name: trim_forms
  form_id_partition_router:
  - type: CustomPartitionRouter
    class_name: source_declarative_manifest.components.FormIdPartitionRouter
    parent_stream_configs:
    - type: ParentStreamConfig
      parent_key: id
      partition_field: form_id
      stream:
        type: DeclarativeStream
        primary_key: id
        retriever:
          type: SimpleRetriever
          requester:
            type: HttpRequester
            url_base: https://api.typeform.com/
            http_method: GET
            request_parameters: {}
            request_headers: {}
            error_handler:
              type: CompositeErrorHandler
              error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                - http_codes:
                  - 499
                  action: FAIL
                  error_message: "Could not complete the stream: Source Typeform has
                    been waiting for too long for a response from Typeform API. Please
                    try again later."
            authenticator:
              class_name: source_declarative_manifest.components.TypeformAuthenticator
              token_auth:
                type: BearerAuthenticator
                api_token: "{{ config['credentials']['access_token'] }}"
              oauth2:
                type: OAuthAuthenticator
                token_refresh_endpoint: https://api.typeform.com/oauth/token
                client_id: "{{ config['credentials']['client_id'] }}"
                client_secret: "{{ config['credentials']['client_secret'] }}"
                refresh_token: "{{ config['credentials']['refresh_token'] }}"
                refresh_token_updater: {}
            request_body_json: {}
            path: "{{ parameters.path }}"
          record_selector:
            type: RecordSelector
            extractor:
              type: DpathExtractor
              field_path:
              - items
          paginator:
            type: DefaultPaginator
            page_token_option:
              type: RequestOption
              inject_into: request_parameter
              field_name: page
            page_size_option:
              type: RequestOption
              field_name: page_size
              inject_into: request_parameter
            pagination_strategy:
              type: PageIncrement
              page_size: 200
              start_from_page: 1
        name: trim_forms
  forms_stream:
    type: DeclarativeStream
    name: forms
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.typeform.com/
        http_method: GET
        request_parameters: {}
        request_headers: {}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
          - type: DefaultErrorHandler
            response_filters:
            - http_codes:
              - 499
              action: FAIL
              error_message: "Could not complete the stream: Source Typeform has been
                waiting for too long for a response from Typeform API. Please try
                again later."
        authenticator:
          class_name: source_declarative_manifest.components.TypeformAuthenticator
          token_auth:
            type: BearerAuthenticator
            api_token: "{{ config['credentials']['access_token'] }}"
          oauth2:
            type: OAuthAuthenticator
            token_refresh_endpoint: https://api.typeform.com/oauth/token
            client_id: "{{ config['credentials']['client_id'] }}"
            client_secret: "{{ config['credentials']['client_secret'] }}"
            refresh_token: "{{ config['credentials']['refresh_token'] }}"
            refresh_token_updater: {}
        request_body_json: {}
        path: forms/{{ stream_partition.form_id }}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
      - type: CustomPartitionRouter
        class_name: source_declarative_manifest.components.FormIdPartitionRouter
        parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: id
          partition_field: form_id
          stream:
            type: DeclarativeStream
            primary_key: id
            retriever:
              type: SimpleRetriever
              requester:
                type: HttpRequester
                url_base: https://api.typeform.com/
                http_method: GET
                request_parameters: {}
                request_headers: {}
                error_handler:
                  type: CompositeErrorHandler
                  error_handlers:
                  - type: DefaultErrorHandler
                    response_filters:
                    - http_codes:
                      - 499
                      action: FAIL
                      error_message: "Could not complete the stream: Source Typeform
                        has been waiting for too long for a response from Typeform
                        API. Please try again later."
                authenticator:
                  class_name: source_declarative_manifest.components.TypeformAuthenticator
                  token_auth:
                    type: BearerAuthenticator
                    api_token: "{{ config['credentials']['access_token'] }}"
                  oauth2:
                    type: OAuthAuthenticator
                    token_refresh_endpoint: https://api.typeform.com/oauth/token
                    client_id: "{{ config['credentials']['client_id'] }}"
                    client_secret: "{{ config['credentials']['client_secret'] }}"
                    refresh_token: "{{ config['credentials']['refresh_token'] }}"
                    refresh_token_updater: {}
                request_body_json: {}
                path: "{{ parameters.path }}"
              record_selector:
                type: RecordSelector
                extractor:
                  type: DpathExtractor
                  field_path:
                  - items
              paginator:
                type: DefaultPaginator
                page_token_option:
                  type: RequestOption
                  inject_into: request_parameter
                  field_name: page
                page_size_option:
                  type: RequestOption
                  field_name: page_size
                  inject_into: request_parameter
                pagination_strategy:
                  type: PageIncrement
                  page_size: 200
                  start_from_page: 1
            name: trim_forms
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        properties:
          id:
            description: Unique identifier of the form
            type:
            - "null"
            - string
          type:
            description: Type of the form
            type:
            - "null"
            - string
          created_at:
            description: Date and time when the form was created
            type:
            - "null"
            - string
            format: date-time
          last_updated_at:
            description: Date and time when the form was last updated
            type:
            - "null"
            - string
            format: date-time
          published_at:
            description: Date and time when the form was published
            type:
            - "null"
            - string
            format: date-time
          title:
            description: Title of the form
            type:
            - "null"
            - string
          workspace:
            description: Workspace details where the form belongs.
            type:
            - "null"
            - object
            properties:
              href:
                description: URL of the workspace
                type:
                - "null"
                - string
          theme:
            description: Theme settings for the form.
            type:
            - "null"
            - object
            properties:
              href:
                description: URL of the theme
                type:
                - "null"
                - string
          settings:
            description: Settings and configurations for the form.
            type:
            - "null"
            - object
            properties:
              language:
                description: Language of the form
                type:
                - "null"
                - string
              progress_bar:
                description: Progress bar settings
                type:
                - "null"
                - string
              meta:
                description: Meta information including images and metadata.
                type:
                - "null"
                - object
                properties:
                  allow_indexing:
                    description: Flag indicating if indexing is allowed
                    type:
                    - "null"
                    - boolean
                  title:
                    description: Title of the form
                    type:
                    - "null"
                    - string
                  description:
                    description: Description of the form
                    type:
                    - "null"
                    - string
                  image:
                    description: Image settings for the form.
                    type:
                    - "null"
                    - object
                    properties:
                      href:
                        description: URL of the form image
                        type:
                        - "null"
                        - string
              hide_navigation:
                description: Flag indicating if navigation is hidden
                type:
                - "null"
                - boolean
              is_public:
                description: Flag indicating if the form is public
                type:
                - "null"
                - boolean
              is_trial:
                description: Flag indicating if the form is a trial version
                type:
                - "null"
                - boolean
              show_progress_bar:
                description: Flag indicating if progress bar is displayed
                type:
                - "null"
                - boolean
              show_typeform_branding:
                description: Flag indicating if Typeform branding is displayed
                type:
                - "null"
                - boolean
              are_uploads_public:
                description: Flag indicating if uploads are public
                type:
                - "null"
                - boolean
              show_time_to_complete:
                description: Flag indicating if time to complete is displayed
                type:
                - "null"
                - boolean
              redirect_after_submit_url:
                description: URL to redirect after form submission
                type:
                - "null"
                - string
              google_analytics:
                description: Google Analytics settings
                type:
                - "null"
                - string
              facebook_pixel:
                description: Facebook Pixel settings
                type:
                - "null"
                - string
              google_tag_manager:
                description: Google Tag Manager settings
                type:
                - "null"
                - string
              capabilities:
                description: Feature capabilities settings.
                type:
                - "null"
                - object
                properties:
                  e2e_encryption:
                    description: End-to-end encryption settings.
                    type:
                    - "null"
                    - object
                    properties:
                      enabled:
                        description: Flag indicating if end-to-end encryption is enabled
                        type:
                        - "null"
                        - boolean
                      modifiable:
                        description: Flag indicating if encryption is modifiable
                        type:
                        - "null"
                        - boolean
              notifications:
                description: Notification settings for respondent and self.
                type:
                - "null"
                - object
                properties:
                  self:
                    description: Notification settings for form owner.
                    type:
                    - "null"
                    - object
                    properties:
                      enabled:
                        description: Flag indicating if self notifications are enabled
                        type:
                        - "null"
                        - boolean
                      recipients:
                        description: Recipient list for self notifications
                        type:
                        - "null"
                        - array
                        items:
                          type:
                          - "null"
                          - string
                      subject:
                        description: Subject of self notifications
                        type:
                        - "null"
                        - string
                      message:
                        description: Message for self notifications
                        type:
                        - "null"
                        - string
                      reply_to:
                        description: Email address for self notifications
                        type:
                        - "null"
                        - string
                  respondent:
                    description: Notification settings for respondents.
                    type:
                    - "null"
                    - object
                    properties:
                      enabled:
                        description: Flag indicating if respondent notifications are
                          enabled
                        type:
                        - "null"
                        - boolean
                      recipients:
                        description: Recipient list for respondent notifications
                        type:
                        - "null"
                        - array
                        items:
                          type:
                          - "null"
                          - string
                      subject:
                        description: Subject of respondent notifications
                        type:
                        - "null"
                        - string
                      message:
                        description: Message for respondent notifications
                        type:
                        - "null"
                        - string
                      reply_to:
                        description: Email address for respondent replies
                        type:
                        - "null"
                        - string
              cui_settings:
                description: Settings for conversational UI.
                type:
                - "null"
                - object
                properties:
                  avatar:
                    description: Avatar settings
                    type:
                    - "null"
                    - string
                  is_typing_emulation_disabled:
                    description: Flag indicating if typing emulation is disabled
                    type:
                    - "null"
                    - boolean
                  typing_emulation_speed:
                    description: Speed of typing emulation
                    type:
                    - "null"
                    - string
          welcome_screens:
            description: Welcome screen configurations.
            type:
            - "null"
            - array
            items:
              type:
              - "null"
              - object
              properties:
                id:
                  description: Unique identifier of the welcome screen
                  type:
                  - "null"
                  - string
                ref:
                  description: Reference of the welcome screen
                  type:
                  - "null"
                  - string
                title:
                  description: Title of the welcome screen
                  type:
                  - "null"
                  - string
                properties:
                  description: Custom properties for the welcome screen.
                  type:
                  - "null"
                  - object
                  properties:
                    show_button:
                      description: Flag indicating if the button is displayed
                      type:
                      - "null"
                      - boolean
                    share_icons:
                      description: Icons for sharing the welcome screen
                      type:
                      - "null"
                      - boolean
                    button_mode:
                      description: Mode of the button
                      type:
                      - "null"
                      - string
                    button_text:
                      description: Text of the button
                      type:
                      - "null"
                      - string
                    redirect_url:
                      description: URL to redirect on button click
                      type:
                      - "null"
                      - string
                attachment:
                  description: Additional information or media on the welcome screen.
                  type:
                  - "null"
                  - object
                  properties:
                    type:
                      description: Type of the attachment
                      type:
                      - "null"
                      - string
                    placement:
                      description: Placement of the attachment
                      type:
                      - "null"
                      - string
                layout:
                  description: Layout settings for the welcome screen.
                  type:
                  - "null"
                  - object
                  properties:
                    type:
                      description: Type of the layout
                      type:
                      - "null"
                      - string
                    placement:
                      description: Placement of the welcome screen layout
                      type:
                      - "null"
                      - string
                    attachment:
                      description: Attachment details for the welcome screen layout.
                      type:
                      - "null"
                      - object
                      properties:
                        type:
                          description: Type of the attachment
                          type:
                          - "null"
                          - string
                        href:
                          description: URL of the attached file
                          type:
                          - "null"
                          - string
                        scale:
                          description: Scale of the attachment
                          type:
                          - "null"
                          - number
                    properties:
                      description: Custom properties for the layout.
                      type:
                      - "null"
                      - object
                      properties:
                        brightness:
                          description: Brightness settings of the welcome screen
                          type:
                          - "null"
                          - number
                        description:
                          description: Description of the welcome screen
                          type:
                          - "null"
                          - string
                        focal_point:
                          description: Focal point coordinates of the welcome screen
                          type:
                          - "null"
                          - object
                          properties:
                            x:
                              type:
                              - "null"
                              - number
                            y:
                              type:
                              - "null"
                              - number
          thankyou_screens:
            description: Thank you screen configurations.
            type:
            - "null"
            - array
            items:
              type:
              - "null"
              - object
              properties:
                id:
                  description: Unique identifier of the thank you screen
                  type:
                  - "null"
                  - string
                ref:
                  description: Reference of the thank you screen
                  type:
                  - "null"
                  - string
                title:
                  description: Title of the thank you screen
                  type:
                  - "null"
                  - string
                properties:
                  description: Custom properties for the thank you screen.
                  type:
                  - "null"
                  - object
                  properties:
                    show_button:
                      description: Flag indicating if the button is displayed
                      type:
                      - "null"
                      - boolean
                    share_icons:
                      description: Icons for sharing the thank you screen
                      type:
                      - "null"
                      - boolean
                    button_mode:
                      description: Mode of the button
                      type:
                      - "null"
                      - string
                    button_text:
                      description: Text of the button
                      type:
                      - "null"
                      - string
                    redirect_url:
                      description: URL to redirect on button click
                      type:
                      - "null"
                      - string
                attachment:
                  description: Additional information or media on the thank you screen.
                  type:
                  - "null"
                  - object
                  properties:
                    type:
                      description: Type of the attachment
                      type:
                      - "null"
                      - string
                    placement:
                      description: Placement of the attachment
                      type:
                      - "null"
                      - string
                layout:
                  description: Layout settings for the thank you screen.
                  type:
                  - "null"
                  - object
                  properties:
                    type:
                      description: Type of the layout
                      type:
                      - "null"
                      - string
                    placement:
                      description: Placement of the thank you screen layout
                      type:
                      - "null"
                      - string
                    attachment:
                      description: Attachment details for the thank you screen layout.
                      type:
                      - "null"
                      - object
                      properties:
                        type:
                          description: Type of the attachment
                          type:
                          - "null"
                          - string
                        href:
                          description: URL of the attached file
                          type:
                          - "null"
                          - string
                        scale:
                          description: Scale of the attachment
                          type:
                          - "null"
                          - number
                    properties:
                      description: Custom properties for the layout.
                      type:
                      - "null"
                      - object
                      properties:
                        brightness:
                          description: Brightness settings of the thank you screen
                          type:
                          - "null"
                          - number
                        description:
                          description: Description of the thank you screen
                          type:
                          - "null"
                          - string
                        focal_point:
                          description: Focal point coordinates of the thank you screen
                          type:
                          - "null"
                          - object
                          properties:
                            x:
                              type:
                              - "null"
                              - number
                            y:
                              type:
                              - "null"
                              - number
          logic:
            description: Logic rules or conditions applied to the form fields.
            type:
            - "null"
            - array
            items:
              type:
              - "null"
              - object
              properties:
                type:
                  description: Type of logic
                  type:
                  - "null"
                  - string
                ref:
                  description: Reference of the logic
                  type:
                  - "null"
                  - string
                actions:
                  description: Actions defined based on logic
                  type:
                  - "null"
                  - array
                  items:
                    type:
                    - "null"
                    - object
                    properties:
                      action:
                        description: Action to be taken
                        type:
                        - "null"
                        - string
                      details:
                        type:
                        - "null"
                        - object
                        properties:
                          to:
                            type:
                            - "null"
                            - object
                            properties:
                              type:
                                description: Type of activity
                                type:
                                - "null"
                                - string
                              value:
                                description: Value of the activity
                                type:
                                - "null"
                                - string
                          target:
                            type:
                            - "null"
                            - object
                            properties:
                              type:
                                description: Type of the target
                                type:
                                - "null"
                                - string
                              value:
                                description: Value of the target
                                type:
                                - "null"
                                - string
                          value:
                            type:
                            - "null"
                            - object
                            properties:
                              type:
                                description: Type of value
                                type:
                                - "null"
                                - string
                              value:
                                description: Value to be assigned
                                type:
                                - "null"
                                - string
                      condition:
                        type:
                        - "null"
                        - object
                        properties:
                          op:
                            description: Operation to be performed
                            type:
                            - "null"
                            - string
                          vars:
                            type:
                            - "null"
                            - array
                            items:
                              type:
                              - "null"
                              - object
                              properties:
                                type:
                                  description: Type of the variable
                                  type:
                                  - "null"
                                  - string
                                value:
                                  description: Value of the variable
                                  type:
                                  - "null"
                                  - string
          fields:
            description: List of fields within the form.
            type:
            - "null"
            - array
            items:
              type:
              - "null"
              - object
              properties:
                id:
                  description: Unique identifier of the field
                  type:
                  - "null"
                  - string
                title:
                  description: Title of the field
                  type:
                  - "null"
                  - string
                ref:
                  description: Reference of the field
                  type:
                  - "null"
                  - string
                properties:
                  description: Custom properties for the field.
                  type:
                  - "null"
                  - object
                  properties:
                    randomize:
                      description: Flag indicating if choices should be randomized
                      type:
                      - "null"
                      - boolean
                    allow_multiple_selection:
                      description: Flag indicating if multiple selections are allowed
                      type:
                      - "null"
                      - boolean
                    allow_other_choice:
                      description: Flag indicating if an 'Other' choice is allowed
                      type:
                      - "null"
                      - boolean
                    vertical_alignment:
                      description: Vertical alignment of the choices
                      type:
                      - "null"
                      - boolean
                    choices:
                      description: List of choices available for selection
                      type:
                      - "null"
                      - array
                      items:
                        type:
                        - "null"
                        - object
                        properties:
                          id:
                            description: Unique identifier of the choice
                            type:
                            - "null"
                            - string
                          ref:
                            description: Reference to the choice
                            type:
                            - "null"
                            - string
                          label:
                            description: Label of the choice
                            type:
                            - "null"
                            - string
                validations:
                  description: Validation rules for the field.
                  type:
                  - "null"
                  - object
                  properties:
                    required:
                      description: Flag indicating if the field is required
                      type:
                      - "null"
                      - boolean
                type:
                  description: Type of the field
                  type:
                  - "null"
                  - string
                attachment:
                  description: Additional information or media attached to the field.
                  type:
                  - "null"
                  - object
                  properties:
                    type:
                      description: Type of the attachment
                      type:
                      - "null"
                      - string
                    href:
                      description: URL of the attached file
                      type:
                      - "null"
                      - string
                layout:
                  description: Defines the visual layout of the field.
                  type:
                  - "null"
                  - object
                  properties:
                    type:
                      description: Type of the layout
                      type:
                      - "null"
                      - string
                    placement:
                      description: Placement of the field in the layout
                      type:
                      - "null"
                      - string
                    attachment:
                      description: Attachment details for the field layout.
                      type:
                      - "null"
                      - object
                      properties:
                        type:
                          description: Type of the attachment
                          type:
                          - "null"
                          - string
                        href:
                          description: URL of the attached file
                          type:
                          - "null"
                          - string
                        scale:
                          description: Scale of the attachment
                          type:
                          - "null"
                          - number
                    properties:
                      description: Custom properties for the layout.
                      type:
                      - "null"
                      - object
                      properties:
                        brightness:
                          description: Brightness settings of the field
                          type:
                          - "null"
                          - number
                        description:
                          description: Description of the field
                          type:
                          - "null"
                          - string
                        focal_point:
                          description: Focal point coordinates of the field
                          type:
                          - "null"
                          - object
                          properties:
                            x:
                              type:
                              - "null"
                              - number
                            y:
                              type:
                              - "null"
                              - number
          _links:
            description: Links to related resources.
            type:
            - "null"
            - object
            properties:
              display:
                description: Display information related to the form
                type:
                - "null"
                - string
        $schema: http://json-schema.org/draft-07/schema#
  responses_stream:
    type: DeclarativeStream
    name: responses
    primary_key: response_id
    retriever:
      type: SimpleRetriever
      ignore_stream_slicer_parameters_on_paginated_requests: true
      requester:
        type: HttpRequester
        url_base: https://api.typeform.com/
        http_method: GET
        request_parameters:
          sort: "{{'submitted_at,asc' if not next_page_token else '' }}"
        request_headers: {}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
          - type: DefaultErrorHandler
            response_filters:
            - http_codes:
              - 499
              action: FAIL
              error_message: "Could not complete the stream: Source Typeform has been
                waiting for too long for a response from Typeform API. Please try
                again later."
        authenticator:
          class_name: source_declarative_manifest.components.TypeformAuthenticator
          token_auth:
            type: BearerAuthenticator
            api_token: "{{ config['credentials']['access_token'] }}"
          oauth2:
            type: OAuthAuthenticator
            token_refresh_endpoint: https://api.typeform.com/oauth/token
            client_id: "{{ config['credentials']['client_id'] }}"
            client_secret: "{{ config['credentials']['client_secret'] }}"
            refresh_token: "{{ config['credentials']['refresh_token'] }}"
            refresh_token_updater: {}
        request_body_json: {}
        path: forms/{{ stream_partition.form_id }}/responses
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - items
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: after
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ last_record['token'] }}"
          stop_condition: "{{ not last_record }}"
          page_size: 1000
      partition_router:
      - type: CustomPartitionRouter
        class_name: source_declarative_manifest.components.FormIdPartitionRouter
        parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: id
          partition_field: form_id
          stream:
            type: DeclarativeStream
            primary_key: id
            retriever:
              type: SimpleRetriever
              requester:
                type: HttpRequester
                url_base: https://api.typeform.com/
                http_method: GET
                request_parameters: {}
                request_headers: {}
                error_handler:
                  type: CompositeErrorHandler
                  error_handlers:
                  - type: DefaultErrorHandler
                    response_filters:
                    - http_codes:
                      - 499
                      action: FAIL
                      error_message: "Could not complete the stream: Source Typeform
                        has been waiting for too long for a response from Typeform
                        API. Please try again later."
                authenticator:
                  class_name: source_declarative_manifest.components.TypeformAuthenticator
                  token_auth:
                    type: BearerAuthenticator
                    api_token: "{{ config['credentials']['access_token'] }}"
                  oauth2:
                    type: OAuthAuthenticator
                    token_refresh_endpoint: https://api.typeform.com/oauth/token
                    client_id: "{{ config['credentials']['client_id'] }}"
                    client_secret: "{{ config['credentials']['client_secret'] }}"
                    refresh_token: "{{ config['credentials']['refresh_token'] }}"
                    refresh_token_updater: {}
                request_body_json: {}
                path: "{{ parameters.path }}"
              record_selector:
                type: RecordSelector
                extractor:
                  type: DpathExtractor
                  field_path:
                  - items
              paginator:
                type: DefaultPaginator
                page_token_option:
                  type: RequestOption
                  inject_into: request_parameter
                  field_name: page
                page_size_option:
                  type: RequestOption
                  field_name: page_size
                  inject_into: request_parameter
                pagination_strategy:
                  type: PageIncrement
                  page_size: 200
                  start_from_page: 1
            name: trim_forms
    transformations:
    - type: AddFields
      fields:
      - path:
        - form_id
        value: "{{ stream_partition.form_id }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: submitted_at
      cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ format_datetime((config.start_date if config.start_date else
          now_utc() - duration('P1Y')), '%Y-%m-%dT%H:%M:%SZ') }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        properties:
          response_id:
            description: ID of the response
            type:
            - "null"
            - string
          response_type:
            description: Type of the response
            type:
            - "null"
            - string
          landed_at:
            description: Timestamp when the respondent landed on the form
            type:
            - "null"
            - string
          landing_id:
            description: ID of the landing page
            type:
            - "null"
            - string
          submitted_at:
            description: Timestamp when the response was submitted
            type:
            - "null"
            - string
          token:
            description: Token associated with the response
            type:
            - "null"
            - string
          form_id:
            description: ID of the form
            type:
            - "null"
            - string
          metadata:
            description: Metadata related to the response
            type:
            - "null"
            - object
            properties:
              user_agent:
                description: User agent information
                type:
                - "null"
                - string
              platform:
                description: Platform information
                type:
                - "null"
                - string
              referer:
                description: Referer information
                type:
                - "null"
                - string
              network_id:
                description: Network ID
                type:
                - "null"
                - string
          variables:
            description: Variables associated with the response
            type:
            - "null"
            - array
            items:
              type:
              - "null"
              - object
              properties:
                key:
                  description: Variable key
                  type:
                  - "null"
                  - string
                type:
                  description: Type of the variable
                  type:
                  - "null"
                  - string
                text:
                  description: Textual variable
                  type:
                  - "null"
                  - string
                number:
                  description: Numeric variable
                  type:
                  - "null"
                  - number
          hidden:
            description: Hidden status of the response
            type:
            - "null"
            - object
          calculated:
            description: Calculated data related to the response
            type:
            - "null"
            - object
            properties:
              score:
                description: Calculated score
                type:
                - "null"
                - integer
          answers:
            description: Response data for each question in the form
            type:
            - "null"
            - array
            items:
              type:
              - "null"
              - object
              properties:
                field:
                  description: Details about the form field
                  type:
                  - "null"
                  - object
                  properties:
                    id:
                      description: ID of the form field
                      type:
                      - "null"
                      - string
                    ref:
                      description: Reference to the form field
                      type:
                      - "null"
                      - string
                    type:
                      description: Type of the form field
                      type:
                      - "null"
                      - string
                type:
                  description: Type of response
                  type:
                  - "null"
                  - string
                text:
                  description: Textual answer
                  type:
                  - "null"
                  - string
                choice:
                  description: Single choice answer
                  type:
                  - "null"
                  - object
                  properties:
                    id:
                      description: ID of the chosen option
                      type:
                      - "null"
                      - string
                    label:
                      description: Label of the chosen option
                      type:
                      - "null"
                      - string
                choices:
                  description: Multi-choice answer
                  type:
                  - "null"
                  - object
                  properties:
                    ids:
                      description: IDs of the chosen options
                      type:
                      - "null"
                      - array
                      items:
                        type:
                        - "null"
                        - string
                    labels:
                      description: Labels of the chosen options
                      type:
                      - "null"
                      - array
                      items:
                        type:
                        - "null"
                        - string
                number:
                  description: Numeric answer
                  type:
                  - "null"
                  - number
                date:
                  description: Date and time answer
                  type:
                  - "null"
                  - string
                  format: date-time
                email:
                  description: Email answer
                  type:
                  - "null"
                  - string
                phone_number:
                  description: Phone number answer
                  type:
                  - "null"
                  - string
                boolean:
                  description: Boolean answer
                  type:
                  - "null"
                  - boolean
                file_url:
                  description: URL of the file uploaded
                  type:
                  - "null"
                  - string
                url:
                  description: URL answer
                  type:
                  - "null"
                  - string
                payment:
                  description: Payment details
                  type:
                  - "null"
                  - object
                  properties:
                    amount:
                      description: Amount paid
                      type:
                      - "null"
                      - string
                    last4:
                      description: Last 4 digits of the payment card
                      type:
                      - "null"
                      - string
                    name:
                      description: Name on the payment card
                      type:
                      - "null"
                      - string
                    success:
                      description: Payment success status
                      type:
                      - "null"
                      - boolean
        $schema: http://json-schema.org/draft-07/schema#
  webhooks_stream:
    type: DeclarativeStream
    name: webhooks
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.typeform.com/
        http_method: GET
        request_parameters: {}
        request_headers: {}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
          - type: DefaultErrorHandler
            response_filters:
            - http_codes:
              - 499
              action: FAIL
              error_message: "Could not complete the stream: Source Typeform has been
                waiting for too long for a response from Typeform API. Please try
                again later."
        authenticator:
          class_name: source_declarative_manifest.components.TypeformAuthenticator
          token_auth:
            type: BearerAuthenticator
            api_token: "{{ config['credentials']['access_token'] }}"
          oauth2:
            type: OAuthAuthenticator
            token_refresh_endpoint: https://api.typeform.com/oauth/token
            client_id: "{{ config['credentials']['client_id'] }}"
            client_secret: "{{ config['credentials']['client_secret'] }}"
            refresh_token: "{{ config['credentials']['refresh_token'] }}"
            refresh_token_updater: {}
        request_body_json: {}
        path: forms/{{ stream_partition.form_id }}/webhooks
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - items
      partition_router:
      - type: CustomPartitionRouter
        class_name: source_declarative_manifest.components.FormIdPartitionRouter
        parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: id
          partition_field: form_id
          stream:
            type: DeclarativeStream
            primary_key: id
            retriever:
              type: SimpleRetriever
              requester:
                type: HttpRequester
                url_base: https://api.typeform.com/
                http_method: GET
                request_parameters: {}
                request_headers: {}
                error_handler:
                  type: CompositeErrorHandler
                  error_handlers:
                  - type: DefaultErrorHandler
                    response_filters:
                    - http_codes:
                      - 499
                      action: FAIL
                      error_message: "Could not complete the stream: Source Typeform
                        has been waiting for too long for a response from Typeform
                        API. Please try again later."
                authenticator:
                  class_name: source_declarative_manifest.components.TypeformAuthenticator
                  token_auth:
                    type: BearerAuthenticator
                    api_token: "{{ config['credentials']['access_token'] }}"
                  oauth2:
                    type: OAuthAuthenticator
                    token_refresh_endpoint: https://api.typeform.com/oauth/token
                    client_id: "{{ config['credentials']['client_id'] }}"
                    client_secret: "{{ config['credentials']['client_secret'] }}"
                    refresh_token: "{{ config['credentials']['refresh_token'] }}"
                    refresh_token_updater: {}
                request_body_json: {}
                path: "{{ parameters.path }}"
              record_selector:
                type: RecordSelector
                extractor:
                  type: DpathExtractor
                  field_path:
                  - items
              paginator:
                type: DefaultPaginator
                page_token_option:
                  type: RequestOption
                  inject_into: request_parameter
                  field_name: page
                page_size_option:
                  type: RequestOption
                  field_name: page_size
                  inject_into: request_parameter
                pagination_strategy:
                  type: PageIncrement
                  page_size: 200
                  start_from_page: 1
            name: trim_forms
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        properties:
          created_at:
            description: The timestamp when the webhook was created
            type:
            - "null"
            - string
          enabled:
            description: Indicates if the webhook is currently enabled
            type:
            - "null"
            - boolean
          form_id:
            description: The unique identifier of the form associated with the webhook
            type:
            - "null"
            - string
          id:
            description: The unique identifier of the webhook
            type:
            - "null"
            - string
          tag:
            description: A tag to categorize or label the webhook
            type:
            - "null"
            - string
          updated_at:
            description: The timestamp when the webhook was last updated
            type:
            - "null"
            - string
          url:
            description: The URL where the webhook data is sent
            type:
            - "null"
            - string
          verify_ssl:
            description: Indicates whether SSL verification is enforced for the webhook
              URL
            type:
            - "null"
            - boolean
        $schema: http://json-schema.org/draft-07/schema#
  workspaces_stream:
    type: DeclarativeStream
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.typeform.com/
        http_method: GET
        request_parameters: {}
        request_headers: {}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
          - type: DefaultErrorHandler
            response_filters:
            - http_codes:
              - 499
              action: FAIL
              error_message: "Could not complete the stream: Source Typeform has been
                waiting for too long for a response from Typeform API. Please try
                again later."
        authenticator:
          class_name: source_declarative_manifest.components.TypeformAuthenticator
          token_auth:
            type: BearerAuthenticator
            api_token: "{{ config['credentials']['access_token'] }}"
          oauth2:
            type: OAuthAuthenticator
            token_refresh_endpoint: https://api.typeform.com/oauth/token
            client_id: "{{ config['credentials']['client_id'] }}"
            client_secret: "{{ config['credentials']['client_secret'] }}"
            refresh_token: "{{ config['credentials']['refresh_token'] }}"
            refresh_token_updater: {}
        request_body_json: {}
        path: "{{ parameters.path }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - items
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
    name: workspaces
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        properties:
          account_id:
            description: The unique identifier of the account associated with the
              workspace.
            type:
            - "null"
            - string
          default:
            description: Flag indicating if this workspace is set as the default workspace.
            type:
            - "null"
            - boolean
          forms:
            description: Contains information about forms within the workspace.
            type:
            - "null"
            - object
            properties:
              count:
                description: The total number of forms belonging to this workspace.
                type:
                - "null"
                - number
              href:
                description: The URL to retrieve the list of forms associated with
                  this workspace.
                type:
                - "null"
                - string
          id:
            description: The unique identifier of the workspace.
            type:
            - "null"
            - string
          name:
            description: The name of the workspace.
            type:
            - "null"
            - string
          self:
            description: Represents details about the workspace itself.
            type:
            - "null"
            - object
            properties:
              href:
                description: The URL to retrieve the details of this workspace.
                type:
                - "null"
                - string
          shared:
            description: Flag indicating if this workspace is shared with other users.
            type:
            - "null"
            - boolean
        $schema: http://json-schema.org/draft-07/schema#
  images_stream:
    type: DeclarativeStream
    name: images
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.typeform.com/
        http_method: GET
        request_parameters: {}
        request_headers: {}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
          - type: DefaultErrorHandler
            response_filters:
            - http_codes:
              - 499
              action: FAIL
              error_message: "Could not complete the stream: Source Typeform has been
                waiting for too long for a response from Typeform API. Please try
                again later."
        authenticator:
          class_name: source_declarative_manifest.components.TypeformAuthenticator
          token_auth:
            type: BearerAuthenticator
            api_token: "{{ config['credentials']['access_token'] }}"
          oauth2:
            type: OAuthAuthenticator
            token_refresh_endpoint: https://api.typeform.com/oauth/token
            client_id: "{{ config['credentials']['client_id'] }}"
            client_secret: "{{ config['credentials']['client_secret'] }}"
            refresh_token: "{{ config['credentials']['refresh_token'] }}"
            refresh_token_updater: {}
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        properties:
          file_name:
            description: The name of the image file.
            type:
            - "null"
            - string
          id:
            description: The unique identifier of the image.
            type:
            - "null"
            - string
          src:
            description: The URL or path to access the image file.
            type:
            - "null"
            - string
          width:
            description: The width of the image in pixels.
            type:
            - "null"
            - integer
          height:
            description: The height of the image in pixels.
            type:
            - "null"
            - integer
          media_type:
            description: The type of media file, e.g., image/jpeg, image/png, etc.
            type:
            - "null"
            - string
          avg_color:
            description: The average color of the image.
            type:
            - "null"
            - string
          has_alpha:
            description: Boolean indicating if the image has an alpha channel.
            type:
            - "null"
            - boolean
        $schema: http://json-schema.org/draft-07/schema#
  themes_stream:
    type: DeclarativeStream
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.typeform.com/
        http_method: GET
        request_parameters: {}
        request_headers: {}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
          - type: DefaultErrorHandler
            response_filters:
            - http_codes:
              - 499
              action: FAIL
              error_message: "Could not complete the stream: Source Typeform has been
                waiting for too long for a response from Typeform API. Please try
                again later."
        authenticator:
          class_name: source_declarative_manifest.components.TypeformAuthenticator
          token_auth:
            type: BearerAuthenticator
            api_token: "{{ config['credentials']['access_token'] }}"
          oauth2:
            type: OAuthAuthenticator
            token_refresh_endpoint: https://api.typeform.com/oauth/token
            client_id: "{{ config['credentials']['client_id'] }}"
            client_secret: "{{ config['credentials']['client_secret'] }}"
            refresh_token: "{{ config['credentials']['refresh_token'] }}"
            refresh_token_updater: {}
        request_body_json: {}
        path: "{{ parameters.path }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - items
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
    name: themes
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        properties:
          background:
            description: Settings for the background of the theme
            type:
            - "null"
            - object
            properties:
              brightness:
                description: The brightness level of the background
                type:
                - "null"
                - number
              href:
                description: The URL reference for the background image
                type:
                - "null"
                - string
              layout:
                description: The layout style of the background
                type:
                - "null"
                - string
          colors:
            description: Color settings for various elements in the theme
            type:
            - "null"
            - object
            properties:
              answer:
                description: Color of answer text
                type:
                - "null"
                - string
              background:
                description: Background color
                type:
                - "null"
                - string
              button:
                description: Color of buttons
                type:
                - "null"
                - string
              question:
                description: Color of question text
                type:
                - "null"
                - string
          fields:
            description: Settings for form fields
            type:
            - "null"
            - object
            properties:
              alignment:
                description: Alignment of form field elements
                type:
                - "null"
                - string
              font_size:
                description: Font size for form fields
                type:
                - "null"
                - string
          font:
            description: Font settings for the theme
            type:
            - "null"
            - string
          has_transparent_button:
            description: Indicates if the theme includes a transparent button
            type:
            - "null"
            - boolean
          id:
            description: Unique identifier for the theme
            type:
            - "null"
            - string
          name:
            description: Name of the theme
            type:
            - "null"
            - string
          rounded_corners:
            description: Indicates if the theme has rounded corners
            type:
            - "null"
            - string
          screens:
            description: Settings for screen display elements
            type:
            - "null"
            - object
            properties:
              alignment:
                description: Alignment of screen elements
                type:
                - "null"
                - string
              font_size:
                description: Font size for screen elements
                type:
                - "null"
                - string
          visibility:
            description: Visibility settings for the theme
            type:
            - "null"
            - string
          updated_at:
            description: Timestamp of when the theme was last updated
            type:
            - "null"
            - string
            format: date-time
          created_at:
            description: Timestamp of when the theme was created
            type:
            - "null"
            - string
            format: date-time
        $schema: http://json-schema.org/draft-07/schema#
streams:
- type: DeclarativeStream
  name: forms
  primary_key: id
  retriever:
    type: SimpleRetriever
    requester:
      type: HttpRequester
      url_base: https://api.typeform.com/
      http_method: GET
      request_parameters: {}
      request_headers: {}
      error_handler:
        type: CompositeErrorHandler
        error_handlers:
        - type: DefaultErrorHandler
          response_filters:
          - http_codes:
            - 499
            action: FAIL
            error_message: "Could not complete the stream: Source Typeform has been
              waiting for too long for a response from Typeform API. Please try again
              later."
            type: HttpResponseFilter
      authenticator:
        class_name: source_declarative_manifest.components.TypeformAuthenticator
        token_auth:
          type: BearerAuthenticator
          api_token: "{{ config['credentials']['access_token'] }}"
        oauth2:
          type: OAuthAuthenticator
          token_refresh_endpoint: https://api.typeform.com/oauth/token
          client_id: "{{ config['credentials']['client_id'] }}"
          client_secret: "{{ config['credentials']['client_secret'] }}"
          refresh_token: "{{ config['credentials']['refresh_token'] }}"
          refresh_token_updater: {}
        type: CustomAuthenticator
      request_body_json: {}
      path: forms/{{ stream_partition.form_id }}
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path: []
    partition_router:
    - type: CustomPartitionRouter
      class_name: source_declarative_manifest.components.FormIdPartitionRouter
      parent_stream_configs:
      - type: ParentStreamConfig
        parent_key: id
        partition_field: form_id
        stream:
          type: DeclarativeStream
          primary_key: id
          retriever:
            type: SimpleRetriever
            requester:
              type: HttpRequester
              url_base: https://api.typeform.com/
              http_method: GET
              request_parameters: {}
              request_headers: {}
              error_handler:
                type: CompositeErrorHandler
                error_handlers:
                - type: DefaultErrorHandler
                  response_filters:
                  - http_codes:
                    - 499
                    action: FAIL
                    error_message: "Could not complete the stream: Source Typeform
                      has been waiting for too long for a response from Typeform API.
                      Please try again later."
                    type: HttpResponseFilter
              authenticator:
                class_name: source_declarative_manifest.components.TypeformAuthenticator
                token_auth:
                  type: BearerAuthenticator
                  api_token: "{{ config['credentials']['access_token'] }}"
                oauth2:
                  type: OAuthAuthenticator
                  token_refresh_endpoint: https://api.typeform.com/oauth/token
                  client_id: "{{ config['credentials']['client_id'] }}"
                  client_secret: "{{ config['credentials']['client_secret'] }}"
                  refresh_token: "{{ config['credentials']['refresh_token'] }}"
                  refresh_token_updater: {}
                type: CustomAuthenticator
              request_body_json: {}
              path: "{{ parameters.path }}"
            record_selector:
              type: RecordSelector
              extractor:
                type: DpathExtractor
                field_path:
                - items
            paginator:
              type: DefaultPaginator
              page_token_option:
                type: RequestOption
                inject_into: request_parameter
                field_name: page
              page_size_option:
                type: RequestOption
                field_name: page_size
                inject_into: request_parameter
              pagination_strategy:
                type: PageIncrement
                page_size: 200
                start_from_page: 1
          name: trim_forms
  schema_loader:
    type: InlineSchemaLoader
    schema:
      type: object
      properties:
        id:
          description: Unique identifier of the form
          type:
          - "null"
          - string
        type:
          description: Type of the form
          type:
          - "null"
          - string
        created_at:
          description: Date and time when the form was created
          type:
          - "null"
          - string
          format: date-time
        last_updated_at:
          description: Date and time when the form was last updated
          type:
          - "null"
          - string
          format: date-time
        published_at:
          description: Date and time when the form was published
          type:
          - "null"
          - string
          format: date-time
        title:
          description: Title of the form
          type:
          - "null"
          - string
        workspace:
          description: Workspace details where the form belongs.
          type:
          - "null"
          - object
          properties:
            href:
              description: URL of the workspace
              type:
              - "null"
              - string
        theme:
          description: Theme settings for the form.
          type:
          - "null"
          - object
          properties:
            href:
              description: URL of the theme
              type:
              - "null"
              - string
        settings:
          description: Settings and configurations for the form.
          type:
          - "null"
          - object
          properties:
            language:
              description: Language of the form
              type:
              - "null"
              - string
            progress_bar:
              description: Progress bar settings
              type:
              - "null"
              - string
            meta:
              description: Meta information including images and metadata.
              type:
              - "null"
              - object
              properties:
                allow_indexing:
                  description: Flag indicating if indexing is allowed
                  type:
                  - "null"
                  - boolean
                title:
                  description: Title of the form
                  type:
                  - "null"
                  - string
                description:
                  description: Description of the form
                  type:
                  - "null"
                  - string
                image:
                  description: Image settings for the form.
                  type:
                  - "null"
                  - object
                  properties:
                    href:
                      description: URL of the form image
                      type:
                      - "null"
                      - string
            hide_navigation:
              description: Flag indicating if navigation is hidden
              type:
              - "null"
              - boolean
            is_public:
              description: Flag indicating if the form is public
              type:
              - "null"
              - boolean
            is_trial:
              description: Flag indicating if the form is a trial version
              type:
              - "null"
              - boolean
            show_progress_bar:
              description: Flag indicating if progress bar is displayed
              type:
              - "null"
              - boolean
            show_typeform_branding:
              description: Flag indicating if Typeform branding is displayed
              type:
              - "null"
              - boolean
            are_uploads_public:
              description: Flag indicating if uploads are public
              type:
              - "null"
              - boolean
            show_time_to_complete:
              description: Flag indicating if time to complete is displayed
              type:
              - "null"
              - boolean
            redirect_after_submit_url:
              description: URL to redirect after form submission
              type:
              - "null"
              - string
            google_analytics:
              description: Google Analytics settings
              type:
              - "null"
              - string
            facebook_pixel:
              description: Facebook Pixel settings
              type:
              - "null"
              - string
            google_tag_manager:
              description: Google Tag Manager settings
              type:
              - "null"
              - string
            capabilities:
              description: Feature capabilities settings.
              type:
              - "null"
              - object
              properties:
                e2e_encryption:
                  description: End-to-end encryption settings.
                  type:
                  - "null"
                  - object
                  properties:
                    enabled:
                      description: Flag indicating if end-to-end encryption is enabled
                      type:
                      - "null"
                      - boolean
                    modifiable:
                      description: Flag indicating if encryption is modifiable
                      type:
                      - "null"
                      - boolean
            notifications:
              description: Notification settings for respondent and self.
              type:
              - "null"
              - object
              properties:
                self:
                  description: Notification settings for form owner.
                  type:
                  - "null"
                  - object
                  properties:
                    enabled:
                      description: Flag indicating if self notifications are enabled
                      type:
                      - "null"
                      - boolean
                    recipients:
                      description: Recipient list for self notifications
                      type:
                      - "null"
                      - array
                      items:
                        type:
                        - "null"
                        - string
                    subject:
                      description: Subject of self notifications
                      type:
                      - "null"
                      - string
                    message:
                      description: Message for self notifications
                      type:
                      - "null"
                      - string
                    reply_to:
                      description: Email address for self notifications
                      type:
                      - "null"
                      - string
                respondent:
                  description: Notification settings for respondents.
                  type:
                  - "null"
                  - object
                  properties:
                    enabled:
                      description: Flag indicating if respondent notifications are
                        enabled
                      type:
                      - "null"
                      - boolean
                    recipients:
                      description: Recipient list for respondent notifications
                      type:
                      - "null"
                      - array
                      items:
                        type:
                        - "null"
                        - string
                    subject:
                      description: Subject of respondent notifications
                      type:
                      - "null"
                      - string
                    message:
                      description: Message for respondent notifications
                      type:
                      - "null"
                      - string
                    reply_to:
                      description: Email address for respondent replies
                      type:
                      - "null"
                      - string
            cui_settings:
              description: Settings for conversational UI.
              type:
              - "null"
              - object
              properties:
                avatar:
                  description: Avatar settings
                  type:
                  - "null"
                  - string
                is_typing_emulation_disabled:
                  description: Flag indicating if typing emulation is disabled
                  type:
                  - "null"
                  - boolean
                typing_emulation_speed:
                  description: Speed of typing emulation
                  type:
                  - "null"
                  - string
        welcome_screens:
          description: Welcome screen configurations.
          type:
          - "null"
          - array
          items:
            type:
            - "null"
            - object
            properties:
              id:
                description: Unique identifier of the welcome screen
                type:
                - "null"
                - string
              ref:
                description: Reference of the welcome screen
                type:
                - "null"
                - string
              title:
                description: Title of the welcome screen
                type:
                - "null"
                - string
              properties:
                description: Custom properties for the welcome screen.
                type:
                - "null"
                - object
                properties:
                  show_button:
                    description: Flag indicating if the button is displayed
                    type:
                    - "null"
                    - boolean
                  share_icons:
                    description: Icons for sharing the welcome screen
                    type:
                    - "null"
                    - boolean
                  button_mode:
                    description: Mode of the button
                    type:
                    - "null"
                    - string
                  button_text:
                    description: Text of the button
                    type:
                    - "null"
                    - string
                  redirect_url:
                    description: URL to redirect on button click
                    type:
                    - "null"
                    - string
              attachment:
                description: Additional information or media on the welcome screen.
                type:
                - "null"
                - object
                properties:
                  type:
                    description: Type of the attachment
                    type:
                    - "null"
                    - string
                  placement:
                    description: Placement of the attachment
                    type:
                    - "null"
                    - string
              layout:
                description: Layout settings for the welcome screen.
                type:
                - "null"
                - object
                properties:
                  type:
                    description: Type of the layout
                    type:
                    - "null"
                    - string
                  placement:
                    description: Placement of the welcome screen layout
                    type:
                    - "null"
                    - string
                  attachment:
                    description: Attachment details for the welcome screen layout.
                    type:
                    - "null"
                    - object
                    properties:
                      type:
                        description: Type of the attachment
                        type:
                        - "null"
                        - string
                      href:
                        description: URL of the attached file
                        type:
                        - "null"
                        - string
                      scale:
                        description: Scale of the attachment
                        type:
                        - "null"
                        - number
                  properties:
                    description: Custom properties for the layout.
                    type:
                    - "null"
                    - object
                    properties:
                      brightness:
                        description: Brightness settings of the welcome screen
                        type:
                        - "null"
                        - number
                      description:
                        description: Description of the welcome screen
                        type:
                        - "null"
                        - string
                      focal_point:
                        description: Focal point coordinates of the welcome screen
                        type:
                        - "null"
                        - object
                        properties:
                          x:
                            type:
                            - "null"
                            - number
                          y:
                            type:
                            - "null"
                            - number
        thankyou_screens:
          description: Thank you screen configurations.
          type:
          - "null"
          - array
          items:
            type:
            - "null"
            - object
            properties:
              id:
                description: Unique identifier of the thank you screen
                type:
                - "null"
                - string
              ref:
                description: Reference of the thank you screen
                type:
                - "null"
                - string
              title:
                description: Title of the thank you screen
                type:
                - "null"
                - string
              properties:
                description: Custom properties for the thank you screen.
                type:
                - "null"
                - object
                properties:
                  show_button:
                    description: Flag indicating if the button is displayed
                    type:
                    - "null"
                    - boolean
                  share_icons:
                    description: Icons for sharing the thank you screen
                    type:
                    - "null"
                    - boolean
                  button_mode:
                    description: Mode of the button
                    type:
                    - "null"
                    - string
                  button_text:
                    description: Text of the button
                    type:
                    - "null"
                    - string
                  redirect_url:
                    description: URL to redirect on button click
                    type:
                    - "null"
                    - string
              attachment:
                description: Additional information or media on the thank you screen.
                type:
                - "null"
                - object
                properties:
                  type:
                    description: Type of the attachment
                    type:
                    - "null"
                    - string
                  placement:
                    description: Placement of the attachment
                    type:
                    - "null"
                    - string
              layout:
                description: Layout settings for the thank you screen.
                type:
                - "null"
                - object
                properties:
                  type:
                    description: Type of the layout
                    type:
                    - "null"
                    - string
                  placement:
                    description: Placement of the thank you screen layout
                    type:
                    - "null"
                    - string
                  attachment:
                    description: Attachment details for the thank you screen layout.
                    type:
                    - "null"
                    - object
                    properties:
                      type:
                        description: Type of the attachment
                        type:
                        - "null"
                        - string
                      href:
                        description: URL of the attached file
                        type:
                        - "null"
                        - string
                      scale:
                        description: Scale of the attachment
                        type:
                        - "null"
                        - number
                  properties:
                    description: Custom properties for the layout.
                    type:
                    - "null"
                    - object
                    properties:
                      brightness:
                        description: Brightness settings of the thank you screen
                        type:
                        - "null"
                        - number
                      description:
                        description: Description of the thank you screen
                        type:
                        - "null"
                        - string
                      focal_point:
                        description: Focal point coordinates of the thank you screen
                        type:
                        - "null"
                        - object
                        properties:
                          x:
                            type:
                            - "null"
                            - number
                          y:
                            type:
                            - "null"
                            - number
        logic:
          description: Logic rules or conditions applied to the form fields.
          type:
          - "null"
          - array
          items:
            type:
            - "null"
            - object
            properties:
              type:
                description: Type of logic
                type:
                - "null"
                - string
              ref:
                description: Reference of the logic
                type:
                - "null"
                - string
              actions:
                description: Actions defined based on logic
                type:
                - "null"
                - array
                items:
                  type:
                  - "null"
                  - object
                  properties:
                    action:
                      description: Action to be taken
                      type:
                      - "null"
                      - string
                    details:
                      type:
                      - "null"
                      - object
                      properties:
                        to:
                          type:
                          - "null"
                          - object
                          properties:
                            type:
                              description: Type of activity
                              type:
                              - "null"
                              - string
                            value:
                              description: Value of the activity
                              type:
                              - "null"
                              - string
                        target:
                          type:
                          - "null"
                          - object
                          properties:
                            type:
                              description: Type of the target
[...]
