version: 5.12.0

type: DeclarativeSource

description: Airbyte connector for JustSift can help you sync data from the JustSift API

check:
  type: CheckStream
  stream_names:
    - peoples

definitions:
  streams:
    fields:
      type: DeclarativeStream
      name: fields
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('links', {}).get('next') }}"
            stop_condition: "{{ not response.get('links', {}).get('next') }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /fields/person
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/fields"
    peoples:
      type: DeclarativeStream
      name: peoples
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /search/people
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/peoples"
  base_requester:
    type: HttpRequester
    url_base: https://api.justsift.com/v1
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_token\"] }}"

streams:
  - $ref: "#/definitions/streams/peoples"
  - $ref: "#/definitions/streams/fields"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_token
    properties:
      api_token:
        type: string
        description: >-
          API token to use for accessing the Sift API. Obtain this token from
          your Sift account administrator.
        name: api_token
        order: 0
        title: API Token
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://developers.justsift.com/
  testedStreams:
    fields:
      hasRecords: true
      streamHash: 98b10d2b1a5de54e505d0b3230cc674ddd30c38e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    peoples:
      hasRecords: true
      streamHash: 19539b43d2bdc7c3ad22753d721b5875de9e9ada
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    fields: true
    peoples: true

schemas:
  fields:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type: string
      objectKey:
        type:
          - string
          - "null"
      filterable:
        type:
          - boolean
          - "null"
      searchable:
        type:
          - boolean
          - "null"
      displayName:
        type:
          - string
          - "null"
    additionalProperties: true
  peoples:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: string
      bio:
        type:
          - string
          - "null"
      team:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      skills:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            name:
              type:
                - string
                - "null"
            level:
              type:
                - number
                - "null"
            isFeatured:
              type:
                - boolean
                - "null"
      hrbpName:
        type:
          - string
          - "null"
      lastName:
        type:
          - string
          - "null"
      education:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            minors:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            school:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
            classYear:
              type:
                - string
                - "null"
            degreeType:
              type:
                - string
                - "null"
            fieldsOfStudy:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            concentrations:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
      extension:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      interests:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      languages:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            language:
              type:
                - string
                - "null"
            proficiency:
              type:
                - object
                - "null"
              properties:
                level:
                  type:
                    - string
                    - "null"
                skills:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - string
                      - "null"
      department:
        type:
          - string
          - "null"
      experience:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            role:
              type:
                - string
                - "null"
            tenure:
              type:
                - object
                - "null"
              properties:
                end:
                  type:
                    - object
                    - "null"
                  properties:
                    year:
                      type:
                        - number
                        - "null"
                    month:
                      type:
                        - number
                        - "null"
                start:
                  type:
                    - object
                    - "null"
                  properties:
                    year:
                      type:
                        - number
                        - "null"
                    month:
                      type:
                        - number
                        - "null"
            location:
              type:
                - string
                - "null"
            workplace:
              type:
                - object
                - "null"
              properties:
                title:
                  type:
                    - string
                    - "null"
                logoUrl:
                  type:
                    - string
                    - "null"
      officeCity:
        type:
          - string
          - "null"
      pictureUrl:
        type:
          - string
          - "null"
      companyName:
        type:
          - string
          - "null"
      directoryId:
        type:
          - string
          - "null"
      displayName:
        type:
          - string
          - "null"
      officeState:
        type:
          - string
          - "null"
      isTeamLeader:
        type:
          - boolean
          - "null"
      officeStreet:
        type:
          - string
          - "null"
      teamLeaderId:
        type:
          - string
          - "null"
      backgroundUrl:
        type:
          - string
          - "null"
      reportingPath:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      messageAddress:
        type:
          - string
          - "null"
      anniversaryDate:
        type:
          - string
          - "null"
      reachOutToMeFor:
        type:
          - object
          - "null"
        properties:
          general:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          projects:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          cf_autocompleteTextCollection:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          cf_autocompleteTextCollection1:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      customPictureUrl:
        type:
          - string
          - "null"
      totalReportCount:
        type:
          - number
          - "null"
      directReportCount:
        type:
          - number
          - "null"
      inclusivePronouns:
        type:
          - object
          - "null"
        properties:
          code:
            type:
              - string
              - "null"
          isOther:
            type:
              - boolean
              - "null"
      hasNamePronunciation:
        type:
          - boolean
          - "null"
      timezoneAndWorkHours:
        type:
          - object
          - "null"
        properties:
          timezone:
            type:
              - string
              - "null"
          workHours:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                day:
                  type:
                    - number
                    - "null"
                endTime:
                  type:
                    - object
                    - "null"
                  properties:
                    hour:
                      type:
                        - number
                        - "null"
                    minute:
                      type:
                        - number
                        - "null"
                location:
                  type:
                    - string
                    - "null"
                startTime:
                  type:
                    - object
                    - "null"
                  properties:
                    hour:
                      type:
                        - number
                        - "null"
                    minute:
                      type:
                        - number
                        - "null"
    additionalProperties: true
