version: 6.44.0

type: DeclarativeSource

description: |-
  Website: https://www.paddle.com/
  API Reference: https://developer.paddle.com/api-reference/overview

check:
  type: CheckStream
  stream_names:
    - customers

definitions:
  streams:
    customers:
      type: DeclarativeStream
      name: customers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: customers
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('meta', {}).get('pagination', {}).get('next', '')
              }}
            stop_condition: >-
              {{ not response.get('meta', {}).get('pagination',
              {}).get('has_more', False) }}
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customers"
    customer_addresses:
      type: DeclarativeStream
      name: customer_addresses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: customers/{{ stream_partition['cus_id'] }}/addresses
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('meta', {}).get('pagination', {}).get('next', '')
              }}
            stop_condition: >-
              {{ not response.get('meta', {}).get('pagination',
              {}).get('has_more', False) }}
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: cus_id
              stream:
                $ref: "#/definitions/streams/customers"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customer_addresses"
    discounts:
      type: DeclarativeStream
      name: discounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: discounts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 20
            cursor_value: >-
              {{ response.get('meta', {}).get('pagination', {}).get('next', '')
              }}
            stop_condition: >-
              {{ not response.get('meta', {}).get('pagination',
              {}).get('has_more', False) }}
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/discounts"
    prices:
      type: DeclarativeStream
      name: prices
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: prices
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 20
            cursor_value: >-
              {{ response.get('meta', {}).get('pagination', {}).get('next', '')
              }}
            stop_condition: >-
              {{ not response.get('meta', {}).get('pagination',
              {}).get('has_more', False) }}
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/prices"
    products:
      type: DeclarativeStream
      name: products
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: products
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 20
            cursor_value: >-
              {{ response.get('meta', {}).get('pagination', {}).get('next', '')
              }}
            stop_condition: >-
              {{ not response.get('meta', {}).get('pagination',
              {}).get('has_more', False) }}
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
    businesses:
      type: DeclarativeStream
      name: businesses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: customers/{{ stream_partition['cus_id'] }}/businesses
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('meta', {}).get('pagination', {}).get('next', '')
              }}
            stop_condition: >-
              {{ not response.get('meta', {}).get('pagination',
              {}).get('has_more', False) }}
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: cus_id
              stream:
                $ref: "#/definitions/streams/customers"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/businesses"
    events:
      type: DeclarativeStream
      name: events
      primary_key:
        - event_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: events
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('meta', {}).get('pagination', {}).get('next', '')
              }}
            stop_condition: >-
              {{ not response.get('meta', {}).get('pagination',
              {}).get('has_more', False) }}
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: occurred_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/events"
    event_types:
      type: DeclarativeStream
      name: event_types
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: event-types
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('meta', {}).get('pagination', {}).get('next', '')
              }}
            stop_condition: >-
              {{ not response.get('meta', {}).get('pagination',
              {}).get('has_more', False) }}
        decoder:
          type: JsonDecoder
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/event_types"
    reports:
      type: DeclarativeStream
      name: reports
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: reports
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('meta', {}).get('pagination', {}).get('next', '')
              }}
            stop_condition: >-
              {{ not response.get('meta', {}).get('pagination',
              {}).get('has_more', False) }}
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reports"
    ip_addresses:
      type: DeclarativeStream
      name: ip_addresses
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: ips
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('meta', {}).get('pagination', {}).get('next', '')
              }}
            stop_condition: >-
              {{ not response.get('meta', {}).get('pagination',
              {}).get('has_more', False) }}
        decoder:
          type: JsonDecoder
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ip_addresses"
    subscriptions:
      type: DeclarativeStream
      name: subscriptions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: subscriptions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('meta', {}).get('pagination', {}).get('next', '')
              }}
            stop_condition: >-
              {{ not response.get('meta', {}).get('pagination',
              {}).get('has_more', False) }}
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/subscriptions"
    transactions:
      type: DeclarativeStream
      name: transactions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: transactions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('meta', {}).get('pagination', {}).get('next', '')
              }}
            stop_condition: >-
              {{ not response.get('meta', {}).get('pagination',
              {}).get('has_more', False) }}
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/transactions"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['environment'] }}.paddle.com/
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/customers"
  - $ref: "#/definitions/streams/customer_addresses"
  - $ref: "#/definitions/streams/discounts"
  - $ref: "#/definitions/streams/prices"
  - $ref: "#/definitions/streams/products"
  - $ref: "#/definitions/streams/businesses"
  - $ref: "#/definitions/streams/events"
  - $ref: "#/definitions/streams/event_types"
  - $ref: "#/definitions/streams/reports"
  - $ref: "#/definitions/streams/ip_addresses"
  - $ref: "#/definitions/streams/subscriptions"
  - $ref: "#/definitions/streams/transactions"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - environment
      - start_date
    properties:
      api_key:
        type: string
        description: >-
          Your Paddle API key. You can generate it by navigating to Paddle >
          Developer tools > Authentication > Generate API key. Treat this key
          like a password and keep it secure.
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
      environment:
        type: string
        description: The environment for the Paddle API, either 'sandbox' or 'live'.
        enum:
          - api
          - sandbox-api
        name: environment
        order: 1
        title: Environment
        default: api
      start_date:
        type: string
        order: 2
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  autoImportSchema:
    customers: true
    customer_addresses: true
    discounts: true
    prices: true
    products: true
    businesses: true
    events: true
    event_types: true
    reports: true
    ip_addresses: true
    subscriptions: false
    transactions: false
  testedStreams:
    customers:
      hasRecords: true
      streamHash: a2c94ea2c6e50f5545f75cdcc8e5691b18b3d8f2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    customer_addresses:
      hasRecords: true
      streamHash: ce56e248bfcc8207dd6885b311b64d0be81528bb
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    discounts:
      hasRecords: true
      streamHash: 2e606bf0896a153d13bb8d9e51e388f525de3228
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    prices:
      hasRecords: true
      streamHash: d9d99de4fc8343315bfd7a539bd5f628050cce3d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    products:
      hasRecords: true
      streamHash: ff1c488e7cee6e56b19b4f7236dd07b4b69c7af2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    businesses:
      hasRecords: true
      streamHash: a3213e6f6e0c1427258d16f6ce7ec3fb72f80e29
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    events:
      hasRecords: true
      streamHash: dd91d617711ce44f0036e3ed29905e5b5b4bb678
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    event_types:
      streamHash: 12de1dd453e43c461f05529b04b8b0914d390822
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    reports:
      hasRecords: true
      streamHash: 11f84a0c2e26331541c8edf4dfa489eee672b993
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    ip_addresses:
      streamHash: ef4d0ca52cc3391140fc624f141d3a6ebce0f9b5
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    subscriptions:
      streamHash: a44f8ede937eb3fd2e56153935fd6cada5ebda2d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    transactions:
      streamHash: 9c64fad984e747c46d370f09ae1ba1b17c1ef690
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://developer.paddle.com/api-reference/customers/list-customers

schemas:
  customers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      id:
        type: string
      locale:
        type:
          - string
          - "null"
      marketing_consent:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      updated_at:
        type: string
    required:
      - id
      - updated_at
  customer_addresses:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      city:
        type:
          - string
          - "null"
      country_code:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      customer_id:
        type:
          - string
          - "null"
      first_line:
        type:
          - string
          - "null"
      id:
        type: string
      postal_code:
        type:
          - string
          - "null"
      region:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      updated_at:
        type: string
    required:
      - id
      - updated_at
  discounts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      amount:
        type:
          - string
          - "null"
      code:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      enabled_for_checkout:
        type:
          - boolean
          - "null"
      expires_at:
        type:
          - string
          - "null"
      id:
        type: string
      maximum_recurring_intervals:
        type:
          - number
          - "null"
      recur:
        type:
          - boolean
          - "null"
      status:
        type:
          - string
          - "null"
      times_used:
        type:
          - number
          - "null"
      updated_at:
        type: string
    required:
      - id
      - updated_at
  prices:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      billing_cycle:
        type:
          - object
          - "null"
        properties:
          frequency:
            type:
              - number
              - "null"
          interval:
            type:
              - string
              - "null"
      created_at:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      product_id:
        type:
          - string
          - "null"
      quantity:
        type:
          - object
          - "null"
        properties:
          maximum:
            type:
              - number
              - "null"
          minimum:
            type:
              - number
              - "null"
      status:
        type:
          - string
          - "null"
      tax_mode:
        type:
          - string
          - "null"
      trial_period:
        type:
          - object
          - "null"
        properties:
          frequency:
            type:
              - number
              - "null"
          interval:
            type:
              - string
              - "null"
      unit_price:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
      unit_price_overrides:
        type:
          - array
          - "null"
      updated_at:
        type: string
    required:
      - id
      - updated_at
  products:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      custom_data:
        type:
          - object
          - "null"
        properties:
          features:
            type:
              - object
              - "null"
            properties:
              aircraft_performance:
                type:
                  - boolean
                  - "null"
              compliance_monitoring:
                type:
                  - boolean
                  - "null"
              flight_log_management:
                type:
                  - boolean
                  - "null"
              payment_by_invoice:
                type:
                  - boolean
                  - "null"
              route_planning:
                type:
                  - boolean
                  - "null"
              sso:
                type:
                  - boolean
                  - "null"
          suggested_addons:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      id:
        type: string
      image_url:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      tax_category:
        type:
          - string
          - "null"
      updated_at:
        type: string
    required:
      - id
      - updated_at
  businesses:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      company_number:
        type:
          - string
          - "null"
      contacts:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            email:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      created_at:
        type:
          - string
          - "null"
      customer_id:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      tax_identifier:
        type:
          - string
          - "null"
      updated_at:
        type: string
    required:
      - id
      - updated_at
  events:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      data:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          amount:
            type:
              - string
              - "null"
          billing_cycle:
            type:
              - object
              - "null"
            properties:
              frequency:
                type:
                  - number
                  - "null"
              interval:
                type:
                  - string
                  - "null"
          city:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          company_number:
            type:
              - string
              - "null"
          contacts:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                email:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
          country_code:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          custom_data:
            type:
              - object
              - "null"
            properties:
              features:
                type:
                  - object
                  - "null"
                properties:
                  aircraft_performance:
                    type:
                      - boolean
                      - "null"
                  compliance_monitoring:
                    type:
                      - boolean
                      - "null"
                  flight_log_management:
                    type:
                      - boolean
                      - "null"
                  payment_by_invoice:
                    type:
                      - boolean
                      - "null"
                  route_planning:
                    type:
                      - boolean
                      - "null"
                  sso:
                    type:
                      - boolean
                      - "null"
              suggested_addons:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          customer_id:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          enabled_for_checkout:
            type:
              - boolean
              - "null"
          expires_at:
            type:
              - string
              - "null"
          first_line:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          image_url:
            type:
              - string
              - "null"
          locale:
            type:
              - string
              - "null"
          marketing_consent:
            type:
              - boolean
              - "null"
          maximum_recurring_intervals:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          postal_code:
            type:
              - string
              - "null"
          product_id:
            type:
              - string
              - "null"
          quantity:
            type:
              - object
              - "null"
            properties:
              maximum:
                type:
                  - number
                  - "null"
              minimum:
                type:
                  - number
                  - "null"
          recur:
            type:
              - boolean
              - "null"
          region:
            type:
              - string
              - "null"
          restrict_to:
            type:
              - array
              - "null"
          status:
            type:
              - string
              - "null"
          tax_category:
            type:
              - string
              - "null"
          tax_identifier:
            type:
              - string
              - "null"
          tax_mode:
            type:
              - string
              - "null"
          trial_period:
            type:
              - object
              - "null"
            properties:
              frequency:
                type:
                  - number
                  - "null"
              interval:
                type:
                  - string
                  - "null"
              requires_payment_method:
                type:
                  - boolean
                  - "null"
          unit_price:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - string
                  - "null"
              currency_code:
                type:
                  - string
                  - "null"
          unit_price_overrides:
            type:
              - array
              - "null"
          updated_at:
            type:
              - string
              - "null"
      event_id:
        type: string
      event_type:
        type:
          - string
          - "null"
      occurred_at:
        type: string
    required:
      - event_id
      - occurred_at
  event_types:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      available_versions:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      group:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      uuid:
        type: string
    required:
      - uuid
  reports:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      expires_at:
        type:
          - string
          - "null"
      filters:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            name:
              type:
                - string
                - "null"
            operator:
              type:
                - string
                - "null"
            value:
              type:
                - string
                - "null"
      id:
        type: string
      status:
        type:
          - string
          - "null"
      updated_at:
        type: string
    required:
      - id
      - updated_at
  ip_addresses:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      ipv4_cidrs:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      uuid:
        type: string
    required:
      - uuid
  subscriptions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    title: Generated schema for Root
    properties:
      id:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      customer_id:
        type:
          - string
          - "null"
      address_id:
        type:
          - string
          - "null"
      business_id:
        type:
          - string
          - "null"
      currency_code:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      started_at:
        type:
          - string
          - "null"
      first_billed_at:
        type:
          - string
          - "null"
      next_billed_at:
        type:
          - string
          - "null"
      paused_at:
        type:
          - string
          - "null"
      canceled_at:
        type:
          - string
          - "null"
      collection_mode:
        type:
          - string
          - "null"
      billing_details:
        type:
          - object
          - "null"
      current_billing_period:
        type:
          - object
          - "null"
        properties:
          starts_at:
            type:
              - string
              - "null"
          ends_at:
            type:
              - string
              - "null"
      billing_cycle:
        type:
          - object
          - "null"
        properties:
          frequency:
            type:
              - number
              - "null"
          interval:
            type:
              - string
              - "null"
      scheduled_change:
        type:
          - object
          - "null"
      items:
        type:
          - array
          - "null"
        items:
          type: object
          properties:
            status:
              type:
                - string
                - "null"
            quantity:
              type:
                - number
                - "null"
            recurring:
              type:
                - boolean
                - "null"
            created_at:
              type:
                - string
                - "null"
            updated_at:
              type:
                - string
                - "null"
            previously_billed_at:
              type:
                - string
                - "null"
            next_billed_at:
              type:
                - string
                - "null"
            trial_dates:
              type:
                - object
                - "null"
            price:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                description:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                product_id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                tax_mode:
                  type:
                    - string
                    - "null"
                billing_cycle:
                  type:
                    - object
                    - "null"
                  properties:
                    frequency:
                      type:
                        - number
                        - "null"
                    interval:
                      type:
                        - string
                        - "null"
                trial_period:
                  type:
                    - object
                    - "null"
                unit_price:
                  type:
                    - object
                    - "null"
                  properties:
                    amount:
                      type:
                        - string
                        - "null"
                    currency_code:
                      type:
                        - string
                        - "null"
                unit_price_overrides:
                  type:
                    - array
                    - "null"
                  items: {}
                custom_data:
                  type:
                    - object
                    - "null"
                status:
                  type:
                    - string
                    - "null"
                quantity:
                  type:
                    - object
                    - "null"
                  properties:
                    minimum:
                      type:
                        - number
                        - "null"
                    maximum:
                      type:
                        - number
                        - "null"
                import_meta:
                  type:
                    - object
                    - "null"
                created_at:
                  type:
                    - string
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
            product:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                description:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                tax_category:
                  type:
                    - string
                    - "null"
                image_url:
                  type:
                    - string
                    - "null"
                custom_data:
                  type:
                    - object
                    - "null"
                  properties:
                    features:
                      type:
                        - object
                        - "null"
                      properties:
                        aircraft_performance:
                          type:
                            - boolean
                            - "null"
                        compliance_monitoring:
                          type:
                            - boolean
                            - "null"
                        flight_log_management:
                          type:
                            - boolean
                            - "null"
                        payment_by_invoice:
                          type:
                            - boolean
                            - "null"
                        route_planning:
                          type:
                            - boolean
                            - "null"
                        sso:
                          type:
                            - boolean
                            - "null"
                    suggested_addons:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - string
                          - "null"
                    upgrade_description:
                      type:
                        - string
                        - "null"
                status:
                  type:
                    - string
                    - "null"
                import_meta:
                  type:
                    - object
                    - "null"
                created_at:
                  type:
                    - string
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
      custom_data:
        type:
          - object
          - "null"
      management_urls:
        type:
          - object
          - "null"
        properties:
          update_payment_method:
            type:
              - string
              - "null"
          cancel:
            type:
              - string
              - "null"
      discount:
        type:
          - object
          - "null"
      import_meta:
        type:
          - object
          - "null"
    additionalProperties: true
  transactions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    title: Generated schema for Root
    properties:
      id:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      customer_id:
        type:
          - "null"
      address_id:
        type:
          - "null"
      business_id:
        type:
          - "null"
      custom_data:
        type:
          - "null"
      origin:
        type:
          - string
          - "null"
      collection_mode:
        type:
          - string
          - "null"
      subscription_id:
        type:
          - "null"
      invoice_id:
        type:
          - "null"
      invoice_number:
        type:
          - "null"
      billing_details:
        type:
          - "null"
      billing_period:
        type:
          - "null"
      currency_code:
        type:
          - string
          - "null"
      discount_id:
        type:
          - "null"
      created_at:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      billed_at:
        type:
          - "null"
      revised_at:
        type:
          - "null"
      items:
        type:
          - array
          - "null"
        items:
          type: object
          properties:
            price:
              type:
                - object
                - "null"
              properties: {}
            quantity:
              type:
                - number
                - "null"
      details:
        type:
          - object
          - "null"
        properties: {}
      payments:
        type:
          - array
          - "null"
        items: {}
      checkout:
        type:
          - object
          - "null"
        properties:
          url:
            type:
              - string
              - "null"
    additionalProperties: true
