@use "scss/colors";
@use "scss/variables";

.statusMessage {
  margin-top: variables.$spacing-md;
  color: colors.$red;
}

.disclaimer {
  margin-top: variables.$spacing-xl;
}

.passwordCheckContainer {
  margin-top: variables.$spacing-lg;
}

.checkIcon {
  color: colors.$dark-blue-100;
}

.error {
  color: colors.$red;
}

.valid {
  color: colors.$green;
}
