.connectorName {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: bold;
}

.connectorIconBackground {
  background-color: var(--icon-background);
  border-radius: 6px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin-right: 4px;
}

