.connectorIcon {
  max-height: 40px;
  max-width: 40px;
  float: left;
  margin-right: 10px;
}

div.connectorMetadataCallout  {
  margin-bottom: 15px;
}

.connectorMetadata {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.metadataStat {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  font-weight: var(--ifm-font-weight-normal);
}

.metadataStatLabel {
  display: inline-flex;
  align-items: center;

  font-weight: var(--ifm-font-weight-semibold);
  margin-right: 10px;
}

.metadataStatValue {
  display: inline-flex;
  align-items: center;
  margin: 0;
}

.metadataStatValue > * {
  display: inline-flex;
  align-items: center;
}

.connectorMetadata .availability {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
}

.connectorMetadata .availability > span {
  display: inline-flex;
  align-items: center;
  column-gap: 2px;
}

.connectorMetadata .availability .unavailable {
  color: var(--ifm-color-emphasis-600);
}

[data-theme="dark"] .connectorMetadata .availability .unavailable {
  color: var(--ifm-color-emphasis-400);
}
