.connectorIcon {
  max-height: 40px;
  max-width: 40px;
  float: left;
  margin-right: 10px;
}

.connectorMetadata {
  background: var(--ifm-color-info-contrast-background);
  border-radius: 2px;
  width: 100%;
  font-size: smaller;
  margin: 0;
  padding: 5px;
  margin-bottom: 15px;
}

.connectorMetadata > div {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.connectorMetadata dt {
  display: inline;
  font-weight: bold;
}

.connectorMetadata dd {
  display: inline;
  margin: 0;
}

.connectorMetadata dt::after {
  content: ": ";
}

.connectorMetadata .availability {
  display: inline-flex;
  gap: 8px;
  margin-left: 2px;
}

.connectorMetadata .availability > span {
  display: inline-flex;
  align-items: center;
  gap: 2px;
}

.connectorMetadata .availability .unavailable {
  color: var(--ifm-color-emphasis-600);
}

[data-theme="dark"] .connectorMetadata .availability .unavailable {
  color: var(--ifm-color-emphasis-400);
}
