.block {
  padding: 10px 0;
}

.block + .block {
  border-top: 1px solid var(--ifm-color-emphasis-300);
}

.open {
  transform: rotate(90deg);
}

.header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font-size: inherit;
}

.propertyName {
  font-weight: bold;
}

.tag {
  font-size: 0.8em;
  padding: 2px 4px;
  border-radius: 4px;
  background-color: #c5c5c5;
}

.propertyDocumentation {
  margin-left: 15px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-top: 10px;
}

.oneOfList {
  list-style: none;
  margin: 0;
  padding: 0;
}