@use "../../../../scss/colors";

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 16px;
  gap: 18px;
}

.controlButton {
  margin-left: 10px;
}

.message {
  font-size: 14px;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;

  & .success {
    color: colors.$green;
  }
  & .error {
    color: colors.$red;
  }
}

.line {
  min-width: 100%;
  height: 1px;
  background: colors.$grey;
  margin: 16px -27px 0 -24px;
}
