@use "scss/colors";
@use "scss/variables";

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: variables.$spacing-md;
}

.connectorLabel {
  max-width: 328px;
  margin-right: variables.$spacing-xl;
  vertical-align: top;
}

.leftFieldCol {
  flex: 1;
  max-width: 640px;
  padding-right: 30px;
}

.rightFieldCol {
  flex: 1;
  max-width: 300px;
}

.disabled {
  pointer-events: none;
}
