.section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  // TODO: We may be able to get rid of this.
  &:not(:last-child) {
    box-shadow: 0 1px 0 rgba(139, 139, 160, 25%);
  }
}
