@use "scss/_variables";

.header {
  margin: variables.$spacing-md 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: variables.$spacing-md variables.$spacing-xl;
}
