version: 5.15.0

type: DeclarativeSource

description: >-
  Sendowl is an All-in-One Digital Commerce Platform.

  Using this connector we can extract data from products , packages , orders ,
  discounts and subscriptions streams.

  Docs : https://dashboard.sendowl.com/developers/api/introduction

check:
  type: CheckStream
  stream_names:
    - products

definitions:
  streams:
    products:
      type: DeclarativeStream
      name: products
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: products
          http_method: GET
          request_headers:
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
    packages:
      type: DeclarativeStream
      name: packages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: packages
          http_method: GET
          request_headers:
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - package
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/packages"
    orders:
      type: DeclarativeStream
      name: orders
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: orders
          http_method: GET
          request_headers:
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - order
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/orders"
    discounts:
      type: DeclarativeStream
      name: discounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: discounts
          http_method: GET
          request_headers:
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - discount_code
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/discounts"
    subscriptions:
      type: DeclarativeStream
      name: subscriptions
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: subscriptions
          http_method: GET
          request_headers:
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/subscriptions"
  base_requester:
    type: HttpRequester
    url_base: https://www.sendowl.com/api/v1/
    authenticator:
      type: BasicHttpAuthenticator
      username: "{{ config[\"username\"] }}"
      password: "{{ config[\"password\"] }}"

streams:
  - $ref: "#/definitions/streams/products"
  - $ref: "#/definitions/streams/packages"
  - $ref: "#/definitions/streams/orders"
  - $ref: "#/definitions/streams/discounts"
  - $ref: "#/definitions/streams/subscriptions"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - username
    properties:
      username:
        type: string
        title: Username
        order: 0
      password:
        type: string
        title: Password
        always_show: true
        airbyte_secret: true
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    products: true
    packages: true
    orders: true
    discounts: true
    subscriptions: true
  testedStreams:
    products:
      streamHash: 15e42555de8e6b2e3a5bcc29d14fc36887d6fd9f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    packages:
      streamHash: 2259460a1b920b32641b80b6d2d588259a530e06
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    orders:
      streamHash: 96d5168f91623ac49968004e249fe915ec8b10f2
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    discounts:
      streamHash: 0aded74a214ce53026758160bde08061febbf3b1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    subscriptions:
      streamHash: c9cc2e5de3ba98bf03443b41d5a8398ef8b2f231
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  products:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      product:
        type:
          - object
          - "null"
        properties:
          add_to_cart_url:
            type:
              - string
              - "null"
          affiliate_sellable:
            type:
              - boolean
              - "null"
          attachment:
            type:
              - object
              - "null"
            properties:
              filename:
                type:
                  - string
                  - "null"
              size:
                type:
                  - number
                  - "null"
          category:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          instant_buy_url:
            type:
              - string
              - "null"
          limit_to_single_qty_in_cart:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          pdf_stamping:
            type:
              - boolean
              - "null"
          price:
            type:
              - string
              - "null"
          price_is_minimum:
            type:
              - boolean
              - "null"
          product_image_url:
            type:
              - string
              - "null"
          product_type:
            type:
              - string
              - "null"
          sales_limit:
            type:
              - number
              - "null"
          sales_page_url:
            type:
              - string
              - "null"
          subcategory:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
  packages:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      add_to_cart_url:
        type:
          - string
          - "null"
      affiliate_sellable:
        type:
          - boolean
          - "null"
      components:
        type:
          - object
          - "null"
        properties:
          product_ids:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
      created_at:
        type:
          - string
          - "null"
      currency_code:
        type:
          - string
          - "null"
      id:
        type: number
      instant_buy_url:
        type:
          - string
          - "null"
      limit_to_single_qty_in_cart:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      price:
        type:
          - string
          - "null"
      price_is_minimum:
        type:
          - boolean
          - "null"
      sales_page_url:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  orders:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      access_allowed:
        type:
          - boolean
          - "null"
      buyer_email:
        type:
          - string
          - "null"
      buyer_name:
        type:
          - string
          - "null"
      can_market_to_buyer:
        type:
          - boolean
          - "null"
      cart:
        type:
          - object
          - "null"
        properties:
          cart_items:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                cart_item:
                  type:
                    - object
                    - "null"
                  properties:
                    download_attempts:
                      type:
                        - number
                        - "null"
                    price_at_checkout:
                      type:
                        - string
                        - "null"
                    product_id:
                      type:
                        - number
                        - "null"
                    quantity:
                      type:
                        - number
                        - "null"
          completed_checkout_at:
            type:
              - string
              - "null"
          started_checkout_at:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
      created_at:
        type:
          - string
          - "null"
      download_items:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            download_item:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                accessible:
                  type:
                    - boolean
                    - "null"
                downloadable:
                  type:
                    - boolean
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                url:
                  type:
                    - string
                    - "null"
      download_url:
        type:
          - string
          - "null"
      gateway:
        type:
          - string
          - "null"
      gateway_transaction_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      id:
        type: number
      order_custom_checkout_fields:
        type:
          - array
          - "null"
      price_at_checkout:
        type:
          - string
          - "null"
      settled_currency:
        type:
          - string
          - "null"
      settled_gateway_fee:
        type:
          - string
          - "null"
      settled_gross:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  discounts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      code:
        type:
          - string
          - "null"
      codes:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      created_at:
        type:
          - string
          - "null"
      currency_code:
        type:
          - string
          - "null"
      fixed_discount:
        type:
          - string
          - "null"
      id:
        type: number
      minimum_cart_value:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      usage_limit:
        type:
          - number
          - "null"
    required:
      - id
  subscriptions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      subscription:
        type:
          - object
          - "null"
        properties:
          access_all_products:
            type:
              - boolean
              - "null"
          access_subset_products:
            type:
              - boolean
              - "null"
          affiliate_sellable:
            type:
              - boolean
              - "null"
          category:
            type:
              - string
              - "null"
          commission_rate:
            type:
              - number
              - "null"
          components:
            type:
              - object
              - "null"
            properties:
              product_ids:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - number
                    - "null"
          created_at:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          custom_field:
            type:
              - string
              - "null"
          drip_items:
            type:
              - array
              - "null"
          frequency:
            type:
              - string
              - "null"
          frequency_interval:
            type:
              - string
              - "null"
          frequency_value:
            type:
              - number
              - "null"
          id:
            type:
              - number
              - "null"
          instant_buy_url:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          perform_redirect:
            type:
              - boolean
              - "null"
          recurring_price:
            type:
              - string
              - "null"
          recurring_type:
            type:
              - string
              - "null"
          sales_page_url:
            type:
              - string
              - "null"
          sell_service:
            type:
              - boolean
              - "null"
          sell_tangible_product:
            type:
              - boolean
              - "null"
          subcategory:
            type:
              - string
              - "null"
          trial_no_of_occurrences:
            type:
              - number
              - "null"
          trial_price:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
