version: 5.15.0

type: DeclarativeSource

description: >-
  The Box Connector enables seamless data extraction from Box, allowing users to
  list, access, and synchronize files or folders from their Box cloud storage.
  This connector helps automate workflows by integrating Box data with other
  tools, ensuring efficient file management and analysis

check:
  type: CheckStream
  stream_names:
    - events

definitions:
  streams:
    events:
      type: DeclarativeStream
      name: events
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /2.0/events
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - entries
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: stream_position
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next_stream_position') }}"
            stop_condition: "{{ response.get('next_stream_position') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/events"
    sign_templates:
      type: DeclarativeStream
      name: sign_templates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /2.0/sign_templates
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - entries
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: marker
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"next_marker\")  }}"
            stop_condition: "{{ response.get(\"next_marker\") is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sign_templates"
    collections:
      type: DeclarativeStream
      name: collections
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /2.0/collections
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - entries
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/collections"
    collection_items:
      type: DeclarativeStream
      name: collection_items
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /2.0/collections/{{ stream_partition.collection }}/items
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - entries
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: OffsetIncrement
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: collection
              stream:
                $ref: "#/definitions/streams/collections"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/collection_items"
    sign_request:
      type: DeclarativeStream
      name: sign_request
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /2.0/sign_requests
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - entries
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: marker
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next_marker') }}"
            stop_condition: "{{ response.get('next_marker') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sign_request"
    admin_logs:
      type: DeclarativeStream
      name: admin_logs
      primary_key:
        - event_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /2.0/events?stream_type=admin_logs
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - entries
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: stream_position
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next_stream_position', '') }}"
            stop_condition: >-
              {{ response.get('next_stream_position') is none or
              response.get('next_stream_position') == '' }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/admin_logs"
    all_files_and_folders:
      type: DeclarativeStream
      name: all_files_and_folders
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /2.0/folders/0/items
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - entries
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: OffsetIncrement
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/all_files_and_folders"
    pending_collaborations:
      type: DeclarativeStream
      name: pending_collaborations
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /2.0/collaborations
          http_method: GET
          request_parameters:
            status: pending
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: OffsetIncrement
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/pending_collaborations"
    file_collaborations:
      type: DeclarativeStream
      name: file_collaborations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /2.0/files/{{ config['file_id'] }}/collaborations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - entries
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: marker
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next_marker') }}"
            stop_condition: "{{ response.get('next_marker') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/file_collaborations"
    folder_collaborations:
      type: DeclarativeStream
      name: folder_collaborations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /2.0/folders/{{ config['folder_id'] }}/collaborations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - entries
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: marker
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next_marker') }}"
            stop_condition: "{{ response.get('next_marker') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/folder_collaborations"
    file_comments:
      type: DeclarativeStream
      name: file_comments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /2.0/files/{{ config['file_id'] }}/comments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - entries
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/file_comments"
    recent_items:
      type: DeclarativeStream
      name: recent_items
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /2.0/recent_items
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - entries
              - "*"
              - item
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: marker
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next_marker') }}"
            stop_condition: "{{ response.get('next_marker') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/recent_items"
    search:
      type: DeclarativeStream
      name: search
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /2.0/search
          http_method: GET
          request_parameters:
            query: "{{ config['search_input'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - entries
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: OffsetIncrement
            page_size: 200
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/search"
    file_tasks:
      type: DeclarativeStream
      name: file_tasks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /2.0/files/{{ config['file_id'] }}/tasks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - entries
              - "*"
              - task_assignment_collection
              - entries
              - "*"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/file_tasks"
    trashed_items:
      type: DeclarativeStream
      name: trashed_items
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /2.0/folders/trash/items
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - entries
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/trashed_items"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /2.0/users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - entries
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: OffsetIncrement
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
  base_requester:
    type: HttpRequester
    url_base: https://api.box.com
    authenticator:
      type: OAuthAuthenticator
      client_id: "{{ config[\"client_id\"] }}"
      grant_type: client_credentials
      client_secret: "{{ config[\"client_secret\"] }}"
      expires_in_name: expires_in
      access_token_name: access_token
      token_refresh_endpoint: https://api.box.com/oauth2/token
      refresh_request_body:
        box_subject_type: user
        box_subject_id: "{{ config['user'] }}"

streams:
  - $ref: "#/definitions/streams/events"
  - $ref: "#/definitions/streams/sign_templates"
  - $ref: "#/definitions/streams/collections"
  - $ref: "#/definitions/streams/collection_items"
  - $ref: "#/definitions/streams/sign_request"
  - $ref: "#/definitions/streams/admin_logs"
  - $ref: "#/definitions/streams/all_files_and_folders"
  - $ref: "#/definitions/streams/pending_collaborations"
  - $ref: "#/definitions/streams/file_collaborations"
  - $ref: "#/definitions/streams/folder_collaborations"
  - $ref: "#/definitions/streams/file_comments"
  - $ref: "#/definitions/streams/recent_items"
  - $ref: "#/definitions/streams/search"
  - $ref: "#/definitions/streams/file_tasks"
  - $ref: "#/definitions/streams/trashed_items"
  - $ref: "#/definitions/streams/users"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
      - user
      - file_id
      - folder_id
      - search_input
    properties:
      client_id:
        type: string
        name: client_id
        title: OAuth Client ID
        airbyte_secret: true
        order: 0
      client_secret:
        type: string
        name: client_secret
        title: OAuth Client Secret
        airbyte_secret: true
        order: 1
      user:
        type: number
        title: User
        order: 2
      file_id:
        type: number
        title: File Id
        order: 3
      folder_id:
        type: number
        title: Folder Id
        order: 4
      search_input:
        type: string
        title: Search Input
        order: 5
    additionalProperties: true

metadata:
  autoImportSchema:
    events: true
    sign_templates: true
    collections: true
    collection_items: true
    sign_request: true
    admin_logs: true
    all_files_and_folders: true
    pending_collaborations: true
    file_collaborations: true
    folder_collaborations: true
    file_comments: true
    recent_items: true
    search: true
    file_tasks: true
    trashed_items: true
    users: true
  testedStreams:
    events:
      streamHash: 4c1f8d8f693d7a92ee8dec80d838660e4bece5f5
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    sign_templates:
      streamHash: 58e74175dc9e9c018f1db93b31f994d992f1ec21
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    collections:
      streamHash: 886189616f6f7b66fc9789b732c80e7f32aa7047
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    collection_items:
      streamHash: c9f9946c5dea8f0e13f35a98f979a175a4d31371
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    sign_request:
      streamHash: b9312ff248912fe56db30bf97dbcf9baa4bcde45
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    admin_logs:
      streamHash: 8385c32c4dcaea9e4abad576b76d32dd492567dc
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    all_files_and_folders:
      streamHash: d65bc3e1a5be3f799bf15b1c455ccc8720a616fa
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    pending_collaborations:
      streamHash: c4720c47fb3dc8639f047bf50b255eaabea7ba54
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    file_collaborations:
      streamHash: 3f0ee868e6e0a0e788970230242619b1413f52b7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    folder_collaborations:
      streamHash: b472659517461cc25be8548d1dd3d9acad9b42e3
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    file_comments:
      streamHash: 51fcb8eb26244c28d8208d41cde1a22fc9f5a628
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    recent_items:
      streamHash: 2b620c6da8c3ac7b4be0bb481c00bd067d9a9d2f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    search:
      streamHash: e324924387256d1e6893203d34cff6832349331c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    file_tasks:
      streamHash: 4c5d718f9c10bab0d8680c6703b9f358a0cc573e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    trashed_items:
      streamHash: 220c9d1eb25065d60d7347c9219ae6882b3bfdb4
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: 0e26a32514f04fae7185887ae41861452eb580f7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://developer.box.com/reference/

schemas:
  events:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      additional_details:
        type:
          - object
          - "null"
        properties:
          original_item_id:
            type:
              - string
              - "null"
          original_item_name:
            type:
              - string
              - "null"
          original_item_type:
            type:
              - string
              - "null"
      created_at:
        type:
          - string
          - "null"
      created_by:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          login:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      event_id:
        type:
          - string
          - "null"
      event_type:
        type:
          - string
          - "null"
      recorded_at:
        type:
          - string
          - "null"
      session_id:
        type:
          - string
          - "null"
      source:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          assigned_at:
            type:
              - string
              - "null"
          assigned_by:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          assigned_to:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          content_created_at:
            type:
              - string
              - "null"
          content_modified_at:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          created_by:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          etag:
            type:
              - string
              - "null"
          file_version:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              sha1:
                type:
                  - string
                  - "null"
          id:
            type:
              - string
              - "null"
          invite_email:
            type:
              - string
              - "null"
          is_reply_comment:
            type:
              - boolean
              - "null"
          item:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              etag:
                type:
                  - string
                  - "null"
              file_version:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  sha1:
                    type:
                      - string
                      - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              sequence_id:
                type:
                  - string
                  - "null"
              sha1:
                type:
                  - string
                  - "null"
          item_status:
            type:
              - string
              - "null"
          message:
            type:
              - string
              - "null"
          modified_at:
            type:
              - string
              - "null"
          modified_by:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          name:
            type:
              - string
              - "null"
          owned_by:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              etag:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              sequence_id:
                type:
                  - string
                  - "null"
          path_collection:
            type:
              - object
              - "null"
            properties:
              entries:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    etag:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    sequence_id:
                      type:
                        - string
                        - "null"
              total_count:
                type:
                  - number
                  - "null"
          purged_at:
            type:
              - string
              - "null"
          resolution_state:
            type:
              - string
              - "null"
          role:
            type:
              - string
              - "null"
          sequence_id:
            type:
              - string
              - "null"
          sha1:
            type:
              - string
              - "null"
          size:
            type:
              - number
              - "null"
          status:
            type:
              - string
              - "null"
          synced:
            type:
              - boolean
              - "null"
          trashed_at:
            type:
              - string
              - "null"
  sign_templates:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      additional_info:
        type:
          - object
          - "null"
        properties:
          non_editable:
            type:
              - array
              - "null"
          required:
            type:
              - object
              - "null"
            properties:
              signers:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - string
                      - "null"
      are_email_settings_locked:
        type:
          - boolean
          - "null"
      are_fields_locked:
        type:
          - boolean
          - "null"
      are_files_locked:
        type:
          - boolean
          - "null"
      are_options_locked:
        type:
          - boolean
          - "null"
      are_recipients_locked:
        type:
          - boolean
          - "null"
      days_valid:
        type:
          - number
          - "null"
      email_message:
        type:
          - string
          - "null"
      email_subject:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      parent_folder:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          etag:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          sequence_id:
            type:
              - string
              - "null"
      signers:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            email:
              type:
                - string
                - "null"
            inputs:
              type:
                - array
                - "null"
            is_in_person:
              type:
                - boolean
                - "null"
            label:
              type:
                - string
                - "null"
            order:
              type:
                - number
                - "null"
            public_id:
              type:
                - string
                - "null"
            role:
              type:
                - string
                - "null"
      source_files:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            etag:
              type:
                - string
                - "null"
            file_version:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                sha1:
                  type:
                    - string
                    - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            sequence_id:
              type:
                - string
                - "null"
            sha1:
              type:
                - string
                - "null"
    required:
      - id
  collections:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      collection_type:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
    required:
      - id
  collection_items:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      etag:
        type:
          - string
          - "null"
      file_version:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          sha1:
            type:
              - string
              - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      sequence_id:
        type:
          - string
          - "null"
      sha1:
        type:
          - string
          - "null"
    required:
      - id
  sign_request:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      are_reminders_enabled:
        type:
          - boolean
          - "null"
      are_text_signatures_enabled:
        type:
          - boolean
          - "null"
      id:
        type: string
      is_document_preparation_needed:
        type:
          - boolean
          - "null"
      is_phone_verification_required_to_view:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      parent_folder:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          etag:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          sequence_id:
            type:
              - string
              - "null"
      prefill_tags:
        type:
          - array
          - "null"
      sign_files:
        type:
          - object
          - "null"
        properties:
          files:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                etag:
                  type:
                    - string
                    - "null"
                file_version:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    sha1:
                      type:
                        - string
                        - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                sequence_id:
                  type:
                    - string
                    - "null"
                sha1:
                  type:
                    - string
                    - "null"
          is_ready_for_download:
            type:
              - boolean
              - "null"
      signers:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            email:
              type:
                - string
                - "null"
            has_viewed_document:
              type:
                - boolean
                - "null"
            inputs:
              type:
                - array
                - "null"
            is_in_person:
              type:
                - boolean
                - "null"
            login_required:
              type:
                - boolean
                - "null"
            order:
              type:
                - number
                - "null"
            role:
              type:
                - string
                - "null"
            suppress_notifications:
              type:
                - boolean
                - "null"
            verification_phone_number:
              type:
                - string
                - "null"
      source_files:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            etag:
              type:
                - string
                - "null"
            file_version:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                sha1:
                  type:
                    - string
                    - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            sequence_id:
              type:
                - string
                - "null"
            sha1:
              type:
                - string
                - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
  admin_logs:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      additional_details:
        type:
          - object
          - "null"
        properties:
          metadata:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              operationParams:
                type:
                  - string
                  - "null"
          access_token_identifier:
            type:
              - string
              - "null"
          collection:
            type:
              - object
              - "null"
            properties:
              collection_id:
                type:
                  - number
                  - "null"
              collection_name:
                type:
                  - string
                  - "null"
              user:
                type:
                  - object
                  - "null"
                properties:
                  email:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - number
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
          collection_item:
            type:
              - object
              - "null"
            properties:
              collection_id:
                type:
                  - number
                  - "null"
              collection_name:
                type:
                  - string
                  - "null"
              item:
                type:
                  - object
                  - "null"
                properties:
                  file:
                    type:
                      - number
                      - "null"
              user:
                type:
                  - object
                  - "null"
                properties:
                  email:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - number
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
          ekm_id:
            type:
              - string
              - "null"
          original_item_id:
            type:
              - string
              - "null"
          original_item_name:
            type:
              - string
              - "null"
          original_item_type:
            type:
              - string
              - "null"
          service_id:
            type:
              - string
              - "null"
          service_name:
            type:
              - string
              - "null"
          shared_link_id:
            type:
              - string
              - "null"
          sign_request:
            type:
              - object
              - "null"
            properties:
              files:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    parent:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        id:
                          type:
                            - string
                            - "null"
              ready_sign_link:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - string
                      - "null"
              redirection:
                type:
                  - object
                  - "null"
                properties:
                  declined_redirect_url:
                    type:
                      - string
                      - "null"
                  redirect_url:
                    type:
                      - string
                      - "null"
              requestor:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  login:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
              requestor_ip_address:
                type:
                  - string
                  - "null"
              sender_message:
                type:
                  - object
                  - "null"
                properties:
                  message:
                    type:
                      - string
                      - "null"
                  subject:
                    type:
                      - string
                      - "null"
              sign_request_id:
                type:
                  - string
                  - "null"
              sign_request_short_id:
                type:
                  - string
                  - "null"
              signer:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  login:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
              signer_ip_address:
                type:
                  - string
                  - "null"
              status:
                type:
                  - string
                  - "null"
          size:
            type:
              - number
              - "null"
          version_id:
            type:
              - string
              - "null"
      created_at:
        type:
          - string
          - "null"
      created_by:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          login:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      event_id:
        type: string
      event_type:
        type:
          - string
          - "null"
      ip_address:
        type:
          - string
          - "null"
      source:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          item_id:
            type:
              - string
              - "null"
          item_name:
            type:
              - string
              - "null"
          item_type:
            type:
              - string
              - "null"
          login:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          owned_by:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
    required:
      - event_id
  all_files_and_folders:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      etag:
        type:
          - string
          - "null"
      file_version:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          sha1:
            type:
              - string
              - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      sequence_id:
        type:
          - string
          - "null"
      sha1:
        type:
          - string
          - "null"
    required:
      - id
  pending_collaborations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      entries:
        type:
          - array
          - "null"
      limit:
        type:
          - number
          - "null"
      offset:
        type:
          - number
          - "null"
      total_count:
        type:
          - number
          - "null"
  file_collaborations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      created_by:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          login:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      id:
        type: string
      invite_email:
        type:
          - string
          - "null"
      is_access_only:
        type:
          - boolean
          - "null"
      item:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          etag:
            type:
              - string
              - "null"
          file_version:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              sha1:
                type:
                  - string
                  - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          sequence_id:
            type:
              - string
              - "null"
          sha1:
            type:
              - string
              - "null"
      modified_at:
        type:
          - string
          - "null"
      role:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
  folder_collaborations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      created_by:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          login:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      id:
        type: string
      invite_email:
        type:
          - string
          - "null"
      is_access_only:
        type:
          - boolean
          - "null"
      item:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          etag:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          sequence_id:
            type:
              - string
              - "null"
      modified_at:
        type:
          - string
          - "null"
      role:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
  file_comments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      created_by:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          login:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      id:
        type: string
      is_reply_comment:
        type:
          - boolean
          - "null"
      message:
        type:
          - string
          - "null"
    required:
      - id
  recent_items:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      etag:
        type:
          - string
          - "null"
      file_version:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          sha1:
            type:
              - string
              - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      sequence_id:
        type:
          - string
          - "null"
      sha1:
        type:
          - string
          - "null"
    required:
      - id
  search:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      content_created_at:
        type:
          - string
          - "null"
      content_modified_at:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      created_by:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          login:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      etag:
        type:
          - string
          - "null"
      file_version:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          sha1:
            type:
              - string
              - "null"
      id:
        type: string
      item_status:
        type:
          - string
          - "null"
      modified_at:
        type:
          - string
          - "null"
      modified_by:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          login:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      name:
        type:
          - string
          - "null"
      owned_by:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          login:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      parent:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          etag:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          sequence_id:
            type:
              - string
              - "null"
      path_collection:
        type:
          - object
          - "null"
        properties:
          entries:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                etag:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                sequence_id:
                  type:
                    - string
                    - "null"
          total_count:
            type:
              - number
              - "null"
      sequence_id:
        type:
          - string
          - "null"
      sha1:
        type:
          - string
          - "null"
      shared_link:
        type:
          - object
          - "null"
        properties:
          access:
            type:
              - string
              - "null"
          download_count:
            type:
              - number
              - "null"
          download_url:
            type:
              - string
              - "null"
          effective_access:
            type:
              - string
              - "null"
          effective_permission:
            type:
              - string
              - "null"
          is_password_enabled:
            type:
              - boolean
              - "null"
          permissions:
            type:
              - object
              - "null"
            properties:
              can_download:
                type:
                  - boolean
                  - "null"
              can_edit:
                type:
                  - boolean
                  - "null"
              can_preview:
                type:
                  - boolean
                  - "null"
          preview_count:
            type:
              - number
              - "null"
          url:
            type:
              - string
              - "null"
      size:
        type:
          - number
          - "null"
    required:
      - id
  file_tasks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      assigned_at:
        type:
          - string
          - "null"
      assigned_to:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          login:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      id:
        type: string
      item:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          etag:
            type:
              - string
              - "null"
          file_version:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              sha1:
                type:
                  - string
                  - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          sequence_id:
            type:
              - string
              - "null"
          sha1:
            type:
              - string
              - "null"
      message:
        type:
          - string
          - "null"
      resolution_state:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
  trashed_items:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      etag:
        type:
          - string
          - "null"
      file_version:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          sha1:
            type:
              - string
              - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      sequence_id:
        type:
          - string
          - "null"
      sha1:
        type:
          - string
          - "null"
    required:
      - id
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      address:
        type:
          - string
          - "null"
      avatar_url:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      id:
        type: string
      job_title:
        type:
          - string
          - "null"
      language:
        type:
          - string
          - "null"
      login:
        type:
          - string
          - "null"
      max_upload_size:
        type:
          - number
          - "null"
      modified_at:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      space_amount:
        type:
          - number
          - "null"
      space_used:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
      timezone:
        type:
          - string
          - "null"
    required:
      - id
