version: 7.25.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  error_handler:
    type: DefaultErrorHandler
    backoff_strategies:
      - type: WaitTimeFromHeader
        header: Retry-After
        max_waiting_time_in_seconds: 300
    response_filters:
      - type: HttpResponseFilter
        http_codes:
          - 401
        action: REFRESH_TOKEN_THEN_RETRY
      - type: HttpResponseFilter
        http_codes:
          - 403
        action: FAIL
        failure_type: config_error
        error_message: "Harvest v3 list endpoint denied: missing OAuth scope or authorizing user is not a Site Admin."
      - type: HttpResponseFilter
        http_codes:
          - 422
        action: FAIL
        failure_type: system_error
        error_message: "Harvest v3 request is invalid: a cursor combined with other query parameters, an expired cursor, or per_page outside 1-500."
  # Substream parents are always read over full history: their children are
  # full-refresh streams whose coverage would otherwise be silently truncated by
  # the user's start_date.
  full_history_cursor:
    type: DatetimeBasedCursor
    cursor_field: updated_at
    cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S.%_msZ"
    datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
    start_datetime:
      type: MinMaxDatetime
      datetime: "1970-01-01T00:00:00Z"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
  streams:
    applications:
      type: DeclarativeStream
      state_migrations:
        - type: CustomStateMigration
          class_name: source_declarative_manifest.components.ApplicationCursorStateMigration
      name: applications
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/applications
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
            updated_at: "{{ 'gte|' ~ stream_interval['start_time'] ~ '|lte|' ~ stream_interval['end_time'] if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        lookback_window: PT1H
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] or '1970-01-01T00:00:00Z' }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/applications"
    candidates:
      type: DeclarativeStream
      name: candidates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/candidates
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
            updated_at: "{{ 'gte|' ~ stream_interval['start_time'] ~ '|lte|' ~ stream_interval['end_time'] if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        lookback_window: PT1H
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] or '1970-01-01T00:00:00Z' }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/candidates"
    close_reasons:
      type: DeclarativeStream
      name: close_reasons
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/close_reasons
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/close_reasons"
    custom_fields:
      type: DeclarativeStream
      name: custom_fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/custom_fields
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_fields"
    custom_field_options:
      type: DeclarativeStream
      name: custom_field_options
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/custom_field_options
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_field_options"
    degrees:
      type: DeclarativeStream
      name: degrees
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/custom_field_options
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
            custom_field_key: "{{ 'degree' if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/degrees"
    demographics_answers:
      type: DeclarativeStream
      name: demographics_answers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/demographic_answers
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
            updated_at: "{{ 'gte|' ~ stream_interval['start_time'] ~ '|lte|' ~ stream_interval['end_time'] if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        lookback_window: PT1H
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] or '1970-01-01T00:00:00Z' }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/demographics_answers"
    demographics_answer_options:
      type: DeclarativeStream
      name: demographics_answer_options
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/demographic_answer_options
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/demographics_answer_options"
    demographics_questions:
      type: DeclarativeStream
      name: demographics_questions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/demographic_questions
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/demographics_questions"
    demographics_answers_answer_options:
      type: DeclarativeStream
      name: demographics_answers_answer_options
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/demographic_answer_options
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
            demographic_question_ids: "{{ stream_partition.parent_id | join(',') if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        partition_router:
          type: GroupingPartitionRouter
          group_size: 50
          deduplicate: true
          underlying_partition_router:
            type: SubstreamPartitionRouter
            parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/demographics_questions"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/demographics_answers_answer_options"
    demographics_question_sets:
      type: DeclarativeStream
      name: demographics_question_sets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/demographic_question_sets
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/demographics_question_sets"
    demographics_question_sets_questions:
      type: DeclarativeStream
      name: demographics_question_sets_questions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/demographic_questions
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
            demographic_question_set_ids: "{{ stream_partition.parent_id | join(',') if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        partition_router:
          type: GroupingPartitionRouter
          group_size: 50
          deduplicate: true
          underlying_partition_router:
            type: SubstreamPartitionRouter
            parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/demographics_question_sets"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/demographics_question_sets_questions"
    departments:
      type: DeclarativeStream
      name: departments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/departments
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/departments"
    jobs:
      type: DeclarativeStream
      name: jobs
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/jobs
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
            updated_at: "{{ 'gte|' ~ stream_interval['start_time'] ~ '|lte|' ~ stream_interval['end_time'] if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        lookback_window: PT1H
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] or '1970-01-01T00:00:00Z' }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/jobs"
    jobs_openings:
      type: DeclarativeStream
      name: jobs_openings
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/openings
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
            job_ids: "{{ stream_partition.parent_id | join(',') if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        partition_router:
          type: GroupingPartitionRouter
          group_size: 50
          deduplicate: true
          underlying_partition_router:
            type: SubstreamPartitionRouter
            parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/jobs"
                incremental_sync:
                  $ref: "#/definitions/full_history_cursor"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/jobs_openings"
    interviews:
      type: DeclarativeStream
      name: interviews
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/interviews
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
            updated_at: "{{ 'gte|' ~ stream_interval['start_time'] ~ '|lte|' ~ stream_interval['end_time'] if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        lookback_window: PT1H
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] or '1970-01-01T00:00:00Z' }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/interviews"
    job_posts:
      type: DeclarativeStream
      name: job_posts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/job_posts
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
            updated_at: "{{ 'gte|' ~ stream_interval['start_time'] ~ '|lte|' ~ stream_interval['end_time'] if not next_page_token }}"
            active: "{{ stream_partition['active'] if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        partition_router:
          type: ListPartitionRouter
          cursor_field: active
          values:
            - "true"
            - "false"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        lookback_window: PT1H
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] or '1970-01-01T00:00:00Z' }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/job_posts"
    job_stages:
      type: DeclarativeStream
      name: job_stages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/job_interview_stages
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
            updated_at: "{{ 'gte|' ~ stream_interval['start_time'] ~ '|lte|' ~ stream_interval['end_time'] if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        lookback_window: PT1H
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] or '1970-01-01T00:00:00Z' }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/job_stages"
    offers:
      type: DeclarativeStream
      name: offers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/offers
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
            updated_at: "{{ 'gte|' ~ stream_interval['start_time'] ~ '|lte|' ~ stream_interval['end_time'] if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        lookback_window: PT1H
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] or '1970-01-01T00:00:00Z' }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/offers"
    rejection_reasons:
      type: DeclarativeStream
      name: rejection_reasons
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/rejection_reasons
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
            include_defaults: "{{ 'true' if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/rejection_reasons"
    scorecards:
      type: DeclarativeStream
      name: scorecards
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/scorecards
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
            updated_at: "{{ 'gte|' ~ stream_interval['start_time'] ~ '|lte|' ~ stream_interval['end_time'] if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/scorecards"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        lookback_window: PT1H
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] or '1970-01-01T00:00:00Z' }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    sources:
      type: DeclarativeStream
      name: sources
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/sources
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sources"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/users
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
            updated_at: "{{ 'gte|' ~ stream_interval['start_time'] ~ '|lte|' ~ stream_interval['end_time'] if not next_page_token }}"
            show_service_accounts: "{{ 'true' if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        lookback_window: PT1H
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] or '1970-01-01T00:00:00Z' }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    activity_feed:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        name: "{{ options['name'] }}"
        primary_key: "{{ options['primary_key'] }}"
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/notes
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
            candidate_ids: "{{ stream_partition.parent_id | join(',') if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: GroupingPartitionRouter
          group_size: 50
          deduplicate: true
          underlying_partition_router:
            type: SubstreamPartitionRouter
            parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/candidates"
                incremental_sync:
                  $ref: "#/definitions/full_history_cursor"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      name: activity_feed
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/activity_feed"
    approvals:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        name: "{{ options['name'] }}"
        primary_key: "{{ options['primary_key'] }}"
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/approval_flows
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      name: approvals
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/approvals"
    disciplines:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        name: "{{ options['name'] }}"
        primary_key: "{{ options['primary_key'] }}"
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/custom_field_options
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
            custom_field_key: "{{ 'discipline' if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      name: disciplines
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/disciplines"
    schools:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        name: "{{ options['name'] }}"
        primary_key: "{{ options['primary_key'] }}"
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/custom_field_options
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
            custom_field_key: "{{ 'school_name' if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      name: schools
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/schools"
    eeoc:
      type: DeclarativeStream
      name: eeoc
      primary_key:
        - application_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/eeoc
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
            submitted_at: "{{ 'gte|' ~ stream_interval['start_time'] ~ '|lte|' ~ stream_interval['end_time'] if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: submitted_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        lookback_window: PT1H
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] or '1970-01-01T00:00:00Z' }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/eeoc"
    email_templates:
      type: DeclarativeStream
      name: email_templates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/email_templates
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
            updated_at: "{{ 'gte|' ~ stream_interval['start_time'] ~ '|lte|' ~ stream_interval['end_time'] if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        lookback_window: PT1H
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] or '1970-01-01T00:00:00Z' }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/email_templates"
    offices:
      type: DeclarativeStream
      name: offices
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/offices
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/offices"
    prospect_pools:
      type: DeclarativeStream
      name: prospect_pools
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/prospect_pools
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/prospect_pools"
    tags:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        name: "{{ options['name'] }}"
        primary_key: "{{ options['primary_key'] }}"
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/candidate_tags
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      name: tags
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    user_roles:
      type: DeclarativeStream
      name: user_roles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/user_roles
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/user_roles"
    user_permissions:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        name: "{{ options['name'] }}"
        primary_key: "{{ options['primary_key'] }}"
        requester:
          $ref: "#/definitions/base_requester"
          url: https://harvest.greenhouse.io/v3/user_job_permissions
          http_method: GET
          request_parameters:
            per_page: "{{ 500 if not next_page_token }}"
            user_ids: "{{ stream_partition.parent_id | join(',') if not next_page_token }}"
          error_handler:
            $ref: "#/definitions/error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: GroupingPartitionRouter
          group_size: 50
          deduplicate: true
          underlying_partition_router:
            type: SubstreamPartitionRouter
            parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/users"
                incremental_sync:
                  $ref: "#/definitions/full_history_cursor"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      name: user_permissions
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/user_permissions"
  base_requester:
    type: HttpRequester
    authenticator:
      type: OAuthAuthenticator
      token_refresh_endpoint: https://auth.greenhouse.io/token
      grant_type: refresh_token
      client_id: "{{ config['credentials']['client_id'] }}"
      client_secret: "{{ config['credentials']['client_secret'] }}"
      refresh_token: "{{ config['credentials']['refresh_token'] }}"
      access_token_name: access_token
      expires_in_name: expires_at
      token_expiry_date_format: "%Y-%m-%dT%H:%M:%S%z"
      refresh_request_headers:
        Authorization: "Basic {{ (config['credentials']['client_id'] + ':' + config['credentials']['client_secret']) | base64encode }}"
        Content-Type: application/x-www-form-urlencoded
      refresh_token_error_status_codes:
        - 400
        - 401
      refresh_token_error_key: error
      refresh_token_error_values:
        - invalid_grant
        - invalid_client
        - unauthorized_client
      refresh_token_updater:
        refresh_token_name: refresh_token
        access_token_config_path:
          - credentials
          - access_token
        refresh_token_config_path:
          - credentials
          - refresh_token
        token_expiry_date_config_path:
          - credentials
          - token_expiry_date

streams:
  - $ref: "#/definitions/streams/applications"
  - $ref: "#/definitions/streams/candidates"
  - $ref: "#/definitions/streams/close_reasons"
  - $ref: "#/definitions/streams/custom_fields"
  - $ref: "#/definitions/streams/custom_field_options"
  - $ref: "#/definitions/streams/degrees"
  - $ref: "#/definitions/streams/demographics_answers"
  - $ref: "#/definitions/streams/demographics_answer_options"
  - $ref: "#/definitions/streams/demographics_questions"
  - $ref: "#/definitions/streams/demographics_answers_answer_options"
  - $ref: "#/definitions/streams/demographics_question_sets"
  - $ref: "#/definitions/streams/demographics_question_sets_questions"
  - $ref: "#/definitions/streams/departments"
  - $ref: "#/definitions/streams/jobs"
  - $ref: "#/definitions/streams/jobs_openings"
  - $ref: "#/definitions/streams/interviews"
  - $ref: "#/definitions/streams/job_posts"
  - $ref: "#/definitions/streams/job_stages"
  - $ref: "#/definitions/streams/offers"
  - $ref: "#/definitions/streams/rejection_reasons"
  - $ref: "#/definitions/streams/scorecards"
  - $ref: "#/definitions/streams/sources"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/activity_feed"
  - $ref: "#/definitions/streams/approvals"
  - $ref: "#/definitions/streams/disciplines"
  - $ref: "#/definitions/streams/schools"
  - $ref: "#/definitions/streams/eeoc"
  - $ref: "#/definitions/streams/email_templates"
  - $ref: "#/definitions/streams/offices"
  - $ref: "#/definitions/streams/prospect_pools"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/user_roles"
  - $ref: "#/definitions/streams/user_permissions"

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: "{{ config.get('num_workers', 2) }}"
  max_concurrency: 8

# Greenhouse publishes no v3 rate-limit ceiling; limits differ between custom and
# partner integrations and must be read from X-RateLimit-Limit response headers.
# 50 requests per 30 seconds is a deliberate undershoot of the only published
# figure (X-RateLimit-Limit: 75); raising it requires an observed header value.
api_budget:
  type: HTTPAPIBudget
  ratelimit_reset_header: X-RateLimit-Reset
  ratelimit_remaining_header: X-RateLimit-Remaining
  status_codes_for_ratelimit_hit: [429]
  policies:
    - type: FixedWindowCallRatePolicy
      call_limit: 50
      period: PT30S
      matchers: []

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - credentials
    properties:
      credentials:
        title: Authentication
        type: object
        order: 0
        oneOf:
          - title: OAuth
            description: Click Authenticate and approve the Greenhouse consent flow as a Site Admin. Airbyte connects through its registered Greenhouse partner application and manages the access and refresh tokens for you; you don't need Greenhouse OAuth credentials of your own.
            type: object
            required:
              - auth_type
              - client_id
              - client_secret
              - refresh_token
            properties:
              auth_type:
                type: string
                const: Client
                order: 0
              client_id:
                type: string
                title: OAuth client ID
                description: Populated automatically by Airbyte from its registered Greenhouse partner application when you authorize above. Greenhouse issues Harvest v3 OAuth credentials only to partners, so you don't need to request or enter one.
                airbyte_secret: true
                order: 1
              client_secret:
                type: string
                title: OAuth client secret
                description: Populated automatically by Airbyte from its registered Greenhouse partner application when you authorize above. Greenhouse issues Harvest v3 OAuth credentials only to partners, so you don't need to request or enter one.
                airbyte_secret: true
                order: 2
              refresh_token:
                type: string
                title: Refresh token
                description: The refresh token obtained from the Greenhouse authorization code exchange. Populated automatically when you authorize above.
                order: 3
                airbyte_secret: true
              access_token:
                type: string
                title: Access token
                airbyte_secret: true
                order: 4
              token_expiry_date:
                type: string
                title: Token expiry date
                format: date-time
                order: 5
      start_date:
        type: string
        title: Start date
        description: >-
          UTC date and time in the format YYYY-MM-DDTHH:MM:SSZ. Records updated
          before this date will not be replicated. If omitted, the connector
          replicates all history.
        format: date-time
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
        examples:
          - "2024-01-01T00:00:00Z"
        order: 1
      num_workers:
        type: integer
        title: Number of concurrent threads
        description: >-
          The number of worker threads to use for syncing. Greenhouse publishes no
          Harvest v3 rate-limit ceiling, so the default is conservative and all
          threads share a single budget. Increase this only if your Greenhouse
          account can support higher API usage, or lower it if you see rate-limit
          errors.
        minimum: 1
        maximum: 8
        default: 2
        examples:
          - 1
          - 2
          - 3
        order: 2
    additionalProperties: true
  advanced_auth:
    auth_flow_type: oauth2.0
    predicate_key:
      - credentials
      - auth_type
    predicate_value: Client
    oauth_config_specification:
      oauth_connector_input_specification:
        consent_url: >-
          https://auth.greenhouse.io/authorize?client_id={{client_id_value}}&redirect_uri={{redirect_uri_value}}&response_type=code&state={{state_value}}&{{scopes_param}}
        scope: >-
          harvest:applications:list harvest:approval_flows:list harvest:candidate_tags:list harvest:candidates:list harvest:close_reasons:list harvest:custom_field_options:list harvest:custom_fields:list harvest:demographic_answer_options:list harvest:demographic_answers:list harvest:demographic_question_sets:list harvest:demographic_questions:list harvest:departments:list harvest:eeoc:list harvest:email_templates:list harvest:interviews:list harvest:job_interview_stages:list harvest:job_posts:list harvest:jobs:list harvest:notes:list harvest:offers:list harvest:offices:list harvest:openings:list harvest:prospect_pools:list harvest:rejection_reasons:list harvest:scorecards:list harvest:sources:list harvest:user_job_permissions:list harvest:user_roles:list harvest:users:list
        access_token_url: https://auth.greenhouse.io/token
        access_token_headers:
          Authorization: "Basic {{ (client_id_value ~ ':' ~ client_secret_value) | b64encode }}"
          Content-Type: application/x-www-form-urlencoded
        access_token_params:
          grant_type: authorization_code
          code: "{{ auth_code_value }}"
          redirect_uri: "{{ redirect_uri_value }}"
        extract_output:
          - access_token
          - refresh_token
          - expires_at
      complete_oauth_output_specification:
        required:
          - refresh_token
        properties:
          refresh_token:
            type: string
            path_in_connector_config:
              - credentials
              - refresh_token
          access_token:
            type: string
            path_in_connector_config:
              - credentials
              - access_token
          expires_at:
            type: string
            format: date-time
            path_in_connector_config:
              - credentials
              - token_expiry_date
      complete_oauth_server_input_specification:
        required:
          - client_id
          - client_secret
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        required:
          - client_id
          - client_secret
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - credentials
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - credentials
              - client_secret

metadata:
  autoImportSchema:
    applications: false
    candidates: false
    close_reasons: false
    custom_fields: false
    custom_field_options: false
    degrees: false
    demographics_answers: false
    demographics_answer_options: false
    demographics_questions: false
    demographics_answers_answer_options: false
    demographics_question_sets: false
    demographics_question_sets_questions: false
    departments: false
    jobs: false
    jobs_openings: false
    interviews: false
    job_posts: false
    job_stages: false
    offers: false
    rejection_reasons: false
    scorecards: false
    sources: false
    users: false
    activity_feed: false
    approvals: false
    disciplines: false
    schools: false
    eeoc: false
    email_templates: false
    offices: false
    prospect_pools: false
    tags: false
    user_roles: false
    user_permissions: false
  testedStreams:
    applications:
      streamHash: 7bd14e087c4f48d31249a151798c9ab00889959c
    candidates:
      streamHash: 7423f20897fde7e77a9f82b9419f49ea3cb5d5ff
    close_reasons:
      streamHash: 63e485c7ce3af8952dd1b8a940a2e02191b95872
    custom_fields:
      streamHash: b067a3cab42883ef08c62bdb45d1bf7363473b22
    degrees:
      streamHash: c428a2b3056b3a889857a1bfd101065553a186fd
    demographics_answers:
      streamHash: f25db53db946444dfa3b5cf61aadd763a76914c1
    demographics_answer_options:
      streamHash: 7c1561f1f4a4adb7c4c077ac4f9653f886d4c95a
    demographics_questions:
      streamHash: 1aeec4dac19bad3d438ddb161dd3fcdd497969d4
    demographics_answers_answer_options:
      streamHash: 04aced9a64c6371a4a38286574415789150217d1
    demographics_question_sets:
      streamHash: e195a81dbcf2985f980463114b36268706a8a2b0
    demographics_question_sets_questions:
      streamHash: 794aa67ff222ea9328478231dbe94df312ed1ce7
    departments:
      streamHash: 9fbf30bdf09971096e7311f61702561e0c7bb8d7
    jobs:
      streamHash: d24b16a739a86b163206d750811983c15909028b
    jobs_openings:
      streamHash: b132d760e6aeaa2fdfee5e4e8c7dedb1aae917c6
    interviews:
      streamHash: 5aedad64562f6c8f70b6c3c2ba66705fa758d78e
    job_posts:
      streamHash: edffe9483bfcc307ead8a4a3bbf501ceb5b8f64c
    job_stages:
      streamHash: e1befca76321a391c1702a7e8bdc5926c91fe8f2
    offers:
      streamHash: ded8043d87f68d9ab4ef0e81ed53492049616acc
    rejection_reasons:
      streamHash: 60dcc7cb5b2fceeb338db943166b3261f1ec7e29
    scorecards:
      streamHash: 9c5d6220ce6ee2ed8c4d37aa8d7bd11bff72c61b
    sources:
      streamHash: 3709e28ce6032626813439be72c025246de4620a
    users:
      streamHash: 1619dcb22d9fb2b9b2de39915362905b776a1c35
    activity_feed:
      streamHash: d59b904ec216cdeb098c64921bd35d4879bcef81
    approvals:
      streamHash: 06d83e4437877879f8115274030a4947321b46d3
    disciplines:
      streamHash: b3329b840047b833fea7c6053569c0917ef9225c
    schools:
      streamHash: 543110605b6ed17acf0bbf121b55dc046bd9d40d
    eeoc:
      streamHash: 3ecd11a597de11a93786e2c5bba5f6ac95275791
    email_templates:
      streamHash: 33a29c34126bf5ea7c600b95dcba27f205658ce7
    offices:
      streamHash: 9ae47305792bf238745a9a39ad681553e17e7780
    prospect_pools:
      streamHash: fae74131ea16dd0f89fef0a21d525988604922e0
    tags:
      streamHash: 9036ac8c96cdcea7ba16b4a57ca3a20c527a8788
    user_roles:
      streamHash: 21d0f81689b1357cecaf734eec2c44e2abdc2c49
    user_permissions:
      streamHash: d9724d070a57b59e7bdf947cd2751205a8437a2b
  assist: {}

schemas:
  applications:
    type:
    - 'null'
    - object
    $schema: https://json-schema.org/draft-07/schema
    additionalProperties: true
    properties:
      agency_note_id:
        description: Id of the note created when the candidate was submitted by an agency, or `null` if the application did not come through an agency.
        type:
        - 'null'
        - integer
      answers:
        description: Free-text answers the candidate provided on the job post application form. Each entry pairs the question text with the candidate's answer.
        type:
        - 'null'
        - array
        items:
          type:
          - 'null'
          - object
          properties:
            answer:
              description: Candidate's free-text answer to the question.
              type:
              - 'null'
              - string
            question:
              description: Application-form question the candidate answered.
              type:
              - 'null'
              - string
      candidate_id:
        description: Id of the candidate (person) this application belongs to.
        type:
        - 'null'
        - integer
      coordinator_id:
        description: Id of the user assigned as coordinator on the application's job, or `null` when unassigned.
        type:
        - 'null'
        - integer
      created_at:
        type:
        - 'null'
        - string
        format: date-time
      custom_fields:
        description: Org-defined custom fields keyed by the field's `name_key`. Each value carries the field's display `name`, its `type`, and its `value`.
        type:
        - 'null'
        - object
        additionalProperties:
          type: object
          properties:
            name:
              type:
              - 'null'
              - string
            type:
              type:
              - 'null'
              - string
            value:
              type:
              - 'null'
              - string
              - number
              - integer
              - boolean
              - object
              - array
      id:
        type:
        - 'null'
        - integer
      job_id:
        description: Id of the job this application is on. `null` for jobless prospect applications.
        type:
        - 'null'
        - integer
      job_interview_stage_id:
        description: Id of the job interview stage definition (see `GET /v3/job_interview_stages`) the candidate is currently in for this application. `null` for prospect applications and applications in a terminal state.
        type:
        - 'null'
        - integer
      job_post_id:
        description: Id of the job post the candidate applied through, or `null` if the application was created internally rather than from a posted role.
        type:
        - 'null'
        - integer
      last_activity_at:
        description: Timestamp of the most recent activity on this application (notes, emails, stage changes, etc.), in ISO 8601.
        type:
        - 'null'
        - string
        format: date-time
      location_address:
        description: Free-form location string captured on the application (typically from the job post's location question).
        type:
        - 'null'
        - string
      needs_decision:
        description: '`true` when the application is waiting on a hiring-team decision (scorecard completion, advance/reject, etc.) in its current stage.'
        type:
        - 'null'
        - boolean
      prospect:
        description: '`true` for prospect applications (sourced candidates not yet attached to a single job), `false` for candidate applications on a specific job.'
        type:
        - 'null'
        - boolean
      prospective_job_ids:
        description: For prospect applications, the ids of jobs the prospect is being considered for. Empty for non-prospect applications and for jobless prospects.
        type:
        - 'null'
        - array
        items:
          type:
          - 'null'
          - integer
      recruiter_id:
        description: Id of the user assigned as recruiter on the application's job, or `null` when unassigned.
        type:
        - 'null'
        - integer
      referrer_id:
        description: Id of the referrer who credited this application, or `null` if there was no referral. References a referrer, not a Greenhouse user.
        type:
        - 'null'
        - integer
      rejected_at:
        description: Timestamp the application was rejected, in ISO 8601. `null` for applications that have not been rejected.
        type:
        - 'null'
        - string
        format: date-time
      rejection_reason_id:
        description: Id of the rejection reason selected for the application. References a `/v3/rejection_reasons` row scoped to the organization. `null` when the application was rejected without a reason, or has not been rejected.
        type:
        - 'null'
        - integer
      source_id:
        description: Id of the source the application is attributed to (e.g. a job board, an event, an employee referral source). `null` if no source is set.
        type:
        - 'null'
        - integer
      stage_id:
        description: Id of the interview stage the candidate is currently in for this application. `null` for prospect applications and applications in a terminal state.
        type:
        - 'null'
        - integer
      stage_name:
        description: Display name of the candidate's current interview stage on this application.
        type:
        - 'null'
        - string
      status:
        description: Lifecycle status of the application. `in_process` for active candidates, `rejected` for rejected applications, `hired` once an offer is closed and the hire endpoint has fired, and `converted` for prospect applications that have been promoted to a candidate application via `convert_to_candidate`.
        type:
        - 'null'
        - string
      updated_at:
        type:
        - 'null'
        - string
        format: date-time
  candidates:
    type:
    - 'null'
    - object
    $schema: https://json-schema.org/draft-07/schema
    additionalProperties: true
    properties:
      addresses:
        description: Postal addresses on the candidate's profile. Each entry pairs the `value` with a `type` such as `home`, `work`, or `other`.
        type:
        - 'null'
        - array
        items:
          type:
          - 'null'
          - object
          properties:
            type:
              type:
              - 'null'
              - string
            value:
              type:
              - 'null'
              - string
      can_email:
        description: Whether this candidate has consented to receive email communication from your organization.
        type:
        - 'null'
        - boolean
      company:
        description: Candidate's current company, as entered on their profile.
        type:
        - 'null'
        - string
      created_at:
        type:
        - 'null'
        - string
        format: date-time
      custom_fields:
        description: Org-defined custom fields keyed by the field's `name_key`. Each value carries the field's display `name`, its `type`, and its `value`.
        type:
        - 'null'
        - object
        additionalProperties:
          type: object
          properties:
            name:
              type:
              - 'null'
              - string
            type:
              type:
              - 'null'
              - string
            value:
              type:
              - 'null'
              - string
              - number
              - integer
              - boolean
              - object
              - array
      email_addresses:
        description: Email addresses on the candidate's profile. Each entry pairs the `value` with a `type` such as `personal`, `work`, or `other`.
        type:
        - 'null'
        - array
        items:
          type:
          - 'null'
          - object
          properties:
            type:
              type:
              - 'null'
              - string
            value:
              type:
              - 'null'
              - string
      first_name:
        type:
        - 'null'
        - string
      id:
        type:
        - 'null'
        - integer
      last_activity_at:
        description: Timestamp of the most recent activity on any of the candidate's applications (notes, emails, stage changes, etc.), in ISO 8601.
        type:
        - 'null'
        - string
        format: date-time
      last_name:
        type:
        - 'null'
        - string
      linked_user_ids:
        description: Ids of Greenhouse users linked to this candidate (employees represented by both a user record and a candidate record).
        type:
        - 'null'
        - array
        items:
          type:
          - 'null'
          - integer
      phone_numbers:
        description: Phone numbers on the candidate's profile. Each entry pairs the `value` with a `type` such as `mobile`, `home`, `work`, `skype`, or `other`.
        type:
        - 'null'
        - array
        items:
          type:
          - 'null'
          - object
          properties:
            type:
              type:
              - 'null'
              - string
            value:
              type:
              - 'null'
              - string
      preferred_name:
        description: Preferred or chosen name the candidate goes by, when different from their legal first name.
        type:
        - 'null'
        - string
      private:
        description: If true, the candidate is restricted to users with `View Private Candidates` access. Defaults to `false`.
        type:
        - 'null'
        - boolean
      social_media_addresses:
        description: "Social media handles or URLs on the candidate's profile. Social entries are untyped \u2014 only the `value` is returned."
        type:
        - 'null'
        - array
        items:
          type:
          - 'null'
          - object
          properties:
            value:
              type:
              - 'null'
              - string
      tags:
        description: Candidate tag names applied to this candidate within your organization.
        type:
        - 'null'
        - array
        items:
          type:
          - 'null'
          - string
      time_zone:
        description: Candidate's time zone as a Rails-style identifier (for example `Eastern Time (US & Canada)`).
        type:
        - 'null'
        - string
      title:
        description: Candidate's current job title, as entered on their profile.
        type:
        - 'null'
        - string
      updated_at:
        type:
        - 'null'
        - string
        format: date-time
      website_addresses:
        description: Personal websites or portfolio URLs on the candidate's profile. Each entry pairs the `value` with a `type` such as `personal`, `company`, `portfolio`, `blog`, or `other`.
        type:
        - 'null'
        - array
        items:
          type:
          - 'null'
          - object
          properties:
            type:
              type:
              - 'null'
              - string
            value:
              type:
              - 'null'
              - string
  close_reasons:
    type:
    - 'null'
    - object
    $schema: https://json-schema.org/draft-07/schema
    additionalProperties: true
    properties:
      created_at:
        type:
        - 'null'
        - string
        format: date-time
      id:
        type:
        - 'null'
        - integer
      name:
        description: Display label shown to recruiters and hiring managers when closing an opening (e.g. `Hire - New Headcount`, `Hire - Backfill`, `On Hold`, `Not Filling`). Unique within the organization. Names that start with `Hire -` are treated as hire outcomes in Greenhouse reporting; other names are non-hire outcomes. Free-text, since each organization customizes its own list under Configure > Custom Options > Close Reasons for Job Openings.
        type:
        - 'null'
        - string
      updated_at:
        type:
        - 'null'
        - string
        format: date-time
  custom_fields:
    type:
    - 'null'
    - object
    $schema: https://json-schema.org/draft-07/schema
    additionalProperties: true
    properties:
      active:
        description: "`true` when the field is in use; `false` after archival. Archived fields are still returned by default \u2014 pass `active=true` on `/v3/custom_fields` to filter to live fields only."
        type:
        - 'null'
        - boolean
      api_only:
        description: "Job fields only. If `true`, the field can only be edited through Harvest API calls \u2014 the UI renders it read-only. Mutually exclusive with `required`."
        type:
        - 'null'
        - boolean
      application_type:
        description: 'Application fields only. Restricts which applications the field appears on: `all_applications`, `candidate_applications` (applicants), or `prospect_applications`. `null` for non-application fields.'
        type:
        - 'null'
        - string
      created_at:
        type:
        - 'null'
        - string
        format: date-time
      default_value:
        description: Default value applied when a new parent record is created without an explicit value for this field. Shape varies by `value_type` (string for text/url, number for currency/number, option id for single_select, ISO 8601 for date).
        type:
        - 'null'
        - object
        - string
        - number
        - boolean
      description:
        description: Helper text shown beneath the field label in the UI. Plain text, no markup.
        type:
        - 'null'
        - string
      expose_in_job_board_api:
        description: Job fields only. If `true`, the field's value is exposed on the public Job Board API alongside the job listing.
        type:
        - 'null'
        - boolean
      field_type:
        description: Resource this field attaches to. Drives which create/update request shape applies and which endpoints accept the field as a `custom_fields` value (e.g. `job` fields appear on `/v3/jobs`, `candidate` fields on `/v3/candidates`).
        type:
        - 'null'
        - string
      id:
        type:
        - 'null'
        - integer
      internal_type:
        description: Greenhouse-managed semantic role for system-supplied fields (`employment_type`, `offer_documents`, `start_date`, `school_name`, `degree`, `discipline`, `offer_opening`). `null` for org-defined custom fields.
        type:
        - 'null'
        - string
      name:
        description: Human-readable label shown to recruiters and hiring managers (e.g. `Cost Center`, `Start Date`). Unique among active fields of the same `field_type`.
        type:
        - 'null'
        - string
      name_key:
        description: "Stable lowercase identifier derived from `name` (e.g. `Cost Center` \u2192 `cost_center`). Use this \u2014 not `id` \u2014 as the canonical key when setting values via `custom_fields` on `/v3/jobs`, `/v3/offers`, `/v3/candidates`, and similar write endpoints."
        type:
        - 'null'
        - string
      placeholder:
        description: Greyed-out hint text shown inside an empty field input in the UI.
        type:
        - 'null'
        - string
      private:
        description: If `true`, only users granted the matching `View Private` permission can see or edit this field's values.
        type:
        - 'null'
        - boolean
      require_approval:
        description: Job and opening fields only. If `true`, edits to this field's value route through the job's approval workflow before taking effect.
        type:
        - 'null'
        - boolean
      required:
        description: If `true`, a value must be supplied before the parent resource (job, offer, application, etc.) can be saved through the UI. The API still accepts blank values; enforcement happens at the form layer.
        type:
        - 'null'
        - boolean
      sort_order:
        description: Display priority within the field group on this `field_type`. Lower values render first; alias of `priority` in V1/V2.
        type:
        - 'null'
        - integer
      template_token_string:
        description: Merge token usable in offer letter templates (e.g. `{{CUSTOM_FIELD_NAME}}`). Returned for offer fields configured with a token; `null` otherwise.
        type:
        - 'null'
        - string
      trigger_new_version:
        description: Offer fields only. If `true`, changing this field's value on an existing offer creates a new offer version rather than mutating the current one in place.
        type:
        - 'null'
        - boolean
      updated_at:
        type:
        - 'null'
        - string
        format: date-time
      updated_by_id:
        description: Id of the Greenhouse user who last edited the field definition, or `null` if no edit has been recorded.
        type:
        - 'null'
        - integer
      use_for_job_approvals:
        description: Job fields only. If `true`, the field is included on the job-approval form so approvers see its value when reviewing the job.
        type:
        - 'null'
        - boolean
      use_for_offer_approvals:
        description: Job fields only. If `true`, the field's value flows onto the offer-approval form for jobs that route offers through approvals.
        type:
        - 'null'
        - boolean
      value_type:
        description: "Data type and editor. `short_text`, `long_text`, `yes_no`, `single_select`, `multi_select`, `currency`, `currency_range`, `number`, `number_range`, `date`, `url`, `user`, `attachment`, `rich_text`, and the `*_hris` masked-PII variants. Only `single_select` and `multi_select` carry options \u2014 fetch them from `/v3/custom_field_options?custom_field_ids={id}`."
        type:
        - 'null'
        - string
  custom_field_options:
    type:
    - 'null'
    - object
    $schema: https://json-schema.org/draft-07/schema
    additionalProperties: true
    properties:
      active:
        description: "`true` while the option is selectable. Set to `false` after deletion -- historical selections are preserved so the value still resolves on existing records."
        type:
        - 'null'
        - boolean
      created_at:
        type:
        - 'null'
        - string
        format: date-time
      custom_field_id:
        description: Id of the parent custom field this option belongs to. Only fields with `value_type` of `single_select` or `multi_select` carry options.
        type:
        - 'null'
        - integer
      external_id:
        description: Caller-supplied identifier from the partner's source system (typically an HRIS row id). Persisted verbatim and not interpreted by Greenhouse.
        type:
        - 'null'
        - string
      id:
        type:
        - 'null'
        - integer
      name:
        description: Display label shown in dropdowns. Unique among active options on the same parent custom field.
        type:
        - 'null'
        - string
      sort_order:
        description: Display position within the parent custom field's dropdown. Alias of `priority` in V1/V2.
        type:
        - 'null'
        - integer
      updated_at:
        type:
        - 'null'
        - string
        format: date-time
  degrees:
    type:
    - 'null'
    - object
    $schema: https://json-schema.org/draft-07/schema
    additionalProperties: true
    properties:
      active:
        description: "`true` while the option is selectable. Set to `false` after deletion \u2014 historical selections on candidates, jobs, and offers are preserved so the value still resolves on existing records."
        type:
        - 'null'
        - boolean
      created_at:
        type:
        - 'null'
        - string
        format: date-time
      custom_field_id:
        description: Id of the parent custom field this option belongs to. Only fields with `value_type` of `single_select` or `multi_select` carry options.
        type:
        - 'null'
        - integer
      external_id:
        description: Caller-supplied identifier from the partner's source system (typically an HRIS row id or legacy ATS id). Persisted verbatim as the column `offsite_hris_id` and not interpreted by Greenhouse.
        type:
        - 'null'
        - string
      id:
        type:
        - 'null'
        - integer
      name:
        description: Display label shown to recruiters and hiring managers in dropdowns (e.g. `Engineering`, `Bachelor's`, `Stanford University`). Unique among active options on the same parent custom field.
        type:
        - 'null'
        - string
      sort_order:
        description: Display position within the parent custom field's dropdown. Lower values render first; ties fall back to insertion order. Alias of `priority` in V1/V2.
        type:
        - 'null'
        - integer
      updated_at:
        type:
        - 'null'
        - string
        format: date-time
  demographics_answers:
    type:
    - 'null'
    - object
    $schema: https://json-schema.org/draft-07/schema
    additionalProperties: true
    properties:
      application_id:
        description: Id of the application this answer was submitted on. Demographic answers are scoped to a single application; if the same candidate applies to another job they re-answer the questionnaire and a new set of answers is created.
        type:
        - 'null'
        - integer
      created_at:
        type:
        - 'null'
        - string
        format: date-time
      demographic_answer_option_id:
        description: Id of the `demographic_answer_option` the applicant selected. `null` when the applicant skipped the question, when the question is multi-select and this row carries only the free-form text, or when the option has since been hard-deleted. For multi-select questions one row is returned per chosen option.
        type:
        - 'null'
        - integer
      demographic_question_id:
        description: Id of the `demographic_question` this answer responds to. One application produces at most one row per question per `demographic_answer_option`.
        type:
        - 'null'
        - integer
      free_form_text:
        description: "Applicant-supplied text for `free_form` answer options (e.g. an `Other \u2014 please describe` choice). `null` when the selected option is not marked free-form or when no text was entered. Highly sensitive self-identification data \u2014 handle with the same care as EEOC responses."
        type:
        - 'null'
        - string
      id:
        type:
        - 'null'
        - integer
      updated_at:
        type:
        - 'null'
        - string
        format: date-time
  demographics_answer_options:
    type:
    - 'null'
    - object
    $schema: https://json-schema.org/draft-07/schema
    additionalProperties: true
    properties:
      active:
        description: "`true` while the option is still selectable by applicants; `false` after it has been soft-removed. Inactive options are returned by default \u2014 pass `active=true` to filter to live options only. Past `demographic_answers` continue to reference inactive rows so historical applicant submissions stay readable."
        type:
        - 'null'
        - boolean
      created_at:
        type:
        - 'null'
        - string
        format: date-time
      decline_to_answer:
        description: '`true` when this option represents a structured `I don''t wish to answer` choice; prefer this flag over matching on `name` when classifying declines. `null` on custom-organization options where the flag was never set; treat `null` as not a decline.'
        type:
        - 'null'
        - boolean
      demographic_question_id:
        description: Id of the parent `demographic_question` this option belongs to. Options are scoped to a single question and never shared across questions.
        type:
        - 'null'
        - integer
      free_form:
        description: If `true`, selecting this option prompts the applicant for a free-text response (e.g. an `I prefer to self-describe` choice). The free-text content itself is not exposed via Harvest.
        type:
        - 'null'
        - boolean
      id:
        type:
        - 'null'
        - integer
      name:
        description: Display label shown to applicants in the answer list (e.g. `Non-binary`, `I prefer to self-describe`). `null` on standard Greenhouse-supplied options whose label is rendered from a localized template rather than this column.
        type:
        - 'null'
        - string
      sort_order:
        description: Display position within the parent question's choice list, ascending. Lower values render first; aliased from the underlying `priority` column.
        type:
        - 'null'
        - integer
      updated_at:
        type:
        - 'null'
        - string
        format: date-time
  demographics_questions:
    type:
    - 'null'
    - object
    $schema: https://json-schema.org/draft-07/schema
    additionalProperties: true
    properties:
      active:
        description: "`true` when the question is in use on its set; `false` after it has been soft-removed. Inactive questions are returned by default \u2014 pass `active=true` to filter to live questions only. Past `demographic_answers` continue to reference inactive rows so historical applicant submissions stay readable."
        type:
        - 'null'
        - boolean
      answer_type:
        description: Shape of the answer the applicant can submit. `multi_value_single_select` is a single-choice question; `multi_value_multi_select` lets the applicant pick more than one option. Both types draw their choices from `/v3/demographic_answer_options?demographic_question_id={id}`. Free-text demographic questions are not supported.
        type:
        - 'null'
        - string
      created_at:
        type:
        - 'null'
        - string
        format: date-time
      demographic_question_set_id:
        description: Id of the `demographic_question_set` this question belongs to. A set is what gets attached to a job post or candidate survey; questions are scoped to one set and never shared across sets. `null` for legacy questions not yet associated with a set.
        type:
        - 'null'
        - integer
      id:
        type:
        - 'null'
        - integer
      name:
        description: Prompt text shown to applicants (e.g. `How would you describe your gender identity?`). `null` on standard Greenhouse-supplied questions where the displayed prompt is rendered by the candidate-facing application from a localized template rather than this column.
        type:
        - 'null'
        - string
      required:
        description: If `true`, applicants must select an answer (or the auto-added `I don't wish to answer` option) before submitting the application. Standard Greenhouse-supplied questions return `null` since their requiredness is controlled at the question-set level.
        type:
        - 'null'
        - boolean
      sort_order:
        description: Position of this question within its `demographic_question_set`, ascending. Lower values render first; aliased from the underlying `priority` column.
        type:
        - 'null'
        - integer
      updated_at:
        type:
        - 'null'
        - string
        format: date-time
  demographics_answers_answer_options:
    type:
    - 'null'
    - object
    $schema: https://json-schema.org/draft-07/schema
    additionalProperties: true
    properties:
      active:
        description: "`true` while the option is still selectable by applicants; `false` after it has been soft-removed. Inactive options are returned by default \u2014 pass `active=true` to filter to live options only. Past `demographic_answers` continue to reference inactive rows so historical applicant submissions stay readable."
        type:
        - 'null'
        - boolean
      created_at:
        type:
        - 'null'
        - string
        format: date-time
      decline_to_answer:
        description: '`true` when this option represents a structured `I don''t wish to answer` choice; prefer this flag over matching on `name` when classifying declines. `null` on custom-organization options where the flag was never set; treat `null` as not a decline.'
        type:
        - 'null'
        - boolean
      demographic_question_id:
        description: Id of the parent `demographic_question` this option belongs to. Options are scoped to a single question and never shared across questions.
        type:
        - 'null'
        - integer
      free_form:
        description: If `true`, selecting this option prompts the applicant for a free-text response (e.g. an `I prefer to self-describe` choice). The free-text content itself is not exposed via Harvest.
        type:
        - 'null'
        - boolean
      id:
        type:
        - 'null'
        - integer
      name:
        description: Display label shown to applicants in the answer list (e.g. `Non-binary`, `I prefer to self-describe`). `null` on standard Greenhouse-supplied options whose label is rendered from a localized template rather than this column.
        type:
        - 'null'
        - string
      sort_order:
        description: Display position within the parent question's choice list, ascending. Lower values render first; aliased from the underlying `priority` column.
        type:
        - 'null'
        - integer
      updated_at:
        type:
        - 'null'
        - string
        format: date-time
  demographics_question_sets:
    type:
    - 'null'
    - object
    $schema: https://json-schema.org/draft-07/schema
    additionalProperties: true
    properties:
      active:
        description: "`true` for sets currently in use; `false` after the set has been soft-removed (which also marks its `demographic_questions` inactive). Inactive sets are returned by default \u2014 pass `active=true` to filter to live sets only. Past applications continue to reference inactive sets so historical demographic responses stay readable."
        type:
        - 'null'
        - boolean
      created_at:
        type:
        - 'null'
        - string
        format: date-time
      description:
        description: External-facing copy shown to applicants above the questions on a job post or candidate survey, explaining why the organization is collecting this data. Required once any question in the set is marked `required`; otherwise optional.
        type:
        - 'null'
        - string
      enabled:
        description: Whether the set is available for selection on new job posts and candidate surveys. `true` and `null` both mean enabled (legacy rows predate the column and are treated as enabled); pass `enabled=false` to filter to sets the organization has explicitly disabled.
        type:
        - 'null'
        - boolean
      id:
        type:
        - 'null'
        - integer
      title:
        description: Name of the demographic question set, unique within the organization among active sets. Used as the section header for the grouping when the set is attached to a job post or candidate survey.
        type:
        - 'null'
        - string
      updated_at:
        type:
        - 'null'
        - string
        format: date-time
  demographics_question_sets_questions:
    type:
    - 'null'
    - object
    $schema: https://json-schema.org/draft-07/schema
    additionalProperties: true
    properties:
      active:
        description: "`true` when the question is in use on its set; `false` after it has been soft-removed. Inactive questions are returned by default \u2014 pass `active=true` to filter to live questions only. Past `demographic_answers` continue to reference inactive rows so historical applicant submissions stay readable."
        type:
        - 'null'
        - boolean
      answer_type:
        description: Shape of the answer the applicant can submit. `multi_value_single_select` is a single-choice question; `multi_value_multi_select` lets the applicant pick more than one option. Both types draw their choices from `/v3/demographic_answer_options?demographic_question_id={id}`. Free-text demographic questions are not supported.
        type:
        - 'null'
        - string
      created_at:
        type:
        - 'null'
        - string
        format: date-time
      demographic_question_set_id:
        description: Id of the `demographic_question_set` this question belongs to. A set is what gets attached to a job post or candidate survey; questions are scoped to one set and never shared across sets. `null` for legacy questions not yet associated with a set.
        type:
        - 'null'
        - integer
      id:
        type:
        - 'null'
        - integer
      name:
        description: Prompt text shown to applicants (e.g. `How would you describe your gender identity?`). `null` on standard Greenhouse-supplied questions where the displayed prompt is rendered by the candidate-facing application from a localized template rather than this column.
        type:
        - 'null'
        - string
      required:
        description: If `true`, applicants must select an answer (or the auto-added `I don't wish to answer` option) before submitting the application. Standard Greenhouse-supplied questions return `null` since their requiredness is controlled at the question-set level.
        type:
        - 'null'
        - boolean
      sort_order:
        description: Position of this question within its `demographic_question_set`, ascending. Lower values render first; aliased from the underlying `priority` column.
        type:
        - 'null'
        - integer
      updated_at:
        type:
        - 'null'
        - string
        format: date-time
  departments:
    type:
    - 'null'
    - object
    $schema: https://json-schema.org/draft-07/schema
    additionalProperties: true
    properties:
      created_at:
        type:
        - 'null'
        - string
        format: date-time
      external_id:
        description: Partner-supplied identifier for the department, typically the matching id from an HRIS or other external system. Free-form string and `null` when no external id has been set.
        type:
        - 'null'
        - string
      id:
        type:
        - 'null'
        - integer
      name:
        description: Display name of the department (e.g. `Engineering`, `Marketing`).
        type:
        - 'null'
        - string
      parent_id:
        description: Id of the parent department in the organization's department tree. `null` for top-level departments. References another `/v3/departments` row.
        type:
        - 'null'
        - integer
      updated_at:
        type:
        - 'null'
        - string
        format: date-time
  jobs:
    type:
    - 'null'
    - object
    $schema: https://json-schema.org/draft-07/schema
    additionalProperties: true
    properties:
      closed_at:
        description: Timestamp the job most recently transitioned to `closed`, in ISO 8601. `null` for jobs that are still `open` or `draft`.
        type:
        - 'null'
        - string
        format: date-time
      confidential:
        description: "If `true`, the job is restricted to users explicitly granted access on the Hiring Team. The legacy Confidential Jobs feature has been sunset \u2014 this flag cannot be set on new jobs and is preserved for jobs that already had it enabled."
        type:
        - 'null'
        - boolean
      copied_from_id:
        description: Id of the job (typically a template) this job was copied from on creation. `null` when the job was not created from another job.
        type:
        - 'null'
        - integer
      created_at:
        type:
        - 'null'
        - string
        format: date-time
      custom_fields:
        description: Org-defined custom fields keyed by the field's `name_key`. Each value carries the field's display `name`, its `type`, and its `value`.
        type:
        - 'null'
        - object
        additionalProperties:
          type: object
          properties:
            name:
              type:
              - 'null'
              - string
            type:
              type:
              - 'null'
              - string
            value:
              type:
              - 'null'
              - string
              - number
              - integer
              - boolean
              - object
              - array
      department_id:
        description: Id of the department this job is assigned to. `null` when no department is set.
        type:
        - 'null'
        - integer
      id:
        type:
        - 'null'
        - integer
      is_template:
        description: If `true`, this job is a template used as the source for new jobs rather than a real requisition. Templates do not accept applications; reference them via `template_job_id` on `POST /v3/jobs`.
        type:
        - 'null'
        - boolean
      name:
        description: Internal job title shown to the hiring team in Greenhouse (e.g. `Senior Backend Engineer`). Distinct from the external-facing title on each `job_post`.
        type:
        - 'null'
        - string
      notes:
[...]
