version: 6.56.7

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  streams:
    applications:
      type: DeclarativeStream
      name: applications
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: applications
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: applied_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1970-01-01T00:00:00.000Z"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_time_option:
          type: RequestOption
          field_name: created_after
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/applications"
    applications_demographics_answers:
      type: DeclarativeStream
      state_migrations:
        - type: CustomStateMigration
          class_name: source_declarative_manifest.components.GreenhouseStateMigration
      name: applications_demographics_answers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: applications/{{ stream_partition.application_id }}/demographics/answers
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: application_id
              stream:
                $ref: "#/definitions/streams/applications"
              incremental_dependency: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1970-01-01T00:00:00.000Z"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_time_option:
          type: RequestOption
          field_name: updated_after
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/applications_demographics_answers"
    applications_interviews:
      type: DeclarativeStream
      state_migrations:
        - type: CustomStateMigration
          class_name: source_declarative_manifest.components.GreenhouseStateMigration
      name: applications_interviews
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: applications/{{ stream_partition.application_id }}/scheduled_interviews
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: application_id
              stream:
                $ref: "#/definitions/streams/applications"
              incremental_dependency: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1970-01-01T00:00:00.000Z"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_time_option:
          type: RequestOption
          field_name: updated_after
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/applications_interviews"
    candidates:
      type: DeclarativeStream
      name: candidates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: candidates
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1970-01-01T00:00:00.000Z"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_time_option:
          type: RequestOption
          field_name: updated_after
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/candidates"
    close_reasons:
      type: DeclarativeStream
      name: close_reasons
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: close_reasons
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/close_reasons"
    custom_fields:
      type: DeclarativeStream
      name: custom_fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: custom_fields
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_fields"
    degrees:
      type: DeclarativeStream
      name: degrees
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: degrees
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/degrees"
    demographics_answers:
      type: DeclarativeStream
      name: demographics_answers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: demographics/answers
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1970-01-01T00:00:00.000Z"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_time_option:
          type: RequestOption
          field_name: updated_after
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/demographics_answers"
    demographics_answer_options:
      type: DeclarativeStream
      name: demographics_answer_options
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: demographics/answer_options
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/demographics_answer_options"
    demographics_questions:
      type: DeclarativeStream
      name: demographics_questions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: demographics/questions
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/demographics_questions"
    demographics_answers_answer_options:
      type: DeclarativeStream
      name: demographics_answers_answer_options
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: demographics/questions/{{ stream_partition.parent_id }}/answer_options
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/demographics_questions"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/demographics_answers_answer_options"
    demographics_question_sets:
      type: DeclarativeStream
      name: demographics_question_sets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: demographics/question_sets
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/demographics_question_sets"
    demographics_question_sets_questions:
      type: DeclarativeStream
      name: demographics_question_sets_questions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: demographics/question_sets/{{ stream_partition.parent_id }}/questions
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/demographics_question_sets"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/demographics_question_sets_questions"
    departments:
      type: DeclarativeStream
      name: departments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: departments
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/departments"
    jobs:
      type: DeclarativeStream
      name: jobs
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: jobs
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1970-01-01T00:00:00.000Z"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_time_option:
          type: RequestOption
          field_name: updated_after
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/jobs"
    jobs_openings:
      type: DeclarativeStream
      name: jobs_openings
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: jobs/{{ stream_partition.parent_id }}/openings
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/jobs"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/jobs_openings"
    interviews:
      type: DeclarativeStream
      name: interviews
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: scheduled_interviews
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1970-01-01T00:00:00.000Z"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_time_option:
          type: RequestOption
          field_name: updated_after
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/interviews"
    job_posts:
      type: DeclarativeStream
      name: job_posts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: job_posts
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1970-01-01T00:00:00.000Z"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_time_option:
          type: RequestOption
          field_name: updated_after
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/job_posts"
    job_stages:
      type: DeclarativeStream
      name: job_stages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: job_stages
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1970-01-01T00:00:00.000Z"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_time_option:
          type: RequestOption
          field_name: updated_after
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/job_stages"
    jobs_stages:
      type: DeclarativeStream
      state_migrations:
        - type: CustomStateMigration
          class_name: source_declarative_manifest.components.GreenhouseStateMigration
      name: jobs_stages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: jobs/{{ stream_partition.job_id }}/stages
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: job_id
              stream:
                $ref: "#/definitions/streams/jobs"
              incremental_dependency: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1970-01-01T00:00:00.000Z"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_time_option:
          type: RequestOption
          field_name: updated_after
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/jobs_stages"
    offers:
      type: DeclarativeStream
      name: offers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: offers
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1970-01-01T00:00:00.000Z"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_time_option:
          type: RequestOption
          field_name: updated_after
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/offers"
    rejection_reasons:
      type: DeclarativeStream
      name: rejection_reasons
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: rejection_reasons
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/rejection_reasons"
    scorecards:
      type: DeclarativeStream
      name: scorecards
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: scorecards
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1970-01-01T00:00:00.000Z"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_time_option:
          type: RequestOption
          field_name: updated_after
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/scorecards"
    sources:
      type: DeclarativeStream
      name: sources
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sources
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sources"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: users
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1970-01-01T00:00:00.000Z"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_time_option:
          type: RequestOption
          field_name: updated_after
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    activity_feed:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        name: "{{ options['name'] }}"
        primary_key: "{{ options['primary_key'] }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: candidates/{{ stream_partition.parent_id }}/activity_feed
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/candidates"
        decoder:
          type: JsonDecoder
      name: activity_feed
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/activity_feed"
    approvals:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        name: "{{ options['name'] }}"
        primary_key: "{{ options['primary_key'] }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: jobs/{{ stream_partition.parent_id }}/approval_flows
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/jobs"
        decoder:
          type: JsonDecoder
      name: approvals
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/approvals"
    disciplines:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        name: "{{ options['name'] }}"
        primary_key: "{{ options['primary_key'] }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: disciplines
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      name: disciplines
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/disciplines"
    schools:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        name: "{{ options['name'] }}"
        primary_key: "{{ options['primary_key'] }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: schools
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      name: schools
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/schools"
    eeoc:
      type: DeclarativeStream
      name: eeoc
      primary_key:
        - application_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: eeoc
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: submitted_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1970-01-01T00:00:00.000Z"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_time_option:
          type: RequestOption
          field_name: submitted_after
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/eeoc"
    email_templates:
      type: DeclarativeStream
      name: email_templates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: email_templates
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%_msZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1970-01-01T00:00:00.000Z"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%_msZ"
        start_time_option:
          type: RequestOption
          field_name: updated_after
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/email_templates"
    offices:
      type: DeclarativeStream
      name: offices
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: offices
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/offices"
    prospect_pools:
      type: DeclarativeStream
      name: prospect_pools
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: prospect_pools
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/prospect_pools"
    tags:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        name: "{{ options['name'] }}"
        primary_key: "{{ options['primary_key'] }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: tags/candidate
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      name: tags
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    user_roles:
      type: DeclarativeStream
      name: user_roles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: user_roles
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ headers['link']['next']['url'] }}"
            stop_condition: "{{ 'next' not in headers['link'] }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/user_roles"
    user_permissions:
      type: DeclarativeStream
      retriever:
        type: SimpleRetriever
        name: "{{ options['name'] }}"
        primary_key: "{{ options['primary_key'] }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: users/{{ stream_partition.parent_id }}/permissions/jobs
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 403
                action: IGNORE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/users"
        decoder:
          type: JsonDecoder
      name: user_permissions
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/user_permissions"
  base_requester:
    type: HttpRequester
    url_base: https://harvest.greenhouse.io/v1/
    authenticator:
      type: BasicHttpAuthenticator
      username: "{{ config['api_key'] }}"

streams:
  - $ref: "#/definitions/streams/applications"
  - $ref: "#/definitions/streams/applications_demographics_answers"
  - $ref: "#/definitions/streams/applications_interviews"
  - $ref: "#/definitions/streams/candidates"
  - $ref: "#/definitions/streams/close_reasons"
  - $ref: "#/definitions/streams/custom_fields"
  - $ref: "#/definitions/streams/degrees"
  - $ref: "#/definitions/streams/demographics_answers"
  - $ref: "#/definitions/streams/demographics_answer_options"
  - $ref: "#/definitions/streams/demographics_questions"
  - $ref: "#/definitions/streams/demographics_answers_answer_options"
  - $ref: "#/definitions/streams/demographics_question_sets"
  - $ref: "#/definitions/streams/demographics_question_sets_questions"
  - $ref: "#/definitions/streams/departments"
  - $ref: "#/definitions/streams/jobs"
  - $ref: "#/definitions/streams/jobs_openings"
  - $ref: "#/definitions/streams/interviews"
  - $ref: "#/definitions/streams/job_posts"
  - $ref: "#/definitions/streams/job_stages"
  - $ref: "#/definitions/streams/jobs_stages"
  - $ref: "#/definitions/streams/offers"
  - $ref: "#/definitions/streams/rejection_reasons"
  - $ref: "#/definitions/streams/scorecards"
  - $ref: "#/definitions/streams/sources"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/activity_feed"
  - $ref: "#/definitions/streams/approvals"
  - $ref: "#/definitions/streams/disciplines"
  - $ref: "#/definitions/streams/schools"
  - $ref: "#/definitions/streams/eeoc"
  - $ref: "#/definitions/streams/email_templates"
  - $ref: "#/definitions/streams/offices"
  - $ref: "#/definitions/streams/prospect_pools"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/user_roles"
  - $ref: "#/definitions/streams/user_permissions"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: >-
          Greenhouse API Key. See the <a
          href="https://docs.airbyte.com/integrations/sources/greenhouse">docs</a>
          for more information on how to generate this key.
        title: API Key
        airbyte_secret: true
        order: 0
    additionalProperties: true

metadata:
  autoImportSchema:
    applications: false
    applications_demographics_answers: false
    applications_interviews: false
    candidates: false
    close_reasons: false
    custom_fields: false
    degrees: false
    demographics_answers: false
    demographics_answer_options: false
    demographics_questions: false
    demographics_answers_answer_options: false
    demographics_question_sets: false
    demographics_question_sets_questions: false
    departments: false
    jobs: false
    jobs_openings: false
    interviews: false
    job_posts: false
    job_stages: false
    jobs_stages: false
    offers: false
    rejection_reasons: false
    scorecards: false
    sources: false
    users: false
    activity_feed: false
    approvals: false
    disciplines: false
    schools: false
    eeoc: false
    email_templates: false
    offices: false
    prospect_pools: false
    tags: false
    user_roles: false
    user_permissions: false
  testedStreams:
    applications:
      streamHash: 7bd14e087c4f48d31249a151798c9ab00889959c
    applications_demographics_answers:
      streamHash: 7e3404b5bc79dddeaff9e39b7dcfe18f56ce593a
    applications_interviews:
      streamHash: 03863458e5eae788ec0d31bac41f5bc4f8ac2e7c
    candidates:
      streamHash: 7423f20897fde7e77a9f82b9419f49ea3cb5d5ff
    close_reasons:
      streamHash: 63e485c7ce3af8952dd1b8a940a2e02191b95872
    custom_fields:
      streamHash: b067a3cab42883ef08c62bdb45d1bf7363473b22
    degrees:
      streamHash: c428a2b3056b3a889857a1bfd101065553a186fd
    demographics_answers:
      streamHash: f25db53db946444dfa3b5cf61aadd763a76914c1
    demographics_answer_options:
      streamHash: 7c1561f1f4a4adb7c4c077ac4f9653f886d4c95a
    demographics_questions:
      streamHash: 1aeec4dac19bad3d438ddb161dd3fcdd497969d4
    demographics_answers_answer_options:
      streamHash: 04aced9a64c6371a4a38286574415789150217d1
    demographics_question_sets:
      streamHash: e195a81dbcf2985f980463114b36268706a8a2b0
    demographics_question_sets_questions:
      streamHash: 794aa67ff222ea9328478231dbe94df312ed1ce7
    departments:
      streamHash: 9fbf30bdf09971096e7311f61702561e0c7bb8d7
    jobs:
      streamHash: d24b16a739a86b163206d750811983c15909028b
    jobs_openings:
      streamHash: b132d760e6aeaa2fdfee5e4e8c7dedb1aae917c6
    interviews:
      streamHash: 5aedad64562f6c8f70b6c3c2ba66705fa758d78e
    job_posts:
      streamHash: edffe9483bfcc307ead8a4a3bbf501ceb5b8f64c
    job_stages:
      streamHash: e1befca76321a391c1702a7e8bdc5926c91fe8f2
    jobs_stages:
      streamHash: 1625dc8fa964e19467694ef84831a2ab6e035927
    offers:
      streamHash: ded8043d87f68d9ab4ef0e81ed53492049616acc
    rejection_reasons:
      streamHash: 60dcc7cb5b2fceeb338db943166b3261f1ec7e29
    scorecards:
      streamHash: 9c5d6220ce6ee2ed8c4d37aa8d7bd11bff72c61b
    sources:
      streamHash: 3709e28ce6032626813439be72c025246de4620a
    users:
      streamHash: 1619dcb22d9fb2b9b2de39915362905b776a1c35
    activity_feed:
      streamHash: d59b904ec216cdeb098c64921bd35d4879bcef81
    approvals:
      streamHash: 06d83e4437877879f8115274030a4947321b46d3
    disciplines:
      streamHash: b3329b840047b833fea7c6053569c0917ef9225c
    schools:
      streamHash: 543110605b6ed17acf0bbf121b55dc046bd9d40d
    eeoc:
      streamHash: 3ecd11a597de11a93786e2c5bba5f6ac95275791
    email_templates:
      streamHash: 33a29c34126bf5ea7c600b95dcba27f205658ce7
    offices:
      streamHash: 9ae47305792bf238745a9a39ad681553e17e7780
    prospect_pools:
      streamHash: fae74131ea16dd0f89fef0a21d525988604922e0
    tags:
      streamHash: 9036ac8c96cdcea7ba16b4a57ca3a20c527a8788
    user_roles:
      streamHash: 21d0f81689b1357cecaf734eec2c44e2abdc2c49
    user_permissions:
      streamHash: d9724d070a57b59e7bdf947cd2751205a8437a2b
  assist: {}

schemas:
  applications:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      answers:
        type: array
        description: Answers provided in the application.
      applied_at:
        type: string
        description: Timestamp when the candidate applied.
      attachments:
        type: array
        description: Attachments uploaded with the application.
      candidate_id:
        type: integer
        description: Unique identifier for the candidate.
      credited_to:
        type: object
        description: Information about the employee who credited the application.
        properties:
          employee_id:
            type:
              - "null"
              - string
            description: Unique identifier for the employee.
          first_name:
            type:
              - "null"
              - string
            description: First name of the employee.
          id:
            type: integer
            description: ID of the employee.
          last_name:
            type:
              - "null"
              - string
            description: Last name of the employee.
          name:
            type:
              - "null"
              - string
            description: Full name of the employee.
      current_stage:
        type:
          - "null"
          - object
        description: Current stage of the application process.
        properties:
          id:
            type: integer
            description: ID of the current stage.
          name:
            type: string
            description: Name of the current stage.
      id:
        type: integer
        description: Unique identifier for the application.
      job_post_id:
        decscription: The ID of the job post through which the candidate applied. This value is null if the application was created through other means, e.g. manually adding candidates or importing candidates through sourcing integrations
        type:
          - integer
          - "null"
      jobs:
        type: array
        description: Jobs applied for by the candidate.
      last_activity_at:
        type: string
        description: Timestamp of the last activity on the application.
      location:
        type:
          - "null"
          - string
        description: Location related to the application.
      prospect:
        type: boolean
        description: Status of the application prospect.
      prospect_detail:
        type: object
        description: Details related to the application prospect.
        properties:
          prospect_owner:
            type:
              - "null"
              - object
            description: Information about the owner of the prospect.
            properties:
              id:
                type: integer
                description: Unique identifier for the prospect owner.
              name:
                type: string
                description: Name of the prospect owner.
          prospect_pool:
            type:
              - "null"
              - string
            description: Pool the prospect belongs to.
          prospect_stage:
            type:
              - "null"
              - string
            description: Stage of the prospect.
      prospective_department:
        type:
          - "null"
          - string
        description: Prospective department for the candidate.
      prospective_office:
        type:
          - "null"
          - string
        description: Prospective office for the candidate.
      rejected_at:
        type:
          - "null"
          - string
        description: Timestamp when the application was rejected.
      rejection_details:
        type:
          - "null"
          - object
        description: Details related to the application rejection.
        properties:
          custom_fields:
            type:
              - "null"
              - object
            description: Custom fields related to rejection.
          keyed_custom_fields:
            type:
              - "null"
              - object
            description: Keyed custom fields related to rejection.
      rejection_reason:
        type:
          - "null"
          - object
        description: Reason for the application rejection.
        properties:
          type:
            type:
              - "null"
              - object
            description: Type of rejection reason.
            properties:
              id:
                type:
                  - "null"
                  - integer
                description: ID of the rejection reason type.
              name:
                type:
                  - "null"
                  - string
                description: Name of the rejection reason type.
          id:
            type:
              - "null"
              - integer
            description: ID of the rejection reason.
          name:
            type:
              - "null"
              - string
            description: Name of the rejection reason.
      source:
        type: object
        description: Source of the application.
        properties:
          id:
            type: integer
            description: ID of the application source.
          public_name:
            type: string
            description: Public name of the application source.
      status:
        type: string
        description: Status of the application.
  applications_demographics_answers:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      application_id:
        type:
          - "null"
          - integer
        description: >-
          Unique identifier for the application associated with the demographic
          answer
      created_at:
        type:
          - "null"
          - string
        description: Timestamp indicating when the demographic answer was created
        format: date-time
      demographic_answer_option_id:
        type:
          - "null"
          - integer
        description: >-
          Unique identifier for the selected answer option for the demographic
          question
      demographic_question_id:
        type:
          - "null"
          - integer
        description: Unique identifier for the demographic question answered
      free_form_text:
        type:
          - "null"
          - string
        description: Any additional free form text provided as part of the answer
      id:
        type:
          - "null"
          - integer
        description: Unique identifier for the demographic answer record
      updated_at:
        type:
          - "null"
          - string
        description: Timestamp indicating when the demographic answer was last updated
        format: date-time
  applications_interviews:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      application_id:
        type:
          - "null"
          - integer
        description: Unique identifier for the job application.
      created_at:
        type:
          - "null"
          - string
        description: Date and time when the application interview data was created.
        format: date-time
      end:
        type:
          - "null"
          - object
        description: Details about the end time of the interview.
        properties:
          date_time:
            type:
              - "null"
              - string
            description: End date and time of the interview.
            format: date-time
      external_event_id:
        type:
          - "null"
          - string
        description: ID of the external event associated with the interview.
      id:
        type: integer
        description: Unique identifier for the interview data.
      interview:
        type:
          - "null"
          - object
        description: Details of the interview such as type or category.
        properties:
          id:
            type:
              - "null"
              - integer
            description: Unique identifier for the interview type.
          name:
            type:
              - "null"
              - string
            description: Name or title of the interview.
      interviewers:
        type:
          - "null"
          - array
        description: List of interviewers participating in the interview panel.
        items:
          type:
            - "null"
            - object
          properties:
            email:
              type:
                - "null"
                - string
              description: Email of the interviewer.
            employee_id:
              type:
                - "null"
                - string
              description: Employee ID of the interviewer.
            id:
              type:
                - "null"
                - integer
              description: Unique identifier for the interviewer.
            name:
              type:
                - "null"
                - string
              description: Name of the interviewer.
            response_status:
              type:
                - "null"
                - string
              description: Status of the interviewer's response (e.g., confirmed, pending).
            scorecard_id:
              type:
                - "null"
                - integer
              description: >-
                Unique identifier for the interviewer's scorecard, if
                applicable.
      location:
        type:
          - "null"
          - string
        description: Location where the interview takes place.
      organizer:
        type:
          - "null"
          - object
        description: Details of the organizer or coordinator of the interview.
        properties:
          employee_id:
            type:
              - "null"
              - string
            description: Employee ID of the organizer.
          first_name:
            type:
              - "null"
              - string
            description: First name of the organizer.
          id:
            type:
              - "null"
              - integer
            description: Unique identifier for the organizer.
          last_name:
            type:
              - "null"
              - string
            description: Last name of the organizer.
          name:
            type:
              - "null"
              - string
            description: Full name of the organizer.
      start:
        type:
          - "null"
          - object
        description: Details about the start time of the interview.
        properties:
          date_time:
            type:
              - "null"
              - string
            description: Start date and time of the interview.
            format: date-time
      status:
        type:
          - "null"
          - string
        description: Status of the interview (e.g., scheduled, completed).
      updated_at:
        type:
          - "null"
          - string
        description: Date and time when the application interview data was last updated.
        format: date-time
      video_conferencing_url:
        type:
          - "null"
          - string
        description: URL for the video conferencing platform used for the interview.
  candidates:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      addresses:
        type: array
        description: Candidate's addresses
      application_ids:
        type: array
        description: List of application IDs
        items:
          type: integer
      applications:
        type: array
        description: An array of all applications made by candidates.
        items:
          type: object
          description: Details of an individual application.
          properties:
            answers:
              type: array
              description: Candidate's answers in the application
            applied_at:
              type: string
              description: Date and time when candidate applied
            attachments:
              type: array
              description: Attachments submitted by the candidate
            candidate_id:
              type: integer
              description: ID of the candidate
            credited_to:
              type: object
              description: The user who should be credited for this application.
              properties:
                employee_id:
                  type:
                    - "null"
                    - string
                  description: ID of the employee who credited the candidate
                first_name:
                  type:
                    - "null"
                    - string
                  description: First name of the employee who credited the candidate
                id:
                  type: integer
                  description: ID of the credited employee
                last_name:
                  type:
                    - "null"
                    - string
                  description: Last name of the employee who credited the candidate
                name:
                  type:
                    - "null"
                    - string
                  description: Full name of the employee who credited the candidate
            current_stage:
              type:
                - "null"
                - object
              description: The current stage of the application process.
              properties:
                id:
                  type: integer
                  description: ID of the current stage in the application process
                name:
                  type: string
                  description: Name of the current stage in the application process
            id:
              type: integer
              description: ID of the application
            jobs:
              type: array
              description: List of jobs applied for by the candidate
            last_activity_at:
              type: string
              description: Date and time of the last activity
            location:
              type:
                - "null"
                - string
              description: Candidate's location
            prospect:
              type: boolean
              description: Indicates if the applicant is a prospect
            prospect_detail:
              type: object
              description: Details of the prospect status
              properties:
                prospect_owner:
                  type:
                    - "null"
                    - object
                  description: ID and name of the prospect owner
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                prospect_pool:
                  type:
                    - "null"
                    - string
                  description: Pool where the prospect belongs
                prospect_stage:
                  type:
                    - "null"
                    - string
                  description: Stage of the prospect in the recruitment process
            prospective_department:
              type:
                - "null"
                - string
              description: Prospective department of the candidate
            prospective_office:
              type:
                - "null"
                - string
              description: Prospective office location of the candidate
            rejected_at:
              type:
                - "null"
                - string
              description: Date and time of rejection
            rejection_details:
              type:
                - "null"
                - object
              description: Details of the rejection
              properties:
                custom_fields:
                  type:
                    - "null"
                    - object
                  description: Custom fields related to rejection
                keyed_custom_fields:
                  type:
                    - "null"
                    - object
                  description: Keyed custom fields related to rejection
            rejection_reason:
              type:
                - "null"
                - object
              description: Reason for rejection
              properties:
                type:
                  type:
                    - "null"
                    - object
                  description: Type of rejection reason
                  properties:
                    id:
                      type:
                        - "null"
                        - integer
                      description: ID of the rejection reason type
                    name:
                      type:
                        - "null"
                        - string
                      description: Name of the rejection reason type
                id:
                  type:
                    - "null"
                    - integer
                  description: ID of the rejection reason
                name:
                  type:
                    - "null"
                    - string
                  description: Name of the rejection reason
            source:
              type: object
              description: Source of application
              properties:
                id:
                  type: integer
                  description: ID of the application source
                public_name:
                  type: string
                  description: Public name of the application source
            status:
              type: string
              description: Status of the application
      attachments:
        type: array
        description: Attachments related to the candidate
      can_email:
        type: boolean
        description: Indicates if candidate can be emailed
      company:
        type:
          - "null"
          - string
        description: Company where the candidate is associated
      coordinator:
        type:
          - "null"
          - string
        description: Coordinator assigned to the candidate
      created_at:
        type: string
        description: Date and time of creation
      custom_fields:
        type:
          - "null"
          - object
        description: Custom fields associated with the candidate
        additionalProperties: true
        properties: {}
      educations:
        type: array
        description: List of candidate's educations
      email_addresses:
        type: array
        description: Candidate's email addresses
      employments:
        type: array
        description: List of candidate's employments
      first_name:
        type: string
        description: Candidate's first name
      id:
        type: integer
        description: Candidate's ID
      is_private:
        type: boolean
        description: Indicates if the candidate's data is private
      keyed_custom_fields:
        type:
          - "null"
          - object
        description: Keyed custom fields associated with the candidate
        additionalProperties: true
        properties: {}
      last_activity:
        type: string
        description: Details of the last activity related to the candidate
      last_name:
        type: string
        description: Candidate's last name
      phone_numbers:
        type: array
        description: Candidate's phone numbers
      photo_url:
        type:
          - "null"
          - string
        description: URL of the candidate's profile photo
      recruiter:
        type:
          - "null"
          - string
        description: Recruiter assigned to the candidate
      social_media_addresses:
        type: array
        description: Candidate's social media addresses
      tags:
        type: array
        description: Tags associated with the candidate
      title:
        type:
          - "null"
          - string
        description: Candidate's title (e.g., Mr., Mrs., Dr.)
      updated_at:
        type: string
        description: Date and time of last update
      website_addresses:
        type: array
        description: List of candidate's website addresses
  close_reasons:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type: integer
        description: Unique identifier for the close reason.
      name:
        type: string
        description: The name or description of the close reason.
  custom_fields:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - "null"
          - string
        description: Description of the custom field.
      active:
        type:
          - "null"
          - boolean
        description: Indicates whether the custom field is currently active or not.
      api_only:
        type:
          - "null"
          - boolean
        description: Denotes if the custom field is used only in API requests.
      custom_field_options:
        type:
          - "null"
          - array
        description: List of custom field options available for selection.
        items:
          type: object
          properties:
            external_id:
              type:
                - "null"
                - string
              description: External identifier of the custom field option.
            id:
              type: integer
              description: Unique identifier of the custom field option.
            name:
              type: string
              description: Name of the custom field option.
            priority:
              type: integer
              description: Priority of the custom field option.
      departments:
        type:
          - "null"
          - array
        description: Departments associated with the custom field.
      expose_in_job_board_api:
        type:
          - "null"
          - boolean
        description: Specifies if the custom field should be exposed in the job board API.
      field_type:
        type:
          - "null"
          - string
        description: Type of the custom field (text, dropdown, etc.).
      id:
        type: integer
        description: Unique identifier of the custom field.
      name:
        type:
          - "null"
          - string
        description: Name of the custom field.
      name_key:
        type:
          - "null"
          - string
        description: Key associated with the name of the custom field.
      offices:
        type:
          - "null"
          - array
        description: Offices related to the custom field.
      priority:
        type:
          - "null"
          - integer
        description: Priority of the custom field.
      private:
        type:
          - "null"
          - boolean
        description: Indicates if the custom field is for private use only.
      require_approval:
        type:
          - "null"
          - boolean
        description: Specifies if approval is required for changes to the custom field.
      required:
        type:
          - "null"
          - boolean
        description: Denotes whether the custom field is required or not.
      template_token_string:
        type:
          - "null"
          - string
        description: Token string used in templates for the custom field.
      trigger_new_version:
        type:
          - "null"
          - boolean
        description: >-
          Indicates if a new version should be triggered upon changes to the
          custom field.
      value_type:
        type:
          - "null"
          - string
        description: Type of values accepted by the custom field.
  degrees:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      external_id:
        type:
          - "null"
          - string
        description: Unique identifier for the greenhouse record in an external system
      id:
        type: integer
        description: Unique identifier for the greenhouse record
      name:
        type: string
        description: Name of the degrees data
      priority:
        type: integer
        description: Priority level of the degrees data for sorting
  demographics_answers:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      application_id:
        type:
          - "null"
          - integer
        description: >-
          The unique identifier of the application associated with the
          demographic answer
      created_at:
        type:
          - "null"
          - string
        description: The date and time when the demographic answer was created
        format: date-time
      demographic_answer_option_id:
        type:
          - "null"
          - integer
        description: >-
          The identifier of the answer option chosen for the demographic
          question
      demographic_question_id:
        type:
          - "null"
          - integer
        description: The identifier of the demographic question to which the answer belongs
      free_form_text:
        type:
          - "null"
          - string
        description: Any additional free-form text provided as part of the answer
      id:
        type:
          - "null"
          - integer
        description: The unique identifier of the demographic answer
      updated_at:
        type:
          - "null"
          - string
        description: The date and time when the demographic answer was last updated
        format: date-time
  demographics_answer_options:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - "null"
          - boolean
        description: Indicates if the demographic answer option is currently active or not.
      demographic_question_id:
        type:
          - "null"
          - integer
        description: The ID of the demographic question associated with this answer option.
      free_form:
        type:
          - "null"
          - boolean
        description: Specifies if the answer option allows for a free-form text input.
      id:
        type: integer
        description: Unique identifier for the demographic answer option.
      name:
        type:
          - "null"
          - string
        description: The name or label of the demographic answer option.
      translations:
        type:
          - "null"
          - array
        description: >-
          Array of translations for the answer option names in different
          languages.
        items:
          type:
            - "null"
            - object
          properties:
            language:
              type:
                - "null"
                - string
              description: The language code of the translated name.
            name:
              type:
                - "null"
                - string
              description: >-
                The translated name of the answer option in the specified
                language.
  demographics_questions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - "null"
          - boolean
        description: Specifies if the demographic question is currently active or not.
      demographic_question_set_id:
        type:
          - "null"
          - integer
        description: The ID of the demographic question set this question belongs to.
      id:
        type: integer
        description: The unique identifier for the demographic question.
      name:
        type:
          - "null"
          - string
        description: The name or title of the demographic question.
      required:
        type:
          - "null"
          - boolean
        description: Indicates if the demographic question is required to be answered.
      translations:
        type:
          - "null"
          - array
        description: >-
          An array of translations for the demographic question's name in
          different languages.
        items:
          type:
            - "null"
            - object
          properties:
            language:
              type:
                - "null"
                - string
              description: The language code for the translation.
            name:
              type:
                - "null"
                - string
              description: >-
                The translated name of the demographic question in the specified
                language.
  demographics_answers_answer_options:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - "null"
          - boolean
        description: Indicates whether this demographic answer option is active or not.
      demographic_question_id:
        type:
          - "null"
          - integer
        description: >-
          The unique identifier of the demographic question associated with this
          answer option.
      free_form:
        type:
          - "null"
          - boolean
        description: >-
          Specifies if the answer option allows for free-form input in addition
          to predefined options.
      id:
        type: integer
        description: The unique identifier of this demographic answer option.
      name:
        type:
          - "null"
          - string
        description: The name or label of the demographic answer option.
      translations:
        type:
          - "null"
          - array
        description: >-
          List of translations for the name of the demographic answer option in
          different languages.
        items:
          type:
            - "null"
            - object
          properties:
            language:
              type:
                - "null"
                - string
              description: The language code of the translation.
            name:
              type:
                - "null"
                - string
              description: >-
                The translated name of the demographic answer option in the
                respective language.
  demographics_question_sets:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - "null"
          - string
        description: A brief description of the demographics question set
      active:
        type:
          - "null"
          - boolean
        description: Indicates if the demographics question set is currently active
      id:
        type: integer
        description: Unique identifier for the demographics question set
      title:
        type:
          - "null"
          - string
        description: Title of the demographics question set
  demographics_question_sets_questions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - "null"
          - boolean
        description: Specifies if the question is active or not.
      demographic_question_set_id:
        type:
          - "null"
          - integer
        description: >-
          Unique identifier of the demographic question set to which this
          question belongs.
      id:
        type: integer
        description: Unique identifier of the question.
      name:
        type:
          - "null"
          - string
        description: Name of the question.
      required:
        type:
          - "null"
          - boolean
        description: Indicates if this question is mandatory to answer.
      translations:
        type:
          - "null"
          - array
        description: An array of questions related to demographics in multiple languages.
        items:
          type:
            - "null"
            - object
          description: The details of a single question in a particular language.
          properties:
            language:
              type:
                - "null"
                - string
              description: Specifies the language of the translation.
            name:
              type:
                - "null"
                - string
              description: Translated name of the question for the specified language.
  departments:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      child_department_external_ids:
        type: array
        description: External IDs of child departments associated with this department.
      child_ids:
        type: array
        description: Unique IDs of child departments associated with this department.
      external_id:
        type:
          - "null"
          - string
        description: External ID of this department.
      id:
        type: integer
        description: Unique ID of this department.
      name:
        type: string
        description: Name of the department.
      parent_department_external_id:
        type:
          - "null"
          - string
        description: External ID of the parent department of this department.
      parent_id:
        type:
          - "null"
          - integer
        description: Unique ID of the parent department of this department.
  jobs:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      closed_at:
        type:
          - "null"
          - string
        description: The date and time the job was closed
      confidential:
        type: boolean
        description: Indicates if the job details are confidential
      copied_from_id:
        type:
          - "null"
          - integer
        description: The ID of the job from which this job was copied
      created_at:
        type: string
        description: The date and time the job was created
      custom_fields:
        type:
          - "null"
          - object
        description: Custom fields related to the job
        properties:
          employment_type:
            type:
              - "null"
              - string
            description: Type of employment associated with the job
      departments:
        type: array
        description: Departments associated with the job
        items:
          type: object
          properties:
            child_department_external_ids:
              type: array
              description: External IDs of child departments
            child_ids:
              type: array
              description: IDs of child departments
            external_id:
              type:
                - "null"
                - string
              description: External ID of the department
            id:
              type: integer
              description: Unique ID of the department
            name:
              type: string
              description: Name of the department
            parent_department_external_id:
              type:
                - "null"
                - string
              description: External ID of the parent department
            parent_id:
              type:
                - "null"
                - integer
              description: ID of the parent department
      hiring_team:
        type: object
        description: Members of the hiring team for the job
        properties:
          coordinators:
            type: array
            description: Coordinators involved in the hiring process
          hiring_managers:
            type: array
            description: Managers responsible for the hiring decisions
          recruiters:
            type: array
            description: Recruiters handling the job requirements
          sourcers:
            type: array
            description: Sourcers responsible for finding suitable candidates
      id:
        type: integer
        description: Unique ID of the job
      is_template:
        type: boolean
        description: Indicates if the job is a template
      keyed_custom_fields:
        type: object
        description: Keyed custom fields related to the job
        properties:
          employment_type:
            type: object
            description: Type of employment associated with the job
            properties:
              type:
                type: string
                description: Data type of the employment type field
              name:
                type: string
                description: Name of the employment type field
              value:
                type:
                  - "null"
                  - string
                description: Value of the employment type field
      name:
        type: string
        description: Name of the job
      notes:
        type:
          - "null"
          - string
        description: Additional notes or comments about the job
      offices:
        type: array
        description: Offices associated with the job
        items:
          type: object
          properties:
            child_ids:
              type: array
              description: IDs of child offices
            child_office_external_ids:
              type: array
              description: External IDs of child offices
            external_id:
              type:
                - "null"
                - string
              description: External ID of the office
            id:
              type: integer
              description: Unique ID of the office
            location:
              type: object
              description: Location details of the office
              properties:
                name:
                  type:
                    - "null"
                    - string
                  description: Name of the office location
            name:
              type: string
              description: Name of the office
            parent_id:
              type:
                - "null"
                - integer
              description: ID of the parent office
            parent_office_external_id:
              type:
                - "null"
                - string
              description: External ID of the parent office
            primary_contact_user_id:
              type: integer
              description: ID of the primary contact user
      opened_at:
        type: string
        description: The date and time the job was opened
      openings:
        type: array
        description: Openings associated with the job
        items:
          type: object
          properties:
            application_id:
              type:
                - "null"
                - integer
              description: ID of the job application
[...]
