@use "../../../../scss/colors";

.container {
  width: 100%;
  background: colors.$white;
  display: grid;
  height: 100%;
  grid-template-columns: minmax(max-content, 50%) minmax(500px, 50%);
}

.leftSide {
  flex: 1 0 0;
  padding: 20px 36px 39px 46px;
  height: 100%;
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightSideFrame {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}
