@use "../../../../scss/colors";

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: colors.$white;
}

.leftSide {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  padding: 20px 36px 39px 46px;
}

.rightSide {
  display: none;
}

.rightSideFrame {
  height: 100%;
  width: 100%;
  border: none;
  overflow: hidden;
}

@media (min-width: 992px) {
  .rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .leftSide,
  .rightSide {
    height: 100%;
  }
}
