version: 0.78.5

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - people

definitions:
  streams:
    people:
      type: DeclarativeStream
      name: people
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: people/search
          http_method: POST
          request_headers:
            X-PW-UserEmail: "{{ config['user_email'] }}"
            X-PW-Application: developer_api
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_number
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: PageIncrement
            page_size: 200
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/people"
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: projects/search
          http_method: POST
          request_headers:
            X-PW-UserEmail: "{{ config['user_email'] }}"
            X-PW-Application: developer_api
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_number
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: PageIncrement
            page_size: 200
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    companies:
      type: DeclarativeStream
      name: companies
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: companies/search
          http_method: POST
          request_headers:
            X-PW-UserEmail: "{{ config['user_email'] }}"
            X-PW-Application: developer_api
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_number
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: PageIncrement
            page_size: 200
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/companies"
    opportunities:
      type: DeclarativeStream
      name: opportunities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: opportunities/search
          http_method: POST
          request_headers:
            X-PW-UserEmail: "{{ config['user_email'] }}"
            X-PW-Application: developer_api
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_number
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: PageIncrement
            page_size: 200
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/opportunities"
  base_requester:
    type: HttpRequester
    url_base: https://api.copper.com/developer_api/v1/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['api_key'] }}"
      inject_into:
        type: RequestOption
        field_name: X-PW-AccessToken
        inject_into: header

streams:
  - $ref: "#/definitions/streams/people"
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/companies"
  - $ref: "#/definitions/streams/opportunities"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - user_email
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        description: Copper API key
        order: 0
      user_email:
        type: string
        title: User email
        description: user email used to login in to Copper
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    people: false
    projects: false
    companies: false
    opportunities: false

schemas:
  people:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    properties:
      address:
        type:
          - "null"
          - object
        description: Physical address details of the person
        properties:
          city:
            type:
              - string
              - "null"
            description: The city where the person resides.
          country:
            type:
              - string
              - "null"
            description: The country where the person resides.
          postal_code:
            type:
              - string
              - "null"
            description: The postal code of the person's address.
          state:
            type:
              - string
              - "null"
            description: The state or region where the person resides.
          street:
            type:
              - "null"
              - string
            description: The street address of the person.
      assignee_id:
        type:
          - "null"
          - integer
        description: ID of the assigned user or team.
      company_id:
        type:
          - "null"
          - integer
        description: ID of the company to which the person belongs.
      company_name:
        type:
          - "null"
          - string
        description: The name of the company the person is associated with.
      contact_type_id:
        type:
          - "null"
          - integer
        description: ID representing the type of contact (e.g., client, prospect).
      custom_fields:
        type:
          - "null"
          - array
        description: Additional custom fields related to the person
        properties:
          mprc:
            type:
              - "null"
              - string
            description: Custom field for specific data related to the person.
      date_created:
        type:
          - "null"
          - integer
        description: The date when the person record was created.
      date_last_contacted:
        type:
          - "null"
          - integer
        description: The date of the last contact or interaction with the person.
      date_lead_created:
        type:
          - "null"
          - integer
        description: The date when the person was identified as a lead.
      date_modified:
        type:
          - "null"
          - integer
        description: The date when the person record was last updated.
      details:
        type: "null"
        description: Additional details or notes about the person.
      emails:
        type:
          - "null"
          - array
        description: Email addresses associated with the person
        items:
          type:
            - "null"
            - object
          properties:
            category:
              type:
                - "null"
                - string
              description: >-
                The category or type of email address (e.g., work, personal,
                etc.).
            email:
              type:
                - "null"
                - string
              description: The email address of the person.
      first_name:
        type:
          - "null"
          - string
        description: The first name of the person.
      id:
        type:
          - "null"
          - integer
        description: Unique identifier for the person record.
      interaction_count:
        type:
          - "null"
          - integer
        description: The total number of interactions with the person.
      last_name:
        type:
          - "null"
          - string
        description: The last name of the person.
      leads_converted_from:
        type:
          - "null"
          - array
        description: Details of leads converted to the person
        properties:
          leads:
            type:
              - "null"
              - string
            description: >-
              Information about leads that were converted into this person
              record.
      middle_name:
        type:
          - "null"
          - string
        description: The middle name of the person.
      name:
        type:
          - "null"
          - string
        description: The full name of the person.
      phone_numbers:
        type:
          - "null"
          - array
        description: Phone numbers associated with the person
        items:
          type:
            - "null"
            - object
          properties:
            category:
              type:
                - "null"
                - string
              description: >-
                The category or type of phone number (e.g., mobile, office,
                etc.).
            number:
              type:
                - "null"
                - string
              description: The phone number of the person.
      prefix:
        type:
          - "null"
          - string
        description: >-
          A title or honorific preceding the person's name (e.g., Mr., Dr.,
          etc.).
      socials:
        type:
          - "null"
          - array
        description: Social media profiles of the person
        properties:
          note:
            type:
              - "null"
              - string
            description: >-
              Notes or additional information about the person's social
              profiles.
      suffix:
        type:
          - "null"
          - string
        description: >-
          A title or honorific following the person's name (e.g., Jr., III,
          etc.).
      tags:
        type:
          - "null"
          - array
        description: Tags or labels assigned to the person
        properties:
          sticker:
            type:
              - "null"
              - string
            description: >-
              Tags or labels associated with the person for categorization or
              identification.
      title:
        type:
          - "null"
          - string
        description: The job title or role of the person.
      websites:
        type:
          - "null"
          - array
        description: Websites associated with the person
        items:
          type:
            - "null"
            - object
          properties:
            category:
              type:
                - "null"
                - string
              description: >-
                The category or type of website URL (e.g., personal, company,
                etc.).
            url:
              type:
                - "null"
                - string
              description: The URL of a website associated with the person.
    required:
      - id
  projects:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    path: projects/search
    properties:
      assignee_id:
        type:
          - "null"
          - integer
        description: The unique identifier of the user assigned to the project.
      custom_fields:
        type:
          - "null"
          - array
        description: Custom fields specific to each project.
        properties:
          mprc:
            type:
              - "null"
              - string
            description: Custom field representing the main project requirement criteria.
      date_created:
        type:
          - "null"
          - integer
        description: The date when the project was created.
      date_modified:
        type:
          - "null"
          - integer
        description: The date when the project was last modified.
      details:
        type:
          - "null"
          - string
        description: Additional details or description of the project.
      id:
        type:
          - "null"
          - integer
        description: The unique identifier of the project.
      name:
        type:
          - "null"
          - string
        description: The name or title of the project.
      related_resource:
        type:
          - "null"
          - string
        description: Reference to any related resource linked to the project.
      status:
        type:
          - "null"
          - string
        description: The current status of the project.
      tags:
        type:
          - "null"
          - array
        description: Tags associated with the project for categorization.
        properties:
          sticker:
            type:
              - "null"
              - string
            description: Tag associated with the project (e.g., priority, category).
  companies:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    properties:
      address:
        type:
          - "null"
          - object
        description: Company address details
        properties:
          city:
            type:
              - "null"
              - string
            description: City of the company address
          country:
            type:
              - "null"
              - string
            description: Country of the company address
          postal_code:
            type:
              - "null"
              - string
            description: Postal code of the company address
          state:
            type:
              - "null"
              - string
            description: State of the company address
          street:
            type:
              - "null"
              - string
            description: Street address of the company
      assignee_id:
        type:
          - "null"
          - integer
        description: ID of the assignee for the company
      contact_type_id:
        type:
          - "null"
          - integer
        description: ID representing the contact type
      custom_fields:
        type:
          - "null"
          - array
        description: Custom fields associated with the company
        properties:
          mpc:
            type:
              - "null"
              - string
            description: Custom field for a specific attribute
      date_created:
        type:
          - "null"
          - integer
        description: Date when the company record was created
      date_modified:
        type:
          - "null"
          - integer
        description: Date when the company record was last modified
      details:
        type:
          - "null"
          - string
        description: Additional details about the company
      email_domain:
        type:
          - "null"
          - string
        description: Email domain associated with the company
      id:
        type:
          - "null"
          - integer
        description: Unique identifier for the company
      interaction_count:
        type:
          - "null"
          - integer
        description: Count of interactions with the company
      name:
        type:
          - "null"
          - string
        description: Name of the company
      phone_numbers:
        type:
          - "null"
          - array
        description: Phone numbers associated with the company
        properties:
          category:
            type:
              - "null"
              - string
            description: Category of the phone number
          number:
            type:
              - "null"
              - string
            description: Phone number
      socials:
        type:
          - "null"
          - array
        description: Social media profiles associated with the company
        items:
          type: object
          properties:
            category:
              type:
                - "null"
                - string
              description: Category of the social media profile
            url:
              type:
                - "null"
                - string
              description: URL of the social media profile
      tags:
        type:
          - "null"
          - array
        description: Tags associated with the company
        items:
          description: Tag item
      websites:
        type:
          - "null"
          - array
        description: Websites associated with the company
        items:
          type:
            - object
            - "null"
          properties:
            category:
              type:
                - "null"
                - string
              description: Category of the website
            url:
              type:
                - "null"
                - string
              description: URL of the website
  opportunities:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      assignee_id:
        type:
          - "null"
          - number
        description: The unique identifier of the user assigned to this opportunity.
      close_date:
        type:
          - "null"
          - string
        description: The expected or actual closing date of the opportunity.
      company_id:
        type:
          - "null"
          - string
        description: The unique identifier of the company associated with this opportunity.
      company_name:
        type:
          - "null"
          - string
        description: The name of the company associated with this opportunity.
      customer_source_id:
        type:
          - "null"
          - string
        description: >-
          The unique identifier of the source through which the customer was
          acquired.
      date_created:
        type:
          - "null"
          - integer
        description: The date and time when the opportunity was created.
      date_modified:
        type:
          - "null"
          - integer
        description: The date and time when the opportunity was last modified.
      details:
        type:
          - "null"
          - string
        description: Additional details or notes related to the opportunity.
      id:
        type:
          - "null"
          - integer
        description: The unique identifier of the opportunity.
      loss_reason_id:
        type:
          - "null"
          - string
        description: The unique identifier of the reason for losing the opportunity.
      monetary_value:
        type:
          - "null"
          - integer
        description: >-
          The potential or actual monetary value associated with the
          opportunity.
      name:
        type:
          - "null"
          - string
        description: The name or title of the opportunity.
      pipeline_id:
        type:
          - "null"
          - string
        description: >-
          The unique identifier of the pipeline to which the opportunity
          belongs.
      pipeline_stage_id:
        type:
          - "null"
          - string
        description: >-
          The unique identifier of the stage of the pipeline the opportunity is
          currently in.
      primary_contact_id:
        type:
          - "null"
          - string
        description: >-
          The unique identifier of the primary contact associated with the
          opportunity.
      priority:
        type:
          - "null"
          - string
        description: The priority level assigned to the opportunity.
      status:
        type:
          - "null"
          - string
        description: >-
          The current status of the opportunity (e.g., open, closed-won,
          closed-lost).
      tags:
        type:
          - "null"
          - array
        description: An array of tags or labels associated with the opportunity.
        items:
          type:
            - "null"
            - string
          description: A tag or label associated with the opportunity.
      win_probability:
        type:
          - "null"
          - number
        description: The probability of winning the opportunity expressed as a percentage.
