version: 6.48.15
type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - employee_fields

definitions:
  authenticator:
    type: BasicHttpAuthenticator
    username: "{{ config['username'] }}"
    password: "{{ config['password'] }}"

  base_requester:
    type: HttpRequester
    url_base: "{{ 'https://api.sandbox.hibob.com/v1' if config.get('is_sandbox') else 'https://api.hibob.com/v1' }}"
    authenticator:
      $ref: "#/definitions/authenticator"

  default_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: cursor
    page_size_option:
      type: RequestOption
      field_name: limit
      inject_into: request_parameter
    pagination_strategy:
      type: CursorPagination
      page_size: 200
      cursor_value: '{{ response.get("response_metadata", {}).get("next_cursor", {}) }}'
      stop_condition: '{{ not response.get("response_metadata", {}).get("next_cursor", {}) }}'

  employees_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      field_path:
        - pagination
        - cursor
      inject_into: body_json
    page_size_option:
      type: RequestOption
      field_path:
        - pagination
        - limit
      inject_into: body_json
    pagination_strategy:
      type: CursorPagination
      page_size: 200
      cursor_value: '{{ response.get("response_metadata", {}).get("next_cursor", {}) }}'
      stop_condition: '{{ not response.get("response_metadata", {}).get("next_cursor", {}) }}'

  daily_incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: createdOn
    start_datetime:
      datetime: "{{ config.get('start_date') or day_delta(-365, '%Y-%m-%dT%H:%M:%SZ') }}"
    end_datetime:
      datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
    datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S.%fZ"
      - "%Y-%m-%dT%H:%M:%SZ"
      - "%Y-%m-%dT%H:%M:%S.%f"
      - "%Y-%m-%dT%H:%M:%S"
    step: P180D
    cursor_granularity: PT1S
    start_time_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: since
    end_time_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: to

  streams:
    employees:
      type: DeclarativeStream
      name: employees
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /people/search
          http_method: POST
          request_body_json:
            showInactive: true
            humanReadable: REPLACE
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - employees
        paginator:
          $ref: "#/definitions/employees_paginator"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/employees"

    profiles:
      type: DeclarativeStream
      name: profiles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /profiles
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - employees
        paginator:
          type: NoPagination
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/profiles"

    employee_fields:
      type: DeclarativeStream
      name: employee_fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /company/people/fields
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - fields
        paginator:
          type: NoPagination
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/employee_fields"

    company_named_lists:
      type: DeclarativeStream
      name: company_named_lists
      primary_key:
        - name
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /company/named-lists
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "*"
        paginator:
          type: NoPagination
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/company_named_lists"

    work_history:
      type: DeclarativeStream
      name: work_history
      primary_key:
        - employeeId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /bulk/people/work
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - employees
        paginator:
          $ref: "#/definitions/default_paginator"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/work_history"

    lifecycle_history:
      type: DeclarativeStream
      name: lifecycle_history
      primary_key:
        - employeeId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /bulk/people/lifecycle
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - employees
        paginator:
          $ref: "#/definitions/default_paginator"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lifecycle_history"

    employment_history:
      type: DeclarativeStream
      name: employment_history
      primary_key:
        - employeeId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /bulk/people/employment
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - employees
        paginator:
          $ref: "#/definitions/default_paginator"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/employment_history"

    time_off_request_changes:
      type: DeclarativeStream
      name: time_off_request_changes
      primary_key:
        - requestId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /timeoff/requests/changes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - changes
        paginator:
          type: NoPagination
        decoder:
          type: JsonDecoder
      incremental_sync:
        $ref: "#/definitions/daily_incremental_sync"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/time_off_request_changes"

    job_roles:
      type: DeclarativeStream
      name: job_roles
      primary_key: []
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /job-catalog/job-roles
          http_method: GET
          request_parameters:
            includeHumanReadable: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - JobRoleEntries
              - "*"
        paginator:
          $ref: "#/definitions/default_paginator"
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: '{{ response.get("response_metadata", {}).get("next_cursor", {}) }}'
            stop_condition: '{{ not response.get("response_metadata", {}).get("next_cursor", {}) }}'
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/job_roles"

streams:
  - $ref: "#/definitions/streams/employees"
  - $ref: "#/definitions/streams/profiles"
  - $ref: "#/definitions/streams/employee_fields"
  - $ref: "#/definitions/streams/company_named_lists"
  - $ref: "#/definitions/streams/work_history"
  - $ref: "#/definitions/streams/lifecycle_history"
  - $ref: "#/definitions/streams/employment_history"
  - $ref: "#/definitions/streams/time_off_request_changes"
  - $ref: "#/definitions/streams/job_roles"

spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/hibob
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: Hibob Spec
    type: object
    additionalProperties: true
    required:
      - username
      - password
      - is_sandbox
    properties:
      username:
        type: string
        title: Service user ID
        description: HiBob service user ID.
        order: 0
      password:
        type: string
        title: Service user token
        description: HiBob service user token.
        airbyte_secret: true
        always_show: true
        order: 1
      is_sandbox:
        type: boolean
        title: Use sandbox
        description: Toggle on to connect to the HiBob sandbox API.
        default: false
        order: 2
      start_date:
        type: string
        title: Start date
        description: UTC datetime used as the lower bound for incremental time off request changes.
        format: date-time
        examples:
          - "2024-01-01T00:00:00Z"
        order: 3

metadata:
  autoImportSchema:
    employees: false
    profiles: false
    employee_fields: false
    company_named_lists: false
    work_history: false
    lifecycle_history: false
    employment_history: false
    time_off_request_changes: false
    job_roles: false
  assist:
    docsUrl: https://apidocs.hibob.com/

schemas:
  employees:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      firstName:
        type:
          - string
          - "null"
      surname:
        type:
          - string
          - "null"
      fullName:
        type:
          - string
          - "null"
      displayName:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      companyId:
        type:
          - string
          - integer
          - "null"
      about:
        type:
          - object
          - "null"
        additionalProperties: true
      employee:
        type:
          - object
          - "null"
        additionalProperties: true
      employment:
        type:
          - object
          - "null"
        additionalProperties: true
      internal:
        type:
          - object
          - "null"
        additionalProperties: true
      personal:
        type:
          - object
          - "null"
        additionalProperties: true
      work:
        type:
          - object
          - "null"
        additionalProperties: true
    required:
      - id

  profiles:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      firstName:
        type:
          - string
          - "null"
      surname:
        type:
          - string
          - "null"
      displayName:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      companyId:
        type:
          - string
          - integer
          - "null"
      about:
        type:
          - object
          - "null"
        additionalProperties: true
      work:
        type:
          - object
          - "null"
        additionalProperties: true
    required:
      - id

  employee_fields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      category:
        type:
          - string
          - "null"
      type:
        type:
          - string
          - "null"
      typeData:
        type:
          - object
          - "null"
        additionalProperties: true
      historical:
        type:
          - boolean
          - "null"
      archived:
        type:
          - boolean
          - "null"
    required:
      - id

  company_named_lists:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      name:
        type: string
      values:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - string
                - integer
            value:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            archived:
              type:
                - boolean
                - "null"
            children:
              type:
                - array
                - "null"
              items:
                type: object
                additionalProperties: true
    required:
      - name

  work_history:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      employeeId:
        type: string
      entries:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
      values:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
      errors:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
    required:
      - employeeId

  lifecycle_history:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      employeeId:
        type: string
      entries:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
      values:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
      errors:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
    required:
      - employeeId

  employment_history:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      employeeId:
        type: string
      entries:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
      values:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
      errors:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
    required:
      - employeeId

  time_off_request_changes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      requestId:
        type:
          - integer
          - string
      employeeId:
        type:
          - string
          - "null"
      createdOn:
        type:
          - string
          - "null"
        format: date-time
      changeType:
        type:
          - string
          - "null"
      type:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      originalRequestId:
        type:
          - integer
          - string
          - "null"
      previousRequestId:
        type:
          - integer
          - string
          - "null"
      request:
        type:
          - object
          - "null"
        additionalProperties: true
    required:
      - requestId

  job_roles:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      "/jobRole/id":
        type: object
        additionalProperties: true
        properties:
          value:
            type:
              - integer
              - string
          humanReadable:
            type:
              - string
              - "null"
      "/jobRole/name":
        type:
          - object
          - "null"
        additionalProperties: true
      "/jobRole/description":
        type:
          - object
          - "null"
        additionalProperties: true
      humanReadable:
        type:
          - object
          - "null"
        additionalProperties: true
