version: 0.72.1
type: DeclarativeSource

definitions:
  # Authenticator
  authenticator:
    type: ApiKeyAuthenticator
    api_token: "Klaviyo-API-Key {{ config['api_key'] }}"
    inject_into:
      type: RequestOption
      field_name: "Authorization"
      inject_into: header

  # Requester
  requester:
    type: HttpRequester
    url_base: "https://a.klaviyo.com/api/"
    authenticator: "#/definitions/authenticator"
    http_method: GET
    request_headers:
      Accept: "application/json"
      Revision: "2023-10-15"

  # Selector
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: ["data"]

  # Paginator
  paginator:
    type: DefaultPaginator
    pagination_strategy:
      type: CursorPagination
      cursor_value: "{{ response.get('links', {}).get('next') }}"
    page_token_option:
      type: RequestPath

  # Retrievers
  base_retriever:
    type: SimpleRetriever
    record_selector: "#/definitions/selector"
    requester: "#/definitions/requester"
    paginator: "#/definitions/paginator"

  semi_incremental_retriever:
    $ref: "#/definitions/base_retriever"
    record_selector:
      $ref: "#/definitions/selector"
      record_filter:
        type: RecordFilter
        condition: >-
          {% set starting_point = stream_state.get('updated', config.get('start_date')) %}
          {{ starting_point and record.get('attributes', {}).get('updated') > starting_point or not starting_point }}

  # Base streams
  base_stream:
    type: DeclarativeStream
    primary_key: "id"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["updated"]
            value: "{{ record.get('attributes', {}).get('updated') }}"

  base_incremental_stream:
    $ref: "#/definitions/base_stream"
    retriever: "#/definitions/base_retriever"
    incremental_sync:
      type: CustomIncrementalSync
      class_name: source_klaviyo.components.datetime_based_cursor.KlaviyoDatetimeBasedCursor
      cursor_field: "{{ parameters.get('cursor_field', 'updated') }}"
      start_datetime: "{{ config.get('start_date') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      start_time_option:
        type: RequestOption
        field_name: "{{ parameters.get('cursor_field', 'updated') }}"
        inject_into: request_parameter

  base_semi_incremental_stream:
    $ref: "#/definitions/base_stream"
    retriever: "#/definitions/semi_incremental_retriever"

  # Incremental streams
  profiles_stream:
    # Docs: https://developers.klaviyo.com/en/v2023-02-22/reference/get_profiles
    name: "profiles"
    $ref: "#/definitions/base_incremental_stream"
    $parameters:
      path: "profiles"

  campaigns_stream:
    # Docs: https://developers.klaviyo.com/en/v2023-06-15/reference/get_campaigns
    name: "campaigns"
    $ref: "#/definitions/base_incremental_stream"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["updated_at"]
            value: "{{ record.get('attributes', {}).get('updated_at') }}"
    $parameters:
      path: "campaigns"
      cursor_field: "updated_at"

  global_exclusions_stream:
    # Docs: https://developers.klaviyo.com/en/v2023-02-22/reference/get_profiles
    name: "global_exclusions"
    $ref: "#/definitions/base_incremental_stream"
    $parameters:
      path: "profiles"

  events_stream:
    # Docs: https://developers.klaviyo.com/en/reference/get_events
    name: "events"
    $ref: "#/definitions/base_incremental_stream"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["datetime"]
            value: "{{ record.get('attributes', {}).get('datetime') }}"
    $parameters:
      path: "events"
      cursor_field: "datetime"

  flows_stream:
    # Docs: https://developers.klaviyo.com/en/reference/get_flows
    name: "flows"
    $ref: "#/definitions/base_incremental_stream"
    $parameters:
      path: "flows"

  email_templates_stream:
    # Docs: https://developers.klaviyo.com/en/reference/get_templates
    name: "email_templates"
    $ref: "#/definitions/base_incremental_stream"
    $parameters:
      path: "templates"

  # Semi-Incremental streams
  metrics_stream:
    # Docs: https://developers.klaviyo.com/en/reference/get_metrics
    name: "metrics"
    $ref: "#/definitions/base_semi_incremental_stream"
    $parameters:
      path: "metrics"

  lists_stream:
    # Docs: https://developers.klaviyo.com/en/reference/get_lists
    name: "lists"
    $ref: "#/definitions/base_semi_incremental_stream"
    $parameters:
      path: "lists"

streams:
  # Incremental streams
  - "#/definitions/profiles_stream"
  - "#/definitions/campaigns_stream"
  - "#/definitions/global_exclusions_stream"
  - "#/definitions/events_stream"
  - "#/definitions/flows_stream"
  - "#/definitions/email_templates_stream"

  # Semi-Incremental streams
  - "#/definitions/metrics_stream"
  - "#/definitions/lists_stream"

check:
  type: CheckStream
  stream_names:
    - metrics
