version: 0.81.6
type: DeclarativeSource

definitions:
  # Authenticator
  authenticator:
    type: ApiKeyAuthenticator
    api_token: "Klaviyo-API-Key {{ config['api_key'] }}"
    inject_into:
      type: RequestOption
      field_name: "Authorization"
      inject_into: header

  # Requester
  requester:
    type: HttpRequester
    url_base: "https://a.klaviyo.com/api/"
    authenticator: "#/definitions/authenticator"
    http_method: GET
    error_handler:
      type: CustomErrorHandler
      class_name: source_klaviyo.components.klaviyo_error_handler.KlaviyoErrorHandler
      backoff_strategies:
        - type: WaitTimeFromHeader
          header: "Retry-After"
      response_filters:
        - type: HttpResponseFilter
          action: RATE_LIMITED
          http_codes: [429]
        - type: HttpResponseFilter
          action: FAIL
          http_codes: [401, 403]
          failure_type: config_error
          error_message: Please provide a valid API key and make sure it has permissions to read specified streams.
    request_headers:
      Accept: "application/json"
      Revision: "2024-10-15"

  # Selector
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: ["data"]

  # Paginator
  cursor_pagination_strategy:
    type: CursorPagination
    cursor_value: "{{ response.get('links', {}).get('next') }}"

  paginator:
    type: DefaultPaginator
    pagination_strategy: "#/definitions/cursor_pagination_strategy"
    page_token_option:
      type: RequestPath

  # Retrievers
  base_retriever:
    type: SimpleRetriever
    record_selector: "#/definitions/selector"
    requester: "#/definitions/requester"
    paginator: "#/definitions/paginator"

  semi_incremental_retriever:
    $ref: "#/definitions/base_retriever"
    record_selector:
      $ref: "#/definitions/selector"
      record_filter:
        type: RecordFilter
        condition: |
          {% set starting_point = stream_state.get('updated', config.get('start_date')) %}
          {{ starting_point and record.get('attributes', {}).get('updated') > starting_point or not starting_point }}

  profiles_retriever:
    $ref: "#/definitions/base_retriever"
    paginator:
      $ref: "#/definitions/paginator"
      pagination_strategy:
        $ref: "#/definitions/cursor_pagination_strategy"
        page_size: 100
      page_size_option:
        type: RequestOption
        field_name: "page[size]"
        inject_into: request_parameter
    requester:
      $ref: "#/definitions/requester"
      request_headers:
        Accept: "application/json"
        Revision: "2024-10-15"
      request_parameters:
        "additional-fields[profile]": "{{ 'predictive_analytics' if not config['disable_fetching_predictive_analytics'] else '' }}"

  # Base streams
  base_stream:
    type: DeclarativeStream
    primary_key: "id"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["updated"]
            value: "{{ record.get('attributes', {}).get('updated') }}"

  base_semi_incremental_stream:
    $ref: "#/definitions/base_stream"
    retriever: "#/definitions/semi_incremental_retriever"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "updated"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      start_datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"

  # Incremental streams
  profiles_stream:
    # Docs: https://developers.klaviyo.com/en/v2024-10-15/reference/get_profiles
    name: "profiles"
    $ref: "#/definitions/base_stream"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "updated"
      start_datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%dT%H:%M:%S%z"
        - "%Y-%m-%d %H:%M:%S%z"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/profiles_schema"
    retriever:
      $ref: "#/definitions/profiles_retriever"
      requester:
        $ref: "#/definitions/profiles_retriever/requester"
        request_parameters:
          $ref: "#/definitions/profiles_retriever/requester/request_parameters"
          "filter": "greater-than({{ parameters.cursor_field }},{{ stream_interval.start_time }})"
          "sort": "{{ parameters.cursor_field }}"
      record_selector:
        $ref: "#/definitions/selector"
        schema_normalization: Default
    $parameters:
      path: "profiles"
      cursor_field: "updated"

  global_exclusions_stream:
    # Docs: https://developers.klaviyo.com/en/v2024-10-15/reference/get_profiles
    name: "global_exclusions"
    $ref: "#/definitions/profiles_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/global_exclusions_schema"
    retriever:
      $ref: "#/definitions/profiles_retriever"
      record_selector:
        $ref: "#/definitions/selector"
        record_filter:
          type: RecordFilter
          condition: "{{ record['attributes']['subscriptions']['email']['marketing']['suppressions'] }}"

  events_stream:
    # Docs: https://developers.klaviyo.com/en/reference/get_events
    name: "events"
    $ref: "#/definitions/base_stream"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "datetime"
      start_datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%dT%H:%M:%S%z"
        - "%Y-%m-%d %H:%M:%S%z"
      step: P7D
      cursor_granularity: PT1S
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          "fields[metric]": "name,created,updated,integration"
          "include": "metric,attributions"
          "filter": "greater-or-equal({{ parameters.cursor_field }},{{ stream_interval.start_time }}),less-or-equal({{ parameters.cursor_field }},{{ stream_interval.end_time }})"
          "sort": "{{ parameters.cursor_field }}"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/events_schema"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["datetime"]
            value: "{{ record.get('attributes', {}).get('datetime') }}"
    $parameters:
      path: "events"
      cursor_field: "datetime"

  email_templates_stream:
    # Docs: https://developers.klaviyo.com/en/reference/get_templates
    name: "email_templates"
    $ref: "#/definitions/base_stream"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "updated"
      start_datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%dT%H:%M:%S%z"
        - "%Y-%m-%d %H:%M:%S%z"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/email_templates_schema"
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          "filter": "greater-than({{ parameters.cursor_field }},{{ stream_interval.start_time }})"
          "sort": "{{ parameters.cursor_field }}"
    $parameters:
      path: "templates"
      cursor_field: "updated"

  # Semi-Incremental streams
  metrics_stream:
    # Docs: https://developers.klaviyo.com/en/reference/get_metrics
    name: "metrics"
    $ref: "#/definitions/base_semi_incremental_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/metrics_schema"
    $parameters:
      path: "metrics"

  lists_stream:
    # Docs: https://developers.klaviyo.com/en/reference/get_lists
    name: "lists"
    $ref: "#/definitions/base_semi_incremental_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/lists_schema"
    $parameters:
      path: "lists"

  lists_detailed_stream:
    # Docs: https://developers.klaviyo.com/en/reference/get_list
    name: "lists_detailed"
    $ref: "#/definitions/base_semi_incremental_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/lists_detailed_schema"
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          "additional-fields[list]": "profile_count"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: "id"
            stream: "#/definitions/lists_stream"
            partition_field: "id"
    $parameters:
      path: "lists/{{ stream_slice.id }}"

  events_detailed_stream:
    # Docs: https://developers.klaviyo.com/en/reference/get_event
    name: "events_detailed"
    $ref: "#/definitions/base_stream"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "{{ parameters.get('cursor_field') }}"
      start_datetime: "{{ config.get('start_date', '2012-01-01T00:00:00Z') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%dT%H:%M:%S%z"
        - "%Y-%m-%d %H:%M:%S%z"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/events_detailed_schema"
    retriever:
      $ref: "#/definitions/base_retriever"
      record_selector:
        type: RecordSelector
        extractor:
          type: CustomRecordExtractor
          class_name: source_klaviyo.components.included_fields_extractor.KlaviyoIncludedFieldExtractor
          field_path: ["data"]
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          "include": "metric,attributions"
          "fields[metric]": "name"
          "filter": "greater-than({{ parameters.cursor_field }},{{ stream_interval.start_time }})"
          "sort": "{{ parameters.cursor_field }}"
    state_migrations:
      - type: CustomStateMigration
        class_name: source_klaviyo.components.per_partition_state_migration.PerPartitionToSingleStateMigration
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["datetime"]
            value: "{{ record.get('attributes', {}).get('datetime') }}"
    $parameters:
      path: "events"
      cursor_field: "datetime"

  # Schemas
  shared:
    list_properties:
      type:
        type: string
      id:
        type: string
      updated:
        type: ["null", string]
        format: date-time
      attributes:
        type: ["null", object]
        properties:
          name:
            type: string
          created:
            type: ["null", string]
            format: date-time
          updated:
            type: ["null", string]
            format: date-time
          opt_in_process:
            type: ["null", string]
      links:
        type: ["null", object]
        additionalProperties: true
        properties:
          self:
            type: string
      relationships:
        type: ["null", object]
        additionalProperties: true
        properties:
          profiles:
            type: ["null", object]
            properties:
              links:
                type: ["null", object]
                properties:
                  self:
                    type: string
                  related:
                    type: string
          tags:
            type: ["null", object]
            properties:
              data:
                type: array
                items:
                  type: ["null", object]
                  properties:
                    type:
                      type: string
                    id:
                      type: string
              links:
                type: ["null", object]
                properties:
                  self:
                    type: string
                  related:
                    type: string

    subscriptions:
      type: ["null", object]
      properties:
        email:
          type: ["null", object]
          properties:
            marketing:
              type: ["null", object]
              properties:
                can_receive_email_marketing:
                  type: boolean
                consent:
                  type: string
                timestamp:
                  type: ["null", string]
                  format: date-time
                last_updated:
                  type: ["null", string]
                  format: date-time
                method:
                  type: ["null", string]
                method_detail:
                  type: ["null", string]
                custom_method_detail:
                  type: ["null", string]
                double_optin:
                  type: ["null", boolean]
                suppressions:
                  type: ["null", array]
                  items:
                    type: ["null", object]
                    properties:
                      reason:
                        type: string
                      timestamp:
                        type: string
                        format: date-time
                list_suppressions:
                  type: ["null", array]
                  items:
                    type: ["null", object]
                    properties:
                      list_id:
                        type: string
                      reason:
                        type: string
                      timestamp:
                        type: string
                        format: date-time
        sms:
          type: ["null", object]
          properties:
            marketing:
              type: ["null", object]
              properties:
                can_receive_sms_marketing:
                  type: ["null", boolean]
                consent:
                  type: ["null", string]
                consent_timestamp:
                  type: ["null", string]
                  format: date-time
                method:
                  type: ["null", string]
                method_detail:
                  type: ["null", string]
                last_updated:
                  type: ["null", string]
                  format: date-time
                timestamp:
                  type: ["null", string]
                  format: date-time

  profiles_schema:
    $schema: "http://json-schema.org/draft-07/schema#"
    type: object
    additionalProperties: true
    properties:
      type:
        type: ["null", string]
      id:
        type: string
      updated:
        type: ["null", string]
        format: date-time
      attributes:
        type: ["null", object]
        additionalProperties: true
        properties:
          email:
            type: ["null", string]
          phone_number:
            type: ["null", string]
          anonymous_id:
            type: ["null", string]
          external_id:
            type: ["null", string]
          first_name:
            type: ["null", string]
          last_name:
            type: ["null", string]
          organization:
            type: ["null", string]
          title:
            type: ["null", string]
          image:
            type: ["null", string]
          created:
            type: ["null", string]
            format: date-time
          updated:
            type: ["null", string]
            format: date-time
          last_event_date:
            type: ["null", string]
            format: date-time
          location:
            type: ["null", object]
            properties:
              address1:
                type: ["null", string]
              address2:
                type: ["null", string]
              city:
                type: ["null", string]
              country:
                type: ["null", string]
              latitude:
                oneOf:
                  - type: "null"
                  - type: number
                  - type: string
              longitude:
                oneOf:
                  - type: "null"
                  - type: number
                  - type: string
              region:
                type: ["null", string]
              zip:
                type: ["null", string]
              timezone:
                type: ["null", string]
              ip:
                type: ["null", string]
          properties:
            type: ["null", object]
            additionalProperties: true
          subscriptions: "#/definitions/shared/subscriptions"
          predictive_analytics:
            type: ["null", object]
            properties:
              historic_clv:
                type: ["null", number]
              predicted_clv:
                type: ["null", number]
              total_clv:
                type: ["null", number]
              historic_number_of_orders:
                type: ["null", integer]
              predicted_number_of_orders:
                type: ["null", number]
              average_days_between_orders:
                type: ["null", number]
              average_order_value:
                type: ["null", number]
              churn_probability:
                type: ["null", number]
              expected_date_of_next_order:
                type: ["null", string]
      links:
        type: ["null", object]
        properties:
          self:
            type: ["null", string]
      relationships:
        type: ["null", object]
        properties:
          lists:
            type: ["null", object]
            properties:
              links:
                type: ["null", object]
                properties:
                  self:
                    type: ["null", string]
                  related:
                    type: ["null", string]
          segments:
            type: ["null", object]
            properties:
              links:
                type: ["null", object]
                properties:
                  self:
                    type: ["null", string]
                  related:
                    type: ["null", string]
      segments:
        type: ["null", object]

  global_exclusions_schema:
    $schema: "http://json-schema.org/draft-07/schema#"
    type: object
    additionalProperties: true
    properties:
      type:
        type: ["null", string]
      id:
        type: string
      updated:
        type: ["null", string]
        format: date-time
      attributes:
        type: ["null", object]
        additionalProperties: true
        properties:
          email:
            type: ["null", string]
          phone_number:
            type: ["null", string]
          anonymous_id:
            type: ["null", string]
          external_id:
            type: ["null", string]
          first_name:
            type: ["null", string]
          last_name:
            type: ["null", string]
          organization:
            type: ["null", string]
          title:
            type: ["null", string]
          image:
            type: ["null", string]
          created:
            type: ["null", string]
            format: date-time
          updated:
            type: ["null", string]
            format: date-time
          last_event_date:
            type: ["null", string]
            format: date-time
          location:
            type: ["null", object]
            properties:
              address1:
                type: ["null", string]
              address2:
                type: ["null", string]
              city:
                type: ["null", string]
              country:
                type: ["null", string]
              latitude:
                oneOf:
                  - type: "null"
                  - type: number
                  - type: string
              longitude:
                oneOf:
                  - type: "null"
                  - type: number
                  - type: string
              region:
                type: ["null", string]
              zip:
                type: ["null", string]
              timezone:
                type: ["null", string]
              ip:
                type: ["null", string]
          properties:
            type: ["null", object]
            additionalProperties: true
          subscriptions: "#/definitions/shared/subscriptions"
          predictive_analytics:
            type: ["null", object]
            properties:
              historic_clv:
                type: ["null", number]
              predicted_clv:
                type: ["null", number]
              total_clv:
                type: ["null", number]
              historic_number_of_orders:
                type: ["null", integer]
              predicted_number_of_orders:
                type: ["null", number]
              average_days_between_orders:
                type: ["null", number]
              average_order_value:
                type: ["null", number]
              churn_probability:
                type: ["null", number]
              expected_date_of_next_order:
                type: ["null", string]
      links:
        type: ["null", object]
        properties:
          self:
            type: ["null", string]
      relationships:
        type: ["null", object]
        properties:
          lists:
            type: ["null", object]
            properties:
              links:
                type: ["null", object]
                properties:
                  self:
                    type: ["null", string]
                  related:
                    type: ["null", string]
          segments:
            type: ["null", object]
            properties:
              links:
                type: ["null", object]
                properties:
                  self:
                    type: ["null", string]
                  related:
                    type: ["null", string]
      segments:
        type: ["null", object]

  events_schema:
    $schema: "http://json-schema.org/draft-07/schema#"
    type: object
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          datetime:
            type:
              - string
              - "null"
          event_properties:
            type:
              - object
              - "null"
            properties:
              $_cohort$message_send_cohort:
                type:
                  - string
                  - "null"
              $currency_code:
                type:
                  - string
                  - "null"
              $event_id:
                type:
                  - string
                  - "null"
              $extra:
                type:
                  - object
                  - "null"
                properties:
                  admin_graphql_api_id:
                    type:
                      - string
                      - "null"
                  app_id:
                    type:
                      - number
                      - "null"
                  billing_address:
                    type:
                      - object
                      - "null"
                    properties:
                      address1:
                        type:
                          - string
                          - "null"
                      city:
                        type:
                          - string
                          - "null"
                      country:
                        type:
                          - string
                          - "null"
                      country_code:
                        type:
                          - string
                          - "null"
                      first_name:
                        type:
                          - string
                          - "null"
                      last_name:
                        type:
                          - string
                          - "null"
                      latitude:
                        type:
                          - number
                          - "null"
                      longitude:
                        type:
                          - number
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      phone:
                        type:
                          - string
                          - "null"
                      province:
                        type:
                          - string
                          - "null"
                      province_code:
                        type:
                          - string
                          - "null"
                      zip:
                        type:
                          - string
                          - "null"
                  buyer_accepts_marketing:
                    type:
                      - boolean
                      - "null"
                  checkout_id:
                    type:
                      - number
                      - "null"
                  checkout_token:
                    type:
                      - string
                      - "null"
                  checkout_url:
                    type:
                      - string
                      - "null"
                  client_details:
                    type:
                      - object
                      - "null"
                    properties: {}
                  closed_at:
                    type:
                      - string
                      - "null"
                  confirmed:
                    type:
                      - boolean
                      - "null"
                  contact_email:
                    type:
                      - string
                      - "null"
                  created_at:
                    type:
                      - string
                      - "null"
                  currency:
                    type:
                      - string
                      - "null"
                  current_subtotal_price:
                    type:
                      - string
                      - "null"
                  current_subtotal_price_set:
                    type:
                      - object
                      - "null"
                    properties:
                      presentment_money:
                        type:
                          - object
                          - "null"
                        properties:
                          amount:
                            type:
                              - string
                              - "null"
                          currency_code:
                            type:
                              - string
                              - "null"
                      shop_money:
                        type:
                          - object
                          - "null"
                        properties:
                          amount:
                            type:
                              - string
                              - "null"
                          currency_code:
                            type:
                              - string
                              - "null"
                  current_total_discounts:
                    type:
                      - string
                      - "null"
                  current_total_discounts_set:
                    type:
                      - object
                      - "null"
                    properties:
                      presentment_money:
                        type:
                          - object
                          - "null"
                        properties:
                          amount:
                            type:
                              - string
                              - "null"
                          currency_code:
                            type:
                              - string
                              - "null"
                      shop_money:
                        type:
                          - object
                          - "null"
                        properties:
                          amount:
                            type:
                              - string
                              - "null"
                          currency_code:
                            type:
                              - string
                              - "null"
                  current_total_price:
                    type:
                      - string
                      - "null"
                  current_total_price_set:
                    type:
                      - object
                      - "null"
                    properties:
                      presentment_money:
                        type:
                          - object
                          - "null"
                        properties:
                          amount:
                            type:
                              - string
                              - "null"
                          currency_code:
                            type:
                              - string
                              - "null"
                      shop_money:
                        type:
                          - object
                          - "null"
                        properties:
                          amount:
                            type:
                              - string
                              - "null"
                          currency_code:
                            type:
                              - string
                              - "null"
                  current_total_tax:
                    type:
                      - string
                      - "null"
                  current_total_tax_set:
                    type:
                      - object
                      - "null"
                    properties:
                      presentment_money:
                        type:
                          - object
                          - "null"
                        properties:
                          amount:
                            type:
                              - string
                              - "null"
                          currency_code:
                            type:
                              - string
                              - "null"
                      shop_money:
                        type:
                          - object
                          - "null"
                        properties:
                          amount:
                            type:
                              - string
                              - "null"
                          currency_code:
                            type:
                              - string
                              - "null"
                  customer:
                    type:
                      - object
                      - "null"
                    properties:
                      accepts_marketing:
                        type:
                          - boolean
                          - "null"
                      accepts_marketing_updated_at:
                        type:
                          - string
                          - "null"
                      admin_graphql_api_id:
                        type:
                          - string
                          - "null"
                      created_at:
                        type:
                          - string
                          - "null"
                      currency:
                        type:
                          - string
                          - "null"
                      default_address:
                        type:
                          - object
                          - "null"
                        properties:
                          address1:
                            type:
                              - string
                              - "null"
                          address2:
                            type:
                              - string
                              - "null"
                          city:
                            type:
                              - string
                              - "null"
                          country:
                            type:
                              - string
                              - "null"
                          country_code:
                            type:
                              - string
                              - "null"
                          country_name:
                            type:
                              - string
                              - "null"
                          customer_id:
                            type:
                              - number
                              - "null"
                          default:
                            type:
                              - boolean
                              - "null"
                          first_name:
                            type:
                              - string
                              - "null"
                          id:
                            type:
                              - number
                              - "null"
                          last_name:
                            type:
                              - string
                              - "null"
                          name:
                            type:
                              - string
                              - "null"
                          phone:
                            type:
                              - string
                              - "null"
                          province:
                            type:
                              - string
                              - "null"
                          province_code:
                            type:
                              - string
                              - "null"
                          zip:
                            type:
                              - string
                              - "null"
                      email:
                        type:
                          - string
                          - "null"
                      first_name:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - number
                          - "null"
                      last_name:
                        type:
                          - string
                          - "null"
                      last_order_id:
                        type:
                          - number
                          - "null"
                      last_order_name:
                        type:
                          - string
                          - "null"
                      orders_count:
                        type:
                          - number
                          - "null"
                      state:
                        type:
                          - string
                          - "null"
                      tags:
                        type:
                          - string
                          - "null"
                      tax_exempt:
                        type:
                          - boolean
                          - "null"
                      tax_exemptions:
                        type:
                          - array
                          - "null"
                      total_spent:
                        type:
                          - string
                          - "null"
                      updated_at:
                        type:
                          - string
                          - "null"
                      verified_email:
                        type:
                          - boolean
                          - "null"
                  customer_locale:
                    type:
                      - string
                      - "null"
                  discount_applications:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        description:
                          type:
                            - string
                            - "null"
                        allocation_method:
                          type:
                            - string
                            - "null"
                        target_selection:
                          type:
                            - string
                            - "null"
                        target_type:
                          type:
                            - string
                            - "null"
                        title:
                          type:
                            - string
                            - "null"
                        value:
                          type:
                            - string
                            - "null"
                        value_type:
                          type:
                            - string
                            - "null"
                  discount_codes:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        amount:
                          type:
                            - string
                            - "null"
                        code:
                          type:
                            - string
                            - "null"
                  email:
                    type:
                      - string
                      - "null"
                  estimated_taxes:
                    type:
                      - boolean
                      - "null"
                  financial_status:
                    type:
                      - string
                      - "null"
                  fulfillment_status:
                    type:
                      - string
                      - "null"
                  fulfillments:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        admin_graphql_api_id:
                          type:
                            - string
                            - "null"
                        created_at:
                          type:
                            - string
                            - "null"
                        id:
                          type:
                            - number
                            - "null"
                        line_items:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              admin_graphql_api_id:
                                type:
                                  - string
                                  - "null"
                              discount_allocations:
                                type:
                                  - array
                                  - "null"
                              duties:
                                type:
                                  - array
                                  - "null"
                              fulfillable_quantity:
                                type:
                                  - number
                                  - "null"
                              fulfillment_service:
                                type:
                                  - string
                                  - "null"
                              fulfillment_status:
                                type:
                                  - string
                                  - "null"
                              gift_card:
                                type:
                                  - boolean
                                  - "null"
                              grams:
                                type:
                                  - number
                                  - "null"
                              id:
                                type:
                                  - number
                                  - "null"
                              name:
                                type:
                                  - string
                                  - "null"
                              origin_location:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  address1:
                                    type:
                                      - string
                                      - "null"
                                  address2:
                                    type:
                                      - string
                                      - "null"
                                  city:
                                    type:
                                      - string
                                      - "null"
                                  country_code:
                                    type:
                                      - string
                                      - "null"
                                  id:
                                    type:
                                      - number
                                      - "null"
                                  name:
                                    type:
                                      - string
                                      - "null"
                                  province_code:
                                    type:
                                      - string
                                      - "null"
                                  zip:
                                    type:
                                      - string
                                      - "null"
                              price:
                                type:
                                  - string
                                  - "null"
                              price_set:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  presentment_money:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      amount:
                                        type:
                                          - string
                                          - "null"
                                      currency_code:
                                        type:
                                          - string
                                          - "null"
                                  shop_money:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      amount:
                                        type:
                                          - string
                                          - "null"
                                      currency_code:
                                        type:
                                          - string
                                          - "null"
                              product_exists:
                                type:
                                  - boolean
                                  - "null"
                              product_id:
                                type:
                                  - number
                                  - "null"
                              properties:
                                type:
                                  - array
                                  - "null"
                              quantity:
                                type:
                                  - number
                                  - "null"
                              requires_shipping:
                                type:
                                  - boolean
                                  - "null"
                              sku:
                                type:
                                  - string
                                  - "null"
                              tax_lines:
                                type:
                                  - array
                                  - "null"
                                items:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    price:
                                      type:
                                        - string
                                        - "null"
                                    price_set:
                                      type:
                                        - object
                                        - "null"
                                      properties:
                                        presentment_money:
                                          type:
                                            - object
                                            - "null"
                                          properties:
                                            amount:
                                              type:
                                                - string
                                                - "null"
                                            currency_code:
                                              type:
                                                - string
                                                - "null"
                                        shop_money:
                                          type:
                                            - object
                                            - "null"
                                          properties:
                                            amount:
                                              type:
                                                - string
                                                - "null"
                                            currency_code:
                                              type:
                                                - string
                                                - "null"
                                    rate:
                                      type:
                                        - number
                                        - "null"
                                    title:
                                      type:
                                        - string
                                        - "null"
                              taxable:
                                type:
                                  - boolean
                                  - "null"
                              title:
                                type:
                                  - string
                                  - "null"
                              total_discount:
                                type:
                                  - string
                                  - "null"
                              total_discount_set:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  presentment_money:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      amount:
                                        type:
                                          - string
                                          - "null"
                                      currency_code:
                                        type:
                                          - string
                                          - "null"
                                  shop_money:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      amount:
                                        type:
                                          - string
                                          - "null"
                                      currency_code:
                                        type:
                                          - string
                                          - "null"
                              variant_id:
                                type:
                                  - number
                                  - "null"
                              variant_inventory_management:
                                type:
                                  - string
                                  - "null"
                              variant_title:
                                type:
                                  - string
                                  - "null"
                              vendor:
                                type:
                                  - string
                                  - "null"
                        location_id:
                          type:
                            - number
                            - "null"
                        name:
                          type:
                            - string
                            - "null"
                        origin_address:
                          type:
                            - object
                            - "null"
                        receipt:
                          type:
                            - object
                            - "null"
                        service:
                          type:
                            - string
                            - "null"
                        status:
                          type:
                            - string
                            - "null"
                        tracking_company:
                          type:
                            - string
                            - "null"
                        tracking_number:
                          type:
                            - string
                            - "null"
                        tracking_numbers:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - string
                              - "null"
                        tracking_url:
                          type:
                            - string
                            - "null"
                        tracking_urls:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - string
                              - "null"
                        updated_at:
                          type:
                            - string
                            - "null"
                  full_landing_site:
                    type:
                      - string
                      - "null"
                  gateway:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - number
                      - "null"
                  line_items:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        admin_graphql_api_id:
                          type:
                            - string
                            - "null"
                        discount_allocations:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              amount:
                                type:
                                  - string
                                  - "null"
                              amount_set:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  presentment_money:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      amount:
                                        type:
                                          - string
                                          - "null"
                                      currency_code:
                                        type:
                                          - string
                                          - "null"
                                  shop_money:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      amount:
                                        type:
                                          - string
                                          - "null"
                                      currency_code:
                                        type:
                                          - string
                                          - "null"
                              discount_application_index:
                                type:
                                  - number
                                  - "null"
                        duties:
                          type:
                            - array
                            - "null"
                        fulfillable_quantity:
                          type:
                            - number
                            - "null"
                        fulfillment_service:
                          type:
                            - string
                            - "null"
                        fulfillment_status:
                          type:
                            - string
                            - "null"
                        gift_card:
                          type:
                            - boolean
                            - "null"
                        grams:
                          type:
                            - number
                            - "null"
                        id:
                          type:
                            - number
                            - "null"
                        line_price:
                          type:
                            - number
                            - "null"
                        name:
                          type:
                            - string
                            - "null"
                        origin_location:
                          type:
                            - object
                            - "null"
                          properties:
                            address1:
                              type:
                                - string
                                - "null"
                            address2:
                              type:
                                - string
                                - "null"
                            city:
                              type:
                                - string
                                - "null"
                            country_code:
                              type:
                                - string
                                - "null"
                            id:
                              type:
                                - number
                                - "null"
                            name:
                              type:
                                - string
                                - "null"
                            province_code:
                              type:
                                - string
                                - "null"
                            zip:
                              type:
                                - string
                                - "null"
                        price:
                          type:
                            - number
                            - "null"
                        price_set:
                          type:
                            - object
                            - "null"
                          properties:
                            presentment_money:
                              type:
                                - object
                                - "null"
                              properties:
                                amount:
                                  type:
                                    - string
                                    - "null"
                                currency_code:
                                  type:
                                    - string
                                    - "null"
                            shop_money:
                              type:
                                - object
                                - "null"
                              properties:
                                amount:
                                  type:
                                    - string
                                    - "null"
                                currency_code:
                                  type:
                                    - string
                                    - "null"
                        product:
                          type:
                            - object
                            - "null"
                          properties:
                            body_html:
                              type:
                                - string
                                - "null"
                            handle:
                              type:
                                - string
                                - "null"
                            id:
                              type:
                                - number
                                - "null"
                            images:
                              type:
                                - array
                                - "null"
                              items:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  created_at:
                                    type:
                                      - string
                                      - "null"
                                  height:
                                    type:
                                      - number
                                      - "null"
                                  id:
                                    type:
                                      - number
                                      - "null"
                                  position:
                                    type:
                                      - number
                                      - "null"
                                  src:
                                    type:
                                      - string
                                      - "null"
                                  thumb_src:
                                    type:
                                      - string
                                      - "null"
                                  updated_at:
                                    type:
                                      - string
                                      - "null"
                                  variant_ids:
                                    type:
                                      - array
                                      - "null"
                                  width:
                                    type:
                                      - number
                                      - "null"
                            product_type:
                              type:
                                - string
                                - "null"
                            properties:
                              type:
                                - object
                                - "null"
                            tags:
                              type:
                                - string
                                - "null"
                            title:
                              type:
                                - string
                                - "null"
                            variant:
                              type:
                                - object
                                - "null"
                              properties:
                                images:
                                  type:
                                    - array
                                    - "null"
                                options:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    Title:
                                      type:
                                        - string
                                        - "null"
                                sku:
                                  type:
                                    - number
                                    - "null"
                                title:
                                  type:
                                    - string
                                    - "null"
                            variant_options:
                              type:
                                - object
                                - "null"
                              properties:
                                Title:
                                  type:
                                    - string
                                    - "null"
                            vendor:
                              type:
                                - string
                                - "null"
                        product_exists:
                          type:
                            - boolean
                            - "null"
                        product_id:
                          type:
                            - number
                            - "null"
                        properties:
                          type:
                            - array
                            - "null"
                        quantity:
                          type:
                            - number
                            - "null"
                        requires_shipping:
                          type:
                            - boolean
                            - "null"
                        sku:
                          type:
                            - string
                            - "null"
                        tax_lines:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              price:
                                type:
                                  - string
                                  - "null"
                              price_set:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  presentment_money:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      amount:
                                        type:
                                          - string
                                          - "null"
                                      currency_code:
                                        type:
                                          - string
                                          - "null"
                                  shop_money:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      amount:
                                        type:
                                          - string
                                          - "null"
                                      currency_code:
                                        type:
                                          - string
                                          - "null"
                              rate:
                                type:
                                  - number
                                  - "null"
                              title:
                                type:
                                  - string
                                  - "null"
                        taxable:
                          type:
                            - boolean
                            - "null"
                        title:
                          type:
                            - string
                            - "null"
                        total_discount:
                          type:
                            - string
                            - "null"
                        total_discount_set:
                          type:
                            - object
                            - "null"
                          properties:
                            presentment_money:
                              type:
                                - object
                                - "null"
                              properties:
                                amount:
                                  type:
                                    - string
                                    - "null"
                                currency_code:
                                  type:
                                    - string
                                    - "null"
                            shop_money:
                              type:
                                - object
                                - "null"
                              properties:
                                amount:
                                  type:
                                    - string
                                    - "null"
                                currency_code:
                                  type:
                                    - string
                                    - "null"
                        variant_id:
                          type:
                            - number
                            - "null"
                        variant_inventory_management:
                          type:
                            - string
                            - "null"
                        variant_title:
                          type:
                            - string
                            - "null"
                        vendor:
                          type:
                            - string
                            - "null"
                  name:
                    type:
                      - string
                      - "null"
                  note:
                    type:
                      - string
                      - "null"
                  note_attributes:
                    type:
                      - array
                      - "null"
                  number:
                    type:
                      - number
                      - "null"
                  order_number:
                    type:
                      - number
                      - "null"
                  order_status_url:
                    type:
                      - string
                      - "null"
                  payment_gateway_names:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  presentment_currency:
                    type:
                      - string
                      - "null"
                  processed_at:
                    type:
                      - string
                      - "null"
                  processing_method:
                    type:
                      - string
                      - "null"
                  refunds:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        admin_graphql_api_id:
                          type:
                            - string
                            - "null"
                        created_at:
                          type:
                            - string
                            - "null"
                        duties:
                          type:
                            - array
                            - "null"
                        id:
                          type:
                            - number
                            - "null"
                        note:
                          type:
                            - string
                            - "null"
                        order_adjustments:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              amount:
                                type:
                                  - string
                                  - "null"
                              amount_set:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  presentment_money:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      amount:
                                        type:
                                          - string
                                          - "null"
                                      currency_code:
                                        type:
                                          - string
                                          - "null"
                                  shop_money:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      amount:
                                        type:
                                          - string
                                          - "null"
                                      currency_code:
                                        type:
                                          - string
                                          - "null"
                              id:
                                type:
                                  - number
                                  - "null"
                              kind:
                                type:
                                  - string
                                  - "null"
                              reason:
                                type:
                                  - string
                                  - "null"
                              refund_id:
                                type:
                                  - number
                                  - "null"
                              tax_amount:
                                type:
                                  - string
                                  - "null"
                              tax_amount_set:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  presentment_money:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      amount:
                                        type:
                                          - string
                                          - "null"
                                      currency_code:
                                        type:
                                          - string
                                          - "null"
                                  shop_money:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      amount:
                                        type:
                                          - string
                                          - "null"
                                      currency_code:
                                        type:
                                          - string
                                          - "null"
                        processed_at:
                          type:
                            - string
                            - "null"
                        refund_line_items:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              id:
                                type:
                                  - number
                                  - "null"
                              line_item:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  admin_graphql_api_id:
                                    type:
                                      - string
                                      - "null"
                                  discount_allocations:
                                    type:
                                      - array
                                      - "null"
                                  duties:
                                    type:
                                      - array
                                      - "null"
                                  fulfillable_quantity:
                                    type:
                                      - number
                                      - "null"
                                  fulfillment_service:
                                    type:
                                      - string
                                      - "null"
                                  fulfillment_status:
                                    type:
                                      - string
                                      - "null"
                                  gift_card:
                                    type:
                                      - boolean
                                      - "null"
                                  grams:
                                    type:
                                      - number
                                      - "null"
                                  id:
                                    type:
                                      - number
                                      - "null"
                                  name:
                                    type:
                                      - string
                                      - "null"
                                  price:
                                    type:
                                      - string
                                      - "null"
                                  price_set:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      presentment_money:
                                        type:
                                          - object
                                          - "null"
                                        properties:
                                          amount:
                                            type:
                                              - string
                                              - "null"
                                          currency_code:
                                            type:
                                              - string
                                              - "null"
                                      shop_money:
                                        type:
                                          - object
                                          - "null"
                                        properties:
                                          amount:
                                            type:
                                              - string
                                              - "null"
                                          currency_code:
                                            type:
                                              - string
                                              - "null"
                                  product_exists:
                                    type:
                                      - boolean
                                      - "null"
                                  properties:
                                    type:
                                      - array
                                      - "null"
                                  quantity:
                                    type:
                                      - number
                                      - "null"
                                  requires_shipping:
                                    type:
                                      - boolean
                                      - "null"
                                  tax_lines:
                                    type:
                                      - array
                                      - "null"
                                    items:
                                      type:
                                        - object
                                        - "null"
                                      properties:
                                        price:
                                          type:
                                            - string
                                            - "null"
                                        price_set:
                                          type:
                                            - object
                                            - "null"
                                          properties:
                                            presentment_money:
                                              type:
                                                - object
                                                - "null"
                                              properties:
                                                amount:
                                                  type:
                                                    - string
                                                    - "null"
                                                currency_code:
                                                  type:
                                                    - string
                                                    - "null"
                                            shop_money:
                                              type:
                                                - object
                                                - "null"
                                              properties:
                                                amount:
                                                  type:
                                                    - string
                                                    - "null"
                                                currency_code:
                                                  type:
                                                    - string
                                                    - "null"
                                        rate:
                                          type:
                                            - number
                                            - "null"
                                        title:
                                          type:
                                            - string
                                            - "null"
                                  taxable:
                                    type:
                                      - boolean
                                      - "null"
                                  title:
                                    type:
                                      - string
                                      - "null"
                                  total_discount:
                                    type:
                                      - string
                                      - "null"
                                  total_discount_set:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      presentment_money:
                                        type:
                                          - object
                                          - "null"
                                        properties:
                                          amount:
                                            type:
                                              - string
                                              - "null"
                                          currency_code:
                                            type:
                                              - string
                                              - "null"
                                      shop_money:
                                        type:
                                          - object
                                          - "null"
                                        properties:
                                          amount:
                                            type:
                                              - string
                                              - "null"
                                          currency_code:
                                            type:
                                              - string
                                              - "null"
                              line_item_id:
                                type:
                                  - number
                                  - "null"
                              quantity:
                                type:
                                  - number
                                  - "null"
                              restock_type:
                                type:
                                  - string
                                  - "null"
                              subtotal:
                                type:
                                  - number
                                  - "null"
                              subtotal_set:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  presentment_money:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      amount:
                                        type:
                                          - string
                                          - "null"
                                      currency_code:
                                        type:
                                          - string
                                          - "null"
                                  shop_money:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      amount:
                                        type:
                                          - string
                                          - "null"
                                      currency_code:
                                        type:
                                          - string
                                          - "null"
                              total_tax:
                                type:
                                  - number
                                  - "null"
                              total_tax_set:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  presentment_money:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      amount:
                                        type:
                                          - string
                                          - "null"
                                      currency_code:
                                        type:
                                          - string
                                          - "null"
                                  shop_money:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      amount:
                                        type:
                                          - string
                                          - "null"
                                      currency_code:
                                        type:
                                          - string
                                          - "null"
                        restock:
                          type:
                            - boolean
                            - "null"
                        total_duties_set:
                          type:
                            - object
                            - "null"
                          properties:
                            presentment_money:
                              type:
                                - object
                                - "null"
                              properties:
                                amount:
                                  type:
                                    - string
                                    - "null"
                                currency_code:
                                  type:
                                    - string
                                    - "null"
                            shop_money:
                              type:
                                - object
                                - "null"
                              properties:
                                amount:
                                  type:
                                    - string
                                    - "null"
                                currency_code:
                                  type:
                                    - string
                                    - "null"
                        transactions:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              admin_graphql_api_id:
                                type:
                                  - string
                                  - "null"
                              amount:
                                type:
                                  - string
                                  - "null"
                              created_at:
                                type:
                                  - string
                                  - "null"
                              currency:
                                type:
                                  - string
                                  - "null"
                              gateway:
                                type:
                                  - string
                                  - "null"
                              id:
                                type:
                                  - number
                                  - "null"
                              kind:
                                type:
                                  - string
                                  - "null"
                              message:
                                type:
                                  - string
                                  - "null"
                              parent_id:
                                type:
                                  - number
                                  - "null"
                              processed_at:
                                type:
                                  - string
                                  - "null"
                              receipt:
                                type:
                                  - object
                                  - "null"
                              source_name:
                                type:
                                  - string
                                  - "null"
                              status:
                                type:
                                  - string
                                  - "null"
                              test:
                                type:
                                  - boolean
                                  - "null"
                              user_id:
                                type:
                                  - number
                                  - "null"
                        user_id:
                          type:
                            - number
                            - "null"
                  responsive_checkout_url:
                    type:
                      - string
                      - "null"
                  shipping_address:
                    type:
                      - object
                      - "null"
                    properties:
                      address1:
                        type:
                          - string
                          - "null"
                      address2:
                        type:
                          - string
                          - "null"
                      city:
                        type:
                          - string
                          - "null"
                      company:
                        type:
                          - string
                          - "null"
                      country:
                        type:
                          - string
                          - "null"
                      country_code:
                        type:
                          - string
                          - "null"
                      first_name:
                        type:
                          - string
                          - "null"
                      last_name:
                        type:
                          - string
                          - "null"
                      latitude:
                        type:
                          - number
                          - "null"
                      longitude:
                        type:
                          - number
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      phone:
                        type:
                          - string
                          - "null"
                      province:
                        type:
                          - string
                          - "null"
                      province_code:
                        type:
                          - string
                          - "null"
                      zip:
                        type:
                          - string
                          - "null"
                  shipping_lines:
                    type:
                      - array
                      - "null"
                  source_name:
                    type:
                      - string
                      - "null"
                  subtotal_price:
                    type:
                      - string
                      - "null"
                  subtotal_price_set:
                    type:
                      - object
                      - "null"
                    properties:
                      presentment_money:
                        type:
                          - object
                          - "null"
                        properties:
                          amount:
                            type:
                              - string
                              - "null"
                          currency_code:
                            type:
                              - string
                              - "null"
                      shop_money:
                        type:
                          - object
                          - "null"
                        properties:
                          amount:
                            type:
                              - string
                              - "null"
                          currency_code:
                            type:
                              - string
                              - "null"
                  tags:
                    type:
                      - string
                      - "null"
                  tax_lines:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        price:
                          type:
                            - string
                            - "null"
                        price_set:
                          type:
                            - object
[...]
