version: 0.47.2
type: DeclarativeSource
definitions:
  schema_loader:
    type: JsonFileSchemaLoader
    file_path: "./source_klaviyo/schemas/{{ parameters.name }}.json"

  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: [data]

  page_increment_paginator1:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: page
    page_size_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: count
    pagination_strategy:
      type: PageIncrement
      start_from_page: 0
      page_size: 50

  page_increment_paginator2:
    type: DefaultPaginator
    page_size_option:
      type: RequestOption
      field_name: count
      inject_into: request_parameter
    pagination_strategy:
      type: PageIncrement
      page_size: 50

  cursor_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: page[cursor]
    page_size_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: page[size]
    pagination_strategy:
      type: CursorPagination
      page_size: 20
      cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
      stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
  
  requester:
    type: HttpRequester
    url_base: https://a.klaviyo.com/api/
    path: "{{ parameters.path }}"
    http_method: GET
    authenticator:
      type: ApiKeyAuthenticator
      api_token: '{{ config[''api_key''] }}'
      inject_into:
        type: RequestOption
        field_name: api_key
        inject_into: request_parameter
    request_body_json: {}

  base_retriever:
    type: SimpleRetriever
    record_selector:
      $ref: "#/definitions/selector"

  base_stream:
    type: DeclarativeStream
    name: '{{ parameters.stream_name }}'
    primary_key:
      - '{{ parameters.primary_key or "id" }}'
    schema_loader:
      $ref: "#/definitions/schema_loader"

  campaigns_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      paginator:
        $ref: "#/definitions/page_increment_paginator1"
      requester:
        $ref: "#/definitions/requester"
        request_parameters: {}
        request_headers: {}
    $parameters:
      name: "campaigns"
      path: "v1/campaigns"
      stream_name: "Campaigns"

  events_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      paginator:
        $ref: "#/definitions/page_increment_paginator2"
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          sort: asc
        request_headers: {}
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: timestamp
      datetime_format: '%s'
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
    $parameters:
      name: "events"
      path: "v1/metrics/timeline"
      stream_name: "Events"

  globalexclusions_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      paginator:
        $ref: "#/definitions/page_increment_paginator1"
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          sort: asc
        request_headers: {}
    $parameters:
      name: "global_exclusions"
      path: "v1/people/exclusions"
      stream_name: "GlobalExclusions"
      primary_key: "email"

  lists_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      paginator:
        type: NoPagination
      requester:
        $ref: "#/definitions/requester"
        request_parameters: {}
        request_headers: {}
    $parameters:
      name: "lists"
      path: "v1/lists"
      stream_name: "Lists"

  metrics_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      paginator:
        $ref: "#/definitions/page_increment_paginator1"
      requester:
        $ref: "#/definitions/requester"
        request_parameters: {}
        request_headers: {}
    $parameters:
      name: "metrics"
      path: "v1/metrics"
      stream_name: "Metrics"

  flows_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      paginator:
        type: NoPagination
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          sort: asc
        request_headers: {}
    incremental_sync:
      type: DatetimeBasedCursor
      datetime_format: '%Y-%m-%d %H:%M:%S.%f+00:00'
      cursor_field: created
      start_time_option:
        inject_into: request_parameter
        field_name: since
        type: RequestOption
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
    $parameters:
      name: "flows"
      path: "v1/flows"
      stream_name: "Flows"

  profiles_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      paginator:
        $ref: "#/definitions/cursor_paginator"
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          sort: updated
        request_headers:
          revision: '2023-07-15'
          Authorization: Klaviyo-API-Key {{ config['api_key'] }}
    incremental_sync:
      type: DatetimeBasedCursor
      datetime_format: '%Y-%m-%d %H:%M:%S'
      cursor_field: updated
      start_time_option:
        inject_into: request_parameter
        field_name: filter
        type: RequestOption
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
    $parameters:
      name: "profiles"
      path: "profiles/"
      stream_name: "Profiles"

  email_templates_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      paginator:
        $ref: "#/definitions/page_increment_paginator1"
      requester:
        $ref: "#/definitions/requester"
        request_parameters: {}
        request_headers: {}
    $parameters:
      name: "email_templates"
      path: "v1/email-templates"
      stream_name: "EmailTemplates"

# Streams
streams:
  - "#/definitions/campaigns_stream"
  - "#/definitions/events_stream"
  - "#/definitions/globalexclusions_stream"
  - "#/definitions/lists_stream"
  - "#/definitions/metrics_stream"
  - "#/definitions/flows_stream"
  - "#/definitions/profiles_stream"
  - "#/definitions/email_templates_stream"

# Check
check:
  type: CheckStream
  stream_names:
    - Campaigns

# Connection Specification
spec:
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        title: API Key
        description: "Klaviyo API Key. See our <a href=\"https://docs.airbyte.com/integrations/sources/klaviyo\">docs</a> if you need help finding this key."
        airbyte_secret: true
        order: 0

      start_date:
        type: string
        order: 1
        title: start_date
        description: "UTC date and time in the format 2017-01-25T00:00:00Z. Any data before this date will not be replicated."
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
        examples: ["2017-01-25T00:00:00Z"]
        format: date-time
    additionalProperties: true
  documentation_url: https://example.org
  type: Spec