version: 0.47.2
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - Campaigns
streams:
  - type: DeclarativeStream
    name: Campaigns
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          attributes:
            properties:
              archived:
                type: boolean
            type: object
          id:
            type: string
          links:
            properties:
              self:
                type: string
            type: object
          relationships:
            properties:
              campaign-messages:
                properties:
                  data:
                    items:
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                  links:
                    properties:
                      related:
                        type: string
                      self:
                        type: string
                    type: object
                type: object
              tags:
                properties:
                  links:
                    properties:
                      related:
                        type: string
                      self:
                        type: string
                    type: object
                type: object
            type: object
          type:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://a.klaviyo.com/api/
        path: campaigns/
        http_method: GET
        request_parameters:
          sort: '{{ config[''sort''] }}'
          filter: '{{ config[''filter''] }}'
          include: '{{ config[''include''] }}'
          fields[tag]: '{{ config[''fields_tag_''] }}'
          fields[campaign]: '{{ config[''fields_campaign_''] }}'
          fields[campaign-message]: '{{ config[''fields_campaign_message_''] }}'
        request_headers:
          revision: '{{ config[''revision''] }}'
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page[cursor]
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
  - type: DeclarativeStream
    name: Events
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          attributes:
            properties:
              datetime:
                type: string
              event_properties:
                properties:
                  $event_id:
                    type: string
                  $message:
                    type: string
                  $message_interaction:
                    type: string
                  $value:
                    type: number
                  AddedItemCategories:
                    items:
                      type: string
                    type: array
                  AddedItemImageURL:
                    type: string
                  AddedItemPrice:
                    type: number
                  AddedItemProductID:
                    type: string
                  AddedItemProductName:
                    type: string
                  AddedItemQuantity:
                    type: number
                  AddedItemSKU:
                    type: string
                  AddedItemURL:
                    type: string
                  BillingAddress:
                    properties:
                      Address1:
                        type: string
                      Address2:
                        type: string
                      City:
                        type: string
                      Company:
                        type: string
                      Country:
                        type: string
                      CountryCode:
                        type: string
                      FirstName:
                        type: string
                      LastName:
                        type: string
                      Phone:
                        type: string
                      Region:
                        type: string
                      RegionCode:
                        type: string
                      Zip:
                        type: string
                    type: object
                  Bounce Type:
                    type: string
                  Brand:
                    type: string
                  Brands:
                    items:
                      type: string
                    type: array
                  Campaign Name:
                    type: string
                  Carrier Delivery Status:
                    type: string
                  Categories:
                    items:
                      type: string
                    type: array
                  CheckoutURL:
                    type: string
                  Client Name:
                    type: string
                  Client OS:
                    type: string
                  Client OS Family:
                    type: string
                  Client Type:
                    type: string
                  CompareAtPrice:
                    type: number
                  Discount Code:
                    type: string
                  Discount Value:
                    type: number
                  DiscountCode:
                    type: string
                  DiscountValue:
                    type: number
                  Email Domain:
                    type: string
                  Failure Source:
                    type: string
                  Failure Type:
                    type: string
                  From Number:
                    type: string
                  From Phone Region:
                    type: string
                  ImageURL:
                    type: string
                  ItemNames:
                    items:
                      type: string
                    type: array
                  Items:
                    items:
                      properties:
                        Brand:
                          type: string
                        Categories:
                          items:
                            type: string
                          type: array
                        ImageURL:
                          type: string
                        ItemPrice:
                          type: number
                        ProductCategories:
                          items:
                            type: string
                          type: array
                        ProductID:
                          type: string
                        ProductName:
                          type: string
                        ProductURL:
                          type: string
                        Quantity:
                          type: number
                        RowTotal:
                          type: number
                        SKU:
                          type: string
                      type: object
                    type: array
                  Message Body:
                    type: string
                  Message Format:
                    type: string
                  Message Name:
                    type: string
                  Message Type:
                    type: string
                  Method:
                    type: string
                  OrderId:
                    type: string
                  Price:
                    type: number
                  ProductBrand:
                    type: string
                  ProductID:
                    type: string
                  ProductName:
                    type: string
                  ProductURL:
                    type: string
                  Quantity:
                    type: number
                  Reason:
                    type: string
                  SKU:
                    type: string
                  Segment Count:
                    type: number
                  ShippingAddress:
                    properties:
                      Address1:
                        type: string
                      Address2:
                        type: string
                      City:
                        type: string
                      Company:
                        type: string
                      Country:
                        type: string
                      CountryCode:
                        type: string
                      FirstName:
                        type: string
                      LastName:
                        type: string
                      Phone:
                        type: string
                      Region:
                        type: string
                      RegionCode:
                        type: string
                      Zip:
                        type: string
                    type: object
                  Subject:
                    type: string
                  To Number:
                    type: string
                  To Phone Region:
                    type: string
                  URL:
                    type: string
                  Vendor Error Code:
                    type: string
                  _ip:
                    type: string
                  browser:
                    type: string
                  extra:
                    properties:
                      From City:
                        type: string
                      From Country:
                        type: string
                      From State:
                        type: string
                      IP Address:
                        type: string
                      Inbound Message ID:
                        type: string
                      Message Body:
                        type: string
                      Message ID:
                        type: string
                    type: object
                  machine_open:
                    type: string
                  os:
                    type: string
                  page:
                    type: string
                type: object
              timestamp:
                type: number
              uuid:
                type: string
            type: object
          id:
            type: string
          links:
            properties:
              self:
                type: string
            type: object
          relationships:
            properties:
              metric:
                properties:
                  data:
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                    type: object
                  links:
                    properties:
                      related:
                        type: string
                      self:
                        type: string
                    type: object
                type: object
              profile:
                properties:
                  data:
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                    type: object
                  links:
                    properties:
                      related:
                        type: string
                      self:
                        type: string
                    type: object
                type: object
            type: object
          type:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://a.klaviyo.com/api/
        path: events
        http_method: GET
        request_parameters:
          fields[event]: '{{ config[''fields_event_''] }}'
          fields[metric]: '{{ config[''fields_metric_''] }}'
          fields[profile]: '{{ config[''fields_profile_''] }}'
          filter: '{{ config[''filter''] }}'
          include: '{{ config[''include''] }}'
          sort: '{{ config[''sort''] }}'
        request_headers:
          revision: '{{ config[''revision''] }}'
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page[cursor]
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
  - type: DeclarativeStream
    name: GlobalExclusions
    primary_key:
      - email
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          data:
            type: array
          end:
            type: number
          object:
            type: string
          page:
            type: number
          page_size:
            type: number
          start:
            type: number
          total:
            type: number
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://a.klaviyo.com/api/
        path: v1/people/exclusions
        http_method: GET
        request_parameters:
          reason: '{{ config[''reason''] }}'
          sort: '{{ config[''sort_order''] }}'
          api_key: '{{ config[''api_key''] }}'
        request_headers: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          inject_into: request_parameter
          field_name: count
          type: RequestOption
        pagination_strategy:
          type: PageIncrement
          start_from_page: 0
          page_size: 500
  - type: DeclarativeStream
    name: Lists
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          attributes:
            properties:
              created:
                type: string
              name:
                type: string
              updated:
                type: string
            type: object
          id:
            type: string
          links:
            properties:
              self:
                type: string
            type: object
          relationships:
            properties:
              profiles:
                properties:
                  links:
                    properties:
                      related:
                        type: string
                      self:
                        type: string
                    type: object
                type: object
              tags:
                properties:
                  links:
                    properties:
                      related:
                        type: string
                      self:
                        type: string
                    type: object
                type: object
            type: object
          type:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://a.klaviyo.com/api/
        path: lists/
        http_method: GET
        request_parameters:
          fields[list]: '{{ config[''fields_list_''] }}'
          fields[tag]: '{{ config[''fields_tag_''] }}'
          filter: '{{ config[''filter''] }}'
          include: '{{ config[''include''] }}'
        request_headers:
          revision: '{{ config[''revision''] }}'
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page[cursor]
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
  - type: DeclarativeStream
    name: Metrics
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          attributes:
            properties:
              created:
                type: string
              integration:
                properties:
                  category:
                    type: string
                  id:
                    type: string
                  name:
                    type: string
                  object:
                    type: string
                type: object
              name:
                type: string
              updated:
                type: string
            type: object
          id:
            type: string
          links:
            properties:
              self:
                type: string
            type: object
          type:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://a.klaviyo.com/api/
        path: metrics/
        http_method: GET
        request_parameters:
          fields[metric]: '{{ config[''fields_metric_''] }}'
          filter: '{{ config[''filter''] }}'
        request_headers:
          revision: '{{ config[''revision''] }}'
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page[cursor]
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
  - type: DeclarativeStream
    name: Flows
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties: {}
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://a.klaviyo.com/api/
        path: flows/
        http_method: GET
        request_parameters:
          fields[flow-action]: '{{ config[''fields_flow_action_''] }}'
          fields[flow]: '{{ config[''fields_flow_''] }}'
          fields[tag]: '{{ config[''fields_tag_''] }}'
          filter: '{{ config[''filter''] }}'
          include: '{{ config[''include''] }}'
          sort: '{{ config[''sort''] }}'
        request_headers:
          revision: '{{ config[''revision''] }}'
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page[cursor]
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: page[size]
        pagination_strategy:
          type: CursorPagination
          page_size: 50
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
  - type: DeclarativeStream
    name: Profiles
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          attributes:
            properties:
              created:
                type: string
              email:
                type: string
              first_name:
                type:
                  - 'null'
                  - string
              last_event_date:
                type: string
              last_name:
                type:
                  - 'null'
                  - string
              location:
                properties:
                  address1:
                    type:
                      - 'null'
                      - string
                  address2:
                    type:
                      - 'null'
                      - string
                  city:
                    type:
                      - 'null'
                      - string
                  country:
                    type:
                      - 'null'
                      - string
                  region:
                    type:
                      - 'null'
                      - string
                  zip:
                    type:
                      - 'null'
                      - string
                type: object
              organization:
                type:
                  - 'null'
                  - string
              properties:
                properties:
                  $latitude:
                    type: string
                  $longitude:
                    type: string
                  klaviyo_sample_data_gen:
                    type: boolean
                type: object
              subscriptions:
                properties:
                  email:
                    properties:
                      marketing:
                        properties:
                          consent:
                            type: string
                          list_suppressions:
                            type: array
                          suppressions:
                            type: array
                        type: object
                    type: object
                  sms:
                    properties: {}
                    type: object
                type: object
              title:
                type:
                  - 'null'
                  - string
              updated:
                type: string
            type: object
          id:
            type: string
          links:
            properties:
              self:
                type: string
            type: object
          relationships:
            properties:
              lists:
                properties:
                  links:
                    properties:
                      related:
                        type: string
                      self:
                        type: string
                    type: object
                type: object
              segments:
                properties:
                  links:
                    properties:
                      related:
                        type: string
                      self:
                        type: string
                    type: object
                type: object
            type: object
          type:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://a.klaviyo.com/api/
        path: profiles/
        http_method: GET
        request_parameters:
          additional-fields[profile]: '{{ config[''additional_fields_profile_''] }}'
          fields[profile]: '{{ config[''fields_profile_''] }}'
          filter: '{{ config[''filter''] }}'
          sort: '{{ config[''sort''] }}'
        request_headers:
          revision: '{{ config[''revision''] }}'
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page[cursor]
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: page[size]
        pagination_strategy:
          type: CursorPagination
          page_size: 20
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
spec:
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - api_key
      - filter
      - revision
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
      fields_campaign_:
        type: array
        order: 1
        title: fields[campaign]
      fields_campaign_message_:
        type: array
        order: 2
        title: fields[campaign-message]
      fields_event_:
        title: fields[event]
        type: array
        order: 3
      fields_metric_:
        title: fields[metric]
        type: array
        order: 4
      fields_profile_:
        title: fields[profile]
        type: array
        order: 5
      fields_tag_:
        type: array
        order: 6
        title: fields[tag]
      filter:
        type: string
        order: 7
        title: filter
      include:
        type: array
        order: 8
        title: include
      reason:
        title: reason
        type: string
        order: 9
      revision:
        type: string
        order: 10
        title: revision
        default: '2023-07-15'
      sort:
        type: string
        order: 11
        title: sort
      sort_order:
        title: sort order
        description: asc or desc
        default: asc
        type: string
        order: 12
      fields_list_:
        title: fields[list]
        type: array
        order: 13
      fields_flow_:
        title: fields[flow]
        type: array
        order: 14
      fields_flow_action_:
        title: fields[flow-action]
        type: array
        order: 15
      additional_fields_profile_:
        title: additional-fields[profile]
        type: array
        order: 16
    additionalProperties: true
  documentation_url: https://example.org
  type: Spec

