version: 0.72.1
type: DeclarativeSource

definitions:
  # Authenticator
  authenticator:
    type: ApiKeyAuthenticator
    api_token: "Klaviyo-API-Key {{ config['api_key'] }}"
    inject_into:
      type: RequestOption
      field_name: "Authorization"
      inject_into: header

  # Requester
  requester:
    type: HttpRequester
    url_base: "https://a.klaviyo.com/api/"
    authenticator: "#/definitions/authenticator"
    http_method: GET
    request_headers:
      Accept: "application/json"
      Revision: "2023-10-15"

  # Selector
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: ["data"]

  # Paginator
  paginator:
    type: DefaultPaginator
    pagination_strategy:
      type: CursorPagination
      cursor_value: "{{ response.get('links', {}).get('next') }}"
    page_token_option:
      type: RequestPath

  # Retrievers
  base_retriever:
    type: SimpleRetriever
    record_selector: "#/definitions/selector"
    requester: "#/definitions/requester"
    paginator: "#/definitions/paginator"

  incremental_retriever:
    $ref: "#/definitions/base_retriever"

  semi_incremental_retriever:
    $ref: "#/definitions/base_retriever"
    record_selector:
      $ref: "#/definitions/selector"
      record_filter:
        type: RecordFilter
        condition: >-
          {% set starting_point = stream_state.get('updated', config.get('start_date')) %}
          {{ starting_point and record.get('attributes', {}).get('updated') > starting_point or not starting_point }}

  # Transformation
  add_updated_field_transformation:
    type: AddFields
    fields:
      - type: AddedFieldDefinition
        path: ["updated"]
        value: "{{ record.get('attributes', {}).get('updated') }}"

  # Base streams
  base_stream:
    type: DeclarativeStream
    primary_key: "id"

  base_incremental_stream:
    $ref: "#/definitions/base_stream"
    retriever: "#/definitions/incremental_retriever"

  base_semi_incremental_stream:
    $ref: "#/definitions/base_stream"
    retriever: "#/definitions/semi_incremental_retriever"
    transformations:
      - "#/definitions/add_updated_field_transformation"

  # Incremental streams
  profiles_stream:
    # Docs: https://developers.klaviyo.com/en/v2023-02-22/reference/get_profiles
    name: "profiles"
    $ref: "#/definitions/base_incremental_stream"
    $parameters:
      path: "profiles"
      cursor_field: "updated"

  campaigns_stream:
    # Docs: https://developers.klaviyo.com/en/v2023-06-15/reference/get_campaigns
    name: "campaigns"
    $ref: "#/definitions/base_incremental_stream"
    $parameters:
      path: "campaigns"
      cursor_field: "updated_at"

  global_exclusions_stream:
    # Docs: https://developers.klaviyo.com/en/v2023-02-22/reference/get_profiles
    # TODO not ready at all
    name: "profiles"
    $ref: "#/definitions/base_incremental_stream"
    $parameters:
      path: "profiles"
      cursor_field: "updated"

  events_stream:
    # Docs: https://developers.klaviyo.com/en/reference/get_events
    name: "events"
    $ref: "#/definitions/base_incremental_stream"
    $parameters:
      path: "events"
      cursor_field: "datetime"

  flows_stream:
    # Docs: https://developers.klaviyo.com/en/reference/get_flows
    name: "flows"
    $ref: "#/definitions/base_incremental_stream"
    $parameters:
      path: "flows"
      cursor_field: "updated"

  email_templates_stream:
    # Docs: https://developers.klaviyo.com/en/reference/get_templates
    name: "email_templates"
    $ref: "#/definitions/base_incremental_stream"
    $parameters:
      path: "templates"
      cursor_field: "updated"

  # Semi-Incremental streams
  metrics_stream:
    # Docs: https://developers.klaviyo.com/en/reference/get_metrics
    name: "metrics"
    $ref: "#/definitions/base_semi_incremental_stream"
    $parameters:
      path: "metrics"
      cursor_field: "updated"

  lists_stream:
    # Docs: https://developers.klaviyo.com/en/reference/get_lists
    name: "lists"
    $ref: "#/definitions/base_semi_incremental_stream"
    $parameters:
      path: "lists"
      cursor_field: "updated"

streams:
  # Incremental streams
  - "#/definitions/profiles_stream"
  - "#/definitions/campaigns_stream"
  - "#/definitions/global_exclusions_stream"
  - "#/definitions/events_stream"
  - "#/definitions/flows_stream"
  - "#/definitions/email_templates_stream"

  # Semi-Incremental streams
  - "#/definitions/metrics_stream"
  - "#/definitions/lists_stream"

check:
  type: CheckStream
  stream_names:
    - metrics
