version: 0.47.2
type: DeclarativeSource
definitions:
  schema_loader:
    type: JsonFileSchemaLoader
    file_path: "./source_klaviyo/schemas/{{ parameters.name }}.json"

  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: [data]

  requester:
    type: HttpRequester
    url_base: https://a.klaviyo.com/api/
    path: "{{ parameters.path }}"
    http_method: GET
    authenticator:
      type: ApiKeyAuthenticator
      api_token: '{{ config[''api_key''] }}'
      inject_into:
        type: RequestOption
        field_name: api_key
        inject_into: request_parameter
    request_body_json: {}

  base_retriever:
    type: SimpleRetriever
    record_selector:
      $ref: "#/definitions/selector"

  base_stream:
    type: DeclarativeStream
    primary_key:
      - '{{ parameters.primary_key }}'
    schema_loader:
      $ref: "#/definitions/schema_loader"

  base_page_increment_paginator:
    type: DefaultPaginator
    page_size_option:
      type: RequestOption
      field_name: count
      inject_into: request_parameter
    pagination_strategy:
      type: PageIncrement
      start_from_page: 0
      page_size: 50

  page_increment_paginator:
    $ref: "#/definitions/base_page_increment_paginator"
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: page

  cursor_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: page[cursor]
    page_size_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: page[size]
    pagination_strategy:
      type: CursorPagination
      page_size: 20
      cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
      stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
  
  base_incremental_sync:
    type: DatetimeBasedCursor
    start_datetime:
      type: MinMaxDatetime
      datetime: '{{ format_datetime(config[''start_date''], ''%Y-%m-%dT%H:%M:%SZ'') }}'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
    end_datetime:
      type: MinMaxDatetime
      datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'

  campaigns_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      paginator:
        $ref: "#/definitions/page_increment_paginator"
      requester:
        $ref: "#/definitions/requester"
        request_parameters: {}
        request_headers: {}
    $parameters:
      name: "campaigns"
      path: "v1/campaigns"
      primary_key: "id"

  events_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      paginator:
        $ref: "#/definitions/base_page_increment_paginator"
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          sort: asc
        request_headers: {}
    incremental_sync:
      $ref: "#/definitions/base_incremental_sync"
      cursor_field: timestamp
      datetime_format: '%s'
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
    $parameters:
      name: "events"
      path: "v1/metrics/timeline"
      primary_key: "id"

  globalexclusions_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      paginator:
        $ref: "#/definitions/page_increment_paginator"
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          sort: asc
        request_headers: {}
    $parameters:
      name: "global_exclusions"
      path: "v1/people/exclusions"
      primary_key: "email"

  lists_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      paginator:
        type: NoPagination
      requester:
        $ref: "#/definitions/requester"
        request_parameters: {}
        request_headers: {}
    $parameters:
      name: "lists"
      path: "v1/lists"
      primary_key: "id"

  metrics_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      paginator:
        $ref: "#/definitions/page_increment_paginator"
      requester:
        $ref: "#/definitions/requester"
        request_parameters: {}
        request_headers: {}
    $parameters:
      name: "metrics"
      path: "v1/metrics"
      primary_key: "id"

  flows_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      paginator:
        type: NoPagination
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          sort: asc
        request_headers: {}
    incremental_sync:
      $ref: "#/definitions/base_incremental_sync"
      cursor_field: created
      datetime_format: '%Y-%m-%d %H:%M:%S.%f+00:00'
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
    $parameters:
      name: "flows"
      path: "v1/flows"
      primary_key: "id"

  profiles_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      paginator:
        type: NoPagination
      requester:
        type: HttpRequester
        url_base: https://a.klaviyo.com/api/
        path: profiles/
        http_method: GET
        request_parameters:
          sort: updated
          filter: greater-than(updated,{{stream_interval.start_time}})
        request_headers:
          revision: '2023-07-15'
        authenticator:
          type: ApiKeyAuthenticator
          api_token: 'Klaviyo-API-Key {{ config[''api_key''] }}'
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: Authorization
        request_body_json: {}
    incremental_sync:
      $ref: "#/definitions/base_incremental_sync"
      datetime_format: '%Y-%m-%dT%H:%M:%S.%fZ'
      cursor_field: updated
    transformations:
      - type: AddFields
        fields:
          - path:
              - updated
            value: >-
              {{ format_datetime(record['attributes']['updated'],'%Y-%m-%dT%H:%M:%S.%fZ') }}
    $parameters:
      name: "profiles"
      primary_key: "id"


  email_templates_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      paginator:
        $ref: "#/definitions/page_increment_paginator"
      requester:
        $ref: "#/definitions/requester"
        request_parameters: {}
        request_headers: {}
    $parameters:
      name: "email_templates"
      path: "v1/email-templates"
      primary_key: "id"

# Streams
streams:
  - "#/definitions/campaigns_stream"
  - "#/definitions/events_stream"
  - "#/definitions/globalexclusions_stream"
  - "#/definitions/lists_stream"
  - "#/definitions/metrics_stream"
  - "#/definitions/flows_stream"
  - "#/definitions/profiles_stream"
  - "#/definitions/email_templates_stream"

# Check
check:
  type: CheckStream
  stream_names:
    - "campaigns"

# Connection Specification
spec:
  documentation_url: https://docs.airbyte.com/integrations/sources/klaviyo
  changelogUrl: "https://docs.airbyte.com/integrations/sources/klaviyo"
  type: Spec
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        title: API Key
        description: "Klaviyo API Key. See our <a href=\"https://docs.airbyte.com/integrations/sources/klaviyo\">docs</a> if you need help finding this key."
        airbyte_secret: true
        order: 0
      start_date:
        type: string
        order: 1
        title: start_date
        description: "UTC date and time in the format 2017-01-25T00:00:00Z. Any data before this date will not be replicated."
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
        examples: ["2017-01-25T00:00:00Z"]
        format: date-time
