version: 6.41.5

type: DeclarativeSource

description: |-
  Website: https://docuseal.com/
  API Reference: https://www.docuseal.com/docs/api

check:
  type: CheckStream
  stream_names:
    - submissions

definitions:
  streams:
    submissions:
      type: DeclarativeStream
      name: submissions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /submissions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: after
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next') }}"
            stop_condition: "{{ not response.get('pagination', {}).get('next') }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: "&before"
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: "&after"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/submissions"
    templates:
      type: DeclarativeStream
      name: templates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /templates
          http_method: GET
          request_parameters:
            limit: "{{ config['limit'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: after
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next') }}"
            stop_condition: "{{ not response.get('pagination', {}).get('next') }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: before
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/templates"
    submitters:
      type: DeclarativeStream
      name: submitters
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /submitters
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: after
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next') }}"
            stop_condition: "{{ not response.get('pagination', {}).get('next') }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: "&before"
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: "&after"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/submitters"
  base_requester:
    type: HttpRequester
    url_base: https://api.docuseal.com
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: X-Auth-Token
        inject_into: header

streams:
  - $ref: "#/definitions/streams/submissions"
  - $ref: "#/definitions/streams/templates"
  - $ref: "#/definitions/streams/submitters"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        description: >-
          Your API key for authenticating with the DocuSeal API. Obtain it from
          the DocuSeal API Console at https://console.docuseal.com/api.
        name: api_key
        title: API Key
        airbyte_secret: true
        order: 0
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 1
      limit:
        type: string
        description: The pagination limit
        title: Limit
        default: "5"
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    submissions: true
    templates: true
    submitters: true
  testedStreams:
    submissions:
      streamHash: 53fa0b4cb305711ca00264252881934a2cbf4628
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    templates:
      streamHash: 61f1f987e85690af5ae018c74f6f4bf86d7d50c6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    submitters:
      streamHash: 31b1843e312ed75e4da428a73968f4cb8879d502
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://www.docuseal.com/docs/api

schemas:
  submissions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      audit_log_url:
        type:
          - string
          - "null"
      completed_at:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      id:
        type: number
      slug:
        type:
          - string
          - "null"
      source:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      submitters:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            metadata:
              type:
                - object
                - "null"
            completed_at:
              type:
                - string
                - "null"
            created_at:
              type:
                - string
                - "null"
            email:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            opened_at:
              type:
                - string
                - "null"
            preferences:
              type:
                - object
                - "null"
              properties:
                send_email:
                  type:
                    - boolean
                    - "null"
            role:
              type:
                - string
                - "null"
            slug:
              type:
                - string
                - "null"
            status:
              type:
                - string
                - "null"
            submission_id:
              type:
                - number
                - "null"
            updated_at:
              type:
                - string
                - "null"
            uuid:
              type:
                - string
                - "null"
      submitters_order:
        type:
          - string
          - "null"
      template:
        type:
          - object
          - "null"
        properties:
          created_at:
            type:
              - string
              - "null"
          folder_name:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
      updated_at:
        type: string
    required:
      - id
      - updated_at
  templates:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      author:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          first_name:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          last_name:
            type:
              - string
              - "null"
      author_id:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      documents:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            filename:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            preview_image_url:
              type:
                - string
                - "null"
            url:
              type:
                - string
                - "null"
            uuid:
              type:
                - string
                - "null"
      fields:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            areas:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  attachment_uuid:
                    type:
                      - string
                      - "null"
                  h:
                    type:
                      - number
                      - "null"
                  page:
                    type:
                      - number
                      - "null"
                  w:
                    type:
                      - number
                      - "null"
                  x:
                    type:
                      - number
                      - "null"
                  "y":
                    type:
                      - number
                      - "null"
            name:
              type:
                - string
                - "null"
            options:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  uuid:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
            preferences:
              type:
                - object
                - "null"
            readonly:
              type:
                - boolean
                - "null"
            required:
              type:
                - boolean
                - "null"
            submitter_uuid:
              type:
                - string
                - "null"
            uuid:
              type:
                - string
                - "null"
      folder_id:
        type:
          - number
          - "null"
      folder_name:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      preferences:
        type:
          - object
          - "null"
      schema:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            attachment_uuid:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      slug:
        type:
          - string
          - "null"
      source:
        type:
          - string
          - "null"
      submitters:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            name:
              type:
                - string
                - "null"
            uuid:
              type:
                - string
                - "null"
      updated_at:
        type: string
    required:
      - id
      - updated_at
  submitters:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      metadata:
        type:
          - object
          - "null"
      completed_at:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      documents:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            name:
              type:
                - string
                - "null"
            url:
              type:
                - string
                - "null"
      email:
        type:
          - string
          - "null"
      id:
        type: number
      opened_at:
        type:
          - string
          - "null"
      preferences:
        type:
          - object
          - "null"
        properties:
          send_email:
            type:
              - boolean
              - "null"
      role:
        type:
          - string
          - "null"
      slug:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      submission_events:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            data:
              type:
                - object
                - "null"
            event_timestamp:
              type:
                - string
                - "null"
            event_type:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            submitter_id:
              type:
                - number
                - "null"
      submission_id:
        type:
          - number
          - "null"
      template:
        type:
          - object
          - "null"
        properties:
          created_at:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
      updated_at:
        type: string
      uuid:
        type:
          - string
          - "null"
      values:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            field:
              type:
                - string
                - "null"
            value:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
    required:
      - id
      - updated_at
