@use "../../../scss/variables";

.content {
  display: flex;
  flex-direction: row;
}

.label {
  margin-bottom: 20px;

  label {
    width: calc(100% + #{variables.$spacing-xl});
  }
}

.column {
  width: 100%;

  &:first-child {
    margin-right: variables.$spacing-lg;
  }
}
