@use "../../../scss/colors";

.text,
.heading {
  color: colors.$dark-blue;

  &.centered {
    text-align: center;
  }
}

.text {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2em;

  &.sm {
    font-size: 12px;
    line-height: 1.2em;
  }

  &.lg,
  &.xl {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3em;
  }

  &.bold,
  strong,
  b {
    font-weight: 600;
  }
}

.heading {
  font-size: 20px;
  line-height: 1.48em;
  font-weight: 700;

  &.sm {
    font-size: 16px;
    line-height: 1.2em;
  }

  &.lg {
    font-size: 24px;
    line-height: 1.7em;
  }

  &.xl {
    font-size: 32px;
    line-height: 2em;
  }
}
