version: 5.14.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - bank_transactions

definitions:
  streams:
    bank_transactions:
      type: DeclarativeStream
      name: bank_transactions
      primary_key:
        - BankTransactionID
      $parameters:
        path: "BankTransactions"
        records_field: "BankTransactions"
      retriever:
        $ref: "#/definitions/base_retriever"
      incremental_sync:
        $ref: "#/definitions/base_incremental_sync"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/bank_transactions"

    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - ContactID
      $parameters:
        path: "Contacts"
        records_field: "Contacts"
      retriever:
        $ref: "#/definitions/base_retriever"
      incremental_sync:
        $ref: "#/definitions/base_incremental_sync"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"

    credit_notes:
      type: DeclarativeStream
      name: credit_notes
      primary_key:
        - CreditNoteID
      $parameters:
        path: "CreditNotes"
        records_field: "CreditNotes"
      retriever:
        $ref: "#/definitions/base_retriever"
      incremental_sync:
        $ref: "#/definitions/base_incremental_sync"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/credit_notes"

    invoices:
      type: DeclarativeStream
      name: invoices
      primary_key:
        - InvoiceID
      $parameters:
        path: "Invoices"
        records_field: "Invoices"
      retriever:
        $ref: "#/definitions/base_retriever"
      incremental_sync:
        $ref: "#/definitions/base_incremental_sync"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/invoices"

    manual_journals:
      type: DeclarativeStream
      name: manual_journals
      primary_key:
        - ManualJournalID
      $parameters:
        path: "ManualJournals"
        records_field: "ManualJournals"
      retriever:
        $ref: "#/definitions/base_retriever"
      incremental_sync:
        $ref: "#/definitions/base_incremental_sync"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/manual_journals"

    overpayments:
      type: DeclarativeStream
      name: overpayments
      primary_key:
        - OverpaymentID
      $parameters:
        path: "Overpayments"
        records_field: "Overpayments"
      retriever:
        $ref: "#/definitions/base_retriever"
      incremental_sync:
        $ref: "#/definitions/base_incremental_sync"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/overpayments"

    prepayments:
      type: DeclarativeStream
      name: prepayments
      primary_key:
        - PrepaymentID
      $parameters:
        path: "Prepayments"
        records_field: "Prepayments"
      retriever:
        $ref: "#/definitions/base_retriever"
      incremental_sync:
        $ref: "#/definitions/base_incremental_sync"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/prepayments"

    purchase_orders:
      type: DeclarativeStream
      name: purchase_orders
      primary_key:
        - PurchaseOrderID
      $parameters:
        path: "PurchaseOrders"
        records_field: "PurchaseOrders"
      retriever:
        $ref: "#/definitions/base_retriever"
      incremental_sync:
        $ref: "#/definitions/base_incremental_sync"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/purchase_orders"

    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - AccountID
      $parameters:
        path: "Accounts"
        records_field: "Accounts"
      retriever:
        $ref: "#/definitions/base_retriever"
      incremental_sync:
        $ref: "#/definitions/base_incremental_sync"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"

    bank_transfers:
      type: DeclarativeStream
      name: bank_transfers
      primary_key:
        - BankTransferID
      $parameters:
        path: "BankTransfers"
        records_field: "BankTransfers"
        cursor_field: "CreatedDateUTC"
      retriever:
        $ref: "#/definitions/base_retriever"
      incremental_sync:
        $ref: "#/definitions/base_incremental_sync"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/bank_transfers"

    employees:
      type: DeclarativeStream
      name: employees
      primary_key:
        - EmployeeID
      $parameters:
        path: "Employees"
        records_field: "Employees"
      retriever:
        $ref: "#/definitions/base_retriever"
      incremental_sync:
        $ref: "#/definitions/base_incremental_sync"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/employees"

    items:
      type: DeclarativeStream
      name: items
      primary_key:
        - ItemID
      $parameters:
        path: "Items"
        records_field: "Items"
      retriever:
        $ref: "#/definitions/base_retriever"
      incremental_sync:
        $ref: "#/definitions/base_incremental_sync"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/items"

    payments:
      type: DeclarativeStream
      name: payments
      primary_key:
        - PaymentID
      $parameters:
        path: "Payments"
        records_field: "Payments"
      retriever:
        $ref: "#/definitions/base_retriever"
      incremental_sync:
        $ref: "#/definitions/base_incremental_sync"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/payments"

    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - UserID
      $parameters:
        path: "Users"
        records_field: "Users"
      retriever:
        $ref: "#/definitions/base_retriever"
      incremental_sync:
        $ref: "#/definitions/base_incremental_sync"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"

    branding_themes:
      type: DeclarativeStream
      name: branding_themes
      primary_key:
        - BrandingThemeID
      $parameters:
        path: "BrandingThemes"
        records_field: "BrandingThemes"
      retriever:
        $ref: "#/definitions/base_retriever"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/branding_themes"

    contact_groups:
      type: DeclarativeStream
      name: contact_groups
      primary_key:
        - ContactGroupID
      $parameters:
        path: "ContactGroups"
        records_field: "ContactGroups"
      retriever:
        $ref: "#/definitions/base_retriever"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contact_groups"

    currencies:
      type: DeclarativeStream
      name: currencies
      primary_key:
        - Code
      $parameters:
        path: "Currencies"
        records_field: "Currencies"
      retriever:
        $ref: "#/definitions/base_retriever"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/currencies"

    organisations:
      type: DeclarativeStream
      name: organisations
      primary_key:
        - OrganisationID
      $parameters:
        path: "Organisation"
        records_field: "Organisations"
      retriever:
        $ref: "#/definitions/base_retriever"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organisations"

    repeating_invoices:
      type: DeclarativeStream
      name: repeating_invoices
      primary_key:
        - RepeatingInvoiceID
      $parameters:
        path: "RepeatingInvoices"
        records_field: "RepeatingInvoices"
      retriever:
        $ref: "#/definitions/base_retriever"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/repeating_invoices"

    tax_rates:
      type: DeclarativeStream
      name: tax_rates
      primary_key:
        - Name
      $parameters:
        path: "TaxRates"
        records_field: "TaxRates"
      retriever:
        $ref: "#/definitions/base_retriever"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tax_rates"

    tracking_categories:
      type: DeclarativeStream
      name: tracking_categories
      primary_key:
        - TrackingCategoryID
      $parameters:
        path: "TrackingCategories"
        records_field: "TrackingCategories"
      retriever:
        $ref: "#/definitions/base_retriever"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tracking_categories"

  base_incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: "{{ parameters.get('cursor_field', 'UpdatedDateUTC') }}"
    # Inject Xero server-side filter
    start_time_option:
      type: RequestOption
      inject_into: header
      field_name: If-Modified-Since
    datetime_format: "%Y-%m-%dT%H:%M:%S"
    cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S%z"
      - "%Y-%m-%dT%H:%M:%SZ"
      - "%Y-%m-%dT%H:%M:%S.%f%z"
      - "%Y-%m-%dT%H:%M:%S.%fZ"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"

  base_retriever:
    type: SimpleRetriever
    requester:
      $ref: "#/definitions/base_requester"
      path: "{{ parameters.path }}"
      http_method: GET
    paginator:
      type: DefaultPaginator
      page_token_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: page
      page_size_option:
        type: RequestOption
        field_name: pageSize
        inject_into: request_parameter
      pagination_strategy:
        type: PageIncrement
        page_size: 1000
        start_from_page: 1
        inject_on_first_request: true
    record_selector:
      type: RecordSelector
      extractor:
        type: CustomRecordExtractor
        class_name: source_declarative_manifest.components.CustomExtractor
        field_path:
          - "{{ parameters['records_field'] }}"

  base_requester:
    type: HttpRequester
    url_base: https://api.xero.com/api.xro/2.0/
    request_headers:
      Accept: application/json
      Xero-Tenant-Id: "{{ config['tenant_id'] }}"
    authenticator:
      type: SelectiveAuthenticator
      authenticators:
        oauth2_access_token:
          type: BearerAuthenticator
          api_token: "{{ config['credentials']['access_token'] }}"
        oauth2_confidential_application:
          type: OAuthAuthenticator
          scopes:
            - offline_access
            - accounting.transactions.read
            - accounting.reports.read
            - accounting.budgets.read
            - accounting.reports.tenninetynine.read
            - accounting.journals.read
            - accounting.settings.read
            - accounting.contacts.read
            - accounting.attachments.read
            - assets.read
            - files.read
            - projects.read
            - openid
          client_id: "{{ config['credentials']['client_id'] }}"
          grant_type: client_credentials
          client_secret: "{{ config['credentials']['client_secret'] }}"
          expires_in_name: expires_in
          access_token_name: access_token
          refresh_request_body: {}
          token_refresh_endpoint: https://identity.xero.com/connect/token
      authenticator_selection_path:
        - credentials
        - auth_type
    error_handler:
      type: CompositeErrorHandler
      error_handlers:
        - type: DefaultErrorHandler
          backoff_strategies:
            - type: ConstantBackoffStrategy
              backoff_time_in_seconds: 30
          response_filters:
            - type: HttpResponseFilter
              action: FAIL
              http_codes: [401]
              error_message: "Failed to authorize request"
        - type: DefaultErrorHandler
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes: [403]
        # Stop immediately if Daily Limit reached
        - type: DefaultErrorHandler
          response_filters:
            - type: HttpResponseFilter
              action: FAIL
              http_codes: [429]
              error_message: "daily limit"
        # Retry standard rate limits (e.g. 60/min)
        - type: DefaultErrorHandler
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
          response_filters:
            - type: HttpResponseFilter
              action: RETRY
              http_codes: [429]

streams:
  - $ref: "#/definitions/streams/bank_transactions"
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/credit_notes"
  - $ref: "#/definitions/streams/invoices"
  - $ref: "#/definitions/streams/manual_journals"
  - $ref: "#/definitions/streams/overpayments"
  - $ref: "#/definitions/streams/prepayments"
  - $ref: "#/definitions/streams/purchase_orders"
  - $ref: "#/definitions/streams/accounts"
  - $ref: "#/definitions/streams/bank_transfers"
  - $ref: "#/definitions/streams/employees"
  - $ref: "#/definitions/streams/items"
  - $ref: "#/definitions/streams/payments"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/branding_themes"
  - $ref: "#/definitions/streams/contact_groups"
  - $ref: "#/definitions/streams/currencies"
  - $ref: "#/definitions/streams/organisations"
  - $ref: "#/definitions/streams/repeating_invoices"
  - $ref: "#/definitions/streams/tax_rates"
  - $ref: "#/definitions/streams/tracking_categories"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - tenant_id
      - start_date
      - credentials
    properties:
      tenant_id:
        type: string
        description: Enter your Xero organization's Tenant ID
        order: 0
        title: Tenant ID
        airbyte_secret: true
      start_date:
        type: string
        description: >-
          UTC date and time in the format YYYY-MM-DDTHH:mm:ssZ. Any data with
          created_at before this date will not be synced.
        order: 1
        title: Start Date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2022-03-01T00:00:00Z"
      credentials:
        type: object
        oneOf:
          - type: object
            title: OAuth Custom Connection
            required:
              - auth_type
              - client_id
              - client_secret
            properties:
              auth_type:
                type: string
                const: oauth2_confidential_application
                order: 0
                title: Authentication Method
              client_id:
                type: string
                description: Your Xero application's Client ID.
                title: Client ID
                examples:
                  - Client_ID
              client_secret:
                type: string
                description: Your Xero application's Client Secret.
                title: Client Secret
                examples:
                  - Client_Secret
                airbyte_secret: true
          - type: object
            title: Bearer Access Token
            required:
              - access_token
              - auth_type
            properties:
              auth_type:
                type: string
                const: oauth2_access_token
                order: 0
                title: Authentication Method
                examples:
                  - access_token
              access_token:
                type: string
                description: The access token used to call the Xero API.
                title: Access Token
                airbyte_secret: true
        order: 2
        title: Authentication Method
    additionalProperties: true

metadata:
  autoImportSchema:
    bank_transactions: false
    contacts: false
    credit_notes: false
    invoices: false
    manual_journals: false
    overpayments: false
    prepayments: false
    purchase_orders: false
    accounts: false
    bank_transfers: false
    employees: false
    items: false
    payments: false
    users: false
    branding_themes: false
    contact_groups: false
    currencies: false
    organisations: false
    repeating_invoices: false
    tax_rates: false
    tracking_categories: false
  yamlComponents:
    streams:
      bank_transactions:
        - recordSelector
      contacts:
        - recordSelector
      credit_notes:
        - recordSelector
      invoices:
        - recordSelector
      manual_journals:
        - recordSelector
      overpayments:
        - recordSelector
      prepayments:
        - recordSelector
      purchase_orders:
        - recordSelector
      accounts:
        - recordSelector
      bank_transfers:
        - recordSelector
      employees:
        - recordSelector
      items:
        - recordSelector
      payments:
        - recordSelector
      users:
        - recordSelector
      branding_themes:
        - recordSelector
      contact_groups:
        - recordSelector
      currencies:
        - recordSelector
      organisations:
        - recordSelector
      repeating_invoices:
        - recordSelector
      tax_rates:
        - recordSelector
      tracking_categories:
        - recordSelector
    global:
      - authenticator
  testedStreams:
    bank_transactions:
      streamHash: 376fe1c8b328fc3d12ffdaa4e47b9ca601a8b2ea
    contacts:
      streamHash: c7f9adcdef185a0bd4f0aa72ed063c0444cafa3b
    credit_notes:
      streamHash: 9806167f31c3f70f127a3f7a61e37aa67a301175
    invoices:
      streamHash: 25684b40618b48a8a2364b2bcb81a0b08afe6e28
    manual_journals:
      streamHash: 3e4528a50c263771a9dcf9658956bad2e62fb045
    overpayments:
      streamHash: 79f0736d293b1dcaf9a561bec84d34aa7f328126
    prepayments:
      streamHash: 8a9c5fed77a62eea37a1f06aa063fac4ba7950d1
    purchase_orders:
      streamHash: dd2fe630aebe348be9007342165af98c4073939e
    accounts:
      streamHash: 686b769495764f1bde7389d09d4a1c04c39c3242
    bank_transfers:
      streamHash: a53cdfcff8ee2e668f764dff900e4cd15fa279ab
    employees:
      streamHash: 97ae59d217d5fe03ba242c97eef266644f8fb2a7
    items:
      streamHash: 8680116d3fc7f3ec19c8d33afeb157a44f88d6fc
    payments:
      streamHash: bdbe9227e9352e105d0c4ac7f93b261bdbe7e351
    users:
      streamHash: adcc191c10d85c2dcea3b200b18d2839145dd001
    branding_themes:
      streamHash: 0938d8dc26395e9d6295d721507967449b0d88a7
    contact_groups:
      streamHash: f5c778185557a0cb2adc2bd7a3b826d4bfce27b0
    currencies:
      streamHash: 35a5ee4b31e85078b120f3e55fdd833b180ab5b2
    organisations:
      streamHash: b0843fc6392ba6dba72d8e840ff664dcde5ab8f1
    repeating_invoices:
      streamHash: ec2fe89fa48d7443ae3f3d2e1585f99822b3c936
    tax_rates:
      streamHash: e67f3dffe83d131d9af57d9077bea31ec5fec28a
    tracking_categories:
      streamHash: 60d8eb0b8b7ec0c73c1a4ad790e6f531d9d613f2
  assist: {}

schemas:
  bank_transactions:
    type: object
    additionalProperties: true
    properties:
      BankAccount:
        type: object
        additionalProperties: true
        properties:
          AccountID:
            type:
              - string
          BankAccountNumber:
            type:
              - "null"
              - string
          BankAccountType:
            type:
              - "null"
              - string
          Class:
            type:
              - "null"
              - string
          Code:
            type:
              - "null"
              - string
          CurrencyCode:
            type:
              - "null"
              - string
          Description:
            type:
              - "null"
              - string
          EnablePaymentsToAccount:
            type:
              - "null"
              - boolean
          HasAttachments:
            type:
              - "null"
              - boolean
          Name:
            type:
              - "null"
              - string
          ReportingCode:
            type:
              - "null"
              - string
          ReportingCodeName:
            type:
              - "null"
              - string
          ShowInExpenseClaims:
            type:
              - "null"
              - boolean
          Status:
            type:
              - "null"
              - string
          SystemAccount:
            type:
              - "null"
              - string
          TaxType:
            type:
              - "null"
              - string
          Type:
            type:
              - "null"
              - string
          UpdatedDateUTC:
            type:
              - "null"
              - string
            format: date-time
      BankTransactionID:
        type:
          - string
      Contact:
        type: object
        additionalProperties: true
        properties:
          AccountNumber:
            type:
              - "null"
              - string
          AccountsPayableTaxType:
            type:
              - "null"
              - string
          AccountsReceivableTaxType:
            type:
              - "null"
              - string
          Addresses:
            type:
              - "null"
              - array
            items:
              type: object
              additionalProperties: true
              properties:
                AddressLine1:
                  type:
                    - "null"
                    - string
                AddressLine2:
                  type:
                    - "null"
                    - string
                AddressLine3:
                  type:
                    - "null"
                    - string
                AddressLine4:
                  type:
                    - "null"
                    - string
                AddressType:
                  type:
                    - "null"
                    - string
                AttentionTo:
                  type:
                    - "null"
                    - string
                City:
                  type:
                    - "null"
                    - string
                Country:
                  type:
                    - "null"
                    - string
                PostalCode:
                  type:
                    - "null"
                    - string
                Region:
                  type:
                    - "null"
                    - string
          Attachments:
            type:
              - "null"
              - array
            additionalProperties: true
            items:
              type:
                - "null"
                - object
              additionalProperties: true
              properties: {}
          Balances:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              AccountsPayable:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  Outstanding:
                    type:
                      - "null"
                      - number
                  Overdue:
                    type:
                      - "null"
                      - number
              AccountsReceivable:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  Outstanding:
                    type:
                      - "null"
                      - number
                  Overdue:
                    type:
                      - "null"
                      - number
          BankAccountDetails:
            type:
              - "null"
              - string
          BatchPayments:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              BankAccountName:
                type:
                  - "null"
                  - string
              BankAccountNumber:
                type:
                  - "null"
                  - string
              Code:
                type:
                  - "null"
                  - string
              Details:
                type:
                  - "null"
                  - string
              Reference:
                type:
                  - "null"
                  - string
          BrandingTheme:
            type: object
            additionalProperties: true
            properties:
              BrandingThemeID:
                type:
                  - string
              CreatedDateUTC:
                type:
                  - "null"
                  - string
                format: date-time
              Name:
                type:
                  - "null"
                  - string
              SortOrder:
                type:
                  - "null"
                  - integer
          ContactGroups:
            type:
              - "null"
              - array
            items:
              type: object
              additionalProperties: true
              properties:
                ContactGroupID:
                  type:
                    - string
                HasValidationErrors:
                  type:
                    - "null"
                    - boolean
                Name:
                  type:
                    - "null"
                    - string
                Status:
                  type:
                    - "null"
                    - string
          ContactID:
            type:
              - string
          ContactNumber:
            type:
              - "null"
              - string
          ContactPersons:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                EmailAddress:
                  type:
                    - "null"
                    - string
                FirstName:
                  type:
                    - "null"
                    - string
                IncludeInEmails:
                  type:
                    - "null"
                    - boolean
                LastName:
                  type:
                    - "null"
                    - string
          ContactStatus:
            type:
              - "null"
              - string
          DefaultCurrency:
            type:
              - "null"
              - string
          Discount:
            type:
              - "null"
              - number
          EmailAddress:
            type:
              - "null"
              - string
          FirstName:
            type:
              - "null"
              - string
          HasAttachments:
            type:
              - "null"
              - boolean
          HasValidationErrors:
            type:
              - "null"
              - boolean
          IsCustomer:
            type:
              - "null"
              - boolean
          IsSupplier:
            type:
              - "null"
              - boolean
          LastName:
            type:
              - "null"
              - string
          Name:
            type:
              - "null"
              - string
          PaymentTerms:
            type: object
            additionalProperties: true
            properties:
              Bills:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  Day:
                    type:
                      - "null"
                      - integer
                  Type:
                    type:
                      - "null"
                      - string
              Sales:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  Day:
                    type:
                      - "null"
                      - integer
                  Type:
                    type:
                      - "null"
                      - string
          Phones:
            type:
              - "null"
              - array
            items:
              type: object
              additionalProperties: true
              properties:
                PhoneAreaCode:
                  type:
                    - "null"
                    - string
                PhoneCountryCode:
                  type:
                    - "null"
                    - string
                PhoneNumber:
                  type:
                    - "null"
                    - string
                PhoneType:
                  type:
                    - "null"
                    - string
          PurchasesDefaultAccountCode:
            type:
              - "null"
              - string
          PurchasesTrackingCategories:
            type:
              - "null"
              - array
            items:
              type: object
              additionalProperties: true
              properties:
                Name:
                  type:
                    - "null"
                    - string
                Option:
                  type:
                    - "null"
                    - string
                Options:
                  type:
                    - "null"
                    - array
                  items:
                    type:
                      - "null"
                      - object
                    additionalProperties: true
                    properties:
                      HasValidationErrors:
                        type:
                          - "null"
                          - boolean
                      IsActive:
                        type:
                          - "null"
                          - boolean
                      IsArchived:
                        type:
                          - "null"
                          - boolean
                      IsDeleted:
                        type:
                          - "null"
                          - boolean
                      Name:
                        type:
                          - "null"
                          - string
                      Status:
                        type:
                          - "null"
                          - string
                      TrackingOptionID:
                        type:
                          - "null"
                          - string
                Status:
                  type:
                    - "null"
                    - string
                TrackingCategoryID:
                  type:
                    - string
                TrackingCategoryName:
                  type:
                    - "null"
                    - string
                TrackingOptionID:
                  type:
                    - "null"
                    - string
                TrackingOptionName:
                  type:
                    - "null"
                    - string
          SalesDefaultAccountCode:
            type:
              - "null"
              - string
          SalesTrackingCategories:
            type:
              - "null"
              - array
            items:
              type: object
              additionalProperties: true
              properties:
                Name:
                  type:
                    - "null"
                    - string
                Option:
                  type:
                    - "null"
                    - string
                Options:
                  type:
                    - "null"
                    - array
                  items:
                    type:
                      - "null"
                      - object
                    additionalProperties: true
                    properties:
                      HasValidationErrors:
                        type:
                          - "null"
                          - boolean
                      IsActive:
                        type:
                          - "null"
                          - boolean
                      IsArchived:
                        type:
                          - "null"
                          - boolean
                      IsDeleted:
                        type:
                          - "null"
                          - boolean
                      Name:
                        type:
                          - "null"
                          - string
                      Status:
                        type:
                          - "null"
                          - string
                      TrackingOptionID:
                        type:
                          - "null"
                          - string
                Status:
                  type:
                    - "null"
                    - string
                TrackingCategoryID:
                  type:
                    - string
                TrackingCategoryName:
                  type:
                    - "null"
                    - string
                TrackingOptionID:
                  type:
                    - "null"
                    - string
                TrackingOptionName:
                  type:
                    - "null"
                    - string
          SkypeUserName:
            type:
              - "null"
              - string
          TaxNumber:
            type:
              - "null"
              - string
          TrackingCategoryName:
            type:
              - "null"
              - string
          TrackingCategoryOption:
            type:
              - "null"
              - string
          UpdatedDateUTC:
            type:
              - "null"
              - string
            format: date-time
          ValidationErrors:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                Message:
                  type:
                    - "null"
                    - string
          Website:
            type:
              - "null"
              - string
          XeroNetworkKey:
            type:
              - "null"
              - string
      CurrencyCode:
        type:
          - "null"
          - string
      CurrencyRate:
        type:
          - "null"
          - number
      Date:
        type:
          - "null"
          - string
        format: date-time
      DateString:
        type:
          - "null"
          - string
        format: date-time
      ExternalLinkProviderName:
        type:
          - "null"
          - string
      HasAttachments:
        type:
          - "null"
          - boolean
      IsReconciled:
        type:
          - "null"
          - boolean
      LineAmountTypes:
        type:
          - "null"
          - string
      LineItems:
        type:
          - "null"
          - array
        items:
          type: object
          additionalProperties: true
          properties:
            AccountCode:
              type:
                - "null"
                - string
            Description:
              type:
                - "null"
                - string
            DiscountRate:
              type:
                - "null"
                - number
            ItemCode:
              type:
                - "null"
                - string
            LineAmount:
              type:
                - "null"
                - number
            LineItemID:
              type:
                - string
            Quantity:
              type:
                - "null"
                - number
            TaxAmount:
              type:
                - "null"
                - number
            TaxType:
              type:
                - "null"
                - string
            Tracking:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  Name:
                    type:
                      - "null"
                      - string
                  Option:
                    type:
                      - "null"
                      - string
                  Options:
                    type:
                      - "null"
                      - array
                    items:
                      type:
                        - "null"
                        - object
                      additionalProperties: true
                      properties:
                        HasValidationErrors:
                          type:
                            - "null"
                            - boolean
                        IsActive:
                          type:
                            - "null"
                            - boolean
                        IsArchived:
                          type:
                            - "null"
                            - boolean
                        IsDeleted:
                          type:
                            - "null"
                            - boolean
                        Name:
                          type:
                            - "null"
                            - string
                        Status:
                          type:
                            - "null"
                            - string
                        TrackingOptionID:
                          type:
                            - "null"
                            - string
                  Status:
                    type:
                      - "null"
                      - string
                  TrackingCategoryID:
                    type:
                      - string
                  TrackingCategoryName:
                    type:
                      - "null"
                      - string
                  TrackingOptionID:
                    type:
                      - "null"
                      - string
                  TrackingOptionName:
                    type:
                      - "null"
                      - string
            UnitAmount:
              type:
                - "null"
                - number
      OverpaymentID:
        type:
          - "null"
          - string
      PrepaymentID:
        type:
          - "null"
          - string
      Reference:
        type:
          - "null"
          - string
      Status:
        type:
          - "null"
          - string
      SubTotal:
        type:
          - "null"
          - number
      Total:
        type:
          - "null"
          - number
      TotalTax:
        type:
          - "null"
          - number
      Type:
        type:
          - "null"
          - string
      UpdatedDateUTC:
        type:
          - "null"
          - string
        format: date-time
      Url:
        type:
          - "null"
          - string
  contacts:
    type: object
    additionalProperties: true
    properties:
      AccountNumber:
        type:
          - "null"
          - string
      AccountsPayableTaxType:
        type:
          - "null"
          - string
      AccountsReceivableTaxType:
        type:
          - "null"
          - string
      Addresses:
        type:
          - "null"
          - array
        items:
          type: object
          additionalProperties: true
          properties:
            AddressLine1:
              type:
                - "null"
                - string
            AddressLine2:
              type:
                - "null"
                - string
            AddressLine3:
              type:
                - "null"
                - string
            AddressLine4:
              type:
                - "null"
                - string
            AddressType:
              type:
                - "null"
                - string
            AttentionTo:
              type:
                - "null"
                - string
            City:
              type:
                - "null"
                - string
            Country:
              type:
                - "null"
                - string
            PostalCode:
              type:
                - "null"
                - string
            Region:
              type:
                - "null"
                - string
      Attachments:
        type:
          - "null"
          - array
        additionalProperties: true
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties: {}
      Balances:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          AccountsPayable:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              Outstanding:
                type:
                  - "null"
                  - number
              Overdue:
                type:
                  - "null"
                  - number
          AccountsReceivable:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              Outstanding:
                type:
                  - "null"
                  - number
              Overdue:
                type:
                  - "null"
                  - number
      BankAccountDetails:
        type:
          - "null"
          - string
      BatchPayments:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          BankAccountName:
            type:
              - "null"
              - string
          BankAccountNumber:
            type:
              - "null"
              - string
          Code:
            type:
              - "null"
              - string
          Details:
            type:
              - "null"
              - string
          Reference:
            type:
              - "null"
              - string
      BrandingTheme:
        type: object
        additionalProperties: true
        properties:
          BrandingThemeID:
            type:
              - string
          CreatedDateUTC:
            type:
              - "null"
              - string
            format: date-time
          Name:
            type:
              - "null"
              - string
          SortOrder:
            type:
              - "null"
              - integer
      ContactGroups:
        type:
          - "null"
          - array
        items:
          type: object
          additionalProperties: true
          properties:
            ContactGroupID:
              type:
                - string
            HasValidationErrors:
              type:
                - "null"
                - boolean
            Name:
              type:
                - "null"
                - string
            Status:
              type:
                - "null"
                - string
      ContactID:
        type:
          - string
      ContactNumber:
        type:
          - "null"
          - string
      ContactPersons:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            EmailAddress:
              type:
                - "null"
                - string
            FirstName:
              type:
                - "null"
                - string
            IncludeInEmails:
              type:
                - "null"
                - boolean
            LastName:
              type:
                - "null"
                - string
      ContactStatus:
        type:
          - "null"
          - string
      DefaultCurrency:
        type:
          - "null"
          - string
      Discount:
        type:
          - "null"
          - number
      EmailAddress:
        type:
          - "null"
          - string
      FirstName:
        type:
          - "null"
          - string
      HasAttachments:
        type:
          - "null"
          - boolean
      HasValidationErrors:
        type:
          - "null"
          - boolean
      IsCustomer:
        type:
          - "null"
          - boolean
      IsSupplier:
        type:
          - "null"
          - boolean
      LastName:
        type:
          - "null"
          - string
      Name:
        type:
          - "null"
          - string
      PaymentTerms:
        type: object
        additionalProperties: true
        properties:
          Bills:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              Day:
                type:
                  - "null"
                  - integer
              Type:
                type:
                  - "null"
                  - string
          Sales:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              Day:
                type:
                  - "null"
                  - integer
              Type:
                type:
                  - "null"
                  - string
      Phones:
        type:
          - "null"
          - array
        items:
          type: object
          additionalProperties: true
          properties:
            PhoneAreaCode:
              type:
                - "null"
                - string
            PhoneCountryCode:
              type:
                - "null"
                - string
            PhoneNumber:
              type:
                - "null"
                - string
            PhoneType:
              type:
                - "null"
                - string
      PurchasesDefaultAccountCode:
        type:
          - "null"
          - string
      PurchasesTrackingCategories:
        type:
          - "null"
          - array
        items:
          type: object
          additionalProperties: true
          properties:
            Name:
              type:
                - "null"
                - string
            Option:
              type:
                - "null"
                - string
            Options:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  HasValidationErrors:
                    type:
                      - "null"
                      - boolean
                  IsActive:
                    type:
                      - "null"
                      - boolean
                  IsArchived:
                    type:
                      - "null"
                      - boolean
                  IsDeleted:
                    type:
                      - "null"
                      - boolean
                  Name:
                    type:
                      - "null"
                      - string
                  Status:
                    type:
                      - "null"
                      - string
                  TrackingOptionID:
                    type:
                      - "null"
                      - string
            Status:
              type:
                - "null"
                - string
            TrackingCategoryID:
              type:
                - string
            TrackingCategoryName:
              type:
                - "null"
                - string
            TrackingOptionID:
              type:
                - "null"
                - string
            TrackingOptionName:
              type:
                - "null"
                - string
      SalesDefaultAccountCode:
        type:
          - "null"
          - string
      SalesTrackingCategories:
        type:
          - "null"
          - array
        items:
          type: object
          additionalProperties: true
          properties:
            Name:
              type:
                - "null"
                - string
            Option:
              type:
                - "null"
                - string
            Options:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  HasValidationErrors:
                    type:
                      - "null"
                      - boolean
                  IsActive:
                    type:
                      - "null"
                      - boolean
                  IsArchived:
                    type:
                      - "null"
                      - boolean
                  IsDeleted:
                    type:
                      - "null"
                      - boolean
                  Name:
                    type:
                      - "null"
                      - string
                  Status:
                    type:
                      - "null"
                      - string
                  TrackingOptionID:
                    type:
                      - "null"
                      - string
            Status:
              type:
                - "null"
                - string
            TrackingCategoryID:
              type:
                - string
            TrackingCategoryName:
              type:
                - "null"
                - string
            TrackingOptionID:
              type:
                - "null"
                - string
            TrackingOptionName:
              type:
                - "null"
                - string
      SkypeUserName:
        type:
          - "null"
          - string
      TaxNumber:
        type:
          - "null"
          - string
      TrackingCategoryName:
        type:
          - "null"
          - string
      TrackingCategoryOption:
        type:
          - "null"
          - string
      UpdatedDateUTC:
        type:
          - "null"
          - string
        format: date-time
      ValidationErrors:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            Message:
              type:
                - "null"
                - string
      Website:
        type:
          - "null"
          - string
      XeroNetworkKey:
        type:
          - "null"
          - string
  credit_notes:
    type: object
    additionalProperties: true
    properties:
      Allocations:
        type:
          - "null"
          - array
        items:
          type: object
          additionalProperties: true
          properties:
            Amount:
              type:
                - "null"
                - number
            Date:
              type:
                - "null"
                - string
              format: date-time
            Invoice:
              type: object
              additionalProperties: true
              properties:
                AmountCredited:
                  type:
                    - "null"
                    - number
                AmountDue:
                  type:
                    - "null"
                    - number
                AmountPaid:
                  type:
                    - "null"
                    - number
                BrandingThemeID:
                  type:
                    - "null"
                    - string
                Contact:
                  type: object
                  additionalProperties: true
                  properties:
                    AccountNumber:
                      type:
                        - "null"
                        - string
                    AccountsPayableTaxType:
                      type:
                        - "null"
                        - string
                    AccountsReceivableTaxType:
                      type:
                        - "null"
                        - string
                    Addresses:
                      type:
                        - "null"
                        - array
                      items:
                        type: object
                        additionalProperties: true
                        properties:
                          AddressLine1:
                            type:
                              - "null"
                              - string
                          AddressLine2:
                            type:
                              - "null"
                              - string
                          AddressLine3:
                            type:
                              - "null"
                              - string
                          AddressLine4:
                            type:
                              - "null"
                              - string
                          AddressType:
                            type:
                              - "null"
                              - string
                          AttentionTo:
                            type:
                              - "null"
                              - string
                          City:
                            type:
                              - "null"
                              - string
                          Country:
                            type:
                              - "null"
                              - string
                          PostalCode:
                            type:
                              - "null"
                              - string
                          Region:
                            type:
                              - "null"
                              - string
                    Attachments:
                      type:
                        - "null"
                        - array
                      additionalProperties: true
                      items:
                        type:
                          - "null"
                          - object
                        additionalProperties: true
                        properties: {}
                    Balances:
                      type:
                        - "null"
                        - object
                      additionalProperties: true
                      properties:
                        AccountsPayable:
                          type:
                            - "null"
                            - object
                          additionalProperties: true
                          properties:
                            Outstanding:
                              type:
                                - "null"
                                - number
                            Overdue:
                              type:
                                - "null"
                                - number
                        AccountsReceivable:
                          type:
                            - "null"
                            - object
                          additionalProperties: true
                          properties:
                            Outstanding:
                              type:
                                - "null"
                                - number
                            Overdue:
                              type:
                                - "null"
                                - number
                    BankAccountDetails:
                      type:
                        - "null"
                        - string
                    BatchPayments:
                      type:
                        - "null"
                        - object
                      additionalProperties: true
                      properties:
                        BankAccountName:
                          type:
                            - "null"
                            - string
                        BankAccountNumber:
                          type:
                            - "null"
                            - string
                        Code:
                          type:
                            - "null"
                            - string
                        Details:
                          type:
                            - "null"
                            - string
                        Reference:
                          type:
                            - "null"
                            - string
                    BrandingTheme:
                      type: object
                      additionalProperties: true
                      properties:
                        BrandingThemeID:
                          type:
                            - string
                        CreatedDateUTC:
                          type:
                            - "null"
                            - string
                          format: date-time
                        Name:
                          type:
                            - "null"
                            - string
                        SortOrder:
                          type:
                            - "null"
                            - integer
                    ContactGroups:
                      type:
                        - "null"
                        - array
                      items:
                        type: object
                        additionalProperties: true
                        properties:
                          ContactGroupID:
                            type:
                              - string
                          HasValidationErrors:
                            type:
                              - "null"
                              - boolean
                          Name:
                            type:
                              - "null"
                              - string
                          Status:
                            type:
                              - "null"
                              - string
                    ContactID:
                      type:
                        - string
                    ContactNumber:
                      type:
                        - "null"
                        - string
                    ContactPersons:
                      type:
                        - "null"
                        - array
                      items:
                        type:
                          - "null"
                          - object
                        additionalProperties: true
                        properties:
                          EmailAddress:
                            type:
                              - "null"
                              - string
                          FirstName:
                            type:
                              - "null"
                              - string
                          IncludeInEmails:
                            type:
                              - "null"
                              - boolean
                          LastName:
                            type:
                              - "null"
                              - string
                    ContactStatus:
                      type:
                        - "null"
                        - string
                    DefaultCurrency:
                      type:
                        - "null"
                        - string
                    Discount:
                      type:
                        - "null"
                        - number
                    EmailAddress:
                      type:
                        - "null"
                        - string
                    FirstName:
                      type:
                        - "null"
                        - string
                    HasAttachments:
                      type:
                        - "null"
                        - boolean
                    HasValidationErrors:
                      type:
                        - "null"
                        - boolean
                    IsCustomer:
                      type:
                        - "null"
                        - boolean
                    IsSupplier:
                      type:
                        - "null"
                        - boolean
                    LastName:
                      type:
                        - "null"
                        - string
                    Name:
                      type:
                        - "null"
                        - string
                    PaymentTerms:
                      type: object
                      additionalProperties: true
                      properties:
                        Bills:
                          type:
                            - "null"
                            - object
                          additionalProperties: true
                          properties:
                            Day:
                              type:
                                - "null"
                                - integer
                            Type:
                              type:
                                - "null"
                                - string
                        Sales:
                          type:
                            - "null"
                            - object
                          additionalProperties: true
                          properties:
                            Day:
                              type:
                                - "null"
                                - integer
                            Type:
                              type:
                                - "null"
                                - string
                    Phones:
                      type:
                        - "null"
                        - array
                      items:
                        type: object
                        additionalProperties: true
                        properties:
                          PhoneAreaCode:
                            type:
                              - "null"
                              - string
                          PhoneCountryCode:
                            type:
                              - "null"
                              - string
                          PhoneNumber:
                            type:
                              - "null"
                              - string
                          PhoneType:
                            type:
                              - "null"
                              - string
                    PurchasesDefaultAccountCode:
                      type:
                        - "null"
                        - string
                    PurchasesTrackingCategories:
                      type:
                        - "null"
                        - array
                      items:
                        type: object
                        additionalProperties: true
                        properties:
                          Name:
                            type:
                              - "null"
                              - string
                          Option:
                            type:
                              - "null"
                              - string
                          Options:
                            type:
                              - "null"
                              - array
                            items:
                              type:
                                - "null"
                                - object
                              additionalProperties: true
                              properties:
                                HasValidationErrors:
                                  type:
                                    - "null"
                                    - boolean
                                IsActive:
                                  type:
                                    - "null"
                                    - boolean
                                IsArchived:
                                  type:
                                    - "null"
                                    - boolean
                                IsDeleted:
                                  type:
                                    - "null"
                                    - boolean
                                Name:
                                  type:
                                    - "null"
                                    - string
                                Status:
                                  type:
                                    - "null"
                                    - string
                                TrackingOptionID:
                                  type:
                                    - "null"
                                    - string
                          Status:
                            type:
                              - "null"
                              - string
                          TrackingCategoryID:
                            type:
                              - string
                          TrackingCategoryName:
                            type:
                              - "null"
                              - string
                          TrackingOptionID:
                            type:
                              - "null"
                              - string
                          TrackingOptionName:
                            type:
                              - "null"
                              - string
                    SalesDefaultAccountCode:
                      type:
                        - "null"
                        - string
                    SalesTrackingCategories:
                      type:
                        - "null"
                        - array
                      items:
                        type: object
                        additionalProperties: true
                        properties:
                          Name:
                            type:
                              - "null"
                              - string
                          Option:
                            type:
                              - "null"
                              - string
                          Options:
                            type:
                              - "null"
                              - array
                            items:
                              type:
                                - "null"
                                - object
                              additionalProperties: true
                              properties:
                                HasValidationErrors:
                                  type:
                                    - "null"
                                    - boolean
                                IsActive:
                                  type:
                                    - "null"
                                    - boolean
                                IsArchived:
                                  type:
                                    - "null"
                                    - boolean
                                IsDeleted:
                                  type:
                                    - "null"
                                    - boolean
                                Name:
                                  type:
                                    - "null"
                                    - string
                                Status:
                                  type:
                                    - "null"
                                    - string
                                TrackingOptionID:
                                  type:
                                    - "null"
                                    - string
                          Status:
                            type:
                              - "null"
                              - string
                          TrackingCategoryID:
                            type:
                              - string
                          TrackingCategoryName:
                            type:
                              - "null"
                              - string
                          TrackingOptionID:
                            type:
                              - "null"
                              - string
                          TrackingOptionName:
                            type:
                              - "null"
                              - string
                    SkypeUserName:
                      type:
                        - "null"
                        - string
                    TaxNumber:
                      type:
                        - "null"
                        - string
                    TrackingCategoryName:
                      type:
                        - "null"
                        - string
                    TrackingCategoryOption:
                      type:
                        - "null"
                        - string
                    UpdatedDateUTC:
                      type:
                        - "null"
                        - string
                      format: date-time
                    ValidationErrors:
                      type:
                        - "null"
                        - array
                      items:
                        type:
                          - "null"
                          - object
                        additionalProperties: true
                        properties:
                          Message:
                            type:
                              - "null"
                              - string
                    Website:
                      type:
                        - "null"
                        - string
                    XeroNetworkKey:
                      type:
                        - "null"
                        - string
                CurrencyCode:
                  type:
                    - "null"
                    - string
                CurrencyRate:
                  type:
                    - "null"
                    - number
                Date:
                  type:
                    - "null"
                    - string
                  format: date-time
                DateString:
                  type:
                    - "null"
                    - string
                  format: date-time
                DueDate:
                  type:
                    - "null"
                    - string
                  format: date-time
                DueDateString:
                  type:
                    - "null"
                    - string
                  format: date-time
                ExpectedPaymentDate:
                  type:
                    - "null"
                    - string
                  format: date-time
                FullyPaidOnDate:
                  type:
                    - "null"
                    - string
                  format: date-time
                HasAttachments:
                  type:
                    - "null"
                    - boolean
                HasErrors:
                  type:
                    - "null"
                    - boolean
                InvoiceID:
                  type:
                    - string
                InvoiceNumber:
                  type:
                    - "null"
                    - string
                IsDiscounted:
                  type:
                    - "null"
                    - boolean
                LineAmountTypes:
                  type:
                    - "null"
                    - string
                LineItems:
                  type:
                    - "null"
                    - array
                  items:
                    type: object
                    additionalProperties: true
                    properties:
                      AccountCode:
                        type:
                          - "null"
                          - string
                      Description:
                        type:
                          - "null"
                          - string
                      DiscountRate:
                        type:
                          - "null"
                          - number
                      ItemCode:
                        type:
                          - "null"
                          - string
                      LineAmount:
                        type:
                          - "null"
                          - number
                      LineItemID:
                        type:
                          - string
                      Quantity:
                        type:
                          - "null"
                          - number
                      TaxAmount:
                        type:
                          - "null"
                          - number
                      TaxType:
                        type:
                          - "null"
                          - string
                      Tracking:
                        type:
                          - "null"
                          - array
                        items:
                          type:
                            - "null"
                            - object
                          additionalProperties: true
                          properties:
                            Name:
                              type:
                                - "null"
                                - string
                            Option:
                              type:
                                - "null"
                                - string
                            Options:
                              type:
                                - "null"
                                - array
                              items:
                                type:
                                  - "null"
                                  - object
                                additionalProperties: true
                                properties:
                                  HasValidationErrors:
                                    type:
                                      - "null"
                                      - boolean
                                  IsActive:
                                    type:
                                      - "null"
                                      - boolean
                                  IsArchived:
                                    type:
                                      - "null"
                                      - boolean
                                  IsDeleted:
                                    type:
                                      - "null"
                                      - boolean
                                  Name:
                                    type:
                                      - "null"
                                      - string
                                  Status:
                                    type:
                                      - "null"
                                      - string
                                  TrackingOptionID:
                                    type:
                                      - "null"
                                      - string
                            Status:
                              type:
                                - "null"
                                - string
                            TrackingCategoryID:
                              type:
                                - string
                            TrackingCategoryName:
                              type:
                                - "null"
                                - string
                            TrackingOptionID:
                              type:
                                - "null"
                                - string
                            TrackingOptionName:
                              type:
                                - "null"
                                - string
                      UnitAmount:
                        type:
                          - "null"
                          - number
                PlannedPaymentDate:
                  type:
                    - "null"
                    - string
                  format: date-time
                Reference:
                  type:
                    - "null"
                    - string
                SentToContact:
                  type:
                    - "null"
                    - boolean
                Status:
                  type:
                    - "null"
                    - string
                SubTotal:
                  type:
                    - "null"
                    - number
                Total:
                  type:
                    - "null"
                    - number
                TotalDiscount:
                  type:
                    - "null"
                    - number
                TotalTax:
                  type:
                    - "null"
                    - number
                Type:
                  type:
                    - "null"
                    - string
                UpdatedDateUTC:
                  type:
                    - "null"
                    - string
                  format: date-time
                Url:
                  type:
                    - "null"
                    - string
      AppliedAmount:
        type:
          - "null"
          - number
      BrandingThemeID:
        type:
          - "null"
          - string
      Contact:
        type: object
        additionalProperties: true
        properties:
          AccountNumber:
            type:
              - "null"
              - string
          AccountsPayableTaxType:
            type:
              - "null"
              - string
          AccountsReceivableTaxType:
            type:
              - "null"
              - string
          Addresses:
            type:
              - "null"
              - array
            items:
              type: object
              additionalProperties: true
              properties:
                AddressLine1:
                  type:
                    - "null"
                    - string
                AddressLine2:
                  type:
                    - "null"
                    - string
                AddressLine3:
                  type:
                    - "null"
                    - string
                AddressLine4:
                  type:
                    - "null"
                    - string
                AddressType:
                  type:
                    - "null"
                    - string
                AttentionTo:
                  type:
                    - "null"
                    - string
                City:
                  type:
                    - "null"
                    - string
                Country:
                  type:
                    - "null"
                    - string
                PostalCode:
                  type:
                    - "null"
                    - string
                Region:
                  type:
                    - "null"
                    - string
          Attachments:
            type:
              - "null"
              - array
            additionalProperties: true
            items:
              type:
                - "null"
                - object
              additionalProperties: true
              properties: {}
          Balances:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              AccountsPayable:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  Outstanding:
                    type:
                      - "null"
                      - number
                  Overdue:
                    type:
                      - "null"
                      - number
              AccountsReceivable:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  Outstanding:
                    type:
                      - "null"
                      - number
                  Overdue:
                    type:
                      - "null"
                      - number
          BankAccountDetails:
            type:
              - "null"
              - string
          BatchPayments:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              BankAccountName:
                type:
                  - "null"
                  - string
              BankAccountNumber:
                type:
                  - "null"
                  - string
              Code:
                type:
                  - "null"
                  - string
              Details:
                type:
                  - "null"
                  - string
              Reference:
                type:
                  - "null"
                  - string
          BrandingTheme:
            type: object
            additionalProperties: true
            properties:
              BrandingThemeID:
                type:
                  - string
              CreatedDateUTC:
                type:
                  - "null"
                  - string
                format: date-time
              Name:
                type:
                  - "null"
                  - string
              SortOrder:
                type:
                  - "null"
                  - integer
          ContactGroups:
            type:
              - "null"
              - array
            items:
              type: object
              additionalProperties: true
              properties:
                ContactGroupID:
                  type:
                    - string
                HasValidationErrors:
                  type:
                    - "null"
                    - boolean
                Name:
                  type:
                    - "null"
                    - string
                Status:
                  type:
                    - "null"
                    - string
          ContactID:
            type:
              - string
          ContactNumber:
            type:
              - "null"
              - string
          ContactPersons:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                EmailAddress:
                  type:
                    - "null"
                    - string
                FirstName:
                  type:
                    - "null"
                    - string
                IncludeInEmails:
                  type:
                    - "null"
                    - boolean
                LastName:
                  type:
                    - "null"
                    - string
          ContactStatus:
            type:
              - "null"
              - string
          DefaultCurrency:
            type:
              - "null"
              - string
          Discount:
            type:
              - "null"
              - number
          EmailAddress:
            type:
              - "null"
              - string
          FirstName:
            type:
              - "null"
              - string
          HasAttachments:
            type:
              - "null"
              - boolean
          HasValidationErrors:
            type:
              - "null"
              - boolean
          IsCustomer:
            type:
              - "null"
              - boolean
          IsSupplier:
            type:
              - "null"
              - boolean
          LastName:
            type:
              - "null"
              - string
          Name:
            type:
              - "null"
              - string
          PaymentTerms:
            type: object
            additionalProperties: true
            properties:
              Bills:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  Day:
                    type:
                      - "null"
                      - integer
                  Type:
                    type:
                      - "null"
                      - string
              Sales:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  Day:
                    type:
                      - "null"
                      - integer
                  Type:
                    type:
                      - "null"
                      - string
          Phones:
            type:
              - "null"
              - array
            items:
              type: object
              additionalProperties: true
              properties:
                PhoneAreaCode:
                  type:
                    - "null"
                    - string
                PhoneCountryCode:
                  type:
                    - "null"
                    - string
                PhoneNumber:
                  type:
                    - "null"
                    - string
                PhoneType:
                  type:
                    - "null"
                    - string
          PurchasesDefaultAccountCode:
            type:
              - "null"
              - string
          PurchasesTrackingCategories:
            type:
              - "null"
              - array
            items:
              type: object
              additionalProperties: true
              properties:
                Name:
                  type:
                    - "null"
                    - string
                Option:
                  type:
                    - "null"
                    - string
                Options:
                  type:
                    - "null"
                    - array
                  items:
                    type:
                      - "null"
                      - object
                    additionalProperties: true
                    properties:
                      HasValidationErrors:
                        type:
                          - "null"
                          - boolean
                      IsActive:
                        type:
                          - "null"
                          - boolean
                      IsArchived:
                        type:
                          - "null"
                          - boolean
                      IsDeleted:
                        type:
                          - "null"
                          - boolean
                      Name:
                        type:
                          - "null"
                          - string
                      Status:
                        type:
                          - "null"
                          - string
                      TrackingOptionID:
                        type:
                          - "null"
                          - string
                Status:
                  type:
                    - "null"
                    - string
                TrackingCategoryID:
                  type:
                    - string
                TrackingCategoryName:
                  type:
                    - "null"
                    - string
                TrackingOptionID:
                  type:
                    - "null"
                    - string
                TrackingOptionName:
                  type:
                    - "null"
                    - string
          SalesDefaultAccountCode:
            type:
              - "null"
              - string
          SalesTrackingCategories:
            type:
              - "null"
              - array
            items:
              type: object
              additionalProperties: true
              properties:
                Name:
                  type:
                    - "null"
                    - string
                Option:
                  type:
                    - "null"
                    - string
                Options:
                  type:
                    - "null"
                    - array
                  items:
                    type:
                      - "null"
                      - object
                    additionalProperties: true
                    properties:
                      HasValidationErrors:
                        type:
                          - "null"
                          - boolean
                      IsActive:
                        type:
                          - "null"
                          - boolean
                      IsArchived:
                        type:
                          - "null"
                          - boolean
                      IsDeleted:
                        type:
                          - "null"
                          - boolean
                      Name:
                        type:
                          - "null"
                          - string
                      Status:
                        type:
                          - "null"
                          - string
                      TrackingOptionID:
                        type:
                          - "null"
                          - string
                Status:
                  type:
                    - "null"
                    - string
                TrackingCategoryID:
                  type:
                    - string
                TrackingCategoryName:
                  type:
                    - "null"
                    - string
                TrackingOptionID:
                  type:
                    - "null"
                    - string
                TrackingOptionName:
                  type:
                    - "null"
                    - string
          SkypeUserName:
            type:
              - "null"
              - string
          TaxNumber:
            type:
              - "null"
              - string
          TrackingCategoryName:
            type:
              - "null"
              - string
          TrackingCategoryOption:
            type:
              - "null"
              - string
          UpdatedDateUTC:
            type:
              - "null"
              - string
            format: date-time
          ValidationErrors:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                Message:
                  type:
                    - "null"
                    - string
          Website:
            type:
              - "null"
              - string
          XeroNetworkKey:
            type:
              - "null"
              - string
      CreditNoteID:
        type:
          - string
      CreditNoteNumber:
        type:
          - "null"
          - string
      CurrencyCode:
        type:
          - "null"
          - string
      CurrencyRate:
        type:
          - "null"
          - number
      Date:
        type:
          - "null"
          - string
        format: date-time
      DateString:
        type:
          - "null"
          - string
        format: date-time
      DueDate:
        type:
          - "null"
          - string
        format: date-time
      DueDateString:
        type:
          - "null"
          - string
        format: date-time
      FullyPaidOnDate:
        type:
          - "null"
          - string
        format: date-time
      HasAttachments:
        type:
          - "null"
          - boolean
      ID:
        type:
          - "null"
          - string
      LineAmountTypes:
        type:
          - "null"
          - string
      LineItems:
        type:
          - "null"
          - array
        items:
          type: object
          additionalProperties: true
          properties:
            AccountCode:
              type:
                - "null"
                - string
            Description:
              type:
                - "null"
                - string
            DiscountRate:
              type:
                - "null"
                - number
            ItemCode:
              type:
                - "null"
                - string
            LineAmount:
              type:
                - "null"
                - number
            LineItemID:
              type:
                - string
            Quantity:
              type:
                - "null"
                - number
            TaxAmount:
              type:
                - "null"
                - number
            TaxType:
              type:
                - "null"
                - string
            Tracking:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  Name:
                    type:
                      - "null"
                      - string
                  Option:
                    type:
                      - "null"
                      - string
                  Options:
                    type:
                      - "null"
                      - array
                    items:
                      type:
                        - "null"
                        - object
                      additionalProperties: true
                      properties:
                        HasValidationErrors:
                          type:
                            - "null"
                            - boolean
                        IsActive:
                          type:
                            - "null"
                            - boolean
                        IsArchived:
                          type:
                            - "null"
                            - boolean
                        IsDeleted:
                          type:
                            - "null"
                            - boolean
                        Name:
                          type:
                            - "null"
                            - string
                        Status:
                          type:
                            - "null"
                            - string
                        TrackingOptionID:
                          type:
                            - "null"
                            - string
                  Status:
                    type:
                      - "null"
                      - string
                  TrackingCategoryID:
                    type:
                      - string
                  TrackingCategoryName:
                    type:
                      - "null"
                      - string
                  TrackingOptionID:
                    type:
                      - "null"
                      - string
                  TrackingOptionName:
                    type:
                      - "null"
                      - string
            UnitAmount:
              type:
                - "null"
                - number
      Reference:
        type:
          - "null"
          - string
      RemainingCredit:
        type:
          - "null"
          - number
      SentToContact:
        type:
          - "null"
          - boolean
      Status:
        type:
          - "null"
          - string
      SubTotal:
        type:
          - "null"
          - number
      Total:
        type:
          - "null"
          - number
      TotalTax:
        type:
          - "null"
          - number
      Type:
        type:
          - "null"
          - string
      UpdatedDateUTC:
        type:
          - "null"
          - string
        format: date-time
  invoices:
    type: object
    additionalProperties: true
    properties:
      AmountCredited:
        type:
          - "null"
          - number
      AmountDue:
        type:
          - "null"
          - number
      AmountPaid:
        type:
          - "null"
          - number
      BrandingThemeID:
        type:
          - "null"
          - string
      Contact:
        type: object
        additionalProperties: true
        properties:
          AccountNumber:
            type:
              - "null"
              - string
          AccountsPayableTaxType:
            type:
              - "null"
              - string
          AccountsReceivableTaxType:
            type:
              - "null"
              - string
          Addresses:
            type:
              - "null"
              - array
            items:
              type: object
              additionalProperties: true
              properties:
                AddressLine1:
                  type:
                    - "null"
                    - string
                AddressLine2:
                  type:
                    - "null"
                    - string
                AddressLine3:
                  type:
                    - "null"
                    - string
                AddressLine4:
                  type:
[...]
