version: 5.14.0

type: DeclarativeSource

description: >-
  This connector integrates Codefresh with Airbyte, enabling seamless data
  synchronization for analytics and pipeline monitoring. It provides streams
  like agents, builds, audit, analytics etc.

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  streams:
    audit:
      type: DeclarativeStream
      name: audit
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
        requester:
          $ref: "#/definitions/base_requester"
          path: /audit
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/audit"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: createdAt
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        end_time_option:
          type: RequestOption
          field_name: "{{ config['to'] }}"
          inject_into: request_parameter
        start_time_option:
          type: RequestOption
          field_name: "{{ config['from'] }}"
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
    views:
      type: DeclarativeStream
      name: views
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 12
        requester:
          $ref: "#/definitions/base_requester"
          path: /views/
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/views"
    agents:
      type: DeclarativeStream
      name: agents
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /agents
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/agents"
    builds:
      type: DeclarativeStream
      name: builds
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
        requester:
          $ref: "#/definitions/base_requester"
          path: /workflow
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - workflows
              - docs
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/builds"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        end_time_option:
          type: RequestOption
          field_name: "{{ config['enddate'] }}"
          inject_into: request_parameter
        start_time_option:
          type: RequestOption
          field_name: "{{ config['startdate'] }}"
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
    accounts:
      type: DeclarativeStream
      name: accounts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts/{{ config["account_id"] }}/users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - _id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"
    contexts:
      type: DeclarativeStream
      name: contexts
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
        requester:
          $ref: "#/definitions/base_requester"
          path: /contexts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - metadata
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contexts"
    projects:
      type: DeclarativeStream
      name: projects
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
        requester:
          $ref: "#/definitions/base_requester"
          path: /projects
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - projects
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    pipelines:
      type: DeclarativeStream
      name: pipelines
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
        requester:
          $ref: "#/definitions/base_requester"
          path: /pipelines
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - docs
      primary_key:
        - metadata
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/pipelines"
    helm_repos:
      type: DeclarativeStream
      name: helm_repos
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /helm/repos
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/helm_repos"
    step_types:
      type: DeclarativeStream
      name: step_types
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /step-types
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - docs
              - "*"
      primary_key:
        - metadata
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/step_types"
    environments:
      type: DeclarativeStream
      name: environments
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
        requester:
          $ref: "#/definitions/base_requester"
          path: /environments-v2
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/environments"
    account_settings:
      type: DeclarativeStream
      name: account_settings
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /account-settings
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - _id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/account_settings"
    analytics_reports:
      type: DeclarativeStream
      name: analytics_reports
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/reports/{{ config['report_name'] }}
          http_method: GET
          request_parameters:
            dateRange: "{{ config[\"report_date_range\"] }}"
            granularity: "{{ config[\"report_granularity\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_reports"
    analytics_metadata:
      type: DeclarativeStream
      name: analytics_metadata
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/metadata
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - reports
              - "*"
      primary_key:
        - reportName
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_metadata"
    execution_contexts:
      type: DeclarativeStream
      name: execution_contexts
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
        requester:
          $ref: "#/definitions/base_requester"
          path: /execution-contexts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - docs
      primary_key:
        - _id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/execution_contexts"
  base_requester:
    type: HttpRequester
    url_base: https://g.codefresh.io/api
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: Authorization
        inject_into: header

streams:
  - $ref: "#/definitions/streams/accounts"
  - $ref: "#/definitions/streams/account_settings"
  - $ref: "#/definitions/streams/agents"
  - $ref: "#/definitions/streams/builds"
  - $ref: "#/definitions/streams/audit"
  - $ref: "#/definitions/streams/analytics_metadata"
  - $ref: "#/definitions/streams/analytics_reports"
  - $ref: "#/definitions/streams/execution_contexts"
  - $ref: "#/definitions/streams/contexts"
  - $ref: "#/definitions/streams/views"
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/pipelines"
  - $ref: "#/definitions/streams/step_types"
  - $ref: "#/definitions/streams/environments"
  - $ref: "#/definitions/streams/helm_repos"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - account_id
      - report_name
      - report_granularity
      - report_date_range
      - start_date
      - from
      - to
      - startdate
      - enddate
    properties:
      to:
        type: string
        order: 7
        title: To
      from:
        type: integer
        order: 6
        title: From
      api_key:
        type: string
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
      enddate:
        type: string
        order: 9
        title: endDate
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
      startdate:
        type: string
        order: 8
        title: startDate
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
      account_id:
        type: string
        order: 1
        title: Account Id
        airbyte_secret: true
      start_date:
        type: string
        order: 5
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      report_name:
        type: string
        order: 2
        title: Report Name
      report_date_range:
        type: array
        order: 4
        title: Report Date Range
      report_granularity:
        type: string
        order: 3
        title: Report Granularity
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://g.codefresh.io/api/
  testedStreams:
    audit:
      hasRecords: true
      streamHash: 6962589053cfa4055fd3042975ed62636673c619
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    views:
      hasRecords: true
      streamHash: a03708de60384ec6f9e8a35c3d58868941669e0f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    agents:
      hasRecords: true
      streamHash: d399035f8b338b152129e3c9c9e02fd9a04a75a6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    builds:
      hasRecords: true
      streamHash: 9e56ba016969b10e100b3a8dbbd05d30f259e36d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    accounts:
      hasRecords: true
      streamHash: 251a332abde699ac1074c3070cd8a86685e3b04a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    contexts:
      hasRecords: true
      streamHash: c660a3085e6cc4ac75c8dfa37354f2412fb31cfd
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    projects:
      hasRecords: true
      streamHash: 21b5cbd81ec51944cdcd3d282a270b1f62b4aa21
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    pipelines:
      hasRecords: true
      streamHash: 8725ac4acba7a8fa4dcfcf623465444a8428b038
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    helm_repos:
      hasRecords: true
      streamHash: 49c545f871d863c8c8ec2575123a9ff750605438
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    step_types:
      hasRecords: true
      streamHash: 656dda96cb005a4d35172232d5882be3eca19e84
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    environments:
      hasRecords: true
      streamHash: 7dfbf51f3ecac92c6ef2f5bf1e98ca233eaed3f6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    account_settings:
      hasRecords: true
      streamHash: f5c687d00ff0641fba86bcba02c90d289697981f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_reports:
      hasRecords: true
      streamHash: 610b7bef4720541041ff7ead897aa647f3b704ec
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_metadata:
      hasRecords: true
      streamHash: ff842881e58b1b3d0804cf2d2f943b5dab7f0bb7
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    execution_contexts:
      hasRecords: true
      streamHash: 9bcd219ba8c28929a2446f7bc97362db31234bff
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    audit: true
    views: true
    agents: true
    builds: true
    accounts: true
    contexts: true
    projects: true
    pipelines: true
    helm_repos: true
    step_types: true
    environments: true
    account_settings: true
    analytics_reports: true
    analytics_metadata: true
    execution_contexts: true

schemas:
  audit:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - createdAt
    properties:
      id:
        type: number
      ip:
        type:
          - string
          - "null"
      action:
        type:
          - string
          - "null"
      entity:
        type:
          - string
          - "null"
      userId:
        type:
          - string
          - "null"
      req_url:
        type:
          - string
          - "null"
      entityId:
        type:
          - string
          - "null"
      req_body:
        type:
          - string
          - "null"
      res_body:
        type:
          - string
          - "null"
      userName:
        type:
          - string
          - "null"
      accountId:
        type:
          - string
          - "null"
      createdAt:
        type: string
      req_query:
        type:
          - string
          - "null"
      rs_status:
        type:
          - number
          - "null"
      userEmail:
        type:
          - string
          - "null"
      entityName:
        type:
          - string
          - "null"
      req_params:
        type:
          - string
          - "null"
      correlationId:
        type:
          - string
          - "null"
    additionalProperties: true
  views:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      docs:
        type:
          - array
          - "null"
      page:
        type:
          - number
          - "null"
      limit:
        type:
          - number
          - "null"
      pages:
        type:
          - number
          - "null"
      total:
        type:
          - number
          - "null"
      offset:
        type:
          - number
          - "null"
    additionalProperties: true
  agents:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
      status:
        type:
          - object
          - "null"
        properties:
          message:
            type:
              - string
              - "null"
          reportedAt:
            type:
              - string
              - "null"
          healthStatus:
            type:
              - string
              - "null"
      account:
        type:
          - string
          - "null"
      runtimes:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      tokenName:
        type:
          - string
          - "null"
    additionalProperties: true
  builds:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - created
    properties:
      id:
        type: string
      event:
        type:
          - string
          - "null"
      steps:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      packId:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      account:
        type:
          - string
          - "null"
      created:
        type: string
      delayed:
        type:
          - number
          - "null"
      project:
        type:
          - string
          - "null"
      repoURL:
        type:
          - string
          - "null"
      request:
        type:
          - string
          - "null"
      runtime:
        type:
          - object
          - "null"
        properties:
          schedulerConfig:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
      started:
        type:
          - string
          - "null"
      trigger:
        type:
          - string
          - "null"
      finished:
        type:
          - string
          - "null"
      progress:
        type:
          - string
          - "null"
      provider:
        type:
          - string
          - "null"
      repoName:
        type:
          - string
          - "null"
      revision:
        type:
          - string
          - "null"
      branchURL:
        type:
          - string
          - "null"
      commitURL:
        type:
          - string
          - "null"
      committer:
        type:
          - string
          - "null"
      eventName:
        type:
          - string
          - "null"
      initiator:
        type:
          - string
          - "null"
      projectId:
        type:
          - string
          - "null"
      repoOwner:
        type:
          - string
          - "null"
      serviceId:
        type:
          - string
          - "null"
      branchName:
        type:
          - string
          - "null"
      eventLabel:
        type:
          - string
          - "null"
      annotations:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            key:
              type:
                - string
                - "null"
            value:
              type:
                - string
                - "null"
            display:
              type:
                - boolean
                - "null"
            updatedAt:
              type:
                - string
                - "null"
            annotationId:
              type:
                - string
                - "null"
      serviceName:
        type:
          - string
          - "null"
      triggerType:
        type:
          - string
          - "null"
      triggeredBy:
        type:
          - string
          - "null"
      useDebugger:
        type:
          - boolean
          - "null"
      pipelineName:
        type:
          - string
          - "null"
      systemEvents:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            _id:
              type:
                - string
                - "null"
            kind:
              type:
                - string
                - "null"
            step:
              type:
                - string
                - "null"
            message:
              type:
                - string
                - "null"
            stepKind:
              type:
                - string
                - "null"
            stepName:
              type:
                - string
                - "null"
            retriable:
              type:
                - boolean
                - "null"
      buildStrategy:
        type:
          - string
          - "null"
      commitMessage:
        type:
          - string
          - "null"
      pendingReason:
        type:
          - string
          - "null"
      triggersCount:
        type:
          - number
          - "null"
      pendingLicense:
        type:
          - boolean
          - "null"
      committerAvatar:
        type:
          - string
          - "null"
      hasExtendedYaml:
        type:
          - boolean
          - "null"
      initiatorAvatar:
        type:
          - string
          - "null"
      exposedVariables:
        type:
          - object
          - "null"
        properties:
          shared:
            type:
              - array
              - "null"
          project:
            type:
              - array
              - "null"
          pipeline:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                key:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - number
                    - string
                    - "null"
          pipelineTrigger:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                key:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - string
                    - "null"
          pipelineTriggerShared:
            type:
              - array
              - "null"
      pendingApprovals:
        type:
          - array
          - "null"
      webhookTriggered:
        type:
          - boolean
          - "null"
      autoGeneratedYaml:
        type:
          - boolean
          - "null"
      exportedVariables:
        type:
          - object
          - "null"
      finalWorkflowYaml:
        type:
          - string
          - "null"
      pipelineTriggerId:
        type:
          - string
          - "null"
      terminationRequest:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            _id:
              type:
                - string
                - "null"
            date:
              type:
                - string
                - "null"
            cause:
              type:
                - string
                - "null"
            message:
              type:
                - string
                - "null"
            byBuildManager:
              type:
                - boolean
                - "null"
            workflowStatus:
              type:
                - string
                - "null"
      userYamlDescriptor:
        type:
          - string
          - "null"
      pipelineTriggerName:
        type:
          - string
          - "null"
      hasImplicitGitCloneStep:
        type:
          - boolean
          - "null"
      keepPVCsForPendingApproval:
        type:
          - boolean
          - "null"
      permitRestartFromFailedSteps:
        type:
          - boolean
          - "null"
      pendingApprovalConcurrencyApplied:
        type:
          - boolean
          - "null"
    additionalProperties: true
  accounts:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - _id
    properties:
      _id:
        type: string
      email:
        type:
          - string
          - "null"
      roles:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      logins:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            idp:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
            userId:
              type:
                - string
                - "null"
            userName:
              type:
                - string
                - "null"
            permissions:
              type:
                - array
                - "null"
            personalGit:
              type:
                - boolean
                - "null"
      status:
        type:
          - string
          - "null"
      account:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      settings:
        type:
          - object
          - "null"
        properties:
          theme:
            type:
              - string
              - "null"
          dateFormat:
            type:
              - string
              - "null"
          timeFormat:
            type:
              - string
              - "null"
          sendWeeklyReport:
            type:
              - boolean
              - "null"
          allowAdminToLogin:
            type:
              - boolean
              - "null"
          displayWelcomeScreen:
            type:
              - boolean
              - "null"
          filterInaccessibleKubernetes:
            type:
              - boolean
              - "null"
      userName:
        type:
          - string
          - "null"
      user_data:
        type:
          - object
          - "null"
        properties:
          name:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          image:
            type:
              - string
              - "null"
          emails:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      hasPassword:
        type:
          - boolean
          - "null"
      shortProfile:
        type:
          - object
          - "null"
        properties:
          userName:
            type:
              - string
              - "null"
      notifications:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            events:
              type:
                - array
                - "null"
      register_date:
        type:
          - string
          - "null"
      defaultAccount:
        type:
          - number
          - "null"
      gitOpsSettings:
        type:
          - array
          - "null"
      last_login_date:
        type:
          - string
          - "null"
      notificationEmail:
        type:
          - string
          - "null"
    additionalProperties: true
  contexts:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - metadata
    properties:
      spec:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          data:
            type:
              - object
              - "null"
            properties:
              auth:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  idpId:
                    type:
                      - string
                      - "null"
                  password:
                    type:
                      - string
                      - "null"
                  permissions:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              repositoryUrl:
                type:
                  - string
                  - "null"
              sharingPolicy:
                type:
                  - string
                  - "null"
              secretStoreReferences:
                type:
                  - array
                  - "null"
      metadata:
        type: object
        properties:
          name:
            type:
              - string
              - "null"
          system:
            type:
              - boolean
              - "null"
          default:
            type:
              - boolean
              - "null"
      kind:
        type:
          - string
          - "null"
      owner:
        type:
          - string
          - "null"
      apiVersion:
        type:
          - string
          - "null"
    additionalProperties: true
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      metadata:
        type:
          - object
          - "null"
        properties:
          createdAt:
            type:
              - string
              - "null"
      id:
        type: string
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      image:
        type:
          - string
          - "null"
      favorite:
        type:
          - boolean
          - "null"
      accountId:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
      variables:
        type:
          - array
          - "null"
      projectName:
        type:
          - string
          - "null"
      pipelinesNumber:
        type:
          - number
          - "null"
    additionalProperties: true
  pipelines:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - metadata
    properties:
      version:
        type:
          - string
          - "null"
      spec:
        type:
          - object
          - "null"
        properties:
          steps:
            type:
              - object
              - "null"
            properties:
              test:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  image:
                    type:
                      - string
                      - "null"
                  stage:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  working_directory:
                    type:
                      - string
                      - "null"
              build:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  tag:
                    type:
                      - string
                      - "null"
                  stage:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  dockerfile:
                    type:
                      - string
                      - "null"
                  image_name:
                    type:
                      - string
                      - "null"
                  working_directory:
                    type:
                      - string
                      - "null"
              clone:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  git:
                    type:
                      - string
                      - "null"
                  repo:
                    type:
                      - string
                      - "null"
                  stage:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  revision:
                    type:
                      - string
                      - "null"
          stages:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          contexts:
            type:
              - array
              - "null"
          triggers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                repo:
                  type:
                    - string
                    - "null"
                events:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - string
                      - "null"
                status:
                  type:
                    - string
                    - "null"
                context:
                  type:
                    - string
                    - "null"
                options:
                  type:
                    - object
                    - "null"
                  properties:
                    noCache:
                      type:
                        - boolean
                        - "null"
                    noCfCache:
                      type:
                        - boolean
                        - "null"
                    resetVolume:
                      type:
                        - boolean
                        - "null"
                contexts:
                  type:
                    - array
                    - "null"
                disabled:
                  type:
                    - boolean
                    - "null"
                provider:
                  type:
                    - string
                    - "null"
                verified:
                  type:
                    - boolean
                    - "null"
                branchRegex:
                  type:
                    - string
                    - "null"
                commentRegex:
                  type:
                    - string
                    - "null"
                branchRegexInput:
                  type:
                    - string
                    - "null"
                lastExecutionDate:
                  type:
                    - string
                    - "null"
                gerritCIStatusLabels:
                  type:
                    - array
                    - "null"
                pullRequestAllowForkEvents:
                  type:
                    - boolean
                    - "null"
          variables:
            type:
              - array
              - "null"
          externalResources:
            type:
              - array
              - "null"
          terminationPolicy:
            type:
              - array
              - "null"
          runtimeEnvironment:
            type:
              - object
              - "null"
            properties:
              cpu:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              memory:
                type:
                  - string
                  - "null"
      metadata:
        type: object
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          labels:
            type:
              - object
              - "null"
            properties:
              tags:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          project:
            type:
              - string
              - "null"
          revision:
            type:
              - number
              - "null"
          accountId:
            type:
              - string
              - "null"
          deprecate:
            type:
              - object
              - "null"
          projectId:
            type:
              - string
              - "null"
          shortName:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          originalYamlString:
            type:
              - string
              - "null"
      kind:
        type:
          - string
          - "null"
      last_executed:
        type:
          - string
          - "null"
    additionalProperties: true
  helm_repos:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      Name:
        type:
          - string
          - "null"
      Public:
        type:
          - boolean
          - "null"
      CreatedAt:
        type:
          - string
          - "null"
      UpdatedAt:
        type:
          - string
          - "null"
    additionalProperties: true
  step_types:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - metadata
    properties:
      version:
        type:
          - string
          - "null"
      spec:
        type:
          - object
          - "null"
        properties:
          steps:
            type:
              - object
              - "null"
            properties:
              bump:
                type:
                  - object
                  - "null"
                properties:
                  name:
                    type:
                      - string
                      - "null"
                  image:
                    type:
                      - string
                      - "null"
                  shell:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  working_directory:
                    type:
                      - string
                      - "null"
              main:
                type:
                  - object
                  - "null"
                properties:
                  cmd:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  image:
                    type:
                      - string
                      - "null"
                  shell:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  environment:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  working_directory:
                    type:
                      - string
                      - "null"
                  TwistlockScanImage:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      composition:
                        type:
                          - object
                          - "null"
                        properties:
                          version:
                            type:
                              - string
                              - "null"
                          services:
                            type:
                              - object
                              - "null"
                            properties:
                              targetimage:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  image:
                                    type:
                                      - string
                                      - "null"
                                  labels:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      build.image.id:
                                        type:
                                          - string
                                          - "null"
                                  command:
                                    type:
                                      - string
                                      - "null"
                      composition_candidates:
                        type:
                          - object
                          - "null"
                        properties:
                          scan_service:
                            type:
                              - object
                              - "null"
                            properties:
                              image:
                                type:
                                  - string
                                  - "null"
                              command:
                                type:
                                  - string
                                  - "null"
                              volumes:
                                type:
                                  - array
                                  - "null"
                                items:
                                  type:
                                    - string
                                    - "null"
                              depends_on:
                                type:
                                  - array
                                  - "null"
                                items:
                                  type:
                                    - string
                                    - "null"
                              environment:
                                type:
                                  - array
                                  - "null"
                                items:
                                  type:
                                    - string
                                    - "null"
                      add_flow_volume_to_composition:
                        type:
                          - boolean
                          - "null"
              clone:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  git:
                    type:
                      - string
                      - "null"
                  repo:
                    type:
                      - string
                      - "null"
                  stage:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  revision:
                    type:
                      - string
                      - "null"
              first:
                type:
                  - object
                  - "null"
                properties:
                  image:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  environment:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              merge:
                type:
                  - object
                  - "null"
                properties:
                  image:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  environment:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  working_directory:
                    type:
                      - string
                      - "null"
              step1:
                type:
                  - object
                  - "null"
                properties:
                  name:
                    type:
                      - string
                      - "null"
                  image:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  environment:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              step2:
                type:
                  - object
                  - "null"
                properties:
                  name:
                    type:
                      - string
                      - "null"
                  image:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              step3:
                type:
                  - object
                  - "null"
                properties:
                  name:
                    type:
                      - string
                      - "null"
                  image:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              step4:
                type:
                  - object
                  - "null"
                properties:
                  name:
                    type:
                      - string
                      - "null"
                  when:
                    type:
                      - object
                      - "null"
                    properties:
                      condition:
                        type:
                          - object
                          - "null"
                        properties:
                          all:
                            type:
                              - object
                              - "null"
                            properties:
                              changes_exist:
                                type:
                                  - string
                                  - "null"
                  image:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              runner:
                type:
                  - object
                  - "null"
                properties:
                  image:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  environment:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              second:
                type:
                  - object
                  - "null"
                properties:
                  name:
                    type:
                      - string
                      - "null"
                  image:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  environment:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              verify:
                type:
                  - object
                  - "null"
                properties:
                  image:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  environment:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              mainbbb:
                type:
                  - object
                  - "null"
                properties:
                  name:
                    type:
                      - string
                      - "null"
                  image:
                    type:
                      - string
                      - "null"
                  services:
                    type:
                      - object
                      - "null"
                    properties:
                      name:
                        type:
                          - string
                          - "null"
                      readiness:
                        type:
                          - object
                          - "null"
                        properties:
                          image:
                            type:
                              - string
                              - "null"
                          commands:
                            type:
                              - array
                              - "null"
                            items:
                              type:
                                - string
                                - "null"
                          timeoutSeconds:
                            type:
                              - number
                              - "null"
                      composition:
                        type:
                          - object
                          - "null"
                        properties:
                          clair:
                            type:
                              - object
                              - "null"
                            properties:
                              image:
                                type:
                                  - string
                                  - "null"
                              ports:
                                type:
                                  - array
                                  - "null"
                                items:
                                  type:
                                    - string
                                    - "null"
                              restart:
                                type:
                                  - string
                                  - "null"
                              depends_on:
                                type:
                                  - array
                                  - "null"
                                items:
                                  type:
                                    - string
                                    - "null"
                          postgres:
                            type:
                              - object
                              - "null"
                            properties:
                              user:
                                type:
                                  - string
                                  - "null"
                              image:
                                type:
                                  - string
                                  - "null"
                              ports:
                                type:
                                  - array
                                  - "null"
                                items:
                                  type:
                                    - string
                                    - "null"
                  environment:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              release:
                type:
                  - object
                  - "null"
                properties:
                  git:
                    type:
                      - string
                      - "null"
                  image:
                    type:
                      - string
                      - "null"
                  shell:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  environment:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              runKyml:
                type:
                  - object
                  - "null"
                properties:
                  image:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              rollback:
                type:
                  - object
                  - "null"
                properties:
                  image:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              whereAmI:
                type:
                  - object
                  - "null"
                properties:
                  image:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              runArgoCd:
                type:
                  - object
                  - "null"
                properties:
                  image:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              main_clone:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  repo:
                    type:
                      - string
                      - "null"
                  revision:
                    type:
                      - string
                      - "null"
              next_version:
                type:
                  - object
                  - "null"
                properties:
                  image:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              runUnitTests:
                type:
                  - object
                  - "null"
                properties:
                  image:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  working_directory:
                    type:
                      - string
                      - "null"
              send-message:
                type:
                  - object
                  - "null"
                properties:
                  name:
                    type:
                      - string
                      - "null"
                  image:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  environment:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              executeArgoCd:
                type:
                  - object
                  - "null"
                properties:
                  image:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              herokuDeployer:
                type:
                  - object
                  - "null"
                properties:
                  image:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              commit_and_push:
                type:
                  - object
                  - "null"
                properties:
                  image:
                    type:
                      - string
                      - "null"
                  shell:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  environment:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              get_github_token:
                type:
                  - object
                  - "null"
                properties:
                  image:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  environment:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              create_pr_comment:
                type:
                  - object
                  - "null"
                properties:
                  image:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  environment:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              export_access_token:
                type:
                  - object
                  - "null"
                properties:
                  image:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  environment:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              get_current_version:
                type:
                  - object
                  - "null"
                properties:
                  image:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
          returns:
            type:
              - string
              - "null"
          arguments:
            type:
              - string
              - "null"
          delimiters:
            type:
              - object
              - "null"
            properties:
              left:
                type:
                  - string
                  - "null"
              right:
                type:
                  - string
                  - "null"
          stepsTemplate:
            type:
              - string
              - "null"
      metadata:
        type: object
        properties:
          version:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          icon:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              size:
                type:
                  - object
                  - "null"
                properties:
                  large:
                    type:
                      - object
                      - "null"
                    properties:
                      url:
                        type:
                          - string
                          - "null"
              color:
                type:
                  - string
                  - "null"
              background:
                type:
                  - string
                  - "null"
          name:
            type:
              - string
              - "null"
          tags:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          stage:
            type:
              - string
              - "null"
          title:
            type:
              - string
              - "null"
          latest:
            type:
              - boolean
              - "null"
          sources:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          examples:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                description:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                workflow:
                  type:
                    - object
                    - "null"
                  properties:
                    version:
                      type:
                        - string
                        - "null"
                    run:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        title:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            TAG:
                              type:
                                - string
                                - "null"
                            IMAGE:
                              type:
                                - string
                                - "null"
                            TOKEN:
                              type:
                                - string
                                - "null"
                            VALUE:
                              type:
                                - string
                                - "null"
                            KMS_KEY:
                              type:
                                - string
                                - "null"
                            NO_CACHE:
                              type:
                                - boolean
                                - "null"
                            PROTOCOL:
                              type:
                                - string
                                - "null"
                            REGISTRY:
                              type:
                                - string
                                - "null"
                            CLAIR_URL:
                              type:
                                - string
                                - "null"
                            NAMESPACE:
                              type:
                                - string
                                - "null"
                            TOKEN_URL:
                              type:
                                - string
                                - "null"
                            API_PREFIX:
                              type:
                                - string
                                - "null"
                            GCP_SA_KEY:
                              type:
                                - string
                                - "null"
                            TOKEN_TYPE:
                              type:
                                - string
                                - "null"
                            KMS_KEYRING:
                              type:
                                - string
                                - "null"
                            KMS_PROJECT:
                              type:
                                - string
                                - "null"
                            NEW_VERSION:
                              type:
                                - string
                                - "null"
                            NO_CF_CACHE:
                              type:
                                - boolean
                                - "null"
                            PIPELINE_ID:
                              type:
                                - string
                                - "null"
                            KMS_LOCATION:
                              type:
                                - string
                                - "null"
                            KUBE_CONTEXT:
                              type:
                                - string
                                - "null"
                            RESET_VOLUME:
                              type:
                                - boolean
                                - "null"
                            SERVICE_NAME:
                              type:
                                - string
                                - "null"
                            SLEEP_SECONDS:
                              type:
                                - string
                                - "null"
                            HEALTH_SECONDS:
                              type:
                                - string
                                - "null"
                            WORKING_VOLUME:
                              type:
                                - string
                                - "null"
                            DEPLOYMENT_NAME:
                              type:
                                - string
                                - "null"
                            REGISTRY_PASSWORD:
                              type:
                                - string
                                - "null"
                            REGISTRY_USERNAME:
                              type:
                                - string
                                - "null"
                            TRAFFIC_INCREMENT:
                              type:
                                - string
                                - "null"
                            SEVERITY_THRESHOLD:
                              type:
                                - string
                                - "null"
                    Push:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            tag:
                              type:
                                - string
                                - "null"
                            registry:
                              type:
                                - string
                                - "null"
                            candidate:
                              type:
                                - string
                                - "null"
                            image_name:
                              type:
                                - string
                                - "null"
                    mode:
                      type:
                        - string
                        - "null"
                    scan:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        title:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            IMAGES_LIST:
                              type:
                                - array
                                - "null"
                              items:
                                type:
                                  - string
                                  - "null"
                            GITHUB_TOKEN:
                              type:
                                - string
                                - "null"
                            SLACK_INCOMING_URL:
                              type:
                                - string
                                - "null"
                    Clone:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        title:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            git:
                              type:
                                - string
                                - "null"
                            repo:
                              type:
                                - string
                                - "null"
                            revision:
                              type:
                                - string
                                - "null"
                    build:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        tag:
                          type:
                            - string
                            - "null"
                        title:
                          type:
                            - string
                            - "null"
                        dockerfile:
                          type:
                            - string
                            - "null"
                        image_name:
                          type:
                            - string
                            - "null"
                    steps:
                      type:
                        - object
                        - "null"
                      properties:
                        mend:
                          type:
                            - object
                            - "null"
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            title:
                              type:
                                - string
                                - "null"
                            arguments:
                              type:
                                - object
                                - "null"
                              properties:
                                API_KEY:
                                  type:
                                    - string
                                    - "null"
                                CONFIG_FILE:
                                  type:
                                    - string
                                    - "null"
                                INSTALL_COMMANDS:
                                  type:
                                    - string
                                    - "null"
                                PROJECT_DIRECTORY:
                                  type:
                                    - string
                                    - "null"
                        clone:
                          type:
                            - object
                            - "null"
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            git:
                              type:
                                - string
                                - "null"
                            repo:
                              type:
                                - string
                                - "null"
                            title:
                              type:
                                - string
                                - "null"
                        sleep:
                          type:
                            - object
                            - "null"
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            title:
                              type:
                                - string
                                - "null"
                            arguments:
                              type:
                                - object
                                - "null"
                              properties:
                                time:
                                  type:
                                    - number
                                    - "null"
                        deploy:
                          type:
                            - object
                            - "null"
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            arguments:
                              type:
                                - object
                                - "null"
                              properties:
                                action:
                                  type:
                                    - string
                                    - "null"
                                COMMANDS:
                                  type:
                                    - string
                                    - "null"
                                chart_name:
                                  type:
                                    - string
                                    - "null"
                                ENVIRONMENT:
                                  type:
                                    - string
                                    - "null"
                                KUBE_CONTEXT:
                                  type:
                                    - string
                                    - "null"
                                helm_version:
                                  type:
                                    - string
                                    - "null"
                                kube_context:
                                  type:
                                    - string
                                    - "null"
                                release_name:
                                  type:
                                    - string
                                    - "null"
                                WORKING_DIRECTORY:
                                  type:
                                    - string
                                    - "null"
                        iac_scan:
                          type:
                            - object
                            - "null"
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            title:
                              type:
                                - string
                                - "null"
                            arguments:
                              type:
                                - object
                                - "null"
                              properties:
                                PASSWORD:
                                  type:
                                    - string
                                    - "null"
                                USERNAME:
                                  type:
                                    - string
                                    - "null"
                                SOURCE_FILE:
                                  type:
                                    - string
                                    - "null"
                                APPLICATIONS:
                                  type:
                                    - string
                                    - "null"
                                IS_TERRAFORM:
                                  type:
                                    - boolean
                                    - "null"
                        run_kics:
                          type:
                            - object
                            - "null"
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            title:
                              type:
                                - string
                                - "null"
                            arguments:
                              type:
                                - object
                                - "null"
                              properties:
                                TYPES:
                                  type:
                                    - string
                                    - "null"
                                VERBOSE:
                                  type:
                                    - boolean
                                    - "null"
                                LOG_LEVEL:
                                  type:
                                    - string
                                    - "null"
                                OUTPUT_PATH:
                                  type:
                                    - string
                                    - "null"
                                PAYLOAD_PATH:
                                  type:
                                    - string
                                    - "null"
                                PROJECT_PATH:
                                  type:
                                    - string
                                    - "null"
                                QUERIES_PATH:
                                  type:
                                    - string
                                    - "null"
                                EXCLUDE_PATHS:
                                  type:
                                    - string
                                    - "null"
                                IGNORE_ON_EXIT:
                                  type:
                                    - string
                                    - "null"
                                OUTPUT_FORMATS:
                                  type:
                                    - string
                                    - "null"
                                EXCLUDE_RESULTS:
                                  type:
                                    - string
                                    - "null"
                                EXCLUDE_CATEGORIES:
                                  type:
                                    - string
                                    - "null"
                                SECRETS_REGEXES_PATH:
                                  type:
                                    - string
                                    - "null"
                        security:
                          type:
                            - object
                            - "null"
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            title:
                              type:
                                - string
                                - "null"
                            arguments:
                              type:
                                - object
                                - "null"
                              properties:
                                OBJECT_DIR:
                                  type:
                                    - string
                                    - "null"
                                OCTARINE_ACCOUNT:
                                  type:
                                    - string
                                    - "null"
                                OCTARINE_API_HOST:
                                  type:
                                    - string
                                    - "null"
                                OCTARINE_SESSION_ID:
                                  type:
                                    - string
                                    - "null"
                                OCTARINE_SESSION_ACCESSJWT:
                                  type:
                                    - string
                                    - "null"
                        SendEmail:
                          type:
                            - object
                            - "null"
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            title:
                              type:
                                - string
                                - "null"
                            arguments:
                              type:
                                - object
                                - "null"
                              properties:
                                TO:
                                  type:
                                    - string
                                    - "null"
                                BODY:
                                  type:
                                    - string
                                    - "null"
                                FROM:
                                  type:
                                    - string
                                    - "null"
                                PORT:
                                  type:
                                    - string
                                    - "null"
                                SERVER:
                                  type:
                                    - string
                                    - "null"
                                SUBJECT:
                                  type:
                                    - string
                                    - "null"
                        github-pr:
                          type:
                            - object
                            - "null"
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            arguments:
                              type:
                                - object
                                - "null"
                              properties:
[...]
