version: 5.14.0

type: DeclarativeSource

description: >-
  This connector integrates Codefresh with Airbyte, enabling seamless data
  synchronization for analytics and pipeline monitoring. It provides streams
  like agents, builds, audit, analytics etc.

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  streams:
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - _id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts/{{ config["account_id"] }}/users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"
    account_settings:
      type: DeclarativeStream
      name: account_settings
      primary_key:
        - _id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /account-settings
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/account_settings"
    agents:
      type: DeclarativeStream
      name: agents
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /agents
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/agents"
    builds:
      type: DeclarativeStream
      name: builds
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /workflow
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - workflows
              - docs
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 12
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: "{{ config['startdate'] }}"
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: "{{ config['enddate'] }}"
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/builds"
    audit:
      type: DeclarativeStream
      name: audit
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /audit
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: createdAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: "{{ config['from'] }}"
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: "{{ config['to'] }}"
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/audit"
    analytics_metadata:
      type: DeclarativeStream
      name: analytics_metadata
      primary_key:
        - reportName
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/metadata
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - reports
              - "*"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_metadata"
    analytics_reports:
      type: DeclarativeStream
      name: analytics_reports
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/reports/{{ config['report_name'] }}
          http_method: GET
          request_parameters:
            dateRange: "{{ config[\"report_date_range\"] }}"
            granularity: "{{ config[\"report_granularity\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 10
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_reports"
    execution_contexts:
      type: DeclarativeStream
      name: execution_contexts
      primary_key:
        - _id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /execution-contexts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - docs
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 10
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/execution_contexts"
    contexts:
      type: DeclarativeStream
      name: contexts
      primary_key:
        - metadata
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /contexts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contexts"
    views:
      type: DeclarativeStream
      name: views
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /views/
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/views"
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /projects
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - projects
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 10
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    pipelines:
      type: DeclarativeStream
      name: pipelines
      primary_key:
        - metadata
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /pipelines
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - docs
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/pipelines"
    step_types:
      type: DeclarativeStream
      name: step_types
      primary_key:
        - metadata
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /step-types
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - docs
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 10
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/step_types"
    environments:
      type: DeclarativeStream
      name: environments
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /environments-v2
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 10
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/environments"
    helm_repos:
      type: DeclarativeStream
      name: helm_repos
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /helm/repos
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/helm_repos"
  base_requester:
    type: HttpRequester
    url_base: https://g.codefresh.io/api
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: Authorization
        inject_into: header

streams:
  - $ref: "#/definitions/streams/accounts"
  - $ref: "#/definitions/streams/account_settings"
  - $ref: "#/definitions/streams/agents"
  - $ref: "#/definitions/streams/builds"
  - $ref: "#/definitions/streams/audit"
  - $ref: "#/definitions/streams/analytics_metadata"
  - $ref: "#/definitions/streams/analytics_reports"
  - $ref: "#/definitions/streams/execution_contexts"
  - $ref: "#/definitions/streams/contexts"
  - $ref: "#/definitions/streams/views"
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/pipelines"
  - $ref: "#/definitions/streams/step_types"
  - $ref: "#/definitions/streams/environments"
  - $ref: "#/definitions/streams/helm_repos"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - account_id
      - report_name
      - report_granularity
      - report_date_range
      - start_date
      - from
      - to
      - startdate
      - enddate
    properties:
      api_key:
        type: string
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
      account_id:
        type: string
        order: 1
        title: Account Id
        airbyte_secret: true
      report_name:
        type: string
        order: 2
        title: Report Name
      report_granularity:
        type: string
        order: 3
        title: Report Granularity
      report_date_range:
        type: array
        order: 4
        title: Report Date Range
      start_date:
        type: string
        order: 5
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      from:
        type: integer
        order: 6
        title: From
      to:
        type: string
        order: 7
        title: To
      startdate:
        type: string
        order: 8
        title: startDate
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
      enddate:
        type: string
        order: 9
        title: endDate
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
    additionalProperties: true

metadata:
  autoImportSchema:
    accounts: true
    account_settings: true
    agents: true
    builds: true
    audit: true
    analytics_metadata: true
    analytics_reports: true
    execution_contexts: true
    contexts: true
    views: true
    projects: true
    pipelines: true
    step_types: true
    environments: true
    helm_repos: true
  testedStreams:
    accounts:
      hasRecords: true
      streamHash: 251a332abde699ac1074c3070cd8a86685e3b04a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    account_settings:
      hasRecords: true
      streamHash: f5c687d00ff0641fba86bcba02c90d289697981f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    agents:
      streamHash: d399035f8b338b152129e3c9c9e02fd9a04a75a6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    builds:
      streamHash: 93cd9abc36f401487582b6bf48dc3a4563d5bbb2
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    audit:
      streamHash: 5ac0e717b66f393671fd1e2629c0005debeb623e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    analytics_metadata:
      hasRecords: true
      streamHash: ff842881e58b1b3d0804cf2d2f943b5dab7f0bb7
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_reports:
      hasRecords: true
      streamHash: 610b7bef4720541041ff7ead897aa647f3b704ec
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    execution_contexts:
      hasRecords: true
      streamHash: 9bcd219ba8c28929a2446f7bc97362db31234bff
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    contexts:
      streamHash: 6d656c8e99f1a3984d9d1643b970f517f12fb87e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    views:
      streamHash: 3eb9c444fc4d7bf9e055777a23d4fe2835822cbf
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    projects:
      streamHash: 2df82352011fae452f8e589a0b7a50a081e29041
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    pipelines:
      streamHash: 743a60270436211838bff4e504824434755a0705
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    step_types:
      streamHash: 3e09c72c953fd5f678094b00e74952a53ab954b1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    environments:
      hasRecords: true
      streamHash: 7dfbf51f3ecac92c6ef2f5bf1e98ca233eaed3f6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    helm_repos:
      hasRecords: true
      streamHash: 49c545f871d863c8c8ec2575123a9ff750605438
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist:
    docsUrl: https://g.codefresh.io/api/

schemas:
  accounts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      _id:
        type: string
      account:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      defaultAccount:
        type:
          - number
          - "null"
      email:
        type:
          - string
          - "null"
      gitOpsSettings:
        type:
          - array
          - "null"
      hasPassword:
        type:
          - boolean
          - "null"
      last_login_date:
        type:
          - string
          - "null"
      logins:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            idp:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
            permissions:
              type:
                - array
                - "null"
            personalGit:
              type:
                - boolean
                - "null"
            userId:
              type:
                - string
                - "null"
            userName:
              type:
                - string
                - "null"
      notificationEmail:
        type:
          - string
          - "null"
      notifications:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            events:
              type:
                - array
                - "null"
      register_date:
        type:
          - string
          - "null"
      roles:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      settings:
        type:
          - object
          - "null"
        properties:
          allowAdminToLogin:
            type:
              - boolean
              - "null"
          dateFormat:
            type:
              - string
              - "null"
          displayWelcomeScreen:
            type:
              - boolean
              - "null"
          filterInaccessibleKubernetes:
            type:
              - boolean
              - "null"
          sendWeeklyReport:
            type:
              - boolean
              - "null"
          theme:
            type:
              - string
              - "null"
          timeFormat:
            type:
              - string
              - "null"
      shortProfile:
        type:
          - object
          - "null"
        properties:
          userName:
            type:
              - string
              - "null"
      status:
        type:
          - string
          - "null"
      userName:
        type:
          - string
          - "null"
      user_data:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          emails:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          image:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
    required:
      - _id
  account_settings:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      __v:
        type:
          - number
          - "null"
      _id:
        type: string
      createdAt:
        type:
          - string
          - "null"
      schemaVersion:
        type:
          - string
          - "null"
      settings:
        type:
          - object
          - "null"
        properties:
          modules:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - _id
  agents:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      runtimes:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      status:
        type:
          - object
          - "null"
        properties:
          healthStatus:
            type:
              - string
              - "null"
          message:
            type:
              - string
              - "null"
          reportedAt:
            type:
              - string
              - "null"
      tokenName:
        type:
          - string
          - "null"
    required:
      - id
  builds:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account:
        type:
          - string
          - "null"
      annotations:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            annotationId:
              type:
                - string
                - "null"
            display:
              type:
                - boolean
                - "null"
            key:
              type:
                - string
                - "null"
            updatedAt:
              type:
                - string
                - "null"
            value:
              type:
                - string
                - "null"
      autoGeneratedYaml:
        type:
          - boolean
          - "null"
      branchName:
        type:
          - string
          - "null"
      branchURL:
        type:
          - string
          - "null"
      buildStrategy:
        type:
          - string
          - "null"
      commitMessage:
        type:
          - string
          - "null"
      commitURL:
        type:
          - string
          - "null"
      committer:
        type:
          - string
          - "null"
      committerAvatar:
        type:
          - string
          - "null"
      created:
        type: string
      delayed:
        type:
          - number
          - "null"
      event:
        type:
          - string
          - "null"
      eventLabel:
        type:
          - string
          - "null"
      eventName:
        type:
          - string
          - "null"
      exportedVariables:
        type:
          - object
          - "null"
      exposedVariables:
        type:
          - object
          - "null"
        properties:
          pipeline:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                key:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - number
                    - string
                    - "null"
          pipelineTrigger:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                key:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - string
                    - "null"
          pipelineTriggerShared:
            type:
              - array
              - "null"
          project:
            type:
              - array
              - "null"
          shared:
            type:
              - array
              - "null"
      finalWorkflowYaml:
        type:
          - string
          - "null"
      finished:
        type:
          - string
          - "null"
      hasExtendedYaml:
        type:
          - boolean
          - "null"
      hasImplicitGitCloneStep:
        type:
          - boolean
          - "null"
      id:
        type: string
      initiator:
        type:
          - string
          - "null"
      initiatorAvatar:
        type:
          - string
          - "null"
      keepPVCsForPendingApproval:
        type:
          - boolean
          - "null"
      packId:
        type:
          - string
          - "null"
      pendingApprovalConcurrencyApplied:
        type:
          - boolean
          - "null"
      pendingApprovals:
        type:
          - array
          - "null"
      pendingLicense:
        type:
          - boolean
          - "null"
      pendingReason:
        type:
          - string
          - "null"
      permitRestartFromFailedSteps:
        type:
          - boolean
          - "null"
      pipelineName:
        type:
          - string
          - "null"
      pipelineTriggerId:
        type:
          - string
          - "null"
      pipelineTriggerName:
        type:
          - string
          - "null"
      progress:
        type:
          - string
          - "null"
      project:
        type:
          - string
          - "null"
      projectId:
        type:
          - string
          - "null"
      provider:
        type:
          - string
          - "null"
      repoName:
        type:
          - string
          - "null"
      repoOwner:
        type:
          - string
          - "null"
      repoURL:
        type:
          - string
          - "null"
      request:
        type:
          - string
          - "null"
      revision:
        type:
          - string
          - "null"
      runtime:
        type:
          - object
          - "null"
        properties:
          schedulerConfig:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
      serviceId:
        type:
          - string
          - "null"
      serviceName:
        type:
          - string
          - "null"
      started:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      steps:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      systemEvents:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            _id:
              type:
                - string
                - "null"
            kind:
              type:
                - string
                - "null"
            message:
              type:
                - string
                - "null"
            retriable:
              type:
                - boolean
                - "null"
            step:
              type:
                - string
                - "null"
            stepKind:
              type:
                - string
                - "null"
            stepName:
              type:
                - string
                - "null"
      terminationRequest:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            _id:
              type:
                - string
                - "null"
            byBuildManager:
              type:
                - boolean
                - "null"
            cause:
              type:
                - string
                - "null"
            date:
              type:
                - string
                - "null"
            message:
              type:
                - string
                - "null"
            workflowStatus:
              type:
                - string
                - "null"
      trigger:
        type:
          - string
          - "null"
      triggerType:
        type:
          - string
          - "null"
      triggeredBy:
        type:
          - string
          - "null"
      triggersCount:
        type:
          - number
          - "null"
      useDebugger:
        type:
          - boolean
          - "null"
      userYamlDescriptor:
        type:
          - string
          - "null"
      webhookTriggered:
        type:
          - boolean
          - "null"
    required:
      - id
      - created
  audit:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      accountId:
        type:
          - string
          - "null"
      action:
        type:
          - string
          - "null"
      correlationId:
        type:
          - string
          - "null"
      createdAt:
        type: string
      entity:
        type:
          - string
          - "null"
      entityId:
        type:
          - string
          - "null"
      entityName:
        type:
          - string
          - "null"
      id:
        type: number
      ip:
        type:
          - string
          - "null"
      req_body:
        type:
          - string
          - "null"
      req_params:
        type:
          - string
          - "null"
      req_query:
        type:
          - string
          - "null"
      req_url:
        type:
          - string
          - "null"
      res_body:
        type:
          - string
          - "null"
      rs_status:
        type:
          - number
          - "null"
      userEmail:
        type:
          - string
          - "null"
      userId:
        type:
          - string
          - "null"
      userName:
        type:
          - string
          - "null"
    required:
      - id
      - createdAt
  analytics_metadata:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      filters:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            description:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      mandatoryNonUserFilters:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            member:
              type:
                - string
                - "null"
            operator:
              type:
                - string
                - "null"
      members:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            name:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
      reportName:
        type: string
      supportedTimeDimensions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            granularity:
              type:
                - string
                - "null"
            maxDateRangeInterval:
              type:
                - string
                - "null"
            minDateRangeInterval:
              type:
                - string
                - "null"
    required:
      - reportName
  analytics_reports:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            key:
              type:
                - string
                - "null"
            time:
              type:
                - string
                - "null"
            value:
              type:
                - number
                - string
                - "null"
      timeDimensions:
        type:
          - object
          - "null"
        properties:
          dateRange:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          granularity:
            type:
              - string
              - "null"
  execution_contexts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      __v:
        type:
          - number
          - "null"
      _id:
        type: string
      account:
        type:
          - string
          - "null"
      accountDefault:
        type:
          - boolean
          - "null"
      createdAt:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - _id
  contexts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      spec:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          data:
            type:
              - object
              - "null"
            properties:
              auth:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  idpId:
                    type:
                      - string
                      - "null"
                  password:
                    type:
                      - string
                      - "null"
                  permissions:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              repositoryUrl:
                type:
                  - string
                  - "null"
              secretStoreReferences:
                type:
                  - array
                  - "null"
              sharingPolicy:
                type:
                  - string
                  - "null"
      metadata:
        type: object
        properties:
          default:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          system:
            type:
              - boolean
              - "null"
      apiVersion:
        type:
          - string
          - "null"
      kind:
        type:
          - string
          - "null"
      owner:
        type:
          - string
          - "null"
    required:
      - metadata
  views:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      docs:
        type:
          - array
          - "null"
      limit:
        type:
          - number
          - "null"
      offset:
        type:
          - number
          - "null"
      page:
        type:
          - number
          - "null"
      pages:
        type:
          - number
          - "null"
      total:
        type:
          - number
          - "null"
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      metadata:
        type:
          - object
          - "null"
        properties:
          createdAt:
            type:
              - string
              - "null"
      accountId:
        type:
          - string
          - "null"
      favorite:
        type:
          - boolean
          - "null"
      id:
        type: string
      image:
        type:
          - string
          - "null"
      pipelinesNumber:
        type:
          - number
          - "null"
      projectName:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      updatedAt:
        type:
          - string
          - "null"
      variables:
        type:
          - array
          - "null"
    required:
      - id
  pipelines:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type:
          - string
          - "null"
      spec:
        type:
          - object
          - "null"
        properties:
          contexts:
            type:
              - array
              - "null"
          externalResources:
            type:
              - array
              - "null"
          runtimeEnvironment:
            type:
              - object
              - "null"
            properties:
              cpu:
                type:
                  - string
                  - "null"
              memory:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          stages:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          steps:
            type:
              - object
              - "null"
            properties:
              build:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  dockerfile:
                    type:
                      - string
                      - "null"
                  image_name:
                    type:
                      - string
                      - "null"
                  stage:
                    type:
                      - string
                      - "null"
                  tag:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  working_directory:
                    type:
                      - string
                      - "null"
              clone:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  git:
                    type:
                      - string
                      - "null"
                  repo:
                    type:
                      - string
                      - "null"
                  revision:
                    type:
                      - string
                      - "null"
                  stage:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
              test:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  image:
                    type:
                      - string
                      - "null"
                  stage:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
                  working_directory:
                    type:
                      - string
                      - "null"
          terminationPolicy:
            type:
              - array
              - "null"
          triggers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                branchRegex:
                  type:
                    - string
                    - "null"
                branchRegexInput:
                  type:
                    - string
                    - "null"
                commentRegex:
                  type:
                    - string
                    - "null"
                context:
                  type:
                    - string
                    - "null"
                contexts:
                  type:
                    - array
                    - "null"
                disabled:
                  type:
                    - boolean
                    - "null"
                events:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - string
                      - "null"
                gerritCIStatusLabels:
                  type:
                    - array
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                lastExecutionDate:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                options:
                  type:
                    - object
                    - "null"
                  properties:
                    noCache:
                      type:
                        - boolean
                        - "null"
                    noCfCache:
                      type:
                        - boolean
                        - "null"
                    resetVolume:
                      type:
                        - boolean
                        - "null"
                provider:
                  type:
                    - string
                    - "null"
                pullRequestAllowForkEvents:
                  type:
                    - boolean
                    - "null"
                repo:
                  type:
                    - string
                    - "null"
                status:
                  type:
                    - string
                    - "null"
                verified:
                  type:
                    - boolean
                    - "null"
          variables:
            type:
              - array
              - "null"
      metadata:
        type: object
        properties:
          accountId:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          deprecate:
            type:
              - object
              - "null"
          id:
            type:
              - string
              - "null"
          labels:
            type:
              - object
              - "null"
            properties:
              tags:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          name:
            type:
              - string
              - "null"
          originalYamlString:
            type:
              - string
              - "null"
          project:
            type:
              - string
              - "null"
          projectId:
            type:
              - string
              - "null"
          revision:
            type:
              - number
              - "null"
          shortName:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
      kind:
        type:
          - string
          - "null"
      last_executed:
        type:
          - string
          - "null"
    required:
      - metadata
  step_types:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type:
          - string
          - "null"
      spec:
        type:
          - object
          - "null"
        properties:
          arguments:
            type:
              - string
              - "null"
          delimiters:
            type:
              - object
              - "null"
            properties:
              left:
                type:
                  - string
                  - "null"
              right:
                type:
                  - string
                  - "null"
          returns:
            type:
              - string
              - "null"
          steps:
            type:
              - object
              - "null"
            properties:
              commit_and_push:
                type:
                  - object
                  - "null"
                properties:
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  environment:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  image:
                    type:
                      - string
                      - "null"
                  shell:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
              executeArgoCd:
                type:
                  - object
                  - "null"
                properties:
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  image:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
              export_access_token:
                type:
                  - object
                  - "null"
                properties:
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  environment:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  image:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
              first:
                type:
                  - object
                  - "null"
                properties:
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  environment:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  image:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
              main:
                type:
                  - object
                  - "null"
                properties:
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  environment:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  image:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  shell:
                    type:
                      - string
                      - "null"
                  working_directory:
                    type:
                      - string
                      - "null"
              rollback:
                type:
                  - object
                  - "null"
                properties:
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  image:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
              runArgoCd:
                type:
                  - object
                  - "null"
                properties:
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  image:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
              runner:
                type:
                  - object
                  - "null"
                properties:
                  environment:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  image:
                    type:
                      - string
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
              second:
                type:
                  - object
                  - "null"
                properties:
                  commands:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  environment:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  image:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
          stepsTemplate:
            type:
              - string
              - "null"
      metadata:
        type: object
        properties:
          version:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          categories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          created_at:
            type:
              - string
              - "null"
          examples:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                description:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                workflow:
                  type:
                    - object
                    - "null"
                  properties:
                    version:
                      type:
                        - string
                        - "null"
                    Approve:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        timeout:
                          type:
                            - object
                            - "null"
                          properties:
                            duration:
                              type:
                                - number
                                - "null"
                            finalState:
                              type:
                                - string
                                - "null"
                        title:
                          type:
                            - string
                            - "null"
                    Clone:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            git:
                              type:
                                - string
                                - "null"
                            repo:
                              type:
                                - string
                                - "null"
                            revision:
                              type:
                                - string
                                - "null"
                        title:
                          type:
                            - string
                            - "null"
                    Composition:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            composition:
                              type:
                                - object
                                - "null"
                              properties:
                                version:
                                  type:
                                    - string
                                    - "null"
                                services:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    db:
                                      type:
                                        - object
                                        - "null"
                                      properties:
                                        image:
                                          type:
                                            - string
                                            - "null"
                            composition_candidates:
                              type:
                                - object
                                - "null"
                              properties:
                                test_service:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    command:
                                      type:
                                        - string
                                        - "null"
                                    environment:
                                      type:
                                        - array
                                        - "null"
                                      items:
                                        type:
                                          - string
                                          - "null"
                                    image:
                                      type:
                                        - string
                                        - "null"
                                    working_dir:
                                      type:
                                        - string
                                        - "null"
                        title:
                          type:
                            - string
                            - "null"
                    ConformCompositionYAML:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            CONFORM_COMPOSITION:
                              type:
                                - boolean
                                - "null"
                            DIRECTORY:
                              type:
                                - string
                                - "null"
                            YAMLFILE:
                              type:
                                - string
                                - "null"
                    CreateApplicationSetRunlist:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            APPLICATIONSET_FILE:
                              type:
                                - string
                                - "null"
                            PIPELINE:
                              type:
                                - string
                                - "null"
                            RUNLIST_FILE:
                              type:
                                - string
                                - "null"
                            SHA:
                              type:
                                - string
                                - "null"
                            TRIGGER:
                              type:
                                - string
                                - "null"
                    CreateDeploymentEvent:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            API_TOKEN:
                              type:
                                - string
                                - "null"
                            DEPLOYMENT_NAME:
                              type:
                                - string
                                - "null"
                            DEPLOYMENT_PROJECT:
                              type:
                                - string
                                - "null"
                            DEPLOYMENT_VERSION:
                              type:
                                - string
                                - "null"
                            DYNATRACE_ENVIRONMENT_ID:
                              type:
                                - string
                                - "null"
                            ENTITYIDS:
                              type:
                                - string
                                - "null"
                            EVENT_TYPE:
                              type:
                                - string
                                - "null"
                    CreateErrorEvent:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            API_TOKEN:
                              type:
                                - string
                                - "null"
                            DESCRIPTION:
                              type:
                                - string
                                - "null"
                            DYNATRACE_ENVIRONMENT_ID:
                              type:
                                - string
                                - "null"
                            ENTITYIDS:
                              type:
                                - string
                                - "null"
                            EVENT_TYPE:
                              type:
                                - string
                                - "null"
                            SOURCE:
                              type:
                                - string
                                - "null"
                            TITLE:
                              type:
                                - string
                                - "null"
                    CreateIncident:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            API_TOKEN:
                              type:
                                - string
                                - "null"
                            ASSIGNEE_USER_ID:
                              type:
                                - string
                                - "null"
                            FROM_EMAIL:
                              type:
                                - string
                                - "null"
                            PAGERDUTY_ALERT_TYPE:
                              type:
                                - string
                                - "null"
                            SERVICE_ID:
                              type:
                                - string
                                - "null"
                            TITLE:
                              type:
                                - string
                                - "null"
                    Deploy:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            cluster:
                              type:
                                - string
                                - "null"
                            kind:
                              type:
                                - string
                                - "null"
                            namespace:
                              type:
                                - string
                                - "null"
                            service:
                              type:
                                - string
                                - "null"
                        title:
                          type:
                            - string
                            - "null"
                    Docker-Build:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            image_name:
                              type:
                                - string
                                - "null"
                            tag:
                              type:
                                - string
                                - "null"
                        title:
                          type:
                            - string
                            - "null"
                        working_directory:
                          type:
                            - string
                            - "null"
                    DockerImageScan:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            GOOGLE_SA_JSON_BASE64:
                              type:
                                - string
                                - "null"
                            IMAGE:
                              type:
                                - string
                                - "null"
                            THRESHOLD:
                              type:
                                - string
                                - "null"
                    EditYAMLFile:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            DIRECTORY:
                              type:
                                - string
                                - "null"
                            KEYVALUE_PAIRS:
                              type:
                                - array
                                - "null"
                              items:
                                type:
                                  - string
                                  - "null"
                            KEY_SETS:
                              type:
                                - array
                                - "null"
                              items:
                                type:
                                  - string
                                  - "null"
                            YAMLFILE:
                              type:
                                - string
                                - "null"
                    FetchSecrets:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            AWS_ACCESS_KEY_ID:
                              type:
                                - string
                                - "null"
                            AWS_DEFAULT_REGION:
                              type:
                                - string
                                - "null"
                            AWS_IAM_ROLE_ARN:
                              type:
                                - string
                                - "null"
                            AWS_SECRET_ACCESS_KEY:
                              type:
                                - string
                                - "null"
                            secrets:
                              type:
                                - array
                                - "null"
                              items:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  key:
                                    type:
                                      - string
                                      - "null"
                                  secret_arn:
                                    type:
                                      - string
                                      - "null"
                                  store_in:
                                    type:
                                      - string
                                      - "null"
                        title:
                          type:
                            - string
                            - "null"
                    Freestyle:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            CF_API_KEY:
                              type:
                                - string
                                - "null"
                            GOOGLE_BUCKET_NAME:
                              type:
                                - string
                                - "null"
                            GOOGLE_STORAGE:
                              type:
                                - string
                                - "null"
                            commands:
                              type:
                                - array
                                - "null"
                              items:
                                type:
                                  - string
                                  - "null"
                            image:
                              type:
                                - string
                                - "null"
                        title:
                          type:
                            - string
                            - "null"
                        working_directory:
                          type:
                            - string
                            - "null"
                    GCBuild:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            image_name:
                              type:
                                - string
                                - "null"
                            provider:
                              type:
                                - object
                                - "null"
                              properties:
                                type:
                                  type:
                                    - string
                                    - "null"
                                arguments:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    cache:
                                      type:
                                        - object
                                        - "null"
                                      properties:
                                        repo:
                                          type:
                                            - string
                                            - "null"
                                        ttl:
                                          type:
                                            - string
                                            - "null"
                                    diskSizeGb:
                                      type:
                                        - number
                                        - "null"
                                    google_app_creds:
                                      type:
                                        - string
                                        - "null"
                                    logsBucket:
                                      type:
                                        - string
                                        - "null"
                                    machineType:
                                      type:
                                        - string
                                        - "null"
                                    timeout:
                                      type:
                                        - string
                                        - "null"
                            tag:
                              type:
                                - string
                                - "null"
                        title:
                          type:
                            - string
                            - "null"
                        working_directory:
                          type:
                            - string
                            - "null"
                    ImportAnnotationsFromLastSuccessfulBuildOfPipeline:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            PIPELINENAME:
                              type:
                                - string
                                - "null"
                            PREFIX:
                              type:
                                - string
                                - "null"
                    ImportBuildAnnotations:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            ENTITY:
                              type:
                                - string
                                - "null"
                            ENTITY_TYPE:
                              type:
                                - string
                                - "null"
                            PREFIX:
                              type:
                                - string
                                - "null"
                    ImportDockerImageAnnotations:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            ENTITY:
                              type:
                                - string
                                - "null"
                            ENTITY_TYPE:
                              type:
                                - string
                                - "null"
                            PREFIX:
                              type:
                                - string
                                - "null"
                    JiraCommentCreate:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            ACTION:
                              type:
                                - string
                                - "null"
                            COMMENT_BODY:
                              type:
                                - string
                                - "null"
                            JIRA_API_KEY:
                              type:
                                - string
                                - "null"
                            JIRA_BASE_URL:
                              type:
                                - string
                                - "null"
                            JIRA_ISSUE_SOURCE_FIELD:
                              type:
                                - string
                                - "null"
                            JIRA_USERNAME:
                              type:
                                - string
                                - "null"
                        title:
                          type:
                            - string
                            - "null"
                    JiraCommentUpdate:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            ACTION:
                              type:
                                - string
                                - "null"
                            COMMENT_BODY:
                              type:
                                - string
                                - "null"
                            JIRA_API_KEY:
                              type:
                                - string
                                - "null"
                            JIRA_BASE_URL:
                              type:
                                - string
                                - "null"
                            JIRA_COMMENT_ID:
                              type:
                                - string
                                - "null"
                            JIRA_ISSUE_SOURCE_FIELD:
                              type:
                                - string
                                - "null"
                            JIRA_USERNAME:
                              type:
                                - string
                                - "null"
                        title:
                          type:
                            - string
                            - "null"
                    JiraIssueCreate:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            ACTION:
                              type:
                                - string
                                - "null"
                            ISSUE_COMPONENTS:
                              type:
                                - string
                                - "null"
                            ISSUE_CUSTOMFIELDS:
                              type:
                                - array
                                - "null"
                              items:
                                type:
                                  - string
                                  - "null"
                            ISSUE_DESCRIPTION:
                              type:
                                - string
                                - "null"
                            ISSUE_PROJECT:
                              type:
                                - string
                                - "null"
                            ISSUE_SUMMARY:
                              type:
                                - string
                                - "null"
                            ISSUE_TYPE:
                              type:
                                - string
                                - "null"
                            JIRA_API_KEY:
                              type:
                                - string
                                - "null"
                            JIRA_BASE_URL:
                              type:
                                - string
                                - "null"
                            JIRA_USERNAME:
                              type:
                                - string
                                - "null"
                        title:
                          type:
                            - string
                            - "null"
                    JiraIssueTransitionStatus:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            ACTION:
                              type:
                                - string
                                - "null"
                            DESIRED_ISSUE_STATUS:
                              type:
                                - string
                                - "null"
                            JIRA_API_KEY:
                              type:
                                - string
                                - "null"
                            JIRA_BASE_URL:
                              type:
                                - string
                                - "null"
                            JIRA_ISSUE_SOURCE_FIELD:
                              type:
                                - string
                                - "null"
                            JIRA_USERNAME:
                              type:
                                - string
                                - "null"
                            VERBOSE:
                              type:
                                - boolean
                                - "null"
                        title:
                          type:
                            - string
                            - "null"
                    JiraIssueTransitionStatusAndUpdate:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            ACTION:
                              type:
                                - string
                                - "null"
                            DESIRED_ISSUE_STATUS:
                              type:
                                - string
                                - "null"
                            ISSUE_DESCRIPTION:
                              type:
                                - string
                                - "null"
                            JIRA_API_KEY:
                              type:
                                - string
                                - "null"
                            JIRA_BASE_URL:
                              type:
                                - string
                                - "null"
                            JIRA_ISSUE_SOURCE_FIELD:
                              type:
                                - string
                                - "null"
                            JIRA_USERNAME:
                              type:
                                - string
                                - "null"
                            VERBOSE:
                              type:
                                - boolean
                                - "null"
                        title:
                          type:
                            - string
                            - "null"
                    JiraIssueUpdate:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            ACTION:
                              type:
                                - string
                                - "null"
                            ISSUE_COMPONENTS:
                              type:
                                - string
                                - "null"
                            ISSUE_DESCRIPTION:
                              type:
                                - string
                                - "null"
                            ISSUE_SUMMARY:
                              type:
                                - string
                                - "null"
                            ISSUE_TYPE:
                              type:
                                - string
                                - "null"
                            JIRA_API_KEY:
                              type:
                                - string
                                - "null"
                            JIRA_BASE_URL:
                              type:
                                - string
                                - "null"
                            JIRA_ISSUE_SOURCE_FIELD:
                              type:
                                - string
                                - "null"
                            JIRA_USERNAME:
                              type:
                                - string
                                - "null"
                        title:
                          type:
                            - string
                            - "null"
                    JiraIssueUpdateAllFromJQL:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            ACTION:
                              type:
                                - string
                                - "null"
                            ISSUE_COMPONENTS:
                              type:
                                - string
                                - "null"
                            ISSUE_DESCRIPTION:
                              type:
                                - string
                                - "null"
                            ISSUE_TYPE:
                              type:
                                - string
                                - "null"
                            JIRA_API_KEY:
                              type:
                                - string
                                - "null"
                            JIRA_BASE_URL:
                              type:
                                - string
                                - "null"
                            JIRA_USERNAME:
                              type:
                                - string
                                - "null"
                            JQL_QUERY:
                              type:
                                - string
                                - "null"
                            JQL_QUERY_MAX_RESULTS:
                              type:
                                - string
                                - "null"
                        title:
                          type:
                            - string
                            - "null"
                    JiraIssueVerifyStatus:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        arguments:
                          type:
                            - object
                            - "null"
                          properties:
                            ACTION:
                              type:
                                - string
                                - "null"
                            DESIRED_ISSUE_STATUS:
                              type:
                                - string
                                - "null"
                            JIRA_API_KEY:
                              type:
                                - string
                                - "null"
                            JIRA_BASE_URL:
                              type:
                                - string
                                - "null"
                            JIRA_ISSUE_SOURCE_FIELD:
                              type:
                                - string
                                - "null"
                            JIRA_USERNAME:
                              type:
                                - string
                                - "null"
                        title:
                          type:
                            - string
                            - "null"
                    JiraIssueVerifyStatusAllFromJQL:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
[...]
