.leftPanelStyle {
  min-width: 200px;
  position: relative;
}

.darkOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: #1a194d;
  opacity: 0.9;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 400px 30px 30px 30px;
}

.noScroll {
  overflow: hidden;
  max-height: 100%;
}

.fullHeight {
  height: 100%;
}
