@use "scss/colors";
@use "scss/variables";

.container {
  min-height: 100vh;
  padding-bottom: 40px;
  background-color: colors.$white;
}

.content {
  padding: 0 35px;
}

.stepsContainer {
  padding-top: variables.$spacing-lg;
  padding-left: variables.$spacing-lg;
}
