@use "scss/colors";
@use "scss/variables" as vars;

.container {
  min-height: 100vh;
  padding-bottom: 40px;
  background-color: colors.$white;
}

.content {
  padding: 0 35px;
}

.stepsContainer {
  justify-content: flex-start;
  margin-top: vars.$spacing-lg;
  padding-left: vars.$spacing-lg;
}
