version: 0.79.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - forms

definitions:
  streams:
    forms:
      type: DeclarativeStream
      name: forms
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /forms
          http_method: GET
          request_parameters:
            api_secret: "{{ config['api_secret'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - forms
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/forms"
    sequences:
      type: DeclarativeStream
      name: sequences
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /sequences
          http_method: GET
          request_parameters:
            api_secret: "{{ config['api_secret'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - courses
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sequences"
    tags:
      type: DeclarativeStream
      name: tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /tags
          http_method: GET
          request_parameters:
            api_secret: "{{ config['api_secret'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tags
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: PageIncrement
            page_size: 50
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    subscribers:
      type: DeclarativeStream
      name: subscribers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /subscribers
          http_method: GET
          request_parameters:
            api_secret: "{{ config['api_secret'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - subscribers
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/subscribers"
    broadcasts:
      type: DeclarativeStream
      name: broadcasts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /broadcasts
          http_method: GET
          request_parameters:
            api_secret: "{{ config['api_secret'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - broadcasts
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/broadcasts"
  base_requester:
    type: HttpRequester
    url_base: https://api.convertkit.com/v3

streams:
  - $ref: "#/definitions/streams/forms"
  - $ref: "#/definitions/streams/sequences"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/subscribers"
  - $ref: "#/definitions/streams/broadcasts"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_secret
    properties:
      api_secret:
        type: string
        description: API Secret
        airbyte_secret: true
        order: 0
    additionalProperties: true

metadata:
  autoImportSchema:
    forms: false
    sequences: false
    tags: false
    subscribers: false
    broadcasts: false

schemas:
  forms:
    type: object
    properties:
      type:
        type:
          - string
          - "null"
      archived:
        type:
          - boolean
          - "null"
      created_at:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      embed_js:
        type:
          - string
          - "null"
      embed_url:
        type:
          - string
          - "null"
      id:
        type: integer
      name:
        type:
          - string
          - "null"
      sign_up_button_text:
        type:
          - string
          - "null"
      success_message:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      uid:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  sequences:
    type: object
    properties:
      created_at:
        type:
          - string
          - "null"
      hold:
        type:
          - boolean
          - "null"
      id:
        type: integer
      name:
        type:
          - string
          - "null"
      repeat:
        type:
          - boolean
          - "null"
    required:
      - id
    additionalProperties: true
  tags:
    type: object
    properties:
      created_at:
        type:
          - string
          - "null"
      id:
        type: integer
      name:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  subscribers:
    type: object
    properties:
      created_at:
        type:
          - string
          - "null"
      email_address:
        type:
          - string
          - "null"
      fields:
        type:
          - object
          - "null"
        properties:
          last_name:
            type:
              - string
              - "null"
      first_name:
        type:
          - string
          - "null"
      id:
        type: integer
      state:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  broadcasts:
    type: object
    properties:
      created_at:
        type:
          - string
          - "null"
      id:
        type: integer
      subject:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
