version: 6.33.4

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - deals

definitions:
  streams:
    deals:
      type: DeclarativeStream
      name: deals
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v2/deals
          http_method: GET
          request_parameters:
            limit: "500"
            sort_by: update_time
            api_token: "{{ config['api_token'] }}"
            sort_direction: asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: cursor
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response['additional_data']['next_cursor'] }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: update_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: updated_until
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deals"
    deal_fields:
      type: DeclarativeStream
      name: deal_fields
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/dealFields
          http_method: GET
          request_parameters:
            limit: "500"
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response['additional_data']['pagination']['next_start'] }}"
            stop_condition: >-
              {{ response.additional_data.pagination.more_items_in_collection is
              false }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deal_fields"
    goals:
      type: DeclarativeStream
      name: goals
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/goals/find
          http_method: GET
          request_parameters:
            limit: "500"
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - goals
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/goals"
    files:
      type: DeclarativeStream
      name: files
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/files
          http_method: GET
          request_parameters:
            sort: update_time
            limit: "100"
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response['additional_data']['pagination']['next_start'] }}"
            stop_condition: >-
              {{ response.additional_data.pagination.more_items_in_collection is
              false }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: update_time
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/files"
    filters:
      type: DeclarativeStream
      name: filters
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/filters
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/filters"
    lead_labels:
      type: DeclarativeStream
      name: lead_labels
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/leadLabels
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lead_labels"
    leads:
      type: DeclarativeStream
      name: leads
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/leads
          http_method: GET
          request_parameters:
            sort: update_time ASC
            limit: "100"
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response['additional_data']['pagination']['next_start'] }}"
            stop_condition: >-
              {{ response.additional_data.pagination.more_items_in_collection is
              false }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: update_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/leads"
    notes:
      type: DeclarativeStream
      name: notes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/notes
          http_method: GET
          request_parameters:
            sort: update_time ASC
            limit: "500"
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response['additional_data']['pagination']['next_start'] }}"
            stop_condition: >-
              {{ response.additional_data.pagination.more_items_in_collection is
              false }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: update_time
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/notes"
    activities:
      type: DeclarativeStream
      name: activities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v2/activities
          http_method: GET
          request_parameters:
            limit: "500"
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: cursor
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"additional_data\", {}).get(\"next_cursor\", {}) }}"
            stop_condition: >-
              {{ not response.get("additional_data", {}).get("next_cursor", {})
              }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: update_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: updated_until
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/activities"
    activity_types:
      type: DeclarativeStream
      name: activity_types
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/activityTypes
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/activity_types"
    activity_fields:
      type: DeclarativeStream
      name: activity_fields
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/activityFields
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response['additional_data']['pagination']['next_start'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/activity_fields"
    currencies:
      type: DeclarativeStream
      name: currencies
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/currencies
          http_method: GET
          request_parameters:
            limit: "100"
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/currencies"
    mail_messages:
      type: DeclarativeStream
      name: mail_messages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/mailbox/mailThreads/{{ stream_partition.thread_id }}/mailMessages
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response['additional_data']['pagination']['next_start'] }}"
            stop_condition: >-
              {{ response.additional_data.pagination.more_items_in_collection is
              false }}
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: thread_id
              stream:
                $ref: "#/definitions/streams/mail_threads"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/mail_messages"
    organizations:
      type: DeclarativeStream
      name: organizations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v2/organizations
          http_method: GET
          request_parameters:
            sort_by: update_time
            limit: "500"
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: cursor
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"additional_data\", {}).get(\"next_cursor\", {}) }}"
            stop_condition: >-
              {{ not response.get("additional_data", {}).get("next_cursor", {})
              }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: update_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: updated_since
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: updated_until
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organizations"
    organization_fields:
      type: DeclarativeStream
      name: organization_fields
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/organizationFields
          http_method: GET
          request_parameters:
            limit: "500"
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response['additional_data']['pagination']['next_start'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organization_fields"
    permission_sets:
      type: DeclarativeStream
      name: permission_sets
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/permissionSets
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/permission_sets"
    persons:
      type: DeclarativeStream
      name: persons
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v2/persons
          http_method: GET
          request_parameters:
            limit: "500"
            api_token: "{{ config['api_token'] }}"
            sort_by: update_time
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: cursor
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"additional_data\", {}).get(\"next_cursor\", {}) }}"
            stop_condition: >-
              {{ not response.get("additional_data", {}).get("next_cursor", {})
              }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: update_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: updated_until
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/persons"
    person_fields:
      type: DeclarativeStream
      name: person_fields
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/personFields
          http_method: GET
          request_parameters:
            limit: "50"
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response['additional_data']['pagination']['next_start'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/person_fields"
    pipelines:
      type: DeclarativeStream
      name: pipelines
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v2/pipelines
          http_method: GET
          request_parameters:
            sort_by: update_time
            limit: "500"
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: cursor
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"additional_data\", {}).get(\"next_cursor\", {}) }}"
            stop_condition: >-
              {{ not response.get("additional_data", {}).get("next_cursor", {})
              }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: update_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/pipelines"
    products:
      type: DeclarativeStream
      name: products
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v2/products
          http_method: GET
          request_parameters:
            sort_by: update_time
            limit: "500"
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: cursor
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"additional_data\", {}).get(\"next_cursor\", {}) }}"
            stop_condition: >-
              {{ not response.get("additional_data", {}).get("next_cursor", {})
              }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: update_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
    product_fields:
      type: DeclarativeStream
      name: product_fields
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/productFields
          http_method: GET
          request_parameters:
            limit: "500"
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response['additional_data']['pagination']['next_start'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_fields"
    roles:
      type: DeclarativeStream
      name: roles
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/roles
          http_method: GET
          request_parameters:
            limit: "50"
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response['additional_data']['pagination']['next_start'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/roles"
    stages:
      type: DeclarativeStream
      name: stages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v2/stages
          http_method: GET
          request_parameters:
            sort_by: update_time
            limit: "500"
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: cursor
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"additional_data\", {}).get(\"next_cursor\", {}) }}"
            stop_condition: >-
              {{ not response.get("additional_data", {}).get("next_cursor", {})
              }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: update_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/stages"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/users
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    deal_products:
      type: DeclarativeStream
      name: deal_products
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/deals/{{ stream_slice.parent_id }}/products
          http_method: GET
          request_parameters:
            limit: "500"
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response['additional_data']['pagination']['next_start'] }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/deals"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deal_products"
    mail_threads:
      type: DeclarativeStream
      name: mail_threads
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/mailbox/mailThreads
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "500"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response['additional_data']['pagination']['next_start'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/mail_threads"
    organization_relationships:
      type: DeclarativeStream
      name: organization_relationships
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/organizationRelationships
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            org_id: "{{ stream_partition['org_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: org_id
              stream:
                $ref: "#/definitions/streams/organizations"
              incremental_dependency: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organization_relationships"
  base_requester:
    type: HttpRequester
    url_base: https://api.pipedrive.com/

streams:
  - $ref: "#/definitions/streams/deals"
  - $ref: "#/definitions/streams/deal_fields"
  - $ref: "#/definitions/streams/goals"
  - $ref: "#/definitions/streams/files"
  - $ref: "#/definitions/streams/filters"
  - $ref: "#/definitions/streams/lead_labels"
  - $ref: "#/definitions/streams/leads"
  - $ref: "#/definitions/streams/notes"
  - $ref: "#/definitions/streams/activities"
  - $ref: "#/definitions/streams/activity_types"
  - $ref: "#/definitions/streams/activity_fields"
  - $ref: "#/definitions/streams/currencies"
  - $ref: "#/definitions/streams/mail_messages"
  - $ref: "#/definitions/streams/organizations"
  - $ref: "#/definitions/streams/organization_fields"
  - $ref: "#/definitions/streams/permission_sets"
  - $ref: "#/definitions/streams/persons"
  - $ref: "#/definitions/streams/person_fields"
  - $ref: "#/definitions/streams/pipelines"
  - $ref: "#/definitions/streams/products"
  - $ref: "#/definitions/streams/product_fields"
  - $ref: "#/definitions/streams/roles"
  - $ref: "#/definitions/streams/stages"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/deal_products"
  - $ref: "#/definitions/streams/mail_threads"
  - $ref: "#/definitions/streams/organization_relationships"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_token
      - start_date
    properties:
      api_token:
        type: string
        description: The Pipedrive API Token.
        order: 0
        title: API Token
        airbyte_secret: true
      start_date:
        type: string
        order: 1
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  autoImportSchema:
    deals: true
    deal_fields: true
    goals: true
    files: true
    filters: true
    lead_labels: true
    leads: true
    notes: true
    activities: true
    activity_types: true
    activity_fields: true
    currencies: true
    mail_messages: true
    organizations: true
    organization_fields: true
    permission_sets: true
    persons: true
    person_fields: false
    pipelines: true
    products: true
    product_fields: true
    roles: false
    stages: true
    users: true
    deal_products: true
    mail_threads: true
    organization_relationships: true
  testedStreams:
    deals:
      hasRecords: true
      streamHash: 3d942398047d3c29d40682224cb58e50f90b7f0e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    deal_fields:
      hasRecords: true
      streamHash: 8403a9c75dd797ff2e26b4872037ac507d62dbda
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    goals:
      hasRecords: true
      streamHash: 3099fa39207494f94c31a1f30f241c04f5f6f04f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    files:
      hasRecords: true
      streamHash: 511332b49c8c809a997bc199e9562c4a45e5cb8c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    filters:
      hasRecords: true
      streamHash: d11e56164ec970069ca213219526f7a6d12407d3
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    lead_labels:
      streamHash: 1f710ceec543bba0f7f68e0cdb24594350fb502e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    leads:
      streamHash: 1110e27198eb860d2ad7eb14dabe8f77fa6c6cbf
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    notes:
      streamHash: f3346b3b3c6cdda40f4f18e5289fa7377cc690a8
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    activities:
      hasRecords: true
      streamHash: 4af7d6e9d244480d39d3222d2463058699105009
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    activity_types:
      streamHash: 6caecc3b62825216cdc5febc4d20ccc5c185f42c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    activity_fields:
      streamHash: 72f3e3c0e57c4e3f8d6704a57728472b9e3c3f29
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    currencies:
      streamHash: 3f1bf10d956dea29826140ca97aafc78f275ab5c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    mail_messages:
      streamHash: 22283e0b7d183be5ee2aeee4aeef30cec1817a14
      hasResponse: false
      responsesAreSuccessful: false
      hasRecords: false
      primaryKeysArePresent: false
      primaryKeysAreUnique: false
    organizations:
      streamHash: dafb49b7c98f0ec5cc3d4eef61b618b5959d798f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    organization_fields:
      streamHash: e495457d2b35af2a670b78cfb397130119a31807
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    permission_sets:
      streamHash: 7098a207853abd8bfaba03c198eb5bba4113a86d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    persons:
      streamHash: f7b134e8cc3bc1cefed7f5cda03a63554c09659f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    person_fields:
      hasRecords: true
      streamHash: 730346f33e25f02858f0da1c34191062ce32fa0c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    pipelines:
      streamHash: 27da1dae3516a90b129691d53a35290035b9fd39
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    products:
      streamHash: 37315e239a23d8d506d6456fb33c2f9d9dec5742
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    product_fields:
      streamHash: 0379e1a412a7755497f42ebcda4c92d8114e5b81
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    roles:
      hasRecords: true
      streamHash: 0b7c02fef6ed17d9d18bbd4dde1669ab38ad497d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    stages:
      streamHash: 2a3a7303d9e3ad0adebc1a07372e862c81bdafe2
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: 673e5fcae26791c297ed527d748bb6dc93843151
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    deal_products:
      streamHash: bbaa813ba66565276fade777b24bb1e2538e7d77
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    mail_threads:
      streamHash: de79b1fa519918433702e281f9977158a01d033f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    organization_relationships:
      streamHash: 387f9fdf2b5b2c406ac57fdd5cbe865285ab1b46
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  deals:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      add_time:
        type:
          - string
          - "null"
      close_time:
        type:
          - string
          - "null"
      creator_user_id:
        type:
          - number
          - "null"
      currency:
        type:
          - string
          - "null"
      custom_fields:
        type:
          - object
          - "null"
        properties:
          17504397b61048bf0fc31275c0a4000a752b8c5a:
            type:
              - string
              - "null"
          30a55ee782924bcb794ef785eb7006bf6cc5db9f:
            type:
              - string
              - "null"
          5845a4d799d1a2a54cc19664a159b243fa100d70:
            type:
              - string
              - "null"
          5f55ed67ec3afa64819133c98685b59f7a9de3c3:
            type:
              - string
              - "null"
          7d58f51f3c05a99b6511f53a61955ebc8736305d:
            type:
              - string
              - "null"
          d3187f467746290b0f8b83989c080aadd7d9a938:
            type:
              - object
              - "null"
            properties:
              currency:
                type:
                  - string
                  - "null"
              value:
                type:
                  - number
                  - "null"
          dd69b88aee739721d8fa6012431bf20af89374a6:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
      expected_close_date:
        type:
          - string
          - "null"
      id:
        type: number
      is_archived:
        type:
          - boolean
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      label_ids:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      org_id:
        type:
          - number
          - "null"
      origin:
        type:
          - string
          - "null"
      owner_id:
        type:
          - number
          - "null"
      person_id:
        type:
          - number
          - "null"
      pipeline_id:
        type:
          - number
          - "null"
      probability:
        type:
          - number
          - "null"
      stage_change_time:
        type:
          - string
          - "null"
      stage_id:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      update_time:
        type: string
      value:
        type:
          - number
          - "null"
      visible_to:
        type:
          - number
          - "null"
      won_time:
        type:
          - string
          - "null"
    required:
      - id
      - update_time
  deal_fields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      active_flag:
        type:
          - boolean
          - "null"
      add_time:
        type:
          - string
          - "null"
      add_visible_flag:
        type:
          - boolean
          - "null"
      bulk_edit_allowed:
        type:
          - boolean
          - "null"
      created_by_user_id:
        type:
          - number
          - "null"
      details_visible_flag:
        type:
          - boolean
          - "null"
      edit_flag:
        type:
          - boolean
          - "null"
      field_type:
        type:
          - string
          - "null"
      filtering_allowed:
        type:
          - boolean
          - "null"
      group_id:
        type:
          - number
          - "null"
      id:
        type:
          - number
          - "null"
      id_suffix:
        type:
          - string
          - "null"
      important_flag:
        type:
          - boolean
          - "null"
      is_subfield:
        type:
          - boolean
          - "null"
      json_column_flag:
        type:
          - boolean
          - "null"
      key:
        type:
          - string
          - "null"
      last_updated_by_user_id:
        type:
          - number
          - "null"
      link:
        type:
          - string
          - "null"
      mandatory_flag:
        anyOf:
          - type: boolean
          - type: object
            properties:
              org_id:
                type: string
              person_id:
                type: string
              status:
                type: string
      name:
        type:
          - string
          - "null"
      options:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            alt_id:
              type:
                - string
                - "null"
            color:
              type:
                - string
                - "null"
            id:
              type:
                - boolean
                - number
                - string
                - "null"
            label:
              type:
                - string
                - "null"
      order_nr:
        type:
          - number
          - "null"
      parent_id:
        type:
          - number
          - "null"
      projects_detail_visible_flag:
        type:
          - boolean
          - "null"
      restriction_settings:
        type:
          - array
          - "null"
      searchable_flag:
        type:
          - boolean
          - "null"
      show_in_pipelines:
        type:
          - object
          - "null"
        properties:
          pipeline_ids:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          show_in_all:
            type:
              - boolean
              - "null"
      sortable_flag:
        type:
          - boolean
          - "null"
      update_time:
        type:
          - string
          - "null"
      use_field:
        type:
          - string
          - "null"
  goals:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - object
          - "null"
        properties:
          name:
            type:
              - string
              - "null"
          params:
            type:
              - object
              - "null"
            properties:
              activity_type_id:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - number
                    - "null"
              pipeline_id:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - number
                    - "null"
              stage_id:
                type:
                  - number
                  - "null"
      assignee:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
      duration:
        type:
          - object
          - "null"
        properties:
          end:
            type:
              - string
              - "null"
          start:
            type:
              - string
              - "null"
      expected_outcome:
        type:
          - object
          - "null"
        properties:
          target:
            type:
              - number
              - "null"
          tracking_metric:
            type:
              - string
              - "null"
      id:
        type: string
      interval:
        type:
          - string
          - "null"
      is_active:
        type:
          - boolean
          - "null"
      owner_id:
        type:
          - number
          - "null"
      report_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      title:
        type:
          - string
          - "null"
    required:
      - id
  files:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      active_flag:
        type:
          - boolean
          - "null"
      add_time:
        type:
          - string
          - "null"
      file_name:
        type:
          - string
          - "null"
      file_size:
        type:
          - number
          - "null"
      file_type:
        type:
          - string
          - "null"
      id:
        type: number
      inline_flag:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      remote_id:
        type:
          - string
          - "null"
      remote_location:
        type:
          - string
          - "null"
      s3_bucket:
        type:
          - string
          - "null"
      update_time:
        type: string
      url:
        type:
          - string
          - "null"
      user_id:
        type:
          - number
          - "null"
    required:
      - id
      - update_time
  filters:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      active_flag:
        type:
          - boolean
          - "null"
      add_time:
        type:
          - string
          - "null"
      custom_view_id:
        type:
          - number
          - "null"
      filter_code:
        type:
          - string
          - "null"
      id:
        type: number
      is_editable:
        type:
          - boolean
          - "null"
      last_used_time:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      temporary_flag:
        type:
          - boolean
          - "null"
      update_time:
        type:
          - string
          - "null"
      user_id:
        type:
          - number
          - "null"
      visible_to:
        type:
          - string
          - "null"
    required:
      - id
  lead_labels:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      add_time:
        type:
          - "null"
          - string
      color:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      update_time:
        type:
          - "null"
          - string
  leads:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      add_time:
        type:
          - string
          - "null"
      archive_time:
        type:
          - string
          - "null"
      cc_email:
        type:
          - string
          - "null"
      creator_id:
        type:
          - number
          - "null"
      d3187f467746290b0f8b83989c080aadd7d9a938:
        type:
          - number
          - "null"
      d3187f467746290b0f8b83989c080aadd7d9a938_currency:
        type:
          - string
          - "null"
      dd69b88aee739721d8fa6012431bf20af89374a6:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      is_archived:
        type:
          - boolean
          - "null"
      label_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      organization_id:
        type:
          - number
          - "null"
      origin:
        type:
          - string
          - "null"
      owner_id:
        type:
          - number
          - "null"
      person_id:
        type:
          - number
          - "null"
      source_name:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      update_time:
        type: string
      value:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - number
              - "null"
          currency:
            type:
              - string
              - "null"
      visible_to:
        type:
          - string
          - "null"
      was_seen:
        type:
          - boolean
          - "null"
    required:
      - update_time
  notes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active_flag:
        type:
          - boolean
          - "null"
      add_time:
        type:
          - string
          - "null"
      content:
        type:
          - string
          - "null"
      deal:
        type:
          - object
          - "null"
        properties:
          title:
            type:
              - string
              - "null"
      deal_id:
        type:
          - number
          - "null"
      id:
        type: number
      org_id:
        type:
          - number
          - "null"
      organization:
        type:
          - object
          - "null"
        properties:
          name:
            type:
              - string
              - "null"
      person:
        type:
          - object
          - "null"
        properties:
          name:
            type:
              - string
              - "null"
      person_id:
        type:
          - number
          - "null"
      pinned_to_deal_flag:
        type:
          - boolean
          - "null"
      pinned_to_lead_flag:
        type:
          - boolean
          - "null"
      pinned_to_organization_flag:
        type:
          - boolean
          - "null"
      pinned_to_person_flag:
        type:
          - boolean
          - "null"
      update_time:
        type: string
      user:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          icon_url:
            type:
              - string
              - "null"
          is_you:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
      user_id:
        type:
          - number
          - "null"
    required:
      - id
      - update_time
  activities:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      add_time:
        type:
          - string
          - "null"
      busy:
        type:
          - boolean
          - "null"
      deal_id:
        type:
          - number
          - "null"
      done:
        type:
          - boolean
          - "null"
      due_date:
        type:
          - string
          - "null"
      due_time:
        type:
          - string
          - "null"
      duration:
        type:
          - string
          - "null"
      id:
        type: number
      is_deleted:
        type:
          - boolean
          - "null"
      marked_as_done_time:
        type:
          - string
          - "null"
      note:
        type:
          - string
          - "null"
      org_id:
        type:
          - number
          - "null"
      owner_id:
        type:
          - number
          - "null"
      participants:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            person_id:
              type:
                - number
                - "null"
            primary:
              type:
                - boolean
                - "null"
      person_id:
        type:
          - number
          - "null"
      public_description:
        type:
          - string
          - "null"
      subject:
        type:
          - string
          - "null"
      update_time:
        type: string
    required:
      - id
      - update_time
  activity_types:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active_flag:
        type:
          - "null"
          - boolean
      add_time:
        type:
          - "null"
          - string
      color:
        type:
          - "null"
          - string
      icon_key:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - integer
      is_custom_flag:
        type:
          - "null"
          - boolean
      key_string:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      order_nr:
        type:
          - "null"
          - integer
      update_time:
        type:
          - "null"
          - string
        airbyte_type: timestamp_without_timezone
        format: date-time
  activity_fields:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      active_flag:
        type:
          - "null"
          - boolean
      add_time:
        type:
          - "null"
          - string
      add_visible_flag:
        type:
          - "null"
          - boolean
      bulk_edit_allowed:
        type:
          - "null"
          - boolean
      details_visible_flag:
        type:
          - "null"
          - boolean
      edit_flag:
        type:
          - "null"
          - boolean
      field_type:
        type:
          - "null"
          - string
      filtering_allowed:
        type:
          - "null"
          - boolean
      id:
        type:
          - "null"
          - integer
      id_suffix:
        type:
          - "null"
          - string
      important_flag:
        type:
          - "null"
          - boolean
      index_visible_flag:
        type:
          - "null"
          - boolean
      is_subfield:
        type:
          - "null"
          - boolean
      json_column_flag:
        type:
          - "null"
          - boolean
      key:
        type:
          - "null"
          - string
      last_updated_by_user_id:
        type:
          - "null"
          - integer
      mandatory_flag:
        type:
          - "null"
          - boolean
      name:
        type:
          - "null"
          - string
      options:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            id:
              type:
                - "null"
                - integer
                - string
                - boolean
            label:
              type:
                - "null"
                - string
      order_nr:
        type:
          - "null"
          - integer
      parent_id:
        type:
          - "null"
          - integer
      searchable_flag:
        type:
          - "null"
          - boolean
      sortable_flag:
        type:
          - "null"
          - boolean
      update_time:
        type:
          - "null"
          - string
  currencies:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active_flag:
        type:
          - boolean
          - "null"
      code:
        type:
          - string
          - "null"
      decimal_points:
        type:
          - number
          - "null"
      id:
        type:
          - number
          - "null"
      is_custom_flag:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      symbol:
        type:
          - string
          - "null"
  mail_messages:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      account_id:
        type:
          - "null"
          - string
      add_time:
        type:
          - "null"
          - string
        format: date-time
      body_url:
        type:
          - "null"
          - string
      deleted_flag:
        type:
          - "null"
          - integer
      draft_flag:
        type:
          - "null"
          - integer
      from:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            email_address:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
            linked_person_id:
              type:
                - "null"
                - integer
            linked_person_name:
              type:
                - "null"
                - string
            mail_message_party_id:
              type:
                - "null"
                - integer
            name:
              type:
                - "null"
                - string
      has_attachments_flag:
        type:
          - "null"
          - integer
      has_body_flag:
        type:
          - "null"
          - integer
      has_inline_attachments_flag:
        type:
          - "null"
          - integer
      has_real_attachments_flag:
        type:
          - "null"
          - integer
      id:
        type:
          - "null"
          - integer
      mail_link_tracking_enabled_flag:
        type:
          - "null"
          - integer
      mail_thread_id:
        type:
          - "null"
          - integer
      message_time:
        type:
          - "null"
          - string
        format: date-time
      read_flag:
        type:
          - "null"
          - integer
      sent_flag:
        type:
          - "null"
          - integer
      sent_from_pipedrive_flag:
        type:
          - "null"
          - integer
      smart_bcc_flag:
        type:
          - "null"
          - integer
      snippet:
        type:
          - "null"
          - string
      subject:
        type:
          - "null"
          - string
      synced_flag:
        type:
          - "null"
          - integer
      to:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            email_address:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
            linked_person_id:
              type:
                - "null"
                - integer
            linked_person_name:
              type:
                - "null"
                - string
            mail_message_party_id:
              type:
                - "null"
                - integer
            name:
              type:
                - "null"
                - string
      update_time:
        type:
          - "null"
          - string
        format: date-time
      user_id:
        type:
          - "null"
          - integer
  organizations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      add_time:
        type:
          - string
          - "null"
      address:
        type:
          - object
          - "null"
        properties:
          admin_area_level_1:
            type:
              - string
              - "null"
          admin_area_level_2:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          formatted_address:
            type:
              - string
              - "null"
          locality:
            type:
              - string
              - "null"
          postal_code:
            type:
              - string
              - "null"
          route:
            type:
              - string
              - "null"
          street_number:
            type:
              - string
              - "null"
          sublocality:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
      custom_fields:
        type:
          - object
          - "null"
        properties:
          001f2fae6fc94a9a48a25ed402d83ea6e1550327:
            type:
              - string
              - "null"
          118478247d078cc8fb1ed1d57e0f09893e2de268:
            type:
              - string
              - "null"
          290c70a4468356d17e42c389ce793a4e4e8347a7:
            type:
              - string
              - "null"
          46a6ee541306f0ff546371a234ee03fabaf48358:
            type:
              - string
              - "null"
          509d87f9aab8556ddb455b2a9863cdbafa2bd6d8:
            type:
              - string
              - "null"
          752b59b4a04b05133c7a1bfe8fd74a56120ba612:
            type:
              - string
              - "null"
          8475fb979f2f2b4a29ad16ec3fc0ead070c090cf:
            type:
              - number
              - "null"
          8caaed8fa975baaffb6a590ec218a89d214f80fc:
            type:
              - number
              - "null"
          b6ea48ad52ac3b051034365f85bfaa87006f4183:
            type:
              - string
              - "null"
          bd681009efcbf92bcffd94f297c7113859aee1f0:
            type:
              - number
              - "null"
          ccbb4c4d6b7643c9b3698e92e6051556a8b93de6:
            type:
              - string
              - "null"
          d1b2756c539a79ec330dc34024bad50118f124da:
            type:
              - number
              - "null"
          dfd9230b828b9210c0bb39582e3cbd2f702153ac:
            type:
              - string
              - "null"
          f58c1bdf4e718704f517f2b9b36a14e80f6be68c:
            type:
              - string
              - "null"
      id:
        type: number
      is_deleted:
        type:
          - boolean
          - "null"
      label_ids:
        type:
          - array
          - "null"
      name:
        type:
          - string
          - "null"
      owner_id:
        type:
          - number
          - "null"
      update_time:
        type: string
      visible_to:
        type:
          - number
          - "null"
    required:
      - id
      - update_time
  organization_fields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active_flag:
        type:
          - boolean
          - "null"
      add_time:
        type:
          - string
          - "null"
      add_visible_flag:
        type:
          - boolean
          - "null"
      bulk_edit_allowed:
        type:
          - boolean
          - "null"
      details_visible_flag:
        type:
          - boolean
          - "null"
      display_field:
        type:
          - string
          - "null"
      edit_flag:
        type:
          - boolean
          - "null"
      field_type:
        type:
          - string
          - "null"
      filtering_allowed:
        type:
          - boolean
          - "null"
      id:
        type:
          - number
          - "null"
      id_suffix:
        type:
          - string
          - "null"
      important_flag:
        type:
          - boolean
          - "null"
      is_subfield:
        type:
          - boolean
          - "null"
      json_column_flag:
        type:
          - boolean
          - "null"
      key:
        type:
          - string
          - "null"
      last_updated_by_user_id:
        type:
          - number
          - "null"
      link:
        type:
          - string
          - "null"
      mandatory_flag:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      options:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            alt_id:
              type:
                - string
                - "null"
            color:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            label:
              type:
                - string
                - "null"
      order_nr:
        type:
          - number
          - "null"
      parent_id:
        type:
          - number
          - "null"
      restriction_settings:
        type:
          - array
          - "null"
      searchable_flag:
        type:
          - boolean
          - "null"
      sortable_flag:
        type:
          - boolean
          - "null"
      update_time:
        type:
          - string
          - "null"
      use_field:
        type:
          - string
          - "null"
  permission_sets:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      app:
        type:
          - "null"
          - string
      assignment_count:
        type:
          - "null"
          - integer
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
  persons:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      add_time:
        type:
          - string
          - "null"
      birthday:
        type:
          - string
          - "null"
      custom_fields:
        type:
          - object
          - "null"
        properties:
          1db65d24dd51933950b684c5e293e1cda48b88e3:
            type:
              - string
              - "null"
          52a873e9dd9b12208bf5225e382b370bcfe0dff9:
            type:
              - string
              - "null"
          610f17f12bab76524f547d578150f64050d7d978:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          868e470fb553eb65c775338769b33d93a350e31b:
            type:
              - string
              - "null"
          9153f81089e243037fd48484d51b4c6f10a7e45a:
            type:
              - string
              - "null"
          c91c3793acf6efd437ebbf9ed354496c01cfb270:
            type:
              - string
              - "null"
          e38287e1c14534828872f5e002d739a58baa087b:
            type:
              - string
              - "null"
          e4007278c6be0931a87fe3d84d204b796a37b74c:
            type:
              - number
              - "null"
          f3bbf5f396ed47f8dbea2b28a59cacee0df06405:
            type:
              - string
              - "null"
      emails:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            label:
              type:
                - string
                - "null"
            primary:
              type:
                - boolean
                - "null"
            value:
              type:
                - string
                - "null"
      first_name:
        type:
          - string
          - "null"
      id:
        type: number
      im:
        type:
          - array
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      job_title:
        type:
          - string
          - "null"
      label_ids:
        type:
          - array
          - "null"
      last_name:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      notes:
        type:
          - string
          - "null"
      org_id:
        type:
          - number
          - "null"
      owner_id:
        type:
          - number
          - "null"
      phones:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            label:
              type:
                - string
                - "null"
            primary:
              type:
                - boolean
                - "null"
            value:
              type:
                - string
                - "null"
      picture_id:
        type:
          - number
          - "null"
      postal_address:
        type:
          - object
          - "null"
        properties:
          admin_area_level_1:
            type:
              - string
              - "null"
          admin_area_level_2:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          formatted_address:
            type:
              - string
              - "null"
          locality:
            type:
              - string
              - "null"
          postal_code:
            type:
              - string
              - "null"
          route:
            type:
              - string
              - "null"
          street_number:
            type:
              - string
              - "null"
          sublocality:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
      update_time:
        type: string
      visible_to:
        type:
          - number
          - "null"
    required:
      - id
      - update_time
  person_fields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active_flag:
        type:
          - "null"
          - boolean
      add_time:
        type:
          - "null"
          - string
      add_visible_flag:
        type:
          - "null"
          - boolean
      bulk_edit_allowed:
        type:
          - "null"
          - boolean
      details_visible_flag:
        type:
          - "null"
          - boolean
      display_field:
        type:
          - "null"
          - string
      edit_flag:
        type:
          - "null"
          - boolean
      field_type:
        type:
          - "null"
          - string
      filtering_allowed:
        type:
          - "null"
          - boolean
      id:
        type:
          - "null"
          - integer
      important_flag:
        type:
          - "null"
          - boolean
      index_visible_flag:
        type:
          - "null"
          - boolean
      json_column_flag:
        type:
          - "null"
          - boolean
      key:
        type:
          - "null"
          - string
      last_updated_by_user_id:
        type:
          - "null"
          - integer
      link:
        type:
          - "null"
          - string
      mandatory_flag:
        type:
          - "null"
          - boolean
      name:
        type:
          - "null"
          - string
      options:
        type:
          - "null"
          - array
        items:
          type: object
          properties:
            id:
              type:
                - "null"
                - boolean
                - integer
            label:
              type:
                - "null"
                - string
      order_nr:
        type:
          - "null"
          - integer
      searchable_flag:
        type:
          - "null"
          - boolean
      sortable_flag:
        type:
          - "null"
          - boolean
      update_time:
        type:
          - "null"
          - string
      use_field:
        type:
          - "null"
          - string
  pipelines:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      add_time:
        type:
          - string
          - "null"
      id:
        type: number
      is_deal_probability_enabled:
        type:
          - boolean
          - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      order_nr:
        type:
          - number
          - "null"
      update_time:
        type: string
    required:
      - id
      - update_time
  products:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      add_time:
        type:
          - string
          - "null"
      billing_frequency:
        type:
          - string
          - "null"
      code:
        type:
          - string
          - "null"
      custom_fields:
        type:
          - object
          - "null"
      id:
        type: number
      is_deleted:
        type:
          - boolean
          - "null"
      is_linkable:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      owner_id:
        type:
          - number
          - "null"
      prices:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            cost:
              type:
                - number
                - "null"
            currency:
              type:
                - string
                - "null"
            direct_cost:
              type:
                - number
                - "null"
            notes:
              type:
                - string
                - "null"
            price:
              type:
                - number
                - "null"
            product_id:
              type:
                - number
                - "null"
      tax:
        type:
          - number
          - "null"
      unit:
        type:
          - string
          - "null"
      update_time:
        type: string
      visible_to:
        type:
          - number
          - "null"
    required:
      - id
      - update_time
  product_fields:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      active_flag:
        type:
          - "null"
          - boolean
      add_time:
        type:
          - "null"
          - string
      add_visible_flag:
        type:
          - "null"
          - boolean
      bulk_edit_allowed:
        type:
          - "null"
          - boolean
      details_visible_flag:
        type:
          - "null"
          - boolean
      display_field:
        type:
          - "null"
          - string
      edit_flag:
        type:
          - "null"
          - boolean
      field_type:
        type:
          - "null"
          - string
      filtering_allowed:
        type:
          - "null"
          - boolean
      id:
        type:
          - "null"
          - integer
      important_flag:
        type:
          - "null"
          - boolean
      index_visible_flag:
        type:
          - "null"
          - boolean
      json_column_flag:
        type:
          - "null"
          - boolean
      key:
        type:
          - "null"
          - string
      last_updated_by_user_id:
        type:
          - "null"
          - integer
      link:
        type:
          - "null"
          - string
      mandatory_flag:
        type:
          - "null"
          - boolean
      name:
        type:
          - "null"
          - string
      options:
        type:
          - "null"
          - array
        items:
          type: object
          properties:
            id:
              type:
                - "null"
                - string
                - boolean
                - integer
            label:
              type:
                - "null"
                - string
      order_nr:
        type:
          - "null"
          - integer
      searchable_flag:
        type:
          - "null"
          - boolean
      sortable_flag:
        type:
          - "null"
          - boolean
      update_time:
        type:
          - "null"
          - string
      use_field:
        type:
          - "null"
          - string
  roles:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - "null"
          - string
      active_flag:
        type:
          - "null"
          - boolean
      assignment_count:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - integer
      level:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      parent_role_id:
        type:
          - "null"
          - integer
      sub_role_count:
        type:
          - "null"
          - string
  stages:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      active_flag:
        type:
          - "null"
          - boolean
      add_time:
        type:
          - "null"
          - string
      deal_probability:
        type:
          - "null"
          - integer
      id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      order_nr:
        type:
          - "null"
          - integer
      pipeline_deal_probability:
        type:
          - "null"
          - boolean
      pipeline_id:
        type:
          - "null"
          - integer
      pipeline_name:
        type:
          - "null"
          - string
      rotten_days:
        type:
          - "null"
          - integer
      rotten_flag:
        type:
          - "null"
          - boolean
      update_time:
        type:
          - "null"
          - string
        airbyte_type: timestamp_without_timezone
        format: date-time
  users:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      activated:
        type:
          - "null"
          - boolean
      active_flag:
        type:
          - "null"
          - boolean
      created:
        type:
          - "null"
          - string
      default_currency:
        type:
          - "null"
          - string
      email:
        type:
          - "null"
          - string
      has_created_company:
        type:
          - "null"
          - boolean
      icon_url:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - integer
      is_admin:
        type:
          - "null"
          - integer
      is_you:
        type:
          - "null"
          - boolean
      lang:
        type:
          - "null"
          - integer
      last_login:
        type:
          - "null"
          - string
      locale:
        type:
          - "null"
          - string
      modified:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      phone:
        type:
          - "null"
          - string
      role_id:
        type:
          - "null"
          - integer
      signup_flow_variation:
        type:
          - "null"
          - string
      timezone_name:
        type:
          - "null"
          - string
      timezone_offset:
        type:
          - "null"
          - string
  deal_products:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active_flag:
        type:
          - "null"
          - boolean
      add_time:
        type:
          - "null"
          - string
      comments:
        type:
          - "null"
          - string
      currency:
        type:
          - "null"
          - string
      deal_id:
        type:
          - "null"
          - integer
      discount_percentage:
        type:
          - "null"
          - integer
      duration:
        type:
          - "null"
          - integer
      duration_unit:
        type:
          - "null"
          - string
      enabled_flag:
        type:
          - "null"
          - boolean
      id:
        type:
          - "null"
          - integer
      item_price:
        type:
          - "null"
          - integer
      last_edit:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      order_nr:
        type:
          - "null"
          - integer
      product_id:
        type:
          - "null"
          - integer
      product_variation_id:
        type:
          - "null"
          - integer
      quantity:
        type:
          - "null"
          - integer
      quantity_formatted:
        type:
          - "null"
          - string
      sum:
        type:
          - "null"
          - integer
      sum_formatted:
        type:
          - "null"
          - string
      sum_no_discount:
        type:
          - "null"
          - integer
      tax:
        type:
          - "null"
          - number
  mail_threads:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      version:
        type: integer
      account_id:
        type: string
      add_time:
        type: string
      all_messages_sent_flag:
        type: integer
      archived_flag:
        type: integer
      deal_id:
        type:
          - integer
          - "null"
      deal_status:
        type:
          - string
          - "null"
      deleted_flag:
        type: integer
      drafts_parties:
        type: array
      external_deleted_flag:
        type: integer
      first_message_timestamp:
        type: string
      first_message_to_me_flag:
        type: integer
      folders:
        type: array
        items:
          type: string
      has_attachments_flag:
        type: integer
      has_draft_flag:
        type: integer
      has_inline_attachments_flag:
        type: integer
      has_real_attachments_flag:
        type: integer
      has_sent_flag:
        type: integer
      id:
        type: integer
      last_message_received_timestamp:
        type: string
      last_message_sent_timestamp:
        type:
          - string
          - "null"
      last_message_timestamp:
        type: string
      mail_link_tracking_enabled_flag:
        type: integer
      parties:
        type: object
        properties:
          from:
            type: array
            items:
              type: object
              properties:
                email_address:
                  type: string
                id:
                  type: integer
                latest_sent:
                  type: boolean
                linked_organization_id:
                  type:
                    - integer
                    - "null"
                linked_person_id:
                  type: integer
                linked_person_name:
                  type: string
                mail_message_party_id:
                  type: integer
                message_time:
                  type: integer
                name:
                  type: string
          to:
            type: array
            items:
              type: object
              properties:
                email_address:
                  type: string
                id:
                  type: integer
                latest_sent:
                  type: boolean
                linked_organization_id:
                  type:
                    - integer
                    - "null"
                linked_person_id:
                  type: integer
                linked_person_name:
                  type: string
                mail_message_party_id:
                  type: integer
                message_time:
                  type: integer
                name:
                  type: string
      shared_flag:
        type: integer
      smart_bcc_flag:
        type: integer
      snippet:
        type: string
      snippet_draft:
        type:
          - string
          - "null"
      snippet_sent:
        type: string
      subject:
        type: string
      synced_flag:
        type: integer
      update_time:
        type: string
      user_id:
        type: integer
  organization_relationships:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
