version: 6.59.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - currencies

definitions:
  streams:
    deals:
      type: DeclarativeStream
      name: deals
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v2/deals
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "500"
            sort_by: update_time
            sort_direction: asc
            status: "open,won,lost,deleted"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          $ref: "#/definitions/v2_cursor_paginator"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: update_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config.get('replication_start_date') or '2010-01-01T00:00:00Z', '%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deals"

    # GET /api/v2/deals returns only not-archived deals; archived deals are served by /api/v2/deals/archived
    # with the same parameters and record shape, so they are read as a separate stream (same schema).
    deals_archived:
      type: DeclarativeStream
      name: deals_archived
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v2/deals/archived
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "500"
            sort_by: update_time
            sort_direction: asc
            status: "open,won,lost,deleted"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          $ref: "#/definitions/v2_cursor_paginator"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: update_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config.get('replication_start_date') or '2010-01-01T00:00:00Z', '%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deals"

    deal_fields:
      type: DeclarativeStream
      name: deal_fields
      primary_key:
        - key
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/dealFields
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "50"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: start
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ ((response.get('additional_data') or {}).get('pagination') or {}).get('next_start') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deal_fields"
    goals:
      type: DeclarativeStream
      name: goals
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/goals/find
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "50"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - goals
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/goals"
    files:
      type: DeclarativeStream
      name: files
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/files
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "100"
            sort: "update_time ASC"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: start
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ ((response.get('additional_data') or {}).get('pagination') or {}).get('next_start') }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: update_time
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config.get('replication_start_date') or '2010-01-01T00:00:00Z', '%Y-%m-%d %H:%M:%S') }}"
          datetime_format: "%Y-%m-%d %H:%M:%S"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/files"

    filters:
      type: DeclarativeStream
      name: filters
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/filters
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/filters"

    lead_labels:
      type: DeclarativeStream
      name: lead_labels
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/leadLabels
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "50"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lead_labels"
    leads:
      type: DeclarativeStream
      name: leads
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/leads
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "50"
            sort: "update_time ASC"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: start
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ ((response.get('additional_data') or {}).get('pagination') or {}).get('next_start') }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: update_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config.get('replication_start_date') or '2010-01-01T00:00:00Z', '%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/leads"
    notes:
      type: DeclarativeStream
      name: notes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/notes
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "500"
            sort: "update_time ASC"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: start
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ ((response.get('additional_data') or {}).get('pagination') or {}).get('next_start') }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: update_time
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config.get('replication_start_date') or '2010-01-01T00:00:00Z', '%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/notes"

    activities:
      type: DeclarativeStream
      name: activities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v2/activities
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "500"
            sort_by: update_time
            sort_direction: asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          $ref: "#/definitions/v2_cursor_paginator"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: update_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config.get('replication_start_date') or '2010-01-01T00:00:00Z', '%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/activities"

    activity_types:
      type: DeclarativeStream
      name: activity_types
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/activityTypes
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "50"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/activity_types"
    activity_fields:
      type: DeclarativeStream
      name: activity_fields
      primary_key:
        - key
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/activityFields
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "50"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: start
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ ((response.get('additional_data') or {}).get('pagination') or {}).get('next_start') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/activity_fields"
    currencies:
      type: DeclarativeStream
      name: currencies
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/currencies
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "50"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/currencies"
    mail:
      type: DeclarativeStream
      name: mail
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/mailbox/mailThreads/{{ stream_partition.thread_id }}/mailMessages
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "50"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - $ref: "#/definitions/substream_missing_parent_error_handler"
              - $ref: "#/definitions/base_error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: start
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ ((response.get('additional_data') or {}).get('pagination') or {}).get('next_start') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: thread_id
              stream:
                $ref: "#/definitions/streams/mailThreads"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/mail"
    organizations:
      type: DeclarativeStream
      name: organizations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v2/organizations
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "500"
            sort_by: update_time
            sort_direction: asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          $ref: "#/definitions/v2_cursor_paginator"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: update_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config.get('replication_start_date') or '2010-01-01T00:00:00Z', '%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organizations"

    organization_fields:
      type: DeclarativeStream
      name: organization_fields
      primary_key:
        - key
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/organizationFields
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "50"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: start
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ ((response.get('additional_data') or {}).get('pagination') or {}).get('next_start') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organization_fields"
    permission_sets:
      type: DeclarativeStream
      name: permission_sets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/permissionSets
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "50"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/permission_sets"
    persons:
      type: DeclarativeStream
      name: persons
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v2/persons
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "500"
            sort_by: update_time
            sort_direction: asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          $ref: "#/definitions/v2_cursor_paginator"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: update_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config.get('replication_start_date') or '2010-01-01T00:00:00Z', '%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/persons"

    person_fields:
      type: DeclarativeStream
      name: person_fields
      primary_key:
        - key
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/personFields
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "50"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: start
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ ((response.get('additional_data') or {}).get('pagination') or {}).get('next_start') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/person_fields"
    pipelines:
      type: DeclarativeStream
      name: pipelines
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v2/pipelines
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "500"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          $ref: "#/definitions/v2_cursor_paginator"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/pipelines"

    products:
      type: DeclarativeStream
      name: products
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v2/products
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "500"
            sort_by: update_time
            sort_direction: asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          $ref: "#/definitions/v2_cursor_paginator"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: update_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config.get('replication_start_date') or '2010-01-01T00:00:00Z', '%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"

    product_fields:
      type: DeclarativeStream
      name: product_fields
      primary_key:
        - key
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/productFields
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "50"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: start
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ ((response.get('additional_data') or {}).get('pagination') or {}).get('next_start') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_fields"
    roles:
      type: DeclarativeStream
      name: roles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/roles
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "50"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: start
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ ((response.get('additional_data') or {}).get('pagination') or {}).get('next_start') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/roles"
    stages:
      type: DeclarativeStream
      name: stages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v2/stages
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "500"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          $ref: "#/definitions/v2_cursor_paginator"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/stages"

    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/users
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"

    deal_products:
      type: DeclarativeStream
      name: deal_products
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v2/deals/{{ stream_slice['parent_id'] }}/products
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "500"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - $ref: "#/definitions/substream_missing_parent_error_handler"
              - $ref: "#/definitions/base_error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          $ref: "#/definitions/v2_cursor_paginator"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/deals"
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/deals_archived"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deal_products"

    mailThreads:
      type: DeclarativeStream
      name: mailThreads
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/mailbox/mailThreads
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "50"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: start
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ ((response.get('additional_data') or {}).get('pagination') or {}).get('next_start') }}"
        partition_router:
          type: ListPartitionRouter
          values:
            - inbox
            - drafts
            - sent
            - archive
          cursor_field: folder
          request_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: folder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/mailThreads"
    call_logs:
      type: DeclarativeStream
      name: call_logs
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/callLogs
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "50"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: start
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ ((response.get('additional_data') or {}).get('pagination') or {}).get('next_start') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/call_logs"
    lead_sources:
      type: DeclarativeStream
      name: lead_sources
      primary_key:
        - name
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/leadSources
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lead_sources"
    legacy_teams:
      type: DeclarativeStream
      name: legacy_teams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/legacyTeams
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                      - 404
                      - 410
                    error_message: "The legacy Teams feature is disabled for this Pipedrive company or the endpoint has been retired ({{ response.get('error', 'not available') }}); skipping legacy_teams."
              - $ref: "#/definitions/base_error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/legacy_teams"
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v2/{{ stream_slice['path_segment'] }}
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "500"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 402
                      - 403
                      - 404
                    error_message: "The Projects add-on is not included in this Pipedrive plan or the token cannot read projects ({{ response.get('error', 'not available') }}); skipping projects."
              - $ref: "#/definitions/base_error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          $ref: "#/definitions/v2_cursor_paginator"
        partition_router:
          type: ListPartitionRouter
          cursor_field: path_segment
          values:
            - projects
            - projects/archived
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    tasks:
      type: DeclarativeStream
      name: tasks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v2/tasks
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "500"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 402
                      - 403
                      - 404
                    error_message: "The Projects add-on is not included in this Pipedrive plan or the token cannot read tasks ({{ response.get('error', 'not available') }}); skipping tasks."
              - $ref: "#/definitions/base_error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          $ref: "#/definitions/v2_cursor_paginator"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tasks"
    deal_installments:
      type: DeclarativeStream
      name: deal_installments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: api/v2/deals/installments
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            deal_ids: "{{ stream_slice['parent_id'] | join(',') }}"
            limit: "500"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 402
                      - 403
                    error_message: "Installments are not included in this Pipedrive plan or the token cannot read deals ({{ response.get('error', 'not available') }}); skipping deal_installments."
              - $ref: "#/definitions/base_error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          $ref: "#/definitions/v2_cursor_paginator"
        partition_router:
          # GET /api/v2/deals/installments accepts up to 100 deal ids per request.
          type: GroupingPartitionRouter
          group_size: 100
          deduplicate: true
          underlying_partition_router:
            type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: parent_id
                stream:
                  $ref: "#/definitions/streams/deals"
              - type: ParentStreamConfig
                parent_key: id
                partition_field: parent_id
                stream:
                  $ref: "#/definitions/streams/deals_archived"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deal_installments"
    deal_flow:
      type: DeclarativeStream
      name: deal_flow
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/deals/{{ stream_slice['parent_id'] }}/flow
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "500"
            items: dealChange
            all_changes: "1"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - $ref: "#/definitions/substream_missing_parent_error_handler"
              - $ref: "#/definitions/base_error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - "*"
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: start
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ ((response.get('additional_data') or {}).get('pagination') or {}).get('next_start') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              incremental_dependency: true
              stream:
                $ref: "#/definitions/streams/deals"
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              incremental_dependency: true
              stream:
                $ref: "#/definitions/streams/deals_archived"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: log_time
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config.get('replication_start_date') or '2010-01-01T00:00:00Z', '%Y-%m-%d %H:%M:%S') }}"
          datetime_format: "%Y-%m-%d %H:%M:%S"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deal_flow"
    permission_set_assignments:
      type: DeclarativeStream
      name: permission_set_assignments
      primary_key:
        - permission_set_id
        - user_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/permissionSets/{{ stream_slice['parent_id'] }}/assignments
          http_method: GET
          request_parameters:
            api_token: "{{ config['api_token'] }}"
            limit: "500"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: "Permission set assignments require an admin API token ({{ response.get('error', 'forbidden') }}); skipping permission_set_assignments."
              - $ref: "#/definitions/base_error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: start
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ ((response.get('additional_data') or {}).get('pagination') or {}).get('next_start') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                $ref: "#/definitions/streams/permission_sets"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/permission_set_assignments"
  base_requester:
    type: HttpRequester
    url_base: https://api.pipedrive.com/
    error_handler:
      $ref: "#/definitions/base_error_handler"
  base_error_handler:
    type: DefaultErrorHandler
    max_retries: 10
    backoff_strategies:
      - type: WaitTimeFromHeader
        header: x-ratelimit-reset
        max_waiting_time_in_seconds: 300
      - type: ExponentialBackoffStrategy
        factor: 5
    response_filters:
      - type: HttpResponseFilter
        http_codes: [401]
        action: FAIL
        failure_type: config_error
        error_message: >-
          Pipedrive rejected the API token (401: {{ response.get('error', 'unauthorized access') }}).
          In Pipedrive, open Company settings > Personal preferences > API, copy the current API token
          and update it in the connector configuration. If the API tab is missing, ask a Pipedrive
          company admin to enable API access for your user.
      - type: HttpResponseFilter
        http_codes: [402]
        action: FAIL
        failure_type: config_error
        error_message: >-
          Your Pipedrive company account is not active (402: {{ response.get('error', 'payment required') }}).
          The trial has expired or billing details are missing. Reactivate the company account in
          Pipedrive billing settings, then retry the sync.
      - type: HttpResponseFilter
        http_codes: [403]
        action: FAIL
        failure_type: config_error
        error_message: >-
          Pipedrive refused the request (403{{ ': ' ~ response['error'] if response.get('error') else '' }}).
          The token owner does not have permission to read this data, the Pipedrive plan does not include it,
          or Pipedrive's Cloudflare protection blocked the token after repeated rate-limit violations. Use an
          API token from a user with access to this data, upgrade the plan, or reduce the sync frequency and
          retry later.
      - type: HttpResponseFilter
        http_codes: [410]
        action: FAIL
        error_message: >-
          Pipedrive reports this resource as permanently removed (410{{ ': ' ~ response['error'] if response.get('error') else '' }}).
          The endpoint may have been retired by Pipedrive. Upgrade to the latest connector version or
          disable the affected stream.
      - type: HttpResponseFilter
        http_codes: [429]
        action: RATE_LIMITED
        error_message: >-
          Pipedrive rate limit reached (429: {{ response.get('error', 'request over limit') }}). Airbyte waits for
          the window reported by the x-ratelimit-reset header and retries. Burst limits are 20-120 requests
          per 2 seconds per token depending on plan. If every request is rejected, the daily API token budget
          is exhausted and resets at midnight (Pipedrive server time): reduce sync frequency or upgrade the plan.
      - type: HttpResponseFilter
        http_codes: [500, 502, 503, 504]
        action: RETRY
        error_message: Pipedrive returned a temporary server error; retrying.
  substream_missing_parent_error_handler:
    type: DefaultErrorHandler
    max_retries: 10
    response_filters:
      - type: HttpResponseFilter
        http_codes: [404, 410]
        action: IGNORE
        error_message: >-
          Pipedrive no longer has the parent record for this request ({{ response.get('error', 'not found') }});
          it was deleted or merged after the parent stream was read. Skipping its child records and continuing.
      - type: HttpResponseFilter
        http_codes: [403]
        action: IGNORE
        error_message: >-
          Pipedrive denied access to the parent record for this request ({{ response.get('error', 'forbidden') }});
          the API token owner cannot see it. Skipping its child records and continuing. Use a token from a user
          with wider visibility to sync these records.
  v2_cursor_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: cursor
    pagination_strategy:
      type: CursorPagination
      cursor_value: "{{ (response.get('additional_data') or {}).get('next_cursor') }}"

streams:
  - $ref: "#/definitions/streams/deals"
  - $ref: "#/definitions/streams/deals_archived"
  - $ref: "#/definitions/streams/deal_fields"
  - $ref: "#/definitions/streams/goals"
  - $ref: "#/definitions/streams/files"
  - $ref: "#/definitions/streams/filters"
  - $ref: "#/definitions/streams/lead_labels"
  - $ref: "#/definitions/streams/leads"
  - $ref: "#/definitions/streams/notes"
  - $ref: "#/definitions/streams/activities"
  - $ref: "#/definitions/streams/activity_types"
  - $ref: "#/definitions/streams/activity_fields"
  - $ref: "#/definitions/streams/currencies"
  - $ref: "#/definitions/streams/mail"
  - $ref: "#/definitions/streams/organizations"
  - $ref: "#/definitions/streams/organization_fields"
  - $ref: "#/definitions/streams/permission_sets"
  - $ref: "#/definitions/streams/persons"
  - $ref: "#/definitions/streams/person_fields"
  - $ref: "#/definitions/streams/pipelines"
  - $ref: "#/definitions/streams/products"
  - $ref: "#/definitions/streams/product_fields"
  - $ref: "#/definitions/streams/roles"
  - $ref: "#/definitions/streams/stages"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/deal_products"
  - $ref: "#/definitions/streams/mailThreads"
  - $ref: "#/definitions/streams/call_logs"
  - $ref: "#/definitions/streams/lead_sources"
  - $ref: "#/definitions/streams/legacy_teams"
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/tasks"
  - $ref: "#/definitions/streams/deal_installments"
  - $ref: "#/definitions/streams/deal_flow"
  - $ref: "#/definitions/streams/permission_set_assignments"

# Rate limits: https://pipedrive.readme.io/docs/core-api-concepts-rate-limiting
# Burst limit is per API token on a rolling 2-second window; the lowest plan (Essential/Lite)
# allows 20 requests per 2 seconds, so the budget uses that floor since the plan is not knowable
# from config. `x-ratelimit-reset` is intentionally not used: Pipedrive sends a relative window
# in seconds while the CDK parses that header as an epoch timestamp. `x-ratelimit-remaining` and a
# 429 only nudge the bucket when Pipedrive reports zero calls left; the fixed window below is the
# actual throttle. The matcher is path-based so it also covers the per-company hosts that OAuth
# uses (`https://<company>.pipedrive.com/api/...`).
api_budget:
  type: HTTPAPIBudget
  ratelimit_remaining_header: x-ratelimit-remaining
  status_codes_for_ratelimit_hit: [429]
  policies:
    - type: MovingWindowCallRatePolicy
      rates:
        - limit: 20
          interval: PT2S
      matchers:
        - type: HttpRequestRegexMatcher
          url_path_pattern: "^(/api)?/v[12]/"

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: "{{ config.get('num_workers') or 3 }}"
  max_concurrency: 10

spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/pipedrive
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_token
    properties:
      api_token:
        type: string
        title: API Token
        description: >-
          Your personal Pipedrive API token. In Pipedrive, click your name (top
          right) > Company settings > Personal preferences > API and copy the
          token. If the API tab is missing, ask your Pipedrive admin to enable
          API access for your user.
        airbyte_secret: true
        order: 0
      replication_start_date:
        type: string
        title: Start Date
        description: >-
          Only records created or updated on or after this UTC date and time are
          replicated. Format YYYY-MM-DDTHH:MM:SSZ, for example
          2017-01-25T00:00:00Z. Defaults to 2010-01-01T00:00:00Z when left
          empty.
        default: "2010-01-01T00:00:00Z"
        examples:
          - "2017-01-25T00:00:00Z"
        pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}([T ][0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]+)?)?(Z|[+-][0-9]{2}:?[0-9]{2})?)?$'
        pattern_descriptor: "YYYY-MM-DDTHH:MM:SSZ"
        order: 1
      num_workers:
        type: integer
        title: Number of concurrent workers
        description: >-
          Number of streams synced in parallel (1-10). All requests share one client-side request
          budget sized to Pipedrive's lowest-plan burst limit, so higher values rarely make a sync
          faster.
        minimum: 1
        maximum: 10
        default: 3
        order: 2
    additionalProperties: true
  config_normalization_rules:
    type: ConfigNormalizationRules
    config_migrations:
      - type: ConfigMigration
        description: Lift the pre-2.0.0 `authorization.api_token` field to the top-level `api_token`.
        transformations:
          - type: ConfigAddFields
            fields:
              - type: AddedFieldDefinition
                path: ["api_token"]
                value: "{{ config.get('authorization', {}).get('api_token') }}"
            condition: "{{ config.get('api_token') is none and config.get('authorization', {}).get('api_token') is not none }}"

metadata:
  autoImportSchema:
    deals: false
    deal_fields: false
    goals: false
    files: false
    filters: false
    lead_labels: false
    leads: false
    notes: false
    activities: false
    activity_types: false
    activity_fields: false
    currencies: false
    mail: false
    organizations: false
    organization_fields: false
    permission_sets: false
    persons: false
    person_fields: false
    pipelines: false
    products: false
    product_fields: false
    roles: false
    stages: false
    users: false
    deal_products: false
    mailThreads: false
    call_logs: false
    lead_sources: false
    legacy_teams: false
    projects: false
    tasks: false
    deal_installments: false
    deal_flow: false
    permission_set_assignments: false
  testedStreams:
    deal_fields:
      streamHash: 2dcceac0c36936299612f3ba221532446d068fd8
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    goals:
      streamHash: 5dd918304f44e9382ceddca3160722052db05c53
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    lead_labels:
      streamHash: 4529273c02f87dec57267625c5314171b3f06154
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    leads:
      streamHash: 7da898e49f0739935d862082377b1ed2d2e5b24d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    activity_types:
      streamHash: 0bd30dcf4935c4668bd0a5569a199fe59d4ab04b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    activity_fields:
      streamHash: 3a07394d800c448627c98ca20f03af8826a2ec48
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    currencies:
      streamHash: 18a725f171b6acdc8b82ac701280536d2451d7ae
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    mail:
      streamHash: eaf13873356a147c0c8a1f821e4e988a14e27b09
      hasResponse: false
      responsesAreSuccessful: false
      hasRecords: false
      primaryKeysArePresent: false
      primaryKeysAreUnique: false
    organizations:
      streamHash: 166c80bf7becfb09d846f0d035caf3a785f5a560
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    organization_fields:
      streamHash: af9484fdc43863ee7b41a8019b85325c025a3c28
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    permission_sets:
      streamHash: bf8d0b57f92e7086c4f61ac9c5b58517fa01dd02
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    person_fields:
      streamHash: 730346f33e25f02858f0da1c34191062ce32fa0c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    product_fields:
      streamHash: def5f6bd4ee1046efbf27f5a3c185e7ca872dd92
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    roles:
      streamHash: 0b7c02fef6ed17d9d18bbd4dde1669ab38ad497d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: 6f08d2ca937033de8e19f14ca30f80f863aa8a85
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    mailThreads:
      streamHash: 1fb532c7bd1e79a526829bc19b2728e65aff2893
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  deals:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - integer
      title:
        type:
          - "null"
          - string
      owner_id:
        type:
          - "null"
          - integer
      person_id:
        type:
          - "null"
          - integer
      org_id:
        type:
          - "null"
          - integer
      pipeline_id:
        type:
          - "null"
          - integer
      stage_id:
        type:
          - "null"
          - integer
      value:
        type:
          - "null"
          - number
      currency:
        type:
          - "null"
          - string
      add_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      update_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      stage_change_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      is_deleted:
        type:
          - "null"
          - boolean
      is_archived:
        type:
          - "null"
          - boolean
      status:
        type:
          - "null"
          - string
      probability:
        type:
          - "null"
          - number
      lost_reason:
        type:
          - "null"
          - string
      visible_to:
        type:
          - "null"
          - integer
      close_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      archive_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      local_close_date:
        type:
          - "null"
          - string
        format: date
      local_lost_date:
        type:
          - "null"
          - string
        format: date
      local_won_date:
        type:
          - "null"
          - string
        format: date
      won_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      lost_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      expected_close_date:
        type:
          - "null"
          - string
        format: date
      label_ids:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      origin:
        type:
          - "null"
          - string
      origin_id:
        type:
          - "null"
          - string
      channel:
        type:
          - "null"
          - integer
      channel_id:
        type:
          - "null"
          - string
      source_lead_id:
        type:
          - "null"
          - string
        format: uuid
      arr:
        type:
          - "null"
          - number
      mrr:
        type:
          - "null"
          - number
      acv:
        type:
          - "null"
          - number
      custom_fields:
        type:
          - "null"
          - object
        additionalProperties: true
      creator_user_id:
        type:
          - "null"
          - integer

  deal_fields:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      active_flag:
        type:
          - "null"
          - boolean
      add_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_without_timezone
      add_visible_flag:
        type:
          - "null"
          - boolean
      bulk_edit_allowed:
        type:
          - "null"
          - boolean
      details_visible_flag:
        type:
          - "null"
          - boolean
      edit_flag:
        type:
          - "null"
          - boolean
      field_type:
        type:
          - "null"
          - string
      filtering_allowed:
        type:
          - "null"
          - boolean
      group_id:
        type:
          - "null"
          - integer
      id:
        type:
          - "null"
          - integer
      id_suffix:
        type:
          - "null"
          - string
      important_flag:
        type:
          - "null"
          - boolean
      index_visible_flag:
        type:
          - "null"
          - boolean
      is_subfield:
        type:
          - "null"
          - boolean
      json_column_flag:
        type:
          - "null"
          - boolean
      key:
        type:
          - "null"
          - string
      last_updated_by_user_id:
        type:
          - "null"
          - integer
      link:
        type:
          - "null"
          - string
      mandatory_flag:
        type:
          - "null"
          - object
          - boolean
          - integer
      name:
        type:
          - "null"
          - string
      options:
        type:
          - "null"
          - array
        items:
          type: object
          additionalProperties: true
      order_nr:
        type:
          - "null"
          - integer
      parent_id:
        type:
          - "null"
          - integer
      projects_detail_visible_flag:
        type:
          - "null"
          - boolean
      searchable_flag:
        type:
          - "null"
          - boolean
      show_in_pipelines:
        type:
          - "null"
          - object
        items:
          pipeline_ids:
            type:
              - "null"
              - array
          show_in_all:
            type:
              - "null"
              - boolean
      sortable_flag:
        type:
          - "null"
          - boolean
      update_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_without_timezone
      use_field:
        type:
          - "null"
          - string
  goals:
    type:
      - object
      - "null"
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          name:
            type:
              - string
              - "null"
          params:
            type:
              - object
              - "null"
            properties:
              activity_type_id:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - number
                    - "null"
              pipeline_id:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - number
                    - "null"
      assignee:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
      duration:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          end:
            type:
              - string
              - "null"
          start:
            type:
              - string
              - "null"
      expected_outcome:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          target:
            type:
              - number
              - "null"
          tracking_metric:
            type:
              - string
              - "null"
      id:
        type:
          - string
          - "null"
      interval:
        type:
          - string
          - "null"
      is_active:
        type: boolean
      owner_id:
        type:
          - number
          - "null"
      report_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      title:
        type:
          - string
          - "null"
    title: Goals schema
  files:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - "null"
          - string
      active_flag:
        type:
          - "null"
          - boolean
      activity_id:
        type:
          - "null"
          - integer
      add_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_without_timezone
      cid:
        type:
          - "null"
          - integer
      deal_id:
        type:
          - "null"
          - integer
      deal_name:
        type:
          - "null"
          - string
      file_name:
        type:
          - "null"
          - string
      file_size:
        type:
          - "null"
          - integer
      file_type:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - integer
      inline_flag:
        type:
          - "null"
          - boolean
      lead_id:
        type:
          - "null"
          - integer
      lead_name:
        type:
          - "null"
          - string
      log_id:
        type:
          - "null"
          - integer
      mail_message_id:
        type:
          - "null"
          - integer
      mail_template_id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      org_id:
        type:
          - "null"
          - integer
      org_name:
        type:
          - "null"
          - string
      people_name:
        type:
          - "null"
          - string
      person_id:
        type:
          - "null"
          - integer
      person_name:
        type:
          - "null"
          - string
      product_id:
        type:
          - "null"
          - integer
      product_name:
        type:
          - "null"
          - string
      remote_id:
        type:
          - "null"
          - string
      remote_location:
        type:
          - "null"
          - string
      s3_bucket:
        type:
          - "null"
          - string
      update_time:
        type:
          - "null"
          - string
        airbyte_type: timestamp_without_timezone
        format: date-time
      url:
        type:
          - "null"
          - string
      user_id:
        type:
          - "null"
          - integer
  filters:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      active_flag:
        type:
          - "null"
          - boolean
      add_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_without_timezone
      custom_view_id:
        type:
          - "null"
          - integer
      id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      temporary_flag:
        type:
          - "null"
          - string
      update_time:
        type:
          - "null"
          - string
        airbyte_type: timestamp_without_timezone
        format: date-time
      user_id:
        type:
          - "null"
          - integer
      filter_code:
        type:
          - "null"
          - string
      last_used_time:
        type:
          - "null"
          - string
      visible_to:
        type:
          - "null"
          - string
  lead_labels:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      add_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      color:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      update_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
  leads:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      add_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      creator_id:
        type:
          - "null"
          - integer
      expected_close_date:
        type:
          - "null"
          - string
        format: date
      id:
        type:
          - "null"
          - string
      is_archived:
        type:
          - "null"
          - boolean
      label_ids:
        type:
          - "null"
          - array
      next_activity_id:
        type:
          - "null"
          - integer
      organization_id:
        type:
          - "null"
          - integer
      owner_id:
        type:
          - "null"
          - integer
      person_id:
        type:
          - "null"
          - integer
      source_name:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
      update_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      value:
        type:
          - "null"
          - object
        properties:
          amount:
            type:
              - "null"
              - integer
          currency:
            type:
              - "null"
              - string
      was_seen:
        type:
          - "null"
          - boolean
  notes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active_flag:
        type:
          - "null"
          - boolean
      add_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_without_timezone
      content:
        type:
          - "null"
          - string
      deal:
        type:
          - "null"
          - object
        properties:
          title:
            type:
              - "null"
              - string
      deal_id:
        type:
          - "null"
          - integer
      id:
        type:
          - "null"
          - integer
      last_update_user_id:
        type:
          - "null"
          - integer
      lead:
        type:
          - "null"
          - object
      lead_id:
        type:
          - "null"
          - integer
      org_id:
        type:
          - "null"
          - integer
      organization:
        type: object
        properties:
          name:
            type:
              - "null"
              - string
      person:
        type:
          - "null"
          - object
        properties:
          name:
            type:
              - "null"
              - string
      person_id:
        type:
          - "null"
          - integer
      pinned_to_deal_flag:
        type:
          - "null"
          - boolean
      pinned_to_lead_flag:
        type:
          - "null"
          - boolean
      pinned_to_organization_flag:
        type:
          - "null"
          - boolean
      pinned_to_person_flag:
        type:
          - "null"
          - boolean
      update_time:
        type:
          - "null"
          - string
        airbyte_type: timestamp_without_timezone
        format: date-time
      user:
        type: object
        properties:
          email:
            type:
              - "null"
              - string
          icon_url:
            type:
              - "null"
              - string
          is_you:
            type:
              - "null"
              - boolean
          name:
            type:
              - "null"
              - string
      user_id:
        type:
          - "null"
          - integer
  activities:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - integer
      subject:
        type:
          - "null"
          - string
      type:
        type:
          - "null"
          - string
      owner_id:
        type:
          - "null"
          - integer
      creator_user_id:
        type:
          - "null"
          - integer
      is_deleted:
        type:
          - "null"
          - boolean
      add_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      update_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      deal_id:
        type:
          - "null"
          - integer
      lead_id:
        type:
          - "null"
          - string
      person_id:
        type:
          - "null"
          - integer
      org_id:
        type:
          - "null"
          - integer
      project_id:
        type:
          - "null"
          - integer
      due_date:
        type:
          - "null"
          - string
        format: date
      due_time:
        type:
          - "null"
          - string
      duration:
        type:
          - "null"
          - string
      busy:
        type:
          - "null"
          - boolean
      done:
        type:
          - "null"
          - boolean
      marked_as_done_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      location:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          value:
            type:
              - "null"
              - string
          country:
            type:
              - "null"
              - string
          admin_area_level_1:
            type:
              - "null"
              - string
          admin_area_level_2:
            type:
              - "null"
              - string
          locality:
            type:
              - "null"
              - string
          sublocality:
            type:
              - "null"
              - string
          route:
            type:
              - "null"
              - string
          street_number:
            type:
              - "null"
              - string
          subpremise:
            type:
              - "null"
              - string
          postal_code:
            type:
              - "null"
              - string
      participants:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            person_id:
              type:
                - "null"
                - integer
            primary:
              type:
                - "null"
                - boolean
      attendees:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            email:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            status:
              type:
                - "null"
                - string
            is_organizer:
              type:
                - "null"
                - boolean
            person_id:
              type:
                - "null"
                - integer
            user_id:
              type:
                - "null"
                - integer
      conference_meeting_client:
        type:
          - "null"
          - string
      conference_meeting_url:
        type:
          - "null"
          - string
      conference_meeting_id:
        type:
          - "null"
          - string
      public_description:
        type:
          - "null"
          - string
      priority:
        type:
          - "null"
          - integer
      outcome:
        type:
          - "null"
          - integer
      note:
        type:
          - "null"
          - string
      custom_fields:
        type:
          - "null"
          - object
        additionalProperties: true
      private:
        type:
          - "null"
          - boolean

  activity_types:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active_flag:
        type:
          - "null"
          - boolean
      add_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_without_timezone
      color:
        type:
          - "null"
          - string
      icon_key:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - integer
      is_custom_flag:
        type:
          - "null"
          - boolean
      key_string:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      order_nr:
        type:
          - "null"
          - integer
      update_time:
        type:
          - "null"
          - string
        airbyte_type: timestamp_without_timezone
        format: date-time
  activity_fields:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      active_flag:
        type:
          - "null"
          - boolean
      add_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_without_timezone
      add_visible_flag:
        type:
          - "null"
          - boolean
      bulk_edit_allowed:
        type:
          - "null"
          - boolean
      details_visible_flag:
        type:
          - "null"
          - boolean
      edit_flag:
        type:
          - "null"
          - boolean
      field_type:
        type:
          - "null"
          - string
      filtering_allowed:
        type:
          - "null"
          - boolean
      id:
        type:
          - "null"
          - integer
      id_suffix:
        type:
          - "null"
          - string
      important_flag:
        type:
          - "null"
          - boolean
      index_visible_flag:
        type:
          - "null"
          - boolean
      is_subfield:
        type:
          - "null"
          - boolean
      json_column_flag:
        type:
          - "null"
          - boolean
      key:
        type:
          - "null"
          - string
      last_updated_by_user_id:
        type:
          - "null"
          - integer
      mandatory_flag:
        type:
          - "null"
          - boolean
      name:
        type:
          - "null"
          - string
      options:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            id:
              type:
                - "null"
                - integer
                - string
                - boolean
            label:
              type:
                - "null"
                - string
      order_nr:
        type:
          - "null"
          - integer
      parent_id:
        type:
          - "null"
          - integer
      searchable_flag:
        type:
          - "null"
          - boolean
      sortable_flag:
        type:
          - "null"
          - boolean
      update_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_without_timezone
  currencies:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active_flag:
        type:
          - "null"
          - boolean
      code:
        type:
          - "null"
          - string
      decimal_points:
        type:
          - "null"
          - integer
      id:
        type:
          - "null"
          - integer
      is_custom_flag:
        type:
          - "null"
          - boolean
      name:
        type:
          - "null"
          - string
      symbol:
        type:
          - "null"
          - string
  mail:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      account_id:
        type:
          - "null"
          - string
      add_time:
        type:
          - "null"
          - string
        format: date-time
      body_url:
        type:
          - "null"
          - string
      deleted_flag:
        type:
          - "null"
          - integer
      draft_flag:
        type:
          - "null"
          - integer
      from:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            email_address:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
            linked_person_id:
              type:
                - "null"
                - integer
            linked_person_name:
              type:
                - "null"
                - string
            mail_message_party_id:
              type:
                - "null"
                - integer
            name:
              type:
                - "null"
                - string
      has_attachments_flag:
        type:
          - "null"
          - integer
      has_body_flag:
        type:
          - "null"
          - integer
      has_inline_attachments_flag:
        type:
          - "null"
          - integer
      has_real_attachments_flag:
        type:
          - "null"
          - integer
      id:
        type:
          - "null"
          - integer
      mail_link_tracking_enabled_flag:
        type:
          - "null"
          - integer
      mail_thread_id:
        type:
          - "null"
          - integer
      message_time:
        type:
          - "null"
          - string
        format: date-time
      read_flag:
        type:
          - "null"
          - integer
      sent_flag:
        type:
          - "null"
          - integer
      sent_from_pipedrive_flag:
        type:
          - "null"
          - integer
      smart_bcc_flag:
        type:
          - "null"
          - integer
      snippet:
        type:
          - "null"
          - string
      subject:
        type:
          - "null"
          - string
      synced_flag:
        type:
          - "null"
          - integer
      to:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            email_address:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
            linked_person_id:
              type:
                - "null"
                - integer
            linked_person_name:
              type:
                - "null"
                - string
            mail_message_party_id:
              type:
                - "null"
                - integer
            name:
              type:
                - "null"
                - string
      update_time:
        type:
          - "null"
          - string
        format: date-time
      user_id:
        type:
          - "null"
          - integer
  organizations:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      owner_id:
        type:
          - "null"
          - integer
      add_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      update_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      is_deleted:
        type:
          - "null"
          - boolean
      visible_to:
        type:
          - "null"
          - integer
      address:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          value:
            type:
              - "null"
              - string
          country:
            type:
              - "null"
              - string
          admin_area_level_1:
            type:
              - "null"
              - string
          admin_area_level_2:
            type:
              - "null"
              - string
          locality:
            type:
              - "null"
              - string
          sublocality:
            type:
              - "null"
              - string
          route:
            type:
              - "null"
              - string
          street_number:
            type:
              - "null"
              - string
          subpremise:
            type:
              - "null"
              - string
          postal_code:
            type:
              - "null"
              - string
      label_ids:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      website:
        type:
          - "null"
          - string
      linkedin:
        type:
          - "null"
          - string
      industry:
        type:
          - "null"
          - integer
      annual_revenue:
        type:
          - "null"
          - integer
      employee_count:
        type:
          - "null"
          - integer
      custom_fields:
        type:
          - "null"
          - object
        additionalProperties: true

  organization_fields:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      active_flag:
        type:
          - "null"
          - boolean
      add_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_without_timezone
      add_visible_flag:
        type:
          - "null"
          - boolean
      bulk_edit_allowed:
        type:
          - "null"
          - boolean
      details_visible_flag:
        type:
          - "null"
          - boolean
      display_field:
        type:
          - "null"
          - string
      display_name:
        type:
          - "null"
          - string
      edit_flag:
        type:
          - "null"
          - boolean
      field_type:
        type:
          - "null"
          - string
      filtering_allowed:
        type:
          - "null"
          - boolean
      group_id:
        type:
          - "null"
          - integer
      id:
        type:
          - "null"
          - integer
      id_suffix:
        type:
          - "null"
          - string
      important_flag:
        type:
          - "null"
          - boolean
      index_visible_flag:
        type:
          - "null"
          - boolean
      is_subfield:
        type:
          - "null"
          - boolean
      json_column_flag:
        type:
          - "null"
          - boolean
      key:
        type:
          - "null"
          - string
      last_updated_by_user_id:
        type:
          - "null"
          - integer
      link:
        type:
          - "null"
          - string
      mandatory_flag:
        type:
          - "null"
          - boolean
      name:
        type:
          - "null"
          - string
      options:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            id:
              type:
                - "null"
                - integer
                - string
                - boolean
            label:
              type:
                - "null"
                - string
      order_nr:
        type:
          - "null"
          - integer
      parent_id:
        type:
          - "null"
          - integer
      searchable_flag:
        type:
          - "null"
          - boolean
      sortable_flag:
        type:
          - "null"
          - boolean
      update_time:
        type:
          - "null"
          - string
        airbyte_type: timestamp_without_timezone
        format: date-time
      use_field:
        type:
          - "null"
          - string
  permission_sets:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      app:
        type:
          - "null"
          - string
      assignment_count:
        type:
          - "null"
          - integer
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
  persons:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      first_name:
        type:
          - "null"
          - string
      last_name:
        type:
          - "null"
          - string
      owner_id:
        type:
          - "null"
          - integer
      org_id:
        type:
          - "null"
          - integer
      add_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      update_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      emails:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            value:
              type:
                - "null"
                - string
            primary:
              type:
                - "null"
                - boolean
            label:
              type:
                - "null"
                - string
      phones:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            value:
              type:
                - "null"
                - string
            primary:
              type:
                - "null"
                - boolean
            label:
              type:
                - "null"
                - string
      is_deleted:
        type:
          - "null"
          - boolean
      visible_to:
        type:
          - "null"
          - integer
      label_ids:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      picture_id:
        type:
          - "null"
          - integer
      postal_address:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          value:
            type:
              - "null"
              - string
          country:
            type:
              - "null"
              - string
          admin_area_level_1:
            type:
              - "null"
              - string
          admin_area_level_2:
            type:
              - "null"
              - string
          locality:
            type:
              - "null"
              - string
          sublocality:
            type:
              - "null"
              - string
          route:
            type:
              - "null"
              - string
          street_number:
            type:
              - "null"
              - string
          subpremise:
            type:
              - "null"
              - string
          postal_code:
            type:
              - "null"
              - string
      notes:
        type:
          - "null"
          - string
      im:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            value:
              type:
                - "null"
                - string
            primary:
              type:
                - "null"
                - boolean
            label:
              type:
                - "null"
                - string
      birthday:
        type:
          - "null"
          - string
        format: date
      job_title:
        type:
          - "null"
          - string
      custom_fields:
        type:
          - "null"
          - object
        additionalProperties: true

  person_fields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active_flag:
        type:
          - "null"
          - boolean
      add_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_without_timezone
      add_visible_flag:
        type:
          - "null"
          - boolean
      bulk_edit_allowed:
        type:
          - "null"
          - boolean
      details_visible_flag:
        type:
          - "null"
          - boolean
      display_field:
        type:
          - "null"
          - string
      edit_flag:
        type:
          - "null"
          - boolean
      field_type:
        type:
          - "null"
          - string
      filtering_allowed:
        type:
          - "null"
          - boolean
      id:
        type:
          - "null"
          - integer
      important_flag:
        type:
          - "null"
          - boolean
      index_visible_flag:
        type:
          - "null"
          - boolean
      json_column_flag:
        type:
          - "null"
          - boolean
      key:
        type:
          - "null"
          - string
      last_updated_by_user_id:
        type:
          - "null"
          - integer
      link:
        type:
          - "null"
          - string
      mandatory_flag:
        type:
          - "null"
          - boolean
      name:
        type:
          - "null"
          - string
      options:
        type:
          - "null"
          - array
        items:
          type: object
          properties:
            id:
              type:
                - "null"
                - boolean
                - integer
            label:
              type:
                - "null"
                - string
      order_nr:
        type:
          - "null"
          - integer
      searchable_flag:
        type:
          - "null"
          - boolean
      sortable_flag:
        type:
          - "null"
          - boolean
      update_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_without_timezone
      use_field:
        type:
          - "null"
          - string
  pipelines:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      order_nr:
        type:
          - "null"
          - integer
      is_deleted:
        type:
          - "null"
          - boolean
      is_deal_probability_enabled:
        type:
          - "null"
          - boolean
      add_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      update_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone

  products:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      code:
        type:
          - "null"
          - string
      unit:
        type:
          - "null"
          - string
      tax:
        type:
          - "null"
          - number
      is_deleted:
        type:
          - "null"
          - boolean
      is_linkable:
        type:
          - "null"
          - boolean
      visible_to:
        type:
          - "null"
          - integer
      owner_id:
        type:
          - "null"
          - integer
      add_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      update_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      description:
        type:
          - "null"
          - string
      category:
        type:
          - "null"
          - string
      custom_fields:
        type:
          - "null"
          - object
        additionalProperties: true
      billing_frequency:
        type:
          - "null"
          - string
      billing_frequency_cycles:
        type:
          - "null"
          - integer
      prices:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            price:
              type:
                - "null"
                - number
            cost:
              type:
                - "null"
                - number
            product_id:
              type:
                - "null"
                - integer
            currency:
              type:
                - "null"
                - string
            direct_cost:
              type:
                - "null"
                - number
            notes:
              type:
                - "null"
                - string

  product_fields:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      active_flag:
        type:
          - "null"
          - boolean
      add_time:
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_without_timezone
      add_visible_flag:
        type:
          - "null"
          - boolean
      bulk_edit_allowed:
        type:
          - "null"
          - boolean
      details_visible_flag:
        type:
          - "null"
          - boolean
      display_field:
        type:
          - "null"
          - string
      edit_flag:
        type:
          - "null"
          - boolean
      field_type:
        type:
          - "null"
          - string
      filtering_allowed:
        type:
          - "null"
          - boolean
      id:
        type:
          - "null"
          - integer
      important_flag:
        type:
          - "null"
          - boolean
      index_visible_flag:
        type:
          - "null"
          - boolean
      json_column_flag:
        type:
          - "null"
          - boolean
      key:
        type:
          - "null"
          - string
      last_updated_by_user_id:
        type:
          - "null"
          - integer
      link:
        type:
          - "null"
          - string
      mandatory_flag:
        type:
          - "null"
          - boolean
[...]
