@use "scss/variables";
@use "scss/colors";

.button {
  padding: variables.$spacing-sm variables.$spacing-md;
  background-color: transparent;
  border: variables.$border-thin solid colors.$dark-blue;
  border-radius: variables.$border-radius-xs;
  display: flex;
  align-items: center;
}

.arrow {
  margin-left: auto;
  font-size: 10px;
}
