@use "scss/variables";
@use "scss/colors";

$buttonHeight: 36px;

.container {
  padding: variables.$spacing-lg;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.configButton {
  position: absolute;
  top: variables.$spacing-lg;
  left: variables.$spacing-lg;
  height: $buttonHeight;
  width: $buttonHeight;
}

.streamSelector {
  flex: 0 0 auto;
  height: $buttonHeight;
}

.selectAndTestContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-lg;
}

.listErrorDisplay {
  margin: calc(variables.$spacing-lg + $buttonHeight) auto auto;
  padding: variables.$spacing-lg;
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-md;
  background-color: colors.$blue-50;
  border-radius: variables.$border-radius-md;
}

.loadingSpinner {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
