version: 6.41.5

type: DeclarativeSource

description: |-
  Website: https://app.heypoplar.com/
  Documentation: https://developers.heypoplar.com/

check:
  type: CheckStream
  stream_names:
    - campaigns

definitions:
  streams:
    campaigns:
      type: DeclarativeStream
      name: campaigns
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/campaigns
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 1
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: Forbidden
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns"
    creatives:
      type: DeclarativeStream
      name: creatives
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/campaign/{{ stream_partition['cmp_id'] }}/creatives
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: cmp_id
              stream:
                $ref: "#/definitions/streams/campaigns"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/creatives"
    audiences:
      type: DeclarativeStream
      name: audiences
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/audiences
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 1
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: Forbidden
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/audiences"
    mailings:
      type: DeclarativeStream
      name: mailings
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/campaign/{{ stream_partition['cmp_id'] }}/mailings
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 1
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: Forbidden
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: cmp_id
              stream:
                $ref: "#/definitions/streams/campaigns"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S"
          - "%Y-%m-%dT%H:%M:%SZ"
          - "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: start_date
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end_date
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/mailings"
    me:
      type: DeclarativeStream
      name: me
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/me
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 1
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 403
                    error_message: Forbidden
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/me"
  base_requester:
    type: HttpRequester
    url_base: https://api.heypoplar.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"access_token\"] }}"

streams:
  - $ref: "#/definitions/streams/campaigns"
  - $ref: "#/definitions/streams/creatives"
  - $ref: "#/definitions/streams/audiences"
  - $ref: "#/definitions/streams/mailings"
  - $ref: "#/definitions/streams/me"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - access_token
      - start_date
    properties:
      access_token:
        type: string
        description: >-
          Your Poplar API Access Token. Generate it from the [API Credentials
          page](https://app.heypoplar.com/credentials) in your account. Use a
          production token for live data or a test token for testing purposes.
        name: access_token
        order: 0
        title: Access Token
        airbyte_secret: true
      start_date:
        type: string
        order: 1
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  autoImportSchema:
    campaigns: true
    creatives: false
    audiences: true
    mailings: false
    me: true
  testedStreams:
    campaigns:
      hasRecords: true
      streamHash: e66060806ba249c6745e1286210a5e7bff0bc046
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    creatives:
      hasRecords: true
      streamHash: fdcf2cea85104731b7f441d1b429ff1a8548c0e7
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    audiences:
      hasRecords: true
      streamHash: 94a6508c68bc53732665364ab70a034c8c4a6f14
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    mailings:
      hasRecords: false
      streamHash: 264523c636f55858437910222ecf9937785b1f1a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    me:
      hasRecords: true
      streamHash: b96e1dfa70b834a6848ae7e58a187ce798e9aafc
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist:
    docsUrl: https://developers.heypoplar.com/endpoints/other-endpoints

schemas:
  campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
    required:
      - id
  creatives:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  audiences:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      id:
        type: string
      member_count:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
    required:
      - id
  mailings:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      address:
        type:
          - object
          - "null"
        properties:
          address_1:
            type:
              - string
              - "null"
          address_2:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
          company:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          postal_code:
            type:
              - string
              - "null"
          state_name:
            type:
              - string
              - "null"
      back_url:
        type:
          - string
          - "null"
      campaign_id:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      creative_id:
        type:
          - string
          - "null"
      front_url:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      merge_tags:
        type:
          - object
          - "null"
        properties: {}
      pdf_url:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      total_cost:
        type:
          - string
          - "null"
    title: Generated schema for Root
    additionalProperties: true
  me:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      mode:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
    required:
      - id
