version: 7.0.4

type: DeclarativeSource

description: >-
  This connector retrieves the latest Known Exploited Vulnerabilities (KEV)
  catalog published by CISA from their public JSON feed.

check:
  type: CheckStream
  stream_names:
    - CISA-KEV

streams:
  - type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
        record_filter:
          type: RecordFilter
          condition: vulnerabilities[*]
      requester:
        type: HttpRequester
        http_method: GET
        url: >-
          https://www.cisa.gov/sites/default/files/feeds/known_exploited_vulnerabilities.json
    name: CISA-KEV
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          title:
            type:
              - string
              - "null"
          catalogVersion:
            type:
              - string
              - "null"
          dateReleased:
            type:
              - string
              - "null"
          count:
            type:
              - number
              - "null"
          vulnerabilities:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                cveID:
                  type:
                    - string
                    - "null"
                vendorProject:
                  type:
                    - string
                    - "null"
                product:
                  type:
                    - string
                    - "null"
                vulnerabilityName:
                  type:
                    - string
                    - "null"
                dateAdded:
                  type:
                    - string
                    - "null"
                shortDescription:
                  type:
                    - string
                    - "null"
                requiredAction:
                  type:
                    - string
                    - "null"
                dueDate:
                  type:
                    - string
                    - "null"
                knownRansomwareCampaignUse:
                  type:
                    - string
                    - "null"
                notes:
                  type:
                    - string
                    - "null"
                cwes:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - string
                      - "null"
        additionalProperties: true

spec:
  type: Spec
  connection_specification:
    type: object
    properties: {}

metadata:
  testedStreams:
    stream_0:
      streamHash: ad11f9fa446b445a056b0f48d54e74059e0bc977
    CISA-KEV:
      streamHash: f790fe06001b56eb662676ac2ccd159bff4f408e
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  autoImportSchema:
    CISA-KEV: true

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 1
