version: 7.0.4

type: DeclarativeSource

description: >-
  This connector retrieves the latest Known Exploited Vulnerabilities (KEV)
  catalog published by CISA from their public JSON feed.

check:
  type: CheckStream
  stream_names:
    - CISA-KEV

streams:
  - type: DeclarativeStream
    name: CISA-KEV
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: >-
          https://www.cisa.gov/sites/default/files/feeds/known_exploited_vulnerabilities.json
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - vulnerabilities
        record_filter:
          type: RecordFilter
          condition: body
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          cveID:
            type: string
          vendorProject:
            type:
              - string
              - "null"
          product:
            type:
              - string
              - "null"
          vulnerabilityName:
            type:
              - string
              - "null"
          dateAdded:
            type:
              - string
              - "null"
          shortDescription:
            type:
              - string
              - "null"
          requiredAction:
            type:
              - string
              - "null"
          dueDate:
            type:
              - string
              - "null"
          knownRansomwareCampaignUse:
            type:
              - string
              - "null"
          notes:
            type:
              - string
              - "null"
          cwes:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
        required:
          - cveID
        additionalProperties: true
    primary_key: cveID

spec:
  type: Spec
  connection_specification:
    type: object
    properties: {}

metadata:
  testedStreams:
    CISA-KEV:
      isStale: false
      hasRecords: true
      streamHash: a2e45ba51ad4a5e79657a07c2e20be3be0e6ea43
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    stream_0:
      streamHash: ad11f9fa446b445a056b0f48d54e74059e0bc977
  autoImportSchema:
    CISA-KEV: true

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 1
