version: 0.86.3
type: DeclarativeSource

definitions:
  # Authenticator
  authenticator:
    type: CustomAuthenticator
    class_name: source_pinterest.components.auth.PinterestOauthAuthenticator
    client_id: "{{ config.get('credentials', {}).get('client_id', config['client_id']) }}"
    client_secret: "{{ config.get('credentials', {}).get('client_secret', config['client_secret']) }}"
    refresh_token: "{{ config.get('credentials', {}).get('refresh_token', config['refresh_token']) }}"
    token_refresh_endpoint: "https://api.pinterest.com/v5/oauth/token"

  # Requester
  requester:
    type: HttpRequester
    url_base: "https://api.pinterest.com/v5/"
    http_method: GET
    authenticator: "#/definitions/authenticator"
    error_handler:
      type: CompositeErrorHandler
      error_handlers:
        - type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: "X-RateLimit-Reset"
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              error_message: "Max rate limit exceeded"
              http_codes: [429]
              predicate: "{{ response.get('code') == 8 }}"
            - type: HttpResponseFilter
              action: RETRY
              http_codes: [429]
        - type: DefaultErrorHandler # adding this DefaultErrorHandler for 5XX error codes

  # Selector
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: ["items"]

  # Retrievers
  retriever:
    type: SimpleRetriever
    record_selector: "#/definitions/selector"
    requester: "#/definitions/requester"
    paginator:
      type: DefaultPaginator
      pagination_strategy:
        type: CursorPagination
        cursor_value: "{{ response.get('bookmark') }}"
      page_token_option:
        type: RequestOption
        field_name: bookmark
        inject_into: request_parameter

  board_based_retriever:
    $ref: "#/definitions/retriever"
    partition_router:
      type: SubstreamPartitionRouter
      parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: "id"
          stream: "#/definitions/boards_stream"
          partition_field: "id"

  ad_account_based_retriever:
    $ref: "#/definitions/retriever"
    partition_router:
      type: SubstreamPartitionRouter
      parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: "id"
          stream: "#/definitions/ad_accounts_stream"
          partition_field: "id"

  analytics_retriever:
    $ref: "#/definitions/ad_account_based_retriever"
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path: []
    paginator:
      type: NoPagination
    requester:
      $ref: "#/definitions/requester"
      request_parameters:
        granularity: "DAY"
        columns: "ADVERTISER_ID,AD_ACCOUNT_ID,AD_GROUP_ENTITY_STATUS,AD_GROUP_ID,AD_ID,CAMPAIGN_DAILY_SPEND_CAP,CAMPAIGN_ENTITY_STATUS,CAMPAIGN_ID,CAMPAIGN_LIFETIME_SPEND_CAP,CAMPAIGN_NAME,CHECKOUT_ROAS,CLICKTHROUGH_1,CLICKTHROUGH_1_GROSS,CLICKTHROUGH_2,CPC_IN_MICRO_DOLLAR,CPM_IN_DOLLAR,CPM_IN_MICRO_DOLLAR,CTR,CTR_2,ECPCV_IN_DOLLAR,ECPCV_P95_IN_DOLLAR,ECPC_IN_DOLLAR,ECPC_IN_MICRO_DOLLAR,ECPE_IN_DOLLAR,ECPM_IN_MICRO_DOLLAR,ECPV_IN_DOLLAR,ECTR,EENGAGEMENT_RATE,ENGAGEMENT_1,ENGAGEMENT_2,ENGAGEMENT_RATE,IDEA_PIN_PRODUCT_TAG_VISIT_1,IDEA_PIN_PRODUCT_TAG_VISIT_2,IMPRESSION_1,IMPRESSION_1_GROSS,IMPRESSION_2,INAPP_CHECKOUT_COST_PER_ACTION,OUTBOUND_CLICK_1,OUTBOUND_CLICK_2,PAGE_VISIT_COST_PER_ACTION,PAGE_VISIT_ROAS,PAID_IMPRESSION,PIN_ID,PIN_PROMOTION_ID,REPIN_1,REPIN_2,REPIN_RATE,SPEND_IN_DOLLAR,SPEND_IN_MICRO_DOLLAR,TOTAL_CHECKOUT,TOTAL_CHECKOUT_VALUE_IN_MICRO_DOLLAR,TOTAL_CLICKTHROUGH,TOTAL_CLICK_ADD_TO_CART,TOTAL_CLICK_CHECKOUT,TOTAL_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR,TOTAL_CLICK_LEAD,TOTAL_CLICK_SIGNUP,TOTAL_CLICK_SIGNUP_VALUE_IN_MICRO_DOLLAR,TOTAL_CONVERSIONS,TOTAL_CUSTOM,TOTAL_ENGAGEMENT,TOTAL_ENGAGEMENT_CHECKOUT,TOTAL_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR,TOTAL_ENGAGEMENT_LEAD,TOTAL_ENGAGEMENT_SIGNUP,TOTAL_ENGAGEMENT_SIGNUP_VALUE_IN_MICRO_DOLLAR,TOTAL_IDEA_PIN_PRODUCT_TAG_VISIT,TOTAL_IMPRESSION_FREQUENCY,TOTAL_IMPRESSION_USER,TOTAL_LEAD,TOTAL_OFFLINE_CHECKOUT,TOTAL_PAGE_VISIT,TOTAL_REPIN_RATE,TOTAL_SIGNUP,TOTAL_SIGNUP_VALUE_IN_MICRO_DOLLAR,TOTAL_VIDEO_3SEC_VIEWS,TOTAL_VIDEO_AVG_WATCHTIME_IN_SECOND,TOTAL_VIDEO_MRC_VIEWS,TOTAL_VIDEO_P0_COMBINED,TOTAL_VIDEO_P100_COMPLETE,TOTAL_VIDEO_P25_COMBINED,TOTAL_VIDEO_P50_COMBINED,TOTAL_VIDEO_P75_COMBINED,TOTAL_VIDEO_P95_COMBINED,TOTAL_VIEW_ADD_TO_CART,TOTAL_VIEW_CHECKOUT,TOTAL_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR,TOTAL_VIEW_LEAD,TOTAL_VIEW_SIGNUP,TOTAL_VIEW_SIGNUP_VALUE_IN_MICRO_DOLLAR,TOTAL_WEB_CHECKOUT,TOTAL_WEB_CHECKOUT_VALUE_IN_MICRO_DOLLAR,TOTAL_WEB_CLICK_CHECKOUT,TOTAL_WEB_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR,TOTAL_WEB_ENGAGEMENT_CHECKOUT,TOTAL_WEB_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR,TOTAL_WEB_SESSIONS,TOTAL_WEB_VIEW_CHECKOUT,TOTAL_WEB_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR,VIDEO_3SEC_VIEWS_2,VIDEO_LENGTH,VIDEO_MRC_VIEWS_2,VIDEO_P0_COMBINED_2,VIDEO_P100_COMPLETE_2,VIDEO_P25_COMBINED_2,VIDEO_P50_COMBINED_2,VIDEO_P75_COMBINED_2,VIDEO_P95_COMBINED_2,WEB_CHECKOUT_COST_PER_ACTION,WEB_CHECKOUT_ROAS,WEB_SESSIONS_1,WEB_SESSIONS_2"

  # Base stream
  base_stream:
    type: DeclarativeStream
    retriever: "#/definitions/retriever"
    primary_key: "id"

  base_semi_incremental_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/ad_account_based_retriever"
      record_selector:
        $ref: "#/definitions/selector"
        record_filter:
          type: RecordFilter
          condition: "{{ not stream_state or record.get('updated_time') >= stream_state.get('updated_time') }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "updated_time"
      datetime_format: "%Y-%m-%d"
      start_datetime: "{{ config.get('start_date') if config.get('start_date') and config.get('start_date') > day_delta(-89, format='%Y-%m-%d') else day_delta(-89, format='%Y-%m-%d') }}"

  base_analytics_stream:
    type: DeclarativeStream
    primary_key: []
    retriever: "#/definitions/analytics_retriever"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "updated_time"
      datetime_format: "%Y-%m-%d"
      start_datetime: "{{ config.get('start_date') if config.get('start_date') and config.get('start_date') > day_delta(-89, format='%Y-%m-%d') else day_delta(-89, format='%Y-%m-%d') }}"
      cursor_granularity: "P1D"
      step: "P30D"
      start_time_option:
        type: RequestOption
        field_name: "start_date"
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: "end_date"
        inject_into: request_parameter

  # Full refresh streams
  boards_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/boards/list
    name: "boards"
    $ref: "#/definitions/base_stream"
    $parameters:
      path: "boards"

  catalogs_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/catalogs/list
    name: "catalogs"
    $ref: "#/definitions/base_stream"
    $parameters:
      path: "catalogs"

  catalogs_feeds_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/feeds/list
    name: "catalogs_feeds"
    $ref: "#/definitions/base_stream"
    transformations:
      - type: RemoveFields
        field_pointers:
          - ["credentials"]
    $parameters:
      path: "catalogs/feeds"

  catalogs_product_groups_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/catalogs_product_groups/list
    name: "catalogs_product_groups"
    $ref: "#/definitions/base_stream"
    $parameters:
      path: "catalogs/product_groups"

  ad_accounts_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/ad_accounts/list
    name: "ad_accounts"
    $ref: "#/definitions/base_stream"
    $parameters:
      path: "ad_accounts"

  board_sections_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/board_sections/list
    name: "board_sections"
    $ref: "#/definitions/base_stream"
    retriever: "#/definitions/board_based_retriever"
    $parameters:
      path: "boards/{{ stream_slice.id }}/sections"

  board_pins_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/boards/list_pins
    name: "board_pins"
    $ref: "#/definitions/base_stream"
    retriever: "#/definitions/board_based_retriever"
    $parameters:
      path: "boards/{{ stream_slice.id }}/pins"

  board_section_pins_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/board_sections/list_pins
    name: "board_section_pins"
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/retriever"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: "id"
            stream: "#/definitions/board_sections_stream"
            partition_field: "id"
    $parameters:
      path: "boards/{{ stream_slice.parent_slice.id }}/sections/{{ stream_slice.id }}/pins"

  audiences_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/audiences/list
    name: "audiences"
    $ref: "#/definitions/base_stream"
    retriever: "#/definitions/ad_account_based_retriever"
    $parameters:
      path: "ad_accounts/{{ stream_slice.id }}/audiences"

  keywords_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/keywords/get
    name: "keywords"
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/retriever"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: "id"
            stream: "#/definitions/ad_groups_stream"
            partition_field: "id"
    $parameters:
      path: "ad_accounts/{{ stream_slice.parent_slice.id }}/keywords?ad_group_id={{ stream_slice.id }}"

  conversion_tags_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/conversion_tags/list
    name: "conversion_tags"
    $ref: "#/definitions/base_stream"
    retriever: "#/definitions/ad_account_based_retriever"
    $parameters:
      path: "ad_accounts/{{ stream_slice.id }}/conversion_tags"

  customer_lists_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#tag/customer_lists
    name: "customer_lists"
    $ref: "#/definitions/base_stream"
    retriever: "#/definitions/ad_account_based_retriever"
    $parameters:
      path: "ad_accounts/{{ stream_slice.id }}/customer_lists"

  # Semi-Incremental streams
  campaigns_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/campaigns/list
    name: "campaigns"
    $ref: "#/definitions/base_semi_incremental_stream"
    $parameters:
      path: "ad_accounts/{{ stream_slice.id }}/campaigns{{ '?entity_statuses=' + ','.join(config.get('status')) if config.get('status') else '' }}"

  ad_groups_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/ad_groups/list
    name: "ad_groups"
    $ref: "#/definitions/base_semi_incremental_stream"
    $parameters:
      path: "ad_accounts/{{ stream_slice.id }}/ad_groups{{ '?entity_statuses=' + ','.join(config.get('status')) if config.get('status') else '' }}"

  ads_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/ads/list
    name: "ads"
    $ref: "#/definitions/base_semi_incremental_stream"
    $parameters:
      path: "ad_accounts/{{ stream_slice.id }}/ads{{ '?entity_statuses=' + ','.join(config.get('status')) if config.get('status') else '' }}"

  # Analytics streams
  ad_account_analytics_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/ad_account/analytics
    name: "ad_account_analytics"
    $ref: "#/definitions/base_analytics_stream"
    $parameters:
      path: "ad_accounts/{{ stream_slice.id }}/analytics"

streams:
  # Full refresh streams
  - "#/definitions/boards_stream"
  - "#/definitions/catalogs_stream"
  - "#/definitions/catalogs_feeds_stream"
  - "#/definitions/catalogs_product_groups_stream"
  - "#/definitions/ad_accounts_stream"
  - "#/definitions/board_sections_stream"
  - "#/definitions/board_pins_stream"
  - "#/definitions/board_section_pins_stream"
  - "#/definitions/audiences_stream"
  - "#/definitions/keywords_stream"
  - "#/definitions/conversion_tags_stream"
  - "#/definitions/customer_lists_stream"

  # Semi-Incremental streams
  - "#/definitions/campaigns_stream"
  - "#/definitions/ad_groups_stream"
  - "#/definitions/ads_stream"

  # Analytics streams
  - "#/definitions/ad_account_analytics_stream"

check:
  type: CheckStream
  stream_names:
    - boards
