version: 0.86.3
type: DeclarativeSource

definitions:
  # Authenticator
  authenticator:
    type: CustomAuthenticator
    class_name: source_pinterest.components.auth.PinterestOauthAuthenticator
    client_id: "{{ config.get('credentials', {}).get('client_id', config['client_id']) }}"
    client_secret: "{{ config.get('credentials', {}).get('client_secret', config['client_secret']) }}"
    refresh_token: "{{ config.get('credentials', {}).get('refresh_token', config['refresh_token']) }}"
    token_refresh_endpoint: "https://api.pinterest.com/v5/oauth/token"

  # Requester
  requester:
    type: HttpRequester
    url_base: "https://api.pinterest.com/v5/"
    http_method: GET
    authenticator: "#/definitions/authenticator"

  # Selector
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: ["items"]

  # Paginator
  paginator:
    type: DefaultPaginator
    pagination_strategy:
      type: CursorPagination
      cursor_value: "{{ response.get('bookmark') }}"
    page_token_option:
      type: RequestOption
      field_name: bookmark
      inject_into: request_parameter

  # Retrievers
  retriever:
    type: SimpleRetriever
    record_selector: "#/definitions/selector"
    requester: "#/definitions/requester"
    paginator: "#/definitions/paginator"

  board_based_retriever:
    $ref: "#/definitions/retriever"
    partition_router:
      type: SubstreamPartitionRouter
      parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: "id"
          stream: "#/definitions/boards_stream"
          partition_field: "id"

  ad_account_based_retriever:
    $ref: "#/definitions/retriever"
    partition_router:
      type: SubstreamPartitionRouter
      parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: "id"
          stream: "#/definitions/ad_accounts_stream"
          partition_field: "id"

  # Base stream
  base_stream:
    type: DeclarativeStream
    retriever: "#/definitions/retriever"
    primary_key: "id"

  # Full refresh streams
  boards_stream:
    name: "boards"
    $ref: "#/definitions/base_stream"
    $parameters:
      path: "boards"

  catalogs_stream:
    name: "catalogs"
    $ref: "#/definitions/base_stream"
    $parameters:
      path: "catalogs"

  catalogs_feeds_stream:
    name: "catalogs_feeds"
    $ref: "#/definitions/base_stream"
    transformations:
      - type: RemoveFields
        field_pointers:
          - ["credentials"]
    $parameters:
      path: "catalogs/feeds"

  catalogs_product_groups_stream:
    name: "catalogs_product_groups"
    $ref: "#/definitions/base_stream"
    $parameters:
      path: "catalogs/product_groups"

  ad_accounts_stream:
    name: "ad_accounts"
    $ref: "#/definitions/base_stream"
    $parameters:
      path: "ad_accounts"

  board_sections_stream:
    name: "board_sections"
    $ref: "#/definitions/base_stream"
    retriever: "#/definitions/board_based_retriever"
    $parameters:
      path: "boards/{{ stream_slice.id }}/sections"

  board_pins_stream:
    name: "board_pins"
    $ref: "#/definitions/base_stream"
    retriever: "#/definitions/board_based_retriever"
    $parameters:
      path: "boards/{{ stream_slice.id }}/pins"

  audiences_stream:
    name: "audiences"
    $ref: "#/definitions/base_stream"
    retriever: "#/definitions/ad_account_based_retriever"
    $parameters:
      path: "ad_accounts/{{ stream_slice.id }}/audiences"

  conversion_tags_stream:
    name: "conversion_tags"
    $ref: "#/definitions/base_stream"
    retriever: "#/definitions/ad_account_based_retriever"
    $parameters:
      path: "ad_accounts/{{ stream_slice.id }}/conversion_tags"

  customer_lists_stream:
    name: "customer_lists"
    $ref: "#/definitions/base_stream"
    retriever: "#/definitions/ad_account_based_retriever"
    $parameters:
      path: "ad_accounts/{{ stream_slice.id }}/customer_lists"

streams:
  - "#/definitions/boards_stream"
  - "#/definitions/catalogs_stream"
  - "#/definitions/catalogs_feeds_stream"
  - "#/definitions/catalogs_product_groups_stream"
  - "#/definitions/ad_accounts_stream"
  - "#/definitions/board_sections_stream"
  - "#/definitions/board_pins_stream"
  - "#/definitions/audiences_stream"
  - "#/definitions/conversion_tags_stream"
  - "#/definitions/customer_lists_stream"

check:
  type: CheckStream
  stream_names:
    - boards
