version: 0.86.3
type: DeclarativeSource

definitions:
  # Authenticator
  authenticator:
    type: CustomAuthenticator
    class_name: source_pinterest.components.auth.PinterestOauthAuthenticator
    client_id: "{{ config.get('credentials', {}).get('client_id', config['client_id']) }}"
    client_secret: "{{ config.get('credentials', {}).get('client_secret', config['client_secret']) }}"
    refresh_token: "{{ config.get('credentials', {}).get('refresh_token', config['refresh_token']) }}"
    token_refresh_endpoint: "https://api.pinterest.com/v5/oauth/token"

  # Error handlers
  base_error_handler:
    type: DefaultErrorHandler
    backoff_strategies:
      - type: WaitTimeFromHeader
        header: "X-RateLimit-Reset"
    response_filters:
      - type: HttpResponseFilter
        action: IGNORE
        error_message: "Max rate limit exceeded"
        predicate: "{{ response.get('code') == 8 }}"
      - type: HttpResponseFilter
        action: IGNORE
        error_message: "Can't access catalog product groups because there is no existing catalog."
        http_codes: [409]
      - type: HttpResponseFilter
        action: FAIL
        error_message: "Try to re-authenticate because current refresh token is not valid."
        error_message_contains: "401 Client Error: Unauthorized for url"
        http_codes: [401]
      - type: HttpResponseFilter
        action: RETRY
        http_codes: [500]

  analytics_error_handler:
    type: DefaultErrorHandler
    backoff_strategies:
      - type: ConstantBackoffStrategy
        backoff_time_in_seconds: 1
    response_filters:
      - type: HttpResponseFilter
        action: RETRY
        http_codes: [400]

  # Requester
  requester:
    type: HttpRequester
    url_base: "https://api.pinterest.com/v5/"
    http_method: GET
    authenticator: "#/definitions/authenticator"
    error_handler: "#/definitions/base_error_handler"

  # Selector
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: ["items"]

  # Retrievers
  retriever:
    type: SimpleRetriever
    record_selector: "#/definitions/selector"
    requester: "#/definitions/requester"
    paginator:
      type: DefaultPaginator
      pagination_strategy:
        type: CursorPagination
        cursor_value: "{{ response.get('bookmark') }}"
      page_token_option:
        type: RequestOption
        field_name: bookmark
        inject_into: request_parameter

  board_based_retriever:
    $ref: "#/definitions/retriever"
    partition_router:
      type: SubstreamPartitionRouter
      parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: "id"
          stream: "#/definitions/boards_stream"
          partition_field: "id"

  ad_account_based_retriever:
    $ref: "#/definitions/retriever"
    partition_router:
      type: SubstreamPartitionRouter
      parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: "id"
          stream: "#/definitions/ad_accounts_stream"
          partition_field: "id"

  analytics_retriever:
    $ref: "#/definitions/ad_account_based_retriever"
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path: []
    paginator:
      type: NoPagination
    requester:
      $ref: "#/definitions/requester"
      error_handler:
        type: CompositeErrorHandler
        error_handlers:
          - "#/definitions/analytics_error_handler"
          - "#/definitions/base_error_handler"
      request_parameters:
        granularity: "DAY"
        columns: "ADVERTISER_ID,AD_ACCOUNT_ID,AD_GROUP_ENTITY_STATUS,AD_GROUP_ID,AD_ID,CAMPAIGN_DAILY_SPEND_CAP,CAMPAIGN_ENTITY_STATUS,CAMPAIGN_ID,CAMPAIGN_LIFETIME_SPEND_CAP,CAMPAIGN_NAME,CHECKOUT_ROAS,CLICKTHROUGH_1,CLICKTHROUGH_1_GROSS,CLICKTHROUGH_2,CPC_IN_MICRO_DOLLAR,CPM_IN_DOLLAR,CPM_IN_MICRO_DOLLAR,CTR,CTR_2,ECPCV_IN_DOLLAR,ECPCV_P95_IN_DOLLAR,ECPC_IN_DOLLAR,ECPC_IN_MICRO_DOLLAR,ECPE_IN_DOLLAR,ECPM_IN_MICRO_DOLLAR,ECPV_IN_DOLLAR,ECTR,EENGAGEMENT_RATE,ENGAGEMENT_1,ENGAGEMENT_2,ENGAGEMENT_RATE,IDEA_PIN_PRODUCT_TAG_VISIT_1,IDEA_PIN_PRODUCT_TAG_VISIT_2,IMPRESSION_1,IMPRESSION_1_GROSS,IMPRESSION_2,INAPP_CHECKOUT_COST_PER_ACTION,OUTBOUND_CLICK_1,OUTBOUND_CLICK_2,PAGE_VISIT_COST_PER_ACTION,PAGE_VISIT_ROAS,PAID_IMPRESSION,PIN_ID,PIN_PROMOTION_ID,REPIN_1,REPIN_2,REPIN_RATE,SPEND_IN_DOLLAR,SPEND_IN_MICRO_DOLLAR,TOTAL_CHECKOUT,TOTAL_CHECKOUT_VALUE_IN_MICRO_DOLLAR,TOTAL_CLICKTHROUGH,TOTAL_CLICK_ADD_TO_CART,TOTAL_CLICK_CHECKOUT,TOTAL_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR,TOTAL_CLICK_LEAD,TOTAL_CLICK_SIGNUP,TOTAL_CLICK_SIGNUP_VALUE_IN_MICRO_DOLLAR,TOTAL_CONVERSIONS,TOTAL_CUSTOM,TOTAL_ENGAGEMENT,TOTAL_ENGAGEMENT_CHECKOUT,TOTAL_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR,TOTAL_ENGAGEMENT_LEAD,TOTAL_ENGAGEMENT_SIGNUP,TOTAL_ENGAGEMENT_SIGNUP_VALUE_IN_MICRO_DOLLAR,TOTAL_IDEA_PIN_PRODUCT_TAG_VISIT,TOTAL_IMPRESSION_FREQUENCY,TOTAL_IMPRESSION_USER,TOTAL_LEAD,TOTAL_OFFLINE_CHECKOUT,TOTAL_PAGE_VISIT,TOTAL_REPIN_RATE,TOTAL_SIGNUP,TOTAL_SIGNUP_VALUE_IN_MICRO_DOLLAR,TOTAL_VIDEO_3SEC_VIEWS,TOTAL_VIDEO_AVG_WATCHTIME_IN_SECOND,TOTAL_VIDEO_MRC_VIEWS,TOTAL_VIDEO_P0_COMBINED,TOTAL_VIDEO_P100_COMPLETE,TOTAL_VIDEO_P25_COMBINED,TOTAL_VIDEO_P50_COMBINED,TOTAL_VIDEO_P75_COMBINED,TOTAL_VIDEO_P95_COMBINED,TOTAL_VIEW_ADD_TO_CART,TOTAL_VIEW_CHECKOUT,TOTAL_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR,TOTAL_VIEW_LEAD,TOTAL_VIEW_SIGNUP,TOTAL_VIEW_SIGNUP_VALUE_IN_MICRO_DOLLAR,TOTAL_WEB_CHECKOUT,TOTAL_WEB_CHECKOUT_VALUE_IN_MICRO_DOLLAR,TOTAL_WEB_CLICK_CHECKOUT,TOTAL_WEB_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR,TOTAL_WEB_ENGAGEMENT_CHECKOUT,TOTAL_WEB_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR,TOTAL_WEB_SESSIONS,TOTAL_WEB_VIEW_CHECKOUT,TOTAL_WEB_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR,VIDEO_3SEC_VIEWS_2,VIDEO_LENGTH,VIDEO_MRC_VIEWS_2,VIDEO_P0_COMBINED_2,VIDEO_P100_COMPLETE_2,VIDEO_P25_COMBINED_2,VIDEO_P50_COMBINED_2,VIDEO_P75_COMBINED_2,VIDEO_P95_COMBINED_2,WEB_CHECKOUT_COST_PER_ACTION,WEB_CHECKOUT_ROAS,WEB_SESSIONS_1,WEB_SESSIONS_2"

  # Base stream
  base_stream:
    type: DeclarativeStream
    retriever:
      $ref: "#/definitions/retriever"
      requester:
        $ref: "#/definitions/requester"
        use_cache: true
    primary_key: "id"

  base_semi_incremental_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/ad_account_based_retriever"
      record_selector:
        $ref: "#/definitions/selector"
        record_filter:
          type: RecordFilter
          condition: "{{ record['updated_time'] >= stream_slice['start_time'] | int }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "updated_time"
      datetime_format: "%s"
      start_datetime: "{{ format_datetime(config.get('start_date'), '%s') if config.get('start_date') else 0 }}"

  base_analytics_stream:
    type: DeclarativeStream
    primary_key: []
    retriever: "#/definitions/analytics_retriever"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: "{{ parameters.get('cursor_field', 'DATE') }}"
      datetime_format: "%Y-%m-%d"
      cursor_datetime_formats:
        - "%s"
      start_datetime: "{{ config.get('start_date') if config.get('start_date') and config.get('start_date') > day_delta(-89, format='%Y-%m-%d') else day_delta(-89, format='%Y-%m-%d') }}"
      cursor_granularity: "P1D"
      step: "P30D"
      start_time_option:
        type: RequestOption
        field_name: "start_date"
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: "end_date"
        inject_into: request_parameter

  # Full refresh streams
  boards_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/boards/list
    name: "boards"
    $ref: "#/definitions/base_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/boards_schema"
    $parameters:
      path: "boards"

  catalogs_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/catalogs/list
    name: "catalogs"
    $ref: "#/definitions/base_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/catalogs_schema"
    $parameters:
      path: "catalogs"

  catalogs_feeds_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/feeds/list
    name: "catalogs_feeds"
    $ref: "#/definitions/base_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/catalogs_feeds_schema"
    transformations:
      - type: RemoveFields
        field_pointers:
          - ["credentials"]
    $parameters:
      path: "catalogs/feeds"

  catalogs_product_groups_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/catalogs_product_groups/list
    name: "catalogs_product_groups"
    $ref: "#/definitions/base_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/catalogs_product_groups_schema"
    $parameters:
      path: "catalogs/product_groups"

  ad_accounts_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/ad_accounts/list
    name: "ad_accounts"
    $ref: "#/definitions/base_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/ad_accounts_schema"
    $parameters:
      path: "ad_accounts"

  board_sections_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/board_sections/list
    name: "board_sections"
    $ref: "#/definitions/base_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/board_sections_schema"
    retriever: "#/definitions/board_based_retriever"
    $parameters:
      path: "boards/{{ stream_slice.id }}/sections"

  board_pins_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/boards/list_pins
    name: "board_pins"
    $ref: "#/definitions/base_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/board_pins_schema"
    retriever: "#/definitions/board_based_retriever"
    $parameters:
      path: "boards/{{ stream_slice.id }}/pins"

  board_section_pins_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/board_sections/list_pins
    name: "board_section_pins"
    $ref: "#/definitions/base_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/board_section_pins_schema"
    retriever:
      $ref: "#/definitions/retriever"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: "id"
            stream: "#/definitions/board_sections_stream"
            partition_field: "id"
    $parameters:
      path: "boards/{{ stream_slice.parent_slice.id }}/sections/{{ stream_slice.id }}/pins"

  audiences_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/audiences/list
    name: "audiences"
    $ref: "#/definitions/base_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/audiences_schema"
    retriever: "#/definitions/ad_account_based_retriever"
    $parameters:
      path: "ad_accounts/{{ stream_slice.id }}/audiences"

  keywords_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/keywords/get
    name: "keywords"
    $ref: "#/definitions/base_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/keywords_schema"
    retriever:
      $ref: "#/definitions/retriever"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: "id"
            stream: "#/definitions/ad_groups_stream"
            partition_field: "id"
    $parameters:
      path: "ad_accounts/{{ stream_slice.parent_slice.id }}/keywords?ad_group_id={{ stream_slice.id }}"

  conversion_tags_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/conversion_tags/list
    name: "conversion_tags"
    $ref: "#/definitions/base_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/conversion_tags_schema"
    retriever: "#/definitions/ad_account_based_retriever"
    $parameters:
      path: "ad_accounts/{{ stream_slice.id }}/conversion_tags"

  customer_lists_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#tag/customer_lists
    name: "customer_lists"
    $ref: "#/definitions/base_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/customer_lists_schema"
    retriever: "#/definitions/ad_account_based_retriever"
    $parameters:
      path: "ad_accounts/{{ stream_slice.id }}/customer_lists"

  # Semi-Incremental streams
  campaigns_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/campaigns/list
    name: "campaigns"
    $ref: "#/definitions/base_semi_incremental_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/campaigns_schema"
    $parameters:
      path: "ad_accounts/{{ stream_slice.id }}/campaigns{{ '?entity_statuses=' + ','.join(config.get('status')) if config.get('status') else '' }}"

  ad_groups_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/ad_groups/list
    name: "ad_groups"
    $ref: "#/definitions/base_semi_incremental_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/ad_groups_schema"
    $parameters:
      path: "ad_accounts/{{ stream_slice.id }}/ad_groups{{ '?entity_statuses=' + ','.join(config.get('status')) if config.get('status') else '' }}"

  ads_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/ads/list
    name: "ads"
    $ref: "#/definitions/base_semi_incremental_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/ads_schema"
    $parameters:
      path: "ad_accounts/{{ stream_slice.id }}/ads{{ '?entity_statuses=' + ','.join(config.get('status')) if config.get('status') else '' }}"

  # Analytics streams
  user_account_analytics_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/user_account/analytics
    name: "user_account_analytics"
    $ref: "#/definitions/base_analytics_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/user_account_analytics_schema"
    retriever:
      $ref: "#/definitions/analytics_retriever"
      partition_router: []
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["all", "daily_metrics"]
    $parameters:
      path: "user_account/analytics"
      cursor_field: "date"

  ad_account_analytics_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/ad_account/analytics
    name: "ad_account_analytics"
    $ref: "#/definitions/base_analytics_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/ad_account_analytics_schema"
    $parameters:
      path: "ad_accounts/{{ stream_slice.id }}/analytics"

  campaign_analytics_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/campaigns/analytics
    name: "campaign_analytics"
    $ref: "#/definitions/base_analytics_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/campaign_analytics_schema"
    retriever:
      $ref: "#/definitions/analytics_retriever"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: "id"
            stream: "#/definitions/campaigns_stream"
            partition_field: "id"
    $parameters:
      path: "ad_accounts/{{ stream_slice.parent_slice.id }}/campaigns/analytics?campaign_ids={{ stream_slice.id }}"

  ad_group_analytics_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/ad_groups/analytics
    name: "ad_group_analytics"
    $ref: "#/definitions/base_analytics_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/ad_group_analytics_schema"
    retriever:
      $ref: "#/definitions/analytics_retriever"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: "id"
            stream: "#/definitions/ad_groups_stream"
            partition_field: "id"
    $parameters:
      path: "ad_accounts/{{ stream_slice.parent_slice.id }}/ad_groups/analytics?ad_group_ids={{ stream_slice.id }}"

  ad_analytics_stream:
    # Docs: https://developers.pinterest.com/docs/api/v5/#operation/ads/analytics
    name: "ad_analytics"
    $ref: "#/definitions/base_analytics_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema: "#/definitions/ad_analytics_schema"
    retriever:
      $ref: "#/definitions/analytics_retriever"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: "id"
            stream: "#/definitions/ads_stream"
            partition_field: "id"
    $parameters:
      path: "ad_accounts/{{ stream_slice.parent_slice.id }}/ads/analytics?ad_ids={{ stream_slice.id }}"

  # Schemas
  ad_accounts_schema:
    $schema: https://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        description: Unique identifier for the ad account
        type: ["null", string]
      name:
        description: The name of the ad account
        type: ["null", string]
      owner:
        description: Details of the ad account owner
        type: ["null", object]
        properties:
          id:
            description: Unique identifier of the owner
            type: ["null", string]
          username:
            description: Username of the owner
            type: ["null", string]
      country:
        description: The country associated with the ad account
        type: ["null", string]
      currency:
        description: The currency used for billing in the ad account
        type: ["null", string]
      updated_time:
        description: The timestamp showing when the ad account was last updated
        type: ["null", integer]
      created_time:
        description: The timestamp showing when the ad account was created
        type: ["null", integer]
      permissions:
        description: Permissions assigned to the ad account
        type: ["null", array]
        items:
          description: Individual permissions granted
          type: ["null", string]

  ad_account_analytics_schema:
    $schema: https://json-schema.org/draft-07/schema#
    type: object
    properties:
      DATE:
        description: Date of the data entry
        type: ["null", string]
        format: date
      ADVERTISER_ID:
        description: Unique identifier for the advertiser
        type: [string]
      AD_ACCOUNT_ID:
        description: Unique identifier for the ad account
        type: [string]
      AD_ID:
        description: Unique identifier for the ad
        type: ["null", string]
      AD_GROUP_ENTITY_STATUS:
        description: Status of the ad group entity
        type: ["null", string]
      AD_GROUP_ID:
        description: Unique identifier for the ad group
        type: ["null", string]
      CAMPAIGN_DAILY_SPEND_CAP:
        description: Daily spend cap set for the campaign
        type: ["null", number]
      CAMPAIGN_ENTITY_STATUS:
        description: Status of the campaign entity
        type: ["null", number]
      CAMPAIGN_ID:
        description: Unique identifier for the campaign
        type: ["null", number]
      CAMPAIGN_LIFETIME_SPEND_CAP:
        description: Lifetime spend cap set for the campaign
        type: ["null", number]
      CAMPAIGN_NAME:
        description: Name of the campaign
        type: ["null", string]
      CHECKOUT_ROAS:
        description: Return on ad spend for checkout actions
        type: ["null", number]
      CLICKTHROUGH_1:
        description: Click-through rate related to specific actions
        type: ["null", number]
      CLICKTHROUGH_1_GROSS:
        description: Gross click-through rate related to specific actions
        type: ["null", number]
      CLICKTHROUGH_2:
        description: Secondary click-through rate related to specific actions
        type: ["null", number]
      CPC_IN_MICRO_DOLLAR:
        description: Cost per click in micro dollars
        type: ["null", number]
      CPM_IN_DOLLAR:
        description: Cost per mille in dollars
        type: ["null", number]
      CPM_IN_MICRO_DOLLAR:
        description: Cost per mille in micro dollars
        type: ["null", number]
      CTR:
        description: Click-through rate
        type: ["null", number]
      CTR_2:
        description: Secondary click-through rate
        type: ["null", number]
      ECPCV_IN_DOLLAR:
        description: Effective cost per completed view in dollars
        type: ["null", number]
      ECPCV_P95_IN_DOLLAR:
        description: 95th percentile effective cost per completed view in dollars
        type: ["null", number]
      ECPC_IN_DOLLAR:
        description: Effective cost per click in dollars
        type: ["null", number]
      ECPC_IN_MICRO_DOLLAR:
        description: Effective cost per click in micro dollars
        type: ["null", number]
      ECPE_IN_DOLLAR:
        description: Effective cost per engagement in dollars
        type: ["null", number]
      ECPM_IN_MICRO_DOLLAR:
        description: Effective cost per mille in micro dollars
        type: ["null", number]
      ECPV_IN_DOLLAR:
        description: Effective cost per view in dollars
        type: ["null", number]
      ECTR:
        description: Effective click-through rate
        type: ["null", number]
      EENGAGEMENT_RATE:
        description: Effective engagement rate
        type: ["null", number]
      ENGAGEMENT_1:
        description: Engagement rate related to specific actions
        type: ["null", number]
      ENGAGEMENT_2:
        description: Secondary engagement rate related to specific actions
        type: ["null", number]
      ENGAGEMENT_RATE:
        description: Overall engagement rate
        type: ["null", number]
      IDEA_PIN_PRODUCT_TAG_VISIT_1:
        description: Product tag visit rate related to specific actions
        type: ["null", number]
      IDEA_PIN_PRODUCT_TAG_VISIT_2:
        description: Secondary product tag visit rate related to specific actions
        type: ["null", number]
      IMPRESSION_1:
        description: Impression rate related to specific actions
        type: ["null", number]
      IMPRESSION_1_GROSS:
        description: Gross impression rate related to specific actions
        type: ["null", number]
      IMPRESSION_2:
        description: Secondary impression rate related to specific actions
        type: ["null", number]
      INAPP_CHECKOUT_COST_PER_ACTION:
        description: Cost per in-app checkout action
        type: ["null", number]
      OUTBOUND_CLICK_1:
        description: Outbound click rate related to specific actions
        type: ["null", number]
      OUTBOUND_CLICK_2:
        description: Secondary outbound click rate related to specific actions
        type: ["null", number]
      PAGE_VISIT_COST_PER_ACTION:
        description: Cost per page visit action
        type: ["null", number]
      PAGE_VISIT_ROAS:
        description: Return on ad spend for page visit actions
        type: ["null", number]
      PAID_IMPRESSION:
        description: Number of paid impressions
        type: ["null", number]
      PIN_ID:
        description: Unique identifier for the pin
        type: ["null", number]
      PIN_PROMOTION_ID:
        description: Unique identifier for the promoted pin
        type: ["null", number]
      REPIN_1:
        description: Repinned rate related to specific actions
        type: ["null", number]
      REPIN_2:
        description: Secondary repinned rate related to specific actions
        type: ["null", number]
      REPIN_RATE:
        description: Overall repin rate
        type: ["null", number]
      SPEND_IN_DOLLAR:
        description: Total spend in dollars
        type: ["null", number]
      SPEND_IN_MICRO_DOLLAR:
        description: Total spend in micro dollars
        type: ["null", number]
      TOTAL_CHECKOUT:
        description: Total number of checkout actions
        type: ["null", number]
      TOTAL_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total value of checkout actions in micro dollars
        type: ["null", number]
      TOTAL_CLICKTHROUGH:
        description: Total number of click-through actions
        type: ["null", number]
      TOTAL_CLICK_ADD_TO_CART:
        description: Total number of click actions leading to adding to cart
        type: ["null", number]
      TOTAL_CLICK_CHECKOUT:
        description: Total number of click actions leading to checkout
        type: ["null", number]
      TOTAL_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total value of click actions leading to checkout in micro dollars
        type: ["null", number]
      TOTAL_CLICK_LEAD:
        description: Total number of click actions leading to lead generation
        type: ["null", number]
      TOTAL_CLICK_SIGNUP:
        description: Total number of click actions leading to signups
        type: ["null", number]
      TOTAL_CLICK_SIGNUP_VALUE_IN_MICRO_DOLLAR:
        description: Total value of click actions leading to signups in micro dollars
        type: ["null", number]
      TOTAL_CONVERSIONS:
        description: Total number of conversions
        type: ["null", number]
      TOTAL_CUSTOM:
        description: Total number of custom actions
        type: ["null", number]
      TOTAL_ENGAGEMENT:
        description: Total number of engagement actions
        type: ["null", number]
      TOTAL_ENGAGEMENT_CHECKOUT:
        description: Total number of engagement actions leading to checkout
        type: ["null", number]
      TOTAL_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total value of engagement actions leading to checkout in micro dollars
        type: ["null", number]
      TOTAL_ENGAGEMENT_LEAD:
        description: Total number of engagement actions leading to lead generation
        type: ["null", number]
      TOTAL_ENGAGEMENT_SIGNUP:
        description: Total number of engagement actions leading to signups
        type: ["null", number]
      TOTAL_ENGAGEMENT_SIGNUP_VALUE_IN_MICRO_DOLLAR:
        description: Total value of engagement actions leading to signups in micro dollars
        type: ["null", number]
      TOTAL_IDEA_PIN_PRODUCT_TAG_VISIT:
        description: Total number of product tag visits
        type: ["null", number]
      TOTAL_IMPRESSION_FREQUENCY:
        description: Total impression frequency
        type: ["null", number]
      TOTAL_IMPRESSION_USER:
        description: Total number of users reached through impressions
        type: ["null", number]
      TOTAL_LEAD:
        description: Total number of lead actions
        type: ["null", number]
      TOTAL_OFFLINE_CHECKOUT:
        description: Total number of offline checkout actions
        type: ["null", number]
      TOTAL_PAGE_VISIT:
        description: Total number of page visit actions
        type: ["null", number]
      TOTAL_REPIN_RATE:
        description: Overall repin rate
        type: ["null", number]
      TOTAL_SIGNUP:
        description: Total number of signup actions
        type: ["null", number]
      TOTAL_SIGNUP_VALUE_IN_MICRO_DOLLAR:
        description: Total value of signup actions in micro dollars
        type: ["null", number]
      TOTAL_VIDEO_3SEC_VIEWS:
        description: Total number of 3-second video views
        type: ["null", number]
      TOTAL_VIDEO_AVG_WATCHTIME_IN_SECOND:
        description: Average watch time for videos in seconds
        type: ["null", number]
      TOTAL_VIDEO_MRC_VIEWS:
        description: Total number of MRC video views
        type: ["null", number]
      TOTAL_VIDEO_P0_COMBINED:
        description: Total video play-through rate
        type: ["null", number]
      TOTAL_VIDEO_P100_COMPLETE:
        description: Total completion rate for videos
        type: ["null", number]
      TOTAL_VIDEO_P25_COMBINED:
        description: Total 25% completion rate for videos
        type: ["null", number]
      TOTAL_VIDEO_P50_COMBINED:
        description: Total 50% completion rate for videos
        type: ["null", number]
      TOTAL_VIDEO_P75_COMBINED:
        description: Total 75% completion rate for videos
        type: ["null", number]
      TOTAL_VIDEO_P95_COMBINED:
        description: Total 95% completion rate for videos
        type: ["null", number]
      TOTAL_VIEW_ADD_TO_CART:
        description: Total view actions leading to adding to cart
        type: ["null", number]
      TOTAL_VIEW_CHECKOUT:
        description: Total view actions leading to checkout
        type: ["null", number]
      TOTAL_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total value of view actions leading to checkout in micro dollars
        type: ["null", number]
      TOTAL_VIEW_LEAD:
        description: Total view actions leading to lead generation
        type: ["null", number]
      TOTAL_VIEW_SIGNUP:
        description: Total view actions leading to signups
        type: ["null", number]
      TOTAL_VIEW_SIGNUP_VALUE_IN_MICRO_DOLLAR:
        description: Total value of view actions leading to signups in micro dollars
        type: ["null", number]
      TOTAL_WEB_CHECKOUT:
        description: Total number of web checkout actions
        type: ["null", number]
      TOTAL_WEB_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total value of web checkout actions in micro dollars
        type: ["null", number]
      TOTAL_WEB_CLICK_CHECKOUT:
        description: Total number of web click actions leading to checkout
        type: ["null", number]
      TOTAL_WEB_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total value of web click actions leading to checkout in micro dollars
        type: ["null", number]
      TOTAL_WEB_ENGAGEMENT_CHECKOUT:
        description: Total number of web engagement actions leading to checkout
        type: ["null", number]
      TOTAL_WEB_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total value of web engagement actions leading to checkout in micro dollars
        type: ["null", number]
      TOTAL_WEB_SESSIONS:
        description: Total number of web sessions
        type: ["null", number]
      TOTAL_WEB_VIEW_CHECKOUT:
        description: Total number of web view actions leading to checkout
        type: ["null", number]
      TOTAL_WEB_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total value of web view actions leading to checkout in micro dollars
        type: ["null", number]
      VIDEO_3SEC_VIEWS_2:
        description: Number of 3-second video views related to specific actions
        type: ["null", number]
      VIDEO_LENGTH:
        description: Length of the video
        type: ["null", number]
      VIDEO_MRC_VIEWS_2:
        description: Number of MRC video views related to specific actions
        type: ["null", number]
      VIDEO_P0_COMBINED_2:
        description: Play-through rate of videos related to specific actions
        type: ["null", number]
      VIDEO_P100_COMPLETE_2:
        description: Completion rate of videos related to specific actions
        type: ["null", number]
      VIDEO_P25_COMBINED_2:
        description: 25% completion rate of videos related to specific actions
        type: ["null", number]
      VIDEO_P50_COMBINED_2:
        description: 50% completion rate of videos related to specific actions
        type: ["null", number]
      VIDEO_P75_COMBINED_2:
        description: 75% completion rate of videos related to specific actions
        type: ["null", number]
      VIDEO_P95_COMBINED_2:
        description: 95% completion rate of videos related to specific actions
        type: ["null", number]
      WEB_CHECKOUT_COST_PER_ACTION:
        description: Cost per web checkout action
        type: ["null", number]
      WEB_CHECKOUT_ROAS:
        description: Return on ad spend for web checkout actions
        type: ["null", number]
      WEB_SESSIONS_1:
        description: Number of web sessions related to specific actions
        type: ["null", number]
      WEB_SESSIONS_2:
        description: Secondary number of web sessions related to specific actions
        type: ["null", number]

  ads_schema:
    $schema: https://json-schema.org/draft-07/schema#
    type: object
    properties:
      ad_group_id:
        description: The ID of the ad group to which the ad belongs.
        type: ["null", string]
      android_deep_link:
        description: The deep link URL for Android devices.
        type: ["null", string]
      carousel_android_deep_links:
        description: URLs that deep link Android users to specific content within the carousel ad.
        type: ["null", array]
        items:
          description: The deep link URLs for individual carousel items on Android devices.
          type: ["null", string]
      carousel_destination_urls:
        description: URLs that direct users to the landing pages of the advertised content.
        type: ["null", array]
        items:
          description: The destination URLs for individual carousel items.
          type: ["null", string]
      carousel_ios_deep_links:
        description: URLs that deep link iOS users to specific content within the carousel ad.
        type: ["null", array]
        items:
          description: The deep link URLs for individual carousel items on iOS devices.
          type: ["null", string]
      click_tracking_url:
        description: The URL for tracking clicks on the ad.
        type: ["null", string]
      creative_type:
        description: The type of creative used in the ad.
        type: ["null", string]
      destination_url:
        description: The main destination URL of the ad.
        type: ["null", string]
      ios_deep_link:
        description: The deep link URL for iOS devices.
        type: ["null", string]
      is_pin_deleted:
        description: A flag indicating if the ad is linked to a deleted pin.
        type: ["null", boolean]
      is_removable:
        description: A flag indicating if the ad is removable.
        type: ["null", boolean]
      name:
        description: The name or title of the ad.
        type: ["null", string]
      pin_id:
        description: The ID of the pin associated with the ad.
        type: ["null", string]
      status:
        description: The current status of the ad.
        type: ["null", string]
      tracking_urls:
        description: Various tracking URLs used to monitor user interactions with the ad.
        type: ["null", object]
        properties:
          impression:
            description: URL to track impressions of the ad.
            type: ["null", array]
            items:
              description: Tracking URLs for ad impressions.
              type: ["null", string]
          click:
            description: URL to track clicks on the ad.
            type: ["null", array]
            items:
              description: Tracking URLs for clicks on the ad.
              type: ["null", string]
          engagement:
            description: URL to track user engagements with the ad.
            type: ["null", array]
            items:
              description: Tracking URLs for ad engagement.
              type: ["null", string]
          buyable_button:
            description: URL to track clicks on the buyable button in the ad.
            type: ["null", array]
            items:
              description: Tracking URLs for buyable buttons.
              type: ["null", string]
          audience_verification:
            description: URL to track audience verification events.
            type: ["null", array]
            items:
              description: Tracking URLs for audience verification.
              type: ["null", string]
      view_tracking_url:
        description: The URL for tracking views of the ad.
        type: ["null", string]
      lead_form_id:
        description: The ID of the lead form associated with the ad.
        type: ["null", string]
      ad_account_id:
        description: The ID of the ad account associated with the ad data.
        type: ["null", string]
      campaign_id:
        description: The ID of the campaign associated with the ad.
        type: ["null", string]
      collection_items_destination_url_template:
        description: The template URL for destination pages of collection items.
        type: ["null", string]
      created_time:
        description: The timestamp when the ad was created.
        type: ["null", integer]
      id:
        description: The unique ID of the ad.
        type: ["null", string]
      rejected_reasons:
        description: Reasons for rejecting the ad.
        type: ["null", array]
        items:
          description: Reasons for rejection of the ad.
          type: ["null", string]
      rejection_labels:
        description: Labels applied to the ad when it is rejected.
        type: ["null", array]
        items:
          description: Labels for the rejected ad.
          type: ["null", string]
      review_status:
        description: The review status of the ad.
        type: ["null", string]
      type:
        description: The type of the ad.
        type: ["null", string]
      updated_time:
        description: The timestamp when the ad was last updated.
        type: ["null", integer]
      summary_status:
        description: The summarized status of the ad.
        type: ["null", string]

  ad_analytics_schema:
    $schema: https://json-schema.org/draft-07/schema#
    type: object
    properties:
      DATE:
        description: The date for the data entry.
        type: ["null", string]
        format: date
      ADVERTISER_ID:
        description: The unique identifier of the advertiser.
        type: [string]
      AD_ACCOUNT_ID:
        description: The unique identifier of the ad account.
        type: [string]
      AD_ID:
        description: The unique identifier of the ad.
        type: ["null", string]
      AD_GROUP_ENTITY_STATUS:
        description: The status of the ad group entity.
        type: ["null", string]
      AD_GROUP_ID:
        description: The unique identifier of the ad group.
        type: ["null", string]
      CAMPAIGN_DAILY_SPEND_CAP:
        description: The daily spend limit set for the campaign.
        type: ["null", number]
      CAMPAIGN_ENTITY_STATUS:
        description: The status of the campaign entity.
        type: ["null", number]
      CAMPAIGN_ID:
        description: The unique identifier of the campaign.
        type: ["null", number]
      CAMPAIGN_LIFETIME_SPEND_CAP:
        description: The total spend limit set for the campaign.
        type: ["null", number]
      CAMPAIGN_NAME:
        description: The name of the campaign.
        type: ["null", string]
      CHECKOUT_ROAS:
        description: Return on ad spend for checkout conversions.
        type: ["null", number]
      CLICKTHROUGH_1:
        description: Click-through conversions type 1.
        type: ["null", number]
      CLICKTHROUGH_1_GROSS:
        description: Gross click-through conversions type 1.
        type: ["null", number]
      CLICKTHROUGH_2:
        description: Click-through conversions type 2.
        type: ["null", number]
      CPC_IN_MICRO_DOLLAR:
        description: Cost per click in micro dollars.
        type: ["null", number]
      CPM_IN_DOLLAR:
        description: Cost per mille in dollars.
        type: ["null", number]
      CPM_IN_MICRO_DOLLAR:
        description: Cost per mille in micro dollars.
        type: ["null", number]
      CTR:
        description: Click-through rate.
        type: ["null", number]
      CTR_2:
        description: Click-through rate 2.
        type: ["null", number]
      ECPCV_IN_DOLLAR:
        description: Effective cost per click view in dollars.
        type: ["null", number]
      ECPCV_P95_IN_DOLLAR:
        description: Effective cost per click view percentile 95 in dollars.
        type: ["null", number]
      ECPC_IN_DOLLAR:
        description: Effective cost per click in dollars.
        type: ["null", number]
      ECPC_IN_MICRO_DOLLAR:
        description: Effective cost per click in micro dollars.
        type: ["null", number]
      ECPE_IN_DOLLAR:
        description: Effective cost per engagement in dollars.
        type: ["null", number]
      ECPM_IN_MICRO_DOLLAR:
        description: Effective cost per mille in micro dollars.
        type: ["null", number]
      ECPV_IN_DOLLAR:
        description: Effective cost per view in dollar.
        type: ["null", number]
      ECTR:
        description: Effective click-through rate.
        type: ["null", number]
      EENGAGEMENT_RATE:
        description: Effective engagement rate.
        type: ["null", number]
      ENGAGEMENT_1:
        description: Engagement type 1.
        type: ["null", number]
      ENGAGEMENT_2:
        description: Engagement type 2.
        type: ["null", number]
      ENGAGEMENT_RATE:
        description: Engagement rate.
        type: ["null", number]
      IDEA_PIN_PRODUCT_TAG_VISIT_1:
        description: Idea pin product tag visit type 1.
        type: ["null", number]
      IDEA_PIN_PRODUCT_TAG_VISIT_2:
        description: Idea pin product tag visit type 2.
        type: ["null", number]
      IMPRESSION_1:
        description: Impressions type 1.
        type: ["null", number]
      IMPRESSION_1_GROSS:
        description: Gross impressions type 1.
        type: ["null", number]
      IMPRESSION_2:
        description: Impressions type 2.
        type: ["null", number]
      INAPP_CHECKOUT_COST_PER_ACTION:
        description: In-app checkout cost per action.
        type: ["null", number]
      OUTBOUND_CLICK_1:
        description: Outbound clicks type 1.
        type: ["null", number]
      OUTBOUND_CLICK_2:
        description: Outbound clicks type 2.
        type: ["null", number]
      PAGE_VISIT_COST_PER_ACTION:
        description: Page visit cost per action.
        type: ["null", number]
      PAGE_VISIT_ROAS:
        description: Return on ad spend for page visits.
        type: ["null", number]
      PAID_IMPRESSION:
        description: Paid impressions.
        type: ["null", number]
      PIN_ID:
        description: The unique identifier of the pin.
        type: ["null", number]
      PIN_PROMOTION_ID:
        description: The unique identifier of the pin promotion.
        type: ["null", number]
      REPIN_1:
        description: Repins type 1.
        type: ["null", number]
      REPIN_2:
        description: Repins type 2.
        type: ["null", number]
      REPIN_RATE:
        description: Repins rate.
        type: ["null", number]
      SPEND_IN_DOLLAR:
        description: Total spend in dollars.
        type: ["null", number]
      SPEND_IN_MICRO_DOLLAR:
        description: Total spend in micro dollars.
        type: ["null", number]
      TOTAL_CHECKOUT:
        description: Total checkout conversions.
        type: ["null", number]
      TOTAL_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total checkout value in micro dollars.
        type: ["null", number]
      TOTAL_CLICKTHROUGH:
        description: Total click-through conversions.
        type: ["null", number]
      TOTAL_CLICK_ADD_TO_CART:
        description: Total clicks add to cart.
        type: ["null", number]
      TOTAL_CLICK_CHECKOUT:
        description: Total clicks checkout.
        type: ["null", number]
      TOTAL_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total clicks checkout value in micro dollars.
        type: ["null", number]
      TOTAL_CLICK_LEAD:
        description: Total clicks lead.
        type: ["null", number]
      TOTAL_CLICK_SIGNUP:
        description: Total clicks sign up.
        type: ["null", number]
      TOTAL_CLICK_SIGNUP_VALUE_IN_MICRO_DOLLAR:
        description: Total clicks sign up value in micro dollars.
        type: ["null", number]
      TOTAL_CONVERSIONS:
        description: Total conversions.
        type: ["null", number]
      TOTAL_CUSTOM:
        description: Total custom actions.
        type: ["null", number]
      TOTAL_ENGAGEMENT:
        description: Total engagements.
        type: ["null", number]
      TOTAL_ENGAGEMENT_CHECKOUT:
        description: Total engagements checkout.
        type: ["null", number]
      TOTAL_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total engagements checkout value in micro dollars.
        type: ["null", number]
      TOTAL_ENGAGEMENT_LEAD:
        description: Total engagements lead.
        type: ["null", number]
      TOTAL_ENGAGEMENT_SIGNUP:
        description: Total engagements sign up.
        type: ["null", number]
      TOTAL_ENGAGEMENT_SIGNUP_VALUE_IN_MICRO_DOLLAR:
        description: Total engagements sign up value in micro dollars.
        type: ["null", number]
      TOTAL_IDEA_PIN_PRODUCT_TAG_VISIT:
        description: Total idea pin product tag visits.
        type: ["null", number]
      TOTAL_IMPRESSION_FREQUENCY:
        description: Total impressions frequency.
        type: ["null", number]
      TOTAL_IMPRESSION_USER:
        description: Total impressions per user.
        type: ["null", number]
      TOTAL_LEAD:
        description: Total leads.
        type: ["null", number]
      TOTAL_OFFLINE_CHECKOUT:
        description: Total offline checkout conversions.
        type: ["null", number]
      TOTAL_PAGE_VISIT:
        description: Total page visits.
        type: ["null", number]
      TOTAL_REPIN_RATE:
        description: Total repin rate.
        type: ["null", number]
      TOTAL_SIGNUP:
        description: Total signups.
        type: ["null", number]
      TOTAL_SIGNUP_VALUE_IN_MICRO_DOLLAR:
        description: Total sign up value in micro dollars.
        type: ["null", number]
      TOTAL_VIDEO_3SEC_VIEWS:
        description: Total video 3-second views.
        type: ["null", number]
      TOTAL_VIDEO_AVG_WATCHTIME_IN_SECOND:
        description: Total average watch time for videos in seconds.
        type: ["null", number]
      TOTAL_VIDEO_MRC_VIEWS:
        description: Total video MRC views.
        type: ["null", number]
      TOTAL_VIDEO_P0_COMBINED:
        description: Total video P0 combined.
        type: ["null", number]
      TOTAL_VIDEO_P100_COMPLETE:
        description: Total video P100 complete views.
        type: ["null", number]
      TOTAL_VIDEO_P25_COMBINED:
        description: Total video P25 combined.
        type: ["null", number]
      TOTAL_VIDEO_P50_COMBINED:
        description: Total video P50 combined.
        type: ["null", number]
      TOTAL_VIDEO_P75_COMBINED:
        description: Total video P75 combined.
        type: ["null", number]
      TOTAL_VIDEO_P95_COMBINED:
        description: Total video P95 combined.
        type: ["null", number]
      TOTAL_VIEW_ADD_TO_CART:
        description: Total view add to cart conversions.
        type: ["null", number]
      TOTAL_VIEW_CHECKOUT:
        description: Total view checkouts.
        type: ["null", number]
      TOTAL_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total view checkout value in micro dollars.
        type: ["null", number]
      TOTAL_VIEW_LEAD:
        description: Total view leads.
        type: ["null", number]
      TOTAL_VIEW_SIGNUP:
        description: Total view signups.
        type: ["null", number]
      TOTAL_VIEW_SIGNUP_VALUE_IN_MICRO_DOLLAR:
        description: Total view signup value in micro dollars.
        type: ["null", number]
      TOTAL_WEB_CHECKOUT:
        description: Total web checkouts.
        type: ["null", number]
      TOTAL_WEB_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total web checkout value in micro dollars.
        type: ["null", number]
      TOTAL_WEB_CLICK_CHECKOUT:
        description: Total web click checkouts.
        type: ["null", number]
      TOTAL_WEB_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total web click checkout value in micro dollars.
        type: ["null", number]
      TOTAL_WEB_ENGAGEMENT_CHECKOUT:
        description: Total web engagements checkout.
        type: ["null", number]
      TOTAL_WEB_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total web engagements checkout value in micro dollars.
        type: ["null", number]
      TOTAL_WEB_SESSIONS:
        description: Total web sessions.
        type: ["null", number]
      TOTAL_WEB_VIEW_CHECKOUT:
        description: Total web view checkouts.
        type: ["null", number]
      TOTAL_WEB_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total web view checkout value in micro dollars.
        type: ["null", number]
      VIDEO_3SEC_VIEWS_2:
        description: Video 3-second views type 2.
        type: ["null", number]
      VIDEO_LENGTH:
        description: Length of the video.
        type: ["null", number]
      VIDEO_MRC_VIEWS_2:
        description: Video MRC views type 2.
        type: ["null", number]
      VIDEO_P0_COMBINED_2:
        description: Video P0 combined type 2.
        type: ["null", number]
      VIDEO_P100_COMPLETE_2:
        description: Video P100 complete views type 2.
        type: ["null", number]
      VIDEO_P25_COMBINED_2:
        description: Video P25 combined type 2.
        type: ["null", number]
      VIDEO_P50_COMBINED_2:
        description: Video P50 combined type 2.
        type: ["null", number]
      VIDEO_P75_COMBINED_2:
        description: Video P75 combined type 2.
        type: ["null", number]
      VIDEO_P95_COMBINED_2:
        description: Video P95 combined type 2.
        type: ["null", number]
      WEB_CHECKOUT_COST_PER_ACTION:
        description: Web checkout cost per action.
        type: ["null", number]
      WEB_CHECKOUT_ROAS:
        description: Return on ad spend for web checkouts.
        type: ["null", number]
      WEB_SESSIONS_1:
        description: Web sessions type 1.
        type: ["null", number]
      WEB_SESSIONS_2:
        description: Web sessions type 2.
        type: ["null", number]

  ad_groups_schema:
    $schema: https://json-schema.org/draft-07/schema#
    type: object
    properties:
      name:
        description: The name of the ad group.
        type: ["null", string]
      status:
        description: The current status of the ad group.
        type: ["null", string]
      budget_in_micro_currency:
        description: The budget amount in micro currency for the ad group.
        type: ["null", number]
      bid_in_micro_currency:
        description: The bid amount in micro currency for the ad group.
        type: ["null", number]
      budget_type:
        description: The type of budget set for the ad group.
        type: ["null", string]
      start_time:
        description: The start time for the ad group to begin running.
        type: ["null", number]
      end_time:
        description: The end time for the ad group to run.
        type: ["null", number]
      targeting_spec:
        description: The targeting specifications for the ad group.
        type: ["null", object]
        properties:
          property1:
            description: Description of targeting property 1.
            type: ["null", array]
            items:
              description: Description of item in property 1.
              type: ["null", string]
          property2:
            description: Description of targeting property 2.
            type: ["null", array]
            items:
              description: Description of item in property 2.
              type: ["null", string]
      lifetime_frequency_cap:
        description: The maximum number of times a user can be shown the ad during its lifetime.
        type: ["null", number]
      tracking_urls:
        description: URLs for tracking different types of events for the ad group.
        type: ["null", object]
        properties:
          impression:
            description: URLs for impression tracking.
            type: ["null", array]
            items:
              description: Description of impression tracking item.
              type: ["null", string]
          click:
            description: URLs for click tracking.
            type: ["null", array]
            items:
              description: Description of click tracking item.
              type: ["null", string]
          engagement:
            description: URLs for engagement tracking.
            type: ["null", array]
            items:
              description: Description of engagement tracking item.
              type: ["null", string]
          buyable_button:
            description: URLs for buyable button tracking.
            type: ["null", array]
            items:
              description: Description of buyable button tracking item.
              type: ["null", string]
          audience_verification:
            description: URLs for audience verification tracking.
            type: ["null", array]
            items:
              description: Description of audience verification tracking item.
              type: ["null", string]
      auto_targeting_enabled:
        description: Indicates if auto targeting is enabled for the ad group.
        type: ["null", boolean]
      placement_group:
        description: The group of placements where the ad group is shown.
        type: ["null", string]
      placement_traffic_type:
        description: The type of traffic the ad group targets.
        type: ["null", string]
      pacing_delivery_type:
        description: The delivery type pacing for the ad group.
        type: ["null", string]
      conversion_learning_mode_type:
        description: The learning mode type for conversion optimization.
        type: ["null", string]
      summary_status:
        description: A summary status of the ad group.
        type: ["null", string]
      feed_profile_id:
        description: The ID of the feed profile associated with the ad group.
        type: ["null", string]
      campaign_id:
        description: The ID of the campaign to which the ad group belongs.
        type: ["null", string]
      billable_event:
        description: The event for which the ad group is billed.
        type: ["null", string]
      id:
        description: The unique identifier for the ad group.
        type: ["null", string]
      type:
        description: The type of the ad group.
        type: ["null", string]
      ad_account_id:
        description: The ID of the ad account associated with the ad group.
        type: ["null", string]
      created_time:
        description: The timestamp when the ad group was created.
        type: ["null", number]
      updated_time:
        description: The timestamp when the ad group was last updated.
        type: ["null", number]
      optimization_goal_metadata:
        description: Metadata related to optimization goals for the ad group.
        type: ["null", object]
        properties:
          conversion_tag_v3_goal_metadata:
            description: Metadata specific to conversion optimization goals.
            type: ["null", object]
            properties:
              attribution_windows:
                description: Different attribution windows for conversion events.
                type: ["null", object]
                properties:
                  click_window_days:
                    description: Number of days for click attribution window.
                    type: ["null", integer]
                  engagement_window_days:
                    description: Number of days for engagement attribution window.
                    type: ["null", integer]
                  view_window_days:
                    description: Number of days for view attribution window.
                    type: ["null", integer]
              conversion_event:
                description: The conversion event being optimized for.
                type: ["null", string]
              conversion_tag_id:
                description: The ID of the conversion tag used for optimization.
                type: ["null", string]
              cpa_goal_value_in_micro_currency:
                description: The cost per action goal in micro currency.
                type: ["null", string]
              is_roas_optimized:
                description: Indicates if return on ad spend (ROAS) is optimized for.
                type: ["null", boolean]
              learning_mode_type:
                description: The learning mode type for conversion optimization.
                type: ["null", string]
          frequency_goal_metadata:
            description: Metadata related to frequency optimization goals.
            type: ["null", object]
            properties:
              frequency:
                description: The desired frequency of ad views.
                type: ["null", integer]
              timerange:
                description: The time range considered for frequency capping.
                type: ["null", string]
          scrollup_goal_metadata:
            description: Metadata related to scroll-up optimization goals.
            type: ["null", object]
            properties:
              scrollup_goal_value_in_micro_currency:
                description: The scroll-up goal value in micro currency.
                type: ["null", string]
      bid_strategy_type:
        description: The type of bid strategy used for the ad group.
        type: ["null", string]

  ad_group_analytics_schema:
    $schema: https://json-schema.org/draft-07/schema#
    type: object
    properties:
      DATE:
        description: The date the data was collected.
        type: ["null", string]
        format: date
      ADVERTISER_ID:
        description: The ID of the advertiser associated with the ad group analytics data.
        type: [string]
      AD_ACCOUNT_ID:
        description: The ID of the ad account associated with the ad group analytics data.
        type: [string]
      AD_ID:
        description: The ID of the ad.
        type: ["null", string]
      AD_GROUP_ENTITY_STATUS:
        description: The status of the ad group entity.
        type: ["null", string]
      AD_GROUP_ID:
        description: The ID of the ad group.
        type: ["null", string]
      CAMPAIGN_DAILY_SPEND_CAP:
        description: The daily spend cap set for the campaign.
        type: ["null", number]
      CAMPAIGN_ENTITY_STATUS:
        description: The status of the campaign entity.
        type: ["null", number]
      CAMPAIGN_ID:
        description: The ID of the campaign.
        type: ["null", number]
      CAMPAIGN_LIFETIME_SPEND_CAP:
        description: The lifetime spend cap set for the campaign.
        type: ["null", number]
      CAMPAIGN_NAME:
        description: The name of the campaign.
        type: ["null", string]
      CHECKOUT_ROAS:
        description: Return on ad spend for checkout actions.
        type: ["null", number]
      CLICKTHROUGH_1:
        description: Number of click-throughs type 1.
        type: ["null", number]
      CLICKTHROUGH_1_GROSS:
        description: Gross count of click-throughs type 1.
        type: ["null", number]
      CLICKTHROUGH_2:
        description: Number of click-throughs type 2.
        type: ["null", number]
      CPC_IN_MICRO_DOLLAR:
        description: Cost per click in micro dollar.
        type: ["null", number]
      CPM_IN_DOLLAR:
        description: Cost per mille in dollar.
        type: ["null", number]
      CPM_IN_MICRO_DOLLAR:
        description: Cost per mille in micro dollar.
        type: ["null", number]
      CTR:
        description: Click-through rate.
        type: ["null", number]
      CTR_2:
        description: Click-through rate type 2.
        type: ["null", number]
      ECPCV_IN_DOLLAR:
        description: Effective cost per converted view in dollar.
        type: ["null", number]
      ECPCV_P95_IN_DOLLAR:
        description: Effective cost per converted view at 95th percentile in dollar.
        type: ["null", number]
      ECPC_IN_DOLLAR:
        description: Effective cost per click in dollar.
        type: ["null", number]
      ECPC_IN_MICRO_DOLLAR:
        description: Effective cost per click in micro dollar.
        type: ["null", number]
      ECPE_IN_DOLLAR:
        description: Effective cost per engagement in dollar.
        type: ["null", number]
      ECPM_IN_MICRO_DOLLAR:
        description: Effective cost per mille in micro dollar.
        type: ["null", number]
      ECPV_IN_DOLLAR:
        description: Effective cost per view in dollar.
        type: ["null", number]
      ECTR:
        description: Effective click-through rate.
        type: ["null", number]
      EENGAGEMENT_RATE:
        description: Effective engagement rate.
        type: ["null", number]
      ENGAGEMENT_1:
        description: Number of engagements type 1.
        type: ["null", number]
      ENGAGEMENT_2:
        description: Number of engagements type 2.
        type: ["null", number]
      ENGAGEMENT_RATE:
        description: Engagement rate.
        type: ["null", number]
      IDEA_PIN_PRODUCT_TAG_VISIT_1:
        description: Number of visits to Idea Pin product tags type 1.
        type: ["null", number]
      IDEA_PIN_PRODUCT_TAG_VISIT_2:
        description: Number of visits to Idea Pin product tags type 2.
        type: ["null", number]
      IMPRESSION_1:
        description: Number of impressions type 1.
        type: ["null", number]
      IMPRESSION_1_GROSS:
        description: Gross count of impressions type 1.
        type: ["null", number]
      IMPRESSION_2:
        description: Number of impressions type 2.
        type: ["null", number]
      INAPP_CHECKOUT_COST_PER_ACTION:
        description: In-app checkout cost per action.
        type: ["null", number]
      OUTBOUND_CLICK_1:
        description: Number of outbound clicks type 1.
        type: ["null", number]
      OUTBOUND_CLICK_2:
        description: Number of outbound clicks type 2.
        type: ["null", number]
      PAGE_VISIT_COST_PER_ACTION:
        description: Page visit cost per action.
        type: ["null", number]
      PAGE_VISIT_ROAS:
        description: Return on ad spend for page visits.
        type: ["null", number]
      PAID_IMPRESSION:
        description: Number of paid impressions.
        type: ["null", number]
      PIN_ID:
        description: The ID of the pin.
        type: ["null", number]
      PIN_PROMOTION_ID:
        description: The ID of the pin promotion.
        type: ["null", number]
      REPIN_1:
        description: Number of repins type 1.
        type: ["null", number]
      REPIN_2:
        description: Number of repins type 2.
        type: ["null", number]
      REPIN_RATE:
        description: Repins rate.
        type: ["null", number]
      SPEND_IN_DOLLAR:
        description: Total spend in dollar.
        type: ["null", number]
      SPEND_IN_MICRO_DOLLAR:
        description: Total spend in micro dollar.
        type: ["null", number]
      TOTAL_CHECKOUT:
        description: Total number of checkouts.
        type: ["null", number]
      TOTAL_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total value of checkouts in micro dollar.
        type: ["null", number]
      TOTAL_CLICKTHROUGH:
        description: Total number of click-throughs.
        type: ["null", number]
      TOTAL_CLICK_ADD_TO_CART:
        description: Total number of clicks leading to add to cart action.
        type: ["null", number]
      TOTAL_CLICK_CHECKOUT:
        description: Total number of clicks leading to checkout action.
        type: ["null", number]
      TOTAL_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total value of clicks leading to checkout in micro dollar.
        type: ["null", number]
      TOTAL_CLICK_LEAD:
        description: Total number of clicks leading to lead action.
        type: ["null", number]
      TOTAL_CLICK_SIGNUP:
        description: Total number of clicks leading to signup action.
        type: ["null", number]
      TOTAL_CLICK_SIGNUP_VALUE_IN_MICRO_DOLLAR:
        description: Total value of clicks leading to signup in micro dollar.
        type: ["null", number]
      TOTAL_CONVERSIONS:
        description: Total number of conversions.
        type: ["null", number]
      TOTAL_CUSTOM:
        description: Total number of custom actions.
        type: ["null", number]
      TOTAL_ENGAGEMENT:
        description: Total number of engagements.
        type: ["null", number]
      TOTAL_ENGAGEMENT_CHECKOUT:
        description: Total number of engagements leading to checkout action.
        type: ["null", number]
      TOTAL_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total value of engagements leading to checkout in micro dollar.
        type: ["null", number]
      TOTAL_ENGAGEMENT_LEAD:
        description: Total number of engagements leading to lead action.
        type: ["null", number]
      TOTAL_ENGAGEMENT_SIGNUP:
        description: Total number of engagements leading to signup action.
        type: ["null", number]
      TOTAL_ENGAGEMENT_SIGNUP_VALUE_IN_MICRO_DOLLAR:
        description: Total value of engagements leading to signup in micro dollar.
        type: ["null", number]
      TOTAL_IDEA_PIN_PRODUCT_TAG_VISIT:
        description: Total visits to Idea Pin product tags.
        type: ["null", number]
      TOTAL_IMPRESSION_FREQUENCY:
        description: Total impression frequency.
        type: ["null", number]
      TOTAL_IMPRESSION_USER:
        description: Total impressions by users.
        type: ["null", number]
      TOTAL_LEAD:
        description: Total number of leads.
        type: ["null", number]
      TOTAL_OFFLINE_CHECKOUT:
        description: Total offline checkouts.
        type: ["null", number]
      TOTAL_PAGE_VISIT:
        description: Total page visits.
        type: ["null", number]
      TOTAL_REPIN_RATE:
        description: Total repins rate.
        type: ["null", number]
      TOTAL_SIGNUP:
        description: Total number of signups.
        type: ["null", number]
      TOTAL_SIGNUP_VALUE_IN_MICRO_DOLLAR:
        description: Total value of signups in micro dollar.
        type: ["null", number]
      TOTAL_VIDEO_3SEC_VIEWS:
        description: Total number of video views at 3 seconds.
        type: ["null", number]
      TOTAL_VIDEO_AVG_WATCHTIME_IN_SECOND:
        description: Average watch time of videos in seconds.
        type: ["null", number]
      TOTAL_VIDEO_MRC_VIEWS:
        description: Total number of video MRC views.
        type: ["null", number]
      TOTAL_VIDEO_P0_COMBINED:
        description: Total combined P0 video plays.
        type: ["null", number]
      TOTAL_VIDEO_P100_COMPLETE:
        description: Total completion of videos to 100%.
        type: ["null", number]
      TOTAL_VIDEO_P25_COMBINED:
        description: Total combined P25 video plays.
        type: ["null", number]
      TOTAL_VIDEO_P50_COMBINED:
        description: Total combined P50 video plays.
        type: ["null", number]
      TOTAL_VIDEO_P75_COMBINED:
        description: Total combined P75 video plays.
        type: ["null", number]
      TOTAL_VIDEO_P95_COMBINED:
        description: Total combined P95 video plays.
        type: ["null", number]
      TOTAL_VIEW_ADD_TO_CART:
        description: Total views leading to add to cart action.
        type: ["null", number]
      TOTAL_VIEW_CHECKOUT:
        description: Total views leading to checkout action.
        type: ["null", number]
      TOTAL_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total value of views leading to checkout in micro dollar.
        type: ["null", number]
      TOTAL_VIEW_LEAD:
        description: Total views leading to lead action.
        type: ["null", number]
      TOTAL_VIEW_SIGNUP:
        description: Total views leading to signup action.
        type: ["null", number]
      TOTAL_VIEW_SIGNUP_VALUE_IN_MICRO_DOLLAR:
        description: Total value of views leading to signup in micro dollar.
        type: ["null", number]
      TOTAL_WEB_CHECKOUT:
        description: Total web checkouts.
        type: ["null", number]
      TOTAL_WEB_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total value of web checkouts in micro dollar.
        type: ["null", number]
      TOTAL_WEB_CLICK_CHECKOUT:
        description: Total web clicks leading to checkout action.
        type: ["null", number]
      TOTAL_WEB_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total value of web clicks leading to checkout in micro dollar.
        type: ["null", number]
      TOTAL_WEB_ENGAGEMENT_CHECKOUT:
        description: Total web engagements leading to checkout action.
        type: ["null", number]
      TOTAL_WEB_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total value of web engagements leading to checkout in micro dollar.
        type: ["null", number]
      TOTAL_WEB_SESSIONS:
        description: Total number of web sessions.
        type: ["null", number]
      TOTAL_WEB_VIEW_CHECKOUT:
        description: Total web views leading to checkout action.
        type: ["null", number]
      TOTAL_WEB_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: Total value of web views leading to checkout in micro dollar.
        type: ["null", number]
      VIDEO_3SEC_VIEWS_2:
        description: Number of video views at 3 seconds type 2.
        type: ["null", number]
      VIDEO_LENGTH:
        description: Length of the video.
        type: ["null", number]
      VIDEO_MRC_VIEWS_2:
        description: Number of video MRC views type 2.
        type: ["null", number]
      VIDEO_P0_COMBINED_2:
        description: Combined P0 video plays type 2.
        type: ["null", number]
      VIDEO_P100_COMPLETE_2:
        description: Completion of videos to 100% type 2.
        type: ["null", number]
      VIDEO_P25_COMBINED_2:
        description: Combined P25 video plays type 2.
        type: ["null", number]
      VIDEO_P50_COMBINED_2:
        description: Combined P50 video plays type 2.
        type: ["null", number]
      VIDEO_P75_COMBINED_2:
        description: Combined P75 video plays type 2.
        type: ["null", number]
      VIDEO_P95_COMBINED_2:
        description: Combined P95 video plays type 2.
        type: ["null", number]
      WEB_CHECKOUT_COST_PER_ACTION:
        description: Web checkout cost per action.
        type: ["null", number]
      WEB_CHECKOUT_ROAS:
        description: Return on ad spend for web checkouts.
        type: ["null", number]
      WEB_SESSIONS_1:
        description: Number of web sessions type 1.
        type: ["null", number]
      WEB_SESSIONS_2:
        description: Number of web sessions type 2.
        type: ["null", number]

  boards_schema:
    $schema: https://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      owner:
        description: Details of the owner of the board.
        type: ["null", object]
        additionalProperties: true
        properties:
          username:
            description: The username of the board owner.
            type: ["null", string]
      name:
        description: The name/title of the board.
        type: ["null", string]
      description:
        description: A brief description or summary of the board.
        type: ["null", string]
      id:
        description: The unique identifier for the board.
        type: ["null", string]
      privacy:
        description: The privacy settings of the board.
        type: ["null", string]
      follower_count:
        description: The count of followers the board has.
        type: ["null", integer]
      collaborator_count:
        description: The number of collaborators involved in the board.
        type: ["null", integer]
      pin_count:
        description: The total number of pins in the board.
        type: ["null", integer]
      media:
        description: Represents media content associated with the boards.
        type: ["null", object]
        additionalProperties: true
        properties:
          media_type:
            description: The type of media content associated with the board.
            type: ["null", string]
      created_at:
        description: The date and time when the board was created.
        type: ["null", string]
        format: date-time
        airbyte_type: timestamp_without_timezone
      board_pins_modified_at:
        description: The most recent date and time when the board's pins were modified.
        type: ["null", string]
        format: date-time
        airbyte_type: timestamp_without_timezone

  board_pins_schema:
    $schema: https://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    properties:
      id:
        description: The unique identifier of the pin.
        type: ["null", string]
      created_at:
        description: The date and time when the pin was created.
        type: ["null", string]
        format: date-time
        airbyte_type: timestamp_without_timezone
      creative_type:
        description: The type of creative content associated with the pin.
        type: ["null", string]
      is_standard:
        description: Indicates if the pin is a standard pin or a promoted pin.
        type: ["null", boolean]
      is_owner:
        description: Indicates if the current user is the owner of the pin.
        type: ["null", boolean]
      product_tags:
        description: Information about any product tags associated with the pin.
        type: ["null", array]
        items:
          description: Individual product tag details.
          type: ["null", string]
      dominant_color:
        description: The dominant color extracted from the pin's image.
        type: ["null", string]
      parent_pin_id:
        description: The unique identifier of the parent pin if this pin is a repin.
        type: ["null", string]
      link:
        description: The URL link associated with the pin, if applicable.
        type: ["null", string]
      title:
        description: The title or headline associated with the pin.
        type: ["null", string]
      description:
        description: The textual description or caption associated with the pin.
        type: ["null", string]
      alt_text:
        description: Alternate text for the pin image, used for accessibility and SEO purposes.
        type: ["null", string]
      note:
        description: Any additional notes or comments added to the pin by users.
        type: ["null", string]
      board_id:
        description: The unique identifier of the board to which the pin belongs.
        type: ["null", string]
      board_section_id:
        description: The unique identifier of the section within the board where the pin is placed.
        type: ["null", string]
      board_owner:
        description: Information about the owner of the board to which the pin belongs.
        type: ["null", object]
        additionalProperties: true
        properties:
          username:
            description: The username of the board owner.
            type: ["null", string]
      media:
        description: Information about the media content associated with the pin.
        type: ["null", object]
        additionalProperties: true
        properties:
          media_type:
            description: The type of media content, e.g., image, video, or gif.
            type: ["null", string]
      pin_metrics:
        description: Metrics data related to the pin, such as views, likes, and shares.
        type: ["null", object]
      has_been_promoted:
        description: Indicates whether the pin has been promoted or sponsored.
        type: ["null", boolean]

  board_sections_schema:
    $schema: https://json-schema.org/draft-07/schema#
    type: object
    properties:
      name:
        description: The name of the board section.
        type: ["null", string]
      id:
        description: The unique identifier for the board section.
        type: ["null", string]

  board_section_pins_schema:
    $schema: https://json-schema.org/draft-07/schema#
    type: object
    properties:
      id:
        description: Unique identifier for the pin.
        type: ["null", string]
      created_at:
        description: Date and time when the pin was created.
        type: ["null", string]
        format: date-time
        airbyte_type: timestamp_without_timezone
      link:
        description: URL link associated with the pin.
        type: ["null", string]
      title:
        description: Title or caption associated with the pin.
        type: ["null", string]
      description:
        description: Textual description of the pin content or context.
        type: ["null", string]
      alt_text:
        description: Alternate text describing the pin for accessibility purposes.
        type: ["null", string]
      board_id:
        description: Unique identifier for the board the pin belongs to.
        type: ["null", string]
      board_section_id:
        description: Unique identifier for the section within the board where the pin is categorized.
        type: ["null", string]
      board_owner:
        description: Details of the owner of the board the pins belong to
        type: ["null", object]
        properties:
          username:
            description: Username of the owner of the board.
            type: ["null", string]
      pin_metrics:
        description: Metrics or statistics related to the pin, such as views or saves.
        type: ["null", object]
      media:
        description: Media content associated with the pins
        type: ["null", object]
        properties:
          media_type:
            description: Type of media content associated with the pin.
            type: ["null", string]
          images:
            description: Different image sizes available for the pin
            type: ["null", object]
            properties:
              150x150:
                description: Square thumbnail image sized at 150x150 resolution
                type: ["null", object]
                properties:
                  width:
                    description: Width of the image in 150x150 resolution.
                    type: ["null", integer]
                  height:
                    description: Height of the image in 150x150 resolution.
                    type: ["null", integer]
                  url:
                    description: URL of the image in 150x150 resolution.
                    type: ["null", string]
              400x300:
                description: Image sized at 400x300 resolution
                type: ["null", object]
                properties:
                  width:
                    description: Width of the image in 400x300 resolution.
                    type: ["null", integer]
                  height:
                    description: Height of the image in 400x300 resolution.
                    type: ["null", integer]
                  url:
                    description: URL of the image in 400x300 resolution.
                    type: ["null", string]
              600x:
                description: Image sized at 600x resolution
                type: ["null", object]
                properties:
                  width:
                    description: Width of the image in 600x resolution.
                    type: ["null", integer]
                  height:
                    description: Height of the image in 600x resolution.
                    type: ["null", integer]
                  url:
                    description: URL of the image in 600x resolution.
                    type: ["null", string]
              1200x:
                description: Image sized at 1200x resolution
                type: ["null", object]
                properties:
                  width:
                    description: Width of the image in the specified resolution.
                    type: ["null", integer]
                  height:
                    description: Height of the image in the specified resolution.
                    type: ["null", integer]
                  url:
                    description: URL of the image in the specified resolution.
                    type: ["null", string]
              originals:
                description: Original image file without any resizing
                type: ["null", object]
                properties:
                  width:
                    description: Width of the original image.
                    type: ["null", integer]
                  height:
                    description: Height of the original image.
                    type: ["null", integer]
                  url:
                    description: URL of the original image.
                    type: ["null", string]

  campaigns_schema:
    $schema: https://json-schema.org/draft-07/schema#
    type: object
    properties:
      id:
        description: The unique identifier of the campaign.
        type: ["null", string]
      ad_account_id:
        description: The unique identifier of the ad account associated with the campaign.
        type: ["null", string]
      name:
        description: The name of the campaign.
        type: ["null", string]
      status:
        description: The current status of the campaign.
        type: ["null", string]
      lifetime_spend_cap:
        description: The maximum amount that can be spent for the lifetime of the campaign.
        type: ["null", integer]
      daily_spend_cap:
        description: The maximum amount that can be spent daily on the campaign.
        type: ["null", integer]
      order_line_id:
        description: The unique identifier of the order line associated with the campaign.
        type: ["null", string]
      tracking_urls:
        description: List of tracking URLs associated with the campaign
        type: ["null", object]
        properties:
          impression:
            description: Tracking URLs for impression events.
            type: ["null", array]
            items:
              type: ["null", string]
          click:
            description: Tracking URLs for click events.
            type: ["null", array]
            items:
              type: ["null", string]
          engagement:
            description: Tracking URLs for engagement events.
            type: ["null", array]
            items:
              type: ["null", string]
          buyable_button:
            description: Tracking URLs for buyable button events.
            type: ["null", array]
            items:
              type: ["null", string]
          audience_verification:
            description: Tracking URLs for audience verification events.
            type: ["null", array]
            items:
              type: ["null", string]
      objective_type:
        description: The type of the campaign objective.
        type: ["null", string]
      created_time:
        description: The timestamp indicating when the campaign was created.
        type: ["null", integer]
      updated_time:
        description: The timestamp indicating when the campaign was last updated.
        type: ["null", integer]
      type:
        description: The type of the campaign.
        type: ["null", string]
      start_time:
        description: The timestamp indicating the start time of the campaign.
        type: ["null", integer]
      end_time:
        description: The timestamp indicating the end time of the campaign.
        type: ["null", integer]
      summary_status:
        description: The summary status of the campaign.
        type: ["null", string]
      is_campaign_budget_optimization:
        description: Indicates if campaign budget optimization is enabled.
        type: ["null", boolean]
      is_flexible_daily_budgets:
        description: Indicates if flexible daily budgets are enabled for the campaign.
        type: ["null", boolean]

  campaign_analytics_schema:
    $schema: https://json-schema.org/draft-07/schema#
    type: object
    properties:
      DATE:
        description: The date for which the analytics data is recorded.
        type: ["null", string]
        format: date
      ADVERTISER_ID:
        description: The unique identifier of the advertiser involved in the campaign.
        type: ["null", number]
      AD_ACCOUNT_ID:
        description: The unique identifier of the advertising account associated with the campaign.
        type: [string]
      AD_ID:
        description: The unique identifier of the ad.
        type: ["null", string]
      AD_GROUP_ENTITY_STATUS:
        description: The current status of the ad group within the campaign.
        type: ["null", string]
      AD_GROUP_ID:
        description: The unique identifier of the ad group within the campaign.
        type: ["null", string]
      CAMPAIGN_DAILY_SPEND_CAP:
        description: The daily spending limit set for the campaign.
        type: ["null", number]
      CAMPAIGN_ENTITY_STATUS:
        description: The current status of the campaign.
        type: ["null", number]
      CAMPAIGN_ID:
        description: The unique identifier of the campaign.
        type: ["null", number]
      CAMPAIGN_LIFETIME_SPEND_CAP:
        description: The total spending limit set for the campaign.
        type: ["null", number]
      CAMPAIGN_NAME:
        description: The name of the campaign.
        type: ["null", string]
      CHECKOUT_ROAS:
        description: The return on ad spend (ROAS) related to checkout actions.
        type: ["null", number]
      CLICKTHROUGH_1:
        description: The number of click-throughs for a specific action.
        type: ["null", number]
      CLICKTHROUGH_1_GROSS:
        description: The gross number of click-throughs for a specific action, including duplicates.
        type: ["null", number]
      CLICKTHROUGH_2:
        description: Another metric related to click-throughs.
        type: ["null", number]
      CPC_IN_MICRO_DOLLAR:
        description: The cost per click (CPC) in micro dollars.
        type: ["null", number]
      CPM_IN_DOLLAR:
        description: The cost per mille (CPM) in dollars.
        type: ["null", number]
      CPM_IN_MICRO_DOLLAR:
        description: The cost per mille (CPM) in micro dollars.
        type: ["null", number]
      CTR:
        description: The click-through rate (CTR) for the campaign.
        type: ["null", number]
      CTR_2:
        description: Another metric related to click-through rates.
        type: ["null", number]
      ECPCV_IN_DOLLAR:
        description: The effective cost per converted view in dollars.
        type: ["null", number]
      ECPCV_P95_IN_DOLLAR:
        description: The 95th percentile effective cost per converted view in dollars.
        type: ["null", number]
      ECPC_IN_DOLLAR:
        description: The effective cost per click in dollars.
        type: ["null", number]
      ECPC_IN_MICRO_DOLLAR:
        description: The effective cost per click in micro dollars.
        type: ["null", number]
      ECPE_IN_DOLLAR:
        description: The effective cost per engagement in dollars.
        type: ["null", number]
      ECPM_IN_MICRO_DOLLAR:
        description: The effective cost per mille (ECPM) in micro dollars.
        type: ["null", number]
      ECPV_IN_DOLLAR:
        description: The effective cost per view in dollars.
        type: ["null", number]
      ECTR:
        description: The effective click-through rate (CTR) for the campaign.
        type: ["null", number]
      EENGAGEMENT_RATE:
        description: The engagement rate for the campaign.
        type: ["null", number]
      ENGAGEMENT_1:
        description: The number of engagements for a specific action.
        type: ["null", number]
      ENGAGEMENT_2:
        description: Another metric related to engagements.
        type: ["null", number]
      ENGAGEMENT_RATE:
        description: The engagement rate for the campaign.
        type: ["null", number]
      IDEA_PIN_PRODUCT_TAG_VISIT_1:
        description: The number of visits related to product tags in a pin for a specific action.
        type: ["null", number]
      IDEA_PIN_PRODUCT_TAG_VISIT_2:
        description: Another metric related to visits related to product tags in pins.
        type: ["null", number]
      IMPRESSION_1:
        description: The number of impressions for a specific action.
        type: ["null", number]
      IMPRESSION_1_GROSS:
        description: The gross number of impressions for a specific action, including duplicates.
        type: ["null", number]
      IMPRESSION_2:
        description: Another metric related to impressions.
        type: ["null", number]
      INAPP_CHECKOUT_COST_PER_ACTION:
        description: The cost per action related to in-app checkouts.
        type: ["null", number]
      OUTBOUND_CLICK_1:
        description: The number of outbound clicks for a specific action.
        type: ["null", number]
      OUTBOUND_CLICK_2:
        description: Another metric related to outbound clicks.
        type: ["null", number]
      PAGE_VISIT_COST_PER_ACTION:
        description: The cost per action related to page visits.
        type: ["null", number]
      PAGE_VISIT_ROAS:
        description: The return on ad spend (ROAS) related to page visits.
        type: ["null", number]
      PAID_IMPRESSION:
        description: The number of paid impressions.
        type: ["null", number]
      PIN_ID:
        description: The unique identifier of the pin.
        type: ["null", number]
      PIN_PROMOTION_ID:
        description: The unique identifier of the promoted pin, if applicable.
        type: ["null", number]
      REPIN_1:
        description: The number of repins for a specific action.
        type: ["null", number]
      REPIN_2:
        description: Another metric related to repins.
        type: ["null", number]
      REPIN_RATE:
        description: The repin rate for the campaign.
        type: ["null", number]
      SPEND_IN_DOLLAR:
        description: The total spending in dollars for the campaign.
        type: ["null", number]
      SPEND_IN_MICRO_DOLLAR:
        description: The total spending in micro dollars for the campaign.
        type: ["null", number]
      TOTAL_CHECKOUT:
        description: The total number of checkouts.
        type: ["null", number]
      TOTAL_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: The total value of checkouts in micro dollars.
        type: ["null", number]
      TOTAL_CLICKTHROUGH:
        description: The total number of click-throughs.
        type: ["null", number]
      TOTAL_CLICK_ADD_TO_CART:
        description: The total number of clicks leading to adding items to the cart.
        type: ["null", number]
      TOTAL_CLICK_CHECKOUT:
        description: The total number of clicks leading to the checkout page.
        type: ["null", number]
      TOTAL_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: The total value of clicks leading to the checkout page in micro dollars.
        type: ["null", number]
      TOTAL_CLICK_LEAD:
        description: The total number of clicks leading to generating leads.
        type: ["null", number]
      TOTAL_CLICK_SIGNUP:
        description: The total number of clicks leading to signing up.
        type: ["null", number]
      TOTAL_CLICK_SIGNUP_VALUE_IN_MICRO_DOLLAR:
        description: The total value of clicks leading to signing up in micro dollars.
        type: ["null", number]
      TOTAL_CONVERSIONS:
        description: The total number of conversions.
        type: ["null", number]
      TOTAL_CUSTOM:
        description: A custom metric or dimension that is tracked.
        type: ["null", number]
      TOTAL_ENGAGEMENT:
        description: The total number of engagements across actions.
        type: ["null", number]
      TOTAL_ENGAGEMENT_CHECKOUT:
        description: The total number of engagements leading to checkout.
        type: ["null", number]
      TOTAL_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: The total value of engagements leading to checkout in micro dollars.
        type: ["null", number]
      TOTAL_ENGAGEMENT_LEAD:
        description: The total number of engagements leading to generating leads.
        type: ["null", number]
      TOTAL_ENGAGEMENT_SIGNUP:
        description: The total number of engagements leading to signing up.
        type: ["null", number]
      TOTAL_ENGAGEMENT_SIGNUP_VALUE_IN_MICRO_DOLLAR:
        description: The total value of engagements leading to signing up in micro dollars.
        type: ["null", number]
      TOTAL_IDEA_PIN_PRODUCT_TAG_VISIT:
        description: The total number of visits related to product tags in pins across actions.
        type: ["null", number]
      TOTAL_IMPRESSION_FREQUENCY:
        description: The frequency of impressions per user.
        type: ["null", number]
      TOTAL_IMPRESSION_USER:
        description: The total number of unique users reached through impressions.
        type: ["null", number]
      TOTAL_LEAD:
        description: The total number of leads generated.
        type: ["null", number]
      TOTAL_OFFLINE_CHECKOUT:
        description: The total number of offline checkouts.
        type: ["null", number]
      TOTAL_PAGE_VISIT:
        description: The total number of page visits.
        type: ["null", number]
      TOTAL_REPIN_RATE:
        description: The overall repin rate across actions.
        type: ["null", number]
      TOTAL_SIGNUP:
        description: The total number of signups.
        type: ["null", number]
      TOTAL_SIGNUP_VALUE_IN_MICRO_DOLLAR:
        description: The total value of signups in micro dollars.
        type: ["null", number]
      TOTAL_VIDEO_3SEC_VIEWS:
        description: The total number of 3-second video views.
        type: ["null", number]
      TOTAL_VIDEO_AVG_WATCHTIME_IN_SECOND:
        description: The average watch time of video views in seconds.
        type: ["null", number]
      TOTAL_VIDEO_MRC_VIEWS:
        description: The total number of viewable video impressions.
        type: ["null", number]
      TOTAL_VIDEO_P0_COMBINED:
        description: The percentage of videos that were played to completion.
        type: ["null", number]
      TOTAL_VIDEO_P100_COMPLETE:
        description: The percentage of videos that were fully played to completion.
        type: ["null", number]
      TOTAL_VIDEO_P25_COMBINED:
        description: The percentage of videos that were 25% viewed.
        type: ["null", number]
      TOTAL_VIDEO_P50_COMBINED:
        description: The percentage of videos that were 50% viewed.
        type: ["null", number]
      TOTAL_VIDEO_P75_COMBINED:
        description: The percentage of videos that were 75% viewed.
        type: ["null", number]
      TOTAL_VIDEO_P95_COMBINED:
        description: The percentage of videos that were 95% viewed.
        type: ["null", number]
      TOTAL_VIEW_ADD_TO_CART:
        description: The total number of views leading to adding items to the cart.
        type: ["null", number]
      TOTAL_VIEW_CHECKOUT:
        description: The total number of views leading to the checkout page.
        type: ["null", number]
      TOTAL_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: The total value of views leading to the checkout page in micro dollars.
        type: ["null", number]
      TOTAL_VIEW_LEAD:
        description: The total number of views leading to generating leads.
        type: ["null", number]
      TOTAL_VIEW_SIGNUP:
        description: The total number of views leading to signing up.
        type: ["null", number]
      TOTAL_VIEW_SIGNUP_VALUE_IN_MICRO_DOLLAR:
        description: The total value of views leading to signing up in micro dollars.
        type: ["null", number]
      TOTAL_WEB_CHECKOUT:
        description: The total number of web checkouts.
        type: ["null", number]
      TOTAL_WEB_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: The total value of web checkouts in micro dollars.
        type: ["null", number]
      TOTAL_WEB_CLICK_CHECKOUT:
        description: The total number of web clicks leading to the checkout page.
        type: ["null", number]
      TOTAL_WEB_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: The total value of web clicks leading to the checkout page in micro dollars.
        type: ["null", number]
      TOTAL_WEB_ENGAGEMENT_CHECKOUT:
        description: The total number of web engagements leading to checkout.
        type: ["null", number]
      TOTAL_WEB_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: The total value of web engagements leading to checkout in micro dollars.
        type: ["null", number]
      TOTAL_WEB_SESSIONS:
        description: The total number of web sessions.
        type: ["null", number]
      TOTAL_WEB_VIEW_CHECKOUT:
        description: The total number of web views leading to the checkout page.
        type: ["null", number]
      TOTAL_WEB_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR:
        description: The total value of web views leading to the checkout page in micro dollars.
        type: ["null", number]
      VIDEO_3SEC_VIEWS_2:
        description: Another metric related to 3-second video views.
        type: ["null", number]
      VIDEO_LENGTH:
        description: The length of the video in seconds.
        type: ["null", number]
      VIDEO_MRC_VIEWS_2:
        description: Another metric related to viewable video impressions.
        type: ["null", number]
      VIDEO_P0_COMBINED_2:
        description: Another metric related to the percentage of videos played to completion.
        type: ["null", number]
      VIDEO_P100_COMPLETE_2:
        description: Another metric related to the percentage of videos fully played to completion.
        type: ["null", number]
      VIDEO_P25_COMBINED_2:
        description: Another metric related to the percentage of videos that were 25% viewed.
        type: ["null", number]
      VIDEO_P50_COMBINED_2:
        description: Another metric related to the percentage of videos that were 50% viewed.
        type: ["null", number]
      VIDEO_P75_COMBINED_2:
        description: Another metric related to the percentage of videos that were 75% viewed.
        type: ["null", number]
      VIDEO_P95_COMBINED_2:
        description: Another metric related to the percentage of videos that were 95% viewed.
        type: ["null", number]
      WEB_CHECKOUT_COST_PER_ACTION:
        description: The cost per action related to web checkouts.
        type: ["null", number]
      WEB_CHECKOUT_ROAS:
        description: The return on ad spend (ROAS) related to web checkouts.
        type: ["null", number]
      WEB_SESSIONS_1:
        description: The number of web sessions for a specific action.
        type: ["null", number]
      WEB_SESSIONS_2:
        description: Another metric related to web sessions.
        type: ["null", number]

  user_account_analytics_schema:
    $schema: https://json-schema.org/draft-07/schema#
    type: object
    properties:
      data_status:
        description: The status of the data being fetched, such as 'success' or 'error'.
        type: ["null", string]
      date:
        description: The date corresponding to the analytics data.
[...]
