version: 0.78.5

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - projects

definitions:
  streams:
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: projects
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    stories:
      type: DeclarativeStream
      name: stories
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: projects/{{ stream_slice['project_id'] }}/stories
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: project_id
                stream:
                  $ref: "#/definitions/streams/projects"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/stories"
    project_memberships:
      type: DeclarativeStream
      name: project_memberships
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: projects/{{ stream_slice['project_id'] }}/memberships
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: project_id
                stream:
                  $ref: "#/definitions/streams/projects"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/project_memberships"
    labels:
      type: DeclarativeStream
      name: labels
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: projects/{{ stream_slice['project_id'] }}/labels
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: project_id
                stream:
                  $ref: "#/definitions/streams/projects"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/labels"
    releases:
      type: DeclarativeStream
      name: releases
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: projects/{{ stream_slice['project_id'] }}/releases
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: project_id
                stream:
                  $ref: "#/definitions/streams/projects"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/releases"
    epics:
      type: DeclarativeStream
      name: epics
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: projects/{{ stream_slice['project_id'] }}/epics
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: project_id
                stream:
                  $ref: "#/definitions/streams/projects"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/epics"
    activity:
      type: DeclarativeStream
      name: activity
      primary_key:
        - guid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: projects/{{ stream_slice['project_id'] }}/activity
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 10
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: project_id
                stream:
                  $ref: "#/definitions/streams/projects"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/activity"
  base_requester:
    type: HttpRequester
    url_base: https://www.pivotaltracker.com/services/v5/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['api_token'] }}"
      inject_into:
        type: RequestOption
        field_name: X-TrackerToken
        inject_into: header

streams:
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/stories"
  - $ref: "#/definitions/streams/project_memberships"
  - $ref: "#/definitions/streams/labels"
  - $ref: "#/definitions/streams/releases"
  - $ref: "#/definitions/streams/epics"
  - $ref: "#/definitions/streams/activity"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_token
    properties:
      api_token:
        type: string
        description: Pivotal Tracker API token
        examples:
          - 5c054d0de3440452190fdc5d5a04d871
        airbyte_secret: true
        order: 0
    additionalProperties: true

metadata:
  autoImportSchema:
    projects: true
    stories: true
    project_memberships: true
    labels: true
    releases: true
    epics: true
    activity: true

schemas:
  epics:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      id:
        type:
          - "null"
          - integer
      url:
        type:
          - "null"
          - string
      kind:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      label:
        type: object
        properties:
          id:
            type:
              - "null"
              - integer
          kind:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          created_at:
            type:
              - "null"
              - string
            format: date-time
          project_id:
            type:
              - "null"
              - integer
          updated_at:
            type:
              - "null"
              - string
            format: date-time
      created_at:
        type:
          - "null"
          - string
        format: date-time
      project_id:
        type:
          - "null"
          - integer
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      description:
        type:
          - "null"
          - string
    additionalProperties: true
  labels:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      id:
        type:
          - "null"
          - integer
      kind:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      project_id:
        type:
          - "null"
          - integer
      updated_at:
        type:
          - "null"
          - string
        format: date-time
    additionalProperties: true
  stories:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      id:
        type:
          - "null"
          - integer
      url:
        type:
          - "null"
          - string
      kind:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      labels:
        type: array
        items:
          type: object
          properties:
            id:
              type:
                - "null"
                - integer
            kind:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
              format: date-time
            project_id:
              type:
                - "null"
                - integer
            updated_at:
              type:
                - "null"
                - string
              format: date-time
      deadline:
        type:
          - "null"
          - string
        format: date-time
      estimate:
        type:
          - "null"
          - integer
      owner_ids:
        type: array
        items:
          type: integer
      created_at:
        type:
          - "null"
          - string
        format: date-time
      project_id:
        type:
          - "null"
          - integer
      story_type:
        type:
          - "null"
          - string
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      accepted_at:
        type:
          - "null"
          - string
        format: date-time
      description:
        type:
          - "null"
          - string
      owned_by_id:
        type:
          - "null"
          - integer
      current_state:
        type:
          - "null"
          - string
      story_priority:
        type:
          - "null"
          - string
      requested_by_id:
        type:
          - "null"
          - integer
    additionalProperties: true
  activity:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - guid
    properties:
      guid:
        type: string
      kind:
        type:
          - string
          - "null"
      changes:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            kind:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            new_values:
              type:
                - object
                - "null"
              properties:
                version:
                  type:
                    - number
                    - "null"
                id:
                  type:
                    - number
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                repo:
                  type:
                    - string
                    - "null"
                text:
                  type:
                    - string
                    - "null"
                label:
                  type:
                    - string
                    - "null"
                owner:
                  type:
                    - string
                    - "null"
                counts:
                  type:
                    - object
                    - "null"
                  properties:
                    kind:
                      type:
                        - string
                        - "null"
                    number_of_stories_by_state:
                      type:
                        - object
                        - "null"
                      properties:
                        kind:
                          type:
                            - string
                            - "null"
                        planned:
                          type:
                            - number
                            - "null"
                        started:
                          type:
                            - number
                            - "null"
                        accepted:
                          type:
                            - number
                            - "null"
                        finished:
                          type:
                            - number
                            - "null"
                        rejected:
                          type:
                            - number
                            - "null"
                        delivered:
                          type:
                            - number
                            - "null"
                        unstarted:
                          type:
                            - number
                            - "null"
                        unscheduled:
                          type:
                            - number
                            - "null"
                    sum_of_story_estimates_by_state:
                      type:
                        - object
                        - "null"
                      properties:
                        kind:
                          type:
                            - string
                            - "null"
                        planned:
                          type:
                            - number
                            - "null"
                        started:
                          type:
                            - number
                            - "null"
                        accepted:
                          type:
                            - number
                            - "null"
                        finished:
                          type:
                            - number
                            - "null"
                        rejected:
                          type:
                            - number
                            - "null"
                        delivered:
                          type:
                            - number
                            - "null"
                        unstarted:
                          type:
                            - number
                            - "null"
                        unscheduled:
                          type:
                            - number
                            - "null"
                    number_of_zero_point_stories_by_state:
                      type:
                        - object
                        - "null"
                      properties:
                        kind:
                          type:
                            - string
                            - "null"
                        planned:
                          type:
                            - number
                            - "null"
                        started:
                          type:
                            - number
                            - "null"
                        accepted:
                          type:
                            - number
                            - "null"
                        finished:
                          type:
                            - number
                            - "null"
                        rejected:
                          type:
                            - number
                            - "null"
                        delivered:
                          type:
                            - number
                            - "null"
                        unstarted:
                          type:
                            - number
                            - "null"
                        unscheduled:
                          type:
                            - number
                            - "null"
                labels:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - string
                      - "null"
                number:
                  type:
                    - number
                    - "null"
                status:
                  type:
                    - string
                    - "null"
                after_id:
                  type:
                    - number
                    - "null"
                deadline:
                  type:
                    - string
                    - "null"
                estimate:
                  type:
                    - number
                    - "null"
                host_url:
                  type:
                    - string
                    - "null"
                label_id:
                  type:
                    - number
                    - "null"
                story_id:
                  type:
                    - number
                    - "null"
                before_id:
                  type:
                    - number
                    - "null"
                label_ids:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - number
                      - "null"
                owner_ids:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - number
                      - "null"
                person_id:
                  type:
                    - number
                    - "null"
                created_at:
                  type:
                    - string
                    - "null"
                project_id:
                  type:
                    - number
                    - "null"
                story_type:
                  type:
                    - string
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
                accepted_at:
                  type:
                    - string
                    - "null"
                avatar_guid:
                  type:
                    - string
                    - "null"
                description:
                  type:
                    - string
                    - "null"
                owned_by_id:
                  type:
                    - number
                    - "null"
                completed_at:
                  type:
                    - number
                    - "null"
                follower_ids:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - number
                      - "null"
                current_state:
                  type:
                    - string
                    - "null"
                attachment_ids:
                  type:
                    - array
                    - "null"
                review_type_id:
                  type:
                    - number
                    - "null"
                story_priority:
                  type:
                    - string
                    - "null"
                profile_content:
                  type:
                    - string
                    - "null"
                requested_by_id:
                  type:
                    - number
                    - "null"
                file_attachments:
                  type:
                    - array
                    - "null"
                blocked_story_ids:
                  type:
                    - array
                    - "null"
                google_attachments:
                  type:
                    - array
                    - "null"
                file_attachment_ids:
                  type:
                    - array
                    - "null"
                google_attachment_ids:
                  type:
                    - array
                    - "null"
                past_done_stories_count:
                  type:
                    - number
                    - "null"
                past_done_story_estimates:
                  type:
                    - number
                    - "null"
                past_done_stories_no_point_count:
                  type:
                    - number
                    - "null"
            story_type:
              type:
                - string
                - "null"
            change_type:
              type:
                - string
                - "null"
            story_priority:
              type:
                - string
                - "null"
            original_values:
              type:
                - object
                - "null"
              properties:
                counts:
                  type:
                    - object
                    - "null"
                  properties:
                    kind:
                      type:
                        - string
                        - "null"
                    number_of_stories_by_state:
                      type:
                        - object
                        - "null"
                      properties:
                        kind:
                          type:
                            - string
                            - "null"
                        planned:
                          type:
                            - number
                            - "null"
                        started:
                          type:
                            - number
                            - "null"
                        accepted:
                          type:
                            - number
                            - "null"
                        finished:
                          type:
                            - number
                            - "null"
                        rejected:
                          type:
                            - number
                            - "null"
                        delivered:
                          type:
                            - number
                            - "null"
                        unstarted:
                          type:
                            - number
                            - "null"
                        unscheduled:
                          type:
                            - number
                            - "null"
                    sum_of_story_estimates_by_state:
                      type:
                        - object
                        - "null"
                      properties:
                        kind:
                          type:
                            - string
                            - "null"
                        planned:
                          type:
                            - number
                            - "null"
                        started:
                          type:
                            - number
                            - "null"
                        accepted:
                          type:
                            - number
                            - "null"
                        finished:
                          type:
                            - number
                            - "null"
                        rejected:
                          type:
                            - number
                            - "null"
                        delivered:
                          type:
                            - number
                            - "null"
                        unstarted:
                          type:
                            - number
                            - "null"
                        unscheduled:
                          type:
                            - number
                            - "null"
                    number_of_zero_point_stories_by_state:
                      type:
                        - object
                        - "null"
                      properties:
                        kind:
                          type:
                            - string
                            - "null"
                        planned:
                          type:
                            - number
                            - "null"
                        started:
                          type:
                            - number
                            - "null"
                        accepted:
                          type:
                            - number
                            - "null"
                        finished:
                          type:
                            - number
                            - "null"
                        rejected:
                          type:
                            - number
                            - "null"
                        delivered:
                          type:
                            - number
                            - "null"
                        unstarted:
                          type:
                            - number
                            - "null"
                        unscheduled:
                          type:
                            - number
                            - "null"
                status:
                  type:
                    - string
                    - "null"
                owner_ids:
                  type:
                    - array
                    - "null"
                updated_at:
                  type:
                    - string
                    - "null"
                avatar_guid:
                  type:
                    - string
                    - "null"
                completed_at:
                  type:
                    - number
                    - "null"
                follower_ids:
                  type:
                    - array
                    - "null"
                current_state:
                  type:
                    - string
                    - "null"
      message:
        type:
          - string
          - "null"
      project:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          kind:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      highlight:
        type:
          - string
          - "null"
      occurred_at:
        type:
          - string
          - "null"
      performed_by:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          kind:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          initials:
            type:
              - string
              - "null"
      project_version:
        type:
          - number
          - "null"
      primary_resources:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            url:
              type:
                - string
                - "null"
            kind:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            story_type:
              type:
                - string
                - "null"
            story_priority:
              type:
                - string
                - "null"
      secondary_resources:
        type:
          - array
          - "null"
    additionalProperties: true
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      version:
        type:
          - number
          - "null"
      id:
        type: number
      kind:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      public:
        type:
          - boolean
          - "null"
      time_zone:
        type:
          - object
          - "null"
        properties:
          kind:
            type:
              - string
              - "null"
          offset:
            type:
              - string
              - "null"
          olson_name:
            type:
              - string
              - "null"
      account_id:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      start_time:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      point_scale:
        type:
          - string
          - "null"
      atom_enabled:
        type:
          - boolean
          - "null"
      enable_tasks:
        type:
          - boolean
          - "null"
      project_type:
        type:
          - string
          - "null"
      week_start_day:
        type:
          - string
          - "null"
      profile_content:
        type:
          - string
          - "null"
      enable_following:
        type:
          - boolean
          - "null"
      initial_velocity:
        type:
          - number
          - "null"
      iteration_length:
        type:
          - number
          - "null"
      has_google_domain:
        type:
          - boolean
          - "null"
      automatic_planning:
        type:
          - boolean
          - "null"
      show_priority_icon:
        type:
          - boolean
          - "null"
      show_story_priority:
        type:
          - boolean
          - "null"
      point_scale_is_custom:
        type:
          - boolean
          - "null"
      enable_incoming_emails:
        type:
          - boolean
          - "null"
      velocity_averaged_over:
        type:
          - number
          - "null"
      current_iteration_number:
        type:
          - number
          - "null"
      bugs_and_chores_are_estimatable:
        type:
          - boolean
          - "null"
      show_priority_icon_in_all_panels:
        type:
          - boolean
          - "null"
      number_of_done_iterations_to_show:
        type:
          - number
          - "null"
    additionalProperties: true
  releases:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      id:
        type:
          - "null"
          - integer
      url:
        type:
          - "null"
          - string
      kind:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      labels:
        type: array
        items:
          type: object
          properties:
            id:
              type:
                - "null"
                - integer
            kind:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
              format: date-time
            project_id:
              type:
                - "null"
                - integer
            updated_at:
              type:
                - "null"
                - string
              format: date-time
      deadline:
        type:
          - "null"
          - string
        format: date-time
      created_at:
        type:
          - "null"
          - string
        format: date-time
      project_id:
        type:
          - "null"
          - integer
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      accepted_at:
        type:
          - "null"
          - string
        format: date-time
      current_state:
        type:
          - "null"
          - string
    additionalProperties: true
  project_memberships:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      id:
        type:
          - "null"
          - integer
      kind:
        type:
          - "null"
          - string
      role:
        type:
          - "null"
          - string
      person:
        type: object
        properties:
          id:
            type:
              - "null"
              - integer
          kind:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          email:
            type:
              - "null"
              - string
          initials:
            type:
              - "null"
              - string
          username:
            type:
              - "null"
              - string
      favorite:
        type:
          - "null"
          - boolean
      created_at:
        type:
          - "null"
          - string
        format: date-time
      project_id:
        type:
          - "null"
          - integer
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      project_color:
        type:
          - "null"
          - string
      last_viewed_at:
        type:
          - "null"
          - string
        format: date-time
      wants_comment_notification_emails:
        type:
          - "null"
          - boolean
      will_receive_mention_notifications_or_emails:
        type:
          - "null"
          - boolean
    additionalProperties: true
