version: 0.79.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - executions

definitions:
  streams:
    executions:
      type: DeclarativeStream
      name: executions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: /executions
          http_method: GET
          request_parameters:
            limit: '250'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 250
            cursor_value: '{{ response.nextCursor }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: '#/schemas/executions'
  base_requester:
    type: HttpRequester
    url_base: '{{ config[''host''] }}/api/v1'
    authenticator:
      type: ApiKeyAuthenticator
      api_token: '{{ config[''api_key''] }}'
      inject_into:
        type: RequestOption
        field_name: X-N8N-API-KEY
        inject_into: header

streams:
  - $ref: '#/definitions/streams/executions'

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - host
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        description: >-
          Your API KEY. See <a
          href="https://docs.n8n.io/api/authentication">here</a>
        order: 0
      host:
        type: string
        description: Hostname of the n8n instance
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    executions: false

schemas:
  executions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      finished:
        type:
          - boolean
      id:
        type:
          - integer
      mode:
        type:
          - string
      retryOf:
        type:
          - 'null'
          - string
      retrySuccessId:
        type:
          - 'null'
          - integer
      startedAt:
        type:
          - string
      stoppedAt:
        type:
          - 'null'
          - string
      waitTill:
        type:
          - 'null'
          - string
      workflowId:
        type:
          - 'null'
          - string
    additionalProperties: true
