@use "scss/colors";

.openModalButton.openModalButton {
  height: 100%;
  // aspect-ratio: 1 / 1;
  // color: colors.$grey-50;

  // &:hover {
  //   color: colors.$grey-200;
  // }
}

.modalContent {
  width: 800px;
  height: 700px;
  background-color: colors.$dark-blue;
}
