@use "scss/variables";
@use "scss/colors";

.tabList {
  flex: 0 0 auto;
  display: flex;
}

.tab {
  flex: 1;
  background-color: transparent;
  border: 0;
}

.tabTitle {
  border-bottom: variables.$border-thin solid colors.$grey-50;
  color: colors.$grey-300;
  font-weight: 500;
  font-size: 10px;
  cursor: pointer;
  padding: 3px;
}

.selected {
  border-bottom-color: colors.$grey-300;
  color: colors.$dark-blue;
}

.tabPanelContainer {
  flex: 1;
  min-height: 0;
}

.tabPanel {
  max-height: 100%;
  overflow-y: auto;
}

// add a fade at the bottom of the tabPanel
.tabPanel::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, colors.$transparentColor, colors.$white 100%);
  width: 100%;
  height: variables.$spacing-xl;
}
