@use "scss/colors";
@use "scss/variables";

.displayBox {
  padding: variables.$spacing-md;
  border-radius: variables.$border-radius-xs;
  overflow-x: auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-md;
}

.slice {
  background-color: colors.$blue-200;
}

.page {
  background-color: colors.$blue-100;
}

.pageData {
  background-color: colors.$blue-50;
}

.state {
  background-color: colors.$orange-50;
}

.logs {
  background-color: colors.$grey-200;
}
