@use "scss/colors";
@use "scss/variables";

.container {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-lg;
}

// .displayBox {
//   background-color: aqua;
//   padding: variables.$spacing-md;
//   border-radius: variables.$border-radius-xs;
//   overflow-x: auto;
//   display: flex;
//   flex-direction: column;
//   gap: variables.$spacing-md;
//   flex: 1;
// }

// .slice {
//   background-color: colors.$blue-200;
// }

// .page {
//   background-color: colors.$blue-100;
// }

// .pageData {
//   background-color: colors.$blue-50;
// }

// .state {
//   background-color: colors.$orange-50;
// }

// .logs {
//   background-color: colors.$grey-200;
// }

.paginator {
  display: flex;
  gap: 5px;
  align-self: center;
  justify-self: flex-end;
  margin-top: auto;
  margin-bottom: 0;
  flex: 0 0 auto;
}

.pageLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 10px;
}
