@use "scss/variables";
@use "scss/colors";

.centered {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 320px;
}

.button {
  padding: variables.$spacing-md;
  background-color: transparent;
  border-radius: variables.$border-radius-md;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.arrow {
  margin-left: variables.$spacing-md;
  margin-top: -1px;
  color: colors.$blue;
}

.optionsMenu {
  background-color: colors.$white;
  border-radius: variables.$border-radius-md;
  box-shadow: 0 7px 15px -5px colors.$grey;
  padding: variables.$spacing-md;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
}

.option {
  list-style-type: none;
}

.optionValue {
  padding: variables.$spacing-lg variables.$spacing-md;
  border-radius: variables.$border-radius-md;
  cursor: pointer;
}

.active {
  background-color: colors.$grey-100;
}

.capitalized {
  text-transform: capitalize;
}
