@use "scss/variables";

.container {
  padding: variables.$spacing-xl;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: variables.$spacing-xl;
}

.streamSelector {
  flex: 0 0 auto;
}

.testControls {
  flex: 0 0 auto;
}

.resultDisplay {
  flex: 1;
  min-height: 0;
}

.placeholder {
  margin-left: auto;
  margin-right: auto;
}
