@use "scss/variables";
@use "scss/colors";

.centered {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  max-width: 320px;
}

.button {
  padding: variables.$spacing-md;
  background-color: transparent;
  border-radius: variables.$border-radius-lg;
  border: none;
  display: flex;
  justify-content: center;
}

.arrow {
  margin-left: variables.$spacing-md;
  margin-top: -1px;
  color: colors.$blue;
}
