@use "scss/variables";

.container {
  padding: variables.$spacing-xl variables.$spacing-md variables.$spacing-md variables.$spacing-md;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: variables.$spacing-lg;
}

.streamSelector {
  flex: 0 0 auto;
}

.testControls {
  flex: 0 0 auto;
}

.resizablePanelsContainer {
  flex: 1;
  min-height: 0;

  // required to hide the connector logs splitter underneath the resizable panel overlay
  z-index: 0;
}

.placeholder {
  margin-left: auto;
  margin-right: auto;
}
