@use "scss/colors";
@use "scss/variables";

$testIconHeight: 17px;

.container {
  margin: variables.$spacing-lg 0;
  display: flex;
  gap: variables.$spacing-md;
  height: 36px;
}

.urlDisplay {
  background-color: colors.$grey-50;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: variables.$spacing-md;
  overflow-x: hidden;
  border-radius: variables.$border-radius-xs;

  p {
    color: colors.$grey;
    font-weight: 400;
  }
}

.testButton {
  margin-right: 0;
  flex: 0 0 100px;
}

.testButtonText {
  color: colors.$white;
}

:export {
  testIconHeight: $testIconHeight;
}
