version: 4.3.2

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - Campaigns

definitions:
  streams:
    Campaigns:
      type: DeclarativeStream
      name: campaigns
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: campaign/version/4/do/query
          http_method: GET
          request_parameters:
            format: json
            created_after: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
            sort_by: id
            sort_order: ascending
          request_headers:
            Pardot-Business-Unit-Id: '{{ config["pardot_business_unit_id"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - campaign
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: id_greater_than
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("campaign", {})[-1].get("id", {}) }}'
            stop_condition: '{{ not response.get("campaign", {})[-1].get("id", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Campaigns"
    EmailClicks:
      type: DeclarativeStream
      name: email_clicks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: emailClick/version/4/do/query
          http_method: GET
          request_parameters:
            format: json
            created_after: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
          request_headers:
            Pardot-Business-Unit-Id: '{{ config["pardot_business_unit_id"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - emailClick
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: id_greater_than
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("emailClick", {})[-1].get("id", {}) }}'
            stop_condition: '{{ not response.get("emailClick", {})[-1].get("id", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/EmailClicks"
    ListMembership:
      type: DeclarativeStream
      name: list_membership
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: listMembership/version/4/do/query
          http_method: GET
          request_parameters:
            format: json
            created_after: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
            sort_by: id
            sort_order: ascending
          request_headers:
            Pardot-Business-Unit-Id: '{{ config["pardot_business_unit_id"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - list_membership
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: updated_after
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get("list_membership", {})[-1].get("updated_at", {})
              }}
            stop_condition: >-
              {{ not response.get("list_membership", {})[-1].get("updated_at",
              {}) }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ListMembership"
    Lists:
      type: DeclarativeStream
      name: lists
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: list/version/4/do/query
          http_method: GET
          request_parameters:
            format: json
            created_after: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
            sort_by: updated_at
            sort_order: ascending
          request_headers:
            Pardot-Business-Unit-Id: '{{ config["pardot_business_unit_id"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - list
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: updated_after
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("list", {})[-1].get("updated_at", {}) }}'
            stop_condition: '{{ not response.get("list", {})[-1].get("updated_at", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Lists"
    ProspectAccounts:
      type: DeclarativeStream
      name: prospect_accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: prospectAccount/version/4/do/query
          http_method: GET
          request_parameters:
            format: json
            created_after: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
            sort_by: updated_at
            sort_order: ascending
          request_headers:
            Pardot-Business-Unit-Id: '{{ config["pardot_business_unit_id"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - prospectAccount
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: updated_after
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get("prospectAccount", {})[-1].get("updated_at", {})
              }}
            stop_condition: >-
              {{ not response.get("prospectAccount", {})[-1].get("updated_at",
              {}) }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ProspectAccounts"
    Prospects:
      type: DeclarativeStream
      name: prospects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: prospect/version/4/do/query
          http_method: GET
          request_parameters:
            format: json
            created_after: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
            sort_by: updated_at
            sort_order: ascending
          request_headers:
            Pardot-Business-Unit-Id: '{{ config["pardot_business_unit_id"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - prospect
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: updated_after
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("prospect", {})[-1].get("updated_at", {}) }}'
            stop_condition: '{{ not response.get("prospect", {})[-1].get("updated_at", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Prospects"
    Users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: user
          http_method: GET
          request_parameters:
            format: json
            created_after: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
          request_headers:
            Pardot-Business-Unit-Id: '{{ config["pardot_business_unit_id"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - user
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: created_after
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("user", {})[-1].get("created_at", {}) }}'
            stop_condition: '{{ not response.get("user", {})[-1].get("created_at", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Users"
    VisitorActivities:
      type: DeclarativeStream
      name: visitor_activities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: visitorActivity/version/4/do/query
          http_method: GET
          request_parameters:
            format: json
            created_after: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
          request_headers:
            Pardot-Business-Unit-Id: '{{ config["pardot_business_unit_id"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - visitor_activity
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: id_greater_than
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("visitor_activity", {})[-1].get("id", {}) }}'
            stop_condition: '{{ not response.get("visitor_activity", {})[-1].get("id", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/VisitorActivities"
    Visitors:
      type: DeclarativeStream
      name: visitors
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: visitor/version/4/do/query
          http_method: GET
          request_parameters:
            format: json
            created_after: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
            sort_by: updated_at
            sort_order: ascending
          request_headers:
            Pardot-Business-Unit-Id: '{{ config["pardot_business_unit_id"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - visitor
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: updated_after
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("visitor", {})[-1].get("updated_at", {}) }}'
            stop_condition: '{{ not response.get("visitor", {})[-1].get("updated_at", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Visitors"
    Visits:
      type: DeclarativeStream
      name: visits
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: visit/version/4/do/query
          http_method: GET
          request_parameters:
            format: json
            created_after: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
            sort_order: ascending
          request_headers:
            Pardot-Business-Unit-Id: '{{ config["pardot_business_unit_id"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - visit
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Visits"
    Opportunities:
      type: DeclarativeStream
      name: opportunities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: opportunity/version/4/do/query
          http_method: GET
          request_parameters:
            format: json
            created_after: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
          request_headers:
            Pardot-Business-Unit-Id: '{{ config["pardot_business_unit_id"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - opportunity
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: created_after
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("opportunity", {})[-1].get("created_at", {}) }}'
            stop_condition: >-
              {{ not response.get("opportunity", {})[-1].get("created_at", {})
              }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Opportunities"
  base_requester:
    type: HttpRequester
    url_base: https://pi.pardot.com/api/
    authenticator:
      type: OAuthAuthenticator
      refresh_request_body: {}
      token_refresh_endpoint: https://{{ 'test' if config['is_sandbox'] else 'login' }}.salesforce.com/services/oauth2/token
      grant_type: refresh_token
      client_id: '{{ config["client_id"] }}'
      client_secret: '{{ config["client_secret"] }}'
      refresh_token: '{{ config["client_refresh_token"] }}'

streams:
  - $ref: "#/definitions/streams/Campaigns"
  - $ref: "#/definitions/streams/EmailClicks"
  - $ref: "#/definitions/streams/ListMembership"
  - $ref: "#/definitions/streams/Lists"
  - $ref: "#/definitions/streams/ProspectAccounts"
  - $ref: "#/definitions/streams/Prospects"
  - $ref: "#/definitions/streams/Users"
  - $ref: "#/definitions/streams/VisitorActivities"
  - $ref: "#/definitions/streams/Visitors"
  - $ref: "#/definitions/streams/Visits"
  # - $ref: "#/definitions/streams/Opportunities"

spec:
  type: Spec
  connection_specification:
    "$schema": http://json-schema.org/draft-07/schema#
    title: Pardot Spec
    type: object
    required:
      - pardot_business_unit_id
      - client_id
      - client_secret
      - refresh_token
    additionalProperties: false
    properties:
      pardot_business_unit_id:
        description:
          Pardot Business ID, can be found at Setup > Pardot > Pardot Account
          Setup
        type: string
      client_id:
        description: The Consumer Key that can be found when viewing your app in Salesforce
        type: string
        airbyte_secret: true
      client_secret:
        description:
          The Consumer Secret that can be found when viewing your app in
          Salesforce
        type: string
        airbyte_secret: true
      refresh_token:
        description:
          Salesforce Refresh Token used for Airbyte to access your Salesforce
          account. If you don't know what this is, follow this <a href="https://medium.com/@bpmmendis94/obtain-access-refresh-tokens-from-salesforce-rest-api-a324fe4ccd9b">guide</a>
          to retrieve it.
        type: string
        airbyte_secret: true
      start_date:
        description:
          UTC date and time in the format 2017-01-25T00:00:00Z. Any data
          before this date will not be replicated. Leave blank to skip this filter
        type: string
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
        default:
        examples:
          - "2021-07-25T00:00:00Z"
      is_sandbox:
        description:
          Whether or not the the app is in a Salesforce sandbox. If you do
          not know what this, assume it is false.
        type: boolean
        default: false

schemas:
  Campaigns:
    type: object
    "$schema": http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - integer
      name:
        type:
          - "null"
          - string
      cost:
        type:
          - "null"
          - integer
  EmailClicks:
    type: object
    "$schema": http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - integer
      prospect_id:
        type:
          - "null"
          - integer
      url:
        type:
          - "null"
          - string
        format: ""
      list_email_id:
        type:
          - "null"
          - integer
      drip_program_action_id:
        type:
          - "null"
          - integer
      email_template_id:
        type:
          - "null"
          - integer
      tracker_redirect_id:
        type:
          - "null"
          - integer
      created_at:
        type:
          - "null"
          - string
        format: date-time
  ListMembership:
    type: object
    "$schema": http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - integer
      list_id:
        type:
          - integer
      prospect_id:
        type:
          - integer
      opted_out:
        type:
          - "null"
          - boolean
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
  Lists:
    type: object
    "$schema": http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - integer
      name:
        type:
          - "null"
          - string
      is_public:
        type:
          - "null"
          - boolean
      is_dynamic:
        type:
          - "null"
          - boolean
      title:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      is_crm_visible:
        type:
          - "null"
          - boolean
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
  ProspectAccounts:
    type: object
    "$schema": http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - integer
      name:
        type:
          - "null"
          - string
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      created_at:
        type:
          - "null"
          - string
        format: date-time
      assigned_to:
        type:
          - "null"
          - object
  Prospects:
    type: object
    "$schema": http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - integer
      campaign_id:
        type:
          - "null"
          - integer
      salutation:
        type:
          - "null"
          - string
      first_name:
        type:
          - "null"
          - string
      last_name:
        type:
          - "null"
          - string
      email:
        type:
          - "null"
          - string
      password:
        type:
          - "null"
          - string
      company:
        type:
          - "null"
          - string
      prospect_account_id:
        type:
          - "null"
          - integer
      website:
        type:
          - "null"
          - string
      job_title:
        type:
          - "null"
          - string
      department:
        type:
          - "null"
          - string
      country:
        type:
          - "null"
          - string
      address_one:
        type:
          - "null"
          - string
      address_two:
        type:
          - "null"
          - string
      city:
        type:
          - "null"
          - string
      state:
        type:
          - "null"
          - string
      territory:
        type:
          - "null"
          - string
      zip:
        type:
          - "null"
          - string
      phone:
        type:
          - "null"
          - string
      fax:
        type:
          - "null"
          - string
      source:
        type:
          - "null"
          - string
      annual_revenue:
        type:
          - "null"
          - string
      employees:
        type:
          - "null"
          - string
      industry:
        type:
          - "null"
          - string
      years_in_business:
        type:
          - "null"
          - string
      comments:
        type:
          - "null"
          - string
      notes:
        type:
          - "null"
          - string
      score:
        type:
          - "null"
          - integer
      grade:
        type:
          - "null"
          - string
      last_activity_at:
        type:
          - "null"
          - string
        format: date-time
      recent_interaction:
        type:
          - "null"
          - string
      crm_lead_fid:
        type:
          - "null"
          - string
      crm_contact_fid:
        type:
          - "null"
          - string
      crm_owner_fid:
        type:
          - "null"
          - string
      crm_account_fid:
        type:
          - "null"
          - string
      crm_last_sync:
        type:
          - "null"
          - string
        format: date-time
      crm_url:
        type:
          - "null"
          - string
      is_do_not_email:
        type:
          - "null"
          - integer
      is_do_not_call:
        type:
          - "null"
          - integer
      opted_out:
        type:
          - "null"
          - integer
      is_reviewed:
        type:
          - "null"
          - integer
      is_starred:
        type:
          - "null"
          - integer
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
  Users:
    type: object
    "$schema": http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - integer
      email:
        type:
          - "null"
          - string
      first_name:
        type:
          - "null"
          - string
      last_name:
        type:
          - "null"
          - string
      job_title:
        type:
          - "null"
          - string
      role:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
  VisitorActivities:
    type: object
    "$schema": http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - integer
      prospect_id:
        type:
          - "null"
          - integer
      visitor_id:
        type:
          - "null"
          - integer
      campaign_id:
        type:
          - "null"
          - integer
      type:
        type:
          - "null"
          - integer
      type_name:
        type:
          - "null"
          - string
      details:
        type:
          - "null"
          - string
      email_id:
        type:
          - "null"
          - integer
      email_template_id:
        type:
          - "null"
          - integer
      list_email_id:
        type:
          - "null"
          - integer
      form_id:
        type:
          - "null"
          - integer
      form_handler_id:
        type:
          - "null"
          - integer
      site_search_query_id:
        type:
          - "null"
          - integer
      landing_page_id:
        type:
          - "null"
          - integer
      paid_search_id_id:
        type:
          - "null"
          - integer
      multivariate_test_variation_id:
        type:
          - "null"
          - integer
      visitor_page_view_id:
        type:
          - "null"
          - integer
      file_id:
        type:
          - "null"
          - integer
      campaign:
        type:
          - "null"
          - object
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
  Visitors:
    type: object
    "$schema": http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - integer
      page_view_count:
        type:
          - "null"
          - integer
      ip_address:
        type:
          - "null"
          - string
      hostname:
        type:
          - "null"
          - string
      campaign_parameter:
        type:
          - "null"
          - string
      medium_parameter:
        type:
          - "null"
          - string
      source_parameter:
        type:
          - "null"
          - string
      content_parameter:
        type:
          - "null"
          - string
      term_parameter:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
  Visits:
    type: object
    "$schema": http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - integer
      visitor_id:
        type:
          - "null"
          - integer
      prospect_id:
        type:
          - "null"
          - integer
      visitor_page_view_count:
        type:
          - "null"
          - integer
      visitor_page_views:
        type:
          - "null"
          - object
      first_visitor_page_view_at:
        type:
          - "null"
          - string
        format: date-time
      last_visitor_page_view_at:
        type:
          - "null"
          - string
        format: date-time
      duration_in_seconds:
        type:
          - "null"
          - integer
      campaign_parameter:
        type:
          - "null"
          - string
      medium_parameter:
        type:
          - "null"
          - string
      source_parameter:
        type:
          - "null"
          - string
      content_parameter:
        type:
          - "null"
          - string
      term_parameter:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      type:
        type:
          - "null"
          - integer
      type_name:
        type:
          - "null"
          - string
      details:
        type:
          - "null"
          - string
      visit_id:
        type:
          - "null"
          - integer
      campaign:
        type:
          - "null"
          - object
      email_id:
        type:
          - "null"
          - integer
      email:
        type:
          - "null"
          - object
      list_email_id:
        type:
          - "null"
          - integer
      email_template_id:
        type:
          - "null"
          - integer
  Opportunities:
    type: object
    "$schema": http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - integer
      campaign_id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      value:
        type:
          - "null"
          - number
      probability:
        type:
          - "null"
          - integer
      type:
        type:
          - "null"
          - string
      stage:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      closed_at:
        type:
          - "null"
          - string
        format: date-time
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
