version: 6.6.0

type: DeclarativeSource

check:
  type: CheckDynamicStream
  stream_count: 1

definitions:
  streams:
    bases:
      type: DeclarativeStream
      name: bases
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: meta/bases
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - bases
          record_filter:
            type: RecordFilter
            condition: '{{ record.get("permissionLevel") }}'
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("offset", {}) }}'
            stop_condition: '{{ not response.get("offset", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/bases"
    tables:
      type: DeclarativeStream
      name: tables
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: meta/bases/{{ stream_partition.base_id }}/tables
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tables
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("offset", {}) }}'
            stop_condition: '{{ not response.get("offset", {}) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: base_id
              extra_fields:
                - ["name"]
                - ["id"]
              stream:
                $ref: "#/definitions/streams/bases"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tables"

    airtable_stream:
      type: DeclarativeStream
      name: airtable_stream
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: ""
          http_method: GET
        record_selector:
          type: RecordSelector
          schema_normalization: Default
          record_filter:
            condition: "{{ record['fields'] | length > 0}}"
          extractor:
            type: DpathExtractor
            field_path:
              - records
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("offset", {}) }}'
            stop_condition: '{{ not response.get("offset", {}) }}'
      schema_loader:
        type: DynamicSchemaLoader
        retriever:
          type: SimpleRetriever
          requester:
            $ref: "#/definitions/base_requester"
            path: ""
            http_method: GET
          record_selector:
            type: RecordSelector
            record_filter:
              condition: "{{ record['id'] == parameters.table_id }}"
            $parameters:
              table_id: ""
            extractor:
              type: DpathExtractor
              field_path:
                - tables
        schema_transformations:
          - type: KeysToLower
          - type: KeysReplace
            old: " "
            new: "_"
          - type: AddFields
            fields:
              - path: ["_airtable_id"]
                value: "{{ {'type': ['null', 'string']} }}"
              - path: ["_airtable_created_time"]
                value: "{{ {'type': ['null', 'string']} }}"
              - path: ["_airtable_table_name"]
                value: "{{ {'type': ['null', 'string']} }}"
        schema_type_identifier:
          type: SchemaTypeIdentifier
          key_pointer:
            - name
          type_pointer:
            - type
          schema_pointer:
            - fields
          types_mapping:
            - type: TypesMap
              target_type: string
              current_type: multipleAttachments
            - type: TypesMap
              target_type: number
              current_type: autoNumber
            - type: TypesMap
              target_type: string
              current_type: barcode
            - type: TypesMap
              target_type: string
              current_type: button
            - type: TypesMap
              target_type: boolean
              current_type: checkbox
            - type: TypesMap
              target_type: string
              current_type: singleCollaborator
            - type: TypesMap
              target_type: number
              current_type: count
            - type: TypesMap
              target_type: string
              current_type: createdBy
            - type: TypesMap
              target_type: timestamp_with_timezone
              current_type: createdTime
              condition: "{{ raw_schema['options']['result']['type'] == 'dateTime' }}"
            - type: TypesMap
              target_type: date
              current_type: createdTime
              condition: "{{ raw_schema['options']['result']['type'] == 'date' }}"
            - type: TypesMap
              target_type: number
              current_type: currency
            - type: TypesMap
              target_type: string
              current_type: email
            - type: TypesMap
              target_type: date
              current_type: date
            - type: TypesMap
              target_type: timestamp_with_timezone
              current_type: dateTime
            - type: TypesMap
              target_type: number
              current_type: duration
            - type: TypesMap
              target_type: string
              current_type: lastModifiedBy
            - type: TypesMap
              target_type: timestamp_with_timezone
              current_type: lastModifiedTime
              condition: "{{ raw_schema['options']['result']['type'] == 'dateTime' }}"
            - type: TypesMap
              target_type: date
              current_type: lastModifiedTime
              condition: "{{ raw_schema['options']['result']['type'] == 'date' }}"
            - type: TypesMap
              target_type:
                field_type: array
                items: string
              current_type: multipleRecordLinks
            - type: TypesMap
              target_type: string
              current_type: multilineText
            - type: TypesMap
              target_type:
                field_type: array
                items: string
              current_type: multipleCollaborators
            - type: TypesMap
              target_type:
                field_type: array
                items: string
              current_type: multipleSelects
            - type: TypesMap
              target_type: number
              current_type: number
            - type: TypesMap
              target_type: number
              current_type: percent
            - type: TypesMap
              target_type: string
              current_type: phoneNumber
            - type: TypesMap
              target_type: number
              current_type: rating
            - type: TypesMap
              target_type: string
              current_type: richText
            - type: TypesMap
              target_type: string
              current_type: singleLineText
            - type: TypesMap
              target_type: string
              current_type: singleSelect
            - type: TypesMap
              target_type: string
              current_type: externalSyncSource
            - type: TypesMap
              target_type: string
              current_type: url
            - type: TypesMap
              target_type: string
              current_type: simpleText
            - type: TypesMap
              target_type:
                field_type: array
                items: string
              current_type: lookup
              condition: "{{ raw_schema['options']['result']['type'] in ['multipleAttachments', 'barcode', 'button', 'singleCollaborator', 'createdBy', 'email', 'lastModifiedBy', 'multilineText', 'phoneNumber', 'richText', 'singleLineText', 'singleSelect', 'externalSyncSource', 'url', 'simpleText'] }}"
            - type: TypesMap
              target_type:
                field_type: array
                items: number
              current_type: lookup
              condition: "{{ raw_schema['options']['result']['type'] in ['rating', 'percent', 'number', 'duration', 'currency', 'count', 'autoNumber'] }}"
            - type: TypesMap
              target_type:
                field_type: array
                items:
                  field_type: array
                  items: string
              current_type: lookup
              condition: "{{ raw_schema['options']['result']['type'] in ['multipleSelects', 'multipleCollaborators', 'multipleRecordLinks'] }}"
            - type: TypesMap
              target_type:
                field_type: array
                items: datetime
              current_type: lookup
              condition: "{{ raw_schema['options']['result']['type'] in ['lastModifiedTime', 'dateTime', 'createdTime'] }}"
            - type: TypesMap
              target_type:
                field_type: array
                items: date
              current_type: lookup
              condition: "{{ raw_schema['options']['result']['type'] in ['date'] }}"
            - type: TypesMap
              target_type:
                field_type: array
                items: boolean
              current_type: lookup
              condition: "{{ raw_schema['options']['result']['type'] in ['checkbox'] }}"
            - type: TypesMap
              target_type:
                field_type: array
                items: string
              current_type: rollup
              condition: "{{ raw_schema['options']['result']['type'] in ['multipleAttachments', 'barcode', 'button', 'singleCollaborator', 'createdBy', 'email', 'lastModifiedBy', 'multilineText', 'phoneNumber', 'richText', 'singleLineText', 'singleSelect', 'externalSyncSource', 'url', 'simpleText'] }}"
            - type: TypesMap
              target_type:
                field_type: array
                items: number
              current_type: rollup
              condition: "{{ raw_schema['options']['result']['type'] in ['rating', 'percent', 'number', 'duration', 'currency', 'count', 'autoNumber'] }}"
            - type: TypesMap
              target_type:
                field_type: array
                items:
                  field_type: array
                  items: string
              current_type: rollup
              condition: "{{ raw_schema['options']['result']['type'] in ['multipleSelects', 'multipleCollaborators', 'multipleRecordLinks'] }}"
            - type: TypesMap
              target_type:
                field_type: array
                items: datetime
              current_type: rollup
              condition: "{{ raw_schema['options']['result']['type'] in ['lastModifiedTime', 'dateTime', 'createdTime'] }}"
            - type: TypesMap
              target_type:
                field_type: array
                items: date
              current_type: rollup
              condition: "{{ raw_schema['options']['result']['type'] in ['date'] }}"
            - type: TypesMap
              target_type:
                field_type: array
                items: boolean
              current_type: rollup
              condition: "{{ raw_schema['options']['result']['type'] in ['checkbox'] }}"
            - type: TypesMap
              target_type:
                field_type: array
                items: string
              current_type: multipleLookupValues
              condition: "{{ raw_schema['options']['result']['type'] in ['multipleAttachments', 'barcode', 'button', 'singleCollaborator', 'createdBy', 'email', 'lastModifiedBy', 'multilineText', 'phoneNumber', 'richText', 'singleLineText', 'singleSelect', 'externalSyncSource', 'url', 'simpleText'] }}"
            - type: TypesMap
              target_type:
                field_type: array
                items: number
              current_type: multipleLookupValues
              condition: "{{ raw_schema['options']['result']['type'] in ['rating', 'percent', 'number', 'duration', 'currency', 'count', 'autoNumber'] }}"
            - type: TypesMap
              target_type:
                field_type: array
                items:
                  field_type: array
                  items: string
              current_type: multipleLookupValues
              condition: "{{ raw_schema['options']['result']['type'] in ['multipleSelects', 'multipleCollaborators', 'multipleRecordLinks'] }}"
            - type: TypesMap
              target_type:
                field_type: array
                items: datetime
              current_type: multipleLookupValues
              condition: "{{ raw_schema['options']['result']['type'] in ['lastModifiedTime', 'dateTime', 'createdTime'] }}"
            - type: TypesMap
              target_type:
                field_type: array
                items: date
              current_type: multipleLookupValues
              condition: "{{ raw_schema['options']['result']['type'] in ['date'] }}"
            - type: TypesMap
              target_type:
                field_type: array
                items: boolean
              current_type: multipleLookupValues
              condition: "{{ raw_schema['options']['result']['type'] in ['checkbox'] }}"
            - type: TypesMap
              target_type:
                field_type: array
                items: number
              current_type: formula
              condition: "{{ raw_schema['options']['result']['type'] in ['number', 'currency', 'percent', 'duration'] }}"
            - type: TypesMap
              target_type:
                field_type: array
                items: string
              current_type: formula
              condition: "{{ not raw_schema['options']['formula'].startswith('ARRAYCOMPACT') }}"
            - type: TypesMap
              target_type:
                field_type: array
                items: string
              current_type: formula
              condition: "{{ not raw_schema['options']['formula'].startswith('ARRAYFLATTEN') }}"
            - type: TypesMap
              target_type:
                field_type: array
                items: string
              current_type: formula
              condition: "{{ not raw_schema['options']['formula'].startswith('ARRAYUNIQUE') }}"
            - type: TypesMap
              target_type:
                field_type: array
                items: string
              current_type: formula
              condition: "{{ not raw_schema['options']['formula'].startswith('ARRAYSLICE') }}"
            - type: TypesMap
              target_type:
                field_type: array
                items: string
              current_type: formula
      transformations:
        - type: AddFields
          fields:
            - path: ["_airtable_table_name"]
              value: ""
            - path: ["_airtable_id"]
              value: "{{ record.id }}"
            - path: ["_airtable_created_time"]
              value: "{{ record.createdTime }}"
        - type: RemoveFields
          field_pointers:
            - ["id"]
            - ["createdTime"]
        - type: DpathFlattenFields
          field_path:
            - "fields"
          delete_origin_value: true
        - type: KeysToLower
        - type: KeysReplace
          old: " "
          new: "_"

  oauth_authenticator:
    # https://airtable.com/developers/web/api/oauth-reference
    type: OAuthAuthenticator
    client_id: "{{ config['credentials']['client_id'] }}"
    client_secret: "{{ config['credentials']['client_secret'] }}"
    refresh_token: "{{ config['credentials']['refresh_token'] }}"
    grant_type: refresh_token
    refresh_request_headers:
      Authorization: "Basic {{ [config['credentials']['client_id'], config['credentials']['client_secret']] | join(':')  | base64encode }}"
      Content-Type: "application/x-www-form-urlencoded"
    refresh_token_updater:
      refresh_token_error_status_codes: [400, 401]
      refresh_token_error_key: "error"
      refresh_token_error_values: ["invalid_grant", "invalid_client"]
      refresh_token_name: refresh_token
      access_token_config_path:
        - credentials
        - access_token
      token_expiry_date_config_path:
        - credentials
        - token_expiry_date
      refresh_token_config_path:
        - credentials
        - refresh_token
    token_refresh_endpoint: https://airtable.com/oauth2/v1/token

  bearer_authenticator:
    type: BearerAuthenticator
    api_token: "{{ config['credentials']['api_key'] }}"

  base_requester:
    type: HttpRequester
    url_base: https://api.airtable.com/v0/
    authenticator:
      type: SelectiveAuthenticator
      authenticator_selection_path: ["credentials", "auth_method"]
      authenticators:
        oauth2.0: "#/definitions/oauth_authenticator"
        api_key: "#/definitions/bearer_authenticator"

    error_handler:
      type: DefaultErrorHandler
      max_retries: 10
      backoff_strategies:
        - type: ConstantBackoffStrategy
          backoff_time_in_seconds: 30
      response_filters:
        - predicate: "{{ response.status_code == 403 and response.get('error', {}).get('type') == 'INVALID_PERMISSIONS_OR_MODEL_NOT_FOUND' }}"
          action: FAIL
          failure_type: config_error
          error_message: "{{ 'Personal Access Token does not have required permissions, please add all required permissions to existed one or create new PAT, see docs for more info: https://docs.airbyte.com/integrations/sources/airtable#step-1-set-up-airtable' if config.get('credentials', {}). get('auth_method', '') == 'api_key' else 'Access Token does not have required permissions, please reauthenticate.' }}"
        - http_codes: [403, 422]
          action: FAIL
          failure_type: config_error
          error_message: "Permission denied or entity is unprocessable."
        - http_codes: [401]
          action: FAIL
          failure_type: config_error
          error_message: "Invalid credentials were provided. Please re-authenticate to restore access to Airtable."

dynamic_streams:
  - type: DynamicDeclarativeStream
    stream_template:
      $ref: "#/definitions/streams/airtable_stream"
    components_resolver:
      type: HttpComponentsResolver
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: meta/bases/{{ stream_partition.base_id }}/tables
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tables
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("offset", {}) }}'
            stop_condition: '{{ not response.get("offset", {}) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: base_id
              extra_fields:
                - ["name"]
              stream:
                $ref: "#/definitions/streams/bases"
      components_mapping:
        - type: ComponentMappingDefinition
          field_path:
            - name
          value: "{{ stream_slice.extra_fields.name.replace(' ', '_').lower().strip() }}/{{ components_values.name.replace(' ', '_').lower().strip() }}/{{ components_values.id }}"
        - type: ComponentMappingDefinition
          field_path:
            - retriever
            - requester
            - path
          value: "{{ stream_slice.base_id }}/{{ components_values.id }}"
        - type: ComponentMappingDefinition
          field_path:
            - schema_loader
            - retriever
            - requester
            - path
          value: "{{ stream_slice.base_id }}/{{ components_values.id }}"
        - type: ComponentMappingDefinition
          field_path:
            - transformations
            - 0
            - fields
            - 0
            - value
          value: "{{ components_values.name }}"
        - type: ComponentMappingDefinition
          field_path:
            - schema_loader
            - retriever
            - requester
            - path
          value: "meta/bases/{{ stream_slice.base_id }}/tables"
        - type: ComponentMappingDefinition
          field_path:
            - schema_loader
            - retriever
            - record_selector
            - record_filter
            - $parameters
            - table_id
          value: "{{ components_values.id }}"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      credentials:
        title: Authentication
        type: object
        oneOf:
          - type: object
            title: OAuth2.0
            required:
              - client_id
              - client_secret
              - refresh_token
            properties:
              auth_method:
                type: string
                const: oauth2.0
              client_id:
                type: string
                title: Client ID
                description: The client ID of the Airtable developer application.
                airbyte_secret: true
              client_secret:
                type: string
                title: Client Secret
                description: The client secret of the Airtable developer application.
                airbyte_secret: true
              access_token:
                type: string
                description: Access Token for making authenticated requests.
                airbyte_secret: true
              token_expiry_date:
                type: string
                description: The date-time when the access token should be refreshed.
                format: date-time
              refresh_token:
                type: string
                title: Refresh token
                description: The key to refresh the expired access token.
                airbyte_secret: true
          - type: object
            title: Personal Access Token
            required:
              - api_key
            properties:
              auth_method:
                type: string
                const: api_key
              api_key:
                type: string
                description: The Personal Access Token for the Airtable account. See the <a href="https://airtable.com/developers/web/guides/personal-access-tokens">Support Guide</a> for more information on how to obtain this token.
                title: Personal Access Token
                airbyte_secret: true
                examples: ["key1234567890"]
    additionalProperties: true
  advanced_auth:
    auth_flow_type: oauth2.0
    predicate_key:
      - credentials
      - auth_method
    predicate_value: oauth2.0
    oauth_config_specification:
      complete_oauth_output_specification:
        type: object
        properties:
          access_token:
            type: string
            path_in_connector_config:
              - credentials
              - access_token
          refresh_token:
            type: string
            path_in_connector_config:
              - credentials
              - refresh_token
          token_expiry_date:
            type: string
            format: date-time
            path_in_connector_config:
              - credentials
              - token_expiry_date
      complete_oauth_server_input_specification:
        type: object
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - credentials
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - credentials
              - client_secret

schemas:
  bases:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      permissionLevel:
        type:
          - string
          - "null"
  tables:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      fields:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            options:
              type:
                - object
                - "null"
              properties:
                choices:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      color:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                color:
                  type:
                    - string
                    - "null"
                dateFormat:
                  type:
                    - object
                    - "null"
                  properties:
                    format:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                durationFormat:
                  type:
                    - string
                    - "null"
                fieldIdInLinkedTable:
                  type:
                    - string
                    - "null"
                formula:
                  type:
                    - string
                    - "null"
                icon:
                  type:
                    - string
                    - "null"
                inverseLinkFieldId:
                  type:
                    - string
                    - "null"
                isReversed:
                  type:
                    - boolean
                    - "null"
                isValid:
                  type:
                    - boolean
                    - "null"
                linkedTableId:
                  type:
                    - string
                    - "null"
                max:
                  type:
                    - number
                    - "null"
                precision:
                  type:
                    - number
                    - "null"
                prefersSingleRecordLink:
                  type:
                    - boolean
                    - "null"
                recordLinkFieldId:
                  type:
                    - string
                    - "null"
                referencedFieldIds:
                  type:
                    - array
                    - "null"
                result:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    options:
                      type:
                        - object
                        - "null"
                      properties:
                        dateFormat:
                          type:
                            - object
                            - "null"
                          properties:
                            format:
                              type:
                                - string
                                - "null"
                            name:
                              type:
                                - string
                                - "null"
                        precision:
                          type:
                            - number
                            - "null"
                        timeFormat:
                          type:
                            - object
                            - "null"
                          properties:
                            format:
                              type:
                                - string
                                - "null"
                            name:
                              type:
                                - string
                                - "null"
                        timeZone:
                          type:
                            - string
                            - "null"
                symbol:
                  type:
                    - string
                    - "null"
      id:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      primaryFieldId:
        type:
          - string
          - "null"
      views:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
