version: 0.50.2
type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - calls

streams:
  - type: DeclarativeStream
    name: calls
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['region'] }}.babelforce.com/api/v2/
        path: calls/reporting/simple
        http_method: GET
        request_parameters: {}
        request_headers:
          X-Auth-Access-ID: "{{ config['access_key_id'] }}"
          X-Auth-Access-Token: "{{ config['access_token'] }}"
        authenticator:
          type: NoAuth
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - items
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: max
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response['pagination']['current'] + 1 }}"
          stop_condition: "{{ 'current' not in response['pagination'] }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: dateCreated
      cursor_datetime_formats:
        - "%s"
      datetime_format: "%s"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['date_created_from'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        inject_into: request_parameter
        field_name: filters.dateCreated.from
        type: RequestOption
      end_time_option:
        inject_into: request_parameter
        field_name: filters.dateCreated.to
        type: RequestOption
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['date_created_to'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"

spec:
  documentation_url: https://example.org
  type: Spec
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    required:
      - access_key_id
      - access_token
      - region
    properties:
      access_key_id:
        title: Access Key ID
        description: The Babelforce access key ID
        airbyte_secret: true
        type: string
        order: 0
      access_token:
        title: Access Token
        description: The Babelforce access token
        airbyte_secret: true
        type: string
        order: 1
      date_created_from:
        title: Date Created from
        description: >-
          Timestamp in Unix the replication from Babelforce API will start from.
          For example 1651363200 which corresponds to 2022-05-01 00:00:00.
        type: integer
        examples: [1651363200]
        order: 2
      date_created_to:
        title: Date Created to
        description: >-
          Timestamp in Unix the replication from Babelforce will be up to. For
          example 1651363200 which corresponds to 2022-05-01 00:00:00.
        type: integer
        examples: [1651363200]
        order: 3
      region:
        title: Region
        description: Babelforce region
        default: services
        enum:
          - services
          - us-east
          - ap-southeast
        type: string
        order: 4
