version: 0.50.2
type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - calls

streams:
  - type: DeclarativeStream
    name: calls
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['region'] }}.babelforce.com/api/v2/
        path: calls/reporting/simple
        http_method: GET
        request_parameters: {}
        request_headers:
          X-Auth-Access-ID: "{{ config['access_key_id'] }}"
          X-Auth-Access-Token: "{{ config['access_token'] }}"
        authenticator:
          type: NoAuth
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - items
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: max
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response['pagination']['current'] + 1 }}"
          stop_condition: "{{ 'current' not in response['pagination'] }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: dateCreated
      cursor_datetime_formats:
        - "%s"
      datetime_format: "%s"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['date_created_from'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        inject_into: request_parameter
        field_name: filters.dateCreated.from
        type: RequestOption
      end_time_option:
        inject_into: request_parameter
        field_name: filters.dateCreated.to
        type: RequestOption
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['date_created_to'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            description: The unique identifier of the call.
            maxLength: 32
            type: string
          parentId:
            description: The identifier of the parent call, if any.
            maxLength: 32
            type:
              - string
              - "null"
          sessionId:
            description: The identifier of the session related to the call.
            maxLength: 32
            type: string
          conversationId:
            description: The identifier of the conversation related to the call.
            maxLength: 32
            type: string
          dateCreated:
            description: The datetime when the call was created.
            type: string
            format: date-time
          dateEstablished:
            description: The datetime when the call was established.
            format: date-time
            type:
              - string
              - "null"
          dateFinished:
            description: The datetime when the call was finished.
            format: date-time
            type:
              - string
              - "null"
          lastUpdated:
            description: The datetime of the last update related to the call.
            type: string
            format: date-time
          state:
            description: The current state of the call.
            maxLength: 256
            type: string
          finishReason:
            description: The reason for call termination.
            maxLength: 256
            type: string
          from:
            description: The phone number the call is from.
            type:
              - string
              - "null"
          to:
            description: The phone number the call is directed to.
            type:
              - string
              - "null"
          type:
            description: The type of call.
            maxLength: 256
            type: string
          source:
            description: The source of the call.
            maxLength: 256
            type: string
          domain:
            description: The domain of the call.
            maxLength: 256
            type: string
          duration:
            description: The duration of the call in seconds.
            type:
              - integer
              - "null"
          anonymous:
            description: Indicates if the call is anonymous (true) or not (false).
            type:
              - boolean
              - "null"
          recordings:
            type:
              - array
              - "null"
            items:
              type: object
              properties:
                id:
                  description: The unique identifier of the recording.
                  maxLength: 32
                  type: string
                dateCreated:
                  description: The datetime when the recording was created.
                  type: string
                  format: date-time
                lastUpdated:
                  description: The datetime of the last update related to the recording.
                  type: string
                  format: date-time
                duration:
                  description: The duration of the recording in seconds.
                  type: integer
                url:
                  description: The URL to access the recording.
                  type: string
                tags:
                  description: Tags associated with the recording.
                  type: array
                  items:
                    type: string
                file:
                  type:
                    - object
                    - "null"
                  properties:
                    id:
                      description: The unique identifier of the recording file.
                      maxLength: 32
                      type: string
                    state:
                      description: The state of the recording file.
                      type:
                        - string
                        - "null"
                    name:
                      description: The name of the recording file.
                      type:
                        - string
                        - "null"
                    size:
                      description: The size of the recording file in bytes.
                      type:
                        - integer
                        - "null"
                    contentType:
                      description: The type of content in the recording file.
                      type:
                        - string
                        - "null"
                state:
                  description: The state of the recording.
                  maxLength: 256
                  type: string
                agent:
                  type: object
                  properties:
                    id:
                      description: The unique identifier of the agent.
                      type:
                        - string
                        - "null"
                    name:
                      description: The name of the agent.
                      type:
                        - string
                        - "null"
                    number:
                      description: The phone number of the agent.
                      type:
                        - string
                        - "null"
          bridged:
            type:
              - object
              - "null"
            properties:
              id:
                description: The unique identifier of the bridged call.
                type:
                  - string
                  - "null"
              name:
                description: The name associated with the bridged call.
                type:
                  - string
                  - "null"
              number:
                description: The phone number associated with the bridged call.
                type:
                  - string
                  - "null"
spec:
  documentation_url: https://example.org
  type: Spec
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    required:
      - access_key_id
      - access_token
      - region
    properties:
      access_key_id:
        title: Access Key ID
        description: The Babelforce access key ID
        airbyte_secret: true
        type: string
        order: 0
      access_token:
        title: Access Token
        description: The Babelforce access token
        airbyte_secret: true
        type: string
        order: 1
      date_created_from:
        title: Date Created from
        description: >-
          Timestamp in Unix the replication from Babelforce API will start from.
          For example 1651363200 which corresponds to 2022-05-01 00:00:00.
        type: integer
        examples: [1651363200]
        order: 2
      date_created_to:
        title: Date Created to
        description: >-
          Timestamp in Unix the replication from Babelforce will be up to. For
          example 1651363200 which corresponds to 2022-05-01 00:00:00.
        type: integer
        examples: [1651363200]
        order: 3
      region:
        title: Region
        description: Babelforce region
        default: services
        enum:
          - services
          - us-east
          - ap-southeast
        type: string
        order: 4
