version: 6.41.5

type: DeclarativeSource

description: |-
  Website: https://www.dingconnect.com/
  API Reference: https://www.dingconnect.com/Api/Description

check:
  type: CheckStream
  stream_names:
    - getcountries

definitions:
  streams:
    getcountries:
      type: DeclarativeStream
      name: getcountries
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/V1/GetCountries
          http_method: GET
          request_headers:
            X-Correlation-Id: "{{ config['x-correlation-id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - Items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: Skip
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/getcountries"
    getcurrencies:
      type: DeclarativeStream
      name: getcurrencies
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/V1/GetCurrencies
          http_method: GET
          request_headers:
            X-Correlation-Id: "{{ config['x-correlation-id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - Items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: Skip
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/getcurrencies"
    getregions:
      type: DeclarativeStream
      name: getregions
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/V1/GetRegions
          http_method: GET
          request_headers:
            X-Correlation-Id: "{{ config['x-correlation-id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - Items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: Skip
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/getregions"
    getproducts:
      type: DeclarativeStream
      name: getproducts
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/V1/GetProducts
          http_method: GET
          request_headers:
            X-Correlation-Id: "{{ config['x-correlation-id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - Items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: Skip
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/getproducts"
    getproviders:
      type: DeclarativeStream
      name: getproviders
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/V1/GetProviders
          http_method: GET
          request_headers:
            X-Correlation-Id: "{{ config['x-correlation-id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - Items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: Skip
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/getproviders"
    geterrorcodedescriptions:
      type: DeclarativeStream
      name: geterrorcodedescriptions
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/V1/GetErrorCodeDescriptions
          http_method: GET
          request_headers:
            X-Correlation-Id: "{{ config['x-correlation-id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - Items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: Skip
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/geterrorcodedescriptions"
    getpromotions:
      type: DeclarativeStream
      name: getpromotions
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/V1/GetPromotions
          http_method: GET
          request_headers:
            X-Correlation-Id: "{{ config['x-correlation-id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - Items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: Skip
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: EndUtc
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/getpromotions"
    getproductdescriptions:
      type: DeclarativeStream
      name: getproductdescriptions
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/V1/GetProductDescriptions
          http_method: GET
          request_headers:
            X-Correlation-Id: "{{ config['x-correlation-id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - Items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: Skip
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/getproductdescriptions"
  base_requester:
    type: HttpRequester
    url_base: https://api.dingconnect.com
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: api_key
        inject_into: header

streams:
  - $ref: "#/definitions/streams/getcountries"
  - $ref: "#/definitions/streams/getcurrencies"
  - $ref: "#/definitions/streams/getregions"
  - $ref: "#/definitions/streams/getproducts"
  - $ref: "#/definitions/streams/getproviders"
  - $ref: "#/definitions/streams/geterrorcodedescriptions"
  - $ref: "#/definitions/streams/getpromotions"
  - $ref: "#/definitions/streams/getproductdescriptions"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        description: >-
          Your API key for authenticating with the DingConnect API. You can
          generate this key by navigating to the Developer tab in the Account
          Settings section of your DingConnect account.
        name: api_key
        title: API Key
        airbyte_secret: true
        order: 0
      X-Correlation-Id:
        type: string
        description: >-
          Optional header to correlate HTTP requests between a client and
          server.
        name: X-Correlation-Id
        title: X-Correlation-Id
        order: 1
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    getcountries: true
    getcurrencies: true
    getregions: true
    getproducts: true
    getproviders: true
    geterrorcodedescriptions: true
    getpromotions: true
    getproductdescriptions: true
  testedStreams:
    getcountries:
      streamHash: 33e0d698fefde2d1f5ecc2d7fb3b1aa4684ef82e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    getcurrencies:
      streamHash: d4aa2dcb1ca3437ce696425efa1602213d64cdc5
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    getregions:
      streamHash: 2bc104c20a83ffec260d0f6187e483f74ecfef68
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    getproducts:
      streamHash: 068c6580216d9d1f97c92b56f5c2751a899f6ff9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    getproviders:
      streamHash: f9bb0a3f79ed68e5dee39fdbad7e0e7c54f57c91
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    geterrorcodedescriptions:
      streamHash: 1d5b89c1b40ba0cb597c9e38d0dd6cbfc100d39b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    getpromotions:
      streamHash: a807ee1afeb339737fb83e9cbb34a99809e1e57c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    getproductdescriptions:
      streamHash: d8beb397ca3a7f1a2f2322ce90a87aaa4266b89f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://www.dingconnect.com/Api#operation/GetAccountLookup

schemas:
  getcountries:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      CountryIso:
        type:
          - string
          - "null"
      CountryName:
        type:
          - string
          - "null"
      InternationalDialingInformation:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            MaximumLength:
              type:
                - number
                - "null"
            MinimumLength:
              type:
                - number
                - "null"
            Prefix:
              type:
                - string
                - "null"
      RegionCodes:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      uuid:
        type: string
    required:
      - uuid
  getcurrencies:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      CurrencyIso:
        type:
          - string
          - "null"
      CurrencyName:
        type:
          - string
          - "null"
      uuid:
        type: string
    required:
      - uuid
  getregions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      CountryIso:
        type:
          - string
          - "null"
      RegionCode:
        type:
          - string
          - "null"
      RegionName:
        type:
          - string
          - "null"
      uuid:
        type: string
    required:
      - uuid
  getproducts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      Benefits:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      CommissionRate:
        type:
          - number
          - "null"
      DefaultDisplayText:
        type:
          - string
          - "null"
      LocalizationKey:
        type:
          - string
          - "null"
      LookupBillsRequired:
        type:
          - boolean
          - "null"
      Maximum:
        type:
          - object
          - "null"
        properties:
          CustomerFee:
            type:
              - number
              - "null"
          DistributorFee:
            type:
              - number
              - "null"
          ReceiveCurrencyIso:
            type:
              - string
              - "null"
          ReceiveValue:
            type:
              - number
              - "null"
          ReceiveValueExcludingTax:
            type:
              - number
              - "null"
          SendCurrencyIso:
            type:
              - string
              - "null"
          SendValue:
            type:
              - number
              - "null"
          TaxCalculation:
            type:
              - string
              - "null"
          TaxName:
            type:
              - string
              - "null"
          TaxRate:
            type:
              - number
              - "null"
      Minimum:
        type:
          - object
          - "null"
        properties:
          CustomerFee:
            type:
              - number
              - "null"
          DistributorFee:
            type:
              - number
              - "null"
          ReceiveCurrencyIso:
            type:
              - string
              - "null"
          ReceiveValue:
            type:
              - number
              - "null"
          ReceiveValueExcludingTax:
            type:
              - number
              - "null"
          SendCurrencyIso:
            type:
              - string
              - "null"
          SendValue:
            type:
              - number
              - "null"
          TaxCalculation:
            type:
              - string
              - "null"
          TaxName:
            type:
              - string
              - "null"
          TaxRate:
            type:
              - number
              - "null"
      PaymentTypes:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      ProcessingMode:
        type:
          - string
          - "null"
      ProviderCode:
        type:
          - string
          - "null"
      RedemptionMechanism:
        type:
          - string
          - "null"
      RegionCode:
        type:
          - string
          - "null"
      SettingDefinitions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            Description:
              type:
                - string
                - "null"
            IsMandatory:
              type:
                - boolean
                - "null"
            Name:
              type:
                - string
                - "null"
      SkuCode:
        type:
          - string
          - "null"
      UatNumber:
        type:
          - string
          - "null"
      ValidityPeriodIso:
        type:
          - string
          - "null"
      uuid:
        type: string
    required:
      - uuid
  getproviders:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      CountryIso:
        type:
          - string
          - "null"
      CustomerCareNumber:
        type:
          - string
          - "null"
      LogoUrl:
        type:
          - string
          - "null"
      Name:
        type:
          - string
          - "null"
      PaymentTypes:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      ProviderCode:
        type:
          - string
          - "null"
      RegionCodes:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      ValidationRegex:
        type:
          - string
          - "null"
      uuid:
        type: string
    required:
      - uuid
  geterrorcodedescriptions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      Code:
        type:
          - string
          - "null"
      Message:
        type:
          - string
          - "null"
      uuid:
        type: string
    required:
      - uuid
  getpromotions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      CurrencyIso:
        type:
          - string
          - "null"
      EndUtc:
        type: string
      LocalizationKey:
        type:
          - string
          - "null"
      MinimumSendAmount:
        type:
          - number
          - "null"
      ProviderCode:
        type:
          - string
          - "null"
      StartUtc:
        type:
          - string
          - "null"
      uuid:
        type: string
    required:
      - uuid
      - EndUtc
  getproductdescriptions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      DescriptionMarkdown:
        type:
          - string
          - "null"
      DisplayText:
        type:
          - string
          - "null"
      LanguageCode:
        type:
          - string
          - "null"
      LocalizationKey:
        type:
          - string
          - "null"
      ReadMoreMarkdown:
        type:
          - string
          - "null"
      uuid:
        type: string
    required:
      - uuid
