# CDK and SAT
/airbyte-cdk/ @airbytehq/connector-extensibility
/airbyte-integrations/bases/source-acceptance-tests/ @airbytehq/connector-extensibility
/airbyte-integrations/connector-templates/ @airbytehq/connector-extensibility

# Oauth
/airbyte-oauth/ @airbytehq/connector-operations
/airbyte-server/src/main/java/io/airbyte/server/handlers/OAuthHandler.java @airbytehq/connector-operations
/airbyte-server/src/test/java/io/airbyte/server/handlers/OAuthHandlerTest.java @airbytehq/connector-operations

# Protocol related items
/airbyte-protocol/ @airbytehq/protocol-reviewers
/docs/understanding-airbyte/airbyte-protocol.md @airbytehq/protocol-reviewers

# Airbyte Maintainers
airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java @airbytehq/airbyte-maintainers
airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/BaseConfigDatabaseTest.java @airbytehq/airbyte-maintainers
airbyte-commons/src/main/ @airbytehq/airbyte-maintainers
airbyte-commons/src/main/java/io/airbyte/commons/json/JsonSchemas.java @airbytehq/airbyte-maintainers
airbyte-commons/src/main/java/io/airbyte/commons/json/JsonPaths.java @airbytehq/airbyte-maintainers
airbyte-commons/src/main/java/io/airbyte/commons/json/Jsons.java @airbytehq/airbyte-maintainers
airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/split_secrets/ @airbytehq/airbyte-maintainers
airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/SecretsRepositoryReader.java @airbytehq/airbyte-maintainers
airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/SecretsRepositoryWriter.java @airbytehq/airbyte-maintainers
airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java @airbytehq/airbyte-maintainers
*build.gradle @airbytehq/airbyte-maintainers
airbyte-integrations/connectors/**/build.gradle # ignore gradle files for individual connectors.

# Normalization
/airbyte-integrations/bases/base-normalization/ @airbytehq/destinations

# Java-based connectors
/airbyte-integrations/bases/base-java/ @airbytehq/jdbc-connectors

# Java-based source connectors
/airbyte-integrations/bases/debezium-v1-4-2/ @airbytehq/dbsources
/airbyte-integrations/bases/debezium-v1-9-6/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-jdbc/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-alloydb/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-bigquery/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-clickhouse/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-cockroachdb/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-db2/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-mssql/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-mysql/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-oracle/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-postgres/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-redshift/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-snowflake/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-tidb/ @airbytehq/dbsources

# Java-based destination connectors
/airbyte-integrations/bases/standard-destination-test/ @airbytehq/destinations
/airbyte-integrations/bases/base-java-s3/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-jdbc/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-bigquery/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-bigquery-denormalized/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-azure-blob-storage/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-clickhouse/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-databricks/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-gcs/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-mariadb-columnstore/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-mysql/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-mssql/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-oracle/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-postgres/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-redshift/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-rockset/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-s3/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-snowflake/ @airbytehq/destinations
