airbyte-cdk==0.50.2
airbyte-protocol-models==0.4.0
attrs==23.1.0
backoff==2.2.1
bracex==2.3.post1
cachetools==5.3.1
cattrs==23.1.2
certifi==2023.7.22
charset-normalizer==3.2.0
-e git+ssh://git@github.com/Silkline/airbyte.git@cc8d5ccd49bfea5117ff8224ee574155b91c6a17#egg=connector_acceptance_test&subdirectory=airbyte-integrations/bases/connector-acceptance-test
coverage==7.2.7
deepdiff==5.8.1
Deprecated==1.2.14
docker==5.0.3
dpath==2.0.8
fancycompleter==0.9.1
genson==1.2.2
graphql-core==3.2.3
hypothesis==6.54.6
hypothesis-jsonschema==0.20.1
icdiff==1.9.1
idna==3.4
inflection==0.5.1
iniconfig==2.0.0
isodate==0.6.1
Jinja2==3.1.2
jsonref==0.2
jsonschema==3.2.0
MarkupSafe==2.1.3
ordered-set==4.1.0
packaging==23.1
pdbpp==0.10.3
pendulum==2.1.2
platformdirs==3.10.0
pluggy==1.2.0
pprintpp==0.4.0
py==1.11.0
pydantic==1.10.12
Pygments==2.16.1
pyrepl==0.9.0
pyrsistent==0.19.3
pytest==6.2.5
pytest-cov==3.0.0
pytest-mock==3.6.1
pytest-sugar==0.9.7
pytest-timeout==1.4.2
python-dateutil==2.8.2
pytzdata==2020.1
PyYAML==6.0.1
requests==2.28.2
requests-cache==1.1.0
requests-mock==1.9.3
sgqlc==16.3
six==1.16.0
sortedcontainers==2.4.0
-e git+ssh://git@github.com/Silkline/airbyte.git@cc8d5ccd49bfea5117ff8224ee574155b91c6a17#egg=source_first_resonance_ion&subdirectory=airbyte-integrations/connectors/source-first-resonance-ion
termcolor==2.3.0
toml==0.10.2
typing_extensions==4.7.1
url-normalize==1.4.3
urllib3==1.26.16
wcmatch==8.4
websocket-client==1.6.1
wmctrl==0.4
wrapt==1.15.0
