version: 7.0.4

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - teams

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: BearerAuthenticator
        api_token: "{{ config['access_token'] }}"
      error_handler:
        type: CompositeErrorHandler
        error_handlers:
          - type: DefaultErrorHandler
            max_retries: 10
            response_filters:
              - type: HttpResponseFilter
                action: RETRY
                http_codes:
                  - 429
                  - 403
            backoff_strategies:
              - type: ExponentialBackoffStrategy
                factor: 5
          - type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: IGNORE
                http_codes:
                  - 404
      request_parameters:
        state: all
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 100
          start_from_page: 1
          inject_on_first_request: true

streams:
  - type: DeclarativeStream
    name: teams
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.github.com/orgs/{{ config['organization'] }}/teams
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          id:
            type: number
          node_id:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          privacy:
            type:
              - string
              - "null"
          notification_setting:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
          html_url:
            type:
              - string
              - "null"
          members_url:
            type:
              - string
              - "null"
          repositories_url:
            type:
              - string
              - "null"
          organization_id:
            type:
              - number
              - "null"
          permission:
            type:
              - string
              - "null"
          parent:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              id:
                type:
                  - number
                  - "null"
              node_id:
                type:
                  - string
                  - "null"
              slug:
                type:
                  - string
                  - "null"
              privacy:
                type:
                  - string
                  - "null"
              notification_setting:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
              html_url:
                type:
                  - string
                  - "null"
              members_url:
                type:
                  - string
                  - "null"
              repositories_url:
                type:
                  - string
                  - "null"
              organization_id:
                type:
                  - number
                  - "null"
              permission:
                type:
                  - string
                  - "null"
        required:
          - id
        additionalProperties: true
  - type: DeclarativeStream
    name: users
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.github.com/orgs/{{ config['organization'] }}/members
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: number
          url:
            type:
              - string
              - "null"
          login:
            type:
              - string
              - "null"
          node_id:
            type:
              - string
              - "null"
          html_url:
            type:
              - string
              - "null"
          gists_url:
            type:
              - string
              - "null"
          repos_url:
            type:
              - string
              - "null"
          avatar_url:
            type:
              - string
              - "null"
          events_url:
            type:
              - string
              - "null"
          site_admin:
            type:
              - boolean
              - "null"
          gravatar_id:
            type:
              - string
              - "null"
          starred_url:
            type:
              - string
              - "null"
          followers_url:
            type:
              - string
              - "null"
          following_url:
            type:
              - string
              - "null"
          user_view_type:
            type:
              - string
              - "null"
          organizations_url:
            type:
              - string
              - "null"
          subscriptions_url:
            type:
              - string
              - "null"
          received_events_url:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: repositories
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.github.com/orgs/{{ config['organization'] }}/repos
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          description:
            type:
              - string
              - "null"
          id:
            type: number
          url:
            type:
              - string
              - "null"
          fork:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          size:
            type:
              - number
              - "null"
          forks:
            type:
              - number
              - "null"
          owner:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - number
                  - "null"
              url:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
              node_id:
                type:
                  - string
                  - "null"
              html_url:
                type:
                  - string
                  - "null"
              gists_url:
                type:
                  - string
                  - "null"
              repos_url:
                type:
                  - string
                  - "null"
              avatar_url:
                type:
                  - string
                  - "null"
              events_url:
                type:
                  - string
                  - "null"
              site_admin:
                type:
                  - boolean
                  - "null"
              gravatar_id:
                type:
                  - string
                  - "null"
              starred_url:
                type:
                  - string
                  - "null"
              followers_url:
                type:
                  - string
                  - "null"
              following_url:
                type:
                  - string
                  - "null"
              user_view_type:
                type:
                  - string
                  - "null"
              organizations_url:
                type:
                  - string
                  - "null"
              subscriptions_url:
                type:
                  - string
                  - "null"
              received_events_url:
                type:
                  - string
                  - "null"
          topics:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          git_url:
            type:
              - string
              - "null"
          license:
            type:
              - object
              - "null"
            properties:
              key:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              node_id:
                type:
                  - string
                  - "null"
              spdx_id:
                type:
                  - string
                  - "null"
          node_id:
            type:
              - string
              - "null"
          private:
            type:
              - boolean
              - "null"
          ssh_url:
            type:
              - string
              - "null"
          svn_url:
            type:
              - string
              - "null"
          archived:
            type:
              - boolean
              - "null"
          disabled:
            type:
              - boolean
              - "null"
          has_wiki:
            type:
              - boolean
              - "null"
          homepage:
            type:
              - string
              - "null"
          html_url:
            type:
              - string
              - "null"
          keys_url:
            type:
              - string
              - "null"
          language:
            type:
              - string
              - "null"
          tags_url:
            type:
              - string
              - "null"
          watchers:
            type:
              - number
              - "null"
          blobs_url:
            type:
              - string
              - "null"
          clone_url:
            type:
              - string
              - "null"
          forks_url:
            type:
              - string
              - "null"
          full_name:
            type:
              - string
              - "null"
          has_pages:
            type:
              - boolean
              - "null"
          hooks_url:
            type:
              - string
              - "null"
          pulls_url:
            type:
              - string
              - "null"
          pushed_at:
            type:
              - string
              - "null"
          teams_url:
            type:
              - string
              - "null"
          trees_url:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          events_url:
            type:
              - string
              - "null"
          has_issues:
            type:
              - boolean
              - "null"
          issues_url:
            type:
              - string
              - "null"
          labels_url:
            type:
              - string
              - "null"
          merges_url:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          visibility:
            type:
              - string
              - "null"
          archive_url:
            type:
              - string
              - "null"
          commits_url:
            type:
              - string
              - "null"
          compare_url:
            type:
              - string
              - "null"
          forks_count:
            type:
              - number
              - "null"
          is_template:
            type:
              - boolean
              - "null"
          open_issues:
            type:
              - number
              - "null"
          permissions:
            type:
              - object
              - "null"
            properties:
              pull:
                type:
                  - boolean
                  - "null"
              push:
                type:
                  - boolean
                  - "null"
              admin:
                type:
                  - boolean
                  - "null"
              triage:
                type:
                  - boolean
                  - "null"
              maintain:
                type:
                  - boolean
                  - "null"
          branches_url:
            type:
              - string
              - "null"
          comments_url:
            type:
              - string
              - "null"
          contents_url:
            type:
              - string
              - "null"
          git_refs_url:
            type:
              - string
              - "null"
          git_tags_url:
            type:
              - string
              - "null"
          has_projects:
            type:
              - boolean
              - "null"
          releases_url:
            type:
              - string
              - "null"
          statuses_url:
            type:
              - string
              - "null"
          allow_forking:
            type:
              - boolean
              - "null"
          assignees_url:
            type:
              - string
              - "null"
          downloads_url:
            type:
              - string
              - "null"
          has_downloads:
            type:
              - boolean
              - "null"
          languages_url:
            type:
              - string
              - "null"
          default_branch:
            type:
              - string
              - "null"
          milestones_url:
            type:
              - string
              - "null"
          stargazers_url:
            type:
              - string
              - "null"
          watchers_count:
            type:
              - number
              - "null"
          deployments_url:
            type:
              - string
              - "null"
          git_commits_url:
            type:
              - string
              - "null"
          has_discussions:
            type:
              - boolean
              - "null"
          subscribers_url:
            type:
              - string
              - "null"
          contributors_url:
            type:
              - string
              - "null"
          issue_events_url:
            type:
              - string
              - "null"
          stargazers_count:
            type:
              - number
              - "null"
          subscription_url:
            type:
              - string
              - "null"
          collaborators_url:
            type:
              - string
              - "null"
          custom_properties:
            type:
              - object
              - "null"
          has_pull_requests:
            type:
              - boolean
              - "null"
          issue_comment_url:
            type:
              - string
              - "null"
          notifications_url:
            type:
              - string
              - "null"
          open_issues_count:
            type:
              - number
              - "null"
          web_commit_signoff_required:
            type:
              - boolean
              - "null"
          pull_request_creation_policy:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: assignees
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.github.com/repos/{{ config['organization'] }}/{{
          stream_slice.repo }}/assignees
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/2"
            parent_key: name
            partition_field: repo
            lazy_read_pointer: []
    primary_key:
      - repository
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - repository
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: number
          url:
            type:
              - string
              - "null"
          login:
            type:
              - string
              - "null"
          node_id:
            type:
              - string
              - "null"
          html_url:
            type:
              - string
              - "null"
          gists_url:
            type:
              - string
              - "null"
          repos_url:
            type:
              - string
              - "null"
          avatar_url:
            type:
              - string
              - "null"
          events_url:
            type:
              - string
              - "null"
          repository:
            type: string
          site_admin:
            type:
              - boolean
              - "null"
          gravatar_id:
            type:
              - string
              - "null"
          starred_url:
            type:
              - string
              - "null"
          followers_url:
            type:
              - string
              - "null"
          following_url:
            type:
              - string
              - "null"
          user_view_type:
            type:
              - string
              - "null"
          organizations_url:
            type:
              - string
              - "null"
          subscriptions_url:
            type:
              - string
              - "null"
          received_events_url:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - repository
            value: "{{ stream_slice.repo }}"
  - type: DeclarativeStream
    name: branches
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.github.com/repos/{{ config['organization'] }}/{{
          stream_slice.repo }}/branches
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/2"
            parent_key: name
            partition_field: repo
            lazy_read_pointer: []
    primary_key:
      - repository
      - name
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - repository
          - name
        properties:
          name:
            type: string
          commit:
            type:
              - object
              - "null"
            properties:
              sha:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          protected:
            type:
              - boolean
              - "null"
          repository:
            type: string
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - repository
            value: "{{ stream_slice.repo }}"
  - type: DeclarativeStream
    name: collaborators
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.github.com/repos/{{ config['organization'] }}/{{
          stream_slice.repo }}/collaborators
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/2"
            parent_key: name
            partition_field: repo
            lazy_read_pointer: []
    primary_key:
      - repository
      - login
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - repository
          - login
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          url:
            type:
              - string
              - "null"
          login:
            type: string
          node_id:
            type:
              - string
              - "null"
          html_url:
            type:
              - string
              - "null"
          gists_url:
            type:
              - string
              - "null"
          repos_url:
            type:
              - string
              - "null"
          role_name:
            type:
              - string
              - "null"
          avatar_url:
            type:
              - string
              - "null"
          events_url:
            type:
              - string
              - "null"
          repository:
            type: string
          site_admin:
            type:
              - boolean
              - "null"
          gravatar_id:
            type:
              - string
              - "null"
          permissions:
            type:
              - object
              - "null"
            properties:
              pull:
                type:
                  - boolean
                  - "null"
              push:
                type:
                  - boolean
                  - "null"
              admin:
                type:
                  - boolean
                  - "null"
              triage:
                type:
                  - boolean
                  - "null"
              maintain:
                type:
                  - boolean
                  - "null"
          starred_url:
            type:
              - string
              - "null"
          followers_url:
            type:
              - string
              - "null"
          following_url:
            type:
              - string
              - "null"
          user_view_type:
            type:
              - string
              - "null"
          organizations_url:
            type:
              - string
              - "null"
          subscriptions_url:
            type:
              - string
              - "null"
          received_events_url:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - repository
            value: "{{ stream_slice.repo }}"
  - type: DeclarativeStream
    name: contributor_activity
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: PageIncrement
          page_size: 100
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url: >-
          https://api.github.com/repos/{{ config['organization'] }}/{{
          stream_slice.repo }}/stats/contributors
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/2"
            parent_key: name
            partition_field: repo
            lazy_read_pointer: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          total:
            type:
              - number
              - "null"
          weeks:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                a:
                  type:
                    - number
                    - "null"
                c:
                  type:
                    - number
                    - "null"
                d:
                  type:
                    - number
                    - "null"
                w:
                  type:
                    - number
                    - "null"
          author:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - number
                  - "null"
              url:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
              node_id:
                type:
                  - string
                  - "null"
              html_url:
                type:
                  - string
                  - "null"
              gists_url:
                type:
                  - string
                  - "null"
              repos_url:
                type:
                  - string
                  - "null"
              avatar_url:
                type:
                  - string
                  - "null"
              events_url:
                type:
                  - string
                  - "null"
              site_admin:
                type:
                  - boolean
                  - "null"
              gravatar_id:
                type:
                  - string
                  - "null"
              starred_url:
                type:
                  - string
                  - "null"
              followers_url:
                type:
                  - string
                  - "null"
              following_url:
                type:
                  - string
                  - "null"
              user_view_type:
                type:
                  - string
                  - "null"
              organizations_url:
                type:
                  - string
                  - "null"
              subscriptions_url:
                type:
                  - string
                  - "null"
              received_events_url:
                type:
                  - string
                  - "null"
          repository:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - repository
            value: "{{ stream_slice.repo }}"
  - type: DeclarativeStream
    name: issues
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.github.com/repos/{{ config['organization'] }}/{{
          stream_slice.repo }}/issues
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/2"
            parent_key: name
            partition_field: repo
            lazy_read_pointer: []
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - updated_at
        properties:
          id:
            type: number
          url:
            type:
              - string
              - "null"
          body:
            type:
              - string
              - "null"
          user:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - number
                  - "null"
              url:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
              node_id:
                type:
                  - string
                  - "null"
              html_url:
                type:
                  - string
                  - "null"
              gists_url:
                type:
                  - string
                  - "null"
              repos_url:
                type:
                  - string
                  - "null"
              avatar_url:
                type:
                  - string
                  - "null"
              events_url:
                type:
                  - string
                  - "null"
              site_admin:
                type:
                  - boolean
                  - "null"
              gravatar_id:
                type:
                  - string
                  - "null"
              starred_url:
                type:
                  - string
                  - "null"
              followers_url:
                type:
                  - string
                  - "null"
              following_url:
                type:
                  - string
                  - "null"
              user_view_type:
                type:
                  - string
                  - "null"
              organizations_url:
                type:
                  - string
                  - "null"
              subscriptions_url:
                type:
                  - string
                  - "null"
              received_events_url:
                type:
                  - string
                  - "null"
          draft:
            type:
              - boolean
              - "null"
          state:
            type:
              - string
              - "null"
          title:
            type:
              - string
              - "null"
          labels:
            type:
              - array
              - "null"
          locked:
            type:
              - boolean
              - "null"
          number:
            type:
              - number
              - "null"
          node_id:
            type:
              - string
              - "null"
          assignee:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - number
                  - "null"
              url:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
              node_id:
                type:
                  - string
                  - "null"
              html_url:
                type:
                  - string
                  - "null"
              gists_url:
                type:
                  - string
                  - "null"
              repos_url:
                type:
                  - string
                  - "null"
              avatar_url:
                type:
                  - string
                  - "null"
              events_url:
                type:
                  - string
                  - "null"
              site_admin:
                type:
                  - boolean
                  - "null"
              gravatar_id:
                type:
                  - string
                  - "null"
              starred_url:
                type:
                  - string
                  - "null"
              followers_url:
                type:
                  - string
                  - "null"
              following_url:
                type:
                  - string
                  - "null"
              user_view_type:
                type:
                  - string
                  - "null"
              organizations_url:
                type:
                  - string
                  - "null"
              subscriptions_url:
                type:
                  - string
                  - "null"
              received_events_url:
                type:
                  - string
                  - "null"
          comments:
            type:
              - number
              - "null"
          html_url:
            type:
              - string
              - "null"
          assignees:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - number
                    - "null"
                url:
                  type:
                    - string
                    - "null"
                login:
                  type:
                    - string
                    - "null"
                node_id:
                  type:
                    - string
                    - "null"
                html_url:
                  type:
                    - string
                    - "null"
                gists_url:
                  type:
                    - string
                    - "null"
                repos_url:
                  type:
                    - string
                    - "null"
                avatar_url:
                  type:
                    - string
                    - "null"
                events_url:
                  type:
                    - string
                    - "null"
                site_admin:
                  type:
                    - boolean
                    - "null"
                gravatar_id:
                  type:
                    - string
                    - "null"
                starred_url:
                  type:
                    - string
                    - "null"
                followers_url:
                  type:
                    - string
                    - "null"
                following_url:
                  type:
                    - string
                    - "null"
                user_view_type:
                  type:
                    - string
                    - "null"
                organizations_url:
                  type:
                    - string
                    - "null"
                subscriptions_url:
                  type:
                    - string
                    - "null"
                received_events_url:
                  type:
                    - string
                    - "null"
          reactions:
            type:
              - object
              - "null"
            properties:
              "+1":
                type:
                  - number
                  - "null"
              "-1":
                type:
                  - number
                  - "null"
              url:
                type:
                  - string
                  - "null"
              eyes:
                type:
                  - number
                  - "null"
              heart:
                type:
                  - number
                  - "null"
              laugh:
                type:
                  - number
                  - "null"
              hooray:
                type:
                  - number
                  - "null"
              rocket:
                type:
                  - number
                  - "null"
              confused:
                type:
                  - number
                  - "null"
              total_count:
                type:
                  - number
                  - "null"
          created_at:
            type:
              - string
              - "null"
          events_url:
            type:
              - string
              - "null"
          labels_url:
            type:
              - string
              - "null"
          repository:
            type:
              - string
              - "null"
          updated_at:
            type: string
          comments_url:
            type:
              - string
              - "null"
          pull_request:
            type:
              - object
              - "null"
            properties:
              url:
                type:
                  - string
                  - "null"
              diff_url:
                type:
                  - string
                  - "null"
              html_url:
                type:
                  - string
                  - "null"
              patch_url:
                type:
                  - string
                  - "null"
          timeline_url:
            type:
              - string
              - "null"
          repository_url:
            type:
              - string
              - "null"
          author_association:
            type:
              - string
              - "null"
          sub_issues_summary:
            type:
              - object
              - "null"
            properties:
              total:
                type:
                  - number
                  - "null"
              completed:
                type:
                  - number
                  - "null"
              percent_completed:
                type:
                  - number
                  - "null"
          issue_dependencies_summary:
            type:
              - object
              - "null"
            properties:
              blocking:
                type:
                  - number
                  - "null"
              blocked_by:
                type:
                  - number
                  - "null"
              total_blocking:
                type:
                  - number
                  - "null"
              total_blocked_by:
                type:
                  - number
                  - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - repository
            value: "{{ stream_slice.repo }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: issue_labels
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.github.com/repos/{{ config['organization'] }}/{{
          stream_slice.repo }}/labels
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/2"
            parent_key: name
            partition_field: repo
            lazy_read_pointer: []
    primary_key:
      - repository
      - name
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - repository
          - name
        properties:
          description:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          url:
            type:
              - string
              - "null"
          name:
            type: string
          color:
            type:
              - string
              - "null"
          default:
            type:
              - boolean
              - "null"
          node_id:
            type:
              - string
              - "null"
          repository:
            type: string
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - repository
            value: "{{ stream_slice.repo }}"
  - type: DeclarativeStream
    name: tags
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.github.com/repos/{{ config['organization'] }}/{{
          stream_slice.repo }}/tags
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/2"
            parent_key: name
            partition_field: repo
            lazy_read_pointer: []
    primary_key:
      - repository
      - name
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - repository
          - name
        properties:
          name:
            type: string
          commit:
            type:
              - object
              - "null"
            properties:
              sha:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
          node_id:
            type:
              - string
              - "null"
          repository:
            type: string
          tarball_url:
            type:
              - string
              - "null"
          zipball_url:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - repository
            value: "{{ stream_slice.repo }}"
  - type: DeclarativeStream
    name: commits
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.github.com/repos/{{ config['organization'] }}/{{
          stream_slice.repo }}/commits
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/2"
            parent_key: name
            partition_field: repo
            lazy_read_pointer: []
    primary_key: sha
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - sha
          - author_datetime
        properties:
          sha:
            type: string
          url:
            type:
              - string
              - "null"
          author:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - number
                  - "null"
              url:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
              node_id:
                type:
                  - string
                  - "null"
              html_url:
                type:
                  - string
                  - "null"
              gists_url:
                type:
                  - string
                  - "null"
              repos_url:
                type:
                  - string
                  - "null"
              avatar_url:
                type:
                  - string
                  - "null"
              events_url:
                type:
                  - string
                  - "null"
              site_admin:
                type:
                  - boolean
                  - "null"
              gravatar_id:
                type:
                  - string
                  - "null"
              starred_url:
                type:
                  - string
                  - "null"
              followers_url:
                type:
                  - string
                  - "null"
              following_url:
                type:
                  - string
                  - "null"
              user_view_type:
                type:
                  - string
                  - "null"
              organizations_url:
                type:
                  - string
                  - "null"
              subscriptions_url:
                type:
                  - string
                  - "null"
              received_events_url:
                type:
                  - string
                  - "null"
          commit:
            type:
              - object
              - "null"
            properties:
              url:
                type:
                  - string
                  - "null"
              tree:
                type:
                  - object
                  - "null"
                properties:
                  sha:
                    type:
                      - string
                      - "null"
                  url:
                    type:
                      - string
                      - "null"
              author:
                type:
                  - object
                  - "null"
                properties:
                  date:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  email:
                    type:
                      - string
                      - "null"
              message:
                type:
                  - string
                  - "null"
              committer:
                type:
                  - object
                  - "null"
                properties:
                  date:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  email:
                    type:
                      - string
                      - "null"
              verification:
                type:
                  - object
                  - "null"
                properties:
                  reason:
                    type:
                      - string
                      - "null"
                  payload:
                    type:
                      - string
                      - "null"
                  verified:
                    type:
                      - boolean
                      - "null"
                  signature:
                    type:
                      - string
                      - "null"
                  verified_at:
                    type:
                      - string
                      - "null"
              comment_count:
                type:
                  - number
                  - "null"
          node_id:
            type:
              - string
              - "null"
          parents:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                sha:
                  type:
                    - string
                    - "null"
                url:
                  type:
                    - string
                    - "null"
                html_url:
                  type:
                    - string
                    - "null"
          html_url:
            type:
              - string
              - "null"
          committer:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - number
                  - "null"
              url:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
              node_id:
                type:
                  - string
                  - "null"
              html_url:
                type:
                  - string
                  - "null"
              gists_url:
                type:
                  - string
                  - "null"
              repos_url:
                type:
                  - string
                  - "null"
              avatar_url:
                type:
                  - string
                  - "null"
              events_url:
                type:
                  - string
                  - "null"
              site_admin:
                type:
                  - boolean
                  - "null"
              gravatar_id:
                type:
                  - string
                  - "null"
              starred_url:
                type:
                  - string
                  - "null"
              followers_url:
                type:
                  - string
                  - "null"
              following_url:
                type:
                  - string
                  - "null"
              user_view_type:
                type:
                  - string
                  - "null"
              organizations_url:
                type:
                  - string
                  - "null"
              subscriptions_url:
                type:
                  - string
                  - "null"
              received_events_url:
                type:
                  - string
                  - "null"
          repository:
            type:
              - string
              - "null"
          comments_url:
            type:
              - string
              - "null"
          author_datetime:
            type: string
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - repository
            value: "{{ stream_slice.repo }}"
          - type: AddedFieldDefinition
            path:
              - author_datetime
            value: "{{ record['commit']['author']['date'] }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: author_datetime
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: deployments
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.github.com/repos/{{ config['organization'] }}/{{
          stream_slice.repo }}/deployments
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/2"
            parent_key: name
            partition_field: repo
            lazy_read_pointer: []
    primary_key:
      - repository
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - repository
          - id
        properties:
          id:
            type: number
          ref:
            type:
              - string
              - "null"
          sha:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
          task:
            type:
              - string
              - "null"
          creator:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - number
                  - "null"
              url:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
              node_id:
                type:
                  - string
                  - "null"
              html_url:
                type:
                  - string
                  - "null"
              gists_url:
                type:
                  - string
                  - "null"
              repos_url:
                type:
                  - string
                  - "null"
              avatar_url:
                type:
                  - string
                  - "null"
              events_url:
                type:
                  - string
                  - "null"
              site_admin:
                type:
                  - boolean
                  - "null"
              gravatar_id:
                type:
                  - string
                  - "null"
              starred_url:
                type:
                  - string
                  - "null"
              followers_url:
                type:
                  - string
                  - "null"
              following_url:
                type:
                  - string
                  - "null"
              user_view_type:
                type:
                  - string
                  - "null"
              organizations_url:
                type:
                  - string
                  - "null"
              subscriptions_url:
                type:
                  - string
                  - "null"
              received_events_url:
                type:
                  - string
                  - "null"
          node_id:
            type:
              - string
              - "null"
          payload:
            type:
              - object
              - "null"
          created_at:
            type:
              - string
              - "null"
          repository:
            type: string
          updated_at:
            type:
              - string
              - "null"
          environment:
            type:
              - string
              - "null"
          statuses_url:
            type:
              - string
              - "null"
          repository_url:
            type:
              - string
              - "null"
          original_environment:
            type:
              - string
              - "null"
          transient_environment:
            type:
              - boolean
              - "null"
          production_environment:
            type:
              - boolean
              - "null"
          performed_via_github_app:
            type:
              - object
              - "null"
            properties:
              description:
                type:
                  - string
                  - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              slug:
                type:
                  - string
                  - "null"
              owner:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - number
                      - "null"
                  url:
                    type:
                      - string
                      - "null"
                  login:
                    type:
                      - string
                      - "null"
                  node_id:
                    type:
                      - string
                      - "null"
                  html_url:
                    type:
                      - string
                      - "null"
                  gists_url:
                    type:
                      - string
                      - "null"
                  repos_url:
                    type:
                      - string
                      - "null"
                  avatar_url:
                    type:
                      - string
                      - "null"
                  events_url:
                    type:
                      - string
                      - "null"
                  site_admin:
                    type:
                      - boolean
                      - "null"
                  gravatar_id:
                    type:
                      - string
                      - "null"
                  starred_url:
                    type:
                      - string
                      - "null"
                  followers_url:
                    type:
                      - string
                      - "null"
                  following_url:
                    type:
                      - string
                      - "null"
                  user_view_type:
                    type:
                      - string
                      - "null"
                  organizations_url:
                    type:
                      - string
                      - "null"
                  subscriptions_url:
                    type:
                      - string
                      - "null"
                  received_events_url:
                    type:
                      - string
                      - "null"
              events:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              node_id:
                type:
                  - string
                  - "null"
              html_url:
                type:
                  - string
                  - "null"
              client_id:
                type:
                  - string
                  - "null"
              created_at:
                type:
                  - string
                  - "null"
              updated_at:
                type:
                  - string
                  - "null"
              permissions:
                type:
                  - object
                  - "null"
                properties:
                  metadata:
                    type:
                      - string
                      - "null"
                  pages:
                    type:
                      - string
                      - "null"
                  checks:
                    type:
                      - string
                      - "null"
                  issues:
                    type:
                      - string
                      - "null"
                  models:
                    type:
                      - string
                      - "null"
                  actions:
                    type:
                      - string
                      - "null"
                  members:
                    type:
                      - string
                      - "null"
                  contents:
                    type:
                      - string
                      - "null"
                  packages:
                    type:
                      - string
                      - "null"
                  statuses:
                    type:
                      - string
                      - "null"
                  deployments:
                    type:
                      - string
                      - "null"
                  discussions:
                    type:
                      - string
                      - "null"
                  attestations:
                    type:
                      - string
                      - "null"
                  merge_queues:
                    type:
                      - string
                      - "null"
                  pull_requests:
                    type:
                      - string
                      - "null"
                  administration:
                    type:
                      - string
                      - "null"
                  security_events:
                    type:
                      - string
                      - "null"
                  copilot_requests:
                    type:
                      - string
                      - "null"
                  repository_hooks:
                    type:
                      - string
                      - "null"
                  artifact_metadata:
                    type:
                      - string
                      - "null"
                  repository_projects:
                    type:
                      - string
                      - "null"
                  vulnerability_alerts:
                    type:
                      - string
                      - "null"
              external_url:
                type:
                  - string
                  - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - repository
            value: "{{ stream_slice.repo }}"
  - type: DeclarativeStream
    name: pull_requests
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.github.com/repos/{{ config['organization'] }}/{{
          stream_slice.repo }}/pulls
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          $ref: "#/definitions/linked/HttpRequester/request_parameters"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/2"
            parent_key: name
            partition_field: repo
            lazy_read_pointer: []
    primary_key:
      - repository
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - repository
          - id
        properties:
          id:
            type: number
          url:
            type:
              - string
              - "null"
          base:
            type:
              - object
              - "null"
            properties:
              ref:
                type:
                  - string
                  - "null"
              sha:
                type:
                  - string
                  - "null"
              repo:
                type:
                  - object
                  - "null"
                properties:
                  description:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - number
                      - "null"
                  url:
                    type:
                      - string
                      - "null"
                  fork:
                    type:
                      - boolean
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  size:
                    type:
                      - number
                      - "null"
                  forks:
                    type:
                      - number
                      - "null"
                  owner:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - number
                          - "null"
                      url:
                        type:
                          - string
                          - "null"
                      login:
                        type:
                          - string
                          - "null"
                      node_id:
                        type:
                          - string
                          - "null"
                      html_url:
                        type:
                          - string
                          - "null"
                      gists_url:
                        type:
                          - string
                          - "null"
                      repos_url:
                        type:
                          - string
                          - "null"
                      avatar_url:
                        type:
                          - string
                          - "null"
                      events_url:
                        type:
                          - string
                          - "null"
                      site_admin:
                        type:
                          - boolean
                          - "null"
                      gravatar_id:
                        type:
                          - string
                          - "null"
                      starred_url:
                        type:
                          - string
                          - "null"
                      followers_url:
                        type:
                          - string
                          - "null"
                      following_url:
                        type:
                          - string
                          - "null"
                      user_view_type:
                        type:
                          - string
                          - "null"
                      organizations_url:
                        type:
                          - string
                          - "null"
                      subscriptions_url:
                        type:
                          - string
                          - "null"
                      received_events_url:
                        type:
                          - string
                          - "null"
                  topics:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  git_url:
                    type:
                      - string
                      - "null"
                  license:
                    type:
                      - object
                      - "null"
                    properties:
                      key:
                        type:
                          - string
                          - "null"
                      url:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      node_id:
                        type:
                          - string
                          - "null"
                      spdx_id:
                        type:
                          - string
                          - "null"
                  node_id:
                    type:
                      - string
                      - "null"
                  private:
                    type:
                      - boolean
                      - "null"
                  ssh_url:
                    type:
                      - string
                      - "null"
                  svn_url:
                    type:
                      - string
                      - "null"
                  archived:
                    type:
                      - boolean
                      - "null"
                  disabled:
                    type:
                      - boolean
                      - "null"
                  has_wiki:
                    type:
                      - boolean
                      - "null"
                  homepage:
                    type:
                      - string
                      - "null"
                  html_url:
                    type:
                      - string
                      - "null"
                  keys_url:
                    type:
                      - string
                      - "null"
                  language:
                    type:
                      - string
                      - "null"
                  tags_url:
                    type:
                      - string
                      - "null"
                  watchers:
                    type:
                      - number
                      - "null"
                  blobs_url:
                    type:
                      - string
                      - "null"
                  clone_url:
                    type:
                      - string
                      - "null"
                  forks_url:
                    type:
                      - string
                      - "null"
                  full_name:
                    type:
                      - string
                      - "null"
                  has_pages:
                    type:
                      - boolean
                      - "null"
                  hooks_url:
                    type:
                      - string
                      - "null"
                  pulls_url:
                    type:
                      - string
                      - "null"
                  pushed_at:
                    type:
                      - string
                      - "null"
                  teams_url:
                    type:
                      - string
                      - "null"
                  trees_url:
                    type:
                      - string
                      - "null"
                  created_at:
                    type:
                      - string
                      - "null"
                  events_url:
                    type:
                      - string
                      - "null"
                  has_issues:
                    type:
                      - boolean
                      - "null"
                  issues_url:
                    type:
                      - string
                      - "null"
                  labels_url:
                    type:
                      - string
                      - "null"
                  merges_url:
                    type:
                      - string
                      - "null"
                  updated_at:
                    type:
                      - string
                      - "null"
                  visibility:
                    type:
                      - string
                      - "null"
                  archive_url:
                    type:
                      - string
                      - "null"
                  commits_url:
                    type:
                      - string
                      - "null"
                  compare_url:
                    type:
                      - string
                      - "null"
                  forks_count:
                    type:
                      - number
                      - "null"
                  is_template:
                    type:
                      - boolean
                      - "null"
                  open_issues:
                    type:
                      - number
                      - "null"
                  branches_url:
                    type:
                      - string
                      - "null"
                  comments_url:
                    type:
                      - string
                      - "null"
                  contents_url:
                    type:
                      - string
                      - "null"
                  git_refs_url:
                    type:
                      - string
                      - "null"
                  git_tags_url:
                    type:
                      - string
                      - "null"
                  has_projects:
                    type:
                      - boolean
                      - "null"
                  releases_url:
                    type:
                      - string
                      - "null"
                  statuses_url:
                    type:
                      - string
                      - "null"
                  allow_forking:
                    type:
                      - boolean
                      - "null"
                  assignees_url:
                    type:
                      - string
                      - "null"
                  downloads_url:
                    type:
                      - string
                      - "null"
                  has_downloads:
                    type:
                      - boolean
                      - "null"
                  languages_url:
                    type:
                      - string
                      - "null"
                  default_branch:
                    type:
                      - string
                      - "null"
                  milestones_url:
                    type:
                      - string
                      - "null"
                  stargazers_url:
                    type:
                      - string
                      - "null"
                  watchers_count:
                    type:
                      - number
                      - "null"
                  deployments_url:
                    type:
                      - string
                      - "null"
                  git_commits_url:
                    type:
                      - string
                      - "null"
                  has_discussions:
                    type:
                      - boolean
                      - "null"
                  subscribers_url:
                    type:
                      - string
                      - "null"
                  contributors_url:
                    type:
                      - string
                      - "null"
                  issue_events_url:
                    type:
                      - string
                      - "null"
                  stargazers_count:
                    type:
                      - number
                      - "null"
                  subscription_url:
                    type:
                      - string
                      - "null"
                  collaborators_url:
                    type:
                      - string
                      - "null"
                  has_pull_requests:
                    type:
                      - boolean
                      - "null"
                  issue_comment_url:
                    type:
                      - string
                      - "null"
                  notifications_url:
                    type:
                      - string
                      - "null"
                  open_issues_count:
                    type:
                      - number
                      - "null"
                  web_commit_signoff_required:
                    type:
                      - boolean
                      - "null"
                  pull_request_creation_policy:
                    type:
                      - string
                      - "null"
              user:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - number
                      - "null"
                  url:
                    type:
                      - string
                      - "null"
                  login:
                    type:
                      - string
                      - "null"
                  node_id:
                    type:
                      - string
                      - "null"
                  html_url:
                    type:
                      - string
                      - "null"
                  gists_url:
                    type:
                      - string
                      - "null"
                  repos_url:
                    type:
                      - string
                      - "null"
                  avatar_url:
                    type:
                      - string
                      - "null"
                  events_url:
                    type:
                      - string
                      - "null"
                  site_admin:
                    type:
                      - boolean
                      - "null"
                  gravatar_id:
                    type:
                      - string
                      - "null"
                  starred_url:
                    type:
                      - string
                      - "null"
                  followers_url:
                    type:
                      - string
                      - "null"
                  following_url:
                    type:
                      - string
                      - "null"
                  user_view_type:
                    type:
                      - string
                      - "null"
                  organizations_url:
                    type:
                      - string
                      - "null"
                  subscriptions_url:
                    type:
                      - string
                      - "null"
                  received_events_url:
                    type:
                      - string
                      - "null"
              label:
                type:
                  - string
                  - "null"
          body:
            type:
              - string
              - "null"
          head:
            type:
              - object
              - "null"
            properties:
              ref:
                type:
                  - string
                  - "null"
              sha:
                type:
                  - string
                  - "null"
              repo:
                type:
                  - object
                  - "null"
                properties:
                  description:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - number
                      - "null"
                  url:
                    type:
                      - string
                      - "null"
                  fork:
                    type:
                      - boolean
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  size:
                    type:
                      - number
                      - "null"
                  forks:
                    type:
                      - number
                      - "null"
                  owner:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - number
                          - "null"
                      url:
                        type:
                          - string
                          - "null"
                      login:
                        type:
                          - string
                          - "null"
                      node_id:
                        type:
                          - string
                          - "null"
                      html_url:
                        type:
                          - string
                          - "null"
                      gists_url:
                        type:
                          - string
                          - "null"
                      repos_url:
                        type:
                          - string
                          - "null"
                      avatar_url:
                        type:
                          - string
                          - "null"
                      events_url:
                        type:
                          - string
                          - "null"
                      site_admin:
                        type:
                          - boolean
                          - "null"
                      gravatar_id:
                        type:
                          - string
                          - "null"
                      starred_url:
                        type:
                          - string
                          - "null"
                      followers_url:
                        type:
                          - string
                          - "null"
                      following_url:
                        type:
                          - string
                          - "null"
                      user_view_type:
                        type:
                          - string
                          - "null"
                      organizations_url:
                        type:
                          - string
                          - "null"
                      subscriptions_url:
                        type:
                          - string
                          - "null"
                      received_events_url:
                        type:
                          - string
                          - "null"
                  topics:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  git_url:
                    type:
                      - string
                      - "null"
                  license:
                    type:
                      - object
                      - "null"
                    properties:
                      key:
                        type:
                          - string
                          - "null"
                      url:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      node_id:
                        type:
                          - string
                          - "null"
                      spdx_id:
                        type:
                          - string
                          - "null"
                  node_id:
                    type:
                      - string
                      - "null"
                  private:
                    type:
                      - boolean
                      - "null"
                  ssh_url:
                    type:
                      - string
                      - "null"
                  svn_url:
                    type:
                      - string
                      - "null"
                  archived:
                    type:
                      - boolean
                      - "null"
                  disabled:
                    type:
                      - boolean
                      - "null"
                  has_wiki:
                    type:
                      - boolean
                      - "null"
                  homepage:
                    type:
                      - string
                      - "null"
                  html_url:
                    type:
                      - string
                      - "null"
                  keys_url:
                    type:
                      - string
                      - "null"
                  language:
                    type:
                      - string
                      - "null"
                  tags_url:
                    type:
                      - string
                      - "null"
                  watchers:
                    type:
                      - number
                      - "null"
                  blobs_url:
                    type:
                      - string
                      - "null"
                  clone_url:
                    type:
                      - string
                      - "null"
                  forks_url:
                    type:
                      - string
                      - "null"
                  full_name:
                    type:
                      - string
                      - "null"
                  has_pages:
                    type:
                      - boolean
                      - "null"
                  hooks_url:
                    type:
                      - string
                      - "null"
                  pulls_url:
                    type:
                      - string
                      - "null"
                  pushed_at:
                    type:
                      - string
                      - "null"
                  teams_url:
                    type:
                      - string
                      - "null"
                  trees_url:
                    type:
                      - string
                      - "null"
                  created_at:
                    type:
                      - string
                      - "null"
                  events_url:
                    type:
                      - string
                      - "null"
                  has_issues:
                    type:
                      - boolean
                      - "null"
                  issues_url:
                    type:
                      - string
                      - "null"
                  labels_url:
                    type:
                      - string
                      - "null"
                  merges_url:
                    type:
                      - string
                      - "null"
                  updated_at:
                    type:
                      - string
                      - "null"
                  visibility:
                    type:
                      - string
                      - "null"
                  archive_url:
                    type:
                      - string
                      - "null"
                  commits_url:
                    type:
                      - string
                      - "null"
                  compare_url:
                    type:
                      - string
                      - "null"
                  forks_count:
                    type:
                      - number
                      - "null"
                  is_template:
                    type:
                      - boolean
                      - "null"
                  open_issues:
                    type:
                      - number
                      - "null"
                  branches_url:
                    type:
                      - string
                      - "null"
                  comments_url:
                    type:
                      - string
                      - "null"
                  contents_url:
                    type:
                      - string
                      - "null"
                  git_refs_url:
                    type:
                      - string
                      - "null"
                  git_tags_url:
                    type:
                      - string
                      - "null"
                  has_projects:
                    type:
                      - boolean
                      - "null"
                  releases_url:
                    type:
                      - string
                      - "null"
                  statuses_url:
                    type:
                      - string
                      - "null"
                  allow_forking:
                    type:
                      - boolean
                      - "null"
                  assignees_url:
                    type:
                      - string
                      - "null"
                  downloads_url:
                    type:
                      - string
                      - "null"
                  has_downloads:
                    type:
                      - boolean
                      - "null"
                  languages_url:
                    type:
                      - string
                      - "null"
                  default_branch:
                    type:
                      - string
                      - "null"
                  milestones_url:
                    type:
                      - string
                      - "null"
                  stargazers_url:
                    type:
                      - string
                      - "null"
                  watchers_count:
                    type:
                      - number
                      - "null"
                  deployments_url:
                    type:
                      - string
                      - "null"
                  git_commits_url:
                    type:
                      - string
                      - "null"
                  has_discussions:
                    type:
                      - boolean
                      - "null"
                  subscribers_url:
                    type:
                      - string
                      - "null"
                  contributors_url:
                    type:
                      - string
                      - "null"
                  issue_events_url:
                    type:
                      - string
                      - "null"
                  stargazers_count:
                    type:
                      - number
                      - "null"
                  subscription_url:
                    type:
                      - string
                      - "null"
                  collaborators_url:
                    type:
                      - string
                      - "null"
                  has_pull_requests:
                    type:
                      - boolean
                      - "null"
                  issue_comment_url:
                    type:
                      - string
                      - "null"
                  notifications_url:
                    type:
                      - string
                      - "null"
                  open_issues_count:
                    type:
                      - number
                      - "null"
                  web_commit_signoff_required:
                    type:
                      - boolean
                      - "null"
                  pull_request_creation_policy:
                    type:
                      - string
                      - "null"
              user:
[...]
