version: 6.33.4

type: DeclarativeSource

description: >-
  This API provides a powerful mechanism for matching inconsistent company and
  organization name data within or across various data sources and datasets. It
  works by generating a similarity key using AI and specialized algorithms, so
  variations of the same organization name generate the same similarity key (GE,
  Gen Elec, GE Corp, etc.). Data can then be matched batched on similarity key
  rather than the organization name data itself for dramatically higher match
  rates.

check:
  type: CheckStream
  stream_names:
    - simkey

definitions:
  streams:
    simkey:
      type: DeclarativeStream
      name: simkey
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /getcompanymatchadvanced
          http_method: GET
          request_parameters:
            company: ibm
            algorithm: model-v3-wide
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/simkey"
  base_requester:
    type: HttpRequester
    url_base: https://api.interzoid.com
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: license
        inject_into: request_parameter

streams:
  - $ref: "#/definitions/streams/simkey"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: The API key to use for authentication
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    simkey: true
  testedStreams:
    simkey:
      streamHash: aa8658fb075b1a1a6febe37e47d14484c97158e7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://www.interzoid.com/apis/company-name-matching
    openapiSpecUrl: https://www.interzoid.com/openapi/v3-1/company-name-matching.yaml

schemas:
  simkey:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      Code:
        type:
          - string
          - "null"
      Credits:
        type:
          - string
          - "null"
      SimKey:
        type:
          - string
          - "null"
