version: 5.12.0

type: DeclarativeSource

description: This directory contains the manifest-only connector for source-zoho-desk

check:
  type: CheckStream
  stream_names:
    - organization

definitions:
  streams:
    organization:
      type: DeclarativeStream
      name: organization
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: organizations/{{ stream_partition.organization_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: organization_id
              stream:
                $ref: "#/definitions/streams/all_organizations"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organization"
    all_organizations:
      type: DeclarativeStream
      name: all_organizations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /organizations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/all_organizations"
    accessible_organizations:
      type: DeclarativeStream
      name: accessible_organizations
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accessibleOrganizations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accessible_organizations"
    agent:
      type: DeclarativeStream
      name: agent
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /agents/{{ stream_partition.agent_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: agent_id
              stream:
                $ref: "#/definitions/streams/all_agents"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/agent"
    all_agents:
      type: DeclarativeStream
      name: all_agents
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /agents
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/all_agents"
    agent_details_by_id:
      type: DeclarativeStream
      name: agent_details_by_id
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /agentsByIds?agentIds={{ stream_partition.agent_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: agent_id
              stream:
                $ref: "#/definitions/streams/all_agents"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/agent_details_by_id"
    profiles:
      type: DeclarativeStream
      name: profiles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /profiles
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/profiles"
    roles:
      type: DeclarativeStream
      name: roles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /roles
          http_method: GET
          request_parameters:
            limit: "{{ config['limit'] }}"
            isDefault: "{{ config['isdefault'] }}"
            isVisible: "{{ config['isvisible'] }}"
            searchStr: "{{ config['searchstr'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/roles"
    teams:
      type: DeclarativeStream
      name: teams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /teams
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - teams
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    team_members:
      type: DeclarativeStream
      name: team_members
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /teams/{{ stream_partition.team_id }}/members
          http_method: GET
          request_parameters:
            include: "{{ config[\"include\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - members
        paginator:
          type: DefaultPaginator
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: team_id
              stream:
                $ref: "#/definitions/streams/teams"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/team_members"
    departments:
      type: DeclarativeStream
      name: departments
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /departments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/departments"
    channels:
      type: DeclarativeStream
      name: channels
      primary_key:
        - code
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /channels
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/channels"
    tickets:
      type: DeclarativeStream
      name: tickets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /tickets
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tickets"
    all_threads:
      type: DeclarativeStream
      name: all_threads
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /tickets/{{ stream_partition.ticket_id }}/threads
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: ticket_id
              stream:
                $ref: "#/definitions/streams/tickets"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/all_threads"
    get_latest_thread:
      type: DeclarativeStream
      name: get_latest_thread
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /tickets/{{ stream_partition.ticket_id }}/latestThread
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: ticket_id
              stream:
                $ref: "#/definitions/streams/tickets"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/get_latest_thread"
    list_contacts:
      type: DeclarativeStream
      name: list_contacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /contacts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/list_contacts"
    webhooks:
      type: DeclarativeStream
      name: webhooks
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /webhooks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/webhooks"
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"
    contracts:
      type: DeclarativeStream
      name: contracts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts/{{ stream_partition.account_id }}/contracts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: account_id
              stream:
                $ref: "#/definitions/streams/accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contracts"
    tasks:
      type: DeclarativeStream
      name: tasks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /tasks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tasks"
    products:
      type: DeclarativeStream
      name: products
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /products
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
    articles:
      type: DeclarativeStream
      name: articles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /articles
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/articles"
    events:
      type: DeclarativeStream
      name: events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /events
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/events"
    modules:
      type: DeclarativeStream
      name: modules
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /organizationModules
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/modules"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    ticket_activities:
      type: DeclarativeStream
      name: ticket_activities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /tickets/{{ stream_partition.ticket_id }}/activities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: ticket_id
              stream:
                $ref: "#/definitions/streams/tickets"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ticket_activities"
    product_attachments:
      type: DeclarativeStream
      name: product_attachments
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /products/{{ stream_partition.product_id }}/attachments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: product_id
              stream:
                $ref: "#/definitions/streams/products"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_attachments"
    product:
      type: DeclarativeStream
      name: product
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /products/{{ stream_partition.product_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: false
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: product_id
              stream:
                $ref: "#/definitions/streams/products"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product"
    task_attachments:
      type: DeclarativeStream
      name: task_attachments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /tasks/{{ stream_partition.task_id }}/attachments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: false
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: task_id
              stream:
                $ref: "#/definitions/streams/tasks"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/task_attachments"
    all_calls:
      type: DeclarativeStream
      name: all_calls
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /calls
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/all_calls"
    call:
      type: DeclarativeStream
      name: call
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /calls/{{ stream_partition.call_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
            inject_on_first_request: false
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: call_id
              stream:
                $ref: "#/definitions/streams/all_calls"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/call"
    call_comments:
      type: DeclarativeStream
      name: call_comments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /calls/{{ stream_partition.call_id }}/comments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: call_id
              stream:
                $ref: "#/definitions/streams/all_calls"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/call_comments"
    dashboard:
      type: DeclarativeStream
      name: dashboard
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /dashboards/createdTickets
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: from
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: false
        partition_router:
          - type: ListPartitionRouter
            values:
              - date
              - channel
              - agent
            cursor_field: groupBy
            request_option:
              type: RequestOption
              field_name: groupBy
              inject_into: request_parameter
          - type: ListPartitionRouter
            values:
              - LAST_7_DAYS
            cursor_field: duration
            request_option:
              type: RequestOption
              inject_into: request_parameter
              field_name: duration
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/dashboard"
  base_requester:
    type: HttpRequester
    url_base: https://desk.zoho.com/api/v1
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/organization"
  - $ref: "#/definitions/streams/all_organizations"
  - $ref: "#/definitions/streams/accessible_organizations"
  - $ref: "#/definitions/streams/agent"
  - $ref: "#/definitions/streams/all_agents"
  - $ref: "#/definitions/streams/agent_details_by_id"
  - $ref: "#/definitions/streams/profiles"
  - $ref: "#/definitions/streams/roles"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/team_members"
  - $ref: "#/definitions/streams/departments"
  - $ref: "#/definitions/streams/channels"
  - $ref: "#/definitions/streams/tickets"
  - $ref: "#/definitions/streams/all_threads"
  - $ref: "#/definitions/streams/get_latest_thread"
  - $ref: "#/definitions/streams/list_contacts"
  - $ref: "#/definitions/streams/webhooks"
  - $ref: "#/definitions/streams/accounts"
  - $ref: "#/definitions/streams/contracts"
  - $ref: "#/definitions/streams/tasks"
  - $ref: "#/definitions/streams/products"
  - $ref: "#/definitions/streams/articles"
  - $ref: "#/definitions/streams/events"
  - $ref: "#/definitions/streams/modules"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/ticket_activities"
  - $ref: "#/definitions/streams/product_attachments"
  - $ref: "#/definitions/streams/product"
  - $ref: "#/definitions/streams/task_attachments"
  - $ref: "#/definitions/streams/all_calls"
  - $ref: "#/definitions/streams/call"
  - $ref: "#/definitions/streams/call_comments"
  - $ref: "#/definitions/streams/dashboard"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    organization: true
    all_organizations: false
    accessible_organizations: false
    agent: false
    all_agents: false
    agent_details_by_id: false
    profiles: false
    roles: false
    teams: false
    team_members: false
    departments: false
    channels: false
    tickets: false
    all_threads: false
    get_latest_thread: false
    list_contacts: false
    webhooks: false
    accounts: false
    contracts: false
    tasks: false
    products: false
    articles: false
    events: false
    modules: false
    users: false
    ticket_activities: false
    product_attachments: false
    product: false
    task_attachments: false
    all_calls: false
    call: false
    call_comments: false
    dashboard: false
  testedStreams:
    organization:
      streamHash: 0000bf499161d1781994d9cf5ef603d9a01d43ee
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    all_organizations:
      streamHash: 12413f60ce4d3413c90efb163d9950afa71527eb
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    accessible_organizations:
      streamHash: 97f1daeeee5aa124cf3a2853dfdbd96304f2148b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    agent:
      streamHash: 3efcb1d5760d27fd7c995b7a096ffd8243687afd
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    all_agents:
      streamHash: 3786f8dca18dd111e0b6003c32d7e52910262413
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    agent_details_by_id:
      streamHash: 6a9cdd38f4d831f6420eafe512bb2cccc4f47e1b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    profiles:
      streamHash: d51ea79e5c85cc2ed0f249631d2f21f1c0cd46d9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    roles:
      streamHash: 4488746dd8fc7927c139a99361e6ca8ebee363ee
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teams:
      streamHash: 47a4831918ecf3776a3b7c8c60372165b18d5473
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    team_members:
      streamHash: dcac64c376fc6caa469660c19a0714d084449f60
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    departments:
      streamHash: 8c7be153bb5e61a14fc28ee8761ceca4b3bb4f21
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    channels:
      streamHash: 8a094cb55b5b9b22c78ad4431258897d7b257931
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tickets:
      streamHash: 8a5574629e303285b4b3ad11c325ef1a6b64da39
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    all_threads:
      streamHash: dbb3a954b1356aaedfe9885463cbabee69789695
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    get_latest_thread:
      streamHash: 9367f223800a35b6ca8965f2d059a0a1d4c9b31b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    list_contacts:
      streamHash: d086ebd805b00f243b2fb256011565510939262d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    webhooks:
      streamHash: f5355a41cf8e0aedaae28453f883f51797d9448d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    accounts:
      streamHash: 37ef3271bb9d9f5ecf7f708438bfda38d60c8e1b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    contracts:
      streamHash: c154c1d5247a95806c04302cd2ac94402f43ebda
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tasks:
      streamHash: bd00814dc568095ee29f3e695e68ea5bc5bbffc7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    products:
      streamHash: dfba46a18331a20e55c4ecadb19c5279297f03c3
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    articles:
      streamHash: 0a77ebab85df881cf50c137ed03c12490a3ccd79
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    events:
      streamHash: fc1527057d33d92325fe4618631549ea9e4bcfd8
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    modules:
      streamHash: c41fc442d754f524449723cb3223f91f89881453
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: 1aa0db6a228aea5be6ac0939ecd83193608eda35
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    ticket_activities:
      streamHash: 56b94ce0b11851ca80808373e5349b0007c780d2
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    product_attachments:
      streamHash: f0a8357e53bb0ffbd9e243f01657c5d59a324954
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    product:
      streamHash: 5466a10c011b8c7cd4f53690fe5c99ea464d5b74
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    task_attachments:
      streamHash: 26d20d98e8b585210502e7cc1f74641fa8a67316
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    all_calls:
      streamHash: c2431a9d4b58749878616ea7fe961debe9a2c595
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    call:
      streamHash: 3a3bc46c57095684683ed937bea82b5328d3086e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    call_comments:
      streamHash: 5b8b9b89a1f3e0fafeea6e1a81405d74e4cd20d4
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    dashboard:
      streamHash: 13adc1be8318368839153aa61bb2b48f021dea68
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://desk.zoho.com/DeskAPIDocument

schemas:
  organization:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      city:
        type:
          - string
          - "null"
      companyName:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      currencyCode:
        type:
          - string
          - "null"
      currencyLocale:
        type:
          - string
          - "null"
      currencySymbol:
        type:
          - string
          - "null"
      edition:
        type:
          - string
          - "null"
      employeeCount:
        type:
          - number
          - "null"
      faviconURL:
        type:
          - string
          - "null"
      fax:
        type:
          - string
          - "null"
      id:
        type: number
      isAdminInOrg:
        type:
          - boolean
          - "null"
      isDefault:
        type:
          - boolean
          - "null"
      isPayloadEncryptionEnabled:
        type:
          - boolean
          - "null"
      isSandboxPortal:
        type:
          - boolean
          - "null"
      logoURL:
        type:
          - string
          - "null"
      mobile:
        type:
          - string
          - "null"
      phoneNumber:
        type:
          - string
          - "null"
      portalName:
        type:
          - string
          - "null"
      portalURL:
        type:
          - string
          - "null"
      primaryContact:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      street:
        type:
          - string
          - "null"
      website:
        type:
          - string
          - "null"
      zip:
        type:
          - string
          - "null"
    required:
      - id
  all_organizations:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      city:
        type:
          - string
          - "null"
      companyName:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      currencyCode:
        type:
          - string
          - "null"
      currencyLocale:
        type:
          - string
          - "null"
      currencySymbol:
        type:
          - string
          - "null"
      edition:
        type:
          - string
          - "null"
      employeeCount:
        type:
          - number
          - "null"
      faviconURL:
        type:
          - string
          - "null"
      fax:
        type:
          - string
          - "null"
      id:
        type: number
      isAdminInOrg:
        type:
          - boolean
          - "null"
      isDefault:
        type:
          - boolean
          - "null"
      isPayloadEncryptionEnabled:
        type:
          - boolean
          - "null"
      isSandboxPortal:
        type:
          - boolean
          - "null"
      logoURL:
        type:
          - string
          - "null"
      mobile:
        type:
          - string
          - "null"
      phoneNumber:
        type:
          - string
          - "null"
      portalName:
        type:
          - string
          - "null"
      portalURL:
        type:
          - string
          - "null"
      primaryContact:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      street:
        type:
          - string
          - "null"
      website:
        type:
          - string
          - "null"
      zip:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  accessible_organizations:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      city:
        type:
          - string
          - "null"
      companyName:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      currencyCode:
        type:
          - string
          - "null"
      currencyLocale:
        type:
          - string
          - "null"
      currencySymbol:
        type:
          - string
          - "null"
      edition:
        type:
          - string
          - "null"
      employeeCount:
        type:
          - number
          - "null"
      faviconURL:
        type:
          - string
          - "null"
      fax:
        type:
          - string
          - "null"
      id:
        type:
          - number
          - "null"
      isAdminInOrg:
        type:
          - boolean
          - "null"
      isDefault:
        type:
          - boolean
          - "null"
      isPayloadEncryptionEnabled:
        type:
          - boolean
          - "null"
      isSandboxPortal:
        type:
          - boolean
          - "null"
      logoURL:
        type:
          - string
          - "null"
      mobile:
        type:
          - string
          - "null"
      phoneNumber:
        type:
          - string
          - "null"
      portalName:
        type:
          - string
          - "null"
      portalURL:
        type:
          - string
          - "null"
      primaryContact:
        type:
          - string
          - "null"
      state:
        type:
          - string
          - "null"
      street:
        type:
          - string
          - "null"
      website:
        type:
          - string
          - "null"
      zip:
        type:
          - string
          - "null"
    additionalProperties: true
  agent:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      aboutInfo:
        type:
          - string
          - "null"
      associatedChatDepartmentIds:
        type:
          - array
          - "null"
      associatedDepartmentIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      cf:
        type:
          - object
          - "null"
      channelExpert:
        type:
          - array
          - "null"
      countryCode:
        type:
          - string
          - "null"
      emailId:
        type:
          - string
          - "null"
      extn:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      isConfirmed:
        type:
          - boolean
          - "null"
      langCode:
        type:
          - string
          - "null"
      lastName:
        type:
          - string
          - "null"
      mobile:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      photoURL:
        type:
          - string
          - "null"
      profileId:
        type:
          - string
          - "null"
      roleId:
        type:
          - string
          - "null"
      rolePermissionType:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      timeZone:
        type:
          - string
          - "null"
      zuid:
        type:
          - string
          - "null"
    additionalProperties: true
  all_agents:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      aboutInfo:
        type:
          - string
          - "null"
      associatedChatDepartmentIds:
        type:
          - array
          - "null"
      associatedDepartmentIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      cf:
        type:
          - object
          - "null"
      channelExpert:
        type:
          - array
          - "null"
      countryCode:
        type:
          - string
          - "null"
      emailId:
        type:
          - string
          - "null"
      extn:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      id:
        type: string
      isConfirmed:
        type:
          - boolean
          - "null"
      langCode:
        type:
          - string
          - "null"
      lastName:
        type:
          - string
          - "null"
      mobile:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      photoURL:
        type:
          - string
          - "null"
      profileId:
        type:
          - string
          - "null"
      roleId:
        type:
          - string
          - "null"
      rolePermissionType:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      timeZone:
        type:
          - string
          - "null"
      zuid:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  agent_details_by_id:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      aboutInfo:
        type:
          - string
          - "null"
      associatedDepartmentIds:
        type:
          - array
          - "null"
      channelExpert:
        type:
          - array
          - "null"
      emailId:
        type:
          - string
          - "null"
      extn:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      id:
        type: string
      isConfirmed:
        type:
          - boolean
          - "null"
      lastName:
        type:
          - string
          - "null"
      mobile:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      photoURL:
        type:
          - string
          - "null"
      profileId:
        type:
          - string
          - "null"
      roleId:
        type:
          - string
          - "null"
      rolePermissionType:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      zuid:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  profiles:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      default:
        type:
          - boolean
          - "null"
      id:
        type: string
      isVisible:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      permissions:
        type:
          - object
          - "null"
        properties:
          CommunityComment:
            type:
              - object
              - "null"
            properties:
              view:
                type:
                  - boolean
                  - "null"
          CommunityTopic:
            type:
              - object
              - "null"
            properties:
              view:
                type:
                  - boolean
                  - "null"
          accounts:
            type:
              - object
              - "null"
            properties:
              create:
                type:
                  - boolean
                  - "null"
              delete:
                type:
                  - boolean
                  - "null"
              edit:
                type:
                  - boolean
                  - "null"
              export:
                type:
                  - boolean
                  - "null"
              import:
                type:
                  - boolean
                  - "null"
              view:
                type:
                  - boolean
                  - "null"
          agents:
            type:
              - object
              - "null"
            properties:
              create:
                type:
                  - boolean
                  - "null"
              delete:
                type:
                  - boolean
                  - "null"
              edit:
                type:
                  - boolean
                  - "null"
              import:
                type:
                  - boolean
                  - "null"
              overview:
                type:
                  - boolean
                  - "null"
              viewAllFields:
                type:
                  - boolean
                  - "null"
          calls:
            type:
              - object
              - "null"
            properties:
              create:
                type:
                  - boolean
                  - "null"
              delete:
                type:
                  - boolean
                  - "null"
              edit:
                type:
                  - boolean
                  - "null"
              export:
                type:
                  - boolean
                  - "null"
              import:
                type:
                  - boolean
                  - "null"
              view:
                type:
                  - boolean
                  - "null"
          chat:
            type:
              - object
              - "null"
            properties:
              view:
                type:
                  - boolean
                  - "null"
          comments:
            type:
              - object
              - "null"
            properties:
              delete:
                type:
                  - boolean
                  - "null"
              edit:
                type:
                  - boolean
                  - "null"
          community:
            type:
              - object
              - "null"
            properties:
              create:
                type:
                  - boolean
                  - "null"
              delete:
                type:
                  - boolean
                  - "null"
              edit:
                type:
                  - boolean
                  - "null"
              moderate:
                type:
                  - boolean
                  - "null"
              view:
                type:
                  - boolean
                  - "null"
          contacts:
            type:
              - object
              - "null"
            properties:
              create:
                type:
                  - boolean
                  - "null"
              delete:
                type:
                  - boolean
                  - "null"
              edit:
                type:
                  - boolean
                  - "null"
              export:
                type:
                  - boolean
                  - "null"
              import:
                type:
                  - boolean
                  - "null"
              view:
                type:
                  - boolean
                  - "null"
          contracts:
            type:
              - object
              - "null"
            properties:
              create:
                type:
                  - boolean
                  - "null"
              delete:
                type:
                  - boolean
                  - "null"
              edit:
                type:
                  - boolean
                  - "null"
              export:
                type:
                  - boolean
                  - "null"
              import:
                type:
                  - boolean
                  - "null"
              view:
                type:
                  - boolean
                  - "null"
          crmInteg:
            type:
              - object
              - "null"
            properties:
              crmAccountsActivityCalls:
                type:
                  - boolean
                  - "null"
              crmAccountsActivityEvents:
                type:
                  - boolean
                  - "null"
              crmAccountsActivityTasks:
                type:
                  - boolean
                  - "null"
              crmAccountsInfo:
                type:
                  - boolean
                  - "null"
              crmAccountsNotes:
                type:
                  - boolean
                  - "null"
              crmAccountsPotentials:
                type:
                  - boolean
                  - "null"
              crmContactsActivityCalls:
                type:
                  - boolean
                  - "null"
              crmContactsActivityEvents:
                type:
                  - boolean
                  - "null"
              crmContactsActivityTasks:
                type:
                  - boolean
                  - "null"
              crmContactsInfo:
                type:
                  - boolean
                  - "null"
              crmContactsNotes:
                type:
                  - boolean
                  - "null"
              crmContactsPotentials:
                type:
                  - boolean
                  - "null"
          events:
            type:
              - object
              - "null"
            properties:
              create:
                type:
                  - boolean
                  - "null"
              delete:
                type:
                  - boolean
                  - "null"
              edit:
                type:
                  - boolean
                  - "null"
              export:
                type:
                  - boolean
                  - "null"
              import:
                type:
                  - boolean
                  - "null"
              view:
                type:
                  - boolean
                  - "null"
          financeInteg:
            type:
              - object
              - "null"
            properties:
              createContact:
                type:
                  - boolean
                  - "null"
              createEstimate:
                type:
                  - boolean
                  - "null"
              createInvoice:
                type:
                  - boolean
                  - "null"
              createSalesOrder:
                type:
                  - boolean
                  - "null"
              sendEstimate:
                type:
                  - boolean
                  - "null"
              sendInvoice:
                type:
                  - boolean
                  - "null"
              sendSalesOrder:
                type:
                  - boolean
                  - "null"
              viewEstimate:
                type:
                  - boolean
                  - "null"
              viewInvoice:
                type:
                  - boolean
                  - "null"
              viewSalesOrder:
                type:
                  - boolean
                  - "null"
              viewSubscription:
                type:
                  - boolean
                  - "null"
          gc:
            type:
              - object
              - "null"
            properties:
              create:
                type:
                  - boolean
                  - "null"
              delete:
                type:
                  - boolean
                  - "null"
              edit:
                type:
                  - boolean
                  - "null"
              view:
                type:
                  - boolean
                  - "null"
          im:
            type:
              - object
              - "null"
            properties:
              create:
                type:
                  - boolean
                  - "null"
              delete:
                type:
                  - boolean
                  - "null"
              edit:
                type:
                  - boolean
                  - "null"
              view:
                type:
                  - boolean
                  - "null"
          kbCategory:
            type:
              - object
              - "null"
            properties:
              admin:
                type:
                  - boolean
                  - "null"
              create:
                type:
                  - boolean
                  - "null"
              delete:
                type:
                  - boolean
                  - "null"
              edit:
                type:
                  - boolean
                  - "null"
              editAllArticles:
                type:
                  - boolean
                  - "null"
              export:
                type:
                  - boolean
                  - "null"
              import:
                type:
                  - boolean
                  - "null"
              manageKB:
                type:
                  - boolean
                  - "null"
              view:
                type:
                  - boolean
                  - "null"
          mobileapp:
            type:
              - object
              - "null"
            properties:
              deskapp:
                type:
                  - boolean
                  - "null"
              radar:
                type:
                  - boolean
                  - "null"
          products:
            type:
              - object
              - "null"
            properties:
              create:
                type:
                  - boolean
                  - "null"
              delete:
                type:
                  - boolean
                  - "null"
              edit:
                type:
                  - boolean
                  - "null"
              export:
                type:
                  - boolean
                  - "null"
              import:
                type:
                  - boolean
                  - "null"
              view:
                type:
                  - boolean
                  - "null"
          reports:
            type:
              - object
              - "null"
            properties:
              create:
                type:
                  - boolean
                  - "null"
              delete:
                type:
                  - boolean
                  - "null"
              edit:
                type:
                  - boolean
                  - "null"
              export:
                type:
                  - boolean
                  - "null"
              view:
                type:
                  - boolean
                  - "null"
          setup:
            type:
              - object
              - "null"
            properties:
              automation:
                type:
                  - boolean
                  - "null"
              buttons:
                type:
                  - boolean
                  - "null"
              chat:
                type:
                  - boolean
                  - "null"
              community:
                type:
                  - boolean
                  - "null"
              customerHappiness:
                type:
                  - boolean
                  - "null"
              department:
                type:
                  - boolean
                  - "null"
              email:
                type:
                  - boolean
                  - "null"
              exportPortalUsers:
                type:
                  - boolean
                  - "null"
              exportUsers:
                type:
                  - boolean
                  - "null"
              featureConfig:
                type:
                  - boolean
                  - "null"
              gamification:
                type:
                  - boolean
                  - "null"
              googleAnalytics:
                type:
                  - boolean
                  - "null"
              im:
                type:
                  - boolean
                  - "null"
              importHistory:
                type:
                  - boolean
                  - "null"
              layouts:
                type:
                  - boolean
                  - "null"
              localization:
                type:
                  - boolean
                  - "null"
              manageAgents:
                type:
                  - boolean
                  - "null"
              manageMarketplace:
                type:
                  - boolean
                  - "null"
              managerDashboard:
                type:
                  - boolean
                  - "null"
              massReply:
                type:
                  - boolean
                  - "null"
              permission:
                type:
                  - boolean
                  - "null"
              pinnedConversations:
                type:
                  - boolean
                  - "null"
              portal:
                type:
                  - boolean
                  - "null"
              portalUsers:
                type:
                  - boolean
                  - "null"
              privacySettings:
                type:
                  - boolean
                  - "null"
              rebranding:
                type:
                  - boolean
                  - "null"
              recycleBin:
                type:
                  - boolean
                  - "null"
              sandbox:
                type:
                  - boolean
                  - "null"
              shareSnippet:
                type:
                  - boolean
                  - "null"
              signUpApproval:
                type:
                  - boolean
                  - "null"
              social:
                type:
                  - boolean
                  - "null"
              tabsAndFields:
                type:
                  - boolean
                  - "null"
              teams:
                type:
                  - boolean
                  - "null"
              telephony:
                type:
                  - boolean
                  - "null"
              templates:
                type:
                  - boolean
                  - "null"
              timeTracking:
                type:
                  - boolean
                  - "null"
              webForm:
                type:
                  - boolean
                  - "null"
              webhooks:
                type:
                  - boolean
                  - "null"
          social:
            type:
              - object
              - "null"
            properties:
              twitterConversationReply:
                type:
                  - boolean
                  - "null"
              twitterPostCreate:
                type:
                  - boolean
                  - "null"
              twitterPostDelete:
                type:
                  - boolean
                  - "null"
              view:
                type:
                  - boolean
                  - "null"
          tasks:
            type:
              - object
              - "null"
            properties:
              create:
                type:
                  - boolean
                  - "null"
              delete:
                type:
                  - boolean
                  - "null"
              edit:
                type:
                  - boolean
                  - "null"
              export:
                type:
                  - boolean
                  - "null"
              import:
                type:
                  - boolean
                  - "null"
              view:
                type:
                  - boolean
                  - "null"
          tickets:
            type:
              - object
              - "null"
            properties:
              addFollowers:
                type:
                  - boolean
                  - "null"
              changeOwner:
                type:
                  - boolean
                  - "null"
              closeTicket:
                type:
                  - boolean
                  - "null"
              create:
                type:
                  - boolean
                  - "null"
              delete:
                type:
                  - boolean
                  - "null"
              deleteTags:
                type:
                  - boolean
                  - "null"
              edit:
                type:
                  - boolean
                  - "null"
              editTags:
                type:
                  - boolean
                  - "null"
              export:
                type:
                  - boolean
                  - "null"
              handleUnassigned:
                type:
                  - boolean
                  - "null"
              import:
                type:
                  - boolean
                  - "null"
              mailReview:
                type:
                  - boolean
                  - "null"
              mailSend:
                type:
                  - boolean
                  - "null"
              mergeTickets:
                type:
                  - boolean
                  - "null"
              revokeBlueprint:
                type:
                  - boolean
                  - "null"
              unassignedChangeOwner:
                type:
                  - boolean
                  - "null"
              view:
                type:
                  - boolean
                  - "null"
          timeEntry:
            type:
              - object
              - "null"
            properties:
              create:
                type:
                  - boolean
                  - "null"
              delete:
                type:
                  - boolean
                  - "null"
              edit:
                type:
                  - boolean
                  - "null"
              view:
                type:
                  - boolean
                  - "null"
          zia:
            type:
              - object
              - "null"
            properties:
              create:
                type:
                  - boolean
                  - "null"
              delete:
                type:
                  - boolean
                  - "null"
              edit:
                type:
                  - boolean
                  - "null"
              view:
                type:
                  - boolean
                  - "null"
    required:
      - id
    additionalProperties: true
  roles:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      description:
        type:
          - string
          - "null"
      id:
        type: string
      immediateSubRoles:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      isDefault:
        type:
          - boolean
          - "null"
      isVisible:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      reportsTo:
        type:
          - string
          - "null"
      shareDataWithPeers:
        type:
          - boolean
          - "null"
    required:
      - id
    additionalProperties: true
  teams:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      description:
        type:
          - string
          - "null"
      agents:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      departmentId:
        type:
          - string
          - "null"
      derivedAgents:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      roles:
        type:
          - array
          - "null"
      rolesWithSubordinates:
        type:
          - array
          - "null"
      subTeams:
        type:
          - array
          - "null"
    required:
      - id
    additionalProperties: true
  team_members:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      emailId:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      id:
        type: string
      lastName:
        type:
          - string
          - "null"
      photoURL:
        type:
          - string
          - "null"
      profileId:
        type:
          - string
          - "null"
      roleId:
        type:
          - string
          - "null"
      zuid:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  departments:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            chatStatus:
              type:
                - string
                - "null"
            createdTime:
              type:
                - string
                - "null"
            creatorId:
              type:
                - string
                - "null"
            hasLogo:
              type:
                - boolean
                - "null"
            id:
              type:
                - string
                - "null"
            isAssignToTeamEnabled:
              type:
                - boolean
                - "null"
            isDefault:
              type:
                - boolean
                - "null"
            isEnabled:
              type:
                - boolean
                - "null"
            isVisibleInCustomerPortal:
              type:
                - boolean
                - "null"
            name:
              type:
                - string
                - "null"
            nameInCustomerPortal:
              type:
                - string
                - "null"
            sanitizedName:
              type:
                - string
                - "null"
    additionalProperties: true
  channels:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      type:
        type:
          - string
          - "null"
      acceptsReplies:
        type:
          - boolean
          - "null"
      code:
        type: string
      name:
        type:
          - string
          - "null"
      replyConfig:
        type:
          - object
          - "null"
        properties:
          acceptsAttachments:
            type:
              - boolean
              - "null"
          contentTypes:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          includeQuotedMessage:
            type:
              - boolean
              - "null"
          updateRecords:
            type:
              - boolean
              - "null"
    required:
      - code
    additionalProperties: true
  tickets:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      assigneeId:
        type:
          - string
          - "null"
      channel:
        type:
          - string
          - "null"
      commentCount:
        type:
          - string
          - "null"
      contactId:
        type:
          - string
          - "null"
      createdTime:
        type:
          - string
          - "null"
      customerResponseTime:
        type:
          - string
          - "null"
      departmentId:
        type:
          - string
          - "null"
      dueDate:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      id:
        type: string
      isArchived:
        type:
          - boolean
          - "null"
      isSpam:
        type:
          - boolean
          - "null"
      language:
        type:
          - string
          - "null"
      lastThread:
        type:
          - object
          - "null"
        properties:
          channel:
            type:
              - string
              - "null"
          direction:
            type:
              - string
              - "null"
          isDraft:
            type:
              - boolean
              - "null"
          isForward:
            type:
              - boolean
              - "null"
      layoutId:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      productId:
        type:
          - string
          - "null"
      source:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
      status:
        type:
          - string
          - "null"
      statusType:
        type:
          - string
          - "null"
      subject:
        type:
          - string
          - "null"
      threadCount:
        type:
          - string
          - "null"
      ticketNumber:
        type:
          - string
          - "null"
      webUrl:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  all_threads:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      actions:
        type:
          - array
          - "null"
      attachmentCount:
        type:
          - string
          - "null"
      author:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          photoURL:
            type:
              - string
              - "null"
      bcc:
        type:
          - string
          - "null"
      canReply:
        type:
          - boolean
          - "null"
      cc:
        type:
          - string
          - "null"
      channel:
        type:
          - string
          - "null"
      contentType:
        type:
          - string
          - "null"
      createdTime:
        type:
          - string
          - "null"
      direction:
        type:
          - string
          - "null"
      fromEmailAddress:
        type:
          - string
          - "null"
      hasAttach:
        type:
          - boolean
          - "null"
      id:
        type: string
      isDescriptionThread:
        type:
          - boolean
          - "null"
      isForward:
        type:
          - boolean
          - "null"
      respondedIn:
        type:
          - string
          - "null"
      responderId:
        type:
          - string
          - "null"
      source:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
      status:
        type:
          - string
          - "null"
      summary:
        type:
          - string
          - "null"
      to:
        type:
          - string
          - "null"
      visibility:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  get_latest_thread:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      actions:
        type:
          - array
          - "null"
      attachmentCount:
        type:
          - string
          - "null"
      attachments:
        type:
          - array
          - "null"
      author:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          photoURL:
            type:
              - string
              - "null"
      bcc:
        type:
          - string
          - "null"
      canReply:
        type:
          - boolean
          - "null"
      cc:
        type:
          - string
          - "null"
      channel:
        type:
          - string
          - "null"
      content:
        type:
          - string
          - "null"
      contentType:
        type:
          - string
          - "null"
      createdTime:
        type:
          - string
          - "null"
      direction:
        type:
          - string
          - "null"
      fromEmailAddress:
        type:
          - string
          - "null"
      hasAttach:
        type:
          - boolean
          - "null"
      id:
        type: string
      isContentTruncated:
        type:
          - boolean
          - "null"
      isDescriptionThread:
        type:
          - boolean
          - "null"
      isForward:
        type:
          - boolean
          - "null"
      replyTo:
        type:
          - string
          - "null"
      responderId:
        type:
          - string
          - "null"
      source:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
      status:
        type:
          - string
          - "null"
      summary:
        type:
          - string
          - "null"
      to:
        type:
          - string
          - "null"
      visibility:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  list_contacts:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      accountCount:
        type:
          - string
          - "null"
      accountId:
        type:
          - string
          - "null"
      createdTime:
        type:
          - string
          - "null"
      customerHappiness:
        type:
          - object
          - "null"
        properties:
          badPercentage:
            type:
              - string
              - "null"
          goodPercentage:
            type:
              - string
              - "null"
          okPercentage:
            type:
              - string
              - "null"
      email:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      id:
        type: string
      isAnonymous:
        type:
          - boolean
          - "null"
      isEndUser:
        type:
          - boolean
          - "null"
      isSpam:
        type:
          - boolean
          - "null"
      lastName:
        type:
          - string
          - "null"
      mobile:
        type:
          - string
          - "null"
      ownerId:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      webUrl:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  webhooks:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      createdBy:
        type:
          - string
          - "null"
      createdTime:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      ignoreSourceId:
        type:
          - string
          - "null"
      isEnabled:
        type:
          - boolean
          - "null"
      modifiedTime:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      subscriptions:
        type:
          - object
          - "null"
        properties: {}
      url:
        type:
          - string
          - "null"
    additionalProperties: true
  accounts:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      accountName:
        type:
          - string
          - "null"
      createdTime:
        type:
          - string
          - "null"
      customerHappiness:
        type:
          - object
          - "null"
        properties:
          badPercentage:
            type:
              - string
              - "null"
          goodPercentage:
            type:
              - string
              - "null"
          okPercentage:
            type:
              - string
              - "null"
      email:
        type:
          - string
          - "null"
      id:
        type: string
      phone:
        type:
          - string
          - "null"
      webUrl:
        type:
          - string
          - "null"
      website:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  contracts:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      accountId:
        type:
          - string
          - "null"
      associatedSLAId:
        type:
          - string
          - "null"
      contractName:
        type:
          - string
          - "null"
      contractStatus:
        type:
          - string
          - "null"
      departmentId:
        type:
          - string
          - "null"
      id:
        type: string
      slaName:
        type:
          - string
          - "null"
      startDate:
        type:
          - string
          - "null"
      supportPlan:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          supportType:
            type:
              - string
              - "null"
    required:
      - id
    additionalProperties: true
  tasks:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      activityTime:
        type:
          - string
          - "null"
      contactId:
        type:
          - string
          - "null"
      createdTime:
        type:
          - string
          - "null"
      creatorId:
        type:
          - string
          - "null"
      departmentId:
        type:
          - string
          - "null"
      dueDate:
        type:
          - string
          - "null"
      id:
        type: string
      isCommented:
        type:
          - boolean
          - "null"
      isSpam:
        type:
          - boolean
          - "null"
      isTrashed:
        type:
          - boolean
          - "null"
      layoutId:
        type:
          - string
          - "null"
      modifiedBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          photoURL:
            type:
              - string
              - "null"
      modifiedTime:
        type:
          - string
          - "null"
      ownerId:
        type:
          - string
          - "null"
      priority:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      statusType:
        type:
          - string
          - "null"
      subject:
        type:
          - string
          - "null"
      ticketId:
        type:
          - string
          - "null"
      webUrl:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  products:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      id:
        type: string
      productCode:
        type:
          - string
          - "null"
      productName:
        type:
          - string
          - "null"
      unitPrice:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  articles:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      attachmentCount:
        type:
          - string
          - "null"
      author:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          photoURL:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          zuid:
            type:
              - string
              - "null"
      authorId:
        type:
          - string
          - "null"
      availableLocaleTranslations:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            authorId:
              type:
                - string
                - "null"
            href:
              type:
                - string
                - "null"
            isLocked:
              type:
                - boolean
                - "null"
            isTrashed:
              type:
                - boolean
                - "null"
            latestPublishedVersion:
              type:
                - string
                - "null"
            latestVersion:
              type:
                - string
                - "null"
            latestVersionStatus:
              type:
                - string
                - "null"
            locale:
              type:
                - string
                - "null"
            status:
              type:
                - string
                - "null"
            translationId:
              type:
                - string
                - "null"
            translationState:
              type:
                - string
                - "null"
      category:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          locale:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      categoryId:
        type:
          - string
          - "null"
      commentCount:
        type:
          - string
          - "null"
      createdBy:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          photoURL:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          zuid:
            type:
              - string
              - "null"
      createdTime:
        type:
          - string
          - "null"
      creatorId:
        type:
          - string
          - "null"
      departmentId:
        type:
          - string
          - "null"
      dislikeCount:
        type:
          - string
          - "null"
      feedbackCount:
        type:
          - string
          - "null"
      id:
        type: string
      isLocked:
        type:
          - boolean
          - "null"
      isTrashed:
        type:
          - boolean
          - "null"
      latestPublishedVersion:
        type:
          - string
          - "null"
      latestVersion:
        type:
          - string
          - "null"
      latestVersionModifiedBy:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          photoURL:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          zuid:
            type:
              - string
              - "null"
      latestVersionModifierId:
        type:
          - string
          - "null"
      latestVersionStatus:
        type:
          - string
          - "null"
      likeCount:
        type:
          - string
          - "null"
      locale:
        type:
          - string
          - "null"
      modifiedBy:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          photoURL:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          zuid:
            type:
              - string
              - "null"
      modifiedTime:
        type:
          - string
          - "null"
      modifierId:
        type:
          - string
          - "null"
      owner:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          photoURL:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          zuid:
            type:
              - string
              - "null"
      ownerId:
        type:
          - string
          - "null"
      permalink:
        type:
          - string
          - "null"
      permission:
        type:
          - string
          - "null"
      portalUrl:
        type:
          - string
          - "null"
      position:
        type:
          - string
          - "null"
      rootCategoryId:
        type:
          - string
          - "null"
      sourceLocale:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      summary:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      translationId:
        type:
          - string
          - "null"
      translationState:
        type:
          - string
          - "null"
      usageCount:
        type:
          - string
          - "null"
      viewCount:
        type:
          - string
          - "null"
      webUrl:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  events:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      activityTime:
        type:
          - string
          - "null"
      category:
        type:
          - string
          - "null"
      contactId:
        type:
          - string
          - "null"
      createdTime:
        type:
          - string
          - "null"
      creatorId:
        type:
          - string
          - "null"
      departmentId:
        type:
          - string
          - "null"
      id:
        type: string
      isCommented:
        type:
          - boolean
          - "null"
      isSpam:
        type:
          - boolean
          - "null"
      isTrashed:
        type:
          - boolean
          - "null"
      layoutId:
        type:
          - string
          - "null"
      modifiedBy:
        type:
          - object
          - "null"
        properties:
          emailId:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          photoURL:
            type:
              - string
              - "null"
      modifiedTime:
        type:
          - string
          - "null"
[...]
