version: 5.12.0

type: DeclarativeSource

description: >-
  Microsoft Lists Gen2 connector enables seamless data integration and
  synchronization between Microsoft Lists and other destinations. This Gen2 version
  uses dynamic streams to create individual streams for each list, with each stream
  returning the list items for its respective list. The connector leverages 
  Microsoft Graph API to retrieve list items efficiently, ensuring smooth workflows 
  and real-time data accessibility.

check:
  type: CheckStream
  stream_names:
    - lists

streams:
  - type: DeclarativeStream
    name: lists
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://graph.microsoft.com/v1.0
        path: /sites/{{ config['site_id'] }}/lists
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config[\"client_id\"] }}"
          grant_type: client_credentials
          client_secret: "{{ config[\"client_secret\"] }}"
          refresh_request_body:
            scope: "{{ config['application_id_uri'] }}"
          token_refresh_endpoint: >-
            https://login.microsoftonline.com/{{ config['tenant_id']
            }}/oauth2/v2.0/token
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('@odata.nextLink') }}"
          stop_condition: "{{ response.get('@odata.nextLink') is not defined }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/lists"

dynamic_streams:
  - type: DynamicDeclarativeStream
    stream_template:
      type: DeclarativeStream
      name: "{{ parameters['list_name'] }}"
      $parameters:
        list_id: ""
        list_name: ""
        list_display_name: ""
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://graph.microsoft.com/v1.0
          path: /sites/{{ config['site_id'] }}/lists/{{ parameters['list_id'] }}/items
          http_method: GET
          request_parameters:
            expand: fields
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config[\"client_id\"] }}"
            grant_type: client_credentials
            client_secret: "{{ config[\"client_secret\"] }}"
            refresh_request_body:
              scope: "{{ config['application_id_uri'] }}"
            token_refresh_endpoint: >-
              https://login.microsoftonline.com/{{ config['tenant_id']
              }}/oauth2/v2.0/token
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - value
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('@odata.nextLink') }}"
            stop_condition: "{{ response.get('@odata.nextLink') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/list_items"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - list_info
              value: >-
                {{ { "list_id": parameters['list_id'], "list_name": parameters['list_name'], "list_display_name": parameters['list_display_name'] } }}
    components_resolver:
      type: HttpComponentsResolver
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://graph.microsoft.com/v1.0
          path: /sites/{{ config['site_id'] }}/lists
          http_method: GET
          authenticator:
            type: OAuthAuthenticator
            client_id: "{{ config[\"client_id\"] }}"
            grant_type: client_credentials
            client_secret: "{{ config[\"client_secret\"] }}"
            refresh_request_body:
              scope: "{{ config['application_id_uri'] }}"
            token_refresh_endpoint: >-
              https://login.microsoftonline.com/{{ config['tenant_id']
              }}/oauth2/v2.0/token
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - value
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('@odata.nextLink') }}"
            stop_condition: "{{ response.get('@odata.nextLink') is not defined }}"
      components_mapping:
        - type: ComponentMappingDefinition
          field_path: ["name"]
          value: "list_items_{{ components_values.name | default(components_values.displayName) | lower | replace(' ', '_') | replace('-', '_') }}"
        - type: ComponentMappingDefinition
          field_path: ["$parameters", "list_id"]
          value: "{{ components_values.id }}"
        - type: ComponentMappingDefinition
          field_path: ["$parameters", "list_name"]
          value: "{{ components_values.name | default(components_values.displayName) | lower | replace(' ', '_') | replace('-', '_') }}"
        - type: ComponentMappingDefinition
          field_path: ["$parameters", "list_display_name"]
          value: "{{ components_values.displayName | default(components_values.name) }}"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - site_id
      - client_id
      - client_secret
      - application_id_uri
      - tenant_id
      - domain
    properties:
      site_id:
        type: string
        order: 0
        title: Site Id
      client_id:
        type: string
        order: 1
        title: Client ID
        airbyte_secret: true
      client_secret:
        type: string
        order: 2
        title: Client secret
        airbyte_secret: true
      application_id_uri:
        type: string
        order: 3
        title: Application Id URI
        default: "https://graph.microsoft.com/.default"
      tenant_id:
        type: string
        order: 4
        title: Tenant Id
        airbyte_secret: true
      domain:
        type: string
        order: 5
        title: Domain
        airbyte_secret: true
    additionalProperties: true

schemas:
  lists:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      "@odata.etag":
        type:
          - string
          - "null"
      createdBy:
        type:
          - object
          - "null"
        properties:
          user:
            type:
              - object
              - "null"
            properties:
              displayName:
                type:
                  - string
                  - "null"
              email:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
      createdDateTime:
        type:
          - string
          - "null"
      displayName:
        type:
          - string
          - "null"
      eTag:
        type:
          - string
          - "null"
      id:
        type: string
      lastModifiedBy:
        type:
          - object
          - "null"
        properties:
          user:
            type:
              - object
              - "null"
            properties:
              displayName:
                type:
                  - string
                  - "null"
              email:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
      lastModifiedDateTime:
        type:
          - string
          - "null"
      list:
        type:
          - object
          - "null"
        properties:
          contentTypesEnabled:
            type:
              - boolean
              - "null"
          hidden:
            type:
              - boolean
              - "null"
          template:
            type:
              - string
              - "null"
      name:
        type:
          - string
          - "null"
      parentReference:
        type:
          - object
          - "null"
        properties:
          siteId:
            type:
              - string
              - "null"
      webUrl:
        type:
          - string
          - "null"
    required:
      - id
  list_items:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      "@odata.context":
        type:
          - string
          - "null"
      "@odata.etag":
        type:
          - string
          - "null"
      contentType:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      createdBy:
        type:
          - object
          - "null"
        properties:
          user:
            type:
              - object
              - "null"
            properties:
              displayName:
                type:
                  - string
                  - "null"
              email:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
      createdDateTime:
        type:
          - string
          - "null"
      eTag:
        type:
          - string
          - "null"
      fields:
        type:
          - object
          - "null"
        additionalProperties: true
      fields@odata.context:
        type:
          - string
          - "null"
      id:
        type: string
      lastModifiedBy:
        type:
          - object
          - "null"
        properties:
          user:
            type:
              - object
              - "null"
            properties:
              displayName:
                type:
                  - string
                  - "null"
              email:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
      lastModifiedDateTime:
        type:
          - string
          - "null"
      parentReference:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          siteId:
            type:
              - string
              - "null"
      webUrl:
        type:
          - string
          - "null"
      list_info:
        type:
          - object
          - "null"
        properties:
          list_id:
            type:
              - string
              - "null"
          list_name:
            type:
              - string
              - "null"
          list_display_name:
            type:
              - string
              - "null"
    required:
      - id
