@use "../../../../scss/colors";
@use "../../../../scss/variables" as vars;

.container {
  padding: vars.$spacing-md vars.$spacing-lg;
  background: colors.$yellow-100;
  border-radius: vars.$border-radius-md;
  white-space: break-spaces;
  margin-top: vars.$spacing-lg;
}

.link {
  color: var(--color-dark-blue-900);

  &:hover,
  &:focus {
    color: var(--color-blue-400);
  }
}
