version: 5.15.0

type: DeclarativeSource

description: >-
  Fetches data on users, expenses, transactions, vendors, and budgets from Brex
  API.

check:
  type: CheckStream
  stream_names:
    - transactions

definitions:
  streams:
    transactions:
      type: DeclarativeStream
      name: transactions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/transactions/card/primary
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next_cursor') }}"
            stop_condition: "{{ response.get('next_cursor') is none }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: posted_at_date
        lookback_window: P1D
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: posted_at_start
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/transactions"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next_cursor') }}"
            stop_condition: "{{ response.get('next_cursor') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    departments:
      type: DeclarativeStream
      name: departments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/departments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next_cursor') }}"
            stop_condition: "{{ response.get('next_cursor') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/departments"
    vendors:
      type: DeclarativeStream
      name: vendors
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/vendors
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next_cursor') }}"
            stop_condition: "{{ response.get('next_cursor') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/vendors"
    expenses:
      type: DeclarativeStream
      name: expenses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/expenses/card
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next_cursor') }}"
            stop_condition: "{{ response.get('next_cursor') is none }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: purchased_at
        lookback_window: P1M
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: purchased_at_start
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: purchased_at_end
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/expenses"
    budgets:
      type: DeclarativeStream
      name: budgets
      primary_key:
        - budget_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/budgets
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next_cursor') }}"
            stop_condition: "{{ response.get('next_cursor') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/budgets"
  base_requester:
    type: HttpRequester
    url_base: https://platform.brexapis.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"user_token\"] }}"

streams:
  - $ref: "#/definitions/streams/transactions"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/departments"
  - $ref: "#/definitions/streams/vendors"
  - $ref: "#/definitions/streams/expenses"
  - $ref: "#/definitions/streams/budgets"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - user_token
      - start_date
    properties:
      user_token:
        type: string
        description: >-
          User token to authenticate API requests. Generate it from your Brex
          dashboard under Developer > Settings.
        name: user_token
        title: User Token
        airbyte_secret: true
        order: 0
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    transactions: true
    users: false
    departments: false
    vendors: false
    expenses: false
    budgets: false
  testedStreams:
    transactions:
      streamHash: 9095688de0c91a5eafb2969f27859182d0eb1329
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: 22fb9114f7bec24f5b753c0eed981138105cd5e6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    departments:
      streamHash: 3a7de8adfde28e720a9f9254c63103d34bfc3966
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    vendors:
      streamHash: 678154fbac1bda4601d2a9ce17e8e4283df96e22
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    expenses:
      streamHash: 83d3aa00696a8b74df332824a39fbcf75bdebd7d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    budgets:
      streamHash: 9bfb438f0d1d68b61814339b4153e4904088baaa
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://developer.brex.com/openapi/transactions_api/

schemas:
  transactions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      amount:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - number
              - "null"
          currency:
            type:
              - string
              - "null"
      card_id:
        type:
          - string
          - "null"
      id:
        type: string
      initiated_at_date:
        type:
          - string
          - "null"
      merchant:
        type:
          - object
          - "null"
        properties:
          country:
            type:
              - string
              - "null"
          mcc:
            type:
              - string
              - "null"
          raw_descriptor:
            type:
              - string
              - "null"
      posted_at_date:
        type: string
    required:
      - id
      - posted_at_date
  users:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      first_name:
        type:
          - string
          - "null"
      last_name:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      manager_id:
        type:
          - string
          - "null"
      department_id:
        type:
          - string
          - "null"
      location_id:
        type:
          - string
          - "null"
      title_id:
        type:
          - string
          - "null"
      metadata:
        type:
          - object
          - "null"
        additionalProperties:
          type:
            - string
            - "null"
      remote_display_id:
        type:
          - string
          - "null"
    required:
      - id

  departments:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
    required:
      - id
      - name

  vendors:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      company_name:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      payment_accounts:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
          properties:
            details:
              type:
                - object
                - "null"
              additionalProperties: true
              properties:
                type:
                  type:
                    - string
                    - "null"
                payment_instrument_id:
                  type:
                    - string
                    - "null"
                routing_number:
                  type:
                    - string
                    - "null"
                account_number:
                  type:
                    - string
                    - "null"
                account_type:
                  type:
                    - string
                    - "null"
                account_class:
                  type:
                    - string
                    - "null"
                beneficiary_name:
                  type:
                    - string
                    - "null"
    required:
      - id

  expenses:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      memo:
        type:
          - string
          - "null"
      location_id:
        type:
          - string
          - "null"
      location:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      address:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          country:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
          postal_code:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
              - "null"
          coordinates:
            type:
              - object
              - "null"
            additionalProperties: true
            properties:
              latitude:
                type:
                  - number
                  - "null"
              longitude:
                type:
                  - number
                  - "null"
          line1:
            type:
              - string
              - "null"
          line2:
            type:
              - string
              - "null"
      department_id:
        type:
          - string
          - "null"
      department:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      updated_at:
        type:
          - string
          - "null"
      payment_posted_at:
        type:
          - string
          - "null"
      category:
        type:
          - string
          - "null"
      merchant_id:
        type:
          - string
          - "null"
      merchant:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          raw_descriptor:
            type:
              - string
              - "null"
          mcc:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
      receipts:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - string
                - "null"
            download_uris:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
      budget_id:
        type:
          - string
          - "null"
      budget:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      expense_type:
        type:
          - string
          - "null"
      original_amount:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          amount:
            type:
              - number
              - "null"
          currency:
            type:
              - string
              - "null"
      billing_amount:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          amount:
            type:
              - number
              - "null"
          currency:
            type:
              - string
              - "null"
      budget_amount:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          amount:
            type:
              - number
              - "null"
          currency:
            type:
              - string
              - "null"
      purchased_amount:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          amount:
            type:
              - number
              - "null"
          currency:
            type:
              - string
              - "null"
      usd_equivalent_amount:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          amount:
            type:
              - number
              - "null"
          currency:
            type:
              - string
              - "null"
      purchased_at:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      payment_status:
        type:
          - string
          - "null"
      user_id:
        type:
          - string
          - "null"
      user:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          id:
            type:
              - string
              - "null"
          first_name:
            type:
              - string
              - "null"
          last_name:
            type:
              - string
              - "null"
          department_id:
            type:
              - string
              - "null"
          location_id:
            type:
              - string
              - "null"
      payment:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          id:
            type:
              - string
              - "null"
          paymentInstrument:
            type:
              - object
              - "null"
            additionalProperties: true
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
          statusReason:
            type:
              - string
              - "null"
      custom_fields:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
          properties:
            key:
              type:
                - string
                - "null"
            value:
              type:
                - object
                - "null"
              additionalProperties: true
              properties:
                value_type:
                  type:
                    - string
                    - "null"
                data_type:
                  type:
                    - string
                    - "null"
                data:
                  type:
                    - string
                    - "null"
      trip_id:
        type:
          - string
          - "null"
      spending_entity_id:
        type:
          - string
          - "null"
      spending_entity:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          id:
            type:
              - string
              - "null"
          display_name:
            type:
              - string
              - "null"
          billing_address:
            type:
              - object
              - "null"
            additionalProperties: true
            properties:
              line1:
                type:
                  - string
                  - "null"
              line2:
                type:
                  - string
                  - "null"
              city:
                type:
                  - string
                  - "null"
              state:
                type:
                  - string
                  - "null"
              country:
                type:
                  - string
                  - "null"
              postal_code:
                type:
                  - string
                  - "null"
              phone_number:
                type:
                  - string
                  - "null"
          created_at:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          is_default:
            type:
              - boolean
              - "null"
      billing_entity_id:
        type:
          - string
          - "null"
      exported_at:
        type:
          - string
          - "null"
      integration_spending_entity_id:
        type:
          - string
          - "null"
      integration_billing_entity_id:
        type:
          - string
          - "null"
      review:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          compliance_status:
            type:
              - string
              - "null"
          reviewers:
            type:
              - object
              - "null"
            additionalProperties: true
            properties:
              reviewer:
                type:
                  - array
                  - "null"
                items:
                  type: object
                  additionalProperties: true
                  properties:
                    id:
                      type:
                        - string
                        - "null"
                    first_name:
                      type:
                        - string
                        - "null"
                    last_name:
                      type:
                        - string
                        - "null"
                    department_id:
                      type:
                        - string
                        - "null"
                    location_id:
                      type:
                        - string
                        - "null"
              status:
                type:
                  - string
                  - "null"
          approver:
            type:
              - object
              - "null"
            additionalProperties: true
            properties:
              id:
                type:
                  - string
                  - "null"
              first_name:
                type:
                  - string
                  - "null"
              last_name:
                type:
                  - string
                  - "null"
              department_id:
                type:
                  - string
                  - "null"
              location_id:
                type:
                  - string
                  - "null"
          copilot_approver:
            type:
              - object
              - "null"
            additionalProperties: true
            properties:
              id:
                type:
                  - string
                  - "null"
              first_name:
                type:
                  - string
                  - "null"
              last_name:
                type:
                  - string
                  - "null"
              department_id:
                type:
                  - string
                  - "null"
              location_id:
                type:
                  - string
                  - "null"
          approved_at:
            type:
              - string
              - "null"
      repayment:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          repayment_initiated_by:
            type:
              - object
              - "null"
            additionalProperties: true
            properties:
              id:
                type:
                  - string
                  - "null"
              first_name:
                type:
                  - string
                  - "null"
              last_name:
                type:
                  - string
                  - "null"
              department_id:
                type:
                  - string
                  - "null"
              location_id:
                type:
                  - string
                  - "null"
          repayment_initiation_date:
            type:
              - string
              - "null"
      approved_at:
        type:
          - string
          - "null"
      submitted_at:
        type:
          - string
          - "null"
      completion_date:
        type:
          - string
          - "null"
    required:
      - id
      - purchased_at

  budgets:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      budget_id:
        type: string
      account_id:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      parent_budget_id:
        type:
          - string
          - "null"
      owner_user_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      period_recurrence_type:
        type:
          - string
          - "null"
      start_date:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      amount:
        type:
          - object
          - "null"
        additionalProperties: true
        properties:
          amount:
            type:
              - number
              - "null"
          currency:
            type:
              - string
              - "null"
      spend_budget_status:
        type:
          - string
          - "null"
      limit_type:
        type:
          - string
          - "null"
    required:
      - budget_id
