version: 6.7.0

type: DeclarativeSource

check:
  stream_names: []
  type: CheckStream

dynamic_streams:
  - type: DynamicDeclarativeStream
    stream_template:
      type: DeclarativeStream
      name: ""
      primary_key: []
      retriever:
        type: SimpleRetriever
        partition_router:
          type: CustomPartitionRouter
          $parameters:
            row_count: 0
            batch_size: 0
          class_name: source_google_sheets.components.RangePartitionRouter
          description: Partition router that generates ranges for batch fetching.
        paginator:
          type: NoPagination
        record_selector:
          extractor:
            type: CustomRecordExtractor
            class_name: source_google_sheets.components.FieldMatchingExtractor
            description: Extract record list of values (rows) and matches such values to correct schema property to generate individual records.
            field_path:
              - valueRanges
              - "*"
            $parameters:
              values_to_match_key: "values"
              properties_to_match: ""
          type: RecordSelector
          $parameters:
            name: ""
        requester:
          $ref: "#/definitions/base_requester"
          $parameters:
            sheet_id: ""
            name: ""
          http_method: GET
          path: '{% if config["spreadsheet_id"] | regex_search("^(https://.*)") %}{{ config["spreadsheet_id"] | regex_search("/([-\\w]{20,})([/]?)") }}{% else %}{{ config["spreadsheet_id"] }}{% endif %}/values:batchGet?ranges={{parameters["sheet_id"]}}!{{stream_partition.start_range}}:{{stream_partition.end_range}}&majorDimension=ROWS&alt=json'
      schema_loader:
        type: DynamicSchemaLoader
        retriever:
          type: SimpleRetriever
          paginator:
            type: NoPagination
          record_selector:
            extractor:
              field_path:
                - sheets
                - "*"
                - data
                - "*"
                - rowData
                - "*"
              type: DpathExtractor
            type: RecordSelector
          requester:
            $ref: "#/definitions/base_requester"
            $parameters:
              sheet_id: ""
            http_method: GET
            path: '{% if config["spreadsheet_id"] | regex_search("^(https://.*)") %}{{ config["spreadsheet_id"] | regex_search("/([-\\w]{20,})([/]?)") }}{% else %}{{ config["spreadsheet_id"] }}{% endif %}?includeGridData=true&ranges={{parameters["sheet_id"]}}!1:1&alt=json'
        schema_type_identifier:
          key_pointer:
            - formattedValue
          schema_pointer:
            - values
    components_resolver:
      type: HttpComponentsResolver
      description: We use spreadsheet information (sheets) to create streams.
      retriever:
        type: SimpleRetriever
        paginator:
          type: NoPagination
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - sheets
          transformations:
            - type: AddFields
              fields:
                - path:
                    - properties
                    - values
                  value: "{{ record['data'][0]['rowData'][0]['values'] }}"
            - type: RemoveFields
              field_pointers:
                - - data
            - type: RemoveFields
              field_pointers:
                - - properties
                  - values
                  - "*"
                  - effectiveFormat
            - type: RemoveFields
              field_pointers:
                - - properties
                  - values
                  - "*"
                  - userEnteredValue
            - type: RemoveFields
              field_pointers:
                - - properties
                  - values
                  - "*"
                  - effectiveValue
            - type: CustomTransformation
              parameters:
                key_to_extract: formattedValue
              fields:
                - path:
                    - properties
                    - indexed_properties_to_match
                  value: "{{ record['properties']['values'] }}"
              class_name: source_google_sheets.components.AddIndexedPropertiesFromList
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: title
              partition_field: sheet_id
              stream:
                $ref: "#/definitions/streams/sheets"
        requester:
          $ref: "#/definitions/base_requester"
          description: spreadsheet_id can be either the full url to spreadsheet or the spreadsheet id.
          http_method: GET
          path: >-
            {% if config["spreadsheet_id"] | regex_search("^(https://.*)") %}{{ config["spreadsheet_id"] | regex_search("/([-\\w]{20,})([/]?)") }}{% else %}{{ config["spreadsheet_id"] }}{% endif %}?includeGridData=true&ranges={{stream_partition.sheet_id}}!1:1&alt=json
      components_mapping:
        - field_path:
            - name
          type: ComponentMappingDefinition
          value: "{{components_values['properties']['title']}}"
          description: name for dynamic stream.
        - field_path:
            - schema_loader
            - retriever
            - requester
            - $parameters
            - sheet_id
          type: ComponentMappingDefinition
          value: "{{components_values['properties']['title']}}"
          description: sheet_id for dynamic schema loader requester.
        - field_path:
            - retriever
            - requester
            - $parameters
            - sheet_id
          type: ComponentMappingDefinition
          value: "{{components_values['properties']['title']}}"
          description: sheet_id for dynamic stream retriever requester.
        - field_path:
            - retriever
            - record_selector
            - extractor
            - $parameters
            - properties_to_match
          type: ComponentMappingDefinition
          value: "{{components_values['properties']['indexed_properties_to_match']}}"
          description: indexed_schema to match with row values.
        - field_path:
            - retriever
            - partition_router
            - $parameters
            - row_count
          type: ComponentMappingDefinition
          value: "{{components_values['properties']['gridProperties']['rowCount']}}"
          description: rows count for dynamic stream partition router (slicer).
        - field_path:
            - retriever
            - partition_router
            - $parameters
            - batch_size
          type: ComponentMappingDefinition
          value: "{{config['batch_size']}}"
          description: batch size count for dynamic stream partition router (slicer).

definitions:
  streams:
    sheets:
      type: DeclarativeStream
      name: sheets
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {% if config["spreadsheet_id"] | regex_search("^(https://.*)") %}{{ config["spreadsheet_id"] | regex_search("/([-\\w]{20,})([/]?)") }}{% else %}{{ config["spreadsheet_id"] }}{% endif %}?includeGridData=false&alt=json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - sheets
              - "*"
              - properties
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sheets"
  base_requester:
    type: HttpRequester
    url_base: https://sheets.googleapis.com/v4/spreadsheets/
    authenticator: "#/definitions/authenticator"
  bearer_authenticator:
    type: BearerAuthenticator
    api_token: "{{ config['credentials']['access_token'] }}"
  oauth_authenticator:
    type: OAuthAuthenticator
    refresh_request_body: {}
    token_refresh_endpoint: https://www.googleapis.com/oauth2/v4/token
    grant_type: refresh_token
    client_id: '{{ config["credentials"]["client_id"] }}'
    client_secret: '{{ config["credentials"]["client_secret"] }}'
    refresh_token: '{{ config["credentials"]["refresh_token"] }}'
  authenticator:
    type: SelectiveAuthenticator
    authenticator_selection_path: ["credentials", "auth_type"]
    authenticators:
      Client: "#/definitions/oauth_authenticator"
      Service: "#/definitions/bearer_authenticator"

schemas:
  sheets:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      gridProperties:
        type:
          - object
          - "null"
        properties:
          columnCount:
            type:
              - number
              - "null"
          rowCount:
            type:
              - number
              - "null"
      index:
        type:
          - number
          - "null"
      sheetId:
        type:
          - number
          - "null"
      sheetType:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"