version: 0.78.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  streams:
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
          request_headers:
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 1000
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    teams:
      type: DeclarativeStream
      name: teams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /teams
          http_method: GET
          request_headers:
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - teams
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 1000
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    calls:
      type: DeclarativeStream
      name: calls
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /calls
          http_method: GET
          request_parameters:
            has_ancestry: "true"
          request_headers:
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - calls
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 1000
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] or day_delta(-3650, '%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: by_time[from]
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: by_time[to]
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: P1D
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/calls"
    call_metrics:
      type: DeclarativeStream
      name: call_metrics
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /call_metrics
          http_method: GET
          request_parameters:
            has_ancestry: "true"
          request_headers:
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - call_metrics
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 1000
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] or day_delta(-3650, '%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: by_time[from]
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: by_time[to]
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc() }}"
          datetime_format: "%Y-%m-%d %H:%M:%S.%f+00:00"
        step: P1Y
        cursor_granularity: P1D
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/call_metrics"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['domain'] }}.freshcaller.com/api/v1
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['api_key'] }}"
      inject_into:
        type: RequestOption
        inject_into: header
        field_name: X-Api-Auth

streams:
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/calls"
  - $ref: "#/definitions/streams/call_metrics"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - domain
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        description: >-
          Freshcaller API Key. See the <a
          href="https://docs.airbyte.com/integrations/sources/freshcaller">docs</a>
          for more information on how to obtain this key.
        order: 0
      domain:
        type: string
        title: Domain for Freshcaller account
        description: Used to construct Base URL for the Freshcaller APIs
        examples:
          - snaptravel
        order: 1
      requests_per_minute:
        type: integer
        title: Requests per minute
        description: >-
          The number of requests per minute that this source allowed to use.
          There is a rate limit of 50 requests per minute per app per account.
        order: 2
      start_date:
        type: string
        title: Start Date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        description: >-
          UTC date and time. Any data created after this date will be
          replicated. Defaulted to 10 years prior to current date if not
          provided.
        examples:
          - "2022-01-01T12:00:00Z"
        order: 3
      sync_lag_minutes:
        type: integer
        title: Lag in minutes for each sync
        description: >-
          Lag in minutes for each sync, i.e., at time T, data for the time range
          [prev_sync_time, T-30] will be fetched
        order: 4
    additionalProperties: true

metadata:
  autoImportSchema:
    users: false
    teams: false
    calls: false
    call_metrics: false

schemas:
  users:
    type: object
    $schema: https://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      confirmed:
        type:
          - boolean
          - "null"
      deleted:
        type:
          - boolean
          - "null"
      email:
        type:
          - string
          - "null"
      id:
        type:
          - integer
          - "null"
      language:
        type:
          - string
          - "null"
      last_call_time:
        type:
          - string
          - "null"
        format: date-time
      last_seen_time:
        type:
          - string
          - "null"
        format: date-time
      mobile_app_preference:
        type:
          - integer
          - "null"
      name:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      preference:
        type:
          - integer
          - "null"
      role:
        type:
          - string
          - "null"
      status:
        type:
          - integer
          - "null"
      teams:
        type:
          - array
          - "null"
        items:
          type: object
          properties:
            id:
              type:
                - integer
                - "null"
      time_zone:
        type:
          - string
          - "null"
  teams:
    type: object
    $schema: https://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      id:
        type:
          - integer
          - "null"
      name:
        type:
          - string
          - "null"
      omni_channel:
        type:
          - boolean
          - "null"
      users:
        type:
          - array
          - "null"
        items:
          type: object
          properties:
            id:
              type:
                - integer
                - "null"
  calls:
    type: object
    $schema: https://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      assigned_agent_id:
        type:
          - integer
          - "null"
      assigned_agent_name:
        type:
          - string
          - "null"
      assigned_call_queue_id:
        type:
          - integer
          - "null"
      assigned_call_queue_name:
        type:
          - string
          - "null"
      assigned_ivr_id:
        type:
          - integer
          - "null"
      assigned_ivr_name:
        type:
          - string
          - "null"
      assigned_team_id:
        type:
          - integer
          - "null"
      assigned_team_name:
        type:
          - string
          - "null"
      bill_duration:
        type:
          - number
          - "null"
      bill_duration_unit:
        type:
          - string
          - "null"
      call_notes:
        type:
          - string
          - "null"
      created_time:
        type:
          - string
          - "null"
        format: date-time
      direction:
        type:
          - string
          - "null"
      id:
        type:
          - integer
          - "null"
      integrated_resources:
        type:
          - array
          - "null"
        items:
          type: object
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            integration_name:
              type:
                - string
                - "null"
      parallel_call_groups:
        type:
          - array
          - "null"
      parent_call_id:
        type:
          - integer
          - "null"
      participants:
        type:
          - array
          - "null"
        items:
          type: object
          properties:
            call_id:
              type:
                - integer
                - "null"
            call_status:
              type:
                - integer
                - "null"
            caller_id:
              type:
                - integer
                - "null"
            caller_name:
              type:
                - string
                - "null"
            caller_number:
              type:
                - string
                - "null"
            connection_type:
              type:
                - number
                - "null"
            cost:
              type:
                - number
                - "null"
            cost_unit:
              type:
                - string
                - "null"
            created_time:
              type:
                - string
                - "null"
              format: date-time
            duration:
              type:
                - integer
                - "null"
            duration_unit:
              type:
                - string
                - "null"
            enqueued_time:
              type:
                - string
                - "null"
            id:
              type:
                - integer
                - "null"
            participant_id:
              type:
                - integer
                - "null"
            participant_type:
              type:
                - string
                - "null"
            updated_time:
              type:
                - string
                - "null"
              format: date-time
      phone_number:
        type:
          - string
          - "null"
      phone_number_id:
        type:
          - integer
          - "null"
      recording:
        type:
          - object
          - "null"
        properties:
          duration:
            type:
              - number
              - "null"
          duration_unit:
            type:
              - string
              - "null"
          id:
            type:
              - integer
              - "null"
          transcription_url:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
      recording_to_redact:
        type:
          - object
          - "null"
        properties:
          duration:
            type:
              - number
              - "null"
          duration_unit:
            type:
              - string
              - "null"
          id:
            type:
              - integer
              - "null"
          url:
            type:
              - string
              - "null"
      root_call_id:
        type:
          - integer
          - "null"
      updated_time:
        type:
          - string
          - "null"
        format: date-time
  call_metrics:
    type: object
    $schema: https://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      answering_speed:
        type:
          - number
          - "null"
      answering_speed_unit:
        type:
          - string
          - "null"
      bill_duration:
        type:
          - number
          - "null"
      bill_duration_unit:
        type:
          - string
          - "null"
      call_id:
        type:
          - integer
          - "null"
      call_work_time:
        type:
          - number
          - "null"
      call_work_time_unit:
        type:
          - string
          - "null"
      cost:
        type:
          - number
          - "null"
      cost_unit:
        type:
          - string
          - "null"
      created_time:
        type:
          - string
          - "null"
        format: date-time
      csat:
        type:
          - object
          - "null"
        properties:
          outcome:
            type:
              - string
              - "null"
          time:
            type:
              - number
              - "null"
          time_unit:
            type:
              - string
              - "null"
          transfer_made:
            type:
              - boolean
              - "null"
      hold_duration:
        type:
          - number
          - "null"
      hold_duration_unit:
        type:
          - string
          - "null"
      id:
        type:
          - integer
          - "null"
      ivr_time:
        type:
          - integer
          - "null"
      ivr_time_unit:
        type:
          - string
          - "null"
      recording_duration:
        type:
          - number
          - "null"
      recording_duration_unit:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type: object
          properties:
            default:
              type:
                - boolean
                - "null"
            id:
              type:
                - integer
                - "null"
            name:
              type:
                - string
                - "null"
      talk_time:
        type:
          - number
          - "null"
      talk_time_unit:
        type:
          - string
          - "null"
      total_ringing_time:
        type:
          - number
          - "null"
      total_ringing_time_unit:
        type:
          - string
          - "null"
      updated_time:
        type:
          - string
          - "null"
        format: date-time
