[bumpversion]
current_version = 0.44.11
commit = False
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-[a-z]+)?
serialize = 
	{major}.{minor}.{patch}

[bumpversion:file:.bumpversion.cfg]

[bumpversion:file:gradle.properties]

[bumpversion:file:docs/operator-guides/upgrading-airbyte.md]

[bumpversion:file:octavia-cli/Dockerfile]

[bumpversion:file:octavia-cli/README.md]

[bumpversion:file:run-ab-platform.sh]

[bumpversion:file:octavia-cli/install.sh]

[bumpversion:file:octavia-cli/setup.py]
search = version="{current_version}"
replace = version="{new_version}"
