[bumpversion]
current_version = 0.40.0-alpha
commit = False
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-[a-z]+)?
serialize = 
	{major}.{minor}.{patch}-alpha

[bumpversion:file:.bumpversion.cfg]

[bumpversion:file:.env]

[bumpversion:file:airbyte-bootloader/Dockerfile]

[bumpversion:file:airbyte-container-orchestrator/Dockerfile]

[bumpversion:file:airbyte-metrics/reporter/Dockerfile]

[bumpversion:file:airbyte-server/Dockerfile]

[bumpversion:file:airbyte-webapp/package.json]

[bumpversion:file:airbyte-webapp/package-lock.json]

[bumpversion:file:airbyte-workers/Dockerfile]

[bumpversion:file:charts/airbyte/Chart.yaml]

[bumpversion:file:charts/airbyte-worker/Chart.yaml]

[bumpversion:file:charts/airbyte-temporal/Chart.yaml]

[bumpversion:file:charts/airbyte-webapp/Chart.yaml]

[bumpversion:file:charts/airbyte-server/Chart.yaml]

[bumpversion:file:charts/airbyte-bootloader/Chart.yaml]

[bumpversion:file:charts/airbyte/values.yaml]

[bumpversion:file:charts/airbyte/README.md]

[bumpversion:file:docs/operator-guides/upgrading-airbyte.md]

[bumpversion:file:kube/overlays/stable/.env]

[bumpversion:file:kube/overlays/stable/kustomization.yaml]

[bumpversion:file:kube/overlays/stable-with-resource-limits/.env]

[bumpversion:file:kube/overlays/stable-with-resource-limits/kustomization.yaml]

[bumpversion:file:octavia-cli/install.sh]

[bumpversion:file:octavia-cli/README.md]

[bumpversion:file:octavia-cli/Dockerfile]

[bumpversion:file:octavia-cli/setup.py]
serialize = 
	{major}.{minor}.{patch}
