[bumpversion]
current_version = 0.64.7
commit = False
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-[a-z]+)?
serialize = 
	{major}.{minor}.{patch}

[bumpversion:file:.bumpversion.cfg]

[bumpversion:file:gradle.properties]

[bumpversion:file:run-ab-platform.sh]
