version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - admin_attributes
    - user_attributes
definitions:
  streams:
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /accounts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - accounts
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            createDate:
              type:
                - "null"
                - string
            customAttributes:
              type:
                - "null"
                - object
              additionalProperties: true
            dunsNumber:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            industry:
              type:
                - "null"
                - string
            lastModifiedDate:
              type:
                - "null"
                - string
            lastSeenDate:
              type:
                - "null"
                - string
            location:
              type:
                - "null"
                - string
            naicsCode:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            numberOfEmployees:
              type:
                - "null"
                - string
            numberOfUsers:
              type:
                - "null"
                - string
            parentGroupId:
              type:
                - "null"
                - string
            plan:
              type:
                - "null"
                - string
            propertyKeys:
              type:
                - "null"
                - array
              items:
                location:
                  type:
                    - "null"
                    - string
            sfdcId:
              type:
                - "null"
                - string
            sicCode:
              type:
                - "null"
                - string
            trackedSubscriptionId:
              type:
                - "null"
                - string
            website:
              type:
                - "null"
                - string
          title: Accounts Schema
    admin_attributes:
      type: DeclarativeStream
      name: admin_attributes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /admin/model/account/attributes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: scrollId
          pagination_strategy:
            type: CursorPagination
            page_size: 5
            cursor_value: "{{ last_record['scrollId'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            type:
              type:
                - "null"
                - string
            apiName:
              type:
                - "null"
                - string
            createdDate:
              type:
                - "null"
                - number
            defaultValue:
              type:
                - "null"
                - string
            description:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            internalName:
              type:
                - "null"
                - string
            modifiedDate:
              type:
                - "null"
                - number
            name:
              type:
                - "null"
                - string
            origin:
              type:
                - "null"
                - string
            state:
              type:
                - "null"
                - string
          title: User Attributes Schema
    articles:
      type: DeclarativeStream
      name: articles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /articles
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - articleExternalViewList
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            articleKCs:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  kcId:
                    type:
                      - "null"
                      - string
                  kcName:
                    type:
                      - "null"
                      - string
            articleName:
              type:
                - "null"
                - string
            author:
              type:
                - "null"
                - string
            createdDate:
              type:
                - "null"
                - number
            id:
              type:
                - "null"
                - string
            modifiedBy:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                id:
                  type:
                    - "null"
                    - string
                name:
                  type:
                    - "null"
                    - string
            modifiedDate:
              type:
                - "null"
                - number
            productId:
              type:
                - "null"
                - string
            productName:
              type:
                - "null"
                - string
            releaseDate:
              type:
                - "null"
                - string
            viewType:
              type:
                - "null"
                - string
          title: Articles Schema
    feature:
      type: DeclarativeStream
      name: feature
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /feature
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - features
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            type:
              type:
                - "null"
                - string
              enum:
                - FEATURE
                - MODULE
            featureLabels:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                color:
                  type:
                    - "null"
                    - string
                id:
                  type:
                    - "null"
                    - string
                name:
                  type:
                    - "null"
                    - string
            id:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            parentFeatureId:
              type:
                - "null"
                - string
            propertyKey:
              type:
                - "null"
                - string
            status:
              type:
                - "null"
                - string
              enum:
                - ACTIVATED
                - DELETED
          title: Feature Schema
    segments:
      type: DeclarativeStream
      name: segments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /segment
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - segments
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
          title: Segment Schema
    kcbot:
      type: DeclarativeStream
      name: kcbot
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /kcbot
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - kcList
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            createdBy:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                id:
                  type:
                    - "null"
                    - string
                name:
                  type:
                    - "null"
                    - string
            createdDate:
              type:
                - "null"
                - number
            description:
              type:
                - "null"
                - string
            environments:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - string
            id:
              type:
                - "null"
                - string
            modifiedBy:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                id:
                  type:
                    - "null"
                    - string
                name:
                  type:
                    - "null"
                    - string
            modifiedDate:
              type:
                - "null"
                - number
            name:
              type:
                - "null"
                - string
            priority:
              type:
                - "null"
                - number
            productId:
              type:
                - "null"
                - string
            productName:
              type:
                - "null"
                - string
            status:
              type:
                - "null"
                - string
          title: KCBot Schema
    user_attributes:
      type: DeclarativeStream
      name: user_attributes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /admin/model/user/attributes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: scrollId
          pagination_strategy:
            type: CursorPagination
            page_size: 5
            cursor_value: "{{ last_record['scrollId'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            type:
              type:
                - "null"
                - string
            apiName:
              type:
                - "null"
                - string
            createdDate:
              type:
                - "null"
                - number
            defaultValue:
              type:
                - "null"
                - string
            description:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            internalName:
              type:
                - "null"
                - string
            modifiedDate:
              type:
                - "null"
                - number
            name:
              type:
                - "null"
                - string
            origin:
              type:
                - "null"
                - string
            state:
              type:
                - "null"
                - string
          title: User Attributes Schema
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.aptrinsic.com/v1
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: header
              field_name: X-APTRINSIC-API-KEY
          path: /users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type:
            - "null"
            - object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            type:
              type:
                - "null"
                - string
              enum:
                - LEAD
                - USER
                - VISITOR
                - EMPTY_USER_TYPE
            accountId:
              type:
                - "null"
                - string
            aptrinsicId:
              type:
                - "null"
                - string
            createDate:
              type:
                - "null"
                - integer
              format: int64
            email:
              type:
                - "null"
                - string
            firstName:
              type:
                - "null"
                - string
            firstVisitDate:
              type:
                - "null"
                - integer
              format: int64
            gender:
              type:
                - "null"
                - string
              enum:
                - MALE
                - FEMALE
                - OTHER
                - EMPTY_GENDER
            globalUnsubscribe:
              type:
                - "null"
                - boolean
            id:
              type:
                - "null"
                - string
              description: Synonym for identifyId, output only, not filterable
            identifyId:
              type:
                - "null"
                - string
            lastInferredLocation:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                city:
                  type:
                    - "null"
                    - string
                continent:
                  type:
                    - "null"
                    - string
                coordinates:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                  properties:
                    latitude:
                      type:
                        - "null"
                        - number
                    longitude:
                      type:
                        - "null"
                        - number
                countryCode:
                  type:
                    - "null"
                    - string
                countryName:
                  type:
                    - "null"
                    - string
                postalCode:
                  type:
                    - "null"
                    - string
                regionName:
                  type:
                    - "null"
                    - string
                stateCode:
                  type:
                    - "null"
                    - string
                stateName:
                  type:
                    - "null"
                    - string
                street:
                  type:
                    - "null"
                    - string
                timeZone:
                  type:
                    - "null"
                    - string
            lastModifiedDate:
              type:
                - "null"
                - integer
              format: int64
            lastName:
              type:
                - "null"
                - string
            lastSeenDate:
              type:
                - "null"
                - integer
              format: int64
            lastVisitedUserAgentData:
              type:
                - "null"
                - array
              items:
                propertyKey:
                  type:
                    - "null"
                    - string
                userAgent:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                  properties:
                    browserType:
                      type:
                        - "null"
                        - string
                    browserVersion:
                      type:
                        - "null"
                        - string
                    device:
                      type:
                        - "null"
                        - string
                    platformType:
                      type:
                        - "null"
                        - string
                    platformVersion:
                      type:
                        - "null"
                        - string
                    rawUserAgent:
                      type:
                        - "null"
                        - string
            location:
              type:
                - "null"
                - string
            numberOfVisits:
              type:
                - "null"
                - integer
              format: int32
            phone:
              type:
                - "null"
                - string
            propertyKeys:
              type:
                - "null"
                - array
              description: Aptrinsic Tag Key, at least one is required
              examples:
                - - AP-XXXXXXXXXX-2
              items:
                type:
                  - "null"
                  - string
            role:
              type:
                - "null"
                - string
            score:
              type:
                - "null"
                - integer
              format: int64
            sfdcContactId:
              type:
                - "null"
                - string
            signUpDate:
              type:
                - "null"
                - integer
              format: int64
            subscriptionId:
              type:
                - "null"
                - string
            title:
              type:
                - "null"
                - string
          title: Users Schema
  base_requester:
    type: HttpRequester
    url_base: https://api.aptrinsic.com/v1
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['api_key'] }}"
      inject_into:
        type: RequestOption
        inject_into: header
        field_name: X-APTRINSIC-API-KEY
streams:
  - type: DeclarativeStream
    name: accounts
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.aptrinsic.com/v1
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-APTRINSIC-API-KEY
        path: /accounts
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - accounts
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          createDate:
            type:
              - "null"
              - string
          customAttributes:
            type:
              - "null"
              - object
            additionalProperties: true
          dunsNumber:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          industry:
            type:
              - "null"
              - string
          lastModifiedDate:
            type:
              - "null"
              - string
          lastSeenDate:
            type:
              - "null"
              - string
          location:
            type:
              - "null"
              - string
          naicsCode:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          numberOfEmployees:
            type:
              - "null"
              - string
          numberOfUsers:
            type:
              - "null"
              - string
          parentGroupId:
            type:
              - "null"
              - string
          plan:
            type:
              - "null"
              - string
          propertyKeys:
            type:
              - "null"
              - array
            items:
              location:
                type:
                  - "null"
                  - string
          sfdcId:
            type:
              - "null"
              - string
          sicCode:
            type:
              - "null"
              - string
          trackedSubscriptionId:
            type:
              - "null"
              - string
          website:
            type:
              - "null"
              - string
        title: Accounts Schema
  - type: DeclarativeStream
    name: admin_attributes
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.aptrinsic.com/v1
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-APTRINSIC-API-KEY
        path: /admin/model/account/attributes
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: scrollId
        pagination_strategy:
          type: CursorPagination
          page_size: 5
          cursor_value: "{{ last_record['scrollId'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          type:
            type:
              - "null"
              - string
          apiName:
            type:
              - "null"
              - string
          createdDate:
            type:
              - "null"
              - number
          defaultValue:
            type:
              - "null"
              - string
          description:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          internalName:
            type:
              - "null"
              - string
          modifiedDate:
            type:
              - "null"
              - number
          name:
            type:
              - "null"
              - string
          origin:
            type:
              - "null"
              - string
          state:
            type:
              - "null"
              - string
        title: User Attributes Schema
  - type: DeclarativeStream
    name: articles
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.aptrinsic.com/v1
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-APTRINSIC-API-KEY
        path: /articles
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - articleExternalViewList
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          articleKCs:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                kcId:
                  type:
                    - "null"
                    - string
                kcName:
                  type:
                    - "null"
                    - string
          articleName:
            type:
              - "null"
              - string
          author:
            type:
              - "null"
              - string
          createdDate:
            type:
              - "null"
              - number
          id:
            type:
              - "null"
              - string
          modifiedBy:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              id:
                type:
                  - "null"
                  - string
              name:
                type:
                  - "null"
                  - string
          modifiedDate:
            type:
              - "null"
              - number
          productId:
            type:
              - "null"
              - string
          productName:
            type:
              - "null"
              - string
          releaseDate:
            type:
              - "null"
              - string
          viewType:
            type:
              - "null"
              - string
        title: Articles Schema
  - type: DeclarativeStream
    name: feature
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.aptrinsic.com/v1
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-APTRINSIC-API-KEY
        path: /feature
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - features
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          type:
            type:
              - "null"
              - string
            enum:
              - FEATURE
              - MODULE
          featureLabels:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              color:
                type:
                  - "null"
                  - string
              id:
                type:
                  - "null"
                  - string
              name:
                type:
                  - "null"
                  - string
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          parentFeatureId:
            type:
              - "null"
              - string
          propertyKey:
            type:
              - "null"
              - string
          status:
            type:
              - "null"
              - string
            enum:
              - ACTIVATED
              - DELETED
        title: Feature Schema
  - type: DeclarativeStream
    name: segments
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.aptrinsic.com/v1
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-APTRINSIC-API-KEY
        path: /segment
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - segments
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
        title: Segment Schema
  - type: DeclarativeStream
    name: kcbot
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.aptrinsic.com/v1
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-APTRINSIC-API-KEY
        path: /kcbot
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - kcList
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          createdBy:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              id:
                type:
                  - "null"
                  - string
              name:
                type:
                  - "null"
                  - string
          createdDate:
            type:
              - "null"
              - number
          description:
            type:
              - "null"
              - string
          environments:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - string
          id:
            type:
              - "null"
              - string
          modifiedBy:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              id:
                type:
                  - "null"
                  - string
              name:
                type:
                  - "null"
                  - string
          modifiedDate:
            type:
              - "null"
              - number
          name:
            type:
              - "null"
              - string
          priority:
            type:
              - "null"
              - number
          productId:
            type:
              - "null"
              - string
          productName:
            type:
              - "null"
              - string
          status:
            type:
              - "null"
              - string
        title: KCBot Schema
  - type: DeclarativeStream
    name: user_attributes
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.aptrinsic.com/v1
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-APTRINSIC-API-KEY
        path: /admin/model/user/attributes
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: scrollId
        pagination_strategy:
          type: CursorPagination
          page_size: 5
          cursor_value: "{{ last_record['scrollId'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          type:
            type:
              - "null"
              - string
          apiName:
            type:
              - "null"
              - string
          createdDate:
            type:
              - "null"
              - number
          defaultValue:
            type:
              - "null"
              - string
          description:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          internalName:
            type:
              - "null"
              - string
          modifiedDate:
            type:
              - "null"
              - number
          name:
            type:
              - "null"
              - string
          origin:
            type:
              - "null"
              - string
          state:
            type:
              - "null"
              - string
        title: User Attributes Schema
  - type: DeclarativeStream
    name: users
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.aptrinsic.com/v1
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: X-APTRINSIC-API-KEY
        path: /users
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - users
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type:
          - "null"
          - object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          type:
            type:
              - "null"
              - string
            enum:
              - LEAD
              - USER
              - VISITOR
              - EMPTY_USER_TYPE
          accountId:
            type:
              - "null"
              - string
          aptrinsicId:
            type:
              - "null"
              - string
          createDate:
            type:
              - "null"
              - integer
            format: int64
          email:
            type:
              - "null"
              - string
          firstName:
            type:
              - "null"
              - string
          firstVisitDate:
            type:
              - "null"
              - integer
            format: int64
          gender:
            type:
              - "null"
              - string
            enum:
              - MALE
              - FEMALE
              - OTHER
              - EMPTY_GENDER
          globalUnsubscribe:
            type:
              - "null"
              - boolean
          id:
            type:
              - "null"
              - string
            description: Synonym for identifyId, output only, not filterable
          identifyId:
            type:
              - "null"
              - string
          lastInferredLocation:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              city:
                type:
                  - "null"
                  - string
              continent:
                type:
                  - "null"
                  - string
              coordinates:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  latitude:
                    type:
                      - "null"
                      - number
                  longitude:
                    type:
                      - "null"
                      - number
              countryCode:
                type:
                  - "null"
                  - string
              countryName:
                type:
                  - "null"
                  - string
              postalCode:
                type:
                  - "null"
                  - string
              regionName:
                type:
                  - "null"
                  - string
              stateCode:
                type:
                  - "null"
                  - string
              stateName:
                type:
                  - "null"
                  - string
              street:
                type:
                  - "null"
                  - string
              timeZone:
                type:
                  - "null"
                  - string
          lastModifiedDate:
            type:
              - "null"
              - integer
            format: int64
          lastName:
            type:
              - "null"
              - string
          lastSeenDate:
            type:
              - "null"
              - integer
            format: int64
          lastVisitedUserAgentData:
            type:
              - "null"
              - array
            items:
              propertyKey:
                type:
                  - "null"
                  - string
              userAgent:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  browserType:
                    type:
                      - "null"
                      - string
                  browserVersion:
                    type:
                      - "null"
                      - string
                  device:
                    type:
                      - "null"
                      - string
                  platformType:
                    type:
                      - "null"
                      - string
                  platformVersion:
                    type:
                      - "null"
                      - string
                  rawUserAgent:
                    type:
                      - "null"
                      - string
          location:
            type:
              - "null"
              - string
          numberOfVisits:
            type:
              - "null"
              - integer
            format: int32
          phone:
            type:
              - "null"
              - string
          propertyKeys:
            type:
              - "null"
              - array
            description: Aptrinsic Tag Key, at least one is required
            examples:
              - - AP-XXXXXXXXXX-2
            items:
              type:
                - "null"
                - string
          role:
            type:
              - "null"
              - string
          score:
            type:
              - "null"
              - integer
            format: int64
          sfdcContactId:
            type:
              - "null"
              - string
          signUpDate:
            type:
              - "null"
              - integer
            format: int64
          subscriptionId:
            type:
              - "null"
              - string
          title:
            type:
              - "null"
              - string
        title: Users Schema
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        description: >-
          The Aptrinsic API Key which is recieved from the dashboard settings
          (ref - https://app.aptrinsic.com/settings/api-keys)
        order: 0
    additionalProperties: true
metadata:
  autoImportSchema:
    accounts: false
    admin_attributes: false
    articles: false
    feature: false
    segments: false
    kcbot: false
    user_attributes: false
    users: false
schemas:
  accounts:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      createDate:
        type:
          - "null"
          - string
      customAttributes:
        type:
          - "null"
          - object
        additionalProperties: true
      dunsNumber:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      industry:
        type:
          - "null"
          - string
      lastModifiedDate:
        type:
          - "null"
          - string
      lastSeenDate:
        type:
          - "null"
          - string
      location:
        type:
          - "null"
          - string
      naicsCode:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      numberOfEmployees:
        type:
          - "null"
          - string
      numberOfUsers:
        type:
          - "null"
          - string
      parentGroupId:
        type:
          - "null"
          - string
      plan:
        type:
          - "null"
          - string
      propertyKeys:
        type:
          - "null"
          - array
        items:
          location:
            type:
              - "null"
              - string
      sfdcId:
        type:
          - "null"
          - string
      sicCode:
        type:
          - "null"
          - string
      trackedSubscriptionId:
        type:
          - "null"
          - string
      website:
        type:
          - "null"
          - string
    title: Accounts Schema
  admin_attributes:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      apiName:
        type:
          - "null"
          - string
      createdDate:
        type:
          - "null"
          - number
      defaultValue:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      internalName:
        type:
          - "null"
          - string
      modifiedDate:
        type:
          - "null"
          - number
      name:
        type:
          - "null"
          - string
      origin:
        type:
          - "null"
          - string
      state:
        type:
          - "null"
          - string
    title: User Attributes Schema
  articles:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      articleKCs:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            kcId:
              type:
                - "null"
                - string
            kcName:
              type:
                - "null"
                - string
      articleName:
        type:
          - "null"
          - string
      author:
        type:
          - "null"
          - string
      createdDate:
        type:
          - "null"
          - number
      id:
        type:
          - "null"
          - string
      modifiedBy:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
      modifiedDate:
        type:
          - "null"
          - number
      productId:
        type:
          - "null"
          - string
      productName:
        type:
          - "null"
          - string
      releaseDate:
        type:
          - "null"
          - string
      viewType:
        type:
          - "null"
          - string
    title: Articles Schema
  feature:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
        enum:
          - FEATURE
          - MODULE
      featureLabels:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          color:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      parentFeatureId:
        type:
          - "null"
          - string
      propertyKey:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
        enum:
          - ACTIVATED
          - DELETED
    title: Feature Schema
  segments:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
    title: Segment Schema
  kcbot:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      createdBy:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
      createdDate:
        type:
          - "null"
          - number
      description:
        type:
          - "null"
          - string
      environments:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      id:
        type:
          - "null"
          - string
      modifiedBy:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
      modifiedDate:
        type:
          - "null"
          - number
      name:
        type:
          - "null"
          - string
      priority:
        type:
          - "null"
          - number
      productId:
        type:
          - "null"
          - string
      productName:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
    title: KCBot Schema
  user_attributes:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      apiName:
        type:
          - "null"
          - string
      createdDate:
        type:
          - "null"
          - number
      defaultValue:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      internalName:
        type:
          - "null"
          - string
      modifiedDate:
        type:
          - "null"
          - number
      name:
        type:
          - "null"
          - string
      origin:
        type:
          - "null"
          - string
      state:
        type:
          - "null"
          - string
    title: User Attributes Schema
  users:
    type:
      - "null"
      - object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
        enum:
          - LEAD
          - USER
          - VISITOR
          - EMPTY_USER_TYPE
      accountId:
        type:
          - "null"
          - string
      aptrinsicId:
        type:
          - "null"
          - string
      createDate:
        type:
          - "null"
          - integer
        format: int64
      email:
        type:
          - "null"
          - string
      firstName:
        type:
          - "null"
          - string
      firstVisitDate:
        type:
          - "null"
          - integer
        format: int64
      gender:
        type:
          - "null"
          - string
        enum:
          - MALE
          - FEMALE
          - OTHER
          - EMPTY_GENDER
      globalUnsubscribe:
        type:
          - "null"
          - boolean
      id:
        type:
          - "null"
          - string
        description: Synonym for identifyId, output only, not filterable
      identifyId:
        type:
          - "null"
          - string
      lastInferredLocation:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          city:
            type:
              - "null"
              - string
          continent:
            type:
              - "null"
              - string
          coordinates:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              latitude:
                type:
                  - "null"
                  - number
              longitude:
                type:
                  - "null"
                  - number
          countryCode:
            type:
              - "null"
              - string
          countryName:
            type:
              - "null"
              - string
          postalCode:
            type:
              - "null"
              - string
          regionName:
            type:
              - "null"
              - string
          stateCode:
            type:
              - "null"
              - string
          stateName:
            type:
              - "null"
              - string
          street:
            type:
              - "null"
              - string
          timeZone:
            type:
              - "null"
              - string
      lastModifiedDate:
        type:
          - "null"
          - integer
        format: int64
      lastName:
        type:
          - "null"
          - string
      lastSeenDate:
        type:
          - "null"
          - integer
        format: int64
      lastVisitedUserAgentData:
        type:
          - "null"
          - array
        items:
          propertyKey:
            type:
              - "null"
              - string
          userAgent:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              browserType:
                type:
                  - "null"
                  - string
              browserVersion:
                type:
                  - "null"
                  - string
              device:
                type:
                  - "null"
                  - string
              platformType:
                type:
                  - "null"
                  - string
              platformVersion:
                type:
                  - "null"
                  - string
              rawUserAgent:
                type:
                  - "null"
                  - string
      location:
        type:
          - "null"
          - string
      numberOfVisits:
        type:
          - "null"
          - integer
        format: int32
      phone:
        type:
          - "null"
          - string
      propertyKeys:
        type:
          - "null"
          - array
        description: Aptrinsic Tag Key, at least one is required
        examples:
          - - AP-XXXXXXXXXX-2
        items:
          type:
            - "null"
            - string
      role:
        type:
          - "null"
          - string
      score:
        type:
          - "null"
          - integer
        format: int64
      sfdcContactId:
        type:
          - "null"
          - string
      signUpDate:
        type:
          - "null"
          - integer
        format: int64
      subscriptionId:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
    title: Users Schema
