version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - activity
definitions:
  streams:
    activity:
      type: DeclarativeStream
      name: activity
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://{{ config['company'] }}.hellobaton.com/api/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: request_parameter
              field_name: api_key
          path: activity
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: '{{ response.get("next", {}) }}'
            stop_condition: '{{ not response.get("next", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            type:
              type:
                - string
                - "null"
            _self:
              type:
                - string
                - "null"
            actor:
              type:
                - string
                - "null"
            child:
              type:
                - string
                - "null"
            child_type:
              type:
                - string
                - "null"
            created:
              type:
                - string
                - "null"
              format: date-time
            group:
              type:
                - string
                - "null"
            id:
              type:
                - integer
                - "null"
            meta:
              type:
                - object
                - "null"
            modified:
              type:
                - string
                - "null"
              format: date-time
            parent:
              type:
                - string
                - "null"
            parent_type:
              type:
                - string
                - "null"
            project:
              type:
                - string
                - "null"
    companies:
      type: DeclarativeStream
      name: companies
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://{{ config['company'] }}.hellobaton.com/api/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: request_parameter
              field_name: api_key
          path: companies
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: '{{ response.get("next", {}) }}'
            stop_condition: '{{ not response.get("next", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            type:
              type:
                - string
                - "null"
            _self:
              type:
                - string
                - "null"
            created:
              type:
                - string
                - "null"
              format: date-time
            id:
              type:
                - integer
                - "null"
            modified:
              type:
                - string
                - "null"
              format: date-time
            name:
              type:
                - string
                - "null"
    milestones:
      type: DeclarativeStream
      name: milestones
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://{{ config['company'] }}.hellobaton.com/api/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: request_parameter
              field_name: api_key
          path: milestones
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: '{{ response.get("next", {}) }}'
            stop_condition: '{{ not response.get("next", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            _self:
              type:
                - string
                - "null"
            created:
              type:
                - string
                - "null"
              format: date-time
            created_from:
              type:
                - string
                - "null"
            deadline_datetime:
              type:
                - string
                - "null"
              format: date-time
            deadline_fixed:
              type:
                - boolean
                - "null"
            description:
              type:
                - string
                - "null"
            duration:
              type:
                - integer
                - "null"
            feedback_list:
              type:
                - string
                - "null"
            finish_datetime:
              type:
                - string
                - "null"
              format: date-time
            id:
              type:
                - integer
                - "null"
            modified:
              type:
                - string
                - "null"
              format: date-time
            phase:
              type:
                - object
                - "null"
              properties:
                _self:
                  type:
                    - string
                    - "null"
                created:
                  type:
                    - string
                    - "null"
                  format: date-time
                id:
                  type:
                    - integer
                    - "null"
                modified:
                  type:
                    - string
                    - "null"
                  format: date-time
                name:
                  type:
                    - string
                    - "null"
            project:
              type:
                - string
                - "null"
            risk_profiles:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  formula:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - integer
                      - "null"
                  over_run:
                    type:
                      - integer
                      - "null"
                  risk_level:
                    type:
                      - string
                      - "null"
            start_datetime:
              type:
                - string
                - "null"
            task_list:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
    phases:
      type: DeclarativeStream
      name: phases
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://{{ config['company'] }}.hellobaton.com/api/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: request_parameter
              field_name: api_key
          path: phases
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: '{{ response.get("next", {}) }}'
            stop_condition: '{{ not response.get("next", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            _self:
              type:
                - string
                - "null"
            created:
              type:
                - string
                - "null"
              format: date-time
            id:
              type:
                - integer
                - "null"
            modified:
              type:
                - string
                - "null"
              format: date-time
            name:
              type:
                - string
                - "null"
            order:
              type:
                - integer
                - "null"
    project_attachments:
      type: DeclarativeStream
      name: project_attachments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://{{ config['company'] }}.hellobaton.com/api/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: request_parameter
              field_name: api_key
          path: project_attachments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: '{{ response.get("next", {}) }}'
            stop_condition: '{{ not response.get("next", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            type:
              type:
                - string
                - "null"
            _self:
              type:
                - string
                - "null"
            created:
              type:
                - string
                - "null"
              format: date-time
            created_by:
              type:
                - string
                - "null"
            id:
              type:
                - integer
                - "null"
            is_sow:
              type:
                - boolean
                - "null"
            label:
              type:
                - string
                - "null"
            modified:
              type:
                - string
                - "null"
              format: date-time
            original_filename:
              type:
                - string
                - "null"
            project:
              type:
                - string
                - "null"
            url:
              type:
                - string
                - "null"
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://{{ config['company'] }}.hellobaton.com/api/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: request_parameter
              field_name: api_key
          path: projects
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: '{{ response.get("next", {}) }}'
            stop_condition: '{{ not response.get("next", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            _self:
              type:
                - string
                - "null"
            annual_contract_value:
              type:
                - string
                - "null"
            archived:
              type:
                - boolean
                - "null"
            attachment_list:
              type:
                - string
                - "null"
            client_systems:
              type:
                - string
                - "null"
            companies:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            completed_datetime:
              type:
                - string
                - "null"
              format: date-time
            cost:
              type:
                - integer
                - "null"
            created:
              type:
                - string
                - "null"
              format: date-time
            created_from:
              type:
                - string
                - "null"
            created_from_template:
              type:
                - string
                - "null"
            creator:
              type:
                - string
                - "null"
            custom_field_list:
              type:
                - string
                - "null"
            deadline_datetime:
              type:
                - string
                - "null"
              format: date-time
            estimated_duration:
              type:
                - integer
                - "null"
            id:
              type:
                - integer
                - "null"
            implementation_budget:
              type:
                - string
                - "null"
            milestone_feedback_list:
              type:
                - string
                - "null"
            milestone_list:
              type:
                - string
                - "null"
            modified:
              type:
                - string
                - "null"
              format: date-time
            phase:
              type:
                - object
                - "null"
              properties:
                _self:
                  type:
                    - string
                    - "null"
                created:
                  type:
                    - string
                    - "null"
                  format: date-time
                id:
                  type:
                    - integer
                    - "null"
                modified:
                  type:
                    - string
                    - "null"
                  format: date-time
                name:
                  type:
                    - string
                    - "null"
                order:
                  type:
                    - integer
                    - "null"
            project_phases_list:
              type:
                - string
                - "null"
            project_user_list:
              type:
                - string
                - "null"
            risk_profiles:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  formula:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - integer
                      - "null"
                  level:
                    type:
                      - string
                      - "null"
                  projected_golive_datetime:
                    type:
                      - string
                      - "null"
                    format: date-time
                  risk_score:
                    type:
                      - number
                      - "null"
                  variance:
                    type:
                      - integer
                      - "null"
            start_datetime:
              type:
                - string
                - "null"
              format: date-time
            started_datetime:
              type:
                - string
                - "null"
              format: date-time
            status:
              type:
                - string
                - "null"
            task_list:
              type:
                - string
                - "null"
            time_entry_list:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
    tasks:
      type: DeclarativeStream
      name: tasks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://{{ config['company'] }}.hellobaton.com/api/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: request_parameter
              field_name: api_key
          path: tasks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: '{{ response.get("next", {}) }}'
            stop_condition: '{{ not response.get("next", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            _self:
              type:
                - string
                - "null"
            assigned_to:
              type:
                - string
                - "null"
            attachment_list:
              type:
                - string
                - "null"
            created:
              type:
                - string
                - "null"
              format: date-time
            created_by:
              type:
                - string
                - "null"
            created_from:
              type:
                - string
                - "null"
            dependencies:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            description:
              type:
                - string
                - "null"
            due_datetime:
              type:
                - string
                - "null"
              format: date-time
            estimated_duration:
              type:
                - integer
                - "null"
            finished_datetime:
              type:
                - string
                - "null"
              format: date-time
            finished_overridden_datetime:
              type:
                - string
                - "null"
              format: date-time
            id:
              type:
                - integer
                - "null"
            milestone:
              type:
                - string
                - "null"
            modified:
              type:
                - string
                - "null"
              format: date-time
            project:
              type:
                - string
                - "null"
            risk_profiles:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  cool_down:
                    type:
                      - integer
                      - "null"
                  duration:
                    type:
                      - integer
                      - "null"
                  estimated_duration:
                    type:
                      - integer
                      - "null"
                  formula:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - integer
                      - "null"
                  over_run:
                    type:
                      - integer
                      - "null"
                  reason:
                    type:
                      - integer
                      - "null"
                  risk_level:
                    type:
                      - string
                      - "null"
                  task_variance:
                    type:
                      - integer
                      - "null"
            start_datetime:
              type:
                - string
                - "null"
              format: date-time
            started_datetime:
              type:
                - string
                - "null"
              format: date-time
            started_overridden_datetime:
              type:
                - string
                - "null"
              format: date-time
            status:
              type:
                - string
                - "null"
            time_entry_list:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
    task_attachments:
      type: DeclarativeStream
      name: task_attachments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://{{ config['company'] }}.hellobaton.com/api/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: request_parameter
              field_name: api_key
          path: task_attachments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: '{{ response.get("next", {}) }}'
            stop_condition: '{{ not response.get("next", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            type:
              type:
                - string
                - "null"
            _self:
              type:
                - string
                - "null"
            approved:
              type:
                - boolean
                - "null"
            created:
              type:
                - string
                - "null"
            created_by:
              type:
                - string
                - "null"
            deliverable:
              type:
                - boolean
                - "null"
            id:
              type:
                - integer
                - "null"
            label:
              type:
                - string
                - "null"
            modified:
              type:
                - string
                - "null"
            original_filename:
              type:
                - string
                - "null"
            requires_approval:
              type:
                - boolean
                - "null"
            revision_task:
              type:
                - string
                - "null"
            task:
              type:
                - string
                - "null"
            url:
              type:
                - string
                - "null"
    templates:
      type: DeclarativeStream
      name: templates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://{{ config['company'] }}.hellobaton.com/api/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: request_parameter
              field_name: api_key
          path: templates
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: '{{ response.get("next", {}) }}'
            stop_condition: '{{ not response.get("next", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            _self:
              type:
                - string
                - "null"
            annual_contract_value:
              type:
                - string
                - "null"
            client_systems:
              type:
                - string
                - "null"
            completed_datetime:
              type:
                - string
                - "null"
              format: date-time
            cost:
              type:
                - string
                - "null"
            created_from:
              type:
                - string
                - "null"
            created_from_template:
              type:
                - string
                - "null"
            creator:
              type:
                - string
                - "null"
            deadline_datetime:
              type:
                - string
                - "null"
              format: date-time
            estimated_duration:
              type:
                - integer
                - "null"
            id:
              type:
                - integer
                - "null"
            implementation_budget:
              type:
                - string
                - "null"
            phase:
              type:
                - object
                - "null"
              properties:
                _self:
                  type:
                    - string
                    - "null"
                created:
                  type:
                    - string
                    - "null"
                  format: date-time
                id:
                  type:
                    - integer
                    - "null"
                modified:
                  type:
                    - string
                    - "null"
                  format: date-time
                order:
                  type:
                    - integer
                    - "null"
            start_datetime:
              type:
                - string
                - "null"
              format: date-time
            started_datetime:
              type:
                - string
                - "null"
              format: date-time
            status:
              type:
                - string
                - "null"
            task_list:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
    time_entries:
      type: DeclarativeStream
      name: time_entries
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://{{ config['company'] }}.hellobaton.com/api/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: request_parameter
              field_name: api_key
          path: time_entries
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: '{{ response.get("next", {}) }}'
            stop_condition: '{{ not response.get("next", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            _self:
              type:
                - string
                - "null"
            billable:
              type:
                - boolean
                - "null"
            calculated_duration:
              type:
                - integer
                - "null"
            created_by:
              type:
                - string
                - "null"
            ended_at:
              type:
                - string
                - "null"
              format: date-time
            id:
              type:
                - integer
                - "null"
            inputted_duration:
              type:
                - integer
                - "null"
            notes:
              type:
                - string
                - "null"
            project:
              type:
                - string
                - "null"
            rate:
              type:
                - object
                - "null"
              properties:
                hourly_rate:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - integer
                    - "null"
            reference_date:
              type:
                - string
                - "null"
              format: date-time
            started_at:
              type:
                - string
                - "null"
              format: date-time
            task:
              type:
                - string
                - "null"
            user:
              type:
                - string
                - "null"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://{{ config['company'] }}.hellobaton.com/api/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              inject_into: request_parameter
              field_name: api_key
          path: users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: '{{ response.get("next", {}) }}'
            stop_condition: '{{ not response.get("next", {}) }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-04/schema#
          additionalProperties: true
          properties:
            _self:
              type:
                - string
                - "null"
            account_type:
              type:
                - string
                - "null"
            avatar_url:
              type:
                - string
                - "null"
            capacity:
              type:
                - integer
                - "null"
            company:
              type:
                - string
                - "null"
            created:
              type:
                - string
                - "null"
              format: date-time
            created_by:
              type:
                - string
                - "null"
            department:
              type:
                - object
                - "null"
            email:
              type:
                - string
                - "null"
            first_name:
              type:
                - string
                - "null"
            id:
              type:
                - integer
                - "null"
            job_title:
              type:
                - string
                - "null"
            last_name:
              type:
                - string
                - "null"
            modified:
              type:
                - string
                - "null"
              format: date-time
            signed_up_at:
              type:
                - string
                - "null"
              format: date-time
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['company'] }}.hellobaton.com/api/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['api_key'] }}"
      inject_into:
        type: RequestOption
        inject_into: request_parameter
        field_name: api_key
streams:
  - type: DeclarativeStream
    name: activity
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['company'] }}.hellobaton.com/api/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: api_key
        path: activity
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next", {}) }}'
          stop_condition: '{{ not response.get("next", {}) }}'
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          type:
            type:
              - string
              - "null"
          _self:
            type:
              - string
              - "null"
          actor:
            type:
              - string
              - "null"
          child:
            type:
              - string
              - "null"
          child_type:
            type:
              - string
              - "null"
          created:
            type:
              - string
              - "null"
            format: date-time
          group:
            type:
              - string
              - "null"
          id:
            type:
              - integer
              - "null"
          meta:
            type:
              - object
              - "null"
          modified:
            type:
              - string
              - "null"
            format: date-time
          parent:
            type:
              - string
              - "null"
          parent_type:
            type:
              - string
              - "null"
          project:
            type:
              - string
              - "null"
  - type: DeclarativeStream
    name: companies
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['company'] }}.hellobaton.com/api/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: api_key
        path: companies
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next", {}) }}'
          stop_condition: '{{ not response.get("next", {}) }}'
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          type:
            type:
              - string
              - "null"
          _self:
            type:
              - string
              - "null"
          created:
            type:
              - string
              - "null"
            format: date-time
          id:
            type:
              - integer
              - "null"
          modified:
            type:
              - string
              - "null"
            format: date-time
          name:
            type:
              - string
              - "null"
  - type: DeclarativeStream
    name: milestones
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['company'] }}.hellobaton.com/api/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: api_key
        path: milestones
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next", {}) }}'
          stop_condition: '{{ not response.get("next", {}) }}'
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          _self:
            type:
              - string
              - "null"
          created:
            type:
              - string
              - "null"
            format: date-time
          created_from:
            type:
              - string
              - "null"
          deadline_datetime:
            type:
              - string
              - "null"
            format: date-time
          deadline_fixed:
            type:
              - boolean
              - "null"
          description:
            type:
              - string
              - "null"
          duration:
            type:
              - integer
              - "null"
          feedback_list:
            type:
              - string
              - "null"
          finish_datetime:
            type:
              - string
              - "null"
            format: date-time
          id:
            type:
              - integer
              - "null"
          modified:
            type:
              - string
              - "null"
            format: date-time
          phase:
            type:
              - object
              - "null"
            properties:
              _self:
                type:
                  - string
                  - "null"
              created:
                type:
                  - string
                  - "null"
                format: date-time
              id:
                type:
                  - integer
                  - "null"
              modified:
                type:
                  - string
                  - "null"
                format: date-time
              name:
                type:
                  - string
                  - "null"
          project:
            type:
              - string
              - "null"
          risk_profiles:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                formula:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - integer
                    - "null"
                over_run:
                  type:
                    - integer
                    - "null"
                risk_level:
                  type:
                    - string
                    - "null"
          start_datetime:
            type:
              - string
              - "null"
          task_list:
            type:
              - string
              - "null"
          title:
            type:
              - string
              - "null"
  - type: DeclarativeStream
    name: phases
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['company'] }}.hellobaton.com/api/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: api_key
        path: phases
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next", {}) }}'
          stop_condition: '{{ not response.get("next", {}) }}'
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          _self:
            type:
              - string
              - "null"
          created:
            type:
              - string
              - "null"
            format: date-time
          id:
            type:
              - integer
              - "null"
          modified:
            type:
              - string
              - "null"
            format: date-time
          name:
            type:
              - string
              - "null"
          order:
            type:
              - integer
              - "null"
  - type: DeclarativeStream
    name: project_attachments
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['company'] }}.hellobaton.com/api/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: api_key
        path: project_attachments
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next", {}) }}'
          stop_condition: '{{ not response.get("next", {}) }}'
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          type:
            type:
              - string
              - "null"
          _self:
            type:
              - string
              - "null"
          created:
            type:
              - string
              - "null"
            format: date-time
          created_by:
            type:
              - string
              - "null"
          id:
            type:
              - integer
              - "null"
          is_sow:
            type:
              - boolean
              - "null"
          label:
            type:
              - string
              - "null"
          modified:
            type:
              - string
              - "null"
            format: date-time
          original_filename:
            type:
              - string
              - "null"
          project:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
  - type: DeclarativeStream
    name: projects
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['company'] }}.hellobaton.com/api/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: api_key
        path: projects
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next", {}) }}'
          stop_condition: '{{ not response.get("next", {}) }}'
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          _self:
            type:
              - string
              - "null"
          annual_contract_value:
            type:
              - string
              - "null"
          archived:
            type:
              - boolean
              - "null"
          attachment_list:
            type:
              - string
              - "null"
          client_systems:
            type:
              - string
              - "null"
          companies:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          completed_datetime:
            type:
              - string
              - "null"
            format: date-time
          cost:
            type:
              - integer
              - "null"
          created:
            type:
              - string
              - "null"
            format: date-time
          created_from:
            type:
              - string
              - "null"
          created_from_template:
            type:
              - string
              - "null"
          creator:
            type:
              - string
              - "null"
          custom_field_list:
            type:
              - string
              - "null"
          deadline_datetime:
            type:
              - string
              - "null"
            format: date-time
          estimated_duration:
            type:
              - integer
              - "null"
          id:
            type:
              - integer
              - "null"
          implementation_budget:
            type:
              - string
              - "null"
          milestone_feedback_list:
            type:
              - string
              - "null"
          milestone_list:
            type:
              - string
              - "null"
          modified:
            type:
              - string
              - "null"
            format: date-time
          phase:
            type:
              - object
              - "null"
            properties:
              _self:
                type:
                  - string
                  - "null"
              created:
                type:
                  - string
                  - "null"
                format: date-time
              id:
                type:
                  - integer
                  - "null"
              modified:
                type:
                  - string
                  - "null"
                format: date-time
              name:
                type:
                  - string
                  - "null"
              order:
                type:
                  - integer
                  - "null"
          project_phases_list:
            type:
              - string
              - "null"
          project_user_list:
            type:
              - string
              - "null"
          risk_profiles:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                formula:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - integer
                    - "null"
                level:
                  type:
                    - string
                    - "null"
                projected_golive_datetime:
                  type:
                    - string
                    - "null"
                  format: date-time
                risk_score:
                  type:
                    - number
                    - "null"
                variance:
                  type:
                    - integer
                    - "null"
          start_datetime:
            type:
              - string
              - "null"
            format: date-time
          started_datetime:
            type:
              - string
              - "null"
            format: date-time
          status:
            type:
              - string
              - "null"
          task_list:
            type:
              - string
              - "null"
          time_entry_list:
            type:
              - string
              - "null"
          title:
            type:
              - string
              - "null"
  - type: DeclarativeStream
    name: tasks
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['company'] }}.hellobaton.com/api/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: api_key
        path: tasks
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next", {}) }}'
          stop_condition: '{{ not response.get("next", {}) }}'
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          _self:
            type:
              - string
              - "null"
          assigned_to:
            type:
              - string
              - "null"
          attachment_list:
            type:
              - string
              - "null"
          created:
            type:
              - string
              - "null"
            format: date-time
          created_by:
            type:
              - string
              - "null"
          created_from:
            type:
              - string
              - "null"
          dependencies:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          description:
            type:
              - string
              - "null"
          due_datetime:
            type:
              - string
              - "null"
            format: date-time
          estimated_duration:
            type:
              - integer
              - "null"
          finished_datetime:
            type:
              - string
              - "null"
            format: date-time
          finished_overridden_datetime:
            type:
              - string
              - "null"
            format: date-time
          id:
            type:
              - integer
              - "null"
          milestone:
            type:
              - string
              - "null"
          modified:
            type:
              - string
              - "null"
            format: date-time
          project:
            type:
              - string
              - "null"
          risk_profiles:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                cool_down:
                  type:
                    - integer
                    - "null"
                duration:
                  type:
                    - integer
                    - "null"
                estimated_duration:
                  type:
                    - integer
                    - "null"
                formula:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - integer
                    - "null"
                over_run:
                  type:
                    - integer
                    - "null"
                reason:
                  type:
                    - integer
                    - "null"
                risk_level:
                  type:
                    - string
                    - "null"
                task_variance:
                  type:
                    - integer
                    - "null"
          start_datetime:
            type:
              - string
              - "null"
            format: date-time
          started_datetime:
            type:
              - string
              - "null"
            format: date-time
          started_overridden_datetime:
            type:
              - string
              - "null"
            format: date-time
          status:
            type:
              - string
              - "null"
          time_entry_list:
            type:
              - string
              - "null"
          title:
            type:
              - string
              - "null"
  - type: DeclarativeStream
    name: task_attachments
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['company'] }}.hellobaton.com/api/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: api_key
        path: task_attachments
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next", {}) }}'
          stop_condition: '{{ not response.get("next", {}) }}'
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          type:
            type:
              - string
              - "null"
          _self:
            type:
              - string
              - "null"
          approved:
            type:
              - boolean
              - "null"
          created:
            type:
              - string
              - "null"
          created_by:
            type:
              - string
              - "null"
          deliverable:
            type:
              - boolean
              - "null"
          id:
            type:
              - integer
              - "null"
          label:
            type:
              - string
              - "null"
          modified:
            type:
              - string
              - "null"
          original_filename:
            type:
              - string
              - "null"
          requires_approval:
            type:
              - boolean
              - "null"
          revision_task:
            type:
              - string
              - "null"
          task:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
  - type: DeclarativeStream
    name: templates
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['company'] }}.hellobaton.com/api/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: api_key
        path: templates
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next", {}) }}'
          stop_condition: '{{ not response.get("next", {}) }}'
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          _self:
            type:
              - string
              - "null"
          annual_contract_value:
            type:
              - string
              - "null"
          client_systems:
            type:
              - string
              - "null"
          completed_datetime:
            type:
              - string
              - "null"
            format: date-time
          cost:
            type:
              - string
              - "null"
          created_from:
            type:
              - string
              - "null"
          created_from_template:
            type:
              - string
              - "null"
          creator:
            type:
              - string
              - "null"
          deadline_datetime:
            type:
              - string
              - "null"
            format: date-time
          estimated_duration:
            type:
              - integer
              - "null"
          id:
            type:
              - integer
              - "null"
          implementation_budget:
            type:
              - string
              - "null"
          phase:
            type:
              - object
              - "null"
            properties:
              _self:
                type:
                  - string
                  - "null"
              created:
                type:
                  - string
                  - "null"
                format: date-time
              id:
                type:
                  - integer
                  - "null"
              modified:
                type:
                  - string
                  - "null"
                format: date-time
              order:
                type:
                  - integer
                  - "null"
          start_datetime:
            type:
              - string
              - "null"
            format: date-time
          started_datetime:
            type:
              - string
              - "null"
            format: date-time
          status:
            type:
              - string
              - "null"
          task_list:
            type:
              - string
              - "null"
          title:
            type:
              - string
              - "null"
  - type: DeclarativeStream
    name: time_entries
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['company'] }}.hellobaton.com/api/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: api_key
        path: time_entries
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next", {}) }}'
          stop_condition: '{{ not response.get("next", {}) }}'
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          _self:
            type:
              - string
              - "null"
          billable:
            type:
              - boolean
              - "null"
          calculated_duration:
            type:
              - integer
              - "null"
          created_by:
            type:
              - string
              - "null"
          ended_at:
            type:
              - string
              - "null"
            format: date-time
          id:
            type:
              - integer
              - "null"
          inputted_duration:
            type:
              - integer
              - "null"
          notes:
            type:
              - string
              - "null"
          project:
            type:
              - string
              - "null"
          rate:
            type:
              - object
              - "null"
            properties:
              hourly_rate:
                type:
                  - string
                  - "null"
              id:
                type:
                  - integer
                  - "null"
          reference_date:
            type:
              - string
              - "null"
            format: date-time
          started_at:
            type:
              - string
              - "null"
            format: date-time
          task:
            type:
              - string
              - "null"
          user:
            type:
              - string
              - "null"
  - type: DeclarativeStream
    name: users
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['company'] }}.hellobaton.com/api/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: api_key
        path: users
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next", {}) }}'
          stop_condition: '{{ not response.get("next", {}) }}'
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-04/schema#
        additionalProperties: true
        properties:
          _self:
            type:
              - string
              - "null"
          account_type:
            type:
              - string
              - "null"
          avatar_url:
            type:
              - string
              - "null"
          capacity:
            type:
              - integer
              - "null"
          company:
            type:
              - string
              - "null"
          created:
            type:
              - string
              - "null"
            format: date-time
          created_by:
            type:
              - string
              - "null"
          department:
            type:
              - object
              - "null"
          email:
            type:
              - string
              - "null"
          first_name:
            type:
              - string
              - "null"
          id:
            type:
              - integer
              - "null"
          job_title:
            type:
              - string
              - "null"
          last_name:
            type:
              - string
              - "null"
          modified:
            type:
              - string
              - "null"
            format: date-time
          signed_up_at:
            type:
              - string
              - "null"
            format: date-time
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - api_key
      - company
    properties:
      api_key:
        type: string
        title: API Key
        description: authentication key required to access the api endpoints
        airbyte_secret: true
        order: 1
      company:
        type: string
        title: company
        description: Company name that generates your base api url
        examples:
          - google
          - facebook
          - microsoft
        order: 2
    additionalProperties: true
metadata:
  autoImportSchema:
    activity: false
    companies: false
    milestones: false
    phases: false
    project_attachments: false
    projects: false
    tasks: false
    task_attachments: false
    templates: false
    time_entries: false
    users: false
schemas:
  activity:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      _self:
        type:
          - string
          - "null"
      actor:
        type:
          - string
          - "null"
      child:
        type:
          - string
          - "null"
      child_type:
        type:
          - string
          - "null"
      created:
        type:
          - string
          - "null"
        format: date-time
      group:
        type:
          - string
          - "null"
      id:
        type:
          - integer
          - "null"
      meta:
        type:
          - object
          - "null"
      modified:
        type:
          - string
          - "null"
        format: date-time
      parent:
        type:
          - string
          - "null"
      parent_type:
        type:
          - string
          - "null"
      project:
        type:
          - string
          - "null"
  companies:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      _self:
        type:
          - string
          - "null"
      created:
        type:
          - string
          - "null"
        format: date-time
      id:
        type:
          - integer
          - "null"
      modified:
        type:
          - string
          - "null"
        format: date-time
      name:
        type:
          - string
          - "null"
  milestones:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    properties:
      _self:
        type:
          - string
          - "null"
      created:
        type:
          - string
          - "null"
        format: date-time
      created_from:
        type:
          - string
          - "null"
      deadline_datetime:
        type:
          - string
          - "null"
        format: date-time
      deadline_fixed:
        type:
          - boolean
          - "null"
      description:
        type:
          - string
          - "null"
      duration:
        type:
          - integer
          - "null"
      feedback_list:
        type:
          - string
          - "null"
      finish_datetime:
        type:
          - string
          - "null"
        format: date-time
      id:
        type:
          - integer
          - "null"
      modified:
        type:
          - string
          - "null"
        format: date-time
      phase:
        type:
          - object
          - "null"
        properties:
          _self:
            type:
              - string
              - "null"
          created:
            type:
              - string
              - "null"
            format: date-time
          id:
            type:
              - integer
              - "null"
          modified:
            type:
              - string
              - "null"
            format: date-time
          name:
            type:
              - string
              - "null"
      project:
        type:
          - string
          - "null"
      risk_profiles:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            formula:
              type:
                - string
                - "null"
            id:
              type:
                - integer
                - "null"
            over_run:
              type:
                - integer
                - "null"
            risk_level:
              type:
                - string
                - "null"
      start_datetime:
        type:
          - string
          - "null"
      task_list:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
  phases:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    properties:
      _self:
        type:
          - string
          - "null"
      created:
        type:
          - string
          - "null"
        format: date-time
      id:
        type:
          - integer
          - "null"
      modified:
        type:
          - string
          - "null"
        format: date-time
      name:
        type:
          - string
          - "null"
      order:
        type:
          - integer
          - "null"
  project_attachments:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      _self:
        type:
          - string
          - "null"
      created:
        type:
          - string
          - "null"
        format: date-time
      created_by:
        type:
          - string
          - "null"
      id:
        type:
          - integer
          - "null"
      is_sow:
        type:
          - boolean
          - "null"
      label:
        type:
          - string
          - "null"
      modified:
        type:
          - string
          - "null"
        format: date-time
      original_filename:
        type:
          - string
          - "null"
      project:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
  projects:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    properties:
      _self:
        type:
          - string
          - "null"
      annual_contract_value:
        type:
          - string
          - "null"
      archived:
        type:
          - boolean
          - "null"
      attachment_list:
        type:
          - string
          - "null"
      client_systems:
        type:
          - string
          - "null"
      companies:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      completed_datetime:
        type:
          - string
          - "null"
        format: date-time
      cost:
        type:
          - integer
          - "null"
      created:
        type:
          - string
          - "null"
        format: date-time
      created_from:
        type:
          - string
          - "null"
      created_from_template:
        type:
          - string
          - "null"
      creator:
        type:
          - string
          - "null"
      custom_field_list:
        type:
          - string
          - "null"
      deadline_datetime:
        type:
          - string
          - "null"
        format: date-time
      estimated_duration:
        type:
          - integer
          - "null"
      id:
        type:
          - integer
          - "null"
      implementation_budget:
        type:
          - string
          - "null"
      milestone_feedback_list:
        type:
          - string
          - "null"
      milestone_list:
        type:
          - string
          - "null"
      modified:
        type:
          - string
          - "null"
        format: date-time
      phase:
        type:
          - object
          - "null"
        properties:
          _self:
            type:
              - string
              - "null"
          created:
            type:
              - string
              - "null"
            format: date-time
          id:
            type:
              - integer
              - "null"
          modified:
            type:
              - string
              - "null"
            format: date-time
          name:
            type:
              - string
              - "null"
          order:
            type:
              - integer
              - "null"
      project_phases_list:
        type:
          - string
          - "null"
      project_user_list:
        type:
          - string
          - "null"
      risk_profiles:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            formula:
              type:
                - string
                - "null"
            id:
              type:
                - integer
                - "null"
            level:
              type:
                - string
                - "null"
            projected_golive_datetime:
              type:
                - string
                - "null"
              format: date-time
            risk_score:
              type:
                - number
                - "null"
            variance:
              type:
                - integer
                - "null"
      start_datetime:
        type:
          - string
          - "null"
        format: date-time
      started_datetime:
        type:
          - string
          - "null"
        format: date-time
      status:
        type:
          - string
          - "null"
      task_list:
        type:
          - string
          - "null"
      time_entry_list:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
  tasks:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    properties:
      _self:
        type:
          - string
          - "null"
      assigned_to:
        type:
          - string
          - "null"
      attachment_list:
        type:
          - string
          - "null"
      created:
        type:
          - string
          - "null"
        format: date-time
      created_by:
        type:
          - string
          - "null"
      created_from:
        type:
          - string
          - "null"
      dependencies:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      description:
        type:
          - string
          - "null"
      due_datetime:
        type:
          - string
          - "null"
        format: date-time
      estimated_duration:
        type:
          - integer
          - "null"
      finished_datetime:
        type:
          - string
          - "null"
        format: date-time
      finished_overridden_datetime:
        type:
          - string
          - "null"
        format: date-time
      id:
        type:
          - integer
          - "null"
      milestone:
        type:
          - string
          - "null"
      modified:
        type:
          - string
          - "null"
        format: date-time
      project:
        type:
          - string
          - "null"
      risk_profiles:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            cool_down:
              type:
                - integer
                - "null"
            duration:
              type:
                - integer
                - "null"
            estimated_duration:
              type:
                - integer
                - "null"
            formula:
              type:
                - string
                - "null"
            id:
              type:
                - integer
                - "null"
            over_run:
              type:
                - integer
                - "null"
            reason:
              type:
                - integer
                - "null"
            risk_level:
              type:
                - string
                - "null"
            task_variance:
              type:
                - integer
                - "null"
      start_datetime:
        type:
          - string
          - "null"
        format: date-time
      started_datetime:
        type:
          - string
          - "null"
        format: date-time
      started_overridden_datetime:
        type:
          - string
          - "null"
        format: date-time
      status:
        type:
          - string
          - "null"
      time_entry_list:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
  task_attachments:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      _self:
        type:
          - string
          - "null"
      approved:
        type:
          - boolean
          - "null"
      created:
        type:
          - string
          - "null"
      created_by:
        type:
          - string
          - "null"
      deliverable:
        type:
          - boolean
          - "null"
      id:
        type:
          - integer
          - "null"
      label:
        type:
          - string
          - "null"
      modified:
        type:
          - string
          - "null"
      original_filename:
        type:
          - string
          - "null"
      requires_approval:
        type:
          - boolean
          - "null"
      revision_task:
        type:
          - string
          - "null"
      task:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
  templates:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    properties:
      _self:
        type:
          - string
          - "null"
      annual_contract_value:
        type:
          - string
          - "null"
      client_systems:
        type:
          - string
          - "null"
      completed_datetime:
        type:
          - string
          - "null"
        format: date-time
      cost:
        type:
          - string
          - "null"
      created_from:
        type:
          - string
          - "null"
      created_from_template:
        type:
          - string
          - "null"
      creator:
        type:
          - string
          - "null"
      deadline_datetime:
        type:
          - string
          - "null"
        format: date-time
      estimated_duration:
        type:
          - integer
          - "null"
      id:
        type:
          - integer
          - "null"
      implementation_budget:
        type:
          - string
          - "null"
      phase:
        type:
          - object
          - "null"
        properties:
          _self:
            type:
              - string
              - "null"
          created:
            type:
              - string
              - "null"
            format: date-time
          id:
            type:
              - integer
              - "null"
          modified:
            type:
              - string
              - "null"
            format: date-time
          order:
            type:
              - integer
              - "null"
      start_datetime:
        type:
          - string
          - "null"
        format: date-time
      started_datetime:
        type:
          - string
          - "null"
        format: date-time
      status:
        type:
          - string
          - "null"
      task_list:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
  time_entries:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    properties:
      _self:
        type:
          - string
          - "null"
      billable:
        type:
          - boolean
          - "null"
      calculated_duration:
        type:
          - integer
          - "null"
      created_by:
        type:
          - string
          - "null"
      ended_at:
        type:
          - string
          - "null"
        format: date-time
      id:
        type:
          - integer
          - "null"
      inputted_duration:
        type:
          - integer
          - "null"
      notes:
        type:
          - string
          - "null"
      project:
        type:
          - string
          - "null"
      rate:
        type:
          - object
          - "null"
        properties:
          hourly_rate:
            type:
              - string
              - "null"
          id:
            type:
              - integer
              - "null"
      reference_date:
        type:
          - string
          - "null"
        format: date-time
      started_at:
        type:
          - string
          - "null"
        format: date-time
      task:
        type:
          - string
          - "null"
      user:
        type:
          - string
          - "null"
  users:
    type: object
    $schema: http://json-schema.org/draft-04/schema#
    additionalProperties: true
    properties:
      _self:
        type:
          - string
          - "null"
      account_type:
        type:
          - string
          - "null"
      avatar_url:
        type:
          - string
          - "null"
      capacity:
        type:
          - integer
          - "null"
      company:
        type:
          - string
          - "null"
      created:
        type:
          - string
          - "null"
        format: date-time
      created_by:
        type:
          - string
          - "null"
      department:
        type:
          - object
          - "null"
      email:
        type:
          - string
          - "null"
      first_name:
        type:
          - string
          - "null"
      id:
        type:
          - integer
          - "null"
      job_title:
        type:
          - string
          - "null"
      last_name:
        type:
          - string
          - "null"
      modified:
        type:
          - string
          - "null"
        format: date-time
      signed_up_at:
        type:
          - string
          - "null"
        format: date-time
