version: 6.48.6

type: DeclarativeSource

description: >-
  A lightweight, declarative Airbyte source that pulls your Applovin advertiser
  report via the /report endpoint into a single report stream. It requests data
  by date range (start_date → now), automatically re-fetching the prior 2 days
  on each run (lookback window = P2D) to capture any late-arriving hourly rows.
  Records are deduplicated in the destination using a composite primary key
  (ad_id, campaign_id_external, creative_set_id, day, hour, placement_type,
  platform). All hourly metrics (cost, clicks, ROAS, etc.) flow through the
  results array via a simple DpathExtractor, enabling both full historical
  backfills and efficient daily incremental loads with zero data loss.

check:
  type: CheckStream
  stream_names:
    - report

definitions:
  streams:
    report:
      type: DeclarativeStream
      name: report
      primary_key:
        - ad_id
        - campaign_id_external
        - creative_set_id
        - day
        - hour
        - placement_type
        - platform
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://r.applovin.com/report
          http_method: GET
          request_parameters:
            format: json
            report_type: advertiser
            columns: >-
              ad,ad_id,campaign,campaign_id_external,cost,country,creative_set,creative_set_id,day,hour,ad_creative_type,ad_type,average_cpc,campaign_bid_goal,chka_0d,chka_1d,chka_2d,chka_3d,chka_7d,chka_usd_0d,chka_usd_1d,chka_usd_2d,chka_usd_3d,chka_usd_7d,clicks,cost_per_chka_0d,cost_per_chka_1d,cost_per_chka_2d,cost_per_chka_3d,cost_per_chka_7d,ctr,custom_page_id,impressions,placement_type,platform,roas_0d,roas_1d,roas_2d,roas_3d,roas_7d,sales,size
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
          schema_normalization: Default
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: day
        lookback_window: P2D
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: end
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/report"
  base_requester:
    type: HttpRequester
    url_base: https://r.applovin.com/
    authenticator:
      type: ApiKeyAuthenticator
      inject_into:
        type: RequestOption
        inject_into: request_parameter
        field_name: api_key
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/report"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    report: true
  testedStreams:
    report:
      streamHash: 7a927175e801f121badd82182f828eaa9f0c83bd
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  report:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      ad:
        type:
          - string
          - "null"
      ad_creative_type:
        type:
          - string
          - "null"
      ad_id:
        type: number
      ad_type:
        type:
          - string
          - "null"
      average_cpc:
        type:
          - number
          - "null"
      campaign:
        type:
          - string
          - "null"
      campaign_bid_goal:
        type:
          - number
          - "null"
      campaign_id_external:
        type: string
      chka_0d:
        type:
          - number
          - "null"
      chka_1d:
        type:
          - number
          - "null"
      chka_2d:
        type:
          - number
          - "null"
      chka_3d:
        type:
          - number
          - "null"
      chka_7d:
        type:
          - number
          - "null"
      chka_usd_0d:
        type:
          - number
          - "null"
      chka_usd_1d:
        type:
          - number
          - "null"
      chka_usd_2d:
        type:
          - number
          - "null"
      chka_usd_3d:
        type:
          - number
          - "null"
      chka_usd_7d:
        type:
          - number
          - "null"
      clicks:
        type:
          - number
          - "null"
      cost:
        type:
          - number
          - "null"
      cost_per_chka_0d:
        type:
          - number
          - "null"
      cost_per_chka_1d:
        type:
          - number
          - "null"
      cost_per_chka_2d:
        type:
          - string
          - "null"
      cost_per_chka_3d:
        type:
          - number
          - "null"
      cost_per_chka_7d:
        type:
          - number
          - "null"
      country:
        type:
          - string
          - "null"
      creative_set:
        type:
          - string
          - "null"
      creative_set_id:
        type: string
      ctr:
        type:
          - number
          - "null"
      custom_page_id:
        type:
          - string
          - "null"
      day:
        type: string
      hour:
        type: string
      impressions:
        type:
          - number
          - "null"
      placement_type:
        type: string
      platform:
        type: string
      roas_0d:
        type:
          - number
          - "null"
      roas_1d:
        type:
          - number
          - "null"
      roas_2d:
        type:
          - number
          - "null"
      roas_3d:
        type:
          - number
          - "null"
      roas_7d:
        type:
          - number
          - "null"
      sales:
        type:
          - number
          - "null"
      size:
        type:
          - string
          - "null"
    required:
      - ad_id
      - campaign_id_external
      - creative_set_id
      - day
      - hour
      - placement_type
      - platform
