@use "../../../scss/variables" as vars;

.cardForm {
  padding: 22px 27px 23px 24px;
}

.connectorSelectControl {
  margin-bottom: vars.$spacing-xl;
}

.connectorForm {
  margin-top: vars.$spacing-xl;
}

.connectorFormEmpty {
  margin-top: 0;
}

.intermediateComponentContainer {
  margin-top: vars.$spacing-xl;
}
