version: 6.44.0

type: DeclarativeSource

description: |-
  Website: https://www.stackhawk.com/
  API Reference: https://apidocs.stackhawk.com/reference/getalertmessages

check:
  type: CheckStream
  stream_names:
    - user

definitions:
  streams:
    user:
      type: DeclarativeStream
      name: user
      primary_key:
        - stackhawkId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/user
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - user
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: createdTimestamp
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%ms"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - org_id
              value: >-
                {{ record['external']['organizations'][0]['organization']['id']
                }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/user"
    organization_members:
      type: DeclarativeStream
      name: organization_members
      primary_key:
        - stackhawkId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/org/{{ stream_partition['org_id'] }}/members
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: pageToken
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 0
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: org_id
              partition_field: org_id
              stream:
                $ref: "#/definitions/streams/user_organizations"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: createdTimestamp
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%ms"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organization_members"
    user_organizations:
      type: DeclarativeStream
      name: user_organizations
      primary_key:
        - org_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/user
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - user
              - external
              - organizations
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%ms"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - org_id
              value: "{{ record['organization']['id'] }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - created_at
              value: "{{ record['organization']['createdTimestamp'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/user_organizations"
    organization_audit:
      type: DeclarativeStream
      name: organization_audit
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/org/{{ stream_partition['org_id'] }}/audit
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - auditRecords
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: pageToken
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 0
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: org_id
              partition_field: org_id
              stream:
                $ref: "#/definitions/streams/user_organizations"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: timestamp
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%ms"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organization_audit"
    organization_teams:
      type: DeclarativeStream
      name: organization_teams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v1/org/{{ stream_partition['org_id'] }}/teams
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - teams
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: pageToken
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 0
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: org_id
              partition_field: org_id
              stream:
                $ref: "#/definitions/streams/user_organizations"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organization_teams"
    applications:
      type: DeclarativeStream
      name: applications
      primary_key:
        - applicationId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/org/{{ stream_partition['org_id'] }}/apps
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - applications
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: pageToken
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 0
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: org_id
              partition_field: org_id
              stream:
                $ref: "#/definitions/streams/user_organizations"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/applications"
    environments:
      type: DeclarativeStream
      name: environments
      primary_key:
        - environmentId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/org/{{ stream_partition['org_id'] }}/envs
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - environments
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: pageToken
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 0
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: org_id
              partition_field: org_id
              stream:
                $ref: "#/definitions/streams/user_organizations"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/environments"
  base_requester:
    type: HttpRequester
    url_base: https://api.stackhawk.com/api/
    authenticator:
      type: SessionTokenAuthenticator
      login_requester:
        type: HttpRequester
        url_base: https://api.stackhawk.com/api/v1/auth/login
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
          inject_into:
            type: RequestOption
            field_name: X-ApiKey
            inject_into: header
        http_method: GET
        request_parameters: {}
        request_headers:
          accept: application/json
      session_token_path:
        - token
      request_authentication:
        type: Bearer

streams:
  - $ref: "#/definitions/streams/user"
  - $ref: "#/definitions/streams/organization_members"
  - $ref: "#/definitions/streams/user_organizations"
  - $ref: "#/definitions/streams/organization_audit"
  - $ref: "#/definitions/streams/organization_teams"
  - $ref: "#/definitions/streams/applications"
  - $ref: "#/definitions/streams/environments"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        description: API Key could be found at `https://app.stackhawk.com/settings/apikeys`
        order: 0
        title: API Key
        airbyte_secret: true
      start_date:
        type: string
        order: 1
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  autoImportSchema:
    user: true
    organization_members: true
    user_organizations: true
    organization_audit: true
    organization_teams: true
    applications: true
    environments: true
  testedStreams:
    user:
      streamHash: 71db976e61251ce5e4678a928d27181f3e8a4e8a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    organization_members:
      streamHash: 798030f0321cae3d70b981801c2a073911810b82
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    user_organizations:
      streamHash: 2c3ae919ac004ab59a9f3bbc6f54c7d0e49a5920
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    organization_audit:
      streamHash: 46dca98f18a6a2bc2547f16eee5eb9ad70b6e90b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    organization_teams:
      streamHash: 56275ffa835a5519c8314f6cd4edbfda3e720c1d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    applications:
      streamHash: d6050b199699754cbf1818ceb88fa609e2289153
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    environments:
      streamHash: bc0549d7dce59f4afa518800941828b6adc747ed
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  user:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdTimestamp:
        type: string
      external:
        type:
          - object
          - "null"
        properties:
          metadata:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - string
                    - "null"
          applicationIds:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          avatarUrl:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          fullName:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          organizations:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                metadata:
                  type:
                    - array
                    - "null"
                achievements:
                  type:
                    - array
                    - "null"
                features:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      enabled:
                        type:
                          - boolean
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                organization:
                  type:
                    - object
                    - "null"
                  properties:
                    createdTimestamp:
                      type:
                        - string
                        - "null"
                    features:
                      type:
                        - array
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    isLinkedToExternalBilling:
                      type:
                        - boolean
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    plan:
                      type:
                        - string
                        - "null"
                    settings:
                      type:
                        - object
                        - "null"
                      properties:
                        customPluginLimit:
                          type:
                            - string
                            - "null"
                        isOrganizationSamlOnly:
                          type:
                            - boolean
                            - "null"
                        isTurnedOffAI:
                          type:
                            - boolean
                            - "null"
                    subscription:
                      type:
                        - object
                        - "null"
                      properties:
                        appCount:
                          type:
                            - string
                            - "null"
                        customerId:
                          type:
                            - string
                            - "null"
                        endDate:
                          type:
                            - string
                            - "null"
                        isEnabled:
                          type:
                            - boolean
                            - "null"
                        isSelfServe:
                          type:
                            - boolean
                            - "null"
                        productId:
                          type:
                            - string
                            - "null"
                        productName:
                          type:
                            - string
                            - "null"
                        quantity:
                          type:
                            - string
                            - "null"
                        recurringInterval:
                          type:
                            - string
                            - "null"
                        recurringIntervalCount:
                          type:
                            - string
                            - "null"
                        stackhawkOrgId:
                          type:
                            - string
                            - "null"
                        startDate:
                          type:
                            - string
                            - "null"
                        status:
                          type:
                            - string
                            - "null"
                        subscriptionId:
                          type:
                            - string
                            - "null"
                        unitAmount:
                          type:
                            - string
                            - "null"
                        userCount:
                          type:
                            - string
                            - "null"
                role:
                  type:
                    - string
                    - "null"
          preferences:
            type:
              - object
              - "null"
            properties:
              defaultOrganizationId:
                type:
                  - string
                  - "null"
              dontReceiveTrialingEmails:
                type:
                  - boolean
                  - "null"
              dontReceiveUpdatesEmail:
                type:
                  - boolean
                  - "null"
              dontReceiveWeeklyEmail:
                type:
                  - boolean
                  - "null"
      org_id:
        type:
          - string
          - "null"
      organizationIds:
        type:
          - array
          - "null"
      provider:
        type:
          - object
          - "null"
        properties:
          clientId:
            type:
              - string
              - "null"
          created:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
      stackhawkId:
        type: string
    required:
      - stackhawkId
      - createdTimestamp
  organization_members:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdTimestamp:
        type: string
      external:
        type:
          - object
          - "null"
        properties:
          metadata:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - string
                    - "null"
          applicationIds:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          avatarUrl:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          fullName:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          organizations:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                metadata:
                  type:
                    - array
                    - "null"
                achievements:
                  type:
                    - array
                    - "null"
                features:
                  type:
                    - array
                    - "null"
                organization:
                  type:
                    - object
                    - "null"
                  properties:
                    createdTimestamp:
                      type:
                        - string
                        - "null"
                    features:
                      type:
                        - array
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    isLinkedToExternalBilling:
                      type:
                        - boolean
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    plan:
                      type:
                        - string
                        - "null"
                    settings:
                      type:
                        - object
                        - "null"
                      properties:
                        customPluginLimit:
                          type:
                            - string
                            - "null"
                        isOrganizationSamlOnly:
                          type:
                            - boolean
                            - "null"
                        isTurnedOffAI:
                          type:
                            - boolean
                            - "null"
                    subscription:
                      type:
                        - object
                        - "null"
                      properties:
                        appCount:
                          type:
                            - string
                            - "null"
                        customerId:
                          type:
                            - string
                            - "null"
                        endDate:
                          type:
                            - string
                            - "null"
                        isEnabled:
                          type:
                            - boolean
                            - "null"
                        isSelfServe:
                          type:
                            - boolean
                            - "null"
                        productId:
                          type:
                            - string
                            - "null"
                        productName:
                          type:
                            - string
                            - "null"
                        quantity:
                          type:
                            - string
                            - "null"
                        recurringInterval:
                          type:
                            - string
                            - "null"
                        recurringIntervalCount:
                          type:
                            - string
                            - "null"
                        stackhawkOrgId:
                          type:
                            - string
                            - "null"
                        startDate:
                          type:
                            - string
                            - "null"
                        status:
                          type:
                            - string
                            - "null"
                        subscriptionId:
                          type:
                            - string
                            - "null"
                        unitAmount:
                          type:
                            - string
                            - "null"
                        userCount:
                          type:
                            - string
                            - "null"
                role:
                  type:
                    - string
                    - "null"
          preferences:
            type:
              - object
              - "null"
            properties:
              defaultOrganizationId:
                type:
                  - string
                  - "null"
              dontReceiveTrialingEmails:
                type:
                  - boolean
                  - "null"
              dontReceiveUpdatesEmail:
                type:
                  - boolean
                  - "null"
              dontReceiveWeeklyEmail:
                type:
                  - boolean
                  - "null"
      organizationIds:
        type:
          - array
          - "null"
      provider:
        type:
          - object
          - "null"
        properties:
          clientId:
            type:
              - string
              - "null"
          created:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
      stackhawkId:
        type: string
    required:
      - stackhawkId
      - createdTimestamp
  user_organizations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      metadata:
        type:
          - array
          - "null"
      achievements:
        type:
          - array
          - "null"
      created_at:
        type: number
      features:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            enabled:
              type:
                - boolean
                - "null"
            name:
              type:
                - string
                - "null"
      org_id:
        type: string
      organization:
        type:
          - object
          - "null"
        properties:
          createdTimestamp:
            type:
              - string
              - "null"
          features:
            type:
              - array
              - "null"
          id:
            type:
              - string
              - "null"
          isLinkedToExternalBilling:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          plan:
            type:
              - string
              - "null"
          settings:
            type:
              - object
              - "null"
            properties:
              customPluginLimit:
                type:
                  - string
                  - "null"
              isOrganizationSamlOnly:
                type:
                  - boolean
                  - "null"
              isTurnedOffAI:
                type:
                  - boolean
                  - "null"
          subscription:
            type:
              - object
              - "null"
            properties:
              appCount:
                type:
                  - string
                  - "null"
              customerId:
                type:
                  - string
                  - "null"
              endDate:
                type:
                  - string
                  - "null"
              isEnabled:
                type:
                  - boolean
                  - "null"
              isSelfServe:
                type:
                  - boolean
                  - "null"
              productId:
                type:
                  - string
                  - "null"
              productName:
                type:
                  - string
                  - "null"
              quantity:
                type:
                  - string
                  - "null"
              recurringInterval:
                type:
                  - string
                  - "null"
              recurringIntervalCount:
                type:
                  - string
                  - "null"
              stackhawkOrgId:
                type:
                  - string
                  - "null"
              startDate:
                type:
                  - string
                  - "null"
              status:
                type:
                  - string
                  - "null"
              subscriptionId:
                type:
                  - string
                  - "null"
              unitAmount:
                type:
                  - string
                  - "null"
              userCount:
                type:
                  - string
                  - "null"
      role:
        type:
          - string
          - "null"
    required:
      - org_id
      - created_at
  organization_audit:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      organizationId:
        type:
          - string
          - "null"
      payload:
        type:
          - string
          - "null"
      timestamp:
        type: string
      userActivityType:
        type:
          - string
          - "null"
      userEmail:
        type:
          - string
          - "null"
      userIPAddr:
        type:
          - string
          - "null"
      userId:
        type:
          - string
          - "null"
      userName:
        type:
          - string
          - "null"
    required:
      - id
      - timestamp
  organization_teams:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      applications:
        type:
          - array
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      organizationId:
        type:
          - string
          - "null"
      users:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            email:
              type:
                - string
                - "null"
            role:
              type:
                - string
                - "null"
            userId:
              type:
                - string
                - "null"
            userName:
              type:
                - string
                - "null"
    required:
      - id
  applications:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      applicationId:
        type: string
      applicationStatus:
        type:
          - string
          - "null"
      dataType:
        type:
          - string
          - "null"
      env:
        type:
          - string
          - "null"
      envId:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      organizationId:
        type:
          - string
          - "null"
      riskLevel:
        type:
          - string
          - "null"
    required:
      - applicationId
  environments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      applicationId:
        type:
          - string
          - "null"
      applicationName:
        type:
          - string
          - "null"
      applicationStatus:
        type:
          - string
          - "null"
      attackSurface:
        type:
          - object
          - "null"
        properties:
          applicationId:
            type:
              - string
              - "null"
          repositories:
            type:
              - array
              - "null"
      environmentId:
        type: string
      environmentName:
        type:
          - string
          - "null"
      lastScanCompletedTimestamp:
        type:
          - string
          - "null"
      lastScanDuration:
        type:
          - string
          - "null"
      lastScanExternalAlertStats:
        type:
          - array
          - "null"
      lastScanHawkscanVersion:
        type:
          - string
          - "null"
      lastScanHighUntriaged:
        type:
          - number
          - "null"
      lastScanId:
        type:
          - string
          - "null"
      lastScanLowUntriaged:
        type:
          - number
          - "null"
      lastScanMediumUntriaged:
        type:
          - number
          - "null"
      lastScanStatus:
        type:
          - string
          - "null"
      lastScanTimestamp:
        type:
          - string
          - "null"
      lastScanTotalUntriaged:
        type:
          - number
          - "null"
      latestScanConfigHash:
        type:
          - string
          - "null"
      repositoriesCount:
        type:
          - number
          - "null"
      thirtyDayCommitActivity:
        type:
          - number
          - "null"
    required:
      - environmentId
