@use "../../scss/colors";

$titleHeight: 34px;
$groupSpacing: 15px;

.container {
  margin-bottom: 27px;
  min-height: $titleHeight;
  position: relative;
  padding-top: calc($titleHeight / 2);
}

.title {
  padding-right: $groupSpacing;
  display: flex;
  align-items: center;
  height: $titleHeight;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  label {
    padding-bottom: 0;
  }
}

.content {
  border-color: colors.$grey-100;
  border-style: solid;
  border-width: 0 2px 2px;
  border-radius: 8px;

  // box-shadow is used for the top border, so that it overlaps with bottom border when height is 0
  box-shadow: 0 2px colors.$grey-100 inset;
  padding: 0 $groupSpacing;

  // only apply padding when there are children, so that empty group sections border is just a single line
  > :first-child {
    padding-top: calc($groupSpacing + $titleHeight/2);
  }

  > div {
    margin-bottom: $groupSpacing;
  }
}
