@use "../../scss/colors";
@use "../../scss/variables";

$title-height: 34px;

.container {
  margin-bottom: 27px;
  min-height: $title-height;
  position: relative;
  padding-top: calc($title-height / 2);
}

.title {
  padding-right: variables.$spacing-lg;
  display: flex;
  align-items: center;
  height: $title-height;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  label {
    padding-bottom: 0;
  }
}

.content {
  border-color: colors.$grey-100;
  border-style: solid;
  border-width: 0 variables.$border-thick variables.$border-thick;
  border-radius: variables.$border-radius-sm;

  // box-shadow is used for the top border, so that it overlaps with bottom border when height is 0
  box-shadow: 0 variables.$border-thick colors.$grey-100 inset;
  padding: 0 variables.$spacing-lg;

  // only apply padding when there are children, so that empty group sections border is just a single line
  > :first-child {
    padding-top: calc(variables.$spacing-lg + $title-height/2);
  }

  > div {
    margin-bottom: variables.$spacing-lg;
  }
}
