@use "../../scss/colors";

.formGroup {
  margin-bottom: 27px;
  border-color: colors.$grey-100;
  border-style: solid;
  border-top: 2px;
  border-width: 0 2px 2px 2px;
  box-shadow: 0px 2px colors.$grey-100 inset;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0 20px;

  & > :first-child {
    padding-top: 30px;
  }
}

.groupTitle {
  position: relative;
  transform: translateY(50%);
  margin-right: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: auto;
  height: 34px;

  & label {
    padding-bottom: 0;
  }
}
