version: 6.1.0

type: DeclarativeSource

description: |-
  Mailbluster is an email marketing platform.
  Using this connector we can extract data from two streams order and products.
  Docs : https://app.mailbluster.com/api-doc/getting-started

check:
  type: CheckStream
  stream_names:
    - orders

definitions:
  streams:
    orders:
      type: DeclarativeStream
      name: orders
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: orders
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - orders
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageNo
          page_size_option:
            type: RequestOption
            field_name: perPage
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/orders"
    products:
      type: DeclarativeStream
      name: products
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: products
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - products
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageNo
          page_size_option:
            type: RequestOption
            field_name: perPage
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 10
            start_from_page: 1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
  base_requester:
    type: HttpRequester
    url_base: https://api.mailbluster.com/api/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: Authorization
        inject_into: header

streams:
  - $ref: "#/definitions/streams/orders"
  - $ref: "#/definitions/streams/products"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    orders: true
    products: true
  testedStreams:
    orders:
      streamHash: 671537c07e7e979a0e2d90e3f8ed8ad57d515e37
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    products:
      streamHash: 53ceb9165e7846ae98f4ab0c0d8c1e937d15381a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  orders:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      campaign:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          recipientName:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
      createdAt:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      id:
        type: string
      lead:
        type:
          - object
          - "null"
        properties:
          createdAt:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          fields:
            type:
              - object
              - "null"
          firstName:
            type:
              - string
              - "null"
          fullName:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          lastName:
            type:
              - string
              - "null"
          meta:
            type:
              - object
              - "null"
            properties:
              source:
                type:
                  - string
                  - "null"
          subscribed:
            type:
              - boolean
              - "null"
          tags:
            type:
              - array
              - "null"
          updatedAt:
            type:
              - string
              - "null"
      orderItems:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            price:
              type:
                - string
                - "null"
            product:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
            quantity:
              type:
                - number
                - "null"
            totalPrice:
              type:
                - string
                - "null"
      totalPrice:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  products:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
