version: 5.15.0

type: DeclarativeSource

description: >-
  Connector for https://www.wasabi.com API. API docs:
  https://docs.wasabi.com/docs/wasabi-stats-api

check:
  type: CheckStream
  stream_names:
    - standalone_utilizations

definitions:
  streams:
    standalone_utilizations:
      type: DeclarativeStream
      name: standalone_utilizations
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/standalone/utilizations
          http_method: GET
          request_parameters:
            includeRegionalUtilizations: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - Records
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageNum
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 0
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: StartTime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: from
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: to
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/standalone_utilizations"
    standalone_bucket_utilizations:
      type: DeclarativeStream
      name: standalone_bucket_utilizations
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/standalone/utilizations/bucket
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - Records
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageNum
          page_size_option:
            type: RequestOption
            field_name: pageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 0
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: StartTime
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: from
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: to
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/standalone_bucket_utilizations"
  base_requester:
    type: HttpRequester
    url_base: https://stats.wasabisys.com
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: Authorization
        inject_into: header

streams:
  - $ref: "#/definitions/streams/standalone_utilizations"
  - $ref: "#/definitions/streams/standalone_bucket_utilizations"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - start_date
      - api_key
    properties:
      start_date:
        type: string
        order: 0
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      api_key:
        type: string
        description: The API key format is `AccessKey:SecretKey`
        order: 1
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    standalone_utilizations: true
    standalone_bucket_utilizations: true
  testedStreams:
    standalone_utilizations:
      streamHash: a6e7efce5a1718c456382498fdd08ad27b845f78
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    standalone_bucket_utilizations:
      hasRecords: true
      streamHash: 35507d86920146614af160f9b6ebc95e40974c1a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist: {}

schemas:
  standalone_utilizations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      AcctNum:
        type:
          - number
          - "null"
      AcctPlanNum:
        type:
          - number
          - "null"
      CreateTime:
        type:
          - string
          - "null"
      DeleteBytes:
        type:
          - number
          - "null"
      DeletedStorageSizeBytes:
        type:
          - number
          - "null"
      DownloadBytes:
        type:
          - number
          - "null"
      EndTime:
        type:
          - string
          - "null"
      MetadataStorageSizeBytes:
        type:
          - number
          - "null"
      MinStorageChargeBytes:
        type:
          - number
          - "null"
      NumAPICalls:
        type:
          - number
          - "null"
      NumBillableDeletedObjects:
        type:
          - number
          - "null"
      NumBillableObjects:
        type:
          - number
          - "null"
      NumDELETECalls:
        type:
          - number
          - "null"
      NumGETCalls:
        type:
          - number
          - "null"
      NumHEADCalls:
        type:
          - number
          - "null"
      NumLISTCalls:
        type:
          - number
          - "null"
      NumPUTCalls:
        type:
          - number
          - "null"
      OrphanedStorageSizeBytes:
        type:
          - number
          - "null"
      PaddedStorageSizeBytes:
        type:
          - number
          - "null"
      RawStorageSizeBytes:
        type:
          - number
          - "null"
      RegionalUtilizations:
        type:
          - object
          - "null"
        properties:
          eu-central-1:
            type:
              - object
              - "null"
            properties:
              DeleteBytes:
                type:
                  - number
                  - "null"
              DeletedStorageSizeBytes:
                type:
                  - number
                  - "null"
              DownloadBytes:
                type:
                  - number
                  - "null"
              MetadataStorageSizeBytes:
                type:
                  - number
                  - "null"
              NumAPICalls:
                type:
                  - number
                  - "null"
              NumBillableDeletedObjects:
                type:
                  - number
                  - "null"
              NumBillableObjects:
                type:
                  - number
                  - "null"
              NumDELETECalls:
                type:
                  - number
                  - "null"
              NumGETCalls:
                type:
                  - number
                  - "null"
              NumHEADCalls:
                type:
                  - number
                  - "null"
              NumLISTCalls:
                type:
                  - number
                  - "null"
              NumPUTCalls:
                type:
                  - number
                  - "null"
              OrphanedStorageSizeBytes:
                type:
                  - number
                  - "null"
              PaddedStorageSizeBytes:
                type:
                  - number
                  - "null"
              RawStorageSizeBytes:
                type:
                  - number
                  - "null"
              StorageReadBytes:
                type:
                  - number
                  - "null"
              StorageWroteBytes:
                type:
                  - number
                  - "null"
              UploadBytes:
                type:
                  - number
                  - "null"
      StartTime:
        type: string
      StorageReadBytes:
        type:
          - number
          - "null"
      StorageWroteBytes:
        type:
          - number
          - "null"
      UploadBytes:
        type:
          - number
          - "null"
      UtilizationNum:
        type:
          - number
          - "null"
    required:
      - StartTime
  standalone_bucket_utilizations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      AcctNum:
        type:
          - number
          - "null"
      AcctPlanNum:
        type:
          - number
          - "null"
      Bucket:
        type:
          - string
          - "null"
      BucketNum:
        type:
          - number
          - "null"
      BucketUtilizationNum:
        type:
          - number
          - "null"
      CreateTime:
        type:
          - string
          - "null"
      DeleteBytes:
        type:
          - number
          - "null"
      DeletedStorageSizeBytes:
        type:
          - number
          - "null"
      DownloadBytes:
        type:
          - number
          - "null"
      EndTime:
        type:
          - string
          - "null"
      MetadataStorageSizeBytes:
        type:
          - number
          - "null"
      NumAPICalls:
        type:
          - number
          - "null"
      NumBillableDeletedObjects:
        type:
          - number
          - "null"
      NumBillableObjects:
        type:
          - number
          - "null"
      NumDELETECalls:
        type:
          - number
          - "null"
      NumGETCalls:
        type:
          - number
          - "null"
      NumHEADCalls:
        type:
          - number
          - "null"
      NumLISTCalls:
        type:
          - number
          - "null"
      NumPUTCalls:
        type:
          - number
          - "null"
      OrphanedStorageSizeBytes:
        type:
          - number
          - "null"
      PaddedStorageSizeBytes:
        type:
          - number
          - "null"
      RawStorageSizeBytes:
        type:
          - number
          - "null"
      Region:
        type:
          - string
          - "null"
      StartTime:
        type: string
      StorageReadBytes:
        type:
          - number
          - "null"
      StorageWroteBytes:
        type:
          - number
          - "null"
      UploadBytes:
        type:
          - number
          - "null"
    required:
      - StartTime
