version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - per-article
definitions:
  streams:
    per-article:
      type: DeclarativeStream
      name: per-article
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://wikimedia.org/api/rest_v1/metrics/pageviews
          path: >-
            /per-article/{{config.project}}/{{config.access}}/{{config.agent}}/{{config.article}}/daily/{{stream_slice.start_time}}/{{stream_slice.end_time}}
          http_method: GET
          request_headers:
            "User-Agent": "AirbyteWikipediaPageviewsConnector/1.0"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: timestamp
        name: per-article
        cursor_datetime_formats:
          - "%Y%m%d"
          - "%Y%m%d%H"
        datetime_format: "%Y%m%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{config.start}}"
          datetime_format: "%Y%m%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{config.end}}"
          datetime_format: "%Y%m%d"
        step: P1D
        cursor_granularity: P1D
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          additionalProperties: true
          properties:
            access:
              type: string
            agent:
              type: string
            article:
              type: string
            granularity:
              type: string
            project:
              type: string
            timestamp:
              type: string
            views:
              type: integer
              format: int64
    top:
      type: DeclarativeStream
      name: top
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://wikimedia.org/api/rest_v1/metrics/pageviews
          path: >-
            {{ '/top/' ~ config.project ~ '/' ~ config.access ~ '/' ~ config.start[:4]
            ~ '/' ~ config.start[4:6] ~ '/' ~ config.start[6:8] }}
          http_method: GET
          request_headers:
            "User-Agent": "AirbyteWikipediaPageviewsConnector/1.0"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          additionalProperties: true
          properties:
            access:
              type: string
            articles:
              type: array
              items:
                type: object
                properties:
                  article:
                    type: string
                  rank:
                    type: integer
                    format: int32
                  views:
                    type: integer
                    format: int64
            day:
              type: string
            month:
              type: string
            project:
              type: string
            year:
              type: string
            timestamp:
              type: string
  base_requester:
    type: HttpRequester
    url_base: https://wikimedia.org/api/rest_v1/metrics/pageviews
streams:
  - type: DeclarativeStream
    name: per-article
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://wikimedia.org/api/rest_v1/metrics/pageviews
        path: >-
          /per-article/{{config.project}}/{{config.access}}/{{config.agent}}/{{config.article}}/daily/{{stream_slice.start_time}}/{{stream_slice.end_time}}
        http_method: GET
        request_headers:
          "User-Agent": "AirbyteWikipediaPageviewsConnector/1.0"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - items
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: timestamp
      name: per-article
      cursor_datetime_formats:
        - "%Y%m%d"
        - "%Y%m%d%H"
      datetime_format: "%Y%m%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{config.start}}"
        datetime_format: "%Y%m%d"
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{config.end}}"
        datetime_format: "%Y%m%d"
      step: P1D
      cursor_granularity: P1D
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          access:
            type: string
          agent:
            type: string
          article:
            type: string
          granularity:
            type: string
          project:
            type: string
          timestamp:
            type: string
          views:
            type: integer
            format: int64
  - type: DeclarativeStream
    name: top
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://wikimedia.org/api/rest_v1/metrics/pageviews
        path: >-
          {{ '/top/' ~ config.project ~ '/' ~ config.access ~ '/' ~ config.start[:4]
          ~ '/' ~ config.start[4:6] ~ '/' ~ config.start[6:8] }}
        http_method: GET
        request_headers:
          "User-Agent": "AirbyteWikipediaPageviewsConnector/1.0"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - items
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          access:
            type: string
          articles:
            type: array
            items:
              type: object
              properties:
                article:
                  type: string
                rank:
                  type: integer
                  format: int32
                views:
                  type: integer
                  format: int64
          day:
            type: string
          month:
            type: string
          project:
            type: string
          year:
            type: string
          timestamp:
            type: string
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - access
      - agent
      - article
      - country
      - end
      - project
      - start
    properties:
      access:
        type: string
        title: Access
        description: >-
          If you want to filter by access method, use one of desktop, mobile-app
          or mobile-web. If you are interested in pageviews regardless of access
          method, use all-access.
        examples:
          - all-access
          - desktop
          - mobile-app
          - mobile-web
        order: 0
      agent:
        type: string
        title: Agent
        description: >-
          If you want to filter by agent type, use one of user, automated or
          spider. If you are interested in pageviews regardless of agent type,
          use all-agents.
        examples:
          - all-agents
          - user
          - spider
          - automated
        order: 1
      article:
        type: string
        title: Article
        description: >-
          The title of any article in the specified project. Any spaces should
          be replaced with underscores. It also should be URI-encoded, so that
          non-URI-safe characters like %, / or ? are accepted.
        examples:
          - Are_You_the_One%3F
        order: 2
      country:
        type: string
        title: Country
        description: >-
          The ISO 3166-1 alpha-2 code of a country for which to retrieve top
          articles.
        examples:
          - FR
          - IN
        order: 3
      end:
        type: string
        title: End
        description:
          The date of the last day to include, in YYYYMMDD or YYYYMMDDHH
          format.
        order: 4
      project:
        type: string
        title: Project
        description: >-
          If you want to filter by project, use the domain of any Wikimedia
          project.
        examples:
          - en.wikipedia.org
          - www.mediawiki.org
          - commons.wikimedia.org
        order: 5
      start:
        type: string
        title: Start
        description: >-
          The date of the first day to include, in YYYYMMDD or YYYYMMDDHH
          format. Also serves as the date to retrieve data for the top articles.
        order: 6
    additionalProperties: true
metadata:
  autoImportSchema:
    per-article: false
    top: false
schemas:
  per-article:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      access:
        type: string
      agent:
        type: string
      article:
        type: string
      granularity:
        type: string
      project:
        type: string
      timestamp:
        type: string
      views:
        type: integer
        format: int64
  top:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      access:
        type: string
      articles:
        type: array
        items:
          type: object
          properties:
            article:
              type: string
            rank:
              type: integer
              format: int32
            views:
              type: integer
              format: int64
      day:
        type: string
      month:
        type: string
      project:
        type: string
      year:
        type: string
      timestamp:
        type: string
