@use "scss/colors";
@use "scss/variables";

.frequentlyUsedWorkspaces {
  padding-bottom: variables.$spacing-2xl;
  margin-bottom: variables.$spacing-2xl;
  border-bottom: variables.$border-thick solid colors.$grey-100;
  text-align: left;

  &__heading {
    color: colors.$grey-300;
    margin-bottom: variables.$spacing-lg;
  }

  &__list {
    padding: 0;
    list-style: none;
  }
}
