@use "scss/colors";
@use "scss/variables" as vars;

.container {
  padding: vars.$spacing-md vars.$spacing-lg;
  border-radius: vars.$border-radius-lg;
  white-space: break-spaces;
  margin-top: vars.$spacing-lg;

  &.yellow {
    background: colors.$yellow-100;
  }

  &.blue {
    background: colors.$blue-100;
  }

  a {
    color: colors.$dark-blue;

    &:hover,
    &:focus {
      color: colors.$blue-400;
    }
  }
}
