version: 5.10.3

type: DeclarativeSource

description: Synchronizes Bunny accounts

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  streams:
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /graphql
          http_method: POST
          request_body_json:
            query: >-
              query($after: String) { accounts(first: 10, after: $after) { nodes
              { id code timezone accountTypeId industryId employees
              annualRevenue name billingStreet billingCity billingState
              billingZip billingCountry billingContactId shippingStreet
              shippingCity shippingState shippingZip shippingCountry description
              createdAt updatedAt phone fax website currencyId taxNumber groupId
              billingDay netPaymentDays duns ownerUserId payingStatus
              invoiceTemplateId entityUseCode addressValidated
              taxNumberValidated entityId } pageInfo { startCursor endCursor
              hasNextPage hasPreviousPage } } } 
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - accounts
              - nodes
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: variables
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ '{"after": "' + response.data.accounts.pageInfo.endCursor +
              '"}' if response.data.accounts.pageInfo.endCursor else "" }}
            stop_condition: "{{ response.data.accounts.pageInfo.hasNextPage is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['subdomain'] }}.bunny.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key_2\"] }}"

streams:
  - $ref: "#/definitions/streams/accounts"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - subdomain
      - api_key_2
    properties:
      subdomain:
        type: string
        description: The subdomain specific to your Bunny account or service.
        name: subdomain
        order: 0
        title: Subdomain
      api_key_2:
        type: string
        order: 1
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    accounts: true
  testedStreams:
    accounts:
      streamHash: 0f5df1078a0025a355fc093f0aa4e168b9db3d09
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://docs.bunny.com/developer/api-reference/queries

schemas:
  accounts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      accountTypeId:
        type:
          - string
          - "null"
      addressValidated:
        type:
          - boolean
          - "null"
      billingCity:
        type:
          - string
          - "null"
      billingContactId:
        type:
          - string
          - "null"
      billingCountry:
        type:
          - string
          - "null"
      billingDay:
        type:
          - number
          - "null"
      billingState:
        type:
          - string
          - "null"
      billingStreet:
        type:
          - string
          - "null"
      billingZip:
        type:
          - string
          - "null"
      code:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      currencyId:
        type:
          - string
          - "null"
      entityId:
        type:
          - string
          - "null"
      groupId:
        type:
          - string
          - "null"
      id:
        type: string
      industryId:
        type:
          - string
          - "null"
      invoiceTemplateId:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      netPaymentDays:
        type:
          - number
          - "null"
      ownerUserId:
        type:
          - string
          - "null"
      payingStatus:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      shippingCountry:
        type:
          - string
          - "null"
      taxNumberValidated:
        type:
          - boolean
          - "null"
      timezone:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
      website:
        type:
          - string
          - "null"
    required:
      - id
