version: 6.4.0

type: DeclarativeSource

description: |-
  Tinyemail is an email marketing tool.
  We can extract data from campaigns and contacts streams using this connector.
  [API Docs](https://docs.tinyemail.com/docs/tiny-email/tinyemail)

check:
  type: CheckStream
  stream_names:
    - campaigns

definitions:
  streams:
    campaigns:
      type: DeclarativeStream
      name: campaigns
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: campaign
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - campaigns
              - content
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 20
            start_from_page: 0
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns"
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: contacts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - contacts
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    sender_details:
      type: DeclarativeStream
      name: sender_details
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sender-details
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - senderDetailses
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sender_details"
    contact_members:
      type: DeclarativeStream
      name: contact_members
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: contacts/{{ stream_partition.id }}/members
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - members
              - content
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: size
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 100
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/contacts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contact_members"
  base_requester:
    type: HttpRequester
    url_base: https://api.tinyemail.com/v1/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: X-API-KEY
        inject_into: header

streams:
  - $ref: "#/definitions/streams/campaigns"
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/sender_details"
  - $ref: "#/definitions/streams/contact_members"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    campaigns: true
    contacts: true
    sender_details: true
    contact_members: true
  testedStreams:
    campaigns:
      hasRecords: true
      streamHash: 87f4bfbafbdd839a4aa610151245f01bea2cdacb
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    contacts:
      hasRecords: true
      streamHash: abece08aa245b26686fd883cc3320886c9e78990
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    sender_details:
      streamHash: ed2c5285bbe1dc8db23db6e1d0cf87827099194e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    contact_members:
      streamHash: 3a6a387655eeeacce156e1e7f59f4df17b28a1d9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      bounced:
        type:
          - number
          - "null"
      bouncedProgress:
        type:
          - number
          - "null"
      campaign:
        type:
          - object
          - "null"
        properties:
          name:
            type:
              - string
              - "null"
          previewText:
            type:
              - string
              - "null"
          subject:
            type:
              - string
              - "null"
      clicked:
        type:
          - number
          - "null"
      clickedProgress:
        type:
          - number
          - "null"
      contactIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      delivered:
        type:
          - number
          - "null"
      deliveredProgress:
        type:
          - number
          - "null"
      id:
        type: string
      open:
        type:
          - number
          - "null"
      openProgress:
        type:
          - number
          - "null"
      requests:
        type:
          - number
          - "null"
      schedule:
        type:
          - object
          - "null"
        properties:
          dateTime:
            type:
              - string
              - "null"
      senderId:
        type:
          - string
          - "null"
      sent:
        type:
          - number
          - "null"
      spam:
        type:
          - number
          - "null"
      spamProgress:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
      template:
        type:
          - object
          - "null"
        properties:
          html:
            type:
              - string
              - "null"
      totalClicked:
        type:
          - number
          - "null"
      totalClickedProgress:
        type:
          - number
          - "null"
      totalOpen:
        type:
          - number
          - "null"
      totalOpenProgress:
        type:
          - number
          - "null"
      unsubscribed:
        type:
          - number
          - "null"
      unsubscribedProgress:
        type:
          - number
          - "null"
    required:
      - id
  contacts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
      numberOfMembers:
        type:
          - number
          - "null"
    required:
      - id
  sender_details:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      address:
        type:
          - string
          - "null"
      city:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      defaults:
        type:
          - boolean
          - "null"
      dkimSigned:
        type:
          - boolean
          - "null"
      email:
        type:
          - string
          - "null"
      emailConfirmed:
        type:
          - boolean
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      postalCode:
        type:
          - string
          - "null"
      region:
        type:
          - string
          - "null"
    required:
      - id
  contact_members:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      address1:
        type:
          - string
          - "null"
      address2:
        type:
          - string
          - "null"
      birthday:
        type:
          - string
          - "null"
      city:
        type:
          - string
          - "null"
      company:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      lastName:
        type:
          - string
          - "null"
      postalCode:
        type:
          - string
          - "null"
      province:
        type:
          - string
          - "null"
      source:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
