version: 5.15.0

type: DeclarativeSource

description: |-
  Tinyemail is an email marketing tool.
  We can extract data from campaigns and contacts streams using this connector.
  Docs : https://docs.tinyemail.com/docs/tiny-email/tinyemail

check:
  type: CheckStream
  stream_names:
    - campaigns

definitions:
  streams:
    campaigns:
      type: DeclarativeStream
      name: campaigns
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: campaign
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - campaigns
              - content
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns"
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: contacts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - contacts
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
  base_requester:
    type: HttpRequester
    url_base: https://api.tinyemail.com/v1/
    authenticator:
      type: ApiKeyAuthenticator
      inject_into:
        type: RequestOption
        inject_into: header
        field_name: X-API-KEY
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/campaigns"
  - $ref: "#/definitions/streams/contacts"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
    additionalProperties: true

metadata:
  autoImportSchema:
    campaigns: true
    contacts: true
  testedStreams:
    campaigns:
      streamHash: d3acabfc9dc25d75a335b63848f1b6df4e7f199a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    contacts:
      streamHash: abece08aa245b26686fd883cc3320886c9e78990
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      bounced:
        type:
          - number
          - "null"
      bouncedProgress:
        type:
          - number
          - "null"
      campaign:
        type:
          - object
          - "null"
        properties:
          name:
            type:
              - string
              - "null"
          previewText:
            type:
              - string
              - "null"
          subject:
            type:
              - string
              - "null"
      clicked:
        type:
          - number
          - "null"
      clickedProgress:
        type:
          - number
          - "null"
      contactIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      delivered:
        type:
          - number
          - "null"
      deliveredProgress:
        type:
          - number
          - "null"
      id:
        type: string
      open:
        type:
          - number
          - "null"
      openProgress:
        type:
          - number
          - "null"
      requests:
        type:
          - number
          - "null"
      schedule:
        type:
          - object
          - "null"
        properties:
          dateTime:
            type:
              - string
              - "null"
      senderId:
        type:
          - string
          - "null"
      sent:
        type:
          - number
          - "null"
      spam:
        type:
          - number
          - "null"
      spamProgress:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
      template:
        type:
          - object
          - "null"
        properties:
          html:
            type:
              - string
              - "null"
      totalClicked:
        type:
          - number
          - "null"
      totalClickedProgress:
        type:
          - number
          - "null"
      totalOpen:
        type:
          - number
          - "null"
      totalOpenProgress:
        type:
          - number
          - "null"
      unsubscribed:
        type:
          - number
          - "null"
      unsubscribedProgress:
        type:
          - number
          - "null"
    required:
      - id
  contacts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
      numberOfMembers:
        type:
          - number
          - "null"
    required:
      - id
