<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="io.micronaut.http.client" level="DEBUG"/>
<!--    <logger name="io.micronaut.http.server" level="TRACE"/>-->
<!--    <logger name="HTTP_ACCESS_LOGGER" additivity="false" level="info">-->
<!--        <appender-ref ref="httpAccessLogAppender" />-->
<!--    </logger>-->

</configuration>
