version: 0.79.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - booking

definitions:
  streams:
    booking:
      type: DeclarativeStream
      name: booking
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /wa-api/searchBooking
          http_method: POST
          request_parameters:
            date: "{{ config['start_date'] }}"
            auth_hash: "{{ config['auth_hash'] }}"
            restid: "{{ config['restid'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/booking"
  base_requester:
    type: HttpRequester
    url_base: https://app.waiteraid.com

streams:
  - $ref: "#/definitions/streams/booking"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - auth_hash
      - restid
      - start_date
    properties:
      auth_hash:
        type: string
        title: Authentication Hash
        description: >-
          Your WaiterAid API key, obtained from API request with Username and
          Password
        airbyte_secret: true
        order: 0
      restid:
        type: string
        title: Restaurant ID
        description: Your WaiterAid restaurant id from API request to getRestaurants
        airbyte_secret: true
        order: 1
      start_date:
        type: string
        title: Start Date
        description: Start getting data from that date.
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        examples:
          - YYYY-MM-DD
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    booking: false

schemas:
  booking:
    type: object
    properties:
      all_seated:
        type:
          - "null"
          - number
      amount:
        type:
          - "null"
          - number
      arrived:
        type:
          - "null"
          - number
      booking_date:
        type:
          - "null"
          - number
      children_amount:
        type:
          - "null"
          - number
      comment:
        type:
          - "null"
          - string
      confirmed:
        type:
          - "null"
          - number
      date:
        type:
          - "null"
          - string
      end:
        type:
          - "null"
          - number
      guest:
        type: object
        properties:
          address:
            type:
              - "null"
              - string
          city:
            type:
              - "null"
              - string
          comment:
            type:
              - "null"
              - string
          company:
            type:
              - "null"
              - string
          email:
            type:
              - "null"
              - string
          firstname:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - number
          lastname:
            type:
              - "null"
              - string
          mobile:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          other_contact:
            type:
              - "null"
              - string
          postalcode:
            type:
              - "null"
              - string
          restaurant_newsletter:
            type:
              - "null"
              - boolean
          telephone:
            type:
              - "null"
              - string
      guest_left:
        type:
          - "null"
          - number
      has_message:
        type:
          - "null"
          - number
      id:
        type:
          - "null"
          - number
      internet_booking:
        type:
          - "null"
          - number
      internet_booking_confirmed:
        type:
          - "null"
          - number
      langid:
        type:
          - "null"
          - number
      length:
        type:
          - "null"
          - number
      meal:
        type:
          - "null"
          - string
      meal_abbr:
        type:
          - "null"
          - string
      paid:
        type:
          - "null"
          - number
      payActivated:
        type:
          - "null"
          - boolean
      payCharged:
        type:
          - "null"
          - boolean
      payClosed:
        type:
          - "null"
          - boolean
      payStarted:
        type:
          - "null"
          - boolean
      placed:
        type:
          - "null"
          - number
      placed_manually:
        type:
          - "null"
          - number
      products:
        type:
          - "null"
          - number
      start:
        type:
          - "null"
          - number
      status:
        type:
          - "null"
          - string
      table_ids:
        type:
          - "null"
          - number
      tables:
        type:
          - "null"
          - number
      time:
        type:
          - "null"
          - string
      waitinbar:
        type:
          - "null"
          - number
      waitinlist:
        type:
          - "null"
          - number
    additionalProperties: true
