@use "scss/variables";
@use "scss/colors";
@use "scss/mixins";

.container {
  height: 100%;
  display: flex;
}

.sidebar {
  @include mixins.shadow;

  width: 220px;
  flex: 0 0 auto;
  background-color: colors.$white;
  border-left: 1px solid colors.$grey-100;
}

.form {
  flex: 1;
  padding: variables.$spacing-xl;
  overflow: auto;
  display: flex;
  justify-content: center;
}
