@use "scss/variables";
@use "scss/colors";

.container {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-md;
  height: 100%;
}

.heading {
  text-align: center;
  font-size: 14px;
}
