@use "scss/variables";
@use "scss/colors";

.inputForm {
  gap: variables.$spacing-lg;
  display: flex;
  flex-direction: column;
}

.deleteButtonContainer {
  flex-grow: 1;
}

.calloutContainer {
  padding: variables.$spacing-md variables.$spacing-lg;
}
