@use "scss/variables";
@use "scss/colors";

// .container {
//   display: flex;
//   flex-direction: column;
//   gap: variables.$spacing-md;
// }

.inputContainer {
  width: 100%;
  display: flex;
  gap: variables.$spacing-md;
  align-items: center;
}

.labeledInput {
  display: flex;
  gap: variables.$spacing-sm;
}
