@use "scss/variables";
@use "scss/colors";

.inputContainer {
  width: 100%;
  display: flex;
  gap: variables.$spacing-xl;
  align-items: center;
}

.labeledInput {
  flex: 1;
  max-width: 400px;
  display: flex;
  gap: variables.$spacing-sm;
  align-items: center;
}

.kvLabel {
  color: colors.$grey;
}

.removeButton {
  border: none;
  background-color: transparent;
  color: colors.$grey-200;
  cursor: pointer;
  padding: 0;
  font-size: 18px;
  transition: variables.$transition;

  &:hover {
    color: colors.$grey-300;
  }
}
