@use "scss/variables";
@use "scss/colors";

$controlButtonWidth: 24px;

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: variables.$spacing-md;
}

.controlButton {
  border: none;
  background-color: transparent;
  color: colors.$grey-400;
  border-radius: variables.$border-radius-xs;
  width: $controlButtonWidth;
  height: $controlButtonWidth;
  padding: variables.$spacing-xs;
  padding: 0;
  cursor: pointer;
  transition: variables.$transition;

  &:hover {
    color: colors.$white;
    background-color: colors.$grey-800;
  }
}

.deleteButton {
  &:hover {
    background-color: colors.$red;
  }
}

.tab {
  background: none;
  border: none;
  padding: variables.$spacing-md;
  border-bottom: variables.$border-thick solid transparent;
  color: colors.$grey-400;
  cursor: pointer;
  display: flex;
  gap: variables.$spacing-md;
  align-items: center;
}

.selectedTab {
  color: colors.$black;
  border-bottom-color: colors.$yellow-900;
}

.errorMessage {
  // hardcode height to prevent resizing when error message is hidden
  height: 16px;
  color: colors.$red;
}

.schemaEditor {
  height: 100%;
}

.multiStreams {
  padding-right: 50px;
}
