@use "scss/variables";
@use "scss/colors";

$deleteButtonWidth: 24px;

.controls {
  display: flex;
  justify-content: center;
}

.deleteButton {
  border: none;
  background-color: transparent;
  color: colors.$grey-400;
  border-radius: variables.$border-radius-xs;
  width: $deleteButtonWidth;
  height: $deleteButtonWidth;
  padding: variables.$spacing-xs;
  padding: 0;
  cursor: pointer;
  transition: variables.$transition;

  &:hover {
    color: colors.$white;
    background-color: colors.$red;
  }
}
