@use "scss/variables";
@use "scss/colors";

.button {
  cursor: pointer;
  border: variables.$border-thin solid colors.$dark-blue;
  background-color: colors.$dark-blue;
  display: flex;
  border-radius: 6px;
  padding: 0;
  overflow: hidden;
  height: 21px;
  width: 96px;
  position: absolute;
  top: 15px;
  left: 52px;
}

.text {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.selected {
  background-color: colors.$white;
  color: colors.$dark-blue;
}

.unselected {
  background-color: transparent;
  color: colors.$white;
}
