@use "scss/variables";
@use "scss/colors";

.changeToHeader {
  margin-left: 200px;
}

.connectorsTable {
  td {
    padding-top: variables.$spacing-sm;
    padding-bottom: variables.$spacing-sm;
  }
}
