@use "scss/variables";
@use "scss/colors";

.changeToHeader {
  margin-left: 200px;
}

.connectorsTable {
  td {
    padding-top: variables.$spacing-sm;
    padding-bottom: variables.$spacing-sm;
  }
}

.thName {
  width: 25%;
}

.thDockerRepository {
  width: 36%;
}

.thDockerImageTag {
  width: 10%;
}
