version: 5.14.0

type: DeclarativeSource

description: >-
  This connector integrates Rarible's API with Airbyte, enabling seamless data
  synchronization of NFT activities, collections, and ownership across multiple
  blockchains. It supports fetching  ownership, orders and other essential
  details to facilitate real-time updates and analytics for NFT marketplaces.

check:
  type: CheckStream
  stream_names:
    - nfts

definitions:
  streams:
    nfts:
      type: DeclarativeStream
      name: nfts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v0.1/items/all
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: continuation
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('continuation') }}"
            stop_condition: "{{ response.get('continuation') is not defined }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: lastUpdatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: "{{ config['lastUpdatedFrom'] }}"
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: "{{ config['lastUpdatedTo'] }}"
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/nfts"
    collections:
      type: DeclarativeStream
      name: collections
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v0.1/collections/all
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - collections
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/collections"
    collection_stats:
      type: DeclarativeStream
      name: collection_stats
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v0.1/data/collections/{{ stream_partition.collection}}/stats
          http_method: GET
          request_parameters:
            currency: "{{ config['currency'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: collection
              stream:
                $ref: "#/definitions/streams/collections"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/collection_stats"
    orders:
      type: DeclarativeStream
      name: orders
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v0.1/orders/all
          http_method: GET
          request_parameters:
            sort: LAST_UPDATE_ASC
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - orders
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: continuation
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('continuation') }}"
            stop_condition: "{{ response.get('continuation') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/orders"
    activities:
      type: DeclarativeStream
      name: activities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v0.1/activities/sync
          http_method: GET
          request_parameters:
            sort: DB_UPDATE_ASC
            blockchain: "{{ config['blockchain'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - activities
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: continuation
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('continuation') }}"
            stop_condition: "{{ response.get('continuation') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/activities"
    user_owned_nfts:
      type: DeclarativeStream
      name: user_owned_nfts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v0.1/items/byOwner
          http_method: GET
          request_parameters:
            owner: "{{ config['owner'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: continuation
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('continuation') }}"
            stop_condition: "{{ response.get('continuation') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/user_owned_nfts"
    users_bid_orders:
      type: DeclarativeStream
      name: users_bid_orders
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v0.1/orders/bids/byMaker
          http_method: GET
          request_parameters:
            maker: "{{ config['maker'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - orders
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: continuation
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('continuation') }}"
            stop_condition: >-
              {{ response.get('continuation') is not defined or
              response.get('continuation') is none }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users_bid_orders"
  base_requester:
    type: HttpRequester
    url_base: https://api.rarible.org
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: X-API-KEY
        inject_into: header

streams:
  - $ref: "#/definitions/streams/nfts"
  - $ref: "#/definitions/streams/collections"
  - $ref: "#/definitions/streams/collection_stats"
  - $ref: "#/definitions/streams/orders"
  - $ref: "#/definitions/streams/activities"
  - $ref: "#/definitions/streams/user_owned_nfts"
  - $ref: "#/definitions/streams/users_bid_orders"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - collection_id
      - blockchain
      - owner
      - maker
      - start_date
      - lastUpdatedFrom
      - lastUpdatedTo
      - currency
    properties:
      api_key:
        type: string
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
      collection_id:
        type: string
        order: 1
        title: Collection Id
        airbyte_secret: true
      blockchain:
        type: string
        order: 2
        title: Blockchain
      owner:
        type: string
        order: 3
        title: Owner
        airbyte_secret: true
      maker:
        type: string
        description: ETHEREUM OR POLYGON or leave empty to get orders from all blockchains
        order: 4
        title: Maker
      start_date:
        type: string
        order: 5
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      lastUpdatedFrom:
        type: integer
        order: 6
        title: lastUpdatedFrom
      lastUpdatedTo:
        type: number
        order: 7
        title: lastUpdatedTo
      currency:
        type: string
        enum:
          - USD
          - ETH
          - XTZ
          - FLOW
          - MATIC
          - SOL
          - MNT
          - CHZ
          - CELO
          - FIEF
          - XAI
          - APT
          - OAS
          - QUAI
          - ROSE
          - MAT
          - PALM
          - FIVIRE
          - GLMR
        order: 8
        title: Currency
        default: USD
    additionalProperties: true

metadata:
  autoImportSchema:
    nfts: true
    collections: true
    collection_stats: true
    orders: true
    activities: true
    user_owned_nfts: true
    users_bid_orders: true
  testedStreams:
    nfts:
      hasRecords: true
      streamHash: 18e4544dce0d4db9cc2dcc3553f983d4575574b6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    collections:
      hasRecords: true
      streamHash: 99e36390c94c0cd173462373fbb8ee3a0aa57fa2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    collection_stats:
      streamHash: 42aa72a7c5aebcfbeb5db399138d7ea1b827138c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    orders:
      streamHash: 5c01b785374fa334473dfd2d9cd2f23d1dc6b45a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    activities:
      streamHash: 0cef27e43b91b4721ed7cb7ac9c03618963cd373
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    user_owned_nfts:
      streamHash: 9ea0542f1d74689bdaf528fdd9c9cee988d8de68
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users_bid_orders:
      streamHash: 1720c1be3e117fd0dcf4bebeb09fa54235b09552
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://docs.rarible.org/reference/getting-started

schemas:
  nfts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type:
          - number
          - "null"
      ammOrders:
        type:
          - object
          - "null"
        properties:
          ids:
            type:
              - array
              - "null"
      auctions:
        type:
          - array
          - "null"
      bestBidOrdersByCurrency:
        type:
          - array
          - "null"
      bestSellOrder:
        type:
          - object
          - "null"
        properties:
          cancelled:
            type:
              - boolean
              - "null"
          createdAt:
            type:
              - string
              - "null"
          data:
            type:
              - object
              - "null"
            properties:
              "@type":
                type:
                  - string
                  - "null"
              conduitKey:
                type:
                  - string
                  - "null"
              consideration:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    endAmount:
                      type:
                        - string
                        - "null"
                    identifierOrCriteria:
                      type:
                        - string
                        - "null"
                    itemType:
                      type:
                        - string
                        - "null"
                    recipient:
                      type:
                        - string
                        - "null"
                    startAmount:
                      type:
                        - string
                        - "null"
                    token:
                      type:
                        - string
                        - "null"
              counter:
                type:
                  - number
                  - "null"
              data:
                type:
                  - object
                  - "null"
              isBundle:
                type:
                  - boolean
                  - "null"
              isCollectionOffer:
                type:
                  - boolean
                  - "null"
              itemHash:
                type:
                  - string
                  - "null"
              nonce:
                type:
                  - string
                  - "null"
              offer:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    endAmount:
                      type:
                        - string
                        - "null"
                    identifierOrCriteria:
                      type:
                        - string
                        - "null"
                    itemType:
                      type:
                        - string
                        - "null"
                    startAmount:
                      type:
                        - string
                        - "null"
                    token:
                      type:
                        - string
                        - "null"
              orderId:
                type:
                  - string
                  - "null"
              orderType:
                type:
                  - string
                  - "null"
              protocol:
                type:
                  - string
                  - "null"
              side:
                type:
                  - number
                  - "null"
              zone:
                type:
                  - string
                  - "null"
              zoneHash:
                type:
                  - string
                  - "null"
          endedAt:
            type:
              - string
              - "null"
          feeTakers:
            type:
              - array
              - "null"
          fill:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          lastUpdatedAt:
            type:
              - string
              - "null"
          make:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - object
                  - "null"
                properties:
                  "@type":
                    type:
                      - string
                      - "null"
                  collection:
                    type:
                      - string
                      - "null"
                  collectionId:
                    type:
                      - string
                      - "null"
                  contract:
                    type:
                      - string
                      - "null"
                  itemId:
                    type:
                      - string
                      - "null"
                  standard:
                    type:
                      - string
                      - "null"
                  tokenId:
                    type:
                      - string
                      - "null"
              value:
                type:
                  - string
                  - "null"
          makePrice:
            type:
              - string
              - "null"
          makePriceUsd:
            type:
              - string
              - "null"
          makeStock:
            type:
              - string
              - "null"
          maker:
            type:
              - string
              - "null"
          optionalRoyalties:
            type:
              - boolean
              - "null"
          platform:
            type:
              - string
              - "null"
          salt:
            type:
              - string
              - "null"
          signature:
            type:
              - string
              - "null"
          startedAt:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          take:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - object
                  - "null"
                properties:
                  "@type":
                    type:
                      - string
                      - "null"
                  blockchain:
                    type:
                      - string
                      - "null"
              value:
                type:
                  - string
                  - "null"
      blockchain:
        type:
          - string
          - "null"
      collection:
        type:
          - string
          - "null"
      contract:
        type:
          - string
          - "null"
      creators:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            account:
              type:
                - string
                - "null"
            value:
              type:
                - number
                - "null"
      deleted:
        type:
          - boolean
          - "null"
      extra:
        type:
          - object
          - "null"
        properties:
          onChainCollectionName:
            type:
              - string
              - "null"
          onChainTokenName:
            type:
              - string
              - "null"
          propertyVersionV1:
            type:
              - string
              - "null"
      features:
        type:
          - array
          - "null"
      id:
        type:
          - string
          - "null"
      itemCollection:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      lastSale:
        type:
          - object
          - "null"
        properties:
          buyer:
            type:
              - string
              - "null"
          currency:
            type:
              - object
              - "null"
            properties:
              "@type":
                type:
                  - string
                  - "null"
              blockchain:
                type:
                  - string
                  - "null"
              contract:
                type:
                  - string
                  - "null"
          date:
            type:
              - string
              - "null"
          price:
            type:
              - string
              - "null"
          seller:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
      lastUpdatedAt:
        type: string
      lazySupply:
        type:
          - string
          - "null"
      meta:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          attributes:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                format:
                  type:
                    - string
                    - "null"
                key:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - string
                    - "null"
          content:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                "@type":
                  type:
                    - string
                    - "null"
                available:
                  type:
                    - boolean
                    - "null"
                height:
                  type:
                    - number
                    - "null"
                mimeType:
                  type:
                    - string
                    - "null"
                representation:
                  type:
                    - string
                    - "null"
                size:
                  type:
                    - number
                    - "null"
                url:
                  type:
                    - string
                    - "null"
                width:
                  type:
                    - number
                    - "null"
          createdAt:
            type:
              - string
              - "null"
          externalUri:
            type:
              - string
              - "null"
          extraContent:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                "@type":
                  type:
                    - string
                    - "null"
                available:
                  type:
                    - boolean
                    - "null"
                height:
                  type:
                    - number
                    - "null"
                mimeType:
                  type:
                    - string
                    - "null"
                representation:
                  type:
                    - string
                    - "null"
                size:
                  type:
                    - number
                    - "null"
                url:
                  type:
                    - string
                    - "null"
                width:
                  type:
                    - number
                    - "null"
          genres:
            type:
              - array
              - "null"
          name:
            type:
              - string
              - "null"
          originalMetaUri:
            type:
              - string
              - "null"
          tags:
            type:
              - array
              - "null"
      mintedAt:
        type:
          - string
          - "null"
      originOrders:
        type:
          - array
          - "null"
      pending:
        type:
          - array
          - "null"
      sellers:
        type:
          - number
          - "null"
      supply:
        type:
          - string
          - "null"
      suspicious:
        type:
          - boolean
          - "null"
      tokenId:
        type:
          - string
          - "null"
      totalStock:
        type:
          - string
          - "null"
    required:
      - lastUpdatedAt
  collections:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      blockchain:
        type:
          - string
          - "null"
      extra:
        type:
          - object
          - "null"
      features:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      hasTraits:
        type:
          - boolean
          - "null"
      id:
        type: string
      meta:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          content:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                "@type":
                  type:
                    - string
                    - "null"
                available:
                  type:
                    - boolean
                    - "null"
                height:
                  type:
                    - number
                    - "null"
                mimeType:
                  type:
                    - string
                    - "null"
                representation:
                  type:
                    - string
                    - "null"
                size:
                  type:
                    - number
                    - "null"
                url:
                  type:
                    - string
                    - "null"
                width:
                  type:
                    - number
                    - "null"
          externalLink:
            type:
              - string
              - "null"
          externalUri:
            type:
              - string
              - "null"
          feeRecipient:
            type:
              - string
              - "null"
          genres:
            type:
              - array
              - "null"
          name:
            type:
              - string
              - "null"
          originalMetaUri:
            type:
              - string
              - "null"
          sellerFeeBasisPoints:
            type:
              - number
              - "null"
          tags:
            type:
              - array
              - "null"
      minters:
        type:
          - array
          - "null"
      name:
        type:
          - string
          - "null"
      originOrders:
        type:
          - array
          - "null"
      owner:
        type:
          - string
          - "null"
      scam:
        type:
          - boolean
          - "null"
      self:
        type:
          - boolean
          - "null"
      shared:
        type:
          - boolean
          - "null"
      spamScore:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
      structure:
        type:
          - string
          - "null"
      symbol:
        type:
          - string
          - "null"
    required:
      - id
  collection_stats:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      highestSale:
        type:
          - number
          - "null"
      items:
        type:
          - number
          - "null"
      listed:
        type:
          - number
          - "null"
      owners:
        type:
          - number
          - "null"
      volume:
        type:
          - number
          - "null"
  orders:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      cancelled:
        type:
          - boolean
          - "null"
      createdAt:
        type:
          - string
          - "null"
      data:
        type:
          - object
          - "null"
        properties:
          "@type":
            type:
              - string
              - "null"
          callData:
            type:
              - string
              - "null"
          exchange:
            type:
              - string
              - "null"
          extra:
            type:
              - string
              - "null"
          fee:
            type:
              - string
              - "null"
          feeMethod:
            type:
              - string
              - "null"
          feeRecipient:
            type:
              - string
              - "null"
          howToCall:
            type:
              - string
              - "null"
          makerProtocolFee:
            type:
              - string
              - "null"
          makerRelayerFee:
            type:
              - string
              - "null"
          replacementPattern:
            type:
              - string
              - "null"
          saleKind:
            type:
              - string
              - "null"
          side:
            type:
              - string
              - "null"
          staticExtraData:
            type:
              - string
              - "null"
          staticTarget:
            type:
              - string
              - "null"
          takerProtocolFee:
            type:
              - string
              - "null"
          takerRelayerFee:
            type:
              - string
              - "null"
      endedAt:
        type:
          - string
          - "null"
      feeTakers:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      fill:
        type:
          - string
          - "null"
      id:
        type: string
      lastUpdatedAt:
        type:
          - string
          - "null"
      make:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - object
              - "null"
            properties:
              "@type":
                type:
                  - string
                  - "null"
              collection:
                type:
                  - string
                  - "null"
              contract:
                type:
                  - string
                  - "null"
              tokenId:
                type:
                  - string
                  - "null"
          value:
            type:
              - string
              - "null"
      makePrice:
        type:
          - string
          - "null"
      makePriceUsd:
        type:
          - string
          - "null"
      makeStock:
        type:
          - string
          - "null"
      maker:
        type:
          - string
          - "null"
      optionalRoyalties:
        type:
          - boolean
          - "null"
      platform:
        type:
          - string
          - "null"
      salt:
        type:
          - string
          - "null"
      signature:
        type:
          - string
          - "null"
      startedAt:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      take:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - object
              - "null"
            properties:
              "@type":
                type:
                  - string
                  - "null"
              blockchain:
                type:
                  - string
                  - "null"
              contract:
                type:
                  - string
                  - "null"
          value:
            type:
              - string
              - "null"
      taker:
        type:
          - string
          - "null"
    required:
      - id
  activities:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      "@type":
        type:
          - string
          - "null"
      date:
        type:
          - string
          - "null"
      hash:
        type:
          - string
          - "null"
      id:
        type: string
      lastUpdatedAt:
        type:
          - string
          - "null"
      make:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - object
              - "null"
            properties:
              "@type":
                type:
                  - string
                  - "null"
              collection:
                type:
                  - string
                  - "null"
              contract:
                type:
                  - string
                  - "null"
              tokenId:
                type:
                  - string
                  - "null"
          value:
            type:
              - string
              - "null"
      maker:
        type:
          - string
          - "null"
      orderId:
        type:
          - string
          - "null"
      price:
        type:
          - string
          - "null"
      priceUsd:
        type:
          - string
          - "null"
      reverted:
        type:
          - boolean
          - "null"
      source:
        type:
          - string
          - "null"
      take:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - object
              - "null"
            properties:
              "@type":
                type:
                  - string
                  - "null"
              blockchain:
                type:
                  - string
                  - "null"
              contract:
                type:
                  - string
                  - "null"
          value:
            type:
              - string
              - "null"
    required:
      - id
  user_owned_nfts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type:
          - number
          - "null"
      ammOrders:
        type:
          - object
          - "null"
        properties:
          ids:
            type:
              - array
              - "null"
      auctions:
        type:
          - array
          - "null"
      bestSellOrder:
        type:
          - object
          - "null"
        properties:
          cancelled:
            type:
              - boolean
              - "null"
          createdAt:
            type:
              - string
              - "null"
          data:
            type:
              - object
              - "null"
            properties:
              "@type":
                type:
                  - string
                  - "null"
              conduitKey:
                type:
                  - string
                  - "null"
              consideration:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    endAmount:
                      type:
                        - string
                        - "null"
                    identifierOrCriteria:
                      type:
                        - string
                        - "null"
                    itemType:
                      type:
                        - string
                        - "null"
                    recipient:
                      type:
                        - string
                        - "null"
                    startAmount:
                      type:
                        - string
                        - "null"
                    token:
                      type:
                        - string
                        - "null"
              counter:
                type:
                  - number
                  - "null"
              isMakeFill:
                type:
                  - boolean
                  - "null"
              nonce:
                type:
                  - string
                  - "null"
              offer:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    endAmount:
                      type:
                        - string
                        - "null"
                    identifierOrCriteria:
                      type:
                        - string
                        - "null"
                    itemType:
                      type:
                        - string
                        - "null"
                    startAmount:
                      type:
                        - string
                        - "null"
                    token:
                      type:
                        - string
                        - "null"
              orderType:
                type:
                  - string
                  - "null"
              originFees:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    account:
                      type:
                        - string
                        - "null"
                    value:
                      type:
                        - number
                        - "null"
              payouts:
                type:
                  - array
                  - "null"
              protocol:
                type:
                  - string
                  - "null"
              zone:
                type:
                  - string
                  - "null"
              zoneHash:
                type:
                  - string
                  - "null"
          endedAt:
            type:
              - string
              - "null"
          feeTakers:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          fill:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          lastUpdatedAt:
            type:
              - string
              - "null"
          make:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - object
                  - "null"
                properties:
                  "@type":
                    type:
                      - string
                      - "null"
                  collection:
                    type:
                      - string
                      - "null"
                  contract:
                    type:
                      - string
                      - "null"
                  tokenId:
                    type:
                      - string
                      - "null"
              value:
                type:
                  - string
                  - "null"
          makePrice:
            type:
              - string
              - "null"
          makePriceUsd:
            type:
              - string
              - "null"
          makeStock:
            type:
              - string
              - "null"
          maker:
            type:
              - string
              - "null"
          optionalRoyalties:
            type:
              - boolean
              - "null"
          platform:
            type:
              - string
              - "null"
          salt:
            type:
              - string
              - "null"
          signature:
            type:
              - string
              - "null"
          startedAt:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          take:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - object
                  - "null"
                properties:
                  "@type":
                    type:
                      - string
                      - "null"
                  blockchain:
                    type:
                      - string
                      - "null"
                  contract:
                    type:
                      - string
                      - "null"
              value:
                type:
                  - string
                  - "null"
      blockchain:
        type:
          - string
          - "null"
      collection:
        type:
          - string
          - "null"
      contract:
        type:
          - string
          - "null"
      creators:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            account:
              type:
                - string
                - "null"
            value:
              type:
                - number
                - "null"
      deleted:
        type:
          - boolean
          - "null"
      features:
        type:
          - array
          - "null"
      id:
        type: string
      itemCollection:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      lastSale:
        type:
          - object
          - "null"
        properties:
          buyer:
            type:
              - string
              - "null"
          currency:
            type:
              - object
              - "null"
            properties:
              "@type":
                type:
                  - string
                  - "null"
              blockchain:
                type:
                  - string
                  - "null"
              contract:
                type:
                  - string
                  - "null"
          date:
            type:
              - string
              - "null"
          price:
            type:
              - string
              - "null"
          seller:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
      lastUpdatedAt:
        type:
          - string
          - "null"
      lazySupply:
        type:
          - string
          - "null"
      meta:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          attributes:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                format:
                  type:
                    - string
                    - "null"
                key:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - string
                    - "null"
          content:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                "@type":
                  type:
                    - string
                    - "null"
                available:
                  type:
                    - boolean
                    - "null"
                height:
                  type:
                    - number
                    - "null"
                mimeType:
                  type:
                    - string
                    - "null"
                representation:
                  type:
                    - string
                    - "null"
                size:
                  type:
                    - number
                    - "null"
                url:
                  type:
                    - string
                    - "null"
                width:
                  type:
                    - number
                    - "null"
          createdAt:
            type:
              - string
              - "null"
          externalUri:
            type:
              - string
              - "null"
          extraContent:
            type:
              - array
              - "null"
          genres:
            type:
              - array
              - "null"
          name:
            type:
              - string
              - "null"
          originalMetaUri:
            type:
              - string
              - "null"
          tags:
            type:
              - array
              - "null"
      mintedAt:
        type:
          - string
          - "null"
      originOrders:
        type:
          - array
          - "null"
      pending:
        type:
          - array
          - "null"
      sellers:
        type:
          - number
          - "null"
      supply:
        type:
          - string
          - "null"
      suspicious:
        type:
          - boolean
          - "null"
      tokenId:
        type:
          - string
          - "null"
      totalStock:
        type:
          - string
          - "null"
    required:
      - id
  users_bid_orders:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      cancelled:
        type:
          - boolean
          - "null"
      createdAt:
        type:
          - string
          - "null"
      data:
        type:
          - object
          - "null"
        properties:
          "@type":
            type:
              - string
              - "null"
          isMakeFill:
            type:
              - boolean
              - "null"
          originFees:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                account:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - number
                    - "null"
          payouts:
            type:
              - array
              - "null"
      endedAt:
        type:
          - string
          - "null"
      feeTakers:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      fill:
        type:
          - string
          - "null"
      id:
        type: string
      lastUpdatedAt:
        type:
          - string
          - "null"
      make:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - object
              - "null"
            properties:
              "@type":
                type:
                  - string
                  - "null"
              contract:
                type:
                  - string
                  - "null"
          value:
            type:
              - string
              - "null"
      makeStock:
        type:
          - string
          - "null"
      maker:
        type:
          - string
          - "null"
      optionalRoyalties:
        type:
          - boolean
          - "null"
      platform:
        type:
          - string
          - "null"
      salt:
        type:
          - string
          - "null"
      signature:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      take:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - object
              - "null"
            properties:
              "@type":
                type:
                  - string
                  - "null"
              collection:
                type:
                  - string
                  - "null"
              contract:
                type:
                  - string
                  - "null"
              tokenId:
                type:
                  - string
                  - "null"
          value:
            type:
              - string
              - "null"
      takePrice:
        type:
          - string
          - "null"
      takePriceUsd:
        type:
          - string
          - "null"
    required:
      - id
