version: 3.8.2

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - listings
    - analytics_aws_marketplace_disbursements

definitions:
  streams:
    buyers:
      type: DeclarativeStream
      name: buyers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /buyers
          http_method: GET
          request_parameters:
            response_format: common
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      transformations:
        - type: RemoveFields
          field_pointers:
            - - registration_details
        - type: RemoveFields
          field_pointers:
            - - metadata
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/buyers"
    listings:
      type: DeclarativeStream
      name: listings
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /listings
          http_method: GET
          request_parameters:
            response_format: common
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      transformations:
        - type: RemoveFields
          field_pointers:
            - - metadata
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/listings"
    contracts:
      type: DeclarativeStream
      name: contracts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /contracts
          http_method: GET
          request_parameters:
            response_format: common
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      transformations:
        - type: RemoveFields
          field_pointers:
            - - metadata
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contracts"
    opportunities:
      type: DeclarativeStream
      name: opportunities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /opportunities
          http_method: GET
          request_parameters:
            response_format: common
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      transformations:
        - type: RemoveFields
          field_pointers:
            - - metadata
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/opportunities"
    private_offers:
      type: DeclarativeStream
      name: private_offers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /private_offers
          http_method: GET
          request_parameters:
            response_format: common
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      transformations:
        - type: RemoveFields
          field_pointers:
            - - metadata
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/private_offers"
    analytics_aws_marketplace_disbursements:
      type: DeclarativeStream
      name: analytics_aws_marketplace_disbursements
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/aws_marketplace_disbursements
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_aws_marketplace_disbursements"
    analytics_aws_marketplace_revenue:
      type: DeclarativeStream
      name: analytics_aws_marketplace_revenue
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/aws_marketplace_revenue
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_aws_marketplace_revenue"
    analytics_aws_cosell_opportunities:
      type: DeclarativeStream
      name: analytics_aws_cosell_opportunities
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/aws_cosell_opportunities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_aws_cosell_opportunities"
    analytics_azure_marketplace_revenue:
      type: DeclarativeStream
      name: analytics_azure_marketplace_revenue
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/azure_marketplace_revenue
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_azure_marketplace_revenue"
    analytics_azure_marketplace_customers:
      type: DeclarativeStream
      name: analytics_azure_marketplace_customers
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/azure_marketplace_customers
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_azure_marketplace_customers"
    analytics_azure_marketplace_orders:
      type: DeclarativeStream
      name: analytics_azure_marketplace_orders
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/azure_marketplace_orders
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_azure_marketplace_orders"
    analytics_azure_marketplace_metered_usage:
      type: DeclarativeStream
      name: analytics_azure_marketplace_metered_usage
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/azure_marketplace_metered_usage
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_azure_marketplace_metered_usage"
    analytics_azure_cosell_opportunities:
      type: DeclarativeStream
      name: analytics_azure_cosell_opportunities
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/azure_cosell_opportunities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_azure_cosell_opportunities"
    analytics_gcp_marketplace_disbursements:
      type: DeclarativeStream
      name: analytics_gcp_marketplace_disbursements
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/gcp_marketplace_disbursements
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_gcp_marketplace_disbursements"
    analytics_gcp_marketplace_disbursements_summary:
      type: DeclarativeStream
      name: analytics_gcp_marketplace_disbursements_summary
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/gcp_marketplace_disbursements_summary
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_gcp_marketplace_disbursements_summary"
    analytics_gcp_marketplace_charges_and_usage:
      type: DeclarativeStream
      name: analytics_gcp_marketplace_charges_and_usage
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/gcp_marketplace_charges_and_usage
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_gcp_marketplace_charges_and_usage"
    analytics_gcp_marketplace_daily_insights:
      type: DeclarativeStream
      name: analytics_gcp_marketplace_daily_insights
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/gcp_marketplace_daily_insights
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_gcp_marketplace_daily_insights"
    analytics_gcp_marketplace_incremental_daily_insights:
      type: DeclarativeStream
      name: analytics_gcp_marketplace_incremental_daily_insights
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/gcp_marketplace_incremental_daily_insights
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_gcp_marketplace_incremental_daily_insights"
    analytics_gcp_marketplace_monthly_insights:
      type: DeclarativeStream
      name: analytics_gcp_marketplace_monthly_insights
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/gcp_marketplace_monthly_insights
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_gcp_marketplace_monthly_insights"
    analytics_gcp_marketplace_incremental_monthly_insights:
      type: DeclarativeStream
      name: analytics_gcp_marketplace_incremental_monthly_insights
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics/datasets/gcp_marketplace_incremental_monthly_insights
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: page_size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 5000
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics_gcp_marketplace_incremental_monthly_insights"
  base_requester:
    type: HttpRequester
    url_base: https://api.clazar.io
    authenticator:
      type: OAuthAuthenticator
      client_id: '{{ config["client_id"] }}'
      grant_type: client_credentials
      client_secret: '{{ config["client_secret"] }}'
      refresh_request_body: {}
      token_refresh_endpoint: https://api.clazar.io/authenticate/

streams:
  - $ref: "#/definitions/streams/buyers"
  - $ref: "#/definitions/streams/listings"
  - $ref: "#/definitions/streams/contracts"
  - $ref: "#/definitions/streams/opportunities"
  - $ref: "#/definitions/streams/private_offers"
  - $ref: "#/definitions/streams/analytics_aws_marketplace_disbursements"
  - $ref: "#/definitions/streams/analytics_aws_marketplace_revenue"
  - $ref: "#/definitions/streams/analytics_aws_cosell_opportunities"
  - $ref: "#/definitions/streams/analytics_azure_marketplace_revenue"
  - $ref: "#/definitions/streams/analytics_azure_marketplace_customers"
  - $ref: "#/definitions/streams/analytics_azure_marketplace_orders"
  - $ref: "#/definitions/streams/analytics_azure_marketplace_metered_usage"
  - $ref: "#/definitions/streams/analytics_azure_cosell_opportunities"
  - $ref: "#/definitions/streams/analytics_gcp_marketplace_disbursements"
  - $ref: "#/definitions/streams/analytics_gcp_marketplace_disbursements_summary"
  - $ref: "#/definitions/streams/analytics_gcp_marketplace_charges_and_usage"
  - $ref: "#/definitions/streams/analytics_gcp_marketplace_daily_insights"
  - $ref: "#/definitions/streams/analytics_gcp_marketplace_incremental_daily_insights"
  - $ref: "#/definitions/streams/analytics_gcp_marketplace_monthly_insights"
  - $ref: >-
      #/definitions/streams/analytics_gcp_marketplace_incremental_monthly_insights

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
    properties:
      client_id:
        type: string
        order: 0
        title: Client ID
        airbyte_secret: true
      client_secret:
        type: string
        order: 1
        title: Client secret
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    buyers: false
    listings: false
    contracts: false
    opportunities: false
    private_offers: false
    analytics_aws_marketplace_disbursements: false
    analytics_aws_marketplace_revenue: false
    analytics_aws_cosell_opportunities: false
    analytics_azure_marketplace_revenue: false
    analytics_azure_marketplace_customers: false
    analytics_azure_marketplace_orders: false
    analytics_azure_marketplace_metered_usage: false
    analytics_azure_cosell_opportunities: false
    analytics_gcp_marketplace_disbursements: false
    analytics_gcp_marketplace_disbursements_summary: false
    analytics_gcp_marketplace_charges_and_usage: false
    analytics_gcp_marketplace_daily_insights: false
    analytics_gcp_marketplace_incremental_daily_insights: false
    analytics_gcp_marketplace_monthly_insights: false
    analytics_gcp_marketplace_incremental_monthly_insights: false
  testedStreams:
    buyers:
      hasRecords: true
      streamHash: ad3b77e5e4bc0f26045868015a0212df38310005
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    listings:
      hasRecords: true
      streamHash: 9e391351ec531c781570e3cf80e5cd68f4e5d8ca
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    contracts:
      hasRecords: true
      streamHash: 8f77ac2973f513cc2024ed1dbfd5a4117e30bdc5
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    opportunities:
      hasRecords: true
      streamHash: f266453b1a7e60ea94a6ad084e94adf4a042391e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_aws_marketplace_disbursements:
      hasRecords: true
      streamHash: 84530af873052bb523db4c0586505cfb7c1e759a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_aws_marketplace_revenue:
      hasRecords: true
      streamHash: eb6e7dbe54b355cb95d4a19e2f52096304dad07f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_aws_cosell_opportunities:
      hasRecords: true
      streamHash: 1eeeea6f1e1e0a200413788adc6f5aa3fc1cf3c6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_azure_marketplace_revenue:
      hasRecords: true
      streamHash: c0469ee2d8ed745c1ba0d3bc7965db40360043b1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_azure_marketplace_customers:
      hasRecords: true
      streamHash: cf973ea368545ef684868505fbcbe1b3c75199ef
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_azure_marketplace_orders:
      hasRecords: true
      streamHash: 497f69a37c50c4fd56d438b5eec20cbeb3d6e7b3
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_azure_marketplace_metered_usage:
      hasRecords: true
      streamHash: 44abc84ec2672c4b329531b34c6e6baa335b142f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_azure_cosell_opportunities:
      hasRecords: true
      streamHash: 8071cbf3690e6968c711a23b7ee364aa2d4ccbe2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_gcp_marketplace_disbursements:
      hasRecords: false
      streamHash: c46f61da59ecad24b01ac56f74951e82aba6fcb0
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_gcp_marketplace_disbursements_summary:
      hasRecords: false
      streamHash: 658824422d77db198900cff2786352aae2af5e4d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_gcp_marketplace_charges_and_usage:
      hasRecords: true
      streamHash: c6e130d127a9515269bd2ef2a8bf05b115bed977
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_gcp_marketplace_daily_insights:
      hasRecords: true
      streamHash: 90362d00e0e9c3c7f57fe74a949d5fc4db8c4f5b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics_gcp_marketplace_incremental_monthly_insights:
      hasRecords: false
      streamHash: 9d2f4e5c90adc766e4a20442b4ee76c67502beca
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true

schemas:
  buyers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      cloud:
        type:
          - string
          - "null"
      cloud_account_id:
        type:
          - string
          - "null"
      cloud_identifiers:
        type:
          - object
          - "null"
      custom_properties:
        type:
          - object
          - "null"
      domain:
        type:
          - string
          - "null"
      external_object_associations:
        type:
          - object
          - "null"
      id:
        type: string
      latest_contract_id:
        type:
          - string
          - "null"
      listing_id:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
  listings:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      cloud:
        type:
          - string
          - "null"
      cloud_id:
        type:
          - string
          - "null"
      cloud_url:
        type:
          - string
          - "null"
      eula_type:
        type:
          - string
          - "null"
      eula_url:
        type:
          - string
          - "null"
      id:
        type: string
      long_description:
        type:
          - string
          - "null"
      short_description:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
    required:
      - id
  contracts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      accepted_at:
        type:
          - string
          - "null"
      auto_renew:
        type:
          - boolean
          - "null"
      buyer_id:
        type:
          - string
          - "null"
      cloud:
        type:
          - string
          - "null"
      cloud_id:
        type:
          - string
          - "null"
      cloud_identifiers:
        type:
          - object
          - "null"
      cloud_url:
        type:
          - string
          - "null"
      custom_properties:
        type:
          - object
          - "null"
      duration:
        type:
          - string
          - "null"
      end_at:
        type:
          - string
          - "null"
      external_object_associations:
        type:
          - object
          - "null"
      id:
        type: string
      latest_offer_id:
        type:
          - string
          - "null"
      listing_id:
        type:
          - string
          - "null"
      offer_type:
        type:
          - string
          - "null"
      start_at:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
  opportunities:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      accept_by:
        type:
          - string
          - "null"
      cloud:
        type:
          - string
          - "null"
      cloud_id:
        type:
          - string
          - "null"
      cloud_url:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      custom_properties:
        type:
          - object
          - "null"
      customer_company:
        type:
          - string
          - "null"
      customer_website:
        type:
          - string
          - "null"
      external_object_associations:
        type:
          - object
          - "null"
      id:
        type: string
      last_modified_at:
        type:
          - string
          - "null"
      stage:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      target_close_date:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
    required:
      - id
  private_offers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      accepted_at:
        type:
          - string
          - "null"
      archived:
        type:
          - string
          - "null"
      cloud:
        type:
          - string
          - "null"
      cloud_id:
        type:
          - string
          - "null"
      cloud_url:
        type:
          - string
          - "null"
      custom_properties:
        type:
          - object
          - "null"
      duration:
        type:
          - string
          - "null"
      eula_type:
        type:
          - string
          - "null"
      expiration_at:
        type:
          - string
          - "null"
      external_object_associations:
        type:
          - object
          - "null"
      id:
        type: string
      listing_id:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      offer_type:
        type:
          - string
          - "null"
      published_at:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
  analytics_aws_marketplace_disbursements:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      agreement_acceptance_date:
        type:
          - string
          - "null"
      agreement_end_date:
        type:
          - string
          - "null"
      agreement_id:
        type:
          - string
          - "null"
      agreement_start_date:
        type:
          - string
          - "null"
      aws_seller_of_record:
        type:
          - string
          - "null"
      aws_tax_share_listing_fee:
        type:
          - number
          - "null"
      aws_tax_share_refund_listing_fee:
        type:
          - number
          - "null"
      currency:
        type:
          - string
          - "null"
      customer_reference_id:
        type:
          - string
          - "null"
      disburse_bank_trace_id:
        type:
          - string
          - "null"
      disbursed_net_revenue:
        type:
          - number
          - "null"
      disbursement_date:
        type:
          - string
          - "null"
      disbursement_period:
        type:
          - string
          - "null"
      disbursement_status:
        type:
          - string
          - "null"
      disbursement_time_in_days:
        type:
          - number
          - "null"
      gross_refund:
        type:
          - number
          - "null"
      gross_revenue:
        type:
          - number
          - "null"
      invoice_date:
        type:
          - string
          - "null"
      invoice_id:
        type:
          - string
          - "null"
      isv_account_id:
        type:
          - string
          - "null"
      isv_company_name:
        type:
          - string
          - "null"
      listing_fee:
        type:
          - number
          - "null"
      listing_fee_invoice_id:
        type:
          - string
          - "null"
      listing_fee_percentage:
        type:
          - number
          - "null"
      listing_fee_refund:
        type:
          - number
          - "null"
      offer_id:
        type:
          - string
          - "null"
      offer_name:
        type:
          - string
          - "null"
      offer_visibility:
        type:
          - string
          - "null"
      payer_address_id:
        type:
          - string
          - "null"
      payer_aws_account_id:
        type:
          - string
          - "null"
      payer_city:
        type:
          - string
          - "null"
      payer_company_name:
        type:
          - string
          - "null"
      payer_country:
        type:
          - string
          - "null"
      payer_email_domain:
        type:
          - string
          - "null"
      payer_postal_code:
        type:
          - string
          - "null"
      payer_state_or_region:
        type:
          - string
          - "null"
      payment_due_date:
        type:
          - string
          - "null"
      payment_terms:
        type:
          - string
          - "null"
      product_code:
        type:
          - string
          - "null"
      product_id:
        type:
          - string
          - "null"
      product_title:
        type:
          - string
          - "null"
      resale_authorization_description:
        type:
          - string
          - "null"
      resale_authorization_id:
        type:
          - string
          - "null"
      resale_authorization_name:
        type:
          - string
          - "null"
      reseller_aws_account_id:
        type:
          - string
          - "null"
      reseller_company_name:
        type:
          - string
          - "null"
      seller_net_revenue:
        type:
          - number
          - "null"
      seller_tax_share:
        type:
          - number
          - "null"
      seller_tax_share_refund:
        type:
          - number
          - "null"
      subscriber_address_id:
        type:
          - string
          - "null"
      subscriber_aws_account_id:
        type:
          - string
          - "null"
      subscriber_city:
        type:
          - string
          - "null"
      subscriber_company_name:
        type:
          - string
          - "null"
      subscriber_country:
        type:
          - string
          - "null"
      subscriber_email_domain:
        type:
          - string
          - "null"
      subscriber_postal_code:
        type:
          - string
          - "null"
      subscriber_state_or_region:
        type:
          - string
          - "null"
      transaction_reference_id:
        type:
          - string
          - "null"
      undisbursed_net_revenue:
        type:
          - number
          - "null"
      usage_period_end_date:
        type:
          - string
          - "null"
      usage_period_start_date:
        type:
          - string
          - "null"
      wholesale_cost:
        type:
          - number
          - "null"
      wholesale_cost_refund:
        type:
          - number
          - "null"
  analytics_aws_marketplace_revenue:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      agreement_acceptance_date:
        type:
          - string
          - "null"
      agreement_end_date:
        type:
          - string
          - "null"
      agreement_id:
        type:
          - string
          - "null"
      agreement_start_date:
        type:
          - string
          - "null"
      aws_seller_of_record:
        type:
          - string
          - "null"
      aws_tax_share:
        type:
          - number
          - "null"
      aws_tax_share_listing_fee:
        type:
          - number
          - "null"
      aws_tax_share_refund:
        type:
          - number
          - "null"
      aws_tax_share_refund_listing_fee:
        type:
          - number
          - "null"
      currency:
        type:
          - string
          - "null"
      customer_reference_id:
        type:
          - string
          - "null"
      disburse_bank_trace_id:
        type:
          - string
          - "null"
      disbursement_date:
        type:
          - string
          - "null"
      disbursement_status:
        type:
          - string
          - "null"
      gross_refund:
        type:
          - number
          - "null"
      gross_revenue:
        type:
          - number
          - "null"
      invoice_date:
        type:
          - string
          - "null"
      invoice_id:
        type:
          - string
          - "null"
      isv_account_id:
        type:
          - string
          - "null"
      isv_company_name:
        type:
          - string
          - "null"
      listing_fee:
        type:
          - number
          - "null"
      listing_fee_invoice_id:
        type:
          - string
          - "null"
      listing_fee_percentage:
        type:
          - number
          - "null"
      listing_fee_refund:
        type:
          - number
          - "null"
      offer_id:
        type:
          - string
          - "null"
      offer_name:
        type:
          - string
          - "null"
      offer_visibility:
        type:
          - string
          - "null"
      payer_address_id:
        type:
          - string
          - "null"
      payer_aws_account_id:
        type:
          - string
          - "null"
      payer_city:
        type:
          - string
          - "null"
      payer_company_name:
        type:
          - string
          - "null"
      payer_country:
        type:
          - string
          - "null"
      payer_email_domain:
        type:
          - string
          - "null"
      payer_postal_code:
        type:
          - string
          - "null"
      payer_state_or_region:
        type:
          - string
          - "null"
      payment_due_date:
        type:
          - string
          - "null"
      payment_terms:
        type:
          - string
          - "null"
      product_code:
        type:
          - string
          - "null"
      product_id:
        type:
          - string
          - "null"
      product_title:
        type:
          - string
          - "null"
      resale_authorization_description:
        type:
          - string
          - "null"
      resale_authorization_id:
        type:
          - string
          - "null"
      resale_authorization_name:
        type:
          - string
          - "null"
      reseller_aws_account_id:
        type:
          - string
          - "null"
      reseller_company_name:
        type:
          - string
          - "null"
      seller_net_revenue:
        type:
          - number
          - "null"
      seller_tax_share:
        type:
          - number
          - "null"
      seller_tax_share_refund:
        type:
          - number
          - "null"
      subscriber_address_id:
        type:
          - string
          - "null"
      subscriber_aws_account_id:
        type:
          - string
          - "null"
      subscriber_city:
        type:
          - string
          - "null"
      subscriber_company_name:
        type:
          - string
          - "null"
      subscriber_country:
        type:
          - string
          - "null"
      subscriber_email_domain:
        type:
          - string
          - "null"
      subscriber_postal_code:
        type:
          - string
          - "null"
      subscriber_state_or_region:
        type:
          - string
          - "null"
      transaction_reference_id:
        type:
          - string
          - "null"
      usage_period_end_date:
        type:
          - string
          - "null"
      usage_period_start_date:
        type:
          - string
          - "null"
      wholesale_cost:
        type:
          - number
          - "null"
      wholesale_cost_refund:
        type:
          - number
          - "null"
  analytics_aws_cosell_opportunities:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      accept_by:
        type:
          - string
          - "null"
      additional_comments:
        type:
          - string
          - "null"
      apn_crm_unique_identifier:
        type:
          - string
          - "null"
      apn_disqualified_reason:
        type:
          - string
          - "null"
      apn_reviewer_comments:
        type:
          - string
          - "null"
      aws_account_owner_email:
        type:
          - string
          - "null"
      aws_account_owner_name:
        type:
          - string
          - "null"
      aws_close_date:
        type:
          - string
          - "null"
      aws_isv_success_manager_email:
        type:
          - string
          - "null"
      aws_isv_success_manager_name:
        type:
          - string
          - "null"
      aws_marketplace_engagement_score:
        type:
          - string
          - "null"
      aws_partner_success_manager_email:
        type:
          - string
          - "null"
      aws_partner_success_manager_name:
        type:
          - string
          - "null"
      aws_products:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      aws_sales_rep_email:
        type:
          - string
          - "null"
      aws_sales_rep_name:
        type:
          - string
          - "null"
      aws_stage:
        type:
          - string
          - "null"
      business_unit:
        type:
          - string
          - "null"
      campaign_name:
        anyOf:
          - type: string
          - type: array
            items:
              type: string
      closed_lost_reason:
        type:
          - string
          - "null"
      cloud_created_date:
        type:
          - string
          - "null"
      contract_end_date:
        type:
          - string
          - "null"
      contract_start_date:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      customer_company_name:
        type:
          - string
          - "null"
      customer_email:
        type:
          - string
          - "null"
      customer_first_name:
        type:
          - string
          - "null"
      customer_last_name:
        type:
          - string
          - "null"
      customer_phone:
        type:
          - string
          - "null"
      customer_software_value:
        type:
          - number
          - "null"
      customer_website:
        type:
          - string
          - "null"
      delivery_model:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      expected_monthly_aws_revenue:
        type:
          - number
          - "null"
      geo:
        type:
          - string
          - "null"
      industry:
        type:
          - string
          - "null"
      is_greenfield:
        type:
          - boolean
          - "null"
      is_marketing_development_funded:
        type:
          - boolean
          - "null"
      is_opp_from_marketing_activity:
        type:
          - boolean
          - "null"
      last_modified_date:
        type:
          - string
          - "null"
      marketing_activity_channel:
        type:
          - array
          - "null"
      marketing_activity_usecase:
        type:
          - array
          - "null"
      next_step:
        type:
          - string
          - "null"
      next_step_details:
        type:
          - array
          - "null"
      offers:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      opportunity_owner_email:
        type:
          - string
          - "null"
      opportunity_ownership:
        type:
          - string
          - "null"
      opportunity_type:
        type:
          - string
          - "null"
      other_solution_offered:
        type:
          - string
          - "null"
      partner_acceptance_status:
        type:
          - string
          - "null"
      partner_crm_unique_identifier:
        type:
          - string
          - "null"
      partner_developer_manager_email:
        type:
          - string
          - "null"
      partner_developer_manager_name:
        type:
          - string
          - "null"
      partner_primary_need_from_aws:
        anyOf:
          - type: string
          - type: array
            items:
              type: string
      partner_project_title:
        type:
          - string
          - "null"
      postal_code:
        type:
          - string
          - "null"
      primary_contact_email:
        type:
          - string
          - "null"
      primary_contact_first_name:
        type:
          - string
          - "null"
      primary_contact_last_name:
        type:
          - string
          - "null"
      primary_contact_phone:
        type:
          - string
          - "null"
      procurement_type:
        type:
          - string
          - "null"
      project_description:
        type:
          - string
          - "null"
      recommended_next_best_actions:
        type:
          - string
          - "null"
      region:
        type:
          - string
          - "null"
      rejection_reason:
        type:
          - string
          - "null"
      sale_stage:
        type:
          - string
          - "null"
      sales_activities:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      segment:
        type:
          - string
          - "null"
      solution_offered:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      state:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      target_close_date:
        type:
          - string
          - "null"
      use_case:
        type:
          - string
          - "null"
      uuid:
        type:
          - string
          - "null"
  analytics_azure_marketplace_revenue:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      adjustment_reason_code:
        type:
          - string
          - "null"
      adjustment_type:
        type:
          - string
          - "null"
      asset_id:
        type:
          - string
          - "null"
      billing_account_id:
        type:
          - string
          - "null"
      billing_id:
        type:
          - string
          - "null"
      billing_model:
        type:
          - string
          - "null"
      customer_city:
        type:
          - string
          - "null"
      customer_company_name:
        type:
          - string
          - "null"
      customer_country:
        type:
          - string
          - "null"
      customer_email:
        type:
          - string
          - "null"
      customer_id:
        type:
          - string
          - "null"
      customer_name:
        type:
          - string
          - "null"
      customer_postal_code:
        type:
          - string
          - "null"
      customer_state:
        type:
          - string
          - "null"
      dataset_month:
        type:
          - string
          - "null"
      days_uncollected:
        type:
          - string
          - "null"
      discounted_price_usd:
        type:
          - number
          - "null"
      earning_amount_cc:
        type:
          - number
          - "null"
      earning_amount_pc:
        type:
          - number
          - "null"
      earning_amount_usd:
        type:
          - number
          - "null"
      earning_currency_code:
        type:
          - string
          - "null"
      earning_exchange_rate_pc:
        type:
          - number
          - "null"
      earning_id:
        type:
          - string
          - "null"
      estimated_payout_month:
        type:
          - string
          - "null"
      estimated_revenue_pc:
        type:
          - number
          - "null"
      estimated_revenue_usd:
        type:
          - number
          - "null"
      event_time_stamp:
        type:
          - string
          - "null"
      exchange_rate_date:
        type:
          - string
          - "null"
      exchange_rate_pc:
        type:
          - number
          - "null"
      exchange_rate_usd:
        type:
          - number
          - "null"
      incentive_rate:
        type:
          - number
          - "null"
      invoice_date:
        type:
          - string
          - "null"
      invoice_due_date:
        type:
          - string
          - "null"
      invoice_id:
        type:
          - string
          - "null"
      is_invoiced:
        type:
          - number
          - "null"
      is_private_offer:
        type:
          - number
          - "null"
      is_private_plan:
        type:
          - number
          - "null"
      line_item_id:
        type:
          - string
          - "null"
      list_price_usd:
        type:
          - number
          - "null"
      month_start_date:
        type:
          - string
          - "null"
      multi_party:
        type:
          - number
          - "null"
      offer_id:
        type:
          - string
          - "null"
      offer_name:
        type:
          - string
          - "null"
      offer_type:
        type:
          - string
          - "null"
      offer_visibility:
        type:
          - string
          - "null"
      payment_instrument_type:
        type:
          - string
          - "null"
      payment_sent_date:
        type:
          - string
          - "null"
      payout_currency:
        type:
          - string
          - "null"
      payout_status:
        type:
          - string
          - "null"
      plan_id:
        type:
          - string
          - "null"
      plan_visibility:
        type:
          - string
          - "null"
      private_offer_id:
        type:
          - string
          - "null"
      private_offer_name:
        type:
          - string
          - "null"
      purchase_record_id:
        type:
          - string
          - "null"
      quantity:
        type:
          - number
          - "null"
      reseller_city:
        type:
          - string
          - "null"
      reseller_company:
        type:
          - string
          - "null"
      reseller_country:
        type:
          - string
          - "null"
      reseller_email:
        type:
          - string
          - "null"
      reseller_id:
        type:
          - string
          - "null"
      reseller_postal_code:
        type:
          - string
          - "null"
      reseller_state:
        type:
          - string
          - "null"
      revenue:
        type:
          - number
          - "null"
      sales_channel:
        type:
          - string
          - "null"
      sku:
        type:
          - string
          - "null"
      term_end_date:
        type:
          - string
          - "null"
      term_start_date:
        type:
          - string
          - "null"
      transaction_amount_cc:
        type:
          - number
          - "null"
      transaction_amount_pc:
        type:
          - number
          - "null"
      transaction_amount_usd:
        type:
          - number
          - "null"
      transaction_currency:
        type:
          - string
          - "null"
      trial_deployment:
        type:
          - number
          - "null"
      units:
        type:
          - string
          - "null"
  analytics_azure_marketplace_customers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      address_line_1:
        type:
          - string
          - "null"
      azure_license_type:
        type:
          - string
          - "null"
      billing_account_id:
        type:
          - string
          - "null"
      billing_id:
        type:
          - string
          - "null"
      commerce_root_customer:
        type:
          - string
          - "null"
      customer_city:
        type:
          - string
          - "null"
      customer_company_name:
        type:
          - string
          - "null"
      customer_country_region:
        type:
          - string
          - "null"
      customer_id:
        type:
          - string
          - "null"
      customer_postal_code:
        type:
          - string
          - "null"
      customer_state:
        type:
          - string
          - "null"
      customer_type:
        type:
          - string
          - "null"
      dataset_month:
        type:
          - string
          - "null"
      date_acquired:
        type:
          - string
          - "null"
      date_lost:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      first_name:
        type:
          - string
          - "null"
      is_active:
        type:
          - number
          - "null"
      is_private_plan:
        type:
          - number
          - "null"
      last_modified_at:
        type:
          - string
          - "null"
      last_name:
        type:
          - string
          - "null"
      marketplace_subscription_id:
        type:
          - string
          - "null"
      multi_party:
        type:
          - number
          - "null"
      offer_id:
        type:
          - string
          - "null"
      offer_name:
        type:
          - string
          - "null"
      offer_type:
        type:
          - string
          - "null"
      plan_id:
        type:
          - string
          - "null"
      plan_visibility:
        type:
          - string
          - "null"
      private_offer_id:
        type:
          - string
          - "null"
      private_offer_name:
        type:
          - string
          - "null"
      promotional_customers:
        type:
          - number
          - "null"
      provider_email:
        type:
          - string
          - "null"
      provider_name:
        type:
          - string
          - "null"
      purchaser_email:
        type:
          - string
          - "null"
      reference_id:
        type:
          - string
          - "null"
      sku:
        type:
          - string
          - "null"
  analytics_azure_marketplace_orders:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type:
          - number
          - "null"
      asset_id:
        type:
          - string
          - "null"
      auto_renew:
        type:
          - boolean
          - "null"
      azure_license_type:
        type:
          - string
          - "null"
      billed_revenue:
        type:
          - number
          - "null"
      billing_account_id:
        type:
          - string
          - "null"
      billing_id:
        type:
          - string
          - "null"
      billing_plan:
        type:
          - string
          - "null"
      billing_term:
        type:
          - string
          - "null"
      cloud_instance_name:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      customer_company_name:
        type:
          - string
          - "null"
      customer_country:
        type:
          - string
          - "null"
      customer_id:
        type:
          - string
          - "null"
      dataset_month:
        type:
          - string
          - "null"
      discount_price_usd:
        type:
          - number
          - "null"
      event_timestamp:
        type:
          - string
          - "null"
      has_trial:
        type:
          - number
          - "null"
      is_new_customer:
        type:
          - number
          - "null"
      is_preview_sku:
        type:
          - number
          - "null"
      is_private_offer:
        type:
          - number
          - "null"
      is_private_plan:
        type:
          - number
          - "null"
      is_trial:
        type:
          - number
          - "null"
      list_price_usd:
        type:
          - string
          - "null"
      marketplace_license_type:
        type:
          - string
          - "null"
      marketplace_subscription_id:
        type:
          - string
          - "null"
      month_start_date:
        type:
          - string
          - "null"
      multi_party:
        type:
          - number
          - "null"
      offer_id:
        type:
          - string
          - "null"
      offer_name:
        type:
          - string
          - "null"
      offer_type:
        type:
          - string
          - "null"
      offer_visibility:
        type:
          - string
          - "null"
      order_action:
        type:
          - string
          - "null"
      order_cancel_date:
        type:
          - string
          - "null"
      order_purchase_date:
        type:
          - string
          - "null"
      order_status:
        type:
          - string
          - "null"
      order_version:
        type:
          - string
          - "null"
      plan_id:
        type:
          - string
          - "null"
      plan_visibility:
        type:
          - string
          - "null"
      private_offer_id:
        type:
          - string
          - "null"
      private_offer_name:
        type:
          - string
          - "null"
      purchase_record_id:
        type:
          - string
          - "null"
      purchase_record_line_item_id:
        type:
          - string
          - "null"
      quantity:
        type:
          - number
          - "null"
      quantity_changed:
        type:
          - number
          - "null"
      reference_id:
        type:
          - string
          - "null"
      sku:
        type:
          - string
          - "null"
      term_end_date:
        type:
          - string
          - "null"
      term_start_date:
        type:
          - string
          - "null"
      trial_end_date:
        type:
          - string
          - "null"
  analytics_azure_marketplace_metered_usage:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      asset_id:
        type:
          - string
          - "null"
      azure_license_type:
        type:
          - string
          - "null"
      billing_account_id:
        type:
          - string
          - "null"
      billing_id:
        type:
          - string
          - "null"
      cloud_instance_name:
        type:
          - string
          - "null"
      core_size:
        type:
          - number
          - "null"
      customer_company_name:
        type:
          - string
          - "null"
      customer_country:
        type:
          - string
          - "null"
      customer_currency_cc:
        type:
          - string
          - "null"
      customer_id:
        type:
          - string
          - "null"
      customer_name:
        type:
          - string
          - "null"
      dataset_month:
        type:
          - string
          - "null"
      deployment_method:
        type:
          - string
          - "null"
      discounted_price_usd:
        type:
          - number
          - "null"
      estimated_extended_charge_cc:
        type:
          - number
          - "null"
      estimated_extended_charge_pc:
        type:
          - number
          - "null"
      estimated_financial_impact_usd:
        type:
          - number
          - "null"
      estimated_price_pc:
        type:
          - number
          - "null"
      is_custom_meter:
        type:
          - number
          - "null"
      is_multisolution:
        type:
          - number
          - "null"
      is_new_customer:
        type:
          - number
          - "null"
      is_preview_sku:
        type:
          - number
          - "null"
      is_private_offer:
        type:
          - number
          - "null"
      is_private_plan:
        type:
          - number
          - "null"
      list_price_usd:
        type:
          - number
          - "null"
      marketplace_license_type:
        type:
          - string
          - "null"
      marketplace_subscription_id:
        type:
          - string
          - "null"
      meter_dimension:
        type:
          - string
          - "null"
      meter_id:
        type:
          - string
          - "null"
      metered_usage:
        type:
          - number
          - "null"
      month_start_date:
        type:
          - string
          - "null"
      multi_party:
        type:
          - number
          - "null"
      normalized_usage:
        type:
          - number
          - "null"
      offer_id:
        type:
          - string
          - "null"
      offer_name:
        type:
          - string
          - "null"
      offer_type:
        type:
          - string
          - "null"
      offer_visibility:
        type:
          - string
          - "null"
      partner_center_detected_anomaly:
        type:
          - number
          - "null"
      payout_currency_pc:
        type:
          - string
          - "null"
      plan_id:
        type:
          - string
          - "null"
      plan_visibility:
        type:
          - string
          - "null"
      price_cc:
        type:
          - number
          - "null"
      private_offer_id:
        type:
          - string
          - "null"
      private_offer_name:
        type:
          - string
          - "null"
      raw_usage:
        type:
          - number
          - "null"
      reference_id:
        type:
          - string
          - "null"
      sku:
        type:
          - string
          - "null"
      skubilling_type:
        type:
          - string
          - "null"
      usage_date:
        type:
          - string
          - "null"
      usage_reference:
        type:
          - string
          - "null"
      usage_unit:
        type:
          - string
          - "null"
      vmsize:
        type:
          - string
          - "null"
      vmsubscription:
        type:
          - number
          - "null"
  analytics_azure_cosell_opportunities:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      metadata:
        type:
          - object
          - "null"
      accepted_date_time:
        type:
          - string
          - "null"
      address:
        type:
          - string
          - "null"
      assistance_type:
        type:
          - string
          - "null"
      azure_seller_id:
        type:
          - number
          - "null"
      city:
        type:
          - string
          - "null"
      closed_date_time:
        type:
          - string
          - "null"
      closing_date_time:
        type:
          - string
          - "null"
      cloud:
        type:
          - string
          - "null"
      cloud_created_at:
        type:
          - string
          - "null"
      cloud_status:
        type:
          - string
          - "null"
      consent_to_contact:
        type:
          - boolean
          - "null"
      consent_to_share_referral_with_microsoft_sellers:
        type:
          - boolean
          - "null"
      consent_to_to_share_info_with_others:
        type:
          - boolean
          - "null"
      country:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      created_by_id:
        type:
          - number
          - "null"
      created_date_time:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      customer_company_name:
        type:
          - string
          - "null"
      customer_contacts:
        type:
          - array
          - "null"
      customer_duns_number:
        type:
          - string
          - "null"
      customer_website:
        type:
          - string
          - "null"
      deal_name:
        type:
          - string
          - "null"
      deal_type:
        type:
          - string
          - "null"
      deal_value:
        type:
          - number
          - "null"
      deleted_at:
        type:
          - string
          - "null"
      direction:
        type:
          - string
          - "null"
      domain_info_category:
        type:
          - string
          - "null"
      engagement_id:
        type:
          - string
          - "null"
      expiration_date_time:
        type:
          - string
          - "null"
      external_id:
        type:
          - string
          - "null"
      external_status:
        type:
          - string
          - "null"
      id:
        type:
          - number
          - "null"
      is_macc_eligible:
        type:
          - boolean
          - "null"
      is_matching_complete:
        type:
          - boolean
          - "null"
      is_spam:
        type:
          - boolean
          - "null"
      microsoft_account_id:
        type:
          - string
          - "null"
      microsoft_sales_reps:
        type:
          - array
          - "null"
      notes:
        type:
          - string
          - "null"
      organization_id:
        type:
          - string
          - "null"
      organization_name:
        type:
          - string
          - "null"
      partner_contacts:
        type:
          - array
          - "null"
      postal_code:
        type:
          - string
          - "null"
      qualification:
        type:
          - string
          - "null"
      referral_id:
        type:
          - string
          - "null"
      referral_source:
        type:
          - string
          - "null"
      row_number:
        type:
          - number
          - "null"
      sales_stage:
        type:
          - string
          - "null"
      seller_created_at:
        type:
          - string
          - "null"
      shared_referral_metadata:
        type:
          - object
          - "null"
      solutions:
        type:
          - array
          - "null"
      state:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      status_reason:
        type:
          - string
          - "null"
      sub_status:
        type:
          - string
          - "null"
      sync_error:
        type:
          - object
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      target:
        type:
          - array
          - "null"
      updated_at:
        type:
          - string
          - "null"
      updated_date_time:
        type:
          - string
          - "null"
      uuid:
        type:
          - string
          - "null"
  analytics_gcp_marketplace_disbursements:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      abandoned_amount:
        type:
          - number
          - "null"
      account_id:
        type:
          - string
          - "null"
      aggregated_payout:
        type:
          - number
          - "null"
      billing_frequency:
        type:
          - string
          - "null"
      c_u_account_id:
        type:
          - string
          - "null"
      channel:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      cud_credits_used:
        type:
          - number
          - "null"
      cust_charges:
        type:
          - number
          - "null"
      cust_identity:
        type:
          - string
          - "null"
      cust_organization:
        type:
          - string
          - "null"
      cust_remaining_commit:
        type:
          - string
          - "null"
      disbursement_entity:
        type:
          - string
          - "null"
      discount_offered:
        type:
          - number
          - "null"
      domain:
        type:
          - string
          - "null"
      ds:
        type:
          - string
          - "null"
      entitlement_end_date:
        type:
          - string
          - "null"
      entitlement_id:
        type:
          - string
          - "null"
      entitlement_start_date:
        type:
          - string
          - "null"
      final_installment_date:
        type:
          - string
          - "null"
      first_installment_date:
        type:
          - string
          - "null"
      first_refund_date:
        type:
          - string
          - "null"
      insights_account_id:
        type:
          - string
          - "null"
      installment_count:
        type:
          - number
          - "null"
      last_refund_date:
        type:
          - string
          - "null"
      marketplace_fee_amount:
        type:
          - number
          - "null"
      marketplace_fee_percent:
        type:
          - string
          - "null"
      max_usage_start_time:
        type:
          - string
          - "null"
      min_usage_start_time:
        type:
          - string
          - "null"
      offer_title:
        type:
          - string
          - "null"
      order_end_date:
        type:
          - string
          - "null"
      order_start_date:
        type:
          - string
          - "null"
      organization_id:
        type:
          - string
          - "null"
      partner_testing_credit:
        type:
          - number
          - "null"
      payment_schedule:
        type:
          - string
          - "null"
      postal_code:
        type:
          - string
          - "null"
      private_offer_acceptance_date:
        type:
          - string
          - "null"
      private_offer_creator:
        type:
          - string
          - "null"
      private_offer_id:
        type:
          - string
          - "null"
      private_offer_notes:
        type:
          - string
          - "null"
      probation_start_date:
        type:
          - string
          - "null"
      refund_processed_date:
        type:
          - string
          - "null"
      refund_reason:
        type:
          - string
          - "null"
      released_amount:
        type:
          - number
          - "null"
      replaced_private_offer_id:
        type:
          - string
          - "null"
      report_creation_date:
        type:
          - string
          - "null"
      report_timezone:
        type:
          - number
          - "null"
      reseller_discount:
        type:
          - number
          - "null"
      sku_description:
        type:
          - string
          - "null"
      sku_id:
        type:
          - string
          - "null"
      solution_id:
        type:
          - string
          - "null"
      solution_name:
        type:
          - string
          - "null"
      state_or_province:
        type:
          - string
          - "null"
      term_total_contract_value:
        type:
          - number
          - "null"
      total_contract_value:
        type:
          - number
          - "null"
      total_deductions:
        type:
          - number
          - "null"
      transaction_type:
        type:
          - string
          - "null"
      trial_credits_used:
        type:
          - number
          - "null"
      usage_quantity:
        type:
          - number
          - "null"
      usage_unit:
        type:
          - string
          - "null"
      wholesale_charges:
        type:
          - number
          - "null"
      withheld_amount:
        type:
          - number
          - "null"
  analytics_gcp_marketplace_disbursements_summary:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      amount:
        type:
          - number
          - "null"
      currency:
        type:
          - string
          - "null"
      customer_refund:
        type:
          - number
          - "null"
      ds:
        type:
          - string
          - "null"
      entity:
        type:
          - string
          - "null"
      notes:
        type:
          - string
          - "null"
      payment_type:
        type:
          - string
          - "null"
      total:
        type:
          - number
          - "null"
      withholding:
        type:
          - string
          - "null"
  analytics_gcp_marketplace_charges_and_usage:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      abandoned:
        type:
          - number
          - "null"
      account_id:
        type:
          - string
          - "null"
      billing_frequency:
        type:
          - string
          - "null"
      charges:
        type:
          - number
          - "null"
      currency:
        type:
          - string
          - "null"
      ds:
        type:
          - string
          - "null"
      due_partner:
        type:
          - number
          - "null"
      google_entity:
        type:
          - string
          - "null"
      insights_account_id:
        type:
          - string
          - "null"
      location:
        type:
          - string
          - "null"
      payment_schedule:
        type:
          - string
          - "null"
      payment_type:
        type:
          - string
          - "null"
      postpay_credits:
        type:
          - number
          - "null"
      prepay_credits:
        type:
          - number
          - "null"
      probation_end:
        type:
          - string
          - "null"
      probation_start:
        type:
          - string
          - "null"
      refund_balance_deducted_this_month:
        type:
          - number
          - "null"
      refund_balance_outstanding:
        type:
          - number
          - "null"
      refund_period_end:
        type:
          - string
          - "null"
      refund_period_start:
        type:
          - string
          - "null"
      refund_reason:
        type:
          - string
          - "null"
      released:
        type:
          - number
          - "null"
      resource:
        type:
          - string
          - "null"
      sku:
        type:
          - string
          - "null"
      trial_use:
        type:
          - number
          - "null"
      units:
        type:
          - string
          - "null"
      usage:
        type:
          - number
          - "null"
      used_by:
        type:
          - string
          - "null"
      withheld:
        type:
          - number
          - "null"
  analytics_gcp_marketplace_daily_insights:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      abandoned:
        type:
          - number
          - "null"
      account_id:
        type:
          - string
          - "null"
      billing_frequency:
        type:
          - string
          - "null"
      channel:
        type:
          - string
          - "null"
      charges:
        type:
          - number
          - "null"
      company:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      date:
        type:
          - string
          - "null"
      domain:
        type:
          - string
          - "null"
      ds:
        type:
          - string
          - "null"
      due_vendor:
        type:
          - number
          - "null"
      earliest:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      entitlement_id:
        type:
          - string
          - "null"
      external_account_id:
        type:
          - string
          - "null"
      final_installment_date:
        type:
          - string
          - "null"
      first_installment_date:
        type:
          - string
          - "null"
      gpu_types:
        type:
          - string
          - "null"
      installment_count:
        type:
          - number
          - "null"
      internal_note:
        type:
          - string
          - "null"
      latest:
        type:
          - string
          - "null"
      machine_spec_sum:
        type:
          - string
          - "null"
      num_cpus:
        type:
          - number
          - "null"
      num_gpus:
        type:
          - number
          - "null"
      num_vms:
        type:
          - number
          - "null"
      offer_title:
        type:
          - string
          - "null"
      order_end_date:
        type:
          - string
          - "null"
      order_start_date:
        type:
          - string
          - "null"
      parent_account_id:
        type:
          - string
          - "null"
      payment_schedule:
        type:
          - string
          - "null"
      payment_type:
        type:
          - string
          - "null"
      postal_code:
        type:
          - string
          - "null"
      postpay_credits:
        type:
          - number
          - "null"
      prepay_credits:
        type:
          - number
          - "null"
      private_offer_acceptance_date:
        type:
          - string
          - "null"
      private_offer_total_contract_value:
        type:
          - number
          - "null"
      probation_end:
        type:
          - string
          - "null"
      probation_start:
        type:
          - string
          - "null"
      quote_creator:
        type:
          - string
          - "null"
      quote_id:
        type:
          - string
          - "null"
      ram_mb:
        type:
          - number
          - "null"
      released:
        type:
          - number
          - "null"
      reseller_discount:
        type:
          - number
          - "null"
      sku_description:
        type:
          - string
          - "null"
      sku_id:
        type:
          - string
          - "null"
      solution_name:
        type:
          - string
          - "null"
      start_date:
        type:
          - string
          - "null"
      state_or_province:
        type:
          - string
          - "null"
      term_total_contract_value:
        type:
          - number
          - "null"
      transaction_type:
        type:
          - string
          - "null"
      trial_use:
        type:
          - number
          - "null"
      unit:
        type:
          - string
          - "null"
      usage:
        type:
          - number
          - "null"
      wholesale_charges:
        type:
          - number
          - "null"
      withheld:
        type:
          - number
          - "null"
  analytics_gcp_marketplace_incremental_daily_insights:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      abandoned:
        type:
          - number
          - "null"
      account_id:
        type:
          - string
          - "null"
      billing_frequency:
        type:
          - string
          - "null"
      channel:
        type:
          - string
          - "null"
      charges:
        type:
          - number
          - "null"
      company:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      date:
        type:
          - string
          - "null"
      domain:
        type:
          - string
          - "null"
      ds:
        type:
          - string
          - "null"
      due_vendor:
        type:
          - number
          - "null"
      earliest:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      entitlement_id:
        type:
          - string
          - "null"
      external_account_id:
        type:
          - string
          - "null"
      final_installment_date:
        type:
          - string
          - "null"
      first_installment_date:
        type:
          - string
          - "null"
      gpu_types:
        type:
          - string
          - "null"
      installment_count:
        type:
          - number
          - "null"
      internal_note:
        type:
          - string
          - "null"
      latest:
        type:
          - string
          - "null"
      machine_spec_sum:
        type:
          - string
          - "null"
      num_cpus:
        type:
          - number
          - "null"
      num_gpus:
        type:
          - number
          - "null"
      num_vms:
        type:
          - number
          - "null"
      offer_title:
        type:
          - string
          - "null"
      order_end_date:
        type:
          - string
          - "null"
      order_start_date:
        type:
          - string
          - "null"
      parent_account_id:
        type:
          - string
          - "null"
      payment_schedule:
        type:
          - string
          - "null"
      payment_type:
        type:
          - string
          - "null"
      postal_code:
        type:
          - string
          - "null"
      postpay_credits:
        type:
          - number
          - "null"
      prepay_credits:
        type:
          - number
          - "null"
      private_offer_acceptance_date:
        type:
          - string
          - "null"
      private_offer_total_contract_value:
        type:
          - number
          - "null"
      probation_end:
        type:
          - string
          - "null"
      probation_start:
        type:
          - string
          - "null"
      quote_creator:
        type:
          - string
          - "null"
      quote_id:
        type:
          - string
          - "null"
      ram_mb:
        type:
          - number
          - "null"
      released:
        type:
          - number
          - "null"
      report_date:
        type:
          - string
          - "null"
      reseller_discount:
        type:
          - number
          - "null"
      sku_description:
        type:
          - string
          - "null"
      sku_id:
        type:
          - string
          - "null"
      solution_name:
        type:
          - string
          - "null"
      start_date:
        type:
          - string
          - "null"
      state_or_province:
        type:
          - string
          - "null"
      term_total_contract_value:
        type:
          - number
          - "null"
      transaction_type:
        type:
          - string
          - "null"
      trial_use:
        type:
          - number
          - "null"
      unit:
        type:
          - string
          - "null"
      usage:
        type:
          - number
          - "null"
      wholesale_charges:
        type:
          - number
          - "null"
      withheld:
        type:
          - number
          - "null"
  analytics_gcp_marketplace_monthly_insights:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      abandoned:
        type:
          - number
          - "null"
      account_id:
        type:
          - string
          - "null"
      billing_frequency:
        type:
          - string
          - "null"
      channel:
        type:
          - string
          - "null"
      charges:
        type:
          - number
          - "null"
      company:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      date:
        type:
          - string
          - "null"
      domain:
        type:
          - string
          - "null"
      ds:
        type:
          - string
          - "null"
      due_vendor:
        type:
          - number
          - "null"
      earliest:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      entitlement_id:
        type:
          - string
          - "null"
      external_account_id:
        type:
          - string
          - "null"
      final_installment_date:
        type:
          - string
          - "null"
      first_installment_date:
        type:
          - string
          - "null"
      gpu_types:
        type:
          - string
          - "null"
      installment_count:
        type:
          - number
          - "null"
      internal_note:
        type:
          - string
          - "null"
      latest:
        type:
          - string
          - "null"
      machine_spec_sum:
        type:
          - string
          - "null"
      num_cpus:
        type:
          - number
          - "null"
      num_gpus:
        type:
          - number
          - "null"
      num_vms:
        type:
          - number
          - "null"
      offer_title:
        type:
          - string
          - "null"
      order_end_date:
        type:
          - string
          - "null"
      order_start_date:
        type:
          - string
          - "null"
      parent_account_id:
        type:
          - string
          - "null"
      payment_schedule:
        type:
          - string
          - "null"
      payment_type:
        type:
          - string
          - "null"
      postal_code:
        type:
          - string
          - "null"
      postpay_credits:
        type:
          - number
          - "null"
      prepay_credits:
        type:
          - number
          - "null"
      private_offer_acceptance_date:
        type:
          - string
          - "null"
      private_offer_total_contract_value:
        type:
          - number
          - "null"
      probation_end:
        type:
          - string
          - "null"
      probation_start:
        type:
          - string
          - "null"
      quote_creator:
        type:
          - string
          - "null"
      quote_id:
        type:
          - string
          - "null"
      ram_mb:
        type:
          - number
          - "null"
      released:
        type:
          - number
          - "null"
      reseller_discount:
        type:
          - number
          - "null"
      sku_description:
        type:
          - string
          - "null"
      sku_id:
        type:
          - string
          - "null"
      solution_name:
        type:
          - string
          - "null"
      start_date:
        type:
          - string
          - "null"
      state_or_province:
        type:
          - string
          - "null"
      transaction_type:
        type:
          - string
          - "null"
      trial_use:
        type:
          - number
          - "null"
      unit:
        type:
          - string
          - "null"
      usage:
        type:
          - number
          - "null"
      wholesale_charges:
        type:
          - number
          - "null"
      withheld:
        type:
          - number
          - "null"
  analytics_gcp_marketplace_incremental_monthly_insights:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      abandoned:
        type:
          - number
          - "null"
      account_id:
        type:
          - string
          - "null"
      billing_frequency:
        type:
          - string
          - "null"
      channel:
        type:
          - string
          - "null"
      charges:
        type:
          - number
          - "null"
      company:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      date:
        type:
          - string
          - "null"
      domain:
        type:
          - string
          - "null"
      ds:
        type:
          - string
          - "null"
      due_vendor:
        type:
          - number
          - "null"
      earliest:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      entitlement_id:
        type:
          - string
          - "null"
      external_account_id:
        type:
          - string
          - "null"
      final_installment_date:
        type:
          - string
          - "null"
      first_installment_date:
        type:
          - string
          - "null"
      gpu_types:
        type:
          - string
          - "null"
      installment_count:
        type:
          - number
          - "null"
      internal_note:
        type:
          - string
          - "null"
      latest:
        type:
          - number
          - "null"
      machine_spec_sum:
        type:
          - string
          - "null"
      num_cpus:
        type:
          - number
          - "null"
      num_gpus:
        type:
          - number
          - "null"
      num_vms:
        type:
          - number
          - "null"
      offer_title:
        type:
          - string
          - "null"
      order_end_date:
        type:
          - string
          - "null"
      order_start_date:
        type:
          - string
          - "null"
      parent_account_id:
        type:
          - string
          - "null"
      payment_schedule:
        type:
          - string
          - "null"
      payment_type:
        type:
          - string
          - "null"
      postal_code:
        type:
          - string
          - "null"
      postpay_credits:
        type:
          - number
          - "null"
      prepay_credits:
        type:
          - number
          - "null"
      private_offer_acceptance_date:
        type:
          - string
          - "null"
      private_offer_total_contract_value:
        type:
          - number
          - "null"
      probation_end:
        type:
          - string
          - "null"
      probation_start:
        type:
          - number
          - "null"
      quote_creator:
        type:
          - string
          - "null"
      quote_id:
        type:
          - string
          - "null"
      ram_mb:
        type:
          - number
          - "null"
      released:
        type:
          - number
          - "null"
      report_date:
        type:
          - string
          - "null"
      reseller_discount:
        type:
          - number
          - "null"
      sku_description:
        type:
          - string
          - "null"
      sku_id:
        type:
          - string
          - "null"
      solution_name:
        type:
          - string
          - "null"
      start_date:
        type:
          - string
          - "null"
      state_or_province:
        type:
          - string
          - "null"
      transaction_type:
        type:
          - string
          - "null"
      trial_use:
        type:
          - number
          - "null"
      unit:
        type:
          - string
          - "null"
      usage:
        type:
          - number
          - "null"
      wholesale_charges:
        type:
          - number
          - "null"
      withheld:
        type:
          - number
          - "null"
