version: 6.4.0

type: DeclarativeSource

description: >-
  Connector for NewsData.io to get the latest news in pagination and the latest
  news from specific countries, categories and domains. You can also get the
  news sources from specific categories, countries and languages.

check:
  type: CheckStream
  stream_names:
    - latest_news

definitions:
  streams:
    latest_news:
      type: DeclarativeStream
      name: latest_news
      primary_key:
        - article_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /latest
          http_method: GET
          request_parameters:
            q: "{{ config.get('search_query') }}"
            country: "{{ ','.join(config.get('countries', [])) }}"
            domain: "{{ ','.join(config.get('domains', [])) }}"
            language: "{{ ','.join(config.get('languages', [])) }}"
            category: "{{ ','.join(config.get('categories', [])) }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.nextPage }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/latest_news"
    historical_news:
      type: DeclarativeStream
      name: historical_news
      primary_key:
        - article_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /archive
          http_method: GET
          request_parameters:
            q: "{{ config.get('search_query') }}"
            country: "{{ ','.join(config.get('countries', [])) }}"
            domain: "{{ ','.join(config.get('domains', [])) }}"
            language: "{{ ','.join(config.get('languages', [])) }}"
            category: "{{ ','.join(config.get('categories', [])) }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: FAIL
                    http_codes:
                      - 403
                    error_message: >-
                      Only Available for Premium Users. You don't have
                      permission to access this resource.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.nextPage }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: pubDate
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: from_date
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: to_date
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.end_date or now_utc() }}"
          datetime_format: "%Y-%m-%d"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/historical_news"
  base_requester:
    type: HttpRequester
    url_base: https://newsdata.io/api/1
    authenticator:
      type: ApiKeyAuthenticator
      inject_into:
        type: RequestOption
        inject_into: request_parameter
        field_name: apikey
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/latest_news"
  - $ref: "#/definitions/streams/historical_news"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
      search_query:
        type: string
        description: >-
          Search news articles for specific keywords or phrases present in the
          news title, content, URL, meta keywords and meta description.
        title: Search Query
        order: 1
      countries:
        type: array
        description: >-
          Search the news articles from a specific country. You can add up to 5
          countries in a single query. Example: au, jp, br
        title: Countries
        order: 2
      categories:
        type: array
        description: >-
          Search the news articles for a specific category. You can add up to 5
          categories in a single query.
        title: Categories
        order: 3
      languages:
        type: array
        description: >-
          Search the news articles for a specific language. You can add up to 5
          languages in a single query. 
        title: Languages
        order: 4
      domains:
        type: array
        description: >-
          Search the news articles for specific domains or news sources. You can
          add up to 5 domains in a single query. 
        title: Domains
        order: 5
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 6
      end_date:
        type: string
        description: Choose an end date. Now UTC is default value
        title: End Date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        format: date
        order: 7
    additionalProperties: true

metadata:
  autoImportSchema:
    latest_news: true
    historical_news: true
  testedStreams:
    latest_news:
      streamHash: 0be45d711c84bdae778c031b0489a7c9c0a8ad3a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    historical_news:
      streamHash: aead131d550591d7bba43702875d23d4558cebc0
      hasResponse: true
      responsesAreSuccessful: false
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  latest_news:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      ai_org:
        type:
          - string
          - "null"
      ai_region:
        type:
          - string
          - "null"
      ai_tag:
        type:
          - string
          - "null"
      article_id:
        type: string
      category:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      content:
        type:
          - string
          - "null"
      country:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      creator:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      duplicate:
        type:
          - boolean
          - "null"
      image_url:
        type:
          - string
          - "null"
      keywords:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      language:
        type:
          - string
          - "null"
      link:
        type:
          - string
          - "null"
      pubDate:
        type:
          - string
          - "null"
      pubDateTZ:
        type:
          - string
          - "null"
      sentiment:
        type:
          - string
          - "null"
      sentiment_stats:
        type:
          - string
          - "null"
      source_icon:
        type:
          - string
          - "null"
      source_id:
        type:
          - string
          - "null"
      source_name:
        type:
          - string
          - "null"
      source_priority:
        type:
          - number
          - "null"
      source_url:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
    required:
      - article_id
  historical_news:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
