version: 0.40.2
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - rates
streams:
  - type: DeclarativeStream
    name: rates
    primary_key:
      - date
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          base:
            type: string
          date:
            type: string
          eur:
            type: number
          nok:
            type: number
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.exchangerate.host/
        path: '{{ stream_interval.start_time }}'
        http_method: GET
        request_parameters:
          base: '{{ config[''base''] }}'
          symbols: '{{ config[''currency_codes''] }}'
        request_headers: {}
        authenticator:
          type: NoAuth
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
    transformations:
      - type: RemoveFields
        field_pointers:
          - - motd
      - type: RemoveFields
        field_pointers:
          - - '*success'
      - type: AddFields
        fields:
          - path:
              - eur
            value: '{{record[''rates''][''EUR'']}}'
      - type: AddFields
        fields:
          - path:
              - nok
            value: '{{record[''rates''][''NOK'']}}'
      - type: RemoveFields
        field_pointers:
          - - rates
      - type: RemoveFields
        field_pointers:
          - - historical
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date
      datetime_format: '%Y-%m-%d'
      cursor_granularity: P1D
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      step: P1D
spec:
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: exchangerate.host Source Spec
    type: object
    required:
      - start_date
      - base
      - currency_codes
    properties:
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 0
        description: The start date for the sync
      base:
        type: string
        order: 1
        title: Base
        default: GBP
        description: The base currency ISO code
        examples:
          - USD
          - EUR
      currency_codes:
        type: string
        order: 2
        title: Currency Codes
        default: EUR,NOK
        description: A comma separated list of the ISO code of currencies
        examples:
          - EUR,NOK,YEN
    additionalProperties: true
  documentation_url: https://exchangerate.host
  type: Spec
