@use "../../../scss/colors";
@use "../../../scss/variables";

.card {
  background-color: colors.$white;
  box-shadow: variables.$shadow-2;
  border-radius: variables.$rounded-4;

  &.full {
    width: 100%;
  }
}
