version: 7.0.4

type: DeclarativeSource

description: Connector Blackbaud NXT via SKY API

check:
  type: CheckStream
  stream_names:
    - constituents

definitions:
  linked:
    ErrorHandler:
      type: CompositeErrorHandler
      error_handlers:
        - type: DefaultErrorHandler
          max_retries: 5
          response_filters:
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
        - type: DefaultErrorHandler
          max_retries: 3
          response_filters:
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
        - type: DefaultErrorHandler
          max_retries: 0
          response_filters:
            - type: HttpResponseFilter
              action: FAIL
              http_codes:
                - 403
              error_message: >-
                API quota exceeded. Check Retry-After header for quota renewal
                time.
        - type: DefaultErrorHandler
          max_retries: 0
          response_filters:
            - type: HttpResponseFilter
              action: FAIL
              http_codes:
                - 401
              error_message: >-
                Authentication failed. Please check your API credentials and
                refresh token.
    HttpRequester:
      authenticator:
        type: OAuthAuthenticator
        client_id: "{{ config['client_id'] }}"
        grant_type: refresh_token
        client_secret: "{{ config['client_secret'] }}"
        refresh_token: "{{ config['client_refresh_token'] }}"
        client_id_name: client_id
        expires_in_name: expires_in
        grant_type_name: grant_type
        access_token_name: access_token
        access_token_value: "{{ config['client_access_token'] }}"
        client_secret_name: client_secret
        refresh_token_name: refresh_token
        refresh_request_body:
          preserve_refresh_token: true
        refresh_token_updater:
          refresh_token_name: refresh_token
          access_token_config_path:
            - client_access_token
          refresh_token_config_path:
            - client_refresh_token
          refresh_token_error_values: []
          token_expiry_date_config_path:
            - oauth_token_expiry_date
          refresh_token_error_status_codes: []
        token_refresh_endpoint: https://oauth2.sky.blackbaud.com/token
        refresh_request_headers:
          Content-Type: application/x-www-form-urlencoded
          Authorization: >-
            Basic {{ (config['client_id'] + ':' + config['client_secret']) |
            base64encode }}
      error_handler:
        type: CompositeErrorHandler
        error_handlers:
          - type: DefaultErrorHandler
            max_retries: 5
            response_filters:
              - type: HttpResponseFilter
                action: RETRY
                http_codes:
                  - 429
            backoff_strategies:
              - type: WaitTimeFromHeader
                header: Retry-After
          - type: DefaultErrorHandler
            max_retries: 3
            response_filters:
              - type: HttpResponseFilter
                action: RETRY
                http_codes:
                  - 500
                  - 502
                  - 503
                  - 504
            backoff_strategies:
              - type: ExponentialBackoffStrategy
                factor: 2
          - type: DefaultErrorHandler
            max_retries: 0
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                http_codes:
                  - 403
                error_message: >-
                  API quota exceeded. Check Retry-After header for quota renewal
                  time.
          - type: DefaultErrorHandler
            max_retries: 0
            response_filters:
              - type: HttpResponseFilter
                action: FAIL
                http_codes:
                  - 401
                error_message: >-
                  Authentication failed. Please check your API credentials and
                  refresh token.
      request_headers:
        Accept: application/json
        Bb-Api-Subscription-Key: "{{ config['subscription_key'] }}"
      request_parameters:
        include_inactive: "true"
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 4900
          cursor_value: "{{ response.get('next_link', '') }}"
          stop_condition: "{{ not response.get('next_link') }}"
    ContinuationTokenRetriever:
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: continuation_token
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.get('continuation_token', '') }}"
          stop_condition: "{{ not response.get('continuation_token') }}"

streams:
  - type: DeclarativeStream
    name: constituents
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 4900
          cursor_value: "{{ response.get('next_link', '') }}"
          stop_condition: "{{ not response.get('next_link') }}"
      requester:
        type: HttpRequester
        url: https://api.sky.blackbaud.com/constituent/v1/constituents
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config['client_id'] }}"
          grant_type: refresh_token
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['client_refresh_token'] }}"
          client_id_name: client_id
          expires_in_name: expires_in
          grant_type_name: grant_type
          access_token_name: access_token
          access_token_value: "{{ config['client_access_token'] }}"
          client_secret_name: client_secret
          refresh_token_name: refresh_token
          refresh_request_body:
            preserve_refresh_token: true
          refresh_token_updater:
            refresh_token_name: refresh_token
            access_token_config_path:
              - client_access_token
            refresh_token_config_path:
              - client_refresh_token
            refresh_token_error_values: []
            token_expiry_date_config_path:
              - oauth_token_expiry_date
            refresh_token_error_status_codes: []
            refresh_token_error_key: ""
          token_refresh_endpoint: https://oauth2.sky.blackbaud.com/token
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
            Authorization: >-
              Basic {{ (config['client_id'] + ':' + config['client_secret']) |
              base64encode }}
          token_expiry_date: ""
          token_expiry_date_format: ""
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
                  error_message_contains: ""
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
                  regex: ""
                  max_waiting_time_in_seconds: null
            - type: DefaultErrorHandler
              max_retries: 3
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 500
                    - 502
                    - 503
                    - 504
                  error_message_contains: ""
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 403
                  error_message: >-
                    API quota exceeded. Check Retry-After header for quota
                    renewal time.
                  error_message_contains: ""
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 401
                  error_message: >-
                    Authentication failed. Please check your API credentials and
                    refresh token.
                  error_message_contains: ""
        request_headers:
          Accept: application/json
          Bb-Api-Subscription-Key: "{{ config['subscription_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - date_modified
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          age:
            type:
              - number
              - "null"
          last:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          email:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              address:
                type:
                  - string
                  - "null"
              primary:
                type:
                  - boolean
                  - "null"
              inactive:
                type:
                  - boolean
                  - "null"
              do_not_email:
                type:
                  - boolean
                  - "null"
              constituent_id:
                type:
                  - string
                  - "null"
          first:
            type:
              - string
              - "null"
          phone:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              number:
                type:
                  - string
                  - "null"
              primary:
                type:
                  - boolean
                  - "null"
              inactive:
                type:
                  - boolean
                  - "null"
              do_not_call:
                type:
                  - boolean
                  - "null"
              constituent_id:
                type:
                  - string
                  - "null"
          title:
            type:
              - string
              - "null"
          gender:
            type:
              - string
              - "null"
          middle:
            type:
              - string
              - "null"
          spouse:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              last:
                type:
                  - string
                  - "null"
              first:
                type:
                  - string
                  - "null"
              is_head_of_household:
                type:
                  - boolean
                  - "null"
          suffix:
            type:
              - string
              - "null"
          address:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              end:
                type:
                  - string
                  - "null"
              city:
                type:
                  - string
                  - "null"
              start:
                type:
                  - string
                  - "null"
              state:
                type:
                  - string
                  - "null"
              county:
                type:
                  - string
                  - "null"
              country:
                type:
                  - string
                  - "null"
              inactive:
                type:
                  - boolean
                  - "null"
              preferred:
                type:
                  - boolean
                  - "null"
              do_not_mail:
                type:
                  - boolean
                  - "null"
              postal_code:
                type:
                  - string
                  - "null"
              seasonal_end:
                type:
                  - object
                  - "null"
                properties:
                  d:
                    type:
                      - number
                      - "null"
                  m:
                    type:
                      - number
                      - "null"
              address_lines:
                type:
                  - string
                  - "null"
              constituent_id:
                type:
                  - string
                  - "null"
              seasonal_start:
                type:
                  - object
                  - "null"
                properties:
                  d:
                    type:
                      - number
                      - "null"
                  m:
                    type:
                      - number
                      - "null"
              formatted_address:
                type:
                  - string
                  - "null"
          title_2:
            type:
              - string
              - "null"
          deceased:
            type:
              - boolean
              - "null"
          inactive:
            type:
              - boolean
              - "null"
          suffix_2:
            type:
              - string
              - "null"
          birthdate:
            type:
              - object
              - "null"
            properties:
              d:
                type:
                  - number
                  - "null"
              m:
                type:
                  - number
                  - "null"
              "y":
                type:
                  - number
                  - "null"
          lookup_id:
            type:
              - string
              - "null"
          date_added:
            type:
              - string
              - "null"
          former_name:
            type:
              - string
              - "null"
          date_modified:
            type: string
          marital_status:
            type:
              - string
              - "null"
          preferred_name:
            type:
              - string
              - "null"
          online_presence:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              address:
                type:
                  - string
                  - "null"
              primary:
                type:
                  - boolean
                  - "null"
              inactive:
                type:
                  - boolean
                  - "null"
              constituent_id:
                type:
                  - string
                  - "null"
          fundraiser_status:
            type:
              - string
              - "null"
          gives_anonymously:
            type:
              - boolean
              - "null"
          constituent_assigned_fundraisers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                fundraiser_name:
                  type:
                    - string
                    - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      step: P30D
      cursor_field: date_modified
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config.get('start_date') if config.get('start_date') else
          '2020-01-01T00:00:00Z' }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      start_time_option:
        type: RequestOption
        field_name: last_modified
        inject_into: request_parameter
      cursor_granularity: PT1S
      partition_field_end: ""
      partition_field_start: ""
  - type: DeclarativeStream
    name: actions
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: continuation_token
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.get('continuation_token', '') }}"
          stop_condition: "{{ not response.get('continuation_token') }}"
      requester:
        type: HttpRequester
        url: https://api.sky.blackbaud.com/constituent/v1/actions
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config['client_id'] }}"
          grant_type: refresh_token
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['client_refresh_token'] }}"
          client_id_name: client_id
          expires_in_name: expires_in
          grant_type_name: grant_type
          access_token_name: access_token
          access_token_value: "{{ config['client_access_token'] }}"
          client_secret_name: client_secret
          refresh_token_name: refresh_token
          refresh_request_body:
            preserve_refresh_token: true
          refresh_token_updater:
            refresh_token_name: refresh_token
            access_token_config_path:
              - client_access_token
            refresh_token_config_path:
              - client_refresh_token
            refresh_token_error_values: []
            token_expiry_date_config_path:
              - oauth_token_expiry_date
            refresh_token_error_status_codes: []
          token_refresh_endpoint: https://oauth2.sky.blackbaud.com/token
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
            Authorization: >-
              Basic {{ (config['client_id'] + ':' + config['client_secret']) |
              base64encode }}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              max_retries: 3
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 500
                    - 502
                    - 503
                    - 504
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 403
                  error_message: >-
                    API quota exceeded. Check Retry-After header for quota
                    renewal time.
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 401
                  error_message: >-
                    Authentication failed. Please check your API credentials and
                    refresh token.
        request_headers:
          Accept: application/json
          Bb-Api-Subscription-Key: "{{ config['subscription_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - date_modified
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          id:
            type: string
          date:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          outcome:
            type:
              - string
              - "null"
          summary:
            type:
              - string
              - "null"
          category:
            type:
              - string
              - "null"
          priority:
            type:
              - string
              - "null"
          completed:
            type:
              - boolean
              - "null"
          direction:
            type:
              - string
              - "null"
          date_added:
            type:
              - string
              - "null"
          start_time:
            type:
              - string
              - "null"
          fundraisers:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          date_modified:
            type: string
          completed_date:
            type:
              - string
              - "null"
          constituent_id:
            type:
              - string
              - "null"
          opportunity_id:
            type:
              - string
              - "null"
          computed_status:
            type:
              - string
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      step: P30D
      cursor_field: date_modified
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config.get('start_date') if config.get('start_date') else
          '2020-01-01T00:00:00Z' }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      start_time_option:
        type: RequestOption
        field_name: last_modified
        inject_into: request_parameter
      cursor_granularity: PT1S
  - type: DeclarativeStream
    name: addresses
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 4900
          cursor_value: "{{ response.get('next_link', '') }}"
          stop_condition: "{{ not response.get('next_link') }}"
      requester:
        type: HttpRequester
        url: https://api.sky.blackbaud.com/constituent/v1/addresses
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config['client_id'] }}"
          grant_type: refresh_token
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['client_refresh_token'] }}"
          client_id_name: client_id
          expires_in_name: expires_in
          grant_type_name: grant_type
          access_token_name: access_token
          access_token_value: "{{ config['client_access_token'] }}"
          client_secret_name: client_secret
          refresh_token_name: refresh_token
          refresh_request_body:
            preserve_refresh_token: true
          refresh_token_updater:
            refresh_token_name: refresh_token
            access_token_config_path:
              - client_access_token
            refresh_token_config_path:
              - client_refresh_token
            refresh_token_error_values: []
            token_expiry_date_config_path:
              - oauth_token_expiry_date
            refresh_token_error_status_codes: []
          token_refresh_endpoint: https://oauth2.sky.blackbaud.com/token
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
            Authorization: >-
              Basic {{ (config['client_id'] + ':' + config['client_secret']) |
              base64encode }}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              max_retries: 3
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 500
                    - 502
                    - 503
                    - 504
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 403
                  error_message: >-
                    API quota exceeded. Check Retry-After header for quota
                    renewal time.
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 401
                  error_message: >-
                    Authentication failed. Please check your API credentials and
                    refresh token.
        request_headers:
          Accept: application/json
          Bb-Api-Subscription-Key: "{{ config['subscription_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - date_modified
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          city:
            type:
              - string
              - "null"
          start:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          inactive:
            type:
              - boolean
              - "null"
          preferred:
            type:
              - boolean
              - "null"
          date_added:
            type:
              - string
              - "null"
          do_not_mail:
            type:
              - boolean
              - "null"
          postal_code:
            type:
              - string
              - "null"
          address_lines:
            type:
              - string
              - "null"
          date_modified:
            type: string
          constituent_id:
            type:
              - string
              - "null"
          formatted_address:
            type:
              - string
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      step: P30D
      cursor_field: date_modified
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config.get('start_date') if config.get('start_date') else
          '2020-01-01T00:00:00Z' }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      start_time_option:
        type: RequestOption
        field_name: last_modified
        inject_into: request_parameter
      cursor_granularity: PT1S
  - type: DeclarativeStream
    name: phones
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 4900
          cursor_value: "{{ response.get('next_link', '') }}"
          stop_condition: "{{ not response.get('next_link') }}"
      requester:
        type: HttpRequester
        url: https://api.sky.blackbaud.com/constituent/v1/phones
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config['client_id'] }}"
          grant_type: refresh_token
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['client_refresh_token'] }}"
          client_id_name: client_id
          expires_in_name: expires_in
          grant_type_name: grant_type
          access_token_name: access_token
          access_token_value: "{{ config['client_access_token'] }}"
          client_secret_name: client_secret
          refresh_token_name: refresh_token
          refresh_request_body:
            preserve_refresh_token: true
          refresh_token_updater:
            refresh_token_name: refresh_token
            access_token_config_path:
              - client_access_token
            refresh_token_config_path:
              - client_refresh_token
            refresh_token_error_values: []
            token_expiry_date_config_path:
              - oauth_token_expiry_date
            refresh_token_error_status_codes: []
          token_refresh_endpoint: https://oauth2.sky.blackbaud.com/token
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
            Authorization: >-
              Basic {{ (config['client_id'] + ':' + config['client_secret']) |
              base64encode }}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              max_retries: 3
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 500
                    - 502
                    - 503
                    - 504
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 403
                  error_message: >-
                    API quota exceeded. Check Retry-After header for quota
                    renewal time.
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 401
                  error_message: >-
                    Authentication failed. Please check your API credentials and
                    refresh token.
        request_headers:
          Accept: application/json
          Bb-Api-Subscription-Key: "{{ config['subscription_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - date_modified
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          number:
            type:
              - string
              - "null"
          primary:
            type:
              - boolean
              - "null"
          inactive:
            type:
              - boolean
              - "null"
          date_added:
            type:
              - string
              - "null"
          do_not_call:
            type:
              - boolean
              - "null"
          date_modified:
            type: string
          constituent_id:
            type:
              - string
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      step: P30D
      cursor_field: date_modified
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config.get('start_date') if config.get('start_date') else
          '2020-01-01T00:00:00Z' }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      start_time_option:
        type: RequestOption
        field_name: last_modified
        inject_into: request_parameter
      cursor_granularity: PT1S
  - type: DeclarativeStream
    name: emailaddresses
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 4900
          cursor_value: "{{ response.get('next_link', '') }}"
          stop_condition: "{{ not response.get('next_link') }}"
      requester:
        type: HttpRequester
        url: https://api.sky.blackbaud.com/constituent/v1/emailaddresses
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config['client_id'] }}"
          grant_type: refresh_token
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['client_refresh_token'] }}"
          client_id_name: client_id
          expires_in_name: expires_in
          grant_type_name: grant_type
          access_token_name: access_token
          access_token_value: "{{ config['client_access_token'] }}"
          client_secret_name: client_secret
          refresh_token_name: refresh_token
          refresh_request_body:
            preserve_refresh_token: true
          refresh_token_updater:
            refresh_token_name: refresh_token
            access_token_config_path:
              - client_access_token
            refresh_token_config_path:
              - client_refresh_token
            refresh_token_error_values: []
            token_expiry_date_config_path:
              - oauth_token_expiry_date
            refresh_token_error_status_codes: []
          token_refresh_endpoint: https://oauth2.sky.blackbaud.com/token
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
            Authorization: >-
              Basic {{ (config['client_id'] + ':' + config['client_secret']) |
              base64encode }}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              max_retries: 3
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 500
                    - 502
                    - 503
                    - 504
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 403
                  error_message: >-
                    API quota exceeded. Check Retry-After header for quota
                    renewal time.
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 401
                  error_message: >-
                    Authentication failed. Please check your API credentials and
                    refresh token.
        request_headers:
          Accept: application/json
          Bb-Api-Subscription-Key: "{{ config['subscription_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - date_modified
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          address:
            type:
              - string
              - "null"
          primary:
            type:
              - boolean
              - "null"
          inactive:
            type:
              - boolean
              - "null"
          date_added:
            type:
              - string
              - "null"
          do_not_email:
            type:
              - boolean
              - "null"
          date_modified:
            type: string
          constituent_id:
            type:
              - string
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      step: P30D
      cursor_field: date_modified
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config.get('start_date') if config.get('start_date') else
          '2020-01-01T00:00:00Z' }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      start_time_option:
        type: RequestOption
        field_name: last_modified
        inject_into: request_parameter
      cursor_granularity: PT1S
  - type: DeclarativeStream
    name: relationships
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 4900
          cursor_value: "{{ response.get('next_link', '') }}"
          stop_condition: "{{ not response.get('next_link') }}"
      requester:
        type: HttpRequester
        url: https://api.sky.blackbaud.com/constituent/v1/relationships
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config['client_id'] }}"
          grant_type: refresh_token
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['client_refresh_token'] }}"
          client_id_name: client_id
          expires_in_name: expires_in
          grant_type_name: grant_type
          access_token_name: access_token
          access_token_value: "{{ config['client_access_token'] }}"
          client_secret_name: client_secret
          refresh_token_name: refresh_token
          refresh_request_body:
            preserve_refresh_token: true
          refresh_token_updater:
            refresh_token_name: refresh_token
            access_token_config_path:
              - client_access_token
            refresh_token_config_path:
              - client_refresh_token
            refresh_token_error_values: []
            token_expiry_date_config_path:
              - oauth_token_expiry_date
            refresh_token_error_status_codes: []
          token_refresh_endpoint: https://oauth2.sky.blackbaud.com/token
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
            Authorization: >-
              Basic {{ (config['client_id'] + ':' + config['client_secret']) |
              base64encode }}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              max_retries: 3
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 500
                    - 502
                    - 503
                    - 504
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 403
                  error_message: >-
                    API quota exceeded. Check Retry-After header for quota
                    renewal time.
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 401
                  error_message: >-
                    Authentication failed. Please check your API credentials and
                    refresh token.
        request_headers:
          Accept: application/json
          Bb-Api-Subscription-Key: "{{ config['subscription_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - date_modified
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          end:
            type:
              - object
              - "null"
            properties:
              d:
                type:
                  - number
                  - "null"
              m:
                type:
                  - number
                  - "null"
              "y":
                type:
                  - number
                  - "null"
          name:
            type:
              - string
              - "null"
          start:
            type:
              - object
              - "null"
            properties:
              d:
                type:
                  - number
                  - "null"
              m:
                type:
                  - number
                  - "null"
              "y":
                type:
                  - number
                  - "null"
          comment:
            type:
              - string
              - "null"
          position:
            type:
              - string
              - "null"
          is_spouse:
            type:
              - boolean
              - "null"
          last_name:
            type:
              - string
              - "null"
          date_added:
            type:
              - string
              - "null"
          first_name:
            type:
              - string
              - "null"
          relation_id:
            type:
              - string
              - "null"
          date_modified:
            type: string
          constituent_id:
            type:
              - string
              - "null"
          reciprocal_type:
            type:
              - string
              - "null"
          is_primary_business:
            type:
              - boolean
              - "null"
          is_organization_contact:
            type:
              - boolean
              - "null"
          reciprocal_relationship_id:
            type:
              - string
              - "null"
          is_spouse_head_of_household:
            type:
              - boolean
              - "null"
          is_constituent_head_of_household:
            type:
              - boolean
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      step: P30D
      cursor_field: date_modified
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config.get('start_date') if config.get('start_date') else
          '2020-01-01T00:00:00Z' }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      start_time_option:
        type: RequestOption
        field_name: last_modified
        inject_into: request_parameter
      cursor_granularity: PT1S
  - type: DeclarativeStream
    name: notes
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 4900
          cursor_value: "{{ response.get('next_link', '') }}"
          stop_condition: "{{ not response.get('next_link') }}"
      requester:
        type: HttpRequester
        url: https://api.sky.blackbaud.com/constituent/v1/notes
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config['client_id'] }}"
          grant_type: refresh_token
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['client_refresh_token'] }}"
          client_id_name: client_id
          expires_in_name: expires_in
          grant_type_name: grant_type
          access_token_name: access_token
          access_token_value: "{{ config['client_access_token'] }}"
          client_secret_name: client_secret
          refresh_token_name: refresh_token
          refresh_request_body:
            preserve_refresh_token: true
          refresh_token_updater:
            refresh_token_name: refresh_token
            access_token_config_path:
              - client_access_token
            refresh_token_config_path:
              - client_refresh_token
            refresh_token_error_values: []
            token_expiry_date_config_path:
              - oauth_token_expiry_date
            refresh_token_error_status_codes: []
          token_refresh_endpoint: https://oauth2.sky.blackbaud.com/token
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
            Authorization: >-
              Basic {{ (config['client_id'] + ':' + config['client_secret']) |
              base64encode }}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              max_retries: 3
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 500
                    - 502
                    - 503
                    - 504
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 403
                  error_message: >-
                    API quota exceeded. Check Retry-After header for quota
                    renewal time.
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 401
                  error_message: >-
                    Authentication failed. Please check your API credentials and
                    refresh token.
        request_headers:
          Accept: application/json
          Bb-Api-Subscription-Key: "{{ config['subscription_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - date_modified
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          date:
            type:
              - object
              - "null"
            properties:
              d:
                type:
                  - number
                  - "null"
              m:
                type:
                  - number
                  - "null"
              "y":
                type:
                  - number
                  - "null"
          text:
            type:
              - string
              - "null"
          summary:
            type:
              - string
              - "null"
          date_added:
            type:
              - string
              - "null"
          date_modified:
            type: string
          constituent_id:
            type:
              - string
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      step: P30D
      cursor_field: date_modified
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config.get('start_date') if config.get('start_date') else
          '2020-01-01T00:00:00Z' }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      start_time_option:
        type: RequestOption
        field_name: last_modified
        inject_into: request_parameter
      cursor_granularity: PT1S
  - type: DeclarativeStream
    name: customfields
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 4900
          cursor_value: "{{ response.get('next_link', '') }}"
          stop_condition: "{{ not response.get('next_link') }}"
      requester:
        type: HttpRequester
        url: https://api.sky.blackbaud.com/constituent/v1/constituents/customfields
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config['client_id'] }}"
          grant_type: refresh_token
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['client_refresh_token'] }}"
          client_id_name: client_id
          expires_in_name: expires_in
          grant_type_name: grant_type
          access_token_name: access_token
          access_token_value: "{{ config['client_access_token'] }}"
          client_secret_name: client_secret
          refresh_token_name: refresh_token
          refresh_request_body:
            preserve_refresh_token: true
          refresh_token_updater:
            refresh_token_name: refresh_token
            access_token_config_path:
              - client_access_token
            refresh_token_config_path:
              - client_refresh_token
            refresh_token_error_values: []
            token_expiry_date_config_path:
              - oauth_token_expiry_date
            refresh_token_error_status_codes: []
          token_refresh_endpoint: https://oauth2.sky.blackbaud.com/token
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
            Authorization: >-
              Basic {{ (config['client_id'] + ':' + config['client_secret']) |
              base64encode }}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              max_retries: 3
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 500
                    - 502
                    - 503
                    - 504
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 403
                  error_message: >-
                    API quota exceeded. Check Retry-After header for quota
                    renewal time.
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 401
                  error_message: >-
                    Authentication failed. Please check your API credentials and
                    refresh token.
        request_headers:
          Accept: application/json
          Bb-Api-Subscription-Key: "{{ config['subscription_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - date_modified
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          date:
            type:
              - string
              - "null"
          value:
            anyOf:
              - type:
                  - boolean
                  - number
                  - string
              - type: object
                properties:
                  m:
                    type: number
                  "y":
                    type: number
          comment:
            type:
              - string
              - "null"
          category:
            type:
              - string
              - "null"
          parent_id:
            type:
              - string
              - "null"
          date_added:
            type:
              - string
              - "null"
          date_modified:
            type: string
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      step: P30D
      cursor_field: date_modified
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config.get('start_date') if config.get('start_date') else
          '2020-01-01T00:00:00Z' }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      start_time_option:
        type: RequestOption
        field_name: last_modified
        inject_into: request_parameter
      cursor_granularity: PT1S
  - type: DeclarativeStream
    name: constituentcodes
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 4900
          cursor_value: "{{ response.get('next_link', '') }}"
          stop_condition: "{{ not response.get('next_link') }}"
      requester:
        type: HttpRequester
        url: >-
          https://api.sky.blackbaud.com/constituent/v1/constituents/constituentcodes
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config['client_id'] }}"
          grant_type: refresh_token
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['client_refresh_token'] }}"
          client_id_name: client_id
          expires_in_name: expires_in
          grant_type_name: grant_type
          access_token_name: access_token
          access_token_value: "{{ config['client_access_token'] }}"
          client_secret_name: client_secret
          refresh_token_name: refresh_token
          refresh_request_body:
            preserve_refresh_token: true
          refresh_token_updater:
            refresh_token_name: refresh_token
            access_token_config_path:
              - client_access_token
            refresh_token_config_path:
              - client_refresh_token
            refresh_token_error_values: []
            token_expiry_date_config_path:
              - oauth_token_expiry_date
            refresh_token_error_status_codes: []
          token_refresh_endpoint: https://oauth2.sky.blackbaud.com/token
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
            Authorization: >-
              Basic {{ (config['client_id'] + ':' + config['client_secret']) |
              base64encode }}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              max_retries: 3
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 500
                    - 502
                    - 503
                    - 504
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 403
                  error_message: >-
                    API quota exceeded. Check Retry-After header for quota
                    renewal time.
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 401
                  error_message: >-
                    Authentication failed. Please check your API credentials and
                    refresh token.
        request_headers:
          Accept: application/json
          Bb-Api-Subscription-Key: "{{ config['subscription_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - date_modified
        properties:
          description:
            type:
              - string
              - "null"
          id:
            type: string
          start:
            type:
              - object
              - "null"
            properties:
              d:
                type:
                  - number
                  - "null"
              m:
                type:
                  - number
                  - "null"
              "y":
                type:
                  - number
                  - "null"
          inactive:
            type:
              - boolean
              - "null"
          sequence:
            type:
              - number
              - "null"
          date_added:
            type:
              - string
              - "null"
          date_modified:
            type: string
          constituent_id:
            type:
              - string
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      step: P30D
      cursor_field: date_modified
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config.get('start_date') if config.get('start_date') else
          '2020-01-01T00:00:00Z' }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      start_time_option:
        type: RequestOption
        field_name: last_modified
        inject_into: request_parameter
      cursor_granularity: PT1S
  - type: DeclarativeStream
    name: gifts
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 4900
          cursor_value: "{{ response.get('next_link', '') }}"
          stop_condition: "{{ not response.get('next_link') }}"
      requester:
        type: HttpRequester
        url: https://api.sky.blackbaud.com/gift/v1/gifts
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config['client_id'] }}"
          grant_type: refresh_token
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['client_refresh_token'] }}"
          client_id_name: client_id
          expires_in_name: expires_in
          grant_type_name: grant_type
          access_token_name: access_token
          access_token_value: "{{ config['client_access_token'] }}"
          client_secret_name: client_secret
          refresh_token_name: refresh_token
          refresh_request_body:
            preserve_refresh_token: true
          refresh_token_updater:
            refresh_token_name: refresh_token
            access_token_config_path:
              - client_access_token
            refresh_token_config_path:
              - client_refresh_token
            refresh_token_error_values: []
            token_expiry_date_config_path:
              - oauth_token_expiry_date
            refresh_token_error_status_codes: []
          token_refresh_endpoint: https://oauth2.sky.blackbaud.com/token
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
            Authorization: >-
              Basic {{ (config['client_id'] + ':' + config['client_secret']) |
              base64encode }}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              max_retries: 3
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 500
                    - 502
                    - 503
                    - 504
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 403
                  error_message: >-
                    API quota exceeded. Check Retry-After header for quota
                    renewal time.
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 401
                  error_message: >-
                    Authentication failed. Please check your API credentials and
                    refresh token.
        request_headers:
          Accept: application/json
          Bb-Api-Subscription-Key: "{{ config['subscription_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - date_modified
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          date:
            type:
              - string
              - "null"
          amount:
            type:
              - object
              - "null"
            properties:
              value:
                type:
                  - number
                  - "null"
          balance:
            type:
              - object
              - "null"
            properties:
              value:
                type:
                  - number
                  - "null"
          subtype:
            type:
              - string
              - "null"
          payments:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                payment_method:
                  type:
                    - string
                    - "null"
          receipts:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                date:
                  type:
                    - string
                    - "null"
                amount:
                  type:
                    - object
                    - "null"
                  properties:
                    value:
                      type:
                        - number
                        - "null"
                number:
                  type:
                    - number
                    - "null"
                status:
                  type:
                    - string
                    - "null"
          lookup_id:
            type:
              - string
              - "null"
          post_date:
            type:
              - string
              - "null"
          reference:
            type:
              - string
              - "null"
          date_added:
            type:
              - string
              - "null"
          fundraisers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                amount:
                  type:
                    - object
                    - "null"
                  properties:
                    value:
                      type:
                        - number
                        - "null"
                constituent_id:
                  type:
                    - string
                    - "null"
          gift_splits:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                amount:
                  type:
                    - object
                    - "null"
                  properties:
                    value:
                      type:
                        - number
                        - "null"
                fund_id:
                  type:
                    - string
                    - "null"
                appeal_id:
                  type:
                    - string
                    - "null"
                package_id:
                  type:
                    - string
                    - "null"
                campaign_id:
                  type:
                    - string
                    - "null"
          gift_status:
            type:
              - string
              - "null"
          post_status:
            type:
              - string
              - "null"
          batch_number:
            type:
              - string
              - "null"
          constituency:
            type:
              - string
              - "null"
          is_anonymous:
            type:
              - boolean
              - "null"
          linked_gifts:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          soft_credits:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                amount:
                  type:
                    - object
                    - "null"
                  properties:
                    value:
                      type:
                        - number
                        - "null"
                gift_id:
                  type:
                    - string
                    - "null"
                constituent_id:
                  type:
                    - string
                    - "null"
          date_modified:
            type: string
          constituent_id:
            type:
              - string
              - "null"
          acknowledgements:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                date:
                  type:
                    - string
                    - "null"
                status:
                  type:
                    - string
                    - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      step: P30D
      cursor_field: date_modified
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config.get('start_date') if config.get('start_date') else
          '2020-01-01T00:00:00Z' }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      start_time_option:
        type: RequestOption
        field_name: last_modified
        inject_into: request_parameter
      cursor_granularity: PT1S
  - type: DeclarativeStream
    name: giftcustomfields
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 4900
          cursor_value: "{{ response.get('next_link', '') }}"
          stop_condition: "{{ not response.get('next_link') }}"
      requester:
        type: HttpRequester
        url: https://api.sky.blackbaud.com/gift/v1/gifts/customfields
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config['client_id'] }}"
          grant_type: refresh_token
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['client_refresh_token'] }}"
          client_id_name: client_id
          expires_in_name: expires_in
          grant_type_name: grant_type
          access_token_name: access_token
          access_token_value: "{{ config['client_access_token'] }}"
          client_secret_name: client_secret
          refresh_token_name: refresh_token
          refresh_request_body:
            preserve_refresh_token: true
          refresh_token_updater:
            refresh_token_name: refresh_token
            access_token_config_path:
              - client_access_token
            refresh_token_config_path:
              - client_refresh_token
            refresh_token_error_values: []
            token_expiry_date_config_path:
              - oauth_token_expiry_date
            refresh_token_error_status_codes: []
          token_refresh_endpoint: https://oauth2.sky.blackbaud.com/token
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
            Authorization: >-
              Basic {{ (config['client_id'] + ':' + config['client_secret']) |
              base64encode }}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              max_retries: 3
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 500
                    - 502
                    - 503
                    - 504
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 403
                  error_message: >-
                    API quota exceeded. Check Retry-After header for quota
                    renewal time.
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 401
                  error_message: >-
                    Authentication failed. Please check your API credentials and
                    refresh token.
        request_headers:
          Accept: application/json
          Bb-Api-Subscription-Key: "{{ config['subscription_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - date_modified
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          value:
            type:
              - string
              - "null"
          category:
            type:
              - string
              - "null"
          parent_id:
            type:
              - string
              - "null"
          date_added:
            type:
              - string
              - "null"
          date_modified:
            type: string
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      step: P30D
      cursor_field: date_modified
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config.get('start_date') if config.get('start_date') else
          '2020-01-01T00:00:00Z' }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      start_time_option:
        type: RequestOption
        field_name: last_modified
        inject_into: request_parameter
      cursor_granularity: PT1S
  - type: DeclarativeStream
    name: opportunities
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 4900
          cursor_value: "{{ response.get('next_link', '') }}"
          stop_condition: "{{ not response.get('next_link') }}"
      requester:
        type: HttpRequester
        url: https://api.sky.blackbaud.com/opportunity/v1/opportunities
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config['client_id'] }}"
          grant_type: refresh_token
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['client_refresh_token'] }}"
          client_id_name: client_id
          expires_in_name: expires_in
          grant_type_name: grant_type
          access_token_name: access_token
          access_token_value: "{{ config['client_access_token'] }}"
          client_secret_name: client_secret
          refresh_token_name: refresh_token
          refresh_request_body:
            preserve_refresh_token: true
          refresh_token_updater:
            refresh_token_name: refresh_token
            access_token_config_path:
              - client_access_token
            refresh_token_config_path:
              - client_refresh_token
            refresh_token_error_values: []
            token_expiry_date_config_path:
              - oauth_token_expiry_date
            refresh_token_error_status_codes: []
          token_refresh_endpoint: https://oauth2.sky.blackbaud.com/token
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
            Authorization: >-
              Basic {{ (config['client_id'] + ':' + config['client_secret']) |
              base64encode }}
        request_headers:
          Accept: application/json
          Bb-Api-Subscription-Key: "{{ config['subscription_key'] }}"
        request_parameters:
          include_inactive: "false"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - date_modified
        properties:
          id:
            type: string
          name:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          purpose:
            type:
              - string
              - "null"
          ask_date:
            type:
              - string
              - "null"
          deadline:
            type:
              - string
              - "null"
          inactive:
            type:
              - boolean
              - "null"
          ask_amount:
            type:
              - object
              - "null"
            properties:
              value:
                type:
                  - number
                  - "null"
          date_added:
            type:
              - string
              - "null"
          funded_date:
            type:
              - string
              - "null"
          fundraisers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                credit_amount:
                  type:
                    - object
                    - "null"
                  properties:
                    value:
                      type:
                        - number
                        - "null"
                constituent_id:
                  type:
                    - string
                    - "null"
          date_modified:
            type: string
          expected_date:
            type:
              - string
              - "null"
          funded_amount:
            type:
              - object
              - "null"
            properties:
              value:
                type:
                  - number
                  - "null"
          constituent_id:
            type:
              - string
              - "null"
          expected_amount:
            type:
              - object
              - "null"
            properties:
              value:
                type:
                  - number
                  - "null"
          opportunity_likelihood_id:
            type:
              - string
              - "null"
          opportunity_likelihood_name:
            type:
              - string
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      step: P30D
      cursor_field: date_modified
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config.get('start_date') if config.get('start_date') else
          '2020-01-01T00:00:00Z' }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      start_time_option:
        type: RequestOption
        field_name: last_modified
        inject_into: request_parameter
      cursor_granularity: PT1S
  - type: DeclarativeStream
    name: campaigns
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 4900
          cursor_value: "{{ response.get('next_link', '') }}"
          stop_condition: "{{ not response.get('next_link') }}"
      requester:
        type: HttpRequester
        url: https://api.sky.blackbaud.com/fundraising/v1/campaigns
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config['client_id'] }}"
          grant_type: refresh_token
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['client_refresh_token'] }}"
          client_id_name: client_id
          expires_in_name: expires_in
          grant_type_name: grant_type
          access_token_name: access_token
          access_token_value: "{{ config['client_access_token'] }}"
          client_secret_name: client_secret
          refresh_token_name: refresh_token
          refresh_request_body:
            preserve_refresh_token: true
          refresh_token_updater:
            refresh_token_name: refresh_token
            access_token_config_path:
              - client_access_token
            refresh_token_config_path:
              - client_refresh_token
            refresh_token_error_values: []
            token_expiry_date_config_path:
              - oauth_token_expiry_date
            refresh_token_error_status_codes: []
          token_refresh_endpoint: https://oauth2.sky.blackbaud.com/token
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
            Authorization: >-
              Basic {{ (config['client_id'] + ':' + config['client_secret']) |
              base64encode }}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              max_retries: 3
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 500
                    - 502
                    - 503
                    - 504
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 403
                  error_message: >-
                    API quota exceeded. Check Retry-After header for quota
                    renewal time.
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 401
                  error_message: >-
                    Authentication failed. Please check your API credentials and
                    refresh token.
        request_headers:
          Accept: application/json
          Bb-Api-Subscription-Key: "{{ config['subscription_key'] }}"
        request_parameters:
          include_inactive: "true"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - date_modified
        properties:
          description:
            type:
              - string
              - "null"
          id:
            type: string
          goal:
            type:
              - object
              - "null"
            properties:
              value:
                type:
                  - number
                  - "null"
          category:
            type:
              - string
              - "null"
          end_date:
            type:
              - string
              - "null"
          inactive:
            type:
              - boolean
              - "null"
          lookup_id:
            type:
              - string
              - "null"
          date_added:
            type:
              - string
              - "null"
          start_date:
            type:
              - string
              - "null"
          date_modified:
            type: string
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      step: P90D
      cursor_field: date_modified
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config.get('start_date') if config.get('start_date') else
          '2020-01-01T00:00:00Z' }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      start_time_option:
        type: RequestOption
        field_name: last_modified
        inject_into: request_parameter
      cursor_granularity: PT1S
  - type: DeclarativeStream
    name: funds
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 4900
          cursor_value: "{{ response.get('next_link', '') }}"
          stop_condition: "{{ not response.get('next_link') }}"
      requester:
        type: HttpRequester
        url: https://api.sky.blackbaud.com/fundraising/v1/funds
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config['client_id'] }}"
          grant_type: refresh_token
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['client_refresh_token'] }}"
          client_id_name: client_id
          expires_in_name: expires_in
          grant_type_name: grant_type
          access_token_name: access_token
          access_token_value: "{{ config['client_access_token'] }}"
          client_secret_name: client_secret
          refresh_token_name: refresh_token
          refresh_request_body:
            preserve_refresh_token: true
          refresh_token_updater:
            refresh_token_name: refresh_token
            access_token_config_path:
              - client_access_token
            refresh_token_config_path:
              - client_refresh_token
            refresh_token_error_values: []
            token_expiry_date_config_path:
              - oauth_token_expiry_date
            refresh_token_error_status_codes: []
          token_refresh_endpoint: https://oauth2.sky.blackbaud.com/token
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
            Authorization: >-
              Basic {{ (config['client_id'] + ':' + config['client_secret']) |
              base64encode }}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              max_retries: 3
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 500
                    - 502
                    - 503
                    - 504
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 403
                  error_message: >-
                    API quota exceeded. Check Retry-After header for quota
                    renewal time.
            - type: DefaultErrorHandler
              max_retries: 0
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  http_codes:
                    - 401
                  error_message: >-
                    Authentication failed. Please check your API credentials and
                    refresh token.
        request_headers:
          Accept: application/json
          Bb-Api-Subscription-Key: "{{ config['subscription_key'] }}"
        request_parameters:
          include_inactive: "true"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - date_modified
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          id:
            type: string
          goal:
            type:
              - object
              - "null"
            properties:
              value:
                type:
                  - number
                  - "null"
          category:
            type:
              - string
              - "null"
          inactive:
            type:
              - boolean
              - "null"
          lookup_id:
            type:
              - string
              - "null"
          date_added:
            type:
              - string
              - "null"
          start_date:
            type:
              - string
              - "null"
          date_modified:
            type: string
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      step: P90D
      cursor_field: date_modified
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config.get('start_date') if config.get('start_date') else
          '2020-01-01T00:00:00Z' }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      start_time_option:
        type: RequestOption
        field_name: last_modified
        inject_into: request_parameter
      cursor_granularity: PT1S
  - type: DeclarativeStream
    name: appeals
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 4900
          cursor_value: "{{ response.get('next_link', '') }}"
          stop_condition: "{{ not response.get('next_link') }}"
      requester:
        type: HttpRequester
        url: https://api.sky.blackbaud.com/fundraising/v1/appeals
        http_method: GET
        authenticator:
          type: OAuthAuthenticator
          client_id: "{{ config['client_id'] }}"
          grant_type: refresh_token
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['client_refresh_token'] }}"
          client_id_name: client_id
          expires_in_name: expires_in
          grant_type_name: grant_type
          access_token_name: access_token
          access_token_value: "{{ config['client_access_token'] }}"
          client_secret_name: client_secret
          refresh_token_name: refresh_token
          refresh_request_body:
            preserve_refresh_token: true
          refresh_token_updater:
[...]
