version: 6.44.0

type: DeclarativeSource

description: >-
  Mailosaur is a communication-testing platform .

  With this connector we can easily fetch data from messages , servers and
  transactions streams!

  Documentation : https://mailosaur.com/

  API Reference: https://mailosaur.com/docs/api

check:
  type: CheckStream
  stream_names:
    - messages

definitions:
  streams:
    messages:
      type: DeclarativeStream
      name: messages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/messages
          http_method: GET
          request_parameters:
            server: "{{ stream_partition['server_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: itemPerPage
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: server_id
              stream:
                $ref: "#/definitions/streams/servers"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: received
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: receivedAfter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/messages"
    servers:
      type: DeclarativeStream
      name: servers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/servers
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: itemPerPage
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/servers"
    usage_limits:
      type: DeclarativeStream
      name: usage_limits
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/usage/limits
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: itemPerPage
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/usage_limits"
    usage_transactions:
      type: DeclarativeStream
      name: usage_transactions
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/usage/transactions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: itemPerPage
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: timestamp
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: receivedAfter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/usage_transactions"
    server_password:
      type: DeclarativeStream
      name: server_password
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/servers/{{ stream_partition['server_id'] }}/password
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: itemPerPage
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: server_id
              stream:
                $ref: "#/definitions/streams/servers"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: creationDate
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: receivedAfter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/server_password"
  base_requester:
    type: HttpRequester
    url_base: https://mailosaur.com
    authenticator:
      type: BasicHttpAuthenticator
      username: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/messages"
  - $ref: "#/definitions/streams/servers"
  - $ref: "#/definitions/streams/usage_limits"
  - $ref: "#/definitions/streams/usage_transactions"
  - $ref: "#/definitions/streams/server_password"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        description: >-
          Your Mailosaur API key. You can find it in the Mailosaur Dashboard
          under 'API Keys'.
        name: api_key
        title: API Key
        airbyte_secret: true
        order: 0
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    messages: true
    servers: true
    usage_limits: true
    usage_transactions: true
    server_password: true
  testedStreams:
    messages:
      streamHash: b60cb4c76204719d15d247de0132aaa380ba5465
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    servers:
      streamHash: 7733118d65bb7d008036fef3efc7df7823898e5b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    usage_limits:
      streamHash: d4dcba37584448188930ac3bdd166282484e34a1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    usage_transactions:
      streamHash: bf53df657c01a37cfde83c4951735926a036f9af
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    server_password:
      streamHash: b8c1f366bc9eee78e375ed0c9646a76a11d215bb
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://mailosaur.com/docs/api

schemas:
  messages:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attachments:
        type:
          - number
          - "null"
      bcc:
        type:
          - array
          - "null"
      cc:
        type:
          - array
          - "null"
      from:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            email:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      id:
        type: string
      read:
        type:
          - boolean
          - "null"
      received:
        type: string
      server:
        type:
          - string
          - "null"
      subject:
        type:
          - string
          - "null"
      summary:
        type:
          - string
          - "null"
      to:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            email:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
    required:
      - id
      - received
  servers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      customId:
        type:
          - string
          - "null"
      domain:
        type:
          - string
          - "null"
      id:
        type: string
      messages:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      restricted:
        type:
          - boolean
          - "null"
      retention:
        type:
          - number
          - "null"
      users:
        type:
          - array
          - "null"
    required:
      - id
  usage_limits:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      email:
        type:
          - object
          - "null"
        properties:
          current:
            type:
              - number
              - "null"
          limit:
            type:
              - number
              - "null"
          received:
            type:
              - number
              - "null"
          sent:
            type:
              - number
              - "null"
      numbers:
        type:
          - object
          - "null"
        properties:
          current:
            type:
              - number
              - "null"
          limit:
            type:
              - number
              - "null"
      previews:
        type:
          - object
          - "null"
        properties:
          current:
            type:
              - number
              - "null"
          limit:
            type:
              - number
              - "null"
      screenshots:
        type:
          - object
          - "null"
        properties:
          current:
            type:
              - number
              - "null"
          limit:
            type:
              - number
              - "null"
      servers:
        type:
          - object
          - "null"
        properties:
          current:
            type:
              - number
              - "null"
          limit:
            type:
              - number
              - "null"
      sms:
        type:
          - object
          - "null"
        properties:
          current:
            type:
              - number
              - "null"
          limit:
            type:
              - number
              - "null"
          received:
            type:
              - number
              - "null"
          sent:
            type:
              - number
              - "null"
      users:
        type:
          - object
          - "null"
        properties:
          current:
            type:
              - number
              - "null"
          limit:
            type:
              - number
              - "null"
      uuid:
        type: string
    required:
      - uuid
  usage_transactions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      email:
        type:
          - number
          - "null"
      emailSent:
        type:
          - number
          - "null"
      previews:
        type:
          - number
          - "null"
      screenshots:
        type:
          - number
          - "null"
      sms:
        type:
          - number
          - "null"
      smsSent:
        type:
          - number
          - "null"
      timestamp:
        type: string
      uuid:
        type: string
    required:
      - uuid
      - timestamp
  server_password:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      creationDate:
        type: string
      id:
        type: string
      name:
        type:
          - string
          - "null"
      server:
        type:
          - string
          - "null"
      value:
        type:
          - string
          - "null"
    required:
      - id
      - creationDate
