version: 6.5.2

type: DeclarativeSource

description: >-
  Added two additional fields to the incident stream that are shown in the
  sample response in the documentation
  (https://docs.opsgenie.com/docs/incident-api):

  - impactDetectDate

  - impactEndDate

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  auth:
    type: ApiKeyAuthenticator
    api_token: GenieKey {{ config['api_token'] }}
    inject_into:
      type: RequestOption
      field_name: Authorization
      inject_into: header
  on_error:
    type: CompositeErrorHandler
    error_handlers:
      - type: DefaultErrorHandler
        backoff_strategies:
          - type: WaitUntilTimeFromHeader
            header: X-RateLimit-Period-In-Sec
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - data
  requester:
    type: HttpRequester
    url_base: https://{{ config['endpoint'] }}
    http_method: GET
    authenticator:
      type: ApiKeyAuthenticator
      api_token: GenieKey {{ config['api_token'] }}
      inject_into:
        type: RequestOption
        field_name: Authorization
        inject_into: header
    error_handler:
      type: CompositeErrorHandler
      error_handlers:
        - type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitUntilTimeFromHeader
              header: X-RateLimit-Period-In-Sec
    request_headers:
      Accept: application/json
    request_body_json: {}
    request_parameters: {}
  retriever:
    type: SimpleRetriever
    paginator:
      type: DefaultPaginator
      page_token_option:
        type: RequestPath
      pagination_strategy:
        type: CursorPagination
        cursor_value: "{{ response.get(\"paging\", {}).get(\"next\", {}) }}"
        stop_condition: "{{ not response.get(\"paging\", {}).get(\"next\", {}) }}"
    requester:
      type: HttpRequester
      url_base: https://{{ config['endpoint'] }}
      http_method: GET
      authenticator:
        type: ApiKeyAuthenticator
        api_token: GenieKey {{ config['api_token'] }}
        inject_into:
          type: RequestOption
          field_name: Authorization
          inject_into: header
      error_handler:
        type: CompositeErrorHandler
        error_handlers:
          - type: DefaultErrorHandler
            backoff_strategies:
              - type: WaitUntilTimeFromHeader
                header: X-RateLimit-Period-In-Sec
      request_headers:
        Accept: application/json
      request_body_json: {}
      request_parameters: {}
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path:
          - data
  pagination:
    type: DefaultPaginator
    page_token_option:
      type: RequestPath
    pagination_strategy:
      type: CursorPagination
      cursor_value: "{{ response.get(\"paging\", {}).get(\"next\", {}) }}"
      stop_condition: "{{ not response.get(\"paging\", {}).get(\"next\", {}) }}"
  base_stream:
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get(\"paging\", {}).get(\"next\", {}) }}"
          stop_condition: "{{ not response.get(\"paging\", {}).get(\"next\", {}) }}"
      requester:
        type: HttpRequester
        url_base: https://{{ config['endpoint'] }}
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: GenieKey {{ config['api_token'] }}
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
        request_headers:
          Accept: application/json
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
  teams_stream:
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get(\"paging\", {}).get(\"next\", {}) }}"
          stop_condition: "{{ not response.get(\"paging\", {}).get(\"next\", {}) }}"
      requester:
        type: HttpRequester
        url_base: https://{{ config['endpoint'] }}
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: GenieKey {{ config['api_token'] }}
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
        request_headers:
          Accept: application/json
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          description:
            type:
              - "null"
              - string
            description: Description of the team.
          id:
            type:
              - "null"
              - string
            description: Unique identifier for the team.
          name:
            type:
              - "null"
              - string
            description: Name of the team.
          links:
            type:
              - "null"
              - object
            description: Links related to the teams data.
            properties:
              api:
                type:
                  - "null"
                  - string
                description: API link related to the team.
              web:
                type:
                  - "null"
                  - string
                description: Web link related to the team.
  users_stream:
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get(\"paging\", {}).get(\"next\", {}) }}"
          stop_condition: "{{ not response.get(\"paging\", {}).get(\"next\", {}) }}"
      requester:
        type: HttpRequester
        url_base: https://{{ config['endpoint'] }}
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: GenieKey {{ config['api_token'] }}
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
        request_headers:
          Accept: application/json
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - "null"
              - string
            description: The unique identifier of the user.
          role:
            type:
              - "null"
              - object
            description: The role assigned to the user.
            properties:
              id:
                type:
                  - "null"
                  - string
                description: The unique identifier of the user role.
              name:
                type:
                  - "null"
                  - string
                description: The name of the user role.
          tags:
            type:
              - "null"
              - array
            description: Additional tags associated with the user.
            items:
              type: string
          locale:
            type:
              - "null"
              - string
            description: The preferred locale or language setting of the user.
          blocked:
            type:
              - "null"
              - boolean
            description: Indicates whether the user is blocked or not.
          details:
            type:
              - "null"
              - object
            description: Additional details or information about the user.
            properties: {}
            additionalProperties: true
          fullName:
            type:
              - "null"
              - string
            description: The full name of the user.
          timeZone:
            type:
              - "null"
              - string
            description: The time zone setting of the user.
          username:
            type:
              - "null"
              - string
            description: The username or login name of the user.
          verified:
            type:
              - "null"
              - boolean
            description: Indicates if the user account has been verified.
          createdAt:
            type:
              - "null"
              - string
            description: The date and time when the user account was created.
            format: date-time
          userAddress:
            type:
              - "null"
              - object
            description: The address details of the user.
            properties:
              city:
                type:
                  - "null"
                  - string
                description: The city of the user's address.
              line:
                type:
                  - "null"
                  - string
                description: The street address line.
              state:
                type:
                  - "null"
                  - string
                description: The state or region of the user's address.
              country:
                type:
                  - "null"
                  - string
                description: The country of the user's address.
              zipCode:
                type:
                  - "null"
                  - string
                description: The ZIP code of the user's address.
          skypeUsername:
            type:
              - "null"
              - string
            description: The user's Skype username.
          invitationDisabled:
            type:
              - "null"
              - boolean
            description: Indicates if the user is disabled from receiving invitations.
  alerts_stream:
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get(\"paging\", {}).get(\"next\", {}) }}"
          stop_condition: "{{ not response.get(\"paging\", {}).get(\"next\", {}) }}"
      requester:
        type: HttpRequester
        url_base: https://{{ config['endpoint'] }}
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: GenieKey {{ config['api_token'] }}
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
        request_headers:
          Accept: application/json
        request_body_json: {}
        request_parameters:
          order: asc
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          description:
            type:
              - "null"
              - string
            description: Description of the alert
          id:
            type:
              - "null"
              - string
            description: Unique identifier for the alert
          note:
            type:
              - "null"
              - string
            description: Any additional notes or comments about the alert
          seen:
            type:
              - "null"
              - boolean
            description: Indicates if the alert has been seen by a team member
          tags:
            type:
              - "null"
              - array
            description: Tags associated with the alert
            items:
              type: string
          user:
            type:
              - "null"
              - string
            description: User associated with the alert
          alias:
            type:
              - "null"
              - string
            description: Alias of the alert
          count:
            type:
              - "null"
              - number
            description: Number of occurrences of the alert
          owner:
            type:
              - "null"
              - string
            description: Owner of the alert
          teams:
            type:
              - "null"
              - array
            description: Teams linked to the alert
            items:
              type: object
              properties:
                id:
                  type:
                    - "null"
                    - string
                  description: Unique identifier for the team
          entity:
            type:
              - "null"
              - string
            description: Entity associated with the alert
          isSeen:
            type:
              - "null"
              - boolean
            description: Indicates if the alert has been viewed
          report:
            type:
              - "null"
              - object
            description: Report details related to the alert
            properties:
              ackTime:
                type:
                  - "null"
                  - number
                description: Timestamp when the alert was acknowledged
              closedBy:
                type:
                  - "null"
                  - string
                description: Team member who closed the alert
              closeTime:
                type:
                  - "null"
                  - number
                description: Timestamp when the alert was closed
              acknowledgedBy:
                type:
                  - "null"
                  - string
                description: Team member who acknowledged the alert
          source:
            type:
              - "null"
              - string
            description: Source from where the alert originated
          status:
            type:
              - "null"
              - string
            description: Current status of the alert
          tinyId:
            type:
              - "null"
              - string
            description: Short unique identifier for the alert
          actions:
            type:
              - "null"
              - array
            description: Actions associated with the alert
            items:
              type: string
          details:
            type:
              - "null"
              - object
            description: Additional details or context related to the alert
            properties: {}
            additionalProperties: true
          message:
            type:
              - "null"
              - string
            description: Message associated with the alert
          snoozed:
            type:
              - "null"
              - boolean
            description: Indicates if the alert has been snoozed
          priority:
            type:
              - "null"
              - string
            description: Priority level of the alert
          createdAt:
            type:
              - "null"
              - string
            description: Timestamp when the alert was created
            format: date-time
          updatedAt:
            type:
              - "null"
              - string
            description: Timestamp when the alert was last updated
            format: date-time
          visibleTo:
            type:
              - "null"
              - array
            description: Users or teams who have visibility to the alert
            items:
              type: object
              properties:
                type:
                  type:
                    - "null"
                    - string
                  description: Type of the user or team
                id:
                  type:
                    - "null"
                    - string
                  description: Unique identifier for the user or team
                name:
                  type:
                    - "null"
                    - string
                  description: Name of the user or team
          responders:
            type:
              - "null"
              - array
            description: Team members or users who are responders to the alert
            items:
              type: object
              properties:
                type:
                  type:
                    - "null"
                    - string
                  description: Type of the responder
                id:
                  type:
                    - "null"
                    - string
                  description: Unique identifier for the responder
          integration:
            type:
              - "null"
              - object
            description: Integration details linked to the alert
            properties:
              type:
                type:
                  - "null"
                  - string
                description: Type of the integration
              id:
                type:
                  - "null"
                  - string
                description: Unique identifier for the integration
              name:
                type:
                  - "null"
                  - string
                description: Name of the integration
          ownerTeamId:
            type:
              - "null"
              - string
            description: Identifier of the team that owns the alert
          acknowledged:
            type:
              - "null"
              - boolean
            description: Indicates if the alert has been acknowledged by a team member
          snoozedUntil:
            type:
              - "null"
              - string
            description: Timestamp until which the alert is snoozed
            format: date-time
          lastOccurredAt:
            type:
              - "null"
              - string
            description: Timestamp of the last occurrence of the alert
            format: date-time
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updatedAt
      start_datetime:
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%s"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
        - "%Y-%m-%dT%H:%M:%SZ"
  services_stream:
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get(\"paging\", {}).get(\"next\", {}) }}"
          stop_condition: "{{ not response.get(\"paging\", {}).get(\"next\", {}) }}"
      requester:
        type: HttpRequester
        url_base: https://{{ config['endpoint'] }}
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: GenieKey {{ config['api_token'] }}
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
        request_headers:
          Accept: application/json
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          description:
            type:
              - "null"
              - string
            description: The description of the service.
          id:
            type:
              - "null"
              - string
            description: Unique identifier for the service.
          name:
            type:
              - "null"
              - string
            description: The name of the service.
          tags:
            type:
              - "null"
              - array
            description: Represents tags associated with the service.
            items:
              type: string
              description: Array of tags associated with the service.
          links:
            type:
              - "null"
              - object
            description: Represents related links for the service.
            properties:
              api:
                type:
                  - "null"
                  - string
                description: URL for the API endpoint of the service.
              web:
                type:
                  - "null"
                  - string
                description: URL for the web interface of the service.
          teamId:
            type:
              - "null"
              - string
            description: Identifier of the team to which the service belongs.
          isExternal:
            type:
              - "null"
              - boolean
            description: Flag indicating whether the service is external.
  incidents_stream:
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get(\"paging\", {}).get(\"next\", {}) }}"
          stop_condition: "{{ not response.get(\"paging\", {}).get(\"next\", {}) }}"
      requester:
        type: HttpRequester
        url_base: https://{{ config['endpoint'] }}
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: GenieKey {{ config['api_token'] }}
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
        request_headers:
          Accept: application/json
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          description:
            type:
              - "null"
              - string
            description: A detailed description of the incident.
          id:
            type:
              - "null"
              - string
            description: Unique identifier for the incident.
          note:
            type:
              - "null"
              - string
            description: Any additional notes or comments regarding the incident.
          tags:
            type:
              - "null"
              - array
            description: Tags or labels associated with the incident.
            items:
              type: string
          links:
            type:
              - "null"
              - object
            description: Links related to the incident data.
            properties:
              api:
                type:
                  - "null"
                  - string
                description: API link related to the incident.
              web:
                type:
                  - "null"
                  - string
                description: Web link related to the incident.
          status:
            type:
              - "null"
              - string
            description: Current status of the incident.
          tinyId:
            type:
              - "null"
              - string
            description: Short identifier for the incident.
          actions:
            type:
              - "null"
              - array
            description: List of actions related to the incident.
            items:
              type: object
              properties: {}
              additionalProperties: true
          details:
            type:
              - "null"
              - object
            description: Additional details or context related to the incident.
            properties: {}
            additionalProperties: true
          message:
            type:
              - "null"
              - string
            description: Brief summary or message related to the incident.
          priority:
            type:
              - "null"
              - string
            description: Priority level assigned to the incident.
          createdAt:
            type:
              - "null"
              - string
            description: The timestamp when the incident was created.
            format: date-time
          ownerTeam:
            type:
              - "null"
              - string
            description: Owner team of the incident.
          updatedAt:
            type:
              - "null"
              - string
            description: The timestamp when the incident was last updated.
            format: date-time
          responders:
            type:
              - "null"
              - array
            description: List of responders assigned to deal with the incident.
            items:
              type: object
              properties:
                type:
                  type:
                    - "null"
                    - string
                  description: Type or role of the responder.
                id:
                  type:
                    - "null"
                    - string
                  description: Unique identifier of the responder.
          extraProperties:
            type:
              - "null"
              - object
            description: Map of key-value pairs of custom properties of the incident.
            properties: {}
            additionalProperties: true
          impactStartDate:
            type:
              - "null"
              - string
            description: The timestamp when the impact started for the incident.
            format: date-time
          impactDetectDate:
            type:
              - "null"
              - string
            description: The timestamp when the impact was detected for the incident.
            format: date-time
          impactEndDate:
            type:
              - "null"
              - string
            description: The timestamp when the impact ended for the incident.
            format: date-time
          statusPageEntry:
            type:
              - "null"
              - object
            description: Information related to the incident status on the status page.
            properties:
              title:
                type:
                  - "null"
                  - string
                description: Title or headline related to the incident status.
              detail:
                type:
                  - "null"
                  - string
                description: Detailed status information.
          impactedServices:
            type:
              - "null"
              - array
            description: Services affected by the incident.
            items:
              type: string
          notifyStakeholders:
            type:
              - "null"
              - boolean
            description: >-
              Flag indicating whether stakeholders should be notified about the
              incident.
  alert_logs_stream:
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get(\"paging\", {}).get(\"next\", {}) }}"
          stop_condition: "{{ not response.get(\"paging\", {}).get(\"next\", {}) }}"
      requester:
        type: HttpRequester
        url_base: https://{{ config['endpoint'] }}
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: GenieKey {{ config['api_token'] }}
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
        request_headers:
          Accept: application/json
        request_body_json: {}
        request_parameters:
          order: asc
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              retriever:
                type: SimpleRetriever
                paginator:
                  type: DefaultPaginator
                  page_token_option:
                    type: RequestPath
                  pagination_strategy:
                    type: CursorPagination
                    cursor_value: "{{ response.get(\"paging\", {}).get(\"next\", {}) }}"
                    stop_condition: "{{ not response.get(\"paging\", {}).get(\"next\", {}) }}"
                requester:
                  type: HttpRequester
                  url_base: https://{{ config['endpoint'] }}
                  http_method: GET
                  authenticator:
                    type: ApiKeyAuthenticator
                    api_token: GenieKey {{ config['api_token'] }}
                    inject_into:
                      type: RequestOption
                      field_name: Authorization
                      inject_into: header
                  error_handler:
                    type: CompositeErrorHandler
                    error_handlers:
                      - type: DefaultErrorHandler
                        backoff_strategies:
                          - type: WaitUntilTimeFromHeader
                            header: X-RateLimit-Period-In-Sec
                  request_headers:
                    Accept: application/json
                  request_body_json: {}
                  request_parameters:
                    order: asc
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path:
                      - data
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/draft-07/schema#
                  properties:
                    description:
                      type:
                        - "null"
                        - string
                      description: Description of the alert
                    id:
                      type:
                        - "null"
                        - string
                      description: Unique identifier for the alert
                    note:
                      type:
                        - "null"
                        - string
                      description: Any additional notes or comments about the alert
                    seen:
                      type:
                        - "null"
                        - boolean
                      description: Indicates if the alert has been seen by a team member
                    tags:
                      type:
                        - "null"
                        - array
                      description: Tags associated with the alert
                      items:
                        type: string
                    user:
                      type:
                        - "null"
                        - string
                      description: User associated with the alert
                    alias:
                      type:
                        - "null"
                        - string
                      description: Alias of the alert
                    count:
                      type:
                        - "null"
                        - number
                      description: Number of occurrences of the alert
                    owner:
                      type:
                        - "null"
                        - string
                      description: Owner of the alert
                    teams:
                      type:
                        - "null"
                        - array
                      description: Teams linked to the alert
                      items:
                        type: object
                        properties:
                          id:
                            type:
                              - "null"
                              - string
                            description: Unique identifier for the team
                    entity:
                      type:
                        - "null"
                        - string
                      description: Entity associated with the alert
                    isSeen:
                      type:
                        - "null"
                        - boolean
                      description: Indicates if the alert has been viewed
                    report:
                      type:
                        - "null"
                        - object
                      description: Report details related to the alert
                      properties:
                        ackTime:
                          type:
                            - "null"
                            - number
                          description: Timestamp when the alert was acknowledged
                        closedBy:
                          type:
                            - "null"
                            - string
                          description: Team member who closed the alert
                        closeTime:
                          type:
                            - "null"
                            - number
                          description: Timestamp when the alert was closed
                        acknowledgedBy:
                          type:
                            - "null"
                            - string
                          description: Team member who acknowledged the alert
                    source:
                      type:
                        - "null"
                        - string
                      description: Source from where the alert originated
                    status:
                      type:
                        - "null"
                        - string
                      description: Current status of the alert
                    tinyId:
                      type:
                        - "null"
                        - string
                      description: Short unique identifier for the alert
                    actions:
                      type:
                        - "null"
                        - array
                      description: Actions associated with the alert
                      items:
                        type: string
                    details:
                      type:
                        - "null"
                        - object
                      description: Additional details or context related to the alert
                      properties: {}
                      additionalProperties: true
                    message:
                      type:
                        - "null"
                        - string
                      description: Message associated with the alert
                    snoozed:
                      type:
                        - "null"
                        - boolean
                      description: Indicates if the alert has been snoozed
                    priority:
                      type:
                        - "null"
                        - string
                      description: Priority level of the alert
                    createdAt:
                      type:
                        - "null"
                        - string
                      description: Timestamp when the alert was created
                      format: date-time
                    updatedAt:
                      type:
                        - "null"
                        - string
                      description: Timestamp when the alert was last updated
                      format: date-time
                    visibleTo:
                      type:
                        - "null"
                        - array
                      description: Users or teams who have visibility to the alert
                      items:
                        type: object
                        properties:
                          type:
                            type:
                              - "null"
                              - string
                            description: Type of the user or team
                          id:
                            type:
                              - "null"
                              - string
                            description: Unique identifier for the user or team
                          name:
                            type:
                              - "null"
                              - string
                            description: Name of the user or team
                    responders:
                      type:
                        - "null"
                        - array
                      description: Team members or users who are responders to the alert
                      items:
                        type: object
                        properties:
                          type:
                            type:
                              - "null"
                              - string
                            description: Type of the responder
                          id:
                            type:
                              - "null"
                              - string
                            description: Unique identifier for the responder
                    integration:
                      type:
                        - "null"
                        - object
                      description: Integration details linked to the alert
                      properties:
                        type:
                          type:
                            - "null"
                            - string
                          description: Type of the integration
                        id:
                          type:
                            - "null"
                            - string
                          description: Unique identifier for the integration
                        name:
                          type:
                            - "null"
                            - string
                          description: Name of the integration
                    ownerTeamId:
                      type:
                        - "null"
                        - string
                      description: Identifier of the team that owns the alert
                    acknowledged:
                      type:
                        - "null"
                        - boolean
                      description: >-
                        Indicates if the alert has been acknowledged by a team
                        member
                    snoozedUntil:
                      type:
                        - "null"
                        - string
                      description: Timestamp until which the alert is snoozed
                      format: date-time
                    lastOccurredAt:
                      type:
                        - "null"
                        - string
                      description: Timestamp of the last occurrence of the alert
                      format: date-time
              incremental_sync:
                type: DatetimeBasedCursor
                cursor_field: updatedAt
                start_datetime:
                  datetime: "{{ config['start_date'] }}"
                  datetime_format: "%Y-%m-%dT%H:%M:%SZ"
                datetime_format: "%s"
                cursor_datetime_formats:
                  - "%Y-%m-%dT%H:%M:%S.%fZ"
                  - "%Y-%m-%dT%H:%M:%SZ"
            parent_key: id
            partition_field: alert_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          type:
            type:
              - "null"
              - string
            description: Type or category of the log entry
          log:
            type:
              - "null"
              - string
            description: Details of the log entry
          owner:
            type:
              - "null"
              - string
            description: Owner or user responsible for the log entry
          offset:
            type:
              - "null"
              - string
            description: Offset value for tracking log position or pagination
          alert_id:
            type:
              - "null"
              - string
            description: Unique identifier for the alert
          createdAt:
            type:
              - "null"
              - string
            description: Timestamp when the log entry was created
            format: date-time
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - alert_id
            value: "{{ stream_partition['id'] }}"
  user_teams_stream:
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get(\"paging\", {}).get(\"next\", {}) }}"
          stop_condition: "{{ not response.get(\"paging\", {}).get(\"next\", {}) }}"
      requester:
        type: HttpRequester
        path: v2/users/{{ stream_partition['user_id'] }}/teams
        url_base: https://{{ config['endpoint'] }}
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: GenieKey {{ config['api_token'] }}
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
        request_headers:
          Accept: application/json
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              retriever:
                type: SimpleRetriever
                paginator:
                  type: DefaultPaginator
                  page_token_option:
                    type: RequestPath
                  pagination_strategy:
                    type: CursorPagination
                    cursor_value: "{{ response.get(\"paging\", {}).get(\"next\", {}) }}"
                    stop_condition: "{{ not response.get(\"paging\", {}).get(\"next\", {}) }}"
                requester:
                  type: HttpRequester
                  url_base: https://{{ config['endpoint'] }}
                  http_method: GET
                  authenticator:
                    type: ApiKeyAuthenticator
                    api_token: GenieKey {{ config['api_token'] }}
                    inject_into:
                      type: RequestOption
                      field_name: Authorization
                      inject_into: header
                  error_handler:
                    type: CompositeErrorHandler
                    error_handlers:
                      - type: DefaultErrorHandler
                        backoff_strategies:
                          - type: WaitUntilTimeFromHeader
                            header: X-RateLimit-Period-In-Sec
                  request_headers:
                    Accept: application/json
                  request_body_json: {}
                  request_parameters: {}
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path:
                      - data
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/draft-07/schema#
                  properties:
                    id:
                      type:
                        - "null"
                        - string
                      description: The unique identifier of the user.
                    role:
                      type:
                        - "null"
                        - object
                      description: The role assigned to the user.
                      properties:
                        id:
                          type:
                            - "null"
                            - string
                          description: The unique identifier of the user role.
                        name:
                          type:
                            - "null"
                            - string
                          description: The name of the user role.
                    tags:
                      type:
                        - "null"
                        - array
                      description: Additional tags associated with the user.
                      items:
                        type: string
                    locale:
                      type:
                        - "null"
                        - string
                      description: The preferred locale or language setting of the user.
                    blocked:
                      type:
                        - "null"
                        - boolean
                      description: Indicates whether the user is blocked or not.
                    details:
                      type:
                        - "null"
                        - object
                      description: Additional details or information about the user.
                      properties: {}
                      additionalProperties: true
                    fullName:
                      type:
                        - "null"
                        - string
                      description: The full name of the user.
                    timeZone:
                      type:
                        - "null"
                        - string
                      description: The time zone setting of the user.
                    username:
                      type:
                        - "null"
                        - string
                      description: The username or login name of the user.
                    verified:
                      type:
                        - "null"
                        - boolean
                      description: Indicates if the user account has been verified.
                    createdAt:
                      type:
                        - "null"
                        - string
                      description: The date and time when the user account was created.
                      format: date-time
                    userAddress:
                      type:
                        - "null"
                        - object
                      description: The address details of the user.
                      properties:
                        city:
                          type:
                            - "null"
                            - string
                          description: The city of the user's address.
                        line:
                          type:
                            - "null"
                            - string
                          description: The street address line.
                        state:
                          type:
                            - "null"
                            - string
                          description: The state or region of the user's address.
                        country:
                          type:
                            - "null"
                            - string
                          description: The country of the user's address.
                        zipCode:
                          type:
                            - "null"
                            - string
                          description: The ZIP code of the user's address.
                    skypeUsername:
                      type:
                        - "null"
                        - string
                      description: The user's Skype username.
                    invitationDisabled:
                      type:
                        - "null"
                        - boolean
                      description: >-
                        Indicates if the user is disabled from receiving
                        invitations.
            parent_key: id
            partition_field: user_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - "null"
              - string
            description: Unique identifier for the team.
          name:
            type:
              - "null"
              - string
            description: Name of the team.
          user_id:
            type:
              - "null"
              - string
            description: Unique identifier for the user associated with the team.
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - user_id
            value: "{{ stream_partition['id'] }}"
  integrations_stream:
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get(\"paging\", {}).get(\"next\", {}) }}"
          stop_condition: "{{ not response.get(\"paging\", {}).get(\"next\", {}) }}"
      requester:
        type: HttpRequester
        url_base: https://{{ config['endpoint'] }}
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: GenieKey {{ config['api_token'] }}
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
        request_headers:
          Accept: application/json
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          version:
            type:
              - "null"
              - string
            description: Version of the integration.
          type:
            type:
              - "null"
              - string
            description: Type of integration (e.g., email, chat, webhook).
          id:
            type:
              - "null"
              - string
            description: Unique identifier for the integration.
          name:
            type:
              - "null"
              - string
            description: Name of the integration.
          teamId:
            type:
              - "null"
              - string
            description: Identifier for the team to which the integration belongs.
          enabled:
            type:
              - "null"
              - boolean
            description: Indicates if the integration is currently enabled or disabled.
          advanced:
            type:
              - "null"
              - boolean
            description: Specifies if the integration has advanced settings enabled or not.
        additionalProperties: true
  alert_recipients_stream:
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get(\"paging\", {}).get(\"next\", {}) }}"
          stop_condition: "{{ not response.get(\"paging\", {}).get(\"next\", {}) }}"
      requester:
        type: HttpRequester
        path: v2/alerts/{{ stream_partition['alert_id'] }}/recipients
        url_base: https://{{ config['endpoint'] }}
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: GenieKey {{ config['api_token'] }}
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
        request_headers:
          Accept: application/json
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              retriever:
                type: SimpleRetriever
                paginator:
                  type: DefaultPaginator
                  page_token_option:
                    type: RequestPath
                  pagination_strategy:
                    type: CursorPagination
                    cursor_value: "{{ response.get(\"paging\", {}).get(\"next\", {}) }}"
                    stop_condition: "{{ not response.get(\"paging\", {}).get(\"next\", {}) }}"
                requester:
                  type: HttpRequester
                  url_base: https://{{ config['endpoint'] }}
                  http_method: GET
                  authenticator:
                    type: ApiKeyAuthenticator
                    api_token: GenieKey {{ config['api_token'] }}
                    inject_into:
                      type: RequestOption
                      field_name: Authorization
                      inject_into: header
                  error_handler:
                    type: CompositeErrorHandler
                    error_handlers:
                      - type: DefaultErrorHandler
                        backoff_strategies:
                          - type: WaitUntilTimeFromHeader
                            header: X-RateLimit-Period-In-Sec
                  request_headers:
                    Accept: application/json
                  request_body_json: {}
                  request_parameters:
                    order: asc
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path:
                      - data
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/draft-07/schema#
                  properties:
                    description:
                      type:
                        - "null"
                        - string
                      description: Description of the alert
                    id:
                      type:
                        - "null"
                        - string
                      description: Unique identifier for the alert
                    note:
                      type:
                        - "null"
                        - string
                      description: Any additional notes or comments about the alert
                    seen:
                      type:
                        - "null"
                        - boolean
                      description: Indicates if the alert has been seen by a team member
                    tags:
                      type:
                        - "null"
                        - array
                      description: Tags associated with the alert
                      items:
                        type: string
                    user:
                      type:
                        - "null"
                        - string
                      description: User associated with the alert
                    alias:
                      type:
                        - "null"
                        - string
                      description: Alias of the alert
                    count:
                      type:
                        - "null"
                        - number
                      description: Number of occurrences of the alert
                    owner:
                      type:
                        - "null"
                        - string
                      description: Owner of the alert
                    teams:
                      type:
                        - "null"
                        - array
                      description: Teams linked to the alert
                      items:
                        type: object
                        properties:
                          id:
                            type:
                              - "null"
                              - string
                            description: Unique identifier for the team
                    entity:
                      type:
                        - "null"
                        - string
                      description: Entity associated with the alert
                    isSeen:
                      type:
                        - "null"
                        - boolean
                      description: Indicates if the alert has been viewed
                    report:
                      type:
                        - "null"
                        - object
                      description: Report details related to the alert
                      properties:
                        ackTime:
                          type:
                            - "null"
                            - number
                          description: Timestamp when the alert was acknowledged
                        closedBy:
                          type:
                            - "null"
                            - string
                          description: Team member who closed the alert
                        closeTime:
                          type:
                            - "null"
                            - number
                          description: Timestamp when the alert was closed
                        acknowledgedBy:
                          type:
                            - "null"
                            - string
                          description: Team member who acknowledged the alert
                    source:
                      type:
                        - "null"
                        - string
                      description: Source from where the alert originated
                    status:
                      type:
                        - "null"
                        - string
                      description: Current status of the alert
                    tinyId:
                      type:
                        - "null"
                        - string
                      description: Short unique identifier for the alert
                    actions:
                      type:
                        - "null"
                        - array
                      description: Actions associated with the alert
                      items:
                        type: string
                    details:
                      type:
                        - "null"
                        - object
                      description: Additional details or context related to the alert
                      properties: {}
                      additionalProperties: true
                    message:
                      type:
                        - "null"
                        - string
                      description: Message associated with the alert
                    snoozed:
                      type:
                        - "null"
                        - boolean
                      description: Indicates if the alert has been snoozed
                    priority:
                      type:
                        - "null"
                        - string
                      description: Priority level of the alert
                    createdAt:
                      type:
                        - "null"
                        - string
                      description: Timestamp when the alert was created
                      format: date-time
                    updatedAt:
                      type:
                        - "null"
                        - string
                      description: Timestamp when the alert was last updated
                      format: date-time
                    visibleTo:
                      type:
                        - "null"
                        - array
                      description: Users or teams who have visibility to the alert
                      items:
                        type: object
                        properties:
                          type:
                            type:
                              - "null"
                              - string
                            description: Type of the user or team
                          id:
                            type:
                              - "null"
                              - string
                            description: Unique identifier for the user or team
                          name:
                            type:
                              - "null"
                              - string
                            description: Name of the user or team
                    responders:
                      type:
                        - "null"
                        - array
                      description: Team members or users who are responders to the alert
                      items:
                        type: object
                        properties:
                          type:
                            type:
                              - "null"
                              - string
                            description: Type of the responder
                          id:
                            type:
                              - "null"
                              - string
                            description: Unique identifier for the responder
                    integration:
                      type:
                        - "null"
                        - object
                      description: Integration details linked to the alert
                      properties:
                        type:
                          type:
                            - "null"
                            - string
                          description: Type of the integration
                        id:
                          type:
                            - "null"
                            - string
                          description: Unique identifier for the integration
                        name:
                          type:
                            - "null"
                            - string
                          description: Name of the integration
                    ownerTeamId:
                      type:
                        - "null"
                        - string
                      description: Identifier of the team that owns the alert
                    acknowledged:
                      type:
                        - "null"
                        - boolean
                      description: >-
                        Indicates if the alert has been acknowledged by a team
                        member
                    snoozedUntil:
                      type:
                        - "null"
                        - string
                      description: Timestamp until which the alert is snoozed
                      format: date-time
                    lastOccurredAt:
                      type:
                        - "null"
                        - string
                      description: Timestamp of the last occurrence of the alert
                      format: date-time
              incremental_sync:
                type: DatetimeBasedCursor
                cursor_field: updatedAt
                start_datetime:
                  datetime: "{{ config['start_date'] }}"
                  datetime_format: "%Y-%m-%dT%H:%M:%SZ"
                datetime_format: "%s"
                cursor_datetime_formats:
                  - "%Y-%m-%dT%H:%M:%S.%fZ"
                  - "%Y-%m-%dT%H:%M:%SZ"
            parent_key: id
            partition_field: alert_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          aware:
            type:
              - "null"
              - boolean
            description: Flag indicating whether the recipient is aware of the alert
          state:
            type:
              - "null"
              - string
            description: State of the alert recipient (active, inactive, etc.)
          method:
            type:
              - "null"
              - string
            description: Communication method used to notify the recipient
          user_id:
            type:
              - "null"
              - string
            description: Unique identifier for the user associated with the recipient
          alert_id:
            type:
              - "null"
              - string
            description: Unique identifier for the alert associated with the recipient
          createdAt:
            type:
              - "null"
              - string
            description: Timestamp indicating when the recipient was created
            format: date-time
          updatedAt:
            type:
              - "null"
              - string
            description: >-
              Timestamp indicating when the recipient information was last
              updated
            format: date-time
          user_username:
            type:
              - "null"
              - string
            description: Username of the user associated with the recipient
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - alert_id
            value: "{{ stream_partition['id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - user_id
            value: "{{ record['user']['id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - user_username
            value: "{{ record['user']['username'] }}"
      - type: RemoveFields
        field_pointers:
          - - user

streams:
  - type: DeclarativeStream
    name: users
    path: v2/users
    retriever:
      type: SimpleRetriever
      name: users
      path: v2/users
      paginator:
        type: DefaultPaginator
        name: users
        path: v2/users
        primary_key: id
        page_token_option:
          type: RequestPath
          name: users
          path: v2/users
          primary_key: id
        pagination_strategy:
          type: CursorPagination
          name: users
          path: v2/users
          primary_key: id
          cursor_value: "{{ response.get(\"paging\", {}).get(\"next\", {}) }}"
          stop_condition: "{{ not response.get(\"paging\", {}).get(\"next\", {}) }}"
      requester:
        type: HttpRequester
        name: users
        path: v2/users
        url_base: https://{{ config['endpoint'] }}
        http_method: GET
        primary_key: id
        authenticator:
          type: ApiKeyAuthenticator
          name: users
          path: v2/users
          api_token: GenieKey {{ config['api_token'] }}
          inject_into:
            type: RequestOption
            name: users
            path: v2/users
            field_name: Authorization
            inject_into: header
            primary_key: id
          primary_key: id
        error_handler:
          type: CompositeErrorHandler
          name: users
          path: v2/users
          primary_key: id
          error_handlers:
            - type: DefaultErrorHandler
              name: users
              path: v2/users
              primary_key: id
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  name: users
                  path: v2/users
                  header: X-RateLimit-Period-In-Sec
                  primary_key: id
        request_headers:
          Accept: application/json
        request_body_json: {}
        request_parameters: {}
      primary_key: id
      record_selector:
        type: RecordSelector
        name: users
        path: v2/users
        extractor:
          type: DpathExtractor
          name: users
          path: v2/users
          field_path:
            - data
          primary_key: id
        primary_key: id
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      name: users
      path: v2/users
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - "null"
              - string
            description: The unique identifier of the user.
          role:
            type:
              - "null"
              - object
            description: The role assigned to the user.
            properties:
              id:
                type:
                  - "null"
                  - string
                description: The unique identifier of the user role.
              name:
                type:
                  - "null"
                  - string
                description: The name of the user role.
          tags:
            type:
              - "null"
              - array
            description: Additional tags associated with the user.
            items:
              type: string
          locale:
            type:
              - "null"
              - string
            description: The preferred locale or language setting of the user.
          blocked:
            type:
              - "null"
              - boolean
            description: Indicates whether the user is blocked or not.
          details:
            type:
              - "null"
              - object
            description: Additional details or information about the user.
            properties: {}
            additionalProperties: true
          fullName:
            type:
              - "null"
              - string
            description: The full name of the user.
          timeZone:
            type:
              - "null"
              - string
            description: The time zone setting of the user.
          username:
            type:
              - "null"
              - string
            description: The username or login name of the user.
          verified:
            type:
              - "null"
              - boolean
            description: Indicates if the user account has been verified.
          createdAt:
            type:
              - "null"
              - string
            description: The date and time when the user account was created.
            format: date-time
          userAddress:
            type:
              - "null"
              - object
            description: The address details of the user.
            properties:
              city:
                type:
                  - "null"
                  - string
                description: The city of the user's address.
              line:
                type:
                  - "null"
                  - string
                description: The street address line.
              state:
                type:
                  - "null"
                  - string
                description: The state or region of the user's address.
              country:
                type:
                  - "null"
                  - string
                description: The country of the user's address.
              zipCode:
                type:
                  - "null"
                  - string
                description: The ZIP code of the user's address.
          skypeUsername:
            type:
              - "null"
              - string
            description: The user's Skype username.
          invitationDisabled:
            type:
              - "null"
              - boolean
            description: Indicates if the user is disabled from receiving invitations.
      primary_key: id
  - type: DeclarativeStream
    name: teams
    path: v2/teams
    retriever:
      type: SimpleRetriever
      name: teams
      path: v2/teams
      paginator:
        type: DefaultPaginator
        name: teams
        path: v2/teams
        primary_key: id
        page_token_option:
          type: RequestPath
          name: teams
          path: v2/teams
          primary_key: id
        pagination_strategy:
          type: CursorPagination
          name: teams
          path: v2/teams
          primary_key: id
          cursor_value: "{{ response.get(\"paging\", {}).get(\"next\", {}) }}"
          stop_condition: "{{ not response.get(\"paging\", {}).get(\"next\", {}) }}"
      requester:
        type: HttpRequester
        name: teams
        path: v2/teams
        url_base: https://{{ config['endpoint'] }}
        http_method: GET
        primary_key: id
        authenticator:
          type: ApiKeyAuthenticator
          name: teams
          path: v2/teams
          api_token: GenieKey {{ config['api_token'] }}
          inject_into:
            type: RequestOption
            name: teams
            path: v2/teams
            field_name: Authorization
            inject_into: header
            primary_key: id
          primary_key: id
        error_handler:
          type: CompositeErrorHandler
          name: teams
          path: v2/teams
          primary_key: id
          error_handlers:
            - type: DefaultErrorHandler
              name: teams
              path: v2/teams
              primary_key: id
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  name: teams
                  path: v2/teams
                  header: X-RateLimit-Period-In-Sec
                  primary_key: id
        request_headers:
          Accept: application/json
        request_body_json: {}
        request_parameters: {}
      primary_key: id
      record_selector:
        type: RecordSelector
        name: teams
        path: v2/teams
        extractor:
          type: DpathExtractor
          name: teams
          path: v2/teams
          field_path:
            - data
          primary_key: id
        primary_key: id
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      name: teams
      path: v2/teams
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          description:
            type:
              - "null"
              - string
            description: Description of the team.
          id:
            type:
              - "null"
              - string
            description: Unique identifier for the team.
          name:
            type:
              - "null"
              - string
            description: Name of the team.
          links:
            type:
              - "null"
              - object
            description: Links related to the teams data.
            properties:
              api:
                type:
                  - "null"
                  - string
                description: API link related to the team.
              web:
                type:
                  - "null"
                  - string
                description: Web link related to the team.
      primary_key: id
  - type: DeclarativeStream
    name: services
    path: v1/services
    retriever:
      type: SimpleRetriever
      name: services
      path: v1/services
      paginator:
        type: DefaultPaginator
        name: services
        path: v1/services
        primary_key: id
        page_token_option:
          type: RequestPath
          name: services
          path: v1/services
          primary_key: id
        pagination_strategy:
          type: CursorPagination
          name: services
          path: v1/services
          primary_key: id
          cursor_value: "{{ response.get(\"paging\", {}).get(\"next\", {}) }}"
          stop_condition: "{{ not response.get(\"paging\", {}).get(\"next\", {}) }}"
      requester:
        type: HttpRequester
        name: services
        path: v1/services
        url_base: https://{{ config['endpoint'] }}
        http_method: GET
        primary_key: id
        authenticator:
          type: ApiKeyAuthenticator
          name: services
          path: v1/services
          api_token: GenieKey {{ config['api_token'] }}
          inject_into:
            type: RequestOption
            name: services
            path: v1/services
            field_name: Authorization
            inject_into: header
            primary_key: id
          primary_key: id
        error_handler:
          type: CompositeErrorHandler
          name: services
          path: v1/services
          primary_key: id
          error_handlers:
            - type: DefaultErrorHandler
              name: services
              path: v1/services
              primary_key: id
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  name: services
                  path: v1/services
                  header: X-RateLimit-Period-In-Sec
                  primary_key: id
        request_headers:
          Accept: application/json
        request_body_json: {}
        request_parameters: {}
      primary_key: id
      record_selector:
        type: RecordSelector
        name: services
        path: v1/services
        extractor:
          type: DpathExtractor
          name: services
          path: v1/services
          field_path:
            - data
          primary_key: id
        primary_key: id
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      name: services
      path: v1/services
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          description:
            type:
              - "null"
              - string
            description: The description of the service.
          id:
            type:
              - "null"
              - string
            description: Unique identifier for the service.
          name:
            type:
              - "null"
              - string
            description: The name of the service.
          tags:
            type:
              - "null"
              - array
            description: Represents tags associated with the service.
            items:
              type: string
              description: Array of tags associated with the service.
          links:
            type:
              - "null"
              - object
            description: Represents related links for the service.
            properties:
              api:
                type:
                  - "null"
                  - string
                description: URL for the API endpoint of the service.
              web:
                type:
                  - "null"
                  - string
                description: URL for the web interface of the service.
          teamId:
            type:
              - "null"
              - string
            description: Identifier of the team to which the service belongs.
          isExternal:
            type:
              - "null"
              - boolean
            description: Flag indicating whether the service is external.
      primary_key: id
  - type: DeclarativeStream
    name: integrations
    path: v2/integrations
    retriever:
      type: SimpleRetriever
      name: integrations
      path: v2/integrations
      paginator:
        type: DefaultPaginator
        name: integrations
        path: v2/integrations
        primary_key: id
        page_token_option:
          type: RequestPath
          name: integrations
          path: v2/integrations
          primary_key: id
        pagination_strategy:
          type: CursorPagination
          name: integrations
          path: v2/integrations
          primary_key: id
          cursor_value: "{{ response.get(\"paging\", {}).get(\"next\", {}) }}"
          stop_condition: "{{ not response.get(\"paging\", {}).get(\"next\", {}) }}"
      requester:
        type: HttpRequester
        name: integrations
        path: v2/integrations
        url_base: https://{{ config['endpoint'] }}
        http_method: GET
        primary_key: id
        authenticator:
          type: ApiKeyAuthenticator
          name: integrations
          path: v2/integrations
          api_token: GenieKey {{ config['api_token'] }}
          inject_into:
            type: RequestOption
            name: integrations
            path: v2/integrations
            field_name: Authorization
            inject_into: header
            primary_key: id
          primary_key: id
        error_handler:
          type: CompositeErrorHandler
          name: integrations
          path: v2/integrations
          primary_key: id
          error_handlers:
            - type: DefaultErrorHandler
              name: integrations
              path: v2/integrations
              primary_key: id
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  name: integrations
                  path: v2/integrations
                  header: X-RateLimit-Period-In-Sec
                  primary_key: id
        request_headers:
          Accept: application/json
        request_body_json: {}
        request_parameters: {}
      primary_key: id
      record_selector:
        type: RecordSelector
        name: integrations
        path: v2/integrations
        extractor:
          type: DpathExtractor
          name: integrations
          path: v2/integrations
          field_path:
            - data
          primary_key: id
        primary_key: id
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      name: integrations
      path: v2/integrations
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          version:
            type:
              - "null"
              - string
            description: Version of the integration.
          type:
            type:
              - "null"
              - string
            description: Type of integration (e.g., email, chat, webhook).
          id:
            type:
              - "null"
              - string
            description: Unique identifier for the integration.
          name:
            type:
              - "null"
              - string
            description: Name of the integration.
          teamId:
            type:
              - "null"
              - string
            description: Identifier for the team to which the integration belongs.
          enabled:
            type:
              - "null"
              - boolean
            description: Indicates if the integration is currently enabled or disabled.
          advanced:
            type:
              - "null"
              - boolean
            description: Specifies if the integration has advanced settings enabled or not.
        additionalProperties: true
      primary_key: id
  - type: DeclarativeStream
    name: incidents
    path: v1/incidents
    retriever:
      type: SimpleRetriever
      name: incidents
      path: v1/incidents
      paginator:
        type: DefaultPaginator
        name: incidents
        path: v1/incidents
        primary_key: id
        page_token_option:
          type: RequestPath
          name: incidents
          path: v1/incidents
          primary_key: id
        pagination_strategy:
          type: CursorPagination
          name: incidents
          path: v1/incidents
          primary_key: id
          cursor_value: "{{ response.get(\"paging\", {}).get(\"next\", {}) }}"
          stop_condition: "{{ not response.get(\"paging\", {}).get(\"next\", {}) }}"
      requester:
        type: HttpRequester
        name: incidents
        path: v1/incidents
        url_base: https://{{ config['endpoint'] }}
        http_method: GET
        primary_key: id
        authenticator:
          type: ApiKeyAuthenticator
          name: incidents
          path: v1/incidents
          api_token: GenieKey {{ config['api_token'] }}
          inject_into:
            type: RequestOption
            name: incidents
            path: v1/incidents
            field_name: Authorization
            inject_into: header
            primary_key: id
          primary_key: id
        error_handler:
          type: CompositeErrorHandler
          name: incidents
          path: v1/incidents
          primary_key: id
          error_handlers:
            - type: DefaultErrorHandler
              name: incidents
              path: v1/incidents
              primary_key: id
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  name: incidents
                  path: v1/incidents
                  header: X-RateLimit-Period-In-Sec
                  primary_key: id
        request_headers:
          Accept: application/json
        request_body_json: {}
        request_parameters: {}
      primary_key: id
      record_selector:
        type: RecordSelector
        name: incidents
        path: v1/incidents
        extractor:
          type: DpathExtractor
          name: incidents
          path: v1/incidents
          field_path:
            - data
          primary_key: id
        primary_key: id
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      name: incidents
      path: v1/incidents
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          description:
            type:
              - "null"
              - string
            description: A detailed description of the incident.
          id:
            type:
              - "null"
              - string
            description: Unique identifier for the incident.
          note:
            type:
              - "null"
              - string
            description: Any additional notes or comments regarding the incident.
          tags:
            type:
              - "null"
              - array
            description: Tags or labels associated with the incident.
            items:
              type: string
          links:
            type:
              - "null"
              - object
            description: Links related to the incident data.
            properties:
              api:
                type:
                  - "null"
                  - string
                description: API link related to the incident.
              web:
                type:
                  - "null"
                  - string
                description: Web link related to the incident.
          status:
            type:
              - "null"
              - string
            description: Current status of the incident.
          tinyId:
            type:
              - "null"
              - string
            description: Short identifier for the incident.
          actions:
            type:
              - "null"
              - array
            description: List of actions related to the incident.
            items:
              type: object
              properties: {}
              additionalProperties: true
          details:
            type:
              - "null"
              - object
            description: Additional details or context related to the incident.
            properties: {}
            additionalProperties: true
          message:
            type:
              - "null"
              - string
            description: Brief summary or message related to the incident.
          priority:
            type:
              - "null"
              - string
            description: Priority level assigned to the incident.
          createdAt:
            type:
              - "null"
              - string
            description: The timestamp when the incident was created.
            format: date-time
          ownerTeam:
            type:
              - "null"
              - string
            description: Owner team of the incident.
          updatedAt:
            type:
              - "null"
              - string
            description: The timestamp when the incident was last updated.
            format: date-time
          responders:
            type:
              - "null"
              - array
            description: List of responders assigned to deal with the incident.
            items:
              type: object
              properties:
                type:
                  type:
                    - "null"
                    - string
                  description: Type or role of the responder.
                id:
                  type:
                    - "null"
                    - string
                  description: Unique identifier of the responder.
          extraProperties:
            type:
              - "null"
              - object
            description: Map of key-value pairs of custom properties of the incident.
            properties: {}
            additionalProperties: true
          impactStartDate:
            type:
              - "null"
              - string
            description: The timestamp when the impact started for the incident.
            format: date-time
          impactDetectDate:
            type:
              - "null"
              - string
            description: The timestamp when the impact was detected for the incident.
            format: date-time
          impactEndDate:
            type:
              - "null"
              - string
            description: The timestamp when the impact ended for the incident.
            format: date-time
          statusPageEntry:
            type:
              - "null"
              - object
            description: Information related to the incident status on the status page.
            properties:
              title:
                type:
                  - "null"
                  - string
                description: Title or headline related to the incident status.
              detail:
                type:
                  - "null"
                  - string
                description: Detailed status information.
          impactedServices:
            type:
              - "null"
              - array
            description: Services affected by the incident.
            items:
              type: string
          notifyStakeholders:
            type:
              - "null"
              - boolean
            description: >-
              Flag indicating whether stakeholders should be notified about the
              incident.
      primary_key: id
  - type: DeclarativeStream
    name: alerts
    path: v2/alerts
    retriever:
      type: SimpleRetriever
      name: alerts
      path: v2/alerts
      paginator:
        type: DefaultPaginator
        name: alerts
        path: v2/alerts
        primary_key: id
        page_token_option:
          type: RequestPath
          name: alerts
          path: v2/alerts
          primary_key: id
        pagination_strategy:
          type: CursorPagination
          name: alerts
          path: v2/alerts
          primary_key: id
          cursor_value: "{{ response.get(\"paging\", {}).get(\"next\", {}) }}"
          stop_condition: "{{ not response.get(\"paging\", {}).get(\"next\", {}) }}"
      requester:
        type: HttpRequester
        name: alerts
        path: v2/alerts
        url_base: https://{{ config['endpoint'] }}
        http_method: GET
        primary_key: id
        authenticator:
          type: ApiKeyAuthenticator
          name: alerts
          path: v2/alerts
          api_token: GenieKey {{ config['api_token'] }}
          inject_into:
            type: RequestOption
            name: alerts
            path: v2/alerts
            field_name: Authorization
            inject_into: header
            primary_key: id
          primary_key: id
        error_handler:
          type: CompositeErrorHandler
          name: alerts
          path: v2/alerts
          primary_key: id
          error_handlers:
            - type: DefaultErrorHandler
              name: alerts
              path: v2/alerts
              primary_key: id
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  name: alerts
                  path: v2/alerts
                  header: X-RateLimit-Period-In-Sec
                  primary_key: id
        request_headers:
          Accept: application/json
        request_body_json: {}
        request_parameters:
          order: asc
      primary_key: id
      record_selector:
        type: RecordSelector
        name: alerts
        path: v2/alerts
        extractor:
          type: DpathExtractor
          name: alerts
          path: v2/alerts
          field_path:
            - data
          primary_key: id
        primary_key: id
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      name: alerts
      path: v2/alerts
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          description:
            type:
              - "null"
              - string
            description: Description of the alert
          id:
            type:
              - "null"
              - string
            description: Unique identifier for the alert
          note:
            type:
              - "null"
              - string
            description: Any additional notes or comments about the alert
          seen:
            type:
              - "null"
              - boolean
            description: Indicates if the alert has been seen by a team member
          tags:
            type:
              - "null"
              - array
            description: Tags associated with the alert
            items:
              type: string
          user:
            type:
              - "null"
              - string
            description: User associated with the alert
          alias:
            type:
              - "null"
              - string
            description: Alias of the alert
          count:
            type:
              - "null"
              - number
            description: Number of occurrences of the alert
          owner:
            type:
              - "null"
              - string
            description: Owner of the alert
          teams:
            type:
              - "null"
              - array
            description: Teams linked to the alert
            items:
              type: object
              properties:
                id:
                  type:
                    - "null"
                    - string
                  description: Unique identifier for the team
          entity:
            type:
              - "null"
              - string
[...]
