version: 4.3.0
type: DeclarativeSource
definitions:
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - data
  auth:
    type: ApiKeyAuthenticator
    api_token: "GenieKey {{ config['api_token'] }}"
    inject_into:
      type: RequestOption
      field_name: Authorization
      inject_into: header
  on_error:
    type: CompositeErrorHandler
    error_handlers:
      - type: DefaultErrorHandler
        backoff_strategies:
          - type: WaitUntilTimeFromHeader
            header: X-RateLimit-Period-In-Sec
  pagination:
    type: DefaultPaginator
    page_token_option:
      type: RequestPath
    pagination_strategy:
      type: CursorPagination
      cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
      stop_condition: '{{ not response.get("paging", {}).get("next", {}) }}'
  requester:
    type: HttpRequester
    url_base: "https://{{ config['endpoint'] }}"
    http_method: GET
    request_parameters: {}
    request_headers:
      Accept: application/json
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "GenieKey {{ config['api_token'] }}"
      inject_into:
        type: RequestOption
        field_name: Authorization
        inject_into: header
    error_handler:
      type: CompositeErrorHandler
      error_handlers:
        - type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitUntilTimeFromHeader
              header: X-RateLimit-Period-In-Sec
    request_body_json: {}
  retriever:
    type: SimpleRetriever
    requester:
      type: HttpRequester
      url_base: "https://{{ config['endpoint'] }}"
      http_method: GET
      request_parameters: {}
      request_headers:
        Accept: application/json
      authenticator:
        type: ApiKeyAuthenticator
        api_token: "GenieKey {{ config['api_token'] }}"
        inject_into:
          type: RequestOption
          field_name: Authorization
          inject_into: header
      error_handler:
        type: CompositeErrorHandler
        error_handlers:
          - type: DefaultErrorHandler
            backoff_strategies:
              - type: WaitUntilTimeFromHeader
                header: X-RateLimit-Period-In-Sec
      request_body_json: {}
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path:
          - data
    paginator:
      type: DefaultPaginator
      page_token_option:
        type: RequestPath
      pagination_strategy:
        type: CursorPagination
        cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
        stop_condition: '{{ not response.get("paging", {}).get("next", {}) }}'
  base_stream:
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://{{ config['endpoint'] }}"
        http_method: GET
        request_parameters: {}
        request_headers:
          Accept: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "GenieKey {{ config['api_token'] }}"
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("paging", {}).get("next", {}) }}'
  users_stream:
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://{{ config['endpoint'] }}"
        http_method: GET
        request_parameters: {}
        request_headers:
          Accept: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "GenieKey {{ config['api_token'] }}"
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("paging", {}).get("next", {}) }}'
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            description: The unique identifier of the user.
            type:
              - "null"
              - string
          fullName:
            description: The full name of the user.
            type:
              - "null"
              - string
          username:
            description: The username or login name of the user.
            type:
              - "null"
              - string
          blocked:
            description: Indicates whether the user is blocked or not.
            type:
              - "null"
              - boolean
          verified:
            description: Indicates if the user account has been verified.
            type:
              - "null"
              - boolean
          role:
            description: The role assigned to the user.
            type:
              - "null"
              - object
            properties:
              id:
                description: The unique identifier of the user role.
                type:
                  - "null"
                  - string
              name:
                description: The name of the user role.
                type:
                  - "null"
                  - string
          timeZone:
            description: The time zone setting of the user.
            type:
              - "null"
              - string
          locale:
            description: The preferred locale or language setting of the user.
            type:
              - "null"
              - string
          userAddress:
            description: The address details of the user.
            type:
              - "null"
              - object
            properties:
              country:
                description: The country of the user's address.
                type:
                  - "null"
                  - string
              state:
                description: The state or region of the user's address.
                type:
                  - "null"
                  - string
              city:
                description: The city of the user's address.
                type:
                  - "null"
                  - string
              line:
                description: The street address line.
                type:
                  - "null"
                  - string
              zipCode:
                description: The ZIP code of the user's address.
                type:
                  - "null"
                  - string
          invitationDisabled:
            description: Indicates if the user is disabled from receiving invitations.
            type:
              - "null"
              - boolean
          tags:
            description: Additional tags associated with the user.
            type:
              - "null"
              - array
            items:
              type: string
          details:
            description: Additional details or information about the user.
            type:
              - "null"
              - object
            properties: {}
            additionalProperties: true
          skypeUsername:
            description: The user's Skype username.
            type:
              - "null"
              - string
          createdAt:
            description: The date and time when the user account was created.
            type:
              - "null"
              - string
            format: date-time
  teams_stream:
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://{{ config['endpoint'] }}"
        http_method: GET
        request_parameters: {}
        request_headers:
          Accept: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "GenieKey {{ config['api_token'] }}"
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("paging", {}).get("next", {}) }}'
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            description: Unique identifier for the team.
            type:
              - "null"
              - string
          name:
            description: Name of the team.
            type:
              - "null"
              - string
          description:
            description: Description of the team.
            type:
              - "null"
              - string
          links:
            description: Links related to the teams data.
            type:
              - "null"
              - object
            properties:
              web:
                description: Web link related to the team.
                type:
                  - "null"
                  - string
              api:
                description: API link related to the team.
                type:
                  - "null"
                  - string
  services_stream:
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://{{ config['endpoint'] }}"
        http_method: GET
        request_parameters: {}
        request_headers:
          Accept: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "GenieKey {{ config['api_token'] }}"
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("paging", {}).get("next", {}) }}'
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            description: Unique identifier for the service.
            type:
              - "null"
              - string
          name:
            description: The name of the service.
            type:
              - "null"
              - string
          description:
            description: The description of the service.
            type:
              - "null"
              - string
          teamId:
            description: Identifier of the team to which the service belongs.
            type:
              - "null"
              - string
          isExternal:
            description: Flag indicating whether the service is external.
            type:
              - "null"
              - boolean
          tags:
            description: Represents tags associated with the service.
            type:
              - "null"
              - array
            items:
              description: Array of tags associated with the service.
              type: string
          links:
            description: Represents related links for the service.
            type:
              - "null"
              - object
            properties:
              web:
                description: URL for the web interface of the service.
                type:
                  - "null"
                  - string
              api:
                description: URL for the API endpoint of the service.
                type:
                  - "null"
                  - string
  integrations_stream:
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://{{ config['endpoint'] }}"
        http_method: GET
        request_parameters: {}
        request_headers:
          Accept: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "GenieKey {{ config['api_token'] }}"
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("paging", {}).get("next", {}) }}'
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          id:
            description: Unique identifier for the integration.
            type:
              - "null"
              - string
          name:
            description: Name of the integration.
            type:
              - "null"
              - string
          enabled:
            description: Indicates if the integration is currently enabled or disabled.
            type:
              - "null"
              - boolean
          type:
            description: Type of integration (e.g., email, chat, webhook).
            type:
              - "null"
              - string
          teamId:
            description: Identifier for the team to which the integration belongs.
            type:
              - "null"
              - string
          version:
            description: Version of the integration.
            type:
              - "null"
              - string
          advanced:
            description:
              Specifies if the integration has advanced settings enabled
              or not.
            type:
              - "null"
              - boolean
  incidents_stream:
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://{{ config['endpoint'] }}"
        http_method: GET
        request_parameters: {}
        request_headers:
          Accept: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "GenieKey {{ config['api_token'] }}"
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("paging", {}).get("next", {}) }}'
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            description: Unique identifier for the incident.
            type:
              - "null"
              - string
          tinyId:
            description: Short identifier for the incident.
            type:
              - "null"
              - string
          message:
            description: Brief summary or message related to the incident.
            type:
              - "null"
              - string
          note:
            description: Any additional notes or comments regarding the incident.
            type:
              - "null"
              - string
          description:
            description: A detailed description of the incident.
            type:
              - "null"
              - string
          status:
            description: Current status of the incident.
            type:
              - "null"
              - string
          tags:
            description: Tags or labels associated with the incident.
            type:
              - "null"
              - array
            items:
              type: string
          priority:
            description: Priority level assigned to the incident.
            type:
              - "null"
              - string
          ownerTeam:
            description: Owner team of the incident.
            type:
              - "null"
              - string
          responders:
            description: List of responders assigned to deal with the incident.
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                id:
                  description: Unique identifier of the responder.
                  type:
                    - "null"
                    - string
                type:
                  description: Type or role of the responder.
                  type:
                    - "null"
                    - string
          impactedServices:
            description: Services affected by the incident.
            type:
              - "null"
              - array
            items:
              type: string
          statusPageEntry:
            description:
              Information related to the incident status on the status
              page.
            type:
              - "null"
              - object
            properties:
              title:
                description: Title or headline related to the incident status.
                type:
                  - "null"
                  - string
              detail:
                description: Detailed status information.
                type:
                  - "null"
                  - string
          details:
            description: Additional details or context related to the incident.
            type:
              - "null"
              - object
            properties: {}
            additionalProperties: true
          extraProperties:
            description:
              Map of key-value pairs of custom properties of the incident.
            type:
              - "null"
              - object
            properties: {}
            additionalProperties: true
          links:
            description: Links related to the incident data.
            type:
              - "null"
              - object
            properties:
              web:
                description: Web link related to the incident.
                type:
                  - "null"
                  - string
              api:
                description: API link related to the incident.
                type:
                  - "null"
                  - string
          impactStartDate:
            description: The timestamp when the impact started for the incident.
            type:
              - "null"
              - string
            format: date-time
          actions:
            description: List of actions related to the incident.
            type:
              - "null"
              - array
            items:
              type: object
              properties: {}
              additionalProperties: true
          notifyStakeholders:
            description:
              Flag indicating whether stakeholders should be notified about
              the incident.
            type:
              - "null"
              - boolean
          createdAt:
            description: The timestamp when the incident was created.
            type:
              - "null"
              - string
            format: date-time
          updatedAt:
            description: The timestamp when the incident was last updated.
            type:
              - "null"
              - string
            format: date-time
  alerts_stream:
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://{{ config['endpoint'] }}"
        http_method: GET
        request_parameters:
          order: "asc"
        request_headers:
          Accept: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "GenieKey {{ config['api_token'] }}"
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("paging", {}).get("next", {}) }}'
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updatedAt
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%s"
      start_datetime:
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            description: Unique identifier for the alert
            type:
              - "null"
              - string
          tinyId:
            description: Short unique identifier for the alert
            type:
              - "null"
              - string
          alias:
            description: Alias of the alert
            type:
              - "null"
              - string
          message:
            description: Message associated with the alert
            type:
              - "null"
              - string
          note:
            description: Any additional notes or comments about the alert
            type:
              - "null"
              - string
          status:
            description: Current status of the alert
            type:
              - "null"
              - string
          acknowledged:
            description: Indicates if the alert has been acknowledged by a team member
            type:
              - "null"
              - boolean
          seen:
            description: Indicates if the alert has been seen by a team member
            type:
              - "null"
              - boolean
          isSeen:
            description: Indicates if the alert has been viewed
            type:
              - "null"
              - boolean
          tags:
            description: Tags associated with the alert
            type:
              - "null"
              - array
            items:
              type: string
          snoozed:
            description: Indicates if the alert has been snoozed
            type:
              - "null"
              - boolean
          snoozedUntil:
            description: Timestamp until which the alert is snoozed
            type:
              - "null"
              - string
            format: date-time
          count:
            description: Number of occurrences of the alert
            type:
              - "null"
              - number
          lastOccurredAt:
            description: Timestamp of the last occurrence of the alert
            type:
              - "null"
              - string
            format: date-time
          source:
            description: Source from where the alert originated
            type:
              - "null"
              - string
          owner:
            description: Owner of the alert
            type:
              - "null"
              - string
          user:
            description: User associated with the alert
            type:
              - "null"
              - string
          priority:
            description: Priority level of the alert
            type:
              - "null"
              - string
          responders:
            description: Team members or users who are responders to the alert
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                id:
                  description: Unique identifier for the responder
                  type:
                    - "null"
                    - string
                type:
                  description: Type of the responder
                  type:
                    - "null"
                    - string
          visibleTo:
            description: Users or teams who have visibility to the alert
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                id:
                  description: Unique identifier for the user or team
                  type:
                    - "null"
                    - string
                name:
                  description: Name of the user or team
                  type:
                    - "null"
                    - string
                type:
                  description: Type of the user or team
                  type:
                    - "null"
                    - string
          teams:
            description: Teams linked to the alert
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                id:
                  description: Unique identifier for the team
                  type:
                    - "null"
                    - string
          integration:
            description: Integration details linked to the alert
            type:
              - "null"
              - object
            properties:
              id:
                description: Unique identifier for the integration
                type:
                  - "null"
                  - string
              name:
                description: Name of the integration
                type:
                  - "null"
                  - string
              type:
                description: Type of the integration
                type:
                  - "null"
                  - string
          report:
            description: Report details related to the alert
            type:
              - "null"
              - object
            properties:
              ackTime:
                description: Timestamp when the alert was acknowledged
                type:
                  - "null"
                  - number
              closeTime:
                description: Timestamp when the alert was closed
                type:
                  - "null"
                  - number
              acknowledgedBy:
                description: Team member who acknowledged the alert
                type:
                  - "null"
                  - string
              closedBy:
                description: Team member who closed the alert
                type:
                  - "null"
                  - string
          actions:
            description: Actions associated with the alert
            type:
              - "null"
              - array
            items:
              type: string
          entity:
            description: Entity associated with the alert
            type:
              - "null"
              - string
          description:
            description: Description of the alert
            type:
              - "null"
              - string
          details:
            description: Additional details or context related to the alert
            type:
              - "null"
              - object
            properties: {}
            additionalProperties: true
          ownerTeamId:
            description: Identifier of the team that owns the alert
            type:
              - "null"
              - string
          createdAt:
            description: Timestamp when the alert was created
            type:
              - "null"
              - string
            format: date-time
          updatedAt:
            description: Timestamp when the alert was last updated
            type:
              - "null"
              - string
            format: date-time
  user_teams_stream:
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://{{ config['endpoint'] }}"
        http_method: GET
        request_parameters: {}
        request_headers:
          Accept: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "GenieKey {{ config['api_token'] }}"
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
        request_body_json: {}
        path: "v2/users/{{ stream_partition['user_id'] }}/teams"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("paging", {}).get("next", {}) }}'
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: id
            partition_field: user_id
            stream:
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "https://{{ config['endpoint'] }}"
                  http_method: GET
                  request_parameters: {}
                  request_headers:
                    Accept: application/json
                  authenticator:
                    type: ApiKeyAuthenticator
                    api_token: "GenieKey {{ config['api_token'] }}"
                    inject_into:
                      type: RequestOption
                      field_name: Authorization
                      inject_into: header
                  error_handler:
                    type: CompositeErrorHandler
                    error_handlers:
                      - type: DefaultErrorHandler
                        backoff_strategies:
                          - type: WaitUntilTimeFromHeader
                            header: X-RateLimit-Period-In-Sec
                  request_body_json: {}
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path:
                      - data
                paginator:
                  type: DefaultPaginator
                  page_token_option:
                    type: RequestPath
                  pagination_strategy:
                    type: CursorPagination
                    cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
                    stop_condition:
                      '{{ not response.get("paging", {}).get("next", {})
                      }}'
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  $schema: http://json-schema.org/draft-07/schema#
                  type: object
                  properties:
                    id:
                      description: The unique identifier of the user.
                      type:
                        - "null"
                        - string
                    fullName:
                      description: The full name of the user.
                      type:
                        - "null"
                        - string
                    username:
                      description: The username or login name of the user.
                      type:
                        - "null"
                        - string
                    blocked:
                      description: Indicates whether the user is blocked or not.
                      type:
                        - "null"
                        - boolean
                    verified:
                      description: Indicates if the user account has been verified.
                      type:
                        - "null"
                        - boolean
                    role:
                      description: The role assigned to the user.
                      type:
                        - "null"
                        - object
                      properties:
                        id:
                          description: The unique identifier of the user role.
                          type:
                            - "null"
                            - string
                        name:
                          description: The name of the user role.
                          type:
                            - "null"
                            - string
                    timeZone:
                      description: The time zone setting of the user.
                      type:
                        - "null"
                        - string
                    locale:
                      description: The preferred locale or language setting of the user.
                      type:
                        - "null"
                        - string
                    userAddress:
                      description: The address details of the user.
                      type:
                        - "null"
                        - object
                      properties:
                        country:
                          description: The country of the user's address.
                          type:
                            - "null"
                            - string
                        state:
                          description: The state or region of the user's address.
                          type:
                            - "null"
                            - string
                        city:
                          description: The city of the user's address.
                          type:
                            - "null"
                            - string
                        line:
                          description: The street address line.
                          type:
                            - "null"
                            - string
                        zipCode:
                          description: The ZIP code of the user's address.
                          type:
                            - "null"
                            - string
                    invitationDisabled:
                      description:
                        Indicates if the user is disabled from receiving
                        invitations.
                      type:
                        - "null"
                        - boolean
                    tags:
                      description: Additional tags associated with the user.
                      type:
                        - "null"
                        - array
                      items:
                        type: string
                    details:
                      description: Additional details or information about the user.
                      type:
                        - "null"
                        - object
                      properties: {}
                      additionalProperties: true
                    skypeUsername:
                      description: The user's Skype username.
                      type:
                        - "null"
                        - string
                    createdAt:
                      description: The date and time when the user account was created.
                      type:
                        - "null"
                        - string
                      format: date-time
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - "user_id"
            value: "{{ stream_partition['id'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          user_id:
            description: Unique identifier for the user associated with the team.
            type:
              - "null"
              - string
          id:
            description: Unique identifier for the team.
            type:
              - "null"
              - string
          name:
            description: Name of the team.
            type:
              - "null"
              - string
  alert_recipients_stream:
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://{{ config['endpoint'] }}"
        http_method: GET
        request_parameters: {}
        request_headers:
          Accept: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "GenieKey {{ config['api_token'] }}"
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
        request_body_json: {}
        path: "v2/alerts/{{ stream_partition['alert_id'] }}/recipients"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("paging", {}).get("next", {}) }}'
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: id
            partition_field: alert_id
            stream:
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "https://{{ config['endpoint'] }}"
                  http_method: GET
                  request_parameters:
                    order: "asc"
                  request_headers:
                    Accept: application/json
                  authenticator:
                    type: ApiKeyAuthenticator
                    api_token: "GenieKey {{ config['api_token'] }}"
                    inject_into:
                      type: RequestOption
                      field_name: Authorization
                      inject_into: header
                  error_handler:
                    type: CompositeErrorHandler
                    error_handlers:
                      - type: DefaultErrorHandler
                        backoff_strategies:
                          - type: WaitUntilTimeFromHeader
                            header: X-RateLimit-Period-In-Sec
                  request_body_json: {}
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path:
                      - data
                paginator:
                  type: DefaultPaginator
                  page_token_option:
                    type: RequestPath
                  pagination_strategy:
                    type: CursorPagination
                    cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
                    stop_condition:
                      '{{ not response.get("paging", {}).get("next", {})
                      }}'
              incremental_sync:
                type: DatetimeBasedCursor
                cursor_field: updatedAt
                cursor_datetime_formats:
                  - "%Y-%m-%dT%H:%M:%S.%fZ"
                  - "%Y-%m-%dT%H:%M:%SZ"
                datetime_format: "%s"
                start_datetime:
                  datetime: "{{ config['start_date'] }}"
                  datetime_format: "%Y-%m-%dT%H:%M:%SZ"
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  $schema: http://json-schema.org/draft-07/schema#
                  type: object
                  properties:
                    id:
                      description: Unique identifier for the alert
                      type:
                        - "null"
                        - string
                    tinyId:
                      description: Short unique identifier for the alert
                      type:
                        - "null"
                        - string
                    alias:
                      description: Alias of the alert
                      type:
                        - "null"
                        - string
                    message:
                      description: Message associated with the alert
                      type:
                        - "null"
                        - string
                    note:
                      description: Any additional notes or comments about the alert
                      type:
                        - "null"
                        - string
                    status:
                      description: Current status of the alert
                      type:
                        - "null"
                        - string
                    acknowledged:
                      description:
                        Indicates if the alert has been acknowledged by a
                        team member
                      type:
                        - "null"
                        - boolean
                    seen:
                      description: Indicates if the alert has been seen by a team member
                      type:
                        - "null"
                        - boolean
                    isSeen:
                      description: Indicates if the alert has been viewed
                      type:
                        - "null"
                        - boolean
                    tags:
                      description: Tags associated with the alert
                      type:
                        - "null"
                        - array
                      items:
                        type: string
                    snoozed:
                      description: Indicates if the alert has been snoozed
                      type:
                        - "null"
                        - boolean
                    snoozedUntil:
                      description: Timestamp until which the alert is snoozed
                      type:
                        - "null"
                        - string
                      format: date-time
                    count:
                      description: Number of occurrences of the alert
                      type:
                        - "null"
                        - number
                    lastOccurredAt:
                      description: Timestamp of the last occurrence of the alert
                      type:
                        - "null"
                        - string
                      format: date-time
                    source:
                      description: Source from where the alert originated
                      type:
                        - "null"
                        - string
                    owner:
                      description: Owner of the alert
                      type:
                        - "null"
                        - string
                    user:
                      description: User associated with the alert
                      type:
                        - "null"
                        - string
                    priority:
                      description: Priority level of the alert
                      type:
                        - "null"
                        - string
                    responders:
                      description: Team members or users who are responders to the alert
                      type:
                        - "null"
                        - array
                      items:
                        type: object
                        properties:
                          id:
                            description: Unique identifier for the responder
                            type:
                              - "null"
                              - string
                          type:
                            description: Type of the responder
                            type:
                              - "null"
                              - string
                    visibleTo:
                      description: Users or teams who have visibility to the alert
                      type:
                        - "null"
                        - array
                      items:
                        type: object
                        properties:
                          id:
                            description: Unique identifier for the user or team
                            type:
                              - "null"
                              - string
                          name:
                            description: Name of the user or team
                            type:
                              - "null"
                              - string
                          type:
                            description: Type of the user or team
                            type:
                              - "null"
                              - string
                    teams:
                      description: Teams linked to the alert
                      type:
                        - "null"
                        - array
                      items:
                        type: object
                        properties:
                          id:
                            description: Unique identifier for the team
                            type:
                              - "null"
                              - string
                    integration:
                      description: Integration details linked to the alert
                      type:
                        - "null"
                        - object
                      properties:
                        id:
                          description: Unique identifier for the integration
                          type:
                            - "null"
                            - string
                        name:
                          description: Name of the integration
                          type:
                            - "null"
                            - string
                        type:
                          description: Type of the integration
                          type:
                            - "null"
                            - string
                    report:
                      description: Report details related to the alert
                      type:
                        - "null"
                        - object
                      properties:
                        ackTime:
                          description: Timestamp when the alert was acknowledged
                          type:
                            - "null"
                            - number
                        closeTime:
                          description: Timestamp when the alert was closed
                          type:
                            - "null"
                            - number
                        acknowledgedBy:
                          description: Team member who acknowledged the alert
                          type:
                            - "null"
                            - string
                        closedBy:
                          description: Team member who closed the alert
                          type:
                            - "null"
                            - string
                    actions:
                      description: Actions associated with the alert
                      type:
                        - "null"
                        - array
                      items:
                        type: string
                    entity:
                      description: Entity associated with the alert
                      type:
                        - "null"
                        - string
                    description:
                      description: Description of the alert
                      type:
                        - "null"
                        - string
                    details:
                      description: Additional details or context related to the alert
                      type:
                        - "null"
                        - object
                      properties: {}
                      additionalProperties: true
                    ownerTeamId:
                      description: Identifier of the team that owns the alert
                      type:
                        - "null"
                        - string
                    createdAt:
                      description: Timestamp when the alert was created
                      type:
                        - "null"
                        - string
                      format: date-time
                    updatedAt:
                      description: Timestamp when the alert was last updated
                      type:
                        - "null"
                        - string
                      format: date-time
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - "alert_id"
            value: "{{ stream_partition['id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - "user_id"
            value: "{{ record['user']['id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - "user_username"
            value: "{{ record['user']['username'] }}"
      - type: RemoveFields
        field_pointers:
          - - "user"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          alert_id:
            description: Unique identifier for the alert associated with the recipient
            type:
              - "null"
              - string
          user_id:
            description: Unique identifier for the user associated with the recipient
            type:
              - "null"
              - string
          user_username:
            description: Username of the user associated with the recipient
            type:
              - "null"
              - string
          state:
            description: State of the alert recipient (active, inactive, etc.)
            type:
              - "null"
              - string
          method:
            description: Communication method used to notify the recipient
            type:
              - "null"
              - string
          aware:
            description: Flag indicating whether the recipient is aware of the alert
            type:
              - "null"
              - boolean
          createdAt:
            description: Timestamp indicating when the recipient was created
            type:
              - "null"
              - string
            format: date-time
          updatedAt:
            description:
              Timestamp indicating when the recipient information was last
              updated
            type:
              - "null"
              - string
            format: date-time
  alert_logs_stream:
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://{{ config['endpoint'] }}"
        http_method: GET
        request_parameters:
          order: asc
        request_headers:
          Accept: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "GenieKey {{ config['api_token'] }}"
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("paging", {}).get("next", {}) }}'
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: id
            partition_field: alert_id
            stream:
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "https://{{ config['endpoint'] }}"
                  http_method: GET
                  request_parameters:
                    order: "asc"
                  request_headers:
                    Accept: application/json
                  authenticator:
                    type: ApiKeyAuthenticator
                    api_token: "GenieKey {{ config['api_token'] }}"
                    inject_into:
                      type: RequestOption
                      field_name: Authorization
                      inject_into: header
                  error_handler:
                    type: CompositeErrorHandler
                    error_handlers:
                      - type: DefaultErrorHandler
                        backoff_strategies:
                          - type: WaitUntilTimeFromHeader
                            header: X-RateLimit-Period-In-Sec
                  request_body_json: {}
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path:
                      - data
                paginator:
                  type: DefaultPaginator
                  page_token_option:
                    type: RequestPath
                  pagination_strategy:
                    type: CursorPagination
                    cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
                    stop_condition:
                      '{{ not response.get("paging", {}).get("next", {})
                      }}'
              incremental_sync:
                type: DatetimeBasedCursor
                cursor_field: updatedAt
                cursor_datetime_formats:
                  - "%Y-%m-%dT%H:%M:%S.%fZ"
                  - "%Y-%m-%dT%H:%M:%SZ"
                datetime_format: "%s"
                start_datetime:
                  datetime: "{{ config['start_date'] }}"
                  datetime_format: "%Y-%m-%dT%H:%M:%SZ"
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  $schema: http://json-schema.org/draft-07/schema#
                  type: object
                  properties:
                    id:
                      description: Unique identifier for the alert
                      type:
                        - "null"
                        - string
                    tinyId:
                      description: Short unique identifier for the alert
                      type:
                        - "null"
                        - string
                    alias:
                      description: Alias of the alert
                      type:
                        - "null"
                        - string
                    message:
                      description: Message associated with the alert
                      type:
                        - "null"
                        - string
                    note:
                      description: Any additional notes or comments about the alert
                      type:
                        - "null"
                        - string
                    status:
                      description: Current status of the alert
                      type:
                        - "null"
                        - string
                    acknowledged:
                      description:
                        Indicates if the alert has been acknowledged by a
                        team member
                      type:
                        - "null"
                        - boolean
                    seen:
                      description: Indicates if the alert has been seen by a team member
                      type:
                        - "null"
                        - boolean
                    isSeen:
                      description: Indicates if the alert has been viewed
                      type:
                        - "null"
                        - boolean
                    tags:
                      description: Tags associated with the alert
                      type:
                        - "null"
                        - array
                      items:
                        type: string
                    snoozed:
                      description: Indicates if the alert has been snoozed
                      type:
                        - "null"
                        - boolean
                    snoozedUntil:
                      description: Timestamp until which the alert is snoozed
                      type:
                        - "null"
                        - string
                      format: date-time
                    count:
                      description: Number of occurrences of the alert
                      type:
                        - "null"
                        - number
                    lastOccurredAt:
                      description: Timestamp of the last occurrence of the alert
                      type:
                        - "null"
                        - string
                      format: date-time
                    source:
                      description: Source from where the alert originated
                      type:
                        - "null"
                        - string
                    owner:
                      description: Owner of the alert
                      type:
                        - "null"
                        - string
                    user:
                      description: User associated with the alert
                      type:
                        - "null"
                        - string
                    priority:
                      description: Priority level of the alert
                      type:
                        - "null"
                        - string
                    responders:
                      description: Team members or users who are responders to the alert
                      type:
                        - "null"
                        - array
                      items:
                        type: object
                        properties:
                          id:
                            description: Unique identifier for the responder
                            type:
                              - "null"
                              - string
                          type:
                            description: Type of the responder
                            type:
                              - "null"
                              - string
                    visibleTo:
                      description: Users or teams who have visibility to the alert
                      type:
                        - "null"
                        - array
                      items:
                        type: object
                        properties:
                          id:
                            description: Unique identifier for the user or team
                            type:
                              - "null"
                              - string
                          name:
                            description: Name of the user or team
                            type:
                              - "null"
                              - string
                          type:
                            description: Type of the user or team
                            type:
                              - "null"
                              - string
                    teams:
                      description: Teams linked to the alert
                      type:
                        - "null"
                        - array
                      items:
                        type: object
                        properties:
                          id:
                            description: Unique identifier for the team
                            type:
                              - "null"
                              - string
                    integration:
                      description: Integration details linked to the alert
                      type:
                        - "null"
                        - object
                      properties:
                        id:
                          description: Unique identifier for the integration
                          type:
                            - "null"
                            - string
                        name:
                          description: Name of the integration
                          type:
                            - "null"
                            - string
                        type:
                          description: Type of the integration
                          type:
                            - "null"
                            - string
                    report:
                      description: Report details related to the alert
                      type:
                        - "null"
                        - object
                      properties:
                        ackTime:
                          description: Timestamp when the alert was acknowledged
                          type:
                            - "null"
                            - number
                        closeTime:
                          description: Timestamp when the alert was closed
                          type:
                            - "null"
                            - number
                        acknowledgedBy:
                          description: Team member who acknowledged the alert
                          type:
                            - "null"
                            - string
                        closedBy:
                          description: Team member who closed the alert
                          type:
                            - "null"
                            - string
                    actions:
                      description: Actions associated with the alert
                      type:
                        - "null"
                        - array
                      items:
                        type: string
                    entity:
                      description: Entity associated with the alert
                      type:
                        - "null"
                        - string
                    description:
                      description: Description of the alert
                      type:
                        - "null"
                        - string
                    details:
                      description: Additional details or context related to the alert
                      type:
                        - "null"
                        - object
                      properties: {}
                      additionalProperties: true
                    ownerTeamId:
                      description: Identifier of the team that owns the alert
                      type:
                        - "null"
                        - string
                    createdAt:
                      description: Timestamp when the alert was created
                      type:
                        - "null"
                        - string
                      format: date-time
                    updatedAt:
                      description: Timestamp when the alert was last updated
                      type:
                        - "null"
                        - string
                      format: date-time
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - "alert_id"
            value: "{{ stream_partition['id'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          alert_id:
            description: Unique identifier for the alert
            type:
              - "null"
              - string
          offset:
            description: Offset value for tracking log position or pagination
            type:
              - "null"
              - string
          log:
            description: Details of the log entry
            type:
              - "null"
              - string
          type:
            description: Type or category of the log entry
            type:
              - "null"
              - string
          owner:
            description: Owner or user responsible for the log entry
            type:
              - "null"
              - string
          createdAt:
            description: Timestamp when the log entry was created
            type:
              - "null"
              - string
            format: date-time
check:
  type: CheckStream
  stream_names:
    - users
streams:
  - retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://{{ config['endpoint'] }}"
        http_method: GET
        request_parameters: {}
        request_headers:
          Accept: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "GenieKey {{ config['api_token'] }}"
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
            name: "users"
            primary_key: "id"
            path: "v2/users"
          name: "users"
          primary_key: "id"
          path: "v2/users"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
                  name: "users"
                  primary_key: "id"
                  path: "v2/users"
              name: "users"
              primary_key: "id"
              path: "v2/users"
          name: "users"
          primary_key: "id"
          path: "v2/users"
        request_body_json: {}
        name: "users"
        primary_key: "id"
        path: "v2/users"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
          name: "users"
          primary_key: "id"
          path: "v2/users"
        name: "users"
        primary_key: "id"
        path: "v2/users"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
          name: "users"
          primary_key: "id"
          path: "v2/users"
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("paging", {}).get("next", {}) }}'
          name: "users"
          primary_key: "id"
          path: "v2/users"
        name: "users"
        primary_key: "id"
        path: "v2/users"
      name: "users"
      primary_key: "id"
      path: "v2/users"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            description: The unique identifier of the user.
            type:
              - "null"
              - string
          fullName:
            description: The full name of the user.
            type:
              - "null"
              - string
          username:
            description: The username or login name of the user.
            type:
              - "null"
              - string
          blocked:
            description: Indicates whether the user is blocked or not.
            type:
              - "null"
              - boolean
          verified:
            description: Indicates if the user account has been verified.
            type:
              - "null"
              - boolean
          role:
            description: The role assigned to the user.
            type:
              - "null"
              - object
            properties:
              id:
                description: The unique identifier of the user role.
                type:
                  - "null"
                  - string
              name:
                description: The name of the user role.
                type:
                  - "null"
                  - string
          timeZone:
            description: The time zone setting of the user.
            type:
              - "null"
              - string
          locale:
            description: The preferred locale or language setting of the user.
            type:
              - "null"
              - string
          userAddress:
            description: The address details of the user.
            type:
              - "null"
              - object
            properties:
              country:
                description: The country of the user's address.
                type:
                  - "null"
                  - string
              state:
                description: The state or region of the user's address.
                type:
                  - "null"
                  - string
              city:
                description: The city of the user's address.
                type:
                  - "null"
                  - string
              line:
                description: The street address line.
                type:
                  - "null"
                  - string
              zipCode:
                description: The ZIP code of the user's address.
                type:
                  - "null"
                  - string
          invitationDisabled:
            description: Indicates if the user is disabled from receiving invitations.
            type:
              - "null"
              - boolean
          tags:
            description: Additional tags associated with the user.
            type:
              - "null"
              - array
            items:
              type: string
          details:
            description: Additional details or information about the user.
            type:
              - "null"
              - object
            properties: {}
            additionalProperties: true
          skypeUsername:
            description: The user's Skype username.
            type:
              - "null"
              - string
          createdAt:
            description: The date and time when the user account was created.
            type:
              - "null"
              - string
            format: date-time
      name: "users"
      primary_key: "id"
      path: "v2/users"
    type: DeclarativeStream
    name: "users"
    primary_key: "id"
    path: "v2/users"
  - retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://{{ config['endpoint'] }}"
        http_method: GET
        request_parameters: {}
        request_headers:
          Accept: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "GenieKey {{ config['api_token'] }}"
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
            name: "teams"
            primary_key: "id"
            path: "v2/teams"
          name: "teams"
          primary_key: "id"
          path: "v2/teams"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
                  name: "teams"
                  primary_key: "id"
                  path: "v2/teams"
              name: "teams"
              primary_key: "id"
              path: "v2/teams"
          name: "teams"
          primary_key: "id"
          path: "v2/teams"
        request_body_json: {}
        name: "teams"
        primary_key: "id"
        path: "v2/teams"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
          name: "teams"
          primary_key: "id"
          path: "v2/teams"
        name: "teams"
        primary_key: "id"
        path: "v2/teams"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
          name: "teams"
          primary_key: "id"
          path: "v2/teams"
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("paging", {}).get("next", {}) }}'
          name: "teams"
          primary_key: "id"
          path: "v2/teams"
        name: "teams"
        primary_key: "id"
        path: "v2/teams"
      name: "teams"
      primary_key: "id"
      path: "v2/teams"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            description: Unique identifier for the team.
            type:
              - "null"
              - string
          name:
            description: Name of the team.
            type:
              - "null"
              - string
          description:
            description: Description of the team.
            type:
              - "null"
              - string
          links:
            description: Links related to the teams data.
            type:
              - "null"
              - object
            properties:
              web:
                description: Web link related to the team.
                type:
                  - "null"
                  - string
              api:
                description: API link related to the team.
                type:
                  - "null"
                  - string
      name: "teams"
      primary_key: "id"
      path: "v2/teams"
    type: DeclarativeStream
    name: "teams"
    primary_key: "id"
    path: "v2/teams"
  - retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://{{ config['endpoint'] }}"
        http_method: GET
        request_parameters: {}
        request_headers:
          Accept: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "GenieKey {{ config['api_token'] }}"
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
            name: "services"
            primary_key: "id"
            path: "v1/services"
          name: "services"
          primary_key: "id"
          path: "v1/services"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
                  name: "services"
                  primary_key: "id"
                  path: "v1/services"
              name: "services"
              primary_key: "id"
              path: "v1/services"
          name: "services"
          primary_key: "id"
          path: "v1/services"
        request_body_json: {}
        name: "services"
        primary_key: "id"
        path: "v1/services"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
          name: "services"
          primary_key: "id"
          path: "v1/services"
        name: "services"
        primary_key: "id"
        path: "v1/services"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
          name: "services"
          primary_key: "id"
          path: "v1/services"
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("paging", {}).get("next", {}) }}'
          name: "services"
          primary_key: "id"
          path: "v1/services"
        name: "services"
        primary_key: "id"
        path: "v1/services"
      name: "services"
      primary_key: "id"
      path: "v1/services"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            description: Unique identifier for the service.
            type:
              - "null"
              - string
          name:
            description: The name of the service.
            type:
              - "null"
              - string
          description:
            description: The description of the service.
            type:
              - "null"
              - string
          teamId:
            description: Identifier of the team to which the service belongs.
            type:
              - "null"
              - string
          isExternal:
            description: Flag indicating whether the service is external.
            type:
              - "null"
              - boolean
          tags:
            description: Represents tags associated with the service.
            type:
              - "null"
              - array
            items:
              description: Array of tags associated with the service.
              type: string
          links:
            description: Represents related links for the service.
            type:
              - "null"
              - object
            properties:
              web:
                description: URL for the web interface of the service.
                type:
                  - "null"
                  - string
              api:
                description: URL for the API endpoint of the service.
                type:
                  - "null"
                  - string
      name: "services"
      primary_key: "id"
      path: "v1/services"
    type: DeclarativeStream
    name: "services"
    primary_key: "id"
    path: "v1/services"
  - retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://{{ config['endpoint'] }}"
        http_method: GET
        request_parameters: {}
        request_headers:
          Accept: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "GenieKey {{ config['api_token'] }}"
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
            name: "integrations"
            primary_key: "id"
            path: "v2/integrations"
          name: "integrations"
          primary_key: "id"
          path: "v2/integrations"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
                  name: "integrations"
                  primary_key: "id"
                  path: "v2/integrations"
              name: "integrations"
              primary_key: "id"
              path: "v2/integrations"
          name: "integrations"
          primary_key: "id"
          path: "v2/integrations"
        request_body_json: {}
        name: "integrations"
        primary_key: "id"
        path: "v2/integrations"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
          name: "integrations"
          primary_key: "id"
          path: "v2/integrations"
        name: "integrations"
        primary_key: "id"
        path: "v2/integrations"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
          name: "integrations"
          primary_key: "id"
          path: "v2/integrations"
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("paging", {}).get("next", {}) }}'
          name: "integrations"
          primary_key: "id"
          path: "v2/integrations"
        name: "integrations"
        primary_key: "id"
        path: "v2/integrations"
      name: "integrations"
      primary_key: "id"
      path: "v2/integrations"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          id:
            description: Unique identifier for the integration.
            type:
              - "null"
              - string
          name:
            description: Name of the integration.
            type:
              - "null"
              - string
          enabled:
            description: Indicates if the integration is currently enabled or disabled.
            type:
              - "null"
              - boolean
          type:
            description: Type of integration (e.g., email, chat, webhook).
            type:
              - "null"
              - string
          teamId:
            description: Identifier for the team to which the integration belongs.
            type:
              - "null"
              - string
          version:
            description: Version of the integration.
            type:
              - "null"
              - string
          advanced:
            description:
              Specifies if the integration has advanced settings enabled
              or not.
            type:
              - "null"
              - boolean
      name: "integrations"
      primary_key: "id"
      path: "v2/integrations"
    type: DeclarativeStream
    name: "integrations"
    primary_key: "id"
    path: "v2/integrations"
  - retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://{{ config['endpoint'] }}"
        http_method: GET
        request_parameters: {}
        request_headers:
          Accept: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "GenieKey {{ config['api_token'] }}"
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
            name: "incidents"
            primary_key: "id"
            path: "v1/incidents"
          name: "incidents"
          primary_key: "id"
          path: "v1/incidents"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
                  name: "incidents"
                  primary_key: "id"
                  path: "v1/incidents"
              name: "incidents"
              primary_key: "id"
              path: "v1/incidents"
          name: "incidents"
          primary_key: "id"
          path: "v1/incidents"
        request_body_json: {}
        name: "incidents"
        primary_key: "id"
        path: "v1/incidents"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
          name: "incidents"
          primary_key: "id"
          path: "v1/incidents"
        name: "incidents"
        primary_key: "id"
        path: "v1/incidents"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
          name: "incidents"
          primary_key: "id"
          path: "v1/incidents"
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("paging", {}).get("next", {}) }}'
          name: "incidents"
          primary_key: "id"
          path: "v1/incidents"
        name: "incidents"
        primary_key: "id"
        path: "v1/incidents"
      name: "incidents"
      primary_key: "id"
      path: "v1/incidents"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            description: Unique identifier for the incident.
            type:
              - "null"
              - string
          tinyId:
            description: Short identifier for the incident.
            type:
              - "null"
              - string
          message:
            description: Brief summary or message related to the incident.
            type:
              - "null"
              - string
          note:
            description: Any additional notes or comments regarding the incident.
            type:
              - "null"
              - string
          description:
            description: A detailed description of the incident.
            type:
              - "null"
              - string
          status:
            description: Current status of the incident.
            type:
              - "null"
              - string
          tags:
            description: Tags or labels associated with the incident.
            type:
              - "null"
              - array
            items:
              type: string
          priority:
            description: Priority level assigned to the incident.
            type:
              - "null"
              - string
          ownerTeam:
            description: Owner team of the incident.
            type:
              - "null"
              - string
          responders:
            description: List of responders assigned to deal with the incident.
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                id:
                  description: Unique identifier of the responder.
                  type:
                    - "null"
                    - string
                type:
                  description: Type or role of the responder.
                  type:
                    - "null"
                    - string
          impactedServices:
            description: Services affected by the incident.
            type:
              - "null"
              - array
            items:
              type: string
          statusPageEntry:
            description: Information related to the incident status on the status page.
            type:
              - "null"
              - object
            properties:
              title:
                description: Title or headline related to the incident status.
                type:
                  - "null"
                  - string
              detail:
                description: Detailed status information.
                type:
                  - "null"
                  - string
          details:
            description: Additional details or context related to the incident.
            type:
              - "null"
              - object
            properties: {}
            additionalProperties: true
          extraProperties:
            description:
              Map of key-value pairs of custom properties of the incident.
            type:
              - "null"
              - object
            properties: {}
            additionalProperties: true
          links:
            description: Links related to the incident data.
            type:
              - "null"
              - object
            properties:
              web:
                description: Web link related to the incident.
                type:
                  - "null"
                  - string
              api:
                description: API link related to the incident.
                type:
                  - "null"
                  - string
          impactStartDate:
            description: The timestamp when the impact started for the incident.
            type:
              - "null"
              - string
            format: date-time
          actions:
            description: List of actions related to the incident.
            type:
              - "null"
              - array
            items:
              type: object
              properties: {}
              additionalProperties: true
          notifyStakeholders:
            description:
              Flag indicating whether stakeholders should be notified about
              the incident.
            type:
              - "null"
              - boolean
          createdAt:
            description: The timestamp when the incident was created.
            type:
              - "null"
              - string
            format: date-time
          updatedAt:
            description: The timestamp when the incident was last updated.
            type:
              - "null"
              - string
            format: date-time
      name: "incidents"
      primary_key: "id"
      path: "v1/incidents"
    type: DeclarativeStream
    name: "incidents"
    primary_key: "id"
    path: "v1/incidents"
  - retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://{{ config['endpoint'] }}"
        http_method: GET
        request_parameters:
          order: "asc"
        request_headers:
          Accept: application/json
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "GenieKey {{ config['api_token'] }}"
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
            name: "alerts"
            primary_key: "id"
            path: "v2/alerts"
          name: "alerts"
          primary_key: "id"
          path: "v2/alerts"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitUntilTimeFromHeader
                  header: X-RateLimit-Period-In-Sec
                  name: "alerts"
                  primary_key: "id"
                  path: "v2/alerts"
              name: "alerts"
              primary_key: "id"
              path: "v2/alerts"
          name: "alerts"
          primary_key: "id"
          path: "v2/alerts"
        request_body_json: {}
        name: "alerts"
        primary_key: "id"
        path: "v2/alerts"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
          name: "alerts"
          primary_key: "id"
          path: "v2/alerts"
        name: "alerts"
        primary_key: "id"
        path: "v2/alerts"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
          name: "alerts"
          primary_key: "id"
          path: "v2/alerts"
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("paging", {}).get("next", {}) }}'
          name: "alerts"
          primary_key: "id"
          path: "v2/alerts"
        name: "alerts"
        primary_key: "id"
        path: "v2/alerts"
      name: "alerts"
      primary_key: "id"
      path: "v2/alerts"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updatedAt
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%s"
      start_datetime:
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        type: MinMaxDatetime
        name: "alerts"
        primary_key: "id"
        path: "v2/alerts"
      name: "alerts"
      primary_key: "id"
      path: "v2/alerts"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            description: Unique identifier for the alert
            type:
              - "null"
              - string
          tinyId:
            description: Short unique identifier for the alert
            type:
              - "null"
              - string
          alias:
            description: Alias of the alert
            type:
              - "null"
              - string
          message:
            description: Message associated with the alert
            type:
              - "null"
              - string
          note:
            description: Any additional notes or comments about the alert
            type:
              - "null"
              - string
          status:
            description: Current status of the alert
            type:
              - "null"
              - string
          acknowledged:
            description: Indicates if the alert has been acknowledged by a team member
            type:
              - "null"
              - boolean
          seen:
            description: Indicates if the alert has been seen by a team member
            type:
              - "null"
              - boolean
          isSeen:
            description: Indicates if the alert has been viewed
            type:
              - "null"
              - boolean
          tags:
            description: Tags associated with the alert
            type:
              - "null"
              - array
            items:
              type: string
          snoozed:
            description: Indicates if the alert has been snoozed
            type:
              - "null"
              - boolean
          snoozedUntil:
            description: Timestamp until which the alert is snoozed
[...]
