@use "scss/colors";
@use "scss/z-indices";

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: z-indices.$overlay;

  &.dark {
    background: colors.$overlay-background;
  }
}
