@use "../../../../../scss/colors";
@forward "../../../../../views/layout/SideBar/SideBar.module.scss";

.workspaceButton {
  overflow: hidden;
  cursor: pointer;
  display: block;
  height: 21px;
  width: 100%;
  border: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 20%);
  margin-top: 13px;
  padding: 0 8px;
  line-height: 21px;
  font-size: 9px;
  font-weight: 400;
  color: colors.$white;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  outline: none;
}
