version: 0.78.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - "calls"
    - "company"
    - "contacts"
    - "numbers"
    - "tags"
    - "user_availability"
    - "users"
    - "teams"
    - "webhooks"

definitions:
  streams:
    calls:
      type: DeclarativeStream
      name: calls
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /calls
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - calls
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: "{{ response['meta']['page'] }}"
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: "{{ response['meta']['per_page'] }}"
          pagination_strategy:
            type: PageIncrement
            page_size: 5
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/calls"
    company:
      type: DeclarativeStream
      name: company
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /company
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - company
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: "{{ response['meta']['page'] }}"
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: "{{ response['meta']['per_page'] }}"
          pagination_strategy:
            type: PageIncrement
            page_size: 5
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/company"
    contacts:
      type: DeclarativeStream
      name: contacts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /contacts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - contacts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: "{{ response['meta']['page'] }}"
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: "{{ response['meta']['per_page'] }}"
          pagination_strategy:
            type: PageIncrement
            page_size: 5
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    numbers:
      type: DeclarativeStream
      name: numbers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /numbers
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - numbers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: "{{ response['meta']['page'] }}"
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: "{{ response['meta']['per_page'] }}"
          pagination_strategy:
            type: PageIncrement
            page_size: 5
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        lookback_window: P31D
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ today_utc() }}"
          datetime_format: "%Y-%m-%d"
        step: P1M
        cursor_granularity: PT0.000001S
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/numbers"
    tags:
      type: DeclarativeStream
      name: tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /tags
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tags
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: "{{ response['meta']['page'] }}"
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: "{{ response['meta']['per_page'] }}"
          pagination_strategy:
            type: PageIncrement
            page_size: 5
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    user_availability:
      type: DeclarativeStream
      name: user_availability
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users/availabilities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/user_availability"
    teams:
      type: DeclarativeStream
      name: teams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /teams
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - teams
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: "{{ response['meta']['page'] }}"
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: "{{ response['meta']['per_page'] }}"
          pagination_strategy:
            type: PageIncrement
            page_size: 5
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        lookback_window: P31D
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ today_utc() }}"
          datetime_format: "%Y-%m-%d"
        step: P1M
        cursor_granularity: PT0.000001S
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    webhooks:
      type: DeclarativeStream
      name: webhooks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /webhooks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - webhooks
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: "{{ response['meta']['page'] }}"
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: "{{ response['meta']['per_page'] }}"
          pagination_strategy:
            type: PageIncrement
            page_size: 5
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/webhooks"
  base_requester:
    type: HttpRequester
    url_base: https://api.aircall.io/v1
    authenticator:
      type: BasicHttpAuthenticator
      username: "{{ config['api_id'] }}"
      password: "{{ config['api_token'] }}"

streams:
  - $ref: "#/definitions/streams/calls"
  - $ref: "#/definitions/streams/company"
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/numbers"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/user_availability"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/webhooks"

spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/aircall
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_id
      - api_token
      - start_date
    properties:
      api_id:
        type: string
        title: API ID
        description: >-
          App ID found at settings
          https://dashboard.aircall.io/integrations/api-keys
        airbyte_secret: true
        order: 0
      api_token:
        type: string
        title: API Token
        description: >-
          App token found at settings (Ref-
          https://dashboard.aircall.io/integrations/api-keys)
        airbyte_secret: true
        order: 1
      start_date:
        type: string
        title: Date-From Filter
        description: >-
          Date time filter for incremental filter, Specify which date to extract
          from.
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}.[0-9]{3}Z$
        examples:
          - "2022-03-01T00:00:00.000Z"
        format: date-time
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    calls: false
    company: false
    contacts: false
    numbers: false
    tags: false
    users: false
    user_availability: false
    teams: false
    webhooks: false

schemas:
  calls:
    "$schema": http://json-schema.org/draft-07/schema#
    title: Calls Schema
    additionalProperties: true
    type: object
    properties:
      id:
        type:
          - "null"
          - number
      country_code_a2:
        type:
          - "null"
          - string
      pricing_type:
        type:
          - "null"
          - string
      direct_link:
        type:
          - "null"
          - string
      direction:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      missed_call_reason:
        type:
          - "null"
          - string
      started_at:
        type:
          - "null"
          - number
      answered_at:
        type:
          - "null"
          - number
      ended_at:
        type:
          - "null"
          - number
      duration:
        type:
          - "null"
          - number
      voicemail:
        type:
          - "null"
          - string
      recording:
        type:
          - "null"
          - string
      asset:
        type:
          - "null"
          - string
      raw_digits:
        type:
          - "null"
          - string
      user:
        type:
          - "null"
          - object
        properties:
          id:
            type:
              - "null"
              - number
          direct_link:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          email:
            type:
              - "null"
              - string
          available:
            type:
              - "null"
              - boolean
          availability_status:
            type:
              - "null"
              - string
          created_at:
            type:
              - "null"
              - string
          time_zone:
            type:
              - "null"
              - string
          language:
            type:
              - "null"
              - string
      contact:
        type:
          - "null"
          - string
      archived:
        type:
          - "null"
          - boolean
      assigned_to:
        type:
          - "null"
          - string
      transferred_by:
        type:
          - "null"
          - string
      transferred_to:
        type:
          - "null"
          - string
      cost:
        type:
          - "null"
          - string
      number:
        type:
          - "null"
          - object
        properties:
          id:
            type:
              - "null"
              - number
          direct_link:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          digits:
            type:
              - "null"
              - string
          created_at:
            type:
              - "null"
              - string
          country:
            type:
              - "null"
              - string
          time_zone:
            type:
              - "null"
              - string
          open:
            type:
              - "null"
              - boolean
          availability_status:
            type:
              - "null"
              - string
          is_ivr:
            type:
              - "null"
              - boolean
          live_recording_activated:
            type:
              - "null"
              - boolean
          priority:
            type:
              - "null"
              - string
      comments:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            id:
              type:
                - "null"
                - number
            content:
              type:
                - "null"
                - string
            posted_at:
              type:
                - "null"
                - number
            posted_by:
              type:
                - "null"
                - object
              properties:
                id:
                  type:
                    - "null"
                    - number
                direct_link:
                  type:
                    - "null"
                    - string
                name:
                  type:
                    - "null"
                    - string
                email:
                  type:
                    - "null"
                    - string
                available:
                  type:
                    - "null"
                    - boolean
                availability_status:
                  type:
                    - "null"
                    - string
                created_at:
                  type:
                    - "null"
                    - string
      tags:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            id:
              type:
                - "null"
                - number
            name:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - number
            tagged_by:
              type:
                - "null"
                - object
              properties:
                id:
                  type:
                    - "null"
                    - number
                direct_link:
                  type:
                    - "null"
                    - string
                name:
                  type:
                    - "null"
                    - string
                email:
                  type:
                    - "null"
                    - string
                available:
                  type:
                    - "null"
                    - boolean
                availability_status:
                  type:
                    - "null"
                    - string
                created_at:
                  type:
                    - "null"
                    - string
      teams:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            id:
              type:
                - "null"
                - number
            name:
              type:
                - "null"
                - string
            direct_link:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
  company:
    "$schema": http://json-schema.org/draft-07/schema#
    title: Company schema
    additionalProperties: true
    type: object
    properties:
      name:
        type:
          - "null"
          - string
      users_count:
        type:
          - "null"
          - number
      numbers_count:
        type:
          - "null"
          - number
  contacts:
    "$schema": http://json-schema.org/draft-07/schema#
    title: Contacts Schema
    additionalProperties: true
    type: object
    properties:
      id:
        type:
          - "null"
          - number
      first_name:
        type:
          - "null"
          - string
      last_name:
        type:
          - "null"
          - string
      company_name:
        type:
          - "null"
          - string
      information:
        type:
          - "null"
          - string
      is_shared:
        type:
          - "null"
          - boolean
      direct_link:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - number
      updated_at:
        type:
          - "null"
          - number
      phone_numbers:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            id:
              type:
                - "null"
                - number
            label:
              type:
                - "null"
                - string
            value:
              type:
                - "null"
                - string
      emails:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            id:
              type:
                - "null"
                - number
            label:
              type:
                - "null"
                - string
            value:
              type:
                - "null"
                - string
  numbers:
    "$schema": http://json-schema.org/draft-07/schema#
    title: Numbers Schema
    additionalProperties: true
    type: object
    properties:
      id:
        type:
          - "null"
          - number
      direct_link:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      digits:
        type:
          - "null"
          - string
      country:
        type:
          - "null"
          - string
      time_zone:
        type:
          - "null"
          - string
      open:
        type:
          - "null"
          - boolean
      availability_status:
        type:
          - "null"
          - string
      is_ivr:
        type:
          - "null"
          - boolean
      live_recording_activated:
        type:
          - "null"
          - boolean
      priority:
        type:
          - "null"
          - string
      messages:
        type:
          - "null"
          - object
        properties:
          welcome:
            type:
              - "null"
              - string
          waiting:
            type:
              - "null"
              - string
          ivr:
            type:
              - "null"
              - string
          voicemail:
            type:
              - "null"
              - string
          closed:
            type:
              - "null"
              - string
          callback_later:
            type:
              - "null"
              - string
          unanswered_call:
            type:
              - "null"
              - string
          after_hours:
            type:
              - "null"
              - string
          ringing_tone:
            type:
              - "null"
              - string
      wrap_up_time:
        type:
          - "null"
          - number
      available:
        type:
          - "null"
          - boolean
      language:
        type:
          - "null"
          - string
      email:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
  tags:
    "$schema": http://json-schema.org/draft-07/schema#
    title: Tags Schema
    additionalProperties: true
    type: object
    properties:
      id:
        type:
          - "null"
          - number
      name:
        type:
          - "null"
          - string
      color:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
  users:
    "$schema": http://json-schema.org/draft-07/schema#
    title: Users
    additionalProperties: true
    type: object
    properties:
      id:
        type:
          - "null"
          - number
      direct_link:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      email:
        type:
          - "null"
          - string
      available:
        type:
          - "null"
          - boolean
      availability_status:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
      time_zone:
        type:
          - "null"
          - string
      language:
        type:
          - "null"
          - string
      wrap_up_time:
        type:
          - "null"
          - number
  user_availability:
    "$schema": http://json-schema.org/draft-07/schema#
    title: Users Availiablity
    additionalProperties: true
    type: object
    properties:
      availability:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - number
  teams:
    "$schema": http://json-schema.org/draft-07/schema#
    title: Teams
    additionalProperties: true
    type: object
    properties:
      id:
        type:
          - "null"
          - number
      name:
        type:
          - "null"
          - string
      direct_link:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      users:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            id:
              type:
                - "null"
                - number
            direct_link:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            email:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
            time_zone:
              type:
                - "null"
                - string
  webhooks:
    "$schema": http://json-schema.org/draft-07/schema#
    title: Webhooks Schema
    additionalProperties: true
    type: object
    properties:
      id:
        type:
          - "null"
          - number
      direct_link:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      url:
        type:
          - "null"
          - string
      active:
        type:
          - "null"
          - boolean
      token:
        type:
          - "null"
          - string
      events:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
