version: 6.48.15

type: DeclarativeSource

description: >-
  Download all your data from FreeAgent, a friendly and easy to use cloud based
  accounting service

check:
  type: CheckStream
  stream_names:
    - Users

definitions:
  streams:
    Users:
      type: DeclarativeStream
      name: Users
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Users"
    Admin Expenses Categories:
      type: DeclarativeStream
      name: Admin Expenses Categories
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /categories
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - admin_expenses_categories
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Admin Expenses Categories"
    Cost of Sales Categories:
      type: DeclarativeStream
      name: Cost of Sales Categories
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /categories
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - cost_of_sales_categories
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Cost of Sales Categories"
    Income Categories:
      type: DeclarativeStream
      name: Income Categories
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /categories
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - income_categories
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Income Categories"
    General Categories:
      type: DeclarativeStream
      name: General Categories
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /categories
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - general_categories
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/General Categories"
    Balance Sheet:
      type: DeclarativeStream
      name: Balance Sheet
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounting/balance_sheet
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - balance_sheet
          schema_normalization: Default
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Balance Sheet"
    Bank Accounts:
      type: DeclarativeStream
      name: Bank Accounts
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /bank_accounts
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - bank_accounts
          schema_normalization: Default
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Bank Accounts"
    Bank Transaction Explanations:
      type: DeclarativeStream
      name: Bank Transaction Explanations
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /bank_transaction_explanations
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - bank_transaction_explanations
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: url
              request_option:
                type: RequestOption
                field_name: bank_account
                inject_into: request_parameter
              partition_field: bank_account
              stream:
                $ref: "#/definitions/streams/Bank Accounts"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: dated_on
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config["updated_since"] | default(day_delta(-7,
            format='%Y-%m-%dT%H:%M:%SZ'),true) }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Bank Transaction Explanations"
    Bank Transactions:
      type: DeclarativeStream
      name: Bank Transactions
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /bank_transactions
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - bank_transactions
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: url
              request_option:
                type: RequestOption
                field_name: bank_account
                inject_into: request_parameter
              partition_field: bank_account
              stream:
                $ref: "#/definitions/streams/Bank Accounts"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config["updated_since"] | default(day_delta(-7,
            format='%Y-%m-%dT%H:%M:%SZ'),true) }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Bank Transactions"
    Bills:
      type: DeclarativeStream
      name: Bills
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /bills
          http_method: GET
          request_parameters:
            nested_bill_items: "true"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - bills
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config["updated_since"] | default(day_delta(-7,
            format='%Y-%m-%dT%H:%M:%SZ'),true) }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Bills"
    Company Tax Timeline:
      type: DeclarativeStream
      name: Company Tax Timeline
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /company/tax_timeline
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - timeline_items
          schema_normalization: Default
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Company Tax Timeline"
    Contacts:
      type: DeclarativeStream
      name: Contacts
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /contacts
          http_method: GET
          request_parameters:
            view: all
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - contacts
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Contacts"
    Corporation Tax Returns:
      type: DeclarativeStream
      name: Corporation Tax Returns
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /corporation_tax_returns
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - corporation_tax_returns
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Corporation Tax Returns"
    Credit Note Reconciliations:
      type: DeclarativeStream
      name: Credit Note Reconciliations
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /credit_note_reconciliations
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - credit_note_reconciliations
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config["updated_since"] | default(day_delta(-365,
            format='%Y-%m-%dT%H:%M:%SZ'),true) }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Credit Note Reconciliations"
    Credit Notes:
      type: DeclarativeStream
      name: Credit Notes
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /credit_notes
          http_method: GET
          request_parameters:
            sort: "-updated_at"
            nested_credit_note_items: "true"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - credit_notes
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config["updated_since"] | default(day_delta(-365,
            format='%Y-%m-%dT%H:%M:%SZ'),true) }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Credit Notes"
    Estimates:
      type: DeclarativeStream
      name: Estimates
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /estimates
          http_method: GET
          request_parameters:
            nested_estimate_items: "true"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - estimates
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config["updated_since"] | default(day_delta(-7,
            format='%Y-%m-%dT%H:%M:%SZ'),true) }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Estimates"
    Expenses:
      type: DeclarativeStream
      name: Expenses
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /expenses
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - expenses
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config["updated_since"] | default(day_delta(-7,
            format='%Y-%m-%dT%H:%M:%SZ'),true) }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Expenses"
    Final Accounts Reports:
      type: DeclarativeStream
      name: Final Accounts Reports
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /final_accounts_reports
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - final_accounts_reports
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Final Accounts Reports"
    Hire Purchases:
      type: DeclarativeStream
      name: Hire Purchases
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /hire_purchases
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - hire_purchases
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Hire Purchases"
    Invoices:
      type: DeclarativeStream
      name: Invoices
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /invoices
          http_method: GET
          request_parameters:
            sort: "-updated_at"
            nested_invoice_items: "true"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - invoices
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: false
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config["updated_since"] | default(day_delta(-7,
            format='%Y-%m-%dT%H:%M:%SZ'),true) }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Invoices"
    Journal Sets:
      type: DeclarativeStream
      name: Journal Sets
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /journal_sets
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - journal_sets
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Journal Sets"
    Contact Notes:
      type: DeclarativeStream
      name: Contact Notes
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /notes
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - notes
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: url
              request_option:
                type: RequestOption
                field_name: contact
                inject_into: request_parameter
              partition_field: parent_url
              stream:
                $ref: "#/definitions/streams/Contacts"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Contact Notes"
    Payroll Periods:
      type: DeclarativeStream
      name: Payroll Periods
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /payroll/{{ format_datetime(stream_partition.accounting_ends_on,
            '%Y') }}
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - periods
          schema_normalization: Default
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: ends_on
              partition_field: accounting_ends_on
              stream:
                $ref: "#/definitions/streams/Annual Accounting Periods"
        decoder:
          type: JsonDecoder
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - path
              value: >-
                {{
                record['url'].replace('https://api.freeagent.com/v2/payroll','')
                }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Payroll Periods"
    Company:
      type: DeclarativeStream
      name: Company
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /company
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - company
          schema_normalization: Default
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Company"
    Annual Accounting Periods:
      type: DeclarativeStream
      name: Annual Accounting Periods
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /company
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - company
              - annual_accounting_periods
          schema_normalization: Default
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Annual Accounting Periods"
    Payslips:
      type: DeclarativeStream
      name: Payslips
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /payroll{{  stream_partition.path }}
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - period
              - payslips
          schema_normalization: Default
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: path
                partition_field: path
                stream:
                  $ref: "#/definitions/streams/Payroll Periods"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: period
                partition_field: accounting_period
                stream:
                  $ref: "#/definitions/streams/Payroll Periods"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Payslips"
    Price List Items:
      type: DeclarativeStream
      name: Price List Items
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /price_list_items
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - price_list_items
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Price List Items"
    Profit & Loss Summary:
      type: DeclarativeStream
      name: Profit & Loss Summary
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounting/profit_and_loss/summary
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - profit_and_loss_summary
          schema_normalization: Default
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Profit & Loss Summary"
    Projects:
      type: DeclarativeStream
      name: Projects
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /projects
          http_method: GET
          request_parameters:
            sort: "-updated_at"
            nested: "true"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - projects
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config["updated_since"] | default(day_delta(-7,
            format='%Y-%m-%dT%H:%M:%SZ'),true) }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Projects"
    Tasks:
      type: DeclarativeStream
      name: Tasks
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /tasks
          http_method: GET
          request_parameters:
            sort: "-updated_at"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tasks
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config["updated_since"] | default(day_delta(-7,
            format='%Y-%m-%dT%H:%M:%SZ'),true) }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Tasks"
    Timeslips:
      type: DeclarativeStream
      name: Timeslips
      primary_key:
        - url
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /timeslips
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - timeslips
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ config["updated_since"] | default(day_delta(-7,
            format='%Y-%m-%dT%H:%M:%SZ'),true) }}
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updated_since
          inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Timeslips"
    Project Notes:
      type: DeclarativeStream
      name: Project Notes
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /notes
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - notes
          schema_normalization: Default
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: url
              request_option:
                type: RequestOption
                field_name: project
                inject_into: request_parameter
              partition_field: parent_url
              stream:
                $ref: "#/definitions/streams/Projects"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Project Notes"
  base_requester:
    type: HttpRequester
    url_base: https://api.freeagent.com/v2
    authenticator:
      type: OAuthAuthenticator
      client_id: "{{ config[\"client_id\"] }}"
      client_secret: "{{ config[\"client_secret\"] }}"
      refresh_token: "{{ config[\"client_refresh_token_2\"] }}"
      refresh_request_body: {}
      token_refresh_endpoint: https://api.freeagent.com/v2/token_endpoint
      grant_type: refresh_token

streams:
  - $ref: "#/definitions/streams/Users"
  - $ref: "#/definitions/streams/Admin Expenses Categories"
  - $ref: "#/definitions/streams/Cost of Sales Categories"
  - $ref: "#/definitions/streams/Income Categories"
  - $ref: "#/definitions/streams/General Categories"
  - $ref: "#/definitions/streams/Balance Sheet"
  - $ref: "#/definitions/streams/Bank Accounts"
  - $ref: "#/definitions/streams/Bank Transaction Explanations"
  - $ref: "#/definitions/streams/Bank Transactions"
  - $ref: "#/definitions/streams/Bills"
  - $ref: "#/definitions/streams/Company Tax Timeline"
  - $ref: "#/definitions/streams/Contacts"
  - $ref: "#/definitions/streams/Corporation Tax Returns"
  - $ref: "#/definitions/streams/Credit Note Reconciliations"
  - $ref: "#/definitions/streams/Credit Notes"
  - $ref: "#/definitions/streams/Estimates"
  - $ref: "#/definitions/streams/Expenses"
  - $ref: "#/definitions/streams/Final Accounts Reports"
  - $ref: "#/definitions/streams/Hire Purchases"
  - $ref: "#/definitions/streams/Invoices"
  - $ref: "#/definitions/streams/Journal Sets"
  - $ref: "#/definitions/streams/Contact Notes"
  - $ref: "#/definitions/streams/Payroll Periods"
  - $ref: "#/definitions/streams/Company"
  - $ref: "#/definitions/streams/Annual Accounting Periods"
  - $ref: "#/definitions/streams/Payslips"
  - $ref: "#/definitions/streams/Price List Items"
  - $ref: "#/definitions/streams/Profit & Loss Summary"
  - $ref: "#/definitions/streams/Projects"
  - $ref: "#/definitions/streams/Tasks"
  - $ref: "#/definitions/streams/Timeslips"
  - $ref: "#/definitions/streams/Project Notes"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
      - client_refresh_token_2
    properties:
      client_id:
        type: string
        order: 0
        title: Client ID
        airbyte_secret: true
      client_secret:
        type: string
        order: 1
        title: Client secret
        airbyte_secret: true
      client_refresh_token_2:
        type: string
        order: 2
        title: Refresh token
        airbyte_secret: true
      updated_since:
        type: string
        order: 3
        title: Updated Since
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      payroll_year:
        type: number
        order: 4
        title: Payroll Year
    additionalProperties: true

metadata:
  autoImportSchema:
    Users: false
    Admin Expenses Categories: false
    Cost of Sales Categories: false
    Income Categories: false
    General Categories: false
    Balance Sheet: false
    Bank Accounts: false
    Bank Transaction Explanations: false
    Bank Transactions: false
    Bills: false
    Company Tax Timeline: false
    Contacts: false
    Corporation Tax Returns: false
    Credit Note Reconciliations: false
    Credit Notes: false
    Estimates: false
    Expenses: false
    Final Accounts Reports: false
    Hire Purchases: false
    Invoices: false
    Journal Sets: false
    Contact Notes: false
    Payroll Periods: false
    Company: false
    Annual Accounting Periods: false
    Payslips: false
    Price List Items: false
    Profit & Loss Summary: false
    Projects: false
    Tasks: false
    Timeslips: false
    Project Notes: false
  testedStreams:
    Users:
      streamHash: 04c6a2a7e2f2acf431a2d7bc55134080e925f6fe
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Admin Expenses Categories:
      streamHash: 396beac69771add5dd20018fbd0b3d3d0198ad7e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Cost of Sales Categories:
      streamHash: 4f55069fdc30a59c278b89c2c4500948252d587a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Income Categories:
      streamHash: 62a458161203fcc939411d5d2be91915bf1e923f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    General Categories:
      streamHash: 1d7e4788373c11d2046a2a5a4c9eb6a4af7db1fe
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Balance Sheet:
      streamHash: 84fe251e3bdc6f1c4525a86b738cc52d8e5d26c7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Bank Accounts:
      streamHash: 78218e18f40506c6ca85cc75590fdc3a118c91dc
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Bank Transaction Explanations:
      streamHash: 9c67f8cd37766c2f878c0fc1245f9bf4a5eb7db6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Bank Transactions:
      streamHash: 1dc3285e17e0dbc1c22d13f16849ebd2fcb5b3bf
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Bills:
      streamHash: 1f383afd3dde9a8f9f71a71020ae0d488697cbc1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Company Tax Timeline:
      streamHash: 7cf962ff41264923b7d7b4e296f974c8130563a7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Contacts:
      streamHash: 20f2980abb55b688daaf235227d5691d5b557d1e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Corporation Tax Returns:
      streamHash: 723c4a17afc6a9feb1a0dcddc84aa118ab0aeb52
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Credit Note Reconciliations:
      streamHash: 1f4c6704ea95421d2853fdf3ad015e404ffd1134
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Credit Notes:
      streamHash: 20c33c759d45e6bf11710518c545c9083b9e7a60
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Estimates:
      streamHash: d819d2493a0d4999b89ea8d4753a33e94d18fd69
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Expenses:
      streamHash: 901fdad11e45d2348b645a87014a4b6903ee7e25
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Final Accounts Reports:
      streamHash: 763cb3ac3a1513b15c8d57fcd23a138e5f11cdad
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Hire Purchases:
      streamHash: d1d6d6660429fc54803a0d73661ab8aa3e5dd6cf
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Invoices:
      streamHash: 2a076adf548033968a73aa17276d1d627ac8e67f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Journal Sets:
      streamHash: 1be09f381aece8f6aa5219a06625d3c99076a4d5
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Contact Notes:
      streamHash: bd6e62d2b78a08469e1e04fbda3631d7ef6e79ed
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Payroll Periods:
      streamHash: 9df632ced9e8c608df8b0bfb173b5b7a4e2b8ca8
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Company:
      streamHash: 86635c853a3e90a16e39273ae988baa0afe112c5
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Annual Accounting Periods:
      streamHash: 5d092d4d5306bcb5ef585aa8bf2cfbf79c51ad6c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Payslips:
      streamHash: baf17b02b34a81d169e4780163aa02362cafa225
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Price List Items:
      streamHash: 360c55194447e6ab3230e455e364892c4cca644e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Profit & Loss Summary:
      streamHash: 5c428912cb3ebcf5925951200c59d0618ae5e481
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Projects:
      streamHash: 8f023d628a98b31b7b15ab1e030815698db1d9c4
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Tasks:
      streamHash: 54879cc09ad132b15a78c327d9eb8adfe58c5d91
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Timeslips:
      streamHash: 86cd6e79d12751b42a88f9487b53574e3efbc06e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Project Notes:
      streamHash: a0388757b3f25e3d1bfa72e138396233e3a0710b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  Users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type: string
        format: date-time
      current_payroll_profile:
        type:
          - object
          - "null"
        properties:
          total_pay_in_previous_employment:
            type:
              - number
              - "null"
          total_tax_in_previous_employment:
            type:
              - number
              - "null"
      email:
        type:
          - string
          - "null"
      first_name:
        type:
          - string
          - "null"
      hidden:
        type:
          - boolean
          - "null"
      last_name:
        type:
          - string
          - "null"
      ni_number:
        type:
          - string
          - "null"
      opening_mileage:
        type:
          - number
          - "null"
      permission_level:
        type:
          - integer
          - "null"
      role:
        type:
          - string
          - "null"
      unique_tax_reference:
        type:
          - string
          - "null"
      updated_at:
        type: string
        format: date-time
      url:
        type: string
    required:
      - url
  Admin Expenses Categories:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      allowable_for_tax:
        type:
          - boolean
          - "null"
      auto_sales_tax_rate:
        type:
          - string
          - "null"
      group_description:
        type:
          - string
          - "null"
      nominal_code:
        type:
          - string
          - "null"
      tax_reporting_name:
        type:
          - string
          - "null"
      url:
        type: string
    required:
      - url
  Cost of Sales Categories:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      allowable_for_tax:
        type:
          - boolean
          - "null"
      auto_sales_tax_rate:
        type:
          - string
          - "null"
      group_description:
        type:
          - string
          - "null"
      nominal_code:
        type:
          - string
          - "null"
      tax_reporting_name:
        type:
          - string
          - "null"
      url:
        type: string
    required:
      - url
  Income Categories:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      auto_sales_tax_rate:
        type:
          - string
          - "null"
      group_description:
        type:
          - string
          - "null"
      nominal_code:
        type:
          - string
          - "null"
      url:
        type: string
    required:
      - url
  General Categories:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      nominal_code:
        type:
          - string
          - "null"
      tax_reporting_name:
        type:
          - string
          - "null"
      url:
        type: string
    required:
      - url
  Balance Sheet:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      accounting_period_start_date:
        type:
          - string
          - "null"
      as_at_date:
        type: string
        format: date
      capital_assets:
        type:
          - object
          - "null"
        properties:
          accounts:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                nominal_code:
                  type:
                    - string
                    - "null"
                total_debit_value:
                  type:
                    - number
                    - "null"
          net_book_value:
            type:
              - number
              - "null"
      currency:
        type:
          - string
          - "null"
      current_assets:
        type:
          - object
          - "null"
        properties:
          accounts:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                nominal_code:
                  type:
                    - string
                    - "null"
                total_debit_value:
                  type:
                    - number
                    - "null"
      current_liabilities:
        type:
          - object
          - "null"
        properties:
          accounts:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                nominal_code:
                  type:
                    - string
                    - "null"
                total_debit_value:
                  type:
                    - number
                    - "null"
      net_current_assets:
        type:
          - number
          - "null"
      owners_equity:
        type:
          - object
          - "null"
        properties:
          accounts:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                name:
                  type:
                    - string
                    - "null"
                nominal_code:
                  type:
                    - string
                    - "null"
                total_debit_value:
                  type:
                    - number
                    - "null"
          retained_profit:
            type:
              - number
              - "null"
      total_assets:
        type:
          - number
          - "null"
      total_owners_equity:
        type:
          - number
          - "null"
  Bank Accounts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      account_number:
        type:
          - string
          - "null"
      bank_code:
        type:
          - string
          - "null"
      bank_name:
        type:
          - string
          - "null"
      bic:
        type:
          - string
          - "null"
      created_at:
        type: string
        format: date-time
      currency:
        type:
          - string
          - "null"
      current_balance:
        type: number
      iban:
        type:
          - string
          - "null"
      is_personal:
        type:
          - boolean
          - "null"
      is_primary:
        type:
          - boolean
          - "null"
      latest_activity_date:
        type:
          - string
          - "null"
        format: date
      manually_added_transaction_count:
        type:
          - integer
          - "null"
      marked_for_review_count:
        type:
          - integer
          - "null"
      name:
        type:
          - string
          - "null"
      opening_balance:
        type:
          - number
          - "null"
      sort_code:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      total_count:
        type:
          - integer
          - "null"
      unexplained_transaction_count:
        type:
          - integer
          - "null"
      updated_at:
        type: string
        format: date-time
      url:
        type: string
    required:
      - url
  Bank Transaction Explanations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      attachment:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          content_src:
            type:
              - string
              - "null"
          content_src_medium:
            type:
              - string
              - "null"
          content_src_small:
            type:
              - string
              - "null"
          content_type:
            type:
              - string
              - "null"
          expires_at:
            type:
              - string
              - "null"
            format: date-time
          file_name:
            type:
              - string
              - "null"
          file_size:
            type:
              - integer
              - number
              - "null"
          url:
            type:
              - string
              - "null"
      bank_account:
        type:
          - string
          - "null"
      bank_transaction:
        type:
          - string
          - "null"
      category:
        type:
          - string
          - "null"
      dated_on:
        type: string
        format: date
      detail:
        type:
          - string
          - "null"
      ec_status:
        type:
          - string
          - "null"
      foreign_currency:
        type:
          - string
          - "null"
      foreign_currency_value:
        type:
          - number
          - "null"
      gross_value:
        type:
          - number
          - "null"
      has_pending_operation:
        type:
          - boolean
          - "null"
      is_deletable:
        type:
          - boolean
          - "null"
      is_locked:
        type:
          - boolean
          - "null"
      is_money_in:
        type:
          - boolean
          - "null"
      is_money_out:
        type:
          - boolean
          - "null"
      is_money_paid_to_user:
        type:
          - boolean
          - "null"
      linked_transfer_account:
        type:
          - string
          - "null"
      linked_transfer_explanation:
        type:
          - string
          - "null"
      locked_attributes:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      locked_reason:
        type:
          - string
          - "null"
      marked_for_review:
        type:
          - boolean
          - "null"
      paid_bill:
        type:
          - string
          - "null"
      paid_invoice:
        type:
          - string
          - "null"
      paid_user:
        type:
          - string
          - "null"
      sales_tax_rate:
        type:
          - number
          - "null"
      sales_tax_status:
        type:
          - string
          - "null"
      sales_tax_value:
        type:
          - number
          - "null"
      transaction_description:
        type:
          - string
          - "null"
      transfer_value:
        type:
          - number
          - "null"
      updated_at:
        type: string
        format: date-time
      url:
        type: string
    required:
      - url
      - dated_on
  Bank Transactions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      amount:
        type:
          - number
          - "null"
      bank_account:
        type:
          - string
          - "null"
      bank_transaction_explanations:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            description:
              type:
                - string
                - "null"
            attachment:
              type:
                - object
                - "null"
              properties:
                description:
                  type:
                    - string
                    - "null"
                content_src:
                  type:
                    - string
                    - "null"
                content_src_medium:
                  type:
                    - string
                    - "null"
                content_src_small:
                  type:
                    - string
                    - "null"
                content_type:
                  type:
                    - string
                    - "null"
                expires_at:
                  type:
                    - string
                    - "null"
                  format: date-time
                file_name:
                  type:
                    - string
                    - "null"
                file_size:
                  type:
                    - number
                    - "null"
                url:
                  type:
                    - string
                    - "null"
            bank_account:
              type:
                - string
                - "null"
            bank_transaction:
              type:
                - string
                - "null"
            category:
              type:
                - string
                - "null"
            dated_on:
              type:
                - string
                - "null"
              format: date
            detail:
              type:
                - string
                - "null"
            ec_status:
              type:
                - string
                - "null"
            foreign_currency:
              type:
                - string
                - "null"
            foreign_currency_value:
              type:
                - number
                - "null"
            gross_value:
              type:
                - number
                - "null"
            has_pending_operation:
              type:
                - boolean
                - "null"
            is_deletable:
              type:
                - boolean
                - "null"
            is_locked:
              type:
                - boolean
                - "null"
            is_money_in:
              type:
                - boolean
                - "null"
            is_money_out:
              type:
                - boolean
                - "null"
            is_money_paid_to_user:
              type:
                - boolean
                - "null"
            linked_transfer_account:
              type:
                - string
                - "null"
            linked_transfer_explanation:
              type:
                - string
                - "null"
            locked_attributes:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            locked_reason:
              type:
                - string
                - "null"
            marked_for_review:
              type:
                - boolean
                - "null"
            paid_bill:
              type:
                - string
                - "null"
            paid_invoice:
              type:
                - string
                - "null"
            paid_user:
              type:
                - string
                - "null"
            sales_tax_rate:
              type:
                - number
                - "null"
            sales_tax_status:
              type:
                - string
                - "null"
            sales_tax_value:
              type:
                - number
                - "null"
            transaction_description:
              type:
                - string
                - "null"
            transfer_value:
              type:
                - number
                - "null"
            updated_at:
              type:
                - string
                - "null"
              format: date-time
            url:
              type:
                - string
                - "null"
      created_at:
        type: string
        format: date-time
      dated_on:
        type:
          - string
          - "null"
        format: date
      full_description:
        type:
          - string
          - "null"
      is_manual:
        type:
          - boolean
          - "null"
      matching_transactions_count:
        type:
          - integer
          - "null"
      transaction_id:
        type:
          - string
          - "null"
      unexplained_amount:
        type:
          - number
          - "null"
      updated_at:
        type:
          - string
          - "null"
        format: date-time
      url:
        type: string
    required:
      - url
      - created_at
  Bills:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      attachment:
        type:
          - object
          - "null"
        properties:
          content_src:
            type:
              - string
              - "null"
          content_src_medium:
            type:
              - string
              - "null"
          content_src_small:
            type:
              - string
              - "null"
          content_type:
            type:
              - string
              - "null"
          expires_at:
            type:
              - string
              - "null"
            format: date-time
          file_name:
            type:
              - string
              - "null"
          file_size:
            type:
              - number
              - "null"
          url:
            type:
              - string
              - "null"
      bill_items:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            bill:
              type:
                - string
                - "null"
            category:
              type:
                - string
                - "null"
            locked_attributes:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            locked_reason:
              type:
                - string
                - "null"
            manual_sales_tax_amount:
              type:
                - number
                - "null"
            quantity:
              type:
                - number
                - "null"
            sales_tax_rate:
              type:
                - number
                - "null"
            sales_tax_status:
              type:
                - string
                - "null"
            sales_tax_value:
              type:
                - number
                - "null"
            total_value:
              type:
                - number
                - "null"
            total_value_ex_tax:
              type:
                - number
                - "null"
            url:
              type:
                - string
                - "null"
      comments:
        type:
          - string
          - "null"
      contact:
        type:
          - string
          - "null"
      contact_name:
        type:
          - string
          - "null"
      created_at:
        type: string
        format: date-time
      currency:
        type:
          - string
          - "null"
      dated_on:
        type:
          - string
          - "null"
        format: date
      due_on:
        type:
          - string
          - "null"
        format: date
      due_value:
        type:
          - number
          - "null"
      exchange_rate:
        type:
          - number
          - "null"
      input_total_values_inc_tax:
        type:
          - boolean
          - "null"
      is_paid_by_hire_purchase:
        type:
          - boolean
          - "null"
      locked_attributes:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      locked_reason:
        type:
          - string
          - "null"
      long_status:
        type:
          - string
          - "null"
      native_due_value:
        type:
          - number
          - "null"
      net_value:
        type:
          - number
          - "null"
      paid_on:
        type:
          - string
          - "null"
        format: date
      paid_value:
        type:
          - number
          - "null"
      project:
        type:
          - string
          - "null"
      reference:
        type:
          - string
          - "null"
      sales_tax_value:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
      total_value:
        type:
          - number
          - "null"
      updated_at:
        type:
          - string
          - "null"
        format: date-time
      url:
        type: string
    required:
      - url
      - created_at
  Company Tax Timeline:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      amount_due:
        type:
          - number
          - "null"
      dated_on:
        type:
          - string
          - "null"
        format: date
      is_personal:
        type:
          - boolean
          - "null"
      nature:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
  Contacts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_balance:
        type:
          - number
          - "null"
      active_projects_count:
        type:
          - integer
          - "null"
      address1:
        type:
          - string
          - "null"
      address2:
        type:
          - string
          - "null"
      address3:
        type:
          - string
          - "null"
      billing_email:
        type:
          - string
          - "null"
      charge_sales_tax:
        type:
          - string
          - "null"
      contact_name_on_invoices:
        type:
          - boolean
          - "null"
      country:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
        format: date-time
      default_payment_terms_in_days:
        type:
          - integer
          - number
          - "null"
      email:
        type:
          - string
          - "null"
      emails_invoices_automatically:
        type:
          - boolean
          - "null"
      emails_payment_reminders:
        type:
          - boolean
          - "null"
      emails_thank_you_notes:
        type:
          - boolean
          - "null"
      first_name:
        type:
          - string
          - "null"
      last_name:
        type:
          - string
          - "null"
      locale:
        type:
          - string
          - "null"
      mobile:
        type:
          - string
          - "null"
      organisation_name:
        type:
          - string
          - "null"
      phone_number:
        type:
          - string
          - "null"
      postcode:
        type:
          - string
          - "null"
      region:
        type:
          - string
          - "null"
      sales_tax_registration_number:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      town:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
        format: date-time
      url:
        type: string
      uses_contact_invoice_sequence:
        type:
          - boolean
          - "null"
      uses_contact_level_email_settings:
        type:
          - boolean
          - "null"
    required:
      - url
  Corporation Tax Returns:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      amount_due:
        type:
          - number
          - "null"
      filing_due_on:
        type:
          - string
          - "null"
        format: date
      filing_status:
        type:
          - string
          - "null"
      payment_due_on:
        type:
          - string
          - "null"
        format: date
      payment_status:
        type:
          - string
          - "null"
      period_ends_on:
        type:
          - string
          - "null"
        format: date
      period_starts_on:
        type:
          - string
          - "null"
        format: date
      url:
        type: string
    required:
      - url
  Credit Note Reconciliations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
        format: date-time
      credit_note:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      dated_on:
        type:
          - string
          - "null"
        format: date
      exchange_rate:
        type:
          - number
          - "null"
      gross_value:
        type:
          - number
          - "null"
      invoice:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
        format: date-time
      url:
        type:
          - string
          - "null"
  Credit Notes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      bank_account:
        type:
          - string
          - "null"
      client_contact_name:
        type:
          - string
          - "null"
      comments:
        type:
          - string
          - "null"
      contact:
        type:
          - string
          - "null"
      contact_name:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
        format: date-time
      credit_note_items:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            category:
              type:
                - string
                - "null"
            item_type:
              type:
                - string
                - "null"
            position:
              type:
                - integer
                - "null"
            price:
              type:
                - number
                - "null"
            project:
              type:
                - string
                - "null"
            quantity:
              type:
                - number
                - "null"
            sales_tax_rate:
              type:
                - number
                - "null"
            sales_tax_status:
              type:
                - string
                - "null"
            suffers_cis_deduction:
              type:
                - boolean
                - "null"
            url:
              type:
                - string
                - "null"
      currency:
        type:
          - string
          - "null"
      dated_on:
        type:
          - string
          - "null"
        format: date
      discount_percent:
        type:
          - number
          - "null"
      discount_value:
        type:
          - number
          - "null"
      due_on:
        type:
          - string
          - "null"
        format: date
      due_value:
        type:
          - number
          - "null"
      exchange_rate:
        type:
          - number
          - "null"
      involves_sales_tax:
        type:
          - boolean
          - "null"
      is_interim_uk_vat:
        type:
          - boolean
          - "null"
      long_status:
        type:
          - string
          - "null"
      net_value:
        type:
          - number
          - "null"
      omit_header:
        type:
          - boolean
          - "null"
      payment_terms:
        type:
          - string
          - "null"
      payment_terms_in_days:
        type:
          - number
          - "null"
      po_reference:
        type:
          - string
          - "null"
      project:
        type:
          - string
          - "null"
      reference:
        type:
          - string
          - "null"
      refunded_on:
        type:
          - string
          - "null"
        format: date
      refunded_value:
        type:
          - number
          - "null"
      sales_tax_value:
        type:
          - number
          - "null"
      show_project_name:
        type:
          - boolean
          - "null"
      status:
        type:
          - string
          - "null"
      total_value:
        type:
          - number
          - "null"
      updated_at:
        type:
          - string
          - "null"
        format: date-tim
      url:
        type:
          - string
          - "null"
  Estimates:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      client_contact_name:
        type:
          - string
          - "null"
      contact:
        type:
          - string
          - "null"
      contact_name:
        type:
          - string
          - "null"
      created_at:
        type: string
        format: date-time
      currency:
        type:
          - string
          - "null"
      dated_on:
        type:
          - string
          - "null"
        format: date
      discount_percent:
        type:
          - number
          - "null"
      discount_value:
        type:
          - number
          - "null"
      estimate_items:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            category:
              type:
                - string
                - "null"
            created_at:
              type:
                - string
                - "null"
              format: date-time
            item_type:
              type:
                - string
                - "null"
            position:
              type:
                - integer
                - "null"
            price:
              type:
                - number
                - "null"
            quantity:
              type:
                - number
                - "null"
            sales_tax_rate:
              type:
                - number
                - "null"
            sales_tax_status:
              type:
                - string
                - "null"
            sales_tax_value:
              type:
                - number
                - "null"
            updated_at:
              type:
                - string
                - "null"
              format: date-time
            url:
              type:
                - string
                - "null"
      estimate_type:
        type:
          - string
          - "null"
      include_sales_tax_on_total_value:
        type:
          - boolean
          - "null"
      invoice:
        type:
          - string
          - "null"
      involves_sales_tax:
        type:
          - boolean
          - "null"
      is_interim_uk_vat:
        type:
          - boolean
          - "null"
      net_value:
        type:
          - number
          - "null"
      notes:
        type:
          - string
          - "null"
      project:
        type:
          - string
          - "null"
      reference:
        type:
          - string
          - "null"
      sales_tax_value:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
      total_value:
        type:
          - number
          - "null"
      updated_at:
        type:
          - string
          - "null"
        format: date-time
      url:
        type: string
    required:
      - url
      - created_at
  Expenses:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      attachment:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          content_src:
            type:
              - string
              - "null"
          content_src_medium:
            type:
              - string
              - "null"
          content_src_small:
            type:
              - string
              - "null"
          content_type:
            type:
              - string
              - "null"
          expires_at:
            type:
              - string
              - "null"
            format: date-time
          file_name:
            type:
              - string
              - "null"
          file_size:
            type:
              - number
              - "null"
          url:
            type:
              - string
              - "null"
      category:
        type:
          - string
          - "null"
      contact_name:
        type:
          - string
          - "null"
      created_at:
        type: string
        format: date-time
      currency:
        type:
          - string
          - "null"
      dated_on:
        type:
          - string
          - "null"
        format: date
      engine_size:
        type:
          - string
          - "null"
      engine_size_index:
        type:
          - integer
          - "null"
      engine_type:
        type:
          - string
          - "null"
      engine_type_index:
        type:
          - integer
          - "null"
      gross_value:
        type:
          - number
          - "null"
      have_vat_receipt:
        type:
          - boolean
          - "null"
      initial_rate_mileage:
        type:
          - number
          - "null"
      locked_attributes:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      locked_reason:
        type:
          - string
          - "null"
      mileage:
        type:
          - number
          - "null"
      native_gross_value:
        type:
          - number
          - "null"
      native_sales_tax_value:
        type:
          - number
          - "null"
      next_recurs_on:
        type:
          - string
          - "null"
        format: date
      project:
        type:
          - string
          - "null"
      project_name:
        type:
          - string
          - "null"
      rebill_factor:
        type:
          - string
          - "null"
      rebill_mileage_rate:
        type:
          - number
          - "null"
      rebill_to_project:
        type:
          - string
          - "null"
      rebill_type:
        type:
          - string
          - "null"
      rebilled_on_invoice:
        type:
          - string
          - "null"
      rebilled_on_invoice_item:
        type:
          - string
          - "null"
      receipt_reference:
        type:
          - string
          - "null"
      reclaim_mileage:
        type:
          - number
          - "null"
      reclaim_mileage_rate:
        type:
          - number
          - "null"
      recurring:
        type:
          - string
          - "null"
      recurring_end_date:
        type:
          - string
          - "null"
        format: date
      sales_tax_rate:
        type:
          - number
          - "null"
      sales_tax_status:
        type:
          - string
          - "null"
      sales_tax_value:
        type:
          - number
          - "null"
      updated_at:
        type:
          - string
          - "null"
        format: date-time
      url:
        type: string
      user:
        type:
          - string
          - "null"
      vehicle_type:
        type:
          - string
          - "null"
    required:
      - url
      - created_at
  Final Accounts Reports:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      filing_due_on:
        type:
          - string
          - "null"
        format: date
      filing_status:
        type:
          - string
          - "null"
      period_ends_on:
        type:
          - string
          - "null"
        format: date
      period_starts_on:
        type:
          - string
          - "null"
        format: date
      url:
        type: string
    required:
      - url
  Hire Purchases:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      bill:
        type:
          - string
          - "null"
      liabilities_over_one_year_category:
        type:
          - string
          - "null"
[...]
