version: 6.48.6

type: DeclarativeSource

definitions:
  # Authenticators

  authenticator:
    type: BasicHttpAuthenticator
    username: "{{ config['email'] }}"
    password: "{{ config['api_token'] }}"

  # Error handler
  error_handler:
    type: DefaultErrorHandler
    max_retries: 10
    response_filters:
    - http_codes: [400]
      action: IGNORE

  # Requesters

  requester:
    type: HttpRequester
    http_method: GET
    url_base: "https://{{ config['domain'] }}/rest/api/3/"
    authenticator: "#/definitions/authenticator"
    error_handler: "#/definitions/error_handler"

  requester_v1:
    $ref: "#/definitions/requester"
    url_base: "https://{{ config['domain'] }}/rest/agile/1.0/"

  # Selector

  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: ["{{ parameters.extract_field }}"]

  selector_base:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: []

  # Paginator

  no_pagination_paginator:
    type: NoPagination

  paginator:
    type: "DefaultPaginator"
    page_size_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: maxResults
    page_token_option:
      type: RequestOption
      inject_into: "request_parameter"
      field_name: "startAt"
    # Why not OffsetPagination:
    # Due to the record_filter, we may end up with a reduced number of records.
    # For instance, a response has 50 records and the page_size option is also set to 50,
    # but the record_filter results in filtering out 40 records, leaving us with only 10.
    # During the calculation of the next_page_token, there is a check to ensure that
    # the number of records is not less than the given page_size.
    # If this condition is not met, None is returned, resulting in end of pagination.
    pagination_strategy:
      type: CursorPagination
      cursor_value: "{{ response.get('startAt') + response['maxResults'] }}"
      stop_condition: "{{ response.get('isLast') or response.get('startAt') + response.get('maxResults')
        >= response.get('total') }}"
      page_size: 50

  # Retriever

  retriever:
    record_selector: "#/definitions/selector"
    requester: "#/definitions/requester"
    paginator: "#/definitions/paginator"

  retriever_no_pagination:
    $ref: "#/definitions/retriever"
    paginator: "#/definitions/no_pagination_paginator"

  retriever_use_cache:
    $ref: "#/definitions/retriever"
    requester:
      $ref: "#/definitions/retriever/requester"
      use_cache: true

  retriever_no_pagination_use_cache:
    $ref: "#/definitions/retriever_use_cache"
    paginator: "#/definitions/no_pagination_paginator"

  retriever_v1:
    $ref: "#/definitions/retriever"
    requester: "#/definitions/requester_v1"

  retriever_v1_use_cache:
    $ref: "#/definitions/retriever_v1"
    requester:
      $ref: "#/definitions/retriever_v1/requester"
      use_cache: true

  # Service Streams

  full_refresh_stream:
    type: DeclarativeStream
    retriever: "#/definitions/retriever"

  # Full Refresh Streams

  # https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-application-roles/#api-rest-api-3-applicationrole-get
  application_roles_stream:
    $ref: "#/definitions/full_refresh_stream"
    name: application_roles
    primary_key: "key"
    retriever:
      $ref: "#/definitions/retriever_no_pagination"
      record_selector: "#/definitions/selector_base"
    $parameters:
      path: "applicationrole"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          key:
            description: The key identifier of the application role.
            type: string
          groups:
            description: The groups associated with the application role.
            uniqueItems: true
            type: array
            items:
              type: string
          name:
            description: The display name of the application role.
            type: string
          defaultGroups:
            description: The groups that are granted default access for this application
              role.
            uniqueItems: true
            type: array
            items:
              type: string
          selectedByDefault:
            description: Determines if this application role should be selected by
              default on user creation.
            type: boolean
          defined:
            description: Deprecated.
            type: boolean
          numberOfSeats:
            description: The maximum count of users allowed on the license.
            type: integer
          remainingSeats:
            description: The count of remaining user seats on the license.
            type: integer
          userCount:
            description: The total count of users that are counted against the license
              limit.
            type: integer
          userCountDescription:
            description: Describes the type of users being counted against your license.
              For more information, refer to the provided link.
            type: string
          hasUnlimitedSeats:
            description: Indicates if the application role has unlimited user seats.
            type: boolean
          platform:
            description: Indicates if the application role belongs to Jira platform
              (`jira-core`).
            type: boolean
          groupDetails:
            description: Details about the groups associated with the application
              role.
            type:
            - 'null'
            - array
            items:
              type:
              - 'null'
              - object
          defaultGroupsDetails:
            description: Details of default groups assigned to application roles.
            type:
            - 'null'
            - array
            items:
              description: Information about a specific default group.
              type:
              - 'null'
              - object
              properties:
                groupId:
                  description: The unique identifier of the group.
                  type:
                  - 'null'
                  - string
                name:
                  description: The name of the group.
                  type:
                  - 'null'
                  - string
                self:
                  description: The URL for accessing the group details.
                  type:
                  - 'null'
                  - string
        additionalProperties: true
        description: Details of an application role.

  # https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-avatars/#api-rest-api-3-avatar-type-system-get
  avatars_stream:
    $ref: "#/definitions/full_refresh_stream"
    name: avatars
    primary_key: "id"
    retriever:
      $ref: "#/definitions/retriever_no_pagination"
      partition_router:
        type: ListPartitionRouter
        cursor_field: "slice"
        values:
        - issuetype
        - project
        - user
    $parameters:
      path: "avatar/{{ stream_slice.slice }}/system"
      extract_field: "system"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            description: The ID of the avatar.
            type: string
          owner:
            description: The owner of the avatar. For a system avatar, the owner is
              null (and nothing is returned). For non-system avatars, this is the
              appropriate identifier, such as the ID for a project or the account
              ID for a user.
            type: string
            readOnly: true
          isSystemAvatar:
            description: Whether the avatar is a system avatar.
            type: boolean
            readOnly: true
          isSelected:
            description: Whether the avatar is used in Jira. For example, shown as
              a project's avatar.
            type: boolean
            readOnly: true
          isDeletable:
            description: Whether the avatar can be deleted.
            type: boolean
            readOnly: true
          fileName:
            description: The file name of the avatar icon. Returned for system avatars.
            type: string
            readOnly: true
          urls:
            description: The list of avatar icon URLs.
            type: object
            additionalProperties: true
            readOnly: true
        additionalProperties: true
        description: List of system avatars.

  # https://developer.atlassian.com/cloud/jira/software/rest/api-group-other-operations/#api-agile-1-0-board-get
  boards_stream:
    $ref: "#/definitions/full_refresh_stream"
    name: boards
    primary_key: "id"
    retriever:
      $ref: "#/definitions/retriever_v1_use_cache"
      record_selector:
        $ref: "#/definitions/selector"
        record_filter:
          condition: "{{ not config.get('projects') or record.get('location', {}).get('projectKey')
            in config['projects'] }}"
    transformations:
    - type: AddFields
      fields:
      - path: ["projectId"]
        value_type: string
        value: "{{ record.get('location', {}).get('projectId', '') }}"
      - path: ["projectKey"]
        value_type: string
        value: "{{ record.get('location', {}).get('projectKey', '') }}"
    $parameters:
      path: "board"
      extract_field: "values"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            description: Unique identifier of the board.
            type:
            - 'null'
            - integer
          self:
            description: URI that points to the board data.
            type:
            - 'null'
            - string
          name:
            description: Name of the board.
            type:
            - 'null'
            - string
          type:
            description: Type of the board.
            type:
            - 'null'
            - string
          projectId:
            description: ID of the project to which the board belongs.
            type:
            - 'null'
            - string
          projectKey:
            description: Key of the project to which the board belongs.
            type:
            - 'null'
            - string
          location:
            description: Information about the location of the board.
            type:
            - 'null'
            - object
            properties:
              projectId:
                description: ID of the project to which the board location belongs.
                type:
                - 'null'
                - integer
              userId:
                description: ID of the user associated with the board location.
                type:
                - 'null'
                - integer
              userAccountId:
                description: Account ID of the user associated with the board location.
                type:
                - 'null'
                - string
              displayName:
                description: Display name of the board location.
                type:
                - 'null'
                - string
              projectName:
                description: Name of the project to which the board location belongs.
                type:
                - 'null'
                - string
              projectKey:
                description: Key of the project to which the board location belongs.
                type:
                - 'null'
                - string
              projectTypeKey:
                description: Type key of the project to which the board location belongs.
                type:
                - 'null'
                - string
              avatarURI:
                description: URI for the avatar of the board location.
                type:
                - 'null'
                - string
              name:
                description: Name of the board location.
                type:
                - 'null'
                - string

  # https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-dashboards/#api-rest-api-3-dashboard-get
  dashboards_stream:
    $ref: "#/definitions/full_refresh_stream"
    name: dashboards
    primary_key: "id"
    $parameters:
      path: "dashboard"
      extract_field: "dashboards"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          description:
            description: The description of the dashboard.
            type: string
          id:
            description: The ID of the dashboard.
            type: string
          isFavourite:
            description: Indicates whether the dashboard is marked as a favorite by
              the user.
            type: boolean
          name:
            description: The name of the dashboard.
            type: string
          owner:
            description: Details of the owner of the dashboard.
            type: object
            properties:
              key:
                description: Deprecated. Use `accountId` for privacy reasons.
                type: string
              self:
                description: The URL of the dashboard owner details.
                type: string
              name:
                description: Deprecated. Use `accountId` for privacy reasons.
                type: string
              displayName:
                description: The display name of the dashboard owner. Privacy settings
                  may affect the display value.
                type: string
              active:
                description: Indicates whether the owner is an active user.
                type: boolean
              accountId:
                description: The account ID of the dashboard owner.
                maxLength: 128
                type: string
              avatarUrls:
                description: The avatars of the dashboard owner.
                type: object
                properties:
                  16x16:
                    type: string
                    description: The URL of the user's 16x16 pixel avatar.
                  24x24:
                    type: string
                    description: The URL of the user's 24x24 pixel avatar.
                  32x32:
                    type: string
                    description: The URL of the user's 32x32 pixel avatar.
                  48x48:
                    type: string
                    description: The URL of the user's 48x48 pixel avatar.
          popularity:
            description: The number of users who have marked this dashboard as a favorite.
            type: integer
          rank:
            description: The rank of the dashboard.
            type: integer
          self:
            description: The URL of the dashboard details.
            type: string
          sharePermissions:
            description: Details of any share permissions for the dashboard.
            type: array
            items:
              type: object
              properties:
                id:
                  description: The unique identifier of the share permission.
                  type: integer
                type:
                  type: string
                  description: "The type of share permission:\n\n *  `group` Shared
                    with a group. If set in a request, then specify `sharePermission.group`
                    as well.\n *  `project` Shared with a project. If set in a request,
                    then specify `sharePermission.project` as well.\n *  `projectRole`
                    Share with a project role in a project. This value is not returned
                    in responses. It is used in requests, where it needs to be specify
                    with `projectId` and `projectRoleId`.\n *  `global` Shared globally.
                    If set in a request, no other `sharePermission` properties need
                    to be specified.\n *  `loggedin` Shared with all logged-in users.
                    Note: This value is set in a request by specifying `authenticated`
                    as the `type`.\n *  `project-unknown` Shared with a project that
                    the user does not have access to. Cannot be set in a request."
                  enum:
                  - group
                  - project
                  - projectRole
                  - global
                  - loggedin
                  - authenticated
                  - project-unknown
                project:
                  description: The project that the filter is shared with.
                  type: object
                  properties:
                    expand:
                      type: string
                      description: Expand options that include additional project
                        details in the response.
                      xml:
                        attribute: true
                    self:
                      type: string
                      description: The URL of the project details.
                    id:
                      type: string
                      description: The ID of the project.
                    key:
                      type: string
                      description: The key of the project.
                    description:
                      type: string
                      description: A brief description of the project.
                    lead:
                      description: The username of the project lead.
                      type: object
                      properties:
                        self:
                          type: string
                          description: The URL of the user.
                        key:
                          type: string
                          description: This property is no longer available and will
                            be removed from the documentation soon. See the [deprecation
                            notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/)
                            for details.
                        accountId:
                          maxLength: 128
                          type: string
                          description: The account ID of the user, which uniquely
                            identifies the user across all Atlassian products. For
                            example, *5b10ac8d82e05b22cc7d4ef5*. Required in requests.
                        accountType:
                          type: string
                          description: "The user account type. Can take the following
                            values:\n\n *  `atlassian` regular Atlassian user account\n
                            *  `app` system account used for Connect applications
                            and OAuth to represent external systems\n *  `customer`
                            Jira Service Desk account representing an external service
                            desk"
                          enum:
                          - atlassian
                          - app
                          - customer
                          - unknown
                        name:
                          type: string
                          description: This property is no longer available and will
                            be removed from the documentation soon. See the [deprecation
                            notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/)
                            for details.
                        emailAddress:
                          type: string
                          description: The email address of the user. Depending on
                            the user’s privacy setting, this may be returned as null.
                        avatarUrls:
                          description: The avatars of the user.
                          type: object
                          properties:
                            16x16:
                              type: string
                              description: The URL of the item's 16x16 pixel avatar.
                            24x24:
                              type: string
                              description: The URL of the item's 24x24 pixel avatar.
                            32x32:
                              type: string
                              description: The URL of the item's 32x32 pixel avatar.
                            48x48:
                              type: string
                              description: The URL of the item's 48x48 pixel avatar.
                        displayName:
                          type: string
                          description: The display name of the user. Depending on
                            the user’s privacy setting, this may return an alternative
                            value.
                        active:
                          type: boolean
                          description: Whether the user is active.
                        timeZone:
                          type: string
                          description: The time zone specified in the user's profile.
                            Depending on the user’s privacy setting, this may be returned
                            as null.
                        locale:
                          type: string
                          description: The locale of the user. Depending on the user’s
                            privacy setting, this may be returned as null.
                        groups:
                          description: The groups that the user belongs to.
                          type: object
                          properties:
                            size:
                              type: integer
                              xml:
                                attribute: true
                            items:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: The name of group.
                                  self:
                                    type: string
                                    description: The URL for these group details.
                            pagingCallback:
                              type: object
                            callback:
                              type: object
                            max-results:
                              type: integer
                              xml:
                                name: max-results
                                attribute: true
                        applicationRoles:
                          description: The application roles the user is assigned
                            to.
                          type: object
                          properties:
                            size:
                              type: integer
                              xml:
                                attribute: true
                            items:
                              type: array
                              items:
                                type: object
                                properties:
                                  key:
                                    type: string
                                    description: The key of the application role.
                                  groups:
                                    uniqueItems: true
                                    type: array
                                    description: The groups associated with the application
                                      role.
                                    items:
                                      type: string
                                  name:
                                    type: string
                                    description: The display name of the application
                                      role.
                                  defaultGroups:
                                    uniqueItems: true
                                    type: array
                                    description: The groups that are granted default
                                      access for this application role.
                                    items:
                                      type: string
                                  selectedByDefault:
                                    type: boolean
                                    description: Determines whether this application
                                      role should be selected by default on user creation.
                                  defined:
                                    type: boolean
                                    description: Deprecated.
                                  numberOfSeats:
                                    type: integer
                                    description: The maximum count of users on your
                                      license.
                                  remainingSeats:
                                    type: integer
                                    description: The count of users remaining on your
                                      license.
                                  userCount:
                                    type: integer
                                    description: The number of users counting against
                                      your license.
                                  userCountDescription:
                                    type: string
                                    description: The [type of users](https://confluence.atlassian.com/x/lRW3Ng)
                                      being counted against your license.
                                  hasUnlimitedSeats:
                                    type: boolean
                                  platform:
                                    type: boolean
                                    description: Indicates if the application role
                                      belongs to Jira platform (`jira-core`).
                            pagingCallback:
                              type: object
                            callback:
                              type: object
                            max-results:
                              type: integer
                              xml:
                                name: max-results
                                attribute: true
                        expand:
                          type: string
                          description: Expand options that include additional user
                            details in the response.
                          xml:
                            attribute: true
                    components:
                      type: array
                      description: List of the components contained in the project.
                      items:
                        type: object
                        properties:
                          self:
                            type: string
                            description: The URL of the component.
                          id:
                            type: string
                            description: The unique identifier for the component.
                          name:
                            type: string
                            description: The unique name for the component in the
                              project. Required when creating a component. Optional
                              when updating a component. The maximum length is 255
                              characters.
                          description:
                            type: string
                            description: The description for the component. Optional
                              when creating or updating a component.
                          lead:
                            description: The user details for the component's lead
                              user.
                            type: object
                            properties:
                              self:
                                type: string
                                description: The URL of the user.
                              key:
                                type: string
                                description: This property is no longer available
                                  and will be removed from the documentation soon.
                                  See the [deprecation 
                                  notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/)
                                  for details.
                              accountId:
                                maxLength: 128
                                type: string
                                description: The account ID of the user, which uniquely
                                  identifies the user across all Atlassian products.
                                  For example, *5b10ac8d82e05b22cc7d4ef5*. Required
                                  in requests.
                              accountType:
                                type: string
                                description: "The user account type. Can take the
                                  following values:\n\n *  `atlassian` regular Atlassian
                                  user account\n *  `app` system account used for
                                  Connect applications and OAuth to represent external
                                  systems\n *  `customer` Jira Service Desk account
                                  representing an external service desk"
                                enum:
                                - atlassian
                                - app
                                - customer
                                - unknown
                              name:
                                type: string
                                description: This property is no longer available
                                  and will be removed from the documentation soon.
                                  See the [deprecation 
                                  notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/)
                                  for details.
                              emailAddress:
                                type: string
                                description: The email address of the user. Depending
                                  on the user’s privacy setting, this may be returned
                                  as null.
                              avatarUrls:
                                description: The avatars of the user.
                                type: object
                                properties:
                                  16x16:
                                    type: string
                                    description: The URL of the item's 16x16 pixel
                                      avatar.
                                  24x24:
                                    type: string
                                    description: The URL of the item's 24x24 pixel
                                      avatar.
                                  32x32:
                                    type: string
                                    description: The URL of the item's 32x32 pixel
                                      avatar.
                                  48x48:
                                    type: string
                                    description: The URL of the item's 48x48 pixel
                                      avatar.
                              displayName:
                                type: string
                                description: The display name of the user. Depending
                                  on the user’s privacy setting, this may return an
                                  alternative value.
                              active:
                                type: boolean
                                description: Whether the user is active.
                              timeZone:
                                type: string
                                description: The time zone specified in the user's
                                  profile. Depending on the user’s privacy setting,
                                  this may be returned as null.
                              locale:
                                type: string
                                description: The locale of the user. Depending on
                                  the user’s privacy setting, this may be returned
                                  as null.
                              groups:
                                description: The groups that the user belongs to.
                                type: object
                                properties:
                                  size:
                                    type: integer
                                    xml:
                                      attribute: true
                                  items:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          description: The name of group.
                                        self:
                                          type: string
                                          description: The URL for these group details.
                                  pagingCallback:
                                    type: object
                                  callback:
                                    type: object
                                  max-results:
                                    type: integer
                                    xml:
                                      name: max-results
                                      attribute: true
                              applicationRoles:
                                description: The application roles the user is assigned
                                  to.
                                type: object
                                properties:
                                  size:
                                    type: integer
                                    xml:
                                      attribute: true
                                  items:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        key:
                                          type: string
                                          description: The key of the application
                                            role.
                                        groups:
                                          uniqueItems: true
                                          type: array
                                          description: The groups associated with
                                            the application role.
                                          items:
                                            type: string
                                        name:
                                          type: string
                                          description: The display name of the application
                                            role.
                                        defaultGroups:
                                          uniqueItems: true
                                          type: array
                                          description: The groups that are granted
                                            default access for this application role.
                                          items:
                                            type: string
                                        selectedByDefault:
                                          type: boolean
                                          description: Determines whether this application
                                            role should be selected by default on
                                            user creation.
                                        defined:
                                          type: boolean
                                          description: Deprecated.
                                        numberOfSeats:
                                          type: integer
                                          description: The maximum count of users
                                            on your license.
                                        remainingSeats:
                                          type: integer
                                          description: The count of users remaining
                                            on your license.
                                        userCount:
                                          type: integer
                                          description: The number of users counting
                                            against your license.
                                        userCountDescription:
                                          type: string
                                          description: The [type of users](https://confluence.atlassian.com/x/lRW3Ng)
                                            being counted against your license.
                                        hasUnlimitedSeats:
                                          type: boolean
                                        platform:
                                          type: boolean
                                          description: Indicates if the application
                                            role belongs to Jira platform (`jira-core`).
                                  pagingCallback:
                                    type: object
                                  callback:
                                    type: object
                                  max-results:
                                    type: integer
                                    xml:
                                      name: max-results
                                      attribute: true
                              expand:
                                type: string
                                description: Expand options that include additional
                                  user details in the response.
                                xml:
                                  attribute: true
                          leadUserName:
                            type: string
                            description: This property is no longer available and
                              will be removed from the documentation soon. See the
                              [deprecation 
                              notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/)
                              for details.
                          leadAccountId:
                            maxLength: 128
                            type: string
                            description: The accountId of the component's lead user.
                              The accountId uniquely identifies the user across all
                              Atlassian products. For example, *5b10ac8d82e05b22cc7d4ef5*.
                            writeOnly: true
                          assigneeType:
                            type: string
                            description: "The nominal user type used to determine
                              the assignee for issues created with this component.
                              See `realAssigneeType` for details on how the type of
                              the user, and hence the user, assigned to issues is
                              determined. Can take the following values:\n\n *  `PROJECT_LEAD`
                              the assignee to any issues created with this component
                              is nominally the lead for the project the component
                              is in.\n *  `COMPONENT_LEAD` the assignee to any issues
                              created with this component is nominally the lead for
                              the component.\n *  `UNASSIGNED` an assignee is not
                              set for issues created with this component.\n *  `PROJECT_DEFAULT`
                              the assignee to any issues created with this component
                              is nominally the default assignee for the project that
                              the component is in.\n\nDefault value: `PROJECT_DEFAULT`.\
                              \  \nOptional when creating or updating a component."
                            enum:
                            - PROJECT_DEFAULT
                            - COMPONENT_LEAD
                            - PROJECT_LEAD
                            - UNASSIGNED
                          assignee:
                            description: The details of the user associated with `assigneeType`,
                              if any. See `realAssignee` for details of the user assigned
                              to issues created with this component.
                            type: object
                            properties:
                              self:
                                type: string
                                description: The URL of the user.
                              key:
                                type: string
                                description: This property is no longer available
                                  and will be removed from the documentation soon.
                                  See the [deprecation 
                                  notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/)
                                  for details.
                              accountId:
                                maxLength: 128
                                type: string
                                description: The account ID of the user, which uniquely
                                  identifies the user across all Atlassian products.
                                  For example, *5b10ac8d82e05b22cc7d4ef5*. Required
                                  in requests.
                              accountType:
                                type: string
                                description: "The user account type. Can take the
                                  following values:\n\n *  `atlassian` regular Atlassian
                                  user account\n *  `app` system account used for
                                  Connect applications and OAuth to represent external
                                  systems\n *  `customer` Jira Service Desk account
                                  representing an external service desk"
                                enum:
                                - atlassian
                                - app
                                - customer
                                - unknown
                              name:
                                type: string
                                description: This property is no longer available
                                  and will be removed from the documentation soon.
                                  See the [deprecation 
                                  notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/)
                                  for details.
                              emailAddress:
                                type: string
                                description: The email address of the user. Depending
                                  on the user’s privacy setting, this may be returned
                                  as null.
                              avatarUrls:
                                description: The avatars of the user.
                                type: object
                                properties:
                                  16x16:
                                    type: string
                                    description: The URL of the item's 16x16 pixel
                                      avatar.
                                  24x24:
                                    type: string
                                    description: The URL of the item's 24x24 pixel
                                      avatar.
                                  32x32:
                                    type: string
                                    description: The URL of the item's 32x32 pixel
                                      avatar.
                                  48x48:
                                    type: string
                                    description: The URL of the item's 48x48 pixel
                                      avatar.
                              displayName:
                                type: string
                                description: The display name of the user. Depending
                                  on the user’s privacy setting, this may return an
                                  alternative value.
                              active:
                                type: boolean
                                description: Whether the user is active.
                              timeZone:
                                type: string
                                description: The time zone specified in the user's
                                  profile. Depending on the user’s privacy setting,
                                  this may be returned as null.
                              locale:
                                type: string
                                description: The locale of the user. Depending on
                                  the user’s privacy setting, this may be returned
                                  as null.
                              groups:
                                description: The groups that the user belongs to.
                                type: object
                                properties:
                                  size:
                                    type: integer
                                    xml:
                                      attribute: true
                                  items:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          description: The name of group.
                                        self:
                                          type: string
                                          description: The URL for these group details.
                                  pagingCallback:
                                    type: object
                                  callback:
                                    type: object
                                  max-results:
                                    type: integer
                                    xml:
                                      name: max-results
                                      attribute: true
                              applicationRoles:
                                description: The application roles the user is assigned
                                  to.
                                type: object
                                properties:
                                  size:
                                    type: integer
                                    xml:
                                      attribute: true
                                  items:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        key:
                                          type: string
                                          description: The key of the application
                                            role.
                                        groups:
                                          uniqueItems: true
                                          type: array
                                          description: The groups associated with
                                            the application role.
                                          items:
                                            type: string
                                        name:
                                          type: string
                                          description: The display name of the application
                                            role.
                                        defaultGroups:
                                          uniqueItems: true
                                          type: array
                                          description: The groups that are granted
                                            default access for this application role.
                                          items:
                                            type: string
                                        selectedByDefault:
                                          type: boolean
                                          description: Determines whether this application
                                            role should be selected by default on
                                            user creation.
                                        defined:
                                          type: boolean
                                          description: Deprecated.
                                        numberOfSeats:
                                          type: integer
                                          description: The maximum count of users
                                            on your license.
                                        remainingSeats:
                                          type: integer
                                          description: The count of users remaining
                                            on your license.
                                        userCount:
                                          type: integer
                                          description: The number of users counting
                                            against your license.
                                        userCountDescription:
                                          type: string
                                          description: The [type of users](https://confluence.atlassian.com/x/lRW3Ng)
                                            being counted against your license.
                                        hasUnlimitedSeats:
                                          type: boolean
                                        platform:
                                          type: boolean
                                          description: Indicates if the application
                                            role belongs to Jira platform (`jira-core`).
                                  pagingCallback:
                                    type: object
                                  callback:
                                    type: object
                                  max-results:
                                    type: integer
                                    xml:
                                      name: max-results
                                      attribute: true
                              expand:
                                type: string
                                description: Expand options that include additional
                                  user details in the response.
                                xml:
                                  attribute: true
                          realAssigneeType:
                            type: string
                            description: "The type of the assignee that is assigned
                              to issues created with this component, when an assignee
                              cannot be set from the `assigneeType`. For example,
                              `assigneeType` is set to `COMPONENT_LEAD` but no component
                              lead is set. This property is set to one of the following
                              values:\n\n *  `PROJECT_LEAD` when `assigneeType` is
                              `PROJECT_LEAD` and the project lead has permission to
                              be assigned issues in the project that the component
                              is in.\n *  `COMPONENT_LEAD` when `assignee`Type is
                              `COMPONENT_LEAD` and the component lead has permission
                              to be assigned issues in the project that the component
                              is in.\n *  `UNASSIGNED` when `assigneeType` is `UNASSIGNED`
                              and Jira is configured to allow unassigned issues.\n
                              *  `PROJECT_DEFAULT` when none of the preceding cases
                              are true."
                            enum:
                            - PROJECT_DEFAULT
                            - COMPONENT_LEAD
                            - PROJECT_LEAD
                            - UNASSIGNED
                          realAssignee:
                            description: The user assigned to issues created with
                              this component, when `assigneeType` does not identify
                              a valid assignee.
                            type: object
                            properties:
                              self:
                                type: string
                                description: The URL of the user.
                              key:
                                type: string
                                description: This property is no longer available
                                  and will be removed from the documentation soon.
                                  See the [deprecation 
                                  notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/)
                                  for details.
                              accountId:
                                maxLength: 128
                                type: string
                                description: The account ID of the user, which uniquely
                                  identifies the user across all Atlassian products.
                                  For example, *5b10ac8d82e05b22cc7d4ef5*. Required
                                  in requests.
                              accountType:
                                type: string
                                description: "The user account type. Can take the
                                  following values:\n\n *  `atlassian` regular Atlassian
                                  user account\n *  `app` system account used for
                                  Connect applications and OAuth to represent external
                                  systems\n *  `customer` Jira Service Desk account
                                  representing an external service desk"
                                enum:
                                - atlassian
                                - app
                                - customer
                                - unknown
                              name:
                                type: string
                                description: This property is no longer available
                                  and will be removed from the documentation soon.
                                  See the [deprecation 
                                  notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/)
                                  for details.
                              emailAddress:
                                type: string
                                description: The email address of the user. Depending
                                  on the user’s privacy setting, this may be returned
                                  as null.
                              avatarUrls:
                                description: The avatars of the user.
                                type: object
                                properties:
                                  16x16:
                                    type: string
                                    description: The URL of the item's 16x16 pixel
                                      avatar.
                                  24x24:
                                    type: string
                                    description: The URL of the item's 24x24 pixel
                                      avatar.
                                  32x32:
                                    type: string
                                    description: The URL of the item's 32x32 pixel
                                      avatar.
                                  48x48:
                                    type: string
                                    description: The URL of the item's 48x48 pixel
                                      avatar.
                              displayName:
                                type: string
                                description: The display name of the user. Depending
                                  on the user’s privacy setting, this may return an
                                  alternative value.
                              active:
                                type: boolean
                                description: Whether the user is active.
                              timeZone:
                                type: string
                                description: The time zone specified in the user's
                                  profile. Depending on the user’s privacy setting,
                                  this may be returned as null.
                              locale:
                                type: string
                                description: The locale of the user. Depending on
                                  the user’s privacy setting, this may be returned
                                  as null.
                              groups:
                                description: The groups that the user belongs to.
                                type: object
                                properties:
                                  size:
                                    type: integer
                                    xml:
                                      attribute: true
                                  items:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          description: The name of group.
                                        self:
                                          type: string
                                          description: The URL for these group details.
                                  pagingCallback:
                                    type: object
                                  callback:
                                    type: object
                                  max-results:
                                    type: integer
                                    xml:
                                      name: max-results
                                      attribute: true
                              applicationRoles:
                                description: The application roles the user is assigned
                                  to.
                                type: object
                                properties:
                                  size:
                                    type: integer
                                    xml:
                                      attribute: true
                                  items:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        key:
                                          type: string
                                          description: The key of the application
                                            role.
                                        groups:
                                          uniqueItems: true
                                          type: array
                                          description: The groups associated with
                                            the application role.
                                          items:
                                            type: string
                                        name:
                                          type: string
                                          description: The display name of the application
                                            role.
                                        defaultGroups:
                                          uniqueItems: true
                                          type: array
                                          description: The groups that are granted
                                            default access for this application role.
                                          items:
                                            type: string
                                        selectedByDefault:
                                          type: boolean
                                          description: Determines whether this application
                                            role should be selected by default on
                                            user creation.
                                        defined:
                                          type: boolean
                                          description: Deprecated.
                                        numberOfSeats:
                                          type: integer
                                          description: The maximum count of users
                                            on your license.
                                        remainingSeats:
                                          type: integer
                                          description: The count of users remaining
                                            on your license.
                                        userCount:
                                          type: integer
                                          description: The number of users counting
                                            against your license.
                                        userCountDescription:
                                          type: string
                                          description: The [type of users](https://confluence.atlassian.com/x/lRW3Ng)
                                            being counted against your license.
                                        hasUnlimitedSeats:
                                          type: boolean
                                        platform:
                                          type: boolean
                                          description: Indicates if the application
                                            role belongs to Jira platform (`jira-core`).
                                  pagingCallback:
                                    type: object
                                  callback:
                                    type: object
                                  max-results:
                                    type: integer
                                    xml:
                                      name: max-results
                                      attribute: true
                              expand:
                                type: string
                                description: Expand options that include additional
                                  user details in the response.
                                xml:
                                  attribute: true
                          isAssigneeTypeValid:
                            type: boolean
                            description: Whether a user is associated with `assigneeType`.
                              For example, if the `assigneeType` is set to `COMPONENT_LEAD`
                              but the component lead is not set, then `false` is returned.
                          project:
                            type: string
                            description: The key of the project the component is assigned
                              to. Required when creating a component. Can't be updated.
                          projectId:
                            type: integer
                            description: The ID of the project the component is assigned
                              to.
                    issueTypes:
                      type: array
                      description: List of the issue types available in the project.
                      items:
                        type: object
                        properties:
                          self:
                            type: string
                            description: The URL of these issue type details.
                          id:
                            type: string
                            description: The ID of the issue type.
                          description:
                            type: string
                            description: The description of the issue type.
                          iconUrl:
                            type: string
                            description: The URL of the issue type's avatar.
                          name:
                            type: string
                            description: The name of the issue type.
                          subtask:
                            type: boolean
                            description: Whether this issue type is used to create
                              subtasks.
                          avatarId:
                            type: integer
                            description: The ID of the issue type's avatar.
                          entityId:
                            type: string
                            description: Unique ID for next-gen projects.
                          hierarchyLevel:
                            type: integer
                            description: Hierarchy level of the issue type.
                          scope:
                            description: Details of the next-gen projects the issue
                              type is available in.
                            type: object
                            properties:
                              type:
                                type: string
                                description: The type of scope.
                                enum:
                                - PROJECT
                                - TEMPLATE
                              project:
                                description: The project the item has scope in.
                                type: object
                                properties:
                                  self:
                                    type: string
                                    description: The URL of the project details.
                                  id:
                                    type: string
                                    description: The ID of the project.
                                  key:
                                    type: string
                                    description: The key of the project.
                                  name:
                                    type: string
                                    description: The name of the project.
                                  projectTypeKey:
                                    type: string
                                    description: The [project 
                                      type](https://confluence.atlassian.com/x/GwiiLQ#Jiraapplicationsoverview-Productfeaturesandprojecttypes)
                                      of the project.
                                    enum:
                                    - software
                                    - service_desk
                                    - business
                                  simplified:
                                    type: boolean
                                    description: Whether or not the project is simplified.
                                  avatarUrls:
                                    description: The URLs of the project's avatars.
                                    type: object
                                    properties:
                                      16x16:
                                        type: string
                                        description: The URL of the item's 16x16 pixel
                                          avatar.
                                      24x24:
                                        type: string
                                        description: The URL of the item's 24x24 pixel
                                          avatar.
                                      32x32:
                                        type: string
                                        description: The URL of the item's 32x32 pixel
                                          avatar.
                                      48x48:
                                        type: string
                                        description: The URL of the item's 48x48 pixel
                                          avatar.
                                  projectCategory:
                                    description: The category the project belongs
                                      to.
                                    type: object
                                    properties:
                                      self:
                                        type: string
                                        description: The URL of the project category.
                                      id:
                                        type: string
                                        description: The ID of the project category.
                                      description:
                                        type: string
                                        description: The name of the project category.
                                      name:
                                        type: string
                                        description: The description of the project
                                          category.
                    url:
                      type: string
                      description: A link to information about this project, such
                        as project documentation.
                    email:
                      type: string
                      description: An email address associated with the project.
                    assigneeType:
                      type: string
                      description: The default assignee when creating issues for this
                        project.
                      enum:
                      - PROJECT_LEAD
                      - UNASSIGNED
                    versions:
                      type: array
                      description: The versions defined in the project. For more information,
                        see [Create version](#api-rest-api-3-version-post).
                      items:
                        type: object
                        properties:
                          expand:
                            type: string
                            description: "Use [expand](em>#expansion) to include additional
                              information about version in the response. This parameter
                              accepts a comma-separated list. Expand options include:\n
                              \n *  `operations` Returns the list of operations available
                              for this version.\n *  `issuesstatus` Returns the count
                              of issues in this version for each of the status categories
                              *to do*, *in progress*, *done*, and *unmapped*. The
                              *unmapped* property contains a count of issues with
                              a status other than *to do*, *in progress*, and *done*.\n
                              \nOptional for create and update."
                            xml:
                              attribute: true
                          self:
                            type: string
                            description: The URL of the version.
                          id:
                            type: string
                            description: The ID of the version.
                          description:
                            type: string
                            description: The description of the version. Optional
                              when creating or updating a version.
                          name:
                            type: string
                            description: The unique name of the version. Required
                              when creating a version. Optional when updating a version.
                              The maximum length is 255 characters.
                          archived:
                            type: boolean
                            description: Indicates that the version is archived. Optional
                              when creating or updating a version.
                          released:
                            type: boolean
                            description: Indicates that the version is released. If
                              the version is released a request to release again is
                              ignored. Not applicable when creating a version. Optional
                              when updating a version.
                          startDate:
                            type: string
                            description: The start date of the version. Expressed
                              in ISO 8601 format (yyyy-mm-dd). Optional when creating
                              or updating a version.
                            format: date
                          releaseDate:
                            type: string
                            description: The release date of the version. Expressed
                              in ISO 8601 format (yyyy-mm-dd). Optional when creating
                              or updating a version.
                            format: date
                          overdue:
                            type: boolean
                            description: Indicates that the version is overdue.
                          userStartDate:
                            type: string
                            description: The date on which work on this version is
                              expected to start, expressed in the instance's *Day/Month/Year
                              Format* date format.
                          userReleaseDate:
                            type: string
                            description: The date on which work on this version is
                              expected to finish, expressed in the instance's *Day/Month/Year
                              Format* date format.
                          project:
                            type: string
                            description: Deprecated. Use `projectId`.
                          projectId:
                            type: integer
                            description: The ID of the project to which this version
                              is attached. Required when creating a version. Not applicable
                              when updating a version.
                          moveUnfixedIssuesTo:
                            type: string
                            description: The URL of the self link to the version to
                              which all unfixed issues are moved when a version is
                              released. Not applicable when creating a version. Optional
                              when updating a version.
                          operations:
                            type: array
                            description: If the expand option `operations` is used,
                              returns the list of operations available for this version.
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                styleClass:
                                  type: string
                                iconClass:
                                  type: string
                                label:
                                  type: string
                                title:
                                  type: string
                                href:
                                  type: string
                                weight:
                                  type: integer
                          issuesStatusForFixVersion:
                            description: If the expand option `issuesstatus` is used,
                              returns the count of issues in this version for each
                              of the status categories *to do*, *in progress*, *done*,
                              and *unmapped*. The *unmapped* property contains a count
                              of issues with a status other than *to do*, *in progress*,
                              and *done*.
                            type: object
                            properties:
                              unmapped:
                                type: integer
                                description: Count of issues with a status other than
                                  *to do*, *in progress*, and *done*.
                              toDo:
                                type: integer
                                description: Count of issues with status *to do*.
                              inProgress:
                                type: integer
                                description: Count of issues with status *in progress*.
                              done:
                                type: integer
                                description: Count of issues with status *done*.
                    name:
                      type: string
                      description: The name of the project.
                    roles:
                      type: object
                      additionalProperties: true
                      description: The name and self URL for each role defined in
                        the project. For more information, see [Create project role](#api-rest-api-3-role-post).
                    avatarUrls:
                      description: The URLs of the project's avatars.
                      type: object
                      properties:
                        16x16:
                          type: string
                          description: The URL of the item's 16x16 pixel avatar.
                        24x24:
                          type: string
                          description: The URL of the item's 24x24 pixel avatar.
                        32x32:
                          type: string
                          description: The URL of the item's 32x32 pixel avatar.
                        48x48:
                          type: string
                          description: The URL of the item's 48x48 pixel avatar.
                    projectCategory:
                      description: The category the project belongs to.
                      type: object
                      properties:
                        self:
                          type: string
                          description: The URL of the project category.
                        id:
                          type: string
                          description: The ID of the project category.
                        name:
                          type: string
                          description: The name of the project category. Required
                            on create, optional on update.
                        description:
                          type: string
                          description: The description of the project category. Required
                            on create, optional on update.
                    projectTypeKey:
                      type: string
                      description: The [project 
                        type](https://confluence.atlassian.com/x/GwiiLQ#Jiraapplicationsoverview-Productfeaturesandprojecttypes)
                        of the project.
                      enum:
                      - software
                      - service_desk
                      - business
                    simplified:
                      type: boolean
                      description: Whether the project is simplified.
                    style:
                      type: string
                      description: The type of the project.
                      enum:
                      - classic
                      - next-gen
                    favourite:
                      type: boolean
                      description: Whether the project is selected as a favorite.
                    isPrivate:
                      type: boolean
                      description: Whether the project is private.
                    issueTypeHierarchy:
                      description: The issue type hierarchy for the project
                      type: object
                      properties:
                        level:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                              aboveLevelId:
                                type: integer
                              belowLevelId:
                                type: integer
                              projectConfigurationId:
                                type: integer
                              level:
                                type: integer
                              issueTypeIds:
                                type: array
                                items:
                                  type: integer
                              externalUuid:
                                type: string
                              globalHierarchyLevel:
                                type: string
                                enum:
                                - SUBTASK
                                - BASE
                                - EPIC
                    permissions:
                      description: User permissions on the project
                      type: object
                      properties:
                        canEdit:
                          type: boolean
                          description: Whether the logged user can edit the project.
                    properties:
                      type: object
                      description: Map of project properties
                    uuid:
                      type: string
                      description: Unique ID for next-gen projects.
                    insight:
                      description: Insights about the project.
                      type: object
                      properties:
                        totalIssueCount:
                          type: integer
                          description: Total issue count.
                        lastIssueUpdateTime:
                          type: string
                          description: The last issue update time.
                          format: date-time
                    deleted:
                      type: boolean
                      description: Whether the project is marked as deleted.
                    retentionTillDate:
                      type: string
                      description: The date when the project is deleted permanently.
                      format: date-time
                    deletedDate:
                      type: string
                      description: The date when the project was marked as deleted.
                      format: date-time
                    deletedBy:
                      description: The user who marked the project as deleted.
                      type: object
                      properties:
                        self:
                          type: string
                          description: The URL of the user.
                        key:
                          type: string
                          description: This property is no longer available and will
                            be removed from the documentation soon. See the [deprecation
                            notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/)
                            for details.
                        accountId:
                          maxLength: 128
                          type: string
                          description: The account ID of the user, which uniquely
                            identifies the user across all Atlassian products. For
                            example, *5b10ac8d82e05b22cc7d4ef5*. Required in requests.
                        accountType:
                          type: string
                          description: "The user account type. Can take the following
                            values:\n\n *  `atlassian` regular Atlassian user account\n
                            *  `app` system account used for Connect applications
                            and OAuth to represent external systems\n *  `customer`
                            Jira Service Desk account representing an external service
                            desk"
                          enum:
                          - atlassian
                          - app
                          - customer
                          - unknown
                        name:
                          type: string
                          description: This property is no longer available and will
                            be removed from the documentation soon. See the [deprecation
                            notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/)
                            for details.
                        emailAddress:
                          type: string
                          description: The email address of the user. Depending on
                            the user’s privacy setting, this may be returned as null.
                        avatarUrls:
                          description: The avatars of the user.
                          type: object
                          properties:
                            16x16:
                              type: string
                              description: The URL of the item's 16x16 pixel avatar.
                            24x24:
                              type: string
                              description: The URL of the item's 24x24 pixel avatar.
                            32x32:
                              type: string
                              description: The URL of the item's 32x32 pixel avatar.
                            48x48:
                              type: string
                              description: The URL of the item's 48x48 pixel avatar.
                        displayName:
                          type: string
                          description: The display name of the user. Depending on
                            the user’s privacy setting, this may return an alternative
                            value.
                        active:
                          type: boolean
                          description: Whether the user is active.
                        timeZone:
                          type: string
                          description: The time zone specified in the user's profile.
                            Depending on the user’s privacy setting, this may be returned
                            as null.
                        locale:
                          type: string
                          description: The locale of the user. Depending on the user’s
                            privacy setting, this may be returned as null.
                        groups:
                          description: The groups that the user belongs to.
                          type: object
                          properties:
                            size:
                              type: integer
                              xml:
                                attribute: true
                            items:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: The name of group.
                                  self:
                                    type: string
                                    description: The URL for these group details.
                            pagingCallback:
                              type: object
                            callback:
                              type: object
                            max-results:
                              type: integer
                              xml:
                                name: max-results
                                attribute: true
                        applicationRoles:
                          description: The application roles the user is assigned
                            to.
                          type: object
                          properties:
                            size:
                              type: integer
                              xml:
                                attribute: true
                            items:
                              type: array
                              items:
                                type: object
                                properties:
                                  key:
                                    type: string
                                    description: The key of the application role.
                                  groups:
                                    uniqueItems: true
                                    type: array
                                    description: The groups associated with the application
                                      role.
                                    items:
                                      type: string
                                  name:
                                    type: string
                                    description: The display name of the application
                                      role.
                                  defaultGroups:
                                    uniqueItems: true
                                    type: array
                                    description: The groups that are granted default
                                      access for this application role.
                                    items:
                                      type: string
                                  selectedByDefault:
                                    type: boolean
                                    description: Determines whether this application
                                      role should be selected by default on user creation.
                                  defined:
                                    type: boolean
                                    description: Deprecated.
                                  numberOfSeats:
                                    type: integer
                                    description: The maximum count of users on your
                                      license.
                                  remainingSeats:
                                    type: integer
                                    description: The count of users remaining on your
                                      license.
                                  userCount:
                                    type: integer
                                    description: The number of users counting against
                                      your license.
                                  userCountDescription:
                                    type: string
                                    description: The [type of users](https://confluence.atlassian.com/x/lRW3Ng)
                                      being counted against your license.
                                  hasUnlimitedSeats:
                                    type: boolean
                                  platform:
                                    type: boolean
                                    description: Indicates if the application role
                                      belongs to Jira platform (`jira-core`).
                            pagingCallback:
                              type: object
                            callback:
                              type: object
                            max-results:
                              type: integer
                              xml:
                                name: max-results
                                attribute: true
                        expand:
                          type: string
                          description: Expand options that include additional user
                            details in the response.
                          xml:
                            attribute: true
                    archived:
                      type: boolean
                      description: Whether the project is archived.
                    archivedDate:
                      type: string
                      description: The date when the project was archived.
                      format: date-time
                    archivedBy:
                      description: The user who archived the project.
                      type: object
                      properties:
                        self:
                          type: string
                          description: The URL of the user.
                        key:
                          type: string
                          description: This property is no longer available and will
                            be removed from the documentation soon. See the [deprecation
                            notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/)
                            for details.
                        accountId:
                          maxLength: 128
                          type: string
                          description: The account ID of the user, which uniquely
                            identifies the user across all Atlassian products. For
                            example, *5b10ac8d82e05b22cc7d4ef5*. Required in requests.
                        accountType:
                          type: string
                          description: "The user account type. Can take the following
                            values:\n\n *  `atlassian` regular Atlassian user account\n
                            *  `app` system account used for Connect applications
                            and OAuth to represent external systems\n *  `customer`
                            Jira Service Desk account representing an external service
                            desk"
                          enum:
                          - atlassian
                          - app
                          - customer
                          - unknown
                        name:
                          type: string
                          description: This property is no longer available and will
                            be removed from the documentation soon. See the [deprecation
                            notice](https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/)
                            for details.
[...]
