spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - username
      - access_token
      - start_date
      - subdomain
    properties:
      email:
        type: string
        order: 3
        title: email
      password:
        type: string
        order: 1
        title: Password
        always_show: true
        airbyte_secret: true
      username:
        type: string
        order: 0
        title: Username
      subdomain:
        type: string
        order: 5
        title: subdomain
      start_date:
        type: string
        order: 4
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      access_token:
        type: string
        order: 2
        title: access_token
    additionalProperties: true
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - addresses
streams:
  - name: addresses
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        path: addresses
        type: HttpRequester
        url_base: https://{{ config['subdomain'] }}.zendesk.com/api/v2/channels/voice/
        http_method: GET
        authenticator:
          type: BasicHttpAuthenticator
          password: '{{ config[''password''] }}'
          username: '{{ config[''username''] }}'
        request_headers: {}
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - addresses
            - '*'
      partition_router: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type: number
          zip:
            type: string
          city:
            type: string
          name:
            type: string
          street:
            type: string
          province:
            type: string
          country_code:
            type: string
          provider_reference:
            type: string
  - name: agents activity
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        path: /stats/agents_activity
        type: HttpRequester
        url_base: https://{{ config['subdomain'] }}.zendesk.com/api/v2/channels/voice/
        http_method: GET
        authenticator:
          type: BasicHttpAuthenticator
          password: '{{ config[''password''] }}'
          username: '{{ config[''username''] }}'
        request_headers: {}
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - agents_activity
            - '*'
      partition_router: []
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          via:
            type: string
          name:
            type: string
          agent_id:
            type: number
          away_time:
            type: number
          avatar_url:
            type: string
          agent_state:
            type: string
          online_time:
            type: number
          calls_denied:
            type: number
          calls_missed:
            type: number
          available_time:
            type: number
          calls_accepted:
            type: number
          total_hold_time:
            type: number
          total_talk_time:
            type: number
          average_hold_time:
            type: number
          average_talk_time:
            type: number
          calls_put_on_hold:
            type: number
          started_transfers:
            type: number
          accepted_transfers:
            type: number
          total_wrap_up_time:
            type: number
          total_call_duration:
            type: number
          transfers_only_time:
            type: number
          average_wrap_up_time:
            type: number
          started_third_party_conferences:
            type: number
          accepted_third_party_conferences:
            type: number
  - name: agents overview
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        path: /stats/agents_overview
        type: HttpRequester
        url_base: https://{{ config['subdomain'] }}.zendesk.com/api/v2/channels/voice/
        http_method: GET
        authenticator:
          type: BasicHttpAuthenticator
          password: '{{ config[''password''] }}'
          username: '{{ config[''username''] }}'
        request_headers: {}
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - agents_overview
      partition_router: []
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          total_hold_time:
            type: number
          total_talk_time:
            type: number
          average_away_time:
            type: number
          average_hold_time:
            type: number
          average_talk_time:
            type: number
          total_calls_denied:
            type: number
          total_calls_missed:
            type: number
          total_wrap_up_time:
            type: number
          average_online_time:
            type: number
          average_calls_denied:
            type: number
          average_calls_missed:
            type: number
          average_wrap_up_time:
            type: number
          total_calls_accepted:
            type: number
          average_available_time:
            type: number
          average_calls_accepted:
            type: number
          total_calls_put_on_hold:
            type: number
          total_started_transfers:
            type: number
          total_accepted_transfers:
            type: number
          average_calls_put_on_hold:
            type: number
          average_started_transfers:
            type: number
          average_accepted_transfers:
            type: number
          average_transfers_only_time:
            type: number
  - name: greeting categories
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        path: /greeting_categories
        type: HttpRequester
        url_base: https://{{ config['subdomain'] }}.zendesk.com/api/v2/channels/voice/
        http_method: GET
        authenticator:
          type: BasicHttpAuthenticator
          password: '{{ config[''password''] }}'
          username: '{{ config[''username''] }}'
        request_headers: {}
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - greeting_categories
            - '*'
      partition_router: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type: number
          name:
            type: string
  - name: greetings
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        path: /greetings
        type: HttpRequester
        url_base: https://{{ config['subdomain'] }}.zendesk.com/api/v2/channels/voice/
        http_method: GET
        authenticator:
          type: BasicHttpAuthenticator
          password: '{{ config[''password''] }}'
          username: '{{ config[''username''] }}'
        request_headers: {}
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - greetings
            - '*'
      partition_router: []
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type: string
          name:
            type: string
          active:
            type: boolean
          default:
            type: boolean
          ivr_ids:
            type: array
          pending:
            type: boolean
          audio_url:
            type:
              - 'null'
              - string
          audio_name:
            type: string
          category_id:
            type: number
          default_lang:
            type: boolean
          has_sub_settings:
            type: boolean
          phone_number_ids:
            type: array
            items:
              type: number
  - name: phone numbers
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        path: phone_numbers
        type: HttpRequester
        url_base: https://{{ config['subdomain'] }}.zendesk.com/api/v2/channels/voice/
        http_method: GET
        authenticator:
          type: BasicHttpAuthenticator
          password: '{{ config[''password''] }}'
          username: '{{ config[''username''] }}'
        request_headers: {}
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - phone_numbers
            - '*'
      partition_router: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type: number
          name:
            type: string
          number:
            type: string
          external:
            type: boolean
          location:
            type: string
          priority:
            type: number
          recorded:
            type: boolean
          group_ids:
            type: array
          line_type:
            type: string
          toll_free:
            type: boolean
          created_at:
            type: string
          sms_enabled:
            type: boolean
          capabilities:
            type: object
            properties:
              mms:
                type: boolean
              sms:
                type: boolean
              voice:
                type: boolean
              emergency_address:
                type: boolean
          country_code:
            type: string
          greeting_ids:
            type: array
          transcription:
            type: boolean
          voice_enabled:
            type: boolean
          display_number:
            type: string
          outbound_enabled:
            type: boolean
          default_greeting_ids:
            type: array
            items:
              type: string
          categorised_greetings:
            type: object
            properties:
              '1':
                type: string
              '2':
                type: string
              '3':
                type: string
              '4':
                type: string
              '6':
                type: string
              '7':
                type: string
              '8':
                type: string
              '9':
                type: string
          call_recording_consent:
            type: string
          categorised_greetings_with_sub_settings:
            type: object
            properties:
              '1':
                type: object
                properties:
                  voicemail_on_inside_business_hours:
                    type: string
                  voicemail_off_inside_business_hours:
                    type: string
                  voicemail_on_outside_business_hours:
                    type: string
                  voicemail_off_outside_business_hours:
                    type: string
              '2':
                type: object
                properties:
                  voicemail_on:
                    type: string
                  voicemail_off:
                    type: string
              '3':
                type: string
              '4':
                type: string
              '6':
                type: string
              '7':
                type: string
              '8':
                type: string
              '9':
                type: string
  - name: call legs
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("next_page", {}) }}'
          stop_condition: '{{ not response.get("next_page", {}) }}'
      requester:
        path: /stats/incremental/legs
        type: HttpRequester
        url_base: https://{{ config['subdomain'] }}.zendesk.com/api/v2/channels/voice/
        http_method: GET
        authenticator:
          type: BasicHttpAuthenticator
          password: '{{ config[''password''] }}'
          username: '{{ config[''username''] }}'
        request_headers: {}
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - legs
            - '*'
      partition_router: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type: number
          type:
            type: string
          call_id:
            type: number
          user_id:
            type:
              - 'null'
              - number
          agent_id:
            type: number
          duration:
            type: number
          hold_time:
            type: number
          talk_time:
            type: number
          created_at:
            type: string
          updated_at:
            type: string
          call_charge:
            type: string
          wrap_up_time:
            type:
              - 'null'
              - number
          available_via:
            type:
              - 'null'
              - string
          minutes_billed:
            type:
              - 'null'
              - number
          quality_issues:
            type: array
            items:
              type: string
          completion_status:
            type: string
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: '{{ config[''start_date''] }}'
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%s'
      end_time_option:
        type: RequestOption
        field_name: end_time
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: start_time
        inject_into: request_parameter
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%SZ'
  - name: calls
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("next_page", {}) }}'
          stop_condition: '{{ not response.get("next_page", {}) }}'
      requester:
        path: /stats/incremental/calls
        type: HttpRequester
        url_base: https://{{ config['subdomain'] }}.zendesk.com/api/v2/channels/voice/
        http_method: GET
        authenticator:
          type: BasicHttpAuthenticator
          password: '{{ config[''password''] }}'
          username: '{{ config[''username''] }}'
        request_headers: {}
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - calls
            - '*'
      partition_router: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type: number
          callback:
            type:
              - boolean
              - 'null'
          duration:
            type: number
          direction:
            type: string
          hold_time:
            type: number
          talk_time:
            type:
              - 'null'
              - number
          voicemail:
            type: boolean
          wait_time:
            type: number
          created_at:
            type: string
          overflowed:
            type: boolean
          updated_at:
            type: string
          call_charge:
            type:
              - 'null'
              - string
          phone_number:
            type: string
          wrap_up_time:
            type: number
          default_group:
            type: boolean
          minutes_billed:
            type: number
          quality_issues:
            type: array
            items:
              type: string
          recording_time:
            type: number
          phone_number_id:
            type: number
          completion_status:
            type: string
          consultation_time:
            type: number
          not_recording_time:
            type: number
          call_recording_consent:
            type: string
          outside_business_hours:
            type:
              - boolean
              - 'null'
          exceeded_queue_wait_time:
            type:
              - boolean
              - 'null'
          customer_requested_voicemail:
            type: boolean
          recording_control_interactions:
            type: number
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: '{{ config[''start_date''] }}'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%s'
      start_time_option:
        type: RequestOption
        field_name: start_time
        inject_into: request_parameter
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%SZ'
  - name: current queue activity
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        path: /stats/current_queue_activity
        type: HttpRequester
        url_base: https://{{ config['subdomain'] }}.zendesk.com/api/v2/channels/voice/
        http_method: GET
        authenticator:
          type: BasicHttpAuthenticator
          password: '{{ config[''password''] }}'
          username: '{{ config[''username''] }}'
        request_headers: {}
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - current_queue_activity
      partition_router: []
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          agents_online:
            type: number
          calls_waiting:
            type: number
          average_wait_time:
            type: number
          callbacks_waiting:
            type: number
          longest_wait_time:
            type: number
          embeddable_callbacks_waiting:
            type: number
  - name: account overview
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        path: /stats/account_overview
        type: HttpRequester
        url_base: https://{{ config['subdomain'] }}.zendesk.com/api/v2/channels/voice/
        http_method: GET
        authenticator:
          type: BasicHttpAuthenticator
          password: '{{ config[''password''] }}'
          username: '{{ config[''username''] }}'
        request_headers: {}
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - account_overview
      partition_router: []
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          total_calls:
            type: number
          total_hold_time:
            type: number
          total_voicemails:
            type: number
          average_hold_time:
            type: number
          max_calls_waiting:
            type: number
          total_wrap_up_time:
            type: number
          max_queue_wait_time:
            type: number
          total_call_duration:
            type: number
          total_inbound_calls:
            type: number
          average_wrap_up_time:
            type: number
          total_callback_calls:
            type: number
          total_outbound_calls:
            type: number
          average_call_duration:
            type: number
          average_time_to_answer:
            type: number
          average_queue_wait_time:
            type: number
          total_textback_requests:
            type: number
          average_callback_wait_time:
            type: number
          total_calls_abandoned_in_queue:
            type: number
          total_embeddable_callback_calls:
            type: number
          total_calls_outside_business_hours:
            type: number
          total_calls_with_requested_voicemail:
            type: number
          total_calls_with_exceeded_queue_wait_time:
            type: number
  - name: ivrs
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        path: /ivr
        type: HttpRequester
        url_base: https://{{ config['subdomain'] }}.zendesk.com/api/v2/channels/voice/
        http_method: GET
        authenticator:
          type: BasicHttpAuthenticator
          password: '{{ config[''password''] }}'
          username: '{{ config[''username''] }}'
        request_headers: {}
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - ivrs
      partition_router: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type: number
          name:
            type: string
          menus:
            type: array
            items:
              type: object
              properties:
                id:
                  type: number
                name:
                  type: string
                routes:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: number
                      action:
                        type: string
                      options:
                        type: object
                        properties:
                          menu_id:
                            type: number
                          group_ids:
                            type: array
                            items:
                              type: number
                      keypress:
                        type: string
                      option_text:
                        type:
                          - 'null'
                          - string
                      overflow_options:
                        type: array
                default:
                  type: boolean
          phone_number_ids:
            type: array
          phone_number_names:
            type: array
  - name: ivr menus
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        path: /ivr
        type: HttpRequester
        url_base: https://{{ config['subdomain'] }}.zendesk.com/api/v2/channels/voice/
        http_method: GET
        authenticator:
          type: BasicHttpAuthenticator
          password: '{{ config[''password''] }}'
          username: '{{ config[''username''] }}'
        request_headers: {}
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - ivrs
            - '*'
      partition_router: []
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type: number
          name:
            type: string
          menus:
            type: array
            items:
              type: object
              properties:
                id:
                  type: number
                name:
                  type: string
                routes:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: number
                      action:
                        type: string
                      options:
                        type: object
                        properties:
                          menu_id:
                            type: number
                          group_ids:
                            type: array
                            items:
                              type: number
                      keypress:
                        type: string
                      option_text:
                        type:
                          - 'null'
                          - string
                      overflow_options:
                        type: array
                default:
                  type: boolean
          phone_number_ids:
            type: array
          phone_number_names:
            type: array
    transformations:
      - type: AddFields
        fields:
          - path:
              - ivr_id
            value: '{{ response["ivrs"]'
version: 0.65.0
metadata:
  autoImportSchema:
    ivrs: true
    calls: true
    addresses: true
    call legs: true
    greetings: true
    ivr menus: true
    phone numbers: true
    agents activity: true
    agents overview: true
    account overview: true
    greeting categories: true
    current queue activity: true
