version: 0.78.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - data

definitions:
  streams:
    data:
      type: DeclarativeStream
      name: data
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /Active Worker Download
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/data"
  base_requester:
    type: HttpRequester
    url_base: https://sandbox.api.sap.com/fieldglass/api/vc/connector
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['api_key'] }}"
      inject_into:
        type: RequestOption
        inject_into: header
        field_name: apikey

streams:
  - $ref: "#/definitions/streams/data"

spec:
  type: Spec
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: Sap Fieldglass Spec
    type: object
    required:
      - api_key
    additionalProperties: true
    properties:
      api_key:
        type: string
        description: API Key
        airbyte_secret: true

metadata:
  autoImportSchema:
    data: false

schemas:
  data:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      Bill Rate:
        type:
          - "null"
          - string
        description: |-
          Worker?s Bill Rate that is associated to the Rate
          Category/UOM listed in the previous field.
      Billable Per Diem:
        type:
          - "null"
          - string
      Business Unit Code:
        type:
          - "null"
          - string
        description: Business Unit Code.
        maxLength: 100
      Business Unit Name:
        type:
          - "null"
          - string
        description: Business Unit Name.
        maxLength: 100
      Buyer Code:
        type:
          - "null"
          - string
        description: Buyer Company Code.
        maxLength: 4
      Cost Center Code:
        type:
          - "null"
          - string
        description: Cost Center Code in SAP Fieldglass.
        maxLength: 200
      Cost Center Name:
        type:
          - "null"
          - string
        description: Cost Center Name in SAP Fieldglass.
        maxLength: 200
      Currency:
        type:
          - "null"
          - string
        description: ISO currency designation (ex. USD).
        maxLength: 100
      End Date:
        type:
          - "null"
          - string
        description: Work order end date.
      First Name:
        type:
          - "null"
          - string
        description: First name of the Worker as defined in SAP Fieldglass.
        maxLength: 100
      Job Posting Title:
        type:
          - "null"
          - string
        description: Job Posting?s Title or SOW Name for SOW Workers.
        maxLength: 100
      Job Seeker ID:
        type:
          - "null"
          - string
        description: 14-character alphanumeric SAP Fieldglass Job Seeker ID.
        maxLength: 14
      Last Name:
        type:
          - "null"
          - string
        description: Last name of the Worker as defined in SAP Fieldglass.
        maxLength: 100
      Pay Rate:
        type:
          - "null"
          - string
        description: |-
          Worker?s Pay Rate that is associated to the Rate Category/UOM
          listed in the previous field. 
          If Supplier did not enter a Pay Rate, 0.00 will be
          displayed.
      Person ID:
        type:
          - "null"
          - string
        description: Unique identifier for the worker as a person.
        maxLength: 24
      Rate Category /UOM:
        type:
          - "null"
          - string
        description: |-
          Worker?s Rate Category/Unit Of Measure for which the
          corresponding rate will be displayed. 
          More than one Rate Category/UOM may exist for a single
          Worker. If this is the case a new line will appear for each
          associated Rate Category/UOM in this file.
        maxLength: 100
      Remit To address Code:
        type:
          - "null"
          - string
        description: Code as assigned to the Remit To Address by supplier.
        maxLength: 100
      Security ID:
        type:
          - "null"
          - string
        description: |-
          This column will only appear in the file if the security ID
          field functionality is activated in SAP Fieldglass for the
          buyer. If the functionality is not activated, this column
          will not be in the file.
        maxLength: 100
      Segmented Object Detail:
        type:
          - "null"
          - string
        description: |-
          Segmented Object Detail string. Segments will be separated by
          delimiter on the Segmented Object.
          Valid delimiters are colon (:), semi-colon (;), pipe (|), and
          dash (-).
          Required if ?Enable Segmented Object Detail? configuration is
          set.
          This field is mutually exclusive with GL Account fields.
          More than one string can appear for a cost center.
        maxLength: 2000
      Sequence:
        type:
          - "null"
          - string
        description: Work Order Revision Number.
      Site Code:
        type:
          - "null"
          - string
        description: Site Code.
        maxLength: 100
      Site Name:
        type:
          - "null"
          - string
        description: Site Name.
        maxLength: 100
      Start Date:
        type:
          - "null"
          - string
        description: Work order start date.
      Status:
        type:
          - "null"
          - string
        description: Status of the worker.
        maxLength: 50
      Vendor Name:
        type:
          - "null"
          - string
        description: Supplier name.
        maxLength: 200
      Vendor Number:
        type:
          - "null"
          - string
        description: SAP Fieldglass Supplier code for buyer.
        maxLength: 4
      Work Order ID:
        type:
          - "null"
          - string
        description: Work Order ID.
        maxLength: 14
      Work Order/Work Order Revision Owner:
        type:
          - "null"
          - string
        description: Work Order Owner?s name.
        maxLength: 100
      Work Order/Work Order Revision Owner Employee ID:
        type:
          - "null"
          - string
        description: Work Order Owner?s Employee ID.
        maxLength: 50
      Worker Email:
        type:
          - "null"
          - string
        description: Worker?s e-mail address.
        maxLength: 100
      Worker ID:
        type:
          - "null"
          - string
        description: 14-character alphanumeric SAP Fieldglass Worker ID.
        maxLength: 14
      "[c]Buyer or Supplier custom fields":
        type:
          - "null"
          - string
        description: |-
          Custom fields found on the supplier. (For supplier side
          download, only those fields required by buyer for supplier
          to be entered and viewed are downloaded.)If there are many
          custom fields, there will be many columns.Column header
          format will be: 
          ?[c]modulename_custom field name? (i.e. [c] followed by
          module custom text lowercase with no spaces, followed by
          underscore, followed by the custom field name text as
          defined by users in the SAP Fieldglass application.)
        maxLength: 4000
      "[c]Work Order Custom Fields":
        type:
          - "null"
          - string
        description: |-
          Custom fields found on the work order/work order revision. 
          If there are many custom fields, there will be many columns.
          Column header format will be:
          ?[c]modulename_custom field name? (i.e. [c] followed by
          module custom text lowercase with no spaces, followed by
          underscore, followed by the custom field name text as
          defined by users in the SAP Fieldglass application.)
        maxLength: 4000
      "[c]Worker Custom Fields":
        type:
          - "null"
          - string
        description: |-
          Custom fields found on the worker.
          If there are many custom fields, there will be many
          columns.Column header format will be: 
          "[c]modulename_custom field name" (i.e. [c] followed by
          module custom text lowercase with no spaces, followed by
          underscore, followed by the custom field name text as
          defined by users in the SAP Fieldglass application.)
        maxLength: 4000
      "[c]Worker User Person Custom Fields":
        type:
          - "null"
          - string
        description: |-
          Custom fields found on the worker user person
          If there are many custom fields, there will be many columns.
          Column header format will be: 
          ?[c]modulename_custom field name? (i.e. [c] followed by
          module custom text lowercase with no spaces, followed by
          underscore, followed by the custom field name text as
          defined by users in the SAP Fieldglass application.)
        maxLength: 4000
