@use "../../../../scss/variables";
@forward "../components/StreamRow.module.scss";
@forward "../components/DiffSection.module.scss";

.accordionContainer {
  width: 100%;
}

.accordionButton {
  width: 100%;
  background: none;
  border: none;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: variables.$spacing-md;
  padding: variables.$spacing-sm 30px variables.$spacing-sm 0px;
  font-weight: 400;
}

.iconBlock {
  display: flex;
  flex-direction: row;
  gap: 1px;
  margin-left: auto;
}

.namespace {
  padding-left: 0px;
}
