@forward "../components/StreamRow.module.scss";
@forward "../components/DiffSection.module.scss";

.accordionContainer {
  width: 100%;
}

.accordionButton {
  width: 100%;
  background: none;
  border: none;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 5px 30px 5px 20px;
}

.iconBlock {
  display: flex;
  flex-direction: row;
  gap: 1px;
  margin-left: auto;
}
