@use "scss/colors";
@use "scss/variables";
@use "./StreamRow.module.scss";

.sectionContainer {
  display: flex;
  flex-direction: column;
}

.table {
  border-spacing: 0;
}

.sectionSubHeader,
%sectionSubHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 variables.$spacing-md 0 variables.$spacing-2xl;
  width: 100%;
  height: 22px;

  & th {
    @extend %nameCell;

    text-align: left;
    font-weight: 400;
    font-size: 10px;
    color: colors.$grey;
    line-height: 12px;
  }
}

.sectionHeader,
%sectionHeader {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  padding: variables.$spacing-lg variables.$spacing-xl;
}
