@use "../../../../scss/variables";
@use "./DiffSection.module.scss";
@use "../../../../scss/colors";

ul,
li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
  height: auto;
  font-weight: 400;
}

.fieldSubHeader {
  @extend .sectionSubHeader;

  > div {
    @extend .nameCell;
    text-align: left;
    font-weight: 400;
    font-size: 10px;
    color: colors.$grey;
    line-height: 12px;
    padding-left: variables.$spacing-md;
  }
}
