@use "../../../../scss/colors";

.row {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: flex-start;
  padding: 5px 20px 5px 20px;
  gap: 10px;
  border-bottom: 1px solid colors.$white;
  width: 100%;
}

.rowContent {
  height: 35px;
  font-size: 12px;
  &.add {
    background-color: colors.$green-50;
  }
  &.remove {
    background-color: colors.$red-50;
  }
  &.update {
    background-color: colors.$grey-50;
  }
}

.icon {
  margin-top: -1px;
  &.plus {
    color: colors.$green;
  }
  &.minus {
    color: colors.$red;
  }
  &.mod {
    color: colors.$blue-100;
  }
}
