@use "../../../../scss/colors";

.row {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  padding: 5px 20px 5px 20px;
  gap: 10px;
  border-bottom: 1px solid colors.$white;
  width: 100%;
  font-size: 12px;

  &.add {
    background-color: colors.$green-50;
  }
  &.remove {
    background-color: colors.$red-50;
  }
}

.icon {
  margin-top: -1px;
  &.plus {
    color: colors.$green;
  }
  &.minus {
    color: colors.$red;
  }
  &.mod {
    color: colors.$blue-100;
  }
}

.syncModeBox {
  font-size: 11px;
  line-height: 12px;
  border-radius: 5px;
  padding: 5px 9px 5px 9px;
  width: 226px;
  opacity: 50%;
  background: colors.$red-100;
}

.nameCell {
  width: 140px;
  text-align: left;
  & .row {
    display: flex;
    flex-direction: row;
  }
}
