# airbyte-connectors-base-images

This python package contains the base images used by Airbyte connectors.
It is intended to be used as a python library.
Our connector build pipeline ([`airbyte-ci`](https://github.com/airbytehq/airbyte/blob/master/airbyte-ci/connectors/pipelines/README.md#L1)) uses this library to build the connector images.
Our base images are declared in code, using the [Dagger Python SDK](https://dagger-io.readthedocs.io/en/sdk-python-v0.6.4/).

- [Python base image code declaration](https://github.com/airbytehq/airbyte/blob/master/airbyte-ci/connectors/base_images/base_images/python/bases.py)
- [Java base image code declaration](https://github.com/airbytehq/airbyte/blob/master/airbyte-ci/connectors/base_images/base_images/java/bases.py)


## Where are the Dockerfiles?
Our base images are not declared using Dockerfiles.
They are declared in code using the [Dagger Python SDK](https://dagger-io.readthedocs.io/en/sdk-python-v0.6.4/).
We prefer this approach because it allows us to interact with base images container as code: we can use python to declare the base images and use the full power of the language to build and test them.
However, we do artificially generate Dockerfiles for debugging and documentation purposes.

{% for registry in registries %}
{% if registry.entries %}
### Example for `{{ registry.ConnectorBaseImageClass.repository }}`:
```dockerfile
{{ registry.entries[0].changelog_entry.dockerfile_example }}
```
{% endif %}
{% endfor %}

## Base images
{% for registry in registries %}

### `{{ registry.ConnectorBaseImageClass.repository }}`

| Version | Published | Docker Image Address | Changelog | 
|---------|-----------|--------------|-----------|
{%- for entry in registry.entries %}
|  {{ entry.version }} | {{ "✅" if entry.published else "❌" }}| {{ entry.published_docker_image.address }} | {{ entry.changelog_entry.changelog_entry }} |
{%- endfor %}
{% endfor %}

## How to release a new base image version (example for Python)

### Requirements
* [Docker](https://docs.docker.com/get-docker/)
* [Poetry](https://python-poetry.org/docs/#installation)
* Dockerhub logins

### Steps
1. `poetry install`
2. Open  `base_images/python/bases.py`.
3. Make changes to the `AirbytePythonConnectorBaseImage`, you're likely going to change the `get_container` method to change the base image.
4. Implement the `container` property which must return a `dagger.Container` object.
5. **Recommended**: Add new sanity checks to `run_sanity_check` to confirm that the new version is working as expected.
6. Cut a new base image version by running `poetry run generate-release`. You'll need your DockerHub credentials.

It will:
  - Prompt you to pick which base image you'd like to publish.
  - Prompt you for a major/minor/patch/pre-release version bump.
  - Prompt you for  a changelog message.
  - Run the sanity checks on the new version.
  - Optional: Publish the new version to DockerHub.
  - Regenerate the docs and the registry json file.
7. Commit and push your changes.
8. Create a PR and ask for a review from the Connector Operations team.

**Please note that if you don't publish your image while cutting the new version you can publish it later with `poetry run publish <repository> <version>`.**
No connector will use the new base image version until its metadata is updated to use it.
If you're not fully confident with the new base image version please:
  - please publish it as a pre-release version
  - try out the new version on a couple of connectors
  - cut a new version with a major/minor/patch bump and publish it
  - This steps can happen in different PRs.


## Running tests locally
```bash
poetry run pytest
# Static typing checks
poetry run mypy base_images --check-untyped-defs
```

## CHANGELOG

### 1.4.0
- Declare a base image for our java connectors.

### 1.3.1
- Update the crane image address. The previous address was deleted by the maintainer.

### 1.2.0
- Improve new version prompt to pick bump type with optional pre-release version.

### 1.1.0
- Add a cache ttl for base image listing to avoid DockerHub rate limiting.

### 1.0.4
- Upgrade Dagger to `0.13.3`

### 1.0.2

- Improved support for images with non-semantic-versioned tags.

### 1.0.1

- Bumped dependencies ([#42581](https://github.com/airbytehq/airbyte/pull/42581))
