version: 5.7.5

type: DeclarativeSource

description: >-
  An Airbyte source for the Track Property Management System (PMS)

  Enterprise-class property management solutions for vacation rental companies


  Website: https://tnsinc.com/

  API Docs: https://developer.trackhs.com

  Authentication Docs:
  https://developer.trackhs.com/docs/authentication#authentication

check:
  type: CheckStream
  stream_names:
    - units

definitions:
  streams:
    units:
      type: DeclarativeStream
      name: units
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/units
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - units
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1900-01-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: contentUpdatedSince
          inject_into: request_parameter
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - node
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - parent
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - type
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - lodgingType
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - taxDistrict
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - localOffice
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - travelInsuranceProduct
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - cleanStatus
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/units"
    owners:
      type: DeclarativeStream
      name: owners
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/owners
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - owners
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1900-01-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updatedSince
          inject_into: request_parameter
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/owners"
    fractionals:
      type: DeclarativeStream
      name: fractionals
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/owners/fractionals
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - fractionalGroups
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/fractionals"
    unit-blocks:
      type: DeclarativeStream
      name: unit-blocks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/unit-blocks
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - unitBlocks
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - reason
              - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/unit-blocks"
    folios:
      type: DeclarativeStream
      name: folios
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/folios
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - folios
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - reservation
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - account
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - contact
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - company
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - travelAgent
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - masterFolio
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - masterFolioRule
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/folios"
    nodes:
      type: DeclarativeStream
      name: nodes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/nodes
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - nodes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - parent
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - taxDistrict
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - localOffice
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - type
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/nodes"
    units-amenities:
      type: DeclarativeStream
      name: units-amenities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/units/amenities
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - amenities
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/units-amenities"
    quotes:
      type: DeclarativeStream
      name: quotes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/pms/quotes
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - quotes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/quotes"
    reservations_v2:
      type: DeclarativeStream
      name: reservations_v2
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/pms/reservations
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - reservations
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1900-01-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updatedSince
          inject_into: request_parameter
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - guaranteePolicy
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - contact
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - cancellationPolicy
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - cancellationReason
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - user
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - type
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - rateType
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - cancelledBy
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - paymentMethod
        - type: RemoveFields
          field_pointers:
            - - guestBreakdown
              - rates
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - channel
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reservations_v2"
    reservation-types:
      type: DeclarativeStream
      name: reservation-types
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/reservations/types
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - reservationTypes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reservation-types"
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: crm/contacts
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - contacts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1900-01-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updatedSince
          inject_into: request_parameter
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    tags:
      type: DeclarativeStream
      name: tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: tags
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - tags
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    unit-types:
      type: DeclarativeStream
      name: unit-types
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/units/types
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - unitTypes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - lodgingType
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/unit-types"
    lodging-types:
      type: DeclarativeStream
      name: lodging-types
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/units/lodging-types
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - lodgingTypes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - node
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - parent
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lodging-types"
    tax-districts:
      type: DeclarativeStream
      name: tax-districts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/tax-districts
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - taxdistricts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - shortTermPolicy
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - longTermPolicy
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - salesTaxPolicy
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tax-districts"
    tax-policies:
      type: DeclarativeStream
      name: tax-policies
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/tax-policies
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - taxpolicies
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - taxes
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tax-policies"
    taxes:
      type: DeclarativeStream
      name: taxes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/taxes
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - taxes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - account
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/taxes"
    travel-insurance-products:
      type: DeclarativeStream
      name: travel-insurance-products
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/reservations/travel-insurance-products
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - travelInsuranceProviders
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/travel-insurance-products"
    companies:
      type: DeclarativeStream
      name: companies
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: crm/companies
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - companies
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1900-01-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updatedSince
          inject_into: request_parameter
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/companies"
    contracts:
      type: DeclarativeStream
      name: contracts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/owners/contracts
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - contracts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contracts"
    fractionals_inventory:
      type: DeclarativeStream
      name: fractionals_inventory
      primary_key:
        - fraction_id
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/owners/fractionals/{{ stream_partition.fraction_id }}/inventory
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - inventory
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: fraction_id
              stream:
                $ref: "#/definitions/streams/fractionals"
              incremental_dependency: true
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - owner
        - type: AddFields
          fields:
            - path:
                - fraction_id
              value: "{{ stream_partition.fraction_id }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/fractionals_inventory"
    fractionals_owners:
      type: DeclarativeStream
      name: fractionals_owners
      primary_key:
        - fraction_id
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/owners/fractionals/{{ stream_partition.fraction_id }}/owners
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - owners
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: fraction_id
              stream:
                $ref: "#/definitions/streams/fractionals"
              incremental_dependency: true
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - fractional
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - owner
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - contract
        - type: AddFields
          fields:
            - path:
                - fraction_id
              value: "{{ stream_partition.fraction_id }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/fractionals_owners"
    unit_type_daily_pricing_v2:
      type: DeclarativeStream
      name: unit_type_daily_pricing_v2
      primary_key:
        - unit_type_id
        - rateTypeId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/pms/units/types/{{ stream_partition.unit_type_id }}/daily-pricing
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: unit_type_id
              stream:
                $ref: "#/definitions/streams/unit_types_pricing_parent"
      transformations:
        - type: AddFields
          fields:
            - path:
                - unit_type_id
              value: "{{ stream_partition.unit_type_id }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/unit_type_daily_pricing_v2"
    unit_daily_pricing_v2:
      type: DeclarativeStream
      name: unit_daily_pricing_v2
      primary_key:
        - unit_id
        - rateTypeId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/pms/units/{{ stream_partition.unit_id }}/daily-pricing
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: unit_id
              stream:
                $ref: "#/definitions/streams/units_pricing_parent"
              incremental_dependency: true
      transformations:
        - type: AddFields
          fields:
            - path:
                - unit_id
              value: "{{ stream_partition.unit_id }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/unit_daily_pricing_v2"
    unit_taxes:
      type: DeclarativeStream
      name: unit_taxes
      primary_key:
        - unit_id
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/units/{{ stream_partition.unit_id }}/taxes
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - unitTaxes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: unit_id
              stream:
                $ref: "#/definitions/streams/unit_taxes_parent"
              incremental_dependency: true
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: AddFields
          fields:
            - path:
                - unit_id
              value: "{{ stream_interval.unit_id }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/unit_taxes"
    accounting-items:
      type: DeclarativeStream
      name: accounting-items
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/accounting/items
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - revenueAccount
        - type: RemoveFields
          field_pointers:
            - - revenueAccounts
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - revenueAccount
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - taxPolicy
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounting-items"
    accounting-accounts:
      type: DeclarativeStream
      name: accounting-accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/accounting/accounts
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - accounts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - parent
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounting-accounts"
    accounting-transactions:
      type: DeclarativeStream
      name: accounting-transactions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/accounting/transactions
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - blocks
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - transaction
              - _embedded
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - transaction
              - reservation
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - transaction
              - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - reservation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounting-transactions"
    accounting-bills:
      type: DeclarativeStream
      name: accounting-bills
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/accounting/bills
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - bills
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - lines
              - "*"
              - billCharges
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - vendor
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - APAccount
        - type: RemoveFields
          field_pointers:
            - - lines
              - "*"
              - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - workOrder
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - children
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounting-bills"
    accounting-charges:
      type: DeclarativeStream
      name: accounting-charges
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/accounting/charges
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - charges
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounting-charges"
    maintenance-work-orders:
      type: DeclarativeStream
      name: maintenance-work-orders
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/maintenance/work-orders
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - workOrders
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1900-01-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updatedSince
          inject_into: request_parameter
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - lines
              - "*"
              - billCharges
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - vendor
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - APAccount
        - type: RemoveFields
          field_pointers:
            - - lines
              - "*"
              - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - owner
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/maintenance-work-orders"
    unit_taxes_parent:
      type: DeclarativeStream
      name: unit_taxes_parent
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/units
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - units
          record_filter:
            type: RecordFilter
            condition: "{{ record['taxId'] not in [None] }}"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1900-01-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: contentUpdatedSince
          inject_into: request_parameter
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - node
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - parent
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - type
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - lodgingType
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - taxDistrict
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - localOffice
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - travelInsuranceProduct
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - cleanStatus
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/unit_taxes_parent"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: users
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - users
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - vendor
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - role
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    roles:
      type: DeclarativeStream
      name: roles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: roles
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - roles
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/roles"
    crm_company_attachment:
      type: DeclarativeStream
      name: crm_company_attachment
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: crm/companies/{{ stream_interval.company_id }}/attachments
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - attachments
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: company_id
              stream:
                $ref: "#/definitions/streams/companies"
              incremental_dependency: true
      transformations:
        - type: AddFields
          fields:
            - path:
                - company_id
              value: "{{ stream_partition.company_id }}"
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/crm_company_attachment"
    crm-tasks:
      type: DeclarativeStream
      name: crm-tasks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: crm/tasks
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - tasks
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - user
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/crm-tasks"
    units-amenity-groups:
      type: DeclarativeStream
      name: units-amenity-groups
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/units/amenity-groups
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - amenitiesCategory
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/units-amenity-groups"
    nodes-types:
      type: DeclarativeStream
      name: nodes-types
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/nodes/types
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - nodeTypes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/nodes-types"
    charges:
      type: DeclarativeStream
      name: charges
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/charges
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - charges
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - item
              - revenueAccounts
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - item
              - _embedded
              - revenueAccount
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - item
              - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - item
              - _embedded
              - taxPolicy
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/charges"
    date-groups:
      type: DeclarativeStream
      name: date-groups
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/date-groups
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - dateGroups
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/date-groups"
    documents:
      type: DeclarativeStream
      name: documents
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/documents
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - documents
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/documents"
    folios-rules:
      type: DeclarativeStream
      name: folios-rules
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/folios/rules
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - rules
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/folios-rules"
    folio_logs:
      type: DeclarativeStream
      name: folio_logs
      primary_key:
        - folio_id
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/folios/{{ stream_interval.folio_id }}/logs
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - logs
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: folio_id
              stream:
                $ref: "#/definitions/streams/folios"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: AddFields
          fields:
            - path:
                - folio_id
              value: "{{ stream_interval.folio_id }}"
        - type: RemoveFields
          field_pointers:
            - - params
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/folio_logs"
    maintenance-problems:
      type: DeclarativeStream
      name: maintenance-problems
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/maintenance/problems
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - maintenanceProblems
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/maintenance-problems"
    owners_units:
      type: DeclarativeStream
      name: owners_units
      primary_key:
        - ownerId
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/owners/{{ stream_partition.owner_id }}/units
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - ownerUnits
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: owner_id
              stream:
                $ref: "#/definitions/streams/owners"
              incremental_dependency: true
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - owner
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - contract
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/owners_units"
    owners-contracts:
      type: DeclarativeStream
      name: owners-contracts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
[...]
