version: 6.5.2

type: DeclarativeSource

description: >-
  An Airbyte source for the Track Property Management System (PMS)

  Enterprise-class property management solutions for vacation rental companies


  Website: https://tnsinc.com/

  API Docs: https://developer.trackhs.com

  Authentication Docs:
  https://developer.trackhs.com/docs/authentication#authentication

check:
  type: CheckStream
  stream_names:
    - units

definitions:
  streams:
    accounting_accounts:
      type: DeclarativeStream
      name: accounting_accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/accounting/accounts
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - accounts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - parent
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounting_accounts"
    accounting_bills:
      type: DeclarativeStream
      name: accounting_bills
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/accounting/bills
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - bills
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - lines
              - "*"
              - billCharges
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - vendor
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - APAccount
        - type: RemoveFields
          field_pointers:
            - - lines
              - "*"
              - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - workOrder
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - children
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounting_bills"
    accounting_charges:
      type: DeclarativeStream
      name: accounting_charges
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/accounting/charges
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - charges
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounting_charges"
    accounting_deposits:
      type: DeclarativeStream
      name: accounting_deposits
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/accounting/deposits
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - deposits
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - bankAccount
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounting_deposits"
    accounting_deposits_payments:
      type: DeclarativeStream
      name: accounting_deposits_payments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/accounting/deposits/payments
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounting_deposits_payments"
    accounting_items:
      type: DeclarativeStream
      name: accounting_items
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/accounting/items
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - revenueAccount
        - type: RemoveFields
          field_pointers:
            - - revenueAccounts
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - revenueAccount
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - taxPolicy
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounting_items"
    accounting_transactions:
      type: DeclarativeStream
      name: accounting_transactions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/accounting/transactions
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - blocks
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - transaction
              - _embedded
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - transaction
              - reservation
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - transaction
              - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - reservation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounting_transactions"
    charges:
      type: DeclarativeStream
      name: charges
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/charges
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - charges
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - item
              - revenueAccounts
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - item
              - _embedded
              - revenueAccount
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - item
              - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - item
              - _embedded
              - taxPolicy
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/charges"
    companies:
      type: DeclarativeStream
      name: companies
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: crm/companies
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - companies
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1900-01-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updatedSince
          inject_into: request_parameter
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/companies"
    contact_companies:
      type: DeclarativeStream
      name: contact_companies
      primary_key:
        - contactId
        - companyId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: crm/contacts/{{ stream_partition.contact_id }}/companies
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - companies
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: contact_id
              stream:
                $ref: "#/definitions/streams/contacts"
              incremental_dependency: true
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - contact
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - company
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contact_companies"
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: crm/contacts
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - contacts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1900-01-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updatedSince
          inject_into: request_parameter
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    contactspii_redacted:
      type: DeclarativeStream
      name: contactspii_redacted
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: crm/contacts
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - contacts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1900-01-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updatedSince
          inject_into: request_parameter
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: AddFields
          fields:
            - path:
                - firstName
              value: "{{ record['firstName'] | hash('md5') }}"
        - type: AddFields
          fields:
            - path:
                - lastName
              value: "{{ record['lastName'] | hash('md5') }}"
        - type: AddFields
          fields:
            - path:
                - name
              value: "{{ record['name'] | hash('md5') }}"
        - type: AddFields
          fields:
            - path:
                - primaryEmail
              value: "{{ record['primaryEmail'] | hash('md5') }}"
        - type: AddFields
          fields:
            - path:
                - streetAddress
              value: "{{ record['streetAddress'] | hash('md5') }}"
        - type: AddFields
          fields:
            - path:
                - cellPhone
              value: "{{ record['cellPhone'] | hash('md5') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contactspii_redacted"
    contracts:
      type: DeclarativeStream
      name: contracts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/owners/contracts
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - contracts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contracts"
    crm_company_attachment:
      type: DeclarativeStream
      name: crm_company_attachment
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: crm/companies/{{ stream_interval.company_id }}/attachments
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - attachments
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: company_id
              stream:
                $ref: "#/definitions/streams/companies"
              incremental_dependency: true
      transformations:
        - type: AddFields
          fields:
            - path:
                - company_id
              value: "{{ stream_partition.company_id }}"
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/crm_company_attachment"
    crm_tasks:
      type: DeclarativeStream
      name: crm_tasks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: crm/tasks
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - tasks
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - user
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/crm_tasks"
    custom_fields:
      type: DeclarativeStream
      name: custom_fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: custom-fields
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - customFields
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_fields"
    date_groups:
      type: DeclarativeStream
      name: date_groups
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/date-groups
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - dateGroups
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/date_groups"
    documents:
      type: DeclarativeStream
      name: documents
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/documents
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - documents
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/documents"
    folio_logs:
      type: DeclarativeStream
      name: folio_logs
      primary_key:
        - folio_id
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/folios/{{ stream_interval.folio_id }}/logs
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - logs
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: folio_id
              stream:
                $ref: "#/definitions/streams/folios"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: AddFields
          fields:
            - path:
                - folio_id
              value: "{{ stream_interval.folio_id }}"
        - type: RemoveFields
          field_pointers:
            - - params
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/folio_logs"
    folios:
      type: DeclarativeStream
      name: folios
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/folios
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - folios
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - reservation
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - account
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - contact
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - company
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - travelAgent
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - masterFolio
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - masterFolioRule
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/folios"
    folios_master_rules:
      type: DeclarativeStream
      name: folios_master_rules
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/folios/rules
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - rules
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/folios_master_rules"
    folios_rules:
      type: DeclarativeStream
      name: folios_rules
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/folios/rules
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - rules
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/folios_rules"
    fractionals:
      type: DeclarativeStream
      name: fractionals
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/owners/fractionals
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - fractionalGroups
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/fractionals"
    fractionals_inventory:
      type: DeclarativeStream
      name: fractionals_inventory
      primary_key:
        - fraction_id
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/owners/fractionals/{{ stream_partition.fraction_id }}/inventory
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - inventory
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: fraction_id
              stream:
                $ref: "#/definitions/streams/fractionals"
              incremental_dependency: true
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - owner
        - type: AddFields
          fields:
            - path:
                - fraction_id
              value: "{{ stream_partition.fraction_id }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/fractionals_inventory"
    fractionals_owners:
      type: DeclarativeStream
      name: fractionals_owners
      primary_key:
        - fraction_id
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/owners/fractionals/{{ stream_partition.fraction_id }}/owners
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - owners
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: fraction_id
              stream:
                $ref: "#/definitions/streams/fractionals"
              incremental_dependency: true
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - fractional
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - owner
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - contract
        - type: AddFields
          fields:
            - path:
                - fraction_id
              value: "{{ stream_partition.fraction_id }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/fractionals_owners"
    group_blocks:
      type: DeclarativeStream
      name: group_blocks
      primary_key:
        - group_id
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/groups/{{ stream_partition.group_id }}/blocks
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - blocks
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: group_id
              stream:
                $ref: "#/definitions/streams/groups"
      transformations:
        - type: AddFields
          fields:
            - path:
                - group_id
              value: "{{ stream_partition.group_id }}"
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - reservation
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - folioBreakdown
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/group_blocks"
    group_breakdown:
      type: DeclarativeStream
      name: group_breakdown
      primary_key:
        - group_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/groups/{{ stream_partition.group_id }}/breakdown
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - breakdown
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: group_id
              stream:
                $ref: "#/definitions/streams/groups"
      transformations:
        - type: AddFields
          fields:
            - path:
                - group_id
              value: "{{ stream_partition.group_id }}"
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/group_breakdown"
    group_tags:
      type: DeclarativeStream
      name: group_tags
      primary_key:
        - group_id
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/groups/{{ stream_partition.group_id }}/tags
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - tags
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: group_id
              stream:
                $ref: "#/definitions/streams/groups"
      transformations:
        - type: AddFields
          fields:
            - path:
                - group_id
              value: "{{ stream_partition.group_id }}"
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/group_tags"
    groups:
      type: DeclarativeStream
      name: groups
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/groups
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - groups
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - account
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - company
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - rateType
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - reservationType
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - travelAgent
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - promoCode
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/groups"
    housekeeping_clean_types:
      type: DeclarativeStream
      name: housekeeping_clean_types
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/housekeeping/clean-types
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - cleanTypes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - expenseAccount
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - taskList
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/housekeeping_clean_types"
    housekeeping_task_list:
      type: DeclarativeStream
      name: housekeeping_task_list
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/task-lists
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - taskLists
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - tasks
              - "*"
              - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/housekeeping_task_list"
    housekeeping_work_orders:
      type: DeclarativeStream
      name: housekeeping_work_orders
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/housekeeping/work-orders
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - workOrders
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1900-01-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: contentUpdatedSince
          inject_into: request_parameter
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - user
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - cleanType
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - vendor
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - reservation
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - nextReservation
        - type: RemoveFields
          field_pointers:
            - - assignees
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/housekeeping_work_orders"
    lodging_types:
      type: DeclarativeStream
      name: lodging_types
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/units/lodging-types
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - lodgingTypes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - node
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - parent
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lodging_types"
    maintenance_problems:
      type: DeclarativeStream
      name: maintenance_problems
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/maintenance/problems
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - maintenanceProblems
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/maintenance_problems"
    maintenance_work_orders:
      type: DeclarativeStream
      name: maintenance_work_orders
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/maintenance/work-orders
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - workOrders
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1900-01-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updatedSince
          inject_into: request_parameter
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - lines
              - "*"
              - billCharges
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - vendor
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - APAccount
        - type: RemoveFields
          field_pointers:
            - - lines
              - "*"
              - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - owner
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/maintenance_work_orders"
    nodes:
      type: DeclarativeStream
      name: nodes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/nodes
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - nodes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - parent
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - taxDistrict
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - localOffice
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - type
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/nodes"
    nodes_types:
      type: DeclarativeStream
      name: nodes_types
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/nodes/types
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - nodeTypes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/nodes_types"
    owner_statements:
      type: DeclarativeStream
      name: owner_statements
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/owners/statements
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - statements
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - owner
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/owner_statements"
    owner_statement_transactions:
      type: DeclarativeStream
      name: owner_statement_transactions
      primary_key:
        - statement_id
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            pms/owners/statements/{{ stream_interval.statement_id
            }}/transactions
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - transactions
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: statement_id
              stream:
                $ref: "#/definitions/streams/owner_statements"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - owner
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: AddFields
          fields:
            - path:
                - statement_id
              value: "{{ stream_interval.statement_id }}"
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/owner_statement_transactions"
    owner_statement_transactions_pii_redacted:
      type: DeclarativeStream
      name: owner_statement_transactions_pii_redacted
      primary_key:
        - statement_id
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            pms/owners/statements/{{ stream_interval.statement_id
            }}/transactions
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - transactions
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: statement_id
              stream:
                $ref: "#/definitions/streams/owner_statements"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - owner
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: AddFields
          fields:
            - path:
                - statement_id
              value: "{{ stream_interval.statement_id }}"
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
        - type: RemoveFields
          field_pointers:
            - - lines
              - "*"
              - description
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/owner_statement_transactions_pii_redacted"
    owners:
      type: DeclarativeStream
      name: owners
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/owners
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - owners
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1900-01-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updatedSince
          inject_into: request_parameter
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/owners"
    owners_contracts:
      type: DeclarativeStream
      name: owners_contracts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/owners/contracts
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - contracts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/owners_contracts"
    owners_pii_redacted:
      type: DeclarativeStream
      name: owners_pii_redacted
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/owners
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - owners
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: "1900-01-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: updatedSince
          inject_into: request_parameter
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: AddFields
          fields:
            - path:
                - name
              value: "{{ record['name'] | hash('md5') }}"
        - type: AddFields
          fields:
            - path:
                - streetAddress
              value: "{{ record['streetAddress'] | hash('md5') }}"
        - type: AddFields
          fields:
            - path:
                - phone
              value: "{{ record['phone'] | hash('md5') }}"
        - type: AddFields
          fields:
            - path:
                - email
              value: "{{ record['email'] | hash('md5') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/owners_pii_redacted"
    owners_units:
      type: DeclarativeStream
      name: owners_units
      primary_key:
        - ownerId
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/owners/{{ stream_partition.owner_id }}/units
          http_method: GET
          request_headers:
            accept: application/json
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 5
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (1000 requests per 5 minutes) met,
                      waiting 5 minutes to reset.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - ownerUnits
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: owner_id
              stream:
                $ref: "#/definitions/streams/owners"
              incremental_dependency: true
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - owner
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - contract
        - type: RemoveFields
          field_pointers:
            - - _links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/owners_units"
    promo_codes:
      type: DeclarativeStream
      name: promo_codes
      primary_key:
        - id
      retriever:
[...]
