version: 6.30.0

type: DeclarativeSource

description: >-
  An Airbyte source for the Track Property Management System (PMS)

  Enterprise-class property management solutions for vacation rental companies


  Website: https://tnsinc.com/

  API Docs: https://developer.trackhs.com

  Authentication Docs:
  https://developer.trackhs.com/docs/authentication#authentication

check:
  type: CheckStream
  stream_names:
    - units

definitions:
  streams:
    tags:
      type: DeclarativeStream
      name: tags
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: tags
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - tags
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
    nodes:
      type: DeclarativeStream
      name: nodes
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/nodes
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - nodes
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/nodes"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - parent
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - taxDistrict
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - localOffice
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - type
    roles:
      type: DeclarativeStream
      name: roles
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: roles
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - roles
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/roles"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
    taxes:
      type: DeclarativeStream
      name: taxes
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/taxes
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - taxes
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/taxes"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - account
    units:
      type: DeclarativeStream
      name: units
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/units
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - units
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/units"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - node
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - parent
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - type
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - lodgingType
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - taxDistrict
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - localOffice
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - travelInsuranceProduct
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - cleanStatus
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        start_datetime:
          type: MinMaxDatetime
          datetime: "1900-01-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_time_option:
          type: RequestOption
          field_name: contentUpdatedSince
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    users:
      type: DeclarativeStream
      name: users
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: users
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - users
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - vendor
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - role
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - _links
    folios:
      type: DeclarativeStream
      name: folios
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/folios
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - folios
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/folios"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - reservation
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - account
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - contact
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - company
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - travelAgent
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - masterFolio
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - masterFolioRule
    groups:
      type: DeclarativeStream
      name: groups
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/groups
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - groups
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/groups"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - account
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - company
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - rateType
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - reservationType
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - travelAgent
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - promoCode
    owners:
      type: DeclarativeStream
      name: owners
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/owners
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - owners
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/owners"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        start_datetime:
          type: MinMaxDatetime
          datetime: "1900-01-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_time_option:
          type: RequestOption
          field_name: updatedSince
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    quotes:
      type: DeclarativeStream
      name: quotes
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/pms/quotes
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - quotes
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/quotes"
    charges:
      type: DeclarativeStream
      name: charges
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/charges
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - charges
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/charges"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - item
              - revenueAccounts
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - item
              - _embedded
              - revenueAccount
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - item
              - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - item
              - _embedded
              - taxPolicy
    reviews:
      type: DeclarativeStream
      name: reviews
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: channel-management/channel/reviews
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - channel_reviews
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reviews"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
    contacts:
      type: DeclarativeStream
      name: contacts
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: crm/contacts
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - contacts
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        start_datetime:
          type: MinMaxDatetime
          datetime: "1900-01-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_time_option:
          type: RequestOption
          field_name: updatedSince
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    companies:
      type: DeclarativeStream
      name: companies
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: crm/companies
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - companies
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/companies"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        start_datetime:
          type: MinMaxDatetime
          datetime: "1900-01-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_time_option:
          type: RequestOption
          field_name: updatedSince
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    contracts:
      type: DeclarativeStream
      name: contracts
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/owners/contracts
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - contracts
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contracts"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
    crm_tasks:
      type: DeclarativeStream
      name: crm_tasks
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: crm/tasks
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - tasks
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/crm_tasks"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - user
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
    documents:
      type: DeclarativeStream
      name: documents
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/documents
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - documents
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/documents"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
    rate_types:
      type: DeclarativeStream
      name: rate_types
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/rates/types
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - rateTypes
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/rate_types"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - parentRate
    date_groups:
      type: DeclarativeStream
      name: date_groups
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/date-groups
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - dateGroups
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/date_groups"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
    folios_logs:
      type: DeclarativeStream
      name: folios_logs
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/folios/{{ stream_interval.folio_id }}/logs
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - logs
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/folios"
              parent_key: id
              partition_field: folio_id
      primary_key:
        - folio_id
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/folios_logs"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: AddFields
          fields:
            - path:
                - folio_id
              value: "{{ stream_interval.folio_id }}"
        - type: RemoveFields
          field_pointers:
            - - params
    fractionals:
      type: DeclarativeStream
      name: fractionals
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/owners/fractionals
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - fractionalGroups
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/fractionals"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
    groups_tags:
      type: DeclarativeStream
      name: groups_tags
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/groups/{{ stream_partition.group_id }}/tags
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - tags
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/groups"
              parent_key: id
              partition_field: group_id
      primary_key:
        - group_id
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/groups_tags"
      transformations:
        - type: AddFields
          fields:
            - path:
                - group_id
              value: "{{ stream_partition.group_id }}"
        - type: RemoveFields
          field_pointers:
            - - _links
    nodes_types:
      type: DeclarativeStream
      name: nodes_types
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/nodes/types
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - nodeTypes
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/nodes_types"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
    promo_codes:
      type: DeclarativeStream
      name: promo_codes
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/pms/promo-codes
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - promoCodes
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/promo_codes"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
    units_taxes:
      type: DeclarativeStream
      name: units_taxes
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/units/{{ stream_partition.unit_id }}/taxes
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - unitTaxes
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/units_taxes_parent"
              parent_key: id
              partition_field: unit_id
              incremental_dependency: true
      primary_key:
        - unit_id
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/units_taxes"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: AddFields
          fields:
            - path:
                - unit_id
              value: "{{ stream_interval.unit_id }}"
    units_types:
      type: DeclarativeStream
      name: units_types
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/units/types
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - unitTypes
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/units_types"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - lodgingType
    folios_rules:
      type: DeclarativeStream
      name: folios_rules
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/folios/rules
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - rules
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/folios_rules"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
    owners_units:
      type: DeclarativeStream
      name: owners_units
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/owners/{{ stream_partition.owner_id }}/units
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - ownerUnits
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/owners"
              parent_key: id
              partition_field: owner_id
              incremental_dependency: true
      primary_key:
        - ownerId
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/owners_units"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - owner
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - contract
        - type: RemoveFields
          field_pointers:
            - - _links
    reservations:
      type: DeclarativeStream
      name: reservations
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/reservations
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - reservations
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reservations"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - guaranteePolicy
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - contact
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - cancellationPolicy
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - cancellationReason
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - user
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - type
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - rateType
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - cancelledBy
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - paymentMethod
        - type: RemoveFields
          field_pointers:
            - - guestBreakdown
              - rates
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - channel
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        start_datetime:
          type: MinMaxDatetime
          datetime: "1900-01-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_time_option:
          type: RequestOption
          field_name: updatedSince
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    tax_policies:
      type: DeclarativeStream
      name: tax_policies
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/tax-policies
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - taxpolicies
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tax_policies"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - taxes
    units_blocks:
      type: DeclarativeStream
      name: units_blocks
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/unit-blocks
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - unitBlocks
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/units_blocks"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - reason
              - _links
    custom_fields:
      type: DeclarativeStream
      name: custom_fields
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: custom-fields
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - customFields
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_fields"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
    groups_blocks:
      type: DeclarativeStream
      name: groups_blocks
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/groups/{{ stream_partition.group_id }}/blocks
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - blocks
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/groups"
              parent_key: id
              partition_field: group_id
      primary_key:
        - group_id
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/groups_blocks"
      transformations:
        - type: AddFields
          fields:
            - path:
                - group_id
              value: "{{ stream_partition.group_id }}"
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - reservation
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - folioBreakdown
        - type: RemoveFields
          field_pointers:
            - - _links
    lodging_types:
      type: DeclarativeStream
      name: lodging_types
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/units/lodging-types
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - lodgingTypes
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lodging_types"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - node
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - parent
    tax_districts:
      type: DeclarativeStream
      name: tax_districts
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/tax-districts
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - taxdistricts
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tax_districts"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - shortTermPolicy
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - longTermPolicy
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - salesTaxPolicy
    units_channel:
      type: DeclarativeStream
      name: units_channel
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/units/{{ stream_interval.unit_id }}/channels
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - channels
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/units"
              parent_key: id
              partition_field: unit_id
              incremental_dependency: true
      primary_key:
        - unit_id
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/units_channel"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: AddFields
          fields:
            - path:
                - unit_id
              value: "{{ stream_interval.unit_id }}"
    reservations_v2:
      type: DeclarativeStream
      name: reservations_v2
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/pms/reservations
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - reservations
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reservations_v2"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - guaranteePolicy
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - contact
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - cancellationPolicy
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - cancellationReason
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - user
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - type
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - rateType
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - cancelledBy
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - paymentMethod
        - type: RemoveFields
          field_pointers:
            - - guestBreakdown
              - rates
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - channel
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        start_datetime:
          type: MinMaxDatetime
          datetime: "1900-01-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        start_time_option:
          type: RequestOption
          field_name: updatedSince
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
    units_amenities:
      type: DeclarativeStream
      name: units_amenities
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/units/amenities
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - amenities
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/units_amenities"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
    units_bed_types:
      type: DeclarativeStream
      name: units_bed_types
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/units/bed-types
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - bedTypes
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/units_bed_types"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
    accounting_bills:
      type: DeclarativeStream
      name: accounting_bills
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/accounting/bills
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - bills
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounting_bills"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - lines
              - "*"
              - billCharges
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - vendor
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - APAccount
        - type: RemoveFields
          field_pointers:
            - - lines
              - "*"
              - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - workOrder
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - children
    accounting_items:
      type: DeclarativeStream
      name: accounting_items
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/accounting/items
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - items
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounting_items"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - revenueAccount
        - type: RemoveFields
          field_pointers:
            - - revenueAccounts
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - revenueAccount
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - taxPolicy
    groups_breakdown:
      type: DeclarativeStream
      name: groups_breakdown
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/groups/{{ stream_partition.group_id }}/breakdown
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - breakdown
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/groups"
              parent_key: id
              partition_field: group_id
      primary_key:
        - group_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/groups_breakdown"
      transformations:
        - type: AddFields
          fields:
            - path:
                - group_id
              value: "{{ stream_partition.group_id }}"
        - type: RemoveFields
          field_pointers:
            - - _links
    owners_contracts:
      type: DeclarativeStream
      name: owners_contracts
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/owners/contracts
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - contracts
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/owners_contracts"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
    owners_statements:
      type: DeclarativeStream
      name: owners_statements
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/owners/statements
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - statements
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/owners_statements"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - owner
        - type: RemoveFields
          field_pointers:
            - - _links
    accounting_charges:
      type: DeclarativeStream
      name: accounting_charges
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: pms/accounting/charges
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: >-
                      Track rate limit (10,000 requests per 5 minutes) met,
                      waiting 5 minutes and 5 seconds to reset.
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 305
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - charges
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounting_charges"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - _links
        - type: RemoveFields
          field_pointers:
            - - _embedded
              - unit
    contacts_companies:
      type: DeclarativeStream
      name: contacts_companies
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: crm/contacts/{{ stream_partition.contact_id }}/companies
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
[...]
