version: 0.78.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  streams:
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: /accounts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
          record_filter:
            type: RecordFilter
            condition: '{{ record[''id''] in config[''account_ids''] }}'
      transformations:
        - type: AddFields
          fields:
            - path:
                - name
              value: '{{record.attributes.name}}'
            - path:
                - timezone
              value: '{{record.attributes.timezone}}'
    leads:
      type: DeclarativeStream
      name: leads
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: 'https://api.leadfeeder.com/accounts/{{ stream_partition.account_id }}/leads'
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: '#/definitions/streams/accounts'
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: last_visit_date
        lookback_window: P{{ config['lookback_days'] }}D
        cursor_datetime_formats:
          - '%Y-%m-%d'
        datetime_format: '%Y-%m-%d'
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config[''start_date''] }}'
          datetime_format: '%Y-%m-%d'
        start_time_option:
          type: RequestOption
          field_name: start_date
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end_date
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: '{{ now_utc().strftime(''%Y-%m-%d'') }}'
          datetime_format: '%Y-%m-%d'
        step: P1D
        cursor_granularity: P1D
      transformations:
        - type: AddFields
          fields:
            - path:
                - account_id
              value: '{{stream_partition.account_id}}'
            - path:
                - last_visit_date
              value: '{{ record.attributes.last_visit_date }}'
            - path:
              - first_visit_date
              value: '{{ record.attributes.first_visit_date }}'
            - path:
              - last_visit_date
              value: '{{ record.attributes.last_visit_date }}'
            - path:
              - name
              value: '{{ record.attributes.name }}'
            - path:
              - website_url
              value: '{{ record.attributes.website_url }}'
            - path:
              - industry
              value: '{{ record.attributes.industry }}'
            - path:
              - crm_lead_id
              value: '{{ record.attributes.crm_lead_id }}'
            - path:
              - crm_organization_id
              value: '{{ record.attributes.crm_organization_id }}'
            - path:
              - employee_count
              value: '{{ record.attributes.employee_count }}'
            - path:
              - visits
              value: '{{ record.attributes.visit }}'
            - path:
              - quality
              value: '{{ record.attributes.quality }}'
    visits:
      type: DeclarativeStream
      name: visits
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: 'https://api.leadfeeder.com/accounts/{{ stream_partition.account_id }}/visits'
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: '#/definitions/streams/accounts'
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        lookback_window: P{{ config['lookback_days'] }}D
        cursor_datetime_formats:
          - '%Y-%m-%d'
        datetime_format: '%Y-%m-%d'
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config[''start_date''] }}'
          datetime_format: '%Y-%m-%d'
        start_time_option:
          type: RequestOption
          field_name: start_date
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: end_date
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: '{{ now_utc().strftime(''%Y-%m-%d'') }}'
          datetime_format: '%Y-%m-%d'
        step: P1D
        cursor_granularity: P1D
      transformations:
        - type: AddFields
          fields:
            - path:
                - account_id
              value: '{{stream_partition.account_id}}'
            - path:
              - lead_id
              value: '{{ record.attributes.lead_id }}'
            - path:
              - started_at
              value: '{{ record.attributes.started_at }}'
            - path:
              - source
              value: '{{ record.attributes.source }}'
            - path:
              - medium
              value: '{{ record.attributes.medium }}'
            - path:
              - campaign
              value: '{{ record.attributes.campaign }}'
            - path:
              - content
              value: '{{ record.attributes.content }}'
            - path:
              - keyword
              value: '{{ record.attributes.keyword }}'
            - path:
              - query_term
              value: '{{ record.attributes.query_term }}'
            - path:
              - referring_url
              value: '{{ record.attributes.referring_url }}'
            - path:
              - page_depth
              value: '{{ record.attributes.page_depth }}'
            - path:
              - visit_length
              value: '{{ record.attributes.visit_length }}'
            - path:
              - lf_client_id
              value: '{{ record.attributes.lf_client_id }}'
            - path:
              - ga_client_ids
              value: '{{ record.attributes.ga_client_ids }}'
            - path:
              - country_code
              value: '{{ record.attributes.country_code }}'
            - path:
              - device_type
              value: '{{ record.attributes.device_type }}'
            - path:
              - date
              value: '{{ record.attributes.date }}'
            - path:
              - hour
              value: '{{ record.attributes.hour }}'
            - path:
              - visit_route
              value: '{{ record.attributes.visit_route }}'
  base_requester:
    type: HttpRequester
    url_base: https://api.leadfeeder.com
    authenticator:
      type: ApiKeyAuthenticator
      api_token: 'Token token={{ config[''api_key''] }}'
      inject_into:
        type: RequestOption
        field_name: Authorization
        inject_into: header

streams:
  - $ref: '#/definitions/streams/accounts'
  - $ref: '#/definitions/streams/leads'
  - $ref: '#/definitions/streams/visits'

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
      - lookback_days
      - account_ids
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
      start_date:
        type: string
        order: 1
        title: Start Date
        format: date
        default: '2024-01-01'
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
      lookback_days:
        type: integer
        order: 2
        title: Lookback Days
        default: '1'
      account_ids:
        type: array
        title: Account IDs
        order: 3
    additionalProperties: true

metadata:
  autoImportSchema:
    accounts: true
    leads: true
    visits: true
