@use "../../../scss/colors";

.alertBannerContainer {
  height: 30px;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 3;
  font-size: 12px;
  line-height: 30px;
  color: colors.$black;

  & a {
    color: colors.$black;
  }
}

.beige {
  background-color: colors.$beige-100;
}

.red {
  background-color: colors.$red;
}
