version: 0.79.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - workspace

definitions:
  streams:
    workspace:
      type: DeclarativeStream
      name: workspace
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: workspaces/{{config['workspace']}}
          http_method: GET
          request_parameters:
            start_date: "{{ config.get('start_date') }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/workspace"
    members:
      type: DeclarativeStream
      name: members
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "{{config['workspace']}}/members"
          http_method: GET
          request_parameters:
            start_date: "{{ config.get('start_date') }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: items
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/members"
  base_requester:
    type: HttpRequester
    url_base: https://app.orbit.love/api/v1/
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config['api_token'] }}"

streams:
  - $ref: "#/definitions/streams/workspace"
  - $ref: "#/definitions/streams/members"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_token
      - workspace
    properties:
      api_token:
        type: string
        airbyte_secret: true
        title: API Token
        description: >-
          Authorizes you to work with Orbit workspaces associated with the
          token.
        order: 0
      workspace:
        type: string
        title: Workspace
        description: >-
          The unique name of the workspace that your API token is associated
          with.
        order: 1
      start_date:
        type: string
        title: Start Date
        description: >-
          Date in the format 2022-06-26. Only load members whose last activities
          are after this date.
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    workspace: false
    members: false

schemas:
  workspace:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
        description: The type of entity, in this case, it's 'workspace'
      attributes:
        type:
          - "null"
          - object
        additionalProperties: true
        description: Attributes related to the workspace
        properties:
          activities_count:
            type:
              - "null"
              - integer
            description: The total number of activities in the workspace
          created_at:
            type:
              - "null"
              - string
            description: Date and time when the workspace was created
          members_count:
            type:
              - "null"
              - integer
            description: The total number of members in the workspace
          name:
            type:
              - "null"
              - string
            description: The name of the workspace
          slug:
            type:
              - "null"
              - string
            description: A unique identifier for the workspace
          tags:
            type:
              - "null"
              - object
            additionalProperties: true
            description: Tags associated with the workspace
            properties: {}
          updated_at:
            type:
              - "null"
              - string
            description: Date and time when the workspace was last updated
      id:
        type:
          - "null"
          - string
        description: The unique identifier for the workspace
      relationships:
        type: object
        description: Relationships of the workspace with other entities
        properties:
          last_activity:
            type:
              - "null"
              - object
            description: Information about the last activity in the workspace
            properties:
              data:
                type:
                  - "null"
                  - object
                description: Details of the last activity
          last_member:
            type:
              - "null"
              - object
            description: Information about the last member who joined the workspace
            properties:
              data:
                type:
                  - "null"
                  - object
                description: Details of the last member
          repositories:
            type:
              - "null"
              - object
            description: List of repositories associated with the workspace
            properties:
              data:
                type:
                  - "null"
                  - array
                description: Details of the repositories
  members:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
        description: Type of entity, in this case, the member
      attributes:
        type:
          - "null"
          - object
        additionalProperties: true
        description: Contains the main attributes data of the member
        properties:
          activities_count:
            type:
              - "null"
              - integer
            description: Total number of activities performed by the member
          activities_score:
            type:
              - "null"
              - number
            description: Score calculated based on the member's activities
          avatar_url:
            type:
              - "null"
              - string
            description: URL of the member's avatar image
          bio:
            type:
              - "null"
              - string
            description: Member's biography or description
          birthday:
            type:
              - "null"
              - string
            description: Date of birth of the member
          company:
            type:
              - "null"
              - string
            description: Name of the company the member is associated with
          created:
            type:
              - "null"
              - boolean
            description: Creation timestamp of the member
          created_at:
            type:
              - "null"
              - string
            description: Timestamp when the member was created
          deleted_at:
            type:
              - "null"
              - string
            description: Timestamp when the member was deleted, if applicable
          devto:
            type:
              - "null"
              - string
            description: DEV.TO profile link of the member
          discord:
            type:
              - "null"
              - string
            description: Discord profile link of the member
          discourse:
            type:
              - "null"
              - string
            description: Discourse profile link of the member
          email:
            type:
              - "null"
              - string
            description: Email address of the member
          first_activity_occurred_at:
            type:
              - "null"
              - string
            description: Timestamp of the first activity performed by the member
          github:
            type:
              - "null"
              - string
            description: GitHub profile link of the member
          github_followers:
            type:
              - "null"
              - integer
            description: Number of followers on GitHub
          id:
            type:
              - "null"
              - string
            description: Unique identifier for the member
          languages:
            type:
              - "null"
              - array
            description: List of programming languages known by the member
            items:
              type:
                - "null"
                - string
          last_activity_occurred_at:
            type:
              - "null"
              - string
            description: Timestamp of the last activity performed by the member
          linkedin:
            type:
              - "null"
              - string
            description: LinkedIn profile link of the member
          location:
            type:
              - "null"
              - string
            description: Current location of the member
          love:
            type:
              - "null"
              - string
            description: >-
              Measure of appreciation or positive feedback received by the
              member
          merged_at:
            type:
              - "null"
              - string
            description: Timestamp when the member's data was merged
          name:
            type:
              - "null"
              - string
            description: Full name of the member
          orbit_level:
            type:
              - "null"
              - integer
            description: Level of engagement with Orbit platform
          orbit_url:
            type:
              - "null"
              - string
            description: URL to access the member's Orbit profile
          pronouns:
            type:
              - "null"
              - string
            description: Preferred pronouns of the member
          reach:
            type:
              - "null"
              - integer
            description: Extent of influence or reach the member has
          shipping_address:
            type:
              - "null"
              - string
            description: Shipping address details of the member
          slug:
            type:
              - "null"
              - string
            description: Unique string used in URLs to identify the member
          source:
            type:
              - "null"
              - string
            description: Source or platform from which the member originated
          tag_list:
            type:
              - "null"
              - array
            description: List of tags associated with the member
            items:
              type:
                - "null"
                - string
          tags:
            type:
              - "null"
              - array
            description: Additional tags associated with the member for categorization
            items:
              type:
                - "null"
                - string
          teammate:
            type: boolean
            description: Indicates if the member is a teammate within an organization
          title:
            type:
              - "null"
              - string
            description: Job title or role of the member
          topics:
            type:
              - "null"
              - array
            description: List of topics of interest to the member
            items:
              type:
                - "null"
                - string
          tshirt:
            type:
              - "null"
              - string
            description: T-shirt size preference of the member
          twitter:
            type:
              - "null"
              - string
            description: Twitter profile link of the member
          twitter_followers:
            type:
              - "null"
              - integer
            description: Number of followers on Twitter
          updated_at:
            type:
              - "null"
              - string
            description: Timestamp of the last update to the member profile
          url:
            type:
              - "null"
              - string
            description: URL of the member profile
      fake:
        type:
          - "null"
          - string
        description: Indicates if the member data is fake or real
      id:
        type:
          - "null"
          - string
        description: Unique identifier for the member
      relationships:
        type:
          - "null"
          - object
        additionalProperties: true
        description: Contains the relationship data of the member
        properties: {}
