version: "4.3.2"

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - organizations
    - events
    - agenda_items
    - discussion_groups
    - tracks
    - webinars
    - event_members

streams:
  - type: DeclarativeStream
    name: organizations
    description: Organizations stream. Events are the base object of Goldcast.
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
      requester:
        type: HttpRequester
        http_method: GET
        url: https://customapi.goldcast.io/core/organization/
        authenticator:
          type: ApiKeyAuthenticator
          header: X-Cvent-Authorization
          api_token: "Token {{ config['access_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        title: Organization Schema
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type: string
          name:
            type: string
          tier:
            type:
              - "null"
              - string
          owner:
            type: string
          add_ons:
            type:
              - "null"
              - object
          tray_id:
            type: string
          sso_type:
            type:
              - "null"
              - string
          drift_url:
            type:
              - "null"
              - string
          ga_script:
            type:
              - "null"
              - string
          created_at:
            type: string
            format: date-time
          is_renewal:
            type: boolean
          short_name:
            type: string
          show_forms:
            type: boolean
          updated_at:
            type: string
            format: date-time
          is_tentpole:
            type: boolean
          drift_script:
            type:
              - "null"
              - string
          email_sender:
            type: string
          marketo_cred:
            type:
              - object
              - "null"
          can_add_track:
            type: boolean
          customer_type:
            type: string
          hubspot_token:
            type:
              - object
              - "null"
          is_free_trial:
            type: boolean
          eloqua_form_id:
            type:
              - "null"
              - string
          marketing_tags:
            type: string
          show_templates:
            type: boolean
          vivenu_api_key:
            type:
              - "null"
              - string
          is_kudo_enabled:
            type: boolean
          transcoder_type:
            type: string
          allow_whitelabel:
            type: boolean
          caption_glossary:
            type:
              - "null"
              - string
          enabled_rtmp_out:
            type: boolean
          is_drift_enabled:
            type: boolean
          is_slack_enabled:
            type: boolean
          salesforce_token:
            type:
              - object
              - "null"
          use_profile_tags:
            type: boolean
          allow_booth_tiers:
            type: boolean
          contract_end_date:
            type: string
            format: date-time
          hubspot_portal_id:
            type: integer
          is_eloqua_enabled:
            type: boolean
          is_pardot_enabled:
            type: boolean
          is_series_enabled:
            type: boolean
          is_wistia_enabled:
            type: boolean
          salesforce_org_id:
            type:
              - "null"
              - string
          is_active_customer:
            type: boolean
          is_marketo_enabled:
            type: boolean
          is_webhook_enabled:
            type: boolean
          postmark_domain_id:
            type: integer
          use_new_studio_app:
            type: boolean
          workspace_settings:
            type:
              - "null"
              - object
          allow_hybrid_events:
            type: boolean
          allowed_event_count:
            type:
              - "null"
              - integer
          content_clips_count:
            type:
              - "null"
              - integer
          content_lab_enabled:
            type: boolean
          contract_start_date:
            type: string
            format: date-time
          enable_hls_captions:
            type: boolean
          is_waitlist_enabled:
            type: boolean
          newbie_content_user:
            type: boolean
          salesforce_base_url:
            type:
              - "null"
              - string
          allow_token_creation:
            type: boolean
          anonymize_log_rocket:
            type: boolean
          can_create_hub_pages:
            type: boolean
          enable_live_captions:
            type: boolean
          enable_old_reg_pages:
            type: boolean
          enable_virtual_event:
            type: boolean
          enabled_appbase_sync:
            type: boolean
          is_workspace_enabled:
            type: boolean
          use_new_integrations:
            type: boolean
          workos_connection_id:
            type:
              - "null"
              - string
          email_domain_verified:
            type: boolean
          event_domain_settings:
            type: object
          is_booths_tab_enabled:
            type: boolean
          is_salesforce_enabled:
            type: boolean
          no_of_organizer_seats:
            type: integer
          postmark_signature_id:
            type: integer
          content_video_duration:
            type:
              - "null"
              - integer
          show_breakout_room_cta:
            type: boolean
          base_marketo_program_id:
            type:
              - "null"
              - string
          can_change_event_length:
            type: boolean
          enable_inhouse_simulive:
            type: boolean
          enable_reg_page_builder:
            type: boolean
          is_translations_enabled:
            type: boolean
          marketo_user_profile_id:
            type:
              - "null"
              - string
          in_person_events_enabled:
            type: boolean
          is_roi_dashboard_enabled:
            type: boolean
          show_secondary_booth_tab:
            type: boolean
          use_bee_pro_for_reg_page:
            type: boolean
          use_snowflake_dashboards:
            type: boolean
          can_create_rtmp_broadcast:
            type: boolean
          clip_generation_algo_type:
            type: string
          goldcast_branding_enabled:
            type: boolean
          is_content_lab_standalone:
            type: boolean
          is_ux_translation_enabled:
            type: boolean
          lead_creation_preferences:
            type: object
            properties:
              SLACK:
                type: boolean
              ELOQUA:
                type: boolean
              PARDOT:
                type: boolean
              HUBSPOT:
                type: boolean
              MARKETO:
                type: boolean
              SALESFORCE:
                type: boolean
          marketo_user_engagement_id:
            type:
              - "null"
              - string
          show_advanced_branding_tab:
            type: boolean
          enable_reg_form_validations:
            type: boolean
          has_marketo_api_permissions:
            type: boolean
          is_repeating_events_enabled:
            type: boolean
          is_slack_salesforce_enabled:
            type: boolean
          cross_event_report_available:
            type: boolean
          disable_non_sso_admin_logins:
            type: boolean
          fix_max_video_quality_with_vb:
            type: boolean
          pass_vivenu_props_in_activity:
            type: boolean
          is_prerecorded_session_enabled:
            type: boolean
          is_registrant_activity_enabled:
            type: boolean
          is_magiclink_sync_to_map_enabled:
            type: boolean
          can_create_live_hybrid_broadcasts:
            type: boolean
          enable_live_captions_translations:
            type: boolean
          event_summary_dashboard_available:
            type: boolean
          is_multi_day_session_track_enabled:
            type: boolean
          registration_app_vanity_domain_settings:
            type: object
          marketo_goldcast_event_custom_activity_id:
            type:
              - "null"
              - string
        additionalProperties: true

  - type: DeclarativeStream
    name: events
    description: Events stream. Events are the base object of Goldcast.
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
      requester:
        type: HttpRequester
        http_method: GET
        url: https://customapi.goldcast.io/event/
        authenticator:
          type: ApiKeyAuthenticator
          header: X-Cvent-Authorization
          api_token: "Token {{ config['access_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          description:
            type:
              - string
              - "null"
          metadata:
            type:
              - object
              - "null"
          id:
            type: string
          timezone:
            type:
              - string
              - "null"
          manual_breakout:
            type:
              - boolean
              - "null"
          supported_languages:
            type:
              - array
              - "null"
          events_app_languages:
            type:
              - array
              - "null"
          ticker_url:
            type:
              - string
              - "null"
          is_single_session:
            type:
              - boolean
              - "null"
          created_by_user:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              first_name:
                type:
                  - string
                  - "null"
              last_name:
                type:
                  - string
                  - "null"
              email:
                type:
                  - string
                  - "null"
              organization:
                type:
                  - string
                  - "null"
              role:
                type:
                  - string
                  - "null"
              profile_picture_url:
                type:
                  - string
                  - "null"
          updated_by_user:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              first_name:
                type:
                  - string
                  - "null"
              last_name:
                type:
                  - string
                  - "null"
              email:
                type:
                  - string
                  - "null"
              organization:
                type:
                  - string
                  - "null"
              role:
                type:
                  - string
                  - "null"
              profile_picture_url:
                type:
                  - string
                  - "null"
          registrant_count:
            type:
              - number
              - "null"
          registration_cta_link:
            type:
              - string
              - "null"
          event_type:
            type:
              - string
              - "null"
          broadcast_type:
            type:
              - string
              - "null"
          registration_form_data:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              is_one_click_enabled:
                type:
                  - boolean
                  - "null"
              form_type:
                type:
                  - string
                  - "null"
              is_default:
                type:
                  - boolean
                  - "null"
              is_global_form:
                type:
                  - boolean
                  - "null"
              schema_url:
                type:
                  - string
                  - "null"
              organization:
                type:
                  - string
                  - "null"
              formio_schema_url:
                type:
                  - string
                  - "null"
          deleted_by_cascade:
            type:
              - boolean
              - "null"
          created_at:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          discussions_chat_disabled:
            type:
              - boolean
              - "null"
          discussion_room_tab_title:
            type:
              - string
              - "null"
          show_booths:
            type:
              - boolean
              - "null"
          booth_chat_disabled:
            type:
              - boolean
              - "null"
          booth_tab_title:
            type:
              - string
              - "null"
          show_attendees:
            type:
              - boolean
              - "null"
          p2p_chat_disabled:
            type:
              - boolean
              - "null"
          floating_emoji_reactions_enabled:
            type:
              - boolean
              - "null"
          event_catch_me_up_enabled:
            type:
              - boolean
              - "null"
          show_attendee_profiles:
            type:
              - boolean
              - "null"
          people_tab_title:
            type:
              - string
              - "null"
          speaker_tab_visible:
            type:
              - boolean
              - "null"
          speaker_tab_title:
            type:
              - string
              - "null"
          public_chat_disabled:
            type:
              - boolean
              - "null"
          thread_chat_disabled:
            type:
              - boolean
              - "null"
          gifs_enabled:
            type:
              - boolean
              - "null"
          is_text_qna_moderated:
            type:
              - boolean
              - "null"
          have_text_qna:
            type:
              - boolean
              - "null"
          have_video_qna:
            type:
              - boolean
              - "null"
          enable_live_captions:
            type:
              - boolean
              - "null"
          enable_live_captions_translations:
            type:
              - boolean
              - "null"
          email_alias_name:
            type:
              - string
              - "null"
          demo_request_message:
            type:
              - string
              - "null"
          broadcast_chat_disabled:
            type:
              - boolean
              - "null"
          anonymous_qna_enabled:
            type:
              - boolean
              - "null"
          show_answerers_identity:
            type:
              - boolean
              - "null"
          textqna_answerers_alias:
            type:
              - string
              - "null"
          is_title_visible:
            type:
              - boolean
              - "null"
          is_date_visible:
            type:
              - boolean
              - "null"
          is_logo_visible:
            type:
              - boolean
              - "null"
          disable_enter_event_button:
            type:
              - boolean
              - "null"
          enable_tech_check:
            type:
              - boolean
              - "null"
          show_onboarding:
            type:
              - boolean
              - "null"
          logo_url:
            type:
              - string
              - "null"
          favicon:
            type:
              - string
              - "null"
          show_discussion_rooms:
            type:
              - boolean
              - "null"
          title:
            type:
              - string
              - "null"
          theme_obj:
            type:
              - object
              - "null"
            properties:
              logos:
                type:
                  - array
                  - "null"
              font_type:
                type:
                  - string
                  - "null"
              auth_theme:
                type:
                  - boolean
                  - "null"
              theme_type:
                type:
                  - string
                  - "null"
              show_borders:
                type:
                  - boolean
                  - "null"
              sidebar_blur:
                type:
                  - string
                  - "null"
              sidebar_alpha:
                type:
                  - number
                  - "null"
              theme_font_src:
                type:
                  - string
                  - "null"
              page_item_alpha:
                type:
                  - number
                  - "null"
              theme_font_link:
                type:
                  - string
                  - "null"
              theme_font_name:
                type:
                  - string
                  - "null"
              event_background:
                type:
                  - string
                  - "null"
              name_card_radius:
                type:
                  - string
                  - "null"
              splash_font_type:
                type:
                  - string
                  - "null"
              splash_page_hero:
                type:
                  - string
                  - "null"
              stage_background:
                type:
                  - string
                  - "null"
              stage_text_color:
                type:
                  - string
                  - "null"
              onEditScreenSaver:
                type:
                  - boolean
                  - "null"
              splash_text_color:
                type:
                  - string
                  - "null"
              primary_text_color:
                type:
                  - string
                  - "null"
              splash_shade_alpha:
                type:
                  - string
                  - "null"
              theme_primary_color:
                type:
                  - string
                  - "null"
              virtual_backgrounds:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              ctrl_bar_shade_alpha:
                type:
                  - number
                  - "null"
              name_card_background:
                type:
                  - string
                  - "null"
              name_card_text_color:
                type:
                  - string
                  - "null"
              secondary_text_color:
                type:
                  - string
                  - "null"
              p2p_panel_shade_alpha:
                type:
                  - number
                  - "null"
              splash_theme_font_src:
                type:
                  - string
                  - "null"
              theme_secondary_color:
                type:
                  - string
                  - "null"
              lower_third_background:
                type:
                  - string
                  - "null"
              lower_third_text_color:
                type:
                  - string
                  - "null"
              splash_gradient_height:
                type:
                  - string
                  - "null"
              splash_theme_font_link:
                type:
                  - string
                  - "null"
              splash_theme_font_name:
                type:
                  - string
                  - "null"
              mobile_event_background:
                type:
                  - string
                  - "null"
              mobile_splash_page_hero:
                type:
                  - string
                  - "null"
              mobile_stage_background:
                type:
                  - string
                  - "null"
              name_card_title_display:
                type:
                  - string
                  - "null"
              screen_saver_background:
                type:
                  - string
                  - "null"
              screen_saver_text_color:
                type:
                  - string
                  - "null"
              splash_background_color:
                type:
                  - string
                  - "null"
              splash_background_shade:
                type:
                  - string
                  - "null"
              primary_background_shade:
                type:
                  - string
                  - "null"
              splash_text_onimage_color:
                type:
                  - string
                  - "null"
              alt_primary_background_shade:
                type:
                  - string
                  - "null"
              custom_demo_cta_link_to:
                type:
                  - string
                  - "null"
              custom_demo_cta_button_url:
                type:
                  - string
                  - "null"
          default_language:
            type:
              - string
              - "null"
          enable_booth_tiers:
            type:
              - boolean
              - "null"
          social_media_thumbnail:
            type:
              - string
              - "null"
          groups_enabled:
            type:
              - boolean
              - "null"
          show_ticker:
            type:
              - boolean
              - "null"
          show_speakers_reg_page:
            type:
              - boolean
              - "null"
          hide_event_agenda:
            type:
              - boolean
              - "null"
          default_language_dropdown_enabled:
            type:
              - boolean
              - "null"
          enable_speaker_tech_check:
            type:
              - boolean
              - "null"
          enable_goldbot:
            type:
              - boolean
              - "null"
          demo_request_title:
            type:
              - string
              - "null"
          demo_request_button_text:
            type:
              - string
              - "null"
          demo_link_enabled:
            type:
              - boolean
              - "null"
          demo_requests_enabled:
            type:
              - boolean
              - "null"
          show_booth_rooms:
            type:
              - boolean
              - "null"
          show_event_booths:
            type:
              - boolean
              - "null"
          show_registration_share:
            type:
              - boolean
              - "null"
          show_registration_page:
            type:
              - boolean
              - "null"
          show_banner_gradient:
            type:
              - boolean
              - "null"
          show_agenda:
            type:
              - boolean
              - "null"
          have_broadcasts:
            type:
              - boolean
              - "null"
          have_discussions:
            type:
              - boolean
              - "null"
          have_resources:
            type:
              - boolean
              - "null"
          show_people_tab_speakers:
            type:
              - boolean
              - "null"
          registration_page_no_agenda:
            type:
              - boolean
              - "null"
          event_location_in_email:
            type:
              - string
              - "null"
          email_body_text:
            type:
              - string
              - "null"
          subject_in_email:
            type:
              - string
              - "null"
          assign_speaker_qna:
            type:
              - boolean
              - "null"
          on_demand_demo_link_enabled:
            type:
              - boolean
              - "null"
          enable_full_hd:
            type:
              - boolean
              - "null"
          speaker_stage_mode:
            type:
              - string
              - "null"
          microphone_control_mode:
            type:
              - string
              - "null"
          demo_request_submit_type:
            type:
              - string
              - "null"
          demo_request_consent_title:
            type:
              - string
              - "null"
          use_sso_for_events_app:
            type:
              - boolean
              - "null"
          ai_generated_builder_json_metadata:
            type:
              - object
              - "null"
          short_id:
            type:
              - number
              - "null"
          responsive:
            type:
              - boolean
              - "null"
          location:
            type:
              - string
              - "null"
          registration_limit:
            type:
              - number
              - "null"
          start_time:
            type:
              - string
              - "null"
          end_time:
            type:
              - string
              - "null"
          invite_type:
            type:
              - string
              - "null"
          paid:
            type:
              - boolean
              - "null"
          show_event_type:
            type:
              - boolean
              - "null"
          show_user_email_on_modals:
            type:
              - boolean
              - "null"
          magic_link_enabled:
            type:
              - boolean
              - "null"
          record_broadcasts:
            type:
              - boolean
              - "null"
          record_discussion_rooms:
            type:
              - boolean
              - "null"
          show_email_onboarding:
            type:
              - boolean
              - "null"
          tab_descriptions:
            type:
              - object
              - "null"
            properties:
              speakers:
                type:
                  - string
                  - "null"
              primary_booth:
                type:
                  - string
                  - "null"
          mmid:
            type:
              - string
              - "null"
          meta_tag:
            type:
              - object
              - "null"
            properties:
              Broadcast:
                type:
                  - object
                  - "null"
              DiscussionGroup:
                type:
                  - object
                  - "null"
              Booth:
                type:
                  - object
                  - "null"
          main_app_form_fields:
            type:
              - object
              - "null"
          is_public:
            type:
              - boolean
              - "null"
          has_pre_event_mode:
            type:
              - boolean
              - "null"
          form_fields:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                error:
                  type:
                    - string
                    - "null"
                title:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - string
                    - "null"
                checked:
                  type:
                    - boolean
                    - "null"
                optional:
                  type:
                    - boolean
                    - "null"
                is_standard:
                  type:
                    - boolean
                    - "null"
                mapped_title:
                  type:
                    - string
                    - "null"
                error_message:
                  type:
                    - string
                    - "null"
                custom_validation_regex:
                  type:
                    - string
                    - "null"
          hubspot_status:
            type:
              - boolean
              - "null"
          marketo_status:
            type:
              - boolean
              - "null"
          salesforce_status:
            type:
              - boolean
              - "null"
          pardot_status:
            type:
              - boolean
              - "null"
          eloqua_status:
            type:
              - boolean
              - "null"
          hubspot_config:
            type:
              - object
              - "null"
          marketo_config:
            type:
              - object
              - "null"
          salesforce_config:
            type:
              - object
              - "null"
          integration_errors:
            type:
              - object
              - "null"
          integration_config_updated:
            type:
              - object
              - "null"
            properties:
              webhook:
                type:
                  - string
                  - "null"
          hubspot_settings:
            type:
              - object
              - "null"
            properties:
              activities:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          marketo_settings:
            type:
              - object
              - "null"
            properties:
              activities:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          salesforce_settings:
            type:
              - object
              - "null"
            properties:
              activities:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          eloqua_settings:
            type:
              - object
              - "null"
            properties:
              activities:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          pardot_list:
            type:
              - array
              - "null"
          form_id_list:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          mail_reminder_intervals:
            type:
              - array
              - "null"
          is_active:
            type:
              - boolean
              - "null"
          is_hybrid:
            type:
              - boolean
              - "null"
          video_cdn_enabled:
            type:
              - boolean
              - "null"
          enabled_email_recepient:
            type:
              - boolean
              - "null"
          email_calendar:
            type:
              - boolean
              - "null"
          is_onsite:
            type:
              - boolean
              - "null"
          allow_in_person_check_in:
            type:
              - boolean
              - "null"
          drift_bot_enabled:
            type:
              - boolean
              - "null"
          drift_landing_enabled:
            type:
              - boolean
              - "null"
          drift_landing_as_default:
            type:
              - boolean
              - "null"
          drift_tab_name:
            type:
              - string
              - "null"
          post_registration_conditions:
            type:
              - object
              - "null"
          enable_hls_captions:
            type:
              - boolean
              - "null"
          is_test:
            type:
              - boolean
              - "null"
          use_flatfile:
            type:
              - boolean
              - "null"
          is_postmark:
            type:
              - boolean
              - "null"
          analytics_script_ran_successfully:
            type:
              - boolean
              - "null"
          broadcast_filler_image_s3_path:
            type:
              - string
              - "null"
          broadcast_filler_video_s3_path:
            type:
              - string
              - "null"
          broadcast_filler_state:
            type:
              - string
              - "null"
          allow_sponsor_access:
            type:
              - boolean
              - "null"
          notify_salesforce_owner_enabled:
            type:
              - boolean
              - "null"
          member_level_magic_links:
            type:
              - boolean
              - "null"
          ticker_text:
            type:
              - string
              - "null"
          parent:
            type:
              - string
              - "null"
          tickets_enabled:
            type:
              - boolean
              - "null"
          self_serve_groups_enabled:
            type:
              - boolean
              - "null"
          is_auto_redirections_enabled:
            type:
              - boolean
              - "null"
          is_available_on_demand:
            type:
              - boolean
              - "null"
          on_demand_mode:
            type:
              - boolean
              - "null"
          magic_link_ttl_mins:
            type:
              - number
              - "null"
          tracking_configs:
            type:
              - object
              - "null"
          builder_html:
            type:
              - string
              - "null"
          builder_raw_json:
            type:
              - string
              - "null"
          primary_booth_tier_texts:
            type:
              - object
              - "null"
            properties:
              TIER1:
                type:
                  - string
                  - "null"
              TIER2:
                type:
                  - string
                  - "null"
              TIER3:
                type:
                  - string
                  - "null"
          secondary_booth_tier_texts:
            type:
              - object
              - "null"
            properties:
              TIER1:
                type:
                  - string
                  - "null"
              TIER2:
                type:
                  - string
                  - "null"
              TIER3:
                type:
                  - string
                  - "null"
          internal_session_checkin:
            type:
              - boolean
              - "null"
          scalability_flags:
            type:
              - object
              - "null"
          channel_sync_triggered:
            type:
              - boolean
              - "null"
          custom_domain:
            type:
              - string
              - "null"
          force_use_inhouse_simulive_flow:
            type:
              - boolean
              - "null"
          reg_page_builder_type:
            type:
              - string
              - "null"
          registration_app_domain:
            type:
              - string
              - "null"
          on_demand_app_url:
            type:
              - string
              - "null"
          use_mm_sockets:
            type:
              - boolean
              - "null"
          manual_redirection_enabled:
            type:
              - boolean
              - "null"
          can_speaker_toggle_session_liveness:
            type:
              - boolean
              - "null"
          host_type:
            type:
              - string
              - "null"
          waitlist_enabled:
            type:
              - boolean
              - "null"
          use_new_stage_controls:
            type:
              - boolean
              - "null"
          is_blueprint:
            type:
              - boolean
              - "null"
          sync_status:
            type:
              - string
              - "null"
          sync_id:
            type:
              - string
              - "null"
          ondemand_builder_config:
            type:
              - object
              - "null"
            properties:
              NAV:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  config:
                    type:
                      - object
                      - "null"
                    properties:
                      cta_show:
                        type:
                          - boolean
                          - "null"
                      cta_text:
                        type:
                          - string
                          - "null"
                      logo_src:
                        type:
                          - string
                          - "null"
                      logo_show:
                        type:
                          - boolean
                          - "null"
                      cta_linkTo:
                        type:
                          - string
                          - "null"
                      logo_linkTo:
                        type:
                          - string
                          - "null"
                      showNavigation:
                        type:
                          - boolean
                          - "null"
              GATE:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  config:
                    type:
                      - object
                      - "null"
                    properties:
                      description:
                        type:
                          - string
                          - "null"
                      subhead:
                        type:
                          - object
                          - "null"
                        properties:
                          content:
                            type:
                              - string
                              - "null"
                          leading:
                            type:
                              - string
                              - "null"
                          maxWidth:
                            type:
                              - string
                              - "null"
                          spaceTop:
                            type:
                              - string
                              - "null"
                          tracking:
                            type:
                              - string
                              - "null"
                          textColor:
                            type:
                              - string
                              - "null"
                          spaceBottom:
                            type:
                              - string
                              - "null"
                      headline:
                        type:
                          - object
                          - "null"
                        properties:
                          text:
                            type:
                              - string
                              - "null"
                          leading:
                            type:
                              - string
                              - "null"
                          fontSize:
                            type:
                              - string
                              - "null"
                          maxWidth:
                            type:
                              - string
                              - "null"
                          spaceTop:
                            type:
                              - string
                              - "null"
                          tracking:
                            type:
                              - string
                              - "null"
                          textColor:
                            type:
                              - string
                              - "null"
                          fontWeight:
                            type:
                              - string
                              - "null"
                          letterCase:
                            type:
                              - string
                              - "null"
                          spaceBottom:
                            type:
                              - string
                              - "null"
                      gateContent:
                        type:
                          - boolean
                          - "null"
                      form_textColor:
                        type:
                          - string
                          - "null"
                      form_widthInput:
                        type:
                          - string
                          - "null"
                      form_backgroundColor:
                        type:
                          - string
                          - "null"
                      gateVisibilityBehavior:
                        type:
                          - string
                          - "null"
                      textColor:
                        type:
                          - string
                          - "null"
                      backgroundColor:
                        type:
                          - string
                          - "null"
                      description_show:
                        type:
                          - boolean
                          - "null"
                      description_content:
                        type:
                          - string
                          - "null"
              BRAND:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  config:
                    type:
                      - object
                      - "null"
                    properties:
                      backgroundType:
                        type:
                          - string
                          - "null"
                      backgroundImage:
                        type:
                          - string
                          - "null"
                      backgroundSolid:
                        type:
                          - string
                          - "null"
                      backgroundGradient:
                        type:
                          - string
                          - "null"
              LAYOUT:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  config:
                    type:
                      - object
                      - "null"
                    properties:
                      layout:
                        type:
                          - string
                          - "null"
              PLAYER:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  config:
                    type:
                      - object
                      - "null"
                    properties:
                      order:
                        type:
                          - object
                          - "null"
                      thumbnails:
                        type:
                          - object
                          - "null"
                      showChapters:
                        type:
                          - boolean
                          - "null"
              DETAILS:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  config:
                    type:
                      - object
                      - "null"
                    properties:
                      description:
                        type:
                          - string
                          - "null"
                      title:
                        type:
                          - string
                          - "null"
                      showDate:
                        type:
                          - boolean
                          - "null"
                      footer_text:
                        type:
                          - string
                          - "null"
                      showResources:
                        type:
                          - boolean
                          - "null"
                      speakers_show:
                        type:
                          - boolean
                          - "null"
                      showShareButton:
                        type:
                          - boolean
                          - "null"
                      speakers_layout:
                        type:
                          - string
                          - "null"
                      speakers_text_color:
                        type:
                          - string
                          - "null"
                      footer_text_xAlignment:
                        type:
                          - string
                          - "null"
                      speakers_backgroundColor:
                        type:
                          - string
                          - "null"
                      speakers_text_xAlignment:
                        type:
                          - string
                          - "null"
                      speakers_text_yAlignment:
                        type:
                          - string
                          - "null"
              appliedMigrations:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          ondemand_embed_config:
            type:
              - object
              - "null"
          supported_captions_languages:
            type:
              - array
              - "null"
          is_new_entry_experience_enabled:
            type:
              - boolean
              - "null"
          is_local_recording:
            type:
              - boolean
              - "null"
          is_record_now:
            type:
              - boolean
              - "null"
          event_end_status:
            type:
              - string
              - "null"
          locale:
            type:
              - string
              - "null"
          enable_content_processing:
            type:
              - boolean
              - "null"
          use_teleprompter:
            type:
              - boolean
              - "null"
          is_ai_insights_enabled:
            type:
              - boolean
              - "null"
          chat_visibilty:
            type:
              - string
              - "null"
          created_by:
            type:
              - string
              - "null"
          updated_by:
            type:
              - string
              - "null"
          marketing_tags:
            type:
              - string
              - "null"
          organization:
            type:
              - string
              - "null"
          registration_form:
            type:
              - string
              - "null"
          owner:
            type:
              - string
              - "null"
          filler_slide:
            type:
              - string
              - "null"
          studio_event_template:
            type:
              - string
              - "null"
          series:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              registrant_count:
                type:
                  - number
                  - "null"
              contains_waitlist_event:
                type:
                  - boolean
                  - "null"
              created_by:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - string
                      - "null"
                  first_name:
                    type:
                      - string
                      - "null"
                  last_name:
                    type:
                      - string
                      - "null"
                  email:
                    type:
                      - string
                      - "null"
                  organization:
                    type:
                      - string
                      - "null"
                  role:
                    type:
                      - string
                      - "null"
                  profile_picture_url:
                    type:
                      - string
                      - "null"
              updated_by:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - string
                      - "null"
                  first_name:
                    type:
                      - string
                      - "null"
                  last_name:
                    type:
                      - string
                      - "null"
                  email:
                    type:
                      - string
                      - "null"
                  organization:
                    type:
                      - string
                      - "null"
                  role:
                    type:
                      - string
                      - "null"
                  profile_picture_url:
                    type:
                      - string
                      - "null"
              upcoming_event_count:
                type:
                  - number
                  - "null"
              attendee_count:
                type:
                  - number
                  - "null"
              registration_form_url:
                type:
                  - string
                  - "null"
              blueprint_event:
                type:
                  - string
                  - "null"
              repeating_event_sync_allowed:
                type:
                  - boolean
                  - "null"
              next_event_generation_time:
                type:
                  - string
                  - "null"
              initial_event_generated:
                type:
                  - boolean
                  - "null"
              tags:
                type:
                  - array
                  - "null"
              registration_form_data:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  is_one_click_enabled:
                    type:
                      - boolean
                      - "null"
                  form_type:
                    type:
                      - string
                      - "null"
                  is_default:
                    type:
                      - boolean
                      - "null"
                  is_global_form:
                    type:
                      - boolean
                      - "null"
                  schema_url:
                    type:
                      - string
                      - "null"
                  organization:
                    type:
                      - string
                      - "null"
                  formio_schema_url:
                    type:
                      - string
                      - "null"
              created_at:
                type:
                  - string
                  - "null"
              updated_at:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              social_media_image:
                type:
                  - string
                  - "null"
              favicon:
                type:
                  - string
                  - "null"
              builder_html:
                type:
                  - string
                  - "null"
              builder_raw_json:
                type:
                  - string
                  - "null"
              marketo_settings:
                type:
                  - object
                  - "null"
                properties:
                  activities:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
              marketo_status:
                type:
                  - boolean
                  - "null"
              email_alias_name:
                type:
                  - string
                  - "null"
              parent:
                type:
                  - string
                  - "null"
              url:
                type:
                  - string
                  - "null"
              schedule:
                type:
                  - string
                  - "null"
              initial_event_generation_count:
                type:
                  - number
                  - "null"
              total_event_threshold:
                type:
                  - number
                  - "null"
              end_date_threshold:
                type:
                  - string
                  - "null"
              schedule_status:
                type:
                  - string
                  - "null"
              frequency:
                type:
                  - number
                  - "null"
              unit:
                type:
                  - string
                  - "null"
              sync_status:
                type:
                  - string
                  - "null"
              sync_id:
                type:
                  - string
                  - "null"
              last_synced_at:
                type:
                  - string
                  - "null"
              organization:
                type:
                  - string
                  - "null"
              registration_form:
                type:
                  - string
                  - "null"
              workspace:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  icon:
                    type:
                      - string
                      - "null"
                  color:
                    type:
                      - string
                      - "null"
          workspace:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              icon:
                type:
                  - string
                  - "null"
              color:
                type:
                  - string
                  - "null"
          tags:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
        required:
          - id
        additionalProperties: true

  - type: DeclarativeStream
    name: agenda_items
    description: Agenda items stream. Agenda items are associated to events.
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
      requester:
        type: HttpRequester
        http_method: GET
        url: https://customapi.goldcast.io/event/agenda-item/
        authenticator:
          type: ApiKeyAuthenticator
          header: X-Cvent-Authorization
          api_token: "Token {{ config['access_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          description:
            type:
              - string
              - "null"
          id:
            type: number
          event:
            type:
              - string
              - "null"
          title:
            type:
              - string
              - "null"
          start_time:
            type:
              - string
              - "null"
          end_time:
            type:
              - string
              - "null"
          kind:
            type:
              - string
              - "null"
          is_live:
            type:
              - boolean
              - "null"
          expected_end_time:
            type:
              - string
              - "null"
          allowed_end_time:
            type:
              - string
              - "null"
          allowed_start_time:
            type:
              - string
              - "null"
          live_start_time:
            type:
              - string
              - "null"
          live_end_time:
            type:
              - string
              - "null"
        required:
          - id
        additionalProperties: true

  - type: DeclarativeStream
    name: discussion_groups
    description: Discussion groups stream. Discussion groups of events.
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
      requester:
        type: HttpRequester
        http_method: GET
        url: https://customapi.goldcast.io/event/discussion-groups/
        authenticator:
          type: ApiKeyAuthenticator
          header: X-Cvent-Authorization
          api_token: "Token {{ config['access_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        title: Discussion Group Schema
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          description:
            type:
              - "null"
              - string
          id:
            type: string
          mmid:
            type: string
          rank:
            type: integer
          tags:
            type:
              - "null"
              - array
          event:
            type: string
          owner:
            type: string
          title:
            type: string
          current:
            type: boolean
          deleted:
            type:
              - "null"
              - string
          ends_at:
            type:
              - "null"
              - string
          is_live:
            type: boolean
          capacity:
            type: integer
          is_booth:
            type: boolean
          recording:
            type:
              - "null"
              - object
          starts_at:
            type:
              - "null"
              - string
          created_at:
            type: string
            format: date-time
          updated_at:
            type: string
            format: date-time
          is_breakout:
            type: boolean
          shadow_mmid:
            type:
              - "null"
              - string
          sponsor_image:
            type:
              - "null"
              - string
          video_quality:
            type:
              - "null"
              - string
          deleted_by_cascade:
            type: boolean
        additionalProperties: true

  - type: DeclarativeStream
    name: tracks
    description: Tracks stream. Tasks of events.
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
      requester:
        type: HttpRequester
        http_method: GET
        url: https://customapi.goldcast.io/event/tracks/
        authenticator:
          type: ApiKeyAuthenticator
          header: X-Cvent-Authorization
          api_token: "Token {{ config['access_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type: string
          allowed_ticket_types:
            type:
              - array
              - "null"
          agenda_items:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          custom:
            type:
              - boolean
              - "null"
          title:
            type:
              - string
              - "null"
          channel_mmid:
            type:
              - string
              - "null"
          sort_priority:
            type:
              - number
              - "null"
          event:
            type:
              - string
              - "null"
        required:
          - id
        additionalProperties: true

  - type: DeclarativeStream
    name: webinars
    description: Webinars stream. Information on the webinars of events.
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        type: HttpRequester
        http_method: GET
        url: >-
          https://customapi.goldcast.io/event/webinars/{{
          stream_partition.event }}
        authenticator:
          type: ApiKeyAuthenticator
          header: X-Cvent-Authorization
          api_token: "Token {{ config['access_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: event
              # Not registered as a top-level stream on purpose: this exists only to
              # drive the webinars partition router. The events endpoint returns every
              # event type, but /event/webinars/{id} 400s for non-webinar events, so we
              # scope the parent to event_type=Webinar via the API's own filter instead
              # of a client-side filter.
              stream:
                type: DeclarativeStream
                name: webinar_events
                description: >-
                  Webinar-type events only. Internal parent for the webinars stream;
                  not exposed as a syncable stream.
                retriever:
                  type: SimpleRetriever
                  paginator:
                    type: DefaultPaginator
                    pagination_strategy:
                      type: OffsetIncrement
                      page_size: 100
                    page_size_option:
                      type: RequestOption
                      field_name: limit
                      inject_into: request_parameter
                    page_token_option:
                      type: RequestOption
                      field_name: offset
                      inject_into: request_parameter
                  requester:
                    type: HttpRequester
                    http_method: GET
                    url: https://customapi.goldcast.io/event/?event_type=Webinar
                    authenticator:
                      type: ApiKeyAuthenticator
                      header: X-Cvent-Authorization
                      api_token: "Token {{ config['access_key'] }}"
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - results
                primary_key: id
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    type: object
                    additionalProperties: true
                    properties:
                      id:
                        type: string
    primary_key: id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          description:
            type:
              - string
              - "null"
          metadata:
            type:
              - object
              - "null"
          id:
            type: string
          timezone:
            type:
              - string
              - "null"
          manual_breakout:
            type:
              - boolean
              - "null"
          supported_languages:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                code:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                native_name:
                  type:
                    - string
                    - "null"
          events_app_languages:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                code:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                native_name:
                  type:
                    - string
                    - "null"
          is_single_session:
            type:
              - boolean
              - "null"
          created_by_user:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              first_name:
                type:
                  - string
                  - "null"
              last_name:
                type:
                  - string
                  - "null"
              email:
                type:
                  - string
                  - "null"
              organization:
                type:
                  - string
                  - "null"
              role:
                type:
                  - string
                  - "null"
              profile_picture_url:
                type:
                  - string
                  - "null"
          updated_by_user:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              first_name:
                type:
                  - string
                  - "null"
              last_name:
                type:
                  - string
                  - "null"
              email:
                type:
                  - string
                  - "null"
              organization:
                type:
                  - string
                  - "null"
              role:
                type:
                  - string
                  - "null"
              profile_picture_url:
                type:
                  - string
                  - "null"
          registrant_count:
            type:
              - number
              - "null"
          registration_cta_link:
            type:
              - string
              - "null"
          event_type:
            type:
              - string
              - "null"
          broadcast_type:
            type:
              - string
              - "null"
          registration_form_data:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              is_one_click_enabled:
                type:
                  - boolean
                  - "null"
              form_type:
                type:
                  - string
                  - "null"
              is_default:
                type:
                  - boolean
                  - "null"
              is_global_form:
                type:
                  - boolean
                  - "null"
              schema_url:
                type:
                  - string
                  - "null"
              organization:
                type:
                  - string
                  - "null"
              formio_schema_url:
                type:
                  - string
                  - "null"
          deleted_by_cascade:
            type:
              - boolean
              - "null"
          created_at:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          discussions_chat_disabled:
            type:
              - boolean
              - "null"
          show_booths:
            type:
              - boolean
              - "null"
          booth_chat_disabled:
            type:
              - boolean
              - "null"
          booth_tab_title:
            type:
              - string
              - "null"
          show_attendees:
            type:
              - boolean
              - "null"
          p2p_chat_disabled:
            type:
              - boolean
              - "null"
          floating_emoji_reactions_enabled:
            type:
              - boolean
              - "null"
          event_catch_me_up_enabled:
            type:
              - boolean
              - "null"
          show_attendee_profiles:
            type:
              - boolean
              - "null"
          people_tab_title:
            type:
              - string
              - "null"
          speaker_tab_visible:
            type:
              - boolean
              - "null"
          speaker_tab_title:
            type:
              - string
              - "null"
          public_chat_disabled:
            type:
              - boolean
              - "null"
          thread_chat_disabled:
            type:
              - boolean
              - "null"
          gifs_enabled:
            type:
              - boolean
              - "null"
          is_text_qna_moderated:
            type:
              - boolean
              - "null"
          have_text_qna:
            type:
              - boolean
              - "null"
          have_video_qna:
            type:
              - boolean
              - "null"
          enable_live_captions:
            type:
              - boolean
              - "null"
          enable_live_captions_translations:
            type:
              - boolean
              - "null"
          email_alias_name:
            type:
              - string
              - "null"
          demo_request_message:
            type:
              - string
              - "null"
          broadcast_chat_disabled:
            type:
              - boolean
              - "null"
          anonymous_qna_enabled:
            type:
              - boolean
              - "null"
          show_answerers_identity:
            type:
              - boolean
              - "null"
          textqna_answerers_alias:
            type:
              - string
              - "null"
          is_title_visible:
            type:
              - boolean
              - "null"
          is_date_visible:
            type:
              - boolean
              - "null"
          is_logo_visible:
            type:
              - boolean
              - "null"
          disable_enter_event_button:
            type:
              - boolean
              - "null"
          enable_tech_check:
            type:
              - boolean
              - "null"
          show_onboarding:
            type:
              - boolean
              - "null"
          logo_url:
            type:
              - string
              - "null"
          favicon:
            type:
              - string
              - "null"
          show_discussion_rooms:
            type:
              - boolean
              - "null"
          title:
            type:
              - string
              - "null"
          theme_obj:
            type:
              - object
              - "null"
            properties:
              logos:
                type:
                  - array
                  - "null"
              font_type:
                type:
                  - string
                  - "null"
              auth_theme:
                type:
                  - boolean
                  - "null"
              theme_type:
                type:
                  - string
                  - "null"
              show_borders:
                type:
                  - boolean
                  - "null"
              sidebar_blur:
                type:
                  - string
                  - "null"
              sidebar_alpha:
                type:
                  - number
                  - "null"
              theme_font_src:
                type:
                  - string
                  - "null"
              page_item_alpha:
                type:
                  - number
                  - "null"
              theme_font_link:
                type:
                  - string
                  - "null"
              theme_font_name:
                type:
                  - string
                  - "null"
              event_background:
                type:
                  - string
                  - "null"
              name_card_radius:
                type:
                  - string
                  - "null"
              splash_font_type:
                type:
                  - string
                  - "null"
              splash_page_hero:
                type:
                  - string
                  - "null"
              stage_background:
                type:
                  - string
                  - "null"
              stage_text_color:
                type:
                  - string
                  - "null"
              onEditScreenSaver:
                type:
                  - boolean
                  - "null"
              splash_text_color:
                type:
                  - string
                  - "null"
              primary_text_color:
                type:
                  - string
                  - "null"
              splash_shade_alpha:
                type:
                  - string
                  - "null"
              theme_primary_color:
                type:
                  - string
                  - "null"
              virtual_backgrounds:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              ctrl_bar_shade_alpha:
                type:
                  - number
                  - "null"
              name_card_background:
                type:
                  - string
                  - "null"
              name_card_text_color:
                type:
                  - string
                  - "null"
              secondary_text_color:
                type:
                  - string
                  - "null"
              p2p_panel_shade_alpha:
                type:
                  - number
                  - "null"
              splash_theme_font_src:
                type:
                  - string
                  - "null"
              theme_secondary_color:
                type:
                  - string
                  - "null"
              lower_third_background:
                type:
                  - string
                  - "null"
              lower_third_text_color:
                type:
                  - string
                  - "null"
              splash_gradient_height:
                type:
                  - string
                  - "null"
              splash_theme_font_link:
                type:
                  - string
                  - "null"
              splash_theme_font_name:
                type:
                  - string
                  - "null"
              mobile_event_background:
                type:
                  - string
                  - "null"
              mobile_splash_page_hero:
                type:
                  - string
                  - "null"
              mobile_stage_background:
                type:
                  - string
                  - "null"
              name_card_title_display:
                type:
                  - string
                  - "null"
              screen_saver_background:
                type:
                  - string
                  - "null"
              screen_saver_text_color:
                type:
                  - string
                  - "null"
              splash_background_color:
                type:
                  - string
                  - "null"
              splash_background_shade:
                type:
                  - string
                  - "null"
              primary_background_shade:
                type:
                  - string
                  - "null"
              splash_text_onimage_color:
                type:
                  - string
                  - "null"
              alt_primary_background_shade:
                type:
                  - string
                  - "null"
          default_language:
            type:
              - string
              - "null"
          enable_booth_tiers:
            type:
              - boolean
              - "null"
          social_media_thumbnail:
            type:
              - string
              - "null"
          groups_enabled:
            type:
              - boolean
              - "null"
          show_ticker:
            type:
              - boolean
              - "null"
          show_speakers_reg_page:
            type:
              - boolean
              - "null"
          hide_event_agenda:
            type:
              - boolean
              - "null"
          default_language_dropdown_enabled:
            type:
              - boolean
              - "null"
          enable_speaker_tech_check:
            type:
              - boolean
              - "null"
          enable_goldbot:
            type:
              - boolean
              - "null"
          demo_request_title:
            type:
              - string
              - "null"
          demo_request_button_text:
            type:
              - string
              - "null"
          demo_link_enabled:
            type:
              - boolean
              - "null"
          demo_requests_enabled:
            type:
              - boolean
              - "null"
          show_booth_rooms:
            type:
              - boolean
              - "null"
          show_event_booths:
            type:
              - boolean
              - "null"
          show_registration_share:
            type:
              - boolean
              - "null"
          show_registration_page:
            type:
              - boolean
              - "null"
          show_banner_gradient:
            type:
              - boolean
              - "null"
          show_agenda:
            type:
              - boolean
              - "null"
          have_broadcasts:
            type:
              - boolean
              - "null"
          have_discussions:
            type:
              - boolean
              - "null"
          have_resources:
            type:
              - boolean
              - "null"
          show_people_tab_speakers:
            type:
              - boolean
              - "null"
          registration_page_no_agenda:
            type:
              - boolean
              - "null"
          event_location_in_email:
            type:
              - string
              - "null"
          email_body_text:
            type:
              - string
              - "null"
          subject_in_email:
            type:
              - string
              - "null"
          assign_speaker_qna:
            type:
              - boolean
              - "null"
          on_demand_demo_link_enabled:
            type:
              - boolean
              - "null"
          enable_full_hd:
            type:
              - boolean
              - "null"
          speaker_stage_mode:
            type:
              - string
              - "null"
          microphone_control_mode:
            type:
              - string
              - "null"
          demo_request_submit_type:
            type:
              - string
              - "null"
          demo_request_consent_title:
            type:
              - string
              - "null"
          use_sso_for_events_app:
            type:
              - boolean
              - "null"
          ai_generated_builder_json_metadata:
            type:
              - object
              - "null"
          short_id:
            type:
              - number
              - "null"
          responsive:
            type:
              - boolean
              - "null"
          location:
            type:
              - string
              - "null"
          start_time:
            type:
              - string
              - "null"
          end_time:
            type:
              - string
              - "null"
          paid:
            type:
              - boolean
              - "null"
          show_event_type:
            type:
              - boolean
              - "null"
          show_user_email_on_modals:
            type:
              - boolean
              - "null"
          magic_link_enabled:
            type:
              - boolean
              - "null"
          record_broadcasts:
            type:
              - boolean
              - "null"
          record_discussion_rooms:
            type:
              - boolean
              - "null"
          show_email_onboarding:
            type:
              - boolean
              - "null"
          tab_descriptions:
            type:
              - object
              - "null"
            properties:
              speakers:
                type:
                  - string
                  - "null"
          mmid:
            type:
              - string
              - "null"
          meta_tag:
            type:
              - object
              - "null"
            properties:
              Broadcast:
                type:
                  - object
                  - "null"
          main_app_form_fields:
            type:
              - object
              - "null"
          is_public:
            type:
              - boolean
              - "null"
          has_pre_event_mode:
            type:
              - boolean
              - "null"
          form_fields:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                error:
                  type:
                    - string
                    - "null"
                title:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - string
                    - "null"
                checked:
                  type:
                    - boolean
                    - "null"
                optional:
                  type:
                    - boolean
                    - "null"
                is_standard:
                  type:
                    - boolean
                    - "null"
                mapped_title:
                  type:
                    - string
                    - "null"
                error_message:
                  type:
                    - string
                    - "null"
                custom_validation_regex:
                  type:
                    - string
                    - "null"
          hubspot_status:
            type:
              - boolean
              - "null"
          marketo_status:
            type:
              - boolean
              - "null"
          salesforce_status:
            type:
              - boolean
              - "null"
          pardot_status:
            type:
              - boolean
              - "null"
          eloqua_status:
            type:
              - boolean
              - "null"
          hubspot_config:
            type:
              - object
              - "null"
          marketo_config:
            type:
              - object
              - "null"
          salesforce_config:
            type:
              - object
              - "null"
          integration_errors:
            type:
              - object
              - "null"
          integration_config_updated:
            type:
              - object
              - "null"
          hubspot_settings:
            type:
              - object
              - "null"
            properties:
              activities:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          marketo_settings:
            type:
              - object
              - "null"
            properties:
              activities:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          salesforce_settings:
            type:
              - object
              - "null"
            properties:
              activities:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          eloqua_settings:
            type:
              - object
              - "null"
            properties:
              activities:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          pardot_list:
            type:
              - array
              - "null"
          form_id_list:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          mail_reminder_intervals:
            type:
              - array
              - "null"
          is_active:
            type:
              - boolean
              - "null"
          is_hybrid:
            type:
              - boolean
              - "null"
          video_cdn_enabled:
            type:
              - boolean
              - "null"
          enabled_email_recepient:
            type:
              - boolean
              - "null"
          email_calendar:
            type:
              - boolean
              - "null"
          is_onsite:
            type:
              - boolean
              - "null"
          allow_in_person_check_in:
            type:
              - boolean
              - "null"
          drift_bot_enabled:
            type:
              - boolean
              - "null"
          drift_landing_enabled:
            type:
              - boolean
              - "null"
          drift_landing_as_default:
            type:
              - boolean
              - "null"
          drift_tab_name:
            type:
              - string
              - "null"
          post_registration_conditions:
            type:
              - object
              - "null"
          enable_hls_captions:
            type:
              - boolean
              - "null"
          is_test:
            type:
              - boolean
              - "null"
          use_flatfile:
            type:
              - boolean
              - "null"
          is_postmark:
            type:
              - boolean
              - "null"
          analytics_script_ran_successfully:
            type:
              - boolean
              - "null"
          broadcast_filler_image_s3_path:
            type:
              - string
              - "null"
          broadcast_filler_video_s3_path:
            type:
              - string
              - "null"
          broadcast_filler_state:
            type:
              - string
              - "null"
          allow_sponsor_access:
            type:
              - boolean
              - "null"
          notify_salesforce_owner_enabled:
            type:
              - boolean
              - "null"
          member_level_magic_links:
            type:
              - boolean
              - "null"
          parent:
            type:
              - string
              - "null"
          tickets_enabled:
            type:
              - boolean
              - "null"
          self_serve_groups_enabled:
            type:
              - boolean
              - "null"
          is_auto_redirections_enabled:
            type:
              - boolean
              - "null"
          is_available_on_demand:
            type:
              - boolean
              - "null"
          on_demand_mode:
            type:
              - boolean
              - "null"
          tracking_configs:
            type:
              - object
              - "null"
          builder_html:
            type:
              - string
              - "null"
          builder_raw_json:
            type:
              - string
              - "null"
          primary_booth_tier_texts:
            type:
              - object
              - "null"
            properties:
              TIER1:
                type:
                  - string
                  - "null"
              TIER2:
                type:
                  - string
                  - "null"
              TIER3:
                type:
                  - string
                  - "null"
          secondary_booth_tier_texts:
            type:
              - object
              - "null"
            properties:
              TIER1:
                type:
                  - string
                  - "null"
              TIER2:
                type:
                  - string
                  - "null"
              TIER3:
                type:
                  - string
                  - "null"
          internal_session_checkin:
            type:
              - boolean
              - "null"
          scalability_flags:
            type:
              - object
              - "null"
          channel_sync_triggered:
            type:
              - boolean
              - "null"
          force_use_inhouse_simulive_flow:
            type:
              - boolean
              - "null"
          reg_page_builder_type:
            type:
              - string
              - "null"
          registration_app_domain:
            type:
              - string
              - "null"
          on_demand_app_url:
            type:
              - string
              - "null"
          use_mm_sockets:
            type:
              - boolean
              - "null"
          manual_redirection_enabled:
            type:
              - boolean
              - "null"
          can_speaker_toggle_session_liveness:
            type:
              - boolean
              - "null"
          host_type:
            type:
              - string
              - "null"
          waitlist_enabled:
            type:
              - boolean
              - "null"
          use_new_stage_controls:
            type:
              - boolean
              - "null"
          is_blueprint:
            type:
              - boolean
              - "null"
          sync_status:
            type:
              - string
              - "null"
          ondemand_builder_config:
            type:
              - object
              - "null"
            properties:
              NAV:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  config:
                    type:
                      - object
                      - "null"
                    properties:
                      cta_show:
                        type:
                          - boolean
                          - "null"
                      cta_text:
                        type:
                          - string
                          - "null"
                      logo_src:
                        type:
                          - string
                          - "null"
                      logo_show:
                        type:
                          - boolean
[...]
