version: 5.10.2

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - configured_business_units

definitions:
  streams:
    configured_business_units:
      type: DeclarativeStream
      name: configured_business_units
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /business-units/find
          http_method: GET
          request_headers:
            apikey: "{{ config['client_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 400
                      - 403
                      - 404
                    error_message: Credentails might be expired, please validate
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: ListPartitionRouter
          values: "{{ config['business_units'] }}"
          cursor_field: business_unit
          request_option:
            type: RequestOption
            field_name: name
            inject_into: request_parameter
      transformations:
        - type: RemoveFields
          field_pointers:
            - - links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/configured_business_units"
    private_reviews:
      type: DeclarativeStream
      name: private_reviews
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /private/business-units/{{ stream_partition['business_unit_id']
            }}/reviews
          http_method: GET
          request_parameters:
            orderBy: createdat.desc
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 400
                      - 403
                      - 404
                    error_message: >-
                      Business account needs oauth flow, refer documentation for
                      more details
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - reviews
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: perPage
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: business_unit_id
              stream:
                $ref: "#/definitions/streams/configured_business_units"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: createdAt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_data_feed: true
      transformations:
        - type: RemoveFields
          field_pointers:
            - - links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/private_reviews"
    business_units:
      type: DeclarativeStream
      name: business_units
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /business-units/all
          http_method: GET
          request_headers:
            apikey: "{{ config['client_id'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 400
                      - 403
                      - 404
                    error_message: Credentails might be expired, please validate
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - businessUnits
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: perPage
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
      transformations:
        - type: RemoveFields
          field_pointers:
            - - links
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/business_units"
  base_requester:
    type: HttpRequester
    url_base: https://api.trustpilot.com/v1
    authenticator:
      type: SelectiveAuthenticator
      authenticators:
        apikey:
          type: ApiKeyAuthenticator
          header: apikey
          api_token: "{{ config['client_id'] }}"
        oauth2.0:
          type: OAuthAuthenticator
          client_id: "{{ config['credentials']['client_id'] }}"
          grant_type: refresh_token
          client_secret: "{{ config['credentials']['client_secret'] }}"
          refresh_token: "{{ config['credentials']['refresh_token'] }}"
          access_token_name: access_token
          token_refresh_endpoint: >-
            https://api.trustpilot.com/v1/oauth/oauth-business-users-for-applications/refresh
      authenticator_selection_path:
        - credentials
        - auth_type

streams:
  - $ref: "#/definitions/streams/configured_business_units"
  - $ref: "#/definitions/streams/private_reviews"
  - $ref: "#/definitions/streams/business_units"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - credentials
      - start_date
      - business_units
    properties:
      credentials:
        type: object
        oneOf:
          - type: object
            title: OAuth 2.0
            required:
              - client_id
              - client_secret
              - refresh_token
              - access_token
              - token_expiry_date
            properties:
              auth_type:
                type: string
                const: oauth2.0
              client_id:
                type: string
                description: >-
                  The API key of the Trustpilot API application. (represents the
                  OAuth Client ID)
                title: API key
                airbyte_secret: true
              access_token:
                type: string
                description: Access Token for making authenticated requests.
                title: Access Token
                airbyte_secret: true
              client_secret:
                type: string
                description: >-
                  The Secret of the Trustpilot API application. (represents the
                  OAuth Client Secret)
                title: Secret
                airbyte_secret: true
              refresh_token:
                type: string
                description: The key to refresh the expired access_token.
                title: Refresh token
                airbyte_secret: true
              token_expiry_date:
                type: string
                description: The date-time when the access token should be refreshed.
                title: Token expiry date time
                format: date-time
          - type: object
            description: >-
              The API key authentication method gives you access to only the
              streams which are part of the Public API. When you want to get
              streams available via the Consumer API (e.g. the private reviews)
              you need to use authentication method OAuth 2.0.
            title: API Key
            required:
              - client_id
            properties:
              auth_type:
                type: string
                const: apikey
              client_id:
                type: string
                description: The API key of the Trustpilot API application.
                title: API key
                airbyte_secret: true
        order: 0
        title: Authorization Method
      start_date:
        type: string
        description: >-
          For streams with sync. method incremental the start date time to be
          used
        title: Start Date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "%Y-%m-%dT%H:%M:%SZ"
        order: 1
      business_units:
        type: array
        description: >-
          The names of business units which shall be synchronized. Some streams
          e.g. configured_business_units or private_reviews use this
          configuration.
        items:
          type: string
        title: Business Unit names
        examples:
          - mydomain.com
          - www.mydomain.com
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    configured_business_units: true
    private_reviews: true
    business_units: true
  yamlComponents:
    global:
      - authenticator
  testedStreams:
    configured_business_units:
      streamHash: 8ddb9852da3424bf2d6c2d1e115a46d251788a45
    private_reviews:
      streamHash: 22084eb8f332c0c589e760f9a7362281accda700
    business_units:
      streamHash: 8addc2b46355dee47731cc4363832e9775ee8824
  assist: {}

schemas:
  configured_business_units:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
        - string
        - 'null'
      displayName:
        type:
        - string
        - 'null'
      name:
        type:
        - object
        - 'null'
        properties:
          identifying:
            type:
            - string
            - 'null'
          referring:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
      websiteUrl:
        type:
        - string
        - 'null'
      country:
        type:
        - string
        - 'null'
      numberOfReviews:
        type:
        - object
        - 'null'
        properties:
          total:
            type:
            - integer
            - 'null'
          usedForTrustScoreCalculation:
            type:
            - integer
            - 'null'
          oneStar:
            type:
            - integer
            - 'null'
          twoStars:
            type:
            - integer
            - 'null'
          threeStars:
            type:
            - integer
            - 'null'
          fourStars:
            type:
            - integer
            - 'null'
          fiveStars:
            type:
            - integer
            - 'null'
      status:
        type:
        - string
        - 'null'
      score:
        type:
        - object
        - 'null'
        properties:
          trustScore:
            type:
            - number
            - 'null'
          stars:
            type:
            - number
            - 'null'
      badFit:
        type:
        - boolean
        - 'null'
  private_reviews:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
        - string
        - 'null'
      consumer:
        type:
        - object
        - 'null'
        properties:
          id:
            type:
            - string
            - 'null'
          displayName:
            type:
            - string
            - 'null'
          displayLocation:
            type:
            - string
            - 'null'
          numberOfReviews:
            type: integer
      businessUnit:
        type:
        - object
        - 'null'
        properties:
          id:
            type:
            - string
            - 'null'
          identifyingName:
            type:
            - string
            - 'null'
          displayName:
            type:
            - string
            - 'null'
      stars:
        type:
        - integer
        - 'null'
      title:
        type:
        - string
        - 'null'
      text:
        type:
        - string
        - 'null'
      language:
        type:
        - string
        - 'null'
      location:
        type:
        - object
        - 'null'
        properties:
          externalId:
            type:
            - string
            - 'null'
          urlFormattedName:
            type:
            - string
            - 'null'
          id:
            type:
            - string
            - 'null'
          name:
            type:
            - string
            - 'null'
      createdAt:
        type:
        - string
        - 'null'
        format: date-time
      updatedAt:
        type:
        - string
        - 'null'
        format: date-time
      experiencedAt:
        type:
        - string
        - 'null'
        format: date-time
      referralEmail:
        type:
        - string
        - 'null'
      referenceId:
        type:
        - string
        - 'null'
      source:
        type:
        - string
        - 'null'
      companyReply:
        type:
        - object
        - 'null'
        properties:
          createdAt:
            type:
            - string
            - 'null'
            format: date-time
          updatedAt:
            type:
            - string
            - 'null'
            format: date-time
          text:
            type:
            - string
            - 'null'
          authorBusinessUserId:
            type:
            - string
            - 'null'
      tags:
        type:
        - array
        - 'null'
        items:
          type:
          - object
          - 'null'
          properties:
            group:
              type:
              - string
              - 'null'
            value:
              type:
              - string
              - 'null'
      findReviewer:
        type:
        - object
        - 'null'
        properties:
          isEligible:
            type:
            - boolean
            - 'null'
          requests:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              properties:
                status:
                  type:
                  - string
                  - 'null'
                consumerResponse:
                  type:
                  - object
                  - 'null'
                  properties:
                    referenceId:
                      type:
                      - string
                      - 'null'
                    name:
                      type:
                      - string
                      - 'null'
                    submittedAt:
                      type:
                      - string
                      - 'null'
                      format: date-time
                    phoneNumber:
                      type:
                      - string
                      - 'null'
                    address:
                      type:
                      - string
                      - 'null'
                    message:
                      type:
                      - string
                      - 'null'
                    email:
                      type:
                      - string
                      - 'null'
                businessUserMessage:
                  type:
                  - string
                  - 'null'
                id:
                  type:
                  - string
                  - 'null'
                created:
                  type:
                  - string
                  - 'null'
                  format: date-time
      isVerified:
        type:
        - boolean
        - 'null'
      numberOfLikes:
        type: integer
      status:
        type:
        - 'null'
        - string
      reportData:
        type:
        - object
        - 'null'
        properties:
          source:
            type:
            - string
            - 'null'
          publicComment:
            type:
            - string
            - 'null'
          createdAt:
            type:
            - string
            - 'null'
            format: date-time
          reasons:
            type:
            - array
            - 'null'
            items:
              type: 'null'
              "$comment": Data structure at this point is unknown
      complianceLabels:
        type:
        - array
        - 'null'
        items:
          type:
          - string
          - 'null'
      countsTowardsTrustScore:
        type:
        - boolean
        - 'null'
      countsTowardsLocationTrustScore:
        type:
        - boolean
        - 'null'
      invitation:
        type:
        - object
        - 'null'
        properties:
          businessUnitId:
            type:
            - string
            - 'null'
      businessUnitHistory:
        type:
        - array
        - 'null'
        items:
          type:
          - object
          - 'null'
          properties:
            identifyingName:
              type:
              - string
              - 'null'
            displayName:
              type:
              - string
              - 'null'
            businessUnitId:
              type:
              - string
              - 'null'
            changeDate:
              type:
              - string
              - 'null'
              format: date-time
      reviewVerificationLevel:
        type:
        - string
        - 'null'
  business_units:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
        - string
        - 'null'
      displayName:
        type:
        - string
        - 'null'
      name:
        type: object
        properties:
          identifying:
            type:
            - string
            - 'null'
          referring:
            type:
            - array
            - 'null'
            items:
              type:
              - string
              - 'null'
      websiteUrl:
        type:
        - string
        - 'null'
      country:
        type:
        - string
        - 'null'
      numberOfReviews:
        type:
        - object
        - 'null'
        properties:
          total:
            type:
            - integer
            - 'null'
          usedForTrustScoreCalculation:
            type:
            - integer
            - 'null'
          oneStar:
            type:
            - integer
            - 'null'
          twoStars:
            type:
            - integer
            - 'null'
          threeStars:
            type:
            - integer
            - 'null'
          fourStars:
            type:
            - integer
            - 'null'
          fiveStars:
            type:
            - integer
            - 'null'
      status:
        type:
        - string
        - 'null'
      score:
        type:
        - object
        - 'null'
        properties:
          trustScore:
            type:
            - number
            - 'null'
          stars:
            type:
            - number
            - 'null'
      badFit:
        type:
        - boolean
        - 'null'

