version: 5.12.0

type: DeclarativeSource

description: >-
  The Squarespace connector enables seamless integration with your Squarespace
  store, allowing you to sync data from various key endpoints

check:
  type: CheckStream
  stream_names:
    - inventory

definitions:
  streams:
    inventory:
      type: DeclarativeStream
      name: inventory
      primary_key:
        - variantId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: commerce/inventory
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - inventory
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"pagination\", {}).get(\"nextPageUrl\", {}) }}"
            stop_condition: "{{ not response.get(\"pagination\", {}).get(\"nextPageUrl\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/inventory"
    store_pages:
      type: DeclarativeStream
      name: store_pages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: commerce/store_pages
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - storePages
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"pagination\", {}).get(\"nextPageUrl\", {}) }}"
            stop_condition: "{{ not response.get(\"pagination\", {}).get(\"nextPageUrl\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/store_pages"
    products:
      type: DeclarativeStream
      name: products
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: commerce/products
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - products
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"pagination\", {}).get(\"nextPageUrl\", {}) }}"
            stop_condition: "{{ not response.get(\"pagination\", {}).get(\"nextPageUrl\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modifiedOn
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: modifiedAfter
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: modifiedBefore
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
    profiles:
      type: DeclarativeStream
      name: profiles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: profiles
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - profiles
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"pagination\", {}).get(\"nextPageUrl\", {}) }}"
            stop_condition: "{{ not response.get(\"pagination\", {}).get(\"nextPageUrl\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/profiles"
  base_requester:
    type: HttpRequester
    url_base: https://api.squarespace.com/1.0/
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/inventory"
  - $ref: "#/definitions/streams/store_pages"
  - $ref: "#/definitions/streams/products"
  - $ref: "#/definitions/streams/profiles"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        description: >-
          API key to use. Find it at
          https://developers.squarespace.com/commerce-apis/authentication-and-permissions
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
      start_date:
        type: string
        description: Any data before this date will not be replicated.
        order: 1
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  autoImportSchema:
    inventory: true
    store_pages: true
    products: true
    profiles: true
  testedStreams:
    inventory:
      hasRecords: true
      streamHash: e9950cb9014345fb080be683d7a0fc2008023c80
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    store_pages:
      hasRecords: true
      streamHash: 0e9c5f08e9eaeae0d52ccba7d4b9665eff572287
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    products:
      hasRecords: true
      streamHash: 4f5f02f6e151a6570076da29b42e81ed87114aaf
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    profiles:
      hasRecords: true
      streamHash: c70e526fd8f4c79e9fe2e49a4c9ab7b58eccf5eb
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist:
    docsUrl: https://developers.squarespace.com/commerce-apis/overview

schemas:
  inventory:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      descriptor:
        type:
          - string
          - "null"
      isUnlimited:
        type:
          - boolean
          - "null"
      quantity:
        type:
          - number
          - "null"
      sku:
        type:
          - string
          - "null"
      variantId:
        type: string
    required:
      - variantId
  store_pages:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      isEnabled:
        type:
          - boolean
          - "null"
      title:
        type:
          - string
          - "null"
      urlSlug:
        type:
          - string
          - "null"
    required:
      - id
  products:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      createdOn:
        type:
          - string
          - "null"
      id:
        type: string
      images:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            altText:
              type:
                - string
                - "null"
            availableFormats:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            id:
              type:
                - string
                - "null"
            orderIndex:
              type:
                - number
                - "null"
            originalSize:
              type:
                - object
                - "null"
              properties:
                height:
                  type:
                    - number
                    - "null"
                width:
                  type:
                    - number
                    - "null"
            url:
              type:
                - string
                - "null"
      isVisible:
        type:
          - boolean
          - "null"
      modifiedOn:
        type: string
      name:
        type:
          - string
          - "null"
      storePageId:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      url:
        type:
          - string
          - "null"
      urlSlug:
        type:
          - string
          - "null"
      variantAttributes:
        type:
          - array
          - "null"
      variants:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            attributes:
              type:
                - object
                - "null"
            id:
              type:
                - string
                - "null"
            pricing:
              type:
                - object
                - "null"
              properties:
                basePrice:
                  type:
                    - object
                    - "null"
                  properties:
                    currency:
                      type:
                        - string
                        - "null"
                    value:
                      type:
                        - string
                        - "null"
                onSale:
                  type:
                    - boolean
                    - "null"
                salePrice:
                  type:
                    - object
                    - "null"
                  properties:
                    currency:
                      type:
                        - string
                        - "null"
                    value:
                      type:
                        - string
                        - "null"
            shippingMeasurements:
              type:
                - object
                - "null"
              properties:
                dimensions:
                  type:
                    - object
                    - "null"
                  properties:
                    height:
                      type:
                        - number
                        - "null"
                    length:
                      type:
                        - number
                        - "null"
                    unit:
                      type:
                        - string
                        - "null"
                    width:
                      type:
                        - number
                        - "null"
                weight:
                  type:
                    - object
                    - "null"
                  properties:
                    unit:
                      type:
                        - string
                        - "null"
                    value:
                      type:
                        - number
                        - "null"
            sku:
              type:
                - string
                - "null"
            stock:
              type:
                - object
                - "null"
              properties:
                quantity:
                  type:
                    - number
                    - "null"
                unlimited:
                  type:
                    - boolean
                    - "null"
    required:
      - id
      - modifiedOn
  profiles:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      acceptsMarketing:
        type:
          - boolean
          - "null"
      createdOn:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      hasAccount:
        type:
          - boolean
          - "null"
      id:
        type: string
      isCustomer:
        type:
          - boolean
          - "null"
      lastName:
        type:
          - string
          - "null"
      transactionsSummary:
        type:
          - object
          - "null"
        properties:
          donationCount:
            type:
              - number
              - "null"
          orderCount:
            type:
              - number
              - "null"
    required:
      - id
