version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - campaigns
definitions:
  streams:
    campaigns:
      type: DeclarativeStream
      name: campaigns
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.customer.io/v1
          authenticator:
            type: BearerAuthenticator
            api_token: "{{ config['app_api_key'] }}"
          path: /campaigns
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "campaigns"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            "type":
              type:
                - "null"
                - string
            actions:
              type: array
              items:
                type:
                  - "null"
                  - object
                properties:
                  "type":
                    type:
                      - "null"
                      - string
                  id:
                    type:
                      - "null"
                      - integer
            active:
              type:
                - "null"
                - boolean
            created:
              type:
                - "null"
                - integer
            created_by:
              type:
                - "null"
                - string
            date_attribute:
              type:
                - "null"
                - string
            deduplicate_id:
              type:
                - "null"
                - string
            event_name:
              type:
                - "null"
                - string
            first_started:
              type:
                - "null"
                - integer
            frequency:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
            msg_templates:
              type: array
              items:
                type:
                  - "null"
                  - object
                properties:
                  "type":
                    type:
                      - "null"
                      - string
                  id:
                    type:
                      - "null"
                      - integer
            name:
              type:
                - "null"
                - string
            start_hour:
              type:
                - "null"
                - integer
            start_minutes:
              type:
                - "null"
                - integer
            state:
              type:
                - "null"
                - string
            tags:
              type:
                - "null"
                - array
              additionalProperties: true
              properties:
                id:
                  type:
                    - "null"
                    - integer
            timezone:
              type:
                - "null"
                - string
            trigger_segment_ids:
              type:
                - "null"
                - array
              additionalProperties: true
              properties:
                id:
                  type:
                    - "null"
                    - integer
            updated:
              type:
                - "null"
                - integer
            use_customer_timezone:
              type:
                - "null"
                - boolean
    campaigns_actions:
      type: DeclarativeStream
      name: campaigns_actions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.customer.io/v1
          authenticator:
            type: BearerAuthenticator
            api_token: "{{ config['app_api_key'] }}"
          path: /campaigns/{{ stream_partition.parent_id }}/actions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "actions"
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: parent_id
                stream:
                  type: DeclarativeStream
                  name: campaigns
                  primary_key:
                    - id
                  retriever:
                    type: SimpleRetriever
                    requester:
                      type: HttpRequester
                      url_base: https://api.customer.io/v1
                      authenticator:
                        type: BearerAuthenticator
                        api_token: "{{ config['app_api_key'] }}"
                      path: /campaigns
                      http_method: GET
                    record_selector:
                      type: RecordSelector
                      extractor:
                        type: DpathExtractor
                        field_path:
                          - "campaigns"
                  schema_loader:
                    type: InlineSchemaLoader
                    schema:
                      type: object
                      $schema: http://json-schema.org/draft-07/schema#
                      additionalProperties: true
                      properties:
                        "type":
                          type:
                            - "null"
                            - string
                        actions:
                          type: array
                          items:
                            type:
                              - "null"
                              - object
                            properties:
                              "type":
                                type:
                                  - "null"
                                  - string
                              id:
                                type:
                                  - "null"
                                  - integer
                        active:
                          type:
                            - "null"
                            - boolean
                        created:
                          type:
                            - "null"
                            - integer
                        created_by:
                          type:
                            - "null"
                            - string
                        date_attribute:
                          type:
                            - "null"
                            - string
                        deduplicate_id:
                          type:
                            - "null"
                            - string
                        event_name:
                          type:
                            - "null"
                            - string
                        first_started:
                          type:
                            - "null"
                            - integer
                        frequency:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - integer
                        msg_templates:
                          type: array
                          items:
                            type:
                              - "null"
                              - object
                            properties:
                              "type":
                                type:
                                  - "null"
                                  - string
                              id:
                                type:
                                  - "null"
                                  - integer
                        name:
                          type:
                            - "null"
                            - string
                        start_hour:
                          type:
                            - "null"
                            - integer
                        start_minutes:
                          type:
                            - "null"
                            - integer
                        state:
                          type:
                            - "null"
                            - string
                        tags:
                          type:
                            - "null"
                            - array
                          additionalProperties: true
                          properties:
                            id:
                              type:
                                - "null"
                                - integer
                        timezone:
                          type:
                            - "null"
                            - string
                        trigger_segment_ids:
                          type:
                            - "null"
                            - array
                          additionalProperties: true
                          properties:
                            id:
                              type:
                                - "null"
                                - integer
                        updated:
                          type:
                            - "null"
                            - integer
                        use_customer_timezone:
                          type:
                            - "null"
                            - boolean
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            "type":
              type:
                - "null"
                - string
            bcc:
              type:
                - "null"
                - string
            body:
              type:
                - "null"
                - string
            campaign_id:
              type:
                - "null"
                - integer
            created:
              type:
                - "null"
                - integer
            deduplicate_id:
              type:
                - "null"
                - string
            editor:
              type:
                - "null"
                - string
            fake_bcc:
              type:
                - "null"
                - boolean
            from:
              type:
                - "null"
                - string
            from_id:
              type:
                - "null"
                - string
            headers:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            language:
              type:
                - "null"
                - string
            layout:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            parent_action_id:
              type:
                - "null"
                - integer
            preheader_text:
              type:
                - "null"
                - string
            preprocessor:
              type:
                - "null"
                - string
            recipient:
              type:
                - "null"
                - string
            recipient_environment_id:
              type:
                - "null"
                - integer
            reply_to:
              type:
                - "null"
                - string
            reply_to_id:
              type:
                - "null"
                - string
            request_method:
              type:
                - "null"
                - string
            sending_state:
              type:
                - "null"
                - string
            subject:
              type:
                - "null"
                - string
            updated:
              type:
                - "null"
                - integer
            url:
              type:
                - "null"
                - string
    newsletters:
      type: DeclarativeStream
      name: newsletters
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.customer.io/v1
          authenticator:
            type: BearerAuthenticator
            api_token: "{{ config['app_api_key'] }}"
          path: /newsletters
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - "newsletters"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            "type":
              type:
                - "null"
                - string
            content_ids:
              type:
                - "null"
                - array
              additionalProperties: true
              properties:
                id:
                  type:
                    - "null"
                    - integer
            created:
              type:
                - "null"
                - integer
            deduplicate_id:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
            name:
              type:
                - "null"
                - string
            sent_at:
              type:
                - "null"
                - array
              additionalProperties: true
              properties:
                id:
                  type:
                    - "null"
                    - string
            tags:
              type:
                - "null"
                - array
              additionalProperties: true
              properties:
                id:
                  type:
                    - "null"
                    - integer
            updated:
              type:
                - "null"
                - integer
  base_requester:
    type: HttpRequester
    url_base: https://api.customer.io/v1
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config['app_api_key'] }}"
streams:
  - type: DeclarativeStream
    name: campaigns
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.customer.io/v1
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['app_api_key'] }}"
        path: /campaigns
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - "campaigns"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          "type":
            type:
              - "null"
              - string
          actions:
            type: array
            items:
              type:
                - "null"
                - object
              properties:
                "type":
                  type:
                    - "null"
                    - string
                id:
                  type:
                    - "null"
                    - integer
          active:
            type:
              - "null"
              - boolean
          created:
            type:
              - "null"
              - integer
          created_by:
            type:
              - "null"
              - string
          date_attribute:
            type:
              - "null"
              - string
          deduplicate_id:
            type:
              - "null"
              - string
          event_name:
            type:
              - "null"
              - string
          first_started:
            type:
              - "null"
              - integer
          frequency:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
          msg_templates:
            type: array
            items:
              type:
                - "null"
                - object
              properties:
                "type":
                  type:
                    - "null"
                    - string
                id:
                  type:
                    - "null"
                    - integer
          name:
            type:
              - "null"
              - string
          start_hour:
            type:
              - "null"
              - integer
          start_minutes:
            type:
              - "null"
              - integer
          state:
            type:
              - "null"
              - string
          tags:
            type:
              - "null"
              - array
            additionalProperties: true
            properties:
              id:
                type:
                  - "null"
                  - integer
          timezone:
            type:
              - "null"
              - string
          trigger_segment_ids:
            type:
              - "null"
              - array
            additionalProperties: true
            properties:
              id:
                type:
                  - "null"
                  - integer
          updated:
            type:
              - "null"
              - integer
          use_customer_timezone:
            type:
              - "null"
              - boolean
  - type: DeclarativeStream
    name: campaigns_actions
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.customer.io/v1
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['app_api_key'] }}"
        path: /campaigns/{{ stream_partition.parent_id }}/actions
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - "actions"
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                type: DeclarativeStream
                name: campaigns
                primary_key:
                  - id
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.customer.io/v1
                    authenticator:
                      type: BearerAuthenticator
                      api_token: "{{ config['app_api_key'] }}"
                    path: /campaigns
                    http_method: GET
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - "campaigns"
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    type: object
                    $schema: http://json-schema.org/draft-07/schema#
                    additionalProperties: true
                    properties:
                      "type":
                        type:
                          - "null"
                          - string
                      actions:
                        type: array
                        items:
                          type:
                            - "null"
                            - object
                          properties:
                            "type":
                              type:
                                - "null"
                                - string
                            id:
                              type:
                                - "null"
                                - integer
                      active:
                        type:
                          - "null"
                          - boolean
                      created:
                        type:
                          - "null"
                          - integer
                      created_by:
                        type:
                          - "null"
                          - string
                      date_attribute:
                        type:
                          - "null"
                          - string
                      deduplicate_id:
                        type:
                          - "null"
                          - string
                      event_name:
                        type:
                          - "null"
                          - string
                      first_started:
                        type:
                          - "null"
                          - integer
                      frequency:
                        type:
                          - "null"
                          - string
                      id:
                        type:
                          - "null"
                          - integer
                      msg_templates:
                        type: array
                        items:
                          type:
                            - "null"
                            - object
                          properties:
                            "type":
                              type:
                                - "null"
                                - string
                            id:
                              type:
                                - "null"
                                - integer
                      name:
                        type:
                          - "null"
                          - string
                      start_hour:
                        type:
                          - "null"
                          - integer
                      start_minutes:
                        type:
                          - "null"
                          - integer
                      state:
                        type:
                          - "null"
                          - string
                      tags:
                        type:
                          - "null"
                          - array
                        additionalProperties: true
                        properties:
                          id:
                            type:
                              - "null"
                              - integer
                      timezone:
                        type:
                          - "null"
                          - string
                      trigger_segment_ids:
                        type:
                          - "null"
                          - array
                        additionalProperties: true
                        properties:
                          id:
                            type:
                              - "null"
                              - integer
                      updated:
                        type:
                          - "null"
                          - integer
                      use_customer_timezone:
                        type:
                          - "null"
                          - boolean
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          "type":
            type:
              - "null"
              - string
          bcc:
            type:
              - "null"
              - string
          body:
            type:
              - "null"
              - string
          campaign_id:
            type:
              - "null"
              - integer
          created:
            type:
              - "null"
              - integer
          deduplicate_id:
            type:
              - "null"
              - string
          editor:
            type:
              - "null"
              - string
          fake_bcc:
            type:
              - "null"
              - boolean
          from:
            type:
              - "null"
              - string
          from_id:
            type:
              - "null"
              - string
          headers:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          language:
            type:
              - "null"
              - string
          layout:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          parent_action_id:
            type:
              - "null"
              - integer
          preheader_text:
            type:
              - "null"
              - string
          preprocessor:
            type:
              - "null"
              - string
          recipient:
            type:
              - "null"
              - string
          recipient_environment_id:
            type:
              - "null"
              - integer
          reply_to:
            type:
              - "null"
              - string
          reply_to_id:
            type:
              - "null"
              - string
          request_method:
            type:
              - "null"
              - string
          sending_state:
            type:
              - "null"
              - string
          subject:
            type:
              - "null"
              - string
          updated:
            type:
              - "null"
              - integer
          url:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: newsletters
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.customer.io/v1
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['app_api_key'] }}"
        path: /newsletters
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - "newsletters"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          "type":
            type:
              - "null"
              - string
          content_ids:
            type:
              - "null"
              - array
            additionalProperties: true
            properties:
              id:
                type:
                  - "null"
                  - integer
          created:
            type:
              - "null"
              - integer
          deduplicate_id:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
          name:
            type:
              - "null"
              - string
          sent_at:
            type:
              - "null"
              - array
            additionalProperties: true
            properties:
              id:
                type:
                  - "null"
                  - string
          tags:
            type:
              - "null"
              - array
            additionalProperties: true
            properties:
              id:
                type:
                  - "null"
                  - integer
          updated:
            type:
              - "null"
              - integer
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - app_api_key
    properties:
      app_api_key:
        type: string
        title: Customer.io App API Key
        airbyte_secret: true
        order: 0
    additionalProperties: true
metadata:
  autoImportSchema:
    campaigns: false
    campaigns_actions: false
    newsletters: false
schemas:
  campaigns:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      "type":
        type:
          - "null"
          - string
      actions:
        type: array
        items:
          type:
            - "null"
            - object
          properties:
            "type":
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
      active:
        type:
          - "null"
          - boolean
      created:
        type:
          - "null"
          - integer
      created_by:
        type:
          - "null"
          - string
      date_attribute:
        type:
          - "null"
          - string
      deduplicate_id:
        type:
          - "null"
          - string
      event_name:
        type:
          - "null"
          - string
      first_started:
        type:
          - "null"
          - integer
      frequency:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - integer
      msg_templates:
        type: array
        items:
          type:
            - "null"
            - object
          properties:
            "type":
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
      name:
        type:
          - "null"
          - string
      start_hour:
        type:
          - "null"
          - integer
      start_minutes:
        type:
          - "null"
          - integer
      state:
        type:
          - "null"
          - string
      tags:
        type:
          - "null"
          - array
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
      timezone:
        type:
          - "null"
          - string
      trigger_segment_ids:
        type:
          - "null"
          - array
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
      updated:
        type:
          - "null"
          - integer
      use_customer_timezone:
        type:
          - "null"
          - boolean
  campaigns_actions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      "type":
        type:
          - "null"
          - string
      bcc:
        type:
          - "null"
          - string
      body:
        type:
          - "null"
          - string
      campaign_id:
        type:
          - "null"
          - integer
      created:
        type:
          - "null"
          - integer
      deduplicate_id:
        type:
          - "null"
          - string
      editor:
        type:
          - "null"
          - string
      fake_bcc:
        type:
          - "null"
          - boolean
      from:
        type:
          - "null"
          - string
      from_id:
        type:
          - "null"
          - string
      headers:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      language:
        type:
          - "null"
          - string
      layout:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      parent_action_id:
        type:
          - "null"
          - integer
      preheader_text:
        type:
          - "null"
          - string
      preprocessor:
        type:
          - "null"
          - string
      recipient:
        type:
          - "null"
          - string
      recipient_environment_id:
        type:
          - "null"
          - integer
      reply_to:
        type:
          - "null"
          - string
      reply_to_id:
        type:
          - "null"
          - string
      request_method:
        type:
          - "null"
          - string
      sending_state:
        type:
          - "null"
          - string
      subject:
        type:
          - "null"
          - string
      updated:
        type:
          - "null"
          - integer
      url:
        type:
          - "null"
          - string
  newsletters:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      "type":
        type:
          - "null"
          - string
      content_ids:
        type:
          - "null"
          - array
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
      created:
        type:
          - "null"
          - integer
      deduplicate_id:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      sent_at:
        type:
          - "null"
          - array
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
      tags:
        type:
          - "null"
          - array
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
      updated:
        type:
          - "null"
          - integer
