version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - campaigns
definitions:
  base_requester:
    type: HttpRequester
    url_base: "https://api{{ '-eu' if config.get('region') == 'EU' else '' }}.customer.io/v1"
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config['app_api_key'] | trim }}"
    error_handler:
      type: DefaultErrorHandler
      max_retries: 30
      backoff_strategies:
        - type: WaitTimeFromHeader
          header: Retry-After
        - type: ExponentialBackoffStrategy
          factor: 2
      response_filters:
        - type: HttpResponseFilter
          http_codes: [401]
          action: FAIL
          failure_type: config_error
          error_message: >-
            Customer.io rejected the App API key. Enter a valid App API key (not a Track API key),
            select the Region your Customer.io account is hosted in (US or EU), and if your account
            restricts API access by IP address, add the Airbyte IP addresses to the allowlist.
        - type: HttpResponseFilter
          http_codes: [403]
          action: FAIL
          failure_type: config_error
          error_message: >-
            Customer.io denied access to this App API key. If your account restricts API access
            by IP address, add the Airbyte IP addresses to the allowlist.
streams:
  - type: DeclarativeStream
    name: campaigns
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/base_requester"
        path: /campaigns
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - "campaigns"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated
      datetime_format: "%s"
      cursor_datetime_formats:
        - "%s"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ format_datetime(config['start_date'], '%s') if config.get('start_date') else '0' }}"
        datetime_format: "%s"
        max_datetime: "{{ now_utc().timestamp() | int }}"
      lookback_window: PT1H
      is_client_side_incremental: true
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/campaigns"
  - type: DeclarativeStream
    name: campaigns_actions
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/base_requester"
        path: /campaigns/{{ stream_partition.parent_id }}/actions
        http_method: GET
        # The composite takes max_retries from its first handler, and 401/403 must end on the shared handler.
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 30
              response_filters:
                - type: HttpResponseFilter
                  http_codes: [404]
                  action: IGNORE
                  error_message: >-
                    Customer.io returned 404 for the actions of an automation that was deleted after
                    the automation list was read. Its actions are skipped.
            - $ref: "#/definitions/base_requester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - "actions"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.next }}"
          stop_condition: "{{ not response.next }}"
        page_token_option:
          type: RequestOption
          field_name: start
          inject_into: request_parameter
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: parent_id
              stream:
                type: DeclarativeStream
                name: campaigns
                primary_key:
                  - id
                retriever:
                  type: SimpleRetriever
                  requester:
                    $ref: "#/definitions/base_requester"
                    path: /campaigns
                    http_method: GET
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - "campaigns"
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    $ref: "#/schemas/campaigns"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated
      datetime_format: "%s"
      cursor_datetime_formats:
        - "%s"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ format_datetime(config['start_date'], '%s') if config.get('start_date') else '0' }}"
        datetime_format: "%s"
        max_datetime: "{{ now_utc().timestamp() | int }}"
      lookback_window: PT1H
      is_client_side_incremental: true
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/campaigns_actions"
  - type: DeclarativeStream
    name: newsletters
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/base_requester"
        path: /newsletters
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - "newsletters"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.next }}"
          stop_condition: "{{ not response.next }}"
        page_token_option:
          type: RequestOption
          field_name: start
          inject_into: request_parameter
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated
      datetime_format: "%s"
      cursor_datetime_formats:
        - "%s"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ format_datetime(config['start_date'], '%s') if config.get('start_date') else '0' }}"
        datetime_format: "%s"
        max_datetime: "{{ now_utc().timestamp() | int }}"
      lookback_window: PT1H
      is_client_side_incremental: true
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/newsletters"
concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 3
api_budget:
  type: HTTPAPIBudget
  policies:
    - type: MovingWindowCallRatePolicy
      rates:
        - limit: 10
          interval: PT1S
      matchers: []
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - app_api_key
    properties:
      app_api_key:
        type: string
        title: App API Key
        description: >-
          App API key for the Customer.io workspace you want to sync. In Customer.io, go to
          Account Settings > API Credentials and create an App API key for that workspace.
          Copy it right away, because Customer.io shows it only once. Track API keys do not work.
        airbyte_secret: true
        order: 0
      region:
        type: string
        title: Region
        description: >-
          The data center region of your Customer.io account. Account Admins can see it under
          Settings > Account Settings > Data and Privacy. If the region does not match your account,
          requests fail with an authentication (401) error.
        enum:
          - US
          - EU
        default: US
        order: 1
      start_date:
        type: string
        title: Start Date
        description: >-
          Only sync records last updated at or after this UTC date and time, in the format
          YYYY-MM-DDTHH:MM:SSZ. Leave blank to sync all records.
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        pattern_descriptor: YYYY-MM-DDTHH:MM:SSZ
        examples:
          - "2023-01-01T00:00:00Z"
        order: 2
    additionalProperties: true
metadata:
  autoImportSchema:
    campaigns: false
    campaigns_actions: false
    newsletters: false
schemas:
  campaigns:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      "type":
        type:
          - "null"
          - string
      actions:
        type: array
        items:
          type:
            - "null"
            - object
          properties:
            "type":
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
      active:
        type:
          - "null"
          - boolean
      audience:
        type:
          - "null"
          - object
        properties:
          "type":
            type:
              - "null"
              - integer
          person_filters: {}
          relationship_filters: {}
      created:
        type:
          - "null"
          - integer
      created_by:
        type:
          - "null"
          - string
      date_attribute:
        type:
          - "null"
          - string
      deduplicate_id:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      event_name:
        type:
          - "null"
          - string
      event_type:
        type:
          - "null"
          - string
      filter_object_attributes:
        type:
          - "null"
          - string
      filter_relationship_attributes:
        type:
          - "null"
          - string
      filter_segment_ids:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      first_started:
        type:
          - "null"
          - integer
      frequency:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - integer
      msg_templates:
        type: array
        items:
          type:
            - "null"
            - object
          properties:
            "type":
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
      name:
        type:
          - "null"
          - string
      object_attribute_triggers: {}
      object_type_id:
        type:
          - "null"
          - integer
      relationship_attribute_triggers: {}
      scheduled_start:
        type:
          - "null"
          - integer
      scheduled_start_should_backfill:
        type:
          - "null"
          - boolean
      scheduled_stop:
        type:
          - "null"
          - integer
      scheduled_stop_should_sunset:
        type:
          - "null"
          - boolean
      start_hour:
        type:
          - "null"
          - integer
      start_minutes:
        type:
          - "null"
          - integer
      state:
        type:
          - "null"
          - string
      tags:
        type:
          - "null"
          - array
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
      timezone:
        type:
          - "null"
          - string
      trigger_segment_ids:
        type:
          - "null"
          - array
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
      updated:
        type:
          - "null"
          - integer
      use_customer_timezone:
        type:
          - "null"
          - boolean
      webhook_id:
        type:
          - "null"
          - integer
  campaigns_actions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      "type":
        type:
          - "null"
          - string
      bcc:
        type:
          - "null"
          - string
      body:
        type:
          - "null"
          - string
      body_amp:
        type:
          - "null"
          - string
      body_json:
        type:
          - "null"
          - string
      body_plain:
        type:
          - "null"
          - string
      broadcast_id:
        type:
          - "null"
          - integer
      campaign_id:
        type:
          - "null"
          - integer
      cc:
        type:
          - "null"
          - string
      created:
        type:
          - "null"
          - integer
      deduplicate_id:
        type:
          - "null"
          - string
      editor:
        type:
          - "null"
          - string
      fake_bcc:
        type:
          - "null"
          - boolean
      from:
        type:
          - "null"
          - string
      from_id:
        type:
          - "null"
          - string
      headers:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      image_url:
        type:
          - "null"
          - string
      language:
        type:
          - "null"
          - string
      layout:
        type:
          - "null"
          - string
      method:
        type:
          - "null"
          - string
      multi_language_branch_action_id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      parent_action_id:
        type:
          - "null"
          - integer
      preheader_text:
        type:
          - "null"
          - string
      preprocessor:
        type:
          - "null"
          - string
      recipient:
        type:
          - "null"
          - string
      recipient_environment_id:
        type:
          - "null"
          - integer
      reply_to:
        type:
          - "null"
          - string
      reply_to_id:
        type:
          - "null"
          - string
      request_method:
        type:
          - "null"
          - string
      send_to_unsubscribed:
        type:
          - "null"
          - boolean
      sender_identity_id:
        type:
          - "null"
          - integer
      sending_state:
        type:
          - "null"
          - string
      subject:
        type:
          - "null"
          - string
      tracked:
        type:
          - "null"
          - boolean
      updated:
        type:
          - "null"
          - integer
      url:
        type:
          - "null"
          - string
  newsletters:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      "type":
        type:
          - "null"
          - string
      content_ids:
        type:
          - "null"
          - array
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
      created:
        type:
          - "null"
          - integer
      deduplicate_id:
        type:
          - "null"
          - string
      expires_after:
        type:
          - "null"
          - integer
      id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      recipient_file_error:
        type:
          - "null"
          - string
      recipient_file_status:
        type:
          - "null"
          - string
      recipient_segment_ids:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      scheduled_at:
        type:
          - "null"
          - integer
      send_state:
        type:
          - "null"
          - string
      sent_at:
        type:
          - "null"
          - array
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
      subscription_topic_id:
        type:
          - "null"
          - integer
      tags:
        type:
          - "null"
          - array
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - integer
      timezone:
        type:
          - "null"
          - string
      tz_match_enabled:
        type:
          - "null"
          - boolean
      updated:
        type:
          - "null"
          - integer
