version: 0.78.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - stock_api

definitions:
  streams:
    stock_api:
      type: DeclarativeStream
      name: stock_api
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /v2/aggs/ticker/{{ config['stocksTicker'] }}/range/{{
            config['multiplier']         }}/{{ config['timespan'] }}/{{
            config['start_date'] }}/{{ config['end_date']         }}?adjusted={{
            config['adjusted'] }}&sort={{ config['sort']
            }}&limit=120&apiKey={{         config['apiKey'] }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      primary_key:
        - t
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/stock_api"
  base_requester:
    type: HttpRequester
    url_base: https://api.polygon.io
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['apiKey'] }}"
      inject_into:
        type: RequestOption
        field_name: X-CoinAPI-Key
        inject_into: header

streams:
  - $ref: "#/definitions/streams/stock_api"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - apiKey
      - end_date
      - multiplier
      - start_date
      - stocksTicker
      - timespan
    properties:
      sort:
        type: string
        order: 5
        title: Sort
        examples:
          - asc
          - desc
        description: >-
          Sort the results by timestamp. asc will return results in ascending
          order (oldest at the top), desc will return results in descending
          order (newest at the top).
      limit:
        type: integer
        order: 3
        title: Limit
        examples:
          - 100
          - 120
        description: The target date for the aggregate window.
      apiKey:
        type: string
        order: 1
        title: API Key
        description: Your API ACCESS Key
        airbyte_secret: true
      adjusted:
        type: string
        order: 0
        title: Adjusted
        examples:
          - "true"
          - "false"
        description: >-
          Determines whether or not the results are adjusted for splits. By
          default, results are adjusted and set to true. Set this to false to
          get results that are NOT adjusted for splits.
      end_date:
        type: string
        order: 2
        title: End Date
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        examples:
          - "2020-10-14"
        description: The target date for the aggregate window.
      timespan:
        type: string
        order: 8
        title: Timespan
        examples:
          - day
        description: The size of the time window.
      multiplier:
        type: integer
        order: 4
        title: Multiplier
        examples:
          - 1
          - 2
        description: The size of the timespan multiplier.
      start_date:
        type: string
        order: 6
        title: Start Date
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        examples:
          - "2020-10-14"
        description: The beginning date for the aggregate window.
      stocksTicker:
        type: string
        order: 7
        title: Stock Ticker
        examples:
          - IBM
          - MSFT
        description: The exchange symbol that this item is traded under.
    additionalProperties: true

metadata:
  autoImportSchema:
    stock_api: true

schemas:
  stock_api:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      c:
        type:
          - "null"
          - number
        description: Closing price of the stock at a specific time
      h:
        type:
          - "null"
          - number
        description: Highest price the stock reached during a given period
      l:
        type:
          - "null"
          - number
        description: Lowest price the stock dropped to within a certain timeframe
      "n":
        type:
          - "null"
          - number
        description: Name of the stock or company
      o:
        type:
          - "null"
          - number
        description: Opening price of the stock at a particular time
      t:
        type:
          - "null"
          - integer
        description: Type of stock (common stock, preferred stock, etc.)
      v:
        type:
          - "null"
          - number
        description: Volume of stocks traded at a specific time
      vw:
        type:
          - "null"
          - number
        description: Volume-weighted average price of the stock
      otc:
        type:
          - "null"
          - boolean
        description: Time when the stock transaction occurred
    additionalProperties: true
