version: 7.0.4

type: DeclarativeSource

description: A manifest only source for Productboard. https://www.productboard.com/

check:
  type: CheckStream
  stream_names:
    - products

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: BearerAuthenticator
        api_token: "{{ config[\"access_token\"] }}"
      error_handler:
        type: CompositeErrorHandler
        error_handlers:
          - type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: RATE_LIMITED
                http_codes:
                  - 429
                error_message: There is a rate limit of 50 requests per second.
            backoff_strategies:
              - type: ConstantBackoffStrategy
                backoff_time_in_seconds: 1
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.get('links', {}).get('next') }}"
          stop_condition: "{{ not response.get('links', {}).get('next') }}"

streams:
  - type: DeclarativeStream
    name: products
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.productboard.com/v2/entities
        use_cache: false
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          type[]: product
          fields[]: all
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      ignore_stream_slicer_parameters_on_paginated_requests: false
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - 'null'
          id:
            type: string
          links:
            type:
              - object
              - 'null'
            properties:
              self:
                type:
                  - string
                  - 'null'
              html:
                type:
                  - string
                  - 'null'
          fields:
            type:
              - object
              - 'null'
            additionalProperties: true
            properties:
              description:
                type:
                  - string
                  - 'null'
              name:
                type:
                  - string
                  - 'null'
              owner:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type:
                      - string
                      - 'null'
                  email:
                    type:
                      - string
                      - 'null'
              teams:
                type:
                  - array
                  - 'null'
              tags:
                type:
                  - array
                  - 'null'
              effort:
                type:
                  - number
                  - 'null'
          createdAt:
            type:
              - string
              - 'null'
          updatedAt:
            type:
              - string
              - 'null'
          relationships:
            type:
              - object
              - 'null'
            properties:
              data:
                type:
                  - array
                  - 'null'
                items:
                  type:
                    - object
                    - 'null'
                  properties:
                    type:
                      type:
                        - string
                        - 'null'
                    target:
                      type:
                        - object
                        - 'null'
                      properties:
                        type:
                          type:
                            - string
                            - 'null'
                        id:
                          type:
                            - string
                            - 'null'
                        links:
                          type:
                            - object
                            - 'null'
                          properties:
                            self:
                              type:
                                - string
                                - 'null'
                            html:
                              type:
                                - string
                                - 'null'
              links:
                type:
                  - object
                  - 'null'
                properties:
                  next:
                    type:
                      - string
                      - 'null'
        additionalProperties: true
    state_migrations: []
  - type: DeclarativeStream
    name: features
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.productboard.com/v2/entities
        use_cache: false
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          type[]: feature
          fields[]: all
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      ignore_stream_slicer_parameters_on_paginated_requests: false
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - 'null'
          id:
            type: string
          links:
            type:
              - object
              - 'null'
            properties:
              self:
                type:
                  - string
                  - 'null'
              html:
                type:
                  - string
                  - 'null'
          fields:
            type:
              - object
              - 'null'
            additionalProperties: true
            properties:
              description:
                type:
                  - string
                  - 'null'
              name:
                type:
                  - string
                  - 'null'
              status:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type:
                      - string
                      - 'null'
                  name:
                    type:
                      - string
                      - 'null'
              owner:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type:
                      - string
                      - 'null'
                  email:
                    type:
                      - string
                      - 'null'
              timeframe:
                type:
                  - object
                  - 'null'
                properties:
                  startDate:
                    type:
                      - string
                      - 'null'
                  endDate:
                    type:
                      - string
                      - 'null'
                  granularity:
                    type:
                      - string
                      - 'null'
              teams:
                type:
                  - array
                  - 'null'
              archived:
                type:
                  - boolean
                  - 'null'
              workProgress:
                type:
                  - object
                  - 'null'
                properties:
                  value:
                    type:
                      - number
                      - 'null'
                  mode:
                    type:
                      - string
                      - 'null'
              tags:
                type:
                  - array
                  - 'null'
              effort:
                type:
                  - number
                  - 'null'
          createdAt:
            type:
              - string
              - 'null'
          updatedAt:
            type:
              - string
              - 'null'
          relationships:
            type:
              - object
              - 'null'
            properties:
              data:
                type:
                  - array
                  - 'null'
                items:
                  type:
                    - object
                    - 'null'
                  properties:
                    type:
                      type:
                        - string
                        - 'null'
                    target:
                      type:
                        - object
                        - 'null'
                      properties:
                        type:
                          type:
                            - string
                            - 'null'
                        id:
                          type:
                            - string
                            - 'null'
                        links:
                          type:
                            - object
                            - 'null'
                          properties:
                            self:
                              type:
                                - string
                                - 'null'
                            html:
                              type:
                                - string
                                - 'null'
              links:
                type:
                  - object
                  - 'null'
                properties:
                  next:
                    type:
                      - string
                      - 'null'
        additionalProperties: true
    state_migrations: []
  - type: DeclarativeStream
    name: components
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.productboard.com/v2/entities
        use_cache: false
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          type[]: component
          fields[]: all
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      ignore_stream_slicer_parameters_on_paginated_requests: false
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - 'null'
          id:
            type: string
          links:
            type:
              - object
              - 'null'
            properties:
              self:
                type:
                  - string
                  - 'null'
              html:
                type:
                  - string
                  - 'null'
          fields:
            type:
              - object
              - 'null'
            additionalProperties: true
            properties:
              description:
                type:
                  - string
                  - 'null'
              name:
                type:
                  - string
                  - 'null'
              owner:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type:
                      - string
                      - 'null'
                  email:
                    type:
                      - string
                      - 'null'
              teams:
                type:
                  - array
                  - 'null'
              archived:
                type:
                  - boolean
                  - 'null'
              tags:
                type:
                  - array
                  - 'null'
              effort:
                type:
                  - number
                  - 'null'
          createdAt:
            type:
              - string
              - 'null'
          updatedAt:
            type:
              - string
              - 'null'
          relationships:
            type:
              - object
              - 'null'
            properties:
              data:
                type:
                  - array
                  - 'null'
                items:
                  type:
                    - object
                    - 'null'
                  properties:
                    type:
                      type:
                        - string
                        - 'null'
                    target:
                      type:
                        - object
                        - 'null'
                      properties:
                        type:
                          type:
                            - string
                            - 'null'
                        id:
                          type:
                            - string
                            - 'null'
                        links:
                          type:
                            - object
                            - 'null'
                          properties:
                            self:
                              type:
                                - string
                                - 'null'
                            html:
                              type:
                                - string
                                - 'null'
              links:
                type:
                  - object
                  - 'null'
                properties:
                  next:
                    type:
                      - string
                      - 'null'
        additionalProperties: true
    state_migrations: []
  - type: DeclarativeStream
    name: notes
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.productboard.com/v2/notes
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          fields[]: all
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - updatedAt
        properties:
          type:
            type:
              - string
              - 'null'
          metadata:
            type:
              - object
              - 'null'
            additionalProperties: true
          id:
            type: string
          links:
            type:
              - object
              - 'null'
            properties:
              self:
                type:
                  - string
                  - 'null'
              html:
                type:
                  - string
                  - 'null'
          fields:
            type:
              - object
              - 'null'
            additionalProperties: true
            properties:
              content:
                type:
                  - string
                  - 'null'
              name:
                type:
                  - string
                  - 'null'
              owner:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type:
                      - string
                      - 'null'
                  email:
                    type:
                      - string
                      - 'null'
              creator:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type:
                      - string
                      - 'null'
                  email:
                    type:
                      - string
                      - 'null'
              tags:
                type:
                  - array
                  - 'null'
              archived:
                type:
                  - boolean
                  - 'null'
              processed:
                type:
                  - boolean
                  - 'null'
          createdAt:
            type:
              - string
              - 'null'
          updatedAt:
            type: string
          relationships:
            type:
              - object
              - 'null'
            properties:
              data:
                type:
                  - array
                  - 'null'
                items:
                  type:
                    - object
                    - 'null'
                  properties:
                    type:
                      type:
                        - string
                        - 'null'
                    target:
                      type:
                        - object
                        - 'null'
                      properties:
                        type:
                          type:
                            - string
                            - 'null'
                        id:
                          type:
                            - string
                            - 'null'
                        links:
                          type:
                            - object
                            - 'null'
                          properties:
                            self:
                              type:
                                - string
                                - 'null'
                            html:
                              type:
                                - string
                                - 'null'
              links:
                type:
                  - object
                  - 'null'
                properties:
                  next:
                    type:
                      - string
                      - 'null'
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      step: P1M
      cursor_field: updatedAt
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      end_time_option:
        type: RequestOption
        field_name: updatedTo
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: updatedFrom
        inject_into: request_parameter
      cursor_granularity: PT0.000001S
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
  - type: DeclarativeStream
    name: companies
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.productboard.com/v2/entities
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          type[]: company
          fields[]: all
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - 'null'
          id:
            type: string
          links:
            type:
              - object
              - 'null'
            properties:
              self:
                type:
                  - string
                  - 'null'
              html:
                type:
                  - string
                  - 'null'
          fields:
            type:
              - object
              - 'null'
            additionalProperties: true
            properties:
              description:
                type:
                  - string
                  - 'null'
              name:
                type:
                  - string
                  - 'null'
              owner:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type:
                      - string
                      - 'null'
                  email:
                    type:
                      - string
                      - 'null'
              archived:
                type:
                  - boolean
                  - 'null'
              domain:
                type:
                  - string
                  - 'null'
          createdAt:
            type:
              - string
              - 'null'
          updatedAt:
            type:
              - string
              - 'null'
          relationships:
            type:
              - object
              - 'null'
            properties:
              data:
                type:
                  - array
                  - 'null'
                items:
                  type:
                    - object
                    - 'null'
                  properties:
                    type:
                      type:
                        - string
                        - 'null'
                    target:
                      type:
                        - object
                        - 'null'
                      properties:
                        type:
                          type:
                            - string
                            - 'null'
                        id:
                          type:
                            - string
                            - 'null'
                        links:
                          type:
                            - object
                            - 'null'
                          properties:
                            self:
                              type:
                                - string
                                - 'null'
                            html:
                              type:
                                - string
                                - 'null'
              links:
                type:
                  - object
                  - 'null'
                properties:
                  next:
                    type:
                      - string
                      - 'null'
        additionalProperties: true
  - type: DeclarativeStream
    name: users
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.productboard.com/v2/entities
        use_cache: false
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          type[]: user
          fields[]: all
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      ignore_stream_slicer_parameters_on_paginated_requests: false
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - 'null'
          id:
            type: string
          links:
            type:
              - object
              - 'null'
            properties:
              self:
                type:
                  - string
                  - 'null'
              html:
                type:
                  - string
                  - 'null'
          fields:
            type:
              - object
              - 'null'
            additionalProperties: true
            properties:
              description:
                type:
                  - string
                  - 'null'
              name:
                type:
                  - string
                  - 'null'
              owner:
                type:
                  - object
                  - 'null'
                properties:
                  id:
                    type:
                      - string
                      - 'null'
                  email:
                    type:
                      - string
                      - 'null'
              archived:
                type:
                  - boolean
                  - 'null'
              email:
                type:
                  - string
                  - 'null'
          createdAt:
            type:
              - string
              - 'null'
          updatedAt:
            type:
              - string
              - 'null'
          relationships:
            type:
              - object
              - 'null'
            properties:
              data:
                type:
                  - array
                  - 'null'
                items:
                  type:
                    - object
                    - 'null'
                  properties:
                    type:
                      type:
                        - string
                        - 'null'
                    target:
                      type:
                        - object
                        - 'null'
                      properties:
                        type:
                          type:
                            - string
                            - 'null'
                        id:
                          type:
                            - string
                            - 'null'
                        links:
                          type:
                            - object
                            - 'null'
                          properties:
                            self:
                              type:
                                - string
                                - 'null'
                            html:
                              type:
                                - string
                                - 'null'
              links:
                type:
                  - object
                  - 'null'
                properties:
                  next:
                    type:
                      - string
                      - 'null'
        additionalProperties: true
    state_migrations: []
  - type: DeclarativeStream
    name: release-groups
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.productboard.com/v2/entities
        use_cache: false
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          type[]: releaseGroup
          fields[]: all
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      ignore_stream_slicer_parameters_on_paginated_requests: false
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          links:
            type:
              - object
              - "null"
            properties:
              html:
                type:
                  - string
                  - "null"
              self:
                type:
                  - string
                  - "null"
          fields:
            type:
              - object
              - "null"
            additionalProperties: true
            properties:
              description:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              archived:
                type:
                  - boolean
                  - "null"
          createdAt:
            type:
              - string
              - "null"
          updatedAt:
            type:
              - string
              - "null"
          relationships:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    target:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        id:
                          type:
                            - string
                            - "null"
                        links:
                          type:
                            - object
                            - "null"
                          properties:
                            html:
                              type:
                                - string
                                - "null"
                            self:
                              type:
                                - string
                                - "null"
              links:
                type:
                  - object
                  - "null"
                properties:
                  next:
                    type:
                      - string
                      - "null"
        additionalProperties: true
    state_migrations: []
  - type: DeclarativeStream
    name: releases
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.productboard.com/v2/entities
        use_cache: false
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          type[]: release
          fields[]: all
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      ignore_stream_slicer_parameters_on_paginated_requests: false
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          links:
            type:
              - object
              - "null"
            properties:
              html:
                type:
                  - string
                  - "null"
              self:
                type:
                  - string
                  - "null"
          fields:
            type:
              - object
              - "null"
            additionalProperties: true
            properties:
              description:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              owner:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - string
                      - "null"
                  email:
                    type:
                      - string
                      - "null"
              effort:
                type:
                  - number
                  - "null"
              status:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
              archived:
                type:
                  - boolean
                  - "null"
              timeframe:
                type:
                  - object
                  - "null"
                properties:
                  endDate:
                    type:
                      - string
                      - "null"
                  startDate:
                    type:
                      - string
                      - "null"
                  granularity:
                    type:
                      - string
                      - "null"
              workProgress:
                type:
                  - object
                  - "null"
                properties:
                  mode:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - number
                      - "null"
          createdAt:
            type:
              - string
              - "null"
          updatedAt:
            type:
              - string
              - "null"
          relationships:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    target:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        id:
                          type:
                            - string
                            - "null"
                        links:
                          type:
                            - object
                            - "null"
                          properties:
                            html:
                              type:
                                - string
                                - "null"
                            self:
                              type:
                                - string
                                - "null"
              links:
                type:
                  - object
                  - "null"
                properties:
                  next:
                    type:
                      - string
                      - "null"
        additionalProperties: true
    state_migrations: []
  - type: DeclarativeStream
    name: objectives
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.productboard.com/v2/entities
        use_cache: false
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          type[]: objective
          fields[]: all
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      ignore_stream_slicer_parameters_on_paginated_requests: false
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          links:
            type:
              - object
              - "null"
            properties:
              html:
                type:
                  - string
                  - "null"
              self:
                type:
                  - string
                  - "null"
          fields:
            type:
              - object
              - "null"
            additionalProperties: true
            properties:
              description:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              owner:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - string
                      - "null"
                  email:
                    type:
                      - string
                      - "null"
              teams:
                type:
                  - array
                  - "null"
              effort:
                type:
                  - number
                  - "null"
              status:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
              archived:
                type:
                  - boolean
                  - "null"
              workProgress:
                type:
                  - object
                  - "null"
                properties:
                  mode:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - number
                      - "null"
          createdAt:
            type:
              - string
              - "null"
          updatedAt:
            type:
              - string
              - "null"
          relationships:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    target:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        id:
                          type:
                            - string
                            - "null"
                        links:
                          type:
                            - object
                            - "null"
                          properties:
                            html:
                              type:
                                - string
                                - "null"
                            self:
                              type:
                                - string
                                - "null"
              links:
                type:
                  - object
                  - "null"
                properties: {}
        additionalProperties: true
    state_migrations: []

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - access_token
      - start_date
    properties:
      start_date:
        type: string
        order: 1
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      access_token:
        type: string
        description: >-
          Your Productboard access token. See
          https://developer.productboard.com/reference/authentication for steps
          to generate one.
        name: api_key
        order: 0
        title: Access Token
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://developer.productboard.com/reference/
  testedStreams:
    notes:
      hasRecords: true
      streamHash: b5547a5fc6e7042b6ec2a521f785de9053d5614d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    users:
      hasRecords: true
      streamHash: a556de54f00483d518b437c7e291e255624fbb81
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    features:
      hasRecords: true
      streamHash: 75ff41bc04b99f12eca2053527efb5e9bb0b7922
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    products:
      hasRecords: true
      streamHash: 0ef1677727273b0901125aca5496ce538dbb1449
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    releases:
      isStale: false
      hasRecords: true
      streamHash: 78c4b3f94f424cc82243cefd59ecb820d7242647
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    companies:
      hasRecords: true
      streamHash: 705a20315866dead141c9c5fbc78f5d327239c07
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    components:
      hasRecords: true
      streamHash: 51c161a8cc8737a4f8d1a80963d4176e2ba8dfd4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    objectives:
      isStale: false
      hasRecords: true
      streamHash: c31de8b52f4415d9b4c28f07f9ab687e6c229e72
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    release-groups:
      isStale: false
      hasRecords: true
      streamHash: 22e5e09c731c8bbf85bd32504b98132cf6899580
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    notes: false
    users: true
    features: true
    products: true
    releases: true
    companies: false
    components: true
    objectives: true
    release-groups: true
concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 1
