version: 6.33.6
type: DeclarativeSource

description: >-
  Discord source connector for extracting data from the Discord REST API (v10).
  Supports syncing guilds, channels, messages, members, roles, threads,
  pinned messages, scheduled events, and audit logs.

check:
  type: CheckStream
  stream_names:
    - guilds

definitions:
  authenticator:
    type: ApiKeyAuthenticator
    api_token: "Bot {{ config['bot_token'] }}"
    inject_into:
      type: RequestOption
      field_name: Authorization
      inject_into: header

  base_requester:
    type: HttpRequester
    url_base: "https://discord.com/api/v10"
    http_method: GET
    authenticator:
      $ref: "#/definitions/authenticator"
    error_handler:
      type: DefaultErrorHandler
      backoff_strategies:
        - type: WaitTimeFromHeader
          header: Retry-After
      response_filters:
        - http_codes: [429]
          action: RETRY
          error_message: Rate limited by Discord API.
        - http_codes: [500, 502, 503]
          action: RETRY
          error_message: Discord API server error.

  permissive_requester:
    type: HttpRequester
    url_base: "https://discord.com/api/v10"
    http_method: GET
    authenticator:
      $ref: "#/definitions/authenticator"
    error_handler:
      type: DefaultErrorHandler
      backoff_strategies:
        - type: WaitTimeFromHeader
          header: Retry-After
      response_filters:
        - http_codes: [429]
          action: RETRY
          error_message: Rate limited by Discord API.
        - http_codes: [500, 502, 503]
          action: RETRY
          error_message: Discord API server error.
        - http_codes: [403]
          action: IGNORE
          error_message: Insufficient permissions to access this resource.
        - http_codes: [404]
          action: IGNORE
          error_message: Resource not found.

  base_record_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: []

  streams:
    guilds:
      type: DeclarativeStream
      name: guilds
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users/@me/guilds
        record_selector:
          $ref: "#/definitions/base_record_selector"
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ last_record['id'] }}"
            stop_condition: "{{ last_page_size < 200 }}"
            initial_token: "0"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/guilds"

    channels:
      type: DeclarativeStream
      name: channels
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "/guilds/{{ stream_partition['guild_id'] }}/channels"
        record_selector:
          $ref: "#/definitions/base_record_selector"
        paginator:
          type: NoPagination
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: guild_id
              stream:
                $ref: "#/definitions/streams/guilds"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/channels"

    messages:
      type: DeclarativeStream
      name: messages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/permissive_requester"
          path: "/channels/{{ stream_partition['channel_id'] }}/messages"
        record_selector:
          $ref: "#/definitions/base_record_selector"
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ last_record['id'] }}"
            stop_condition: "{{ last_page_size < 100 }}"
            initial_token: "0"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: channel_id
              stream:
                $ref: "#/definitions/streams/channels"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/messages"

    members:
      type: DeclarativeStream
      name: members
      primary_key:
        - user
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/permissive_requester"
          path: "/guilds/{{ stream_partition['guild_id'] }}/members"
        record_selector:
          $ref: "#/definitions/base_record_selector"
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: after
          pagination_strategy:
            type: CursorPagination
            page_size: 1000
            cursor_value: "{{ last_record['user']['id'] }}"
            stop_condition: "{{ last_page_size < 1000 }}"
            initial_token: "0"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: guild_id
              stream:
                $ref: "#/definitions/streams/guilds"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/members"

    roles:
      type: DeclarativeStream
      name: roles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "/guilds/{{ stream_partition['guild_id'] }}/roles"
        record_selector:
          $ref: "#/definitions/base_record_selector"
        paginator:
          type: NoPagination
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: guild_id
              stream:
                $ref: "#/definitions/streams/guilds"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/roles"

    threads:
      type: DeclarativeStream
      name: threads
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/permissive_requester"
          path: "/guilds/{{ stream_partition['guild_id'] }}/threads/active"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - threads
        paginator:
          type: NoPagination
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: guild_id
              stream:
                $ref: "#/definitions/streams/guilds"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/threads"

    pinned_messages:
      type: DeclarativeStream
      name: pinned_messages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/permissive_requester"
          path: "/channels/{{ stream_partition['channel_id'] }}/pins"
        record_selector:
          $ref: "#/definitions/base_record_selector"
        paginator:
          type: NoPagination
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: channel_id
              stream:
                $ref: "#/definitions/streams/channels"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/messages"

    scheduled_events:
      type: DeclarativeStream
      name: scheduled_events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/permissive_requester"
          path: "/guilds/{{ stream_partition['guild_id'] }}/scheduled-events"
        record_selector:
          $ref: "#/definitions/base_record_selector"
        paginator:
          type: NoPagination
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: guild_id
              stream:
                $ref: "#/definitions/streams/guilds"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/scheduled_events"

    audit_log:
      type: DeclarativeStream
      name: audit_log
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/permissive_requester"
          path: "/guilds/{{ stream_partition['guild_id'] }}/audit-logs"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - audit_log_entries
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: before
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ last_record['id'] }}"
            stop_condition: "{{ last_page_size < 100 }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: guild_id
              stream:
                $ref: "#/definitions/streams/guilds"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/audit_log"

streams:
  - $ref: "#/definitions/streams/guilds"
  - $ref: "#/definitions/streams/channels"
  - $ref: "#/definitions/streams/messages"
  - $ref: "#/definitions/streams/members"
  - $ref: "#/definitions/streams/roles"
  - $ref: "#/definitions/streams/threads"
  - $ref: "#/definitions/streams/pinned_messages"
  - $ref: "#/definitions/streams/scheduled_events"
  - $ref: "#/definitions/streams/audit_log"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - bot_token
    properties:
      bot_token:
        type: string
        title: Bot Token
        description: >-
          Discord Bot Token used for authentication. Create a bot at
          https://discord.com/developers/applications, then copy the token from
          the Bot section. The bot must be invited to target guilds with
          VIEW_CHANNEL and READ_MESSAGE_HISTORY permissions. Enable the
          MESSAGE_CONTENT and GUILD_MEMBERS privileged intents in the Developer
          Portal if you want full message content and member data.
        airbyte_secret: true
        order: 0
    additionalProperties: true

schemas:
  guilds:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type: string
        description: Guild ID (snowflake).
      name:
        type: string
        description: Guild name.
      icon:
        type:
          - string
          - "null"
        description: Icon hash.
      owner:
        type:
          - boolean
          - "null"
        description: Whether the current user is the owner.
      permissions:
        type:
          - string
          - "null"
        description: Total permissions for the current user in the guild.
      features:
        type: array
        description: Enabled guild features.
        items:
          type: string
      approximate_member_count:
        type:
          - integer
          - "null"
        description: Approximate number of members in the guild.
      approximate_presence_count:
        type:
          - integer
          - "null"
        description: Approximate number of non-offline members in the guild.

  channels:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type: string
        description: Channel ID (snowflake).
      type:
        type: integer
        description: >-
          Type of channel (0=GUILD_TEXT, 2=GUILD_VOICE, 4=GUILD_CATEGORY,
          5=GUILD_ANNOUNCEMENT, 10=ANNOUNCEMENT_THREAD, 11=PUBLIC_THREAD,
          12=PRIVATE_THREAD, 13=GUILD_STAGE_VOICE, 15=GUILD_FORUM,
          16=GUILD_MEDIA).
      guild_id:
        type:
          - string
          - "null"
        description: ID of the guild the channel belongs to.
      position:
        type:
          - integer
          - "null"
        description: Sorting position of the channel.
      name:
        type:
          - string
          - "null"
        description: Name of the channel.
      topic:
        type:
          - string
          - "null"
        description: Channel topic (0-4096 characters for forum/media, 0-1024 for others).
      nsfw:
        type:
          - boolean
          - "null"
        description: Whether the channel is NSFW.
      last_message_id:
        type:
          - string
          - "null"
        description: ID of the last message sent in the channel.
      bitrate:
        type:
          - integer
          - "null"
        description: Bitrate of the voice channel.
      user_limit:
        type:
          - integer
          - "null"
        description: User limit of the voice channel.
      rate_limit_per_user:
        type:
          - integer
          - "null"
        description: Slowmode rate limit per user in seconds.
      parent_id:
        type:
          - string
          - "null"
        description: ID of the parent category channel.
      permission_overwrites:
        type:
          - array
          - "null"
        description: Explicit permission overwrites for members and roles.
        items:
          type: object
          additionalProperties: true

  messages:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type: string
        description: Message ID (snowflake).
      channel_id:
        type: string
        description: ID of the channel the message was sent in.
      author:
        type: object
        description: The author of the message (user object).
        additionalProperties: true
        properties:
          id:
            type: string
          username:
            type: string
          discriminator:
            type: string
          global_name:
            type:
              - string
              - "null"
          avatar:
            type:
              - string
              - "null"
      content:
        type: string
        description: Contents of the message.
      timestamp:
        type: string
        description: When this message was sent (ISO8601 timestamp).
      edited_timestamp:
        type:
          - string
          - "null"
        description: When this message was edited (ISO8601 timestamp), null if never.
      tts:
        type: boolean
        description: Whether this was a TTS message.
      mention_everyone:
        type: boolean
        description: Whether this message mentions everyone.
      mentions:
        type: array
        description: Users specifically mentioned in the message.
        items:
          type: object
          additionalProperties: true
      mention_roles:
        type: array
        description: Roles specifically mentioned in this message.
        items:
          type: string
      attachments:
        type: array
        description: Any attached files.
        items:
          type: object
          additionalProperties: true
      embeds:
        type: array
        description: Any embedded content.
        items:
          type: object
          additionalProperties: true
      reactions:
        type:
          - array
          - "null"
        description: Reactions to the message.
        items:
          type: object
          additionalProperties: true
      pinned:
        type: boolean
        description: Whether this message is pinned.
      type:
        type: integer
        description: Type of message.
      flags:
        type:
          - integer
          - "null"
        description: Message flags combined as a bitfield.
      referenced_message:
        type:
          - object
          - "null"
        description: The message this message references (for replies).
        additionalProperties: true
      thread:
        type:
          - object
          - "null"
        description: Thread started from this message, includes thread member object.
        additionalProperties: true

  members:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      user:
        type:
          - object
          - "null"
        description: The user this guild member represents.
        additionalProperties: true
        properties:
          id:
            type: string
          username:
            type: string
          discriminator:
            type: string
          global_name:
            type:
              - string
              - "null"
          avatar:
            type:
              - string
              - "null"
      nick:
        type:
          - string
          - "null"
        description: This user's guild nickname.
      avatar:
        type:
          - string
          - "null"
        description: The member's guild avatar hash.
      roles:
        type: array
        description: Array of role IDs.
        items:
          type: string
      joined_at:
        type: string
        description: When the user joined the guild (ISO8601 timestamp).
      premium_since:
        type:
          - string
          - "null"
        description: When the user started boosting the guild (ISO8601 timestamp).
      deaf:
        type: boolean
        description: Whether the user is deafened in voice channels.
      mute:
        type: boolean
        description: Whether the user is muted in voice channels.
      pending:
        type:
          - boolean
          - "null"
        description: Whether the user has passed the guild's membership screening.
      communication_disabled_until:
        type:
          - string
          - "null"
        description: When the user's timeout will expire (ISO8601 timestamp).

  roles:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type: string
        description: Role ID (snowflake).
      name:
        type: string
        description: Role name.
      color:
        type: integer
        description: Integer representation of hex color code.
      hoist:
        type: boolean
        description: Whether this role is pinned in the user listing.
      icon:
        type:
          - string
          - "null"
        description: Role icon hash.
      unicode_emoji:
        type:
          - string
          - "null"
        description: Role unicode emoji.
      position:
        type: integer
        description: Position of this role.
      permissions:
        type: string
        description: Permission bit set.
      managed:
        type: boolean
        description: Whether this role is managed by an integration.
      mentionable:
        type: boolean
        description: Whether this role is mentionable.
      tags:
        type:
          - object
          - "null"
        description: The tags this role has.
        additionalProperties: true

  threads:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type: string
        description: Thread channel ID (snowflake).
      guild_id:
        type:
          - string
          - "null"
        description: ID of the guild.
      parent_id:
        type:
          - string
          - "null"
        description: ID of the parent text channel.
      owner_id:
        type:
          - string
          - "null"
        description: ID of the user who created the thread.
      name:
        type:
          - string
          - "null"
        description: Name of the thread.
      type:
        type: integer
        description: >-
          Type of thread (10=ANNOUNCEMENT_THREAD, 11=PUBLIC_THREAD,
          12=PRIVATE_THREAD).
      message_count:
        type:
          - integer
          - "null"
        description: Approximate count of messages in the thread.
      member_count:
        type:
          - integer
          - "null"
        description: Approximate count of users in the thread.
      total_message_sent:
        type:
          - integer
          - "null"
        description: Total number of messages ever sent in the thread.
      thread_metadata:
        type:
          - object
          - "null"
        description: Thread-specific fields.
        additionalProperties: true
        properties:
          archived:
            type:
              - boolean
              - "null"
          auto_archive_duration:
            type:
              - integer
              - "null"
          archive_timestamp:
            type:
              - string
              - "null"
          locked:
            type:
              - boolean
              - "null"
      last_message_id:
        type:
          - string
          - "null"
        description: ID of the most recent message in the thread.

  scheduled_events:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type: string
        description: Scheduled event ID (snowflake).
      guild_id:
        type: string
        description: Guild ID the event belongs to.
      channel_id:
        type:
          - string
          - "null"
        description: Channel ID of the event if applicable.
      creator_id:
        type:
          - string
          - "null"
        description: ID of the user who created the event.
      name:
        type: string
        description: Name of the event.
      description:
        type:
          - string
          - "null"
        description: Description of the event.
      scheduled_start_time:
        type: string
        description: When the event will start (ISO8601 timestamp).
      scheduled_end_time:
        type:
          - string
          - "null"
        description: When the event will end (ISO8601 timestamp).
      privacy_level:
        type: integer
        description: Privacy level of the event.
      status:
        type: integer
        description: Status of the event (1=SCHEDULED, 2=ACTIVE, 3=COMPLETED, 4=CANCELED).
      entity_type:
        type: integer
        description: Type of the event entity (1=STAGE_INSTANCE, 2=VOICE, 3=EXTERNAL).
      entity_id:
        type:
          - string
          - "null"
        description: Entity ID associated with the event.
      entity_metadata:
        type:
          - object
          - "null"
        description: Additional metadata for the event entity.
        additionalProperties: true
      user_count:
        type:
          - integer
          - "null"
        description: Number of users subscribed to the event.

  audit_log:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type: string
        description: Audit log entry ID (snowflake).
      target_id:
        type:
          - string
          - "null"
        description: ID of the affected entity.
      user_id:
        type:
          - string
          - "null"
        description: ID of the user who made the changes.
      action_type:
        type: integer
        description: Type of action that occurred.
      changes:
        type:
          - array
          - "null"
        description: Changes made to the target.
        items:
          type: object
          additionalProperties: true
      options:
        type:
          - object
          - "null"
        description: Additional info for certain action types.
        additionalProperties: true
      reason:
        type:
          - string
          - "null"
        description: Reason for the change (1-512 characters).
