version: 0.50.2
type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - space

definitions:
  schema_loader:
    type: JsonFileSchemaLoader
    file_path: "./source_confluence/schemas/{{ parameters.name }}.json"

  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - results

  offset_increment_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: start
    page_size_option:
      inject_into: request_parameter
      field_name: limit
      type: RequestOption
    pagination_strategy:
      type: OffsetIncrement
      page_size: 25

  base_retriever:
    type: SimpleRetriever
    paginator:
      $ref: "#/definitions/offset_increment_paginator"
    record_selector:
      $ref: "#/definitions/selector"

  requester:
    type: HttpRequester
    url_base: https://{{ config['domain_name'] }}/wiki/rest/api/
    path: "{{ parameters.path }}"
    http_method: GET
    authenticator:
      type: BasicHttpAuthenticator
      username: "{{ config['email'] }}"
      password: "{{ config['api_token'] }}"
    request_body_json: {}
    request_headers: {}

  base_stream:
    type: DeclarativeStream
    schema_loader:
      $ref: "#/definitions/schema_loader"

  audit_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/requester"
        request_parameters: {}
    primary_key: "creationDate"
    $parameters:
      name: "audit"
      path: "audit"

  blogposts_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          expand: >-
            ["history","history.lastUpdated","history.previousVersion","history.contributors","restrictions.read.restrictions.user","version","descendants.comment","body","body.storage","body.view",]
    primary_key: "id"
    $parameters:
      name: "blog_posts"
      path: content?type=blogpost

  group_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/requester"
        request_parameters: {}
    primary_key: "id"
    $parameters:
      name: "group"
      path: "group"

  pages_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          expand: >-
            ["history","history.lastUpdated","history.previousVersion","history.contributors","restrictions.read.restrictions.user","version","descendants.comment","body","body.storage","body.view",]
    primary_key: "id"
    $parameters:
      name: "pages"
      path: "content?type=page"

  space_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          expand: '["permissions","icon","description.plain","description.view"]'
    primary_key: "id"
    $parameters:
      name: "space"
      path: "space"

streams:
  - "#/definitions/audit_stream"
  - "#/definitions/blogposts_stream"
  - "#/definitions/group_stream"
  - "#/definitions/pages_stream"
  - "#/definitions/space_stream"

spec:
  documentation_url: https://docs.airbyte.com/integrations/sources/confluence
  type: Spec
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    required:
      - email
      - api_token
      - domain_name
    properties:
      email:
        type: string
        title: Email
        description: "Your Confluence login email"
        examples: ["abc@example.com"]
        order: 0
      api_token:
        type: string
        title: "API Token"
        description: 'Please follow the Jira confluence for generating an API token: <a href="https://support.atlassian.com/atlassian-account/docs/manage-api-tokens-for-your-atlassian-account/">generating an API token</a>.'
        airbyte_secret: true
        order: 1
      domain_name:
        title: "Domain name"
        description: "Your Confluence domain name"
        type: string
        order: 2
