version: 0.78.5

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - space

definitions:
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - results
  offset_increment_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: start
    page_size_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: limit
    pagination_strategy:
      type: OffsetIncrement
      page_size: 25
  base_retriever:
    type: SimpleRetriever
    paginator:
      $ref: "#/definitions/offset_increment_paginator"
    record_selector:
      $ref: "#/definitions/selector"
  requester:
    type: HttpRequester
    url_base: https://{{ config['domain_name'] }}/wiki/rest/api/
    path: "{{ parameters.path }}"
    http_method: GET
    authenticator:
      type: BasicHttpAuthenticator
      username: "{{ config['email'] }}"
      password: "{{ config['api_token'] }}"
    request_body_json: {}
    request_headers: {}
  base_stream:
    type: DeclarativeStream
  audit_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/requester"
        request_parameters: {}
    primary_key: creationDate
    $parameters:
      name: audit
      path: audit
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          author:
            type:
              - "null"
              - object
            description: The user who triggered the audit event.
          remoteAddress:
            type:
              - "null"
              - string
            description: The IP address from which the audit event originated.
          creationDate:
            type:
              - "null"
              - integer
            description: The date and time when the audit event was created.
          summary:
            type:
              - "null"
              - string
            description: A brief summary or title describing the audit event.
          description:
            type:
              - "null"
              - string
            description: A detailed description of the audit event.
          category:
            type:
              - "null"
              - string
            description: The category under which the audit event falls.
          sysAdmin:
            type:
              - "null"
              - boolean
            description: >-
              Indicates if the user triggering the audit event is a system
              admin.
          superAdmin:
            type:
              - "null"
              - boolean
            description: Indicates if the user triggering the audit event is a super admin.
          affectedObject:
            type:
              - "null"
              - object
            description: The object that was affected by the audit event.
          changedValues:
            type:
              - "null"
              - array
            description: Details of the values that were changed during the audit event.
          associatedObjects:
            type:
              - "null"
              - array
            description: Any associated objects related to the audit event.
  blogposts_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          expand: >-
            ["history","history.lastUpdated","history.previousVersion","history.contributors","restrictions.read.restrictions.user","version","descendants.comment","body","body.storage","body.view",]
    primary_key: id
    $parameters:
      name: blog_posts
      path: content?type=blogpost
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          version:
            type: object
            description: Version number of the blog post.
            properties:
              by:
                type: object
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  accountId:
                    type:
                      - string
                      - "null"
                  email:
                    type:
                      - string
                      - "null"
                  publicName:
                    type:
                      - string
                      - "null"
              when:
                type:
                  - string
                  - "null"
                format: date-time
              friendlyWhen:
                type:
                  - string
                  - "null"
              message:
                type:
                  - string
                  - "null"
              number:
                type:
                  - integer
                  - "null"
              minorEdit:
                type:
                  - boolean
                  - "null"
              collaborators:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        accountId:
                          type:
                            - string
                            - "null"
                        email:
                          type:
                            - string
                            - "null"
                        publicName:
                          type:
                            - string
                            - "null"
                  userKeys:
                    type: array
                    items:
                      type: string
          type:
            type: string
            description: Type/category of the blog post.
          id:
            type: string
            description: Unique identifier for the blog post.
          title:
            type: string
            description: Title of the blog post.
          status:
            type: string
            description: Current status of the blog post (e.g., draft, published).
          history:
            type: object
            description: Historical information related to the blog post
            properties:
              latest:
                type: boolean
              createdBy:
                type: object
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  accountId:
                    type:
                      - string
                      - "null"
                  email:
                    type:
                      - string
                      - "null"
                  publicName:
                    type:
                      - string
                      - "null"
              createdDate:
                type: string
                description: Date and time when the blog post was created
                format: date-time
              contributors:
                type: object
                description: Contributors who published the blog post
                properties:
                  publishers:
                    type: object
                    properties:
                      users:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            accountId:
                              type:
                                - string
                                - "null"
                            email:
                              type:
                                - string
                                - "null"
                            publicName:
                              type:
                                - string
                                - "null"
                      userKeys:
                        type: array
                        items:
                          type: string
              previousVersion:
                type: object
                properties:
                  by:
                    type: object
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      accountId:
                        type:
                          - string
                          - "null"
                      email:
                        type:
                          - string
                          - "null"
                      publicName:
                        type:
                          - string
                          - "null"
                  when:
                    type:
                      - string
                      - "null"
                    format: date-time
                  friendlyWhen:
                    type:
                      - string
                      - "null"
                  message:
                    type:
                      - string
                      - "null"
                  number:
                    type:
                      - integer
                      - "null"
                  minorEdit:
                    type:
                      - boolean
                      - "null"
                  collaborators:
                    type: object
                    properties:
                      users:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            accountId:
                              type:
                                - string
                                - "null"
                            email:
                              type:
                                - string
                                - "null"
                            publicName:
                              type:
                                - string
                                - "null"
                      userKeys:
                        type: array
                        items:
                          type: string
          descendants:
            type: object
            description: Details of the descendants of the blog post, such as comments
            properties:
              comment:
                type: object
                description: Comments associated with the blog post
                properties:
                  results:
                    type: array
                    description: List of comment items
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                        status:
                          type: string
          restrictions:
            type: object
            description: Restrictions on reading the blog post
            properties:
              read:
                type: object
                properties:
                  operations:
                    type:
                      - string
                      - "null"
                  restrictions:
                    user:
                      type: object
                      properties:
                        results:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              accountId:
                                type:
                                  - string
                                  - "null"
                              email:
                                type:
                                  - string
                                  - "null"
                              publicName:
                                type:
                                  - string
                                  - "null"
          _expandable:
            type: object
            description: Expandable details related to the blog post container and space
            properties:
              container:
                type: string
              space:
                type: string
          _links:
            type: object
            description: >-
              Links for navigating to various user interfaces to interact with
              the blog post
            properties:
              self:
                type: string
              tinyui:
                type: string
              editui:
                type: string
              webui:
                type: string
  group_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/requester"
        request_parameters: {}
    primary_key: id
    $parameters:
      name: group
      path: group
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          type:
            type:
              - "null"
              - string
            description: The type of group, indicating its category or classification.
          id:
            type:
              - "null"
              - string
            description: The unique identifier of the group.
          name:
            type:
              - "null"
              - string
            description: The name of the group.
          _links:
            type:
              - "null"
              - object
            description: A collection of links related to the group entity.
  pages_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          expand: >-
            ["history","history.lastUpdated","history.previousVersion","history.contributors","restrictions.read.restrictions.user","version","descendants.comment","body","body.storage","body.view",]
    primary_key: id
    $parameters:
      name: pages
      path: content?type=page
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          version:
            type: object
            description: Version of the page
            properties:
              by:
                type: object
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  accountId:
                    type:
                      - string
                      - "null"
                  email:
                    type:
                      - string
                      - "null"
                  publicName:
                    type:
                      - string
                      - "null"
              when:
                type:
                  - string
                  - "null"
                format: date-time
              friendlyWhen:
                type:
                  - string
                  - "null"
              message:
                type:
                  - string
                  - "null"
              number:
                type:
                  - integer
                  - "null"
              minorEdit:
                type:
                  - boolean
                  - "null"
              collaborators:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        accountId:
                          type:
                            - string
                            - "null"
                        email:
                          type:
                            - string
                            - "null"
                        publicName:
                          type:
                            - string
                            - "null"
                  userKeys:
                    type: array
                    items:
                      type: string
          type:
            type: string
            description: Type of the page
          id:
            type: string
            description: Unique identifier for the page
          title:
            type: string
            description: Title of the page
          status:
            type: string
            description: Status of the page
          history:
            type: object
            description: History details of the page
            properties:
              latest:
                type: boolean
                description: Latest version details
              createdBy:
                type: object
                description: Created by user
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  accountId:
                    type:
                      - string
                      - "null"
                  email:
                    type:
                      - string
                      - "null"
                  publicName:
                    type:
                      - string
                      - "null"
              createdDate:
                type: string
                description: Date and time of creation
                format: date-time
              contributors:
                type: object
                description: Contributors to the page
                properties:
                  publishers:
                    type: object
                    description: Publishers of the page
                    properties:
                      users:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            accountId:
                              type:
                                - string
                                - "null"
                            email:
                              type:
                                - string
                                - "null"
                            publicName:
                              type:
                                - string
                                - "null"
                      userKeys:
                        type: array
                        items:
                          type: string
              previousVersion:
                type: object
                description: Previous version details
                properties:
                  by:
                    type: object
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      accountId:
                        type:
                          - string
                          - "null"
                      email:
                        type:
                          - string
                          - "null"
                      publicName:
                        type:
                          - string
                          - "null"
                  when:
                    type:
                      - string
                      - "null"
                    format: date-time
                  friendlyWhen:
                    type:
                      - string
                      - "null"
                  message:
                    type:
                      - string
                      - "null"
                  number:
                    type:
                      - integer
                      - "null"
                  minorEdit:
                    type:
                      - boolean
                      - "null"
                  collaborators:
                    type: object
                    properties:
                      users:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            accountId:
                              type:
                                - string
                                - "null"
                            email:
                              type:
                                - string
                                - "null"
                            publicName:
                              type:
                                - string
                                - "null"
                      userKeys:
                        type: array
                        items:
                          type: string
          descendants:
            type: object
            description: Descendant comments of this page
            properties:
              comment:
                type: object
                description: Comments on the page
                properties:
                  results:
                    type: array
                    description: Comments results
                    items:
                      type: object
                      description: Individual comment item
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                        status:
                          type: string
          body:
            type: object
            description: Page body content
            properties:
              storage:
                type: object
                description: Storage details of the content
                properties:
                  value:
                    type: string
                    description: Content value
                  representation:
                    type: string
                    description: Content representation type
                  embeddedContent:
                    type: array
                    description: Embedded content
                  _expandable:
                    type: object
                    description: Expandable URLs related to the content
                    properties:
                      content:
                        type: string
                        description: Expandable content URL
              view:
                type: object
                description: View details of the content
                properties:
                  value:
                    type: string
                    description: View value
                  representation:
                    type: string
                    description: View representation type
                  _expandable:
                    type: object
                    description: Expandable URLs related to the view
                    properties:
                      webresource:
                        type: string
                        description: Expandable web resource URL
                  embeddedContent:
                    type: string
                    description: Embedded view content
                  mediaToken:
                    type: string
                    description: Media token for view
                  content:
                    type: string
                    description: View content
          restrictions:
            type: object
            description: Restrictions applied to the page
            properties:
              read:
                type: object
                description: Read restrictions
                properties:
                  operations:
                    type:
                      - string
                      - "null"
                  restrictions:
                    user:
                      type: object
                      properties:
                        results:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              accountId:
                                type:
                                  - string
                                  - "null"
                              email:
                                type:
                                  - string
                                  - "null"
                              publicName:
                                type:
                                  - string
                                  - "null"
          _expandable:
            type: object
            description: Expandable URLs related to this page
            properties:
              container:
                type: string
                description: Expandable container URL
              space:
                type: string
                description: Expandable space URL
          _links:
            type: object
            description: Links related to this page
            properties:
              self:
                type: string
                description: Self link
              tinyui:
                type: string
                description: Tiny UI link
              editui:
                type: string
                description: Edit UI link
              webui:
                type: string
                description: Web UI link
  space_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          expand: '["permissions","icon","description.plain","description.view"]'
    primary_key: id
    $parameters:
      name: space
      path: space
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          type:
            type:
              - "null"
              - string
            description: Type/category of the space.
          id:
            type:
              - "null"
              - integer
            description: Unique identifier for the space.
          key:
            type:
              - "null"
              - string
            description: Key identifier for the space.
          name:
            type:
              - "null"
              - string
            description: Name of the space.
          status:
            type:
              - "null"
              - string
            description: Status information of the space.
          permissions:
            type:
              - "null"
              - array
            description: Permissions related to the space.
          icon:
            type:
              - "null"
              - object
            description: Icon representing the space.
          description:
            type:
              - "null"
              - object
            description: Description of the space.
          _expandable:
            type:
              - "null"
              - object
            description: Expandable information related to the space.
          _links:
            type:
              - "null"
              - object
            description: Links associated with the space.

streams:
  - "#/definitions/audit_stream"
  - "#/definitions/blogposts_stream"
  - "#/definitions/group_stream"
  - "#/definitions/pages_stream"
  - "#/definitions/space_stream"

spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/confluence
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    required:
      - email
      - api_token
      - domain_name
    properties:
      email:
        type: string
        title: Email
        description: Your Confluence login email
        examples:
          - abc@example.com
        order: 0
      api_token:
        type: string
        title: API Token
        description: >-
          Please follow the Jira confluence for generating an API token: <a
          href="https://support.atlassian.com/atlassian-account/docs/manage-api-tokens-for-your-atlassian-account/">generating
          an API token</a>.
        airbyte_secret: true
        order: 1
      domain_name:
        type: string
        title: Domain name
        description: Your Confluence domain name
        order: 2
