version: 4.5.4

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - pokemon

definitions:
  streams:
    pokemon:
      type: DeclarativeStream
      name: pokemon
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /{{config['pokemon_name']}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/pokemon"
  base_requester:
    type: HttpRequester
    url_base: https://pokeapi.co/api/v2/pokemon

streams:
  - $ref: "#/definitions/streams/pokemon"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - pokemon_name
    properties:
      pokemon_name:
        type: string
        description: Pokemon requested from the API.
        title: Pokemon Name
        pattern: ^[a-z0-9_\-]+$
        enum:
          - bulbasaur
          - ivysaur
          - venusaur
          - charmander
          - charmeleon
          - charizard
          - squirtle
          - wartortle
          - blastoise
          - caterpie
          - metapod
          - butterfree
          - weedle
          - kakuna
          - beedrill
          - pidgey
          - pidgeotto
          - pidgeot
          - rattata
          - raticate
          - spearow
          - fearow
          - ekans
          - arbok
          - pikachu
          - raichu
          - sandshrew
          - sandslash
          - nidoranf
          - nidorina
          - nidoqueen
          - nidoranm
          - nidorino
          - nidoking
          - clefairy
          - clefable
          - vulpix
          - ninetales
          - jigglypuff
          - wigglytuff
          - zubat
          - golbat
          - oddish
          - gloom
          - vileplume
          - paras
          - parasect
          - venonat
          - venomoth
          - diglett
          - dugtrio
          - meowth
          - persian
          - psyduck
          - golduck
          - mankey
          - primeape
          - growlithe
          - arcanine
          - poliwag
          - poliwhirl
          - poliwrath
          - abra
          - kadabra
          - alakazam
          - machop
          - machoke
          - machamp
          - bellsprout
          - weepinbell
          - victreebel
          - tentacool
          - tentacruel
          - geodude
          - graveler
          - golem
          - ponyta
          - rapidash
          - slowpoke
          - slowbro
          - magnemite
          - magneton
          - farfetchd
          - doduo
          - dodrio
          - seel
          - dewgong
          - grimer
          - muk
          - shellder
          - cloyster
          - gastly
          - haunter
          - gengar
          - onix
          - drowzee
          - hypno
          - krabby
          - kingler
          - voltorb
          - electrode
          - exeggcute
          - exeggutor
          - cubone
          - marowak
          - hitmonlee
          - hitmonchan
          - lickitung
          - koffing
          - weezing
          - rhyhorn
          - rhydon
          - chansey
          - tangela
          - kangaskhan
          - horsea
          - seadra
          - goldeen
          - seaking
          - staryu
          - starmie
          - mrmime
          - scyther
          - jynx
          - electabuzz
          - magmar
          - pinsir
          - tauros
          - magikarp
          - gyarados
          - lapras
          - ditto
          - eevee
          - vaporeon
          - jolteon
          - flareon
          - porygon
          - omanyte
          - omastar
          - kabuto
          - kabutops
          - aerodactyl
          - snorlax
          - articuno
          - zapdos
          - moltres
          - dratini
          - dragonair
          - dragonite
          - mewtwo
          - mew
          - chikorita
          - bayleef
          - meganium
          - cyndaquil
          - quilava
          - typhlosion
          - totodile
          - croconaw
          - feraligatr
          - sentret
          - furret
          - hoothoot
          - noctowl
          - ledyba
          - ledian
          - spinarak
          - ariados
          - crobat
          - chinchou
          - lanturn
          - pichu
          - cleffa
          - igglybuff
          - togepi
          - togetic
          - natu
          - xatu
          - mareep
          - flaaffy
          - ampharos
          - bellossom
          - marill
          - azumarill
          - sudowoodo
          - politoed
          - hoppip
          - skiploom
          - jumpluff
          - aipom
          - sunkern
          - sunflora
          - yanma
          - wooper
          - quagsire
          - espeon
          - umbreon
          - murkrow
          - slowking
          - misdreavus
          - unown
          - wobbuffet
          - girafarig
          - pineco
          - forretress
          - dunsparce
          - gligar
          - steelix
          - snubbull
          - granbull
          - qwilfish
          - scizor
          - shuckle
          - heracross
          - sneasel
          - teddiursa
          - ursaring
          - slugma
          - magcargo
          - swinub
          - piloswine
          - corsola
          - remoraid
          - octillery
          - delibird
          - mantine
          - skarmory
          - houndour
          - houndoom
          - kingdra
          - phanpy
          - donphan
          - porygon2
          - stantler
          - smeargle
          - tyrogue
          - hitmontop
          - smoochum
          - elekid
          - magby
          - miltank
          - blissey
          - raikou
          - entei
          - suicune
          - larvitar
          - pupitar
          - tyranitar
          - lugia
          - ho-oh
          - celebi
          - treecko
          - grovyle
          - sceptile
          - torchic
          - combusken
          - blaziken
          - mudkip
          - marshtomp
          - swampert
          - poochyena
          - mightyena
          - zigzagoon
          - linoone
          - wurmple
          - silcoon
          - beautifly
          - cascoon
          - dustox
          - lotad
          - lombre
          - ludicolo
          - seedot
          - nuzleaf
          - shiftry
          - taillow
          - swellow
          - wingull
          - pelipper
          - ralts
          - kirlia
          - gardevoir
          - surskit
          - masquerain
          - shroomish
          - breloom
          - slakoth
          - vigoroth
          - slaking
          - nincada
          - ninjask
          - shedinja
          - whismur
          - loudred
          - exploud
          - makuhita
          - hariyama
          - azurill
          - nosepass
          - skitty
          - delcatty
          - sableye
          - mawile
          - aron
          - lairon
          - aggron
          - meditite
          - medicham
          - electrike
          - manectric
          - plusle
          - minun
          - volbeat
          - illumise
          - roselia
          - gulpin
          - swalot
          - carvanha
          - sharpedo
          - wailmer
          - wailord
          - numel
          - camerupt
          - torkoal
          - spoink
          - grumpig
          - spinda
          - trapinch
          - vibrava
          - flygon
          - cacnea
          - cacturne
          - swablu
          - altaria
          - zangoose
          - seviper
          - lunatone
          - solrock
          - barboach
          - whiscash
          - corphish
          - crawdaunt
          - baltoy
          - claydol
          - lileep
          - cradily
          - anorith
          - armaldo
          - feebas
          - milotic
          - castform
          - kecleon
          - shuppet
          - banette
          - duskull
          - dusclops
          - tropius
          - chimecho
          - absol
          - wynaut
          - snorunt
          - glalie
          - spheal
          - sealeo
          - walrein
          - clamperl
          - huntail
          - gorebyss
          - relicanth
          - luvdisc
          - bagon
          - shelgon
          - salamence
          - beldum
          - metang
          - metagross
          - regirock
          - regice
          - registeel
          - latias
          - latios
          - kyogre
          - groudon
          - rayquaza
          - jirachi
          - deoxys
          - turtwig
          - grotle
          - torterra
          - chimchar
          - monferno
          - infernape
          - piplup
          - prinplup
          - empoleon
          - starly
          - staravia
          - staraptor
          - bidoof
          - bibarel
          - kricketot
          - kricketune
          - shinx
          - luxio
          - luxray
          - budew
          - roserade
          - cranidos
          - rampardos
          - shieldon
          - bastiodon
          - burmy
          - wormadam
          - mothim
          - combee
          - vespiquen
          - pachirisu
          - buizel
          - floatzel
          - cherubi
          - cherrim
          - shellos
          - gastrodon
          - ambipom
          - drifloon
          - drifblim
          - buneary
          - lopunny
          - mismagius
          - honchkrow
          - glameow
          - purugly
          - chingling
          - stunky
          - skuntank
          - bronzor
          - bronzong
          - bonsly
          - mimejr
          - happiny
          - chatot
          - spiritomb
          - gible
          - gabite
          - garchomp
          - munchlax
          - riolu
          - lucario
          - hippopotas
          - hippowdon
          - skorupi
          - drapion
          - croagunk
          - toxicroak
          - carnivine
          - finneon
          - lumineon
          - mantyke
          - snover
          - abomasnow
          - weavile
          - magnezone
          - lickilicky
          - rhyperior
          - tangrowth
          - electivire
          - magmortar
          - togekiss
          - yanmega
          - leafeon
          - glaceon
          - gliscor
          - mamoswine
          - porygon-z
          - gallade
          - probopass
          - dusknoir
          - froslass
          - rotom
          - uxie
          - mesprit
          - azelf
          - dialga
          - palkia
          - heatran
          - regigigas
          - giratina
          - cresselia
          - phione
          - manaphy
          - darkrai
          - shaymin
          - arceus
          - victini
          - snivy
          - servine
          - serperior
          - tepig
          - pignite
          - emboar
          - oshawott
          - dewott
          - samurott
          - patrat
          - watchog
          - lillipup
          - herdier
          - stoutland
          - purrloin
          - liepard
          - pansage
          - simisage
          - pansear
          - simisear
          - panpour
          - simipour
          - munna
          - musharna
          - pidove
          - tranquill
          - unfezant
          - blitzle
          - zebstrika
          - roggenrola
          - boldore
          - gigalith
          - woobat
          - swoobat
          - drilbur
          - excadrill
          - audino
          - timburr
          - gurdurr
          - conkeldurr
          - tympole
          - palpitoad
          - seismitoad
          - throh
          - sawk
          - sewaddle
          - swadloon
          - leavanny
          - venipede
          - whirlipede
          - scolipede
          - cottonee
          - whimsicott
          - petilil
          - lilligant
          - basculin
          - sandile
          - krokorok
          - krookodile
          - darumaka
          - darmanitan
          - maractus
          - dwebble
          - crustle
          - scraggy
          - scrafty
          - sigilyph
          - yamask
          - cofagrigus
          - tirtouga
          - carracosta
          - archen
          - archeops
          - trubbish
          - garbodor
          - zorua
          - zoroark
          - minccino
          - cinccino
          - gothita
          - gothorita
          - gothitelle
          - solosis
          - duosion
          - reuniclus
          - ducklett
          - swanna
          - vanillite
          - vanillish
          - vanilluxe
          - deerling
          - sawsbuck
          - emolga
          - karrablast
          - escavalier
          - foongus
          - amoongus
          - frillish
          - jellicent
          - alomomola
          - joltik
          - galvantula
          - ferroseed
          - ferrothorn
          - klink
          - klang
          - klinklang
          - tynamo
          - eelektrik
          - eelektross
          - elgyem
          - beheeyem
          - litwick
          - lampent
          - chandelure
          - axew
          - fraxure
          - haxorus
          - cubchoo
          - beartic
          - cryogonal
          - shelmet
          - accelgor
          - stunfisk
          - mienfoo
          - mienshao
          - druddigon
          - golett
          - golurk
          - pawniard
          - bisharp
          - bouffalant
          - rufflet
          - braviary
          - vullaby
          - mandibuzz
          - heatmor
          - durant
          - deino
          - zweilous
          - hydreigon
          - larvesta
          - volcarona
          - cobalion
          - terrakion
          - virizion
          - tornadus
          - thundurus
          - reshiram
          - zekrom
          - landorus
          - kyurem
          - keldeo
          - meloetta
          - genesect
          - chespin
          - quilladin
          - chesnaught
          - fennekin
          - braixen
          - delphox
          - froakie
          - frogadier
          - greninja
          - bunnelby
          - diggersby
          - fletchling
          - fletchinder
          - talonflame
          - scatterbug
          - spewpa
          - vivillon
          - litleo
          - pyroar
          - flabebe
          - floette
          - florges
          - skiddo
          - gogoat
          - pancham
          - pangoro
          - furfrou
          - espurr
          - meowstic
          - honedge
          - doublade
          - aegislash
          - spritzee
          - aromatisse
          - swirlix
          - slurpuff
          - inkay
          - malamar
          - binacle
          - barbaracle
          - skrelp
          - dragalge
          - clauncher
          - clawitzer
          - helioptile
          - heliolisk
          - tyrunt
          - tyrantrum
          - amaura
          - aurorus
          - sylveon
          - hawlucha
          - dedenne
          - carbink
          - goomy
          - sliggoo
          - goodra
          - klefki
          - phantump
          - trevenant
          - pumpkaboo
          - gourgeist
          - bergmite
          - avalugg
          - noibat
          - noivern
          - xerneas
          - yveltal
          - zygarde
          - diancie
          - hoopa
          - volcanion
          - rowlet
          - dartrix
          - decidueye
          - litten
          - torracat
          - incineroar
          - popplio
          - brionne
          - primarina
          - pikipek
          - trumbeak
          - toucannon
          - yungoos
          - gumshoos
          - grubbin
          - charjabug
          - vikavolt
          - crabrawler
          - crabominable
          - oricorio
          - cutiefly
          - ribombee
          - rockruff
          - lycanroc
          - wishiwashi
          - mareanie
          - toxapex
          - mudbray
          - mudsdale
          - dewpider
          - araquanid
          - fomantis
          - lurantis
          - morelull
          - shiinotic
          - salandit
          - salazzle
          - stufful
          - bewear
          - bounsweet
          - steenee
          - tsareena
          - comfey
          - oranguru
          - passimian
          - wimpod
          - golisopod
          - sandygast
          - palossand
          - pyukumuku
          - typenull
          - silvally
          - minior
          - komala
          - turtonator
          - togedemaru
          - mimikyu
          - bruxish
          - drampa
          - dhelmise
          - jangmo-o
          - hakamo-o
          - kommo-o
          - tapukoko
          - tapulele
          - tapubulu
          - tapufini
          - cosmog
          - cosmoem
          - solgaleo
          - lunala
          - nihilego
          - buzzwole
          - pheromosa
          - xurkitree
          - celesteela
          - kartana
          - guzzlord
          - necrozma
          - magearna
          - marshadow
          - poipole
          - naganadel
          - stakataka
          - blacephalon
          - zeraora
          - meltan
          - melmetal
          - grookey
          - thwackey
          - rillaboom
          - scorbunny
          - raboot
          - cinderace
          - sobble
          - drizzile
          - inteleon
          - skwovet
          - greedent
          - rookidee
          - corvisquire
          - corviknight
          - blipbug
          - dottler
          - orbeetle
          - nickit
          - thievul
          - gossifleur
          - eldegoss
          - wooloo
          - dubwool
          - chewtle
          - drednaw
          - yamper
          - boltund
          - rolycoly
          - carkol
          - coalossal
          - applin
          - flapple
          - appletun
          - silicobra
          - sandaconda
          - cramorant
          - arrokuda
          - barraskewda
          - toxel
          - toxtricity
          - sizzlipede
          - centiskorch
          - clobbopus
          - grapploct
          - sinistea
          - polteageist
          - hatenna
          - hattrem
          - hatterene
          - impidimp
          - morgrem
          - grimmsnarl
          - obstagoon
          - perrserker
          - cursola
          - sirfetchd
          - mrrime
          - runerigus
          - milcery
          - alcremie
          - falinks
          - pincurchin
          - snom
          - frosmoth
          - stonjourner
          - eiscue
          - indeedee
          - morpeko
          - cufant
          - copperajah
          - dracozolt
          - arctozolt
          - dracovish
          - arctovish
          - duraludon
          - dreepy
          - drakloak
          - dragapult
          - zacian
          - zamazenta
          - eternatus
          - kubfu
          - urshifu
          - zarude
          - regieleki
          - regidrago
          - glastrier
          - spectrier
          - calyrex
        examples:
          - ditto
          - luxray
          - snorlax
        order: 0
    additionalProperties: true

metadata:
  autoImportSchema:
    pokemon: false

schemas:
  pokemon:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      abilities:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            ability:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                name:
                  type:
                    - "null"
                    - string
                url:
                  type:
                    - "null"
                    - string
            is_hidden:
              type:
                - "null"
                - boolean
            slot:
              type:
                - "null"
                - integer
      base_experience:
        type:
          - "null"
          - integer
      forms:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            name:
              type:
                - "null"
                - string
            url:
              type:
                - "null"
                - string
      game_indices:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            version:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                name:
                  type:
                    - "null"
                    - string
                url:
                  type:
                    - "null"
                    - string
            game_index:
              type:
                - "null"
                - integer
      height:
        type:
          - "null"
          - integer
      held_items:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            item:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                name:
                  type:
                    - "null"
                    - string
                url:
                  type:
                    - "null"
                    - string
            version_details:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  version:
                    type:
                      - "null"
                      - object
                    additionalProperties: true
                    properties:
                      name:
                        type:
                          - "null"
                          - string
                      url:
                        type:
                          - "null"
                          - string
                  rarity:
                    type:
                      - "null"
                      - integer
      id:
        type:
          - "null"
          - integer
      is_default:
        type:
          - "null"
          - boolean
      location_area_encounters:
        type:
          - "null"
          - string
      moves:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            move:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                name:
                  type:
                    - "null"
                    - string
                url:
                  type:
                    - "null"
                    - string
            version_group_details:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  level_learned_at:
                    type:
                      - "null"
                      - integer
                  move_learn_method:
                    type:
                      - "null"
                      - object
                    additionalProperties: true
                    properties:
                      name:
                        type:
                          - "null"
                          - string
                      url:
                        type:
                          - "null"
                          - string
                  version_group:
                    type:
                      - "null"
                      - object
                    additionalProperties: true
                    properties:
                      name:
                        type:
                          - "null"
                          - string
                      url:
                        type:
                          - "null"
                          - string
      name:
        type:
          - "null"
          - string
      order:
        type:
          - "null"
          - integer
      past_types:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            generation:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                name:
                  type:
                    - "null"
                    - string
                url:
                  type:
                    - "null"
                    - string
            types:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  type:
                    type:
                      - "null"
                      - object
                    additionalProperties: true
                    properties:
                      name:
                        type:
                          - "null"
                          - string
                      url:
                        type:
                          - "null"
                          - string
                  slot:
                    type:
                      - "null"
                      - integer
      species:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          name:
            type:
              - "null"
              - string
          url:
            type:
              - "null"
              - string
      sprites:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          back_default:
            type:
              - "null"
              - string
          back_female:
            type:
              - "null"
              - string
          back_shiny:
            type:
              - "null"
              - string
          back_shiny_female:
            type:
              - "null"
              - string
          front_default:
            type:
              - "null"
              - string
          front_female:
            type:
              - "null"
              - string
          front_shiny:
            type:
              - "null"
              - string
          front_shiny_female:
            type:
              - "null"
              - string
      stats:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            base_stat:
              type:
                - "null"
                - integer
            effort:
              type:
                - "null"
                - integer
            stat:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                name:
                  type:
                    - "null"
                    - string
                url:
                  type:
                    - "null"
                    - string
      types:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
          properties:
            type:
              type:
                - "null"
                - object
              properties:
                name:
                  type:
                    - "null"
                    - string
                url:
                  type:
                    - "null"
                    - string
            slot:
              type:
                - "null"
                - integer
      weight:
        type:
          - "null"
          - integer
