@use "../../../scss/colors";
@use "../../../scss/variables";

@mixin knob-transform($position, $small: false) {
  @if $position == left {
    transform: translateX(0);
  } @else if $small {
    transform: translateX(10px);
  } @else {
    transform: translateX(18px);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 26px;

  &.small {
    width: 28px;
    height: 18px;
  }

  .slider {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: colors.$grey-100;
    transition: variables.$transition;
    border-radius: 20px;
    border: 1px solid colors.$grey-200;

    &.small::before {
      height: 16px;
      width: 16px;
    }

    &::before {
      position: absolute;
      z-index: 1;
      content: "";
      height: 24px;
      width: 24px;
      left: -1px;
      top: -1px;
      background: colors.$white;
      transition: variables.$transition;
      border-radius: 50%;
      border: 1px solid colors.$grey-200;
    }
  }

  .switchInput {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: colors.$blue;

      &::before {
        @include knob-transform(right, false);
      }

      &.small::before {
        @include knob-transform(right, true);
      }

      &.loading {
        background-image: url("./ProgressReverse.svg");

        &::before {
          @include knob-transform(left, false);
        }

        &.small::before {
          @include knob-transform(left, true);
        }
      }
    }

    &:not(:checked) + .slider {
      &::before {
        @include knob-transform(left, false);
      }

      &.small::before {
        @include knob-transform(left, true);
      }

      &.loading {
        background-image: url("./Progress.svg");

        &::before {
          @include knob-transform(right, false);
        }

        &.small::before {
          @include knob-transform(right, true);
        }
      }
    }

    &:disabled + .slider {
      opacity: 0.5;
      cursor: auto;
    }
  }
}
