.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContentHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.modalContentHeader p {
  margin-bottom: 0;
  font-size: 0.8em;
}

.modalContentClose {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 0;
}
.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}

.modalContentForm {
  display: flex;
  width: 100%;
  gap: 8px;
}
.modalContentInputContainer {
  flex-grow: 1;
}
.modalContentInput {
  border: 1px solid var(--color-grey-400);
  border-radius: 6px;
  padding: 10px;
  width: 100%;
}
.modalContentInputError {
  border: 1px solid var(--color-red-400);
  color: var(--color-red-400);
}
.inputErrorMessage {
  color: var(--color-red-400);
  font-size: 0.8em;
  margin-bottom: 0;
}

.modalContentButton {
  background-color: var(--ifm-color-primary);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  height: 40px;
}

.modalContentButton:disabled {
  background-color: var(--ifm-color-primary-light);
  cursor: not-allowed;
}
