version: 4.3.2

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - us_census_stream

definitions:
  streams:
    us_census_stream:
      type: DeclarativeStream
      name: us_census_stream
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "{{ config['query_path'] }}?{{ config['query_params'] }}"
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: CustomRecordExtractor
            class_name: source_us_census.components.USCensusRecordExtractor
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/us_census_stream"
  base_requester:
    type: HttpRequester
    url_base: https://api.census.gov/
    authenticator:
      type: ApiKeyAuthenticator
      inject_into:
        type: RequestOption
        inject_into: request_parameter
        field_name: key
      api_token: '{{ config["api_key"] }}'
    error_handler:
      type: CustomErrorHandler
      class_name: source_us_census.components.USCensusErrorHandler
      response_filters:
        - type: HttpResponseFilter
          action: FAIL
          error_message: "Failed to perform request. Error: Valid API Key needed."

streams:
  - $ref: "#/definitions/streams/us_census_stream"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - query_path
      - api_key
    properties:
      query_params:
        type: string
        description: The query parameters portion of the GET request, without the api key
        order: 0
        pattern: ^\w+=[\w,:*]+(&(?!key)\w+=[\w,:*]+)*$
        examples:
          - >-
            get=NAME,NAICS2017_LABEL,LFO_LABEL,EMPSZES_LABEL,ESTAB,PAYANN,PAYQTR1,EMP&for=us:*&NAICS2017=72&LFO=001&EMPSZES=001
          - >-
            get=MOVEDIN,GEOID1,GEOID2,MOVEDOUT,FULL1_NAME,FULL2_NAME,MOVEDNET&for=county:*
      query_path:
        type: string
        description: The path portion of the GET request
        order: 1
        pattern: ^data(\/[\w\d]+)+$
        examples:
          - data/2019/cbp
          - data/2018/acs
          - data/timeseries/healthins/sahie
      api_key:
        type: string
        description: >-
          Your API Key. Get your key <a
          href="https://api.census.gov/data/key_signup.html">here</a>.
        order: 2
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    us_census_stream: true

schemas:
  us_census_stream:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
