version: 5.14.0

type: DeclarativeSource

description: >-
  The WordPress connector  enables seamless data synchronization between your
  WordPress site and various destinations. With this connector, you can
  effortlessly extract and integrate blog posts, pages, comments, and other
  WordPress data into your preferred analytics or storage platform, enabling
  streamlined data analysis and reporting.

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  streams:
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: wp/v2/users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    posts:
      type: DeclarativeStream
      name: posts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: wp/v2/posts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/posts"
    categories:
      type: DeclarativeStream
      name: categories
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: wp/v2/categories
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/categories"
    plugins:
      type: DeclarativeStream
      name: plugins
      primary_key:
        - plugin
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: wp/v2/plugins
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/plugins"
    editor_blocks:
      type: DeclarativeStream
      name: editor_blocks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: wp/v2/blocks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
          - "%Y-%m-%dT%H:%M:%S"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: modified_after
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/editor_blocks"
    comments:
      type: DeclarativeStream
      name: comments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: wp/v2/comments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: after
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/comments"
    pages:
      type: DeclarativeStream
      name: pages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: wp/v2/pages
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: "modified_after\t"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/pages"
    tags:
      type: DeclarativeStream
      name: tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: wp/v2/tags
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    page_revisions:
      type: DeclarativeStream
      name: page_revisions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: wp/v2/pages/{{ stream_partition.page}}/revisions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: page
              stream:
                $ref: "#/definitions/streams/pages"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/page_revisions"
    media:
      type: DeclarativeStream
      name: media
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: wp/v2/media
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: modified_after
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/media"
    taxonomies:
      type: DeclarativeStream
      name: taxonomies
      primary_key:
        - category
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: wp/v2/taxonomies
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/taxonomies"
    types:
      type: DeclarativeStream
      name: types
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: wp/v2/types
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/types"
    themes:
      type: DeclarativeStream
      name: themes
      primary_key:
        - stylesheet
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: wp/v2/themes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/themes"
    statuses:
      type: DeclarativeStream
      name: statuses
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: wp/v2/statuses
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/statuses"
    settings:
      type: DeclarativeStream
      name: settings
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: wp/v2/settings
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/settings"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['domain'] }}/wp-json/
    authenticator:
      type: BasicHttpAuthenticator
      password: "{{ config[\"password\"] }}"
      username: "{{ config[\"username\"] }}"

streams:
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/posts"
  - $ref: "#/definitions/streams/categories"
  - $ref: "#/definitions/streams/plugins"
  - $ref: "#/definitions/streams/editor_blocks"
  - $ref: "#/definitions/streams/comments"
  - $ref: "#/definitions/streams/pages"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/page_revisions"
  - $ref: "#/definitions/streams/media"
  - $ref: "#/definitions/streams/taxonomies"
  - $ref: "#/definitions/streams/types"
  - $ref: "#/definitions/streams/themes"
  - $ref: "#/definitions/streams/statuses"
  - $ref: "#/definitions/streams/settings"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - domain
      - password
      - username
      - start_date
    properties:
      domain:
        type: string
        description: >-
          The domain of the WordPress site. Example:
          my-wordpress-website.host.com
        name: domain
        order: 0
        title: Domain
      password:
        type: string
        description: >-
          Placeholder for basic HTTP auth password - should be set to empty
          string
        name: password
        order: 1
        title: Placeholder Password
        default: x
        airbyte_secret: true
      username:
        type: string
        description: >-
          Placeholder for basic HTTP auth username - should be set to empty
          string
        name: username
        order: 2
        title: Placeholder Username
        default: x
        airbyte_secret: true
      start_date:
        type: string
        description: "Minimal Date to Retrieve Records when stream allow incremental. "
        title: Start Date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        format: date-time
        order: 3
    additionalProperties: true

metadata:
  autoImportSchema:
    users: true
    posts: true
    categories: true
    plugins: true
    editor_blocks: true
    comments: true
    pages: true
    tags: true
    page_revisions: true
    media: true
    taxonomies: true
    types: true
    themes: true
    statuses: true
    settings: true
  testedStreams:
    users:
      streamHash: cd23500bb0f903137d69d410ca814e77bc490cba
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    posts:
      streamHash: 36cd231620e071a3d1752cf2784f412be6f8ac44
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    categories:
      streamHash: 0fb4c4ee7f8c6a1473698877942ed980b060d867
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    plugins:
      streamHash: 9f38fbbd2068fd690e6d8a2bfa6b86d797e29b00
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    editor_blocks:
      streamHash: 604b60e52ee24a87ca48a756a6ebf42c6dfed0bd
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    comments:
      streamHash: 455ea0e687144ae96b0c65eee6d47f503fbc4672
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    pages:
      streamHash: d4d2881e93fe345b725224beeb9f983b8002889f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tags:
      streamHash: ebc203763bce590c7bfd22ba92b9cd041ab9b4b9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    page_revisions:
      streamHash: ddeec0aab84ded06b44a4d8fab678fb81b9ece4e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    media:
      streamHash: 8d52a01a5a48ed80d87fc29b437494154d8fabce
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    taxonomies:
      streamHash: 52321cdd5a6e1ffa474b36718ebc4ce907e8d61a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    types:
      streamHash: 329bef886a68d2851d4d7f709e5b7dbf7843ba6a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    themes:
      streamHash: 6f9127805841361a1753671ec28b455761ef578a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    statuses:
      streamHash: 08f813351672642db8c7a7e1c7dd9b94238964f7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    settings:
      streamHash: a1017cc0207b64ae6d00689633ae1812a37a6231
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://developer.wordpress.org/rest-api/reference/

schemas:
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          collection:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          self:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
      avatar_urls:
        type:
          - object
          - "null"
        properties:
          "24":
            type:
              - string
              - "null"
          "48":
            type:
              - string
              - "null"
          "96":
            type:
              - string
              - "null"
      id:
        type: number
      link:
        type:
          - string
          - "null"
      meta:
        type:
          - array
          - "null"
      name:
        type:
          - string
          - "null"
      slug:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
    required:
      - id
  posts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          about:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          author:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                embeddable:
                  type:
                    - boolean
                    - "null"
                href:
                  type:
                    - string
                    - "null"
          collection:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          curies:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                templated:
                  type:
                    - boolean
                    - "null"
          replies:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                embeddable:
                  type:
                    - boolean
                    - "null"
                href:
                  type:
                    - string
                    - "null"
          self:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          version-history:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                count:
                  type:
                    - number
                    - "null"
                href:
                  type:
                    - string
                    - "null"
          wp:attachment:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          wp:term:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                embeddable:
                  type:
                    - boolean
                    - "null"
                href:
                  type:
                    - string
                    - "null"
                taxonomy:
                  type:
                    - string
                    - "null"
      author:
        type:
          - number
          - "null"
      categories:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      class_list:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      comment_status:
        type:
          - string
          - "null"
      content:
        type:
          - object
          - "null"
        properties:
          protected:
            type:
              - boolean
              - "null"
          rendered:
            type:
              - string
              - "null"
      date:
        type:
          - string
          - "null"
      date_gmt:
        type:
          - string
          - "null"
      excerpt:
        type:
          - object
          - "null"
        properties:
          protected:
            type:
              - boolean
              - "null"
          rendered:
            type:
              - string
              - "null"
      featured_media:
        type:
          - number
          - "null"
      format:
        type:
          - string
          - "null"
      guid:
        type:
          - object
          - "null"
        properties:
          rendered:
            type:
              - string
              - "null"
      id:
        type: number
      link:
        type:
          - string
          - "null"
      meta:
        type:
          - object
          - "null"
        properties:
          footnotes:
            type:
              - string
              - "null"
      modified:
        type:
          - string
          - "null"
      modified_gmt:
        type:
          - string
          - "null"
      ping_status:
        type:
          - string
          - "null"
      slug:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      sticky:
        type:
          - boolean
          - "null"
      tags:
        type:
          - array
          - "null"
      template:
        type:
          - string
          - "null"
      title:
        type:
          - object
          - "null"
        properties:
          rendered:
            type:
              - string
              - "null"
    required:
      - id
  categories:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          about:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          collection:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          curies:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                templated:
                  type:
                    - boolean
                    - "null"
          self:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          wp:post_type:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
      count:
        type:
          - number
          - "null"
      id:
        type: number
      link:
        type:
          - string
          - "null"
      meta:
        type:
          - array
          - "null"
      name:
        type:
          - string
          - "null"
      parent:
        type:
          - number
          - "null"
      slug:
        type:
          - string
          - "null"
      taxonomy:
        type:
          - string
          - "null"
    required:
      - id
  plugins:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type:
          - string
          - "null"
      description:
        type:
          - object
          - "null"
        properties:
          raw:
            type:
              - string
              - "null"
          rendered:
            type:
              - string
              - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          self:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
      author:
        type:
          - string
          - "null"
      author_uri:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      network_only:
        type:
          - boolean
          - "null"
      plugin:
        type: string
      plugin_uri:
        type:
          - string
          - "null"
      requires_php:
        type:
          - string
          - "null"
      requires_wp:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      textdomain:
        type:
          - string
          - "null"
    required:
      - plugin
  editor_blocks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          about:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          collection:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          curies:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                templated:
                  type:
                    - boolean
                    - "null"
          self:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          version-history:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                count:
                  type:
                    - number
                    - "null"
                href:
                  type:
                    - string
                    - "null"
          wp:attachment:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          wp:term:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                embeddable:
                  type:
                    - boolean
                    - "null"
                href:
                  type:
                    - string
                    - "null"
                taxonomy:
                  type:
                    - string
                    - "null"
      content:
        type:
          - object
          - "null"
        properties:
          protected:
            type:
              - boolean
              - "null"
          raw:
            type:
              - string
              - "null"
      date:
        type:
          - string
          - "null"
      date_gmt:
        type:
          - string
          - "null"
      excerpt:
        type:
          - object
          - "null"
        properties:
          protected:
            type:
              - boolean
              - "null"
          rendered:
            type:
              - string
              - "null"
      guid:
        type:
          - object
          - "null"
        properties:
          rendered:
            type:
              - string
              - "null"
      id:
        type: number
      link:
        type:
          - string
          - "null"
      meta:
        type:
          - object
          - "null"
        properties:
          footnotes:
            type:
              - string
              - "null"
      modified:
        type: string
      modified_gmt:
        type:
          - string
          - "null"
      slug:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      template:
        type:
          - string
          - "null"
      title:
        type:
          - object
          - "null"
        properties:
          raw:
            type:
              - string
              - "null"
      wp_pattern_category:
        type:
          - array
          - "null"
      wp_pattern_sync_status:
        type:
          - string
          - "null"
    required:
      - id
      - modified
  comments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          collection:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          self:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          up:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                embeddable:
                  type:
                    - boolean
                    - "null"
                href:
                  type:
                    - string
                    - "null"
                post_type:
                  type:
                    - string
                    - "null"
      author:
        type:
          - number
          - "null"
      author_avatar_urls:
        type:
          - object
          - "null"
        properties:
          "24":
            type:
              - string
              - "null"
          "48":
            type:
              - string
              - "null"
          "96":
            type:
              - string
              - "null"
      author_name:
        type:
          - string
          - "null"
      author_url:
        type:
          - string
          - "null"
      content:
        type:
          - object
          - "null"
        properties:
          rendered:
            type:
              - string
              - "null"
      date:
        type: string
      date_gmt:
        type:
          - string
          - "null"
      id:
        type: number
      link:
        type:
          - string
          - "null"
      meta:
        type:
          - array
          - "null"
      parent:
        type:
          - number
          - "null"
      post:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
      - date
  pages:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          about:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          author:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                embeddable:
                  type:
                    - boolean
                    - "null"
                href:
                  type:
                    - string
                    - "null"
          collection:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          curies:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                templated:
                  type:
                    - boolean
                    - "null"
          predecessor-version:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - number
                    - "null"
          replies:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                embeddable:
                  type:
                    - boolean
                    - "null"
                href:
                  type:
                    - string
                    - "null"
          self:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          version-history:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                count:
                  type:
                    - number
                    - "null"
                href:
                  type:
                    - string
                    - "null"
          wp:attachment:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
      author:
        type:
          - number
          - "null"
      class_list:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      comment_status:
        type:
          - string
          - "null"
      content:
        type:
          - object
          - "null"
        properties:
          protected:
            type:
              - boolean
              - "null"
          rendered:
            type:
              - string
              - "null"
      date:
        type:
          - string
          - "null"
      date_gmt:
        type:
          - string
          - "null"
      excerpt:
        type:
          - object
          - "null"
        properties:
          protected:
            type:
              - boolean
              - "null"
          rendered:
            type:
              - string
              - "null"
      featured_media:
        type:
          - number
          - "null"
      guid:
        type:
          - object
          - "null"
        properties:
          rendered:
            type:
              - string
              - "null"
      id:
        type: number
      link:
        type:
          - string
          - "null"
      menu_order:
        type:
          - number
          - "null"
      meta:
        type:
          - object
          - "null"
        properties:
          footnotes:
            type:
              - string
              - "null"
      modified:
        type: string
      modified_gmt:
        type:
          - string
          - "null"
      parent:
        type:
          - number
          - "null"
      ping_status:
        type:
          - string
          - "null"
      slug:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      template:
        type:
          - string
          - "null"
      title:
        type:
          - object
          - "null"
        properties:
          rendered:
            type:
              - string
              - "null"
    required:
      - id
      - modified
  tags:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          about:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          collection:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          curies:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                templated:
                  type:
                    - boolean
                    - "null"
          self:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          wp:post_type:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
      count:
        type:
          - number
          - "null"
      id:
        type: number
      link:
        type:
          - string
          - "null"
      meta:
        type:
          - array
          - "null"
      name:
        type:
          - string
          - "null"
      slug:
        type:
          - string
          - "null"
      taxonomy:
        type:
          - string
          - "null"
    required:
      - id
  page_revisions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      _links:
        type:
          - object
          - "null"
        properties:
          parent:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
      author:
        type:
          - number
          - "null"
      content:
        type:
          - object
          - "null"
        properties:
          rendered:
            type:
              - string
              - "null"
      date:
        type:
          - string
          - "null"
      date_gmt:
        type:
          - string
          - "null"
      excerpt:
        type:
          - object
          - "null"
        properties:
          rendered:
            type:
              - string
              - "null"
      guid:
        type:
          - object
          - "null"
        properties:
          rendered:
            type:
              - string
              - "null"
      id:
        type: number
      meta:
        type:
          - object
          - "null"
        properties:
          footnotes:
            type:
              - string
              - "null"
      modified:
        type:
          - string
          - "null"
      modified_gmt:
        type:
          - string
          - "null"
      parent:
        type:
          - number
          - "null"
      slug:
        type:
          - string
          - "null"
      title:
        type:
          - object
          - "null"
        properties:
          rendered:
            type:
              - string
              - "null"
    required:
      - id
  media:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - object
          - "null"
        properties:
          rendered:
            type:
              - string
              - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          about:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          author:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                embeddable:
                  type:
                    - boolean
                    - "null"
                href:
                  type:
                    - string
                    - "null"
          collection:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          replies:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                embeddable:
                  type:
                    - boolean
                    - "null"
                href:
                  type:
                    - string
                    - "null"
          self:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
      alt_text:
        type:
          - string
          - "null"
      author:
        type:
          - number
          - "null"
      caption:
        type:
          - object
          - "null"
        properties:
          rendered:
            type:
              - string
              - "null"
      class_list:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      comment_status:
        type:
          - string
          - "null"
      date:
        type:
          - string
          - "null"
      date_gmt:
        type:
          - string
          - "null"
      featured_media:
        type:
          - number
          - "null"
      guid:
        type:
          - object
          - "null"
        properties:
          rendered:
            type:
              - string
              - "null"
      id:
        type: number
      link:
        type:
          - string
          - "null"
      media_details:
        type:
          - object
          - "null"
        properties:
          file:
            type:
              - string
              - "null"
          filesize:
            type:
              - number
              - "null"
          height:
            type:
              - number
              - "null"
          image_meta:
            type:
              - object
              - "null"
            properties:
              aperture:
                type:
                  - string
                  - "null"
              camera:
                type:
                  - string
                  - "null"
              caption:
                type:
                  - string
                  - "null"
              copyright:
                type:
                  - string
                  - "null"
              created_timestamp:
                type:
                  - string
                  - "null"
              credit:
                type:
                  - string
                  - "null"
              focal_length:
                type:
                  - string
                  - "null"
              iso:
                type:
                  - string
                  - "null"
              keywords:
                type:
                  - array
                  - "null"
              orientation:
                type:
                  - string
                  - "null"
              shutter_speed:
                type:
                  - string
                  - "null"
              title:
                type:
                  - string
                  - "null"
          sizes:
            type:
              - object
              - "null"
            properties:
              1536x1536:
                type:
                  - object
                  - "null"
                properties:
                  file:
                    type:
                      - string
                      - "null"
                  filesize:
                    type:
                      - number
                      - "null"
                  height:
                    type:
                      - number
                      - "null"
                  mime_type:
                    type:
                      - string
                      - "null"
                  source_url:
                    type:
                      - string
                      - "null"
                  width:
                    type:
                      - number
                      - "null"
              2048x2048:
                type:
                  - object
                  - "null"
                properties:
                  file:
                    type:
                      - string
                      - "null"
                  filesize:
                    type:
                      - number
                      - "null"
                  height:
                    type:
                      - number
                      - "null"
                  mime_type:
                    type:
                      - string
                      - "null"
                  source_url:
                    type:
                      - string
                      - "null"
                  width:
                    type:
                      - number
                      - "null"
              full:
                type:
                  - object
                  - "null"
                properties:
                  file:
                    type:
                      - string
                      - "null"
                  height:
                    type:
                      - number
                      - "null"
                  mime_type:
                    type:
                      - string
                      - "null"
                  source_url:
                    type:
                      - string
                      - "null"
                  width:
                    type:
                      - number
                      - "null"
              large:
                type:
                  - object
                  - "null"
                properties:
                  file:
                    type:
                      - string
                      - "null"
                  filesize:
                    type:
                      - number
                      - "null"
                  height:
                    type:
                      - number
                      - "null"
                  mime_type:
                    type:
                      - string
                      - "null"
                  source_url:
                    type:
                      - string
                      - "null"
                  width:
                    type:
                      - number
                      - "null"
              medium:
                type:
                  - object
                  - "null"
                properties:
                  file:
                    type:
                      - string
                      - "null"
                  filesize:
                    type:
                      - number
                      - "null"
                  height:
                    type:
                      - number
                      - "null"
                  mime_type:
                    type:
                      - string
                      - "null"
                  source_url:
                    type:
                      - string
                      - "null"
                  width:
                    type:
                      - number
                      - "null"
              medium_large:
                type:
                  - object
                  - "null"
                properties:
                  file:
                    type:
                      - string
                      - "null"
                  filesize:
                    type:
                      - number
                      - "null"
                  height:
                    type:
                      - number
                      - "null"
                  mime_type:
                    type:
                      - string
                      - "null"
                  source_url:
                    type:
                      - string
                      - "null"
                  width:
                    type:
                      - number
                      - "null"
              thumbnail:
                type:
                  - object
                  - "null"
                properties:
                  file:
                    type:
                      - string
                      - "null"
                  filesize:
                    type:
                      - number
                      - "null"
                  height:
                    type:
                      - number
                      - "null"
                  mime_type:
                    type:
                      - string
                      - "null"
                  source_url:
                    type:
                      - string
                      - "null"
                  width:
                    type:
                      - number
                      - "null"
          width:
            type:
              - number
              - "null"
      media_type:
        type:
          - string
          - "null"
      meta:
        type:
          - array
          - "null"
      mime_type:
        type:
          - string
          - "null"
      modified:
        type: string
      modified_gmt:
        type:
          - string
          - "null"
      ping_status:
        type:
          - string
          - "null"
      slug:
        type:
          - string
          - "null"
      source_url:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      template:
        type:
          - string
          - "null"
      title:
        type:
          - object
          - "null"
        properties:
          rendered:
            type:
              - string
              - "null"
    required:
      - id
      - modified
  taxonomies:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      category:
        type: object
        properties:
          description:
            type:
              - string
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              collection:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
              curies:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    templated:
                      type:
                        - boolean
                        - "null"
              wp:items:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
          hierarchical:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          rest_base:
            type:
              - string
              - "null"
          rest_namespace:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          types:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      nav_menu:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              collection:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
              curies:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    templated:
                      type:
                        - boolean
                        - "null"
              wp:items:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
          hierarchical:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          rest_base:
            type:
              - string
              - "null"
          rest_namespace:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          types:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      post_tag:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              collection:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
              curies:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    templated:
                      type:
                        - boolean
                        - "null"
              wp:items:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
          hierarchical:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          rest_base:
            type:
              - string
              - "null"
          rest_namespace:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          types:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      wp_pattern_category:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              collection:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
              curies:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    templated:
                      type:
                        - boolean
                        - "null"
              wp:items:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
          hierarchical:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          rest_base:
            type:
              - string
              - "null"
          rest_namespace:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          types:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
    required:
      - category
  types:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      attachment:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              collection:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
              curies:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    templated:
                      type:
                        - boolean
                        - "null"
              wp:items:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
          has_archive:
            type:
              - boolean
              - "null"
          hierarchical:
            type:
              - boolean
              - "null"
          icon:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          rest_base:
            type:
              - string
              - "null"
          rest_namespace:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          taxonomies:
            type:
              - array
              - "null"
          template:
            type:
              - array
              - "null"
          template_lock:
            type:
              - boolean
              - "null"
      nav_menu_item:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              collection:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
              curies:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    templated:
                      type:
                        - boolean
                        - "null"
              wp:items:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
          has_archive:
            type:
              - boolean
              - "null"
          hierarchical:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          rest_base:
            type:
              - string
              - "null"
          rest_namespace:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          taxonomies:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          template:
            type:
              - array
              - "null"
          template_lock:
            type:
              - boolean
              - "null"
      page:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              collection:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
              curies:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    templated:
                      type:
                        - boolean
                        - "null"
              wp:items:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
          has_archive:
            type:
              - boolean
              - "null"
          hierarchical:
            type:
              - boolean
              - "null"
          icon:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          rest_base:
            type:
              - string
              - "null"
          rest_namespace:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          taxonomies:
            type:
              - array
              - "null"
          template:
            type:
              - array
              - "null"
          template_lock:
            type:
              - boolean
              - "null"
      post:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              collection:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
              curies:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    templated:
                      type:
                        - boolean
                        - "null"
              wp:items:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
          has_archive:
            type:
              - boolean
              - "null"
          hierarchical:
            type:
              - boolean
              - "null"
          icon:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          rest_base:
            type:
              - string
              - "null"
          rest_namespace:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          taxonomies:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          template:
            type:
              - array
              - "null"
          template_lock:
            type:
              - boolean
              - "null"
      wp_block:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              collection:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
              curies:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    templated:
                      type:
                        - boolean
                        - "null"
              wp:items:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
          has_archive:
            type:
              - boolean
              - "null"
          hierarchical:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          rest_base:
            type:
              - string
              - "null"
          rest_namespace:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          taxonomies:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          template:
            type:
              - array
              - "null"
          template_lock:
            type:
              - boolean
              - "null"
      wp_font_face:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              collection:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
              curies:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    templated:
                      type:
                        - boolean
                        - "null"
              wp:items:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
          has_archive:
            type:
              - boolean
              - "null"
          hierarchical:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          rest_base:
            type:
              - string
              - "null"
          rest_namespace:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          taxonomies:
            type:
              - array
              - "null"
          template:
            type:
              - array
              - "null"
          template_lock:
            type:
              - boolean
              - "null"
      wp_font_family:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              collection:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
              curies:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    templated:
                      type:
                        - boolean
                        - "null"
              wp:items:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
          has_archive:
            type:
              - boolean
              - "null"
          hierarchical:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          rest_base:
            type:
              - string
              - "null"
          rest_namespace:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          taxonomies:
            type:
              - array
              - "null"
          template:
            type:
              - array
              - "null"
          template_lock:
            type:
              - boolean
              - "null"
      wp_global_styles:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              collection:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
              curies:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    templated:
                      type:
                        - boolean
                        - "null"
              wp:items:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
          has_archive:
            type:
              - boolean
              - "null"
          hierarchical:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          rest_base:
            type:
              - string
              - "null"
          rest_namespace:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          taxonomies:
            type:
              - array
              - "null"
          template:
            type:
              - array
              - "null"
          template_lock:
            type:
              - boolean
              - "null"
      wp_navigation:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              collection:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
              curies:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    templated:
                      type:
                        - boolean
                        - "null"
              wp:items:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
          has_archive:
            type:
              - boolean
              - "null"
          hierarchical:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          rest_base:
            type:
              - string
              - "null"
          rest_namespace:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          taxonomies:
            type:
              - array
              - "null"
          template:
            type:
              - array
              - "null"
          template_lock:
            type:
              - boolean
              - "null"
      wp_template:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              collection:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
              curies:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    templated:
                      type:
                        - boolean
                        - "null"
              wp:items:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
          has_archive:
            type:
              - boolean
              - "null"
          hierarchical:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          rest_base:
            type:
              - string
              - "null"
          rest_namespace:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          taxonomies:
            type:
              - array
              - "null"
          template:
            type:
              - array
              - "null"
          template_lock:
            type:
              - boolean
              - "null"
      wp_template_part:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              collection:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
              curies:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    templated:
                      type:
                        - boolean
                        - "null"
              wp:items:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    href:
                      type:
                        - string
                        - "null"
          has_archive:
            type:
              - boolean
              - "null"
          hierarchical:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          rest_base:
            type:
              - string
              - "null"
          rest_namespace:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          taxonomies:
            type:
              - array
              - "null"
          template:
            type:
              - array
              - "null"
          template_lock:
            type:
              - boolean
              - "null"
  themes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type:
          - string
          - "null"
      description:
        type:
          - object
          - "null"
        properties:
          raw:
            type:
              - string
              - "null"
          rendered:
            type:
              - string
              - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          collection:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          curies:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                templated:
                  type:
                    - boolean
                    - "null"
          self:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          wp:user-global-styles:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
      author:
        type:
          - object
          - "null"
        properties:
          raw:
            type:
              - string
              - "null"
          rendered:
            type:
              - string
              - "null"
      author_uri:
        type:
          - object
          - "null"
        properties:
          raw:
            type:
              - string
              - "null"
          rendered:
            type:
              - string
              - "null"
      is_block_theme:
        type:
          - boolean
          - "null"
      name:
        type:
          - object
          - "null"
        properties:
          raw:
            type:
              - string
              - "null"
          rendered:
            type:
              - string
              - "null"
      requires_php:
        type:
          - string
          - "null"
      requires_wp:
        type:
          - string
          - "null"
      screenshot:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      stylesheet:
        type: string
      stylesheet_uri:
        type:
          - string
          - "null"
      tags:
        type:
          - object
          - "null"
        properties:
          raw:
            type:
              - array
              - "null"
[...]
