version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - certification_movie
definitions:
  streams:
    certification_movie:
      type: DeclarativeStream
      name: certification_movie
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.themoviedb.org/3/
          path: /certification/movie/list
          http_method: GET
          request_parameters:
            api_key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          definitions: {}
          $id: https://example.com/object1667208363.json
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            certifications:
              type: object
              $id: "#root/certifications"
              properties:
                AU:
                  type: array
                  $id: "#root/certifications/AU"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/AU/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/AU/items/certification"
                        examples:
                          - E
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/AU/items/meaning"
                        examples:
                          - >-
                            Exempt from classification. Films that are exempt from
                            classification must not contain contentious material (i.e.
                            material that would ordinarily be rated M or higher).
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/AU/items/order"
                        default: 0
                        examples:
                          - 1
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: Au
                BG:
                  type: array
                  $id: "#root/certifications/BG"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/BG/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/BG/items/certification"
                        examples:
                          - A
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/BG/items/meaning"
                        examples:
                          - Recommended for children.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/BG/items/order"
                        default: 0
                        examples:
                          - 1
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: Bg
                BR:
                  type: array
                  $id: "#root/certifications/BR"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/BR/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/BR/items/certification"
                        examples:
                          - L
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/BR/items/meaning"
                        examples:
                          - >-
                            General Audiences. Do not expose children to potentially
                            harmful content.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/BR/items/order"
                        default: 0
                        examples:
                          - 1
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: Br
                CA:
                  type: array
                  $id: "#root/certifications/CA"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/CA/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/CA/items/certification"
                        examples:
                          - 18A
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/CA/items/meaning"
                        examples:
                          - >-
                            Persons under 18 years of age must be accompanied by an
                            adult. In the Maritimes & Manitoba, children under the age
                            of 14 are prohibited from viewing the film.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/CA/items/order"
                        default: 0
                        examples:
                          - 4
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: Ca
                DE:
                  type: array
                  $id: "#root/certifications/DE"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/DE/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/DE/items/certification"
                        examples:
                          - "0"
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/DE/items/meaning"
                        examples:
                          - No age restriction.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/DE/items/order"
                        default: 0
                        examples:
                          - 1
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: De
                ES:
                  type: array
                  $id: "#root/certifications/ES"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/ES/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/ES/items/certification"
                        examples:
                          - APTA
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/ES/items/meaning"
                        examples:
                          - General admission.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/ES/items/order"
                        default: 0
                        examples:
                          - 1
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: Es
                FI:
                  type: array
                  $id: "#root/certifications/FI"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/FI/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/FI/items/certification"
                        examples:
                          - S
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/FI/items/meaning"
                        examples:
                          - For all ages.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/FI/items/order"
                        default: 0
                        examples:
                          - 1
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: Fi
                FR:
                  type: array
                  $id: "#root/certifications/FR"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/FR/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/FR/items/certification"
                        examples:
                          - U
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/FR/items/meaning"
                        examples:
                          - (Tous publics) valid for all audiences.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/FR/items/order"
                        default: 0
                        examples:
                          - 1
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: Fr
                GB:
                  type: array
                  $id: "#root/certifications/GB"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/GB/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/GB/items/certification"
                        examples:
                          - "15"
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/GB/items/meaning"
                        examples:
                          - >-
                            Only those over 15 years are admitted. Nobody younger than
                            15 can rent or buy a 15-rated VHS, DVD, Blu-ray Disc, UMD
                            or game, or watch a film in the cinema with this rating.
                            Films under this category can contain adult themes, hard
                            drugs, frequent strong language and limited use of very
                            strong language, strong violence and strong sex
                            references, and nudity without graphic detail. Sexual
                            activity may be portrayed but without any strong detail.
                            Sexual violence may be shown if discreet and justified by
                            context.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/GB/items/order"
                        default: 0
                        examples:
                          - 5
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: Gb
                IN:
                  type: array
                  $id: "#root/certifications/IN"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/IN/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/IN/items/certification"
                        examples:
                          - U
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/IN/items/meaning"
                        examples:
                          - >-
                            Unrestricted Public Exhibition throughout India, suitable
                            for all age groups. Films under this category should not
                            upset children over 4. Such films may contain educational,
                            social or family-oriented themes. Films under this
                            category may also contain fantasy violence and/or mild bad
                            language.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/IN/items/order"
                        default: 0
                        examples:
                          - 0
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: In
                NL:
                  type: array
                  $id: "#root/certifications/NL"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/NL/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/NL/items/certification"
                        examples:
                          - AL
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/NL/items/meaning"
                        examples:
                          - All ages.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/NL/items/order"
                        default: 0
                        examples:
                          - 1
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: Nl
                NZ:
                  type: array
                  $id: "#root/certifications/NZ"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/NZ/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/NZ/items/certification"
                        examples:
                          - M
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/NZ/items/meaning"
                        examples:
                          - >-
                            Suitable for (but not restricted to) mature audiences 16
                            years and up.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/NZ/items/order"
                        default: 0
                        examples:
                          - 3
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: Nz
                PH:
                  type: array
                  $id: "#root/certifications/PH"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/PH/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/PH/items/certification"
                        examples:
                          - G
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/PH/items/meaning"
                        examples:
                          - General Audiences. Viewers of all ages are admitted.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/PH/items/order"
                        default: 0
                        examples:
                          - 1
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: Ph
                PT:
                  type: array
                  $id: "#root/certifications/PT"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/PT/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/PT/items/certification"
                        examples:
                          - Públicos
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/PT/items/meaning"
                        examples:
                          - >-
                            For all the public (especially designed for children under
                            3 years of age).
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/PT/items/order"
                        default: 0
                        examples:
                          - 1
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: Pt
                US:
                  type: array
                  $id: "#root/certifications/US"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/US/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/US/items/certification"
                        examples:
                          - G
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/US/items/meaning"
                        examples:
                          - >-
                            All ages admitted. There is no content that would be
                            objectionable to most parents. This is one of only two
                            ratings dating back to 1968 that still exists today.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/US/items/order"
                        default: 0
                        examples:
                          - 1
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: Us
              required:
                - US
                - CA
                - AU
                - DE
                - FR
                - NZ
                - IN
                - GB
                - NL
                - BR
                - FI
                - BG
                - ES
                - PH
                - PT
              title: Certifications
          required:
            - certifications
          title: Root
          additionalProperties: true
    certification_tv:
      type: DeclarativeStream
      name: certification_tv
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.themoviedb.org/3/
          path: /certification/tv/list
          http_method: GET
          request_parameters:
            api_key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          definitions: {}
          $id: https://example.com/object1667208548.json
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            certifications:
              type: object
              $id: "#root/certifications"
              properties:
                AU:
                  type: array
                  $id: "#root/certifications/AU"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/AU/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/AU/items/certification"
                        examples:
                          - P
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/AU/items/meaning"
                        examples:
                          - >-
                            Programming is intended for younger children 2–11;
                            commercial stations must show at least 30 minutes of
                            P-rated content each weekday and weekends at all times.
                            No
                            advertisements may be shown during P-rated programs.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/AU/items/order"
                        default: 0
                        examples:
                          - 1
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: Au
                BR:
                  type: array
                  $id: "#root/certifications/BR"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/BR/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/BR/items/certification"
                        examples:
                          - L
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/BR/items/meaning"
                        examples:
                          - Content is suitable for all audiences.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/BR/items/order"
                        default: 0
                        examples:
                          - 0
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: Br
                CA:
                  type: array
                  $id: "#root/certifications/CA"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/CA/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/CA/items/certification"
                        examples:
                          - Exempt
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/CA/items/meaning"
                        examples:
                          - >-
                            Shows which are exempt from ratings (such as news and
                            sports programming) will not display an on-screen rating
                            at all.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/CA/items/order"
                        default: 0
                        examples:
                          - 0
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: Ca
                DE:
                  type: array
                  $id: "#root/certifications/DE"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/DE/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/DE/items/certification"
                        examples:
                          - "0"
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/DE/items/meaning"
                        examples:
                          - Can be aired at any time.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/DE/items/order"
                        default: 0
                        examples:
                          - 0
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: De
                FR:
                  type: array
                  $id: "#root/certifications/FR"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/FR/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/FR/items/certification"
                        examples:
                          - NR
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/FR/items/meaning"
                        examples:
                          - No rating information.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/FR/items/order"
                        default: 0
                        examples:
                          - 0
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: Fr
                GB:
                  type: array
                  $id: "#root/certifications/GB"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/GB/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/GB/items/certification"
                        examples:
                          - U
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/GB/items/meaning"
                        examples:
                          - >-
                            The U symbol stands for Universal. A U film should be
                            suitable for audiences aged four years and over.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/GB/items/order"
                        default: 0
                        examples:
                          - 0
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: Gb
                KR:
                  type: array
                  $id: "#root/certifications/KR"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/KR/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/KR/items/certification"
                        examples:
                          - Exempt
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/KR/items/meaning"
                        examples:
                          - >-
                            This rating is only for knowledge based game shows;
                            lifestyle shows; documentary shows; news; current topic
                            discussion shows; education/culture shows; sports that
                            excludes MMA or other violent sports; and other programs
                            that Korea Communications Standards Commission recognizes.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/KR/items/order"
                        default: 0
                        examples:
                          - 0
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: Kr
                RU:
                  type: array
                  $id: "#root/certifications/RU"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/RU/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/RU/items/certification"
                        examples:
                          - 18+
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/RU/items/meaning"
                        examples:
                          - Restricted to People 18 or Older.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/RU/items/order"
                        default: 0
                        examples:
                          - 5
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: Ru
                TH:
                  type: array
                  $id: "#root/certifications/TH"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/TH/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/TH/items/certification"
                        examples:
                          - ส
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/TH/items/meaning"
                        examples:
                          - >-
                            Sor - Educational movies which the public should be
                            encouraged to see.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/TH/items/order"
                        default: 0
                        examples:
                          - 0
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: Th
                US:
                  type: array
                  $id: "#root/certifications/US"
                  default: []
                  items:
                    type: object
                    $id: "#root/certifications/US/items"
                    properties:
                      certification:
                        type: string
                        $id: "#root/certifications/US/items/certification"
                        examples:
                          - NR
                        pattern: ^.*$
                        title: Certification
                      meaning:
                        type: string
                        $id: "#root/certifications/US/items/meaning"
                        examples:
                          - No rating information.
                        pattern: ^.*$
                        title: Meaning
                      order:
                        type: integer
                        $id: "#root/certifications/US/items/order"
                        default: 0
                        examples:
                          - 0
                        title: Order
                    required:
                      - certification
                      - meaning
                      - order
                    title: Items
                  title: Us
              required:
                - RU
                - US
                - CA
                - AU
                - FR
                - DE
                - TH
                - KR
                - GB
                - BR
              title: Certifications
          required:
            - certifications
          title: Root
          additionalProperties: true
    changes_movie:
      type: DeclarativeStream
      name: changes_movie
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.themoviedb.org/3/
          path: /movie/changes
          http_method: GET
          request_parameters:
            api_key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: "{{ config['nothing'] }}"
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          definitions: {}
          $id: https://example.com/object1667208732.json
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            page:
              type: integer
              $id: "#root/page"
              default: 0
              examples:
                - 1
              title: Page
            results:
              type: array
              $id: "#root/results"
              default: []
              items:
                type: object
                $id: "#root/results/items"
                properties:
                  adult:
                    type:
                      - "null"
                      - boolean
                    $id: "#root/results/items/adult"
                    default: true
                    examples:
                      - false
                    title: Adult
                  id:
                    type: integer
                    $id: "#root/results/items/id"
                    default: 0
                    examples:
                      - 412683
                    title: Id
                required:
                  - id
                  - adult
                title: Items
              title: Results
            total_pages:
              type: integer
              $id: "#root/total_pages"
              default: 0
              examples:
                - 10
              title: Total_pages
            total_results:
              type: integer
              $id: "#root/total_results"
              default: 0
              examples:
                - 952
              title: Total_results
          required:
            - results
            - page
            - total_pages
            - total_results
          title: Root
          additionalProperties: true
    changes_tv:
      type: DeclarativeStream
      name: changes_tv
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.themoviedb.org/3/
          path: /tv/changes
          http_method: GET
          request_parameters:
            api_key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: "{{ config['nothing'] }}"
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          definitions: {}
          $id: https://example.com/object1667208773.json
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            page:
              type: integer
              $id: "#root/page"
              default: 0
              examples:
                - 1
              title: Page
            results:
              type: array
              $id: "#root/results"
              default: []
              items:
                type: object
                $id: "#root/results/items"
                properties:
                  adult:
                    type:
                      - "null"
                      - boolean
                    $id: "#root/results/items/adult"
                    default: true
                    examples:
                      - false
                    title: Adult
                  id:
                    type: integer
                    $id: "#root/results/items/id"
                    default: 0
                    examples:
                      - 67563
                    title: Id
                required:
                  - id
                  - adult
                title: Items
              title: Results
            total_pages:
              type: integer
              $id: "#root/total_pages"
              default: 0
              examples:
                - 2
              title: Total_pages
            total_results:
              type: integer
              $id: "#root/total_results"
              default: 0
              examples:
                - 122
              title: Total_results
          required:
            - results
            - page
            - total_pages
            - total_results
          title: Root
          additionalProperties: true
    changes_person:
      type: DeclarativeStream
      name: changes_person
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.themoviedb.org/3/
          path: /person/changes
          http_method: GET
          request_parameters:
            api_key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: "{{ config['nothing'] }}"
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          definitions: {}
          $id: https://example.com/object1667210538.json
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            page:
              type: integer
              $id: "#root/page"
              default: 0
              examples:
                - 1
              title: Page
            results:
              type: array
              $id: "#root/results"
              default: []
              items:
                type: object
                $id: "#root/results/items"
                properties:
                  adult:
                    type:
                      - "null"
                      - boolean
                    $id: "#root/results/items/adult"
                    default: true
                    examples:
                      - false
                    title: Adult
                  id:
                    type: integer
                    $id: "#root/results/items/id"
                    default: 0
                    examples:
                      - 1670120
                    title: Id
                required:
                  - id
                  - adult
                title: Items
              title: Results
            total_pages:
              type: integer
              $id: "#root/total_pages"
              default: 0
              examples:
                - 7
              title: Total_pages
            total_results:
              type: integer
              $id: "#root/total_results"
              default: 0
              examples:
                - 620
              title: Total_results
          required:
            - results
            - page
            - total_pages
            - total_results
          title: Root
          additionalProperties: true
    movies_details:
      type: DeclarativeStream
      name: movies_details
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.themoviedb.org/3/
          path: /movie/{{ config['movie_id'] }}
          http_method: GET
          request_parameters:
            api_key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          definitions: {}
          $id: https://example.com/object1666852195.json
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            adult:
              type: boolean
              $id: "#root/adult"
              default: true
              title: Adult
            backdrop_path:
              type:
                - "null"
                - string
              $id: "#root/backdrop_path"
              pattern: ^.*$
              title: Backdrop_path
            belongs_to_collection:
              type:
                - "null"
                - object
              $id: "#root/belongs_to_collection"
              default:
              title: Belongs_to_collection
            budget:
              type: integer
              $id: "#root/budget"
              default: 0
              title: Budget
            genres:
              type:
                - "null"
                - array
              $id: "#root/genres"
              default: []
              items:
                type: object
                $id: "#root/genres/items"
                properties:
                  id:
                    type: integer
                    $id: "#root/genres/items/id"
                    default: 0
                    title: Id
                  name:
                    type: string
                    $id: "#root/genres/items/name"
                    pattern: ^.*$
                    title: Name
                title: Items
              title: Genres
            homepage:
              type:
                - "null"
                - string
              $id: "#root/homepage"
              pattern: ^.*$
              title: Homepage
            id:
              type: integer
              $id: "#root/id"
              default: 0
              title: Id
            imdb_id:
              type: string
              $id: "#root/imdb_id"
              pattern: ^.*$
              title: Imdb_id
            original_language:
              type: string
              $id: "#root/original_language"
              pattern: ^.*$
              title: Original_language
            original_title:
              type: string
              $id: "#root/original_title"
              pattern: ^.*$
              title: Original_title
            overview:
              type:
                - "null"
                - string
              $id: "#root/overview"
              pattern: ^.*$
              title: Overview
            popularity:
              type: number
              $id: "#root/popularity"
              default: 0
              title: Popularity
            poster_path:
              type:
                - string
                - "null"
              $id: "#root/poster_path"
              default:
              title: Poster_path
            production_companies:
              type:
                - "null"
                - array
              $id: "#root/production_companies"
              default: []
              items:
                type: object
                $id: "#root/production_companies/items"
                properties:
                  id:
                    type: integer
                    $id: "#root/production_companies/items/id"
                    default: 0
                    title: Id
                  logo_path:
                    type:
                      - "null"
                      - string
                    $id: "#root/production_companies/items/logo_path"
                    pattern: ^.*$
                    title: Logo_path
                  name:
                    type: string
                    $id: "#root/production_companies/items/name"
                    pattern: ^.*$
                    title: Name
                  origin_country:
                    type: string
                    $id: "#root/production_companies/items/origin_country"
                    pattern: ^.*$
                    title: Origin_country
                title: Items
              title: Production_companies
            production_countries:
              type:
                - "null"
                - array
              $id: "#root/production_countries"
              default: []
              items:
                type: object
                $id: "#root/production_countries/items"
                properties:
                  iso_3166_1:
                    type: string
                    $id: "#root/production_countries/items/iso_3166_1"
                    pattern: ^.*$
                    title: Iso_3166_1
                  name:
                    type: string
                    $id: "#root/production_countries/items/name"
                    pattern: ^.*$
                    title: Name
                title: Items
              title: Production_countries
            release_date:
              type: string
              $id: "#root/release_date"
              pattern: ^.*$
              title: Release_date
            revenue:
              type: integer
              $id: "#root/revenue"
              default: 0
              title: Revenue
            runtime:
              type:
                - "null"
                - integer
              $id: "#root/runtime"
              default: 0
              title: Runtime
            spoken_languages:
              type:
                - "null"
                - array
              $id: "#root/spoken_languages"
              default: []
              items:
                type: object
                $id: "#root/spoken_languages/items"
                properties:
                  iso_639_1:
                    type: string
                    $id: "#root/spoken_languages/items/iso_639_1"
                    pattern: ^.*$
                    title: Iso_639_1
                  name:
                    type: string
                    $id: "#root/spoken_languages/items/name"
                    pattern: ^.*$
                    title: Name
                title: Items
              title: Spoken_languages
            status:
              type: string
              $id: "#root/status"
              pattern: ^.*$
              title: Status
            tagline:
              type:
                - "null"
                - string
              $id: "#root/tagline"
              pattern: ^.*$
              title: Tagline
            title:
              type: string
              $id: "#root/title"
              pattern: ^.*$
              title: Title
            video:
              type: boolean
              $id: "#root/video"
              default: true
              title: Video
            vote_average:
              type: number
              $id: "#root/vote_average"
              default: 0
              title: Vote_average
            vote_count:
              type: integer
              $id: "#root/vote_count"
              default: 0
              title: Vote_count
          title: Root
          additionalProperties: true
    movies_alternative_titles:
      type: DeclarativeStream
      name: movies_alternative_titles
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.themoviedb.org/3/
          path: /movie/{{ config['movie_id'] }}/alternative_titles
          http_method: GET
          request_parameters:
            api_key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          definitions: {}
          $id: https://example.com/object1666884919.json
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            id:
              type: integer
              $id: "#root/id"
              default: 0
              title: Id
            titles:
              type:
                - array
                - "null"
                - object
              $id: "#root/titles"
              default: []
              items:
                type:
                  - array
                  - "null"
                  - object
                $id: "#root/titles/items"
                properties:
                  type:
                    type: string
                    $id: "#root/titles/items/type"
                    pattern: ^.*$
                    title: Type
                  iso_3166_1:
                    type: string
                    $id: "#root/titles/items/iso_3166_1"
                    pattern: ^.*$
                    title: Iso_3166_1
                  title:
                    type: string
                    $id: "#root/titles/items/title"
                    pattern: ^.*$
                    title: Title
                title: Items
              title: Titles
          title: Root
          additionalProperties: true
    movies_credits:
      type: DeclarativeStream
      name: movies_credits
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.themoviedb.org/3/
          path: /movie/{{ config['movie_id'] }}/credits
          http_method: GET
          request_parameters:
            api_key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          definitions: {}
          $id: https://example.com/object1666852792.json
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            cast:
              type: array
              $id: "#root/cast"
              default: []
              items:
                type: object
                $id: "#root/cast/items"
                properties:
                  adult:
                    type: boolean
                    $id: "#root/cast/items/adult"
                    default: true
                    title: Adult
                  cast_id:
                    type: integer
                    $id: "#root/cast/items/cast_id"
                    default: 0
                    title: Cast_id
                  character:
                    type: string
                    $id: "#root/cast/items/character"
                    pattern: ^.*$
                    title: Character
                  credit_id:
                    type: string
                    $id: "#root/cast/items/credit_id"
                    pattern: ^.*$
                    title: Credit_id
                  gender:
                    type: integer
                    $id: "#root/cast/items/gender"
                    default: 0
                    title: Gender
                  id:
                    type: integer
                    $id: "#root/cast/items/id"
                    default: 0
                    title: Id
                  known_for_department:
                    type: string
                    $id: "#root/cast/items/known_for_department"
                    pattern: ^.*$
                    title: Known_for_department
                  name:
                    type: string
                    $id: "#root/cast/items/name"
                    pattern: ^.*$
                    title: Name
                  order:
                    type: integer
                    $id: "#root/cast/items/order"
                    default: 0
                    title: Order
                  original_name:
                    type: string
                    $id: "#root/cast/items/original_name"
                    pattern: ^.*$
                    title: Original_name
                  popularity:
                    type: number
                    $id: "#root/cast/items/popularity"
                    default: 0
                    title: Popularity
                  profile_path:
                    type:
                      - "null"
                      - string
                    $id: "#root/cast/items/profile_path"
                    pattern: ^.*$
                    title: Profile_path
                title: Items
              title: Cast
            crew:
              type: array
              $id: "#root/crew"
              default: []
              items:
                type: object
                $id: "#root/crew/items"
                properties:
                  adult:
                    type: boolean
                    $id: "#root/crew/items/adult"
                    default: true
                    title: Adult
                  credit_id:
                    type: string
                    $id: "#root/crew/items/credit_id"
                    pattern: ^.*$
                    title: Credit_id
                  department:
                    type: string
                    $id: "#root/crew/items/department"
                    pattern: ^.*$
                    title: Department
                  gender:
                    type: integer
                    $id: "#root/crew/items/gender"
                    default: 0
                    title: Gender
                  id:
                    type: integer
                    $id: "#root/crew/items/id"
                    default: 0
                    title: Id
                  job:
                    type: string
                    $id: "#root/crew/items/job"
                    pattern: ^.*$
                    title: Job
                  known_for_department:
                    type: string
                    $id: "#root/crew/items/known_for_department"
                    pattern: ^.*$
                    title: Known_for_department
                  name:
                    type: string
                    $id: "#root/crew/items/name"
                    pattern: ^.*$
                    title: Name
                  original_name:
                    type: string
                    $id: "#root/crew/items/original_name"
                    pattern: ^.*$
                    title: Original_name
                  popularity:
                    type: number
                    $id: "#root/crew/items/popularity"
                    default: 0
                    title: Popularity
                  profile_path:
                    type:
                      - "null"
                      - string
                    $id: "#root/crew/items/profile_path"
                    pattern: ^.*$
                    title: Profile_path
                title: Items
              title: Crew
            id:
              type: integer
              $id: "#root/id"
              default: 0
              title: Id
          title: Root
          additionalProperties: true
    movies_external_ids:
      type: DeclarativeStream
      name: movies_external_ids
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.themoviedb.org/3/
          path: /movie/{{ config['movie_id'] }}/external_ids
          http_method: GET
          request_parameters:
            api_key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          definitions: {}
          $id: https://example.com/object1666852857.json
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            facebook_id:
              type: string
              $id: "#root/facebook_id"
              pattern: ^.*$
              title: Facebook_id
            id:
              type: integer
              $id: "#root/id"
              default: 0
              title: Id
            imdb_id:
              type: string
              $id: "#root/imdb_id"
              pattern: ^.*$
              title: Imdb_id
            instagram_id:
              type:
                - "null"
                - string
              $id: "#root/instagram_id"
              pattern: ^.*$
              title: Instagram_id
            twitter_id:
              type:
                - "null"
                - string
              $id: "#root/twitter_id"
              pattern: ^.*$
              title: Twitter_id
          title: Root
          additionalProperties: true
    movies_images:
      type: DeclarativeStream
      name: movies_images
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.themoviedb.org/3/
          path: /movie/{{ config['movie_id'] }}/images
          http_method: GET
          request_parameters:
            api_key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          definitions: {}
          $id: https://example.com/object1666852902.json
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            backdrops:
              type: array
              $id: "#root/backdrops"
              default: []
              items:
                type: object
                $id: "#root/backdrops/items"
                properties:
                  aspect_ratio:
                    type: number
                    $id: "#root/backdrops/items/aspect_ratio"
                    default: 0
                    title: Aspect_ratio
                  file_path:
                    type: string
                    $id: "#root/backdrops/items/file_path"
                    pattern: ^.*$
                    title: File_path
                  height:
                    type: integer
                    $id: "#root/backdrops/items/height"
                    default: 0
                    title: Height
                  iso_639_1:
                    type:
                      - string
                      - "null"
                    $id: "#root/backdrops/items/iso_639_1"
                    default:
                    title: Iso_639_1
                  vote_average:
                    type:
                      - number
                      - integer
                      - string
                    $id: "#root/backdrops/items/vote_average"
                    default: 0
                    title: Vote_average
                  vote_count:
                    type: integer
                    $id: "#root/backdrops/items/vote_count"
                    default: 0
                    title: Vote_count
                  width:
                    type: integer
                    $id: "#root/backdrops/items/width"
                    default: 0
                    title: Width
                title: Items
              title: Backdrops
            id:
              type: integer
              $id: "#root/id"
              default: 0
              title: Id
            posters:
              type: array
              $id: "#root/posters"
              default: []
              items:
                type: object
                $id: "#root/posters/items"
                properties:
                  aspect_ratio:
                    type: number
                    $id: "#root/posters/items/aspect_ratio"
                    default: 0
                    title: Aspect_ratio
                  file_path:
                    type: string
                    $id: "#root/posters/items/file_path"
                    pattern: ^.*$
                    title: File_path
                  height:
                    type: integer
                    $id: "#root/posters/items/height"
                    default: 0
                    title: Height
                  iso_639_1:
                    type:
                      - "null"
                      - string
                    $id: "#root/posters/items/iso_639_1"
                    pattern: ^.*$
                    title: Iso_639_1
                  vote_average:
                    type:
                      - number
                      - integer
                      - string
                    $id: "#root/posters/items/vote_average"
                    default: 0
                    title: Vote_average
                  vote_count:
                    type: integer
                    $id: "#root/posters/items/vote_count"
                    default: 0
                    title: Vote_count
                  width:
                    type: integer
                    $id: "#root/posters/items/width"
                    default: 0
                    title: Width
                title: Items
              title: Posters
          title: Root
          additionalProperties: true
    movies_keywords:
      type: DeclarativeStream
      name: movies_keywords
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.themoviedb.org/3/
          path: /movie/{{ config['movie_id'] }}/keywords
          http_method: GET
          request_parameters:
            api_key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          definitions: {}
          $id: https://example.com/object1666852923.json
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            id:
              type: integer
              $id: "#root/id"
              default: 0
              title: Id
            keywords:
              type: array
              $id: "#root/keywords"
              default: []
              items:
                type: object
                $id: "#root/keywords/items"
                properties:
                  id:
                    type: integer
                    $id: "#root/keywords/items/id"
                    default: 0
                    title: Id
                  name:
                    type: string
                    $id: "#root/keywords/items/name"
                    pattern: ^.*$
                    title: Name
                title: Items
              title: Keywords
          title: Root
          additionalProperties: true
    movies_latest:
      type: DeclarativeStream
      name: movies_latest
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.themoviedb.org/3/
          path: /movie/latest
          http_method: GET
          request_parameters:
            api_key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          definitions: {}
          $id: https://example.com/object1666853268.json
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            adult:
              type: boolean
              $id: "#root/adult"
              default: true
              title: Adult
            backdrop_path:
              type:
                - string
                - "null"
              $id: "#root/backdrop_path"
              default:
              title: Backdrop_path
            belongs_to_collection:
              type:
                - string
                - "null"
              $id: "#root/belongs_to_collection"
              default:
              title: Belongs_to_collection
            budget:
              type: integer
              $id: "#root/budget"
              default: 0
              title: Budget
            genres:
              type: array
              $id: "#root/genres"
              default: []
              items:
                type: object
                $id: "#root/genres/items"
                properties:
                  id:
                    type: integer
                    $id: "#root/genres/items/id"
                    default: 0
                    title: Id
                  name:
                    type: string
                    $id: "#root/genres/items/name"
                    pattern: ^.*$
                    title: Name
                title: Items
              title: Genres
            homepage:
              type: string
              $id: "#root/homepage"
              pattern: ^.*$
              title: Homepage
            id:
              type: integer
              $id: "#root/id"
              default: 0
              title: Id
            imdb_id:
              type:
                - "null"
                - string
              $id: "#root/imdb_id"
              pattern: ^.*$
              title: Imdb_id
            original_language:
              type: string
              $id: "#root/original_language"
              pattern: ^.*$
              title: Original_language
            original_title:
              type: string
              $id: "#root/original_title"
              pattern: ^.*$
              title: Original_title
            overview:
              type: string
              $id: "#root/overview"
              pattern: ^.*$
              title: Overview
            popularity:
              type: integer
              $id: "#root/popularity"
              default: 0
              title: Popularity
            poster_path:
              type:
                - "null"
                - string
              $id: "#root/poster_path"
              pattern: ^.*$
              title: Poster_path
            production_companies:
              type: array
              $id: "#root/production_companies"
              default: []
              title: Production_companies
            production_countries:
              type: array
              $id: "#root/production_countries"
              default: []
              title: Production_countries
            release_date:
              type: string
              $id: "#root/release_date"
              pattern: ^.*$
              title: Release_date
            revenue:
              type: integer
              $id: "#root/revenue"
              default: 0
              title: Revenue
            runtime:
              type: integer
              $id: "#root/runtime"
              default: 0
              title: Runtime
            spoken_languages:
              type: array
              $id: "#root/spoken_languages"
              default: []
              title: Spoken_languages
            status:
              type: string
              $id: "#root/status"
              pattern: ^.*$
              title: Status
            tagline:
              type: string
              $id: "#root/tagline"
              pattern: ^.*$
              title: Tagline
            title:
              type: string
              $id: "#root/title"
              pattern: ^.*$
              title: Title
            video:
              type: boolean
              $id: "#root/video"
              default: true
              title: Video
            vote_average:
              type: integer
              $id: "#root/vote_average"
              default: 0
              title: Vote_average
            vote_count:
              type: integer
              $id: "#root/vote_count"
              default: 0
              title: Vote_count
          title: Root
          additionalProperties: true
    movies_lists:
      type: DeclarativeStream
      name: movies_lists
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.themoviedb.org/3/
          path: /movie/{{ config['movie_id'] }}/lists
          http_method: GET
          request_parameters:
            api_key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          id: 550
          page: 1
          results:
            - description: Pick one and then one or two alternates
              favorite_count: 0
              id: 7213
              iso_639_1: en
              item_count: 1358
              list_type: movie
              name: Movie Night
              poster_path: /p60VSQL7usdxztIGokJPpHmKWdU.jpg
            - description: Your favorite and classic movies of the 1990s
              favorite_count: 0
              id: 6968
              iso_639_1: en
              item_count: 482
              list_type: movie
              name: "1990"
              poster_path: /5R68Xn4EG0g5qlaQxpE89zGrtes.jpg
            - description: All the movies I own on vhs/dvd/bluray or digital.
              favorite_count: 0
              id: 9660
              iso_639_1: en
              item_count: 3299
              list_type: movie
              name: My Film Collection
              poster_path: /3TsnEEkBRfQ1b7Gi2FTsuxHFUZq.jpg
            - favorite_count: 0
              id: 8085
              iso_639_1: en
              item_count: 23
              list_type: movie
              name: Twists and Shouts
              poster_path: /drzZQfdyoAq7pXq4EPI2aZKyGD5.jpg
            - favorite_count: 0
              id: 12031
              iso_639_1: fr
              item_count: 475
              list_type: movie
              name: Films
              poster_path:
            - description: List maintained by Movie Collection, the iOS app.
              favorite_count: 0
              id: 1718
              iso_639_1: en
              item_count: 610
              list_type: movie
              name: Movie Collection
              poster_path:
            - favorite_count: 0
              id: 11052
              iso_639_1: en
              item_count: 478
              list_type: movie
              name: Movies
              poster_path:
            - description: Weekly Box Office Nº1 from 1982
              favorite_count: 0
              id: 5576
              iso_639_1: es
              item_count: 647
              list_type: movie
              name: Weekly Box Office Nº1 from 1982
              poster_path: /yTpKlgaNw3fEBndyDYPg3hRloR5.jpg
            - favorite_count: 0
              id: 4023
              iso_639_1: it
              item_count: 1072
              list_type: movie
              name: Dvd collection
              poster_path: /sHGO5Ct2Vo0KPVnSEmSf3Zo5MIl.jpg
            - description: Películas para recomendar
              favorite_count: 0
              id: 10354
              iso_639_1: en
              item_count: 33
              list_type: movie
              name: Peliculones
              poster_path:
            - favorite_count: 0
              id: 10141
              iso_639_1: en
              item_count: 304
              list_type: movie
              name: R3ST
              poster_path:
            - favorite_count: 0
              id: 5829
              iso_639_1: de
              item_count: 396
              list_type: movie
              name: Criss Filme
              poster_path: /gnNU653Lm0cCpdYDaOgjTREf6JI.jpg
            - description: movies that I've watched
              favorite_count: 0
              id: 6357
              iso_639_1: en
              item_count: 1690
              list_type: movie
              name: watched
              poster_path: /7o7fCNaruJGrTjWpmmK2jj8rE7Q.jpg
            - favorite_count: 0
              id: 9267
              iso_639_1: en
              item_count: 121
              list_type: movie
              name: Dangerous Hill Classics
              poster_path: /f7KYM1uO8f2duhoSY3Bps55mIe.jpg
            - description: List maintained by Movie Collection, the iOS app.
              favorite_count: 0
              id: 3136
              iso_639_1: en
              item_count: 185
              list_type: movie
              name: Movie Collection
              poster_path: /koLwUfgmlT2kr0twamPJ8l6eQIp.jpg
            - favorite_count: 0
              id: 4557
              iso_639_1: hu
              item_count: 591
              list_type: movie
              name: Watched
              poster_path: /43pgav2uIG0ZNGdcaZX1v073ITv.jpg
            - favorite_count: 0
              id: 12467
              iso_639_1: en
              item_count: 13
              list_type: movie
              name: Bradd
              poster_path:
            - favorite_count: 0
              id: 4280
              iso_639_1: it
              item_count: 390
              list_type: movie
              name: MY COLLECTION
              poster_path: /noLXB6fiDAl9uC6O2W26kCDXIFl.jpg
            - description: Movies that I have watched.
              favorite_count: 0
              id: 10482
              iso_639_1: en
              item_count: 567
              list_type: movie
              name: Watched
              poster_path:
            - description: DVDs I have
              favorite_count: 0
              id: 11773
              iso_639_1: en
              item_count: 1158
              list_type: movie
              name: DVD Collection
              poster_path:
          total_pages: 18
          total_results: 358
          additionalProperties: true
    movies_now_playing:
      type: DeclarativeStream
      name: movies_now_playing
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.themoviedb.org/3/
          path: /movie/now_playing
          http_method: GET
          request_parameters:
            api_key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: "{{ config['nothing'] }}"
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          definitions: {}
          $id: https://example.com/object1666853486.json
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            dates:
              type: object
              $id: "#root/dates"
              properties:
                maximum:
                  type: string
                  $id: "#root/dates/maximum"
                  pattern: ^.*$
                  title: Maximum
                minimum:
                  type: string
                  $id: "#root/dates/minimum"
                  pattern: ^.*$
                  title: Minimum
              title: Dates
            page:
              type: integer
              $id: "#root/page"
              default: 0
              title: Page
            results:
              type: array
              $id: "#root/results"
              default: []
              items:
                type: object
                $id: "#root/results/items"
                properties:
                  adult:
                    type: boolean
                    $id: "#root/results/items/adult"
                    default: true
                    title: Adult
                  backdrop_path:
                    type: string
                    $id: "#root/results/items/backdrop_path"
                    pattern: ^.*$
                    title: Backdrop_path
                  genre_ids:
                    type: array
                    $id: "#root/results/items/genre_ids"
                    default: []
                    items:
                      type: integer
                      $id: "#root/results/items/genre_ids/items"
                      default: 0
                      title: Items
                    title: Genre_ids
                  id:
                    type: integer
                    $id: "#root/results/items/id"
                    default: 0
                    title: Id
                  original_language:
                    type: string
                    $id: "#root/results/items/original_language"
                    pattern: ^.*$
                    title: Original_language
                  original_title:
                    type: string
                    $id: "#root/results/items/original_title"
                    pattern: ^.*$
                    title: Original_title
                  overview:
                    type: string
                    $id: "#root/results/items/overview"
                    pattern: ^.*$
                    title: Overview
                  popularity:
                    type: number
                    $id: "#root/results/items/popularity"
                    default: 0
                    title: Popularity
                  poster_path:
                    type: string
                    $id: "#root/results/items/poster_path"
                    pattern: ^.*$
                    title: Poster_path
                  release_date:
                    type: string
                    $id: "#root/results/items/release_date"
                    pattern: ^.*$
                    title: Release_date
                  title:
                    type: string
                    $id: "#root/results/items/title"
                    pattern: ^.*$
                    title: Title
                  video:
                    type: boolean
                    $id: "#root/results/items/video"
                    default: true
                    title: Video
                  vote_average:
                    type: number
                    $id: "#root/results/items/vote_average"
                    default: 0
                    title: Vote_average
                  vote_count:
                    type: integer
                    $id: "#root/results/items/vote_count"
                    default: 0
                    title: Vote_count
                title: Items
              title: Results
            total_pages:
              type: integer
              $id: "#root/total_pages"
              default: 0
              title: Total_pages
            total_results:
              type: integer
              $id: "#root/total_results"
              default: 0
              title: Total_results
          title: Root
          additionalProperties: true
    movies_popular:
      type: DeclarativeStream
      name: movies_popular
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.themoviedb.org/3/
          path: /movie/popular
          http_method: GET
          request_parameters:
            api_key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: "{{ config['nothing'] }}"
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          definitions: {}
          $id: https://example.com/object1666853522.json
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            page:
              type: integer
              $id: "#root/page"
              default: 0
              title: Page
            results:
              type: array
              $id: "#root/results"
              default: []
              items:
                type: object
                $id: "#root/results/items"
                properties:
                  adult:
                    type: boolean
                    $id: "#root/results/items/adult"
                    default: true
                    title: Adult
                  backdrop_path:
                    type: string
                    $id: "#root/results/items/backdrop_path"
                    pattern: ^.*$
                    title: Backdrop_path
                  genre_ids:
                    type: array
                    $id: "#root/results/items/genre_ids"
                    default: []
                    items:
                      type: integer
                      $id: "#root/results/items/genre_ids/items"
                      default: 0
                      title: Items
                    title: Genre_ids
                  id:
                    type: integer
                    $id: "#root/results/items/id"
                    default: 0
                    title: Id
                  original_language:
                    type: string
                    $id: "#root/results/items/original_language"
                    pattern: ^.*$
                    title: Original_language
                  original_title:
                    type: string
                    $id: "#root/results/items/original_title"
                    pattern: ^.*$
                    title: Original_title
                  overview:
                    type: string
                    $id: "#root/results/items/overview"
                    pattern: ^.*$
                    title: Overview
                  popularity:
                    type: number
                    $id: "#root/results/items/popularity"
                    default: 0
                    title: Popularity
                  poster_path:
                    type: string
                    $id: "#root/results/items/poster_path"
                    pattern: ^.*$
                    title: Poster_path
                  release_date:
                    type: string
                    $id: "#root/results/items/release_date"
                    pattern: ^.*$
                    title: Release_date
                  title:
                    type: string
                    $id: "#root/results/items/title"
                    pattern: ^.*$
                    title: Title
                  video:
                    type: boolean
                    $id: "#root/results/items/video"
                    default: true
                    title: Video
                  vote_average:
                    type: number
                    $id: "#root/results/items/vote_average"
                    default: 0
                    title: Vote_average
                  vote_count:
                    type: integer
                    $id: "#root/results/items/vote_count"
                    default: 0
                    title: Vote_count
                title: Items
              title: Results
            total_pages:
              type: integer
              $id: "#root/total_pages"
              default: 0
              title: Total_pages
            total_results:
              type: integer
              $id: "#root/total_results"
              default: 0
              title: Total_results
          title: Root
          additionalProperties: true
    movies_recommendations:
      type: DeclarativeStream
      name: movies_recommendations
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.themoviedb.org/3/
          path: /movie/{{ config['movie_id'] }}/recommendations
          http_method: GET
          request_parameters:
            api_key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          definitions: {}
          $id: https://example.com/object1666852992.json
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            page:
              type: integer
              $id: "#root/page"
              default: 0
              title: Page
            results:
              type: array
              $id: "#root/results"
              default: []
              items:
                type: object
                $id: "#root/results/items"
                properties:
                  adult:
                    type: boolean
                    $id: "#root/results/items/adult"
                    default: true
                    title: Adult
                  backdrop_path:
                    type:
                      - string
                      - "null"
                    $id: "#root/results/items/backdrop_path"
                    default:
                    title: Backdrop_path
                  genre_ids:
                    type: array
                    $id: "#root/results/items/genre_ids"
                    default: []
                    items:
                      type: integer
                      $id: "#root/results/items/genre_ids/items"
                      default: 0
                      title: Items
                    title: Genre_ids
                  id:
                    type: integer
                    $id: "#root/results/items/id"
                    default: 0
                    title: Id
                  original_language:
                    type: string
                    $id: "#root/results/items/original_language"
                    pattern: ^.*$
                    title: Original_language
                  original_title:
                    type: string
                    $id: "#root/results/items/original_title"
                    pattern: ^.*$
                    title: Original_title
                  overview:
                    type: string
                    $id: "#root/results/items/overview"
                    pattern: ^.*$
                    title: Overview
                  popularity:
                    type: number
                    $id: "#root/results/items/popularity"
                    default: 0
                    title: Popularity
                  poster_path:
                    type:
                      - string
                      - "null"
                    $id: "#root/results/items/poster_path"
                    default:
                    title: Poster_path
                  release_date:
                    type: string
                    $id: "#root/results/items/release_date"
                    pattern: ^.*$
                    title: Release_date
                  title:
                    type: string
                    $id: "#root/results/items/title"
                    pattern: ^.*$
                    title: Title
                  video:
                    type: boolean
                    $id: "#root/results/items/video"
                    default: true
                    title: Video
                  vote_average:
                    type:
                      - number
                      - integer
                      - string
                    $id: "#root/results/items/vote_average"
                    default: 0
                    title: Vote_average
                  vote_count:
                    type: integer
                    $id: "#root/results/items/vote_count"
                    default: 0
                    title: Vote_count
                title: Items
              title: Results
            total_pages:
              type: integer
              $id: "#root/total_pages"
              default: 0
              title: Total_pages
            total_results:
              type: integer
              $id: "#root/total_results"
              default: 0
              title: Total_results
          title: Root
          additionalProperties: true
    movies_releases_dates:
      type: DeclarativeStream
      name: movies_releases_dates
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.themoviedb.org/3/
          path: /movie/{{ config['movie_id'] }}/release_dates
          http_method: GET
          request_parameters:
            api_key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          definitions: {}
          $id: https://example.com/object1666853037.json
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            id:
              type: integer
              $id: "#root/id"
              default: 0
              title: Id
            results:
              type: array
              $id: "#root/results"
              default: []
              items:
                type: object
                $id: "#root/results/items"
                properties:
                  iso_3166_1:
                    type: string
                    $id: "#root/results/items/iso_3166_1"
                    pattern: ^.*$
                    title: Iso_3166_1
                  release_dates:
                    type: array
                    $id: "#root/results/items/release_dates"
                    default: []
                    items:
                      type: object
                      $id: "#root/results/items/release_dates/items"
                      properties:
                        type:
                          type: integer
                          $id: "#root/results/items/release_dates/items/type"
                          default: 0
                          title: Type
                        certification:
                          type: string
                          $id: "#root/results/items/release_dates/items/certification"
                          pattern: ^.*$
                          title: Certification
                        iso_639_1:
                          type: string
                          $id: "#root/results/items/release_dates/items/iso_639_1"
                          pattern: ^.*$
                          title: Iso_639_1
                        release_date:
                          type: string
                          $id: "#root/results/items/release_dates/items/release_date"
                          pattern: ^.*$
                          title: Release_date
                      title: Items
                    title: Release_dates
                title: Items
              title: Results
          title: Root
          additionalProperties: true
    movies_reviews:
      type: DeclarativeStream
      name: movies_reviews
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.themoviedb.org/3/
[...]
