version: 6.1.0

type: DeclarativeSource

description: >-
  Flowlu connector enables seamless data integration between Flowlu, a project
  management and CRM platform, and various destinations supported by Airbyte.
  With this connector, users can automate the flow of project, finance, and CRM
  data into their preferred analytics or storage solutions for enhanced data
  analysis and reporting. This integration streamlines data syncing, reducing
  manual data transfer efforts and enhancing productivity.

check:
  type: CheckStream
  stream_names:
    - tasks

definitions:
  streams:
    tasks:
      type: DeclarativeStream
      name: tasks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /task/tasks/list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - response
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tasks"
    fields:
      type: DeclarativeStream
      name: fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /customfields/fields/list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - response
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/fields"
    workflows:
      type: DeclarativeStream
      name: workflows
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /agile/workflows/list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - response
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/workflows"
    projects_users:
      type: DeclarativeStream
      name: projects_users
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /st/project_observers/list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - response
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects_users"
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /st/projects/list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - response
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    account:
      type: DeclarativeStream
      name: account
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /crm/account/list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - response
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/account"
    epics:
      type: DeclarativeStream
      name: epics
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /agile/epics/list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - response
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/epics"
    loss_reason:
      type: DeclarativeStream
      name: loss_reason
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /crm/loss_reason/list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - response
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/loss_reason"
    pipeline:
      type: DeclarativeStream
      name: pipeline
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /crm/pipeline/list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - response
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/pipeline"
    lead:
      type: DeclarativeStream
      name: lead
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /crm/lead/list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - response
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lead"
    emails:
      type: DeclarativeStream
      name: emails
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /crm/emails/list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - response
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/emails"
    invoice:
      type: DeclarativeStream
      name: invoice
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /fin/invoice/list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - response
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/invoice"
    customer_payment:
      type: DeclarativeStream
      name: customer_payment
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /fin/customer_payment/list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - response
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customer_payment"
    bank_account:
      type: DeclarativeStream
      name: bank_account
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /fin/bank_account/list
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - response
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/bank_account"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['company'] }}.flowlu.com/api/v1/module
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: api_key
        inject_into: request_parameter

streams:
  - $ref: "#/definitions/streams/tasks"
  - $ref: "#/definitions/streams/fields"
  - $ref: "#/definitions/streams/workflows"
  - $ref: "#/definitions/streams/projects_users"
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/account"
  - $ref: "#/definitions/streams/epics"
  - $ref: "#/definitions/streams/loss_reason"
  - $ref: "#/definitions/streams/pipeline"
  - $ref: "#/definitions/streams/lead"
  - $ref: "#/definitions/streams/emails"
  - $ref: "#/definitions/streams/invoice"
  - $ref: "#/definitions/streams/customer_payment"
  - $ref: "#/definitions/streams/bank_account"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - company
    properties:
      api_key:
        type: string
        description: The API key to use for authentication
        name: api_key
        title: API Key
        airbyte_secret: true
        order: 0
      company:
        type: string
        name: company
        title: company
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    tasks: true
    fields: true
    workflows: true
    projects_users: true
    projects: true
    account: true
    epics: true
    loss_reason: true
    pipeline: true
    lead: true
    emails: true
    invoice: true
    customer_payment: true
    bank_account: true
  testedStreams:
    tasks:
      streamHash: 609b4ee3603c0c0d954de901665a8921793acbe8
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    fields:
      streamHash: be5c65304c41ea32147d8cab644c937adf91e2e6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    workflows:
      streamHash: bedbd1a31ff5d786e0ebae1436b11392c06c6279
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    projects_users:
      streamHash: b6ee813683b2ecbc1e4e9e224a035fa72279991f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    projects:
      streamHash: 3878231b61071b5bd380ecc1c6c930e941510a61
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    account:
      streamHash: a39b3f2120806fde84e5fa48d95eae92debfd828
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    epics:
      streamHash: 62a749ff4d39a7f6cad54847c9f9403f7b782585
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    loss_reason:
      streamHash: c9c7cfce64bb80b796976f36bda848a575718395
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    pipeline:
      streamHash: 3a013898e058f88a68a7b162bf20373bf976a367
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    lead:
      streamHash: c4283ae9370e1dc710a58652c1d2c6d017d01617
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    emails:
      streamHash: bb5af6ab4bf160e15550938c10ad664dab784298
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    invoice:
      streamHash: 430d5d5777e324d6b9ebd532108a7230f6b7cb18
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    customer_payment:
      streamHash: 2871f277fd0d052756f9d504076697373efca4c0
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    bank_account:
      streamHash: 5b77dbd5066ca7e197de8b22003c7b4022dc8e23
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://www.flowlu.com/api/#section/Common-structure

schemas:
  tasks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - number
          - "null"
      description:
        type:
          - string
          - "null"
      all_day:
        type:
          - number
          - "null"
      archive_status:
        type:
          - number
          - "null"
      closed_by:
        type:
          - number
          - "null"
      closed_date:
        type:
          - string
          - "null"
      cost:
        type:
          - number
          - "null"
      cost_type:
        type:
          - string
          - "null"
      created_date:
        type:
          - string
          - "null"
      crm_account_id:
        type:
          - number
          - "null"
      deadline:
        type:
          - string
          - "null"
      deadline_allowchange:
        type:
          - number
          - "null"
      event_access_type:
        type:
          - number
          - "null"
      event_busy_status:
        type:
          - number
          - "null"
      event_calendar_id:
        type:
          - number
          - "null"
      event_color:
        type:
          - string
          - "null"
      event_etag:
        type:
          - string
          - "null"
      event_location:
        type:
          - string
          - "null"
      event_sync_type:
        type:
          - number
          - "null"
      event_type:
        type:
          - number
          - "null"
      first_closed_date:
        type:
          - string
          - "null"
      id:
        type: number
      is_archive:
        type:
          - string
          - "null"
      is_hidden:
        type:
          - number
          - "null"
      is_repeat:
        type:
          - number
          - "null"
      model:
        type:
          - string
          - "null"
      model_id:
        type:
          - number
          - "null"
      module:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      ordering:
        type:
          - number
          - "null"
      owner_id:
        type:
          - number
          - "null"
      parent_id:
        type:
          - number
          - "null"
      plan_end_date:
        type:
          - string
          - "null"
      plan_start_date:
        type:
          - string
          - "null"
      prev_task_id:
        type:
          - number
          - "null"
      price:
        type:
          - number
          - "null"
      price_type:
        type:
          - string
          - "null"
      priority:
        type:
          - number
          - "null"
      project_checkitem_id:
        type:
          - number
          - "null"
      project_stage_id:
        type:
          - number
          - "null"
      public_template:
        type:
          - number
          - "null"
      rating:
        type:
          - number
          - "null"
      ref:
        type:
          - string
          - "null"
      ref_id:
        type:
          - string
          - "null"
      report:
        type:
          - string
          - "null"
      report_complete:
        type:
          - string
          - "null"
      responsible_id:
        type:
          - number
          - "null"
      return_count:
        type:
          - number
          - "null"
      start_date:
        type:
          - string
          - "null"
      status_firstviewdate:
        type:
          - string
          - "null"
      status_updated_by:
        type:
          - number
          - "null"
      status_updated_date:
        type:
          - string
          - "null"
      task_checkbyowner:
        type:
          - number
          - "null"
      template_id:
        type:
          - number
          - "null"
      time_estimate:
        type:
          - number
          - "null"
      time_spent:
        type:
          - number
          - "null"
      updated_by:
        type:
          - number
          - "null"
      updated_date:
        type:
          - string
          - "null"
      uuid:
        type:
          - string
          - "null"
      workflow_id:
        type:
          - number
          - "null"
      workflow_stage_id:
        type:
          - number
          - "null"
    required:
      - id
  fields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      active:
        type:
          - number
          - "null"
      alias:
        type:
          - string
          - "null"
      api_use_alias:
        type:
          - number
          - "null"
      cache_parent_id:
        type:
          - number
          - "null"
      cache_value:
        type:
          - string
          - "null"
      fieldset_id:
        type:
          - number
          - "null"
      formula:
        type:
          - string
          - "null"
      group_id:
        type:
          - number
          - "null"
      group_label_field_id:
        type:
          - number
          - "null"
      hidden_detail:
        type:
          - number
          - "null"
      hint:
        type:
          - string
          - "null"
      id:
        type: number
      model:
        type:
          - string
          - "null"
      module:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      ordering:
        type:
          - number
          - "null"
      parent_id:
        type:
          - number
          - "null"
      required:
        type:
          - number
          - "null"
      scope_id:
        type:
          - number
          - "null"
      show_in_mobile:
        type:
          - number
          - "null"
      show_on_detail_page:
        type:
          - number
          - "null"
      webhook_use_alias:
        type:
          - number
          - "null"
    required:
      - id
  workflows:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      created_date:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      updated_date:
        type:
          - string
          - "null"
    required:
      - id
  projects_users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - number
          - "null"
      project_id:
        type:
          - number
          - "null"
      user_id:
        type:
          - number
          - "null"
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      archive_date:
        type:
          - string
          - "null"
      archive_description:
        type:
          - string
          - "null"
      bill_taxes:
        type:
          - number
          - "null"
      billing_type:
        type:
          - number
          - "null"
      briefcase_id:
        type:
          - number
          - "null"
      created_by:
        type:
          - number
          - "null"
      created_date:
        type:
          - string
          - "null"
      crm_lead_id:
        type:
          - number
          - "null"
      customer_crm_contact_id:
        type:
          - number
          - "null"
      customer_id:
        type:
          - number
          - "null"
      default_bill_time_type:
        type:
          - string
          - "null"
      default_billing_rate:
        type:
          - number
          - "null"
      default_employee_cost_rate:
        type:
          - number
          - "null"
      default_invoice_item_format:
        type:
          - string
          - "null"
      default_invoice_split_type_in_project:
        type:
          - number
          - "null"
      default_only_completed_task:
        type:
          - string
          - "null"
      default_time_cost_type:
        type:
          - string
          - "null"
      enddate:
        type:
          - string
          - "null"
      estimated_expenses:
        type:
          - number
          - "null"
      estimated_revenue:
        type:
          - number
          - "null"
      extra_fields:
        type:
          - string
          - "null"
      id:
        type: number
      is_archive:
        type:
          - number
          - "null"
      manager_id:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      ordering:
        type:
          - number
          - "null"
      priority:
        type:
          - number
          - "null"
      project_type_id:
        type:
          - number
          - "null"
      ref:
        type:
          - string
          - "null"
      ref_id:
        type:
          - string
          - "null"
      stage_id:
        type:
          - number
          - "null"
      startdate:
        type:
          - string
          - "null"
      tasks_workflow_id:
        type:
          - number
          - "null"
      updated_by:
        type:
          - number
          - "null"
      updated_date:
        type:
          - string
          - "null"
      use_default_invoice_split_type:
        type:
          - number
          - "null"
      uuid:
        type:
          - string
          - "null"
      workspace_id:
        type:
          - number
          - "null"
    required:
      - id
  account:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - number
          - "null"
      description:
        type:
          - string
          - "null"
      VAT:
        type:
          - string
          - "null"
      VAT1:
        type:
          - string
          - "null"
      VAT2:
        type:
          - string
          - "null"
      account_category_id:
        type:
          - number
          - "null"
      active:
        type:
          - number
          - "null"
      address:
        type:
          - string
          - "null"
      address_legal:
        type:
          - string
          - "null"
      bank_details:
        type:
          - string
          - "null"
      billing_address_line_1:
        type:
          - string
          - "null"
      billing_address_line_2:
        type:
          - string
          - "null"
      billing_address_line_3:
        type:
          - string
          - "null"
      billing_city:
        type:
          - string
          - "null"
      billing_country:
        type:
          - string
          - "null"
      billing_state:
        type:
          - string
          - "null"
      billing_zip:
        type:
          - string
          - "null"
      created_date:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      email_personal:
        type:
          - string
          - "null"
      extra_fields:
        type:
          - string
          - "null"
      first_name:
        type:
          - string
          - "null"
      guid_1c:
        type:
          - string
          - "null"
      honorific_title_id:
        type:
          - number
          - "null"
      id:
        type: number
      industry_id:
        type:
          - number
          - "null"
      last_activity_id:
        type:
          - number
          - "null"
      last_activity_model:
        type:
          - string
          - "null"
      last_activity_time:
        type:
          - string
          - "null"
      last_name:
        type:
          - string
          - "null"
      link_facebook:
        type:
          - string
          - "null"
      link_google:
        type:
          - string
          - "null"
      link_instagram:
        type:
          - string
          - "null"
      link_linkedin:
        type:
          - string
          - "null"
      link_vk:
        type:
          - string
          - "null"
      merged_to:
        type:
          - number
          - "null"
      middle_name:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      name_legal:
        type:
          - string
          - "null"
      name_legal_full:
        type:
          - string
          - "null"
      organization_employee_count:
        type:
          - number
          - "null"
      organization_expenses:
        type:
          - number
          - "null"
      organization_registration_date:
        type:
          - string
          - "null"
      organization_revenue:
        type:
          - number
          - "null"
      owner_id:
        type:
          - number
          - "null"
      phone:
        type:
          - string
          - "null"
      phone2:
        type:
          - string
          - "null"
      phone3:
        type:
          - string
          - "null"
      ref:
        type:
          - string
          - "null"
      ref_id:
        type:
          - number
          - "null"
      shipping_address_line_1:
        type:
          - string
          - "null"
      shipping_address_line_2:
        type:
          - string
          - "null"
      shipping_address_line_3:
        type:
          - string
          - "null"
      shipping_city:
        type:
          - string
          - "null"
      shipping_country:
        type:
          - string
          - "null"
      shipping_state:
        type:
          - string
          - "null"
      shipping_zip:
        type:
          - string
          - "null"
      skype:
        type:
          - string
          - "null"
      telegram:
        type:
          - string
          - "null"
      timezone:
        type:
          - string
          - "null"
      updated_date:
        type:
          - string
          - "null"
      web:
        type:
          - string
          - "null"
    required:
      - id
  epics:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      created_by:
        type:
          - number
          - "null"
      created_date:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      id:
        type: number
      is_completed:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      ordering:
        type:
          - number
          - "null"
      project_id:
        type:
          - number
          - "null"
      start_date:
        type:
          - string
          - "null"
      updated_by:
        type:
          - number
          - "null"
      updated_date:
        type:
          - string
          - "null"
    required:
      - id
  loss_reason:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - number
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      ordering:
        type:
          - number
          - "null"
    required:
      - id
  pipeline:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      id:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      ordering:
        type:
          - number
          - "null"
      type_access:
        type:
          - string
          - "null"
  lead:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      active:
        type:
          - number
          - "null"
      adjustment:
        type:
          - number
          - "null"
      adjustment_description:
        type:
          - string
          - "null"
      assignee_id:
        type:
          - number
          - "null"
      auto_calc:
        type:
          - string
          - "null"
      budget:
        type:
          - number
          - "null"
      cf_1:
        type:
          - string
          - "null"
      cf_2:
        type:
          - string
          - "null"
      cf_2_value:
        type:
          - string
          - "null"
      closing_comment:
        type:
          - string
          - "null"
      closing_date:
        type:
          - string
          - "null"
      closing_status_id:
        type:
          - number
          - "null"
      contact_company:
        type:
          - string
          - "null"
      contact_email:
        type:
          - string
          - "null"
      contact_id:
        type:
          - number
          - "null"
      contact_mobile:
        type:
          - string
          - "null"
      contact_name:
        type:
          - string
          - "null"
      contact_phone:
        type:
          - string
          - "null"
      contact_position:
        type:
          - string
          - "null"
      contact_web:
        type:
          - string
          - "null"
      created_by:
        type:
          - number
          - "null"
      created_date:
        type:
          - string
          - "null"
      customer_id:
        type:
          - number
          - "null"
      deadline:
        type:
          - string
          - "null"
      id:
        type: number
      last_activity_id:
        type:
          - number
          - "null"
      last_activity_model:
        type:
          - string
          - "null"
      last_activity_time:
        type:
          - string
          - "null"
      merged_to_id:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      ordering:
        type:
          - number
          - "null"
      pipeline_id:
        type:
          - number
          - "null"
      pipeline_stage_id:
        type:
          - number
          - "null"
      pricelist_id:
        type:
          - number
          - "null"
      ref:
        type:
          - string
          - "null"
      ref_id:
        type:
          - number
          - "null"
      shipping_charge:
        type:
          - number
          - "null"
      source_id:
        type:
          - number
          - "null"
      start_date:
        type:
          - string
          - "null"
      updated_date:
        type:
          - string
          - "null"
    required:
      - id
  emails:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - number
          - "null"
      account_id:
        type:
          - number
          - "null"
      comment:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      id:
        type: number
    required:
      - id
  invoice:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - number
          - "null"
      adjustment:
        type:
          - number
          - "null"
      adjustment_description:
        type:
          - string
          - "null"
      assignee_id:
        type:
          - number
          - "null"
      bank:
        type:
          - string
          - "null"
      bank_id:
        type:
          - number
          - "null"
      bcy_paid_total:
        type:
          - number
          - "null"
      bill_from_address:
        type:
          - string
          - "null"
      bill_from_city:
        type:
          - string
          - "null"
      bill_from_country_id:
        type:
          - number
          - "null"
      bill_from_state:
        type:
          - string
          - "null"
      bill_from_zip:
        type:
          - string
          - "null"
      bill_to_address:
        type:
          - string
          - "null"
      bill_to_city:
        type:
          - string
          - "null"
      bill_to_country_id:
        type:
          - number
          - "null"
      bill_to_state:
        type:
          - string
          - "null"
      bill_to_zip:
        type:
          - string
          - "null"
      category_id:
        type:
          - number
          - "null"
      company_phone:
        type:
          - string
          - "null"
      company_phone2:
        type:
          - string
          - "null"
      company_vat:
        type:
          - string
          - "null"
      company_vat2:
        type:
          - string
          - "null"
      contact_person:
        type:
          - string
          - "null"
      contact_person2:
        type:
          - string
          - "null"
      contact_person2_position:
        type:
          - string
          - "null"
      contact_person_position:
        type:
          - string
          - "null"
      created_by:
        type:
          - number
          - "null"
      created_date:
        type:
          - string
          - "null"
      currency_code:
        type:
          - string
          - "null"
      currency_id:
        type:
          - number
          - "null"
      customer_id:
        type:
          - number
          - "null"
      customer_legal_name:
        type:
          - string
          - "null"
      customer_name:
        type:
          - string
          - "null"
      discount:
        type:
          - number
          - "null"
      discount_before_tax:
        type:
          - number
          - "null"
      due_date:
        type:
          - string
          - "null"
      estimate_id:
        type:
          - number
          - "null"
      exported_1c:
        type:
          - number
          - "null"
      group_id:
        type:
          - number
          - "null"
      id:
        type: number
      invoice_date:
        type:
          - string
          - "null"
      invoice_emailed_date:
        type:
          - string
          - "null"
      invoice_footer_text:
        type:
          - string
          - "null"
      invoice_number:
        type:
          - number
          - "null"
      invoice_number_print:
        type:
          - string
          - "null"
      invoice_terms_text:
        type:
          - string
          - "null"
      is_discount_percent:
        type:
          - number
          - "null"
      is_invoice_emailed:
        type:
          - number
          - "null"
      is_reminder_sent:
        type:
          - number
          - "null"
      is_template:
        type:
          - number
          - "null"
      model:
        type:
          - string
          - "null"
      model_id:
        type:
          - number
          - "null"
      module:
        type:
          - string
          - "null"
      note:
        type:
          - string
          - "null"
      org_account_id:
        type:
          - number
          - "null"
      org_id:
        type:
          - number
          - "null"
      org_phone:
        type:
          - string
          - "null"
      org_phone2:
        type:
          - string
          - "null"
      org_vat:
        type:
          - string
          - "null"
      org_vat2:
        type:
          - string
          - "null"
      paid_date:
        type:
          - string
          - "null"
      payment_options:
        type:
          - string
          - "null"
      paymethod_id:
        type:
          - number
          - "null"
      plan_money_id:
        type:
          - number
          - "null"
      plan_money_total:
        type:
          - number
          - "null"
      pm_currency_id:
        type:
          - number
          - "null"
      pricelist_id:
        type:
          - number
          - "null"
      ps_currency_id:
        type:
          - number
          - "null"
      pscy_paid_total:
        type:
          - number
          - "null"
      recurring_invoice_id:
        type:
          - number
          - "null"
      ref:
        type:
          - string
          - "null"
      ref_id:
        type:
          - string
          - "null"
      reference:
        type:
          - string
          - "null"
      reminders_sent_date:
        type:
          - string
          - "null"
      shipping_charge:
        type:
          - number
          - "null"
      show_add_sign_string:
        type:
          - number
          - "null"
      status_id:
        type:
          - number
          - "null"
      sub_total:
        type:
          - number
          - "null"
      tax1:
        type:
          - number
          - "null"
      tax1_included:
        type:
          - number
          - "null"
      tax2:
        type:
          - number
          - "null"
      tax2_included:
        type:
          - number
          - "null"
      tax_total:
        type:
          - number
          - "null"
      template_id:
        type:
          - number
          - "null"
      template_name:
        type:
          - string
          - "null"
      total:
        type:
          - number
          - "null"
      updated_by:
        type:
          - number
          - "null"
      updated_date:
        type:
          - string
          - "null"
      use_multiple_pm:
        type:
          - number
          - "null"
      uuid:
        type:
          - string
          - "null"
    required:
      - id
  customer_payment:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - number
          - "null"
      description:
        type:
          - string
          - "null"
      bank_account_id:
        type:
          - number
          - "null"
      charge:
        type:
          - number
          - "null"
      complete_date:
        type:
          - string
          - "null"
      created_by:
        type:
          - number
          - "null"
      created_date:
        type:
          - string
          - "null"
      crm_company_id:
        type:
          - number
          - "null"
      currency_id:
        type:
          - number
          - "null"
      date:
        type:
          - string
          - "null"
      enddate:
        type:
          - string
          - "null"
      id:
        type: number
      is_complete:
        type:
          - number
          - "null"
      is_manual:
        type:
          - number
          - "null"
      is_owed:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      need_approve:
        type:
          - number
          - "null"
      ordering:
        type:
          - number
          - "null"
      org_id:
        type:
          - number
          - "null"
      owner_id:
        type:
          - number
          - "null"
      project_id:
        type:
          - number
          - "null"
      project_stage_id:
        type:
          - number
          - "null"
      ref:
        type:
          - string
          - "null"
      ref_id:
        type:
          - string
          - "null"
      ref_uuid:
        type:
          - string
          - "null"
      reference:
        type:
          - string
          - "null"
      startdate:
        type:
          - string
          - "null"
      status:
        type:
          - number
          - "null"
      status_pls:
        type:
          - number
          - "null"
      total:
        type:
          - number
          - "null"
      updated_by:
        type:
          - number
          - "null"
      updated_date:
        type:
          - string
          - "null"
      uuid:
        type:
          - string
          - "null"
    required:
      - id
  bank_account:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - number
          - "null"
      account_group_id:
        type:
          - number
          - "null"
      active:
        type:
          - number
          - "null"
      bcy_balance:
        type:
          - number
          - "null"
      closed_at:
        type:
          - string
          - "null"
      currency_exchange_rate:
        type:
          - number
          - "null"
      currency_id:
        type:
          - number
          - "null"
      excluded_balance:
        type:
          - number
          - "null"
      fixed_balance:
        type:
          - number
          - "null"
      fixed_balance_date:
        type:
          - string
          - "null"
      id:
        type: number
      manager_id:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      ordering:
        type:
          - number
          - "null"
      ordering_by_group:
        type:
          - number
          - "null"
      org_id:
        type:
          - number
          - "null"
      pls_bcy_balance:
        type:
          - number
          - "null"
      pls_fixed_balance:
        type:
          - number
          - "null"
      pls_fixed_balance_date:
        type:
          - string
          - "null"
      ref:
        type:
          - string
          - "null"
      ref_id:
        type:
          - string
          - "null"
    required:
      - id
