// These are utility classes that will be used by multiple sub-components
// of the CatalogTree component once we finish migrating to scss,
// not only styles used directly in CatalogTree

%headerCell {
  font-size: 10px;
  line-height: 13px;
}

.checkboxCell {
  @extend %headerCell;

  max-width: 43px;
  text-align: center;
  display: flex;
  flex-direction: row;
}
