@use "../../../scss/colors";

.catalogSection {
  background: colors.$greyColor0;
  padding: 2px;

  &:first-child {
    border-radius: 8px 8px 0 0;
  }

  &:last-child {
    border-radius: 0 0 8px 8px;
  }
}

.catalogSectionRow {
  height: 40px;
  height: 100%;
  white-space: nowrap;
  font-size: 12px;
}

.redBackground {
  background-color: colors.$dangerColor14;
}

.greenBackground {
  background-color: colors.$successColor14;
}

.redBorder {
  border: 1px solid colors.$dangerColor;
}

.purpleBackground {
  background-color: colors.$primaryColor10;
}
