@use "../../../scss/colors";
@forward "./CatalogTree.module.scss";

.greenText {
  color: colors.$successColor;
}

.redText {
  color: colors.$dangerColor;
}

.icon {
  margin-right: 7px;
  margin-top: -1px;
}

.streamRowCheckboxCell {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.streamHeaderContent {
  background: colors.$greyColor0;
  width: 100%;
  padding: 2px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  height: 50px;
}

.catalogSectionRow {
  height: 100%;
  white-space: nowrap;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  margin-top: 18px;
  margin-bottom: 18px;
}

.redBackground {
  background-color: colors.$dangerColor14;
}

.greenBackground {
  background-color: colors.$successColor14;
}

.redBorder {
  border: 1px solid colors.$dangerColor;
}

.purpleBackground {
  background-color: colors.$primaryColor10;
}
