version: 5.14.0

type: DeclarativeSource

description: >-
  The Cal.com connector enables seamless data synchronization between Cal.com’s
  scheduling platform and various destinations. It helps extract events,
  attendees, and booking details from Cal.com, making it easy to analyze
  scheduling data or integrate it into downstream systems like data warehouses
  or CRMs. This connector streamlines automated reporting and insights for time
  management and booking analytics

check:
  type: CheckStream
  stream_names:
    - event_types

definitions:
  streams:
    event_types:
      type: DeclarativeStream
      name: event_types
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/event-types
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - eventTypeGroups
              - "*"
              - eventTypes
              - "*"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/event_types"
    my_profile:
      type: DeclarativeStream
      name: my_profile
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/me
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/my_profile"
    schedules:
      type: DeclarativeStream
      name: schedules
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/schedules
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/schedules"
    slots:
      type: DeclarativeStream
      name: slots
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/slots/available
          http_method: GET
          request_parameters:
            endTime: "{{ config['end_time'] }}"
            duration: "{{ config['duration'] }}"
            startTime: "{{ config['start_time'] }}"
            eventTypeID: "{{ config['event_type_id'] }}"
            usernameList: "{{ config['user_name_list'] }}"
            eventTypeSlug: "{{ config['event_type_slug'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - slots
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/slots"
    calendars:
      type: DeclarativeStream
      name: calendars
      primary_key:
        - externalId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/calendars
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - connectedCalendars
              - "*"
              - calendars
              - "*"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/calendars"
    bookings:
      type: DeclarativeStream
      name: bookings
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/bookings
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/bookings"
  base_requester:
    type: HttpRequester
    url_base: https://api.cal.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/event_types"
  - $ref: "#/definitions/streams/my_profile"
  - $ref: "#/definitions/streams/schedules"
  - $ref: "#/definitions/streams/slots"
  - $ref: "#/definitions/streams/calendars"
  - $ref: "#/definitions/streams/bookings"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - orgId
      - api_key
      - start_time
      - end_time
      - event_type_id
      - event_type_slug
      - user_name_list
      - duration
    properties:
      orgId:
        type: string
        name: orgId
        order: 0
        title: orgId
      api_key:
        type: string
        description: API key to use. Find it at https://cal.com/account
        name: api_key
        order: 1
        title: API Key
        airbyte_secret: true
      start_time:
        type: string
        order: 2
        title: Start Time
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
      end_time:
        type: string
        order: 3
        title: End Time
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
      event_type_id:
        type: number
        order: 4
        title: Event Type Id
      event_type_slug:
        type: string
        order: 5
        title: Event Type Slug
      user_name_list:
        type: array
        order: 6
        title: User Name List
      duration:
        type: number
        order: 7
        title: Duration
    additionalProperties: true

metadata:
  autoImportSchema:
    event_types: true
    my_profile: true
    schedules: true
    slots: true
    calendars: true
    bookings: true
  testedStreams:
    event_types:
      hasRecords: true
      streamHash: ab8e2e292aee4b5489946779e5c84e31682ab885
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    my_profile:
      hasRecords: true
      streamHash: f36b2ec021e76f2cce1d826a00fdb1cacb9ab4ea
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    schedules:
      hasRecords: true
      streamHash: 773d8a578467f1e5e89b43aac114b89c14527663
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    slots:
      hasRecords: true
      streamHash: ab2179c1232262e30eddc469563e47dad59e9cf2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    calendars:
      hasRecords: true
      streamHash: 9cb1b9161f0deaf9644c05460bf8988a06f2d1ea
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    bookings:
      streamHash: 3be50a41e1700b20f5b683583b736f1220a375ad
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://cal.com/docs/api-reference/v2/introduction

schemas:
  event_types:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      afterEventBuffer:
        type:
          - number
          - "null"
      assignAllTeamMembers:
        type:
          - boolean
          - "null"
      beforeEventBuffer:
        type:
          - number
          - "null"
      children:
        type:
          - array
          - "null"
      currency:
        type:
          - string
          - "null"
      disableGuests:
        type:
          - boolean
          - "null"
      hashedLink:
        type:
          - array
          - "null"
      hidden:
        type:
          - boolean
          - "null"
      hideCalendarNotes:
        type:
          - boolean
          - "null"
      hosts:
        type:
          - array
          - "null"
      id:
        type: number
      isInstantEvent:
        type:
          - boolean
          - "null"
      length:
        type:
          - number
          - "null"
      locations:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
      lockTimeZoneToggleOnBookingPage:
        type:
          - boolean
          - "null"
      minimumBookingNotice:
        type:
          - number
          - "null"
      offsetStart:
        type:
          - number
          - "null"
      onlyShowFirstAvailableSlot:
        type:
          - boolean
          - "null"
      periodType:
        type:
          - string
          - "null"
      position:
        type:
          - number
          - "null"
      price:
        type:
          - number
          - "null"
      requiresBookerEmailVerification:
        type:
          - boolean
          - "null"
      requiresConfirmation:
        type:
          - boolean
          - "null"
      seatsShowAttendees:
        type:
          - boolean
          - "null"
      seatsShowAvailabilityCount:
        type:
          - boolean
          - "null"
      slug:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      useEventTypeDestinationCalendarEmail:
        type:
          - boolean
          - "null"
      userId:
        type:
          - number
          - "null"
      userIds:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
    required:
      - id
  my_profile:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      defaultScheduleId:
        type:
          - number
          - "null"
      email:
        type:
          - string
          - "null"
      id:
        type: number
      timeFormat:
        type:
          - number
          - "null"
      timeZone:
        type:
          - string
          - "null"
      username:
        type:
          - string
          - "null"
      weekStart:
        type:
          - string
          - "null"
    required:
      - id
  schedules:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      availability:
        type:
          - array
          - "null"
        items:
          type:
            - array
            - "null"
          items:
            type:
              - object
              - "null"
            properties:
              end:
                type:
                  - string
                  - "null"
              start:
                type:
                  - string
                  - "null"
      dateOverrides:
        type:
          - array
          - "null"
      id:
        type: number
      isDefault:
        type:
          - boolean
          - "null"
      isLastSchedule:
        type:
          - boolean
          - "null"
      isManaged:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      readOnly:
        type:
          - boolean
          - "null"
      schedule:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            days:
              type:
                - array
                - "null"
              items:
                type:
                  - number
                  - "null"
            endTime:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            scheduleId:
              type:
                - number
                - "null"
            startTime:
              type:
                - string
                - "null"
      timeZone:
        type:
          - string
          - "null"
      workingHours:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            days:
              type:
                - array
                - "null"
              items:
                type:
                  - number
                  - "null"
            endTime:
              type:
                - number
                - "null"
            startTime:
              type:
                - number
                - "null"
    required:
      - id
  slots:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      "2024-10-24":
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            time:
              type:
                - string
                - "null"
      "2024-10-25":
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            time:
              type:
                - string
                - "null"
      "2024-10-28":
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            time:
              type:
                - string
                - "null"
      "2024-10-29":
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            time:
              type:
                - string
                - "null"
      "2024-10-30":
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            time:
              type:
                - string
                - "null"
  calendars:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      credentialId:
        type:
          - number
          - "null"
      email:
        type:
          - string
          - "null"
      externalId:
        type: string
      integration:
        type:
          - string
          - "null"
      isSelected:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      primary:
        type:
          - boolean
          - "null"
      readOnly:
        type:
          - boolean
          - "null"
    required:
      - externalId
  bookings:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      absentHost:
        type:
          - boolean
          - "null"
      attendees:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            absent:
              type:
                - boolean
                - "null"
            language:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            timeZone:
              type:
                - string
                - "null"
      bookingFieldsResponses:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          guests:
            type:
              - array
              - "null"
          location:
            type:
              - object
              - "null"
            properties:
              optionValue:
                type:
                  - string
                  - "null"
              value:
                type:
                  - string
                  - "null"
          name:
            type:
              - string
              - "null"
          notes:
            type:
              - string
              - "null"
          rescheduleReason:
            type:
              - string
              - "null"
      cancellationReason:
        type:
          - string
          - "null"
      duration:
        type:
          - number
          - "null"
      end:
        type:
          - string
          - "null"
      eventType:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          slug:
            type:
              - string
              - "null"
      eventTypeId:
        type:
          - number
          - "null"
      guests:
        type:
          - array
          - "null"
      hosts:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            timeZone:
              type:
                - string
                - "null"
      id:
        type: number
      location:
        type:
          - string
          - "null"
      meetingUrl:
        type:
          - string
          - "null"
      rescheduledFromUid:
        type:
          - string
          - "null"
      start:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      uid:
        type:
          - string
          - "null"
    required:
      - id
