@use "scss/variables";

.content {
  max-width: calc(100% - 2 * (#{variables.$spacing-xl}));
  margin: 0 variables.$spacing-xl;
  padding-bottom: variables.$spacing-md;

  > form {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-md;
  }
}
