version: 0.61.2
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - surveys
definitions:
  survey_ids:
    type: DeclarativeStream
    name: survey_ids
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.surveymonkey.com/v3/
        path: surveys
        http_method: GET
        request_parameters:
          sort_by: date_modified
          sort_order: ASC
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['credentials']['access_token'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: X-Ratelimit-App-Global-Minute-Reset
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 1000
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
streams:
  - type: DeclarativeStream
    name: survey_pages
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.surveymonkey.com/v3/
        path: surveys/{{ stream_partition.survey_id }}/details
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['credentials']['access_token'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: X-Ratelimit-App-Global-Minute-Reset
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - pages
      partition_router:
        - type: CustomPartitionRouter
          class_name: source_surveymonkey.components.SurveyIdPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: survey_id
              stream:
                $ref: "#/definitions/survey_ids"
    transformations:
      - type: RemoveFields
        field_pointers:
          - - questions
  - type: DeclarativeStream
    name: survey_questions
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.surveymonkey.com/v3/
        path: surveys/{{ stream_partition.survey_id }}/details
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['credentials']['access_token'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: X-Ratelimit-App-Global-Minute-Reset
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - pages
            - "*"
            - questions
            - "*"
      partition_router:
        - type: CustomPartitionRouter
          class_name: source_surveymonkey.components.SurveyIdPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: survey_id
              stream:
                $ref: "#/definitions/survey_ids"
  - type: DeclarativeStream
    name: survey_responses
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.surveymonkey.com/v3/
        path: surveys/{{ stream_partition.survey_id }}/responses/bulk
        http_method: GET
        request_parameters:
          sort_order: ASC
          sort_by: date_modified
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['credentials']['access_token'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: X-Ratelimit-App-Global-Minute-Reset
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router:
        type: CustomPartitionRouter
        class_name: source_surveymonkey.components.SurveyIdPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: id
            partition_field: survey_id
            stream:
              $ref: "#/definitions/survey_ids"
    state_migrations:
      - type: LegacyToPerPartitionStateMigration
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date_modified
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
      datetime_format: "%Y-%m-%dT%H:%M:%S"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: start_modified_at
        inject_into: request_parameter
  - type: DeclarativeStream
    name: survey_collectors
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.surveymonkey.com/v3/
        path: surveys/{{ stream_partition.survey_id }}/collectors
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['credentials']['access_token'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: X-Ratelimit-App-Global-Minute-Reset
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router:
        - type: CustomPartitionRouter
          class_name: source_surveymonkey.components.SurveyIdPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: survey_id
              stream:
                $ref: "#/definitions/survey_ids"
    transformations:
      - type: AddFields
        fields:
          - path:
              - survey_id
            value: "{{ stream_slice.survey_id }}"
            value_type: string
  - type: DeclarativeStream
    name: collectors
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.surveymonkey.com/v3/
        path: collectors//{{ stream_partition.collector_id }}
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['credentials']['access_token'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: X-Ratelimit-App-Global-Minute-Reset
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: collector_id
              stream:
                type: DeclarativeStream
                name: survey_collectors
                primary_key:
                  - id
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.surveymonkey.com/v3/
                    path: surveys/{{ stream_partition.survey_id }}/collectors
                    http_method: GET
                    request_parameters: {}
                    request_headers: {}
                    authenticator:
                      type: BearerAuthenticator
                      api_token: "{{ config['credentials']['access_token'] }}"
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          backoff_strategies:
                            - type: WaitTimeFromHeader
                              header: X-Ratelimit-App-Global-Minute-Reset
                    request_body_json: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - data
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestPath
                    pagination_strategy:
                      type: CursorPagination
                      cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
                      stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
                  partition_router:
                    - type: CustomPartitionRouter
                      class_name: source_surveymonkey.components.SurveyIdPartitionRouter
                      parent_stream_configs:
                        - type: ParentStreamConfig
                          parent_key: id
                          partition_field: survey_id
                          stream:
                            $ref: "#/definitions/survey_ids"
                transformations:
                  - type: AddFields
                    fields:
                      - path:
                          - survey_id
                        value: "{{ stream_slice.survey_id }}"
                        value_type: string
spec:
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - start_date
      - credentials
    properties:
      origin:
        type: string
        order: 1
        enum:
          - "USA"
          - "Europe"
          - "Canada"
        default: "USA"
        title: "The origin datacenter of the SurveyMonkey account"
        description: "Depending on the originating datacenter of the SurveyMonkey account, the API access URL may be different."
      credentials:
        title: "SurveyMonkey authorization method"
        description: "The authorization method to use to retrieve data from SurveyMonkey."
        type: object
        required:
          - auth_method
          - access_token
        order: 2
        properties:
          auth_method:
            type: string
            const: "oauth2.0"
            order: 0
          client_id:
            type: string
            title: "Client ID"
            description: "The client ID of the SurveyMonkey developer app."
            airbyte_secret: true
            order: 1
          client_secret:
            type: string
            title: "Client secret"
            description: "The client secret of the SurveyMonkey developer app."
            airbyte_secret: true
            order: 2
          access_token:
            title: "Access token"
            order: 3
            type: string
            airbyte_secret: true
            description: 'The access token for making authenticated requests. See the <a href="https://docs.airbyte.io/integrations/sources/surveymonkey#surveymonkey-access-token">docs</a> for information on how to generate this key.'
      start_date:
        title: "Start date"
        order: 3
        type: string
        description: "The UTC date and time in the format: 2017-01-25T00:00:00Z. Airbyte doesn't replicate data before this date."
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z?$"
        examples:
          - "2021-01-01T00:00:00Z"
        format: "date-time"
      survey_ids:
        type: array
        order: 1000
        items:
          type: string
          pattern: "^[0-9]{8,9}$"
        title: "SurveyMonkey survey IDs"
        description: "The IDs of the surveys from which to replicate data. If empty, Airbyte replicates data from all boards to which you have access."
    additionalProperties: true
  advanced_auth:
    auth_flow_type: "oauth2.0"
    predicate_key:
      - credentials
      - auth_method
    predicate_value: "oauth2.0"
    oauth_config_specification:
      complete_oauth_output_specification:
        type: object
        additionalProperties: false
        properties:
          access_token:
            type: string
            path_in_connector_config:
              - credentials
              - access_token
      complete_oauth_server_input_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - credentials
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - credentials
              - client_secret
      oauth_user_input_from_connector_config_specification:
        type: object
        additionalProperties: false
        properties:
          origin:
            type: string
            path_in_connector_config:
              - origin
  type: Spec
