version: 0.61.2
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - survey_ids
streams:
  - type: DeclarativeStream
    name: survey_ids
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          href:
            type: string
          id:
            type: string
          nickname:
            type: string
          title:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.surveymonkey.com/v3/
        path: surveys
        http_method: GET
        request_parameters:
          sort_by: date_modified
          sort_order: ASC
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['credentials']['access_token'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: X-Ratelimit-App-Global-Minute-Reset
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 4
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date_modified
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S"
      datetime_format: "%Y-%m-%dT%H:%M:%S"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: start_modified_at
        inject_into: request_parameter
  - type: DeclarativeStream
    name: surveys
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          analyze_url:
            type: string
          buttons_text:
            properties:
              done_button:
                type: string
              exit_button:
                type: string
              next_button:
                type: string
              prev_button:
                type: string
            type: object
          category:
            type: string
          collect_url:
            type: string
          custom_variables:
            type: object
          date_created:
            type: string
          date_modified:
            type: string
          edit_url:
            type: string
          folder_id:
            type: string
          footer:
            type: boolean
          href:
            type: string
          id:
            type: string
          is_owner:
            type: boolean
          language:
            type: string
          nickname:
            type: string
          page_count:
            type: number
          preview:
            type: string
          question_count:
            type: number
          response_count:
            type: number
          summary_url:
            type: string
          template_id:
            type:
              - "null"
              - string
          theme_id:
            type: string
          title:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.surveymonkey.com/v3/
        path: surveys/{{ stream_partition.survey_id }}/details
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['credentials']['access_token'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: X-Ratelimit-App-Global-Minute-Reset
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 4
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: survey_id
              stream:
                type: DeclarativeStream
                name: survey_ids
                primary_key:
                  - id
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    $schema: http://json-schema.org/schema#
                    properties:
                      href:
                        type: string
                      id:
                        type: string
                      nickname:
                        type: string
                      title:
                        type: string
                    type: object
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.surveymonkey.com/v3/
                    path: surveys
                    http_method: GET
                    request_parameters:
                      sort_by: date_modified
                      sort_order: ASC
                    request_headers: {}
                    authenticator:
                      type: BearerAuthenticator
                      api_token: "{{ config['credentials']['access_token'] }}"
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          backoff_strategies:
                            - type: WaitTimeFromHeader
                              header: X-Ratelimit-App-Global-Minute-Reset
                    request_body_json: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - data
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestPath
                    page_size_option:
                      type: RequestOption
                      field_name: per_page
                      inject_into: request_parameter
                    pagination_strategy:
                      type: CursorPagination
                      page_size: 4
                      cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
                      stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
                  partition_router: []
                incremental_sync:
                  type: DatetimeBasedCursor
                  cursor_field: date_modified
                  cursor_datetime_formats:
                    - "%Y-%m-%dT%H:%M:%S"
                  datetime_format: "%Y-%m-%dT%H:%M:%S"
                  start_datetime:
                    type: MinMaxDatetime
                    datetime: "{{ config['start_date'] }}"
                    datetime_format: "%Y-%m-%dT%H:%M:%SZ"
                  start_time_option:
                    type: RequestOption
                    field_name: start_modified_at
                    inject_into: request_parameter
    transformations:
      - type: RemoveFields
        field_pointers:
          - - pages
  - type: DeclarativeStream
    name: survey_pages
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          description:
            type: string
          href:
            type: string
          id:
            type: string
          position:
            type: number
          question_count:
            type: number
          title:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.surveymonkey.com/v3/
        path: surveys/{{ stream_partition.survey_id }}/details
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['credentials']['access_token'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: X-Ratelimit-App-Global-Minute-Reset
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - pages
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 4
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: survey_id
              stream:
                type: DeclarativeStream
                name: survey_ids
                primary_key:
                  - id
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    $schema: http://json-schema.org/schema#
                    properties:
                      href:
                        type: string
                      id:
                        type: string
                      nickname:
                        type: string
                      title:
                        type: string
                    type: object
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.surveymonkey.com/v3/
                    path: surveys
                    http_method: GET
                    request_parameters:
                      sort_by: date_modified
                      sort_order: ASC
                    request_headers: {}
                    authenticator:
                      type: BearerAuthenticator
                      api_token: "{{ config['credentials']['access_token'] }}"
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          backoff_strategies:
                            - type: WaitTimeFromHeader
                              header: X-Ratelimit-App-Global-Minute-Reset
                    request_body_json: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - data
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestPath
                    page_size_option:
                      type: RequestOption
                      field_name: per_page
                      inject_into: request_parameter
                    pagination_strategy:
                      type: CursorPagination
                      page_size: 4
                      cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
                      stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
                  partition_router: []
                incremental_sync:
                  type: DatetimeBasedCursor
                  cursor_field: date_modified
                  cursor_datetime_formats:
                    - "%Y-%m-%dT%H:%M:%S"
                  datetime_format: "%Y-%m-%dT%H:%M:%S"
                  start_datetime:
                    type: MinMaxDatetime
                    datetime: "{{ config['start_date'] }}"
                    datetime_format: "%Y-%m-%dT%H:%M:%SZ"
                  start_time_option:
                    type: RequestOption
                    field_name: start_modified_at
                    inject_into: request_parameter
    transformations:
      - type: RemoveFields
        field_pointers:
          - - questions
  - type: DeclarativeStream
    name: survey_questions
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          answers:
            properties:
              choices:
                items:
                  properties:
                    description:
                      type: string
                    id:
                      type: string
                    is_na:
                      type: boolean
                    position:
                      type: number
                    quiz_options:
                      properties:
                        score:
                          type: number
                      type: object
                    text:
                      type: string
                    visible:
                      type: boolean
                    weight:
                      type: number
                  type: object
                type: array
              rows:
                items:
                  properties:
                    id:
                      type: string
                    position:
                      type: number
                    text:
                      type: string
                    visible:
                      type: boolean
                  type: object
                type: array
            type: object
          family:
            type: string
          forced_ranking:
            type: boolean
          headings:
            items:
              properties:
                heading:
                  type: string
                image:
                  properties:
                    url:
                      type: string
                  type: object
              type: object
            type: array
          href:
            type: string
          id:
            type: string
          layout:
            properties:
              bottom_spacing:
                type: number
              col_width:
                type: number
              col_width_format:
                type: string
              left_spacing:
                type: number
              position:
                type: string
              right_spacing:
                type: number
              top_spacing:
                type: number
              width:
                type: number
              width_format:
                type: string
            type:
              - object
              - "null"
          position:
            type: number
          subtype:
            type: string
          visible:
            type: boolean
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.surveymonkey.com/v3/
        path: surveys/{{ stream_partition.survey_id }}/details
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['credentials']['access_token'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: X-Ratelimit-App-Global-Minute-Reset
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - pages
            - "*"
            - questions
            - "*"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 4
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: survey_id
              stream:
                type: DeclarativeStream
                name: survey_ids
                primary_key:
                  - id
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    $schema: http://json-schema.org/schema#
                    properties:
                      href:
                        type: string
                      id:
                        type: string
                      nickname:
                        type: string
                      title:
                        type: string
                    type: object
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.surveymonkey.com/v3/
                    path: surveys
                    http_method: GET
                    request_parameters:
                      sort_by: date_modified
                      sort_order: ASC
                    request_headers: {}
                    authenticator:
                      type: BearerAuthenticator
                      api_token: "{{ config['credentials']['access_token'] }}"
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          backoff_strategies:
                            - type: WaitTimeFromHeader
                              header: X-Ratelimit-App-Global-Minute-Reset
                    request_body_json: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - data
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestPath
                    page_size_option:
                      type: RequestOption
                      field_name: per_page
                      inject_into: request_parameter
                    pagination_strategy:
                      type: CursorPagination
                      page_size: 4
                      cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
                      stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
                  partition_router: []
                incremental_sync:
                  type: DatetimeBasedCursor
                  cursor_field: date_modified
                  cursor_datetime_formats:
                    - "%Y-%m-%dT%H:%M:%S"
                  datetime_format: "%Y-%m-%dT%H:%M:%S"
                  start_datetime:
                    type: MinMaxDatetime
                    datetime: "{{ config['start_date'] }}"
                    datetime_format: "%Y-%m-%dT%H:%M:%SZ"
                  start_time_option:
                    type: RequestOption
                    field_name: start_modified_at
                    inject_into: request_parameter
  - type: DeclarativeStream
    name: survey_responses
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          analyze_url:
            type: string
          collection_mode:
            type: string
          collector_id:
            type: string
          custom_value:
            type: string
          custom_variables:
            type: object
          date_created:
            type: string
          date_modified:
            type: string
          edit_url:
            type: string
          email_address:
            type: string
          first_name:
            type: string
          href:
            type: string
          id:
            type: string
          ip_address:
            type: string
          last_name:
            type: string
          logic_path:
            type: object
          metadata:
            properties:
              contact:
                type: object
            type: object
          page_path:
            items:
              type: string
            type: array
          pages:
            items:
              properties:
                id:
                  type: string
                questions:
                  items:
                    properties:
                      answers:
                        items:
                          properties:
                            choice_id:
                              type: string
                            choice_metadata:
                              properties:
                                weight:
                                  type: string
                              type: object
                            row_id:
                              type: string
                            tag_data:
                              type: array
                            text:
                              type: string
                            x:
                              type: string
                            "y":
                              type: string
                          type: object
                        type: array
                      id:
                        type: string
                    type: object
                  type: array
              type: object
            type: array
          recipient_id:
            type: string
          response_status:
            type: string
          survey_id:
            type: string
          total_time:
            type: number
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.surveymonkey.com/v3/
        path: surveys/{{ stream_partition.survey_id }}/responses/bulk
        http_method: GET
        request_parameters:
          sort_order: ASC
          sort_by: date_modified
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['credentials']['access_token'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: X-Ratelimit-App-Global-Minute-Reset
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: survey_id
              stream:
                type: DeclarativeStream
                name: survey_ids
                primary_key:
                  - id
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    $schema: http://json-schema.org/schema#
                    properties:
                      href:
                        type: string
                      id:
                        type: string
                      nickname:
                        type: string
                      title:
                        type: string
                    type: object
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.surveymonkey.com/v3/
                    path: surveys
                    http_method: GET
                    request_parameters:
                      sort_by: date_modified
                      sort_order: ASC
                    request_headers: {}
                    authenticator:
                      type: BearerAuthenticator
                      api_token: "{{ config['credentials']['access_token'] }}"
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          backoff_strategies:
                            - type: WaitTimeFromHeader
                              header: X-Ratelimit-App-Global-Minute-Reset
                    request_body_json: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - data
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestPath
                    page_size_option:
                      type: RequestOption
                      field_name: per_page
                      inject_into: request_parameter
                    pagination_strategy:
                      type: CursorPagination
                      page_size: 4
                      cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
                      stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
                  partition_router: []
                incremental_sync:
                  type: DatetimeBasedCursor
                  cursor_field: date_modified
                  cursor_datetime_formats:
                    - "%Y-%m-%dT%H:%M:%S"
                  datetime_format: "%Y-%m-%dT%H:%M:%S"
                  start_datetime:
                    type: MinMaxDatetime
                    datetime: "{{ config['start_date'] }}"
                    datetime_format: "%Y-%m-%dT%H:%M:%SZ"
                  start_time_option:
                    type: RequestOption
                    field_name: start_modified_at
                    inject_into: request_parameter
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date_modified
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
      datetime_format: "%Y-%m-%d %H:%M:%S"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: start_modified_at
        inject_into: request_parameter
  - type: DeclarativeStream
    name: survey_collectors
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          href:
            type: string
          id:
            type: string
          name:
            type: string
          survey_id:
            type: number
          type:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.surveymonkey.com/v3/
        path: surveys/{{ stream_partition.survey_id }}/collectors
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['credentials']['access_token'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: X-Ratelimit-App-Global-Minute-Reset
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: survey_id
              stream:
                type: DeclarativeStream
                name: survey_ids
                primary_key:
                  - id
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    $schema: http://json-schema.org/schema#
                    properties:
                      href:
                        type: string
                      id:
                        type: string
                      nickname:
                        type: string
                      title:
                        type: string
                    type: object
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.surveymonkey.com/v3/
                    path: surveys
                    http_method: GET
                    request_parameters:
                      sort_by: date_modified
                      sort_order: ASC
                    request_headers: {}
                    authenticator:
                      type: BearerAuthenticator
                      api_token: "{{ config['credentials']['access_token'] }}"
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          backoff_strategies:
                            - type: WaitTimeFromHeader
                              header: X-Ratelimit-App-Global-Minute-Reset
                    request_body_json: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - data
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestPath
                    page_size_option:
                      type: RequestOption
                      field_name: per_page
                      inject_into: request_parameter
                    pagination_strategy:
                      type: CursorPagination
                      page_size: 4
                      cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
                      stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
                  partition_router: []
                incremental_sync:
                  type: DatetimeBasedCursor
                  cursor_field: date_modified
                  cursor_datetime_formats:
                    - "%Y-%m-%dT%H:%M:%S"
                  datetime_format: "%Y-%m-%dT%H:%M:%S"
                  start_datetime:
                    type: MinMaxDatetime
                    datetime: "{{ config['start_date'] }}"
                    datetime_format: "%Y-%m-%dT%H:%M:%SZ"
                  start_time_option:
                    type: RequestOption
                    field_name: start_modified_at
                    inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - path:
              - survey_id
            value: "{{ stream_slice.survey_id }}"
  - type: DeclarativeStream
    name: collectors
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          allow_multiple_responses:
            type: boolean
          anonymous_type:
            type: string
          closed_page_message:
            type: string
          date_created:
            type: string
          date_modified:
            type: string
          display_survey_results:
            type: boolean
          disqualification_message:
            type: string
          disqualification_type:
            type: string
          disqualification_url:
            type: string
          edit_response_type:
            type: string
          href:
            type: string
          id:
            type: string
          name:
            type: string
          password_enabled:
            type: boolean
          redirect_type:
            type: string
          redirect_url:
            type: string
          respondent_authentication:
            type: boolean
          response_count:
            type: number
          status:
            type: string
          survey_id:
            type: string
          thank_you_message:
            type: string
          thank_you_page:
            properties:
              is_enabled:
                type: boolean
              message:
                type: string
            type: object
          type:
            type: string
          url:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.surveymonkey.com/v3/
        path: collectors//{{ stream_partition.collector_id }}
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['credentials']['access_token'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: X-Ratelimit-App-Global-Minute-Reset
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          page_size: 4
          cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: collector_id
              stream:
                type: DeclarativeStream
                name: survey_collectors
                primary_key:
                  - id
                schema_loader:
                  type: InlineSchemaLoader
                  schema:
                    $schema: http://json-schema.org/schema#
                    properties:
                      href:
                        type: string
                      id:
                        type: string
                      name:
                        type: string
                      survey_id:
                        type: number
                      type:
                        type: string
                    type: object
                retriever:
                  type: SimpleRetriever
                  requester:
                    type: HttpRequester
                    url_base: https://api.surveymonkey.com/v3/
                    path: surveys/{{ stream_partition.survey_id }}/collectors
                    http_method: GET
                    request_parameters: {}
                    request_headers: {}
                    authenticator:
                      type: BearerAuthenticator
                      api_token: "{{ config['credentials']['access_token'] }}"
                    error_handler:
                      type: CompositeErrorHandler
                      error_handlers:
                        - type: DefaultErrorHandler
                          backoff_strategies:
                            - type: WaitTimeFromHeader
                              header: X-Ratelimit-App-Global-Minute-Reset
                    request_body_json: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - data
                  paginator:
                    type: DefaultPaginator
                    page_token_option:
                      type: RequestPath
                    pagination_strategy:
                      type: CursorPagination
                      cursor_value: '{{ response.get("links", {}).get("next", {}) }}'
                      stop_condition: '{{ not response.get("links", {}).get("next", {}) }}'
                  partition_router:
                    - type: SubstreamPartitionRouter
                      parent_stream_configs:
                        - type: ParentStreamConfig
                          parent_key: id
                          partition_field: survey_id
                          stream:
                            type: DeclarativeStream
                            name: survey_ids
                            primary_key:
                              - id
                            schema_loader:
                              type: InlineSchemaLoader
                              schema:
                                $schema: http://json-schema.org/schema#
                                properties:
                                  href:
                                    type: string
                                  id:
                                    type: string
                                  nickname:
                                    type: string
                                  title:
                                    type: string
                                type: object
                            retriever:
                              type: SimpleRetriever
                              requester:
                                type: HttpRequester
                                url_base: https://api.surveymonkey.com/v3/
                                path: surveys
                                http_method: GET
                                request_parameters:
                                  sort_by: date_modified
                                  sort_order: ASC
                                request_headers: {}
                                authenticator:
                                  type: BearerAuthenticator
                                  api_token: "{{ config['credentials']['access_token'] }}"
                                error_handler:
                                  type: CompositeErrorHandler
                                  error_handlers:
                                    - type: DefaultErrorHandler
                                      backoff_strategies:
                                        - type: WaitTimeFromHeader
                                          header: X-Ratelimit-App-Global-Minute-Reset
                                request_body_json: {}
                              record_selector:
                                type: RecordSelector
                                extractor:
                                  type: DpathExtractor
                                  field_path:
                                    - data
                              paginator:
                                type: DefaultPaginator
                                page_token_option:
                                  type: RequestPath
                                page_size_option:
                                  type: RequestOption
                                  field_name: per_page
                                  inject_into: request_parameter
                                pagination_strategy:
                                  type: CursorPagination
                                  page_size: 4
                                  cursor_value: >-
                                    {{ response.get("links", {}).get("next", {})
                                    }}
                                  stop_condition: >-
                                    {{ not response.get("links", {}).get("next",
                                    {}) }}
                              partition_router: []
                            incremental_sync:
                              type: DatetimeBasedCursor
                              cursor_field: date_modified
                              cursor_datetime_formats:
                                - "%Y-%m-%dT%H:%M:%S"
                              datetime_format: "%Y-%m-%dT%H:%M:%S"
                              start_datetime:
                                type: MinMaxDatetime
                                datetime: "{{ config['start_date'] }}"
                                datetime_format: "%Y-%m-%dT%H:%M:%SZ"
                              start_time_option:
                                type: RequestOption
                                field_name: start_modified_at
                                inject_into: request_parameter
                transformations:
                  - type: AddFields
                    fields:
                      - path:
                          - survey_id
                        value: "{{ stream_slice.survey_id }}"
spec:
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - start_date
      - credentials
    properties:
      origin:
        type: string
        order: 1
        enum:
          - "USA"
          - "Europe"
          - "Canada"
        default: "USA"
        title: "Origin datacenter of the SurveyMonkey account"
        description: "Depending on the originating datacenter of the SurveyMonkey account, the API access URL may be different."
      credentials:
        title: "SurveyMonkey Authorization Method"
        description: "The authorization method to use to retrieve data from SurveyMonkey"
        type: object
        required:
          - auth_method
          - access_token
        order: 2
        properties:
          auth_method:
            type: string
            const: "oauth2.0"
            order: 0
          client_id:
            type: string
            title: "Client ID"
            description: "The Client ID of the SurveyMonkey developer application."
            airbyte_secret: true
            order: 1
          client_secret:
            type: string
            title: "Client Secret"
            description: "The Client Secret of the SurveyMonkey developer application."
            airbyte_secret: true
            order: 2
          access_token:
            title: "Access Token"
            order: 3
            type: string
            airbyte_secret: true
            description: 'Access Token for making authenticated requests. See the <a href="https://docs.airbyte.io/integrations/sources/surveymonkey">docs</a> for information on how to generate this key.'
      start_date:
        title: "Start Date"
        order: 3
        type: string
        description: "UTC date and time in the format 2017-01-25T00:00:00Z. Any data before this date will not be replicated."
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z?$"
        examples:
          - "2021-01-01T00:00:00Z"
        format: "date-time"
      survey_ids:
        type: array
        order: 4
        items:
          type: string
          pattern: "^[0-9]{8,9}$"
        title: "Survey Monkey survey IDs"
        description: "IDs of the surveys from which you'd like to replicate data. If left empty, data from all boards to which you have access will be replicated."
    additionalProperties: true
  advanced_auth:
    auth_flow_type: "oauth2.0"
    predicate_key:
      - credentials
      - auth_method
    predicate_value: "oauth2.0"
    oauth_config_specification:
      complete_oauth_output_specification:
        type: object
        additionalProperties: false
        properties:
          access_token:
            type: string
            path_in_connector_config:
              - credentials
              - access_token
      complete_oauth_server_input_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - credentials
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - credentials
              - client_secret
      oauth_user_input_from_connector_config_specification:
        type: object
        additionalProperties: false
        properties:
          origin:
            type: string
            path_in_connector_config:
              - origin
  type: Spec
metadata:
  autoImportSchema:
    survey_ids: true
    surveys: true
    survey_pages: true
    survey_questions: true
    survey_responses: true
    survey_collectors: true
    collectors: true
