@use "scss/colors";
@use "scss/variables";

.container {
  border-radius: variables.$spacing-md;
  margin: variables.$spacing-md variables.$spacing-lg;
  background-color: colors.$grey-50;

  & > :not(button) {
    padding: variables.$spacing-md;
  }
}

.leftActions,
.rightActions {
  flex: 1 1 130px;
}

.properties {
  flex: 1 0 auto;
}

.streamPropLabel {
  display: inline;
  color: colors.$grey-300;

  &::after {
    content: ":";
  }
}

.streamPropValue {
  display: inline;
  margin-left: variables.$spacing-sm;
}

.crossIcon {
  svg {
    color: colors.$dark-blue;
  }
}
