version: 6.48.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - collections
definitions:
  base_requester:
    type: HttpRequester
    url_base: "https://{{ config.get('api_host', 'api.secoda.co') }}"
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config['api_key'] }}"
    error_handler:
      type: CompositeErrorHandler
      error_handlers:
        - type: DefaultErrorHandler
          response_filters:
            - type: HttpResponseFilter
              http_codes:
                - 429
              action: RETRY
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
        - type: DefaultErrorHandler
          response_filters:
            - type: HttpResponseFilter
              http_codes:
                - 500
              action: FAIL
  base_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestPath
    pagination_strategy:
      type: CursorPagination
      cursor_value: "{{ response.get('links', {}).get('next') }}"
      stop_condition: "{{ response.get('links', {}).get('next') is none }}"
  ai_offset_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: offset
    page_size_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: limit
    pagination_strategy:
      type: OffsetIncrement
      page_size: 20
  incremental_sync_updated_at:
    type: DatetimeBasedCursor
    cursor_field: updated_at
    cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S.%fZ"
      - "%Y-%m-%dT%H:%M:%SZ"
    datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    start_datetime:
      type: MinMaxDatetime
      datetime: "2020-01-01T00:00:00Z"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    is_client_side_incremental: true
  incremental_sync_created_at:
    type: DatetimeBasedCursor
    cursor_field: created_at
    cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S.%fZ"
      - "%Y-%m-%dT%H:%M:%SZ"
    datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    start_datetime:
      type: MinMaxDatetime
      datetime: "2020-01-01T00:00:00Z"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    is_client_side_incremental: true
  streams:
    tables:
      type: DeclarativeStream
      name: tables
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/table/tables
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          $ref: "#/definitions/base_paginator"
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tables"
    collections:
      type: DeclarativeStream
      name: collections
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/collection/collections
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          $ref: "#/definitions/base_paginator"
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/collections"
    terms:
      type: DeclarativeStream
      name: terms
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/resource/catalog
          http_method: GET
          request_parameters:
            filter: '{"operator":"exact","field":"entity_type","value":"glossary"}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          $ref: "#/definitions/base_paginator"
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/terms"
    integrations:
      type: DeclarativeStream
      name: integrations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/integration/integrations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          $ref: "#/definitions/base_paginator"
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/integrations"
    documents:
      type: DeclarativeStream
      name: documents
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/document
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          $ref: "#/definitions/base_paginator"
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/documents"
    tags:
      type: DeclarativeStream
      name: tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/tag
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          $ref: "#/definitions/base_paginator"
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/user
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          $ref: "#/definitions/base_paginator"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    teams:
      type: DeclarativeStream
      name: teams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/auth/teams/
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          $ref: "#/definitions/base_paginator"
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    groups:
      type: DeclarativeStream
      name: groups
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/auth/group
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          $ref: "#/definitions/base_paginator"
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/groups"
    questions:
      type: DeclarativeStream
      name: questions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/question/questions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          $ref: "#/definitions/base_paginator"
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/questions"
    monitors:
      type: DeclarativeStream
      name: monitors
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/monitor/monitors
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          $ref: "#/definitions/base_paginator"
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/monitors"
    incidents:
      type: DeclarativeStream
      name: incidents
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/monitor/incidents
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          $ref: "#/definitions/base_paginator"
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incidents"
    lineage:
      type: DeclarativeStream
      name: lineage
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/lineage/manual/
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          $ref: "#/definitions/base_paginator"
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lineage"
    dashboards:
      type: DeclarativeStream
      name: dashboards
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/dashboard/dashboards
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          $ref: "#/definitions/base_paginator"
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/dashboards"
    charts:
      type: DeclarativeStream
      name: charts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/dashboard/charts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          $ref: "#/definitions/base_paginator"
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/charts"
    columns:
      type: DeclarativeStream
      name: columns
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/table/columns
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          $ref: "#/definitions/base_paginator"
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/columns"
    ai_chat_metrics:
      type: DeclarativeStream
      name: ai_chat_metrics
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/ai/chat-usage/metrics/
          http_method: GET
          request_parameters:
            time_range: all
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: NoPagination
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ai_chat_metrics"
    ai_chat_timeseries:
      type: DeclarativeStream
      name: ai_chat_timeseries
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/ai/chat-usage/timeseries/
          http_method: GET
          request_parameters:
            time_range: all
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - points
        paginator:
          type: NoPagination
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: timestamp
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "2020-01-01T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ai_chat_timeseries"
    ai_chats:
      type: DeclarativeStream
      name: ai_chats
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/ai/chat-usage/detailed-list/
          http_method: GET
          request_parameters:
            time_range: all
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          $ref: "#/definitions/ai_offset_paginator"
      incremental_sync:
        $ref: "#/definitions/incremental_sync_created_at"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ai_chats"
    ai_rated_messages:
      type: DeclarativeStream
      name: ai_rated_messages
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/ai/chat-usage/rated-messages/
          http_method: GET
          request_parameters:
            time_range: all
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          $ref: "#/definitions/ai_offset_paginator"
      incremental_sync:
        $ref: "#/definitions/incremental_sync_created_at"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ai_rated_messages"
    ai_prompts_by_member:
      type: DeclarativeStream
      name: ai_prompts_by_member
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/ai/chat-usage/prompts-by-member/
          http_method: GET
          request_parameters:
            time_range: all
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          $ref: "#/definitions/ai_offset_paginator"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ai_prompts_by_member"
streams:
  - $ref: "#/definitions/streams/tables"
  - $ref: "#/definitions/streams/collections"
  - $ref: "#/definitions/streams/terms"
  - $ref: "#/definitions/streams/integrations"
  - $ref: "#/definitions/streams/documents"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/groups"
  - $ref: "#/definitions/streams/questions"
  - $ref: "#/definitions/streams/monitors"
  - $ref: "#/definitions/streams/incidents"
  - $ref: "#/definitions/streams/lineage"
  - $ref: "#/definitions/streams/dashboards"
  - $ref: "#/definitions/streams/charts"
  - $ref: "#/definitions/streams/columns"
  - $ref: "#/definitions/streams/ai_chat_metrics"
  - $ref: "#/definitions/streams/ai_chat_timeseries"
  - $ref: "#/definitions/streams/ai_chats"
  - $ref: "#/definitions/streams/ai_rated_messages"
  - $ref: "#/definitions/streams/ai_prompts_by_member"
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: Api Key
        airbyte_secret: true
        description: >-
          Your API Access Key. See <a
          href="https://docs.secoda.co/api/authentication">here</a>. The
          key is case sensitive.
        order: 0
      api_host:
        type: string
        title: API Host
        description: >-
          The API host for your Secoda workspace. Standard regions:
          api.secoda.co (US), eapi.secoda.co (EU), aapi.secoda.co (APAC).
          For on-premise or managed instances, use your custom domain.
        examples:
          - api.secoda.co
          - eapi.secoda.co
          - aapi.secoda.co
        default: api.secoda.co
        order: 1
    additionalProperties: true
metadata:
  autoImportSchema:
    tables: false
    collections: false
    terms: false
    integrations: false
    documents: false
    tags: false
    users: false
    teams: false
    groups: false
    questions: false
    monitors: false
    incidents: false
    lineage: false
    dashboards: false
    charts: false
    columns: false
    ai_chat_metrics: false
    ai_chat_timeseries: false
    ai_chats: false
    ai_rated_messages: false
    ai_prompts_by_member: false
schemas:
  tables:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      entity_type:
        type:
          - "null"
          - string
      native_type:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      definition:
        type:
          - "null"
          - string
      owners:
        type:
          - "null"
          - array
        items:
          type: string
      owners_groups:
        type:
          - "null"
          - array
        items:
          type: string
      collections:
        type:
          - "null"
          - array
        items:
          type: string
      tags:
        type:
          - "null"
          - array
        items:
          type: string
      workspace_id:
        type:
          - "null"
          - string
      published:
        type:
          - "null"
          - boolean
      archived:
        type:
          - "null"
          - boolean
      pii:
        type:
          - "null"
          - boolean
      verified:
        type:
          - "null"
          - boolean
      integration:
        type:
          - "null"
          - string
      parent:
        type:
          - "null"
          - string
      url:
        type:
          - "null"
          - string
      children_count:
        type:
          - "null"
          - integer
      external_updated_at:
        type:
          - "null"
          - string
        format: date-time
      internal_usage:
        type:
          - "null"
          - integer
      external_usage:
        type:
          - "null"
          - integer
      total_usage:
        type:
          - "null"
          - integer
      database:
        type:
          - "null"
          - string
      schema:
        type:
          - "null"
          - string
      cluster:
        type:
          - "null"
          - string
      creation_query:
        type:
          - "null"
          - string
  collections:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      entity_type:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      definition:
        type:
          - "null"
          - string
      owners:
        type:
          - "null"
          - array
        items:
          type: string
      tags:
        type:
          - "null"
          - array
        items:
          type: string
      workspace_id:
        type:
          - "null"
          - string
      published:
        type:
          - "null"
          - boolean
      archived:
        type:
          - "null"
          - boolean
      pii:
        type:
          - "null"
          - boolean
      verified:
        type:
          - "null"
          - boolean
      integration:
        type:
          - "null"
          - string
      parent:
        type:
          - "null"
          - string
      pinned:
        type:
          - "null"
          - boolean
      resource_count:
        type:
          - "null"
          - integer
  terms:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      entity_type:
        type:
          - "null"
          - string
      native_type:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
      title_cased:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      definition:
        type:
          - "null"
          - string
      owners:
        type:
          - "null"
          - array
        items:
          type: string
      owners_groups:
        type:
          - "null"
          - array
        items:
          type: string
      collections:
        type:
          - "null"
          - array
        items:
          type: string
      tags:
        type:
          - "null"
          - array
        items:
          type: string
      workspace_id:
        type:
          - "null"
          - string
      published:
        type:
          - "null"
          - boolean
      archived:
        type:
          - "null"
          - boolean
      pii:
        type:
          - "null"
          - boolean
      verified:
        type:
          - "null"
          - boolean
      url:
        type:
          - "null"
          - string
      parent:
        type:
          - "null"
          - string
      children_count:
        type:
          - "null"
          - integer
      integration:
        type:
          - "null"
          - string
      internal_usage:
        type:
          - "null"
          - integer
      external_usage:
        type:
          - "null"
          - integer
  integrations:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      name:
        type:
          - "null"
          - string
      type:
        type:
          - "null"
          - string
      credentials:
        type:
          - "null"
          - object
      workspace_id:
        type:
          - "null"
          - string
      ssh_tunnel:
        type:
          - "null"
          - object
      execute_access:
        type:
          - "null"
          - boolean
      scheduled_extractions_hour:
        type:
          - "null"
          - integer
      scheduled_extractions_frequency:
        type:
          - "null"
          - string
      scheduled_extractions_next_run:
        type:
          - "null"
          - string
        format: date-time
      scheduled_extractions_last_run:
        type:
          - "null"
          - string
        format: date-time
      properties:
        type:
          - "null"
          - object
      teams:
        type:
          - "null"
          - array
        items:
          type: string
  documents:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      entity_type:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      definition:
        type:
          - "null"
          - string
      owners:
        type:
          - "null"
          - array
        items:
          type: string
      tags:
        type:
          - "null"
          - array
        items:
          type: string
      workspace_id:
        type:
          - "null"
          - string
      published:
        type:
          - "null"
          - boolean
      archived:
        type:
          - "null"
          - boolean
      pii:
        type:
          - "null"
          - boolean
      verified:
        type:
          - "null"
          - boolean
      integration:
        type:
          - "null"
          - string
      parent:
        type:
          - "null"
          - string
      parent_id:
        type:
          - "null"
          - string
      base_entity_id:
        type:
          - "null"
          - string
  tags:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      name:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      color:
        type:
          - "null"
          - string
      integration_id:
        type:
          - "null"
          - string
      workspace_id:
        type:
          - "null"
          - string
  users:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      first_name:
        type:
          - "null"
          - string
      last_name:
        type:
          - "null"
          - string
      email:
        type:
          - "null"
          - string
      role:
        type:
          - "null"
          - string
      workspace_id:
        type:
          - "null"
          - string
      profile_picture:
        type:
          - "null"
          - string
      pending:
        type:
          - "null"
          - boolean
      user_groups:
        type:
          - "null"
          - array
        items:
          type: string
      is_service_account:
        type:
          - "null"
          - boolean
      last_login:
        type:
          - "null"
          - string
        format: date-time
      disabled:
        type:
          - "null"
          - boolean
  teams:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      name:
        type:
          - "null"
          - string
      icon:
        type:
          - "null"
          - string
      type:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      sidebar_settings:
        type:
          - "null"
          - object
      workspace_id:
        type:
          - "null"
          - string
      archived:
        type:
          - "null"
          - boolean
      is_default_team:
        type:
          - "null"
          - boolean
      onboarding_completed:
        type:
          - "null"
          - boolean
  groups:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      users:
        type:
          - "null"
          - array
        items:
          type: string
      name:
        type:
          - "null"
          - string
      icon:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      workspace_id:
        type:
          - "null"
          - string
      snowflake_role:
        type:
          - "null"
          - string
  questions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      entity_type:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      definition:
        type:
          - "null"
          - string
      owners:
        type:
          - "null"
          - array
        items:
          type: string
      tags:
        type:
          - "null"
          - array
        items:
          type: string
      workspace_id:
        type:
          - "null"
          - string
      published:
        type:
          - "null"
          - boolean
      archived:
        type:
          - "null"
          - boolean
      integration:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      priority:
        type:
          - "null"
          - string
      reactions:
        type:
          - "null"
          - array
      answer:
        type:
          - "null"
          - string
      assigned_to:
        type:
          - "null"
          - string
      votes_sum:
        type:
          - "null"
          - integer
      current_user_vote:
        type:
          - "null"
          - integer
  monitors:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      integration:
        type:
          - "null"
          - string
      target:
        type:
          - "null"
          - string
      workspace:
        type:
          - "null"
          - string
      metric_type:
        type:
          - "null"
          - string
      metric_config:
        type:
          - "null"
          - object
      frequency:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      is_enabled:
        type:
          - "null"
          - boolean
      last_attempted_at:
        type:
          - "null"
          - string
        format: date-time
      last_success_at:
        type:
          - "null"
          - string
        format: date-time
      last_error_at:
        type:
          - "null"
          - string
        format: date-time
      last_error_message:
        type:
          - "null"
          - string
      condition_auto_sensitivity:
        type:
          - "null"
          - string
      condition_manual_min:
        type:
          - "null"
          - number
      condition_manual_max:
        type:
          - "null"
          - number
      status:
        type:
          - "null"
          - string
      display_metadata:
        type:
          - "null"
          - object
      last_measurement_value:
        type:
          - "null"
          - number
      next_run_at:
        type:
          - "null"
          - string
        format: date-time
  incidents:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      monitor:
        type:
          - "null"
          - string
      target:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      summary:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      value:
        type:
          - "null"
          - number
      first_seen_at:
        type:
          - "null"
          - string
        format: date-time
      last_seen_at:
        type:
          - "null"
          - string
        format: date-time
      acknowledged_at:
        type:
          - "null"
          - string
        format: date-time
      resolved_at:
        type:
          - "null"
          - string
        format: date-time
      last_notified_at:
        type:
          - "null"
          - string
        format: date-time
      actions:
        type:
          - "null"
          - array
        items:
          type: object
          properties:
            type:
              type:
                - "null"
                - string
            user_id:
              type:
                - "null"
                - string
            user_name:
              type:
                - "null"
                - string
      display_metadata:
        type:
          - "null"
          - object
  lineage:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      from_entity_id:
        type:
          - "null"
          - string
      to_entity_id:
        type:
          - "null"
          - string
      direction:
        type:
          - "null"
          - string
      workspace_id:
        type:
          - "null"
          - string
      is_manual:
        type:
          - "null"
          - boolean
  dashboards:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      entity_type:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      definition:
        type:
          - "null"
          - string
      owners:
        type:
          - "null"
          - array
        items:
          type: string
      tags:
        type:
          - "null"
          - array
        items:
          type: string
      workspace_id:
        type:
          - "null"
          - string
      published:
        type:
          - "null"
          - boolean
      archived:
        type:
          - "null"
          - boolean
      pii:
        type:
          - "null"
          - boolean
      verified:
        type:
          - "null"
          - boolean
      integration:
        type:
          - "null"
          - string
      parent:
        type:
          - "null"
          - string
      url:
        type:
          - "null"
          - string
      group:
        type:
          - "null"
          - string
      product:
        type:
          - "null"
          - string
  charts:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      entity_type:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      definition:
        type:
          - "null"
          - string
      owners:
        type:
          - "null"
          - array
        items:
          type: string
      tags:
        type:
          - "null"
          - array
        items:
          type: string
      workspace_id:
        type:
          - "null"
          - string
      published:
        type:
          - "null"
          - boolean
      archived:
        type:
          - "null"
          - boolean
      pii:
        type:
          - "null"
          - boolean
      verified:
        type:
          - "null"
          - boolean
      integration:
        type:
          - "null"
          - string
      parent:
        type:
          - "null"
          - string
      url:
        type:
          - "null"
          - string
      product:
        type:
          - "null"
          - string
  columns:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      entity_type:
        type:
          - "null"
          - string
      native_type:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      definition:
        type:
          - "null"
          - string
      owners:
        type:
          - "null"
          - array
        items:
          type: string
      tags:
        type:
          - "null"
          - array
        items:
          type: string
      workspace_id:
        type:
          - "null"
          - string
      published:
        type:
          - "null"
          - boolean
      archived:
        type:
          - "null"
          - boolean
      pii:
        type:
          - "null"
          - boolean
      verified:
        type:
          - "null"
          - boolean
      integration:
        type:
          - "null"
          - string
      parent:
        type:
          - "null"
          - string
      data_type:
        type:
          - "null"
          - string
      sort_order:
        type:
          - "null"
          - integer
      is_pk:
        type:
          - "null"
          - boolean
      table_database:
        type:
          - "null"
          - string
      table_schema:
        type:
          - "null"
          - string
      table_title:
        type:
          - "null"
          - string
  ai_chat_metrics:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      total_chats:
        type:
          - "null"
          - integer
  ai_chat_timeseries:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      total_chats:
        type:
          - "null"
          - integer
      timestamp:
        type:
          - "null"
          - string
        format: date-time
      group_data:
        type:
          - "null"
          - object
  ai_chats:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
      user_id:
        type:
          - "null"
          - string
      user_name:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      time_saved_hours:
        type:
          - "null"
          - number
      sentiment:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      complexity:
        type:
          - "null"
          - string
      system_rating:
        type:
          - "null"
          - string
      teams:
        type:
          - "null"
          - array
        items:
          type: string
      prompts:
        type:
          - "null"
          - array
      queried_resources:
        type:
          - "null"
          - array
  ai_rated_messages:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
      prompt:
        type:
          - "null"
          - string
      user_id:
        type:
          - "null"
          - string
      user_name:
        type:
          - "null"
          - string
      user_profile_picture:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
        format: date-time
      sentiment:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
  ai_prompts_by_member:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      user_id:
        type:
          - "null"
          - string
      user_name:
        type:
          - "null"
          - string
      user_email:
        type:
          - "null"
          - string
      user_role:
        type:
          - "null"
          - string
      user_profile_picture:
        type:
          - "null"
          - string
      prompt_count:
        type:
          - "null"
          - integer
