version: 6.41.5

type: DeclarativeSource

description: Connector for the Dolibarr ERP/CRM REST API focused on GET operations

check:
  type: CheckStream
  stream_names:
    - Products list

definitions:
  streams:
    Products list:
      type: DeclarativeStream
      name: Products list
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /products?sortfield=t.ref&sortorder=ASC&limit=0&mode=0&includestockdata=1
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - product_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Products list"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - product_id
              value: "{{ record['id'] }}"
    Customers list:
      type: DeclarativeStream
      name: Customers list
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: /thirdparties?sortfield=t.rowid&sortorder=ASC&limit=1000&mode=1
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Customers list"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - customer_id
              value: "{{ record['id'] }}"
    Internal Users:
      type: DeclarativeStream
      name: Internal Users
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: /users?sortfield=t.rowid&sortorder=ASC&limit=100
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - user_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Internal Users"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - user_id
              value: "{{ record['id'] }}"
    Suppliers list:
      type: DeclarativeStream
      name: Suppliers list
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: /thirdparties?sortfield=t.rowid&sortorder=ASC&limit=1000&mode=4
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Suppliers list"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - supplier_id
              value: "{{ record['id'] }}"
    Company profile data:
      type: DeclarativeStream
      name: Company profile data
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: /setup/company
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Company profile data"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - company_id
              value: "{{ record['id'] }}"
    Customer invoices list:
      type: DeclarativeStream
      name: Customer invoices list
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            start_from_page: 0
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /invoices?sortfield=t.rowid&sortorder=ASC&limit=1000
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - invoice_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Customer invoices list"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - lines
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - invoice_id
              value: "{{ record['id'] }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - customer_id
              value: "{{ record['socid'] }}"
    Supplier invoices list:
      type: DeclarativeStream
      name: Supplier invoices list
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            start_from_page: 0
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /supplierinvoices?sortfield=t.rowid&sortorder=ASC&limit=1000
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - supp_invoice_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Supplier invoices list"
      transformations:
        - type: RemoveFields
          field_pointers:
            - - lines
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - supp_invoice_id
              value: "{{ record['id'] }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - supplier_id
              value: "{{ record['socid'] }}"
    Product categories list:
      type: DeclarativeStream
      name: Product categories list
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: /categories?sortfield=t.rowid&sortorder=ASC&limit=100&type=product
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - category_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Product categories list"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - category_id
              value: "{{ record['id'] }}"
        - type: RemoveFields
          field_pointers:
            - - "**"
              - MAP_ID
    Products category id list:
      type: DeclarativeStream
      name: Products category id list
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /products/{{ stream_partition.parent_id
            }}/categories?sortfield=s.rowid&sortorder=ASC
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/Products list"
              parent_key: product_id
              partition_field: parent_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Products category id list"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - product_id
              value: "{{ stream_partition.parent_id }}"
        - type: RemoveFields
          field_pointers:
            - - label
        - type: RemoveFields
          field_pointers:
            - - description
        - type: RemoveFields
          field_pointers:
            - - position
        - type: RemoveFields
          field_pointers:
            - - socid
        - type: RemoveFields
          field_pointers:
            - - visible
        - type: RemoveFields
          field_pointers:
            - - type
        - type: RemoveFields
          field_pointers:
            - - entity
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - category_id
              value: "{{ record['id'] }}"
    Customer invoices lines list:
      type: DeclarativeStream
      name: Customer invoices lines list
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: /invoices/{{ stream_partition.invoice_id }}/lines
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/Customer invoices list"
              parent_key: invoice_id
              partition_field: invoice_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Customer invoices lines list"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - product_id
              value: "{{ record['fk_product'] }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - invoice_id
              value: "{{ record['fk_facture'] }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - unit_buy_price
              value: "{{ record['pa_ht'] }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - unit_sell_price
              value: "{{ record['subprice'] }}"
        - type: RemoveFields
          field_pointers:
            - - fk_facture
        - type: RemoveFields
          field_pointers:
            - - fk_product
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - total_sell_price
              value: "{{ record['total_ttc'] }}"
        - type: RemoveFields
          field_pointers:
            - - libelle
    Supplier invoices lines list:
      type: DeclarativeStream
      name: Supplier invoices lines list
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: /supplierinvoices/{{ stream_partition.supp_invoice_id }}/lines
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/Supplier invoices list"
              parent_key: supp_invoice_id
              partition_field: supp_invoice_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Supplier invoices lines list"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - supp_invoice_id
              value: "{{ record['fk_facture_fourn'] }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - buy_unit_price
              value: "{{ record['pu_ttc'] }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - product_id
              value: "{{ record['fk_product'] }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - total_buy_price
              value: "{{ record['total_ttc'] }}"
        - type: RemoveFields
          field_pointers:
            - - parent_element
        - type: RemoveFields
          field_pointers:
            - - fk_parent_attribute
        - type: RemoveFields
          field_pointers:
            - - ref
        - type: RemoveFields
          field_pointers:
            - - label
        - type: RemoveFields
          field_pointers:
            - - product_label
        - type: RemoveFields
          field_pointers:
            - - libelle
  base_requester:
    type: HttpRequester
    url_base: https://{{config['my_dolibarr_domain_url']}}/api/index.php
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: DOLAPIKEY
        inject_into: header

streams:
  - $ref: "#/definitions/streams/Products list"
  - $ref: "#/definitions/streams/Products category id list"
  - $ref: "#/definitions/streams/Product categories list"
  - $ref: "#/definitions/streams/Customer invoices list"
  - $ref: "#/definitions/streams/Customer invoices lines list"
  - $ref: "#/definitions/streams/Customers list"
  - $ref: "#/definitions/streams/Supplier invoices list"
  - $ref: "#/definitions/streams/Supplier invoices lines list"
  - $ref: "#/definitions/streams/Suppliers list"
  - $ref: "#/definitions/streams/Internal Users"
  - $ref: "#/definitions/streams/Company profile data"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - my_dolibarr_domain_url
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      my_dolibarr_domain_url:
        type: string
        description: >-
          enter your "domain/dolibarr_url" without https:// Example:
          mydomain.com/dolibarr
        order: 1
        title: my_dolibarr_domain/url
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    Products list:
      hasRecords: true
      streamHash: 9d587cff298b4bb99eb5e1a5c111852c374d8164
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Customers list:
      hasRecords: true
      streamHash: 658a41c5275d59b2c90dbb4cf2660e71cd5133d9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Internal Users:
      hasRecords: true
      streamHash: 60dacdec868b3c81c45f7f3a766aa01dd7ca9533
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Suppliers list:
      hasRecords: true
      streamHash: c0609ef32d2a3b08e80ea1d39f36a794c755265a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Company profile data:
      hasRecords: true
      streamHash: 40f30eb72dc56e55b612350a4d6c52345d232dd1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Customer invoices list:
      hasRecords: true
      streamHash: 6adfddc271a4e39efcd68eafee7a325b7eaeac6d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Supplier invoices list:
      hasRecords: true
      streamHash: ec169b35ce12b9ca669ac299e5ca9d1a5c881d05
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Product categories list:
      hasRecords: true
      streamHash: 4e0c76448593b3307e9f6d501e0ee39fae950559
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Products category id list:
      hasRecords: true
      streamHash: 7862a5422e6f79820c61df05f680e2d7bb7e428e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Customer invoices lines list:
      hasRecords: true
      streamHash: 9f89f67f3a435348a12e2af0cd3c5c127876dc10
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Supplier invoices lines list:
      hasRecords: true
      streamHash: 61c98e6cf1523c6796df1def2cc6c3ec29b40196
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    Products list: true
    Customers list: true
    Internal Users: true
    Suppliers list: true
    Company profile data: true
    Customer invoices list: true
    Supplier invoices list: true
    Product categories list: true
    Products category id list: true
    Customer invoices lines list: true
    Supplier invoices lines list: true

schemas:
  Products list:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - product_id
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      pmp:
        type:
          - string
          - "null"
      ref:
        type:
          - string
          - "null"
      label:
        type:
          - string
          - "null"
      price:
        type:
          - string
          - "null"
      entity:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      tva_tx:
        type:
          - string
          - "null"
      barcode:
        type:
          - string
          - "null"
      duration:
        type:
          - string
          - "null"
      finished:
        type:
          - string
          - "null"
      specimen:
        type:
          - number
          - "null"
      stats_mo:
        type:
          - array
          - "null"
      price_min:
        type:
          - string
          - "null"
      price_ttc:
        type:
          - string
          - "null"
      stats_bom:
        type:
          - array
          - "null"
      batch_mask:
        type:
          - string
          - "null"
      cost_price:
        type:
          - string
          - "null"
      customcode:
        type:
          - string
          - "null"
      import_key:
        type:
          - string
          - "null"
      multilangs:
        type:
          - array
          - "null"
      product_id:
        type: number
      status_buy:
        type:
          - string
          - "null"
      stock_reel:
        type:
          - number
          - "null"
      extraparams:
        type:
          - array
          - "null"
      multiprices:
        type:
          - array
          - "null"
      width_units:
        type:
          - string
          - "null"
      barcode_type:
        type:
          - string
          - "null"
      country_code:
        type:
          - string
          - "null"
      height_units:
        type:
          - string
          - "null"
      length_units:
        type:
          - string
          - "null"
      localtax1_tx:
        type:
          - string
          - "null"
      localtax2_tx:
        type:
          - string
          - "null"
      status_batch:
        type:
          - string
          - "null"
      volume_units:
        type:
          - string
          - "null"
      weight_units:
        type:
          - string
          - "null"
      array_options:
        type:
          - array
          - "null"
      date_creation:
        type:
          - number
          - string
          - "null"
      price_autogen:
        type:
          - string
          - "null"
      price_min_ttc:
        type:
          - string
          - "null"
      prices_by_qty:
        type:
          - array
          - "null"
      surface_units:
        type:
          - string
          - "null"
      duration_value:
        type:
          - number
          - "null"
      localtax1_type:
        type:
          - string
          - "null"
      localtax2_type:
        type:
          - string
          - "null"
      multiprices_min:
        type:
          - array
          - "null"
      multiprices_ttc:
        type:
          - array
          - "null"
      price_base_type:
        type:
          - string
          - "null"
      stock_theorique:
        type:
          - number
          - "null"
      stock_warehouse:
        anyOf:
          - type: array
          - type: object
            properties:
              "1":
                type: object
                properties:
                  id:
                    type: string
                  real:
                    type: string
      default_vat_code:
        type:
          - string
          - "null"
      mandatory_period:
        type:
          - string
          - "null"
      stats_expedition:
        type:
          - object
          - "null"
        properties:
          nb:
            type:
              - string
              - "null"
          qty:
            type:
              - number
              - "null"
          rows:
            type:
              - string
              - "null"
          customers:
            type:
              - string
              - "null"
      stats_facturerec:
        type:
          - array
          - "null"
      date_modification:
        type:
          - number
          - "null"
      multiprices_tva_tx:
        type:
          - array
          - "null"
      prices_by_qty_list:
        type:
          - array
          - "null"
      seuil_stock_alerte:
        type:
          - string
          - "null"
      multiprices_min_ttc:
        type:
          - array
          - "null"
      accountancy_code_buy:
        type:
          - string
          - "null"
      fk_default_warehouse:
        type:
          - string
          - "null"
      accountancy_code_sell:
        type:
          - string
          - "null"
      multiprices_base_type:
        type:
          - array
          - "null"
      stats_proposal_supplier:
        type:
          - array
          - "null"
      sell_or_eat_by_mandatory:
        type:
          - string
          - "null"
      stats_facture_fournisseur:
        type:
          - array
          - "null"
      accountancy_code_buy_intra:
        type:
          - string
          - "null"
      accountancy_code_buy_export:
        type:
          - string
          - "null"
      accountancy_code_sell_intra:
        type:
          - string
          - "null"
      accountancy_code_sell_export:
        type:
          - string
          - "null"
      multiprices_default_vat_code:
        type:
          - array
          - "null"
    additionalProperties: true
  Customers list:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      id:
        type:
          - string
          - "null"
      fax:
        type:
          - string
          - "null"
      ref:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      town:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      client:
        type:
          - string
          - "null"
      entity:
        type:
          - string
          - "null"
      module:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      address:
        type:
          - string
          - "null"
      idprof1:
        type:
          - string
          - "null"
      idprof2:
        type:
          - string
          - "null"
      idprof3:
        type:
          - string
          - "null"
      idprof4:
        type:
          - string
          - "null"
      idprof5:
        type:
          - string
          - "null"
      idprof6:
        type:
          - string
          - "null"
      effectif:
        type:
          - string
          - "null"
      prospect:
        type:
          - number
          - "null"
      specimen:
        type:
          - number
          - "null"
      state_id:
        type:
          - string
          - "null"
      region_id:
        type:
          - string
          - "null"
      stcomm_id:
        type:
          - string
          - "null"
      tva_assuj:
        type:
          - string
          - "null"
      tva_intra:
        type:
          - string
          - "null"
      typent_id:
        type:
          - string
          - "null"
      country_id:
        type:
          - string
          - "null"
      fk_account:
        type:
          - string
          - "null"
      name_alias:
        type:
          - string
          - "null"
      code_client:
        type:
          - string
          - "null"
      customer_id:
        type:
          - number
          - "null"
      extraparams:
        type:
          - array
          - "null"
      fournisseur:
        type:
          - string
          - "null"
      typent_code:
        type:
          - string
          - "null"
      country_code:
        type:
          - string
          - "null"
      fk_incoterms:
        type:
          - string
          - "null"
      fk_warehouse:
        type:
          - string
          - "null"
      partnerships:
        type:
          - array
          - "null"
      array_options:
        type:
          - array
          - "null"
      date_creation:
        type:
          - number
          - "null"
      remise_percent:
        type:
          - number
          - "null"
      socialnetworks:
        type:
          - array
          - "null"
      forme_juridique:
        type:
          - string
          - "null"
      localtax1_value:
        type:
          - string
          - "null"
      localtax2_value:
        type:
          - string
          - "null"
      fk_multicurrency:
        type:
          - string
          - "null"
      fk_prospectlevel:
        type:
          - string
          - "null"
      user_creation_id:
        type:
          - string
          - "null"
      date_modification:
        type:
          - number
          - "null"
      SupplierCategories:
        type:
          - array
          - "null"
      multicurrency_code:
        type:
          - string
          - "null"
      vat_reverse_charge:
        type:
          - number
          - "null"
      accountancy_code_buy:
        type:
          - string
          - "null"
      user_modification_id:
        type:
          - string
          - "null"
      accountancy_code_sell:
        type:
          - string
          - "null"
      status_prospect_label:
        type:
          - string
          - "null"
      remise_supplier_percent:
        type:
          - string
          - "null"
    additionalProperties: true
  Internal Users:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - user_id
    properties:
      id:
        type:
          - string
          - "null"
      job:
        type:
          - string
          - "null"
      ref:
        type:
          - string
          - "null"
      zip:
        type:
          - string
          - "null"
      conf:
        type:
          - object
          - "null"
      town:
        type:
          - string
          - "null"
      admin:
        type:
          - string
          - "null"
      birth:
        type:
          - string
          - "null"
      color:
        type:
          - string
          - "null"
      datec:
        type:
          - number
          - "null"
      datem:
        type:
          - number
          - "null"
      email:
        type:
          - string
          - "null"
      login:
        type:
          - string
          - "null"
      users:
        type:
          - array
          - "null"
      entity:
        type:
          - number
          - string
          - "null"
      gender:
        type:
          - string
          - "null"
      rights:
        type:
          - object
          - "null"
        properties:
          user:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - object
                  - "null"
              user:
                type:
                  - object
                  - "null"
              self_advance:
                type:
                  - object
                  - "null"
              user_advance:
                type:
                  - object
                  - "null"
              group_advance:
                type:
                  - object
                  - "null"
      status:
        type:
          - string
          - "null"
      statut:
        type:
          - string
          - "null"
      address:
        type:
          - string
          - "null"
      fk_user:
        type:
          - string
          - "null"
      user_id:
        type: number
      employee:
        type:
          - string
          - "null"
      lastname:
        type:
          - string
          - "null"
      specimen:
        type:
          - number
          - "null"
      state_id:
        type:
          - string
          - "null"
      firstname:
        type:
          - string
          - "null"
      signature:
        type:
          - string
          - "null"
      country_id:
        type:
          - string
          - "null"
      office_fax:
        type:
          - string
          - "null"
      extraparams:
        type:
          - array
          - "null"
      iplastlogin:
        type:
          - string
          - "null"
      note_public:
        type:
          - string
          - "null"
      user_mobile:
        type:
          - string
          - "null"
      country_code:
        type:
          - string
          - "null"
      note_private:
        type:
          - string
          - "null"
      office_phone:
        type:
          - string
          - "null"
      ref_employee:
        type:
          - string
          - "null"
      array_options:
        type:
          - array
          - "null"
      civility_code:
        type:
          - string
          - "null"
      datelastlogin:
        type:
          - number
          - string
          - "null"
      dateemployment:
        type:
          - string
          - "null"
      personal_email:
        type:
          - string
          - "null"
      socialnetworks:
        type:
          - array
          - "null"
      dateendvalidity:
        type:
          - string
          - "null"
      ippreviouslogin:
        type:
          - string
          - "null"
      personal_mobile:
        type:
          - string
          - "null"
      accountancy_code:
        type:
          - string
          - "null"
      fk_establishment:
        type:
          - string
          - "null"
      dateemploymentend:
        type:
          - string
          - "null"
      datepreviouslogin:
        type:
          - number
          - string
          - "null"
      datestartvalidity:
        type:
          - string
          - "null"
      flagdelsessionsbefore:
        type:
          - number
          - string
          - "null"
      national_registration_number:
        type:
          - string
          - "null"
      accountancy_code_user_general:
        type:
          - string
          - "null"
    additionalProperties: true
  Suppliers list:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      id:
        type:
          - string
          - "null"
      fax:
        type:
          - string
          - "null"
      ref:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
      zip:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      town:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      client:
        type:
          - string
          - "null"
      entity:
        type:
          - string
          - "null"
      module:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      address:
        type:
          - string
          - "null"
      idprof1:
        type:
          - string
          - "null"
      idprof2:
        type:
          - string
          - "null"
      idprof3:
        type:
          - string
          - "null"
      idprof4:
        type:
          - string
          - "null"
      idprof5:
        type:
          - string
          - "null"
      idprof6:
        type:
          - string
          - "null"
      effectif:
        type:
          - string
          - "null"
      prospect:
        type:
          - number
          - "null"
      specimen:
        type:
          - number
          - "null"
      state_id:
        type:
          - string
          - "null"
      region_id:
        type:
          - string
          - "null"
      stcomm_id:
        type:
          - string
          - "null"
      tva_assuj:
        type:
          - string
          - "null"
      tva_intra:
        type:
          - string
          - "null"
      typent_id:
        type:
          - string
          - "null"
      country_id:
        type:
          - string
          - "null"
      fk_account:
        type:
          - string
          - "null"
      name_alias:
        type:
          - string
          - "null"
      extraparams:
        type:
          - array
          - "null"
      fournisseur:
        type:
          - string
          - "null"
      supplier_id:
        type:
          - number
          - "null"
      typent_code:
        type:
          - string
          - "null"
      country_code:
        type:
          - string
          - "null"
      fk_incoterms:
        type:
          - string
          - "null"
      fk_warehouse:
        type:
          - string
          - "null"
      partnerships:
        type:
          - array
          - "null"
      array_options:
        type:
          - array
          - "null"
      date_creation:
        type:
          - number
          - "null"
      remise_percent:
        type:
          - number
          - "null"
      socialnetworks:
        type:
          - array
          - "null"
      forme_juridique:
        type:
          - string
          - "null"
      localtax1_value:
        type:
          - string
          - "null"
      localtax2_value:
        type:
          - string
          - "null"
      code_fournisseur:
        type:
          - string
          - "null"
      fk_multicurrency:
        type:
          - string
          - "null"
      fk_prospectlevel:
        type:
          - string
          - "null"
      user_creation_id:
        type:
          - string
          - "null"
      date_modification:
        type:
          - number
          - "null"
      SupplierCategories:
        type:
          - array
          - "null"
      multicurrency_code:
        type:
          - string
          - "null"
      vat_reverse_charge:
        type:
          - number
          - "null"
      accountancy_code_buy:
        type:
          - string
          - "null"
      user_modification_id:
        type:
          - string
          - "null"
      accountancy_code_sell:
        type:
          - string
          - "null"
      status_prospect_label:
        type:
          - string
          - "null"
      remise_supplier_percent:
        type:
          - string
          - "null"
    additionalProperties: true
  Company profile data:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      id:
        type:
          - number
          - "null"
      fax:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
      zip:
        type:
          - string
          - "null"
      logo:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      town:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      entity:
        type:
          - number
          - "null"
      module:
        type:
          - string
          - "null"
      status:
        type:
          - number
          - "null"
      address:
        type:
          - string
          - "null"
      capital:
        type:
          - number
          - "null"
      idprof1:
        type:
          - string
          - "null"
      idprof2:
        type:
          - string
          - "null"
      idprof3:
        type:
          - string
          - "null"
      idprof4:
        type:
          - string
          - "null"
      idprof5:
        type:
          - string
          - "null"
      idprof6:
        type:
          - string
          - "null"
      idprof7:
        type:
          - string
          - "null"
      idprof8:
        type:
          - string
          - "null"
      idprof9:
        type:
          - string
          - "null"
      idprof10:
        type:
          - string
          - "null"
      managers:
        type:
          - string
          - "null"
      specimen:
        type:
          - number
          - "null"
      state_id:
        type:
          - number
          - "null"
      logo_mini:
        type:
          - string
          - "null"
      tva_assuj:
        type:
          - number
          - "null"
      tva_intra:
        type:
          - string
          - "null"
      typent_id:
        type:
          - number
          - "null"
      company_id:
        type:
          - number
          - "null"
      country_id:
        type:
          - number
          - "null"
      logo_small:
        type:
          - string
          - "null"
      extraparams:
        type:
          - array
          - "null"
      country_code:
        type:
          - string
          - "null"
      default_lang:
        type:
          - string
          - "null"
      note_private:
        type:
          - string
          - "null"
      partnerships:
        type:
          - array
          - "null"
      phone_mobile:
        type:
          - string
          - "null"
      socialobject:
        type:
          - string
          - "null"
      array_options:
        type:
          - array
          - "null"
      logo_squarred:
        type:
          - string
          - "null"
      socialnetworks:
        type:
          - object
          - "null"
        properties:
          facebook:
            type:
              - string
              - "null"
          linkedin:
            type:
              - string
              - "null"
          instagram:
            type:
              - string
              - "null"
      localtax1_assuj:
        type:
          - number
          - "null"
      localtax2_assuj:
        type:
          - number
          - "null"
      SupplierCategories:
        type:
          - array
          - "null"
      logo_squarred_mini:
        type:
          - string
          - "null"
      vat_reverse_charge:
        type:
          - number
          - "null"
      logo_squarred_small:
        type:
          - string
          - "null"
    additionalProperties: true
  Customer invoices list:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - invoice_id
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      ref:
        type:
          - string
          - "null"
      date:
        type:
          - number
          - "null"
      paye:
        type:
          - string
          - "null"
      datem:
        type:
          - number
          - "null"
      socid:
        type:
          - string
          - "null"
      entity:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      statut:
        type:
          - string
          - "null"
      specimen:
        type:
          - number
          - "null"
      sumpayed:
        type:
          - string
          - "null"
      total_ht:
        type:
          - string
          - "null"
      total_ttc:
        type:
          - string
          - "null"
      total_tva:
        type:
          - string
          - "null"
      totalpaid:
        type:
          - number
          - "null"
      fk_account:
        type:
          - string
          - "null"
      invoice_id:
        type: number
      pos_source:
        type:
          - string
          - "null"
      customer_id:
        type:
          - number
          - "null"
      extraparams:
        type:
          - array
          - "null"
      remaintopay:
        type:
          - string
          - "null"
      contacts_ids:
        type:
          - array
          - "null"
      fk_incoterms:
        type:
          - string
          - "null"
      revenuestamp:
        type:
          - string
          - "null"
      array_options:
        type:
          - array
          - "null"
      date_creation:
        type:
          - number
          - "null"
      fk_user_valid:
        type:
          - string
          - "null"
      last_main_doc:
        type:
          - string
          - "null"
      module_source:
        type:
          - string
          - "null"
      fk_user_author:
        type:
          - string
          - "null"
      date_pointoftax:
        type:
          - string
          - "null"
      date_validation:
        type:
          - number
          - "null"
      situation_final:
        type:
          - string
          - "null"
      total_localtax1:
        type:
          - string
          - "null"
      total_localtax2:
        type:
          - string
          - "null"
      fk_multicurrency:
        type:
          - string
          - "null"
      multicurrency_tx:
        type:
          - string
          - "null"
      user_creation_id:
        type:
          - string
          - "null"
      cond_reglement_id:
        type:
          - string
          - "null"
      date_modification:
        type:
          - number
          - "null"
      mode_reglement_id:
        type:
          - string
          - "null"
      retained_warranty:
        type:
          - string
          - "null"
      cond_reglement_doc:
        type:
          - string
          - "null"
      date_lim_reglement:
        type:
          - number
          - "null"
      location_incoterms:
        type:
          - string
          - "null"
      multicurrency_code:
        type:
          - string
          - "null"
      online_payment_url:
        type:
          - string
          - "null"
      user_validation_id:
        type:
          - string
          - "null"
      cond_reglement_code:
        type:
          - string
          - "null"
      mode_reglement_code:
        type:
          - string
          - "null"
      multicurrency_total_ht:
        type:
          - string
          - "null"
      multicurrency_total_ttc:
        type:
          - string
          - "null"
      multicurrency_total_tva:
        type:
          - string
          - "null"
      tab_next_situation_invoice:
        type:
          - array
          - "null"
      retained_warranty_date_limit:
        type:
          - number
          - string
          - "null"
      tab_previous_situation_invoice:
        type:
          - array
          - "null"
      retained_warranty_fk_cond_reglement:
        type:
          - string
          - "null"
    additionalProperties: true
  Supplier invoices list:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - supp_invoice_id
    properties:
      type:
        type:
          - number
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      ref:
        type:
          - string
          - "null"
      tms:
        type:
          - number
          - "null"
      date:
        type:
          - number
          - "null"
      paid:
        type:
          - string
          - "null"
      paye:
        type:
          - string
          - "null"
      datec:
        type:
          - number
          - "null"
      label:
        type:
          - string
          - "null"
      socid:
        type:
          - string
          - "null"
      amount:
        type:
          - number
          - "null"
      entity:
        type:
          - string
          - "null"
      remise:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
      statut:
        type:
          - string
          - "null"
      libelle:
        type:
          - string
          - "null"
      subtype:
        type:
          - number
          - "null"
      specimen:
        type:
          - number
          - "null"
      total_ht:
        type:
          - string
          - "null"
      fk_statut:
        type:
          - string
          - "null"
      total_ttc:
        type:
          - string
          - "null"
      total_tva:
        type:
          - string
          - "null"
      close_code:
        type:
          - string
          - "null"
      fk_account:
        type:
          - string
          - "null"
      extraparams:
        type:
          - array
          - "null"
      note_public:
        type:
          - string
          - "null"
      supplier_id:
        type:
          - number
          - "null"
      fk_incoterms:
        type:
          - string
          - "null"
      note_private:
        type:
          - string
          - "null"
      ref_supplier:
        type:
          - string
          - "null"
      array_options:
        type:
          - array
          - "null"
      date_echeance:
        type:
          - number
          - string
          - "null"
      last_main_doc:
        type:
          - string
          - "null"
      supp_invoice_id:
        type: number
      total_localtax1:
        type:
          - string
          - "null"
      total_localtax2:
        type:
          - string
          - "null"
      fk_multicurrency:
        type:
          - string
          - "null"
      multicurrency_tx:
        type:
          - string
          - "null"
      user_creation_id:
        type:
          - string
          - "null"
      cond_reglement_id:
        type:
          - string
          - "null"
      fk_facture_source:
        type:
          - string
          - "null"
      mode_reglement_id:
        type:
          - string
          - "null"
      cond_reglement_doc:
        type:
          - string
          - "null"
      location_incoterms:
        type:
          - string
          - "null"
      multicurrency_code:
        type:
          - string
          - "null"
      user_validation_id:
        type:
          - string
          - "null"
      vat_reverse_charge:
        type:
          - number
          - "null"
      cond_reglement_code:
        type:
          - string
          - "null"
      mode_reglement_code:
        type:
          - string
          - "null"
      cond_reglement_label:
        type:
          - string
          - "null"
      multicurrency_total_ht:
        type:
          - string
          - "null"
      multicurrency_total_ttc:
        type:
          - string
          - "null"
      multicurrency_total_tva:
        type:
          - string
          - "null"
    additionalProperties: true
  Product categories list:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - category_id
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      color:
        type:
          - string
          - "null"
      label:
        type:
          - string
          - "null"
      childs:
        type:
          - array
          - "null"
      entity:
        type:
          - number
          - "null"
      visible:
        type:
          - number
          - "null"
      position:
        type:
          - string
          - "null"
      specimen:
        type:
          - number
          - "null"
      fk_parent:
        type:
          - number
          - "null"
      multilangs:
        type:
          - array
          - "null"
      category_id:
        type: number
      extraparams:
        type:
          - array
          - "null"
      array_options:
        type:
          - array
          - "null"
      date_creation:
        type:
          - number
          - "null"
      user_creation_id:
        type:
          - number
          - "null"
      date_modification:
        type:
          - number
          - "null"
      user_modification_id:
        type:
          - number
          - "null"
    additionalProperties: true
  Products category id list:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      id:
        type:
          - string
          - "null"
      fk_parent:
        type:
          - number
          - "null"
      product_id:
        type:
          - number
          - "null"
      category_id:
        type:
          - number
          - "null"
      array_options:
        type:
          - array
          - "null"
    additionalProperties: true
  Customer invoices lines list:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      description:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      qty:
        type:
          - string
          - "null"
      ref:
        type:
          - string
          - "null"
      desc:
        type:
          - string
          - "null"
      rang:
        type:
          - string
          - "null"
      pa_ht:
        type:
          - string
          - "null"
      rowid:
        type:
          - string
          - "null"
      tva_tx:
        type:
          - string
          - "null"
      ref_ext:
        type:
          - string
          - "null"
      date_end:
        type:
          - string
          - "null"
      marge_tx:
        type:
          - string
          - "null"
      specimen:
        type:
          - number
          - "null"
      subprice:
        type:
          - string
          - "null"
      total_ht:
        type:
          - string
          - "null"
      info_bits:
        type:
          - string
          - "null"
      marque_tx:
        type:
          - string
          - "null"
      total_ttc:
        type:
          - string
          - "null"
      total_tva:
        type:
          - string
          - "null"
      date_start:
        type:
          - string
          - "null"
      invoice_id:
        type:
          - number
          - "null"
      product_id:
        type:
          - number
          - "null"
      extraparams:
        type:
          - array
          - "null"
      product_ref:
        type:
          - string
          - "null"
      localtax1_tx:
        type:
          - string
          - "null"
      localtax2_tx:
        type:
          - string
          - "null"
      product_desc:
        type:
          - string
          - "null"
      product_type:
        type:
          - string
          - "null"
      special_code:
        type:
          - string
          - "null"
      vat_src_code:
        type:
          - string
          - "null"
      array_options:
        type:
          - array
          - "null"
      product_label:
        type:
          - string
          - "null"
      localtax1_type:
        type:
          - string
          - "null"
      localtax2_type:
        type:
          - string
          - "null"
      parent_element:
        type:
          - string
          - "null"
      remise_percent:
        type:
          - string
          - "null"
      unit_buy_price:
        type:
          - number
          - "null"
      fk_product_type:
        type:
          - string
          - "null"
      product_barcode:
        type:
          - string
          - "null"
      total_localtax1:
        type:
          - string
          - "null"
      total_localtax2:
        type:
          - string
          - "null"
      unit_sell_price:
        type:
          - number
          - "null"
      fk_multicurrency:
        type:
          - string
          - "null"
      total_sell_price:
        type:
          - number
          - "null"
      situation_percent:
        type:
          - string
          - "null"
      multicurrency_code:
        type:
          - string
          - "null"
      fk_code_ventilation:
        type:
          - number
          - "null"
      fk_parent_attribute:
        type:
          - string
          - "null"
      fk_accounting_account:
        type:
          - string
          - "null"
      multicurrency_subprice:
        type:
          - string
          - "null"
      multicurrency_total_ht:
        type:
          - string
          - "null"
      multicurrency_total_ttc:
        type:
          - string
          - "null"
      multicurrency_total_tva:
        type:
          - string
          - "null"
    additionalProperties: true
  Supplier invoices lines list:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      description:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      qty:
        type:
          - string
          - "null"
      desc:
        type:
          - string
          - "null"
      rang:
        type:
          - string
          - "null"
      pu_ht:
        type:
          - string
          - "null"
      pu_ttc:
        type:
          - string
          - "null"
      tva_tx:
        type:
          - string
          - "null"
      specimen:
        type:
          - number
          - "null"
      subprice:
        type:
          - string
          - "null"
      total_ht:
        type:
          - string
          - "null"
      info_bits:
        type:
          - string
          - "null"
      total_ttc:
        type:
          - string
          - "null"
      total_tva:
        type:
          - string
          - "null"
      fk_product:
        type:
          - string
          - "null"
      product_id:
        type:
          - number
          - "null"
      extraparams:
        type:
          - array
          - "null"
      product_ref:
        type:
          - string
          - "null"
      localtax1_tx:
        type:
          - string
          - "null"
      localtax2_tx:
        type:
          - string
          - "null"
      product_desc:
        type:
          - string
          - "null"
      product_type:
        type:
          - string
          - "null"
      ref_supplier:
        type:
          - string
          - "null"
      special_code:
        type:
          - string
          - "null"
      vat_src_code:
        type:
          - string
          - "null"
      array_options:
        type:
          - array
          - "null"
      buy_unit_price:
        type:
          - number
          - "null"
      localtax1_type:
        type:
          - string
          - "null"
      localtax2_type:
        type:
          - string
          - "null"
      remise_percent:
        type:
          - string
          - "null"
      product_barcode:
        type:
          - string
          - "null"
      supp_invoice_id:
        type:
          - number
          - "null"
      total_buy_price:
        type:
          - number
          - "null"
      total_localtax1:
        type:
          - string
          - "null"
      total_localtax2:
        type:
          - string
          - "null"
      fk_facture_fourn:
        type:
          - string
          - "null"
      fk_multicurrency:
        type:
          - string
          - "null"
      multicurrency_code:
        type:
          - string
          - "null"
      fk_accounting_account:
        type:
          - string
          - "null"
      multicurrency_subprice:
        type:
          - string
          - "null"
      multicurrency_total_ht:
        type:
          - string
          - "null"
      multicurrency_total_ttc:
        type:
          - string
          - "null"
      multicurrency_total_tva:
        type:
          - string
          - "null"
    additionalProperties: true
