version: 6.0.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - deals

streams:
  - type: DeclarativeStream
    name: deals
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 20
          start_from_page: 2
      requester:
        type: HttpRequester
        url: https://supplier.ziftone.com/api/dealregistration/deals/
        http_method: GET
        authenticator:
          type: SessionTokenAuthenticator
          login_requester:
            type: HttpRequester
            url: https://supplier.ziftone.com/api/authorization/login
            http_method: POST
            request_body:
              type: RequestBodyJsonObject
              value:
                password: "{{ config['ziftone_password'] }}"
                userType: SUPPLIER
                username: "{{ config['ziftone_username'] }}"
          session_token_path:
            - token
          request_authentication:
            type: ApiKey
            inject_into:
              type: RequestOption
              field_name: Authorization
              inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 10
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 429
                    - 500
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 5
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - content
    primary_key: dealId
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - dealId
          - updateDate
        properties:
          description:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          stage:
            type:
              - string
              - "null"
          active:
            type:
              - boolean
              - "null"
          dealId:
            type: string
          source:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          clientId:
            type:
              - string
              - "null"
          currency:
            type:
              - object
              - "null"
            properties:
              symbol:
                type:
                  - string
                  - "null"
              currencyCode:
                type:
                  - string
                  - "null"
          accountId:
            type:
              - string
              - "null"
          closeDate:
            type:
              - string
              - "null"
          partnerId:
            type:
              - string
              - "null"
          pushToPRM:
            type:
              - boolean
              - "null"
          createDate:
            type:
              - string
              - "null"
          dealTypeId:
            type:
              - string
              - "null"
          externalId:
            type:
              - string
              - "null"
          rejectDate:
            type:
              - string
              - "null"
          submitDate:
            type:
              - string
              - "null"
          totalValue:
            type:
              - number
              - "null"
          updateDate:
            type: string
          accountName:
            type:
              - string
              - "null"
          approveDate:
            type:
              - string
              - "null"
          ownerUserId:
            type:
              - string
              - "null"
          pricebookId:
            type:
              - string
              - "null"
          customFields:
            type:
              - object
              - "null"
            properties:
              Customer City:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              Customer Name:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              Public Sector?:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              Renewal/Growth:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              Customer Country:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              forecastCategory:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              Expiration_Date__c:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              Reseller Sales Rep:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              Distributor Sales Rep:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              Customer Street Address:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              Customer Technical User:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              Reseller Sales Rep Email:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              Distributor Sales Rep Email:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              Customer Technical User Email:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              Do Not Create Opportunity Upon Conversion:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
          dealContacts:
            type:
              - array
              - "null"
          dealSalesRep:
            type:
              - object
              - "null"
            properties:
              source:
                type:
                  - string
                  - "null"
              clientId:
                type:
                  - string
                  - "null"
              createDate:
                type:
                  - string
                  - "null"
              updateDate:
                type:
                  - string
                  - "null"
              zift123UserId:
                type:
                  - string
                  - "null"
              dealSalesRepId:
                type:
                  - string
                  - "null"
          closePercentage:
            type:
              - number
              - "null"
          createdByUserId:
            type:
              - string
              - "null"
          dealAttachments:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                source:
                  type:
                    - string
                    - "null"
                clientId:
                  type:
                    - string
                    - "null"
                attachment:
                  type:
                    - string
                    - "null"
                createDate:
                  type:
                    - string
                    - "null"
                externalId:
                  type:
                    - string
                    - "null"
                updateDate:
                  type:
                    - string
                    - "null"
                externalSourceIntegrationId:
                  type:
                    - string
                    - "null"
          updatedByUserId:
            type:
              - string
              - "null"
          dealSalesRepRole:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              source:
                type:
                  - string
                  - "null"
              clientId:
                type:
                  - string
                  - "null"
              createDate:
                type:
                  - string
                  - "null"
              updateDate:
                type:
                  - string
                  - "null"
          partnerExternalId:
            type:
              - string
              - "null"
          coSellingPartnerId:
            type:
              - string
              - "null"
          createdByZift123UserId:
            type:
              - string
              - "null"
          externalSourceIntegrationId:
            type:
              - string
              - "null"
          partnerExternalSourceIntegrationId:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updateDate
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('start_time') or '2000-01-01T00:00:00Z' }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: updateDateFrom
        inject_into: request_parameter

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - ziftone_username
      - ziftone_password
    properties:
      start_time:
        type: string
        order: 2
        title: Start time
        format: date-time
        default: "2026-01-01T00:00:00Z"
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      ziftone_password:
        type: string
        order: 1
        title: ZiftONE Password
        airbyte_secret: true
      ziftone_username:
        type: string
        description: An email address
        order: 0
        title: ZiftONE Username
    additionalProperties: true

metadata:
  testedStreams:
    deals:
      isStale: false
      hasRecords: true
      streamHash: 1db6b6cb4e0b6ced414aa9a60ecbf146c14d5e97
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    stream_0:
      streamHash: ad11f9fa446b445a056b0f48d54e74059e0bc977
  autoImportSchema:
    deals: true

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 1

