version: 5.11.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - system_status_tools

definitions:
  streams:
    customers:
      type: DeclarativeStream
      name: customers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /customers
          http_method: GET
          request_parameters:
            order: asc
            orderby: id
            dates_are_gmt: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customers"
    coupons:
      type: DeclarativeStream
      name: coupons
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /coupons
          http_method: GET
          request_parameters:
            order: asc
            orderby: id
            dates_are_gmt: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_modified_gmt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%S') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S"
        start_time_option:
          type: RequestOption
          field_name: modified_after
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: modified_before
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S"
        step: P30D
        cursor_granularity: PT1S
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/coupons"
    orders:
      type: DeclarativeStream
      name: orders
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /orders
          http_method: GET
          request_parameters:
            order: asc
            orderby: id
            dates_are_gmt: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_modified_gmt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%S') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S"
        start_time_option:
          type: RequestOption
          field_name: modified_after
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: modified_before
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S"
        step: P30D
        cursor_granularity: PT1S
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/orders"
    order_notes:
      type: DeclarativeStream
      name: order_notes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /orders/{{ stream_slice.id }}/notes
          http_method: GET
          request_parameters:
            order: asc
            orderby: id
            dates_are_gmt: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/orders"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/order_notes"
    payment_gateways:
      type: DeclarativeStream
      name: payment_gateways
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /payment_gateways
          http_method: GET
          request_parameters:
            order: asc
            orderby: id
            dates_are_gmt: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/payment_gateways"
    products:
      type: DeclarativeStream
      name: products
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /products
          http_method: GET
          request_parameters:
            order: asc
            orderby: id
            dates_are_gmt: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_modified_gmt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%S') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S"
        start_time_option:
          type: RequestOption
          field_name: modified_after
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: modified_before
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S"
        step: P30D
        cursor_granularity: PT1S
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
    product_attributes:
      type: DeclarativeStream
      name: product_attributes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /products/attributes
          http_method: GET
          request_parameters:
            order: asc
            orderby: id
            dates_are_gmt: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_attributes"
    product_attribute_terms:
      type: DeclarativeStream
      name: product_attribute_terms
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /products/attributes/{{ stream_slice.id }}/terms
          http_method: GET
          request_parameters:
            order: asc
            orderby: id
            dates_are_gmt: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/product_attributes"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_attribute_terms"
    product_categories:
      type: DeclarativeStream
      name: product_categories
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /products/categories
          http_method: GET
          request_parameters:
            order: asc
            orderby: id
            dates_are_gmt: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_categories"
    product_reviews:
      type: DeclarativeStream
      name: product_reviews
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /products/reviews
          http_method: GET
          request_parameters:
            order: asc
            orderby: id
            dates_are_gmt: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_created_gmt
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%S') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S"
        start_time_option:
          type: RequestOption
          field_name: after
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: before
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S"
        step: P30D
        cursor_granularity: PT1S
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_reviews"
    product_shipping_classes:
      type: DeclarativeStream
      name: product_shipping_classes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /products/shipping_classes
          http_method: GET
          request_parameters:
            order: asc
            orderby: id
            dates_are_gmt: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_shipping_classes"
    product_tags:
      type: DeclarativeStream
      name: product_tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /products/tags
          http_method: GET
          request_parameters:
            order: asc
            orderby: id
            dates_are_gmt: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_tags"
    product_variations:
      type: DeclarativeStream
      name: product_variations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /products/{{ stream_slice.id }}/variations
          http_method: GET
          request_parameters:
            order: asc
            orderby: id
            dates_are_gmt: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/products"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_variations"
    refunds:
      type: DeclarativeStream
      name: refunds
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /orders/{{ stream_slice.id }}/refunds
          http_method: GET
          request_parameters:
            order: asc
            orderby: id
            dates_are_gmt: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/orders"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/refunds"
    shipping_methods:
      type: DeclarativeStream
      name: shipping_methods
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /shipping_methods
          http_method: GET
          request_parameters:
            order: asc
            orderby: id
            dates_are_gmt: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shipping_methods"
    shipping_zone_locations:
      type: DeclarativeStream
      name: shipping_zone_locations
      primary_key:
        - code
        - type
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /shipping/zones/{{ stream_slice.id }}/locations
          http_method: GET
          request_parameters:
            order: asc
            orderby: id
            dates_are_gmt: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/shipping_zones"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shipping_zone_locations"
    shipping_zone_methods:
      type: DeclarativeStream
      name: shipping_zone_methods
      primary_key:
        - instance_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /shipping/zones/{{ stream_slice.id }}/methods
          http_method: GET
          request_parameters:
            order: asc
            orderby: id
            dates_are_gmt: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/shipping_zones"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shipping_zone_methods"
    shipping_zones:
      type: DeclarativeStream
      name: shipping_zones
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /shipping/zones
          http_method: GET
          request_parameters:
            order: asc
            orderby: id
            dates_are_gmt: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shipping_zones"
    system_status_tools:
      type: DeclarativeStream
      name: system_status_tools
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /system_status/tools
          http_method: GET
          request_parameters:
            order: asc
            orderby: id
            dates_are_gmt: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/system_status_tools"
    tax_classes:
      type: DeclarativeStream
      name: tax_classes
      primary_key:
        - slug
        - name
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /taxes/classes
          http_method: GET
          request_parameters:
            order: asc
            orderby: id
            dates_are_gmt: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tax_classes"
    tax_rates:
      type: DeclarativeStream
      name: tax_rates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /taxes
          http_method: GET
          request_parameters:
            order: asc
            orderby: id
            dates_are_gmt: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: per_page
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tax_rates"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['shop'] }}/wp-json/wc/v3
    authenticator:
      type: BasicHttpAuthenticator
      password: "{{ config[\"api_secret\"] }}"
      username: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/customers"
  - $ref: "#/definitions/streams/coupons"
  - $ref: "#/definitions/streams/orders"
  - $ref: "#/definitions/streams/order_notes"
  - $ref: "#/definitions/streams/payment_gateways"
  - $ref: "#/definitions/streams/products"
  - $ref: "#/definitions/streams/product_attributes"
  - $ref: "#/definitions/streams/product_attribute_terms"
  - $ref: "#/definitions/streams/product_categories"
  - $ref: "#/definitions/streams/product_reviews"
  - $ref: "#/definitions/streams/product_shipping_classes"
  - $ref: "#/definitions/streams/product_tags"
  - $ref: "#/definitions/streams/product_variations"
  - $ref: "#/definitions/streams/refunds"
  - $ref: "#/definitions/streams/shipping_methods"
  - $ref: "#/definitions/streams/shipping_zone_locations"
  - $ref: "#/definitions/streams/shipping_zone_methods"
  - $ref: "#/definitions/streams/shipping_zones"
  - $ref: "#/definitions/streams/system_status_tools"
  - $ref: "#/definitions/streams/tax_classes"
  - $ref: "#/definitions/streams/tax_rates"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - api_secret
      - shop
      - start_date
    properties:
      api_key:
        type: string
        description: Customer Key for API in WooCommerce shop
        order: 0
        title: Customer Key
        airbyte_secret: true
      api_secret:
        type: string
        description: Customer Secret for API in WooCommerce shop
        order: 1
        title: Customer Secret
        airbyte_secret: true
      shop:
        type: string
        description: >-
          The name of the store. For https://EXAMPLE.com, the shop name is
          'EXAMPLE.com'.
        order: 2
        title: Shop Name
      start_date:
        type: string
        description: "The date you would like to replicate data from. Format: YYYY-MM-DD"
        order: 3
        title: Start Date
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        examples:
          - "2021-01-01"
    additionalProperties: true

metadata:
  autoImportSchema:
    customers: false
    coupons: false
    orders: false
    order_notes: false
    payment_gateways: false
    products: false
    product_attributes: false
    product_attribute_terms: false
    product_categories: false
    product_reviews: false
    product_shipping_classes: false
    product_tags: false
    product_variations: false
    refunds: false
    shipping_methods: false
    shipping_zone_locations: false
    shipping_zone_methods: false
    shipping_zones: false
    system_status_tools: false
    tax_classes: false
    tax_rates: false
  testedStreams:
    customers:
      streamHash: 070143b0c470984cd00aee6050306837843750c8
    coupons:
      streamHash: bff3744bf55baf863af8316e59c58b932742dbfc
    orders:
      streamHash: 9d6e909ae12490a8b96453bc175c4b23cc504600
    order_notes:
      streamHash: ef9ea2c428d587a01042081fd8e0128c4884faab
    payment_gateways:
      streamHash: 38fc0d41eac644e16cb0b59315f62fd89cdee87c
    products:
      streamHash: fc81bd187fee2bd48eca86984fb58f82dd870aa9
    product_attributes:
      streamHash: 24b7d4a14d78c515b7ecdfb400238d6a533038be
    product_attribute_terms:
      streamHash: 97788fd119e8a4bda4820f7be349f088c23baa66
    product_categories:
      streamHash: 4f19b55192610a6ea5f0000b9309cf37fa9e7bc0
    product_reviews:
      streamHash: ef4581c33ff0bc5a4bc2fa896a52fe65a8f87138
    product_shipping_classes:
      streamHash: 2bea2b5f00893f177f805e4e4649c2059a7e8bf5
    product_tags:
      streamHash: 9848c617ab846df5ca3fc6a671e5d746acc09909
    product_variations:
      streamHash: 1c8fa1cb4286e336c544b1b00edabc3b63467835
    refunds:
      streamHash: 7ebc5935539d726557099606941332fa3a6115c4
    shipping_methods:
      streamHash: 6d410feb1c14eb28fce0572f4c9c717751889af8
    shipping_zone_locations:
      streamHash: 28dc249bfe4b426c7eacc8bf51aaca2d094f1d11
    shipping_zone_methods:
      streamHash: 0e353ad636b7696041131d5293c620ba6ff59bee
    shipping_zones:
      streamHash: b751f18a74b47e39cc046c260038ed11fd5dca15
    system_status_tools:
      streamHash: 94dd8268e1dcfad716fcbb4fc2c1af4be87ec3e7
    tax_classes:
      streamHash: a6b0ddd8a2e029ffae9f706fba02280ad6bf01f8
    tax_rates:
      streamHash: 96a769525b5633fa86f4c9795a61fba64b02ead8
  assist: {}

schemas:
  customers:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      _links:
        type:
          - "null"
          - object
        properties:
          collection:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties:
                href:
                  type:
                    - "null"
                    - string
          self:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties:
                href:
                  type:
                    - "null"
                    - string
      avatar_url:
        type:
          - "null"
          - string
      billing:
        type:
          - "null"
          - object
        properties:
          address_1:
            type:
              - "null"
              - string
          address_2:
            type:
              - "null"
              - string
          city:
            type:
              - "null"
              - string
          company:
            type:
              - "null"
              - string
          country:
            type:
              - "null"
              - string
          email:
            type:
              - "null"
              - string
          first_name:
            type:
              - "null"
              - string
          last_name:
            type:
              - "null"
              - string
          phone:
            type:
              - "null"
              - string
          postcode:
            type:
              - "null"
              - string
          state:
            type:
              - "null"
              - string
      date_created:
        type:
          - "null"
          - string
        format: date-time
      date_created_gmt:
        type:
          - "null"
          - string
        format: date-time
      date_modified:
        type:
          - "null"
          - string
        format: date-time
      date_modified_gmt:
        type:
          - "null"
          - string
        format: date-time
      email:
        type:
          - "null"
          - string
      first_name:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - integer
      is_paying_customer:
        type:
          - "null"
          - boolean
      last_name:
        type:
          - "null"
          - string
      meta_data:
        type:
          - "null"
          - array
          - object
        oneOf:
          - type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - integer
              key:
                type:
                  - "null"
                  - string
              value:
                type:
                  - "null"
                  - object
                  - string
                  - array
          - type: array
            items:
              type:
                - "null"
                - object
              properties:
                id:
                  type:
                    - "null"
                    - integer
                key:
                  type:
                    - "null"
                    - string
                value:
                  type:
                    - "null"
                    - object
                    - string
                    - array
      role:
        type:
          - "null"
          - string
      shipping:
        type:
          - "null"
          - object
        properties:
          address_1:
            type:
              - "null"
              - string
          address_2:
            type:
              - "null"
              - string
          city:
            type:
              - "null"
              - string
          company:
            type:
              - "null"
              - string
          country:
            type:
              - "null"
              - string
          first_name:
            type:
              - "null"
              - string
          last_name:
            type:
              - "null"
              - string
          postcode:
            type:
              - "null"
              - string
          state:
            type:
              - "null"
              - string
      shop_url:
        type:
          - "null"
          - string
      username:
        type:
          - "null"
          - string
  coupons:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - "null"
          - string
      _links:
        type:
          - "null"
          - object
        properties:
          collection:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties:
                href:
                  type:
                    - "null"
                    - string
          self:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties:
                href:
                  type:
                    - "null"
                    - string
      amount:
        type:
          - "null"
          - string
      code:
        type:
          - "null"
          - string
      date_created:
        type:
          - "null"
          - string
        format: date-time
      date_created_gmt:
        type:
          - "null"
          - string
        format: date-time
      date_expires:
        type:
          - "null"
          - string
      date_expires_gmt:
        type:
          - "null"
          - string
      date_modified:
        type:
          - "null"
          - string
        format: date-time
      date_modified_gmt:
        type:
          - "null"
          - string
        format: date-time
      discount_type:
        type:
          - "null"
          - string
      email_restrictions:
        type:
          - "null"
          - array
      exclude_sale_items:
        type:
          - "null"
          - boolean
      excluded_product_categories:
        type:
          - "null"
          - array
      excluded_product_ids:
        type:
          - "null"
          - array
      free_shipping:
        type:
          - "null"
          - boolean
      id:
        type:
          - "null"
          - integer
      individual_use:
        type:
          - "null"
          - boolean
      limit_usage_to_x_items:
        type:
          - "null"
          - integer
      maximum_amount:
        type:
          - "null"
          - string
      meta_data:
        type:
          - "null"
          - array
          - object
        oneOf:
          - type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - integer
              key:
                type:
                  - "null"
                  - string
              value:
                type:
                  - "null"
                  - object
                  - string
                  - array
          - type: array
            items:
              type:
                - "null"
                - object
              properties:
                id:
                  type:
                    - "null"
                    - integer
                key:
                  type:
                    - "null"
                    - string
                value:
                  type:
                    - "null"
                    - object
                    - string
                    - array
      minimum_amount:
        type:
          - "null"
          - string
      product_categories:
        type:
          - "null"
          - array
      product_ids:
        type:
          - "null"
          - array
      shop_url:
        type:
          - "null"
          - string
      usage_count:
        type:
          - "null"
          - integer
      usage_limit:
        type:
          - "null"
          - integer
      usage_limit_per_user:
        type:
          - "null"
          - integer
      used_by:
        type:
          - "null"
          - array
  orders:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      version:
        type:
          - "null"
          - string
      _links:
        type:
          - "null"
          - object
        properties:
          collection:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties:
                href:
                  type:
                    - "null"
                    - string
          self:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties:
                href:
                  type:
                    - "null"
                    - string
      billing:
        type:
          - "null"
          - object
        properties:
          address_1:
            type:
              - "null"
              - string
          address_2:
            type:
              - "null"
              - string
          city:
            type:
              - "null"
              - string
          company:
            type:
              - "null"
              - string
          country:
            type:
              - "null"
              - string
          email:
            type:
              - "null"
              - string
          first_name:
            type:
              - "null"
              - string
          last_name:
            type:
              - "null"
              - string
          phone:
            type:
              - "null"
              - string
          postcode:
            type:
              - "null"
              - string
          state:
            type:
              - "null"
              - string
      cart_hash:
        type:
          - "null"
          - string
      cart_tax:
        type:
          - "null"
          - string
      coupon_lines:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            code:
              type:
                - "null"
                - string
            discount:
              type:
                - "null"
                - string
            discount_tax:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
            meta_data:
              type:
                - "null"
                - array
                - object
              oneOf:
                - type:
                    - "null"
                    - object
                  properties:
                    id:
                      type:
                        - "null"
                        - integer
                    key:
                      type:
                        - "null"
                        - string
                    value:
                      type:
                        - "null"
                        - object
                        - string
                        - array
                - type: array
                  items:
                    type:
                      - "null"
                      - object
                    properties:
                      id:
                        type:
                          - "null"
                          - integer
                      key:
                        type:
                          - "null"
                          - string
                      value:
                        type:
                          - "null"
                          - object
                          - string
                          - array
      created_via:
        type:
          - "null"
          - string
      currency:
        type:
          - "null"
          - string
      customer_id:
        type:
          - "null"
          - integer
      customer_ip_address:
        type:
          - "null"
          - string
      customer_note:
        type:
          - "null"
          - string
      customer_user_agent:
        type:
          - "null"
          - string
      date_completed:
        type:
          - "null"
          - string
        format: date-time
      date_completed_gmt:
        type:
          - "null"
          - string
        format: date-time
      date_created:
        type:
          - "null"
          - string
        format: date-time
      date_created_gmt:
        type:
          - "null"
          - string
        format: date-time
      date_modified:
        type:
          - "null"
          - string
        format: date-time
      date_modified_gmt:
        type:
          - "null"
          - string
        format: date-time
      date_paid:
        type:
          - "null"
          - string
        format: date-time
      date_paid_gmt:
        type:
          - "null"
          - string
        format: date-time
      discount_tax:
        type:
          - "null"
          - string
      discount_total:
        type:
          - "null"
          - string
      fee_lines:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            id:
              type:
                - "null"
                - integer
            meta_data:
              type:
                - "null"
                - array
                - object
              oneOf:
                - type:
                    - "null"
                    - object
                  properties:
                    id:
                      type:
                        - "null"
                        - integer
                    key:
                      type:
                        - "null"
                        - string
                    value:
                      type:
                        - "null"
                        - object
                        - string
                        - array
                - type: array
                  items:
                    type:
                      - "null"
                      - object
                    properties:
                      id:
                        type:
                          - "null"
                          - integer
                      key:
                        type:
                          - "null"
                          - string
                      value:
                        type:
                          - "null"
                          - object
                          - string
                          - array
            name:
              type:
                - "null"
                - string
            tax_class:
              type:
                - "null"
                - string
            tax_status:
              type:
                - "null"
                - string
            taxes:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                properties:
                  compound:
                    type:
                      - "null"
                      - boolean
                  id:
                    type:
                      - "null"
                      - integer
                  label:
                    type:
                      - "null"
                      - string
                  meta_data:
                    type:
                      - "null"
                      - array
                      - object
                    oneOf:
                      - type:
                          - "null"
                          - object
                        properties:
                          id:
                            type:
                              - "null"
                              - integer
                          key:
                            type:
                              - "null"
                              - string
                          value:
                            type:
                              - "null"
                              - object
                              - string
                              - array
                      - type: array
                        items:
                          type:
                            - "null"
                            - object
                          properties:
                            id:
                              type:
                                - "null"
                                - integer
                            key:
                              type:
                                - "null"
                                - string
                            value:
                              type:
                                - "null"
                                - object
                                - string
                                - array
                  rate_code:
                    type:
                      - "null"
                      - string
                  rate_id:
                    type:
                      - "null"
                      - string
                  shipping_tax_total:
                    type:
                      - "null"
                      - string
                  tax_total:
                    type:
                      - "null"
                      - string
            total:
              type:
                - "null"
                - string
            total_tax:
              type:
                - "null"
                - string
      id:
        type:
          - "null"
          - integer
      line_items:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            id:
              type:
                - "null"
                - integer
            meta_data:
              type:
                - "null"
                - array
                - object
              oneOf:
                - type:
                    - "null"
                    - object
                  properties:
                    id:
                      type:
                        - "null"
                        - integer
                    key:
                      type:
                        - "null"
                        - string
                    value:
                      type:
                        - "null"
                        - object
                        - string
                        - array
                - type: array
                  items:
                    type:
                      - "null"
                      - object
                    properties:
                      id:
                        type:
                          - "null"
                          - integer
                      key:
                        type:
                          - "null"
                          - string
                      value:
                        type:
                          - "null"
                          - object
                          - string
                          - array
            name:
              type:
                - "null"
                - string
            price:
              type:
                - "null"
                - number
            product_id:
              type:
                - "null"
                - integer
            quantity:
              type:
                - "null"
                - number
            sku:
              type:
                - "null"
                - string
            subtotal:
              type:
                - "null"
                - string
            subtotal_tax:
              type:
                - "null"
                - string
            tax_class:
              type:
                - "null"
                - string
            taxes:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                properties:
                  compound:
                    type:
                      - "null"
                      - boolean
                  id:
                    type:
                      - "null"
                      - integer
                  label:
                    type:
                      - "null"
                      - string
                  meta_data:
                    type:
                      - "null"
                      - array
                      - object
                    oneOf:
                      - type:
                          - "null"
                          - object
                        properties:
                          id:
                            type:
                              - "null"
                              - integer
                          key:
                            type:
                              - "null"
                              - string
                          value:
                            type:
                              - "null"
                              - object
                              - string
                              - array
                      - type: array
                        items:
                          type:
                            - "null"
                            - object
                          properties:
                            id:
                              type:
                                - "null"
                                - integer
                            key:
                              type:
                                - "null"
                                - string
                            value:
                              type:
                                - "null"
                                - object
                                - string
                                - array
                  rate_code:
                    type:
                      - "null"
                      - string
                  rate_id:
                    type:
                      - "null"
                      - string
                  shipping_tax_total:
                    type:
                      - "null"
                      - string
                  tax_total:
                    type:
                      - "null"
                      - string
            total:
              type:
                - "null"
                - string
            total_tax:
              type:
                - "null"
                - string
            variation_id:
              type:
                - "null"
                - integer
      meta_data:
        type:
          - "null"
          - array
          - object
        oneOf:
          - type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - integer
              key:
                type:
                  - "null"
                  - string
              value:
                type:
                  - "null"
                  - object
                  - string
                  - array
          - type: array
            items:
              type:
                - "null"
                - object
              properties:
                id:
                  type:
                    - "null"
                    - integer
                key:
                  type:
                    - "null"
                    - string
                value:
                  type:
                    - "null"
                    - object
                    - string
                    - array
      number:
        type:
          - "null"
          - string
      order_key:
        type:
          - "null"
          - string
      parent_id:
        type:
          - "null"
          - integer
      payment_method:
        type:
          - "null"
          - string
      payment_method_title:
        type:
          - "null"
          - string
      prices_include_tax:
        type:
          - "null"
          - boolean
      refunds:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            id:
              type:
                - "null"
                - integer
            reason:
              type:
                - "null"
                - string
            total:
              type:
                - "null"
                - string
      set_paid:
        type:
          - "null"
          - boolean
      shipping:
        type:
          - "null"
          - object
        properties:
          address_1:
            type:
              - "null"
              - string
          address_2:
            type:
              - "null"
              - string
          city:
            type:
              - "null"
              - string
          company:
            type:
              - "null"
              - string
          country:
            type:
              - "null"
              - string
          first_name:
            type:
              - "null"
              - string
          last_name:
            type:
              - "null"
              - string
          postcode:
            type:
              - "null"
              - string
          state:
            type:
              - "null"
              - string
      shipping_lines:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            id:
              type:
                - "null"
                - integer
            meta_data:
              type:
                - "null"
                - array
                - object
              oneOf:
                - type:
                    - "null"
                    - object
                  properties:
                    id:
                      type:
                        - "null"
                        - integer
                    key:
                      type:
                        - "null"
                        - string
                    value:
                      type:
                        - "null"
                        - object
                        - string
                        - array
                - type: array
                  items:
                    type:
                      - "null"
                      - object
                    properties:
                      id:
                        type:
                          - "null"
                          - integer
                      key:
                        type:
                          - "null"
                          - string
                      value:
                        type:
                          - "null"
                          - object
                          - string
                          - array
            method_id:
              type:
                - "null"
                - string
            method_title:
              type:
                - "null"
                - string
            taxes:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                properties:
                  compound:
                    type:
                      - "null"
                      - boolean
                  id:
                    type:
                      - "null"
                      - integer
                  label:
                    type:
                      - "null"
                      - string
                  meta_data:
                    type:
                      - "null"
                      - array
                      - object
                    oneOf:
                      - type:
                          - "null"
                          - object
                        properties:
                          id:
                            type:
                              - "null"
                              - integer
                          key:
                            type:
                              - "null"
                              - string
                          value:
                            type:
                              - "null"
                              - object
                              - string
                              - array
                      - type: array
                        items:
                          type:
                            - "null"
                            - object
                          properties:
                            id:
                              type:
                                - "null"
                                - integer
                            key:
                              type:
                                - "null"
                                - string
                            value:
                              type:
                                - "null"
                                - object
                                - string
                                - array
                  rate_code:
                    type:
                      - "null"
                      - string
                  rate_id:
                    type:
                      - "null"
                      - string
                  shipping_tax_total:
                    type:
                      - "null"
                      - string
                  tax_total:
                    type:
                      - "null"
                      - string
            total:
              type:
                - "null"
                - string
            total_tax:
              type:
                - "null"
                - string
      shipping_tax:
        type:
          - "null"
          - string
      shipping_total:
        type:
          - "null"
          - string
      shop_url:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      tax_lines:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            compound:
              type:
                - "null"
                - boolean
            id:
              type:
                - "null"
                - integer
            label:
              type:
                - "null"
                - string
            meta_data:
              type:
                - "null"
                - array
                - object
              oneOf:
                - type:
                    - "null"
                    - object
                  properties:
                    id:
                      type:
                        - "null"
                        - integer
                    key:
                      type:
                        - "null"
                        - string
                    value:
                      type:
                        - "null"
                        - object
                        - string
                        - array
                - type: array
                  items:
                    type:
                      - "null"
                      - object
                    properties:
                      id:
                        type:
                          - "null"
                          - integer
                      key:
                        type:
                          - "null"
                          - string
                      value:
                        type:
                          - "null"
                          - object
                          - string
                          - array
            rate_code:
              type:
                - "null"
                - string
            rate_id:
              type:
                - "null"
                - string
            shipping_tax_total:
              type:
                - "null"
                - string
            tax_total:
              type:
                - "null"
                - string
      total:
        type:
          - "null"
          - string
      total_tax:
        type:
          - "null"
          - string
      transaction_id:
        type:
          - "null"
          - string
  order_notes:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      added_by_user:
        type:
          - "null"
          - boolean
      author:
        type:
          - "null"
          - string
      custom_note:
        type:
          - "null"
          - boolean
      date_created:
        type:
          - "null"
          - string
        format: date-time
      date_created_gmt:
        type:
          - "null"
          - string
        format: date-time
      id:
        type:
          - "null"
          - integer
      note:
        type:
          - "null"
          - string
  payment_gateways:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - "null"
          - string
      enabled:
        type:
          - "null"
          - boolean
      id:
        type:
          - "null"
          - string
      method_description:
        type:
          - "null"
          - string
      method_supports:
        type:
          - "null"
          - array
      method_title:
        type:
          - "null"
          - string
      order:
        type:
          - "null"
          - string
          - integer
      settings:
        type:
          - "null"
          - object
        properties:
          type:
            type:
              - "null"
              - string
          description:
            type:
              - "null"
              - string
          default:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          label:
            type:
              - "null"
              - string
          placeholder:
            type:
              - "null"
              - string
          tip:
            type:
              - "null"
              - string
          value:
            type:
              - "null"
              - string
      title:
        type:
          - "null"
          - string
  products:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      description:
        type:
          - "null"
          - string
      attributes:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            id:
              type:
                - "null"
                - integer
            name:
              type:
                - "null"
                - string
            options:
              type:
                - "null"
                - array
            position:
              type:
                - "null"
                - integer
            variation:
              type:
                - "null"
                - boolean
            visible:
              type:
                - "null"
                - boolean
      average_rating:
        type:
          - "null"
          - string
      backordered:
        type:
          - "null"
          - boolean
      backorders:
        type:
          - "null"
          - string
      backorders_allowed:
        type:
          - "null"
          - boolean
      button_text:
        type:
          - "null"
          - string
      catalog_visibility:
        type:
          - "null"
          - string
      categories:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            id:
              type:
                - "null"
                - integer
            name:
              type:
                - "null"
                - string
            slug:
              type:
                - "null"
                - string
      cross_sell_ids:
        type:
          - "null"
          - array
      date_created:
        type:
          - "null"
          - string
        format: date-time
      date_created_gmt:
        type:
          - "null"
          - string
        format: date-time
      date_modified:
        type:
          - "null"
          - string
        format: date-time
      date_modified_gmt:
        type:
          - "null"
          - string
        format: date-time
      date_on_sale_from:
        type:
          - "null"
          - string
        format: date-time
      date_on_sale_from_gmt:
        type:
          - "null"
          - string
        format: date-time
      date_on_sale_to:
        type:
          - "null"
          - string
        format: date-time
      date_on_sale_to_gmt:
        type:
          - "null"
          - string
        format: date-time
      default_attributes:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            id:
              type:
                - "null"
                - integer
            name:
              type:
                - "null"
                - string
            option:
              type:
                - "null"
                - string
      dimensions:
        type:
          - "null"
          - object
        properties:
          height:
            type:
              - "null"
              - string
          length:
            type:
              - "null"
              - string
          width:
            type:
              - "null"
              - string
      download_expiry:
        type:
          - "null"
          - integer
      download_limit:
        type:
          - "null"
          - integer
      downloadable:
        type:
          - "null"
          - boolean
      downloads:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            file:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
            name:
              type:
                - "null"
                - string
      external_url:
        type:
          - "null"
          - string
      features:
        type:
          - "null"
          - boolean
      grouped_products:
        type:
          - "null"
          - array
      id:
        type:
          - "null"
          - integer
      images:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            alt:
              type:
                - "null"
                - string
            date_created:
              type:
                - "null"
                - string
              format: date-time
            date_created_gmt:
              type:
                - "null"
                - string
              format: date-time
            date_modified:
              type:
                - "null"
                - string
              format: date-time
            date_modified_gmt:
              type:
                - "null"
                - string
              format: date-time
            id:
              type:
                - "null"
                - integer
            name:
              type:
                - "null"
                - string
            src:
              type:
                - "null"
                - string
      jetpack-related-posts:
        type: array
        items:
          type: object
          properties:
            author:
              type:
                - "null"
                - string
            block_context:
              type: object
              properties:
                link:
                  type:
                    - "null"
                    - string
                text:
                  type:
                    - "null"
                    - string
            classes:
              type:
                - "null"
                - array
            context:
              type:
                - "null"
                - string
            date:
              type:
                - "null"
                - string
            excerpt:
              type:
                - "null"
                - string
            format:
              type:
                - "null"
                - boolean
            id:
              type:
                - "null"
                - integer
            img:
              type:
                - "null"
                - object
              properties:
                alt_text:
                  type:
                    - "null"
                    - string
                height:
                  type:
                    - "null"
                    - integer
                src:
                  type:
                    - "null"
                    - string
                width:
                  type:
                    - "null"
                    - integer
            rel:
              type:
                - "null"
                - string
            title:
              type:
                - "null"
                - string
            url:
              type:
                - "null"
                - string
            url_meta:
              type:
                - "null"
                - object
              properties:
                origin:
                  type:
                    - "null"
                    - integer
                position:
                  type:
                    - "null"
                    - integer
      manage_stock:
        type:
          - "null"
          - boolean
      menu_order:
        type:
          - "null"
          - integer
      meta_data:
        type:
          - "null"
          - array
          - object
        oneOf:
          - type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - integer
              key:
                type:
                  - "null"
                  - string
              value:
                type:
                  - "null"
                  - object
                  - string
                  - array
          - type: array
            items:
              type:
                - "null"
                - object
              properties:
                id:
                  type:
                    - "null"
                    - integer
                key:
                  type:
                    - "null"
                    - string
                value:
                  type:
                    - "null"
                    - object
                    - string
                    - array
      name:
        type:
          - "null"
          - string
      on_sale:
        type:
          - "null"
          - boolean
      parent_id:
        type:
          - "null"
          - integer
      permalink:
        type:
          - "null"
          - string
      price:
        type:
          - "null"
          - string
      price_html:
        type:
          - "null"
          - string
      purchasable:
        type:
          - "null"
          - boolean
      purchase_note:
        type:
          - "null"
          - string
      rating_count:
        type:
          - "null"
          - integer
      regular_price:
        type:
          - "null"
          - string
      related_ids:
        type:
          - "null"
          - array
      reviews_allowed:
        type:
          - "null"
          - boolean
      sale_price:
        type:
          - "null"
          - string
      shipping_class:
        type:
          - "null"
          - string
      shipping_class_id:
        type:
          - "null"
          - integer
      shipping_required:
        type:
          - "null"
          - boolean
      shipping_taxable:
        type:
          - "null"
          - boolean
      short_description:
        type:
          - "null"
          - string
      sku:
        type:
          - "null"
          - string
      slug:
        type:
          - "null"
          - string
      sold_individually:
        type:
          - "null"
          - boolean
      status:
        type:
          - "null"
          - string
      stock_quantity:
        type:
          - "null"
          - integer
      stock_status:
        type:
          - "null"
          - string
      tags:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            id:
              type:
                - "null"
                - integer
            name:
              type:
                - "null"
                - string
            slug:
              type:
                - "null"
                - string
      tax_class:
        type:
          - "null"
          - string
      tax_status:
        type:
          - "null"
          - string
      total_sales:
        type:
          - "null"
          - integer
      upsell_ids:
        type:
          - "null"
          - array
      variations:
        type:
          - "null"
          - array
      virtual:
        type:
          - "null"
          - boolean
      weight:
        type:
          - "null"
          - string
  product_attributes:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      has_archives:
        type:
          - "null"
          - boolean
      id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      order_by:
        type:
          - "null"
          - string
      slug:
        type:
          - "null"
          - string
  product_attribute_terms:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - "null"
          - string
      count:
        type:
          - "null"
          - integer
      id:
        type:
          - "null"
          - integer
      menu_order:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      slug:
        type:
          - "null"
          - string
  product_categories:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - "null"
          - string
      count:
        type:
          - "null"
          - integer
      display:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - integer
      image:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            alt:
              type:
                - "null"
                - string
            date_created:
              type:
                - "null"
                - string
              format: date-time
            date_created_gmt:
              type:
                - "null"
                - string
              format: date-time
            date_modified:
              type:
                - "null"
                - string
              format: date-time
            date_modified_gmt:
              type:
                - "null"
                - string
              format: date-time
            id:
              type:
                - "null"
                - integer
            name:
              type:
                - "null"
                - string
            src:
              type:
                - "null"
                - string
      menu_order:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      parent:
        type:
          - "null"
          - integer
      slug:
        type:
          - "null"
          - string
  product_reviews:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      date_created:
        type:
          - "null"
          - string
        format: date-time
      date_created_gmt:
        type:
          - "null"
          - string
        format: date-time
      id:
        type:
          - "null"
          - integer
      product_id:
        type:
          - "null"
          - integer
      rating:
        type:
          - "null"
          - integer
      review:
        type:
          - "null"
          - string
      reviewer:
        type:
          - "null"
          - string
      reviewer_email:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      verified:
        type:
          - "null"
          - boolean
  product_shipping_classes:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - "null"
          - string
      count:
        type:
          - "null"
          - integer
      id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      slug:
        type:
          - "null"
          - string
  product_tags:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - "null"
          - string
      count:
        type:
          - "null"
          - integer
      id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      slug:
        type:
          - "null"
          - string
  product_variations:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - "null"
          - string
      attributes:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            id:
              type:
                - "null"
                - integer
            name:
              type:
                - "null"
                - string
            option:
              type:
                - "null"
                - string
      backordered:
        type:
          - "null"
          - boolean
      backorders:
        type:
          - "null"
          - string
      backorders_allowed:
        type:
          - "null"
          - boolean
      date_created:
        type:
          - "null"
          - string
        format: date-time
      date_created_gmt:
        type:
          - "null"
          - string
        format: date-time
      date_modified:
        type:
          - "null"
          - string
        format: date-time
      date_modified_gmt:
        type:
          - "null"
          - string
        format: date-time
      date_on_sale_from:
        type:
          - "null"
          - string
        format: date-time
      date_on_sale_from_gmt:
        type:
          - "null"
          - string
        format: date-time
      date_on_sale_to:
        type:
          - "null"
          - string
        format: date-time
      date_on_sale_to_gmt:
        type:
          - "null"
          - string
        format: date-time
      dimensions:
        type:
          - "null"
          - object
        properties:
          height:
            type:
              - "null"
              - string
          length:
            type:
              - "null"
              - string
          width:
            type:
              - "null"
              - string
      download_expiry:
        type:
          - "null"
          - integer
      download_limit:
        type:
          - "null"
          - integer
      downloadable:
        type:
          - "null"
          - boolean
      downloads:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            file:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - integer
            name:
              type:
                - "null"
                - string
      id:
        type:
          - "null"
          - integer
      image:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            alt:
              type:
                - "null"
                - string
            date_created:
              type:
                - "null"
                - string
              format: date-time
            date_created_gmt:
              type:
                - "null"
                - string
              format: date-time
            date_modified:
              type:
                - "null"
                - string
              format: date-time
            date_modified_gmt:
              type:
                - "null"
                - string
              format: date-time
            id:
              type:
                - "null"
                - integer
            name:
              type:
                - "null"
                - string
            src:
              type:
                - "null"
                - string
      manage_stock:
        type:
          - "null"
          - string
      menu_order:
        type:
          - "null"
          - integer
      meta_data:
        type:
          - "null"
          - array
          - object
        oneOf:
          - type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - integer
              key:
                type:
                  - "null"
                  - string
              value:
                type:
                  - "null"
                  - object
                  - string
                  - array
          - type: array
            items:
              type:
                - "null"
                - object
              properties:
                id:
                  type:
                    - "null"
                    - integer
                key:
                  type:
                    - "null"
                    - string
                value:
                  type:
                    - "null"
                    - object
                    - string
                    - array
      on_sale:
        type:
          - "null"
          - boolean
      permalink:
        type:
          - "null"
          - string
      price:
        type:
          - "null"
          - string
      purchasable:
        type:
          - "null"
          - boolean
      regular_price:
        type:
          - "null"
          - string
      sale_price:
        type:
          - "null"
          - string
      shipping_class:
        type:
          - "null"
          - string
      shipping_class_id:
        type:
          - "null"
          - integer
      sku:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      stock_quantity:
        type:
          - "null"
          - integer
      stock_status:
        type:
          - "null"
          - string
      tax_class:
        type:
          - "null"
          - string
      tax_status:
        type:
          - "null"
          - string
      virtual:
        type:
          - "null"
          - boolean
      weight:
        type:
          - "null"
          - string
  refunds:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      amount:
        type:
          - "null"
          - string
      api_refund:
        type:
          - "null"
          - boolean
      date_created:
        type:
          - "null"
          - string
        format: date-time
      date_created_gmt:
        type:
          - "null"
          - string
        format: date-time
      id:
        type:
          - "null"
          - integer
      line_items:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            id:
              type:
                - "null"
                - integer
            meta_data:
              type:
                - "null"
                - array
                - object
              oneOf:
                - type:
                    - "null"
                    - object
                  properties:
                    id:
                      type:
                        - "null"
                        - integer
                    key:
                      type:
                        - "null"
                        - string
                    value:
                      type:
                        - "null"
                        - object
                        - string
                        - array
                - type: array
                  items:
                    type:
                      - "null"
                      - object
                    properties:
                      id:
                        type:
                          - "null"
                          - integer
                      key:
                        type:
                          - "null"
                          - string
                      value:
                        type:
                          - "null"
                          - object
                          - string
                          - array
            name:
              type:
                - "null"
                - string
            price:
              type:
                - "null"
                - string
                - integer
            product_id:
              type:
                - "null"
                - integer
            quantity:
              type:
                - "null"
                - integer
            refund_total:
              type:
                - "null"
                - number
            sku:
              type:
                - "null"
                - string
            subtotal:
              type:
                - "null"
                - string
            subtotal_tax:
              type:
                - "null"
                - string
            tax_class:
              type:
                - "null"
                - string
                - integer
            taxes:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                properties:
                  id:
                    type:
                      - "null"
                      - integer
                  refund_total:
                    type:
                      - "null"
                      - number
                  subtotal:
                    type:
                      - "null"
                      - string
                  total:
                    type:
                      - "null"
                      - string
            total:
              type:
                - "null"
                - string
            total_tax:
              type:
                - "null"
                - string
            variation_id:
              type:
                - "null"
                - integer
      meta_data:
        type:
          - "null"
          - array
          - object
        oneOf:
          - type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - integer
              key:
                type:
                  - "null"
                  - string
              value:
                type:
                  - "null"
                  - object
                  - string
                  - array
          - type: array
            items:
              type:
                - "null"
                - object
              properties:
                id:
                  type:
                    - "null"
                    - integer
                key:
                  type:
                    - "null"
                    - string
                value:
                  type:
                    - "null"
                    - object
                    - string
                    - array
      reason:
        type:
          - "null"
          - string
      refunded_by:
        type:
          - "null"
          - integer
      refunded_payment:
        type:
          - "null"
          - boolean
  shipping_methods:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
  shipping_zone_locations:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
      code:
        type:
          - "null"
          - string
  shipping_zone_methods:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      enabled:
        type:
          - "null"
          - boolean
      instance_id:
        type:
          - "null"
          - integer
      method_description:
        type:
          - "null"
          - string
      method_id:
        type:
          - "null"
          - string
      method_title:
        type:
          - "null"
          - string
      order:
        type:
          - "null"
          - integer
      settings:
        type:
          - "null"
          - object
        properties:
          type:
            type:
              - "null"
              - string
          description:
            type:
              - "null"
              - string
          default:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - integer
          label:
            type:
              - "null"
              - string
          placeholder:
            type:
              - "null"
              - string
          tip:
            type:
              - "null"
              - string
          value:
            type:
              - "null"
              - string
      title:
        type:
          - "null"
          - string
  shipping_zones:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      order:
        type:
          - "null"
          - integer
  system_status_tools:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - "null"
          - string
      action:
        type:
          - "null"
          - string
      confirm:
        type:
          - "null"
          - boolean
      id:
        type:
          - "null"
          - string
      message:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      success:
        type:
          - "null"
          - boolean
  tax_classes:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      name:
        type:
          - "null"
          - string
      slug:
        type:
          - "null"
          - string
  tax_rates:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      cities:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      city:
        type:
          - "null"
          - string
      class:
        type:
          - "null"
          - string
      compound:
        type:
          - "null"
          - boolean
      country:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      order:
        type:
          - "null"
          - integer
      postcode:
        type:
          - "null"
          - string
      postcodes:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      priority:
        type:
          - "null"
          - integer
      rate:
        type:
          - "null"
          - string
      shipping:
        type:
          - "null"
          - boolean
      state:
        type:
          - "null"
          - string
