version: "0.29.0"

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - ConversationExport

streams:
  - type: DeclarativeStream
    name: conversation_export
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://exports.dixa.io/v1/
        path: conversation_export
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: '{{ config[''api_token''] }}'
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: ConstantBackoffStrategy
                  backoff_time_in_seconds: 60
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - '%Y-%m-%d'
      datetime_format: '%s'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        inject_into: request_parameter
        field_name: updated_after
        type: RequestOption
      end_time_option:
        inject_into: request_parameter
        field_name: updated_before
        type: RequestOption
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      step: config.batch_size
      cursor_granularity: P1D

spec:
  type: Spec
  documentation_url: https://example.org
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - api_token
      - start_date
    properties:
      api_token:
        type: string
        description: Dixa API token
        airbyte_secret: true
        order: 1
      batch_size:
        type: integer
        description: Number of days to batch into one request. Max 31.
        pattern: ^[0-9]{1,2}$
        examples:
          - 1
          - 31
        default: 31
        order: 2
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        description: The connector pulls records updated from this date onwards.
        examples:
          - YYYY-MM-DD
        order: 3
    additionalProperties: true
