version: "0.29.0"

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - conversation_export

streams:
  - type: DeclarativeStream
    name: conversation_export
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://exports.dixa.io/v1/
        path: conversation_export
        http_method: GET
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_token'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: ConstantBackoffStrategy
                  backoff_time_in_seconds: 60
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%ms"
      datetime_format: "%ms"
      step: P{{ config.batch_size }}D
      cursor_granularity: P1D
      start_datetime:
        datetime: "{{ format_datetime(config['start_date'], '%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: updated_after
      end_datetime:
        datetime: "{{ now_utc().strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: updated_before

spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/dixa
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    required:
      - api_token
      - start_date
    properties:
      api_token:
        type: string
        description: Dixa API token
        airbyte_secret: true
        order: 1
      batch_size:
        type: integer
        description: Number of days to batch into one request. Max 31.
        pattern: ^[0-9]{1,2}$
        examples:
          - 1
          - 31
        default: 31
        order: 2
      start_date:
        type: string
        title: Start date
        format: date-time
        description: The connector pulls records updated from this date onwards.
        examples:
          - YYYY-MM-DD
        order: 3
