version: "0.29.0"

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - conversation_export

streams:
  - type: DeclarativeStream
    name: conversation_export
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://exports.dixa.io/v1/
        path: conversation_export
        http_method: GET
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_token'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: ConstantBackoffStrategy
                  backoff_time_in_seconds: 60
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%ms"
      datetime_format: "%ms"
      step: P{{ config.batch_size }}D
      cursor_granularity: P1D
      start_datetime:
        datetime: "{{ format_datetime(config['start_date'], '%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: updated_after
      end_datetime:
        datetime: "{{ now_utc().strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: updated_before

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        title: Conversation Export
        additionalProperties: true
        type:
          - "null"
          - object
        properties:
          id:
            description: Unique ID of the conversation
            type:
              - "null"
              - integer
          created_at:
            description: Timestamp when conversation was created
            type:
              - "null"
              - integer
          initial_channel:
            description: Initial channel of the conversation
            type:
              - "null"
              - string
          requester_additional_emails:
            description: Additional email addresses of the requester
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - string
          requester_additional_phone_numbers:
            description: Additional phone numbers of the requester
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - string
          requester_id:
            description: Unique ID of the requester
            type:
              - "null"
              - string
          requester_name:
            description: Name of the requester
            type:
              - "null"
              - string
          requester_email:
            description: Email address of the requester
            type:
              - "null"
              - string
          requester_phone_number:
            description: Phone number of the requester
            type:
              - "null"
              - string
          queued_at:
            description: Timestamp when the conversation was put in the queue
            type:
              - "null"
              - integer
          queue_id:
            description: Unique ID of the queue the conversation is assigned to
            type:
              - "null"
              - string
          queue_name:
            description: Name of the queue the conversation is assigned to
            type:
              - "null"
              - string
          closed_at:
            description: Timestamp when conversation was closed
            type:
              - "null"
              - integer
          rating_score:
            description: Score given in the rating of the conversation
            type:
              - "null"
              - integer
          rating_message:
            description: Message accompanying the rating given to the conversation
            type:
              - "null"
              - string
          ratings:
            description: Ratings associated with the conversation
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties:
                rating_score:
                  description: Score given in the rating
                  type:
                    - "null"
                    - integer
                rating_message:
                  description: Message provided in the rating
                  type:
                    - "null"
                    - string
                rating_type:
                  description: Type of the rating
                  type:
                    - "null"
                    - string
                rating_created_timestamp:
                  description: Timestamp when the rating was created
                  type:
                    - "null"
                    - integer
                rating_offered_timestamp:
                  description: Timestamp when the rating was offered
                  type:
                    - "null"
                    - integer
                rating_status:
                  description: Status of the rating
                  type:
                    - "null"
                    - string
                rating_language:
                  description: Language of the rating
                  type:
                    - "null"
                    - string
                rating_modified_timestamp:
                  description: Timestamp when the rating was modified
                  type:
                    - "null"
                    - integer
                rating_rated_timestamp:
                  description: Timestamp when the rating was given
                  type:
                    - "null"
                    - integer
                rating_scheduled_timestamp:
                  description: Timestamp when the rating was scheduled
                  type:
                    - "null"
                    - integer
                rating_scheduled_for_timestamp:
                  description: Timestamp for scheduled rating
                  type:
                    - "null"
                    - integer
                rating_unscheduled_timestamp:
                  description: Timestamp when the scheduled rating was unscheduled
                  type:
                    - "null"
                    - integer
                rating_cancelled_timestamp:
                  description: Timestamp when the rating was cancelled
                  type:
                    - "null"
                    - integer
          direction:
            description: Direction of the conversation (inbound/outbound)
            type:
              - "null"
              - string
          assigned_at:
            description: Timestamp when conversation was assigned to an agent
            type:
              - "null"
              - integer
          assignee_id:
            description: Unique ID of the assigned agent
            type:
              - "null"
              - string
          assignee_name:
            description: Name of the assigned agent
            type:
              - "null"
              - string
          assignee_email:
            description: Email of the assigned agent
            type:
              - "null"
              - string
          assignee_phone_number:
            description: Phone number of the assigned agent
            type:
              - "null"
              - string
          to_provisioned_phone_number_id:
            description: ID of the provisioned phone number conversation was sent to
            type:
              - "null"
              - string
          to_provisioned_phone_number_name:
            description:
              Name of the provisioned phone number conversation was sent
              to
            type:
              - "null"
              - string
          total_duration:
            description: Total duration of the conversation
            type:
              - "null"
              - integer
          handling_duration:
            description: Duration for which the conversation was being handled
            type:
              - "null"
              - integer
          dixa_email_integration_id:
            description: ID of the Dixa email integration used
            type:
              - "null"
              - string
          dixa_email_integration_sender_name:
            description: Name of the sender from Dixa email integration
            type:
              - "null"
              - string
          forwarding_email:
            description: Email address to which conversation is being forwarded
            type:
              - "null"
              - string
          facebook_page_id:
            description: ID of the Facebook page associated with the conversation
            type:
              - "null"
              - string
          facebook_page_name:
            description: Name of the Facebook page associated with the conversation
            type:
              - "null"
              - string
          widget_id:
            description: ID of the widget used for the conversation
            type:
              - "null"
              - string
          widget_name:
            description: Name of the widget used for the conversation
            type:
              - "null"
              - string
          tags:
            description: Tags associated with the conversation
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - string
          tags_info:
            description: Information about the tags associated with the conversation
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              additionalProperties: true
          conversation_wrapup_notes:
            description: Notes added after conversation wrap-up
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - string
          transferee_name:
            description: Name of the transferee (if conversation was transferred)
            type:
              - "null"
              - string
          transfer_time:
            description: Time taken for conversation transfer
            type:
              - "null"
              - integer
          originating_country:
            description: Country from where the conversation originated
            type:
              - "null"
              - string
          status:
            description: Status of the conversation
            type:
              - "null"
              - string
          transferee_number:
            description: Phone number of the transferee (if conversation was transferred)
            type:
              - "null"
              - string
          updated_at:
            description: Timestamp when conversation was last updated
            type:
              - "null"
              - integer
          last_message_created_at:
            description: Timestamp when the last message in the conversation was created
            type:
              - "null"
              - integer
          from_provisioned_phone_number_id:
            description:
              ID of the provisioned phone number conversation originated
              from
            type:
              - "null"
              - string
          from_provisioned_phone_number_name:
            description:
              Name of the provisioned phone number conversation originated
              from
            type:
              - "null"
              - string
          subject:
            description: Subject of the conversation
            type:
              - "null"
              - string
          anonymized_at:
            description: Timestamp when conversation data was anonymized
            type:
              - "null"
              - integer
          custom_fields:
            description: Custom fields associated with the conversation
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                attribute_id:
                  description: Unique ID of the custom field
                  type:
                    - "null"
                    - string
                identifier:
                  description: Identifier of the custom field
                  type:
                    - "null"
                    - string
                value:
                  description: Value of the custom field
                  type:
                    - "null"
                    - array
                    - string
                data_type:
                  description: Data type of the custom field
                  type:
                    - "null"
                    - string
                archived:
                  description: Flag indicating if the field is archived
                  type:
                    - "null"
                    - boolean
spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/dixa
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    required:
      - api_token
      - start_date
    properties:
      api_token:
        type: string
        description: Dixa API token
        airbyte_secret: true
        order: 1
      batch_size:
        type: integer
        description: Number of days to batch into one request. Max 31.
        pattern: ^[0-9]{1,2}$
        examples:
          - 1
          - 31
        default: 31
        order: 2
      start_date:
        type: string
        title: Start date
        format: date-time
        description: The connector pulls records updated from this date onwards.
        examples:
          - YYYY-MM-DD
        order: 3
