@use "../../../../../scss/colors";

.descriptionHeader {
  margin-top: 0px;
  margin-bottom: 5px;
}

.exampleHeader {
  margin-top: 10px;
  margin-bottom: 5px;
}

.exampleList {
  width: max-content;
  max-width: 100%;
  word-wrap: break-word;
  margin-top: 5px;
  padding: 3px 5px 3px 5px;
  display: block;
  background-color: colors.$dark-blue-400;
  border-radius: 3px;
}
