version: 6.1.0

type: DeclarativeSource

description: >-
  The [Agile CRM](http://agilecrm.com) Airbyte Connector allows you to sync and
  transfer data seamlessly from Agile CRM into your preferred data warehouse or
  analytics tool. With this connector, you can automate data extraction for
  various Agile CRM entities, such as contacts, companies, deals, and tasks,
  enabling easy integration and analysis of your CRM data in real-time. Ideal
  for businesses looking to streamline data workflows and enhance data
  accessibility.

check:
  type: CheckStream
  stream_names:
    - contacts

definitions:
  streams:
    deals:
      type: DeclarativeStream
      name: deals
      retriever:
        type: SimpleRetriever
        decoder:
          type: XmlDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: /dev/api/opportunity
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - collection
              - opportunity
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deals"
    notes:
      type: DeclarativeStream
      name: notes
      retriever:
        type: SimpleRetriever
        decoder:
          type: XmlDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: /dev/api/contacts/{{ stream_partition.contact_id }}/notes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - collection
              - note
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/contacts"
              parent_key: id
              partition_field: contact_id
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/notes"
    tickets:
      type: DeclarativeStream
      name: tickets
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /dev/api/tickets/filter
          http_method: GET
          request_headers:
            Accept: application/json
          request_parameters:
            filter_id: "{{ stream_partition.filter_id }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/ticket_filters"
              parent_key: id
              partition_field: filter_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tickets"
    contacts:
      type: DeclarativeStream
      name: contacts
      retriever:
        type: SimpleRetriever
        decoder:
          type: XmlDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: /dev/api/contacts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - collection
              - contact
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    companies:
      type: DeclarativeStream
      name: companies
      retriever:
        type: SimpleRetriever
        decoder:
          type: XmlDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: /dev/api/contacts/companies/list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - collection
              - contact
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/companies"
    documents:
      type: DeclarativeStream
      name: documents
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /dev/api/documents/contact/{{ stream_partition.contact_id }}/docs
          http_method: GET
          request_headers:
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/contacts"
              parent_key: id
              partition_field: contact_id
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/documents"
    milestone:
      type: DeclarativeStream
      name: milestone
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /dev/api/milestone/pipelines
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/milestone"
    ticket_filters:
      type: DeclarativeStream
      name: ticket_filters
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /dev/api/tickets/filters
          http_method: GET
          request_headers:
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ticket_filters"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['domain'] }}.agilecrm.com
    authenticator:
      type: BasicHttpAuthenticator
      password: "{{ config[\"api_key\"] }}"
      username: "{{ config[\"email\"] }}"

streams:
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/companies"
  - $ref: "#/definitions/streams/deals"
  - $ref: "#/definitions/streams/notes"
  - $ref: "#/definitions/streams/milestone"
  - $ref: "#/definitions/streams/documents"
  - $ref: "#/definitions/streams/ticket_filters"
  - $ref: "#/definitions/streams/tickets"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - email
      - domain
      - api_key
    properties:
      email:
        type: string
        description: >-
          Your Agile CRM account email address. This is used as the username for
          authentication.
        name: email
        order: 0
        title: Email Address
      domain:
        type: string
        description: The specific subdomain for your Agile CRM account
        name: domain
        order: 1
        title: Domain
      api_key:
        type: string
        description: >-
          API key to use. Find it at Admin Settings -> API & Analytics -> API
          Key in your Agile CRM account.
        name: api_key
        order: 2
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://github.com/agilecrm/rest-api
  testedStreams:
    deals:
      hasRecords: true
      streamHash: 9446c64f24ba1a178793c2883c9fd7bf64bd6381
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    notes:
      hasRecords: true
      streamHash: 9d05877e6d0a3fb498ca05a235a83afe405b09e0
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    tickets:
      hasRecords: true
      streamHash: 44bfa7a5e1c85017b13f4c02d535458b0760216d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    contacts:
      hasRecords: true
      streamHash: c946f92781e9e589eb4228948304d9f64df6eaf7
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    companies:
      hasRecords: true
      streamHash: 51bdaa1d1c3cc7f95d16ba17b668abc9aff7e0f2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    documents:
      hasRecords: true
      streamHash: cb6fcde18dc70feeabe8375889fce2597ac53bf1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    milestone:
      hasRecords: true
      streamHash: 64c41e00e90663e423f2ee1d0ec4453264e4e9f2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    ticket_filters:
      hasRecords: true
      streamHash: b3cf9d32eac1b5c12fcae54d00617c3b0f8bade9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    deals: true
    notes: true
    tickets: true
    contacts: true
    companies: true
    documents: true
    milestone: true
    ticket_filters: true

schemas:
  deals:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
      owner:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          pic:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          domain:
            type:
              - string
              - "null"
          schedule_id:
            type:
              - string
              - "null"
          calendar_url:
            type:
              - string
              - "null"
      archived:
        type:
          - string
          - "null"
      colorName:
        type:
          - string
          - "null"
      milestone:
        type:
          - string
          - "null"
      close_date:
        type:
          - string
          - "null"
      entity_type:
        type:
          - string
          - "null"
      pipeline_id:
        type:
          - string
          - "null"
      probability:
        type:
          - string
          - "null"
      created_time:
        type:
          - string
          - "null"
      discount_amt:
        type:
          - string
          - "null"
      updated_time:
        type:
          - string
          - "null"
      discount_type:
        type:
          - string
          - "null"
      apply_discount:
        type:
          - string
          - "null"
      deal_source_id:
        type:
          - string
          - "null"
      discount_value:
        type:
          - string
          - "null"
      expected_value:
        type:
          - string
          - "null"
      lost_reason_id:
        type:
          - string
          - "null"
      total_deal_value:
        type:
          - string
          - "null"
      note_created_time:
        type:
          - string
          - "null"
      milestone_changed_time:
        type:
          - string
          - "null"
      isCurrencyUpdateRequired:
        type:
          - string
          - "null"
      currency_conversion_value:
        type:
          - string
          - "null"
    additionalProperties: true
  notes:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: string
      count:
        type:
          - string
          - "null"
      subject:
        type:
          - string
          - "null"
      contacts:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          last_name:
            type:
              - string
              - "null"
          first_name:
            type:
              - string
              - "null"
          properties:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - string
                    - "null"
      contact_ids:
        type:
          - string
          - "null"
      domainOwner:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          pic:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          domain:
            type:
              - string
              - "null"
          schedule_id:
            type:
              - string
              - "null"
          calendar_url:
            type:
              - string
              - "null"
      entity_type:
        type:
          - string
          - "null"
      created_time:
        type:
          - string
          - "null"
    additionalProperties: true
  tickets:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type:
          - number
          - "null"
      dueOn:
        type:
          - string
          - "null"
      group:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          group_name:
            type:
              - string
              - "null"
          group_email:
            type:
              - string
              - "null"
      labels:
        type:
          - array
          - "null"
      source:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      contact:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          properties:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - string
                    - "null"
      groupID:
        type:
          - number
          - "null"
      is_spam:
        type:
          - boolean
          - "null"
      subject:
        type:
          - string
          - "null"
      assignee:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          pic:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          domain:
            type:
              - string
              - "null"
          calendarURL:
            type:
              - string
              - "null"
          schedule_id:
            type:
              - string
              - "null"
          calendar_url:
            type:
              - string
              - "null"
      closedOn:
        type:
          - string
          - "null"
      priority:
        type:
          - string
          - "null"
      cc_emails:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      contactID:
        type:
          - number
          - "null"
      createdOn:
        type:
          - string
          - "null"
      html_text:
        type:
          - string
          - "null"
      isPrivate:
        type:
          - boolean
          - "null"
      assigneeID:
        type:
          - number
          - "null"
      created_by:
        type:
          - string
          - "null"
      sourceFrom:
        type:
          - string
          - "null"
      statusName:
        type:
          - string
          - "null"
      contact_ids:
        type:
          - array
          - "null"
      entity_type:
        type:
          - string
          - "null"
      is_favorite:
        type:
          - boolean
          - "null"
      created_time:
        type:
          - number
          - "null"
      priorityName:
        type:
          - string
          - "null"
      assigned_time:
        type:
          - number
          - "null"
      is_compressed:
        type:
          - boolean
          - "null"
      lastUpdatedOn:
        type:
          - string
          - "null"
      no_of_reopens:
        type:
          - number
          - "null"
      requester_name:
        type:
          - string
          - "null"
      stringTicketID:
        type:
          - string
          - "null"
      last_reply_text:
        type:
          - string
          - "null"
      last_updated_by:
        type:
          - string
          - "null"
      requester_email:
        type:
          - string
          - "null"
      attachments_list:
        type:
          - array
          - "null"
      first_notes_text:
        type:
          - string
          - "null"
      assigned_to_group:
        type:
          - boolean
          - "null"
      is_favoriteString:
        type:
          - string
          - "null"
      last_ticket_notes:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          plain_text:
            type:
              - string
              - "null"
          created_time:
            type:
              - number
              - "null"
          ticket_notes_assinee:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - number
                  - "null"
              pic:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              email:
                type:
                  - string
                  - "null"
              phone:
                type:
                  - string
                  - "null"
              domain:
                type:
                  - string
                  - "null"
              calendarURL:
                type:
                  - string
                  - "null"
              schedule_id:
                type:
                  - string
                  - "null"
              calendar_url:
                type:
                  - string
                  - "null"
      last_updated_time:
        type:
          - number
          - "null"
      attachments_exists:
        type:
          - boolean
          - "null"
      first_replied_time:
        type:
          - number
          - "null"
      user_replies_count:
        type:
          - number
          - "null"
      last_requester_name:
        type:
          - string
          - "null"
      requester_ip_address:
        type:
          - string
          - "null"
      last_agent_replied_time:
        type:
          - number
          - "null"
      attachments_existsString:
        type:
          - string
          - "null"
      last_customer_replied_time:
        type:
          - number
          - "null"
    additionalProperties: true
  contacts:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type: string
      tags:
        type:
          - string
          - "null"
      owner:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          pic:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          domain:
            type:
              - string
              - "null"
          schedule_id:
            type:
              - string
              - "null"
          calendar_url:
            type:
              - string
              - "null"
      formId:
        type:
          - string
          - "null"
      viewed:
        type:
          - object
          - "null"
        properties:
          viewed_time:
            type:
              - string
              - "null"
      last_name:
        type:
          - string
          - "null"
      first_name:
        type:
          - string
          - "null"
      lastCalled:
        type:
          - string
          - "null"
      lead_score:
        type:
          - string
          - "null"
      properties:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            value:
              type:
                - string
                - "null"
            subtype:
              type:
                - string
                - "null"
      star_value:
        type:
          - string
          - "null"
      entity_type:
        type:
          - string
          - "null"
      forceSearch:
        type:
          - string
          - "null"
      lastEmailed:
        type:
          - string
          - "null"
      last_called:
        type:
          - string
          - "null"
      viewed_time:
        type:
          - string
          - "null"
      created_time:
        type:
          - string
          - "null"
      last_emailed:
        type:
          - string
          - "null"
      tagsWithTime:
        type:
          - object
          - "null"
        properties:
          tag:
            type:
              - string
              - "null"
          createdTime:
            type:
              - string
              - "null"
          entity_type:
            type:
              - string
              - "null"
          availableCount:
            type:
              - string
              - "null"
      trashed_time:
        type:
          - string
          - "null"
      updated_time:
        type:
          - string
          - "null"
      lastContacted:
        type:
          - string
          - "null"
      restored_time:
        type:
          - string
          - "null"
      last_contacted:
        type:
          - string
          - "null"
      lead_source_id:
        type:
          - string
          - "null"
      lead_status_id:
        type:
          - string
          - "null"
      schema_version:
        type:
          - string
          - "null"
      is_client_import:
        type:
          - string
          - "null"
      is_lead_converted:
        type:
          - string
          - "null"
      contact_company_id:
        type:
          - string
          - "null"
      lastCampaignEmailed:
        type:
          - string
          - "null"
      lead_converted_time:
        type:
          - string
          - "null"
      is_duplicate_existed:
        type:
          - string
          - "null"
      last_campaign_emaild:
        type:
          - string
          - "null"
      concurrent_save_allowed:
        type:
          - string
          - "null"
      is_duplicate_verification_failed:
        type:
          - string
          - "null"
    additionalProperties: true
  companies:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      tags:
        type:
          - string
          - "null"
      owner:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          pic:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          domain:
            type:
              - string
              - "null"
          schedule_id:
            type:
              - string
              - "null"
          calendar_url:
            type:
              - string
              - "null"
      formId:
        type:
          - string
          - "null"
      viewed:
        type:
          - object
          - "null"
        properties:
          viewed_time:
            type:
              - string
              - "null"
      lastCalled:
        type:
          - string
          - "null"
      lead_score:
        type:
          - string
          - "null"
      properties:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            value:
              type:
                - string
                - "null"
            subtype:
              type:
                - string
                - "null"
      star_value:
        type:
          - string
          - "null"
      entity_type:
        type:
          - string
          - "null"
      forceSearch:
        type:
          - string
          - "null"
      lastEmailed:
        type:
          - string
          - "null"
      last_called:
        type:
          - string
          - "null"
      viewed_time:
        type:
          - string
          - "null"
      created_time:
        type:
          - string
          - "null"
      last_emailed:
        type:
          - string
          - "null"
      tagsWithTime:
        type:
          - object
          - "null"
        properties:
          tag:
            type:
              - string
              - "null"
          createdTime:
            type:
              - string
              - "null"
          entity_type:
            type:
              - string
              - "null"
          availableCount:
            type:
              - string
              - "null"
      trashed_time:
        type:
          - string
          - "null"
      updated_time:
        type:
          - string
          - "null"
      lastContacted:
        type:
          - string
          - "null"
      restored_time:
        type:
          - string
          - "null"
      last_contacted:
        type:
          - string
          - "null"
      lead_source_id:
        type:
          - string
          - "null"
      lead_status_id:
        type:
          - string
          - "null"
      schema_version:
        type:
          - string
          - "null"
      is_client_import:
        type:
          - string
          - "null"
      is_lead_converted:
        type:
          - string
          - "null"
      lastCampaignEmailed:
        type:
          - string
          - "null"
      lead_converted_time:
        type:
          - string
          - "null"
      is_duplicate_existed:
        type:
          - string
          - "null"
      last_campaign_emaild:
        type:
          - string
          - "null"
      concurrent_save_allowed:
        type:
          - string
          - "null"
      is_duplicate_verification_failed:
        type:
          - string
          - "null"
    additionalProperties: true
  documents:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      url:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      size:
        type:
          - number
          - "null"
      text:
        type:
          - string
          - "null"
      deals:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
      owner:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          pic:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          domain:
            type:
              - string
              - "null"
          calendarURL:
            type:
              - string
              - "null"
          schedule_id:
            type:
              - string
              - "null"
          calendar_url:
            type:
              - string
              - "null"
      update:
        type:
          - number
          - "null"
      case_ids:
        type:
          - array
          - "null"
      contacts:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            properties:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
      deal_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      doc_type:
        type:
          - string
          - "null"
      dummy_name:
        type:
          - string
          - "null"
      contact_ids:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      entity_type:
        type:
          - string
          - "null"
      network_type:
        type:
          - string
          - "null"
      template_type:
        type:
          - string
          - "null"
      uploaded_time:
        type:
          - number
          - "null"
      relatedContacts:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            tags:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            owner:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - number
                    - "null"
                pic:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                email:
                  type:
                    - string
                    - "null"
                phone:
                  type:
                    - string
                    - "null"
                domain:
                  type:
                    - string
                    - "null"
                calendarURL:
                  type:
                    - string
                    - "null"
                schedule_id:
                  type:
                    - string
                    - "null"
                calendar_url:
                  type:
                    - string
                    - "null"
            formId:
              type:
                - number
                - "null"
            viewed:
              type:
                - object
                - "null"
              properties:
                viewer_id:
                  type:
                    - number
                    - "null"
                viewed_time:
                  type:
                    - number
                    - "null"
            browserId:
              type:
                - array
                - "null"
            lead_score:
              type:
                - number
                - "null"
            properties:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  subtype:
                    type:
                      - string
                      - "null"
            star_value:
              type:
                - number
                - "null"
            entity_type:
              type:
                - string
                - "null"
            klout_score:
              type:
                - string
                - "null"
            last_called:
              type:
                - number
                - "null"
            viewed_time:
              type:
                - number
                - "null"
            created_time:
              type:
                - number
                - "null"
            last_emailed:
              type:
                - number
                - "null"
            tagsWithTime:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  tag:
                    type:
                      - string
                      - "null"
                  createdTime:
                    type:
                      - number
                      - "null"
                  entity_type:
                    type:
                      - string
                      - "null"
                  availableCount:
                    type:
                      - number
                      - "null"
            trashed_time:
              type:
                - number
                - "null"
            updated_time:
              type:
                - number
                - "null"
            restored_time:
              type:
                - number
                - "null"
            campaignStatus:
              type:
                - array
                - "null"
            last_contacted:
              type:
                - number
                - "null"
            lead_source_id:
              type:
                - number
                - "null"
            lead_status_id:
              type:
                - number
                - "null"
            is_client_import:
              type:
                - boolean
                - "null"
            emailBounceStatus:
              type:
                - array
                - "null"
            is_lead_converted:
              type:
                - boolean
                - "null"
            unsubscribeStatus:
              type:
                - array
                - "null"
            lead_converted_time:
              type:
                - number
                - "null"
            is_duplicate_existed:
              type:
                - boolean
                - "null"
            last_campaign_emaild:
              type:
                - number
                - "null"
            concurrent_save_allowed:
              type:
                - boolean
                - "null"
            is_duplicate_verification_failed:
              type:
                - boolean
                - "null"
    additionalProperties: true
  milestone:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
      isDefault:
        type:
          - boolean
          - "null"
      milestones:
        type:
          - string
          - "null"
      deals_exist:
        type:
          - boolean
          - "null"
      won_milestone:
        type:
          - string
          - "null"
      lost_milestone:
        type:
          - string
          - "null"
    additionalProperties: true
  ticket_filters:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
      owner_id:
        type:
          - number
          - "null"
      conditions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            LHS:
              type:
                - string
                - "null"
            RHS:
              type:
                - string
                - "null"
            CONDITION:
              type:
                - string
                - "null"
      ticketGroups:
        type:
          - array
          - "null"
      updated_time:
        type:
          - number
          - "null"
      is_default_filter:
        type:
          - boolean
          - "null"
    additionalProperties: true
