@use "../../../../../../../src/scss/variables";
@use "../../../../../../../src/scss/colors";

.countDownTimerContainer {
  display: flex;
  gap: variables.$spacing-md;
}

.countDownTimerItem {
  color: colors.$orange;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
}
