version: 4.3.0
type: DeclarativeSource
definitions:
  response_filters:
    rate_limited:
      type: HttpResponseFilter
      action: RATE_LIMITED
      http_codes: [429]
    server_error:
      type: HttpResponseFilter
      action: RETRY
      http_codes: [500, 502, 503, 504]
    unauthorized:
      type: HttpResponseFilter
      action: FAIL
      failure_type: config_error
      http_codes: [401]
      error_message: >-
        Ashby rejected the API key (HTTP 401 Unauthorized). Check that the API key in the
        source settings is correct and still active, or generate a new key in Ashby under
        Admin > API Keys.
    missing_endpoint_permission:
      type: HttpResponseFilter
      action: FAIL
      failure_type: config_error
      predicate: >-
        {{ response.get('success', true) == false and
        response.get('errorInfo', {}).get('code') == 'missing_endpoint_permission' }}
      error_message: >-
        The Ashby API key lacks a module permission this stream needs:
        {{ response.get('errorInfo', {}).get('message', 'missing_endpoint_permission') }}.
        Enable the permission on the key in Ashby under Admin > API Keys, or deselect the stream.
    forbidden:
      type: HttpResponseFilter
      action: FAIL
      failure_type: config_error
      http_codes: [403]
      error_message: >-
        Ashby refused the request (HTTP 403 Forbidden). The API key may be deactivated or
        lack access; generate a new key in Ashby under Admin > API Keys.
    success_false:
      type: HttpResponseFilter
      action: FAIL
      predicate: "{{ response.get('success', true) == false }}"
      error_message: >-
        {%- set info = response.get('errorInfo') or {} -%}
        {%- set first = (response.get('errors') or [{}])[0] -%}
        Ashby returned an error
        ({{ info.get('code') or (first.get('code') if first is mapping else first) or 'unknown' }}):
        {{ info.get('message') or (first.get('message') if first is mapping else first) or 'no message provided' }}
        (request ID: {{ info.get('requestId') or 'unavailable' }}).
  application_updated_at_cursor:
    # application.list has no updatedAt filter (updatedAfter is ignored) and is ordered by
    # createdAt, so the record_filter on each application.list selector filters on updatedAt
    # from the slice start. State is the latest updatedAt seen in a scan that can run for
    # hours; the 1-day lookback re-reads applications updated mid-scan, for scans up to ~24
    # hours (about 140,000 applications at 100 history requests per minute).
    # is_client_side_incremental would ignore lookback_window on CDK 7.32.0.
    type: DatetimeBasedCursor
    cursor_field: updatedAt
    cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S.%f%z"
      - "%Y-%m-%dT%H:%M:%S%z"
    datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    lookback_window: P1D
  error_handler:
    type: DefaultErrorHandler
    max_retries: 6
    backoff_strategies:
      - type: WaitTimeFromHeader
        header: Retry-After
      - type: ExponentialBackoffStrategy
        factor: 5
    response_filters:
      - $ref: "#/definitions/response_filters/rate_limited"
      - $ref: "#/definitions/response_filters/server_error"
      - $ref: "#/definitions/response_filters/unauthorized"
      - $ref: "#/definitions/response_filters/missing_endpoint_permission"
      - $ref: "#/definitions/response_filters/forbidden"
      - $ref: "#/definitions/response_filters/success_false"
  streams:
    interview_plans:
      type: DeclarativeStream
      name: interview_plans
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.ashbyhq.com
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
            password: ""
          path: /interviewPlan.list
          http_method: POST
          error_handler:
            $ref: "#/definitions/error_handler"
          request_body_json:
            includeArchived: true
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
            stop_condition: "{{ not response.moreDataAvailable }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            title:
              type:
                - "null"
                - string
            isArchived:
              type:
                - "null"
                - boolean
            createdAt:
              type:
                - "null"
                - string
              format: date-time
            updatedAt:
              type:
                - "null"
                - string
              format: date-time
concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 2
api_budget:
  type: HTTPAPIBudget
  policies:
    - type: MovingWindowCallRatePolicy
      rates:
        - limit: 100
          interval: PT1M
      matchers:
        - type: HttpRequestRegexMatcher
          url_path_pattern: /application\.listHistory
    - type: MovingWindowCallRatePolicy
      rates:
        - limit: 100
          interval: PT1M
      matchers:
        - type: HttpRequestRegexMatcher
          url_path_pattern: /application\.listCriteriaEvaluations
check:
  type: CheckStream
  stream_names:
    - users
streams:
  - type: DeclarativeStream
    name: applications
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /application.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
        request_body_json:
          createdAfter: "{{ timestamp(config['start_date']) * 1000 }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
        record_filter:
          type: RecordFilter
          condition: "{{ not record.get('updatedAt') or str_to_datetime(record['updatedAt']) >= str_to_datetime(stream_interval['start_time']) }}"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    incremental_sync:
      $ref: "#/definitions/application_updated_at_cursor"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          appliedViaJobPostingId:
            type:
              - "null"
              - string
          archiveReason:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
              text:
                type:
                  - "null"
                  - string
              reasonType:
                type:
                  - "null"
                  - string
              isArchived:
                type:
                  - "null"
                  - boolean
              customFields:
                type:
                  - "null"
                  - array
                items:
                  type: object
                  properties:
                    id:
                      type:
                        - "null"
                        - string
                    isPrivate:
                      type:
                        - "null"
                        - boolean
                    referenceIdentifier:
                      type:
                        - "null"
                        - string
                    title:
                      type:
                        - "null"
                        - string
                    valueLabel:
                      type:
                        - "null"
                        - string
                        - array
                    value:
                      type:
                        - "null"
                        - boolean
                        - number
                        - string
                        - array
                        - object
          archivedAt:
            type:
              - "null"
              - string
            format: date-time
          candidate:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
              name:
                type:
                  - "null"
                  - string
              primaryEmailAddress:
                type:
                  - "null"
                  - object
              primaryPhoneNumber:
                type:
                  - "null"
                  - object
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          creditedToUser:
            type:
              - "null"
              - object
          currentInterviewStage:
            type:
              - "null"
              - object
          customFields:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                id:
                  type:
                    - "null"
                    - string
                isPrivate:
                  type:
                    - "null"
                    - boolean
                referenceIdentifier:
                  type:
                    - "null"
                    - string
                title:
                  type:
                    - "null"
                    - string
                valueLabel:
                  type:
                    - "null"
                    - string
                    - array
                value:
                  type:
                    - "null"
                    - boolean
                    - number
                    - string
                    - array
                    - object
          hiringTeam:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                userId:
                  type:
                    - "null"
                    - string
                firstName:
                  type:
                    - "null"
                    - string
                lastName:
                  type:
                    - "null"
                    - string
                email:
                  type:
                    - "null"
                    - string
                role:
                  type:
                    - "null"
                    - string
          id:
            type:
              - "null"
              - string
          job:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
              brandId:
                type:
                  - "null"
                  - string
              title:
                type:
                  - "null"
                  - string
              locationId:
                type:
                  - "null"
                  - string
              departmentId:
                type:
                  - "null"
                  - string
          source:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
              isArchived:
                type:
                  - "null"
                  - boolean
              sourceType:
                type:
                  - "null"
                  - object
                properties:
                  id:
                    type:
                      - "null"
                      - string
                  isArchived:
                    type:
                      - "null"
                      - boolean
                  title:
                    type:
                      - "null"
                      - string
              title:
                type:
                  - "null"
                  - string
          status:
            type:
              - "null"
              - string
          submitterClientIp:
            type:
              - "null"
              - string
          submitterUserAgent:
            type:
              - "null"
              - string
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
  - type: DeclarativeStream
    name: application_feedback
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /applicationFeedback.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
        request_body_json:
          createdAfter: "{{ timestamp(config['start_date']) * 1000 }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          applicationId:
            type:
              - "null"
              - string
          applicationHistoryId:
            type:
              - "null"
              - string
          feedbackFormDefinitionId:
            type:
              - "null"
              - string
          interviewId:
            type:
              - "null"
              - string
          interviewEventId:
            type:
              - "null"
              - string
          submittedAt:
            type:
              - "null"
              - string
            format: date-time
          submittedByUser:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
              firstName:
                type:
                  - "null"
                  - string
              lastName:
                type:
                  - "null"
                  - string
              email:
                type:
                  - "null"
                  - string
              globalRole:
                type:
                  - "null"
                  - string
              isEnabled:
                type:
                  - "null"
                  - boolean
              updatedAt:
                type:
                  - "null"
                  - string
                format: date-time
          creditedToUser:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
              firstName:
                type:
                  - "null"
                  - string
              lastName:
                type:
                  - "null"
                  - string
              email:
                type:
                  - "null"
                  - string
              globalRole:
                type:
                  - "null"
                  - string
              isEnabled:
                type:
                  - "null"
                  - boolean
              updatedAt:
                type:
                  - "null"
                  - string
                format: date-time
          formDefinition:
            type:
              - "null"
              - object
            properties:
              sections:
                type:
                  - "null"
                  - array
                items:
                  type: object
                  properties:
                    title:
                      type:
                        - "null"
                        - string
                    fields:
                      type:
                        - "null"
                        - array
                      items:
                        type: object
                        properties:
                          isRequired:
                            type:
                              - "null"
                              - boolean
                          field:
                            type:
                              - "null"
                              - object
                            properties:
                              id:
                                type:
                                  - "null"
                                  - string
                              type:
                                type:
                                  - "null"
                                  - string
                              path:
                                type:
                                  - "null"
                                  - string
                              title:
                                type:
                                  - "null"
                                  - string
                              humanReadablePath:
                                type:
                                  - "null"
                                  - string
                              isNullable:
                                type:
                                  - "null"
                                  - boolean
                              selectableValues:
                                type:
                                  - "null"
                                  - array
                                items:
                                  type: object
                                  properties:
                                    label:
                                      type:
                                        - "null"
                                        - string
                                    value:
                                      type:
                                        - "null"
                                        - string
          submittedValues:
            type:
              - "null"
              - object
            additionalProperties: true
  - type: DeclarativeStream
    name: archive_reasons
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /archiveReason.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
        request_body_json:
          includeArchived: true
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          reasonType:
            type:
              - "null"
              - string
          text:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: candidate_tags
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /candidateTag.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
        request_body_json:
          includeArchived: true
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          title:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: candidates
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /candidate.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          applicationIds:
            type:
              - "null"
              - array
          company:
            type:
              - "null"
              - string
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          creditedToUser:
            type:
              - "null"
              - object
          customFields:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                id:
                  type:
                    - "null"
                    - string
                isPrivate:
                  type:
                    - "null"
                    - boolean
                referenceIdentifier:
                  type:
                    - "null"
                    - string
                title:
                  type:
                    - "null"
                    - string
                value:
                  type:
                    - "null"
                    - boolean
                    - number
                    - string
                    - array
                    - object
                valueLabel:
                  type:
                    - "null"
                    - string
                    - array
          emailAddresses:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                value:
                  type:
                    - "null"
                    - string
                type:
                  type:
                    - "null"
                    - string
                isPrimary:
                  type:
                    - "null"
                    - boolean
          fileHandles:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                id:
                  type:
                    - "null"
                    - string
                name:
                  type:
                    - "null"
                    - string
                handle:
                  type:
                    - "null"
                    - string
          fraudStatus:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          location:
            type:
              - "null"
              - object
          name:
            type:
              - "null"
              - string
          phoneNumbers:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                value:
                  type:
                    - "null"
                    - string
                type:
                  type:
                    - "null"
                    - string
                isPrimary:
                  type:
                    - "null"
                    - boolean
          position:
            type:
              - "null"
              - string
          primaryEmailAddress:
            type:
              - "null"
              - object
            properties:
              value:
                type:
                  - "null"
                  - string
              type:
                type:
                  - "null"
                  - string
              isPrimary:
                type:
                  - "null"
                  - boolean
          primaryPhoneNumber:
            type:
              - "null"
              - object
            properties:
              value:
                type:
                  - "null"
                  - string
              type:
                type:
                  - "null"
                  - string
              isPrimary:
                type:
                  - "null"
                  - boolean
          profileUrl:
            type:
              - "null"
              - string
          resumeFileHandle:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
              name:
                type:
                  - "null"
                  - string
              handle:
                type:
                  - "null"
                  - string
          school:
            type:
              - "null"
              - string
          socialLinks:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                type:
                  type:
                    - "null"
                    - string
                url:
                  type:
                    - "null"
                    - string
          source:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
              isArchived:
                type:
                  - "null"
                  - boolean
              sourceType:
                type:
                  - "null"
                  - object
                properties:
                  id:
                    type:
                      - "null"
                      - string
                  isArchived:
                    type:
                      - "null"
                      - boolean
                  title:
                    type:
                      - "null"
                      - string
              title:
                type:
                  - "null"
                  - string
          tags:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                id:
                  type:
                    - "null"
                    - string
                title:
                  type:
                    - "null"
                    - string
                isArchived:
                  type:
                    - "null"
                    - boolean
          timezone:
            type:
              - "null"
              - string
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
  - type: DeclarativeStream
    name: custom_fields
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /customField.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
        request_body_json:
          includeArchived: true
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          description:
            type:
              - "null"
              - string
          fieldType:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          isDateOnlyField:
            type:
              - "null"
              - boolean
          isEditableOnlyViaPublicApi:
            type:
              - "null"
              - boolean
          isPrivate:
            type:
              - "null"
              - boolean
          isRequired:
            type:
              - "null"
              - boolean
          objectType:
            type:
              - "null"
              - string
          referenceIdentifier:
            type:
              - "null"
              - string
          referencedObjectType:
            type:
              - "null"
              - string
          selectableValues:
            type:
              - "null"
              - array
            items:
              type: object
          title:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: departments
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /department.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
        request_body_json:
          includeArchived: true
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          externalName:
            type:
              - "null"
              - string
          extraData:
            type:
              - "null"
              - object
          id:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          name:
            type:
              - "null"
              - string
          parentId:
            type:
              - "null"
              - string
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
  - type: DeclarativeStream
    name: feedback_form_definitions
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /feedbackFormDefinition.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
        request_body_json:
          includeArchived: true
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          formDefinition:
            type:
              - "null"
              - object
            properties:
              sections:
                type:
                  - "null"
                  - array
                items:
                  type: object
          id:
            type:
              - "null"
              - string
          interviewId:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          isDefaultForm:
            type:
              - "null"
              - boolean
          organizationId:
            type:
              - "null"
              - string
          title:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: interview_schedules
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /interviewSchedule.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
        request_body_json:
          createdAfter: "{{ timestamp(config['start_date']) * 1000 }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          applicationId:
            type:
              - "null"
              - string
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          id:
            type:
              - "null"
              - string
          interviewEvents:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                id:
                  type:
                    - "null"
                    - string
                interviewId:
                  type:
                    - "null"
                    - string
                interviewScheduleId:
                  type:
                    - "null"
                    - string
                startTime:
                  type:
                    - "null"
                    - string
                  format: date-time
                endTime:
                  type:
                    - "null"
                    - string
                  format: date-time
                createdAt:
                  type:
                    - "null"
                    - string
                  format: date-time
                updatedAt:
                  type:
                    - "null"
                    - string
                  format: date-time
                feedbackLink:
                  type:
                    - "null"
                    - string
                hasSubmittedFeedback:
                  type:
                    - "null"
                    - boolean
                interviewerUserIds:
                  type:
                    - "null"
                    - array
                  items:
                    type:
                      - "null"
                      - string
                location:
                  type:
                    - "null"
                    - string
                meetingLink:
                  type:
                    - "null"
                    - string
                interviewerCalendarEventId:
                  type:
                    - "null"
                    - string
                notetakerTranscriptId:
                  type:
                    - "null"
                    - string
                extraData:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                interview:
                  type:
                    - "null"
                    - object
                interviewers:
                  type:
                    - "null"
                    - array
                  items:
                    type: object
                    properties:
                      id:
                        type:
                          - "null"
                          - string
                      firstName:
                        type:
                          - "null"
                          - string
                      lastName:
                        type:
                          - "null"
                          - string
                      email:
                        type:
                          - "null"
                          - string
                      globalRole:
                        type:
                          - "null"
                          - string
                      isEnabled:
                        type:
                          - "null"
                          - boolean
                      isFeedbackRequired:
                        type:
                          - "null"
                          - boolean
                      updatedAt:
                        type:
                          - "null"
                          - string
                        format: date-time
                      managerId:
                        type:
                          - "null"
                          - string
                      trainingRole:
                        type:
                          - "null"
                          - string
                      interviewerPool:
                        type:
                          - "null"
                          - object
                      customFields:
                        type:
                          - "null"
                          - array
                        items:
                          type: object
          interviewStageId:
            type:
              - "null"
              - string
          scheduledBy:
            type:
              - "null"
              - object
          status:
            type:
              - "null"
              - string
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
  - type: DeclarativeStream
    name: interviews
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /interview.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
        request_body_json:
          includeNonSharedInterviews: true
          includeArchived: true
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          title:
            type:
              - "null"
              - string
          externalTitle:
            type:
              - "null"
              - string
          type:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          isDebrief:
            type:
              - "null"
              - boolean
          isFeedbackRequired:
            type:
              - "null"
              - boolean
          isFeedbackRequested:
            type:
              - "null"
              - boolean
          instructionsHtml:
            type:
              - "null"
              - string
          instructionsPlain:
            type:
              - "null"
              - string
          jobId:
            type:
              - "null"
              - string
          feedbackFormDefinitionId:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: interview_stages
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /interviewStage.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
        request_body_json:
          interviewPlanId: "{{ stream_partition.interview_plan_id }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: NoPagination
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/definitions/streams/interview_plans"
            parent_key: id
            partition_field: interview_plan_id
            extra_fields:
              - - isArchived
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - interview_plan_is_archived
            value: "{{ stream_slice.extra_fields['isArchived'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          interview_plan_is_archived:
            type:
              - "null"
              - boolean
          interviewPlanId:
            type:
              - "null"
              - string
          interviewStageGroupId:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          orderInInterviewPlan:
            type:
              - "null"
              - integer
          title:
            type:
              - "null"
              - string
          type:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: job_postings
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /jobPosting.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          applicationDeadline:
            type:
              - "null"
              - string
            format: date-time
          applyLink:
            type:
              - "null"
              - string
          compensationTierSummary:
            type:
              - "null"
              - string
          departmentName:
            type:
              - "null"
              - string
          employmentType:
            type:
              - "null"
              - string
          externalLink:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          isListed:
            type:
              - "null"
              - boolean
          jobId:
            type:
              - "null"
              - string
          locationIds:
            type:
              - "null"
              - object
            properties:
              primaryLocationId:
                type:
                  - "null"
                  - string
              secondaryLocationIds:
                type:
                  - "null"
                  - array
                items:
                  type: string
          locationName:
            type:
              - "null"
              - string
          locationExternalName:
            type:
              - "null"
              - string
          publishedDate:
            type:
              - "null"
              - string
            format: date
          shouldDisplayCompensationOnJobBoard:
            type:
              - "null"
              - boolean
          status:
            type:
              - "null"
              - string
          teamName:
            type:
              - "null"
              - string
          title:
            type:
              - "null"
              - string
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
          workplaceType:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: jobs
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /job.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          author:
            type:
              - "null"
              - object
          brandId:
            type:
              - "null"
              - string
          closedAt:
            type:
              - "null"
              - string
            format: date-time
          confidential:
            type:
              - "null"
              - boolean
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          customFields:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                id:
                  type:
                    - "null"
                    - string
                isPrivate:
                  type:
                    - "null"
                    - boolean
                title:
                  type:
                    - "null"
                    - string
                value:
                  type:
                    - "null"
                    - boolean
                    - number
                    - string
                    - array
                    - object
                valueLabel:
                  type:
                    - "null"
                    - string
                    - array
          customRequisitionId:
            type:
              - "null"
              - string
          defaultInterviewPlanId:
            type:
              - "null"
              - string
          departmentId:
            type:
              - "null"
              - string
          employmentType:
            type:
              - "null"
              - string
          hiringTeam:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                userId:
                  type:
                    - "null"
                    - string
                firstName:
                  type:
                    - "null"
                    - string
                lastName:
                  type:
                    - "null"
                    - string
                email:
                  type:
                    - "null"
                    - string
                role:
                  type:
                    - "null"
                    - string
          id:
            type:
              - "null"
              - string
          interviewPlanIds:
            type:
              - "null"
              - array
          jobPostingIds:
            type:
              - "null"
              - array
          locationId:
            type:
              - "null"
              - string
          openedAt:
            type:
              - "null"
              - string
            format: date-time
          status:
            type:
              - "null"
              - string
          title:
            type:
              - "null"
              - string
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
  - type: DeclarativeStream
    name: locations
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /location.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
        request_body_json:
          includeArchived: true
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          address:
            type:
              - "null"
              - object
            properties:
              postalAddress:
                type:
                  - "null"
                  - object
          externalName:
            type:
              - "null"
              - string
          extraData:
            type:
              - "null"
              - object
          id:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          isRemote:
            type:
              - "null"
              - boolean
          name:
            type:
              - "null"
              - string
          parentLocationId:
            type:
              - "null"
              - string
          type:
            type:
              - "null"
              - string
          workplaceType:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: offers
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /offer.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          acceptanceStatus:
            type:
              - "null"
              - string
          applicationId:
            type:
              - "null"
              - string
          decidedAt:
            type:
              - "null"
              - string
            format: date-time
          formDefinition:
            type:
              - "null"
              - object
          id:
            type:
              - "null"
              - string
          latestVersion:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
              startDate:
                type:
                  - "null"
                  - string
                format: date
              salary:
                type:
                  - "null"
                  - object
              createdAt:
                type:
                  - "null"
                  - string
                format: date-time
              openingId:
                type:
                  - "null"
                  - string
              customFields:
                type:
                  - "null"
                  - array
                items:
                  type: object
              fileHandles:
                type:
                  - "null"
                  - array
                items:
                  type: object
              author:
                type:
                  - "null"
                  - object
              approvalStatus:
                type:
                  - "null"
                  - string
          offerStatus:
            type:
              - "null"
              - string
          versions:
            type:
              - "null"
              - array
            items:
              type: object
  - type: DeclarativeStream
    name: sources
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /source.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
        request_body_json:
          includeArchived: true
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          sourceType:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
              isArchived:
                type:
                  - "null"
                  - boolean
              title:
                type:
                  - "null"
                  - string
          title:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: users
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /user.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
        request_body_json:
          includeDeactivated: true
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          customFields:
            type:
              - "null"
              - array
            items:
              type: object
          email:
            type:
              - "null"
              - string
          firstName:
            type:
              - "null"
              - string
          globalRole:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          isEnabled:
            type:
              - "null"
              - boolean
          lastName:
            type:
              - "null"
              - string
          managerId:
            type:
              - "null"
              - string
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
  - type: DeclarativeStream
    name: application_criteria_evaluations
    primary_key:
      - application_id
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /application.listCriteriaEvaluations
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
          response_filters:
            - $ref: "#/definitions/response_filters/rate_limited"
            - $ref: "#/definitions/response_filters/server_error"
            - $ref: "#/definitions/response_filters/unauthorized"
            - $ref: "#/definitions/response_filters/missing_endpoint_permission"
            - $ref: "#/definitions/response_filters/forbidden"
            - type: HttpResponseFilter
              action: IGNORE
              predicate: >-
                {{ response.get('success', true) == false and
                response.get('errorInfo', {}).get('code') == 'application_not_found' }}
              error_message: >-
                application.listCriteriaEvaluations skipped this application's evaluations
                (Ashby request ID:
                {{ response.get('errorInfo', {}).get('requestId', 'unavailable') }}).
            - $ref: "#/definitions/response_filters/success_false"
        request_body_json:
          applicationId: "{{ stream_partition.application_id }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
          stop_condition: "{{ not response.moreDataAvailable }}"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              type: DeclarativeStream
              name: applications_for_criteria
              primary_key:
                - id
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: https://api.ashbyhq.com
                  authenticator:
                    type: BasicHttpAuthenticator
                    username: "{{ config['api_key'] }}"
                    password: ""
                  path: /application.list
                  http_method: POST
                  error_handler:
                    $ref: "#/definitions/error_handler"
                  request_body_json:
                    createdAfter: "{{ timestamp(config['start_date']) * 1000 }}"
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path:
                      - results
                  record_filter:
                    type: RecordFilter
                    condition: "{{ (record.get('currentInterviewStage') or {}).get('type') == 'PreInterviewScreen' and record.get('status') not in ['Archived', 'Hired'] }}"
                paginator:
                  type: DefaultPaginator
                  page_token_option:
                    type: RequestOption
                    inject_into: body_json
                    field_name: cursor
                  page_size_option:
                    type: RequestOption
                    inject_into: body_json
                    field_name: limit
                  pagination_strategy:
                    type: CursorPagination
                    page_size: 100
                    cursor_value: "{{ response.nextCursor }}"
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/draft-07/schema#
                  additionalProperties: true
                  properties:
                    id:
                      type: string
            parent_key: id
            partition_field: application_id
    transformations:
      - type: AddFields
        fields:
          - path:
              - application_id
            type: AddedFieldDefinition
            value: "{{ stream_partition.application_id }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          application_id:
            type:
              - "null"
              - string
          criterion:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
              title:
                type:
                  - "null"
                  - string
              type:
                type:
                  - "null"
                  - string
              prompt:
                type:
                  - "null"
                  - string
              applicationFormDefinitionId:
                type:
                  - "null"
                  - string
              applicationFormFieldPath:
                type:
                  - "null"
                  - string
          evaluatedAt:
            type:
              - "null"
              - string
            format: date-time
          id:
            type:
              - "null"
              - string
          outcome:
            type:
              - "null"
              - string
          outcomeNumber:
            type:
              - "null"
              - number
          reasoning:
            type:
              - "null"
              - string
          skipReason:
            type:
              - "null"
              - string
          status:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: application_history
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /application.listHistory
        http_method: POST
        request_body_json:
          applicationId: "{{ stream_partition.application_id }}"
        error_handler:
          $ref: "#/definitions/error_handler"
          response_filters:
            - $ref: "#/definitions/response_filters/rate_limited"
            - $ref: "#/definitions/response_filters/server_error"
            - $ref: "#/definitions/response_filters/unauthorized"
            - $ref: "#/definitions/response_filters/missing_endpoint_permission"
            - $ref: "#/definitions/response_filters/forbidden"
            - type: HttpResponseFilter
              action: IGNORE
              predicate: >-
                {{ response.get('success', true) == false and
                response.get('errorInfo', {}).get('code') == 'application_not_found' }}
              error_message: >-
                application.listHistory skipped this application's history
                (Ashby request ID:
                {{ response.get('errorInfo', {}).get('requestId', 'unavailable') }}).
            - $ref: "#/definitions/response_filters/success_false"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
          stop_condition: "{{ not response.moreDataAvailable }}"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              type: DeclarativeStream
              name: applications_for_history
              primary_key:
                - id
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: https://api.ashbyhq.com
                  authenticator:
                    type: BasicHttpAuthenticator
                    username: "{{ config['api_key'] }}"
                    password: ""
                  path: /application.list
                  http_method: POST
                  error_handler:
                    $ref: "#/definitions/error_handler"
                  request_body_json:
                    createdAfter: "{{ timestamp(config['start_date']) * 1000 }}"
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path:
                      - results
                  record_filter:
                    type: RecordFilter
                    condition: "{{ not record.get('updatedAt') or str_to_datetime(record['updatedAt']) >= str_to_datetime(stream_interval['start_time']) }}"
                paginator:
                  type: DefaultPaginator
                  page_token_option:
                    type: RequestOption
                    inject_into: body_json
                    field_name: cursor
                  page_size_option:
                    type: RequestOption
                    inject_into: body_json
                    field_name: limit
                  pagination_strategy:
                    type: CursorPagination
                    page_size: 100
                    cursor_value: "{{ response.nextCursor }}"
                    stop_condition: "{{ not response.moreDataAvailable }}"
              incremental_sync:
                $ref: "#/definitions/application_updated_at_cursor"
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/draft-07/schema#
                  additionalProperties: true
                  properties:
                    id:
                      type: string
                    updatedAt:
                      type: string
                      format: date-time
            parent_key: id
            partition_field: application_id
            incremental_dependency: true
            extra_fields:
              - - status
              - - createdAt
              - - updatedAt
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - application_id
            value: "{{ stream_partition.application_id }}"
          - type: AddedFieldDefinition
            path:
              - application_status
            value: "{{ stream_slice.extra_fields['status'] }}"
          - type: AddedFieldDefinition
            path:
              - application_created_at
            value: "{{ stream_slice.extra_fields['createdAt'] }}"
          - type: AddedFieldDefinition
            path:
              - application_updated_at
            value: "{{ stream_slice.extra_fields['updatedAt'] }}"
    incremental_sync:
      $ref: "#/definitions/application_updated_at_cursor"
      cursor_field: application_updated_at
      global_substream_cursor: true
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type: string
            format: uuid
          application_id:
            type:
              - "null"
              - string
          application_status:
            type:
              - "null"
              - string
          application_created_at:
            type:
              - "null"
              - string
            format: date-time
          application_updated_at:
            type:
              - "null"
              - string
            format: date-time
          stageId:
            type:
              - "null"
              - string
            format: uuid
          title:
            type:
              - "null"
              - string
          enteredStageAt:
            type:
              - "null"
              - string
            format: date-time
          leftStageAt:
            type:
              - "null"
              - string
            format: date-time
          stageNumber:
            type:
              - "null"
              - integer
          actorId:
            type:
              - "null"
              - string
          allowedActions:
            type:
              - "null"
              - array
            items:
              type: string
  - $ref: "#/definitions/streams/interview_plans"
  - type: DeclarativeStream
    name: interview_stage_groups
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /interviewStageGroup.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
        request_headers:
          Content-Type: application/json
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: NoPagination
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          title:
            type:
              - "null"
              - string
          order:
            type:
              - "null"
              - integer
          stageType:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: interviewer_pools
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /interviewerPool.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
        request_body_json:
          includeArchivedPools: true
          includeArchivedTrainingStages: true
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
          stop_condition: "{{ not response.moreDataAvailable }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          title:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          trainingPath:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              id:
                type:
                  - "null"
                  - string
              enabled:
                type:
                  - "null"
                  - boolean
              trainingStages:
                type:
                  - "null"
                  - array
                items:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                  properties:
                    id:
                      type:
                        - "null"
                        - string
                    interviewerRole:
                      type:
                        - "null"
                        - string
                    interviewsRequired:
                      type:
                        - "null"
                        - integer
                    isArchived:
                      type:
                        - "null"
                        - boolean
                    approvalRequired:
                      type:
                        - "null"
                        - boolean
                    approvers:
                      type:
                        - "null"
                        - array
                      items:
                        type:
                          - "null"
                          - object
                        additionalProperties: true
                        properties:
                          id:
                            type:
                              - "null"
                              - string
                          firstName:
                            type:
                              - "null"
                              - string
                          lastName:
                            type:
                              - "null"
                              - string
                          email:
                            type:
                              - "null"
                              - string
                          globalRole:
                            type:
                              - "null"
                              - string
                          isEnabled:
                            type:
                              - "null"
                              - boolean
                          updatedAt:
                            type:
                              - "null"
                              - string
                            format: date-time
                          managerId:
                            type:
                              - "null"
                              - string
                          customFields:
                            type:
                              - "null"
                              - array
                            items:
                              type:
                                - "null"
                                - object
                              additionalProperties: true
                              properties:
                                id:
                                  type:
                                    - "null"
                                    - string
                                referenceIdentifier:
                                  type:
                                    - "null"
                                    - string
                                isPrivate:
                                  type:
                                    - "null"
                                    - boolean
                                title:
                                  type:
                                    - "null"
                                    - string
                                value: {}
                                valueLabel:
                                  type:
                                    - "null"
                                    - string
                                    - array
  - type: DeclarativeStream
    name: survey_form_definitions
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /surveyFormDefinition.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
          stop_condition: "{{ not response.moreDataAvailable }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          title:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          surveyType:
            type:
              - "null"
              - string
          formDefinition:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              sections:
                type:
                  - "null"
                  - array
                items:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                  properties:
                    title:
                      type:
                        - "null"
                        - string
                    descriptionHtml:
                      type:
                        - "null"
                        - string
                    descriptionPlain:
                      type:
                        - "null"
                        - string
                    fields:
                      type:
                        - "null"
                        - array
                      items:
                        type:
                          - "null"
                          - object
                        additionalProperties: true
                        properties:
                          isRequired:
                            type:
                              - "null"
                              - boolean
                          descriptionHtml:
                            type:
                              - "null"
                              - string
                          descriptionPlain:
                            type:
                              - "null"
                              - string
                          field:
                            type:
                              - "null"
                              - object
                            additionalProperties: true
                            properties:
                                id:
                                  type:
                                    - "null"
                                    - string
                                type:
                                  type:
                                    - "null"
                                    - string
                                path:
                                  type:
                                    - "null"
                                    - string
                                humanReadablePath:
                                  type:
                                    - "null"
                                    - string
                                title:
                                  type:
                                    - "null"
                                    - string
                                isNullable:
                                  type:
                                    - "null"
                                    - boolean
                                selectableValues:
                                  type:
                                    - "null"
                                    - array
                                  items:
                                    type:
                                      - "null"
                                      - object
                                    additionalProperties: true
                                    properties:
                                      label:
                                        type:
                                          - "null"
                                          - string
                                      value:
                                        type:
                                          - "null"
                                          - string
                          visibilityCondition:
                            type:
                              - "null"
                              - object
  - type: DeclarativeStream
    name: source_tracking_links
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /sourceTrackingLink.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
        request_body_json:
          includeDisabled: true
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
          stop_condition: "{{ not response.moreDataAvailable }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          code:
            type:
              - "null"
              - string
          enabled:
            type:
              - "null"
              - boolean
          sourceId:
            type:
              - "null"
              - string
          link:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: openings
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /opening.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
          stop_condition: "{{ not response.moreDataAvailable }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          openedAt:
            type:
              - "null"
              - string
            format: date-time
          closedAt:
            type:
              - "null"
              - string
            format: date-time
          isArchived:
            type:
              - "null"
              - boolean
          closeReasonId:
            type:
              - "null"
              - string
          archivedAt:
            type:
              - "null"
              - string
            format: date-time
          openingState:
            type:
              - "null"
              - string
          latestVersion:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              id:
                type:
                  - "null"
                  - string
              identifier:
                type:
                  - "null"
                  - string
              description:
                type:
                  - "null"
                  - string
              authorId:
                type:
                  - "null"
                  - string
              createdAt:
                type:
                  - "null"
                  - string
                format: date-time
              targetHireDate:
                type:
                  - "null"
                  - string
              targetStartDate:
                type:
                  - "null"
                  - string
              isBackfill:
                type:
                  - "null"
                  - boolean
              employmentType:
                type:
                  - "null"
                  - string
              teamId:
                type:
                  - "null"
                  - string
              jobIds:
                type:
                  - "null"
                  - array
                items:
                  type: string
              locationIds:
                type:
                  - "null"
                  - array
                items:
                  type: string
              hiringTeam:
                type:
                  - "null"
                  - array
                items:
                  type: object
                  additionalProperties: true
                  properties:
                    userId:
                      type:
                        - "null"
                        - string
                    firstName:
                      type:
                        - "null"
                        - string
                    lastName:
                      type:
                        - "null"
                        - string
                    email:
                      type:
                        - "null"
                        - string
                    role:
                      type:
                        - "null"
                        - string
              customFields:
                type:
                  - "null"
                  - array
                items:
                  type: object
                  additionalProperties: true
                  properties:
                    id:
                      type:
                        - "null"
                        - string
                    isPrivate:
                      type:
                        - "null"
                        - boolean
                    referenceIdentifier:
                      type:
                        - "null"
                        - string
                    title:
                      type:
                        - "null"
                        - string
                    valueLabel:
                      type:
                        - "null"
                        - string
                        - array
                    value:
                      type:
                        - "null"
                        - boolean
                        - number
                        - string
                        - array
                        - object
  - type: DeclarativeStream
    name: job_templates
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: ""
        path: /jobTemplate.list
        http_method: POST
        error_handler:
          $ref: "#/definitions/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
[...]
