version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - users
definitions:
  streams:
    applications:
      type: DeclarativeStream
      name: applications
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.ashbyhq.com
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
            password: "{{ config['api_key'] }}"
          path: /application.list
          http_method: POST
          request_body_json:
            createdAfter: "{{ timestamp(config['start_date']) * 1000 }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            archiveReason:
              type:
                - "null"
                - string
            candidate:
              type:
                - "null"
                - object
            createdAt:
              type:
                - "null"
                - string
              format: date-time
            creditedToUser:
              type:
                - "null"
                - object
            currentInterviewStage:
              type:
                - "null"
                - object
            customFields:
              type:
                - "null"
                - array
            hiringTeam:
              type:
                - "null"
                - array
            id:
              type:
                - "null"
                - string
            job:
              type:
                - "null"
                - object
            status:
              type:
                - "null"
                - string
            updatedAt:
              type:
                - "null"
                - string
              format: date-time
    archive_reasons:
      type: DeclarativeStream
      name: archive_reasons
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.ashbyhq.com
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
            password: "{{ config['api_key'] }}"
          path: /archiveReason.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            isArchived:
              type:
                - "null"
                - boolean
            reasonType:
              type:
                - "null"
                - string
            text:
              type:
                - "null"
                - string
    candidate_tags:
      type: DeclarativeStream
      name: candidate_tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.ashbyhq.com
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
            password: "{{ config['api_key'] }}"
          path: /candidateTag.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            isArchived:
              type:
                - "null"
                - boolean
            title:
              type:
                - "null"
                - string
    candidates:
      type: DeclarativeStream
      name: candidates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.ashbyhq.com
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
            password: "{{ config['api_key'] }}"
          path: /candidate.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            applicationIds:
              type:
                - "null"
                - array
            company:
              type:
                - "null"
                - string
            customFields:
              type:
                - "null"
                - array
            emailAddresses:
              type:
                - "null"
                - array
            fileHandles:
              type:
                - "null"
                - array
            id:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            phoneNumbers:
              type:
                - "null"
                - array
            position:
              type:
                - "null"
                - string
            primaryEmailAddress:
              type:
                - "null"
                - object
            resumeFileHandle:
              type:
                - "null"
                - object
            school:
              type:
                - "null"
                - string
            socialLinks:
              type:
                - "null"
                - array
            tags:
              type:
                - "null"
                - array
    custom_fields:
      type: DeclarativeStream
      name: custom_fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.ashbyhq.com
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
            password: "{{ config['api_key'] }}"
          path: /customField.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            fieldType:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            isArchived:
              type:
                - "null"
                - boolean
            objectType:
              type:
                - "null"
                - string
            title:
              type:
                - "null"
                - string
    departments:
      type: DeclarativeStream
      name: departments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.ashbyhq.com
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
            password: "{{ config['api_key'] }}"
          path: /department.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            isArchived:
              type:
                - "null"
                - boolean
            name:
              type:
                - "null"
                - string
            parentId:
              type:
                - "null"
                - string
    feedback_form_definitions:
      type: DeclarativeStream
      name: feedback_form_definitions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.ashbyhq.com
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
            password: "{{ config['api_key'] }}"
          path: /feedbackFormDefinition.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            formDefinition:
              type:
                - "null"
                - object
            id:
              type:
                - "null"
                - string
            interviewId:
              type:
                - "null"
                - string
            isArchived:
              type:
                - "null"
                - boolean
            isDefaultForm:
              type:
                - "null"
                - boolean
            organizationId:
              type:
                - "null"
                - string
            title:
              type:
                - "null"
                - string
    interview_schedules:
      type: DeclarativeStream
      name: interview_schedules
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.ashbyhq.com
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
            password: "{{ config['api_key'] }}"
          path: /interviewSchedule.list
          http_method: POST
          request_body_json:
            createdAfter: "{{ timestamp(config['start_date']) * 1000 }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            applicationId:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            interviewStageId:
              type:
                - "null"
                - string
            status:
              type:
                - "null"
                - string
    job_postings:
      type: DeclarativeStream
      name: job_postings
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.ashbyhq.com
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
            password: "{{ config['api_key'] }}"
          path: /jobPosting.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            departmentName:
              type:
                - "null"
                - string
            employmentType:
              type:
                - "null"
                - string
            externalLink:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            isListed:
              type:
                - "null"
                - boolean
            jobId:
              type:
                - "null"
                - string
            locationIds:
              type:
                - "null"
                - object
            locationName:
              type:
                - "null"
                - string
            publishedDate:
              type:
                - "null"
                - string
              format: date-time
            teamName:
              type:
                - "null"
                - string
            title:
              type:
                - "null"
                - string
    jobs:
      type: DeclarativeStream
      name: jobs
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.ashbyhq.com
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
            password: "{{ config['api_key'] }}"
          path: /job.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            confidential:
              type:
                - "null"
                - boolean
            customFields:
              type:
                - "null"
                - array
            customRequisitionId:
              type:
                - "null"
                - string
            defaultInterviewPlanId:
              type:
                - "null"
                - string
            departmentId:
              type:
                - "null"
                - string
            employmentType:
              type:
                - "null"
                - string
            hiringTeam:
              type:
                - "null"
                - array
            id:
              type:
                - "null"
                - string
            interviewPlanIds:
              type:
                - "null"
                - array
            jobPostingIds:
              type:
                - "null"
                - array
            locationId:
              type:
                - "null"
                - string
            status:
              type:
                - "null"
                - string
            title:
              type:
                - "null"
                - string
    locations:
      type: DeclarativeStream
      name: locations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.ashbyhq.com
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
            password: "{{ config['api_key'] }}"
          path: /location.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            address:
              type:
                - "null"
                - object
            id:
              type:
                - "null"
                - string
            isArchived:
              type:
                - "null"
                - boolean
            isRemote:
              type:
                - "null"
                - boolean
            name:
              type:
                - "null"
                - string
    offers:
      type: DeclarativeStream
      name: offers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.ashbyhq.com
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
            password: "{{ config['api_key'] }}"
          path: /offer.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            acceptanceStatus:
              type:
                - "null"
                - string
            applicationId:
              type:
                - "null"
                - string
            decidedAt:
              type:
                - "null"
                - string
              format: date-time
            id:
              type:
                - "null"
                - string
            latestVersion:
              type:
                - "null"
                - object
    sources:
      type: DeclarativeStream
      name: sources
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.ashbyhq.com
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
            password: "{{ config['api_key'] }}"
          path: /source.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            isArchived:
              type:
                - "null"
                - boolean
            title:
              type:
                - "null"
                - string
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.ashbyhq.com
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['api_key'] }}"
            password: "{{ config['api_key'] }}"
          path: /user.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            email:
              type:
                - "null"
                - string
            firstName:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            lastName:
              type:
                - "null"
                - string
  base_requester:
    type: HttpRequester
    url_base: https://api.ashbyhq.com
    authenticator:
      type: BasicHttpAuthenticator
      username: "{{ config['api_key'] }}"
      password: "{{ config['api_key'] }}"
streams:
  - type: DeclarativeStream
    name: applications
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /application.list
        http_method: POST
        request_body_json:
          createdAfter: "{{ timestamp(config['start_date']) * 1000 }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          archiveReason:
            type:
              - "null"
              - string
          candidate:
            type:
              - "null"
              - object
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          creditedToUser:
            type:
              - "null"
              - object
          currentInterviewStage:
            type:
              - "null"
              - object
          customFields:
            type:
              - "null"
              - array
          hiringTeam:
            type:
              - "null"
              - array
          id:
            type:
              - "null"
              - string
          job:
            type:
              - "null"
              - object
          status:
            type:
              - "null"
              - string
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
  - type: DeclarativeStream
    name: archive_reasons
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /archiveReason.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          reasonType:
            type:
              - "null"
              - string
          text:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: candidate_tags
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /candidateTag.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          title:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: candidates
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /candidate.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          applicationIds:
            type:
              - "null"
              - array
          company:
            type:
              - "null"
              - string
          customFields:
            type:
              - "null"
              - array
          emailAddresses:
            type:
              - "null"
              - array
          fileHandles:
            type:
              - "null"
              - array
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          phoneNumbers:
            type:
              - "null"
              - array
          position:
            type:
              - "null"
              - string
          primaryEmailAddress:
            type:
              - "null"
              - object
          resumeFileHandle:
            type:
              - "null"
              - object
          school:
            type:
              - "null"
              - string
          socialLinks:
            type:
              - "null"
              - array
          tags:
            type:
              - "null"
              - array
  - type: DeclarativeStream
    name: custom_fields
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /customField.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          fieldType:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          objectType:
            type:
              - "null"
              - string
          title:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: departments
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /department.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          name:
            type:
              - "null"
              - string
          parentId:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: feedback_form_definitions
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /feedbackFormDefinition.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          formDefinition:
            type:
              - "null"
              - object
          id:
            type:
              - "null"
              - string
          interviewId:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          isDefaultForm:
            type:
              - "null"
              - boolean
          organizationId:
            type:
              - "null"
              - string
          title:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: interview_schedules
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /interviewSchedule.list
        http_method: POST
        request_body_json:
          createdAfter: "{{ timestamp(config['start_date']) * 1000 }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          applicationId:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          interviewStageId:
            type:
              - "null"
              - string
          status:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: interviews
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /interview.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          applicationId:
            type:
              - "null"
              - string
          interviewScheduleId:
            type:
              - "null"
              - string
          interviewStageId:
            type:
              - "null"
              - string
          status:
            type:
              - "null"
              - string
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
          cancelledAt:
            type:
              - "null"
              - string
            format: date-time
          startTime:
            type:
              - "null"
              - string
            format: date-time
          endTime:
            type:
              - "null"
              - string
            format: date-time
          feedbackLink:
            type:
              - "null"
              - string
          interviewerUserIds:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - string
          meetingLink:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: interview_stages
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /interviewStage.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          title:
            type:
              - "null"
              - string
          type:
            type:
              - "null"
              - string
          orderInInterviewPlan:
            type:
              - "null"
              - integer
          interviewPlanId:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
  - type: DeclarativeStream
    name: job_postings
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /jobPosting.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          departmentName:
            type:
              - "null"
              - string
          employmentType:
            type:
              - "null"
              - string
          externalLink:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          isListed:
            type:
              - "null"
              - boolean
          jobId:
            type:
              - "null"
              - string
          locationIds:
            type:
              - "null"
              - object
          locationName:
            type:
              - "null"
              - string
          publishedDate:
            type:
              - "null"
              - string
            format: date-time
          teamName:
            type:
              - "null"
              - string
          title:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: jobs
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /job.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          confidential:
            type:
              - "null"
              - boolean
          customFields:
            type:
              - "null"
              - array
          customRequisitionId:
            type:
              - "null"
              - string
          defaultInterviewPlanId:
            type:
              - "null"
              - string
          departmentId:
            type:
              - "null"
              - string
          employmentType:
            type:
              - "null"
              - string
          hiringTeam:
            type:
              - "null"
              - array
          id:
            type:
              - "null"
              - string
          interviewPlanIds:
            type:
              - "null"
              - array
          jobPostingIds:
            type:
              - "null"
              - array
          locationId:
            type:
              - "null"
              - string
          status:
            type:
              - "null"
              - string
          title:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: locations
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /location.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          address:
            type:
              - "null"
              - object
          id:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          isRemote:
            type:
              - "null"
              - boolean
          name:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: offers
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /offer.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          acceptanceStatus:
            type:
              - "null"
              - string
          applicationId:
            type:
              - "null"
              - string
          decidedAt:
            type:
              - "null"
              - string
            format: date-time
          id:
            type:
              - "null"
              - string
          latestVersion:
            type:
              - "null"
              - object
  - type: DeclarativeStream
    name: sources
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /source.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          title:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: users
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /user.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          email:
            type:
              - "null"
              - string
          firstName:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          lastName:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: application_criteria_evaluations
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /application.listCriteriaEvaluations
        http_method: POST
        request_body_json:
          applicationId: "{{ stream_partition.application_id }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: NoPagination
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              type: DeclarativeStream
              name: applications_for_criteria
              primary_key:
                - id
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: https://api.ashbyhq.com
                  authenticator:
                    type: BasicHttpAuthenticator
                    username: "{{ config['api_key'] }}"
                    password: "{{ config['api_key'] }}"
                  path: /application.list
                  http_method: POST
                  request_body_json:
                    createdAfter: "{{ timestamp(config['start_date']) * 1000 }}"
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path:
                      - results
                  record_filter:
                    type: RecordFilter
                    condition: "{{ (record.get('currentInterviewStage') or {}).get('type') == 'PreInterviewScreen' and record.get('status') not in ['Archived', 'Hired'] }}"
                paginator:
                  type: DefaultPaginator
                  page_token_option:
                    type: RequestOption
                    inject_into: body_json
                    field_name: cursor
                  page_size_option:
                    type: RequestOption
                    inject_into: body_json
                    field_name: per_page
                  pagination_strategy:
                    type: CursorPagination
                    page_size: 100
                    cursor_value: "{{ response.nextCursor }}"
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/draft-07/schema#
                  additionalProperties: true
                  properties:
                    id:
                      type: string
            parent_key: id
            partition_field: application_id
    transformations:
      - type: AddFields
        fields:
          - path:
              - application_id
            value: "{{ stream_partition.application_id }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          application_id:
            type:
              - "null"
              - string
          criterionName:
            type:
              - "null"
              - string
          outcome:
            type:
              - "null"
              - string
          reasoning:
            type:
              - "null"
              - string
          assessmentType:
            type:
              - "null"
              - string
          jobId:
            type:
              - "null"
              - string
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        title: Ashby API key
        description: >-
          The Ashby API Key, see <a
          href=\"https://developers.ashbyhq.com/reference/authentication\">doc</a>
          here.
        airbyte_secret: true
        order: 0
      start_date:
        type: string
        title: Start date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00Z. Any data before
          this date will not be replicated.
        examples:
          - "2017-01-25T00:00:00Z"
        order: 1
    additionalProperties: true
metadata:
  autoImportSchema:
    applications: false
    archive_reasons: false
    candidate_tags: false
    candidates: false
    custom_fields: false
    departments: false
    feedback_form_definitions: false
    interview_schedules: false
    job_postings: false
    jobs: false
    locations: false
    offers: false
    sources: false
    users: false
    interviews: false
    interview_stages: false
    application_criteria_evaluations: false
schemas:
  applications:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      archiveReason:
        type:
          - "null"
          - string
      candidate:
        type:
          - "null"
          - object
      createdAt:
        type:
          - "null"
          - string
        format: date-time
      creditedToUser:
        type:
          - "null"
          - object
      currentInterviewStage:
        type:
          - "null"
          - object
      customFields:
        type:
          - "null"
          - array
      hiringTeam:
        type:
          - "null"
          - array
      id:
        type:
          - "null"
          - string
      job:
        type:
          - "null"
          - object
      status:
        type:
          - "null"
          - string
      updatedAt:
        type:
          - "null"
          - string
        format: date-time
  archive_reasons:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      isArchived:
        type:
          - "null"
          - boolean
      reasonType:
        type:
          - "null"
          - string
      text:
        type:
          - "null"
          - string
  candidate_tags:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      isArchived:
        type:
          - "null"
          - boolean
      title:
        type:
          - "null"
          - string
  candidates:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      applicationIds:
        type:
          - "null"
          - array
      company:
        type:
          - "null"
          - string
      customFields:
        type:
          - "null"
          - array
      emailAddresses:
        type:
          - "null"
          - array
      fileHandles:
        type:
          - "null"
          - array
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      phoneNumbers:
        type:
          - "null"
          - array
      position:
        type:
          - "null"
          - string
      primaryEmailAddress:
        type:
          - "null"
          - object
      resumeFileHandle:
        type:
          - "null"
          - object
      school:
        type:
          - "null"
          - string
      socialLinks:
        type:
          - "null"
          - array
      tags:
        type:
          - "null"
          - array
  custom_fields:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      fieldType:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      isArchived:
        type:
          - "null"
          - boolean
      objectType:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
  departments:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      isArchived:
        type:
          - "null"
          - boolean
      name:
        type:
          - "null"
          - string
      parentId:
        type:
          - "null"
          - string
  feedback_form_definitions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      formDefinition:
        type:
          - "null"
          - object
      id:
        type:
          - "null"
          - string
      interviewId:
        type:
          - "null"
          - string
      isArchived:
        type:
          - "null"
          - boolean
      isDefaultForm:
        type:
          - "null"
          - boolean
      organizationId:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
  interview_schedules:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      applicationId:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      interviewStageId:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
  job_postings:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      departmentName:
        type:
          - "null"
          - string
      employmentType:
        type:
          - "null"
          - string
      externalLink:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      isListed:
        type:
          - "null"
          - boolean
      jobId:
        type:
          - "null"
          - string
      locationIds:
        type:
          - "null"
          - object
      locationName:
        type:
          - "null"
          - string
      publishedDate:
        type:
          - "null"
          - string
        format: date-time
      teamName:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
  jobs:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      confidential:
        type:
          - "null"
          - boolean
      customFields:
        type:
          - "null"
          - array
      customRequisitionId:
        type:
          - "null"
          - string
      defaultInterviewPlanId:
        type:
          - "null"
          - string
      departmentId:
        type:
          - "null"
          - string
      employmentType:
        type:
          - "null"
          - string
      hiringTeam:
        type:
          - "null"
          - array
      id:
        type:
          - "null"
          - string
      interviewPlanIds:
        type:
          - "null"
          - array
      jobPostingIds:
        type:
          - "null"
          - array
      locationId:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
  locations:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      address:
        type:
          - "null"
          - object
      id:
        type:
          - "null"
          - string
      isArchived:
        type:
          - "null"
          - boolean
      isRemote:
        type:
          - "null"
          - boolean
      name:
        type:
          - "null"
          - string
  offers:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      acceptanceStatus:
        type:
          - "null"
          - string
      applicationId:
        type:
          - "null"
          - string
      decidedAt:
        type:
          - "null"
          - string
        format: date-time
      id:
        type:
          - "null"
          - string
      latestVersion:
        type:
          - "null"
          - object
  sources:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      isArchived:
        type:
          - "null"
          - boolean
      title:
        type:
          - "null"
          - string
  users:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      email:
        type:
          - "null"
          - string
      firstName:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      lastName:
        type:
          - "null"
          - string
