version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - users
streams:
  - type: DeclarativeStream
    name: applications
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /application.list
        http_method: POST
        request_body_json:
          createdAfter: "{{ timestamp(config['start_date']) * 1000 }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          appliedViaJobPostingId:
            type:
              - "null"
              - string
          archiveReason:
            type:
              - "null"
              - string
          archivedAt:
            type:
              - "null"
              - string
            format: date-time
          candidate:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
                format: uuid
              name:
                type:
                  - "null"
                  - string
              primaryEmailAddress:
                type:
                  - "null"
                  - object
              primaryPhoneNumber:
                type:
                  - "null"
                  - object
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          creditedToUser:
            type:
              - "null"
              - object
          currentInterviewStage:
            type:
              - "null"
              - object
          customFields:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                id:
                  type:
                    - "null"
                    - string
                  format: uuid
                isPrivate:
                  type:
                    - "null"
                    - boolean
                title:
                  type:
                    - "null"
                    - string
                valueLabel:
                  type:
                    - "null"
                    - string
                    - array
                value:
                  type:
                    - "null"
                    - boolean
                    - number
                    - string
                    - array
                    - object
          hiringTeam:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                userId:
                  type:
                    - "null"
                    - string
                  format: uuid
                firstName:
                  type:
                    - "null"
                    - string
                lastName:
                  type:
                    - "null"
                    - string
                email:
                  type:
                    - "null"
                    - string
                  format: email
                role:
                  type:
                    - "null"
                    - string
          id:
            type:
              - "null"
              - string
          job:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
                format: uuid
              title:
                type:
                  - "null"
                  - string
              locationId:
                type:
                  - "null"
                  - string
                format: uuid
              departmentId:
                type:
                  - "null"
                  - string
                format: uuid
          openings:
            type:
              - "null"
              - array
            items:
              type: object
          source:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
              isArchived:
                type:
                  - "null"
                  - boolean
              sourceType:
                type:
                  - "null"
                  - object
                properties:
                  id:
                    type:
                      - "null"
                      - string
                  isArchived:
                    type:
                      - "null"
                      - boolean
                  title:
                    type:
                      - "null"
                      - string
              title:
                type:
                  - "null"
                  - string
          status:
            type:
              - "null"
              - string
          submitterClientIp:
            type:
              - "null"
              - string
          submitterUserAgent:
            type:
              - "null"
              - string
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
  - type: DeclarativeStream
    name: archive_reasons
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /archiveReason.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          reasonType:
            type:
              - "null"
              - string
          text:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: candidate_tags
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /candidateTag.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          title:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: candidates
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /candidate.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          applicationIds:
            type:
              - "null"
              - array
          company:
            type:
              - "null"
              - string
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          creditedToUser:
            type:
              - "null"
              - object
          customFields:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                id:
                  type:
                    - "null"
                    - string
                  format: uuid
                isPrivate:
                  type:
                    - "null"
                    - boolean
                title:
                  type:
                    - "null"
                    - string
                value:
                  type:
                    - "null"
                    - boolean
                    - number
                    - string
                    - array
                    - object
                valueLabel:
                  type:
                    - "null"
                    - string
                    - array
          emailAddresses:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                value:
                  type:
                    - "null"
                    - string
                type:
                  type:
                    - "null"
                    - string
                isPrimary:
                  type:
                    - "null"
                    - boolean
          fileHandles:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                id:
                  type:
                    - "null"
                    - string
                  format: uuid
                name:
                  type:
                    - "null"
                    - string
                handle:
                  type:
                    - "null"
                    - string
          fraudStatus:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          location:
            type:
              - "null"
              - object
          name:
            type:
              - "null"
              - string
          phoneNumbers:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                value:
                  type:
                    - "null"
                    - string
                type:
                  type:
                    - "null"
                    - string
                isPrimary:
                  type:
                    - "null"
                    - boolean
          position:
            type:
              - "null"
              - string
          primaryEmailAddress:
            type:
              - "null"
              - object
            properties:
              value:
                type:
                  - "null"
                  - string
              type:
                type:
                  - "null"
                  - string
              isPrimary:
                type:
                  - "null"
                  - boolean
          primaryPhoneNumber:
            type:
              - "null"
              - object
            properties:
              value:
                type:
                  - "null"
                  - string
              type:
                type:
                  - "null"
                  - string
              isPrimary:
                type:
                  - "null"
                  - boolean
          profileUrl:
            type:
              - "null"
              - string
          resumeFileHandle:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
                format: uuid
              name:
                type:
                  - "null"
                  - string
              handle:
                type:
                  - "null"
                  - string
          school:
            type:
              - "null"
              - string
          socialLinks:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                type:
                  type:
                    - "null"
                    - string
                url:
                  type:
                    - "null"
                    - string
          source:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
              isArchived:
                type:
                  - "null"
                  - boolean
              sourceType:
                type:
                  - "null"
                  - object
                properties:
                  id:
                    type:
                      - "null"
                      - string
                  isArchived:
                    type:
                      - "null"
                      - boolean
                  title:
                    type:
                      - "null"
                      - string
              title:
                type:
                  - "null"
                  - string
          tags:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                id:
                  type:
                    - "null"
                    - string
                  format: uuid
                title:
                  type:
                    - "null"
                    - string
                isArchived:
                  type:
                    - "null"
                    - boolean
          timezone:
            type:
              - "null"
              - string
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
  - type: DeclarativeStream
    name: custom_fields
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /customField.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          description:
            type:
              - "null"
              - string
          fieldType:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          isPrivate:
            type:
              - "null"
              - boolean
          isRequired:
            type:
              - "null"
              - boolean
          objectType:
            type:
              - "null"
              - string
          selectableValues:
            type:
              - "null"
              - array
            items:
              type: object
          title:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: departments
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /department.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          externalName:
            type:
              - "null"
              - string
          extraData:
            type:
              - "null"
              - object
          id:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          name:
            type:
              - "null"
              - string
          parentId:
            type:
              - "null"
              - string
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
  - type: DeclarativeStream
    name: feedback_form_definitions
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /feedbackFormDefinition.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          formDefinition:
            type:
              - "null"
              - object
            properties:
              sections:
                type:
                  - "null"
                  - array
                items:
                  type: object
          id:
            type:
              - "null"
              - string
          interviewId:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          isDefaultForm:
            type:
              - "null"
              - boolean
          organizationId:
            type:
              - "null"
              - string
          title:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: interview_schedules
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /interviewSchedule.list
        http_method: POST
        request_body_json:
          createdAfter: "{{ timestamp(config['start_date']) * 1000 }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          applicationId:
            type:
              - "null"
              - string
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          id:
            type:
              - "null"
              - string
          interviewEvents:
            type:
              - "null"
              - array
            items:
              type: object
          interviewStageId:
            type:
              - "null"
              - string
          scheduledBy:
            type:
              - "null"
              - object
          status:
            type:
              - "null"
              - string
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
  - type: DeclarativeStream
    name: interviews
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /interview.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          applicationId:
            type:
              - "null"
              - string
          interviewScheduleId:
            type:
              - "null"
              - string
          interviewStageId:
            type:
              - "null"
              - string
          status:
            type:
              - "null"
              - string
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
          cancelledAt:
            type:
              - "null"
              - string
            format: date-time
          startTime:
            type:
              - "null"
              - string
            format: date-time
          endTime:
            type:
              - "null"
              - string
            format: date-time
          feedbackLink:
            type:
              - "null"
              - string
          interviewerUserIds:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - string
          meetingLink:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: interview_stages
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /interviewStage.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          interviewPlanId:
            type:
              - "null"
              - string
          interviewStageGroupId:
            type:
              - "null"
              - string
            format: uuid
          isArchived:
            type:
              - "null"
              - boolean
          orderInInterviewPlan:
            type:
              - "null"
              - integer
          title:
            type:
              - "null"
              - string
          type:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: job_postings
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /jobPosting.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          applicationDeadline:
            type:
              - "null"
              - string
            format: date-time
          applyLink:
            type:
              - "null"
              - string
            format: uri
          compensationTierSummary:
            type:
              - "null"
              - string
          departmentName:
            type:
              - "null"
              - string
          employmentType:
            type:
              - "null"
              - string
          externalLink:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          isListed:
            type:
              - "null"
              - boolean
          jobId:
            type:
              - "null"
              - string
          locationIds:
            type:
              - "null"
              - object
            properties:
              primaryLocationId:
                type:
                  - "null"
                  - string
                format: uuid
              secondaryLocationIds:
                type:
                  - "null"
                  - array
                items:
                  type: string
          locationName:
            type:
              - "null"
              - string
          publishedDate:
            type:
              - "null"
              - string
            format: date-time
          shouldDisplayCompensationOnJobBoard:
            type:
              - "null"
              - boolean
          status:
            type:
              - "null"
              - string
          teamName:
            type:
              - "null"
              - string
          title:
            type:
              - "null"
              - string
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
          workplaceType:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: jobs
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /job.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          author:
            type:
              - "null"
              - object
          brandId:
            type:
              - "null"
              - string
            format: uuid
          closedAt:
            type:
              - "null"
              - string
            format: date-time
          compensation:
            type:
              - "null"
              - object
          confidential:
            type:
              - "null"
              - boolean
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          customFields:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                id:
                  type:
                    - "null"
                    - string
                  format: uuid
                isPrivate:
                  type:
                    - "null"
                    - boolean
                title:
                  type:
                    - "null"
                    - string
                value:
                  type:
                    - "null"
                    - boolean
                    - number
                    - string
                    - array
                    - object
                valueLabel:
                  type:
                    - "null"
                    - string
                    - array
          customRequisitionId:
            type:
              - "null"
              - string
          defaultInterviewPlanId:
            type:
              - "null"
              - string
          departmentId:
            type:
              - "null"
              - string
          employmentType:
            type:
              - "null"
              - string
          hiringTeam:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                userId:
                  type:
                    - "null"
                    - string
                  format: uuid
                firstName:
                  type:
                    - "null"
                    - string
                lastName:
                  type:
                    - "null"
                    - string
                email:
                  type:
                    - "null"
                    - string
                  format: email
                role:
                  type:
                    - "null"
                    - string
          id:
            type:
              - "null"
              - string
          interviewPlanIds:
            type:
              - "null"
              - array
          jobPostingIds:
            type:
              - "null"
              - array
          location:
            type:
              - "null"
              - object
          locationId:
            type:
              - "null"
              - string
          openedAt:
            type:
              - "null"
              - string
            format: date-time
          openings:
            type:
              - "null"
              - array
            items:
              type: object
          status:
            type:
              - "null"
              - string
          title:
            type:
              - "null"
              - string
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
  - type: DeclarativeStream
    name: locations
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /location.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          address:
            type:
              - "null"
              - object
            properties:
              postalAddress:
                type:
                  - "null"
                  - object
          externalName:
            type:
              - "null"
              - string
          extraData:
            type:
              - "null"
              - object
          id:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          isRemote:
            type:
              - "null"
              - boolean
          name:
            type:
              - "null"
              - string
          parentLocationId:
            type:
              - "null"
              - string
            format: uuid
          type:
            type:
              - "null"
              - string
          workplaceType:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: offers
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /offer.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          acceptanceStatus:
            type:
              - "null"
              - string
          applicationId:
            type:
              - "null"
              - string
          decidedAt:
            type:
              - "null"
              - string
            format: date-time
          formDefinition:
            type:
              - "null"
              - object
          id:
            type:
              - "null"
              - string
          latestVersion:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
                format: uuid
              startDate:
                type:
                  - "null"
                  - string
                format: date
              salary:
                type:
                  - "null"
                  - object
              createdAt:
                type:
                  - "null"
                  - string
                format: date-time
              openingId:
                type:
                  - "null"
                  - string
                format: uuid
              customFields:
                type:
                  - "null"
                  - array
                items:
                  type: object
              fileHandles:
                type:
                  - "null"
                  - array
                items:
                  type: object
              author:
                type:
                  - "null"
                  - object
              approvalStatus:
                type:
                  - "null"
                  - string
          offerStatus:
            type:
              - "null"
              - string
          versions:
            type:
              - "null"
              - array
            items:
              type: object
  - type: DeclarativeStream
    name: sources
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /source.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          isArchived:
            type:
              - "null"
              - boolean
          sourceType:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
              isArchived:
                type:
                  - "null"
                  - boolean
              title:
                type:
                  - "null"
                  - string
          title:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: users
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /user.list
        http_method: POST
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: cursor
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: per_page
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.nextCursor }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          customFields:
            type:
              - "null"
              - array
            items:
              type: object
          email:
            type:
              - "null"
              - string
          firstName:
            type:
              - "null"
              - string
          globalRole:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          isEnabled:
            type:
              - "null"
              - boolean
          lastName:
            type:
              - "null"
              - string
          managerId:
            type:
              - "null"
              - string
            format: uuid
          updatedAt:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: application_criteria_evaluations
    primary_key: []
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.ashbyhq.com
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['api_key'] }}"
          password: "{{ config['api_key'] }}"
        path: /application.listCriteriaEvaluations
        http_method: POST
        request_body_json:
          applicationId: "{{ stream_partition.application_id }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: NoPagination
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              type: DeclarativeStream
              name: applications_for_criteria
              primary_key:
                - id
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: https://api.ashbyhq.com
                  authenticator:
                    type: BasicHttpAuthenticator
                    username: "{{ config['api_key'] }}"
                    password: "{{ config['api_key'] }}"
                  path: /application.list
                  http_method: POST
                  request_body_json:
                    createdAfter: "{{ timestamp(config['start_date']) * 1000 }}"
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path:
                      - results
                  record_filter:
                    type: RecordFilter
                    condition: "{{ (record.get('currentInterviewStage') or {}).get('type') == 'PreInterviewScreen' and record.get('status') not in ['Archived', 'Hired'] }}"
                paginator:
                  type: DefaultPaginator
                  page_token_option:
                    type: RequestOption
                    inject_into: body_json
                    field_name: cursor
                  page_size_option:
                    type: RequestOption
                    inject_into: body_json
                    field_name: per_page
                  pagination_strategy:
                    type: CursorPagination
                    page_size: 100
                    cursor_value: "{{ response.nextCursor }}"
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/draft-07/schema#
                  additionalProperties: true
                  properties:
                    id:
                      type: string
            parent_key: id
            partition_field: application_id
    transformations:
      - type: AddFields
        fields:
          - path:
              - application_id
            value: "{{ stream_partition.application_id }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          application_id:
            type:
              - "null"
              - string
          assessmentType:
            type:
              - "null"
              - string
          criterion:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
                format: uuid
              title:
                type:
                  - "null"
                  - string
              type:
                type:
                  - "null"
                  - string
              prompt:
                type:
                  - "null"
                  - string
              applicationFormDefinitionId:
                type:
                  - "null"
                  - string
                format: uuid
              applicationFormFieldPath:
                type:
                  - "null"
                  - string
          criterionName:
            type:
              - "null"
              - string
          evaluatedAt:
            type:
              - "null"
              - string
            format: date-time
          id:
            type:
              - "null"
              - string
            format: uuid
          jobId:
            type:
              - "null"
              - string
          outcome:
            type:
              - "null"
              - string
          outcomeNumber:
            type:
              - "null"
              - number
          reasoning:
            type:
              - "null"
              - string
          skipReason:
            type:
              - "null"
              - string
          status:
            type:
              - "null"
              - string
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        title: Ashby API key
        description: >-
          The Ashby API Key, see <a
          href=\"https://developers.ashbyhq.com/reference/authentication\">doc</a>
          here.
        airbyte_secret: true
        order: 0
      start_date:
        type: string
        title: Start date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00Z. Any data before
          this date will not be replicated.
        examples:
          - "2017-01-25T00:00:00Z"
        order: 1
    additionalProperties: true
metadata:
  autoImportSchema:
    applications: false
    archive_reasons: false
    candidate_tags: false
    candidates: false
    custom_fields: false
    departments: false
    feedback_form_definitions: false
    interview_schedules: false
    job_postings: false
    jobs: false
    locations: false
    offers: false
    sources: false
    users: false
    interviews: false
    interview_stages: false
    application_criteria_evaluations: false
