version: 5.12.0

type: DeclarativeSource

description: Branch Connector

check:
  type: CheckStream
  stream_names:
    - GET Export Request

definitions:
  streams:
    GET Export Request:
      type: DeclarativeStream
      name: GET Export Request
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /v2/logs/{{ config['request_handle'] }}?app_id={{ config["app_id"]
            }}
          http_method: GET
          request_headers:
            access-token: "{{ config[\"access_token\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/GET Export Request"
    Create Export Request:
      type: DeclarativeStream
      name: Create Export Request
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/logs?app_id={{ config['app_id'] }}
          http_method: POST
          request_headers:
            access-token: "{{ config[\"access_token\"] }}"
          request_body_json:
            limit: "{{ config[\"limit\"] }}"
            fields: "{{ config['fields'] }}"
            end_date: "{{ config[\"end_date\"] }}"
            start_date: "{{ config[\"start_date\"] }}"
            report_type: "{{ config[\"report_type\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Create Export Request"
  base_requester:
    type: HttpRequester
    url_base: https://api2.branch.io

streams:
  - $ref: "#/definitions/streams/GET Export Request"
  - $ref: "#/definitions/streams/Create Export Request"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - branch_secret
      - export_date
      - app_id
      - branch_key
      - access_token
      - start_date
      - end_date
      - report_type
      - limit
      - fields
      - request_handle
    properties:
      branch_secret:
        type: string
        description: branch secret
        order: 0
        title: branch_secret
      export_date:
        type: string
        description: export date
        order: 1
        title: export_date
      app_id:
        type: string
        description: The App Id
        order: 2
        title: app_id
      branch_key:
        type: string
        description: branch key
        order: 3
        title: branch_key
      access_token:
        type: string
        description: "Access Token "
        order: 4
        title: access-token
      start_date:
        type: string
        description: >-
          The start of the interval time range represented as an ISO-8601
          complete datetime including Hours, Minutes, Seconds, and Milliseconds.
          Datetime must be within the last 120 days.
        order: 5
        title: start_date
      end_date:
        type: string
        description: >-
          The end of the interval time range represented as an ISO-8601 complete
          datetime including Hours, Minutes, Seconds, and Milliseconds.
        order: 6
        title: end_date
      report_type:
        type: string
        description: An array representing event type of your report.
        order: 7
        title: report_type
      limit:
        type: integer
        description: The maximum number of results to return.
        order: 8
        title: limit
        default: "1"
      fields:
        type: array
        description: An array representing fields/columns available in your report
        order: 9
        title: fields
      request_handle:
        type: string
        description: The ID returned by the log export queue.
        order: 10
        title: request_handle
    additionalProperties: true

metadata:
  autoImportSchema:
    GET Export Request: false
    Create Export Request: false
  testedStreams:
    GET Export Request:
      streamHash: 114856ed000f6b491b31bf2382041780d6eb288a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Create Export Request:
      streamHash: bdb0f76170f591c434de19e5d5b24cb7e1d313d1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://help.branch.io/developers-hub/reference/apis-overview

schemas:
  GET Export Request:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  Create Export Request:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
