version: 5.7.5

type: DeclarativeSource

description: >-
  Say hello to the modern end-to-end podcasting platform. Simplecast remains the
  easiest way to get audio out to the world—with one-click publishing to Apple
  Podcasts Apple Podcasts , Spotify Spotify, or wherever your audience
  listens—and the best way for podcasters to cash in on their content.

check:
  type: CheckStream
  stream_names:
    - podcasts

definitions:
  streams:
    podcasts:
      type: DeclarativeStream
      name: podcasts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /podcasts/
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - collection
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: OffsetIncrement
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/podcasts"
    episodes:
      type: DeclarativeStream
      name: episodes
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /podcasts/{{ config['podcast_id'] }}/episodes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - collection
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: OffsetIncrement
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/episodes"
    analytics:
      type: DeclarativeStream
      name: analytics
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /analytics?podcast={{ config['podcast_id'] }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: OffsetIncrement
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/analytics"
  base_requester:
    type: HttpRequester
    url_base: https://api.simplecast.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_token\"] }}"

streams:
  - $ref: "#/definitions/streams/podcasts"
  - $ref: "#/definitions/streams/episodes"
  - $ref: "#/definitions/streams/analytics"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - podcast_id
      - api_token
    properties:
      podcast_id:
        type: string
        name: podcast_id
        order: 0
        title: podcast_id
      api_token:
        type: string
        description: >-
          API token to use. Find it at your Private Apps page on the Simplecast
          dashboard.
        name: api_token
        order: 1
        title: API Token
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    podcasts: false
    episodes: false
    analytics: false
  testedStreams:
    podcasts:
      streamHash: c2da39bd684fd26f29d71310fd294fc22a0978b3
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    episodes:
      hasRecords: true
      streamHash: 81260f2afca414d2e4ae64d3351ced4ae78bbf5b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    analytics:
      hasRecords: true
      streamHash: 8d29b91d5856878c5c8451bec9ee6286f272e513
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist:
    docsUrl: https://help.simplecast.com/en/articles/2724796-simplecast-api

schemas:
  podcasts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account:
        type:
          - object
          - "null"
        properties:
          href:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          is_custom_plan:
            type:
              - boolean
              - "null"
          is_default:
            type:
              - boolean
              - "null"
          owner:
            type:
              - object
              - "null"
            properties:
              email:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
      account_id:
        type:
          - string
          - "null"
      current_user_permission:
        type:
          - object
          - "null"
        properties:
          can_create_episode:
            type:
              - boolean
              - "null"
          can_delete:
            type:
              - boolean
              - "null"
          can_edit:
            type:
              - boolean
              - "null"
          can_edit_ad_creatives:
            type:
              - boolean
              - "null"
          can_edit_admin_permissions:
            type:
              - boolean
              - "null"
          can_edit_advanced:
            type:
              - boolean
              - "null"
          can_edit_markers:
            type:
              - boolean
              - "null"
          can_edit_permissions:
            type:
              - boolean
              - "null"
          can_publish:
            type:
              - boolean
              - "null"
          can_upload:
            type:
              - boolean
              - "null"
          can_view:
            type:
              - boolean
              - "null"
          can_view_ad_creatives:
            type:
              - boolean
              - "null"
          can_view_analytics:
            type:
              - boolean
              - "null"
          can_view_episodes:
            type:
              - boolean
              - "null"
      display_owner_email:
        type:
          - boolean
          - "null"
      episodes:
        type:
          - object
          - "null"
        properties:
          count:
            type:
              - number
              - "null"
      href:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      is_pending_invitation:
        type:
          - boolean
          - "null"
      permission:
        type:
          - object
          - "null"
        properties:
          app_key:
            type:
              - string
              - "null"
          app_keys:
            type:
              - array
              - "null"
          can_create_episode:
            type:
              - boolean
              - "null"
          can_delete:
            type:
              - boolean
              - "null"
          can_edit:
            type:
              - boolean
              - "null"
          can_edit_ad_creatives:
            type:
              - boolean
              - "null"
          can_edit_admin_permissions:
            type:
              - boolean
              - "null"
          can_edit_advanced:
            type:
              - boolean
              - "null"
          can_edit_markers:
            type:
              - boolean
              - "null"
          can_edit_permissions:
            type:
              - boolean
              - "null"
          can_publish:
            type:
              - boolean
              - "null"
          can_upload:
            type:
              - boolean
              - "null"
          can_view:
            type:
              - boolean
              - "null"
          can_view_ad_creatives:
            type:
              - boolean
              - "null"
          can_view_analytics:
            type:
              - boolean
              - "null"
          can_view_episodes:
            type:
              - boolean
              - "null"
          id:
            type:
              - string
              - "null"
          label:
            type:
              - string
              - "null"
          labels:
            type:
              - array
              - "null"
          name:
            type:
              - string
              - "null"
          rank:
            type:
              - number
              - "null"
      status:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
  episodes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      analytics:
        type:
          - object
          - "null"
        properties:
          href:
            type:
              - string
              - "null"
      audio_status:
        type:
          - string
          - "null"
      days_since_release:
        type:
          - number
          - "null"
      duration:
        type:
          - number
          - "null"
      enclosure_url:
        type:
          - string
          - "null"
      feeds:
        type:
          - object
          - "null"
        properties:
          collection:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                enable_episode_numbers:
                  type:
                    - boolean
                    - "null"
                enabled:
                  type:
                    - boolean
                    - "null"
                feed_url:
                  type:
                    - string
                    - "null"
                href:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                is_explicit:
                  type:
                    - boolean
                    - "null"
                is_primary:
                  type:
                    - boolean
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                no_index:
                  type:
                    - boolean
                    - "null"
                preferred_bitrate:
                  type:
                    - number
                    - "null"
                published_at:
                  type:
                    - string
                    - "null"
                status:
                  type:
                    - string
                    - "null"
          href:
            type:
              - string
              - "null"
      guid:
        type:
          - string
          - "null"
      href:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      is_hidden:
        type:
          - boolean
          - "null"
      markers:
        type:
          - object
          - "null"
        properties:
          collection:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                ad_limit:
                  type:
                    - number
                    - "null"
                ad_type:
                  type:
                    - string
                    - "null"
                href:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                offset_milliseconds:
                  type:
                    - number
                    - "null"
          href:
            type:
              - string
              - "null"
      number:
        type:
          - number
          - "null"
      published_at:
        type:
          - string
          - "null"
      season:
        type:
          - object
          - "null"
        properties:
          href:
            type:
              - string
              - "null"
          next_episode_number:
            type:
              - number
              - "null"
          number:
            type:
              - number
              - "null"
      slug:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      token:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
  analytics:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      downloads:
        type:
          - object
          - "null"
        properties:
          href:
            type:
              - string
              - "null"
      embed:
        type:
          - object
          - "null"
        properties:
          href:
            type:
              - string
              - "null"
      episodes:
        type:
          - object
          - "null"
        properties:
          href:
            type:
              - string
              - "null"
      href:
        type:
          - string
          - "null"
      location:
        type:
          - object
          - "null"
        properties:
          href:
            type:
              - string
              - "null"
      mapbox:
        type:
          - object
          - "null"
        properties:
          href:
            type:
              - string
              - "null"
      recast:
        type:
          - object
          - "null"
        properties:
          href:
            type:
              - string
              - "null"
      technology:
        type:
          - object
          - "null"
        properties:
          href:
            type:
              - string
              - "null"
      time_of_week:
        type:
          - object
          - "null"
        properties:
          href:
            type:
              - string
              - "null"
