version: 0.43.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - Domains summary

streams:
  - type: DeclarativeStream
    name: Domain history
    primary_key:
      - date
    schema_loader:
      type: InlineSchemaLoader
      additionalProperties: true
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          ad_keywords:
            type: number
          ads:
            type: number
          date:
            type: string
          domain:
            type: string
          down_keywords:
            type: number
          keywords:
            type: number
          new_keywords:
            type: number
          out_keywords:
            type: number
          rised_keywords:
            type: number
          traff:
            type: number
          visible:
            type: number
          visible_static:
            type: number
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.serpstat.com/v4/
        path: /
        http_method: POST
        request_parameters: {}
        request_headers:
          X-request-sender: Airbyte
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: token
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  predicate: "{{response.error.code == 32000}}"
                  error_message: >-
                    You are sending more requests per second then available for
                    your Serpstat plan
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
        request_body_json:
          id: "{{ now_utc() }}"
          method: SerpstatDomainProcedure.getDomainsHistory
          params:
            se: "{{config['region_id']}}"
            page: "{{(next_page_token['next_page_token'] or 0) + 1}}"
            size: "{{config['page_size']}}"
            sort:
              date: desc
            domain: "{{config['domain']}}"
            during_all_time: true
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: header
          field_name: X-page
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{response.result.summary_info.page}}"
          stop_condition: "{{response.result.summary_info.page > config['pages_to_fetch'] - 1}}"
  - type: DeclarativeStream
    name: Domains summary
    primary_key:
      - domain
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          ad_keywords:
            type: number
          ads:
            type: number
          ads_dynamic:
            type: number
          domain:
            type: string
          down_keywords:
            type: number
          keywords:
            type: number
          keywords_dynamic:
            type: number
          new_keywords:
            type: number
          out_keywords:
            type: number
          prev_date:
            type: string
          rised_keywords:
            type: number
          traff:
            type: number
          traff_dynamic:
            type: number
          visible:
            type: number
          visible_dynamic:
            type: number
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.serpstat.com/v4/
        path: /
        http_method: POST
        request_parameters: {}
        request_headers:
          X-request-sender: Airbyte
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: token
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  predicate: "{{ 'Invalid token' in response.error.message }}"
                  error_message: Invalid Token
                - type: HttpResponseFilter
                  action: RETRY
                  predicate: "{{ 'Too Many Requests' in response.error.message }}"
                  error_message: >-
                    You are sending more requests per second then available for
                    your Serpstat plan
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
        request_body_json:
          id: "{{ now_utc() }}"
          method: SerpstatDomainProcedure.getDomainsInfo
          params:
            se: "{{config['region_id']}}"
            domains: "{{config['domains']}}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
            - data
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: Domain keywords
    primary_key:
      - keyword
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          concurrency:
            type: number
          cost:
            type: number
          difficulty:
            type: number
          domain:
            type: string
          dynamic:
            type:
              - "null"
              - number
          found_results:
            type: number
          geo_names:
            type: array
          keyword:
            type: string
          keyword_length:
            type: number
          position:
            type: number
          region_queries_count:
            type: number
          region_queries_count_wide:
            type: number
          subdomain:
            type:
              - "null"
              - string
          traff:
            type: number
          types:
            items:
              type: string
            type: array
          url:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.serpstat.com/v4/
        path: /
        http_method: POST
        request_parameters: {}
        request_headers:
          X-request-sender: Airbyte
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: token
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  predicate: "{{response.error.code == 32000}}"
                  error_message: >-
                    You are sending more requests per second then available for
                    your Serpstat plan
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
        request_body_json:
          id: "{{ now_utc() }}"
          method: SerpstatDomainProcedure.getDomainKeywords
          params:
            se: "{{config['region_id']}}"
            page: "{{(next_page_token['next_page_token'] or 0) + 1}}"
            size: "{{config['page_size']}}"
            sort:
              "{{config['sort_by']}}": "{{config['sort_value']}}"
            domain: "{{config['domain']}}"
            filters:
              "{{config['filter_by']}}": "{{config['filter_value']}}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: header
          field_name: X-page
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{response.result.summary_info.page}}"
          stop_condition: "{{response.result.summary_info.page > config['pages_to_fetch'] - 1}}"
  - type: DeclarativeStream
    name: Domain keywords by region
    primary_key:
      - db_name
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          country_name_en:
            type: string
          db_name:
            type: string
          domain:
            type: string
          keywords_count:
            type: number
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.serpstat.com/v4/
        path: /
        http_method: POST
        request_parameters: {}
        request_headers:
          X-request-sender: Airbyte
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: token
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  predicate: "{{response.error.code == 32000}}"
                  error_message: >-
                    You are sending more requests per second then available for
                    your Serpstat plan
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
        request_body_json:
          id: "{{ now_utc() }}"
          method: SerpstatDomainProcedure.getRegionsCount
          params:
            sort: "{{config['sort_by']}}"
            order: "{{config['sort_value']}}"
            domain: "{{config['domain']}}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
            - data
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: Domain competitors
    primary_key:
      - domain
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          ad_keywords:
            type: number
          ads:
            type: number
          ads_dynamic:
            type: number
          common:
            type: number
          domain:
            type: string
          down_keywords:
            type: number
          intersected:
            type: number
          keywords:
            type: number
          keywords_dynamic:
            type: number
          missing:
            type: number
          new_keywords:
            type: number
          new_relevance:
            type: number
          not_intersected:
            type: number
          our_relevance:
            type: number
          out_keywords:
            type: number
          relevance:
            type: number
          rised_keywords:
            type: number
          traff:
            type: number
          traff_dynamic:
            type: number
          visible:
            type: number
          visible_dynamic:
            type: number
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.serpstat.com/v4/
        path: /
        http_method: POST
        request_parameters: {}
        request_headers:
          X-request-sender: Airbyte
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: token
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  predicate: "{{response.error.code == 32000}}"
                  error_message: >-
                    You are sending more requests per second then available for
                    your Serpstat plan
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
        request_body_json:
          id: "{{ now_utc() }}"
          method: SerpstatDomainProcedure.getCompetitors
          params:
            se: "{{config['region_id']}}"
            size: "{{config['page_size']}}"
            sort:
              "{{config['sort_by']}}": "{{config['sort_value']}}"
            domain: "{{config['domain']}}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
            - data
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: Domain top pages
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          facebook_shares:
            type: number
          organic_keywords:
            type: number
          potencial_traff:
            type: number
          url:
            type: string
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.serpstat.com/v4/
        path: /
        http_method: POST
        request_parameters: {}
        request_headers:
          X-request-sender: Airbyte
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: token
            inject_into: header
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  predicate: "{{response.error.code == 32000}}"
                  error_message: >-
                    You are sending more requests per second then available for
                    your Serpstat plan
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
        request_body_json:
          id: "{{ now_utc() }}"
          method: SerpstatDomainProcedure.getTopUrls
          params:
            se: "{{config['region_id']}}"
            page: "{{(next_page_token['next_page_token'] or 0) + 1}}"
            size: "{{config['page_size']}}"
            sort:
              "{{config['sort_by']}}": "{{config['sort_value']}}"
            domain: "{{config['domain']}}"
            filters:
              "{{config['filter_by']}}": "{{config['filter_value']}}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: header
          field_name: X-page
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{response.result.summary_info.page}}"
          stop_condition: "{{response.result.summary_info.page > config['pages_to_fetch'] - 1}}"

metadata:
  autoImportSchema:
    Domain history: true
    Domains summary: true
    Domain keywords: true
    Domain keywords by region: true
    Domain competitors: true
    Domain top pages: true
