version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - ohlcv_historical_data
    - quotes_historical_data
definitions:
  streams:
    ohlcv_historical_data:
      type: DeclarativeStream
      name: ohlcv_historical_data
      primary_key:
        - time_period_start
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: >-
            {{ 'https://rest.coinapi.io/v1' if config['environment'] == 'production'
            else 'https://rest-sandbox.coinapi.io/v1' }}
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              field_name: X-CoinAPI-Key
              inject_into: header
          path: /ohlcv/{{ config['symbol_id'] }}/history
          http_method: GET
          request_parameters:
            period_id: "{{ config['period'] }}"
            time_start: "{{ config['start_date'] }}"
            time_end: "{{ config['end_date'] }}"
            limit: "{{ config['limit'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            price_close:
              type:
                - "null"
                - number
              description:
                The closing price of the asset during the specified time
                period.
            price_high:
              type:
                - "null"
                - number
              description: >-
                The highest price of the asset reached during the specified time
                period.
            price_low:
              type:
                - "null"
                - number
              description: >-
                The lowest price of the asset reached during the specified time
                period.
            price_open:
              type:
                - "null"
                - number
              description: The opening price of the asset for the specified time period.
            time_close:
              type:
                - "null"
                - string
              description: >-
                The timestamp representing the closing time of the specified period
                (in UTC).
              format: date-time
            time_open:
              type:
                - "null"
                - string
              description: >-
                The timestamp representing the opening time of the specified period
                (in UTC).
              format: date-time
            time_period_end:
              type:
                - "null"
                - string
              description: >-
                The timestamp representing the end time of the specified time period
                (in UTC).
              format: date-time
            time_period_start:
              type:
                - "null"
                - string
              description: >-
                The timestamp representing the start time of the specified time period
                (in UTC).
              format: date-time
            trades_count:
              type:
                - "null"
                - integer
              description:
                The total number of trades executed during the specified
                time period.
            volume_traded:
              type:
                - "null"
                - number
              description:
                The total volume of the asset traded during the specified
                time period.
          additionalProperties: true
    trades_historical_data:
      type: DeclarativeStream
      name: trades_historical_data
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: >-
            {{ 'https://rest.coinapi.io/v1' if config['environment'] == 'production'
            else 'https://rest-sandbox.coinapi.io/v1' }}
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              field_name: X-CoinAPI-Key
              inject_into: header
          path: /trades/{{ config['symbol_id'] }}/history
          http_method: GET
          request_parameters:
            period_id: "{{ config['period'] }}"
            time_start: "{{ config['start_date'] }}"
            time_end: "{{ config['end_date'] }}"
            limit: "{{ config['limit'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            price:
              type:
                - "null"
                - number
              description: The price at which the trade occurred.
            size:
              type:
                - "null"
                - number
              description: The size or quantity of the trade.
            symbol_id:
              type:
                - "null"
                - string
              description: The unique symbol identifier for the trade.
            taker_side:
              type:
                - "null"
                - string
              description:
                The side of the trade representing the taker (e.g., buy
                or sell).
            time_coinapi:
              type:
                - "null"
                - string
              description: The timestamp of the trade in the CoinAPI format.
              format: date-time
            time_exchange:
              type:
                - "null"
                - string
              description:
                The timestamp of the trade in the exchange's native time
                format.
              format: date-time
            time_period_end:
              type:
                - "null"
                - string
              description:
                The end timestamp of the time period to which the trade
                belongs.
              format: date-time
            uuid:
              type:
                - "null"
                - string
              description: The universally unique identifier associated with the trade.
          additionalProperties: true
    quotes_historical_data:
      type: DeclarativeStream
      name: quotes_historical_data
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: >-
            {{ 'https://rest.coinapi.io/v1' if config['environment'] == 'production'
            else 'https://rest-sandbox.coinapi.io/v1' }}
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              field_name: X-CoinAPI-Key
              inject_into: header
          path: /quotes/{{ config['symbol_id'] }}/history
          http_method: GET
          request_parameters:
            period_id: "{{ config['period'] }}"
            time_start: "{{ config['start_date'] }}"
            time_end: "{{ config['end_date'] }}"
            limit: "{{ config['limit'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            ask_price:
              type:
                - "null"
                - number
              description:
                The asking price for the specified symbol at the given
                time.
            ask_size:
              type:
                - "null"
                - number
              description:
                The size of the ask order for the specified symbol at the
                given time.
            bid_price:
              type:
                - "null"
                - number
              description:
                The bidding price for the specified symbol at the given
                time.
            bid_size:
              type:
                - "null"
                - number
              description:
                The size of the bid order for the specified symbol at the
                given time.
            symbol_id:
              type:
                - "null"
                - string
              description: A unique identifier for the symbol being quoted.
            time_coinapi:
              type:
                - "null"
                - string
              description:
                The timestamp when the quote data was received by the CoinAPI
                service.
              format: date-time
            time_exchange:
              type:
                - "null"
                - string
              description:
                The timestamp of when the quote data was received by the
                exchange.
              format: date-time
          additionalProperties: true
  base_requester:
    type: HttpRequester
    url_base: >-
      {{ 'https://rest.coinapi.io/v1' if config['environment'] == 'production'
      else 'https://rest-sandbox.coinapi.io/v1' }}
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['api_key'] }}"
      inject_into:
        type: RequestOption
        field_name: X-CoinAPI-Key
        inject_into: header
streams:
  - type: DeclarativeStream
    name: ohlcv_historical_data
    primary_key:
      - time_period_start
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: >-
          {{ 'https://rest.coinapi.io/v1' if config['environment'] == 'production'
          else 'https://rest-sandbox.coinapi.io/v1' }}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: X-CoinAPI-Key
            inject_into: header
        path: /ohlcv/{{ config['symbol_id'] }}/history
        http_method: GET
        request_parameters:
          period_id: "{{ config['period'] }}"
          time_start: "{{ config['start_date'] }}"
          time_end: "{{ config['end_date'] }}"
          limit: "{{ config['limit'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          price_close:
            type:
              - "null"
              - number
            description: The closing price of the asset during the specified time period.
          price_high:
            type:
              - "null"
              - number
            description: >-
              The highest price of the asset reached during the specified time
              period.
          price_low:
            type:
              - "null"
              - number
            description: >-
              The lowest price of the asset reached during the specified time
              period.
          price_open:
            type:
              - "null"
              - number
            description: The opening price of the asset for the specified time period.
          time_close:
            type:
              - "null"
              - string
            description: >-
              The timestamp representing the closing time of the specified period
              (in UTC).
            format: date-time
          time_open:
            type:
              - "null"
              - string
            description: >-
              The timestamp representing the opening time of the specified period
              (in UTC).
            format: date-time
          time_period_end:
            type:
              - "null"
              - string
            description: >-
              The timestamp representing the end time of the specified time period
              (in UTC).
            format: date-time
          time_period_start:
            type:
              - "null"
              - string
            description: >-
              The timestamp representing the start time of the specified time period
              (in UTC).
            format: date-time
          trades_count:
            type:
              - "null"
              - integer
            description:
              The total number of trades executed during the specified time
              period.
          volume_traded:
            type:
              - "null"
              - number
            description:
              The total volume of the asset traded during the specified time
              period.
        additionalProperties: true
  - type: DeclarativeStream
    name: trades_historical_data
    primary_key:
      - uuid
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: >-
          {{ 'https://rest.coinapi.io/v1' if config['environment'] == 'production'
          else 'https://rest-sandbox.coinapi.io/v1' }}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: X-CoinAPI-Key
            inject_into: header
        path: /trades/{{ config['symbol_id'] }}/history
        http_method: GET
        request_parameters:
          period_id: "{{ config['period'] }}"
          time_start: "{{ config['start_date'] }}"
          time_end: "{{ config['end_date'] }}"
          limit: "{{ config['limit'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          price:
            type:
              - "null"
              - number
            description: The price at which the trade occurred.
          size:
            type:
              - "null"
              - number
            description: The size or quantity of the trade.
          symbol_id:
            type:
              - "null"
              - string
            description: The unique symbol identifier for the trade.
          taker_side:
            type:
              - "null"
              - string
            description:
              The side of the trade representing the taker (e.g., buy or
              sell).
          time_coinapi:
            type:
              - "null"
              - string
            description: The timestamp of the trade in the CoinAPI format.
            format: date-time
          time_exchange:
            type:
              - "null"
              - string
            description: The timestamp of the trade in the exchange's native time format.
            format: date-time
          time_period_end:
            type:
              - "null"
              - string
            description: The end timestamp of the time period to which the trade belongs.
            format: date-time
          uuid:
            type:
              - "null"
              - string
            description: The universally unique identifier associated with the trade.
        additionalProperties: true
  - type: DeclarativeStream
    name: quotes_historical_data
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: >-
          {{ 'https://rest.coinapi.io/v1' if config['environment'] == 'production'
          else 'https://rest-sandbox.coinapi.io/v1' }}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: X-CoinAPI-Key
            inject_into: header
        path: /quotes/{{ config['symbol_id'] }}/history
        http_method: GET
        request_parameters:
          period_id: "{{ config['period'] }}"
          time_start: "{{ config['start_date'] }}"
          time_end: "{{ config['end_date'] }}"
          limit: "{{ config['limit'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          ask_price:
            type:
              - "null"
              - number
            description: The asking price for the specified symbol at the given time.
          ask_size:
            type:
              - "null"
              - number
            description:
              The size of the ask order for the specified symbol at the given
              time.
          bid_price:
            type:
              - "null"
              - number
            description: The bidding price for the specified symbol at the given time.
          bid_size:
            type:
              - "null"
              - number
            description:
              The size of the bid order for the specified symbol at the given
              time.
          symbol_id:
            type:
              - "null"
              - string
            description: A unique identifier for the symbol being quoted.
          time_coinapi:
            type:
              - "null"
              - string
            description:
              The timestamp when the quote data was received by the CoinAPI
              service.
            format: date-time
          time_exchange:
            type:
              - "null"
              - string
            description: The timestamp of when the quote data was received by the exchange.
            format: date-time
        additionalProperties: true
spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/coin-api
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: Coin API Spec
    type: object
    required:
      - api_key
      - environment
      - symbol_id
      - period
      - start_date
    properties:
      api_key:
        type: string
        description: API Key
        airbyte_secret: true
        order: 0
      environment:
        type: string
        description: |
          The environment to use. Either sandbox or production.
        enum:
          - sandbox
          - production
        default: sandbox
        order: 1
      symbol_id:
        type: string
        description: |
          The symbol ID to use. See the documentation for a list.
          https://docs.coinapi.io/#list-all-symbols-get
        order: 2
      period:
        type: string
        description: The period to use. See the documentation for a list. https://docs.coinapi.io/#list-all-periods-get
        examples:
          - 5SEC
          - 2MTH
      start_date:
        type: string
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}$"
        description: The start date in ISO 8601 format.
        examples:
          - "2019-01-01T00:00:00"
      end_date:
        type: string
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}$"
        description: |
          The end date in ISO 8601 format. If not supplied, data will be returned
          from the start date to the current time, or when the count of result
          elements reaches its limit.
        examples:
          - "2019-01-01T00:00:00"
      limit:
        type: integer
        description: |
          The maximum number of elements to return. If not supplied, the default
          is 100. For numbers larger than 100, each 100 items is counted as one
          request for pricing purposes. Maximum value is 100000.
        minimum: 1
        maximum: 100000
        default: 100
metadata:
  autoImportSchema:
    ohlcv_historical_data: false
    trades_historical_data: false
    quotes_historical_data: false
schemas:
  ohlcv_historical_data:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      price_close:
        type:
          - "null"
          - number
        description: The closing price of the asset during the specified time period.
      price_high:
        type:
          - "null"
          - number
        description: >-
          The highest price of the asset reached during the specified time
          period.
      price_low:
        type:
          - "null"
          - number
        description: >-
          The lowest price of the asset reached during the specified time
          period.
      price_open:
        type:
          - "null"
          - number
        description: The opening price of the asset for the specified time period.
      time_close:
        type:
          - "null"
          - string
        description: >-
          The timestamp representing the closing time of the specified period
          (in UTC).
        format: date-time
      time_open:
        type:
          - "null"
          - string
        description: >-
          The timestamp representing the opening time of the specified period
          (in UTC).
        format: date-time
      time_period_end:
        type:
          - "null"
          - string
        description: >-
          The timestamp representing the end time of the specified time period
          (in UTC).
        format: date-time
      time_period_start:
        type:
          - "null"
          - string
        description: >-
          The timestamp representing the start time of the specified time period
          (in UTC).
        format: date-time
      trades_count:
        type:
          - "null"
          - integer
        description:
          The total number of trades executed during the specified time
          period.
      volume_traded:
        type:
          - "null"
          - number
        description:
          The total volume of the asset traded during the specified time
          period.
    additionalProperties: true
  trades_historical_data:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      price:
        type:
          - "null"
          - number
        description: The price at which the trade occurred.
      size:
        type:
          - "null"
          - number
        description: The size or quantity of the trade.
      symbol_id:
        type:
          - "null"
          - string
        description: The unique symbol identifier for the trade.
      taker_side:
        type:
          - "null"
          - string
        description: The side of the trade representing the taker (e.g., buy or sell).
      time_coinapi:
        type:
          - "null"
          - string
        description: The timestamp of the trade in the CoinAPI format.
        format: date-time
      time_exchange:
        type:
          - "null"
          - string
        description: The timestamp of the trade in the exchange's native time format.
        format: date-time
      time_period_end:
        type:
          - "null"
          - string
        description: The end timestamp of the time period to which the trade belongs.
        format: date-time
      uuid:
        type:
          - "null"
          - string
        description: The universally unique identifier associated with the trade.
    additionalProperties: true
  quotes_historical_data:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      ask_price:
        type:
          - "null"
          - number
        description: The asking price for the specified symbol at the given time.
      ask_size:
        type:
          - "null"
          - number
        description:
          The size of the ask order for the specified symbol at the given
          time.
      bid_price:
        type:
          - "null"
          - number
        description: The bidding price for the specified symbol at the given time.
      bid_size:
        type:
          - "null"
          - number
        description:
          The size of the bid order for the specified symbol at the given
          time.
      symbol_id:
        type:
          - "null"
          - string
        description: A unique identifier for the symbol being quoted.
      time_coinapi:
        type:
          - "null"
          - string
        description:
          The timestamp when the quote data was received by the CoinAPI
          service.
        format: date-time
      time_exchange:
        type:
          - "null"
          - string
        description: The timestamp of when the quote data was received by the exchange.
        format: date-time
    additionalProperties: true
