version: 4.6.2

type: DeclarativeSource

description: >-
  Website: https://survicate.com/

  API docs: https://developers.survicate.com/data-export/setup/

  API Authentication docs:
  https://developers.survicate.com/data-export/setup/#authentication

check:
  type: CheckStream
  stream_names:
    - surveys

definitions:
  streams:
    surveys:
      type: DeclarativeStream
      name: surveys
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: surveys
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("pagination", {}).get("next_url", {}) }}'
            stop_condition: '{{ not response.get("pagination", {}).get("has_more", False) }}'
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/surveys"
    surveys_questions:
      type: DeclarativeStream
      name: surveys_questions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: surveys/{{ stream_partition.survey_id }}/questions
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("pagination", {}).get("next_url", {}) }}'
            stop_condition: '{{ not response.get("pagination", {}).get("has_more", False) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: survey_id
              stream:
                $ref: "#/definitions/streams/surveys"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/surveys_questions"
    surveys_responses:
      type: DeclarativeStream
      name: surveys_responses
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: surveys/{{ stream_partition.survey_id }}/responses
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("pagination", {}).get("next_url", {}) }}'
            stop_condition: '{{ not response.get("pagination", {}).get("has_more", False) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: survey_id
              stream:
                $ref: "#/definitions/streams/surveys"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: collected_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/surveys_responses"
    respondents_attributes:
      type: DeclarativeStream
      name: respondents_attributes
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: respondents/{{ stream_partition.respondent.uuid }}/responses
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("pagination", {}).get("next_url", {}) }}'
            stop_condition: '{{ not response.get("pagination", {}).get("has_more", False) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: respondent
              partition_field: respondent
              stream:
                $ref: "#/definitions/streams/surveys_responses"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/respondents_attributes"
    respondents_responses:
      type: DeclarativeStream
      name: respondents_responses
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: respondents/{{ stream_partition.respondent.uuid }}/responses
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("pagination", {}).get("next_url", {}) }}'
            stop_condition: '{{ not response.get("pagination", {}).get("has_more", False) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: respondent
              partition_field: respondent
              stream:
                $ref: "#/definitions/streams/surveys_responses"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/respondents_responses"
  base_requester:
    type: HttpRequester
    url_base: https://data-api.survicate.com/v2/
    authenticator:
      type: ApiKeyAuthenticator
      inject_into:
        type: RequestOption
        inject_into: header
        field_name: Authorization
      api_token: Basic {{ config["api_key"] }}

streams:
  - $ref: "#/definitions/streams/surveys"
  - $ref: "#/definitions/streams/surveys_questions"
  - $ref: "#/definitions/streams/surveys_responses"
  - $ref: "#/definitions/streams/respondents_attributes"
  - $ref: "#/definitions/streams/respondents_responses"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    surveys: true
    surveys_questions: true
    surveys_responses: true
    respondents_attributes: true
    respondents_responses: true
  yamlComponents:
    global:
      - authenticator
  testedStreams:
    surveys:
      streamHash: d7fd2315f6acad8f3b7627902518f910da5a9281
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    surveys_questions:
      streamHash: 40aae5ddb5ee69e08a9e00ede7205cf6735877c7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    surveys_responses:
      streamHash: 95b1e2612243b3b2b2c4fc045beb24683699a763
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    respondents_attributes:
      streamHash: 0e1777a7983e396717a3f1e684df32b2f7c8467f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    respondents_responses:
      streamHash: 7e608e3b7f0f5a5a10beec1533070ca59783481f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  surveys:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      created_at:
        type: string
      enabled:
        type:
          - boolean
          - "null"
      id:
        type: string
      launch:
        type:
          - object
          - "null"
        properties:
          responses_limit:
            type:
              - number
              - "null"
      name:
        type:
          - string
          - "null"
      responses:
        type:
          - number
          - "null"
    required:
      - id
      - created_at
  surveys_questions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      answer_choices:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            content:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
      id:
        type: number
      introduction:
        type:
          - string
          - "null"
      question:
        type:
          - string
          - "null"
    required:
      - id
  surveys_responses:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      answers:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            action_performed:
              type:
                - boolean
                - "null"
            answer:
              type:
                - object
                - "null"
              properties:
                content:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - number
                    - "null"
                rating:
                  type:
                    - number
                    - "null"
            question_id:
              type:
                - number
                - "null"
            question_type:
              type:
                - string
                - "null"
      collected_at:
        type: string
      device_type:
        type:
          - string
          - "null"
      language:
        type:
          - string
          - "null"
      operating_system:
        type:
          - string
          - "null"
      respondent:
        type:
          - object
          - "null"
        properties:
          attributes:
            type:
              - array
              - "null"
          uuid:
            type:
              - string
              - "null"
      url:
        type:
          - string
          - "null"
      uuid:
        type: string
    required:
      - uuid
      - collected_at
  respondents_attributes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      response:
        type:
          - object
          - "null"
        properties:
          answers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                action_performed:
                  type:
                    - boolean
                    - "null"
                answer:
                  type:
                    - object
                    - "null"
                  properties:
                    content:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - number
                        - "null"
                    rating:
                      type:
                        - number
                        - "null"
                question_id:
                  type:
                    - number
                    - "null"
                question_type:
                  type:
                    - string
                    - "null"
          collected_at:
            type:
              - string
              - "null"
          device_type:
            type:
              - string
              - "null"
          language:
            type:
              - string
              - "null"
          operating_system:
            type:
              - string
              - "null"
          respondent:
            type:
              - object
              - "null"
            properties:
              attributes:
                type:
                  - array
                  - "null"
              uuid:
                type:
                  - string
                  - "null"
          url:
            type:
              - string
              - "null"
          uuid:
            type:
              - string
              - "null"
      survey:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
  respondents_responses:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      response:
        type:
          - object
          - "null"
        properties:
          answers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                action_performed:
                  type:
                    - boolean
                    - "null"
                answer:
                  type:
                    - object
                    - "null"
                  properties:
                    content:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - number
                        - "null"
                    rating:
                      type:
                        - number
                        - "null"
                question_id:
                  type:
                    - number
                    - "null"
                question_type:
                  type:
                    - string
                    - "null"
          collected_at:
            type:
              - string
              - "null"
          device_type:
            type:
              - string
              - "null"
          language:
            type:
              - string
              - "null"
          operating_system:
            type:
              - string
              - "null"
          respondent:
            type:
              - object
              - "null"
            properties:
              attributes:
                type:
                  - array
                  - "null"
              uuid:
                type:
                  - string
                  - "null"
          url:
            type:
              - string
              - "null"
          uuid:
            type:
              - string
              - "null"
      survey:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
