version: 7.3.0

type: DeclarativeSource

description: >-
  source-float airbyte connector is designed to sync scheduling and resource
  management data between Float, a leading resource management platform, and
  external systems. 


  Float.com enables teams to plan and allocate resources effectively, manage
  team availability, and track project timelines. This connector automates the
  data flow between Float and other platforms, ensuring that resource schedules
  and project plans are up-to-date across all tools you use.

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  linked:
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per-page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
    HttpRequester:
      authenticator:
        type: BearerAuthenticator
        api_token: "{{ config[\"access_token\"] }}"

streams:
  - type: DeclarativeStream
    name: accounts
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per-page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"access_token\"] }}"
        http_method: GET
        url: https://api.float.com/v3/accounts
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - account_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - account_id
        properties:
          name:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          access:
            type:
              - number
              - "null"
          active:
            type:
              - number
              - "null"
          avatar:
            type:
              - string
              - "null"
          created:
            type:
              - string
              - "null"
          modified:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
              - "null"
          account_id:
            type: number
          edit_rights:
            type:
              - number
              - "null"
          view_rights:
            type:
              - number
              - "null"
          account_type:
            type:
              - number
              - "null"
          budget_rights:
            type:
              - number
              - "null"
          department_filter:
            type:
              - array
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: departments
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per-page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"access_token\"] }}"
        http_method: GET
        url: https://api.float.com/v3/departments
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - department_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - department_id
        properties:
          name:
            type:
              - string
              - "null"
          department_id:
            type: number
        additionalProperties: true
  - type: DeclarativeStream
    name: people
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per-page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"access_token\"] }}"
        http_method: GET
        url: https://api.float.com/v3/people
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - people_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - people_id
        properties:
          name:
            type:
              - string
              - "null"
          tags:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - number
                    - "null"
                name:
                  type:
                    - string
                    - "null"
          email:
            type:
              - string
              - "null"
          active:
            type:
              - number
              - "null"
          created:
            type:
              - string
              - "null"
          role_id:
            type:
              - number
              - "null"
          modified:
            type:
              - string
              - "null"
          cost_rate:
            type:
              - string
              - "null"
          job_title:
            type:
              - string
              - "null"
          people_id:
            type: number
          region_id:
            type:
              - number
              - "null"
          auto_email:
            type:
              - number
              - "null"
          contractor:
            type:
              - number
              - "null"
          department:
            type:
              - object
              - "null"
            properties:
              name:
                type:
                  - string
                  - "null"
              department_id:
                type:
                  - number
                  - "null"
          start_date:
            type:
              - string
              - "null"
          avatar_file:
            type:
              - string
              - "null"
          employee_type:
            type:
              - number
              - "null"
          people_type_id:
            type:
              - number
              - "null"
          work_days_hours:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          default_hourly_rate:
            type:
              - string
              - "null"
          work_days_hours_history:
            type:
              - object
              - "null"
            properties:
              "1970-01-01":
                type:
                  - array
                  - "null"
                items:
                  type:
                    - number
                    - "null"
              "2023-11-06":
                type:
                  - array
                  - "null"
                items:
                  type:
                    - number
                    - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: roles
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per-page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"access_token\"] }}"
        http_method: GET
        url: https://api.float.com/v3/roles
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: number
          name:
            type:
              - string
              - "null"
          created:
            type:
              - string
              - "null"
          modified:
            type:
              - string
              - "null"
          created_by:
            type:
              - number
              - "null"
          modified_by:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: public_holidays
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per-page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"access_token\"] }}"
        http_method: GET
        url: https://api.float.com/v3/public-holidays
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: number
          name:
            type:
              - string
              - "null"
          dates:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          region:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: holidays
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per-page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"access_token\"] }}"
        http_method: GET
        url: https://api.float.com/v3/holidays
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - holiday_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - holiday_id
        properties:
          date:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          end_date:
            type:
              - string
              - "null"
          holiday_id:
            type: number
        additionalProperties: true
  - type: DeclarativeStream
    name: projects
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per-page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"access_token\"] }}"
        http_method: GET
        url: https://api.float.com/v3/projects
        request_parameters:
          expand: project_tasks,project_team
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - project_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          project_id:
            type: number
          name:
            type:
              - string
              - "null"
          project_code:
            type:
              - string
              - "null"
          client_id:
            type:
              - number
              - "null"
          color:
            type:
              - string
              - "null"
          notes:
            type:
              - string
              - "null"
          tags:
            type:
              - array
              - "null"
          budget_type:
            type:
              - number
              - "null"
          budget_total:
            type:
              - string
              - "null"
          budget_per_phase:
            type:
              - number
              - "null"
          budget_priority:
            type:
              - number
              - "null"
          default_hourly_rate:
            type:
              - string
              - "null"
          non_billable:
            type:
              - number
              - "null"
          tentative:
            type:
              - number
              - "null"
          status:
            type:
              - number
              - "null"
          stage_id:
            type:
              - number
              - "null"
          locked_task_list:
            type:
              - number
              - "null"
          active:
            type:
              - number
              - "null"
          project_manager:
            type:
              - number
              - "null"
          all_pms_schedule:
            type:
              - number
              - "null"
          created:
            type:
              - string
              - "null"
          modified:
            type:
              - string
              - "null"
          start_date:
            type:
              - string
              - "null"
          end_date:
            type:
              - string
              - "null"
          project_tasks:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                billable:
                  type:
                    - number
                    - "null"
                task_name:
                  type:
                    - string
                    - "null"
                task_meta_id:
                  type:
                    - number
                    - "null"
          project_team:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                role_id:
                  type:
                    - number
                    - "null"
                phase_id:
                  type:
                    - number
                    - "null"
                people_id:
                  type:
                    - number
                    - "null"
                hourly_rate:
                  type:
                    - number
                    - "null"
        required:
          - project_id
        additionalProperties: true
  - type: DeclarativeStream
    name: status
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per-page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"access_token\"] }}"
        http_method: GET
        url: https://api.float.com/v3/status
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - status_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - status_id
        properties:
          created:
            type:
              - string
              - "null"
          end_date:
            type:
              - string
              - "null"
          modified:
            type:
              - string
              - "null"
          people_id:
            type:
              - number
              - "null"
          status_id:
            type: number
          created_by:
            type:
              - number
              - "null"
          start_date:
            type:
              - string
              - "null"
          repeat_state:
            type:
              - number
              - "null"
          status_type_id:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: time_off
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per-page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"access_token\"] }}"
        http_method: GET
        url: https://api.float.com/v3/timeoffs
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - timeoff_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - timeoff_id
        properties:
          hours:
            type:
              - number
              - "null"
          status:
            type:
              - number
              - "null"
          created:
            type:
              - string
              - "null"
          end_date:
            type:
              - string
              - "null"
          full_day:
            type:
              - number
              - "null"
          modified:
            type:
              - string
              - "null"
          created_by:
            type:
              - number
              - "null"
          people_ids:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          start_date:
            type:
              - string
              - "null"
          timeoff_id:
            type: number
          modified_by:
            type:
              - number
              - "null"
          repeat_state:
            type:
              - number
              - "null"
          timeoff_notes:
            type:
              - string
              - "null"
          timeoff_type_id:
            type:
              - number
              - "null"
          status_creator_id:
            type:
              - number
              - "null"
          timeoff_type_name:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: timeoff-types
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per-page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"access_token\"] }}"
        http_method: GET
        url: https://api.float.com/v3/timeoff-types
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - timeoff_type_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - timeoff_type_id
        properties:
          color:
            type:
              - string
              - "null"
          active:
            type:
              - number
              - "null"
          created_by:
            type:
              - number
              - "null"
          timeoff_type_id:
            type: number
          approval_required:
            type:
              - number
              - "null"
          timeoff_type_name:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: clients
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per-page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"access_token\"] }}"
        http_method: GET
        url: https://api.float.com/v3/clients
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - client_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - client_id
        properties:
          name:
            type:
              - string
              - "null"
          client_id:
            type: number
        additionalProperties: true
  - type: DeclarativeStream
    name: phases
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per-page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"access_token\"] }}"
        http_method: GET
        url: https://api.float.com/v3/phases
        request_parameters:
          expand: phase_tasks,phase_team
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - phase_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          phase_id:
            type: number
          project_id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          color:
            type:
              - string
              - "null"
          notes:
            type:
              - string
              - "null"
          start_date:
            type:
              - string
              - "null"
          end_date:
            type:
              - string
              - "null"
          non_billable:
            type:
              - number
              - "null"
          budget_total:
            type:
              - string
              - "null"
          default_hourly_rate:
            type:
              - string
              - "null"
          tentative:
            type:
              - number
              - "null"
          status:
            type:
              - number
              - "null"
          active:
            type:
              - number
              - "null"
          created:
            type:
              - string
              - "null"
          modified:
            type:
              - string
              - "null"
          phase_tasks:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                billable:
                  type:
                    - number
                    - "null"
                task_name:
                  type:
                    - string
                    - "null"
                task_meta_id:
                  type:
                    - number
                    - "null"
          phase_team:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                role_id:
                  type:
                    - number
                    - "null"
                people_id:
                  type:
                    - number
                    - "null"
                hourly_rate:
                  type:
                    - number
                    - "null"
        required:
          - phase_id
        additionalProperties: true
  - type: DeclarativeStream
    name: project-tasks
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per-page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"access_token\"] }}"
        http_method: GET
        url: https://api.float.com/v3/project-tasks
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - task_meta_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - task_meta_id
        properties:
          created:
            type:
              - string
              - "null"
          billable:
            type:
              - number
              - "null"
          modified:
            type:
              - string
              - "null"
          phase_id:
            type:
              - number
              - "null"
          task_name:
            type:
              - string
              - "null"
          project_id:
            type:
              - number
              - "null"
          count_tasks:
            type:
              - number
              - "null"
          task_meta_id:
            type: number
          count_logged_time:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: milestones
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per-page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"access_token\"] }}"
        http_method: GET
        url: https://api.float.com/v3/milestones
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - milestone_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - milestone_id
        properties:
          date:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          created:
            type:
              - string
              - "null"
          end_date:
            type:
              - string
              - "null"
          modified:
            type:
              - string
              - "null"
          project_id:
            type:
              - number
              - "null"
          milestone_id:
            type: number
        additionalProperties: true
  - type: DeclarativeStream
    name: tasks
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per-page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"access_token\"] }}"
        http_method: GET
        url: https://api.float.com/v3/tasks
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - task_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - task_id
        properties:
          name:
            type:
              - string
              - "null"
          hours:
            type:
              - number
              - "null"
          notes:
            type:
              - string
              - "null"
          status:
            type:
              - number
              - "null"
          created:
            type:
              - string
              - "null"
          task_id:
            type: number
          billable:
            type:
              - number
              - "null"
          end_date:
            type:
              - string
              - "null"
          modified:
            type:
              - string
              - "null"
          phase_id:
            type:
              - number
              - "null"
          people_id:
            type:
              - number
              - "null"
          created_by:
            type:
              - number
              - "null"
          people_ids:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          project_id:
            type:
              - number
              - "null"
          start_date:
            type:
              - string
              - "null"
          modified_by:
            type:
              - number
              - "null"
          repeat_state:
            type:
              - number
              - "null"
          task_meta_id:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: logged-time
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per-page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"access_token\"] }}"
        http_method: GET
        url: https://api.float.com/v3/logged-time
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - logged_time_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - logged_time_id
          - modified
        properties:
          date:
            type:
              - string
              - "null"
          hours:
            type:
              - number
              - "null"
          notes:
            type:
              - string
              - "null"
          locked:
            type:
              - number
              - "null"
          created:
            type:
              - string
              - "null"
          task_id:
            type:
              - number
              - "null"
          billable:
            type:
              - number
              - "null"
          modified:
            type: string
          phase_id:
            type:
              - number
              - "null"
          priority:
            type:
              - number
              - "null"
          people_id:
            type:
              - number
              - "null"
          task_name:
            type:
              - string
              - "null"
          created_by:
            type:
              - number
              - "null"
          project_id:
            type:
              - number
              - "null"
          locked_date:
            type:
              - string
              - "null"
          modified_by:
            type:
              - number
              - "null"
          task_meta_id:
            type:
              - number
              - "null"
          logged_time_id:
            type: string
          reference_date:
            type:
              - string
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: modified
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d %H:%M:%S"
      start_time_option:
        type: RequestOption
        field_name: modified_since
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d %H:%M:%S"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - access_token
      - start_date
    properties:
      start_date:
        type: string
        order: 1
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      access_token:
        type: string
        description: API token obtained from your Float Account Settings page
        name: float_access_token
        order: 0
        title: Access Token
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://developer.float.com/api_reference.html
  testedStreams:
    roles:
      hasRecords: true
      streamHash: f713473eec2e33ebf41ee890db9aa7db8422cb5c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    tasks:
      hasRecords: true
      streamHash: 34234a51fcb68726fea102e1ec06ba1964153437
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    people:
      hasRecords: true
      streamHash: 100e04d382bfa70f6ed74c959b0c489af2a7f426
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    phases:
      hasRecords: true
      streamHash: a4fadce225d7edb8d975f066822337bb3529f45f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
      isStale: false
    status:
      hasRecords: true
      streamHash: 05d167b2362a013399870d882bd08de97da00085
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    clients:
      hasRecords: true
      streamHash: 2ba20948d541d0aeb7e5cfceccb78e546a632379
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    accounts:
      hasRecords: true
      streamHash: 61b4653fec77bfd43c4d32853b39b293339fd2dd
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    holidays:
      hasRecords: true
      streamHash: b32f04d072796b009c016d784a256dbe06956ad9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    projects:
      hasRecords: true
      streamHash: 5b932b25f85cf6a9653e6433b2645ca523ca59b2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
      isStale: false
    time_off:
      hasRecords: true
      streamHash: b5f266e7297541ea1a3a503f236057e88cb5e4ec
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    milestones:
      hasRecords: true
      streamHash: bf46fce06219cc150b2075019402835c11340665
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    departments:
      hasRecords: true
      streamHash: c9d940e633bf21e676033d88599fb9b387c1b96e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    logged-time:
      hasRecords: true
      streamHash: e86c7984d07caa656d770275d7bd1b6fea009caf
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    project-tasks:
      hasRecords: true
      streamHash: 42a04df302002513c246280be1338c18d791710a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    timeoff-types:
      hasRecords: true
      streamHash: 3f21bce543faecf4ba584ee44adb3348114e2cb9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    public_holidays:
      hasRecords: true
      streamHash: 446adf0350d5561a0fed1024de7b2f12531c96b4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    roles: true
    tasks: true
    people: true
    phases: true
    status: true
    clients: true
    accounts: true
    holidays: true
    projects: true
    time_off: true
    milestones: true
    departments: true
    logged-time: true
    project-tasks: true
    timeoff-types: true
    public_holidays: true
  applied_migrations:
    - from_version: 6.48.15
      to_version: "*"
      migration: HttpRequesterUrlBaseToUrl
      migrated_at: "2025-10-01T17:06:28.225839+00:00"
    - from_version: 6.48.15
      to_version: "*"
      migration: HttpRequesterPathToUrl
      migrated_at: "2025-10-01T17:06:28.229058+00:00"

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 1
