version: 0.79.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  streams:
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - accountNumber
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: accounts
          http_method: GET
          request_parameters:
            pagesize: "1000"
          request_headers:
            X-AppSecretToken: "{{config['app_secret_token']}}"
            X-AgreementGrantToken: "{{config['agreement_grant_token']}}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - collection
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response['pagination']['nextPage'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"
    customers:
      type: DeclarativeStream
      name: customers
      primary_key:
        - customerNumber
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: customers
          http_method: GET
          request_parameters:
            pagesize: "1000"
          request_headers:
            X-AppSecretToken: "{{config['app_secret_token']}}"
            X-AgreementGrantToken: "{{config['agreement_grant_token']}}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - collection
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response['pagination']['nextPage'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customers"
    products:
      type: DeclarativeStream
      name: products
      primary_key:
        - productNumber
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: products
          http_method: GET
          request_parameters:
            pagesize: "1000"
          request_headers:
            X-AppSecretToken: "{{config['app_secret_token']}}"
            X-AgreementGrantToken: "{{config['agreement_grant_token']}}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - collection
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response['pagination']['nextPage'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
    invoices_total:
      type: DeclarativeStream
      name: invoices_total
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: invoices/totals
          http_method: GET
          request_parameters:
            pagesize: "1000"
          request_headers:
            X-AppSecretToken: "{{config['app_secret_token']}}"
            X-AgreementGrantToken: "{{config['agreement_grant_token']}}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/invoices_total"
    invoices_paid:
      type: DeclarativeStream
      name: invoices_paid
      primary_key:
        - bookedInvoiceNumber
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: invoices/paid
          http_method: GET
          request_parameters:
            pagesize: "1000"
          request_headers:
            X-AppSecretToken: "{{config['app_secret_token']}}"
            X-AgreementGrantToken: "{{config['agreement_grant_token']}}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - collection
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response['pagination']['nextPage'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/invoices_paid"
    invoices_booked:
      type: DeclarativeStream
      name: invoices_booked
      primary_key:
        - bookedInvoiceNumber
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: invoices/booked
          http_method: GET
          request_parameters:
            pagesize: "1000"
          request_headers:
            X-AppSecretToken: "{{config['app_secret_token']}}"
            X-AgreementGrantToken: "{{config['agreement_grant_token']}}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - collection
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response['pagination']['nextPage'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/invoices_booked"
    invoices_booked_document:
      type: DeclarativeStream
      name: invoices_booked_document
      primary_key:
        - bookedInvoiceNumber
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: invoices/booked/{{ stream_slice.parent_id }}
          http_method: GET
          request_parameters:
            pagesize: "1000"
          request_headers:
            X-AppSecretToken: "{{config['app_secret_token']}}"
            X-AgreementGrantToken: "{{config['agreement_grant_token']}}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: bookedInvoiceNumber
                partition_field: parent_id
                stream:
                  $ref: "#/definitions/streams/invoices_booked"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/invoices_booked_document"
  base_requester:
    type: HttpRequester
    url_base: https://restapi.e-conomic.com/

streams:
  - $ref: "#/definitions/streams/accounts"
  - $ref: "#/definitions/streams/customers"
  - $ref: "#/definitions/streams/products"
  - $ref: "#/definitions/streams/invoices_total"
  - $ref: "#/definitions/streams/invoices_paid"
  - $ref: "#/definitions/streams/invoices_booked"
  - $ref: "#/definitions/streams/invoices_booked_document"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - agreement_grant_token
      - app_secret_token
    properties:
      agreement_grant_token:
        type: string
        title: Agreement Grant Token
        description: Identifier for the grant issued by an agreement
        airbyte_secret: true
        order: 0
      app_secret_token:
        type: string
        title: App Secret Token
        description: Identification token for app accessing data
        airbyte_secret: true
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    accounts: false
    customers: false
    products: false
    invoices_total: false
    invoices_paid: false
    invoices_booked: false
    invoices_booked_document: false

schemas:
  accounts:
    type: object
    $schema: https://json-schema.org/draft-07/schema#
    additionalProperties: true
    description: A schema for retrieving the accounts of the chart of accounts.
    properties:
      accountNumber:
        type: integer
        defaultsorting: ascending
        description: The account's number.
        filterable: true
        sortable: true
      accountType:
        type: string
        default: profitAndLoss
        description: The type of account in the chart of accounts.
        filterable: true
        sortable: true
      accountingYears:
        type: string
        description: A link to a list of accounting years for which the account is usable.
        format: uri
      accountsSummed:
        type: array
        description: >-
          An array of the account intervals used for calculating the total for
          this account.
        items:
          type: object
          description: An account interval.
          properties:
            fromAccount:
              type: object
              description: The first account in the interval.
              properties:
                accountNumber:
                  type: integer
                  description: Account number of the first account in the interval.
                self:
                  type: string
                  description: The unique self link of the first account in the interval.
                  format: uri
            toAccount:
              type: object
              description: The last account in the interval.
              properties:
                accountNumber:
                  type: integer
                  description: Account number of the last account in the interval.
                self:
                  type: string
                  description: The unique self link of the last account in the interval.
                  format: uri
      balance:
        type: number
        description: The current balanace of the account.
        filterable: true
        maxDecimal: 2
        sortable: true
      barred:
        type: boolean
        description: Shows if the account is barred from being used.
        filterable: true
      blockDirectEntries:
        type: boolean
        description: Determines if the account can be manually updated with entries.
        filterable: true
        sortable: true
      contraAccount:
        type: object
        description: The default contra account of the account.
        properties:
          accountNumber:
            type: integer
            description: Account number of the contra account.
          self:
            type: string
            description: The unique self link of the contra account.
            format: uri
      debitCredit:
        default: debit
        description: Describes the default update type of the account.
        enum:
          - debit
          - credit
        filterable: true
        sortable: true
      department:
        type:
          - "null"
          - object
        description: The department associated with this account
      departmentalDistribution:
        type:
          - "null"
          - object
        description: The distribution of the account by department
      draftBalance:
        type: number
        description: >-
          The current balance of the account including draft (not yet booked)
          entries.
        maxDecimals: 2
      name:
        type: string
        description: The name of the account.
        filterable: true
        sortable: true
      openingAccount:
        type:
          - "null"
          - object
        description: Information about the opening account
        properties:
          accountNumber:
            type: integer
            description: The account number of the opening account
          self:
            type: string
            description: The unique self link of the VAT code.
            format: uri
      self:
        type: string
        description: A unique reference to the account resource.
        format: uri
      totalFromAccount:
        type: object
        description: The account from which the sum total for this account is calculated.
        properties:
          accountNumber:
            type: integer
            description: Account number of the first account.
          self:
            type: string
            description: The unique self link of the first account.
            format: uri
      vatAccount:
        type: object
        desciption: The default VAT code for this account.
        description: Information about the VAT account
        properties:
          self:
            type: string
            description: The unique self link of the VAT code.
            format: uri
          vatCode:
            type: string
            description: The VAT code of the VAT account for this account.
    title: Accounts collection schema
  customers:
    type: object
    $schema: https://json-schema.org/draft-07/schema#
    additionalProperties: true
    description: A schema for fetching a collection of customer, aka. Debtor.
    properties:
      address:
        type: string
        description: Address for the customer including street and number.
        filterable: true
        sortable: true
      attention:
        type: object
        description: The customer's person of attention.
        properties:
          customerContactNumber:
            type: integer
            description: The unique identifier of the customer employee.
          self:
            type: string
            description: A unique link reference to the customer employee item.
            format: uri
      balance:
        type: number
        description: The outstanding amount for this customer.
        filterable: true
        readOnly: true
        sortable: true
      barred:
        type: boolean
        description: Boolean indication of whether the customer is barred from invoicing.
        filterable: true
      city:
        type: string
        description: The customer's city.
        filterable: true
        sortable: true
      contacts:
        type: string
        description: A unique link reference to the customer contacts items.
        format: uri
      corporateIdentificationNumber:
        type: string
        description: Corporate Identification Number. For example CVR in Denmark.
        filterable: true
        sortable: true
      country:
        type: string
        description: The customer's country.
        filterable: true
        sortable: true
      creditLimit:
        type: number
        description: >-
          A maximum credit for this customer. Once the maximum is reached or
          passed in connection with an order/quotation/invoice for this customer
          you see a warning in e-conomic.
        filterable: true
        sortable: true
      currency:
        type: string
        description: Default payment currency.
        filterable: true
        minLength: 3
        sortable: true
      customerContact:
        type: object
        description: Reference to main contact employee at customer.
        properties:
          customerContactNumber:
            type: integer
            description: The unique identifier of the customer contact.
          self:
            type: string
            description: A unique link reference to the customer contact item.
            format: uri
      customerGroup:
        type: object
        description: Reference to the customer group this customer is attached to.
        properties:
          customerGroupNumber:
            type: integer
            description: The unique identifier of the customer group.
          self:
            type: string
            description: A unique link reference to the customer group item.
            format: uri
      customerNumber:
        type: integer
        description: >-
          The customer number is a positive unique numerical identifier with a
          maximum of 9 digits.
        filterable: true
        maximum: 999999999
        minimum: 1
        sortable: true
      defaultDeliveryLocation:
        type: object
        description: Customers default delivery location.
        properties:
          deliveryLocationNumber:
            type: integer
            description: The unique identifier of the delivery location.
          self:
            type: string
            description: A unique link reference to the delivery location.
            format: uri
      deliveryLocations:
        type: string
        description: A unique link reference to the customer delivery locations items.
        format: uri
      dueAmount:
        type:
          - "null"
          - number
        description: The total amount that the customer owes
      eInvoicingDisabledByDefault:
        type: boolean
        description: >-
          Boolean indication of whether the default sending method should be
          email instead of e-invoice. This property is updatable only by using
          PATCH to /customers/:customerNumber
        readonly: false
      ean:
        type: string
        description: >-
          European Article Number. EAN is used for invoicing the Danish public
          sector.
        filterable: true
        sortable: true
      email:
        type: string
        description: >-
          Customer e-mail address where e-conomic invoices should be emailed.
          Note: you can specify multiple email addresses in this field,
          separated by a space. If you need to send a copy of the invoice or
          write to other e-mail addresses, you can also create one or more
          customer contacts.
        filterable: true
        sortable: true
      invoices:
        type: object
        properties:
          booked:
            type: string
            description: The unique reference to the booked invoices for this customer.
            format: uri
          drafts:
            type: string
            description: The unique reference to the draft invoices for this customer.
            format: uri
          self:
            type: string
            description: >-
              A unique link reference to the invoices resource for this
              customer.
            format: uri
      lastUpdated:
        type: string
        description: >-
          The date this customer was last updated. The date is formatted
          according to ISO-8601.
        filterable: true
        format: full-date
        pattern: \d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}Z
        sortable: true
      layout:
        type: object
        description: >-
          Layout to be applied for invoices and other documents for this
          customer.
        properties:
          layoutNumber:
            type: integer
            description: The unique identifier of the layout.
          self:
            type: string
            description: A unique link reference to the layout item.
            format: uri
      mobilePhone:
        type: string
        description: The customer's mobile phone number.
        filterable: true
        sortable: true
      name:
        type: string
        description: The customer name.
        filterable: true
        minLength: 1
        sortable: true
      pNumber:
        type: string
        description: >-
          Extension of corporate identification number (CVR). Identifying
          separate production unit (p-nummer).
        minLength: 10
      paymentTerms:
        type: object
        description: The default payment terms for the customer.
        properties:
          paymentTermsNumber:
            type: integer
            description: The unique identifier of the payment terms.
          self:
            type: string
            description: A unique link reference to the payment terms item.
            format: uri
      publicEntryNumber:
        type: string
        description: >-
          The public entry number is used for electronic invoicing, to define
          the account invoices will be registered on at the customer.
        filterable: true
        sortable: true
      salesPerson:
        type: object
        description: Reference to the employee responsible for contact with this customer.
        properties:
          employeeNumber:
            type: integer
            description: The unique identifier of the employee.
          self:
            type: string
            description: A unique link reference to the employee resource.
            format: uri
      self:
        type: string
        description: The unique self reference of the customer resource.
        format: uri
      telephoneAndFaxNumber:
        type: string
        description: The customer's telephone and/or fax number.
        filterable: true
        sortable: true
      templates:
        type: object
        properties:
          invoice:
            type: string
            description: The unique reference to the invoice template.
            format: uri
          invoiceLine:
            type: string
            description: The unique reference to the invoiceLine template.
            format: uri
          self:
            type: string
            description: A unique link reference to the templates resource.
            format: uri
      totals:
        type: object
        properties:
          booked:
            type: string
            description: >-
              The unique reference to the booked invoice totals for this
              customer.
            format: uri
          drafts:
            type: string
            description: >-
              The unique reference to the draft invoice totals for this
              customer.
            format: uri
          self:
            type: string
            description: A unique link reference to the totals resource for this customer.
            format: uri
      vatNumber:
        type: string
        description: >-
          The customer's value added tax identification number. This field is
          only available to agreements in Sweden, UK, Germany, Poland and
          Finland. Not to be mistaken for the danish CVR number, which is
          defined on the corporateIdentificationNumber property.
        filterable: true
        sortable: true
      vatZone:
        type: object
        description: >-
          Indicates in which VAT-zone the customer is located (e.g.:
          domestically, in Europe or elsewhere abroad).
        properties:
          self:
            type: string
            description: A unique link reference to the VAT-zone item.
            format: uri
          vatZoneNumber:
            type: integer
            description: The unique identifier of the VAT-zone.
      website:
        type: string
        description: Customer website, if applicable.
        filterable: true
        sortable: true
      zip:
        type: string
        description: The customer's postcode.
        filterable: true
        sortable: true
    title: Customer collection GET schema
  products:
    type: object
    $schema: https://json-schema.org/draft-07/schema#
    additionalProperties: true
    description: A schema for retrieval of a collection of products.
    properties:
      barCode:
        type: string
        description: >-
          String representation of a machine readable barcode symbol that
          represents this product.
        filterable: true
        sortable: true
      barred:
        type: boolean
        description: >-
          If this value is true, then the product can no longer be sold, and
          trying to book an invoice with this product will not be possible.
        filterable: true
        sortable: true
      costPrice:
        type: number
        description: >-
          The cost of the goods. If you have the inventory module enabled, this
          is read-only and will just be ignored.
        filterable: true
        maxDecimal: 2
        sortable: true
      departmentalDistribution:
        type: object
        description: >-
          A departmental distribution defines which departments this entry is
          distributed between. This requires the departments module to be
          enabled.
        properties:
          departmentalDistributionNumber:
            type: integer
            description: A unique identifier of the departmental distribution.
            filterable: true
            minimum: 1
          distributionType:
            type: string
            description: Type of the distribution
          self:
            type: string
            description: A unique reference to the departmental distribution resource.
            format: uri
      description:
        type: string
        description: Free text description of product.
        filterable: true
        sortable: true
      inventory:
        type: object
        description: >-
          A collection of properties that are only applicable if the inventory
          module is enabled.
        properties:
          available:
            type: number
            description: >-
              The number of units available to sell. This is the difference
              between the amount in stock and the amount ordered by customers.
            maxDecimal: 2
            readOnly: true
          grossWeight:
            type: number
            description: The gross weight of the product.
            filterable: true
            maxDecimal: 2
            readOnly: true
            sortable: true
          inStock:
            type: number
            description: >-
              The number of units in stock including any that have been ordered
              by customers.
            maxDecimal: 2
            readOnly: true
          inventoryLastUpdated:
            type: string
            description: The last time this product was updated with regards to inventory.
            readOnly: true
          netWeight:
            type: number
            description: The net weight of the product.
            filterable: true
            maxDecimal: 2
            readOnly: true
            sortable: true
          orderedByCustomers:
            type: number
            description: >-
              The number of units that have been ordered by customers, but
              haven't been sold yet.
            maxDecimal: 2
            readOnly: true
          orderedFromSuppliers:
            type: number
            description: >-
              The number of units that have been ordered from your suppliers,
              but haven't been delivered to you yet.
            maxDecimal: 2
            readOnly: true
          packageVolume:
            type: number
            description: The volume the shipped package makes up.
            filterable: true
            maxDecimal: 2
            sortable: true
          recommendedCostPrice:
            type: number
            description: The recommendedCostPrice of the product.
            filterable: true
            maxDecimal: 2
      invoices:
        type: object
        description: >-
          A collection of convenience links to invoices that contains this
          product.
        properties:
          booked:
            type: string
            description: A unique reference to the booked invoices containing this product.
            format: uri
          drafts:
            type: string
            description: A unique reference to the draft invoices containing this product.
            format: uri
      lastUpdated:
        type: string
        description: >-
          The last time the product was updated, either directly or through
          inventory changed. The date is formatted according to ISO-8601.
        filterable: true
        readOnly: true
        sortable: true
      minimumStock:
        type:
          - "null"
          - number
        description: >-
          The minimum quantity of this product that should be kept in stock to
          ensure availability.
      name:
        type: string
        description: Descriptive name of the product.
        filterable: true
        minLength: 1
        sortable: true
      pricing:
        type:
          - "null"
          - object
        description: >-
          Pricing information for the product including cost, selling price, and
          currency.
      productGroup:
        type: object
        description: A reference to the product group this product is contained within.
        properties:
          accrual:
            type: object
            description: >-
              A reference to the accrual account this product group is connected
              to.
            properties:
              accountNumber:
                type: integer
                description: Unique number identifying the accruals account.
                readOnly: true
              accountType:
                type: string
                description: The type of account in the chart of accounts.
                readOnly: true
              accountingYears:
                type: string
                description: >-
                  A link to a list of accounting years for which the account is
                  usable.
                format: uri
                readOnly: true
              accountsSummed:
                type: array
                description: >-
                  An array of the account intervals used for calculating the
                  total for this account.
                items:
                  type: object
                  description: An account interval.
                  properties:
                    fromAccount:
                      type: object
                      description: The first account in the interval.
                      properties:
                        accountNumber:
                          type: integer
                          description: Account number of the first account in the interval.
                          readOnly: true
                        self:
                          type: string
                          description: >-
                            The unique self link of the first account in the
                            interval.
                          format: uri
                          readOnly: true
                      readOnly: true
                    toAccount:
                      type: object
                      description: The last account in the interval.
                      properties:
                        accountNumber:
                          type: integer
                          description: Account number of the last account in the interval.
                          readOnly: true
                        self:
                          type: string
                          description: >-
                            The unique self link of the last account in the
                            interval.
                          format: uri
                          readOnly: true
                      readOnly: true
                  readOnly: true
                readOnly: true
              balance:
                type: number
                description: The current balance of the accruals account.
                maxDecimal: 2
                readOnly: true
              barred:
                type: boolean
                description: Shows if the account is barred from being used.
                readOnly: true
              blockDirectEntries:
                type: boolean
                description: >-
                  Determines if the account can be manually updated with
                  entries.
                readOnly: true
              contraAccount:
                type: object
                description: The default contra account of the account.
                properties:
                  accountNumber:
                    type: integer
                    description: Account number of the contra account.
                    readOnly: true
                  self:
                    type: string
                    description: The unique self link of the contra account.
                    format: uri
                    readOnly: true
                readOnly: true
              debitCredit:
                type: string
                description: Describes the default update type of the account.
                readOnly: true
              draftBalance:
                type: number
                description: >-
                  The current balance of the account including draft (not yet
                  booked) entries.
                maxDecimals: 2
                readOnly: true
              name:
                type: string
                description: The name of the account.
                readOnly: true
              totalFromAccount:
                type: object
                description: >-
                  The account from which the sum total for this account is
                  calculated.
                properties:
                  accountNumber:
                    type: integer
                    description: Account number of the first account.
                    readOnly: true
                  self:
                    type: string
                    description: The unique self link of the first account.
                    format: uri
                    readOnly: true
                readOnly: true
              vatAccount:
                type: object
                desciption: The default VAT code for this account.
                properties:
                  self:
                    type: string
                    description: The unique self link of the VAT code.
                    format: uri
                    readOnly: true
                  vatCode:
                    type: string
                    description: The VAT code of the VAT account for this account.
                    readOnly: true
                readOnly: true
            readOnly: true
            self:
              type: string
              description: A unique reference to the accruals account resource.
              format: uri
              readOnly: true
          inventoryEnabled:
            type: boolean
            description: States if the product group is inventory enabled or not.
            readOnly: true
          name:
            type: string
            description: Descriptive name of the product group.
            minLength: 1
          productGroupNumber:
            type: integer
            description: Unique number identifying the product group.
            filterable: true
          products:
            type: string
            description: A reference to the products in this product group resource.
            format: uri
            readOnly: true
          salesAccounts:
            type: string
            description: A reference to the sales accounts in this product group resource.
            format: uri
            readOnly: true
          self:
            type: string
            description: A unique reference to the product group resource.
            format: uri
      productNumber:
        type: string
        description: Unique alphanumeric product number.
        filterable: true
        minLength: 1
        sortable: true
      recommendedPrice:
        type: number
        description: Recommended retail price of the goods.
        filterable: true
        maxDecimal: 2
        sortable: true
      salesPrice:
        type: number
        description: >-
          This is the unit net price that will appear on invoice lines when a
          product is added to an invoice line.
        filterable: true
        maxDecimal: 2
        sortable: true
      self:
        type: string
        description: A unique reference to this product resource.
        format: uri
      unit:
        type: object
        description: A reference to the unit this product is counted in.
        properties:
          name:
            type: string
            description: The name of the unit.
          self:
            type: string
            description: A unique reference to the unit resource.
            format: uri
          unitNumber:
            type: integer
            description: Unique number identifying the unit.
            filterable: true
    title: Products collection GET schema
  invoices_total:
    type: object
    $schema: https://json-schema.org/draft-07/schema#
    additionalProperties: true
    description: A schema for retrieval of the totals of invoices.
    properties:
      booked:
        type: object
        description: The totals for booked invoices.
        properties:
          description:
            type: string
            description: A short description about this object.
          invoiceCount:
            type: integer
            description: The number of booked invoices.
          netAmountInBaseCurrency:
            type: number
            description: >-
              The total invoice amount for all booked invoices in the base
              currency of the agreement before all taxes and discounts have been
              applied.
            maxDecimal: 2
          paid:
            type: object
            description: The totals for booked and paid invoices.
            properties:
              description:
                type: string
                description: A short description about this object.
              invoiceCount:
                type: integer
                description: The number of booked and paid invoices.
              netAmountInBaseCurrency:
                type: number
                description: >-
                  The total invoice amount for all booked and paid invoices in
                  the base currency of the agreement before all taxes and
                  discounts have been applied.
                maxDecimal: 2
              self:
                type: string
                description: A reference to the invoices totals booked paid resource.
                format: uri
          self:
            type: string
            description: A reference to the invoices totals booked resource.
            format: uri
          unpaid:
            type: object
            description: The totals for booked and unpaid invoices.
            properties:
              description:
                type: string
                description: A short description about this object.
              grossRemainderInBaseCurrency:
                type: number
                description: >-
                  The gross total remaining to be paid on the booked unpaid
                  invoices
                maxDecimal: 2
              invoiceCount:
                type: integer
                description: The number of booked and unpaid invoices.
              netAmountInBaseCurrency:
                type: number
                description: >-
                  The total invoice amount for all booked and unpaid invoices in
                  the base currency of the agreement before all taxes and
                  discounts have been applied.
                maxDecimal: 2
              notOverdue:
                type: object
                description: >-
                  Totals for unpaid booked invoices where due date still hasn't
                  been surpassed. This includes invoices that are due today.
                properties:
                  description:
                    type: string
                    description: A short description about this object.
                  invoiceCount:
                    type: integer
                    description: >-
                      The number of  unpaid booked invoices where due date still
                      hasn't been surpassed. This includes invoices that are due
                      today.
                  netAmountInBaseCurrency:
                    type: number
                    description: >-
                      The total invoice amount for unpaid booked invoices where
                      due date still hasn't been surpassed. in the base currency
                      of the agreement before all taxes and discounts have been
                      applied.
                    maxDecimal: 2
                  self:
                    type: string
                    description: >-
                      A reference to the invoices totals booked unpaid not
                      overdue resource.
                    format: uri
              overdue:
                type: object
                description: >-
                  Totals for unpaid booked invoices where due date has been
                  surpassed.
                properties:
                  description:
                    type: string
                    description: A short description about this object.
                  grossRemainderInBaseCurrency:
                    type: number
                    description: >-
                      The gross total remaining to be paid on the booked, unpaid
                      and overdue invoices
                    maxDecimal: 2
                  invoiceCount:
                    type: integer
                    description: >-
                      The number of unpaid booked invoices where due date has
                      been surpassed.
                  netAmountInBaseCurrency:
                    type: number
                    description: >-
                      The total invoice amount for unpaid booked invoices where
                      due date has been surpassed in the base currency of the
                      agreement before all taxes and discounts have been
                      applied.
                    maxDecimal: 2
                  self:
                    type: string
                    description: >-
                      A reference to the invoices totals booked unpaid overdue
                      resource.
                    format: uri
              self:
                type: string
                description: A reference to the invoices totals booked unpaid resource.
                format: uri
      drafts:
        type: object
        description: The totals for draft invoices.
        properties:
          description:
            type: string
            description: A short description about this object.
          invoiceCount:
            type: integer
            description: The number of draft invoices.
          netAmountInBaseCurrency:
            type: number
            description: >-
              The total invoice amount for all draft invoices in the base
              currency of the agreement before all taxes and discounts have been
              applied.
            maxDecimal: 2
          self:
            type: string
            description: A reference to the invoices totals draft resource.
            format: uri
      predefinedPeriodFilters:
        type: object
        description: The totals for draft invoices.
        properties:
          lastFifteenDays:
            type: object
            description: Filter the totals to only include the last fifteen days.
            properties:
              description:
                type: string
                description: A short description about this object.
              self:
                type: string
                description: >-
                  A reference to the invoices totals for the last 15 days
                  resource.
                format: uri
          lastMonth:
            type: object
            description: >-
              Filter the totals to only include invoices from the last calendar
              month.
            properties:
              description:
                type: string
                description: A short description about this object.
              self:
                type: string
                description: >-
                  A reference to the invoices totals for the last month
                  resource.
                format: uri
          lastSevenDays:
            type: object
            description: Filter the totals to only include the last 7 days days.
            properties:
              description:
                type: string
                description: A short description about this object.
              self:
                type: string
                description: >-
                  A reference to the invoices totals for the last 7 days
                  resource.
                format: uri
          lastThirtyDays:
            type: object
            description: Filter the totals to only include the last 30 days days.
            properties:
              description:
                type: string
                description: A short description about this object.
              self:
                type: string
                description: >-
                  A reference to the invoices totals for the last 30 days
                  resource.
                format: uri
          lastWeek:
            type: object
            description: >-
              Filter the totals to only include invoices from the previous week,
              starting last Monday.
            properties:
              description:
                type: string
                description: A short description about this object.
              self:
                type: string
                description: A reference to the invoices totals for the last week resource.
                format: uri
          lastYear:
            type: object
            description: >-
              Filter the totals to only include invoices from last calendar
              year.
            properties:
              description:
                type: string
                description: A short description about this object.
              self:
                type: string
                description: A reference to the invoices totals for the last year resource.
                format: uri
          thisMonth:
            type: object
            description: >-
              Filter the totals to only include invoices from this calendar
              month.
            properties:
              description:
                type: string
                description: A short description about this object.
              self:
                type: string
                description: >-
                  A reference to the invoices totals for this calendar month
                  resource.
                format: uri
          thisWeek:
            type: object
            description: >-
              Filter the totals to only include invoices from this week,
              starting Monday.
            properties:
              description:
                type: string
                description: A short description about this object.
              self:
                type: string
                description: A reference to the invoices totals for this week resource.
                format: uri
          thisYear:
            type: object
            description: >-
              Filter the totals to only include invoices from this calendar
              years.
            properties:
              description:
                type: string
                description: A short description about this object.
              self:
                type: string
                description: >-
                  A reference to the invoices totals for this calendar year
                  resource.
                format: uri
      self:
        type: string
        description: A reference to the invoices totals booked resource.
        format: uri
    title: Invoice totals GET schema
  invoices_paid:
    type: object
    $schema: https://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      bookedInvoiceNumber:
        type: integer
        description: A reference number for the booked invoice document.
        filterable: true
        minimum: 1
        sortable: true
      currency:
        type: string
        description: The ISO 4217 currency code of the invoice.
        filterable: true
        pattern: "[a-zA-Z]{3}"
        sortable: true
      customer:
        type: object
        description: The customer being invoiced.
        properties:
          customerNumber:
            type: integer
            description: >-
              The customer id number. The customer id number can be either
              positive or negative, but it can't be zero.
            filterable: true
            maximum: 999999999
            minimum: 1
            sortable: true
          self:
            type: string
            description: A unique reference to the customer resource.
            format: uri
      date:
        type: string
        description: Invoice issue date. Format according to ISO-8601 (YYYY-MM-DD).
        filterable: true
        format: full-date
        pattern: \d{4}-\d{2}-\d{2}
        sortable: true
      delivery:
        type: object
        description: >-
          Information related to the delivery of the products/services from the
          invoice.
        properties:
          address:
            type: string
            description: Street address where the goods must be delivered to the customer.
            filterable: true
            maxLength: 255
            sortable: true
          city:
            type: string
            description: The city of the place of delivery
            filterable: true
            maxLength: 50
            sortable: true
          country:
            type: string
            description: The country of the place of delivery
            filterable: true
            maxLength: 50
            sortable: true
          deliveryDate:
            type: string
            description: The date of delivery.
            filterable: true
            format: full-date
            pattern: \d{4}-\d{2}-\d{2}
            sortable: true
          deliveryTerms:
            type: string
            description: Details about the terms of delivery.
            filterable: true
            maxLength: 100
            sortable: true
          zip:
            type: string
            description: The zip code of the place of delivery.
            filterable: true
            maxLength: 30
            sortable: true
      deliveryLocation:
        type: object
        description: A reference to the place of delivery for the goods on the invoice
        properties:
          deliveryLocationNumber:
            type: integer
            description: A unique identifier for the delivery location.
            filterable: true
            sortable: true
          self:
            type: string
            description: A unique reference to the delivery location resource.
            format: uri
      dueDate:
        type: string
        description: >-
          The date the invoice is due for payment. Format according to ISO-8601
          (YYYY-MM-DD). This is only used if the terms of payment is of type
          'duedate'.
        format: full-date
        pattern: \d{4}-\d{2}-\d{2}
      exchangeRate:
        type:
          - "null"
          - number
        description: The exchange rate used for currency conversion, if applicable.
      grossAmount:
        type: number
        description: >-
          The total invoice amount in the invoice currency after all taxes and
          discounts have been applied. For a credit note this amount will be
          negative.
        maxDecimal: 2
      grossAmountInBaseCurrency:
        type:
          - "null"
          - number
        description: The total gross amount of the invoice in the base currency.
      layout:
        type: object
        description: Layout to be applied for this invoice.
        properties:
          layoutNumber:
            type: integer
            description: The unique identifier of the layout.
          self:
            type: string
            description: A unique link reference to the layout item.
            format: uri
      netAmount:
        type: number
        description: >-
          The total invoice amount in the invoice currency before all taxes and
          discounts have been applied. For a credit note this amount will be
          negative.
        maxDecimal: 2
      netAmountInBaseCurrency:
        type: number
        description: >-
          The total invoice amount in the base currency of the agreement before
          all taxes and discounts have been applied. For a credit note this
          amount will be negative.
        maxDecimal: 2
      notes:
        type: object
        description: Notes on the invoice.
        properties:
          heading:
            type: string
            description: The invoice heading. Usually displayed at the top of the invoice.
            filterable: true
            maxLength: 250
            sortable: true
          textLine1:
            type: string
            description: >-
              The first line of supplementary text on the invoice. This is
              usually displayed right under the heading in a smaller font.
            filterable: true
            maxLength: 1000
            sortable: true
          textLine2:
            type: string
            description: >-
              The second line of supplementary text in the notes on the invoice.
              This is usually displayed as a footer on the invoice.
            filterable: true
            maxLength: 1000
            sortable: true
      orderNumber:
        type:
          - "null"
          - integer
        description: The unique order number associated with the invoice.
      paymentTerms:
        type: object
        description: The terms of payment for the invoice.
        properties:
          daysOfCredit:
            type: integer
            description: >-
              The number of days of credit on the invoice. This field is only
              valid if terms of payment is not of type 'duedate
            minimum: 0
          name:
            type: string
            description: The name of the payment terms.
            maxLength: 50
          paymentTermsNumber:
            type: integer
            description: A unique identifier of the payment term.
            filterable: true
            minimum: 0
            sortable: true
          paymentTermsType:
            type: string
            description: The type the payment term.
            maxLength: 30
          self:
            type: string
            description: A unique reference to the payment term resource.
            format: uri
      pdf:
        type: object
        description: References a pdf representation of this invoice.
        properties:
          download:
            type: string
            description: >-
              The unique reference of the pdf representation for this booked
              invoice.
            format: uri
      project:
        type: object
        description: Details of the project or client related to the invoice.
        properties:
          projectNumber:
            type: integer
            description: A unique identifier of the project.
            minimum: 1
          self:
            type: string
            description: A unique reference to the project resource.
            format: uri
      recipient:
        type: object
        description: >-
          The actual recipient of the invoice. This may be the same info found
          on the customer (and will probably be so in most cases) but it may
          also be a different recipient. For instance, the customer placing the
          order may be ACME Headquarters, but the recipient of the invoice may
          be ACME IT.
        properties:
          address:
            type: string
            description: The street address of the actual recipient.
            filterable: true
            maxLength: 250
            sortable: true
          attention:
            type: object
            description: The person to whom this invoice is addressed.
            properties:
              customerContactNumber:
                type: integer
                description: Unique identifier of the customer employee.
              self:
                type: string
                description: A unique reference to the customer employee.
                format: uri
          city:
            type: string
            description: The city of the actual recipient.
            filterable: true
            maxLength: 250
            sortable: true
          country:
            type: string
            description: The country of the actual recipient.
            filterable: true
            maxLength: 50
            sortable: true
          cvr:
            type: string
            description: >-
              The Corporate Identification Number of the recipient for example
              CVR in Denmark.
            maxLength: 40
          ean:
            type: string
            description: The 'European Article Number' of the actual recipient.
            filterable: true
            maxLength: 13
            sortable: true
          name:
            type: string
            description: The name of the actual recipient.
            filterable: true
            maxLength: 250
            sortable: true
          publicEntryNumber:
            type: string
            description: The public entry number of the actual recipient.
            filterable: true
            maxLength: 40
            sortable: true
          vatZone:
            type: object
            description: Recipient vat zone.
            properties:
              self:
                type: string
                description: A unique reference to the vat zone.
                format: uri
              vatZoneNumber:
                type: integer
                description: Unique identifier of the vat zone.
                filterable: true
                sortable: true
          zip:
            type: string
            description: The zip code of the actual recipient.
            filterable: true
            maxLength: 50
            sortable: true
      references:
        type: object
        description: Customer and company references related to this invoice.
        properties:
          customerContact:
            type: object
            description: >-
              The customer contact is a reference to the employee at the
              customer to contact regarding the invoice.
            properties:
              customer:
                type: object
                description: The customer this contact belongs to.
                properties:
                  customerNumber:
                    type: integer
                    description: >-
                      The customer id number. The customer id number can be
                      either positive or negative, but it can't be zero.
                    filterable: true
                    maximum: 999999999
                    minimum: 1
                    sortable: true
                  self:
                    type: string
                    description: A unique reference to the customer resource.
                    format: uri
              customerContactNumber:
                type: integer
                description: Unique identifier of the customer contact.
                minimum: 0
              self:
                type: string
                description: A unique reference to the customer contact resource.
                format: uri
          other:
            type: string
            description: >-
              A text field that can be used to save any custom reference on the
              invoice.
            filterable: true
            maxLength: 250
            sortable: true
          salesPerson:
            type: object
            description: >-
              The sales person is a reference to the employee who sold the goods
              on the invoice. This is also the person who is credited with this
              sale in reports.
            properties:
              employeeNumber:
                type: integer
                description: Unique identifier of the employee.
                filterable: true
                minimum: 1
                sortable: true
              self:
                type: string
                description: A unique reference to the employee resource.
                format: uri
          vendorReference:
            type: object
            description: A reference to any second employee involved in the sale.
            properties:
              employeeNumber:
                type: integer
                description: Unique identifier of the employee.
                filterable: true
                minimum: 1
                sortable: true
              self:
                type: string
                description: A unique reference to the employee resource.
                format: uri
      remainder:
        type: number
        description: Remaining amount to be paid.
        maxDecimal: 2
        readonly: true
      remainderInBaseCurrency:
        type: number
        description: Remaining amount to be paid in base currency.
        maxDecimal: 2
        readonly: true
      roundingAmount:
        type: number
        description: The total rounding error, if any, on the invoice in base currency.
        maxDecimal: 2
      self:
        type: string
        description: The unique self reference of the booked invoice.
        format: uri
      sent:
        type: string
        description: A convenience link to see if the invoice has been sent or not.
        format: uri
      vatAmount:
        type: number
        description: >-
          The total amount of VAT on the invoice in the invoice currency. This
          will have the same sign as net amount
        maxDecimal: 2
    title: Paid invoice
  invoices_booked:
    type: object
    $schema: https://json-schema.org/draft-07/schema#
    additionalProperties: true
    description: A schema for retrieving a collection of booked invoices.
    properties:
      bookedInvoiceNumber:
        type: integer
        description: A reference number for the booked invoice document.
        filterable: true
        minimum: 1
        sortable: true
      currency:
        type: string
        description: The ISO 4217 currency code of the invoice.
        filterable: true
        pattern: "[a-zA-Z]{3}"
        sortable: true
      customer:
        type: object
        description: The customer being invoiced.
        properties:
          customerNumber:
            type: integer
            description: >-
              The customer id number. The customer id number can be either
              positive or negative, but it can't be zero.
            filterable: true
            maximum: 999999999
            minimum: 1
            sortable: true
          self:
            type: string
            description: A unique reference to the customer resource.
            format: uri
      date:
        type: string
        description: Invoice issue date. Format according to ISO-8601 (YYYY-MM-DD).
        filterable: true
        format: full-date
        pattern: \d{4}-\d{2}-\d{2}
        sortable: true
      delivery:
        type: object
        description: Details related to the delivery of the invoice.
        properties:
          address:
            type: string
            description: Street address where the goods must be delivered to the customer.
            filterable: true
            sortable: true
          city:
            type: string
            description: The city of the place of delivery
            filterable: true
            sortable: true
          country:
            type: string
            description: The country of the place of delivery
            filterable: true
            sortable: true
          deliveryDate:
            type: string
            description: The date of delivery.
            filterable: true
            format: full-date
            pattern: \d{4}-\d{2}-\d{2}
            sortable: true
          deliveryTerms:
            type: string
            description: Details about the terms of delivery.
            filterable: true
            sortable: true
          zip:
            type: string
            description: The zip code of the place of delivery.
            filterable: true
            sortable: true
      deliveryLocation:
        type: object
        description: A reference to the place of delivery for the goods on the invoice
        properties:
          deliveryLocationNumber:
            type: integer
            description: A unique identifier for the delivery location.
            filterable: true
            sortable: true
          self:
            type: string
            description: A unique reference to the delivery location resource.
            format: uri
      dueDate:
        type: string
        description: >-
          The date the invoice is due for payment. Only used if the terms of
          payment is of type 'duedate', in which case it is mandatory. Format
          according to ISO-8601 (YYYY-MM-DD).
        format: full-date
        pattern: \d{4}-\d{2}-\d{2}
      exchangeRate:
        type: number
        description: >-
          The exchange rate between the invoice currency and the base currency
          of the agreement. The exchange rate expresses how much it will cost in
          base currency to buy 100 units of the invoice currency.
        filterable: true
        maxDecimal: 6
        sortable: true
      grossAmount:
        type: number
        description: >-
          The total invoice amount in the invoice currency after all taxes and
          discounts have been applied. For a credit note this amount will be
          negative.
        maxDecimal: 2
      grossAmountInBaseCurrency:
        type: number
        description: >-
          The total invoice amount in the base currency of the agreement after
          all taxes and discounts have been applied. For a credit note this
          amount will be negative.
        maxDecimal: 2
      layout:
        type: object
        description: Layout to be applied for this invoice.
        properties:
          layoutNumber:
            type: integer
            description: The unique identifier of the layout.
          self:
            type: string
            description: A unique link reference to the layout item.
            format: uri
      netAmount:
        type: number
        description: >-
          The total invoice amount in the invoice currency before all taxes and
          discounts have been applied. For a credit note this amount will be
          negative.
        maxDecimal: 2
      netAmountInBaseCurrency:
        type: number
        description: >-
          The total invoice amount in the base currency of the agreement before
          all taxes and discounts have been applied. For a credit note this
          amount will be negative.
        maxDecimal: 2
      notes:
        type: object
        description: Notes on the invoice.
        properties:
          heading:
            type: string
            description: The invoice heading. Usually displayed at the top of the invoice.
            filterable: true
            sortable: true
          textLine1:
            type: string
            description: >-
              The first line of supplementary text on the invoice. This is
              usually displayed right under the heading in a smaller font.
            filterable: true
            sortable: true
          textLine2:
            type: string
            description: >-
              The second line of supplementary text in the notes on the invoice.
              This is usually displayed as a footer on the invoice.
            filterable: true
            sortable: true
      orderNumber:
        type:
          - "null"
          - integer
        description: The unique order number associated with the invoice.
      paymentTerms:
        type: object
        description: The terms of payment for the invoice.
        properties:
          daysOfCredit:
            type: integer
            description: >-
              The number of days of credit on the invoice. This field is only
              valid if terms of payment is not of type 'duedate
            minimum: 0
          name:
            type: string
            description: The name of the payment terms.
          paymentTermsNumber:
            type: integer
            description: A unique identifier of the payment term.
            filterable: true
            minimum: 0
            sortable: true
          paymentTermsType:
            description: The type of payment term.
            enum:
              - net
              - invoiceMonth
              - paidInCash
              - prepaid
              - dueDate
              - factoring
              - invoiceWeekStartingSunday
              - invoiceWeekStartingMonday
              - creditcard
          self:
            type: string
            description: A unique reference to the payment term resource.
            format: uri
      pdf:
        type: object
        description: References a pdf representation of this invoice.
        properties:
          self:
            type: string
            description: >-
              The unique reference of the pdf representation for this booked
              invoice.
            format: uri
      project:
        type: object
        description: Information regarding the project associated with the invoice.
        properties:
          projectNumber:
            type: integer
            description: A unique identifier of the project.
            minimum: 1
          self:
            type: string
            description: A unique reference to the project resource.
            format: uri
      recipient:
        type: object
        description: >-
          The actual recipient of the invoice. This may be the same info found
          on the customer (and will probably be so in most cases) but it may
          also be a different recipient. For instance, the customer placing the
          order may be ACME Headquarters, but the recipient of the invoice may
          be ACME IT.
        properties:
          address:
            type: string
            description: The street address of the actual recipient.
            filterable: true
            sortable: true
          attention:
            type: object
            description: The person to whom this invoice is addressed.
            properties:
              customerContactNumber:
                type: integer
                description: Unique identifier of the customer employee.
              self:
                type: string
                description: A unique reference to the customer employee.
                format: uri
          city:
            type: string
            description: The city of the actual recipient.
            filterable: true
            sortable: true
          country:
            type: string
            description: The country of the actual recipient.
            filterable: true
            sortable: true
          cvr:
            type: string
            description: >-
              The Corporate Identification Number of the recipient for example
              CVR in Denmark.
          ean:
            type: string
            description: The 'European Article Number' of the actual recipient.
            filterable: true
            sortable: true
          name:
            type: string
            description: The name of the actual recipient.
            filterable: true
            sortable: true
          publicEntryNumber:
            type: string
            description: The public entry number of the actual recipient.
            filterable: true
            sortable: true
          vatZone:
            type: object
            description: Recipient vat zone.
            properties:
              self:
                type: string
                description: A unique reference to the vat zone.
                format: uri
              vatZoneNumber:
                type: integer
                description: Unique identifier of the vat zone.
                filterable: true
                sortable: true
          zip:
            type: string
            description: The zip code of the actual recipient.
            filterable: true
            sortable: true
      references:
        type: object
        description: Customer and company references related to this invoice.
        properties:
          customerContact:
            type: object
            description: >-
              The customer contact is a reference to the employee at the
              customer to contact regarding the invoice.
            properties:
              customer:
                type: object
                description: The customer this contact belongs to.
                properties:
                  customerNumber:
                    type: integer
                    description: >-
                      The customer id number. The customer id number can be
                      either positive or negative, but it can't be zero.
                    filterable: true
                    maximum: 999999999
                    minimum: 1
                    sortable: true
                  self:
                    type: string
                    description: A unique reference to the customer resource.
                    format: uri
              customerContactNumber:
                type: integer
                description: Unique identifier of the customer contact.
                minimum: 0
              self:
                type: string
                description: A unique reference to the customer contact resource.
                format: uri
          other:
            type: string
            description: >-
              A text field that can be used to save any custom reference on the
              invoice.
            filterable: true
            sortable: true
          salesPerson:
            type: object
            description: >-
              The sales person is a reference to the employee who sold the goods
              on the invoice. This is also the person who is credited with this
              sale in reports.
            properties:
              employeeNumber:
                type: integer
                description: Unique identifier of the employee.
                filterable: true
                minimum: 1
                sortable: true
              self:
                type: string
                description: A unique reference to the employee resource.
                format: uri
          vendorReference:
            type: object
            description: A reference to any second employee involved in the sale.
            properties:
              employeeNumber:
                type: integer
                description: Unique identifier of the employee.
                filterable: true
                minimum: 1
                sortable: true
              self:
                type: string
                description: A unique reference to the employee resource.
                format: uri
      remainder:
        type: number
        description: Remaining amount to be paid.
        maxDecimal: 2
        readonly: true
      remainderInBaseCurrency:
        type: number
        description: Remaining amount to be paid in base currency.
        maxDecimal: 2
        readonly: true
      roundingAmount:
        type: number
        description: The total rounding error, if any, on the invoice in base currency.
        maxDecimal: 2
      self:
        type: string
        description: The unique self reference of the booked invoice.
        format: uri
      sent:
        type: string
        description: A convenience link to see if the invoice has been sent or not.
        format: uri
      vatAmount:
        type: number
        description: >-
          The total amount of VAT on the invoice in the invoice currency. This
          will have the same sign as net amount
        maxDecimal: 2
    title: Booked invoice collection schema
  invoices_booked_document:
    type: object
    $schema: https://json-schema.org/draft-07/schema#
    additionalProperties: true
    description: A schema for retrieving a booked invoice.
    properties:
      bookedInvoiceNumber:
        type: integer
        description: A reference number for the booked invoice document.
        filterable: true
        minimum: 1
        sortable: true
      currency:
        type: string
        description: The ISO 4217 currency code of the invoice.
        filterable: true
        pattern: "[a-zA-Z]{3}"
        sortable: true
      customer:
        type: object
        description: The customer being invoiced.
        properties:
          customerNumber:
            type: integer
            description: >-
              The customer number is a positive unique numerical identifier with
              a maximum of 9 digits.
            filterable: true
            maximum: 999999999
            minimum: 1
            sortable: true
          self:
            type: string
            description: A unique reference to the customer resource.
            format: uri
      date:
        type: string
        description: Invoice issue date. Format according to ISO-8601 (YYYY-MM-DD).
        filterable: true
        format: full-date
        pattern: \d{4}-\d{2}-\d{2}
        sortable: true
      delivery:
        type: object
        description: Details of the delivery associated with the invoice
        properties:
          address:
            type: string
            description: Street address where the goods must be delivered to the customer.
            filterable: true
            sortable: true
          city:
            type: string
            description: The city of the place of delivery
            filterable: true
            sortable: true
          country:
            type: string
            description: The country of the place of delivery
            filterable: true
            sortable: true
          deliveryDate:
            type: string
            description: The date of delivery.
            filterable: true
            format: full-date
            pattern: \d{4}-\d{2}-\d{2}
            sortable: true
          deliveryTerms:
            type: string
            description: Details about the terms of delivery.
            filterable: true
            sortable: true
          zip:
            type: string
            description: The zip code of the place of delivery.
            filterable: true
            sortable: true
      deliveryLocation:
        type: object
        description: A reference to the place of delivery for the goods on the invoice
        properties:
          deliveryLocationNumber:
            type: integer
            description: A unique identifier for the delivery location.
            filterable: true
            sortable: true
          self:
            type: string
            description: A unique reference to the delivery location resource.
            format: uri
      dueDate:
        type: string
        description: >-
          The date the invoice is due for payment. Only used if the terms of
          payment is of type 'duedate', in which case it is mandatory. Format
          according to ISO-8601 (YYYY-MM-DD).
        format: full-date
        pattern: \d{4}-\d{2}-\d{2}
      exchangeRate:
        type: number
        description: >-
          The exchange rate between the invoice currency and the base currency
          of the agreement. The exchange rate expresses how much it will cost in
          base currency to buy 100 units of the invoice currency.
        filterable: true
        maxDecimal: 6
        sortable: true
      grossAmount:
        type: number
        description: >-
          The total invoice amount in the invoice currency after all taxes and
          discounts have been applied. For a credit note this amount will be
          negative.
        maxDecimal: 2
      grossAmountInBaseCurrency:
        type: number
        description: >-
          The total invoice amount in the base currency of the agreement after
          all taxes and discounts have been applied. For a credit note this
          amount will be negative.
        maxDecimal: 2
      layout:
        type: object
        description: Layout to be applied for this invoice.
        properties:
          layoutNumber:
            type: integer
            description: The unique identifier of the layout.
          self:
            type: string
            description: A unique link reference to the layout item.
            format: uri
      lines:
        type: array
        description: An array containing the specific invoice lines.
        items:
          type: object
          description: An array of the invoice lines that make up the invoice.
          properties:
            deliveryDate:
              type: string
              description: >-
                Invoice delivery date. The date is formatted according to
                ISO-8601.
              filterable: true
              format: full-date
              pattern: \d{4}-\d{2}-\d{2}
              sortable: true
            departmentalDistribution:
              type: object
              properties:
                departmentalDistributionNumber:
                  type: integer
                  description: A unique identifier of the departmental distribution.
                  minimum: 1
                self:
                  type: string
                  description: >-
                    A unique reference to the departmental distribution
                    resource.
                  format: uri
            description:
              type: string
              description: A description of the product or service sold.
            discountPercentage:
              type: number
              description: A line discount expressed as a percentage.
              maxDecimal: 2
            lineNumber:
              type: integer
              description: The line number is a unique number within the invoice.
              minimum: 0
            product:
              type: object
              description: The product or service offered on the invoice line.
              properties:
                productNumber:
                  type: string
                  description: >-
                    The unique product number. This can be a stock keeping unit
                    identifier (SKU).
                self:
                  type: string
                  description: A unique reference to the product resource.
                  format: uri
            quantity:
              type: number
              description: The number of units of goods on the invoice line.
              maxDecimal: 2
            sortKey:
              type: integer
              description: >-
                A sort key used to sort the lines in ascending order within the
                invoice.
              minimum: 0
            totalNetAmount:
              type: number
              description: >-
                The total invoice line amount in the invoice currency before all
                taxes and discounts have been applied. For a credit note this
                amount will be negative.
              maxDecimal: 2
            unit:
              type: object
              description: The unit of measure applied to the invoice line.
              properties:
                name:
                  type: string
                  description: >-
                    The name of the unit (e.g. 'kg' for weight or 'l' for
                    volume).
                self:
                  type: string
                  description: A unique reference to the unit resource.
                  format: uri
                unitNumber:
                  type: integer
                  description: The unique identifier of the unit.
                  minimum: 0
            unitCostPrice:
              type: number
              description: >-
                The cost price of 1 unit of the goods or services in the invoice
                currency.
              maxDecimal: 2
            unitNetPrice:
              type: number
              description: >-
                The price of 1 unit of the goods or services on the invoice line
                in the invoice currency.
              maxDecimal: 2
            vatAmount:
              type: number
              description: >-
                The total amount of VAT on the invoice line in the invoice
                currency. This will have the same sign as total net amount
              maxDecimal: 2
            vatRate:
              type: number
              description: The VAT rate in % used to calculate the vat amount on this line.
              maxDecimal: 6
        title: Invoice lines
      netAmount:
        type: number
        description: >-
          The total invoice amount in the invoice currency before all taxes and
          discounts have been applied. For a credit note this amount will be
          negative.
        maxDecimal: 2
      netAmountInBaseCurrency:
        type: number
        description: >-
          The total invoice amount in the base currency of the agreement before
          all taxes and discounts have been applied. For a credit note this
          amount will be negative.
        maxDecimal: 2
      notes:
        type: object
        description: Notes on the invoice.
        properties:
          heading:
            type: string
            description: The invoice heading. Usually displayed at the top of the invoice.
            filterable: true
            sortable: true
          textLine1:
            type: string
            description: >-
              The first line of supplementary text on the invoice. This is
              usually displayed right under the heading in a smaller font.
            filterable: true
            sortable: true
          textLine2:
            type: string
            description: >-
              The second line of supplementary text in the notes on the invoice.
              This is usually displayed as a footer on the invoice.
            filterable: true
            sortable: true
      orderNumber:
        type:
          - "null"
          - integer
        description: The order number related to the invoice
      paymentTerms:
        type: object
        description: The terms of payment for the invoice.
        properties:
          daysOfCredit:
            type: integer
            description: >-
              The number of days of credit on the invoice. This field is only
              valid if terms of payment is not of type 'duedate
            minimum: 0
          name:
            type: string
            description: The name of the payment terms.
          paymentTermsNumber:
            type: integer
            description: A unique identifier of the payment term.
            filterable: true
            minimum: 0
            sortable: true
          paymentTermsType:
            type: string
            description: The type of payment term.
          self:
            type: string
            description: A unique reference to the payment term resource.
            format: uri
      pdf:
        type: object
        description: References a pdf representation of this invoice.
        properties:
          self:
            type: string
            description: >-
              The unique reference of the pdf representation for this booked
              invoice.
            format: uri
      project:
        type: object
        description: Details of the project linked to the invoice
        properties:
          projectNumber:
            type: integer
            description: A unique identifier of the project.
            minimum: 1
          self:
            type: string
            description: A unique reference to the project resource.
            format: uri
      recipient:
        type: object
        description: >-
          The actual recipient of the invoice. This may be the same info found
          on the customer (and will probably be so in most cases) but it may
          also be a different recipient. For instance, the customer placing the
          order may be ACME Headquarters, but the recipient of the invoice may
          be ACME IT.
        properties:
          address:
            type: string
            description: The street address of the actual recipient.
            empty: true
            filterable: true
            sortable: true
          attention:
            type: object
            description: The person to whom this invoice is addressed.
            properties:
              customerContactNumber:
                type: integer
                description: Unique identifier of the customer employee.
              self:
                type: string
                description: A unique reference to the customer employee.
                format: uri
          city:
            type: string
            description: The city of the actual recipient.
            empty: true
            filterable: true
            sortable: true
          country:
            type: string
            description: The country of the actual recipient.
            filterable: true
            sortable: true
          cvr:
            type: string
            description: >-
              The Corporate Identification Number of the recipient for example
              CVR in Denmark.
          ean:
            type: string
            description: The 'European Article Number' of the actual recipient.
            filterable: true
            sortable: true
          name:
            type: string
            description: The name of the actual recipient.
            empty: true
            filterable: true
            sortable: true
          publicEntryNumber:
            type: string
            description: The public entry number of the actual recipient.
            filterable: true
            sortable: true
          vatZone:
            type: object
            description: Recipient vat zone.
            properties:
              self:
                type: string
                description: A unique reference to the vat zone.
                format: uri
              vatZoneNumber:
                type: integer
                description: Unique identifier of the vat zone.
                filterable: true
                sortable: true
          zip:
            type: string
            description: The zip code of the actual recipient.
            empty: true
            filterable: true
            sortable: true
      references:
        type: object
        description: Customer and company references related to this invoice.
        properties:
          customerContact:
            type: object
            description: >-
              The customer contact is a reference to the employee at the
              customer to contact regarding the invoice.
            properties:
              customerContactNumber:
                type: integer
                description: Unique identifier of the customer contact.
                minimum: 0
              self:
                type: string
                description: A unique reference to the customer contact resource.
                format: uri
          other:
            type: string
            description: >-
              A text field that can be used to save any custom reference on the
              invoice.
            filterable: true
            sortable: true
          salesPerson:
            type: object
            description: >-
              The sales person is a reference to the employee who sold the goods
              on the invoice. This is also the person who is credited with this
              sale in reports.
            properties:
              employeeNumber:
                type: integer
                description: Unique identifier of the employee.
                filterable: true
                minimum: 1
                sortable: true
              self:
                type: string
                description: A unique reference to the employee resource.
                format: uri
          vendorReference:
            type: object
            description: A reference to any second employee involved in the sale.
            properties:
              employeeNumber:
                type: integer
                description: Unique identifier of the employee.
                filterable: true
                minimum: 1
                sortable: true
              self:
                type: string
                description: A unique reference to the employee resource.
                format: uri
      remainder:
        type: number
        description: Remaining amount to be paid.
        maxDecimal: 2
        readonly: true
      remainderInBaseCurrency:
        type: number
        description: Remaining amount to be paid in base currency.
        maxDecimal: 2
        readonly: true
      roundingAmount:
        type: number
        description: The total rounding error, if any, on the invoice in base currency.
        maxDecimal: 2
      self:
        type: string
        description: The unique self reference of the booked invoice.
        format: uri
      sent:
        type: string
        description: A convenience link to see if the invoice has been sent or not.
        format: uri
      vatAmount:
        type: number
        description: >-
          The total amount of VAT on the invoice in the invoice currency. This
          will have the same sign as net amount
        maxDecimal: 2
    title: Booked invoice schema
