version: 6.44.0

type: DeclarativeSource

check:
  type: CheckStream
  # We need to use Contacts stream once it is migrated
  stream_names:
    - marketing_emails

definitions:
  # Authenticator Definitions
  api_token_auth:
    type: BearerAuthenticator
    api_token: "{{ config['credentials']['access_token'] }}"

  oauth_auth:
    type: OAuthAuthenticator
    client_id: "{{ config['credentials']['client_id'] }}"
    client_secret: "{{ config['credentials']['client_secret'] }}"
    refresh_token: "{{ config['credentials']['refresh_token'] }}"
    token_refresh_endpoint: "https://api.hubapi.com/oauth/v1/token"

  authenticator:
    type: SelectiveAuthenticator
    authenticator_selection_path: ["credentials", "credentials_title"]
    authenticators:
      OAuth Credentials: "#/definitions/oauth_auth"
      Private App Credentials: "#/definitions/api_token_auth"

  base_requester:
    type: HttpRequester
    url_base: "https://api.hubapi.com"
    authenticator:
      $ref: "#/definitions/authenticator"
    http_method: GET
    request_headers:
      Content-Type: application/json
      User-Agent: Airbyte
    error_handler:
      $ref: "#/definitions/base_error_handler"

  base_error_handler:
    type: DefaultErrorHandler
    backoff_strategies:
      - type: WaitTimeFromHeader
        header: Retry-After
      # HubSpot API does not always return Retry-After value for 429 HTTP error
      - type: ExponentialBackoffStrategy
    response_filters:
      - type: HttpResponseFilter
        action: RETRY
        http_codes:
          - 429
        error_message: >-
          HubSpot rate limit reached (429). Backoff based on 'Retry-After' header, then exponential backoff fallback.
      - type: HttpResponseFilter
        action: RETRY
        http_codes:
          - 502
          - 503
        error_message: >-
          HubSpot server error (5xx). Retrying with exponential backoff...
      - type: HttpResponseFilter
        action: FAIL
        http_codes:
          - 401
          - 530
        error_message: >-
          The user cannot be authorized with provided credentials. Please verify that your credentials are valid and try again.
      - type: HttpResponseFilter
        action: FAIL
        http_codes:
          - 403
        error_message: >-
          Access denied (403). The authenticated user does not have permissions to access the resource. Verify your permissions to access this endpoint.
      - type: HttpResponseFilter
        action: FAIL
        http_codes:
          - 400
        error_message: >-
          Bad request (400). Please verify your credentials and try again.

  base_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: offset
    page_size_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: limit
    pagination_strategy:
      type: OffsetIncrement
      page_size: 100

  base_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - results

  base_retriever:
    type: SimpleRetriever
    requester:
      $ref: "#/definitions/base_requester"
    record_selector:
      $ref: "#/definitions/base_selector"
    paginator:
      $ref: "#/definitions/base_paginator"
    decoder:
      type: JsonDecoder

  retriever_without_pagination:
    type: SimpleRetriever
    requester:
      $ref: "#/definitions/base_requester"
    record_selector:
      $ref: "#/definitions/base_selector"
    decoder:
      type: JsonDecoder

  stream_base:
    type: DeclarativeStream
    primary_key:
      - id
    retriever:
      $ref: "#/definitions/base_retriever"

  stream_without_pagination:
    $ref: "#/definitions/stream_base"
    retriever:
      $ref: "#/definitions/retriever_without_pagination"

  # Stream Definitions
  marketing_emails_stream:
    $ref: "#/definitions/stream_base"
    name: marketing_emails
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /marketing-emails/v1/emails/with-statistics
      paginator:
        $ref: "#/definitions/base_paginator"
        pagination_strategy:
          type: OffsetIncrement
          page_size: 250
      record_selector:
        extractor:
          type: DpathExtractor
          field_path:
            - objects
        record_filter:
          type: RecordFilter
          condition: "{{ record['updated'] | int > format_datetime(config.get('start_date', '2006-06-01T00:00:00Z'), '%ms') | int }}"
    transformations:
      - type: AddFields
        fields:
          - path: ["rootMicId"]
            value: "{{ record['rootMicId'] | string if record.get('rootMicId') is not none else none }}"
            value_type: string
        condition: "{{ record.get('rootMicId') is not none and record.get('rootMicId') is not string }}"
      - type: AddFields
        fields:
          - path: ["updated"]
            value: "{{ record.get('updated') or record['created'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/marketing_emails"

  email_subscriptions_stream:
    $ref: "#/definitions/stream_without_pagination"
    name: email_subscriptions
    retriever:
      $ref: "#/definitions/retriever_without_pagination"
      requester:
        $ref: "#/definitions/base_requester"
        path: /email/public/v1/subscriptions
      record_selector:
        extractor:
          type: DpathExtractor
          field_path:
            - subscriptionDefinitions
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/email_subscriptions"

  ticket_pipelines_stream:
    $ref: "#/definitions/stream_base"
    name: ticket_pipelines
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /crm/v3/pipelines/tickets
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updatedAt
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ format_datetime(config.get('start_date', '2006-06-01T00:00:00Z'), '%Y-%m-%dT%H:%M:%S.%fZ', '%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      lookback_window: P{{ config.get('lookback_window', 0) }}D
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%dT%H:%M:%SZ"
      is_client_side_incremental: true
    transformations:
      - type: AddFields
        fields:
          - path: ["updatedAt"]
            value: "{{ record['createdAt'] }}"
        condition: "{{ record.get('updatedAt') is none }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ticket_pipelines"
    state_migrations:
      - type: CustomStateMigration
        class_name: source_hubspot.components.MigrateEmptyStringState
        cursor_field: updatedAt

  contact_lists_stream:
    $ref: "#/definitions/stream_base"
    name: contact_lists
    primary_key: listId
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /crm/v3/lists/search
        http_method: POST
      record_selector:
        schema_normalization: Default
        extractor:
          type: DpathExtractor
          field_path:
            - lists
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: offset
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: count
        pagination_strategy:
          type: CursorPagination
          page_size: 1000
          cursor_value: "{{ response.get('offset') }}"
          stop_condition: "{{ not response.get('has-more') }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updatedAt
      datetime_format: "%ms"
      lookback_window: P{{ config.get('lookback_window', 0) }}D
      is_client_side_incremental: true
      cursor_datetime_formats:
        - "%ms"
        - "%Y-%m-%dT%H:%M:%S.%fZ"
        - "%Y-%m-%dT%H:%M:%SZ"
        - "%Y-%m-%d %H:%M:%S%z"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ format_datetime(config.get('start_date', '2006-06-01T00:00:00Z'), '%ms', '%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%ms"
    transformations:
      - type: DpathFlattenFields
        field_path:
          - metaData
        key_transformation:
          type: KeyTransformation
          prefix: metaData_
      - type: AddFields
        fields:
          - path: [ "updatedAt" ]
            value: "{{ record['createdAt'] }}"
        condition: "{{ not record.get('updatedAt') }}"
      - type: AddFields
        fields:
          - path: [ "updatedAt" ]
            value: "{{ format_datetime(record['updatedAt'], '%ms') }}"
          - path: [ "createdAt" ]
            value: "{{ format_datetime(record['createdAt'], '%ms') }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/contact_lists"

  email_events_stream:
    $ref: "#/definitions/stream_base"
    name: email_events
    primary_key: id
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /email/public/v1/events
      record_selector:
        schema_normalization: Default
        extractor:
          type: DpathExtractor
          field_path:
            - events
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 1000
          cursor_value: "{{ response.get('offset') }}"
          stop_condition: "{{ not response.get('hasMore') }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: created
      datetime_format: "%ms"
      lookback_window: P{{ config.get('lookback_window', 0) }}D
      step: P30D
      cursor_granularity: PT1S
      cursor_datetime_formats:
        - "%ms"
        - "%Y-%m-%dT%H:%M:%S.%fZ"
        - "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ format_datetime(config.get('start_date', '2006-06-01T00:00:00Z'), '%ms', '%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%ms"
      start_time_option:
        type: RequestOption
        field_name: startTimestamp
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: endTimestamp
        inject_into: request_parameter
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/email_events"


streams:
  - "#/definitions/marketing_emails_stream"
  - "#/definitions/email_subscriptions_stream"
  - "#/definitions/ticket_pipelines_stream"
  - "#/definitions/contact_lists_stream"
  - "#/definitions/email_events_stream"

# HubSpot account is limited to 110 requests every 10 seconds https://developers.hubspot.com/docs/guides/apps/api-usage/usage-details#rate-limits
concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: "{{ config.get('num_workers', 3) }}"
  max_concurrency: 40

schemas:
  email_subscriptions:
    $schema: http://json-schema.org/draft-07/schema#
    type:
      - "null"
      - object
    additionalProperties: true
    properties:
      active:
        description: Indicates whether the subscription is currently active or not
        type:
          - "null"
          - boolean
      portalId:
        description: The unique identifier for the portal associated with the subscription
        type:
          - "null"
          - integer
      description:
        description: Additional information or details about the subscription
        type:
          - "null"
          - string
      id:
        description: The unique identifier for the subscription
        type:
          - "null"
          - integer
      name:
        description: The display name of the subscription
        type:
          - "null"
          - string
      order:
        description: The order in which the subscription is displayed or processed
        type:
          - "null"
          - integer
      businessUnitId:
        description:
          The unique identifier for the business unit associated with the
          subscription
        type:
          - "null"
          - integer
      internal:
        description: Indicates whether the subscription is for internal use only
        type:
          - "null"
          - boolean
      internalName:
        description: The internal name for the subscription
        type:
          - "null"
          - string
      category:
        description: The category to which the subscription belongs
        type:
          - "null"
          - string
      channel:
        description: The communication channel through which the subscription is managed
        type:
          - "null"
          - string

  marketing_emails:
    $schema: http://json-schema.org/draft-07/schema#
    type:
      - "null"
      - object
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - integer
      ab:
        type:
          - "null"
          - boolean
      abHoursToWait:
        type:
          - "null"
          - integer
      abSampleSizeDefault:
        type:
          - "null"
          - string
      abSamplingDefault:
        type:
          - "null"
          - string
      abStatus:
        type:
          - "null"
          - string
      abSuccessMetric:
        type:
          - "null"
          - string
      abTestPercentage:
        type:
          - "null"
          - integer
      abVariation:
        type:
          - "null"
          - boolean
      absoluteUrl:
        type:
          - "null"
          - string
      aifeatures:
        type:
          - "null"
          - object
      allEmailCampaignIds:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      analyticsPageId:
        type:
          - "null"
          - string
      analyticsPageType:
        type:
          - "null"
          - string
      archived:
        type:
          - "null"
          - boolean
      authorAt:
        type:
          - "null"
          - integer
      authorName:
        type:
          - "null"
          - string
      authorUserId:
        type:
          - "null"
          - integer
      blogEmailType:
        type:
          - "null"
          - string
      campaign:
        type:
          - "null"
          - string
      campaignName:
        type:
          - "null"
          - string
      canSpamSettingsId:
        type:
          - "null"
          - integer
      categoryId:
        type:
          - "null"
          - integer
      clonedFrom:
        type:
          - "null"
          - integer
      contentTypeCategory:
        type:
          - "null"
          - integer
      createPage:
        type:
          - "null"
          - boolean
      created:
        type:
          - "null"
          - integer
      createdById:
        type:
          - "null"
          - integer
      currentState:
        type:
          - "null"
          - string
      currentlyPublished:
        type:
          - "null"
          - boolean
      customReplyTo:
        type:
          - "null"
          - string
      customReplyToEnabled:
        type:
          - "null"
          - boolean
      domain:
        type:
          - "null"
          - string
      emailBody:
        type:
          - "null"
          - string
      emailNote:
        type:
          - "null"
          - string
      emailTemplateMode:
        type:
          - "null"
          - string
      emailType:
        type:
          - "null"
          - string
      emailbodyPlaintext:
        description: Plain text version of the email body
        type:
          - "null"
          - string
      feedbackEmailCategory:
        description: Category for feedback related to the email
        type:
          - "null"
          - string
      feedbackSurveyId:
        description: ID of the feedback survey linked to the email
        type:
          - "null"
          - integer
      folderId:
        description: ID of the folder where the email is stored
        type:
          - "null"
          - integer
      freezeDate:
        description: Date when the email content was finalized
        type:
          - "null"
          - integer
      fromName:
        description: Name of the sender displayed in the email
        type:
          - "null"
          - string
      htmlTitle:
        description: HTML title of the email
        type:
          - "null"
          - string
      isGraymailSuppressionEnabled:
        description: Flag indicating if graymail suppression is enabled for the email
        type:
          - "null"
          - boolean
      isLocalTimezoneSend:
        description: Flag indicating if the email is sent based on the local timezone
        type:
          - "null"
          - boolean
      isPublished:
        description: Flag indicating if the email is published
        type:
          - "null"
          - boolean
      isRecipientFatigueSuppressionEnabled:
        description: Flag indicating if recipient fatigue suppression is enabled
        type:
          - "null"
          - boolean
      leadFlowId:
        description: ID of the lead flow associated with the email
        type:
          - "null"
          - integer
      liveDomain:
        description: Domain where the live version of the email is hosted
        type:
          - "null"
          - string
      mailingListsExcluded:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      mailingListsIncluded:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      maxRssEntries:
        description: Maximum number of RSS entries to include in the email
        type:
          - "null"
          - integer
      metaDescription:
        description: Meta description of the email content
        type:
          - "null"
          - string
      name:
        description: Name of the email
        type:
          - "null"
          - string
      pageExpiryEnabled:
        description: Flag indicating if page expiry is enabled for the email
        type:
          - "null"
          - boolean
      pageRedirected:
        description: Information about page redirection
        type:
          - "null"
          - boolean
      portalId:
        description: ID of the HubSpot portal associated with the email
        type:
          - "null"
          - integer
      previewKey:
        description: Key used for email preview
        type:
          - "null"
          - string
      primaryEmailCampaignId:
        description: ID of the primary email campaign associated with the email
        type:
          - "null"
          - integer
      processingStatus:
        description: Status of the email processing
        type:
          - "null"
          - string
      publishDate:
        description: Date when the email is scheduled to be published
        type:
          - "null"
          - integer
      publishedById:
        description: ID of the user who published the email
        type:
          - "null"
          - integer
      publishedByName:
        description: Name of the user who published the email
        type:
          - "null"
          - string
      publishImmediately:
        description: Flag indicating if the email should be published immediately
        type:
          - "null"
          - boolean
      publishedUrl:
        description: URL where the published email can be accessed
        type:
          - "null"
          - string
      replyTo:
        description: Email address for replies to the email
        type:
          - "null"
          - string
      resolvedDomain:
        description: Domain resolved for the email
        type:
          - "null"
          - string
      rootMicId:
        description: Root MIC ID associated with the email
        type:
          - "null"
          - string
      selected:
        description: Flag indicating if the email is selected
        type:
          - "null"
          - integer
      slug:
        description: Slug associated with the email
        type:
          - "null"
          - string
      smartEmailFields:
        description: Fields related to smart email features
        type:
          - "null"
          - object
      state:
        description: Current state of the email
        type:
          - "null"
          - string
      stats:
        type:
          - "null"
          - object
        properties:
          counters:
            type:
              - "null"
              - object
            properties:
              sent:
                type:
                  - "null"
                  - integer
              open:
                type:
                  - "null"
                  - integer
              delivered:
                type:
                  - "null"
                  - integer
              bounce:
                type:
                  - "null"
                  - integer
              unsubscribed:
                type:
                  - "null"
                  - integer
              click:
                type:
                  - "null"
                  - integer
              reply:
                type:
                  - "null"
                  - integer
              dropped:
                type:
                  - "null"
                  - integer
              selected:
                type:
                  - "null"
                  - integer
              spamreport:
                type:
                  - "null"
                  - integer
              suppressed:
                type:
                  - "null"
                  - integer
              hardbounced:
                type:
                  - "null"
                  - integer
              softbounced:
                type:
                  - "null"
                  - integer
              pending:
                type:
                  - "null"
                  - integer
              contactslost:
                type:
                  - "null"
                  - integer
              notsent:
                type:
                  - "null"
                  - integer
          deviceBreakdown:
            type:
              - "null"
              - object
            properties:
              open_device_type:
                type:
                  - "null"
                  - object
                properties:
                  computer:
                    type:
                      - "null"
                      - integer
                  mobile:
                    type:
                      - "null"
                      - integer
                  unknown:
                    type:
                      - "null"
                      - integer
              click_device_type:
                type:
                  - "null"
                  - object
                properties:
                  computer:
                    type:
                      - "null"
                      - integer
                  mobile:
                    type:
                      - "null"
                      - integer
                  unknown:
                    type:
                      - "null"
                      - integer
          failedToLoad:
            type:
              - "null"
              - boolean
          qualifierStats:
            type:
              - "null"
              - object
          ratios:
            type:
              - "null"
              - object
            properties:
              clickratio:
                type:
                  - "null"
                  - number
              clickthroughratio:
                type:
                  - "null"
                  - number
              deliveredratio:
                type:
                  - "null"
                  - number
              openratio:
                type:
                  - "null"
                  - number
              replyratio:
                type:
                  - "null"
                  - number
              unsubscribedratio:
                type:
                  - "null"
                  - number
              spamreportratio:
                type:
                  - "null"
                  - number
              bounceratio:
                type:
                  - "null"
                  - number
              hardbounceratio:
                type:
                  - "null"
                  - number
              softbounceratio:
                type:
                  - "null"
                  - number
              contactslostratio:
                type:
                  - "null"
                  - number
              pendingratio:
                type:
                  - "null"
                  - number
              notsentratio:
                type:
                  - "null"
                  - number
      subcategory:
        description: Subcategory to which the email belongs
        type:
          - "null"
          - string
      subject:
        description: Subject line of the email
        type:
          - "null"
          - string
      subscription:
        description: Information about email subscription
        type:
          - "null"
          - integer
      subscriptionName:
        description: Name of the email subscription
        type:
          - "null"
          - string
      templatePath:
        description: Path of the email template
        type:
          - "null"
          - string
      transactional:
        description: Flag indicating if the email is transactional
        type:
          - "null"
          - boolean
      unpublishedAt:
        description: Timestamp when the email was unpublished
        type:
          - "null"
          - integer
      updated:
        description: Timestamp of the last update to the email
        type:
          - "null"
          - integer
      updatedById:
        description: ID of the user who last updated the email
        type:
          - "null"
          - integer
      url:
        description: URL associated with the email
        type:
          - "null"
          - string
      useRssHeadlineAsSubject:
        description: Flag indicating if the RSS headline should be used as the subject
        type:
          - "null"
          - boolean
      vidsExcluded:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      vidsIncluded:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      publishedByEmail:
        description: Email address of the user who published the email
        type:
          - "null"
          - string
      sections:
        description: Sections within the email
        type:
          - "null"
          - object
      author:
        description: Author of the email
        type:
          - "null"
          - string
      isCreatedFomSandboxSync:
        description: Flag indicating if the email was created from a sandbox sync
        type:
          - "null"
          - boolean
      rssEmailUrl:
        description: URL for RSS emails
        type:
          - "null"
          - string
      teamPerms:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      securityState:
        description: Security state of the email
        type:
          - "null"
          - string
      isInstanceLayoutPage:
        description: Flag indicating if the email is a layout page in an instance
        type:
          - "null"
          - boolean
      audienceAccess:
        description: Information about who has access to view the email
        type:
          - "null"
          - string
      campaignUtm:
        description: UTM parameters for campaign tracking
        type:
          - "null"
          - string
      contentAccessRuleTypes:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      pastMabExperimentIds:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      rssEmailClickThroughText:
        description: Text for click-through actions in RSS emails
        type:
          - "null"
          - string
      rssEmailImageMaxWidth:
        description: Maximum width of images in RSS emails
        type:
          - "null"
          - integer
      flexAreas:
        type:
          - "null"
          - object
        properties:
          main:
            type:
              - "null"
              - object
            properties:
              boxed:
                type:
                  - "null"
                  - boolean
              isSingleColumnFullWidth:
                type:
                  - "null"
                  - boolean
              sections:
                type:
                  - "null"
                  - array
                items:
                  type:
                    - "null"
                    - object
                  properties:
                    columns:
                      type:
                        - "null"
                        - array
                      items:
                        type:
                          - "null"
                          - object
                        properties:
                          id:
                            type:
                              - "null"
                              - string
                          widgets:
                            type:
                              - "null"
                              - array
                            items:
                              type:
                                - "null"
                                - string
                          width:
                            type:
                              - "null"
                              - integer
                    id:
                      type:
                        - "null"
                        - string
                    style:
                      type:
                        - "null"
                        - object
                      properties:
                        backgroundColor:
                          type:
                            - "null"
                            - string
                        backgroundType:
                          type:
                            - "null"
                            - string
                        paddingBottom:
                          type:
                            - "null"
                            - string
                        paddingTop:
                          type:
                            - "null"
                            - string
      emailCampaignGroupId:
        description: Group ID associated with the email campaign
        type:
          - "null"
          - integer
      layoutSections:
        description: Sections within the email layout
        type:
          - "null"
          - object
      blogRssSettings:
        description: Settings related to blog RSS integration
        type:
          - "null"
          - string
      archivedInDashboard:
        description: Flag indicating if the email was archived in the dashboard
        type:
          - "null"
          - boolean
      publishedAt:
        description: Timestamp when the email was published
        type:
          - "null"
          - integer
      lastEditUpdateId:
        description: Update ID of the last edit made to the email
        type:
          - "null"
          - integer
      lastEditSessionId:
        description: Session ID of the last edit made to the email
        type:
          - "null"
          - integer
      styleSettings:
        type:
          - "null"
          - object
        properties:
          background_color:
            type:
              - "null"
              - string
          background_image:
            type:
              - "null"
              - string
          background_image_type:
            type:
              - "null"
              - string
          body_border_color:
            type:
              - "null"
              - string
          body_border_color_choice:
            type:
              - "null"
              - string
          body_border_width:
            type:
              - "null"
              - string
          body_color:
            type:
              - "null"
              - string
          color_picker_favorite1:
            type:
              - "null"
              - string
          color_picker_favorite2:
            type:
              - "null"
              - string
          color_picker_favorite3:
            type:
              - "null"
              - string
          color_picker_favorite4:
            type:
              - "null"
              - string
          color_picker_favorite5:
            type:
              - "null"
              - string
          color_picker_favorite6:
            type:
              - "null"
              - string
          email_body_padding:
            type:
              - "null"
              - string
          email_body_width:
            type:
              - "null"
              - string
          heading_one_font:
            type:
              - "null"
              - object
            properties:
              bold:
                type:
                  - "null"
                  - boolean
              color:
                type:
                  - "null"
                  - string
              font:
                type:
                  - "null"
                  - string
              font_style:
                type:
                  - "null"
                  - object
              italic:
                type:
                  - "null"
                  - boolean
              size:
                type:
                  - "null"
                  - string
              underline:
                type:
                  - "null"
                  - boolean
          heading_two_font:
            type:
              - "null"
              - object
            properties:
              bold:
                type:
                  - "null"
                  - boolean
              color:
                type:
                  - "null"
                  - string
              font:
                type:
                  - "null"
                  - string
              font_style:
                type:
                  - "null"
                  - object
              italic:
                type:
                  - "null"
                  - boolean
              size:
                type:
                  - "null"
                  - string
              underline:
                type:
                  - "null"
                  - boolean
          links_font:
            type:
              - "null"
              - object
            properties:
              bold:
                type:
                  - "null"
                  - boolean
              color:
                type:
                  - "null"
                  - string
              font:
                type:
                  - "null"
                  - string
              font_style:
                type:
                  - "null"
                  - object
              italic:
                type:
                  - "null"
                  - boolean
              size:
                type:
                  - "null"
                  - string
              underline:
                type:
                  - "null"
                  - boolean
          primary_accent_color:
            type:
              - "null"
              - string
          primary_font:
            type:
              - "null"
              - string
          primary_font_color:
            type:
              - "null"
              - string
          primary_font_line_height:
            type:
              - "null"
              - string
          primary_font_size:
            type:
              - "null"
              - string
          secondary_accent_color:
            type:
              - "null"
              - string
          secondary_font:
            type:
              - "null"
              - string
          secondary_font_color:
            type:
              - "null"
              - string
          secondary_font_line_height:
            type:
              - "null"
              - string
          secondary_font_size:
            type:
              - "null"
              - string
          use_email_client_default_settings:
            type:
              - "null"
              - boolean
          user_module_defaults:
            type:
              - "null"
              - object
            properties:
              button_email:
                type:
                  - "null"
                  - object
                properties:
                  background_color:
                    type:
                      - "null"
                      - string
                  corner_radius:
                    type:
                      - "null"
                      - integer
                  font:
                    type:
                      - "null"
                      - string
                  font_color:
                    type:
                      - "null"
                      - string
                  font_size:
                    type:
                      - "null"
                      - integer
                  font_style:
                    type:
                      - "null"
                      - object
              email_divider:
                type:
                  - "null"
                  - object
                properties:
                  color:
                    type:
                      - "null"
                      - object
                  height:
                    type:
                      - "null"
                      - integer
                  line_type:
                    type:
                      - "null"
                      - string
      visibleToAll:
        description: Flag indicating if the email is visible to all users
        type:
          - "null"
          - boolean
      language:
        description: Language in which the email is written
        type:
          - "null"
          - string
      rssEmailByText:
        description: Text content related to RSS emails
        type:
          - "null"
          - string
      rssEmailCommentText:
        description: Text for comments in RSS emails
        type:
          - "null"
          - string
      hasContentAccessRules:
        description: Indicates if the email has content access rules applied
        type:
          - "null"
          - boolean
      archivedAt:
        description: Timestamp when the email was archived
        type:
          - "null"
          - integer
      translations:
        description: Translations available for the email
        type:
          - "null"
          - object
      userPerms:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      contentAccessRuleIds:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      rssEmailEntryTemplateEnabled:
        description: Flag indicating if the RSS email entry template is enabled
        type:
          - "null"
          - boolean
      mailingIlsListsExcluded:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      mailingIlsListsIncluded:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer

  ticket_pipelines:
    $schema: http://json-schema.org/draft-07/schema#
    type:
      - "null"
      - object
    additionalProperties: true
    properties:
      label:
        description: The label or name of the ticket pipeline.
        type:
          - "null"
          - string
      displayOrder:
        description: The order in which the ticket pipeline is displayed.
        type:
          - "null"
          - integer
      id:
        description: The unique identifier of the ticket pipeline.
        type:
          - "null"
          - string
      archived:
        description: Indicates if the ticket pipeline is archived or not.
        type:
          - "null"
          - boolean
      stages:
        description: List of stages within the ticket pipeline.
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            label:
              description: The label or name of the stage.
              type:
                - "null"
                - string
            displayOrder:
              description: The order in which the stage is displayed.
              type:
                - "null"
                - integer
            metadata:
              description: Additional metadata related to the stage.
              type:
                - "null"
                - object
              properties:
                ticketState:
                  description: The state of the ticket within this stage.
                  type:
                    - "null"
                    - string
                isClosed:
                  description: Indicates if the stage is closed or not.
                  type:
                    - "null"
                    - string
            id:
              description: The unique identifier of the stage.
              type:
                - "null"
                - string
            createdAt:
              description: The date and time when the stage was created.
              type:
                - "null"
                - string
              format: date-time
            updatedAt:
              description: The date and time when the stage was last updated.
              type:
                - "null"
                - string
              format: date-time
            active:
              description: Indicates if the stage is actively being used.
              type:
                - "null"
                - boolean
            archived:
              description: Indicates if the stage is archived or not.
              type:
                - "null"
                - boolean
            writePermissions:
              description: Permissions for writing/modifying the stage.
              type:
                - "null"
                - string
      createdAt:
        description: The date and time when the ticket pipeline was created.
        type:
          - "null"
          - string
        format: date-time
      updatedAt:
        description: The date and time when the ticket pipeline was last updated.
        type:
          - "null"
          - string
        format: date-time

  contact_lists:
    $schema: http://json-schema.org/draft-07/schema#
    type:
      - "null"
      - object
    additionalProperties: true
    properties:
      parentId:
        description: The ID of the parent list, if applicable.
        type:
          - "null"
          - integer
      metaData:
        description: Additional metadata related to the fetched contact lists
        type:
          - "null"
          - object
        properties:
          processing:
            description: Indicates if the list is currently being processed.
            type:
              - "null"
              - string
          size:
            description: The size of the contact list.
            type:
              - "null"
              - integer
          error:
            description: Any error associated with the contact list.
            type:
              - "null"
              - string
          lastProcessingStateChangeAt:
            description: The timestamp of the last processing state change.
            type:
              - "null"
              - integer
          lastSizeChangeAt:
            description: The timestamp of the last size change.
            type:
              - "null"
              - integer
          listReferencesCount:
            description: The count of references to the list.
            type:
              - "null"
              - integer
          parentFolderId:
            description: The ID of the parent folder containing the list.
            type:
              - "null"
              - integer
      metaData_processing:
        description: Processing status related to list metadata.
        type:
          - "null"
          - string
      metaData_size:
        description: Size of the list metadata.
        type:
          - "null"
          - integer
      metaData_error:
        description: Error information related to list metadata.
        type:
          - "null"
          - string
      metaData_lastProcessingStateChangeAt:
        description: Timestamp of the last processing state change for metadata.
        type:
          - "null"
          - integer
      metaData_lastSizeChangeAt:
        description: Timestamp of the last size change for metadata.
        type:
          - "null"
          - integer
      metaData_listReferencesCount:
        description: References count related to list metadata.
        type:
          - "null"
          - integer
      metaData_parentFolderId:
        description: Parent folder ID associated with list metadata.
        type:
          - "null"
          - integer
      dynamic:
        description: Identifies if the contact list is dynamic in nature.
        type:
          - "null"
          - boolean
      name:
        description: The name or title of the contact list.
        type:
          - "null"
          - string
      filters:
        description: Contains filter criteria to fetch contact lists
        type:
          - "null"
          - array
        items:
          description: Individual filter items
          type:
            - "null"
            - array
          items:
            description: Properties for each filter item
            type:
              - "null"
              - object
            properties:
              filterFamily:
                description: The family to which the filter belongs.
                type:
                  - "null"
                  - string
              withinTimeMode:
                description: Specifies the time mode within which the filter operates.
                type:
                  - "null"
                  - string
              checkPastVersions:
                description: Specifies if past versions of the filter should be checked.
                type:
                  - "null"
                  - boolean
              type:
                description: The type of filter being used.
                type:
                  - "null"
                  - string
              property:
                description: The property on which the filter is applied.
                type:
                  - "null"
                  - string
              value:
                description: The specific value for the filter.
                type:
                  - "null"
                  - string
              operator:
                description: The operation performed by the filter.
                type:
                  - "null"
                  - string
      ilsFilterBranch:
        description: Indicates the branch of the filter applied.
        type:
          - "null"
          - string
      internal:
        description: Specifies if the contact list is internal (not accessible to customers).
        type:
          - "null"
          - boolean
      authorId:
        description: The ID of the user who authored or created the contact list.
        type:
          - "null"
          - integer
      limitExempt:
        description: Specifies if any limits are exempted for the contact list.
        type:
          - "null"
          - boolean
      teamIds:
        description: The IDs of teams that have access to the contact list.
        type:
          - "null"
          - array
      portalId:
        description: The ID of the portal to which the contact list belongs.
        type:
          - "null"
          - integer
      createdAt:
        description: The timestamp when the contact list was created.
        type:
          - "null"
          - integer
      listId:
        description: The unique ID of the contact list.
        type:
          - "null"
          - integer
      updatedAt:
        description: The timestamp of the last update to the contact list.
        type:
          - "null"
          - integer
      internalListId:
        description: The internal ID of the contact list.
        type:
          - "null"
          - integer
      readOnly:
        description: Specifies if the list is read-only or not.
        type:
          - "null"
          - boolean
      deleteable:
        description: Specifies if the contact list can be deleted.
        type:
          - "null"
          - boolean
      listType:
        description: Specifies the type of list, e.g., static or dynamic.
        type:
          - "null"
          - string
      archived:
        description: Indicates if the contact list is archived or not.
        type:
          - "null"
          - boolean
  
  email_events:
    $schema: http://json-schema.org/draft-07/schema#
    type:
      - "null"
      - object
    additionalProperties: true
    properties:
      appId:
        description: The unique identifier of the application associated with the email
          event.
        type:
          - "null"
          - integer
      appName:
        description: The name of the application associated with the email event.
        type:
          - "null"
          - string
      bcc:
        description: The blind carbon copy recipients of the email.
        type:
          - "null"
          - array
      cc:
        description: The carbon copy recipients of the email.
        type:
          - "null"
          - array
      attempt:
        description: The number of attempts made to send the email.
        type:
          - "null"
          - integer
      bounced:
        description: Indicates if the email bounced.
        type:
          - "null"
          - boolean
      browser:
        description: Details about the email event recipient's browser.
        type:
          - "null"
          - object
        properties:
          family:
            description: The family of the browser used by the recipient.
            type:
              - "null"
              - string
          name:
            description: The name of the browser.
            type:
              - "null"
              - string
          producer:
            description: The producer of the browser.
            type:
              - "null"
              - string
          producerUrl:
            description: The URL of the producer's website.
            type:
              - "null"
              - string
          type:
            description: The type of the browser.
            type:
              - "null"
              - string
          url:
            description: The URL of the browser.
            type:
              - "null"
              - string
          version:
            description: The version of the browser used by the recipient.
            type:
              - "null"
              - array
            items:
              description: The version of the browser.
              type:
                - "null"
                - string
      category:
        description: The category of the email event.
        type:
          - "null"
          - string
      causedBy:
        description: Information about the action that caused the email event.
        type:
          - "null"
          - object
        properties:
          created:
            description: The timestamp of when the event was created.
            type:
              - "null"
              - integer
          id:
            description: The unique identifier of the event causing this event.
            type:
              - "null"
              - string
      created:
        description: The timestamp of when the email event was created.
        type:
          - "null"
          - integer
      deviceType:
        description: The type of device used by the recipient.
        type:
          - "null"
          - string
      dropMessage:
        description: The message associated with dropped email.
        type:
          - "null"
          - string
      dropReason:
        description: The reason for dropping the email.
        type:
          - "null"
          - string
      duration:
        description: The duration of the email event.
        type:
          - "null"
          - integer
      emailCampaignId:
        description: The ID of the email campaign associated with the event.
        type:
          - "null"
          - integer
      emailCampaignGroupId:
        description: The group ID of the email campaign associated with the event.
        type:
          - "null"
          - integer
      filteredEvent:
        description: Indicates if the event is filtered.
        type:
          - "null"
          - boolean
      from:
        description: The sender of the email.
        type:
          - "null"
          - string
      hmid:
        description: The HubSpot Marketing ID.
        type:
          - "null"
          - string
      id:
        description: The unique identifier of the email event.
        type:
          - "null"
          - string
      ipAddress:
        description: The IP address of the recipient.
        type:
          - "null"
          - string
      linkId:
        description: The ID of the link in the email.
        type:
          - "null"
          - integer
      location:
        description: Details about the geographical location associated with the email event.
        type:
          - "null"
          - object
        properties:
          city:
            description: The city of the recipient's location.
            type:
              - "null"
              - string
          country:
            description: The country of the recipient's location.
            type:
              - "null"
              - string
          latitude:
            description: The latitude coordinate of the recipient's location.
            type:
              - "null"
              - number
          longitude:
            description: The longitude coordinate of the recipient's location.
            type:
              - "null"
              - number
          state:
            description: The state of the recipient's location.
            type:
              - "null"
              - string
          zipcode:
            description: The zipcode of the recipient's location.
            type:
              - "null"
              - string
      obsoletedBy:
        description: Information about any email event that this event has made obsolete.
        type:
          - "null"
          - object
        properties:
          created:
            description: The timestamp of when the event was obsoleted.
            type:
              - "null"
              - integer
          id:
            description: The ID of the event that obsoleted this event.
            type:
              - "null"
              - string
      portalId:
        description: The ID of the HubSpot portal.
        type:
          - "null"
          - integer
      portalSubscriptionStatus:
        description: The subscription status of the portal.
        type:
          - "null"
          - string
      recipient:
        description: The recipient of the email.
        type:
          - "null"
          - string
      referer:
        description: The referer URL of the email.
        type:
          - "null"
          - string
      replyTo:
        description: The email address to which replies should be directed.
        type:
          - "null"
          - array
        items:
          description: The email address for replying to the email.
          type:
            - "null"
            - string
      requestedBy:
        description: The entity that requested the email event.
        type:
          - "null"
          - string
      requestedByUserId:
        description: The ID of the user who requested the email event.
        type:
          - "null"
          - integer
      response:
        description: The response code related to the email event.
        type:
          - "null"
          - string
      sentBy:
        description: Details about the entity that sent the email event.
        type:
          - "null"
          - object
        properties:
          created:
            description: The timestamp of when the email was sent.
            type:
              - "null"
              - integer
          id:
            description: The ID of the sender of the email.
            type:
              - "null"
              - string
      smtpId:
        description: The SMTP ID associated with email event.
        type:
          - "null"
          - string
      source:
        description: The source of the email event.
        type:
          - "null"
          - string
      sourceId:
        description: The unique identifier of the email event source.
        type:
          - "null"
          - string
      subscriptions:
        description: Information about the subscriptions associated with the email event.
        type:
          - "null"
          - array
        items:
          description: Details about a specific subscription.
          type:
            - "null"
            - object
          properties:
            id:
              description: The ID of the subscription.
              type:
                - "null"
                - integer
            legalBasisChange:
              description: Information about any changes in legal basis related to the subscription.
              type:
                - "null"
                - object
              properties:
                legalBasisExplanation:
                  description: Explanation for legal basis change.
                  type:
                    - "null"
                    - string
                legalBasisType:
                  description: The type of legal basis for subscription change.
                  type:
                    - "null"
                    - string
                optState:
                  description: The state of opt-in.
                  type:
                    - "null"
                    - string
            status:
              description: The status of the subscription.
              type:
                - "null"
                - string
      status:
        description: The status of the email event.
        type:
          - "null"
          - string
      subject:
        description: The subject of the email.
        type:
          - "null"
          - string
      type:
        description: The type of email event.
        type:
          - "null"
          - string
      url:
        description: The URL associated with the email event.
        type:
          - "null"
          - string
      userAgent:
        description: The user agent of the recipient.
        type:
          - "null"
          - string
