version: 6.44.0

type: DeclarativeSource

check:
  type: CheckStream
  # We need to use Contacts stream once it is migrated
  stream_names:
    - marketing_emails

definitions:
  # Authenticator Definitions
  api_token_auth:
    type: BearerAuthenticator
    api_token: "{{ config['credentials']['access_token'] }}"

  oauth_auth:
    type: OAuthAuthenticator
    client_id: "{{ config['credentials']['client_id'] }}"
    client_secret: "{{ config['credentials']['client_secret'] }}"
    refresh_token: "{{ config['credentials']['refresh_token'] }}"
    token_refresh_endpoint: "https://api.hubapi.com/oauth/v1/token"

  authenticator:
    type: SelectiveAuthenticator
    authenticator_selection_path: ["credentials", "credentials_title"]
    authenticators:
      OAuth Credentials: "#/definitions/oauth_auth"
      Private App Credentials: "#/definitions/api_token_auth"

  base_requester:
    type: HttpRequester
    url_base: "https://api.hubapi.com"
    authenticator:
      $ref: "#/definitions/authenticator"
    http_method: GET
    request_headers:
      Content-Type: application/json
      User-Agent: Airbyte
    error_handler:
      $ref: "#/definitions/base_error_handler"

  base_error_handler:
    type: DefaultErrorHandler
    backoff_strategies:
      - type: WaitTimeFromHeader
        header: Retry-After
      # HubSpot API does not always return Retry-After value for 429 HTTP error
      - type: ExponentialBackoffStrategy
    response_filters:
      - type: HttpResponseFilter
        action: RETRY
        http_codes:
          - 429
        error_message: >-
          HubSpot rate limit reached (429). Backoff based on 'Retry-After' header, then exponential backoff fallback.
      - type: HttpResponseFilter
        action: RETRY
        http_codes:
          - 502
          - 503
        error_message: >-
          HubSpot server error (5xx). Retrying with exponential backoff...
      - type: HttpResponseFilter
        action: FAIL
        http_codes:
          - 401
          - 530
        error_message: >-
          The user cannot be authorized with provided credentials. Please verify that your credentials are valid and try again.
      - type: HttpResponseFilter
        action: FAIL
        http_codes:
          - 403
        error_message: >-
          Access denied (403). The authenticated user does not have permissions to access the resource. Verify your permissions to access this endpoint.
      - type: HttpResponseFilter
        action: FAIL
        http_codes:
          - 400
        error_message: >-
          Bad request (400). Please verify your credentials and try again.

  offset_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: offset
    page_size_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: limit
    pagination_strategy:
      type: OffsetIncrement
      page_size: 100

  cursor_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: after
    page_size_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: limit
    pagination_strategy:
      type: CursorPagination
      page_size: 100
      cursor_value: "{{ response.get('paging', {}).get('next', {}).get('after') }}"

  base_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - results

  base_retriever:
    type: SimpleRetriever
    requester:
      $ref: "#/definitions/base_requester"
    record_selector:
      $ref: "#/definitions/base_selector"
    paginator:
      $ref: "#/definitions/offset_paginator"
    decoder:
      type: JsonDecoder

  incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: updatedAt
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ format_datetime(config.get('start_date', '2006-06-01T00:00:00.000Z'), '%Y-%m-%dT%H:%M:%S.%fZ') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
    datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
    lookback_window: P{{ config.get('lookback_window', 0) }}D
    cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S.%fZ"
      - "%Y-%m-%dT%H:%M:%S.%f%z"
      - "%Y-%m-%dT%H:%M:%SZ"

  retriever_without_pagination:
    type: SimpleRetriever
    requester:
      $ref: "#/definitions/base_requester"
    record_selector:
      $ref: "#/definitions/base_selector"
    decoder:
      type: JsonDecoder

  stream_base:
    type: DeclarativeStream
    primary_key:
      - id
    retriever:
      $ref: "#/definitions/base_retriever"

  stream_without_pagination:
    $ref: "#/definitions/stream_base"
    retriever:
      $ref: "#/definitions/retriever_without_pagination"

  # Stream Definitions
  marketing_emails_stream:
    $ref: "#/definitions/stream_base"
    name: marketing_emails
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /marketing-emails/v1/emails/with-statistics
      paginator:
        $ref: "#/definitions/offset_paginator"
        pagination_strategy:
          type: OffsetIncrement
          page_size: 250
      record_selector:
        extractor:
          type: DpathExtractor
          field_path:
            - objects
        record_filter:
          type: RecordFilter
          condition: "{{ record['updated'] | int > format_datetime(config.get('start_date', '2006-06-01T00:00:00Z'), '%ms') | int }}"
    transformations:
      - type: AddFields
        fields:
          - path: ["rootMicId"]
            value: "{{ record['rootMicId'] | string if record.get('rootMicId') is not none else none }}"
            value_type: string
        condition: "{{ record.get('rootMicId') is not none and record.get('rootMicId') is not string }}"
      - type: AddFields
        fields:
          - path: ["updated"]
            value: "{{ record.get('updated') or record['created'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/marketing_emails"

  email_subscriptions_stream:
    $ref: "#/definitions/stream_without_pagination"
    name: email_subscriptions
    retriever:
      $ref: "#/definitions/retriever_without_pagination"
      requester:
        $ref: "#/definitions/base_requester"
        path: /email/public/v1/subscriptions
      record_selector:
        extractor:
          type: DpathExtractor
          field_path:
            - subscriptionDefinitions
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/email_subscriptions"

  deals_full_refresh_stream:
    primary_key:
      - id
    $ref: "#/definitions/stream_base"
    name: deals
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /crm/v3/objects/deals
        request_parameters:
          associations: "['contacts', 'companies', 'line_items']"
          properties:
            type: QueryProperties
            property_list:
              type: PropertiesFromEndpoint
              property_field_path:
                - name
              retriever:
                type: SimpleRetriever
                requester:
                  $ref: "#/definitions/base_requester"
                  path: /properties/v2/deal/properties
                decoder:
                  type: JsonDecoder
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: [ ]
            property_chunking:
              type: PropertyChunking
              property_limit_type: characters
              property_limit: 15000
              record_merge_strategy:
                type: GroupByKeyMergeStrategy
                key: id
      paginator:
        $ref: "#/definitions/cursor_paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
    transformations:
      - type: AddFields
        fields:
          - path: [ "updatedAt" ]
            value: "{{ record.get('updatedAt') or record['createdAt'] }}"
      - type: CustomTransformation
        class_name: source_hubspot.components.NewtoLegacyFieldTransformation
        field_mapping:
          hs_date_entered_: "hs_v2_date_entered_"
          hs_date_exited_: "hs_v2_date_exited_"
          hs_time_in_: "hs_v2_latest_time_in_"
      - type: DpathFlattenFields
        field_path: [ "properties" ]
        key_transformation:
          type: KeyTransformation
          prefix: properties_
    incremental_sync:
      $ref: "#/definitions/incremental_sync"
      cursor_field: updatedAt
      is_client_side_incremental: true
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/deals"

  deals_incremental_stream:
    primary_key:
      - id
    $ref: "#/definitions/stream_base"
    name: deals
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /crm/v3/objects/deal/search
        http_method: POST
        fetch_properties_from_endpoint:
          type: PropertiesFromEndpoint
          property_field_path:
            - name
          retriever:
            type: SimpleRetriever
            requester:
              $ref: "#/definitions/base_requester"
              path: /properties/v2/deal/properties
            decoder:
              type: JsonDecoder
            record_selector:
              type: RecordSelector
              extractor:
                type: DpathExtractor
                field_path: [ ]
        request_body_json:
          limit: 10
          sorts:
            - propertyName: hs_object_id
              direction: ASCENDING
          filters:
            - propertyName: hs_lastmodifieddate
              operator: GTE
              value: "{{ format_datetime(stream_interval.start_time, '%ms') }}"
            - propertyName: hs_lastmodifieddate
              operator: LTE
              value: "{{ format_datetime(stream_interval.end_time, '%ms') }}"
            - propertyName: hs_object_id
              operator: GTE
              value: "{{ next_page_token['next_page_token'].get('id', 0) }}"
          properties: "{{ stream_slice.extra_fields['query_properties'] }}"
          after: "{{ next_page_token['next_page_token']['after'] }}"
        request_parameters:
          archived: "false"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CustomPaginationStrategy
          class_name: source_hubspot.components.HubspotCRMSearchPaginationStrategy
          page_size: 10
      record_selector:
        type: RecordSelector
        extractor:
          type: CustomRecordExtractor
          class_name: source_hubspot.components.HubspotAssociationsExtractor
          field_path:
            - results
          entity_primary_key: deal
    transformations:
      - type: CustomTransformation
        class_name: source_hubspot.components.NewtoLegacyFieldTransformation
        field_mapping:
          hs_date_entered_: "hs_v2_date_entered_"
          hs_date_exited_: "hs_v2_date_exited_"
          hs_time_in_: "hs_v2_latest_time_in_"
      - type: DpathFlattenFields
        field_path: [ "properties" ]
        key_transformation:
          type: KeyTransformation
          prefix: properties_
    incremental_sync:
      $ref: "#/definitions/incremental_sync"
      cursor_field: updatedAt
      is_client_side_incremental: true
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/deals"

  deals_stream:
    type: StateDelegatingStream
    name: deals
    full_refresh_stream: "#/definitions/deals_full_refresh_stream"
    incremental_stream: "#/definitions/deals_incremental_stream"

streams:
  - "#/definitions/marketing_emails_stream"
  - "#/definitions/email_subscriptions_stream"
  - "#/definitions/deals_stream"

# HubSpot account is limited to 110 requests every 10 seconds https://developers.hubspot.com/docs/guides/apps/api-usage/usage-details#rate-limits
concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: "{{ config.get('num_workers', 3) }}"
  max_concurrency: 40

schemas:
  deals:
    $schema: http://json-schema.org/schema#
    type:
    - 'null'
    - object
    additionalProperties: true
    properties:
      id:
        description: Unique identifier for the deal
        type:
        - 'null'
        - string
      properties:
        description: Deal properties
        type:
        - 'null'
        - object
        properties:
          amount:
            description: Total amount of the deal
            type:
            - 'null'
            - string
          amount_in_home_currency:
            description: Amount of the deal in home currency
            type:
            - 'null'
            - string
          closed_lost_reason:
            description: Reason for closing the deal as lost
            type:
            - 'null'
            - string
          closed_won_reason:
            description: Reason for closing the deal as won
            type:
            - 'null'
            - string
          closedate:
            description: Date when the deal was closed
            type:
            - 'null'
            - string
            format: date-time
          createdate:
            description: Date when the deal was created
            type:
            - 'null'
            - string
            format: date-time
          days_to_close:
            description: Number of days taken to close the deal
            type:
            - 'null'
            - string
          dealname:
            description: Name of the deal
            type:
            - 'null'
            - string
          dealstage:
            description: Current stage of the deal
            type:
            - 'null'
            - string
          dealtype:
            description: Type of the deal
            type:
            - 'null'
            - string
          description:
            description: Description of the deal
            type:
            - 'null'
            - string
          engagements_last_meeting_booked:
            description: Last meeting booked engagement
            type:
            - 'null'
            - string
          engagements_last_meeting_booked_campaign:
            description: Campaign of the last booked meeting
            type:
            - 'null'
            - string
          engagements_last_meeting_booked_medium:
            description: Medium of the last booked meeting
            type:
            - 'null'
            - string
          engagements_last_meeting_booked_source:
            description: Source of the last booked meeting
            type:
            - 'null'
            - string
          hs_acv:
            description: Annual Contract Value of the deal
            type:
            - 'null'
            - string
          hs_all_accessible_team_ids:
            description: All team IDs with accessibility
            type:
            - 'null'
            - string
          hs_all_assigned_business_unit_ids:
            description: All business unit IDs assigned
            type:
            - 'null'
            - string
          hs_all_owner_ids:
            description: All owner IDs
            type:
            - 'null'
            - string
          hs_all_team_ids:
            description: All team IDs
            type:
            - 'null'
            - string
          hs_analytics_source:
            description: Analytics source of the deal
            type:
            - 'null'
            - string
          hs_analytics_source_data_1:
            description: Additional analytics data 1
            type:
            - 'null'
            - string
          hs_analytics_source_data_2:
            description: Additional analytics data 2
            type:
            - 'null'
            - string
          hs_arr:
            description: Annual Run Rate of the deal
            type:
            - 'null'
            - string
          hs_closed_amount:
            description: Amount at which the deal was closed
            type:
            - 'null'
            - string
          hs_closed_amount_in_home_currency:
            description: Closed amount in home currency
            type:
            - 'null'
            - string
          hs_created_by_user_id:
            description: User ID who created the deal
            type:
            - 'null'
            - string
          hs_createdate:
            description: Creation date of the deal
            type:
            - 'null'
            - string
            format: date-time
          hs_date_entered_9567448:
            description: Date when the deal was entered into the system
            type:
            - 'null'
            - string
          hs_date_entered_9567449:
            description: Another date when the deal was entered
            type:
            - 'null'
            - string
          hs_date_entered_appointmentscheduled:
            description: Date when appointment was scheduled
            type:
            - 'null'
            - string
            format: date-time
          hs_date_entered_closedlost:
            description: Date when deal was marked as closed lost
            type:
            - 'null'
            - string
            format: date-time
          hs_date_entered_closedwon:
            description: Date when deal was marked as closed won
            type:
            - 'null'
            - string
            format: date-time
          hs_date_entered_contractsent:
            description: Date when contract was sent
            type:
            - 'null'
            - string
            format: date-time
          hs_date_entered_customclosedwonstage:
            description: Date entered custom closed won stage
            type:
            - 'null'
            - string
            format: date-time
          hs_date_entered_decisionmakerboughtin:
            description: Date decision maker bought in
            type:
            - 'null'
            - string
            format: date-time
          hs_date_entered_presentationscheduled:
            description: Date when presentation was scheduled
            type:
            - 'null'
            - string
            format: date-time
          hs_date_entered_qualifiedtobuy:
            description: Date when qualified to buy
            type:
            - 'null'
            - string
            format: date-time
          hs_date_exited_9567448:
            description: Date when the deal exited the system
            type:
            - 'null'
            - string
          hs_date_exited_9567449:
            description: Another date when the deal exited
            type:
            - 'null'
            - string
          hs_date_exited_appointmentscheduled:
            description: Date when appointment was exited
            type:
            - 'null'
            - string
            format: date-time
          hs_date_exited_closedlost:
            description: Date when deal was exited as closed lost
            type:
            - 'null'
            - string
            format: date-time
          hs_date_exited_closedwon:
            description: Date when deal was exited as closed won
            type:
            - 'null'
            - string
            format: date-time
          hs_date_exited_contractsent:
            description: Date when contract was exited
            type:
            - 'null'
            - string
            format: date-time
          hs_date_exited_customclosedwonstage:
            description: Date exited from custom closed won stage
            type:
            - 'null'
            - string
            format: date-time
          hs_date_exited_decisionmakerboughtin:
            description: Date decision maker bought in exited
            type:
            - 'null'
            - string
            format: date-time
          hs_date_exited_presentationscheduled:
            description: Date when presentation was exited
            type:
            - 'null'
            - string
            format: date-time
          hs_date_exited_qualifiedtobuy:
            description: Date when qualified to buy exited
            type:
            - 'null'
            - string
            format: date-time
          hs_deal_amount_calculation_preference:
            description: Deal amount calculation preference
            type:
            - 'null'
            - string
          hs_deal_stage_probability:
            description: Probability of current deal stage
            type:
            - 'null'
            - string
          hs_deal_stage_probability_shadow:
            description: Shadow probability of deal stage
            type:
            - 'null'
            - string
          hs_forecast_amount:
            description: Forecasted amount of the deal
            type:
            - 'null'
            - string
          hs_forecast_probability:
            description: Forecasted probability of the deal
            type:
            - 'null'
            - string
          hs_is_closed:
            description: Indicates if the deal is closed
            type:
            - 'null'
            - boolean
          hs_is_closed_won:
            description: Indicates if the deal is closed as won
            type:
            - 'null'
            - boolean
          hs_lastmodifieddate:
            description: Last modified date of the deal
            type:
            - 'null'
            - string
            format: date-time
          hs_latest_meeting_activity:
            description: Latest meeting activity associated
            type:
            - 'null'
            - string
          hs_likelihood_to_close:
            description: Likelihood of closing the deal
            type:
            - 'null'
            - string
          hs_line_item_global_term_hs_discount_percentage:
            description: Discount percentage for line items
            type:
            - 'null'
            - string
          hs_line_item_global_term_hs_discount_percentage_enabled:
            description: Indicates if discount percentage is enabled for line items
            type:
            - 'null'
            - boolean
          hs_line_item_global_term_hs_recurring_billing_period:
            description: Recurring billing period for line items
            type:
            - 'null'
            - string
          hs_line_item_global_term_hs_recurring_billing_period_enabled:
            description: Indicates if recurring billing period is enabled for line
              items
            type:
            - 'null'
            - boolean
          hs_line_item_global_term_hs_recurring_billing_start_date:
            description: Start date for recurring billing of line items
            type:
            - 'null'
            - string
          hs_line_item_global_term_hs_recurring_billing_start_date_enabled:
            description: Indicates if start date for recurring billing is enabled
              for line items
            type:
            - 'null'
            - boolean
          hs_line_item_global_term_recurringbillingfrequency:
            description: Recurring billing frequency for line items
            type:
            - 'null'
            - string
          hs_line_item_global_term_recurringbillingfrequency_enabled:
            description: Indicates if recurring billing frequency is enabled for line
              items
            type:
            - 'null'
            - boolean
          hs_manual_forecast_category:
            description: Manual forecast category of the deal
            type:
            - 'null'
            - string
          hs_merged_object_ids:
            description: IDs of merged objects
            type:
            - 'null'
            - string
          hs_mrr:
            description: Monthly Recurring Revenue of the deal
            type:
            - 'null'
            - string
          hs_next_step:
            description: Next step planned for the deal
            type:
            - 'null'
            - string
          hs_num_target_accounts:
            description: Number of target accounts
            type:
            - 'null'
            - string
          hs_object_id:
            description: Object ID of the deal
            type:
            - 'null'
            - string
          hs_predicted_amount:
            description: Predicted amount of the deal
            type:
            - 'null'
            - string
          hs_predicted_amount_in_home_currency:
            description: Predicted amount in home currency
            type:
            - 'null'
            - string
          hs_priority:
            description: Priority level of the deal
            type:
            - 'null'
            - string
          hs_projected_amount:
            description: Projected amount of the deal
            type:
            - 'null'
            - string
          hs_projected_amount_in_home_currency:
            description: Projected amount in home currency
            type:
            - 'null'
            - string
          hs_sales_email_last_replied:
            description: Last replied email in sales
            type:
            - 'null'
            - string
          hs_tcv:
            description: Total Contract Value of the deal
            type:
            - 'null'
            - string
          hs_unique_creation_key:
            description: Unique key for creation
            type:
            - 'null'
            - string
          hs_updated_by_user_id:
            description: User ID who last updated the deal
            type:
            - 'null'
            - string
          hs_user_ids_of_all_notification_followers:
            description: User IDs of all notification followers
            type:
            - 'null'
            - string
          hs_user_ids_of_all_notification_unfollowers:
            description: User IDs of all notification unfollowers
            type:
            - 'null'
            - string
          hs_user_ids_of_all_owners:
            description: User IDs of all owners
            type:
            - 'null'
            - string
          hubspot_owner_assigneddate:
            description: Date when the owner was assigned to the deal
            type:
            - 'null'
            - string
            format: date-time
          hubspot_owner_id:
            description: Owner ID of the deal
            type:
            - 'null'
            - string
          hubspot_team_id:
            description: Team ID of the deal
            type:
            - 'null'
            - string
          notes_last_contacted:
            description: Last contact date for notes
            type:
            - 'null'
            - string
          notes_last_updated:
            description: Last updated date for notes
            type:
            - 'null'
            - string
          notes_next_activity_date:
            description: Next activity date for notes
            type:
            - 'null'
            - string
          num_associated_contacts:
            description: Number of associated contacts with the deal
            type:
            - 'null'
            - string
          num_contacted_notes:
            description: Number of contacted notes
            type:
            - 'null'
            - string
          num_notes:
            description: Total number of notes
            type:
            - 'null'
            - string
          pipeline:
            description: Pipeline the deal belongs to
            type:
            - 'null'
            - string
      properties_amount:
        description: Total amount of the deal
        type:
        - 'null'
        - string
      properties_amount_in_home_currency:
        description: Total amount of the deal in home currency
        type:
        - 'null'
        - string
      properties_closed_lost_reason:
        description: Reason for closing the deal as lost
        type:
        - 'null'
        - string
      properties_closed_won_reason:
        description: Reason for closing the deal as won
        type:
        - 'null'
        - string
      properties_closedate:
        description: Date when the deal was closed
        type:
        - 'null'
        - string
        format: date-time
      properties_createdate:
        description: Date when the deal was created
        type:
        - 'null'
        - string
        format: date-time
      properties_days_to_close:
        description: Number of days taken to close the deal
        type:
        - 'null'
        - string
      properties_dealname:
        description: Name or title of the deal
        type:
        - 'null'
        - string
      properties_dealstage:
        description: Current stage of the deal
        type:
        - 'null'
        - string
      properties_dealtype:
        description: Type or category of the deal
        type:
        - 'null'
        - string
      properties_description:
        description: Description of the deal
        type:
        - 'null'
        - string
      properties_engagements_last_meeting_booked:
        description: Information about the last meeting booked for engagement
        type:
        - 'null'
        - string
      properties_engagements_last_meeting_booked_campaign:
        description: Campaign related to the last booked meeting
        type:
        - 'null'
        - string
      properties_engagements_last_meeting_booked_medium:
        description: Medium used for the last booked meeting
        type:
        - 'null'
        - string
      properties_engagements_last_meeting_booked_source:
        description: Source of the last booked meeting
        type:
        - 'null'
        - string
      properties_hs_acv:
        description: Annual Contract Value for the deal
        type:
        - 'null'
        - string
      properties_hs_all_accessible_team_ids:
        description: IDs of all teams with access to the deal
        type:
        - 'null'
        - string
      properties_hs_all_assigned_business_unit_ids:
        description: IDs of all assigned business units for the deal
        type:
        - 'null'
        - string
      properties_hs_all_owner_ids:
        description: IDs of all owners of the deal
        type:
        - 'null'
        - string
      properties_hs_all_team_ids:
        description: IDs of all teams associated with the deal
        type:
        - 'null'
        - string
      properties_hs_analytics_source:
        description: Analytics source for the deal
        type:
        - 'null'
        - string
      properties_hs_analytics_source_data_1:
        description: Additional analytics data for the deal
        type:
        - 'null'
        - string
      properties_hs_analytics_source_data_2:
        description: More analytics data for the deal
        type:
        - 'null'
        - string
      properties_hs_arr:
        description: ARR (Annual Recurring Revenue) for the deal
        type:
        - 'null'
        - string
      properties_hs_closed_amount:
        description: Amount closed for the deal
        type:
        - 'null'
        - string
      properties_hs_closed_amount_in_home_currency:
        description: Amount closed for the deal in home currency
        type:
        - 'null'
        - string
      properties_hs_created_by_user_id:
        description: User ID who created the deal
        type:
        - 'null'
        - string
      properties_hs_createdate:
        description: Creation date of the deal
        type:
        - 'null'
        - string
        format: date-time
      properties_hs_date_entered_9567448:
        description: Date when the deal was created
        type:
        - 'null'
        - string
      properties_hs_date_entered_9567449:
        description: Another date when the deal was created
        type:
        - 'null'
        - string
      properties_hs_date_entered_appointmentscheduled:
        description: Date when appointment was scheduled
        type:
        - 'null'
        - string
        format: date-time
      properties_hs_date_entered_closedlost:
        description: Date when deal was marked as closed lost
        type:
        - 'null'
        - string
        format: date-time
      properties_hs_date_entered_closedwon:
        description: Date when deal was marked as closed won
        type:
        - 'null'
        - string
        format: date-time
      properties_hs_date_entered_contractsent:
        description: Date when contract was sent
        type:
        - 'null'
        - string
        format: date-time
      properties_hs_date_entered_customclosedwonstage:
        description: Date entered custom closed won stage
        type:
        - 'null'
        - string
        format: date-time
      properties_hs_date_entered_decisionmakerboughtin:
        description: Date decision maker bought in
        type:
        - 'null'
        - string
        format: date-time
      properties_hs_date_entered_presentationscheduled:
        description: Date when presentation was scheduled
        type:
        - 'null'
        - string
        format: date-time
      properties_hs_date_entered_qualifiedtobuy:
        description: Date when qualified to buy
        type:
        - 'null'
        - string
        format: date-time
      properties_hs_date_exited_9567448:
        description: Date when the deal was exited
        type:
        - 'null'
        - string
      properties_hs_date_exited_9567449:
        description: Another date when the deal was exited
        type:
        - 'null'
        - string
      properties_hs_date_exited_appointmentscheduled:
        description: Date when appointment was exited
        type:
        - 'null'
        - string
        format: date-time
      properties_hs_date_exited_closedlost:
        description: Date when deal was exited as closed lost
        type:
        - 'null'
        - string
        format: date-time
      properties_hs_date_exited_closedwon:
        description: Date when deal was exited as closed won
        type:
        - 'null'
        - string
        format: date-time
      properties_hs_date_exited_contractsent:
        description: Date when contract was exited
        type:
        - 'null'
        - string
        format: date-time
      properties_hs_date_exited_customclosedwonstage:
        description: Date exited from custom closed won stage
        type:
        - 'null'
        - string
        format: date-time
      properties_hs_date_exited_decisionmakerboughtin:
        description: Date decision maker bought in exited
        type:
        - 'null'
        - string
        format: date-time
      properties_hs_date_exited_presentationscheduled:
        description: Date when presentation was exited
        type:
        - 'null'
        - string
        format: date-time
      properties_hs_date_exited_qualifiedtobuy:
        description: Date when qualified to buy exited
        type:
        - 'null'
        - string
        format: date-time
      properties_hs_deal_amount_calculation_preference:
        description: Calculation preference for deal amount
        type:
        - 'null'
        - string
      properties_hs_deal_stage_probability:
        description: Probability of winning the deal at current stage
        type:
        - 'null'
        - string
      properties_hs_deal_stage_probability_shadow:
        description: Shadow probability of winning the deal at current stage
        type:
        - 'null'
        - string
      properties_hs_forecast_amount:
        description: Forecasted amount for the deal
        type:
        - 'null'
        - string
      properties_hs_forecast_probability:
        description: Forecasted probability of closing the deal
        type:
        - 'null'
        - string
      properties_hs_is_closed:
        description: Flag indicating if the deal is closed
        type:
        - 'null'
        - boolean
      properties_hs_is_closed_won:
        description: Flag indicating if the deal is closed and won
        type:
        - 'null'
        - boolean
      properties_hs_lastmodifieddate:
        description: Last modified date of the deal
        type:
        - 'null'
        - string
        format: date-time
      properties_hs_latest_meeting_activity:
        description: Information about the latest meeting activity related to the
          deal
        type:
        - 'null'
        - string
      properties_hs_likelihood_to_close:
        description: Likelihood of closing the deal
        type:
        - 'null'
        - string
      properties_hs_line_item_global_term_hs_discount_percentage:
        description: Global discount percentage for line items
        type:
        - 'null'
        - string
      properties_hs_line_item_global_term_hs_discount_percentage_enabled:
        description: Flag indicating if global discount percentage for line items
          is enabled
        type:
        - 'null'
        - boolean
      properties_hs_line_item_global_term_hs_recurring_billing_period:
        description: Recurring billing period for line items
        type:
        - 'null'
        - string
      properties_hs_line_item_global_term_hs_recurring_billing_period_enabled:
        description: Flag indicating if recurring billing period for line items is
          enabled
        type:
        - 'null'
        - boolean
      properties_hs_line_item_global_term_hs_recurring_billing_start_date:
        description: Start date for recurring billing of line items
        type:
        - 'null'
        - string
      properties_hs_line_item_global_term_hs_recurring_billing_start_date_enabled:
        description: Flag indicating if recurring billing start date for line items
          is enabled
        type:
        - 'null'
        - boolean
      properties_hs_line_item_global_term_recurringbillingfrequency:
        description: Recurring billing frequency for line items
        type:
        - 'null'
        - string
      properties_hs_line_item_global_term_recurringbillingfrequency_enabled:
        description: Flag indicating if recurring billing frequency for line items
          is enabled
        type:
        - 'null'
        - boolean
      properties_hs_manual_forecast_category:
        description: Manual forecast category for the deal
        type:
        - 'null'
        - string
      properties_hs_merged_object_ids:
        description: IDs of merged objects related to the deal
        type:
        - 'null'
        - string
      properties_hs_mrr:
        description: MRR (Monthly Recurring Revenue) for the deal
        type:
        - 'null'
        - string
      properties_hs_next_step:
        description: Next step planned for the deal
        type:
        - 'null'
        - string
      properties_hs_num_target_accounts:
        description: Number of target accounts associated with the deal
        type:
        - 'null'
        - string
      properties_hs_object_id:
        description: Unique object ID for the deal
        type:
        - 'null'
        - string
      properties_hs_predicted_amount:
        description: Predicted amount for the deal
        type:
        - 'null'
        - string
      properties_hs_predicted_amount_in_home_currency:
        description: Predicted amount for the deal in home currency
        type:
        - 'null'
        - string
      properties_hs_priority:
        description: Priority level assigned to the deal
        type:
        - 'null'
        - string
      properties_hs_projected_amount:
        description: Projected amount for the deal
        type:
        - 'null'
        - string
      properties_hs_projected_amount_in_home_currency:
        description: Projected amount for the deal in home currency
        type:
        - 'null'
        - string
      properties_hs_sales_email_last_replied:
        description: Last date the sales email was replied to
        type:
        - 'null'
        - string
      properties_hs_tcv:
        description: Total Contract Value for the deal
        type:
        - 'null'
        - string
      properties_hs_unique_creation_key:
        description: Unique key for creation of the deal
        type:
        - 'null'
        - string
      properties_hs_updated_by_user_id:
        description: User ID who last updated the deal
        type:
        - 'null'
        - string
      properties_hs_user_ids_of_all_notification_followers:
        description: User IDs of all notification followers for the deal
        type:
        - 'null'
        - string
      properties_hs_user_ids_of_all_notification_unfollowers:
        description: User IDs of all notification unfollowers for the deal
        type:
        - 'null'
        - string
      properties_hs_user_ids_of_all_owners:
        description: User IDs of all owners of the deal
        type:
        - 'null'
        - string
      properties_hubspot_owner_assigneddate:
        description: Date when the owner was assigned to the deal
        type:
        - 'null'
        - string
        format: date-time
      properties_hubspot_owner_id:
        description: Owner ID of the deal in HubSpot
        type:
        - 'null'
        - string
      properties_hubspot_team_id:
        description: Team ID associated with the deal in HubSpot
        type:
        - 'null'
        - string
      properties_notes_last_contacted:
        description: Date when the last contact was made
        type:
        - 'null'
        - string
      properties_notes_last_updated:
        description: Date when the notes were last updated
        type:
        - 'null'
        - string
      properties_notes_next_activity_date:
        description: Next planned activity date from notes
        type:
        - 'null'
        - string
      properties_num_associated_contacts:
        description: Number of contacts associated with the deal
        type:
        - 'null'
        - string
      properties_num_contacted_notes:
        description: Number of notes related to contacted activities
        type:
        - 'null'
        - string
      properties_num_notes:
        description: Total number of notes attached to the deal
        type:
        - 'null'
        - string
      properties_pipeline:
        description: Pipeline information the deal belongs to
        type:
        - 'null'
        - string
      createdAt:
        description: The date and time when the deal was created
        type:
        - 'null'
        - string
        format: date-time
      updatedAt:
        description: The date and time when the deal was last updated
        type:
        - 'null'
        - string
        format: date-time
      archived:
        description: Indicates if the deal is archived
        type:
        - 'null'
        - boolean
      companies:
        description: Information about companies associated with the deal
        type:
        - 'null'
        - array
        items:
          type:
          - 'null'
          - string
      contacts:
        description: Information about contacts associated with the deal
        type:
        - 'null'
        - array
        items:
          type:
          - 'null'
          - string
      line_items:
        description: Details of line items associated with the deal
        type:
        - 'null'
        - array
        items:
          type:
          - 'null'
          - string

  email_subscriptions:
    $schema: http://json-schema.org/draft-07/schema#
    type:
      - "null"
      - object
    additionalProperties: true
    properties:
      active:
        description: Indicates whether the subscription is currently active or not
        type:
          - "null"
          - boolean
      portalId:
        description: The unique identifier for the portal associated with the subscription
        type:
          - "null"
          - integer
      description:
        description: Additional information or details about the subscription
        type:
          - "null"
          - string
      id:
        description: The unique identifier for the subscription
        type:
          - "null"
          - integer
      name:
        description: The display name of the subscription
        type:
          - "null"
          - string
      order:
        description: The order in which the subscription is displayed or processed
        type:
          - "null"
          - integer
      businessUnitId:
        description:
          The unique identifier for the business unit associated with the
          subscription
        type:
          - "null"
          - integer
      internal:
        description: Indicates whether the subscription is for internal use only
        type:
          - "null"
          - boolean
      internalName:
        description: The internal name for the subscription
        type:
          - "null"
          - string
      category:
        description: The category to which the subscription belongs
        type:
          - "null"
          - string
      channel:
        description: The communication channel through which the subscription is managed
        type:
          - "null"
          - string

  marketing_emails:
    $schema: http://json-schema.org/draft-07/schema#
    type:
      - "null"
      - object
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - integer
      ab:
        type:
          - "null"
          - boolean
      abHoursToWait:
        type:
          - "null"
          - integer
      abSampleSizeDefault:
        type:
          - "null"
          - string
      abSamplingDefault:
        type:
          - "null"
          - string
      abStatus:
        type:
          - "null"
          - string
      abSuccessMetric:
        type:
          - "null"
          - string
      abTestPercentage:
        type:
          - "null"
          - integer
      abVariation:
        type:
          - "null"
          - boolean
      absoluteUrl:
        type:
          - "null"
          - string
      aifeatures:
        type:
          - "null"
          - object
      allEmailCampaignIds:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      analyticsPageId:
        type:
          - "null"
          - string
      analyticsPageType:
        type:
          - "null"
          - string
      archived:
        type:
          - "null"
          - boolean
      authorAt:
        type:
          - "null"
          - integer
      authorName:
        type:
          - "null"
          - string
      authorUserId:
        type:
          - "null"
          - integer
      blogEmailType:
        type:
          - "null"
          - string
      campaign:
        type:
          - "null"
          - string
      campaignName:
        type:
          - "null"
          - string
      canSpamSettingsId:
        type:
          - "null"
          - integer
      categoryId:
        type:
          - "null"
          - integer
      clonedFrom:
        type:
          - "null"
          - integer
      contentTypeCategory:
        type:
          - "null"
          - integer
      createPage:
        type:
          - "null"
          - boolean
      created:
        type:
          - "null"
          - integer
      createdById:
        type:
          - "null"
          - integer
      currentState:
        type:
          - "null"
          - string
      currentlyPublished:
        type:
          - "null"
          - boolean
      customReplyTo:
        type:
          - "null"
          - string
      customReplyToEnabled:
        type:
          - "null"
          - boolean
      domain:
        type:
          - "null"
          - string
      emailBody:
        type:
          - "null"
          - string
      emailNote:
        type:
          - "null"
          - string
      emailTemplateMode:
        type:
          - "null"
          - string
      emailType:
        type:
          - "null"
          - string
      emailbodyPlaintext:
        description: Plain text version of the email body
        type:
          - "null"
          - string
      feedbackEmailCategory:
        description: Category for feedback related to the email
        type:
          - "null"
          - string
      feedbackSurveyId:
        description: ID of the feedback survey linked to the email
        type:
          - "null"
          - integer
      folderId:
        description: ID of the folder where the email is stored
        type:
          - "null"
          - integer
      freezeDate:
        description: Date when the email content was finalized
        type:
          - "null"
          - integer
      fromName:
        description: Name of the sender displayed in the email
        type:
          - "null"
          - string
      htmlTitle:
        description: HTML title of the email
        type:
          - "null"
          - string
      isGraymailSuppressionEnabled:
        description: Flag indicating if graymail suppression is enabled for the email
        type:
          - "null"
          - boolean
      isLocalTimezoneSend:
        description: Flag indicating if the email is sent based on the local timezone
        type:
          - "null"
          - boolean
      isPublished:
        description: Flag indicating if the email is published
        type:
          - "null"
          - boolean
      isRecipientFatigueSuppressionEnabled:
        description: Flag indicating if recipient fatigue suppression is enabled
        type:
          - "null"
          - boolean
      leadFlowId:
        description: ID of the lead flow associated with the email
        type:
          - "null"
          - integer
      liveDomain:
        description: Domain where the live version of the email is hosted
        type:
          - "null"
          - string
      mailingListsExcluded:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      mailingListsIncluded:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      maxRssEntries:
        description: Maximum number of RSS entries to include in the email
        type:
          - "null"
          - integer
      metaDescription:
        description: Meta description of the email content
        type:
          - "null"
          - string
      name:
        description: Name of the email
        type:
          - "null"
          - string
      pageExpiryEnabled:
        description: Flag indicating if page expiry is enabled for the email
        type:
          - "null"
          - boolean
      pageRedirected:
        description: Information about page redirection
        type:
          - "null"
          - boolean
      portalId:
        description: ID of the HubSpot portal associated with the email
        type:
          - "null"
          - integer
      previewKey:
        description: Key used for email preview
        type:
          - "null"
          - string
      primaryEmailCampaignId:
        description: ID of the primary email campaign associated with the email
        type:
          - "null"
          - integer
      processingStatus:
        description: Status of the email processing
        type:
          - "null"
          - string
      publishDate:
        description: Date when the email is scheduled to be published
        type:
          - "null"
          - integer
      publishedById:
        description: ID of the user who published the email
        type:
          - "null"
          - integer
      publishedByName:
        description: Name of the user who published the email
        type:
          - "null"
          - string
      publishImmediately:
        description: Flag indicating if the email should be published immediately
        type:
          - "null"
          - boolean
      publishedUrl:
        description: URL where the published email can be accessed
        type:
          - "null"
          - string
      replyTo:
        description: Email address for replies to the email
        type:
          - "null"
          - string
      resolvedDomain:
        description: Domain resolved for the email
        type:
          - "null"
          - string
      rootMicId:
        description: Root MIC ID associated with the email
        type:
          - "null"
          - string
      selected:
        description: Flag indicating if the email is selected
        type:
          - "null"
          - integer
      slug:
        description: Slug associated with the email
        type:
          - "null"
          - string
      smartEmailFields:
        description: Fields related to smart email features
        type:
          - "null"
          - object
      state:
        description: Current state of the email
        type:
          - "null"
          - string
      stats:
        type:
          - "null"
          - object
        properties:
          counters:
            type:
              - "null"
              - object
            properties:
              sent:
                type:
                  - "null"
                  - integer
              open:
                type:
                  - "null"
                  - integer
              delivered:
                type:
                  - "null"
                  - integer
              bounce:
                type:
                  - "null"
                  - integer
              unsubscribed:
                type:
                  - "null"
                  - integer
              click:
                type:
                  - "null"
                  - integer
              reply:
                type:
                  - "null"
                  - integer
              dropped:
                type:
                  - "null"
                  - integer
              selected:
                type:
                  - "null"
                  - integer
              spamreport:
                type:
                  - "null"
                  - integer
              suppressed:
                type:
                  - "null"
                  - integer
              hardbounced:
                type:
                  - "null"
                  - integer
              softbounced:
                type:
                  - "null"
                  - integer
              pending:
                type:
                  - "null"
                  - integer
              contactslost:
                type:
                  - "null"
                  - integer
              notsent:
                type:
                  - "null"
                  - integer
          deviceBreakdown:
            type:
              - "null"
              - object
            properties:
              open_device_type:
                type:
                  - "null"
                  - object
                properties:
                  computer:
                    type:
                      - "null"
                      - integer
                  mobile:
                    type:
                      - "null"
                      - integer
                  unknown:
                    type:
                      - "null"
                      - integer
              click_device_type:
                type:
                  - "null"
                  - object
                properties:
                  computer:
                    type:
                      - "null"
                      - integer
                  mobile:
                    type:
                      - "null"
                      - integer
                  unknown:
                    type:
                      - "null"
                      - integer
          failedToLoad:
            type:
              - "null"
              - boolean
          qualifierStats:
            type:
              - "null"
              - object
          ratios:
            type:
              - "null"
              - object
            properties:
              clickratio:
                type:
                  - "null"
                  - number
              clickthroughratio:
                type:
                  - "null"
                  - number
              deliveredratio:
                type:
                  - "null"
                  - number
              openratio:
                type:
                  - "null"
                  - number
              replyratio:
                type:
                  - "null"
                  - number
              unsubscribedratio:
                type:
                  - "null"
                  - number
              spamreportratio:
                type:
                  - "null"
                  - number
              bounceratio:
                type:
                  - "null"
                  - number
              hardbounceratio:
                type:
                  - "null"
                  - number
              softbounceratio:
                type:
                  - "null"
                  - number
              contactslostratio:
                type:
                  - "null"
                  - number
              pendingratio:
                type:
                  - "null"
                  - number
              notsentratio:
                type:
                  - "null"
                  - number
      subcategory:
        description: Subcategory to which the email belongs
        type:
          - "null"
          - string
      subject:
        description: Subject line of the email
        type:
          - "null"
          - string
      subscription:
        description: Information about email subscription
        type:
          - "null"
          - integer
      subscriptionName:
        description: Name of the email subscription
        type:
          - "null"
          - string
      templatePath:
        description: Path of the email template
        type:
          - "null"
          - string
      transactional:
        description: Flag indicating if the email is transactional
        type:
          - "null"
          - boolean
      unpublishedAt:
        description: Timestamp when the email was unpublished
        type:
          - "null"
          - integer
      updated:
        description: Timestamp of the last update to the email
        type:
          - "null"
          - integer
      updatedById:
        description: ID of the user who last updated the email
        type:
          - "null"
          - integer
      url:
        description: URL associated with the email
        type:
          - "null"
          - string
      useRssHeadlineAsSubject:
        description: Flag indicating if the RSS headline should be used as the subject
        type:
          - "null"
          - boolean
      vidsExcluded:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      vidsIncluded:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      publishedByEmail:
        description: Email address of the user who published the email
        type:
          - "null"
          - string
      sections:
        description: Sections within the email
        type:
          - "null"
          - object
      author:
        description: Author of the email
        type:
          - "null"
          - string
      isCreatedFomSandboxSync:
        description: Flag indicating if the email was created from a sandbox sync
        type:
          - "null"
          - boolean
      rssEmailUrl:
        description: URL for RSS emails
        type:
          - "null"
          - string
      teamPerms:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      securityState:
        description: Security state of the email
        type:
          - "null"
          - string
      isInstanceLayoutPage:
        description: Flag indicating if the email is a layout page in an instance
        type:
          - "null"
          - boolean
      audienceAccess:
        description: Information about who has access to view the email
        type:
          - "null"
          - string
      campaignUtm:
        description: UTM parameters for campaign tracking
        type:
          - "null"
          - string
      contentAccessRuleTypes:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      pastMabExperimentIds:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      rssEmailClickThroughText:
        description: Text for click-through actions in RSS emails
        type:
          - "null"
          - string
      rssEmailImageMaxWidth:
        description: Maximum width of images in RSS emails
        type:
          - "null"
          - integer
      flexAreas:
        type:
          - "null"
          - object
        properties:
          main:
            type:
              - "null"
              - object
            properties:
              boxed:
                type:
                  - "null"
                  - boolean
              isSingleColumnFullWidth:
                type:
                  - "null"
                  - boolean
              sections:
                type:
                  - "null"
                  - array
                items:
                  type:
                    - "null"
                    - object
                  properties:
                    columns:
                      type:
                        - "null"
                        - array
                      items:
                        type:
                          - "null"
                          - object
                        properties:
                          id:
                            type:
                              - "null"
                              - string
                          widgets:
                            type:
                              - "null"
                              - array
                            items:
                              type:
                                - "null"
                                - string
                          width:
                            type:
                              - "null"
                              - integer
                    id:
                      type:
                        - "null"
                        - string
                    style:
                      type:
                        - "null"
                        - object
                      properties:
                        backgroundColor:
                          type:
                            - "null"
                            - string
                        backgroundType:
                          type:
                            - "null"
                            - string
                        paddingBottom:
                          type:
                            - "null"
                            - string
                        paddingTop:
                          type:
                            - "null"
                            - string
      emailCampaignGroupId:
        description: Group ID associated with the email campaign
        type:
          - "null"
          - integer
      layoutSections:
        description: Sections within the email layout
        type:
          - "null"
          - object
      blogRssSettings:
        description: Settings related to blog RSS integration
        type:
          - "null"
          - string
      archivedInDashboard:
        description: Flag indicating if the email was archived in the dashboard
        type:
          - "null"
          - boolean
      publishedAt:
        description: Timestamp when the email was published
        type:
          - "null"
          - integer
      lastEditUpdateId:
        description: Update ID of the last edit made to the email
        type:
          - "null"
          - integer
      lastEditSessionId:
        description: Session ID of the last edit made to the email
        type:
          - "null"
          - integer
      styleSettings:
        type:
          - "null"
          - object
        properties:
          background_color:
            type:
              - "null"
              - string
          background_image:
            type:
              - "null"
              - string
          background_image_type:
            type:
              - "null"
              - string
          body_border_color:
            type:
              - "null"
              - string
          body_border_color_choice:
            type:
              - "null"
              - string
          body_border_width:
            type:
              - "null"
              - string
          body_color:
            type:
              - "null"
              - string
          color_picker_favorite1:
            type:
              - "null"
              - string
          color_picker_favorite2:
            type:
              - "null"
              - string
          color_picker_favorite3:
            type:
              - "null"
              - string
          color_picker_favorite4:
            type:
              - "null"
              - string
          color_picker_favorite5:
            type:
              - "null"
              - string
          color_picker_favorite6:
            type:
              - "null"
              - string
          email_body_padding:
            type:
              - "null"
              - string
          email_body_width:
            type:
              - "null"
              - string
          heading_one_font:
            type:
              - "null"
              - object
            properties:
              bold:
                type:
                  - "null"
                  - boolean
              color:
                type:
                  - "null"
                  - string
              font:
                type:
                  - "null"
                  - string
              font_style:
                type:
                  - "null"
                  - object
              italic:
                type:
                  - "null"
                  - boolean
              size:
                type:
                  - "null"
                  - string
              underline:
                type:
                  - "null"
                  - boolean
          heading_two_font:
            type:
              - "null"
              - object
            properties:
              bold:
                type:
                  - "null"
                  - boolean
              color:
                type:
                  - "null"
                  - string
              font:
                type:
                  - "null"
                  - string
              font_style:
                type:
                  - "null"
                  - object
              italic:
                type:
                  - "null"
                  - boolean
              size:
                type:
                  - "null"
                  - string
              underline:
                type:
                  - "null"
                  - boolean
          links_font:
            type:
              - "null"
              - object
            properties:
              bold:
                type:
                  - "null"
                  - boolean
              color:
                type:
                  - "null"
                  - string
              font:
                type:
                  - "null"
                  - string
              font_style:
                type:
                  - "null"
                  - object
              italic:
                type:
                  - "null"
                  - boolean
              size:
                type:
                  - "null"
                  - string
              underline:
                type:
                  - "null"
                  - boolean
          primary_accent_color:
            type:
              - "null"
              - string
          primary_font:
            type:
              - "null"
              - string
          primary_font_color:
            type:
              - "null"
              - string
          primary_font_line_height:
            type:
              - "null"
              - string
          primary_font_size:
            type:
              - "null"
              - string
          secondary_accent_color:
            type:
              - "null"
              - string
          secondary_font:
            type:
              - "null"
              - string
          secondary_font_color:
            type:
              - "null"
              - string
          secondary_font_line_height:
            type:
              - "null"
              - string
          secondary_font_size:
            type:
              - "null"
              - string
          use_email_client_default_settings:
            type:
              - "null"
              - boolean
          user_module_defaults:
            type:
              - "null"
              - object
            properties:
              button_email:
                type:
                  - "null"
                  - object
                properties:
                  background_color:
                    type:
                      - "null"
                      - string
                  corner_radius:
                    type:
                      - "null"
                      - integer
                  font:
                    type:
                      - "null"
                      - string
                  font_color:
                    type:
                      - "null"
                      - string
                  font_size:
                    type:
                      - "null"
                      - integer
                  font_style:
                    type:
                      - "null"
                      - object
              email_divider:
                type:
                  - "null"
                  - object
                properties:
                  color:
                    type:
                      - "null"
                      - object
                  height:
                    type:
                      - "null"
                      - integer
                  line_type:
                    type:
                      - "null"
                      - string
      visibleToAll:
        description: Flag indicating if the email is visible to all users
        type:
          - "null"
          - boolean
      language:
        description: Language in which the email is written
        type:
          - "null"
          - string
      rssEmailByText:
        description: Text content related to RSS emails
        type:
          - "null"
          - string
      rssEmailCommentText:
        description: Text for comments in RSS emails
        type:
          - "null"
          - string
      hasContentAccessRules:
        description: Indicates if the email has content access rules applied
        type:
          - "null"
          - boolean
      archivedAt:
        description: Timestamp when the email was archived
        type:
          - "null"
          - integer
      translations:
        description: Translations available for the email
        type:
          - "null"
          - object
      userPerms:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      contentAccessRuleIds:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      rssEmailEntryTemplateEnabled:
        description: Flag indicating if the RSS email entry template is enabled
        type:
          - "null"
          - boolean
      mailingIlsListsExcluded:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      mailingIlsListsIncluded:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
