version: 6.44.0

type: DeclarativeSource

check:
  type: CheckStream
  # We need to use Contacts stream once it is migrated
  stream_names:
    - marketing_emails

definitions:
  # Authenticator Definitions
  api_token_auth:
    type: BearerAuthenticator
    api_token: "{{ config['credentials']['access_token'] }}"

  oauth_auth:
    type: OAuthAuthenticator
    client_id: "{{ config['credentials']['client_id'] }}"
    client_secret: "{{ config['credentials']['client_secret'] }}"
    refresh_token: "{{ config['credentials']['refresh_token'] }}"
    token_refresh_endpoint: "https://api.hubapi.com/oauth/v1/token"

  authenticator:
    type: SelectiveAuthenticator
    authenticator_selection_path: ["credentials", "credentials_title"]
    authenticators:
      OAuth Credentials: "#/definitions/oauth_auth"
      Private App Credentials: "#/definitions/api_token_auth"

  base_requester:
    type: HttpRequester
    url_base: "https://api.hubapi.com"
    authenticator:
      $ref: "#/definitions/authenticator"
    http_method: GET
    request_headers:
      Content-Type: application/json
      User-Agent: Airbyte
    error_handler:
      $ref: "#/definitions/base_error_handler"

  base_error_handler:
    type: DefaultErrorHandler
    backoff_strategies:
      - type: WaitTimeFromHeader
        header: Retry-After
      # HubSpot API does not always return Retry-After value for 429 HTTP error
      - type: ExponentialBackoffStrategy
    response_filters:
      - type: HttpResponseFilter
        action: RETRY
        http_codes:
          - 429
        error_message: >-
          HubSpot rate limit reached (429). Backoff based on 'Retry-After' header, then exponential backoff fallback.
      - type: HttpResponseFilter
        action: RETRY
        http_codes:
          - 502
          - 503
        error_message: >-
          HubSpot server error (5xx). Retrying with exponential backoff...
      - type: HttpResponseFilter
        action: FAIL
        http_codes:
          - 401
          - 530
        error_message: >-
          The user cannot be authorized with provided credentials. Please verify that your credentials are valid and try again.
      - type: HttpResponseFilter
        action: FAIL
        http_codes:
          - 403
        error_message: >-
          Access denied (403). The authenticated user does not have permissions to access the resource. Verify your permissions to access this endpoint.
      - type: HttpResponseFilter
        action: FAIL
        http_codes:
          - 400
        error_message: >-
          Bad request (400). Please verify your credentials and try again.

  offset_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: offset
    page_size_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: limit
    pagination_strategy:
      type: OffsetIncrement
      page_size: 100

  cursor_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: after
    page_size_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: limit
    pagination_strategy:
      type: CursorPagination
      page_size: 100
      cursor_value: "{{ response.get('paging', {}).get('next', {}).get('after') }}"

  base_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - results

  base_retriever:
    type: SimpleRetriever
    requester:
      $ref: "#/definitions/base_requester"
    record_selector:
      $ref: "#/definitions/base_selector"
    paginator:
      $ref: "#/definitions/offset_paginator"
    decoder:
      type: JsonDecoder

  incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: updatedAt
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ format_datetime(config.get('start_date', '2006-06-01T00:00:00.000Z'), '%Y-%m-%dT%H:%M:%S.%fZ') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
    datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
    lookback_window: P{{ config.get('lookback_window', 0) }}D
    cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S.%fZ"
      - "%Y-%m-%dT%H:%M:%S.%f%z"
      - "%Y-%m-%dT%H:%M:%SZ"

  retriever_without_pagination:
    type: SimpleRetriever
    requester:
      $ref: "#/definitions/base_requester"
    record_selector:
      $ref: "#/definitions/base_selector"
    decoder:
      type: JsonDecoder

  stream_base:
    type: DeclarativeStream
    retriever:
      $ref: "#/definitions/base_retriever"

  stream_without_pagination:
    $ref: "#/definitions/stream_base"
    retriever:
      $ref: "#/definitions/retriever_without_pagination"

  base_dynamic_schema_loader:
    type: DynamicSchemaLoader
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/base_requester"
        path: "/properties/v2/{{ parameters['entity'] }}/properties"
      decoder:
        type: JsonDecoder
      record_selector:
        type: RecordSelector
        extractor:
          type: CustomRecordExtractor
          class_name: source_hubspot.components.HubspotSchemaExtractor
          field_path: []
    schema_transformations:
      - type: CustomTransformation
        class_name: source_hubspot.components.HubspotRenamePropertiesTransformation
    schema_type_identifier:
      type: SchemaTypeIdentifier
      key_pointer:
        - name
      type_pointer:
        - type
      schema_pointer:
        - properties
      types_mapping:
        - type: TypesMap
          target_type: boolean
          current_type: bool
        - type: TypesMap
          target_type: date
          current_type: date
        - type: TypesMap
          target_type: timestamp_with_timezone
          current_type: date-time
        - type: TypesMap
          target_type: timestamp_with_timezone
          current_type: datetime
        - type: TypesMap
          target_type: string
          current_type: enumeration
        - type: TypesMap
          target_type: string
          current_type: json
        - type: TypesMap
          target_type: string
          current_type: object_coordinates
        - type: TypesMap
          target_type: string
          current_type: phone_number

  deals_archived_schema_loader:
    $ref: "#/definitions/base_dynamic_schema_loader"
    retriever:
      $ref: "#/definitions/base_dynamic_schema_loader/retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /properties/v2/deal/properties
    schema_transformations:
      - type: CustomTransformation
        class_name: source_hubspot.components.NewtoLegacyFieldTransformation
        field_mapping:
          hs_date_entered_: "hs_v2_date_entered_"
          hs_date_exited_: "hs_v2_date_exited_"
          hs_time_in_: "hs_v2_latest_time_in_"
      - type: CustomTransformation
        class_name: source_hubspot.components.HubspotRenamePropertiesTransformation

  forms_schema_loader:
    $ref: "#/definitions/base_dynamic_schema_loader"
    retriever:
      $ref: "#/definitions/base_dynamic_schema_loader/retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /properties/v2/form/properties

  # Stream Definitions
  companies_property_history_stream:
    $ref: "#/definitions/stream_base"
    primary_key:
      - companyId
      - property
      - timestamp
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        request_parameters:
          propertyMode: value_and_history
          propertiesWithHistory:
            type: QueryProperties
            property_list:
              type: PropertiesFromEndpoint
              property_field_path: ["name"]
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: https://api.hubapi.com
                  authenticator:
                    $ref: "#/definitions/authenticator"
                  path: /properties/v2/companies/properties
                  http_method: GET
                  request_headers:
                    Content-Type: "application/json"
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: []
            property_chunking:
              type: PropertyChunking
              property_limit_type: characters
              property_limit: 15000
      record_selector:
        type: RecordSelector
        extractor:
          type: CustomRecordExtractor
          class_name: source_hubspot.components.HubspotPropertyHistoryExtractor
          field_path: ["results"]
          entity_primary_key: companyId
          additional_keys: ["archived"]
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: after
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 50
          cursor_value: '{{ response.get("paging", {}).get("next", {}).get("after") }}'
          stop_condition: '{{ not response.get("paging", {}) }}'
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: timestamp
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ format_datetime(config.get('start_date', '2006-06-01T00:00:00.000Z'), '%Y-%m-%dT%H:%M:%S.%fZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      lookback_window: P{{ config.get('lookback_window', 0) }}D
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
        - "%Y-%m-%dT%H:%M:%SZ"
        - "%ms" # Previous version of Hubspot stored state as a millisecond string for some reason
      is_client_side_incremental: true
    state_migrations:
      - type: CustomStateMigration
        class_name: source_hubspot.components.MigrateEmptyStringState
        cursor_field: timestamp
    $parameters:
      name: companies_property_history
      path: /crm/v3/objects/companies
      extractor_field_path: results
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/companies_property_history"

  contacts_property_history_stream:
    $ref: "#/definitions/stream_base"
    primary_key:
      - vid
      - property
      - timestamp
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        request_parameters:
          propertyMode: value_and_history
          propertiesWithHistory:
            type: QueryProperties
            property_list:
              type: PropertiesFromEndpoint
              property_field_path: ["name"]
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: https://api.hubapi.com
                  authenticator:
                    $ref: "#/definitions/authenticator"
                  path: "/properties/v2/contacts/properties"
                  http_method: GET
                  request_headers:
                    Content-Type: "application/json"
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: []
            property_chunking:
              type: PropertyChunking
              property_limit_type: characters
              property_limit: 15000
      record_selector:
        type: RecordSelector
        extractor:
          type: CustomRecordExtractor
          class_name: source_hubspot.components.HubspotPropertyHistoryExtractor
          field_path: ["results"]
          entity_primary_key: vid
          additional_keys: ["archived"] # The old additional_keys aren't valid for the Hubspot V3 endpoint
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: after
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 50
          cursor_value: '{{ response.get("paging", {}).get("next", {}).get("after") }}'
          stop_condition: '{{ not response.get("paging", {}) }}'
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: timestamp
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ format_datetime(config.get('start_date', '2006-06-01T00:00:00.000Z'), '%Y-%m-%dT%H:%M:%S.%fZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      lookback_window: P{{ config.get('lookback_window', 0) }}D
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
        - "%Y-%m-%dT%H:%M:%SZ"
        - "%ms"
      is_client_side_incremental: true
    state_migrations:
      - type: CustomStateMigration
        class_name: source_hubspot.components.MigrateEmptyStringState
        cursor_field: timestamp
    $parameters:
      name: contacts_property_history
      path: /crm/v3/objects/contacts
      extractor_field_path: results
    # The Hubspot V3 API uses camel case. To retain backwards compatibility, we convert fields kebab case from V1
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["vid"]
            value: "{{ record.get('vid') }}"
            value_type: integer
          - type: AddedFieldDefinition
            path: ["source-id"]
            value_type: string
            value: "{{ record.get('sourceId') }}"
          - type: AddedFieldDefinition
            path: ["source-label"]
            value: "{{ record.get('sourceLabel') }}"
          - type: AddedFieldDefinition
            path: ["source-type"]
            value: "{{ record.get('sourceType') }}"
          - type: AddedFieldDefinition
            path: ["updated-by-user-id"]
            value: "{{ record.get('updatedByUserId') }}"
          - type: AddedFieldDefinition
            path: ["timestamp"]
            # The Hubspot v1 API returns time as a millisecond integer, but v3 returns a millisecond ISO8601
            # string. This transformation retains backwards compatibility without loss of precision
            value: "{{ format_datetime(record.get('timestamp'), '%ms') }}"
      - type: RemoveFields
        field_pointers:
          - ["sourceId"]
          - ["sourceLabel"]
          - ["sourceType"]
          - ["updatedByUserId"]
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/contacts_property_history"

  deals_property_history_stream:
    $ref: "#/definitions/stream_base"
    primary_key:
      - dealId
      - property
      - timestamp
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        request_parameters:
          propertyMode: value_and_history
          propertiesWithHistory:
            type: QueryProperties
            property_list:
              type: PropertiesFromEndpoint
              property_field_path: ["name"]
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: https://api.hubapi.com
                  authenticator:
                    $ref: "#/definitions/authenticator"
                  path: /properties/v2/deals/properties
                  http_method: GET
                  request_headers:
                    Content-Type: "application/json"
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: []
            property_chunking:
              type: PropertyChunking
              property_limit_type: characters
              property_limit: 15000
      record_selector:
        type: RecordSelector
        extractor:
          type: CustomRecordExtractor
          class_name: source_hubspot.components.HubspotPropertyHistoryExtractor
          field_path: ["results"]
          entity_primary_key: dealId
          additional_keys: ["archived"]
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: after
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 50
          cursor_value: '{{ response.get("paging", {}).get("next", {}).get("after") }}'
          stop_condition: '{{ not response.get("paging", {}) }}'
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: timestamp
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ format_datetime(config.get('start_date', '2006-06-01T00:00:00.000Z'), '%Y-%m-%dT%H:%M:%S.%fZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      lookback_window: P{{ config.get('lookback_window', 0) }}D
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
        - "%Y-%m-%dT%H:%M:%SZ"
        - "%ms" # Previous version of Hubspot stored state as a millisecond string for some reason
      is_client_side_incremental: true
    state_migrations:
      - type: CustomStateMigration
        class_name: source_hubspot.components.MigrateEmptyStringState
        cursor_field: timestamp
    $parameters:
      name: deals_property_history
      path: /crm/v3/objects/deals
      extractor_field_path: results
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/deals_property_history"

  marketing_emails_stream:
    primary_key:
      - id
    $ref: "#/definitions/stream_base"
    name: marketing_emails
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /marketing-emails/v1/emails/with-statistics
      paginator:
        $ref: "#/definitions/offset_paginator"
        pagination_strategy:
          type: OffsetIncrement
          page_size: 250
      record_selector:
        extractor:
          type: DpathExtractor
          field_path:
            - objects
        record_filter:
          type: RecordFilter
          condition: "{{ record['updated'] | int > format_datetime(config.get('start_date', '2006-06-01T00:00:00Z'), '%ms') | int }}"
    transformations:
      - type: AddFields
        fields:
          - path: ["rootMicId"]
            value: "{{ record['rootMicId'] | string if record.get('rootMicId') is not none else none }}"
            value_type: string
        condition: "{{ record.get('rootMicId') is not none and record.get('rootMicId') is not string }}"
      - type: AddFields
        fields:
          - path: ["updated"]
            value: "{{ record.get('updated') or record['created'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/marketing_emails"

  email_subscriptions_stream:
    primary_key:
      - id
    $ref: "#/definitions/stream_without_pagination"
    name: email_subscriptions
    retriever:
      $ref: "#/definitions/retriever_without_pagination"
      requester:
        $ref: "#/definitions/base_requester"
        path: /email/public/v1/subscriptions
      record_selector:
        extractor:
          type: DpathExtractor
          field_path:
            - subscriptionDefinitions
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/email_subscriptions"

  deals_dynamic_schema_loader:
    $ref: "#/definitions/base_dynamic_schema_loader"
    retriever:
      $ref: "#/definitions/base_dynamic_schema_loader/retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /properties/v2/deal/properties
    schema_transformations:
      - type: CustomTransformation
        class_name: source_hubspot.components.NewtoLegacyFieldTransformation
        field_mapping:
          hs_date_entered_: "hs_v2_date_entered_"
          hs_date_exited_: "hs_v2_date_exited_"
          hs_time_in_: "hs_v2_latest_time_in_"
      - type: CustomTransformation
        class_name: source_hubspot.components.HubspotRenamePropertiesTransformation

  deals_full_refresh_stream:
    primary_key:
      - id
    $ref: "#/definitions/stream_base"
    name: deals
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /crm/v3/objects/deals
        request_parameters:
          associations: "['contacts', 'companies', 'line_items']"
          properties:
            type: QueryProperties
            property_list:
              type: PropertiesFromEndpoint
              property_field_path:
                - name
              retriever:
                type: SimpleRetriever
                requester:
                  $ref: "#/definitions/base_requester"
                  path: /properties/v2/deal/properties
                decoder:
                  type: JsonDecoder
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: []
            property_chunking:
              type: PropertyChunking
              property_limit_type: characters
              property_limit: 15000
              record_merge_strategy:
                type: GroupByKeyMergeStrategy
                key: id
      paginator:
        $ref: "#/definitions/cursor_paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
        schema_normalization:
          type: CustomSchemaNormalization
          class_name: source_hubspot.components.EntitySchemaNormalization
    transformations:
      - type: AddFields
        fields:
          - path: ["updatedAt"]
            value: "{{ record.get('updatedAt') or record['createdAt'] }}"
      - type: CustomTransformation
        class_name: source_hubspot.components.HubspotFlattenAssociationsTransformation
      - type: CustomTransformation
        class_name: source_hubspot.components.NewtoLegacyFieldTransformation
        field_mapping:
          hs_date_entered_: "hs_v2_date_entered_"
          hs_date_exited_: "hs_v2_date_exited_"
          hs_time_in_: "hs_v2_latest_time_in_"
      - type: DpathFlattenFields
        field_path:
          - properties
        key_transformation:
          type: KeyTransformation
          prefix: properties_
    incremental_sync:
      $ref: "#/definitions/incremental_sync"
      is_client_side_incremental: true
    schema_loader:
      - type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deals"
      - $ref: "#/definitions/deals_dynamic_schema_loader"

  deals_incremental_stream:
    primary_key:
      - id
    $ref: "#/definitions/stream_base"
    name: deals
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /crm/v3/objects/deal/search
        http_method: POST
        fetch_properties_from_endpoint:
          type: PropertiesFromEndpoint
          property_field_path:
            - name
          retriever:
            type: SimpleRetriever
            requester:
              $ref: "#/definitions/base_requester"
              path: /properties/v2/deal/properties
            decoder:
              type: JsonDecoder
            record_selector:
              type: RecordSelector
              extractor:
                type: DpathExtractor
                field_path: []
        request_body_json:
          limit: 200
          sorts:
            - propertyName: hs_object_id
              direction: ASCENDING
          filters:
            - propertyName: hs_lastmodifieddate
              operator: GTE
              value: "{{ format_datetime(stream_interval.start_time, '%ms') }}"
            - propertyName: hs_lastmodifieddate
              operator: LTE
              value: "{{ format_datetime(stream_interval.end_time, '%ms') }}"
            - propertyName: hs_object_id
              operator: GTE
              value: "{{ next_page_token['next_page_token'].get('id', 0) }}"
          properties: "{{ stream_slice.extra_fields['query_properties'] }}"
          after: "{{ next_page_token['next_page_token']['after'] }}"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CustomPaginationStrategy
          class_name: source_hubspot.components.HubspotCRMSearchPaginationStrategy
          page_size: 200
      record_selector:
        type: RecordSelector
        extractor:
          type: CustomRecordExtractor
          class_name: source_hubspot.components.HubspotAssociationsExtractor
          field_path:
            - results
          entity: deal
          associations_list:
            - contacts
            - companies
            - line_items
        schema_normalization:
          type: CustomSchemaNormalization
          class_name: source_hubspot.components.EntitySchemaNormalization
    transformations:
      - type: CustomTransformation
        class_name: source_hubspot.components.NewtoLegacyFieldTransformation
        field_mapping:
          hs_date_entered_: "hs_v2_date_entered_"
          hs_date_exited_: "hs_v2_date_exited_"
          hs_time_in_: "hs_v2_latest_time_in_"
      - type: DpathFlattenFields
        field_path: ["properties"]
        key_transformation:
          type: KeyTransformation
          prefix: properties_
    incremental_sync:
      $ref: "#/definitions/incremental_sync"
      is_client_side_incremental: true
    schema_loader:
      - type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deals"
      - $ref: "#/definitions/deals_dynamic_schema_loader"

  deals_stream:
    type: StateDelegatingStream
    name: deals
    full_refresh_stream: "#/definitions/deals_full_refresh_stream"
    incremental_stream: "#/definitions/deals_incremental_stream"

  deals_archived_stream:
    primary_key:
      - id
    $ref: "#/definitions/stream_base"
    name: deals_archived
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /crm/v3/objects/deals
        request_parameters:
          associations: "['contacts', 'companies', 'line_items']"
          archived: "true"
          properties:
            type: QueryProperties
            property_list:
              type: PropertiesFromEndpoint
              property_field_path:
                - name
              retriever:
                type: SimpleRetriever
                requester:
                  $ref: "#/definitions/base_requester"
                  path: /properties/v2/deal/properties
                decoder:
                  type: JsonDecoder
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: []
            property_chunking:
              type: PropertyChunking
              property_limit_type: characters
              property_limit: 15000
              record_merge_strategy:
                type: GroupByKeyMergeStrategy
                key: id
      paginator:
        $ref: "#/definitions/cursor_paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
        schema_normalization:
          type: CustomSchemaNormalization
          class_name: source_hubspot.components.EntitySchemaNormalization
    transformations:
      - type: AddFields
        fields:
          - path: ["archivedAt"]
            value: "{{ record.get('archivedAt') or record['createdAt'] }}"
      - type: CustomTransformation
        class_name: source_hubspot.components.NewtoLegacyFieldTransformation
        field_mapping:
          hs_date_entered_: "hs_v2_date_entered_"
          hs_date_exited_: "hs_v2_date_exited_"
          hs_time_in_: "hs_v2_latest_time_in_"
      - type: DpathFlattenFields
        field_path: ["properties"]
        key_transformation:
          type: KeyTransformation
          prefix: properties_
    incremental_sync:
      $ref: "#/definitions/incremental_sync"
      cursor_field: archivedAt
      is_client_side_incremental: true
    state_migrations:
      - type: CustomStateMigration
        class_name: source_hubspot.components.MigrateEmptyStringState
        cursor_field: archivedAt
    schema_loader:
      - $ref: "#/definitions/deals_archived_schema_loader"
      - type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deals_archived"

  forms_stream:
    primary_key:
      - id
    $ref: "#/definitions/stream_base"
    name: forms
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /marketing/v3/forms
        request_parameters:
          formTypes:
            "['hubspot', 'captured', 'flow']"
            # Not supported by `v1` api version used by the FormSubmissions stream
            # TODO: consider migrating FormSubmissions stream to use `/v3` api version
            # then uncomment the last 2 form types.
            # "blog_comment",
            # "all",
          properties:
            type: QueryProperties
            property_list:
              type: PropertiesFromEndpoint
              property_field_path:
                - name
              retriever:
                type: SimpleRetriever
                requester:
                  $ref: "#/definitions/base_requester"
                  path: /properties/v2/form/properties
                decoder:
                  type: JsonDecoder
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: []
            property_chunking:
              type: PropertyChunking
              property_limit_type: characters
              property_limit: 15000
              record_merge_strategy:
                type: GroupByKeyMergeStrategy
                key: id
      paginator:
        $ref: "#/definitions/cursor_paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
    transformations:
      - type: AddFields
        fields:
          - path: ["updatedAt"]
            value: "{{ record.get('updatedAt') or record['createdAt'] }}"
      - type: DpathFlattenFields
        field_path: ["properties"]
        key_transformation:
          type: KeyTransformation
          prefix: properties_
    incremental_sync:
      $ref: "#/definitions/incremental_sync"
      is_client_side_incremental: true
    state_migrations:
      - type: CustomStateMigration
        class_name: source_hubspot.components.MigrateEmptyStringState
        cursor_field: updatedAt
    schema_loader:
      - $ref: "#/definitions/forms_schema_loader"
      - type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/forms"

  form_submissions_stream:
    $ref: "#/definitions/stream_base"
    name: form_submissions
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: "/form-integrations/v1/submissions/forms/{{ stream_partition['form_id'][0] }}"
      partition_router:
        type: GroupingPartitionRouter
        group_size: 1
        deduplicate: true
        underlying_partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream: "#/definitions/forms_stream"
              parent_key: "id"
              partition_field: "form_id"
      paginator:
        $ref: "#/definitions/cursor_paginator"
        pagination_strategy:
          $ref: "#/definitions/cursor_paginator/pagination_strategy"
          page_size: 50
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
    transformations:
      - type: AddFields
        fields:
          - path: ["updatedAt"]
            value: "{{ record.get('updatedAt') or record['submittedAt'] }}"
          - path: ["formId"]
            value: "{{ stream_slice['form_id'][0] }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updatedAt
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ format_datetime(config.get('start_date', '2006-06-01T00:00:00.000Z'), '%ms') }}"
        datetime_format: "%ms"
      datetime_format: "%ms"
      lookback_window: P{{ config.get('lookback_window', 0) }}D
      cursor_datetime_formats:
        - "%ms"
      is_client_side_incremental: true
    state_migrations:
      - type: CustomStateMigration
        class_name: source_hubspot.components.MigrateEmptyStringState
        cursor_field: updatedAt
        cursor_format: "%ms"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/form_submissions"

  owners_stream:
    primary_key:
      - id
    $ref: "#/definitions/stream_base"
    name: owners
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /crm/v3/owners
      paginator:
        $ref: "#/definitions/cursor_paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
    transformations:
      - type: AddFields
        fields:
          - path: ["updatedAt"]
            value: "{{ record.get('updatedAt') or record['createdAt'] }}"
    incremental_sync:
      $ref: "#/definitions/incremental_sync"
      is_client_side_incremental: true
    state_migrations:
      - type: CustomStateMigration
        class_name: source_hubspot.components.MigrateEmptyStringState
        cursor_field: updatedAt
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/owners"

  owners_archived_stream:
    primary_key:
      - id
    $ref: "#/definitions/stream_base"
    name: owners_archived
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /crm/v3/owners
        request_parameters:
          archived: "true"
      paginator:
        $ref: "#/definitions/cursor_paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
    transformations:
      - type: AddFields
        fields:
          - path: ["updatedAt"]
            value: "{{ record.get('updatedAt') or record['createdAt'] }}"
    incremental_sync:
      $ref: "#/definitions/incremental_sync"
      is_client_side_incremental: true
    state_migrations:
      - type: CustomStateMigration
        class_name: source_hubspot.components.MigrateEmptyStringState
        cursor_field: updatedAt
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/owners_archived"

  ticket_pipelines_stream:
    primary_key:
      - id
    $ref: "#/definitions/stream_base"
    name: ticket_pipelines
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /crm/v3/pipelines/tickets
    incremental_sync:
      $ref: "#/definitions/incremental_sync"
      is_client_side_incremental: true
    transformations:
      - type: AddFields
        fields:
          - path: ["updatedAt"]
            value: "{{ record['createdAt'] }}"
        condition: "{{ record.get('updatedAt') is none }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ticket_pipelines"
    state_migrations:
      - type: CustomStateMigration
        class_name: source_hubspot.components.MigrateEmptyStringState
        cursor_field: updatedAt

  campaigns_stream:
    $ref: "#/definitions/stream_base"
    name: campaigns
    primary_key:
      - id
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /email/public/v1/campaigns
      record_selector:
        type: RecordSelector
        transform_before_filtering: false
        extractor:
          type: DpathExtractor
          field_path:
            - campaigns
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 500
          cursor_value: "{{ response.get('offset') }}"
          stop_condition: "{{ not response.get('hasMore') }}"
      decoder:
        type: JsonDecoder
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: lastUpdatedTime
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ format_datetime(config.get('start_date', '2006-06-01T00:00:00Z'), '%ms', '%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%ms"
      datetime_format: "%ms"
      lookback_window: P{{ config.get('lookback_window', 0) }}D
      cursor_datetime_formats:
        - "%ms"
      is_client_side_incremental: true
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/campaigns"
    transformations:
      - type: CustomTransformation
        class_name: source_hubspot.components.AddFieldsFromEndpointTransformation
        requester:
          $ref: "#/definitions/base_requester"
          path: "/email/public/v1/campaigns/{{ stream_slice['parent_id'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        $parameters:
          # Requester and Selector require stream name as a param.
          name: campaigns
      - type: DpathFlattenFields
        field_path:
          - counters
        key_transformation:
          type: KeyTransformation
          prefix: counters_
    state_migrations:
      - type: CustomStateMigration
        class_name: source_hubspot.components.MigrateEmptyStringState
        cursor_field: lastUpdatedTime
        cursor_format: "%ms"

  contact_lists_stream:
    $ref: "#/definitions/stream_base"
    name: contact_lists
    primary_key: listId
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /crm/v3/lists/search
        http_method: POST
      # current implementation doesn't include additionalProperties request param
      # additionalProperties in response includes only default:
      # hs_list_size, hs_last_record_added_at, hs_last_record_removed_at, hs_folder_name, and hs_list_reference_count
      record_selector:
        schema_normalization: Default
        extractor:
          type: DpathExtractor
          field_path:
            - lists
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_name: offset
        page_size_option:
          type: RequestOption
          inject_into: body_json
          field_name: count
        pagination_strategy:
          type: CursorPagination
          page_size: 1000
          cursor_value: "{{ response.get('offset') }}"
          stop_condition: "{{ not response.get('hasMore') }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updatedAt
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      lookback_window: P{{ config.get('lookback_window', 0) }}D
      is_client_side_incremental: true
      cursor_datetime_formats:
        - "%ms" # support previous state format
        - "%Y-%m-%dT%H:%M:%S.%fZ"
        - "%Y-%m-%dT%H:%M:%SZ"
        - "%Y-%m-%d %H:%M:%S%z"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ format_datetime(config.get('start_date', '2006-06-01T00:00:00Z'), '%Y-%m-%dT%H:%M:%S.%fZ', '%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
    transformations:
      - type: AddFields
        fields:
          - path: ["updatedAt"]
            value: "{{ record.get('updatedAt') or record.get('createdAt') }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/contact_lists"

  deal_pipelines_stream:
    $ref: "#/definitions/stream_base"
    name: deal_pipelines
    primary_key:
      - pipelineId
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/base_requester"
        path: /crm-pipelines/v1/pipelines/deals
      record_selector:
        type: RecordSelector
        transform_before_filtering: true
        extractor:
          type: DpathExtractor
          field_path:
            - results
      decoder:
        type: JsonDecoder
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updatedAt
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ format_datetime(config.get('start_date', '2006-06-01T00:00:00Z'), '%ms', '%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%ms"
      datetime_format: "%ms"
      lookback_window: P{{ config.get('lookback_window', 0) }}D
      cursor_datetime_formats:
        - "%ms"
      is_client_side_incremental: true
    state_migrations:
      - type: CustomStateMigration
        class_name: source_hubspot.components.MigrateEmptyStringState
        cursor_field: updatedAt
        cursor_format: "%ms"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/deal_pipelines"
    transformations:
      - type: AddFields
        fields:
          - path: ["updatedAt"]
            value: "{{ record.get('updatedAt') or record['createdAt'] }}"

  workflows_stream:
    type: DeclarativeStream
    name: workflows
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/base_requester"
        path: /automation/v3/workflows
      record_selector:
        type: RecordSelector
        transform_before_filtering: false
        extractor:
          type: DpathExtractor
          field_path:
            - workflows
      decoder:
        type: JsonDecoder
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updatedAt
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ format_datetime(config.get('start_date', '2006-06-01T00:00:00Z'), '%ms', '%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%ms"
      datetime_format: "%ms"
      lookback_window: P{{ config.get('lookback_window', 0) }}D
      cursor_datetime_formats:
        - "%ms"
      is_client_side_incremental: true
    transformations:
      - type: AddFields
        fields:
          - path: ["updatedAt"]
            value: "{{ record.get('updatedAt') or record['insertedAt'] }}"
      - type: DpathFlattenFields
        field_path:
          - contactListIds
        key_transformation:
          type: KeyTransformation
          prefix: contactListIds_
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/workflows"
    state_migrations:
      - type: CustomStateMigration
        class_name: source_hubspot.components.MigrateEmptyStringState
        cursor_field: updatedAt
        cursor_format: "%ms"

  email_events_stream:
    $ref: "#/definitions/stream_base"
    name: email_events
    primary_key: id
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /email/public/v1/events
      record_selector:
        schema_normalization: Default
        extractor:
          type: DpathExtractor
          field_path:
            - events
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 1000
          cursor_value: "{{ response.get('offset') }}"
          stop_condition: "{{ not response.get('hasMore') }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: created
      datetime_format: "%ms"
      lookback_window: P{{ config.get('lookback_window', 0) }}D
      step: P30D
      cursor_granularity: PT1S
      cursor_datetime_formats:
        - "%ms"
        - "%Y-%m-%dT%H:%M:%S.%fZ"
        - "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ format_datetime(config.get('start_date', '2006-06-01T00:00:00Z'), '%ms', '%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%ms"
      start_time_option:
        type: RequestOption
        field_name: startTimestamp
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: endTimestamp
        inject_into: request_parameter
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/email_events"
    state_migrations:
      - type: CustomStateMigration
        class_name: source_hubspot.components.MigrateEmptyStringState
        cursor_field: created
        cursor_format: "%ms"

  engagements_stream:
    $ref: "#/definitions/stream_base"
    name: engagements
    primary_key: id
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        type: CustomRequester
        class_name: source_hubspot.components.EngagementsHttpRequester
        url_base: https://api.hubapi.com
        authenticator:
          $ref: "#/definitions/authenticator"
        http_method: GET
        request_headers:
          Content-Type: application/json
          User-Agent: Airbyte
        error_handler:
          $ref: "#/definitions/base_error_handler"
      record_selector:
        type: RecordSelector
        schema_normalization: Default
        transform_before_filtering: true
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: count
        pagination_strategy:
          type: CursorPagination
          # set to 250 as max page size for All engagements API.
          # if Recent engagements API is used API returns to 100 as default
          page_size: 250
          cursor_value: "{{ response.get('offset') }}"
          stop_condition: "{{ not response.get('hasMore') }}"
      decoder:
        type: JsonDecoder
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: lastUpdated
      datetime_format: "%ms"
      lookback_window: P{{ config.get('lookback_window', 0) }}D
      is_client_side_incremental: true
      cursor_datetime_formats:
        - "%ms"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ format_datetime(config.get('start_date', '2006-06-01T00:00:00Z'), '%ms', '%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%ms"
    transformations:
      - type: DpathFlattenFields
        delete_origin_value: true
        field_path:
          - engagement
      - type: DpathFlattenFields
        field_path:
          - associations
        key_transformation:
          type: KeyTransformation
          prefix: associations_
      - type: DpathFlattenFields
        field_path:
          - metadata
        key_transformation:
          type: KeyTransformation
          prefix: metadata_
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/engagements"
    state_migrations:
      - type: CustomStateMigration
        class_name: source_hubspot.components.MigrateEmptyStringState
        cursor_field: lastUpdated
        cursor_format: "%ms"

  subscription_changes_stream:
    $ref: "#/definitions/stream_base"
    name: subscription_changes
    primary_key: []
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /email/public/v1/subscriptions/timeline
      record_selector:
        schema_normalization: Default
        extractor:
          type: DpathExtractor
          field_path:
            - timeline
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: limit
        pagination_strategy:
          type: CursorPagination
          page_size: 1000
          cursor_value: "{{ response.get('offset') }}"
          stop_condition: "{{ not response.get('hasMore') }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: timestamp
      datetime_format: "%ms"
      lookback_window: P{{ config.get('lookback_window', 0) }}D
      step: P30D
      cursor_granularity: PT1S
      cursor_datetime_formats:
        - "%ms"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ format_datetime(config.get('start_date', '2006-06-01T00:00:00Z'), '%ms', '%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%ms"
      start_time_option:
        type: RequestOption
        field_name: startTimestamp
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: endTimestamp
        inject_into: request_parameter
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/subscription_changes"
    state_migrations:
      - type: CustomStateMigration
        class_name: source_hubspot.components.MigrateEmptyStringState
        cursor_field: timestamp
        cursor_format: "%ms"

streams:
  - "#/definitions/campaigns_stream"
  - "#/definitions/companies_property_history_stream"
  - "#/definitions/contact_lists_stream"
  - "#/definitions/contacts_property_history_stream"
  - "#/definitions/deal_pipelines_stream"
  - "#/definitions/deals_property_history_stream"
  - "#/definitions/deals_stream"
  - "#/definitions/email_subscriptions_stream"
  - "#/definitions/deals_archived_stream"
  - "#/definitions/forms_stream"
  - "#/definitions/form_submissions_stream"
  - "#/definitions/owners_stream"
  - "#/definitions/owners_archived_stream"
  - "#/definitions/marketing_emails_stream"
  - "#/definitions/ticket_pipelines_stream"
  - "#/definitions/workflows_stream"
  - "#/definitions/email_events_stream"
  - "#/definitions/engagements_stream"
  - "#/definitions/subscription_changes_stream"

# HubSpot account is limited to 110 requests every 10 seconds https://developers.hubspot.com/docs/guides/apps/api-usage/usage-details#rate-limits
concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: "{{ config.get('num_workers', 3) }}"
  max_concurrency: 40

schemas:
  contact_lists:
    $schema: http://json-schema.org/draft-07/schema#
    type:
      - "null"
      - object
    additionalProperties: true
    properties:
      processingType:
        type:
          - "null"
          - string
      objectTypeId:
        type:
          - "null"
          - string
      updatedById:
        type:
          - "null"
          - string
      filtersUpdatedAt:
        type:
          - "null"
          - string
        format: date-time
      listId:
        type:
          - "null"
          - string
      createdAt:
        type:
          - "null"
          - string
        format: date-time
      processingStatus:
        type:
          - "null"
          - string
      deletedAt:
        type:
          - "null"
          - string
        format: date-time
      listVersion:
        type:
          - "null"
          - integer
      name:
        type:
          - "null"
          - string
      additionalProperties:
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          hs_list_size:
            type:
              - "null"
              - integer
          hs_last_record_added_at:
            type:
              - "null"
              - integer
          hs_last_record_removed_at:
            type:
              - "null"
              - integer
          hs_folder_name:
            type:
              - "null"
              - string
          hs_list_reference_count:
            type:
              - "null"
              - integer
      createdById:
        type:
          - "null"
          - string
      updatedAt:
        type:
          - "null"
          - string
        format: date-time

  deal_pipelines:
    $schema: http://json-schema.org/draft-07/schema#
    type:
      - "null"
      - object
    additionalProperties: true
    properties:
      label:
        description: The label or name of the deal pipeline.
        type:
          - "null"
          - string
      displayOrder:
        description: The ordering of the deal pipeline for display.
        type:
          - "null"
          - integer
      active:
        description: Indicates if the deal pipeline is currently active or not.
        type:
          - "null"
          - boolean
      stages:
        description: List of deal stages within the pipeline.
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            label:
              description: The label or name of the deal stage.
              type:
                - "null"
                - string
            displayOrder:
              description: The ordering of the deal stage for display within the pipeline.
              type:
                - "null"
                - integer
            metadata:
              description: Additional information related to the deal stage.
              type:
                - "null"
                - object
              properties:
                isClosed:
                  description: Indicates if the deal stage is considered closed or not.
                  type:
                    - "null"
                    - string
                probability:
                  description: The probability of closing a deal at this stage.
                  type:
                    - "null"
                    - string
            stageId:
              description: The unique identifier of the deal stage.
              type:
                - "null"
                - string
            createdAt:
              description: Timestamp for the creation date of the deal stage.
              type:
                - "null"
                - integer
            updatedAt:
              description: Timestamp for the last update to the deal stage.
              type:
                - "null"
                - integer
            active:
              description: Indicates if the deal stage is currently active or not.
              type:
                - "null"
                - boolean
      objectType:
        description: The type of object this deal pipeline is associated with.
        type:
          - "null"
          - string
      objectTypeId:
        description: The ID of the object type this deal pipeline is associated with.
        type:
          - "null"
          - string
      pipelineId:
        description: The unique identifier of the deal pipeline.
        type:
          - "null"
          - string
      createdAt:
        description: Timestamp for the creation date of the deal pipeline.
        type:
          - "null"
          - integer
      updatedAt:
        description: Timestamp for the last update to the deal pipeline.
        type:
          - "null"
          - integer
      default:
        description: Indicates if this pipeline is the default one in the system.

  companies_property_history:
    $schema: "http://json-schema.org/draft-07/schema"
    type:
      - "null"
      - object
    additionalProperties: true
    properties:
      updatedByUserId:
        description: The user ID of the user who initiated the property update.
        type:
          - "null"
          - number
      timestamp:
        description: The date and time when the property update occurred.
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      property:
        description: The specific property that was updated in the company record.
        type:
          - "null"
          - string
      companyId:
        description: >-
          The unique identifier of the company to which the property history record
          belongs.
        type:
          - "null"
          - string
      sourceType:
        description: The type of the source that updated the property in the company record.
        type:
          - "null"
          - string
      sourceId:
        description: >-
          The identifier of the source that updated the property in the company
          record.
        type:
          - "null"
          - string
      value:
        description: The new value of the property after the update.
        type:
          - "null"
          - string
      archived:
        description: Flag indicating if the company property history record is archived or not.
        type:
          - "null"
          - boolean

  contacts_property_history:
    $schema: "http://json-schema.org/draft-07/schema"
    type:
      - "null"
      - object
    additionalProperties: true
    properties:
      value:
        description: The value of the property at the specified timestamp.
        type:
          - "null"
          - string
      source-type:
        description: The type or category of the data source.
        type:
          - "null"
          - string
      source-id:
        description: The identifier of the data source that generated this historical entry.
        type:
          - "null"
          - string
      source-label:
        description: The label representing the source of the data.
        type:
          - "null"
          - string
      updated-by-user-id:
        description: The identifier of the user who last updated the property value.
        type:
          - "null"
          - integer
      timestamp:
        description: The timestamp when the property value was last updated.
        type:
          - "null"
          - integer
      selected:
        description: Indicates whether this property is currently selected or not.
        type:
          - "null"
          - boolean
      is-contact:
        description: Indicates whether the data is associated with a contact record.
        type:
          - "null"
          - boolean
      property:
        description: The specific property whose history is being tracked.
        type:
          - "null"
          - string
      vid:
        description: The unique identifier for this historical data entry.
        type:
          - "null"
          - integer
      canonical-vid:
        description: >-
          The unique identifier for the contact record that this historical data
          belongs to.
        type:
          - "null"
          - integer
      portal-id:
        description: The identifier for the HubSpot portal that the data belongs to.
        type:
          - "null"
          - integer
      source-vids:
        description: List of unique identifiers of the sources associated with this historical data.
        type:
          - array
          - "null"
        items:
          type:
            - "null"
            - integer
      archived:
        description: Indicates whether the data is associated with a contact record.
        type:
          - "null"
          - boolean

  deals:
    $schema: "http://json-schema.org/draft-07/schema#"
    type:
      - "null"
      - object
    properties:
      id:
        description: Unique identifier for the deal
        type:
          - "null"
          - string
      createdAt:
        description: The date and time when the deal was created
        type:
          - "null"
          - string
        format: date-time
      updatedAt:
        description: The date and time when the deal was last updated
        type:
          - "null"
          - string
        format: date-time
      archived:
        description: Indicates if the deal is archived
        type:
          - "null"
          - boolean
      companies:
        description: Information about companies associated with the deal
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      contacts:
        description: Information about contacts associated with the deal
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      line_items:
        description: Details of line items associated with the deal
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string

  deals_property_history:
    $schema: "http://json-schema.org/draft-07/schema"
    type:
      - "null"
      - object
    additionalProperties: true
    properties:
      updatedByUserId:
        description: The unique identifier of the user who made the update
        type:
          - "null"
          - number
      timestamp:
        description: The date and time when the property was updated
        type:
          - "null"
          - string
        format: date-time
        airbyte_type: timestamp_with_timezone
      property:
        description: The name of the property that was updated
        type:
          - "null"
          - string
      dealId:
        description: The unique identifier of the deal associated with this property history
        type:
          - "null"
          - string
      sourceType:
        description: The type of source that triggered this update
        type:
          - "null"
          - string
      sourceId:
        description: The unique identifier of the source of this update
        type:
          - "null"
          - string
      value:
        description: The new value of the property
        type:
          - "null"
          - string
      archived:
        description: Indicates if the deal property history is archived
        type:
          - "null"
          - boolean

  deals_archived:
    $schema: http://json-schema.org/schema#
    type:
      - "null"
      - object
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      properties:
        type:
          - "null"
          - object
        properties:
          amount:
            type:
              - "null"
              - string
          amount_in_home_currency:
            type:
              - "null"
              - string
          closed_lost_reason:
            type:
              - "null"
              - string
          closed_won_reason:
            type:
              - "null"
              - string
          closedate:
            type:
              - "null"
              - string
            format: date-time
          createdate:
            type:
              - "null"
              - string
            format: date-time
          days_to_close:
            type:
              - "null"
              - string
          dealname:
            type:
              - "null"
              - string
          dealstage:
            type:
              - "null"
              - string
          dealtype:
            type:
              - "null"
              - string
          description:
            type:
              - "null"
              - string
          engagements_last_meeting_booked:
            type:
              - "null"
              - string
          engagements_last_meeting_booked_campaign:
            type:
              - "null"
              - string
          engagements_last_meeting_booked_medium:
            type:
              - "null"
              - string
          engagements_last_meeting_booked_source:
            type:
              - "null"
              - string
          hs_acv:
            type:
              - "null"
              - string
          hs_all_accessible_team_ids:
            type:
              - "null"
              - string
          hs_all_assigned_business_unit_ids:
            type:
              - "null"
              - string
          hs_all_owner_ids:
            type:
              - "null"
              - string
          hs_all_team_ids:
            type:
              - "null"
              - string
          hs_analytics_source:
            type:
              - "null"
              - string
          hs_analytics_source_data_1:
            type:
              - "null"
              - string
          hs_analytics_source_data_2:
            type:
              - "null"
              - string
          hs_arr:
            type:
              - "null"
              - string
          hs_closed_amount:
            type:
              - "null"
              - string
          hs_closed_amount_in_home_currency:
            type:
              - "null"
              - string
          hs_created_by_user_id:
            type:
              - "null"
              - string
          hs_createdate:
            type:
              - "null"
              - string
            format: date-time
          hs_date_entered_9567448:
            type:
              - "null"
              - string
          hs_date_entered_9567449:
            type:
              - "null"
              - string
          hs_date_entered_appointmentscheduled:
            type:
              - "null"
              - string
            format: date-time
          hs_date_entered_closedlost:
            type:
              - "null"
              - string
            format: date-time
          hs_date_entered_closedwon:
            type:
              - "null"
              - string
            format: date-time
          hs_date_entered_contractsent:
            type:
              - "null"
              - string
            format: date-time
          hs_date_entered_customclosedwonstage:
            type:
              - "null"
              - string
            format: date-time
          hs_date_entered_decisionmakerboughtin:
            type:
              - "null"
              - string
            format: date-time
          hs_date_entered_presentationscheduled:
            type:
              - "null"
              - string
            format: date-time
          hs_date_entered_qualifiedtobuy:
            type:
              - "null"
              - string
            format: date-time
          hs_date_exited_9567448:
            type:
              - "null"
              - string
          hs_date_exited_9567449:
            type:
              - "null"
              - string
          hs_date_exited_appointmentscheduled:
            type:
              - "null"
              - string
            format: date-time
          hs_date_exited_closedlost:
            type:
              - "null"
              - string
            format: date-time
          hs_date_exited_closedwon:
            type:
              - "null"
              - string
            format: date-time
          hs_date_exited_contractsent:
            type:
              - "null"
              - string
            format: date-time
          hs_date_exited_customclosedwonstage:
            type:
              - "null"
              - string
            format: date-time
          hs_date_exited_decisionmakerboughtin:
            type:
              - "null"
              - string
            format: date-time
          hs_date_exited_presentationscheduled:
            type:
              - "null"
              - string
            format: date-time
          hs_date_exited_qualifiedtobuy:
            type:
              - "null"
              - string
            format: date-time
          hs_deal_amount_calculation_preference:
            type:
              - "null"
              - string
          hs_deal_stage_probability:
            type:
              - "null"
              - string
          hs_deal_stage_probability_shadow:
            type:
              - "null"
              - string
          hs_forecast_amount:
            type:
              - "null"
              - string
          hs_forecast_probability:
            type:
              - "null"
              - string
          hs_is_closed:
            type:
              - "null"
              - string
          hs_is_closed_won:
            type:
              - "null"
              - string
          hs_lastmodifieddate:
            type:
              - "null"
              - string
            format: date-time
          hs_latest_meeting_activity:
            type:
              - "null"
              - string
          hs_likelihood_to_close:
            type:
              - "null"
              - string
          hs_line_item_global_term_hs_discount_percentage:
            type:
              - "null"
              - string
          hs_line_item_global_term_hs_discount_percentage_enabled:
            type:
              - "null"
              - string
          hs_line_item_global_term_hs_recurring_billing_period:
            type:
              - "null"
              - string
          hs_line_item_global_term_hs_recurring_billing_period_enabled:
            type:
              - "null"
              - string
          hs_line_item_global_term_hs_recurring_billing_start_date:
            type:
              - "null"
              - string
          hs_line_item_global_term_hs_recurring_billing_start_date_enabled:
            type:
              - "null"
              - string
          hs_line_item_global_term_recurringbillingfrequency:
            type:
              - "null"
              - string
          hs_line_item_global_term_recurringbillingfrequency_enabled:
            type:
              - "null"
              - string
          hs_manual_forecast_category:
            type:
              - "null"
              - string
          hs_merged_object_ids:
            type:
              - "null"
              - string
          hs_mrr:
            type:
              - "null"
              - string
          hs_next_step:
            type:
              - "null"
              - string
          hs_num_target_accounts:
            type:
              - "null"
              - string
          hs_object_id:
            type:
              - "null"
              - string
          hs_predicted_amount:
            type:
              - "null"
              - string
          hs_predicted_amount_in_home_currency:
            type:
              - "null"
              - string
          hs_priority:
            type:
              - "null"
              - string
          hs_projected_amount:
            type:
              - "null"
              - string
          hs_projected_amount_in_home_currency:
            type:
              - "null"
              - string
          hs_sales_email_last_replied:
            type:
              - "null"
              - string
          hs_tcv:
            type:
              - "null"
              - string
          hs_unique_creation_key:
            type:
              - "null"
              - string
          hs_updated_by_user_id:
            type:
              - "null"
              - string
          hs_user_ids_of_all_notification_followers:
            type:
              - "null"
              - string
          hs_user_ids_of_all_notification_unfollowers:
            type:
              - "null"
              - string
          hs_user_ids_of_all_owners:
            type:
              - "null"
              - string
          hubspot_owner_assigneddate:
            type:
              - "null"
              - string
            format: date-time
          hubspot_owner_id:
            type:
              - "null"
              - string
          hubspot_team_id:
            type:
              - "null"
              - string
          notes_last_contacted:
            type:
              - "null"
              - string
          notes_last_updated:
            type:
              - "null"
              - string
          notes_next_activity_date:
            type:
              - "null"
              - string
          num_associated_contacts:
            type:
              - "null"
              - string
          num_contacted_notes:
            type:
              - "null"
              - string
          num_notes:
            type:
              - "null"
              - string
          pipeline:
            type:
              - "null"
              - string
      properties_amount:
        type:
          - "null"
          - string
      properties_amount_in_home_currency:
        type:
          - "null"
          - string
      properties_closed_lost_reason:
        type:
          - "null"
          - string
      properties_closed_won_reason:
        type:
          - "null"
          - string
      properties_closedate:
        type:
          - "null"
          - string
        format: date-time
      properties_createdate:
        type:
          - "null"
          - string
        format: date-time
      properties_days_to_close:
        type:
          - "null"
          - string
      properties_dealname:
        type:
          - "null"
          - string
      properties_dealstage:
        type:
          - "null"
          - string
      properties_dealtype:
        type:
          - "null"
          - string
      properties_description:
        type:
          - "null"
          - string
      properties_engagements_last_meeting_booked:
        type:
          - "null"
          - string
      properties_engagements_last_meeting_booked_campaign:
        type:
          - "null"
          - string
      properties_engagements_last_meeting_booked_medium:
        type:
          - "null"
          - string
      properties_engagements_last_meeting_booked_source:
        type:
          - "null"
          - string
      properties_hs_acv:
        type:
          - "null"
          - string
      properties_hs_all_accessible_team_ids:
        type:
          - "null"
          - string
      properties_hs_all_assigned_business_unit_ids:
        type:
          - "null"
          - string
      properties_hs_all_owner_ids:
        type:
          - "null"
          - string
      properties_hs_all_team_ids:
        type:
          - "null"
          - string
      properties_hs_analytics_source:
        type:
          - "null"
          - string
      properties_hs_analytics_source_data_1:
        type:
          - "null"
          - string
      properties_hs_analytics_source_data_2:
        type:
          - "null"
          - string
      properties_hs_arr:
        type:
          - "null"
          - string
      properties_hs_closed_amount:
        type:
          - "null"
          - string
      properties_hs_closed_amount_in_home_currency:
        type:
          - "null"
          - string
      properties_hs_created_by_user_id:
        type:
          - "null"
          - string
      properties_hs_createdate:
        type:
          - "null"
          - string
        format: date-time
      properties_hs_date_entered_9567448:
        type:
          - "null"
          - string
      properties_hs_date_entered_9567449:
        type:
          - "null"
          - string
      properties_hs_date_entered_appointmentscheduled:
        type:
          - "null"
          - string
        format: date-time
      properties_hs_date_entered_closedlost:
        type:
          - "null"
          - string
        format: date-time
      properties_hs_date_entered_closedwon:
        type:
          - "null"
          - string
        format: date-time
      properties_hs_date_entered_contractsent:
        type:
          - "null"
          - string
        format: date-time
      properties_hs_date_entered_customclosedwonstage:
        type:
          - "null"
          - string
        format: date-time
      properties_hs_date_entered_decisionmakerboughtin:
        type:
          - "null"
          - string
        format: date-time
      properties_hs_date_entered_presentationscheduled:
        type:
          - "null"
          - string
        format: date-time
      properties_hs_date_entered_qualifiedtobuy:
        type:
          - "null"
          - string
        format: date-time
      properties_hs_date_exited_9567448:
        type:
          - "null"
          - string
      properties_hs_date_exited_9567449:
        type:
          - "null"
          - string
      properties_hs_date_exited_appointmentscheduled:
        type:
          - "null"
          - string
        format: date-time
      properties_hs_date_exited_closedlost:
        type:
          - "null"
          - string
        format: date-time
      properties_hs_date_exited_closedwon:
        type:
          - "null"
          - string
        format: date-time
      properties_hs_date_exited_contractsent:
        type:
          - "null"
          - string
        format: date-time
      properties_hs_date_exited_customclosedwonstage:
        type:
          - "null"
          - string
        format: date-time
      properties_hs_date_exited_decisionmakerboughtin:
        type:
          - "null"
          - string
        format: date-time
      properties_hs_date_exited_presentationscheduled:
        type:
          - "null"
          - string
        format: date-time
      properties_hs_date_exited_qualifiedtobuy:
        type:
          - "null"
          - string
        format: date-time
      properties_hs_deal_amount_calculation_preference:
        type:
          - "null"
          - string
      properties_hs_deal_stage_probability:
        type:
          - "null"
          - string
      properties_hs_deal_stage_probability_shadow:
        type:
          - "null"
          - string
      properties_hs_forecast_amount:
        type:
          - "null"
          - string
      properties_hs_forecast_probability:
        type:
          - "null"
          - string
      properties_hs_is_closed:
        type:
          - "null"
          - string
      properties_hs_is_closed_won:
        type:
          - "null"
          - string
      properties_hs_lastmodifieddate:
        type:
          - "null"
          - string
        format: date-time
      properties_hs_latest_meeting_activity:
        type:
          - "null"
          - string
      properties_hs_likelihood_to_close:
        type:
          - "null"
          - string
      properties_hs_line_item_global_term_hs_discount_percentage:
        type:
          - "null"
          - string
      properties_hs_line_item_global_term_hs_discount_percentage_enabled:
        type:
          - "null"
          - string
      properties_hs_line_item_global_term_hs_recurring_billing_period:
        type:
          - "null"
          - string
      properties_hs_line_item_global_term_hs_recurring_billing_period_enabled:
        type:
          - "null"
          - string
      properties_hs_line_item_global_term_hs_recurring_billing_start_date:
        type:
          - "null"
          - string
      properties_hs_line_item_global_term_hs_recurring_billing_start_date_enabled:
        type:
          - "null"
          - string
      properties_hs_line_item_global_term_recurringbillingfrequency:
        type:
          - "null"
          - string
      properties_hs_line_item_global_term_recurringbillingfrequency_enabled:
        type:
          - "null"
          - string
      properties_hs_manual_forecast_category:
        type:
          - "null"
          - string
      properties_hs_merged_object_ids:
        type:
          - "null"
          - string
      properties_hs_mrr:
        type:
          - "null"
          - string
      properties_hs_next_step:
        type:
          - "null"
          - string
      properties_hs_num_target_accounts:
        type:
          - "null"
          - string
      properties_hs_object_id:
        type:
          - "null"
          - string
      properties_hs_predicted_amount:
        type:
          - "null"
          - string
      properties_hs_predicted_amount_in_home_currency:
        type:
          - "null"
          - string
      properties_hs_priority:
        type:
          - "null"
          - string
      properties_hs_projected_amount:
        type:
          - "null"
          - string
      properties_hs_projected_amount_in_home_currency:
        type:
          - "null"
          - string
      properties_hs_sales_email_last_replied:
        type:
          - "null"
          - string
      properties_hs_tcv:
        type:
          - "null"
          - string
      properties_hs_unique_creation_key:
        type:
          - "null"
          - string
      properties_hs_updated_by_user_id:
        type:
          - "null"
          - string
      properties_hs_user_ids_of_all_notification_followers:
        type:
          - "null"
          - string
      properties_hs_user_ids_of_all_notification_unfollowers:
        type:
          - "null"
          - string
      properties_hs_user_ids_of_all_owners:
        type:
          - "null"
          - string
      properties_hubspot_owner_assigneddate:
        type:
          - "null"
          - string
        format: date-time
      properties_hubspot_owner_id:
        type:
          - "null"
          - string
      properties_hubspot_team_id:
        type:
          - "null"
          - string
      properties_notes_last_contacted:
        type:
          - "null"
          - string
      properties_notes_last_updated:
        type:
          - "null"
          - string
      properties_notes_next_activity_date:
        type:
          - "null"
          - string
      properties_num_associated_contacts:
        type:
          - "null"
          - string
      properties_num_contacted_notes:
        type:
          - "null"
          - string
      properties_num_notes:
        type:
          - "null"
          - string
      properties_pipeline:
        type:
          - "null"
          - string
      createdAt:
        type:
          - "null"
          - string
        format: date-time
        __ab_apply_cast_datetime: false
      updatedAt:
        type:
          - "null"
          - string
        format: date-time
        __ab_apply_cast_datetime: false
      archived:
        type:
          - "null"
          - boolean
      archivedAt:
        description: The date and time when the deal was archived
        type:
          - "null"
          - string
        format: date-time
        __ab_apply_cast_datetime: false
      companies:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      contacts:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      line_items:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string

  email_subscriptions:
    $schema: http://json-schema.org/draft-07/schema#
    type:
      - "null"
      - object
    additionalProperties: true
    properties:
      active:
        description: Indicates whether the subscription is currently active or not
        type:
          - "null"
          - boolean
      portalId:
        description: The unique identifier for the portal associated with the subscription
        type:
          - "null"
          - integer
      description:
        description: Additional information or details about the subscription
        type:
          - "null"
          - string
      id:
        description: The unique identifier for the subscription
        type:
          - "null"
          - integer
      name:
        description: The display name of the subscription
        type:
          - "null"
          - string
      order:
        description: The order in which the subscription is displayed or processed
        type:
          - "null"
          - integer
      businessUnitId:
        description:
          The unique identifier for the business unit associated with the
          subscription
        type:
          - "null"
          - integer
      internal:
        description: Indicates whether the subscription is for internal use only
        type:
          - "null"
          - boolean
      internalName:
        description: The internal name for the subscription
        type:
          - "null"
          - string
      category:
        description: The category to which the subscription belongs
        type:
          - "null"
          - string
      channel:
        description: The communication channel through which the subscription is managed
        type:
          - "null"
          - string

  form_submissions:
    $schema: http://json-schema.org/schema#
    type:
      - "null"
      - object
    properties:
      conversionId:
        description: The unique identifier for the form submission
        type:
          - "null"
          - string
      submittedAt:
        description: The timestamp when the form was submitted.
        type:
          - "null"
          - integer
      updatedAt:
        description: The timestamp when the form submission data was last updated.
        type:
          - "null"
          - integer
      values:
        description: An array of form field values submitted in the form.
        type:
          - "null"
          - array
        items:
          type: object
          properties:
            name:
              description: The name or identifier of the form field.
              type:
                - "null"
                - string
            value:
              description: The actual value submitted for the form field.
              type:
                - "null"
                - string
            objectTypeId:
              description: The type identifier of the form field value.
              type:
                - "null"
                - string
      pageUrl:
        description: The URL of the web page where the form was submitted.
        type:
          - "null"
          - string
      formId:
        description: The unique identifier of the form associated with the submission.
        type:
          - "null"
          - string
    additionalProperties: true

  forms:
    $schema: http://json-schema.org/schema#
    type:
      - "null"
      - object
    properties:
      id:
        description: Unique identifier for the form.
        type:
          - "null"
          - string
      name:
        description: Name of the form.
        type:
          - "null"
          - string
      formType:
        description: Type of the form.
        type:
          - "null"
          - string
      createdAt:
        description: Date and time when the form was created.
        type:
          - "null"
          - string
        format: date-time
      updatedAt:
        description: Date and time when the form was last updated.
        type:
          - "null"
          - string
        format: date-time
      archived:
        description: Indicates whether the form is archived.
        type:
          - "null"
          - boolean
      deletedAt:
        description: Date and time when the form was deleted.
        type:
          - "null"
          - string
      fieldGroups:
        description: Groups containing fields of a form.
        type:
          - "null"
          - array
        items:
          description: Field groups in the form.
          type:
            - "null"
            - object
          properties:
            fields:
              type:
                - "null"
                - array
              items:
                description: Properties of each field.
                type:
                  - "null"
                  - object
                properties:
                  objectTypeId:
                    description: Object type ID for the field.
                    type:
                      - "null"
                      - string
                  name:
                    description: Name of the field.
                    type:
                      - "null"
                      - string
                  label:
                    description: Label for the field.
                    type:
                      - "null"
                      - string
                  required:
                    description: Indicates whether the field is required.
                    type:
                      - "null"
                      - boolean
                  hidden:
                    description: Indicates whether the field is hidden.
                    type:
                      - "null"
                      - boolean
                  fieldType:
                    description: Type of the field.
                    type:
                      - "null"
                      - string
                  validation:
                    description: Validation settings for the field.
                    type:
                      - "null"
                      - object
                    properties:
                      blockedEmailDomains:
                        description: List of blocked email domains for validation.
                        type:
                          - "null"
                          - array
                        items:
                          type:
                            - "null"
                            - string
                      useDefaultBlockList:
                        description:
                          Indicates whether to use the default block list
                          for validation.
                        type:
                          - "null"
                          - boolean
            groupType:
              description: Type of field group.
              type:
                - "null"
                - string
            richTextType:
              description: Type of rich text.
              type:
                - "null"
                - string
      configuration:
        description: Configuration settings for the form.
        type:
          - "null"
          - object
        properties:
          language:
            description: Language setting for the form.
            type:
              - "null"
              - string
          cloneable:
            description: Indicates whether the form is cloneable.
            type:
              - "null"
              - boolean
          postSubmitAction:
            description: Action to be taken after form submission.
            type:
              - "null"
              - object
            properties:
              type:
                description: Type of post-submit action.
                type:
                  - "null"
                  - string
              value:
                description: Value of post-submit action.
                type:
                  - "null"
                  - string
          editable:
            description: Indicates whether the form is editable.
            type:
              - "null"
              - boolean
          archivable:
            description: Indicates whether the form is archivable.
            type:
              - "null"
              - boolean
          recaptchaEnabled:
            description: Indicates whether reCAPTCHA is enabled.
            type:
              - "null"
              - boolean
          notifyContactOwner:
            description: Notification setting for contacting the owner.
            type:
              - "null"
              - boolean
          notifyRecipients:
            description: Notification setting for recipients.
            type:
              - "null"
              - array
          createNewContactForNewEmail:
            description: Creates a new contact for a new email.
            type:
              - "null"
              - boolean
          prePopulateKnownValues:
            description: Pre-populates known values in the form.
            type:
              - "null"
              - boolean
          allowLinkToResetKnownValues:
            description: Allows resetting known values through a link.
            type:
              - "null"
              - boolean
          lifecycleStages:
            description: List of lifecycle stages.
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - string
      displayOptions:
        description: Display options for the form.
        type:
          - "null"
          - object
        properties:
          renderRawHtml:
            description: Indicates whether to render raw HTML.
            type:
              - "null"
              - boolean
          theme:
            description: Theme setting for the form.
            type:
              - "null"
              - string
          submitButtonText:
            description: Text for the submit button.
            type:
              - "null"
              - string
          style:
            description: Style settings for the form.
            type:
              - "null"
              - object
            properties:
              fontFamily:
                description: Font family style.
                type:
                  - "null"
                  - string
              backgroundWidth:
                description: Background width style.
                type:
                  - "null"
                  - string
              labelTextColor:
                description: Label text color style.
                type:
                  - "null"
                  - string
              labelTextSize:
                description: Label text font size.
                type:
                  - "null"
                  - string
              helpTextColor:
                description: Help text color style.
                type:
                  - "null"
                  - string
              helpTextSize:
                description: Help text font size.
                type:
                  - "null"
                  - string
              legalConsentTextColor:
                description: Legal consent text color style.
                type:
                  - "null"
                  - string
              legalConsentTextSize:
                description: Legal consent text font size.
                type:
                  - "null"
                  - string
              submitColor:
                description: Color of submit button.
                type:
                  - "null"
                  - string
              submitAlignment:
                description: Alignment of submit button.
                type:
                  - "null"
                  - string
              submitFontColor:
                description: Font color of submit button.
                type:
                  - "null"
                  - string
              submitSize:
                description: Size of submit button.
                type:
                  - "null"
                  - string
          cssClass:
            description: CSS class for styling the form.
            type:
              - "null"
              - string
      legalConsentOptions:
        description: Legal consent options for the form.
        type:
          - "null"
          - object
    additionalProperties: true

  marketing_emails:
    $schema: http://json-schema.org/draft-07/schema#
    type:
      - "null"
      - object
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - integer
      ab:
        type:
          - "null"
          - boolean
      abHoursToWait:
        type:
          - "null"
          - integer
      abSampleSizeDefault:
        type:
          - "null"
          - string
      abSamplingDefault:
        type:
          - "null"
          - string
      abStatus:
        type:
          - "null"
          - string
      abSuccessMetric:
        type:
          - "null"
          - string
      abTestPercentage:
        type:
          - "null"
          - integer
      abVariation:
        type:
          - "null"
          - boolean
      absoluteUrl:
        type:
          - "null"
          - string
      aifeatures:
        type:
          - "null"
          - object
      allEmailCampaignIds:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      analyticsPageId:
        type:
          - "null"
          - string
      analyticsPageType:
        type:
          - "null"
          - string
      archived:
        type:
          - "null"
          - boolean
      authorAt:
        type:
          - "null"
          - integer
      authorName:
        type:
          - "null"
          - string
      authorUserId:
        type:
          - "null"
          - integer
      blogEmailType:
        type:
          - "null"
          - string
      campaign:
        type:
          - "null"
          - string
      campaignName:
        type:
          - "null"
          - string
      canSpamSettingsId:
        type:
          - "null"
          - integer
      categoryId:
        type:
          - "null"
          - integer
      clonedFrom:
        type:
          - "null"
          - integer
      contentTypeCategory:
        type:
          - "null"
          - integer
      createPage:
        type:
          - "null"
          - boolean
      created:
        type:
          - "null"
          - integer
      createdById:
        type:
          - "null"
          - integer
      currentState:
        type:
          - "null"
          - string
      currentlyPublished:
        type:
          - "null"
          - boolean
      customReplyTo:
        type:
          - "null"
          - string
      customReplyToEnabled:
        type:
          - "null"
          - boolean
      domain:
        type:
          - "null"
          - string
      emailBody:
        type:
          - "null"
          - string
      emailNote:
        type:
          - "null"
[...]
