version: 6.44.0

type: DeclarativeSource

check:
  type: CheckStream
  # We need to use Contacts stream once it is migrated
  stream_names:
    - marketing_emails

definitions:
  # Authenticator Definitions
  api_token_auth:
    type: BearerAuthenticator
    api_token: "{{ config['credentials']['access_token'] }}"

  oauth_auth:
    type: OAuthAuthenticator
    client_id: "{{ config['credentials']['client_id'] }}"
    client_secret: "{{ config['credentials']['client_secret'] }}"
    refresh_token: "{{ config['credentials']['refresh_token'] }}"
    token_refresh_endpoint: "https://api.hubapi.com/oauth/v1/token"

  authenticator:
    type: SelectiveAuthenticator
    authenticator_selection_path: ["credentials", "credentials_title"]
    authenticators:
      OAuth Credentials: "#/definitions/oauth_auth"
      Private App Credentials: "#/definitions/api_token_auth"

  base_requester:
    type: HttpRequester
    url_base: "https://api.hubapi.com"
    authenticator:
      $ref: "#/definitions/authenticator"
    http_method: GET
    request_headers:
      Content-Type: application/json
      User-Agent: Airbyte
    error_handler:
      $ref: "#/definitions/base_error_handler"

  base_error_handler:
    type: DefaultErrorHandler
    backoff_strategies:
      - type: WaitTimeFromHeader
        header: Retry-After
      # HubSpot API does not always return Retry-After value for 429 HTTP error
      - type: ExponentialBackoffStrategy
    response_filters:
      - type: HttpResponseFilter
        action: RETRY
        http_codes:
          - 429
        error_message: >-
          HubSpot rate limit reached (429). Backoff based on 'Retry-After' header, then exponential backoff fallback.
      - type: HttpResponseFilter
        action: RETRY
        http_codes:
          - 502
          - 503
        error_message: >-
          HubSpot server error (5xx). Retrying with exponential backoff...
      - type: HttpResponseFilter
        action: FAIL
        http_codes:
          - 401
          - 530
        error_message: >-
          The user cannot be authorized with provided credentials. Please verify that your credentials are valid and try again.
      - type: HttpResponseFilter
        action: FAIL
        http_codes:
          - 403
        error_message: >-
          Access denied (403). The authenticated user does not have permissions to access the resource. Verify your permissions to access this endpoint.
      - type: HttpResponseFilter
        action: FAIL
        http_codes:
          - 400
        error_message: >-
          Bad request (400). Please verify your credentials and try again.

  base_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: offset
    page_size_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: limit
    pagination_strategy:
      type: OffsetIncrement
      page_size: 100

  base_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - results

  base_retriever:
    type: SimpleRetriever
    requester:
      $ref: "#/definitions/base_requester"
    record_selector:
      $ref: "#/definitions/base_selector"
    paginator:
      $ref: "#/definitions/base_paginator"
    decoder:
      type: JsonDecoder

  retriever_without_pagination:
    type: SimpleRetriever
    requester:
      $ref: "#/definitions/base_requester"
    record_selector:
      $ref: "#/definitions/base_selector"
    decoder:
      type: JsonDecoder

  stream_base:
    type: DeclarativeStream
    primary_key:
      - id
    retriever:
      $ref: "#/definitions/base_retriever"

  stream_without_pagination:
    $ref: "#/definitions/stream_base"
    retriever:
      $ref: "#/definitions/retriever_without_pagination"

  # Stream Definitions
  marketing_emails_stream:
    $ref: "#/definitions/stream_base"
    name: marketing_emails
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /marketing-emails/v1/emails/with-statistics
      paginator:
        $ref: "#/definitions/base_paginator"
        pagination_strategy:
          type: OffsetIncrement
          page_size: 250
      record_selector:
        extractor:
          type: DpathExtractor
          field_path:
            - objects
        record_filter:
          type: RecordFilter
          condition: "{{ record['updated'] | int > format_datetime(config.get('start_date', '2006-06-01T00:00:00Z'), '%ms') | int }}"
    transformations:
      - type: AddFields
        fields:
          - path: ["rootMicId"]
            value: "{{ record['rootMicId'] | string if record.get('rootMicId') is not none else none }}"
          - path: ["updated"]
            value: "{{ record.get('updated') or record['created'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/marketing_emails"

  email_subscriptions_stream:
    $ref: "#/definitions/stream_without_pagination"
    name: email_subscriptions
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /email/public/v1/subscriptions
      record_selector:
        extractor:
          type: DpathExtractor
          field_path:
            - subscriptionDefinitions
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/email_subscriptions"

streams:
  - "#/definitions/marketing_emails_stream"
  - "#/definitions/email_subscriptions_stream"

# HubSpot account is limited to 110 requests every 10 seconds https://developers.hubspot.com/docs/guides/apps/api-usage/usage-details#rate-limits
concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: "{{ config.get('num_workers', 3) }}"
  max_concurrency: 40

schemas:
  marketing_emails:
    $schema: http://json-schema.org/draft-07/schema#
    type:
      - "null"
      - object
    properties:
      id:
        type:
          - "null"
          - integer
      ab:
        type:
          - "null"
          - boolean
      abHoursToWait:
        type:
          - "null"
          - integer
      abSampleSizeDefault:
        type:
          - "null"
          - string
      abSamplingDefault:
        type:
          - "null"
          - string
      abStatus:
        type:
          - "null"
          - string
      abSuccessMetric:
        type:
          - "null"
          - string
      abTestPercentage:
        type:
          - "null"
          - integer
      abVariation:
        type:
          - "null"
          - boolean
      absoluteUrl:
        type:
          - "null"
          - string
      aifeatures:
        type:
          - "null"
          - object
      allEmailCampaignIds:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      analyticsPageId:
        type:
          - "null"
          - string
      analyticsPageType:
        type:
          - "null"
          - string
      archived:
        type:
          - "null"
          - boolean
      authorAt:
        type:
          - "null"
          - integer
      authorName:
        type:
          - "null"
          - string
      authorUserId:
        type:
          - "null"
          - integer
      blogEmailType:
        type:
          - "null"
          - string
      campaign:
        type:
          - "null"
          - string
      campaignName:
        type:
          - "null"
          - string
      canSpamSettingsId:
        type:
          - "null"
          - integer
      categoryId:
        type:
          - "null"
          - integer
      clonedFrom:
        type:
          - "null"
          - integer
      contentTypeCategory:
        type:
          - "null"
          - integer
      createPage:
        type:
          - "null"
          - boolean
      created:
        type:
          - "null"
          - integer
      createdById:
        type:
          - "null"
          - integer
      currentState:
        type:
          - "null"
          - string
      currentlyPublished:
        type:
          - "null"
          - boolean
      customReplyTo:
        type:
          - "null"
          - string
      customReplyToEnabled:
        type:
          - "null"
          - boolean
      domain:
        type:
          - "null"
          - string
      emailBody:
        type:
          - "null"
          - string
      emailNote:
        type:
          - "null"
          - string
      emailTemplateMode:
        type:
          - "null"
          - string
      emailType:
        type:
          - "null"
          - string
      emailbodyPlaintext:
        description: Plain text version of the email body
        type:
          - "null"
          - string
      feedbackEmailCategory:
        description: Category for feedback related to the email
        type:
          - "null"
          - string
      feedbackSurveyId:
        description: ID of the feedback survey linked to the email
        type:
          - "null"
          - integer
      folderId:
        description: ID of the folder where the email is stored
        type:
          - "null"
          - integer
      freezeDate:
        description: Date when the email content was finalized
        type:
          - "null"
          - integer
      fromName:
        description: Name of the sender displayed in the email
        type:
          - "null"
          - string
      htmlTitle:
        description: HTML title of the email
        type:
          - "null"
          - string
      isGraymailSuppressionEnabled:
        description: Flag indicating if graymail suppression is enabled for the email
        type:
          - "null"
          - boolean
      isLocalTimezoneSend:
        description: Flag indicating if the email is sent based on the local timezone
        type:
          - "null"
          - boolean
      isPublished:
        description: Flag indicating if the email is published
        type:
          - "null"
          - boolean
      isRecipientFatigueSuppressionEnabled:
        description: Flag indicating if recipient fatigue suppression is enabled
        type:
          - "null"
          - boolean
      leadFlowId:
        description: ID of the lead flow associated with the email
        type:
          - "null"
          - integer
      liveDomain:
        description: Domain where the live version of the email is hosted
        type:
          - "null"
          - string
      mailingListsExcluded:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      mailingListsIncluded:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      maxRssEntries:
        description: Maximum number of RSS entries to include in the email
        type:
          - "null"
          - integer
      metaDescription:
        description: Meta description of the email content
        type:
          - "null"
          - string
      name:
        description: Name of the email
        type:
          - "null"
          - string
      pageExpiryEnabled:
        description: Flag indicating if page expiry is enabled for the email
        type:
          - "null"
          - boolean
      pageRedirected:
        description: Information about page redirection
        type:
          - "null"
          - boolean
      portalId:
        description: ID of the HubSpot portal associated with the email
        type:
          - "null"
          - integer
      previewKey:
        description: Key used for email preview
        type:
          - "null"
          - string
      primaryEmailCampaignId:
        description: ID of the primary email campaign associated with the email
        type:
          - "null"
          - integer
      processingStatus:
        description: Status of the email processing
        type:
          - "null"
          - string
      publishDate:
        description: Date when the email is scheduled to be published
        type:
          - "null"
          - integer
      publishedById:
        description: ID of the user who published the email
        type:
          - "null"
          - integer
      publishedByName:
        description: Name of the user who published the email
        type:
          - "null"
          - string
      publishImmediately:
        description: Flag indicating if the email should be published immediately
        type:
          - "null"
          - boolean
      publishedUrl:
        description: URL where the published email can be accessed
        type:
          - "null"
          - string
      replyTo:
        description: Email address for replies to the email
        type:
          - "null"
          - string
      resolvedDomain:
        description: Domain resolved for the email
        type:
          - "null"
          - string
      rootMicId:
        description: Root MIC ID associated with the email
        type:
          - "null"
          - string
      selected:
        description: Flag indicating if the email is selected
        type:
          - "null"
          - integer
      slug:
        description: Slug associated with the email
        type:
          - "null"
          - string
      smartEmailFields:
        description: Fields related to smart email features
        type:
          - "null"
          - object
      state:
        description: Current state of the email
        type:
          - "null"
          - string
      stats:
        type:
          - "null"
          - object
        properties:
          counters:
            type:
              - "null"
              - object
            properties:
              sent:
                type:
                  - "null"
                  - integer
              open:
                type:
                  - "null"
                  - integer
              delivered:
                type:
                  - "null"
                  - integer
              bounce:
                type:
                  - "null"
                  - integer
              unsubscribed:
                type:
                  - "null"
                  - integer
              click:
                type:
                  - "null"
                  - integer
              reply:
                type:
                  - "null"
                  - integer
              dropped:
                type:
                  - "null"
                  - integer
              selected:
                type:
                  - "null"
                  - integer
              spamreport:
                type:
                  - "null"
                  - integer
              suppressed:
                type:
                  - "null"
                  - integer
              hardbounced:
                type:
                  - "null"
                  - integer
              softbounced:
                type:
                  - "null"
                  - integer
              pending:
                type:
                  - "null"
                  - integer
              contactslost:
                type:
                  - "null"
                  - integer
              notsent:
                type:
                  - "null"
                  - integer
          deviceBreakdown:
            type:
              - "null"
              - object
            properties:
              open_device_type:
                type:
                  - "null"
                  - object
                properties:
                  computer:
                    type:
                      - "null"
                      - integer
                  mobile:
                    type:
                      - "null"
                      - integer
                  unknown:
                    type:
                      - "null"
                      - integer
              click_device_type:
                type:
                  - "null"
                  - object
                properties:
                  computer:
                    type:
                      - "null"
                      - integer
                  mobile:
                    type:
                      - "null"
                      - integer
                  unknown:
                    type:
                      - "null"
                      - integer
          failedToLoad:
            type:
              - "null"
              - boolean
          qualifierStats:
            type:
              - "null"
              - object
          ratios:
            type:
              - "null"
              - object
            properties:
              clickratio:
                type:
                  - "null"
                  - number
              clickthroughratio:
                type:
                  - "null"
                  - number
              deliveredratio:
                type:
                  - "null"
                  - number
              openratio:
                type:
                  - "null"
                  - number
              replyratio:
                type:
                  - "null"
                  - number
              unsubscribedratio:
                type:
                  - "null"
                  - number
              spamreportratio:
                type:
                  - "null"
                  - number
              bounceratio:
                type:
                  - "null"
                  - number
              hardbounceratio:
                type:
                  - "null"
                  - number
              softbounceratio:
                type:
                  - "null"
                  - number
              contactslostratio:
                type:
                  - "null"
                  - number
              pendingratio:
                type:
                  - "null"
                  - number
              notsentratio:
                type:
                  - "null"
                  - number
      subcategory:
        description: Subcategory to which the email belongs
        type:
          - "null"
          - string
      subject:
        description: Subject line of the email
        type:
          - "null"
          - string
      subscription:
        description: Information about email subscription
        type:
          - "null"
          - integer
      subscriptionName:
        description: Name of the email subscription
        type:
          - "null"
          - string
      templatePath:
        description: Path of the email template
        type:
          - "null"
          - string
      transactional:
        description: Flag indicating if the email is transactional
        type:
          - "null"
          - boolean
      unpublishedAt:
        description: Timestamp when the email was unpublished
        type:
          - "null"
          - integer
      updated:
        description: Timestamp of the last update to the email
        type:
          - "null"
          - integer
      updatedById:
        description: ID of the user who last updated the email
        type:
          - "null"
          - integer
      url:
        description: URL associated with the email
        type:
          - "null"
          - string
      useRssHeadlineAsSubject:
        description: Flag indicating if the RSS headline should be used as the subject
        type:
          - "null"
          - boolean
      vidsExcluded:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      vidsIncluded:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      publishedByEmail:
        description: Email address of the user who published the email
        type:
          - "null"
          - string
      sections:
        description: Sections within the email
        type:
          - "null"
          - object
      author:
        description: Author of the email
        type:
          - "null"
          - string
      isCreatedFomSandboxSync:
        description: Flag indicating if the email was created from a sandbox sync
        type:
          - "null"
          - boolean
      rssEmailUrl:
        description: URL for RSS emails
        type:
          - "null"
          - string
      teamPerms:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      securityState:
        description: Security state of the email
        type:
          - "null"
          - string
      isInstanceLayoutPage:
        description: Flag indicating if the email is a layout page in an instance
        type:
          - "null"
          - boolean
      audienceAccess:
        description: Information about who has access to view the email
        type:
          - "null"
          - string
      campaignUtm:
        description: UTM parameters for campaign tracking
        type:
          - "null"
          - string
      contentAccessRuleTypes:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      pastMabExperimentIds:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      rssEmailClickThroughText:
        description: Text for click-through actions in RSS emails
        type:
          - "null"
          - string
      rssEmailImageMaxWidth:
        description: Maximum width of images in RSS emails
        type:
          - "null"
          - integer
      flexAreas:
        type:
          - "null"
          - object
        properties:
          main:
            type:
              - "null"
              - object
            properties:
              boxed:
                type:
                  - "null"
                  - boolean
              isSingleColumnFullWidth:
                type:
                  - "null"
                  - boolean
              sections:
                type:
                  - "null"
                  - array
                items:
                  type:
                    - "null"
                    - object
                  properties:
                    columns:
                      type:
                        - "null"
                        - array
                      items:
                        type:
                          - "null"
                          - object
                        properties:
                          id:
                            type:
                              - "null"
                              - string
                          widgets:
                            type:
                              - "null"
                              - array
                            items:
                              type:
                                - "null"
                                - string
                          width:
                            type:
                              - "null"
                              - integer
                    id:
                      type:
                        - "null"
                        - string
                    style:
                      type:
                        - "null"
                        - object
                      properties:
                        backgroundColor:
                          type:
                            - "null"
                            - string
                        backgroundType:
                          type:
                            - "null"
                            - string
                        paddingBottom:
                          type:
                            - "null"
                            - string
                        paddingTop:
                          type:
                            - "null"
                            - string
      emailCampaignGroupId:
        description: Group ID associated with the email campaign
        type:
          - "null"
          - integer
      layoutSections:
        description: Sections within the email layout
        type:
          - "null"
          - object
      blogRssSettings:
        description: Settings related to blog RSS integration
        type:
          - "null"
          - string
      archivedInDashboard:
        description: Flag indicating if the email was archived in the dashboard
        type:
          - "null"
          - boolean
      publishedAt:
        description: Timestamp when the email was published
        type:
          - "null"
          - integer
      lastEditUpdateId:
        description: Update ID of the last edit made to the email
        type:
          - "null"
          - integer
      lastEditSessionId:
        description: Session ID of the last edit made to the email
        type:
          - "null"
          - integer
      styleSettings:
        type:
          - "null"
          - object
        properties:
          background_color:
            type:
              - "null"
              - string
          background_image:
            type:
              - "null"
              - string
          background_image_type:
            type:
              - "null"
              - string
          body_border_color:
            type:
              - "null"
              - string
          body_border_color_choice:
            type:
              - "null"
              - string
          body_border_width:
            type:
              - "null"
              - string
          body_color:
            type:
              - "null"
              - string
          color_picker_favorite1:
            type:
              - "null"
              - string
          color_picker_favorite2:
            type:
              - "null"
              - string
          color_picker_favorite3:
            type:
              - "null"
              - string
          color_picker_favorite4:
            type:
              - "null"
              - string
          color_picker_favorite5:
            type:
              - "null"
              - string
          color_picker_favorite6:
            type:
              - "null"
              - string
          email_body_padding:
            type:
              - "null"
              - string
          email_body_width:
            type:
              - "null"
              - string
          heading_one_font:
            type:
              - "null"
              - object
            properties:
              bold:
                type:
                  - "null"
                  - boolean
              color:
                type:
                  - "null"
                  - string
              font:
                type:
                  - "null"
                  - string
              font_style:
                type:
                  - "null"
                  - object
              italic:
                type:
                  - "null"
                  - boolean
              size:
                type:
                  - "null"
                  - string
              underline:
                type:
                  - "null"
                  - boolean
          heading_two_font:
            type:
              - "null"
              - object
            properties:
              bold:
                type:
                  - "null"
                  - boolean
              color:
                type:
                  - "null"
                  - string
              font:
                type:
                  - "null"
                  - string
              font_style:
                type:
                  - "null"
                  - object
              italic:
                type:
                  - "null"
                  - boolean
              size:
                type:
                  - "null"
                  - string
              underline:
                type:
                  - "null"
                  - boolean
          links_font:
            type:
              - "null"
              - object
            properties:
              bold:
                type:
                  - "null"
                  - boolean
              color:
                type:
                  - "null"
                  - string
              font:
                type:
                  - "null"
                  - string
              font_style:
                type:
                  - "null"
                  - object
              italic:
                type:
                  - "null"
                  - boolean
              size:
                type:
                  - "null"
                  - string
              underline:
                type:
                  - "null"
                  - boolean
          primary_accent_color:
            type:
              - "null"
              - string
          primary_font:
            type:
              - "null"
              - string
          primary_font_color:
            type:
              - "null"
              - string
          primary_font_line_height:
            type:
              - "null"
              - string
          primary_font_size:
            type:
              - "null"
              - string
          secondary_accent_color:
            type:
              - "null"
              - string
          secondary_font:
            type:
              - "null"
              - string
          secondary_font_color:
            type:
              - "null"
              - string
          secondary_font_line_height:
            type:
              - "null"
              - string
          secondary_font_size:
            type:
              - "null"
              - string
          use_email_client_default_settings:
            type:
              - "null"
              - boolean
          user_module_defaults:
            type:
              - "null"
              - object
            properties:
              button_email:
                type:
                  - "null"
                  - object
                properties:
                  background_color:
                    type:
                      - "null"
                      - string
                  corner_radius:
                    type:
                      - "null"
                      - integer
                  font:
                    type:
                      - "null"
                      - string
                  font_color:
                    type:
                      - "null"
                      - string
                  font_size:
                    type:
                      - "null"
                      - integer
                  font_style:
                    type:
                      - "null"
                      - object
              email_divider:
                type:
                  - "null"
                  - object
                properties:
                  color:
                    type:
                      - "null"
                      - object
                  height:
                    type:
                      - "null"
                      - integer
                  line_type:
                    type:
                      - "null"
                      - string
      visibleToAll:
        description: Flag indicating if the email is visible to all users
        type:
          - "null"
          - boolean
      language:
        description: Language in which the email is written
        type:
          - "null"
          - string
      rssEmailByText:
        description: Text content related to RSS emails
        type:
          - "null"
          - string
      rssEmailCommentText:
        description: Text for comments in RSS emails
        type:
          - "null"
          - string
      hasContentAccessRules:
        description: Indicates if the email has content access rules applied
        type:
          - "null"
          - boolean
      archivedAt:
        description: Timestamp when the email was archived
        type:
          - "null"
          - integer
      translations:
        description: Translations available for the email
        type:
          - "null"
          - object
      userPerms:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      contentAccessRuleIds:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      rssEmailEntryTemplateEnabled:
        description: Flag indicating if the RSS email entry template is enabled
        type:
          - "null"
          - boolean
      mailingIlsListsExcluded:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
      mailingIlsListsIncluded:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - integer
    additionalProperties: true

  email_subscriptions:
    $schema: http://json-schema.org/draft-07/schema#
    type:
      - "null"
      - object
    additionalProperties: true
    properties:
      active:
        description: Indicates whether the subscription is currently active or not
        type:
          - "null"
          - boolean
      portalId:
        description: The unique identifier for the portal associated with the subscription
        type:
          - "null"
          - integer
      description:
        description: Additional information or details about the subscription
        type:
          - "null"
          - string
      id:
        description: The unique identifier for the subscription
        type:
          - "null"
          - integer
      name:
        description: The display name of the subscription
        type:
          - "null"
          - string
      order:
        description: The order in which the subscription is displayed or processed
        type:
          - "null"
          - integer
      businessUnitId:
        description:
          The unique identifier for the business unit associated with the
          subscription
        type:
          - "null"
          - integer
      internal:
        description: Indicates whether the subscription is for internal use only
        type:
          - "null"
          - boolean
      internalName:
        description: The internal name for the subscription
        type:
          - "null"
          - string
      category:
        description: The category to which the subscription belongs
        type:
          - "null"
          - string
      channel:
        description: The communication channel through which the subscription is managed
        type:
          - "null"
          - string
