@use "scss/colors";
@use "scss/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.heading {
  max-width: 386px;

  strong {
    color: colors.$orange;
  }
}

.illustration {
  position: relative;
  width: 592px;
  height: 276px;
  pointer-events: none;
  user-select: none;
}

.octavia {
  max-height: 203px;
  max-width: 100%;
  z-index: 1;
}

.bowtie {
  position: absolute;

  &.right {
    right: 0;
    transform: scaleX(-1);
  }

  &.left {
    left: 0;
  }
}

.footer {
  margin-top: variables.$spacing-xl;
}
