version: 6.33.0

type: DeclarativeSource

description: >-
  Granola is an AI-powered meeting notes tool. This connector reads meeting
  notes from your Granola workspace using the Granola API.

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 6

# Granola API rate limits (per workspace):
# https://docs.granola.ai/api-reference/changelog
# Burst: 25 requests per 5-second window
# Sustained: 5 requests/second (300/minute)
api_budget:
  type: HTTPAPIBudget
  policies:
    - type: MovingWindowCallRatePolicy
      rates:
        - limit: 25
          interval: PT5S
      matchers: []

check:
  type: CheckStream
  stream_names:
    - notes

definitions:
  streams:
    notes:
      type: DeclarativeStream
      name: notes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/notes
          http_method: GET
          request_parameters:
            page_size: "30"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - notes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('cursor', '') }}"
            stop_condition: "{{ not response.get('cursor') or not response.get('hasMore', False) }}"
      # Slice bounds are second-granular date-times, not dates: the API treats
      # created_before=<date> as excluding that whole day, so day-truncated bounds
      # dropped every record created on a slice boundary day. "%Y-%m-%d" stays in
      # cursor_datetime_formats so date-only state from earlier versions still parses.
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', (now_utc() - duration('P730D')).strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: created_after
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: created_before
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P30D
        cursor_granularity: PT1S
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/notes"

    detailed_notes:
      type: DeclarativeStream
      name: detailed_notes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/notes/{{ stream_partition.note_id }}
          http_method: GET
          request_parameters:
            include: transcript
          # Granola refuses to return oversized transcripts inline and answers 413
          # TRANSCRIPT_TOO_LARGE. Skip the note here instead of failing the sync; the
          # full transcript is available from the note_transcripts stream.
          error_handler:
            $ref: "#/definitions/base_error_handler"
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 413
                action: IGNORE
                error_message: >-
                  Skipping a note in detailed_notes because its transcript is too large to
                  be returned inline. Sync the note_transcripts stream to replicate this
                  transcript.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: note_id
              stream:
                $ref: "#/definitions/streams/notes"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/detailed_notes"

    note_transcripts:
      type: DeclarativeStream
      name: note_transcripts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/notes/{{ stream_partition.note_id }}/transcript
          http_method: GET
          request_parameters:
            page_size: "100"
          # A note listed by the parent stream can be deleted, unshared, or fall out of
          # the API key's scope before its transcript partition runs, and Granola answers
          # 404 on this path. Skip that note instead of failing every remaining transcript.
          error_handler:
            $ref: "#/definitions/base_error_handler"
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 404
                action: IGNORE
                error_message: >-
                  Skipping a note in note_transcripts because Granola no longer returns a
                  transcript for it. The note was likely deleted or unshared during the sync.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - transcript
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('cursor', '') }}"
            stop_condition: "{{ not response.get('cursor') or not response.get('hasMore', False) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: note_id
              stream:
                $ref: "#/definitions/streams/notes"
      transformations:
        - type: AddFields
          fields:
            - path:
                - note_id
              value: "{{ stream_partition.note_id }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/note_transcripts"

  base_error_handler:
    type: DefaultErrorHandler
    max_retries: 5
    backoff_strategies:
      - type: WaitTimeFromHeader
        header: Retry-After
        max_waiting_time_in_seconds: 60
      - type: ExponentialBackoffStrategy
        factor: 5

  base_requester:
    type: HttpRequester
    url_base: https://public-api.granola.ai
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config['api_key'] }}"
    # Prefer Retry-After when present; otherwise use exponential backoff.
    error_handler:
      $ref: "#/definitions/base_error_handler"

streams:
  - $ref: "#/definitions/streams/notes"
  - $ref: "#/definitions/streams/detailed_notes"
  - $ref: "#/definitions/streams/note_transcripts"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        description: >-
          Your Granola API key. For a personal key, open the Granola desktop app
          and go to Settings > Connectors > API keys > Create new key. For an
          Enterprise API key, go to Settings > API > Create new key. On Enterprise
          plans, workspace admins must enable "Allow personal API keys" in
          Settings > Workspace > General before personal keys can be created.
        airbyte_secret: true
        order: 0
      start_date:
        type: string
        title: Start Date
        description: >-
          The earliest date from which to start replicating notes, in YYYY-MM-DD
          format.
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        pattern_descriptor: "YYYY-MM-DD"
        examples:
          - "2024-01-01"
        format: date
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    notes: false
    detailed_notes: false
    note_transcripts: false

schemas:
  notes:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      id:
        type: string
        description: The unique identifier of the note.
      object:
        type: string
        description: The object type, always "note".
      title:
        type:
          - "null"
          - string
        description: The title of the note.
      owner:
        type:
          - "null"
          - object
        description: The owner of the note.
        properties:
          name:
            type:
              - "null"
              - string
            description: The name of the note owner.
          email:
            type:
              - "null"
              - string
            description: The email address of the note owner.
      created_at:
        type: string
        description: The creation time of the note in ISO 8601 format.
        format: date-time
    additionalProperties: true
    required:
      - id

  note_transcripts:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      note_id:
        type: string
        description: The unique identifier of the note the transcript segment belongs to.
      speaker:
        type:
          - "null"
          - object
        description: Speaker information.
        properties:
          source:
            type:
              - "null"
              - string
            description: Source of the speaker (microphone or speaker).
          attribution:
            type:
              - "null"
              - string
            description: >-
              Who the segment is attributed to: "me" for the note's owner, "them" for
              other meeting participants. Omitted when the attribution is unknown.
          diarization_label:
            type:
              - "null"
              - string
            description: >-
              Diarized anonymous speaker label, such as "Speaker A". Present only on iOS
              transcripts when diarization is available.
          name:
            type:
              - "null"
              - string
            description: >-
              Resolved name of the identified speaker, such as "Alice Smith". Present
              only when a speaker could be identified.
      text:
        type:
          - "null"
          - string
        description: Transcript text content.
      start_time:
        type:
          - "null"
          - string
        format: date-time
        description: Start time of the transcript segment.
      end_time:
        type:
          - "null"
          - string
        format: date-time
        description: End time of the transcript segment.
    additionalProperties: true
    required:
      - note_id

  detailed_notes:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      id:
        type: string
        description: The unique identifier of the note.
      object:
        type:
          - "null"
          - string
        description: The object type, always "note".
      title:
        type:
          - "null"
          - string
        description: The title of the note.
      owner:
        type:
          - "null"
          - object
        description: The owner of the note.
        properties:
          name:
            type:
              - "null"
              - string
            description: The name of the note owner.
          email:
            type:
              - "null"
              - string
            description: The email address of the note owner.
      created_at:
        type:
          - "null"
          - string
        description: The creation time of the note in ISO 8601 format.
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        description: The last update time of the note in ISO 8601 format.
        format: date-time
      calendar_event:
        type:
          - "null"
          - object
        description: Associated calendar event details.
        properties:
          event_title:
            type:
              - "null"
              - string
            description: Title of the calendar event.
          invitees:
            type:
              - "null"
              - array
            description: List of calendar event invitees.
            items:
              type: object
              properties:
                email:
                  type:
                    - "null"
                    - string
                  description: Email of the invitee.
          organiser:
            type:
              - "null"
              - string
            description: Email of the event organiser.
          calendar_event_id:
            type:
              - "null"
              - string
            description: Calendar event identifier.
          scheduled_start_time:
            type:
              - "null"
              - string
            format: date-time
            description: Scheduled start time of the event.
          scheduled_end_time:
            type:
              - "null"
              - string
            format: date-time
            description: Scheduled end time of the event.
      attendees:
        type:
          - "null"
          - array
        description: The attendees of the meeting.
        items:
          type: object
          properties:
            name:
              type:
                - "null"
                - string
              description: Name of the attendee.
            email:
              type:
                - "null"
                - string
              description: Email of the attendee.
      folder_membership:
        type:
          - "null"
          - array
        description: The folder membership of the note.
        items:
          type: object
          properties:
            id:
              type:
                - "null"
                - string
              description: Unique folder identifier.
            object:
              type:
                - "null"
                - string
              description: Object type (folder).
            name:
              type:
                - "null"
                - string
              description: Name of the folder.
      summary_text:
        type:
          - "null"
          - string
        description: Plain text summary of the note.
      summary_markdown:
        type:
          - "null"
          - string
        description: Markdown formatted summary of the note.
      transcript:
        type:
          - "null"
          - array
        description: Transcript of the meeting.
        items:
          type: object
          properties:
            speaker:
              type:
                - "null"
                - object
              description: Speaker information.
              properties:
                source:
                  type:
                    - "null"
                    - string
                  description: Source of the speaker (microphone or speaker).
            text:
              type:
                - "null"
                - string
              description: Transcript text content.
            start_time:
              type:
                - "null"
                - string
              format: date-time
              description: Start time of the transcript segment.
            end_time:
              type:
                - "null"
                - string
              format: date-time
              description: End time of the transcript segment.
    additionalProperties: true
    required:
      - id
