@use "scss/variables";
@use "scss/colors";

.menuList {
  padding: 10px 16px;
  margin-top: 10px;
  max-width: 300px;
  color: colors.$blue-300;
  border-top: solid colors.$dark-blue-50 1px;

  :first-child {
    padding-right: 8px;
  }

  :last-child {
    font-size: variables.$spacing-lg;
  }
}

.reactSelectContainer {
  width: 300px;

  & .option {
    display: flex;
    align-items: center;
    padding: 6px 20px 6px 6px;
    margin: 0 10px;
    max-width: 280px;
    font-weight: 500;
    color: colors.$black;
    border-radius: 10px;
    cursor: pointer;
  }
}

.flag {
  padding: 9px 6px;
  border-radius: 7px;
  background-color: colors.$white;
  display: flex;
  align-items: center;
}

.label {
  padding-left: 8px;
}

.optionLabel {
  display: flex;
  align-items: center;
  font-weight: 500;
}

/* stylelint-disable no-descending-specificity */
:global(.reactSelect__option--is-focused).option {
  background-color: colors.$grey-50;

  &:active {
    background-color: colors.$grey-50;
  }
}

:global(.reactSelect__option--is-selected).option {
  background-color: colors.$blue-50;

  &:active {
    background-color: colors.$blue-50;
  }
}
/* stylelint-enable no-descending-specificity */
