version: 0.58.8
type: DeclarativeSource

definitions:
  # Authenticators
  bearer_authenticator:
    type: BearerAuthenticator
    api_token: "{{ config['credentials']['access_token'] }}"
  # TODO: oauth doesn't work - see Typeform
  oauth_authenticator:
    type: OAuthAuthenticator
    client_id: "{{ config['credentials']['client_id'] }}"
    client_secret: "{{ config['credentials']['client_secret'] }}"
    refresh_token: "{{ config['credentials']['refresh_token'] }}"
    token_refresh_endpoint: "https://{{ config.get('api_url', 'gitlab.com') }}/oauth/token"
  authenticator:
    type: SelectiveAuthenticator
    authenticator_selection_path: ["credentials", "auth_type"]
    authenticators:
      oauth2.0: "#/definitions/oauth_authenticator"
      access_token: "#/definitions/bearer_authenticator"

  # Requester
  requester:
    type: HttpRequester
    url_base: >-
      {% set parts = config.get('api_url', 'gitlab.com').split('://') %}
      {{ parts[0] if parts|length > 1 else 'https' }}://{{ parts[1] if parts[1] else parts[0] }}/api/v4/
    http_method: GET
    authenticator: "#/definitions/authenticator"
    error_handler:
      type: DefaultErrorHandler
      response_filters:
        - type: HttpResponseFilter
          action: IGNORE
          http_codes: [403, 404]

  # Selector
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: []

  # Paginator
  paginator:
    type: DefaultPaginator
    pagination_strategy:
      type: PageIncrement
      page_size: 50
      start_from_page: 1
      inject_on_first_request: true
    page_size_option:
      type: RequestOption
      field_name: per_page
      inject_into: request_parameter
    page_token_option:
      type: RequestOption
      field_name: page
      inject_into: request_parameter

  # Retrievers
  retriever:
    type: SimpleRetriever
    record_selector: "#/definitions/selector"
    requester: "#/definitions/requester"
    paginator: "#/definitions/paginator"

  group_streams_retriever:
    $ref: "#/definitions/retriever"
    partition_router:
      type: CustomPartitionRouter
      class_name: source_gitlab.components.partition_routers.GroupStreamsPartitionRouter
      parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: "id"
          stream: "#/definitions/groups_list_stream"
          partition_field: "id"
        - type: ParentStreamConfig
          parent_key: "id"
          stream: "#/definitions/include_descendant_groups_stream"
          partition_field: "id"

  group_child_streams_retriever:
    $ref: "#/definitions/retriever"
    partition_router:
      type: SubstreamPartitionRouter
      parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: "id"
          stream: "#/definitions/groups_stream"
          partition_field: "id"

  projects_streams_retriever:
    $ref: "#/definitions/retriever"
    partition_router:
      type: CustomPartitionRouter
      class_name: source_gitlab.components.partition_routers.ProjectStreamsPartitionRouter
      parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: "id"
          stream: "#/definitions/groups_stream"
          partition_field: "id"

  projects_child_streams_retriever:
    $ref: "#/definitions/retriever"
    partition_router:
      type: SubstreamPartitionRouter
      parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: "id"
          stream: "#/definitions/projects_stream"
          partition_field: "id"

  # Service streams
  base_full_refresh_stream:
    type: DeclarativeStream
    primary_key: "id"

  base_groups_child_stream:
    $ref: "#/definitions/base_full_refresh_stream"
    retriever: "#/definitions/group_child_streams_retriever"

  base_projects_child_stream:
    $ref: "#/definitions/base_full_refresh_stream"
    retriever: "#/definitions/projects_child_streams_retriever"

  groups_list_stream:
    name: "groups_list"
    $ref: "#/definitions/base_full_refresh_stream"
    retriever: "#/definitions/retriever"
    $parameters:
      path: "groups"

  include_descendant_groups_stream:
    name: "include_descendant_groups"
    $ref: "#/definitions/base_full_refresh_stream"
    retriever:
      $ref: "#/definitions/retriever"
      partition_router:
        type: ListPartitionRouter
        cursor_field: "slice"
        values: >-
          {% set slices = [] %}
          {% for group_id in config.get('groups_list', []) %}
          {% set _ = slices.append({'path': 'groups/' + group_id}) %}
          {% set _ = slices.append({'path': 'groups/' + group_id + '/descendant_groups'}) %}
          {% endfor %}
          {{ slices }}
    $parameters:
      path: "{{ stream_slice.slice.path }}"

  # Full refresh streams
  ## Groups-based streams
  groups_stream:
    name: "groups"
    $ref: "#/definitions/base_full_refresh_stream"
    retriever: "#/definitions/group_streams_retriever"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - projects
            value: >-
              {% set projects = [] %}
              {% for project in record.get('projects', []): %}
              {% set _ = projects.append({'id': project['id'], 'path_with_namespace': project['path_with_namespace']}) %}
              {% endfor %}
              {{ projects }}
    $parameters:
      path: "groups/{{ stream_slice.id }}"

  group_milestones_stream:
    name: "group_milestones"
    $ref: "#/definitions/base_groups_child_stream"
    $parameters:
      path: "groups/{{ stream_slice.id }}/milestones"

  group_members_stream:
    name: "group_members"
    $ref: "#/definitions/base_groups_child_stream"
    $parameters:
      path: "groups/{{ stream_slice.id }}/members"

  group_labels_stream:
    name: "group_labels"
    $ref: "#/definitions/base_groups_child_stream"
    $parameters:
      path: "groups/{{ stream_slice.id }}/labels"

  group_issue_boards_stream:
    name: "group_issue_boards"
    $ref: "#/definitions/base_groups_child_stream"
    $parameters:
      path: "groups/{{ stream_slice.id }}/boards"

  epics_stream:
    name: "epics"
    $ref: "#/definitions/base_groups_child_stream"
    primary_key: "iid"
    $parameters:
      path: "groups/{{ stream_slice.id }}/epics"

  epic_issues_stream:
    name: "epic_issues"
    $ref: "#/definitions/base_groups_child_stream"
    primary_key: "iid"
    retriever:
      $ref: "#/definitions/retriever"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: "iid"
            stream: "#/definitions/epics_stream"
            partition_field: "iid"
    $parameters:
      path: "groups/{{ stream_slice.parent_slice.id }}/epics/{{ stream_slice.iid }}/issues"

  ## Projects-based streams
  projects_stream:
    name: "projects"
    $ref: "#/definitions/base_full_refresh_stream"
    retriever: "#/definitions/projects_streams_retriever"
    $parameters:
      path: "projects/{{ stream_slice.id }}"

  project_milestones_stream:
    name: "project_milestones"
    $ref: "#/definitions/base_projects_child_stream"
    $parameters:
      path: "projects/{{ stream_slice.id }}/milestones"

  project_members_stream:
    name: "project_members"
    $ref: "#/definitions/base_projects_child_stream"
    $parameters:
      path: "projects/{{ stream_slice.id }}/members"

  project_labels_stream:
    name: "project_labels"
    $ref: "#/definitions/base_projects_child_stream"
    $parameters:
      path: "projects/{{ stream_slice.id }}/labels"

  branches_stream:
    name: "branches"
    $ref: "#/definitions/base_projects_child_stream"
    primary_key: "name"
    $parameters:
      path: "projects/{{ stream_slice.id }}/repository/branches"

  releases_stream:
    name: "releases"
    $ref: "#/definitions/base_projects_child_stream"
    primary_key: "name"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["project_id"]
            value: "{{ stream_slice.id }}"
    $parameters:
      path: "projects/{{ stream_slice.id }}/releases"

  tags_stream:
    name: "tags"
    $ref: "#/definitions/base_projects_child_stream"
    primary_key: "name"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["project_id"]
            value: "{{ stream_slice.id }}"
    $parameters:
      path: "projects/{{ stream_slice.id }}/repository/tags"

  users_stream:
    name: "users"
    $ref: "#/definitions/base_projects_child_stream"
    primary_key: "name"
    $parameters:
      path: "projects/{{ stream_slice.id }}/users"

  deployments_stream:
    name: "deployments"
    $ref: "#/definitions/base_projects_child_stream"
    primary_key: "name"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["user_username"]
            value: "{{ record.get('user', {}).get('username') }}"
          - type: AddedFieldDefinition
            path: ["user_full_name"]
            value: "{{ record.get('user', {}).get('name') }}"
          - type: AddedFieldDefinition
            path: ["environment_name"]
            value: "{{ record.get('environment', {}).get('name') }}"
          - type: AddedFieldDefinition
            path: ["project_id"]
            value: "{{ stream_slice.id }}"
    $parameters:
      path: "projects/{{ stream_slice.id }}/deployments"

streams:
  # Groups-based streams
  - "#/definitions/groups_stream"
  - "#/definitions/group_milestones_stream"
  - "#/definitions/group_members_stream"
  - "#/definitions/group_labels_stream"
  - "#/definitions/group_issue_boards_stream"
  - "#/definitions/epics_stream"
  - "#/definitions/epic_issues_stream"

  # Projects-based streams
  - "#/definitions/projects_stream"
  - "#/definitions/project_milestones_stream"
  - "#/definitions/project_members_stream"
  - "#/definitions/project_labels_stream"
  - "#/definitions/branches_stream"
  - "#/definitions/releases_stream"
  - "#/definitions/tags_stream"
  - "#/definitions/users_stream"
  - "#/definitions/deployments_stream"

check:
  # TODO: does not match the reality
  type: CheckStream
  stream_names:
    - groups
