version: 0.50.2
type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - activity

streams:
  - type: DeclarativeStream
    name: activity
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['company'] }}.hellobaton.com/api/
        path: activity
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: api_key
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next", {}) }}'
          stop_condition: '{{ not response.get("next", {}) }}'
  - type: DeclarativeStream
    name: companies
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['company'] }}.hellobaton.com/api/
        path: companies
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: api_key
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next", {}) }}'
          stop_condition: '{{ not response.get("next", {}) }}'
  - type: DeclarativeStream
    name: milestones
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['company'] }}.hellobaton.com/api/
        path: milestones
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: api_key
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next", {}) }}'
          stop_condition: '{{ not response.get("next", {}) }}'
  - type: DeclarativeStream
    name: phases
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['company'] }}.hellobaton.com/api/
        path: phases
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: api_key
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next", {}) }}'
          stop_condition: '{{ not response.get("next", {}) }}'
  - type: DeclarativeStream
    name: project_attachments
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['company'] }}.hellobaton.com/api/
        path: project_attachments
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: api_key
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next", {}) }}'
          stop_condition: '{{ not response.get("next", {}) }}'
  - type: DeclarativeStream
    name: projects
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['company'] }}.hellobaton.com/api/
        path: projects
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: api_key
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next", {}) }}'
          stop_condition: '{{ not response.get("next", {}) }}'
  - type: DeclarativeStream
    name: tasks
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['company'] }}.hellobaton.com/api/
        path: tasks
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: api_key
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next", {}) }}'
          stop_condition: '{{ not response.get("next", {}) }}'
  - type: DeclarativeStream
    name: task_attachments
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['company'] }}.hellobaton.com/api/
        path: task_attachments
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: api_key
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next", {}) }}'
          stop_condition: '{{ not response.get("next", {}) }}'
  - type: DeclarativeStream
    name: templates
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['company'] }}.hellobaton.com/api/
        path: templates
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: api_key
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next", {}) }}'
          stop_condition: '{{ not response.get("next", {}) }}'
  - type: DeclarativeStream
    name: time_entries
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['company'] }}.hellobaton.com/api/
        path: time_entries
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: api_key
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next", {}) }}'
          stop_condition: '{{ not response.get("next", {}) }}'
  - type: DeclarativeStream
    name: users
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://{{ config['company'] }}.hellobaton.com/api/
        path: users
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: api_key
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: page_size
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: '{{ response.get("next", {}) }}'
          stop_condition: '{{ not response.get("next", {}) }}'

spec:
  documentation_url: https://example.org
  type: Spec
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: false
    required:
      - api_key
      - company
    properties:
      api_key:
        type: string
        title: API Key
        description: "authentication key required to access the api endpoints"
        airbyte_secret: true
        order: 0
      company:
        title: company
        description: Company name that generates your base api url
        examples: ["google", "facebook", "microsoft"]
        type: string
        order: 1
