export SNOWFLAKE_ACCOUNT="GZ45853"
export SNOWFLAKE_REGION="us-east-2.aws"
export SNOWFLAKE_USER='airbytetester'
export SNOWFLAKE_PASSWORD="$(lpass show "Snowflake Oauth integration test account" --password)"
