@use "../../../scss/colors";
@use "../../../scss/variables";

.container {
  font-size: 12px;
  line-height: 15px;
  color: colors.$grey;
}

.details > *:not(:last-child)::after {
  content: "|";
  padding: 0 variables.$spacing-sm;
}

.failedMessage {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
