version: 5.17.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - streams

definitions:
  error_handler:
    type: DefaultErrorHandler
    #    max_retries: 5
    response_filters:
      - http_codes: [400]
        action: IGNORE
        error_message: "Skip current AdGroup because it does not support request {response.request.url} for current profile"
      - http_codes: [422]
        action: IGNORE
        error_message: "Skip current AdGroup because the ad group {json.loads(response.request.body)['adGroupId']} does not have any asins"
      - http_codes: [404]
        action: IGNORE
        error_message: "Skip current AdGroup because the specified ad group has no associated bid"

  oauth_authenticator:
    type: OAuthAuthenticator
    refresh_request_body: {}
    token_refresh_endpoint: "https://api.amazon.com/auth/o2/token"
    grant_type: refresh_token
    client_id: '{{ config["client_id"] }}'
    client_secret: '{{ config["client_secret"] }}'
    refresh_token: '{{ config["refresh_token"] }}'
  base_requester:
    type: HttpRequester
    url_base: >-
      {% set URL_MAPPING = {
          "NA": "https://advertising-api.amazon.com/",
          "EU": "https://advertising-api-eu.amazon.com/",
          "FE": "https://advertising-api-fe.amazon.com/"
      } %}
      {{ URL_MAPPING[config["region"]] }}
    authenticator: "#/definitions/oauth_authenticator"
    request_headers:
      Amazon-Advertising-API-ClientId: '{{ config["client_id"] }}'
  offset_paginator:
    type: "DefaultPaginator"
    pagination_strategy:
      type: OffsetIncrement
      page_size: 100
    page_size_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: count
    page_token_option:
      type: RequestOption
      field_name: startIndex
      inject_into: request_parameter
  streams:
    profiles:
      type: DeclarativeStream
      name: profiles
      primary_key:
        - profileId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/profiles?profileTypeFilter=seller,vendor
          http_method: GET
          use_cache: true
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: NoPagination

    profiles_filtered:
      type: DeclarativeStream
      name: profiles
      primary_key:
        - profileId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/profiles?profileTypeFilter=seller,vendor
          http_method: GET
          use_cache: true
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
          record_filter:
            condition: >-
              {% set requested_profiles = config.get("profiles", []) %}
              {% set requested_marketplace_ids = config.get("marketplace_ids", []) %}
              {{ record["profileId"] in requested_profiles or record["accountInfo"]["marketplaceStringId"] in requested_marketplace_ids if requested_profiles or requested_marketplace_ids else False }}
        paginator:
          type: NoPagination
    portfolios:
      type: DeclarativeStream
      name: portfolios
      primary_key:
        - portfolioId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/portfolios/extended
          http_method: GET
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_slice['profileId'] }}"
            Amazon-Advertising-API-ClientId: '{{ config["client_id"] }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: "profileId"
              stream: "#/definitions/streams/profiles_filtered"
              partition_field: "profileId"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: NoPagination

    sponsored_display_campaigns:
      type: DeclarativeStream
      name: sponsored_display_campaigns
      primary_key:
        - campaignId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sd/campaigns
          http_method: GET
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_slice['profileId'] }}"
            Amazon-Advertising-API-ClientId: '{{ config["client_id"] }}'
          request_params:
            stateFilter: "{{ ','.join(config['state_filter']) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: "profileId"
              stream: "#/definitions/streams/profiles_filtered"
              partition_field: "profileId"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          $ref: "#/definitions/offset_paginator"
    sponsored_display_ad_groups:
      type: DeclarativeStream
      name: sponsored_display_ad_groups
      primary_key:
        - adGroupId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sd/adGroups
          http_method: GET
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_slice['profileId'] }}"
            Amazon-Advertising-API-ClientId: '{{ config["client_id"] }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: "profileId"
              stream: "#/definitions/streams/profiles_filtered"
              partition_field: "profileId"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          $ref: "#/definitions/offset_paginator"
    sponsored_display_product_ads:
      type: DeclarativeStream
      name: sponsored_display_product_ads
      primary_key:
        - adId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sd/productAds
          http_method: GET
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_slice['profileId'] }}"
            Amazon-Advertising-API-ClientId: '{{ config["client_id"] }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: "profileId"
              stream: "#/definitions/streams/profiles_filtered"
              partition_field: "profileId"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          $ref: "#/definitions/offset_paginator"
    sponsored_display_targetings:
      type: DeclarativeStream
      name: sponsored_display_targetings
      primary_key:
        - targetId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sd/targets
          http_method: GET
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_slice['profileId'] }}"
            Amazon-Advertising-API-ClientId: '{{ config["client_id"] }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: "profileId"
              stream: "#/definitions/streams/profiles_filtered"
              partition_field: "profileId"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          $ref: "#/definitions/offset_paginator"
    sponsored_display_creatives:
      type: DeclarativeStream
      name: sponsored_display_creatives
      primary_key:
        - creativeId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sd/creatives
          http_method: GET
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_slice['profileId'] }}"
            Amazon-Advertising-API-ClientId: '{{ config["client_id"] }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: "profileId"
              stream: "#/definitions/streams/profiles_filtered"
              partition_field: "profileId"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          $ref: "#/definitions/offset_paginator"
    sponsored_display_budget_rules:
      type: DeclarativeStream
      name: sponsored_display_budget_rules
      primary_key:
        - ruleId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sp/budgetRules # WHY sp here???
          http_method: GET
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_slice['profileId'] }}"
            Amazon-Advertising-API-ClientId: '{{ config["client_id"] }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: "profileId"
              stream: "#/definitions/streams/profiles_filtered"
              partition_field: "profileId"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: ["budgetRulesForAdvertiserResponse"]
        paginator:
          type: "DefaultPaginator"
          pagination_strategy:
            type: OffsetIncrement
            page_size: 30
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageSize
          page_token_option:
            type: RequestOption
            field_name: startIndex
            inject_into: request_parameter

    sponsored_brands_keywords:
      type: DeclarativeStream
      name: sponsored_brands_keywords
      primary_key:
        - adGroupId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sb/keywords
          http_method: GET
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_slice['profileId'] }}"
            Amazon-Advertising-API-ClientId: '{{ config["client_id"] }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: "profileId"
              stream: "#/definitions/streams/profiles_filtered"
              partition_field: "profileId"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          $ref: "#/definitions/offset_paginator"
    sponsored_brands_campaigns:
      type: DeclarativeStream
      name: sponsored_brands_campaigns
      primary_key:
        - campaignId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sb/v4/campaigns/list
          http_method: POST
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_slice['profileId'] }}"
            Amazon-Advertising-API-ClientId: '{{ config["client_id"] }}'
            Accept: application/vnd.sbcampaignresource.v4+json
            Content-Type: application/vnd.sbcampaignresource.v4+json
          request_body_json:
            stateFilter:
              include: "{{ ','.join(config['state_filter']) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: "profileId"
              stream: "#/definitions/streams/profiles_filtered"
              partition_field: "profileId"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: ["campaigns"]
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: nextToken
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: maxResults
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextToken }}"
    sponsored_brands_ad_groups:
      type: DeclarativeStream
      name: sponsored_brands_ad_groups
      primary_key:
        - adGroupId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sb/v4/adGroups/list
          http_method: POST
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_slice['profileId'] }}"
            Amazon-Advertising-API-ClientId: '{{ config["client_id"] }}'
            Accept: application/vnd.sbadgroupresource.v4+json
            Content-Type: application/vnd.sbadgroupresource.v4+json
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: "profileId"
              stream: "#/definitions/streams/profiles_filtered"
              partition_field: "profileId"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: ["adGroups"]
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: nextToken
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: maxResults
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextToken }}"

    sponsored_product_campaigns:
      type: DeclarativeStream
      name: sponsored_product_campaigns
      primary_key:
        - campaignId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sp/campaigns/list
          http_method: POST
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_slice['profileId'] }}"
            Amazon-Advertising-API-ClientId: '{{ config["client_id"] }}'
            Accept: application/vnd.spCampaign.v3+json
            Content-Type: application/vnd.spCampaign.v3+json
          request_body_json:
            stateFilter:
              include: "{{ ','.join(config['state_filter']) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: "profileId"
              stream: "#/definitions/streams/profiles_filtered"
              partition_field: "profileId"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: ["campaigns"]
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: nextToken
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: maxResults
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextToken }}"
    sponsored_product_ad_groups:
      type: DeclarativeStream
      name: sponsored_product_ad_groups
      primary_key:
        - adGroupId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /sp/adGroups/list
          http_method: POST
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_slice['profileId'] }}"
            Amazon-Advertising-API-ClientId: '{{ config["client_id"] }}'
            Accept: application/vnd.spAdGroup.v3+json
            Content-Type: application/vnd.spAdGroup.v3+json
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: "profileId"
              stream: "#/definitions/streams/profiles_filtered"
              partition_field: "profileId"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: ["adGroups"]
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: nextToken
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: maxResults
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextToken }}"
    sponsored_product_keywords:
      type: DeclarativeStream
      name: sponsored_product_keywords
      primary_key:
        - keywordId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sp/keywords/list
          http_method: POST
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_slice['profileId'] }}"
            Amazon-Advertising-API-ClientId: '{{ config["client_id"] }}'
            Accept: application/vnd.spKeyword.v3+json
            Content-Type: application/vnd.spKeyword.v3+json
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: "profileId"
              stream: "#/definitions/streams/profiles_filtered"
              partition_field: "profileId"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: ["keywords"]
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: nextToken
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: maxResults
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextToken }}"
    sponsored_product_negative_keywords:
      type: DeclarativeStream
      name: sponsored_product_negative_keywords
      primary_key:
        - keywordId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sp/negativeKeywords/list
          http_method: POST
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_slice['profileId'] }}"
            Amazon-Advertising-API-ClientId: '{{ config["client_id"] }}'
            Accept: application/vnd.spNegativeKeyword.v3+json
            Content-Type: application/vnd.spNegativeKeyword.v3+json
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: "profileId"
              stream: "#/definitions/streams/profiles_filtered"
              partition_field: "profileId"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: ["negativeKeywords"]
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: nextToken
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: maxResults
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextToken }}"
    sponsored_product_campaign_negative_keywords:
      type: DeclarativeStream
      name: sponsored_product_campaign_negative_keywords
      primary_key:
        - keywordId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sp/campaignNegativeKeywords/list
          http_method: POST
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_slice['profileId'] }}"
            Amazon-Advertising-API-ClientId: '{{ config["client_id"] }}'
            Accept: application/vnd.spCampaignNegativeKeyword.v3+json
            Content-Type: application/vnd.spCampaignNegativeKeyword.v3+json
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: "profileId"
              stream: "#/definitions/streams/profiles_filtered"
              partition_field: "profileId"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: ["campaignNegativeKeywords"]
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: nextToken
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: maxResults
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextToken }}"
    sponsored_product_ads:
      type: DeclarativeStream
      name: sponsored_product_ads
      primary_key:
        - adId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sp/productAds/list
          http_method: POST
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_slice['profileId'] }}"
            Amazon-Advertising-API-ClientId: '{{ config["client_id"] }}'
            Accept: application/vnd.spProductAd.v3+json
            Content-Type: application/vnd.spProductAd.v3+json
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: "profileId"
              stream: "#/definitions/streams/profiles_filtered"
              partition_field: "profileId"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: ["productAds"]
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: nextToken
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: maxResults
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextToken }}"
    sponsored_product_targetings:
      type: DeclarativeStream
      name: sponsored_product_targetings
      primary_key:
        - targetId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sp/targets/list
          http_method: POST
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_slice['profileId'] }}"
            Amazon-Advertising-API-ClientId: '{{ config["client_id"] }}'
            Accept: application/vnd.spTargetingClause.v3+json
            Content-Type: application/vnd.spTargetingClause.v3+json
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: "profileId"
              stream: "#/definitions/streams/profiles_filtered"
              partition_field: "profileId"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: ["targetingClauses"]
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: nextToken
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: maxResults
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextToken }}"

    sponsored_product_ad_group_bid_recommendations:
      type: DeclarativeStream
      name: sponsored_product_ad_group_bid_recommendations
      primary_key: []
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          error_handler: "#/definitions/error_handler"
          path: /sp/targets/bid/recommendations
          http_method: POST
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_slice['parent']['profileId'] }}"
            Amazon-Advertising-API-ClientId: '{{ config["client_id"] }}'
            Accept: application/vnd.spthemebasedbidrecommendation.v4+json
            Content-Type: application/vnd.spthemebasedbidrecommendation.v4+json
          request_body_json:
            targetingExpressions:
              - type: CLOSE_MATCH
              - type: LOOSE_MATCH
              - type: SUBSTITUTES
              - type: COMPLEMENTS
            adGroupId: '{{ stream_slice["adGroupId"] }}'
            campaignId: '{{ stream_slice.extra_fields["campaignId"] }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: "adGroupId"
              stream: "#/definitions/streams/sponsored_product_ad_groups"
              partition_field: "adGroupId"
              extra_fields:
                - ["campaignId"]
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: ["bidRecommendations"]
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: nextToken
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: maxResults
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextToken }}"

    sponsored_product_ad_group_suggested_keywords:
      type: DeclarativeStream
      name: sponsored_product_ad_group_suggested_keywords
      primary_key: []
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          error_handler: "#/definitions/error_handler"
          path: "v2/sp/adGroups/{{ stream_slice['adGroupId'] }}/suggested/keywords"
          http_method: GET
          request_headers:
            Amazon-Advertising-API-Scope: "{{ stream_slice['parent']['profileId'] }}"
            Amazon-Advertising-API-ClientId: '{{ config["client_id"] }}'
          request_params:
            maxNumSuggestions: 100
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: "adGroupId"
              stream: "#/definitions/streams/sponsored_product_ad_groups"
              partition_field: "adGroupId"
              extra_fields:
                - ["campaignId"]
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: [""]
        paginator:
          type: NoPagination

streams:
  - $ref: "#/definitions/streams/profiles"
  - $ref: "#/definitions/streams/portfolios"

  - $ref: "#/definitions/streams/sponsored_display_campaigns"
  - $ref: "#/definitions/streams/sponsored_display_product_ads"
  - $ref: "#/definitions/streams/sponsored_display_targetings"
  - $ref: "#/definitions/streams/sponsored_display_creatives"
  - $ref: "#/definitions/streams/sponsored_display_budget_rules"

  - $ref: "#/definitions/streams/sponsored_brands_keywords"
  - $ref: "#/definitions/streams/sponsored_brands_campaigns"
  - $ref: "#/definitions/streams/sponsored_brands_ad_groups"

  - $ref: "#/definitions/streams/sponsored_product_campaigns"
  - $ref: "#/definitions/streams/sponsored_product_ad_groups"
  - $ref: "#/definitions/streams/sponsored_product_keywords"
  - $ref: "#/definitions/streams/sponsored_product_negative_keywords"
  - $ref: "#/definitions/streams/sponsored_product_campaign_negative_keywords"
  - $ref: "#/definitions/streams/sponsored_product_ads"
  - $ref: "#/definitions/streams/sponsored_product_targetings"

  - $ref: "#/definitions/streams/sponsored_product_ad_group_bid_recommendations"
  - $ref: "#/definitions/streams/sponsored_product_ad_group_suggested_keywords"
