@use "../../../scss/colors";

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.control {
  padding: 10px;
  flex: 0 0 auto;
  background-color: colors.$dark-blue;
  display: flex;
  // padding-right: 10px;
}

.editorContainer {
  flex: 1 1 0;
}

.exportButton {
  // margin-top: 10px;
  margin-left: auto;
}

:export {
  // Export colors to be used in monaco editor
  tokenString: colors.$white;
  tokenType: colors.$blue-300;
  tokenNumber: colors.$orange-300;
  tokenDelimiter: colors.$yellow-300;
  tokenKeyword: colors.$green-300;
}
