version: 7.0.4

type: DeclarativeSource

description: This connector is designed to load datas from Qobra into your data warehouse.

check:
  type: CheckStream
  stream_names:
    - structure_statement_reporting

definitions:
  streams:
    structure_record_reporting:
      type: DeclarativeStream
      name: structure_record_reporting
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url: https://api.qobra.co/v2/data-structures
          http_method: GET
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              field_name: X-API-Key
              inject_into: header
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
          record_filter:
            type: RecordFilter
            condition: "{{record['type'] == \"record_reporting\"}}"
          schema_normalization: Default
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          properties:
            type:
              type:
                - string
                - "null"
            table_id:
              type:
                - string
                - "null"
            total_records:
              type:
                - number
                - "null"
          additionalProperties: true
      transformations:
        - type: RemoveFields
          field_pointers:
            - - name
            - - links
        - type: KeysReplace
          new: table_id
          old: id
    structure_statement_reporting:
      type: DeclarativeStream
      name: structure_statement_reporting
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url: https://api.qobra.co/v2/data-structures
          http_method: GET
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              field_name: X-API-Key
              inject_into: header
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
          record_filter:
            type: RecordFilter
            condition: "{{record['type'] == \"statement_reporting\"}}"
          schema_normalization: Default
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          properties:
            type:
              type:
                - string
                - "null"
            table_id:
              type:
                - string
                - "null"
            total_records:
              type:
                - number
                - "null"
          additionalProperties: true
      transformations:
        - type: RemoveFields
          field_pointers:
            - - name
            - - links
        - type: KeysReplace
          new: table_id
          old: id
  linked:
    HttpRequester:
      authenticator:
        type: ApiKeyAuthenticator
        api_token: "{{ config['api_key'] }}"
        inject_into:
          type: RequestOption
          field_name: X-API-Key
          inject_into: header
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          field_name: start_id
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 2000
          cursor_value: "{{ response['meta']['next_start_id'] }}"
          stop_condition: "{{ not response['meta']['has_more'] }}"

streams:
  - type: DeclarativeStream
    name: structure_statement_reporting
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: https://api.qobra.co/v2/data-structures
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: X-API-Key
            inject_into: header
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
        record_filter:
          type: RecordFilter
          condition: "{{record['type'] == \"statement_reporting\"}}"
        schema_normalization: Default
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          table_id:
            type:
              - string
              - "null"
          total_records:
            type:
              - number
              - "null"
        additionalProperties: true
    transformations:
      - type: RemoveFields
        field_pointers:
          - - name
          - - links
      - type: KeysReplace
        new: table_id
        old: id
  - type: DeclarativeStream
    name: structure_record_reporting
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: https://api.qobra.co/v2/data-structures
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: X-API-Key
            inject_into: header
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
        record_filter:
          type: RecordFilter
          condition: "{{record['type'] == \"record_reporting\"}}"
        schema_normalization: Default
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          table_id:
            type:
              - string
              - "null"
          total_records:
            type:
              - number
              - "null"
        additionalProperties: true
    transformations:
      - type: RemoveFields
        field_pointers:
          - - name
          - - links
      - type: KeysReplace
        new: table_id
        old: id
  - type: DeclarativeStream
    name: statement_reporting
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          field_name: start_id
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 2000
          cursor_value: "{{ response['meta']['next_start_id'] }}"
          stop_condition: "{{ not response['meta']['has_more'] }}"
      requester:
        type: HttpRequester
        url: >-
          https://api.qobra.co/v2/reporting/{{stream_partition.table_id
          }}/statements
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          header: X-API-Key
          api_token: "{{ config['api_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
        schema_normalization: Default
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              type: DeclarativeStream
              name: structure_statement_reporting
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url: https://api.qobra.co/v2/data-structures
                  http_method: GET
                  authenticator:
                    type: ApiKeyAuthenticator
                    api_token: "{{ config['api_key'] }}"
                    inject_into:
                      type: RequestOption
                      field_name: X-API-Key
                      inject_into: header
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path:
                      - data
                  record_filter:
                    type: RecordFilter
                    condition: "{{record['type'] == \"statement_reporting\"}}"
                  schema_normalization: Default
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    table_id:
                      type:
                        - string
                        - "null"
                    total_records:
                      type:
                        - number
                        - "null"
                  additionalProperties: true
              transformations:
                - type: RemoveFields
                  field_pointers:
                    - - name
                    - - links
                - type: KeysReplace
                  new: table_id
                  old: id
            parent_key: table_id
            partition_field: table_id
            lazy_read_pointer: []
    primary_key: standard.id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - standard.id
          - standard.date
        properties:
          standard.id:
            type: string
          standard.date:
            type: string
          standard.name:
            type:
              - string
              - "null"
          standard.plan:
            type:
              - string
              - "null"
          standard.user:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              email:
                type:
                  - string
                  - "null"
          standard.target:
            type:
              - object
              - "null"
            properties:
              value:
                type:
                  - number
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          standard.payment:
            type:
              - object
              - "null"
            properties:
              value:
                type:
                  - number
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          standard.source_id:
            type:
              - string
              - "null"
          standard.achievement:
            type:
              - object
              - "null"
            properties:
              value:
                type:
                  - number
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          standard.statement_status:
            type:
              - string
              - "null"
          standard.on_target_earning:
            type:
              - object
              - "null"
            properties:
              value:
                type:
                  - number
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          standard.target_achievement:
            type:
              - number
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: standard.date
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%d"
      datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: last_modified_after
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: record_reporting
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          field_name: start_id
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 2000
          cursor_value: "{{ response['meta']['next_start_id'] }}"
          stop_condition: "{{ not response['meta']['has_more'] }}"
      requester:
        type: HttpRequester
        url: >-
          https://api.qobra.co/v2/reporting/{{stream_partition.table_id
          }}/records
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          header: X-API-Key
          api_token: "{{ config['api_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
        schema_normalization: Default
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              type: DeclarativeStream
              name: structure_record_reporting
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url: https://api.qobra.co/v2/data-structures
                  http_method: GET
                  authenticator:
                    type: ApiKeyAuthenticator
                    api_token: "{{ config['api_key'] }}"
                    inject_into:
                      type: RequestOption
                      field_name: X-API-Key
                      inject_into: header
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path:
                      - data
                  record_filter:
                    type: RecordFilter
                    condition: "{{record['type'] == \"record_reporting\"}}"
                  schema_normalization: Default
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    table_id:
                      type:
                        - string
                        - "null"
                    total_records:
                      type:
                        - number
                        - "null"
                  additionalProperties: true
              transformations:
                - type: RemoveFields
                  field_pointers:
                    - - name
                    - - links
                - type: KeysReplace
                  new: table_id
                  old: id
            parent_key: table_id
            partition_field: table_id
            lazy_read_pointer: []
    primary_key: standard.id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - standard.id
          - standard.date
        properties:
          standard.id:
            type: string
          standard.date:
            type: string
          standard.name:
            type:
              - string
              - "null"
          standard.plan:
            type:
              - string
              - "null"
          standard.user:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              email:
                type:
                  - string
                  - "null"
          standard.record:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          standard.source_id:
            type:
              - string
              - "null"
          standard.conversion_date:
            type:
              - string
              - "null"
          standard.statement_status:
            type:
              - string
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: standard.date
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%d"
      datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: last_modified_after
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: data_structure
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: https://api.qobra.co/v2/data-structures
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: X-API-Key
            inject_into: header
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
        schema_normalization: Default
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          links:
            type:
              - object
              - "null"
            properties:
              fields:
                type:
                  - string
                  - "null"
              records:
                type:
                  - string
                  - "null"
          table_id:
            type:
              - string
              - "null"
          total_records:
            type:
              - number
              - "null"
        additionalProperties: true
    transformations:
      - type: KeysReplace
        new: table_id
        old: id

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API key
        airbyte_secret: true
      start_date:
        type: string
        order: 1
        title: start_date
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
    additionalProperties: true

metadata:
  testedStreams:
    data_structure:
      isStale: false
      hasRecords: true
      streamHash: 28740ebd94dbf0f019be2b458c34668ed11c57a9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    record_reporting:
      isStale: false
      hasRecords: true
      streamHash: 5a1b9c9ec3217de8922b6e648fc80f388068bbfc
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    statement_reporting:
      isStale: false
      hasRecords: true
      streamHash: f48eb0fb4fc64c3de6984829bfa222aef44101f6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    structure_record_reporting:
      isStale: false
      hasRecords: true
      streamHash: 3621889d2cb030e5a08023ea60a8923b0a74ea43
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    structure_statement_reporting:
      isStale: false
      hasRecords: true
      streamHash: b701bbd3a0497f25efa0647e8c5c9cc4e2046a1f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    data_structure: true
    record_reporting: true
    statement_reporting: true
    structure_record_reporting: true
    structure_statement_reporting: true

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 1
