version: 7.0.4

type: DeclarativeSource

description: This connector is designed to load datas from Qobra into your data warehouse.

check:
  type: CheckStream
  stream_names:
    - data_structure

definitions:
  linked:
    HttpRequester:
      url_base: https://api.qobra.co/v2/
      authenticator:
        type: ApiKeyAuthenticator
        api_token: "{{ config['api_key'] }}"
        inject_into:
          type: RequestOption
          field_name: X-API-Key
          inject_into: header
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          field_name: start_id
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 2000
          cursor_value: "{{ response['meta']['next_start_id'] }}"
          stop_condition: "{{ not response['meta']['has_more'] }}"

streams:
  - type: DeclarativeStream
    name: data_structure
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: https://api.qobra.co/v2/data-structures
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: X-API-Key
            inject_into: header
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
        schema_normalization: Default
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          links:
            type:
              - object
              - "null"
            properties:
              fields:
                type:
                  - string
                  - "null"
              records:
                type:
                  - string
                  - "null"
          table_id:
            type:
              - string
              - "null"
          total_records:
            type:
              - number
              - "null"
        additionalProperties: true
    transformations:
      - type: KeysReplace
        new: table_id
        old: id

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API key
        airbyte_secret: true
      start_date:
        type: string
        order: 1
        title: start_date
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
    additionalProperties: true

metadata:
  testedStreams:
    data_structure:
      isStale: false
      hasRecords: true
      streamHash: 28740ebd94dbf0f019be2b458c34668ed11c57a9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    record_reporting_68dc0b1f38498785b613a93f:
      isStale: false
      hasRecords: true
      streamHash: 9f2e54538480f42653d5fbded01932ca0e69a09a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    statement_reporting_650970f4ba8ebe498bcfdd62:
      isStale: false
      hasRecords: true
      streamHash: 3e922f59a407873a12ebf1a1a8e93e8f5c121289
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    r: true
    data_structure: true
    record_reporting_template: true
    statement_reporting_template: true

dynamic_streams:
  - type: DynamicDeclarativeStream
    name: statement_reporting_template
    stream_template:
      type: DeclarativeStream
      name: statement_reporting_template
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: start_id
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 2000
            cursor_value: "{{ response['meta']['next_start_id'] }}"
            stop_condition: "{{ not response['meta']['has_more'] }}"
        requester:
          type: HttpRequester
          url: https://api.qobra.co/v2/reporting/__TABLE_ID__/statements
          http_method: GET
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              field_name: X-API-Key
              inject_into: header
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
          schema_normalization: Default
      primary_key: standard.id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          properties:
            standard.id:
              type: string
            standard.source_id:
              type:
                - string
                - "null"
            standard.user:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                email:
                  type:
                    - string
                    - "null"
            standard.name:
              type:
                - string
                - "null"
            standard.plan:
              type:
                - string
                - "null"
            standard.statement_status:
              type:
                - string
                - "null"
            standard.dimension-698eec4b606b515e60b571b8:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            standard.dimension-66fe8ee8c82b059d94619ed8:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            standard.date:
              type: string
            standard.target_achievement:
              type:
                - number
                - "null"
            standard.achievement:
              type:
                - object
                - "null"
              properties:
                value:
                  type:
                    - number
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            standard.on_target_earning:
              type:
                - object
                - "null"
              properties:
                value:
                  type:
                    - number
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            standard.payment:
              type:
                - object
                - "null"
              properties:
                value:
                  type:
                    - number
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            standard.target:
              type:
                - object
                - "null"
              properties:
                value:
                  type:
                    - number
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
          required:
            - standard.id
            - standard.date
          additionalProperties: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: standard.date
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          field_name: last_modified_after
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%d"
        partition_field_end: ""
        partition_field_start: ""
    components_resolver:
      type: HttpComponentsResolver
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url: https://api.qobra.co/v2/data-structures
          http_method: GET
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              field_name: X-API-Key
              inject_into: header
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
          record_filter:
            type: RecordFilter
            condition: "{{ record['type'] == 'statement_reporting' }}"
      components_mapping:
        - type: ComponentMappingDefinition
          value: statement_reporting_{{ components_values.id }}
          field_path:
            - name
        - type: ComponentMappingDefinition
          value: >-
            https://api.qobra.co/v2/reporting/{{ components_values.id
            }}/statements
          field_path:
            - retriever
            - requester
            - url
        - type: ComponentMappingDefinition
          value: >-
            https://api.qobra.co/v2/data-structures/{{ components_values.id
            }}/fields
          field_path:
            - schema_loader
            - retriever
            - requester
            - url
  - type: DynamicDeclarativeStream
    name: record_reporting_template
    stream_template:
      type: DeclarativeStream
      name: record_reporting_template
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: start_id
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 2000
            cursor_value: "{{ response['meta']['next_start_id'] }}"
            stop_condition: "{{ not response['meta']['has_more'] }}"
        requester:
          type: HttpRequester
          url: https://api.qobra.co/v2/reporting/__TABLE_ID__/records
          http_method: GET
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              field_name: X-API-Key
              inject_into: header
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
          schema_normalization: Default
      primary_key: standard.id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          required:
            - standard.id
            - standard.date
          properties:
            standard.id:
              type: string
            standard.date:
              type: string
            standard.name:
              type:
                - string
                - "null"
            standard.plan:
              type:
                - string
                - "null"
            standard.user:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                email:
                  type:
                    - string
                    - "null"
            standard.record:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
            custom.arr_renewed:
              type:
                - object
                - "null"
              properties:
                value:
                  type:
                    - number
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            standard.source_id:
              type:
                - string
                - "null"
            standard.conversion_date:
              type:
                - string
                - "null"
            standard.statement_status:
              type:
                - string
                - "null"
            datatable.Opportunity_Name:
              type:
                - string
                - "null"
            datatable.Opportunity_Type:
              type:
                - string
                - "null"
            datatable.Opportunity_IsWon:
              type:
                - boolean
                - "null"
            datatable.Opportunity_ATR__c:
              type:
                - object
                - "null"
              properties:
                value:
                  type:
                    - number
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            datatable.Opportunity_Amount:
              type:
                - object
                - "null"
              properties:
                value:
                  type:
                    - number
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            custom.forecasted_arr_renewed:
              type:
                - object
                - "null"
              properties:
                value:
                  type:
                    - number
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            datatable.Opportunity_OwnerId:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                email:
                  type:
                    - string
                    - "null"
            datatable.Opportunity_AccountId:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
            datatable.Opportunity_CloseDate:
              type:
                - string
                - "null"
            datatable.Opportunity_StageName:
              type:
                - string
                - "null"
            datatable.Opportunity_CreatedById:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                email:
                  type:
                    - string
                    - "null"
            datatable.Opportunity_CreatedDate:
              type:
                - string
                - "null"
            datatable.Opportunity_Probability:
              type:
                - number
                - "null"
            datatable.Opportunity_Renewal_date__c:
              type:
                - string
                - "null"
            datatable.Opportunity_Licence_Price__c:
              type:
                - object
                - "null"
              properties:
                value:
                  type:
                    - number
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            datatable.Opportunity_Pre_Sales_Owner__c:
              type:
                - object
                - "null"
              properties: {}
            datatable.Opportunity_Upsell_downsell__c:
              type:
                - object
                - "null"
              properties:
                value:
                  type:
                    - number
                    - "null"
                currency:
                  type:
                    - string
                    - "null"
            datatable.Opportunity_SDR_OWNER_OPPORT__c:
              type:
                - object
                - "null"
              properties: {}
            standard.dimension-66fe8ee8c82b059d94619ed8:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            standard.dimension-698eec4b606b515e60b571b8:
              type:
                - array
                - "null"
            datatable.Opportunity_Commitment_duration__c:
              type:
                - string
                - "null"
            datatable.Opportunity_Implementation_fees__c:
              type:
                - object
                - "null"
              properties:
                currency:
                  type:
                    - string
                    - "null"
            datatable.Opportunity_Multi_year_autorenew__c:
              type:
                - boolean
                - "null"
            datatable.Opportunity_Previous_Renewal_Opp__c:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
            datatable.Opportunity_Discovery_Meeting_Status__c:
              type:
                - string
                - "null"
          additionalProperties: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: standard.date
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          field_name: last_modified_after
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%d"
        partition_field_end: ""
        partition_field_start: ""
    components_resolver:
      type: HttpComponentsResolver
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url: https://api.qobra.co/v2/data-structures
          http_method: GET
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              field_name: X-API-Key
              inject_into: header
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
          record_filter:
            type: RecordFilter
            condition: "{{ record['type'] == 'record_reporting' }}"
      components_mapping:
        - type: ComponentMappingDefinition
          value: record_reporting_{{ components_values.id }}
          field_path:
            - name
        - type: ComponentMappingDefinition
          value: https://api.qobra.co/v2/reporting/{{ components_values.id }}/records
          field_path:
            - retriever
            - requester
            - url
        - type: ComponentMappingDefinition
          value: >-
            https://api.qobra.co/v2/data-structures/{{ components_values.id
            }}/fields
          field_path:
            - schema_loader
            - retriever
            - requester
            - url

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 1
