@use "../../scss/variables";

.page {
  overflow-y: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.headerError {
  padding-top: 25px;
}

.content {
  overflow-y: auto;
  height: 100%;
  padding: 17px 20px variables.$defaultBottomMargin 20px;
  min-width: 960px;
}
