version: 6.48.15

type: DeclarativeSource

description: >-
  Oura Ring connector pulls health data from Oura's public API with a token you
  generate for your user account


  Endpoints: 

  Sleep Score

  Heartrate

  Daily Activities

check:
  type: CheckStream
  stream_names:
    - Sleep Score by day

definitions:
  streams:
    daily_activities:
      type: DeclarativeStream
      name: daily_activities
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: next_token
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next_token') }}"
            stop_condition: "{{ not response.get('next_token') }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/usercollection/daily_activity
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/daily_activities"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: day
        stream_slicer:
          type: DatetimeStreamSlicer
          step: 30d
          cursor_field: day
          end_datetime:
            type: MinMaxDatetime
            datetime: >-
              {{ config.get('end_date')[:10] if config.get('end_date') else None
              }}
            datetime_format: "%Y-%m-%d"
          start_datetime:
            type: MinMaxDatetime
            datetime: "{{ config['start_date'][:10] }}"
            datetime_format: "%Y-%m-%d"
          datetime_format: "%Y-%m-%d"
          end_time_option:
            type: RequestOption
            field_name: end_date
            inject_into: request_parameter
          start_time_option:
            type: RequestOption
            field_name: start_date
            inject_into: request_parameter
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'][:10] }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        cursor_datetime_formats:
          - "%Y-%m-%d"
    Sleep Score by day:
      type: DeclarativeStream
      name: Sleep Score by day
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: next_token
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next_token') }}"
            stop_condition: "{{ not response.get('next_token') }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/usercollection/sleep
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Sleep Score by day"
    Heartrates by start date:
      type: DeclarativeStream
      name: Heartrates by start date
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: next_token
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next_token') }}"
            stop_condition: "{{ not response.get('next_token') }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/usercollection/heartrate
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - timestamp
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Heartrates by start date"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: timestamp
        stream_slicer:
          type: DatetimeStreamSlicer
          step: 30d
          cursor_field: timestamp
          end_datetime:
            type: MinMaxDatetime
            datetime: "{{ config.get('end_date') or None }}"
            datetime_format: "%Y-%m-%dT%H:%M:%S%z"
          start_datetime:
            type: MinMaxDatetime
            datetime: "{{ config['start_date'] }}"
            datetime_format: "%Y-%m-%dT%H:%M:%S%z"
          datetime_format: "%Y-%m-%dT%H:%M:%S%z"
          end_time_option:
            type: RequestOption
            field_name: end_datetime
            inject_into: request_parameter
          start_time_option:
            type: RequestOption
            field_name: start_datetime
            inject_into: request_parameter
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S%z"
  base_requester:
    type: HttpRequester
    url_base: https://api.ouraring.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/Sleep Score by day"
  - $ref: "#/definitions/streams/Heartrates by start date"
  - $ref: "#/definitions/streams/daily_activities"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        description: API key or access token
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
      end_date:
        type: string
        description: >-
          Optional end date in ISO 8601 format (e.g.,
          2024-04-15T00:00:00+00:00). If not set, defaults to now.
        order: 2
        title: End Date
        format: date-time
      start_date:
        type: string
        description: The start date in ISO 8601 format (e.g., 2024-01-01T00:00:00+00:00)
        order: 1
        title: Start Date
        format: date-time
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://cloud.ouraring.com/v2/docs
    openapiSpecUrl: https://cloud.ouraring.com/v2/static/json/openapi-1.26.json
  testedStreams:
    daily_activities:
      hasRecords: true
      streamHash: 4b75035459346a52e32d11d44684dce9a3d0bc1d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Sleep Score by day:
      hasRecords: true
      streamHash: cb3697ca4e140ab45c9d8954d497413f80392f9b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Heartrates by start date:
      hasRecords: true
      streamHash: 461c2ffbfbb713b0fde5c624df04281a480dc022
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    daily_activities: false
    Sleep Score by day: true
    Heartrates by start date: false

schemas:
  daily_activities:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - day
    properties:
      id:
        type: string
      day:
        type: string
      met:
        type:
          - object
          - "null"
        properties:
          items:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          interval:
            type:
              - number
              - "null"
          timestamp:
            type:
              - string
              - "null"
      score:
        type:
          - number
          - "null"
      steps:
        type:
          - number
          - "null"
      timestamp:
        type:
          - string
          - "null"
      class_5_min:
        type:
          - string
          - "null"
      contributors:
        type:
          - object
          - "null"
        properties:
          stay_active:
            type:
              - number
              - "null"
          recovery_time:
            type:
              - number
              - "null"
          move_every_hour:
            type:
              - number
              - "null"
          training_volume:
            type:
              - number
              - "null"
          meet_daily_targets:
            type:
              - number
              - "null"
          training_frequency:
            type:
              - number
              - "null"
      resting_time:
        type:
          - number
          - "null"
      non_wear_time:
        type:
          - number
          - "null"
      target_meters:
        type:
          - number
          - "null"
      sedentary_time:
        type:
          - number
          - "null"
      total_calories:
        type:
          - number
          - "null"
      active_calories:
        type:
          - number
          - "null"
      target_calories:
        type:
          - number
          - "null"
      meters_to_target:
        type:
          - number
          - "null"
      inactivity_alerts:
        type:
          - number
          - "null"
      low_activity_time:
        type:
          - number
          - "null"
      high_activity_time:
        type:
          - number
          - "null"
      average_met_minutes:
        type:
          - number
          - "null"
      medium_activity_time:
        type:
          - number
          - "null"
      sedentary_met_minutes:
        type:
          - number
          - "null"
      low_activity_met_minutes:
        type:
          - number
          - "null"
      high_activity_met_minutes:
        type:
          - number
          - "null"
      equivalent_walking_distance:
        type:
          - number
          - "null"
      medium_activity_met_minutes:
        type:
          - number
          - "null"
    additionalProperties: true
  Sleep Score by day:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type: string
      day:
        type:
          - string
          - "null"
      hrv:
        type:
          - object
          - "null"
        properties:
          items:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          interval:
            type:
              - number
              - "null"
          timestamp:
            type:
              - string
              - "null"
      period:
        type:
          - number
          - "null"
      latency:
        type:
          - number
          - "null"
      readiness:
        type:
          - object
          - "null"
        properties:
          score:
            type:
              - number
              - "null"
          contributors:
            type:
              - object
              - "null"
            properties:
              hrv_balance:
                type:
                  - number
                  - "null"
              sleep_balance:
                type:
                  - number
                  - "null"
              previous_night:
                type:
                  - number
                  - "null"
              recovery_index:
                type:
                  - number
                  - "null"
              activity_balance:
                type:
                  - number
                  - "null"
              body_temperature:
                type:
                  - number
                  - "null"
              resting_heart_rate:
                type:
                  - number
                  - "null"
              previous_day_activity:
                type:
                  - number
                  - "null"
          temperature_deviation:
            type:
              - number
              - "null"
          temperature_trend_deviation:
            type:
              - number
              - "null"
      awake_time:
        type:
          - number
          - "null"
      efficiency:
        type:
          - number
          - "null"
      heart_rate:
        type:
          - object
          - "null"
        properties:
          items:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          interval:
            type:
              - number
              - "null"
          timestamp:
            type:
              - string
              - "null"
      average_hrv:
        type:
          - number
          - "null"
      bedtime_end:
        type:
          - string
          - "null"
      time_in_bed:
        type:
          - number
          - "null"
      bedtime_start:
        type:
          - string
          - "null"
      average_breath:
        type:
          - number
          - "null"
      movement_30_sec:
        type:
          - string
          - "null"
      restless_periods:
        type:
          - number
          - "null"
      low_battery_alert:
        type:
          - boolean
          - "null"
      lowest_heart_rate:
        type:
          - number
          - "null"
      sleep_phase_5_min:
        type:
          - string
          - "null"
      sleep_score_delta:
        type:
          - number
          - "null"
      average_heart_rate:
        type:
          - number
          - "null"
      rem_sleep_duration:
        type:
          - number
          - "null"
      deep_sleep_duration:
        type:
          - number
          - "null"
      light_sleep_duration:
        type:
          - number
          - "null"
      total_sleep_duration:
        type:
          - number
          - "null"
      readiness_score_delta:
        type:
          - number
          - "null"
      sleep_algorithm_version:
        type:
          - string
          - "null"
    additionalProperties: true
  Heartrates by start date:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - timestamp
    properties:
      bpm:
        type:
          - number
          - "null"
      source:
        type:
          - string
          - "null"
      timestamp:
        type: string
    additionalProperties: true
