version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - project
    - release
    - stats
definitions:
  streams:
    project:
      type: DeclarativeStream
      name: project
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://pypi.org
          path: /pypi/{{ config['project_name'] }}/json
          http_method: GET
          request_headers:
            User-Agent: Airbyte
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            info:
              type: object
              description: Generic information about a specific version of a project
              properties:
                version:
                  type: string
                  description: >-
                    A string containing the distributions version number in the format
                    specified in PEP 440. Corresponds to
                    https://packaging.python.org/specifications/core-metadata/#version
                author:
                  type: string
                  description:
                    The name of the company or individual who created the
                    project
                author_email:
                  type: string
                  description: The author's email address
                bugtrack_url:
                  type:
                    - string
                    - "null"
                  description: URL to find issues and bugs for the project
                classifiers:
                  type: array
                  description: >-
                    Trove Classifier. Corresponds to
                    https://packaging.python.org/specifications/core-metadata/#classifier-multiple-use
                  items:
                    type: string
                description:
                  type: string
                  description: >-
                    Corresponds to
                    https://packaging.python.org/specifications/core-metadata/#description
                description_content_type:
                  type:
                    - string
                    - "null"
                  description: >-
                    Corresponds to
                    https://packaging.python.org/specifications/core-metadata/#description-content-type
                docs_url:
                  type:
                    - string
                    - "null"
                  description: URL to the project's documentation
                download_url:
                  type:
                    - string
                    - "null"
                  description: "[DEPRECATED]"
                downloads:
                  type: object
                  description: "[DEPRECATED]"
                home_page:
                  type: string
                  description: URL to project home page
                keywords:
                  type: string
                  description: Keywords to use for project searching
                license:
                  type:
                    - string
                    - "null"
                  description: Project's open source license
                maintainer:
                  type:
                    - string
                    - "null"
                  description: Project maintainer name
                maintainer_email:
                  type:
                    - string
                    - "null"
                  description: Project maintainer email address
                name:
                  type: string
                  description: Project's raw (non-normailzed name)
                package_url:
                  type: string
                  description: URL to the project page
                platform:
                  type:
                    - "null"
                    - string
                  description: "[DEPRECATED]"
                project_url:
                  type: string
                  description: URL to the project page
                project_urls:
                  description: >-
                    Additional URLs that are relevant to your project. Corresponds
                    to
                    https://packaging.python.org/specifications/core-metadata/#project-url-multiple-use
                  patternProperties:
                    .*:
                      type:
                        - "null"
                        - string
                release_url:
                  type: string
                  description: URL of the release page of the version of the project
                requires_dist:
                  type:
                    - array
                    - "null"
                  description: >-
                    Calculated project dependencies. Corresponds to
                    https://packaging.python.org/specifications/core-metadata/#requires-dist-multiple-use
                  items:
                    type: string
                requires_python:
                  type:
                    - string
                    - "null"
                  description: >-
                    Python runtime version required for project. Corresponds to
                    https://packaging.python.org/specifications/core-metadata/#requires-python
                summary:
                  type:
                    - string
                    - "null"
                  description: >-
                    A one-line summary of what the distribution does.. Corresponds
                    to
                    https://packaging.python.org/specifications/core-metadata/#summary
                yanked:
                  type: boolean
                  description: If the version has been yanked. As defined in PEP 592
                yanked_reason:
                  type:
                    - string
                    - "null"
                  description: Reason for applying PEP 592 version yank
              required:
                - author
                - author_email
                - license
                - name
                - project_url
                - version
                - yanked
                - yanked_reason
            last_serial:
              type: integer
              description: >-
                Monotonically increasing integer sequence that changes every time
                the
                project is updated
            releases:
              type: object
              description: Contains the release versions of the project
              patternProperties:
                .*:
                  description: Release data for a specific version
                  version_urls:
                    type: array
                    description: A list of release artifacts associated with a version
                    items:
                      release_file:
                        type: object
                        description: A single downloadable and installable artifact
                        properties:
                          comment_text:
                            type: string
                            description: "[DEPRECATED]"
                          digests:
                            type: object
                            description: The file checksums
                            properties:
                              md5:
                                type: string
                                description: The MD5 checksum of the release file
                              sha256:
                                type: string
                                description: The SHA256 checksum of the release file
                          downloads:
                            type: integer
                            description: "[DEPRECATED]"
                          filename:
                            type: string
                            description: Full filename (including extension)
                          has_sig:
                            type: boolean
                            description: >-
                              Indicates whether a $(filename).asc GPG signature file
                              was provided
                          md5_digest:
                            type: string
                            description: "[DEPRECATED]"
                          packagetype:
                            type: string
                            description:
                              "Release file type: 'sdist', 'bdist_wheel',
                              etc"
                          python_version:
                            type: string
                            description: >-
                              Can be 'source' or Python Tag as defined in
                              https://www.python.org/dev/peps/pep-0425/#python-tag
                          requires_python:
                            type:
                              - string
                              - "null"
                            description: >-
                              Python runtime version required for project. Corresponds
                              to
                              https://packaging.python.org/specifications/core-metadata/#requires-python
                          size:
                            type: integer
                            description: File size in bytes
                          upload_time:
                            type: string
                            description: >-
                              strftime('%Y-%m-%dT%H:%M:%S') of when the release file
                              was uploaded
                          upload_time_iso_8601:
                            type: string
                            description:
                              ISO 8601 timestamp of when the release file
                              was uploaded
                          url:
                            type: string
                            description: Downloadable URL of the release file
                          yanked:
                            type: boolean
                            description: Is release file PEP 592 yanked
                          yanked_reason:
                            type:
                              - string
                              - "null"
                            description: PEP 592 reason for yanking release file
                        required:
                          - digests
                          - filename
                          - packagetype
                          - size
                          - upload_time_iso_8601
                          - url
                          - yanked
                          - yanked_reason
            urls:
              type: array
              description: A list of release artifacts associated with a version
              items:
                release_file:
                  type: object
                  description: A single downloadable and installable artifact
                  properties:
                    comment_text:
                      type: string
                      description: "[DEPRECATED]"
                    digests:
                      type: object
                      description: The file checksums
                      properties:
                        md5:
                          type: string
                          description: The MD5 checksum of the release file
                        sha256:
                          type: string
                          description: The SHA256 checksum of the release file
                    downloads:
                      type: integer
                      description: "[DEPRECATED]"
                    filename:
                      type: string
                      description: Full filename (including extension)
                    has_sig:
                      type: boolean
                      description: >-
                        Indicates whether a $(filename).asc GPG signature file was
                        provided
                    md5_digest:
                      type: string
                      description: "[DEPRECATED]"
                    packagetype:
                      type: string
                      description: "Release file type: 'sdist', 'bdist_wheel', etc"
                    python_version:
                      type: string
                      description: >-
                        Can be 'source' or Python Tag as defined in
                        https://www.python.org/dev/peps/pep-0425/#python-tag
                    requires_python:
                      type:
                        - string
                        - "null"
                      description: >-
                        Python runtime version required for project. Corresponds to
                        https://packaging.python.org/specifications/core-metadata/#requires-python
                    size:
                      type: integer
                      description: File size in bytes
                    upload_time:
                      type: string
                      description: >-
                        strftime('%Y-%m-%dT%H:%M:%S') of when the release file was
                        uploaded
                    upload_time_iso_8601:
                      type: string
                      description:
                        ISO 8601 timestamp of when the release file was
                        uploaded
                    url:
                      type: string
                      description: Downloadable URL of the release file
                    yanked:
                      type: boolean
                      description: Is release file PEP 592 yanked
                    yanked_reason:
                      type:
                        - string
                        - "null"
                      description: PEP 592 reason for yanking release file
                  required:
                    - digests
                    - filename
                    - packagetype
                    - size
                    - upload_time_iso_8601
                    - url
                    - yanked
                    - yanked_reason
            vulnerabilities:
              type: array
              description: A mapping of version identifiers to vulnerability information
              items:
                type: object
                properties:
                  aliases:
                    type:
                      - array
                      - "null"
                    description: A list of CVE vulns
                    items:
                      type: string
                  details:
                    type:
                      - string
                      - "null"
                    description: A description of the vulnerability
                  fixed_in:
                    type:
                      - array
                      - "null"
                    description: A list of versions that are fixed
                    items:
                      type: string
                  id:
                    type:
                      - string
                      - "null"
                  link:
                    type:
                      - string
                      - "null"
                  source:
                    type:
                      - string
                      - "null"
          required:
            - info
            - last_serial
            - releases
            - urls
          title: Warehouse JSON API version 1.0
          additionalProperties: true
    release:
      type: DeclarativeStream
      name: release
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://pypi.org
          path: /pypi/{{ config['project_name'] }}/{{ config['version'] }}/json
          http_method: GET
          request_headers:
            User-Agent: Airbyte
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            info:
              type: object
              description: Generic information about a specific version of a project
              properties:
                version:
                  type: string
                  description: >-
                    A string containing the distributions version number in the format
                    specified in PEP 440. Corresponds to
                    https://packaging.python.org/specifications/core-metadata/#version
                author:
                  type: string
                  description:
                    The name of the company or individual who created the
                    project
                author_email:
                  type: string
                  description: The author's email address
                bugtrack_url:
                  type:
                    - string
                    - "null"
                  description: URL to find issues and bugs for the project
                classifiers:
                  type: array
                  description: >-
                    Trove Classifier. Corresponds to
                    https://packaging.python.org/specifications/core-metadata/#classifier-multiple-use
                  items:
                    type: string
                description:
                  type: string
                  description: >-
                    Corresponds to
                    https://packaging.python.org/specifications/core-metadata/#description
                description_content_type:
                  type:
                    - string
                    - "null"
                  description: >-
                    Corresponds to
                    https://packaging.python.org/specifications/core-metadata/#description-content-type
                docs_url:
                  type:
                    - string
                    - "null"
                  description: URL to the project's documentation
                download_url:
                  type:
                    - string
                    - "null"
                  description: "[DEPRECATED]"
                downloads:
                  type: object
                  description: "[DEPRECATED]"
                home_page:
                  type: string
                  description: URL to project home page
                keywords:
                  type: string
                  description: Keywords to use for project searching
                license:
                  type:
                    - string
                    - "null"
                  description: Project's open source license
                maintainer:
                  type:
                    - string
                    - "null"
                  description: Project maintainer name
                maintainer_email:
                  type:
                    - string
                    - "null"
                  description: Project maintainer email address
                name:
                  type: string
                  description: Project's raw (non-normailzed name)
                package_url:
                  type: string
                  description: URL to the project page
                platform:
                  type:
                    - "null"
                    - string
                  description: "[DEPRECATED]"
                project_url:
                  type: string
                  description: URL to the project page
                project_urls:
                  description: >-
                    Additional URLs that are relevant to your project. Corresponds
                    to
                    https://packaging.python.org/specifications/core-metadata/#project-url-multiple-use
                  patternProperties:
                    .*:
                      type:
                        - "null"
                        - string
                release_url:
                  type: string
                  description: URL of the release page of the version of the project
                requires_dist:
                  type:
                    - array
                    - "null"
                  description: >-
                    Calculated project dependencies. Corresponds to
                    https://packaging.python.org/specifications/core-metadata/#requires-dist-multiple-use
                  items:
                    type: string
                requires_python:
                  type:
                    - string
                    - "null"
                  description: >-
                    Python runtime version required for project. Corresponds to
                    https://packaging.python.org/specifications/core-metadata/#requires-python
                summary:
                  type:
                    - string
                    - "null"
                  description: >-
                    A one-line summary of what the distribution does.. Corresponds
                    to
                    https://packaging.python.org/specifications/core-metadata/#summary
                yanked:
                  type: boolean
                  description: If the version has been yanked. As defined in PEP 592
                yanked_reason:
                  type:
                    - string
                    - "null"
                  description: Reason for applying PEP 592 version yank
              required:
                - author
                - author_email
                - license
                - name
                - project_url
                - version
                - yanked
                - yanked_reason
            last_serial:
              type: integer
              description: >-
                Monotonically increasing integer sequence that changes every time
                the
                project is updated
            urls:
              type: array
              description: A list of release artifacts associated with a version
              items:
                release_file:
                  type: object
                  description: A single downloadable and installable artifact
                  properties:
                    comment_text:
                      type: string
                      description: "[DEPRECATED]"
                    digests:
                      type: object
                      description: The file checksums
                      properties:
                        md5:
                          type: string
                          description: The MD5 checksum of the release file
                        sha256:
                          type: string
                          description: The SHA256 checksum of the release file
                    downloads:
                      type: integer
                      description: "[DEPRECATED]"
                    filename:
                      type: string
                      description: Full filename (including extension)
                    has_sig:
                      type: boolean
                      description: >-
                        Indicates whether a $(filename).asc GPG signature file was
                        provided
                    md5_digest:
                      type: string
                      description: "[DEPRECATED]"
                    packagetype:
                      type: string
                      description: "Release file type: 'sdist', 'bdist_wheel', etc"
                    python_version:
                      type: string
                      description: >-
                        Can be 'source' or Python Tag as defined in
                        https://www.python.org/dev/peps/pep-0425/#python-tag
                    requires_python:
                      type:
                        - string
                        - "null"
                      description: >-
                        Python runtime version required for project. Corresponds to
                        https://packaging.python.org/specifications/core-metadata/#requires-python
                    size:
                      type: integer
                      description: File size in bytes
                    upload_time:
                      type: string
                      description: >-
                        strftime('%Y-%m-%dT%H:%M:%S') of when the release file was
                        uploaded
                    upload_time_iso_8601:
                      type: string
                      description:
                        ISO 8601 timestamp of when the release file was
                        uploaded
                    url:
                      type: string
                      description: Downloadable URL of the release file
                    yanked:
                      type: boolean
                      description: Is release file PEP 592 yanked
                    yanked_reason:
                      type:
                        - string
                        - "null"
                      description: PEP 592 reason for yanking release file
                  required:
                    - digests
                    - filename
                    - packagetype
                    - size
                    - upload_time_iso_8601
                    - url
                    - yanked
                    - yanked_reason
            vulnerabilities:
              type: array
              description: A mapping of version identifiers to vulnerability information
              items:
                type: object
                properties:
                  aliases:
                    type:
                      - array
                      - "null"
                    description: A list of CVE vulns
                    items:
                      type: string
                  details:
                    type:
                      - string
                      - "null"
                    description: A description of the vulnerability
                  fixed_in:
                    type:
                      - array
                      - "null"
                    description: A list of versions that are fixed
                    items:
                      type: string
                  id:
                    type:
                      - string
                      - "null"
                  link:
                    type:
                      - string
                      - "null"
                  source:
                    type:
                      - string
                      - "null"
          required:
            - info
            - last_serial
            - urls
          title: Warehouse JSON API version 1.0
          additionalProperties: true
    stats:
      type: DeclarativeStream
      name: stats
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://pypi.org
          path: /stats
          http_method: GET
          request_headers:
            User-Agent: Airbyte
            Accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/draft-07/schema#
          properties:
            top_packages:
              type: object
              description: Object containing size information for top packages
              patternProperties:
                .*:
                  type: object
                  properties:
                    size:
                      type:
                        - "null"
                        - integer
                      description: Size of the package in bytes
                  required:
                    - size
            total_packages_size:
              type: integer
              description: Total size of all packages combined in bytes
          required:
            - top_packages
            - total_packages_size
          title: PyPI status
          additionalProperties: true
  base_requester:
    type: HttpRequester
    url_base: https://pypi.org
streams:
  - type: DeclarativeStream
    name: project
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://pypi.org
        path: /pypi/{{ config['project_name'] }}/json
        http_method: GET
        request_headers:
          User-Agent: Airbyte
          Accept: application/json
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          info:
            type: object
            description: Generic information about a specific version of a project
            properties:
              version:
                type: string
                description: >-
                  A string containing the distributions version number in the format
                  specified in PEP 440. Corresponds to
                  https://packaging.python.org/specifications/core-metadata/#version
              author:
                type: string
                description: The name of the company or individual who created the project
              author_email:
                type: string
                description: The author's email address
              bugtrack_url:
                type:
                  - string
                  - "null"
                description: URL to find issues and bugs for the project
              classifiers:
                type: array
                description: >-
                  Trove Classifier. Corresponds to
                  https://packaging.python.org/specifications/core-metadata/#classifier-multiple-use
                items:
                  type: string
              description:
                type: string
                description: >-
                  Corresponds to
                  https://packaging.python.org/specifications/core-metadata/#description
              description_content_type:
                type:
                  - string
                  - "null"
                description: >-
                  Corresponds to
                  https://packaging.python.org/specifications/core-metadata/#description-content-type
              docs_url:
                type:
                  - string
                  - "null"
                description: URL to the project's documentation
              download_url:
                type:
                  - string
                  - "null"
                description: "[DEPRECATED]"
              downloads:
                type: object
                description: "[DEPRECATED]"
              home_page:
                type: string
                description: URL to project home page
              keywords:
                type: string
                description: Keywords to use for project searching
              license:
                type:
                  - string
                  - "null"
                description: Project's open source license
              maintainer:
                type:
                  - string
                  - "null"
                description: Project maintainer name
              maintainer_email:
                type:
                  - string
                  - "null"
                description: Project maintainer email address
              name:
                type: string
                description: Project's raw (non-normailzed name)
              package_url:
                type: string
                description: URL to the project page
              platform:
                type:
                  - "null"
                  - string
                description: "[DEPRECATED]"
              project_url:
                type: string
                description: URL to the project page
              project_urls:
                description: >-
                  Additional URLs that are relevant to your project. Corresponds to
                  https://packaging.python.org/specifications/core-metadata/#project-url-multiple-use
                patternProperties:
                  .*:
                    type:
                      - "null"
                      - string
              release_url:
                type: string
                description: URL of the release page of the version of the project
              requires_dist:
                type:
                  - array
                  - "null"
                description: >-
                  Calculated project dependencies. Corresponds to
                  https://packaging.python.org/specifications/core-metadata/#requires-dist-multiple-use
                items:
                  type: string
              requires_python:
                type:
                  - string
                  - "null"
                description: >-
                  Python runtime version required for project. Corresponds to
                  https://packaging.python.org/specifications/core-metadata/#requires-python
              summary:
                type:
                  - string
                  - "null"
                description: >-
                  A one-line summary of what the distribution does.. Corresponds to
                  https://packaging.python.org/specifications/core-metadata/#summary
              yanked:
                type: boolean
                description: If the version has been yanked. As defined in PEP 592
              yanked_reason:
                type:
                  - string
                  - "null"
                description: Reason for applying PEP 592 version yank
            required:
              - author
              - author_email
              - license
              - name
              - project_url
              - version
              - yanked
              - yanked_reason
          last_serial:
            type: integer
            description: >-
              Monotonically increasing integer sequence that changes every time the
              project is updated
          releases:
            type: object
            description: Contains the release versions of the project
            patternProperties:
              .*:
                description: Release data for a specific version
                version_urls:
                  type: array
                  description: A list of release artifacts associated with a version
                  items:
                    release_file:
                      type: object
                      description: A single downloadable and installable artifact
                      properties:
                        comment_text:
                          type: string
                          description: "[DEPRECATED]"
                        digests:
                          type: object
                          description: The file checksums
                          properties:
                            md5:
                              type: string
                              description: The MD5 checksum of the release file
                            sha256:
                              type: string
                              description: The SHA256 checksum of the release file
                        downloads:
                          type: integer
                          description: "[DEPRECATED]"
                        filename:
                          type: string
                          description: Full filename (including extension)
                        has_sig:
                          type: boolean
                          description: >-
                            Indicates whether a $(filename).asc GPG signature file
                            was provided
                        md5_digest:
                          type: string
                          description: "[DEPRECATED]"
                        packagetype:
                          type: string
                          description: "Release file type: 'sdist', 'bdist_wheel', etc"
                        python_version:
                          type: string
                          description: >-
                            Can be 'source' or Python Tag as defined in
                            https://www.python.org/dev/peps/pep-0425/#python-tag
                        requires_python:
                          type:
                            - string
                            - "null"
                          description: >-
                            Python runtime version required for project. Corresponds
                            to
                            https://packaging.python.org/specifications/core-metadata/#requires-python
                        size:
                          type: integer
                          description: File size in bytes
                        upload_time:
                          type: string
                          description: >-
                            strftime('%Y-%m-%dT%H:%M:%S') of when the release file
                            was uploaded
                        upload_time_iso_8601:
                          type: string
                          description:
                            ISO 8601 timestamp of when the release file was
                            uploaded
                        url:
                          type: string
                          description: Downloadable URL of the release file
                        yanked:
                          type: boolean
                          description: Is release file PEP 592 yanked
                        yanked_reason:
                          type:
                            - string
                            - "null"
                          description: PEP 592 reason for yanking release file
                      required:
                        - digests
                        - filename
                        - packagetype
                        - size
                        - upload_time_iso_8601
                        - url
                        - yanked
                        - yanked_reason
          urls:
            type: array
            description: A list of release artifacts associated with a version
            items:
              release_file:
                type: object
                description: A single downloadable and installable artifact
                properties:
                  comment_text:
                    type: string
                    description: "[DEPRECATED]"
                  digests:
                    type: object
                    description: The file checksums
                    properties:
                      md5:
                        type: string
                        description: The MD5 checksum of the release file
                      sha256:
                        type: string
                        description: The SHA256 checksum of the release file
                  downloads:
                    type: integer
                    description: "[DEPRECATED]"
                  filename:
                    type: string
                    description: Full filename (including extension)
                  has_sig:
                    type: boolean
                    description: >-
                      Indicates whether a $(filename).asc GPG signature file was
                      provided
                  md5_digest:
                    type: string
                    description: "[DEPRECATED]"
                  packagetype:
                    type: string
                    description: "Release file type: 'sdist', 'bdist_wheel', etc"
                  python_version:
                    type: string
                    description: >-
                      Can be 'source' or Python Tag as defined in
                      https://www.python.org/dev/peps/pep-0425/#python-tag
                  requires_python:
                    type:
                      - string
                      - "null"
                    description: >-
                      Python runtime version required for project. Corresponds to
                      https://packaging.python.org/specifications/core-metadata/#requires-python
                  size:
                    type: integer
                    description: File size in bytes
                  upload_time:
                    type: string
                    description: >-
                      strftime('%Y-%m-%dT%H:%M:%S') of when the release file was
                      uploaded
                  upload_time_iso_8601:
                    type: string
                    description: ISO 8601 timestamp of when the release file was uploaded
                  url:
                    type: string
                    description: Downloadable URL of the release file
                  yanked:
                    type: boolean
                    description: Is release file PEP 592 yanked
                  yanked_reason:
                    type:
                      - string
                      - "null"
                    description: PEP 592 reason for yanking release file
                required:
                  - digests
                  - filename
                  - packagetype
                  - size
                  - upload_time_iso_8601
                  - url
                  - yanked
                  - yanked_reason
          vulnerabilities:
            type: array
            description: A mapping of version identifiers to vulnerability information
            items:
              type: object
              properties:
                aliases:
                  type:
                    - array
                    - "null"
                  description: A list of CVE vulns
                  items:
                    type: string
                details:
                  type:
                    - string
                    - "null"
                  description: A description of the vulnerability
                fixed_in:
                  type:
                    - array
                    - "null"
                  description: A list of versions that are fixed
                  items:
                    type: string
                id:
                  type:
                    - string
                    - "null"
                link:
                  type:
                    - string
                    - "null"
                source:
                  type:
                    - string
                    - "null"
        required:
          - info
          - last_serial
          - releases
          - urls
        title: Warehouse JSON API version 1.0
        additionalProperties: true
  - type: DeclarativeStream
    name: release
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://pypi.org
        path: /pypi/{{ config['project_name'] }}/{{ config['version'] }}/json
        http_method: GET
        request_headers:
          User-Agent: Airbyte
          Accept: application/json
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          info:
            type: object
            description: Generic information about a specific version of a project
            properties:
              version:
                type: string
                description: >-
                  A string containing the distributions version number in the format
                  specified in PEP 440. Corresponds to
                  https://packaging.python.org/specifications/core-metadata/#version
              author:
                type: string
                description: The name of the company or individual who created the project
              author_email:
                type: string
                description: The author's email address
              bugtrack_url:
                type:
                  - string
                  - "null"
                description: URL to find issues and bugs for the project
              classifiers:
                type: array
                description: >-
                  Trove Classifier. Corresponds to
                  https://packaging.python.org/specifications/core-metadata/#classifier-multiple-use
                items:
                  type: string
              description:
                type: string
                description: >-
                  Corresponds to
                  https://packaging.python.org/specifications/core-metadata/#description
              description_content_type:
                type:
                  - string
                  - "null"
                description: >-
                  Corresponds to
                  https://packaging.python.org/specifications/core-metadata/#description-content-type
              docs_url:
                type:
                  - string
                  - "null"
                description: URL to the project's documentation
              download_url:
                type:
                  - string
                  - "null"
                description: "[DEPRECATED]"
              downloads:
                type: object
                description: "[DEPRECATED]"
              home_page:
                type: string
                description: URL to project home page
              keywords:
                type: string
                description: Keywords to use for project searching
              license:
                type:
                  - string
                  - "null"
                description: Project's open source license
              maintainer:
                type:
                  - string
                  - "null"
                description: Project maintainer name
              maintainer_email:
                type:
                  - string
                  - "null"
                description: Project maintainer email address
              name:
                type: string
                description: Project's raw (non-normailzed name)
              package_url:
                type: string
                description: URL to the project page
              platform:
                type:
                  - "null"
                  - string
                description: "[DEPRECATED]"
              project_url:
                type: string
                description: URL to the project page
              project_urls:
                description: >-
                  Additional URLs that are relevant to your project. Corresponds to
                  https://packaging.python.org/specifications/core-metadata/#project-url-multiple-use
                patternProperties:
                  .*:
                    type:
                      - "null"
                      - string
              release_url:
                type: string
                description: URL of the release page of the version of the project
              requires_dist:
                type:
                  - array
                  - "null"
                description: >-
                  Calculated project dependencies. Corresponds to
                  https://packaging.python.org/specifications/core-metadata/#requires-dist-multiple-use
                items:
                  type: string
              requires_python:
                type:
                  - string
                  - "null"
                description: >-
                  Python runtime version required for project. Corresponds to
                  https://packaging.python.org/specifications/core-metadata/#requires-python
              summary:
                type:
                  - string
                  - "null"
                description: >-
                  A one-line summary of what the distribution does.. Corresponds to
                  https://packaging.python.org/specifications/core-metadata/#summary
              yanked:
                type: boolean
                description: If the version has been yanked. As defined in PEP 592
              yanked_reason:
                type:
                  - string
                  - "null"
                description: Reason for applying PEP 592 version yank
            required:
              - author
              - author_email
              - license
              - name
              - project_url
              - version
              - yanked
              - yanked_reason
          last_serial:
            type: integer
            description: >-
              Monotonically increasing integer sequence that changes every time the
              project is updated
          urls:
            type: array
            description: A list of release artifacts associated with a version
            items:
              release_file:
                type: object
                description: A single downloadable and installable artifact
                properties:
                  comment_text:
                    type: string
                    description: "[DEPRECATED]"
                  digests:
                    type: object
                    description: The file checksums
                    properties:
                      md5:
                        type: string
                        description: The MD5 checksum of the release file
                      sha256:
                        type: string
                        description: The SHA256 checksum of the release file
                  downloads:
                    type: integer
                    description: "[DEPRECATED]"
                  filename:
                    type: string
                    description: Full filename (including extension)
                  has_sig:
                    type: boolean
                    description: >-
                      Indicates whether a $(filename).asc GPG signature file was
                      provided
                  md5_digest:
                    type: string
                    description: "[DEPRECATED]"
                  packagetype:
                    type: string
                    description: "Release file type: 'sdist', 'bdist_wheel', etc"
                  python_version:
                    type: string
                    description: >-
                      Can be 'source' or Python Tag as defined in
                      https://www.python.org/dev/peps/pep-0425/#python-tag
                  requires_python:
                    type:
                      - string
                      - "null"
                    description: >-
                      Python runtime version required for project. Corresponds to
                      https://packaging.python.org/specifications/core-metadata/#requires-python
                  size:
                    type: integer
                    description: File size in bytes
                  upload_time:
                    type: string
                    description: >-
                      strftime('%Y-%m-%dT%H:%M:%S') of when the release file was
                      uploaded
                  upload_time_iso_8601:
                    type: string
                    description: ISO 8601 timestamp of when the release file was uploaded
                  url:
                    type: string
                    description: Downloadable URL of the release file
                  yanked:
                    type: boolean
                    description: Is release file PEP 592 yanked
                  yanked_reason:
                    type:
                      - string
                      - "null"
                    description: PEP 592 reason for yanking release file
                required:
                  - digests
                  - filename
                  - packagetype
                  - size
                  - upload_time_iso_8601
                  - url
                  - yanked
                  - yanked_reason
          vulnerabilities:
            type: array
            description: A mapping of version identifiers to vulnerability information
            items:
              type: object
              properties:
                aliases:
                  type:
                    - array
                    - "null"
                  description: A list of CVE vulns
                  items:
                    type: string
                details:
                  type:
                    - string
                    - "null"
                  description: A description of the vulnerability
                fixed_in:
                  type:
                    - array
                    - "null"
                  description: A list of versions that are fixed
                  items:
                    type: string
                id:
                  type:
                    - string
                    - "null"
                link:
                  type:
                    - string
                    - "null"
                source:
                  type:
                    - string
                    - "null"
        required:
          - info
          - last_serial
          - urls
        title: Warehouse JSON API version 1.0
        additionalProperties: true
  - type: DeclarativeStream
    name: stats
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://pypi.org
        path: /stats
        http_method: GET
        request_headers:
          User-Agent: Airbyte
          Accept: application/json
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          top_packages:
            type: object
            description: Object containing size information for top packages
            patternProperties:
              .*:
                type: object
                properties:
                  size:
                    type:
                      - "null"
                      - integer
                    description: Size of the package in bytes
                required:
                  - size
          total_packages_size:
            type: integer
            description: Total size of all packages combined in bytes
        required:
          - top_packages
          - total_packages_size
        title: PyPI status
        additionalProperties: true
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - project_name
    properties:
      version:
        type: string
        title: Package Version
        description: >-
          Version of the project/package.  Use it to find a particular release
          instead of all releases.
        examples:
          - 1.2.0
        order: 1
      project_name:
        type: string
        title: PyPI Package
        description: >-
          Name of the project/package. Can only be in lowercase with hyphen.
          This is the name used using pip command for installing the package.
        examples:
          - sampleproject
        order: 0
    additionalProperties: true
metadata:
  autoImportSchema:
    project: false
    release: false
    stats: false
schemas:
  project:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      info:
        type: object
        description: Generic information about a specific version of a project
        properties:
          version:
            type: string
            description: >-
              A string containing the distributions version number in the format
              specified in PEP 440. Corresponds to
              https://packaging.python.org/specifications/core-metadata/#version
          author:
            type: string
            description: The name of the company or individual who created the project
          author_email:
            type: string
            description: The author's email address
          bugtrack_url:
            type:
              - string
              - "null"
            description: URL to find issues and bugs for the project
          classifiers:
            type: array
            description: >-
              Trove Classifier. Corresponds to
              https://packaging.python.org/specifications/core-metadata/#classifier-multiple-use
            items:
              type: string
          description:
            type: string
            description: >-
              Corresponds to
              https://packaging.python.org/specifications/core-metadata/#description
          description_content_type:
            type:
              - string
              - "null"
            description: >-
              Corresponds to
              https://packaging.python.org/specifications/core-metadata/#description-content-type
          docs_url:
            type:
              - string
              - "null"
            description: URL to the project's documentation
          download_url:
            type:
              - string
              - "null"
            description: "[DEPRECATED]"
          downloads:
            type: object
            description: "[DEPRECATED]"
          home_page:
            type: string
            description: URL to project home page
          keywords:
            type: string
            description: Keywords to use for project searching
          license:
            type:
              - string
              - "null"
            description: Project's open source license
          maintainer:
            type:
              - string
              - "null"
            description: Project maintainer name
          maintainer_email:
            type:
              - string
              - "null"
            description: Project maintainer email address
          name:
            type: string
            description: Project's raw (non-normailzed name)
          package_url:
            type: string
            description: URL to the project page
          platform:
            type:
              - "null"
              - string
            description: "[DEPRECATED]"
          project_url:
            type: string
            description: URL to the project page
          project_urls:
            description: >-
              Additional URLs that are relevant to your project. Corresponds to
              https://packaging.python.org/specifications/core-metadata/#project-url-multiple-use
            patternProperties:
              .*:
                type:
                  - "null"
                  - string
          release_url:
            type: string
            description: URL of the release page of the version of the project
          requires_dist:
            type:
              - array
              - "null"
            description: >-
              Calculated project dependencies. Corresponds to
              https://packaging.python.org/specifications/core-metadata/#requires-dist-multiple-use
            items:
              type: string
          requires_python:
            type:
              - string
              - "null"
            description: >-
              Python runtime version required for project. Corresponds to
              https://packaging.python.org/specifications/core-metadata/#requires-python
          summary:
            type:
              - string
              - "null"
            description: >-
              A one-line summary of what the distribution does.. Corresponds to
              https://packaging.python.org/specifications/core-metadata/#summary
          yanked:
            type: boolean
            description: If the version has been yanked. As defined in PEP 592
          yanked_reason:
            type:
              - string
              - "null"
            description: Reason for applying PEP 592 version yank
        required:
          - author
          - author_email
          - license
          - name
          - project_url
          - version
          - yanked
          - yanked_reason
      last_serial:
        type: integer
        description: >-
          Monotonically increasing integer sequence that changes every time the
          project is updated
      releases:
        type: object
        description: Contains the release versions of the project
        patternProperties:
          .*:
            description: Release data for a specific version
            version_urls:
              type: array
              description: A list of release artifacts associated with a version
              items:
                release_file:
                  type: object
                  description: A single downloadable and installable artifact
                  properties:
                    comment_text:
                      type: string
                      description: "[DEPRECATED]"
                    digests:
                      type: object
                      description: The file checksums
                      properties:
                        md5:
                          type: string
                          description: The MD5 checksum of the release file
                        sha256:
                          type: string
                          description: The SHA256 checksum of the release file
                    downloads:
                      type: integer
                      description: "[DEPRECATED]"
                    filename:
                      type: string
                      description: Full filename (including extension)
                    has_sig:
                      type: boolean
                      description: >-
                        Indicates whether a $(filename).asc GPG signature file
                        was provided
                    md5_digest:
                      type: string
                      description: "[DEPRECATED]"
                    packagetype:
                      type: string
                      description: "Release file type: 'sdist', 'bdist_wheel', etc"
                    python_version:
                      type: string
                      description: >-
                        Can be 'source' or Python Tag as defined in
                        https://www.python.org/dev/peps/pep-0425/#python-tag
                    requires_python:
                      type:
                        - string
                        - "null"
                      description: >-
                        Python runtime version required for project. Corresponds
                        to
                        https://packaging.python.org/specifications/core-metadata/#requires-python
                    size:
                      type: integer
                      description: File size in bytes
                    upload_time:
                      type: string
                      description: >-
                        strftime('%Y-%m-%dT%H:%M:%S') of when the release file
                        was uploaded
                    upload_time_iso_8601:
                      type: string
                      description:
                        ISO 8601 timestamp of when the release file was
                        uploaded
                    url:
                      type: string
                      description: Downloadable URL of the release file
                    yanked:
                      type: boolean
                      description: Is release file PEP 592 yanked
                    yanked_reason:
                      type:
                        - string
                        - "null"
                      description: PEP 592 reason for yanking release file
                  required:
                    - digests
                    - filename
                    - packagetype
                    - size
                    - upload_time_iso_8601
                    - url
                    - yanked
                    - yanked_reason
      urls:
        type: array
        description: A list of release artifacts associated with a version
        items:
          release_file:
            type: object
            description: A single downloadable and installable artifact
            properties:
              comment_text:
                type: string
                description: "[DEPRECATED]"
              digests:
                type: object
                description: The file checksums
                properties:
                  md5:
                    type: string
                    description: The MD5 checksum of the release file
                  sha256:
                    type: string
                    description: The SHA256 checksum of the release file
              downloads:
                type: integer
                description: "[DEPRECATED]"
              filename:
                type: string
                description: Full filename (including extension)
              has_sig:
                type: boolean
                description: >-
                  Indicates whether a $(filename).asc GPG signature file was
                  provided
              md5_digest:
                type: string
                description: "[DEPRECATED]"
              packagetype:
                type: string
                description: "Release file type: 'sdist', 'bdist_wheel', etc"
              python_version:
                type: string
                description: >-
                  Can be 'source' or Python Tag as defined in
                  https://www.python.org/dev/peps/pep-0425/#python-tag
              requires_python:
                type:
                  - string
                  - "null"
                description: >-
                  Python runtime version required for project. Corresponds to
                  https://packaging.python.org/specifications/core-metadata/#requires-python
              size:
                type: integer
                description: File size in bytes
              upload_time:
                type: string
                description: >-
                  strftime('%Y-%m-%dT%H:%M:%S') of when the release file was
                  uploaded
              upload_time_iso_8601:
                type: string
                description: ISO 8601 timestamp of when the release file was uploaded
              url:
                type: string
                description: Downloadable URL of the release file
              yanked:
                type: boolean
                description: Is release file PEP 592 yanked
              yanked_reason:
                type:
                  - string
                  - "null"
                description: PEP 592 reason for yanking release file
            required:
              - digests
              - filename
              - packagetype
              - size
              - upload_time_iso_8601
              - url
              - yanked
              - yanked_reason
      vulnerabilities:
        type: array
        description: A mapping of version identifiers to vulnerability information
        items:
          type: object
          properties:
            aliases:
              type:
                - array
                - "null"
              description: A list of CVE vulns
              items:
                type: string
            details:
              type:
                - string
                - "null"
              description: A description of the vulnerability
            fixed_in:
              type:
                - array
                - "null"
              description: A list of versions that are fixed
              items:
                type: string
            id:
              type:
                - string
                - "null"
            link:
              type:
                - string
                - "null"
            source:
              type:
                - string
                - "null"
    required:
      - info
      - last_serial
      - releases
      - urls
    title: Warehouse JSON API version 1.0
    additionalProperties: true
  release:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      info:
        type: object
        description: Generic information about a specific version of a project
        properties:
          version:
            type: string
            description: >-
              A string containing the distributions version number in the format
              specified in PEP 440. Corresponds to
              https://packaging.python.org/specifications/core-metadata/#version
          author:
            type: string
            description: The name of the company or individual who created the project
          author_email:
            type: string
            description: The author's email address
          bugtrack_url:
            type:
              - string
              - "null"
            description: URL to find issues and bugs for the project
          classifiers:
            type: array
            description: >-
              Trove Classifier. Corresponds to
              https://packaging.python.org/specifications/core-metadata/#classifier-multiple-use
            items:
              type: string
          description:
            type: string
            description: >-
              Corresponds to
              https://packaging.python.org/specifications/core-metadata/#description
          description_content_type:
            type:
              - string
              - "null"
            description: >-
              Corresponds to
              https://packaging.python.org/specifications/core-metadata/#description-content-type
          docs_url:
            type:
              - string
              - "null"
            description: URL to the project's documentation
          download_url:
            type:
              - string
              - "null"
            description: "[DEPRECATED]"
          downloads:
            type: object
            description: "[DEPRECATED]"
          home_page:
            type: string
            description: URL to project home page
          keywords:
            type: string
            description: Keywords to use for project searching
          license:
            type:
              - string
              - "null"
            description: Project's open source license
          maintainer:
            type:
              - string
              - "null"
            description: Project maintainer name
          maintainer_email:
            type:
              - string
              - "null"
            description: Project maintainer email address
          name:
            type: string
            description: Project's raw (non-normailzed name)
          package_url:
            type: string
            description: URL to the project page
          platform:
            type:
              - "null"
              - string
            description: "[DEPRECATED]"
          project_url:
            type: string
            description: URL to the project page
          project_urls:
            description: >-
              Additional URLs that are relevant to your project. Corresponds to
              https://packaging.python.org/specifications/core-metadata/#project-url-multiple-use
            patternProperties:
              .*:
                type:
                  - "null"
                  - string
          release_url:
            type: string
            description: URL of the release page of the version of the project
          requires_dist:
            type:
              - array
              - "null"
            description: >-
              Calculated project dependencies. Corresponds to
              https://packaging.python.org/specifications/core-metadata/#requires-dist-multiple-use
            items:
              type: string
          requires_python:
            type:
              - string
              - "null"
            description: >-
              Python runtime version required for project. Corresponds to
              https://packaging.python.org/specifications/core-metadata/#requires-python
          summary:
            type:
              - string
              - "null"
            description: >-
              A one-line summary of what the distribution does.. Corresponds to
              https://packaging.python.org/specifications/core-metadata/#summary
          yanked:
            type: boolean
            description: If the version has been yanked. As defined in PEP 592
          yanked_reason:
            type:
              - string
              - "null"
            description: Reason for applying PEP 592 version yank
        required:
          - author
          - author_email
          - license
          - name
          - project_url
          - version
          - yanked
          - yanked_reason
      last_serial:
        type: integer
        description: >-
          Monotonically increasing integer sequence that changes every time the
          project is updated
      urls:
        type: array
        description: A list of release artifacts associated with a version
        items:
          release_file:
            type: object
            description: A single downloadable and installable artifact
            properties:
              comment_text:
                type: string
                description: "[DEPRECATED]"
              digests:
                type: object
                description: The file checksums
                properties:
                  md5:
                    type: string
                    description: The MD5 checksum of the release file
                  sha256:
                    type: string
                    description: The SHA256 checksum of the release file
              downloads:
                type: integer
                description: "[DEPRECATED]"
              filename:
                type: string
                description: Full filename (including extension)
              has_sig:
                type: boolean
                description: >-
                  Indicates whether a $(filename).asc GPG signature file was
                  provided
              md5_digest:
                type: string
                description: "[DEPRECATED]"
              packagetype:
                type: string
                description: "Release file type: 'sdist', 'bdist_wheel', etc"
              python_version:
                type: string
                description: >-
                  Can be 'source' or Python Tag as defined in
                  https://www.python.org/dev/peps/pep-0425/#python-tag
              requires_python:
                type:
                  - string
                  - "null"
                description: >-
                  Python runtime version required for project. Corresponds to
                  https://packaging.python.org/specifications/core-metadata/#requires-python
              size:
                type: integer
                description: File size in bytes
              upload_time:
                type: string
                description: >-
                  strftime('%Y-%m-%dT%H:%M:%S') of when the release file was
                  uploaded
              upload_time_iso_8601:
                type: string
                description: ISO 8601 timestamp of when the release file was uploaded
              url:
                type: string
                description: Downloadable URL of the release file
              yanked:
                type: boolean
                description: Is release file PEP 592 yanked
              yanked_reason:
                type:
                  - string
                  - "null"
                description: PEP 592 reason for yanking release file
            required:
              - digests
              - filename
              - packagetype
              - size
              - upload_time_iso_8601
              - url
              - yanked
              - yanked_reason
      vulnerabilities:
        type: array
        description: A mapping of version identifiers to vulnerability information
        items:
          type: object
          properties:
            aliases:
              type:
                - array
                - "null"
              description: A list of CVE vulns
              items:
                type: string
            details:
              type:
                - string
                - "null"
              description: A description of the vulnerability
            fixed_in:
              type:
                - array
                - "null"
              description: A list of versions that are fixed
              items:
                type: string
            id:
              type:
                - string
                - "null"
            link:
              type:
                - string
                - "null"
            source:
              type:
                - string
                - "null"
    required:
      - info
      - last_serial
      - urls
    title: Warehouse JSON API version 1.0
    additionalProperties: true
  stats:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      top_packages:
        type: object
        description: Object containing size information for top packages
        patternProperties:
          .*:
            type: object
            properties:
              size:
                type:
                  - "null"
                  - integer
                description: Size of the package in bytes
            required:
              - size
      total_packages_size:
        type: integer
        description: Total size of all packages combined in bytes
    required:
      - top_packages
      - total_packages_size
    title: PyPI status
    additionalProperties: true
