version: 0.50.2
type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - balances

definitions:
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - "{{ parameters.field_path }}"

  requester:
    type: HttpRequester
    url_base: 'https://api-m.{{ "sandbox." if config["is_sandbox"] }}paypal.com/v1/reporting/'
    path: "{{ parameters.path }}"
    http_method: GET
    request_headers:
      Content-Type: application/json
    authenticator:
      type: CustomAuthenticator
      class_name: source_paypal_transaction.components.PayPalOauth2Authenticator
      client_id: "{{ config['client_id'] }}"
      client_secret: "{{ config['client_secret'] }}"
      refresh_request_body:
        Content-Type: application/x-www-form-urlencoded
      token_refresh_endpoint: 'https://api-m.{{ "sandbox." if config["is_sandbox"] }}paypal.com/v1/oauth2/token'
      grant_type: client_credentials
      expires_in_name: expires_in
      access_token_name: access_token
    error_handler:
      type: CompositeErrorHandler
      error_handlers:
        - type: DefaultErrorHandler
          backoff_strategies:
            - type: ConstantBackoffStrategy
              backoff_time_in_seconds: 300
    request_body_json: {}

  transactions_stream:
    type: DeclarativeStream
    primary_key: transaction_id
    name: "transactions"
    retriever:
      type: SimpleRetriever
      record_selector:
        $ref: "#/definitions/selector"
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          inject_into: request_parameter
          field_name: page_size
          type: RequestOption
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 500
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          fields: all
    transformations:
      - type: AddFields
        fields:
          - path:
              - transaction_updated_date
            value: >-
              {{ format_datetime(record['transaction_info']['transaction_updated_date'], '%Y-%m-%dT%H:%M:%SZ') }}
      - type: AddFields
        fields:
          - path:
              - transaction_id
            value: "{{ record['transaction_info']['transaction_id'] }}"
            value_type: string
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: transaction_updated_date
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ max( format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ'), day_delta(-1095, format='%Y-%m-%dT%H:%M:%SZ') ) }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: start_date
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: end_date
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      step: "P{{ config.get('time_window', 7) }}D"
      cursor_granularity: PT1S
    $parameters:
      path: "transactions"
      field_path: transaction_details

  balances_stream:
    type: DeclarativeStream
    primary_key: as_of_time
    name: "balances"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: PageIncrement
          page_size: 500
      requester:
        $ref: "#/definitions/requester"
        request_parameters: {}
    transformations:
      - type: AddFields
        fields:
          - path:
              - as_of_time
            value: "{{ format_datetime(record['as_of_time'], '%Y-%m-%dT%H:%M:%SZ') }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: as_of_time
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ max( format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%SZ'), day_delta(-1095, format='%Y-%m-%dT%H:%M:%SZ') ) }}
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: as_of_time
        inject_into: request_parameter
    $parameters:
      path: "balances"

streams:
  - "#/definitions/transactions_stream"
  - "#/definitions/balances_stream"

spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/paypal-transactions
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    additionalProperties: true
    required:
      - client_id
      - client_secret
      - start_date
      - is_sandbox
    properties:
      client_id:
        type: string
        title: Client ID
        description: "The Client ID of your Paypal developer application."
        airbyte_secret: true
        order: 0
      client_secret:
        type: string
        title: Client secret
        description: "The Client Secret of your Paypal developer application."
        airbyte_secret: true
        order: 1
      start_date:
        title: Start Date
        description: >-
          Start Date for data extraction in <a
          href=\"https://datatracker.ietf.org/doc/html/rfc3339#section-5.6\">ISO
          format</a>. Date must be in range from 3 years till 12 hrs before
          present time.
        type: string
        examples: ["2021-06-11T23:59:59", "2021-06-11T23:59:59+00:00"]
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(|Z|[+-][0-9]{2}:[0-9]{2})$
        format: "date-time"
        order: 2
      is_sandbox:
        title: "Sandbox"
        description: "Determines whether to use the sandbox or production environment."
        type: "boolean"
        default: false
      refresh_token:
        type: "string"
        title: "Refresh token"
        description: "The key to refresh the expired access token."
        airbyte_secret: true
      time_window:
        type: "integer"
        title: "Number of days per request"
        description: "The number of days per request. Must be a number between 1 and 31."
        default: 7
        minimum: 1
        maximum: 31
