version: 0.80.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  record_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - data
  incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: updated_at
    cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%SZ"
    datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['begin_time'] if config['begin_time'] else (now_utc() - duration('P5Y')).strftime('%Y-%m-%dT%H:%M:%SZ') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    start_time_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: begin_time
    end_time_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: end_time
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['end_time'] if config['end_time'] else now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
  streams:
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: accounts
          http_method: GET
          request_parameters:
            order: asc
            sort: updated_at
          request_headers:
            User-Agent: USER_AGENT
            Accept: application/vnd.recurly.v2021-02-25
            Content-Type: application/json
        record_selector:
          $ref: "#/definitions/record_selector"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"
      incremental_sync:
        $ref: "#/definitions/incremental_sync"
    account_coupon_redemptions:
      type: DeclarativeStream
      name: account_coupon_redemptions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts/{{ stream_partition['account_id'] }}/coupon_redemptions
          http_method: GET
          request_parameters:
            order: asc
            sort: updated_at
          request_headers:
            User-Agent: USER_AGENT
            Accept: application/vnd.recurly.v2021-02-25
            Content-Type: application/json
        record_selector:
          $ref: "#/definitions/record_selector"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: "#/definitions/streams/accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/account_coupon_redemptions"
      incremental_sync:
        $ref: "#/definitions/incremental_sync"
    account_notes:
      type: DeclarativeStream
      name: account_notes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts/{{ stream_partition['account_id'] }}/notes
          http_method: GET
          request_parameters:
            order: asc
            sort: created_at
          request_headers:
            User-Agent: USER_AGENT
            Accept: application/vnd.recurly.v2021-02-25
            Content-Type: application/json
        record_selector:
          $ref: "#/definitions/record_selector"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: "#/definitions/streams/accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/account_notes"
      incremental_sync:
        $ref: "#/definitions/incremental_sync"
        cursor_field: created_at
    add_ons:
      type: DeclarativeStream
      name: add_ons
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /add_ons
          http_method: GET
          request_parameters:
            order: asc
            sort: updated_at
          request_headers:
            User-Agent: USER_AGENT
            Accept: application/vnd.recurly.v2021-02-25
            Content-Type: application/json
        record_selector:
          $ref: "#/definitions/record_selector"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/add_ons"
      incremental_sync:
        $ref: "#/definitions/incremental_sync"
    billing_infos:
      type: DeclarativeStream
      name: billing_infos
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts/{{ stream_partition['account_id'] }}/billing_infos
          http_method: GET
          request_parameters:
            order: asc
            sort: updated_at
          request_headers:
            User-Agent: USER_AGENT
            Accept: application/vnd.recurly.v2021-02-25
            Content-Type: application/json
        record_selector:
          $ref: "#/definitions/record_selector"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: "#/definitions/streams/accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/billing_infos"
      incremental_sync:
        $ref: "#/definitions/incremental_sync"
    coupons:
      type: DeclarativeStream
      name: coupons
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: coupons
          http_method: GET
          request_parameters:
            order: asc
            sort: updated_at
          request_headers:
            User-Agent: USER_AGENT
            Accept: application/vnd.recurly.v2021-02-25
            Content-Type: application/json
        record_selector:
          $ref: "#/definitions/record_selector"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/coupons"
      incremental_sync:
        $ref: "#/definitions/incremental_sync"
    credit_payments:
      type: DeclarativeStream
      name: credit_payments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: credit_payments
          http_method: GET
          request_parameters:
            order: asc
            sort: updated_at
          request_headers:
            User-Agent: USER_AGENT
            Accept: application/vnd.recurly.v2021-02-25
            Content-Type: application/json
        record_selector:
          $ref: "#/definitions/record_selector"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/credit_payments"
      incremental_sync:
        $ref: "#/definitions/incremental_sync"
    export_dates:
      type: DeclarativeStream
      name: export_dates
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: export_dates
          http_method: GET
          request_headers:
            User-Agent: USER_AGENT
            Accept: application/vnd.recurly.v2021-02-25
            Content-Type: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: CustomRecordExtractor
            class_name: source_recurly.components.ExportDatesExtractor
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/export_dates"
    invoices:
      type: DeclarativeStream
      name: invoices
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: invoices
          http_method: GET
          request_parameters:
            order: asc
            sort: updated_at
          request_headers:
            User-Agent: USER_AGENT
            Accept: application/vnd.recurly.v2021-02-25
            Content-Type: application/json
        record_selector:
          $ref: "#/definitions/record_selector"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/invoices"
      incremental_sync:
        $ref: "#/definitions/incremental_sync"
    line_items:
      type: DeclarativeStream
      name: line_items
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: line_items
          http_method: GET
          request_parameters:
            order: asc
            sort: updated_at
          request_headers:
            User-Agent: USER_AGENT
            Accept: application/vnd.recurly.v2021-02-25
            Content-Type: application/json
        record_selector:
          $ref: "#/definitions/record_selector"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/line_items"
      incremental_sync:
        $ref: "#/definitions/incremental_sync"
    measured_units:
      type: DeclarativeStream
      name: measured_units
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: measured_units
          http_method: GET
          request_parameters:
            order: asc
            sort: updated_at
          request_headers:
            User-Agent: USER_AGENT
            Accept: application/vnd.recurly.v2021-02-25
            Content-Type: application/json
        record_selector:
          $ref: "#/definitions/record_selector"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/measured_units"
      incremental_sync:
        $ref: "#/definitions/incremental_sync"
    plans:
      type: DeclarativeStream
      name: plans
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: plans
          http_method: GET
          request_parameters:
            order: asc
            sort: updated_at
          request_headers:
            User-Agent: USER_AGENT
            Accept: application/vnd.recurly.v2021-02-25
            Content-Type: application/json
        record_selector:
          $ref: "#/definitions/record_selector"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/plans"
      incremental_sync:
        $ref: "#/definitions/incremental_sync"
    shipping_addresses:
      type: DeclarativeStream
      name: shipping_addresses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts/{{ stream_partition['account_id'] }}/shipping_addresses
          http_method: GET
          request_parameters:
            order: asc
            sort: updated_at
          request_headers:
            User-Agent: USER_AGENT
            Accept: application/vnd.recurly.v2021-02-25
            Content-Type: application/json
        record_selector:
          $ref: "#/definitions/record_selector"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: "#/definitions/streams/accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shipping_addresses"
      incremental_sync:
        $ref: "#/definitions/incremental_sync"
    shipping_methods:
      type: DeclarativeStream
      name: shipping_methods
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: shipping_methods
          http_method: GET
          request_parameters:
            order: asc
            sort: updated_at
          request_headers:
            User-Agent: USER_AGENT
            Accept: application/vnd.recurly.v2021-02-25
            Content-Type: application/json
        record_selector:
          $ref: "#/definitions/record_selector"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shipping_methods"
      incremental_sync:
        $ref: "#/definitions/incremental_sync"
    subscriptions:
      type: DeclarativeStream
      name: subscriptions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: subscriptions
          http_method: GET
          request_parameters:
            order: asc
            sort: updated_at
          request_headers:
            User-Agent: USER_AGENT
            Accept: application/vnd.recurly.v2021-02-25
            Content-Type: application/json
        record_selector:
          $ref: "#/definitions/record_selector"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/subscriptions"
      incremental_sync:
        $ref: "#/definitions/incremental_sync"
    transactions:
      type: DeclarativeStream
      name: transactions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: transactions
          http_method: GET
          request_parameters:
            order: asc
            sort: updated_at
          request_headers:
            User-Agent: USER_AGENT
            Accept: application/vnd.recurly.v2021-02-25
            Content-Type: application/json
        record_selector:
          $ref: "#/definitions/record_selector"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/transactions"
      incremental_sync:
        $ref: "#/definitions/incremental_sync"
    unique_coupons:
      type: DeclarativeStream
      name: unique_coupons
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /coupons/{{ stream_partition['coupon_id'] }}/unique_coupon_codes
          http_method: GET
          request_parameters:
            order: asc
            sort: updated_at
          request_headers:
            User-Agent: USER_AGENT
            Accept: application/vnd.recurly.v2021-02-25
            Content-Type: application/json
        record_selector:
          $ref: "#/definitions/record_selector"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 200
            cursor_value: "{{ response.next }}"
            stop_condition: "{{ response.has_more is false }}"
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: coupon_id
                stream:
                  $ref: "#/definitions/streams/coupons"
                  retriever:
                    $ref: "#/definitions/streams/coupons/retriever"
                    record_selector:
                      $ref: "#/definitions/record_selector"
                      record_filter:
                        condition: "{{ record['coupon_type'] == 'bulk' }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/unique_coupons"
      incremental_sync:
        $ref: "#/definitions/incremental_sync"
  base_requester:
    type: HttpRequester
    url_base: https://v3.recurly.com
    authenticator:
      type: BasicHttpAuthenticator
      username: "{{ config['api_key'] }}"
      password: ""

streams:
  - $ref: "#/definitions/streams/accounts"
  - $ref: "#/definitions/streams/account_coupon_redemptions"
  - $ref: "#/definitions/streams/account_notes"
  - $ref: "#/definitions/streams/add_ons"
  - $ref: "#/definitions/streams/billing_infos"
  - $ref: "#/definitions/streams/coupons"
  - $ref: "#/definitions/streams/credit_payments"
  - $ref: "#/definitions/streams/export_dates"
  - $ref: "#/definitions/streams/invoices"
  - $ref: "#/definitions/streams/line_items"
  - $ref: "#/definitions/streams/measured_units"
  - $ref: "#/definitions/streams/plans"
  - $ref: "#/definitions/streams/shipping_addresses"
  - $ref: "#/definitions/streams/shipping_methods"
  - $ref: "#/definitions/streams/subscriptions"
  - $ref: "#/definitions/streams/transactions"
  - $ref: "#/definitions/streams/unique_coupons"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        description: >-
          Recurly API Key. See the  <a
          href="https://docs.airbyte.com/integrations/sources/recurly">docs</a>
          for more information on how to generate this key.
        order: 0
      begin_time:
        type: string
        description: >-
          ISO8601 timestamp from which the replication from Recurly API will
          start from.
        examples:
          - "2021-12-01T00:00:00"
        pattern: ^$|^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}$
        order: 1
      end_time:
        type: string
        description: >-
          ISO8601 timestamp to which the replication from Recurly API will stop.
          Records after that date won't be imported.
        examples:
          - "2021-12-01T00:00:00"
        pattern: ^$|^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}$
        order: 2

schemas:
  accounts:
    $schema: "http://json-schema.org/draft-07/schema#"
    additionalProperties: true
    type: object
    properties:
      id:
        description: Unique identifier of the account
        type:
          - "null"
          - string
        maxLength: 13
      object:
        description: Type of object
        type:
          - "null"
          - string
      hosted_login_token:
        description: Token for hosted login functionality
        type:
          - "null"
          - string
      code:
        description: Unique code assigned to the account
        type:
          - "null"
          - string
        maxLength: 256
      parent_account_id:
        description: ID of the parent account
        type:
          - "null"
          - string
        maxLength: 13
      bill_to:
        description: The billing details
        type:
          - "null"
          - string
        maxLength: 6
      state:
        description: State/province of the account address
        type:
          - "null"
          - string
        maxLength: 256
      username:
        description: Username of the account holder
        type:
          - "null"
          - string
        maxLength: 256
      email:
        description: Email address of the account holder
        type:
          - "null"
          - string
        maxLength: 256
      cc_emails:
        description: Email addresses for carbon copy (CC)
        type:
          - "null"
          - string
        maxLength: 256
      preferred_locale:
        description: Preferred language/locale of the account holder
        type:
          - "null"
          - string
        maxLength: 12
      first_name:
        description: First name of the account holder
        type:
          - "null"
          - string
        maxLength: 256
      last_name:
        description: Last name of the account holder
        type:
          - "null"
          - string
        maxLength: 256
      company:
        description: Company associated with the account
        type:
          - "null"
          - string
        maxLength: 50
      vat_number:
        description: VAT (Value Added Tax) number of the account
        type:
          - "null"
          - string
        maxLength: 20
      tax_exempt:
        description: Flag indicating if the account is tax exempt
        type:
          - "null"
          - boolean
      exemption_certificate:
        description: Exemption certificate details
        type:
          - "null"
          - string
        maxLength: 30
      address:
        description: The address details of the account
        type: object
        properties:
          phone:
            description: Phone number associated with the address
            type: string
            title: Phone number
            maxLength: 256
          street1:
            description: First line of the street address
            type: string
            title: Street 1
            maxLength: 256
          street2:
            description: Second line of the street address
            type: string
            title: Street 2
            maxLength: 256
          city:
            description: City of the address
            type: string
            title: City
            maxLength: 256
          region:
            type: string
            title: State/Province
            description: State or province.
            maxLength: 256
          postal_code:
            type: string
            title: Zip/Postal code
            description: Zip or postal code.
            maxLength: 256
          country:
            type: string
            title: Country
            description: "Country, 2-letter ISO 3166-1 alpha-2 code."
            maxLength: 2
          geo_code:
            description: Geographical coordinates of the address
            type:
              - "null"
              - string
      custom_fields:
        description: Custom fields associated with the account
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          additionalProperties: true
      has_live_subscription:
        description: Flag indicating if the account has a live subscription
        type:
          - "null"
          - boolean
      has_active_subscription:
        description: Flag indicating if the account has an active subscription
        type:
          - "null"
          - boolean
      has_future_subscription:
        description: Flag indicating if the account has a future subscription
        type:
          - "null"
          - boolean
      has_canceled_subscription:
        description: Flag indicating if the account has a canceled subscription
        type:
          - "null"
          - boolean
      has_paused_subscription:
        description: Flag indicating if the account has a paused subscription
        type:
          - "null"
          - boolean
      has_past_due_invoice:
        description: Flag indicating if the account has a past due invoice
        type:
          - "null"
          - boolean
      dunning_campaign_id:
        description: Campaign ID for dunning management
        type:
          - "null"
          - string
        maxLength: 256
      created_at:
        description: Date and time when the account was created
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        description: Date and time when the account was last updated
        type:
          - "null"
          - string
        format: date-time
      deleted_at:
        description: Date and time when the account was deleted
        type:
          - "null"
          - string
        format: date-time
      billing_info:
        description: Billing information
        $ref: "#/schemas/billing_infos_common"
      external_accounts:
        description: External accounts associated with the account
        type:
          - "null"
          - array
        items:
          $ref: "#/schemas/external_accounts_common"
      invoice_template_id:
        description: ID of the invoice template used
        type:
          - "null"
          - string
      override_business_entity_id:
        description: ID for overriding business entity
        type:
          - "null"
          - string
      preferred_time_zone:
        description: Preferred time zone of the account holder
        type:
          - "null"
          - string
      shipping_addresses:
        description: Addresses for shipping
        type:
          - "null"
          - array
        items:
          $ref: "#/schemas/shipping_addresses_common"

  account_coupon_redemptions:
    $schema: "http://json-schema.org/draft-07/schema#"
    additionalProperties: true
    type: object
    properties:
      id:
        description: The unique identifier for the redemption
        type:
          - "null"
          - string
        maxLength: 13
      object:
        description: The type of object this represents
        type:
          - "null"
          - string
      account:
        description: The account associated with the coupon redemption
        $ref: "#/schemas/account_details_common"
      subscription_id:
        description: The subscription associated with the redemption
        type:
          - "null"
          - string
        maxLength: 13
      coupon:
        description: The coupon being redeemed
        $ref: "#/schemas/coupons_common"
      state:
        description: The current state of the redemption
        type:
          - "null"
          - string
        maxLength: 256
      currency:
        description: The currency in which the redemption was made
        type:
          - "null"
          - string
        maxLength: 3
      discounted:
        description: The amount discounted by the coupon
        type:
          - "null"
          - number
      created_at:
        description: The date and time when the redemption was created
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        description: The date and time when the redemption was last updated
        type:
          - "null"
          - string
        format: date-time
      removed_at:
        description: The date and time when the redemption was removed (if applicable)
        type:
          - "null"
          - string
        format: date-time

  account_notes:
    $schema: "http://json-schema.org/draft-07/schema#"
    additionalProperties: true
    type: object
    properties:
      id:
        description: The unique identifier for this note.
        type: string
        maxLength: 13
        readOnly: true
      object:
        description: "Represents the object type, in this case, 'note'."
        type:
          - "null"
          - string
      account_id:
        description: The unique identifier of the account associated with this note.
        type: string
        maxLength: 13
      user:
        description: The user who created the note.
        $ref: "#/schemas/users_common"
      message:
        description: The content or message of the note.
        type:
          - "null"
          - string
        maxLength: 2048
      created_at:
        description: The date and time when the note was created.
        type: string
        format: date-time
        readOnly: true

  add_ons:
    $schema: "http://json-schema.org/schema#"
    additionalProperties: true
    type: object
    properties:
      id:
        description: The unique identifier for the add-on.
        type: string
        title: Add-on ID
        maxLength: 13
        readOnly: true
      plan_id:
        description: The ID of the plan to which the add-on is associated.
        type: string
        title: Plan ID
        maxLength: 13
        readOnly: true
      code:
        type: string
        title: Add-on code
        description: The unique identifier for the add-on within its plan.
        maxLength: 50
      state:
        title: State
        description: Add-ons can be either active or inactive.
        readOnly: true
        type: string
        maxLength: 256
      name:
        type: string
        title: Name
        description: Describes your add-on and will appear in subscribers' invoices.
        maxLength: 255
      add_on_type:
        type:
          - "null"
          - string
        title: Add-on Type
        description: "Whether the add-on type is fixed, or usage-based."
        maxLength: 256
      usage_type:
        type: string
        title: Usage Type
        description: "Type of usage, returns usage type if `add_on_type` is `usage`."
        maxLength: 256
      usage_percentage:
        type:
          - "null"
          - number
        format: float
        title: Usage Percentage
        description: >-
          The percentage taken of the monetary amount of usage tracked. This can be
          up to 4 decimal places. A value between 0.0 and 100.0.
      measured_unit_id:
        type:
          - "null"
          - string
        title: Measured Unit ID
        description: >-
          System-generated unique identifier for an measured unit associated with
          the add-on.
        maxLength: 13
      accounting_code:
        type:
          - "null"
          - string
        title: Accounting code
        description: >-
          Accounting code for invoice line items for this add-on. If no value is
          provided, it defaults to add-on's code.
        maxLength: 256
      revenue_schedule_type:
        title: Revenue schedule type
        description: >-
          When this add-on is invoiced, the line item will use this revenue
          schedule. If `item_code`/`item_id` is part of the request then
          `revenue_schedule_type` must be absent in the request as the value will be
          set from the item.
        type: string
        maxLength: 256
      avalara_transaction_type:
        type:
          - string
          - integer
        title: Avalara Transaction Type
        description: >-
          Used by Avalara for Communications taxes. The transaction type in
          combination with the service type describe how the add-on is taxed. Refer
          to [the
          documentation](https://help.avalara.com/AvaTax_for_Communications/Tax_Calculation/AvaTax_for_Communications_Tax_Engine/Mapping_Resources/TM_00115_AFC_Modules_Corresponding_Transaction_Types)
          for more available t/s types.
        minimum: 0
      avalara_service_type:
        type:
          - string
          - integer
        title: Avalara Service Type
        description: >-
          Used by Avalara for Communications taxes. The transaction type in
          combination with the service type describe how the add-on is taxed. Refer
          to [the
          documentation](https://help.avalara.com/AvaTax_for_Communications/Tax_Calculation/AvaTax_for_Communications_Tax_Engine/Mapping_Resources/TM_00115_AFC_Modules_Corresponding_Transaction_Types)
          for more available t/s types.
        minimum: 0
      tax_code:
        type:
          - "null"
          - string
        title: Tax code
        description: >-
          Used by Avalara, Vertex, and Recurly’s EU VAT tax feature. The tax code
          values are specific to each tax system. If you are using Recurly’s EU VAT
          feature you can use `unknown`, `physical`, or `digital`.
        maxLength: 50
      display_quantity:
        type:
          - "null"
          - boolean
        title: Display quantity?
        description: >-
          Determines if the quantity field is displayed on the hosted pages for the
          add-on.
      default_quantity:
        type:
          - "null"
          - integer
        title: Default quantity
        description: Default quantity for the hosted pages.
      optional:
        type:
          - "null"
          - boolean
        title: Optional
        description: >-
          Whether the add-on is optional for the customer to include in their
          purchase on the hosted payment page. If false, the add-on will be included
          when a subscription is created through the Recurly UI. However, the add-on
          will not be included when a subscription is created through the API.
      currencies:
        type: array
        description: This is only present when `type=fixed`.
        items:
          type:
            - "null"
            - object
          properties:
            currency:
              type: string
              title: Currency
              description: 3-letter ISO 4217 currency code.
              maxLength: 3
            unit_amount:
              type: number
              format: float
              title: Discount Amount
              description: Value of the fixed discount that this coupon applies.
      tier_type:
        type:
          - "null"
          - string
        title: Tier type
        description: >
          The pricing model for the add-on.  For more information,

          [click
          here](https://docs.recurly.com/docs/billing-models#section-quantity-based).
          See our

          [Guide](https://developers.recurly.com/guides/item-addon-guide.html) for
          an overview of how

          to configure quantity-based pricing models.
        maxLength: 256
      created_at:
        description: The date and time when the add-on was created.
        type: string
        format: date-time
        title: Created at
        readOnly: true
      updated_at:
        description: The date and time when the add-on was last updated.
        type: string
        format: date-time
        title: Last updated at
        readOnly: true
      deleted_at:
        description: "The date and time when the add-on was deleted, if applicable."
        type: string
        format: date-time
        title: Deleted at
        readOnly: true

  billing_infos:
    $schema: "http://json-schema.org/draft-07/schema#"
    additionalProperties: true
    type: object
    properties:
      id:
        type: string
        maxLength: 13
        readOnly: true
      object:
        type:
          - "null"
          - string
      account_id:
        type: string
        maxLength: 13
        readOnly: true
      first_name:
        type:
          - "null"
          - string
        maxLength: 50
      last_name:
        type:
          - "null"
          - string
        maxLength: 50
      company:
        type:
          - "null"
          - string
        maxLength: 100
      address:
        type: object
        properties:
          phone:
            type:
              - "null"
              - string
            title: Phone number
            maxLength: 256
          street1:
            type:
              - "null"
              - string
            title: Street 1
            maxLength: 256
          street2:
            type:
              - "null"
              - string
            title: Street 2
            maxLength: 256
          city:
            type:
              - "null"
              - string
            title: City
            maxLength: 256
          region:
            type:
              - "null"
              - string
            title: State/Province
            description: State or province.
            maxLength: 256
          postal_code:
            type:
              - "null"
              - string
            title: Zip/Postal code
            description: Zip or postal code.
            maxLength: 256
          country:
            type:
              - "null"
              - string
            title: Country
            description: "Country, 2-letter ISO 3166-1 alpha-2 code."
            maxLength: 2
      vat_number:
        type:
          - "null"
          - string
        description: >-
          Customer's VAT number (to avoid having the VAT applied). This is only used
          for automatically collected invoices.
        maxLength: 20
      valid:
        type: boolean
        readOnly: true
      payment_method:
        type: object
        properties:
          card_type:
            description: "Visa, MasterCard, American Express, Discover, JCB, etc."
            type:
              - "null"
              - string
            maxLength: 256
          object:
            type:
              - "null"
              - string
          first_six:
            type:
              - "null"
              - string
            description: Credit card number's first six digits.
            maxLength: 6
          last_four:
            type:
              - "null"
              - string
            description: >-
              Credit card number's last four digits. Will refer to bank account if
              payment method is ACH.
            maxLength: 4
          last_two:
            type:
              - "null"
              - string
            description: The IBAN bank account's last two digits.
            maxLength: 2
          exp_month:
            type:
              - "null"
              - integer
            description: Expiration month.
            maxLength: 2
          exp_year:
            type:
              - "null"
              - integer
            description: Expiration year.
            maxLength: 4
          gateway_token:
            type:
              - "null"
              - string
            description: >-
              A token used in place of a credit card in order to perform
              transactions.
            maxLength: 50
          cc_bin_country:
            type:
              - "null"
              - string
            description: >-
              The 2-letter ISO 3166-1 alpha-2 country code associated with the
              credit card BIN, if known by Recurly. Available on the BillingInfo
              object only. Available when the BIN country lookup feature is enabled.
            maxLength: 256
          gateway_code:
            type:
              - "null"
              - string
            description: An identifier for a specific payment gateway.
            maxLength: 13
          billing_agreement_id:
            type:
              - "null"
              - string
            description: >-
              Billing Agreement identifier. Only present for Amazon or Paypal
              payment methods.
            maxLength: 256
          name_on_account:
            type:
              - "null"
              - string
            description: The name associated with the bank account.
            maxLength: 256
          account_type:
            description: The bank account type. Only present for ACH payment methods.
            type:
              - "null"
              - string
            maxLength: 256
          routing_number:
            type:
              - "null"
              - string
            description: >-
              The bank account's routing number. Only present for ACH payment
              methods.
            maxLength: 256
          routing_number_bank:
            type:
              - "null"
              - string
            description: The bank name of this routing number.
            maxLength: 256
      fraud:
        type:
          - "null"
          - object
        title: Fraud information
        description: Most recent fraud result.
        readOnly: true
        properties:
          score:
            type:
              - "null"
              - integer
            title: Kount score
          decision:
            title: Kount decision
            maxLength: 10
            type:
              - "null"
              - string
          risk_rules_triggered:
            type: object
            title: Kount rules
      primary_payment_method:
        type: boolean
        description: >-
          The `primary_payment_method` field is used to indicate the primary billing
          info on the account. The first billing info created on an account will
          always become primary. This payment method will be used
      backup_payment_method:
        type: boolean
        description: >-
          The `backup_payment_method` field is used to indicate a billing info as a
          backup on the account that will be tried if the initial billing info used
          for an invoice is declined.
      created_at:
        type: string
        format: date-time
        description: When the billing information was created.
        readOnly: true
      updated_at:
        type: string
        format: date-time
        description: When the billing information was last changed.
        readOnly: true
      updated_by:
        type:
          - "null"
          - object
        properties:
          ip:
            type:
              - "null"
              - string
          country:
            type:
              - "null"
              - string

  coupons:
    $schema: "http://json-schema.org/draft-07/schema#"
    additionalProperties: true
    type: object
    properties:
      id:
        type:
          - "null"
          - string
        maxLength: 13
      object:
        type:
          - "null"
          - string
      code:
        type:
          - "null"
          - string
        maxLength: 256
      name:
        type:
          - "null"
          - string
        maxLength: 256
      state:
        type:
          - "null"
          - string
        maxLength: 256
      max_redemptions:
        type:
          - "null"
          - number
      max_redemptions_per_account:
        type:
          - "null"
          - number
      unique_coupon_codes_count:
        type:
          - "null"
          - number
      unique_code_template:
        type:
          - "null"
          - string
        maxLength: 256
      unique_coupon_code:
        $ref: "#/schemas/unique_coupons_common"
      duration:
        type:
          - "null"
          - string
        maxLength: 256
      temporal_amount:
        type:
          - "null"
          - number
      temporal_unit:
        type:
          - "null"
          - string
        maxLength: 256
      free_trial_unit:
        type:
          - "null"
          - string
        maxLength: 256
      free_trial_amount:
        type:
          - "null"
          - number
      applies_to_all_plans:
        type:
          - "null"
          - boolean
      applies_to_all_items:
        type:
          - "null"
          - boolean
      applies_to_non_plan_charges:
        type:
          - "null"
          - boolean
      plans:
        type:
          - "null"
          - array
        title: Plans
        description: >-
          A list of plans for which this coupon applies. This will be `null` if
          `applies_to_all_plans=true`.
        items:
          type: object
          title: Plan mini details
          description: Just the important parts.
          properties:
            id:
              type: string
              title: Plan ID
              maxLength: 13
              readOnly: true
            code:
              type: string
              title: Plan code
              description: >-
                Unique code to identify the plan. This is used in Hosted Payment
                Page URLs and in the invoice exports.
              maxLength: 13
      items:
        type:
          - "null"
          - array
        title: Items
        description: |
          A list of items for which this coupon applies. This will be
          `null` if `applies_to_all_items=true`.
        items:
          type:
            - "null"
            - object
          title: Item mini details
          description: Just the important parts.
          properties:
            id:
              type: string
              title: Item ID
              maxLength: 13
              readOnly: true
      redemption_resource:
        type:
          - "null"
          - string
        maxLength: 256
      discount:
        type:
          - "null"
          - object
        description: |
          Details of the discount a coupon applies. Will contain a `type`
          property and one of the following properties: `percent`, `fixed`, `trial`.
        properties:
          type:
            type: string
            maxLength: 256
          percent:
            description: This is only present when `type=percent`.
            type: integer
          currencies:
            type: array
            description: This is only present when `type=fixed`.
            items:
              type:
                - "null"
                - object
              properties:
                currency:
                  type: string
                  title: Currency
                  description: 3-letter ISO 4217 currency code.
                  maxLength: 3
                amount:
                  type: number
                  format: float
                  title: Discount Amount
                  description: Value of the fixed discount that this coupon applies.
          trial:
            type: object
            description: This is only present when `type=free_trial`.
            properties:
              unit:
                title: Trial unit
                description: Temporal unit of the free trial
                type: string
                maxLength: 256
              length:
                type: integer
                title: Trial length
                description: >-
                  Trial length measured in the units specified by the sibling `unit`
                  property
      coupon_type:
        type:
          - "null"
          - string
        maxLength: 256
      hosted_page_description:
        type:
          - "null"
          - string
        maxLength: 1024
      invoice_description:
        type:
          - "null"
          - string
        maxLength: 1024
      redeem_by:
        type:
          - "null"
          - string
        maxLength: 256
      created_at:
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        type:
          - "null"
          - string
        format: date-time
      expired_at:
        type:
          - "null"
          - string
        format: date-time

  credit_payments:
    $schema: "http://json-schema.org/schema#"
    additionalProperties: true
    type: object
    properties:
      id:
        description: The unique identifier of the credit payment.
        type: string
        title: Credit Payment ID
        maxLength: 13
      uuid:
        type: string
        title: Recurly UUID
        description: >-
          The UUID is useful for matching data with the CSV exports and building
          URLs into Recurly's UI.
        maxLength: 32
      action:
        title: Action
        description: The action for which the credit was created.
        type: string
        maxLength: 256
      account:
        description: Details about the account associated with the credit payment.
        type: object
        title: Account mini details
        properties:
          id:
            description: The ID of the account associated with the credit payment.
            type: string
            maxLength: 13
            readOnly: true
          code:
            type: string
            description: The unique identifier of the account.
            maxLength: 50
      applied_to_invoice:
        description: Details about the invoice to which the credit payment is applied.
        type:
          - "null"
          - object
        title: Invoice mini details
        properties:
          id:
            description: The ID of the invoice to which the credit payment is applied.
            type: string
            title: Invoice ID
            maxLength: 13
          number:
            description: The number of the invoice to which the credit payment is applied.
            type: string
            title: Invoice number
            maxLength: 256
      original_invoice:
        description: Details about the original invoice for which the credit payment is made.
        type:
          - "null"
          - object
        title: Invoice mini details
        properties:
          id:
            description: The ID of the original invoice for which the credit payment was made.
            type: string
            title: Invoice ID
            maxLength: 13
          number:
            description: >-
              The number of the original invoice for which the credit payment was
              made.
            type: string
            title: Invoice number
            maxLength: 256
      currency:
        type: string
        title: Currency
        description: 3-letter ISO 4217 currency code.
        maxLength: 3
      amount:
        type: number
        format: float
        title: Amount
        description: Total credit payment amount applied to the charge invoice.
      original_credit_payment_id:
        type:
          - "null"
          - string
        title: Original Credit Payment ID
        description: >-
          For credit payments with action `refund`, this is the credit payment that
          was refunded.
        maxLength: 13
      refund_transaction:
        description: Details about the refund transaction associated with the credit payment.
        type:
          - "null"
          - object
        properties:
          id:
            description: The ID of the refund transaction associated with the credit payment.
            type: string
            title: Transaction ID
            maxLength: 13
          uuid:
            type: string
            title: Recurly UUID
            description: >-
              The UUID is useful for matching data with the CSV exports and building
              URLs into Recurly's UI.
            maxLength: 32
      created_at:
        description: The date and time when the credit payment was created.
        type: string
        title: Created at
        format: date-time
        readOnly: true
      updated_at:
        description: The date and time when the credit payment was last updated.
        type: string
        title: Last updated at
        format: date-time
        readOnly: true
      voided_at:
        description: The date and time when the credit payment was voided.
        type:
          - "null"
          - string
        title: Voided at
        format: date-time
        readOnly: true

  export_dates:
    $schema: "http://json-schema.org/draft-07/schema#"
    additionalProperties: true
    type: object
    properties:
      dates:
        description: List of export dates
        type:
          - "null"
          - array
        items:
          description: Date of the export
          type:
            - "null"
            - string
          maxLength: 256

  invoices:
    $schema: "http://json-schema.org/draft-07/schema#"
    additionalProperties: true
    type: object
    properties:
      id:
        description: The unique ID of the invoice.
        type:
          - "null"
          - string
        title: Invoice ID
        readOnly: true
        maxLength: 13
      uuid:
        description: The universally unique identifier (UUID) of the invoice.
        type:
          - "null"
          - string
      object:
        description: "The type of object, in this case, an invoice."
        type:
          - "null"
          - string
      type:
        title: Invoice type
        description: "Invoices are either charge, credit, or legacy invoices."
        type:
          - "null"
          - string
        maxLength: 256
      origin:
        type:
          - "null"
          - string
        title: Origin
        description: The event that created the invoice.
        maxLength: 256
      state:
        description: The current state of the invoice.
        title: Invoice state
        type:
          - "null"
          - string
        maxLength: 256
      account:
        description: The account associated with the invoice.
        $ref: "#/schemas/account_details_common"
      billing_info_id:
        type:
          - "null"
          - string
        title: Billing info ID
        description: >-
          The `billing_info_id` is the value that represents a specific billing info
          for an end customer. When `billing_info_id` is used to assign billing info
          to the subscription, all future billing events for the subscription will
          bill to the specified billing info. `billing_info_id` can ONLY be used for
          sites utilizing the Wallet feature.
        maxLength: 256
      subscription_ids:
        type:
          - "null"
          - array
        title: Subscription IDs
        description: >-
          If the invoice is charging or refunding for one or more subscriptions,
          these are their IDs.
        items:
          type:
            - "null"
            - string
          title: Subscription ID
          maxLength: 13
      previous_invoice_id:
        type:
          - "null"
          - string
        title: Previous invoice ID
        description: >-
          On refund invoices, this value will exist and show the invoice ID of the
          purchase invoice the refund was created from.
        maxLength: 13
      number:
        type:
          - "null"
          - string
        title: Invoice number
        description: >-
          If VAT taxation and the Country Invoice Sequencing feature are enabled,
          invoices will have country-specific invoice numbers for invoices billed to
          EU countries (ex: FR1001). Non-EU invoices will continue to use the
          site-level invoice number sequence.
        maxLength: 256
      collection_method:
        type:
          - "null"
          - string
        title: Collection method
        description: >-
          An automatic invoice means a corresponding transaction is run using the
          account's billing information at the same time the invoice is created.
          Manual invoices are created without a corresponding transaction. The
          merchant must enter a manual payment transaction or have the customer pay
          the invoice with an automatic method, like credit card, PayPal, Amazon, or
          ACH bank payment.
        maxLength: 256
      po_number:
        type:
          - "null"
          - string
        title: Purchase order number
        description: >-
          For manual invoicing, this identifies the PO number associated with the
          subscription.
        maxLength: 50
      net_terms:
        type:
          - "null"
          - integer
        title: Net terms
        description: >-
          Integer representing the number of days after an invoice's creation that
          the invoice will become past due. If an invoice's net terms are set to
          '0', it is due 'On Receipt' and will become past due 24 hours after it’s
          created. If an invoice is due net 30, it will become past due at 31 days
          exactly.
        minimum: 0
        default: 0
      address:
        description: The address details related to the invoice recipient.
        type:
          - "null"
          - object
        properties:
          name_on_account:
            description: The name on the account.
            type:
              - "null"
              - string
            title: Name on account
            maxLength: 256
          company:
            description: The company name in the address.
            type:
              - "null"
              - string
            title: Company
            maxLength: 256
          phone:
            description: The phone number associated with the address.
            type:
              - "null"
              - string
            title: Phone number
            maxLength: 256
          street1:
            description: The first line of the street address.
            type:
              - "null"
              - string
            title: Street 1
            maxLength: 256
          street2:
            description: The second line of the street address.
            type:
              - "null"
              - string
            title: Street 2
            maxLength: 256
          city:
            description: The city in the address.
            type:
              - "null"
              - string
            title: City
            maxLength: 256
          region:
            type:
              - "null"
              - string
            title: State/Province
            description: State or province.
            maxLength: 256
          postal_code:
            type:
              - "null"
              - string
            title: Zip/Postal code
            description: Zip or postal code.
            maxLength: 256
          country:
            type:
              - "null"
              - string
            title: Country
            description: "Country, 2-letter ISO 3166-1 alpha-2 code."
            maxLength: 2
          first_name:
            description: The first name of the recipient.
            type:
              - "null"
              - string
            maxLength: 256
          last_name:
            description: The last name of the recipient.
            type:
              - "null"
              - string
            maxLength: 256
      shipping_address:
        description: The shipping address details for the invoice delivery.
        type:
          - "null"
          - object
        properties:
          id:
            description: The ID of the shipping address.
            type:
              - "null"
              - string
            title: Shipping Address ID
            maxLength: 13
            readOnly: true
      currency:
        type:
          - "null"
          - string
        title: Currency
        description: 3-letter ISO 4217 currency code.
        maxLength: 3
      discount:
        type:
          - "null"
          - number
        format: float
        title: Discount
        description: Total discounts applied to this invoice.
      subtotal:
        type:
          - "null"
          - number
        format: float
        title: Subtotal
        description: "The summation of charges and credits, before discounts and taxes."
      tax:
        type:
          - "null"
          - number
        format: float
        title: Tax
        description: The total tax on this invoice.
      total:
        type:
          - "null"
          - number
        format: float
        title: Total
        description: >-
          The final total on this invoice. The summation of invoice charges,
          discounts, credits, and tax.
      refundable_amount:
        type:
          - "null"
          - number
        format: float
        title: Refundable amount
        description: >-
          The refundable amount on a charge invoice. It will be null for all other
          invoices.
      paid:
        type:
          - "null"
          - number
        format: float
        title: Paid
        description: The total amount of successful payments transaction on this invoice.
      balance:
        type:
          - "null"
          - number
        format: float
        title: Balance
        description: The outstanding balance remaining on this invoice.
      tax_info:
        description: Tax information related to the invoice.
        type:
          - "null"
          - object
        title: Tax info
        properties:
          type:
            type:
              - "null"
              - string
            title: Type
            description: >-
              Provides the tax type as "vat" for EU VAT, "usst" for U.S. Sales Tax,
              or the 2 letter country code for country level tax types like Canada,
              Australia, New Zealand, Israel, and all non-EU European countries.
            maxLength: 256
          region:
            type:
              - "null"
              - string
            title: Region
            description: >-
              Provides the tax region applied on an invoice. For U.S. Sales Tax,
              this will be the 2 letter state code. For EU VAT this will be the 2
              letter country code. For all country level tax types, this will
              display the regional tax, like VAT, GST, or PST.
          rate:
            description: The tax rate applied to the invoice.
            type:
              - "null"
              - number
            format: float
            title: Rate
          tax_details:
            type: array
            description: >-
              Provides additional tax details for Canadian Sales Tax when there is
              tax applied at both the country and province levels. This will only be
              populated for the Invoice response when fetching a single invoice and
              not for the InvoiceList or LineItem.
            items:
              type: object
              title: Tax detail
              properties:
                type:
                  type:
                    - "null"
                    - string
                  title: Type
                  description: >-
                    Provides the tax type for the region. For Canadian Sales Tax,
                    this will be GST, HST, QST or PST.
                  maxLength: 256
                region:
                  type:
                    - "null"
                    - string
                  title: Region
                  description: >-
                    Provides the tax region applied on an invoice. For Canadian
                    Sales Tax, this will be either the 2 letter province code or
                    country code.
                  maxLength: 256
                rate:
                  type:
                    - "null"
                    - number
                  format: float
                  title: Rate
                  description: Provides the tax rate for the region.
                tax:
                  type:
                    - "null"
                    - number
                  format: float
                  title: Tax
                  description: The total tax applied for this tax type.
      used_tax_service:
        description: Indicates if a tax service was used for the invoice.
        type:
          - "null"
          - boolean
      vat_number:
        type:
          - "null"
          - string
        title: VAT number
        description: >-
          VAT registration number for the customer on this invoice. This will come
          from the VAT Number field in the Billing Info or the Account Info
          depending on your tax settings and the invoice collection method.
        maxLength: 20
      vat_reverse_charge_notes:
        type:
          - "null"
          - string
        title: VAT reverse charge notes
        description: >-
          VAT Reverse Charge Notes only appear if you have EU VAT enabled or are
          using your own Avalara AvaTax account and the customer is in the EU, has a
          VAT number, and is in a different country than your own. This will default
          to the VAT Reverse Charge Notes text specified on the Tax Settings page in
          your Recurly admin, unless custom notes were created with the original
          subscription.
        maxLength: 1024
      terms_and_conditions:
        type:
          - "null"
          - string
        title: Terms and conditions
        description: >-
          This will default to the Terms and Conditions text specified on the
          Invoice Settings page in your Recurly admin. Specify custom notes to add
          or override Terms and Conditions.
        maxLength: 16384
      customer_notes:
        type:
          - "null"
          - string
        title: Customer notes
        description: >-
          This will default to the Customer Notes text specified on the Invoice
          Settings. Specify custom notes to add or override Customer Notes.
        maxLength: 2048
      line_items:
        description: The line items included in the invoice.
        type:
          - "null"
          - array
        title: Line Items
        items:
          $ref: "#/schemas/line_items_common"
      has_more_line_items:
        description: Indicates if there are more line items in the invoice.
        type:
          - "null"
          - boolean
      transactions:
        description: The transactions associated with the invoice.
        type:
          - "null"
          - array
        title: Transactions
        items:
          type:
            - "null"
            - object
          properties:
            id:
              description: The ID of a transaction linked to the invoice.
              type: string
              title: Transaction ID
              maxLength: 13
            uuid:
              type: string
              title: Recurly UUID
              description: >-
                The UUID is useful for matching data with the CSV exports and
                building URLs into Recurly's UI.
              maxLength: 32
      credit_payments:
        description: The credit payments related to the invoice.
        type:
          - "null"
          - array
        title: Credit payments
        items:
          type:
            - "null"
            - object
          properties:
            id:
              description: The ID of a credit payment associated with the invoice.
              type: string
              title: Credit Payment ID
              maxLength: 13
            uuid:
              type: string
              title: Recurly UUID
              description: >-
                The UUID is useful for matching data with the CSV exports and
                building URLs into Recurly's UI.
              maxLength: 32
      created_at:
        description: The date and time when the invoice was created.
        type:
          - "null"
          - string
        format: date-time
        title: Created at
        readOnly: true
      updated_at:
        description: The date and time when the invoice was last updated.
        type:
          - "null"
          - string
        format: date-time
        title: Last updated at
        readOnly: true
      due_at:
        type:
          - "null"
          - string
        format: date-time
        title: Due at
        description: Date invoice is due. This is the date the net terms are reached.
      closed_at:
        type:
          - "null"
          - string
        format: date-time
        title: Closed at
        description: Date invoice was marked paid or failed.
      dunning_campaign_id:
        type:
          - "null"
          - string
        title: Dunning Campaign ID
        description: >-
          Unique ID to identify the dunning campaign used when dunning the invoice.
          Available when the Dunning Campaigns feature is enabled. For sites without
          multiple dunning campaigns enabled, this will always be the default
          dunning campaign.
        maxLength: 256
      dunning_events_sent:
        description: The number of dunning events sent for the invoice.
        type:
          - "null"
          - integer
      final_dunning_event:
        description: The final dunning event related to the invoice if applicable.
        type:
          - "null"
          - boolean
      business_entity_id:
        description: The business entity ID linked to the invoice.
        type:
          - "null"
          - string

  line_items:
    $schema: "http://json-schema.org/draft-07/schema#"
    additionalProperties: true
    type:
      - "null"
      - object
    title: Line item
    properties:
      id:
        type: string
        title: Line item ID
        maxLength: 13
      object:
        type:
          - "null"
          - string
      uuid:
        type: string
        title: UUID
        description: >-
          The UUID is useful for matching data with the CSV exports and building
          URLs into Recurly's UI.
        maxLength: 32
      type:
        type: string
        title: Line item type
        description: >-
          Charges are positive line items that debit the account. Credits are
          negative line items that credit the account.
        maxLength: 256
      item_code:
        type:
          - "null"
          - string
        title: Item Code
        description: >-
          Unique code to identify an item. Available when the Credit Invoices and
          Subscription Billing Terms features are enabled.
        maxLength: 50
      item_id:
        type:
          - "null"
          - string
        title: Item ID
        description: >-
          System-generated unique identifier for an item. Available when the Credit
          Invoices and Subscription Billing Terms features are enabled.
        maxLength: 13
      external_sku:
        type:
          - "null"
          - string
        title: External SKU
        description: >-
          Optional Stock Keeping Unit assigned to an item. Available when the Credit
          Invoices and Subscription Billing Terms features are enabled.
        maxLength: 50
      revenue_schedule_type:
        type:
          - "null"
          - string
        title: Revenue schedule type
        maxLength: 256
      state:
        type: string
        title: Current state of the line item
        description: >-
          Pending line items are charges or credits on an account that have not been
          applied to an invoice yet. Invoiced line items will always have an
          `invoice_id` value.
        maxLength: 256
      legacy_category:
        type:
          - "null"
          - string
        title: Legacy category
        description: >
          Category to describe the role of a line item on a legacy invoice:

          - "charges" refers to charges being billed for on this invoice.

          - "credits" refers to refund or proration credits. This portion of the
          invoice can be considered a credit memo.

          - "applied_credits" refers to previous credits applied to this invoice.
          See their original_line_item_id to determine where the credit first
          originated.

          - "carryforwards" can be ignored. They exist to consume any remaining
          credit balance. A new credit with the same amount will be created and
          placed back on the account.
      account:
        $ref: "#/schemas/account_details_common"
      bill_for_account_id:
        type: string
        title: Bill For Account ID
        maxLength: 13
        description: The UUID of the account responsible for originating the line item.
      subscription_id:
        type:
          - "null"
          - string
        title: Subscription ID
        description: "If the line item is a charge or credit for a subscription, this is its ID."
        maxLength: 13
      plan_id:
        type:
          - "null"
          - string
        title: Plan ID
        description: >-
          If the line item is a charge or credit for a plan or add-on, this is the
          plan's ID.
        maxLength: 13
      plan_code:
        type:
          - "null"
          - string
        title: Plan code
        description: >-
          If the line item is a charge or credit for a plan or add-on, this is the
          plan's code.
        maxLength: 50
      add_on_id:
        type:
          - "null"
          - string
        title: Add-on ID
        description: If the line item is a charge or credit for an add-on this is its ID.
        maxLength: 13
      add_on_code:
        type:
          - "null"
          - string
        title: Add-on code
        description: "If the line item is a charge or credit for an add-on, this is its code."
        maxLength: 50
      invoice_id:
        type:
          - "null"
          - string
        title: Invoice ID
        description: Once the line item has been invoiced this will be the invoice's ID.
        maxLength: 13
      invoice_number:
        type:
          - "null"
          - string
        title: Invoice number
        description: >-
          Once the line item has been invoiced this will be the invoice's number. If
          VAT taxation and the Country Invoice Sequencing feature are enabled,
          invoices will have country-specific invoice numbers for invoices billed to
          EU countries (ex: FR1001). Non-EU invoices will continue to use the
          site-level invoice number sequence.
        maxLength: 256
      previous_line_item_id:
        type:
          - "null"
          - string
        title: Previous line item ID
        description: >-
          Will only have a value if the line item is a credit created from a
          previous credit, or if the credit was created from a charge refund.
        maxLength: 13
      original_line_item_invoice_id:
        type:
          - "null"
          - string
        title: Original line item's invoice ID
        description: >-
          The invoice where the credit originated. Will only have a value if the
          line item is a credit created from a previous credit, or if the credit was
          created from a charge refund.
        maxLength: 13
      origin:
        type: string
        title: Origin of line item
        description: >-
          A credit created from an original charge will have the value of the
          charge's origin.
        maxLength: 256
      accounting_code:
        type: string
        title: Accounting code
        description: >-
          Internal accounting code to help you reconcile your revenue to the correct
          ledger. Line items created as part of a subscription invoice will use the
          plan or add-on's accounting code, otherwise the value will only be present
          if you define an accounting code when creating the line item.
        maxLength: 20
      product_code:
        type: string
        title: Product code
        description: >-
          For plan-related line items this will be the plan's code, for add-on
          related line items it will be the add-on's code. For item-related line
          items it will be the item's `external_sku`.
        maxLength: 50
      credit_reason_code:
        type:
          - "null"
          - string
        title: Credit reason code
        description: The reason the credit was given when line item is `type=credit`.
        default: general
        maxLength: 256
      currency:
        type: string
        title: Currency
        description: 3-letter ISO 4217 currency code.
        maxLength: 3
      amount:
        type: number
        format: float
        title: Total after discounts and taxes
        description: "`(quantity * unit_amount) - (discount + tax)`"
      description:
        type: string
        title: Description
        description: >-
          Description that appears on the invoice. For subscription related items
          this will be filled in automatically.
        maxLength: 255
      quantity:
        type: integer
        title: Quantity
        description: >-
          This number will be multiplied by the unit amount to compute the subtotal
          before any discounts or taxes.
        default: 1
      unit_amount:
        type: number
        format: float
        title: Unit amount
        description: "Positive amount for a charge, negative amount for a credit."
      unit_amount_decimal:
        type:
          - "null"
          - string
        title: Unit amount decimal
        description: "Positive amount for a charge, negative amount for a credit."
      subtotal:
        type: number
        format: float
        title: Total before discounts and taxes
        description: "`quantity * unit_amount`"
      discount:
        type:
          - "null"
          - number
        format: float
        title: Discount
        description: The discount applied to the line item.
      tax:
        type:
          - "null"
          - number
        format: float
        title: Tax
        description: The tax amount for the line item.
      taxable:
        type: boolean
        title: Taxable?
        description: "`true` if the line item is taxable, `false` if it is not."
      tax_exempt:
        type: boolean
        title: Tax exempt?
        description: >-
          `true` exempts tax on charges, `false` applies tax on charges. If not
          defined, then defaults to the Plan and Site settings. This attribute does
          not work for credits (negative line items). Credits are always applied
          post-tax. Pre-tax discounts should use the Coupons feature.
      tax_code:
        type:
          - "null"
          - string
        title: Tax code
        description: >-
          Used by Avalara, Vertex, and Recurly’s EU VAT tax feature. The tax code
          values are specific to each tax system. If you are using Recurly’s EU VAT
          feature you can use `unknown`, `physical`, or `digital`.
        maxLength: 50
      tax_info:
        $ref: "#/schemas/tax_info_common"
      proration_rate:
        type:
          - "null"
          - number
        format: float
        title: Proration rate
        description: >-
          When a line item has been prorated, this is the rate of the proration.
          Proration rates were made available for line items created after March 30,
          2017. For line items created prior to that date, the proration rate will
          be `null`, even if the line item was prorated.
        minimum: 0
        maximum: 1
      refund:
        type: boolean
        title: Refund?
      refunded_quantity:
        type:
          - "null"
          - integer
        title: Refunded Quantity
        description: >-
          For refund charges, the quantity being refunded. For non-refund charges,
          the total quantity refunded (possibly over multiple refunds).
      credit_applied:
        type:
          - "null"
          - number
        format: float
        title: Credit Applied
        description: The amount of credit from this line item that was applied to the invoice.
      shipping_address:
        type:
          - "null"
          - object
        properties:
          id:
            type: string
            title: Shipping Address ID
            maxLength: 13
            readOnly: true
      start_date:
        type:
          - "null"
          - string
        format: date-time
        title: Start date
        description: >-
          If an end date is present, this is value indicates the beginning of a
          billing time range. If no end date is present it indicates billing for a
          specific date.
      end_date:
        type:
          - "null"
          - string
        format: date-time
        title: End date
        description: "If this date is provided, it indicates the end of a time range."
      custom_fields:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            name:
              type:
                - "null"
                - string
            value:
              type:
                - "null"
                - string
      created_at:
        type: string
        format: date-time
        title: Created at
        description: When the line item was created.
      updated_at:
        type: string
        format: date-time
        title: Last updated at
        description: When the line item was last changed.

  measured_units:
    $schema: "http://json-schema.org/draft-07/schema#"
    additionalProperties: true
    type: object
    properties:
      id:
        description: Unique identifier for the measured unit
        type:
          - "null"
          - string
        maxLength: 13
      object:
        description: "Type of object, in this case, 'measured_unit'"
        type:
          - "null"
          - string
      name:
        description: Internal name used to identify the measured unit
        type:
          - "null"
          - string
        maxLength: 256
      display_name:
        description: Human-readable name used for display purposes
        type:
          - "null"
          - string
        maxLength: 255
      state:
        description: Current state of the measured unit
        type:
          - "null"
          - string
        maxLength: 255
      description:
        description: Description of the measured unit
        type:
          - "null"
          - string
        maxLength: 1024
      created_at:
        description: Timestamp indicating when the measured unit was created
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        description: Timestamp indicating when the measured unit was last updated
        type:
          - "null"
          - string
        format: date-time
      deleted_at:
        description: Timestamp indicating when the measured unit was deleted (if applicable)
        type:
          - "null"
          - string
        format: date-time

  plans:
    $schema: "http://json-schema.org/draft-07/schema#"
    additionalProperties: true
    type: object
    properties:
      id:
        description: Unique identifier of the plan.
        type:
          - "null"
          - string
        maxLength: 13
      object:
        description: Indicates the type of object which in this case is 'plan'.
        type:
          - "null"
          - string
      code:
        description: Unique identifier code for the plan.
        type:
          - "null"
          - string
        maxLength: 256
      state:
        description: The current state of the plan.
        type:
          - "null"
          - string
        maxLength: 256
      name:
        description: Name of the plan.
        type:
          - "null"
          - string
        maxLength: 256
      description:
        description: Description of the plan.
        type:
          - "null"
          - string
        maxLength: 1024
      interval_unit:
        description: Unit of the billing interval for the plan.
        type:
          - "null"
          - string
        maxLength: 256
      interval_length:
        description: Length of the billing interval for the plan.
        type:
          - "null"
          - number
      trial_unit:
        description: Unit of the trial period for the plan.
        type:
          - "null"
          - string
        maxLength: 256
      trial_length:
        description: Length of the trial period for the plan.
        type:
          - "null"
          - number
      trial_requires_billing_info:
        description: Determines if billing information is required for the trial.
        type:
          - "null"
          - boolean
      total_billing_cycles:
        description: Total number of billing cycles the plan will run for.
        type:
          - "null"
          - number
      auto_renew:
        description: Indicates whether the plan should automatically renew.
        type:
          - "null"
          - boolean
      pricing_model:
        description: The pricing model used for the plan.
        type:
          - "null"
          - string
      ramp_intervals:
        description: Specifies ramp intervals for the plan.
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            starting_billing_cycle:
              description: The starting billing cycle for the ramp interval.
              type:
                - "null"
                - integer
            currencies:
              description: Contains currencies information within the ramp intervals.
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                properties:
                  currency:
                    description: Currency code for the interval.
                    type:
                      - "null"
                      - string
                  unit_amount:
                    description: Unit amount for the currency in the interval.
                    type:
                      - "null"
                      - number
      custom_fields:
        description: Includes any custom fields associated with the plan.
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            name:
              description: Name of the custom field.
              type:
                - "null"
                - string
            value:
              description: Value of the custom field.
              type:
                - "null"
                - string
      accounting_code:
        description: The accounting code associated with the plan.
        type:
          - "null"
          - string
        maxLength: 256
      revenue_schedule_type:
        description: Type of revenue schedule for the plan.
        type:
          - "null"
          - string
        maxLength: 256
      setup_fee_revenue_schedule_type:
        description: Revenue schedule type for the setup fee.
        type:
          - "null"
          - string
        maxLength: 256
      setup_fee_accounting_code:
        description: The accounting code associated with the setup fee.
        type:
          - "null"
          - string
        maxLength: 256
      avalara_transaction_type:
        description: The Avalara transaction type used for tax calculation.
        type:
          - "null"
          - number
      avalara_service_type:
        description: The Avalara service type used for tax calculation.
        type:
          - "null"
          - number
      tax_code:
        description: Tax code used for the plan.
        type:
          - "null"
          - string
        maxLength: 256
      tax_exempt:
        description: Determines if the plan is tax exempt.
        type:
          - "null"
          - boolean
      currencies:
        description: Contains information about the currencies supported by the plan.
        type: array
        title: Pricing
        items:
          type: object
          properties:
            currency:
              type: string
              title: Currency
              description: 3-letter ISO 4217 currency code.
              maxLength: 3
            setup_fee:
              type: number
              format: float
              title: Setup fee
              description: >-
                Amount of one-time setup fee automatically charged at the beginning
                of a subscription billing cycle. For subscription plans with a
                trial, the setup fee will be charged at the time of signup. Setup
                fees do not increase with the quantity of a subscription plan.
              minimum: 0
              maximum: 1000000
            unit_amount:
              description: Unit amount for the currency in the plan.
              type: number
              format: float
              title: Unit price
              minimum: 0
              maximum: 1000000
      hosted_pages:
        description: Provides details about hosted pages related to the plan.
        type: object
        properties:
          success_url:
            description: >-
              URL to redirect when a user successfully completes hosted page
              process.
            type:
              - "null"
              - string
            maxLength: 2048
          cancel_url:
            description: URL to redirect when a user cancels during hosted page process.
            type:
              - "null"
              - string
            maxLength: 2048
          bypass_confirmation:
            description: Determines if confirmation is bypassed on hosted pages.
            type:
              - "null"
              - boolean
          display_quantity:
            description: Determines if quantity is displayed on hosted pages.
            type:
              - "null"
              - boolean
      allow_any_item_on_subscriptions:
        description: Determines if any item can be added to subscriptions using this plan.
        type:
          - "null"
          - boolean
      dunning_campaign_id:
        description: ID of the dunning campaign associated with the plan.
        type:
          - "null"
          - string
        maxLength: 256
      created_at:
        description: Timestamp indicating when the plan was created.
        type:
          - "null"
          - string
        format: date-time
      updated_at:
        description: Timestamp indicating when the plan was last updated.
        type:
          - "null"
          - string
        format: date-time
      deleted_at:
        description: Timestamp indicating when the plan was deleted.
        type:
          - "null"
          - string
        format: date-time

  shipping_addresses:
    $schema: "http://json-schema.org/draft-07/schema#"
    additionalProperties: true
    type:
      - "null"
      - object
    properties:
      id:
        type: string
        title: Shipping Address ID
        maxLength: 13
        readOnly: true
      object:
        type:
          - "null"
          - string
      account_id:
        type: string
        title: Account ID
        maxLength: 13
        readOnly: true
      nickname:
        type: string
        maxLength: 255
      first_name:
        type: string
        maxLength: 255
      last_name:
        type: string
        maxLength: 255
      company:
        type: string
        maxLength: 255
      email:
        type: string
        maxLength: 255
      vat_number:
        type: string
        maxLength: 20
      phone:
        type: string
        maxLength: 30
      street1:
        type: string
        maxLength: 255
      street2:
        type: string
        maxLength: 255
      city:
        type: string
        maxLength: 255
      region:
        type: string
        maxLength: 255
        description: State or province.
      postal_code:
        type: string
        maxLength: 20
        description: Zip or postal code.
      country:
        type: string
        maxLength: 50
        description: "Country, 2-letter ISO 3166-1 alpha-2 code."
      geo_code:
        type:
          - "null"
          - string
      created_at:
        type: string
        title: Created at
        format: date-time
        readOnly: true
      updated_at:
        type: string
        title: Updated at
        format: date-time
        readOnly: true

  shipping_methods:
    $schema: "http://json-schema.org/schema#"
    additionalProperties: true
    type: object
    properties:
      id:
        description: Unique identifier for the shipping method
        type: string
        title: Shipping Method ID
        readOnly: true
        maxLength: 13
      code:
        type: string
        title: Code
        description: The internal name used identify the shipping method.
        maxLength: 50
      name:
        type: string
        title: Name
        description: The name of the shipping method displayed to customers.
        maxLength: 100
      accounting_code:
        type: string
        title: Accounting Code
        description: Accounting code for shipping method.
        maxLength: 20
      tax_code:
        type: string
        title: Tax code
        description: |
          Used by Avalara, Vertex, and Recurly’s built-in tax feature. The tax
          code values are specific to each tax system. If you are using Recurly’s
          built-in taxes the values are:

          - `FR` – Common Carrier FOB Destination
          - `FR022000` – Common Carrier FOB Origin
          - `FR020400` – Non Common Carrier FOB Destination
          - `FR020500` – Non Common Carrier FOB Origin
          - `FR010100` – Delivery by Company Vehicle Before Passage of Title
          - `FR010200` – Delivery by Company Vehicle After Passage of Title
          - `NT` – Non-Taxable
        maxLength: 50
      created_at:
[...]
