version: 0.51.16
type: DeclarativeSource
definitions:
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - data
  auth:
    type: ApiKeyAuthenticator
    api_token: "GenieKey {{ config['api_token'] }}"
    inject_into:
      type: RequestOption
      field_name: Authorization
      inject_into: header
  on_error:
    type: CompositeErrorHandler
    error_handlers:
      - type: DefaultErrorHandler
        backoff_strategies:
          - type: WaitUntilTimeFromHeader
            header: X-RateLimit-Period-In-Sec
  pagination:
    type: DefaultPaginator
    page_token_option:
      type: RequestPath
    pagination_strategy:
      type: CursorPagination
      cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
      stop_condition: '{{ not response.get("paging", {}).get("next", {}) }}'

  requester:
    type: HttpRequester
    url_base: "https://{{ config['endpoint'] }}"
    http_method: GET
    request_parameters: {}
    request_headers:
      Accept: application/json
    authenticator:
      $ref: "#/definitions/auth"
    error_handler:
      $ref: "#/definitions/on_error"
    request_body_json: {}

  retriever:
    type: SimpleRetriever
    requester:
      $ref: "#/definitions/requester"
    record_selector:
      $ref: "#/definitions/selector"
    paginator:
      $ref: "#/definitions/pagination"

  base_stream:
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_opsgenie/schemas/{{ parameters['name'] }}.json"
    retriever:
      $ref: "#/definitions/retriever"

  users_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "users"
      primary_key: "id"
      path: "v2/users"

  teams_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "teams"
      primary_key: "id"
      path: "v2/teams"

  services_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "services"
      primary_key: "id"
      path: "v1/services"

  integrations_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "integrations"
      primary_key: "id"
      path: "v2/integrations"

  incidents_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "incidents"
      primary_key: "id"
      path: "v1/incidents"

  alerts_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_stream/retriever"
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          order: "asc"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updatedAt
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%s"
      start_datetime:
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    $parameters:
      name: "alerts"
      primary_key: "id"
      path: "v2/alerts"

  user_teams_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: user_teams
      primary_key: "id"
    retriever:
      $ref: "#/definitions/base_stream/retriever"
      requester:
        $ref: "#/definitions/requester"
        path: "v2/users/{{ stream_partition['user_id'] }}/teams"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: id
            partition_field: user_id
            stream:
              $ref: "#/definitions/users_stream"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["user_id"]
            value: "{{ stream_partition['id'] }}"

  alert_recipients_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "alert_recipients"
      primary_key: "user_id"
      path: "v2/alerts/{{ record }}/recipients"
    retriever:
      $ref: "#/definitions/base_stream/retriever"
      requester:
        $ref: "#/definitions/requester"
        path: "v2/alerts/{{ stream_partition['alert_id'] }}/recipients"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: id
            partition_field: alert_id
            stream:
              $ref: "#/definitions/alerts_stream"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["alert_id"]
            value: "{{ stream_partition['id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["user_id"]
            value: "{{ record['user']['id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["user_username"]
            value: "{{ record['user']['username'] }}"
      - type: RemoveFields
        field_pointers:
          - ["user"]

  alert_logs_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "alert_logs"
      primary_key: "offset"
      path: "v2/alerts/{{ stream_partition.alert_id }}/logs"
    retriever:
      $ref: "#/definitions/base_stream/retriever"
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          order: asc
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: id
            partition_field: alert_id
            stream:
              $ref: "#/definitions/alerts_stream"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["alert_id"]
            value: "{{ stream_partition['id'] }}"

check:
  type: CheckStream
  stream_names:
    - users
    # - teams
    # - services
    # - incidents
    # - integrations
    # - alerts
    # - user_teams
    # - alert_recipients
    # - alert_logs

streams:
  - "#/definitions/users_stream"
  - "#/definitions/teams_stream"
  - "#/definitions/services_stream"
  - "#/definitions/integrations_stream"
  - "#/definitions/incidents_stream"
  - "#/definitions/alerts_stream"
  - "#/definitions/user_teams_stream"
  - "#/definitions/alert_recipients_stream"
  - "#/definitions/alert_logs_stream"
