version: 0.51.16
type: DeclarativeSource
definitions:
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - data
  auth:
    type: ApiKeyAuthenticator
    api_token: "GenieKey {{ config['api_token'] }}"
    inject_into:
      type: RequestOption
      field_name: Authorization
      inject_into: header
  on_error:
    type: CompositeErrorHandler
    error_handlers:
      - type: DefaultErrorHandler
        backoff_strategies:
          - type: WaitUntilTimeFromHeader
            header: X-RateLimit-Period-In-Sec
  pagination:
    type: DefaultPaginator
    page_token_option:
      type: RequestPath
    pagination_strategy:
      type: CursorPagination
      cursor_value: '{{ response.get("paging", {}).get("next", {}) }}'
      stop_condition: '{{ not response.get("paging", {}).get("next", {}) }}'

  requester:
    type: HttpRequester
    url_base: "https://{{ config['endpoint'] }}"
    http_method: GET
    request_parameters: {}
    request_headers:
      Accept: application/json
    authenticator:
      $ref: "#/definitions/auth"
    error_handler:
      $ref: "#/definitions/on_error"
    request_body_json: {}

  retriever:
    type: SimpleRetriever
    requester:
      $ref: "#/definitions/requester"
    record_selector:
      $ref: "#/definitions/selector"
    paginator:
      $ref: "#/definitions/pagination"

  base_stream:
    retriever:
      $ref: "#/definitions/retriever"

  users_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "users"
      primary_key: "id"
      path: "v2/users"

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type:
              - "null"
              - string
          fullName:
            type:
              - "null"
              - string
          username:
            type:
              - "null"
              - string
          blocked:
            type:
              - "null"
              - boolean
          verified:
            type:
              - "null"
              - boolean
          role:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
              name:
                type:
                  - "null"
                  - string
          timeZone:
            type:
              - "null"
              - string
          locale:
            type:
              - "null"
              - string
          userAddress:
            type:
              - "null"
              - object
            properties:
              country:
                type:
                  - "null"
                  - string
              state:
                type:
                  - "null"
                  - string
              city:
                type:
                  - "null"
                  - string
              line:
                type:
                  - "null"
                  - string
              zipCode:
                type:
                  - "null"
                  - string
          invitationDisabled:
            type:
              - "null"
              - boolean
          tags:
            type:
              - "null"
              - array
            items:
              type: string
          details:
            type:
              - "null"
              - object
            properties: {}
            additionalProperties: true
          skypeUsername:
            type:
              - "null"
              - string
          createdAt:
            type:
              - "null"
              - string
            format: date-time
  teams_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "teams"
      primary_key: "id"
      path: "v2/teams"

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          description:
            type:
              - "null"
              - string
          links:
            type:
              - "null"
              - object
            properties:
              web:
                type:
                  - "null"
                  - string
              api:
                type:
                  - "null"
                  - string
  services_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "services"
      primary_key: "id"
      path: "v1/services"

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          description:
            type:
              - "null"
              - string
          teamId:
            type:
              - "null"
              - string
          isExternal:
            type:
              - "null"
              - boolean
          tags:
            type:
              - "null"
              - array
            items:
              type: string
          links:
            type:
              - "null"
              - object
            properties:
              web:
                type:
                  - "null"
                  - string
              api:
                type:
                  - "null"
                  - string
  integrations_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "integrations"
      primary_key: "id"
      path: "v2/integrations"

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          enabled:
            type:
              - "null"
              - boolean
          type:
            type:
              - "null"
              - string
          teamId:
            type:
              - "null"
              - string
          version:
            type:
              - "null"
              - string
          advanced:
            type:
              - "null"
              - boolean
  incidents_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "incidents"
      primary_key: "id"
      path: "v1/incidents"

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type:
              - "null"
              - string
          tinyId:
            type:
              - "null"
              - string
          message:
            type:
              - "null"
              - string
          note:
            type:
              - "null"
              - string
          description:
            type:
              - "null"
              - string
          status:
            type:
              - "null"
              - string
          tags:
            type:
              - "null"
              - array
            items:
              type: string
          priority:
            type:
              - "null"
              - string
          responders:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                id:
                  type:
                    - "null"
                    - string
                type:
                  type:
                    - "null"
                    - string
          impactedServices:
            type:
              - "null"
              - array
            items:
              type: string
          statusPageEntry:
            type:
              - "null"
              - object
            properties:
              title:
                type:
                  - "null"
                  - string
              detail:
                type:
                  - "null"
                  - string
          details:
            type:
              - "null"
              - object
            properties: {}
            additionalProperties: true
          notifyStakeholders:
            type:
              - "null"
              - boolean
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
  alerts_stream:
    $ref: "#/definitions/base_stream"
    retriever:
      $ref: "#/definitions/base_stream/retriever"
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          order: "asc"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updatedAt
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
        - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%s"
      start_datetime:
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    $parameters:
      name: "alerts"
      primary_key: "id"
      path: "v2/alerts"

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          id:
            type:
              - "null"
              - string
          tinyId:
            type:
              - "null"
              - string
          alias:
            type:
              - "null"
              - string
          message:
            type:
              - "null"
              - string
          note:
            type:
              - "null"
              - string
          status:
            type:
              - "null"
              - string
          acknowledged:
            type:
              - "null"
              - boolean
          seen:
            type:
              - "null"
              - boolean
          isSeen:
            type:
              - "null"
              - boolean
          tags:
            type:
              - "null"
              - array
            items:
              type: string
          snoozed:
            type:
              - "null"
              - boolean
          snoozedUntil:
            type:
              - "null"
              - string
            format: date-time
          count:
            type:
              - "null"
              - number
          lastOccurredAt:
            type:
              - "null"
              - string
            format: date-time
          source:
            type:
              - "null"
              - string
          owner:
            type:
              - "null"
              - string
          user:
            type:
              - "null"
              - string
          priority:
            type:
              - "null"
              - string
          responders:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                id:
                  type:
                    - "null"
                    - string
                type:
                  type:
                    - "null"
                    - string
          visibleTo:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                id:
                  type:
                    - "null"
                    - string
                name:
                  type:
                    - "null"
                    - string
                type:
                  type:
                    - "null"
                    - string
          teams:
            type:
              - "null"
              - array
            items:
              type: object
              properties:
                id:
                  type:
                    - "null"
                    - string
          integration:
            type:
              - "null"
              - object
            properties:
              id:
                type:
                  - "null"
                  - string
              name:
                type:
                  - "null"
                  - string
              type:
                type:
                  - "null"
                  - string
          report:
            type:
              - "null"
              - object
            properties:
              ackTime:
                type:
                  - "null"
                  - number
              closeTime:
                type:
                  - "null"
                  - number
              acknowledgedBy:
                type:
                  - "null"
                  - string
              closedBy:
                type:
                  - "null"
                  - string
          actions:
            type:
              - "null"
              - array
            items:
              type: string
          entity:
            type:
              - "null"
              - string
          description:
            type:
              - "null"
              - string
          details:
            type:
              - "null"
              - object
            properties: {}
            additionalProperties: true
          ownerTeamId:
            type:
              - "null"
              - string
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
  user_teams_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: user_teams
      primary_key: "id"
    retriever:
      $ref: "#/definitions/base_stream/retriever"
      requester:
        $ref: "#/definitions/requester"
        path: "v2/users/{{ stream_partition['user_id'] }}/teams"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: id
            partition_field: user_id
            stream:
              $ref: "#/definitions/users_stream"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["user_id"]
            value: "{{ stream_partition['id'] }}"

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          user_id:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
  alert_recipients_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "alert_recipients"
      primary_key: "user_id"
      path: "v2/alerts/{{ record }}/recipients"
    retriever:
      $ref: "#/definitions/base_stream/retriever"
      requester:
        $ref: "#/definitions/requester"
        path: "v2/alerts/{{ stream_partition['alert_id'] }}/recipients"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: id
            partition_field: alert_id
            stream:
              $ref: "#/definitions/alerts_stream"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["alert_id"]
            value: "{{ stream_partition['id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["user_id"]
            value: "{{ record['user']['id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["user_username"]
            value: "{{ record['user']['username'] }}"
      - type: RemoveFields
        field_pointers:
          - ["user"]

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          alert_id:
            type:
              - "null"
              - string
          user_id:
            type:
              - "null"
              - string
          user_username:
            type:
              - "null"
              - string
          state:
            type:
              - "null"
              - string
          method:
            type:
              - "null"
              - string
          aware:
            type:
              - "null"
              - boolean
          createdAt:
            type:
              - "null"
              - string
            format: date-time
          updatedAt:
            type:
              - "null"
              - string
            format: date-time
  alert_logs_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "alert_logs"
      primary_key: "offset"
      path: "v2/alerts/{{ stream_partition.alert_id }}/logs"
    retriever:
      $ref: "#/definitions/base_stream/retriever"
      requester:
        $ref: "#/definitions/requester"
        request_parameters:
          order: asc
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: id
            partition_field: alert_id
            stream:
              $ref: "#/definitions/alerts_stream"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: ["alert_id"]
            value: "{{ stream_partition['id'] }}"

    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        properties:
          alert_id:
            type:
              - "null"
              - string
          offset:
            type:
              - "null"
              - string
          log:
            type:
              - "null"
              - string
          type:
            type:
              - "null"
              - string
          owner:
            type:
              - "null"
              - string
          createdAt:
            type:
              - "null"
              - string
            format: date-time
check:
  type: CheckStream
  stream_names:
    - users
      # - teams
      # - services
      # - incidents
      # - integrations
      # - alerts
      # - user_teams
      # - alert_recipients
      # - alert_logs

streams:
  - "#/definitions/users_stream"
  - "#/definitions/teams_stream"
  - "#/definitions/services_stream"
  - "#/definitions/integrations_stream"
  - "#/definitions/incidents_stream"
  - "#/definitions/alerts_stream"
  - "#/definitions/user_teams_stream"
  - "#/definitions/alert_recipients_stream"
  - "#/definitions/alert_logs_stream"
