version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - videos_popular
definitions:
  streams:
    photos_search:
      type: DeclarativeStream
      name: photos_search
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.pexels.com
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            name: photos_search
            path: /v1/search
            inject_into:
              type: RequestOption
              field_name: Authorization
              inject_into: header
          path: /v1/search
          http_method: GET
          request_parameters:
            query: "{{ config['query'] }}"
            orientation: "{{config['orientation']}}"
            size: "{{config['size']}}"
            locale: "{{config['locale']}}"
            color: "{{config['color']}}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 500
                    action: FAIL
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          definitions: {}
          $id: https://example.com/object1667402697.json
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            next_page:
              type: string
              $id: "#root/next_page"
              pattern: ^.*$
              title: Next_page
            page:
              type: integer
              $id: "#root/page"
              default: 0
              title: Page
            per_page:
              type: integer
              $id: "#root/per_page"
              default: 0
              title: Per_page
            photos:
              type: array
              $id: "#root/photos"
              default: []
              items:
                type: object
                $id: "#root/photos/items"
                properties:
                  alt:
                    type: string
                    $id: "#root/photos/items/alt"
                    pattern: ^.*$
                    title: Alt
                  avg_color:
                    type: string
                    $id: "#root/photos/items/avg_color"
                    pattern: ^.*$
                    title: Avg_color
                  height:
                    type: integer
                    $id: "#root/photos/items/height"
                    default: 0
                    title: Height
                  id:
                    type: integer
                    $id: "#root/photos/items/id"
                    default: 0
                    title: Id
                  liked:
                    type: boolean
                    $id: "#root/photos/items/liked"
                    default: true
                    title: Liked
                  photographer:
                    type: string
                    $id: "#root/photos/items/photographer"
                    pattern: ^.*$
                    title: Photographer
                  photographer_id:
                    type: integer
                    $id: "#root/photos/items/photographer_id"
                    default: 0
                    title: Photographer_id
                  photographer_url:
                    type: string
                    $id: "#root/photos/items/photographer_url"
                    pattern: ^.*$
                    title: Photographer_url
                  src:
                    type: object
                    $id: "#root/photos/items/src"
                    properties:
                      landscape:
                        type: string
                        $id: "#root/photos/items/src/landscape"
                        pattern: ^.*$
                        title: Landscape
                      large:
                        type: string
                        $id: "#root/photos/items/src/large"
                        pattern: ^.*$
                        title: Large
                      large2x:
                        type: string
                        $id: "#root/photos/items/src/large2x"
                        pattern: ^.*$
                        title: Large2x
                      medium:
                        type: string
                        $id: "#root/photos/items/src/medium"
                        pattern: ^.*$
                        title: Medium
                      original:
                        type: string
                        $id: "#root/photos/items/src/original"
                        pattern: ^.*$
                        title: Original
                      portrait:
                        type: string
                        $id: "#root/photos/items/src/portrait"
                        pattern: ^.*$
                        title: Portrait
                      small:
                        type: string
                        $id: "#root/photos/items/src/small"
                        pattern: ^.*$
                        title: Small
                      tiny:
                        type: string
                        $id: "#root/photos/items/src/tiny"
                        pattern: ^.*$
                        title: Tiny
                    title: Src
                  url:
                    type: string
                    $id: "#root/photos/items/url"
                    pattern: ^.*$
                    title: Url
                  width:
                    type: integer
                    $id: "#root/photos/items/width"
                    default: 0
                    title: Width
                title: Items
              title: Photos
            total_results:
              type: integer
              $id: "#root/total_results"
              default: 0
              title: Total_results
          title: Root
    photos_curated:
      type: DeclarativeStream
      name: photos_curated
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.pexels.com
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            name: photos_search
            path: /v1/search
            inject_into:
              type: RequestOption
              field_name: Authorization
              inject_into: header
          path: /v1/curated
          http_method: GET
          request_parameters: {}
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 500
                    action: FAIL
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          definitions: {}
          $id: https://example.com/object1667389456.json
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            next_page:
              type: string
              $id: "#root/next_page"
              pattern: ^.*$
              title: Next_page
            page:
              type: integer
              $id: "#root/page"
              default: 0
              title: Page
            per_page:
              type: integer
              $id: "#root/per_page"
              default: 0
              title: Per_page
            photos:
              type: array
              $id: "#root/photos"
              default: []
              items:
                type: object
                $id: "#root/photos/items"
                properties:
                  alt:
                    type: string
                    $id: "#root/photos/items/alt"
                    pattern: ^.*$
                    title: Alt
                  avg_color:
                    type: string
                    $id: "#root/photos/items/avg_color"
                    pattern: ^.*$
                    title: Avg_color
                  height:
                    type: integer
                    $id: "#root/photos/items/height"
                    default: 0
                    title: Height
                  id:
                    type: integer
                    $id: "#root/photos/items/id"
                    default: 0
                    title: Id
                  liked:
                    type: boolean
                    $id: "#root/photos/items/liked"
                    default: true
                    title: Liked
                  photographer:
                    type: string
                    $id: "#root/photos/items/photographer"
                    pattern: ^.*$
                    title: Photographer
                  photographer_id:
                    type: integer
                    $id: "#root/photos/items/photographer_id"
                    default: 0
                    title: Photographer_id
                  photographer_url:
                    type: string
                    $id: "#root/photos/items/photographer_url"
                    pattern: ^.*$
                    title: Photographer_url
                  src:
                    type: object
                    $id: "#root/photos/items/src"
                    properties:
                      landscape:
                        type: string
                        $id: "#root/photos/items/src/landscape"
                        pattern: ^.*$
                        title: Landscape
                      large:
                        type: string
                        $id: "#root/photos/items/src/large"
                        pattern: ^.*$
                        title: Large
                      large2x:
                        type: string
                        $id: "#root/photos/items/src/large2x"
                        pattern: ^.*$
                        title: Large2x
                      medium:
                        type: string
                        $id: "#root/photos/items/src/medium"
                        pattern: ^.*$
                        title: Medium
                      original:
                        type: string
                        $id: "#root/photos/items/src/original"
                        pattern: ^.*$
                        title: Original
                      portrait:
                        type: string
                        $id: "#root/photos/items/src/portrait"
                        pattern: ^.*$
                        title: Portrait
                      small:
                        type: string
                        $id: "#root/photos/items/src/small"
                        pattern: ^.*$
                        title: Small
                      tiny:
                        type: string
                        $id: "#root/photos/items/src/tiny"
                        pattern: ^.*$
                        title: Tiny
                    title: Src
                  url:
                    type: string
                    $id: "#root/photos/items/url"
                    pattern: ^.*$
                    title: Url
                  width:
                    type: integer
                    $id: "#root/photos/items/width"
                    default: 0
                    title: Width
                title: Items
              title: Photos
            total_results:
              type: integer
              $id: "#root/total_results"
              default: 0
              title: Total_results
          title: Root
    collection_featured:
      type: DeclarativeStream
      name: collection_featured
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.pexels.com
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            name: photos_search
            path: /v1/search
            inject_into:
              type: RequestOption
              field_name: Authorization
              inject_into: header
          path: /v1/collections/featured
          http_method: GET
          request_parameters: {}
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 500
                    action: FAIL
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          definitions: {}
          $id: https://example.com/object1667390893.json
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            collections:
              type: array
              $id: "#root/collections"
              default: []
              items:
                type: object
                $id: "#root/collections/items"
                properties:
                  description:
                    type:
                      - string
                      - "null"
                    $id: "#root/collections/items/description"
                    default:
                    title: Description
                  id:
                    type: string
                    $id: "#root/collections/items/id"
                    pattern: ^.*$
                    title: Id
                  media_count:
                    type: integer
                    $id: "#root/collections/items/media_count"
                    default: 0
                    title: Media_count
                  photos_count:
                    type: integer
                    $id: "#root/collections/items/photos_count"
                    default: 0
                    title: Photos_count
                  private:
                    type: boolean
                    $id: "#root/collections/items/private"
                    default: true
                    title: Private
                  title:
                    type: string
                    $id: "#root/collections/items/title"
                    pattern: ^.*$
                    title: Title
                  videos_count:
                    type: integer
                    $id: "#root/collections/items/videos_count"
                    default: 0
                    title: Videos_count
                title: Items
              title: Collections
            next_page:
              type: string
              $id: "#root/next_page"
              pattern: ^.*$
              title: Next_page
            page:
              type: integer
              $id: "#root/page"
              default: 0
              title: Page
            per_page:
              type: integer
              $id: "#root/per_page"
              default: 0
              title: Per_page
            prev_page:
              type: string
              $id: "#root/prev_page"
              pattern: ^.*$
              title: Prev_page
            total_results:
              type: integer
              $id: "#root/total_results"
              default: 0
              title: Total_results
          title: Root
    videos_search:
      type: DeclarativeStream
      name: videos_search
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.pexels.com
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            name: photos_search
            path: /v1/search
            inject_into:
              type: RequestOption
              field_name: Authorization
              inject_into: header
          path: /videos/search
          http_method: GET
          request_parameters:
            query: "{{ config['query'] }}"
            orientation: "{{config['orientation']}}"
            size: "{{config['size']}}"
            locale: "{{config['locale']}}"
            color: "{{config['color']}}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 500
                    action: FAIL
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          definitions: {}
          $id: https://example.com/object1667389704.json
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            page:
              type: integer
              $id: "#root/page"
              default: 0
              title: Page
            per_page:
              type: integer
              $id: "#root/per_page"
              default: 0
              title: Per_page
            total_results:
              type: integer
              $id: "#root/total_results"
              default: 0
              title: Total_results
            url:
              type: string
              $id: "#root/url"
              pattern: ^.*$
              title: Url
            videos:
              type: array
              $id: "#root/videos"
              default: []
              items:
                type: object
                $id: "#root/videos/items"
                properties:
                  duration:
                    type: integer
                    $id: "#root/videos/items/duration"
                    default: 0
                    title: Duration
                  height:
                    type:
                      - "null"
                      - number
                      - integer
                    $id: "#root/videos/items/height"
                    default: 0
                    title: Height
                  id:
                    type: integer
                    $id: "#root/videos/items/id"
                    default: 0
                    title: Id
                  image:
                    type: string
                    $id: "#root/videos/items/image"
                    pattern: ^.*$
                    title: Image
                  url:
                    type: string
                    $id: "#root/videos/items/url"
                    pattern: ^.*$
                    title: Url
                  user:
                    type: object
                    $id: "#root/videos/items/user"
                    properties:
                      id:
                        type: integer
                        $id: "#root/videos/items/user/id"
                        default: 0
                        title: Id
                      name:
                        type: string
                        $id: "#root/videos/items/user/name"
                        pattern: ^.*$
                        title: Name
                      url:
                        type: string
                        $id: "#root/videos/items/user/url"
                        pattern: ^.*$
                        title: Url
                    title: User
                  video_files:
                    type: array
                    $id: "#root/videos/items/video_files"
                    default: []
                    items:
                      type: object
                      $id: "#root/videos/items/video_files/items"
                      properties:
                        file_type:
                          type: string
                          $id: "#root/videos/items/video_files/items/file_type"
                          pattern: ^.*$
                          title: File_type
                        height:
                          type:
                            - "null"
                            - number
                            - integer
                          $id: "#root/videos/items/video_files/items/height"
                          default: 0
                          title: Height
                        id:
                          type: integer
                          $id: "#root/videos/items/video_files/items/id"
                          default: 0
                          title: Id
                        link:
                          type: string
                          $id: "#root/videos/items/video_files/items/link"
                          pattern: ^.*$
                          title: Link
                        quality:
                          type: string
                          $id: "#root/videos/items/video_files/items/quality"
                          pattern: ^.*$
                          title: Quality
                        width:
                          type:
                            - "null"
                            - number
                            - integer
                          $id: "#root/videos/items/video_files/items/width"
                          default: 0
                          title: Width
                      title: Items
                    title: Video_files
                  video_pictures:
                    type: array
                    $id: "#root/videos/items/video_pictures"
                    default: []
                    items:
                      type: object
                      $id: "#root/videos/items/video_pictures/items"
                      properties:
                        id:
                          type: integer
                          $id: "#root/videos/items/video_pictures/items/id"
                          default: 0
                          title: Id
                        nr:
                          type: integer
                          $id: "#root/videos/items/video_pictures/items/nr"
                          default: 0
                          title: Nr
                        picture:
                          type:
                            - "null"
                            - string
                          $id: "#root/videos/items/video_pictures/items/picture"
                          pattern: ^.*$
                          title: Picture
                      title: Items
                    title: Video_pictures
                  width:
                    type:
                      - "null"
                      - number
                      - integer
                    $id: "#root/videos/items/width"
                    default: 0
                    title: Width
                title: Items
              title: Videos
          title: Root
    videos_popular:
      type: DeclarativeStream
      name: videos_popular
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.pexels.com
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            name: photos_search
            path: /v1/search
            inject_into:
              type: RequestOption
              field_name: Authorization
              inject_into: header
          path: /videos/popular
          http_method: GET
          request_parameters: {}
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 500
                    action: FAIL
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          definitions: {}
          $id: https://example.com/object1667389811.json
          $schema: http://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            page:
              type: integer
              $id: "#root/page"
              default: 0
              title: Page
            per_page:
              type: integer
              $id: "#root/per_page"
              default: 0
              title: Per_page
            total_results:
              type: integer
              $id: "#root/total_results"
              default: 0
              title: Total_results
            url:
              type: string
              $id: "#root/url"
              pattern: ^.*$
              title: Url
            videos:
              type: array
              $id: "#root/videos"
              default: []
              items:
                type: object
                $id: "#root/videos/items"
                properties:
                  duration:
                    type: integer
                    $id: "#root/videos/items/duration"
                    default: 0
                    title: Duration
                  height:
                    type:
                      - number
                      - integer
                      - "null"
                    $id: "#root/videos/items/height"
                    default: 0
                    title: Height
                  id:
                    type: integer
                    $id: "#root/videos/items/id"
                    default: 0
                    title: Id
                  image:
                    type: string
                    $id: "#root/videos/items/image"
                    pattern: ^.*$
                    title: Image
                  url:
                    type: string
                    $id: "#root/videos/items/url"
                    pattern: ^.*$
                    title: Url
                  user:
                    type: object
                    $id: "#root/videos/items/user"
                    properties:
                      id:
                        type: integer
                        $id: "#root/videos/items/user/id"
                        default: 0
                        title: Id
                      name:
                        type: string
                        $id: "#root/videos/items/user/name"
                        pattern: ^.*$
                        title: Name
                      url:
                        type: string
                        $id: "#root/videos/items/user/url"
                        pattern: ^.*$
                        title: Url
                    title: User
                  video_files:
                    type: array
                    $id: "#root/videos/items/video_files"
                    default: []
                    items:
                      type: object
                      $id: "#root/videos/items/video_files/items"
                      properties:
                        file_type:
                          type: string
                          $id: "#root/videos/items/video_files/items/file_type"
                          pattern: ^.*$
                          title: File_type
                        height:
                          type:
                            - number
                            - integer
                            - "null"
                          $id: "#root/videos/items/video_files/items/height"
                          default: 0
                          title: Height
                        id:
                          type: integer
                          $id: "#root/videos/items/video_files/items/id"
                          default: 0
                          title: Id
                        link:
                          type: string
                          $id: "#root/videos/items/video_files/items/link"
                          pattern: ^.*$
                          title: Link
                        quality:
                          type: string
                          $id: "#root/videos/items/video_files/items/quality"
                          pattern: ^.*$
                          title: Quality
                        width:
                          type:
                            - number
                            - integer
                            - "null"
                          $id: "#root/videos/items/video_files/items/width"
                          default: 0
                          title: Width
                      title: Items
                    title: Video_files
                  video_pictures:
                    type: array
                    $id: "#root/videos/items/video_pictures"
                    default: []
                    items:
                      type: object
                      $id: "#root/videos/items/video_pictures/items"
                      properties:
                        id:
                          type: integer
                          $id: "#root/videos/items/video_pictures/items/id"
                          default: 0
                          title: Id
                        nr:
                          type: integer
                          $id: "#root/videos/items/video_pictures/items/nr"
                          default: 0
                          title: Nr
                        picture:
                          type: string
                          $id: "#root/videos/items/video_pictures/items/picture"
                          pattern: ^.*$
                          title: Picture
                      title: Items
                    title: Video_pictures
                  width:
                    type:
                      - number
                      - integer
                      - "null"
                    $id: "#root/videos/items/width"
                    default: 0
                    title: Width
                title: Items
              title: Videos
          title: Root
  base_requester:
    type: HttpRequester
    url_base: https://api.pexels.com
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['api_key'] }}"
      name: photos_search
      path: /v1/search
      inject_into:
        type: RequestOption
        field_name: Authorization
        inject_into: header
streams:
  - type: DeclarativeStream
    name: photos_search
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.pexels.com
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          name: photos_search
          path: /v1/search
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        path: /v1/search
        http_method: GET
        request_parameters:
          query: "{{ config['query'] }}"
          orientation: "{{config['orientation']}}"
          size: "{{config['size']}}"
          locale: "{{config['locale']}}"
          color: "{{config['color']}}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  http_codes:
                    - 500
                  action: FAIL
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: per_page
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        definitions: {}
        $id: https://example.com/object1667402697.json
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          next_page:
            type: string
            $id: "#root/next_page"
            pattern: ^.*$
            title: Next_page
          page:
            type: integer
            $id: "#root/page"
            default: 0
            title: Page
          per_page:
            type: integer
            $id: "#root/per_page"
            default: 0
            title: Per_page
          photos:
            type: array
            $id: "#root/photos"
            default: []
            items:
              type: object
              $id: "#root/photos/items"
              properties:
                alt:
                  type: string
                  $id: "#root/photos/items/alt"
                  pattern: ^.*$
                  title: Alt
                avg_color:
                  type: string
                  $id: "#root/photos/items/avg_color"
                  pattern: ^.*$
                  title: Avg_color
                height:
                  type: integer
                  $id: "#root/photos/items/height"
                  default: 0
                  title: Height
                id:
                  type: integer
                  $id: "#root/photos/items/id"
                  default: 0
                  title: Id
                liked:
                  type: boolean
                  $id: "#root/photos/items/liked"
                  default: true
                  title: Liked
                photographer:
                  type: string
                  $id: "#root/photos/items/photographer"
                  pattern: ^.*$
                  title: Photographer
                photographer_id:
                  type: integer
                  $id: "#root/photos/items/photographer_id"
                  default: 0
                  title: Photographer_id
                photographer_url:
                  type: string
                  $id: "#root/photos/items/photographer_url"
                  pattern: ^.*$
                  title: Photographer_url
                src:
                  type: object
                  $id: "#root/photos/items/src"
                  properties:
                    landscape:
                      type: string
                      $id: "#root/photos/items/src/landscape"
                      pattern: ^.*$
                      title: Landscape
                    large:
                      type: string
                      $id: "#root/photos/items/src/large"
                      pattern: ^.*$
                      title: Large
                    large2x:
                      type: string
                      $id: "#root/photos/items/src/large2x"
                      pattern: ^.*$
                      title: Large2x
                    medium:
                      type: string
                      $id: "#root/photos/items/src/medium"
                      pattern: ^.*$
                      title: Medium
                    original:
                      type: string
                      $id: "#root/photos/items/src/original"
                      pattern: ^.*$
                      title: Original
                    portrait:
                      type: string
                      $id: "#root/photos/items/src/portrait"
                      pattern: ^.*$
                      title: Portrait
                    small:
                      type: string
                      $id: "#root/photos/items/src/small"
                      pattern: ^.*$
                      title: Small
                    tiny:
                      type: string
                      $id: "#root/photos/items/src/tiny"
                      pattern: ^.*$
                      title: Tiny
                  title: Src
                url:
                  type: string
                  $id: "#root/photos/items/url"
                  pattern: ^.*$
                  title: Url
                width:
                  type: integer
                  $id: "#root/photos/items/width"
                  default: 0
                  title: Width
              title: Items
            title: Photos
          total_results:
            type: integer
            $id: "#root/total_results"
            default: 0
            title: Total_results
        title: Root
  - type: DeclarativeStream
    name: photos_curated
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.pexels.com
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          name: photos_search
          path: /v1/search
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        path: /v1/curated
        http_method: GET
        request_parameters: {}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  http_codes:
                    - 500
                  action: FAIL
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: per_page
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        definitions: {}
        $id: https://example.com/object1667389456.json
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          next_page:
            type: string
            $id: "#root/next_page"
            pattern: ^.*$
            title: Next_page
          page:
            type: integer
            $id: "#root/page"
            default: 0
            title: Page
          per_page:
            type: integer
            $id: "#root/per_page"
            default: 0
            title: Per_page
          photos:
            type: array
            $id: "#root/photos"
            default: []
            items:
              type: object
              $id: "#root/photos/items"
              properties:
                alt:
                  type: string
                  $id: "#root/photos/items/alt"
                  pattern: ^.*$
                  title: Alt
                avg_color:
                  type: string
                  $id: "#root/photos/items/avg_color"
                  pattern: ^.*$
                  title: Avg_color
                height:
                  type: integer
                  $id: "#root/photos/items/height"
                  default: 0
                  title: Height
                id:
                  type: integer
                  $id: "#root/photos/items/id"
                  default: 0
                  title: Id
                liked:
                  type: boolean
                  $id: "#root/photos/items/liked"
                  default: true
                  title: Liked
                photographer:
                  type: string
                  $id: "#root/photos/items/photographer"
                  pattern: ^.*$
                  title: Photographer
                photographer_id:
                  type: integer
                  $id: "#root/photos/items/photographer_id"
                  default: 0
                  title: Photographer_id
                photographer_url:
                  type: string
                  $id: "#root/photos/items/photographer_url"
                  pattern: ^.*$
                  title: Photographer_url
                src:
                  type: object
                  $id: "#root/photos/items/src"
                  properties:
                    landscape:
                      type: string
                      $id: "#root/photos/items/src/landscape"
                      pattern: ^.*$
                      title: Landscape
                    large:
                      type: string
                      $id: "#root/photos/items/src/large"
                      pattern: ^.*$
                      title: Large
                    large2x:
                      type: string
                      $id: "#root/photos/items/src/large2x"
                      pattern: ^.*$
                      title: Large2x
                    medium:
                      type: string
                      $id: "#root/photos/items/src/medium"
                      pattern: ^.*$
                      title: Medium
                    original:
                      type: string
                      $id: "#root/photos/items/src/original"
                      pattern: ^.*$
                      title: Original
                    portrait:
                      type: string
                      $id: "#root/photos/items/src/portrait"
                      pattern: ^.*$
                      title: Portrait
                    small:
                      type: string
                      $id: "#root/photos/items/src/small"
                      pattern: ^.*$
                      title: Small
                    tiny:
                      type: string
                      $id: "#root/photos/items/src/tiny"
                      pattern: ^.*$
                      title: Tiny
                  title: Src
                url:
                  type: string
                  $id: "#root/photos/items/url"
                  pattern: ^.*$
                  title: Url
                width:
                  type: integer
                  $id: "#root/photos/items/width"
                  default: 0
                  title: Width
              title: Items
            title: Photos
          total_results:
            type: integer
            $id: "#root/total_results"
            default: 0
            title: Total_results
        title: Root
  - type: DeclarativeStream
    name: collection_featured
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.pexels.com
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          name: photos_search
          path: /v1/search
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        path: /v1/collections/featured
        http_method: GET
        request_parameters: {}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  http_codes:
                    - 500
                  action: FAIL
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: per_page
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        definitions: {}
        $id: https://example.com/object1667390893.json
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          collections:
            type: array
            $id: "#root/collections"
            default: []
            items:
              type: object
              $id: "#root/collections/items"
              properties:
                description:
                  type:
                    - string
                    - "null"
                  $id: "#root/collections/items/description"
                  default:
                  title: Description
                id:
                  type: string
                  $id: "#root/collections/items/id"
                  pattern: ^.*$
                  title: Id
                media_count:
                  type: integer
                  $id: "#root/collections/items/media_count"
                  default: 0
                  title: Media_count
                photos_count:
                  type: integer
                  $id: "#root/collections/items/photos_count"
                  default: 0
                  title: Photos_count
                private:
                  type: boolean
                  $id: "#root/collections/items/private"
                  default: true
                  title: Private
                title:
                  type: string
                  $id: "#root/collections/items/title"
                  pattern: ^.*$
                  title: Title
                videos_count:
                  type: integer
                  $id: "#root/collections/items/videos_count"
                  default: 0
                  title: Videos_count
              title: Items
            title: Collections
          next_page:
            type: string
            $id: "#root/next_page"
            pattern: ^.*$
            title: Next_page
          page:
            type: integer
            $id: "#root/page"
            default: 0
            title: Page
          per_page:
            type: integer
            $id: "#root/per_page"
            default: 0
            title: Per_page
          prev_page:
            type: string
            $id: "#root/prev_page"
            pattern: ^.*$
            title: Prev_page
          total_results:
            type: integer
            $id: "#root/total_results"
            default: 0
            title: Total_results
        title: Root
  - type: DeclarativeStream
    name: videos_search
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.pexels.com
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          name: photos_search
          path: /v1/search
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        path: /videos/search
        http_method: GET
        request_parameters:
          query: "{{ config['query'] }}"
          orientation: "{{config['orientation']}}"
          size: "{{config['size']}}"
          locale: "{{config['locale']}}"
          color: "{{config['color']}}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  http_codes:
                    - 500
                  action: FAIL
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: per_page
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        definitions: {}
        $id: https://example.com/object1667389704.json
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          page:
            type: integer
            $id: "#root/page"
            default: 0
            title: Page
          per_page:
            type: integer
            $id: "#root/per_page"
            default: 0
            title: Per_page
          total_results:
            type: integer
            $id: "#root/total_results"
            default: 0
            title: Total_results
          url:
            type: string
            $id: "#root/url"
            pattern: ^.*$
            title: Url
          videos:
            type: array
            $id: "#root/videos"
            default: []
            items:
              type: object
              $id: "#root/videos/items"
              properties:
                duration:
                  type: integer
                  $id: "#root/videos/items/duration"
                  default: 0
                  title: Duration
                height:
                  type:
                    - "null"
                    - number
                    - integer
                  $id: "#root/videos/items/height"
                  default: 0
                  title: Height
                id:
                  type: integer
                  $id: "#root/videos/items/id"
                  default: 0
                  title: Id
                image:
                  type: string
                  $id: "#root/videos/items/image"
                  pattern: ^.*$
                  title: Image
                url:
                  type: string
                  $id: "#root/videos/items/url"
                  pattern: ^.*$
                  title: Url
                user:
                  type: object
                  $id: "#root/videos/items/user"
                  properties:
                    id:
                      type: integer
                      $id: "#root/videos/items/user/id"
                      default: 0
                      title: Id
                    name:
                      type: string
                      $id: "#root/videos/items/user/name"
                      pattern: ^.*$
                      title: Name
                    url:
                      type: string
                      $id: "#root/videos/items/user/url"
                      pattern: ^.*$
                      title: Url
                  title: User
                video_files:
                  type: array
                  $id: "#root/videos/items/video_files"
                  default: []
                  items:
                    type: object
                    $id: "#root/videos/items/video_files/items"
                    properties:
                      file_type:
                        type: string
                        $id: "#root/videos/items/video_files/items/file_type"
                        pattern: ^.*$
                        title: File_type
                      height:
                        type:
                          - "null"
                          - number
                          - integer
                        $id: "#root/videos/items/video_files/items/height"
                        default: 0
                        title: Height
                      id:
                        type: integer
                        $id: "#root/videos/items/video_files/items/id"
                        default: 0
                        title: Id
                      link:
                        type: string
                        $id: "#root/videos/items/video_files/items/link"
                        pattern: ^.*$
                        title: Link
                      quality:
                        type: string
                        $id: "#root/videos/items/video_files/items/quality"
                        pattern: ^.*$
                        title: Quality
                      width:
                        type:
                          - "null"
                          - number
                          - integer
                        $id: "#root/videos/items/video_files/items/width"
                        default: 0
                        title: Width
                    title: Items
                  title: Video_files
                video_pictures:
                  type: array
                  $id: "#root/videos/items/video_pictures"
                  default: []
                  items:
                    type: object
                    $id: "#root/videos/items/video_pictures/items"
                    properties:
                      id:
                        type: integer
                        $id: "#root/videos/items/video_pictures/items/id"
                        default: 0
                        title: Id
                      nr:
                        type: integer
                        $id: "#root/videos/items/video_pictures/items/nr"
                        default: 0
                        title: Nr
                      picture:
                        type:
                          - "null"
                          - string
                        $id: "#root/videos/items/video_pictures/items/picture"
                        pattern: ^.*$
                        title: Picture
                    title: Items
                  title: Video_pictures
                width:
                  type:
                    - "null"
                    - number
                    - integer
                  $id: "#root/videos/items/width"
                  default: 0
                  title: Width
              title: Items
            title: Videos
        title: Root
  - type: DeclarativeStream
    name: videos_popular
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.pexels.com
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          name: photos_search
          path: /v1/search
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        path: /videos/popular
        http_method: GET
        request_parameters: {}
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  http_codes:
                    - 500
                  action: FAIL
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: per_page
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        definitions: {}
        $id: https://example.com/object1667389811.json
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          page:
            type: integer
            $id: "#root/page"
            default: 0
            title: Page
          per_page:
            type: integer
            $id: "#root/per_page"
            default: 0
            title: Per_page
          total_results:
            type: integer
            $id: "#root/total_results"
            default: 0
            title: Total_results
          url:
            type: string
            $id: "#root/url"
            pattern: ^.*$
            title: Url
          videos:
            type: array
            $id: "#root/videos"
            default: []
            items:
              type: object
              $id: "#root/videos/items"
              properties:
                duration:
                  type: integer
                  $id: "#root/videos/items/duration"
                  default: 0
                  title: Duration
                height:
                  type:
                    - number
                    - integer
                    - "null"
                  $id: "#root/videos/items/height"
                  default: 0
                  title: Height
                id:
                  type: integer
                  $id: "#root/videos/items/id"
                  default: 0
                  title: Id
                image:
                  type: string
                  $id: "#root/videos/items/image"
                  pattern: ^.*$
                  title: Image
                url:
                  type: string
                  $id: "#root/videos/items/url"
                  pattern: ^.*$
                  title: Url
                user:
                  type: object
                  $id: "#root/videos/items/user"
                  properties:
                    id:
                      type: integer
                      $id: "#root/videos/items/user/id"
                      default: 0
                      title: Id
                    name:
                      type: string
                      $id: "#root/videos/items/user/name"
                      pattern: ^.*$
                      title: Name
                    url:
                      type: string
                      $id: "#root/videos/items/user/url"
                      pattern: ^.*$
                      title: Url
                  title: User
                video_files:
                  type: array
                  $id: "#root/videos/items/video_files"
                  default: []
                  items:
                    type: object
                    $id: "#root/videos/items/video_files/items"
                    properties:
                      file_type:
                        type: string
                        $id: "#root/videos/items/video_files/items/file_type"
                        pattern: ^.*$
                        title: File_type
                      height:
                        type:
                          - number
                          - integer
                          - "null"
                        $id: "#root/videos/items/video_files/items/height"
                        default: 0
                        title: Height
                      id:
                        type: integer
                        $id: "#root/videos/items/video_files/items/id"
                        default: 0
                        title: Id
                      link:
                        type: string
                        $id: "#root/videos/items/video_files/items/link"
                        pattern: ^.*$
                        title: Link
                      quality:
                        type: string
                        $id: "#root/videos/items/video_files/items/quality"
                        pattern: ^.*$
                        title: Quality
                      width:
                        type:
                          - number
                          - integer
                          - "null"
                        $id: "#root/videos/items/video_files/items/width"
                        default: 0
                        title: Width
                    title: Items
                  title: Video_files
                video_pictures:
                  type: array
                  $id: "#root/videos/items/video_pictures"
                  default: []
                  items:
                    type: object
                    $id: "#root/videos/items/video_pictures/items"
                    properties:
                      id:
                        type: integer
                        $id: "#root/videos/items/video_pictures/items/id"
                        default: 0
                        title: Id
                      nr:
                        type: integer
                        $id: "#root/videos/items/video_pictures/items/nr"
                        default: 0
                        title: Nr
                      picture:
                        type: string
                        $id: "#root/videos/items/video_pictures/items/picture"
                        pattern: ^.*$
                        title: Picture
                    title: Items
                  title: Video_pictures
                width:
                  type:
                    - number
                    - integer
                    - "null"
                  $id: "#root/videos/items/width"
                  default: 0
                  title: Width
              title: Items
            title: Videos
        title: Root
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - query
    properties:
      api_key:
        type: string
        title: API Key from the pexels website
        airbyte_secret: true
        description: >-
          API key is required to access pexels api, For getting your's goto
          https://www.pexels.com/api/documentation and create account for free.
        order: 0
      color:
        type: string
        title: Specific color for the search
        description: >-
          Optional, Desired photo color. Supported colors red, orange, yellow,
          green, turquoise, blue, violet, pink, brown, black, gray, white or any
          hexidecimal color code.
        examples:
          - red
          - orange
        order: 1
      locale:
        type: string
        title: Specific locale for the search
        description: >-
          Optional, The locale of the search you are performing. The current
          supported locales are 'en-US' 'pt-BR' 'es-ES' 'ca-ES' 'de-DE' 'it-IT'
          'fr-FR' 'sv-SE' 'id-ID' 'pl-PL' 'ja-JP' 'zh-TW' 'zh-CN' 'ko-KR'
          'th-TH' 'nl-NL' 'hu-HU' 'vi-VN' 'cs-CZ' 'da-DK' 'fi-FI' 'uk-UA'
          'el-GR' 'ro-RO' 'nb-NO' 'sk-SK' 'tr-TR' 'ru-RU'.
        examples:
          - en-US
          - pt-BR
        order: 2
      orientation:
        type: string
        title: Specific orientation for the search
        description: >-
          Optional, Desired photo orientation. The current supported
          orientations are landscape, portrait or square
        examples:
          - square
          - landscape
        order: 3
      query:
        type: string
        title: Specific query for the search
        description: Optional, the search query, Example Ocean, Tigers, Pears, etc.
        examples:
          - people
          - oceans
        order: 4
      size:
        type: string
        title: Specific size for the search
        description: >-
          Optional, Minimum photo size. The current supported sizes are
          large(24MP), medium(12MP) or small(4MP).
        examples:
          - large
          - small
        order: 5
    additionalProperties: true
metadata:
  autoImportSchema:
    photos_search: false
    photos_curated: false
    collection_featured: false
    videos_search: false
    videos_popular: false
schemas:
  photos_search:
    type: object
    definitions: {}
    $id: https://example.com/object1667402697.json
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      next_page:
        type: string
        $id: "#root/next_page"
        pattern: ^.*$
        title: Next_page
      page:
        type: integer
        $id: "#root/page"
        default: 0
        title: Page
      per_page:
        type: integer
        $id: "#root/per_page"
        default: 0
        title: Per_page
      photos:
        type: array
        $id: "#root/photos"
        default: []
        items:
          type: object
          $id: "#root/photos/items"
          properties:
            alt:
              type: string
              $id: "#root/photos/items/alt"
              pattern: ^.*$
              title: Alt
            avg_color:
              type: string
              $id: "#root/photos/items/avg_color"
              pattern: ^.*$
              title: Avg_color
            height:
              type: integer
              $id: "#root/photos/items/height"
              default: 0
              title: Height
            id:
              type: integer
              $id: "#root/photos/items/id"
              default: 0
              title: Id
            liked:
              type: boolean
              $id: "#root/photos/items/liked"
              default: true
              title: Liked
            photographer:
              type: string
              $id: "#root/photos/items/photographer"
              pattern: ^.*$
              title: Photographer
            photographer_id:
              type: integer
              $id: "#root/photos/items/photographer_id"
              default: 0
              title: Photographer_id
            photographer_url:
              type: string
              $id: "#root/photos/items/photographer_url"
              pattern: ^.*$
              title: Photographer_url
            src:
              type: object
              $id: "#root/photos/items/src"
              properties:
                landscape:
                  type: string
                  $id: "#root/photos/items/src/landscape"
                  pattern: ^.*$
                  title: Landscape
                large:
                  type: string
                  $id: "#root/photos/items/src/large"
                  pattern: ^.*$
                  title: Large
                large2x:
                  type: string
                  $id: "#root/photos/items/src/large2x"
                  pattern: ^.*$
                  title: Large2x
                medium:
                  type: string
                  $id: "#root/photos/items/src/medium"
                  pattern: ^.*$
                  title: Medium
                original:
                  type: string
                  $id: "#root/photos/items/src/original"
                  pattern: ^.*$
                  title: Original
                portrait:
                  type: string
                  $id: "#root/photos/items/src/portrait"
                  pattern: ^.*$
                  title: Portrait
                small:
                  type: string
                  $id: "#root/photos/items/src/small"
                  pattern: ^.*$
                  title: Small
                tiny:
                  type: string
                  $id: "#root/photos/items/src/tiny"
                  pattern: ^.*$
                  title: Tiny
              title: Src
            url:
              type: string
              $id: "#root/photos/items/url"
              pattern: ^.*$
              title: Url
            width:
              type: integer
              $id: "#root/photos/items/width"
              default: 0
              title: Width
          title: Items
        title: Photos
      total_results:
        type: integer
        $id: "#root/total_results"
        default: 0
        title: Total_results
    title: Root
  photos_curated:
    type: object
    definitions: {}
    $id: https://example.com/object1667389456.json
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      next_page:
        type: string
        $id: "#root/next_page"
        pattern: ^.*$
        title: Next_page
      page:
        type: integer
        $id: "#root/page"
        default: 0
        title: Page
      per_page:
        type: integer
        $id: "#root/per_page"
        default: 0
        title: Per_page
      photos:
        type: array
        $id: "#root/photos"
        default: []
        items:
          type: object
          $id: "#root/photos/items"
          properties:
            alt:
              type: string
              $id: "#root/photos/items/alt"
              pattern: ^.*$
              title: Alt
            avg_color:
              type: string
              $id: "#root/photos/items/avg_color"
              pattern: ^.*$
              title: Avg_color
            height:
              type: integer
              $id: "#root/photos/items/height"
              default: 0
              title: Height
            id:
              type: integer
              $id: "#root/photos/items/id"
              default: 0
              title: Id
            liked:
              type: boolean
              $id: "#root/photos/items/liked"
              default: true
              title: Liked
            photographer:
              type: string
              $id: "#root/photos/items/photographer"
              pattern: ^.*$
              title: Photographer
            photographer_id:
              type: integer
              $id: "#root/photos/items/photographer_id"
              default: 0
              title: Photographer_id
            photographer_url:
              type: string
              $id: "#root/photos/items/photographer_url"
              pattern: ^.*$
              title: Photographer_url
            src:
              type: object
              $id: "#root/photos/items/src"
              properties:
                landscape:
                  type: string
                  $id: "#root/photos/items/src/landscape"
                  pattern: ^.*$
                  title: Landscape
                large:
                  type: string
                  $id: "#root/photos/items/src/large"
                  pattern: ^.*$
                  title: Large
                large2x:
                  type: string
                  $id: "#root/photos/items/src/large2x"
                  pattern: ^.*$
                  title: Large2x
                medium:
                  type: string
                  $id: "#root/photos/items/src/medium"
                  pattern: ^.*$
                  title: Medium
                original:
                  type: string
                  $id: "#root/photos/items/src/original"
                  pattern: ^.*$
                  title: Original
                portrait:
                  type: string
                  $id: "#root/photos/items/src/portrait"
                  pattern: ^.*$
                  title: Portrait
                small:
                  type: string
                  $id: "#root/photos/items/src/small"
                  pattern: ^.*$
                  title: Small
                tiny:
                  type: string
                  $id: "#root/photos/items/src/tiny"
                  pattern: ^.*$
                  title: Tiny
              title: Src
            url:
              type: string
              $id: "#root/photos/items/url"
              pattern: ^.*$
              title: Url
            width:
              type: integer
              $id: "#root/photos/items/width"
              default: 0
              title: Width
          title: Items
        title: Photos
      total_results:
        type: integer
        $id: "#root/total_results"
        default: 0
        title: Total_results
    title: Root
  collection_featured:
    type: object
    definitions: {}
    $id: https://example.com/object1667390893.json
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      collections:
        type: array
        $id: "#root/collections"
        default: []
        items:
          type: object
          $id: "#root/collections/items"
          properties:
            description:
              type:
                - string
                - "null"
              $id: "#root/collections/items/description"
              default:
              title: Description
            id:
              type: string
              $id: "#root/collections/items/id"
              pattern: ^.*$
              title: Id
            media_count:
              type: integer
              $id: "#root/collections/items/media_count"
              default: 0
              title: Media_count
            photos_count:
              type: integer
              $id: "#root/collections/items/photos_count"
              default: 0
              title: Photos_count
            private:
              type: boolean
              $id: "#root/collections/items/private"
              default: true
              title: Private
            title:
              type: string
              $id: "#root/collections/items/title"
              pattern: ^.*$
              title: Title
            videos_count:
              type: integer
              $id: "#root/collections/items/videos_count"
              default: 0
              title: Videos_count
          title: Items
        title: Collections
      next_page:
        type: string
        $id: "#root/next_page"
        pattern: ^.*$
        title: Next_page
      page:
        type: integer
        $id: "#root/page"
        default: 0
        title: Page
      per_page:
        type: integer
        $id: "#root/per_page"
        default: 0
        title: Per_page
      prev_page:
        type: string
        $id: "#root/prev_page"
        pattern: ^.*$
        title: Prev_page
      total_results:
        type: integer
        $id: "#root/total_results"
        default: 0
        title: Total_results
    title: Root
  videos_search:
    type: object
    definitions: {}
    $id: https://example.com/object1667389704.json
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      page:
        type: integer
        $id: "#root/page"
        default: 0
        title: Page
      per_page:
        type: integer
        $id: "#root/per_page"
        default: 0
        title: Per_page
      total_results:
        type: integer
        $id: "#root/total_results"
        default: 0
        title: Total_results
      url:
        type: string
        $id: "#root/url"
        pattern: ^.*$
        title: Url
      videos:
        type: array
        $id: "#root/videos"
        default: []
        items:
          type: object
          $id: "#root/videos/items"
          properties:
            duration:
              type: integer
              $id: "#root/videos/items/duration"
              default: 0
              title: Duration
            height:
              type:
                - "null"
                - number
                - integer
              $id: "#root/videos/items/height"
              default: 0
              title: Height
            id:
              type: integer
              $id: "#root/videos/items/id"
              default: 0
              title: Id
            image:
              type: string
              $id: "#root/videos/items/image"
              pattern: ^.*$
              title: Image
            url:
              type: string
              $id: "#root/videos/items/url"
              pattern: ^.*$
              title: Url
            user:
              type: object
              $id: "#root/videos/items/user"
              properties:
                id:
                  type: integer
                  $id: "#root/videos/items/user/id"
                  default: 0
                  title: Id
                name:
                  type: string
                  $id: "#root/videos/items/user/name"
                  pattern: ^.*$
                  title: Name
                url:
                  type: string
                  $id: "#root/videos/items/user/url"
                  pattern: ^.*$
                  title: Url
              title: User
            video_files:
              type: array
              $id: "#root/videos/items/video_files"
              default: []
              items:
                type: object
                $id: "#root/videos/items/video_files/items"
                properties:
                  file_type:
                    type: string
                    $id: "#root/videos/items/video_files/items/file_type"
                    pattern: ^.*$
                    title: File_type
                  height:
                    type:
                      - "null"
                      - number
                      - integer
                    $id: "#root/videos/items/video_files/items/height"
                    default: 0
                    title: Height
                  id:
                    type: integer
                    $id: "#root/videos/items/video_files/items/id"
                    default: 0
                    title: Id
                  link:
                    type: string
                    $id: "#root/videos/items/video_files/items/link"
                    pattern: ^.*$
                    title: Link
                  quality:
                    type: string
                    $id: "#root/videos/items/video_files/items/quality"
                    pattern: ^.*$
                    title: Quality
                  width:
                    type:
                      - "null"
                      - number
                      - integer
                    $id: "#root/videos/items/video_files/items/width"
                    default: 0
                    title: Width
                title: Items
              title: Video_files
            video_pictures:
              type: array
              $id: "#root/videos/items/video_pictures"
              default: []
              items:
                type: object
                $id: "#root/videos/items/video_pictures/items"
                properties:
                  id:
                    type: integer
                    $id: "#root/videos/items/video_pictures/items/id"
                    default: 0
                    title: Id
                  nr:
                    type: integer
                    $id: "#root/videos/items/video_pictures/items/nr"
                    default: 0
                    title: Nr
                  picture:
                    type:
                      - "null"
                      - string
                    $id: "#root/videos/items/video_pictures/items/picture"
                    pattern: ^.*$
                    title: Picture
                title: Items
              title: Video_pictures
            width:
              type:
                - "null"
                - number
                - integer
              $id: "#root/videos/items/width"
              default: 0
              title: Width
          title: Items
        title: Videos
    title: Root
  videos_popular:
    type: object
    definitions: {}
    $id: https://example.com/object1667389811.json
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      page:
        type: integer
        $id: "#root/page"
        default: 0
        title: Page
      per_page:
        type: integer
        $id: "#root/per_page"
        default: 0
        title: Per_page
      total_results:
        type: integer
        $id: "#root/total_results"
        default: 0
        title: Total_results
      url:
        type: string
        $id: "#root/url"
        pattern: ^.*$
        title: Url
      videos:
        type: array
        $id: "#root/videos"
        default: []
        items:
          type: object
          $id: "#root/videos/items"
          properties:
            duration:
              type: integer
              $id: "#root/videos/items/duration"
              default: 0
              title: Duration
            height:
              type:
                - number
                - integer
                - "null"
              $id: "#root/videos/items/height"
              default: 0
              title: Height
            id:
              type: integer
              $id: "#root/videos/items/id"
              default: 0
              title: Id
            image:
              type: string
              $id: "#root/videos/items/image"
              pattern: ^.*$
              title: Image
            url:
              type: string
              $id: "#root/videos/items/url"
              pattern: ^.*$
              title: Url
            user:
              type: object
              $id: "#root/videos/items/user"
              properties:
                id:
                  type: integer
                  $id: "#root/videos/items/user/id"
                  default: 0
                  title: Id
                name:
                  type: string
                  $id: "#root/videos/items/user/name"
                  pattern: ^.*$
                  title: Name
                url:
                  type: string
                  $id: "#root/videos/items/user/url"
                  pattern: ^.*$
                  title: Url
              title: User
            video_files:
              type: array
              $id: "#root/videos/items/video_files"
              default: []
              items:
                type: object
                $id: "#root/videos/items/video_files/items"
                properties:
                  file_type:
                    type: string
                    $id: "#root/videos/items/video_files/items/file_type"
                    pattern: ^.*$
                    title: File_type
                  height:
                    type:
                      - number
                      - integer
                      - "null"
                    $id: "#root/videos/items/video_files/items/height"
                    default: 0
                    title: Height
                  id:
                    type: integer
                    $id: "#root/videos/items/video_files/items/id"
                    default: 0
                    title: Id
                  link:
                    type: string
                    $id: "#root/videos/items/video_files/items/link"
                    pattern: ^.*$
                    title: Link
                  quality:
                    type: string
                    $id: "#root/videos/items/video_files/items/quality"
                    pattern: ^.*$
                    title: Quality
                  width:
                    type:
                      - number
                      - integer
                      - "null"
                    $id: "#root/videos/items/video_files/items/width"
                    default: 0
                    title: Width
                title: Items
              title: Video_files
            video_pictures:
              type: array
              $id: "#root/videos/items/video_pictures"
              default: []
              items:
                type: object
                $id: "#root/videos/items/video_pictures/items"
                properties:
                  id:
                    type: integer
                    $id: "#root/videos/items/video_pictures/items/id"
                    default: 0
                    title: Id
                  nr:
                    type: integer
                    $id: "#root/videos/items/video_pictures/items/nr"
                    default: 0
                    title: Nr
                  picture:
                    type: string
                    $id: "#root/videos/items/video_pictures/items/picture"
                    pattern: ^.*$
                    title: Picture
                title: Items
              title: Video_pictures
            width:
              type:
                - number
                - integer
                - "null"
              $id: "#root/videos/items/width"
              default: 0
              title: Width
          title: Items
        title: Videos
    title: Root
