version: 6.33.2

type: DeclarativeSource

description: Add support for custom domain

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  streams:
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts
          http_method: GET
          request_parameters:
            status: "{{ config['status'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: from
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.next }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"
    admins:
      type: DeclarativeStream
      name: admins
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /admins
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: from
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.next }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/admins"
    conversations:
      type: DeclarativeStream
      name: conversations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /conversations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: from
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.next }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/conversations"
    notes:
      type: DeclarativeStream
      name: notes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /notes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: from
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.next }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/notes"
    tasks:
      type: DeclarativeStream
      name: tasks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /tasks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: from
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.next }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tasks"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: from
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.next }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
  base_requester:
    type: HttpRequester
    url_base: "{{ 'https://' + config['domain'] + '.' if config.domain else ''  + 'rest.vitally.io/resources' }}"
    authenticator:
      type: BasicHttpAuthenticator
      password: "{{ config[\"basic_auth_header\"] }}"
      username: "{{ config[\"secret_token\"] }}"

streams:
  - $ref: "#/definitions/streams/accounts"
  - $ref: "#/definitions/streams/admins"
  - $ref: "#/definitions/streams/conversations"
  - $ref: "#/definitions/streams/notes"
  - $ref: "#/definitions/streams/tasks"
  - $ref: "#/definitions/streams/users"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - domain
      - status
      - secret_token
    properties:
      domain:
        type: string
        order: 0
        title: Custom Domain
        description: >-
          Provide only the domain part, like https://{your-domain}.rest.vitally.io/. 
          Keep empty if you don't have a subdomain.
      status:
        type: string
        description: >-
          Status of the Vitally accounts. One of the following values; active,
          churned, activeOrChurned.
        enum:
          - active
          - churned
          - activeOrChurned
        order: 1
        title: Status
      secret_token:
        type: string
        description: sk_live_secret_token
        order: 2
        title: Secret Token
      basic_auth_header:
        type: string
        description: Basic Auth Header
        order: 3
        title: Basic Auth Header
        always_show: true
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    accounts: false
    admins: false
    conversations: false
    notes: false
    tasks: false
    users: false
  testedStreams:
    accounts:
      hasRecords: true
      streamHash: ca1b94c2b9bdc691bcd85285d72f00f6597918e0
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    admins:
      hasRecords: true
      streamHash: 5346644c54cc0595f3109dcb9a630024542e9245
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    conversations:
      hasRecords: true
      streamHash: f9f408ccf0d825833fa5d2841f7735aa5499a1fe
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    notes:
      hasRecords: true
      streamHash: cde6b8c66ff0e648b01c91c4ec51949a53953910
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    tasks:
      hasRecords: true
      streamHash: ac9aec74e2812d51bb69abf28087adfadf2f99de
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    users:
      hasRecords: true
      streamHash: dd05be79d845c8fb8b97b16cbbe3b191559e032d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist:
    docsUrl: https://docs.vitally.io/en/articles/9880649-rest-api-overview

schemas:
  accounts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      accountExecutiveId:
        type:
          - string
          - "null"
      churnedAt:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      csmId:
        type:
          - string
          - "null"
      externalId:
        type:
          - string
          - "null"
      healthScore:
        type:
          - number
          - "null"
      id:
        type: string
      keyRoles:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            assignedAt:
              type:
                - string
                - "null"
            createdAt:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            keyRole:
              type:
                - object
                - "null"
              properties:
                createdAt:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                label:
                  type:
                    - string
                    - "null"
            vitallyUser:
              type:
                - object
                - "null"
              properties:
                email:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                licenseStatus:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
      lastInboundMessageTimestamp:
        type:
          - string
          - "null"
      lastOutboundMessageTimestamp:
        type:
          - string
          - "null"
      mrr:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      nextRenewalDate:
        type:
          - string
          - "null"
      npsDetractorCount:
        type:
          - number
          - "null"
      npsPassiveCount:
        type:
          - number
          - "null"
      npsPromoterCount:
        type:
          - number
          - "null"
      segments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      traits:
        type:
          - object
          - "null"
        properties:
          bottom_avg_csat_1:
            type:
              - number
              - "null"
          bottom_avg_csat_2:
            type:
              - number
              - "null"
          bottom_avg_csat_3:
            type:
              - number
              - "null"
          bottom_staff_1:
            type:
              - string
              - "null"
          bottom_staff_2:
            type:
              - string
              - "null"
          bottom_staff_3:
            type:
              - string
              - "null"
          csat_change_pct:
            type:
              - number
              - "null"
          current_activated_pct:
            type:
              - number
              - "null"
          current_csat_score:
            type:
              - number
              - "null"
          current_logins_cnt:
            type:
              - number
              - "null"
          current_messages_cnt:
            type:
              - number
              - "null"
          current_new_cases_cnt:
            type:
              - number
              - "null"
          current_passives_detractors:
            type:
              - number
              - "null"
          current_period_cases_cnt:
            type:
              - number
              - "null"
          current_period_nps:
            type:
              - number
              - "null"
          current_promoters:
            type:
              - number
              - "null"
          firm_id:
            type:
              - number
              - "null"
          hspot.annual_contract_value:
            type:
              - number
              - "null"
          hspot.appointments_per_100_cases:
            type:
              - number
              - "null"
          hspot.automations_per_100_cases:
            type:
              - number
              - "null"
          hspot.cancellation_date:
            type:
              - number
              - "null"
          hspot.checklist_items_per_100_cases:
            type:
              - number
              - "null"
          hspot.city:
            type:
              - string
              - "null"
          hspot.contract_start_date:
            type:
              - number
              - "null"
          hspot.contracted_case_threshold:
            type:
              - number
              - "null"
          hspot.current_google_reviews:
            type:
              - number
              - "null"
          hspot.days_from_kickoff_to_fully_implemented__slack_rounded_:
            type:
              - number
              - "null"
          hspot.documents_per_100_cases:
            type:
              - number
              - "null"
          hspot.escalation:
            type:
              - string
              - "null"
          hspot.firm_id:
            type:
              - number
              - "null"
          hspot.firm_success_manager:
            type:
              - string
              - "null"
          hspot.hs_csm_sentiment:
            type:
              - string
              - "null"
          hspot.hubspot_owner_id:
            type:
              - string
              - "null"
          hspot.implementation_manager:
            type:
              - string
              - "null"
          hspot.implementation_stage:
            type:
              - string
              - "null"
          hspot.last_payment:
            type:
              - number
              - "null"
          hspot.messages_per_100_cases:
            type:
              - number
              - "null"
          hspot.notice_of_termination_date:
            type:
              - number
              - "null"
          hspot.of_cases:
            type:
              - number
              - "null"
          hspot.practice_area:
            type:
              - string
              - "null"
          hspot.practice_areas:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          hspot.scorecard__activation:
            type:
              - string
              - "null"
          hspot.scorecard__activation_percentage:
            type:
              - string
              - "null"
          hspot.scorecard__growth:
            type:
              - string
              - "null"
          hspot.scorecard_last_updated:
            type:
              - number
              - "null"
          hspot.sentiment_notes:
            type:
              - string
              - "null"
          hspot.size_category:
            type:
              - string
              - "null"
          hspot.starting_google_reviews:
            type:
              - number
              - "null"
          hspot.state:
            type:
              - string
              - "null"
          hspot.status:
            type:
              - string
              - "null"
          hspot.termination_date:
            type:
              - number
              - "null"
          hspot.treatments_per_100_cases:
            type:
              - number
              - "null"
          last_nps_1:
            type:
              - number
              - "null"
          last_nps_2:
            type:
              - number
              - "null"
          last_nps_3:
            type:
              - number
              - "null"
          logins_change_pct:
            type:
              - number
              - "null"
          message_change_pct:
            type:
              - number
              - "null"
          new_cases_change_pct:
            type:
              - number
              - "null"
          nps_change_pct:
            type:
              - number
              - "null"
          passives_change_pct:
            type:
              - number
              - "null"
          period_cases_change_pct:
            type:
              - number
              - "null"
          period_month:
            type:
              - number
              - "null"
          period_year:
            type:
              - string
              - "null"
          previous_activated_pct:
            type:
              - number
              - "null"
          previous_csat_score:
            type:
              - number
              - "null"
          previous_logins_cnt:
            type:
              - number
              - "null"
          previous_messages_cnt:
            type:
              - number
              - "null"
          previous_new_cases_cnt:
            type:
              - number
              - "null"
          previous_passives_detractors:
            type:
              - number
              - "null"
          previous_period_cases_cnt:
            type:
              - number
              - "null"
          previous_period_nps:
            type:
              - number
              - "null"
          previous_promoters:
            type:
              - number
              - "null"
          promoters_change_pct:
            type:
              - number
              - "null"
          top_avg_csat_1:
            type:
              - number
              - "null"
          top_avg_csat_2:
            type:
              - number
              - "null"
          top_avg_csat_3:
            type:
              - number
              - "null"
          top_staff_1:
            type:
              - string
              - "null"
          top_staff_2:
            type:
              - string
              - "null"
          top_staff_3:
            type:
              - string
              - "null"
          unhappy_client_1:
            type:
              - string
              - "null"
          unhappy_client_2:
            type:
              - string
              - "null"
          unhappy_client_3:
            type:
              - string
              - "null"
          vitally.custom.adoptionChampions:
            type:
              - number
              - "null"
          vitally.custom.executiveSponsors:
            type:
              - number
              - "null"
          vitally.custom.forecast:
            type:
              - string
              - "null"
          vitally.custom.forecastNotes:
            type:
              - string
              - "null"
          vitally.custom.implementationProjectStatus:
            type:
              - string
              - "null"
          vitally.custom.implementationStage:
            type:
              - string
              - "null"
          vitally.custom.lastAccountReviewReminder:
            type:
              - number
              - "null"
          vitally.custom.nextSteps:
            type:
              - string
              - "null"
          vitally.custom.renewalContacts:
            type:
              - number
              - "null"
          vitally.custom.renewalStage:
            type:
              - string
              - "null"
      updatedAt:
        type:
          - string
          - "null"
      usersCount:
        type:
          - number
          - "null"
    required:
      - id
  admins:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      email:
        type:
          - string
          - "null"
      id:
        type: string
      licenseStatus:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
    required:
      - id
  conversations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - string
          - "null"
      id:
        type: string
      source:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      subject:
        type:
          - string
          - "null"
      traits:
        type:
          - object
          - "null"
        properties:
          zendesk.status:
            type:
              - string
              - "null"
          zendesk.tags:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          zendesk.type:
            type:
              - string
              - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  notes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account:
        type:
          - object
          - "null"
        properties:
          accountExecutiveId:
            type:
              - string
              - "null"
          churnedAt:
            type:
              - string
              - "null"
          createdAt:
            type:
              - string
              - "null"
          csmId:
            type:
              - string
              - "null"
          externalId:
            type:
              - string
              - "null"
          healthScore:
            type:
              - number
              - "null"
          id:
            type:
              - string
              - "null"
          lastInboundMessageTimestamp:
            type:
              - string
              - "null"
          lastOutboundMessageTimestamp:
            type:
              - string
              - "null"
          mrr:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          nextRenewalDate:
            type:
              - string
              - "null"
          npsDetractorCount:
            type:
              - number
              - "null"
          npsPassiveCount:
            type:
              - number
              - "null"
          npsPromoterCount:
            type:
              - number
              - "null"
          traits:
            type:
              - object
              - "null"
            properties:
              bottom_avg_csat_1:
                type:
                  - number
                  - "null"
              bottom_avg_csat_2:
                type:
                  - number
                  - "null"
              bottom_avg_csat_3:
                type:
                  - number
                  - "null"
              bottom_staff_1:
                type:
                  - string
                  - "null"
              bottom_staff_2:
                type:
                  - string
                  - "null"
              bottom_staff_3:
                type:
                  - string
                  - "null"
              csat_change_pct:
                type:
                  - number
                  - "null"
              current_activated_pct:
                type:
                  - number
                  - "null"
              current_csat_score:
                type:
                  - number
                  - "null"
              current_logins_cnt:
                type:
                  - number
                  - "null"
              current_messages_cnt:
                type:
                  - number
                  - "null"
              current_new_cases_cnt:
                type:
                  - number
                  - "null"
              current_passives_detractors:
                type:
                  - number
                  - "null"
              current_period_cases_cnt:
                type:
                  - number
                  - "null"
              current_period_nps:
                type:
                  - number
                  - "null"
              current_promoters:
                type:
                  - number
                  - "null"
              firm_id:
                type:
                  - number
                  - "null"
              hspot.annual_contract_value:
                type:
                  - number
                  - "null"
              hspot.appointments_per_100_cases:
                type:
                  - number
                  - "null"
              hspot.automations_per_100_cases:
                type:
                  - number
                  - "null"
              hspot.cancellation_date:
                type:
                  - number
                  - "null"
              hspot.checklist_items_per_100_cases:
                type:
                  - number
                  - "null"
              hspot.city:
                type:
                  - string
                  - "null"
              hspot.contract_start_date:
                type:
                  - number
                  - "null"
              hspot.contracted_case_threshold:
                type:
                  - number
                  - "null"
              hspot.current_google_reviews:
                type:
                  - number
                  - "null"
              hspot.days_from_kickoff_to_fully_implemented__slack_rounded_:
                type:
                  - number
                  - "null"
              hspot.documents_per_100_cases:
                type:
                  - number
                  - "null"
              hspot.escalation:
                type:
                  - string
                  - "null"
              hspot.firm_id:
                type:
                  - number
                  - "null"
              hspot.firm_success_manager:
                type:
                  - string
                  - "null"
              hspot.hs_csm_sentiment:
                type:
                  - string
                  - "null"
              hspot.hubspot_owner_id:
                type:
                  - string
                  - "null"
              hspot.implementation_manager:
                type:
                  - string
                  - "null"
              hspot.implementation_stage:
                type:
                  - string
                  - "null"
              hspot.last_payment:
                type:
                  - number
                  - "null"
              hspot.messages_per_100_cases:
                type:
                  - number
                  - "null"
              hspot.notice_of_termination_date:
                type:
                  - number
                  - "null"
              hspot.of_cases:
                type:
                  - number
                  - "null"
              hspot.practice_area:
                type:
                  - string
                  - "null"
              hspot.practice_areas:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              hspot.scorecard__activation:
                type:
                  - string
                  - "null"
              hspot.scorecard__activation_percentage:
                type:
                  - string
                  - "null"
              hspot.scorecard__growth:
                type:
                  - string
                  - "null"
              hspot.scorecard_last_updated:
                type:
                  - number
                  - "null"
              hspot.sentiment_notes:
                type:
                  - string
                  - "null"
              hspot.size_category:
                type:
                  - string
                  - "null"
              hspot.starting_google_reviews:
                type:
                  - number
                  - "null"
              hspot.state:
                type:
                  - string
                  - "null"
              hspot.status:
                type:
                  - string
                  - "null"
              hspot.termination_date:
                type:
                  - number
                  - "null"
              hspot.treatments_per_100_cases:
                type:
                  - number
                  - "null"
              last_nps_1:
                type:
                  - number
                  - "null"
              last_nps_2:
                type:
                  - number
                  - "null"
              last_nps_3:
                type:
                  - number
                  - "null"
              logins_change_pct:
                type:
                  - number
                  - "null"
              message_change_pct:
                type:
                  - number
                  - "null"
              new_cases_change_pct:
                type:
                  - number
                  - "null"
              nps_change_pct:
                type:
                  - number
                  - "null"
              passives_change_pct:
                type:
                  - number
                  - "null"
              period_cases_change_pct:
                type:
                  - number
                  - "null"
              period_month:
                type:
                  - number
                  - "null"
              period_year:
                type:
                  - string
                  - "null"
              previous_activated_pct:
                type:
                  - number
                  - "null"
              previous_csat_score:
                type:
                  - number
                  - "null"
              previous_logins_cnt:
                type:
                  - number
                  - "null"
              previous_messages_cnt:
                type:
                  - number
                  - "null"
              previous_new_cases_cnt:
                type:
                  - number
                  - "null"
              previous_passives_detractors:
                type:
                  - number
                  - "null"
              previous_period_cases_cnt:
                type:
                  - number
                  - "null"
              previous_period_nps:
                type:
                  - number
                  - "null"
              previous_promoters:
                type:
                  - number
                  - "null"
              promoters_change_pct:
                type:
                  - number
                  - "null"
              top_avg_csat_1:
                type:
                  - number
                  - "null"
              top_avg_csat_2:
                type:
                  - number
                  - "null"
              top_avg_csat_3:
                type:
                  - number
                  - "null"
              top_staff_1:
                type:
                  - string
                  - "null"
              top_staff_2:
                type:
                  - string
                  - "null"
              top_staff_3:
                type:
                  - string
                  - "null"
              unhappy_client_1:
                type:
                  - string
                  - "null"
              unhappy_client_2:
                type:
                  - string
                  - "null"
              unhappy_client_3:
                type:
                  - string
                  - "null"
              vitally.custom.adoptionChampions:
                type:
                  - number
                  - "null"
              vitally.custom.executiveSponsors:
                type:
                  - number
                  - "null"
              vitally.custom.forecast:
                type:
                  - string
                  - "null"
              vitally.custom.forecastNotes:
                type:
                  - string
                  - "null"
              vitally.custom.implementationProjectStatus:
                type:
                  - string
                  - "null"
              vitally.custom.implementationStage:
                type:
                  - string
                  - "null"
              vitally.custom.lastAccountReviewReminder:
                type:
                  - number
                  - "null"
              vitally.custom.nextSteps:
                type:
                  - string
                  - "null"
              vitally.custom.renewalContacts:
                type:
                  - number
                  - "null"
              vitally.custom.renewalStage:
                type:
                  - string
                  - "null"
          updatedAt:
            type:
              - string
              - "null"
          usersCount:
            type:
              - number
              - "null"
      accountId:
        type:
          - string
          - "null"
      author:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          licenseStatus:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      authorId:
        type:
          - string
          - "null"
      category:
        type:
          - object
          - "null"
        properties:
          createdAt:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          updatedAt:
            type:
              - string
              - "null"
      categoryId:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      id:
        type: string
      note:
        type:
          - string
          - "null"
      noteDate:
        type:
          - string
          - "null"
      subject:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      traits:
        type:
          - object
          - "null"
      updatedAt:
        type:
          - string
          - "null"
      users:
        type:
          - array
          - "null"
    required:
      - id
  tasks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      account:
        type:
          - object
          - "null"
        properties:
          accountExecutiveId:
            type:
              - string
              - "null"
          churnedAt:
            type:
              - string
              - "null"
          createdAt:
            type:
              - string
              - "null"
          csmId:
            type:
              - string
              - "null"
          externalId:
            type:
              - string
              - "null"
          healthScore:
            type:
              - number
              - "null"
          id:
            type:
              - string
              - "null"
          lastInboundMessageTimestamp:
            type:
              - string
              - "null"
          lastOutboundMessageTimestamp:
            type:
              - string
              - "null"
          mrr:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          nextRenewalDate:
            type:
              - string
              - "null"
          npsDetractorCount:
            type:
              - number
              - "null"
          npsPassiveCount:
            type:
              - number
              - "null"
          npsPromoterCount:
            type:
              - number
              - "null"
          traits:
            type:
              - object
              - "null"
            properties:
              bottom_avg_csat_1:
                type:
                  - number
                  - "null"
              bottom_avg_csat_2:
                type:
                  - number
                  - "null"
              bottom_avg_csat_3:
                type:
                  - number
                  - "null"
              bottom_staff_1:
                type:
                  - string
                  - "null"
              bottom_staff_2:
                type:
                  - string
                  - "null"
              bottom_staff_3:
                type:
                  - string
                  - "null"
              csat_change_pct:
                type:
                  - number
                  - "null"
              current_activated_pct:
                type:
                  - number
                  - "null"
              current_csat_score:
                type:
                  - number
                  - "null"
              current_logins_cnt:
                type:
                  - number
                  - "null"
              current_messages_cnt:
                type:
                  - number
                  - "null"
              current_new_cases_cnt:
                type:
                  - number
                  - "null"
              current_passives_detractors:
                type:
                  - number
                  - "null"
              current_period_cases_cnt:
                type:
                  - number
                  - "null"
              current_period_nps:
                type:
                  - number
                  - "null"
              current_promoters:
                type:
                  - number
                  - "null"
              firm_id:
                type:
                  - number
                  - "null"
              hspot.annual_contract_value:
                type:
                  - number
                  - "null"
              hspot.appointments_per_100_cases:
                type:
                  - number
                  - "null"
              hspot.automations_per_100_cases:
                type:
                  - number
                  - "null"
              hspot.cancellation_date:
                type:
                  - number
                  - "null"
              hspot.checklist_items_per_100_cases:
                type:
                  - number
                  - "null"
              hspot.city:
                type:
                  - string
                  - "null"
              hspot.contract_start_date:
                type:
                  - number
                  - "null"
              hspot.contracted_case_threshold:
                type:
                  - number
                  - "null"
              hspot.current_google_reviews:
                type:
                  - number
                  - "null"
              hspot.days_from_kickoff_to_fully_implemented__slack_rounded_:
                type:
                  - number
                  - "null"
              hspot.documents_per_100_cases:
                type:
                  - number
                  - "null"
              hspot.escalation:
                type:
                  - string
                  - "null"
              hspot.firm_id:
                type:
                  - number
                  - "null"
              hspot.firm_success_manager:
                type:
                  - string
                  - "null"
              hspot.hs_csm_sentiment:
                type:
                  - string
                  - "null"
              hspot.hubspot_owner_id:
                type:
                  - string
                  - "null"
              hspot.implementation_manager:
                type:
                  - string
                  - "null"
              hspot.implementation_stage:
                type:
                  - string
                  - "null"
              hspot.last_payment:
                type:
                  - number
                  - "null"
              hspot.messages_per_100_cases:
                type:
                  - number
                  - "null"
              hspot.notice_of_termination_date:
                type:
                  - number
                  - "null"
              hspot.of_cases:
                type:
                  - number
                  - "null"
              hspot.practice_area:
                type:
                  - string
                  - "null"
              hspot.practice_areas:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              hspot.scorecard__activation:
                type:
                  - string
                  - "null"
              hspot.scorecard__activation_percentage:
                type:
                  - string
                  - "null"
              hspot.scorecard__growth:
                type:
                  - string
                  - "null"
              hspot.scorecard_last_updated:
                type:
                  - number
                  - "null"
              hspot.sentiment_notes:
                type:
                  - string
                  - "null"
              hspot.size_category:
                type:
                  - string
                  - "null"
              hspot.starting_google_reviews:
                type:
                  - number
                  - "null"
              hspot.state:
                type:
                  - string
                  - "null"
              hspot.status:
                type:
                  - string
                  - "null"
              hspot.termination_date:
                type:
                  - number
                  - "null"
              hspot.treatments_per_100_cases:
                type:
                  - number
                  - "null"
              last_nps_1:
                type:
                  - number
                  - "null"
              last_nps_2:
                type:
                  - number
                  - "null"
              last_nps_3:
                type:
                  - number
                  - "null"
              logins_change_pct:
                type:
                  - number
                  - "null"
              message_change_pct:
                type:
                  - number
                  - "null"
              new_cases_change_pct:
                type:
                  - number
                  - "null"
              nps_change_pct:
                type:
                  - number
                  - "null"
              passives_change_pct:
                type:
                  - number
                  - "null"
              period_cases_change_pct:
                type:
                  - number
                  - "null"
              period_month:
                type:
                  - number
                  - "null"
              period_year:
                type:
                  - string
                  - "null"
              previous_activated_pct:
                type:
                  - number
                  - "null"
              previous_csat_score:
                type:
                  - number
                  - "null"
              previous_logins_cnt:
                type:
                  - number
                  - "null"
              previous_messages_cnt:
                type:
                  - number
                  - "null"
              previous_new_cases_cnt:
                type:
                  - number
                  - "null"
              previous_passives_detractors:
                type:
                  - number
                  - "null"
              previous_period_cases_cnt:
                type:
                  - number
                  - "null"
              previous_period_nps:
                type:
                  - number
                  - "null"
              previous_promoters:
                type:
                  - number
                  - "null"
              promoters_change_pct:
                type:
                  - number
                  - "null"
              top_avg_csat_1:
                type:
                  - number
                  - "null"
              top_avg_csat_2:
                type:
                  - number
                  - "null"
              top_avg_csat_3:
                type:
                  - number
                  - "null"
              top_staff_1:
                type:
                  - string
                  - "null"
              top_staff_2:
                type:
                  - string
                  - "null"
              top_staff_3:
                type:
                  - string
                  - "null"
              unhappy_client_1:
                type:
                  - string
                  - "null"
              unhappy_client_2:
                type:
                  - string
                  - "null"
              unhappy_client_3:
                type:
                  - string
                  - "null"
              vitally.custom.adoptionChampions:
                type:
                  - number
                  - "null"
              vitally.custom.executiveSponsors:
                type:
                  - number
                  - "null"
              vitally.custom.forecast:
                type:
                  - string
                  - "null"
              vitally.custom.forecastNotes:
                type:
                  - string
                  - "null"
              vitally.custom.implementationProjectStatus:
                type:
                  - string
                  - "null"
              vitally.custom.implementationStage:
                type:
                  - string
                  - "null"
              vitally.custom.lastAccountReviewReminder:
                type:
                  - number
                  - "null"
              vitally.custom.nextSteps:
                type:
                  - string
                  - "null"
              vitally.custom.renewalContacts:
                type:
                  - number
                  - "null"
              vitally.custom.renewalStage:
                type:
                  - string
                  - "null"
          updatedAt:
            type:
              - string
              - "null"
          usersCount:
            type:
              - number
              - "null"
      accountId:
        type:
          - string
          - "null"
      assignedTo:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          licenseStatus:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      assignedToId:
        type:
          - string
          - "null"
      completedAt:
        type:
          - string
          - "null"
      completedBy:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          licenseStatus:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      completedById:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      dueDate:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      projects:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            accountId:
              type:
                - string
                - "null"
            actualStartDate:
              type:
                - string
                - "null"
            archivedAt:
              type:
                - string
                - "null"
            createdAt:
              type:
                - string
                - "null"
            durationInDays:
              type:
                - number
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            ownedByVitallyUserId:
              type:
                - string
                - "null"
            projectCategoryId:
              type:
                - string
                - "null"
            projectStatusId:
              type:
                - string
                - "null"
            targetCompletionDate:
              type:
                - string
                - "null"
            traits:
              type:
                - object
                - "null"
            updatedAt:
              type:
                - string
                - "null"
      tags:
        type:
          - array
          - "null"
      traits:
        type:
          - object
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      accounts:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            accountExecutiveId:
              type:
                - string
                - "null"
            churnedAt:
              type:
                - string
                - "null"
            createdAt:
              type:
                - string
                - "null"
            csmId:
              type:
                - string
                - "null"
            externalId:
              type:
                - string
                - "null"
            healthScore:
              type:
                - number
                - "null"
            id:
              type:
                - string
                - "null"
            lastInboundMessageTimestamp:
              type:
                - string
                - "null"
            lastOutboundMessageTimestamp:
              type:
                - string
                - "null"
            mrr:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            nextRenewalDate:
              type:
                - string
                - "null"
            npsDetractorCount:
              type:
                - number
                - "null"
            npsPassiveCount:
              type:
                - number
                - "null"
            npsPromoterCount:
              type:
                - number
                - "null"
            segments:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
            traits:
              type:
                - object
                - "null"
              properties:
                bottom_avg_csat_1:
                  type:
                    - number
                    - "null"
                bottom_avg_csat_2:
                  type:
                    - number
                    - "null"
                bottom_avg_csat_3:
                  type:
                    - number
                    - "null"
                bottom_staff_1:
                  type:
                    - string
                    - "null"
                bottom_staff_2:
                  type:
                    - string
                    - "null"
                bottom_staff_3:
                  type:
                    - string
                    - "null"
                csat_change_pct:
                  type:
                    - number
                    - "null"
                current_activated_pct:
                  type:
                    - number
                    - "null"
                current_csat_score:
                  type:
                    - number
                    - "null"
                current_logins_cnt:
                  type:
                    - number
                    - "null"
                current_messages_cnt:
                  type:
                    - number
                    - "null"
                current_new_cases_cnt:
                  type:
                    - number
                    - "null"
                current_passives_detractors:
                  type:
                    - number
                    - "null"
                current_period_cases_cnt:
                  type:
                    - number
                    - "null"
                current_period_nps:
                  type:
                    - number
                    - "null"
                current_promoters:
                  type:
                    - number
                    - "null"
                firm_id:
                  type:
                    - number
                    - "null"
                hspot.annual_contract_value:
                  type:
                    - number
                    - "null"
                hspot.appointments_per_100_cases:
                  type:
                    - number
                    - "null"
                hspot.automations_per_100_cases:
                  type:
                    - number
                    - "null"
                hspot.cancellation_date:
                  type:
                    - number
                    - "null"
                hspot.checklist_items_per_100_cases:
                  type:
                    - number
                    - "null"
                hspot.city:
                  type:
                    - string
                    - "null"
                hspot.contract_start_date:
                  type:
                    - number
                    - "null"
                hspot.contracted_case_threshold:
                  type:
                    - number
                    - "null"
                hspot.current_google_reviews:
                  type:
                    - number
                    - "null"
                hspot.days_from_kickoff_to_fully_implemented__slack_rounded_:
                  type:
                    - number
                    - "null"
                hspot.documents_per_100_cases:
                  type:
                    - number
                    - "null"
                hspot.escalation:
                  type:
                    - string
                    - "null"
                hspot.firm_id:
                  type:
                    - number
                    - "null"
                hspot.firm_success_manager:
                  type:
                    - string
                    - "null"
                hspot.hs_csm_sentiment:
                  type:
                    - string
                    - "null"
                hspot.hubspot_owner_id:
                  type:
                    - string
                    - "null"
                hspot.implementation_manager:
                  type:
                    - string
                    - "null"
                hspot.implementation_stage:
                  type:
                    - string
                    - "null"
                hspot.last_payment:
                  type:
                    - number
                    - "null"
                hspot.messages_per_100_cases:
                  type:
                    - number
                    - "null"
                hspot.notice_of_termination_date:
                  type:
                    - number
                    - "null"
                hspot.of_cases:
                  type:
                    - number
                    - "null"
                hspot.practice_area:
                  type:
                    - string
                    - "null"
                hspot.practice_areas:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - string
                      - "null"
                hspot.scorecard__activation:
                  type:
                    - string
                    - "null"
                hspot.scorecard__activation_percentage:
                  type:
                    - string
                    - "null"
                hspot.scorecard__growth:
                  type:
                    - string
                    - "null"
                hspot.scorecard_last_updated:
                  type:
                    - number
                    - "null"
                hspot.sentiment_notes:
                  type:
                    - string
                    - "null"
                hspot.size_category:
                  type:
                    - string
                    - "null"
                hspot.starting_google_reviews:
                  type:
                    - number
                    - "null"
                hspot.state:
                  type:
                    - string
                    - "null"
                hspot.status:
                  type:
                    - string
                    - "null"
                hspot.termination_date:
                  type:
                    - number
                    - "null"
                hspot.treatments_per_100_cases:
                  type:
                    - number
                    - "null"
                last_nps_1:
                  type:
                    - number
                    - "null"
                last_nps_2:
                  type:
                    - number
                    - "null"
                last_nps_3:
                  type:
                    - number
                    - "null"
                logins_change_pct:
                  type:
                    - number
                    - "null"
                message_change_pct:
                  type:
                    - number
                    - "null"
                new_cases_change_pct:
                  type:
                    - number
                    - "null"
                nps_change_pct:
                  type:
                    - number
                    - "null"
                passives_change_pct:
                  type:
                    - number
                    - "null"
                period_cases_change_pct:
                  type:
                    - number
                    - "null"
                period_month:
                  type:
                    - number
                    - "null"
                period_year:
                  type:
                    - string
                    - "null"
                previous_activated_pct:
                  type:
                    - number
                    - "null"
                previous_csat_score:
                  type:
                    - number
                    - "null"
                previous_logins_cnt:
                  type:
                    - number
                    - "null"
                previous_messages_cnt:
                  type:
                    - number
                    - "null"
                previous_new_cases_cnt:
                  type:
                    - number
                    - "null"
                previous_passives_detractors:
                  type:
                    - number
                    - "null"
                previous_period_cases_cnt:
                  type:
                    - number
                    - "null"
                previous_period_nps:
                  type:
                    - number
                    - "null"
                previous_promoters:
                  type:
                    - number
                    - "null"
                promoters_change_pct:
                  type:
                    - number
                    - "null"
                top_avg_csat_1:
                  type:
                    - number
                    - "null"
                top_avg_csat_2:
                  type:
                    - number
                    - "null"
                top_avg_csat_3:
                  type:
                    - number
                    - "null"
                top_staff_1:
                  type:
                    - string
                    - "null"
                top_staff_2:
                  type:
                    - string
                    - "null"
                top_staff_3:
                  type:
                    - string
                    - "null"
                unhappy_client_1:
                  type:
                    - string
                    - "null"
                unhappy_client_2:
                  type:
                    - string
                    - "null"
                unhappy_client_3:
                  type:
                    - string
                    - "null"
                vitally.custom.adoptionChampions:
                  type:
                    - number
                    - "null"
                vitally.custom.executiveSponsors:
                  type:
                    - number
                    - "null"
                vitally.custom.forecast:
                  type:
                    - string
                    - "null"
                vitally.custom.forecastNotes:
                  type:
                    - string
                    - "null"
                vitally.custom.implementationProjectStatus:
                  type:
                    - string
                    - "null"
                vitally.custom.implementationStage:
                  type:
                    - string
                    - "null"
                vitally.custom.lastAccountReviewReminder:
                  type:
                    - number
                    - "null"
                vitally.custom.nextSteps:
                  type:
                    - string
                    - "null"
                vitally.custom.renewalContacts:
                  type:
                    - number
                    - "null"
                vitally.custom.renewalStage:
                  type:
                    - string
                    - "null"
            updatedAt:
              type:
                - string
                - "null"
            usersCount:
              type:
                - number
                - "null"
      createdAt:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      externalId:
        type:
          - string
          - "null"
      firstKnown:
        type:
          - string
          - "null"
      id:
        type: string
      joinDate:
        type:
          - string
          - "null"
      lastInboundMessageTimestamp:
        type:
          - string
          - "null"
      lastOutboundMessageTimestamp:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      segments:
        type:
          - array
          - "null"
      traits:
        type:
          - object
          - "null"
        properties:
          hspot.email:
            type:
              - string
              - "null"
          hspot.executive_sponsor_:
            type:
              - string
              - "null"
          hspot.firstname:
            type:
              - string
              - "null"
          hspot.jobtitle:
            type:
              - string
              - "null"
          hspot.lastname:
            type:
              - string
              - "null"
          hspot.phone:
            type:
              - string
              - "null"
          vitally.custom.adoptionChampion:
            type:
              - boolean
              - "null"
          vitally.custom.executiveSponsor:
            type:
              - boolean
              - "null"
          vitally.custom.renewalContact:
            type:
              - boolean
              - "null"
      unsubscribedFromConversations:
        type:
          - boolean
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
