version: 0.79.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - roles

definitions:
  streams:
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /contacts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: PageIncrement
            page_size: 50
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    contact_lists:
      type: DeclarativeStream
      name: contact_lists
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /contact_lists
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: PageIncrement
            page_size: 50
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contact_lists"
    questions:
      type: DeclarativeStream
      name: questions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /questions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: PageIncrement
            page_size: 50
        partition_router:
          - type: ListPartitionRouter
            values: "{{ config.get('survey_id') }}"
            cursor_field: survey_id
            request_option:
              type: RequestOption
              field_name: survey_id
              inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/questions"
    responses:
      type: DeclarativeStream
      name: responses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /responses
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: PageIncrement
            page_size: 50
        partition_router:
          - type: ListPartitionRouter
            values: "{{ config.get('survey_id') }}"
            cursor_field: survey_id
            request_option:
              type: RequestOption
              field_name: survey_id
              inject_into: request_parameter
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/responses"
    roles:
      type: DeclarativeStream
      name: roles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /roles
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: PageIncrement
            page_size: 50
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/roles"
    surveys:
      type: DeclarativeStream
      name: surveys
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /surveys
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: PageIncrement
            page_size: 50
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/surveys"
    survey_folders:
      type: DeclarativeStream
      name: survey_folders
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /survey_folders
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: PageIncrement
            page_size: 50
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/survey_folders"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: PageIncrement
            page_size: 50
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
  base_requester:
    type: HttpRequester
    url_base: "{{ config['region']['url_base'] }}"
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config['access_token'] }}"

streams:
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/contact_lists"
  - $ref: "#/definitions/streams/questions"
  - $ref: "#/definitions/streams/responses"
  - $ref: "#/definitions/streams/roles"
  - $ref: "#/definitions/streams/surveys"
  - $ref: "#/definitions/streams/survey_folders"
  - $ref: "#/definitions/streams/users"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - access_token
    properties:
      access_token:
        type: string
        description: >-
          Your access token. See <a
          href="https://developers.surveysparrow.com/rest-apis#authentication">here</a>.
          The key is case sensitive.
        airbyte_secret: true
        order: 0
      region:
        type: object
        title: Base URL
        description: >-
          Is your account location is EU based? If yes, the base url to retrieve
          data will be different.
        oneOf:
          - type: object
            title: EU-based account
            properties:
              url_base:
                type: string
                const: https://eu-api.surveysparrow.com/v3
          - type: object
            title: Global account
            properties:
              url_base:
                type: string
                const: https://api.surveysparrow.com/v3
        default:
          type: object
          title: Global account
          properties:
            url_base:
              type: string
              const: https://api.surveysparrow.com/v3
        order: 1
      survey_id:
        type: array
        description: A List of your survey ids for survey-specific stream
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    contacts: false
    contact_lists: false
    questions: false
    responses: false
    roles: false
    surveys: false
    survey_folders: false
    users: false

schemas:
  contacts:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - "null"
          - boolean
        description: Indicates whether the contact is currently active or not.
      createddate:
        type:
          - "null"
          - string
        description: The date when the contact was created.
      email:
        type:
          - "null"
          - string
        description: The email address of the contact.
      first_name:
        type:
          - "null"
          - string
        description: The first name of the contact.
      id:
        type:
          - "null"
          - integer
        description: Unique identifier for the contact.
      job_title:
        type:
          - "null"
          - string
        description: The job title of the contact.
      last_name:
        type:
          - "null"
          - string
        description: The last name of the contact.
      mobile:
        type:
          - "null"
          - string
        description: The mobile phone number of the contact.
      name:
        type:
          - "null"
          - string
        description: The full name of the contact.
      unsubscribed:
        type:
          - "null"
          - boolean
        description: Indicates whether the contact has unsubscribed from communications.
  contact_lists:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - "null"
          - string
        description: The date and time when the contact list was created.
        format: date-time
      description:
        type:
          - "null"
          - string
        description: The description or details about the contact list.
      id:
        type:
          - "null"
          - integer
        description: The unique identifier for the contact list.
      name:
        type:
          - "null"
          - string
        description: The name or title of the contact list.
  questions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
        description: Type of question such as multiple choice, text, etc.
      annotations:
        type:
          - "null"
          - array
        description: Additional information or notes related to the question
      choices:
        type:
          - "null"
          - array
        description: Options that can be selected for the question
      created_at:
        type:
          - "null"
          - string
        description: Date and time when the question was created
        format: date-time
      id:
        type:
          - "null"
          - integer
        description: Unique identifier for the question
      is_required:
        type:
          - "null"
          - boolean
        description: Indicates if the question is required to be answered
      multiple_answers:
        type:
          - "null"
          - boolean
        description: Allows multiple answers to the question
      parent_question_id:
        type:
          - "null"
          - integer
        description: ID of the parent question in case of a dependent question
      position:
        type:
          - "null"
          - string
        description: Order in which the question appears in the survey
      properties:
        type:
          - "null"
          - object
        description: Additional properties related to the question
        properties:
          clone:
            type:
              - "null"
              - object
            description: Indicates if the question is a clone of another question
          data:
            type:
              - "null"
              - object
            description: Custom data associated with the question
      rtxt:
        type:
          - "null"
          - string
        description: Text input for the question
      scale_points:
        type:
          - "null"
          - array
        description: Points on a scale used for the question
      section:
        type:
          - "null"
          - object
        description: Section to which the question belongs
      tags:
        type:
          - "null"
          - array
        description: Keywords or tags associated with the question
      updated_at:
        type:
          - "null"
          - string
        description: Date and time when the question was last updated
        format: date-time
  responses:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      answers:
        type:
          - "null"
          - array
        description: Responses provided by the respondent for the survey questions.
      channel:
        type:
          - "null"
          - object
        description: Name of the channel through which the survey was conducted.
      channel_id:
        type:
          - "null"
          - integer
        description: ID of the channel used for conducting the survey.
      completed_time:
        type:
          - "null"
          - string
        description: Timestamp indicating when the respondent completed the survey.
        format: date-time
      contact:
        type:
          - "null"
          - string
        description: Contact information of the respondent who took the survey.
      expressions:
        type:
          - "null"
          - array
        description: >-
          Emotions or sentiments expressed by the respondent while answering the
          survey.
      id:
        type:
          - "null"
          - integer
        description: Unique identifier for the response data.
      language:
        type:
          - "null"
          - string
        description: Language used in the survey responses.
      start_time:
        type:
          - "null"
          - string
        description: Timestamp indicating when the respondent started the survey.
        format: date-time
      state:
        type:
          - "null"
          - string
        description: Current state of the response data (e.g., in progress, completed).
      survey_id:
        type:
          - "null"
          - integer
        description: ID of the survey to which the response data belongs.
      variables:
        type:
          - "null"
          - array
        description: Any additional variables or data associated with the response.
  roles:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      account_id:
        type:
          - "null"
          - integer
        description: The unique identifier for the account to which the role belongs.
      created_at:
        type:
          - "null"
          - string
        description: The date and time when the role was created.
        format: date-time
      deleted_at:
        type:
          - "null"
          - string
        description: The date and time when the role was deleted.
        format: date-time
      description:
        type:
          - "null"
          - string
        description: A brief description of the role and its responsibilities.
      id:
        type:
          - "null"
          - integer
        description: The unique identifier for the role.
      label:
        type:
          - "null"
          - string
        description: The label or name used to identify the role.
      name:
        type:
          - "null"
          - string
        description: The name of the role.
      updated_at:
        type:
          - "null"
          - string
        description: The date and time when the role was last updated.
        format: date-time
  surveys:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      archived:
        type:
          - "null"
          - boolean
        description: Flag indicating if the survey is archived or active.
      created_at:
        type:
          - "null"
          - string
        description: DateTime when the survey was created.
        format: date-time
      id:
        type:
          - "null"
          - integer
        description: The unique identifier for the survey.
      name:
        type:
          - "null"
          - string
        description: Name or title of the survey.
      survey_type:
        type:
          - "null"
          - string
        description: Type of survey such as customer satisfaction, feedback, etc.
  survey_folders:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      auto_created:
        type:
          - "null"
          - boolean
        description: >-
          Indicates if the survey folder was auto-created by the system or
          manually created by a user.
      created_at:
        type:
          - "null"
          - string
        description: >-
          Timestamp indicating the date and time when the survey folder was
          created.
        format: date-time
      description:
        type:
          - "null"
          - string
        description: A text description or summary of the survey folder content.
      id:
        type:
          - "null"
          - integer
        description: Unique identifier for the survey folder.
      name:
        type:
          - "null"
          - string
        description: Name or title of the survey folder.
      visibility:
        type:
          - "null"
          - string
        description: >-
          Defines the visibility settings for the survey folder, such as public,
          private, or shared.
  users:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      admin:
        type:
          - "null"
          - boolean
        description: Indicates if the user is an admin or not.
      agency_owner:
        type:
          - "null"
          - boolean
        description: Indicates if the user is an agency owner.
      created_at:
        type:
          - "null"
          - string
        description: The timestamp when the user account was created.
        format: date-time
      email:
        type:
          - "null"
          - string
        description: The email address of the user.
      id:
        type:
          - "null"
          - integer
        description: The unique identifier of the user.
      name:
        type:
          - "null"
          - string
        description: The name of the user.
      owner:
        type:
          - "null"
          - boolean
        description: Indicates if the user is an owner.
      phone:
        type:
          - "null"
          - string
        description: The phone number of the user.
      role_id:
        type:
          - "null"
          - integer
        description: The role identifier associated with the user.
      verified:
        type:
          - "null"
          - boolean
        description: Indicates if the user account is verified.
