version: 7.0.4

type: DeclarativeSource

description: Search marketing data via Serpstat API

check:
  type: CheckStream
  stream_names:
    - Domain history

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: ApiKeyAuthenticator
        api_token: "{{ config[\"api_key\"] }}"
        inject_into:
          type: RequestOption
          field_name: token
          inject_into: header
      error_handler:
        type: CompositeErrorHandler
        error_handlers:
          - type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: RETRY
                predicate: "{{response.error.code == 32000}}"
                error_message: >-
                  You are sending more requests per second then available for
                  your Serpstat plan
            backoff_strategies:
              - type: ExponentialBackoffStrategy
                factor: 2
      request_headers:
        X-request-sender: Airbyte
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          field_name: X-page
          inject_into: header
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{response['result']['summary_info']['page']+1}}"
          stop_condition: >-
            {{ ('32017' in response.error.code if response.error and
            response.error.code else False) or  
            (response.result.summary_info.page if response.result and
            response.result.summary_info and response.result.summary_info.page
            is not none else 0) > config['pages_to_fetch'] - 1 }}

streams:
  - type: DeclarativeStream
    npt: "{{next_page_token['next_page_token']}}"
    name: Domain history
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          field_name: X-page
          inject_into: header
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{response['result']['summary_info']['page']+1}}"
          stop_condition: >-
            {{ ('32017' in response.error.code if response.error and
            response.error.code else False) or  
            (response.result.summary_info.page if response.result and
            response.result.summary_info and response.result.summary_info.page
            is not none else 0) > config['pages_to_fetch'] - 1 }}
          page_size: null
      requester:
        type: HttpRequester
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
          inject_into:
            type: RequestOption
            field_name: token
            inject_into: header
        http_method: POST
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  predicate: "{{response.error.code == 32000}}"
                  error_message: >-
                    You are sending more requests per second then available for
                    your Serpstat plan
                  error_message_contains: ""
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
              max_retries: null
        request_headers:
          X-request-sender: Airbyte
        url: https://api.serpstat.com/v4/
        request_body:
          type: RequestBodyJsonObject
          value:
            id: "{{ now_utc() }}"
            method: SerpstatDomainProcedure.getDomainsHistory
            params:
              se: "{{config['region_id']}}"
              page: "{{next_page_token['next_page_token']}}"
              size: "{{config['page_size']}}"
              sort:
                date: desc
              domain: "{{config['domain']}}"
              during_all_time: true
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
            - data
    primary_key:
      - date
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          domain:
            type:
              - string
              - "null"
          keywords:
            type:
              - number
              - "null"
          traff:
            type:
              - number
              - "null"
          visible:
            type:
              - number
              - "null"
          visible_static:
            type:
              - number
              - "null"
          new_keywords:
            type:
              - number
              - "null"
          out_keywords:
            type:
              - number
              - "null"
          rised_keywords:
            type:
              - number
              - "null"
          down_keywords:
            type:
              - number
              - "null"
          ad_keywords:
            type:
              - number
              - "null"
          ads:
            type:
              - number
              - "null"
          date:
            type: string
          aio_keywords:
            type:
              - number
              - "null"
          aio_citations:
            type:
              - number
              - "null"
        required:
          - date
        additionalProperties: true
  - type: DeclarativeStream
    name: Domains summary
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
          inject_into:
            type: RequestOption
            field_name: token
            inject_into: header
        http_method: POST
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  predicate: "{{response.error.code == 32000}}"
                  error_message: >-
                    You are sending more requests per second then available for
                    your Serpstat plan
                  error_message_contains: ""
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
              max_retries: null
        request_headers:
          X-request-sender: Airbyte
        url: https://api.serpstat.com/v4/
        request_body:
          type: RequestBodyJsonObject
          value:
            id: "{{ now_utc() }}"
            method: SerpstatDomainProcedure.getDomainsInfo
            params:
              se: "{{config['region_id']}}"
              domains: "{{config['domains']}}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
            - data
    primary_key:
      - domain
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          domain:
            type: string
          visible:
            type:
              - number
              - "null"
          keywords:
            type:
              - number
              - "null"
          traff:
            type:
              - number
              - "null"
          visible_dynamic:
            type:
              - number
              - "null"
          keywords_dynamic:
            type:
              - number
              - "null"
          traff_dynamic:
            type:
              - number
              - "null"
          ads_dynamic:
            type:
              - number
              - "null"
          new_keywords:
            type:
              - number
              - "null"
          out_keywords:
            type:
              - number
              - "null"
          rised_keywords:
            type:
              - number
              - "null"
          down_keywords:
            type:
              - number
              - "null"
          ad_keywords:
            type:
              - number
              - "null"
          ads:
            type:
              - number
              - "null"
          prev_date:
            type:
              - string
              - "null"
          traffic_ai:
            type:
              - number
              - "null"
          aio_keywords:
            type:
              - number
              - "null"
          aio_citations:
            type:
              - number
              - "null"
        required:
          - domain
        additionalProperties: true
  - type: DeclarativeStream
    name: Domain keywords
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          field_name: X-page
          inject_into: header
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{response['result']['summary_info']['page']+1}}"
          stop_condition: >-
            {{ ('32017' in response.error.code if response.error and
            response.error.code else False) or  
            (response.result.summary_info.page if response.result and
            response.result.summary_info and response.result.summary_info.page
            is not none else 0) > config['pages_to_fetch'] - 1 }}
          page_size: null
      requester:
        type: HttpRequester
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
          inject_into:
            type: RequestOption
            field_name: token
            inject_into: header
        http_method: POST
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  predicate: "{{response.error.code == 32000}}"
                  error_message: >-
                    You are sending more requests per second then available for
                    your Serpstat plan
                  error_message_contains: ""
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
              max_retries: null
        request_headers:
          X-request-sender: Airbyte
        url: https://api.serpstat.com/v4/
        request_body:
          type: RequestBodyJsonObject
          value:
            id: "{{ now_utc() }}"
            method: SerpstatDomainProcedure.getDomainKeywords
            params:
              se: "{{config['region_id']}}"
              page: "{{next_page_token['next_page_token']}}"
              size: "{{config['page_size']}}"
              sort:
                "{{config['sort_by']}}": "{{config['sort_value']}}"
              domain: "{{config['domain']}}"
              filters:
                "{{config['filter_by']}}": "{{config['filter_value']}}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
            - data
    primary_key:
      - keyword
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          domain:
            type:
              - string
              - "null"
          keyword:
            type: string
          keyword_length:
            type:
              - number
              - "null"
          url:
            type:
              - string
              - "null"
          position:
            type:
              - number
              - "null"
          types:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          found_results:
            type:
              - number
              - "null"
          cost:
            type:
              - number
              - "null"
          concurrency:
            type:
              - number
              - "null"
          region_queries_count:
            type:
              - number
              - "null"
          region_queries_count_wide:
            type:
              - number
              - "null"
          lang:
            type:
              - string
              - "null"
          geo_names:
            type:
              - array
              - "null"
          difficulty:
            type:
              - number
              - "null"
          dynamic:
            type:
              - number
              - "null"
          traff:
            type:
              - number
              - "null"
        required:
          - keyword
        additionalProperties: true
  - type: DeclarativeStream
    name: Domain keywords by region
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
          inject_into:
            type: RequestOption
            field_name: token
            inject_into: header
        http_method: POST
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  predicate: "{{response.error.code == 32000}}"
                  error_message: >-
                    You are sending more requests per second then available for
                    your Serpstat plan
                  error_message_contains: ""
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
              max_retries: null
        request_headers:
          X-request-sender: Airbyte
        url: https://api.serpstat.com/v4/
        request_body:
          type: RequestBodyJsonObject
          value:
            id: "{{ now_utc() }}"
            method: SerpstatDomainProcedure.getRegionsCount
            params:
              sort: "{{config['sort_by']}}"
              order: "{{config['sort_value']}}"
              domain: "{{config['domain']}}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
            - data
    primary_key:
      - db_name
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          country_name_en:
            type:
              - string
              - "null"
          db_name:
            type: string
          domain:
            type:
              - string
              - "null"
          keywords_count:
            type:
              - number
              - "null"
        required:
          - db_name
        additionalProperties: true
  - type: DeclarativeStream
    name: Domain competitors
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
          inject_into:
            type: RequestOption
            field_name: token
            inject_into: header
        http_method: POST
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  predicate: "{{response.error.code == 32000}}"
                  error_message: >-
                    You are sending more requests per second then available for
                    your Serpstat plan
                  error_message_contains: ""
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
              max_retries: null
        request_headers:
          X-request-sender: Airbyte
        url: https://api.serpstat.com/v4/
        request_body:
          type: RequestBodyJsonObject
          value:
            id: "{{ now_utc() }}"
            method: SerpstatDomainProcedure.getCompetitors
            params:
              se: "{{config['region_id']}}"
              size: "{{config['page_size']}}"
              sort:
                "{{config['sort_by']}}": "{{config['sort_value']}}"
              domain: "{{config['domain']}}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
            - data
    primary_key:
      - domain
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          domain:
            type: string
          visible:
            type:
              - number
              - "null"
          keywords:
            type:
              - number
              - "null"
          traff:
            type:
              - number
              - "null"
          new_keywords:
            type:
              - number
              - "null"
          out_keywords:
            type:
              - number
              - "null"
          rised_keywords:
            type:
              - number
              - "null"
          down_keywords:
            type:
              - number
              - "null"
          ad_keywords:
            type:
              - number
              - "null"
          ads:
            type:
              - number
              - "null"
          intersected:
            type:
              - number
              - "null"
          common:
            type:
              - number
              - "null"
          visible_dynamic:
            type:
              - number
              - "null"
          keywords_dynamic:
            type:
              - number
              - "null"
          traff_dynamic:
            type:
              - number
              - "null"
          ads_dynamic:
            type:
              - number
              - "null"
          relevance:
            type:
              - number
              - "null"
          new_relevance:
            type:
              - number
              - "null"
          our_relevance:
            type:
              - number
              - "null"
          missing:
            type:
              - number
              - "null"
        required:
          - domain
        additionalProperties: true
  - type: DeclarativeStream
    name: Domain top pages
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          field_name: X-page
          inject_into: header
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{response.result.summary_info.page}}"
          stop_condition: >-
            {{response.error.code==32017 or response.result.summary_info.page >
            config['pages_to_fetch'] - 1}}
          page_size: null
      requester:
        type: HttpRequester
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
          inject_into:
            type: RequestOption
            field_name: token
            inject_into: header
        http_method: POST
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  predicate: "{{response.error.code == 32000}}"
                  error_message: >-
                    You are sending more requests per second then available for
                    your Serpstat plan
                  error_message_contains: ""
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
              max_retries: null
        request_headers:
          X-request-sender: Airbyte
        url: https://api.serpstat.com/v4/
        request_body:
          type: RequestBodyJsonObject
          value:
            id: "{{ now_utc() }}"
            method: SerpstatDomainProcedure.getTopUrls
            params:
              se: "{{config['region_id']}}"
              page: "{{(next_page_token['next_page_token'] or 0) + 1}}"
              size: "{{config['page_size']}}"
              sort:
                "{{config['sort_by']}}": "{{config['sort_value']}}"
              domain: "{{config['domain']}}"
              filters:
                "{{config['filter_by']}}": "{{config['filter_value']}}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
            - data
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          url:
            type:
              - string
              - "null"
          organic_keywords:
            type:
              - number
              - "null"
          facebook_shares:
            type:
              - number
              - "null"
          potencial_traff:
            type:
              - number
              - "null"
        additionalProperties: true

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      domain:
        type: string
        description: The domain name to get data for (ex. serpstat.com)
        order: 1
        title: Domain
        default: serpstat.com
      api_key:
        type: string
        description: >-
          Serpstat API key can be found here:
          https://serpstat.com/users/profile/
        order: 0
        title: API Key
        airbyte_secret: true
      domains:
        type: array
        description: >-
          The list of domains that will be used in streams that support batch
          operations. You can set a single domain here.
        order: 3
        title: Domains
      sort_by:
        type: string
        description: >-
          The field name by which the results should be sorted. Each stream has
          different sorting options. See https://serpstat.com/api/ for more
          details.
        order: 6
        title: Sort by
      filter_by:
        type: string
        description: >-
          The field name by which the results should be filtered. Filtering the
          results will result in fewer API credits spent. Each stream has
          different filtering options. See https://serpstat.com/api/ for more
          details.
        order: 4
        title: Filter by
      page_size:
        type: integer
        description: >-
          The number of data rows per page to be returned. Each data row can
          contain multiple data points. The max value is 1000. Reducing the size
          of the page will result in fewer API credits spent.
        order: 2
        title: Page size
        default: "10"
      region_id:
        type: string
        description: >-
          The ID of a region to get data from in the form of a two-letter
          country code prepended with the g_ prefix. See the list of supported
          region IDs here: https://serpstat.com/api/664-request-parameters-v4/.
        order: 9
        title: Region ID
        default: g_us
      sort_value:
        type: string
        description: >-
          The value of the field to sort by. Each stream has different sorting
          options. See https://serpstat.com/api/ for more details.
        order: 7
        title: Sort value
      filter_value:
        type: string
        description: >-
          The value of the field to filter by. Each stream has different
          filtering options. See https://serpstat.com/api/ for more details.
        order: 5
        title: Filter value
      pages_to_fetch:
        type: integer
        description: >-
          The number of pages that should be fetched. All results will be
          obtained if left blank. Reducing the number of pages will result in
          fewer API credits spent.
        order: 8
        title: Pages to fetch
        default: "1"
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    Domain history:
      hasRecords: true
      streamHash: 23151f0ded2fa115e0d805a481e6bc1d315f8e86
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
      isStale: false
    Domain keywords:
      hasRecords: true
      streamHash: bf9dc6bf8ed9b7ba282454437f5d950d5daed616
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
      isStale: false
    Domains summary:
      streamHash: 04ec83037ca714f5576cb23a0c074ee0763f92ba
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Domain top pages:
      streamHash: 4ea5d09c0bdcecd4a629fbee32589a3536cfc918
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Domain competitors:
      streamHash: 81f214a913f1c98aeb572a99f62baa812388d050
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Domain keywords by region:
      streamHash: 2bea0d58826b0d50aa263948e9fba71c2066fdfc
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  autoImportSchema:
    Domain history: true
    Domain keywords: true
    Domains summary: true
    Domain top pages: true
    Domain competitors: true
    Domain keywords by region: true
  applied_migrations:
    - from_version: 6.13.0
      to_version: "*"
      migration: HttpRequesterUrlBaseToUrl
      migrated_at: "2026-07-07T08:04:02.028628+00:00"
    - from_version: 6.13.0
      to_version: "*"
      migration: HttpRequesterPathToUrl
      migrated_at: "2026-07-07T08:04:02.029182+00:00"
    - from_version: 6.13.0
      to_version: "*"
      migration: HttpRequesterRequestBodyJsonDataToRequestBody
      migrated_at: "2026-07-07T08:04:02.029752+00:00"

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 1
