version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - Domains summary
definitions:
  streams:
    Domain history:
      type: DeclarativeStream
      name: Domain history
      primary_key:
        - date
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.serpstat.com/v4/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              field_name: token
              inject_into: header
          path: /
          http_method: POST
          request_headers:
            X-request-sender: Airbyte
          request_body_json:
            id: "{{ now_utc() }}"
            method: SerpstatDomainProcedure.getDomainsHistory
            params:
              se: "{{config['region_id']}}"
              page: "{{(next_page_token['next_page_token'] or 0) + 1}}"
              size: "{{config['page_size']}}"
              sort:
                date: desc
              domain: "{{config['domain']}}"
              during_all_time: true
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    predicate: "{{response.error.code == 32000}}"
                    error_message: >-
                      You are sending more requests per second then available
                      for your Serpstat plan
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: header
            field_name: X-page
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{response.result.summary_info.page}}"
            stop_condition: >-
              {{response.result.summary_info.page > config['pages_to_fetch'] -
              1}}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          properties:
            ad_keywords:
              type: number
            ads:
              type: number
            date:
              type: string
            domain:
              type: string
            down_keywords:
              type: number
            keywords:
              type: number
            new_keywords:
              type: number
            out_keywords:
              type: number
            rised_keywords:
              type: number
            traff:
              type: number
            visible:
              type: number
            visible_static:
              type: number
          additionalProperties: true
    Domains summary:
      type: DeclarativeStream
      name: Domains summary
      primary_key:
        - domain
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.serpstat.com/v4/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              field_name: token
              inject_into: header
          path: /
          http_method: POST
          request_headers:
            X-request-sender: Airbyte
          request_body_json:
            id: "{{ now_utc() }}"
            method: SerpstatDomainProcedure.getDomainsInfo
            params:
              se: "{{config['region_id']}}"
              domains: "{{config['domains']}}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: FAIL
                    predicate: "{{ 'Invalid token' in response.error.message }}"
                    error_message: Invalid Token
                  - type: HttpResponseFilter
                    action: RETRY
                    predicate: "{{ 'Too Many Requests' in response.error.message }}"
                    error_message: >-
                      You are sending more requests per second then available
                      for your Serpstat plan
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          properties:
            ad_keywords:
              type: number
            ads:
              type: number
            ads_dynamic:
              type: number
            domain:
              type: string
            down_keywords:
              type: number
            keywords:
              type: number
            keywords_dynamic:
              type: number
            new_keywords:
              type: number
            out_keywords:
              type: number
            prev_date:
              type: string
            rised_keywords:
              type: number
            traff:
              type: number
            traff_dynamic:
              type: number
            visible:
              type: number
            visible_dynamic:
              type: number
          additionalProperties: true
    Domain keywords:
      type: DeclarativeStream
      name: Domain keywords
      primary_key:
        - keyword
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.serpstat.com/v4/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              field_name: token
              inject_into: header
          path: /
          http_method: POST
          request_headers:
            X-request-sender: Airbyte
          request_body_json:
            id: "{{ now_utc() }}"
            method: SerpstatDomainProcedure.getDomainKeywords
            params:
              se: "{{config['region_id']}}"
              page: "{{(next_page_token['next_page_token'] or 0) + 1}}"
              size: "{{config['page_size']}}"
              sort:
                "{{config['sort_by']}}": "{{config['sort_value']}}"
              domain: "{{config['domain']}}"
              filters:
                "{{config['filter_by']}}": "{{config['filter_value']}}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    predicate: "{{response.error.code == 32000}}"
                    error_message: >-
                      You are sending more requests per second then available
                      for your Serpstat plan
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: header
            field_name: X-page
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{response.result.summary_info.page}}"
            stop_condition: >-
              {{response.result.summary_info.page > config['pages_to_fetch'] -
              1}}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          properties:
            concurrency:
              type: number
            cost:
              type: number
            difficulty:
              type: number
            domain:
              type: string
            dynamic:
              type:
                - "null"
                - number
            found_results:
              type: number
            geo_names:
              type: array
            keyword:
              type: string
            keyword_length:
              type: number
            position:
              type: number
            region_queries_count:
              type: number
            region_queries_count_wide:
              type: number
            subdomain:
              type:
                - "null"
                - string
            traff:
              type: number
            types:
              type: array
              items:
                type: string
            url:
              type: string
          additionalProperties: true
    Domain keywords by region:
      type: DeclarativeStream
      name: Domain keywords by region
      primary_key:
        - db_name
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.serpstat.com/v4/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              field_name: token
              inject_into: header
          path: /
          http_method: POST
          request_headers:
            X-request-sender: Airbyte
          request_body_json:
            id: "{{ now_utc() }}"
            method: SerpstatDomainProcedure.getRegionsCount
            params:
              sort: "{{config['sort_by']}}"
              order: "{{config['sort_value']}}"
              domain: "{{config['domain']}}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    predicate: "{{response.error.code == 32000}}"
                    error_message: >-
                      You are sending more requests per second then available
                      for your Serpstat plan
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          properties:
            country_name_en:
              type: string
            db_name:
              type: string
            domain:
              type: string
            keywords_count:
              type: number
          additionalProperties: true
    Domain competitors:
      type: DeclarativeStream
      name: Domain competitors
      primary_key:
        - domain
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.serpstat.com/v4/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              field_name: token
              inject_into: header
          path: /
          http_method: POST
          request_headers:
            X-request-sender: Airbyte
          request_body_json:
            id: "{{ now_utc() }}"
            method: SerpstatDomainProcedure.getCompetitors
            params:
              se: "{{config['region_id']}}"
              size: "{{config['page_size']}}"
              sort:
                "{{config['sort_by']}}": "{{config['sort_value']}}"
              domain: "{{config['domain']}}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    predicate: "{{response.error.code == 32000}}"
                    error_message: >-
                      You are sending more requests per second then available
                      for your Serpstat plan
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          properties:
            ad_keywords:
              type: number
            ads:
              type: number
            ads_dynamic:
              type: number
            common:
              type: number
            domain:
              type: string
            down_keywords:
              type: number
            intersected:
              type: number
            keywords:
              type: number
            keywords_dynamic:
              type: number
            missing:
              type: number
            new_keywords:
              type: number
            new_relevance:
              type: number
            not_intersected:
              type: number
            our_relevance:
              type: number
            out_keywords:
              type: number
            relevance:
              type: number
            rised_keywords:
              type: number
            traff:
              type: number
            traff_dynamic:
              type: number
            visible:
              type: number
            visible_dynamic:
              type: number
          additionalProperties: true
    Domain top pages:
      type: DeclarativeStream
      name: Domain top pages
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.serpstat.com/v4/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['api_key'] }}"
            inject_into:
              type: RequestOption
              field_name: token
              inject_into: header
          path: /
          http_method: POST
          request_headers:
            X-request-sender: Airbyte
          request_body_json:
            id: "{{ now_utc() }}"
            method: SerpstatDomainProcedure.getTopUrls
            params:
              se: "{{config['region_id']}}"
              page: "{{(next_page_token['next_page_token'] or 0) + 1}}"
              size: "{{config['page_size']}}"
              sort:
                "{{config['sort_by']}}": "{{config['sort_value']}}"
              domain: "{{config['domain']}}"
              filters:
                "{{config['filter_by']}}": "{{config['filter_value']}}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    predicate: "{{response.error.code == 32000}}"
                    error_message: >-
                      You are sending more requests per second then available
                      for your Serpstat plan
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: header
            field_name: X-page
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{response.result.summary_info.page}}"
            stop_condition: >-
              {{response.result.summary_info.page > config['pages_to_fetch'] -
              1}}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: http://json-schema.org/schema#
          properties:
            facebook_shares:
              type: number
            organic_keywords:
              type: number
            potencial_traff:
              type: number
            url:
              type: string
          additionalProperties: true
  base_requester:
    type: HttpRequester
    url_base: https://api.serpstat.com/v4/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['api_key'] }}"
      inject_into:
        type: RequestOption
        field_name: token
        inject_into: header
streams:
  - type: DeclarativeStream
    name: Domain history
    primary_key:
      - date
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.serpstat.com/v4/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: token
            inject_into: header
        path: /
        http_method: POST
        request_headers:
          X-request-sender: Airbyte
        request_body_json:
          id: "{{ now_utc() }}"
          method: SerpstatDomainProcedure.getDomainsHistory
          params:
            se: "{{config['region_id']}}"
            page: "{{(next_page_token['next_page_token'] or 0) + 1}}"
            size: "{{config['page_size']}}"
            sort:
              date: desc
            domain: "{{config['domain']}}"
            during_all_time: true
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  predicate: "{{response.error.code == 32000}}"
                  error_message: >-
                    You are sending more requests per second then available
                    for your Serpstat plan
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: header
          field_name: X-page
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{response.result.summary_info.page}}"
          stop_condition: >-
            {{response.result.summary_info.page > config['pages_to_fetch'] -
            1}}
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          ad_keywords:
            type: number
          ads:
            type: number
          date:
            type: string
          domain:
            type: string
          down_keywords:
            type: number
          keywords:
            type: number
          new_keywords:
            type: number
          out_keywords:
            type: number
          rised_keywords:
            type: number
          traff:
            type: number
          visible:
            type: number
          visible_static:
            type: number
        additionalProperties: true
  - type: DeclarativeStream
    name: Domains summary
    primary_key:
      - domain
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.serpstat.com/v4/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: token
            inject_into: header
        path: /
        http_method: POST
        request_headers:
          X-request-sender: Airbyte
        request_body_json:
          id: "{{ now_utc() }}"
          method: SerpstatDomainProcedure.getDomainsInfo
          params:
            se: "{{config['region_id']}}"
            domains: "{{config['domains']}}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: FAIL
                  predicate: "{{ 'Invalid token' in response.error.message }}"
                  error_message: Invalid Token
                - type: HttpResponseFilter
                  action: RETRY
                  predicate: "{{ 'Too Many Requests' in response.error.message }}"
                  error_message: >-
                    You are sending more requests per second then available
                    for your Serpstat plan
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
            - data
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          ad_keywords:
            type: number
          ads:
            type: number
          ads_dynamic:
            type: number
          domain:
            type: string
          down_keywords:
            type: number
          keywords:
            type: number
          keywords_dynamic:
            type: number
          new_keywords:
            type: number
          out_keywords:
            type: number
          prev_date:
            type: string
          rised_keywords:
            type: number
          traff:
            type: number
          traff_dynamic:
            type: number
          visible:
            type: number
          visible_dynamic:
            type: number
        additionalProperties: true
  - type: DeclarativeStream
    name: Domain keywords
    primary_key:
      - keyword
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.serpstat.com/v4/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: token
            inject_into: header
        path: /
        http_method: POST
        request_headers:
          X-request-sender: Airbyte
        request_body_json:
          id: "{{ now_utc() }}"
          method: SerpstatDomainProcedure.getDomainKeywords
          params:
            se: "{{config['region_id']}}"
            page: "{{(next_page_token['next_page_token'] or 0) + 1}}"
            size: "{{config['page_size']}}"
            sort:
              "{{config['sort_by']}}": "{{config['sort_value']}}"
            domain: "{{config['domain']}}"
            filters:
              "{{config['filter_by']}}": "{{config['filter_value']}}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  predicate: "{{response.error.code == 32000}}"
                  error_message: >-
                    You are sending more requests per second then available
                    for your Serpstat plan
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: header
          field_name: X-page
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{response.result.summary_info.page}}"
          stop_condition: >-
            {{response.result.summary_info.page > config['pages_to_fetch'] -
            1}}
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          concurrency:
            type: number
          cost:
            type: number
          difficulty:
            type: number
          domain:
            type: string
          dynamic:
            type:
              - "null"
              - number
          found_results:
            type: number
          geo_names:
            type: array
          keyword:
            type: string
          keyword_length:
            type: number
          position:
            type: number
          region_queries_count:
            type: number
          region_queries_count_wide:
            type: number
          subdomain:
            type:
              - "null"
              - string
          traff:
            type: number
          types:
            type: array
            items:
              type: string
          url:
            type: string
        additionalProperties: true
  - type: DeclarativeStream
    name: Domain keywords by region
    primary_key:
      - db_name
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.serpstat.com/v4/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: token
            inject_into: header
        path: /
        http_method: POST
        request_headers:
          X-request-sender: Airbyte
        request_body_json:
          id: "{{ now_utc() }}"
          method: SerpstatDomainProcedure.getRegionsCount
          params:
            sort: "{{config['sort_by']}}"
            order: "{{config['sort_value']}}"
            domain: "{{config['domain']}}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  predicate: "{{response.error.code == 32000}}"
                  error_message: >-
                    You are sending more requests per second then available
                    for your Serpstat plan
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
            - data
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          country_name_en:
            type: string
          db_name:
            type: string
          domain:
            type: string
          keywords_count:
            type: number
        additionalProperties: true
  - type: DeclarativeStream
    name: Domain competitors
    primary_key:
      - domain
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.serpstat.com/v4/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: token
            inject_into: header
        path: /
        http_method: POST
        request_headers:
          X-request-sender: Airbyte
        request_body_json:
          id: "{{ now_utc() }}"
          method: SerpstatDomainProcedure.getCompetitors
          params:
            se: "{{config['region_id']}}"
            size: "{{config['page_size']}}"
            sort:
              "{{config['sort_by']}}": "{{config['sort_value']}}"
            domain: "{{config['domain']}}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  predicate: "{{response.error.code == 32000}}"
                  error_message: >-
                    You are sending more requests per second then available
                    for your Serpstat plan
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
            - data
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          ad_keywords:
            type: number
          ads:
            type: number
          ads_dynamic:
            type: number
          common:
            type: number
          domain:
            type: string
          down_keywords:
            type: number
          intersected:
            type: number
          keywords:
            type: number
          keywords_dynamic:
            type: number
          missing:
            type: number
          new_keywords:
            type: number
          new_relevance:
            type: number
          not_intersected:
            type: number
          our_relevance:
            type: number
          out_keywords:
            type: number
          relevance:
            type: number
          rised_keywords:
            type: number
          traff:
            type: number
          traff_dynamic:
            type: number
          visible:
            type: number
          visible_dynamic:
            type: number
        additionalProperties: true
  - type: DeclarativeStream
    name: Domain top pages
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.serpstat.com/v4/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: token
            inject_into: header
        path: /
        http_method: POST
        request_headers:
          X-request-sender: Airbyte
        request_body_json:
          id: "{{ now_utc() }}"
          method: SerpstatDomainProcedure.getTopUrls
          params:
            se: "{{config['region_id']}}"
            page: "{{(next_page_token['next_page_token'] or 0) + 1}}"
            size: "{{config['page_size']}}"
            sort:
              "{{config['sort_by']}}": "{{config['sort_value']}}"
            domain: "{{config['domain']}}"
            filters:
              "{{config['filter_by']}}": "{{config['filter_value']}}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  predicate: "{{response.error.code == 32000}}"
                  error_message: >-
                    You are sending more requests per second then available
                    for your Serpstat plan
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
            - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: header
          field_name: X-page
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{response.result.summary_info.page}}"
          stop_condition: >-
            {{response.result.summary_info.page > config['pages_to_fetch'] -
            1}}
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          facebook_shares:
            type: number
          organic_keywords:
            type: number
          potencial_traff:
            type: number
          url:
            type: string
        additionalProperties: true
spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
        description: >-
          Serpstat API key can be found here:
          https://serpstat.com/users/profile/
      domain:
        type: string
        order: 1
        title: Domain
        default: serpstat.com
        description: The domain name to get data for (ex. serpstat.com)
      page_size:
        type: integer
        order: 2
        title: Page size
        default: 10
        description: >-
          The number of data rows per page to be returned. Each data row can
          contain multiple data points. The max value is 1000. Reducing the size
          of the page will result in fewer API credits spent.
      domains:
        type: array
        order: 3
        title: Domains
        description: >-
          The list of domains that will be used in streams that support batch
          operations
      filter_by:
        type: string
        order: 4
        title: Filter by
        description: >-
          The field name by which the results should be filtered. Filtering the
          results will result in fewer API credits spent. Each stream has
          different filtering options. See https://serpstat.com/api/ for more
          details.
      filter_value:
        type: string
        order: 5
        title: Filter value
        description: >-
          The value of the field to filter by. Each stream has different
          filtering options. See https://serpstat.com/api/ for more details.
      sort_by:
        type: string
        order: 6
        title: Sort by
        description: >-
          The field name by which the results should be sorted. Each stream has
          different sorting options. See https://serpstat.com/api/ for more
          details.
      sort_value:
        type: string
        order: 7
        title: Sort value
        description: >-
          The value of the field to sort by. Each stream has different sorting
          options. See https://serpstat.com/api/ for more details.
      pages_to_fetch:
        type: integer
        order: 8
        title: Pages to fetch
        default: 1
        description: >-
          The number of pages that should be fetched. All results will be
          obtained if left blank. Reducing the number of pages will result in
          fewer API credits spent.
      region_id:
        type: string
        order: 9
        title: Region ID
        default: g_us
        description: >-
          The ID of a region to get data from in the form of a two-letter
          country code prepended with the g_ prefix. See the list of supported
          region IDs here: https://serpstat.com/api/664-request-parameters-v4/.
    additionalProperties: true
metadata:
  autoImportSchema:
    Domain history: true
    Domains summary: true
    Domain keywords: true
    Domain keywords by region: true
    Domain competitors: true
    Domain top pages: true
  yamlComponents:
    streams:
      Domains summary:
        - errorHandler
schemas:
  Domain history:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      ad_keywords:
        type: number
      ads:
        type: number
      date:
        type: string
      domain:
        type: string
      down_keywords:
        type: number
      keywords:
        type: number
      new_keywords:
        type: number
      out_keywords:
        type: number
      rised_keywords:
        type: number
      traff:
        type: number
      visible:
        type: number
      visible_static:
        type: number
    additionalProperties: true
  Domains summary:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      ad_keywords:
        type: number
      ads:
        type: number
      ads_dynamic:
        type: number
      domain:
        type: string
      down_keywords:
        type: number
      keywords:
        type: number
      keywords_dynamic:
        type: number
      new_keywords:
        type: number
      out_keywords:
        type: number
      prev_date:
        type: string
      rised_keywords:
        type: number
      traff:
        type: number
      traff_dynamic:
        type: number
      visible:
        type: number
      visible_dynamic:
        type: number
    additionalProperties: true
  Domain keywords:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      concurrency:
        type: number
      cost:
        type: number
      difficulty:
        type: number
      domain:
        type: string
      dynamic:
        type:
          - "null"
          - number
      found_results:
        type: number
      geo_names:
        type: array
      keyword:
        type: string
      keyword_length:
        type: number
      position:
        type: number
      region_queries_count:
        type: number
      region_queries_count_wide:
        type: number
      subdomain:
        type:
          - "null"
          - string
      traff:
        type: number
      types:
        type: array
        items:
          type: string
      url:
        type: string
    additionalProperties: true
  Domain keywords by region:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      country_name_en:
        type: string
      db_name:
        type: string
      domain:
        type: string
      keywords_count:
        type: number
    additionalProperties: true
  Domain competitors:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      ad_keywords:
        type: number
      ads:
        type: number
      ads_dynamic:
        type: number
      common:
        type: number
      domain:
        type: string
      down_keywords:
        type: number
      intersected:
        type: number
      keywords:
        type: number
      keywords_dynamic:
        type: number
      missing:
        type: number
      new_keywords:
        type: number
      new_relevance:
        type: number
      not_intersected:
        type: number
      our_relevance:
        type: number
      out_keywords:
        type: number
      relevance:
        type: number
      rised_keywords:
        type: number
      traff:
        type: number
      traff_dynamic:
        type: number
      visible:
        type: number
      visible_dynamic:
        type: number
    additionalProperties: true
  Domain top pages:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      facebook_shares:
        type: number
      organic_keywords:
        type: number
      potencial_traff:
        type: number
      url:
        type: string
    additionalProperties: true
