# Connection Configuration
resource_name: {{ resource_name }}
definition_type: connection
source_id: {{ source_id }}
destination_id: {{ destination_id }}

namespace_definition: source                  # Default: source Allowed: source┃destination┃customformat
namespace_format: ${SOURCE_NAMESPACE}         # Used when namespaceDefinition is 'customformat'. If blank then behaves like namespaceDefinition = 'destination'. If "${SOURCE_NAMESPACE}" then behaves like namespaceDefinition = 'source'.
prefix: ""                                    # Prefix that will be prepended to the name of each stream when it is written to the destination.
operation_ids:
- 6c9e2330-4af3-47a9-b252-12fcfefcab55
resource_requirements:                        # optional resource requirements to run workers (blank for unbounded allocations)
  cpu_limit: ""                               
  cpu_request: ""
  memory_limit: ""
  memory_request: ""
schedule:
  time_unit: 24                               # Integer
  units: hours                                # Allowed: minutes┃hours┃days┃weeks┃months
status: active

sync_catalog:
  streams:
  {%- for stream in streams %}
  -  stream:
      name: {{ stream.stream.name }}
      namespace: {{ stream.stream.namespace }}
      json_schema: {}
      default_cursor_field:
      - {{ stream.stream.cursorField }}
      source_defined_cursor: {{ stream.stream.sourceDefinedCursor }}
      source_defined_primary_key:
      - - {{ stream.stream.primaryKey }} 
      supported_sync_modes:
      - {{ stream.stream.supportedSyncModes }}
    config:
      alias_name: {{ stream.config.aliasName }}
      cursor_field:
      - {{ stream.config.cursorField }}
      destination_sync_mode: {{ stream.config.destinationSyncMode }}
      primary_key:
      - - {{ stream.config.primaryKey }}
      selected: {{ stream.config.selected }}
      sync_mode: {{ stream.config.syncMode }}
  {% endfor %}
