# Configuration for connection {{ connection_name }}
definition_type: connection

# EDIT THE CONFIGURATION BELOW!
configuration:
  source_id: {{ source_id }} # REQUIRED | string
  destination_id: {{ destination_id }} # REQUIRED | string
  status: active # REQUIRED | string | Allowed values: active, inactive, deprecated
  name: {{ connection_name }} # OPTIONAL | string | Optional name of the connection
  namespace_definition: source # OPTIONAL | string | Allowed values: source, destination, customformat
  namespace_format: "${SOURCE_NAMESPACE}" # OPTIONAL | string | Used when namespaceDefinition is 'customformat'. If blank then behaves like namespaceDefinition = 'destination'. If "${SOURCE_NAMESPACE}" then behaves like namespaceDefinition = 'source'.
  prefix: "" # REQUIRED | Prefix that will be prepended to the name of each stream when it is written to the destination
  operation_ids: # OPTIONAL | array
    - 6c9e2330-4af3-47a9-b252-12fcfefcab55 # Normalization operation id
  resource_requirements: # OPTIONAL | object | Resource requirements to run workers (blank for unbounded allocations)
    cpu_limit: "" # OPTIONAL
    cpu_request: "" # OPTIONAL
    memory_limit: "" # OPTIONAL
    memory_request: "" # OPTIONAL
  schedule: # OPTIONAL | object
    time_unit: 24 # REQUIRED | integer
    units: hours # REQUIRES | string | Allowed values: minutes┃hours┃days┃weeks┃months
  sync_catalog: # OPTIONAL | object
    {{ catalog | indent(4)}}
