version: 6.48.15

type: DeclarativeSource

description: >-
  Get ad analytics from all Mercado Ads placements. Follow [this
  guide](https://developers.mercadolibre.com.ar/en_us/authentication-and-authorization)
  to get the OAuth credentials. Make sure to give the ["Publicidad de un
  producto"](https://developers.mercadolibre.com.ar/es_ar/permisos-funcionales?nocache=true&password=permisos#Publicidad)
  read permission to fetch ad data.

check:
  type: CheckStream
  stream_names:
    - display_advertisers

definitions:
  streams:
    brand_items:
      type: DeclarativeStream
      name: brand_items
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /advertising/advertisers/{{
            stream_partition.advertiser_campaign_id.split("-")[0]
            }}/brand_ads/campaigns/{{
            stream_partition.advertiser_campaign_id.split("-")[1] }}/items
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Advertiser has no access to campaign items
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/brand_campaigns"
              parent_key: advertiser_campaign_id
              partition_field: advertiser_campaign_id
      primary_key:
        - advertiser_id
        - campaign_id
        - item_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/brand_items"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - advertiser_id
              value: "{{ stream_partition.advertiser_campaign_id.split(\"-\")[0] }}"
    product_items:
      type: DeclarativeStream
      name: product_items
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /advertising/{{ stream_partition.advertiser_site_id.split("-")[1]
            }}/advertisers/{{ stream_partition.advertiser_site_id.split("-")[0]
            }}/product_ads/ads/search
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: No items found for campaign
          request_headers:
            api-version: "2"
          request_parameters:
            filters[statuses]: active,paused,hold,idle,delegated
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/product_advertisers"
              parent_key: advertiser_site_id
              partition_field: advertiser_site_id
      primary_key:
        - advertiser_id
        - campaign_id
        - ad_group_id
        - brand_value_id
        - domain_id
        - official_store_id
        - listing_type_id
        - item_id
        - channel
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_items"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - advertiser_site_campaign_item_id
              value: >-
                {{ stream_partition.advertiser_site_id }}-{{
                record["campaign_id"] }}-{{ record["item_id"] }}
    brand_keywords:
      type: DeclarativeStream
      name: brand_keywords
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /advertising/advertisers/{{
            stream_partition.advertiser_campaign_id.split("-")[0]
            }}/brand_ads/campaigns/{{
            stream_partition.advertiser_campaign_id.split("-")[1] }}/keywords
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Advertiser has no access to campaign keyword
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - content
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/brand_campaigns"
              parent_key: advertiser_campaign_id
              partition_field: advertiser_campaign_id
      primary_key:
        - advertiser_id
        - campaign_id
        - match_value
        - match_type
        - type
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/brand_keywords"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - advertiser_id
              value: "{{ stream_partition.advertiser_campaign_id.split(\"-\")[0] }}"
    brand_campaigns:
      type: DeclarativeStream
      name: brand_campaigns
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /advertising/advertisers/{{ stream_partition.advertiser_id
            }}/brand_ads/campaigns
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - campaigns
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/brand_advertisers"
              parent_key: advertiser_id
              partition_field: advertiser_id
      primary_key:
        - advertiser_id
        - campaign_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/brand_campaigns"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - advertiser_campaign_id
              value: "{{ record[\"advertiser_id\"] }}-{{ record[\"campaign_id\"] }}"
    brand_advertisers:
      type: DeclarativeStream
      name: brand_advertisers
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: /advertising/advertisers
          http_method: GET
          request_headers:
            Api-Version: "1"
          request_parameters:
            product_id: BADS
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - advertisers
      primary_key:
        - advertiser_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/brand_advertisers"
    display_campaigns:
      type: DeclarativeStream
      name: display_campaigns
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /advertising/advertisers/{{ stream_partition.advertiser_id
            }}/display/campaigns
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: No campaigns found for advertiser
          request_headers:
            Api-Version: "1"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/display_advertisers"
              parent_key: advertiser_id
              partition_field: advertiser_id
      primary_key:
        - advertiser_id
        - campaign_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/display_campaigns"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - advertiser_campaign_id
              value: "{{ record[\"advertiser_id\"] }}-{{ record[\"id\"] }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - campaign_id
              value: "{{ record[\"id\"] }}"
        - type: RemoveFields
          field_pointers:
            - - id
    display_creatives:
      type: DeclarativeStream
      name: display_creatives
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /advertising/advertisers/{{
            stream_partition.advertiser_campaign_line_item_id.split("-")[0]
            }}/display/campaigns/{{
            stream_partition.advertiser_campaign_line_item_id.split("-")[1]
            }}/line_items/{{
            stream_partition.advertiser_campaign_line_item_id.split("-")[2]
            }}/creatives
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: No creatives found for line_item
          request_headers:
            Api-Version: "1"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/display_line_items"
              parent_key: advertiser_campaign_line_item_id
              partition_field: advertiser_campaign_line_item_id
      primary_key:
        - advertiser_id
        - campaign_id
        - line_item_id
        - creative_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/display_creatives"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - advertiser_id
              value: >-
                {{
                stream_partition.advertiser_campaign_line_item_id.split("-")[0]
                }}
    product_campaigns:
      type: DeclarativeStream
      name: product_campaigns
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /advertising/{{ stream_partition.advertiser_site_id.split("-")[1]
            }}/advertisers/{{ stream_partition.advertiser_site_id.split("-")[0]
            }}/product_ads/campaigns/search
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: No campaigns found for advertiser
          request_headers:
            api-version: "2"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/product_advertisers"
              parent_key: advertiser_site_id
              partition_field: advertiser_site_id
      primary_key:
        - advertiser_id
        - campaign_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_campaigns"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - advertiser_site_campaign_id
              value: "{{ stream_partition.advertiser_site_id }}-{{ record[\"id\"] }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - campaign_id
              value: "{{ record[\"id\"] }}"
        - type: RemoveFields
          field_pointers:
            - - id
    display_line_items:
      type: DeclarativeStream
      name: display_line_items
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /advertising/advertisers/{{
            stream_partition.advertiser_campaign_id.split("-")[0]
            }}/display/campaigns/{{
            stream_partition.advertiser_campaign_id.split("-")[1] }}/line_items
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: No line items found for campaign
          request_headers:
            Api-Version: "1"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/display_campaigns"
              parent_key: advertiser_campaign_id
              partition_field: advertiser_campaign_id
      primary_key:
        - advertiser_id
        - campaign_id
        - line_item_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/display_line_items"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - advertiser_id
              value: "{{ stream_partition.advertiser_campaign_id.split(\"-\")[0] }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - campaign_id
              value: "{{ stream_partition.advertiser_campaign_id.split(\"-\")[1] }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - advertiser_campaign_line_item_id
              value: >-
                {{ record["advertiser_id"] }}-{{ record["campaign_id"] }}-{{
                record["line_item_id"] }}
    display_advertisers:
      type: DeclarativeStream
      name: display_advertisers
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: /advertising/advertisers
          http_method: GET
          request_headers:
            Api-Version: "1"
          request_parameters:
            product_id: DISPLAY
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - advertisers
      primary_key:
        - advertiser_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/display_advertisers"
    product_advertisers:
      type: DeclarativeStream
      name: product_advertisers
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: /advertising/advertisers
          http_method: GET
          request_headers:
            Api-Version: "1"
          request_parameters:
            product_id: PADS
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - advertisers
      primary_key:
        - advertiser_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_advertisers"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - advertiser_site_id
              value: "{{ record[\"advertiser_id\"] }}-{{ record[\"site_id\"] }}"
    product_items_metrics:
      type: DeclarativeStream
      name: product_items_metrics
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /advertising/{{
            stream_partition.advertiser_site_campaign_item_id.split("-")[1]
            }}/product_ads/ads/{{
            stream_partition.advertiser_site_campaign_item_id.split("-")[3] }}
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                      - 401
                    error_message: No metrics found
          request_headers:
            api-version: "2"
          request_parameters:
            metrics: >-
              clicks,prints,ctr,cost,cpc,acos,organic_units_quantity,organic_units_amount,organic_items_quantity,direct_items_quantity,indirect_items_quantity,advertising_items_quantity,cvr,roas,sov,direct_units_quantity,indirect_units_quantity,units_quantity,direct_amount,indirect_amount,total_amount
            aggregation_type: DAILY
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
          record_filter:
            type: RecordFilter
            condition: "{{ record['prints'] > 0 }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/product_items"
              parent_key: advertiser_site_campaign_item_id
              partition_field: advertiser_site_campaign_item_id
      primary_key:
        - date
        - advertiser_id
        - campaign_id
        - item_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_items_metrics"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - advertiser_id
              value: >-
                {{
                stream_partition.advertiser_site_campaign_item_id.split("-")[0]
                }}
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - campaign_id
              value: >-
                {{
                stream_partition.advertiser_site_campaign_item_id.split("-")[2]
                }}
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - item_id
              value: >-
                {{
                stream_partition.advertiser_site_campaign_item_id.split("-")[3]
                }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ (day_delta(-89, format='%Y-%m-%d') if config['start_date'] <
            day_delta(-89, format='%Y-%m-%d') else config['start_date']) if
            config['start_date'] else day_delta(-89, format='%Y-%m-%d') }}
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        end_time_option:
          type: RequestOption
          field_name: date_to
          inject_into: request_parameter
        lookback_window: P{{ config['lookback_days'] }}D
        start_time_option:
          type: RequestOption
          field_name: date_from
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%d"
    brand_keywords_metrics:
      type: DeclarativeStream
      name: brand_keywords_metrics
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /advertising/advertisers/{{
            stream_partition.advertiser_campaign_id.split("-")[0]
            }}/brand_ads/campaigns/{{
            stream_partition.advertiser_campaign_id.split("-")[1]
            }}/keywords/metrics
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Advertiser has no access to campaign keyword metrics
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - metrics
              - "*"
              - metrics
              - "*"
          record_filter:
            type: RecordFilter
            condition: "{{ record['prints'] > 0 }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/brand_campaigns"
              parent_key: advertiser_campaign_id
              partition_field: advertiser_campaign_id
      primary_key:
        - date
        - advertiser_id
        - campaign_id
        - keyword
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/brand_keywords_metrics"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - advertiser_id
              value: "{{ stream_partition.advertiser_campaign_id.split(\"-\")[0] }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - campaign_id
              value: "{{ stream_partition.advertiser_campaign_id.split(\"-\")[1] }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date
              value: "{{ stream_interval['start_time'] }}"
      incremental_sync:
        type: DatetimeBasedCursor
        step: P1D
        cursor_field: date
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['end_date'] if config['end_date'] else today_utc() }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ ( ( (str_to_datetime(config['end_date']) -
            duration('P89D')).strftime('%Y-%m-%d') if
            str_to_datetime(config['start_date']) <
            (str_to_datetime(config['end_date']) - duration('P89D')) else
            config['start_date'] ) if config['start_date'] else
            (str_to_datetime(config['end_date']) -
            duration('P89D')).strftime('%Y-%m-%d') ) if config['end_date'] else
            ( ( (now_utc() - duration('P89D')).strftime('%Y-%m-%d') if
            str_to_datetime(config['start_date']) < (now_utc() -
            duration('P89D')) else config['start_date'] ) if
            config['start_date'] else (now_utc() -
            duration('P89D')).strftime('%Y-%m-%d') ) }}
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        end_time_option:
          type: RequestOption
          field_name: date_to
          inject_into: request_parameter
        lookback_window: P{{ config['lookback_days'] }}D
        start_time_option:
          type: RequestOption
          field_name: date_from
          inject_into: request_parameter
        cursor_granularity: P1D
        cursor_datetime_formats:
          - "%Y-%m-%d"
    brand_campaigns_metrics:
      type: DeclarativeStream
      name: brand_campaigns_metrics
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /advertising/advertisers/{{
            stream_partition.advertiser_campaign_id.split("-")[0]
            }}/brand_ads/campaigns/{{
            stream_partition.advertiser_campaign_id.split("-")[1] }}/metrics
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 401
                    error_message: Advertiser has no access to campaign metrics
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - metrics
              - "*"
              - metrics
          record_filter:
            type: RecordFilter
            condition: "{{ record['prints'] > 0 }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/brand_campaigns"
              parent_key: advertiser_campaign_id
              partition_field: advertiser_campaign_id
      primary_key:
        - date
        - advertiser_id
        - campaign_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/brand_campaigns_metrics"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - advertiser_id
              value: "{{ stream_partition.advertiser_campaign_id.split(\"-\")[0] }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - campaign_id
              value: "{{ stream_partition.advertiser_campaign_id.split(\"-\")[1] }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date
              value: "{{ stream_interval['start_time'] }}"
      incremental_sync:
        type: DatetimeBasedCursor
        step: P1D
        cursor_field: date
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['end_date'] if config['end_date'] else today_utc() }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ ( ( (str_to_datetime(config['end_date']) -
            duration('P89D')).strftime('%Y-%m-%d') if
            str_to_datetime(config['start_date']) <
            (str_to_datetime(config['end_date']) - duration('P89D')) else
            config['start_date'] ) if config['start_date'] else
            (str_to_datetime(config['end_date']) -
            duration('P89D')).strftime('%Y-%m-%d') ) if config['end_date'] else
            ( ( (now_utc() - duration('P89D')).strftime('%Y-%m-%d') if
            str_to_datetime(config['start_date']) < (now_utc() -
            duration('P89D')) else config['start_date'] ) if
            config['start_date'] else (now_utc() -
            duration('P89D')).strftime('%Y-%m-%d') ) }}
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        end_time_option:
          type: RequestOption
          field_name: date_to
          inject_into: request_parameter
        lookback_window: P{{ config['lookback_days'] }}D
        start_time_option:
          type: RequestOption
          field_name: date_from
          inject_into: request_parameter
        cursor_granularity: P1D
        cursor_datetime_formats:
          - "%Y-%m-%d"
    display_campaigns_metrics:
      type: DeclarativeStream
      name: display_campaigns_metrics
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /advertising/advertisers/{{
            stream_partition.advertiser_campaign_id.split("-")[0]
            }}/display/campaigns/{{
            stream_partition.advertiser_campaign_id.split("-")[1] }}/metrics
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: No metrics found
          request_headers:
            Api-Version: "1"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - metrics
          record_filter:
            type: RecordFilter
            condition: "{{ record['prints'] > 0 }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/display_campaigns"
              parent_key: advertiser_campaign_id
              partition_field: advertiser_campaign_id
      primary_key:
        - date
        - advertiser_id
        - campaign_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/display_campaigns_metrics"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - advertiser_id
              value: "{{ stream_partition.advertiser_campaign_id.split(\"-\")[0] }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - campaign_id
              value: "{{ stream_partition.advertiser_campaign_id.split(\"-\")[1] }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['end_date'] if config['end_date'] else today_utc() }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ ( ( (str_to_datetime(config['end_date']) -
            duration('P89D')).strftime('%Y-%m-%d') if
            str_to_datetime(config['start_date']) <
            (str_to_datetime(config['end_date']) - duration('P89D')) else
            config['start_date'] ) if config['start_date'] else
            (str_to_datetime(config['end_date']) -
            duration('P89D')).strftime('%Y-%m-%d') ) if config['end_date'] else
            ( ( (now_utc() - duration('P89D')).strftime('%Y-%m-%d') if
            str_to_datetime(config['start_date']) < (now_utc() -
            duration('P89D')) else config['start_date'] ) if
            config['start_date'] else (now_utc() -
            duration('P89D')).strftime('%Y-%m-%d') ) }}
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        end_time_option:
          type: RequestOption
          field_name: date_to
          inject_into: request_parameter
        lookback_window: P{{ config['lookback_days'] }}D
        start_time_option:
          type: RequestOption
          field_name: date_from
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%d"
    display_creatives_metrics:
      type: DeclarativeStream
      name: display_creatives_metrics
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /advertising/advertisers/{{
            stream_partition.advertiser_campaign_line_item_id.split("-")[0]
            }}/display/metrics
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: No metrics found
          request_headers:
            Api-Version: "1"
          request_parameters:
            dimension: creatives
            line_item_id: >-
              {{ stream_partition.advertiser_campaign_line_item_id.split("-")[2]
              }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - metrics
          record_filter:
            type: RecordFilter
            condition: "{{ record['prints'] > 0 }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/display_line_items"
              parent_key: advertiser_campaign_line_item_id
              partition_field: advertiser_campaign_line_item_id
      primary_key:
        - date
        - advertiser_id
        - campaign_id
        - line_item_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/display_creatives_metrics"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - advertiser_id
              value: >-
                {{
                stream_partition.advertiser_campaign_line_item_id.split("-")[0]
                }}
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - campaign_id
              value: >-
                {{
                stream_partition.advertiser_campaign_line_item_id.split("-")[1]
                }}
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - line_item_id
              value: >-
                {{
                stream_partition.advertiser_campaign_line_item_id.split("-")[2]
                }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['end_date'] if config['end_date'] else today_utc() }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ ( ( (str_to_datetime(config['end_date']) -
            duration('P89D')).strftime('%Y-%m-%d') if
            str_to_datetime(config['start_date']) <
            (str_to_datetime(config['end_date']) - duration('P89D')) else
            config['start_date'] ) if config['start_date'] else
            (str_to_datetime(config['end_date']) -
            duration('P89D')).strftime('%Y-%m-%d') ) if config['end_date'] else
            ( ( (now_utc() - duration('P89D')).strftime('%Y-%m-%d') if
            str_to_datetime(config['start_date']) < (now_utc() -
            duration('P89D')) else config['start_date'] ) if
            config['start_date'] else (now_utc() -
            duration('P89D')).strftime('%Y-%m-%d') ) }}
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        end_time_option:
          type: RequestOption
          field_name: date_to
          inject_into: request_parameter
        lookback_window: P{{ config['lookback_days'] }}D
        start_time_option:
          type: RequestOption
          field_name: date_from
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%d"
    product_campaigns_metrics:
      type: DeclarativeStream
      name: product_campaigns_metrics
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 100
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /advertising/{{
            stream_partition.advertiser_site_campaign_id.split("-")[1]
            }}/product_ads/campaigns/{{
            stream_partition.advertiser_site_campaign_id.split("-")[2] }}
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: No metrics found
          request_headers:
            api-version: "2"
          request_parameters:
            metrics: >-
              clicks,prints,ctr,cost,cpc,acos,organic_units_quantity,organic_units_amount,organic_items_quantity,direct_items_quantity,indirect_items_quantity,advertising_items_quantity,cvr,roas,sov,direct_units_quantity,indirect_units_quantity,units_quantity,direct_amount,indirect_amount,total_amount
            aggregation_type: DAILY
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
          record_filter:
            type: RecordFilter
            condition: "{{ record['prints'] > 0 }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/product_campaigns"
              parent_key: advertiser_site_campaign_id
              partition_field: advertiser_site_campaign_id
      primary_key:
        - date
        - advertiser_id
        - campaign_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_campaigns_metrics"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - advertiser_id
              value: "{{ stream_partition.advertiser_site_campaign_id.split(\"-\")[0] }}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - campaign_id
              value: "{{ stream_partition.advertiser_site_campaign_id.split(\"-\")[2] }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ (day_delta(-89, format='%Y-%m-%d') if config['start_date'] <
            day_delta(-89, format='%Y-%m-%d') else config['start_date']) if
            config['start_date'] else day_delta(-89, format='%Y-%m-%d') }}
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        end_time_option:
          type: RequestOption
          field_name: date_to
          inject_into: request_parameter
        lookback_window: P{{ config['lookback_days'] }}D
        start_time_option:
          type: RequestOption
          field_name: date_from
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%d"
    display_line_items_metrics:
      type: DeclarativeStream
      name: display_line_items_metrics
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /advertising/advertisers/{{
            stream_partition.advertiser_campaign_line_item_id.split("-")[0]
            }}/display/metrics
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 404
                    error_message: No metrics found
          request_headers:
            Api-Version: "1"
          request_parameters:
            ids: >-
              {{ stream_partition.advertiser_campaign_line_item_id.split("-")[2]
              }}
            dimension: line_items
            campaign_id: >-
              {{ stream_partition.advertiser_campaign_line_item_id.split("-")[1]
              }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - metrics
          record_filter:
            type: RecordFilter
            condition: "{{ record['prints'] > 0 }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/display_line_items"
              parent_key: advertiser_campaign_line_item_id
              partition_field: advertiser_campaign_line_item_id
      primary_key:
        - date
        - advertiser_id
        - campaign_id
        - line_item_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/display_line_items_metrics"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - advertiser_id
              value: >-
                {{
                stream_partition.advertiser_campaign_line_item_id.split("-")[0]
                }}
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - campaign_id
              value: >-
                {{
                stream_partition.advertiser_campaign_line_item_id.split("-")[1]
                }}
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - line_item_id
              value: >-
                {{
                stream_partition.advertiser_campaign_line_item_id.split("-")[2]
                }}
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['end_date'] if config['end_date'] else today_utc() }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: >-
            {{ ( ( (str_to_datetime(config['end_date']) -
            duration('P89D')).strftime('%Y-%m-%d') if
            str_to_datetime(config['start_date']) <
            (str_to_datetime(config['end_date']) - duration('P89D')) else
            config['start_date'] ) if config['start_date'] else
            (str_to_datetime(config['end_date']) -
            duration('P89D')).strftime('%Y-%m-%d') ) if config['end_date'] else
            ( ( (now_utc() - duration('P89D')).strftime('%Y-%m-%d') if
            str_to_datetime(config['start_date']) < (now_utc() -
            duration('P89D')) else config['start_date'] ) if
            config['start_date'] else (now_utc() -
            duration('P89D')).strftime('%Y-%m-%d') ) }}
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        end_time_option:
          type: RequestOption
          field_name: date_to
          inject_into: request_parameter
        lookback_window: P{{ config['lookback_days'] }}D
        start_time_option:
          type: RequestOption
          field_name: date_from
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%d"
  base_requester:
    type: HttpRequester
    url_base: https://api.mercadolibre.com
    authenticator:
      type: OAuthAuthenticator
      client_id: "{{ config[\"client_id\"] }}"
      grant_type: client_credentials
      client_secret: "{{ config[\"client_secret\"] }}"
      access_token_value: "{{ config[\"client_access_token\"] }}"

streams:
  - $ref: "#/definitions/streams/brand_advertisers"
  - $ref: "#/definitions/streams/brand_campaigns"
  - $ref: "#/definitions/streams/brand_campaigns_metrics"
  - $ref: "#/definitions/streams/brand_items"
  - $ref: "#/definitions/streams/brand_keywords"
  - $ref: "#/definitions/streams/brand_keywords_metrics"
  - $ref: "#/definitions/streams/display_advertisers"
  - $ref: "#/definitions/streams/display_campaigns"
  - $ref: "#/definitions/streams/display_campaigns_metrics"
  - $ref: "#/definitions/streams/display_line_items"
  - $ref: "#/definitions/streams/display_line_items_metrics"
  - $ref: "#/definitions/streams/display_creatives"
  - $ref: "#/definitions/streams/display_creatives_metrics"
  - $ref: "#/definitions/streams/product_advertisers"
  - $ref: "#/definitions/streams/product_campaigns"
  - $ref: "#/definitions/streams/product_campaigns_metrics"
  - $ref: "#/definitions/streams/product_items"
  - $ref: "#/definitions/streams/product_items_metrics"

spec:
  type: Spec
  advanced_auth:
    auth_flow_type: oauth2.0
    oauth_config_specification:
      complete_oauth_output_specification:
        required:
          - access_token
        properties:
          access_token:
            type: string
            path_in_connector_config:
              - client_access_token
      oauth_connector_input_specification:
        consent_url: >-
          https://auth.mercadolibre.com.ar/authorization?response_type=code&offline_access%20read&{{client_id_key}}={{client_id_value}}&{{redirect_uri_key}}={{redirect_uri_value}}&{{state_key}}={{state_value}}
        extract_output:
          - access_token
        access_token_url: >-
          https://api.mercadolibre.com/oauth/token?grant_type=authorization_code&{{client_id_key}}={{client_id_value}}&{{client_secret_key}}={{client_secret_value}}&{{auth_code_key}}={{auth_code_value}}&{{redirect_uri_key}}={{redirect_uri_value}}
        access_token_params: {}
        access_token_headers: {}
      complete_oauth_server_input_specification:
        required:
          - client_id
          - client_secret
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        required:
          - client_id
          - client_secret
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - client_secret
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
      - lookback_days
    properties:
      end_date:
        type: string
        description: Cannot exceed 90 days from current day for Product Ads and Brand Ads
        order: 4
        title: End Date
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
      client_id:
        type: string
        order: 0
        title: Client ID
        airbyte_secret: true
      start_date:
        type: string
        description: >-
          Cannot exceed 90 days from current day for Product Ads and Brand Ads,
          and 90 days from "End Date" on Display Ads
        order: 3
        title: Start Date
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
      client_secret:
        type: string
        order: 1
        title: Client secret
        airbyte_secret: true
      lookback_days:
        type: number
        order: 2
        title: Lookback Days
        default: 7
      client_access_token:
        type: string
        order: 5
        title: Access token
        airbyte_hidden: true
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    brand_items:
      hasRecords: true
      streamHash: 42658fc599ca68e4a6bb35cf2067a7fda1adb5a8
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    product_items:
      hasRecords: true
      streamHash: 5d2f3aa47b4974334fd58dd6f7c0a7b2a2e15a28
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    brand_keywords:
      hasRecords: true
      streamHash: 782f242d9198bec344e8ad50ce16e0ccb2f668a2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    brand_campaigns:
      hasRecords: true
      streamHash: 43c83e02862e7993e09d30e4c96e8b66f4b2ae95
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    brand_advertisers:
      hasRecords: true
      streamHash: 69e56a34bfbc36b6a0fe28f0853088af8bf3ef63
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    display_campaigns:
      hasRecords: true
      streamHash: f08eb94b92441fbd399464e3c67d180123c91f5b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    display_creatives:
      hasRecords: true
      streamHash: dd11816187afb4b45ac24cf0006cba63eb3d90f4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    product_campaigns:
      hasRecords: true
      streamHash: cfd43117920d3e745592888945f38775a2597c1c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    display_line_items:
      hasRecords: true
      streamHash: bd43f49532c61141bd0476fccbc90fc2a9c9815b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    display_advertisers:
      hasRecords: true
      streamHash: 7eca989b4f33af00daced06a74ea1ecb97acdfd9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    product_advertisers:
      hasRecords: true
      streamHash: 11834cc2dea9cfa3daf76ea07d19fd29b9d2cb1f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    product_items_metrics:
      hasRecords: true
      streamHash: 1c9571ba119ffc8c40ed84aa42c647a5be07c0f1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    brand_keywords_metrics:
      hasRecords: true
      streamHash: bb5ce042330d16e6ece260baff1d3d59399caab4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    brand_campaigns_metrics:
      hasRecords: true
      streamHash: 0161d0d1f3027c6d1c634040265e75281446da84
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    display_campaigns_metrics:
      hasRecords: true
      streamHash: d160144745f37eef6be217ecce54d7d78ee21040
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    display_creatives_metrics:
      hasRecords: true
      streamHash: 91c175925329a01befda4978189f5b45559ef383
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    product_campaigns_metrics:
      hasRecords: true
      streamHash: a44785b7ce3b706e95c52f32770f8658b5f005e8
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    display_line_items_metrics:
      hasRecords: true
      streamHash: 58f2217ba25edc798dd69131a95ed7ac7086316a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    brand_items: true
    product_items: true
    brand_keywords: true
    brand_campaigns: true
    brand_advertisers: true
    display_campaigns: true
    display_creatives: true
    product_campaigns: true
    display_line_items: true
    display_advertisers: true
    product_advertisers: true
    product_items_metrics: true
    brand_keywords_metrics: true
    brand_campaigns_metrics: true
    display_campaigns_metrics: true
    display_creatives_metrics: true
    product_campaigns_metrics: true
    display_line_items_metrics: true

schemas:
  brand_items:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - advertiser_id
      - campaign_id
      - item_id
    properties:
      status:
        type:
          - string
          - "null"
      item_id:
        type: string
      campaign_id:
        type: number
      advertiser_id:
        type: number
    additionalProperties: true
  product_items:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - advertiser_id
      - campaign_id
      - ad_group_id
      - brand_value_id
      - domain_id
      - official_store_id
      - listing_type_id
      - item_id
      - channel
    properties:
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      price:
        type:
          - number
          - "null"
      title:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      channel:
        type: string
      item_id:
        type: string
      metrics:
        type:
          - object
          - "null"
      condition:
        type:
          - string
          - "null"
      domain_id:
        type: string
      family_id:
        type:
          - number
          - "null"
      permalink:
        type:
          - string
          - "null"
      price_usd:
        type:
          - number
          - "null"
      thumbnail:
        type:
          - string
          - "null"
      ad_group_id:
        type: number
      campaign_id:
        type: number
      family_name:
        type:
          - string
          - "null"
      recommended:
        type:
          - boolean
          - "null"
      date_created:
        type:
          - string
          - "null"
      has_discount:
        type:
          - boolean
          - "null"
      advertiser_id:
        type: number
      current_level:
        type:
          - string
          - "null"
      image_quality:
        type:
          - string
          - "null"
      logistic_type:
        type:
          - string
          - "null"
      brand_value_id:
        type: string
      buy_box_winner:
        type:
          - boolean
          - "null"
      deferred_stock:
        type:
          - boolean
          - "null"
      catalog_listing:
        type:
          - boolean
          - "null"
      listing_type_id:
        type: string
      user_product_id:
        type:
          - string
          - "null"
      brand_value_name:
        type:
          - string
          - "null"
      official_store_id:
        type: number
      user_product_name:
        type:
          - string
          - "null"
      advertiser_site_campaign_item_id:
        type:
          - string
          - "null"
    additionalProperties: true
  brand_keywords:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - advertiser_id
      - campaign_id
      - match_value
      - match_type
      - type
    properties:
      type:
        type: string
      match_type:
        type: string
      campaign_id:
        type: number
      match_value:
        type: string
      advertiser_id:
        type: number
      goal_cpc_value:
        type:
          - number
          - "null"
    additionalProperties: true
  brand_campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - advertiser_id
      - campaign_id
    properties:
      cpc:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      items:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            status:
              type:
                - string
                - "null"
            item_id:
              type:
                - string
                - "null"
            campaign_id:
              type:
                - number
                - "null"
      budget:
        type:
          - object
          - "null"
        properties:
          amount:
            type:
              - number
              - "null"
          currency:
            type:
              - string
              - "null"
      status:
        type:
          - string
          - "null"
      site_id:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      headline:
        type:
          - string
          - "null"
      keywords:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            cpc:
              type:
                - number
                - "null"
            term:
              type:
                - string
                - "null"
            match_type:
              type:
                - string
                - "null"
            campaign_id:
              type:
                - number
                - "null"
            is_negative:
              type:
                - boolean
                - "null"
      start_date:
        type:
          - string
          - "null"
      campaign_id:
        type: number
      advertiser_id:
        type: number
      campaign_type:
        type:
          - string
          - "null"
      destination_id:
        type:
          - number
          - "null"
      moderation_status:
        type:
          - string
          - "null"
      official_store_id:
        type:
          - number
          - "null"
      advertiser_campaign_id:
        type:
          - string
          - "null"
    additionalProperties: true
  brand_advertisers:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - advertiser_id
    properties:
      site_id:
        type:
          - string
          - "null"
      account_name:
        type:
          - string
          - "null"
      advertiser_id:
        type: number
      advertiser_name:
        type:
          - string
          - "null"
    additionalProperties: true
  display_campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - advertiser_id
      - campaign_id
    properties:
      type:
        type:
          - string
          - "null"
      goal:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      site_id:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      start_date:
        type:
          - string
          - "null"
      campaign_id:
        type: number
      advertiser_id:
        type: number
      advertiser_campaign_id:
        type:
          - string
          - "null"
    additionalProperties: true
  display_creatives:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - advertiser_id
      - campaign_id
      - line_item_id
      - creative_id
    properties:
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      campaign_id:
        type: number
      creative_id:
        type: number
      line_item_id:
        type: number
      advertiser_id:
        type: number
    additionalProperties: true
  product_campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - advertiser_id
      - campaign_id
    properties:
      name:
        type:
          - string
          - "null"
      budget:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
      channel:
        type:
          - string
          - "null"
      strategy:
        type:
          - string
          - "null"
      acos_target:
        type:
          - number
          - "null"
      campaign_id:
        type: number
      date_created:
        type:
          - string
          - "null"
      last_updated:
        type:
          - string
          - "null"
      advertiser_id:
        type: number
      automatic_budget:
        type:
          - boolean
          - "null"
      salesforce_event_id:
        type:
          - number
          - "null"
      acos_top_search_target:
        type:
          - number
          - "null"
      advertiser_site_campaign_id:
        type:
          - string
          - "null"
    additionalProperties: true
  display_line_items:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - advertiser_id
      - campaign_id
      - line_item_id
    properties:
      type:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      start_date:
        type:
          - string
          - "null"
      campaign_id:
        type: number
      line_item_id:
        type: number
      advertiser_id:
        type: number
      advertiser_campaign_line_item_id:
        type:
          - string
          - "null"
    additionalProperties: true
  display_advertisers:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - advertiser_id
    properties:
      site_id:
        type:
          - string
          - "null"
      account_name:
        type:
          - string
          - "null"
      advertiser_id:
        type: number
      advertiser_name:
        type:
          - string
          - "null"
    additionalProperties: true
  product_advertisers:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - advertiser_id
    properties:
      site_id:
        type:
          - string
          - "null"
      account_name:
        type:
          - string
          - "null"
      advertiser_id:
        type: number
      advertiser_name:
        type:
          - string
          - "null"
      advertiser_site_id:
        type:
          - string
          - "null"
    additionalProperties: true
  product_items_metrics:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - date
      - advertiser_id
      - campaign_id
      - item_id
    properties:
      cpc:
        type:
          - number
          - "null"
      ctr:
        type:
          - number
          - "null"
      cvr:
        type:
          - number
          - "null"
      sov:
        type:
          - number
          - "null"
      acos:
        type:
          - number
          - "null"
      cost:
        type:
          - number
          - "null"
      date:
        type: string
      roas:
        type:
          - number
          - "null"
      clicks:
        type:
          - number
          - "null"
      prints:
        type:
          - number
          - "null"
      item_id:
        type: string
      campaign_id:
        type: number
      total_amount:
        type:
          - number
          - "null"
      advertiser_id:
        type: number
      direct_amount:
        type:
          - number
          - "null"
      units_quantity:
        type:
          - number
          - "null"
      indirect_amount:
        type:
          - number
          - "null"
      organic_units_amount:
        type:
          - number
          - "null"
      direct_items_quantity:
        type:
          - number
          - "null"
      direct_units_quantity:
        type:
          - number
          - "null"
      organic_items_quantity:
        type:
          - number
          - "null"
      organic_units_quantity:
        type:
          - number
          - "null"
      indirect_items_quantity:
        type:
          - number
          - "null"
      indirect_units_quantity:
        type:
          - number
          - "null"
      advertising_items_quantity:
        type:
          - number
          - "null"
    additionalProperties: true
  brand_keywords_metrics:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - date
      - advertiser_id
      - campaign_id
      - keyword
    properties:
      ctr:
        type:
          - number
          - "null"
      cvr:
        type:
          - number
          - "null"
      acos:
        type:
          - number
          - "null"
      date:
        type: string
      leads:
        type:
          - number
          - "null"
      clicks:
        type:
          - number
          - "null"
      prints:
        type:
          - number
          - "null"
      keyword:
        type: string
      is_deleted:
        type:
          - boolean
          - "null"
      campaign_id:
        type: number
      goal_cpc_max:
        type:
          - number
          - "null"
      advertiser_id:
        type: number
      consumed_budget:
        type:
          - number
          - "null"
      cost_per_clicks:
        type:
          - number
          - "null"
      attribution_order_amount:
        type:
          - number
          - "null"
      attribution_order_conversions:
        type:
          - number
          - "null"
    additionalProperties: true
  brand_campaigns_metrics:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - date
      - advertiser_id
      - campaign_id
    properties:
      ctr:
        type:
          - number
          - "null"
      cvr:
        type:
          - number
          - "null"
      acos:
        type:
          - number
          - "null"
      date:
        type: string
      leads:
        type:
          - number
          - "null"
      clicks:
        type:
          - number
          - "null"
      prints:
        type:
          - number
          - "null"
      campaign_id:
        type: number
      advertiser_id:
        type: number
      consumed_budget:
        type:
          - number
          - "null"
      cost_per_clicks:
        type:
          - number
          - "null"
      attribution_order_amount:
        type:
          - number
          - "null"
      attribution_order_conversions:
        type:
          - number
          - "null"
    additionalProperties: true
  display_campaigns_metrics:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - date
      - advertiser_id
      - campaign_id
    properties:
      cpc:
        type:
          - number
          - "null"
      cpm:
        type:
          - number
          - "null"
      ctr:
        type:
          - number
          - "null"
      date:
        type: string
      reach:
        type:
          - number
          - "null"
      clicks:
        type:
          - number
          - "null"
      prints:
        type:
          - number
          - "null"
      site_id:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      event_time:
        type:
          - object
          - "null"
        properties:
          cpl:
            type:
              - number
              - "null"
          roas:
            type:
              - number
              - "null"
          cpa_ppv:
            type:
              - number
              - "null"
          cpa_order:
            type:
              - number
              - "null"
          direct_amount:
            type:
              - number
              - "null"
          units_quantity:
            type:
              - number
              - "null"
          attribution_ppv:
            type:
              - number
              - "null"
          attribution_leads:
            type:
              - number
              - "null"
          attribution_bookmark:
            type:
              - number
              - "null"
          attribution_checkout:
            type:
              - number
              - "null"
          direct_item_quantity:
            type:
              - number
              - "null"
          attribution_add_to_cart:
            type:
              - number
              - "null"
      campaign_id:
        type: number
      touch_point:
        type:
          - object
          - "null"
        properties:
          cpl:
            type:
              - number
              - "null"
          roas:
            type:
              - number
              - "null"
          cpa_ppv:
            type:
              - number
              - "null"
          cpa_order:
            type:
              - number
              - "null"
          direct_amount:
            type:
              - number
              - "null"
          units_quantity:
            type:
              - number
              - "null"
          attribution_ppv:
            type:
              - number
              - "null"
          attribution_leads:
            type:
              - number
              - "null"
          attribution_bookmark:
            type:
              - number
              - "null"
          attribution_checkout:
            type:
              - number
              - "null"
          direct_item_quantity:
            type:
              - number
              - "null"
          attribution_add_to_cart:
            type:
              - number
              - "null"
      active_views:
        type:
          - number
          - "null"
      advertiser_id:
        type: number
      completed_views:
        type:
          - number
          - "null"
      consumed_budget:
        type:
          - number
          - "null"
      average_frequency:
        type:
          - number
          - "null"
    additionalProperties: true
  display_creatives_metrics:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - date
      - advertiser_id
      - campaign_id
      - line_item_id
    properties:
      cpc:
        type:
          - number
          - "null"
      cpm:
        type:
          - number
          - "null"
      ctr:
        type:
          - number
          - "null"
      date:
        type: string
      reach:
        type:
          - number
          - "null"
      clicks:
        type:
          - number
          - "null"
      prints:
        type:
          - number
          - "null"
      site_id:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      event_time:
        type:
          - object
          - "null"
        properties:
          cpl:
            type:
              - number
              - "null"
          roas:
            type:
              - number
              - "null"
          cpa_ppv:
            type:
              - number
              - "null"
          cpa_order:
            type:
              - number
              - "null"
          direct_amount:
            type:
              - number
              - "null"
          units_quantity:
            type:
              - number
              - "null"
          attribution_ppv:
            type:
              - number
              - "null"
          attribution_leads:
            type:
              - number
              - "null"
          attribution_bookmark:
            type:
              - number
              - "null"
          attribution_checkout:
            type:
              - number
              - "null"
          direct_item_quantity:
            type:
              - number
              - "null"
          attribution_add_to_cart:
            type:
              - number
              - "null"
      campaign_id:
        type: number
      touch_point:
        type:
          - object
          - "null"
        properties:
          cpl:
            type:
              - number
              - "null"
          roas:
            type:
              - number
              - "null"
          cpa_ppv:
            type:
              - number
              - "null"
          cpa_order:
            type:
              - number
              - "null"
          direct_amount:
            type:
              - number
              - "null"
          units_quantity:
            type:
              - number
              - "null"
          attribution_ppv:
            type:
              - number
              - "null"
          attribution_leads:
            type:
              - number
              - "null"
          attribution_bookmark:
            type:
              - number
              - "null"
          attribution_checkout:
            type:
              - number
              - "null"
          direct_item_quantity:
            type:
              - number
              - "null"
          attribution_add_to_cart:
            type:
              - number
              - "null"
      active_views:
        type:
          - number
          - "null"
      line_item_id:
        type: number
      advertiser_id:
        type: number
      completed_views:
        type:
          - number
          - "null"
      consumed_budget:
        type:
          - number
          - "null"
      average_frequency:
        type:
          - number
          - "null"
    additionalProperties: true
  product_campaigns_metrics:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - date
      - advertiser_id
      - campaign_id
    properties:
      cpc:
        type:
          - number
          - "null"
      ctr:
        type:
          - number
          - "null"
      cvr:
        type:
          - number
          - "null"
      sov:
        type:
          - number
          - "null"
      acos:
        type:
          - number
          - "null"
      cost:
        type:
          - number
          - "null"
      date:
        type: string
      roas:
        type:
          - number
          - "null"
      clicks:
        type:
          - number
          - "null"
      prints:
        type:
          - number
          - "null"
      campaign_id:
        type: number
      total_amount:
        type:
          - number
          - "null"
      advertiser_id:
        type: number
      direct_amount:
        type:
          - number
          - "null"
      acos_benchmark:
        type:
          - number
          - "null"
      units_quantity:
        type:
          - number
          - "null"
      indirect_amount:
        type:
          - number
          - "null"
      impression_share:
        type:
          - number
          - "null"
      organic_units_amount:
        type:
          - number
          - "null"
      top_impression_share:
        type:
          - number
          - "null"
      direct_items_quantity:
        type:
          - number
          - "null"
      direct_units_quantity:
        type:
          - number
          - "null"
      organic_items_quantity:
        type:
          - number
          - "null"
      organic_units_quantity:
        type:
          - number
          - "null"
      indirect_items_quantity:
        type:
          - number
          - "null"
      indirect_units_quantity:
        type:
          - number
          - "null"
      advertising_items_quantity:
        type:
          - number
          - "null"
      lost_impression_share_by_budget:
        type:
          - number
          - "null"
      lost_impression_share_by_ad_rank:
        type:
          - number
          - "null"
    additionalProperties: true
  display_line_items_metrics:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - date
      - advertiser_id
      - campaign_id
      - line_item_id
    properties:
      cpc:
        type:
          - number
          - "null"
      cpm:
        type:
          - number
          - "null"
      ctr:
        type:
          - number
          - "null"
      date:
        type: string
      reach:
        type:
          - number
          - "null"
      clicks:
        type:
          - number
          - "null"
      prints:
        type:
          - number
          - "null"
      site_id:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      event_time:
        type:
          - object
          - "null"
        properties:
          cpl:
            type:
              - number
              - "null"
          roas:
            type:
              - number
              - "null"
          cpa_ppv:
            type:
              - number
              - "null"
          cpa_order:
            type:
              - number
              - "null"
          direct_amount:
            type:
              - number
              - "null"
          units_quantity:
            type:
              - number
              - "null"
          attribution_ppv:
            type:
              - number
              - "null"
          attribution_leads:
            type:
              - number
              - "null"
          attribution_bookmark:
            type:
              - number
              - "null"
          attribution_checkout:
            type:
              - number
              - "null"
          direct_item_quantity:
            type:
              - number
              - "null"
          attribution_add_to_cart:
            type:
              - number
              - "null"
      campaign_id:
        type: number
      touch_point:
        type:
          - object
          - "null"
        properties:
          cpl:
            type:
              - number
              - "null"
          roas:
            type:
              - number
              - "null"
          cpa_ppv:
            type:
              - number
              - "null"
          cpa_order:
            type:
              - number
              - "null"
          direct_amount:
            type:
              - number
              - "null"
          units_quantity:
            type:
              - number
              - "null"
          attribution_ppv:
            type:
              - number
              - "null"
          attribution_leads:
            type:
              - number
              - "null"
          attribution_bookmark:
            type:
              - number
              - "null"
          attribution_checkout:
            type:
              - number
              - "null"
          direct_item_quantity:
            type:
              - number
              - "null"
          attribution_add_to_cart:
            type:
              - number
              - "null"
      active_views:
        type:
          - number
          - "null"
      line_item_id:
        type: number
      advertiser_id:
        type: number
      completed_views:
        type:
          - number
          - "null"
      consumed_budget:
        type:
          - number
          - "null"
      average_frequency:
        type:
          - number
          - "null"
    additionalProperties: true
