@use "scss/colors";
@use "scss/variables";
@use "scss/z-indices";

$blur-height: 15px;
$spacing: variables.$spacing-xl;

.container {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  flex: 1;
  max-width: 100%;
  overflow-x: auto;
  position: relative;

  &.softScrollEdge {
    padding-top: $spacing - $blur-height;
  }

  &:not(.softScrollEdge) {
    padding-top: $spacing;
  }
}

.contentScroll {
  overflow-y: auto;
  height: 100%;
}

.content {
  padding: 0 $spacing $spacing;
  min-width: variables.$min-width-main-page-content;

  &.cloud {
    padding-bottom: variables.$spacing-page-bottom-cloud;
  }

  &.noBottomPadding {
    padding-bottom: 0;
  }
}

.edge {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: z-indices.$mainPageWithScrollEdge;
  min-height: $blur-height;
  background: linear-gradient(180deg, colors.$grey-50, rgba(248, 248, 250, 0%) variables.$height-soft-edge);
}
