@use "../../../../../scss/colors";
@use "../../../../../scss/variables";

.container {
  border-radius: variables.$border-radius-sm;
  overflow: hidden;
}

.card {
  cursor: pointer;
  background: colors.$white;
  border: variables.$border-thin solid colors.$grey-100;
  border-radius: variables.$border-radius-sm;
  min-height: 70px;
  width: 100%;

  &:active {
    background-color: colors.$grey-100;
  }
}
