@use "scss/variables";

.controlContainer {
  margin-top: 34px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttonContainer {
  display: flex;
  flex: 0 0 auto;
  align-self: flex-end;
  gap: variables.$spacing-sm;
}

.deleteButtonContainer {
  flex-grow: 1;
}
