@use "../../../../scss/variables" as vars;

.container {
  margin: 34px 0 vars.$spacing-md;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin-left: vars.$spacing-md;
}
