@use "../../../../scss/colors";
@use "../../../../scss/variables" as vars;

.container {
  padding: vars.$spacing-md vars.$spacing-lg;
  background: colors.$yellow-100;
  border-radius: vars.$border-radius-md;
  white-space: break-spaces;
  margin-top: vars.$spacing-lg;
}

.link {
  color: colors.$dark-blue;

  &:hover,
  &:focus {
    color: colors.$blue-400;
  }
}
