version: 0.71.0
type: DeclarativeSource

definitions:
  custom_authenticator:
    type: CustomAuthenticator
    class_name: source_my_hours.components.CustomAuthenticator
    email: "{{ config['email'] }}"
    password: "{{ config['password'] }}"

check:
  type: CheckStream
  stream_names:
    - users
streams:
  - type: DeclarativeStream
    name: users
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api2.myhours.com/api
        path: Users/getAll
        http_method: GET
        authenticator:
          $ref: "#/definitions/custom_authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: time_logs
    primary_key:
      - logId
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api2.myhours.com/api
        path: Reports/activity
        http_method: GET
        request_parameters:
          DateFrom: "{{ config['start_date'] }}"
          DateTo: "{{ today_utc() }}"
        authenticator:
          $ref: "#/definitions/custom_authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: tags
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api2.myhours.com/api
        path: Tags
        http_method: GET
        authenticator:
          $ref: "#/definitions/custom_authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: projects
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api2.myhours.com/api
        path: Projects/getAll
        http_method: GET
        authenticator:
          $ref: "#/definitions/custom_authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: clients
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api2.myhours.com/api
        path: Clients
        http_method: GET
        authenticator:
          $ref: "#/definitions/custom_authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
spec:
  documentation_url: https://docs.airbyte.com/integrations/sources/my-hours
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: My Hours Spec
    type: object
    required:
      - email
      - password
      - start_date
    additionalProperties: true
    properties:
      email:
        title: Email
        type: string
        description: Your My Hours username
        example: john@doe.com
      password:
        title: Password
        type: string
        description: The password associated to the username
        airbyte_secret: true
      start_date:
        title: Start Date
        description: Start date for collecting time logs
        examples:
          - "%Y-%m-%d"
          - "2016-01-01"
        type: string
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
      logs_batch_size:
        title: Time logs batch size
        description: Pagination size used for retrieving logs in days
        examples:
          - 30
        type: integer
        minimum: 1
        maximum: 365
        default: 30
  type: Spec
metadata:
  autoImportSchema:
    users: false
    time_logs: false
    tags: false
    projects: false
    clients: false
