version: 4.3.2
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
  - subscriptions
definitions:
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
      - data
  paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: cursor
    page_size_option:
      type: RequestOption
      field_name: limit
      inject_into: request_parameter
    pagination_strategy:
      type: CursorPagination
      page_size: 50
      cursor_value: '{{ response.get("pagination_metadata", {}).get("next_cursor",
        {}) }}'
      stop_condition: >-
        {{ not response.get("pagination_metadata", {}).get("next_cursor", {}) }}
  requester:
    type: HttpRequester
    url_base: https://api.billwithorb.com/v1/
    http_method: GET
    request_headers: {}
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config['api_key'] }}"
    request_body_json: {}
  incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: created_at
    lookback_window: P{{ config.get('lookback_window_days', 0) }}D
    cursor_datetime_formats:
    - "%Y-%m-%d %H:%M:%S.%f+00:00"
    - "%Y-%m-%dT%H:%M:%S.%fZ"
    - "%Y-%m-%dT%H:%M:%SZ"
    datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    start_time_option:
      type: RequestOption
      field_name: created_at[gte]
      inject_into: request_parameter
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['end_date'] if config['end_date'] else now_utc().strftime('%Y-%m-%dT%H:%M:%SZ')
        }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    end_time_option:
      type: RequestOption
      field_name: created_at[lte]
      inject_into: request_parameter
  customers_stream:
    type: DeclarativeStream
    name: customers
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.billwithorb.com/v1/
        http_method: GET
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
        request_body_json: {}
        path: customers
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: cursor
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 50
          cursor_value: '{{ response.get("pagination_metadata", {}).get("next_cursor",
            {}) }}'
          stop_condition: >-
            {{ not response.get("pagination_metadata", {}).get("next_cursor", {})
            }}
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type:
        - "null"
        - object
        additionalProperties: true
        properties:
          id:
            description: The unique identifier of the customer.
            type: string
          external_customer_id:
            description: The ID of the customer in an external system.
            type:
            - string
            - "null"
          name:
            description: The name of the customer.
            type: string
          email:
            description: The email address of the customer.
            type:
            - string
            - "null"
          created_at:
            description: The date and time when the customer account was created.
            type:
            - "null"
            - string
            format: date-time
          payment_provider:
            description: The payment provider used by the customer.
            type:
            - "null"
            - string
          payment_provider_id:
            description: The ID of the customer in the payment provider's system.
            type:
            - "null"
            - string
          timezone:
            description: The timezone setting of the customer.
            type:
            - "null"
            - string
          shipping_address:
            description: The shipping address of the customer.
            type:
            - "null"
            - object
            properties:
              city:
                description: The city of the shipping address.
                type:
                - "null"
                - string
              country:
                description: The country of the shipping address.
                type:
                - "null"
                - string
              line1:
                description: The first line in the shipping address.
                type:
                - "null"
                - string
              line2:
                description: The second line in the shipping address if applicable.
                type:
                - "null"
                - string
              postal_code:
                description: The postal code of the shipping address.
                type:
                - "null"
                - string
              state:
                description: The state or region of the shipping address.
                type:
                - "null"
                - string
          billing_address:
            description: The billing address of the customer.
            type:
            - "null"
            - object
            properties:
              city:
                description: The city of the billing address.
                type:
                - "null"
                - string
              country:
                description: The country of the billing address.
                type:
                - "null"
                - string
              line1:
                description: The first line in the billing address.
                type:
                - "null"
                - string
              line2:
                description: The second line in the billing address if applicable.
                type:
                - "null"
                - string
              postal_code:
                description: The postal code of the billing address.
                type:
                - "null"
                - string
              state:
                description: The state or region of the billing address.
                type:
                - "null"
                - string
        required:
        - id
        - created_at
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: created_at
      lookback_window: P{{ config.get('lookback_window_days', 0) }}D
      cursor_datetime_formats:
      - "%Y-%m-%d %H:%M:%S.%f+00:00"
      - "%Y-%m-%dT%H:%M:%S.%fZ"
      - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: created_at[gte]
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['end_date'] if config['end_date'] else now_utc().strftime('%Y-%m-%dT%H:%M:%SZ')
          }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      end_time_option:
        type: RequestOption
        field_name: created_at[lte]
        inject_into: request_parameter
  subscriptions_stream:
    type: DeclarativeStream
    name: subscriptions
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.billwithorb.com/v1/
        http_method: GET
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
        request_body_json: {}
        path: subscriptions
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: cursor
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 50
          cursor_value: '{{ response.get("pagination_metadata", {}).get("next_cursor",
            {}) }}'
          stop_condition: >-
            {{ not response.get("pagination_metadata", {}).get("next_cursor", {})
            }}
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type:
        - "null"
        - object
        additionalProperties: true
        properties:
          id:
            description: The unique identifier of the subscription.
            type: string
          created_at:
            description: The date and time when the subscription was created.
            type:
            - "null"
            - string
            format: date-time
          customer_id:
            description: The unique identifier of the customer associated with the
              subscription.
            type: string
          external_customer_id:
            description: The external identifier of the customer associated with the
              subscription.
            type:
            - "null"
            - string
          start_date:
            description: The date and time when the subscription is set to start.
            type:
            - "null"
            - string
            format: date-time
          end_date:
            description: The date and time when the subscription is set to end.
            type:
            - "null"
            - string
            format: date-time
          plan_id:
            description: >-
              The unique identifier of the subscription plan assigned to the
              subscription.
            type: string
          status:
            description: The current status of the subscription.
            type: string
        required:
        - id
        - created_at
    transformations:
    - type: AddFields
      fields:
      - path:
        - customer_id
        value: "{{ record['customer']['id'] }}"
    - type: AddFields
      fields:
      - path:
        - external_customer_id
        value: "{{ record['customer']['external_customer_id'] }}"
    - type: RemoveFields
      field_pointers:
      - - customer
    - type: AddFields
      fields:
      - path:
        - plan_id
        value: "{{ record['plan']['id'] }}"
    - type: RemoveFields
      field_pointers:
      - - plan
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: created_at
      lookback_window: P{{ config.get('lookback_window_days', 0) }}D
      cursor_datetime_formats:
      - "%Y-%m-%d %H:%M:%S.%f+00:00"
      - "%Y-%m-%dT%H:%M:%S.%fZ"
      - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: created_at[gte]
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['end_date'] if config['end_date'] else now_utc().strftime('%Y-%m-%dT%H:%M:%SZ')
          }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      end_time_option:
        type: RequestOption
        field_name: created_at[lte]
        inject_into: request_parameter
  plans_stream:
    type: DeclarativeStream
    name: plans
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.billwithorb.com/v1/
        http_method: GET
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
        request_body_json: {}
        path: plans
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: cursor
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 50
          cursor_value: '{{ response.get("pagination_metadata", {}).get("next_cursor",
            {}) }}'
          stop_condition: >-
            {{ not response.get("pagination_metadata", {}).get("next_cursor", {})
            }}
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type:
        - "null"
        - object
        properties:
          id:
            description: The unique identifier of the plan
            type: string
          created_at:
            description: The timestamp of when the plan was created
            type:
            - "null"
            - string
            format: date-time
          description:
            description: A short description of the plan
            type:
            - "null"
            - string
          name:
            description: The name of the plan
            type:
            - "null"
            - string
          prices:
            description: An array of pricing options for the plan
            type:
            - array
            items:
              type: object
              properties:
                id:
                  description: The unique identifier of the price option
                  type: string
          product:
            description: The product to which the plan belongs
            type: object
            properties:
              id:
                description: The unique identifier of the product
                type: string
        required:
        - id
        - created_at
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: created_at
      lookback_window: P{{ config.get('lookback_window_days', 0) }}D
      cursor_datetime_formats:
      - "%Y-%m-%d %H:%M:%S.%f+00:00"
      - "%Y-%m-%dT%H:%M:%S.%fZ"
      - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: created_at[gte]
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['end_date'] if config['end_date'] else now_utc().strftime('%Y-%m-%dT%H:%M:%SZ')
          }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      end_time_option:
        type: RequestOption
        field_name: created_at[lte]
        inject_into: request_parameter
  invoices_stream:
    type: DeclarativeStream
    name: invoices
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.billwithorb.com/v1/
        http_method: GET
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
        request_body_json: {}
        path: invoices
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: cursor
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 50
          cursor_value: '{{ response.get("pagination_metadata", {}).get("next_cursor",
            {}) }}'
          stop_condition: >-
            {{ not response.get("pagination_metadata", {}).get("next_cursor", {})
            }}
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type:
        - "null"
        - object
        properties:
          id:
            description: The unique identifier of the invoice.
            type: string
          created_at:
            description: The date and time when the invoice was created.
            type:
            - "null"
            - string
            format: date-time
          invoice_date:
            description: The date when the invoice was issued.
            type:
            - string
            format: date-time
          due_date:
            description: The due date for the payment of the invoice.
            type:
            - string
            format: date-time
          invoice_pdf:
            description: The URL to download the PDF version of the invoice.
            type:
            - "null"
            - string
          subtotal:
            description: The subtotal amount before applying taxes or discounts.
            type:
            - string
          total:
            description: The total amount of the invoice including all charges.
            type:
            - string
          amount_due:
            description: The total amount due on the invoice.
            type:
            - string
          status:
            description: "The current status of the invoice (e.g., pending, paid,
              voided)."
            type:
            - string
          memo:
            description: Any additional notes or comments associated with the invoice.
            type:
            - "null"
            - string
          issue_failed_at:
            description: The date and time when issuing the invoice failed.
            type:
            - "null"
            - string
            format: date-time
          sync_failed_at:
            description: The date and time when syncing the invoice data failed.
            type:
            - "null"
            - string
            format: date-time
          payment_failed_at:
            description: The date and time when the payment for the invoice failed.
            type:
            - "null"
            - string
            format: date-time
          payment_started_at:
            description: The date and time when the payment process started for the
              invoice.
            type:
            - "null"
            - string
            format: date-time
          voided_at:
            description: The date and time when the invoice was voided.
            type:
            - "null"
            - string
            format: date-time
          paid_at:
            description: The date and time when the invoice was paid.
            type:
            - "null"
            - string
            format: date-time
          issued_at:
            description: The date and time when the invoice was issued.
            type:
            - "null"
            - string
            format: date-time
          hosted_invoice_url:
            description: The URL to view the hosted invoice online.
            type:
            - "null"
            - string
          line_items:
            description: The line items included in the invoice.
            type:
            - array
            items:
              type: object
              properties:
                id:
                  description: The unique identifier of the line item.
                  type: string
                quantity:
                  description: The quantity of the item included in the invoice.
                  type: number
                amount:
                  description: The amount for the line item.
                  type: string
                name:
                  description: The name or description of the line item.
                  type: string
                start_date:
                  description: The start date of the service period for the line item.
                  type:
                  - "null"
                  - string
                  format: date-time
                end_date:
                  description: The end date of the service period for the line item.
                  type:
                  - "null"
                  - string
                  format: date-time
          subscription:
            description: Information about the subscription associated with the invoice.
            type:
            - object
            - "null"
            properties:
              id:
                description: The unique identifier of the subscription.
                type: string
        required:
        - id
        - created_at
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: invoice_date
      lookback_window: P{{ config.get('lookback_window_days', 0) }}D
      cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S+00:00"
      datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: invoice_date[gte]
        inject_into: request_parameter
    partition_router:
    - type: ListPartitionRouter
      values:
      - void
      - paid
      - issued
      - synced
      cursor_field: status
      request_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: status[]
  credits_ledger_entries_stream:
    type: DeclarativeStream
    name: credits_ledger_entries
    primary_key: id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.billwithorb.com/v1/
        http_method: GET
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
        request_body_json: {}
        path: customers/{{ stream_partition.customer_id }}/credits/ledger
        request_parameters:
          entry_status: committed
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - data
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: cursor
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 50
          cursor_value: '{{ response.get("pagination_metadata", {}).get("next_cursor",
            {}) }}'
          stop_condition: >-
            {{ not response.get("pagination_metadata", {}).get("next_cursor", {})
            }}
      partition_router:
      - type: SubstreamPartitionRouter
        parent_stream_configs:
        - type: ParentStreamConfig
          parent_key: id
          partition_field: customer_id
          stream:
            type: DeclarativeStream
            name: customers
            primary_key: id
            retriever:
              type: SimpleRetriever
              requester:
                type: HttpRequester
                url_base: https://api.billwithorb.com/v1/
                http_method: GET
                request_headers: {}
                authenticator:
                  type: BearerAuthenticator
                  api_token: "{{ config['api_key'] }}"
                request_body_json: {}
                path: customers
                request_parameters: {}
              record_selector:
                type: RecordSelector
                extractor:
                  type: DpathExtractor
                  field_path:
                  - data
              paginator:
                type: DefaultPaginator
                page_token_option:
                  type: RequestOption
                  inject_into: request_parameter
                  field_name: cursor
                page_size_option:
                  type: RequestOption
                  field_name: limit
                  inject_into: request_parameter
                pagination_strategy:
                  type: CursorPagination
                  page_size: 50
                  cursor_value: '{{ response.get("pagination_metadata", {}).get("next_cursor",
                    {}) }}'
                  stop_condition: >-
                    {{ not response.get("pagination_metadata", {}).get("next_cursor",
                    {}) }}
            schema_loader:
              type: InlineSchemaLoader
              schema:
                $schema: "http://json-schema.org/draft-07/schema#"
                type:
                - "null"
                - object
                additionalProperties: true
                properties:
                  id:
                    description: The unique identifier of the customer.
                    type: string
                  external_customer_id:
                    description: The ID of the customer in an external system.
                    type:
                    - string
                    - "null"
                  name:
                    description: The name of the customer.
                    type: string
                  email:
                    description: The email address of the customer.
                    type:
                    - string
                    - "null"
                  created_at:
                    description: The date and time when the customer account was created.
                    type:
                    - "null"
                    - string
                    format: date-time
                  payment_provider:
                    description: The payment provider used by the customer.
                    type:
                    - "null"
                    - string
                  payment_provider_id:
                    description: The ID of the customer in the payment provider's
                      system.
                    type:
                    - "null"
                    - string
                  timezone:
                    description: The timezone setting of the customer.
                    type:
                    - "null"
                    - string
                  shipping_address:
                    description: The shipping address of the customer.
                    type:
                    - "null"
                    - object
                    properties:
                      city:
                        description: The city of the shipping address.
                        type:
                        - "null"
                        - string
                      country:
                        description: The country of the shipping address.
                        type:
                        - "null"
                        - string
                      line1:
                        description: The first line in the shipping address.
                        type:
                        - "null"
                        - string
                      line2:
                        description: The second line in the shipping address if applicable.
                        type:
                        - "null"
                        - string
                      postal_code:
                        description: The postal code of the shipping address.
                        type:
                        - "null"
                        - string
                      state:
                        description: The state or region of the shipping address.
                        type:
                        - "null"
                        - string
                  billing_address:
                    description: The billing address of the customer.
                    type:
                    - "null"
                    - object
                    properties:
                      city:
                        description: The city of the billing address.
                        type:
                        - "null"
                        - string
                      country:
                        description: The country of the billing address.
                        type:
                        - "null"
                        - string
                      line1:
                        description: The first line in the billing address.
                        type:
                        - "null"
                        - string
                      line2:
                        description: The second line in the billing address if applicable.
                        type:
                        - "null"
                        - string
                      postal_code:
                        description: The postal code of the billing address.
                        type:
                        - "null"
                        - string
                      state:
                        description: The state or region of the billing address.
                        type:
                        - "null"
                        - string
                required:
                - id
                - created_at
            incremental_sync:
              type: DatetimeBasedCursor
              cursor_field: created_at
              lookback_window: P{{ config.get('lookback_window_days', 0) }}D
              cursor_datetime_formats:
              - "%Y-%m-%d %H:%M:%S.%f+00:00"
              - "%Y-%m-%dT%H:%M:%S.%fZ"
              - "%Y-%m-%dT%H:%M:%SZ"
              datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
              start_datetime:
                type: MinMaxDatetime
                datetime: "{{ config['start_date'] }}"
                datetime_format: "%Y-%m-%dT%H:%M:%SZ"
              start_time_option:
                type: RequestOption
                field_name: created_at[gte]
                inject_into: request_parameter
              end_datetime:
                type: MinMaxDatetime
                datetime: "{{ config['end_date'] if config['end_date'] else now_utc().strftime('%Y-%m-%dT%H:%M:%SZ')
                  }}"
                datetime_format: "%Y-%m-%dT%H:%M:%SZ"
              end_time_option:
                type: RequestOption
                field_name: created_at[lte]
                inject_into: request_parameter
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type:
        - "null"
        - object
        properties:
          id:
            description: The unique ID of the ledger entry
            type: string
          starting_balance:
            description: The starting balance before the ledger entry
            type: number
          ending_balance:
            description: The ending balance after the ledger entry
            type: number
          amount:
            description: The amount of credits involved in the ledger entry
            type:
            - "null"
            - number
          block_expiry_date:
            description: The date and time when the credit block will expire
            type:
            - "null"
            - string
            format: date-time
          created_at:
            description: The date and time when the ledger entry was created
            type:
            - "null"
            - string
            format: date-time
          entry_type:
            description: "The type of ledger entry (e.g., debit, credit)"
            type: string
          new_block_expiry_date:
            description: The new expiry date and time of the credit block after the
              ledger entry
            type:
            - "null"
            - string
            format: date-time
          customer_id:
            description: The ID of the customer associated with the ledger entry
            type: string
          credit_block_per_unit_cost_basis:
            description: The cost per unit of the credit block
            type:
            - "null"
            - number
          description:
            description: A description of the ledger entry
            type:
            - "null"
            - string
          credit_block_id:
            description: The ID of the associated credit block
            type:
            - "null"
            - string
        required:
        - id
        - created_at
        - customer_id
        - credit_block_id
    transformations:
    - type: AddFields
      fields:
      - path:
        - customer_id
        value: "{{ record['customer']['id'] }}"
    - type: RemoveFields
      field_pointers:
      - - customer
    - type: AddFields
      fields:
      - path:
        - block_expiry_date
        value: "{{ record['credit_block']['expiry_date'] }}"
    - type: AddFields
      fields:
      - path:
        - credit_block_id
        value: "{{ record['credit_block']['id'] }}"
    - type: AddFields
      fields:
      - path:
        - credit_block_per_unit_cost_basis
        value: "{{ record['credit_block']['per_unit_cost_basis'] }}"
    - type: RemoveFields
      field_pointers:
      - - credit_block
    - type: AddFields
      fields:
      - path:
        - event
        - id
        value: "{{ record['event_id'] }}"
    - type: RemoveFields
      field_pointers:
      - - event_id
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: created_at
      lookback_window: P{{ config.get('lookback_window_days', 0) }}D
      cursor_datetime_formats:
      - "%Y-%m-%d %H:%M:%S.%f+00:00"
      - "%Y-%m-%dT%H:%M:%S.%fZ"
      - "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: created_at[gte]
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['end_date'] if config['end_date'] else now_utc().strftime('%Y-%m-%dT%H:%M:%SZ')
          }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      end_time_option:
        type: RequestOption
        field_name: created_at[lte]
        inject_into: request_parameter
  subscription_usage_stream:
    type: DeclarativeStream
    name: subscription_usage
    primary_key:
    - subscription_id
    - billable_metric_id
    - timeframe_start
    - grouping_key
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.billwithorb.com/v1/
        http_method: GET
        request_headers: {}
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
        request_body_json: {}
        path: subscriptions/{{ stream_partition.subscription_id }}/usage
        request_parameters:
          group_by: "{{ config.get('subscription_usage_grouping_key', '') }}"
          granularity: day
          billable_metric_id: "{{ stream_partition.billable_metric_id }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
          - data
      partition_router:
      - type: CustomPartitionRouter
        class_name: source_declarative_manifest.components.SubscriptionUsagePartitionRouter
        plans_stream:
          type: DeclarativeStream
          name: plans
          primary_key: id
          retriever:
            type: SimpleRetriever
            requester:
              type: HttpRequester
              url_base: https://api.billwithorb.com/v1/
              http_method: GET
              request_headers: {}
              authenticator:
                type: BearerAuthenticator
                api_token: "{{ config['api_key'] }}"
              request_body_json: {}
              path: plans
              request_parameters: {}
            record_selector:
              type: RecordSelector
              extractor:
                type: DpathExtractor
                field_path:
                - data
            paginator:
              type: DefaultPaginator
              page_token_option:
                type: RequestOption
                inject_into: request_parameter
                field_name: cursor
              page_size_option:
                type: RequestOption
                field_name: limit
                inject_into: request_parameter
              pagination_strategy:
                type: CursorPagination
                page_size: 50
                cursor_value: '{{ response.get("pagination_metadata", {}).get("next_cursor",
                  {}) }}'
                stop_condition: >-
                  {{ not response.get("pagination_metadata", {}).get("next_cursor",
                  {}) }}
          schema_loader:
            type: InlineSchemaLoader
            schema:
              $schema: "http://json-schema.org/draft-07/schema#"
              type:
              - "null"
              - object
              properties:
                id:
                  description: The unique identifier of the plan
                  type: string
                created_at:
                  description: The timestamp of when the plan was created
                  type:
                  - "null"
                  - string
                  format: date-time
                description:
                  description: A short description of the plan
                  type:
                  - "null"
                  - string
                name:
                  description: The name of the plan
                  type:
                  - "null"
                  - string
                prices:
                  description: An array of pricing options for the plan
                  type:
                  - array
                  items:
                    type: object
                    properties:
                      id:
                        description: The unique identifier of the price option
                        type: string
                product:
                  description: The product to which the plan belongs
                  type: object
                  properties:
                    id:
                      description: The unique identifier of the product
                      type: string
              required:
              - id
              - created_at
          incremental_sync:
            type: DatetimeBasedCursor
            cursor_field: created_at
            lookback_window: P{{ config.get('lookback_window_days', 0) }}D
            cursor_datetime_formats:
            - "%Y-%m-%d %H:%M:%S.%f+00:00"
            - "%Y-%m-%dT%H:%M:%S.%fZ"
            - "%Y-%m-%dT%H:%M:%SZ"
            datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
            start_datetime:
              type: MinMaxDatetime
              datetime: "{{ config['start_date'] }}"
              datetime_format: "%Y-%m-%dT%H:%M:%SZ"
            start_time_option:
              type: RequestOption
              field_name: created_at[gte]
              inject_into: request_parameter
            end_datetime:
              type: MinMaxDatetime
              datetime: "{{ config['end_date'] if config['end_date'] else now_utc().strftime('%Y-%m-%dT%H:%M:%SZ')
                }}"
              datetime_format: "%Y-%m-%dT%H:%M:%SZ"
            end_time_option:
              type: RequestOption
              field_name: created_at[lte]
              inject_into: request_parameter
        subscriptions_stream:
          type: DeclarativeStream
          name: subscriptions
          primary_key: id
          retriever:
            type: SimpleRetriever
            requester:
              type: HttpRequester
              url_base: https://api.billwithorb.com/v1/
              http_method: GET
              request_headers: {}
              authenticator:
                type: BearerAuthenticator
                api_token: "{{ config['api_key'] }}"
              request_body_json: {}
              path: subscriptions
              request_parameters: {}
            record_selector:
              type: RecordSelector
              extractor:
                type: DpathExtractor
                field_path:
                - data
            paginator:
              type: DefaultPaginator
              page_token_option:
                type: RequestOption
                inject_into: request_parameter
                field_name: cursor
              page_size_option:
                type: RequestOption
                field_name: limit
                inject_into: request_parameter
              pagination_strategy:
                type: CursorPagination
                page_size: 50
                cursor_value: '{{ response.get("pagination_metadata", {}).get("next_cursor",
                  {}) }}'
                stop_condition: >-
                  {{ not response.get("pagination_metadata", {}).get("next_cursor",
                  {}) }}
          schema_loader:
            type: InlineSchemaLoader
            schema:
              $schema: "http://json-schema.org/draft-07/schema#"
              type:
              - "null"
              - object
              additionalProperties: true
              properties:
                id:
                  description: The unique identifier of the subscription.
                  type: string
                created_at:
                  description: The date and time when the subscription was created.
                  type:
                  - "null"
                  - string
                  format: date-time
                customer_id:
                  description: The unique identifier of the customer associated with
                    the subscription.
                  type: string
                external_customer_id:
                  description: The external identifier of the customer associated
                    with the subscription.
                  type:
                  - "null"
                  - string
                start_date:
                  description: The date and time when the subscription is set to start.
                  type:
                  - "null"
                  - string
                  format: date-time
                end_date:
                  description: The date and time when the subscription is set to end.
                  type:
                  - "null"
                  - string
                  format: date-time
                plan_id:
                  description: >-
                    The unique identifier of the subscription plan assigned to the
                    subscription.
                  type: string
                status:
                  description: The current status of the subscription.
                  type: string
              required:
              - id
              - created_at
          transformations:
          - type: AddFields
            fields:
            - path:
              - customer_id
              value: "{{ record['customer']['id'] }}"
          - type: AddFields
            fields:
            - path:
              - external_customer_id
              value: "{{ record['customer']['external_customer_id'] }}"
          - type: RemoveFields
            field_pointers:
            - - customer
          - type: AddFields
            fields:
            - path:
              - plan_id
              value: "{{ record['plan']['id'] }}"
          - type: RemoveFields
            field_pointers:
            - - plan
          incremental_sync:
            type: DatetimeBasedCursor
            cursor_field: created_at
            lookback_window: P{{ config.get('lookback_window_days', 0) }}D
            cursor_datetime_formats:
            - "%Y-%m-%d %H:%M:%S.%f+00:00"
            - "%Y-%m-%dT%H:%M:%S.%fZ"
            - "%Y-%m-%dT%H:%M:%SZ"
            datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
            start_datetime:
              type: MinMaxDatetime
              datetime: "{{ config['start_date'] }}"
              datetime_format: "%Y-%m-%dT%H:%M:%SZ"
            start_time_option:
              type: RequestOption
              field_name: created_at[gte]
              inject_into: request_parameter
            end_datetime:
              type: MinMaxDatetime
              datetime: "{{ config['end_date'] if config['end_date'] else now_utc().strftime('%Y-%m-%dT%H:%M:%SZ')
                }}"
              datetime_format: "%Y-%m-%dT%H:%M:%SZ"
            end_time_option:
              type: RequestOption
              field_name: created_at[lte]
              inject_into: request_parameter
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "http://json-schema.org/draft-07/schema#"
        type:
        - "null"
        - object
        additionalProperties: true
        properties:
          quantity:
            description: Quantity of the billable metric used during the specified
              timeframe
            type: number
          timeframe_start:
            description: Start timestamp of the timeframe during which the usage data
              is captured
            type: string
            format: date-time
          timeframe_end:
            description: End timestamp of the timeframe during which the usage data
              is captured
            type: string
            format: date-time
          billable_metric_name:
            description: Name of the billable metric associated with the subscription
              usage
            type: string
          billable_metric_id:
            description: >-
              Unique identifier for the billable metric associated with the subscription
              usage
            type: string
          subscription_id:
            description: Unique identifier for the subscription the usage data belongs
              to
            type: string
          grouping_key:
            type:
            - "null"
            - string
        required:
        - timeframe_start
        - timeframe_end
        - billable_metric_id
        - subscription_id
    transformations:
    - type: RemoveFields
      field_pointers:
      - - usage
    - type: CustomTransformation
      class_name: source_declarative_manifest.components.SubscriptionUsageTransformation
      subscription_id: "{{ stream_partition.subscription_id }}"
    - type: AddFields
      fields:
      - path:
        - grouping_key
        value: "{{ config.get('subscription_usage_grouping_key', '') }}"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: timeframe_start
      lookback_window: P{{ config.get('lookback_window_days', 0) }}D
      cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S.%f%z"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        field_name: timeframe_start
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: timeframe_end
        inject_into: request_parameter
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
streams:
- type: DeclarativeStream
  name: subscriptions
  primary_key: id
  retriever:
    type: SimpleRetriever
    requester:
      type: HttpRequester
      url_base: https://api.billwithorb.com/v1/
      http_method: GET
      request_headers: {}
      authenticator:
        type: BearerAuthenticator
        api_token: "{{ config['api_key'] }}"
      request_body_json: {}
      path: subscriptions
      request_parameters: {}
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path:
        - data
    paginator:
      type: DefaultPaginator
      page_token_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: cursor
      page_size_option:
        type: RequestOption
        field_name: limit
        inject_into: request_parameter
      pagination_strategy:
        type: CursorPagination
        page_size: 50
        cursor_value: '{{ response.get("pagination_metadata", {}).get("next_cursor",
          {}) }}'
        stop_condition: >-
          {{ not response.get("pagination_metadata", {}).get("next_cursor", {}) }}
  schema_loader:
    type: InlineSchemaLoader
    schema:
      $schema: "http://json-schema.org/draft-07/schema#"
      type:
      - "null"
      - object
      additionalProperties: true
      properties:
        id:
          description: The unique identifier of the subscription.
          type: string
        created_at:
          description: The date and time when the subscription was created.
          type:
          - "null"
          - string
          format: date-time
        customer_id:
          description: The unique identifier of the customer associated with the subscription.
          type: string
        external_customer_id:
          description: The external identifier of the customer associated with the
            subscription.
          type:
          - "null"
          - string
        start_date:
          description: The date and time when the subscription is set to start.
          type:
          - "null"
          - string
          format: date-time
        end_date:
          description: The date and time when the subscription is set to end.
          type:
          - "null"
          - string
          format: date-time
        plan_id:
          description: >-
            The unique identifier of the subscription plan assigned to the
            subscription.
          type: string
        status:
          description: The current status of the subscription.
          type: string
      required:
      - id
      - created_at
  transformations:
  - type: AddFields
    fields:
    - path:
      - customer_id
      value: "{{ record['customer']['id'] }}"
      type: AddedFieldDefinition
  - type: AddFields
    fields:
    - path:
      - external_customer_id
      value: "{{ record['customer']['external_customer_id'] }}"
      type: AddedFieldDefinition
  - type: RemoveFields
    field_pointers:
    - - customer
  - type: AddFields
    fields:
    - path:
      - plan_id
      value: "{{ record['plan']['id'] }}"
      type: AddedFieldDefinition
  - type: RemoveFields
    field_pointers:
    - - plan
  incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: created_at
    lookback_window: P{{ config.get('lookback_window_days', 0) }}D
    cursor_datetime_formats:
    - "%Y-%m-%d %H:%M:%S.%f+00:00"
    - "%Y-%m-%dT%H:%M:%S.%fZ"
    - "%Y-%m-%dT%H:%M:%SZ"
    datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    start_time_option:
      type: RequestOption
      field_name: created_at[gte]
      inject_into: request_parameter
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['end_date'] if config['end_date'] else now_utc().strftime('%Y-%m-%dT%H:%M:%SZ')
        }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    end_time_option:
      type: RequestOption
      field_name: created_at[lte]
      inject_into: request_parameter
- type: DeclarativeStream
  name: customers
  primary_key: id
  retriever:
    type: SimpleRetriever
    requester:
      type: HttpRequester
      url_base: https://api.billwithorb.com/v1/
      http_method: GET
      request_headers: {}
      authenticator:
        type: BearerAuthenticator
        api_token: "{{ config['api_key'] }}"
      request_body_json: {}
      path: customers
      request_parameters: {}
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path:
        - data
    paginator:
      type: DefaultPaginator
      page_token_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: cursor
      page_size_option:
        type: RequestOption
        field_name: limit
        inject_into: request_parameter
      pagination_strategy:
        type: CursorPagination
        page_size: 50
        cursor_value: '{{ response.get("pagination_metadata", {}).get("next_cursor",
          {}) }}'
        stop_condition: >-
          {{ not response.get("pagination_metadata", {}).get("next_cursor", {}) }}
  schema_loader:
    type: InlineSchemaLoader
    schema:
      $schema: "http://json-schema.org/draft-07/schema#"
      type:
      - "null"
      - object
      additionalProperties: true
      properties:
        id:
          description: The unique identifier of the customer.
          type: string
        external_customer_id:
          description: The ID of the customer in an external system.
          type:
          - string
          - "null"
        name:
          description: The name of the customer.
          type: string
        email:
          description: The email address of the customer.
          type:
          - string
          - "null"
        created_at:
          description: The date and time when the customer account was created.
          type:
          - "null"
          - string
          format: date-time
        payment_provider:
          description: The payment provider used by the customer.
          type:
          - "null"
          - string
        payment_provider_id:
          description: The ID of the customer in the payment provider's system.
          type:
          - "null"
          - string
        timezone:
          description: The timezone setting of the customer.
          type:
          - "null"
          - string
        shipping_address:
          description: The shipping address of the customer.
          type:
          - "null"
          - object
          properties:
            city:
              description: The city of the shipping address.
              type:
              - "null"
              - string
            country:
              description: The country of the shipping address.
              type:
              - "null"
              - string
            line1:
              description: The first line in the shipping address.
              type:
              - "null"
              - string
            line2:
              description: The second line in the shipping address if applicable.
              type:
              - "null"
              - string
            postal_code:
              description: The postal code of the shipping address.
              type:
              - "null"
              - string
            state:
              description: The state or region of the shipping address.
              type:
              - "null"
              - string
        billing_address:
          description: The billing address of the customer.
          type:
          - "null"
          - object
          properties:
            city:
              description: The city of the billing address.
              type:
              - "null"
              - string
            country:
              description: The country of the billing address.
              type:
              - "null"
              - string
            line1:
              description: The first line in the billing address.
              type:
              - "null"
              - string
            line2:
              description: The second line in the billing address if applicable.
              type:
              - "null"
              - string
            postal_code:
              description: The postal code of the billing address.
              type:
              - "null"
              - string
            state:
              description: The state or region of the billing address.
              type:
              - "null"
              - string
      required:
      - id
      - created_at
  incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: created_at
    lookback_window: P{{ config.get('lookback_window_days', 0) }}D
    cursor_datetime_formats:
    - "%Y-%m-%d %H:%M:%S.%f+00:00"
    - "%Y-%m-%dT%H:%M:%S.%fZ"
    - "%Y-%m-%dT%H:%M:%SZ"
    datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    start_time_option:
      type: RequestOption
      field_name: created_at[gte]
      inject_into: request_parameter
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['end_date'] if config['end_date'] else now_utc().strftime('%Y-%m-%dT%H:%M:%SZ')
        }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    end_time_option:
      type: RequestOption
      field_name: created_at[lte]
      inject_into: request_parameter
- type: DeclarativeStream
  name: subscription_usage
  primary_key:
  - subscription_id
  - billable_metric_id
  - timeframe_start
  - grouping_key
  retriever:
    type: SimpleRetriever
    requester:
      type: HttpRequester
      url_base: https://api.billwithorb.com/v1/
      http_method: GET
      request_headers: {}
      authenticator:
        type: BearerAuthenticator
        api_token: "{{ config['api_key'] }}"
      request_body_json: {}
      path: subscriptions/{{ stream_partition.subscription_id }}/usage
      request_parameters:
        group_by: "{{ config.get('subscription_usage_grouping_key', '') }}"
        granularity: day
        billable_metric_id: "{{ stream_partition.billable_metric_id }}"
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path:
        - data
    partition_router:
    - type: CustomPartitionRouter
      class_name: source_declarative_manifest.components.SubscriptionUsagePartitionRouter
      plans_stream:
        type: DeclarativeStream
        name: plans
        primary_key: id
        retriever:
          type: SimpleRetriever
          requester:
            type: HttpRequester
            url_base: https://api.billwithorb.com/v1/
            http_method: GET
            request_headers: {}
            authenticator:
              type: BearerAuthenticator
              api_token: "{{ config['api_key'] }}"
            request_body_json: {}
            path: plans
            request_parameters: {}
          record_selector:
            type: RecordSelector
            extractor:
              type: DpathExtractor
              field_path:
              - data
          paginator:
            type: DefaultPaginator
            page_token_option:
              type: RequestOption
              inject_into: request_parameter
              field_name: cursor
            page_size_option:
              type: RequestOption
              field_name: limit
              inject_into: request_parameter
            pagination_strategy:
              type: CursorPagination
              page_size: 50
              cursor_value: '{{ response.get("pagination_metadata", {}).get("next_cursor",
                {}) }}'
              stop_condition: >-
                {{ not response.get("pagination_metadata", {}).get("next_cursor",
                {}) }}
        schema_loader:
          type: InlineSchemaLoader
          schema:
            $schema: "http://json-schema.org/draft-07/schema#"
            type:
            - "null"
            - object
            properties:
              id:
                description: The unique identifier of the plan
                type: string
              created_at:
                description: The timestamp of when the plan was created
                type:
                - "null"
                - string
                format: date-time
              description:
                description: A short description of the plan
                type:
                - "null"
                - string
              name:
                description: The name of the plan
                type:
                - "null"
                - string
              prices:
                description: An array of pricing options for the plan
                type:
                - array
                items:
                  type: object
                  properties:
                    id:
                      description: The unique identifier of the price option
                      type: string
              product:
                description: The product to which the plan belongs
                type: object
                properties:
                  id:
                    description: The unique identifier of the product
                    type: string
            required:
            - id
            - created_at
        incremental_sync:
          type: DatetimeBasedCursor
          cursor_field: created_at
          lookback_window: P{{ config.get('lookback_window_days', 0) }}D
          cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%dT%H:%M:%SZ"
          datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
          start_datetime:
            type: MinMaxDatetime
            datetime: "{{ config['start_date'] }}"
            datetime_format: "%Y-%m-%dT%H:%M:%SZ"
          start_time_option:
            type: RequestOption
            field_name: created_at[gte]
            inject_into: request_parameter
          end_datetime:
            type: MinMaxDatetime
            datetime: "{{ config['end_date'] if config['end_date'] else now_utc().strftime('%Y-%m-%dT%H:%M:%SZ')
              }}"
            datetime_format: "%Y-%m-%dT%H:%M:%SZ"
          end_time_option:
            type: RequestOption
            field_name: created_at[lte]
            inject_into: request_parameter
      subscriptions_stream:
        type: DeclarativeStream
        name: subscriptions
        primary_key: id
        retriever:
          type: SimpleRetriever
          requester:
            type: HttpRequester
            url_base: https://api.billwithorb.com/v1/
            http_method: GET
            request_headers: {}
            authenticator:
              type: BearerAuthenticator
              api_token: "{{ config['api_key'] }}"
            request_body_json: {}
            path: subscriptions
            request_parameters: {}
          record_selector:
            type: RecordSelector
            extractor:
              type: DpathExtractor
              field_path:
              - data
          paginator:
            type: DefaultPaginator
            page_token_option:
              type: RequestOption
              inject_into: request_parameter
              field_name: cursor
            page_size_option:
              type: RequestOption
              field_name: limit
              inject_into: request_parameter
            pagination_strategy:
              type: CursorPagination
              page_size: 50
              cursor_value: '{{ response.get("pagination_metadata", {}).get("next_cursor",
                {}) }}'
              stop_condition: >-
                {{ not response.get("pagination_metadata", {}).get("next_cursor",
                {}) }}
        schema_loader:
          type: InlineSchemaLoader
          schema:
            $schema: "http://json-schema.org/draft-07/schema#"
            type:
            - "null"
            - object
            additionalProperties: true
            properties:
              id:
                description: The unique identifier of the subscription.
                type: string
              created_at:
                description: The date and time when the subscription was created.
                type:
                - "null"
                - string
                format: date-time
              customer_id:
                description: The unique identifier of the customer associated with
                  the subscription.
                type: string
              external_customer_id:
                description: The external identifier of the customer associated with
                  the subscription.
                type:
                - "null"
                - string
              start_date:
                description: The date and time when the subscription is set to start.
                type:
                - "null"
                - string
                format: date-time
              end_date:
                description: The date and time when the subscription is set to end.
                type:
                - "null"
                - string
                format: date-time
              plan_id:
                description: >-
                  The unique identifier of the subscription plan assigned to the
                  subscription.
                type: string
              status:
                description: The current status of the subscription.
                type: string
            required:
            - id
            - created_at
        transformations:
        - type: AddFields
          fields:
          - path:
            - customer_id
            value: "{{ record['customer']['id'] }}"
            type: AddedFieldDefinition
        - type: AddFields
          fields:
          - path:
            - external_customer_id
            value: "{{ record['customer']['external_customer_id'] }}"
            type: AddedFieldDefinition
        - type: RemoveFields
          field_pointers:
          - - customer
        - type: AddFields
          fields:
          - path:
            - plan_id
            value: "{{ record['plan']['id'] }}"
            type: AddedFieldDefinition
        - type: RemoveFields
          field_pointers:
          - - plan
        incremental_sync:
          type: DatetimeBasedCursor
          cursor_field: created_at
          lookback_window: P{{ config.get('lookback_window_days', 0) }}D
          cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S.%f+00:00"
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%dT%H:%M:%SZ"
          datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
          start_datetime:
            type: MinMaxDatetime
            datetime: "{{ config['start_date'] }}"
            datetime_format: "%Y-%m-%dT%H:%M:%SZ"
          start_time_option:
            type: RequestOption
            field_name: created_at[gte]
            inject_into: request_parameter
          end_datetime:
            type: MinMaxDatetime
            datetime: "{{ config['end_date'] if config['end_date'] else now_utc().strftime('%Y-%m-%dT%H:%M:%SZ')
              }}"
            datetime_format: "%Y-%m-%dT%H:%M:%SZ"
          end_time_option:
            type: RequestOption
            field_name: created_at[lte]
            inject_into: request_parameter
  schema_loader:
    type: InlineSchemaLoader
    schema:
      $schema: "http://json-schema.org/draft-07/schema#"
      type:
      - "null"
      - object
      additionalProperties: true
      properties:
        quantity:
          description: Quantity of the billable metric used during the specified timeframe
          type: number
        timeframe_start:
          description: Start timestamp of the timeframe during which the usage data
            is captured
          type: string
          format: date-time
        timeframe_end:
          description: End timestamp of the timeframe during which the usage data
            is captured
          type: string
          format: date-time
        billable_metric_name:
          description: Name of the billable metric associated with the subscription
            usage
          type: string
        billable_metric_id:
          description: >-
            Unique identifier for the billable metric associated with the subscription
            usage
          type: string
        subscription_id:
          description: Unique identifier for the subscription the usage data belongs
            to
          type: string
        grouping_key:
          type:
          - "null"
          - string
      required:
      - timeframe_start
      - timeframe_end
      - billable_metric_id
      - subscription_id
  transformations:
  - type: RemoveFields
    field_pointers:
    - - usage
  - type: CustomTransformation
    class_name: source_declarative_manifest.components.SubscriptionUsageTransformation
    subscription_id: "{{ stream_partition.subscription_id }}"
  - type: AddFields
    fields:
    - path:
      - grouping_key
      value: "{{ config.get('subscription_usage_grouping_key', '') }}"
      type: AddedFieldDefinition
  incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: timeframe_start
    lookback_window: P{{ config.get('lookback_window_days', 0) }}D
    cursor_datetime_formats:
    - "%Y-%m-%dT%H:%M:%S.%f%z"
    datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    start_time_option:
      type: RequestOption
      field_name: timeframe_start
      inject_into: request_parameter
    end_time_option:
      type: RequestOption
      field_name: timeframe_end
      inject_into: request_parameter
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
- type: DeclarativeStream
  name: plans
  primary_key: id
  retriever:
    type: SimpleRetriever
    requester:
      type: HttpRequester
      url_base: https://api.billwithorb.com/v1/
      http_method: GET
      request_headers: {}
      authenticator:
        type: BearerAuthenticator
        api_token: "{{ config['api_key'] }}"
      request_body_json: {}
      path: plans
      request_parameters: {}
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path:
        - data
    paginator:
      type: DefaultPaginator
      page_token_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: cursor
      page_size_option:
        type: RequestOption
        field_name: limit
        inject_into: request_parameter
      pagination_strategy:
        type: CursorPagination
        page_size: 50
        cursor_value: '{{ response.get("pagination_metadata", {}).get("next_cursor",
          {}) }}'
        stop_condition: >-
          {{ not response.get("pagination_metadata", {}).get("next_cursor", {}) }}
  schema_loader:
    type: InlineSchemaLoader
    schema:
      $schema: "http://json-schema.org/draft-07/schema#"
      type:
      - "null"
      - object
      properties:
        id:
          description: The unique identifier of the plan
          type: string
        created_at:
          description: The timestamp of when the plan was created
          type:
          - "null"
          - string
          format: date-time
        description:
          description: A short description of the plan
          type:
          - "null"
          - string
        name:
          description: The name of the plan
          type:
          - "null"
          - string
        prices:
          description: An array of pricing options for the plan
          type:
          - array
          items:
            type: object
            properties:
              id:
                description: The unique identifier of the price option
                type: string
        product:
          description: The product to which the plan belongs
          type: object
          properties:
            id:
              description: The unique identifier of the product
              type: string
      required:
      - id
      - created_at
  incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: created_at
    lookback_window: P{{ config.get('lookback_window_days', 0) }}D
    cursor_datetime_formats:
    - "%Y-%m-%d %H:%M:%S.%f+00:00"
    - "%Y-%m-%dT%H:%M:%S.%fZ"
    - "%Y-%m-%dT%H:%M:%SZ"
    datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    start_time_option:
      type: RequestOption
      field_name: created_at[gte]
      inject_into: request_parameter
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['end_date'] if config['end_date'] else now_utc().strftime('%Y-%m-%dT%H:%M:%SZ')
        }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    end_time_option:
      type: RequestOption
      field_name: created_at[lte]
      inject_into: request_parameter
- type: DeclarativeStream
  name: invoices
  primary_key: id
  retriever:
    type: SimpleRetriever
    requester:
      type: HttpRequester
      url_base: https://api.billwithorb.com/v1/
      http_method: GET
      request_headers: {}
      authenticator:
        type: BearerAuthenticator
        api_token: "{{ config['api_key'] }}"
      request_body_json: {}
      path: invoices
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path:
        - data
    paginator:
      type: DefaultPaginator
      page_token_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: cursor
      page_size_option:
        type: RequestOption
        field_name: limit
        inject_into: request_parameter
      pagination_strategy:
        type: CursorPagination
        page_size: 50
        cursor_value: '{{ response.get("pagination_metadata", {}).get("next_cursor",
          {}) }}'
        stop_condition: >-
          {{ not response.get("pagination_metadata", {}).get("next_cursor", {}) }}
  schema_loader:
    type: InlineSchemaLoader
    schema:
      $schema: "http://json-schema.org/draft-07/schema#"
      type:
      - "null"
      - object
      properties:
        id:
          description: The unique identifier of the invoice.
          type: string
        created_at:
          description: The date and time when the invoice was created.
          type:
          - "null"
          - string
          format: date-time
        invoice_date:
          description: The date when the invoice was issued.
          type:
          - string
          format: date-time
        due_date:
          description: The due date for the payment of the invoice.
          type:
          - string
          format: date-time
        invoice_pdf:
          description: The URL to download the PDF version of the invoice.
          type:
          - "null"
          - string
        subtotal:
          description: The subtotal amount before applying taxes or discounts.
          type:
          - string
        total:
          description: The total amount of the invoice including all charges.
          type:
          - string
        amount_due:
          description: The total amount due on the invoice.
          type:
          - string
        status:
          description: "The current status of the invoice (e.g., pending, paid, voided)."
          type:
          - string
        memo:
          description: Any additional notes or comments associated with the invoice.
          type:
          - "null"
          - string
        issue_failed_at:
          description: The date and time when issuing the invoice failed.
          type:
          - "null"
          - string
          format: date-time
        sync_failed_at:
          description: The date and time when syncing the invoice data failed.
          type:
          - "null"
          - string
          format: date-time
        payment_failed_at:
          description: The date and time when the payment for the invoice failed.
          type:
          - "null"
          - string
          format: date-time
        payment_started_at:
          description: The date and time when the payment process started for the
            invoice.
          type:
          - "null"
          - string
          format: date-time
        voided_at:
          description: The date and time when the invoice was voided.
          type:
          - "null"
          - string
          format: date-time
        paid_at:
          description: The date and time when the invoice was paid.
          type:
          - "null"
          - string
          format: date-time
        issued_at:
          description: The date and time when the invoice was issued.
          type:
          - "null"
          - string
          format: date-time
        hosted_invoice_url:
          description: The URL to view the hosted invoice online.
          type:
          - "null"
          - string
        line_items:
          description: The line items included in the invoice.
          type:
          - array
          items:
            type: object
            properties:
              id:
                description: The unique identifier of the line item.
                type: string
              quantity:
                description: The quantity of the item included in the invoice.
                type: number
              amount:
                description: The amount for the line item.
                type: string
              name:
                description: The name or description of the line item.
                type: string
              start_date:
                description: The start date of the service period for the line item.
                type:
                - "null"
                - string
                format: date-time
              end_date:
                description: The end date of the service period for the line item.
                type:
                - "null"
                - string
                format: date-time
        subscription:
          description: Information about the subscription associated with the invoice.
          type:
          - object
          - "null"
          properties:
            id:
              description: The unique identifier of the subscription.
              type: string
      required:
      - id
      - created_at
  incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: invoice_date
    lookback_window: P{{ config.get('lookback_window_days', 0) }}D
    cursor_datetime_formats:
    - "%Y-%m-%dT%H:%M:%S+00:00"
    datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    start_time_option:
      type: RequestOption
      field_name: invoice_date[gte]
      inject_into: request_parameter
  partition_router:
  - type: ListPartitionRouter
    values:
    - void
    - paid
    - issued
    - synced
    cursor_field: status
    request_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: status[]
- type: DeclarativeStream
  name: credits_ledger_entries
  primary_key: id
  retriever:
    type: SimpleRetriever
    requester:
      type: HttpRequester
      url_base: https://api.billwithorb.com/v1/
      http_method: GET
      request_headers: {}
      authenticator:
        type: BearerAuthenticator
        api_token: "{{ config['api_key'] }}"
      request_body_json: {}
      path: customers/{{ stream_partition.customer_id }}/credits/ledger
      request_parameters:
        entry_status: committed
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path:
        - data
    paginator:
      type: DefaultPaginator
      page_token_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: cursor
      page_size_option:
        type: RequestOption
        field_name: limit
        inject_into: request_parameter
      pagination_strategy:
        type: CursorPagination
        page_size: 50
        cursor_value: '{{ response.get("pagination_metadata", {}).get("next_cursor",
          {}) }}'
        stop_condition: >-
          {{ not response.get("pagination_metadata", {}).get("next_cursor", {}) }}
    partition_router:
    - type: SubstreamPartitionRouter
      parent_stream_configs:
      - type: ParentStreamConfig
        parent_key: id
        partition_field: customer_id
        stream:
          type: DeclarativeStream
          name: customers
          primary_key: id
          retriever:
            type: SimpleRetriever
            requester:
              type: HttpRequester
              url_base: https://api.billwithorb.com/v1/
              http_method: GET
              request_headers: {}
              authenticator:
                type: BearerAuthenticator
                api_token: "{{ config['api_key'] }}"
              request_body_json: {}
              path: customers
              request_parameters: {}
            record_selector:
              type: RecordSelector
              extractor:
                type: DpathExtractor
                field_path:
                - data
            paginator:
              type: DefaultPaginator
              page_token_option:
                type: RequestOption
                inject_into: request_parameter
                field_name: cursor
              page_size_option:
                type: RequestOption
                field_name: limit
                inject_into: request_parameter
              pagination_strategy:
                type: CursorPagination
                page_size: 50
                cursor_value: '{{ response.get("pagination_metadata", {}).get("next_cursor",
                  {}) }}'
                stop_condition: >-
                  {{ not response.get("pagination_metadata", {}).get("next_cursor",
                  {}) }}
          schema_loader:
            type: InlineSchemaLoader
            schema:
              $schema: "http://json-schema.org/draft-07/schema#"
              type:
              - "null"
              - object
              additionalProperties: true
              properties:
                id:
                  description: The unique identifier of the customer.
                  type: string
                external_customer_id:
                  description: The ID of the customer in an external system.
                  type:
                  - string
                  - "null"
                name:
                  description: The name of the customer.
                  type: string
                email:
                  description: The email address of the customer.
                  type:
                  - string
                  - "null"
                created_at:
                  description: The date and time when the customer account was created.
                  type:
                  - "null"
                  - string
                  format: date-time
                payment_provider:
                  description: The payment provider used by the customer.
                  type:
                  - "null"
                  - string
                payment_provider_id:
                  description: The ID of the customer in the payment provider's system.
                  type:
                  - "null"
                  - string
                timezone:
                  description: The timezone setting of the customer.
                  type:
                  - "null"
                  - string
                shipping_address:
                  description: The shipping address of the customer.
                  type:
                  - "null"
                  - object
                  properties:
                    city:
                      description: The city of the shipping address.
                      type:
                      - "null"
                      - string
                    country:
                      description: The country of the shipping address.
                      type:
                      - "null"
                      - string
                    line1:
                      description: The first line in the shipping address.
                      type:
                      - "null"
                      - string
                    line2:
                      description: The second line in the shipping address if applicable.
                      type:
                      - "null"
                      - string
                    postal_code:
                      description: The postal code of the shipping address.
                      type:
                      - "null"
                      - string
                    state:
                      description: The state or region of the shipping address.
                      type:
                      - "null"
                      - string
                billing_address:
                  description: The billing address of the customer.
                  type:
                  - "null"
                  - object
                  properties:
                    city:
                      description: The city of the billing address.
                      type:
                      - "null"
                      - string
                    country:
                      description: The country of the billing address.
                      type:
                      - "null"
                      - string
                    line1:
                      description: The first line in the billing address.
                      type:
                      - "null"
                      - string
                    line2:
                      description: The second line in the billing address if applicable.
                      type:
                      - "null"
                      - string
                    postal_code:
                      description: The postal code of the billing address.
                      type:
                      - "null"
                      - string
                    state:
                      description: The state or region of the billing address.
                      type:
                      - "null"
                      - string
              required:
              - id
              - created_at
          incremental_sync:
            type: DatetimeBasedCursor
            cursor_field: created_at
            lookback_window: P{{ config.get('lookback_window_days', 0) }}D
            cursor_datetime_formats:
            - "%Y-%m-%d %H:%M:%S.%f+00:00"
            - "%Y-%m-%dT%H:%M:%S.%fZ"
            - "%Y-%m-%dT%H:%M:%SZ"
            datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
            start_datetime:
              type: MinMaxDatetime
              datetime: "{{ config['start_date'] }}"
              datetime_format: "%Y-%m-%dT%H:%M:%SZ"
            start_time_option:
              type: RequestOption
              field_name: created_at[gte]
              inject_into: request_parameter
            end_datetime:
              type: MinMaxDatetime
              datetime: "{{ config['end_date'] if config['end_date'] else now_utc().strftime('%Y-%m-%dT%H:%M:%SZ')
                }}"
              datetime_format: "%Y-%m-%dT%H:%M:%SZ"
            end_time_option:
              type: RequestOption
              field_name: created_at[lte]
              inject_into: request_parameter
  schema_loader:
    type: InlineSchemaLoader
    schema:
      $schema: "http://json-schema.org/draft-07/schema#"
      type:
      - "null"
      - object
      properties:
        id:
          description: The unique ID of the ledger entry
          type: string
        starting_balance:
          description: The starting balance before the ledger entry
          type: number
        ending_balance:
          description: The ending balance after the ledger entry
          type: number
        amount:
          description: The amount of credits involved in the ledger entry
          type:
          - "null"
          - number
        block_expiry_date:
          description: The date and time when the credit block will expire
          type:
          - "null"
          - string
          format: date-time
        created_at:
          description: The date and time when the ledger entry was created
          type:
          - "null"
          - string
          format: date-time
        entry_type:
          description: "The type of ledger entry (e.g., debit, credit)"
          type: string
        new_block_expiry_date:
          description: The new expiry date and time of the credit block after the
            ledger entry
          type:
          - "null"
          - string
          format: date-time
        customer_id:
          description: The ID of the customer associated with the ledger entry
          type: string
        credit_block_per_unit_cost_basis:
          description: The cost per unit of the credit block
          type:
          - "null"
          - number
        description:
          description: A description of the ledger entry
          type:
          - "null"
          - string
        credit_block_id:
          description: The ID of the associated credit block
          type:
          - "null"
          - string
      required:
      - id
      - created_at
      - customer_id
      - credit_block_id
  transformations:
  - type: AddFields
    fields:
    - path:
      - customer_id
      value: "{{ record['customer']['id'] }}"
      type: AddedFieldDefinition
  - type: RemoveFields
    field_pointers:
    - - customer
  - type: AddFields
    fields:
    - path:
      - block_expiry_date
      value: "{{ record['credit_block']['expiry_date'] }}"
      type: AddedFieldDefinition
  - type: AddFields
    fields:
    - path:
      - credit_block_id
      value: "{{ record['credit_block']['id'] }}"
      type: AddedFieldDefinition
  - type: AddFields
    fields:
    - path:
      - credit_block_per_unit_cost_basis
      value: "{{ record['credit_block']['per_unit_cost_basis'] }}"
      type: AddedFieldDefinition
  - type: RemoveFields
    field_pointers:
    - - credit_block
  - type: AddFields
    fields:
    - path:
      - event
      - id
      value: "{{ record['event_id'] }}"
      type: AddedFieldDefinition
  - type: RemoveFields
    field_pointers:
    - - event_id
  incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: created_at
    lookback_window: P{{ config.get('lookback_window_days', 0) }}D
    cursor_datetime_formats:
    - "%Y-%m-%d %H:%M:%S.%f+00:00"
    - "%Y-%m-%dT%H:%M:%S.%fZ"
    - "%Y-%m-%dT%H:%M:%SZ"
    datetime_format: "%Y-%m-%dT%H:%M:%S+00:00"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    start_time_option:
      type: RequestOption
      field_name: created_at[gte]
      inject_into: request_parameter
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['end_date'] if config['end_date'] else now_utc().strftime('%Y-%m-%dT%H:%M:%SZ')
        }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    end_time_option:
      type: RequestOption
      field_name: created_at[lte]
      inject_into: request_parameter
schemas:
  subscriptions:
    $schema: "http://json-schema.org/draft-07/schema#"
    type:
    - "null"
    - object
    additionalProperties: true
    properties:
      id:
        description: The unique identifier of the subscription.
        type: string
      created_at:
        description: The date and time when the subscription was created.
        type:
        - "null"
        - string
        format: date-time
      customer_id:
        description: The unique identifier of the customer associated with the subscription.
        type: string
      external_customer_id:
        description: The external identifier of the customer associated with the subscription.
        type:
        - "null"
        - string
      start_date:
        description: The date and time when the subscription is set to start.
        type:
        - "null"
        - string
        format: date-time
      end_date:
        description: The date and time when the subscription is set to end.
        type:
        - "null"
        - string
        format: date-time
      plan_id:
        description: >-
          The unique identifier of the subscription plan assigned to the
          subscription.
        type: string
      status:
        description: The current status of the subscription.
        type: string
    required:
    - id
    - created_at
  customers:
    $schema: "http://json-schema.org/draft-07/schema#"
    type:
    - "null"
    - object
    additionalProperties: true
    properties:
      id:
        description: The unique identifier of the customer.
        type: string
      external_customer_id:
        description: The ID of the customer in an external system.
        type:
        - string
        - "null"
      name:
        description: The name of the customer.
        type: string
      email:
        description: The email address of the customer.
        type:
        - string
        - "null"
      created_at:
        description: The date and time when the customer account was created.
        type:
        - "null"
        - string
        format: date-time
      payment_provider:
        description: The payment provider used by the customer.
        type:
        - "null"
        - string
      payment_provider_id:
        description: The ID of the customer in the payment provider's system.
        type:
        - "null"
        - string
      timezone:
        description: The timezone setting of the customer.
        type:
        - "null"
        - string
      shipping_address:
        description: The shipping address of the customer.
        type:
        - "null"
        - object
        properties:
          city:
            description: The city of the shipping address.
            type:
            - "null"
            - string
          country:
            description: The country of the shipping address.
            type:
            - "null"
            - string
          line1:
            description: The first line in the shipping address.
            type:
            - "null"
            - string
          line2:
            description: The second line in the shipping address if applicable.
            type:
            - "null"
            - string
          postal_code:
            description: The postal code of the shipping address.
            type:
            - "null"
            - string
          state:
            description: The state or region of the shipping address.
            type:
            - "null"
            - string
      billing_address:
        description: The billing address of the customer.
        type:
        - "null"
        - object
        properties:
          city:
            description: The city of the billing address.
            type:
            - "null"
            - string
          country:
            description: The country of the billing address.
            type:
            - "null"
            - string
          line1:
            description: The first line in the billing address.
            type:
            - "null"
            - string
          line2:
            description: The second line in the billing address if applicable.
            type:
            - "null"
            - string
          postal_code:
            description: The postal code of the billing address.
            type:
            - "null"
            - string
          state:
            description: The state or region of the billing address.
            type:
            - "null"
            - string
    required:
    - id
    - created_at
  subscription_usage:
    $schema: "http://json-schema.org/draft-07/schema#"
    type:
    - "null"
    - object
    additionalProperties: true
    properties:
      quantity:
        description: Quantity of the billable metric used during the specified timeframe
        type: number
      timeframe_start:
        description: Start timestamp of the timeframe during which the usage data
          is captured
        type: string
        format: date-time
      timeframe_end:
        description: End timestamp of the timeframe during which the usage data is
          captured
        type: string
        format: date-time
      billable_metric_name:
        description: Name of the billable metric associated with the subscription
          usage
        type: string
      billable_metric_id:
        description: >-
          Unique identifier for the billable metric associated with the subscription
          usage
        type: string
      subscription_id:
        description: Unique identifier for the subscription the usage data belongs
          to
        type: string
      grouping_key:
        type:
        - "null"
        - string
    required:
    - billable_metric_id
    - subscription_id
  plans:
    $schema: "http://json-schema.org/draft-07/schema#"
    type:
    - "null"
    - object
    properties:
      id:
        description: The unique identifier of the plan
        type: string
      created_at:
        description: The timestamp of when the plan was created
        type:
        - "null"
        - string
        format: date-time
      description:
        description: A short description of the plan
        type:
        - "null"
        - string
      name:
        description: The name of the plan
        type:
        - "null"
        - string
      prices:
        description: An array of pricing options for the plan
        type:
        - array
        items:
          type: object
          properties:
            id:
              description: The unique identifier of the price option
              type: string
      product:
        description: The product to which the plan belongs
        type: object
        properties:
          id:
            description: The unique identifier of the product
            type: string
    required:
    - id
    - created_at
  invoices:
    $schema: "http://json-schema.org/draft-07/schema#"
    type:
    - "null"
    - object
    properties:
      id:
        description: The unique identifier of the invoice.
        type: string
      created_at:
        description: The date and time when the invoice was created.
        type:
        - "null"
        - string
        format: date-time
      invoice_date:
        description: The date when the invoice was issued.
        type:
        - string
[...]
