version: 5.0.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: ApiKeyAuthenticator
        api_token: "{{ config['api_key'] }}"
        inject_into:
          type: RequestOption
          field_name: X-Api-Key
          inject_into: header
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page-size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 50
          start_from_page: 1

streams:
  - type: DeclarativeStream
    name: users
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.clockify.me/api/v1/workspaces/{{ config['workspace_id']
          }}/users
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type:
              - string
              - "null"
            description: The unique identifier of the user.
          name:
            type:
              - string
              - "null"
            description: The name of the user.
          email:
            type:
              - string
              - "null"
            description: The email address of the user.
          status:
            type:
              - string
              - "null"
            description: User's status.
          settings:
            type:
              - object
              - "null"
            description: User-specific settings for the user account.
            properties:
              pto:
                type:
                  - boolean
                  - "null"
                description: User's PTO settings.
              lang:
                type:
                  - string
                  - "null"
                description: User's preferred language.
              theme:
                type:
                  - string
                  - "null"
                description: User's preferred theme.
              alerts:
                type:
                  - boolean
                  - "null"
                description: User's alerts settings.
              approval:
                type:
                  - boolean
                  - "null"
                description: User's approval settings.
              timeZone:
                type:
                  - string
                  - "null"
                description: User's preferred time zone.
              reminders:
                type:
                  - boolean
                  - "null"
                description: User's reminder settings.
              weekStart:
                type:
                  - string
                  - "null"
                description: User's preferred start of the week.
              dateFormat:
                type:
                  - string
                  - "null"
                description: User's preferred date format.
              onboarding:
                type:
                  - boolean
                  - "null"
                description: User's onboarding settings.
              scheduling:
                type:
                  - boolean
                  - "null"
                description: User's scheduling settings.
              timeFormat:
                type:
                  - string
                  - "null"
                description: User's preferred time format.
              longRunning:
                type:
                  - boolean
                  - "null"
                description: User's long running settings.
              myStartOfDay:
                type:
                  - string
                  - "null"
                description: User's start of day setting.
              weeklyUpdates:
                type:
                  - boolean
                  - "null"
                description: User's settings for receiving weekly updates.
              sendNewsletter:
                type:
                  - boolean
                  - "null"
                description: User's preference for receiving newsletters.
              isCompactViewOn:
                type:
                  - boolean
                  - "null"
                description: User's preference for compact view.
              invoiceReminders:
                type:
                  - boolean
                  - "null"
              scheduledReports:
                type:
                  - boolean
                  - "null"
                description: User's scheduled reports settings.
              dashboardPinToTop:
                type:
                  - boolean
                  - "null"
                description: User's preference for pinning dashboard to the top.
              dashboardViewType:
                type:
                  - string
                  - "null"
                description: User's preferred dashboard view type.
              dashboardSelection:
                type:
                  - string
                  - "null"
                description: User's dashboard selection.
              multiFactorEnabled:
                type:
                  - boolean
                  - "null"
                description: Whether multi-factor authentication is enabled.
              timeTrackingManual:
                type:
                  - boolean
                  - "null"
                description: User's manual time tracking settings.
              projectListCollapse:
                type:
                  - integer
                  - "null"
                description: User's project list collapse setting.
              showOnlyWorkingDays:
                type:
                  - boolean
                  - "null"
                description: User's preference for showing only working days.
              summaryReportSettings:
                type:
                  - object
                  - "null"
                description: Settings for summary report.
                properties:
                  group:
                    type:
                      - string
                      - "null"
                    description: Group setting for summary report.
                  subgroup:
                    type:
                      - string
                      - "null"
                    description: Subgroup setting for summary report.
              collapseAllProjectLists:
                type:
                  - boolean
                  - "null"
                description: User's preference for collapsing all project lists.
              projectPickerTaskFilter:
                type:
                  - boolean
                  - "null"
                description: User's task filter for project picker.
              groupSimilarEntriesDisabled:
                type:
                  - boolean
                  - "null"
                description: User's preference for grouping similar entries.
          memberships:
            type:
              - array
              - "null"
            description: List of memberships the user belongs to.
            items:
              type:
                - object
                - "null"
              properties:
                userId:
                  type:
                    - string
                    - "null"
                  description: User identifier.
                costRate:
                  type:
                    - object
                    - "null"
                  description: Cost rate for the membership.
                  properties:
                    amount:
                      type:
                        - integer
                        - "null"
                      description: Cost rate amount.
                    currency:
                      type:
                        - string
                        - "null"
                      description: Currency of the cost rate.
                targetId:
                  type:
                    - string
                    - "null"
                  description: Target identifier across the system.
                hourlyRate:
                  type:
                    - object
                    - "null"
                  description: Hourly rate for the membership.
                  properties:
                    amount:
                      type:
                        - integer
                        - "null"
                      description: Hourly rate amount.
                    currency:
                      type:
                        - string
                        - "null"
                      description: Currency of the hourly rate.
                membershipType:
                  type:
                    - string
                    - "null"
                  description: Type of membership.
                membershipStatus:
                  type:
                    - string
                    - "null"
                  description: Status of the membership.
          customFields:
            type:
              - array
              - "null"
            description: Custom fields associated with the user's profile.
            items:
              type:
                - object
                - "null"
              properties:
                customFieldId:
                  type:
                    - string
                    - "null"
                  description: ID of the custom field.
                customFieldName:
                  type:
                    - string
                    - "null"
                  description: Name of the custom field.
                customFieldType:
                  type:
                    - string
                    - "null"
                  description: Type of the custom field (e.g. TXT, NUMBER).
          profilePicture:
            type:
              - string
              - "null"
            description: URL to the user's profile picture.
          activeWorkspace:
            type:
              - string
              - "null"
            description: The ID of the active workspace for the user.
          defaultWorkspace:
            type:
              - string
              - "null"
            description: The default workspace ID for the user.
        additionalProperties: true
  - type: DeclarativeStream
    name: projects
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.clockify.me/api/v1/workspaces/{{ config['workspace_id']
          }}/projects
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: string
            description: Unique identifier for the project.
          name:
            type:
              - string
              - "null"
            description: Name of the project.
          note:
            type:
              - string
              - "null"
            description: Additional notes or comments related to the project.
          color:
            type:
              - string
              - "null"
            description: Color code used to visually identify the project.
          public:
            type:
              - boolean
              - "null"
            description: Indicates if the project is public or private.
          archived:
            type:
              - boolean
              - "null"
            description: Indicates if the project is archived or not.
          billable:
            type:
              - boolean
              - "null"
            description: Indicates if the project is billable or not.
          clientId:
            type:
              - string
              - "null"
            description: The ID of the client associated with the project.
          duration:
            type:
              - string
              - "null"
            description: Total duration tracked for the project.
          estimate:
            type:
              - object
              - "null"
            description: Project estimation details.
            properties:
              type:
                type:
                  - string
                  - "null"
                description: Type of estimation (e.g., hours, days).
              estimate:
                type:
                  - string
                  - "null"
                description: Estimated time for the project.
          template:
            type:
              - boolean
              - "null"
            description: Indicates if the project is a template or not.
          clientName:
            type:
              - string
              - "null"
            description: The name of the client associated with the project.
          hourlyRate:
            type:
              - object
              - "null"
            description: Hourly rate for the project.
            properties:
              amount:
                type:
                  - number
                  - "null"
                description: Hourly rate amount.
              currency:
                type:
                  - string
                  - "null"
                description: Currency of the hourly rate.
          memberships:
            type:
              - array
              - "null"
            description: List of project memberships.
            items:
              type:
                - object
                - "null"
              properties:
                userId:
                  type:
                    - string
                    - "null"
                  description: ID of the user associated with the membership.
                targetId:
                  type:
                    - string
                    - "null"
                  description: ID of the target associated with the membership.
                membershipType:
                  type:
                    - string
                    - "null"
                  description: Type of membership.
                membershipStatus:
                  type:
                    - string
                    - "null"
                  description: Status of the membership.
          workspaceId:
            type:
              - string
              - "null"
            description: ID of the workspace to which the project belongs.
          timeEstimate:
            type:
              - object
              - "null"
            description: Time estimation details for the project.
            properties:
              type:
                type:
                  - string
                  - "null"
                description: Type of time estimation (e.g., hours, days).
              active:
                type:
                  - boolean
                  - "null"
                description: Indicates if the time estimate is active or not.
              estimate:
                type:
                  - string
                  - "null"
                description: Estimated time for the project.
              includeNonBillable:
                type:
                  - boolean
                  - "null"
                description: Indicates if non-billable time is included in the estimate.
        additionalProperties: true
  - type: DeclarativeStream
    name: clients
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.clockify.me/api/v1/workspaces/{{ config['workspace_id']
          }}/clients
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type:
              - string
              - "null"
            description: Unique identifier for the client.
          name:
            type:
              - string
              - "null"
            description: Name of the client.
          note:
            type:
              - string
              - "null"
            description: Additional notes related to the client.
          email:
            type:
              - string
              - "null"
            description: Client's contact email address.
          address:
            type:
              - string
              - "null"
            description: Client's physical address.
          archived:
            type:
              - boolean
              - "null"
            description: Indicates if the client is archived (true) or active (false).
          ccEmails:
            type:
              - array
              - "null"
            description: Additional emails for sending invoices.
          currencyId:
            type:
              - string
              - "null"
            description: Unique identifier for the currency.
          workspaceId:
            type:
              - string
              - "null"
            description: Identifier for the workspace to which the client belongs.
          currencyCode:
            type:
              - string
              - "null"
            description: Client's currency code.
        additionalProperties: true
  - type: DeclarativeStream
    name: tags
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.clockify.me/api/v1/workspaces/{{ config['workspace_id']
          }}/tags
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type:
              - string
              - "null"
            description: Unique identifier for the tag.
          name:
            type:
              - string
              - "null"
            description: Name of the tag.
          archived:
            type:
              - boolean
              - "null"
            description: Indicates if the tag is archived or active.
          workspaceId:
            type:
              - string
              - "null"
            description: Identifier of the workspace to which the tag belongs.
        additionalProperties: true
  - type: DeclarativeStream
    name: user_groups
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.clockify.me/api/v1/workspaces/{{ config['workspace_id']
          }}/user-groups
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: string
            description: Unique identifier for the user group.
          name:
            type:
              - string
              - "null"
            description: Name of the user group.
          userIds:
            type:
              - array
              - "null"
            description: List of user IDs belonging to the user group.
            items:
              type:
                - string
                - "null"
              description: User ID of a member in the group.
          workspaceId:
            type:
              - string
              - "null"
            description: Identifier for the workspace to which the user group belongs.
          teamManagers:
            type:
              - array
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: time_entries
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.clockify.me/api/v1/workspaces/{{ config['workspace_id']
          }}/user/{{ stream_partition.user_id}}/time-entries
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/streams/0"
              parent_key: id
              partition_field: user_id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
            description: Type of the time entry (e.g., time, leave, holiday)
          description:
            type:
              - string
              - "null"
            description: Description or notes about the time entry
          id:
            type:
              - string
              - "null"
            description: Unique identifier for the time entry
          tagIds:
            type:
              - array
              - "null"
            description: Identifiers of tags associated with the time entry
            anyOf:
              - type: "null"
              - type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
            items:
              type:
                - string
                - "null"
          taskId:
            type:
              - string
              - "null"
            description: Unique identifier for the task related to the time entry
          userId:
            type:
              - string
              - "null"
            description: Unique identifier for the user associated with the time entry
          kioskId:
            type:
              - string
              - "null"
            description: Identifier for the kiosk associated with the time entry
          billable:
            type:
              - boolean
              - "null"
            description: Indicates if the time entry is billable or not
          costRate:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - number
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          isLocked:
            type:
              - boolean
              - "null"
            description: Indicates if the time entry is locked or not
          projectId:
            type:
              - string
              - "null"
            description: Unique identifier for the project related to the time entry
          hourlyRate:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - number
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          workspaceId:
            type:
              - string
              - "null"
            description: Unique identifier for the workspace of the time entry
          timeInterval:
            type:
              - object
              - "null"
            description: Represents the time interval for the time entry
            properties:
              end:
                type:
                  - string
                  - "null"
                description: End timestamp of the time entry
              start:
                type:
                  - string
                  - "null"
                description: Start timestamp of the time entry
              duration:
                type:
                  - string
                  - "null"
                description: Duration of the time entry
          customFieldValues:
            type:
              - array
              - "null"
            description: Values for custom fields related to the time entry
        additionalProperties: true
  - type: DeclarativeStream
    name: tasks
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.clockify.me/api/v1/workspaces/{{ config['workspace_id']
          }}/projects/{{ stream_partition.project_id}}/tasks
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/streams/1"
              parent_key: id
              partition_field: project_id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type:
              - string
              - "null"
            description: Unique identifier of the task.
          name:
            type:
              - string
              - "null"
            description: Name or title of the task.
          status:
            type:
              - string
              - "null"
            description: Current status of the task.
          billable:
            type:
              - boolean
              - "null"
            description: Indicates whether the task is billable or not.
          costRate:
            description: Cost rate associated with the task.
            anyOf:
              - type: string
              - type:
                  - object
                  - "null"
                properties:
                  amount:
                    type:
                      - string
                      - integer
                      - "null"
                  currency:
                    type:
                      - string
                      - "null"
              - type: "null"
          duration:
            type:
              - string
              - "null"
            description: Total duration of the task.
          estimate:
            type:
              - string
              - "null"
            description: Estimated time required to complete the task.
          projectId:
            type:
              - string
              - "null"
            description: Unique identifier of the project the task belongs to.
          assigneeId:
            type:
              - string
              - "null"
            description: The unique identifier of the user assigned to the task.
          hourlyRate:
            description: Hourly rate for billing purposes.
            anyOf:
              - type:
                  - object
                  - "null"
                properties:
                  amount:
                    type:
                      - integer
                      - "null"
                  currency:
                    type:
                      - string
                      - "null"
              - type: "null"
          assigneeIds:
            type:
              - array
              - "null"
            description: The list of unique identifiers of users assigned to the task.
            items:
              type:
                - string
                - "null"
              description: Unique identifier of a user.
          userGroupIds:
            type:
              - array
              - "null"
            description: >-
              List of unique identifiers of user groups associated with the
              task.
          budgetEstimate:
            type:
              - number
              - "null"
            description: Estimated budget for the task.
        additionalProperties: true

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - workspace_id
    properties:
      api_key:
        type: string
        description: >-
          You can get your api access_key <a
          href="https://app.clockify.me/user/settings">here</a> This API is Case
          Sensitive.
        order: 0
        title: API Key
        airbyte_secret: true
      api_url:
        type: string
        description: >-
          The URL for the Clockify API. This should only need to be modified if
          connecting to an enterprise version of Clockify.
        order: 1
        title: API Url
        default: https://api.clockify.me
      workspace_id:
        type: string
        description: WorkSpace Id
        order: 2
        title: Workspace Id
    additionalProperties: true

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 1
