version: 5.10.2

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - executions

definitions:
  streams:
    executions:
      type: DeclarativeStream
      name: executions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /executions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 250
            cursor_value: "{{ response.get(\"nextCursor\", {}) }}"
            stop_condition: "{{ not response.get(\"nextCursor\", {}) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/executions"
  base_requester:
    type: HttpRequester
    url_base: "{{ config['host'] }}/api/v1"
    authenticator:
      type: ApiKeyAuthenticator
      header: X-N8N-API-KEY
      api_token: "{{ config['api_key'] }}"

streams:
  - $ref: "#/definitions/streams/executions"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - host
      - api_key
    properties:
      host:
        type: string
        description: Hostname of the n8n instance
        order: 0
      api_key:
        type: string
        description: >-
          Your API KEY. See <a
          href="https://docs.n8n.io/api/authentication">here</a>
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    executions: false
  yamlComponents:
    global:
      - authenticator
  testedStreams:
    executions:
      streamHash: 7fb9c43b048f49eec85d328fab1043ae11f2b599
  assist: {}

schemas:
  executions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
        - integer
      finished:
        type:
        - boolean
      mode:
        type:
        - string
      retryOf:
        type:
        - 'null'
        - string
      retrySuccessId:
        type:
        - 'null'
        - integer
      startedAt:
        type:
        - string
      stoppedAt:
        type:
        - 'null'
        - string
      workflowId:
        type:
        - 'null'
        - string
      waitTill:
        type:
        - 'null'
        - string

