version: 7.0.4

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - executions

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: ApiKeyAuthenticator
        header: X-N8N-API-KEY
        api_token: "{{ config['api_key'] }}"
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: cursor
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 250
          cursor_value: "{{ response.get(\"nextCursor\", {}) }}"
          stop_condition: "{{ not response.get(\"nextCursor\", {}) }}"
    DeclarativeStream:
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - table_id
              value: "{{ stream_slice.table_id }}"
              value_type: string

streams:
  - type: DeclarativeStream
    name: executions
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: "{{ config['host'] }}/api/v1/executions"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - startedAt
        properties:
          id:
            type: string
          mode:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          finished:
            type:
              - boolean
              - "null"
          startedAt:
            type: string
          stoppedAt:
            type:
              - string
              - "null"
          workflowId:
            type:
              - string
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: startedAt
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
  - type: DeclarativeStream
    name: users
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: "{{ config['host'] }}/api/v1/users"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - updatedAt
        properties:
          id:
            type: string
          email:
            type:
              - string
              - "null"
          lastName:
            type:
              - string
              - "null"
          createdAt:
            type:
              - string
              - "null"
          firstName:
            type:
              - string
              - "null"
          isPending:
            type:
              - boolean
              - "null"
          updatedAt:
            type: string
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updatedAt
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
  - type: DeclarativeStream
    name: workflows
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: "{{ config['host'] }}/api/v1/workflows"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - updatedAt
        properties:
          id:
            type: string
          meta:
            type:
              - object
              - "null"
            properties:
              templateId:
                type:
                  - string
                  - "null"
              templateCredsSetupCompleted:
                type:
                  - boolean
                  - "null"
          name:
            type:
              - string
              - "null"
          tags:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                createdAt:
                  type:
                    - string
                    - "null"
                updatedAt:
                  type:
                    - string
                    - "null"
          nodes:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                notes:
                  type:
                    - string
                    - "null"
                onError:
                  type:
                    - string
                    - "null"
                disabled:
                  type:
                    - boolean
                    - "null"
                maxTries:
                  type:
                    - number
                    - "null"
                position:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - number
                      - "null"
                webhookId:
                  type:
                    - string
                    - "null"
                parameters:
                  type:
                    - object
                    - "null"
                  properties:
                    description:
                      type:
                        - string
                        - "null"
                    ts:
                      type:
                        - string
                        - "null"
                    end:
                      type:
                        - string
                        - "null"
                    key:
                      type:
                        - string
                        - "null"
                    ttl:
                      type:
                        - number
                        - "null"
                    url:
                      type:
                        - string
                        - "null"
                    Line:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          Qty:
                            type:
                              - number
                              - "null"
                          Amount:
                            type:
                              - string
                              - "null"
                          itemId:
                            type:
                              - string
                              - "null"
                          LineNum:
                            type:
                              - number
                              - "null"
                          DetailType:
                            type:
                              - string
                              - "null"
                          TaxCodeRef:
                            type:
                              - string
                              - "null"
                          Description:
                            type:
                              - string
                              - "null"
                    body:
                      type:
                        - string
                        - "null"
                    html:
                      type:
                        - string
                        - "null"
                    mode:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    path:
                      type:
                        - string
                        - "null"
                    rule:
                      type:
                        - object
                        - "null"
                      properties:
                        interval:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              field:
                                type:
                                  - string
                                  - "null"
                              expression:
                                type:
                                  - string
                                  - "null"
                              triggerAtDay:
                                type:
                                  - array
                                  - "null"
                                items:
                                  type:
                                    - number
                                    - "null"
                              triggerAtHour:
                                type:
                                  - number
                                  - string
                                  - "null"
                              minutesInterval:
                                type:
                                  - number
                                  - "null"
                              triggerAtMinute:
                                type:
                                  - number
                                  - "null"
                    text:
                      type:
                        - string
                        - "null"
                    unit:
                      type:
                        - string
                        - "null"
                    user:
                      type:
                        - object
                        - "null"
                      properties:
                        __rl:
                          type:
                            - boolean
                            - "null"
                        mode:
                          type:
                            - string
                            - "null"
                        value:
                          type:
                            - string
                            - "null"
                        cachedResultName:
                          type:
                            - string
                            - "null"
                    clear:
                      type:
                        - string
                        - "null"
                    color:
                      type:
                        - number
                        - "null"
                    limit:
                      type:
                        - string
                        - "null"
                    model:
                      anyOf:
                        - type: string
                        - type: object
                          properties:
                            __rl:
                              type: boolean
                            mode:
                              type: string
                            value:
                              type: string
                    range:
                      type:
                        - string
                        - "null"
                    rules:
                      type:
                        - object
                        - "null"
                      properties:
                        values:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              outputKey:
                                type:
                                  - string
                                  - "null"
                              conditions:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  options:
                                    type:
                                      - object
                                      - "null"
                                    properties:
                                      version:
                                        type:
                                          - number
                                          - "null"
                                      leftValue:
                                        type:
                                          - string
                                          - "null"
                                      caseSensitive:
                                        type:
                                          - boolean
                                          - "null"
                                      typeValidation:
                                        type:
                                          - string
                                          - "null"
                                  combinator:
                                    type:
                                      - string
                                      - "null"
                                  conditions:
                                    type:
                                      - array
                                      - "null"
                                    items:
                                      type:
                                        - object
                                        - "null"
                                      properties:
                                        id:
                                          type:
                                            - string
                                            - "null"
                                        operator:
                                          type:
                                            - object
                                            - "null"
                                          properties:
                                            type:
                                              type:
                                                - string
                                                - "null"
                                            name:
                                              type:
                                                - string
                                                - "null"
                                            operation:
                                              type:
                                                - string
                                                - "null"
                                        leftValue:
                                          type:
                                            - string
                                            - "null"
                                        rightValue:
                                          type:
                                            - string
                                            - "null"
                              renameOutput:
                                type:
                                  - boolean
                                  - "null"
                    start:
                      type:
                        - string
                        - "null"
                    table:
                      type:
                        - string
                        - "null"
                    title:
                      type:
                        - string
                        - "null"
                    topic:
                      type:
                        - string
                        - "null"
                    width:
                      type:
                        - number
                        - "null"
                    amount:
                      type:
                        - number
                        - string
                        - "null"
                    billId:
                      type:
                        - string
                        - "null"
                    chatId:
                      type:
                        - string
                        - "null"
                    expire:
                      type:
                        - boolean
                        - "null"
                    fields:
                      type:
                        - object
                        - "null"
                      properties:
                        values:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              name:
                                type:
                                  - string
                                  - "null"
                              stringValue:
                                type:
                                  - string
                                  - "null"
                    fileId:
                      type:
                        - object
                        - "null"
                      properties:
                        __rl:
                          type:
                            - boolean
                            - "null"
                        mode:
                          type:
                            - string
                            - "null"
                        value:
                          type:
                            - string
                            - "null"
                    filter:
                      type:
                        - object
                        - "null"
                      properties:
                        folderId:
                          type:
                            - object
                            - "null"
                          properties:
                            __rl:
                              type:
                                - boolean
                                - "null"
                            mode:
                              type:
                                - string
                                - "null"
                            value:
                              type:
                                - string
                                - "null"
                            cachedResultUrl:
                              type:
                                - string
                                - "null"
                            cachedResultName:
                              type:
                                - string
                                - "null"
                        whatToSearch:
                          type:
                            - string
                            - "null"
                    height:
                      type:
                        - number
                        - "null"
                    jsCode:
                      type:
                        - string
                        - "null"
                    method:
                      type:
                        - string
                        - "null"
                    output:
                      type:
                        - string
                        - "null"
                    prompt:
                      type:
                        - string
                        - "null"
                    public:
                      type:
                        - boolean
                        - "null"
                    select:
                      type:
                        - string
                        - "null"
                    sendTo:
                      type:
                        - string
                        - "null"
                    simple:
                      type:
                        - boolean
                        - "null"
                    values:
                      type:
                        - object
                        - "null"
                      properties:
                        string:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              name:
                                type:
                                  - string
                                  - "null"
                              value:
                                type:
                                  - string
                                  - "null"
                    columns:
                      type:
                        - object
                        - "null"
                      properties:
                        value:
                          type:
                            - object
                            - "null"
                          properties:
                            id:
                              type:
                                - string
                                - "null"
                            EAN:
                              type:
                                - string
                                - "null"
                            url:
                              type:
                                - string
                                - "null"
                            Body:
                              type:
                                - string
                                - "null"
                            City:
                              type:
                                - string
                                - "null"
                            Date:
                              type:
                                - string
                                - "null"
                            Name:
                              type:
                                - string
                                - "null"
                            Sent:
                              type:
                                - string
                                - "null"
                            link:
                              type:
                                - string
                                - "null"
                            note:
                              type:
                                - string
                                - "null"
                            BRAND:
                              type:
                                - string
                                - "null"
                            Email:
                              type:
                                - string
                                - "null"
                            PO_ID:
                              type:
                                - string
                                - "null"
                            promo:
                              type:
                                - string
                                - "null"
                            query:
                              type:
                                - string
                                - "null"
                            title:
                              type:
                                - string
                                - "null"
                            width:
                              type:
                                - string
                                - "null"
                            Amount:
                              type:
                                - string
                                - "null"
                            PERIOD:
                              type:
                                - string
                                - "null"
                            PO_Qty:
                              type:
                                - string
                                - "null"
                            SKU_ID:
                              type:
                                - string
                                - "null"
                            UPDATE:
                              type:
                                - string
                                - "null"
                            amount:
                              type:
                                - string
                                - "null"
                            height:
                              type:
                                - string
                                - "null"
                            model1:
                              type:
                                - string
                                - "null"
                            model2:
                              type:
                                - string
                                - "null"
                            model3:
                              type:
                                - string
                                - "null"
                            update:
                              type:
                                - boolean
                                - string
                                - "null"
                            Bill ID:
                              type:
                                - string
                                - "null"
                            ORDERID:
                              type:
                                - string
                                - "null"
                            SKU_Alt:
                              type:
                                - string
                                - "null"
                            balance:
                              type:
                                - string
                                - "null"
                            bigrams:
                              type:
                                - string
                                - "null"
                            bill_id:
                              type:
                                - string
                                - "null"
                            content:
                              type:
                                - string
                                - "null"
                            snippet:
                              type:
                                - string
                                - "null"
                            summary:
                              type:
                                - string
                                - "null"
                            user_id:
                              type:
                                - string
                                - "null"
                            CURRENCY:
                              type:
                                - string
                                - "null"
                            Due Date:
                              type:
                                - string
                                - "null"
                            SUPPLIER:
                              type:
                                - string
                                - "null"
                            bill_url:
                              type:
                                - string
                                - "null"
                            category:
                              type:
                                - string
                                - "null"
                            currency:
                              type:
                                - string
                                - "null"
                            duration:
                              type:
                                - string
                                - "null"
                            fluxCost:
                              type:
                                - string
                                - "null"
                            order_id:
                              type:
                                - string
                                - "null"
                            position:
                              type:
                                - string
                                - "null"
                            question:
                              type:
                                - string
                                - "null"
                            trigrams:
                              type:
                                - string
                                - "null"
                            unigrams:
                              type:
                                - string
                                - "null"
                            url_type:
                              type:
                                - string
                                - "null"
                            Bill Date:
                              type:
                                - string
                                - "null"
                            Item_Size:
                              type:
                                - string
                                - "null"
                            ORDERDATE:
                              type:
                                - string
                                - "null"
                            Order_KEY:
                              type:
                                - string
                                - "null"
                            PO Number:
                              type:
                                - string
                                - "null"
                            date_time:
                              type:
                                - string
                                - "null"
                            frameRate:
                              type:
                                - string
                                - "null"
                            issued_at:
                              type:
                                - string
                                - "null"
                            klingCost:
                              type:
                                - string
                                - "null"
                            url_price:
                              type:
                                - string
                                - "null"
                            url_title:
                              type:
                                - string
                                - "null"
                            vendor_id:
                              type:
                                - string
                                - "null"
                            Claim Type:
                              type:
                                - string
                                - "null"
                            Email Sent:
                              type:
                                - string
                                - "null"
                            Invoice ID:
                              type:
                                - string
                                - "null"
                            created_at:
                              type:
                                - string
                                - "null"
                            event_type:
                              type:
                                - string
                                - "null"
                            expires_on:
                              type:
                                - string
                                - "null"
                            production:
                              type:
                                - string
                                - "null"
                            publishing:
                              type:
                                - string
                                - "null"
                            row_number:
                              type:
                                - number
                                - string
                                - "null"
                            updated_at:
                              type:
                                - string
                                - "null"
                            webhook_id:
                              type:
                                - string
                                - "null"
                            Amount Paid:
                              type:
                                - string
                                - "null"
                            Bill Number:
                              type:
                                - string
                                - "null"
                            Receiver_ID:
                              type:
                                - string
                                - "null"
                            Vendor Name:
                              type:
                                - string
                                - "null"
                            Vendor_name:
                              type:
                                - string
                                - "null"
                            bill_amount:
                              type:
                                - string
                                - "null"
                            charge_type:
                              type:
                                - string
                                - "null"
                            customer_id:
                              type:
                                - string
                                - "null"
                            disabled_at:
                              type:
                                - string
                                - "null"
                            domain_name:
                              type:
                                - string
                                - "null"
                            export_time:
                              type:
                                - string
                                - "null"
                            giftcard_id:
                              type:
                                - string
                                - "null"
                            pages_count:
                              type:
                                - string
                                - "null"
                            product_url:
                              type:
                                - string
                                - "null"
                            url_content:
                              type:
                                - string
                                - "null"
                            vendor_name:
                              type:
                                - string
                                - "null"
                            Execution_ID:
                              type:
                                - string
                                - "null"
                            File Uplolad:
                              type:
                                - string
                                - "null"
                            Invoice Date:
                              type:
                                - string
                                - "null"
                            Order Number:
                              type:
                                - string
                                - "null"
                            QTY_Received:
                              type:
                                - string
                                - "null"
                            Style_Number:
                              type:
                                - string
                                - "null"
                            Submite Date:
                              type:
                                - string
                                - "null"
                            execution_id:
                              type:
                                - string
                                - "null"
                            final_output:
                              type:
                                - string
                                - "null"
                            line_item_id:
                              type:
                                - string
                                - "null"
                            url_currency:
                              type:
                                - string
                                - "null"
                            ARTICLENUMBER:
                              type:
                                - string
                                - "null"
                            Contact Email:
                              type:
                                - string
                                - "null"
                            Customer Name:
                              type:
                                - string
                                - "null"
                            api_client_id:
                              type:
                                - string
                                - "null"
                            bill_currency:
                              type:
                                - string
                                - "null"
                            contact_email:
                              type:
                                - string
                                - "null"
                            initial_value:
                              type:
                                - string
                                - "null"
                            product_brand:
                              type:
                                - string
                                - "null"
                            product_price:
                              type:
                                - string
                                - "null"
                            promo_percent:
                              type:
                                - string
                                - "null"
                            short_summary:
                              type:
                                - string
                                - "null"
                            Invoice Number:
                              type:
                                - string
                                - "null"
                            Invoice_Amount:
                              type:
                                - string
                                - "null"
                            Invoice_Number:
                              type:
                                - string
                                - "null"
                            Receiver_notes:
                              type:
                                - string
                                - "null"
                            TOTALAMOUNTVAT:
                              type:
                                - string
                                - "null"
                            invoice_number:
                              type:
                                - string
                                - "null"
                            payment_method:
                              type:
                                - string
                                - "null"
                            payment_source:
                              type:
                                - string
                                - "null"
                            payment_status:
                              type:
                                - string
                                - "null"
                            short_keywords:
                              type:
                                - string
                                - "null"
                            ORDEREDQUANTITY:
                              type:
                                - string
                                - "null"
                            TRANSACTIONTYPE:
                              type:
                                - string
                                - "null"
                            Zip/Postal Code:
                              type:
                                - string
                                - "null"
                            approval_status:
                              type:
                                - string
                                - "null"
                            last_characters:
                              type:
                                - string
                                - "null"
                            template_suffix:
                              type:
                                - string
                                - "null"
                            url_description:
                              type:
                                - string
                                - "null"
                            Item_Description:
                              type:
                                - string
                                - "null"
                            TOTALAMOUNTGROSS:
                              type:
                                - string
                                - "null"
                            VATLIABILITYASOS:
                              type:
                                - string
                                - "null"
                            export_timestamp:
                              type:
                                - string
                                - "null"
                            update_timestamp:
                              type:
                                - string
                                - "null"
                            VATLIABILITYBRAND:
                              type:
                                - string
                                - "null"
                            Vendor Legal Name:
                              type:
                                - string
                                - "null"
                            purchase_order_id:
                              type:
                                - string
                                - "null"
                            searched_keywords:
                              type:
                                - string
                                - "null"
                            vendor_contact_id:
                              type:
                                - string
                                - "null"
                            LLC Classification:
                              type:
                                - string
                                - "null"
                            Reshipment Address:
                              type:
                                - string
                                - "null"
                            Tax Address Line 1:
                              type:
                                - string
                                - "null"
                            Tax Address Line 2:
                              type:
                                - string
                                - "null"
                            long_tail_keywords:
                              type:
                                - string
                                - "null"
                            COMMISSIONAMOUNTNET:
                              type:
                                - string
                                - "null"
                            COMMISSIONAMOUNTVAT:
                              type:
                                - string
                                - "null"
                            COUNTRYREGIONISOCODE:
                              type:
                                - string
                                - "null"
                            Image search keyword:
                              type:
                                - string
                                - "null"
                            QuickBook Invoice ID:
                              type:
                                - string
                                - "null"
                            QuickBook Payment ID:
                              type:
                                - string
                                - "null"
                            prompt1 input tokens:
                              type:
                                - string
                                - "null"
                            prompt2 input tokens:
                              type:
                                - string
                                - "null"
                            prompt3 input tokens:
                              type:
                                - string
                                - "null"
                            COMMISSIONAMOUNTGROSS:
                              type:
                                - string
                                - "null"
                            QuickBook Customer ID:
                              type:
                                - string
                                - "null"
                            State/Province/Region:
                              type:
                                - string
                                - "null"
                            prompt1 output tokens:
                              type:
                                - string
                                - "null"
                            prompt2 output tokens:
                              type:
                                - string
                                - "null"
                            prompt3 output tokens:
                              type:
                                - string
                                - "null"
                            MESSAGECREATIONDATETIME:
                              type:
                                - string
                                - "null"
                            potential_focus_keyword:
                              type:
                                - string
                                - "null"
                            Org Order Tracking Number:
                              type:
                                - string
                                - "null"
                            Federal Tax Classification:
                              type:
                                - string
                                - "null"
                            Preferred Claim Resolution:
                              type:
                                - string
                                - "null"
                            relevant_long_tail_keywords:
                              type:
                                - string
                                - "null"
                            Taxpayer Identification Number (TIN):
                              type:
                                - string
                                - "null"
                        schema:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              id:
                                type:
                                  - string
                                  - "null"
                              display:
                                type:
                                  - boolean
                                  - "null"
                              removed:
                                type:
                                  - boolean
                                  - "null"
                              readOnly:
                                type:
                                  - boolean
                                  - "null"
                              required:
                                type:
                                  - boolean
                                  - "null"
                              displayName:
                                type:
                                  - string
                                  - "null"
                              defaultMatch:
                                type:
                                  - boolean
                                  - "null"
                              canBeUsedToMatch:
                                type:
                                  - boolean
                                  - "null"
                        mappingMode:
                          type:
                            - string
                            - "null"
                        matchingColumns:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - string
                              - "null"
                        attemptToConvertTypes:
                          type:
                            - boolean
                            - "null"
                        convertFieldsToString:
                          type:
                            - boolean
                            - "null"
                    compare:
                      type:
                        - string
                        - "null"
                    content:
                      type:
                        - string
                        - "null"
                    driveId:
                      type:
                        - object
                        - "null"
                      properties:
                        __rl:
                          type:
                            - boolean
                            - "null"
                        mode:
                          type:
                            - string
                            - "null"
                        value:
                          type:
                            - string
                            - "null"
                        cachedResultUrl:
                          type:
                            - string
                            - "null"
                        cachedResultName:
                          type:
                            - string
                            - "null"
                    eventId:
                      type:
                        - string
                        - "null"
                    filters:
                      type:
                        - object
                        - "null"
                      properties:
                        q:
                          type:
                            - string
                            - "null"
                        query:
                          type:
                            - string
                            - "null"
                        oldest:
                          type:
                            - string
                            - "null"
                        sender:
                          type:
                            - string
                            - "null"
                        inclusive:
                          type:
                            - boolean
                            - "null"
                        conditions:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              keyName:
                                type:
                                  - string
                                  - "null"
                              keyValue:
                                type:
                                  - string
                                  - "null"
                              condition:
                                type:
                                  - string
                                  - "null"
                        date_macro:
                          type:
                            - string
                            - "null"
                        readStatus:
                          type:
                            - string
                            - "null"
                        activeWorkflows:
                          type:
                            - boolean
                            - "null"
                        excludePinnedData:
                          type:
                            - boolean
                            - "null"
                    include:
                      type:
                        - string
                        - "null"
                    message:
                      type:
                        - string
                        - "null"
                    metrics:
                      type:
                        - object
                        - "null"
                      properties:
                        assignments:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              id:
                                type:
                                  - string
                                  - "null"
                              name:
                                type:
                                  - string
                                  - "null"
                              value:
                                type:
                                  - string
                                  - "null"
                    modelId:
                      type:
                        - object
                        - "null"
                      properties:
                        __rl:
                          type:
                            - boolean
                            - "null"
                        mode:
                          type:
                            - string
                            - "null"
                        value:
                          type:
                            - string
                            - "null"
                        cachedResultName:
                          type:
                            - string
                            - "null"
                    options:
                      type:
                        - object
                        - "null"
                      properties:
                        metadata:
                          type:
                            - object
                            - "null"
                          properties:
                            metadataValues:
                              type:
                                - array
                                - "null"
                              items:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  name:
                                    type:
                                      - string
                                      - "null"
                                  value:
                                    type:
                                      - string
                                      - "null"
                        path:
                          type:
                            - string
                            - "null"
                        reset:
                          type:
                            - boolean
                            - "null"
                        title:
                          type:
                            - string
                            - "null"
                        ccList:
                          type:
                            - string
                            - "null"
                        fields:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - string
                              - "null"
                        attrkey:
                          type:
                            - string
                            - "null"
                        timeMax:
                          type:
                            - string
                            - "null"
                        timeMin:
                          type:
                            - string
                            - "null"
                        batching:
                          type:
                            - object
                            - "null"
                          properties:
                            batchSize:
                              type:
                                - number
                                - "null"
                            delayBetweenBatches:
                              type:
                                - number
                                - "null"
                        fileName:
                          type:
                            - string
                            - "null"
                        mimeType:
                          type:
                            - string
                            - "null"
                        response:
                          type:
                            - object
                            - "null"
                          properties:
                            response:
                              type:
                                - object
                                - "null"
                              properties:
                                neverError:
                                  type:
                                    - boolean
                                    - "null"
                                fullResponse:
                                  type:
                                    - boolean
                                    - "null"
                                responseFormat:
                                  type:
                                    - string
                                    - "null"
                                outputPropertyName:
                                  type:
                                    - string
                                    - "null"
                        subtitle:
                          type:
                            - string
                            - "null"
                        threadTs:
                          type:
                            - string
                            - "null"
                        formTitle:
                          type:
                            - string
                            - "null"
                        maxTokens:
                          type:
                            - number
                            - "null"
                        splitCode:
                          type:
                            - string
                            - "null"
                        useAppend:
                          type:
                            - boolean
                            - "null"
                        cellFormat:
                          type:
                            - string
                            - "null"
                        channelIds:
                          type:
                            - string
                            - "null"
                        ignoreBots:
                          type:
                            - boolean
                            - "null"
                        ignoreCase:
                          type:
                            - boolean
                            - "null"
                        keepSource:
                          type:
                            - string
                            - "null"
                        pagination:
                          type:
                            - object
                            - "null"
                          properties:
                            pagination:
                              type:
                                - object
                                - "null"
                              properties:
                                nextURL:
                                  type:
                                    - string
                                    - "null"
                                parameters:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    parameters:
                                      type:
                                        - array
                                        - "null"
                                      items:
                                        type:
                                          - object
                                          - "null"
                                        properties:
                                          name:
                                            type:
                                              - string
                                              - "null"
                                          value:
                                            type:
                                              - string
                                              - "null"
                                paginationMode:
                                  type:
                                    - string
                                    - "null"
                                requestInterval:
                                  type:
                                    - number
                                    - "null"
                                completeExpression:
                                  type:
                                    - string
                                    - "null"
                                paginationCompleteWhen:
                                  type:
                                    - string
                                    - "null"
                        senderName:
                          type:
                            - string
                            - "null"
                        buttonLabel:
                          type:
                            - string
                            - "null"
                        outputFormat:
                          type:
                            - string
                            - "null"
                        responseCode:
                          anyOf:
                            - type: number
                            - type: object
                              properties:
                                values:
                                  type: object
                                  properties:
                                    responseCode:
                                      type: number
                        responseData:
                          type:
                            - string
                            - "null"
                        attachmentsUi:
                          type:
                            - object
                            - "null"
                          properties:
                            attachmentsBinary:
                              type:
                                - array
                                - "null"
                              items:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  property:
                                    type:
                                      - string
                                      - "null"
                        maxIterations:
                          type:
                            - number
                            - "null"
                        systemMessage:
                          type:
                            - string
                            - "null"
                        initialComment:
                          type:
                            - string
                            - "null"
                        locationDefine:
                          type:
                            - object
                            - "null"
                          properties:
                            values:
                              type:
                                - object
                                - "null"
                              properties:
                                headerRow:
                                  type:
                                    - number
                                    - "null"
                        simplifyOutput:
                          type:
                            - boolean
                            - "null"
                        enableStreaming:
                          type:
                            - boolean
                            - "null"
                        formDescription:
                          type:
                            - string
                            - "null"
                        responseHeaders:
                          type:
                            - object
                            - "null"
                          properties:
                            entries:
                              type:
                                - array
                                - "null"
                              items:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  name:
                                    type:
                                      - string
                                      - "null"
                                  value:
                                    type:
                                      - string
                                      - "null"
                        returnFirstMatch:
                          type:
                            - boolean
                            - "null"
                        appendAttribution:
                          type:
                            - boolean
                            - "null"
                        deletePermanently:
                          type:
                            - boolean
                            - "null"
                        removeOtherFields:
                          type:
                            - boolean
                            - "null"
                        binaryPropertyName:
                          type:
                            - string
                            - "null"
                        disableDotNotation:
                          type:
                            - boolean
                            - "null"
                        respondWithOptions:
                          type:
                            - object
                            - "null"
                          properties:
                            values:
                              type:
                                - object
                                - "null"
                              properties:
                                formSubmittedText:
                                  type:
                                    - string
                                    - "null"
                        waitForSubWorkflow:
                          type:
                            - boolean
                            - "null"
                        downloadAttachments:
                          type:
                            - boolean
                            - "null"
                        useWorkflowTimezone:
                          type:
                            - boolean
                            - "null"
                        enableImageCaptioning:
                          type:
                            - boolean
                            - "null"
                        allowUnauthorizedCerts:
                          type:
                            - boolean
                            - "null"
                        passthroughBinaryImages:
                          type:
                            - boolean
                            - "null"
                        returnIntermediateSteps:
                          type:
                            - boolean
                            - "null"
                        dataPropertyAttachmentsPrefixName:
                          type:
                            - string
                            - "null"
                    orderBy:
                      type:
                        - boolean
                        - "null"
                    orderId:
                      type:
                        - string
                        - "null"
                    outputs:
                      type:
                        - object
                        - "null"
                      properties:
                        values:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              outputName:
                                type:
                                  - string
                                  - "null"
                              outputValue:
                                type:
                                  - string
                                  - "null"
                    subject:
                      type:
                        - string
                        - "null"
                    tableId:
                      anyOf:
                        - type: string
                        - type: object
                          properties:
                            __rl:
                              type: boolean
                            mode:
                              type: string
                            value:
                              type: string
                            cachedResultName:
                              type: string
                    toEmail:
                      type:
                        - string
                        - "null"
                    updates:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - string
                          - "null"
                    TotalAmt:
                      type:
                        - string
                        - "null"
                    calendar:
                      type:
                        - object
                        - "null"
                      properties:
                        __rl:
                          type:
                            - boolean
                            - "null"
                        mode:
                          type:
                            - string
                            - "null"
                        value:
                          type:
                            - string
                            - "null"
                        cachedResultName:
                          type:
                            - string
                            - "null"
                    dataMode:
                      type:
                        - string
                        - "null"
                    fieldsUi:
                      type:
                        - object
                        - "null"
                      properties:
                        values:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              fieldId:
                                type:
                                  - string
                                  - "null"
                              fieldValue:
                                type:
                                  - string
                                  - "null"
                        fieldValues:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              fieldId:
                                type:
                                  - string
                                  - "null"
                              fieldValue:
                                type:
                                  - string
                                  - "null"
                    fileName:
                      type:
                        - string
                        - "null"
                    filePath:
                      type:
                        - string
                        - "null"
                    folderId:
                      type:
                        - object
                        - "null"
                      properties:
                        __rl:
                          type:
                            - boolean
                            - "null"
                        mode:
                          type:
                            - string
                            - "null"
                        value:
                          type:
                            - string
                            - "null"
                        cachedResultUrl:
                          type:
                            - string
                            - "null"
                        cachedResultName:
                          type:
                            - string
                            - "null"
                    jsonBody:
                      type:
                        - string
                        - "null"
                    jsonData:
                      type:
                        - string
                        - "null"
                    jsonMode:
                      type:
                        - string
                        - "null"
                    labelIds:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - string
                          - "null"
                    language:
                      type:
                        - string
                        - "null"
                    maxItems:
                      type:
                        - number
                        - "null"
                    messages:
                      type:
                        - object
                        - "null"
                      properties:
                        values:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              role:
                                type:
                                  - string
                                  - "null"
                              content:
                                type:
                                  - string
                                  - "null"
                        messageValues:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              message:
                                type:
                                  - string
                                  - "null"
                    resource:
                      type:
                        - string
                        - "null"
                    sendBody:
                      type:
                        - boolean
                        - "null"
                    simplify:
                      type:
                        - boolean
                        - "null"
                    sqlQuery:
                      type:
                        - string
                        - "null"
                    threadId:
                      type:
                        - string
                        - "null"
                    toolName:
                      type:
                        - string
                        - "null"
                    aggregate:
                      type:
                        - string
                        - "null"
                    batchSize:
                      type:
                        - number
                        - "null"
                    channelId:
                      type:
                        - object
                        - "null"
                      properties:
                        __rl:
                          type:
                            - boolean
                            - "null"
                        mode:
                          type:
                            - string
                            - "null"
                        value:
                          type:
                            - string
                            - "null"
                        cachedResultName:
                          type:
                            - string
                            - "null"
                    chunkSize:
                      type:
                        - number
                        - "null"
                    combineBy:
                      type:
                        - string
                        - "null"
                    datasetId:
                      type:
                        - object
                        - "null"
                      properties:
                        __rl:
                          type:
                            - boolean
                            - "null"
                        mode:
                          type:
                            - string
                            - "null"
                        value:
                          type:
                            - string
                            - "null"
                        cachedResultName:
                          type:
                            - string
                            - "null"
                    filtersUI:
                      type:
                        - object
                        - "null"
                      properties:
                        values:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              lookupValue:
                                type:
                                  - string
                                  - "null"
                              lookupColumn:
                                type:
                                  - string
                                  - "null"
                    formTitle:
                      type:
                        - string
                        - "null"
                    fromEmail:
                      type:
                        - string
                        - "null"
                    limitType:
                      type:
                        - string
                        - "null"
                    matchType:
                      type:
                        - string
                        - "null"
                    messageId:
                      type:
                        - string
                        - "null"
                    modelName:
                      type:
                        - string
                        - "null"
                    operation:
                      type:
                        - string
                        - "null"
                    paymentId:
                      type:
                        - string
                        - "null"
                    pollTimes:
                      type:
                        - object
                        - "null"
                      properties:
                        item:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              mode:
                                type:
                                  - string
                                  - "null"
                              unit:
                                type:
                                  - string
                                  - "null"
                              value:
                                type:
                                  - number
                                  - "null"
                    projectId:
                      type:
                        - object
                        - "null"
                      properties:
                        __rl:
                          type:
                            - boolean
                            - "null"
                        mode:
                          type:
                            - string
                            - "null"
                        value:
                          type:
                            - string
                            - "null"
                        cachedResultUrl:
                          type:
                            - string
                            - "null"
                        cachedResultName:
                          type:
                            - string
                            - "null"
                    returnAll:
                      type:
                        - boolean
                        - "null"
                    sendQuery:
                      type:
                        - boolean
                        - "null"
                    sheetName:
                      type:
                        - object
                        - "null"
                      properties:
                        __rl:
                          type:
                            - boolean
                            - "null"
                        mode:
                          type:
                            - string
                            - "null"
                        value:
                          type:
                            - number
                            - string
                            - "null"
                        cachedResultUrl:
                          type:
                            - string
                            - "null"
                        cachedResultName:
                          type:
                            - string
                            - "null"
                    tableName:
                      type:
                        - string
                        - "null"
                    binaryData:
                      type:
                        - boolean
                        - "null"
                    conditions:
                      type:
                        - object
                        - "null"
                      properties:
                        number:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              value1:
                                type:
                                  - string
                                  - "null"
                              value2:
                                type:
                                  - number
                                  - "null"
                              operation:
                                type:
                                  - string
                                  - "null"
                        string:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              value1:
                                type:
                                  - string
                                  - "null"
                              operation:
                                type:
                                  - string
                                  - "null"
                        boolean:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              value1:
                                type:
                                  - string
                                  - "null"
                        options:
                          type:
                            - object
                            - "null"
                          properties:
                            version:
                              type:
                                - number
                                - "null"
                            leftValue:
                              type:
                                - string
                                - "null"
                            caseSensitive:
                              type:
                                - boolean
                                - "null"
                            typeValidation:
                              type:
                                - string
                                - "null"
                        combinator:
                          type:
                            - string
                            - "null"
                        conditions:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              id:
                                type:
                                  - string
                                  - "null"
                              operator:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  type:
                                    type:
                                      - string
                                      - "null"
                                  name:
                                    type:
                                      - string
                                      - "null"
                                  operation:
                                    type:
                                      - string
                                      - "null"
                                  rightType:
                                    type:
                                      - string
                                      - "null"
                                  singleValue:
                                    type:
                                      - boolean
                                      - "null"
                              leftValue:
                                type:
                                  - string
                                  - "null"
                              rightValue:
                                type:
                                  - number
                                  - string
                                  - "null"
                    customerId:
                      type:
                        - string
                        - "null"
                    documentId:
                      type:
                        - object
                        - "null"
                      properties:
                        __rl:
                          type:
                            - boolean
                            - "null"
                        mode:
                          type:
                            - string
                            - "null"
                        value:
                          type:
                            - string
                            - "null"
                        cachedResultUrl:
                          type:
                            - string
                            - "null"
                        cachedResultName:
                          type:
                            - string
                            - "null"
                    formFields:
                      type:
                        - object
                        - "null"
                      properties:
                        values:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              fieldType:
                                type:
                                  - string
                                  - "null"
                              fieldLabel:
                                type:
                                  - string
                                  - "null"
                              multiselect:
                                type:
                                  - boolean
                                  - "null"
                              placeholder:
                                type:
                                  - string
                                  - "null"
                              defaultValue:
                                type:
                                  - string
                                  - "null"
                              fieldOptions:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  values:
                                    type:
                                      - array
                                      - "null"
                                    items:
                                      type:
                                        - object
                                        - "null"
                                      properties:
                                        option:
                                          type:
                                            - string
                                            - "null"
                              multipleFiles:
                                type:
                                  - boolean
                                  - "null"
                              requiredField:
                                type:
                                  - boolean
                                  - string
                                  - "null"
                              acceptFileTypes:
                                type:
                                  - string
                                  - "null"
                    httpMethod:
                      type:
                        - string
                        - "null"
                    jsonOutput:
                      type:
                        - boolean
                        - string
                        - "null"
                    jsonSchema:
                      type:
                        - string
                        - "null"
                    promptType:
                      type:
                        - string
                        - "null"
                    pythonCode:
                      type:
                        - string
                        - "null"
                    sessionKey:
                      type:
                        - string
                        - "null"
                    workflowId:
                      type:
                        - object
                        - "null"
                      properties:
                        __rl:
                          type:
                            - boolean
                            - "null"
                        mode:
                          type:
                            - string
                            - "null"
                        value:
                          type:
                            - string
                            - "null"
                        cachedResultUrl:
                          type:
                            - string
                            - "null"
                        cachedResultName:
                          type:
                            - string
                            - "null"
                    CustomerRef:
                      type:
                        - string
                        - "null"
                    application:
                      type:
                        - object
                        - "null"
                      properties:
                        __rl:
                          type:
                            - boolean
[...]
