version: 0.79.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - domestic

definitions:
  streams:
    domestic:
      type: DeclarativeStream
      name: domestic
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /schedule
          http_method: GET
          request_parameters:
            country: |
              {{
                config['domestic_schedule_country_code']
                if parameters['name'] == 'domestic' 
                else config['web_schedule_country_code'].replace('global', '')
                if parameters['name'] == 'web' 
                else ''
              }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: airdate
        name: domestic
        primary_key: id
        path: /schedule
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          field_name: date
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['end_date'] or today_utc() }}"
          datetime_format: "%Y-%m-%d"
        step: P1D
        cursor_granularity: P1D
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/domestic"
    web:
      type: DeclarativeStream
      name: web
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /schedule
          http_method: GET
          request_parameters:
            country: |
              {{
                config['domestic_schedule_country_code']
                if parameters['name'] == 'domestic' 
                else config['web_schedule_country_code'].replace('global', '')
                if parameters['name'] == 'web' 
                else ''
              }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: airdate
        name: web
        primary_key: id
        path: /schedule
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          field_name: date
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['end_date'] or today_utc() }}"
          datetime_format: "%Y-%m-%d"
        step: P1D
        cursor_granularity: P1D
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/web"
    future:
      type: DeclarativeStream
      name: future
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /schedule/full
          http_method: GET
          request_parameters:
            country: |
              {{
                config['domestic_schedule_country_code']
                if parameters['name'] == 'domestic' 
                else config['web_schedule_country_code'].replace('global', '')
                if parameters['name'] == 'web' 
                else ''
              }}
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: airdate
        name: future
        primary_key: id
        path: /schedule/full
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          field_name: date
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['end_date'] or today_utc() }}"
          datetime_format: "%Y-%m-%d"
        step: P1D
        cursor_granularity: P1D
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/future"
  base_requester:
    type: HttpRequester
    url_base: https://api.tvmaze.com

streams:
  - $ref: "#/definitions/streams/domestic"
  - $ref: "#/definitions/streams/web"
  - $ref: "#/definitions/streams/future"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - start_date
      - domestic_schedule_country_code
    properties:
      start_date:
        type: string
        description: Start date for TV schedule retrieval. May be in the future.
        order: 0
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
      end_date:
        type: string
        description: |
          End date for TV schedule retrieval. May be in the future. Optional.
        order: 1
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
      domestic_schedule_country_code:
        type: string
        description: Country code for domestic TV schedule retrieval.
        examples:
          - US
          - GB
        order: 2
      web_schedule_country_code:
        type: string
        description: |
          ISO 3166-1 country code for web TV schedule retrieval. Leave blank for
          all countries plus global web channels (e.g. Netflix). Alternatively,
          set to 'global' for just global web channels.
        examples:
          - US
          - GB
          - global
        order: 3
    additionalProperties: true

metadata:
  autoImportSchema:
    domestic: false
    web: false
    future: false

schemas:
  domestic:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      type:
        type:
          - string
          - "null"
      _links:
        type: object
        properties:
          self:
            type: object
            properties:
              href:
                type:
                  - string
                  - "null"
      airdate:
        type:
          - string
          - "null"
      airstamp:
        type:
          - string
          - "null"
      airtime:
        type:
          - string
          - "null"
      id:
        type:
          - number
          - "null"
      image:
        type:
          - object
          - "null"
        properties:
          medium:
            type:
              - string
              - "null"
          original:
            type:
              - string
              - "null"
      name:
        type:
          - string
          - "null"
      number:
        type:
          - number
          - "null"
      rating:
        type: object
        properties:
          average:
            type:
              - number
              - "null"
      runtime:
        type:
          - number
          - "null"
      season:
        type:
          - number
          - "null"
      show:
        type: object
        properties:
          type:
            type:
              - string
              - "null"
          _links:
            type: object
            properties:
              previousepisode:
                type: object
                properties:
                  href:
                    type:
                      - string
                      - "null"
              self:
                type: object
                properties:
                  href:
                    type:
                      - string
                      - "null"
          averageRuntime:
            type:
              - number
              - "null"
          dvdCountry: null
          ended:
            type:
              - string
              - "null"
          externals:
            type: object
            properties:
              imdb:
                type:
                  - string
                  - "null"
              thetvdb:
                type:
                  - number
                  - "null"
              tvrage:
                type:
                  - number
                  - "null"
          genres:
            type: array
            items:
              type:
                - string
                - "null"
          id:
            type:
              - number
              - "null"
          image:
            type:
              - object
              - "null"
            properties:
              medium:
                type:
                  - string
                  - "null"
              original:
                type:
                  - string
                  - "null"
          language:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          network:
            type:
              - object
              - "null"
            properties:
              country:
                type: object
                properties:
                  code:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  timezone:
                    type:
                      - string
                      - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              officialSite: null
          officialSite:
            type:
              - string
              - "null"
          premiered:
            type:
              - string
              - "null"
          rating:
            type: object
            properties:
              average:
                type:
                  - number
                  - "null"
          runtime:
            type:
              - number
              - "null"
          schedule:
            type: object
            properties:
              days:
                type: array
                items:
                  type:
                    - string
                    - "null"
              time:
                type:
                  - string
                  - "null"
          status:
            type:
              - string
              - "null"
          summary:
            type:
              - string
              - "null"
          updated:
            type:
              - number
              - "null"
          url:
            type:
              - string
              - "null"
          webChannel: null
          weight:
            type:
              - number
              - "null"
      summary:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
    additionalProperties: true
  web:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      type:
        type:
          - string
          - "null"
      _links:
        type: object
        properties:
          self:
            type: object
            properties:
              href:
                type:
                  - string
                  - "null"
      airdate:
        type:
          - string
          - "null"
      airstamp:
        type:
          - string
          - "null"
      airtime:
        type:
          - string
          - "null"
      id:
        type:
          - number
          - "null"
      image:
        type:
          - object
          - "null"
      name:
        type:
          - string
          - "null"
      number:
        type:
          - number
          - "null"
      rating:
        type: object
        properties:
          average:
            type:
              - number
              - "null"
      runtime:
        type:
          - number
          - "null"
      season:
        type:
          - number
          - "null"
      show:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          _links:
            type: object
            properties:
              previousepisode:
                type: object
                properties:
                  href:
                    type:
                      - string
                      - "null"
              self:
                type: object
                properties:
                  href:
                    type:
                      - string
                      - "null"
          averageRuntime:
            type:
              - number
              - "null"
          dvdCountry: null
          ended:
            type:
              - string
              - "null"
          externals:
            type: object
            properties:
              imdb:
                type:
                  - string
                  - "null"
              thetvdb:
                type:
                  - number
                  - "null"
              tvrage: null
          genres:
            type: array
            items:
              type:
                - string
                - "null"
          id:
            type:
              - number
              - "null"
          image:
            type:
              - object
              - "null"
            properties:
              medium:
                type:
                  - string
                  - "null"
              original:
                type:
                  - string
                  - "null"
          language:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          network:
            type: object
            properties:
              country:
                type: object
                properties:
                  code:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  timezone:
                    type:
                      - string
                      - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              officialSite: null
          officialSite: null
          premiered:
            type:
              - string
              - "null"
          rating:
            type: object
            properties:
              average:
                type:
                  - number
                  - "null"
          runtime:
            type:
              - number
              - "null"
          schedule:
            type: object
            properties:
              days:
                type: array
                items:
                  type:
                    - string
                    - "null"
              time:
                type:
                  - string
                  - "null"
          status:
            type:
              - string
              - "null"
          summary:
            type:
              - string
              - "null"
          updated:
            type:
              - number
              - "null"
          url:
            type:
              - string
              - "null"
          webChannel: null
          weight:
            type:
              - number
              - "null"
      summary:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
    additionalProperties: true
  future:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      type:
        type:
          - string
          - "null"
      _links:
        type: object
        properties:
          self:
            type: object
            properties:
              href:
                type:
                  - string
                  - "null"
      airdate:
        type:
          - string
          - "null"
      airstamp:
        type:
          - string
          - "null"
      airtime:
        type:
          - string
          - "null"
      id:
        type:
          - number
          - "null"
      image: null
      name:
        type:
          - string
          - "null"
      number:
        type:
          - number
          - "null"
      rating:
        type: object
        properties:
          average: null
      runtime:
        type:
          - number
          - "null"
      season:
        type:
          - number
          - "null"
      show:
        type: object
        properties:
          type:
            type:
              - string
              - "null"
          _links:
            type: object
            properties:
              previousepisode:
                type: object
                properties:
                  href:
                    type:
                      - string
                      - "null"
              self:
                type: object
                properties:
                  href:
                    type:
                      - string
                      - "null"
          averageRuntime:
            type:
              - number
              - "null"
          dvdCountry: null
          ended:
            type:
              - string
              - "null"
          externals:
            type: object
            properties:
              imdb:
                type:
                  - string
                  - "null"
              thetvdb:
                type:
                  - number
                  - "null"
              tvrage: null
          genres:
            type: array
            items:
              type:
                - string
                - "null"
          id:
            type:
              - number
              - "null"
          image:
            type: object
            properties:
              medium:
                type:
                  - string
                  - "null"
              original:
                type:
                  - string
                  - "null"
          language:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          network:
            type: object
            properties:
              country:
                type: object
                properties:
                  code:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  timezone:
                    type:
                      - string
                      - "null"
              id:
                type:
                  - number
                  - "null"
              name:
                type:
                  - string
                  - "null"
              officialSite: null
          officialSite: null
          premiered:
            type:
              - string
              - "null"
          rating:
            type: object
            properties:
              average: null
          runtime:
            type:
              - number
              - "null"
          schedule:
            type: object
            properties:
              days:
                type: array
                items:
                  type:
                    - string
                    - "null"
              time:
                type:
                  - string
                  - "null"
          status:
            type:
              - string
              - "null"
          summary:
            type:
              - string
              - "null"
          updated:
            type:
              - number
              - "null"
          url:
            type:
              - string
              - "null"
          webChannel: null
          weight:
            type:
              - number
              - "null"
      summary:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
    additionalProperties: true
