version: 7.0.4

type: DeclarativeSource

description: >-
  Documentation reference:

  Visit
  https://www.quora.com/ads/api9169a6d6e9b42452d500a61717d87d15d5fa49ec5b53030741178130#section/Overview
  for API documentation

check:
  type: CheckStream
  stream_names:
    - account

definitions:
  linked:
    HttpRequester:
      error_handler:
        type: CompositeErrorHandler
        error_handlers:
          - type: DefaultErrorHandler
            max_retries: 4
            response_filters:
              - type: HttpResponseFilter
                action: RETRY
                http_codes:
                  - 429
                error_message: >-
                  Quora rate limit reached (2000 requests/hour per OAuth client
                  per ad account, shared across all reporting endpoints) —
                  retrying with backoff.
            backoff_strategies:
              - type: ExponentialBackoffStrategy
                factor: 60
          - type: DefaultErrorHandler
            backoff_strategies:
              - type: ExponentialBackoffStrategy
                factor: 7
      authenticator:
        type: OAuthAuthenticator
        scopes:
          - ads_read
        client_id: "{{ config[\"client_id\"] }}"
        grant_type: refresh_token
        client_secret: "{{ config[\"client_secret\"] }}"
        refresh_token: "{{ config[\"client_refresh_token\"] }}"
        expires_in_name: expires_in
        access_token_name: access_token
        refresh_request_body: {}
        refresh_token_updater:
          access_token_config_path:
            - oauth_access_token
          refresh_token_config_path:
            - client_refresh_token
          token_expiry_date_config_path:
            - oauth_token_expiry_date
        token_refresh_endpoint: https://www.quora.com/_/oauth/token
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 25

streams:
  - type: DeclarativeStream
    name: account
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        http_method: GET
        request_parameters:
          fields: >-
            accountId,accountName,accountCurrency,clicks,conversions,conversionRate,costPerLead,formCompletionRate,impressions,leadsGenerated,spend
          conversionTypes: >-
            {{ (["Generic"] + (config.get("conversion_types") or [])) | unique |
            join(",") }}
          attributionWindows: >-
            {{ (config.get("attribution_windows") or
            ["CLICK_28_DAY","VIEW_1_DAY"]) | join(",") }}
        url: https://api.quora.com/ads/v0/accounts/{{ config["account_id"] }}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - date
      - accountId
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          clicks:
            type:
              - number
              - "null"
          impressions:
            type:
              - number
              - "null"
          leadsGenerated:
            type:
              - number
              - "null"
          spend:
            type:
              - number
              - "null"
          accountId:
            type: number
          accountName:
            type:
              - string
              - "null"
          accountCurrency:
            type:
              - string
              - "null"
          conversions:
            type:
              - object
              - "null"
            properties:
              Generic:
                type:
                  - number
                  - "null"
          conversionRate:
            type:
              - object
              - "null"
            properties:
              Generic:
                type:
                  - number
                  - "null"
          date:
            type: string
        required:
          - date
          - accountId
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - date
            value: "{{ stream_interval.start_time }}"
    incremental_sync:
      type: DatetimeBasedCursor
      step: P1D
      cursor_field: date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: endDate
        inject_into: request_parameter
      lookback_window: P28D
      start_time_option:
        type: RequestOption
        field_name: startDate
        inject_into: request_parameter
      cursor_granularity: P1D
      cursor_datetime_formats:
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: campaign_summary
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        http_method: GET
        request_parameters:
          level: CAMPAIGN
          fields: >-
            accountCurrency,campaignId,campaignName,clicks,conversions,conversionRate,costPerLead,cpc,ctr,dailyBudget,formCompletionRate,impressions,leadsGenerated,lifetimeBudget,spend,status
          conversionTypes: >-
            {{ (["Generic"] + (config.get("conversion_types") or [])) | unique |
            join(",") }}
          attributionWindows: >-
            {{ (config.get("attribution_windows") or
            ["CLICK_28_DAY","VIEW_1_DAY"]) | join(",") }}
        url: https://api.quora.com/ads/v0/accounts/{{ config["account_id"] }}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - date
      - campaignId
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          clicks:
            type:
              - number
              - "null"
          cpc:
            type:
              - number
              - "null"
          ctr:
            type:
              - number
              - "null"
          impressions:
            type:
              - number
              - "null"
          leadsGenerated:
            type:
              - number
              - "null"
          spend:
            type:
              - number
              - "null"
          accountCurrency:
            type:
              - string
              - "null"
          campaignId:
            type: number
          campaignName:
            type:
              - string
              - "null"
          dailyBudget:
            type:
              - number
              - "null"
          status:
            type:
              - string
              - "null"
          conversions:
            type:
              - object
              - "null"
            properties:
              Generic:
                type:
                  - number
                  - "null"
          conversionRate:
            type:
              - object
              - "null"
            properties:
              Generic:
                type:
                  - number
                  - "null"
          date:
            type: string
        required:
          - date
          - campaignId
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - date
            value: "{{ stream_interval.start_time }}"
    incremental_sync:
      type: DatetimeBasedCursor
      step: P1D
      cursor_field: date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: endDate
        inject_into: request_parameter
      lookback_window: P28D
      start_time_option:
        type: RequestOption
        field_name: startDate
        inject_into: request_parameter
      cursor_granularity: P1D
      cursor_datetime_formats:
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: adset_summary
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        http_method: GET
        request_parameters:
          level: AD_SET
          fields: >-
            accountCurrency,adSetId,adSetName,bidAmount,campaignId,campaignName,clicks,conversions,conversionRate,costPerLead,cpc,ctr,formCompletionRate,impressions,leadsGenerated,spend,status
          conversionTypes: >-
            {{ (["Generic"] + (config.get("conversion_types") or [])) | unique |
            join(",") }}
          attributionWindows: >-
            {{ (config.get("attribution_windows") or
            ["CLICK_28_DAY","VIEW_1_DAY"]) | join(",") }}
        url: https://api.quora.com/ads/v0/accounts/{{ config["account_id"] }}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - date
      - adSetId
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          clicks:
            type:
              - number
              - "null"
          cpc:
            type:
              - number
              - "null"
          ctr:
            type:
              - number
              - "null"
          impressions:
            type:
              - number
              - "null"
          leadsGenerated:
            type:
              - number
              - "null"
          spend:
            type:
              - number
              - "null"
          accountCurrency:
            type:
              - string
              - "null"
          adSetId:
            type: number
          adSetName:
            type:
              - string
              - "null"
          bidAmount:
            type:
              - number
              - "null"
          campaignId:
            type:
              - number
              - "null"
          campaignName:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          conversions:
            type:
              - object
              - "null"
            properties:
              Generic:
                type:
                  - number
                  - "null"
          conversionRate:
            type:
              - object
              - "null"
            properties:
              Generic:
                type:
                  - number
                  - "null"
          date:
            type: string
        required:
          - date
          - adSetId
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - date
            value: "{{ stream_interval.start_time }}"
    incremental_sync:
      type: DatetimeBasedCursor
      step: P1D
      cursor_field: date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: endDate
        inject_into: request_parameter
      lookback_window: P28D
      start_time_option:
        type: RequestOption
        field_name: startDate
        inject_into: request_parameter
      cursor_granularity: P1D
      cursor_datetime_formats:
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: ad_summary
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        http_method: GET
        request_parameters:
          level: AD
          fields: >-
            accountCurrency,adId,adName,adSetId,adSetName,bidAmount,campaignId,campaignName,clicks,conversions,conversionRate,costPerLead,cpc,ctr,formCompletionRate,impressions,landingURL,leadsGenerated,spend,status
          conversionTypes: >-
            {{ (["Generic"] + (config.get("conversion_types") or [])) | unique |
            join(",") }}
          attributionWindows: >-
            {{ (config.get("attribution_windows") or
            ["CLICK_28_DAY","VIEW_1_DAY"]) | join(",") }}
        url: https://api.quora.com/ads/v0/accounts/{{ config["account_id"] }}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - date
      - adId
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          clicks:
            type:
              - number
              - "null"
          impressions:
            type:
              - number
              - "null"
          leadsGenerated:
            type:
              - number
              - "null"
          spend:
            type:
              - number
              - "null"
          accountCurrency:
            type:
              - string
              - "null"
          adId:
            type: number
          adName:
            type:
              - string
              - "null"
          adSetId:
            type:
              - number
              - "null"
          adSetName:
            type:
              - string
              - "null"
          bidAmount:
            type:
              - number
              - "null"
          campaignId:
            type:
              - number
              - "null"
          campaignName:
            type:
              - string
              - "null"
          landingURL:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          conversions:
            type:
              - object
              - "null"
            properties:
              Generic:
                type:
                  - number
                  - "null"
          conversionRate:
            type:
              - object
              - "null"
            properties: {}
          date:
            type: string
        required:
          - date
          - adId
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - date
            value: "{{ stream_interval.start_time }}"
    incremental_sync:
      type: DatetimeBasedCursor
      step: P1D
      cursor_field: date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: endDate
        inject_into: request_parameter
      lookback_window: P28D
      start_time_option:
        type: RequestOption
        field_name: startDate
        inject_into: request_parameter
      cursor_granularity: P1D
      cursor_datetime_formats:
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: accounts
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        http_method: GET
        url: https://api.quora.com/ads/v0/accounts/
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - accountId
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          accountId:
            type: number
          accountName:
            type:
              - string
              - "null"
        required:
          - accountId
        additionalProperties: true

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - account_id
      - client_id
      - client_secret
      - client_refresh_token
      - start_date
    properties:
      client_id:
        type: string
        order: 1
        title: Client ID
        airbyte_secret: true
      account_id:
        type: string
        order: 0
        title: Account ID
      start_date:
        type: string
        order: 4
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      client_secret:
        type: string
        order: 2
        title: Client secret
        airbyte_secret: true
      oauth_access_token:
        type: string
        description: >-
          The current access token. This field might be overridden by the
          connector based on the token refresh endpoint response.
        order: 5
        title: Access token
        airbyte_secret: true
      client_refresh_token:
        type: string
        order: 3
        title: Refresh token
        airbyte_secret: true
      oauth_token_expiry_date:
        type: string
        description: >-
          The date the current access token expires in. This field might be
          overridden by the connector based on the token refresh endpoint
          response.
        order: 6
        title: Token expiry date
        format: date-time
      conversion_types:
        type: array
        description: >-
          Additional conversion types to return for the `conversions` and
          `conversionRate` fields. Quora returns `Generic` only by default, so
          any other type your account fires is silently absent until listed
          here.

          `Generic` is always included whether or not it appears in this list,
          and cannot be removed. Downstream models read it as a named key, so
          dropping it would null those columns rather than fail visibly. Listing
          it explicitly is harmless.
        order: 7
        title: Conversion types
        default:
          - Generic
        items:
          type: string
          enum:
            - Generic
            - AppInstall
            - Purchase
            - GenerateLead
            - CompleteRegistration
            - AddPaymentInfo
            - AddToCart
            - AddToWishlist
            - InitiateCheckout
            - Search
      attribution_windows:
        type: array
        description: >-
          Windows used to attribute a conversion back to a click or view. Keep
          the streams' `lookback_window` at least as long as the longest window
          selected here, or conversions attributed late are never re-fetched and
          the historical rows stay short.
        order: 8
        title: Attribution windows
        default:
          - CLICK_28_DAY
          - VIEW_1_DAY
        items:
          type: string
          enum:
            - CLICK_28_DAY
            - VIEW_1_DAY
    additionalProperties: true
  advanced_auth:
    auth_flow_type: oauth2.0
    oauth_config_specification:
      oauth_connector_input_specification:
        consent_url: >-
          https://www.quora.com/_/oauth/authorize?{{client_id_key}}={{client_id_value}}&{{redirect_uri_key}}={{redirect_uri_value}}&response_type=code&{{scope_key}}={{scope_value}}&{{state_key}}={{state_value}}
        scope: ads_read
        access_token_url: https://www.quora.com/_/oauth/token
        access_token_headers:
          Content-Type: application/x-www-form-urlencoded
        access_token_params:
          "{{ auth_code_key }}": "{{ auth_code_value }}"
          "{{ client_id_key }}": "{{ client_id_value }}"
          "{{ client_secret_key }}": "{{ client_secret_value }}"
          "{{ redirect_uri_key }}": "{{ redirect_uri_value }}"
          grant_type: authorization_code
        extract_output:
          - access_token
          - refresh_token
        state:
          min: 32
          max: 44
      complete_oauth_output_specification:
        required:
          - refresh_token
        properties:
          refresh_token:
            type: string
            path_in_connector_config:
              - client_refresh_token
      complete_oauth_server_input_specification:
        required:
          - client_id
          - client_secret
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        required:
          - client_id
          - client_secret
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - client_secret

metadata:
  assist: {}
  testedStreams:
    account:
      hasRecords: true
      streamHash: 98e39a7769b65f5fb35c061cb7363d4e443d72e1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
      isStale: false
    ad_summary:
      hasRecords: true
      streamHash: 0466b18231c1941403127966870610d01c70bbe0
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
      isStale: true
    adset_summary:
      hasRecords: true
      streamHash: 4a1e81c1c680e167a4189747dc6a829968f54e46
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
      isStale: false
    campaign_summary:
      hasRecords: true
      streamHash: 64a2f320b1056d293d804be1c843c75ed6249ccc
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
      isStale: false
    accounts:
      streamHash: 611aed967e2ed72c7eef3541bc7f56a83827c5a0
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  autoImportSchema:
    account: true
    ad_summary: true
    adset_summary: true
    campaign_summary: true
    accounts: true
  applied_migrations:
    - from_version: 7.0.4
      to_version: "*"
      migration: HttpRequesterUrlBaseToUrl
      migrated_at: "2026-08-20T03:54:46.117776+00:00"
    - from_version: 7.0.4
      to_version: "*"
      migration: HttpRequesterPathToUrl
      migrated_at: "2026-08-20T03:54:46.118943+00:00"

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 1
