version: 5.14.0

type: DeclarativeSource

description: >-
  Quora Ads API Connector allows you to sync advertising data between Quora Ads
  and external platforms, such as analytics tools, CRMs, or marketing
  dashboards. Quora Ads is a platform that enables businesses to reach relevant
  audiences through targeted advertising on Quora, helping drive brand
  awareness, engagement, and conversions. This connector streamlines the process
  of retrieving key ad performance data, making it easier to monitor campaigns
  and optimize marketing strategies.

check:
  type: CheckStream
  stream_names:
    - current_user

definitions:
  streams:
    current_user:
      type: DeclarativeStream
      name: current_user
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /me
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('paging', {}).get('next') }}"
            stop_condition: "{{ response.get('paging', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/current_user"
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - accountId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts/
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('paging', {}).get('next') }}"
            stop_condition: "{{ response.get('paging', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"
    leadgenforms:
      type: DeclarativeStream
      name: leadgenforms
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /account/{{stream_partition.accountid}}/lead-gen-forms
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('paging', {}).get('next') }}"
            stop_condition: "{{ response.get('paging', {}).get('next') is none }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: accountId
              partition_field: accountid
              stream:
                $ref: "#/definitions/streams/accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/leadgenforms"
    campagins:
      type: DeclarativeStream
      name: campagins
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /campaigns/{{config['campaign_id']}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('paging', {}).get('next') }}"
            stop_condition: "{{ response.get('paging', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campagins"
    adsets:
      type: DeclarativeStream
      name: adsets
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /ad-sets/{{config['ad_sets']}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('paging', {}).get('next') }}"
            stop_condition: "{{ response.get('paging', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/adsets"
  base_requester:
    type: HttpRequester
    url_base: https://api.quora.com/ads/v0
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/current_user"
  - $ref: "#/definitions/streams/accounts"
  - $ref: "#/definitions/streams/leadgenforms"
  - $ref: "#/definitions/streams/campagins"
  - $ref: "#/definitions/streams/adsets"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      campaign_id:
        type: string
        title: Campaign Id
        order: 1
      ad_sets:
        type: string
        title: adsets
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    current_user: false
    accounts: false
    leadgenforms: false
    campagins: false
    adsets: false
  testedStreams:
    current_user:
      streamHash: 3b11010c04f0988bd77e34ebe8646323d8d86f5b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    accounts:
      streamHash: c511ef9b8008171fc3e1735b1bdfd540da1e96b5
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    leadgenforms:
      streamHash: 6e4140150529081091e90513c386f123dd485acc
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    campagins:
      streamHash: 52a57887892dbb5402a86e04c2b9604911184ff5
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    adsets:
      streamHash: d0881a118c1c21cf4417bf148f4b732628ea307c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: >-
      https://www.quora.com/ads/api9169a6d6e9b42452d500a61717d87d15d5fa49ec5b53030741178130

schemas:
  current_user:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          publicName:
            type:
              - string
              - "null"
    additionalProperties: true
  accounts:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      accountId:
        type: number
      accountName:
        type:
          - string
          - "null"
    required:
      - accountId
    additionalProperties: true
  leadgenforms:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
    additionalProperties: true
  campagins:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            accountId:
              type:
                - number
                - "null"
            clicks:
              type:
                - number
                - "null"
            impressions:
              type:
                - number
                - "null"
            spend:
              type:
                - number
                - "null"
      endDate:
        type:
          - string
          - "null"
      startDate:
        type:
          - string
          - "null"
    additionalProperties: true
  adsets:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      accountId:
        type:
          - number
          - "null"
      clicks:
        type:
          - number
          - "null"
      impressions:
        type:
          - number
          - "null"
      spend:
        type:
          - number
          - "null"
    additionalProperties: true
