version: 6.4.0

type: DeclarativeSource

description: >-
  Quora Ads API Connector allows you to sync advertising data between Quora Ads
  and external platforms, such as analytics tools, CRMs, or marketing
  dashboards. Quora Ads is a platform that enables businesses to reach relevant
  audiences through targeted advertising on Quora, helping drive brand
  awareness, engagement, and conversions. This connector streamlines the process
  of retrieving key ad performance data, making it easier to monitor campaigns
  and optimize marketing strategies.

check:
  type: CheckStream
  stream_names:
    - current_user

definitions:
  streams:
    current_user:
      type: DeclarativeStream
      name: current_user
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /me
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('paging', {}).get('next') }}"
            stop_condition: "{{ response.get('paging', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/current_user"
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - accountId
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /accounts/
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('paging', {}).get('next') }}"
            stop_condition: "{{ response.get('paging', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"
    leadgenforms:
      type: DeclarativeStream
      name: leadgenforms
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /account/{{stream_partition.accountid}}/lead-gen-forms
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('paging', {}).get('next') }}"
            stop_condition: "{{ response.get('paging', {}).get('next') is none }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: accountId
              partition_field: accountid
              stream:
                $ref: "#/definitions/streams/accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/leadgenforms"
    campagins:
      type: DeclarativeStream
      name: campagins
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /campaigns/{{config['campaign_id']}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('paging', {}).get('next') }}"
            stop_condition: "{{ response.get('paging', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campagins"
    adsets:
      type: DeclarativeStream
      name: adsets
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /ad-sets/{{config['ad_sets']}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('paging', {}).get('next') }}"
            stop_condition: "{{ response.get('paging', {}).get('next') is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/adsets"
  base_requester:
    type: HttpRequester
    url_base: https://api.quora.com/ads/v0
    authenticator:
      type: OAuthAuthenticator
      refresh_request_body: {}
      token_refresh_endpoint: https://www.quora.com/_/oauth/token
      grant_type: refresh_token
      client_id: "{{ config[\"client_id\"] }}"
      client_secret: "{{ config[\"client_secret\"] }}"
      refresh_token: "{{ config[\"client_refresh_token\"] }}"

streams:
  - $ref: "#/definitions/streams/current_user"
  - $ref: "#/definitions/streams/accounts"
  - $ref: "#/definitions/streams/leadgenforms"
  - $ref: "#/definitions/streams/campagins"
  - $ref: "#/definitions/streams/adsets"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
      - client_refresh_token
    properties:
      campaign_id:
        type: string
        order: 0
        title: Campaign Id
      ad_sets:
        type: string
        order: 1
        title: adsets
      client_id:
        type: string
        title: Client ID
        airbyte_secret: true
        order: 2
      client_secret:
        type: string
        title: Client secret
        airbyte_secret: true
        order: 3
      client_refresh_token:
        type: string
        title: Refresh token
        airbyte_secret: true
        order: 4
    additionalProperties: true

metadata:
  autoImportSchema:
    current_user: false
    accounts: false
    leadgenforms: false
    campagins: false
    adsets: false
  testedStreams:
    current_user:
      streamHash: 76b3154f334e0830e6ce0dbb8801520bab0e1251
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    accounts:
      hasRecords: true
      streamHash: b3761ea2053ba0f5ec0c6200b34eb38d8603d737
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    leadgenforms:
      hasRecords: true
      streamHash: 73f516408ceca0068d0563fe6706156b436ef5db
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    campagins:
      hasRecords: true
      streamHash: 2e1e9b2a4907b942d9422f33e8f2ab34c2a19e77
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    adsets:
      hasRecords: true
      streamHash: 0b2c41d1c266582cbcda11dc7cfb1528b5607e56
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist:
    docsUrl: >-
      https://www.quora.com/ads/api9169a6d6e9b42452d500a61717d87d15d5fa49ec5b53030741178130

schemas:
  current_user:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      data:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          publicName:
            type:
              - string
              - "null"
  accounts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      accountId:
        type: number
      accountName:
        type:
          - string
          - "null"
    required:
      - accountId
  leadgenforms:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
  campagins:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            accountId:
              type:
                - number
                - "null"
            clicks:
              type:
                - number
                - "null"
            impressions:
              type:
                - number
                - "null"
            spend:
              type:
                - number
                - "null"
      endDate:
        type:
          - string
          - "null"
      startDate:
        type:
          - string
          - "null"
  adsets:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      accountId:
        type:
          - number
          - "null"
      clicks:
        type:
          - number
          - "null"
      impressions:
        type:
          - number
          - "null"
      spend:
        type:
          - number
          - "null"
