version: 5.10.3

type: DeclarativeSource

description: Synchronizes Bunny accounts

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  streams:
    accounts:
      type: DeclarativeStream
      name: accounts
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: variables
            inject_into: body_json
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ '{"after": "' + response.data.accounts.pageInfo.endCursor +
              '"}' if response.data.accounts.pageInfo.endCursor else "" }}
            stop_condition: "{{ response.data.accounts.pageInfo.hasNextPage is false }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /graphql
          http_method: POST
          request_body_json:
            query: >-
              query($after: String) { accounts(first: 10, after: $after) { nodes
              { id name } pageInfo { startCursor endCursor hasNextPage
              hasPreviousPage } } } 
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - accounts
              - nodes
              - "*"
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['subdomain'] }}.bunny.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key_2\"] }}"

streams:
  - $ref: "#/definitions/streams/accounts"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - subdomain
      - api_key_2
    properties:
      api_key_2:
        type: string
        order: 1
        title: API Key
        airbyte_secret: true
      subdomain:
        type: string
        description: The subdomain specific to your Bunny account or service.
        name: subdomain
        order: 0
        title: Subdomain
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://docs.bunny.com/developer/api-reference/queries
  testedStreams:
    accounts:
      hasRecords: true
      streamHash: cfc90fb87f76147bbe8c7e728c4f0ff4877cf7e6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    accounts: true

schemas:
  accounts:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
    additionalProperties: true
