version: 7.10.0

type: DeclarativeSource

description: >-
  JustCall v2.1 connector syncs call logs, SMS, contacts, phone numbers, and
  users from JustCall into your data warehouse.

check:
  type: CheckStream
  stream_names:
    - phone_numbers

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: ApiKeyAuthenticator
        header: Authorization
        api_token: "{{ config['api_key'] }}:{{ config['api_secret'] }}"
      request_parameters:
        order: asc
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 100
          start_from_page: 0
          inject_on_first_request: true

streams:
  - type: DeclarativeStream
    name: calls
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 100
          start_from_page: 0
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: ApiKeyAuthenticator
          header: Authorization
          api_token: "{{ config['api_key'] }}:{{ config['api_secret'] }}"
        http_method: GET
        request_parameters:
          order: asc
          sort: datetime
        url: https://api.justcall.io/v2.1/calls
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - call_date
        properties:
          id:
            type: number
          call_sid:
            type:
              - string
              - "null"
          contact_number:
            type:
              - string
              - "null"
          contact_name:
            type:
              - string
              - "null"
          contact_email:
            type:
              - string
              - "null"
          justcall_number:
            type:
              - string
              - "null"
          justcall_line_name:
            type:
              - string
              - "null"
          agent_id:
            type:
              - number
              - "null"
          agent_name:
            type:
              - string
              - "null"
          agent_email:
            type:
              - string
              - "null"
          agent_active:
            type:
              - string
              - "null"
          call_date:
            type: string
          call_time:
            type:
              - string
              - "null"
          call_user_date:
            type:
              - string
              - "null"
          call_user_time:
            type:
              - string
              - "null"
          cost_incurred:
            type:
              - number
              - "null"
          call_info:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              direction:
                type:
                  - string
                  - "null"
              missed_call_reason:
                type:
                  - string
                  - "null"
              status:
                type:
                  - string
                  - "null"
              disposition:
                type:
                  - string
                  - "null"
              notes:
                type:
                  - string
                  - "null"
              rating:
                type:
                  - string
                  - "null"
              recording:
                type:
                  - string
                  - "null"
              recording_child:
                type:
                  - string
                  - "null"
              voicemail_transcription:
                type:
                  - string
                  - "null"
              call_traits:
                type:
                  - array
                  - "null"
          call_duration:
            type:
              - object
              - "null"
            properties:
              friendly_duration:
                type:
                  - string
                  - "null"
              queue_wait_time:
                type:
                  - number
                  - "null"
              ring_time:
                type:
                  - number
                  - "null"
              hold_time:
                type:
                  - number
                  - "null"
              wrap_up_time:
                type:
                  - number
                  - "null"
              total_duration:
                type:
                  - number
                  - "null"
              conversation_time:
                type:
                  - number
                  - "null"
              handle_time:
                type:
                  - number
                  - "null"
          ivr_info:
            type:
              - object
              - "null"
            properties:
              digit_pressed:
                type:
                  - string
                  - "null"
              content:
                type:
                  - string
                  - "null"
          queue:
            type:
              - object
              - "null"
          queue_callback:
            type:
              - object
              - "null"
          justcall_ai:
            type:
              - object
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: call_date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: to_datetime
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: from_datetime
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: sms
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 100
          start_from_page: 0
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: ApiKeyAuthenticator
          header: Authorization
          api_token: "{{ config['api_key'] }}:{{ config['api_secret'] }}"
        http_method: GET
        request_parameters:
          order: asc
          sort: datetime
        url: https://api.justcall.io/v2.1/texts
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - sms_date
        properties:
          id:
            type: number
          contact_number:
            type:
              - string
              - "null"
          contact_name:
            type:
              - string
              - "null"
          contact_email:
            type:
              - string
              - "null"
          justcall_number:
            type:
              - string
              - "null"
          justcall_line_name:
            type:
              - string
              - "null"
          agent_id:
            type:
              - number
              - "null"
          agent_name:
            type:
              - string
              - "null"
          agent_email:
            type:
              - string
              - "null"
          sms_date:
            type: string
          sms_user_date:
            type:
              - string
              - "null"
          sms_time:
            type:
              - string
              - "null"
          sms_user_time:
            type:
              - string
              - "null"
          direction:
            type:
              - string
              - "null"
          cost_incurred:
            type:
              - number
              - "null"
          sms_info:
            type:
              - object
              - "null"
            properties:
              body:
                type:
                  - string
                  - "null"
              is_mms:
                type:
                  - string
                  - "null"
              mms:
                type:
                  - array
                  - "null"
          delivery_status:
            type:
              - string
              - "null"
          is_deleted:
            type:
              - boolean
              - "null"
          medium:
            type:
              - string
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: sms_date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: to_datetime
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: from_datetime
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: contacts
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 500
          start_from_page: 0
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: ApiKeyAuthenticator
          header: Authorization
          api_token: "{{ config['api_key'] }}:{{ config['api_secret'] }}"
        http_method: GET
        request_parameters:
          order: asc
          across_team: "true"
        url: https://api.justcall.io/v2.1/contacts
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: number
          parent_contact_id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          first_name:
            type:
              - string
              - "null"
          last_name:
            type:
              - string
              - "null"
          contact_number:
            type:
              - string
              - "null"
          other_numbers:
            type:
              - array
              - "null"
          email:
            type:
              - string
              - "null"
          extension:
            type:
              - number
              - "null"
          company:
            type:
              - string
              - "null"
          address:
            type:
              - string
              - "null"
          notes:
            type:
              - array
              - "null"
          status:
            type:
              - object
              - "null"
            properties:
              blacklist:
                type:
                  - boolean
                  - "null"
              dnd:
                type:
                  - boolean
                  - "null"
              dnm:
                type:
                  - boolean
                  - "null"
          status_updated_at:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          last_updated_at:
            type:
              - string
              - "null"
          agent_id:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: phone_numbers
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        type: HttpRequester
        authenticator:
          type: ApiKeyAuthenticator
          header: Authorization
          api_token: "{{ config['api_key'] }}:{{ config['api_secret'] }}"
        http_method: POST
        url: https://api.justcall.io/v1/numbers/list
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: number
          justcall_number:
            type:
              - string
              - "null"
          friendly_number:
            type:
              - string
              - "null"
          justcall_line_name:
            type:
              - string
              - "null"
          availability_setting:
            type:
              - string
              - "null"
          current_status:
            type:
              - string
              - "null"
          number_type:
            type:
              - string
              - "null"
          sms_compliance:
            type:
              - string
              - "null"
          number_owner:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - number
                  - "null"
              email:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          shared_with:
            type:
              - object
              - "null"
            properties:
              team_members:
                type:
                  - array
                  - "null"
              user_groups:
                type:
                  - array
                  - "null"
          capabilities:
            type:
              - object
              - "null"
            properties:
              call:
                type:
                  - string
                  - "null"
              sms:
                type:
                  - string
                  - "null"
              mms:
                type:
                  - string
                  - "null"
          business_registration:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: users
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 100
          start_from_page: 0
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: ApiKeyAuthenticator
          header: Authorization
          api_token: "{{ config['api_key'] }}:{{ config['api_secret'] }}"
        http_method: GET
        request_parameters:
          order: asc
        url: https://api.justcall.io/v2.1/users
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: number
          name:
            type:
              - string
              - "null"
          role:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          groups:
            type:
              - array
              - "null"
          on_call:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
              - "null"
          available:
            type:
              - string
              - "null"
          extension:
            type:
              - number
              - "null"
          created_at:
            type:
              - string
              - "null"
          owned_numbers:
            type:
              - array
              - "null"
          shared_numbers:
            type:
              - array
              - "null"
          working_hours_type:
            type:
              - string
              - "null"
          last_login_timestamp:
            type:
              - string
              - "null"
          unavailability_reason:
            type:
              - string
              - "null"
        additionalProperties: true

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - api_secret
      - start_date
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      api_secret:
        type: string
        order: 1
        title: API Secret
        airbyte_secret: true
      start_date:
        type: string
        order: 2
        title: Start Date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  autoImportSchema: {}
  testedStreams:
    calls:
      streamHash: ccd0125773bd058fe961f235e53e93359aad6d65
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    sms:
      streamHash: e730ed9c4ea4f1404f68c2fe7b98b7703b4ba826
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    contacts:
      streamHash: ffef87077aa8442d020d438c789ba4f90c707d28
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    phone_numbers:
      streamHash: 2ddd3923021828b7c6bb73f1820d825a050b2b5b
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: 8b754f92f872734e34c28f687473e84f7468f7a9
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
