version: 5.14.0

type: DeclarativeSource

description: >-
  JustCall connector enables seamless data integration by syncing call logs,
  contacts, and analytics from JustCall to various data destinations. This
  connector ensures businesses can centralize communication data for better
  reporting and analysis

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  streams:
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2.1/users
          http_method: GET
          request_parameters:
            order: asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 0
            page_size: 100
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    calls:
      type: DeclarativeStream
      name: calls
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2.1/calls
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 0
            page_size: 100
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: call_date
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: from_datetime
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: to_datetime
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/calls"
    sms:
      type: DeclarativeStream
      name: sms
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2.1/texts
          http_method: GET
          request_parameters:
            order: asc
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 0
            page_size: 100
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: sms_date
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: from_datetime
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: to_datetime
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sms"
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/contacts/list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: per_page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 0
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    phone_numbers:
      type: DeclarativeStream
      name: phone_numbers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/numbers/list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/phone_numbers"
    agent_analytics:
      type: DeclarativeStream
      name: agent_analytics
      primary_key:
        - agent_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2.1/sales_dialer/analytics
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/agent_analytics"
  base_requester:
    type: HttpRequester
    url_base: https://api.justcall.io
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key_2\"] }}"
      inject_into:
        type: RequestOption
        field_name: Authorization
        inject_into: header

streams:
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/calls"
  - $ref: "#/definitions/streams/sms"
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/phone_numbers"
  - $ref: "#/definitions/streams/agent_analytics"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key_2
      - start_date
    properties:
      api_key_2:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    users: true
    calls: true
    sms: true
    contacts: true
    phone_numbers: true
    agent_analytics: true
  testedStreams:
    users:
      streamHash: ac7b29baae274f10dc3dfef5c43b45597ebd8fb4
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    calls:
      streamHash: 74823c398fdbc2b5c3d185ae3b14d6cf5e374a7a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    sms:
      streamHash: e4aabf593737d644f8939714707326ef65edcb5f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    contacts:
      streamHash: c3f166add6b295a9f7413b2f494b6ba1565cf17f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    phone_numbers:
      streamHash: f0af01d236bb80a251d12b6985515ab1eaa85ffe
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    agent_analytics:
      streamHash: 3addd325eabbe919cbbcdff9967b3b46d0927f45
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://developer.justcall.io/reference/call_list_v21

schemas:
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      available:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      extension:
        type:
          - number
          - "null"
      groups:
        type:
          - array
          - "null"
      id:
        type: number
      last_login_timestamp:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      on_call:
        type:
          - string
          - "null"
      owned_numbers:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      role:
        type:
          - string
          - "null"
      shared_numbers:
        type:
          - array
          - "null"
      timezone:
        type:
          - string
          - "null"
      unavailability_reason:
        type:
          - string
          - "null"
      working_hours_type:
        type:
          - string
          - "null"
    required:
      - id
  calls:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      agent_active:
        type:
          - string
          - "null"
      agent_email:
        type:
          - string
          - "null"
      agent_id:
        type:
          - number
          - "null"
      agent_name:
        type:
          - string
          - "null"
      call_date:
        type: string
      call_duration:
        type:
          - object
          - "null"
        properties:
          conversation_time:
            type:
              - number
              - "null"
          friendly_duration:
            type:
              - string
              - "null"
          handle_time:
            type:
              - number
              - "null"
          hold_time:
            type:
              - number
              - "null"
          queue_wait_time:
            type:
              - number
              - "null"
          ring_time:
            type:
              - number
              - "null"
          total_duration:
            type:
              - number
              - "null"
          wrap_up_time:
            type:
              - number
              - "null"
      call_info:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          call_traits:
            type:
              - array
              - "null"
          direction:
            type:
              - string
              - "null"
          disposition:
            type:
              - string
              - "null"
          missed_call_reason:
            type:
              - string
              - "null"
          notes:
            type:
              - string
              - "null"
          rating:
            type:
              - string
              - "null"
          recording:
            type:
              - string
              - "null"
          recording_child:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          voicemail_transcription:
            type:
              - string
              - "null"
      call_sid:
        type:
          - string
          - "null"
      call_time:
        type:
          - string
          - "null"
      call_user_date:
        type:
          - string
          - "null"
      call_user_time:
        type:
          - string
          - "null"
      contact_email:
        type:
          - string
          - "null"
      contact_name:
        type:
          - string
          - "null"
      contact_number:
        type:
          - string
          - "null"
      cost_incurred:
        type:
          - number
          - "null"
      id:
        type: number
      ivr_info:
        type:
          - object
          - "null"
        properties:
          content:
            type:
              - string
              - "null"
          digit_pressed:
            type:
              - string
              - "null"
      justcall_ai:
        type:
          - object
          - "null"
      justcall_line_name:
        type:
          - string
          - "null"
      justcall_number:
        type:
          - string
          - "null"
      queue:
        type:
          - object
          - "null"
      queue_callback:
        type:
          - object
          - "null"
    required:
      - id
      - call_date
  sms:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      agent_email:
        type:
          - string
          - "null"
      agent_id:
        type:
          - number
          - "null"
      agent_name:
        type:
          - string
          - "null"
      contact_email:
        type:
          - string
          - "null"
      contact_name:
        type:
          - string
          - "null"
      contact_number:
        type:
          - string
          - "null"
      cost_incurred:
        type:
          - number
          - "null"
      delivery_status:
        type:
          - string
          - "null"
      direction:
        type:
          - string
          - "null"
      id:
        type: number
      is_deleted:
        type:
          - boolean
          - "null"
      justcall_line_name:
        type:
          - string
          - "null"
      justcall_number:
        type:
          - string
          - "null"
      medium:
        type:
          - string
          - "null"
      sms_date:
        type: string
      sms_info:
        type:
          - object
          - "null"
        properties:
          body:
            type:
              - string
              - "null"
          is_mms:
            type:
              - string
              - "null"
          mms:
            type:
              - array
              - "null"
      sms_time:
        type:
          - string
          - "null"
      sms_user_date:
        type:
          - string
          - "null"
      sms_user_time:
        type:
          - string
          - "null"
    required:
      - id
      - sms_date
  contacts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      company:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      firstname:
        type:
          - string
          - "null"
      id:
        type: number
      lastname:
        type:
          - string
          - "null"
      notes:
        type:
          - string
          - "null"
      other_phones:
        type:
          - array
          - "null"
      phone:
        type:
          - string
          - "null"
    required:
      - id
  phone_numbers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      agent_id:
        type:
          - number
          - "null"
      capabilities:
        type:
          - object
          - "null"
        properties:
          fax:
            type:
              - string
              - "null"
          mms:
            type:
              - string
              - "null"
          sms:
            type:
              - string
              - "null"
          voice:
            type:
              - string
              - "null"
      custom_name:
        type:
          - string
          - "null"
      friendly_name:
        type:
          - string
          - "null"
      id:
        type: number
      phone:
        type:
          - string
          - "null"
    required:
      - id
  agent_analytics:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      abandoned_calls:
        type:
          - number
          - "null"
      agent_email:
        type:
          - string
          - "null"
      agent_id:
        type: number
      agent_name:
        type:
          - string
          - "null"
      agent_success_rate:
        type:
          - number
          - "null"
      answered_calls:
        type:
          - number
          - "null"
      available_time_in_campaign:
        type:
          - string
          - "null"
      average_call_duration:
        type:
          - string
          - "null"
      campaigns_run:
        type:
          - number
          - "null"
      connection_rate:
        type:
          - number
          - "null"
      dialed_calls:
        type:
          - number
          - "null"
      max_call_duration:
        type:
          - string
          - "null"
      pause_time:
        type:
          - string
          - "null"
      total_after_call_work:
        type:
          - string
          - "null"
      total_call_duration:
        type:
          - string
          - "null"
      total_cost_incurred:
        type:
          - number
          - "null"
      total_unanswered_calls:
        type:
          - number
          - "null"
      total_voicemails_drops:
        type:
          - number
          - "null"
    required:
      - agent_id
