version: 0.79.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - providers

definitions:
  streams:
    providers:
      type: DeclarativeStream
      name: providers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /providers
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - providers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: PageIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/providers"
    services:
      type: DeclarativeStream
      name: services
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /services
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - services
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: PageIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/services"
    products:
      type: DeclarativeStream
      name: products
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /products
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - products
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: PageIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
    reports:
      type: DeclarativeStream
      name: reports
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /reports
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - reports
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: PageIncrement
            page_size: 100
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/reports"
  base_requester:
    type: HttpRequester
    url_base: https://api.vantage.sh/v1
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config['access_token'] }}"

streams:
  - $ref: "#/definitions/streams/providers"
  - $ref: "#/definitions/streams/services"
  - $ref: "#/definitions/streams/products"
  - $ref: "#/definitions/streams/reports"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - access_token
    properties:
      access_token:
        type: string
        title: API Access Token
        description: >-
          Your API Access token. See <a
          href="https://vantage.readme.io/reference/authentication">here</a>.
        airbyte_secret: true
        order: 0
    additionalProperties: true

metadata:
  autoImportSchema:
    providers: false
    services: false
    products: false
    reports: false

schemas:
  providers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    description: Providers model
    properties:
      description:
        type: string
        description: The full descriptive name of the provider.
        example: Amazon Web Services
      id:
        type: string
      name:
        type: string
        description: The common name of the provider.
        example: AWS
  services:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    description: Services model
    properties:
      category:
        type: string
        description: The type of cloud service.
        example: compute
      description:
        type: string
        description: The full name of the service.
        example: Elastic Compute Cloud
      id:
        type: string
      name:
        type: string
        description: The common name of the service. Usually an abbreviation.
        example: EC2
  products:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    description: Products model
    properties:
      category:
        type: string
        description: The category of the cloud product
        example: compute
      details:
        type: object
        description: An object of metadata about the product.
      id:
        type: string
      name:
        type: string
        description: The common name of the product.
        example: EC2
      provider_id:
        type: string
        description: A unique slug for the provider the product belongs to.
        example: aws
      service_id:
        type: string
        description: A unique slug for the service the product belongs to.
        example: aws-ec2
  reports:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    description: Reports model
    properties:
      created_at:
        type: string
        description: The date and time, in UTC, the report was created. ISO 8601 Formatted.
        example: "2021-07-09T00:00:00Z"
      earliest_cost_date:
        type: string
        description: The date and time, in UTC, the report was created. ISO 8601 Formatted.
        example: "2021-07-09T00:00:00Z"
      id:
        type: string
      latest_cost_date:
        type: string
        description: The date and time, in UTC, the report was created. ISO 8601 Formatted.
        example: "2021-07-09T00:00:00Z"
      title:
        type: string
        description: The title of the cost report.
        example: Production Environment
      workspace:
        type: string
        description: The name of the workspace the report is a part of.
