version: 4.6.2

type: DeclarativeSource

description: >-
  Website: https://app.vwo.com/

  API Docs: https://developers.vwo.com/reference/introduction-1

  Auth doc:
  https://developers.vwo.com/reference/authentication-for-personal-use-of-api-1

  Auth page: https://app.vwo.com/#/developers/tokens

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  streams:
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: accounts
          http_method: GET
          request_parameters:
            includeCurrent: "true"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: createdOn
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: startTime
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: endTime
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"
    accounts_feeds:
      type: DeclarativeStream
      name: accounts_feeds
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: accounts/current/feeds
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: when
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: startTime
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: endTime
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts_feeds"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: accounts/current/users
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: createdOn
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: startTime
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: endTime
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    smartcode:
      type: DeclarativeStream
      name: smartcode
      primary_key:
        - uid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: accounts/current/smartcode
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: true
      transformations:
        - type: AddFields
          fields:
            - path:
                - uid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/smartcode"
    campaigns:
      type: DeclarativeStream
      name: campaigns
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: accounts/current/campaigns
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: createdOn
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: startTime
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: endTime
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns"
    custom_widgets:
      type: DeclarativeStream
      name: custom_widgets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: accounts/current/changesets
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updatedAt
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: startTime
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: endTime
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_widgets"
    thresholds:
      type: DeclarativeStream
      name: thresholds
      primary_key:
        - uid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: accounts/current/thresholds
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: true
      transformations:
        - type: AddFields
          fields:
            - path:
                - uid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/thresholds"
    integrations:
      type: DeclarativeStream
      name: integrations
      primary_key:
        - uid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: accounts/current/integrations
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: true
      transformations:
        - type: AddFields
          fields:
            - path:
                - uid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/integrations"
    labels:
      type: DeclarativeStream
      name: labels
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: accounts/current/labels
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/labels"
  base_requester:
    type: HttpRequester
    url_base: https://app.vwo.com/api/v2/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: '{{ config["api_key"] }}'
      inject_into:
        type: RequestOption
        field_name: token
        inject_into: header

streams:
  - $ref: "#/definitions/streams/accounts"
  - $ref: "#/definitions/streams/accounts_feeds"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/smartcode"
  - $ref: "#/definitions/streams/campaigns"
  - $ref: "#/definitions/streams/custom_widgets"
  - $ref: "#/definitions/streams/thresholds"
  - $ref: "#/definitions/streams/integrations"
  - $ref: "#/definitions/streams/labels"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      start_date:
        type: string
        order: 1
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  autoImportSchema:
    accounts: true
    accounts_feeds: true
    users: true
    smartcode: true
    campaigns: true
    custom_widgets: true
    thresholds: true
    integrations: true
    labels: true
  testedStreams:
    accounts:
      hasRecords: true
      streamHash: 7c134005d94a087af44cc60ad5212aceabce1d04
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    accounts_feeds:
      streamHash: d583e86f2f9cadf98f14f4a7fe7848dabc3887c0
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: 821ffa28f69ae139b1f030afd820d3dcfb8a2851
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    smartcode:
      streamHash: 6eaf6a8e0885f8f3a063ea19cd54228a18f03c9f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    campaigns:
      streamHash: e077eac054c6140095eb67baa9b16608dd94ef80
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    custom_widgets:
      streamHash: c6df05d60620e068bbaa8af8d5dad10c7d0e31ba
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    thresholds:
      streamHash: c113a8cb30025887bec151da3b5396db9f0e109b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    integrations:
      streamHash: d586e160c02dd27e68d82bc897d3f9c59c396d04
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    labels:
      streamHash: eed5267d08a5c999f990941a46142396503e2d14
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  accounts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdOn:
        type: number
      id:
        type: number
      isActive:
        type:
          - boolean
          - "null"
      isEnabled:
        type:
          - boolean
          - "null"
      isMainAccount:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
    required:
      - id
      - createdOn
  accounts_feeds:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      campaign:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          appPlatform:
            type:
              - string
              - "null"
          goalId:
            type:
              - number
              - "null"
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          platform:
            type:
              - string
              - "null"
      id:
        type: string
      verb:
        type:
          - string
          - "null"
      what:
        type:
          - string
          - "null"
      when:
        type: number
      who:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          imageUrl:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
    required:
      - id
      - when
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account:
        type:
          - number
          - "null"
      country:
        type:
          - string
          - "null"
      createdOn:
        type: number
      department:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      id:
        type: number
      lastLogin:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      permission:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
    required:
      - id
      - createdOn
  smartcode:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      async:
        type:
          - string
          - "null"
      sync:
        type:
          - string
          - "null"
      uid:
        type: string
    required:
      - uid
  campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      associatedCampaign:
        type:
          - array
          - "null"
      campaignGroup:
        type:
          - array
          - "null"
      createdBy:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          imageUrl:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      createdOn:
        type: number
      goals:
        type:
          - object
          - "null"
        properties:
          offset:
            type:
              - number
              - "null"
          partialCollection:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                averageData:
                  type:
                    - array
                    - "null"
                id:
                  type:
                    - number
                    - "null"
                isPrimary:
                  type:
                    - boolean
                    - "null"
                name:
                  type:
                    - string
                    - "null"
          totalCount:
            type:
              - number
              - "null"
      id:
        type: number
      isApprovalPending:
        type:
          - boolean
          - "null"
      isBayesian:
        type:
          - boolean
          - "null"
      isDeleted:
        type:
          - boolean
          - "null"
      labels:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
      name:
        type:
          - string
          - "null"
      pageGroupConfig:
        type:
          - object
          - "null"
        properties:
          editorUrl:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          exclude:
            type:
              - array
              - "null"
          include:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                configurations:
                  type:
                    - object
                    - "null"
                  properties:
                    caseInsensitive:
                      type:
                        - boolean
                        - "null"
                    ignoreOnlyHashFrag:
                      type:
                        - boolean
                        - "null"
                    ignoreOnlyQueryParams:
                      type:
                        - boolean
                        - "null"
                id:
                  type:
                    - string
                    - "null"
                operator:
                  type:
                    - number
                    - "null"
                queryElementType:
                  type:
                    - string
                    - "null"
                rOperandValue:
                  type:
                    - string
                    - "null"
      platform:
        type:
          - string
          - "null"
      primaryGoal:
        type:
          - number
          - "null"
      stats:
        type:
          - object
          - "null"
        properties:
          delayDecision:
            type:
              - boolean
              - "null"
          expectedConversionRate:
            type:
              - string
              - "null"
          expectedDailyVisitors:
            type:
              - number
              - "null"
          expectedImprovementRate:
            type:
              - string
              - "null"
          expectedRevenuePerVisitor:
            type:
              - string
              - "null"
          multipleCorrection:
            type:
              - boolean
              - "null"
          pauseCampaignAfterFinalDay:
            type:
              - boolean
              - "null"
          peekingCorrection:
            type:
              - boolean
              - "null"
          reportingVersion:
            type:
              - number
              - "null"
          reportingView:
            type:
              - number
              - "null"
          testingApproach:
            type:
              - string
              - "null"
          thresholdOfCaring:
            type:
              - string
              - "null"
      status:
        type:
          - string
          - "null"
      variations:
        type:
          - object
          - "null"
        properties:
          partialCollection:
            type:
              - array
              - "null"
          totalCount:
            type:
              - number
              - "null"
    required:
      - id
      - createdOn
  custom_widgets:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      createdAt:
        type:
          - number
          - "null"
      createdBy:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      updatedAt:
        type: number
    required:
      - id
      - updatedAt
  thresholds:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      losingPercent:
        type:
          - number
          - "null"
      uid:
        type: string
      visitors:
        type:
          - number
          - "null"
      winningPercent:
        type:
          - number
          - "null"
    required:
      - uid
  integrations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      clicktale:
        type:
          - object
          - "null"
        properties:
          enabled:
            type:
              - boolean
              - "null"
      ga:
        type:
          - object
          - "null"
        properties:
          enabled:
            type:
              - boolean
              - "null"
          prefix:
            type:
              - string
              - "null"
          slot:
            type:
              - number
              - "null"
      gtm:
        type:
          - object
          - "null"
        properties:
          enabled:
            type:
              - boolean
              - "null"
      isGaPremium:
        type:
          - boolean
          - "null"
      ua:
        type:
          - object
          - "null"
        properties:
          dimension:
            type:
              - number
              - "null"
          enabled:
            type:
              - boolean
              - "null"
          prefix:
            type:
              - string
              - "null"
      uid:
        type: string
    required:
      - uid
  labels:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: number
      name:
        type:
          - string
          - "null"
    required:
      - id
