version: 6.44.0

type: DeclarativeSource

description: |-
  Website: https://printify.com/
  API Reference: https://developers.printify.com/#catalog

check:
  type: CheckStream
  stream_names:
    - shops

definitions:
  streams:
    shops:
      type: DeclarativeStream
      name: shops
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/shops.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next_page_url') }}"
            stop_condition: "{{ response.get('next_page_url') is none }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shops"
    shop_orders:
      type: DeclarativeStream
      name: shop_orders
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/shops/{{ stream_partition['shop_id'] }}/orders.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next_page_url') }}"
            stop_condition: "{{ response.get('next_page_url') is none }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: shop_id
              stream:
                $ref: "#/definitions/streams/shops"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shop_orders"
    catalog_blueprints:
      type: DeclarativeStream
      name: catalog_blueprints
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/catalog/blueprints.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next_page_url') }}"
            stop_condition: "{{ response.get('next_page_url') is none }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: shop_id
              stream:
                $ref: "#/definitions/streams/shops"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/catalog_blueprints"
    catalog_print_providers:
      type: DeclarativeStream
      name: catalog_print_providers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/catalog/print_providers.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next_page_url') }}"
            stop_condition: "{{ response.get('next_page_url') is none }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: shop_id
              stream:
                $ref: "#/definitions/streams/shops"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/catalog_print_providers"
    shop_products:
      type: DeclarativeStream
      name: shop_products
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v1/shops/{{ stream_partition['shop_id'] }}/products.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next_page_url') }}"
            stop_condition: "{{ response.get('next_page_url') is none }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: shop_id
              stream:
                $ref: "#/definitions/streams/shops"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shop_products"
    catalog_blueprint_print_providers:
      type: DeclarativeStream
      name: catalog_blueprint_print_providers
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /v1/catalog/blueprints/{{ stream_partition['blueprint_id']
            }}/print_providers.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('next_page_url') }}"
            stop_condition: "{{ response.get('next_page_url') is none }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: blueprint_id
              stream:
                $ref: "#/definitions/streams/catalog_blueprints"
        decoder:
          type: JsonDecoder
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/catalog_blueprint_print_providers"
  base_requester:
    type: HttpRequester
    url_base: https://api.printify.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_token\"] }}"

streams:
  - $ref: "#/definitions/streams/shops"
  - $ref: "#/definitions/streams/shop_orders"
  - $ref: "#/definitions/streams/catalog_blueprints"
  - $ref: "#/definitions/streams/catalog_print_providers"
  - $ref: "#/definitions/streams/shop_products"
  - $ref: "#/definitions/streams/catalog_blueprint_print_providers"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_token
    properties:
      api_token:
        type: string
        description: >-
          Your Printify API token. Obtain it from your Printify account
          settings.
        name: api_token
        title: API Token
        airbyte_secret: true
        order: 0
    additionalProperties: true

metadata:
  autoImportSchema:
    shops: true
    shop_orders: true
    catalog_blueprints: true
    catalog_print_providers: true
    shop_products: true
    catalog_blueprint_print_providers: true
  testedStreams:
    shops:
      streamHash: 2238118c8ee506b1492f7368b951182dae8c06ae
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    shop_orders:
      streamHash: aa0e1988bbeaa4d556cd9ca2f65f4c724391e370
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    catalog_blueprints:
      streamHash: d93b15b5bf9be203e30b7b29941d9c0c698f5e4d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    catalog_print_providers:
      streamHash: 2456cfce76e81a55a8d89ff8eb6ad0b7c0af2ecf
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    shop_products:
      streamHash: 6e95ddd9d208985279923e9d305d33cb2ac67c92
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    catalog_blueprint_print_providers:
      streamHash: a8b7e57abe912c22856272053159e1949f8d3609
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://developers.printify.com/#shops

schemas:
  shops:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: number
      sales_channel:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
    required:
      - id
  shop_orders:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      metadata:
        type:
          - object
          - "null"
        properties:
          order_type:
            type:
              - string
              - "null"
      address_to:
        type:
          - object
          - "null"
        properties:
          address1:
            type:
              - string
              - "null"
          address2:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          first_name:
            type:
              - string
              - "null"
          last_name:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          region:
            type:
              - string
              - "null"
          zip:
            type:
              - string
              - "null"
      app_order_id:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      fulfilment_type:
        type:
          - string
          - "null"
      id:
        type: string
      line_items:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            metadata:
              type:
                - object
                - "null"
              properties:
                country:
                  type:
                    - string
                    - "null"
                price:
                  type:
                    - number
                    - "null"
                sku:
                  type:
                    - string
                    - "null"
                title:
                  type:
                    - string
                    - "null"
                variant_label:
                  type:
                    - string
                    - "null"
            blueprint_id:
              type:
                - number
                - "null"
            cost:
              type:
                - number
                - "null"
            id:
              type:
                - string
                - "null"
            print_provider_id:
              type:
                - number
                - "null"
            product_id:
              type:
                - string
                - "null"
            quantity:
              type:
                - number
                - "null"
            shipping_cost:
              type:
                - number
                - "null"
            status:
              type:
                - string
                - "null"
            variant_id:
              type:
                - number
                - "null"
      printify_connect:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
      sales_channel_type_id:
        type:
          - number
          - "null"
      shipping_method:
        type:
          - number
          - "null"
      shop_id:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
      total_price:
        type:
          - number
          - "null"
      total_shipping:
        type:
          - number
          - "null"
      total_tax:
        type:
          - number
          - "null"
    required:
      - id
  catalog_blueprints:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      brand:
        type:
          - string
          - "null"
      id:
        type: number
      images:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      model:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
    required:
      - id
  catalog_print_providers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: number
      location:
        type:
          - object
          - "null"
        properties:
          address1:
            type:
              - string
              - "null"
          address2:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          region:
            type:
              - string
              - "null"
          zip:
            type:
              - string
              - "null"
      title:
        type:
          - string
          - "null"
    required:
      - id
  shop_products:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      blueprint_id:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      id:
        type: string
      images:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            is_default:
              type:
                - boolean
                - "null"
            is_selected_for_publishing:
              type:
                - boolean
                - "null"
            position:
              type:
                - string
                - "null"
            src:
              type:
                - string
                - "null"
            variant_ids:
              type:
                - array
                - "null"
              items:
                type:
                  - number
                  - "null"
      is_deleted:
        type:
          - boolean
          - "null"
      is_economy_shipping_eligible:
        type:
          - boolean
          - "null"
      is_economy_shipping_enabled:
        type:
          - boolean
          - "null"
      is_locked:
        type:
          - boolean
          - "null"
      is_printify_express_eligible:
        type:
          - boolean
          - "null"
      is_printify_express_enabled:
        type:
          - boolean
          - "null"
      options:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            display_in_preview:
              type:
                - boolean
                - "null"
            name:
              type:
                - string
                - "null"
            values:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  colors:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - string
                        - "null"
                  id:
                    type:
                      - number
                      - "null"
                  title:
                    type:
                      - string
                      - "null"
      original_product_id:
        type:
          - string
          - "null"
      print_areas:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            font_color:
              type:
                - string
                - "null"
            font_family:
              type:
                - string
                - "null"
            placeholders:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  images:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        angle:
                          type:
                            - number
                            - "null"
                        height:
                          type:
                            - number
                            - "null"
                        id:
                          type:
                            - string
                            - "null"
                        name:
                          type:
                            - string
                            - "null"
                        scale:
                          type:
                            - number
                            - "null"
                        src:
                          type:
                            - string
                            - "null"
                        width:
                          type:
                            - number
                            - "null"
                        x:
                          type:
                            - number
                            - "null"
                        "y":
                          type:
                            - number
                            - "null"
                  position:
                    type:
                      - string
                      - "null"
            variant_ids:
              type:
                - array
                - "null"
              items:
                type:
                  - number
                  - "null"
      print_details:
        type:
          - array
          - "null"
      print_provider_id:
        type:
          - number
          - "null"
      sales_channel_properties:
        type:
          - array
          - "null"
      shop_id:
        type:
          - number
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      title:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      user_id:
        type:
          - number
          - "null"
      variants:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            cost:
              type:
                - number
                - "null"
            grams:
              type:
                - number
                - "null"
            id:
              type:
                - number
                - "null"
            is_available:
              type:
                - boolean
                - "null"
            is_default:
              type:
                - boolean
                - "null"
            is_enabled:
              type:
                - boolean
                - "null"
            is_printify_express_eligible:
              type:
                - boolean
                - "null"
            options:
              type:
                - array
                - "null"
              items:
                type:
                  - number
                  - "null"
            price:
              type:
                - number
                - "null"
            quantity:
              type:
                - number
                - "null"
            sku:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
      views:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            files:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  src:
                    type:
                      - string
                      - "null"
                  variant_ids:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - number
                        - "null"
            id:
              type:
                - number
                - "null"
            label:
              type:
                - string
                - "null"
            position:
              type:
                - string
                - "null"
      visible:
        type:
          - boolean
          - "null"
    required:
      - id
  catalog_blueprint_print_providers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - number
          - "null"
      title:
        type:
          - string
          - "null"
      uuid:
        type: string
    required:
      - uuid
