version: 5.15.0

type: DeclarativeSource

description: >-
  Ruddr connector enables seamless data synchronization from Ruddr to various
  data warehouses, lakes, and destinations. It simplifies data pipelines by
  extracting projects and analytics data, ensuring reliable and efficient data
  integration for real-time insights.

check:
  type: CheckStream
  stream_names:
    - clients

definitions:
  streams:
    clients:
      type: DeclarativeStream
      name: clients
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/workspace/clients
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: startingAfter
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('results', [])[-1].get('id') if
              response.get('results') else None }}
            stop_condition: "{{ not response.get('hasMore', False) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/clients"
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/workspace/projects
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: startingAfter
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('results', [])[-1].get('id') if
              response.get('results') else None }}
            stop_condition: "{{ not response.get('hasMore', False) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    project_members:
      type: DeclarativeStream
      name: project_members
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/workspace/project-members
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: startingAfter
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('results', [])[-1].get('id') if
              response.get('results') else None }}
            stop_condition: "{{ not response.get('hasMore', False) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/project_members"
    project_tasks:
      type: DeclarativeStream
      name: project_tasks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/workspace/project-tasks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: startingAfter
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('results', [])[-1].get('id') if
              response.get('results') else None }}
            stop_condition: "{{ not response.get('hasMore', False) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/project_tasks"
    expense_reports:
      type: DeclarativeStream
      name: expense_reports
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/workspace/expense-reports
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: startingAfter
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('results', [])[-1].get('id') if
              response.get('results') else None }}
            stop_condition: "{{ not response.get('hasMore', False) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/expense_reports"
    expense_items:
      type: DeclarativeStream
      name: expense_items
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/workspace/expense-items
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: startingAfter
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('results', [])[-1].get('id') if
              response.get('results') else None }}
            stop_condition: "{{ not response.get('hasMore', False) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/expense_items"
    expense_categories:
      type: DeclarativeStream
      name: expense_categories
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/workspace/expense-categories
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: startingAfter
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('results', [])[-1].get('id') if
              response.get('results') else None }}
            stop_condition: "{{ not response.get('hasMore', False) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/expense_categories"
    project_expense:
      type: DeclarativeStream
      name: project_expense
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/workspace/project-expenses
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: startingAfter
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('results', [])[-1].get('id') if
              response.get('results') else None }}
            stop_condition: "{{ not response.get('hasMore', False) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/project_expense"
    project_budget_expenses:
      type: DeclarativeStream
      name: project_budget_expenses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/workspace/project-budget-expenses
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: startingAfter
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('results', [])[-1].get('id') if
              response.get('results') else None }}
            stop_condition: "{{ not response.get('hasMore', False) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/project_budget_expenses"
    workspace members:
      type: DeclarativeStream
      name: workspace members
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/workspace/members
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: startingAfter
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('results', [])[-1].get('id') if
              response.get('results') else None }}
            stop_condition: "{{ not response.get('hasMore', False) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/workspace members"
    opportunity_stages:
      type: DeclarativeStream
      name: opportunity_stages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/workspace/opportunity-stages
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: startingAfter
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('results', [])[-1].get('id') if
              response.get('results') else None }}
            stop_condition: "{{ not response.get('hasMore', False) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/opportunity_stages"
    invoices:
      type: DeclarativeStream
      name: invoices
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/workspace/invoices
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: startingAfter
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('results', [])[-1].get('id') if
              response.get('results') else None }}
            stop_condition: "{{ not response.get('hasMore', False) }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/invoices"
    holidays:
      type: DeclarativeStream
      name: holidays
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/workspace/holidays
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/holidays"
  base_requester:
    type: HttpRequester
    url_base: https://www.ruddr.io
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_token\"] }}"

streams:
  - $ref: "#/definitions/streams/clients"
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/project_members"
  - $ref: "#/definitions/streams/project_tasks"
  - $ref: "#/definitions/streams/expense_reports"
  - $ref: "#/definitions/streams/expense_items"
  - $ref: "#/definitions/streams/expense_categories"
  - $ref: "#/definitions/streams/project_expense"
  - $ref: "#/definitions/streams/project_budget_expenses"
  - $ref: "#/definitions/streams/workspace members"
  - $ref: "#/definitions/streams/opportunity_stages"
  - $ref: "#/definitions/streams/invoices"
  - $ref: "#/definitions/streams/holidays"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_token
    properties:
      api_token:
        type: string
        description: >-
          API token to use. Generate it in the API Keys section of your Ruddr
          workspace settings.
        name: api_token
        order: 0
        title: API Token
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    clients: true
    projects: true
    project_members: true
    project_tasks: true
    expense_reports: true
    expense_items: true
    expense_categories: true
    project_expense: true
    project_budget_expenses: true
    workspace members: true
    opportunity_stages: true
    invoices: true
    holidays: true
  testedStreams:
    clients:
      hasRecords: true
      streamHash: 0dbc85cdc22e4d90e88f4105a8268738a54164a3
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    projects:
      hasRecords: true
      streamHash: b285d74a23e654130dfdbf544b5ddb9ad2c658c2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    project_members:
      hasRecords: true
      streamHash: c0047434606932ef68f95ae09595228037a390c2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    project_tasks:
      hasRecords: true
      streamHash: 20e5c758981bc4f3d86e27213a29d1c17bf507aa
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    expense_reports:
      hasRecords: true
      streamHash: 63851b54f880ea6a692b515e76be601d0db64ee4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    expense_items:
      hasRecords: true
      streamHash: ba620d377018e71f7c4d98c18bb1e43301408e9c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    expense_categories:
      hasRecords: true
      streamHash: e126a7d9745117094ad0b4fcaeb19495e7e06ef5
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    project_expense:
      hasRecords: true
      streamHash: df65fba540c6eb0abc9c7269acdae1b565da6a0a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    project_budget_expenses:
      hasRecords: true
      streamHash: d4800b37477c16c1b6f378babe2222717bad3545
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    workspace members:
      hasRecords: true
      streamHash: 6e42a14f1099704b6a339fae46e4c71b12fce55b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    opportunity_stages:
      hasRecords: true
      streamHash: 5805c3cfbac00244498b1186816656ede28d18f2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    invoices:
      hasRecords: true
      streamHash: 852db3395953957782f6991ec52427668a347310
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    holidays:
      streamHash: 9d8cd065b7610a0431928ed53dc53e2885b61707
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://ruddr.readme.io/reference/introduction

schemas:
  clients:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      emails:
        type:
          - array
          - "null"
      id:
        type: string
      invoiceNotes:
        type:
          - string
          - "null"
      isInternal:
        type:
          - boolean
          - "null"
      key:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      notes:
        type:
          - string
          - "null"
      owner:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      paymentTermsId:
        type:
          - string
          - "null"
      recordStatusId:
        type:
          - string
          - "null"
      salesRepresentative:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      tags:
        type:
          - array
          - "null"
      useWorkspaceInvoiceDetails:
        type:
          - boolean
          - "null"
    required:
      - id
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      billingTypeId:
        type:
          - string
          - "null"
      budget:
        type:
          - object
          - "null"
        properties:
          billableExpenses:
            type:
              - number
              - "null"
          billableHours:
            type:
              - number
              - "null"
          nonBillableExpenses:
            type:
              - number
              - "null"
          nonBillableHours:
            type:
              - number
              - "null"
          otherRevenue:
            type:
              - number
              - "null"
          revenue:
            type:
              - number
              - "null"
          servicesRevenue:
            type:
              - number
              - "null"
      budgetMode:
        type:
          - string
          - "null"
      client:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      createdAt:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      end:
        type:
          - string
          - "null"
      id:
        type: string
      isBillable:
        type:
          - boolean
          - "null"
      isProductive:
        type:
          - boolean
          - "null"
      key:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      notes:
        type:
          - string
          - "null"
      recordStatusId:
        type:
          - string
          - "null"
      requiresNotes:
        type:
          - boolean
          - "null"
      requiresTasks:
        type:
          - boolean
          - "null"
      revenueRecognitionMethod:
        type:
          - string
          - "null"
      salesRepresentative:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      start:
        type:
          - string
          - "null"
      statusId:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
      useBudget:
        type:
          - boolean
          - "null"
      useMonthlyBudget:
        type:
          - boolean
          - "null"
      useRoles:
        type:
          - boolean
          - "null"
    required:
      - id
  project_members:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - string
          - "null"
      id:
        type: string
      isActive:
        type:
          - boolean
          - "null"
      isBillable:
        type:
          - boolean
          - "null"
      member:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      overrideCostRate:
        type:
          - boolean
          - "null"
      project:
        type:
          - object
          - "null"
        properties:
          client:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      roles:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      typeId:
        type:
          - string
          - "null"
    required:
      - id
  project_tasks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      budgetedHours:
        type:
          - number
          - "null"
      budgetedServicesRevenue:
        type:
          - number
          - "null"
      capAssignedHours:
        type:
          - boolean
          - "null"
      capHours:
        type:
          - boolean
          - "null"
      createdAt:
        type:
          - string
          - "null"
      end:
        type:
          - string
          - "null"
      forAssignedOnly:
        type:
          - boolean
          - "null"
      id:
        type: string
      isBillable:
        type:
          - boolean
          - "null"
      lockTime:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      notes:
        type:
          - string
          - "null"
      order:
        type:
          - number
          - "null"
      project:
        type:
          - object
          - "null"
        properties:
          client:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      projectMembers:
        type:
          - array
          - "null"
      requireNotes:
        type:
          - boolean
          - "null"
      roles:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            hours:
              type:
                - number
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      start:
        type:
          - string
          - "null"
      statusId:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
    required:
      - id
  expense_reports:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - string
          - "null"
      date:
        type:
          - string
          - "null"
      id:
        type: string
      member:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      notes:
        type:
          - string
          - "null"
      number:
        type:
          - number
          - "null"
      title:
        type:
          - string
          - "null"
    required:
      - id
  expense_items:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      amount:
        type:
          - number
          - "null"
      createdAt:
        type:
          - string
          - "null"
      date:
        type:
          - string
          - "null"
      expenseCategory:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      expenseReport:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          title:
            type:
              - string
              - "null"
      id:
        type: string
      invoiced:
        type:
          - boolean
          - "null"
      isBillable:
        type:
          - boolean
          - "null"
      isReimbursable:
        type:
          - boolean
          - "null"
      member:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      project:
        type:
          - object
          - "null"
        properties:
          client:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      statusId:
        type:
          - string
          - "null"
      vendor:
        type:
          - string
          - "null"
    required:
      - id
  expense_categories:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - string
          - "null"
      id:
        type: string
      invoiceItem:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      isActive:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      requireAttendees:
        type:
          - boolean
          - "null"
      requireNotes:
        type:
          - boolean
          - "null"
      requireReceipt:
        type:
          - boolean
          - "null"
      unitAmount:
        type:
          - number
          - "null"
      unitName:
        type:
          - string
          - "null"
    required:
      - id
  project_expense:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      amount:
        type:
          - number
          - "null"
      createdAt:
        type:
          - string
          - "null"
      date:
        type:
          - string
          - "null"
      expenseCategory:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      id:
        type: string
      invoiced:
        type:
          - boolean
          - "null"
      isBillable:
        type:
          - boolean
          - "null"
      project:
        type:
          - object
          - "null"
        properties:
          client:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
    required:
      - id
  project_budget_expenses:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      billableAmount:
        type:
          - number
          - "null"
      createdAt:
        type:
          - string
          - "null"
      expenseCategory:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      id:
        type: string
      nonBillableAmount:
        type:
          - number
          - "null"
      project:
        type:
          - object
          - "null"
        properties:
          client:
            type:
              - object
              - "null"
            properties:
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
    required:
      - id
  workspace members:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      hasMore:
        type:
          - boolean
          - "null"
      results:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            activeStartDate:
              type:
                - string
                - "null"
            availabilityPeriods:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  hoursPerDay:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - number
                        - "null"
                  id:
                    type:
                      - string
                      - "null"
                  start:
                    type:
                      - string
                      - "null"
            costMethodId:
              type:
                - string
                - "null"
            costPeriods:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  costPerHour:
                    type:
                      - number
                      - "null"
                  currency:
                    type:
                      - string
                      - "null"
                  currencyName:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  overheadCostPerHour:
                    type:
                      - number
                      - "null"
                  start:
                    type:
                      - string
                      - "null"
                  totalCostPerHour:
                    type:
                      - number
                      - "null"
            createdAt:
              type:
                - string
                - "null"
            defaultRateCurrency:
              type:
                - string
                - "null"
            email:
              type:
                - string
                - "null"
            employmentTypeId:
              type:
                - string
                - "null"
            forbidTimesheetSubmissionWhenBelowCapacity:
              type:
                - boolean
                - "null"
            holidaySchedule:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
            id:
              type:
                - string
                - "null"
            invitationStatusId:
              type:
                - string
                - "null"
            isActive:
              type:
                - boolean
                - "null"
            isBillable:
              type:
                - boolean
                - "null"
            loginEnabled:
              type:
                - boolean
                - "null"
            name:
              type:
                - string
                - "null"
            receiveMissingTimeReminders:
              type:
                - boolean
                - "null"
            securityRole:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
            skills:
              type:
                - array
                - "null"
            tags:
              type:
                - array
                - "null"
            timeOffAllowed:
              type:
                - boolean
                - "null"
            timeOffApprovalMode:
              type:
                - string
                - "null"
            unsubmittedTimesheetReminders:
              type:
                - boolean
                - "null"
            utilizationTargetPeriods:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - string
                      - "null"
                  start:
                    type:
                      - string
                      - "null"
                  targetPercentage:
                    type:
                      - number
                      - "null"
  opportunity_stages:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      id:
        type: string
      isActive:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      probability:
        type:
          - number
          - "null"
      statusId:
        type:
          - string
          - "null"
    required:
      - id
  invoices:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      amountCredited:
        type:
          - number
          - "null"
      amountDue:
        type:
          - number
          - "null"
      amountPaid:
        type:
          - number
          - "null"
      billTo:
        type:
          - string
          - "null"
      ccEmails:
        type:
          - array
          - "null"
      client:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      companyName:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      creditNotes:
        type:
          - array
          - "null"
      currency:
        type:
          - string
          - "null"
      dueOn:
        type:
          - string
          - "null"
      emailBody:
        type:
          - string
          - "null"
      emailFromName:
        type:
          - string
          - "null"
      emailSubject:
        type:
          - string
          - "null"
      emails:
        type:
          - array
          - "null"
      id:
        type: string
      invoiceFor:
        type:
          - string
          - "null"
      issuedOn:
        type:
          - string
          - "null"
      lines:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            amount:
              type:
                - number
                - "null"
            id:
              type:
                - string
                - "null"
            invoiceItem:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
            item:
              type:
                - string
                - "null"
            lineNumber:
              type:
                - number
                - "null"
            project:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
            quantity:
              type:
                - number
                - "null"
            rate:
              type:
                - number
                - "null"
            taxable:
              type:
                - boolean
                - "null"
      notes:
        type:
          - string
          - "null"
      number:
        type:
          - string
          - "null"
      paymentTermsId:
        type:
          - string
          - "null"
      payments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            amount:
              type:
                - number
                - "null"
            id:
              type:
                - string
                - "null"
      projects:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      replyTo:
        type:
          - string
          - "null"
      sendBcc:
        type:
          - boolean
          - "null"
      servicesThrough:
        type:
          - string
          - "null"
      statusId:
        type:
          - string
          - "null"
      subtotal:
        type:
          - number
          - "null"
      total:
        type:
          - number
          - "null"
      totalTax:
        type:
          - number
          - "null"
    required:
      - id
  holidays:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      id:
        type: string
      isActive:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      occurrences:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      readOnly:
        type:
          - boolean
          - "null"
    required:
      - id
