@use "../../../../../scss/colors";
@use "../../../../../scss/variables";

.title {
  width: 250px;
  line-height: 1.2em;
  margin-bottom: variables.$spacing-md;
}

.highlight {
  color: colors.$blue;
}
