version: 6.4.0

type: DeclarativeSource

description: >+
  Stockdata provides access to market news for global exchanges, and trading
  data for US stocks.

  With this connector we can extract data from EOD , Intraday and news feeds
  streams


check:
  type: CheckStream
  stream_names:
    - Stock Search

definitions:
  streams:
    Stock Search:
      type: DeclarativeStream
      name: Stock Search
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: entity/search
          http_method: GET
          request_parameters:
            symbols: "{{ stream_partition.symb }}"
            exchanges: "{{ config['exchanges'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 50
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Stock Search"
    News Feeds:
      type: DeclarativeStream
      name: News Feeds
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: news/all
          http_method: GET
          request_parameters:
            symbols: "{{ stream_partition.symb }}"
            industries: "{{ config['industries'] }}"
            filter_entities: "{{ config['filter_entities'] }}"
            language: en
            published_before: "{{ config[\"to\"] }}"
            published_after: "{{ config[\"from\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 50
            inject_on_first_request: true
        partition_router:
          type: ListPartitionRouter
          values: "{{ config[\"symbols\"] }}"
          cursor_field: symb
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/News Feeds"
    EOD Data:
      type: DeclarativeStream
      name: EOD Data
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: data/eod
          http_method: GET
          request_parameters:
            symbols: "{{ stream_partition.symb }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          type: ListPartitionRouter
          values: "{{ config[\"symbols\"] }}"
          cursor_field: symb
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['from'] }}"
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: date_from
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: date_to
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/EOD Data"
    Intraday Unadjusted Data:
      type: DeclarativeStream
      name: Intraday Unadjusted Data
      primary_key:
        - date
        - ticker
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: data/intraday
          http_method: GET
          request_parameters:
            symbols: "{{ stream_partition.symb }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          - type: ListPartitionRouter
            values: "{{ config[\"symbols\"] }}"
            cursor_field: symb
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: symbol
                partition_field: symbol
                stream:
                  $ref: "#/definitions/streams/Stock Search"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['from'] }}"
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: date_from
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: date_to
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Intraday Unadjusted Data"
  base_requester:
    type: HttpRequester
    url_base: https://api.stockdata.org/v1/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: api_token
        inject_into: request_parameter

streams:
  - $ref: "#/definitions/streams/Stock Search"
  - $ref: "#/definitions/streams/News Feeds"
  - $ref: "#/definitions/streams/EOD Data"
  - $ref: "#/definitions/streams/Intraday Unadjusted Data"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      exchanges:
        type: string
        order: 1
        title: Exchanges
        default: NASDAQ
      from:
        type: string
        order: 2
        title: From
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
      to:
        type: string
        order: 3
        title: To
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
      symbols:
        type: array
        order: 4
        title: Symbols
      industries:
        type: string
        description: >-
          Specify the industries of entities which have been identified within
          the article.
        title: Industries
        order: 5
      filter_entities:
        type: boolean
        title: Filter Entities
        default: false
        order: 6
    additionalProperties: true

metadata:
  autoImportSchema:
    Stock Search: true
    News Feeds: true
    EOD Data: true
    Intraday Unadjusted Data: true
  testedStreams:
    Stock Search:
      streamHash: b70944dc0703c565fdf6204dd454b108bf4fd9f1
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    News Feeds:
      streamHash: 0ac24405117115ae6eeb9aabeee9eafc409751f8
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    EOD Data:
      streamHash: d86e63cb8b0b7cb5a5f220ecee1c370307756be4
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Intraday Unadjusted Data:
      streamHash: a124923a0e8834d7167a27f1f725420edaa51b76
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  Stock Search:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      country:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      symbol:
        type:
          - string
          - "null"
  News Feeds:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      entities:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            country:
              type:
                - string
                - "null"
            highlights:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  highlight:
                    type:
                      - string
                      - "null"
                  highlighted_in:
                    type:
                      - string
                      - "null"
                  sentiment:
                    type:
                      - number
                      - "null"
            industry:
              type:
                - string
                - "null"
            match_score:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            sentiment_score:
              type:
                - number
                - "null"
            symbol:
              type:
                - string
                - "null"
      image_url:
        type:
          - string
          - "null"
      keywords:
        type:
          - string
          - "null"
      language:
        type:
          - string
          - "null"
      published_at:
        type:
          - string
          - "null"
      similar:
        type:
          - array
          - "null"
      snippet:
        type:
          - string
          - "null"
      source:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
      uuid:
        type: string
    required:
      - uuid
  EOD Data:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      close:
        type:
          - number
          - "null"
      date:
        type: string
      high:
        type:
          - number
          - "null"
      low:
        type:
          - number
          - "null"
      open:
        type:
          - number
          - "null"
      volume:
        type:
          - number
          - "null"
    required:
      - date
  Intraday Unadjusted Data:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      data:
        type:
          - object
          - "null"
        properties:
          close:
            type:
              - number
              - "null"
          high:
            type:
              - number
              - "null"
          is_extended_hours:
            type:
              - boolean
              - "null"
          low:
            type:
              - number
              - "null"
          open:
            type:
              - number
              - "null"
          volume:
            type:
              - number
              - "null"
      date:
        type: string
      ticker:
        type: string
    required:
      - date
      - ticker
