version: 6.4.0

type: DeclarativeSource

description: >+
  Stockdata provides access to market news for global exchanges, and trading
  data for US stocks.

  With this connector we can extract data from EOD , Intraday and news feeds
  streams




check:
  type: CheckStream
  stream_names:
    - symbols_news_feeds

definitions:
  streams:
    symbols_news_feeds:
      type: DeclarativeStream
      name: symbols_news_feeds
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: news/all
          http_method: GET
          request_parameters:
            symbols: "{{ stream_partition.symb }}"
            language: en
            filter_entities: "{{ config['filter_entities'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: ListPartitionRouter
          values: "{{ config[\"symbols\"] }}"
          cursor_field: symb
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: published_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: published_after
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: published_before
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/symbols_news_feeds"
    eod_data:
      type: DeclarativeStream
      name: eod_data
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: data/eod
          http_method: GET
          request_parameters:
            symbols: "{{ stream_partition.symb }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          type: ListPartitionRouter
          values: "{{ config[\"symbols\"] }}"
          cursor_field: symb
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: date_from
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: date_to
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/eod_data"
    intraday_unadjusted_data:
      type: DeclarativeStream
      name: intraday_unadjusted_data
      primary_key:
        - date
        - ticker
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: data/intraday
          http_method: GET
          request_parameters:
            symbols: "{{ stream_partition.symb }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        partition_router:
          type: ListPartitionRouter
          values: "{{ config[\"symbols\"] }}"
          cursor_field: symb
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: date_from
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: date_to
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/intraday_unadjusted_data"
    industries_news_feeds:
      type: DeclarativeStream
      name: industries_news_feeds
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: news/all
          http_method: GET
          request_parameters:
            language: en
            industries: "{{ stream_partition.indus }}"
            filter_entities: "{{ config['filter_entities'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: ListPartitionRouter
          values: "{{ config[\"industries\"] }}"
          cursor_field: indus
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: published_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: published_after
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: published_before
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/industries_news_feeds"
  base_requester:
    type: HttpRequester
    url_base: https://api.stockdata.org/v1/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: api_token
        inject_into: request_parameter

streams:
  - $ref: "#/definitions/streams/symbols_news_feeds"
  - $ref: "#/definitions/streams/eod_data"
  - $ref: "#/definitions/streams/intraday_unadjusted_data"
  - $ref: "#/definitions/streams/industries_news_feeds"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      to:
        type: string
        order: 1
        title: To
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        format: date
      symbols:
        type: array
        order: 2
        title: Symbols
      industries:
        type: array
        description: >-
          Specify the industries of entities which have been identified within
          the article.
        order: 3
        title: Industries
      filter_entities:
        type: boolean
        title: Filter Entities
        default: false
        order: 4
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 5
    additionalProperties: true

metadata:
  autoImportSchema:
    symbols_news_feeds: true
    eod_data: true
    intraday_unadjusted_data: true
    industries_news_feeds: true
  testedStreams:
    symbols_news_feeds:
      streamHash: f4b90c7014c8397c6fcef6586a78b7d73617ecf0
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    eod_data:
      hasRecords: true
      streamHash: cfa87b3a2615ec4ed6decf7e9d9df960b17431fa
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    intraday_unadjusted_data:
      hasRecords: true
      streamHash: ce637107641776943a13289a12f092c8be3eb845
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    industries_news_feeds:
      streamHash: 3b3cf1332538c8d9d4e320b559a651634fa4f756
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  symbols_news_feeds:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      entities:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            country:
              type:
                - string
                - "null"
            highlights:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  highlight:
                    type:
                      - string
                      - "null"
                  highlighted_in:
                    type:
                      - string
                      - "null"
                  sentiment:
                    type:
                      - number
                      - "null"
            industry:
              type:
                - string
                - "null"
            match_score:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            sentiment_score:
              type:
                - number
                - "null"
            symbol:
              type:
                - string
                - "null"
      image_url:
        type:
          - string
          - "null"
      keywords:
        type:
          - string
          - "null"
      language:
        type:
          - string
          - "null"
      published_at:
        type: string
      similar:
        type:
          - array
          - "null"
      snippet:
        type:
          - string
          - "null"
      source:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
      uuid:
        type: string
    required:
      - uuid
      - published_at
  eod_data:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      close:
        type:
          - number
          - "null"
      date:
        type: string
      high:
        type:
          - number
          - "null"
      low:
        type:
          - number
          - "null"
      open:
        type:
          - number
          - "null"
      volume:
        type:
          - number
          - "null"
    required:
      - date
  intraday_unadjusted_data:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      data:
        type:
          - object
          - "null"
        properties:
          close:
            type:
              - number
              - "null"
          high:
            type:
              - number
              - "null"
          is_extended_hours:
            type:
              - boolean
              - "null"
          low:
            type:
              - number
              - "null"
          open:
            type:
              - number
              - "null"
          volume:
            type:
              - number
              - "null"
      date:
        type: string
      ticker:
        type: string
    required:
      - date
      - ticker
  industries_news_feeds:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      entities:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            country:
              type:
                - string
                - "null"
            highlights:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  highlight:
                    type:
                      - string
                      - "null"
                  highlighted_in:
                    type:
                      - string
                      - "null"
                  sentiment:
                    type:
                      - number
                      - "null"
            industry:
              type:
                - string
                - "null"
            match_score:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            sentiment_score:
              type:
                - number
                - "null"
            symbol:
              type:
                - string
                - "null"
      image_url:
        type:
          - string
          - "null"
      keywords:
        type:
          - string
          - "null"
      language:
        type:
          - string
          - "null"
      published_at:
        type: string
      similar:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            entities:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  country:
                    type:
                      - string
                      - "null"
                  highlights:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        highlight:
                          type:
                            - string
                            - "null"
                        highlighted_in:
                          type:
                            - string
                            - "null"
                        sentiment:
                          type:
                            - number
                            - "null"
                  industry:
                    type:
                      - string
                      - "null"
                  match_score:
                    type:
                      - number
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  sentiment_score:
                    type:
                      - number
                      - "null"
                  symbol:
                    type:
                      - string
                      - "null"
            image_url:
              type:
                - string
                - "null"
            keywords:
              type:
                - string
                - "null"
            language:
              type:
                - string
                - "null"
            published_at:
              type:
                - string
                - "null"
            snippet:
              type:
                - string
                - "null"
            source:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
            url:
              type:
                - string
                - "null"
            uuid:
              type:
                - string
                - "null"
      snippet:
        type:
          - string
          - "null"
      source:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
      uuid:
        type: string
    required:
      - uuid
      - published_at
