version: 5.14.0

type: DeclarativeSource

description: >-
  Airbyte connector for PandaDoc allows users to extract data from PandaDoc and
  integrate it into various data warehouses or databases. This connector
  functions as a source, pulling data such as documents, templates, and related
  metadata from PandaDoc.

check:
  type: CheckStream
  stream_names:
    - documents

definitions:
  streams:
    documents:
      type: DeclarativeStream
      name: documents
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /documents
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_modified
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: modified_from
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: modified_to
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/documents"
    attachments:
      type: DeclarativeStream
      name: attachments
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /documents/{{ stream_partition.document_id }}/attachments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: document_id
              stream:
                $ref: "#/definitions/streams/documents"
              incremental_dependency: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/attachments"
    fields:
      type: DeclarativeStream
      name: fields
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /documents/{{ stream_partition.document_id }}/fields
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - fields
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: document_id
              stream:
                $ref: "#/definitions/streams/documents"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/fields"
    sections:
      type: DeclarativeStream
      name: sections
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /documents/{{ stream_partition.document_id }}/sections
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: document_id
              stream:
                $ref: "#/definitions/streams/documents"
              incremental_dependency: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sections"
    templates:
      type: DeclarativeStream
      name: templates
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /templates
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/templates"
    forms:
      type: DeclarativeStream
      name: forms
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /forms
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_modified
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: modified_from
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: modified_to
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/forms"
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: contacts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    members:
      type: DeclarativeStream
      name: members
      primary_key:
        - user_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /members
          http_method: GET
          request_parameters:
            oder_by: date_modified
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_modified
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: modified_from
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: modified_to
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/members"
    api_logs:
      type: DeclarativeStream
      name: api_logs
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /logs
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/api_logs"
    document_folders:
      type: DeclarativeStream
      name: document_folders
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /documents/folders
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/document_folders"
    templates_folders:
      type: DeclarativeStream
      name: templates_folders
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /templates/folders
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/templates_folders"
    workspaces:
      type: DeclarativeStream
      name: workspaces
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /workspaces
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/workspaces"
    webhook_subscriptions:
      type: DeclarativeStream
      name: webhook_subscriptions
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /webhook-subscriptions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/webhook_subscriptions"
    webhook_events:
      type: DeclarativeStream
      name: webhook_events
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /webhook-events
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/webhook_events"
  base_requester:
    type: HttpRequester
    url_base: https://api.pandadoc.com/public/v1
    authenticator:
      type: ApiKeyAuthenticator
      api_token: API-Key {{ config['api_key'] }}
      inject_into:
        type: RequestOption
        field_name: Authorization
        inject_into: header

streams:
  - $ref: "#/definitions/streams/documents"
  - $ref: "#/definitions/streams/attachments"
  - $ref: "#/definitions/streams/fields"
  - $ref: "#/definitions/streams/sections"
  - $ref: "#/definitions/streams/templates"
  - $ref: "#/definitions/streams/forms"
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/members"
  - $ref: "#/definitions/streams/api_logs"
  - $ref: "#/definitions/streams/document_folders"
  - $ref: "#/definitions/streams/templates_folders"
  - $ref: "#/definitions/streams/workspaces"
  - $ref: "#/definitions/streams/webhook_subscriptions"
  - $ref: "#/definitions/streams/webhook_events"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        description: >-
          API key to use. Find it at
          https://app.pandadoc.com/a/#/settings/api-dashboard/configuration
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    documents: true
    attachments: false
    fields: false
    sections: false
    templates: true
    forms: true
    contacts: true
    members: true
    api_logs: true
    document_folders: false
    templates_folders: true
    workspaces: false
    webhook_subscriptions: false
    webhook_events: false
  yamlComponents:
    global:
      - authenticator
  testedStreams:
    documents:
      streamHash: a6daec8062e8bea99bc7c9c42d9ad8631299a7fa
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    attachments:
      streamHash: 7e92f47fe12490b9e30b0a718de3f56e089b32ca
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    fields:
      streamHash: f60764fa30da1d01b40e93f609bfa280e9391ed6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    sections:
      streamHash: ad53eb809a0855d95046c7c313f80d1f424f860e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    templates:
      streamHash: c7021760c8821177eb151b25fdf38000dd1f1bc7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    forms:
      streamHash: 3c7be9fbe8a91165c21af3da61ccdf0eb2efc244
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    contacts:
      hasRecords: true
      streamHash: 75385df6b646922ef585cbeba10ecc179e90f2dc
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    members:
      streamHash: 413131922d82461eb976dbace1be4ab64f27e2df
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    api_logs:
      hasRecords: true
      streamHash: 6ec810120a0712f8a6400d04d3f446881fc0f34b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    document_folders:
      hasRecords: true
      streamHash: bd3039a9e3474326b1359bd1777205f107fa7c6e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    templates_folders:
      hasRecords: true
      streamHash: 8fc496a31b3c59cc7b9704a9115a15ab9c83913b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    workspaces:
      hasRecords: true
      streamHash: 9f56defbbdcd0199e433a4bb05393f032676224f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    webhook_subscriptions:
      hasRecords: true
      streamHash: 90b2f50b03d6c24fc76981df02582765d0e5b14c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    webhook_events:
      hasRecords: true
      streamHash: 15cbb841befa69ada8bfbeca92c52a73e6637807
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist:
    docsUrl: https://developers.pandadoc.com/reference/about

schemas:
  documents:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type:
          - string
          - "null"
      date_completed:
        type:
          - string
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_modified:
        type: string
      expiration_date:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
      - date_modified
  attachments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      created_by:
        type:
          - object
          - "null"
        properties:
          email:
            type:
              - string
              - "null"
          first_name:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          last_name:
            type:
              - string
              - "null"
      date_created:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      uuid:
        type: string
    required:
      - uuid
  fields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      assigned_to:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          delivery_methods:
            type:
              - object
              - "null"
            properties:
              email:
                type:
                  - boolean
                  - "null"
              sms:
                type:
                  - boolean
                  - "null"
          email:
            type:
              - string
              - "null"
          first_name:
            type:
              - string
              - "null"
          has_completed:
            type:
              - boolean
              - "null"
          id:
            type:
              - string
              - "null"
          last_name:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          recipient_type:
            type:
              - string
              - "null"
          redirect:
            type:
              - object
              - "null"
            properties:
              is_enabled:
                type:
                  - boolean
                  - "null"
          role:
            type:
              - string
              - "null"
          roles:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      field_id:
        type:
          - string
          - "null"
      layout:
        type:
          - object
          - "null"
        properties:
          page:
            type:
              - number
              - "null"
          position:
            type:
              - object
              - "null"
            properties:
              anchor_point:
                type:
                  - string
                  - "null"
              offset_x:
                type:
                  - string
                  - "null"
              offset_y:
                type:
                  - string
                  - "null"
          style:
            type:
              - object
              - "null"
            properties:
              height:
                type:
                  - number
                  - "null"
              width:
                type:
                  - number
                  - "null"
      merge_field:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      section_uuid:
        type:
          - string
          - "null"
      settings:
        type:
          - object
          - "null"
        properties:
          autofilled:
            type:
              - boolean
              - "null"
          date_format:
            type:
              - string
              - "null"
          masked:
            type:
              - boolean
              - "null"
          multiline:
            type:
              - boolean
              - "null"
          placeholder:
            type:
              - string
              - "null"
          required:
            type:
              - boolean
              - "null"
      title:
        type:
          - string
          - "null"
      uuid:
        type: string
      value:
        type:
          - object
          - string
          - "null"
    required:
      - uuid
  sections:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      name:
        type:
          - string
          - "null"
      uuid:
        type: string
    required:
      - uuid
  templates:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type:
          - string
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_modified:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
  forms:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      date_created:
        type:
          - string
          - "null"
      date_modified:
        type: string
      id:
        type: string
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
      - date_modified
  contacts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      company:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      first_name:
        type:
          - string
          - "null"
      id:
        type: string
      last_name:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
    required:
      - id
  members:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      date_created:
        type:
          - string
          - "null"
      date_modified:
        type: string
      email:
        type:
          - string
          - "null"
      email_verified:
        type:
          - boolean
          - "null"
      first_name:
        type:
          - string
          - "null"
      is_active:
        type:
          - boolean
          - "null"
      last_name:
        type:
          - string
          - "null"
      membership_id:
        type:
          - string
          - "null"
      role:
        type:
          - string
          - "null"
      user_id:
        type: string
      user_license:
        type:
          - string
          - "null"
      workspace:
        type:
          - string
          - "null"
      workspace_name:
        type:
          - string
          - "null"
    required:
      - user_id
      - date_modified
  api_logs:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      method:
        type:
          - string
          - "null"
      request_time:
        type:
          - string
          - "null"
      response_time:
        type:
          - string
          - "null"
      status:
        type:
          - number
          - "null"
      url:
        type:
          - string
          - "null"
    required:
      - id
  document_folders:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      date_created:
        type:
          - string
          - "null"
      has_folders:
        type:
          - boolean
          - "null"
      has_items:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      uuid:
        type: string
    required:
      - uuid
  templates_folders:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      date_created:
        type:
          - string
          - "null"
      has_folders:
        type:
          - boolean
          - "null"
      has_items:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      uuid:
        type: string
    required:
      - uuid
  workspaces:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  webhook_subscriptions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      payload:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      shared_key:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      triggers:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      url:
        type:
          - string
          - "null"
      uuid:
        type: string
      workspace_id:
        type:
          - string
          - "null"
    required:
      - uuid
  webhook_events:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      delivery_time:
        type:
          - string
          - "null"
      http_status_code:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      uuid:
        type: string
    required:
      - uuid
