version: 0.65.0

definitions:
  requester:
    type: HttpRequester
    url_base: https://api.zenoti.com/v1
    http_method: GET
    authenticator:
      type: ApiKeyAuthenticator
      api_token: 'apikey {{ config[''api_key''] }}'
      inject_into:
        type: RequestOption
        field_name: Authorization
        inject_into: header
    error_handler:
      type: CompositeErrorHandler
      error_handlers:
        - type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
    request_headers:
      accept: application/json
    request_body_json: {}
    request_parameters: {}
  centers_stream:
    name: centers
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        $ref: "#/definitions/requester"
        path: centers
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - centers
      partition_router: []
    primary_key:
      - id
  appointments_stream:
    name: appointments
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        $ref: "#/definitions/requester"
        path: appointments
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream: "#/definitions/centers_stream"
              parent_key: id
              request_option:
                type: RequestOption
                field_name: center_id
                inject_into: request_parameter
              partition_field: center_id
    primary_key:
      - appointment_id
    transformations:
      - type: AddFields
        fields:
          - path:
              - center_id
            type: AddedFieldDefinition
            value: '{{ stream_partition.center_id }}'
    incremental_sync:
      type: CustomIncrementalSync
      class_name: "source_zenoti.components.AppointmentsDatetimeBasedCursor"
      step: P1D
      cursor_field: start_time
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ day_delta(7) }}'
        datetime_format: '%Y-%m-%dT%H:%M:%S.%f%z'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ day_delta(-7) }}'
        datetime_format: '%Y-%m-%dT%H:%M:%S.%f%z'
      datetime_format: '%Y-%m-%d'
      end_time_option:
        type: RequestOption
        field_name: end_date
        inject_into: request_parameter
      lookback_window: P0D
      start_time_option:
        type: RequestOption
        field_name: start_date
        inject_into: request_parameter
      cursor_granularity: P0D
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%S'

check:
  type: CheckStream
  stream_names:
    - centers
    - appointments

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      # - appointments_lookback_days
      # - appointments_start_date
    additionalProperties: true
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      # appointments_start_date:
      #   type: string
      #   order: 2
      #   title: Appointments Start Date
      #   format: date
      #   pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
      # appointments_lookback_days:
      #   type: integer
      #   order: 1
      #   title: Appointments Lookback Days

# type: DeclarativeSource

streams:
  - "#/definitions/centers_stream"
  - "#/definitions/appointments_stream"
  # - name: guests
  #   type: DeclarativeStream
  #   retriever:
  #     type: SimpleRetriever
  #     paginator:
  #       type: DefaultPaginator
  #       page_size_option:
  #         type: RequestOption
  #         field_name: size
  #         inject_into: request_parameter
  #       page_token_option:
  #         type: RequestOption
  #         field_name: page
  #         inject_into: request_parameter
  #       pagination_strategy:
  #         type: PageIncrement
  #         page_size: 100
  #         start_from_page: 1
  #         inject_on_first_request: true
  #     requester:
  #       path: guests
  #       type: HttpRequester
  #       url_base: https://api.zenoti.com/v1
  #       http_method: GET
  #       authenticator:
  #         type: ApiKeyAuthenticator
  #         api_token: '{{ config[''api_key''] }}'
  #         inject_into:
  #           type: RequestOption
  #           field_name: Authorization
  #           inject_into: header
  #       error_handler:
  #         type: CompositeErrorHandler
  #         error_handlers:
  #           - type: DefaultErrorHandler
  #             backoff_strategies:
  #               - type: WaitTimeFromHeader
  #                 header: Retry-After
  #       request_headers:
  #         accept: application/json
  #       request_body_json: {}
  #       request_parameters: {}
  #     record_selector:
  #       type: RecordSelector
  #       extractor:
  #         type: DpathExtractor
  #         field_path:
  #           - guests
  #     partition_router:
  #       - type: SubstreamPartitionRouter
  #         parent_stream_configs:
  #           - type: ParentStreamConfig
  #             stream:
  #               name: centers
  #               type: DeclarativeStream
  #               retriever:
  #                 type: SimpleRetriever
  #                 paginator:
  #                   type: NoPagination
  #                 requester:
  #                   path: centers
  #                   type: HttpRequester
  #                   url_base: https://api.zenoti.com/v1
  #                   http_method: GET
  #                   authenticator:
  #                     type: ApiKeyAuthenticator
  #                     api_token: '{{ config[''api_key''] }}'
  #                     inject_into:
  #                       type: RequestOption
  #                       field_name: Authorization
  #                       inject_into: header
  #                   error_handler:
  #                     type: CompositeErrorHandler
  #                     error_handlers:
  #                       - type: DefaultErrorHandler
  #                         backoff_strategies:
  #                           - type: WaitTimeFromHeader
  #                             header: Retry-After
  #                   request_headers:
  #                     accept: application/json
  #                   request_body_json: {}
  #                   request_parameters: {}
  #                 record_selector:
  #                   type: RecordSelector
  #                   extractor:
  #                     type: DpathExtractor
  #                     field_path:
  #                       - centers
  #                 partition_router: []
  #               primary_key:
  #                 - id
  #               schema_loader:
  #                 type: InlineSchemaLoader
  #                 schema:
  #                   type: object
  #                   $schema: http://json-schema.org/schema#
  #                   properties:
  #                     id:
  #                       type: string
  #                     code:
  #                       type: string
  #                     name:
  #                       type: string
  #                     state:
  #                       type: object
  #                       properties:
  #                         id:
  #                           type: number
  #                         code:
  #                           type: string
  #                         name:
  #                           type: string
  #                         short_name:
  #                           type: string
  #                     country:
  #                       type: object
  #                       properties:
  #                         id:
  #                           type: number
  #                         code:
  #                           type: string
  #                         name:
  #                           type: string
  #                         phone_code:
  #                           type: number
  #                         nationality:
  #                           type: string
  #                     currency:
  #                       type: object
  #                       properties:
  #                         id:
  #                           type: number
  #                         code:
  #                           type: string
  #                         name:
  #                           type: string
  #                         symbol:
  #                           type: string
  #                     location:
  #                       type: object
  #                       properties:
  #                         latitude:
  #                           type: number
  #                         lattitude:
  #                           type: number
  #                         longitude:
  #                           type: number
  #                         time_zone:
  #                           type: object
  #                           properties:
  #                             id:
  #                               type: number
  #                             name:
  #                               type: string
  #                             symbol:
  #                               type: string
  #                             standard_name:
  #                               type: string
  #                     description:
  #                       type: string
  #                     address_info:
  #                       type: object
  #                       properties:
  #                         city:
  #                           type: string
  #                         zip_code:
  #                           type: string
  #                         address_1:
  #                           type: string
  #                         address_2:
  #                           type: string
  #                     contact_info:
  #                       type: object
  #                       properties:
  #                         email:
  #                           type: string
  #                         phone_1:
  #                           type: object
  #                           properties:
  #                             number:
  #                               type: string
  #                             country_id:
  #                               type: number
  #                             display_number:
  #                               type: string
  #                     display_name:
  #                       type: string
  #                     is_fbe_enabled:
  #                       type: boolean
  #                     additional_info:
  #                       type: object
  #                       properties:
  #                         can_book:
  #                           type: boolean
  #                         center_amenities:
  #                           type: string
  #                         services_available:
  #                           type: boolean
  #                         categories_available:
  #                           type: boolean
  #                         is_add_ons_available:
  #                           type: boolean
  #                         cancellation_fee_duration:
  #                           type: number
  #                         is_center_amenities_enabled:
  #                           type: boolean
  #                         is_auto_pay_enabled_at_center:
  #                           type: boolean
  #                         is_global_tokenization_supported:
  #                           type: boolean
  #                     culture_code_at_center:
  #                       type: string
  #                     online_booking_start_date:
  #                       type: string
  #                     enable_parallel_services_at_center:
  #                       type: boolean
  #             parent_key: id
  #             request_option:
  #               type: RequestOption
  #               field_name: center_id
  #               inject_into: request_parameter
  #             partition_field: center_id
  #   primary_key:
  #     - id
  #   schema_loader:
  #     type: InlineSchemaLoader
  #     schema:
  #       type: object
  #       $schema: http://json-schema.org/schema#
  #       properties:
  #         id:
  #           type: string
  #         code:
  #           type: string
  #         center_id:
  #           type: string
  #         center_name:
  #           type: string
  #         created_date:
  #           type: string
  #         personal_info:
  #           type: object
  #           properties:
  #             pan:
  #               type: string
  #             email:
  #               type: string
  #             gender:
  #               type: number
  #             is_minor:
  #               type: boolean
  #             last_name:
  #               type: string
  #             user_name:
  #               type: string
  #             first_name:
  #               type: string
  #             home_phone:
  #               type:
  #                 - object
  #                 - 'null'
  #               properties:
  #                 number:
  #                   type: string
  #                 phone_code:
  #                   type: number
  #                 country_code:
  #                   type: number
  #             gender_name:
  #               type: string
  #             language_id:
  #               type: number
  #             middle_name:
  #               type: string
  #             mobile_phone:
  #               type:
  #                 - object
  #                 - 'null'
  #               properties:
  #                 number:
  #                   type: string
  #                 phone_code:
  #                   type: number
  #                 country_code:
  #                   type: number
  #             date_of_birth:
  #               type:
  #                 - 'null'
  #                 - string
  #             nationality_id:
  #               type: number
  #             lock_guest_custom_data:
  #               type: boolean
  #         is_virtual_guest:
  #           type: boolean
  #         can_edit_personal_info:
  #           type: boolean
  #         is_online_booking_blocked:
  #           type: boolean
  #         is_guest_custom_form_filled:
  #           type: boolean
  # - name: invoices
    # type: DeclarativeStream
    # retriever:
    #   type: SimpleRetriever
    #   paginator:
    #     type: NoPagination
    #   requester:
    #     path: invoices/{{ stream_partition.id }}
    #     type: HttpRequester
    #     url_base: https://api.zenoti.com/v1
    #     http_method: GET
    #     authenticator:
    #       type: ApiKeyAuthenticator
    #       api_token: '{{ config[''api_key''] }}'
    #       inject_into:
    #         type: RequestOption
    #         field_name: Authorization
    #         inject_into: header
    #     error_handler:
    #       type: CompositeErrorHandler
    #       error_handlers:
    #         - type: DefaultErrorHandler
    #           backoff_strategies:
    #             - type: WaitTimeFromHeader
    #               header: Retry-After
    #     request_headers:
    #       accept: application/json
    #     request_body_json: {}
    #     request_parameters: {}
    #   record_selector:
    #     type: RecordSelector
    #     extractor:
    #       type: DpathExtractor
    #       field_path:
    #         - invoice
    #     record_filter:
    #       condition: '{{ record[''id''] != ''00000000-0000-0000-0000-000000000000'' }}'
    #       type: RecordFilter
    #   partition_router:
    #     - type: SubstreamPartitionRouter
    #       parent_stream_configs:
    #         - type: ParentStreamConfig
    #           stream:
    #             name: appointments
    #             type: DeclarativeStream
    #             retriever:
    #               type: SimpleRetriever
    #               paginator:
    #                 type: NoPagination
    #               requester:
    #                 path: appointments
    #                 type: HttpRequester
    #                 url_base: https://api.zenoti.com/v1
    #                 http_method: GET
    #                 authenticator:
    #                   type: ApiKeyAuthenticator
    #                   api_token: '{{ config[''api_key''] }}'
    #                   inject_into:
    #                     type: RequestOption
    #                     field_name: Authorization
    #                     inject_into: header
    #                 error_handler:
    #                   type: CompositeErrorHandler
    #                   error_handlers:
    #                     - type: DefaultErrorHandler
    #                       backoff_strategies:
    #                         - type: WaitTimeFromHeader
    #                           header: Retry-After
    #                 request_headers:
    #                   accept: application/json
    #                 request_body_json: {}
    #                 request_parameters: {}
    #               record_filter:
    #                 condition: >-
    #                   {{ record['invoice_id'] !=
    #                   '00000000-0000-0000-0000-000000000000'}}
    #               record_selector:
    #                 type: RecordSelector
    #                 extractor:
    #                   type: DpathExtractor
    #                   field_path: []
    #               partition_router:
    #                 - type: SubstreamPartitionRouter
    #                   parent_stream_configs:
    #                     - type: ParentStreamConfig
    #                       stream:
    #                         name: centers
    #                         type: DeclarativeStream
    #                         retriever:
    #                           type: SimpleRetriever
    #                           paginator:
    #                             type: NoPagination
    #                           requester:
    #                             path: centers
    #                             type: HttpRequester
    #                             url_base: https://api.zenoti.com/v1
    #                             http_method: GET
    #                             authenticator:
    #                               type: ApiKeyAuthenticator
    #                               api_token: '{{ config[''api_key''] }}'
    #                               inject_into:
    #                                 type: RequestOption
    #                                 field_name: Authorization
    #                                 inject_into: header
    #                             error_handler:
    #                               type: CompositeErrorHandler
    #                               error_handlers:
    #                                 - type: DefaultErrorHandler
    #                                   backoff_strategies:
    #                                     - type: WaitTimeFromHeader
    #                                       header: Retry-After
    #                             request_headers:
    #                               accept: application/json
    #                             request_body_json: {}
    #                             request_parameters: {}
    #                           record_selector:
    #                             type: RecordSelector
    #                             extractor:
    #                               type: DpathExtractor
    #                               field_path:
    #                                 - centers
    #                           partition_router: []
    #                         primary_key:
    #                           - id
    #                         schema_loader:
    #                           type: InlineSchemaLoader
    #                           schema:
    #                             type: object
    #                             $schema: http://json-schema.org/schema#
    #                             properties:
    #                               id:
    #                                 type: string
    #                               code:
    #                                 type: string
    #                               name:
    #                                 type: string
    #                               state:
    #                                 type: object
    #                                 properties:
    #                                   id:
    #                                     type: number
    #                                   code:
    #                                     type: string
    #                                   name:
    #                                     type: string
    #                                   short_name:
    #                                     type: string
    #                               country:
    #                                 type: object
    #                                 properties:
    #                                   id:
    #                                     type: number
    #                                   code:
    #                                     type: string
    #                                   name:
    #                                     type: string
    #                                   phone_code:
    #                                     type: number
    #                                   nationality:
    #                                     type: string
    #                               currency:
    #                                 type: object
    #                                 properties:
    #                                   id:
    #                                     type: number
    #                                   code:
    #                                     type: string
    #                                   name:
    #                                     type: string
    #                                   symbol:
    #                                     type: string
    #                               location:
    #                                 type: object
    #                                 properties:
    #                                   latitude:
    #                                     type: number
    #                                   lattitude:
    #                                     type: number
    #                                   longitude:
    #                                     type: number
    #                                   time_zone:
    #                                     type: object
    #                                     properties:
    #                                       id:
    #                                         type: number
    #                                       name:
    #                                         type: string
    #                                       symbol:
    #                                         type: string
    #                                       standard_name:
    #                                         type: string
    #                               description:
    #                                 type: string
    #                               address_info:
    #                                 type: object
    #                                 properties:
    #                                   city:
    #                                     type: string
    #                                   zip_code:
    #                                     type: string
    #                                   address_1:
    #                                     type: string
    #                                   address_2:
    #                                     type: string
    #                               contact_info:
    #                                 type: object
    #                                 properties:
    #                                   email:
    #                                     type: string
    #                                   phone_1:
    #                                     type: object
    #                                     properties:
    #                                       number:
    #                                         type: string
    #                                       country_id:
    #                                         type: number
    #                                       display_number:
    #                                         type: string
    #                               display_name:
    #                                 type: string
    #                               is_fbe_enabled:
    #                                 type: boolean
    #                               additional_info:
    #                                 type: object
    #                                 properties:
    #                                   can_book:
    #                                     type: boolean
    #                                   center_amenities:
    #                                     type: string
    #                                   services_available:
    #                                     type: boolean
    #                                   categories_available:
    #                                     type: boolean
    #                                   is_add_ons_available:
    #                                     type: boolean
    #                                   cancellation_fee_duration:
    #                                     type: number
    #                                   is_center_amenities_enabled:
    #                                     type: boolean
    #                                   is_auto_pay_enabled_at_center:
    #                                     type: boolean
    #                                   is_global_tokenization_supported:
    #                                     type: boolean
    #                               culture_code_at_center:
    #                                 type: string
    #                               online_booking_start_date:
    #                                 type: string
    #                               enable_parallel_services_at_center:
    #                                 type: boolean
    #                       parent_key: id
    #                       request_option:
    #                         type: RequestOption
    #                         field_name: center_id
    #                         inject_into: request_parameter
    #                       partition_field: center_id
    #             primary_key:
    #               - appointment_id
    #             schema_loader:
    #               type: InlineSchemaLoader
    #               schema:
    #                 type: object
    #                 $schema: http://json-schema.org/schema#
    #                 properties:
    #                   guest:
    #                     type:
    #                       - object
    #                       - 'null'
    #                     properties:
    #                       id:
    #                         type: string
    #                       email:
    #                         type:
    #                           - 'null'
    #                           - string
    #                       gender:
    #                         type: number
    #                       mobile:
    #                         type: object
    #                         properties:
    #                           country_id:
    #                             type: number
    #                           display_number:
    #                             type: string
    #                       indicator:
    #                         type: string
    #                       last_name:
    #                         type: string
    #                       first_name:
    #                         type: string
    #                       lp_tier_info:
    #                         type: string
    #                       is_virtual_user:
    #                         type: boolean
    #                       GuestIndicatorValue:
    #                         type: object
    #                         properties:
    #                           Dues:
    #                             type:
    #                               - boolean
    #                               - 'null'
    #                           Member:
    #                             type: number
    #                           hasAddOns:
    #                             type:
    #                               - boolean
    #                               - 'null'
    #                           HighSpender:
    #                             type:
    #                               - boolean
    #                               - 'null'
    #                           LowFeedback:
    #                             type:
    #                               - boolean
    #                               - 'null'
    #                           RegularGuest:
    #                             type:
    #                               - boolean
    #                               - 'null'
    #                           HasProfileAlerts:
    #                             type:
    #                               - boolean
    #                               - 'null'
    #                           OtherCenterGuest:
    #                             type:
    #                               - boolean
    #                               - 'null'
    #                           ReturningCustomer:
    #                             type:
    #                               - boolean
    #                               - 'null'
    #                           CustomDataIndicator:
    #                             type:
    #                               - boolean
    #                               - 'null'
    #                           RebookedAppointment:
    #                             type:
    #                               - boolean
    #                               - 'null'
    #                   notes:
    #                     type:
    #                       - 'null'
    #                       - string
    #                   price:
    #                     type: object
    #                     properties:
    #                       tax:
    #                         type: number
    #                       tip:
    #                         type: number
    #                       final:
    #                         type: number
    #                       sales:
    #                         type: number
    #                       final1:
    #                         type: number
    #                       discount:
    #                         type: number
    #                       currency_id:
    #                         type: number
    #                       rounding_correction:
    #                         type: number
    #                   locked:
    #                     type: boolean
    #                   source:
    #                     type: number
    #                   status:
    #                     type: number
    #                   service:
    #                     type:
    #                       - object
    #                       - 'null'
    #                     properties:
    #                       id:
    #                         type: string
    #                       name:
    #                         type: string
    #                       category:
    #                         type: object
    #                         properties:
    #                           id:
    #                             type: string
    #                           name:
    #                             type: string
    #                       is_addon:
    #                         type: boolean
    #                       has_addons:
    #                         type: boolean
    #                       segment_id:
    #                         type: string
    #                       sub_category:
    #                         type: object
    #                         properties:
    #                           id:
    #                             type: string
    #                           name:
    #                             type: string
    #                       business_unit:
    #                         type: object
    #                         properties:
    #                           id:
    #                             type: number
    #                           guid:
    #                             type: string
    #                           name:
    #                             type: string
    #                       is_virtual_service:
    #                         type: boolean
    #                       parent_appointment_id:
    #                         type:
    #                           - 'null'
    #                           - string
    #                       override_product_consumption:
    #                         type: boolean
    #                       override_default_product_consumption:
    #                         type: boolean
    #                   blockout:
    #                     type:
    #                       - object
    #                       - 'null'
    #                     properties:
    #                       id:
    #                         type: number
    #                       code:
    #                         type: string
    #                       name:
    #                         type: string
    #                       active:
    #                         type: boolean
    #                       bookable:
    #                         type: boolean
    #                       duration:
    #                         type: number
    #                       text_color:
    #                         type: string
    #                       indicator_color:
    #                         type: string
    #                       count_in_utilization:
    #                         type: boolean
    #                   end_time:
    #                     type: string
    #                   progress:
    #                     type: number
    #                   quantity:
    #                     type:
    #                       - 'null'
    #                       - number
    #                   app_count:
    #                     type: number
    #                   center_id:
    #                     type: string
    #                   equipment:
    #                     type:
    #                       - object
    #                       - 'null'
    #                     properties:
    #                       id:
    #                         type: string
    #                       name:
    #                         type: string
    #                   therapist:
    #                     type: object
    #                     properties:
    #                       id:
    #                         type: string
    #                       email:
    #                         type: string
    #                       gender:
    #                         type: number
    #                       last_name:
    #                         type: string
    #                       first_name:
    #                         type: string
    #                       vanity_image_url:
    #                         type: string
    #                   group_name:
    #                     type:
    #                       - 'null'
    #                       - string
    #                   invoice_id:
    #                     type: string
    #                   package_id:
    #                     type: string
    #                   start_time:
    #                     type: string
    #                   group_notes:
    #                     type:
    #                       - 'null'
    #                       - string
    #                   checkin_time:
    #                     type:
    #                       - 'null'
    #                       - string
    #                   closed_by_id:
    #                     type:
    #                       - 'null'
    #                       - string
    #                   end_time_utc:
    #                     type: string
    #                   created_by_id:
    #                     type:
    #                       - 'null'
    #                       - string
    #                   creation_date:
    #                     type: string
    #                   selected_time:
    #                     type: string
    #                   appointment_id:
    #                     type: string
    #                   invoice_locked:
    #                     type: boolean
    #                   start_time_utc:
    #                     type: string
    #                   invoice_item_id:
    #                     type:
    #                       - 'null'
    #                       - string
    #                   appointment_type:
    #                     type: number
    #                   group_invoice_id:
    #                     type:
    #                       - 'null'
    #                       - string
    #                   show_in_calender:
    #                     type: number
    #                   actual_start_time:
    #                     type:
    #                       - 'null'
    #                       - string
    #                   creation_date_utc:
    #                     type: string
    #                   canUpdateTherapist:
    #                     type: boolean
    #                   is_feedback_filled:
    #                     type:
    #                       - boolean
    #                       - 'null'
    #                   parent_service_name:
    #                     type:
    #                       - 'null'
    #                       - string
    #                   appointment_group_id:
    #                     type: string
    #                   actual_completed_time:
    #                     type:
    #                       - 'null'
    #                       - string
    #                   is_single_appointment:
    #                     type:
    #                       - boolean
    #                       - 'null'
    #                   requested_alternative:
    #                     type: number
    #                   has_unexpired_packages:
    #                     type: boolean
    #                   is_prescription_signed:
    #                     type:
    #                       - boolean
    #                       - 'null'
    #                   are_custom_fields_filled:
    #                     type:
    #                       - boolean
    #                       - 'null'
    #                   cancel_or_no_show_status:
    #                     type: number
    #                   auto_pay_authorize_status:
    #                     type: number
    #                   is_educator_rating_filled:
    #                     type:
    #                       - boolean
    #                       - 'null'
    #                   therapist_preference_type:
    #                     type:
    #                       - 'null'
    #                       - number
    #                   are_package_targets_filled:
    #                     type:
    #                       - boolean
    #                       - 'null'
    #                   are_package_targets_required:
    #                     type:
    #                       - boolean
    #                       - 'null'
    #                   service_custom_data_indicator:
    #                     type:
    #                       - 'null'
    #                       - string
    #                   is_product_consumption_updated:
    #                     type:
    #                       - boolean
    #                       - 'null'
    #                   invoice_processed_in_integrations:
    #                     type: number
    #                   has_active_membership_for_auto_pay:
    #                     type: boolean
    #             transformations:
    #               - type: AddFields
    #                 fields:
    #                   - path:
    #                       - center_id
    #                     type: AddedFieldDefinition
    #                     value: '{{ stream_partition.center_id }}'
    #             incremental_sync:
    #               step: P1W
    #               type: DatetimeBasedCursor
    #               cursor_field: start_time
    #               end_datetime:
    #                 type: MinMaxDatetime
    #                 datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
    #                 datetime_format: '%Y-%m-%dT%H:%M:%SZ'
    #               start_datetime:
    #                 type: MinMaxDatetime
    #                 datetime: '{{ config[''appointments_start_date''] }}'
    #                 datetime_format: '%Y-%m-%d'
    #               datetime_format: '%Y-%m-%d'
    #               end_time_option:
    #                 type: RequestOption
    #                 field_name: end_date
    #                 inject_into: request_parameter
    #               lookback_window: P{{ config['appointments_lookback_days'] }}D
    #               start_time_option:
    #                 type: RequestOption
    #                 field_name: start_date
    #                 inject_into: request_parameter
    #               cursor_granularity: P1D
    #               cursor_datetime_formats:
    #                 - '%Y-%m-%dT%H:%M:%S'
    #           parent_key: invoice_id
    #           partition_field: id
    # primary_key:
    #   - id
    # schema_loader:
    #   type: InlineSchemaLoader
    #   schema:
    #     type: object
    #     $schema: http://json-schema.org/schema#
    #     properties:
    #       id:
    #         type: string
    #       lock:
    #         type: boolean
    #       center_id:
    #         type: string
    #       is_closed:
    #         type: boolean
    #       is_refund:
    #         type: boolean
    #       total_price:
    #         type: object
    #         properties:
    #           tax:
    #             type: number
    #           net_price:
    #             type: number
    #           sum_total:
    #             type: number
    #           currency_id:
    #             type: number
    #           rounding_adjustment:
    #             type: number
    #       invoice_date:
    #         type: string
    #       transactions:
    #         type: array
    #       invoice_number:
    #         type: string
    #       receipt_number:
    #         type: string
    #       additional_fields:
    #         type: array
    #       appointment_group_id:
    #         type: string
    #       invoice_number_prefix:
    #         type: string

metadata:
  autoImportSchema:
    centers: true
    appointments: true
    # guests: true
    # invoices: true
