version: 5.12.0

type: DeclarativeSource

description: >-
  The SparkPost connector for Airbyte enables seamless integration with
  SparkPost’s email delivery service, allowing users to automatically sync email
  performance data, including delivery, open, and click metrics, into their data
  warehouses.

check:
  type: CheckStream
  stream_names:
    - search_message_events

definitions:
  streams:
    search_message_events:
      type: DeclarativeStream
      name: search_message_events
      primary_key:
        - event_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/events/message
          http_method: GET
          request_parameters:
            templates: "{{ config['templates'] }}"
            recipients: "{{ config['recipients'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('links', []) | selectattr('rel', 'equalto',
              'next') | map(attribute='href') | first }}
            stop_condition: >-
              {{ not response.get('links', []) | selectattr('rel', 'equalto',
              'next') | list }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/search_message_events"
    sending_domains:
      type: DeclarativeStream
      name: sending_domains
      primary_key:
        - domain
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/sending-domains
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sending_domains"
    ab_test:
      type: DeclarativeStream
      name: ab_test
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/ab-test
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ab_test"
    templates:
      type: DeclarativeStream
      name: templates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/templates
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/templates"
    recipients:
      type: DeclarativeStream
      name: recipients
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/recipient-lists
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/recipients"
    metrics_summary:
      type: DeclarativeStream
      name: metrics_summary
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/metrics/deliverability
          http_method: GET
          request_parameters:
            from: "{{ config['from'] }}"
            metrics: "{{ config['metrics'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/metrics_summary"
    subaccounts:
      type: DeclarativeStream
      name: subaccounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/subaccounts
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('links', {}).get('next') }}"
            stop_condition: "{{ response.get('links', {}).get('next') is not defined }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/subaccounts"
    engagement_details:
      type: DeclarativeStream
      name: engagement_details
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/metrics/deliverability/link-name
          http_method: GET
          request_parameters:
            from: "{{ config[\"from\"] }}"
            metrics: "{{ config[\"metrics\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 10
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/engagement_details"
    rejection_reason_metrics:
      type: DeclarativeStream
      name: rejection_reason_metrics
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/metrics/deliverability/rejection-reason
          http_method: GET
          request_parameters:
            from: "{{ config[\"from\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 10
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/rejection_reason_metrics"
    metrics:
      type: DeclarativeStream
      name: metrics
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/metrics/
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/metrics"
    metrics_by_template:
      type: DeclarativeStream
      name: metrics_by_template
      primary_key:
        - template_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/metrics/deliverability/template
          http_method: GET
          request_parameters:
            from: "{{ config[\"from\"] }}"
            metrics: "{{ config[\"metrics\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('links', []) | selectattr('rel', 'equalto',
              'next') | map(attribute='href') | first }}
            stop_condition: >-
              {{ not response.get('links', []) | selectattr('rel', 'equalto',
              'next') | list }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/metrics_by_template"
    snippets:
      type: DeclarativeStream
      name: snippets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/labs/snippets
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/snippets"
  base_requester:
    type: HttpRequester
    url_base: https://api.sparkpost.com
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: Authorization
        inject_into: header

streams:
  - $ref: "#/definitions/streams/search_message_events"
  - $ref: "#/definitions/streams/sending_domains"
  - $ref: "#/definitions/streams/ab_test"
  - $ref: "#/definitions/streams/templates"
  - $ref: "#/definitions/streams/recipients"
  - $ref: "#/definitions/streams/metrics_summary"
  - $ref: "#/definitions/streams/subaccounts"
  - $ref: "#/definitions/streams/engagement_details"
  - $ref: "#/definitions/streams/rejection_reason_metrics"
  - $ref: "#/definitions/streams/metrics"
  - $ref: "#/definitions/streams/metrics_by_template"
  - $ref: "#/definitions/streams/snippets"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - events
      - recipients
      - templates
      - domain
      - from
      - metrics
    properties:
      api_key:
        type: string
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
      events:
        type: string
        order: 1
        title: Events
      recipients:
        type: string
        order: 2
        title: Recipients
      templates:
        type: string
        order: 3
        title: Templates
      domain:
        type: string
        order: 4
        title: Domain
      from:
        type: string
        order: 5
        title: From
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      metrics:
        type: array
        order: 6
        title: Metrics
    additionalProperties: true

metadata:
  autoImportSchema:
    search_message_events: true
    sending_domains: true
    ab_test: true
    templates: true
    recipients: true
    metrics_summary: true
    subaccounts: true
    engagement_details: true
    rejection_reason_metrics: true
    metrics: true
    metrics_by_template: true
    snippets: true
  testedStreams:
    search_message_events:
      streamHash: a1b4a7e1302c6213be4f8b0abe7a844b41fbb65f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    sending_domains:
      streamHash: decc0a269094e86d446fe3b0da956bddbffd451a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    ab_test:
      streamHash: b2064cfe16bc7101bf1663fcc7735b7625728882
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    templates:
      streamHash: 3f676a92796d906d7cbd7da237657a86c58b0ea9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    recipients:
      streamHash: 0b9a997331a015945d337324455007084cc52b1d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    metrics_summary:
      streamHash: 186232fd2769b3bdf0f569a09112d26d886375da
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    subaccounts:
      streamHash: c7e073222e498fd45ab0f6e691bdc47cc1409a08
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    engagement_details:
      streamHash: 6a041a63dfac7e9ecd18095dabe4e81d553c8c7e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    rejection_reason_metrics:
      streamHash: 2ed33dc4467778a8e0358e2bd7d31f03f5e61540
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    metrics:
      streamHash: 4661c83a90a98c1506424b58b04f6f32b7c69617
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    metrics_by_template:
      streamHash: 52753ff8535567c54ee7260f1784d0d207357902
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    snippets:
      hasRecords: true
      streamHash: c5667b83c0afa440d5f9e4c01a0a339063169058
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist:
    docsUrl: https://developers.sparkpost.com/api/

schemas:
  search_message_events:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      campaign_id:
        type:
          - string
          - "null"
      click_tracking:
        type:
          - boolean
          - "null"
      customer_id:
        type:
          - number
          - "null"
      delv_method:
        type:
          - string
          - "null"
      event_id:
        type: string
      friendly_from:
        type:
          - string
          - "null"
      geo_ip:
        type:
          - object
          - "null"
        properties:
          city:
            type:
              - string
              - "null"
          continent:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          latitude:
            type:
              - number
              - "null"
          longitude:
            type:
              - number
              - "null"
          postal_code:
            type:
              - string
              - "null"
          region:
            type:
              - string
              - "null"
          zip:
            type:
              - number
              - "null"
      initial_pixel:
        type:
          - boolean
          - "null"
      injection_time:
        type:
          - string
          - "null"
      ip_address:
        type:
          - string
          - "null"
      ip_pool:
        type:
          - string
          - "null"
      mailbox_provider:
        type:
          - string
          - "null"
      mailbox_provider_region:
        type:
          - string
          - "null"
      message_id:
        type:
          - string
          - "null"
      msg_from:
        type:
          - string
          - "null"
      msg_size:
        type:
          - string
          - "null"
      num_retries:
        type:
          - string
          - "null"
      open_tracking:
        type:
          - boolean
          - "null"
      outbound_tls:
        type:
          - string
          - "null"
      queue_time:
        type:
          - string
          - "null"
      raw_rcpt_to:
        type:
          - string
          - "null"
      rcpt_meta:
        type:
          - object
          - "null"
        properties:
          unique_id:
            type:
              - string
              - "null"
      rcpt_tags:
        type:
          - array
          - "null"
      rcpt_to:
        type:
          - string
          - "null"
      recipient_domain:
        type:
          - string
          - "null"
      recv_method:
        type:
          - string
          - "null"
      routing_domain:
        type:
          - string
          - "null"
      scheduled_time:
        type:
          - string
          - "null"
      sending_domain:
        type:
          - string
          - "null"
      sending_ip:
        type:
          - string
          - "null"
      subject:
        type:
          - string
          - "null"
      template_id:
        type:
          - string
          - "null"
      template_version:
        type:
          - string
          - "null"
      timestamp:
        type:
          - string
          - "null"
      transmission_id:
        type:
          - string
          - "null"
      user_agent:
        type:
          - string
          - "null"
      user_agent_parsed:
        type:
          - object
          - "null"
        properties:
          agent_family:
            type:
              - string
              - "null"
          device_brand:
            type:
              - string
              - "null"
          device_family:
            type:
              - string
              - "null"
          is_mobile:
            type:
              - boolean
              - "null"
          is_prefetched:
            type:
              - boolean
              - "null"
          is_proxy:
            type:
              - boolean
              - "null"
          os_family:
            type:
              - string
              - "null"
          os_version:
            type:
              - string
              - "null"
    required:
      - event_id
  sending_domains:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      creation_time:
        type:
          - string
          - "null"
      domain:
        type: string
      is_default_bounce_domain:
        type:
          - boolean
          - "null"
      shared_with_subaccounts:
        type:
          - boolean
          - "null"
      status:
        type:
          - object
          - "null"
        properties:
          abuse_at_status:
            type:
              - string
              - "null"
          cname_status:
            type:
              - string
              - "null"
          compliance_status:
            type:
              - string
              - "null"
          dkim_status:
            type:
              - string
              - "null"
          mx_status:
            type:
              - string
              - "null"
          ownership_verified:
            type:
              - boolean
              - "null"
          postmaster_at_status:
            type:
              - string
              - "null"
          spf_status:
            type:
              - string
              - "null"
          verification_mailbox_status:
            type:
              - string
              - "null"
    required:
      - domain
  ab_test:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type:
          - number
          - "null"
      audience_selection:
        type:
          - string
          - "null"
      confidence_level:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      default_template:
        type:
          - object
          - "null"
        properties:
          count_accepted:
            type:
              - number
              - "null"
          count_unique_confirmed_opened:
            type:
              - number
              - "null"
          engagement_rate:
            type:
              - number
              - "null"
          percent:
            type:
              - number
              - "null"
          template_id:
            type:
              - string
              - "null"
      end_time:
        type:
          - string
          - "null"
      engagement_timeout:
        type:
          - number
          - "null"
      id:
        type: string
      metric:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      start_time:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      test_mode:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      variants:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            confidence:
              type:
                - number
                - "null"
            count_accepted:
              type:
                - number
                - "null"
            count_unique_confirmed_opened:
              type:
                - number
                - "null"
            engagement_rate:
              type:
                - number
                - "null"
            percent:
              type:
                - number
                - "null"
            template_id:
              type:
                - string
                - "null"
    required:
      - id
  templates:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      has_draft:
        type:
          - boolean
          - "null"
      has_published:
        type:
          - boolean
          - "null"
      id:
        type: string
      last_update_time:
        type:
          - string
          - "null"
      last_use:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      published:
        type:
          - boolean
          - "null"
      shared_with_subaccounts:
        type:
          - boolean
          - "null"
    required:
      - id
  recipients:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          internal_id:
            type:
              - number
              - "null"
          list_group_id:
            type:
              - number
              - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      total_accepted_recipients:
        type:
          - number
          - "null"
    required:
      - id
  metrics_summary:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      links:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            href:
              type:
                - string
                - "null"
            method:
              type:
                - string
                - "null"
            rel:
              type:
                - string
                - "null"
      results:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            count_clicked:
              type:
                - number
                - "null"
  subaccounts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      compliance_status:
        type:
          - string
          - "null"
      customer_id:
        type:
          - number
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
  engagement_details:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      results:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            count_clicked:
              type:
                - number
                - "null"
            link_name:
              type:
                - string
                - "null"
  rejection_reason_metrics:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      results:
        type:
          - array
          - "null"
  metrics:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      links:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            href:
              type:
                - string
                - "null"
            method:
              type:
                - string
                - "null"
            rel:
              type:
                - string
                - "null"
      results:
        type:
          - object
          - "null"
  metrics_by_template:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      count_clicked:
        type:
          - number
          - "null"
      template_id:
        type: string
    required:
      - template_id
  snippets:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      id:
        type: string
      shared_with_subaccounts:
        type:
          - boolean
          - "null"
    required:
      - id
