version: 5.14.0

type: DeclarativeSource

description: >-
  The SparkPost connector for Airbyte enables seamless integration with
  SparkPost’s email delivery service, allowing users to automatically sync email
  performance data, including delivery, open, and click metrics, into their data
  warehouses.

check:
  type: CheckStream
  stream_names:
    - message_events

definitions:
  streams:
    message_events:
      type: DeclarativeStream
      name: message_events
      primary_key:
        - event_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/events/message
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ response.get('links', []) | selectattr('rel', 'equalto',
              'next') | map(attribute='href') | first }}
            stop_condition: >-
              {{ not response.get('links', []) | selectattr('rel', 'equalto',
              'next') | list }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/message_events"
    sending_domains:
      type: DeclarativeStream
      name: sending_domains
      primary_key:
        - domain
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/sending-domains
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sending_domains"
    ab_test:
      type: DeclarativeStream
      name: ab_test
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/ab-test
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ab_test"
    templates:
      type: DeclarativeStream
      name: templates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/templates
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/templates"
    recipients:
      type: DeclarativeStream
      name: recipients
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/recipient-lists
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/recipients"
    subaccounts:
      type: DeclarativeStream
      name: subaccounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v1/subaccounts
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('links', {}).get('next') }}"
            stop_condition: "{{ response.get('links', {}).get('next') is not defined }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/subaccounts"
    snippets:
      type: DeclarativeStream
      name: snippets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/labs/snippets
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/snippets"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['api_prefix'] }}.sparkpost.com
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: Authorization
        inject_into: header

streams:
  - $ref: "#/definitions/streams/message_events"
  - $ref: "#/definitions/streams/sending_domains"
  - $ref: "#/definitions/streams/ab_test"
  - $ref: "#/definitions/streams/templates"
  - $ref: "#/definitions/streams/recipients"
  - $ref: "#/definitions/streams/subaccounts"
  - $ref: "#/definitions/streams/snippets"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
      - api_prefix
    properties:
      api_key:
        type: string
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
      start_date:
        type: string
        order: 1
        title: Start Date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      api_prefix:
        type: string
        enum:
          - api
          - api.eu
        order: 2
        title: API Endpoint Prefix
        default: api
    additionalProperties: true

metadata:
  autoImportSchema:
    message_events: true
    sending_domains: true
    ab_test: true
    templates: true
    recipients: true
    subaccounts: true
    snippets: true
  testedStreams:
    message_events:
      streamHash: 6cd8b91c732f2ab681e844b3e25daf5cad761597
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    sending_domains:
      hasRecords: true
      streamHash: d8823ac15a64e51058d00e7e6bebc7887818e003
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    ab_test:
      hasRecords: true
      streamHash: db57e56ed834e1a4cda14f9dffe59adb2e795ab8
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    templates:
      hasRecords: true
      streamHash: af4fa0d7513777398d2b1b2e319f29b09be339e8
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    recipients:
      hasRecords: true
      streamHash: 21516863cfcae0984c41b252d4f0699993a2fffb
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    subaccounts:
      hasRecords: true
      streamHash: ecd8e66247fac36849216f2525a91cf2604e7a10
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    snippets:
      hasRecords: true
      streamHash: df868d0af6d81748a476218d04e9e0858dc5d5df
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist:
    docsUrl: https://developers.sparkpost.com/api/

schemas:
  message_events:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      click_tracking:
        type:
          - boolean
          - "null"
      customer_id:
        type:
          - number
          - "null"
      delv_method:
        type:
          - string
          - "null"
      event_id:
        type: string
      friendly_from:
        type:
          - string
          - "null"
      injection_time:
        type:
          - string
          - "null"
      ip_address:
        type:
          - string
          - "null"
      ip_pool:
        type:
          - string
          - "null"
      mailbox_provider:
        type:
          - string
          - "null"
      mailbox_provider_region:
        type:
          - string
          - "null"
      message_id:
        type:
          - string
          - "null"
      msg_from:
        type:
          - string
          - "null"
      msg_size:
        type:
          - string
          - "null"
      num_retries:
        type:
          - string
          - "null"
      outbound_tls:
        type:
          - string
          - "null"
      queue_time:
        type:
          - string
          - "null"
      raw_rcpt_to:
        type:
          - string
          - "null"
      rcpt_meta:
        type:
          - object
          - "null"
      rcpt_tags:
        type:
          - array
          - "null"
      rcpt_to:
        type:
          - string
          - "null"
      recipient_domain:
        type:
          - string
          - "null"
      recv_method:
        type:
          - string
          - "null"
      routing_domain:
        type:
          - string
          - "null"
      sending_domain:
        type:
          - string
          - "null"
      sending_ip:
        type:
          - string
          - "null"
      subject:
        type:
          - string
          - "null"
      template_id:
        type:
          - string
          - "null"
      template_version:
        type:
          - string
          - "null"
      timestamp:
        type:
          - string
          - "null"
      transmission_id:
        type:
          - string
          - "null"
    required:
      - event_id
  sending_domains:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      creation_time:
        type:
          - string
          - "null"
      domain:
        type: string
      is_default_bounce_domain:
        type:
          - boolean
          - "null"
      shared_with_subaccounts:
        type:
          - boolean
          - "null"
      status:
        type:
          - object
          - "null"
        properties:
          abuse_at_status:
            type:
              - string
              - "null"
          cname_status:
            type:
              - string
              - "null"
          compliance_status:
            type:
              - string
              - "null"
          dkim_status:
            type:
              - string
              - "null"
          mx_status:
            type:
              - string
              - "null"
          ownership_verified:
            type:
              - boolean
              - "null"
          postmaster_at_status:
            type:
              - string
              - "null"
          spf_status:
            type:
              - string
              - "null"
          verification_mailbox_status:
            type:
              - string
              - "null"
    required:
      - domain
  ab_test:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type:
          - number
          - "null"
      audience_selection:
        type:
          - string
          - "null"
      confidence_level:
        type:
          - number
          - "null"
      created_at:
        type:
          - string
          - "null"
      default_template:
        type:
          - object
          - "null"
        properties:
          count_accepted:
            type:
              - number
              - "null"
          count_unique_confirmed_opened:
            type:
              - number
              - "null"
          engagement_rate:
            type:
              - number
              - "null"
          percent:
            type:
              - number
              - "null"
          template_id:
            type:
              - string
              - "null"
      end_time:
        type:
          - string
          - "null"
      engagement_timeout:
        type:
          - number
          - "null"
      id:
        type: string
      metric:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      start_time:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      test_mode:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
      variants:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            confidence:
              type:
                - number
                - "null"
            count_accepted:
              type:
                - number
                - "null"
            count_unique_confirmed_opened:
              type:
                - number
                - "null"
            engagement_rate:
              type:
                - number
                - "null"
            percent:
              type:
                - number
                - "null"
            template_id:
              type:
                - string
                - "null"
    required:
      - id
  templates:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      has_draft:
        type:
          - boolean
          - "null"
      has_published:
        type:
          - boolean
          - "null"
      id:
        type: string
      last_update_time:
        type:
          - string
          - "null"
      last_use:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      published:
        type:
          - boolean
          - "null"
      shared_with_subaccounts:
        type:
          - boolean
          - "null"
    required:
      - id
  recipients:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          internal_id:
            type:
              - number
              - "null"
          list_group_id:
            type:
              - number
              - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      total_accepted_recipients:
        type:
          - number
          - "null"
    required:
      - id
  subaccounts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      compliance_status:
        type:
          - string
          - "null"
      customer_id:
        type:
          - number
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
  snippets:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      id:
        type: string
      shared_with_subaccounts:
        type:
          - boolean
          - "null"
    required:
      - id
