version: 4.6.2

type: DeclarativeSource

description: |-
  Website: https://missiveapp.com/
  API Docs: https://missiveapp.com/help/api-documentation/rest-endpoints
  Auth Docs: https://missiveapp.com/help/api-documentation/getting-started

check:
  type: CheckStream
  stream_names:
    - contact_books

definitions:
  streams:
    contact_books:
      type: DeclarativeStream
      name: contact_books
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: contact_books
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - contact_books
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contact_books"
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: contacts
          http_method: GET
          request_parameters:
            contact_book: "{{ stream_partition.contact_book_id }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - contacts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: contact_book_id
              stream:
                $ref: "#/definitions/streams/contact_books"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: modified_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    contact_groups:
      type: DeclarativeStream
      name: contact_groups
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: contact_groups
          http_method: GET
          request_parameters:
            kind: "{{ config['kind'] }}"
            contact_book: "{{ stream_partition.contact_book_id }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - contact_groups
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: contact_book_id
              stream:
                $ref: "#/definitions/streams/contact_books"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contact_groups"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: users
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    teams:
      type: DeclarativeStream
      name: teams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: teams
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - teams
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    shared_labels:
      type: DeclarativeStream
      name: shared_labels
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: shared_labels
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - shared_labels
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/shared_labels"
    organizations:
      type: DeclarativeStream
      name: organizations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: organizations
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - organizations
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 50
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organizations"
    conversations:
      type: DeclarativeStream
      name: conversations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: conversations
          http_method: GET
          request_parameters:
            all: "true"
            limit: '{{ config["limit"] }}'
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 2
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - conversations
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/conversations"
  base_requester:
    type: HttpRequester
    url_base: https://public.missiveapp.com/v1/
    authenticator:
      type: BearerAuthenticator
      api_token: '{{ config["api_key"] }}'

streams:
  - $ref: "#/definitions/streams/contact_books"
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/contact_groups"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/shared_labels"
  - $ref: "#/definitions/streams/organizations"
  - $ref: "#/definitions/streams/conversations"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      limit:
        type: string
        description: Max records per page limit
        order: 1
        title: Limit
        default: "50"
      start_date:
        type: string
        order: 2
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      kind:
        type: string
        description: Kind parameter for `contact_groups` stream
        enum:
          - group
          - organization
        order: 3
        title: Kind
        default: group
    additionalProperties: true

metadata:
  autoImportSchema:
    contact_books: true
    contacts: true
    contact_groups: true
    users: true
    teams: true
    shared_labels: true
    organizations: true
    conversations: true
  testedStreams:
    contact_books:
      hasRecords: true
      streamHash: 20bddff2e264f49c75337ed5654698730f0910fe
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    contacts:
      hasRecords: true
      streamHash: abdadd45adf99e887cf4bcc0833641e641efc0a0
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    contact_groups:
      hasRecords: true
      streamHash: fe4dda576d6123dd71cd4e9a31517f3854ed7d16
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    users:
      hasRecords: true
      streamHash: d9336fd65685c625dc6128c698b1f79c78499b42
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    teams:
      hasRecords: true
      streamHash: d13b4d072389baf9484f229e7483f99ac7527547
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    shared_labels:
      hasRecords: true
      streamHash: 9d9f2b68abb79d4b0c6aabdb6336b1e2c90e6abd
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    organizations:
      hasRecords: true
      streamHash: b4c08f23193a100165b75e21ec2e1ea03e762ef3
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    conversations:
      streamHash: fa3e5d75937080796a33331400a8aac71a758953
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  contact_books:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      exclude_from_search:
        type:
          - boolean
          - "null"
      id:
        type: string
      importing:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      organization:
        type:
          - string
          - "null"
      share_with_organization:
        type:
          - boolean
          - "null"
      share_with_team:
        type:
          - string
          - "null"
      share_with_users:
        type:
          - array
          - "null"
      user:
        type:
          - string
          - "null"
    required:
      - id
  contacts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      contact_book:
        type:
          - string
          - "null"
      deleted:
        type:
          - boolean
          - "null"
      first_name:
        type:
          - string
          - "null"
      id:
        type: string
      infos:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            kind:
              type:
                - string
                - "null"
            label:
              type:
                - string
                - "null"
            value:
              type:
                - string
                - "null"
      last_name:
        type:
          - string
          - "null"
      memberships:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            department:
              type:
                - string
                - "null"
            group:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                kind:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
            location:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
      modified_at:
        type: number
      notes:
        type:
          - string
          - "null"
      starred:
        type:
          - boolean
          - "null"
    required:
      - id
      - modified_at
  contact_groups:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
    required:
      - id
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      avatar_url:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      id:
        type: string
      me:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
    required:
      - id
  teams:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
      organization:
        type:
          - string
          - "null"
    required:
      - id
  shared_labels:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
      name_with_parent_names:
        type:
          - string
          - "null"
      organization:
        type:
          - string
          - "null"
      share_with_organization:
        type:
          - boolean
          - "null"
      share_with_users:
        type:
          - array
          - "null"
      visibility:
        type:
          - string
          - "null"
    required:
      - id
  organizations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type: string
      name:
        type:
          - string
          - "null"
    required:
      - id
  conversations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      app_url:
        type:
          - string
          - "null"
      assignee_emails:
        type:
          - string
          - "null"
      assignee_names:
        type:
          - string
          - "null"
      assignees:
        type:
          - array
          - "null"
      attachments_count:
        type:
          - number
          - "null"
      authors:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            address:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      completed_tasks_count:
        type:
          - number
          - "null"
      created_at:
        type: number
      drafts_count:
        type:
          - number
          - "null"
      external_authors:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            address:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      id:
        type: string
      last_activity_at:
        type:
          - number
          - "null"
      latest_message_subject:
        type:
          - string
          - "null"
      messages_count:
        type:
          - number
          - "null"
      send_later_messages_count:
        type:
          - number
          - "null"
      shared_label_names:
        type:
          - string
          - "null"
      shared_labels:
        type:
          - array
          - "null"
      tasks_count:
        type:
          - number
          - "null"
      users:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            archived:
              type:
                - boolean
                - "null"
            assigned:
              type:
                - boolean
                - "null"
            closed:
              type:
                - boolean
                - "null"
            email:
              type:
                - string
                - "null"
            flagged:
              type:
                - boolean
                - "null"
            id:
              type:
                - string
                - "null"
            junked:
              type:
                - boolean
                - "null"
            name:
              type:
                - string
                - "null"
            snoozed:
              type:
                - boolean
                - "null"
            trashed:
              type:
                - boolean
                - "null"
            unassigned:
              type:
                - boolean
                - "null"
      web_url:
        type:
          - string
          - "null"
    required:
      - id
      - created_at
