version: 1.3.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - Accounts

definitions:
  streams:
    Accounts:
      type: DeclarativeStream
      name: Accounts
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://api.twilio.com/2010-04-01/Accounts.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - accounts
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Accounts"
    Addresses:
      type: DeclarativeStream
      name: Addresses
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Addresses.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - addresses
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Addresses"
    Available Phone Number Countries:
      type: DeclarativeStream
      name: Available Phone Number Countries
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url']
            }}/Accounts/{{stream_partition.account_sid}}/AvailablePhoneNumbers.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - countries
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Available Phone Number Countries"
    Available Phone Numbers Local:
      type: DeclarativeStream
      name: Available Phone Numbers Local
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url']
            }}/Accounts/{{stream_partition.account_sid}}/AvailablePhoneNumbers/{{stream_partition.country_code}}/Local.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - available_phone_numbers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_sid
                stream:
                  $ref: "#/definitions/streams/Accounts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: country_code
                partition_field: country_code
                stream:
                  $ref: "#/definitions/streams/Available Phone Number Countries"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Available Phone Numbers Local"
    Available Phone Numbers Mobile:
      type: DeclarativeStream
      name: Available Phone Numbers Mobile
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url']
            }}/Accounts/{{stream_partition.account_sid}}/AvailablePhoneNumbers/{{stream_partition.country_code}}/Mobile.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - available_phone_numbers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_sid
                stream:
                  $ref: "#/definitions/streams/Accounts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: country_code
                partition_field: country_code
                stream:
                  $ref: "#/definitions/streams/Available Phone Number Countries"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Available Phone Numbers Mobile"
    Available Phone Numbers Toll-Free:
      type: DeclarativeStream
      name: Available Phone Numbers Toll-Free
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url']
            }}/Accounts/{{stream_partition.account_sid}}/AvailablePhoneNumbers/{{stream_partition.country_code}}/TollFree.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - available_phone_numbers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_sid
                stream:
                  $ref: "#/definitions/streams/Accounts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: country_code
                partition_field: country_code
                stream:
                  $ref: "#/definitions/streams/Available Phone Number Countries"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Available Phone Numbers Toll-Free"
    Incoming Phone Numbers:
      type: DeclarativeStream
      name: Incoming Phone Numbers
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url']
            }}/Accounts/{{stream_partition.account_sid}}/IncomingPhoneNumbers.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - incoming_phone_numbers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Incoming Phone Numbers"
    Keys:
      type: DeclarativeStream
      name: Keys
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url']
            }}/Accounts/{{stream_partition.account_sid}}/Keys.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - keys
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Keys"
    Flows:
      type: DeclarativeStream
      name: Flows
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "{{ config['studio_base_api_url'] }}/Flows"
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - flows
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Flows"
    Steps:
      type: DeclarativeStream
      name: Steps
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['studio_base_api_url']
            }}/Flows/{{stream_partition.flow_sid}}/Executions/{{stream_partition.execution_sid}}/Steps
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - steps
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: flow_sid
                stream:
                  $ref: "#/definitions/streams/Flows"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: execution_sid
                stream:
                  $ref: "#/definitions/streams/Executions"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Steps"
    Alerts:
      type: DeclarativeStream
      name: Alerts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://monitor.twilio.com/v1/Alerts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - alerts
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Alerts"
    Applications:
      type: DeclarativeStream
      name: Applications
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Applications.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - applications
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Applications"
    Dependent Phone Numbers:
      type: DeclarativeStream
      name: Dependent Phone Numbers
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Addresses/{{
            stream_partition.address_sid }}/DependentPhoneNumbers.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: account_sid
                stream:
                  $ref: "#/definitions/streams/Accounts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: address_sid
                stream:
                  $ref: "#/definitions/streams/Addresses"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Dependent Phone Numbers"
    Calls:
      type: DeclarativeStream
      name: Calls
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Calls.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - calls
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: end_time
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: EndTime>
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: EndTime<
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Calls"
    Conferences:
      type: DeclarativeStream
      name: Conferences
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Conferences.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - conferences
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_created
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: DateCreated>
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: DateCreated<
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Conferences"
    Conference Participants:
      type: DeclarativeStream
      name: Conference Participants
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Conferences/{{
            stream_partition.conference_sid }}/Participants.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - participants
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: account_sid
                stream:
                  $ref: "#/definitions/streams/Accounts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: conference_sid
                stream:
                  $ref: "#/definitions/streams/Conferences"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Conference Participants"
    Executions:
      type: DeclarativeStream
      name: Executions
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://studio.twilio.com/v1/Flows/{{ stream_partition.flow_sid
            }}/Executions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - executions
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: flow_sid
              stream:
                $ref: "#/definitions/streams/Flows"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Executions"
    Outgoing Caller Ids:
      type: DeclarativeStream
      name: Outgoing Caller Ids
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/OutgoingCallerIds
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Outgoing Caller Ids"
    Recordings:
      type: DeclarativeStream
      name: Recordings
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Recordings.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - recordings
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_created
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: DateCreated>
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: DateCreated<
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Recordings"
    Services:
      type: DeclarativeStream
      name: Services
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://chat.twilio.com/v2/Services
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - services
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Services"
    Verify Services:
      type: DeclarativeStream
      name: Verify Services
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://verify.twilio.com/v2/Services
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - services
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Verify Services"
    Roles:
      type: DeclarativeStream
      name: Roles
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://chat.twilio.com/v2/Services/{{ stream_partition.service_sid
            }}/Roles
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - roles
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: service_sid
              stream:
                $ref: "#/definitions/streams/Services"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Roles"
    Transcriptions:
      type: DeclarativeStream
      name: Transcriptions
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Transcriptions.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - transcriptions
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Transcriptions"
    Trunks:
      type: DeclarativeStream
      name: Trunks
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://trunking.twilio.com/v1/Trunks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - trunks
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Trunks"
    Queues:
      type: DeclarativeStream
      name: Queues
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Queues.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - queues
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Queues"
    Messages:
      type: DeclarativeStream
      name: Messages
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Messages.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - messages
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_sent
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: DateSent>
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: DateSent<
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Messages"
    Message Media:
      type: DeclarativeStream
      name: Message Media
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Messages/{{
            stream_partition.message_sid }}/Media.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - media
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: account_sid
                stream:
                  $ref: "#/definitions/streams/Accounts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: message_sid
                stream:
                  $ref: "#/definitions/streams/Messages"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_sent
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: DateSent>
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: DateSent<
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Message Media"
    Usage Records:
      type: DeclarativeStream
      name: Usage Records
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Usage/Records.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - records
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: start_date
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: StartDate
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: EndDate
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Usage Records"
    Usage Triggers:
      type: DeclarativeStream
      name: Usage Triggers
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Usage/Triggers.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - triggers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Usage Triggers"
  base_requester:
    type: HttpRequester
    url_base: https://
    authenticator:
      type: BasicHttpAuthenticator
      password: '{{ config["password"] }}'
      username: '{{ config["username"] }}'

streams:
  - $ref: "#/definitions/streams/Accounts"
  - $ref: "#/definitions/streams/Addresses"
  - $ref: "#/definitions/streams/Available Phone Number Countries"
  - $ref: "#/definitions/streams/Available Phone Numbers Local"
  - $ref: "#/definitions/streams/Available Phone Numbers Mobile"
  - $ref: "#/definitions/streams/Available Phone Numbers Toll-Free"
  - $ref: "#/definitions/streams/Incoming Phone Numbers"
  - $ref: "#/definitions/streams/Keys"
  - $ref: "#/definitions/streams/Flows"
  - $ref: "#/definitions/streams/Steps"
  - $ref: "#/definitions/streams/Alerts"
  - $ref: "#/definitions/streams/Applications"
  - $ref: "#/definitions/streams/Dependent Phone Numbers"
  - $ref: "#/definitions/streams/Calls"
  - $ref: "#/definitions/streams/Conferences"
  - $ref: "#/definitions/streams/Conference Participants"
  - $ref: "#/definitions/streams/Executions"
  - $ref: "#/definitions/streams/Outgoing Caller Ids"
  - $ref: "#/definitions/streams/Recordings"
  - $ref: "#/definitions/streams/Services"
  - $ref: "#/definitions/streams/Verify Services"
  - $ref: "#/definitions/streams/Roles"
  - $ref: "#/definitions/streams/Transcriptions"
  - $ref: "#/definitions/streams/Trunks"
  - $ref: "#/definitions/streams/Queues"
  - $ref: "#/definitions/streams/Messages"
  - $ref: "#/definitions/streams/Message Media"
  - $ref: "#/definitions/streams/Usage Records"
  - $ref: "#/definitions/streams/Usage Triggers"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - username
      - base_api_url
      - studio_base_api_url
      - start_date
    properties:
      username:
        type: string
        order: 0
        title: Username
      password:
        type: string
        order: 1
        title: Password
        always_show: true
        airbyte_secret: true
      base_api_url:
        type: string
        order: 2
        title: Base API URL
        default: api.twilio.com/2010-04-01/
      studio_base_api_url:
        type: string
        order: 3
        title: Studio Base API URL
        default: studio.twilio.com/v1/
        description: Studio Base API URL
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 4
    additionalProperties: true

metadata:
  autoImportSchema:
    Accounts: true
    Addresses: true
    Available Phone Number Countries: true
    Available Phone Numbers Local: true
    Available Phone Numbers Mobile: true
    Available Phone Numbers Toll-Free: true
    Incoming Phone Numbers: true
    Keys: true
    Flows: true
    Steps: true
    Alerts: true
    Applications: true
    Dependent Phone Numbers: true
    Calls: true
    Conferences: true
    Conference Participants: true
    Executions: true
    Outgoing Caller Ids: true
    Recordings: true
    Services: true
    Verify Services: true
    Roles: true
    Transcriptions: true
    Trunks: true
    Queues: true
    Messages: true
    Message Media: true
    Usage Records: true
    Usage Triggers: true

schemas:
  Accounts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      auth_token:
        type:
          - string
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      friendly_name:
        type:
          - string
          - "null"
      owner_account_sid:
        type:
          - string
          - "null"
      sid:
        type: string
      status:
        type:
          - string
          - "null"
      subresource_uris:
        type:
          - object
          - "null"
        properties:
          addresses:
            type:
              - string
              - "null"
          applications:
            type:
              - string
              - "null"
          authorized_connect_apps:
            type:
              - string
              - "null"
          available_phone_numbers:
            type:
              - string
              - "null"
          balance:
            type:
              - string
              - "null"
          calls:
            type:
              - string
              - "null"
          conferences:
            type:
              - string
              - "null"
          connect_apps:
            type:
              - string
              - "null"
          incoming_phone_numbers:
            type:
              - string
              - "null"
          keys:
            type:
              - string
              - "null"
          messages:
            type:
              - string
              - "null"
          notifications:
            type:
              - string
              - "null"
          outgoing_caller_ids:
            type:
              - string
              - "null"
          queues:
            type:
              - string
              - "null"
          recordings:
            type:
              - string
              - "null"
          short_codes:
            type:
              - string
              - "null"
          signing_keys:
            type:
              - string
              - "null"
          sip:
            type:
              - string
              - "null"
          transcriptions:
            type:
              - string
              - "null"
          usage:
            type:
              - string
              - "null"
      uri:
        type:
          - string
          - "null"
    required:
      - sid
  Addresses:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type:
          - string
          - "null"
      city:
        type:
          - string
          - "null"
      customer_name:
        type:
          - string
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      emergency_enabled:
        type:
          - boolean
          - "null"
      friendly_name:
        type:
          - string
          - "null"
      iso_country:
        type:
          - string
          - "null"
      postal_code:
        type:
          - string
          - "null"
      region:
        type:
          - string
          - "null"
      sid:
        type: string
      street:
        type:
          - string
          - "null"
      street_secondary:
        type:
          - string
          - "null"
      uri:
        type:
          - string
          - "null"
      validated:
        type:
          - boolean
          - "null"
      verified:
        type:
          - boolean
          - "null"
    required:
      - sid
  Available Phone Number Countries:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      beta:
        type:
          - boolean
          - "null"
      country:
        type:
          - string
          - "null"
      country_code:
        type:
          - string
          - "null"
      subresource_uris:
        type:
          - object
          - "null"
        properties:
          local:
            type:
              - string
              - "null"
          mobile:
            type:
              - string
              - "null"
          toll_free:
            type:
              - string
              - "null"
      uri:
        type:
          - string
          - "null"
  Available Phone Numbers Local:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  Available Phone Numbers Mobile:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  Available Phone Numbers Toll-Free:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  Incoming Phone Numbers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type: string
      address_requirements:
        type: string
      api_version:
        type: string
      beta:
        type: boolean
      capabilities:
        type: object
        properties:
          fax:
            type: boolean
          mms:
            type: boolean
          sms:
            type: boolean
          voice:
            type: boolean
      date_created:
        type: string
      date_updated:
        type: string
      emergency_address_status:
        type: string
      emergency_status:
        type: string
      friendly_name:
        type: string
      origin:
        type: string
      phone_number:
        type: string
      sid:
        type: string
      sms_application_sid:
        type: string
      sms_fallback_method:
        type: string
      sms_fallback_url:
        type: string
      sms_method:
        type: string
      sms_url:
        type: string
      status:
        type: string
      status_callback:
        type: string
      status_callback_method:
        type: string
      subresource_uris:
        type: object
        properties:
          assigned_add_ons:
            type: string
      uri:
        type: string
      voice_application_sid:
        type: string
      voice_caller_id_lookup:
        type: boolean
      voice_fallback_method:
        type: string
      voice_fallback_url:
        type: string
      voice_method:
        type: string
      voice_url:
        type: string
  Keys:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      date_created:
        type: string
      date_updated:
        type: string
      friendly_name:
        type: string
      sid:
        type: string
  Flows:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type: number
      account_sid:
        type: string
      date_created:
        type: string
      date_updated:
        type: string
      friendly_name:
        type: string
      links:
        type: object
        properties:
          engagements:
            type: string
          executions:
            type: string
      sid:
        type: string
      status:
        type: string
      url:
        type: string
  Steps:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type: string
      contact_channel_address:
        type: string
      contact_sid:
        type: string
      context:
        type: object
      date_created:
        type: string
      date_updated:
        type: string
      flow_sid:
        type: string
      links:
        type: object
        properties:
          execution_context:
            type: string
          steps:
            type: string
      sid:
        type: string
      status:
        type: string
      url:
        type: string
  Alerts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      alerts:
        type:
          - array
          - "null"
      meta:
        type:
          - object
          - "null"
        properties:
          first_page_url:
            type:
              - string
              - "null"
          key:
            type:
              - string
              - "null"
          page:
            type:
              - number
              - "null"
          page_size:
            type:
              - number
              - "null"
          url:
            type:
              - string
              - "null"
  Applications:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type:
          - string
          - "null"
      api_version:
        type:
          - string
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      friendly_name:
        type:
          - string
          - "null"
      message_status_callback:
        type:
          - string
          - "null"
      public_application_connect_enabled:
        type:
          - boolean
          - "null"
      sid:
        type: string
      sms_fallback_method:
        type:
          - string
          - "null"
      sms_fallback_url:
        type:
          - string
          - "null"
      sms_method:
        type:
          - string
          - "null"
      sms_status_callback:
        type:
          - string
          - "null"
      sms_url:
        type:
          - string
          - "null"
      status_callback:
        type:
          - string
          - "null"
      status_callback_method:
        type:
          - string
          - "null"
      uri:
        type:
          - string
          - "null"
      voice_caller_id_lookup:
        type:
          - boolean
          - "null"
      voice_fallback_method:
        type:
          - string
          - "null"
      voice_fallback_url:
        type:
          - string
          - "null"
      voice_method:
        type:
          - string
          - "null"
      voice_url:
        type:
          - string
          - "null"
    required:
      - sid
  Dependent Phone Numbers:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  Calls:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  Conferences:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  Conference Participants:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  Executions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  Outgoing Caller Ids:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  Recordings:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  Services:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type:
          - string
          - "null"
      consumption_report_interval:
        type:
          - number
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      default_channel_creator_role_sid:
        type:
          - string
          - "null"
      default_channel_role_sid:
        type:
          - string
          - "null"
      default_service_role_sid:
        type:
          - string
          - "null"
      friendly_name:
        type:
          - string
          - "null"
      limits:
        type:
          - object
          - "null"
        properties:
          channel_members:
            type:
              - number
              - "null"
          user_channels:
            type:
              - number
              - "null"
      links:
        type:
          - object
          - "null"
        properties:
          bindings:
            type:
              - string
              - "null"
          channels:
            type:
              - string
              - "null"
          roles:
            type:
              - string
              - "null"
          users:
            type:
              - string
              - "null"
      media:
        type:
          - object
          - "null"
        properties:
          compatibility_message:
            type:
              - string
              - "null"
          size_limit_mb:
            type:
              - number
              - "null"
      notifications:
        type:
          - object
          - "null"
        properties:
          added_to_channel:
            type:
              - object
              - "null"
            properties:
              enabled:
                type:
                  - boolean
                  - "null"
          invited_to_channel:
            type:
              - object
              - "null"
            properties:
              enabled:
                type:
                  - boolean
                  - "null"
          log_enabled:
            type:
              - boolean
              - "null"
          new_message:
            type:
              - object
              - "null"
            properties:
              enabled:
                type:
                  - boolean
                  - "null"
          removed_from_channel:
            type:
              - object
              - "null"
            properties:
              enabled:
                type:
                  - boolean
                  - "null"
      post_webhook_retry_count:
        type:
          - number
          - "null"
      pre_webhook_retry_count:
        type:
          - number
          - "null"
      reachability_enabled:
        type:
          - boolean
          - "null"
      read_status_enabled:
        type:
          - boolean
          - "null"
      sid:
        type:
          - string
          - "null"
      typing_indicator_timeout:
        type:
          - number
          - "null"
      url:
        type:
          - string
          - "null"
  Verify Services:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  Roles:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  Transcriptions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  Trunks:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  Queues:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  Messages:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  Message Media:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  Usage Records:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  Usage Triggers:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
