
version: 1.3.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  base_requester:
    type: HttpRequester
    url_base: "https://api.twilio.com/2010-04-01/"
    authenticator:
      type: BasicHttpAuthenticator
      password: '{{ config["auth_token"] }}'
      username: '{{ config["account_sid"] }}'

  base_stream:
    type: DeclarativeStream
    primary_key:
      - sid
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/base_requester"
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - "{{ parameters['name'] }}"
        schema_normalization: Default
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: Page
        page_size_option:
          type: RequestOption
          field_name: PageSize
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 0
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - date_created
            value: '{{ format_datetime(record["date_updated"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") }}'
          - type: AddedFieldDefinition
            path:
              - date_updated
            value: '{{ format_datetime(record["date_updated"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") }}'

  accounts_stream:
    $ref: "#/definitions/base_stream"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/accounts"
    $parameters:
      name: accounts
      path: Accounts.json

streams:
  - $ref: "#/definitions/accounts_stream"

spec:
  type: Spec
  additionalProperties: true
  documentation_url: https://docs.airbyte.com/integrations/sources/twilio
  supported_destination_sync_modes:
    - append
  supportsIncremental: true
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - account_sid
      - auth_token
      - start_date
    title: Twilio Spec
    properties:
      account_sid:
        airbyte_secret: true
        description: Twilio account SID
        order: 1
        title: Account ID
        type: string
      auth_token:
        airbyte_secret: true
        description: Twilio Auth Token.
        order: 2
        title: Auth Token
        type: string
      lookback_window:
        default: 0
        description: How far into the past to look for records. (in minutes)
        examples:
          - 60
        maximum: 576000
        minimum: 0
        order: 4
        title: Lookback window
        type: integer
      start_date:
        description:
          UTC date and time in the format 2020-10-01T00:00:00Z. Any data
          before this date will not be replicated.
        examples:
          - "2020-10-01T00:00:00Z"
        format: date-time
        order: 3
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        title: Replication Start Date
        type: string

schemas:
  accounts:
    properties:
      auth_token:
        description: The authentication token for the account
        type:
        - 'null'
        - string
      date_created:
        description: The timestamp when the account was created
        format: date-time
        type:
        - 'null'
        - string
      date_updated:
        description: The timestamp when the account was last updated
        format: date-time
        type:
        - 'null'
        - string
      friendly_name:
        description: A user-defined friendly name for the account
        type:
        - 'null'
        - string
      owner_account_sid:
        description: The SID of the owner account
        type:
        - 'null'
        - string
      sid:
        description: The unique identifier for the account
        type:
        - 'null'
        - string
      status:
        description: The current status of the account
        type:
        - 'null'
        - string
      subresource_uris:
        description: URIs for accessing various subresources related to the account
        type:
        - 'null'
        - object
        additionalProperties: true
        properties:
          addresses:
            type:
            - 'null'
            - string
          conferences:
            type:
            - 'null'
            - string
          signing_keys:
            type:
            - 'null'
            - string
          transcriptions:
            type:
            - 'null'
            - string
          connect_apps:
            type:
            - 'null'
            - string
          sip:
            type:
            - 'null'
            - string
          authorized_connect_apps:
            type:
            - 'null'
            - string
          usage:
            type:
            - 'null'
            - string
          keys:
            type:
            - 'null'
            - string
          applications:
            type:
            - 'null'
            - string
          recordings:
            type:
            - 'null'
            - string
          short_codes:
            type:
            - 'null'
            - string
          calls:
            type:
            - 'null'
            - string
          notifications:
            type:
            - 'null'
            - string
          incoming_phone_numbers:
            type:
            - 'null'
            - string
          queues:
            type:
            - 'null'
            - string
          messages:
            type:
            - 'null'
            - string
          outgoing_caller_ids:
            type:
            - 'null'
            - string
          available_phone_numbers:
            type:
            - 'null'
            - string
          balance:
            type:
            - 'null'
            - string
      type:
        description: The type of the account
        type:
        - 'null'
        - string
      uri:
        description: The URI for accessing the account resource
        type:
        - 'null'
        - string
    type: object
    additionalProperties: true
    $schema: http://json-schema.org/schema#
