version: 1.5.2

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - Accounts

definitions:
  streams:
    Accounts:
      type: DeclarativeStream
      name: Accounts
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://api.twilio.com/2010-04-01/Accounts.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - accounts
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Accounts"
    Addresses:
      type: DeclarativeStream
      name: Addresses
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Addresses.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - addresses
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Addresses"
    Available Phone Number Countries:
      type: DeclarativeStream
      name: Available Phone Number Countries
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url']
            }}/Accounts/{{stream_partition.account_sid}}/AvailablePhoneNumbers.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - countries
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Available Phone Number Countries"
    Available Phone Numbers Local:
      type: DeclarativeStream
      name: Available Phone Numbers Local
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url']
            }}/Accounts/{{stream_partition.account_sid}}/AvailablePhoneNumbers/{{stream_partition.country_code}}/Local.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - available_phone_numbers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: account_sid
                stream:
                  $ref: "#/definitions/streams/Accounts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: country_code
                partition_field: country_code
                stream:
                  $ref: "#/definitions/streams/Available Phone Number Countries"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Available Phone Numbers Local"
    Available Phone Numbers Mobile:
      type: DeclarativeStream
      name: Available Phone Numbers Mobile
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url']
            }}/Accounts/{{stream_partition.account_sid}}/AvailablePhoneNumbers/{{stream_partition.country_code}}/Mobile.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - available_phone_numbers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: account_sid
                stream:
                  $ref: "#/definitions/streams/Accounts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: country_code
                partition_field: country_code
                stream:
                  $ref: "#/definitions/streams/Available Phone Number Countries"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Available Phone Numbers Mobile"
    Available Phone Numbers Toll-Free:
      type: DeclarativeStream
      name: Available Phone Numbers Toll-Free
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url']
            }}/Accounts/{{stream_partition.account_sid}}/AvailablePhoneNumbers/{{stream_partition.country_code}}/TollFree.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - available_phone_numbers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: account_sid
                stream:
                  $ref: "#/definitions/streams/Accounts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: country_code
                partition_field: country_code
                stream:
                  $ref: "#/definitions/streams/Available Phone Number Countries"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Available Phone Numbers Toll-Free"
    Incoming Phone Numbers:
      type: DeclarativeStream
      name: Incoming Phone Numbers
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url']
            }}/Accounts/{{stream_partition.account_sid}}/IncomingPhoneNumbers.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - incoming_phone_numbers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Incoming Phone Numbers"
    Keys:
      type: DeclarativeStream
      name: Keys
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url']
            }}/Accounts/{{stream_partition.account_sid}}/Keys.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - keys
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Keys"
    Flows:
      type: DeclarativeStream
      name: Flows
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "{{ config['studio_base_api_url'] }}/Flows"
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - flows
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Flows"
    Steps:
      type: DeclarativeStream
      name: Steps
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['studio_base_api_url']
            }}/Flows/{{stream_partition.flow_sid}}/Executions/{{stream_partition.execution_sid}}/Steps
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - steps
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: flow_sid
                stream:
                  $ref: "#/definitions/streams/Flows"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: execution_sid
                stream:
                  $ref: "#/definitions/streams/Executions"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Steps"
    Alerts:
      type: DeclarativeStream
      name: Alerts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://monitor.twilio.com/v1/Alerts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - alerts
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Alerts"
    Applications:
      type: DeclarativeStream
      name: Applications
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Applications.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - applications
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Applications"
    Dependent Phone Numbers:
      type: DeclarativeStream
      name: Dependent Phone Numbers
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Addresses/{{
            stream_partition.address_sid }}/DependentPhoneNumbers.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - dependent_phone_numbers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: account_sid
                stream:
                  $ref: "#/definitions/streams/Accounts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: address_sid
                stream:
                  $ref: "#/definitions/streams/Addresses"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Dependent Phone Numbers"
    Calls:
      type: DeclarativeStream
      name: Calls
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Calls.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - calls
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: end_time
        cursor_datetime_formats:
          - "%a, %d %b %Y %H:%M:%S %z"
        datetime_format: "%a, %d %b %Y %H:%M:%S %z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: EndTime>
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: EndTime<
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Calls"
    Conferences:
      type: DeclarativeStream
      name: Conferences
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Conferences.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - conferences
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_created
        cursor_datetime_formats:
          - "%a, %d %b %Y %H:%M:%S %z"
        datetime_format: "%a, %d %b %Y %H:%M:%S %z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: DateCreated>
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: DateCreated<
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Conferences"
    Conference Participants:
      type: DeclarativeStream
      name: Conference Participants
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Conferences/{{
            stream_partition.conference_sid }}/Participants.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - participants
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: account_sid
                stream:
                  $ref: "#/definitions/streams/Accounts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: conference_sid
                stream:
                  $ref: "#/definitions/streams/Conferences"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Conference Participants"
    Executions:
      type: DeclarativeStream
      name: Executions
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://studio.twilio.com/v1/Flows/{{ stream_partition.flow_sid
            }}/Executions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - executions
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: flow_sid
              stream:
                $ref: "#/definitions/streams/Flows"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Executions"
    Outgoing Caller Ids:
      type: DeclarativeStream
      name: Outgoing Caller Ids
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/OutgoingCallerIds
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Outgoing Caller Ids"
    Recordings:
      type: DeclarativeStream
      name: Recordings
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Recordings.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - recordings
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_created
        cursor_datetime_formats:
          - "%a, %d %b %Y %H:%M:%S %z"
        datetime_format: "%a, %d %b %Y %H:%M:%S %z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: DateCreated>
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: DateCreated<
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Recordings"
    Services:
      type: DeclarativeStream
      name: Services
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://chat.twilio.com/v2/Services
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - services
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Services"
    Verify Services:
      type: DeclarativeStream
      name: Verify Services
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://verify.twilio.com/v2/Services
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - services
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Verify Services"
    Roles:
      type: DeclarativeStream
      name: Roles
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://chat.twilio.com/v2/Services/{{ stream_partition.service_sid
            }}/Roles
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - roles
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: service_sid
              stream:
                $ref: "#/definitions/streams/Services"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Roles"
    Transcriptions:
      type: DeclarativeStream
      name: Transcriptions
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Transcriptions.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - transcriptions
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Transcriptions"
    Trunks:
      type: DeclarativeStream
      name: Trunks
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://trunking.twilio.com/v1/Trunks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - trunks
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Trunks"
    Queues:
      type: DeclarativeStream
      name: Queues
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Queues.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - queues
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Queues"
    Messages:
      type: DeclarativeStream
      name: Messages
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Messages.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - messages
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_sent
        cursor_datetime_formats:
          - "%a, %d %b %Y %H:%M:%S %z"
        datetime_format: "%a, %d %b %Y %H:%M:%S %z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: DateSent>
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: DateSent<
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Messages"
    Message Media:
      type: DeclarativeStream
      name: Message Media
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Messages/{{
            stream_partition.message_sid }}/Media.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - media
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: account_sid
                stream:
                  $ref: "#/definitions/streams/Accounts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: message_sid
                stream:
                  $ref: "#/definitions/streams/Messages"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_created
        cursor_datetime_formats:
          - "%a, %d %b %Y %H:%M:%S %z"
        datetime_format: "%a, %d %b %Y %H:%M:%S %z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: DateCreated>
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: DateCreated<
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Message Media"
    Usage Records:
      type: DeclarativeStream
      name: Usage Records
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Usage/Records.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - usage_records
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: start_date
        cursor_datetime_formats:
          - "%a, %d %b %Y %H:%M:%S %z"
        datetime_format: "%a, %d %b %Y %H:%M:%S %z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: StartDate
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: EndDate
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Usage Records"
    Usage Triggers:
      type: DeclarativeStream
      name: Usage Triggers
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {{ config['base_api_url'] }}/Accounts/{{
            stream_partition.account_sid }}/Usage/Triggers.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - usage_triggers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Usage Triggers"
    Conversations:
      type: DeclarativeStream
      name: Conversations
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://conversations.twilio.com/v1/Conversations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - conversations
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Conversations"
    Conversation Participants:
      type: DeclarativeStream
      name: Conversation Participants
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://conversations.twilio.com/v1/Conversations/{{
            stream_partition.conversation_sid }}/Participants
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - participants
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: conversation_sid
              stream:
                $ref: "#/definitions/streams/Conversations"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Conversation Participants"
    Conversation Messages:
      type: DeclarativeStream
      name: Conversation Messages
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://conversations.twilio.com/v1/Conversations/{{
            stream_partition.conversation_sid }}/Messages
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - messages
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: conversation_sid
              stream:
                $ref: "#/definitions/streams/Conversations"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Conversation Messages"
    Users:
      type: DeclarativeStream
      name: Users
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://conversations.twilio.com/v1/Users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Users"
    User Conversation:
      type: DeclarativeStream
      name: User Conversation
      primary_key:
        - conversations
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://conversations.twilio.com/v1/Users/{{
            stream_partition.user_sid }}/Conversations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: user_sid
              stream:
                $ref: "#/definitions/streams/Users"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/User Conversation"
  base_requester:
    type: HttpRequester
    url_base: https://
    authenticator:
      type: BasicHttpAuthenticator
      password: '{{ config["password"] }}'
      username: '{{ config["username"] }}'

streams:
  - $ref: "#/definitions/streams/Accounts"
  - $ref: "#/definitions/streams/Addresses"
  - $ref: "#/definitions/streams/Available Phone Number Countries"
  - $ref: "#/definitions/streams/Available Phone Numbers Local"
  - $ref: "#/definitions/streams/Available Phone Numbers Mobile"
  - $ref: "#/definitions/streams/Available Phone Numbers Toll-Free"
  - $ref: "#/definitions/streams/Incoming Phone Numbers"
  - $ref: "#/definitions/streams/Keys"
  - $ref: "#/definitions/streams/Flows"
  - $ref: "#/definitions/streams/Steps"
  - $ref: "#/definitions/streams/Alerts"
  - $ref: "#/definitions/streams/Applications"
  - $ref: "#/definitions/streams/Dependent Phone Numbers"
  - $ref: "#/definitions/streams/Calls"
  - $ref: "#/definitions/streams/Conferences"
  - $ref: "#/definitions/streams/Conference Participants"
  - $ref: "#/definitions/streams/Executions"
  - $ref: "#/definitions/streams/Outgoing Caller Ids"
  - $ref: "#/definitions/streams/Recordings"
  - $ref: "#/definitions/streams/Services"
  - $ref: "#/definitions/streams/Verify Services"
  - $ref: "#/definitions/streams/Roles"
  - $ref: "#/definitions/streams/Transcriptions"
  - $ref: "#/definitions/streams/Trunks"
  - $ref: "#/definitions/streams/Queues"
  - $ref: "#/definitions/streams/Messages"
  - $ref: "#/definitions/streams/Message Media"
  - $ref: "#/definitions/streams/Usage Records"
  - $ref: "#/definitions/streams/Usage Triggers"
  - $ref: "#/definitions/streams/Conversations"
  - $ref: "#/definitions/streams/Conversation Participants"
  - $ref: "#/definitions/streams/Conversation Messages"
  - $ref: "#/definitions/streams/Users"
  - $ref: "#/definitions/streams/User Conversation"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - username
      - base_api_url
      - studio_base_api_url
      - start_date
    properties:
      username:
        type: string
        order: 0
        title: Username
      password:
        type: string
        order: 1
        title: Password
        always_show: true
        airbyte_secret: true
      base_api_url:
        type: string
        order: 2
        title: Base API URL
        default: api.twilio.com/2010-04-01/
      studio_base_api_url:
        type: string
        order: 3
        title: Studio Base API URL
        default: studio.twilio.com/v1/
        description: Studio Base API URL
      start_date:
        type: string
        order: 4
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  autoImportSchema:
    Accounts: true
    Addresses: true
    Available Phone Number Countries: true
    Available Phone Numbers Local: true
    Available Phone Numbers Mobile: true
    Available Phone Numbers Toll-Free: true
    Incoming Phone Numbers: true
    Keys: true
    Flows: true
    Steps: true
    Alerts: true
    Applications: true
    Dependent Phone Numbers: true
    Calls: true
    Conferences: true
    Conference Participants: true
    Executions: true
    Outgoing Caller Ids: true
    Recordings: true
    Services: true
    Verify Services: true
    Roles: true
    Transcriptions: true
    Trunks: true
    Queues: true
    Messages: true
    Message Media: true
    Usage Records: true
    Usage Triggers: true
    Conversations: true
    Conversation Participants: true
    Conversation Messages: true
    Users: true
    User Conversation: true

schemas:
  Accounts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      auth_token:
        type:
          - string
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      friendly_name:
        type:
          - string
          - "null"
      owner_account_sid:
        type:
          - string
          - "null"
      sid:
        type: string
      status:
        type:
          - string
          - "null"
      subresource_uris:
        type:
          - object
          - "null"
        properties:
          addresses:
            type:
              - string
              - "null"
          applications:
            type:
              - string
              - "null"
          authorized_connect_apps:
            type:
              - string
              - "null"
          available_phone_numbers:
            type:
              - string
              - "null"
          balance:
            type:
              - string
              - "null"
          calls:
            type:
              - string
              - "null"
          conferences:
            type:
              - string
              - "null"
          connect_apps:
            type:
              - string
              - "null"
          incoming_phone_numbers:
            type:
              - string
              - "null"
          keys:
            type:
              - string
              - "null"
          messages:
            type:
              - string
              - "null"
          notifications:
            type:
              - string
              - "null"
          outgoing_caller_ids:
            type:
              - string
              - "null"
          queues:
            type:
              - string
              - "null"
          recordings:
            type:
              - string
              - "null"
          short_codes:
            type:
              - string
              - "null"
          signing_keys:
            type:
              - string
              - "null"
          sip:
            type:
              - string
              - "null"
          transcriptions:
            type:
              - string
              - "null"
          usage:
            type:
              - string
              - "null"
      uri:
        type:
          - string
          - "null"
    required:
      - sid
  Addresses:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type:
          - string
          - "null"
      city:
        type:
          - string
          - "null"
      customer_name:
        type:
          - string
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      emergency_enabled:
        type:
          - boolean
          - "null"
      friendly_name:
        type:
          - string
          - "null"
      iso_country:
        type:
          - string
          - "null"
      postal_code:
        type:
          - string
          - "null"
      region:
        type:
          - string
          - "null"
      sid:
        type: string
      street:
        type:
          - string
          - "null"
      street_secondary:
        type:
          - string
          - "null"
      uri:
        type:
          - string
          - "null"
      validated:
        type:
          - boolean
          - "null"
      verified:
        type:
          - boolean
          - "null"
    required:
      - sid
  Available Phone Number Countries:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      beta:
        type:
          - boolean
          - "null"
      country:
        type:
          - string
          - "null"
      country_code:
        type:
          - string
          - "null"
      subresource_uris:
        type:
          - object
          - "null"
        properties:
          local:
            type:
              - string
              - "null"
          mobile:
            type:
              - string
              - "null"
          toll_free:
            type:
              - string
              - "null"
      uri:
        type:
          - string
          - "null"
  Available Phone Numbers Local:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      address_requirements:
        type:
          - string
          - "null"
      beta:
        type:
          - boolean
          - "null"
      capabilities:
        type:
          - object
          - "null"
        properties:
          MMS:
            type:
              - boolean
              - "null"
          SMS:
            type:
              - boolean
              - "null"
          voice:
            type:
              - boolean
              - "null"
      friendly_name:
        type:
          - string
          - "null"
      iso_country:
        type:
          - string
          - "null"
      latitude:
        type:
          - string
          - "null"
      locality:
        type:
          - string
          - "null"
      longitude:
        type:
          - string
          - "null"
      phone_number:
        type:
          - string
          - "null"
      region:
        type:
          - string
          - "null"
  Available Phone Numbers Mobile:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      address_requirements:
        type:
          - string
          - "null"
      beta:
        type:
          - boolean
          - "null"
      capabilities:
        type:
          - object
          - "null"
        properties:
          MMS:
            type:
              - boolean
              - "null"
          SMS:
            type:
              - boolean
              - "null"
          voice:
            type:
              - boolean
              - "null"
      friendly_name:
        type:
          - string
          - "null"
      iso_country:
        type:
          - string
          - "null"
      latitude:
        type:
          - string
          - "null"
      longitude:
        type:
          - string
          - "null"
      phone_number:
        type:
          - string
          - "null"
  Available Phone Numbers Toll-Free:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      address_requirements:
        type:
          - string
          - "null"
      beta:
        type:
          - boolean
          - "null"
      capabilities:
        type:
          - object
          - "null"
        properties:
          MMS:
            type:
              - boolean
              - "null"
          SMS:
            type:
              - boolean
              - "null"
          voice:
            type:
              - boolean
              - "null"
      friendly_name:
        type:
          - string
          - "null"
      iso_country:
        type:
          - string
          - "null"
      latitude:
        type:
          - string
          - "null"
      locality:
        type:
          - string
          - "null"
      longitude:
        type:
          - string
          - "null"
      phone_number:
        type:
          - string
          - "null"
  Incoming Phone Numbers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type:
          - string
          - "null"
      address_requirements:
        type:
          - string
          - "null"
      api_version:
        type:
          - string
          - "null"
      beta:
        type:
          - boolean
          - "null"
      capabilities:
        type:
          - object
          - "null"
        properties:
          fax:
            type:
              - boolean
              - "null"
          mms:
            type:
              - boolean
              - "null"
          sms:
            type:
              - boolean
              - "null"
          voice:
            type:
              - boolean
              - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      emergency_address_status:
        type:
          - string
          - "null"
      emergency_status:
        type:
          - string
          - "null"
      friendly_name:
        type:
          - string
          - "null"
      origin:
        type:
          - string
          - "null"
      phone_number:
        type:
          - string
          - "null"
      sid:
        type:
          - string
          - "null"
      sms_application_sid:
        type:
          - string
          - "null"
      sms_fallback_method:
        type:
          - string
          - "null"
      sms_fallback_url:
        type:
          - string
          - "null"
      sms_method:
        type:
          - string
          - "null"
      sms_url:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      status_callback:
        type:
          - string
          - "null"
      status_callback_method:
        type:
          - string
          - "null"
      subresource_uris:
        type:
          - object
          - "null"
        properties:
          assigned_add_ons:
            type:
              - string
              - "null"
      uri:
        type:
          - string
          - "null"
      voice_application_sid:
        type:
          - string
          - "null"
      voice_caller_id_lookup:
        type:
          - boolean
          - "null"
      voice_fallback_method:
        type:
          - string
          - "null"
      voice_fallback_url:
        type:
          - string
          - "null"
      voice_method:
        type:
          - string
          - "null"
      voice_url:
        type:
          - string
          - "null"
  Keys:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      date_created:
        type: string
      date_updated:
        type: string
      friendly_name:
        type: string
      sid:
        type: string
  Flows:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      version:
        type: number
      account_sid:
        type: string
      date_created:
        type: string
      date_updated:
        type: string
      friendly_name:
        type: string
      links:
        type: object
        properties:
          engagements:
            type: string
          executions:
            type: string
      sid:
        type: string
      status:
        type: string
      url:
        type: string
  Steps:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type: string
      contact_channel_address:
        type: string
      contact_sid:
        type: string
      context:
        type: object
      date_created:
        type: string
      date_updated:
        type: string
      flow_sid:
        type: string
      links:
        type: object
        properties:
          execution_context:
            type: string
          steps:
            type: string
      sid:
        type: string
      status:
        type: string
      url:
        type: string
  Alerts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      alerts:
        type:
          - array
          - "null"
      meta:
        type:
          - object
          - "null"
        properties:
          first_page_url:
            type:
              - string
              - "null"
          key:
            type:
              - string
              - "null"
          page:
            type:
              - number
              - "null"
          page_size:
            type:
              - number
              - "null"
          url:
            type:
              - string
              - "null"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: start_date
        cursor_datetime_formats:
          - "%a, %d %b %Y %H:%M:%S %z"
        datetime_format: "%a, %d %b %Y %H:%M:%S %z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: StartDate
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: EndDate
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
  Applications:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type:
          - string
          - "null"
      api_version:
        type:
          - string
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      friendly_name:
        type:
          - string
          - "null"
      message_status_callback:
        type:
          - string
          - "null"
      public_application_connect_enabled:
        type:
          - boolean
          - "null"
      sid:
        type: string
      sms_fallback_method:
        type:
          - string
          - "null"
      sms_fallback_url:
        type:
          - string
          - "null"
      sms_method:
        type:
          - string
          - "null"
      sms_status_callback:
        type:
          - string
          - "null"
      sms_url:
        type:
          - string
          - "null"
      status_callback:
        type:
          - string
          - "null"
      status_callback_method:
        type:
          - string
          - "null"
      uri:
        type:
          - string
          - "null"
      voice_caller_id_lookup:
        type:
          - boolean
          - "null"
      voice_fallback_method:
        type:
          - string
          - "null"
      voice_fallback_url:
        type:
          - string
          - "null"
      voice_method:
        type:
          - string
          - "null"
      voice_url:
        type:
          - string
          - "null"
    required:
      - sid
  Dependent Phone Numbers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type:
          - string
          - "null"
      address_requirements:
        type:
          - string
          - "null"
      api_version:
        type:
          - string
          - "null"
      capabilities:
        type:
          - object
          - "null"
        properties:
          MMS:
            type:
              - boolean
              - "null"
          SMS:
            type:
              - boolean
              - "null"
          Voice:
            type:
              - boolean
              - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      emergency_status:
        type:
          - string
          - "null"
      friendly_name:
        type:
          - string
          - "null"
      phone_number:
        type:
          - string
          - "null"
      sid:
        type: string
      sms_application_sid:
        type:
          - string
          - "null"
      sms_fallback_method:
        type:
          - string
          - "null"
      sms_fallback_url:
        type:
          - string
          - "null"
      sms_method:
        type:
          - string
          - "null"
      sms_url:
        type:
          - string
          - "null"
      status_callback:
        type:
          - string
          - "null"
      status_callback_method:
        type:
          - string
          - "null"
      uri:
        type:
          - string
          - "null"
      voice_application_sid:
        type:
          - string
          - "null"
      voice_caller_id_lookup:
        type:
          - boolean
          - "null"
      voice_fallback_method:
        type:
          - string
          - "null"
      voice_fallback_url:
        type:
          - string
          - "null"
      voice_method:
        type:
          - string
          - "null"
      voice_url:
        type:
          - string
          - "null"
    required:
      - sid
  Calls:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type:
          - string
          - "null"
      api_version:
        type:
          - string
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      direction:
        type:
          - string
          - "null"
      duration:
        type:
          - string
          - "null"
      end_time:
        type:
          - string
          - "null"
      forwarded_from:
        type:
          - string
          - "null"
      from:
        type:
          - string
          - "null"
      from_formatted:
        type:
          - string
          - "null"
      phone_number_sid:
        type:
          - string
          - "null"
      price:
        type:
          - string
          - "null"
      price_unit:
        type:
          - string
          - "null"
      queue_time:
        type:
          - string
          - "null"
      sid:
        type: string
      start_time:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      subresource_uris:
        type:
          - object
          - "null"
        properties:
          streams:
            type:
              - string
              - "null"
          events:
            type:
              - string
              - "null"
          notifications:
            type:
              - string
              - "null"
          payments:
            type:
              - string
              - "null"
          recordings:
            type:
              - string
              - "null"
          siprec:
            type:
              - string
              - "null"
          user_defined_message_subscriptions:
            type:
              - string
              - "null"
          user_defined_messages:
            type:
              - string
              - "null"
      to:
        type:
          - string
          - "null"
      to_formatted:
        type:
          - string
          - "null"
      trunk_sid:
        type:
          - string
          - "null"
      uri:
        type:
          - string
          - "null"
    required:
      - sid
  Conferences:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type:
          - string
          - "null"
      api_version:
        type:
          - string
          - "null"
      call_sid_ending_conference:
        type:
          - string
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      friendly_name:
        type:
          - string
          - "null"
      reason_conference_ended:
        type:
          - string
          - "null"
      region:
        type:
          - string
          - "null"
      sid:
        type: string
      status:
        type:
          - string
          - "null"
      subresource_uris:
        type:
          - object
          - "null"
        properties:
          participants:
            type:
              - string
              - "null"
          recordings:
            type:
              - string
              - "null"
      uri:
        type:
          - string
          - "null"
    required:
      - sid
  Conference Participants:
    type: object
    additionalProperties: true
    properties:
      account_sid:
        description: "The unique identifier for the Twilio account associated with the conference participant."
        type:
          - "null"
          - string
      call_sid:
        description: "The unique identifier for the call made by the participant."
        type:
          - "null"
          - string
      label:
        description: "A custom label assigned to the participant for identification."
        type:
          - "null"
          - string
      conference_sid:
        description: "The unique identifier for the conference the participant is a part of."
        type:
          - "null"
          - string
      date_created:
        description: "The date and time when the participant was added to the conference."
        format: "date-time"
        type:
          - "null"
          - string
      date_updated:
        description: "The date and time when the participant's information was last updated."
        format: "date-time"
        type:
          - "null"
          - string
      end_conference_on_exit:
        description: "Indicates whether the conference will end when the participant exits."
        type:
          - "null"
          - boolean
      muted:
        description: "Indicates whether the participant's audio is muted."
        type:
          - "null"
          - boolean
      hold:
        description: "Indicates whether the participant is on hold."
        type:
          - "null"
          - boolean
      status:
        description: "The current status of the participant in the conference."
        type:
          - "null"
          - string
      start_conference_on_enter:
        description: "Indicates whether the conference will start when the participant enters."
        type:
          - "null"
          - boolean
      coaching:
        description: "Indicates whether the participant is in coaching mode."
        type:
          - "null"
          - boolean
      call_sid_to_coach:
        description: "The unique identifier for the call made to the coach."
        type:
          - "null"
          - string
      uri:
        description: "The URI for accessing the details of the conference participant."
        type:
          - "null"
          - string
  Executions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  Outgoing Caller Ids:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  Recordings:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type:
          - string
          - "null"
      api_version:
        type:
          - string
          - "null"
      call_sid:
        type:
          - string
          - "null"
      channels:
        type:
          - number
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      duration:
        type:
          - string
          - "null"
      error_code:
        type:
          - number
          - "null"
      media_url:
        type:
          - string
          - "null"
      price:
        type:
          - string
          - "null"
      price_unit:
        type:
          - string
          - "null"
      sid:
        type: string
      source:
        type:
          - string
          - "null"
      start_time:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      subresource_uris:
        type:
          - object
          - "null"
        properties:
          add_on_results:
            type:
              - string
              - "null"
          transcriptions:
            type:
              - string
              - "null"
      uri:
        type:
          - string
          - "null"
    required:
      - sid
  Services:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type:
          - string
          - "null"
      consumption_report_interval:
        type:
          - number
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      default_channel_creator_role_sid:
        type:
          - string
          - "null"
      default_channel_role_sid:
        type:
          - string
          - "null"
      default_service_role_sid:
        type:
          - string
          - "null"
      friendly_name:
        type:
          - string
          - "null"
      limits:
        type:
          - object
          - "null"
        properties:
          channel_members:
            type:
              - number
              - "null"
          user_channels:
            type:
              - number
              - "null"
      links:
        type:
          - object
          - "null"
        properties:
          bindings:
            type:
              - string
              - "null"
          channels:
            type:
              - string
              - "null"
          roles:
            type:
              - string
              - "null"
          users:
            type:
              - string
              - "null"
      media:
        type:
          - object
          - "null"
        properties:
          compatibility_message:
            type:
              - string
              - "null"
          size_limit_mb:
            type:
              - number
              - "null"
      notifications:
        type:
          - object
          - "null"
        properties:
          added_to_channel:
            type:
              - object
              - "null"
            properties:
              enabled:
                type:
                  - boolean
                  - "null"
          invited_to_channel:
            type:
              - object
              - "null"
            properties:
              enabled:
                type:
                  - boolean
                  - "null"
          log_enabled:
            type:
              - boolean
              - "null"
          new_message:
            type:
              - object
              - "null"
            properties:
              enabled:
                type:
                  - boolean
                  - "null"
          removed_from_channel:
            type:
              - object
              - "null"
            properties:
              enabled:
                type:
                  - boolean
                  - "null"
      post_webhook_retry_count:
        type:
          - number
          - "null"
      pre_webhook_retry_count:
        type:
          - number
          - "null"
      reachability_enabled:
        type:
          - boolean
          - "null"
      read_status_enabled:
        type:
          - boolean
          - "null"
      sid:
        type:
          - string
          - "null"
      typing_indicator_timeout:
        type:
          - number
          - "null"
      url:
        type:
          - string
          - "null"
  Verify Services:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type:
          - string
          - "null"
      code_length:
        type:
          - number
          - "null"
      custom_code_enabled:
        type:
          - boolean
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      do_not_share_warning_enabled:
        type:
          - boolean
          - "null"
      dtmf_input_required:
        type:
          - boolean
          - "null"
      friendly_name:
        type:
          - string
          - "null"
      links:
        type:
          - object
          - "null"
        properties:
          access_tokens:
            type:
              - string
              - "null"
          entities:
            type:
              - string
              - "null"
          messaging_configurations:
            type:
              - string
              - "null"
          rate_limits:
            type:
              - string
              - "null"
          verification_checks:
            type:
              - string
              - "null"
          verifications:
            type:
              - string
              - "null"
          webhooks:
            type:
              - string
              - "null"
      lookup_enabled:
        type:
          - boolean
          - "null"
      psd2_enabled:
        type:
          - boolean
          - "null"
      push:
        type:
          - object
          - "null"
        properties:
          include_date:
            type:
              - boolean
              - "null"
      sid:
        type: string
      skip_sms_to_landlines:
        type:
          - boolean
          - "null"
      totp:
        type:
          - object
          - "null"
        properties:
          code_length:
            type:
              - number
              - "null"
          issuer:
            type:
              - string
              - "null"
          skew:
            type:
              - number
              - "null"
          time_step:
            type:
              - number
              - "null"
      url:
        type:
          - string
          - "null"
      verify_event_subscription_enabled:
        type:
          - boolean
          - "null"
      whatsapp:
        type:
          - object
          - "null"
        properties: {}
    required:
      - sid
  Roles:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      account_sid:
        type:
          - string
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      friendly_name:
        type:
          - string
          - "null"
      permissions:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      service_sid:
        type:
          - string
          - "null"
      sid:
        type: string
      url:
        type:
          - string
          - "null"
    required:
      - sid
  Transcriptions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      account_sid:
        type:
          - string
          - "null"
      api_version:
        type:
          - string
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      duration:
        type:
          - string
          - "null"
      price:
        type:
          - string
          - "null"
      price_unit:
        type:
          - string
          - "null"
      recording_sid:
        type:
          - string
          - "null"
      sid:
        type: string
      status:
        type:
          - string
          - "null"
      transcription_text:
        type:
          - string
          - "null"
      uri:
        type:
          - string
          - "null"
    required:
      - sid
  Trunks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type:
          - string
          - "null"
      auth_type:
        type:
          - string
          - "null"
      auth_type_set:
        type:
          - array
          - "null"
      cnam_lookup_enabled:
        type:
          - boolean
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      friendly_name:
        type:
          - string
          - "null"
      links:
        type:
          - object
          - "null"
        properties:
          credential_lists:
            type:
              - string
              - "null"
          ip_access_control_lists:
            type:
              - string
              - "null"
          origination_urls:
            type:
              - string
              - "null"
          phone_numbers:
            type:
              - string
              - "null"
      recording:
        type:
          - object
          - "null"
        properties:
          mode:
            type:
              - string
              - "null"
          trim:
            type:
              - string
              - "null"
      secure:
        type:
          - boolean
          - "null"
      sid:
        type: string
      transfer_caller_id:
        type:
          - string
          - "null"
      transfer_mode:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
    required:
      - sid
  Queues:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type:
          - string
          - "null"
      average_wait_time:
        type:
          - number
          - "null"
      current_size:
        type:
          - number
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      friendly_name:
        type:
          - string
          - "null"
      max_size:
        type:
          - number
          - "null"
      sid:
        type: string
      subresource_uris:
        type:
          - object
          - "null"
        properties:
          members:
            type:
              - string
              - "null"
      uri:
        type:
          - string
          - "null"
    required:
      - sid
  Messages:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type:
          - string
          - "null"
      api_version:
        type:
          - string
          - "null"
      body:
        type:
          - string
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_sent:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      direction:
        type:
          - string
          - "null"
      error_code:
        type:
          - number
          - "null"
      error_message:
        type:
          - string
          - "null"
      from:
        type:
          - string
          - "null"
      num_media:
        type:
          - string
          - "null"
      num_segments:
        type:
          - string
          - "null"
      price:
        type:
          - string
          - "null"
      price_unit:
        type:
          - string
          - "null"
      sid:
        type: string
      status:
        type:
          - string
          - "null"
      subresource_uris:
        type:
          - object
          - "null"
        properties:
          feedback:
            type:
              - string
              - "null"
          media:
            type:
              - string
              - "null"
      to:
        type:
          - string
          - "null"
      uri:
        type:
          - string
          - "null"
    required:
      - sid
  Message Media:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  Usage Records:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type:
          - string
          - "null"
      api_version:
        type:
          - string
          - "null"
      as_of:
        type:
          - string
          - "null"
      category:
        type:
          - string
          - "null"
      count:
        type:
          - string
          - "null"
      count_unit:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      end_date:
        type:
          - string
          - "null"
      price:
        type:
          - string
          - "null"
      price_unit:
        type:
          - string
          - "null"
      start_date:
        type: string
      subresource_uris:
        type:
          - object
          - "null"
        properties:
          all_time:
            type:
              - string
              - "null"
          daily:
            type:
              - string
              - "null"
          last_month:
            type:
              - string
              - "null"
          monthly:
            type:
              - string
              - "null"
          this_month:
            type:
              - string
              - "null"
          today:
            type:
              - string
              - "null"
          yearly:
            type:
              - string
              - "null"
          yesterday:
            type:
              - string
              - "null"
      uri:
        type:
          - string
          - "null"
      usage:
        type:
          - string
          - "null"
      usage_unit:
        type:
          - string
          - "null"
    required:
      - start_date
  Usage Triggers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type:
          - string
          - "null"
      api_version:
        type:
          - string
          - "null"
      callback_method:
        type:
          - string
          - "null"
      callback_url:
        type:
          - string
          - "null"
      current_value:
        type:
          - string
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      recurring:
        type:
          - string
          - "null"
      sid:
        type: string
      trigger_by:
        type:
          - string
          - "null"
      trigger_value:
        type:
          - string
          - "null"
      uri:
        type:
          - string
          - "null"
      usage_category:
        type:
          - string
          - "null"
      usage_record_uri:
        type:
          - string
          - "null"
    required:
      - sid
  Conversations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type:
          - string
          - "null"
      attributes:
        type:
          - string
          - "null"
      chat_service_sid:
        type:
          - string
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      friendly_name:
        type:
          - string
          - "null"
      links:
        type:
          - object
          - "null"
        properties:
          messages:
            type:
              - string
              - "null"
          participants:
            type:
              - string
              - "null"
          webhooks:
            type:
              - string
              - "null"
      messaging_service_sid:
        type:
          - string
          - "null"
      sid:
        type: string
      state:
        type:
          - string
          - "null"
      timers:
        type:
          - object
          - "null"
      url:
        type:
          - string
          - "null"
    required:
      - sid
  Conversation Participants:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type:
          - string
          - "null"
      attributes:
        type:
          - string
          - "null"
      conversation_sid:
        type:
          - string
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      identity:
        type:
          - string
          - "null"
      role_sid:
        type:
          - string
          - "null"
      sid:
        type: string
      url:
        type:
          - string
          - "null"
    required:
      - sid
  Conversation Messages:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type:
          - string
          - "null"
      attributes:
        type:
          - string
          - "null"
      author:
        type:
          - string
          - "null"
      body:
        type:
          - string
          - "null"
      conversation_sid:
        type:
          - string
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      index:
        type:
          - number
          - "null"
      links:
        type:
          - object
          - "null"
        properties:
          channel_metadata:
            type:
              - string
              - "null"
          delivery_receipts:
            type:
              - string
              - "null"
      sid:
        type: string
      url:
        type:
          - string
          - "null"
    required:
      - sid
  Users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_sid:
        type:
          - string
          - "null"
      attributes:
        type:
          - string
          - "null"
      chat_service_sid:
        type:
          - string
          - "null"
      date_created:
        type:
          - string
          - "null"
      date_updated:
        type:
          - string
          - "null"
      identity:
        type:
          - string
          - "null"
      links:
        type:
          - object
          - "null"
        properties:
          user_conversations:
            type:
              - string
              - "null"
      role_sid:
        type:
          - string
          - "null"
      sid:
        type: string
      url:
        type:
          - string
          - "null"
    required:
      - sid
  User Conversation:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      conversations:
        type: array
        items:
          type:
            - object
            - "null"
          properties:
            account_sid:
              type:
                - string
                - "null"
            attributes:
              type:
                - string
                - "null"
            chat_service_sid:
              type:
                - string
                - "null"
            conversation_sid:
              type:
                - string
                - "null"
            conversation_state:
              type:
                - string
                - "null"
            created_by:
              type:
                - string
                - "null"
            date_created:
              type:
                - string
                - "null"
            date_updated:
              type:
                - string
                - "null"
            friendly_name:
              type:
                - string
                - "null"
            links:
              type:
                - object
                - "null"
              properties:
                conversation:
                  type:
                    - string
                    - "null"
                participant:
                  type:
                    - string
                    - "null"
            notification_level:
              type:
                - string
                - "null"
            participant_sid:
              type:
                - string
                - "null"
            timers:
              type:
                - object
                - "null"
            url:
              type:
                - string
                - "null"
            user_sid:
              type:
                - string
                - "null"
      meta:
        type:
          - object
          - "null"
        properties:
          first_page_url:
            type:
              - string
              - "null"
          key:
            type:
              - string
              - "null"
          page:
            type:
              - number
              - "null"
          page_size:
            type:
              - number
              - "null"
          url:
            type:
              - string
              - "null"
    required:
      - conversations
