version: 1.3.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  base_requester:
    type: HttpRequester
    url_base: https://
    authenticator:
      type: BasicHttpAuthenticator
      password: '{{ config["auth_token"] }}'
      username: '{{ config["account_sid"] }}'
  streams:
    Accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://api.twilio.com/2010-04-01/Accounts.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - accounts
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_created
              value: '{% set formatted_datetime = format_datetime(record["date_created"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_updated
              value: '{% set formatted_datetime = format_datetime(record["date_updated"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Accounts"
    Addresses:
      type: DeclarativeStream
      name: addresses
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://api.twilio.com/2010-04-01/Accounts/{{
            stream_partition.account_sid }}/Addresses.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - addresses
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_created
              value: '{% set formatted_datetime = format_datetime(record["date_created"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_updated
              value: '{% set formatted_datetime = format_datetime(record["date_updated"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Addresses"
    Available Phone Number Countries:
      type: DeclarativeStream
      name: available_phone_number_countries
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://api.twilio.com/2010-04-01/Accounts/{{stream_partition.account_sid}}/AvailablePhoneNumbers.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - countries
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Available Phone Number Countries"
    Available Phone Numbers Local:
      type: DeclarativeStream
      name: available_phone_numbers_local
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://api.twilio.com/2010-04-01/Accounts/{{stream_partition.account_sid}}/AvailablePhoneNumbers/{{stream_partition.country_code}}/Local.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - available_phone_numbers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: account_sid
                stream:
                  $ref: "#/definitions/streams/Accounts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: country_code
                partition_field: country_code
                stream:
                  $ref: "#/definitions/streams/Available Phone Number Countries"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Available Phone Numbers Local"
    Available Phone Numbers Mobile:
      type: DeclarativeStream
      name: available_phone_numbers_mobile
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://api.twilio.com/2010-04-01/Accounts/{{stream_partition.account_sid}}/AvailablePhoneNumbers/{{stream_partition.country_code}}/Mobile.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - available_phone_numbers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: account_sid
                stream:
                  $ref: "#/definitions/streams/Accounts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: country_code
                partition_field: country_code
                stream:
                  $ref: "#/definitions/streams/Available Phone Number Countries"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Available Phone Numbers Mobile"
    Available Phone Numbers Toll-Free:
      type: DeclarativeStream
      name: available_phone_numbers_toll-Free
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://api.twilio.com/2010-04-01/Accounts/{{stream_partition.account_sid}}/AvailablePhoneNumbers/{{stream_partition.country_code}}/TollFree.json
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - http_codes: [404]
                    action: IGNORE
                    error_message: "The requested resource was not found."
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - available_phone_numbers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: account_sid
                stream:
                  $ref: "#/definitions/streams/Accounts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: country_code
                partition_field: country_code
                stream:
                  $ref: "#/definitions/streams/Available Phone Number Countries"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Available Phone Numbers Toll-Free"
    Incoming Phone Numbers:
      type: DeclarativeStream
      name: incoming_phone_numbers
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://api.twilio.com/2010-04-01/Accounts/{{stream_partition.account_sid}}/IncomingPhoneNumbers.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - incoming_phone_numbers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_created
              value: '{% set formatted_datetime = format_datetime(record["date_created"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_updated
              value: '{% set formatted_datetime = format_datetime(record["date_updated"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Incoming Phone Numbers"
    Keys:
      type: DeclarativeStream
      name: keys
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://api.twilio.com/2010-04-01/Accounts/{{stream_partition.account_sid}}/Keys.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - keys
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_created
              value: '{% set formatted_datetime = format_datetime(record["date_created"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_updated
              value: '{% set formatted_datetime = format_datetime(record["date_updated"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Keys"
    Flows:
      type: DeclarativeStream
      name: flows
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "https://studio.twilio.com/v1/Flows"
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - flows
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Flows"
    Step:
      type: DeclarativeStream
      name: step
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://studio.twilio.com/v1/Flows/{{stream_partition.flow_sid}}/Executions/{{stream_partition.execution_sid}}/Steps
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - step
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: flow_sid
                stream:
                  $ref: "#/definitions/streams/Flows"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: execution_sid
                stream:
                  $ref: "#/definitions/streams/Executions"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_created
              value: '{% set formatted_datetime = format_datetime(record["date_created"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_updated
              value: '{% set formatted_datetime = format_datetime(record["date_updated"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Step"
    Alerts:
      type: DeclarativeStream
      name: alerts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://monitor.twilio.com/v1/Alerts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - alerts
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_generated
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: StartDate=
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: EndDate=
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_created
              value: '{% set formatted_datetime = format_datetime(record["date_created"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_updated
              value: '{% set formatted_datetime = format_datetime(record["date_updated"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_generated
              value: '{% set formatted_datetime = format_datetime(record["date_generated"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - error_code
              value: '{% set error_code = record["error_code"] | string %}{{ error_code }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Alerts"
    Applications:
      type: DeclarativeStream
      name: applications
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://api.twilio.com/2010-04-01/Accounts/{{
            stream_partition.account_sid }}/Applications.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - applications
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_created
              value: '{% set formatted_datetime = format_datetime(record["date_created"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_updated
              value: '{% set formatted_datetime = format_datetime(record["date_updated"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Applications"
    Dependent Phone Numbers:
      type: DeclarativeStream
      name: dependent_phone_numbers
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://api.twilio.com/2010-04-01/Accounts/{{
            stream_partition.account_sid }}/Addresses/{{
            stream_partition.address_sid }}/DependentPhoneNumbers.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - dependent_phone_numbers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: account_sid
                stream:
                  $ref: "#/definitions/streams/Accounts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: address_sid
                stream:
                  $ref: "#/definitions/streams/Addresses"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_created
              value: '{% set formatted_datetime = format_datetime(record["date_created"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_updated
              value: '{% set formatted_datetime = format_datetime(record["date_updated"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Dependent Phone Numbers"
    Calls:
      type: DeclarativeStream
      name: calls
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://api.twilio.com/2010-04-01/Accounts/{{
            stream_partition.account_sid }}/Calls.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - calls
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: end_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: EndTime>
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: EndTime<
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_created
              value: '{% set formatted_datetime = format_datetime(record["date_created"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_updated
              value: '{% set formatted_datetime = format_datetime(record["date_updated"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - start_time
              value: '{% set formatted_datetime = format_datetime(record["start_time"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - end_time
              value: '{% set formatted_datetime = format_datetime(record["end_time"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - duration
              value: '{% set duration = record["duration"] | int %}{{ duration }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - price
              value: '{% set price = record["price"] | float %}{{ price }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - queue_time
              value: '{% set queue_time = record["queue_time"] | int %}{{ queue_time }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Calls"
    Conferences:
      type: DeclarativeStream
      name: conferences
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://api.twilio.com/2010-04-01/Accounts/{{
            stream_partition.account_sid }}/Conferences.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - conferences
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_created
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: DateCreated>
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: DateCreated<
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_created
              value: '{% set formatted_datetime = format_datetime(record["date_created"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_updated
              value: '{% set formatted_datetime = format_datetime(record["date_updated"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Conferences"
    Conference Participants:
      type: DeclarativeStream
      name: conference_participants
      primary_key:
        - account_sid
        - conference_sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://api.twilio.com/2010-04-01/Accounts/{{
            stream_partition.account_sid }}/Conferences/{{
            stream_partition.conference_sid }}/Participants.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - participants
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: account_sid
                stream:
                  $ref: "#/definitions/streams/Accounts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: conference_sid
                stream:
                  $ref: "#/definitions/streams/Conferences"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_created
              value: '{% set formatted_datetime = format_datetime(record["date_created"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_updated
              value: '{% set formatted_datetime = format_datetime(record["date_updated"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Conference Participants"
    Executions:
      type: DeclarativeStream
      name: executions
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://studio.twilio.com/v1/Flows/{{ stream_partition.flow_sid
            }}/Executions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - executions
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: flow_sid
              stream:
                $ref: "#/definitions/streams/Flows"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_created
              value: '{% set formatted_datetime = format_datetime(record["date_created"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_updated
              value: '{% set formatted_datetime = format_datetime(record["date_updated"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Executions"
    Outgoing Caller Ids:
      type: DeclarativeStream
      name: outgoing_caller_ids
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://api.twilio.com/2010-04-01/Accounts/{{
            stream_partition.account_sid }}/OutgoingCallerIds.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_created
              value: '{% set formatted_datetime = format_datetime(record["date_created"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_updated
              value: '{% set formatted_datetime = format_datetime(record["date_updated"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Outgoing Caller Ids"
    Recordings:
      type: DeclarativeStream
      name: recordings
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://api.twilio.com/2010-04-01/Accounts/{{
            stream_partition.account_sid }}/Recordings.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - recordings
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_created
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: DateCreated>
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: DateCreated<
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_created
              value: '{% set formatted_datetime = format_datetime(record["date_created"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_updated
              value: '{% set formatted_datetime = format_datetime(record["date_updated"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - start_time
              value: '{% set formatted_datetime = format_datetime(record["start_time"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - duration
              value: '{% set duration = record["duration"] | int %}{{ duration }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - price
              value: '{% set price = record["price"] | float %}{{ price }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Recordings"
    Services:
      type: DeclarativeStream
      name: services
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://chat.twilio.com/v2/Services
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - services
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Services"
    Verify Services:
      type: DeclarativeStream
      name: verify_services
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://verify.twilio.com/v2/Services
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - services
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Verify Services"
    Roles:
      type: DeclarativeStream
      name: roles
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://chat.twilio.com/v2/Services/{{ stream_partition.service_sid
            }}/Roles
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - roles
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: service_sid
              stream:
                $ref: "#/definitions/streams/Services"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Roles"
    Transcriptions:
      type: DeclarativeStream
      name: transcriptions
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://api.twilio.com/2010-04-01/Accounts/{{
            stream_partition.account_sid }}/Transcriptions.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - transcriptions
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_created
              value: '{% set formatted_datetime = format_datetime(record["date_created"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_updated
              value: '{% set formatted_datetime = format_datetime(record["date_updated"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - duration
              value: '{% set duration = record["duration"] | int %}{{ duration }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - price
              value: '{% set price = record["price"] | float %}{{ price }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Transcriptions"
    Trunks:
      type: DeclarativeStream
      name: trunks
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://trunking.twilio.com/v1/Trunks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - trunks
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Trunks"
    Queues:
      type: DeclarativeStream
      name: queues
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://api.twilio.com/2010-04-01/Accounts/{{
            stream_partition.account_sid }}/Queues.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - queues
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_created
              value: '{% set formatted_datetime = format_datetime(record["date_created"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_updated
              value: '{% set formatted_datetime = format_datetime(record["date_updated"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Queues"
    Messages:
      type: DeclarativeStream
      name: messages
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://api.twilio.com/2010-04-01/Accounts/{{
            stream_partition.account_sid }}/Messages.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - messages
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_sent
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{% set retention_window = day_delta(-400, format='%Y-%m-%dT%H:%M:%SZ') %}{{ retention_window if timestamp(retention_window) > timestamp(config['start_date']) else config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: DateSent>
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: DateSent<
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_created
              value: '{% set formatted_datetime = format_datetime(record["date_created"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_updated
              value: '{% set formatted_datetime = format_datetime(record["date_updated"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_sent
              value: '{% set formatted_datetime = format_datetime(record["date_sent"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - num_media
              value: '{% set num_media = record["num_media"] | int %}{{ num_media }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - num_segments
              value: '{% set num_segments = record["num_segments"] | int %}{{ num_segments }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - price
              value: '{% set price = record["price"] | float %}{{ price }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - error_code
              value: '{% set error_code = record["error_code"] | string %}{{ error_code }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Messages"
    Message Media:
      type: DeclarativeStream
      name: message_media
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://api.twilio.com/2010-04-01/Accounts/{{
            stream_partition.account_sid }}/Messages/{{
            stream_partition.message_sid }}/Media.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - media_list
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: account_sid
                stream:
                  $ref: "#/definitions/streams/Accounts"
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: sid
                partition_field: message_sid
                stream:
                  $ref: "#/definitions/streams/Messages"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date_created
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{% set retention_window = day_delta(-400, format='%Y-%m-%dT%H:%M:%SZ') %}{{ retention_window if timestamp(retention_window) > timestamp(config['start_date']) else config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: DateCreated>
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: DateCreated<
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_created
              value: '{% set formatted_datetime = format_datetime(record["date_created"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_updated
              value: '{% set formatted_datetime = format_datetime(record["date_updated"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Message Media"
    Usage Records:
      type: DeclarativeStream
      name: usage_records
      primary_key:
        - account_sid
        - category
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://api.twilio.com/2010-04-01/Accounts/{{
            stream_partition.account_sid }}/Usage/Records.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - usage_records
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: start_date
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: StartDate>
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: EndDate<
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Usage Records"
    Usage Triggers:
      type: DeclarativeStream
      name: usage_triggers
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://api.twilio.com/2010-04-01/Accounts/{{
            stream_partition.account_sid }}/Usage/Triggers.json
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - usage_triggers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: Page
          page_size_option:
            type: RequestOption
            field_name: PageSize
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 0
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: account_sid
              stream:
                $ref: "#/definitions/streams/Accounts"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_created
              value: '{% set formatted_datetime = format_datetime(record["date_created"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - date_updated
              value: '{% set formatted_datetime = format_datetime(record["date_updated"], "%Y-%m-%dT%H:%M:%SZ", "%a, %d %b %Y %H:%M:%S %z") %}{{ formatted_datetime }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - current_value
              value: '{% set current_value = record["current_value"] | float %}{{ current_value }}'
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - trigger_value
              value: '{% set trigger_value = record["trigger_value"] | float %}{{ trigger_value }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Usage Triggers"
    Conversations:
      type: DeclarativeStream
      name: conversations
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://conversations.twilio.com/v1/Conversations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - conversations
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Conversations"
    Conversation Participants:
      type: DeclarativeStream
      name: conversation_participants
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://conversations.twilio.com/v1/Conversations/{{
            stream_partition.conversation_sid }}/Participants
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - participants
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: conversation_sid
              stream:
                $ref: "#/definitions/streams/Conversations"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Conversation Participants"
    Conversation Messages:
      type: DeclarativeStream
      name: conversation_messages
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://conversations.twilio.com/v1/Conversations/{{
            stream_partition.conversation_sid }}/Messages
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - messages
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: conversation_sid
              stream:
                $ref: "#/definitions/streams/Conversations"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Conversation Messages"
    Users:
      type: DeclarativeStream
      name: users
      primary_key:
        - sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: https://conversations.twilio.com/v1/Users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Users"
    User Conversations:
      type: DeclarativeStream
      name: user_conversations
      primary_key:
        - conversation_sid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            https://conversations.twilio.com/v1/Users/{{
            stream_partition.user_sid }}/Conversations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - conversations
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: sid
              partition_field: user_sid
              stream:
                $ref: "#/definitions/streams/Users"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/User Conversations"

streams:
  - $ref: "#/definitions/streams/Accounts"
  - $ref: "#/definitions/streams/Addresses"
  - $ref: "#/definitions/streams/Available Phone Number Countries"
  - $ref: "#/definitions/streams/Available Phone Numbers Local"
  - $ref: "#/definitions/streams/Available Phone Numbers Mobile"
  - $ref: "#/definitions/streams/Available Phone Numbers Toll-Free"
  - $ref: "#/definitions/streams/Incoming Phone Numbers"
  - $ref: "#/definitions/streams/Keys"
  - $ref: "#/definitions/streams/Flows"
  - $ref: "#/definitions/streams/Step"
  - $ref: "#/definitions/streams/Alerts"
  - $ref: "#/definitions/streams/Applications"
  - $ref: "#/definitions/streams/Dependent Phone Numbers"
  - $ref: "#/definitions/streams/Calls"
  - $ref: "#/definitions/streams/Conferences"
  - $ref: "#/definitions/streams/Conference Participants"
  - $ref: "#/definitions/streams/Executions"
  - $ref: "#/definitions/streams/Outgoing Caller Ids"
  - $ref: "#/definitions/streams/Recordings"
  - $ref: "#/definitions/streams/Services"
  - $ref: "#/definitions/streams/Verify Services"
  - $ref: "#/definitions/streams/Roles"
  - $ref: "#/definitions/streams/Transcriptions"
  - $ref: "#/definitions/streams/Trunks"
  - $ref: "#/definitions/streams/Queues"
  - $ref: "#/definitions/streams/Messages"
  - $ref: "#/definitions/streams/Message Media"
  - $ref: "#/definitions/streams/Usage Records"
  - $ref: "#/definitions/streams/Usage Triggers"
  - $ref: "#/definitions/streams/Conversations"
  - $ref: "#/definitions/streams/Conversation Participants"
  - $ref: "#/definitions/streams/Conversation Messages"
  - $ref: "#/definitions/streams/Users"
  - $ref: "#/definitions/streams/User Conversations"

spec:
  type: Spec
  additionalProperties: true
  documentation_url: https://docs.airbyte.com/integrations/sources/twilio
  supported_destination_sync_modes:
    - append
  supportsIncremental: true
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - account_sid
      - auth_token
      - start_date
    title: Twilio Spec
    properties:
      account_sid:
        airbyte_secret: true
        description: Twilio account SID
        order: 1
        title: Account ID
        type: string
      auth_token:
        airbyte_secret: true
        description: Twilio Auth Token.
        order: 2
        title: Auth Token
        type: string
      lookback_window:
        default: 0
        description: How far into the past to look for records. (in minutes)
        examples:
          - 60
        maximum: 576000
        minimum: 0
        order: 4
        title: Lookback window
        type: integer
      start_date:
        description:
          UTC date and time in the format 2020-10-01T00:00:00Z. Any data
          before this date will not be replicated.
        examples:
          - "2020-10-01T00:00:00Z"
        format: date-time
        order: 3
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        title: Replication Start Date
        type: string

metadata:
  autoImportSchema:
    Accounts: false
    Addresses: false
    Available Phone Number Countries: false
    Available Phone Numbers Local: false
    Available Phone Numbers Mobile: false
    Available Phone Numbers Toll-Free: false
    Incoming Phone Numbers: false
    Keys: false
    Flows: false
    Step: false
    Alerts: false
    Applications: false
    Dependent Phone Numbers: false
    Calls: false
    Conferences: false
    Conference Participants: false
    Executions: false
    Outgoing Caller Ids: false
    Recordings: false
    Services: false
    Verify Services: false
    Roles: false
    Transcriptions: false
    Trunks: false
    Queues: false
    Messages: false
    Message Media: false
    Usage Records: false
    Usage Triggers: false
    Conversations: false
    Conversation Participants: false
    Conversation Messages: false
    Users: false
    User Conversations: false

schemas:
  Accounts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      auth_token:
        description: The authentication token for the account
        type:
          - "null"
          - string
      date_created:
        description: The timestamp when the account was created
        format: date-time
        type:
          - "null"
          - string
      date_updated:
        description: The timestamp when the account was last updated
        format: date-time
        type:
          - "null"
          - string
      friendly_name:
        description: A user-defined friendly name for the account
        type:
          - "null"
          - string
      owner_account_sid:
        description: The SID of the owner account
        type:
          - "null"
          - string
      sid:
        description: The unique identifier for the account
        type:
          - "null"
          - string
      status:
        description: The current status of the account
        type:
          - "null"
          - string
      subresource_uris:
        additionalProperties: true
        description: URIs for accessing various subresources related to the account
        properties:
          addresses:
            type:
              - "null"
              - string
          applications:
            type:
              - "null"
              - string
          authorized_connect_apps:
            type:
              - "null"
              - string
          available_phone_numbers:
            type:
              - "null"
              - string
          balance:
            type:
              - "null"
              - string
          calls:
            type:
              - "null"
              - string
          conferences:
            type:
              - "null"
              - string
          connect_apps:
            type:
              - "null"
              - string
          incoming_phone_numbers:
            type:
              - "null"
              - string
          keys:
            type:
              - "null"
              - string
          messages:
            type:
              - "null"
              - string
          notifications:
            type:
              - "null"
              - string
          outgoing_caller_ids:
            type:
              - "null"
              - string
          queues:
            type:
              - "null"
              - string
          recordings:
            type:
              - "null"
              - string
          short_codes:
            type:
              - "null"
              - string
          signing_keys:
            type:
              - "null"
              - string
          sip:
            type:
              - "null"
              - string
          transcriptions:
            type:
              - "null"
              - string
          usage:
            type:
              - "null"
              - string
        type:
          - "null"
          - object
      type:
        description: The type of the account
        type:
          - "null"
          - string
      uri:
        description: The URI for accessing the account resource
        type:
          - "null"
          - string
        required:
          - sid
  Addresses:
    type: object
    additionalProperties: true
    properties:
      account_sid:
        description: The unique identifier of the account associated with this address.
        type:
          - "null"
          - string
      city:
        description: The city of the address.
        type:
          - "null"
          - string
      customer_name:
        description: The name of the customer associated with this address.
        type:
          - "null"
          - string
      date_created:
        description: The date and time when the address was created.
        format: date-time
        type:
          - "null"
          - string
      date_updated:
        description: The date and time when the address was last updated.
        format: date-time
        type:
          - "null"
          - string
      emergency_enabled:
        description: Indicates whether emergency services are enabled for this address.
        type:
          - "null"
          - boolean
      friendly_name:
        description: A friendly name or label for the address.
        type:
          - "null"
          - string
      iso_country:
        description: The ISO 3166-1 alpha-2 country code of the address.
        type:
          - "null"
          - string
      postal_code:
        description: The postal code of the address.
        type:
          - "null"
          - string
      region:
        description: The region or state of the address.
        type:
          - "null"
          - string
      sid:
        description: The unique identifier of the address.
        type:
          - "null"
          - string
      street:
        description: The street address.
        type:
          - "null"
          - string
      street_secondary:
        description: Additional information about the street address, such as suite number.
        type:
          - "null"
          - string
      uri:
        description: The URI of the address resource.
        type:
          - "null"
          - string
      validated:
        description: Indicates whether the address has been validated.
        type:
          - "null"
          - boolean
      verified:
        description: Indicates whether the address has been verified.
        type:
          - "null"
          - boolean
        required:
          - sid
  Available Phone Number Countries:
    type: object
    additionalProperties: true
    properties:
      beta:
        description: Whether the phone number country data is in beta phase or not.
        type:
          - "null"
          - boolean
      country:
        description: The name of the country for which phone number data is provided.
        type:
          - "null"
          - string
      country_code:
        description: The country code associated with the country.
        type:
          - "null"
          - string
      subresource_uris:
        additionalProperties: true
        description: URIs for accessing different types of phone numbers in the country.
        properties:
          local:
            description: URI for fetching local phone numbers in the country.
            type:
              - "null"
              - string
          mobile:
            description: URI for fetching mobile phone numbers in the country.
            type:
              - "null"
              - string
          toll_free:
            description: URI for fetching toll-free phone numbers in the country.
            type:
              - "null"
              - string
        type:
          - "null"
          - object
      uri:
        description: The URI to fetch more details about phone numbers in the country.
        type:
          - "null"
          - string
  Available Phone Numbers Local:
    type: object
    additionalProperties: true
    properties:
      address_requirements:
        description:
          The requirements related to the address associated with the phone
          number
        type:
          - "null"
          - string
      beta:
        description: Indicator showing if the phone number is in beta testing
        type:
          - "null"
          - boolean
      capabilities:
        additionalProperties: true
        description: Object containing the capabilities of the available phone number
        properties:
          MMS:
            description: Capability for Multimedia Messaging Service
            type:
              - "null"
              - boolean
          SMS:
            description: Capability for Short Message Service (Texting)
            type:
              - "null"
              - boolean
          fax:
            description: Capability for Facsimile (Faxing)
            type:
              - "null"
              - boolean
          voice:
            description: Capability for Voice calls
            type:
              - "null"
              - boolean
        type:
          - "null"
          - object
      friendly_name:
        description: A user-friendly nickname for the phone number
        type:
          - "null"
          - string
      iso_country:
        description: ISO country code of the phone number
        type:
          - "null"
          - string
      lata:
        description: Local access and transport area code for the phone number
        type:
          - "null"
          - string
      latitude:
        description: Latitude coordinate of the phone number's location
        type:
          - "null"
          - string
      locality:
        description: Locality or city associated with the phone number
        type:
          - "null"
          - string
      longitude:
        description: Longitude coordinate of the phone number's location
        type:
          - "null"
          - string
      phone_number:
        description: The phone number itself
        type:
          - "null"
          - string
      postal_code:
        description: Postal code of the phone number's location
        type:
          - "null"
          - string
      rate_center:
        description: Rate center for the phone number
        type:
          - "null"
          - string
      region:
        description: Region or state associated with the phone number
        type:
          - "null"
          - string
  Available Phone Numbers Mobile:
    type: object
    additionalProperties: true
    properties:
      address_requirements:
        description: Address requirements for purchasing the phone number
        type:
          - "null"
          - string
      beta:
        description: Indicates if the phone number is in beta testing phase
        type:
          - "null"
          - boolean
      capabilities:
        additionalProperties: true
        description:
          Represents the capabilities of the available mobile phone numbers
          such as SMS and voice services
        properties:
          MMS:
            description: Indicates if MMS messaging is supported
            type:
              - "null"
              - boolean
          SMS:
            description: Indicates if SMS messaging is supported
            type:
              - "null"
              - boolean
          fax:
            description: Indicates if fax capability is available
            type:
              - "null"
              - boolean
          voice:
            description: Indicates if voice calling capability is available
            type:
              - "null"
              - boolean
        type:
          - "null"
          - object
      friendly_name:
        description: A user-friendly name for the phone number
        type:
          - "null"
          - string
      iso_country:
        description: The ISO country code for the phone number
        type:
          - "null"
          - string
      lata:
        description: Local access and transport area code
        type:
          - "null"
          - string
      latitude:
        description: Latitude coordinate of the phone number's location
        type:
          - "null"
          - string
      locality:
        description: Locality or city where the phone number is based
        type:
          - "null"
          - string
      longitude:
        description: Longitude coordinate of the phone number's location
        type:
          - "null"
          - string
      phone_number:
        description: The phone number in E.164 format
        type:
          - "null"
          - string
      postal_code:
        description: Postal code of the phone number's area
        type:
          - "null"
          - string
      rate_center:
        description: Rate center associated with the phone number
        type:
          - "null"
          - string
      region:
        description: Region or state where the phone number is located
        type:
          - "null"
          - string
  Available Phone Numbers Toll-Free:
    type: object
    additionalProperties: true
    properties:
      address_requirements:
        description:
          Specifies the requirements related to the address associated with
          the phone number.
        type:
          - "null"
          - string
      beta:
        description: Indicates if the phone number is in beta testing phase.
        type:
          - "null"
          - boolean
      capabilities:
        additionalProperties: true
        description: Represents the capabilities of the toll-free phone numbers available
        properties:
          MMS:
            description: Indicates if the phone number supports Multimedia Messaging Service.
            type:
              - "null"
              - boolean
          SMS:
            description:
              Indicates if the phone number supports Short Message Service
              (text messaging).
            type:
              - "null"
              - boolean
          fax:
            description: Indicates if the phone number supports fax communication.
            type:
              - "null"
              - boolean
          voice:
            description: Indicates if the phone number supports voice calls.
            type:
              - "null"
              - boolean
        type:
          - "null"
          - object
      friendly_name:
        description: A user-friendly name associated with the phone number for easy identification.
        type:
          - "null"
          - string
      iso_country:
        description: The ISO country code of the phone number's location.
        type:
          - "null"
          - string
      lata:
        description: The Local Access and Transport Area code of the phone number's location.
        type:
          - "null"
          - string
      latitude:
        description: The latitude coordinate of the phone number's location.
        type:
          - "null"
          - string
      locality:
        description: The locality (city/town) where the phone number is located.
        type:
          - "null"
          - string
      longitude:
        description: The longitude coordinate of the phone number's location.
        type:
          - "null"
          - string
      phone_number:
        description: The toll-free phone number that can be used for communication.
        type:
          - "null"
          - string
      postal_code:
        description: The postal code of the phone number's location.
        type:
          - "null"
          - string
      rate_center:
        description: The rate center associated with the phone number.
        type:
          - "null"
          - string
      region:
        description: The region (state/province) where the phone number is located.
        type:
          - "null"
          - string
  Incoming Phone Numbers:
    type: object
    additionalProperties: true
    properties:
      account_sid:
        description: The SID of the account that owns this phone number.
        type:
          - "null"
          - string
      address_requirements:
        description: Indicates the address requirements for this phone number.
        type:
          - "null"
          - string
      address_sid:
        description: The SID of the address associated with this phone number.
        type:
          - "null"
          - string
      api_version:
        description: The version of the Twilio API being used for this phone number.
        type:
          - "null"
          - string
      beta:
        description: Flag indicating beta status of this phone number.
        type:
          - "null"
          - boolean
      bundle_sid:
        description: The SID of the bundle associated with this phone number.
        type:
          - "null"
          - string
      capabilities:
        additionalProperties: true
        description: Capabilities of this phone number.
        properties:
          fax:
            description: Capability for faxing.
            type:
              - "null"
              - boolean
          mms:
            description: Capability for sending and receiving MMS messages.
            type:
              - "null"
              - boolean
          sms:
            description: Capability for sending and receiving SMS messages.
            type:
              - "null"
              - boolean
          voice:
            description: Capability for making and receiving voice calls.
            type:
              - "null"
              - boolean
        type:
          - "null"
          - object
      date_created:
        description: The date and time when this phone number was created.
        format: date-time
        type:
          - "null"
          - string
      date_updated:
        description: The date and time when this phone number was last updated.
        format: date-time
        type:
          - "null"
          - string
      emergency_address_sid:
        description: The SID of the emergency address associated with this phone number.
        type:
          - "null"
          - string
      emergency_address_status:
        description: Status of the emergency address associated with this phone number.
        type:
          - "null"
          - string
      emergency_status:
        description: Emergency status of this phone number.
        type:
          - "null"
          - string
      friendly_name:
        description: A user-assigned friendly name for this phone number.
        type:
          - "null"
          - string
      identity_sid:
        description: The SID of the identity associated with this phone number.
        type:
          - "null"
          - string
      origin:
        description: Indicates the origin of this phone number.
        type:
          - "null"
          - string
      phone_number:
        description: The phone number.
        type:
          - "null"
          - string
      sid:
        description: The SID of this phone number.
        type:
          - "null"
          - string
      sms_application_sid:
        description:
          The SID of the application to handle incoming SMS messages for this
          phone number.
        type:
          - "null"
          - string
      sms_fallback_method:
        description: HTTP method to use when making requests to the sms_fallback_url.
        type:
          - "null"
          - string
      sms_fallback_url:
        description:
          URL to make requests to when an error occurs while processing an
          incoming SMS message.
        type:
          - "null"
          - string
      sms_method:
        description: HTTP method to use when making requests to the sms_url.
        type:
          - "null"
          - string
      sms_url:
        description: URL to make requests to when an incoming SMS message is received.
        type:
          - "null"
          - string
      status:
        description: Status of this phone number.
        type:
          - "null"
          - string
      status_callback:
        description:
          URL to make requests to when certain events happen related to this
          phone number.
        type:
          - "null"
          - string
      status_callback_method:
        description: HTTP method to use when making requests to the status_callback URL.
        type:
          - "null"
          - string
      subresource_uris:
        additionalProperties: true
        description: URIs for related sub-resources.
        properties:
          assigned_add_ons:
            description: URI for accessing assigned add-ons for this phone number.
            type:
              - "null"
              - string
        type:
          - "null"
          - object
      trunk_sid:
        description: The SID of the trunk associated with this phone number.
        type:
          - "null"
          - string
      uri:
        description: The URI of this phone number.
        type:
          - "null"
          - string
      voice_application_sid:
        description:
          The SID of the application to handle incoming voice calls for this
          phone number.
        type:
          - "null"
          - string
      voice_caller_id_lookup:
        description: Caller ID lookup setting for voice calls made from this phone number.
        type:
          - "null"
          - boolean
      voice_fallback_method:
        description: HTTP method to use when making requests to the voice_fallback_url.
        type:
          - "null"
          - string
      voice_fallback_url:
        description:
          URL to make requests to when an error occurs while processing an
          incoming voice call.
        type:
          - "null"
          - string
      voice_method:
        description: HTTP method to use when making requests to the voice_url.
        type:
          - "null"
          - string
      voice_receive_mode:
        description: Receive mode setting for this phone number.
        type:
          - "null"
          - string
      voice_url:
        description: URL to make requests to when an incoming voice call is received.
        type:
          - "null"
          - string
  Keys:
    type: object
    additionalProperties: true
    properties:
      date_created:
        description: The date and time when the key was created.
        format: date-time
        type:
          - "null"
          - string
      date_updated:
        description: The date and time when the key was last updated.
        format: date-time
        type:
          - "null"
          - string
      friendly_name:
        description: The user-friendly name associated with the key.
        type:
          - "null"
          - string
      sid:
        description: The unique identifier for the key (System ID).
        type:
          - "null"
          - string
  Flows:
    type: object
    additionalProperties: true
    properties:
      account_sid:
        description: Unique identifier for the account associated with the flow.
        type:
          - "null"
          - string
      date_created:
        description: Date and time when the flow was created.
        format: date-time
        type:
          - "null"
          - string
      date_updated:
        description: Date and time when the flow was last updated.
        format: date-time
        type:
          - "null"
          - string
      friendly_name:
        description: A user-friendly name given to the flow.
        type:
          - "null"
          - string
      links:
        additionalProperties: true
        description: Represents links related to the flow data.
        properties:
          steps:
            description: Link to the steps included in the flow.
            type:
              - "null"
              - string
        type:
          - "null"
          - object
      sid:
        description: Unique identifier for the flow.
        type:
          - "null"
          - string
      status:
        description: Status of the flow (e.g., active, inactive).
        enum:
          - published
          - draft
        type:
          - string
          - "null"
      url:
        description: URL endpoint for the flow.
        type:
          - "null"
          - string
      version:
        description: Version number of the flow.
        type:
          - "null"
          - integer
  Step:
    type: object
    additionalProperties: true
    properties:
      account_sid:
        description: The SID of the account associated with the step data.
        type:
          - "null"
          - string
      context:
        description: Additional context or metadata related to the step.
        type:
          - "null"
          - string
      date_created:
        description: The date and time when the step was created.
        type:
          - "null"
          - string
      date_updated:
        description: The date and time when the step was last updated.
        type:
          - "null"
          - string
      execution_sid:
        description: The SID of the execution this step belongs to.
        type:
          - "null"
          - string
      flow_sid:
        description: The SID of the flow to which this step belongs.
        type:
          - "null"
          - string
      links:
        description: Contains related hypermedia links to navigate through the step data.
        properties:
          step_context:
            description: Link to additional contextual information related to the step.
            type:
              - "null"
              - string
        type:
          - "null"
          - object
      name:
        description: The name or identifier of the step.
        type:
          - "null"
          - string
      parent_step_sid:
        description:
          The SID of the parent step if this step is nested within another
          step.
        type:
          - "null"
          - string
      sid:
        description: The unique identifier (SID) of the step.
        type:
          - "null"
          - string
      transitioned_from:
        description: The previous state from which the step transitioned.
        type:
          - "null"
          - string
      transitioned_to:
        description: The state to which the step transitioned.
        type:
          - "null"
          - string
      url:
        description: The URL for accessing detailed information about the step.
        type:
          - "null"
          - string
  Alerts:
    type: object
    additionalProperties: true
    properties:
      account_sid:
        description: The unique identifier for the account associated with the alert
        type:
          - "null"
          - string
      alert_text:
        description: The actual content or text of the alert message
        type:
          - "null"
          - string
      api_version:
        description: The version of the Twilio API used for the alert
        type:
          - "null"
          - string
      date_created:
        description: The date and time when the alert was created
        format: date-time
        type:
          - "null"
          - string
      date_generated:
        description: The date and time when the alert data was generated
        format: date-time
        type:
          - "null"
          - string
      date_updated:
        description: The date and time when the alert was last updated
        format: date-time
        type:
          - "null"
          - string
      error_code:
        description: The code representing the error, if an error occurred
        type:
          - "null"
          - string
      log_level:
        description: The severity level of the alert (info, warning, error)
        type:
          - "null"
          - string
      more_info:
        description: Additional information or details related to the alert
        type:
          - "null"
          - string
      request_method:
        description: The method used in the HTTP request that triggered the alert
        type:
          - "null"
          - string
      request_url:
        description: The URL that was requested and triggered the alert
        type:
          - "null"
          - string
      resource_sid:
        description: The SID of the specific resource associated with the alert
        type:
          - "null"
          - string
      service_sid:
        description: The SID of the Twilio service related to the alert
        type:
          - "null"
          - string
      sid:
        description: The unique identifier (SID) for the alert entry
        type:
          - "null"
          - string
      url:
        description: The URL or endpoint related to the alert
        type:
          - "null"
          - string
  Applications:
    type: object
    additionalProperties: true
    properties:
      account_sid:
        description: The unique identifier of the Twilio account associated with the application.
        type:
          - "null"
          - string
      api_version:
        description: The version of the Twilio API being used for the application.
        type:
          - "null"
          - string
      date_created:
        description: The date and time when the application was created.
        format: date-time
        type:
          - "null"
          - string
      date_updated:
        description: The date and time when the application was last updated.
        format: date-time
        type:
          - "null"
          - string
      friendly_name:
        description: A user-friendly name assigned to the application for identification.
        type:
          - "null"
          - string
      message_status_callback:
        description: The URL where status updates for outgoing messages will be sent.
        type:
          - "null"
          - string
      public_application_connect_enabled:
        description: Indicates whether public application connect is enabled for the application.
        type:
          - "null"
          - boolean
      sid:
        description: A unique identifier for the application.
        type:
          - "null"
          - string
      sms_fallback_method:
        description:
          The HTTP method used to send a fallback URL if an error occurs during
          SMS delivery.
        type:
          - "null"
          - string
      sms_fallback_url:
        description: The URL that Twilio will request if an error occurs during SMS delivery.
        type:
          - "null"
          - string
      sms_method:
        description: The HTTP method used to send SMS messages for the application.
        type:
          - "null"
          - string
      sms_status_callback:
        description: The URL where status updates for incoming SMS messages will be sent.
        type:
          - "null"
          - string
      sms_url:
        description: The URL that Twilio will request when receiving an incoming SMS message.
        type:
          - "null"
          - string
      status_callback:
        description: The URL where status updates for calls will be sent.
        type:
          - "null"
          - string
      status_callback_method:
        description: The HTTP method used to send status updates for calls.
        type:
          - "null"
          - string
      uri:
        description: The URI of the application resource.
        type:
          - "null"
          - string
      voice_caller_id_lookup:
        description:
          Indicates whether or not caller ID information will be looked up
          for incoming calls.
        type:
          - "null"
          - boolean
      voice_fallback_method:
        description:
          The HTTP method used to send a fallback URL if an error occurs during
          voice call handling.
        type:
          - "null"
          - string
      voice_fallback_url:
        description:
          The URL that Twilio will request if an error occurs during voice
          call handling.
        type:
          - "null"
          - string
      voice_method:
        description: The HTTP method used for voice call handling.
        type:
          - "null"
          - string
      voice_url:
[...]
