version: 7.10.0

type: DeclarativeSource

description: "Documentation: https://uk.castoredc.com/api#/"

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 2

check:
  type: CheckStream
  stream_names:
    - user

definitions:
  linked:
    HttpRequester:
      url_base: https://{{ config['url_region'] }}.castoredc.com/api/
      authenticator:
        type: OAuthAuthenticator
        client_id: "{{ config[\"client_id\"] }}"
        grant_type: client_credentials
        client_secret: "{{ config[\"client_secret\"] }}"
        refresh_request_body: {}
        token_refresh_endpoint: https://{{ config['url_region'] }}.castoredc.com/oauth/token
      error_handler:
        type: CompositeErrorHandler
        error_handlers:
          - type: DefaultErrorHandler
            max_retries: 15
            response_filters:
              - type: HttpResponseFilter
                action: RATE_LIMITED
                http_codes:
                  - 429
                error_message: Rate limits has been hit
              - type: HttpResponseFilter
                action: IGNORE
                http_codes:
                  - 404
            backoff_strategies:
              - type: WaitUntilTimeFromHeader
                header: X-RateLimit-Retry-After
              - type: WaitTimeFromHeader
                header: Retry-After
              - type: ExponentialBackoffStrategy
                factor: 5
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 50
          start_from_page: 1
          inject_on_first_request: true

streams:
  - type: DeclarativeStream
    name: user
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        path: user
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - _embedded
            - user
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - last_login
        properties:
          id:
            type: string
          _links:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          user_id:
            type:
              - string
              - "null"
          entity_id:
            type:
              - string
              - "null"
          full_name:
            type:
              - string
              - "null"
          name_last:
            type:
              - string
              - "null"
          last_login:
            type: string
          name_first:
            type:
              - string
              - "null"
          email_address:
            type:
              - string
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: last_login
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d %H:%M:%S"
      cursor_datetime_formats:
        - "%Y-%m-%d %H:%M:%S"
  - type: DeclarativeStream
    name: study
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        path: study
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - _embedded
            - study
        record_filter:
          condition: "{{ not config.get('study_id') or record['study_id'] == config['study_id'] or record['crf_id'] == config['study_id'] }}"
    primary_key:
      - crf_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - crf_id
          - created_on
        properties:
          version:
            type:
              - string
              - "null"
          live:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          crf_id:
            type: string
          domain:
            type:
              - string
              - "null"
          duration:
            type:
              - number
              - "null"
          study_id:
            type:
              - string
              - "null"
          created_by:
            type:
              - string
              - "null"
          created_on:
            type: string
          encryption:
            type:
              - boolean
              - "null"
          gcp_enabled:
            type:
              - boolean
              - "null"
          main_contact:
            type:
              - string
              - "null"
          first_live_on:
            type:
              - string
              - "null"
          surveys_enabled:
            type:
              - boolean
              - "null"
          expected_centers:
            type:
              - number
              - "null"
          expected_records:
            type:
              - number
              - "null"
          trial_registry_id:
            type:
              - string
              - "null"
          randomization_enabled:
            type:
              - boolean
              - "null"
          premium_support_enabled:
            type:
              - boolean
              - "null"
          on_site_epro_mode_enabled:
            type:
              - boolean
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: created_on
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d %H:%M:%S"
      cursor_datetime_formats:
        - "%Y-%m-%d %H:%M:%S"
  - type: DeclarativeStream
    name: participant
    primary_key:
      - participant_id
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: "study/{{ stream_partition['study_id'] }}/participant"
        http_method: GET
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - _embedded
            - participants
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/1"
            parent_key: study_id
            partition_field: study_id
    transformations:
      - type: AddFields
        fields:
          - path:
              - study_id
            value: "{{ stream_partition['study_id'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - participant_id
        properties:
          id:
            type: string
          participant_id:
            type: string
          ccr_patient_id:
            type: ["string", "null"]
          participant_status:
            type: ["string", "null"]
          progress:
            type: ["string", "null"]
          locked:
            type: ["boolean", "null"]
          status:
            type: ["string", "null"]
          archived:
            type: ["boolean", "null"]
          created_by:
            type: ["string", "null"]
          created_on:
            type: ["object", "null"]
            properties:
              date:
                type: ["string", "null"]
              timezone:
                type: ["string", "null"]
              timezone_type:
                type: ["integer", "null"]
          updated_by:
            type: ["string", "null"]
          updated_on:
            type: ["object", "null"]
            properties:
              date:
                type: ["string", "null"]
              timezone:
                type: ["string", "null"]
              timezone_type:
                type: ["integer", "null"]
          mobile_ui_version:
            type: ["string", "null"]
          mobile_my_details_enabled:
            type: ["boolean", "null"]
          randomized_id:
            type: ["string", "null"]
          randomization_group:
            type: ["string", "null"]
          randomization_group_name:
            type: ["string", "null"]
          randomized_on:
            type: ["string", "null"]
  - type: DeclarativeStream
    name: country
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        path: country
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: string
          country_id:
            type:
              - string
              - "null"
          country_tld:
            type:
              - string
              - "null"
          country_cca2:
            type:
              - string
              - "null"
          country_cca3:
            type:
              - string
              - "null"
          country_name:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: study_survey
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: study/{{ stream_partition['study_id'] }}/survey
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - _embedded
            - surveys
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/1"
            parent_key: study_id
            partition_field: study_id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          description:
            type:
              - string
              - "null"
          id:
            type: string
          name:
            type:
              - string
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          survey_id:
            type:
              - string
              - "null"
          intro_text:
            type:
              - string
              - "null"
          outro_text:
            type:
              - string
              - "null"
          footer_text:
            type:
              - string
              - "null"
          survey_forms:
            type:
              - array
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: study_survey_package
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: study/{{ stream_partition['study_id'] }}/survey-package
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - _embedded
            - survey_packages
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/1"
            parent_key: study_id
            partition_field: study_id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          description:
            type:
              - string
              - "null"
          id:
            type: string
          name:
            type:
              - string
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          _embedded:
            type:
              - object
              - "null"
            properties:
              surveys:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    description:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    _links:
                      type:
                        - object
                        - "null"
                      properties:
                        self:
                          type:
                            - object
                            - "null"
                          properties:
                            href:
                              type:
                                - string
                                - "null"
                    survey_id:
                      type:
                        - string
                        - "null"
                    intro_text:
                      type:
                        - string
                        - "null"
                    outro_text:
                      type:
                        - string
                        - "null"
                    survey_forms:
                      type:
                        - array
                        - "null"
          as_needed:
            type:
              - boolean
              - "null"
          auto_send:
            type:
              - boolean
              - "null"
          is_mobile:
            type:
              - boolean
              - "null"
          finish_url:
            type:
              - string
              - "null"
          intro_text:
            type:
              - string
              - "null"
          outro_text:
            type:
              - string
              - "null"
          is_training:
            type:
              - boolean
              - "null"
          sender_name:
            type:
              - string
              - "null"
          is_resumable:
            type:
              - boolean
              - "null"
          sender_email:
            type:
              - string
              - "null"
          is_repeatable:
            type:
              - boolean
              - "null"
          field_pagination:
            type:
              - string
              - "null"
          survey_package_id:
            type:
              - string
              - "null"
          default_invitation:
            type:
              - string
              - "null"
          auto_lock_on_finish:
            type:
              - boolean
              - "null"
          show_step_navigator:
            type:
              - boolean
              - "null"
          allow_step_navigation:
            type:
              - boolean
              - "null"
          allow_open_survey_link:
            type:
              - boolean
              - "null"
          default_invitation_subject:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: study_site
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: study/{{ stream_partition['study_id'] }}/site
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - _embedded
            - sites
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/1"
            parent_key: study_id
            partition_field: study_id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: string
          code:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          order:
            type:
              - number
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          deleted:
            type:
              - boolean
              - "null"
          site_id:
            type:
              - string
              - "null"
          country_id:
            type:
              - number
              - "null"
          date_format:
            type:
              - string
              - "null"
          abbreviation:
            type:
              - string
              - "null"
          date_display_format:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: study_fields
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: study/{{ stream_partition['study_id'] }}/field
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - _embedded
            - fields
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/1"
            parent_key: study_id
            partition_field: study_id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: string
          _links:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          field_id:
            type:
              - string
              - "null"
          field_max:
            type:
              - number
              - "null"
          field_min:
            type:
              - number
              - "null"
          parent_id:
            type:
              - string
              - "null"
          report_id:
            type:
              - string
              - "null"
          field_info:
            type:
              - string
              - "null"
          field_type:
            type:
              - string
              - "null"
          field_image:
            type:
              - string
              - "null"
          field_label:
            type:
              - string
              - "null"
          field_units:
            type:
              - string
              - "null"
          validations:
            type:
              - array
              - "null"
          field_hidden:
            type:
              - number
              - "null"
          field_length:
            type:
              - number
              - "null"
          field_number:
            type:
              - number
              - "null"
          field_required:
            type:
              - number
              - "null"
          field_max_label:
            type:
              - string
              - "null"
          field_min_label:
            type:
              - string
              - "null"
          metadata_points:
            type:
              - array
              - "null"
          additional_config:
            type:
              - string
              - "null"
          field_slider_step:
            type:
              - string
              - "null"
          dependency_parents:
            type:
              - array
              - "null"
          dependency_children:
            type:
              - array
              - "null"
          field_variable_name:
            type:
              - string
              - "null"
          exclude_on_data_export:
            type:
              - boolean
              - "null"
          field_summary_template:
            type:
              - string
              - "null"
          randomize_option_order:
            type:
              - boolean
              - "null"
          field_slider_step_value:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: study_field_dependency
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: study/{{ stream_partition['study_id'] }}/field-dependency
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - _embedded
            - fieldDependencies
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/1"
            parent_key: study_id
            partition_field: study_id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: number
          value:
            type:
              - string
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          child_id:
            type:
              - string
              - "null"
          operator:
            type:
              - string
              - "null"
          parent_id:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: study_field_validation
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: study/{{ stream_partition['study_id'] }}/field-validation
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - _embedded
            - fieldValidations
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/1"
            parent_key: study_id
            partition_field: study_id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: number
          text:
            type:
              - string
              - "null"
          value:
            type:
              - string
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          field_id:
            type:
              - string
              - "null"
          operator:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: study_form
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: study/{{ stream_partition['study_id'] }}/form
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - _embedded
            - forms
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/1"
            parent_key: study_id
            partition_field: study_id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: string
          _links:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          form_id:
            type:
              - string
              - "null"
          _embedded:
            type:
              - object
              - "null"
            properties:
              visit:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - string
                      - "null"
                  _links:
                    type:
                      - object
                      - "null"
                    properties:
                      self:
                        type:
                          - object
                          - "null"
                        properties:
                          href:
                            type:
                              - string
                              - "null"
                  visit_id:
                    type:
                      - string
                      - "null"
                  visit_name:
                    type:
                      - string
                      - "null"
                  visit_order:
                    type:
                      - number
                      - "null"
                  visit_number:
                    type:
                      - number
                      - "null"
          form_name:
            type:
              - string
              - "null"
          form_order:
            type:
              - number
              - "null"
          form_description:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: study_role
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: study/{{ stream_partition['study_id'] }}/role
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - _embedded
            - roles
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/1"
            parent_key: study_id
            partition_field: study_id
    primary_key:
      - uuid
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - uuid
        properties:
          description:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          uuid:
            type: string
          _links:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          permissions:
            type:
              - object
              - "null"
            properties:
              add:
                type:
                  - boolean
                  - "null"
              sdv:
                type:
                  - boolean
                  - "null"
              edit:
                type:
                  - boolean
                  - "null"
              lock:
                type:
                  - boolean
                  - "null"
              sign:
                type:
                  - boolean
                  - "null"
              view:
                type:
                  - boolean
                  - "null"
              query:
                type:
                  - boolean
                  - "null"
              delete:
                type:
                  - boolean
                  - "null"
              export:
                type:
                  - boolean
                  - "null"
              decrypt:
                type:
                  - boolean
                  - "null"
              encrypt:
                type:
                  - boolean
                  - "null"
              survey_send:
                type:
                  - boolean
                  - "null"
              survey_view:
                type:
                  - boolean
                  - "null"
              email_addresses:
                type:
                  - boolean
                  - "null"
              randomization_read:
                type:
                  - boolean
                  - "null"
              randomization_write:
                type:
                  - boolean
                  - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - uuid
            value: "{{ now_utc() }}"
  - type: DeclarativeStream
    name: study_fieldoption_groups
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: study/{{ stream_partition['study_id'] }}/field-optiongroup
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - _embedded
            - fieldOptionGroups
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/1"
            parent_key: study_id
            partition_field: study_id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          description:
            type:
              - string
              - "null"
          id:
            type: string
          name:
            type:
              - string
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          layout:
            type:
              - boolean
              - "null"
          options:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - string
                    - "null"
                groupOrder:
                  type:
                    - number
                    - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: study_statistics
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: study/{{ stream_partition['study_id'] }}/statistics
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/1"
            parent_key: study_id
            partition_field: study_id
    primary_key:
      - study_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - study_id
        properties:
          _links:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          records:
            type:
              - object
              - "null"
            properties:
              institutes:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    institute_id:
                      type:
                        - string
                        - "null"
                    record_count:
                      type:
                        - number
                        - "null"
                    institute_name:
                      type:
                        - string
                        - "null"
              total_count:
                type:
                  - number
                  - "null"
          study_id:
            type: string
        additionalProperties: true
  - type: DeclarativeStream
    name: study_user
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: study/{{ stream_partition['study_id'] }}/user
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - _embedded
            - studyUsers
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/1"
            parent_key: study_id
            partition_field: study_id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - last_login
        properties:
          id:
            type: string
          _links:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          user_id:
            type:
              - string
              - "null"
          entity_id:
            type:
              - string
              - "null"
          full_name:
            type:
              - string
              - "null"
          name_last:
            type:
              - string
              - "null"
          last_login:
            type: string
          name_first:
            type:
              - string
              - "null"
          email_address:
            type:
              - string
              - "null"
          role_assignments:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                role_id:
                  type:
                    - number
                    - "null"
                site_id:
                  type:
                    - string
                    - "null"
                role_name:
                  type:
                    - string
                    - "null"
          manage_permissions:
            type:
              - object
              - "null"
            properties:
              manage_form:
                type:
                  - boolean
                  - "null"
              manage_users:
                type:
                  - boolean
                  - "null"
              manage_records:
                type:
                  - boolean
                  - "null"
              manage_settings:
                type:
                  - boolean
                  - "null"
              manage_encryption:
                type:
                  - boolean
                  - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: last_login
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: date_to
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: date_from
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d %H:%M:%S"
        - "%Y-%m-%d %H:%M:%S.%f+00:00"
  - type: DeclarativeStream
    name: study_visit
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        path: study/{{ stream_partition['study_id'] }}/visit
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - _embedded
            - visits
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/1"
            parent_key: study_id
            partition_field: study_id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          id:
            type: string
          _links:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - object
                  - "null"
                properties:
                  href:
                    type:
                      - string
                      - "null"
          visit_id:
            type:
              - string
              - "null"
          visit_name:
            type:
              - string
              - "null"
          visit_order:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: field
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: study/{{ stream_partition['study_id'] }}/field
        http_method: GET
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          include: "metadata,validations,optiongroup,dependencies"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - _embedded
            - fields
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/1"
            parent_key: study_id
            partition_field: study_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        required:
          - id
        properties:
          id:
            type: string
          field_id:
            type: ["string", "null"]
          field_type:
            type: ["string", "null"]
          field_label:
            type: ["string", "null"]
          field_number:
            type: ["number", "null"]
          field_variable_name:
            type: ["string", "null"]
          field_required:
            type: ["number", "null"]
          field_enforce_decimals:
            type: ["number", "null"]
          field_hidden:
            type: ["number", "null"]
          field_info:
            type: ["string", "null"]
          field_units:
            type: ["string", "null"]
          field_length:
            type: ["number", "null"]
          field_slider_step:
            type: ["number", "null"]
          field_slider_step_value:
            type: ["number", "null"]
          field_image:
            type: ["string", "null"]
          parent_id:
            type: ["string", "null"]
          metadata_points:
            type: ["array", "null"]
          validations:
            type: ["array", "null"]
          option_group:
            type: ["object", "null"]
          randomize_option_order:
            type: ["boolean", "null"]
          domains:
            type: ["array", "null"]
          dependency_parents:
            type: ["array", "null"]
          dependency_children:
            type: ["array", "null"]
          _links:
            type: ["object", "null"]

  - type: DeclarativeStream
    name: study_data_points
    primary_key:
      - participant_id
      - field_id
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: "study/{{ stream_partition['study_id'] }}/data-points/study"
        http_method: GET
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          updated_after: "{{ config['start_date'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - _embedded
            - items
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/1"
            parent_key: study_id
            partition_field: study_id
    transformations:
      - type: AddFields
        fields:
          - path:
              - study_id
            value: "{{ stream_partition['study_id'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          study_id:
            type: ["string", "null"]
          participant_id:
            type: ["string", "null"]
          field_id:
            type: ["string", "null"]
          field_variable_name:
            type: ["string", "null"]
          field_label:
            type: ["string", "null"]
          field_value:
            type: ["string", "null"]
          value:
            type: ["string", "null"]
          updated_on:
            type: ["string", "null"]
          _links:
            type: ["object", "null"]
  - type: DeclarativeStream
    name: repeating_data_instances
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: "study/{{ stream_partition['study_id'] }}/repeating-data-instance"
        http_method: GET
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - _embedded
            - items
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/1"
            parent_key: study_id
            partition_field: study_id
    transformations:
      - type: AddFields
        fields:
          - path:
              - study_id
            value: "{{ stream_partition['study_id'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        required:
          - id
        properties:
          id:
            type: string
          study_id:
            type: ["string", "null"]
          name:
            type: ["string", "null"]
          status:
            type: ["string", "null"]
          created_on:
            type: ["string", "null"]
          updated_on:
            type: ["string", "null"]
          record_id:
            type: ["string", "null"]
          form_instance_id:
            type: ["string", "null"]
          _links:
            type: ["object", "null"]
  - type: DeclarativeStream
    name: repeating_data_points
    primary_key:
      - repeating_data_instance_id
      - field_id
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: "study/{{ stream_partition['study_id'] }}/data-points/repeating-data-instance"
        http_method: GET
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          updated_after: "{{ config['start_date'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - _embedded
            - items
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/1"
            parent_key: study_id
            partition_field: study_id
    transformations:
      - type: AddFields
        fields:
          - path:
              - study_id
            value: "{{ stream_partition['study_id'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          study_id:
            type: ["string", "null"]
          participant_id:
            type: ["string", "null"]
          repeating_data_instance_id:
            type: ["string", "null"]
          field_id:
            type: ["string", "null"]
          field_variable_name:
            type: ["string", "null"]
          field_label:
            type: ["string", "null"]
          field_value:
            type: ["string", "null"]
          value:
            type: ["string", "null"]
          updated_on:
            type: ["string", "null"]
          _links:
            type: ["object", "null"]

  - type: DeclarativeStream
    name: survey_data_points
    primary_key:
      - participant_id
      - field_id
      - survey_instance_id
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 1000
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: "study/{{ stream_partition['study_id'] }}/data-points/survey-instance"
        http_method: GET
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          updated_after: "{{ config['start_date'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - _embedded
            - items
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/1"
            parent_key: study_id
            partition_field: study_id
    transformations:
      - type: AddFields
        fields:
          - path:
              - study_id
            value: "{{ stream_partition['study_id'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          study_id:
            type: ["string", "null"]
          participant_id:
            type: ["string", "null"]
          field_id:
            type: ["string", "null"]
          survey_instance_id:
            type: ["string", "null"]
          survey_package_instance_id:
            type: ["string", "null"]
          field_variable_name:
            type: ["string", "null"]
          field_label:
            type: ["string", "null"]
          field_value:
            type: ["string", "null"]
          value:
            type: ["string", "null"]
          updated_on:
            type: ["string", "null"]
          _links:
            type: ["object", "null"]

  - type: DeclarativeStream
    name: study_participant_progress
    primary_key:
      - study_id
      - participant_id
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: "study/{{ stream_slice.extra_fields.study_id }}/participant-progress/{{ stream_partition['participant_id'] }}/visit"
        http_method: GET
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - _embedded
            - items
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/2"
            parent_key: participant_id
            partition_field: participant_id
            extra_fields:
              - ["study_id"]
    transformations:
      - type: AddFields
        fields:
          - path:
              - study_id
            value: "{{ stream_slice.extra_fields.study_id }}"
          - path:
              - participant_id
            value: "{{ stream_partition['participant_id'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          study_id:
            type: ["string", "null"]
          participant_id:
            type: ["string", "null"]
          visit_progress:
            type: ["array", "null"]
            items:
              type: object
              properties:
                visit_id:
                  type: ["string", "null"]
                visit_name:
                  type: ["string", "null"]
                visit_status:
                  type: ["string", "null"]
                visit_completion_date:
                  type: ["string", "null"]

  - type: DeclarativeStream
    name: study_participant_progress_forms
    primary_key:
      - study_id
      - participant_id
      - form_name
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 100
          start_from_page: 1
          inject_on_first_request: true
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: "study/{{ stream_partition['study_id'] }}/participant-progress/forms"
        http_method: GET
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/1"
            parent_key: study_id
            partition_field: study_id
    transformations:
      - type: AddFields
        fields:
          - path:
              - study_id
            value: "{{ stream_partition['study_id'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        additionalProperties: true
        properties:
          study_id:
            type: ["string", "null"]
          participant_id:
            type: ["string", "null"]
          form_name:
            type: ["string", "null"]
          progress:
            type: ["string", "null"]

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - url_region
      - client_id
      - client_secret
      - start_date
    properties:
      study_id:
        type: string
        description: "The study ID to sync (e.g. F034C516-752E-4272-B32B-C39CC94CFBE7). If left empty, all studies will be synced."
        order: 6
        title: Study ID
      client_id:
        type: string
        description: Visit `https://YOUR_REGION.castoredc.com/account/settings`
        order: 1
        title: Client ID
        airbyte_secret: true
      start_date:
        type: string
        order: 3
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      url_region:
        type: string
        description: The url region given at time of registration
        enum:
          - uk
          - nl
          - us
          - data
        order: 0
        title: URL Region
        default: uk
      client_secret:
        type: string
        description: Visit `https://YOUR_REGION.castoredc.com/account/settings`
        order: 2
        title: Client secret
        airbyte_secret: true
      client_access_token:
        type: string
        order: 5
        title: Access token
        airbyte_secret: true
      client_refresh_token:
        type: string
        order: 4
        title: Refresh token
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    user:
      isStale: false
      hasRecords: true
      streamHash: e4be83a47840afcbe60015a9fd79b8d6c24616cf
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    field:
      isStale: false
      hasRecords: false
      streamHash: 2cced0425a1cc9767144e31b24943e291017eb95
      hasResponse: false
      primaryKeysAreUnique: false
      primaryKeysArePresent: false
      responsesAreSuccessful: false
    study:
      isStale: false
      hasRecords: true
      streamHash: cda3dc65697bcd6a2c9dea70ad4d61b51d3ff8fc
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    country:
      hasRecords: true
      streamHash: 4edeb56b6fc5345cf63c7edc8677aec159b9a7fd
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    study_form:
      isStale: false
      hasRecords: true
      streamHash: 518f4a597570706f1f3fa82d36292fe5ca76fe53
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    study_role:
      hasRecords: true
      streamHash: 083cbdd8c959c981e563384f95d5d50e0a47415b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    study_site:
      isStale: false
      hasRecords: true
      streamHash: ac65798ee4cdfdbaa6d1ac3de01f6d21e09587d4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    study_user:
      hasRecords: true
      streamHash: 3628b2c81078905be23d8f2213c825ff65811587
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    audit_trial:
      hasRecords: true
      streamHash: 8e795e643c2cbd94f9086cc23768c9089c5cd0db
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    study_visit:
      hasRecords: true
      streamHash: 2eef3043f6f22b55f69e870eaa1c887c29c61eb6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    study_fields:
      hasRecords: true
      streamHash: 9bac3ca57ed2c96098ab751a2bb7e77c9e5fe2b9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    study_survey:
      isStale: false
      hasRecords: true
      streamHash: 5f8f118d1beac5199c31d3abe68bef68d7f2aa4a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    study_statistics:
      hasRecords: true
      streamHash: 48f4f4de6097cd64c524d3075733cc8ef83f4b93
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    study_survey_package:
      hasRecords: true
      streamHash: 5660ff42aa3c7ee93c08808f3f4c6c6b3151c694
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    study_field_dependency:
      hasRecords: true
      streamHash: dce6c36f9d7725f4d5436b6fe086a108238e016e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    study_field_validation:
      hasRecords: true
      streamHash: 901fab3a36c14137abad6d19a1bca6475ca062f5
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    study_fieldoption_groups:
      hasRecords: true
      streamHash: 05422c08007170811db015be8069f5b4f9306496
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    study_data_points:
      isStale: false
      hasRecords: false
      streamHash: ""
      hasResponse: false
      primaryKeysAreUnique: false
      primaryKeysArePresent: false
      responsesAreSuccessful: false
    repeating_data_instances:
      isStale: false
      hasRecords: false
      streamHash: ""
      hasResponse: false
      primaryKeysAreUnique: false
      primaryKeysArePresent: false
      responsesAreSuccessful: false
    repeating_data_points:
      isStale: false
      hasRecords: false
      streamHash: ""
      hasResponse: false
      primaryKeysAreUnique: false
      primaryKeysArePresent: false
      responsesAreSuccessful: false
    survey_data_points:
      isStale: false
      hasRecords: false
      streamHash: ""
      hasResponse: false
      primaryKeysAreUnique: false
      primaryKeysArePresent: false
      responsesAreSuccessful: false
    study_participant_progress:
      isStale: false
      hasRecords: false
      streamHash: ""
      hasResponse: false
      primaryKeysAreUnique: false
      primaryKeysArePresent: false
      responsesAreSuccessful: false
    study_participant_progress_forms:
      isStale: false
      hasRecords: false
      streamHash: ""
      hasResponse: false
      primaryKeysAreUnique: false
      primaryKeysArePresent: false
      responsesAreSuccessful: false
  autoImportSchema:
    user: true
    field: true
    study: true
    country: true
    study_form: true
    study_role: true
    study_site: true
    study_user: true
    audit_trial: true
    study_visit: true
    study_fields: true
    study_survey: true
    study_statistics: true
    study_survey_package: true
    study_field_dependency: true
    study_field_validation: true
    study_fieldoption_groups: true
    study_data_points: true
    repeating_data_instances: true
    repeating_data_points: true
    survey_data_points: true
    study_participant_progress: true
    study_participant_progress_forms: true
