version: 4.3.2

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - channel_annotations_a1

definitions:
  base_stream:
    type: DeclarativeStream
    retriever:
      type: AsyncRetriever
      creation_requester:
        $ref: "#/definitions/base_requester"
        path: jobs
        http_method: POST
      polling_requester:
        type: CustomRequester
        class_name: source_youtube_analytics.components.PollingRequester
        $ref: "#/definitions/base_requester"
        path: jobs
        http_method: GET
      status_extractor:
        type: DpathExtractor
        field_path:
          - status
      status_mapping:
        failed:
          - failed
        running:
          - pending
        timeout:
          - timeout
        completed:
          - ready
      urls_extractor:
        type: DpathExtractor
        field_path:
          - urls
      download_requester:
        $ref: "#/definitions/base_requester"
        path: "{{stream_slice.extra_fields['url']}}"
        http_method: GET
      decoder:
        type: GzipJsonDecoder
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []

  streams:
    channel_annotations_a1:
      $ref: "#/definitions/base_stream"
      name: channel_annotations_a1
      primary_key:
        - date
        - channel_id
        - video_id
        - live_or_on_demand
        - subscribed_status
        - country_code
        - annotation_type
        - annotation_id
      retriever:
        $ref: "#/definitions/base_stream/retriever"
        creation_requester:
          $ref: "#/definitions/base_stream/retriever/creation_requester"
          request_body_json:
            name: Airbyte reporting job
            reportTypeId: channel_annotations_a1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/channel_annotations_a1"
    channel_basic_a2:
      $ref: "#/definitions/base_stream"
      name: channel_basic_a2
      primary_key:
        - date
        - channel_id
        - video_id
        - live_or_on_demand
        - subscribed_status
        - country_code
      retriever:
        $ref: "#/definitions/base_stream/retriever"
        creation_requester:
          $ref: "#/definitions/base_stream/retriever/creation_requester"
          request_body_json:
            name: Airbyte reporting job
            reportTypeId: channel_basic_a2
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/channel_basic_a2"
    channel_cards_a1:
      $ref: "#/definitions/base_stream"
      name: channel_cards_a1
      primary_key:
        - date
        - channel_id
        - video_id
        - live_or_on_demand
        - subscribed_status
        - country_code
        - card_type
        - card_id
      retriever:
        $ref: "#/definitions/base_stream/retriever"
        creation_requester:
          $ref: "#/definitions/base_stream/retriever/creation_requester"
          request_body_json:
            name: Airbyte reporting job
            reportTypeId: channel_cards_a1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/channel_cards_a1"
    channel_combined_a2:
      $ref: "#/definitions/base_stream"
      name: channel_combined_a2
      primary_key:
        - date
        - channel_id
        - video_id
        - live_or_on_demand
        - subscribed_status
        - country_code
        - playback_location_type
        - traffic_source_type
        - device_type
        - operating_system
      retriever:
        $ref: "#/definitions/base_stream/retriever"
        creation_requester:
          $ref: "#/definitions/base_stream/retriever/creation_requester"
          request_body_json:
            name: Airbyte reporting job
            reportTypeId: channel_combined_a2
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/channel_combined_a2"
    channel_demographics_a1:
      $ref: "#/definitions/base_stream"
      name: channel_demographics_a1
      primary_key:
        - date
        - channel_id
        - video_id
        - live_or_on_demand
        - subscribed_status
        - country_code
        - age_group
        - gender
      retriever:
        $ref: "#/definitions/base_stream/retriever"
        creation_requester:
          $ref: "#/definitions/base_stream/retriever/creation_requester"
          request_body_json:
            name: Airbyte reporting job
            reportTypeId: channel_demographics_a1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/channel_demographics_a1"
    channel_device_os_a2:
      $ref: "#/definitions/base_stream"
      name: channel_device_os_a2
      primary_key:
        - date
        - channel_id
        - video_id
        - live_or_on_demand
        - subscribed_status
        - country_code
        - device_type
        - operating_system
      retriever:
        $ref: "#/definitions/base_stream/retriever"
        creation_requester:
          $ref: "#/definitions/base_stream/retriever/creation_requester"
          request_body_json:
            name: Airbyte reporting job
            reportTypeId: channel_device_os_a2
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/channel_device_os_a2"
    channel_end_screens_a1:
      $ref: "#/definitions/base_stream"
      name: channel_end_screens_a1
      primary_key:
        - date
        - channel_id
        - video_id
        - live_or_on_demand
        - subscribed_status
        - country_code
        - end_screen_element_type
        - end_screen_element_id
      retriever:
        $ref: "#/definitions/base_stream/retriever"
        creation_requester:
          $ref: "#/definitions/base_stream/retriever/creation_requester"
          request_body_json:
            name: Airbyte reporting job
            reportTypeId: channel_end_screens_a1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/channel_end_screens_a1"
    channel_playback_location_a2:
      $ref: "#/definitions/base_stream"
      name: channel_playback_location_a2
      primary_key:
        - date
        - channel_id
        - video_id
        - live_or_on_demand
        - subscribed_status
        - country_code
        - playback_location_type
        - playback_location_detail
      retriever:
        $ref: "#/definitions/base_stream/retriever"
        creation_requester:
          $ref: "#/definitions/base_stream/retriever/creation_requester"
          request_body_json:
            name: Airbyte reporting job
            reportTypeId: channel_playback_location_a2
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/channel_playback_location_a2"
    channel_province_a2:
      $ref: "#/definitions/base_stream"
      name: channel_province_a2
      primary_key:
        - date
        - channel_id
        - video_id
        - live_or_on_demand
        - subscribed_status
        - country_code
        - province_code
      retriever:
        $ref: "#/definitions/base_stream/retriever"
        creation_requester:
          $ref: "#/definitions/base_stream/retriever/creation_requester"
          request_body_json:
            name: Airbyte reporting job
            reportTypeId: channel_province_a2
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/channel_province_a2"
    channel_sharing_service_a1:
      $ref: "#/definitions/base_stream"
      name: channel_sharing_service_a1
      primary_key:
        - date
        - channel_id
        - video_id
        - live_or_on_demand
        - subscribed_status
        - country_code
        - sharing_service
      retriever:
        $ref: "#/definitions/base_stream/retriever"
        creation_requester:
          $ref: "#/definitions/base_stream/retriever/creation_requester"
          request_body_json:
            name: Airbyte reporting job
            reportTypeId: channel_sharing_service_a1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/channel_sharing_service_a1"
    channel_subtitles_a2:
      $ref: "#/definitions/base_stream"
      name: channel_subtitles_a2
      primary_key:
        - date
        - channel_id
        - video_id
        - live_or_on_demand
        - subscribed_status
        - country_code
        - subtitle_language
      retriever:
        $ref: "#/definitions/base_stream/retriever"
        creation_requester:
          $ref: "#/definitions/base_stream/retriever/creation_requester"
          request_body_json:
            name: Airbyte reporting job
            reportTypeId: channel_subtitles_a2
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/channel_subtitles_a2"
    channel_traffic_source_a2:
      $ref: "#/definitions/base_stream"
      name: channel_traffic_source_a2
      primary_key:
        - date
        - channel_id
        - video_id
        - live_or_on_demand
        - subscribed_status
        - country_code
        - traffic_source_type
        - traffic_source_detail
      retriever:
        $ref: "#/definitions/base_stream/retriever"
        creation_requester:
          $ref: "#/definitions/base_stream/retriever/creation_requester"
          request_body_json:
            name: Airbyte reporting job
            reportTypeId: channel_traffic_source_a2
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/channel_traffic_source_a2"
    playlist_basic_a1:
      $ref: "#/definitions/base_stream"
      name: playlist_basic_a1
      primary_key:
        - date
        - channel_id
        - playlist_id
        - video_id
        - live_or_on_demand
        - subscribed_status
        - country_code
      retriever:
        $ref: "#/definitions/base_stream/retriever"
        creation_requester:
          $ref: "#/definitions/base_stream/retriever/creation_requester"
          request_body_json:
            name: Airbyte reporting job
            reportTypeId: playlist_basic_a1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/playlist_basic_a1"
    playlist_combined_a1:
      $ref: "#/definitions/base_stream"
      name: playlist_combined_a1
      primary_key:
        - date
        - channel_id
        - playlist_id
        - video_id
        - live_or_on_demand
        - subscribed_status
        - country_code
        - playback_location_type
        - traffic_source_type
        - device_type
        - operating_system
      retriever:
        $ref: "#/definitions/base_stream/retriever"
        creation_requester:
          $ref: "#/definitions/base_stream/retriever/creation_requester"
          request_body_json:
            name: Airbyte reporting job
            reportTypeId: playlist_combined_a1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/playlist_combined_a1"
    playlist_device_os_a1:
      $ref: "#/definitions/base_stream"
      name: playlist_device_os_a1
      primary_key:
        - date
        - channel_id
        - playlist_id
        - video_id
        - live_or_on_demand
        - subscribed_status
        - country_code
        - device_type
        - operating_system
      retriever:
        $ref: "#/definitions/base_stream/retriever"
        creation_requester:
          $ref: "#/definitions/base_stream/retriever/creation_requester"
          request_body_json:
            name: Airbyte reporting job
            reportTypeId: playlist_device_os_a1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/playlist_device_os_a1"
    playlist_playback_location_a1:
      $ref: "#/definitions/base_stream"
      name: playlist_playback_location_a1
      primary_key:
        - date
        - channel_id
        - playlist_id
        - video_id
        - live_or_on_demand
        - subscribed_status
        - country_code
        - playback_location_type
        - playback_location_detail
      retriever:
        $ref: "#/definitions/base_stream/retriever"
        creation_requester:
          $ref: "#/definitions/base_stream/retriever/creation_requester"
          request_body_json:
            name: Airbyte reporting job
            reportTypeId: playlist_playback_location_a1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/playlist_playback_location_a1"
    playlist_province_a1:
      $ref: "#/definitions/base_stream"
      name: playlist_province_a1
      primary_key:
        - date
        - channel_id
        - playlist_id
        - video_id
        - live_or_on_demand
        - subscribed_status
        - country_code
        - province_code
      retriever:
        $ref: "#/definitions/base_stream/retriever"
        creation_requester:
          $ref: "#/definitions/base_stream/retriever/creation_requester"
          request_body_json:
            name: Airbyte reporting job
            reportTypeId: playlist_province_a1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/playlist_province_a1"
    playlist_traffic_source_a1:
      $ref: "#/definitions/base_stream"
      name: playlist_traffic_source_a1
      primary_key:
        - date
        - channel_id
        - playlist_id
        - video_id
        - live_or_on_demand
        - subscribed_status
        - country_code
        - traffic_source_type
        - traffic_source_detail
      retriever:
        $ref: "#/definitions/base_stream/retriever"
        creation_requester:
          $ref: "#/definitions/base_stream/retriever/creation_requester"
          request_body_json:
            name: Airbyte reporting job
            reportTypeId: playlist_traffic_source_a1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/playlist_traffic_source_a1"

  base_requester:
    type: HttpRequester
    url_base: https://youtubereporting.googleapis.com/v1/
    authenticator:
      type: OAuthAuthenticator
      client_id: '{{ config[''credentials'']["client_id"] }}'
      grant_type: refresh_token
      client_secret: '{{ config[''credentials'']["client_secret"] }}'
      refresh_token: '{{ config[''credentials'']["refresh_token"] }}'
      refresh_request_body: {}
      token_refresh_endpoint: https://oauth2.googleapis.com/token

streams:
  - $ref: "#/definitions/streams/channel_annotations_a1"
  - $ref: "#/definitions/streams/channel_basic_a2"
  - $ref: "#/definitions/streams/channel_cards_a1"
  - $ref: "#/definitions/streams/channel_combined_a2"
  - $ref: "#/definitions/streams/channel_demographics_a1"
  - $ref: "#/definitions/streams/channel_device_os_a2"
  - $ref: "#/definitions/streams/channel_end_screens_a1"
  - $ref: "#/definitions/streams/channel_playback_location_a2"
  - $ref: "#/definitions/streams/channel_province_a2"
  - $ref: "#/definitions/streams/channel_sharing_service_a1"
  - $ref: "#/definitions/streams/channel_subtitles_a2"
  - $ref: "#/definitions/streams/channel_traffic_source_a2"
  - $ref: "#/definitions/streams/playlist_basic_a1"
  - $ref: "#/definitions/streams/playlist_combined_a1"
  - $ref: "#/definitions/streams/playlist_device_os_a1"
  - $ref: "#/definitions/streams/playlist_playback_location_a1"
  - $ref: "#/definitions/streams/playlist_province_a1"
  - $ref: "#/definitions/streams/playlist_traffic_source_a1"

spec:
  type: Spec
  documentationUrl: https://docs.airbyte.com/integrations/sources/youtube-analytics
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    title: YouTube Analytics Spec
    required:
      - credentials
    additionalProperties: true
    properties:
      credentials:
        type: object
        title: Authenticate via OAuth 2.0
        required:
          - client_id
          - client_secret
          - refresh_token
        additionalProperties: true
        properties:
          client_id:
            type: string
            description: The Client ID of your developer application
            title: Client ID
            airbyte_secret: true
          client_secret:
            type: string
            description: The client secret of your developer application
            title: Client Secret
            airbyte_secret: true
          refresh_token:
            type: string
            description: A refresh token generated using the above client ID and secret
            title: Refresh Token
            airbyte_secret: true
  advanced_auth:
    auth_flow_type: oauth2.0
    oauth_config_specification:
      complete_oauth_output_specification:
        type: object
        additionalProperties: true
        properties:
          refresh_token:
            type: string
            path_in_connector_config:
              - credentials
              - refresh_token
      complete_oauth_server_input_specification:
        type: object
        additionalProperties: true
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        additionalProperties: true
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - credentials
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - credentials
              - client_secret

schemas:
  channel_annotations_a1:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      {
        "date": { "type": "integer" },
        "channel_id": { "type": ["null", "string"] },
        "video_id": { "type": ["null", "string"] },
        "live_or_on_demand": { "type": ["null", "string"] },
        "subscribed_status": { "type": ["null", "string"] },
        "country_code": { "type": ["null", "string"] },
        "annotation_type": { "type": ["null", "string"] },
        "annotation_id": { "type": ["null", "string"] },
        "annotation_impressions": { "type": ["null", "string"] },
        "annotation_clickable_impressions": { "type": ["null", "string"] },
        "annotation_clicks": { "type": ["null", "string"] },
        "annotation_click_through_rate": { "type": ["null", "string"] },
        "annotation_closable_impressions": { "type": ["null", "string"] },
        "annotation_closes": { "type": ["null", "string"] },
        "annotation_close_rate": { "type": ["null", "string"] },
      }
  channel_basic_a2:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      {
        "date": { "type": "integer" },
        "channel_id": { "type": ["null", "string"] },
        "video_id": { "type": ["null", "string"] },
        "live_or_on_demand": { "type": ["null", "string"] },
        "subscribed_status": { "type": ["null", "string"] },
        "country_code": { "type": ["null", "string"] },
        "views": { "type": ["null", "integer"] },
        "comments": { "type": ["null", "integer"] },
        "likes": { "type": ["null", "integer"] },
        "dislikes": { "type": ["null", "integer"] },
        "shares": { "type": ["null", "integer"] },
        "watch_time_minutes": { "type": ["null", "number"] },
        "average_view_duration_seconds": { "type": ["null", "number"] },
        "average_view_duration_percentage": { "type": ["null", "number"] },
        "annotation_impressions": { "type": ["null", "integer"] },
        "annotation_clickable_impressions": { "type": ["null", "integer"] },
        "annotation_clicks": { "type": ["null", "integer"] },
        "annotation_click_through_rate": { "type": ["null", "number"] },
        "annotation_closable_impressions": { "type": ["null", "integer"] },
        "annotation_closes": { "type": ["null", "integer"] },
        "annotation_close_rate": { "type": ["null", "number"] },
        "card_teaser_impressions": { "type": ["null", "integer"] },
        "card_teaser_clicks": { "type": ["null", "integer"] },
        "card_teaser_click_rate": { "type": ["null", "number"] },
        "card_impressions": { "type": ["null", "integer"] },
        "card_clicks": { "type": ["null", "integer"] },
        "card_click_rate": { "type": ["null", "number"] },
        "subscribers_gained": { "type": ["null", "integer"] },
        "subscribers_lost": { "type": ["null", "integer"] },
        "videos_added_to_playlists": { "type": ["null", "integer"] },
        "videos_removed_from_playlists": { "type": ["null", "integer"] },
        "red_views": { "type": ["null", "integer"] },
        "red_watch_time_minutes": { "type": ["null", "number"] },
      }
  channel_cards_a1:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      {
        "date": { "type": "integer" },
        "channel_id": { "type": ["null", "string"] },
        "video_id": { "type": ["null", "string"] },
        "live_or_on_demand": { "type": ["null", "string"] },
        "subscribed_status": { "type": ["null", "string"] },
        "country_code": { "type": ["null", "string"] },
        "card_type": { "type": ["null", "string"] },
        "card_id": { "type": ["null", "string"] },
        "card_teaser_impressions": { "type": ["null", "string"] },
        "card_teaser_clicks": { "type": ["null", "string"] },
        "card_teaser_click_rate": { "type": ["null", "string"] },
        "card_impressions": { "type": ["null", "string"] },
        "card_clicks": { "type": ["null", "string"] },
        "card_click_rate": { "type": ["null", "string"] },
      }
  channel_combined_a2:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      {
        "date": { "type": "integer" },
        "channel_id": { "type": ["null", "string"] },
        "video_id": { "type": ["null", "string"] },
        "live_or_on_demand": { "type": ["null", "string"] },
        "subscribed_status": { "type": ["null", "string"] },
        "country_code": { "type": ["null", "string"] },
        "playback_location_type": { "type": ["null", "integer"] },
        "traffic_source_type": { "type": ["null", "integer"] },
        "device_type": { "type": ["null", "integer"] },
        "operating_system": { "type": ["null", "integer"] },
        "views": { "type": ["null", "integer"] },
        "watch_time_minutes": { "type": ["null", "number"] },
        "average_view_duration_seconds": { "type": ["null", "number"] },
        "average_view_duration_percentage": { "type": ["null", "number"] },
        "red_views": { "type": ["null", "integer"] },
        "red_watch_time_minutes": { "type": ["null", "number"] },
      }
  channel_demographics_a1:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      {
        "date": { "type": "integer" },
        "channel_id": { "type": ["null", "string"] },
        "video_id": { "type": ["null", "string"] },
        "live_or_on_demand": { "type": ["null", "string"] },
        "subscribed_status": { "type": ["null", "string"] },
        "country_code": { "type": ["null", "string"] },
        "age_group": { "type": ["null", "string"] },
        "gender": { "type": ["null", "string"] },
        "views_percentage": { "type": ["null", "string"] },
      }
  channel_device_os_a2:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      {
        "date": { "type": "integer" },
        "channel_id": { "type": ["null", "string"] },
        "video_id": { "type": ["null", "string"] },
        "live_or_on_demand": { "type": ["null", "string"] },
        "subscribed_status": { "type": ["null", "string"] },
        "country_code": { "type": ["null", "string"] },
        "device_type": { "type": ["null", "integer"] },
        "operating_system": { "type": ["null", "integer"] },
        "views": { "type": ["null", "integer"] },
        "watch_time_minutes": { "type": ["null", "number"] },
        "average_view_duration_seconds": { "type": ["null", "number"] },
        "average_view_duration_percentage": { "type": ["null", "number"] },
        "red_views": { "type": ["null", "integer"] },
        "red_watch_time_minutes": { "type": ["null", "number"] },
      }
  channel_end_screens_a1:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      {
        "date": { "type": "integer" },
        "channel_id": { "type": ["null", "string"] },
        "video_id": { "type": ["null", "string"] },
        "live_or_on_demand": { "type": ["null", "string"] },
        "subscribed_status": { "type": ["null", "string"] },
        "country_code": { "type": ["null", "string"] },
        "end_screen_element_type": { "type": ["null", "string"] },
        "end_screen_element_id": { "type": ["null", "string"] },
        "end_screen_element_clicks": { "type": ["null", "string"] },
        "end_screen_element_impressions": { "type": ["null", "string"] },
        "end_screen_element_click_rate": { "type": ["null", "string"] },
      }
  channel_playback_location_a2:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      {
        "date": { "type": "integer" },
        "channel_id": { "type": ["null", "string"] },
        "video_id": { "type": ["null", "string"] },
        "live_or_on_demand": { "type": ["null", "string"] },
        "subscribed_status": { "type": ["null", "string"] },
        "country_code": { "type": ["null", "string"] },
        "playback_location_type": { "type": ["null", "integer"] },
        "playback_location_detail": { "type": ["null", "string"] },
        "views": { "type": ["null", "integer"] },
        "watch_time_minutes": { "type": ["null", "number"] },
        "average_view_duration_seconds": { "type": ["null", "number"] },
        "average_view_duration_percentage": { "type": ["null", "number"] },
        "red_views": { "type": ["null", "integer"] },
        "red_watch_time_minutes": { "type": ["null", "number"] },
      }
  channel_province_a2:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      {
        "date": { "type": "integer" },
        "channel_id": { "type": ["null", "string"] },
        "video_id": { "type": ["null", "string"] },
        "live_or_on_demand": { "type": ["null", "string"] },
        "subscribed_status": { "type": ["null", "string"] },
        "country_code": { "type": ["null", "string"] },
        "province_code": { "type": ["null", "string"] },
        "views": { "type": ["null", "integer"] },
        "watch_time_minutes": { "type": ["null", "number"] },
        "average_view_duration_seconds": { "type": ["null", "number"] },
        "average_view_duration_percentage": { "type": ["null", "number"] },
        "annotation_click_through_rate": { "type": ["null", "integer"] },
        "annotation_close_rate": { "type": ["null", "integer"] },
        "annotation_impressions": { "type": ["null", "integer"] },
        "annotation_clickable_impressions": { "type": ["null", "integer"] },
        "annotation_closable_impressions": { "type": ["null", "integer"] },
        "annotation_clicks": { "type": ["null", "integer"] },
        "annotation_closes": { "type": ["null", "integer"] },
        "card_click_rate": { "type": ["null", "integer"] },
        "card_teaser_click_rate": { "type": ["null", "integer"] },
        "card_impressions": { "type": ["null", "integer"] },
        "card_teaser_impressions": { "type": ["null", "integer"] },
        "card_clicks": { "type": ["null", "integer"] },
        "card_teaser_clicks": { "type": ["null", "integer"] },
        "red_views": { "type": ["null", "integer"] },
        "red_watch_time_minutes": { "type": ["null", "number"] },
      }
  channel_sharing_service_a1:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      {
        "date": { "type": "integer" },
        "channel_id": { "type": ["null", "string"] },
        "video_id": { "type": ["null", "string"] },
        "live_or_on_demand": { "type": ["null", "string"] },
        "subscribed_status": { "type": ["null", "string"] },
        "country_code": { "type": ["null", "string"] },
        "sharing_service": { "type": ["null", "string"] },
        "shares": { "type": ["null", "string"] },
      }
  channel_subtitles_a2:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      {
        "date": { "type": "integer" },
        "channel_id": { "type": ["null", "string"] },
        "video_id": { "type": ["null", "string"] },
        "live_or_on_demand": { "type": ["null", "string"] },
        "subscribed_status": { "type": ["null", "string"] },
        "country_code": { "type": ["null", "string"] },
        "subtitle_language": { "type": ["null", "string"] },
        "views": { "type": ["null", "integer"] },
        "watch_time_minutes": { "type": ["null", "number"] },
        "average_view_duration_seconds": { "type": ["null", "number"] },
        "average_view_duration_percentage": { "type": ["null", "number"] },
        "red_views": { "type": ["null", "integer"] },
        "red_watch_time_minutes": { "type": ["null", "number"] },
      }
  channel_traffic_source_a2:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      {
        "date": { "type": "integer" },
        "channel_id": { "type": ["null", "string"] },
        "video_id": { "type": ["null", "string"] },
        "live_or_on_demand": { "type": ["null", "string"] },
        "subscribed_status": { "type": ["null", "string"] },
        "country_code": { "type": ["null", "string"] },
        "traffic_source_type": { "type": ["null", "integer"] },
        "traffic_source_detail": { "type": ["null", "string"] },
        "views": { "type": ["null", "integer"] },
        "watch_time_minutes": { "type": ["null", "number"] },
        "average_view_duration_seconds": { "type": ["null", "number"] },
        "average_view_duration_percentage": { "type": ["null", "number"] },
        "red_views": { "type": ["null", "integer"] },
        "red_watch_time_minutes": { "type": ["null", "number"] },
      }
  playlist_basic_a1:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      {
        "date": { "type": "integer" },
        "channel_id": { "type": ["null", "string"] },
        "playlist_id": { "type": ["null", "string"] },
        "video_id": { "type": ["null", "string"] },
        "live_or_on_demand": { "type": ["null", "string"] },
        "subscribed_status": { "type": ["null", "string"] },
        "country_code": { "type": ["null", "string"] },
        "views": { "type": ["null", "integer"] },
        "watch_time_minutes": { "type": ["null", "number"] },
        "average_view_duration_seconds": { "type": ["null", "number"] },
        "playlist_starts": { "type": ["null", "integer"] },
        "playlist_saves_added": { "type": ["null", "integer"] },
        "playlist_saves_removed": { "type": ["null", "integer"] },
      }
  playlist_combined_a1:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      {
        "date": { "type": "integer" },
        "channel_id": { "type": ["null", "string"] },
        "playlist_id": { "type": ["null", "string"] },
        "video_id": { "type": ["null", "string"] },
        "live_or_on_demand": { "type": ["null", "string"] },
        "subscribed_status": { "type": ["null", "string"] },
        "country_code": { "type": ["null", "string"] },
        "playback_location_type": { "type": ["null", "integer"] },
        "traffic_source_type": { "type": ["null", "integer"] },
        "device_type": { "type": ["null", "integer"] },
        "operating_system": { "type": ["null", "integer"] },
        "views": { "type": ["null", "integer"] },
        "watch_time_minutes": { "type": ["null", "number"] },
        "average_view_duration_seconds": { "type": ["null", "number"] },
        "playlist_starts": { "type": ["null", "integer"] },
        "playlist_saves_added": { "type": ["null", "integer"] },
        "playlist_saves_removed": { "type": ["null", "integer"] },
      }
  playlist_device_os_a1:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      {
        "date": { "type": "integer" },
        "channel_id": { "type": ["null", "string"] },
        "playlist_id": { "type": ["null", "string"] },
        "video_id": { "type": ["null", "string"] },
        "live_or_on_demand": { "type": ["null", "string"] },
        "subscribed_status": { "type": ["null", "string"] },
        "country_code": { "type": ["null", "string"] },
        "device_type": { "type": ["null", "integer"] },
        "operating_system": { "type": ["null", "integer"] },
        "views": { "type": ["null", "integer"] },
        "watch_time_minutes": { "type": ["null", "number"] },
        "average_view_duration_seconds": { "type": ["null", "number"] },
        "playlist_starts": { "type": ["null", "integer"] },
        "playlist_saves_added": { "type": ["null", "integer"] },
        "playlist_saves_removed": { "type": ["null", "integer"] },
      }
  playlist_playback_location_a1:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      {
        "date": { "type": "integer" },
        "channel_id": { "type": ["null", "string"] },
        "playlist_id": { "type": ["null", "string"] },
        "video_id": { "type": ["null", "string"] },
        "live_or_on_demand": { "type": ["null", "string"] },
        "subscribed_status": { "type": ["null", "string"] },
        "country_code": { "type": ["null", "string"] },
        "playback_location_type": { "type": ["null", "integer"] },
        "playback_location_detail": { "type": ["null", "string"] },
        "views": { "type": ["null", "integer"] },
        "watch_time_minutes": { "type": ["null", "number"] },
        "average_view_duration_seconds": { "type": ["null", "number"] },
        "playlist_starts": { "type": ["null", "integer"] },
        "playlist_saves_added": { "type": ["null", "integer"] },
        "playlist_saves_removed": { "type": ["null", "integer"] },
      }
  playlist_province_a1:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      {
        "date": { "type": "integer" },
        "channel_id": { "type": ["null", "string"] },
        "playlist_id": { "type": ["null", "string"] },
        "video_id": { "type": ["null", "string"] },
        "live_or_on_demand": { "type": ["null", "string"] },
        "subscribed_status": { "type": ["null", "string"] },
        "country_code": { "type": ["null", "string"] },
        "province_code": { "type": ["null", "string"] },
        "views": { "type": ["null", "string"] },
        "watch_time_minutes": { "type": ["null", "number"] },
        "average_view_duration_seconds": { "type": ["null", "number"] },
        "playlist_starts": { "type": ["null", "string"] },
        "playlist_saves_added": { "type": ["null", "string"] },
        "playlist_saves_removed": { "type": ["null", "string"] },
      }
  playlist_traffic_source_a1:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      {
        "date": { "type": "integer" },
        "channel_id": { "type": ["null", "string"] },
        "playlist_id": { "type": ["null", "string"] },
        "video_id": { "type": ["null", "string"] },
        "live_or_on_demand": { "type": ["null", "string"] },
        "subscribed_status": { "type": ["null", "string"] },
        "country_code": { "type": ["null", "string"] },
        "traffic_source_type": { "type": ["null", "integer"] },
        "traffic_source_detail": { "type": ["null", "string"] },
        "views": { "type": ["null", "integer"] },
        "watch_time_minutes": { "type": ["null", "number"] },
        "average_view_duration_seconds": { "type": ["null", "number"] },
        "playlist_starts": { "type": ["null", "integer"] },
        "playlist_saves_added": { "type": ["null", "integer"] },
        "playlist_saves_removed": { "type": ["null", "integer"] },
      }
