version: 5.14.0

type: DeclarativeSource

description: >-
  API Documentation:
  https://developer.ticketmaster.com/products-and-docs/apis/discovery-api/v2/#search-classifications-v2

check:
  type: CheckStream
  stream_names:
    - events

definitions:
  streams:
    events:
      type: DeclarativeStream
      name: events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: discovery/v2/events
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits has been hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - events
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: size
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 100
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/events"
    attractions:
      type: DeclarativeStream
      name: attractions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: discovery/v2/attractions
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits has been hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - attractions
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: size
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 100
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/attractions"
    venues:
      type: DeclarativeStream
      name: venues
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: discovery/v2/venues
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits has been hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - venues
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: size
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 100
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/venues"
    suggest:
      type: DeclarativeStream
      name: suggest
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: discovery/v2/suggest
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits has been hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _embedded
              - venues
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/suggest"
    event_images:
      type: DeclarativeStream
      name: event_images
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: discovery/v2/events/{{ stream_partition.event_id }}/images
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limits has been hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: size
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 100
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: event_id
              stream:
                $ref: "#/definitions/streams/events"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/event_images"
  base_requester:
    type: HttpRequester
    url_base: https://app.ticketmaster.com/
    authenticator:
      type: ApiKeyAuthenticator
      inject_into:
        type: RequestOption
        inject_into: request_parameter
        field_name: apikey
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/events"
  - $ref: "#/definitions/streams/attractions"
  - $ref: "#/definitions/streams/venues"
  - $ref: "#/definitions/streams/suggest"
  - $ref: "#/definitions/streams/event_images"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
    additionalProperties: true

metadata:
  autoImportSchema:
    events: true
    attractions: true
    venues: true
    suggest: true
    event_images: true
  testedStreams:
    events:
      streamHash: 82aec0bbb08425b1fea8dfe49fb6140d2cca883c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    attractions:
      streamHash: 7955de5f9451ba35f47be99da70685e93c6cfd2b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    venues:
      streamHash: 5900d00fb19fb08217b70e1e0ceb599cc1292a52
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    suggest:
      streamHash: 2161af44a6271f8fb34dd4bb58d3d51ad541ddba
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    event_images:
      streamHash: 0acc38ba028868f165eeba0f99603814562df148
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  events:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      _embedded:
        type:
          - object
          - "null"
        properties:
          attractions:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                _links:
                  type:
                    - object
                    - "null"
                  properties:
                    self:
                      type:
                        - object
                        - "null"
                      properties:
                        href:
                          type:
                            - string
                            - "null"
                aliases:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - string
                      - "null"
                classifications:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - object
                          - "null"
                        properties:
                          id:
                            type:
                              - string
                              - "null"
                          name:
                            type:
                              - string
                              - "null"
                      family:
                        type:
                          - boolean
                          - "null"
                      genre:
                        type:
                          - object
                          - "null"
                        properties:
                          id:
                            type:
                              - string
                              - "null"
                          name:
                            type:
                              - string
                              - "null"
                      primary:
                        type:
                          - boolean
                          - "null"
                      segment:
                        type:
                          - object
                          - "null"
                        properties:
                          id:
                            type:
                              - string
                              - "null"
                          name:
                            type:
                              - string
                              - "null"
                      subGenre:
                        type:
                          - object
                          - "null"
                        properties:
                          id:
                            type:
                              - string
                              - "null"
                          name:
                            type:
                              - string
                              - "null"
                      subType:
                        type:
                          - object
                          - "null"
                        properties:
                          id:
                            type:
                              - string
                              - "null"
                          name:
                            type:
                              - string
                              - "null"
                externalLinks:
                  type:
                    - object
                    - "null"
                  properties:
                    facebook:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          url:
                            type:
                              - string
                              - "null"
                    homepage:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          url:
                            type:
                              - string
                              - "null"
                    instagram:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          url:
                            type:
                              - string
                              - "null"
                    itunes:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          url:
                            type:
                              - string
                              - "null"
                    lastfm:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          url:
                            type:
                              - string
                              - "null"
                    musicbrainz:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          id:
                            type:
                              - string
                              - "null"
                          url:
                            type:
                              - string
                              - "null"
                    spotify:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          url:
                            type:
                              - string
                              - "null"
                    twitter:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          url:
                            type:
                              - string
                              - "null"
                    wiki:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          url:
                            type:
                              - string
                              - "null"
                    youtube:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          url:
                            type:
                              - string
                              - "null"
                id:
                  type:
                    - string
                    - "null"
                images:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      attribution:
                        type:
                          - string
                          - "null"
                      fallback:
                        type:
                          - boolean
                          - "null"
                      height:
                        type:
                          - number
                          - "null"
                      ratio:
                        type:
                          - string
                          - "null"
                      url:
                        type:
                          - string
                          - "null"
                      width:
                        type:
                          - number
                          - "null"
                locale:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                test:
                  type:
                    - boolean
                    - "null"
                upcomingEvents:
                  type:
                    - object
                    - "null"
                  properties:
                    _filtered:
                      type:
                        - number
                        - "null"
                    _total:
                      type:
                        - number
                        - "null"
                    mfx-be:
                      type:
                        - number
                        - "null"
                    mfx-cz:
                      type:
                        - number
                        - "null"
                    mfx-de:
                      type:
                        - number
                        - "null"
                    mfx-dk:
                      type:
                        - number
                        - "null"
                    mfx-es:
                      type:
                        - number
                        - "null"
                    mfx-fi:
                      type:
                        - number
                        - "null"
                    mfx-it:
                      type:
                        - number
                        - "null"
                    mfx-nl:
                      type:
                        - number
                        - "null"
                    mfx-no:
                      type:
                        - number
                        - "null"
                    mfx-pl:
                      type:
                        - number
                        - "null"
                    mfx-se:
                      type:
                        - number
                        - "null"
                    ticketmaster:
                      type:
                        - number
                        - "null"
                    ticketnet:
                      type:
                        - number
                        - "null"
                    tmr:
                      type:
                        - number
                        - "null"
                url:
                  type:
                    - string
                    - "null"
          venues:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                _links:
                  type:
                    - object
                    - "null"
                  properties:
                    self:
                      type:
                        - object
                        - "null"
                      properties:
                        href:
                          type:
                            - string
                            - "null"
                accessibleSeatingDetail:
                  type:
                    - string
                    - "null"
                ada:
                  type:
                    - object
                    - "null"
                  properties:
                    adaCustomCopy:
                      type:
                        - string
                        - "null"
                    adaHours:
                      type:
                        - string
                        - "null"
                    adaPhones:
                      type:
                        - string
                        - "null"
                address:
                  type:
                    - object
                    - "null"
                  properties:
                    line1:
                      type:
                        - string
                        - "null"
                    line2:
                      type:
                        - string
                        - "null"
                aliases:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - string
                      - "null"
                boxOfficeInfo:
                  type:
                    - object
                    - "null"
                  properties:
                    acceptedPaymentDetail:
                      type:
                        - string
                        - "null"
                    openHoursDetail:
                      type:
                        - string
                        - "null"
                    phoneNumberDetail:
                      type:
                        - string
                        - "null"
                    willCallDetail:
                      type:
                        - string
                        - "null"
                city:
                  type:
                    - object
                    - "null"
                  properties:
                    name:
                      type:
                        - string
                        - "null"
                country:
                  type:
                    - object
                    - "null"
                  properties:
                    countryCode:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                dmas:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type:
                          - number
                          - "null"
                externalLinks:
                  type:
                    - object
                    - "null"
                  properties:
                    appDeepLink:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          url:
                            type:
                              - string
                              - "null"
                generalInfo:
                  type:
                    - object
                    - "null"
                  properties:
                    childRule:
                      type:
                        - string
                        - "null"
                    generalRule:
                      type:
                        - string
                        - "null"
                id:
                  type:
                    - string
                    - "null"
                images:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      fallback:
                        type:
                          - boolean
                          - "null"
                      height:
                        type:
                          - number
                          - "null"
                      ratio:
                        type:
                          - string
                          - "null"
                      url:
                        type:
                          - string
                          - "null"
                      width:
                        type:
                          - number
                          - "null"
                locale:
                  type:
                    - string
                    - "null"
                location:
                  type:
                    - object
                    - "null"
                  properties:
                    latitude:
                      type:
                        - string
                        - "null"
                    longitude:
                      type:
                        - string
                        - "null"
                markets:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                name:
                  type:
                    - string
                    - "null"
                parkingDetail:
                  type:
                    - string
                    - "null"
                postalCode:
                  type:
                    - string
                    - "null"
                social:
                  type:
                    - object
                    - "null"
                  properties:
                    twitter:
                      type:
                        - object
                        - "null"
                      properties:
                        handle:
                          type:
                            - string
                            - "null"
                state:
                  type:
                    - object
                    - "null"
                  properties:
                    name:
                      type:
                        - string
                        - "null"
                    stateCode:
                      type:
                        - string
                        - "null"
                test:
                  type:
                    - boolean
                    - "null"
                timezone:
                  type:
                    - string
                    - "null"
                upcomingEvents:
                  type:
                    - object
                    - "null"
                  properties:
                    _filtered:
                      type:
                        - number
                        - "null"
                    _total:
                      type:
                        - number
                        - "null"
                    archtics:
                      type:
                        - number
                        - "null"
                    ticketmaster:
                      type:
                        - number
                        - "null"
                    tmr:
                      type:
                        - number
                        - "null"
                    universe:
                      type:
                        - number
                        - "null"
                url:
                  type:
                    - string
                    - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          attractions:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
          self:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
          venues:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                href:
                  type:
                    - string
                    - "null"
      accessibility:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          info:
            type:
              - string
              - "null"
          ticketLimit:
            type:
              - number
              - "null"
          url:
            type:
              - string
              - "null"
          urlText:
            type:
              - string
              - "null"
      ageRestrictions:
        type:
          - object
          - "null"
        properties:
          ageRuleDescription:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          legalAgeEnforced:
            type:
              - boolean
              - "null"
      classifications:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
            family:
              type:
                - boolean
                - "null"
            genre:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
            primary:
              type:
                - boolean
                - "null"
            segment:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
            subGenre:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
            subType:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
      dates:
        type:
          - object
          - "null"
        properties:
          initialStartDate:
            type:
              - object
              - "null"
            properties:
              dateTime:
                type:
                  - string
                  - "null"
              localDate:
                type:
                  - string
                  - "null"
              localTime:
                type:
                  - string
                  - "null"
          spanMultipleDays:
            type:
              - boolean
              - "null"
          start:
            type:
              - object
              - "null"
            properties:
              dateTBA:
                type:
                  - boolean
                  - "null"
              dateTBD:
                type:
                  - boolean
                  - "null"
              dateTime:
                type:
                  - string
                  - "null"
              localDate:
                type:
                  - string
                  - "null"
              localTime:
                type:
                  - string
                  - "null"
              noSpecificTime:
                type:
                  - boolean
                  - "null"
              timeTBA:
                type:
                  - boolean
                  - "null"
          status:
            type:
              - object
              - "null"
            properties:
              code:
                type:
                  - string
                  - "null"
          timezone:
            type:
              - string
              - "null"
      doorsTimes:
        type:
          - object
          - "null"
        properties:
          dateTime:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          localDate:
            type:
              - string
              - "null"
          localTime:
            type:
              - string
              - "null"
      id:
        type: string
      images:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            attribution:
              type:
                - string
                - "null"
            fallback:
              type:
                - boolean
                - "null"
            height:
              type:
                - number
                - "null"
            ratio:
              type:
                - string
                - "null"
            url:
              type:
                - string
                - "null"
            width:
              type:
                - number
                - "null"
      info:
        type:
          - string
          - "null"
      locale:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      outlets:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            url:
              type:
                - string
                - "null"
      pleaseNote:
        type:
          - string
          - "null"
      priceRanges:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            currency:
              type:
                - string
                - "null"
            max:
              type:
                - number
                - "null"
            min:
              type:
                - number
                - "null"
      products:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            classifications:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                  family:
                    type:
                      - boolean
                      - "null"
                  genre:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                  primary:
                    type:
                      - boolean
                      - "null"
                  segment:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                  subGenre:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                  subType:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            url:
              type:
                - string
                - "null"
      promoter:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      promoters:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      sales:
        type:
          - object
          - "null"
        properties:
          presales:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                description:
                  type:
                    - string
                    - "null"
                endDateTime:
                  type:
                    - string
                    - "null"
                linkDescriptions:
                  type:
                    - object
                    - "null"
                  properties:
                    en-au:
                      type:
                        - string
                        - "null"
                    en-ca:
                      type:
                        - string
                        - "null"
                    en-mx:
                      type:
                        - string
                        - "null"
                    en-nz:
                      type:
                        - string
                        - "null"
                    en-us:
                      type:
                        - string
                        - "null"
                    es-br:
                      type:
                        - string
                        - "null"
                    es-mx:
                      type:
                        - string
                        - "null"
                    es-us:
                      type:
                        - string
                        - "null"
                    fr-ca:
                      type:
                        - string
                        - "null"
                    pt-br:
                      type:
                        - string
                        - "null"
                name:
                  type:
                    - string
                    - "null"
                startDateTime:
                  type:
                    - string
                    - "null"
                url:
                  type:
                    - string
                    - "null"
          public:
            type:
              - object
              - "null"
            properties:
              endDateTime:
                type:
                  - string
                  - "null"
              startDateTime:
                type:
                  - string
                  - "null"
              startTBA:
                type:
                  - boolean
                  - "null"
              startTBD:
                type:
                  - boolean
                  - "null"
      seatmap:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          staticUrl:
            type:
              - string
              - "null"
      test:
        type:
          - boolean
          - "null"
      ticketLimit:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          info:
            type:
              - string
              - "null"
      ticketing:
        type:
          - object
          - "null"
        properties:
          allInclusivePricing:
            type:
              - object
              - "null"
            properties:
              enabled:
                type:
                  - boolean
                  - "null"
          id:
            type:
              - string
              - "null"
          safeTix:
            type:
              - object
              - "null"
            properties:
              enabled:
                type:
                  - boolean
                  - "null"
              inAppOnlyEnabled:
                type:
                  - boolean
                  - "null"
      url:
        type:
          - string
          - "null"
    required:
      - id
  attractions:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          self:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
      aliases:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      classifications:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
            family:
              type:
                - boolean
                - "null"
            genre:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
            primary:
              type:
                - boolean
                - "null"
            segment:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
            subGenre:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
            subType:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
      draftStatus:
        type:
          - string
          - "null"
      externalLinks:
        type:
          - object
          - "null"
        properties:
          facebook:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                url:
                  type:
                    - string
                    - "null"
          homepage:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                url:
                  type:
                    - string
                    - "null"
          instagram:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                url:
                  type:
                    - string
                    - "null"
          itunes:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                url:
                  type:
                    - string
                    - "null"
          lastfm:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                url:
                  type:
                    - string
                    - "null"
          musicbrainz:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
                url:
                  type:
                    - string
                    - "null"
          spotify:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                url:
                  type:
                    - string
                    - "null"
          twitter:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                url:
                  type:
                    - string
                    - "null"
          wiki:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                url:
                  type:
                    - string
                    - "null"
          youtube:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                url:
                  type:
                    - string
                    - "null"
      id:
        type: string
      images:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            attribution:
              type:
                - string
                - "null"
            fallback:
              type:
                - boolean
                - "null"
            height:
              type:
                - number
                - "null"
            ratio:
              type:
                - string
                - "null"
            url:
              type:
                - string
                - "null"
            width:
              type:
                - number
                - "null"
      locale:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      test:
        type:
          - boolean
          - "null"
      upcomingEvents:
        type:
          - object
          - "null"
        properties:
          _filtered:
            type:
              - number
              - "null"
          _total:
            type:
              - number
              - "null"
          crowder:
            type:
              - number
              - "null"
          mfx-ae:
            type:
              - number
              - "null"
          mfx-at:
            type:
              - number
              - "null"
          mfx-be:
            type:
              - number
              - "null"
          mfx-ch:
            type:
              - number
              - "null"
          mfx-cz:
            type:
              - number
              - "null"
          mfx-de:
            type:
              - number
              - "null"
          mfx-dk:
            type:
              - number
              - "null"
          mfx-es:
            type:
              - number
              - "null"
          mfx-fi:
            type:
              - number
              - "null"
          mfx-it:
            type:
              - number
              - "null"
          mfx-nl:
            type:
              - number
              - "null"
          mfx-no:
            type:
              - number
              - "null"
          mfx-pl:
            type:
              - number
              - "null"
          mfx-se:
            type:
              - number
              - "null"
          mfx-za:
            type:
              - number
              - "null"
          moshtix:
            type:
              - number
              - "null"
          ticketmaster:
            type:
              - number
              - "null"
          ticketnet:
            type:
              - number
              - "null"
          ticketweb:
            type:
              - number
              - "null"
          tmc:
            type:
              - number
              - "null"
          tmr:
            type:
              - number
              - "null"
          universe:
            type:
              - number
              - "null"
          veeps:
            type:
              - number
              - "null"
      url:
        type:
          - string
          - "null"
    required:
      - id
  venues:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          self:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
      accessibleSeatingDetail:
        type:
          - string
          - "null"
      ada:
        type:
          - object
          - "null"
        properties:
          adaCustomCopy:
            type:
              - string
              - "null"
          adaHours:
            type:
              - string
              - "null"
          adaPhones:
            type:
              - string
              - "null"
      address:
        type:
          - object
          - "null"
        properties:
          line1:
            type:
              - string
              - "null"
          line2:
            type:
              - string
              - "null"
      aliases:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      boxOfficeInfo:
        type:
          - object
          - "null"
        properties:
          acceptedPaymentDetail:
            type:
              - string
              - "null"
          openHoursDetail:
            type:
              - string
              - "null"
          phoneNumberDetail:
            type:
              - string
              - "null"
          willCallDetail:
            type:
              - string
              - "null"
      city:
        type:
          - object
          - "null"
        properties:
          name:
            type:
              - string
              - "null"
      country:
        type:
          - object
          - "null"
        properties:
          countryCode:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      dmas:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
      generalInfo:
        type:
          - object
          - "null"
        properties:
          childRule:
            type:
              - string
              - "null"
          generalRule:
            type:
              - string
              - "null"
      id:
        type: string
      images:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            fallback:
              type:
                - boolean
                - "null"
            height:
              type:
                - number
                - "null"
            ratio:
              type:
                - string
                - "null"
            url:
              type:
                - string
                - "null"
            width:
              type:
                - number
                - "null"
      locale:
        type:
          - string
          - "null"
      location:
        type:
          - object
          - "null"
        properties:
          latitude:
            type:
              - string
              - "null"
          longitude:
            type:
              - string
              - "null"
      markets:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      name:
        type:
          - string
          - "null"
      parkingDetail:
        type:
          - string
          - "null"
      postalCode:
        type:
          - string
          - "null"
      social:
        type:
          - object
          - "null"
        properties:
          twitter:
            type:
              - object
              - "null"
            properties:
              handle:
                type:
                  - string
                  - "null"
      state:
        type:
          - object
          - "null"
        properties:
          name:
            type:
              - string
              - "null"
          stateCode:
            type:
              - string
              - "null"
      test:
        type:
          - boolean
          - "null"
      timezone:
        type:
          - string
          - "null"
      upcomingEvents:
        type:
          - object
          - "null"
        properties:
          _filtered:
            type:
              - number
              - "null"
          _total:
            type:
              - number
              - "null"
          archtics:
            type:
              - number
              - "null"
          mfx-it:
            type:
              - number
              - "null"
          ticketmaster:
            type:
              - number
              - "null"
          ticketweb:
            type:
              - number
              - "null"
          tmr:
            type:
              - number
              - "null"
          universe:
            type:
              - number
              - "null"
          veeps:
            type:
              - number
              - "null"
      url:
        type:
          - string
          - "null"
    required:
      - id
  suggest:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          self:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
      address:
        type:
          - object
          - "null"
      aliases:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      city:
        type:
          - object
          - "null"
        properties:
          name:
            type:
              - string
              - "null"
      country:
        type:
          - object
          - "null"
        properties:
          countryCode:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      id:
        type: string
      images:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            fallback:
              type:
                - boolean
                - "null"
            height:
              type:
                - number
                - "null"
            ratio:
              type:
                - string
                - "null"
            url:
              type:
                - string
                - "null"
            width:
              type:
                - number
                - "null"
      locale:
        type:
          - string
          - "null"
      location:
        type:
          - object
          - "null"
        properties:
          latitude:
            type:
              - string
              - "null"
          longitude:
            type:
              - string
              - "null"
      name:
        type:
          - string
          - "null"
      state:
        type:
          - object
          - "null"
        properties:
          name:
            type:
              - string
              - "null"
          stateCode:
            type:
              - string
              - "null"
      timezone:
        type:
          - string
          - "null"
      upcomingEvents:
        type:
          - object
          - "null"
        properties:
          _filtered:
            type:
              - number
              - "null"
          _total:
            type:
              - number
              - "null"
          archtics:
            type:
              - number
              - "null"
          ticketmaster:
            type:
              - number
              - "null"
          tmr:
            type:
              - number
              - "null"
      url:
        type:
          - string
          - "null"
    required:
      - id
  event_images:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          self:
            type:
              - object
              - "null"
            properties:
              href:
                type:
                  - string
                  - "null"
      id:
        type: string
      images:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            fallback:
              type:
                - boolean
                - "null"
            height:
              type:
                - number
                - "null"
            ratio:
              type:
                - string
                - "null"
            url:
              type:
                - string
                - "null"
            width:
              type:
                - number
                - "null"
    required:
      - id
