version: 6.41.5

type: DeclarativeSource

description: A Connector for Thrive Learning

check:
  type: CheckStream
  stream_names:
    - Content

definitions:
  streams:
    Content:
      type: DeclarativeStream
      name: Content
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: contents
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: perPage
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Content"
    Users:
      type: DeclarativeStream
      name: Users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: users
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: perPage
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Users"
    Activities:
      type: DeclarativeStream
      name: Activities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: activities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: perPage
          pagination_strategy:
            type: PageIncrement
            page_size: 200
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: timestampFrom
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: timestampTo
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Activities"
  base_requester:
    type: HttpRequester
    url_base: https://public.api.learn.link/rest/v1/
    authenticator:
      type: BasicHttpAuthenticator
      username: "{{ config[\"username\"] }}"
      password: "{{ config[\"password\"] }}"

streams:
  - $ref: "#/definitions/streams/Content"
  - $ref: "#/definitions/streams/Users"
  - $ref: "#/definitions/streams/Activities"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - username
      - start_date
    properties:
      username:
        type: string
        description: >-
          Your website Tenant ID (eu-west-000000 please contact support for your
          tenant)
        title: Tenant ID
        order: 0
      password:
        type: string
        title: Password
        always_show: true
        airbyte_secret: true
        order: 1
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    Content: true
    Users: true
    Activities: true
  testedStreams:
    Content:
      streamHash: e11c83da9ae569711837dca1051fd98d49426612
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Users:
      streamHash: 33f2234bf9d7480c0255767ae6226aa65e962466
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Activities:
      streamHash: ebf5834daa659e5ade08484e68c753452787e4d2
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  Content:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      author:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      id:
        type: string
      isOfficial:
        type:
          - boolean
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      title:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  Users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      additionalFields:
        type:
          - object
          - "null"
        properties:
          company:
            type:
              - string
              - "null"
          department:
            type:
              - string
              - "null"
          employmenttype:
            type:
              - string
              - "null"
          location:
            type:
              - string
              - "null"
          onleave:
            type:
              - string
              - "null"
          role:
            type:
              - string
              - "null"
          team:
            type:
              - string
              - "null"
          tribe:
            type:
              - string
              - "null"
      agreedTerms:
        type:
          - string
          - "null"
      audiences:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
      compliance:
        type:
          - number
          - "null"
      createdAt:
        type:
          - string
          - "null"
      deleted:
        type:
          - boolean
          - "null"
      email:
        type:
          - string
          - "null"
      firstLogin:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      hasPicture:
        type:
          - boolean
          - "null"
      id:
        type: string
      languageCode:
        type:
          - string
          - "null"
      lastLogin:
        type:
          - string
          - "null"
      lastName:
        type:
          - string
          - "null"
      level:
        type:
          - number
          - "null"
      onboarded:
        type:
          - boolean
          - "null"
      positions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            createdAt:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            isActive:
              type:
                - boolean
                - "null"
            manager:
              type:
                - object
                - "null"
              properties:
                id:
                  type:
                    - string
                    - "null"
            startDate:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
            updatedAt:
              type:
                - string
                - "null"
      rank:
        type:
          - object
          - "null"
        properties:
          currentCategory:
            type:
              - number
              - "null"
          currentLevel:
            type:
              - number
              - "null"
      ref:
        type:
          - string
          - "null"
      role:
        type:
          - string
          - "null"
      singleSignOn:
        type:
          - boolean
          - "null"
      status:
        type:
          - string
          - "null"
      summary:
        type:
          - string
          - "null"
      tags:
        type:
          - object
          - "null"
        properties:
          skills:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
      tagsFollowing:
        type:
          - array
          - "null"
      timeZone:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
      usersFollowing:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
    required:
      - id
  Activities:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      contentType:
        type:
          - string
          - "null"
      contextId:
        type:
          - string
          - "null"
      contextType:
        type:
          - string
          - "null"
      data:
        type:
          - object
          - "null"
        properties:
          version:
            type:
              - number
              - "null"
          description:
            type:
              - object
              - "null"
            properties:
              en-GB:
                type:
                  - string
                  - "null"
          choices:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                description:
                  type:
                    - object
                    - "null"
                  properties:
                    en-GB:
                      type:
                        - string
                        - "null"
                id:
                  type:
                    - string
                    - "null"
          completedDate:
            type:
              - string
              - "null"
          completion:
            type:
              - boolean
              - "null"
          completiontype:
            type:
              - string
              - "null"
          correctResponsesPattern:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          discover:
            type:
              - string
              - "null"
          duration:
            type:
              - string
              - "null"
          interactionType:
            type:
              - string
              - "null"
          maxScore:
            type:
              - number
              - "null"
          minScore:
            type:
              - number
              - "null"
          name:
            type:
              - object
              - "null"
            properties:
              en-GB:
                type:
                  - string
                  - "null"
          progresspercentage:
            type:
              - number
              - string
              - "null"
          registration:
            type:
              - string
              - "null"
          response:
            type:
              - string
              - "null"
          scaled:
            type:
              - number
              - "null"
          score:
            type:
              - number
              - "null"
          search:
            type:
              - string
              - "null"
          searchresults:
            type:
              - string
              - "null"
          skillBoosts:
            type:
              - array
              - "null"
          source:
            type:
              - string
              - "null"
          success:
            type:
              - boolean
              - "null"
          tagName:
            type:
              - string
              - "null"
      date:
        type: string
      id:
        type: string
      user:
        type:
          - string
          - "null"
    required:
      - id
      - date
