version: 5.10.2

type: DeclarativeSource

description: >-
  Integrate seamlessly with Drip using this Airbyte connector, enabling smooth
  data sync for all your email marketing needs. Effortlessly connect and
  automate data flows to optimize your marketing strategies with ease

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  streams:
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/accounts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - accounts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"
    broadcasts:
      type: DeclarativeStream
      name: broadcasts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/{{ stream_partition.account_id }}/broadcasts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - broadcasts
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: account_id
              stream:
                $ref: "#/definitions/streams/accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/broadcasts"
    campaigns:
      type: DeclarativeStream
      name: campaigns
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/{{ stream_partition.account_id }}/campaigns
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - campaigns
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: account_id
              stream:
                $ref: "#/definitions/streams/accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - email
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/user
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    workflows:
      type: DeclarativeStream
      name: workflows
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/{{ stream_partition.account_id }}/workflows
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - workflows
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: account_id
              stream:
                $ref: "#/definitions/streams/accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/workflows"
    subscribers:
      type: DeclarativeStream
      name: subscribers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/{{ stream_partition.account_id }}/subscribers
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - subscribers
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: account_id
              stream:
                $ref: "#/definitions/streams/accounts"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/subscribers"
  base_requester:
    type: HttpRequester
    url_base: https://api.getdrip.com/
    authenticator:
      type: BasicHttpAuthenticator
      password: "{{ config[\"password\"] }}"
      username: "{{ config['api_key'] }}"

streams:
  - $ref: "#/definitions/streams/accounts"
  - $ref: "#/definitions/streams/broadcasts"
  - $ref: "#/definitions/streams/campaigns"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/workflows"
  - $ref: "#/definitions/streams/subscribers"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: API key to use. Find it at https://www.getdrip.com/user/edit
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    accounts: false
    broadcasts: false
    campaigns: false
    users: false
    workflows: false
    subscribers: false
  yamlComponents:
    global:
      - authenticator
  testedStreams:
    accounts:
      hasRecords: true
      streamHash: 091c9ab92dd1218800ea9a1db20f8f78c40918dd
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    broadcasts:
      hasRecords: true
      streamHash: 33f8368c0a96a6eb7d9bd5cdec7b1de7b4a1e304
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    campaigns:
      hasRecords: true
      streamHash: f9b9c1b63119d0b47f1293ae35b0aa114375b3c1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    users:
      hasRecords: true
      streamHash: 58d981b40eabeed4fc987bf1ff968289af84b39f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    workflows:
      hasRecords: true
      streamHash: 1f0c8eff71c4debc49dd86f7239fec3bdcb5159e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    subscribers:
      hasRecords: true
      streamHash: f235fdf7ef40399bec8482be8f2dc886b11027ad
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist:
    docsUrl: https://developer.drip.com/

schemas:
  accounts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      default_from_email:
        type:
          - string
          - "null"
      default_from_name:
        type:
          - string
          - "null"
      default_postal_address:
        type:
          - string
          - "null"
      enable_third_party_cookies:
        type:
          - boolean
          - "null"
      href:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      primary_email:
        type:
          - string
          - "null"
      url:
        type:
          - string
          - "null"
    required:
      - id
  broadcasts:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active_subscriber_count:
        type:
          - number
          - "null"
      bcc:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      days_of_the_week_mask:
        type:
          - string
          - "null"
      double_optin:
        type:
          - boolean
          - "null"
      email_count:
        type:
          - number
          - "null"
      from_email:
        type:
          - string
          - "null"
      from_name:
        type:
          - string
          - "null"
      href:
        type:
          - string
          - "null"
      id:
        type: string
      links:
        type:
          - object
          - "null"
        properties:
          account:
            type:
              - string
              - "null"
          forms:
            type:
              - array
              - "null"
      localize_sending_time:
        type:
          - boolean
          - "null"
      minutes_from_midnight:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      notify_subscribe_email:
        type:
          - string
          - "null"
      notify_unsubscribe_email:
        type:
          - string
          - "null"
      postal_address:
        type:
          - string
          - "null"
      send_to_confirmation_page:
        type:
          - boolean
          - "null"
      start_immediately:
        type:
          - boolean
          - "null"
      status:
        type:
          - string
          - "null"
      unsubscribed_subscriber_count:
        type:
          - number
          - "null"
      use_custom_confirmation_page:
        type:
          - boolean
          - "null"
    required:
      - id
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      email:
        type: string
      name:
        type:
          - string
          - "null"
      time_zone:
        type:
          - string
          - "null"
    required:
      - email
  workflows:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      href:
        type:
          - string
          - "null"
      id:
        type: string
      links:
        type:
          - object
          - "null"
        properties:
          account:
            type:
              - string
              - "null"
      name:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
  subscribers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - string
          - "null"
      custom_fields:
        type:
          - object
          - "null"
      email:
        type:
          - string
          - "null"
      eu_consent:
        type:
          - string
          - "null"
      href:
        type:
          - string
          - "null"
      id:
        type: string
      links:
        type:
          - object
          - "null"
        properties:
          account:
            type:
              - string
              - "null"
      prospect:
        type:
          - boolean
          - "null"
      sms_consent:
        type:
          - boolean
          - "null"
      status:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
      utc_offset:
        type:
          - number
          - "null"
    required:
      - id
