version: 6.44.0

type: DeclarativeSource

description: |-
  Website: https://www.awin.com/
  Documentation: https://developer.awin.com/apidocs/for-advertisers

check:
  type: CheckStream
  stream_names:
    - campaign_performance

definitions:
  streams:
    campaign_performance:
      type: DeclarativeStream
      name: campaign_performance
      primary_key:
        - date
        - publisherId
        - campaign
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /advertisers/{{ config['advertiserId'] }}/reports/campaign
          http_method: GET
          request_parameters:
            startDate: "2023-01-01"
            endDate: "2023-03-01"
            interval: day
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
          schema_normalization: None
          transform_before_filtering: false
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaign_performance"
    transactions:
      type: DeclarativeStream
      name: transactions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /advertisers/{{ config['advertiserId'] }}/transactions/
          http_method: GET
          request_parameters:
            startDate: "2021-01-01T12:00:00Z"
            endDate: "2021-01-15T12:00:00Z"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/transactions"
  base_requester:
    type: HttpRequester
    url_base: https://api.awin.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/campaign_performance"
  - $ref: "#/definitions/streams/transactions"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - advertiserId
      - api_key
    properties:
      advertiserId:
        type: string
        name: advertiserId
        title: advertiserId
        order: 0
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    campaign_performance: true
    transactions: false
  testedStreams:
    campaign_performance:
      streamHash: 442d2be48913710ca36a960220d850a9a23e4582
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    transactions:
      streamHash: a15911fdbbcad5909e4e873853e9b78905d0ed54
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://developer.awin.com/apidocs/for-advertisers

schemas:
  campaign_performance:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      campaign:
        type: string
      date:
        type: string
      publisherId:
        type: string
      publisherName:
        type:
          - string
          - "null"
      totals:
        type:
          - object
          - "null"
        properties:
          commissionAmount:
            type:
              - object
              - "null"
            properties:
              approved:
                type:
                  - string
                  - "null"
              bonus:
                type:
                  - string
                  - "null"
              declined:
                type:
                  - string
                  - "null"
              pending:
                type:
                  - string
                  - "null"
              total:
                type:
                  - string
                  - "null"
          quantity:
            type:
              - object
              - "null"
            properties:
              approved:
                type:
                  - number
                  - "null"
              bonus:
                type:
                  - number
                  - "null"
              click:
                type:
                  - number
                  - "null"
              declined:
                type:
                  - number
                  - "null"
              pending:
                type:
                  - number
                  - "null"
              total:
                type:
                  - number
                  - "null"
          saleAmount:
            type:
              - object
              - "null"
            properties:
              approved:
                type:
                  - string
                  - "null"
              bonus:
                type:
                  - string
                  - "null"
              declined:
                type:
                  - string
                  - "null"
              pending:
                type:
                  - string
                  - "null"
              total:
                type:
                  - string
                  - "null"
    required:
      - date
      - publisherId
      - campaign
  transactions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
