version: 6.44.0

type: DeclarativeSource

description: |-
  Website: https://www.awin.com/
  Documentation: https://developer.awin.com/apidocs/for-advertisers

check:
  type: CheckStream
  stream_names:
    - campaign_performance

definitions:
  streams:
    campaign_performance:
      type: DeclarativeStream
      name: campaign_performance
      primary_key:
        - date
        - publisherId
        - campaign
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /advertisers/{{ config['advertiserId'] }}/reports/campaign
          http_method: GET
          request_parameters:
            interval: day
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - result
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        lookback_window: P{{ config['lookback_days'] }}D
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: startDate
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: endDate
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: "{{ config['step_increment'] }}"
        cursor_granularity: P1D
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaign_performance"
    transactions:
      type: DeclarativeStream
      name: transactions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /advertisers/{{ config['advertiserId'] }}/transactions/
          http_method: GET
          request_parameters:
            "showBasketProducts\t": "True"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: transactionDate
        lookback_window: P{{ config['lookback_days'] }}D
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}T00:00:00Z"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: startDate
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: endDate
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S"
        step: "{{ config['step_increment'] }}"
        cursor_granularity: P1D
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/transactions"
  base_requester:
    type: HttpRequester
    url_base: https://api.awin.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/campaign_performance"
  - $ref: "#/definitions/streams/transactions"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - advertiserId
      - api_key
      - step_increment
      - lookback_days
      - start_date
    properties:
      advertiserId:
        type: string
        description: >-
          Your Awin Advertiser ID. You can find this in your Awin dashboard or
          account settings.
        name: advertiserId
        order: 0
        title: advertiserId
      api_key:
        type: string
        description: >-
          Your Awin API key. Generate this from your Awin account under API
          Credentials.
        order: 1
        title: API Key
        airbyte_secret: true
      step_increment:
        type: string
        description: >
          The time window size for each API request in ISO8601 duration format.

          For the campaign performance stream, Awin API explicitly limits the
          period between startDate and endDate to 400 days maximum.
        title: Step Increment
        default: P400D
        order: 2
      lookback_days:
        type: integer
        description: >-
          Number of days to look back on each sync to catch any updates to
          existing records.
        title: Lookback Days
        order: 3
      start_date:
        type: string
        description: Start date for data replication in YYYY-MM-DD format
        title: Start Date
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        order: 4
    additionalProperties: true

metadata:
  autoImportSchema:
    campaign_performance: true
    transactions: false
  testedStreams:
    campaign_performance:
      streamHash: 5ce77ed7ebbff66c788adad09a8e642135d257a0
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    transactions:
      streamHash: 2105c27e45c4c88d2555e2645382a42dd887ba71
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://developer.awin.com/apidocs/for-advertisers

schemas:
  campaign_performance:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      campaign:
        type: string
      date:
        type: string
      publisherId:
        type: string
      publisherName:
        type:
          - string
          - "null"
      totals:
        type:
          - object
          - "null"
        properties:
          commissionAmount:
            type:
              - object
              - "null"
            properties:
              approved:
                type:
                  - string
                  - "null"
              bonus:
                type:
                  - string
                  - "null"
              declined:
                type:
                  - string
                  - "null"
              pending:
                type:
                  - string
                  - "null"
              total:
                type:
                  - string
                  - "null"
          quantity:
            type:
              - object
              - "null"
            properties:
              approved:
                type:
                  - number
                  - "null"
              bonus:
                type:
                  - number
                  - "null"
              click:
                type:
                  - number
                  - "null"
              declined:
                type:
                  - number
                  - "null"
              pending:
                type:
                  - number
                  - "null"
              total:
                type:
                  - number
                  - "null"
          saleAmount:
            type:
              - object
              - "null"
            properties:
              approved:
                type:
                  - string
                  - "null"
              bonus:
                type:
                  - string
                  - "null"
              declined:
                type:
                  - string
                  - "null"
              pending:
                type:
                  - string
                  - "null"
              total:
                type:
                  - string
                  - "null"
    required:
      - date
      - publisherId
      - campaign
  transactions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
