version: 6.60.9

type: DeclarativeSource

description: |-
  Website: https://www.awin.com/
  Documentation: https://developer.awin.com/apidocs/for-advertisers

check:
  type: CheckStream
  stream_names:
    - campaign_performance

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: BearerAuthenticator
        api_token: "{{ config[\"api_key\"] }}"

streams:
  - type: DeclarativeStream
    name: campaign_performance
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
        http_method: GET
        request_parameters:
          interval: day
        url: >-
          https://api.awin.com/advertisers/{{ config['advertiserId']
          }}/reports/campaign
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - result
    primary_key:
      - date
      - publisherId
      - campaign
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          campaign:
            type: string
          date:
            type: string
          publisherId:
            type: string
          publisherName:
            type:
              - string
              - "null"
          totals:
            type:
              - object
              - "null"
            properties:
              commissionAmount:
                type:
                  - object
                  - "null"
                properties:
                  approved:
                    type:
                      - string
                      - "null"
                  bonus:
                    type:
                      - string
                      - "null"
                  declined:
                    type:
                      - string
                      - "null"
                  pending:
                    type:
                      - string
                      - "null"
                  total:
                    type:
                      - string
                      - "null"
              quantity:
                type:
                  - object
                  - "null"
                properties:
                  approved:
                    type:
                      - number
                      - "null"
                  bonus:
                    type:
                      - number
                      - "null"
                  click:
                    type:
                      - number
                      - "null"
                  declined:
                    type:
                      - number
                      - "null"
                  pending:
                    type:
                      - number
                      - "null"
                  total:
                    type:
                      - number
                      - "null"
              saleAmount:
                type:
                  - object
                  - "null"
                properties:
                  approved:
                    type:
                      - string
                      - "null"
                  bonus:
                    type:
                      - string
                      - "null"
                  declined:
                    type:
                      - string
                      - "null"
                  pending:
                    type:
                      - string
                      - "null"
                  total:
                    type:
                      - string
                      - "null"
        required:
          - date
          - publisherId
          - campaign
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      step: "{{ config['step_increment'] }}"
      cursor_field: date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%d"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: endDate
        inject_into: request_parameter
      lookback_window: P{{ config['lookback_days'] }}D
      start_time_option:
        type: RequestOption
        field_name: startDate
        inject_into: request_parameter
      cursor_granularity: P1D
      cursor_datetime_formats:
        - "%Y-%m-%d"
      partition_field_end: ""
      partition_field_start: ""
  - type: DeclarativeStream
    name: transactions
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config[\"api_key\"] }}"
        http_method: GET
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              max_retries: 3
              response_filters:
                - type: HttpResponseFilter
                  action: RATE_LIMITED
                  http_codes:
                    - 429
                  error_message: Rate limits hit
                  error_message_contains: ""
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 2
            - type: DefaultErrorHandler
              max_retries: null
        request_parameters:
          showBasketProducts: "True"
        url: >-
          https://api.awin.com/advertisers/{{ config['advertiserId']
          }}/transactions/
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: number
          url:
            type:
              - string
              - "null"
          advertiserId:
            type:
              - number
              - "null"
          publisherId:
            type:
              - number
              - "null"
          siteName:
            type:
              - string
              - "null"
          commissionStatus:
            type:
              - string
              - "null"
          commissionAmount:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - number
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          saleAmount:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - number
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          ipHash:
            type:
              - string
              - "null"
          customerCountry:
            type:
              - string
              - "null"
          clickRefs:
            type:
              - object
              - "null"
            properties:
              clickRef:
                type:
                  - string
                  - "null"
          clickDate:
            type:
              - string
              - "null"
          transactionDate:
            type: string
          voucherCodeUsed:
            type:
              - boolean
              - "null"
          voucherCode:
            type:
              - string
              - "null"
          lapseTime:
            type:
              - number
              - "null"
          amended:
            type:
              - boolean
              - "null"
          clickDevice:
            type:
              - string
              - "null"
          transactionDevice:
            type:
              - string
              - "null"
          customerAcquisition:
            type:
              - string
              - "null"
          publisherUrl:
            type:
              - string
              - "null"
          advertiserCountry:
            type:
              - string
              - "null"
          orderRef:
            type:
              - string
              - "null"
          customParameters:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                key:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - string
                    - "null"
          transactionParts:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                commissionGroupId:
                  type:
                    - number
                    - "null"
                amount:
                  type:
                    - number
                    - "null"
                commissionAmount:
                  type:
                    - number
                    - "null"
                commissionGroupCode:
                  type:
                    - string
                    - "null"
                commissionGroupName:
                  type:
                    - string
                    - "null"
                trackedParts:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      code:
                        type:
                          - string
                          - "null"
                      amount:
                        type:
                          - number
                          - "null"
                      currency:
                        type:
                          - string
                          - "null"
          paidToPublisher:
            type:
              - boolean
              - "null"
          paymentId:
            type:
              - number
              - "null"
          transactionQueryId:
            type:
              - number
              - "null"
          trackedCurrencyAmount:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - number
                  - "null"
              currency:
                type:
                  - string
                  - "null"
          advertiserCost:
            type:
              - object
              - "null"
            properties: {}
          basketProducts:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                productId:
                  type:
                    - string
                    - "null"
                productName:
                  type:
                    - string
                    - "null"
                unitPrice:
                  type:
                    - number
                    - "null"
                quantity:
                  type:
                    - number
                    - "null"
                skuCode:
                  type:
                    - string
                    - "null"
                commissionGroupCode:
                  type:
                    - string
                    - "null"
                category:
                  type:
                    - string
                    - "null"
          networkFee:
            type:
              - object
              - "null"
            properties:
              amount:
                type:
                  - number
                  - "null"
              currency:
                type:
                  - string
                  - "null"
        required:
          - id
          - transactionDate
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      step: "{{ config['step_increment'] }}"
      cursor_field: transactionDate
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}T00:00:00Z"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S"
      end_time_option:
        type: RequestOption
        field_name: endDate
        inject_into: request_parameter
      lookback_window: P{{ config['lookback_days'] }}D
      start_time_option:
        type: RequestOption
        field_name: startDate
        inject_into: request_parameter
      cursor_granularity: P1D
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S"
      partition_field_end: ""
      partition_field_start: ""

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - advertiserId
      - api_key
      - step_increment
      - lookback_days
      - start_date
    properties:
      api_key:
        type: string
        description: >-
          Your Awin API key. Generate this from your Awin account under API
          Credentials.
        order: 1
        title: API Key
        airbyte_secret: true
      start_date:
        type: string
        description: Start date for data replication in YYYY-MM-DD format
        order: 4
        title: Start Date
        format: date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
      advertiserId:
        type: string
        description: >-
          Your Awin Advertiser ID. You can find this in your Awin dashboard or
          account settings.
        name: advertiserId
        order: 0
        title: advertiserId
      lookback_days:
        type: integer
        description: >-
          Number of days to look back on each sync to catch any updates to
          existing records.
        order: 3
        title: Lookback Days
      step_increment:
        type: string
        description: >
          The time window size for each API request in ISO8601 duration format.

          For the campaign performance stream, Awin API explicitly limits the
          period between startDate and endDate to 400 days maximum.
        order: 2
        title: Step Increment
        default: P400D
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://developer.awin.com/apidocs/for-advertisers
  testedStreams:
    transactions:
      hasRecords: true
      streamHash: f0cb73786686cd4978b63c328eb3475151c86e30
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
      isStale: false
    campaign_performance:
      hasRecords: true
      streamHash: 8ac6f2b5f181b977a3bfb6779361285316803229
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
      isStale: false
  autoImportSchema:
    transactions: true
    campaign_performance: true
  applied_migrations:
    - from_version: 6.48.15
      to_version: "*"
      migration: HttpRequesterUrlBaseToUrl
      migrated_at: "2025-08-19T11:34:52.201105+00:00"
    - from_version: 6.48.15
      to_version: "*"
      migration: HttpRequesterPathToUrl
      migrated_at: "2025-08-19T11:34:52.201904+00:00"
