version: 0.30.1
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - Account Metadata
streams:
  - type: DeclarativeStream
    name: Page
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type: string
          kind:
            type: string
          name:
            type: string
          appId:
            type: integer
          color:
            type: string
          dirty:
            type: boolean
          group:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              type:
                type: string
              color:
                type: string
              items:
                type:
                  - array
                  - 'null'
              length:
                type: integer
              createdAt:
                type: integer
              description:
                type: string
              createdByUser:
                type: object
                properties:
                  id:
                    type: string
                  last:
                    type: string
                  role:
                    type: integer
                  first:
                    type: string
                  userType:
                    type: string
                  username:
                    type: string
                  deletedAt:
                    type: integer
                  lastLogin:
                    type: integer
                  visitorIds:
                    type: array
                    items:
                      type: string
                  hasLoggedIn:
                    type: boolean
              lastUpdatedAt:
                type: integer
              lastUpdatedByUser:
                type: object
                properties:
                  id:
                    type: string
                  last:
                    type: string
                  role:
                    type: integer
                  first:
                    type: string
                  userType:
                    type: string
                  username:
                    type: string
                  lastLogin:
                    type: integer
                  visitorIds:
                    type: array
                    items:
                      type: string
                  hasLoggedIn:
                    type: boolean
          rules:
            type: array
            items:
              type: object
              properties:
                rule:
                  type: string
                parsedRule:
                  type: string
                designerHint:
                  type: string
          createdAt:
            type: integer
          rulesjson:
            type: string
          isCoreEvent:
            type: boolean
          isAutoTagged:
            type: boolean
          validThrough:
            type: integer
          createdByUser:
            type: object
            properties:
              id:
                type: string
              last:
                type: string
              role:
                type: integer
              first:
                type: string
              userType:
                type: string
              username:
                type: string
              deletedAt:
                type: integer
              lastLogin:
                type: integer
              visitorIds:
                type: array
                items:
                  type: string
              hasLoggedIn:
                type: boolean
          lastUpdatedAt:
            type: integer
          rootVersionId:
            type: string
          suggestedName:
            type: string
          dailyMergeFirst:
            type: integer
          stableVersionId:
            type: string
          dailyRollupFirst:
            type: integer
          lastUpdatedByUser:
            type: object
            properties:
              id:
                type: string
              last:
                type: string
              role:
                type: integer
              first:
                type: string
              userType:
                type: string
              username:
                type: string
              deletedAt:
                type: integer
              lastLogin:
                type: integer
              visitorIds:
                type: array
                items:
                  type: string
              hasLoggedIn:
                type: boolean
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://app.pendo.io/api/v1
        path: /page
        http_method: GET
        request_parameters: {}
        request_headers: {}
        request_body_json: {}
        authenticator:
          type: ApiKeyAuthenticator
          header: x-pendo-integration-key
          api_token: '{{ config[''api_key''] }}'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: Feature
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type: string
          kind:
            type: string
          name:
            type: string
          appId:
            type: integer
          color:
            type: string
          dirty:
            type: boolean
          group:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              type:
                type: string
              color:
                type: string
              items:
                type:
                  - array
                  - 'null'
              length:
                type: integer
              createdAt:
                type: integer
              description:
                type: string
              createdByUser:
                type: object
                properties:
                  id:
                    type: string
                  last:
                    type: string
                  role:
                    type: integer
                  first:
                    type: string
                  userType:
                    type: string
                  username:
                    type: string
                  deletedAt:
                    type: integer
                  lastLogin:
                    type: integer
                  visitorIds:
                    type: array
                    items:
                      type: string
                  hasLoggedIn:
                    type: boolean
              lastUpdatedAt:
                type: integer
              lastUpdatedByUser:
                type: object
                properties:
                  id:
                    type: string
                  last:
                    type: string
                  role:
                    type: integer
                  first:
                    type: string
                  userType:
                    type: string
                  username:
                    type: string
                  lastLogin:
                    type: integer
                  visitorIds:
                    type: array
                    items:
                      type: string
                  hasLoggedIn:
                    type: boolean
          pageId:
            type: string
          appWide:
            type: boolean
          createdAt:
            type: integer
          isCoreEvent:
            type: boolean
          validThrough:
            type: integer
          createdByUser:
            type: object
            properties:
              id:
                type: string
              last:
                type: string
              role:
                type: integer
              first:
                type: string
              userType:
                type: string
              username:
                type: string
              deletedAt:
                type: integer
              lastLogin:
                type: integer
              visitorIds:
                type: array
                items:
                  type: string
              hasLoggedIn:
                type: boolean
          lastUpdatedAt:
            type: integer
          rootVersionId:
            type: string
          suggestedMatch:
            type: string
          dailyMergeFirst:
            type: integer
          stableVersionId:
            type: string
          dailyRollupFirst:
            type: integer
          elementPathRules:
            type: array
            items:
              type: string
          elementInitialTag:
            type: string
          lastUpdatedByUser:
            type: object
            properties:
              id:
                type: string
              last:
                type: string
              role:
                type: integer
              first:
                type: string
              userType:
                type: string
              username:
                type: string
              deletedAt:
                type: integer
              lastLogin:
                type: integer
              visitorIds:
                type: array
                items:
                  type: string
              hasLoggedIn:
                type: boolean
          elementSelectionType:
            type: string
          createdDesignerVersion:
            type: string
          eventPropertyConfigurations:
            type: array
            items:
              type: object
              properties:
                name:
                  type: string
                path:
                  type: string
                rule:
                  type: string
                type:
                  type: string
                pattern:
                  type: string
                isActive:
                  type: boolean
                selector:
                  type: string
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://app.pendo.io/api/v1
        path: /feature
        http_method: GET
        request_parameters: {}
        request_headers: {}
        request_body_json: {}
        authenticator:
          type: ApiKeyAuthenticator
          header: x-pendo-integration-key
          api_token: '{{ config[''api_key''] }}'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: Report
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type: string
          kind:
            type: string
          name:
            type: string
          type:
            type: string
          level:
            type: string
          scope:
            type: string
          share:
            type: string
          shared:
            type: boolean
          target:
            type: string
          createdAt:
            type: integer
          lastRunAt:
            type: integer
          definition:
            type: object
            properties:
              kind:
                type: string
              type:
                type: string
              config:
                type: object
                properties:
                  appId:
                    type:
                      - integer
                      - string
                  pageId:
                    type: string
                  columns:
                    type: array
                    items:
                      type: object
                      properties:
                        kind:
                          type: string
                        pageId:
                          type: string
                        pollId:
                          type: string
                        schema:
                          type: string
                        guideId:
                          type: string
                        disabled:
                          type: boolean
                        showIcon:
                          type: boolean
                        featureId:
                          type: string
                        fieldName:
                          type: string
                        immutable:
                          type: boolean
                        pollField:
                          type: string
                        columnName:
                          type: string
                        columnLabel:
                          type: string
                        primaryKeys:
                          type: array
                          items:
                            type: string
                        functionName:
                          type: string
                  filters:
                    type: array
                  features:
                    type: boolean
                  segments:
                    type: array
                  maxLength:
                    type: integer
                  omitPages:
                    type: boolean
                  segmentId:
                    type: string
                  acrossApps:
                    type: boolean
                  maxInterval:
                    type: integer
                  trackEvents:
                    type: boolean
                  collapseDups:
                    type: boolean
                  predecessors:
                    type: boolean
                  uniqueVisitors:
                    type: boolean
                  selectedAccount:
                    type: object
                    properties:
                      id:
                        type: string
                      text:
                        type: string
                      className:
                        type: string
              period:
                type: string
              history:
                type: array
              minimum:
                type: integer
              sources:
                type: object
                properties:
                  alls:
                    type: array
                    items:
                      type: string
              segments:
                type: array
                items:
                  type: string
              attribute:
                type: string
              generator:
                type: string
              graphType:
                type: string
              tableType:
                type: string
              dateRanges:
                type: object
                properties:
                  primaryDateRange:
                    type: object
                    properties:
                      type:
                        type: string
                  secondaryDateRange:
                    type: 'null'
                  useSecondaryDateRange:
                    type: boolean
              timeSeries:
                type: object
                properties:
                  end:
                    type: string
                  type:
                    type: string
                  start:
                    type: string
                  primaryTimeSeries:
                    type: object
                    properties:
                      count:
                        type: integer
                      first:
                        type: integer
                      period:
                        type: string
                  secondaryTimeSeries:
                    type: 'null'
              singleSource:
                type: object
                properties:
                  id:
                    type: string
                  kind:
                    type: string
              multiSourceType:
                type: string
              singleSourceType:
                type: string
              isComparingSources:
                type: boolean
              isComparingSegments:
                type: boolean
          aggregation:
            type: object
            properties:
              fields:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    field:
                      type: string
                    title:
                      type: string
              pipeline:
                type: array
                items:
                  type: object
                  properties:
                    eval:
                      type: object
                      properties:
                        account_auto_id:
                          type: string
                        visitor_agent_age:
                          type: string
                        visitor_agent_language:
                          type: string
                        visitor_auto_firstvisit:
                          type: string
                    fork:
                      type: array
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            eval:
                              type: object
                              properties:
                                items:
                                  type: string
                            group:
                              type: object
                              properties:
                                group:
                                  type: array
                                  items:
                                    type: string
                                fields:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      count:
                                        type: object
                                        properties:
                                          count:
                                            type:
                                              - 'null'
                                              - string
                            limit:
                              type: integer
                            treeify:
                              type: object
                              properties:
                                keySort:
                                  type: boolean
                                threshold:
                                  type: number
                    group:
                      type: object
                      properties:
                        group:
                          type: array
                          items:
                            type: string
                        fields:
                          type: array
                          items:
                            type: object
                            properties:
                              path:
                                type: object
                                properties:
                                  path:
                                    type: object
                                    properties:
                                      pageId:
                                        type: string
                                      features:
                                        type: boolean
                                      maxLength:
                                        type: integer
                                      omitPages:
                                        type: boolean
                                      maxInterval:
                                        type: integer
                                      trackEvents:
                                        type: boolean
                                      collapseDups:
                                        type: boolean
                                      predecessors:
                                        type: boolean
                                      followAcrossSessions:
                                        type: boolean
                    merge:
                      type: object
                      properties:
                        fields:
                          type: array
                          items:
                            type: string
                        mappings:
                          type: object
                          properties:
                            daysActive:
                              type: string
                            usageTrending:
                              type: string
                          additionalProperties: true
                        pipeline:
                          type: array
                          items:
                            type: object
                            properties:
                              cat:
                                type: 'null'
                              eval:
                                type: object
                                properties:
                                  usageTrending:
                                    type: string
                              join:
                                type: object
                                properties:
                                  fields:
                                    type: array
                                    items:
                                      type: string
                              group:
                                type: object
                                properties:
                                  group:
                                    type: array
                                    items:
                                      type: string
                                  fields:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        daysActive:
                                          type: object
                                          properties:
                                            count:
                                              type: string
                                      additionalProperties: true
                              spawn:
                                type: array
                                items:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      group:
                                        type: object
                                        properties:
                                          group:
                                            type: array
                                            items:
                                              type: string
                                          fields:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                totalTime:
                                                  type: object
                                                  properties:
                                                    sum:
                                                      type: string
                                                prevTotalTime:
                                                  type: object
                                                  properties:
                                                    sum:
                                                      type: string
                                      source:
                                        type: object
                                        properties:
                                          events:
                                            type: object
                                            properties:
                                              appId:
                                                type:
                                                  - integer
                                                  - string
                                              blacklist:
                                                type: string
                                          timeSeries:
                                            type: object
                                            properties:
                                              last:
                                                type: string
                                              first:
                                                type: string
                                              period:
                                                type: string
                                      identified:
                                        type: string
                              filter:
                                type: string
                              source:
                                type: object
                                properties:
                                  events:
                                    type: object
                                    properties:
                                      appId:
                                        type: string
                                      blacklist:
                                        type: string
                                  pollsSeen:
                                    type: object
                                    properties:
                                      pollId:
                                        type: string
                                      guideId:
                                        type: string
                                      blacklist:
                                        type: string
                                  pageEvents:
                                    type: object
                                    properties:
                                      pageId:
                                        type: string
                                      blacklist:
                                        type: string
                                  timeSeries:
                                    type: object
                                    properties:
                                      last:
                                        type: string
                                      first:
                                        type: string
                                      period:
                                        type: string
                                  guideEvents:
                                    type: object
                                    properties:
                                      guideId:
                                        type: string
                                      blacklist:
                                        type: string
                                  featureEvents:
                                    type: object
                                    properties:
                                      blacklist:
                                        type: string
                                      featureId:
                                        type: string
                                  pollsSeenEver:
                                    type: object
                                    properties:
                                      pollId:
                                        type: string
                                      guideId:
                                        type: string
                                      blacklist:
                                        type: string
                              switch:
                                type: object
                                properties:
                                  response:
                                    type: object
                                    properties:
                                      response:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            '==':
                                              type: integer
                                            value:
                                              type: string
                              segment:
                                type: object
                                properties:
                                  id:
                                    type: string
                              identified:
                                type: string
                    select:
                      type: object
                      properties:
                        accountId:
                          type: string
                        visitorId:
                          type: string
                        daysActive:
                          type: string
                        usageTrending:
                          type: string
                        account_auto_id:
                          type: string
                        visitor_agent_age:
                          type: string
                        visitor_agent_language:
                          type: string
                        visitor_auto_firstvisit:
                          type: string
                      additionalProperties: true
                    source:
                      type: object
                      properties:
                        events:
                          type: object
                          properties:
                            appId:
                              type:
                                - integer
                                - string
                            blacklist:
                              type: string
                        timeSeries:
                          type: object
                          properties:
                            last:
                              type: string
                            count:
                              type: integer
                            first:
                              type:
                                - integer
                                - string
                            period:
                              type: string
                        singleEvents:
                          type: object
                          properties:
                            appId:
                              type: integer
                            blacklist:
                              type: string
                            eventClass:
                              type: array
                              items:
                                type: string
                            reverseTime:
                              type: boolean
                    unwind:
                      type: object
                      properties:
                        field:
                          type: string
                    segment:
                      type: object
                      properties:
                        id:
                          type: string
                    bulkExpand:
                      type: object
                      properties:
                        account:
                          type: object
                          properties:
                            account:
                              type: string
                        visitor:
                          type: object
                          properties:
                            visitor:
                              type: string
                    identified:
                      type: string
          ownedByUser:
            type: object
            properties:
              id:
                type: string
              last:
                type: string
              role:
                type: integer
              first:
                type: string
              userType:
                type: string
              username:
                type: string
              hasLoggedIn:
                type: boolean
          createdByUser:
            type: object
            properties:
              id:
                type: string
              last:
                type: string
              role:
                type: integer
              first:
                type: string
              userType:
                type: string
              username:
                type: string
              deletedAt:
                type: integer
              lastLogin:
                type: integer
              visitorIds:
                type: array
                items:
                  type: string
              hasLoggedIn:
                type: boolean
          lastUpdatedAt:
            type: integer
          rootVersionId:
            type: string
          stableVersionId:
            type: string
          lastSuccessRunAt:
            type: integer
          lastSuccessRunObj:
            type: string
          lastUpdatedByUser:
            type: object
            properties:
              id:
                type: string
              last:
                type: string
              role:
                type: integer
              first:
                type: string
              userType:
                type: string
              username:
                type: string
              deletedAt:
                type: integer
              lastLogin:
                type: integer
              visitorIds:
                type: array
                items:
                  type: string
              hasLoggedIn:
                type: boolean
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://app.pendo.io/api/v1
        path: /report
        http_method: GET
        request_parameters: {}
        request_headers: {}
        request_body_json: {}
        authenticator:
          type: ApiKeyAuthenticator
          header: x-pendo-integration-key
          api_token: '{{ config[''api_key''] }}'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: Guide
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type: string
          kind:
            type: string
          name:
            type: string
          appId:
            type: integer
          polls:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                resetAt:
                  type: integer
                question:
                  type: string
                attributes:
                  type: object
                  properties:
                    type:
                      type: string
                    display:
                      type: string
                    followUp:
                      type: string
                    leftLabel:
                      type: string
                    rightLabel:
                      type: string
                idResponses:
                  type: object
                  additionalProperties: true
                numericResponses:
                  type: array
                  items:
                    type: integer
          state:
            type: string
          steps:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                name:
                  type: string
                rank:
                  type: integer
                type:
                  type: string
                domUrl:
                  type: string
                pageId:
                  type: string
                guideId:
                  type: string
                pollIds:
                  type: array
                  items:
                    type: string
                resetAt:
                  type: integer
                launchUrl:
                  type: string
                attributes:
                  type: object
                  properties:
                    id:
                      type: string
                    css:
                      type: string
                    html:
                      type: string
                    type:
                      type: string
                    color:
                      type: string
                    title:
                      type: string
                    width:
                      type: integer
                    device:
                      type: object
                      properties:
                        iframe:
                          type: boolean
                        mobile:
                          type: boolean
                        desktop:
                          type: boolean
                    height:
                      type: integer
                    enabled:
                      type: boolean
                    themeId:
                      type: string
                    position:
                      type: string
                    template:
                      type: string
                    layoutDir:
                      type: string
                    variables:
                      type: object
                      properties:
                        company:
                          type: string
                        followUpType:
                          type: string
                        successMessage:
                          type: string
                        followUpNeutral:
                          type: string
                        followUpPromoter:
                          type: string
                        followUpStandard:
                          type: string
                        followUpDetractor:
                          type: string
                        enableSuccessMessage:
                          type: boolean
                        receivesRecommendation:
                          type: string
                    autoHeight:
                      type: boolean
                    blockOutUI:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                        padding:
                          type: object
                          properties:
                            top:
                              type: integer
                            left:
                              type: integer
                            right:
                              type: integer
                            bottom:
                              type: integer
                        additionalElements:
                          type: string
                    javascript:
                      type: string
                    guideCssUrl:
                      type: string
                    isAutoFocus:
                      type: boolean
                    templateName:
                      type: string
                    advanceActions:
                      anyOf:
                        - type: 'null'
                        - type: object
                          properties:
                            elementClick:
                              type: boolean
                            elementHover:
                              type: boolean
                    contentHostUrl:
                      type: string
                    launcherBadgeUrl:
                      type: string
                    elementSelectionType:
                      type: string
                contentUrl:
                  type: string
                templateId:
                  type: string
                contentType:
                  type: string
                domJsonpUrl:
                  type: string
                contentUrlJs:
                  type: string
                regexUrlRule:
                  type: string
                advanceMethod:
                  type: string
                contentUrlCss:
                  type: string
                lastUpdatedAt:
                  type: integer
                elementPathRule:
                  type: string
                buildingBlocksUrl:
                  type: string
                triggerElementPathRule:
                  type: string
                confirmationElementPathRule:
                  type: string
          appIds:
            type: array
            items:
              type: integer
          resetAt:
            type: integer
          audience:
            type: array
            items:
              type: object
              properties:
                eval:
                  type: object
                  properties:
                    accountId:
                      type: string
                filter:
                  type: string
                select:
                  type: object
                  properties:
                    visitorId:
                      type: string
                source:
                  type: object
                  properties:
                    visitors:
                      anyOf:
                        - type: 'null'
                        - type: object
                          properties:
                            identified:
                              type: boolean
                unwind:
                  type: object
                  properties:
                    field:
                      type: string
                    keepEmpty:
                      type: boolean
                segment:
                  type: object
                  properties:
                    id:
                      type: string
                identified:
                  type: string
          children:
            type: array
            items:
              type: string
          isModule:
            type: boolean
          originId:
            type: string
          createdAt:
            type: integer
          attributes:
            type: object
            properties:
              dom:
                type: object
                properties:
                  isOnlyShowOnce:
                    type: boolean
                  showGuideOnlyOnElementClick:
                    type: boolean
              type:
                type: string
              badge:
                anyOf:
                  - type: 'null'
                  - type: object
                    properties:
                      name:
                        type: string
                      color:
                        type: string
                      width:
                        type: integer
                      bbJson:
                        type: object
                        properties:
                          id:
                            type: string
                          web:
                            type: object
                            properties:
                              type:
                                type: string
                              domId:
                                type: string
                              layout:
                                type: string
                              ariaLabel:
                                type: string
                              domClasses:
                                type: array
                              semanticTag:
                                type: string
                              ariaExpanded:
                                type: string
                              pseudoStyles:
                                type: array
                              translationId:
                                type: string
                          views:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                web:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                    domId:
                                      type: string
                                    altText:
                                      type: string
                                    wrapper:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        props:
                                          type: object
                                          properties:
                                            id:
                                              type: string
                                            class:
                                              type: string
                                            data-img-id:
                                              type: string
                                        children:
                                          type: array
                                    domClasses:
                                      type: array
                                    semanticTag:
                                      type: string
                                    pseudoStyles:
                                      type: array
                                    translationId:
                                      type: string
                                views:
                                  type: array
                                widget:
                                  type: string
                                actions:
                                  type: array
                                layoutId:
                                  type: 'null'
                                properties:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                      type:
                                        type: string
                                      value:
                                        type:
                                          - integer
                                          - string
                                uiMetadata:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    wizard:
                                      type: object
                                      properties:
                                        defaultValues:
                                          type: object
                                        defaultActions:
                                          type: object
                                templateName:
                                  type: 'null'
                          widget:
                            type: string
                          actions:
                            type: array
                          layoutId:
                            type: 'null'
                          properties:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                type:
                                  type: string
                                value:
                                  type:
                                    - integer
                                    - string
                          uiMetadata:
                            type: object
                            properties:
                              name:
                                type: string
                              wizard:
                                type: object
                                properties:
                                  defaultValues:
                                    type: object
                                  defaultActions:
                                    type: object
                          templateName:
                            type: 'null'
                      height:
                        type: integer
                      domJson:
                        type: object
                        properties:
                          type:
                            type: string
                          props:
                            type: object
                            properties:
                              id:
                                type: string
                              type:
                                type: string
                              class:
                                type: string
                              style:
                                type: object
                                properties:
                                  top:
                                    type: string
                                  left:
                                    type: string
                                  float:
                                    type: string
                                  right:
                                    type: string
                                  width:
                                    type: string
                                  border:
                                    type: string
                                  bottom:
                                    type: string
                                  height:
                                    type: string
                                  display:
                                    type: string
                                  z-index:
                                    type: integer
                                  position:
                                    type: string
                                  font-size:
                                    type: string
                                  min-width:
                                    type: string
                                  background:
                                    type: string
                                  box-shadow:
                                    type: string
                                  margin-top:
                                    type: string
                                  min-height:
                                    type: string
                                  line-height:
                                    type: integer
                                  margin-left:
                                    type: string
                                  padding-top:
                                    type: string
                                  margin-right:
                                    type: string
                                  padding-left:
                                    type: string
                                  border-radius:
                                    type: string
                                  margin-bottom:
                                    type: string
                                  padding-right:
                                    type: string
                                  padding-bottom:
                                    type: string
                                  vertical-align:
                                    type: string
                              aria-label:
                                type: string
                              data-layout:
                                type: string
                              aria-expanded:
                                type: string
                          children:
                            type: array
                            items:
                              type: object
                              properties:
                                css:
                                  type: array
                                type:
                                  type: string
                                props:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    alt:
                                      type: string
                                    src:
                                      type: string
                                    type:
                                      type: string
                                    class:
                                      type: string
                                    style:
                                      type: object
                                      properties:
                                        float:
                                          type: string
                                        width:
                                          type: string
                                        border:
                                          type: string
                                        height:
                                          type: string
                                        margin:
                                          type: string
                                        display:
                                          type: string
                                        padding:
                                          type: string
                                        box-shadow:
                                          type: string
                                        line-height:
                                          type: integer
                                        vertical-align:
                                          type: string
                                    scoped:
                                      type: string
                                    data-img-id:
                                      type: string
                                    data-_pendo-image-1:
                                      type: string
                                    data-_pendo-image-wrapper-1:
                                      type: string
                                children:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                      props:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                          alt:
                                            type: string
                                          src:
                                            type: string
                                          type:
                                            type: string
                                          class:
                                            type: string
                                          style:
                                            type: object
                                            properties:
                                              float:
                                                type: string
                                              width:
                                                type: string
                                              border:
                                                type: string
                                              height:
                                                type: string
                                              margin:
                                                type: string
                                              display:
                                                type: string
                                              padding:
                                                type: string
                                              box-shadow:
                                                type: string
                                              line-height:
                                                type: integer
                                              vertical-align:
                                                type: string
                                          data-_pendo-image-1:
                                            type: string
                      offsets:
                        type: object
                        properties:
                          top:
                            type: integer
                          left:
                            type: integer
                          right:
                            type: integer
                      imageUrl:
                        type: string
                      position:
                        type: string
                      isOnlyShowOnce:
                        type: boolean
                      showGuideOnBadgeHover:
                        type: boolean
                      showBadgeOnlyOnElementHover:
                        type: boolean
              dates:
                type: object
                properties:
                  es:
                    type: string
                  ja:
                    type: string
                  en-US:
                    type: string
              email:
                type: boolean
              device:
                type: object
                properties:
                  type:
                    type: string
              capping:
                type: object
                properties:
                  maxImpressions:
                    type: integer
                  maxSessionImpressions:
                    type: integer
              priority:
                type: integer
              activation:
                anyOf:
                  - type: 'null'
                  - type: object
                    properties:
                      event:
                        type: array
                        items:
                          type: string
                      selector:
                        type: string
                      inheritStepOne:
                        type: boolean
              isAnnouncement:
                type: boolean
              resourceCenter:
                type: object
                properties:
                  children:
                    type: array
                    items:
                      type: string
                  isModule:
                    type: boolean
                  moduleId:
                    type: string
                  originId:
                    type: string
                  homeViewId:
                    type: string
                  isTopLevel:
                    type: boolean
                  integrationName:
                    type: string
                  integrationProvider:
                    type: string
              notificationBubble:
                type: object
                properties:
                  color:
                    type: string
                  font-family:
                    type: string
                  font-weight:
                    type: integer
                  background-color:
                    type: string
              elementSelectionType:
                type: string
              sharedServiceVersion:
                type: string
              overrideAutoThrottling:
                type: boolean
          conversion:
            type: object
            properties:
              itemId:
                type: string
              itemType:
                type: string
              attributionWindow:
                type: integer
          editorType:
            type: string
          emailState:
            type: string
          experiment:
            type: object
            properties:
              endTime:
                type: integer
              groupSize:
                type: integer
              startTime:
                type: integer
              notificationDuration:
                type: integer
          isTopLevel:
            type: boolean
          isTraining:
            type: boolean
          recurrence:
            type: integer
          showsAfter:
            type: integer
          description:
            type: string
          isMultiStep:
            type: boolean
          publishedAt:
            type: integer
          launchMethod:
            type: string
          createdByUser:
            type: object
            properties:
              id:
                type: string
              last:
                type: string
              role:
                type: integer
              first:
                type: string
              userType:
                type: string
              username:
                type: string
              deletedAt:
                type: integer
              lastLogin:
                type: integer
              visitorIds:
                type: array
                items:
                  type: string
              hasLoggedIn:
                type: boolean
          lastUpdatedAt:
            type: integer
          publishedEver:
            type: boolean
          rootVersionId:
            type: string
          audienceUiHint:
            type: object
            properties:
              filters:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    key:
                      type: string
                    kind:
                      type: string
                    name:
                      type: string
                    type:
                      type: string
                    field:
                      type: string
                    group:
                      type: string
                    value:
                      type:
                        - integer
                        - string
                    $valid:
                      type: boolean
                    schema:
                      type: string
                    operator:
                      type: string
                    segmentId:
                      type: string
                    elementType:
                      type: string
          minAgentVersion:
            type: string
          stableVersionId:
            type: string
          authoredLanguage:
            type: string
          resourceCenterId:
            type: string
          lastUpdatedByUser:
            type: object
            properties:
              id:
                type: string
              last:
                type: string
              role:
                type: integer
              first:
                type: string
              userType:
                type: string
              username:
                type: string
              deletedAt:
                type: integer
              lastLogin:
                type: integer
              visitorIds:
                type: array
                items:
                  type: string
              hasLoggedIn:
                type: boolean
          emailConfiguration:
            type: object
            properties:
              subject:
                type: string
              emailMetadataPropertyName:
                type: string
          recurrenceEligibilityWindow:
            type: integer
          currentFirstEligibleToBeSeenAt:
            type: integer
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://app.pendo.io/api/v1
        path: /guide
        http_method: GET
        request_parameters: {}
        request_headers: {}
        request_body_json: {}
        authenticator:
          type: ApiKeyAuthenticator
          header: x-pendo-integration-key
          api_token: '{{ config[''api_key''] }}'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: Account Metadata
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          agent:
            properties:
              id:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                type: object
              name:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                  sample:
                    type: string
                type: object
              size:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                  sample:
                    type: string
                type: object
              tier:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                  sample:
                    type: string
                type: object
              timezone:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                  sample:
                    type: string
                type: object
            type: object
          auto:
            properties:
              firstvisit:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                type: object
              id:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                type: object
              lastvisit:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                type: object
            type: object
          pendo:
            properties:
              blacklistguides:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                type: object
              donotprocess:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                type: object
            type: object
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://app.pendo.io/api/v1
        path: /metadata/schema/account
        http_method: GET
        request_parameters: {}
        request_headers: {}
        request_body_json: {}
        authenticator:
          type: ApiKeyAuthenticator
          header: x-pendo-integration-key
          api_token: '{{ config[''api_key''] }}'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: Visitor Metadata
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          agent:
            properties:
              age:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                  sample:
                    type: string
                type: object
              country:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                  sample:
                    type: string
                type: object
              displayname:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                  sample:
                    type: string
                type: object
              email:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                  sample:
                    type: string
                type: object
              firstname:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                  sample:
                    type: string
                type: object
              gender:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                  sample:
                    type: string
                type: object
              language:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                  sample:
                    type: string
                type: object
              loccomplete:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                  sample:
                    type: string
                type: object
              name:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                  sample:
                    type: string
                type: object
              role:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                  sample:
                    type: string
                type: object
              tags:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                  sample:
                    items:
                      type: string
                    type: array
                type: object
            type: object
          auto:
            properties:
              accountid:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                type: object
              accountids:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                type: object
              firstvisit:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                type: object
              id:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                type: object
              lastbrowsername:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                type: object
              lastbrowserversion:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                type: object
              lastoperatingsystem:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                type: object
              lastservername:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                type: object
              lastvisit:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                type: object
            type: object
          custom:
            properties:
              practicumtest:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                type: object
              rmlsurveytest:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                type: object
              special:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                type: object
            type: object
          pendo:
            properties:
              blacklistguides:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                type: object
              designerenabled:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                type: object
              donotprocess:
                properties:
                  Dirty:
                    type: boolean
                  DisplayName:
                    type: string
                  ElementFormat:
                    type: string
                  ElementType:
                    type: string
                  Type:
                    type: string
                  isCalculated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  isHidden:
                    type: boolean
                  isPerApp:
                    type: boolean
                  isPromoted:
                    type: boolean
                  neverIndex:
                    type: boolean
                type: object
            type: object
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://app.pendo.io/api/v1
        path: /metadata/schema/visitor
        http_method: GET
        request_parameters: {}
        request_headers: {}
        request_body_json: {}
        authenticator:
          type: ApiKeyAuthenticator
          header: x-pendo-integration-key
          api_token: '{{ config[''api_key''] }}'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
spec:
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
    additionalProperties: true
  documentation_url: https://docs.airbyte.com/integrations/sources/pendo
  type: Spec
