version: 0.78.5

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - Account Metadata

definitions:
  streams:
    Page:
      type: DeclarativeStream
      name: Page
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /page
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Page"
    Feature:
      type: DeclarativeStream
      name: Feature
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /feature
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Feature"
    Report:
      type: DeclarativeStream
      name: Report
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /report
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Report"
    Guide:
      type: DeclarativeStream
      name: Guide
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /guide
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Guide"
    Account Metadata:
      type: DeclarativeStream
      name: Account Metadata
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /metadata/schema/account
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Account Metadata"
    Visitor Metadata:
      type: DeclarativeStream
      name: Visitor Metadata
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /metadata/schema/visitor
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Visitor Metadata"
  base_requester:
    type: HttpRequester
    url_base: https://app.pendo.io/api/v1
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['api_key'] }}"
      inject_into:
        type: RequestOption
        field_name: x-pendo-integration-key
        inject_into: header

streams:
  - $ref: "#/definitions/streams/Page"
  - $ref: "#/definitions/streams/Feature"
  - $ref: "#/definitions/streams/Report"
  - $ref: "#/definitions/streams/Guide"
  - $ref: "#/definitions/streams/Account Metadata"
  - $ref: "#/definitions/streams/Visitor Metadata"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
    additionalProperties: true

metadata:
  autoImportSchema:
    Page: false
    Feature: false
    Report: false
    Guide: false
    Account Metadata: false
    Visitor Metadata: false

schemas:
  Page:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      appId:
        type: integer
        description: The ID of the Pendo application to which the page belongs.
      color:
        type: string
        description: The color associated with the page.
      createdAt:
        type: integer
        description: The date and time when the page was created.
      createdByUser:
        type: object
        description: Details about the user who created the page.
        properties:
          deletedAt:
            type: integer
            description: The date and time when the user was deleted.
          first:
            type: string
            description: The first name of the user.
          hasLoggedIn:
            type: boolean
            description: Flag indicating if the user has logged in.
          id:
            type: string
            description: The unique ID of the user.
          last:
            type: string
            description: The last name of the user.
          lastLogin:
            type: integer
            description: The date and time of the user's last login.
          role:
            type: integer
            description: The role of the user.
          userType:
            type: string
            description: The type of user.
          username:
            type: string
            description: The username of the user.
          visitorIds:
            type: array
            description: An array of visitor IDs associated with the user.
            items:
              type: string
              description: An individual visitor ID.
      dailyMergeFirst:
        type: integer
        description: Placeholder for daily merge information.
      dailyRollupFirst:
        type: integer
        description: Placeholder for daily rollup information.
      dirty:
        type: boolean
        description: Flag indicating if the page data is dirty or needs updating.
      group:
        type: object
        description: Details about the group to which the page belongs.
        properties:
          type:
            type: string
            description: The type of the group.
          color:
            type: string
            description: The color associated with the group.
          createdAt:
            type: integer
            description: The date and time when the group was created.
          createdByUser:
            type: object
            description: Details about the user who created the group.
            properties:
              deletedAt:
                type: integer
                description: The date and time when the user was deleted.
              first:
                type: string
                description: The first name of the user.
              hasLoggedIn:
                type: boolean
                description: Flag indicating if the user has logged in.
              id:
                type: string
                description: The unique ID of the user.
              last:
                type: string
                description: The last name of the user.
              lastLogin:
                type: integer
                description: The date and time of the user's last login.
              role:
                type: integer
                description: The role of the user.
              userType:
                type: string
                description: The type of user.
              username:
                type: string
                description: The username of the user.
              visitorIds:
                type: array
                description: An array of visitor IDs associated with the user.
                items:
                  type: string
                  description: An individual visitor ID.
          description:
            type: string
            description: The description of the group.
          id:
            type: string
            description: The unique ID of the group.
          items:
            type:
              - array
              - "null"
            description: An array of items belonging to the group.
          lastUpdatedAt:
            type: integer
            description: The date and time of the last update to the group.
          lastUpdatedByUser:
            type: object
            description: Details about the user who last updated the group.
            properties:
              first:
                type: string
                description: The first name of the user.
              hasLoggedIn:
                type: boolean
                description: Flag indicating if the user has logged in.
              id:
                type: string
                description: The unique ID of the user.
              last:
                type: string
                description: The last name of the user.
              lastLogin:
                type: integer
                description: The date and time of the user's last login.
              role:
                type: integer
                description: The role of the user.
              userType:
                type: string
                description: The type of user.
              username:
                type: string
                description: The username of the user.
              visitorIds:
                type: array
                description: An array of visitor IDs associated with the user.
                items:
                  type: string
                  description: An individual visitor ID.
          length:
            type: integer
            description: The length of the group.
          name:
            type: string
            description: The name of the group.
      id:
        type: string
        description: The unique ID of the page.
      isAutoTagged:
        type: boolean
        description: Flag indicating if the page is automatically tagged.
      isCoreEvent:
        type: boolean
        description: Flag indicating if the page is a core event.
      kind:
        type: string
        description: The kind of page data.
      lastUpdatedAt:
        type: integer
        description: The date and time of the last update to the page.
      lastUpdatedByUser:
        type: object
        description: Details about the user who last updated the page.
        properties:
          deletedAt:
            type: integer
            description: The date and time when the user was deleted.
          first:
            type: string
            description: The first name of the user.
          hasLoggedIn:
            type: boolean
            description: Flag indicating if the user has logged in.
          id:
            type: string
            description: The unique ID of the user.
          last:
            type: string
            description: The last name of the user.
          lastLogin:
            type: integer
            description: The date and time of the user's last login.
          role:
            type: integer
            description: The role of the user.
          userType:
            type: string
            description: The type of user.
          username:
            type: string
            description: The username of the user.
          visitorIds:
            type: array
            description: An array of visitor IDs associated with the user.
            items:
              type: string
              description: An individual visitor ID.
      name:
        type: string
        description: The name of the page.
      rootVersionId:
        type: string
        description: The ID of the root version of the page.
      rules:
        type: array
        description: Rules associated with the page.
        items:
          type: object
          description: Individual rule details.
          properties:
            designerHint:
              type: string
              description: The designer hint for the rule.
            parsedRule:
              type: string
              description: The parsed version of the rule.
            rule:
              type: string
              description: The rule definition.
      rulesjson:
        type: string
        description: The JSON representation of rules associated with the page.
      stableVersionId:
        type: string
        description: The ID of the stable version of the page.
      suggestedName:
        type: string
        description: The suggested name for the page.
      validThrough:
        type: integer
        description: The date until which the page data is valid.
    additionalProperties: true
  Feature:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      appId:
        type: integer
        description: The unique identifier of the application to which the feature belongs.
      appWide:
        type: boolean
        description: >-
          Indicates whether the feature is applicable across the entire
          application.
      color:
        type: string
        description: The color associated with the feature for visual identification.
      createdAt:
        type: integer
        description: The timestamp when the feature was created.
      createdByUser:
        type: object
        description: Details of the user who created the feature.
        properties:
          deletedAt:
            type: integer
            description: Timestamp when the user was deleted.
          first:
            type: string
            description: The first name of the user.
          hasLoggedIn:
            type: boolean
            description: Flag indicating if the user has logged in.
          id:
            type: string
            description: The unique identifier of the user.
          last:
            type: string
            description: The last name of the user.
          lastLogin:
            type: integer
            description: Timestamp of the user's last login.
          role:
            type: integer
            description: The role of the user.
          userType:
            type: string
            description: The type of user.
          username:
            type: string
            description: The username of the user.
          visitorIds:
            type: array
            description: List of visitor identifiers associated with the user.
            items:
              type: string
              description: Unique identifier of a visitor.
      createdDesignerVersion:
        type: string
        description: The version of the designer tool used during feature creation.
      dailyMergeFirst:
        type: integer
        description: Timestamp of the first daily merge process for the feature.
      dailyRollupFirst:
        type: integer
        description: Timestamp of the first daily rollup process for the feature.
      dirty:
        type: boolean
        description: Indicates if the feature is marked as 'dirty' for updates.
      elementInitialTag:
        type: string
        description: The initial tag associated with the feature element.
      elementPathRules:
        type: array
        description: Rules defining the paths of elements associated with the feature.
        items:
          type: string
          description: A specific path rule for element selection.
      elementSelectionType:
        type: string
        description: Type of selection method used for elements.
      eventPropertyConfigurations:
        type: array
        description: Configurations for event properties.
        items:
          type: object
          description: Settings for a specific event property.
          properties:
            type:
              type: string
              description: The type of the property.
            isActive:
              type: boolean
              description: Flag indicating if the property is active.
            name:
              type: string
              description: The name of the property.
            path:
              type: string
              description: The path associated with the property.
            pattern:
              type: string
              description: Pattern used for property matching.
            rule:
              type: string
              description: The rule applied to the property.
            selector:
              type: string
              description: Selector for the property.
      group:
        type: object
        description: Details of the group to which the feature belongs.
        properties:
          type:
            type: string
            description: The type of the group.
          color:
            type: string
            description: Color assigned to the group.
          createdAt:
            type: integer
            description: Timestamp of group creation.
          createdByUser:
            type: object
            description: Details of the user who created the group.
            properties:
              deletedAt:
                type: integer
                description: Timestamp when the user was deleted.
              first:
                type: string
                description: The first name of the user.
              hasLoggedIn:
                type: boolean
                description: Flag indicating if the user has logged in.
              id:
                type: string
                description: The unique identifier of the user.
              last:
                type: string
                description: The last name of the user.
              lastLogin:
                type: integer
                description: Timestamp of the user's last login.
              role:
                type: integer
                description: The role of the user.
              userType:
                type: string
                description: The type of user.
              username:
                type: string
                description: The username of the user.
              visitorIds:
                type: array
                description: List of visitor identifiers associated with the user.
                items:
                  type: string
                  description: Unique identifier of a visitor.
          description:
            type: string
            description: Description of the group.
          id:
            type: string
            description: The unique identifier of the group.
          items:
            type:
              - array
              - "null"
            description: Items included in the group.
          lastUpdatedAt:
            type: integer
            description: Timestamp of the last group update.
          lastUpdatedByUser:
            type: object
            description: Details of the user who last updated the group.
            properties:
              first:
                type: string
                description: The first name of the user.
              hasLoggedIn:
                type: boolean
                description: Flag indicating if the user has logged in.
              id:
                type: string
                description: The unique identifier of the user.
              last:
                type: string
                description: The last name of the user.
              lastLogin:
                type: integer
                description: Timestamp of the user's last login.
              role:
                type: integer
                description: The role of the user.
              userType:
                type: string
                description: The type of user.
              username:
                type: string
                description: The username of the user.
              visitorIds:
                type: array
                description: List of visitor identifiers associated with the user.
                items:
                  type: string
                  description: Unique identifier of a visitor.
          length:
            type: integer
            description: The number of items in the group.
          name:
            type: string
            description: The name of the group.
      id:
        type: string
        description: The unique identifier of the feature.
      isCoreEvent:
        type: boolean
        description: Indicates if the feature is a core event.
      kind:
        type: string
        description: The kind of feature.
      lastUpdatedAt:
        type: integer
        description: Timestamp of the last feature update.
      lastUpdatedByUser:
        type: object
        description: Details of the user who last updated the feature.
        properties:
          deletedAt:
            type: integer
            description: Timestamp when the user was deleted.
          first:
            type: string
            description: The first name of the user.
          hasLoggedIn:
            type: boolean
            description: Flag indicating if the user has logged in.
          id:
            type: string
            description: The unique identifier of the user.
          last:
            type: string
            description: The last name of the user.
          lastLogin:
            type: integer
            description: Timestamp of the user's last login.
          role:
            type: integer
            description: The role of the user.
          userType:
            type: string
            description: The type of user.
          username:
            type: string
            description: The username of the user.
          visitorIds:
            type: array
            description: List of visitor identifiers associated with the user.
            items:
              type: string
              description: Unique identifier of a visitor.
      name:
        type: string
        description: The name of the feature.
      pageId:
        type: string
        description: The unique identifier of the page associated with the feature.
      rootVersionId:
        type: string
        description: The unique identifier of the root version of the feature.
      stableVersionId:
        type: string
        description: The unique identifier of the stable version of the feature.
      suggestedMatch:
        type: string
        description: Indicates if there is a suggested match for the feature.
      validThrough:
        type: integer
        description: The timestamp until which the feature is valid.
    additionalProperties: true
  Report:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      type:
        type: string
        description: The type or category of the report data.
      aggregation:
        type: object
        description: Defines aggregations to be applied to the report data
        properties:
          fields:
            type: array
            description: List of fields to be aggregated
            items:
              type: object
              properties:
                type:
                  type: string
                  description: Data type of the field
                field:
                  type: string
                  description: Name of the field to be aggregated
                title:
                  type: string
                  description: Title for the aggregated field
          pipeline:
            type: array
            description: Defines the aggregation pipeline stages
            items:
              type: object
              properties:
                bulkExpand:
                  type: object
                  description: Stage to expand data for specified accounts or visitors
                  properties:
                    account:
                      type: object
                      description: Details for expanding account data
                      properties:
                        account:
                          type: string
                          description: Account ID
                    visitor:
                      type: object
                      description: Details for expanding visitor data
                      properties:
                        visitor:
                          type: string
                          description: Visitor ID
                eval:
                  type: object
                  description: Stage to evaluate specific fields
                  properties:
                    account_auto_id:
                      type: string
                      description: Auto-generated ID for the account
                    visitor_agent_age:
                      type: string
                      description: Age of the visitor's agent
                    visitor_agent_language:
                      type: string
                      description: Language used by the visitor's agent
                    visitor_auto_firstvisit:
                      type: string
                      description: Auto-generated first visit timestamp
                fork:
                  type: array
                  description: Stage to fork the pipeline
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        eval:
                          type: object
                          description: Evaluate specific conditions
                          properties:
                            items:
                              type: string
                        group:
                          type: object
                          description: Group data based on specified conditions
                          properties:
                            fields:
                              type: array
                              description: Fields for grouping
                              items:
                                type: object
                                properties:
                                  count:
                                    type: object
                                    description: Count of grouped items
                                    properties:
                                      count:
                                        type:
                                          - "null"
                                          - string
                                        description: Count of grouped items
                            group:
                              type: array
                              items:
                                type: string
                        limit:
                          type: integer
                        treeify:
                          type: object
                          description: Treeify data based on specified keys
                          properties:
                            keySort:
                              type: boolean
                              description: Key to sort the data tree
                            threshold:
                              type: number
                              description: Threshold for treeifying the data
                group:
                  type: object
                  description: Group data based on specified conditions
                  properties:
                    fields:
                      type: array
                      description: Fields for grouping data
                      items:
                        type: object
                        properties:
                          path:
                            type: object
                            description: Path settings for grouping data
                            properties:
                              path:
                                type: object
                                description: Path settings for grouping data
                                properties:
                                  collapseDups:
                                    type: boolean
                                    description: Collapse duplicate entries
                                  features:
                                    type: boolean
                                    description: Features to consider
                                  followAcrossSessions:
                                    type: boolean
                                    description: Follow data across sessions
                                  maxInterval:
                                    type: integer
                                    description: Maximum interval allowed
                                  maxLength:
                                    type: integer
                                    description: Maximum length of data
                                  omitPages:
                                    type: boolean
                                    description: Pages to omit from grouping
                                  pageId:
                                    type: string
                                    description: ID of the page
                                  predecessors:
                                    type: boolean
                                    description: Predecessors to consider
                                  trackEvents:
                                    type: boolean
                                    description: Events to track
                    group:
                      type: array
                      items:
                        type: string
                identified:
                  type: string
                merge:
                  type: object
                  description: Merge data based on specified fields and mappings
                  properties:
                    fields:
                      type: array
                      items:
                        type: string
                    mappings:
                      type: object
                      additionalProperties: true
                      description: Field mappings for merging data
                      properties:
                        daysActive:
                          type: string
                        usageTrending:
                          type: string
                    pipeline:
                      type: array
                      description: Pipeline stages for merging
                      items:
                        type: object
                        properties:
                          cat:
                            type: "null"
                          eval:
                            type: object
                            description: Evaluate usage trending data
                            properties:
                              usageTrending:
                                type: string
                          filter:
                            type: string
                          group:
                            type: object
                            description: Group data for merging
                            properties:
                              fields:
                                type: array
                                description: Fields for grouping
                                items:
                                  type: object
                                  additionalProperties: true
                                  properties:
                                    daysActive:
                                      type: object
                                      description: Days active count
                                      properties:
                                        count:
                                          type: string
                                          description: Count of days active
                              group:
                                type: array
                                items:
                                  type: string
                          identified:
                            type: string
                          join:
                            type: object
                            properties:
                              fields:
                                type: array
                                items:
                                  type: string
                          segment:
                            type: object
                            description: Segment ID for merging data
                            properties:
                              id:
                                type: string
                                description: Segment ID
                          source:
                            type: object
                            description: Source settings for merging data
                            properties:
                              events:
                                type: object
                                description: Data events settings
                                properties:
                                  appId:
                                    type: string
                                  blacklist:
                                    type: string
                              featureEvents:
                                type: object
                                description: Feature events settings
                                properties:
                                  blacklist:
                                    type: string
                                  featureId:
                                    type: string
                              guideEvents:
                                type: object
                                description: Guide events settings
                                properties:
                                  blacklist:
                                    type: string
                                  guideId:
                                    type: string
                              pageEvents:
                                type: object
                                description: Page events settings
                                properties:
                                  blacklist:
                                    type: string
                                  pageId:
                                    type: string
                              pollsSeen:
                                type: object
                                description: Settings for seen polls
                                properties:
                                  blacklist:
                                    type: string
                                  guideId:
                                    type: string
                                  pollId:
                                    type: string
                              pollsSeenEver:
                                type: object
                                description: Settings for seen polls across sessions
                                properties:
                                  blacklist:
                                    type: string
                                  guideId:
                                    type: string
                                  pollId:
                                    type: string
                              timeSeries:
                                type: object
                                description: Time series settings
                                properties:
                                  first:
                                    type: string
                                  last:
                                    type: string
                                  period:
                                    type: string
                          spawn:
                            type: array
                            description: Spawn data based on specified conditions
                            items:
                              type: array
                              items:
                                type: object
                                properties:
                                  group:
                                    type: object
                                    description: Group data
                                    properties:
                                      fields:
                                        type: array
                                        description: Fields for grouping
                                        items:
                                          type: object
                                          properties:
                                            prevTotalTime:
                                              type: object
                                              description: Previous total time settings
                                              properties:
                                                sum:
                                                  type: string
                                            totalTime:
                                              type: object
                                              description: Total time settings
                                              properties:
                                                sum:
                                                  type: string
                                      group:
                                        type: array
                                        items:
                                          type: string
                                  identified:
                                    type: string
                                  source:
                                    type: object
                                    description: Data source settings
                                    properties:
                                      events:
                                        type: object
                                        description: Data events settings
                                        properties:
                                          appId:
                                            type:
                                              - integer
                                              - string
                                          blacklist:
                                            type: string
                                      timeSeries:
                                        type: object
                                        description: Time series settings
                                        properties:
                                          first:
                                            type: string
                                          last:
                                            type: string
                                          period:
                                            type: string
                          switch:
                            type: object
                            description: Switch response based on conditions
                            properties:
                              response:
                                type: object
                                description: Response settings
                                properties:
                                  response:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        "==":
                                          type: integer
                                        value:
                                          type: string
                segment:
                  type: object
                  description: Segment ID for filtering data
                  properties:
                    id:
                      type: string
                      description: Segment ID
                select:
                  type: object
                  additionalProperties: true
                  description: Select fields for the report data
                  properties:
                    accountId:
                      type: string
                    account_auto_id:
                      type: string
                    daysActive:
                      type: string
                    usageTrending:
                      type: string
                    visitorId:
                      type: string
                    visitor_agent_age:
                      type: string
                    visitor_agent_language:
                      type: string
                    visitor_auto_firstvisit:
                      type: string
                source:
                  type: object
                  description: Source settings for the report data
                  properties:
                    events:
                      type: object
                      description: Event settings
                      properties:
                        appId:
                          type:
                            - integer
                            - string
                        blacklist:
                          type: string
                    singleEvents:
                      type: object
                      description: Settings for single events
                      properties:
                        appId:
                          type: integer
                        blacklist:
                          type: string
                        eventClass:
                          type: array
                          items:
                            type: string
                        reverseTime:
                          type: boolean
                    timeSeries:
                      type: object
                      description: Time series settings
                      properties:
                        count:
                          type: integer
                        first:
                          type:
                            - integer
                            - string
                        last:
                          type: string
                        period:
                          type: string
                unwind:
                  type: object
                  description: Unwind specified field
                  properties:
                    field:
                      type: string
                      description: Field to unwind
      createdAt:
        type: integer
        description: Timestamp when the report was created
      createdByUser:
        type: object
        description: User who created the report
        properties:
          deletedAt:
            type: integer
          first:
            type: string
          hasLoggedIn:
            type: boolean
          id:
            type: string
          last:
            type: string
          lastLogin:
            type: integer
          role:
            type: integer
          userType:
            type: string
          username:
            type: string
          visitorIds:
            type: array
            items:
              type: string
      definition:
        type: object
        description: Definition of the report data structure
        properties:
          type:
            type: string
          attribute:
            type: string
          config:
            type: object
            description: Configuration settings for the report
            properties:
              acrossApps:
                type: boolean
              appId:
                type:
                  - integer
                  - string
              collapseDups:
                type: boolean
              columns:
                type: array
                description: Columns configuration
                items:
                  type: object
                  properties:
                    columnLabel:
                      type: string
                    columnName:
                      type: string
                    disabled:
                      type: boolean
                    featureId:
                      type: string
                    fieldName:
                      type: string
                    functionName:
                      type: string
                    guideId:
                      type: string
                    immutable:
                      type: boolean
                    kind:
                      type: string
                    pageId:
                      type: string
                    pollField:
                      type: string
                    pollId:
                      type: string
                    primaryKeys:
                      type: array
                      items:
                        type: string
                    schema:
                      type: string
                    showIcon:
                      type: boolean
              features:
                type: boolean
              filters:
                type: array
              maxInterval:
                type: integer
              maxLength:
                type: integer
              omitPages:
                type: boolean
              pageId:
                type: string
              predecessors:
                type: boolean
              segmentId:
                type: string
              segments:
                type: array
              selectedAccount:
                type: object
                description: Selected account settings
                properties:
                  className:
                    type: string
                  id:
                    type: string
                  text:
                    type: string
              trackEvents:
                type: boolean
              uniqueVisitors:
                type: boolean
          dateRanges:
            type: object
            description: Date range settings for the report
            properties:
              primaryDateRange:
                type: object
                properties:
                  type:
                    type: string
              secondaryDateRange:
                type: "null"
              useSecondaryDateRange:
                type: boolean
          generator:
            type: string
          graphType:
            type: string
          history:
            type: array
          isComparingSegments:
            type: boolean
          isComparingSources:
            type: boolean
          kind:
            type: string
          minimum:
            type: integer
          multiSourceType:
            type: string
          period:
            type: string
          segments:
            type: array
            items:
              type: string
          singleSource:
            type: object
            description: Settings for a single data source
            properties:
              id:
                type: string
              kind:
                type: string
          singleSourceType:
            type: string
          sources:
            type: object
            description: Data sources settings
            properties:
              alls:
                type: array
                items:
                  type: string
          tableType:
            type: string
          timeSeries:
            type: object
            description: Time series settings for the report data
            properties:
              type:
                type: string
              end:
                type: string
              primaryTimeSeries:
                type: object
                properties:
                  count:
                    type: integer
                  first:
                    type: integer
                  period:
                    type: string
              secondaryTimeSeries:
                type: "null"
              start:
                type: string
      id:
        type: string
        description: Unique ID of the report
      kind:
        type: string
        description: Kind of the report
      lastRunAt:
        type: integer
        description: Timestamp of the last run of the report
      lastSuccessRunAt:
        type: integer
        description: Timestamp of the last successful run of the report
      lastSuccessRunObj:
        type: string
        description: The object containing information about the last successful run.
      lastUpdatedAt:
        type: integer
        description: Timestamp of the last update of the report
      lastUpdatedByUser:
        type: object
        description: User who last updated the report
        properties:
          deletedAt:
            type: integer
          first:
            type: string
          hasLoggedIn:
            type: boolean
          id:
            type: string
          last:
            type: string
          lastLogin:
            type: integer
          role:
            type: integer
          userType:
            type: string
          username:
            type: string
          visitorIds:
            type: array
            items:
              type: string
      level:
        type: string
        description: The level at which the report data is generated or accessed.
      name:
        type: string
        description: Name of the report
      ownedByUser:
        type: object
        description: User who owns the report
        properties:
          first:
            type: string
          hasLoggedIn:
            type: boolean
          id:
            type: string
          last:
            type: string
          role:
            type: integer
          userType:
            type: string
          username:
            type: string
      rootVersionId:
        type: string
        description: The identifier for the root version of the report.
      scope:
        type: string
        description: The scope or range of data to include in the report.
      share:
        type: string
        description: Information about sharing settings or permissions for the report.
      shared:
        type: boolean
        description: Flag indicating whether the report is shared with others.
      stableVersionId:
        type: string
        description: The identifier for the stable version of the report.
      target:
        type: string
        description: The target or audience for which the report is intended.
    additionalProperties: true
  Guide:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      appId:
        type: integer
        description: >-
          The unique identifier of the application associated with the guide
          data.
      appIds:
        type: array
        description: >-
          An array of identifiers for multiple applications associated with the
          guide data.
        items:
          type: integer
      attributes:
        type: object
        description: Additional attributes and configurations for the guide.
        properties:
          type:
            type: string
            description: Type of guide.
          activation:
            anyOf:
              - type: "null"
              - type: object
                properties:
                  event:
                    type: array
                    items:
                      type: string
                  inheritStepOne:
                    type: boolean
                  selector:
                    type: string
            description: Information related to guide activation.
          badge:
            anyOf:
              - type: "null"
              - type: object
                properties:
                  bbJson:
                    type: object
                    properties:
                      actions:
                        type: array
                      id:
                        type: string
                      layoutId:
                        type: "null"
                      properties:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                            name:
                              type: string
                            value:
                              type:
                                - integer
                                - string
                      templateName:
                        type: "null"
                      uiMetadata:
                        type: object
                        properties:
                          name:
                            type: string
                          wizard:
                            type: object
                            properties:
                              defaultActions:
                                type: object
                              defaultValues:
                                type: object
                      views:
                        type: array
                        items:
                          type: object
                          properties:
                            actions:
                              type: array
                            id:
                              type: string
                            layoutId:
                              type: "null"
                            properties:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                  name:
                                    type: string
                                  value:
                                    type:
                                      - integer
                                      - string
                            templateName:
                              type: "null"
                            uiMetadata:
                              type: object
                              properties:
                                name:
                                  type: string
                                wizard:
                                  type: object
                                  properties:
                                    defaultActions:
                                      type: object
                                    defaultValues:
                                      type: object
                            views:
                              type: array
                            web:
                              type: object
                              properties:
                                type:
                                  type: string
                                altText:
                                  type: string
                                domClasses:
                                  type: array
                                domId:
                                  type: string
                                pseudoStyles:
                                  type: array
                                semanticTag:
                                  type: string
                                translationId:
                                  type: string
                                wrapper:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                    children:
                                      type: array
                                    props:
                                      type: object
                                      properties:
                                        class:
                                          type: string
                                        data-img-id:
                                          type: string
                                        id:
                                          type: string
                            widget:
                              type: string
                      web:
                        type: object
                        properties:
                          type:
                            type: string
                          ariaExpanded:
                            type: string
                          ariaLabel:
                            type: string
                          domClasses:
                            type: array
                          domId:
                            type: string
                          layout:
                            type: string
                          pseudoStyles:
                            type: array
                          semanticTag:
                            type: string
                          translationId:
                            type: string
                      widget:
                        type: string
                  color:
                    type: string
                  domJson:
                    type: object
                    properties:
                      type:
                        type: string
                      children:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                            children:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                  props:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                      alt:
                                        type: string
                                      class:
                                        type: string
                                      data-_pendo-image-1:
                                        type: string
                                      id:
                                        type: string
                                      src:
                                        type: string
                                      style:
                                        type: object
                                        properties:
                                          border:
                                            type: string
                                          box-shadow:
                                            type: string
                                          display:
                                            type: string
                                          float:
                                            type: string
                                          height:
                                            type: string
                                          line-height:
                                            type: integer
                                          margin:
                                            type: string
                                          padding:
                                            type: string
                                          vertical-align:
                                            type: string
                                          width:
                                            type: string
                            css:
                              type: array
                            props:
                              type: object
                              properties:
                                type:
                                  type: string
                                alt:
                                  type: string
                                class:
                                  type: string
                                data-_pendo-image-1:
                                  type: string
                                data-_pendo-image-wrapper-1:
                                  type: string
                                data-img-id:
                                  type: string
                                id:
                                  type: string
                                scoped:
                                  type: string
                                src:
                                  type: string
                                style:
                                  type: object
                                  properties:
                                    border:
                                      type: string
                                    box-shadow:
                                      type: string
                                    display:
                                      type: string
                                    float:
                                      type: string
                                    height:
                                      type: string
                                    line-height:
                                      type: integer
                                    margin:
                                      type: string
                                    padding:
                                      type: string
                                    vertical-align:
                                      type: string
                                    width:
                                      type: string
                      props:
                        type: object
                        properties:
                          type:
                            type: string
                          aria-expanded:
                            type: string
                          aria-label:
                            type: string
                          class:
                            type: string
                          data-layout:
                            type: string
                          id:
                            type: string
                          style:
                            type: object
                            properties:
                              background:
                                type: string
                              border:
                                type: string
                              border-radius:
                                type: string
                              bottom:
                                type: string
                              box-shadow:
                                type: string
                              display:
                                type: string
                              float:
                                type: string
                              font-size:
                                type: string
                              height:
                                type: string
                              left:
                                type: string
                              line-height:
                                type: integer
                              margin-bottom:
                                type: string
                              margin-left:
                                type: string
                              margin-right:
                                type: string
                              margin-top:
                                type: string
                              min-height:
                                type: string
                              min-width:
                                type: string
                              padding-bottom:
                                type: string
                              padding-left:
                                type: string
                              padding-right:
                                type: string
                              padding-top:
                                type: string
                              position:
                                type: string
                              right:
                                type: string
                              top:
                                type: string
                              vertical-align:
                                type: string
                              width:
                                type: string
                              z-index:
                                type: integer
                  height:
                    type: integer
                  imageUrl:
                    type: string
                  isOnlyShowOnce:
                    type: boolean
                  name:
                    type: string
                  offsets:
                    type: object
                    properties:
                      left:
                        type: integer
                      right:
                        type: integer
                      top:
                        type: integer
                  position:
                    type: string
                  showBadgeOnlyOnElementHover:
                    type: boolean
                  showGuideOnBadgeHover:
                    type: boolean
                  width:
                    type: integer
            description: Badge details associated with the guide.
          capping:
            type: object
            description: Capping rules for guide impressions.
            properties:
              maxImpressions:
                type: integer
                description: Maximum number of times the guide is allowed to be displayed.
              maxSessionImpressions:
                type: integer
                description: >-
                  Maximum number of times the guide can be displayed in a single
                  session.
          dates:
            type: object
            description: Date configurations for different locales.
            properties:
              en-US:
                type: string
              es:
                type: string
              ja:
                type: string
          device:
            type: object
            description: Device-specific details for the guide.
            properties:
              type:
                type: string
                description: Type of device the guide is optimized for.
          dom:
            type: object
            description: DOM behavior settings for the guide.
            properties:
              isOnlyShowOnce:
                type: boolean
                description: Indicates if the guide should be shown only once.
              showGuideOnlyOnElementClick:
                type: boolean
                description: Specifies if the guide is triggered by clicking on an element.
          elementSelectionType:
            type: string
            description: Type of selection for guide elements.
          email:
            type: boolean
            description: >-
              Configuration details for email notifications related to the
              guide.
          isAnnouncement:
            type: boolean
            description: Indicates if the guide is an announcement.
          notificationBubble:
            type: object
            description: Styling details for the notification bubble.
            properties:
              background-color:
                type: string
              color:
                type: string
              font-family:
                type: string
              font-weight:
                type: integer
          overrideAutoThrottling:
            type: boolean
            description: Flag to override automatic throttle settings.
          priority:
            type: integer
            description: Priority level of the guide.
          resourceCenter:
            type: object
            description: Details related to the resource center integration.
            properties:
              children:
                type: array
                items:
                  type: string
              homeViewId:
                type: string
              integrationName:
                type: string
              integrationProvider:
                type: string
              isModule:
                type: boolean
              isTopLevel:
                type: boolean
              moduleId:
                type: string
              originId:
                type: string
          sharedServiceVersion:
            type: string
            description: Version of the shared service used by the guide.
      audience:
        type: array
        description: Audience details and criteria for targeting the guide.
        items:
          type: object
          properties:
            eval:
              type: object
              properties:
                accountId:
                  type: string
                  description: Unique identifier of the account for audience evaluation.
            filter:
              type: string
              description: Filter criteria for defining the target audience.
            identified:
              type: string
              description: Indicates if the audience is identified.
            segment:
              type: object
              description: Segment details for audience targeting.
              properties:
                id:
                  type: string
                  description: Identifier of the audience segment.
            select:
              type: object
              description: Selection criteria for the audience.
              properties:
                visitorId:
                  type: string
                  description: Visitor identifier for audience selection.
            source:
              type: object
              description: Source details for the audience.
              properties:
                visitors:
                  anyOf:
                    - type: "null"
                    - type: object
                      properties:
                        identified:
                          type: boolean
            unwind:
              type: object
              description: Criteria for unwinding audience data.
              properties:
                field:
                  type: string
                keepEmpty:
                  type: boolean
      audienceUiHint:
        type: object
        description: Provides hints on the intended audience for displaying the guide.
        properties:
          filters:
            type: array
            description: UI hints related to audience filters.
            items:
              type: object
              properties:
                type:
                  type: string
                $valid:
                  type: boolean
                elementType:
                  type: string
                field:
                  type: string
                group:
                  type: string
                id:
                  type: string
                key:
                  type: string
                kind:
                  type: string
                name:
                  type: string
                operator:
                  type: string
                schema:
                  type: string
                segmentId:
                  type: string
                value:
                  type:
                    - integer
                    - string
      authoredLanguage:
        type: string
        description: Language in which the guide is authored.
      children:
        type: array
        description: Child guides associated with the main guide.
        items:
          type: string
      conversion:
        type: object
        description: Conversion settings and configurations.
        properties:
          attributionWindow:
            type: integer
            description: Time window for attributing conversions to the guide.
          itemId:
            type: string
            description: Identifier of the item associated with the conversion.
          itemType:
            type: string
            description: Type of item that triggers the conversion.
      createdAt:
        type: integer
        description: Timestamp indicating when the guide was created.
      createdByUser:
        type: object
        description: Details of the user who created the guide.
        properties:
          deletedAt:
            type: integer
          first:
            type: string
          hasLoggedIn:
            type: boolean
          id:
            type: string
          last:
            type: string
          lastLogin:
            type: integer
          role:
            type: integer
          userType:
            type: string
          username:
            type: string
          visitorIds:
            type: array
            items:
              type: string
      currentFirstEligibleToBeSeenAt:
        type: integer
        description: Timestamp for the first eligibility of the guide to be shown.
      description:
        type: string
        description: Description of the guide.
      editorType:
        type: string
        description: Type of editor used to create the guide.
      emailConfiguration:
        type: object
        description: Configuration details for email notifications related to the guide.
        properties:
          emailMetadataPropertyName:
            type: string
          subject:
            type: string
      emailState:
        type: string
        description: State of email notifications for the guide.
      experiment:
        type: object
        description: Details of experiment settings for the guide.
        properties:
          endTime:
            type: integer
          groupSize:
            type: integer
          notificationDuration:
            type: integer
          startTime:
            type: integer
      id:
        type: string
        description: Unique identifier of the guide.
      isModule:
        type: boolean
        description: Indicates if the guide is a module.
      isMultiStep:
        type: boolean
        description: Flag to indicate if the guide has multiple steps.
      isTopLevel:
        type: boolean
        description: Specifies if the guide is at the top level.
      isTraining:
        type: boolean
        description: Indicates if the guide is for training purposes.
      kind:
        type: string
        description: Type or category of the guide.
      lastUpdatedAt:
        type: integer
        description: Timestamp indicating the last update time for the guide.
      lastUpdatedByUser:
        type: object
        description: Details of the user who last updated the guide.
        properties:
          deletedAt:
            type: integer
          first:
            type: string
          hasLoggedIn:
            type: boolean
          id:
            type: string
          last:
            type: string
          lastLogin:
            type: integer
          role:
            type: integer
          userType:
            type: string
          username:
            type: string
          visitorIds:
            type: array
            items:
              type: string
      launchMethod:
        type: string
        description: Method used to launch the guide.
      minAgentVersion:
        type: string
        description: Minimum agent version required for guide compatibility.
      name:
        type: string
        description: Name of the guide.
      originId:
        type: string
        description: Original identifier of the guide.
      polls:
        type: array
        description: Poll questions and related details for the guide.
        items:
          type: object
          properties:
            attributes:
              type: object
              properties:
                type:
                  type: string
                display:
                  type: string
                followUp:
                  type: string
                leftLabel:
                  type: string
                rightLabel:
                  type: string
            id:
              type: string
            idResponses:
              type: object
              additionalProperties: true
            numericResponses:
              type: array
              items:
                type: integer
            question:
              type: string
            resetAt:
              type: integer
      publishedAt:
        type: integer
        description: Timestamp indicating when the guide was published.
      publishedEver:
        type: boolean
        description: Indicates if the guide has ever been published.
      recurrence:
        type: integer
        description: Recurrence settings for the guide.
      recurrenceEligibilityWindow:
        type: integer
        description: Time window for recurrence eligibility.
      resetAt:
        type: integer
        description: Timestamp indicating when the guide is reset.
      resourceCenterId:
        type: string
        description: Identifier of the resource center associated with the guide.
      rootVersionId:
        type: string
        description: Identifier of the root version of the guide.
      showsAfter:
        type: integer
        description: Time duration after which the guide is displayed.
      stableVersionId:
        type: string
        description: Identifier of the stable version of the guide.
      state:
        type: string
        description: Current state of the guide.
      steps:
        type: array
        description: Steps or sequences within the guide.
        items:
          type: object
          properties:
            type:
              type: string
            advanceMethod:
              type: string
              description: Method used to advance to the next step.
            attributes:
              type: object
              description: Attributes and configurations for the step.
              properties:
                type:
                  type: string
                advanceActions:
                  anyOf:
                    - type: "null"
                    - type: object
                      properties:
                        elementClick:
                          type: boolean
                        elementHover:
                          type: boolean
                  description: Actions to be performed when advancing to the next step.
                autoHeight:
                  type: boolean
                  description: Indicates if the guide height adjusts automatically.
                blockOutUI:
                  type: object
                  description: UI blocking settings for the guide.
                  properties:
                    additionalElements:
                      type: string
                    enabled:
                      type: boolean
                    padding:
                      type: object
                      properties:
                        bottom:
                          type: integer
                        left:
                          type: integer
                        right:
                          type: integer
                        top:
                          type: integer
                color:
                  type: string
                contentHostUrl:
                  type: string
                css:
                  type: string
                device:
                  type: object
                  description: Device-specific configurations for the step.
                  properties:
                    desktop:
                      type: boolean
                    iframe:
                      type: boolean
                    mobile:
                      type: boolean
                elementSelectionType:
                  type: string
                  description: Type of selection for elements on the step.
                enabled:
                  type: boolean
                  description: Indicates if the step is enabled.
                guideCssUrl:
                  type: string
                height:
                  type: integer
                html:
                  type: string
                id:
                  type: string
                isAutoFocus:
                  type: boolean
                  description: Indicates if autofocus is enabled on the step.
                javascript:
                  type: string
                launcherBadgeUrl:
                  type: string
                layoutDir:
                  type: string
                position:
                  type: string
                template:
                  type: string
                templateName:
                  type: string
                themeId:
                  type: string
                title:
                  type: string
                variables:
                  type: object
                  description: Variables and settings for the step.
                  properties:
                    company:
                      type: string
                    enableSuccessMessage:
                      type: boolean
                    followUpDetractor:
                      type: string
                    followUpNeutral:
                      type: string
                    followUpPromoter:
                      type: string
                    followUpStandard:
                      type: string
                    followUpType:
                      type: string
                    receivesRecommendation:
                      type: string
                    successMessage:
                      type: string
                width:
                  type: integer
            buildingBlocksUrl:
              type: string
            confirmationElementPathRule:
              type: string
            contentType:
              type: string
            contentUrl:
              type: string
            contentUrlCss:
              type: string
            contentUrlJs:
              type: string
            domJsonpUrl:
              type: string
            domUrl:
              type: string
            elementPathRule:
              type: string
            guideId:
              type: string
            id:
              type: string
            lastUpdatedAt:
              type: integer
            launchUrl:
              type: string
            name:
              type: string
            pageId:
              type: string
            pollIds:
              type: array
              items:
                type: string
            rank:
              type: integer
            regexUrlRule:
              type: string
            resetAt:
              type: integer
            templateId:
              type: string
            triggerElementPathRule:
              type: string
    additionalProperties: true
  Account Metadata:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      agent:
        type: object
        description: Information related to the agent associated with the account.
        properties:
          id:
            type: object
            description: The unique identifier of the agent.
            properties:
              Dirty:
                type: boolean
                description: Flag indicating if the data is dirty or not.
              DisplayName:
                type: string
                description: Display name of the ID.
              ElementFormat:
                type: string
                description: Format of the element.
              ElementType:
                type: string
                description: Type of the element.
              Type:
                type: string
                description: Type of the ID.
              isCalculated:
                type: boolean
                description: Flag indicating if the ID is calculated or not.
              isDeleted:
                type: boolean
                description: Flag indicating if the ID is deleted or not.
              isHidden:
                type: boolean
                description: Flag indicating if the ID is hidden or not.
              isPerApp:
                type: boolean
                description: Flag indicating if the ID is specific to an app or not.
              isPromoted:
                type: boolean
                description: Flag indicating if the ID is promoted or not.
              neverIndex:
                type: boolean
                description: Flag indicating if the ID should never be indexed.
          name:
            type: object
            description: The name of the agent.
            properties:
              Dirty:
                type: boolean
                description: Flag indicating if the data is dirty or not.
              DisplayName:
                type: string
                description: Display name of the agent's name.
              ElementFormat:
                type: string
                description: Format of the element.
              ElementType:
                type: string
                description: Type of the element.
              Type:
                type: string
                description: Type of the agent's name.
              isCalculated:
                type: boolean
                description: Flag indicating if the agent's name is calculated or not.
              isDeleted:
                type: boolean
                description: Flag indicating if the agent's name is deleted or not.
              isHidden:
                type: boolean
                description: Flag indicating if the agent's name is hidden or not.
              isPerApp:
                type: boolean
                description: >-
                  Flag indicating if the agent's name is specific to an app or
                  not.
              isPromoted:
                type: boolean
                description: Flag indicating if the agent's name is promoted or not.
              neverIndex:
                type: boolean
                description: Flag indicating if the agent's name should never be indexed.
              sample:
                type: string
                description: Sample data for the agent's name.
          size:
            type: object
            description: The size of the agent.
            properties:
              Dirty:
                type: boolean
                description: Flag indicating if the data is dirty or not.
              DisplayName:
                type: string
                description: Display name of the agent's size.
              ElementFormat:
                type: string
                description: Format of the element.
              ElementType:
                type: string
                description: Type of the element.
              Type:
                type: string
                description: Type of the agent's size.
              isCalculated:
                type: boolean
                description: Flag indicating if the agent's size is calculated or not.
              isDeleted:
                type: boolean
                description: Flag indicating if the agent's size is deleted or not.
              isHidden:
                type: boolean
                description: Flag indicating if the agent's size is hidden or not.
              isPerApp:
                type: boolean
                description: >-
                  Flag indicating if the agent's size is specific to an app or
                  not.
              isPromoted:
                type: boolean
                description: Flag indicating if the agent's size is promoted or not.
              neverIndex:
                type: boolean
                description: Flag indicating if the agent's size should never be indexed.
              sample:
                type: string
                description: Sample data for the agent's size.
          tier:
            type: object
            description: The tier of the agent.
            properties:
              Dirty:
                type: boolean
                description: Flag indicating if the data is dirty or not.
              DisplayName:
                type: string
                description: Display name of the agent's tier.
              ElementFormat:
                type: string
                description: Format of the element.
              ElementType:
                type: string
                description: Type of the element.
              Type:
                type: string
                description: Type of the agent's tier.
              isCalculated:
                type: boolean
                description: Flag indicating if the agent's tier is calculated or not.
              isDeleted:
                type: boolean
                description: Flag indicating if the agent's tier is deleted or not.
              isHidden:
                type: boolean
                description: Flag indicating if the agent's tier is hidden or not.
              isPerApp:
                type: boolean
                description: >-
                  Flag indicating if the agent's tier is specific to an app or
                  not.
              isPromoted:
                type: boolean
                description: Flag indicating if the agent's tier is promoted or not.
              neverIndex:
                type: boolean
                description: Flag indicating if the agent's tier should never be indexed.
              sample:
                type: string
                description: Sample data for the agent's tier.
          timezone:
            type: object
            description: The timezone of the agent.
            properties:
              Dirty:
                type: boolean
                description: Flag indicating if the data is dirty or not.
              DisplayName:
                type: string
                description: Display name of the agent's timezone.
              ElementFormat:
                type: string
                description: Format of the element.
              ElementType:
                type: string
                description: Type of the element.
              Type:
                type: string
                description: Type of the agent's timezone.
              isCalculated:
                type: boolean
                description: Flag indicating if the agent's timezone is calculated or not.
              isDeleted:
                type: boolean
                description: Flag indicating if the agent's timezone is deleted or not.
              isHidden:
                type: boolean
                description: Flag indicating if the agent's timezone is hidden or not.
              isPerApp:
                type: boolean
                description: >-
                  Flag indicating if the agent's timezone is specific to an app
                  or not.
              isPromoted:
                type: boolean
                description: Flag indicating if the agent's timezone is promoted or not.
              neverIndex:
                type: boolean
                description: >-
                  Flag indicating if the agent's timezone should never be
                  indexed.
              sample:
                type: string
                description: Sample data for the agent's timezone.
      auto:
        type: object
        description: Automatic data related to visits.
        properties:
          firstvisit:
            type: object
            description: The timestamp of the first visit.
            properties:
              Dirty:
                type: boolean
                description: Flag indicating if the data is dirty or not.
              DisplayName:
                type: string
                description: Display name of the first visit.
              ElementFormat:
                type: string
                description: Format of the element.
              ElementType:
                type: string
                description: Type of the element.
              Type:
                type: string
                description: Type of the first visit.
              isCalculated:
                type: boolean
                description: Flag indicating if the first visit is calculated or not.
              isDeleted:
                type: boolean
                description: Flag indicating if the first visit is deleted or not.
              isHidden:
                type: boolean
                description: Flag indicating if the first visit is hidden or not.
              isPerApp:
                type: boolean
                description: >-
                  Flag indicating if the first visit is specific to an app or
                  not.
              isPromoted:
                type: boolean
                description: Flag indicating if the first visit is promoted or not.
              neverIndex:
                type: boolean
                description: Flag indicating if the first visit should never be indexed.
          id:
            type: object
            description: The unique identifier of the visit.
            properties:
              Dirty:
                type: boolean
                description: Flag indicating if the data is dirty or not.
              DisplayName:
                type: string
                description: Display name of the auto ID.
              ElementFormat:
                type: string
                description: Format of the element.
              ElementType:
                type: string
                description: Type of the element.
              Type:
                type: string
                description: Type of the auto ID.
              isCalculated:
                type: boolean
                description: Flag indicating if the auto ID is calculated or not.
              isDeleted:
                type: boolean
                description: Flag indicating if the auto ID is deleted or not.
              isHidden:
                type: boolean
                description: Flag indicating if the auto ID is hidden or not.
              isPerApp:
                type: boolean
                description: Flag indicating if the auto ID is specific to an app or not.
              isPromoted:
                type: boolean
                description: Flag indicating if the auto ID is promoted or not.
              neverIndex:
                type: boolean
                description: Flag indicating if the auto ID should never be indexed.
          lastvisit:
            type: object
            description: The timestamp of the last visit.
            properties:
              Dirty:
                type: boolean
                description: Flag indicating if the data is dirty or not.
              DisplayName:
                type: string
                description: Display name of the last visit.
              ElementFormat:
                type: string
                description: Format of the element.
              ElementType:
                type: string
                description: Type of the element.
              Type:
                type: string
                description: Type of the last visit.
              isCalculated:
                type: boolean
                description: Flag indicating if the last visit is calculated or not.
              isDeleted:
                type: boolean
                description: Flag indicating if the last visit is deleted or not.
              isHidden:
                type: boolean
                description: Flag indicating if the last visit is hidden or not.
              isPerApp:
                type: boolean
                description: >-
                  Flag indicating if the last visit is specific to an app or
                  not.
              isPromoted:
                type: boolean
                description: Flag indicating if the last visit is promoted or not.
              neverIndex:
                type: boolean
                description: Flag indicating if the last visit should never be indexed.
      pendo:
        type: object
        description: Pendo-specific metadata.
        properties:
          blacklistguides:
            type: object
            description: List of guides that are blacklisted.
            properties:
              Dirty:
                type: boolean
                description: Flag indicating if the data is dirty or not.
              DisplayName:
                type: string
                description: Display name of the blacklisted guides.
              ElementFormat:
                type: string
                description: Format of the element.
              ElementType:
                type: string
                description: Type of the element.
              Type:
                type: string
                description: Type of the blacklisted guides.
              isCalculated:
                type: boolean
                description: >-
                  Flag indicating if the blacklisted guides are calculated or
                  not.
              isDeleted:
                type: boolean
                description: Flag indicating if the blacklisted guides are deleted or not.
              isHidden:
                type: boolean
                description: Flag indicating if the blacklisted guides are hidden or not.
              isPerApp:
                type: boolean
                description: >-
                  Flag indicating if the blacklisted guides are specific to an
                  app or not.
              isPromoted:
                type: boolean
                description: Flag indicating if the blacklisted guides are promoted or not.
              neverIndex:
                type: boolean
                description: >-
                  Flag indicating if the blacklisted guides should never be
                  indexed.
          donotprocess:
            type: object
            description: >-
              Flag indicating whether the account metadata should not be
              processed.
            properties:
              Dirty:
                type: boolean
                description: Flag indicating if the data is dirty or not.
              DisplayName:
                type: string
                description: Display name of the data not to process.
              ElementFormat:
                type: string
                description: Format of the element.
              ElementType:
                type: string
                description: Type of the element.
              Type:
                type: string
                description: Type of the data not to process.
              isCalculated:
                type: boolean
[...]
