version: 0.30.1
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - Account Metadata
streams:
  - type: DeclarativeStream
    name: Page
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            description: The unique ID of the page.
            type: string
          kind:
            description: The kind of page data.
            type: string
          name:
            description: The name of the page.
            type: string
          appId:
            description: The ID of the Pendo application to which the page belongs.
            type: integer
          color:
            description: The color associated with the page.
            type: string
          dirty:
            description: Flag indicating if the page data is dirty or needs updating.
            type: boolean
          group:
            description: Details about the group to which the page belongs.
            type: object
            properties:
              id:
                description: The unique ID of the group.
                type: string
              name:
                description: The name of the group.
                type: string
              type:
                description: The type of the group.
                type: string
              color:
                description: The color associated with the group.
                type: string
              items:
                description: An array of items belonging to the group.
                type:
                  - array
                  - "null"
              length:
                description: The length of the group.
                type: integer
              createdAt:
                description: The date and time when the group was created.
                type: integer
              description:
                description: The description of the group.
                type: string
              createdByUser:
                description: Details about the user who created the group.
                type: object
                properties:
                  id:
                    description: The unique ID of the user.
                    type: string
                  last:
                    description: The last name of the user.
                    type: string
                  role:
                    description: The role of the user.
                    type: integer
                  first:
                    description: The first name of the user.
                    type: string
                  userType:
                    description: The type of user.
                    type: string
                  username:
                    description: The username of the user.
                    type: string
                  deletedAt:
                    description: The date and time when the user was deleted.
                    type: integer
                  lastLogin:
                    description: The date and time of the user's last login.
                    type: integer
                  visitorIds:
                    description: An array of visitor IDs associated with the user.
                    type: array
                    items:
                      description: An individual visitor ID.
                      type: string
                  hasLoggedIn:
                    description: Flag indicating if the user has logged in.
                    type: boolean
              lastUpdatedAt:
                description: The date and time of the last update to the group.
                type: integer
              lastUpdatedByUser:
                description: Details about the user who last updated the group.
                type: object
                properties:
                  id:
                    description: The unique ID of the user.
                    type: string
                  last:
                    description: The last name of the user.
                    type: string
                  role:
                    description: The role of the user.
                    type: integer
                  first:
                    description: The first name of the user.
                    type: string
                  userType:
                    description: The type of user.
                    type: string
                  username:
                    description: The username of the user.
                    type: string
                  lastLogin:
                    description: The date and time of the user's last login.
                    type: integer
                  visitorIds:
                    description: An array of visitor IDs associated with the user.
                    type: array
                    items:
                      description: An individual visitor ID.
                      type: string
                  hasLoggedIn:
                    description: Flag indicating if the user has logged in.
                    type: boolean
          rules:
            description: Rules associated with the page.
            type: array
            items:
              description: Individual rule details.
              type: object
              properties:
                rule:
                  description: The rule definition.
                  type: string
                parsedRule:
                  description: The parsed version of the rule.
                  type: string
                designerHint:
                  description: The designer hint for the rule.
                  type: string
          createdAt:
            description: The date and time when the page was created.
            type: integer
          rulesjson:
            description: The JSON representation of rules associated with the page.
            type: string
          isCoreEvent:
            description: Flag indicating if the page is a core event.
            type: boolean
          isAutoTagged:
            description: Flag indicating if the page is automatically tagged.
            type: boolean
          validThrough:
            description: The date until which the page data is valid.
            type: integer
          createdByUser:
            description: Details about the user who created the page.
            type: object
            properties:
              id:
                description: The unique ID of the user.
                type: string
              last:
                description: The last name of the user.
                type: string
              role:
                description: The role of the user.
                type: integer
              first:
                description: The first name of the user.
                type: string
              userType:
                description: The type of user.
                type: string
              username:
                description: The username of the user.
                type: string
              deletedAt:
                description: The date and time when the user was deleted.
                type: integer
              lastLogin:
                description: The date and time of the user's last login.
                type: integer
              visitorIds:
                description: An array of visitor IDs associated with the user.
                type: array
                items:
                  description: An individual visitor ID.
                  type: string
              hasLoggedIn:
                description: Flag indicating if the user has logged in.
                type: boolean
          lastUpdatedAt:
            description: The date and time of the last update to the page.
            type: integer
          rootVersionId:
            description: The ID of the root version of the page.
            type: string
          suggestedName:
            description: The suggested name for the page.
            type: string
          dailyMergeFirst:
            description: Placeholder for daily merge information.
            type: integer
          stableVersionId:
            description: The ID of the stable version of the page.
            type: string
          dailyRollupFirst:
            description: Placeholder for daily rollup information.
            type: integer
          lastUpdatedByUser:
            description: Details about the user who last updated the page.
            type: object
            properties:
              id:
                description: The unique ID of the user.
                type: string
              last:
                description: The last name of the user.
                type: string
              role:
                description: The role of the user.
                type: integer
              first:
                description: The first name of the user.
                type: string
              userType:
                description: The type of user.
                type: string
              username:
                description: The username of the user.
                type: string
              deletedAt:
                description: The date and time when the user was deleted.
                type: integer
              lastLogin:
                description: The date and time of the user's last login.
                type: integer
              visitorIds:
                description: An array of visitor IDs associated with the user.
                type: array
                items:
                  description: An individual visitor ID.
                  type: string
              hasLoggedIn:
                description: Flag indicating if the user has logged in.
                type: boolean
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://app.pendo.io/api/v1
        path: /page
        http_method: GET
        request_parameters: {}
        request_headers: {}
        request_body_json: {}
        authenticator:
          type: ApiKeyAuthenticator
          header: x-pendo-integration-key
          api_token: "{{ config['api_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: Feature
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            description: The unique identifier of the feature.
            type: string
          kind:
            description: The kind of feature.
            type: string
          name:
            description: The name of the feature.
            type: string
          appId:
            description:
              The unique identifier of the application to which the feature
              belongs.
            type: integer
          color:
            description: The color associated with the feature for visual identification.
            type: string
          dirty:
            description: Indicates if the feature is marked as 'dirty' for updates.
            type: boolean
          group:
            description: Details of the group to which the feature belongs.
            type: object
            properties:
              id:
                description: The unique identifier of the group.
                type: string
              name:
                description: The name of the group.
                type: string
              type:
                description: The type of the group.
                type: string
              color:
                description: Color assigned to the group.
                type: string
              items:
                description: Items included in the group.
                type:
                  - array
                  - "null"
              length:
                description: The number of items in the group.
                type: integer
              createdAt:
                description: Timestamp of group creation.
                type: integer
              description:
                description: Description of the group.
                type: string
              createdByUser:
                description: Details of the user who created the group.
                type: object
                properties:
                  id:
                    description: The unique identifier of the user.
                    type: string
                  last:
                    description: The last name of the user.
                    type: string
                  role:
                    description: The role of the user.
                    type: integer
                  first:
                    description: The first name of the user.
                    type: string
                  userType:
                    description: The type of user.
                    type: string
                  username:
                    description: The username of the user.
                    type: string
                  deletedAt:
                    description: Timestamp when the user was deleted.
                    type: integer
                  lastLogin:
                    description: Timestamp of the user's last login.
                    type: integer
                  visitorIds:
                    description: List of visitor identifiers associated with the user.
                    type: array
                    items:
                      description: Unique identifier of a visitor.
                      type: string
                  hasLoggedIn:
                    description: Flag indicating if the user has logged in.
                    type: boolean
              lastUpdatedAt:
                description: Timestamp of the last group update.
                type: integer
              lastUpdatedByUser:
                description: Details of the user who last updated the group.
                type: object
                properties:
                  id:
                    description: The unique identifier of the user.
                    type: string
                  last:
                    description: The last name of the user.
                    type: string
                  role:
                    description: The role of the user.
                    type: integer
                  first:
                    description: The first name of the user.
                    type: string
                  userType:
                    description: The type of user.
                    type: string
                  username:
                    description: The username of the user.
                    type: string
                  lastLogin:
                    description: Timestamp of the user's last login.
                    type: integer
                  visitorIds:
                    description: List of visitor identifiers associated with the user.
                    type: array
                    items:
                      description: Unique identifier of a visitor.
                      type: string
                  hasLoggedIn:
                    description: Flag indicating if the user has logged in.
                    type: boolean
          pageId:
            description: The unique identifier of the page associated with the feature.
            type: string
          appWide:
            description:
              Indicates whether the feature is applicable across the entire
              application.
            type: boolean
          createdAt:
            description: The timestamp when the feature was created.
            type: integer
          isCoreEvent:
            description: Indicates if the feature is a core event.
            type: boolean
          validThrough:
            description: The timestamp until which the feature is valid.
            type: integer
          createdByUser:
            description: Details of the user who created the feature.
            type: object
            properties:
              id:
                description: The unique identifier of the user.
                type: string
              last:
                description: The last name of the user.
                type: string
              role:
                description: The role of the user.
                type: integer
              first:
                description: The first name of the user.
                type: string
              userType:
                description: The type of user.
                type: string
              username:
                description: The username of the user.
                type: string
              deletedAt:
                description: Timestamp when the user was deleted.
                type: integer
              lastLogin:
                description: Timestamp of the user's last login.
                type: integer
              visitorIds:
                description: List of visitor identifiers associated with the user.
                type: array
                items:
                  description: Unique identifier of a visitor.
                  type: string
              hasLoggedIn:
                description: Flag indicating if the user has logged in.
                type: boolean
          lastUpdatedAt:
            description: Timestamp of the last feature update.
            type: integer
          rootVersionId:
            description: The unique identifier of the root version of the feature.
            type: string
          suggestedMatch:
            description: Indicates if there is a suggested match for the feature.
            type: string
          dailyMergeFirst:
            description: Timestamp of the first daily merge process for the feature.
            type: integer
          stableVersionId:
            description: The unique identifier of the stable version of the feature.
            type: string
          dailyRollupFirst:
            description: Timestamp of the first daily rollup process for the feature.
            type: integer
          elementPathRules:
            description: Rules defining the paths of elements associated with the feature.
            type: array
            items:
              description: A specific path rule for element selection.
              type: string
          elementInitialTag:
            description: The initial tag associated with the feature element.
            type: string
          lastUpdatedByUser:
            description: Details of the user who last updated the feature.
            type: object
            properties:
              id:
                description: The unique identifier of the user.
                type: string
              last:
                description: The last name of the user.
                type: string
              role:
                description: The role of the user.
                type: integer
              first:
                description: The first name of the user.
                type: string
              userType:
                description: The type of user.
                type: string
              username:
                description: The username of the user.
                type: string
              deletedAt:
                description: Timestamp when the user was deleted.
                type: integer
              lastLogin:
                description: Timestamp of the user's last login.
                type: integer
              visitorIds:
                description: List of visitor identifiers associated with the user.
                type: array
                items:
                  description: Unique identifier of a visitor.
                  type: string
              hasLoggedIn:
                description: Flag indicating if the user has logged in.
                type: boolean
          elementSelectionType:
            description: Type of selection method used for elements.
            type: string
          createdDesignerVersion:
            description: The version of the designer tool used during feature creation.
            type: string
          eventPropertyConfigurations:
            description: Configurations for event properties.
            type: array
            items:
              description: Settings for a specific event property.
              type: object
              properties:
                name:
                  description: The name of the property.
                  type: string
                path:
                  description: The path associated with the property.
                  type: string
                rule:
                  description: The rule applied to the property.
                  type: string
                type:
                  description: The type of the property.
                  type: string
                pattern:
                  description: Pattern used for property matching.
                  type: string
                isActive:
                  description: Flag indicating if the property is active.
                  type: boolean
                selector:
                  description: Selector for the property.
                  type: string
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://app.pendo.io/api/v1
        path: /feature
        http_method: GET
        request_parameters: {}
        request_headers: {}
        request_body_json: {}
        authenticator:
          type: ApiKeyAuthenticator
          header: x-pendo-integration-key
          api_token: "{{ config['api_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: Report
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            description: Unique ID of the report
            type: string
          kind:
            description: Kind of the report
            type: string
          name:
            description: Name of the report
            type: string
          type:
            description: The type or category of the report data.
            type: string
          level:
            description: The level at which the report data is generated or accessed.
            type: string
          scope:
            description: The scope or range of data to include in the report.
            type: string
          share:
            description: Information about sharing settings or permissions for the report.
            type: string
          shared:
            description: Flag indicating whether the report is shared with others.
            type: boolean
          target:
            description: The target or audience for which the report is intended.
            type: string
          createdAt:
            description: Timestamp when the report was created
            type: integer
          lastRunAt:
            description: Timestamp of the last run of the report
            type: integer
          definition:
            description: Definition of the report data structure
            type: object
            properties:
              kind:
                type: string
              type:
                type: string
              config:
                description: Configuration settings for the report
                type: object
                properties:
                  appId:
                    type:
                      - integer
                      - string
                  pageId:
                    type: string
                  columns:
                    description: Columns configuration
                    type: array
                    items:
                      type: object
                      properties:
                        kind:
                          type: string
                        pageId:
                          type: string
                        pollId:
                          type: string
                        schema:
                          type: string
                        guideId:
                          type: string
                        disabled:
                          type: boolean
                        showIcon:
                          type: boolean
                        featureId:
                          type: string
                        fieldName:
                          type: string
                        immutable:
                          type: boolean
                        pollField:
                          type: string
                        columnName:
                          type: string
                        columnLabel:
                          type: string
                        primaryKeys:
                          type: array
                          items:
                            type: string
                        functionName:
                          type: string
                  filters:
                    type: array
                  features:
                    type: boolean
                  segments:
                    type: array
                  maxLength:
                    type: integer
                  omitPages:
                    type: boolean
                  segmentId:
                    type: string
                  acrossApps:
                    type: boolean
                  maxInterval:
                    type: integer
                  trackEvents:
                    type: boolean
                  collapseDups:
                    type: boolean
                  predecessors:
                    type: boolean
                  uniqueVisitors:
                    type: boolean
                  selectedAccount:
                    description: Selected account settings
                    type: object
                    properties:
                      id:
                        type: string
                      text:
                        type: string
                      className:
                        type: string
              period:
                type: string
              history:
                type: array
              minimum:
                type: integer
              sources:
                description: Data sources settings
                type: object
                properties:
                  alls:
                    type: array
                    items:
                      type: string
              segments:
                type: array
                items:
                  type: string
              attribute:
                type: string
              generator:
                type: string
              graphType:
                type: string
              tableType:
                type: string
              dateRanges:
                description: Date range settings for the report
                type: object
                properties:
                  primaryDateRange:
                    type: object
                    properties:
                      type:
                        type: string
                  secondaryDateRange:
                    type: "null"
                  useSecondaryDateRange:
                    type: boolean
              timeSeries:
                description: Time series settings for the report data
                type: object
                properties:
                  end:
                    type: string
                  type:
                    type: string
                  start:
                    type: string
                  primaryTimeSeries:
                    type: object
                    properties:
                      count:
                        type: integer
                      first:
                        type: integer
                      period:
                        type: string
                  secondaryTimeSeries:
                    type: "null"
              singleSource:
                description: Settings for a single data source
                type: object
                properties:
                  id:
                    type: string
                  kind:
                    type: string
              multiSourceType:
                type: string
              singleSourceType:
                type: string
              isComparingSources:
                type: boolean
              isComparingSegments:
                type: boolean
          aggregation:
            description: Defines aggregations to be applied to the report data
            type: object
            properties:
              fields:
                description: List of fields to be aggregated
                type: array
                items:
                  type: object
                  properties:
                    type:
                      description: Data type of the field
                      type: string
                    field:
                      description: Name of the field to be aggregated
                      type: string
                    title:
                      description: Title for the aggregated field
                      type: string
              pipeline:
                description: Defines the aggregation pipeline stages
                type: array
                items:
                  type: object
                  properties:
                    eval:
                      description: Stage to evaluate specific fields
                      type: object
                      properties:
                        account_auto_id:
                          description: Auto-generated ID for the account
                          type: string
                        visitor_agent_age:
                          description: Age of the visitor's agent
                          type: string
                        visitor_agent_language:
                          description: Language used by the visitor's agent
                          type: string
                        visitor_auto_firstvisit:
                          description: Auto-generated first visit timestamp
                          type: string
                    fork:
                      description: Stage to fork the pipeline
                      type: array
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            eval:
                              description: Evaluate specific conditions
                              type: object
                              properties:
                                items:
                                  type: string
                            group:
                              description: Group data based on specified conditions
                              type: object
                              properties:
                                group:
                                  type: array
                                  items:
                                    type: string
                                fields:
                                  description: Fields for grouping
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      count:
                                        description: Count of grouped items
                                        type: object
                                        properties:
                                          count:
                                            description: Count of grouped items
                                            type:
                                              - "null"
                                              - string
                            limit:
                              type: integer
                            treeify:
                              description: Treeify data based on specified keys
                              type: object
                              properties:
                                keySort:
                                  description: Key to sort the data tree
                                  type: boolean
                                threshold:
                                  description: Threshold for treeifying the data
                                  type: number
                    group:
                      description: Group data based on specified conditions
                      type: object
                      properties:
                        group:
                          type: array
                          items:
                            type: string
                        fields:
                          description: Fields for grouping data
                          type: array
                          items:
                            type: object
                            properties:
                              path:
                                description: Path settings for grouping data
                                type: object
                                properties:
                                  path:
                                    description: Path settings for grouping data
                                    type: object
                                    properties:
                                      pageId:
                                        description: ID of the page
                                        type: string
                                      features:
                                        description: Features to consider
                                        type: boolean
                                      maxLength:
                                        description: Maximum length of data
                                        type: integer
                                      omitPages:
                                        description: Pages to omit from grouping
                                        type: boolean
                                      maxInterval:
                                        description: Maximum interval allowed
                                        type: integer
                                      trackEvents:
                                        description: Events to track
                                        type: boolean
                                      collapseDups:
                                        description: Collapse duplicate entries
                                        type: boolean
                                      predecessors:
                                        description: Predecessors to consider
                                        type: boolean
                                      followAcrossSessions:
                                        description: Follow data across sessions
                                        type: boolean
                    merge:
                      description: Merge data based on specified fields and mappings
                      type: object
                      properties:
                        fields:
                          type: array
                          items:
                            type: string
                        mappings:
                          description: Field mappings for merging data
                          type: object
                          properties:
                            daysActive:
                              type: string
                            usageTrending:
                              type: string
                          additionalProperties: true
                        pipeline:
                          description: Pipeline stages for merging
                          type: array
                          items:
                            type: object
                            properties:
                              cat:
                                type: "null"
                              eval:
                                description: Evaluate usage trending data
                                type: object
                                properties:
                                  usageTrending:
                                    type: string
                              join:
                                type: object
                                properties:
                                  fields:
                                    type: array
                                    items:
                                      type: string
                              group:
                                description: Group data for merging
                                type: object
                                properties:
                                  group:
                                    type: array
                                    items:
                                      type: string
                                  fields:
                                    description: Fields for grouping
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        daysActive:
                                          description: Days active count
                                          type: object
                                          properties:
                                            count:
                                              description: Count of days active
                                              type: string
                                      additionalProperties: true
                              spawn:
                                description: Spawn data based on specified conditions
                                type: array
                                items:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      group:
                                        description: Group data
                                        type: object
                                        properties:
                                          group:
                                            type: array
                                            items:
                                              type: string
                                          fields:
                                            description: Fields for grouping
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                totalTime:
                                                  description: Total time settings
                                                  type: object
                                                  properties:
                                                    sum:
                                                      type: string
                                                prevTotalTime:
                                                  description: Previous total time settings
                                                  type: object
                                                  properties:
                                                    sum:
                                                      type: string
                                      source:
                                        description: Data source settings
                                        type: object
                                        properties:
                                          events:
                                            description: Data events settings
                                            type: object
                                            properties:
                                              appId:
                                                type:
                                                  - integer
                                                  - string
                                              blacklist:
                                                type: string
                                          timeSeries:
                                            description: Time series settings
                                            type: object
                                            properties:
                                              last:
                                                type: string
                                              first:
                                                type: string
                                              period:
                                                type: string
                                      identified:
                                        type: string
                              filter:
                                type: string
                              source:
                                description: Source settings for merging data
                                type: object
                                properties:
                                  events:
                                    description: Data events settings
                                    type: object
                                    properties:
                                      appId:
                                        type: string
                                      blacklist:
                                        type: string
                                  pollsSeen:
                                    description: Settings for seen polls
                                    type: object
                                    properties:
                                      pollId:
                                        type: string
                                      guideId:
                                        type: string
                                      blacklist:
                                        type: string
                                  pageEvents:
                                    description: Page events settings
                                    type: object
                                    properties:
                                      pageId:
                                        type: string
                                      blacklist:
                                        type: string
                                  timeSeries:
                                    description: Time series settings
                                    type: object
                                    properties:
                                      last:
                                        type: string
                                      first:
                                        type: string
                                      period:
                                        type: string
                                  guideEvents:
                                    description: Guide events settings
                                    type: object
                                    properties:
                                      guideId:
                                        type: string
                                      blacklist:
                                        type: string
                                  featureEvents:
                                    description: Feature events settings
                                    type: object
                                    properties:
                                      blacklist:
                                        type: string
                                      featureId:
                                        type: string
                                  pollsSeenEver:
                                    description: Settings for seen polls across sessions
                                    type: object
                                    properties:
                                      pollId:
                                        type: string
                                      guideId:
                                        type: string
                                      blacklist:
                                        type: string
                              switch:
                                description: Switch response based on conditions
                                type: object
                                properties:
                                  response:
                                    description: Response settings
                                    type: object
                                    properties:
                                      response:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            "==":
                                              type: integer
                                            value:
                                              type: string
                              segment:
                                description: Segment ID for merging data
                                type: object
                                properties:
                                  id:
                                    description: Segment ID
                                    type: string
                              identified:
                                type: string
                    select:
                      description: Select fields for the report data
                      type: object
                      properties:
                        accountId:
                          type: string
                        visitorId:
                          type: string
                        daysActive:
                          type: string
                        usageTrending:
                          type: string
                        account_auto_id:
                          type: string
                        visitor_agent_age:
                          type: string
                        visitor_agent_language:
                          type: string
                        visitor_auto_firstvisit:
                          type: string
                      additionalProperties: true
                    source:
                      description: Source settings for the report data
                      type: object
                      properties:
                        events:
                          description: Event settings
                          type: object
                          properties:
                            appId:
                              type:
                                - integer
                                - string
                            blacklist:
                              type: string
                        timeSeries:
                          description: Time series settings
                          type: object
                          properties:
                            last:
                              type: string
                            count:
                              type: integer
                            first:
                              type:
                                - integer
                                - string
                            period:
                              type: string
                        singleEvents:
                          description: Settings for single events
                          type: object
                          properties:
                            appId:
                              type: integer
                            blacklist:
                              type: string
                            eventClass:
                              type: array
                              items:
                                type: string
                            reverseTime:
                              type: boolean
                    unwind:
                      description: Unwind specified field
                      type: object
                      properties:
                        field:
                          description: Field to unwind
                          type: string
                    segment:
                      description: Segment ID for filtering data
                      type: object
                      properties:
                        id:
                          description: Segment ID
                          type: string
                    bulkExpand:
                      description: Stage to expand data for specified accounts or visitors
                      type: object
                      properties:
                        account:
                          description: Details for expanding account data
                          type: object
                          properties:
                            account:
                              description: Account ID
                              type: string
                        visitor:
                          description: Details for expanding visitor data
                          type: object
                          properties:
                            visitor:
                              description: Visitor ID
                              type: string
                    identified:
                      type: string
          ownedByUser:
            description: User who owns the report
            type: object
            properties:
              id:
                type: string
              last:
                type: string
              role:
                type: integer
              first:
                type: string
              userType:
                type: string
              username:
                type: string
              hasLoggedIn:
                type: boolean
          createdByUser:
            description: User who created the report
            type: object
            properties:
              id:
                type: string
              last:
                type: string
              role:
                type: integer
              first:
                type: string
              userType:
                type: string
              username:
                type: string
              deletedAt:
                type: integer
              lastLogin:
                type: integer
              visitorIds:
                type: array
                items:
                  type: string
              hasLoggedIn:
                type: boolean
          lastUpdatedAt:
            description: Timestamp of the last update of the report
            type: integer
          rootVersionId:
            description: The identifier for the root version of the report.
            type: string
          stableVersionId:
            description: The identifier for the stable version of the report.
            type: string
          lastSuccessRunAt:
            description: Timestamp of the last successful run of the report
            type: integer
          lastSuccessRunObj:
            description:
              The object containing information about the last successful
              run.
            type: string
          lastUpdatedByUser:
            description: User who last updated the report
            type: object
            properties:
              id:
                type: string
              last:
                type: string
              role:
                type: integer
              first:
                type: string
              userType:
                type: string
              username:
                type: string
              deletedAt:
                type: integer
              lastLogin:
                type: integer
              visitorIds:
                type: array
                items:
                  type: string
              hasLoggedIn:
                type: boolean
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://app.pendo.io/api/v1
        path: /report
        http_method: GET
        request_parameters: {}
        request_headers: {}
        request_body_json: {}
        authenticator:
          type: ApiKeyAuthenticator
          header: x-pendo-integration-key
          api_token: "{{ config['api_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: Guide
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            description: Unique identifier of the guide.
            type: string
          kind:
            description: Type or category of the guide.
            type: string
          name:
            description: Name of the guide.
            type: string
          appId:
            description:
              The unique identifier of the application associated with the
              guide data.
            type: integer
          polls:
            description: Poll questions and related details for the guide.
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                resetAt:
                  type: integer
                question:
                  type: string
                attributes:
                  type: object
                  properties:
                    type:
                      type: string
                    display:
                      type: string
                    followUp:
                      type: string
                    leftLabel:
                      type: string
                    rightLabel:
                      type: string
                idResponses:
                  type: object
                  additionalProperties: true
                numericResponses:
                  type: array
                  items:
                    type: integer
          state:
            description: Current state of the guide.
            type: string
          steps:
            description: Steps or sequences within the guide.
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                name:
                  type: string
                rank:
                  type: integer
                type:
                  type: string
                domUrl:
                  type: string
                pageId:
                  type: string
                guideId:
                  type: string
                pollIds:
                  type: array
                  items:
                    type: string
                resetAt:
                  type: integer
                launchUrl:
                  type: string
                attributes:
                  description: Attributes and configurations for the step.
                  type: object
                  properties:
                    id:
                      type: string
                    css:
                      type: string
                    html:
                      type: string
                    type:
                      type: string
                    color:
                      type: string
                    title:
                      type: string
                    width:
                      type: integer
                    device:
                      description: Device-specific configurations for the step.
                      type: object
                      properties:
                        iframe:
                          type: boolean
                        mobile:
                          type: boolean
                        desktop:
                          type: boolean
                    height:
                      type: integer
                    enabled:
                      description: Indicates if the step is enabled.
                      type: boolean
                    themeId:
                      type: string
                    position:
                      type: string
                    template:
                      type: string
                    layoutDir:
                      type: string
                    variables:
                      description: Variables and settings for the step.
                      type: object
                      properties:
                        company:
                          type: string
                        followUpType:
                          type: string
                        successMessage:
                          type: string
                        followUpNeutral:
                          type: string
                        followUpPromoter:
                          type: string
                        followUpStandard:
                          type: string
                        followUpDetractor:
                          type: string
                        enableSuccessMessage:
                          type: boolean
                        receivesRecommendation:
                          type: string
                    autoHeight:
                      description: Indicates if the guide height adjusts automatically.
                      type: boolean
                    blockOutUI:
                      description: UI blocking settings for the guide.
                      type: object
                      properties:
                        enabled:
                          type: boolean
                        padding:
                          type: object
                          properties:
                            top:
                              type: integer
                            left:
                              type: integer
                            right:
                              type: integer
                            bottom:
                              type: integer
                        additionalElements:
                          type: string
                    javascript:
                      type: string
                    guideCssUrl:
                      type: string
                    isAutoFocus:
                      description: Indicates if autofocus is enabled on the step.
                      type: boolean
                    templateName:
                      type: string
                    advanceActions:
                      description:
                        Actions to be performed when advancing to the next
                        step.
                      anyOf:
                        - type: "null"
                        - type: object
                          properties:
                            elementClick:
                              type: boolean
                            elementHover:
                              type: boolean
                    contentHostUrl:
                      type: string
                    launcherBadgeUrl:
                      type: string
                    elementSelectionType:
                      description: Type of selection for elements on the step.
                      type: string
                contentUrl:
                  type: string
                templateId:
                  type: string
                contentType:
                  type: string
                domJsonpUrl:
                  type: string
                contentUrlJs:
                  type: string
                regexUrlRule:
                  type: string
                advanceMethod:
                  description: Method used to advance to the next step.
                  type: string
                contentUrlCss:
                  type: string
                lastUpdatedAt:
                  type: integer
                elementPathRule:
                  type: string
                buildingBlocksUrl:
                  type: string
                triggerElementPathRule:
                  type: string
                confirmationElementPathRule:
                  type: string
          appIds:
            description:
              An array of identifiers for multiple applications associated
              with the guide data.
            type: array
            items:
              type: integer
          resetAt:
            description: Timestamp indicating when the guide is reset.
            type: integer
          audience:
            description: Audience details and criteria for targeting the guide.
            type: array
            items:
              type: object
              properties:
                eval:
                  type: object
                  properties:
                    accountId:
                      description: Unique identifier of the account for audience evaluation.
                      type: string
                filter:
                  description: Filter criteria for defining the target audience.
                  type: string
                select:
                  description: Selection criteria for the audience.
                  type: object
                  properties:
                    visitorId:
                      description: Visitor identifier for audience selection.
                      type: string
                source:
                  description: Source details for the audience.
                  type: object
                  properties:
                    visitors:
                      anyOf:
                        - type: "null"
                        - type: object
                          properties:
                            identified:
                              type: boolean
                unwind:
                  description: Criteria for unwinding audience data.
                  type: object
                  properties:
                    field:
                      type: string
                    keepEmpty:
                      type: boolean
                segment:
                  description: Segment details for audience targeting.
                  type: object
                  properties:
                    id:
                      description: Identifier of the audience segment.
                      type: string
                identified:
                  description: Indicates if the audience is identified.
                  type: string
          children:
            description: Child guides associated with the main guide.
            type: array
            items:
              type: string
          isModule:
            description: Indicates if the guide is a module.
            type: boolean
          originId:
            description: Original identifier of the guide.
            type: string
          createdAt:
            description: Timestamp indicating when the guide was created.
            type: integer
          attributes:
            description: Additional attributes and configurations for the guide.
            type: object
            properties:
              dom:
                description: DOM behavior settings for the guide.
                type: object
                properties:
                  isOnlyShowOnce:
                    description: Indicates if the guide should be shown only once.
                    type: boolean
                  showGuideOnlyOnElementClick:
                    description:
                      Specifies if the guide is triggered by clicking on
                      an element.
                    type: boolean
              type:
                description: Type of guide.
                type: string
              badge:
                description: Badge details associated with the guide.
                anyOf:
                  - type: "null"
                  - type: object
                    properties:
                      name:
                        type: string
                      color:
                        type: string
                      width:
                        type: integer
                      bbJson:
                        type: object
                        properties:
                          id:
                            type: string
                          web:
                            type: object
                            properties:
                              type:
                                type: string
                              domId:
                                type: string
                              layout:
                                type: string
                              ariaLabel:
                                type: string
                              domClasses:
                                type: array
                              semanticTag:
                                type: string
                              ariaExpanded:
                                type: string
                              pseudoStyles:
                                type: array
                              translationId:
                                type: string
                          views:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                web:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                    domId:
                                      type: string
                                    altText:
                                      type: string
                                    wrapper:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        props:
                                          type: object
                                          properties:
                                            id:
                                              type: string
                                            class:
                                              type: string
                                            data-img-id:
                                              type: string
                                        children:
                                          type: array
                                    domClasses:
                                      type: array
                                    semanticTag:
                                      type: string
                                    pseudoStyles:
                                      type: array
                                    translationId:
                                      type: string
                                views:
                                  type: array
                                widget:
                                  type: string
                                actions:
                                  type: array
                                layoutId:
                                  type: "null"
                                properties:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                      type:
                                        type: string
                                      value:
                                        type:
                                          - integer
                                          - string
                                uiMetadata:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    wizard:
                                      type: object
                                      properties:
                                        defaultValues:
                                          type: object
                                        defaultActions:
                                          type: object
                                templateName:
                                  type: "null"
                          widget:
                            type: string
                          actions:
                            type: array
                          layoutId:
                            type: "null"
                          properties:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                type:
                                  type: string
                                value:
                                  type:
                                    - integer
                                    - string
                          uiMetadata:
                            type: object
                            properties:
                              name:
                                type: string
                              wizard:
                                type: object
                                properties:
                                  defaultValues:
                                    type: object
                                  defaultActions:
                                    type: object
                          templateName:
                            type: "null"
                      height:
                        type: integer
                      domJson:
                        type: object
                        properties:
                          type:
                            type: string
                          props:
                            type: object
                            properties:
                              id:
                                type: string
                              type:
                                type: string
                              class:
                                type: string
                              style:
                                type: object
                                properties:
                                  top:
                                    type: string
                                  left:
                                    type: string
                                  float:
                                    type: string
                                  right:
                                    type: string
                                  width:
                                    type: string
                                  border:
                                    type: string
                                  bottom:
                                    type: string
                                  height:
                                    type: string
                                  display:
                                    type: string
                                  z-index:
                                    type: integer
                                  position:
                                    type: string
                                  font-size:
                                    type: string
                                  min-width:
                                    type: string
                                  background:
                                    type: string
                                  box-shadow:
                                    type: string
                                  margin-top:
                                    type: string
                                  min-height:
                                    type: string
                                  line-height:
                                    type: integer
                                  margin-left:
                                    type: string
                                  padding-top:
                                    type: string
                                  margin-right:
                                    type: string
                                  padding-left:
                                    type: string
                                  border-radius:
                                    type: string
                                  margin-bottom:
                                    type: string
                                  padding-right:
                                    type: string
                                  padding-bottom:
                                    type: string
                                  vertical-align:
                                    type: string
                              aria-label:
                                type: string
                              data-layout:
                                type: string
                              aria-expanded:
                                type: string
                          children:
                            type: array
                            items:
                              type: object
                              properties:
                                css:
                                  type: array
                                type:
                                  type: string
                                props:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    alt:
                                      type: string
                                    src:
                                      type: string
                                    type:
                                      type: string
                                    class:
                                      type: string
                                    style:
                                      type: object
                                      properties:
                                        float:
                                          type: string
                                        width:
                                          type: string
                                        border:
                                          type: string
                                        height:
                                          type: string
                                        margin:
                                          type: string
                                        display:
                                          type: string
                                        padding:
                                          type: string
                                        box-shadow:
                                          type: string
                                        line-height:
                                          type: integer
                                        vertical-align:
                                          type: string
                                    scoped:
                                      type: string
                                    data-img-id:
                                      type: string
                                    data-_pendo-image-1:
                                      type: string
                                    data-_pendo-image-wrapper-1:
                                      type: string
                                children:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                      props:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                          alt:
                                            type: string
                                          src:
                                            type: string
                                          type:
                                            type: string
                                          class:
                                            type: string
                                          style:
                                            type: object
                                            properties:
                                              float:
                                                type: string
                                              width:
                                                type: string
                                              border:
                                                type: string
                                              height:
                                                type: string
                                              margin:
                                                type: string
                                              display:
                                                type: string
                                              padding:
                                                type: string
                                              box-shadow:
                                                type: string
                                              line-height:
                                                type: integer
                                              vertical-align:
                                                type: string
                                          data-_pendo-image-1:
                                            type: string
                      offsets:
                        type: object
                        properties:
                          top:
                            type: integer
                          left:
                            type: integer
                          right:
                            type: integer
                      imageUrl:
                        type: string
                      position:
                        type: string
                      isOnlyShowOnce:
                        type: boolean
                      showGuideOnBadgeHover:
                        type: boolean
                      showBadgeOnlyOnElementHover:
                        type: boolean
              dates:
                description: Date configurations for different locales.
                type: object
                properties:
                  es:
                    type: string
                  ja:
                    type: string
                  en-US:
                    type: string
              email:
                description:
                  Configuration details for email notifications related to
                  the guide.
                type: boolean
              device:
                description: Device-specific details for the guide.
                type: object
                properties:
                  type:
                    description: Type of device the guide is optimized for.
                    type: string
              capping:
                description: Capping rules for guide impressions.
                type: object
                properties:
                  maxImpressions:
                    description:
                      Maximum number of times the guide is allowed to be
                      displayed.
                    type: integer
                  maxSessionImpressions:
                    description:
                      Maximum number of times the guide can be displayed
                      in a single session.
                    type: integer
              priority:
                description: Priority level of the guide.
                type: integer
              activation:
                description: Information related to guide activation.
                anyOf:
                  - type: "null"
                  - type: object
                    properties:
                      event:
                        type: array
                        items:
                          type: string
                      selector:
                        type: string
                      inheritStepOne:
                        type: boolean
              isAnnouncement:
                description: Indicates if the guide is an announcement.
                type: boolean
              resourceCenter:
                description: Details related to the resource center integration.
                type: object
                properties:
                  children:
                    type: array
                    items:
                      type: string
                  isModule:
                    type: boolean
                  moduleId:
                    type: string
                  originId:
                    type: string
                  homeViewId:
                    type: string
                  isTopLevel:
                    type: boolean
                  integrationName:
                    type: string
                  integrationProvider:
                    type: string
              notificationBubble:
                description: Styling details for the notification bubble.
                type: object
                properties:
                  color:
                    type: string
                  font-family:
                    type: string
                  font-weight:
                    type: integer
                  background-color:
                    type: string
              elementSelectionType:
                description: Type of selection for guide elements.
                type: string
              sharedServiceVersion:
                description: Version of the shared service used by the guide.
                type: string
              overrideAutoThrottling:
                description: Flag to override automatic throttle settings.
                type: boolean
          conversion:
            description: Conversion settings and configurations.
            type: object
            properties:
              itemId:
                description: Identifier of the item associated with the conversion.
                type: string
              itemType:
                description: Type of item that triggers the conversion.
                type: string
              attributionWindow:
                description: Time window for attributing conversions to the guide.
                type: integer
          editorType:
            description: Type of editor used to create the guide.
            type: string
          emailState:
            description: State of email notifications for the guide.
            type: string
          experiment:
            description: Details of experiment settings for the guide.
            type: object
            properties:
              endTime:
                type: integer
              groupSize:
                type: integer
              startTime:
                type: integer
              notificationDuration:
                type: integer
          isTopLevel:
            description: Specifies if the guide is at the top level.
            type: boolean
          isTraining:
            description: Indicates if the guide is for training purposes.
            type: boolean
          recurrence:
            description: Recurrence settings for the guide.
            type: integer
          showsAfter:
            description: Time duration after which the guide is displayed.
            type: integer
          description:
            description: Description of the guide.
            type: string
          isMultiStep:
            description: Flag to indicate if the guide has multiple steps.
            type: boolean
          publishedAt:
            description: Timestamp indicating when the guide was published.
            type: integer
          launchMethod:
            description: Method used to launch the guide.
            type: string
          createdByUser:
            description: Details of the user who created the guide.
            type: object
            properties:
              id:
                type: string
              last:
                type: string
              role:
                type: integer
              first:
                type: string
              userType:
                type: string
              username:
                type: string
              deletedAt:
                type: integer
              lastLogin:
                type: integer
              visitorIds:
                type: array
                items:
                  type: string
              hasLoggedIn:
                type: boolean
          lastUpdatedAt:
            description: Timestamp indicating the last update time for the guide.
            type: integer
          publishedEver:
            description: Indicates if the guide has ever been published.
            type: boolean
          rootVersionId:
            description: Identifier of the root version of the guide.
            type: string
          audienceUiHint:
            description:
              Provides hints on the intended audience for displaying the
              guide.
            type: object
            properties:
              filters:
                description: UI hints related to audience filters.
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    key:
                      type: string
                    kind:
                      type: string
                    name:
                      type: string
                    type:
                      type: string
                    field:
                      type: string
                    group:
                      type: string
                    value:
                      type:
                        - integer
                        - string
                    $valid:
                      type: boolean
                    schema:
                      type: string
                    operator:
                      type: string
                    segmentId:
                      type: string
                    elementType:
                      type: string
          minAgentVersion:
            description: Minimum agent version required for guide compatibility.
            type: string
          stableVersionId:
            description: Identifier of the stable version of the guide.
            type: string
          authoredLanguage:
            description: Language in which the guide is authored.
            type: string
          resourceCenterId:
            description: Identifier of the resource center associated with the guide.
            type: string
          lastUpdatedByUser:
            description: Details of the user who last updated the guide.
            type: object
            properties:
              id:
                type: string
              last:
                type: string
              role:
                type: integer
              first:
                type: string
              userType:
                type: string
              username:
                type: string
              deletedAt:
                type: integer
              lastLogin:
                type: integer
              visitorIds:
                type: array
                items:
                  type: string
              hasLoggedIn:
                type: boolean
          emailConfiguration:
            description:
              Configuration details for email notifications related to the
              guide.
            type: object
            properties:
              subject:
                type: string
              emailMetadataPropertyName:
                type: string
          recurrenceEligibilityWindow:
            description: Time window for recurrence eligibility.
            type: integer
          currentFirstEligibleToBeSeenAt:
            description: Timestamp for the first eligibility of the guide to be shown.
            type: integer
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://app.pendo.io/api/v1
        path: /guide
        http_method: GET
        request_parameters: {}
        request_headers: {}
        request_body_json: {}
        authenticator:
          type: ApiKeyAuthenticator
          header: x-pendo-integration-key
          api_token: "{{ config['api_key'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
  - type: DeclarativeStream
    name: Account Metadata
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          agent:
            description: Information related to the agent associated with the account.
            properties:
              id:
                description: The unique identifier of the agent.
                properties:
                  Dirty:
                    description: Flag indicating if the data is dirty or not.
                    type: boolean
                  DisplayName:
                    description: Display name of the ID.
                    type: string
                  ElementFormat:
                    description: Format of the element.
                    type: string
                  ElementType:
                    description: Type of the element.
                    type: string
                  Type:
                    description: Type of the ID.
                    type: string
                  isCalculated:
                    description: Flag indicating if the ID is calculated or not.
                    type: boolean
                  isDeleted:
                    description: Flag indicating if the ID is deleted or not.
                    type: boolean
                  isHidden:
                    description: Flag indicating if the ID is hidden or not.
                    type: boolean
                  isPerApp:
                    description:
                      Flag indicating if the ID is specific to an app or
                      not.
                    type: boolean
                  isPromoted:
                    description: Flag indicating if the ID is promoted or not.
                    type: boolean
                  neverIndex:
                    description: Flag indicating if the ID should never be indexed.
                    type: boolean
                type: object
              name:
                description: The name of the agent.
                properties:
                  Dirty:
                    description: Flag indicating if the data is dirty or not.
                    type: boolean
                  DisplayName:
                    description: Display name of the agent's name.
                    type: string
                  ElementFormat:
                    description: Format of the element.
                    type: string
                  ElementType:
                    description: Type of the element.
                    type: string
                  Type:
                    description: Type of the agent's name.
                    type: string
                  isCalculated:
                    description:
                      Flag indicating if the agent's name is calculated or
                      not.
                    type: boolean
                  isDeleted:
                    description: Flag indicating if the agent's name is deleted or not.
                    type: boolean
                  isHidden:
                    description: Flag indicating if the agent's name is hidden or not.
                    type: boolean
                  isPerApp:
                    description:
                      Flag indicating if the agent's name is specific to
                      an app or not.
                    type: boolean
                  isPromoted:
                    description:
                      Flag indicating if the agent's name is promoted or
                      not.
                    type: boolean
                  neverIndex:
                    description:
                      Flag indicating if the agent's name should never be
                      indexed.
                    type: boolean
                  sample:
                    description: Sample data for the agent's name.
                    type: string
                type: object
              size:
                description: The size of the agent.
                properties:
                  Dirty:
                    description: Flag indicating if the data is dirty or not.
                    type: boolean
                  DisplayName:
                    description: Display name of the agent's size.
                    type: string
                  ElementFormat:
                    description: Format of the element.
                    type: string
                  ElementType:
                    description: Type of the element.
                    type: string
                  Type:
                    description: Type of the agent's size.
                    type: string
                  isCalculated:
                    description:
                      Flag indicating if the agent's size is calculated or
                      not.
                    type: boolean
                  isDeleted:
                    description: Flag indicating if the agent's size is deleted or not.
                    type: boolean
                  isHidden:
                    description: Flag indicating if the agent's size is hidden or not.
                    type: boolean
                  isPerApp:
                    description:
                      Flag indicating if the agent's size is specific to
                      an app or not.
                    type: boolean
                  isPromoted:
                    description:
                      Flag indicating if the agent's size is promoted or
                      not.
                    type: boolean
                  neverIndex:
                    description:
                      Flag indicating if the agent's size should never be
                      indexed.
                    type: boolean
                  sample:
                    description: Sample data for the agent's size.
                    type: string
                type: object
              tier:
                description: The tier of the agent.
                properties:
                  Dirty:
                    description: Flag indicating if the data is dirty or not.
                    type: boolean
                  DisplayName:
                    description: Display name of the agent's tier.
                    type: string
                  ElementFormat:
                    description: Format of the element.
                    type: string
                  ElementType:
                    description: Type of the element.
                    type: string
                  Type:
                    description: Type of the agent's tier.
                    type: string
                  isCalculated:
                    description:
                      Flag indicating if the agent's tier is calculated or
                      not.
                    type: boolean
                  isDeleted:
                    description: Flag indicating if the agent's tier is deleted or not.
                    type: boolean
                  isHidden:
                    description: Flag indicating if the agent's tier is hidden or not.
                    type: boolean
                  isPerApp:
                    description:
                      Flag indicating if the agent's tier is specific to
                      an app or not.
                    type: boolean
                  isPromoted:
                    description:
                      Flag indicating if the agent's tier is promoted or
                      not.
                    type: boolean
                  neverIndex:
                    description:
                      Flag indicating if the agent's tier should never be
                      indexed.
                    type: boolean
                  sample:
                    description: Sample data for the agent's tier.
                    type: string
                type: object
              timezone:
                description: The timezone of the agent.
                properties:
                  Dirty:
                    description: Flag indicating if the data is dirty or not.
                    type: boolean
                  DisplayName:
                    description: Display name of the agent's timezone.
[...]
