version: 5.8.1

type: DeclarativeSource

description: "Documentation: https://rootly.com/api#/"

check:
  type: CheckStream
  stream_names:
    - dashboards

definitions:
  streams:
    dashboards:
      type: DeclarativeStream
      name: dashboards
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: dashboards
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/dashboards"
    incidents:
      type: DeclarativeStream
      name: incidents
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: incidents
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incidents"
    authorizations:
      type: DeclarativeStream
      name: authorizations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: authorizations
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/authorizations"
    dashboards_panels:
      type: DeclarativeStream
      name: dashboards_panels
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: dashboards/{{ stream_partition.d_id }}/panels
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: d_id
              stream:
                $ref: "#/definitions/streams/dashboards"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/dashboards_panels"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: users
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    incident_types:
      type: DeclarativeStream
      name: incident_types
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: incident_types
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incident_types"
    ip_ranges:
      type: DeclarativeStream
      name: ip_ranges
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: ip_ranges
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ip_ranges"
    users_notification_rules:
      type: DeclarativeStream
      name: users_notification_rules
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: users/{{ stream_partition.user_id }}/notification_rules
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: user_id
              stream:
                $ref: "#/definitions/streams/users"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users_notification_rules"
    teams:
      type: DeclarativeStream
      name: teams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: teams
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    sub_statuses:
      type: DeclarativeStream
      name: sub_statuses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: sub_statuses
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sub_statuses"
    incidents_sub_statuses:
      type: DeclarativeStream
      name: incidents_sub_statuses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: incidents/{{ stream_partition.incident_id }}/sub_statuses
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: incident_id
              stream:
                $ref: "#/definitions/streams/incidents"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incidents_sub_statuses"
    incident_roles:
      type: DeclarativeStream
      name: incident_roles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: incident_roles
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incident_roles"
    post_mortems:
      type: DeclarativeStream
      name: post_mortems
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: post_mortems
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/post_mortems"
    status-pages:
      type: DeclarativeStream
      name: status-pages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: status-pages
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/status-pages"
    severities:
      type: DeclarativeStream
      name: severities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: severities
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/severities"
    services:
      type: DeclarativeStream
      name: services
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: services
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/services"
    incident_permission_sets:
      type: DeclarativeStream
      name: incident_permission_sets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: incident_permission_sets
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incident_permission_sets"
    incident_permission_sets_resources:
      type: DeclarativeStream
      name: incident_permission_sets_resources
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            incident_permission_sets/{{
            stream_partition.incident_permission_set_id }}/resources
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: incident_permission_set_id
              stream:
                $ref: "#/definitions/streams/incident_permission_sets"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incident_permission_sets_resources"
    incident_permission_sets_booleans:
      type: DeclarativeStream
      name: incident_permission_sets_booleans
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            incident_permission_sets/{{
            stream_partition.incident_permission_set_id }}/booleans
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: incident_permission_set_id
              stream:
                $ref: "#/definitions/streams/incident_permission_sets"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incident_permission_sets_booleans"
    roles:
      type: DeclarativeStream
      name: roles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: roles
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/roles"
    incidents_events:
      type: DeclarativeStream
      name: incidents_events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: incidents/{{ stream_partition.incident_id }}/events
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: incident_id
              stream:
                $ref: "#/definitions/streams/incidents"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incidents_events"
    workflows:
      type: DeclarativeStream
      name: workflows
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: workflows
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/workflows"
    workflow_groups:
      type: DeclarativeStream
      name: workflow_groups
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: workflow_groups
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/workflow_groups"
    workflows_tasks:
      type: DeclarativeStream
      name: workflows_tasks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: workflows/{{stream_partition.workflow_id }}/workflow_tasks
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: workflow_id
              stream:
                $ref: "#/definitions/streams/workflows"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/workflows_tasks"
    form_sets:
      type: DeclarativeStream
      name: form_sets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: form_sets
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/form_sets"
    form_fields:
      type: DeclarativeStream
      name: form_fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: form_fields
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/form_fields"
    playbooks:
      type: DeclarativeStream
      name: playbooks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: playbooks
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/playbooks"
    incidents_action_items:
      type: DeclarativeStream
      name: incidents_action_items
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: incidents/{{ stream_partition.incident_id }}/action_items
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: incident_id
              stream:
                $ref: "#/definitions/streams/incidents"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/incidents_action_items"
    retrospective_configurations:
      type: DeclarativeStream
      name: retrospective_configurations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: retrospective_configurations
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/retrospective_configurations"
    retrospective_processes:
      type: DeclarativeStream
      name: retrospective_processes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: retrospective_processes
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 2
                backoff_strategies:
                  - type: ConstantBackoffStrategy
                    backoff_time_in_seconds: 5
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    error_message: "429"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page[number]
          page_size_option:
            type: RequestOption
            field_name: page[size]
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 50
            start_from_page: 1
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/retrospective_processes"
  base_requester:
    type: HttpRequester
    url_base: https://api.rootly.com/v1/
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/dashboards"
  - $ref: "#/definitions/streams/incidents"
  - $ref: "#/definitions/streams/authorizations"
  - $ref: "#/definitions/streams/dashboards_panels"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/incident_types"
  - $ref: "#/definitions/streams/ip_ranges"
  - $ref: "#/definitions/streams/users_notification_rules"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/sub_statuses"
  - $ref: "#/definitions/streams/incidents_sub_statuses"
  - $ref: "#/definitions/streams/incident_roles"
  - $ref: "#/definitions/streams/post_mortems"
  - $ref: "#/definitions/streams/status-pages"
  - $ref: "#/definitions/streams/severities"
  - $ref: "#/definitions/streams/services"
  - $ref: "#/definitions/streams/incident_permission_sets"
  - $ref: "#/definitions/streams/incident_permission_sets_resources"
  - $ref: "#/definitions/streams/incident_permission_sets_booleans"
  - $ref: "#/definitions/streams/roles"
  - $ref: "#/definitions/streams/incidents_events"
  - $ref: "#/definitions/streams/workflows"
  - $ref: "#/definitions/streams/workflow_groups"
  - $ref: "#/definitions/streams/workflows_tasks"
  - $ref: "#/definitions/streams/form_sets"
  - $ref: "#/definitions/streams/form_fields"
  - $ref: "#/definitions/streams/playbooks"
  - $ref: "#/definitions/streams/incidents_action_items"
  - $ref: "#/definitions/streams/retrospective_configurations"
  - $ref: "#/definitions/streams/retrospective_processes"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    dashboards: true
    incidents: true
    authorizations: true
    dashboards_panels: true
    users: true
    incident_types: true
    ip_ranges: true
    users_notification_rules: true
    teams: true
    sub_statuses: true
    incidents_sub_statuses: true
    incident_roles: true
    post_mortems: true
    status-pages: true
    severities: true
    services: true
    incident_permission_sets: true
    incident_permission_sets_resources: true
    incident_permission_sets_booleans: true
    roles: true
    incidents_events: true
    workflows: true
    workflow_groups: true
    workflows_tasks: true
    form_sets: true
    form_fields: true
    playbooks: true
    incidents_action_items: true
    retrospective_configurations: true
    retrospective_processes: true
  testedStreams:
    dashboards:
      hasRecords: true
      streamHash: a1708c0567059820c0dc956945caf487478a115a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    incidents:
      hasRecords: true
      streamHash: 8cc67f76e9a7b3b960bb7abe770c4f85f915ac0a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    authorizations:
      hasRecords: true
      streamHash: 524dcbe5c86d2fca67871eab887ebe3092b9d7e1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    dashboards_panels:
      hasRecords: true
      streamHash: f5a88a9674d82525513585f5a67c6165d487c7d0
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    users:
      hasRecords: true
      streamHash: 1001a1b69a3cd78b3a12337b32242ea23a7943de
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    incident_types:
      hasRecords: true
      streamHash: 112c66d7fbd338f41ffb3980b2dd12d0ce621f31
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    ip_ranges:
      hasRecords: true
      streamHash: 03a611935c0a06a36b86dc9d7867c53a7de119fa
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    users_notification_rules:
      hasRecords: true
      streamHash: 5ab5ba2bef769c90f47deea78948b922944866fc
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    teams:
      hasRecords: true
      streamHash: 0082ff60d942d4607acfb2cb086dfeeb0f579b27
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    sub_statuses:
      hasRecords: true
      streamHash: 2a1a08c8716809eaaec40b0830ff3a311c90a543
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    incidents_sub_statuses:
      hasRecords: true
      streamHash: 14e873ba11f2b5c4d2d45acd9471f57dc551bde8
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    incident_roles:
      hasRecords: true
      streamHash: 7d104f1caa1301db3a5f6e4837ff3a938cd3e7b7
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    post_mortems:
      hasRecords: true
      streamHash: a598824bb785e74cf94b3147365dd40fdbde1943
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    status-pages:
      hasRecords: true
      streamHash: 19fc0f4cda34b29172194a6232c17adb18dcab34
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    severities:
      hasRecords: true
      streamHash: 3ed9e9a90d8014906d02c94662b548588b23623d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    services:
      hasRecords: true
      streamHash: 7fda14f8fec0146f0ccf77e5d8130ad2a8dc35a4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    incident_permission_sets:
      hasRecords: true
      streamHash: bfc66b910ae60f54bbb13e94d5b30511567e118a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    incident_permission_sets_resources:
      hasRecords: true
      streamHash: 889f84bb8ceba269911eb918e7999bf87828e2d9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    incident_permission_sets_booleans:
      hasRecords: true
      streamHash: a28739a41c1c9a50233870196eaea15d41d4644a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    roles:
      hasRecords: true
      streamHash: 9d5503859971434b51a07d7692afe7f2ea05a08a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    incidents_events:
      hasRecords: true
      streamHash: 21cb816d13f9f170aca503c2ef8b784cb1ae47d9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    workflows:
      hasRecords: true
      streamHash: 852b1ed800305559d6e6012b8d30759bcfef1194
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    workflow_groups:
      hasRecords: true
      streamHash: 208296ca2b3b1c85f544b40f21e83cbaa77671e6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    workflows_tasks:
      hasRecords: true
      streamHash: a9c1186e80ce7e50d67f5813e632a8ffac6da267
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    form_sets:
      hasRecords: true
      streamHash: df5a91c3b0329dc051366dccfc0cbf10c41fd164
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    form_fields:
      hasRecords: true
      streamHash: d060f2e17f7b0daaaeae51a2be18c23a8b8c1423
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    playbooks:
      hasRecords: true
      streamHash: 25e62c2338d1897042119b66adb8a7cfb637e20f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    incidents_action_items:
      hasRecords: true
      streamHash: d35a2faab7228cfa411ea7365e08ab088e274fc7
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    retrospective_configurations:
      hasRecords: true
      streamHash: 1bf17bea052d22f500245e25a2823e5ea53c9fe7
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    retrospective_processes:
      hasRecords: true
      streamHash: 349a4953abc716cd27d65a3d40222be1c14779fe
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist: {}

schemas:
  dashboards:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          auto_refresh:
            type:
              - boolean
              - "null"
          color:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          icon:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          owner:
            type:
              - string
              - "null"
          period:
            type:
              - string
              - "null"
          public:
            type:
              - boolean
              - "null"
          range:
            type:
              - string
              - "null"
          slug:
            type:
              - string
              - "null"
          team_id:
            type:
              - number
              - "null"
          updated_at:
            type:
              - string
              - "null"
      id:
        type: string
      relationships:
        type:
          - object
          - "null"
        properties:
          panels:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
    required:
      - id
  incidents:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          created_at:
            type:
              - string
              - "null"
          kind:
            type:
              - string
              - "null"
          labels:
            type:
              - object
              - "null"
            properties:
              infrastructure:
                type:
                  - string
                  - "null"
              product:
                type:
                  - string
                  - "null"
              system:
                type:
                  - string
                  - "null"
              web:
                type:
                  - boolean
                  - "null"
          mitigated_at:
            type:
              - string
              - "null"
          private:
            type:
              - boolean
              - "null"
          resolved_at:
            type:
              - string
              - "null"
          retrospective_progress_status:
            type:
              - string
              - "null"
          sequential_id:
            type:
              - number
              - "null"
          severity:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  attributes:
                    type:
                      - object
                      - "null"
                    properties:
                      description:
                        type:
                          - string
                          - "null"
                      color:
                        type:
                          - string
                          - "null"
                      created_at:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      notify_emails:
                        type:
                          - array
                          - "null"
                      position:
                        type:
                          - number
                          - "null"
                      severity:
                        type:
                          - string
                          - "null"
                      slack_aliases:
                        type:
                          - array
                          - "null"
                      slack_channels:
                        type:
                          - array
                          - "null"
                      slug:
                        type:
                          - string
                          - "null"
                      updated_at:
                        type:
                          - string
                          - "null"
                  id:
                    type:
                      - string
                      - "null"
          short_url:
            type:
              - string
              - "null"
          slack_channel_archived:
            type:
              - boolean
              - "null"
          slug:
            type:
              - string
              - "null"
          source:
            type:
              - string
              - "null"
          started_at:
            type:
              - string
              - "null"
          started_by:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  attributes:
                    type:
                      - object
                      - "null"
                    properties:
                      created_at:
                        type:
                          - string
                          - "null"
                      email:
                        type:
                          - string
                          - "null"
                      full_name:
                        type:
                          - string
                          - "null"
                      full_name_with_team:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      time_zone:
                        type:
                          - string
                          - "null"
                      updated_at:
                        type:
                          - string
                          - "null"
                  id:
                    type:
                      - string
                      - "null"
                  relationships:
                    type:
                      - object
                      - "null"
                    properties:
                      devices:
                        type:
                          - object
                          - "null"
                        properties:
                          data:
                            type:
                              - array
                              - "null"
                      email_addresses:
                        type:
                          - object
                          - "null"
                        properties:
                          data:
                            type:
                              - array
                              - "null"
                            items:
                              type:
                                - object
                                - "null"
                              properties:
                                type:
                                  type:
                                    - string
                                    - "null"
                                id:
                                  type:
                                    - string
                                    - "null"
                      phone_numbers:
                        type:
                          - object
                          - "null"
                        properties:
                          data:
                            type:
                              - array
                              - "null"
          status:
            type:
              - string
              - "null"
          summary:
            type:
              - string
              - "null"
          title:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
          user:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  attributes:
                    type:
                      - object
                      - "null"
                    properties:
                      created_at:
                        type:
                          - string
                          - "null"
                      email:
                        type:
                          - string
                          - "null"
                      full_name:
                        type:
                          - string
                          - "null"
                      full_name_with_team:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      time_zone:
                        type:
                          - string
                          - "null"
                      updated_at:
                        type:
                          - string
                          - "null"
                  id:
                    type:
                      - string
                      - "null"
                  relationships:
                    type:
                      - object
                      - "null"
                    properties:
                      devices:
                        type:
                          - object
                          - "null"
                        properties:
                          data:
                            type:
                              - array
                              - "null"
                      email_addresses:
                        type:
                          - object
                          - "null"
                        properties:
                          data:
                            type:
                              - array
                              - "null"
                            items:
                              type:
                                - object
                                - "null"
                              properties:
                                type:
                                  type:
                                    - string
                                    - "null"
                                id:
                                  type:
                                    - string
                                    - "null"
                      phone_numbers:
                        type:
                          - object
                          - "null"
                        properties:
                          data:
                            type:
                              - array
                              - "null"
          zoom_meeting_global_dial_in_numbers:
            type:
              - array
              - "null"
      id:
        type: string
      relationships:
        type:
          - object
          - "null"
        properties:
          action_items:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
          causes:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
          custom_field_selections:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
          environments:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
          events:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
          feedbacks:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
          functionalities:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
          groups:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
          incident_post_mortem:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
          incident_types:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
          roles:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
          services:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
          subscribers:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
    required:
      - id
  authorizations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          authorizable_id:
            type:
              - string
              - "null"
          authorizable_type:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          grantee_id:
            type:
              - string
              - "null"
          grantee_type:
            type:
              - string
              - "null"
          permissions:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          updated_at:
            type:
              - string
              - "null"
      id:
        type: string
    required:
      - id
  dashboards_panels:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          created_at:
            type:
              - string
              - "null"
          dashboard_id:
            type:
              - string
              - "null"
          data:
            anyOf:
              - type:
                  - "null"
                  - number
              - type: array
                items:
                  type: object
                  properties:
                    color:
                      type:
                        - "null"
                        - string
                    data:
                      type: object
                      properties:
                        "2024-09-24":
                          type: number
                        "2024-09-25":
                          type: number
                        "2024-09-26":
                          type: number
                        "2024-09-27":
                          type: number
                        "2024-09-28":
                          type: number
                        "2024-09-29":
                          type: number
                        "2024-09-30":
                          type: number
                        "2024-10-01":
                          type: number
                    first_name:
                      type: string
                    hours_until_mitigated:
                      type: number
                    hours_until_resolved:
                      type: number
                    hours_until_triaged:
                      type: number
                    incidents:
                      type: number
                    last_name:
                      type: string
                    name:
                      type: string
          name:
            type:
              - string
              - "null"
          params:
            type:
              - object
              - "null"
            properties:
              datasets:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    aggregate:
                      type:
                        - object
                        - "null"
                      properties:
                        cumulative:
                          type:
                            - boolean
                            - "null"
                        key:
                          type:
                            - string
                            - "null"
                        operation:
                          type:
                            - string
                            - "null"
                    collection:
                      type:
                        - string
                        - "null"
                    filter:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - object
                          - "null"
                        properties:
                          operation:
                            type:
                              - string
                              - "null"
                          rules:
                            type:
                              - array
                              - "null"
                            items:
                              type:
                                - object
                                - "null"
                              properties:
                                condition:
                                  type:
                                    - string
                                    - "null"
                                key:
                                  type:
                                    - string
                                    - "null"
                                operation:
                                  type:
                                    - string
                                    - "null"
                                value:
                                  type:
                                    - string
                                    - "null"
                    group_by:
                      type:
                        - string
                        - "null"
              display:
                type:
                  - string
                  - "null"
          position:
            type:
              - object
              - "null"
            properties:
              h:
                type:
                  - number
                  - "null"
              w:
                type:
                  - number
                  - "null"
              x:
                type:
                  - number
                  - "null"
              "y":
                type:
                  - number
                  - "null"
          updated_at:
            type:
              - string
              - "null"
      id:
        type: string
    required:
      - id
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          created_at:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          full_name:
            type:
              - string
              - "null"
          full_name_with_team:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          time_zone:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
      id:
        type: string
      relationships:
        type:
          - object
          - "null"
        properties:
          devices:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
          email_addresses:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
          phone_numbers:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
    required:
      - id
  incident_types:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          color:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          notify_emails:
            type:
              - array
              - "null"
          position:
            type:
              - number
              - "null"
          slack_aliases:
            type:
              - array
              - "null"
          slack_channels:
            type:
              - array
              - "null"
          slug:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
      id:
        type: string
    required:
      - id
  ip_ranges:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          integrations_ipv4:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          integrations_ipv6:
            type:
              - array
              - "null"
          webhooks_ipv4:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          webhooks_ipv6:
            type:
              - array
              - "null"
      id:
        type: string
    required:
      - id
  users_notification_rules:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          created_at:
            type:
              - string
              - "null"
          delay:
            type:
              - number
              - "null"
          enabled_contact_types:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          position:
            type:
              - number
              - "null"
          updated_at:
            type:
              - string
              - "null"
          user_email_address_id:
            type:
              - string
              - "null"
          user_id:
            type:
              - number
              - "null"
      id:
        type: string
    required:
      - id
  teams:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          color:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          incidents_count:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          notify_emails:
            type:
              - array
              - "null"
          position:
            type:
              - number
              - "null"
          slack_aliases:
            type:
              - array
              - "null"
          slack_channels:
            type:
              - array
              - "null"
          slug:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          user_ids:
            type:
              - array
              - "null"
      id:
        type: string
      relationships:
        type:
          - object
          - "null"
        properties:
          users:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - array
                  - "null"
    required:
      - id
  sub_statuses:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          created_at:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          parent_status:
            type:
              - string
              - "null"
          position:
            type:
              - number
              - "null"
          slug:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
      id:
        type: string
    required:
      - id
  incidents_sub_statuses:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          assigned_at:
            type:
              - string
              - "null"
          assigned_by_user_id:
            type:
              - number
              - "null"
          incident_id:
            type:
              - string
              - "null"
          sub_status_id:
            type:
              - string
              - "null"
      id:
        type: string
      relationships:
        type:
          - object
          - "null"
        properties:
          assigned_by_user:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
          sub_status:
            type:
              - object
              - "null"
            properties:
              data:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
    required:
      - id
  incident_roles:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          allow_multi_user_assignment:
            type:
              - boolean
              - "null"
          created_at:
            type:
              - string
              - "null"
          enabled:
            type:
              - boolean
              - "null"
          name:
            type:
              - string
              - "null"
          optional:
            type:
              - boolean
              - "null"
          position:
            type:
              - number
              - "null"
          slug:
            type:
              - string
              - "null"
          summary:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
      id:
        type: string
    required:
      - id
  post_mortems:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          created_at:
            type:
              - string
              - "null"
          incident_id:
            type:
              - string
              - "null"
          mitigated_at:
            type:
              - string
              - "null"
          resolved_at:
            type:
              - string
              - "null"
          short_url:
            type:
              - string
              - "null"
          show_action_items:
            type:
              - boolean
              - "null"
          show_functionalities_impacted:
            type:
              - boolean
              - "null"
          show_groups_impacted:
            type:
              - boolean
              - "null"
          show_services_impacted:
            type:
              - boolean
              - "null"
          show_timeline:
            type:
              - boolean
              - "null"
          show_timeline_action_items:
            type:
              - boolean
              - "null"
          show_timeline_genius:
            type:
              - boolean
              - "null"
          show_timeline_order:
            type:
              - string
              - "null"
          show_timeline_starred_only:
            type:
              - boolean
              - "null"
          show_timeline_tasks:
            type:
              - boolean
              - "null"
          show_timeline_trail:
            type:
              - boolean
              - "null"
          started_at:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          title:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
      id:
        type: string
    required:
      - id
  status-pages:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          allow_email_subscribers:
            type:
              - boolean
              - "null"
          allow_rss_atom_feeds:
            type:
              - boolean
              - "null"
          allow_search_engine_index:
            type:
              - boolean
              - "null"
          allow_sms_subscribers:
            type:
              - boolean
              - "null"
          authentication_enabled:
            type:
              - boolean
              - "null"
          authentication_password:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          enabled:
            type:
              - boolean
              - "null"
          failure_message:
            type:
              - string
              - "null"
          footer_color:
            type:
              - string
              - "null"
          functionality_ids:
            type:
              - array
              - "null"
          header_color:
            type:
              - string
              - "null"
          public:
            type:
              - boolean
              - "null"
          public_title:
            type:
              - string
              - "null"
          service_ids:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          success_message:
            type:
              - string
              - "null"
          time_zone:
            type:
              - string
              - "null"
          title:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
      id:
        type: string
    required:
      - id
  severities:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          color:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          notify_emails:
            type:
              - array
              - "null"
          position:
            type:
              - number
              - "null"
          severity:
            type:
              - string
              - "null"
          slack_aliases:
            type:
              - array
              - "null"
          slack_channels:
            type:
              - array
              - "null"
          slug:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
      id:
        type: string
    required:
      - id
  services:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      attributes:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          color:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          environment_ids:
            type:
              - array
              - "null"
          github_repository_branch:
            type:
              - string
              - "null"
          gitlab_repository_branch:
            type:
              - string
              - "null"
          incidents_count:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          notify_emails:
            type:
              - array
              - "null"
          owners_group_ids:
            type:
              - array
              - "null"
          owners_user_ids:
            type:
              - array
              - "null"
          position:
            type:
              - number
              - "null"
          public_description:
            type:
              - string
              - "null"
          service_ids:
            type:
              - array
              - "null"
          show_uptime:
            type:
              - boolean
              - "null"
          show_uptime_last_days:
            type:
              - number
              - "null"
          slack_aliases:
            type:
              - array
              - "null"
          slack_channels:
            type:
              - array
              - "null"
          slug:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          updated_at:
            type:
              - string
              - "null"
      id:
        type: string
    required:
      - id
[...]
