version: 6.5.2

type: DeclarativeSource

description: >-
  The GreytHR Connector for Airbyte allows seamless integration with the GreytHR
  platform, enabling users to automate the extraction and synchronization of
  employee management and payroll data into their preferred destinations for
  reporting, analytics, or further processing.

check:
  type: CheckStream
  stream_names:
    - Employees

definitions:
  streams:
    Employees:
      type: DeclarativeStream
      name: Employees
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 0
        requester:
          $ref: "#/definitions/base_requester"
          path: /employee/v2/employees
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"domain\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - employeeId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Employees"
    Users List:
      type: DeclarativeStream
      name: Users List
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /user/v2/users
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"domain\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Users List"
    Employees Profile:
      type: DeclarativeStream
      name: Employees Profile
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /employee/v2/employees/profile
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"domain\"] }}"
          request_parameters:
            descRequired: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - employeeId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Employees Profile"
    Employees Categories:
      type: DeclarativeStream
      name: Employees Categories
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 0
            inject_on_first_request: false
        requester:
          $ref: "#/definitions/base_requester"
          path: /employee/v2/employees/categories
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"domain\"] }}"
          request_parameters:
            descRequired: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - employeeId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Employees Categories"
    Employee Bank Details:
      type: DeclarativeStream
      name: Employee Bank Details
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /employee/v2/employees/bank
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"domain\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - employeeId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Employee Bank Details"
    Employees Work Details:
      type: DeclarativeStream
      name: Employees Work Details
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /employee/v2/employees/work
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"domain\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - employeeId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Employees Work Details"
    Employee PF & ESI details:
      type: DeclarativeStream
      name: Employee PF & ESI details
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /employee/v2/employees/pf
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"domain\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - employeeId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Employee PF & ESI details"
    Employee Statutory Details:
      type: DeclarativeStream
      name: Employee Statutory Details
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /employee/v2/employees/statutory/india
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"domain\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - employeeId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Employee Statutory Details"
    Employees Personal Details:
      type: DeclarativeStream
      name: Employees Personal Details
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /employee/v2/employees/personal
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"domain\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - employeeId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Employees Personal Details"
    Employee Separation Details:
      type: DeclarativeStream
      name: Employee Separation Details
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 0
        requester:
          $ref: "#/definitions/base_requester"
          path: /employee/v2/employees/separation
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"domain\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - employeeId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Employee Separation Details"
    Employee Qualifications Details:
      type: DeclarativeStream
      name: Employee Qualifications Details
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /employee/v2/employees/qualifications
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"domain\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Employee Qualifications Details"
    Employee Leave Balances:
      type: DeclarativeStream
      name: Employee Leave Balances
      primary_key: []
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /leave/v2/employee/{{ stream_partition['employee_id'] }}/years/{{ config.get('year', now_utc().strftime('%Y')) }}/balance
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"domain\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: employeeId
              partition_field: employee_id
              stream:
                $ref: "#/definitions/streams/Employees"
        schema_loader:
          type: InlineSchemaLoader
          schema:
            $ref: "#/schemas/Employee Leave Balances"
    Employee Leave Transactions:
      type: DeclarativeStream
      name: Employee Leave Transactions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /leave/v2/employee/{{ stream_partition['employee_id'] }}/transactions
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"domain\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: employeeId
              partition_field: employee_id
              stream:
                $ref: "#/definitions/streams/Employees"
        incremental_sync:
          type: DatetimeBasedCursor
          cursor_field: fromDate
          cursor_datetime_formats:
            - "%Y-%m-%d"
          datetime_format: "%Y-%m-%d"
          start_datetime:
            type: MinMaxDatetime
            datetime: "{{ config.get('start_date', '2020-01-01') }}"
            datetime_format: "%Y-%m-%d"
          start_time_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          end_time_option:
            type: RequestOption
            field_name: end
            inject_into: request_parameter
          end_datetime:
            type: MinMaxDatetime
            datetime: "{{ now_utc().strftime('%Y-%m-%d') }}"
            datetime_format: "%Y-%m-%d"
          step: P31D
          cursor_granularity: P1D
        schema_loader:
          type: InlineSchemaLoader
          schema:
            $ref: "#/schemas/Employee Leave Transactions"
    Employee Attendance Summary:
      type: DeclarativeStream
      name: Employee Attendance Summary
      primary_key: []
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /attendance/v2/employee/{{ stream_partition['employee_id'] }}/insights
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"domain\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: employeeId
              partition_field: employee_id
              stream:
                $ref: "#/definitions/streams/Employees"
        incremental_sync:
          type: DatetimeBasedCursor
          cursor_field: endDate
          cursor_datetime_formats:
            - "%Y-%m-%d"
          datetime_format: "%Y-%m-%d"
          start_datetime:
            type: MinMaxDatetime
            datetime: "{{ config.get('start_date', '2020-01-01') }}"
            datetime_format: "%Y-%m-%d"
          start_time_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          end_time_option:
            type: RequestOption
            field_name: end
            inject_into: request_parameter
          end_datetime:
            type: MinMaxDatetime
            datetime: "{{ now_utc().strftime('%Y-%m-%d') }}"
            datetime_format: "%Y-%m-%d"
          step: P31D
          cursor_granularity: P1D
        schema_loader:
          type: InlineSchemaLoader
          schema:
            $ref: "#/schemas/Employee Attendance Summary"
    Employee Attendance Muster:
      type: DeclarativeStream
      primary_key: []
      name: Employee Attendance Muster
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /attendance/v2/employee/{{ stream_partition['employee_id'] }}/muster
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"domain\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - records
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: employeeId
              partition_field: employee_id
              stream:
                $ref: "#/definitions/streams/Employees"
        incremental_sync:
          type: DatetimeBasedCursor
          cursor_field: summary.attendanceDate
          cursor_datetime_formats:
            - "%Y-%m-%d"
          datetime_format: "%Y-%m-%d"
          start_datetime:
            type: MinMaxDatetime
            datetime: "{{ config.get('start_date', '2020-01-01') }}"
            datetime_format: "%Y-%m-%d"
          start_time_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          end_time_option:
            type: RequestOption
            field_name: end
            inject_into: request_parameter
          end_datetime:
            type: MinMaxDatetime
            datetime: "{{ now_utc().strftime('%Y-%m-%d') }}"
            datetime_format: "%Y-%m-%d"
          step: P31D
          cursor_granularity: P1D
        schema_loader:
          type: InlineSchemaLoader
          schema:
            $ref: "#/schemas/Employee Attendance Muster"
    Employee Attendance Swipes:
      type: DeclarativeStream
      name: Employee Attendance Swipes
      primary_key: []
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /attendance/v2/employee/{{ stream_partition['employee_id'] }}/swipes
          http_method: GET
          request_parameters:
            systemSwipes: "true"
          request_headers:
            x-greythr-domain: "{{ config[\"domain\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: employeeId
              partition_field: employee_id
              stream:
                $ref: "#/definitions/streams/Employees"
        incremental_sync:
          type: DatetimeBasedCursor
          cursor_field: attendanceDate
          cursor_datetime_formats:
            - "%Y-%m-%d"
          datetime_format: "%Y-%m-%d"
          start_datetime:
            type: MinMaxDatetime
            datetime: "{{ config.get('start_date', '2020-01-01') }}"
            datetime_format: "%Y-%m-%d"
          start_time_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          end_time_option:
            type: RequestOption
            field_name: end
            inject_into: request_parameter
          end_datetime:
            type: MinMaxDatetime
            datetime: "{{ now_utc().strftime('%Y-%m-%d') }}"
            datetime_format: "%Y-%m-%d"
          step: P31D
          cursor_granularity: P1D
        schema_loader:
          type: InlineSchemaLoader
          schema:
            $ref: "#/schemas/Employee Attendance Swipes"
  base_requester:
    type: HttpRequester
    url_base: "{{ config['base_url'] }}"
    authenticator:
      type: SessionTokenAuthenticator
      login_requester:
        type: HttpRequester
        path: client-token
        url_base: https://{{ config['domain'] }}/uas/v1/oauth2
        http_method: POST
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config[\"password\"] }}"
          username: "{{ config[\"username\"] }}"
        request_headers: {}
        request_parameters: {}
      session_token_path:
        - access_token
      expiration_duration: P1W
      request_authentication:
        type: ApiKey
        inject_into:
          type: RequestOption
          field_name: ACCESS-TOKEN
          inject_into: header

streams:
  - $ref: "#/definitions/streams/Employees"
  - $ref: "#/definitions/streams/Employees Categories"
  - $ref: "#/definitions/streams/Employees Profile"
  - $ref: "#/definitions/streams/Employees Personal Details"
  - $ref: "#/definitions/streams/Employees Work Details"
  - $ref: "#/definitions/streams/Employee Separation Details"
  - $ref: "#/definitions/streams/Employee Statutory Details"
  - $ref: "#/definitions/streams/Employee Bank Details"
  - $ref: "#/definitions/streams/Employee PF & ESI details"
  - $ref: "#/definitions/streams/Employee Qualifications Details"
  - $ref: "#/definitions/streams/Users List"
  - $ref: "#/definitions/streams/Employee Leave Balances"
  - $ref: "#/definitions/streams/Employee Leave Transactions"
  - $ref: "#/definitions/streams/Employee Attendance Summary"
  - $ref: "#/definitions/streams/Employee Attendance Muster"
  - $ref: "#/definitions/streams/Employee Attendance Swipes"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - base_url
      - domain
      - username
    properties:
      domain:
        type: string
        description: Your GreytHR Host URL
        order: 1
        title: Host URL
      base_url:
        type: string
        description: https://api.greythr.com
        order: 0
        title: Base URL
      password:
        type: string
        order: 3
        title: Password
        always_show: true
        airbyte_secret: true
      username:
        type: string
        order: 2
        title: Username
      year:
        type: string
        description: Leave year used by the leave balance endpoint. Defaults to the current year.
        order: 4
        title: Leave Year
      start_date:
        type: string
        description: Inclusive start date for date-ranged Leave and Attendance streams (YYYY-MM-DD).
        order: 5
        title: Start Date
        default: "2020-01-01"
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://www.getknit.dev/blog/greythr-api-guide
  testedStreams:
    Employees:
      hasRecords: true
      streamHash: 084220da06aabb41f55c7ecfbeccdcc0098c09d6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Users List:
      hasRecords: true
      streamHash: 9fabe296a9f240936fe30eac8a9803da1aedd608
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Employees Profile:
      hasRecords: true
      streamHash: 4394c8a538b68ec6bd5b5c91ef02d40491a7720f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Employees Categories:
      hasRecords: true
      streamHash: a6cd2b51387bc4c2035bdc7b53987dfe09e2f939
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Employee Bank Details:
      hasRecords: true
      streamHash: c1abcaabd836f3c73ab660f2e52df64740a2f143
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Employees Work Details:
      hasRecords: true
      streamHash: d79f7042c185f1481dd9abb739577f8fecc6574d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Employee PF & ESI details:
      hasRecords: true
      streamHash: 0c4d5128674762c7579273943ab279d4c38f6709
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Employee Statutory Details:
      hasRecords: true
      streamHash: b0a8289160af4538fca2edf0cec84a15a92ddf14
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Employees Personal Details:
      hasRecords: true
      streamHash: 32388a874fce59805a00dab12df7efa9183f3219
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Employee Separation Details:
      hasRecords: true
      streamHash: c10e184f7473f4a265bd211fd792bacc0c74feae
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Employee Qualifications Details:
      hasRecords: true
      streamHash: f9bb303f71084bbd7a04fc072ceb786e7518e722
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    Employees: true
    Users List: true
    Employees Profile: true
    Employees Categories: true
    Employee Bank Details: true
    Employees Work Details: true
    Employee PF & ESI details: true
    Employee Statutory Details: true
    Employees Personal Details: true
    Employee Separation Details: true
    Employee Qualifications Details: true

schemas:
  Employees:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - employeeId
    properties:
      name:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      gender:
        type:
          - string
          - "null"
      mobile:
        type:
          - string
          - "null"
      status:
        type:
          - number
          - "null"
      leftorg:
        type:
          - boolean
          - "null"
      lastName:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      dateOfJoin:
        type:
          - string
          - "null"
      employeeId:
        type: number
      employeeNo:
        type:
          - string
          - "null"
      dateOfBirth:
        type:
          - string
          - "null"
      leavingDate:
        type:
          - string
          - "null"
      lastModified:
        type:
          - string
          - "null"
      personalEmail:
        type:
          - string
          - "null"
      probationPeriod:
        type:
          - number
          - "null"
    additionalProperties: true
  Users List:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      type:
        type:
          - number
          - "null"
      id:
        type:
          - number
          - "null"
      admin:
        type:
          - boolean
          - "null"
      email:
        type:
          - string
          - "null"
      deleted:
        type:
          - boolean
          - "null"
      userName:
        type:
          - string
          - "null"
      systemPassword:
        type:
          - boolean
          - "null"
    additionalProperties: true
  Employees Profile:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - employeeId
    properties:
      twitter:
        type:
          - string
          - "null"
      wishDOB:
        type:
          - string
          - "null"
      facebook:
        type:
          - string
          - "null"
      linkedIn:
        type:
          - string
          - "null"
      nickname:
        type:
          - string
          - "null"
      biography:
        type:
          - string
          - "null"
      employeeId:
        type: number
    additionalProperties: true
  Employees Categories:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - employeeId
    properties:
      employeeId:
        type: number
      categoryList:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            value:
              type:
                - number
                - "null"
            category:
              type:
                - number
                - "null"
            valueDesc:
              type:
                - string
                - "null"
            effectiveTo:
              type:
                - string
                - "null"
            categoryDesc:
              type:
                - string
                - "null"
            effectiveFrom:
              type:
                - string
                - "null"
    additionalProperties: true
  Employee Bank Details:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - employeeId
    properties:
      bankName:
        type:
          - number
          - "null"
      bankBranch:
        type:
          - number
          - "null"
      branchCode:
        type:
          - string
          - "null"
      employeeId:
        type: number
      bankAccountNumber:
        type:
          - string
          - "null"
      salaryPaymentMode:
        type:
          - number
          - "null"
    additionalProperties: true
  Employees Work Details:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - employeeId
    properties:
      employeeId:
        type: number
      confirmDate:
        type:
          - string
          - "null"
      noticePeriod:
        type:
          - number
          - "null"
      onboardingStatus:
        type:
          - string
          - "null"
      extendedProbationDays:
        type:
          - number
          - "null"
    additionalProperties: true
  Employee PF & ESI details:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - employeeId
    properties:
      uan:
        type:
          - string
          - "null"
      pfNumber:
        type:
          - string
          - "null"
      employeeId:
        type: number
      pfEligible:
        type:
          - boolean
          - "null"
      esiEligible:
        type:
          - boolean
          - "null"
      pfKycLinkedOn:
        type:
          - string
          - "null"
      pfExistingMember:
        type:
          - boolean
          - "null"
      excessEPFContribution:
        type:
          - boolean
          - "null"
      excessEPSContribution:
        type:
          - boolean
          - "null"
    additionalProperties: true
  Employee Statutory Details:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - employeeId
    properties:
      disabled:
        type:
          - boolean
          - "null"
      birthplace:
        type:
          - string
          - "null"
      employeeId:
        type: number
      expatriate:
        type:
          - boolean
          - "null"
      fatherName:
        type:
          - string
          - "null"
      isDirector:
        type:
          - boolean
          - "null"
      nationality:
        type:
          - number
          - "null"
      countryOfOrigin:
        type:
          - number
          - "null"
      residentialStatus:
        type:
          - number
          - "null"
    additionalProperties: true
  Employees Personal Details:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - employeeId
    properties:
      bloodGroup:
        type:
          - number
          - "null"
      employeeId:
        type: number
      spouseName:
        type:
          - string
          - "null"
      maritalStatus:
        type:
          - number
          - "null"
    additionalProperties: true
  Employee Separation Details:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - employeeId
    properties:
      leftOrg:
        type:
          - boolean
          - "null"
      employeeId:
        type: number
      leavingDate:
        type:
          - string
          - "null"
      leavingReason:
        type:
          - number
          - "null"
      fitToBeRehired:
        type:
          - boolean
          - "null"
      submissionDate:
        type:
          - string
          - "null"
      exitInterviewDate:
        type:
          - string
          - "null"
      finalSettlementDate:
        type:
          - string
          - "null"
      submittedResignation:
        type:
          - boolean
          - "null"
      tentativeLeavingDate:
        type:
          - string
          - "null"
    additionalProperties: true
  Employee Qualifications Details:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      id:
        type:
          - number
          - "null"
      duration:
        type:
          - string
          - "null"
      employee:
        type:
          - number
          - "null"
      qualArea:
        type:
          - number
          - "null"
      qualYear:
        type:
          - number
          - "null"
      institute:
        type:
          - string
          - "null"
      qualLevel:
        type:
          - number
          - "null"
      qualDescription:
        type:
          - number
          - "null"
      qualCompletionYear:
        type:
          - number
          - "null"
    additionalProperties: true
  Employee Leave Balances:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      leaveTypeCategory:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          description:
            type:
              - string
              - "null"
          code:
            type:
              - string
              - "null"
          sortOrder:
            type:
              - number
              - "null"
        additionalProperties: true
      balance:
        type:
          - number
          - "null"
      ob:
        type:
          - number
          - "null"
      grant:
        type:
          - number
          - "null"
      availed:
        type:
          - number
          - "null"
      applied:
        type:
          - number
          - "null"
      lapsed:
        type:
          - number
          - "null"
      deducted:
        type:
          - number
          - "null"
      encashed:
        type:
          - number
          - "null"
      employee:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
          name:
            type:
              - string
              - "null"
          employeeNo:
            type:
              - string
              - "null"
          leftOrg:
            type:
              - boolean
              - "null"
        additionalProperties: true
    additionalProperties: true
  Employee Leave Transactions:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      id:
        type:
          - number
          - "null"
      employee:
        type:
          - object
          - "null"
        additionalProperties: true
      leaveTypeCategory:
        type:
          - object
          - number
          - "null"
        additionalProperties: true
      leaveTransactionType:
        type:
          - object
          - number
          - "null"
        additionalProperties: true
      fromDate:
        type:
          - string
          - "null"
      toDate:
        type:
          - string
          - "null"
      fromSession:
        type:
          - string
          - number
          - "null"
      toSession:
        type:
          - string
          - number
          - "null"
      days:
        type:
          - number
          - "null"
      remarks:
        type:
          - string
          - "null"
      cancelled:
        type:
          - boolean
          - "null"
      cancelId:
        type:
          - number
          - "null"
      postedDate:
        type:
          - string
          - "null"
      reason:
        type:
          - string
          - "null"
      children:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
      processId:
        type:
          - number
          - "null"
    additionalProperties: true
  Employee Attendance Summary:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      averages:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
      days:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
      status:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
      startDate:
        type:
          - string
          - "null"
      endDate:
        type:
          - string
          - "null"
      employee:
        type:
          - object
          - "null"
        additionalProperties: true
    additionalProperties: true
  Employee Attendance Muster:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      employee:
        type:
          - object
          - "null"
        additionalProperties: true
      summary:
        type:
          - object
          - "null"
        properties:
          attendanceDate:
            type:
              - string
              - "null"
          shift:
            type:
              - object
              - "null"
            additionalProperties: true
          leave:
            type:
              - object
              - "null"
            additionalProperties: true
        additionalProperties: true
      exceptions:
        type:
          - array
          - "null"
        items:
          type: object
          additionalProperties: true
    additionalProperties: true
  Employee Attendance Swipes:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      employee:
        type:
          - object
          - "null"
        additionalProperties: true
      attendanceDate:
        type:
          - string
          - "null"
      punchDateTime:
        type:
          - string
          - "null"
      inOutIndicator:
        type:
          - string
          - "null"
      doorName:
        type:
          - string
          - "null"
      systemSwipe:
        type:
          - boolean
          - "null"
      swipeCaptureType:
        type:
          - string
          - "null"
      shift:
        type:
          - object
          - "null"
        additionalProperties: true
      receivedOn:
        type:
          - string
          - "null"
      accessCardNo:
        type:
          - string
          - "null"
      latitude:
        type:
          - number
          - "null"
      longitude:
        type:
          - number
          - "null"
      deviceId:
        type:
          - number
          - string
          - "null"
      deviceName:
        type:
          - string
          - "null"
      autoDetect:
        type:
          - boolean
          - "null"
      autoDetection:
        type:
          - object
          - "null"
        additionalProperties: true
    additionalProperties: true
