version: 6.1.0

type: DeclarativeSource

description: >-
  The GreytHR Connector for Airbyte allows seamless integration with the GreytHR
  platform, enabling users to automate the extraction and synchronization of
  employee management and payroll data into their preferred destinations for
  reporting, analytics, or further processing.

check:
  type: CheckStream
  stream_names:
    - Employees

definitions:
  streams:
    Employees:
      type: DeclarativeStream
      name: Employees
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /employee/v2/employees
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"gthost\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - employeeId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Employees"
    Users List:
      type: DeclarativeStream
      name: Users List
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /user/v2/users
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"gthost\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Users List"
    Employees Profile:
      type: DeclarativeStream
      name: Employees Profile
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /employee/v2/employees/profile
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"gthost\"] }}"
          request_parameters:
            descRequired: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - employeeId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Employees Profile"
    Employees Categories:
      type: DeclarativeStream
      name: Employees Categories
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /employee/v2/employees/categories
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"gthost\"] }}"
          request_parameters:
            descRequired: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - employeeId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Employees Categories"
    Employee Bank Details:
      type: DeclarativeStream
      name: Employee Bank Details
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /employee/v2/employees/bank
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"gthost\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - employeeId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Employee Bank Details"
    Employees Work Details:
      type: DeclarativeStream
      name: Employees Work Details
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /employee/v2/employees/work
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"gthost\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - employeeId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Employees Work Details"
    Employee PF & ESI details:
      type: DeclarativeStream
      name: Employee PF & ESI details
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /employee/v2/employees/pf
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"gthost\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - employeeId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Employee PF & ESI details"
    Employee Statutory Details:
      type: DeclarativeStream
      name: Employee Statutory Details
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /employee/v2/employees/statutory/india
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"gthost\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - employeeId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Employee Statutory Details"
    Employees Personal Details:
      type: DeclarativeStream
      name: Employees Personal Details
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /employee/v2/employees/personal
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"gthost\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - employeeId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Employees Personal Details"
    Employee Separation Details:
      type: DeclarativeStream
      name: Employee Separation Details
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /employee/v2/employees/separation
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"gthost\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - employeeId
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Employee Separation Details"
    Employee Qualifications Details:
      type: DeclarativeStream
      name: Employee Qualifications Details
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
        requester:
          $ref: "#/definitions/base_requester"
          path: /employee/v2/employees/qualifications
          http_method: GET
          request_headers:
            x-greythr-domain: "{{ config[\"gthost\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Employee Qualifications Details"
  base_requester:
    type: HttpRequester
    url_base: https://api.greythr.com
    authenticator:
      type: SessionTokenAuthenticator
      login_requester:
        type: HttpRequester
        path: client-token
        url_base: https://{{ config['gthost'] }}/uas/v1/oauth2
        http_method: POST
        authenticator:
          type: BasicHttpAuthenticator
          password: "{{ config[\"password\"] }}"
          username: "{{ config[\"username\"] }}"
        request_headers: {}
        request_parameters: {}
      session_token_path:
        - access_token
      expiration_duration: P1W
      request_authentication:
        type: ApiKey
        inject_into:
          type: RequestOption
          field_name: ACCESS-TOKEN
          inject_into: header

streams:
  - $ref: "#/definitions/streams/Employees"
  - $ref: "#/definitions/streams/Employees Categories"
  - $ref: "#/definitions/streams/Employees Profile"
  - $ref: "#/definitions/streams/Employees Personal Details"
  - $ref: "#/definitions/streams/Employees Work Details"
  - $ref: "#/definitions/streams/Employee Separation Details"
  - $ref: "#/definitions/streams/Employee Statutory Details"
  - $ref: "#/definitions/streams/Employee Bank Details"
  - $ref: "#/definitions/streams/Employee PF & ESI details"
  - $ref: "#/definitions/streams/Employee Qualifications Details"
  - $ref: "#/definitions/streams/Users List"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - gthost
      - username
    properties:
      gthost:
        type: string
        description: Your GreytHR Host URL
        order: 0
        title: Host URL
      password:
        type: string
        order: 2
        title: Password
        always_show: true
        airbyte_secret: true
      username:
        type: string
        order: 1
        title: Username
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://www.getknit.dev/blog/greythr-api-guide
  testedStreams:
    Employees:
      hasRecords: true
      streamHash: 3e95dc20590b8dc1abf16732e980b73fdd1e097b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Users List:
      hasRecords: true
      streamHash: 55fcca9ebd711e5e0347d1512ed58efc1404f02b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Employees Profile:
      hasRecords: true
      streamHash: 46f46362d5aa758283794801c3d893392e8fb7f0
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Employees Categories:
      hasRecords: true
      streamHash: a7195cd9ca3b4212eced68a62431c0ea527601d9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Employee Bank Details:
      hasRecords: true
      streamHash: 18dadcac109612b208ec6dc583ffeb74b30ddc38
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Employees Work Details:
      hasRecords: true
      streamHash: b79ee7c5c4ea2975be8977da34f803d1adb158a9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Employee PF & ESI details:
      hasRecords: true
      streamHash: 53a58e00227d9cfc215a4d4233808b6d6feae5cf
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Employee Statutory Details:
      hasRecords: true
      streamHash: 93bfb3748804e7e6ef943f2924d683b6e4d56e70
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Employees Personal Details:
      hasRecords: true
      streamHash: 27337382fb3623b62314e9f79dc0202405db147f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Employee Separation Details:
      hasRecords: true
      streamHash: 2ef21f1857c21a2dbe0dc93dd169f439803b786e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Employee Qualifications Details:
      hasRecords: true
      streamHash: 4c64caaf7532cce1cef7446cfc035cf8884ae23f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    Employees: true
    Users List: true
    Employees Profile: true
    Employees Categories: true
    Employee Bank Details: true
    Employees Work Details: true
    Employee PF & ESI details: true
    Employee Statutory Details: true
    Employees Personal Details: true
    Employee Separation Details: true
    Employee Qualifications Details: true

schemas:
  Employees:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - employeeId
    properties:
      name:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      gender:
        type:
          - string
          - "null"
      mobile:
        type:
          - string
          - "null"
      status:
        type:
          - number
          - "null"
      leftorg:
        type:
          - boolean
          - "null"
      lastName:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      dateOfJoin:
        type:
          - string
          - "null"
      employeeId:
        type: number
      employeeNo:
        type:
          - string
          - "null"
      middleName:
        type:
          - string
          - "null"
      yearsInJob:
        type:
          - number
          - "null"
      dateOfBirth:
        type:
          - string
          - "null"
      leavingDate:
        type:
          - string
          - "null"
      lastModified:
        type:
          - string
          - "null"
      personalEmail:
        type:
          - string
          - "null"
      personalEmail2:
        type:
          - string
          - "null"
      personalEmail3:
        type:
          - string
          - "null"
      prevExperience:
        type:
          - number
          - "null"
      yearsInService:
        type:
          - number
          - "null"
      probationPeriod:
        type:
          - number
          - "null"
      relevantExperience:
        type:
          - number
          - "null"
    additionalProperties: true
  Users List:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      type:
        type:
          - number
          - "null"
      id:
        type:
          - number
          - "null"
      admin:
        type:
          - boolean
          - "null"
      email:
        type:
          - string
          - "null"
      deleted:
        type:
          - boolean
          - "null"
      userName:
        type:
          - string
          - "null"
      systemPassword:
        type:
          - boolean
          - "null"
    additionalProperties: true
  Employees Profile:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - employeeId
    properties:
      twitter:
        type:
          - string
          - "null"
      wishDOB:
        type:
          - string
          - "null"
      facebook:
        type:
          - string
          - "null"
      linkedIn:
        type:
          - string
          - "null"
      nickname:
        type:
          - string
          - "null"
      biography:
        type:
          - string
          - "null"
      employeeId:
        type: number
    additionalProperties: true
  Employees Categories:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - employeeId
    properties:
      employeeId:
        type: number
      categoryList:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            value:
              type:
                - number
                - "null"
            category:
              type:
                - number
                - "null"
            valueDesc:
              type:
                - string
                - "null"
            effectiveTo:
              type:
                - string
                - "null"
            categoryDesc:
              type:
                - string
                - "null"
            effectiveFrom:
              type:
                - string
                - "null"
    additionalProperties: true
  Employee Bank Details:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - employeeId
    properties:
      bankName:
        type:
          - number
          - "null"
      bankBranch:
        type:
          - number
          - "null"
      branchCode:
        type:
          - string
          - "null"
      employeeId:
        type: number
      bankAccountNumber:
        type:
          - string
          - "null"
      salaryPaymentMode:
        type:
          - number
          - "null"
    additionalProperties: true
  Employees Work Details:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - employeeId
    properties:
      employeeId:
        type: number
      confirmDate:
        type:
          - string
          - "null"
      noticePeriod:
        type:
          - number
          - "null"
      onboardingStatus:
        type:
          - string
          - "null"
      extendedProbationDays:
        type:
          - number
          - "null"
    additionalProperties: true
  Employee PF & ESI details:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - employeeId
    properties:
      uan:
        type:
          - string
          - "null"
      pfNumber:
        type:
          - string
          - "null"
      employeeId:
        type: number
      pfEligible:
        type:
          - boolean
          - "null"
      esiEligible:
        type:
          - boolean
          - "null"
      pfKycLinkedOn:
        type:
          - string
          - "null"
      pfExistingMember:
        type:
          - boolean
          - "null"
      excessEPFContribution:
        type:
          - boolean
          - "null"
      excessEPSContribution:
        type:
          - boolean
          - "null"
    additionalProperties: true
  Employee Statutory Details:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - employeeId
    properties:
      disabled:
        type:
          - boolean
          - "null"
      birthplace:
        type:
          - string
          - "null"
      employeeId:
        type: number
      expatriate:
        type:
          - boolean
          - "null"
      fatherName:
        type:
          - string
          - "null"
      isDirector:
        type:
          - boolean
          - "null"
      nationality:
        type:
          - number
          - "null"
      countryOfOrigin:
        type:
          - number
          - "null"
      residentialStatus:
        type:
          - number
          - "null"
    additionalProperties: true
  Employees Personal Details:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - employeeId
    properties:
      bloodGroup:
        type:
          - number
          - "null"
      employeeId:
        type: number
      spouseName:
        type:
          - string
          - "null"
      maritalStatus:
        type:
          - number
          - "null"
    additionalProperties: true
  Employee Separation Details:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - employeeId
    properties:
      leftOrg:
        type:
          - boolean
          - "null"
      employeeId:
        type: number
      leavingDate:
        type:
          - string
          - "null"
      leavingReason:
        type:
          - number
          - "null"
      fitToBeRehired:
        type:
          - boolean
          - "null"
      submissionDate:
        type:
          - string
          - "null"
      exitInterviewDate:
        type:
          - string
          - "null"
      finalSettlementDate:
        type:
          - string
          - "null"
      submittedResignation:
        type:
          - boolean
          - "null"
      tentativeLeavingDate:
        type:
          - string
          - "null"
    additionalProperties: true
  Employee Qualifications Details:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      id:
        type:
          - number
          - "null"
      duration:
        type:
          - string
          - "null"
      employee:
        type:
          - number
          - "null"
      qualArea:
        type:
          - number
          - "null"
      qualYear:
        type:
          - number
          - "null"
      institute:
        type:
          - string
          - "null"
      qualLevel:
        type:
          - number
          - "null"
      qualDescription:
        type:
          - number
          - "null"
      qualCompletionYear:
        type:
          - number
          - "null"
    additionalProperties: true
