@use "scss/colors";

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 10px;
  gap: 5px;
  border-radius: 20px;
  cursor: pointer;
  background: colors.$grey-50;
  border: 1px solid colors.$grey-50;
  color: colors.$grey-600;

  &:hover,
  &.active {
    background: colors.$grey-100;
  }
}
