@use "scss/colors";
@use "scss/variables";

.button {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 10px;
  gap: 5px;
  border-radius: 20px;
  cursor: pointer;
  background: colors.$grey-50;
  border: variables.$border-thin solid colors.$grey-50;
  color: colors.$grey-600;

  &:hover,
  &.active {
    background: colors.$grey-100;
  }
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
