version: 6.1.0

type: DeclarativeSource

description: >-
  Integrate seamlessly with Drip using this Airbyte connector, enabling smooth
  data sync for all your email marketing needs. Effortlessly connect and
  automate data flows to optimize your marketing strategies with ease.

check:
  type: CheckStream
  stream_names:
    - events_series

definitions:
  streams:
    events_series:
      type: DeclarativeStream
      name: events_series
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /event_series
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: starting_after
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ last_record['id'] }}"
            stop_condition: "{{ response.links.next is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/events_series"
    events:
      type: DeclarativeStream
      name: events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /event_series/{{ stream_partition.event_series_id }}/events
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: starting_after
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ last_record['id'] }}"
            stop_condition: "{{ response.links.next is none }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: event_series_id
              stream:
                $ref: "#/definitions/streams/events_series"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/events"
    products:
      type: DeclarativeStream
      name: products
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /products
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: starting_after
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ last_record['id'] }}"
            stop_condition: "{{ response.links.next is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
    vouchers:
      type: DeclarativeStream
      name: vouchers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /vouchers
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: starting_after
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ last_record['id'] }}"
            stop_condition: "{{ response.links.next is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/vouchers"
    discounts:
      type: DeclarativeStream
      name: discounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /discounts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: starting_after
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ last_record['id'] }}"
            stop_condition: "{{ response.links.next is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/discounts"
    check_ins:
      type: DeclarativeStream
      name: check_ins
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /check_ins
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: starting_after
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ last_record['id'] }}"
            stop_condition: "{{ response.links.next is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/check_ins"
    issued_tickets:
      type: DeclarativeStream
      name: issued_tickets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /issued_tickets
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: starting_after
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ last_record['id'] }}"
            stop_condition: "{{ response.links.next is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/issued_tickets"
    orders:
      type: DeclarativeStream
      name: orders
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /orders
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: starting_after
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ last_record['id'] }}"
            stop_condition: "{{ response.links.next is none }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/orders"
    waitlists:
      type: DeclarativeStream
      name: waitlists
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /event_series/{{ stream_partition.event_series_id
            }}/waitlist_signups
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: starting_after
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ last_record['id'] }}"
            stop_condition: "{{ response.links.next is none }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: event_series_id
              stream:
                $ref: "#/definitions/streams/events_series"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/waitlists"
    vouchers_codes:
      type: DeclarativeStream
      name: vouchers_codes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /vouchers/{{ stream_partition.voucher_id }}/codes
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: starting_after
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ last_record['id'] }}"
            stop_condition: "{{ response.links.next is none }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: voucher_id
              stream:
                $ref: "#/definitions/streams/vouchers"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/vouchers_codes"
  base_requester:
    type: HttpRequester
    url_base: https://api.tickettailor.com/v1
    authenticator:
      type: BasicHttpAuthenticator
      username: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/events_series"
  - $ref: "#/definitions/streams/events"
  - $ref: "#/definitions/streams/products"
  - $ref: "#/definitions/streams/vouchers"
  - $ref: "#/definitions/streams/discounts"
  - $ref: "#/definitions/streams/check_ins"
  - $ref: "#/definitions/streams/issued_tickets"
  - $ref: "#/definitions/streams/orders"
  - $ref: "#/definitions/streams/waitlists"
  - $ref: "#/definitions/streams/vouchers_codes"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: API key to use. Find it at https://www.getdrip.com/user/edit
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    events_series: false
    events: false
    products: true
    vouchers: true
    discounts: true
    check_ins: true
    issued_tickets: false
    orders: true
    waitlists: true
    vouchers_codes: true
  yamlComponents:
    global:
      - authenticator
  testedStreams:
    events_series:
      streamHash: 8edc6149c41ac5f309b997d506e5a331bb215a65
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    events:
      streamHash: 4c7e6383c411206fda1cd6fb8b3f1907af4ac154
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    products:
      streamHash: 5c343c5681138d3959a81f5150fd053edc381c83
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    vouchers:
      streamHash: 46718e9c71f7dcd6d5b5c9e8de5fcf0a76bd14a9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    discounts:
      streamHash: 00b8b496bee85bb5d2c21f3879830d73b0ce5d01
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    check_ins:
      streamHash: b77c3fb88b9fb6929fae8929e7cb269e50cf4b5e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    issued_tickets:
      streamHash: 1790e3cd3a801aeabd8fe92cbeefca72505ee4a3
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    orders:
      streamHash: 22469a462b78e7c6bec358fbda0b953ee34c61e2
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    waitlists:
      streamHash: a6980ff5fc3e0602c1f89e98149d3c066a74e5ac
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    vouchers_codes:
      hasRecords: true
      streamHash: b20f977fbefd70df0ded312917929285c04800b4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist:
    docsUrl: https://developers.tickettailor.com/

schemas:
  events_series:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      add_ons:
        type:
          - array
          - "null"
      bundles:
        type:
          - array
          - "null"
      call_to_action:
        type:
          - string
          - "null"
      created_at:
        type:
          - number
          - "null"
      currency:
        type:
          - string
          - "null"
      default_ticket_groups:
        type:
          - array
          - "null"
      default_ticket_types:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            booking_fee:
              type:
                - number
                - "null"
            has_overrides:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            max_per_order:
              type:
                - number
                - "null"
            min_per_order:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            object:
              type:
                - string
                - "null"
            price:
              type:
                - number
                - "null"
            quantity:
              type:
                - number
                - "null"
            quantity_held:
              type:
                - number
                - "null"
            quantity_issued:
              type:
                - number
                - "null"
            quantity_total:
              type:
                - number
                - "null"
            sort_order:
              type:
                - number
                - "null"
            status:
              type:
                - string
                - "null"
      id:
        type: string
      images:
        type:
          - object
          - "null"
        properties:
          header:
            type:
              - string
              - "null"
          thumbnail:
            type:
              - string
              - "null"
      name:
        type:
          - string
          - "null"
      next_occurrence_date:
        type:
          - object
          - "null"
        properties:
          date:
            type:
              - string
              - "null"
          formatted:
            type:
              - string
              - "null"
          iso:
            type:
              - string
              - "null"
          time:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
              - "null"
          unix:
            type:
              - number
              - "null"
      object:
        type:
          - string
          - "null"
      online_event:
        type:
          - string
          - "null"
      payment_methods:
        type:
          - array
          - "null"
      private:
        type:
          - string
          - "null"
      revenue:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
      timezone:
        type:
          - string
          - "null"
      total_issued_tickets:
        type:
          - number
          - "null"
      total_occurrences:
        type:
          - number
          - "null"
      upcoming_occurrences:
        type:
          - number
          - "null"
      url:
        type:
          - string
          - "null"
      venue:
        type:
          - object
          - "null"
        properties:
          postal_code:
            type:
              - string
              - "null"
      voucher_ids:
        type:
          - array
          - "null"
    required:
      - id
    additionalProperties: true
  events:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      bundles:
        type:
          - array
          - "null"
      chk:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      end:
        type:
          - object
          - "null"
        properties:
          date:
            type:
              - string
              - "null"
          formatted:
            type:
              - string
              - "null"
          iso:
            type:
              - string
              - "null"
          time:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
              - "null"
          unix:
            type:
              - number
              - "null"
      event_series_id:
        type:
          - string
          - "null"
      hidden:
        type:
          - string
          - "null"
      id:
        type: string
      object:
        type:
          - string
          - "null"
      revenue:
        type:
          - number
          - "null"
      start:
        type:
          - object
          - "null"
        properties:
          date:
            type:
              - string
              - "null"
          formatted:
            type:
              - string
              - "null"
          iso:
            type:
              - string
              - "null"
          time:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
              - "null"
          unix:
            type:
              - number
              - "null"
      ticket_groups:
        type:
          - array
          - "null"
      ticket_types:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            booking_fee:
              type:
                - number
                - "null"
            has_overrides:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            max_per_order:
              type:
                - number
                - "null"
            min_per_order:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            object:
              type:
                - string
                - "null"
            price:
              type:
                - number
                - "null"
            quantity:
              type:
                - number
                - "null"
            quantity_held:
              type:
                - number
                - "null"
            quantity_issued:
              type:
                - number
                - "null"
            quantity_total:
              type:
                - number
                - "null"
            sort_order:
              type:
                - number
                - "null"
            status:
              type:
                - string
                - "null"
      tickets_available:
        type:
          - string
          - "null"
      total_issued_tickets:
        type:
          - number
          - "null"
      unavailable:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  products:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - object
          - "null"
        properties:
          date:
            type:
              - string
              - "null"
          formatted:
            type:
              - string
              - "null"
          iso:
            type:
              - string
              - "null"
          time:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
              - "null"
          unix:
            type:
              - number
              - "null"
      currency:
        type:
          - string
          - "null"
      fulfilment_type:
        type:
          - string
          - "null"
      id:
        type: string
      linked_to_all_event_series:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      object:
        type:
          - string
          - "null"
      price:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
      updated_at:
        type:
          - object
          - "null"
        properties:
          date:
            type:
              - string
              - "null"
          formatted:
            type:
              - string
              - "null"
          iso:
            type:
              - string
              - "null"
          time:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
              - "null"
          unix:
            type:
              - number
              - "null"
    required:
      - id
  vouchers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      available_codes:
        type:
          - number
          - "null"
      currency:
        type:
          - string
          - "null"
      event_series_ids:
        type:
          - array
          - "null"
      expiry:
        type:
          - object
          - "null"
        properties:
          date:
            type:
              - string
              - "null"
          formatted:
            type:
              - string
              - "null"
          iso:
            type:
              - string
              - "null"
          time:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
              - "null"
          unix:
            type:
              - number
              - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      object:
        type:
          - string
          - "null"
      partial_redemption:
        type:
          - string
          - "null"
      total_codes:
        type:
          - number
          - "null"
      usable_on_any_event:
        type:
          - string
          - "null"
      value:
        type:
          - number
          - "null"
    required:
      - id
  discounts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      booking_fee_amount:
        type:
          - number
          - "null"
      code:
        type:
          - string
          - "null"
      face_value_amount:
        type:
          - number
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      object:
        type:
          - string
          - "null"
      products:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      ticket_types:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
    required:
      - id
  check_ins:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      check_in_at:
        type:
          - number
          - "null"
      created_at:
        type:
          - number
          - "null"
      event_id:
        type:
          - string
          - "null"
      event_series_id:
        type:
          - string
          - "null"
      id:
        type: string
      issued_ticket_id:
        type:
          - string
          - "null"
      object:
        type:
          - string
          - "null"
      quantity:
        type:
          - number
          - "null"
    required:
      - id
  issued_tickets:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      barcode:
        type:
          - string
          - "null"
      barcode_url:
        type:
          - string
          - "null"
      checked_in:
        type:
          - string
          - "null"
      created_at:
        type:
          - number
          - "null"
      custom_questions:
        type:
          - array
          - "null"
      email:
        type:
          - string
          - "null"
      event_id:
        type:
          - string
          - "null"
      event_series_id:
        type:
          - string
          - "null"
      first_name:
        type:
          - string
          - "null"
      full_name:
        type:
          - string
          - "null"
      id:
        type: string
      last_name:
        type:
          - string
          - "null"
      object:
        type:
          - string
          - "null"
      order_id:
        type:
          - string
          - "null"
      qr_code_url:
        type:
          - string
          - "null"
      source:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      ticket_type_id:
        type:
          - string
          - "null"
      updated_at:
        type:
          - number
          - "null"
    required:
      - id
  orders:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      buyer_details:
        type:
          - object
          - "null"
        properties:
          address:
            type:
              - object
              - "null"
            properties:
              address_1:
                type:
                  - string
                  - "null"
              address_2:
                type:
                  - string
                  - "null"
              address_3:
                type:
                  - string
                  - "null"
              postal_code:
                type:
                  - string
                  - "null"
          custom_questions:
            type:
              - array
              - "null"
          email:
            type:
              - string
              - "null"
          first_name:
            type:
              - string
              - "null"
          last_name:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
      created_at:
        type:
          - number
          - "null"
      credited_out_amount:
        type:
          - number
          - "null"
      currency:
        type:
          - object
          - "null"
        properties:
          base_multiplier:
            type:
              - number
              - "null"
          code:
            type:
              - string
              - "null"
      event_summary:
        type:
          - object
          - "null"
        properties:
          end_date:
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              formatted:
                type:
                  - string
                  - "null"
              iso:
                type:
                  - string
                  - "null"
              time:
                type:
                  - string
                  - "null"
              timezone:
                type:
                  - string
                  - "null"
              unix:
                type:
                  - number
                  - "null"
          event_id:
            type:
              - string
              - "null"
          event_series_id:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          start_date:
            type:
              - object
              - "null"
            properties:
              date:
                type:
                  - string
                  - "null"
              formatted:
                type:
                  - string
                  - "null"
              iso:
                type:
                  - string
                  - "null"
              time:
                type:
                  - string
                  - "null"
              timezone:
                type:
                  - string
                  - "null"
              unix:
                type:
                  - number
                  - "null"
          venue:
            type:
              - object
              - "null"
            properties:
              postal_code:
                type:
                  - string
                  - "null"
      id:
        type: string
      issued_tickets:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            barcode:
              type:
                - string
                - "null"
            barcode_url:
              type:
                - string
                - "null"
            checked_in:
              type:
                - string
                - "null"
            created_at:
              type:
                - number
                - "null"
            custom_questions:
              type:
                - array
                - "null"
            email:
              type:
                - string
                - "null"
            event_id:
              type:
                - string
                - "null"
            event_series_id:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            object:
              type:
                - string
                - "null"
            order_id:
              type:
                - string
                - "null"
            qr_code_url:
              type:
                - string
                - "null"
            source:
              type:
                - string
                - "null"
            status:
              type:
                - string
                - "null"
            ticket_type_id:
              type:
                - string
                - "null"
            updated_at:
              type:
                - number
                - "null"
      line_items:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            description:
              type:
                - string
                - "null"
            booking_fee:
              type:
                - number
                - "null"
            id:
              type:
                - string
                - "null"
            item_id:
              type:
                - string
                - "null"
            object:
              type:
                - string
                - "null"
            quantity:
              type:
                - number
                - "null"
            total:
              type:
                - number
                - "null"
            value:
              type:
                - number
                - "null"
      meta_data:
        type:
          - array
          - "null"
      object:
        type:
          - string
          - "null"
      payment_method:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
      refund_amount:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
      subtotal:
        type:
          - number
          - "null"
      tax:
        type:
          - number
          - "null"
      tax_treatment:
        type:
          - string
          - "null"
      total:
        type:
          - number
          - "null"
      total_paid:
        type:
          - number
          - "null"
      txn_id:
        type:
          - string
          - "null"
    required:
      - id
  waitlists:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_at:
        type:
          - object
          - "null"
        properties:
          date:
            type:
              - string
              - "null"
          formatted:
            type:
              - string
              - "null"
          iso:
            type:
              - string
              - "null"
          time:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
              - "null"
          unix:
            type:
              - number
              - "null"
      email:
        type:
          - string
          - "null"
      event_id:
        type:
          - string
          - "null"
      id:
        type: string
      object:
        type:
          - string
          - "null"
    required:
      - id
  vouchers_codes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      code:
        type:
          - string
          - "null"
      expiry:
        type:
          - object
          - "null"
        properties:
          date:
            type:
              - string
              - "null"
          formatted:
            type:
              - string
              - "null"
          iso:
            type:
              - string
              - "null"
          time:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
              - "null"
          unix:
            type:
              - number
              - "null"
      id:
        type: string
      object:
        type:
          - string
          - "null"
      value:
        type:
          - number
          - "null"
      voucher_id:
        type:
          - string
          - "null"
    required:
      - id
