version: 0.57.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - checks

definitions:
  requester:
    type: HttpRequester
    url_base: https://api.pingdom.com/api/3.1/
    http_method: GET
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config['api_key'] }}"

  paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: offset
    page_size_option:
      inject_into: request_parameter
      field_name: limit
      type: RequestOption
    pagination_strategy:
      type: OffsetIncrement
      page_size: 25000

  checks_stream:
    name: checks
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      requester:
        path: checks
        $ref: "#/definitions/requester"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - checks
      paginator:
        $ref: "#/definitions/paginator"
    primary_key:
      - id
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_pingdom/schemas/checks.json"

  performance_stream:
    name: performance
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      requester:
        path: summary.performance/{{stream_partition.check_id}}
        $ref: "#/definitions/requester"
        request_parameters:
          probes: "{{ config['probes'] }}"
          resolution: "{{ config['resolution'] }}"
          includeuptime: "true"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/checks_stream"
              parent_key: id
              partition_field: check_id
    primary_key: []
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_pingdom/schemas/performance.json"
    transformations:
      - type: AddFields
        fields:
          - path:
              - check_id
            value: "{{stream_partition.check_id}}"
      - type: AddFields
        fields:
          - path:
              - stream_end_time
            value: "{{stream_interval.end_time}}"
    incremental_sync:
      step: P1D
      type: DatetimeBasedCursor
      cursor_field: stream_end_time
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%s"
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      cursor_granularity: PT1H
      cursor_datetime_formats:
        - "%s"
streams:
  - "#/definitions/checks_stream"
  - "#/definitions/performance_stream"
