@use "../../../../../../scss/colors";
@use "../../../../../../scss/variables";

.authSectionRow {
  display: flex;
  align-items: center;
}

.message {
  margin-left: variables.$spacing-lg;
}

.error {
  color: colors.$red;
}

.success {
  color: colors.$green;
}
