version: 5.15.0

type: DeclarativeSource

description: >-
  Onfleet is a logistics software.

  Using this connector we can extract data from workers , teams , hubs and tasks
  streams.

  Docs : https://docs.onfleet.com/reference/introduction

check:
  type: CheckStream
  stream_names:
    - organization

definitions:
  streams:
    organization:
      type: DeclarativeStream
      name: organization
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: organization
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organization"
    admins:
      type: DeclarativeStream
      name: admins
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: admins
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/admins"
    workers:
      type: DeclarativeStream
      name: workers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: workers
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/workers"
    teams:
      type: DeclarativeStream
      name: teams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: teams
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    hubs:
      type: DeclarativeStream
      name: hubs
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: hubs
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/hubs"
    tasks:
      type: DeclarativeStream
      name: tasks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: tasks/all
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tasks
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: timeLastModified
        cursor_datetime_formats:
          - "%ms"
        datetime_format: "%ms"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: from
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: to
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tasks"
    worker_tasks:
      type: DeclarativeStream
      name: worker_tasks
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: workers/{{stream_partition.worker_id}}/tasks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: worker_id
              stream:
                $ref: "#/definitions/streams/workers"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/worker_tasks"
  base_requester:
    type: HttpRequester
    url_base: https://onfleet.com/api/v2/
    authenticator:
      type: BasicHttpAuthenticator
      password: "{{ config[\"password\"] }}"
      username: "{{ config[\"username\"] }}"

streams:
  - $ref: "#/definitions/streams/organization"
  - $ref: "#/definitions/streams/admins"
  - $ref: "#/definitions/streams/workers"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/hubs"
  - $ref: "#/definitions/streams/tasks"
  - $ref: "#/definitions/streams/worker_tasks"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - username
      - start_date
    properties:
      username:
        type: string
        order: 0
        title: Username
      password:
        type: string
        order: 1
        title: Password
        always_show: true
        airbyte_secret: true
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    organization: true
    admins: true
    workers: true
    teams: true
    hubs: true
    tasks: true
    worker_tasks: true
  testedStreams:
    organization:
      streamHash: f04d66929325eded8136e65dd95edfe7b733be2d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    admins:
      streamHash: ec4ad481b665b13d586190ff06393917d272cc92
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    workers:
      streamHash: bd291c87e4e1cfdcee47fc7488a1f96c601fa5f5
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teams:
      streamHash: dbd9a908180433f2f6f37acc3f2880b9aa24a0a6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    hubs:
      hasRecords: true
      streamHash: 44fd8a9b439e6e83789c2a72e857db5de8e656d3
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    tasks:
      streamHash: fb18e1857a31801d4725b6a76999704f73b14939
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    worker_tasks:
      streamHash: 8232d8c5bc71a88cee2797cc36b20490e0e255d2
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  organization:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      country:
        type:
          - string
          - "null"
      delegatees:
        type:
          - array
          - "null"
      driverSupportEmail:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      timeCreated:
        type:
          - number
          - "null"
      timeLastModified:
        type:
          - number
          - "null"
      timezone:
        type:
          - string
          - "null"
    required:
      - id
  admins:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      metadata:
        type:
          - array
          - "null"
      email:
        type:
          - string
          - "null"
      id:
        type: string
      isAccountOwner:
        type:
          - boolean
          - "null"
      isActive:
        type:
          - boolean
          - "null"
      isReadOnly:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      organization:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      teams:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      timeCreated:
        type:
          - number
          - "null"
      timeLastModified:
        type:
          - number
          - "null"
    required:
      - id
  workers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      metadata:
        type:
          - array
          - "null"
      accountStatus:
        type:
          - string
          - "null"
      additionalCapacities:
        type:
          - object
          - "null"
        properties:
          capacityA:
            type:
              - number
              - "null"
          capacityB:
            type:
              - number
              - "null"
          capacityC:
            type:
              - number
              - "null"
      capacity:
        type:
          - number
          - "null"
      displayName:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      onDuty:
        type:
          - boolean
          - "null"
      organization:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      tasks:
        type:
          - array
          - "null"
      teams:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      timeCreated:
        type:
          - number
          - "null"
      timeLastModified:
        type:
          - number
          - "null"
      userData:
        type:
          - object
          - "null"
      vehicle:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          description:
            type:
              - string
              - "null"
          color:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          licensePlate:
            type:
              - string
              - "null"
          timeCreated:
            type:
              - number
              - "null"
          timeLastModified:
            type:
              - number
              - "null"
    required:
      - id
  teams:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      enableSelfAssignment:
        type:
          - boolean
          - "null"
      hub:
        type:
          - string
          - "null"
      id:
        type: string
      managers:
        type:
          - array
          - "null"
      name:
        type:
          - string
          - "null"
      tasks:
        type:
          - array
          - "null"
      timeCreated:
        type:
          - number
          - "null"
      timeLastModified:
        type:
          - number
          - "null"
      workers:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
    required:
      - id
  hubs:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      address:
        type:
          - object
          - "null"
        properties:
          apartment:
            type:
              - string
              - "null"
          city:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          county:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          number:
            type:
              - string
              - "null"
          postalCode:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          street:
            type:
              - string
              - "null"
      id:
        type: string
      location:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      name:
        type:
          - string
          - "null"
      teams:
        type:
          - array
          - "null"
    required:
      - id
  tasks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - number
          - "null"
      metadata:
        type:
          - array
          - "null"
      additionalQuantities:
        type:
          - object
          - "null"
        properties:
          quantityA:
            type:
              - number
              - "null"
          quantityB:
            type:
              - number
              - "null"
          quantityC:
            type:
              - number
              - "null"
      appearance:
        type:
          - object
          - "null"
        properties: {}
      completeAfter:
        type:
          - number
          - "null"
      completeBefore:
        type:
          - number
          - "null"
      completionDetails:
        type:
          - object
          - "null"
        properties:
          actions:
            type:
              - array
              - "null"
          events:
            type:
              - array
              - "null"
          failureNotes:
            type:
              - string
              - "null"
          failureReason:
            type:
              - string
              - "null"
          firstLocation:
            type:
              - array
              - "null"
          lastLocation:
            type:
              - array
              - "null"
          successNotes:
            type:
              - string
              - "null"
          unavailableAttachments:
            type:
              - array
              - "null"
      container:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          organization:
            type:
              - string
              - "null"
      creator:
        type:
          - string
          - "null"
      customFields:
        type:
          - array
          - "null"
      delayTime:
        type:
          - number
          - "null"
      dependencies:
        type:
          - array
          - "null"
      destination:
        type:
          - object
          - "null"
        properties:
          metadata:
            type:
              - array
              - "null"
          address:
            type:
              - object
              - "null"
            properties:
              apartment:
                type:
                  - string
                  - "null"
              city:
                type:
                  - string
                  - "null"
              country:
                type:
                  - string
                  - "null"
              number:
                type:
                  - string
                  - "null"
              postalCode:
                type:
                  - string
                  - "null"
              state:
                type:
                  - string
                  - "null"
              street:
                type:
                  - string
                  - "null"
          id:
            type:
              - string
              - "null"
          location:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          notes:
            type:
              - string
              - "null"
          timeCreated:
            type:
              - number
              - "null"
          timeLastModified:
            type:
              - number
              - "null"
          useGPS:
            type:
              - boolean
              - "null"
          warnings:
            type:
              - array
              - "null"
      executor:
        type:
          - string
          - "null"
      feedback:
        type:
          - array
          - "null"
      id:
        type: string
      identity:
        type:
          - object
          - "null"
        properties:
          failedScanCount:
            type:
              - number
              - "null"
      merchant:
        type:
          - string
          - "null"
      notes:
        type:
          - string
          - "null"
      organization:
        type:
          - string
          - "null"
      overrides:
        type:
          - object
          - "null"
      pickupTask:
        type:
          - boolean
          - "null"
      quantity:
        type:
          - number
          - "null"
      recipients:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            metadata:
              type:
                - array
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            notes:
              type:
                - string
                - "null"
            organization:
              type:
                - string
                - "null"
            phone:
              type:
                - string
                - "null"
            skipSMSNotifications:
              type:
                - boolean
                - "null"
            timeCreated:
              type:
                - number
                - "null"
            timeLastModified:
              type:
                - number
                - "null"
      requirements:
        type:
          - object
          - "null"
        properties:
          minimumAge:
            type:
              - number
              - "null"
          notes:
            type:
              - boolean
              - "null"
          photo:
            type:
              - boolean
              - "null"
          signature:
            type:
              - boolean
              - "null"
      scanOnlyRequiredBarcodes:
        type:
          - boolean
          - "null"
      serviceTime:
        type:
          - number
          - "null"
      shortId:
        type:
          - string
          - "null"
      state:
        type:
          - number
          - "null"
      timeCreated:
        type:
          - number
          - "null"
      timeLastModified:
        type: number
      trackingURL:
        type:
          - string
          - "null"
      trackingViewed:
        type:
          - boolean
          - "null"
    required:
      - id
      - timeLastModified
  worker_tasks:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      tasks:
        type:
          - array
          - "null"
