{
    "openapi": "3.0.3",
    "info": {
        "title": "Snipe-IT v5 API",
        "version": "5.2.0"
    },
    "servers": [
        {
            "url": "https://develop.snipeitapp.com/api/v1"
        }
    ],
    "components": {
        "securitySchemes": {}
    },
    "security": [
        {}
    ],
    "paths": {
        "/hardware/{id}": {
            "get": {
                "summary": "/hardware/:id",
                "description": "Get the details of a specific asset",
                "operationId": "hardware-by-id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The id (not the asset tag) of the asset you'd like to query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"id\": 1,\n  \"name\": \"\",\n  \"asset_tag\": \"389658657\",\n  \"serial\": \"b9b47837-13d9-33d3-a7d3-815a8503be44\",\n  \"model\": {\n    \"id\": 1,\n    \"name\": \"Macbook Pro 13&quot;\"\n  },\n  \"model_number\": \"4929525240061\",\n  \"status_label\": {\n    \"id\": 1,\n    \"name\": \"Deployed\",\n    \"status_meta\": \"deployed\"\n  },\n  \"category\": {\n    \"id\": 1,\n    \"name\": \"Laptops\"\n  },\n  \"manufacturer\": {\n    \"id\": 1,\n    \"name\": \"Apple\"\n  },\n  \"supplier\": {\n    \"id\": 1,\n    \"name\": \"Harvey-Hettinger\"\n  },\n  \"notes\": \"Created by DB seeder\",\n  \"order_number\": \"4243135\",\n  \"company\": null,\n  \"location\": {\n    \"id\": 3,\n    \"name\": \"Tonystad\"\n  },\n  \"rtd_location\": {\n    \"id\": 1,\n    \"name\": \"Lake Catharineburgh\"\n  },\n  \"image\": null,\n  \"assigned_to\": {\n    \"id\": 1,\n    \"username\": \"admin\",\n    \"name\": \"Admin User\",\n    \"first_name\": \"Admin\",\n    \"last_name\": \"User\",\n    \"employee_number\": \"19135\",\n    \"type\": \"user\"\n  },\n  \"warranty\": null,\n  \"warranty_expires\": null,\n  \"created_at\": {\n    \"datetime\": \"2017-10-18 21:00:08\",\n    \"formatted\": \"Wed Oct 18, 2017 9:00PM\"\n  },\n  \"updated_at\": {\n    \"datetime\": \"2017-10-19 07:57:37\",\n    \"formatted\": \"Thu Oct 19, 2017 7:57AM\"\n  },\n  \"purchase_date\": {\n    \"date\": \"2016-12-03\",\n    \"formatted\": \"Sat Dec 03, 2016\"\n  },\n  \"last_checkout\": {\n    \"datetime\": \"2017-10-05 08:30:20\",\n    \"formatted\": \"Thu Oct 05, 2017 8:30AM\"\n  },\n  \"expected_checkin\": {\n    \"date\": \"2017-11-03\",\n    \"formatted\": \"Fri Nov 03, 2017\"\n  },\n  \"purchase_cost\": \"1114.86\",\n  \"user_can_checkout\": false,\n  \"custom_fields\": [],\n  \"available_actions\": {\n    \"checkout\": true,\n    \"checkin\": true,\n    \"clone\": true,\n    \"update\": true,\n    \"delete\": true\n  }\n}"
                                    },
                                    "Not Found": {
                                        "value": "{\n  \"status\": \"error\",\n  \"messages\": \"Asset does not exist.\"\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1,
                                                    "default": 0
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": ""
                                                },
                                                "asset_tag": {
                                                    "type": "string",
                                                    "example": "389658657"
                                                },
                                                "serial": {
                                                    "type": "string",
                                                    "example": "b9b47837-13d9-33d3-a7d3-815a8503be44"
                                                },
                                                "model": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1,
                                                            "default": 0
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Macbook Pro 13&quot;"
                                                        }
                                                    }
                                                },
                                                "model_number": {
                                                    "type": "string",
                                                    "example": "4929525240061"
                                                },
                                                "status_label": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1,
                                                            "default": 0
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Deployed"
                                                        },
                                                        "status_meta": {
                                                            "type": "string",
                                                            "example": "deployed"
                                                        }
                                                    }
                                                },
                                                "category": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1,
                                                            "default": 0
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Laptops"
                                                        }
                                                    }
                                                },
                                                "manufacturer": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1,
                                                            "default": 0
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Apple"
                                                        }
                                                    }
                                                },
                                                "supplier": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1,
                                                            "default": 0
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Harvey-Hettinger"
                                                        }
                                                    }
                                                },
                                                "notes": {
                                                    "type": "string",
                                                    "example": "Created by DB seeder"
                                                },
                                                "order_number": {
                                                    "type": "string",
                                                    "example": "4243135"
                                                },
                                                "company": {},
                                                "location": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 3,
                                                            "default": 0
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Tonystad"
                                                        }
                                                    }
                                                },
                                                "rtd_location": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1,
                                                            "default": 0
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Lake Catharineburgh"
                                                        }
                                                    }
                                                },
                                                "image": {},
                                                "assigned_to": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1,
                                                            "default": 0
                                                        },
                                                        "username": {
                                                            "type": "string",
                                                            "example": "admin"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Admin User"
                                                        },
                                                        "first_name": {
                                                            "type": "string",
                                                            "example": "Admin"
                                                        },
                                                        "last_name": {
                                                            "type": "string",
                                                            "example": "User"
                                                        },
                                                        "employee_number": {
                                                            "type": "string",
                                                            "example": "19135"
                                                        },
                                                        "type": {
                                                            "type": "string",
                                                            "example": "user"
                                                        }
                                                    }
                                                },
                                                "warranty": {},
                                                "warranty_expires": {},
                                                "created_at": {
                                                    "type": "object",
                                                    "properties": {
                                                        "datetime": {
                                                            "type": "string",
                                                            "example": "2017-10-18 21:00:08"
                                                        },
                                                        "formatted": {
                                                            "type": "string",
                                                            "example": "Wed Oct 18, 2017 9:00PM"
                                                        }
                                                    }
                                                },
                                                "updated_at": {
                                                    "type": "object",
                                                    "properties": {
                                                        "datetime": {
                                                            "type": "string",
                                                            "example": "2017-10-19 07:57:37"
                                                        },
                                                        "formatted": {
                                                            "type": "string",
                                                            "example": "Thu Oct 19, 2017 7:57AM"
                                                        }
                                                    }
                                                },
                                                "purchase_date": {
                                                    "type": "object",
                                                    "properties": {
                                                        "date": {
                                                            "type": "string",
                                                            "example": "2016-12-03"
                                                        },
                                                        "formatted": {
                                                            "type": "string",
                                                            "example": "Sat Dec 03, 2016"
                                                        }
                                                    }
                                                },
                                                "last_checkout": {
                                                    "type": "object",
                                                    "properties": {
                                                        "datetime": {
                                                            "type": "string",
                                                            "example": "2017-10-05 08:30:20"
                                                        },
                                                        "formatted": {
                                                            "type": "string",
                                                            "example": "Thu Oct 05, 2017 8:30AM"
                                                        }
                                                    }
                                                },
                                                "expected_checkin": {
                                                    "type": "object",
                                                    "properties": {
                                                        "date": {
                                                            "type": "string",
                                                            "example": "2017-11-03"
                                                        },
                                                        "formatted": {
                                                            "type": "string",
                                                            "example": "Fri Nov 03, 2017"
                                                        }
                                                    }
                                                },
                                                "purchase_cost": {
                                                    "type": "string",
                                                    "example": "1114.86"
                                                },
                                                "user_can_checkout": {
                                                    "type": "boolean",
                                                    "example": false,
                                                    "default": true
                                                },
                                                "custom_fields": {
                                                    "type": "array"
                                                },
                                                "available_actions": {
                                                    "type": "object",
                                                    "properties": {
                                                        "checkout": {
                                                            "type": "boolean",
                                                            "example": true,
                                                            "default": true
                                                        },
                                                        "checkin": {
                                                            "type": "boolean",
                                                            "example": true,
                                                            "default": true
                                                        },
                                                        "clone": {
                                                            "type": "boolean",
                                                            "example": true,
                                                            "default": true
                                                        },
                                                        "update": {
                                                            "type": "boolean",
                                                            "example": true,
                                                            "default": true
                                                        },
                                                        "delete": {
                                                            "type": "boolean",
                                                            "example": true,
                                                            "default": true
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Not Found",
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "string",
                                                    "example": "error"
                                                },
                                                "messages": {
                                                    "type": "string",
                                                    "example": "Asset does not exist."
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "401",
                        "content": {
                            "text/plain": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"status\": \"error\",\n  \"message\": \"Unauthorized.\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            },
            "delete": {
                "summary": "/hardware/:id",
                "description": "Deletes a specific asset",
                "operationId": "hardware-delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The id of the asset to delete",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "401": {
                        "description": "401",
                        "content": {
                            "text/plain": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"error\": \"Unauthenticated.\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"status\": \"error\",\n  \"messages\": \"Asset does not exist.\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "messages": {
                                            "type": "string",
                                            "example": "Asset does not exist."
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            },
            "patch": {
                "summary": "/hardware/:id",
                "description": "Partially updates a specific asset",
                "operationId": "hardware-partial-update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The id of the asset you'd like to query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": true
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "asset_tag": {
                                        "type": "string",
                                        "description": "Unique asset tag of the asset"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "description": "Asset notes",
                                        "default": "null"
                                    },
                                    "status_id": {
                                        "type": "integer",
                                        "description": "The id of the corresponding status label",
                                        "format": "int32"
                                    },
                                    "model_id": {
                                        "type": "integer",
                                        "description": "The id of the associated asset model id",
                                        "format": "int32"
                                    },
                                    "last_checkout": {
                                        "type": "string",
                                        "description": "Date the asset was last checked out",
                                        "format": "date"
                                    },
                                    "assigned_to": {
                                        "type": "integer",
                                        "description": "The id of the user the asset is currently checked out to",
                                        "default": null,
                                        "format": "int32"
                                    },
                                    "company_id": {
                                        "type": "integer",
                                        "description": "The id of an associated company id",
                                        "default": null,
                                        "format": "int32"
                                    },
                                    "serial": {
                                        "type": "string",
                                        "description": "Serial number of the asset",
                                        "default": "null"
                                    },
                                    "order_number": {
                                        "type": "string",
                                        "description": "Order number for the asset",
                                        "default": "null"
                                    },
                                    "warranty_months": {
                                        "type": "integer",
                                        "description": "Number of months for the asset warranty",
                                        "default": null,
                                        "format": "int32"
                                    },
                                    "purchase_cost": {
                                        "type": "number",
                                        "description": "Purchase cost of the asset, without a currency symbol",
                                        "default": null,
                                        "format": "float"
                                    },
                                    "purchase_date": {
                                        "type": "string",
                                        "description": "Date of asset purchase",
                                        "default": "null",
                                        "format": "date"
                                    },
                                    "requestable": {
                                        "type": "boolean",
                                        "description": "Whether or not the asset can be requested by users with the permission to request assets",
                                        "default": false
                                    },
                                    "archived": {
                                        "type": "boolean",
                                        "description": "Whether or not the asset is archived. Archived assets cannot be checked out and do not show up in the deployable asset screens",
                                        "default": false
                                    },
                                    "rtd_location_id": {
                                        "type": "integer",
                                        "description": "The id that corresponds to the location where the asset is usually located when not checked out",
                                        "default": null,
                                        "format": "int32"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "Asset name",
                                        "default": "null"
                                    },
                                    "location_id": {
                                        "type": "string",
                                        "default": "null"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n\t\"rows\": [\n\t\t{\n            \"id\": \"45\",\n            \"asset_tag\": \"976946724\",\n            \"assigned_to\": \"\",\n            \"category\": \"Reiciendis ea.\",\n            \"companyName\": \"Williamson-Kuhn\",\n            \"created_at\": \"\",\n            \"eol\": \"1991-10-19\",\n            \"expected_checkin\": \"\",\n            \"image\": \"\",\n            \"last_checkout\": \"\",\n            \"location\": \"Expanded system\",\n            \"manufacturer\": \"Farrell Group\",\n            \"model\": \"Profound zero\",\n            \"model_number\": null,\n            \"name\": \"Programmable concept\",\n            \"notes\": \"Ipsa pariatur sunt aut.\",\n            \"order_number\": \"\",\n            \"purchase_cost\": \"689.30\",\n            \"purchase_date\": \"1991-09-19\",\n            \"serial\": \"f5f06bb3-2420\",\n            \"status_label\": \"Ready to Deploy\"\n            }\n\t],\n}"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "text/plain": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"status\": \"error\",\n  \"messages\": \"Asset does not exist.\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "messages": {
                                            "type": "string",
                                            "example": "Asset does not exist."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "500",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"status\": \"error\",\n  \"messages\": {\n    \"status_id\": [\n      \"The selected status id is invalid.\"\n    ]\n  }\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "messages": {
                                            "type": "object",
                                            "properties": {
                                                "status_id": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The selected status id is invalid."
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            },
            "put": {
                "summary": "/hardware/:id",
                "description": "Updates a specific asset",
                "operationId": "hardware-update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The id of the asset you'd like to query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": true
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "asset_tag",
                                    "status_id",
                                    "model_id"
                                ],
                                "properties": {
                                    "asset_tag": {
                                        "type": "string",
                                        "description": "Unique asset tag of the asset"
                                    },
                                    "status_id": {
                                        "type": "integer",
                                        "description": "The id of the corresponding status label",
                                        "format": "int32"
                                    },
                                    "model_id": {
                                        "type": "integer",
                                        "description": "The id of the associated asset model id",
                                        "format": "int32"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "description": "Asset notes"
                                    },
                                    "last_checkout": {
                                        "type": "string",
                                        "description": "Date the asset was last checked out",
                                        "default": "null",
                                        "format": "date"
                                    },
                                    "assigned_to": {
                                        "type": "integer",
                                        "description": "The id of the user the asset is currently checked out to",
                                        "default": null,
                                        "format": "int32"
                                    },
                                    "company_id": {
                                        "type": "integer",
                                        "description": "The id of an associated company id",
                                        "default": null,
                                        "format": "int32"
                                    },
                                    "serial": {
                                        "type": "string",
                                        "description": "Serial number of the asset",
                                        "default": "null"
                                    },
                                    "order_number": {
                                        "type": "string",
                                        "description": "Order number for the asset"
                                    },
                                    "warranty_months": {
                                        "type": "integer",
                                        "description": "Number of months for the asset warranty",
                                        "default": null,
                                        "format": "int32"
                                    },
                                    "purchase_cost": {
                                        "type": "number",
                                        "description": "Purchase cost of the asset, without a currency symbol",
                                        "default": null,
                                        "format": "float"
                                    },
                                    "purchase_date": {
                                        "type": "string",
                                        "description": "Date of asset purchase",
                                        "default": "null",
                                        "format": "date"
                                    },
                                    "requestable": {
                                        "type": "boolean",
                                        "description": "Whether or not the asset can be requested by users with the permission to request assets",
                                        "default": false
                                    },
                                    "archived": {
                                        "type": "boolean",
                                        "description": "Whether or not the asset is archived. Archived assets cannot be checked out and do not show up in the deployable asset screens",
                                        "default": false
                                    },
                                    "rtd_location_id": {
                                        "type": "integer",
                                        "description": "The id that corresponds to the location where the asset is usually located when not checked out",
                                        "default": null,
                                        "format": "int32"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "Asset name",
                                        "default": "null"
                                    },
                                    "location_id": {
                                        "type": "integer",
                                        "default": null,
                                        "format": "int32"
                                    },
                                    "image": {
                                        "type": "string",
                                        "default": "null",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n\t\"rows\": [\n\t\t{\n            \"id\": \"45\",\n            \"asset_tag\": \"976946724\",\n            \"assigned_to\": \"\",\n            \"category\": \"Reiciendis ea.\",\n            \"companyName\": \"Williamson-Kuhn\",\n            \"created_at\": \"\",\n            \"eol\": \"1991-10-19\",\n            \"expected_checkin\": \"\",\n            \"image\": \"\",\n            \"last_checkout\": \"\",\n            \"location\": \"Expanded system\",\n            \"manufacturer\": \"Farrell Group\",\n            \"model\": \"Profound zero\",\n            \"model_number\": null,\n            \"name\": \"Programmable concept\",\n            \"notes\": \"Ipsa pariatur sunt aut.\",\n            \"order_number\": \"\",\n            \"purchase_cost\": \"689.30\",\n            \"purchase_date\": \"1991-09-19\",\n            \"serial\": \"f5f06bb3-2420\",\n            \"status_label\": \"Ready to Deploy\"\n            }\n\t]\n}"
                                    },
                                    "Validation Error": {
                                        "value": "{\n  \"status\": \"error\",\n  \"messages\": {\n    \"status_id\": [\n      \"The selected status id is invalid.\"\n    ]\n  }\n}"
                                    },
                                    "Not Found": {
                                        "value": "{\n  \"status\": \"error\",\n  \"messages\": \"Asset does not exist.\"\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "rows": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "example": "45"
                                                            },
                                                            "asset_tag": {
                                                                "type": "string",
                                                                "example": "976946724"
                                                            },
                                                            "assigned_to": {
                                                                "type": "string",
                                                                "example": ""
                                                            },
                                                            "category": {
                                                                "type": "string",
                                                                "example": "Reiciendis ea."
                                                            },
                                                            "companyName": {
                                                                "type": "string",
                                                                "example": "Williamson-Kuhn"
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "example": ""
                                                            },
                                                            "eol": {
                                                                "type": "string",
                                                                "example": "1991-10-19"
                                                            },
                                                            "expected_checkin": {
                                                                "type": "string",
                                                                "example": ""
                                                            },
                                                            "image": {
                                                                "type": "string",
                                                                "example": ""
                                                            },
                                                            "last_checkout": {
                                                                "type": "string",
                                                                "example": ""
                                                            },
                                                            "location": {
                                                                "type": "string",
                                                                "example": "Expanded system"
                                                            },
                                                            "manufacturer": {
                                                                "type": "string",
                                                                "example": "Farrell Group"
                                                            },
                                                            "model": {
                                                                "type": "string",
                                                                "example": "Profound zero"
                                                            },
                                                            "model_number": {},
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Programmable concept"
                                                            },
                                                            "notes": {
                                                                "type": "string",
                                                                "example": "Ipsa pariatur sunt aut."
                                                            },
                                                            "order_number": {
                                                                "type": "string",
                                                                "example": ""
                                                            },
                                                            "purchase_cost": {
                                                                "type": "string",
                                                                "example": "689.30"
                                                            },
                                                            "purchase_date": {
                                                                "type": "string",
                                                                "example": "1991-09-19"
                                                            },
                                                            "serial": {
                                                                "type": "string",
                                                                "example": "f5f06bb3-2420"
                                                            },
                                                            "status_label": {
                                                                "type": "string",
                                                                "example": "Ready to Deploy"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Validation Error",
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "string",
                                                    "example": "error"
                                                },
                                                "messages": {
                                                    "type": "object",
                                                    "properties": {
                                                        "status_id": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string",
                                                                "example": "The selected status id is invalid."
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Not Found",
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "string",
                                                    "example": "error"
                                                },
                                                "messages": {
                                                    "type": "string",
                                                    "example": "Asset does not exist."
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "401",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"status\": \"error\",\n  \"message\": \"Unauthorized.\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/companies": {
            "post": {
                "summary": "/companies",
                "description": "Create a new company",
                "operationId": "companies-1",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "default": "Google, inc."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"status\": \"success\",\n  \"payload\": {\n    \"name\": \"Vloorb\",\n    \"updated_at\": \"2017-01-12 19:56:33\",\n    \"created_at\": \"2017-01-12 19:56:33\",\n    \"id\": 14\n  },\n  \"messages\": \"Company created successfully.\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "payload": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "Vloorb"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2017-01-12 19:56:33"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2017-01-12 19:56:33"
                                                },
                                                "id": {
                                                    "type": "integer",
                                                    "example": 14,
                                                    "default": 0
                                                }
                                            }
                                        },
                                        "messages": {
                                            "type": "string",
                                            "example": "Company created successfully."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "401",
                        "content": {
                            "text/plain": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"status\": \"error\",\n  \"message\": \"Unauthorized.\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "405",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"status\": \"error\",\n  \"messages\": \"Method not allowed\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "messages": {
                                            "type": "string",
                                            "example": "Method not allowed"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "get": {
                "summary": "/companies",
                "description": "Return a listing of companies",
                "operationId": "companies",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"total\": 4,\n    \"rows\": [\n        {\n            \"id\": 1,\n            \"name\": \"Lebsack and Sons\",\n            \"image\": null,\n            \"created_at\": {\n                \"datetime\": \"2017-11-22 05:28:00\",\n                \"formatted\": \"Wed Nov 22, 2017 5:28AM\"\n            },\n            \"updated_at\": {\n                \"datetime\": \"2017-11-22 05:28:00\",\n                \"formatted\": \"Wed Nov 22, 2017 5:28AM\"\n            },\n            \"assets_count\": 0,\n            \"licenses_count\": 0,\n            \"accessories_count\": 0,\n            \"consumables_count\": 0,\n            \"components_count\": 0,\n            \"users_count\": 13,\n            \"available_actions\": {\n                \"update\": true,\n                \"delete\": true\n            }\n        },\n        {\n            \"id\": 2,\n            \"name\": \"Fay Group\",\n            \"image\": null,\n            \"created_at\": {\n                \"datetime\": \"2017-11-22 05:28:00\",\n                \"formatted\": \"Wed Nov 22, 2017 5:28AM\"\n            },\n            \"updated_at\": {\n                \"datetime\": \"2017-11-22 05:28:00\",\n                \"formatted\": \"Wed Nov 22, 2017 5:28AM\"\n            },\n            \"assets_count\": 0,\n            \"licenses_count\": 0,\n            \"accessories_count\": 0,\n            \"consumables_count\": 0,\n            \"components_count\": 0,\n            \"users_count\": 11,\n            \"available_actions\": {\n                \"update\": true,\n                \"delete\": true\n            }\n        },\n        {\n            \"id\": 3,\n            \"name\": \"Roberts Inc\",\n            \"image\": null,\n            \"created_at\": {\n                \"datetime\": \"2017-11-22 05:28:00\",\n                \"formatted\": \"Wed Nov 22, 2017 5:28AM\"\n            },\n            \"updated_at\": {\n                \"datetime\": \"2017-11-22 05:28:00\",\n                \"formatted\": \"Wed Nov 22, 2017 5:28AM\"\n            },\n            \"assets_count\": 0,\n            \"licenses_count\": 0,\n            \"accessories_count\": 0,\n            \"consumables_count\": 0,\n            \"components_count\": 0,\n            \"users_count\": 19,\n            \"available_actions\": {\n                \"update\": true,\n                \"delete\": true\n            }\n        },\n        {\n            \"id\": 4,\n            \"name\": \"Auer-Heaney\",\n            \"image\": null,\n            \"created_at\": {\n                \"datetime\": \"2017-11-22 05:28:00\",\n                \"formatted\": \"Wed Nov 22, 2017 5:28AM\"\n            },\n            \"updated_at\": {\n                \"datetime\": \"2017-11-22 05:28:00\",\n                \"formatted\": \"Wed Nov 22, 2017 5:28AM\"\n            },\n            \"assets_count\": 0,\n            \"licenses_count\": 0,\n            \"accessories_count\": 0,\n            \"consumables_count\": 0,\n            \"components_count\": 0,\n            \"users_count\": 15,\n            \"available_actions\": {\n                \"update\": true,\n                \"delete\": true\n            }\n        }\n    ]\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "total": {
                                            "type": "integer",
                                            "example": 4,
                                            "default": 0
                                        },
                                        "rows": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1,
                                                        "default": 0
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Lebsack and Sons"
                                                    },
                                                    "image": {},
                                                    "created_at": {
                                                        "type": "object",
                                                        "properties": {
                                                            "datetime": {
                                                                "type": "string",
                                                                "example": "2017-11-22 05:28:00"
                                                            },
                                                            "formatted": {
                                                                "type": "string",
                                                                "example": "Wed Nov 22, 2017 5:28AM"
                                                            }
                                                        }
                                                    },
                                                    "updated_at": {
                                                        "type": "object",
                                                        "properties": {
                                                            "datetime": {
                                                                "type": "string",
                                                                "example": "2017-11-22 05:28:00"
                                                            },
                                                            "formatted": {
                                                                "type": "string",
                                                                "example": "Wed Nov 22, 2017 5:28AM"
                                                            }
                                                        }
                                                    },
                                                    "assets_count": {
                                                        "type": "integer",
                                                        "example": 0,
                                                        "default": 0
                                                    },
                                                    "licenses_count": {
                                                        "type": "integer",
                                                        "example": 0,
                                                        "default": 0
                                                    },
                                                    "accessories_count": {
                                                        "type": "integer",
                                                        "example": 0,
                                                        "default": 0
                                                    },
                                                    "consumables_count": {
                                                        "type": "integer",
                                                        "example": 0,
                                                        "default": 0
                                                    },
                                                    "components_count": {
                                                        "type": "integer",
                                                        "example": 0,
                                                        "default": 0
                                                    },
                                                    "users_count": {
                                                        "type": "integer",
                                                        "example": 13,
                                                        "default": 0
                                                    },
                                                    "available_actions": {
                                                        "type": "object",
                                                        "properties": {
                                                            "update": {
                                                                "type": "boolean",
                                                                "example": true,
                                                                "default": true
                                                            },
                                                            "delete": {
                                                                "type": "boolean",
                                                                "example": true,
                                                                "default": true
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "401",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"status\": \"error\",\n    \"messages\": \"An Error has occured! Unauthenticated.\",\n    \"payload\": null\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "messages": {
                                            "type": "string",
                                            "example": "An Error has occured! Unauthenticated."
                                        },
                                        "payload": {}
                                    }
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "405",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"status\": \"error\",\n    \"messages\": \"Method not allowed\",\n    \"payload\": null\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "messages": {
                                            "type": "string",
                                            "example": "Method not allowed"
                                        },
                                        "payload": {}
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/companies/{id}": {
            "put": {
                "summary": "/companies/:id",
                "description": "Updates a company's details",
                "operationId": "companiesid-1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "company id",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": true
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"id\": 3,\n  \"name\": \"Rohan-Bergstrom\",\n  \"created_at\": \"2017-01-11 03:31:25\",\n  \"updated_at\": \"2017-01-11 03:31:25\"\n}"
                                    },
                                    "Not Found": {
                                        "value": "{\n  \"status\": \"error\",\n  \"messages\": \"Company not found\"\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 3,
                                                    "default": 0
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Rohan-Bergstrom"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2017-01-11 03:31:25"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2017-01-11 03:31:25"
                                                }
                                            }
                                        },
                                        {
                                            "title": "Not Found",
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "string",
                                                    "example": "error"
                                                },
                                                "messages": {
                                                    "type": "string",
                                                    "example": "Company not found"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "401",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"status\": \"error\",\n  \"message\": \"Unauthorized.\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "405",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"status\": \"error\",\n  \"messages\": \"Method not allowed\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "messages": {
                                            "type": "string",
                                            "example": "Method not allowed"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "get": {
                "summary": "/companies/:id",
                "description": "Retrieve the specific details of a company by id",
                "operationId": "companiesid",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "company id",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"id\": 1,\n    \"name\": \"Lebsack and Sons\",\n    \"image\": null,\n    \"created_at\": {\n        \"datetime\": \"2017-11-22 05:28:00\",\n        \"formatted\": \"Wed Nov 22, 2017 5:28AM\"\n    },\n    \"updated_at\": {\n        \"datetime\": \"2017-11-22 05:28:00\",\n        \"formatted\": \"Wed Nov 22, 2017 5:28AM\"\n    },\n    \"assets_count\": 0,\n    \"licenses_count\": 0,\n    \"accessories_count\": 0,\n    \"consumables_count\": 0,\n    \"components_count\": 0,\n    \"users_count\": 0,\n    \"available_actions\": {\n        \"update\": true,\n        \"delete\": true\n    }\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1,
                                            "default": 0
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "Lebsack and Sons"
                                        },
                                        "image": {},
                                        "created_at": {
                                            "type": "object",
                                            "properties": {
                                                "datetime": {
                                                    "type": "string",
                                                    "example": "2017-11-22 05:28:00"
                                                },
                                                "formatted": {
                                                    "type": "string",
                                                    "example": "Wed Nov 22, 2017 5:28AM"
                                                }
                                            }
                                        },
                                        "updated_at": {
                                            "type": "object",
                                            "properties": {
                                                "datetime": {
                                                    "type": "string",
                                                    "example": "2017-11-22 05:28:00"
                                                },
                                                "formatted": {
                                                    "type": "string",
                                                    "example": "Wed Nov 22, 2017 5:28AM"
                                                }
                                            }
                                        },
                                        "assets_count": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "licenses_count": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "accessories_count": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "consumables_count": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "components_count": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "users_count": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "available_actions": {
                                            "type": "object",
                                            "properties": {
                                                "update": {
                                                    "type": "boolean",
                                                    "example": true,
                                                    "default": true
                                                },
                                                "delete": {
                                                    "type": "boolean",
                                                    "example": true,
                                                    "default": true
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "401",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"status\": \"error\",\n    \"messages\": \"An Error has occured! Unauthenticated.\",\n    \"payload\": null\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "messages": {
                                            "type": "string",
                                            "example": "An Error has occured! Unauthenticated."
                                        },
                                        "payload": {}
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Not Found": {
                                        "value": "{\n  \"status\": \"error\",\n  \"messages\": \"Company not found\"\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "messages": {
                                            "type": "string",
                                            "example": "Company not found"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "405",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"status\": \"error\",\n    \"messages\": \"Method not allowed\",\n    \"payload\": null\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "messages": {
                                            "type": "string",
                                            "example": "Method not allowed"
                                        },
                                        "payload": {}
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "summary": "/companies/:id",
                "description": "Delete's a company",
                "operationId": "companiesid-3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "company id",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"status\": \"success\",\n  \"messages\": \"The Company was deleted successfully.\"\n}"
                                    },
                                    "Not Found": {
                                        "value": "{\n  \"status\": \"error\",\n  \"messages\": \"Company not found\"\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "string",
                                                    "example": "success"
                                                },
                                                "messages": {
                                                    "type": "string",
                                                    "example": "The Company was deleted successfully."
                                                }
                                            }
                                        },
                                        {
                                            "title": "Not Found",
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "string",
                                                    "example": "error"
                                                },
                                                "messages": {
                                                    "type": "string",
                                                    "example": "Company not found"
                                                }
[...]
