version: 7.4.2

type: DeclarativeSource

description: >-
  This API provides a powerful mechanism for matching similar individual/person
  names within or across various data sources and datasets. It works by
  generating a similarity key using AI and specialized algorithms, so variations
  of the same name (variations, typos, nicknames) generate the same similarity
  key (John Smith, Jon Smith, Jonathan Smyth, etc.). Data can then be matched
  based on similarity key rather than the organization name data itself for
  dramatically higher match rates.

check:
  type: CheckStream
  stream_names:
    - simkey

streams:
  - type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      requester:
        type: HttpRequester
        http_method: GET
        url: https://api.interzoid.com/getfullnamematch
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            inject_into: request_parameter
            field_name: license
        request_parameters:
          fullname: John Smith
    name: simkey
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          SimKey:
            type:
              - string
              - "null"
          Code:
            type:
              - string
              - "null"
          Credits:
            type:
              - string
              - "null"
        additionalProperties: true

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
    additionalProperties: true

metadata:
  testedStreams:
    stream_0:
      streamHash: ad11f9fa446b445a056b0f48d54e74059e0bc977
    simkey:
      streamHash: d526c6541c8b36afdab224f5b589e18435dadf49
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  autoImportSchema:
    simkey: true
