version: 3.8.2

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - holidays

definitions:
  streams:
    holidays:
      type: DeclarativeStream
      name: holidays
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: holidays
          http_method: GET
          request_parameters:
            country: "{{ config['country'] }}"
            year: "{{ config['year'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - holidays
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/holidays"
    countries:
      type: DeclarativeStream
      name: countries
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: countries
          http_method: GET
          request_parameters:
            country: "{{ config['country'] }}"
            year: "{{ config['year'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - countries
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/countries"
    languages:
      type: DeclarativeStream
      name: languages
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: languages
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - languages
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/languages"
  base_requester:
    type: HttpRequester
    url_base: https://holidayapi.com/v1/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['api_key'] }}"
      inject_into:
        type: RequestOption
        inject_into: request_parameter
        field_name: key

streams:
  - $ref: "#/definitions/streams/holidays"
  - $ref: "#/definitions/streams/countries"
  - $ref: "#/definitions/streams/languages"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        description: >-
          API Key available at the dashboard, ref -
          https://holidayapi.com/dashboard
        airbyte-secret: true
        order: 0
      country:
        type: string
        title: Country
        description: >-
          Country code to pass as parameter for different streams (ref -
          https://holidayapi.com/countries)
        default: IN
        order: 1
      year:
        type: string
        title: Year
        description: >-
          Year to pass as parameter for different streams, which is 4 digit year
          in ISO 8601 format (ref -
          https://en.wikipedia.org/wiki/ISO_8601#Years).
        default: "2022"
        order: 2
    additionalProperties: true

metadata:
  autoImportSchema:
    holidays: false
    countries: false
    languages: false

schemas:
  holidays:
    type: object
    $parameters:
      extractor_path: holidays
      name: holidays
      path: holidays
      primary_key: uuid
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    extractor_path: holidays
    name: holidays
    path: holidays
    primary_key: uuid
    properties:
      country:
        type:
          - "null"
          - string
      date:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      observed:
        type:
          - "null"
          - string
      public:
        type:
          - "null"
          - boolean
      uuid:
        type:
          - "null"
          - string
      weekday:
        type:
          - "null"
          - object
        properties:
          date:
            type:
              - "null"
              - object
            properties:
              name:
                type:
                  - "null"
                  - string
              numeric:
                type:
                  - "null"
                  - string
          observed:
            type:
              - "null"
              - object
            properties:
              name:
                type:
                  - "null"
                  - string
              numeric:
                type:
                  - "null"
                  - string
    title: Holidays schema
  countries:
    type:
      - "null"
      - object
    $parameters:
      extractor_path: countries
      name: countries
      path: countries
    $schema: http://json-schema.org/draft-07/schema#
    extractor_path: countries
    name: countries
    path: countries
    properties:
      code:
        type:
          - "null"
          - string
      codes:
        type:
          - "null"
          - object
        properties:
          alpha-2:
            type:
              - "null"
              - string
          alpha-3:
            type:
              - "null"
              - string
          numeric:
            type:
              - "null"
              - string
      currencies:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            alpha:
              type:
                - "null"
                - string
      flag:
        type:
          - "null"
          - string
      languages:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      name:
        type:
          - "null"
          - string
      subdivisions:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            code:
              type:
                - "null"
                - string
            languages:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - string
            name:
              type:
                - "null"
                - string
      weekend:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            name:
              type:
                - "null"
                - string
            numeric:
              type:
                - "null"
                - number
    title: Countries Schema
    additionalProperties: true
  languages:
    type:
      - "null"
      - object
    $parameters:
      extractor_path: languages
      name: languages
      path: languages
    $schema: http://json-schema.org/draft-07/schema#
    extractor_path: languages
    name: languages
    path: languages
    properties:
      code:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
    title: Languages schema
    additionalProperties: true