@use "scss/colors";
@use "scss/variables";

.jobListItem {
  margin-top: variables.$spacing-md;
  padding: variables.$spacing-md variables.$spacing-xl;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jobListItemIntegrationName {
  display: flex;
  align-items: center;
  flex: 1 2 auto;
}

.dbtLogo {
  height: 18px;
  width: 18px;
  margin-right: variables.$spacing-md;
}

.jobListItemIdFieldGroup {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  align-items: center;
  flex: 0 1 auto;
}

.jobListItemIdField {
  height: fit-content;
  margin-left: 1em;
  background-color: colors.$grey-50;
  flex-grow: 1;
  padding: variables.$spacing-xs variables.$spacing-md;
  border-radius: variables.$border-radius-2xl;

  p {
    color: colors.$grey-600;
  }
}

.jobListItemDelete {
  svg {
    height: 21px;
    width: 21px;
    color: colors.$dark-blue-50;
    transition: color variables.$transition;
  }

  &:hover,
  &:focus-visible {
    svg {
      color: colors.$dark-blue-100;
    }
  }
}
