version: 5.16.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - merchant_account_stream

definitions:
  streams:
    merchant_account_stream:
      type: DeclarativeStream
      name: merchant_account_stream
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /merchant_accounts
          http_method: GET
          request_headers:
            X-ApiVersion: "6"
        record_selector:
          type: RecordSelector
          extractor:
            type: CustomRecordExtractor
            class_name: source_declarative_manifest.components.MerchantAccountExtractor
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/merchant_account_stream"
    customer_stream:
      type: DeclarativeStream
      name: customer_stream
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /customers/advanced_search
          http_method: POST
          request_headers:
            X-ApiVersion: "6"
          request_body_json:
            search:
              created_at:
                min: >-
                  {{ format_datetime(stream_interval.start_time, '%Y-%m-%d
                  %H:%M:%S %z') }}
        record_selector:
          type: RecordSelector
          extractor:
            type: CustomRecordExtractor
            class_name: source_declarative_manifest.components.CustomerExtractor
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%dT%H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customer_stream"
    discount_stream:
      type: DeclarativeStream
      name: discount_stream
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /discounts/
          http_method: GET
          request_headers:
            X-ApiVersion: "6"
        record_selector:
          type: RecordSelector
          extractor:
            type: CustomRecordExtractor
            class_name: source_declarative_manifest.components.DiscountExtractor
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/discount_stream"
    plan_stream:
      type: DeclarativeStream
      name: plan_stream
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /plans/
          http_method: GET
          request_headers:
            X-ApiVersion: "6"
        record_selector:
          type: RecordSelector
          extractor:
            type: CustomRecordExtractor
            class_name: source_declarative_manifest.components.PlanExtractor
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/plan_stream"
    transaction_stream:
      type: DeclarativeStream
      name: transaction_stream
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /transactions/advanced_search
          http_method: POST
          request_headers:
            X-ApiVersion: "6"
          request_body_json:
            search:
              created_at:
                min: >-
                  {{ format_datetime(stream_interval.start_time, '%Y-%m-%d
                  %H:%M:%S %z') }}
        record_selector:
          type: RecordSelector
          extractor:
            type: CustomRecordExtractor
            class_name: source_declarative_manifest.components.TransactionExtractor
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%dT%H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/transaction_stream"
    subscription_stream:
      type: DeclarativeStream
      name: subscription_stream
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /subscriptions/advanced_search
          http_method: GET
          request_headers:
            X-ApiVersion: "6"
          request_body_json:
            search:
              created_at:
                min: >-
                  {{ format_datetime(stream_interval.start_time, '%Y-%m-%d
                  %H:%M:%S %z') }}
        record_selector:
          type: RecordSelector
          extractor:
            type: CustomRecordExtractor
            class_name: source_declarative_manifest.components.SubscriptionExtractor
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 50
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%Y-%m-%d %H:%M:%S"
          - "%Y-%m-%dT%H:%M:%S"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/subscription_stream"
    dispute_stream:
      type: DeclarativeStream
      name: dispute_stream
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /disputes/advanced_search
          http_method: POST
          request_headers:
            X-ApiVersion: "6"
          request_body_json:
            search:
              received_date:
                min: "{{ stream_interval.start_time }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: CustomRecordExtractor
            class_name: source_declarative_manifest.components.DisputeExtractor
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: received_date
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/dispute_stream"
  base_requester:
    type: HttpRequester
    url_base: >-
      https://{% if config['environment'] == 'Development' %}localhost:3000{%
      elif config['environment'] == 'Sandbox'
      %}api.sandbox.braintreegateway.com:443{% elif config['environment'] ==
      'Qa' %}gateway.qa.braintreepayments.com:443{% elif config['environment']
      == 'Production' %}api.braintreegateway.com:443{% endif
      %}/merchants/{{config['merchant_id']}}
    authenticator:
      type: BasicHttpAuthenticator
      password: "{{ config[\"private_key\"] }}"
      username: "{{ config[\"public_key\"] }}"

streams:
  - $ref: "#/definitions/streams/merchant_account_stream"
  - $ref: "#/definitions/streams/customer_stream"
  - $ref: "#/definitions/streams/discount_stream"
  - $ref: "#/definitions/streams/plan_stream"
  - $ref: "#/definitions/streams/transaction_stream"
  - $ref: "#/definitions/streams/subscription_stream"
  - $ref: "#/definitions/streams/dispute_stream"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - merchant_id
      - public_key
      - private_key
      - environment
    properties:
      merchant_id:
        type: string
        description: >-
          The unique identifier for your entire gateway account. See the <a
          href="https://docs.airbyte.com/integrations/sources/braintree">docs</a>
          for more information on how to obtain this ID.
        title: Merchant ID
        name: Merchant ID
        order: 0
      public_key:
        type: string
        description: >-
          Braintree Public Key. See the <a
          href="https://docs.airbyte.com/integrations/sources/braintree">docs</a>
          for more information on how to obtain this key.
        title: Public Key
        name: Public Key
        order: 1
      private_key:
        type: string
        description: >-
          Braintree Private Key. See the <a
          href="https://docs.airbyte.com/integrations/sources/braintree">docs</a>
          for more information on how to obtain this key.
        title: Private Key
        name: Private Key
        airbyte_secret: true
        order: 2
      start_date:
        type: string
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00Z. Any data before
          this date will not be replicated.
        title: Start Date
        name: Start Date
        examples:
          - "2020"
          - "2020-12-30"
          - "2020-11-22 20:20:05"
        format: date-time
        order: 3
      environment:
        type: string
        description: Environment specifies where the data will come from.
        title: Environment
        name: Environment
        examples:
          - sandbox
          - production
          - qa
          - development
        enum:
          - Development
          - Sandbox
          - Qa
          - Production
        order: 4
    additionalProperties: true

metadata:
  autoImportSchema:
    merchant_account_stream: true
    customer_stream: true
    discount_stream: true
    plan_stream: true
    transaction_stream: true
    subscription_stream: true
    dispute_stream: true
  yamlComponents:
    streams:
      merchant_account_stream:
        - recordSelector
      customer_stream:
        - recordSelector
      discount_stream:
        - recordSelector
      plan_stream:
        - recordSelector
      transaction_stream:
        - recordSelector
      subscription_stream:
        - recordSelector
      dispute_stream:
        - recordSelector
  testedStreams: {}
  assist: {}

schemas:
  merchant_account_stream:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      business_details:
        oneOf:
          - type: "null"
          - type: object
            properties:
              address_details:
                oneOf:
                  - type: "null"
                  - type: object
                    properties:
                      company:
                        type:
                          - "null"
                          - string
                      country_code_alpha2:
                        type:
                          - "null"
                          - string
                      country_code_alpha3:
                        type:
                          - "null"
                          - string
                      country_code_numeric:
                        type:
                          - "null"
                          - string
                      country_name:
                        type:
                          - "null"
                          - string
                      created_at:
                        type:
                          - "null"
                          - string
                        format: date-time
                      customer_id:
                        type:
                          - "null"
                          - string
                      extended_address:
                        type:
                          - "null"
                          - string
                      first_name:
                        type:
                          - "null"
                          - string
                      id:
                        type:
                          - "null"
                          - string
                      last_name:
                        type:
                          - "null"
                          - string
                      locality:
                        type:
                          - "null"
                          - string
                      postal_code:
                        type:
                          - "null"
                          - string
                      region:
                        type:
                          - "null"
                          - string
                      street_address:
                        type:
                          - "null"
                          - string
                      updated_at:
                        type:
                          - "null"
                          - string
                        format: date-time
              dba_name:
                type:
                  - "null"
                  - string
              legal_name:
                type:
                  - "null"
                  - string
              tax_id:
                type:
                  - "null"
                  - string
      currency_iso_code:
        type:
          - "null"
          - string
      funding_details:
        oneOf:
          - type: "null"
          - type: object
            properties:
              account_number_last_4:
                type:
                  - "null"
                  - string
              descriptor:
                type:
                  - "null"
                  - string
              destination:
                type:
                  - "null"
                  - string
              email:
                type:
                  - "null"
                  - string
              mobile_phone:
                type:
                  - "null"
                  - string
              routing_number:
                type:
                  - "null"
                  - string
      id:
        type:
          - string
      individual_details:
        oneOf:
          - type: "null"
          - type: object
            properties:
              address_details:
                oneOf:
                  - type: "null"
                  - type: object
                    properties:
                      company:
                        type:
                          - "null"
                          - string
                      country_code_alpha2:
                        type:
                          - "null"
                          - string
                      country_code_alpha3:
                        type:
                          - "null"
                          - string
                      country_code_numeric:
                        type:
                          - "null"
                          - string
                      country_name:
                        type:
                          - "null"
                          - string
                      created_at:
                        type:
                          - "null"
                          - string
                        format: date-time
                      customer_id:
                        type:
                          - "null"
                          - string
                      extended_address:
                        type:
                          - "null"
                          - string
                      first_name:
                        type:
                          - "null"
                          - string
                      id:
                        type:
                          - "null"
                          - string
                      last_name:
                        type:
                          - "null"
                          - string
                      locality:
                        type:
                          - "null"
                          - string
                      postal_code:
                        type:
                          - "null"
                          - string
                      region:
                        type:
                          - "null"
                          - string
                      street_address:
                        type:
                          - "null"
                          - string
                      updated_at:
                        type:
                          - "null"
                          - string
                        format: date-time
              date_of_birth:
                type:
                  - "null"
                  - string
              email:
                type:
                  - "null"
                  - string
              first_name:
                type:
                  - "null"
                  - string
              last_name:
                type:
                  - "null"
                  - string
              phone:
                type:
                  - "null"
                  - string
              ssn_last_4:
                type:
                  - "null"
                  - string
      status:
        type:
          - "null"
          - string
    required:
      - id
  customer_stream:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      addresses:
        type:
          - "null"
          - array
        items:
          type: object
          properties:
            company:
              type:
                - "null"
                - string
            country_code_alpha2:
              type:
                - "null"
                - string
            country_code_alpha3:
              type:
                - "null"
                - string
            country_code_numeric:
              type:
                - "null"
                - string
            country_name:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
              format: date-time
            customer_id:
              type:
                - "null"
                - string
            extended_address:
              type:
                - "null"
                - string
            first_name:
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            last_name:
              type:
                - "null"
                - string
            locality:
              type:
                - "null"
                - string
            postal_code:
              type:
                - "null"
                - string
            region:
              type:
                - "null"
                - string
            street_address:
              type:
                - "null"
                - string
            updated_at:
              type:
                - "null"
                - string
              format: date-time
      android_pay_cards:
        type:
          - "null"
          - array
        items:
          type: object
          properties:
            billing_address:
              oneOf:
                - type: "null"
                - type: object
                  properties:
                    company:
                      type:
                        - "null"
                        - string
                    country_code_alpha2:
                      type:
                        - "null"
                        - string
                    country_code_alpha3:
                      type:
                        - "null"
                        - string
                    country_code_numeric:
                      type:
                        - "null"
                        - string
                    country_name:
                      type:
                        - "null"
                        - string
                    created_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    customer_id:
                      type:
                        - "null"
                        - string
                    extended_address:
                      type:
                        - "null"
                        - string
                    first_name:
                      type:
                        - "null"
                        - string
                    id:
                      type:
                        - "null"
                        - string
                    last_name:
                      type:
                        - "null"
                        - string
                    locality:
                      type:
                        - "null"
                        - string
                    postal_code:
                      type:
                        - "null"
                        - string
                    region:
                      type:
                        - "null"
                        - string
                    street_address:
                      type:
                        - "null"
                        - string
                    updated_at:
                      type:
                        - "null"
                        - string
                      format: date-time
            bin:
              type:
                - "null"
                - string
            card_type:
              type:
                - "null"
                - string
            cardholder_name:
              type:
                - "null"
                - string
            commercial:
              type:
                - "null"
                - string
            country_of_issuance:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
              format: date-time
            customer_id:
              type:
                - "null"
                - string
            customer_location:
              type:
                - "null"
                - string
            debit:
              type:
                - "null"
                - string
            default:
              type:
                - "null"
                - boolean
            durbin_regulated:
              type:
                - "null"
                - string
            expiration_date:
              type:
                - "null"
                - string
            expiration_month:
              type:
                - "null"
                - string
            expiration_year:
              type:
                - "null"
                - string
            expired:
              type:
                - "null"
                - boolean
            google_transaction_id:
              type:
                - "null"
                - string
            healthcare:
              type:
                - "null"
                - string
            image_url:
              type:
                - "null"
                - string
            is_network_tokenized:
              type:
                - "null"
                - boolean
            issuing_bank:
              type:
                - "null"
                - string
            last_4:
              type:
                - "null"
                - string
            masked_number:
              type:
                - "null"
                - string
            payroll:
              type:
                - "null"
                - string
            prepaid:
              type:
                - "null"
                - string
            product_id:
              type:
                - "null"
                - string
            source_card_last_4:
              type:
                - "null"
                - string
            source_card_type:
              type:
                - "null"
                - string
            source_description:
              type:
                - "null"
                - string
            token:
              type:
                - "null"
                - string
            unique_number_identifier:
              type:
                - "null"
                - string
            updated_at:
              type:
                - "null"
                - string
              format: date-time
            virtual_card_last_4:
              type:
                - "null"
                - string
            virtual_card_type:
              type:
                - "null"
                - string
      apple_pay_cards:
        type:
          - "null"
          - array
        items:
          type: object
          properties:
            billing_address:
              oneOf:
                - type: "null"
                - type: object
                  properties:
                    company:
                      type:
                        - "null"
                        - string
                    country_code_alpha2:
                      type:
                        - "null"
                        - string
                    country_code_alpha3:
                      type:
                        - "null"
                        - string
                    country_code_numeric:
                      type:
                        - "null"
                        - string
                    country_name:
                      type:
                        - "null"
                        - string
                    created_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    customer_id:
                      type:
                        - "null"
                        - string
                    extended_address:
                      type:
                        - "null"
                        - string
                    first_name:
                      type:
                        - "null"
                        - string
                    id:
                      type:
                        - "null"
                        - string
                    last_name:
                      type:
                        - "null"
                        - string
                    locality:
                      type:
                        - "null"
                        - string
                    postal_code:
                      type:
                        - "null"
                        - string
                    region:
                      type:
                        - "null"
                        - string
                    street_address:
                      type:
                        - "null"
                        - string
                    updated_at:
                      type:
                        - "null"
                        - string
                      format: date-time
            bin:
              type:
                - "null"
                - string
            card_type:
              type:
                - "null"
                - string
            cardholder_name:
              type:
                - "null"
                - string
            commercial:
              type:
                - "null"
                - string
            country_of_issuance:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
              format: date-time
            customer_id:
              type:
                - "null"
                - string
            customer_location:
              type:
                - "null"
                - string
            debit:
              type:
                - "null"
                - string
            default:
              type:
                - "null"
                - boolean
            durbin_regulated:
              type:
                - "null"
                - string
            expiration_date:
              type:
                - "null"
                - string
            expiration_month:
              type:
                - "null"
                - string
            expiration_year:
              type:
                - "null"
                - string
            expired:
              type:
                - "null"
                - boolean
            healthcare:
              type:
                - "null"
                - string
            image_url:
              type:
                - "null"
                - string
            issuing_bank:
              type:
                - "null"
                - string
            last_4:
              type:
                - "null"
                - string
            masked_number:
              type:
                - "null"
                - string
            payment_instrument_name:
              type:
                - "null"
                - string
            payroll:
              type:
                - "null"
                - string
            prepaid:
              type:
                - "null"
                - string
            product_id:
              type:
                - "null"
                - string
            source_description:
              type:
                - "null"
                - string
            token:
              type:
                - "null"
                - string
            unique_number_identifier:
              type:
                - "null"
                - string
            updated_at:
              type:
                - "null"
                - string
              format: date-time
      company:
        type:
          - "null"
          - string
      created_at:
        type:
          - string
        format: date-time
      credit_cards:
        type:
          - "null"
          - array
        items:
          type: object
          properties:
            billing_address:
              oneOf:
                - type: "null"
                - type: object
                  properties:
                    company:
                      type:
                        - "null"
                        - string
                    country_code_alpha2:
                      type:
                        - "null"
                        - string
                    country_code_alpha3:
                      type:
                        - "null"
                        - string
                    country_code_numeric:
                      type:
                        - "null"
                        - string
                    country_name:
                      type:
                        - "null"
                        - string
                    created_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    customer_id:
                      type:
                        - "null"
                        - string
                    extended_address:
                      type:
                        - "null"
                        - string
                    first_name:
                      type:
                        - "null"
                        - string
                    id:
                      type:
                        - "null"
                        - string
                    last_name:
                      type:
                        - "null"
                        - string
                    locality:
                      type:
                        - "null"
                        - string
                    postal_code:
                      type:
                        - "null"
                        - string
                    region:
                      type:
                        - "null"
                        - string
                    street_address:
                      type:
                        - "null"
                        - string
                    updated_at:
                      type:
                        - "null"
                        - string
                      format: date-time
            bin:
              type:
                - "null"
                - string
            card_type:
              type:
                - "null"
                - string
            cardholder_name:
              type:
                - "null"
                - string
            commercial:
              type:
                - "null"
                - string
            country_of_issuance:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
              format: date-time
            customer_id:
              type:
                - "null"
                - string
            customer_location:
              type:
                - "null"
                - string
            debit:
              type:
                - "null"
                - string
            default:
              type:
                - "null"
                - boolean
            durbin_regulated:
              type:
                - "null"
                - string
            expiration_date:
              type:
                - "null"
                - string
            expiration_month:
              type:
                - "null"
                - string
            expiration_year:
              type:
                - "null"
                - string
            expired:
              type:
                - "null"
                - boolean
            healthcare:
              type:
                - "null"
                - string
            image_url:
              type:
                - "null"
                - string
            issuing_bank:
              type:
                - "null"
                - string
            last_4:
              type:
                - "null"
                - string
            masked_number:
              type:
                - "null"
                - string
            payroll:
              type:
                - "null"
                - string
            prepaid:
              type:
                - "null"
                - string
            product_id:
              type:
                - "null"
                - string
            token:
              type:
                - "null"
                - string
            unique_number_identifier:
              type:
                - "null"
                - string
            updated_at:
              type:
                - "null"
                - string
              format: date-time
      custom_fields:
        type:
          - "null"
          - string
      email:
        type:
          - "null"
          - string
      fax:
        type:
          - "null"
          - string
      first_name:
        type:
          - "null"
          - string
      graphql_id:
        type:
          - "null"
          - string
      id:
        type:
          - string
      last_name:
        type:
          - "null"
          - string
      masterpass_cards:
        type:
          - "null"
          - array
        items:
          type: object
          properties:
            billing_address:
              oneOf:
                - type: "null"
                - type: object
                  properties:
                    company:
                      type:
                        - "null"
                        - string
                    country_code_alpha2:
                      type:
                        - "null"
                        - string
                    country_code_alpha3:
                      type:
                        - "null"
                        - string
                    country_code_numeric:
                      type:
                        - "null"
                        - string
                    country_name:
                      type:
                        - "null"
                        - string
                    created_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    customer_id:
                      type:
                        - "null"
                        - string
                    extended_address:
                      type:
                        - "null"
                        - string
                    first_name:
                      type:
                        - "null"
                        - string
                    id:
                      type:
                        - "null"
                        - string
                    last_name:
                      type:
                        - "null"
                        - string
                    locality:
                      type:
                        - "null"
                        - string
                    postal_code:
                      type:
                        - "null"
                        - string
                    region:
                      type:
                        - "null"
                        - string
                    street_address:
                      type:
                        - "null"
                        - string
                    updated_at:
                      type:
                        - "null"
                        - string
                      format: date-time
            bin:
              type:
                - "null"
                - string
            card_type:
              type:
                - "null"
                - string
            cardholder_name:
              type:
                - "null"
                - string
            commercial:
              type:
                - "null"
                - string
            country_of_issuance:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
              format: date-time
            customer_id:
              type:
                - "null"
                - string
            customer_location:
              type:
                - "null"
                - string
            debit:
              type:
                - "null"
                - string
            default:
              type:
                - "null"
                - boolean
            durbin_regulated:
              type:
                - "null"
                - string
            expiration_date:
              type:
                - "null"
                - string
            expiration_month:
              type:
                - "null"
                - string
            expiration_year:
              type:
                - "null"
                - string
            expired:
              type:
                - "null"
                - boolean
            healthcare:
              type:
                - "null"
                - string
            image_url:
              type:
                - "null"
                - string
            issuing_bank:
              type:
                - "null"
                - string
            last_4:
              type:
                - "null"
                - string
            masked_number:
              type:
                - "null"
                - string
            payroll:
              type:
                - "null"
                - string
            prepaid:
              type:
                - "null"
                - string
            product_id:
              type:
                - "null"
                - string
            token:
              type:
                - "null"
                - string
            unique_number_identifier:
              type:
                - "null"
                - string
            updated_at:
              type:
                - "null"
                - string
              format: date-time
      payment_methods:
        type:
          - "null"
          - array
        items:
          anyOf:
            - type: object
              properties:
                billing_address:
                  oneOf:
                    - type: "null"
                    - type: object
                      properties:
                        company:
                          type:
                            - "null"
                            - string
                        country_code_alpha2:
                          type:
                            - "null"
                            - string
                        country_code_alpha3:
                          type:
                            - "null"
                            - string
                        country_code_numeric:
                          type:
                            - "null"
                            - string
                        country_name:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                        customer_id:
                          type:
                            - "null"
                            - string
                        extended_address:
                          type:
                            - "null"
                            - string
                        first_name:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                        last_name:
                          type:
                            - "null"
                            - string
                        locality:
                          type:
                            - "null"
                            - string
                        postal_code:
                          type:
                            - "null"
                            - string
                        region:
                          type:
                            - "null"
                            - string
                        street_address:
                          type:
                            - "null"
                            - string
                        updated_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                bin:
                  type:
                    - "null"
                    - string
                card_type:
                  type:
                    - "null"
                    - string
                cardholder_name:
                  type:
                    - "null"
                    - string
                commercial:
                  type:
                    - "null"
                    - string
                country_of_issuance:
                  type:
                    - "null"
                    - string
                created_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                customer_id:
                  type:
                    - "null"
                    - string
                customer_location:
                  type:
                    - "null"
                    - string
                debit:
                  type:
                    - "null"
                    - string
                default:
                  type:
                    - "null"
                    - boolean
                durbin_regulated:
                  type:
                    - "null"
                    - string
                expiration_date:
                  type:
                    - "null"
                    - string
                expiration_month:
                  type:
                    - "null"
                    - string
                expiration_year:
                  type:
                    - "null"
                    - string
                expired:
                  type:
                    - "null"
                    - boolean
                healthcare:
                  type:
                    - "null"
                    - string
                image_url:
                  type:
                    - "null"
                    - string
                issuing_bank:
                  type:
                    - "null"
                    - string
                last_4:
                  type:
                    - "null"
                    - string
                masked_number:
                  type:
                    - "null"
                    - string
                payroll:
                  type:
                    - "null"
                    - string
                prepaid:
                  type:
                    - "null"
                    - string
                product_id:
                  type:
                    - "null"
                    - string
                token:
                  type:
                    - "null"
                    - string
                unique_number_identifier:
                  type:
                    - "null"
                    - string
                updated_at:
                  type:
                    - "null"
                    - string
                  format: date-time
            - type: object
              properties:
                billing_address:
                  oneOf:
                    - type: "null"
                    - type: object
                      properties:
                        company:
                          type:
                            - "null"
                            - string
                        country_code_alpha2:
                          type:
                            - "null"
                            - string
                        country_code_alpha3:
                          type:
                            - "null"
                            - string
                        country_code_numeric:
                          type:
                            - "null"
                            - string
                        country_name:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                        customer_id:
                          type:
                            - "null"
                            - string
                        extended_address:
                          type:
                            - "null"
                            - string
                        first_name:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                        last_name:
                          type:
                            - "null"
                            - string
                        locality:
                          type:
                            - "null"
                            - string
                        postal_code:
                          type:
                            - "null"
                            - string
                        region:
                          type:
                            - "null"
                            - string
                        street_address:
                          type:
                            - "null"
                            - string
                        updated_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                bin:
                  type:
                    - "null"
                    - string
                card_type:
                  type:
                    - "null"
                    - string
                cardholder_name:
                  type:
                    - "null"
                    - string
                commercial:
                  type:
                    - "null"
                    - string
                country_of_issuance:
                  type:
                    - "null"
                    - string
                created_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                customer_id:
                  type:
                    - "null"
                    - string
                customer_location:
                  type:
                    - "null"
                    - string
                debit:
                  type:
                    - "null"
                    - string
                default:
                  type:
                    - "null"
                    - boolean
                durbin_regulated:
                  type:
                    - "null"
                    - string
                expiration_date:
                  type:
                    - "null"
                    - string
                expiration_month:
                  type:
                    - "null"
                    - string
                expiration_year:
                  type:
                    - "null"
                    - string
                expired:
                  type:
                    - "null"
                    - boolean
                google_transaction_id:
                  type:
                    - "null"
                    - string
                healthcare:
                  type:
                    - "null"
                    - string
                image_url:
                  type:
                    - "null"
                    - string
                is_network_tokenized:
                  type:
                    - "null"
                    - boolean
                issuing_bank:
                  type:
                    - "null"
                    - string
                last_4:
                  type:
                    - "null"
                    - string
                masked_number:
                  type:
                    - "null"
                    - string
                payroll:
                  type:
                    - "null"
                    - string
                prepaid:
                  type:
                    - "null"
                    - string
                product_id:
                  type:
                    - "null"
                    - string
                source_card_last_4:
                  type:
                    - "null"
                    - string
                source_card_type:
                  type:
                    - "null"
                    - string
                source_description:
                  type:
                    - "null"
                    - string
                token:
                  type:
                    - "null"
                    - string
                unique_number_identifier:
                  type:
                    - "null"
                    - string
                updated_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                virtual_card_last_4:
                  type:
                    - "null"
                    - string
                virtual_card_type:
                  type:
                    - "null"
                    - string
            - type: object
              properties:
                billing_address:
                  oneOf:
                    - type: "null"
                    - type: object
                      properties:
                        company:
                          type:
                            - "null"
                            - string
                        country_code_alpha2:
                          type:
                            - "null"
                            - string
                        country_code_alpha3:
                          type:
                            - "null"
                            - string
                        country_code_numeric:
                          type:
                            - "null"
                            - string
                        country_name:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                        customer_id:
                          type:
                            - "null"
                            - string
                        extended_address:
                          type:
                            - "null"
                            - string
                        first_name:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                        last_name:
                          type:
                            - "null"
                            - string
                        locality:
                          type:
                            - "null"
                            - string
                        postal_code:
                          type:
                            - "null"
                            - string
                        region:
                          type:
                            - "null"
                            - string
                        street_address:
                          type:
                            - "null"
                            - string
                        updated_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                bin:
                  type:
                    - "null"
                    - string
                card_type:
                  type:
                    - "null"
                    - string
                cardholder_name:
                  type:
                    - "null"
                    - string
                commercial:
                  type:
                    - "null"
                    - string
                country_of_issuance:
                  type:
                    - "null"
                    - string
                created_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                customer_id:
                  type:
                    - "null"
                    - string
                customer_location:
                  type:
                    - "null"
                    - string
                debit:
                  type:
                    - "null"
                    - string
                default:
                  type:
                    - "null"
                    - boolean
                durbin_regulated:
                  type:
                    - "null"
                    - string
                expiration_date:
                  type:
                    - "null"
                    - string
                expiration_month:
                  type:
                    - "null"
                    - string
                expiration_year:
                  type:
                    - "null"
                    - string
                expired:
                  type:
                    - "null"
                    - boolean
                healthcare:
                  type:
                    - "null"
                    - string
                image_url:
                  type:
                    - "null"
                    - string
                issuing_bank:
                  type:
                    - "null"
                    - string
                last_4:
                  type:
                    - "null"
                    - string
                masked_number:
                  type:
                    - "null"
                    - string
                payment_instrument_name:
                  type:
                    - "null"
                    - string
                payroll:
                  type:
                    - "null"
                    - string
                prepaid:
                  type:
                    - "null"
                    - string
                product_id:
                  type:
                    - "null"
                    - string
                source_description:
                  type:
                    - "null"
                    - string
                token:
                  type:
                    - "null"
                    - string
                unique_number_identifier:
                  type:
                    - "null"
                    - string
                updated_at:
                  type:
                    - "null"
                    - string
                  format: date-time
            - type: object
              properties:
                billing_address:
                  oneOf:
                    - type: "null"
                    - type: object
                      properties:
                        company:
                          type:
                            - "null"
                            - string
                        country_code_alpha2:
                          type:
                            - "null"
                            - string
                        country_code_alpha3:
                          type:
                            - "null"
                            - string
                        country_code_numeric:
                          type:
                            - "null"
                            - string
                        country_name:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                        customer_id:
                          type:
                            - "null"
                            - string
                        extended_address:
                          type:
                            - "null"
                            - string
                        first_name:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                        last_name:
                          type:
                            - "null"
                            - string
                        locality:
                          type:
                            - "null"
                            - string
                        postal_code:
                          type:
                            - "null"
                            - string
                        region:
                          type:
                            - "null"
                            - string
                        street_address:
                          type:
                            - "null"
                            - string
                        updated_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                bin:
                  type:
                    - "null"
                    - string
                card_type:
                  type:
                    - "null"
                    - string
                cardholder_name:
                  type:
                    - "null"
                    - string
                commercial:
                  type:
                    - "null"
                    - string
                country_of_issuance:
                  type:
                    - "null"
                    - string
                created_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                customer_id:
                  type:
                    - "null"
                    - string
                customer_location:
                  type:
                    - "null"
                    - string
                debit:
                  type:
                    - "null"
                    - string
                default:
                  type:
                    - "null"
                    - boolean
                durbin_regulated:
                  type:
                    - "null"
                    - string
                expiration_date:
                  type:
                    - "null"
                    - string
                expiration_month:
                  type:
                    - "null"
                    - string
                expiration_year:
                  type:
                    - "null"
                    - string
                expired:
                  type:
                    - "null"
                    - boolean
                healthcare:
                  type:
                    - "null"
                    - string
                image_url:
                  type:
                    - "null"
                    - string
                issuing_bank:
                  type:
                    - "null"
                    - string
                last_4:
                  type:
                    - "null"
                    - string
                masked_number:
                  type:
                    - "null"
                    - string
                payroll:
                  type:
                    - "null"
                    - string
                prepaid:
                  type:
                    - "null"
                    - string
                product_id:
                  type:
                    - "null"
                    - string
                token:
                  type:
                    - "null"
                    - string
                unique_number_identifier:
                  type:
                    - "null"
                    - string
                updated_at:
                  type:
                    - "null"
                    - string
                  format: date-time
            - type: object
              properties:
                account_holder_name:
                  type:
                    - "null"
                    - string
                account_type:
                  type:
                    - "null"
                    - string
                ach_mandate:
                  type:
                    - "null"
                    - string
                bank_name:
                  type:
                    - "null"
                    - string
                billing_address:
                  oneOf:
                    - type: "null"
                    - type: object
                      properties:
                        company:
                          type:
                            - "null"
                            - string
                        country_code_alpha2:
                          type:
                            - "null"
                            - string
                        country_code_alpha3:
                          type:
                            - "null"
                            - string
                        country_code_numeric:
                          type:
                            - "null"
                            - string
                        country_name:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                        customer_id:
                          type:
                            - "null"
                            - string
                        extended_address:
                          type:
                            - "null"
                            - string
                        first_name:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                        last_name:
                          type:
                            - "null"
                            - string
                        locality:
                          type:
                            - "null"
                            - string
                        postal_code:
                          type:
                            - "null"
                            - string
                        region:
                          type:
                            - "null"
                            - string
                        street_address:
                          type:
                            - "null"
                            - string
                        updated_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                bin:
                  type:
                    - "null"
                    - string
                business_name:
                  type:
                    - "null"
                    - string
                card_type:
                  type:
                    - "null"
                    - string
                cardholder_name:
                  type:
                    - "null"
                    - string
                commercial:
                  type:
                    - "null"
                    - string
                country_of_issuance:
                  type:
                    - "null"
                    - string
                created_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                customer_id:
                  type:
                    - "null"
                    - string
                customer_location:
                  type:
                    - "null"
                    - string
                debit:
                  type:
                    - "null"
                    - string
                default:
                  type:
                    - "null"
                    - boolean
                durbin_regulated:
                  type:
                    - "null"
                    - string
                expiration_date:
                  type:
                    - "null"
                    - string
                expiration_month:
                  type:
                    - "null"
                    - string
                expiration_year:
                  type:
                    - "null"
                    - string
                expired:
                  type:
                    - "null"
                    - boolean
                healthcare:
                  type:
                    - "null"
                    - string
                image_url:
                  type:
                    - "null"
                    - string
                issuing_bank:
                  type:
                    - "null"
                    - string
                last_4:
                  type:
                    - "null"
                    - string
                last_name:
                  type:
                    - "null"
                    - string
                masked_number:
                  type:
                    - "null"
                    - string
                owner_id:
                  type:
                    - "null"
                    - string
                ownership_type:
                  type:
                    - "null"
                    - string
                payroll:
                  type:
                    - "null"
                    - string
                plaid_verified_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                prepaid:
                  type:
                    - "null"
                    - string
                product_id:
                  type:
                    - "null"
                    - string
                routing_number:
                  type:
                    - "null"
                    - string
                token:
                  type:
                    - "null"
                    - string
                unique_number_identifier:
                  type:
                    - "null"
                    - string
                updated_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                verifiable:
                  type:
                    - "null"
                    - boolean
                verified:
                  type:
                    - "null"
                    - boolean
            - type: object
              properties:
                billing_address:
                  oneOf:
                    - type: "null"
                    - type: object
                      properties:
                        company:
                          type:
                            - "null"
                            - string
                        country_code_alpha2:
                          type:
                            - "null"
                            - string
                        country_code_alpha3:
                          type:
                            - "null"
                            - string
                        country_code_numeric:
                          type:
                            - "null"
                            - string
                        country_name:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                        customer_id:
                          type:
                            - "null"
                            - string
                        extended_address:
                          type:
                            - "null"
                            - string
                        first_name:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                        last_name:
                          type:
                            - "null"
                            - string
                        locality:
                          type:
                            - "null"
                            - string
                        postal_code:
                          type:
                            - "null"
                            - string
                        region:
                          type:
                            - "null"
                            - string
                        street_address:
                          type:
                            - "null"
                            - string
                        updated_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                billing_agreement_id:
                  type:
                    - "null"
                    - string
                bin:
                  type:
                    - "null"
                    - string
                card_type:
                  type:
                    - "null"
                    - string
                cardholder_name:
                  type:
                    - "null"
                    - string
                commercial:
                  type:
                    - "null"
                    - string
                country_of_issuance:
                  type:
                    - "null"
                    - string
                created_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                customer_id:
                  type:
                    - "null"
                    - string
                customer_location:
                  type:
                    - "null"
                    - string
                debit:
                  type:
                    - "null"
                    - string
                default:
                  type:
                    - "null"
                    - boolean
                durbin_regulated:
                  type:
                    - "null"
                    - string
                email:
                  type:
                    - "null"
                    - string
                expiration_date:
                  type:
                    - "null"
                    - string
                expiration_month:
                  type:
                    - "null"
                    - string
                expiration_year:
                  type:
                    - "null"
                    - string
                expired:
                  type:
                    - "null"
                    - boolean
                healthcare:
                  type:
                    - "null"
                    - string
                image_url:
                  type:
                    - "null"
                    - string
                issuing_bank:
                  type:
                    - "null"
                    - string
                last_4:
                  type:
                    - "null"
                    - string
                masked_number:
                  type:
                    - "null"
                    - string
                payer_id:
                  type:
                    - "null"
                    - string
                payroll:
                  type:
                    - "null"
                    - string
                prepaid:
                  type:
                    - "null"
                    - string
                product_id:
                  type:
                    - "null"
                    - string
                revoked_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                token:
                  type:
                    - "null"
                    - string
                unique_number_identifier:
                  type:
                    - "null"
                    - string
                updated_at:
                  type:
                    - "null"
                    - string
                  format: date-time
            - type: object
              properties:
                billing_address:
                  oneOf:
                    - type: "null"
                    - type: object
                      properties:
                        company:
                          type:
                            - "null"
                            - string
                        country_code_alpha2:
                          type:
                            - "null"
                            - string
                        country_code_alpha3:
                          type:
                            - "null"
                            - string
                        country_code_numeric:
                          type:
                            - "null"
                            - string
                        country_name:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                        customer_id:
                          type:
                            - "null"
                            - string
                        extended_address:
                          type:
                            - "null"
                            - string
                        first_name:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                        last_name:
                          type:
                            - "null"
                            - string
                        locality:
                          type:
                            - "null"
                            - string
                        postal_code:
                          type:
                            - "null"
                            - string
                        region:
                          type:
                            - "null"
                            - string
                        street_address:
                          type:
                            - "null"
                            - string
                        updated_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                bin:
                  type:
                    - "null"
                    - string
                card_type:
                  type:
                    - "null"
                    - string
                cardholder_name:
                  type:
                    - "null"
                    - string
                commercial:
                  type:
                    - "null"
                    - string
                country_of_issuance:
                  type:
                    - "null"
                    - string
                created_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                customer_id:
                  type:
                    - "null"
                    - string
                customer_location:
                  type:
                    - "null"
                    - string
                debit:
                  type:
                    - "null"
                    - string
                default:
                  type:
                    - "null"
                    - boolean
                durbin_regulated:
                  type:
                    - "null"
                    - string
                expiration_date:
                  type:
                    - "null"
                    - string
                expiration_month:
                  type:
                    - "null"
                    - string
                expiration_year:
                  type:
                    - "null"
                    - string
                expired:
                  type:
                    - "null"
                    - boolean
                healthcare:
                  type:
                    - "null"
                    - string
                image_url:
                  type:
                    - "null"
                    - string
                issuing_bank:
                  type:
                    - "null"
                    - string
                last_4:
                  type:
                    - "null"
                    - string
                masked_number:
                  type:
                    - "null"
                    - string
                payroll:
                  type:
                    - "null"
                    - string
                prepaid:
                  type:
                    - "null"
                    - string
                product_id:
                  type:
                    - "null"
                    - string
                source_description:
                  type:
                    - "null"
                    - string
                token:
                  type:
                    - "null"
                    - string
                unique_number_identifier:
                  type:
                    - "null"
                    - string
                updated_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                username:
                  type:
                    - "null"
                    - string
                venmo_user_id:
                  type:
                    - "null"
                    - string
            - type: object
              properties:
                billing_address:
                  oneOf:
                    - type: "null"
                    - type: object
                      properties:
                        company:
                          type:
                            - "null"
                            - string
                        country_code_alpha2:
                          type:
                            - "null"
                            - string
                        country_code_alpha3:
                          type:
                            - "null"
                            - string
                        country_code_numeric:
                          type:
                            - "null"
                            - string
                        country_name:
                          type:
                            - "null"
                            - string
                        created_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                        customer_id:
                          type:
                            - "null"
                            - string
                        extended_address:
                          type:
                            - "null"
                            - string
                        first_name:
                          type:
                            - "null"
                            - string
                        id:
                          type:
                            - "null"
                            - string
                        last_name:
                          type:
                            - "null"
                            - string
                        locality:
                          type:
                            - "null"
                            - string
                        postal_code:
                          type:
                            - "null"
                            - string
                        region:
                          type:
                            - "null"
                            - string
                        street_address:
                          type:
                            - "null"
                            - string
                        updated_at:
                          type:
                            - "null"
                            - string
                          format: date-time
                bin:
                  type:
                    - "null"
                    - string
                card_type:
                  type:
                    - "null"
                    - string
                cardholder_name:
                  type:
                    - "null"
                    - string
                commercial:
                  type:
                    - "null"
                    - string
                country_of_issuance:
                  type:
                    - "null"
                    - string
                created_at:
                  type:
                    - "null"
                    - string
                  format: date-time
                customer_id:
                  type:
                    - "null"
                    - string
                customer_location:
                  type:
                    - "null"
                    - string
                debit:
                  type:
                    - "null"
                    - string
                default:
                  type:
                    - "null"
                    - boolean
                durbin_regulated:
                  type:
                    - "null"
                    - string
                expiration_date:
                  type:
                    - "null"
                    - string
                expiration_month:
                  type:
                    - "null"
                    - string
                expiration_year:
                  type:
                    - "null"
                    - string
                expired:
                  type:
                    - "null"
                    - boolean
                healthcare:
                  type:
                    - "null"
                    - string
                image_url:
                  type:
                    - "null"
                    - string
                issuing_bank:
                  type:
                    - "null"
                    - string
                last_4:
                  type:
                    - "null"
                    - string
                masked_number:
                  type:
                    - "null"
                    - string
                payroll:
                  type:
                    - "null"
                    - string
                prepaid:
                  type:
                    - "null"
                    - string
                product_id:
                  type:
                    - "null"
                    - string
                token:
                  type:
                    - "null"
                    - string
                unique_number_identifier:
                  type:
                    - "null"
                    - string
                updated_at:
                  type:
                    - "null"
                    - string
                  format: date-time
      paypal_accounts:
        type:
          - "null"
          - array
        items:
          type: object
          properties:
            billing_address:
              oneOf:
                - type: "null"
                - type: object
                  properties:
                    company:
                      type:
                        - "null"
                        - string
                    country_code_alpha2:
                      type:
                        - "null"
                        - string
                    country_code_alpha3:
                      type:
                        - "null"
                        - string
                    country_code_numeric:
                      type:
                        - "null"
                        - string
                    country_name:
                      type:
                        - "null"
                        - string
                    created_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    customer_id:
                      type:
                        - "null"
                        - string
                    extended_address:
                      type:
                        - "null"
                        - string
                    first_name:
                      type:
                        - "null"
                        - string
                    id:
                      type:
                        - "null"
                        - string
                    last_name:
                      type:
                        - "null"
                        - string
                    locality:
                      type:
                        - "null"
                        - string
                    postal_code:
                      type:
                        - "null"
                        - string
                    region:
                      type:
                        - "null"
                        - string
                    street_address:
                      type:
                        - "null"
                        - string
                    updated_at:
                      type:
                        - "null"
                        - string
                      format: date-time
            billing_agreement_id:
              type:
                - "null"
                - string
            bin:
              type:
                - "null"
                - string
            card_type:
              type:
                - "null"
                - string
            cardholder_name:
              type:
                - "null"
                - string
            commercial:
              type:
                - "null"
                - string
            country_of_issuance:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
              format: date-time
            customer_id:
              type:
                - "null"
                - string
            customer_location:
              type:
                - "null"
                - string
            debit:
              type:
                - "null"
                - string
            default:
              type:
                - "null"
                - boolean
            durbin_regulated:
              type:
                - "null"
                - string
            email:
              type:
                - "null"
                - string
            expiration_date:
              type:
                - "null"
                - string
            expiration_month:
              type:
                - "null"
                - string
            expiration_year:
              type:
                - "null"
                - string
            expired:
              type:
                - "null"
                - boolean
            healthcare:
              type:
                - "null"
                - string
            image_url:
              type:
                - "null"
                - string
            issuing_bank:
              type:
                - "null"
                - string
            last_4:
              type:
                - "null"
                - string
            masked_number:
              type:
                - "null"
                - string
            payer_id:
              type:
                - "null"
                - string
            payroll:
              type:
                - "null"
                - string
            prepaid:
              type:
                - "null"
                - string
            product_id:
              type:
                - "null"
                - string
            revoked_at:
              type:
                - "null"
                - string
              format: date-time
            token:
              type:
                - "null"
                - string
            unique_number_identifier:
              type:
                - "null"
                - string
            updated_at:
              type:
                - "null"
                - string
              format: date-time
      phone:
        type:
          - "null"
          - string
      samsung_pay_cards:
        type:
          - "null"
          - array
        items:
          type: object
          properties:
            billing_address:
              oneOf:
                - type: "null"
                - type: object
                  properties:
                    company:
                      type:
                        - "null"
                        - string
                    country_code_alpha2:
                      type:
                        - "null"
                        - string
                    country_code_alpha3:
                      type:
                        - "null"
                        - string
                    country_code_numeric:
                      type:
                        - "null"
                        - string
                    country_name:
                      type:
                        - "null"
                        - string
                    created_at:
                      type:
                        - "null"
                        - string
                      format: date-time
                    customer_id:
                      type:
                        - "null"
                        - string
                    extended_address:
                      type:
                        - "null"
                        - string
                    first_name:
                      type:
                        - "null"
                        - string
                    id:
                      type:
                        - "null"
                        - string
                    last_name:
                      type:
                        - "null"
                        - string
                    locality:
                      type:
                        - "null"
                        - string
                    postal_code:
                      type:
                        - "null"
                        - string
                    region:
                      type:
                        - "null"
                        - string
                    street_address:
                      type:
                        - "null"
                        - string
                    updated_at:
                      type:
                        - "null"
                        - string
                      format: date-time
            bin:
              type:
                - "null"
                - string
            card_type:
              type:
                - "null"
                - string
            cardholder_name:
              type:
                - "null"
                - string
            commercial:
              type:
                - "null"
                - string
            country_of_issuance:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
              format: date-time
            customer_id:
              type:
                - "null"
                - string
            customer_location:
              type:
                - "null"
                - string
            debit:
              type:
                - "null"
                - string
            default:
              type:
                - "null"
                - boolean
            durbin_regulated:
              type:
                - "null"
                - string
            expiration_date:
              type:
                - "null"
                - string
            expiration_month:
              type:
                - "null"
                - string
            expiration_year:
              type:
                - "null"
                - string
            expired:
              type:
                - "null"
                - boolean
            healthcare:
              type:
                - "null"
                - string
            image_url:
              type:
                - "null"
                - string
            issuing_bank:
              type:
                - "null"
                - string
            last_4:
              type:
                - "null"
                - string
            masked_number:
              type:
                - "null"
                - string
            payroll:
              type:
                - "null"
                - string
            prepaid:
[...]
