version: 6.48.15

type: DeclarativeSource

description: |-
  Website: https://app.frontapp.com/
  Auth page: https://dev.frontapp.com/docs/create-and-revoke-api-tokens
  API Docs: https://dev.frontapp.com/reference/introduction

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  streams:
    events:
      type: DeclarativeStream
      name: events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: events
          http_method: GET
          request_parameters:
            limit: "{{ config['page_limit'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: emitted_at
        cursor_datetime_formats:
          - "%s"
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/events"
    inboxes:
      type: DeclarativeStream
      name: inboxes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: inboxes
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/inboxes"
    inboxes_channels:
      type: DeclarativeStream
      name: inboxes_channels
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: inboxes/{{ stream_partition.inbox_id }}/channels
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: inbox_id
              stream:
                $ref: "#/definitions/streams/inboxes"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/inboxes_channels"
    inboxes_conversations:
      type: DeclarativeStream
      name: inboxes_conversations
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: inboxes/{{ stream_partition.inbox_id }}/conversations
          http_method: GET
          request_parameters:
            limit: "{{ config['page_limit'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: inbox_id
              stream:
                $ref: "#/definitions/streams/inboxes"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%ms"
          - "%s"
        datetime_format: "%ms"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/inboxes_conversations"
    inboxes_teammates:
      type: DeclarativeStream
      name: inboxes_teammates
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: inboxes/{{ stream_partition.inbox_id }}/teammates
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: inbox_id
              stream:
                $ref: "#/definitions/streams/inboxes"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/inboxes_teammates"
    conversations:
      type: DeclarativeStream
      name: conversations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: conversations
          http_method: GET
          request_parameters:
            limit: "{{ config['page_limit'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%ms"
          - "%s"
        datetime_format: "%ms"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/conversations"
    conversations_events:
      type: DeclarativeStream
      name: conversations_events
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: conversations/{{ stream_partition.conversation_id }}/events
          http_method: GET
          request_parameters:
            limit: "{{ config['page_limit'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: conversation_id
              stream:
                $ref: "#/definitions/streams/conversations"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: emitted_at
        cursor_datetime_formats:
          - "%s"
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/conversations_events"
    conversations_followers:
      type: DeclarativeStream
      name: conversations_followers
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: conversations/{{ stream_partition.conversation_id }}/followers
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: conversation_id
              stream:
                $ref: "#/definitions/streams/conversations"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/conversations_followers"
    conversations_inboxes:
      type: DeclarativeStream
      name: conversations_inboxes
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: conversations/{{ stream_partition.conversation_id }}/inboxes
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: conversation_id
              stream:
                $ref: "#/definitions/streams/conversations"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/conversations_inboxes"
    conversations_messages:
      type: DeclarativeStream
      name: conversations_messages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: conversations/{{ stream_partition.conversation_id }}/messages
          http_method: GET
          request_parameters:
            limit: "{{ config['page_limit'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: conversation_id
              stream:
                $ref: "#/definitions/streams/conversations"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%ms"
          - "%s"
        datetime_format: "%ms"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/conversations_messages"
    links:
      type: DeclarativeStream
      name: links
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: links
          http_method: GET
          request_parameters:
            limit: "{{ config['page_limit'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/links"
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: accounts
          http_method: GET
          request_parameters:
            limit: "{{ config['page_limit'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"
    accounts_contacts:
      type: DeclarativeStream
      name: accounts_contacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: accounts/{{ stream_partition.account_id }}/contacts
          http_method: GET
          request_parameters:
            limit: "{{ config['page_limit'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: account_id
              stream:
                $ref: "#/definitions/streams/accounts"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts_contacts"
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: contacts
          http_method: GET
          request_parameters:
            limit: "{{ config['page_limit'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    channels:
      type: DeclarativeStream
      name: channels
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: channels
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/channels"
    company_tags:
      type: DeclarativeStream
      name: company_tags
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: company/tags
          http_method: GET
          request_parameters:
            limit: "{{ config['page_limit'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: teammate_id
              stream:
                $ref: "#/definitions/streams/teammates"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/company_tags"
    teammates:
      type: DeclarativeStream
      name: teammates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: teammates
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teammates"
    tags:
      type: DeclarativeStream
      name: tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: tags
          http_method: GET
          request_parameters:
            limit: "{{ config['page_limit'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    tags_children:
      type: DeclarativeStream
      name: tags_children
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: tags/{{ stream_partition.tag_id }}/children
          http_method: GET
          request_parameters:
            limit: "{{ config['page_limit'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: tag_id
              stream:
                $ref: "#/definitions/streams/tags"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags_children"
    teammates_tags:
      type: DeclarativeStream
      name: teammates_tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: teammates/{{ stream_partition.teammate_id }}/tags
          http_method: GET
          request_parameters:
            limit: "{{ config['page_limit'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: teammate_id
              stream:
                $ref: "#/definitions/streams/teammates"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teammates_tags"
    teams:
      type: DeclarativeStream
      name: teams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: teams
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    teams_tags:
      type: DeclarativeStream
      name: teams_tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: teams/{{ stream_partition.team_id }}/tags
          http_method: GET
          request_parameters:
            limit: "{{ config['page_limit'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: team_id
              stream:
                $ref: "#/definitions/streams/teams"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams_tags"
    contact_groups:
      type: DeclarativeStream
      name: contact_groups
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: contact_groups
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contact_groups"
    conversations_drafts:
      type: DeclarativeStream
      name: conversations_drafts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: conversations/{{ stream_partition.conversation_id }}/drafts
          http_method: GET
          request_parameters:
            limit: "{{ config['page_limit'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: conversation_id
              stream:
                $ref: "#/definitions/streams/conversations"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%s"
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/conversations_drafts"
    contacts_notes:
      type: DeclarativeStream
      name: contacts_notes
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: contacts/{{ stream_partition.contact_id }}/notes
          http_method: GET
          request_parameters:
            limit: "{{ config['page_limit'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: contact_id
              stream:
                $ref: "#/definitions/streams/contacts"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%s"
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts_notes"
    teammates_contact_groups:
      type: DeclarativeStream
      name: teammates_contact_groups
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: teammates/{{ stream_partition.teammate_id }}/contact_groups
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: teammate_id
              stream:
                $ref: "#/definitions/streams/teammates"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teammates_contact_groups"
    teams_contact_groups:
      type: DeclarativeStream
      name: teams_contact_groups
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: teams/{{ stream_partition.team_id }}/contact_groups
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: team_id
              stream:
                $ref: "#/definitions/streams/teams"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams_contact_groups"
    knowledge_bases:
      type: DeclarativeStream
      name: knowledge_bases
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: knowledge_bases
          http_method: GET
          request_parameters:
            limit: "{{ config['page_limit'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/knowledge_bases"
    knowledge_bases_articles:
      type: DeclarativeStream
      name: knowledge_bases_articles
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: knowledge_bases/{{ stream_partition.knowledge_base_id }}/articles
          http_method: GET
          request_parameters:
            limit: "{{ config['page_limit'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: knowledge_base_id
              stream:
                $ref: "#/definitions/streams/knowledge_bases"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/knowledge_bases_articles"
    knowledge_bases_categories:
      type: DeclarativeStream
      name: knowledge_bases_categories
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: knowledge_bases/{{ stream_partition.knowledge_base_id }}/categories
          http_method: GET
          request_parameters:
            limit: "{{ config['page_limit'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: knowledge_base_id
              stream:
                $ref: "#/definitions/streams/knowledge_bases"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/knowledge_bases_categories"
    message_template_folders:
      type: DeclarativeStream
      name: message_template_folders
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: message_template_folders
          http_method: GET
          request_parameters:
            limit: "{{ config['page_limit'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/message_template_folders"
    teams_signatures:
      type: DeclarativeStream
      name: teams_signatures
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: teams/{{ stream_partition.team_id }}/signatures
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: team_id
              stream:
                $ref: "#/definitions/streams/teams"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams_signatures"
    message_templates:
      type: DeclarativeStream
      name: message_templates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: message_templates
          http_method: GET
          request_parameters:
            limit: "{{ config['page_limit'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/message_templates"
    teammates_message_templates:
      type: DeclarativeStream
      name: teammates_message_templates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: teammates/{{ stream_partition.teammate_id }}/message_templates
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: teammate_id
              stream:
                $ref: "#/definitions/streams/teammates"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teammates_message_templates"
    teams_message_templates:
      type: DeclarativeStream
      name: teams_message_templates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: teams/{{ stream_partition.team_id }}/message_templates
          http_method: GET
          request_parameters:
            limit: "{{ config['page_limit'] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                max_retries: 3
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: retry-after
                response_filters:
                  - type: HttpResponseFilter
                    action: RATE_LIMITED
                    http_codes:
                      - 429
                    error_message: Rate limit hit
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - _results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"_pagination\", {}).get(\"next\", {}) }}"
            stop_condition: "{{ not response.get('_pagination', {}).get('next') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: team_id
              stream:
                $ref: "#/definitions/streams/teams"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
          - "%ms"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams_message_templates"
  base_requester:
    type: HttpRequester
    url_base: https://api2.frontapp.com/
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/events"
  - $ref: "#/definitions/streams/inboxes"
  - $ref: "#/definitions/streams/inboxes_channels"
  - $ref: "#/definitions/streams/inboxes_conversations"
  - $ref: "#/definitions/streams/inboxes_teammates"
  - $ref: "#/definitions/streams/conversations"
  - $ref: "#/definitions/streams/conversations_events"
  - $ref: "#/definitions/streams/conversations_followers"
  - $ref: "#/definitions/streams/conversations_inboxes"
  - $ref: "#/definitions/streams/conversations_messages"
  - $ref: "#/definitions/streams/links"
  - $ref: "#/definitions/streams/accounts"
  - $ref: "#/definitions/streams/accounts_contacts"
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/channels"
  - $ref: "#/definitions/streams/company_tags"
  - $ref: "#/definitions/streams/teammates"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/tags_children"
  - $ref: "#/definitions/streams/teammates_tags"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/teams_tags"
  - $ref: "#/definitions/streams/contact_groups"
  - $ref: "#/definitions/streams/conversations_drafts"
  - $ref: "#/definitions/streams/contacts_notes"
  - $ref: "#/definitions/streams/teammates_contact_groups"
  - $ref: "#/definitions/streams/teams_contact_groups"
  - $ref: "#/definitions/streams/knowledge_bases"
  - $ref: "#/definitions/streams/knowledge_bases_articles"
  - $ref: "#/definitions/streams/knowledge_bases_categories"
  - $ref: "#/definitions/streams/message_template_folders"
  - $ref: "#/definitions/streams/teams_signatures"
  - $ref: "#/definitions/streams/message_templates"
  - $ref: "#/definitions/streams/teammates_message_templates"
  - $ref: "#/definitions/streams/teams_message_templates"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
      start_date:
        type: string
        order: 1
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      page_limit:
        type: string
        description: Page limit for the responses
        order: 2
        title: Page limit
        default: "50"
    additionalProperties: true

metadata:
  autoImportSchema:
    events: true
    inboxes: true
    inboxes_channels: true
    inboxes_conversations: true
    inboxes_teammates: true
    conversations: true
    conversations_events: true
    conversations_followers: true
    conversations_inboxes: true
    conversations_messages: true
    links: true
    accounts: true
    accounts_contacts: true
    contacts: true
    channels: true
    company_tags: true
    teammates: true
    tags: true
    tags_children: true
    teammates_tags: true
    teams: true
    teams_tags: true
    contact_groups: true
    conversations_drafts: true
    contacts_notes: true
    teammates_contact_groups: true
    teams_contact_groups: true
    knowledge_bases: true
    knowledge_bases_articles: true
    knowledge_bases_categories: true
    message_template_folders: true
    teams_signatures: true
    message_templates: true
    teammates_message_templates: true
    teams_message_templates: true
  testedStreams:
    events:
      streamHash: 6e63a1ea9e7192f26b3aaa4bb38fdac9f366f43b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    inboxes:
      streamHash: 78a36da997627cab599a2d3bcb1d7e69bf8401fc
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    inboxes_channels:
      streamHash: 8c568163fab5cfc0f14c4fd754075f8976b4e9ea
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    inboxes_conversations:
      streamHash: 144f5a1df11a22cc1d13820a1a8c2a681d93efa2
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    inboxes_teammates:
      streamHash: 43830a098df5432aa1b7d2e2167fd5617a6580d4
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    conversations:
      streamHash: 1b6f4cc372a14748e72e21c4c5e1272e79fec3d6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    conversations_events:
      streamHash: 437a66ee5c37f431a07eb02110eeb05793c321e7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    conversations_followers:
      streamHash: eef2832dcb4ea3caa6b4794897bd89e0fa77050e
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    conversations_inboxes:
      streamHash: 2c378cbe23f93900b4c66c3410775143836694f6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    conversations_messages:
      streamHash: b804efee1c016ad7807e9aa437891463880525ae
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    links:
      streamHash: 02fbf160dfdacc853917197c50bada7065d24e51
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    accounts:
      streamHash: b6fdc698c74bf6c21b9ddbb84f39d996d3e740c4
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    accounts_contacts:
      streamHash: 0751089f841fa991f1e212751058f093bae8f3d8
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    contacts:
      streamHash: ba16ba90bd99a670836d2e17d7ecef4bfbbb0977
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    channels:
      streamHash: 6e77603042f1a16a3ad1656a97a6180b54f16d10
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    company_tags:
      streamHash: 249b09c667297a29669af07a6dea03ccfab7a6cc
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teammates:
      streamHash: 7841d66e901f1c34561e8835e26c750ded2dd3af
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tags:
      streamHash: c12f91d290c4c204f014a8973f9c5a4a68828342
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tags_children:
      streamHash: dad4126593067c4498ee695d79c984616499f6fb
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teammates_tags:
      streamHash: 998f28e3200b6eb2490f6773b3e0fb9d82fe303a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teams:
      streamHash: 164c79d79f54571a0dcf6edd94c10fa949fb5fa6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teams_tags:
      streamHash: 6831129fe7c3a21dd9d386e65d0b6b28e45a426b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    contact_groups:
      streamHash: 2595249fadcb5b15a3798782b9ffad405241b55b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    conversations_drafts:
      streamHash: c97976a6cf71b174addc26f8bc8ddf2b8fbc172d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    contacts_notes:
      streamHash: 13bdc8b7de5a40896f88f6c385a18de57363a21b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teammates_contact_groups:
      streamHash: 7201729b30714c6af9c1b57151c95e8da6df6b74
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teams_contact_groups:
      streamHash: 49629ffaeb74e2aae80717f3b9c1c066af2a008c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    knowledge_bases:
      streamHash: bbbfcae3794a1e9c549e64dea9bf4446a8bbbb71
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    knowledge_bases_articles:
      streamHash: 63cb2edbec971bc7a0a5c706b6191e82bbade33b
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    knowledge_bases_categories:
      streamHash: ee03bd08e41c3e44b429f3ca6322c1f21630c997
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    message_template_folders:
      streamHash: f4453c37b68cf095b7a339516e81f0f785b3afd7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teams_signatures:
      streamHash: 6029e3e689599d81407e8c82f7aec77f5d49b3ce
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    message_templates:
      streamHash: 1360c5a425c747cfc2839095af044182fd5018fd
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teammates_message_templates:
      streamHash: 42983b6ebca34ac8ef9a94744250d4e753df98a8
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teams_message_templates:
      streamHash: 37a44649af611172d56a7ed19a224985cced209a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  events:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      _links:
        type:
          - object
          - "null"
        properties:
          self:
            type:
              - string
              - "null"
      conversation:
        type:
          - object
          - "null"
        properties:
          metadata:
            type:
              - object
              - "null"
          _links:
            type:
              - object
              - "null"
            properties:
              related:
                type:
                  - object
                  - "null"
                properties:
                  comments:
                    type:
                      - string
                      - "null"
                  events:
                    type:
                      - string
                      - "null"
                  followers:
                    type:
                      - string
                      - "null"
                  inboxes:
                    type:
                      - string
                      - "null"
                  last_message:
                    type:
                      - string
                      - "null"
                  messages:
                    type:
                      - string
                      - "null"
              self:
                type:
                  - string
                  - "null"
          assignee:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              _links:
                type:
                  - object
                  - "null"
                properties:
                  related:
                    type:
                      - object
                      - "null"
                    properties:
                      conversations:
                        type:
                          - string
                          - "null"
                      inboxes:
                        type:
                          - string
                          - "null"
                  self:
                    type:
                      - string
                      - "null"
              custom_fields:
                type:
                  - object
                  - "null"
                properties:
                  Manager:
                    type:
                      - string
                      - "null"
              email:
                type:
                  - string
                  - "null"
              first_name:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              is_admin:
                type:
                  - boolean
                  - "null"
              is_available:
                type:
                  - boolean
                  - "null"
              is_blocked:
                type:
                  - boolean
                  - "null"
              last_name:
                type:
                  - string
                  - "null"
              username:
                type:
                  - string
                  - "null"
          created_at:
            type:
              - number
              - "null"
          custom_fields:
            type:
              - object
              - "null"
          id:
            type:
              - string
              - "null"
          is_private:
            type:
              - boolean
              - "null"
          links:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                _links:
                  type:
                    - object
                    - "null"
                  properties:
                    self:
                      type:
                        - string
                        - "null"
                custom_fields:
                  type:
                    - object
                    - "null"
                external_url:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
          recipient:
            type:
              - object
              - "null"
            properties:
              _links:
                type:
                  - object
                  - "null"
                properties:
                  related:
                    type:
                      - object
                      - "null"
                    properties:
                      contact:
                        type:
                          - string
                          - "null"
              handle:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              role:
                type:
                  - string
                  - "null"
          scheduled_reminders:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                _links:
                  type:
                    - object
                    - "null"
                  properties:
                    owner:
                      type:
                        - string
                        - "null"
                    related:
                      type:
                        - object
                        - "null"
                      properties:
                        owner:
                          type:
                            - string
                            - "null"
                created_at:
                  type:
                    - number
                    - "null"
                scheduled_at:
                  type:
                    - number
                    - "null"
                updated_at:
                  type:
                    - number
                    - "null"
          status:
            type:
              - string
              - "null"
          status_category:
            type:
              - string
              - "null"
          status_id:
            type:
              - string
              - "null"
          subject:
            type:
              - string
              - "null"
          tags:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                description:
                  type:
                    - string
                    - "null"
                _links:
                  type:
                    - object
                    - "null"
                  properties:
                    related:
                      type:
                        - object
                        - "null"
                      properties:
                        children:
                          type:
                            - string
                            - "null"
                        conversations:
                          type:
                            - string
                            - "null"
                        owner:
                          type:
                            - string
                            - "null"
                        parent_tag:
                          type:
                            - string
                            - "null"
                    self:
                      type:
                        - string
                        - "null"
                created_at:
                  type:
                    - number
                    - "null"
                highlight:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                is_private:
                  type:
                    - boolean
                    - "null"
                is_visible_in_conversation_lists:
                  type:
                    - boolean
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                updated_at:
                  type:
                    - number
                    - "null"
          ticket_ids:
            type:
              - array
              - "null"
          updated_at:
            type:
              - number
              - "null"
          waiting_since:
            type:
              - number
              - "null"
      emitted_at:
        type: number
      id:
        type: string
      source:
        type:
          - object
          - "null"
        properties:
          _meta:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
          data:
            anyOf:
              - type: object
                properties:
                  type:
                    type: string
                  _links:
                    type: object
                    properties:
                      owner:
                        type: string
                      related:
                        type: object
                        properties:
                          conversations:
                            type: string
                          inboxes:
                            type: string
                          owner:
                            type: string
                      self:
                        type: string
                  actions:
                    type: array
                    items:
                      type: string
                  created_at:
                    type: number
                  custom_fields:
                    type: object
                  email:
                    type: string
                  first_name:
                    type: string
                  id:
                    type: string
                  is_admin:
                    type: boolean
                  is_available:
                    type: boolean
                  is_blocked:
                    type: boolean
                  is_private:
                    type: boolean
                  last_name:
                    type: string
                  name:
                    type: string
                  scheduled_at:
                    type: number
                  updated_at:
                    type: number
                  username:
                    type: string
              - type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    _links:
                      type: object
                      properties:
                        related:
                          type: object
                          properties:
                            channels:
                              type: string
                            conversations:
                              type: string
                            owner:
                              type: string
                            teammates:
                              type: string
                        self:
                          type: string
                    address:
                      type: string
                    custom_fields:
                      type: object
                    id:
                      type: string
                    is_private:
                      type: boolean
                    is_public:
                      type: boolean
                    name:
                      type: string
                    send_as:
                      type: string
      target:
        type:
          - object
          - "null"
        properties:
          _meta:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
          data:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
              metadata:
                type:
                  - object
                  - "null"
              _links:
                type:
                  - object
                  - "null"
                properties:
                  related:
                    type:
                      - object
                      - "null"
                    properties:
                      children:
                        type:
                          - string
                          - "null"
                      conversation:
                        type:
                          - string
                          - "null"
                      conversations:
                        type:
                          - string
                          - "null"
                      inboxes:
                        type:
                          - string
                          - "null"
                      mentions:
                        type:
                          - string
                          - "null"
                      message_replied_to:
                        type:
                          - string
                          - "null"
                      message_seen:
                        type:
                          - string
                          - "null"
                      owner:
                        type:
                          - string
                          - "null"
                      parent_tag:
                        type:
                          - string
                          - "null"
                  self:
                    type:
                      - string
                      - "null"
              attachments:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    metadata:
                      type:
                        - object
                        - "null"
                      properties:
                        cid:
                          type:
                            - string
                            - "null"
                        is_inline:
                          type:
                            - boolean
                            - "null"
                    content_type:
                      type:
                        - string
                        - "null"
                    filename:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    size:
                      type:
                        - number
                        - "null"
                    url:
                      type:
                        - string
                        - "null"
              author:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  _links:
                    type:
                      - object
                      - "null"
                    properties:
                      related:
                        type:
                          - object
                          - "null"
                        properties:
                          conversations:
                            type:
                              - string
                              - "null"
                          inboxes:
                            type:
                              - string
                              - "null"
                      self:
                        type:
                          - string
                          - "null"
                  custom_fields:
                    type:
                      - object
                      - "null"
                  email:
                    type:
                      - string
                      - "null"
                  first_name:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  is_admin:
                    type:
                      - boolean
[...]
