@use "scss/colors";
@use "scss/variables";

.formCard {
  padding: variables.$spacing-xl;
}

.editControls {
  border-top: variables.$border-thin solid colors.$grey-100;
  margin: 0 -#{variables.$spacing-xl};
  padding: variables.$spacing-xl variables.$spacing-xl 0;
}
