version: 4.3.0
type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  base_requester:
    type: HttpRequester
    url_base: https://graph.microsoft.com/v1.0/
    http_method: GET
    authenticator:
      type: OAuthAuthenticator
      client_id: "{{ config['credentials']['client_id'] }}"
      client_secret: "{{ config['credentials']['client_secret'] }}"
      refresh_request_body:
        scope: https://graph.microsoft.com/.default
      token_refresh_endpoint: >-
        https://login.microsoftonline.com/{{ config['credentials']['tenant_id']
        }}/oauth2/v2.0/token
      grant_type: client_credentials
      scopes: []
      access_token_name: access_token

  odata_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestPath
    pagination_strategy:
      type: CursorPagination
      cursor_value: '{{ response.get("@odata.nextLink", {}) }}'
      stop_condition: '{{ not response.get("@odata.nextLink", {}) }}'

  odata_record_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - value

  permission_error_handler:
    type: CompositeErrorHandler
    error_handlers:
      - type: DefaultErrorHandler
        response_filters:
          - type: HttpResponseFilter
            action: IGNORE
            http_codes:
              - 403
            error_message: Insufficient permissions for this resource
          - type: HttpResponseFilter
            action: IGNORE
            http_codes:
              - 404
            error_message: Resource not found

  streams:
    # =========================================================================
    # Tier 1 — Primary data an agent would search
    # =========================================================================

    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: http://json-schema.org/draft-07/schema#
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            displayName:
              type:
                - "null"
                - string
            givenName:
              type:
                - "null"
                - string
            surname:
              type:
                - "null"
                - string
            mail:
              type:
                - "null"
                - string
            userPrincipalName:
              type:
                - "null"
                - string
            jobTitle:
              type:
                - "null"
                - string
            officeLocation:
              type:
                - "null"
                - string
            mobilePhone:
              type:
                - "null"
                - string
            businessPhones:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - string
            preferredLanguage:
              type:
                - "null"
                - string
            department:
              type:
                - "null"
                - string
            accountEnabled:
              type:
                - "null"
                - boolean
            createdDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: users?$top=100
        record_selector:
          $ref: "#/definitions/odata_record_selector"
        paginator:
          $ref: "#/definitions/odata_paginator"

    teams:
      type: DeclarativeStream
      name: teams
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: http://json-schema.org/draft-07/schema#
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            displayName:
              type:
                - "null"
                - string
            description:
              type:
                - "null"
                - string
            internalId:
              type:
                - "null"
                - string
            classification:
              type:
                - "null"
                - string
            specialization:
              type:
                - "null"
                - string
            visibility:
              type:
                - "null"
                - string
            webUrl:
              type:
                - "null"
                - string
            isArchived:
              type:
                - "null"
                - boolean
            isMembershipLimitedToOwners:
              type:
                - "null"
                - boolean
            tenantId:
              type:
                - "null"
                - string
            createdDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: teams?$top=100
        record_selector:
          $ref: "#/definitions/odata_record_selector"
        paginator:
          $ref: "#/definitions/odata_paginator"

    channels:
      type: DeclarativeStream
      name: channels
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: http://json-schema.org/draft-07/schema#
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            displayName:
              type:
                - "null"
                - string
            description:
              type:
                - "null"
                - string
            email:
              type:
                - "null"
                - string
            webUrl:
              type:
                - "null"
                - string
            membershipType:
              type:
                - "null"
                - string
            createdDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            isFavoriteByDefault:
              type:
                - "null"
                - boolean
            tenantId:
              type:
                - "null"
                - string
            teamId:
              type:
                - "null"
                - string
              description: Injected from parent teams stream partition.
      transformations:
        - type: AddFields
          fields:
            - path:
                - teamId
              value: "{{ stream_partition.team_id }}"
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: teams/{{ stream_partition.team_id }}/channels
          error_handler:
            $ref: "#/definitions/permission_error_handler"
        record_selector:
          $ref: "#/definitions/odata_record_selector"
        paginator:
          type: NoPagination
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: team_id
                stream:
                  $ref: "#/definitions/streams/teams"

    channel_messages:
      type: DeclarativeStream
      name: channel_messages
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: http://json-schema.org/draft-07/schema#
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            replyToId:
              type:
                - "null"
                - string
            etag:
              type:
                - "null"
                - string
            messageType:
              type:
                - "null"
                - string
            createdDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            lastModifiedDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            lastEditedDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            deletedDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            subject:
              type:
                - "null"
                - string
            summary:
              type:
                - "null"
                - string
            importance:
              type:
                - "null"
                - string
            locale:
              type:
                - "null"
                - string
            webUrl:
              type:
                - "null"
                - string
            from:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                application:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                device:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                user:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                  properties:
                    id:
                      type:
                        - "null"
                        - string
                    displayName:
                      type:
                        - "null"
                        - string
                    userIdentityType:
                      type:
                        - "null"
                        - string
            body:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                contentType:
                  type:
                    - "null"
                    - string
                content:
                  type:
                    - "null"
                    - string
            attachments:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                additionalProperties: true
            mentions:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                additionalProperties: true
            reactions:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                additionalProperties: true
            channelIdentity:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                teamId:
                  type:
                    - "null"
                    - string
                channelId:
                  type:
                    - "null"
                    - string
            teamId:
              type:
                - "null"
                - string
              description: Injected from parent channels stream.
            channelId:
              type:
                - "null"
                - string
              description: Injected from parent channels stream.
      transformations:
        - type: AddFields
          fields:
            - path:
                - teamId
              value: "{{ stream_slice['extra_fields']['teamId'] }}"
            - path:
                - channelId
              value: "{{ stream_partition.channel_id }}"
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            teams/{{ stream_slice['extra_fields']['teamId'] }}/channels/{{
            stream_partition.channel_id }}/messages?$top=50
          error_handler:
            $ref: "#/definitions/permission_error_handler"
        record_selector:
          $ref: "#/definitions/odata_record_selector"
        paginator:
          $ref: "#/definitions/odata_paginator"
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: channel_id
                extra_fields:
                  - - teamId
                stream:
                  $ref: "#/definitions/streams/channels"

    channel_message_replies:
      type: DeclarativeStream
      name: channel_message_replies
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: http://json-schema.org/draft-07/schema#
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            replyToId:
              type:
                - "null"
                - string
            etag:
              type:
                - "null"
                - string
            messageType:
              type:
                - "null"
                - string
            createdDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            lastModifiedDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            lastEditedDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            deletedDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            subject:
              type:
                - "null"
                - string
            summary:
              type:
                - "null"
                - string
            importance:
              type:
                - "null"
                - string
            locale:
              type:
                - "null"
                - string
            webUrl:
              type:
                - "null"
                - string
            from:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                application:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                device:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                user:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                  properties:
                    id:
                      type:
                        - "null"
                        - string
                    displayName:
                      type:
                        - "null"
                        - string
                    userIdentityType:
                      type:
                        - "null"
                        - string
            body:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                contentType:
                  type:
                    - "null"
                    - string
                content:
                  type:
                    - "null"
                    - string
            attachments:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                additionalProperties: true
            mentions:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                additionalProperties: true
            reactions:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                additionalProperties: true
            teamId:
              type:
                - "null"
                - string
              description: Injected from parent channel_messages stream.
            channelId:
              type:
                - "null"
                - string
              description: Injected from parent channel_messages stream.
            parentMessageId:
              type:
                - "null"
                - string
              description: Injected from parent channel_messages stream.
      transformations:
        - type: AddFields
          fields:
            - path:
                - teamId
              value: "{{ stream_slice['extra_fields']['teamId'] }}"
            - path:
                - channelId
              value: "{{ stream_slice['extra_fields']['channelId'] }}"
            - path:
                - parentMessageId
              value: "{{ stream_partition.message_id }}"
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            teams/{{ stream_slice['extra_fields']['teamId'] }}/channels/{{
            stream_slice['extra_fields']['channelId'] }}/messages/{{
            stream_partition.message_id }}/replies?$top=50
          error_handler:
            $ref: "#/definitions/permission_error_handler"
        record_selector:
          $ref: "#/definitions/odata_record_selector"
        paginator:
          $ref: "#/definitions/odata_paginator"
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: message_id
                extra_fields:
                  - - teamId
                  - - channelId
                stream:
                  $ref: "#/definitions/streams/channel_messages"

    chats:
      type: DeclarativeStream
      name: chats
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: http://json-schema.org/draft-07/schema#
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            topic:
              type:
                - "null"
                - string
            chatType:
              type:
                - "null"
                - string
            createdDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            lastUpdatedDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            webUrl:
              type:
                - "null"
                - string
            tenantId:
              type:
                - "null"
                - string
            onlineMeetingInfo:
              type:
                - "null"
                - object
              additionalProperties: true
            chatViewpoint:
              type:
                - "null"
                - object
              additionalProperties: true
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: chats?$top=50
          error_handler:
            $ref: "#/definitions/permission_error_handler"
        record_selector:
          $ref: "#/definitions/odata_record_selector"
        paginator:
          $ref: "#/definitions/odata_paginator"

    chat_messages:
      type: DeclarativeStream
      name: chat_messages
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: http://json-schema.org/draft-07/schema#
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            replyToId:
              type:
                - "null"
                - string
            etag:
              type:
                - "null"
                - string
            messageType:
              type:
                - "null"
                - string
            createdDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            lastModifiedDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            lastEditedDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            deletedDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            subject:
              type:
                - "null"
                - string
            summary:
              type:
                - "null"
                - string
            importance:
              type:
                - "null"
                - string
            locale:
              type:
                - "null"
                - string
            webUrl:
              type:
                - "null"
                - string
            from:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                application:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                device:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                user:
                  type:
                    - "null"
                    - object
                  additionalProperties: true
                  properties:
                    id:
                      type:
                        - "null"
                        - string
                    displayName:
                      type:
                        - "null"
                        - string
                    userIdentityType:
                      type:
                        - "null"
                        - string
            body:
              type:
                - "null"
                - object
              additionalProperties: true
              properties:
                contentType:
                  type:
                    - "null"
                    - string
                content:
                  type:
                    - "null"
                    - string
            attachments:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                additionalProperties: true
            mentions:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                additionalProperties: true
            reactions:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                additionalProperties: true
            chatId:
              type:
                - "null"
                - string
              description: Injected from parent chats stream.
      transformations:
        - type: AddFields
          fields:
            - path:
                - chatId
              value: "{{ stream_partition.chat_id }}"
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: chats/{{ stream_partition.chat_id }}/messages?$top=50
          error_handler:
            $ref: "#/definitions/permission_error_handler"
        record_selector:
          $ref: "#/definitions/odata_record_selector"
        paginator:
          $ref: "#/definitions/odata_paginator"
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: chat_id
                stream:
                  $ref: "#/definitions/streams/chats"

    team_members:
      type: DeclarativeStream
      name: team_members
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: http://json-schema.org/draft-07/schema#
          type: object
          additionalProperties: true
          properties:
            "@odata.type":
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            displayName:
              type:
                - "null"
                - string
            userId:
              type:
                - "null"
                - string
            email:
              type:
                - "null"
                - string
            tenantId:
              type:
                - "null"
                - string
            roles:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - string
            visibleHistoryStartDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            teamId:
              type:
                - "null"
                - string
              description: Injected from parent teams stream partition.
      transformations:
        - type: AddFields
          fields:
            - path:
                - teamId
              value: "{{ stream_partition.team_id }}"
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: teams/{{ stream_partition.team_id }}/members?$top=100
          error_handler:
            $ref: "#/definitions/permission_error_handler"
        record_selector:
          $ref: "#/definitions/odata_record_selector"
        paginator:
          $ref: "#/definitions/odata_paginator"
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: team_id
                stream:
                  $ref: "#/definitions/streams/teams"

    # =========================================================================
    # Tier 2 — Good to include, enriches search results
    # =========================================================================

    channel_members:
      type: DeclarativeStream
      name: channel_members
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: http://json-schema.org/draft-07/schema#
          type: object
          additionalProperties: true
          properties:
            "@odata.type":
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            displayName:
              type:
                - "null"
                - string
            userId:
              type:
                - "null"
                - string
            email:
              type:
                - "null"
                - string
            tenantId:
              type:
                - "null"
                - string
            roles:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - string
            visibleHistoryStartDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            teamId:
              type:
                - "null"
                - string
              description: Injected from parent channels stream.
            channelId:
              type:
                - "null"
                - string
              description: Injected from parent channels stream.
      transformations:
        - type: AddFields
          fields:
            - path:
                - teamId
              value: "{{ stream_slice['extra_fields']['teamId'] }}"
            - path:
                - channelId
              value: "{{ stream_partition.channel_id }}"
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            teams/{{ stream_slice['extra_fields']['teamId'] }}/channels/{{
            stream_partition.channel_id }}/members?$top=100
          error_handler:
            $ref: "#/definitions/permission_error_handler"
        record_selector:
          $ref: "#/definitions/odata_record_selector"
        paginator:
          $ref: "#/definitions/odata_paginator"
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: channel_id
                extra_fields:
                  - - teamId
                stream:
                  $ref: "#/definitions/streams/channels"

    chat_members:
      type: DeclarativeStream
      name: chat_members
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: http://json-schema.org/draft-07/schema#
          type: object
          additionalProperties: true
          properties:
            "@odata.type":
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            displayName:
              type:
                - "null"
                - string
            userId:
              type:
                - "null"
                - string
            email:
              type:
                - "null"
                - string
            tenantId:
              type:
                - "null"
                - string
            roles:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - string
            visibleHistoryStartDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            chatId:
              type:
                - "null"
                - string
              description: Injected from parent chats stream.
      transformations:
        - type: AddFields
          fields:
            - path:
                - chatId
              value: "{{ stream_partition.chat_id }}"
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: chats/{{ stream_partition.chat_id }}/members?$top=100
          error_handler:
            $ref: "#/definitions/permission_error_handler"
        record_selector:
          $ref: "#/definitions/odata_record_selector"
        paginator:
          $ref: "#/definitions/odata_paginator"
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: chat_id
                stream:
                  $ref: "#/definitions/streams/chats"

    online_meetings:
      type: DeclarativeStream
      name: online_meetings
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: http://json-schema.org/draft-07/schema#
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            creationDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            startDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            endDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            subject:
              type:
                - "null"
                - string
            joinUrl:
              type:
                - "null"
                - string
            joinWebUrl:
              type:
                - "null"
                - string
            meetingCode:
              type:
                - "null"
                - string
            videoTeleconferenceId:
              type:
                - "null"
                - string
            externalId:
              type:
                - "null"
                - string
            isEntryExitAnnounced:
              type:
                - "null"
                - boolean
            allowedPresenters:
              type:
                - "null"
                - string
            participants:
              type:
                - "null"
                - object
              additionalProperties: true
            lobbyBypassSettings:
              type:
                - "null"
                - object
              additionalProperties: true
            chatInfo:
              type:
                - "null"
                - object
              additionalProperties: true
            audioConferencing:
              type:
                - "null"
                - object
              additionalProperties: true
            userId:
              type:
                - "null"
                - string
              description: Injected from parent users stream partition.
      transformations:
        - type: AddFields
          fields:
            - path:
                - userId
              value: "{{ stream_partition.user_id }}"
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: users/{{ stream_partition.user_id }}/onlineMeetings?$top=50
          error_handler:
            $ref: "#/definitions/permission_error_handler"
        record_selector:
          $ref: "#/definitions/odata_record_selector"
        paginator:
          $ref: "#/definitions/odata_paginator"
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: user_id
                stream:
                  $ref: "#/definitions/streams/users"

    meeting_transcripts:
      type: DeclarativeStream
      name: meeting_transcripts
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: http://json-schema.org/draft-07/schema#
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            createdDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            meetingId:
              type:
                - "null"
                - string
            meetingOrganizerId:
              type:
                - "null"
                - string
            transcriptContentUrl:
              type:
                - "null"
                - string
            userId:
              type:
                - "null"
                - string
              description: Injected from parent online_meetings stream.
      transformations:
        - type: AddFields
          fields:
            - path:
                - userId
              value: "{{ stream_slice['extra_fields']['userId'] }}"
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            users/{{ stream_slice['extra_fields']['userId'] }}/onlineMeetings/{{
            stream_partition.meeting_id }}/transcripts
          error_handler:
            $ref: "#/definitions/permission_error_handler"
        record_selector:
          $ref: "#/definitions/odata_record_selector"
        paginator:
          $ref: "#/definitions/odata_paginator"
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: meeting_id
                extra_fields:
                  - - userId
                stream:
                  $ref: "#/definitions/streams/online_meetings"

    meeting_attendance_reports:
      type: DeclarativeStream
      name: meeting_attendance_reports
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: http://json-schema.org/draft-07/schema#
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            totalParticipantCount:
              type:
                - "null"
                - integer
            meetingStartDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            meetingEndDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            attendanceRecords:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  id:
                    type:
                      - "null"
                      - string
                  emailAddress:
                    type:
                      - "null"
                      - string
                  totalAttendanceInSeconds:
                    type:
                      - "null"
                      - integer
                  role:
                    type:
                      - "null"
                      - string
                  identity:
                    type:
                      - "null"
                      - object
                    additionalProperties: true
            userId:
              type:
                - "null"
                - string
              description: Injected from parent online_meetings stream.
            meetingId:
              type:
                - "null"
                - string
              description: Injected from parent online_meetings stream.
      transformations:
        - type: AddFields
          fields:
            - path:
                - userId
              value: "{{ stream_slice['extra_fields']['userId'] }}"
            - path:
                - meetingId
              value: "{{ stream_partition.meeting_id }}"
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            users/{{ stream_slice['extra_fields']['userId'] }}/onlineMeetings/{{
            stream_partition.meeting_id }}/attendanceReports
          error_handler:
            $ref: "#/definitions/permission_error_handler"
        record_selector:
          $ref: "#/definitions/odata_record_selector"
        paginator:
          $ref: "#/definitions/odata_paginator"
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: meeting_id
                extra_fields:
                  - - userId
                stream:
                  $ref: "#/definitions/streams/online_meetings"

    tags:
      type: DeclarativeStream
      name: tags
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: http://json-schema.org/draft-07/schema#
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            displayName:
              type:
                - "null"
                - string
            description:
              type:
                - "null"
                - string
            memberCount:
              type:
                - "null"
                - integer
            tagType:
              type:
                - "null"
                - string
            teamId:
              type:
                - "null"
                - string
              description: Injected from parent teams stream partition.
      transformations:
        - type: AddFields
          fields:
            - path:
                - teamId
              value: "{{ stream_partition.team_id }}"
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: teams/{{ stream_partition.team_id }}/tags
          error_handler:
            $ref: "#/definitions/permission_error_handler"
        record_selector:
          $ref: "#/definitions/odata_record_selector"
        paginator:
          $ref: "#/definitions/odata_paginator"
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: team_id
                stream:
                  $ref: "#/definitions/streams/teams"

    tag_members:
      type: DeclarativeStream
      name: tag_members
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: http://json-schema.org/draft-07/schema#
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            displayName:
              type:
                - "null"
                - string
            tenantId:
              type:
                - "null"
                - string
            userId:
              type:
                - "null"
                - string
            teamId:
              type:
                - "null"
                - string
              description: Injected from parent tags stream.
            tagId:
              type:
                - "null"
                - string
              description: Injected from parent tags stream.
      transformations:
        - type: AddFields
          fields:
            - path:
                - teamId
              value: "{{ stream_slice['extra_fields']['teamId'] }}"
            - path:
                - tagId
              value: "{{ stream_partition.tag_id }}"
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            teams/{{ stream_slice['extra_fields']['teamId'] }}/tags/{{
            stream_partition.tag_id }}/members
          error_handler:
            $ref: "#/definitions/permission_error_handler"
        record_selector:
          $ref: "#/definitions/odata_record_selector"
        paginator:
          $ref: "#/definitions/odata_paginator"
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: tag_id
                extra_fields:
                  - - teamId
                stream:
                  $ref: "#/definitions/streams/tags"

    # =========================================================================
    # Backward-compatible streams (kept from v1.x)
    # =========================================================================

    groups:
      type: DeclarativeStream
      name: groups
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: http://json-schema.org/draft-07/schema#
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            displayName:
              type:
                - "null"
                - string
            description:
              type:
                - "null"
                - string
            mail:
              type:
                - "null"
                - string
            mailEnabled:
              type:
                - "null"
                - boolean
            mailNickname:
              type:
                - "null"
                - string
            securityEnabled:
              type:
                - "null"
                - boolean
            visibility:
              type:
                - "null"
                - string
            classification:
              type:
                - "null"
                - string
            createdDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            deletedDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            expirationDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            renewedDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            groupTypes:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - string
            creationOptions:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - string
            proxyAddresses:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - string
            resourceProvisioningOptions:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - string
            resourceBehaviorOptions:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - string
            isAssignableToRole:
              type:
                - "null"
                - boolean
            membershipRule:
              type:
                - "null"
                - string
            membershipRuleProcessingState:
              type:
                - "null"
                - string
            onPremisesDomainName:
              type:
                - "null"
                - string
            onPremisesLastSyncDateTime:
              type:
                - "null"
                - string
              format: date-time
            onPremisesNetBiosName:
              type:
                - "null"
                - string
            onPremisesSamAccountName:
              type:
                - "null"
                - string
            onPremisesSecurityIdentifier:
              type:
                - "null"
                - string
            onPremisesSyncEnabled:
              type:
                - "null"
                - boolean
            onPremisesProvisioningErrors:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - string
            preferredDataLocation:
              type:
                - "null"
                - string
            preferredLanguage:
              type:
                - "null"
                - string
            securityIdentifier:
              type:
                - "null"
                - string
            theme:
              type:
                - "null"
                - string
            serviceProvisioningErrors:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                additionalProperties: true
                properties:
                  createdDateTime:
                    type:
                      - "null"
                      - string
                    format: date-time
                    airbyte_type: timestamp_without_timezone
                  isResolved:
                    type:
                      - "null"
                      - boolean
                  serviceInstance:
                    type:
                      - "null"
                      - string
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: groups?$top=100
        record_selector:
          $ref: "#/definitions/odata_record_selector"
        paginator:
          $ref: "#/definitions/odata_paginator"

    group_members:
      type: DeclarativeStream
      name: group_members
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: http://json-schema.org/draft-07/schema#
          type: object
          additionalProperties: true
          properties:
            "@odata.type":
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            displayName:
              type:
                - "null"
                - string
            givenName:
              type:
                - "null"
                - string
            surname:
              type:
                - "null"
                - string
            mail:
              type:
                - "null"
                - string
            jobTitle:
              type:
                - "null"
                - string
            mobilePhone:
              type:
                - "null"
                - string
            officeLocation:
              type:
                - "null"
                - string
            userPrincipalName:
              type:
                - "null"
                - string
            businessPhones:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - string
            groupId:
              type:
                - "null"
                - string
              description: Injected from parent groups stream partition.
      transformations:
        - type: AddFields
          fields:
            - path:
                - groupId
              value: "{{ stream_partition.group_id }}"
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: groups/{{ stream_partition.group_id }}/members?$top=100
          error_handler:
            $ref: "#/definitions/permission_error_handler"
        record_selector:
          $ref: "#/definitions/odata_record_selector"
        paginator:
          $ref: "#/definitions/odata_paginator"
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: group_id
                stream:
                  $ref: "#/definitions/streams/groups"

    group_owners:
      type: DeclarativeStream
      name: group_owners
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: http://json-schema.org/draft-07/schema#
          type: object
          additionalProperties: true
          properties:
            "@odata.type":
              type:
                - "null"
                - string
            id:
              type:
                - "null"
                - string
            displayName:
              type:
                - "null"
                - string
            givenName:
              type:
                - "null"
                - string
            surname:
              type:
                - "null"
                - string
            mail:
              type:
                - "null"
                - string
            jobTitle:
              type:
                - "null"
                - string
            mobilePhone:
              type:
                - "null"
                - string
            officeLocation:
              type:
                - "null"
                - string
            userPrincipalName:
              type:
                - "null"
                - string
            businessPhones:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - string
            groupId:
              type:
                - "null"
                - string
              description: Injected from parent groups stream partition.
      transformations:
        - type: AddFields
          fields:
            - path:
                - groupId
              value: "{{ stream_partition.group_id }}"
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: groups/{{ stream_partition.group_id }}/owners?$top=100
          error_handler:
            $ref: "#/definitions/permission_error_handler"
        record_selector:
          $ref: "#/definitions/odata_record_selector"
        paginator:
          $ref: "#/definitions/odata_paginator"
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: group_id
                stream:
                  $ref: "#/definitions/streams/groups"

    team_drives:
      type: DeclarativeStream
      name: team_drives
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: http://json-schema.org/draft-07/schema#
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - "null"
                - string
            name:
              type:
                - "null"
                - string
            description:
              type:
                - "null"
                - string
            driveType:
              type:
                - "null"
                - string
            webUrl:
              type:
                - "null"
                - string
            createdDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            lastModifiedDateTime:
              type:
                - "null"
                - string
              format: date-time
              airbyte_type: timestamp_without_timezone
            createdBy:
              type:
                - "null"
                - object
              additionalProperties: true
            lastModifiedBy:
              type:
                - "null"
                - object
              additionalProperties: true
            owner:
              type:
                - "null"
                - object
              additionalProperties: true
            quota:
              type:
                - "null"
                - object
              additionalProperties: true
            teamId:
              type:
                - "null"
                - string
              description: Injected from parent teams stream partition.
      transformations:
        - type: AddFields
          fields:
            - path:
                - teamId
              value: "{{ stream_partition.team_id }}"
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: groups/{{ stream_partition.team_id }}/drive
          error_handler:
            $ref: "#/definitions/permission_error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: NoPagination
        partition_router:
          - type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: team_id
                stream:
                  $ref: "#/definitions/streams/teams"

streams:
  # Tier 1
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/channels"
  - $ref: "#/definitions/streams/channel_messages"
  - $ref: "#/definitions/streams/channel_message_replies"
  - $ref: "#/definitions/streams/chats"
  - $ref: "#/definitions/streams/chat_messages"
  - $ref: "#/definitions/streams/team_members"
  # Tier 2
  - $ref: "#/definitions/streams/channel_members"
  - $ref: "#/definitions/streams/chat_members"
  - $ref: "#/definitions/streams/online_meetings"
  - $ref: "#/definitions/streams/meeting_transcripts"
  - $ref: "#/definitions/streams/meeting_attendance_reports"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/tag_members"
  # Backward-compatible
  - $ref: "#/definitions/streams/groups"
  - $ref: "#/definitions/streams/group_members"
  - $ref: "#/definitions/streams/group_owners"
  - $ref: "#/definitions/streams/team_drives"

spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/microsoft-teams
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: Microsoft Teams Spec
    type: object
    required: []
    additionalProperties: true
    properties:
      period:
        type: string
        title: Period
        description: >-
          Deprecated. Previously used for the Team Device Usage Report stream
          which has been removed in v2.0.0. This field is ignored.
        examples:
          - D7
        airbyte_hidden: true
      credentials:
        title: Authentication mechanism
        description: Choose how to authenticate to Microsoft
        type: object
        oneOf:
          - type: object
            title: Authenticate via Microsoft (OAuth 2.0)
            required:
              - tenant_id
              - client_id
              - client_secret
              - refresh_token
            properties:
              auth_type:
                type: string
                const: Client
                enum:
                  - Client
                default: Client
                order: 0
              tenant_id:
                title: Directory (tenant) ID
                type: string
                description: >-
                  A globally unique identifier (GUID) that is different than
                  your organization name or domain. Follow these steps to
                  obtain: open one of the Teams where you belong inside the
                  Teams Application -> Click on the … next to the Team title
                  -> Click on Get link to team -> Copy the link to the team
                  and grab the tenant ID form the URL
                airbyte_secret: true
              client_id:
                title: Client ID
                type: string
                description: The Client ID of your Microsoft Teams developer application.
              client_secret:
                title: Client Secret
                type: string
                description: The Client Secret of your Microsoft Teams developer application.
                airbyte_secret: true
              refresh_token:
                title: Refresh Token
                type: string
                description: A Refresh Token to renew the expired Access Token.
                airbyte_secret: true
          - type: object
            title: Authenticate via Microsoft
            required:
              - tenant_id
              - client_id
              - client_secret
            properties:
              auth_type:
                type: string
                const: Token
                enum:
                  - Token
                default: Token
                order: 0
              tenant_id:
                title: Directory (tenant) ID
                type: string
                description: >-
                  A globally unique identifier (GUID) that is different than
                  your organization name or domain. Follow these steps to
                  obtain: open one of the Teams where you belong inside the
                  Teams Application -> Click on the … next to the Team title
                  -> Click on Get link to team -> Copy the link to the team
                  and grab the tenant ID form the URL
                airbyte_secret: true
              client_id:
                title: Client ID
                type: string
                description: The Client ID of your Microsoft Teams developer application.
              client_secret:
                title: Client Secret
                type: string
                description: The Client Secret of your Microsoft Teams developer application.
                airbyte_secret: true

  advanced_auth:
    auth_flow_type: oauth2.0
    predicate_key:
      - credentials
      - auth_type
    predicate_value: Client
    oauth_config_specification:
      complete_oauth_output_specification:
        type: object
        additionalProperties: false
        properties:
          refresh_token:
            type: string
            path_in_connector_config:
              - credentials
              - refresh_token
      complete_oauth_server_input_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - credentials
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - credentials
              - client_secret
      oauth_user_input_from_connector_config_specification:
        type: object
        additionalProperties: false
        properties:
          tenant_id:
            type: string
            path_in_connector_config:
              - credentials
              - tenant_id

metadata:
  autoImportSchema:
    users: false
    teams: false
    channels: false
    channel_messages: false
    channel_message_replies: false
    chats: false
    chat_messages: false
    team_members: false
    channel_members: false
    chat_members: false
    online_meetings: false
    meeting_transcripts: false
    meeting_attendance_reports: false
    tags: false
    tag_members: false
    groups: false
    group_members: false
    group_owners: false
    team_drives: false
