version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - segmentations
definitions:
  streams:
    analytics_conversions:
      type: DeclarativeStream
      name: analytics_conversions
      primary_key:
        - asset_id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.rd.services
          authenticator:
            type: OAuthAuthenticator
            client_id: '{{ config["authorization"][''client_id''] }}'
            client_secret: '{{ config["authorization"][''client_secret''] }}'
            refresh_token: '{{ config["authorization"][''refresh_token''] }}'
            refresh_request_body: {}
            token_refresh_endpoint: https://api.rd.services/auth/token
            grant_type: refresh_token
          path: /platform/analytics/conversions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - conversions
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: "https://json-schema.org/draft-07/schema"
          type: object
          additionalProperties: true
          properties:
            asset_id:
              type:
                - integer
            asset_identifier:
              type:
                - "null"
                - string
            asset_created_at:
              type:
                - "null"
                - string
            asset_updated_at:
              type:
                - "null"
                - string
            asset_type:
              type:
                - "null"
                - string
            conversion_count:
              type:
                - "null"
                - integer
            visits_count:
              type:
                - "null"
                - integer
            conversion_rate:
              type:
                - "null"
                - number
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: asset_updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start_date
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: end_date
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
    analytic_emails:
      type: DeclarativeStream
      name: analytic_emails
      primary_key:
        - campaign_id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.rd.services
          authenticator:
            type: OAuthAuthenticator
            client_id: '{{ config["authorization"][''client_id''] }}'
            client_secret: '{{ config["authorization"][''client_secret''] }}'
            refresh_token: '{{ config["authorization"][''refresh_token''] }}'
            refresh_request_body: {}
            token_refresh_endpoint: https://api.rd.services/auth/token
            grant_type: refresh_token
          path: /platform/analytics/emails
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - emails
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: "https://json-schema.org/draft-07/schema"
          type: object
          additionalProperties: true
          properties:
            send_at:
              type:
                - "null"
                - string
            campaign_id:
              type:
                - integer
            campaign_name:
              type:
                - "null"
                - string
            email_dropped_count:
              type:
                - "null"
                - integer
            email_delivered_count:
              type:
                - "null"
                - integer
            email_bounced_count:
              type:
                - "null"
                - integer
            email_opened_count:
              type:
                - "null"
                - integer
            email_clicked_count:
              type:
                - "null"
                - integer
            email_unsubscribed_count:
              type:
                - "null"
                - integer
            email_spam_reported_count:
              type:
                - "null"
                - integer
            email_delivered_rate:
              type:
                - "null"
                - number
            email_opened_rate:
              type:
                - "null"
                - number
            email_clicked_rate:
              type:
                - "null"
                - number
            email_spam_reported_rate:
              type:
                - "null"
                - number
            contacts_count:
              type:
                - "null"
                - integer
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: send_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start_date
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: end_date
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
    analytics_funnel:
      type: DeclarativeStream
      name: analytics_funnel
      primary_key:
        - reference_day
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.rd.services
          authenticator:
            type: OAuthAuthenticator
            client_id: '{{ config["authorization"][''client_id''] }}'
            client_secret: '{{ config["authorization"][''client_secret''] }}'
            refresh_token: '{{ config["authorization"][''refresh_token''] }}'
            refresh_request_body: {}
            token_refresh_endpoint: https://api.rd.services/auth/token
            grant_type: refresh_token
          path: /platform/analytics/funnel
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - funnel
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: "https://json-schema.org/draft-07/schema"
          type: object
          additionalProperties: true
          properties:
            reference_day:
              type:
                - string
            contacts_count:
              type:
                - "null"
                - integer
            qualified_contacts_count:
              type:
                - "null"
                - integer
            opportunities_count:
              type:
                - "null"
                - integer
            sales_count:
              type:
                - "null"
                - integer
            visitors_count:
              type:
                - "null"
                - integer
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: reference_day
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start_date
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: end_date
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
    analytics_workflow_emails_statistics:
      type: DeclarativeStream
      name: analytics_workflow_emails_statistics
      primary_key:
        - workflow_id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.rd.services
          authenticator:
            type: OAuthAuthenticator
            client_id: '{{ config["authorization"][''client_id''] }}'
            client_secret: '{{ config["authorization"][''client_secret''] }}'
            refresh_token: '{{ config["authorization"][''refresh_token''] }}'
            refresh_request_body: {}
            token_refresh_endpoint: https://api.rd.services/auth/token
            grant_type: refresh_token
          path: /platform/analytics/workflow_emails
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - workflow_email_statistics
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: "https://json-schema.org/draft-07/schema"
          type: object
          additionalProperties: true
          properties:
            workflow_name:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
            updated_at:
              type:
                - "null"
                - string
            email_name:
              type:
                - "null"
                - string
            workflow_action_id:
              type:
                - "null"
                - string
            workflow_id:
              type:
                - string
            contacts_count:
              type:
                - "null"
                - integer
            count_processed:
              type:
                - "null"
                - integer
            email_delivered_count:
              type:
                - "null"
                - integer
            email_opened_unique_count:
              type:
                - "null"
                - integer
            email_clicked_unique_count:
              type:
                - "null"
                - integer
            email_dropped_count:
              type:
                - "null"
                - integer
            email_unsubscribed_count:
              type:
                - "null"
                - integer
            email_spam_reported_count:
              type:
                - "null"
                - integer
            email_delivered_rate:
              type:
                - "null"
                - number
            email_opened_rate:
              type:
                - "null"
                - number
            email_clicked_rate:
              type:
                - "null"
                - number
            email_spam_reported_rate:
              type:
                - "null"
                - number
            email_bounced_unique_count:
              type:
                - "null"
                - integer
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config["start_date"] }}'
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start_date
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: end_date
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%d') }}"
          datetime_format: "%Y-%m-%d"
    emails:
      type: DeclarativeStream
      name: emails
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.rd.services
          authenticator:
            type: OAuthAuthenticator
            client_id: '{{ config["authorization"][''client_id''] }}'
            client_secret: '{{ config["authorization"][''client_secret''] }}'
            refresh_token: '{{ config["authorization"][''refresh_token''] }}'
            refresh_request_body: {}
            token_refresh_endpoint: https://api.rd.services/auth/token
            grant_type: refresh_token
          path: /platform/emails
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 125
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: "https://json-schema.org/draft-07/schema"
          type: object
          additionalProperties: true
          properties:
            campaign_id:
              type:
                - "null"
                - integer
            behavior_score_info:
              type:
                - "null"
                - object
              properties:
                engaged:
                  type:
                    - "null"
                    - boolean
                disengaged:
                  type:
                    - "null"
                    - boolean
                indeterminate:
                  type:
                    - "null"
                    - boolean
            send_at:
              type:
                - "null"
                - string
            status:
              type:
                - "null"
                - string
            sending_is_imminent:
              type:
                - "null"
                - boolean
            is_predictive_sending:
              type:
                - "null"
                - boolean
            id:
              type:
                - integer
            name:
              type:
                - "null"
                - string
            component_template_id:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
            updated_at:
              type:
                - "null"
                - string
            type:
              type:
                - "null"
                - string
            leads_count:
              type:
                - "null"
                - integer
    embeddables:
      type: DeclarativeStream
      name: embeddables
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.rd.services
          authenticator:
            type: OAuthAuthenticator
            client_id: '{{ config["authorization"][''client_id''] }}'
            client_secret: '{{ config["authorization"][''client_secret''] }}'
            refresh_token: '{{ config["authorization"][''refresh_token''] }}'
            refresh_request_body: {}
            token_refresh_endpoint: https://api.rd.services/auth/token
            grant_type: refresh_token
          path: /platform/embeddables
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 125
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: "https://json-schema.org/draft-07/schema"
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - integer
            title:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
            updated_at:
              type:
                - "null"
                - string
            conversion_identifier:
              type:
                - "null"
                - string
            status:
              type:
                - "null"
                - string
    fields:
      type: DeclarativeStream
      name: fields
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.rd.services
          authenticator:
            type: OAuthAuthenticator
            client_id: '{{ config["authorization"][''client_id''] }}'
            client_secret: '{{ config["authorization"][''client_secret''] }}'
            refresh_token: '{{ config["authorization"][''refresh_token''] }}'
            refresh_request_body: {}
            token_refresh_endpoint: https://api.rd.services/auth/token
            grant_type: refresh_token
          path: /platform/contacts/fields
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - fields
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: "https://json-schema.org/draft-07/schema"
          type: object
          additionalProperties: true
          properties:
            uuid:
              type:
                - string
            label:
              type:
                - "null"
                - object
              properties:
                en-UD:
                  type:
                    - "null"
                    - string
                en-US:
                  type:
                    - "null"
                    - string
                es-ES:
                  type:
                    - "null"
                    - string
                pt-BR:
                  type:
                    - "null"
                    - string
                default:
                  type:
                    - "null"
                    - string
            name:
              type:
                - "null"
                - object
              properties:
                en-UD:
                  type:
                    - "null"
                    - string
                en-US:
                  type:
                    - "null"
                    - string
                es-ES:
                  type:
                    - "null"
                    - string
                pt-BR:
                  type:
                    - "null"
                    - string
                default:
                  type:
                    - "null"
                    - string
            api_identifier:
              type:
                - "null"
                - string
            custom_field:
              type:
                - "null"
                - boolean
            validation_rules:
              type:
                - "null"
                - object
            presentation_type:
              type:
                - "null"
                - string
            data_type:
              type:
                - "null"
                - string
    landing_pages:
      type: DeclarativeStream
      name: landing_pages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.rd.services
          authenticator:
            type: OAuthAuthenticator
            client_id: '{{ config["authorization"][''client_id''] }}'
            client_secret: '{{ config["authorization"][''client_secret''] }}'
            refresh_token: '{{ config["authorization"][''refresh_token''] }}'
            refresh_request_body: {}
            token_refresh_endpoint: https://api.rd.services/auth/token
            grant_type: refresh_token
          path: /platform/landing_pages
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 125
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: "https://json-schema.org/draft-07/schema"
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - integer
            title:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
            updated_at:
              type:
                - "null"
                - string
            conversion_identifier:
              type:
                - "null"
                - string
            status:
              type:
                - "null"
                - string
            has_active_experiment:
              type:
                - "null"
                - boolean
            had_experiment:
              type:
                - "null"
                - boolean
    popups:
      type: DeclarativeStream
      name: popups
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.rd.services
          authenticator:
            type: OAuthAuthenticator
            client_id: '{{ config["authorization"][''client_id''] }}'
            client_secret: '{{ config["authorization"][''client_secret''] }}'
            refresh_token: '{{ config["authorization"][''refresh_token''] }}'
            refresh_request_body: {}
            token_refresh_endpoint: https://api.rd.services/auth/token
            grant_type: refresh_token
          path: /platform/popups
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 125
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: "https://json-schema.org/draft-07/schema"
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - integer
            title:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
            updated_at:
              type:
                - "null"
                - string
            conversion_identifier:
              type:
                - "null"
                - string
            status:
              type:
                - "null"
                - string
            trigger:
              type:
                - "null"
                - string
    segmentations:
      type: DeclarativeStream
      name: segmentations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.rd.services
          authenticator:
            type: OAuthAuthenticator
            client_id: '{{ config["authorization"][''client_id''] }}'
            client_secret: '{{ config["authorization"][''client_secret''] }}'
            refresh_token: '{{ config["authorization"][''refresh_token''] }}'
            refresh_request_body: {}
            token_refresh_endpoint: https://api.rd.services/auth/token
            grant_type: refresh_token
          path: /platform/segmentations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - segmentations
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 125
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: "https://json-schema.org/draft-07/schema#"
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - integer
            name:
              type:
                - "null"
                - string
            standard:
              type:
                - "null"
                - boolean
            created_at:
              type:
                - "null"
                - string
            updated_at:
              type:
                - "null"
                - string
            process_status:
              type:
                - "null"
                - string
            links:
              type:
                - "null"
                - array
              items:
                type:
                  - "null"
                  - object
                properties:
                  rel:
                    type:
                      - "null"
                      - string
                  href:
                    type:
                      - "null"
                      - string
                  media:
                    type:
                      - "null"
                      - string
                  type:
                    type:
                      - "null"
                      - string
    workflows:
      type: DeclarativeStream
      name: workflows
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.rd.services
          authenticator:
            type: OAuthAuthenticator
            client_id: '{{ config["authorization"][''client_id''] }}'
            client_secret: '{{ config["authorization"][''client_secret''] }}'
            refresh_token: '{{ config["authorization"][''refresh_token''] }}'
            refresh_request_body: {}
            token_refresh_endpoint: https://api.rd.services/auth/token
            grant_type: refresh_token
          path: /platform/workflows
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - workflows
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page_size
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 125
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $schema: "https://json-schema.org/draft-07/schema"
          type: object
          additionalProperties: true
          properties:
            id:
              type:
                - string
            name:
              type:
                - "null"
                - string
            user_email_created:
              type:
                - "null"
                - string
            created_at:
              type:
                - "null"
                - string
            user_email_updated:
              type:
                - "null"
                - string
            updated_at:
              type:
                - "null"
                - string
  base_requester:
    type: HttpRequester
    url_base: https://api.rd.services
    authenticator:
      type: OAuthAuthenticator
      client_id: '{{ config["authorization"][''client_id''] }}'
      client_secret: '{{ config["authorization"][''client_secret''] }}'
      refresh_token: '{{ config["authorization"][''refresh_token''] }}'
      refresh_request_body: {}
      token_refresh_endpoint: https://api.rd.services/auth/token
      grant_type: refresh_token
streams:
  - type: DeclarativeStream
    name: analytics_conversions
    primary_key:
      - asset_id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.rd.services
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config["authorization"][''client_id''] }}'
          client_secret: '{{ config["authorization"][''client_secret''] }}'
          refresh_token: '{{ config["authorization"][''refresh_token''] }}'
          refresh_request_body: {}
          token_refresh_endpoint: https://api.rd.services/auth/token
          grant_type: refresh_token
        path: /platform/analytics/conversions
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - conversions
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "https://json-schema.org/draft-07/schema"
        type: object
        additionalProperties: true
        properties:
          asset_id:
            type:
              - integer
          asset_identifier:
            type:
              - "null"
              - string
          asset_created_at:
            type:
              - "null"
              - string
          asset_updated_at:
            type:
              - "null"
              - string
          asset_type:
            type:
              - "null"
              - string
          conversion_count:
            type:
              - "null"
              - integer
          visits_count:
            type:
              - "null"
              - integer
          conversion_rate:
            type:
              - "null"
              - number
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: asset_updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
      datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config["start_date"] }}'
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: start_date
      end_time_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: end_date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
  - type: DeclarativeStream
    name: analytic_emails
    primary_key:
      - campaign_id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.rd.services
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config["authorization"][''client_id''] }}'
          client_secret: '{{ config["authorization"][''client_secret''] }}'
          refresh_token: '{{ config["authorization"][''refresh_token''] }}'
          refresh_request_body: {}
          token_refresh_endpoint: https://api.rd.services/auth/token
          grant_type: refresh_token
        path: /platform/analytics/emails
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - emails
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "https://json-schema.org/draft-07/schema"
        type: object
        additionalProperties: true
        properties:
          send_at:
            type:
              - "null"
              - string
          campaign_id:
            type:
              - integer
          campaign_name:
            type:
              - "null"
              - string
          email_dropped_count:
            type:
              - "null"
              - integer
          email_delivered_count:
            type:
              - "null"
              - integer
          email_bounced_count:
            type:
              - "null"
              - integer
          email_opened_count:
            type:
              - "null"
              - integer
          email_clicked_count:
            type:
              - "null"
              - integer
          email_unsubscribed_count:
            type:
              - "null"
              - integer
          email_spam_reported_count:
            type:
              - "null"
              - integer
          email_delivered_rate:
            type:
              - "null"
              - number
          email_opened_rate:
            type:
              - "null"
              - number
          email_clicked_rate:
            type:
              - "null"
              - number
          email_spam_reported_rate:
            type:
              - "null"
              - number
          contacts_count:
            type:
              - "null"
              - integer
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: send_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
      datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config["start_date"] }}'
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: start_date
      end_time_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: end_date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
  - type: DeclarativeStream
    name: analytics_funnel
    primary_key:
      - reference_day
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.rd.services
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config["authorization"][''client_id''] }}'
          client_secret: '{{ config["authorization"][''client_secret''] }}'
          refresh_token: '{{ config["authorization"][''refresh_token''] }}'
          refresh_request_body: {}
          token_refresh_endpoint: https://api.rd.services/auth/token
          grant_type: refresh_token
        path: /platform/analytics/funnel
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - funnel
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "https://json-schema.org/draft-07/schema"
        type: object
        additionalProperties: true
        properties:
          reference_day:
            type:
              - string
          contacts_count:
            type:
              - "null"
              - integer
          qualified_contacts_count:
            type:
              - "null"
              - integer
          opportunities_count:
            type:
              - "null"
              - integer
          sales_count:
            type:
              - "null"
              - integer
          visitors_count:
            type:
              - "null"
              - integer
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: reference_day
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
      datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config["start_date"] }}'
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: start_date
      end_time_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: end_date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
  - type: DeclarativeStream
    name: analytics_workflow_emails_statistics
    primary_key:
      - workflow_id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.rd.services
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config["authorization"][''client_id''] }}'
          client_secret: '{{ config["authorization"][''client_secret''] }}'
          refresh_token: '{{ config["authorization"][''refresh_token''] }}'
          refresh_request_body: {}
          token_refresh_endpoint: https://api.rd.services/auth/token
          grant_type: refresh_token
        path: /platform/analytics/workflow_emails
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - workflow_email_statistics
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "https://json-schema.org/draft-07/schema"
        type: object
        additionalProperties: true
        properties:
          workflow_name:
            type:
              - "null"
              - string
          created_at:
            type:
              - "null"
              - string
          updated_at:
            type:
              - "null"
              - string
          email_name:
            type:
              - "null"
              - string
          workflow_action_id:
            type:
              - "null"
              - string
          workflow_id:
            type:
              - string
          contacts_count:
            type:
              - "null"
              - integer
          count_processed:
            type:
              - "null"
              - integer
          email_delivered_count:
            type:
              - "null"
              - integer
          email_opened_unique_count:
            type:
              - "null"
              - integer
          email_clicked_unique_count:
            type:
              - "null"
              - integer
          email_dropped_count:
            type:
              - "null"
              - integer
          email_unsubscribed_count:
            type:
              - "null"
              - integer
          email_spam_reported_count:
            type:
              - "null"
              - integer
          email_delivered_rate:
            type:
              - "null"
              - number
          email_opened_rate:
            type:
              - "null"
              - number
          email_clicked_rate:
            type:
              - "null"
              - number
          email_spam_reported_rate:
            type:
              - "null"
              - number
          email_bounced_unique_count:
            type:
              - "null"
              - integer
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
      datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config["start_date"] }}'
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_time_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: start_date
      end_time_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: end_date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
  - type: DeclarativeStream
    name: emails
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.rd.services
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config["authorization"][''client_id''] }}'
          client_secret: '{{ config["authorization"][''client_secret''] }}'
          refresh_token: '{{ config["authorization"][''refresh_token''] }}'
          refresh_request_body: {}
          token_refresh_endpoint: https://api.rd.services/auth/token
          grant_type: refresh_token
        path: /platform/emails
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - items
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page_size
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 125
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "https://json-schema.org/draft-07/schema"
        type: object
        additionalProperties: true
        properties:
          campaign_id:
            type:
              - "null"
              - integer
          behavior_score_info:
            type:
              - "null"
              - object
            properties:
              engaged:
                type:
                  - "null"
                  - boolean
              disengaged:
                type:
                  - "null"
                  - boolean
              indeterminate:
                type:
                  - "null"
                  - boolean
          send_at:
            type:
              - "null"
              - string
          status:
            type:
              - "null"
              - string
          sending_is_imminent:
            type:
              - "null"
              - boolean
          is_predictive_sending:
            type:
              - "null"
              - boolean
          id:
            type:
              - integer
          name:
            type:
              - "null"
              - string
          component_template_id:
            type:
              - "null"
              - string
          created_at:
            type:
              - "null"
              - string
          updated_at:
            type:
              - "null"
              - string
          type:
            type:
              - "null"
              - string
          leads_count:
            type:
              - "null"
              - integer
  - type: DeclarativeStream
    name: embeddables
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.rd.services
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config["authorization"][''client_id''] }}'
          client_secret: '{{ config["authorization"][''client_secret''] }}'
          refresh_token: '{{ config["authorization"][''refresh_token''] }}'
          refresh_request_body: {}
          token_refresh_endpoint: https://api.rd.services/auth/token
          grant_type: refresh_token
        path: /platform/embeddables
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page_size
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 125
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "https://json-schema.org/draft-07/schema"
        type: object
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          title:
            type:
              - "null"
              - string
          created_at:
            type:
              - "null"
              - string
          updated_at:
            type:
              - "null"
              - string
          conversion_identifier:
            type:
              - "null"
              - string
          status:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: fields
    primary_key:
      - uuid
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.rd.services
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config["authorization"][''client_id''] }}'
          client_secret: '{{ config["authorization"][''client_secret''] }}'
          refresh_token: '{{ config["authorization"][''refresh_token''] }}'
          refresh_request_body: {}
          token_refresh_endpoint: https://api.rd.services/auth/token
          grant_type: refresh_token
        path: /platform/contacts/fields
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - fields
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "https://json-schema.org/draft-07/schema"
        type: object
        additionalProperties: true
        properties:
          uuid:
            type:
              - string
          label:
            type:
              - "null"
              - object
            properties:
              en-UD:
                type:
                  - "null"
                  - string
              en-US:
                type:
                  - "null"
                  - string
              es-ES:
                type:
                  - "null"
                  - string
              pt-BR:
                type:
                  - "null"
                  - string
              default:
                type:
                  - "null"
                  - string
          name:
            type:
              - "null"
              - object
            properties:
              en-UD:
                type:
                  - "null"
                  - string
              en-US:
                type:
                  - "null"
                  - string
              es-ES:
                type:
                  - "null"
                  - string
              pt-BR:
                type:
                  - "null"
                  - string
              default:
                type:
                  - "null"
                  - string
          api_identifier:
            type:
              - "null"
              - string
          custom_field:
            type:
              - "null"
              - boolean
          validation_rules:
            type:
              - "null"
              - object
          presentation_type:
            type:
              - "null"
              - string
          data_type:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: landing_pages
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.rd.services
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config["authorization"][''client_id''] }}'
          client_secret: '{{ config["authorization"][''client_secret''] }}'
          refresh_token: '{{ config["authorization"][''refresh_token''] }}'
          refresh_request_body: {}
          token_refresh_endpoint: https://api.rd.services/auth/token
          grant_type: refresh_token
        path: /platform/landing_pages
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page_size
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 125
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "https://json-schema.org/draft-07/schema"
        type: object
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          title:
            type:
              - "null"
              - string
          created_at:
            type:
              - "null"
              - string
          updated_at:
            type:
              - "null"
              - string
          conversion_identifier:
            type:
              - "null"
              - string
          status:
            type:
              - "null"
              - string
          has_active_experiment:
            type:
              - "null"
              - boolean
          had_experiment:
            type:
              - "null"
              - boolean
  - type: DeclarativeStream
    name: popups
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.rd.services
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config["authorization"][''client_id''] }}'
          client_secret: '{{ config["authorization"][''client_secret''] }}'
          refresh_token: '{{ config["authorization"][''refresh_token''] }}'
          refresh_request_body: {}
          token_refresh_endpoint: https://api.rd.services/auth/token
          grant_type: refresh_token
        path: /platform/popups
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page_size
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 125
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "https://json-schema.org/draft-07/schema"
        type: object
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          title:
            type:
              - "null"
              - string
          created_at:
            type:
              - "null"
              - string
          updated_at:
            type:
              - "null"
              - string
          conversion_identifier:
            type:
              - "null"
              - string
          status:
            type:
              - "null"
              - string
          trigger:
            type:
              - "null"
              - string
  - type: DeclarativeStream
    name: segmentations
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.rd.services
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config["authorization"][''client_id''] }}'
          client_secret: '{{ config["authorization"][''client_secret''] }}'
          refresh_token: '{{ config["authorization"][''refresh_token''] }}'
          refresh_request_body: {}
          token_refresh_endpoint: https://api.rd.services/auth/token
          grant_type: refresh_token
        path: /platform/segmentations
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - segmentations
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page_size
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 125
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "https://json-schema.org/draft-07/schema#"
        type: object
        additionalProperties: true
        properties:
          id:
            type:
              - integer
          name:
            type:
              - "null"
              - string
          standard:
            type:
              - "null"
              - boolean
          created_at:
            type:
              - "null"
              - string
          updated_at:
            type:
              - "null"
              - string
          process_status:
            type:
              - "null"
              - string
          links:
            type:
              - "null"
              - array
            items:
              type:
                - "null"
                - object
              properties:
                rel:
                  type:
                    - "null"
                    - string
                href:
                  type:
                    - "null"
                    - string
                media:
                  type:
                    - "null"
                    - string
                type:
                  type:
                    - "null"
                    - string
  - type: DeclarativeStream
    name: workflows
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.rd.services
        authenticator:
          type: OAuthAuthenticator
          client_id: '{{ config["authorization"][''client_id''] }}'
          client_secret: '{{ config["authorization"][''client_secret''] }}'
          refresh_token: '{{ config["authorization"][''refresh_token''] }}'
          refresh_request_body: {}
          token_refresh_endpoint: https://api.rd.services/auth/token
          grant_type: refresh_token
        path: /platform/workflows
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - workflows
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: page_size
        pagination_strategy:
          type: PageIncrement
          start_from_page: 1
          page_size: 125
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: "https://json-schema.org/draft-07/schema"
        type: object
        additionalProperties: true
        properties:
          id:
            type:
              - string
          name:
            type:
              - "null"
              - string
          user_email_created:
            type:
              - "null"
              - string
          created_at:
            type:
              - "null"
              - string
          user_email_updated:
            type:
              - "null"
              - string
          updated_at:
            type:
              - "null"
              - string
schemas:
  analytics_conversions:
    $schema: "https://json-schema.org/draft-07/schema"
    type: object
    additionalProperties: true
    properties:
      asset_id:
        type:
          - integer
      asset_identifier:
        type:
          - "null"
          - string
      asset_created_at:
        type:
          - "null"
          - string
      asset_updated_at:
        type:
          - "null"
          - string
      asset_type:
        type:
          - "null"
          - string
      conversion_count:
        type:
          - "null"
          - integer
      visits_count:
        type:
          - "null"
          - integer
      conversion_rate:
        type:
          - "null"
          - number
  analytic_emails:
    $schema: "https://json-schema.org/draft-07/schema"
    type: object
    additionalProperties: true
    properties:
      send_at:
        type:
          - "null"
          - string
      campaign_id:
        type:
          - integer
      campaign_name:
        type:
          - "null"
          - string
      email_dropped_count:
        type:
          - "null"
          - integer
      email_delivered_count:
        type:
          - "null"
          - integer
      email_bounced_count:
        type:
          - "null"
          - integer
      email_opened_count:
        type:
          - "null"
          - integer
      email_clicked_count:
        type:
          - "null"
          - integer
      email_unsubscribed_count:
        type:
          - "null"
          - integer
      email_spam_reported_count:
        type:
          - "null"
          - integer
      email_delivered_rate:
        type:
          - "null"
          - number
      email_opened_rate:
        type:
          - "null"
          - number
      email_clicked_rate:
        type:
          - "null"
          - number
      email_spam_reported_rate:
        type:
          - "null"
          - number
      contacts_count:
        type:
          - "null"
          - integer
  analytics_funnel:
    $schema: "https://json-schema.org/draft-07/schema"
    type: object
    additionalProperties: true
    properties:
      reference_day:
        type:
          - string
      contacts_count:
        type:
          - "null"
          - integer
      qualified_contacts_count:
        type:
          - "null"
          - integer
      opportunities_count:
        type:
          - "null"
          - integer
      sales_count:
        type:
          - "null"
          - integer
      visitors_count:
        type:
          - "null"
          - integer
  analytics_workflow_emails_statistics:
    $schema: "https://json-schema.org/draft-07/schema"
    type: object
    additionalProperties: true
    properties:
      workflow_name:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
      updated_at:
        type:
          - "null"
          - string
      email_name:
        type:
          - "null"
          - string
      workflow_action_id:
        type:
          - "null"
          - string
      workflow_id:
        type:
          - string
      contacts_count:
        type:
          - "null"
          - integer
      count_processed:
        type:
          - "null"
          - integer
      email_delivered_count:
        type:
          - "null"
          - integer
      email_opened_unique_count:
        type:
          - "null"
          - integer
      email_clicked_unique_count:
        type:
          - "null"
          - integer
      email_dropped_count:
        type:
          - "null"
          - integer
      email_unsubscribed_count:
        type:
          - "null"
          - integer
      email_spam_reported_count:
        type:
          - "null"
          - integer
      email_delivered_rate:
        type:
          - "null"
          - number
      email_opened_rate:
        type:
          - "null"
          - number
      email_clicked_rate:
        type:
          - "null"
          - number
      email_spam_reported_rate:
        type:
          - "null"
          - number
      email_bounced_unique_count:
        type:
          - "null"
          - integer
  emails:
    $schema: "https://json-schema.org/draft-07/schema"
    type: object
    additionalProperties: true
    properties:
      campaign_id:
        type:
          - "null"
          - integer
      behavior_score_info:
        type:
          - "null"
          - object
        properties:
          engaged:
            type:
              - "null"
              - boolean
          disengaged:
            type:
              - "null"
              - boolean
          indeterminate:
            type:
              - "null"
              - boolean
      send_at:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      sending_is_imminent:
        type:
          - "null"
          - boolean
      is_predictive_sending:
        type:
          - "null"
          - boolean
      id:
        type:
          - integer
      name:
        type:
          - "null"
          - string
      component_template_id:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
      updated_at:
        type:
          - "null"
          - string
      type:
        type:
          - "null"
          - string
      leads_count:
        type:
          - "null"
          - integer
  embeddables:
    $schema: "https://json-schema.org/draft-07/schema"
    type: object
    additionalProperties: true
    properties:
      id:
        type:
          - integer
      title:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
      updated_at:
        type:
          - "null"
          - string
      conversion_identifier:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
  fields:
    $schema: "https://json-schema.org/draft-07/schema"
    type: object
    additionalProperties: true
    properties:
      uuid:
        type:
          - string
      label:
        type:
          - "null"
          - object
        properties:
          en-UD:
            type:
              - "null"
              - string
          en-US:
            type:
              - "null"
              - string
          es-ES:
            type:
              - "null"
              - string
          pt-BR:
            type:
              - "null"
              - string
          default:
            type:
              - "null"
              - string
      name:
        type:
          - "null"
          - object
        properties:
          en-UD:
            type:
              - "null"
              - string
          en-US:
            type:
              - "null"
              - string
          es-ES:
            type:
              - "null"
              - string
          pt-BR:
            type:
              - "null"
              - string
          default:
            type:
              - "null"
              - string
      api_identifier:
        type:
          - "null"
          - string
      custom_field:
        type:
          - "null"
          - boolean
      validation_rules:
        type:
          - "null"
          - object
      presentation_type:
        type:
          - "null"
          - string
      data_type:
        type:
          - "null"
          - string
  landing_pages:
    $schema: "https://json-schema.org/draft-07/schema"
    type: object
    additionalProperties: true
    properties:
      id:
        type:
          - integer
      title:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
      updated_at:
        type:
          - "null"
          - string
      conversion_identifier:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      has_active_experiment:
        type:
          - "null"
          - boolean
      had_experiment:
        type:
          - "null"
          - boolean
  popups:
    $schema: "https://json-schema.org/draft-07/schema"
    type: object
    additionalProperties: true
    properties:
      id:
        type:
          - integer
      title:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
      updated_at:
        type:
          - "null"
          - string
      conversion_identifier:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      trigger:
        type:
          - "null"
          - string
  segmentations:
    $schema: "https://json-schema.org/draft-07/schema#"
    type: object
    additionalProperties: true
    properties:
      id:
        type:
          - integer
      name:
        type:
          - "null"
          - string
      standard:
        type:
          - "null"
          - boolean
      created_at:
        type:
          - "null"
          - string
      updated_at:
        type:
          - "null"
          - string
      process_status:
        type:
          - "null"
          - string
      links:
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - object
          properties:
            rel:
              type:
                - "null"
                - string
            href:
              type:
                - "null"
                - string
            media:
              type:
                - "null"
                - string
            type:
              type:
                - "null"
                - string
  workflows:
    $schema: "https://json-schema.org/draft-07/schema"
    type: object
    additionalProperties: true
    properties:
      id:
        type:
          - string
      name:
        type:
          - "null"
          - string
      user_email_created:
        type:
          - "null"
          - string
      created_at:
        type:
          - "null"
          - string
      user_email_updated:
        type:
          - "null"
          - string
      updated_at:
        type:
          - "null"
          - string
spec:
  type: Spec
  documentationUrl: https://docs.airbyte.io/integrations/sources/rd-station-marketing
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: RD Station Marketing Spec
    type: object
    additionalProperties: true
    required:
      - start_date
    properties:
      authorization:
        type: object
        title: Authentication Type
        description: Choose one of the possible authorization method
        order: 1
        oneOf:
          - title: Sign in via RD Station (OAuth)
            type: object
            required:
              - auth_type
            properties:
              auth_type:
                type: string
                const: Client
                order: 0
              client_id:
                title: Client ID
                type: string
                description: The Client ID of your RD Station developer application.
                airbyte_secret: true
              client_secret:
                title: Client Secret
                type: string
                description: The Client Secret of your RD Station developer application
                airbyte_secret: true
              refresh_token:
                title: Refresh Token
                type: string
                description: The token for obtaining the new access token.
                airbyte_secret: true
      start_date:
        title: Start Date
        type: string
        description:
          UTC date and time in the format 2017-01-25T00:00:00Z. Any data
          before this date will not be replicated. When specified and not None, then
          stream will behave as incremental
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2017-01-25T00:00:00Z"
        order: 0
  supportsIncremental: true
  advanced_auth:
    auth_flow_type: oauth2.0
    oauth_config_specification:
      complete_oauth_output_specification:
        type: object
        additionalProperties: true
        properties:
          refresh_token:
            type: string
            path_in_connector_config:
              - authorization
              - refresh_token
      complete_oauth_server_input_specification:
        type: object
        additionalProperties: true
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        additionalProperties: true
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - authorization
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - authorization
              - client_secret
