version: 0.78.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  streams:
    applications:
      type: DeclarativeStream
      name: applications
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /applications.list
          http_method: POST
          request_body_json:
            createdAfter: "{{ timestamp(config['start_date']) * 1000 }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/applications"
    archive_reasons:
      type: DeclarativeStream
      name: archive_reasons
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /archiveReason.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/archive_reasons"
    candidate_tags:
      type: DeclarativeStream
      name: candidate_tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /candidateTag.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/candidate_tags"
    candidates:
      type: DeclarativeStream
      name: candidates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /candidate.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/candidates"
    custom_fields:
      type: DeclarativeStream
      name: custom_fields
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /customField.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_fields"
    departments:
      type: DeclarativeStream
      name: departments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /department.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/departments"
    feedback_form_definitions:
      type: DeclarativeStream
      name: feedback_form_definitions
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /feedbackFormDefinition.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/feedback_form_definitions"
    interview_schedules:
      type: DeclarativeStream
      name: interview_schedules
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /interviewSchedule.list
          http_method: POST
          request_body_json:
            createdAfter: "{{ timestamp(config['start_date']) * 1000 }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/interview_schedules"
    job_postings:
      type: DeclarativeStream
      name: job_postings
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /jobPosting.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/job_postings"
    jobs:
      type: DeclarativeStream
      name: jobs
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /job.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/jobs"
    locations:
      type: DeclarativeStream
      name: locations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /location.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/locations"
    offers:
      type: DeclarativeStream
      name: offers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /offer.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/offers"
    sources:
      type: DeclarativeStream
      name: sources
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /source.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sources"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /user.list
          http_method: POST
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: cursor
          page_size_option:
            type: RequestOption
            inject_into: body_json
            field_name: per_page
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextCursor }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
  base_requester:
    type: HttpRequester
    url_base: https://api.ashbyhq.com
    authenticator:
      type: BasicHttpAuthenticator
      username: "{{ config['api_key'] }}"
      password: "{{ config['api_key'] }}"

streams:
  - $ref: "#/definitions/streams/applications"
  - $ref: "#/definitions/streams/archive_reasons"
  - $ref: "#/definitions/streams/candidate_tags"
  - $ref: "#/definitions/streams/candidates"
  - $ref: "#/definitions/streams/custom_fields"
  - $ref: "#/definitions/streams/departments"
  - $ref: "#/definitions/streams/feedback_form_definitions"
  - $ref: "#/definitions/streams/interview_schedules"
  - $ref: "#/definitions/streams/job_postings"
  - $ref: "#/definitions/streams/jobs"
  - $ref: "#/definitions/streams/locations"
  - $ref: "#/definitions/streams/offers"
  - $ref: "#/definitions/streams/sources"
  - $ref: "#/definitions/streams/users"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        title: Ashby API key
        description: >-
          The Ashby API Key, see <a
          href=\"https://developers.ashbyhq.com/reference/authentication\">doc</a>
          here.
        airbyte_secret: true
        order: 0
      start_date:
        type: string
        title: Start date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00Z. Any data before
          this date will not be replicated.
        examples:
          - "2017-01-25T00:00:00Z"
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    applications: false
    archive_reasons: false
    candidate_tags: false
    candidates: false
    custom_fields: false
    departments: false
    feedback_form_definitions: false
    interview_schedules: false
    job_postings: false
    jobs: false
    locations: false
    offers: false
    sources: false
    users: false

schemas:
  applications:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      archiveReason:
        type:
          - "null"
          - string
      candidate:
        type:
          - "null"
          - object
      createdAt:
        type:
          - "null"
          - string
        format: date-time
      creditedToUser:
        type:
          - "null"
          - object
      currentInterviewStage:
        type:
          - "null"
          - object
      customFields:
        type:
          - "null"
          - array
      hiringTeam:
        type:
          - "null"
          - array
      id:
        type:
          - "null"
          - string
      job:
        type:
          - "null"
          - object
      status:
        type:
          - "null"
          - string
      updatedAt:
        type:
          - "null"
          - string
        format: date-time
  archive_reasons:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      isArchived:
        type:
          - "null"
          - boolean
      reasonType:
        type:
          - "null"
          - string
      text:
        type:
          - "null"
          - string
  candidate_tags:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      isArchived:
        type:
          - "null"
          - boolean
      title:
        type:
          - "null"
          - string
  candidates:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      applicationIds:
        type:
          - "null"
          - array
      company:
        type:
          - "null"
          - string
      customFields:
        type:
          - "null"
          - array
      emailAddresses:
        type:
          - "null"
          - array
      fileHandles:
        type:
          - "null"
          - array
      id:
        type:
          - "null"
          - string
      name:
        type:
          - "null"
          - string
      phoneNumbers:
        type:
          - "null"
          - array
      position:
        type:
          - "null"
          - string
      primaryEmailAddress:
        type:
          - "null"
          - object
      resumeFileHandle:
        type:
          - "null"
          - object
      school:
        type:
          - "null"
          - string
      socialLinks:
        type:
          - "null"
          - array
      tags:
        type:
          - "null"
          - array
  custom_fields:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      fieldType:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      isArchived:
        type:
          - "null"
          - boolean
      objectType:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
  departments:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      isArchived:
        type:
          - "null"
          - boolean
      name:
        type:
          - "null"
          - string
      parentId:
        type:
          - "null"
          - string
  feedback_form_definitions:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      formDefinition:
        type:
          - "null"
          - object
      id:
        type:
          - "null"
          - string
      interviewId:
        type:
          - "null"
          - string
      isArchived:
        type:
          - "null"
          - boolean
      isDefaultForm:
        type:
          - "null"
          - boolean
      organizationId:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
  interview_schedules:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      applicationId:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      interviewStageId:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
  job_postings:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      departmentName:
        type:
          - "null"
          - string
      employmentType:
        type:
          - "null"
          - string
      externalLink:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      isListed:
        type:
          - "null"
          - boolean
      jobId:
        type:
          - "null"
          - string
      locationIds:
        type:
          - "null"
          - object
      locationName:
        type:
          - "null"
          - string
      publishedDate:
        type:
          - "null"
          - string
        format: date-time
      teamName:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
  jobs:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      confidential:
        type:
          - "null"
          - boolean
      customFields:
        type:
          - "null"
          - array
      customRequisitionId:
        type:
          - "null"
          - string
      defaultInterviewPlanId:
        type:
          - "null"
          - string
      departmentId:
        type:
          - "null"
          - string
      employmentType:
        type:
          - "null"
          - string
      hiringTeam:
        type:
          - "null"
          - array
      id:
        type:
          - "null"
          - string
      interviewPlanIds:
        type:
          - "null"
          - array
      jobPostingIds:
        type:
          - "null"
          - array
      locationId:
        type:
          - "null"
          - string
      status:
        type:
          - "null"
          - string
      title:
        type:
          - "null"
          - string
  locations:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      address:
        type:
          - "null"
          - object
      id:
        type:
          - "null"
          - string
      isArchived:
        type:
          - "null"
          - boolean
      isRemote:
        type:
          - "null"
          - boolean
      name:
        type:
          - "null"
          - string
  offers:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      acceptanceStatus:
        type:
          - "null"
          - string
      applicationId:
        type:
          - "null"
          - string
      decidedAt:
        type:
          - "null"
          - string
        format: date-time
      id:
        type:
          - "null"
          - string
      latestVersion:
        type:
          - "null"
          - object
  sources:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - "null"
          - string
      isArchived:
        type:
          - "null"
          - boolean
      title:
        type:
          - "null"
          - string
  users:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      email:
        type:
          - "null"
          - string
      firstName:
        type:
          - "null"
          - string
      id:
        type:
          - "null"
          - string
      lastName:
        type:
          - "null"
          - string
