version: 4.1.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - events

definitions:
  base_stream:
    type: DeclarativeStream
    primary_key:
      - id
    retriever:
      $ref: "#/definitions/base_retriever"
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_stripe/schemas/{{ parameters['name'] }}.json"
  base_retriever:
    type: SimpleRetriever
    requester:
      $ref: "#/definitions/base_requester"
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path:
          - data
    paginator:
      $ref: "#/definitions/base_paginator"
  base_requester:
    type: HttpRequester
    url_base: https://api.stripe.com/v1
    authenticator:
      $ref: "#/definitions/bearer_authenticator"
    http_method: GET
    request_headers:
      Stripe-Version: "2022-11-15"
      Stripe-Account: '{{ config.get("account_id") }}'
  bearer_authenticator:
    type: BearerAuthenticator
    api_token: "{{ config['client_secret'] }}"
  base_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: starting_after
    page_size_option:
      type: RequestOption
      field_name: limit
      inject_into: request_parameter
    pagination_strategy:
      type: CursorPagination
      page_size: 100
      cursor_value: '{{ response["data"][-1]["id"] }}'
      stop_condition: '{{ not response.get("has_more", False) }}'
  base_incremental_sync:
    type: DatetimeBasedCursor
    is_client_side_incremental: true
    cursor_datetime_formats:
      - "%s"
    datetime_format: "%s"
    step: P365D
    cursor_granularity: P1D
    lookback_window: P{{ config.get('lookback_window', 0) }}D
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ format_datetime(config['start_date'], '%Y-%m-%dT%H:%M:%S%z') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    start_time_option:
      type: RequestOption
      field_name: "created[gte]"
      inject_into: "request_parameter"
    end_time_option:
      type: RequestOption
      field_name: "created[lte]"
      inject_into: "request_parameter"

  events_objects_retriever:
    $ref: "#/definitions/base_retriever"
    requester:
      $ref: "#/definitions/base_requester"
      path: events
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path:
          - data
          - "*"
          - data
          - object

  created_stream:
    $ref: "#/definitions/base_stream"
    incremental_sync:
      $ref: "#/definitions/created_incremental_sync"
  created_incremental_sync:
    $ref: "#/definitions/base_incremental_sync"
    cursor_field: created

  updated_stream:
    $ref: "#/definitions/base_stream"
    incremental_sync:
      $ref: "#/definitions/updated_incremental_sync"
    transformations:
      - type: AddFields
        fields:
          - path: ["updated"]
            value: "{{ record['created'] }}"
  updated_incremental_sync:
    $ref: "#/definitions/base_incremental_sync"
    cursor_field: updated

  streams:
    events:
      $ref: "#/definitions/created_stream"
      $parameters:
        path: events
        name: events
    shipping_rates:
      $ref: "#/definitions/created_stream"
      $parameters:
        path: shipping_rates
        name: shipping_rates
    balance_transactions:
      $ref: "#/definitions/created_stream"
      $parameters:
        path: balance_transactions
        name: balance_transactions
    files:
      $ref: "#/definitions/created_stream"
      $parameters:
        path: files
        name: files
    file_links:
      $ref: "#/definitions/created_stream"
      $parameters:
        path: file_links
        name: file_links

    external_account_bank_accounts:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: external_account_bank_accounts
      retriever:
        type: StateDelegatingRetriever
        ignore_first_request_options_provider: true
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            record_filter:
              condition: "{{ record['object'] == 'bank_account' }}"
            path: "{{ 'accounts/' + config['account_id'] + '/external_accounts'}}"
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["account.external_account.created", "account.external_account.updated", "account.external_account.deleted"]}}'
              object: "bank_account"

    external_account_cards:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: external_account_cards
      retriever:
        type: StateDelegatingRetriever
        ignore_first_request_options_provider: true
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            record_filter:
              condition: "{{ record['object'] == 'card' }}"
            path: "{{ 'accounts/' + config['account_id'] + '/external_accounts'}}"
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["account.external_account.created", "account.external_account.updated", "account.external_account.deleted"]}}'
              object: "card"

    accounts:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: accounts
      retriever:
        type: StateDelegatingRetriever
        ignore_first_request_options_provider: true
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: accounts
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["account.updated", "account.external_account.created", "account.external_account.updated", "account.external_account.deleted"]}}'

    application_fees_refunds:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: application_fees_refunds
      retriever:
        type: StateDelegatingRetriever
        ignore_first_request_options_provider: true
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: "{{ 'application_fees/' + stream_slice['parent']['id'] + '/refunds'}}"
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["application_fee.refund.updated"]}}'

    checkout_sessions:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: checkout_sessions
      retriever:
        type: StateDelegatingRetriever
        ignore_first_request_options_provider: true
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: checkout/sessions
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["checkout.session.async_payment_failed", "checkout.session.async_payment_succeeded", "checkout.session.completed", "checkout.session.expired"]}}'

    credit_notes:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: credit_notes
      retriever:
        type: StateDelegatingRetriever
        ignore_first_request_options_provider: true
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: credit_notes
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["credit_note.created", "credit_note.updated", "credit_note.voided"]}}'

    early_fraud_warnings:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: accounts
      retriever:
        type: StateDelegatingRetriever
        ignore_first_request_options_provider: true
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: "radar/early_fraud_warnings"
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["radar.early_fraud_warning.created", "radar.early_fraud_warning.updated"]}}'

    setup_intents:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: setup_intents
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: setup_intents
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["setup_intent.canceled", "setup_intent.created", "setup_intent.requires_action", "setup_intent.setup_failed", "setup_intent.succeeded"]}}'

    refunds:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: refunds
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: refunds
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["refund.created", "refund.updated", "charge.refund.updated"]}}'

    authorizations:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: authorizations
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: issuing/authorizations
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["issuing_authorization.created", "issuing_authorization.request", "issuing_authorization.updated"]}}'

    cardholders:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: cardholders
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: issuing/cardholders
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["issuing_cardholder.created", "issuing_cardholder.updated"]}}'

    coupons:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: coupons
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: coupons
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["coupon.created", "coupon.updated", "coupon.deleted"]}}'

    disputes:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: disputes
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: disputes
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["charge.dispute.closed", "charge.dispute.created", "charge.dispute.funds_reinstated", "charge.dispute.funds_withdrawn", "charge.dispute.updated"]}}'

    invoice_items:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: invoice_items
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: invoiceitems
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["invoiceitem.created", "invoiceitem.updated", "invoiceitem.deleted"]}}'

    prices:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: prices
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: prices
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["price.created", "price.updated", "price.deleted"]}}'

    reviews:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: reviews
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: reviews
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["review.closed", "review.opened"]}}'

    subscription_schedule:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: subscription_schedule
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: subscription_schedules
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["subscription_schedule.aborted", "subscription_schedule.canceled", "subscription_schedule.completed", "subscription_schedule.created", "subscription_schedule.expiring", "subscription_schedule.released", "subscription_schedule.updated"]}}'

    payment_intents:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: payment_intents
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: payment_intents
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["payment_intent.amount_capturable_updated", "payment_intent.canceled", "payment_intent.created", "payment_intent.partially_funded", "payment_intent.payment_failed", "payment_intent.processing", "payment_intent.requires_action", "payment_intent.succeeded"]}}'

    promotion_codes:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: promotion_codes
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: promotion_codes
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["promotion_code.created", "promotion_code.updated"]}}'

    cards:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: cards
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: issuing/cards
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["issuing_card.created", "issuing_card.updated"]}}'

    transactions:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: transactions
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: issuing/transactions
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["issuing_transaction.created", "issuing_transaction.updated"]}}'

    top_ups:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: top_ups
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: topups
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["topup.canceled", "topup.created", "topup.failed", "topup.reversed", "topup.succeeded"]}}'

    customers:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: customers
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: customers
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["customer.created", "customer.updated", "customer.deleted"]}}'

    products:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: products
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: products
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["product.created", "product.updated", "product.deleted"]}}'

    plans:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: plans
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: plans
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["plan.created", "plan.updated", "plan.deleted"]}}'
              expand[]: '{{["data.tiers"]}}'

    charges:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: charges
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: charges
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["charge.captured", "charge.expired", "charge.failed", "charge.pending", "charge.refunded", "charge.refund.updated", "charge.succeeded", "charge.updated"]}}'
              expand[]: '{{["data.refunds"]}}'

    transfers:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: transfers
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: transfers
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["transfer.created", "transfer.reversed", "transfer.updated"]}}'

    application_fees:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: application_fees
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: application_fees
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["application_fee.created", "application_fee.refunded"]}}'

    payouts:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: payouts
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: payouts
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["payout.canceled", "payout.created", "payout.failed", "payout.paid", "payout.reconciliation_completed", "payout.updated"]}}'

    subscriptions:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: subscriptions
      retriever:
        type: StateDelegatingRetriever
        full_data_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: subscriptions
        incremental_data_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["customer.subscription.created", "customer.subscription.paused", "customer.subscription.pending_update_applied", "customer.subscription.pending_update_expired", "customer.subscription.resumed", "customer.subscription.trial_will_end", "customer.subscription.updated", "customer.subscription.deleted"]}}'
              status: "all"

streams:
  #  - $ref: "#/definitions/streams/charges"
  #  - $ref: "#/definitions/streams/plans"
  #  - $ref: "#/definitions/streams/products"
  #  - $ref: "#/definitions/streams/customers"
  #  - $ref: "#/definitions/streams/top_ups"
  #  - $ref: "#/definitions/streams/transactions"
  #  - $ref: "#/definitions/streams/cards"
  #  - $ref: "#/definitions/streams/promotion_codes"
  #  - $ref: "#/definitions/streams/payment_intents"
  #  - $ref: "#/definitions/streams/subscription_schedule"
  #  - $ref: "#/definitions/streams/reviews"
  #  - $ref: "#/definitions/streams/prices"
  #  - $ref: "#/definitions/streams/invoice_items"
  #  - $ref: "#/definitions/streams/payment_intents"
  #  - $ref: "#/definitions/streams/disputes"
  #  - $ref: "#/definitions/streams/coupons"
  #  - $ref: "#/definitions/streams/cardholders"
  #  - $ref: "#/definitions/streams/authorizations"
  #  - $ref: "#/definitions/streams/refunds"
  - $ref: "#/definitions/streams/setup_intents"
  - $ref: "#/definitions/streams/external_account_cards"
  - $ref: "#/definitions/streams/external_account_bank_accounts"
#  - $ref: "#/definitions/streams/events"

spec:
  type: Spec
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: Stripe Source Spec
    type: object
    required:
      - client_secret
      - account_id
    properties:
      account_id:
        type: string
        title: Account ID
        description: >-
          Your Stripe account ID (starts with 'acct_', find yours <a
          href="https://dashboard.stripe.com/settings/account">here</a>).
        order: 0
      client_secret:
        type: string
        title: Secret Key
        description: >-
          Stripe API key (usually starts with 'sk_live_'; find yours <a
          href="https://dashboard.stripe.com/apikeys">here</a>).
        airbyte_secret: true
        order: 1
      start_date:
        type: string
        title: Replication start date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00Z. Only data generated
          after this date will be replicated.
        default: "2017-01-25T00:00:00Z"
        examples:
          - "2017-01-25T00:00:00Z"
        format: date-time
        order: 2
      lookback_window_days:
        type: integer
        title: Lookback Window in days
        default: 0
        minimum: 0
        description: >-
          When set, the connector will always re-export data from the past N days,
          where N is the value set here. This is useful if your data is frequently updated
          after creation. The Lookback Window only applies to streams that do not support event-based incremental syncs: Events,
          SetupAttempts, ShippingRates, BalanceTransactions, Files, FileLinks, Refunds. More info <a
          href="https://docs.airbyte.com/integrations/sources/stripe#requirements">here</a>
        order: 3
      slice_range:
        type: integer
        title: Data request time increment in days
        default: 365
        minimum: 1
        examples: [1, 3, 10, 30, 180, 360]
        description: >-
          The time increment used by the connector when requesting data from the Stripe API. The bigger the value is,
          the less requests will be made and faster the sync will be. On the other hand, the more seldom
          the state is persisted.
        order: 4
      num_workers:
        type: integer
        title: Number of concurrent workers
        minimum: 1
        maximum: 20
        default: 10
        examples: [1, 2, 3]
        description: >-
          The number of worker thread to use for the sync.
          The performance upper boundary depends on call_rate_limit setting and type of account.
        order: 5
      call_rate_limit:
        type: integer
        title: Max number of API calls per second
        examples: [25, 100]
        description: >-
          The number of API calls per second that you allow connector to make. This value can not be bigger than real
          API call rate limit (https://stripe.com/docs/rate-limits). If not specified the default maximum is 25 and 100
          calls per second for test and production tokens respectively.
