version: 6.33.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - accounts

definitions:
  # base components
  base_stream:
    type: DeclarativeStream
    primary_key:
      - id
    retriever:
      $ref: "#/definitions/base_retriever"
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_stripe/schemas/{{ parameters['name'] }}.json"

  base_retriever:
    type: SimpleRetriever
    requester:
      $ref: "#/definitions/base_requester"
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path:
          - data
      schema_normalization: Default
    paginator:
      $ref: "#/definitions/base_paginator"

  base_requester:
    type: HttpRequester
    url_base: https://api.stripe.com/v1
    use_cache: true
    authenticator:
      $ref: "#/definitions/bearer_authenticator"
    http_method: GET
    request_headers:
      Stripe-Version: "2022-11-15"
      Stripe-Account: '{{ config.get("account_id") }}'
    error_handler:
      type: CompositeErrorHandler
      error_handlers:
        - type: DefaultErrorHandler
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 403


  bearer_authenticator:
    type: BearerAuthenticator
    api_token: "{{ config['client_secret'] }}"

  base_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: starting_after
    page_size_option:
      type: RequestOption
      field_name: limit
      inject_into: request_parameter
    pagination_strategy:
      type: CursorPagination
      page_size: 100
      cursor_value: '{{ response["data"][-1]["id"] }}'
      stop_condition: '{{ not response.get("has_more", False) }}'

  base_incremental_sync:
    type: DatetimeBasedCursor
    cursor_datetime_formats:
      - "%s"
    datetime_format: "%s"
    step: P{{ config.get('slice_range', 365) }}D
    cursor_granularity: PT1S
    lookback_window: P{{ config.get('lookback_window_days', 0) }}D
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ format_datetime(config.get('start_date', '2017-01-25T00:00:00Z'), '%Y-%m-%dT%H:%M:%S%z') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      min_datetime: "{{ (now_utc() - duration('P30D')).strftime('%Y-%m-%dT%H:%M:%SZ') }}"
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    start_time_option:
      type: RequestOption
      field_name: "created[gte]"
      inject_into: "request_parameter"
    end_time_option:
      type: RequestOption
      field_name: "created[lte]"
      inject_into: "request_parameter"

  # created flow component
  created_stream:
    $ref: "#/definitions/base_stream"
    incremental_sync:
      $ref: "#/definitions/created_incremental_sync"

  created_incremental_sync:
    $ref: "#/definitions/base_incremental_sync"
    cursor_field: created

  updated_stream:
    $ref: "#/definitions/base_stream"
    incremental_sync:
      $ref: "#/definitions/updated_incremental_sync"
    transformations:
      - type: AddFields
        fields:
          - path: [ "updated" ]
            value: "{{ record['created'] }}"

  updated_incremental_sync:
    $ref: "#/definitions/base_incremental_sync"
    cursor_field: updated

  events_objects_retriever:
    $ref: "#/definitions/base_retriever"
    requester:
      $ref: "#/definitions/base_requester"
      path: events
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path:
          - data
          - "*"
          - data
          - object

  streams:
    events:
      $ref: "#/definitions/created_stream"
      $parameters:
        path: events
        name: events
    shipping_rates:
      $ref: "#/definitions/created_stream"
      $parameters:
        path: shipping_rates
        name: shipping_rates
    balance_transactions:
      $ref: "#/definitions/created_stream"
      $parameters:
        path: balance_transactions
        name: balance_transactions
    files:
      $ref: "#/definitions/created_stream"
      $parameters:
        path: files
        name: files
    file_links:
      $ref: "#/definitions/created_stream"
      $parameters:
        path: file_links
        name: file_links
















    customers:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: customers
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: customers
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["customer.created", "customer.updated", "customer.deleted"]}}'

    subscriptions:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: subscriptions
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: subscriptions
          requester:
            $ref: "#/definitions/base_requester"
            request_parameters:
              status: "all"
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["customer.subscription.created", "customer.subscription.paused", "customer.subscription.pending_update_applied", "customer.subscription.pending_update_expired", "customer.subscription.resumed", "customer.subscription.trial_will_end", "customer.subscription.updated", "customer.subscription.deleted"]}}'
              status: "all"

    invoices:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: invoices
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: invoices
          requester:
            $ref: "#/definitions/base_requester"
            request_parameters:
              expand[]: '{{["data.discounts", "data.total_tax_amounts.tax_rate"]}}'
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["invoice.created", "invoice.deleted", "invoice.finalization_failed", "invoice.finalized", "invoice.marked_uncollectible", "invoice.overdue", "invoice.paid", "invoice.payment_action_required", "invoice.payment_failed", "invoice.payment_succeeded", "invoice.sent", "invoice.updated", "invoice.voided", "invoice.will_be_due"]}}'
              expand[]: '{{["data.discounts", "data.total_tax_amounts.tax_rate"]}}'

    transfers:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: transfers
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: transfers
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["transfer.created", "transfer.reversed", "transfer.updated"]}}'

    refunds:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: refunds
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: refunds
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["refund.created", "refund.updated", "charge.refund.updated"]}}'

    authorizations:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: authorizations
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: issuing/authorizations
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["issuing_authorization.created", "issuing_authorization.request", "issuing_authorization.updated"]}}'

    cardholders:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: cardholders
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: issuing/cardholders
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["issuing_cardholder.created", "issuing_cardholder.updated"]}}'

    charges:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: charges
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: charges
          requester:
            $ref: "#/definitions/base_requester"
            request_parameters:
              expand[]: '{{["data.refunds"]}}'
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["charge.captured", "charge.expired", "charge.failed", "charge.pending", "charge.refunded", "charge.refund.updated", "charge.succeeded", "charge.updated"]}}'
              expand[]: '{{["data.refunds"]}}'

    coupons:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: coupons
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: coupons
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["coupon.created", "coupon.updated", "coupon.deleted"]}}'

    disputes:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: disputes
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: disputes
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["charge.dispute.closed", "charge.dispute.created", "charge.dispute.funds_reinstated", "charge.dispute.funds_withdrawn", "charge.dispute.updated"]}}'

    application_fees:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: application_fees
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: application_fees
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["application_fee.created", "application_fee.refunded"]}}'

    invoice_items:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: invoice_items
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: invoiceitems
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["invoiceitem.created", "invoiceitem.updated", "invoiceitem.deleted"]}}'
      transformations:
        - type: AddFields
          fields:
            - path:
                - updated
              value: "{{ record['date'] if not record['updated'] else record['updated'] }}"
              value_type: integer

    payouts:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: payouts
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: payouts
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["payout.canceled", "payout.created", "payout.failed", "payout.paid", "payout.reconciliation_completed", "payout.updated"]}}'

    plans:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: plans
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: plans
          requester:
            $ref: "#/definitions/base_requester"
            request_parameters:
              expand[]: '{{["data.tiers"]}}'
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["plan.created", "plan.updated", "plan.deleted"]}}'
              expand[]: '{{["data.tiers"]}}'

    prices:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: prices
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: prices
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["price.created", "price.updated", "price.deleted"]}}'

    products:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: products
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: products
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["product.created", "product.updated", "product.deleted"]}}'

    reviews:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: reviews
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: reviews
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["review.closed", "review.opened"]}}'

    subscription_schedule:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: subscription_schedule
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: subscription_schedules
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["subscription_schedule.aborted", "subscription_schedule.canceled", "subscription_schedule.completed", "subscription_schedule.created", "subscription_schedule.expiring", "subscription_schedule.released", "subscription_schedule.updated"]}}'

    payment_intents:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: payment_intents
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: payment_intents
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["payment_intent.amount_capturable_updated", "payment_intent.canceled", "payment_intent.created", "payment_intent.partially_funded", "payment_intent.payment_failed", "payment_intent.processing", "payment_intent.requires_action", "payment_intent.succeeded"]}}'

    promotion_codes:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: promotion_codes
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: promotion_codes
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["promotion_code.created", "promotion_code.updated"]}}'

    setup_intents:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: setup_intents
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: setup_intents
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["setup_intent.canceled", "setup_intent.created", "setup_intent.requires_action", "setup_intent.setup_failed", "setup_intent.succeeded"]}}'

    cards:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: cards
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: issuing/cards
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["issuing_card.created", "issuing_card.updated"]}}'

    transactions:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: transactions
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: issuing/transactions
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["issuing_transaction.created", "issuing_transaction.updated"]}}'

    top_ups:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: top_ups
      retriever:
        type: StateDelegatingRetriever
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: topups
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["topup.canceled", "topup.created", "topup.failed", "topup.reversed", "topup.succeeded"]}}'









    accounts:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: accounts
      retriever:
        type: StateDelegatingRetriever
        full_refresh_no_slice_in_params: true
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: accounts
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["account.updated", "account.external_account.created", "account.external_account.updated", "account.external_account.deleted"]}}'
      transformations:
        - type: AddFields
          fields:
            - path: [ "updated" ]
              value: "{{ record['created'] or  format_datetime(config.get('start_date', '2017-01-25T00:00:00Z'), '%s') }}"


    checkout_sessions:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: checkout_sessions
      retriever:
        type: StateDelegatingRetriever
        full_refresh_no_slice_in_params: true
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: checkout/sessions
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["checkout.session.async_payment_failed", "checkout.session.async_payment_succeeded", "checkout.session.completed", "checkout.session.expired"]}}'

    external_account_cards:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: external_account_cards
      retriever:
        type: StateDelegatingRetriever
        full_refresh_no_slice_in_params: true
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: accounts/{{ config["account_id"] }}/external_accounts
          requester:
            $ref: "#/definitions/base_requester"
            request_parameters:
              object: "card"
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["account.external_account.created", "account.external_account.updated", "account.external_account.deleted"]}}'
              object: "card"
          record_selector:
            type: RecordSelector
            extractor:
              type: DpathExtractor
              field_path:
                - data
                - "*"
                - data
                - object
            record_filter:
              condition: "{{ record['object'] == 'card' }}"

    external_account_bank_accounts:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: external_account_bank_accounts
      retriever:
        type: StateDelegatingRetriever
        full_refresh_no_slice_in_params: true
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: accounts/{{ config["account_id"] }}/external_accounts
          requester:
            $ref: "#/definitions/base_requester"
            request_parameters:
              object: "bank_account"
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["account.external_account.created", "account.external_account.updated", "account.external_account.deleted"]}}'
              object: "bank_account"
          record_selector:
            type: RecordSelector
            extractor:
              type: DpathExtractor
              field_path:
                - data
                - "*"
                - data
                - object
            record_filter:
              condition: "{{ record['object'] == 'bank_account' }}"

    credit_notes:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: credit_notes
      retriever:
        type: StateDelegatingRetriever
        full_refresh_no_slice_in_params: true
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: credit_notes
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["credit_note.created", "credit_note.updated", "credit_note.voided"]}}'

    early_fraud_warnings:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: early_fraud_warnings
      retriever:
        type: StateDelegatingRetriever
        full_refresh_no_slice_in_params: true
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: early_fraud_warnings
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["radar.early_fraud_warning.created", "radar.early_fraud_warning.updated"]}}'


















    persons:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: persons
      retriever:
        type: StateDelegatingRetriever
        full_refresh_no_slice_in_params: true
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          partition_router:
            type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: "#/definitions/streams/accounts"
          $parameters:
            path: accounts/{{stream_partition.account_id}}/persons
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["person.created", "person.updated", "person.deleted"]}}'

    payment_methods:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: payment_methods
      retriever:
        type: StateDelegatingRetriever
        full_refresh_no_slice_in_params: true
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          partition_router:
            type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: customer_id
                stream:
                  $ref: "#/definitions/streams/customers"
          $parameters:
            path: customers/{{stream_partition.customer_id}}/payment_methods
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["payment_method.*"]}}'














    customer_balance_transactions:
      $ref: "#/definitions/created_stream"
      $parameters:
        name: customer_balance_transactions
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          $ref: "#/definitions/base_paginator"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: customer_id
              stream:
                $ref: "#/definitions/streams/customers"
              incremental_dependency: true
        $parameters:
          path: customers/{{stream_partition.customer_id}}/balance_transactions
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        lookback_window: P{{ config.get('lookback_window_days', 0) }}D
        global_substream_cursor: true
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config.get('start_date', '2017-01-25T00:00:00Z'), '%Y-%m-%dT%H:%M:%S%z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"

    payout_balance_transactions:
      $ref: "#/definitions/created_stream"
      $parameters:
        name: payout_balance_transactions
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          request_parameters:
            "payout": "{{stream_partition.payout_id}}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 400
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          $ref: "#/definitions/base_paginator"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: payout_id
              stream:
                $ref: "#/definitions/streams/payouts"
              incremental_dependency: true
        $parameters:
          path: balance_transactions
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        lookback_window: P{{ config.get('lookback_window_days', 0) }}D
        global_substream_cursor: true
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config.get('start_date', '2017-01-25T00:00:00Z'), '%Y-%m-%dT%H:%M:%S%z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"

    checkout_sessions_line_items:
      $ref: "#/definitions/created_stream"
      $parameters:
        name: checkout_sessions_line_items
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          request_parameters:
            expand[]: '{{["data.discounts", "data.taxes"]}}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          $ref: "#/definitions/base_paginator"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: checkout_session_id
              stream:
                $ref: "#/definitions/streams/checkout_sessions"
              incremental_dependency: true
              extra_fields:
                - [ "updated" ]
                - [ "created" ]
                - [ "expires_at" ]
        $parameters:
          path: checkout/sessions/{{ stream_partition.checkout_session_id }}/line_items
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: checkout_session_updated
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        lookback_window: P{{ config.get('lookback_window_days', 0) }}D
        global_substream_cursor: true
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config.get('start_date', '2017-01-25T00:00:00Z'), '%Y-%m-%dT%H:%M:%S%z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      transformations:
        - type: AddFields
          fields:
            - path:
                - checkout_session_id
              value: "{{ stream_partition.checkout_session_id }}"
            - path:
                - checkout_session_created
              value: "{{ stream_partition.created }}"
            - path:
                - checkout_session_updated
              value: "{{ stream_partition.updated }}"
            - path:
                - checkout_session_expires_at
              value: "{{ stream_partition.expires_at }}"

    transfer_reversals:
      $ref: "#/definitions/created_stream"
      $parameters:
        name: transfer_reversals
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          $ref: "#/definitions/base_paginator"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: transfer_id
              stream:
                $ref: "#/definitions/streams/transfers"
              incremental_dependency: true
        $parameters:
          path: transfers/{{ stream_partition.transfer_id }}/reversals
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        lookback_window: P{{ config.get('lookback_window_days', 0) }}D
        global_substream_cursor: true
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config.get('start_date', '2017-01-25T00:00:00Z'), '%Y-%m-%dT%H:%M:%S%z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"













    subscription_items:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: subscription_items
      retriever:
        type: StateDelegatingRetriever
        full_refresh_no_slice_in_params: true
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          requester:
            $ref: "#/definitions/base_requester"
            request_parameters:
              subscription: "{{stream_partition.subscription_id}}"
          partition_router:
            type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: subscription_id
                stream:
                  $ref: "#/definitions/streams/subscriptions"
          $parameters:
            path: subscription_items
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["customer.subscription.created", "customer.subscription.updated"]}}'
              subscription: "{{stream_partition.subscription_id}}"

    invoice_line_items:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: invoice_line_items
      retriever:
        type: StateDelegatingRetriever
        full_refresh_no_slice_in_params: true
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          partition_router:
            type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: invoice_id
                stream:
                  $ref: "#/definitions/streams/invoices"
                extra_fields:
                  - [ "updated" ]
          $parameters:
            path: invoices/{{stream_partition.invoice_id}}/lines
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["invoice.created", "invoice.deleted", "invoice.updated"]}}'
      incremental_sync:
        $ref: "#/definitions/base_incremental_sync"
        cursor_field: invoice_updated
      transformations:
        - type: AddFields
          fields:
            - path:
                - invoice_updated
              value: "{{ stream_slice.extra_fields.updated }}"

    application_fees_refunds:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: application_fees_refunds
      retriever:
        type: StateDelegatingRetriever
        full_refresh_no_slice_in_params: true
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          partition_router:
            type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: application_fee_id
                stream:
                  $ref: "#/definitions/streams/application_fees"
          $parameters:
            path: application_fees/{{ stream_partition.application_fee_id }}/refunds
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["application_fee.refund.updated"]}}'

    bank_accounts:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: bank_accounts
      retriever:
        type: StateDelegatingRetriever
        full_refresh_no_slice_in_params: true
        full_refresh_ignore_min_max_datetime: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          partition_router:
            type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: application_fee_id
                stream:
                  $ref: "#/definitions/streams/customers"
          $parameters:
            path: application_fees/{{ stream_partition.application_fee_id }}/refunds
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["customer.source.created", "customer.source.expiring", "customer.source.updated", "customer.source.deleted"]}}'
          record_selector:
            type: RecordSelector
            extractor:
              type: DpathExtractor
              field_path:
                - data
                - "*"
                - data
                - object
            record_filter:
              condition: "{{ record['object'] == 'bank_account' }}"





    setup_attempts:
      $ref: "#/definitions/created_stream"
      $parameters:
        path: setup_attempts
        name: setup_attempts
      retriever:
        $ref: "#/definitions/base_retriever"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: setup_intent_id
              stream:
                $ref: "#/definitions/streams/setup_intents"
        requester:
          $ref: "#/definitions/base_requester"
          request_parameters:
            setup_intent: "{{  stream_partition.setup_intent_id  }}"


    usage_records:
      $ref: "#/definitions/base_stream"
      $parameters:
        name: usage_records
      retriever:
        $ref: "#/definitions/base_retriever"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: subscription_item_id
              stream:
                $ref: "#/definitions/streams/subscription_items"
        requester:
          $ref: "#/definitions/base_requester"
          path: subscription_items/{{ stream_partition.subscription_item_id }}/usage_record_summaries










streams:
## CreatedCursorIncrementalStripeStream
#  - $ref: "#/definitions/streams/events"
#  - $ref: "#/definitions/streams/shipping_rates"
#  - $ref: "#/definitions/streams/balance_transactions"
#  - $ref: "#/definitions/streams/files"
#  - $ref: "#/definitions/streams/file_links"
#
## IncrementalStripeStream
#  - $ref: "#/definitions/streams/customers"
#  - $ref: "#/definitions/streams/subscriptions"
#  - $ref: "#/definitions/streams/invoices"
#  - $ref: "#/definitions/streams/transfers"
#  - $ref: "#/definitions/streams/refunds"
#  - $ref: "#/definitions/streams/authorizations"
#  - $ref: "#/definitions/streams/cardholders"
#  - $ref: "#/definitions/streams/charges"
#  - $ref: "#/definitions/streams/coupons"
#  - $ref: "#/definitions/streams/disputes"
  - $ref: "#/definitions/streams/application_fees"
#  - $ref: "#/definitions/streams/invoice_items"
#  - $ref: "#/definitions/streams/payouts"
#  - $ref: "#/definitions/streams/plans"
#  - $ref: "#/definitions/streams/prices"
#  - $ref: "#/definitions/streams/products"
#  - $ref: "#/definitions/streams/reviews"
#  - $ref: "#/definitions/streams/subscription_schedule"
#  - $ref: "#/definitions/streams/payment_intents"
#  - $ref: "#/definitions/streams/promotion_codes"
#  - $ref: "#/definitions/streams/setup_intents"
#  - $ref: "#/definitions/streams/cards"
#  - $ref: "#/definitions/streams/transactions"
#  - $ref: "#/definitions/streams/top_ups"
#
## UpdatedCursorIncrementalStripeStream
#  - $ref: "#/definitions/streams/accounts"
#  - $ref: "#/definitions/streams/checkout_sessions"
#  - $ref: "#/definitions/streams/external_account_cards"
#  - $ref: "#/definitions/streams/external_account_bank_accounts"
#  - $ref: "#/definitions/streams/credit_notes"
#  - $ref: "#/definitions/streams/early_fraud_warnings"
#
## UpdatedCursorIncrementalStripeSubStream
#  - $ref: "#/definitions/streams/payment_methods"
#  - $ref: "#/definitions/streams/persons"
#
## ParentIncrementalStripeSubStream
#  - $ref: "#/definitions/streams/customer_balance_transactions"
#  - $ref: "#/definitions/streams/payout_balance_transactions"
#  - $ref: "#/definitions/streams/checkout_sessions_line_items"
#  - $ref: "#/definitions/streams/transfer_reversals"
#
## UpdatedCursorIncrementalStripeLazySubStream
#  - $ref: "#/definitions/streams/subscription_items"
#  - $ref: "#/definitions/streams/invoice_line_items"
#  - $ref: "#/definitions/streams/application_fees_refunds"
#  - $ref: "#/definitions/streams/bank_accounts"
#
#
#  - $ref: "#/definitions/streams/setup_attempts"
#  - $ref: "#/definitions/streams/usage_records"




spec:
  type: Spec
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: Stripe Source Spec
    type: object
    required:
      - client_secret
      - account_id
    properties:
      account_id:
        type: string
        title: Account ID
        description: >-
          Your Stripe account ID (starts with 'acct_', find yours <a
          href="https://dashboard.stripe.com/settings/account">here</a>).
        order: 0
      client_secret:
        type: string
        title: Secret Key
        description: >-
          Stripe API key (usually starts with 'sk_live_'; find yours <a
          href="https://dashboard.stripe.com/apikeys">here</a>).
        airbyte_secret: true
        order: 1
      start_date:
        type: string
        title: Replication start date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00Z. Only data generated
          after this date will be replicated.
        default: "2017-01-25T00:00:00Z"
        examples:
          - "2017-01-25T00:00:00Z"
        format: date-time
        order: 2
      lookback_window_days:
        type: integer
        title: Lookback Window in days
        default: 0
        minimum: 0
        description: >-
          When set, the connector will always re-export data from the past N days,
          where N is the value set here. This is useful if your data is frequently updated
          after creation. The Lookback Window only applies to streams that do not support event-based incremental syncs: Events,
          SetupAttempts, ShippingRates, BalanceTransactions, Files, FileLinks, Refunds. More info <a
          href="https://docs.airbyte.com/integrations/sources/stripe#requirements">here</a>
        order: 3
      slice_range:
        type: integer
        title: Data request time increment in days
        default: 365
        minimum: 1
        examples: [1, 3, 10, 30, 180, 360]
        description: >-
          The time increment used by the connector when requesting data from the Stripe API. The bigger the value is,
          the less requests will be made and faster the sync will be. On the other hand, the more seldom
          the state is persisted.
        order: 4
      num_workers:
        type: integer
        title: Number of concurrent workers
        minimum: 1
        maximum: 20
        default: 10
        examples: [1, 2, 3]
        description: >-
          The number of worker thread to use for the sync.
          The performance upper boundary depends on call_rate_limit setting and type of account.
        order: 5
      call_rate_limit:
        type: integer
        title: Max number of API calls per second
        examples: [25, 100]
        description: >-
          The number of API calls per second that you allow connector to make. This value can not be bigger than real
          API call rate limit (https://stripe.com/docs/rate-limits). If not specified the default maximum is 25 and 100
          calls per second for test and production tokens respectively.

api_budget:
  type: HTTPAPIBudget
  policies:
    - type: MovingWindowCallRatePolicy
      rates:
        - limit: 20
          interval: PT1S
      matchers:
        - method: GET
          url_path_pattern: "^/v1/files($|/)" # matches '/files'
        - method: GET
          url_path_pattern: "^/v1/file_links($|/)" # matches '/file_links'

    - type: MovingWindowCallRatePolicy
      rates:
        - limit: "{{ 100 if 'sk_test_' in config['client_secret'] else 25 }}"
          interval: PT1S
      matchers: []
