version: 6.33.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - events

definitions:
  # base components
  base_stream:
    type: DeclarativeStream
    primary_key:
      - id
    retriever:
      $ref: "#/definitions/base_retriever"
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_stripe/schemas/{{ parameters['name'] }}.json"

  base_retriever:
    type: SimpleRetriever
    requester:
      $ref: "#/definitions/base_requester"
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path:
          - data
#      schema_normalization: Default
    paginator:
      $ref: "#/definitions/base_paginator"

  base_requester:
    type: HttpRequester
    url_base: https://api.stripe.com/v1
    use_cache: true
    authenticator:
      $ref: "#/definitions/bearer_authenticator"
    http_method: GET
    request_headers:
      Stripe-Version: "2022-11-15"
      Stripe-Account: '{{ config.get("account_id") }}'
    error_handler:
      type: CompositeErrorHandler
      error_handlers:
        - type: DefaultErrorHandler
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 403


  bearer_authenticator:
    type: BearerAuthenticator
    api_token: "{{ config['client_secret'] }}"

  base_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: starting_after
    page_size_option:
      type: RequestOption
      field_name: limit
      inject_into: request_parameter
    pagination_strategy:
      type: CursorPagination
      page_size: 100
      cursor_value: '{{ response["data"][-1]["id"] }}'
      stop_condition: '{{ not response.get("has_more", False) }}'

  base_incremental_sync:
    type: DatetimeBasedCursor
    cursor_datetime_formats:
      - "%s"
    datetime_format: "%s"
    step: P{{ config.get('slice_range', 365) }}D
    cursor_granularity: PT1S
    lookback_window: P{{ config.get('lookback_window_days', 0) }}D
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ format_datetime(config.get('start_date', '2017-01-25T00:00:00Z'), '%Y-%m-%dT%H:%M:%S%z') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    start_time_option:
      type: RequestOption
      field_name: "created[gte]"
      inject_into: "request_parameter"
    end_time_option:
      type: RequestOption
      field_name: "created[lte]"
      inject_into: "request_parameter"

  # created flow component
  created_stream:
    $ref: "#/definitions/base_stream"
    incremental_sync:
      $ref: "#/definitions/created_incremental_sync"

  created_incremental_sync:
    $ref: "#/definitions/base_incremental_sync"
    cursor_field: created

  updated_stream:
    $ref: "#/definitions/base_stream"
    incremental_sync:
      $ref: "#/definitions/updated_incremental_sync"
    transformations:
      - type: AddFields
        fields:
          - path: [ "updated" ]
            value: "{{ record['created'] }}"

  updated_incremental_sync:
    $ref: "#/definitions/base_incremental_sync"
    cursor_field: updated

  events_objects_retriever:
    $ref: "#/definitions/base_retriever"
    requester:
      $ref: "#/definitions/base_requester"
      path: events
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path:
          - data
          - "*"
          - data
          - object

  streams:
    events:
      $ref: "#/definitions/created_stream"
      $parameters:
        path: events
        name: events
    shipping_rates:
      $ref: "#/definitions/created_stream"
      $parameters:
        path: shipping_rates
        name: shipping_rates
    balance_transactions:
      $ref: "#/definitions/created_stream"
      $parameters:
        path: balance_transactions
        name: balance_transactions
    files:
      $ref: "#/definitions/created_stream"
      $parameters:
        path: files
        name: files
    file_links:
      $ref: "#/definitions/created_stream"
      $parameters:
        path: file_links
        name: file_links

    accounts:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: accounts
      retriever:
        type: StateDelegatingRetriever
        full_refresh_no_slice_in_params: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: accounts
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["account.updated", "account.external_account.created", "account.external_account.updated", "account.external_account.deleted"]}}'

    customers:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: customers
      retriever:
        type: StateDelegatingRetriever
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: customers
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["customer.created", "customer.updated", "customer.deleted"]}}'

    payouts:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: payouts
      retriever:
        type: StateDelegatingRetriever
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: payouts
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["payout.canceled", "payout.created", "payout.failed", "payout.paid", "payout.reconciliation_completed", "payout.updated"]}}'

    subscriptions:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: subscriptions
      retriever:
        type: StateDelegatingRetriever
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: subscriptions
          requester:
            $ref: "#/definitions/base_requester"
            request_parameters:
              status: "all"
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              request_parameters:
                types[]: '{{["customer.subscription.created", "customer.subscription.paused", "customer.subscription.pending_update_applied", "customer.subscription.pending_update_expired", "customer.subscription.resumed", "customer.subscription.trial_will_end", "customer.subscription.updated", "customer.subscription.deleted"]}}'
                status: "all"

    invoices:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: invoices
      retriever:
        type: StateDelegatingRetriever
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          $parameters:
            path: invoices
          requester:
            $ref: "#/definitions/base_requester"
            request_parameters:
              expand[]: '{{["data.discounts", "data.total_tax_amounts.tax_rate"]}}'
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["invoice.created", "invoice.deleted", "invoice.finalization_failed", "invoice.finalized", "invoice.marked_uncollectible", "invoice.overdue", "invoice.paid", "invoice.payment_action_required", "invoice.payment_failed", "invoice.payment_succeeded", "invoice.sent", "invoice.updated", "invoice.voided", "invoice.will_be_due",]}}'
              expand[]: '{{["data.discounts", "data.total_tax_amounts.tax_rate"]}}'

    persons:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: persons
      retriever:
        type: StateDelegatingRetriever
        full_refresh_no_slice_in_params: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          partition_router:
            type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: account_id
                stream:
                  $ref: "#/definitions/streams/accounts"
          $parameters:
            path: accounts/{{stream_partition.account_id}}/persons
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["person.created", "person.updated", "person.deleted"]}}'

    payment_methods:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: payment_methods
      retriever:
        type: StateDelegatingRetriever
        full_refresh_no_slice_in_params: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          partition_router:
            type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: customer_id
                stream:
                  $ref: "#/definitions/streams/customers"
          $parameters:
            path: customers/{{stream_partition.customer_id}}/payment_methods
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["payment_method.*"]}}'

    customer_balance_transactions:
      $ref: "#/definitions/created_stream"
      $parameters:
        name: customer_balance_transactions
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          $ref: "#/definitions/base_paginator"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: customer_id
              stream:
                $ref: "#/definitions/streams/customers"
              incremental_dependency: true
        $parameters:
          path: customers/{{stream_partition.customer_id}}/balance_transactions
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        lookback_window: P{{ config.get('lookback_window_days', 0) }}D
        global_substream_cursor: true
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config.get('start_date', '2017-01-25T00:00:00Z'), '%Y-%m-%dT%H:%M:%S%z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"

    payout_balance_transactions:
      $ref: "#/definitions/created_stream"
      $parameters:
        name: payout_balance_transactions
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          request_parameters:
            "payout": "{{stream_partition.payout_id}}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    action: IGNORE
                    http_codes:
                      - 400
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          $ref: "#/definitions/base_paginator"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: payout_id
              stream:
                $ref: "#/definitions/streams/payouts"
              incremental_dependency: true
        $parameters:
          path: balance_transactions
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        lookback_window: P{{ config.get('lookback_window_days', 0) }}D
        global_substream_cursor: true
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config.get('start_date', '2017-01-25T00:00:00Z'), '%Y-%m-%dT%H:%M:%S%z') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%S%z"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"


    subscription_items:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: subscription_items
      retriever:
        type: StateDelegatingRetriever
        full_refresh_no_slice_in_params: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          requester:
            $ref: "#/definitions/base_requester"
            request_parameters:
              subscription: "{{stream_partition.subscription_id}}"
          partition_router:
            type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: subscription_id
                stream:
                  $ref: "#/definitions/streams/subscriptions"
          $parameters:
            path: subscription_items
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["customer.subscription.created", "customer.subscription.updated"]}}'
              subscription: "{{stream_partition.subscription_id}}"

    invoice_line_items:
      $ref: "#/definitions/updated_stream"
      $parameters:
        name: invoice_line_items
      retriever:
        type: StateDelegatingRetriever
        full_refresh_no_slice_in_params: true
        full_refresh_retriever:
          $ref: "#/definitions/base_retriever"
          partition_router:
            type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                parent_key: id
                partition_field: invoice_id
                stream:
                  $ref: "#/definitions/streams/invoices"
                extra_fields:
                  - [ "updated" ]
          $parameters:
            path: invoices/{{stream_partition.invoice_id}}/lines
        incremental_retriever:
          $ref: "#/definitions/events_objects_retriever"
          $parameters:
            request_parameters:
              types[]: '{{["invoice.created", "invoice.deleted", "invoice.updated"]}}'
      incremental_sync:
        $ref: "#/definitions/base_incremental_sync"
        cursor_field: invoice_updated
      transformations:
        - type: AddFields
          fields:
            - path:
                - invoice_updated
              value: "{{ stream_slice.extra_fields.updated }}"

streams:
# CreatedCursorIncrementalStripeStream
#  - $ref: "#/definitions/streams/events"
#  - $ref: "#/definitions/streams/shipping_rates"
#  - $ref: "#/definitions/streams/balance_transactions"
#  - $ref: "#/definitions/streams/files"
#  - $ref: "#/definitions/streams/file_links"

# IncrementalStripeStream
#  - $ref: "#/definitions/streams/customers"
  - $ref: "#/definitions/streams/payouts"
#  - $ref: "#/definitions/streams/subscriptions"
#  - $ref: "#/definitions/streams/invoices"

# UpdatedCursorIncrementalStripeStream
#  - $ref: "#/definitions/streams/accounts"

# UpdatedCursorIncrementalStripeSubStream
#  - $ref: "#/definitions/streams/payment_methods"
#  - $ref: "#/definitions/streams/persons"

# ParentIncrementalStripeSubStream
#  - $ref: "#/definitions/streams/customer_balance_transactions"
#  - $ref: "#/definitions/streams/payout_balance_transactions"

# UpdatedCursorIncrementalStripeLazySubStream
#  - $ref: "#/definitions/streams/subscription_items"
#  - $ref: "#/definitions/streams/invoice_line_items"


spec:
  type: Spec
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: Stripe Source Spec
    type: object
    required:
      - client_secret
      - account_id
    properties:
      account_id:
        type: string
        title: Account ID
        description: >-
          Your Stripe account ID (starts with 'acct_', find yours <a
          href="https://dashboard.stripe.com/settings/account">here</a>).
        order: 0
      client_secret:
        type: string
        title: Secret Key
        description: >-
          Stripe API key (usually starts with 'sk_live_'; find yours <a
          href="https://dashboard.stripe.com/apikeys">here</a>).
        airbyte_secret: true
        order: 1
      start_date:
        type: string
        title: Replication start date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00Z. Only data generated
          after this date will be replicated.
        default: "2017-01-25T00:00:00Z"
        examples:
          - "2017-01-25T00:00:00Z"
        format: date-time
        order: 2
      lookback_window_days:
        type: integer
        title: Lookback Window in days
        default: 0
        minimum: 0
        description: >-
          When set, the connector will always re-export data from the past N days,
          where N is the value set here. This is useful if your data is frequently updated
          after creation. The Lookback Window only applies to streams that do not support event-based incremental syncs: Events,
          SetupAttempts, ShippingRates, BalanceTransactions, Files, FileLinks, Refunds. More info <a
          href="https://docs.airbyte.com/integrations/sources/stripe#requirements">here</a>
        order: 3
      slice_range:
        type: integer
        title: Data request time increment in days
        default: 365
        minimum: 1
        examples: [1, 3, 10, 30, 180, 360]
        description: >-
          The time increment used by the connector when requesting data from the Stripe API. The bigger the value is,
          the less requests will be made and faster the sync will be. On the other hand, the more seldom
          the state is persisted.
        order: 4
      num_workers:
        type: integer
        title: Number of concurrent workers
        minimum: 1
        maximum: 20
        default: 10
        examples: [1, 2, 3]
        description: >-
          The number of worker thread to use for the sync.
          The performance upper boundary depends on call_rate_limit setting and type of account.
        order: 5
      call_rate_limit:
        type: integer
        title: Max number of API calls per second
        examples: [25, 100]
        description: >-
          The number of API calls per second that you allow connector to make. This value can not be bigger than real
          API call rate limit (https://stripe.com/docs/rate-limits). If not specified the default maximum is 25 and 100
          calls per second for test and production tokens respectively.

api_budget:
  type: HTTPAPIBudget
  policies:
    - type: MovingWindowCallRatePolicy
      rates:
        - limit: 20
          interval: PT1S
      matchers:
        - method: GET
          url_path_pattern: "^/v1/files($|/)" # matches '/files'
        - method: GET
          url_path_pattern: "^/v1/file_links($|/)" # matches '/file_links'

    - type: MovingWindowCallRatePolicy
      rates:
        - limit: "{{ 100 if 'sk_test_' in config['client_secret'] else 25 }}"
          interval: PT1S
      matchers: []
