version: 6.1.0

type: DeclarativeSource

description: >-
  Humanitix is a ticketing platform.

  Using this connector we can extract data from streams such as events , orders
  and tickets.

  Docs :
  https://humanitix.stoplight.io/docs/humanitix-public-api/e508a657c1467-humanitix-public-api

check:
  type: CheckStream
  stream_names:
    - events

definitions:
  streams:
    events:
      type: DeclarativeStream
      name: events
      primary_key:
        - _id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: events
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - events
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageSize
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 100
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/events"
    orders:
      type: DeclarativeStream
      name: orders
      primary_key:
        - _id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: events/{{ stream_partition.eventid }}/orders
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - orders
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageSize
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 100
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: _id
              partition_field: eventid
              stream:
                $ref: "#/definitions/streams/events"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/orders"
    tickets:
      type: DeclarativeStream
      name: tickets
      primary_key:
        - _id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: events/{{ stream_partition.eventid }}/tickets
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tickets
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageSize
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 100
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: _id
              partition_field: eventid
              stream:
                $ref: "#/definitions/streams/events"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tickets"
    tags:
      type: DeclarativeStream
      name: tags
      primary_key:
        - _id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: tags
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - tags
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: pageSize
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
            page_size: 100
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
  base_requester:
    type: HttpRequester
    url_base: https://api.humanitix.com/v1/
    authenticator:
      type: ApiKeyAuthenticator
      inject_into:
        type: RequestOption
        inject_into: header
        field_name: x-api-key
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/events"
  - $ref: "#/definitions/streams/orders"
  - $ref: "#/definitions/streams/tickets"
  - $ref: "#/definitions/streams/tags"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
    additionalProperties: true

metadata:
  autoImportSchema:
    events: true
    orders: true
    tickets: true
    tags: true
  testedStreams:
    events:
      streamHash: a1d5b4c687510acfc1951af15a76553d7d188a5d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    orders:
      streamHash: 77338023ccd0f14cfa5b79b82f83d9e272fbd30a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tickets:
      streamHash: ed2c44661beeb21eb611f3baa30539179029490a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tags:
      streamHash: c33cfcd3e74132e21ca24b7b8517cde9a1a207ed
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  events:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      _id:
        type: string
      additionalQuestions:
        type:
          - array
          - "null"
      affiliateCodes:
        type:
          - array
          - "null"
      artists:
        type:
          - array
          - "null"
      bannerImage:
        type:
          - object
          - "null"
        properties:
          url:
            type:
              - string
              - "null"
      classification:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          category:
            type:
              - string
              - "null"
      createdAt:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      dates:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            _id:
              type:
                - string
                - "null"
            deleted:
              type:
                - boolean
                - "null"
            disabled:
              type:
                - boolean
                - "null"
            endDate:
              type:
                - string
                - "null"
            startDate:
              type:
                - string
                - "null"
      endDate:
        type:
          - string
          - "null"
      eventLocation:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          address:
            type:
              - string
              - "null"
          addressComponents:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                _id:
                  type:
                    - string
                    - "null"
                long_name:
                  type:
                    - string
                    - "null"
                short_name:
                  type:
                    - string
                    - "null"
                types:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - string
                      - "null"
          latLng:
            type:
              - array
              - "null"
            items:
              type:
                - number
                - "null"
          mapUrl:
            type:
              - string
              - "null"
          placeId:
            type:
              - string
              - "null"
          venueName:
            type:
              - string
              - "null"
      keywords:
        type:
          - array
          - "null"
      location:
        type:
          - string
          - "null"
      markedAsSoldOut:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      organiserId:
        type:
          - string
          - "null"
      packagedTickets:
        type:
          - array
          - "null"
      paymentOptions:
        type:
          - object
          - "null"
        properties:
          refundSettings:
            type:
              - object
              - "null"
            properties:
              refundPolicy:
                type:
                  - string
                  - "null"
      pricing:
        type:
          - object
          - "null"
        properties:
          maximumPrice:
            type:
              - number
              - "null"
          minimumPrice:
            type:
              - number
              - "null"
      public:
        type:
          - boolean
          - "null"
      published:
        type:
          - boolean
          - "null"
      slug:
        type:
          - string
          - "null"
      startDate:
        type:
          - string
          - "null"
      suspendSales:
        type:
          - boolean
          - "null"
      tagIds:
        type:
          - array
          - "null"
      ticketTypes:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            _id:
              type:
                - string
                - "null"
            deleted:
              type:
                - boolean
                - "null"
            disabled:
              type:
                - boolean
                - "null"
            isDonation:
              type:
                - boolean
                - "null"
            name:
              type:
                - string
                - "null"
            price:
              type:
                - number
                - "null"
            quantity:
              type:
                - number
                - "null"
      timezone:
        type:
          - string
          - "null"
      totalCapacity:
        type:
          - number
          - "null"
      updatedAt:
        type:
          - string
          - "null"
      userId:
        type:
          - string
          - "null"
    required:
      - _id
  orders:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      _id:
        type: string
      additionalFields:
        type:
          - array
          - "null"
      businessPurpose:
        type:
          - boolean
          - "null"
      clientDonation:
        type:
          - number
          - "null"
      completedAt:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      eventDateId:
        type:
          - string
          - "null"
      eventId:
        type:
          - string
          - "null"
      financialStatus:
        type:
          - string
          - "null"
      firstName:
        type:
          - string
          - "null"
      incompleteAt:
        type:
          - string
          - "null"
      lastName:
        type:
          - string
          - "null"
      location:
        type:
          - string
          - "null"
      manualOrder:
        type:
          - boolean
          - "null"
      mobile:
        type:
          - string
          - "null"
      notes:
        type:
          - string
          - "null"
      orderName:
        type:
          - string
          - "null"
      organiserMailListOptIn:
        type:
          - boolean
          - "null"
      paymentGateway:
        type:
          - string
          - "null"
      paymentType:
        type:
          - string
          - "null"
      purchaseTotals:
        type:
          - object
          - "null"
        properties:
          absorbedFee:
            type:
              - number
              - "null"
          amexFee:
            type:
              - number
              - "null"
          bookingFee:
            type:
              - number
              - "null"
          bookingTaxes:
            type:
              - number
              - "null"
          clientDonation:
            type:
              - number
              - "null"
          credit:
            type:
              - number
              - "null"
          dgrDonation:
            type:
              - number
              - "null"
          discounts:
            type:
              - number
              - "null"
          donation:
            type:
              - number
              - "null"
          feesIncluded:
            type:
              - boolean
              - "null"
          giftCardCredit:
            type:
              - number
              - "null"
          grossSales:
            type:
              - number
              - "null"
          humanitixFee:
            type:
              - number
              - "null"
          netClientDonation:
            type:
              - number
              - "null"
          netSales:
            type:
              - number
              - "null"
          passedOnFee:
            type:
              - number
              - "null"
          passedOnTaxes:
            type:
              - number
              - "null"
          rebates:
            type:
              - number
              - "null"
          refunds:
            type:
              - number
              - "null"
          subtotal:
            type:
              - number
              - "null"
          taxes:
            type:
              - number
              - "null"
          total:
            type:
              - number
              - "null"
          totalTaxes:
            type:
              - number
              - "null"
          zipFee:
            type:
              - number
              - "null"
      salesChannel:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      tipFees:
        type:
          - boolean
          - "null"
      totals:
        type:
          - object
          - "null"
        properties:
          absorbedFee:
            type:
              - number
              - "null"
          amexFee:
            type:
              - number
              - "null"
          bookingFee:
            type:
              - number
              - "null"
          bookingTaxes:
            type:
              - number
              - "null"
          clientDonation:
            type:
              - number
              - "null"
          credit:
            type:
              - number
              - "null"
          dgrDonation:
            type:
              - number
              - "null"
          discounts:
            type:
              - number
              - "null"
          donation:
            type:
              - number
              - "null"
          feesIncluded:
            type:
              - boolean
              - "null"
          giftCardCredit:
            type:
              - number
              - "null"
          grossSales:
            type:
              - number
              - "null"
          humanitixFee:
            type:
              - number
              - "null"
          netClientDonation:
            type:
              - number
              - "null"
          netSales:
            type:
              - number
              - "null"
          passedOnFee:
            type:
              - number
              - "null"
          passedOnTaxes:
            type:
              - number
              - "null"
          rebates:
            type:
              - number
              - "null"
          refunds:
            type:
              - number
              - "null"
          subtotal:
            type:
              - number
              - "null"
          taxes:
            type:
              - number
              - "null"
          total:
            type:
              - number
              - "null"
          totalTaxes:
            type:
              - number
              - "null"
          zipFee:
            type:
              - number
              - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - _id
  tickets:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      _id:
        type: string
      absorbedFee:
        type:
          - number
          - "null"
      additionalFields:
        type:
          - array
          - "null"
      checkInHistory:
        type:
          - array
          - "null"
      createdAt:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      dgrDonation:
        type:
          - number
          - "null"
      discount:
        type:
          - number
          - "null"
      eventDateId:
        type:
          - string
          - "null"
      eventId:
        type:
          - string
          - "null"
      fee:
        type:
          - number
          - "null"
      firstName:
        type:
          - string
          - "null"
      isDonation:
        type:
          - boolean
          - "null"
      lastName:
        type:
          - string
          - "null"
      location:
        type:
          - string
          - "null"
      netPrice:
        type:
          - number
          - "null"
      number:
        type:
          - number
          - "null"
      orderId:
        type:
          - string
          - "null"
      orderName:
        type:
          - string
          - "null"
      passedOnFee:
        type:
          - number
          - "null"
      price:
        type:
          - number
          - "null"
      qrCodeData:
        type:
          - object
          - "null"
        properties:
          _id:
            type:
              - string
              - "null"
          eventId:
            type:
              - string
              - "null"
      salesChannel:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      taxes:
        type:
          - number
          - "null"
      ticketTypeId:
        type:
          - string
          - "null"
      ticketTypeName:
        type:
          - string
          - "null"
      total:
        type:
          - number
          - "null"
      totalsV2:
        type:
          - object
          - "null"
        properties:
          credit:
            type:
              - object
              - "null"
            properties:
              giftCard:
                type:
                  - number
                  - "null"
              store:
                type:
                  - number
                  - "null"
              voucher:
                type:
                  - number
                  - "null"
          customSalesTax:
            type:
              - object
              - "null"
            properties:
              absorb:
                type:
                  - number
                  - "null"
              passOn:
                type:
                  - number
                  - "null"
              total:
                type:
                  - number
                  - "null"
          dgrDonation:
            type:
              - number
              - "null"
          discount:
            type:
              - number
              - "null"
          earnings:
            type:
              - number
              - "null"
          fees:
            type:
              - object
              - "null"
            properties:
              additionalFee:
                type:
                  - object
                  - "null"
                properties:
                  afterpayFee:
                    type:
                      - object
                      - "null"
                    properties:
                      fixedFee:
                        type:
                          - object
                          - "null"
                        properties:
                          absorb:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                          passOn:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                          total:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                      percentFee:
                        type:
                          - object
                          - "null"
                        properties:
                          absorb:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                          passOn:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                          total:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                      totalFee:
                        type:
                          - object
                          - "null"
                        properties:
                          absorb:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                          passOn:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                          total:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                  amexFee:
                    type:
                      - object
                      - "null"
                    properties:
                      fixedFee:
                        type:
                          - object
                          - "null"
                        properties:
                          absorb:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                          passOn:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                          total:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                      percentFee:
                        type:
                          - object
                          - "null"
                        properties:
                          absorb:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                          passOn:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                          total:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                      totalFee:
                        type:
                          - object
                          - "null"
                        properties:
                          absorb:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                          passOn:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                          total:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                  zipFee:
                    type:
                      - object
                      - "null"
                    properties:
                      fixedFee:
                        type:
                          - object
                          - "null"
                        properties:
                          absorb:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                          passOn:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                          total:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                      percentFee:
                        type:
                          - object
                          - "null"
                        properties:
                          absorb:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                          passOn:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                          total:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                      totalFee:
                        type:
                          - object
                          - "null"
                        properties:
                          absorb:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                          passOn:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
                          total:
                            type:
                              - object
                              - "null"
                            properties:
                              afterTax:
                                type:
                                  - number
                                  - "null"
                              beforeTax:
                                type:
                                  - number
                                  - "null"
                              tax:
                                type:
                                  - number
                                  - "null"
              humanitixFee:
                type:
                  - object
                  - "null"
                properties:
                  fixedFee:
                    type:
                      - object
                      - "null"
                    properties:
                      absorb:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      passOn:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      total:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                  percentFee:
                    type:
                      - object
                      - "null"
                    properties:
                      absorb:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      passOn:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      total:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                  totalFee:
                    type:
                      - object
                      - "null"
                    properties:
                      absorb:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      passOn:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      total:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
              paymentFee:
                type:
                  - object
                  - "null"
                properties:
                  fixedFee:
                    type:
                      - object
                      - "null"
                    properties:
                      absorb:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      passOn:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      total:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                  percentFee:
                    type:
                      - object
                      - "null"
                    properties:
                      absorb:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      passOn:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      total:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                  totalFee:
                    type:
                      - object
                      - "null"
                    properties:
                      absorb:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      passOn:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      total:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
              rebate:
                type:
                  - object
                  - "null"
                properties:
                  fixedFee:
                    type:
                      - object
                      - "null"
                    properties:
                      absorb:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      passOn:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      total:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                  percentFee:
                    type:
                      - object
                      - "null"
                    properties:
                      absorb:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      passOn:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      total:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                  totalFee:
                    type:
                      - object
                      - "null"
                    properties:
                      absorb:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      passOn:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      total:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
              totalFeeRevenue:
                type:
                  - object
                  - "null"
                properties:
                  fixedFee:
                    type:
                      - object
                      - "null"
                    properties:
                      absorb:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      passOn:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      total:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                  percentFee:
                    type:
                      - object
                      - "null"
                    properties:
                      absorb:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      passOn:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      total:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                  totalFee:
                    type:
                      - object
                      - "null"
                    properties:
                      absorb:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      passOn:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      total:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
              totalFees:
                type:
                  - object
                  - "null"
                properties:
                  fixedFee:
                    type:
                      - object
                      - "null"
                    properties:
                      absorb:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      passOn:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      total:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                  percentFee:
                    type:
                      - object
                      - "null"
                    properties:
                      absorb:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      passOn:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      total:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                  totalFee:
                    type:
                      - object
                      - "null"
                    properties:
                      absorb:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      passOn:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      total:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
              uncappedHumanitixFee:
                type:
                  - object
                  - "null"
                properties:
                  fixedFee:
                    type:
                      - object
                      - "null"
                    properties:
                      absorb:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      passOn:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      total:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                  percentFee:
                    type:
                      - object
                      - "null"
                    properties:
                      absorb:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      passOn:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      total:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                  totalFee:
                    type:
                      - object
                      - "null"
                    properties:
                      absorb:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      passOn:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
                      total:
                        type:
                          - object
                          - "null"
                        properties:
                          afterTax:
                            type:
                              - number
                              - "null"
                          beforeTax:
                            type:
                              - number
                              - "null"
                          tax:
                            type:
                              - number
                              - "null"
          grossSales:
            type:
              - number
              - "null"
          itemTaxes:
            type:
              - number
              - "null"
          netSales:
            type:
              - number
              - "null"
          payout:
            type:
              - number
              - "null"
          referral:
            type:
              - number
              - "null"
          refunds:
            type:
              - number
              - "null"
          subTotal:
            type:
              - object
              - "null"
            properties:
              afterTax:
                type:
                  - number
                  - "null"
              beforeTax:
                type:
                  - number
                  - "null"
              tax:
                type:
                  - number
                  - "null"
          total:
            type:
              - number
              - "null"
          totalOrganiserTaxes:
            type:
              - number
              - "null"
          totalTaxes:
            type:
              - number
              - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - _id
  tags:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      _id:
        type: string
      createdAt:
        type:
          - string
          - "null"
      location:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
      userId:
        type:
          - string
          - "null"
    required:
      - _id
