.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  width: 100%;
}

.dropdownWrapper {
  display: flex;
  flex: 1 0 310px;
}

.spinner {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  flex-grow: 1;
}
