version: 5.11.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - organizations

definitions:
  streams:
    organizations:
      type: DeclarativeStream
      name: organizations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: me/organizations
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 1
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 403
                    error_message: >-
                      Got permission error when accessing URL. Skipping
                      {{self.name}} stream.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - organizations
              - "*"
              - organization
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"paging\", {}).get(\"next_link\", {}) }}"
            stop_condition: "{{ not response.get(\"paging\", {}).get(\"next_link\", {}) }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get(\"start_date\", \"2011-09-01\") }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%d"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organizations"
    adaccounts:
      type: DeclarativeStream
      name: adaccounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: organizations/{{ stream_slice["organization_id"] }}/adaccounts
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 1
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 403
                    error_message: >-
                      Got permission error when accessing URL. Skipping
                      {{self.name}} stream.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - adaccounts
              - "*"
              - adaccount
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"paging\", {}).get(\"next_link\", {}) }}"
            stop_condition: "{{ not response.get(\"paging\", {}).get(\"next_link\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: organization_id
              stream:
                $ref: "#/definitions/streams/organizations"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get(\"start_date\", \"2011-09-01\") }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/adaccounts"
    creatives:
      type: DeclarativeStream
      name: creatives
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adaccounts/{{ stream_slice['adaccount_id'] }}/creatives
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 1
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 403
                    error_message: >-
                      Got permission error when accessing URL. Skipping
                      {{self.name}} stream.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - creatives
              - "*"
              - creative
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"paging\", {}).get(\"next_link\", {}) }}"
            stop_condition: "{{ not response.get(\"paging\", {}).get(\"next_link\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: adaccount_id
              stream:
                $ref: "#/definitions/streams/adaccounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get(\"start_date\", \"2011-09-01\") }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/creatives"
    ads:
      type: DeclarativeStream
      name: ads
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adaccounts/{{ stream_slice['adaccount_id'] }}/ads
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 1
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 403
                    error_message: >-
                      Got permission error when accessing URL. Skipping
                      {{self.name}} stream.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - ads
              - "*"
              - ad
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"paging\", {}).get(\"next_link\", {}) }}"
            stop_condition: "{{ not response.get(\"paging\", {}).get(\"next_link\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: adaccount_id
              stream:
                $ref: "#/definitions/streams/adaccounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get(\"start_date\", \"2011-09-01\") }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ads"
    adsquads:
      type: DeclarativeStream
      name: adsquads
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adaccounts/{{ stream_slice['adaccount_id'] }}/adsquads
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 1
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 403
                    error_message: >-
                      Got permission error when accessing URL. Skipping
                      {{self.name}} stream.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - adsquads
              - "*"
              - adsquad
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"paging\", {}).get(\"next_link\", {}) }}"
            stop_condition: "{{ not response.get(\"paging\", {}).get(\"next_link\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: adaccount_id
              stream:
                $ref: "#/definitions/streams/adaccounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get(\"start_date\", \"2011-09-01\") }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/adsquads"
    segments:
      type: DeclarativeStream
      name: segments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adaccounts/{{ stream_slice['adaccount_id'] }}/segments
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 1
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 403
                    error_message: >-
                      Got permission error when accessing URL. Skipping
                      {{self.name}} stream.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - segments
              - "*"
              - segment
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"paging\", {}).get(\"next_link\", {}) }}"
            stop_condition: "{{ not response.get(\"paging\", {}).get(\"next_link\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: adaccount_id
              stream:
                $ref: "#/definitions/streams/adaccounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get(\"start_date\", \"2011-09-01\") }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/segments"
    media:
      type: DeclarativeStream
      name: media
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adaccounts/{{ stream_slice['adaccount_id'] }}/media
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 1
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 403
                    error_message: >-
                      Got permission error when accessing URL. Skipping
                      {{self.name}} stream.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - media
              - "*"
              - media
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"paging\", {}).get(\"next_link\", {}) }}"
            stop_condition: "{{ not response.get(\"paging\", {}).get(\"next_link\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: adaccount_id
              stream:
                $ref: "#/definitions/streams/adaccounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get(\"start_date\", \"2011-09-01\") }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/media"
    campaigns:
      type: DeclarativeStream
      name: campaigns
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adaccounts/{{ stream_slice['adaccount_id'] }}/campaigns
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 1
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 403
                    error_message: >-
                      Got permission error when accessing URL. Skipping
                      {{self.name}} stream.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - campaigns
              - "*"
              - campaign
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"paging\", {}).get(\"next_link\", {}) }}"
            stop_condition: "{{ not response.get(\"paging\", {}).get(\"next_link\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: adaccount_id
              stream:
                $ref: "#/definitions/streams/adaccounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get(\"start_date\", \"2011-09-01\") }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns"
    adaccounts_stats_hourly:
      type: DeclarativeStream
      name: adaccounts_stats_hourly
      primary_key:
        - id
        - granularity
        - start_time
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adaccounts/{{ stream_slice['id'] }}/stats
          http_method: GET
          request_parameters:
            fields: spend
            granularity: HOUR
            action_report_time: "{{ config['action_report_time'] }}"
            view_attribution_window: "{{ config[\"view_attribution_window\"] }}"
            swipe_up_attribution_window: "{{ config[\"swipe_up_attribution_window\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 1
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 403
                    error_message: >-
                      Got permission error when accessing URL. Skipping
                      {{self.name}} stream.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - timeseries_stats
              - "*"
              - timeseries_stat
              - timeseries
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"paging\", {}).get(\"next_link\", {}) }}"
            stop_condition: "{{ not response.get(\"paging\", {}).get(\"next_link\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/adaccounts"
      incremental_sync:
        type: DatetimeBasedCursor
        step: P1W
        cursor_field: start_time
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get(\"start_date\", \"2011-09-01\") }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        start_time_option:
          type: RequestOption
          field_name: start_time
          inject_into: request_parameter
        cursor_granularity: PT0S
        is_compare_strictly: true
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
      transformations:
        - type: AddFields
          fields:
            - path:
                - id
              value: "{{ stream_slice['id'] }}"
        - type: AddFields
          fields:
            - path:
                - type
              value: AD_ACCOUNT
        - type: AddFields
          fields:
            - path:
                - granularity
              value: HOUR
        - type: AddFields
          fields:
            - path:
                - spend
              value: "{{ record.get('stats', {}).get('spend') }}"
        - type: RemoveFields
          field_pointers:
            - - stats
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/adaccounts_stats_hourly"
    adaccounts_stats_daily:
      type: DeclarativeStream
      name: adaccounts_stats_daily
      primary_key:
        - id
        - granularity
        - start_time
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adaccounts/{{ stream_slice['id'] }}/stats
          http_method: GET
          request_parameters:
            fields: spend
            granularity: DAY
            action_report_time: "{{ config['action_report_time'] }}"
            view_attribution_window: "{{ config[\"view_attribution_window\"] }}"
            swipe_up_attribution_window: "{{ config[\"swipe_up_attribution_window\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 1
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 403
                    error_message: >-
                      Got permission error when accessing URL. Skipping
                      {{self.name}} stream.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - timeseries_stats
              - "*"
              - timeseries_stat
              - timeseries
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"paging\", {}).get(\"next_link\", {}) }}"
            stop_condition: "{{ not response.get(\"paging\", {}).get(\"next_link\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/adaccounts"
      incremental_sync:
        type: DatetimeBasedCursor
        step: P1M
        cursor_field: start_time
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get(\"start_date\", \"2011-09-01\") }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        start_time_option:
          type: RequestOption
          field_name: start_time
          inject_into: request_parameter
        cursor_granularity: PT0S
        is_compare_strictly: true
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
      transformations:
        - type: AddFields
          fields:
            - path:
                - id
              value: "{{ stream_slice['id'] }}"
        - type: AddFields
          fields:
            - path:
                - type
              value: AD_ACCOUNT
        - type: AddFields
          fields:
            - path:
                - granularity
              value: DAY
        - type: AddFields
          fields:
            - path:
                - spend
              value: "{{ record.get('stats', {}).get('spend') }}"
        - type: RemoveFields
          field_pointers:
            - - stats
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/adaccounts_stats_daily"
    adaccounts_stats_lifetime:
      type: DeclarativeStream
      name: adaccounts_stats_lifetime
      primary_key:
        - id
        - granularity
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adaccounts/{{ stream_slice['id'] }}/stats
          http_method: GET
          request_parameters:
            fields: spend
            granularity: LIFETIME
            action_report_time: "{{ config['action_report_time'] }}"
            view_attribution_window: "{{ config[\"view_attribution_window\"] }}"
            swipe_up_attribution_window: "{{ config[\"swipe_up_attribution_window\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 1
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 403
                    error_message: >-
                      Got permission error when accessing URL. Skipping
                      {{self.name}} stream.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - lifetime_stats
              - "*"
              - lifetime_stat
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"paging\", {}).get(\"next_link\", {}) }}"
            stop_condition: "{{ not response.get(\"paging\", {}).get(\"next_link\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/adaccounts"
      transformations:
        - type: AddFields
          fields:
            - path:
                - spend
              value: "{{ record.get('stats', {}).get('spend') }}"
        - type: RemoveFields
          field_pointers:
            - - stats
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/adaccounts_stats_lifetime"
    ads_stats_hourly:
      type: DeclarativeStream
      name: ads_stats_hourly
      primary_key:
        - id
        - granularity
        - start_time
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: ads/{{ stream_slice['id'] }}/stats
          http_method: GET
          request_parameters:
            fields: >-
              android_installs,attachment_avg_view_time_millis,attachment_impressions,attachment_quartile_1,attachment_quartile_2,attachment_quartile_3,attachment_total_view_time_millis,attachment_view_completion,avg_screen_time_millis,avg_view_time_millis,impressions,ios_installs,quartile_1,quartile_2,quartile_3,screen_time_millis,spend,swipe_up_percent,swipes,total_installs,video_views,video_views_time_based,video_views_15s,view_completion,view_time_millis,paid_impressions,earned_impressions,total_impressions,play_time_millis,shares,saves,native_leads,conversion_purchases,conversion_purchases_value,conversion_save,conversion_start_checkout,conversion_add_cart,conversion_view_content,conversion_add_billing,conversion_searches,conversion_level_completes,conversion_app_opens,conversion_page_views,conversion_subscribe,conversion_ad_click,conversion_ad_view,conversion_complete_tutorial,conversion_invite,conversion_login,conversion_share,conversion_reserve,conversion_achievement_unlocked,conversion_add_to_wishlist,conversion_spend_credits,conversion_rate,conversion_start_trial,conversion_list_view,custom_event_1,custom_event_2,custom_event_3,custom_event_4,custom_event_5,story_opens,story_completes
            granularity: HOUR
            action_report_time: "{{ config['action_report_time'] }}"
            view_attribution_window: "{{ config[\"view_attribution_window\"] }}"
            swipe_up_attribution_window: "{{ config[\"swipe_up_attribution_window\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 1
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 403
                    error_message: >-
                      Got permission error when accessing URL. Skipping
                      {{self.name}} stream.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - timeseries_stats
              - "*"
              - timeseries_stat
              - timeseries
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"paging\", {}).get(\"next_link\", {}) }}"
            stop_condition: "{{ not response.get(\"paging\", {}).get(\"next_link\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/ads"
      incremental_sync:
        type: DatetimeBasedCursor
        step: P1W
        cursor_field: start_time
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get(\"start_date\", \"2011-09-01\") }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        start_time_option:
          type: RequestOption
          field_name: start_time
          inject_into: request_parameter
        cursor_granularity: PT0S
        is_compare_strictly: true
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
      transformations:
        - type: AddFields
          fields:
            - path:
                - id
              value: "{{ stream_slice['id'] }}"
        - type: AddFields
          fields:
            - path:
                - type
              value: AD
        - type: AddFields
          fields:
            - path:
                - granularity
              value: HOUR
        - type: AddFields
          fields:
            - path:
                - android_installs
              value: "{{ record.get('stats', {}).get('android_installs') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_avg_view_time_millis
              value: >-
                {{ record.get('stats',
                {}).get('attachment_avg_view_time_millis') }}
        - type: AddFields
          fields:
            - path:
                - attachment_impressions
              value: "{{ record.get('stats', {}).get('attachment_impressions') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_quartile_1
              value: "{{ record.get('stats', {}).get('attachment_quartile_1') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_quartile_2
              value: "{{ record.get('stats', {}).get('attachment_quartile_2') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_quartile_3
              value: "{{ record.get('stats', {}).get('attachment_quartile_3') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_total_view_time_millis
              value: >-
                {{ record.get('stats',
                {}).get('attachment_total_view_time_millis') }}
        - type: AddFields
          fields:
            - path:
                - attachment_view_completion
              value: "{{ record.get('stats', {}).get('attachment_view_completion') }}"
        - type: AddFields
          fields:
            - path:
                - avg_screen_time_millis
              value: "{{ record.get('stats', {}).get('avg_screen_time_millis') }}"
        - type: AddFields
          fields:
            - path:
                - avg_view_time_millis
              value: "{{ record.get('stats', {}).get('avg_view_time_millis') }}"
        - type: AddFields
          fields:
            - path:
                - impressions
              value: "{{ record.get('stats', {}).get('impressions') }}"
        - type: AddFields
          fields:
            - path:
                - ios_installs
              value: "{{ record.get('stats', {}).get('ios_installs') }}"
        - type: AddFields
          fields:
            - path:
                - quartile_1
              value: "{{ record.get('stats', {}).get('quartile_1') }}"
        - type: AddFields
          fields:
            - path:
                - quartile_2
              value: "{{ record.get('stats', {}).get('quartile_2') }}"
        - type: AddFields
          fields:
            - path:
                - quartile_3
              value: "{{ record.get('stats', {}).get('quartile_3') }}"
        - type: AddFields
          fields:
            - path:
                - screen_time_millis
              value: "{{ record.get('stats', {}).get('screen_time_millis') }}"
        - type: AddFields
          fields:
            - path:
                - spend
              value: "{{ record.get('stats', {}).get('spend') }}"
        - type: AddFields
          fields:
            - path:
                - swipe_up_percent
              value: "{{ record.get('stats', {}).get('swipe_up_percent') }}"
        - type: AddFields
          fields:
            - path:
                - swipes
              value: "{{ record.get('stats', {}).get('swipes') }}"
        - type: AddFields
          fields:
            - path:
                - total_installs
              value: "{{ record.get('stats', {}).get('total_installs') }}"
        - type: AddFields
          fields:
            - path:
                - video_views
              value: "{{ record.get('stats', {}).get('video_views') }}"
        - type: AddFields
          fields:
            - path:
                - video_views_time_based
              value: "{{ record.get('stats', {}).get('video_views_time_based') }}"
        - type: AddFields
          fields:
            - path:
                - video_views_15s
              value: "{{ record.get('stats', {}).get('video_views_15s') }}"
        - type: AddFields
          fields:
            - path:
                - view_completion
              value: "{{ record.get('stats', {}).get('view_completion') }}"
        - type: AddFields
          fields:
            - path:
                - view_time_millis
              value: "{{ record.get('stats', {}).get('view_time_millis') }}"
        - type: AddFields
          fields:
            - path:
                - paid_impressions
              value: "{{ record.get('stats', {}).get('paid_impressions') }}"
        - type: AddFields
          fields:
            - path:
                - earned_impressions
              value: "{{ record.get('stats', {}).get('earned_impressions') }}"
        - type: AddFields
          fields:
            - path:
                - total_impressions
              value: "{{ record.get('stats', {}).get('total_impressions') }}"
        - type: AddFields
          fields:
            - path:
                - play_time_millis
              value: "{{ record.get('stats', {}).get('play_time_millis') }}"
        - type: AddFields
          fields:
            - path:
                - shares
              value: "{{ record.get('stats', {}).get('shares') }}"
        - type: AddFields
          fields:
            - path:
                - saves
              value: "{{ record.get('stats', {}).get('saves') }}"
        - type: AddFields
          fields:
            - path:
                - native_leads
              value: "{{ record.get('stats', {}).get('native_leads') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_purchases
              value: "{{ record.get('stats', {}).get('conversion_purchases') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_purchases_value
              value: "{{ record.get('stats', {}).get('conversion_purchases_value') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_save
              value: "{{ record.get('stats', {}).get('conversion_save') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_start_checkout
              value: "{{ record.get('stats', {}).get('conversion_start_checkout') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_add_cart
              value: "{{ record.get('stats', {}).get('conversion_add_cart') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_view_content
              value: "{{ record.get('stats', {}).get('conversion_view_content') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_add_billing
              value: "{{ record.get('stats', {}).get('conversion_add_billing') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_searches
              value: "{{ record.get('stats', {}).get('conversion_searches') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_level_completes
              value: "{{ record.get('stats', {}).get('conversion_level_completes') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_app_opens
              value: "{{ record.get('stats', {}).get('conversion_app_opens') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_page_views
              value: "{{ record.get('stats', {}).get('conversion_page_views') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_subscribe
              value: "{{ record.get('stats', {}).get('conversion_subscribe') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_ad_click
              value: "{{ record.get('stats', {}).get('conversion_ad_click') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_ad_view
              value: "{{ record.get('stats', {}).get('conversion_ad_view') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_complete_tutorial
              value: >-
                {{ record.get('stats', {}).get('conversion_complete_tutorial')
                }}
        - type: AddFields
          fields:
            - path:
                - conversion_invite
              value: "{{ record.get('stats', {}).get('conversion_invite') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_login
              value: "{{ record.get('stats', {}).get('conversion_login') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_share
              value: "{{ record.get('stats', {}).get('conversion_share') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_reserve
              value: "{{ record.get('stats', {}).get('conversion_reserve') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_achievement_unlocked
              value: >-
                {{ record.get('stats',
                {}).get('conversion_achievement_unlocked') }}
        - type: AddFields
          fields:
            - path:
                - conversion_add_to_wishlist
              value: "{{ record.get('stats', {}).get('conversion_add_to_wishlist') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_spend_credits
              value: "{{ record.get('stats', {}).get('conversion_spend_credits') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_rate
              value: "{{ record.get('stats', {}).get('conversion_rate') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_start_trial
              value: "{{ record.get('stats', {}).get('conversion_start_trial') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_list_view
              value: "{{ record.get('stats', {}).get('conversion_list_view') }}"
        - type: AddFields
          fields:
            - path:
                - custom_event_1
              value: "{{ record.get('stats', {}).get('custom_event_1') }}"
        - type: AddFields
          fields:
            - path:
                - custom_event_2
              value: "{{ record.get('stats', {}).get('custom_event_2') }}"
        - type: AddFields
          fields:
            - path:
                - custom_event_3
              value: "{{ record.get('stats', {}).get('custom_event_3') }}"
        - type: AddFields
          fields:
            - path:
                - custom_event_4
              value: "{{ record.get('stats', {}).get('custom_event_4') }}"
        - type: AddFields
          fields:
            - path:
                - custom_event_5
              value: "{{ record.get('stats', {}).get('custom_event_5') }}"
        - type: AddFields
          fields:
            - path:
                - story_opens
              value: "{{ record.get('stats', {}).get('story_opens') }}"
        - type: AddFields
          fields:
            - path:
                - story_completes
              value: "{{ record.get('stats', {}).get('story_completes') }}"
        - type: RemoveFields
          field_pointers:
            - - stats
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ads_stats_hourly"
    ads_stats_daily:
      type: DeclarativeStream
      name: ads_stats_daily
      primary_key:
        - id
        - granularity
        - start_time
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: ads/{{ stream_slice['id'] }}/stats
          http_method: GET
          request_parameters:
            fields: >-
              android_installs,attachment_avg_view_time_millis,attachment_impressions,attachment_quartile_1,attachment_quartile_2,attachment_quartile_3,attachment_total_view_time_millis,attachment_view_completion,avg_screen_time_millis,avg_view_time_millis,impressions,ios_installs,quartile_1,quartile_2,quartile_3,screen_time_millis,spend,swipe_up_percent,swipes,total_installs,video_views,video_views_time_based,video_views_15s,view_completion,view_time_millis,paid_impressions,earned_impressions,total_impressions,play_time_millis,shares,saves,native_leads,conversion_purchases,conversion_purchases_value,conversion_save,conversion_start_checkout,conversion_add_cart,conversion_view_content,conversion_add_billing,conversion_searches,conversion_level_completes,conversion_app_opens,conversion_page_views,conversion_subscribe,conversion_ad_click,conversion_ad_view,conversion_complete_tutorial,conversion_invite,conversion_login,conversion_share,conversion_reserve,conversion_achievement_unlocked,conversion_add_to_wishlist,conversion_spend_credits,conversion_rate,conversion_start_trial,conversion_list_view,custom_event_1,custom_event_2,custom_event_3,custom_event_4,custom_event_5,story_opens,story_completes,attachment_frequency,attachment_uniques,frequency,uniques,total_reach,earned_reach
            granularity: DAY
            action_report_time: "{{ config['action_report_time'] }}"
            view_attribution_window: "{{ config[\"view_attribution_window\"] }}"
            swipe_up_attribution_window: "{{ config[\"swipe_up_attribution_window\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 1
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 403
                    error_message: >-
                      Got permission error when accessing URL. Skipping
                      {{self.name}} stream.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - timeseries_stats
              - "*"
              - timeseries_stat
              - timeseries
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"paging\", {}).get(\"next_link\", {}) }}"
            stop_condition: "{{ not response.get(\"paging\", {}).get(\"next_link\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/ads"
      incremental_sync:
        type: DatetimeBasedCursor
        step: P1M
        cursor_field: start_time
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get(\"start_date\", \"2011-09-01\") }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        start_time_option:
          type: RequestOption
          field_name: start_time
          inject_into: request_parameter
        cursor_granularity: PT0S
        is_compare_strictly: true
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
      transformations:
        - type: AddFields
          fields:
            - path:
                - id
              value: "{{ stream_slice['id'] }}"
        - type: AddFields
          fields:
            - path:
                - type
              value: AD
        - type: AddFields
          fields:
            - path:
                - granularity
              value: DAY
        - type: AddFields
          fields:
            - path:
                - android_installs
              value: "{{ record.get('stats', {}).get('android_installs') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_avg_view_time_millis
              value: >-
                {{ record.get('stats',
                {}).get('attachment_avg_view_time_millis') }}
        - type: AddFields
          fields:
            - path:
                - attachment_impressions
              value: "{{ record.get('stats', {}).get('attachment_impressions') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_quartile_1
              value: "{{ record.get('stats', {}).get('attachment_quartile_1') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_quartile_2
              value: "{{ record.get('stats', {}).get('attachment_quartile_2') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_quartile_3
              value: "{{ record.get('stats', {}).get('attachment_quartile_3') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_total_view_time_millis
              value: >-
                {{ record.get('stats',
                {}).get('attachment_total_view_time_millis') }}
        - type: AddFields
          fields:
            - path:
                - attachment_view_completion
              value: "{{ record.get('stats', {}).get('attachment_view_completion') }}"
        - type: AddFields
          fields:
            - path:
                - avg_screen_time_millis
              value: "{{ record.get('stats', {}).get('avg_screen_time_millis') }}"
        - type: AddFields
          fields:
            - path:
                - avg_view_time_millis
              value: "{{ record.get('stats', {}).get('avg_view_time_millis') }}"
        - type: AddFields
          fields:
            - path:
                - impressions
              value: "{{ record.get('stats', {}).get('impressions') }}"
        - type: AddFields
          fields:
            - path:
                - ios_installs
              value: "{{ record.get('stats', {}).get('ios_installs') }}"
        - type: AddFields
          fields:
            - path:
                - quartile_1
              value: "{{ record.get('stats', {}).get('quartile_1') }}"
        - type: AddFields
          fields:
            - path:
                - quartile_2
              value: "{{ record.get('stats', {}).get('quartile_2') }}"
        - type: AddFields
          fields:
            - path:
                - quartile_3
              value: "{{ record.get('stats', {}).get('quartile_3') }}"
        - type: AddFields
          fields:
            - path:
                - screen_time_millis
              value: "{{ record.get('stats', {}).get('screen_time_millis') }}"
        - type: AddFields
          fields:
            - path:
                - spend
              value: "{{ record.get('stats', {}).get('spend') }}"
        - type: AddFields
          fields:
            - path:
                - swipe_up_percent
              value: "{{ record.get('stats', {}).get('swipe_up_percent') }}"
        - type: AddFields
          fields:
            - path:
                - swipes
              value: "{{ record.get('stats', {}).get('swipes') }}"
        - type: AddFields
          fields:
            - path:
                - total_installs
              value: "{{ record.get('stats', {}).get('total_installs') }}"
        - type: AddFields
          fields:
            - path:
                - video_views
              value: "{{ record.get('stats', {}).get('video_views') }}"
        - type: AddFields
          fields:
            - path:
                - video_views_time_based
              value: "{{ record.get('stats', {}).get('video_views_time_based') }}"
        - type: AddFields
          fields:
            - path:
                - video_views_15s
              value: "{{ record.get('stats', {}).get('video_views_15s') }}"
        - type: AddFields
          fields:
            - path:
                - view_completion
              value: "{{ record.get('stats', {}).get('view_completion') }}"
        - type: AddFields
          fields:
            - path:
                - view_time_millis
              value: "{{ record.get('stats', {}).get('view_time_millis') }}"
        - type: AddFields
          fields:
            - path:
                - paid_impressions
              value: "{{ record.get('stats', {}).get('paid_impressions') }}"
        - type: AddFields
          fields:
            - path:
                - earned_impressions
              value: "{{ record.get('stats', {}).get('earned_impressions') }}"
        - type: AddFields
          fields:
            - path:
                - total_impressions
              value: "{{ record.get('stats', {}).get('total_impressions') }}"
        - type: AddFields
          fields:
            - path:
                - play_time_millis
              value: "{{ record.get('stats', {}).get('play_time_millis') }}"
        - type: AddFields
          fields:
            - path:
                - shares
              value: "{{ record.get('stats', {}).get('shares') }}"
        - type: AddFields
          fields:
            - path:
                - saves
              value: "{{ record.get('stats', {}).get('saves') }}"
        - type: AddFields
          fields:
            - path:
                - native_leads
              value: "{{ record.get('stats', {}).get('native_leads') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_purchases
              value: "{{ record.get('stats', {}).get('conversion_purchases') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_purchases_value
              value: "{{ record.get('stats', {}).get('conversion_purchases_value') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_save
              value: "{{ record.get('stats', {}).get('conversion_save') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_start_checkout
              value: "{{ record.get('stats', {}).get('conversion_start_checkout') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_add_cart
              value: "{{ record.get('stats', {}).get('conversion_add_cart') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_view_content
              value: "{{ record.get('stats', {}).get('conversion_view_content') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_add_billing
              value: "{{ record.get('stats', {}).get('conversion_add_billing') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_searches
              value: "{{ record.get('stats', {}).get('conversion_searches') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_level_completes
              value: "{{ record.get('stats', {}).get('conversion_level_completes') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_app_opens
              value: "{{ record.get('stats', {}).get('conversion_app_opens') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_page_views
              value: "{{ record.get('stats', {}).get('conversion_page_views') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_subscribe
              value: "{{ record.get('stats', {}).get('conversion_subscribe') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_ad_click
              value: "{{ record.get('stats', {}).get('conversion_ad_click') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_ad_view
              value: "{{ record.get('stats', {}).get('conversion_ad_view') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_complete_tutorial
              value: >-
                {{ record.get('stats', {}).get('conversion_complete_tutorial')
                }}
        - type: AddFields
          fields:
            - path:
                - conversion_invite
              value: "{{ record.get('stats', {}).get('conversion_invite') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_login
              value: "{{ record.get('stats', {}).get('conversion_login') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_share
              value: "{{ record.get('stats', {}).get('conversion_share') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_reserve
              value: "{{ record.get('stats', {}).get('conversion_reserve') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_achievement_unlocked
              value: >-
                {{ record.get('stats',
                {}).get('conversion_achievement_unlocked') }}
        - type: AddFields
          fields:
            - path:
                - conversion_add_to_wishlist
              value: "{{ record.get('stats', {}).get('conversion_add_to_wishlist') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_spend_credits
              value: "{{ record.get('stats', {}).get('conversion_spend_credits') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_rate
              value: "{{ record.get('stats', {}).get('conversion_rate') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_start_trial
              value: "{{ record.get('stats', {}).get('conversion_start_trial') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_list_view
              value: "{{ record.get('stats', {}).get('conversion_list_view') }}"
        - type: AddFields
          fields:
            - path:
                - custom_event_1
              value: "{{ record.get('stats', {}).get('custom_event_1') }}"
        - type: AddFields
          fields:
            - path:
                - custom_event_2
              value: "{{ record.get('stats', {}).get('custom_event_2') }}"
        - type: AddFields
          fields:
            - path:
                - custom_event_3
              value: "{{ record.get('stats', {}).get('custom_event_3') }}"
        - type: AddFields
          fields:
            - path:
                - custom_event_4
              value: "{{ record.get('stats', {}).get('custom_event_4') }}"
        - type: AddFields
          fields:
            - path:
                - custom_event_5
              value: "{{ record.get('stats', {}).get('custom_event_5') }}"
        - type: AddFields
          fields:
            - path:
                - story_opens
              value: "{{ record.get('stats', {}).get('story_opens') }}"
        - type: AddFields
          fields:
            - path:
                - story_completes
              value: "{{ record.get('stats', {}).get('story_completes') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_frequency
              value: "{{ record.get('stats', {}).get('attachment_frequency') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_uniques
              value: "{{ record.get('stats', {}).get('attachment_uniques') }}"
        - type: AddFields
          fields:
            - path:
                - frequency
              value: "{{ record.get('stats', {}).get('frequency') }}"
        - type: AddFields
          fields:
            - path:
                - uniques
              value: "{{ record.get('stats', {}).get('uniques') }}"
        - type: AddFields
          fields:
            - path:
                - total_reach
              value: "{{ record.get('stats', {}).get('total_reach') }}"
        - type: AddFields
          fields:
            - path:
                - earned_reach
              value: "{{ record.get('stats', {}).get('earned_reach') }}"
        - type: RemoveFields
          field_pointers:
            - - stats
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ads_stats_daily"
    ads_stats_lifetime:
      type: DeclarativeStream
      name: ads_stats_lifetime
      primary_key:
        - id
        - granularity
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: ads/{{ stream_slice['id'] }}/stats
          http_method: GET
          request_parameters:
            fields: >-
              android_installs,attachment_avg_view_time_millis,attachment_impressions,attachment_quartile_1,attachment_quartile_2,attachment_quartile_3,attachment_total_view_time_millis,attachment_view_completion,avg_screen_time_millis,avg_view_time_millis,impressions,ios_installs,quartile_1,quartile_2,quartile_3,screen_time_millis,spend,swipe_up_percent,swipes,total_installs,video_views,video_views_time_based,video_views_15s,view_completion,view_time_millis,paid_impressions,earned_impressions,total_impressions,play_time_millis,shares,saves,native_leads,conversion_purchases,conversion_purchases_value,conversion_save,conversion_start_checkout,conversion_add_cart,conversion_view_content,conversion_add_billing,conversion_searches,conversion_level_completes,conversion_app_opens,conversion_page_views,conversion_subscribe,conversion_ad_click,conversion_ad_view,conversion_complete_tutorial,conversion_invite,conversion_login,conversion_share,conversion_reserve,conversion_achievement_unlocked,conversion_add_to_wishlist,conversion_spend_credits,conversion_rate,conversion_start_trial,conversion_list_view,custom_event_1,custom_event_2,custom_event_3,custom_event_4,custom_event_5,story_opens,story_completes,attachment_frequency,attachment_uniques,frequency,uniques,total_reach,earned_reach
            granularity: LIFETIME
            action_report_time: "{{ config['action_report_time'] }}"
            view_attribution_window: "{{ config[\"view_attribution_window\"] }}"
            swipe_up_attribution_window: "{{ config[\"swipe_up_attribution_window\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 1
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 403
                    error_message: >-
                      Got permission error when accessing URL. Skipping
                      {{self.name}} stream.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - lifetime_stats
              - "*"
              - lifetime_stat
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"paging\", {}).get(\"next_link\", {}) }}"
            stop_condition: "{{ not response.get(\"paging\", {}).get(\"next_link\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/ads"
      transformations:
        - type: AddFields
          fields:
            - path:
                - android_installs
              value: "{{ record.get('stats', {}).get('android_installs') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_avg_view_time_millis
              value: >-
                {{ record.get('stats',
                {}).get('attachment_avg_view_time_millis') }}
        - type: AddFields
          fields:
            - path:
                - attachment_impressions
              value: "{{ record.get('stats', {}).get('attachment_impressions') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_quartile_1
              value: "{{ record.get('stats', {}).get('attachment_quartile_1') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_quartile_2
              value: "{{ record.get('stats', {}).get('attachment_quartile_2') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_quartile_3
              value: "{{ record.get('stats', {}).get('attachment_quartile_3') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_total_view_time_millis
              value: >-
                {{ record.get('stats',
                {}).get('attachment_total_view_time_millis') }}
        - type: AddFields
          fields:
            - path:
                - attachment_view_completion
              value: "{{ record.get('stats', {}).get('attachment_view_completion') }}"
        - type: AddFields
          fields:
            - path:
                - avg_screen_time_millis
              value: "{{ record.get('stats', {}).get('avg_screen_time_millis') }}"
        - type: AddFields
          fields:
            - path:
                - avg_view_time_millis
              value: "{{ record.get('stats', {}).get('avg_view_time_millis') }}"
        - type: AddFields
          fields:
            - path:
                - impressions
              value: "{{ record.get('stats', {}).get('impressions') }}"
        - type: AddFields
          fields:
            - path:
                - ios_installs
              value: "{{ record.get('stats', {}).get('ios_installs') }}"
        - type: AddFields
          fields:
            - path:
                - quartile_1
              value: "{{ record.get('stats', {}).get('quartile_1') }}"
        - type: AddFields
          fields:
            - path:
                - quartile_2
              value: "{{ record.get('stats', {}).get('quartile_2') }}"
        - type: AddFields
          fields:
            - path:
                - quartile_3
              value: "{{ record.get('stats', {}).get('quartile_3') }}"
        - type: AddFields
          fields:
            - path:
                - screen_time_millis
              value: "{{ record.get('stats', {}).get('screen_time_millis') }}"
        - type: AddFields
          fields:
            - path:
                - spend
              value: "{{ record.get('stats', {}).get('spend') }}"
        - type: AddFields
          fields:
            - path:
                - swipe_up_percent
              value: "{{ record.get('stats', {}).get('swipe_up_percent') }}"
        - type: AddFields
          fields:
            - path:
                - swipes
              value: "{{ record.get('stats', {}).get('swipes') }}"
        - type: AddFields
          fields:
            - path:
                - total_installs
              value: "{{ record.get('stats', {}).get('total_installs') }}"
        - type: AddFields
          fields:
            - path:
                - video_views
              value: "{{ record.get('stats', {}).get('video_views') }}"
        - type: AddFields
          fields:
            - path:
                - video_views_time_based
              value: "{{ record.get('stats', {}).get('video_views_time_based') }}"
        - type: AddFields
          fields:
            - path:
                - video_views_15s
              value: "{{ record.get('stats', {}).get('video_views_15s') }}"
        - type: AddFields
          fields:
            - path:
                - view_completion
              value: "{{ record.get('stats', {}).get('view_completion') }}"
        - type: AddFields
          fields:
            - path:
                - view_time_millis
              value: "{{ record.get('stats', {}).get('view_time_millis') }}"
        - type: AddFields
          fields:
            - path:
                - paid_impressions
              value: "{{ record.get('stats', {}).get('paid_impressions') }}"
        - type: AddFields
          fields:
            - path:
                - earned_impressions
              value: "{{ record.get('stats', {}).get('earned_impressions') }}"
        - type: AddFields
          fields:
            - path:
                - total_impressions
              value: "{{ record.get('stats', {}).get('total_impressions') }}"
        - type: AddFields
          fields:
            - path:
                - play_time_millis
              value: "{{ record.get('stats', {}).get('play_time_millis') }}"
        - type: AddFields
          fields:
            - path:
                - shares
              value: "{{ record.get('stats', {}).get('shares') }}"
        - type: AddFields
          fields:
            - path:
                - saves
              value: "{{ record.get('stats', {}).get('saves') }}"
        - type: AddFields
          fields:
            - path:
                - native_leads
              value: "{{ record.get('stats', {}).get('native_leads') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_purchases
              value: "{{ record.get('stats', {}).get('conversion_purchases') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_purchases_value
              value: "{{ record.get('stats', {}).get('conversion_purchases_value') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_save
              value: "{{ record.get('stats', {}).get('conversion_save') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_start_checkout
              value: "{{ record.get('stats', {}).get('conversion_start_checkout') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_add_cart
              value: "{{ record.get('stats', {}).get('conversion_add_cart') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_view_content
              value: "{{ record.get('stats', {}).get('conversion_view_content') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_add_billing
              value: "{{ record.get('stats', {}).get('conversion_add_billing') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_searches
              value: "{{ record.get('stats', {}).get('conversion_searches') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_level_completes
              value: "{{ record.get('stats', {}).get('conversion_level_completes') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_app_opens
              value: "{{ record.get('stats', {}).get('conversion_app_opens') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_page_views
              value: "{{ record.get('stats', {}).get('conversion_page_views') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_subscribe
              value: "{{ record.get('stats', {}).get('conversion_subscribe') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_ad_click
              value: "{{ record.get('stats', {}).get('conversion_ad_click') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_ad_view
              value: "{{ record.get('stats', {}).get('conversion_ad_view') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_complete_tutorial
              value: >-
                {{ record.get('stats', {}).get('conversion_complete_tutorial')
                }}
        - type: AddFields
          fields:
            - path:
                - conversion_invite
              value: "{{ record.get('stats', {}).get('conversion_invite') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_login
              value: "{{ record.get('stats', {}).get('conversion_login') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_share
              value: "{{ record.get('stats', {}).get('conversion_share') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_reserve
              value: "{{ record.get('stats', {}).get('conversion_reserve') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_achievement_unlocked
              value: >-
                {{ record.get('stats',
                {}).get('conversion_achievement_unlocked') }}
        - type: AddFields
          fields:
            - path:
                - conversion_add_to_wishlist
              value: "{{ record.get('stats', {}).get('conversion_add_to_wishlist') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_spend_credits
              value: "{{ record.get('stats', {}).get('conversion_spend_credits') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_rate
              value: "{{ record.get('stats', {}).get('conversion_rate') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_start_trial
              value: "{{ record.get('stats', {}).get('conversion_start_trial') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_list_view
              value: "{{ record.get('stats', {}).get('conversion_list_view') }}"
        - type: AddFields
          fields:
            - path:
                - custom_event_1
              value: "{{ record.get('stats', {}).get('custom_event_1') }}"
        - type: AddFields
          fields:
            - path:
                - custom_event_2
              value: "{{ record.get('stats', {}).get('custom_event_2') }}"
        - type: AddFields
          fields:
            - path:
                - custom_event_3
              value: "{{ record.get('stats', {}).get('custom_event_3') }}"
        - type: AddFields
          fields:
            - path:
                - custom_event_4
              value: "{{ record.get('stats', {}).get('custom_event_4') }}"
        - type: AddFields
          fields:
            - path:
                - custom_event_5
              value: "{{ record.get('stats', {}).get('custom_event_5') }}"
        - type: AddFields
          fields:
            - path:
                - story_opens
              value: "{{ record.get('stats', {}).get('story_opens') }}"
        - type: AddFields
          fields:
            - path:
                - story_completes
              value: "{{ record.get('stats', {}).get('story_completes') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_frequency
              value: "{{ record.get('stats', {}).get('attachment_frequency') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_uniques
              value: "{{ record.get('stats', {}).get('attachment_uniques') }}"
        - type: AddFields
          fields:
            - path:
                - frequency
              value: "{{ record.get('stats', {}).get('frequency') }}"
        - type: AddFields
          fields:
            - path:
                - uniques
              value: "{{ record.get('stats', {}).get('uniques') }}"
        - type: AddFields
          fields:
            - path:
                - total_reach
              value: "{{ record.get('stats', {}).get('total_reach') }}"
        - type: AddFields
          fields:
            - path:
                - earned_reach
              value: "{{ record.get('stats', {}).get('earned_reach') }}"
        - type: RemoveFields
          field_pointers:
            - - stats
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ads_stats_lifetime"
    adsquads_stats_hourly:
      type: DeclarativeStream
      name: adsquads_stats_hourly
      primary_key:
        - id
        - granularity
        - start_time
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adsquads/{{ stream_slice['id'] }}/stats
          http_method: GET
          request_parameters:
            fields: >-
              android_installs,attachment_avg_view_time_millis,attachment_impressions,attachment_quartile_1,attachment_quartile_2,attachment_quartile_3,attachment_total_view_time_millis,attachment_view_completion,avg_screen_time_millis,avg_view_time_millis,impressions,ios_installs,quartile_1,quartile_2,quartile_3,screen_time_millis,spend,swipe_up_percent,swipes,total_installs,video_views,video_views_time_based,video_views_15s,view_completion,view_time_millis,paid_impressions,earned_impressions,total_impressions,play_time_millis,shares,saves,native_leads,conversion_purchases,conversion_purchases_value,conversion_save,conversion_start_checkout,conversion_add_cart,conversion_view_content,conversion_add_billing,conversion_searches,conversion_level_completes,conversion_app_opens,conversion_page_views,conversion_subscribe,conversion_ad_click,conversion_ad_view,conversion_complete_tutorial,conversion_invite,conversion_login,conversion_share,conversion_reserve,conversion_achievement_unlocked,conversion_add_to_wishlist,conversion_spend_credits,conversion_rate,conversion_start_trial,conversion_list_view,custom_event_1,custom_event_2,custom_event_3,custom_event_4,custom_event_5,story_opens,story_completes
            granularity: HOUR
            action_report_time: "{{ config['action_report_time'] }}"
            view_attribution_window: "{{ config[\"view_attribution_window\"] }}"
            swipe_up_attribution_window: "{{ config[\"swipe_up_attribution_window\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 1
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 403
                    error_message: >-
                      Got permission error when accessing URL. Skipping
                      {{self.name}} stream.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - timeseries_stats
              - "*"
              - timeseries_stat
              - timeseries
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"paging\", {}).get(\"next_link\", {}) }}"
            stop_condition: "{{ not response.get(\"paging\", {}).get(\"next_link\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/adsquads"
      incremental_sync:
        type: DatetimeBasedCursor
        step: P1W
        cursor_field: start_time
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get(\"start_date\", \"2011-09-01\") }}"
          datetime_format: "%Y-%m-%d"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        end_time_option:
          type: RequestOption
          field_name: end_time
          inject_into: request_parameter
        start_time_option:
          type: RequestOption
          field_name: start_time
          inject_into: request_parameter
        cursor_granularity: PT0S
        is_compare_strictly: true
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
      transformations:
        - type: AddFields
          fields:
            - path:
                - id
              value: "{{ stream_slice['id'] }}"
        - type: AddFields
          fields:
            - path:
                - type
              value: AD_SQUAD
        - type: AddFields
          fields:
            - path:
                - granularity
              value: HOUR
        - type: AddFields
          fields:
            - path:
                - android_installs
              value: "{{ record.get('stats', {}).get('android_installs') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_avg_view_time_millis
              value: >-
                {{ record.get('stats',
                {}).get('attachment_avg_view_time_millis') }}
        - type: AddFields
          fields:
            - path:
                - attachment_impressions
              value: "{{ record.get('stats', {}).get('attachment_impressions') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_quartile_1
              value: "{{ record.get('stats', {}).get('attachment_quartile_1') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_quartile_2
              value: "{{ record.get('stats', {}).get('attachment_quartile_2') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_quartile_3
              value: "{{ record.get('stats', {}).get('attachment_quartile_3') }}"
        - type: AddFields
          fields:
            - path:
                - attachment_total_view_time_millis
              value: >-
                {{ record.get('stats',
                {}).get('attachment_total_view_time_millis') }}
        - type: AddFields
          fields:
            - path:
                - attachment_view_completion
              value: "{{ record.get('stats', {}).get('attachment_view_completion') }}"
        - type: AddFields
          fields:
            - path:
                - avg_screen_time_millis
              value: "{{ record.get('stats', {}).get('avg_screen_time_millis') }}"
        - type: AddFields
          fields:
            - path:
                - avg_view_time_millis
              value: "{{ record.get('stats', {}).get('avg_view_time_millis') }}"
        - type: AddFields
          fields:
            - path:
                - impressions
              value: "{{ record.get('stats', {}).get('impressions') }}"
        - type: AddFields
          fields:
            - path:
                - ios_installs
              value: "{{ record.get('stats', {}).get('ios_installs') }}"
        - type: AddFields
          fields:
            - path:
                - quartile_1
              value: "{{ record.get('stats', {}).get('quartile_1') }}"
        - type: AddFields
          fields:
            - path:
                - quartile_2
              value: "{{ record.get('stats', {}).get('quartile_2') }}"
        - type: AddFields
          fields:
            - path:
                - quartile_3
              value: "{{ record.get('stats', {}).get('quartile_3') }}"
        - type: AddFields
          fields:
            - path:
                - screen_time_millis
              value: "{{ record.get('stats', {}).get('screen_time_millis') }}"
        - type: AddFields
          fields:
            - path:
                - spend
              value: "{{ record.get('stats', {}).get('spend') }}"
        - type: AddFields
          fields:
            - path:
                - swipe_up_percent
              value: "{{ record.get('stats', {}).get('swipe_up_percent') }}"
        - type: AddFields
          fields:
            - path:
                - swipes
              value: "{{ record.get('stats', {}).get('swipes') }}"
        - type: AddFields
          fields:
            - path:
                - total_installs
              value: "{{ record.get('stats', {}).get('total_installs') }}"
        - type: AddFields
          fields:
            - path:
                - video_views
              value: "{{ record.get('stats', {}).get('video_views') }}"
        - type: AddFields
          fields:
            - path:
                - video_views_time_based
              value: "{{ record.get('stats', {}).get('video_views_time_based') }}"
        - type: AddFields
          fields:
            - path:
                - video_views_15s
              value: "{{ record.get('stats', {}).get('video_views_15s') }}"
        - type: AddFields
          fields:
            - path:
                - view_completion
              value: "{{ record.get('stats', {}).get('view_completion') }}"
        - type: AddFields
          fields:
            - path:
                - view_time_millis
              value: "{{ record.get('stats', {}).get('view_time_millis') }}"
        - type: AddFields
          fields:
            - path:
                - paid_impressions
              value: "{{ record.get('stats', {}).get('paid_impressions') }}"
        - type: AddFields
          fields:
            - path:
                - earned_impressions
              value: "{{ record.get('stats', {}).get('earned_impressions') }}"
        - type: AddFields
          fields:
            - path:
                - total_impressions
              value: "{{ record.get('stats', {}).get('total_impressions') }}"
        - type: AddFields
          fields:
            - path:
                - play_time_millis
              value: "{{ record.get('stats', {}).get('play_time_millis') }}"
        - type: AddFields
          fields:
            - path:
                - shares
              value: "{{ record.get('stats', {}).get('shares') }}"
        - type: AddFields
          fields:
            - path:
                - saves
              value: "{{ record.get('stats', {}).get('saves') }}"
        - type: AddFields
          fields:
            - path:
                - native_leads
              value: "{{ record.get('stats', {}).get('native_leads') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_purchases
              value: "{{ record.get('stats', {}).get('conversion_purchases') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_purchases_value
              value: "{{ record.get('stats', {}).get('conversion_purchases_value') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_save
              value: "{{ record.get('stats', {}).get('conversion_save') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_start_checkout
              value: "{{ record.get('stats', {}).get('conversion_start_checkout') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_add_cart
              value: "{{ record.get('stats', {}).get('conversion_add_cart') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_view_content
              value: "{{ record.get('stats', {}).get('conversion_view_content') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_add_billing
              value: "{{ record.get('stats', {}).get('conversion_add_billing') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_searches
              value: "{{ record.get('stats', {}).get('conversion_searches') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_level_completes
              value: "{{ record.get('stats', {}).get('conversion_level_completes') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_app_opens
              value: "{{ record.get('stats', {}).get('conversion_app_opens') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_page_views
              value: "{{ record.get('stats', {}).get('conversion_page_views') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_subscribe
              value: "{{ record.get('stats', {}).get('conversion_subscribe') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_ad_click
              value: "{{ record.get('stats', {}).get('conversion_ad_click') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_ad_view
              value: "{{ record.get('stats', {}).get('conversion_ad_view') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_complete_tutorial
              value: >-
                {{ record.get('stats', {}).get('conversion_complete_tutorial')
                }}
        - type: AddFields
          fields:
            - path:
                - conversion_invite
              value: "{{ record.get('stats', {}).get('conversion_invite') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_login
              value: "{{ record.get('stats', {}).get('conversion_login') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_share
              value: "{{ record.get('stats', {}).get('conversion_share') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_reserve
              value: "{{ record.get('stats', {}).get('conversion_reserve') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_achievement_unlocked
              value: >-
                {{ record.get('stats',
                {}).get('conversion_achievement_unlocked') }}
        - type: AddFields
          fields:
            - path:
                - conversion_add_to_wishlist
              value: "{{ record.get('stats', {}).get('conversion_add_to_wishlist') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_spend_credits
              value: "{{ record.get('stats', {}).get('conversion_spend_credits') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_rate
              value: "{{ record.get('stats', {}).get('conversion_rate') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_start_trial
              value: "{{ record.get('stats', {}).get('conversion_start_trial') }}"
        - type: AddFields
          fields:
            - path:
                - conversion_list_view
              value: "{{ record.get('stats', {}).get('conversion_list_view') }}"
        - type: AddFields
          fields:
            - path:
                - custom_event_1
              value: "{{ record.get('stats', {}).get('custom_event_1') }}"
        - type: AddFields
          fields:
            - path:
                - custom_event_2
              value: "{{ record.get('stats', {}).get('custom_event_2') }}"
        - type: AddFields
          fields:
            - path:
                - custom_event_3
              value: "{{ record.get('stats', {}).get('custom_event_3') }}"
        - type: AddFields
          fields:
            - path:
                - custom_event_4
              value: "{{ record.get('stats', {}).get('custom_event_4') }}"
        - type: AddFields
          fields:
            - path:
                - custom_event_5
              value: "{{ record.get('stats', {}).get('custom_event_5') }}"
        - type: AddFields
          fields:
            - path:
                - story_opens
              value: "{{ record.get('stats', {}).get('story_opens') }}"
        - type: AddFields
          fields:
            - path:
                - story_completes
              value: "{{ record.get('stats', {}).get('story_completes') }}"
        - type: RemoveFields
          field_pointers:
            - - stats
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/adsquads_stats_hourly"
    adsquads_stats_daily:
      type: DeclarativeStream
      name: adsquads_stats_daily
      primary_key:
        - id
        - granularity
        - start_time
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adsquads/{{ stream_slice['id'] }}/stats
          http_method: GET
          request_parameters:
            fields: >-
              android_installs,attachment_avg_view_time_millis,attachment_impressions,attachment_quartile_1,attachment_quartile_2,attachment_quartile_3,attachment_total_view_time_millis,attachment_view_completion,avg_screen_time_millis,avg_view_time_millis,impressions,ios_installs,quartile_1,quartile_2,quartile_3,screen_time_millis,spend,swipe_up_percent,swipes,total_installs,video_views,video_views_time_based,video_views_15s,view_completion,view_time_millis,paid_impressions,earned_impressions,total_impressions,play_time_millis,shares,saves,native_leads,conversion_purchases,conversion_purchases_value,conversion_save,conversion_start_checkout,conversion_add_cart,conversion_view_content,conversion_add_billing,conversion_searches,conversion_level_completes,conversion_app_opens,conversion_page_views,conversion_subscribe,conversion_ad_click,conversion_ad_view,conversion_complete_tutorial,conversion_invite,conversion_login,conversion_share,conversion_reserve,conversion_achievement_unlocked,conversion_add_to_wishlist,conversion_spend_credits,conversion_rate,conversion_start_trial,conversion_list_view,custom_event_1,custom_event_2,custom_event_3,custom_event_4,custom_event_5,story_opens,story_completes,attachment_frequency,attachment_uniques,frequency,uniques,total_reach,earned_reach
            granularity: DAY
            action_report_time: "{{ config['action_report_time'] }}"
            view_attribution_window: "{{ config[\"view_attribution_window\"] }}"
            swipe_up_attribution_window: "{{ config[\"swipe_up_attribution_window\"] }}"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                    factor: 1
                response_filters:
                  - type: HttpResponseFilter
                    action: RETRY
                    http_codes:
                      - 403
                    error_message: >-
                      Got permission error when accessing URL. Skipping
                      {{self.name}} stream.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - timeseries_stats
              - "*"
              - timeseries_stat
              - timeseries
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get(\"paging\", {}).get(\"next_link\", {}) }}"
            stop_condition: "{{ not response.get(\"paging\", {}).get(\"next_link\", {}) }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/adsquads"
      incremental_sync:
        type: DatetimeBasedCursor
        step: P1M
        cursor_field: start_time
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get(\"start_date\", \"2011-09-01\") }}"
[...]
