version: 6.5.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - orders

definitions:
  authenticator:
    type: CustomAuthenticator
    class_name: source_amazon_seller_partner.components.auth.AmazonSPOauthAuthenticator
    client_id: "{{ config['lwa_app_id'] }}"
    client_secret: "{{ config['lwa_client_secret'] }}"
    refresh_token: "{{ config['refresh_token'] }}"
    token_refresh_endpoint: "https://api.amazon.com/auth/o2/token"
    host: "{{ config['endpoint'].replace('https://', '') }}"


  base_requester:
    type: HttpRequester
    url_base: "{{ config['endpoint'] }}"
    authenticator: "#/definitions/authenticator"
    request_headers:
      Amazon-Advertising-API-ClientId: '{{ config["client_id"] }}'

  streams:
    orders:
      type: DeclarativeStream
      name: Orders
      primary_key:
        - AmazonOrderId
      ignore_stream_slicer_parameters_on_paginated_requests: false
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: LastUpdateDate
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['replication_start_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['replication_end_date'], '%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          field_name: LastUpdatedAfter
          inject_into: request_parameter
        end_time_option:
          field_name: LastUpdatedBefore
          inject_into: request_parameter
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: "orders/v0/orders"
          http_method: GET
          request_headers:
            content-type: "application/json"
          request_parameters:
            MarketplaceIds: '{{ config["marketplace_id"] }}'
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: ["payload", "Orders"]
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: NextToken
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: MaxResultsPerPage
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.nextToken }}"

streams:
  - $ref: "#/definitions/streams/orders"

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 10
  max_concurrency: 10