version: 6.44.0

type: DeclarativeSource

check:
  type: CheckStream
  # Placeholder: currently unused but required in the manifest.
  # The check using the customer stream and custom queries stream should be implemented once the full migration to low-code is complete.
  stream_names:
    - campaign

definitions:
  # Authenticator Definitions
  authenticator:
    type: OAuthAuthenticator
    refresh_request_body: {}
    token_refresh_endpoint: https://www.googleapis.com/oauth2/v3/token
    grant_type: refresh_token
    client_id: '{{ config["credentials"]["client_id"] }}'
    client_secret: '{{ config["credentials"]["client_secret"] }}'
    refresh_token: '{{ config["credentials"]["refresh_token"] }}'

  base_requester:
    type: HttpRequester
    authenticator:
      $ref: "#/definitions/authenticator"
    http_method: GET
    request_headers:
      Content-Type: application/json
      developer-token: '{{ config["credentials"]["developer_token"] }}'
    error_handler:
      $ref: "#/definitions/base_error_handler"

  stream_requester:
    type: CustomRequester
    class_name: "source_google_ads.components.GoogleAdsHttpRequester"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas"
    authenticator:
      $ref: "#/definitions/authenticator"
    url_base: "https://googleads.googleapis.com/v18/{{ stream_partition['customer_id'] }}/googleAds:searchStream"
    http_method: POST
    error_handler:
      $ref: "#/definitions/base_error_handler"

  base_error_handler:
    type: DefaultErrorHandler
    response_filters:
      - type: HttpResponseFilter
        action: FAIL
        http_codes:
          - 500
        error_message: >-
          Unable to fetch data from Google Ads API due to temporal error on the Google Ads server. Please retry again later.
      - type: HttpResponseFilter
        action: IGNORE
        http_codes:
          - 403
        error_message_contains: "The customer account can\\'t be accessed because it is not yet enabled or has been deactivated."

  base_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - results

  base_retriever:
    type: SimpleRetriever
    requester:
      $ref: "#/definitions/stream_requester"
    record_selector:
      $ref: "#/definitions/base_selector"
    paginator:
      type: NoPagination
    decoder:
      type: JsonDecoder

  stream_base:
    type: DeclarativeStream
    primary_key:
      - id
    retriever:
      $ref: "#/definitions/base_retriever"

  incremental_stream_base:
    type: DeclarativeStream
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/stream_requester"
      record_selector:
        extractor:
          type: DpathExtractor
          field_path:
            - results
        schema_normalization:
          type: CustomSchemaNormalization
          class_name: source_google_ads.components.DoubleQuotedDictTypeTransformer
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream: "#/definitions/customer_client"
            parent_key: "clientCustomer"
            partition_field: "customer_id"
            extra_fields: [["manager"]]
    transformations:
      - type: KeysToSnakeCase
      - type: CustomTransformation
        class_name: "source_google_ads.components.FlattenNestedDictsTransformation"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: segments.date
      datetime_format: "%Y-%m-%d"
      lookback_window: P{{ config.get('conversion_window_days', 14) }}D
      cursor_granularity: P1D
      step: P14D
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('start_date', day_delta(-365 * 2, format='%Y-%m-%d')) }}"
        datetime_format: "%Y-%m-%d"
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('end_date', today_utc()) }}"
        datetime_format: "%Y-%m-%d"
    state_migrations:
      - type: CustomStateMigration
        class_name: source_google_ads.components.GoogleAdsPerPartitionStateMigration
        customer_client_stream: "#/definitions/customer_client"

  incremental_non_manager_stream_base:
    $ref: "#/definitions/incremental_stream_base"
    retriever:
      $ref: "#/definitions/incremental_stream_base/retriever"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream: "#/definitions/customer_client_non_manager"
            parent_key: "clientCustomer"
            partition_field: "customer_id"

  accessible_accounts:
    $ref: "#/definitions/stream_base"
    name: accessible_accounts
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        url_base: "https://googleads.googleapis.com/v18/customers:listAccessibleCustomers"
        http_method: GET
      paginator:
        type: NoPagination
      record_selector:
        extractor:
          type: CustomRecordExtractor
          class_name: "source_google_ads.components.AccessibleAccountsExtractor"

  customer_client:
    $ref: "#/definitions/stream_base"
    name: customer_client
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        url_base: "https://googleads.googleapis.com/v18/customers/{{ stream_partition['customer_id'] }}/googleAds:searchStream"
        http_method: POST
        request_body:
          type: RequestBodyJsonObject
          value:
            query: >
              SELECT 
                customer_client.client_customer,
                customer_client.level,
                customer_client.id,
                customer_client.manager,
                customer_client.time_zone,
                customer_client.status
              FROM 
                customer_client
      record_selector:
        extractor:
          type: DpathExtractor
          field_path: ["results", "*", "customerClient"]
        record_filter:
          type: CustomRecordFilter
          class_name: "source_google_ads.components.CustomerClientFilter"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream: "#/definitions/accessible_accounts"
            parent_key: "accessible_customer_id"
            partition_field: "customer_id"

  customer_client_non_manager:
    $ref: "#/definitions/stream_base"
    name: customer_client_non_manager
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        url_base: "https://googleads.googleapis.com/v18/customers/{{ stream_partition['customer_id'] }}/googleAds:searchStream"
        http_method: POST
        request_body:
          type: RequestBodyJsonObject
          value:
            query: >
              SELECT 
                customer_client.client_customer,
                customer_client.level,
                customer_client.id,
                customer_client.manager,
                customer_client.time_zone,
                customer_client.status
              FROM 
                customer_client
              WHERE 
                customer_client.manager = FALSE
      record_selector:
        extractor:
          type: DpathExtractor
          field_path: ["results", "*", "customerClient"]
        record_filter:
          type: CustomRecordFilter
          class_name: "source_google_ads.components.CustomerClientFilter"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream: "#/definitions/accessible_accounts"
            parent_key: "accessible_customer_id"
            partition_field: "customer_id"

  # Stream Definitions
  campaign_stream:
    $ref: "#/definitions/incremental_non_manager_stream_base"
    name: campaign
    primary_key:
      - campaign.id
      - segments.date
      - segments.hour
      - segments.ad_network_type
    transformations:
      - type: KeysToSnakeCase
      - type: CustomTransformation
        class_name: "source_google_ads.components.FlattenNestedDictsTransformation"
      - type: AddFields
        fields:
          # Renames video_quartile_p_100_rate to video_quartile_p100_rate
          - path: ["metrics.video_quartile_p100_rate"]
            value: "{{ record['metrics.video_quartile_p_100_rate'] or 0.0 }}"
            value_type: number
          - path: ["metrics.interaction_event_types"]
            value: >-
              {{ record['metrics.interaction_event_types']
                 | map('replace','UNSPECIFIED','0')
                 | map('replace','UNKNOWN','1')
                 | map('replace','CLICK','2')
                 | map('replace','ENGAGEMENT','3')
                 | map('replace','VIDEO_VIEW','4')
                 | map('replace','NONE','5')
                 | list }}
      - type: RemoveFields
        field_pointers: [["metrics.video_quartile_p_100_rate"]]
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/campaign"

  ad_group_stream:
    $ref: "#/definitions/incremental_stream_base"
    name: ad_group
    primary_key:
      - ad_group.id
      - segments.date
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ad_group"

streams:
  - "#/definitions/campaign_stream"
  - "#/definitions/ad_group_stream"

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: "{{ config.get('num_workers', 3) }}"
  max_concurrency: 40

schemas:
  ad_group:
    $schema: http://json-schema.org/schema#
    type: object
    properties:
      campaign.id:
        description: The unique identifier of the campaign to which the ad group belongs.
        type:
          - "null"
          - integer
      ad_group.ad_rotation_mode:
        description: The rotation mode for ads within the ad group.
        type:
          - "null"
          - string
      ad_group.base_ad_group:
        description: The base ad group associated with this ad group.
        type:
          - "null"
          - string
      ad_group.campaign:
        description: The campaign to which the ad group belongs.
        type:
          - "null"
          - string
      metrics.cost_micros:
        description: The cost in micros for the ad group.
        type:
          - "null"
          - integer
      ad_group.cpc_bid_micros:
        description: The cost-per-click bid for the ad group in micros.
        type:
          - "null"
          - integer
      ad_group.cpm_bid_micros:
        description: The cost-per-thousand impressions bid for the ad group in micros.
        type:
          - "null"
          - integer
      ad_group.cpv_bid_micros:
        description: The cost-per-view bid for the ad group in micros.
        type:
          - "null"
          - integer
      ad_group.display_custom_bid_dimension:
        description: Custom bid dimension settings for the display network.
        type:
          - "null"
          - string
      ad_group.effective_target_cpa_micros:
        description: The effective target cost-per-acquisition bid in micros.
        type:
          - "null"
          - integer
      ad_group.effective_target_cpa_source:
        description: The source of the effective target CPA bid.
        type:
          - "null"
          - string
      ad_group.effective_target_roas:
        description: The effective target return on ad spend bid.
        type:
          - "null"
          - number
      ad_group.effective_target_roas_source:
        description: The source of the effective target ROAS bid.
        type:
          - "null"
          - string
      ad_group.excluded_parent_asset_field_types:
        description:
          Field types excluded from being used as asset fields in the ad
          group.
        type:
          - "null"
          - array
        items:
          type: string
      ad_group.optimized_targeting_enabled:
        description: Indicates whether optimized targeting is enabled for the ad group.
        type:
          - "null"
          - boolean
      ad_group.final_url_suffix:
        description: The final URL suffix for the ad group.
        type:
          - "null"
          - string
      ad_group.id:
        description: The unique identifier for the ad group.
        type:
          - "null"
          - integer
      ad_group.labels:
        description: Labels associated with the ad group.
        type:
          - "null"
          - array
        items:
          type: string
      ad_group.name:
        description: The name of the ad group.
        type:
          - "null"
          - string
      ad_group.percent_cpc_bid_micros:
        description:
          The percentage of the cost-per-click bid that is paid for the
          ad group.
        type:
          - "null"
          - integer
      ad_group.resource_name:
        description: The resource name of the ad group.
        type:
          - "null"
          - string
      ad_group.status:
        description: The status of the ad group.
        type:
          - "null"
          - string
      ad_group.target_cpa_micros:
        description: The target cost-per-acquisition bid in micros for the ad group.
        type:
          - "null"
          - integer
      ad_group.target_cpm_micros:
        description:
          The target cost-per-thousand impressions bid in micros for the
          ad group.
        type:
          - "null"
          - integer
      ad_group.target_roas:
        description: The target return on ad spend bid for the ad group.
        type:
          - "null"
          - number
      ad_group.targeting_setting.target_restrictions:
        description: Targeting restrictions defined for the ad group.
        type:
          - "null"
          - array
        items:
          type: string
      ad_group.tracking_url_template:
        description: The tracking URL template for the ad group.
        type:
          - "null"
          - string
      ad_group.type:
        description: The type of the ad group.
        type:
          - "null"
          - string
      ad_group.url_custom_parameters:
        description: Custom parameters for the ad group's URLs.
        type:
          - "null"
          - array
        items:
          type: string
      segments.date:
        description: The date segment for the data.
        type:
          - "null"
          - string
        format: date
    additionalProperties: true

  campaign:
    $schema: http://json-schema.org/schema#
    type: object
    properties:
      campaign.accessible_bidding_strategy:
        description: The accessible bidding strategy of the campaign.
        type:
          - "null"
          - string
      campaign.ad_serving_optimization_status:
        description: The optimization status for serving ads within the campaign.
        type:
          - "null"
          - string
      campaign.advertising_channel_sub_type:
        description: The sub-type of advertising channel for the campaign.
        type:
          - "null"
          - string
      campaign.advertising_channel_type:
        description: The type of advertising channel for the campaign.
        type:
          - "null"
          - string
      campaign.app_campaign_setting.app_id:
        description: The ID of the app associated with the app campaign setting.
        type:
          - "null"
          - string
      campaign.app_campaign_setting.app_store:
        description:
          The app store for the mobile app associated with the app campaign
          setting.
        type:
          - "null"
          - string
      campaign.app_campaign_setting.bidding_strategy_goal_type:
        description: The goal type for the app campaign's bidding strategy.
        type:
          - "null"
          - string
      campaign.base_campaign:
        description: The base campaign linked to the current campaign.
        type:
          - "null"
          - string
      campaign.bidding_strategy:
        description: The bidding strategy used for the campaign.
        type:
          - "null"
          - string
      campaign.bidding_strategy_type:
        description: The type of bidding strategy employed for the campaign.
        type:
          - "null"
          - string
      campaign.campaign_budget:
        description: The budget allocated for the campaign.
        type:
          - "null"
          - string
      campaign_budget.amount_micros:
        description: The budget amount in micros allocated for the campaign.
        type:
          - "null"
          - integer
      campaign.commission.commission_rate_micros:
        description: The commission rate in micros for the campaign.
        type:
          - "null"
          - integer
      campaign.dynamic_search_ads_setting.domain_name:
        description: The domain name set for dynamic search ads within the campaign.
        type:
          - "null"
          - string
      campaign.dynamic_search_ads_setting.feeds:
        description: List of feeds utilized for dynamic search ads.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.dynamic_search_ads_setting.language_code:
        description: The language code associated with dynamic search ads.
        type:
          - "null"
          - string
      campaign.dynamic_search_ads_setting.use_supplied_urls_only:
        description:
          Flag indicating whether only supplied URLs are used for dynamic
          search ads.
        type:
          - "null"
          - boolean
      campaign.end_date:
        description: The end date of the campaign.
        type:
          - "null"
          - string
      campaign.excluded_parent_asset_field_types:
        description: Types of parent asset fields excluded from the campaign.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.experiment_type:
        description: The type of experiment conducted for the campaign.
        type:
          - "null"
          - string
      campaign.final_url_suffix:
        description: The final URL suffix used for tracking in the campaign.
        type:
          - "null"
          - string
      campaign.frequency_caps:
        description: Caps on ad serving frequency for the campaign.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.geo_target_type_setting.negative_geo_target_type:
        description: The negative geo target type settings for the campaign.
        type:
          - "null"
          - string
      campaign.geo_target_type_setting.positive_geo_target_type:
        description: The positive geo target type settings for the campaign.
        type:
          - "null"
          - string
      campaign.hotel_setting.hotel_center_id:
        description: The hotel center ID associated with hotel campaigns.
        type:
          - "null"
          - integer
      campaign.id:
        description: The unique identifier of the campaign.
        type:
          - "null"
          - integer
      campaign.labels:
        description: Labels associated with the campaign.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.local_campaign_setting.location_source_type:
        description: The source type for location targeting in local campaigns.
        type:
          - "null"
          - string
      campaign.manual_cpc.enhanced_cpc_enabled:
        description:
          Indication of whether Enhanced CPC is enabled for manual CPC
          campaigns.
        type:
          - "null"
          - boolean
      campaign.manual_cpm:
        description: Manual CPM bidding used in the campaign.
        type:
          - "null"
          - string
      campaign.manual_cpv:
        description: Manual CPV bidding used in the campaign.
        type:
          - "null"
          - string
      campaign.maximize_conversion_value.target_roas:
        description: Target ROAS set for maximizing conversion value in the campaign.
        type:
          - "null"
          - number
      campaign.maximize_conversions.target_cpa_micros:
        description: Target CPA in micros set for maximizing conversions in the campaign.
        type:
          - "null"
          - integer
      campaign.name:
        description: The name of the campaign.
        type:
          - "null"
          - string
      campaign.network_settings.target_content_network:
        description: Indication of targeting the content network in network settings.
        type:
          - "null"
          - boolean
      campaign.network_settings.target_google_search:
        description: Indication of targeting Google Search in network settings.
        type:
          - "null"
          - boolean
      campaign.network_settings.target_partner_search_network:
        description: Indication of targeting partner search network in network settings.
        type:
          - "null"
          - boolean
      campaign.network_settings.target_search_network:
        description: Indication of targeting search network in network settings.
        type:
          - "null"
          - boolean
      campaign.optimization_goal_setting.optimization_goal_types:
        description: Types of optimization goals set for the campaign.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.optimization_score:
        description: The optimization score of the campaign.
        type:
          - "null"
          - number
      campaign.payment_mode:
        description: The payment mode chosen for the campaign.
        type:
          - "null"
          - string
      campaign.percent_cpc.cpc_bid_ceiling_micros:
        description: The CPC bid ceiling in micros for percent CPC bidding.
        type:
          - "null"
          - integer
      campaign.percent_cpc.enhanced_cpc_enabled:
        description: Indication of Enhanced CPC enabled for percent CPC bidding.
        type:
          - "null"
          - boolean
      campaign.real_time_bidding_setting.opt_in:
        description: Opt-in status for real-time bidding within the campaign.
        type:
          - "null"
          - boolean
      campaign.resource_name:
        description: The resource name of the campaign.
        type:
          - "null"
          - string
      campaign.selective_optimization.conversion_actions:
        description:
          Conversion actions selected for selective optimization within
          the campaign.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.serving_status:
        description: The serving status of the campaign.
        type:
          - "null"
          - string
      campaign.shopping_setting.campaign_priority:
        description: Campaign priority set for shopping campaigns.
        type:
          - "null"
          - integer
      campaign.shopping_setting.enable_local:
        description: Flag indicating whether local shopping is enabled for the campaign.
        type:
          - "null"
          - boolean
      campaign.shopping_setting.merchant_id:
        description: The merchant ID associated with shopping campaigns.
        type:
          - "null"
          - integer
      campaign.start_date:
        description: The start date of the campaign.
        type:
          - "null"
          - string
      campaign.status:
        description: The status of the campaign.
        type:
          - "null"
          - string
      campaign.target_cpa.cpc_bid_ceiling_micros:
        description: The CPC bid ceiling in micros for target CPA bidding.
        type:
          - "null"
          - integer
      campaign.target_cpa.cpc_bid_floor_micros:
        description: The CPC bid floor in micros for target CPA bidding.
        type:
          - "null"
          - integer
      campaign.target_cpa.target_cpa_micros:
        description: The target CPA in micros for target CPA bidding.
        type:
          - "null"
          - integer
      campaign.target_cpm.target_frequency_goal.target_count:
        description:
          The target count set for target frequency goal in target CPM
          bidding.
        type:
          - "null"
          - integer
      campaign.target_cpm.target_frequency_goal.time_unit:
        description: The time unit set for target frequency goal in target CPM bidding.
        type:
          - "null"
          - string
      campaign.target_impression_share.cpc_bid_ceiling_micros:
        description: The CPC bid ceiling in micros for target impression share bidding.
        type:
          - "null"
          - integer
      campaign.target_impression_share.location:
        description: The location targeted for target impression share bidding.
        type:
          - "null"
          - string
      campaign.target_impression_share.location_fraction_micros:
        description: The location fraction in micros for target impression share bidding.
        type:
          - "null"
          - integer
      campaign.target_roas.cpc_bid_ceiling_micros:
        description: The CPC bid ceiling in micros for target ROAS bidding.
        type:
          - "null"
          - integer
      campaign.target_roas.cpc_bid_floor_micros:
        description: The CPC bid floor in micros for target ROAS bidding.
        type:
          - "null"
          - integer
      campaign.target_roas.target_roas:
        description: The target ROAS set for target ROAS bidding.
        type:
          - "null"
          - number
      campaign.target_spend.cpc_bid_ceiling_micros:
        description: The CPC bid ceiling in micros for target spend bidding.
        type:
          - "null"
          - integer
      campaign.target_spend.target_spend_micros:
        description: The target spend in micros for target spend bidding.
        type:
          - "null"
          - integer
      campaign.targeting_setting.target_restrictions:
        description: Restrictions applied to targeting within the campaign.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.tracking_setting.tracking_url:
        description: The tracking URL set for campaign tracking.
        type:
          - "null"
          - string
      campaign.tracking_url_template:
        description: The template for tracking URLs in the campaign.
        type:
          - "null"
          - string
      campaign.url_custom_parameters:
        description: Custom parameters added to campaign URLs.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.vanity_pharma.vanity_pharma_display_url_mode:
        description: The display URL mode set for vanity pharma in the campaign.
        type:
          - "null"
          - string
      campaign.vanity_pharma.vanity_pharma_text:
        description: The text used for vanity pharma in the campaign.
        type:
          - "null"
          - string
      campaign.video_brand_safety_suitability:
        description:
          The brand safety suitability settings for video ads within the
          campaign.
        type:
          - "null"
          - string
      metrics.clicks:
        description: Total number of clicks in the campaign.
        type:
          - "null"
          - integer
      metrics.ctr:
        description: Click-through rate (CTR) metric for the campaign.
        type:
          - "null"
          - number
      metrics.conversions:
        description: Total number of conversions in the campaign.
        type:
          - "null"
          - number
      metrics.conversions_value:
        description: Total value of conversions in the campaign.
        type:
          - "null"
          - number
      metrics.cost_micros:
        description: Total cost in micros incurred for the campaign.
        type:
          - "null"
          - integer
      metrics.impressions:
        description: Total number of impressions for the campaign.
        type:
          - "null"
          - integer
      metrics.video_views:
        description: Total number of video views in the campaign.
        type:
          - "null"
          - integer
      metrics.video_quartile_p100_rate:
        description: Rate of viewers reaching the 100% quartile in video ads.
        type:
          - "null"
          - number
      metrics.active_view_cpm:
        description: Active View CPM metric for the campaign.
        type:
          - "null"
          - number
      metrics.active_view_ctr:
        description: Active View CTR metric for the campaign.
        type:
          - "null"
          - number
      metrics.active_view_impressions:
        description: Number of active view impressions for the campaign.
        type:
          - "null"
          - integer
      metrics.active_view_measurability:
        description: Active view measurability metric for the campaign.
        type:
          - "null"
          - number
      metrics.active_view_measurable_cost_micros:
        description: Cost in micros for measurable active view impressions.
        type:
          - "null"
          - integer
      metrics.active_view_measurable_impressions:
        description: Number of measurable active view impressions.
        type:
          - "null"
          - integer
      metrics.active_view_viewability:
        description: Active view viewability metric for the campaign.
        type:
          - "null"
          - number
      metrics.average_cost:
        description: Average cost metric for the campaign.
        type:
          - "null"
          - number
      metrics.average_cpc:
        description: Average CPC metric for the campaign.
        type:
          - "null"
          - number
      metrics.average_cpm:
        description: Average CPM metric for the campaign.
        type:
          - "null"
          - number
      metrics.interactions:
        description: Total number of interactions in the campaign.
        type:
          - "null"
          - integer
      metrics.interaction_event_types:
        description: Types of interaction events recorded in the campaign metrics.
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      metrics.value_per_conversion:
        description: Average value per conversion in the campaign.
        type:
          - "null"
          - number
      metrics.cost_per_conversion:
        description: Cost per conversion metric for the campaign.
        type:
          - "null"
          - number
      segments.date:
        description: Date segment used for campaign data.
        type:
          - "null"
          - string
        format: date
      segments.hour:
        description: Hour segment used for campaign data.
        type:
          - "null"
          - integer
      segments.ad_network_type:
        description: The type of ad network used for segmentation.
        type:
          - "null"
          - string
    additionalProperties: true
