version: 6.44.0

type: DeclarativeSource

check:
  type: CheckStream
  # Placeholder: currently unused but required in the manifest.
  # The check using the customer stream and custom queries stream should be implemented once the full migration to low-code is complete.
  stream_names:
    - campaign

definitions:
  # Authenticator Definitions
  authenticator:
    type: OAuthAuthenticator
    refresh_request_body: {}
    token_refresh_endpoint: https://www.googleapis.com/oauth2/v3/token
    grant_type: refresh_token
    client_id: '{{ config["credentials"]["client_id"] }}'
    client_secret: '{{ config["credentials"]["client_secret"] }}'
    refresh_token: '{{ config["credentials"]["refresh_token"] }}'

  base_requester:
    type: HttpRequester
    authenticator:
      $ref: "#/definitions/authenticator"
    http_method: GET
    request_headers:
      Content-Type: application/json
      developer-token: '{{ config["credentials"]["developer_token"] }}'
    error_handler:
      $ref: "#/definitions/base_error_handler"

  stream_requester:
    type: CustomRequester
    class_name: "source_google_ads.components.GoogleAdsHttpRequester"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas"
    authenticator:
      $ref: "#/definitions/authenticator"
    url_base: "https://googleads.googleapis.com/v18/{{ stream_partition['customer_id'] }}/googleAds:searchStream"
    http_method: POST
    error_handler:
      $ref: "#/definitions/base_error_handler"

  base_error_handler:
    type: DefaultErrorHandler
    response_filters:
      - type: HttpResponseFilter
        action: FAIL
        http_codes:
          - 500
        error_message: >-
          Unable to fetch data from Google Ads API due to temporal error on the Google Ads server. Please retry again later.
      - type: HttpResponseFilter
        action: IGNORE
        http_codes:
          - 403
        error_message_contains: "The customer account can\\'t be accessed because it is not yet enabled or has been deactivated."

  base_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - results

  base_retriever:
    type: SimpleRetriever
    requester:
      $ref: "#/definitions/stream_requester"
    record_selector:
      $ref: "#/definitions/base_selector"
    paginator:
      type: NoPagination
    decoder:
      type: JsonDecoder

  stream_base:
    type: DeclarativeStream
    primary_key:
      - id
    retriever:
      $ref: "#/definitions/base_retriever"

  incremental_stream_base:
    type: DeclarativeStream
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/stream_requester"
      record_selector:
        extractor:
          type: DpathExtractor
          field_path:
            - results
        schema_normalization:
          type: CustomSchemaNormalization
          class_name: source_google_ads.components.DoubleQuotedDictTypeTransformer
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream: "#/definitions/customer_client"
            parent_key: "clientCustomer"
            partition_field: "customer_id"
            extra_fields: [["manager"]]
    transformations:
      - type: CustomTransformation
        class_name: "source_google_ads.components.KeysToSnakeCaseGoogleAdsTransformation"
      - type: CustomTransformation
        class_name: "source_google_ads.components.FlattenNestedDictsTransformation"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: segments.date
      datetime_format: "%Y-%m-%d"
      lookback_window: P{{ config.get('conversion_window_days', 14) }}D
      cursor_granularity: P1D
      step: P14D
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('start_date', day_delta(-365 * 2, format='%Y-%m-%d')) }}"
        datetime_format: "%Y-%m-%d"
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('end_date', today_utc()) }}"
        datetime_format: "%Y-%m-%d"
    state_migrations:
      - type: CustomStateMigration
        class_name: source_google_ads.components.GoogleAdsPerPartitionStateMigration
        customer_client_stream: "#/definitions/customer_client"

  incremental_non_manager_stream_base:
    $ref: "#/definitions/incremental_stream_base"
    retriever:
      $ref: "#/definitions/incremental_stream_base/retriever"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream: "#/definitions/customer_client_non_manager"
            parent_key: "clientCustomer"
            partition_field: "customer_id"

  accessible_accounts:
    $ref: "#/definitions/stream_base"
    name: accessible_accounts
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        url_base: "https://googleads.googleapis.com/v18/customers:listAccessibleCustomers"
        http_method: GET
      paginator:
        type: NoPagination
      record_selector:
        extractor:
          type: CustomRecordExtractor
          class_name: "source_google_ads.components.AccessibleAccountsExtractor"

  customer_client:
    $ref: "#/definitions/stream_base"
    name: customer_client
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        url_base: "https://googleads.googleapis.com/v18/customers/{{ stream_partition['customer_id'] }}/googleAds:searchStream"
        http_method: POST
        request_body:
          type: RequestBodyJsonObject
          value:
            query: >
              SELECT 
                customer_client.client_customer,
                customer_client.level,
                customer_client.id,
                customer_client.manager,
                customer_client.time_zone,
                customer_client.status
              FROM 
                customer_client
      record_selector:
        extractor:
          type: DpathExtractor
          field_path: ["results", "*", "customerClient"]
        record_filter:
          type: CustomRecordFilter
          class_name: "source_google_ads.components.CustomerClientFilter"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream: "#/definitions/accessible_accounts"
            parent_key: "accessible_customer_id"
            partition_field: "customer_id"

  customer_client_non_manager:
    $ref: "#/definitions/stream_base"
    name: customer_client_non_manager
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        url_base: "https://googleads.googleapis.com/v18/customers/{{ stream_partition['customer_id'] }}/googleAds:searchStream"
        http_method: POST
        request_body:
          type: RequestBodyJsonObject
          value:
            query: >
              SELECT 
                customer_client.client_customer,
                customer_client.level,
                customer_client.id,
                customer_client.manager,
                customer_client.time_zone,
                customer_client.status
              FROM 
                customer_client
              WHERE 
                customer_client.manager = FALSE
      record_selector:
        extractor:
          type: DpathExtractor
          field_path: ["results", "*", "customerClient"]
        record_filter:
          type: CustomRecordFilter
          class_name: "source_google_ads.components.CustomerClientFilter"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream: "#/definitions/accessible_accounts"
            parent_key: "accessible_customer_id"
            partition_field: "customer_id"

  transformations:
    transform_metrics_interaction_event_types:
      - type: AddedFieldDefinition
        path: ["metrics.interaction_event_types"]
        value: >-
          {{ record['metrics.interaction_event_types']
             | map('replace','UNSPECIFIED','0')
             | map('replace','UNKNOWN','1')
             | map('replace','CLICK','2')
             | map('replace','ENGAGEMENT','3')
             | map('replace','VIDEO_VIEW','4')
             | map('replace','NONE','5')
             | list }}

  # Stream Definitions
  campaign_stream:
    $ref: "#/definitions/incremental_non_manager_stream_base"
    name: campaign
    primary_key:
      - campaign.id
      - segments.date
      - segments.hour
      - segments.ad_network_type
    transformations:
      - type: CustomTransformation
        class_name: "source_google_ads.components.KeysToSnakeCaseGoogleAdsTransformation"
      - type: CustomTransformation
        class_name: "source_google_ads.components.FlattenNestedDictsTransformation"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/transform_metrics_interaction_event_types"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/campaign"

  ad_group_stream:
    $ref: "#/definitions/incremental_stream_base"
    name: ad_group
    primary_key:
      - ad_group.id
      - segments.date
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ad_group"

  display_keyword_view_stream:
    $ref: "#/definitions/incremental_non_manager_stream_base"
    name: display_keyword_view
    primary_key:
      - ad_group.id
      - ad_group_criterion.criterion_id
      - segments.date
      - segments.ad_network_type
      - segments.device
    transformations:
      - type: CustomTransformation
        class_name: "source_google_ads.components.KeysToSnakeCaseGoogleAdsTransformation"
      - type: CustomTransformation
        class_name: "source_google_ads.components.FlattenNestedDictsTransformation"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/transform_metrics_interaction_event_types"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/display_keyword_view"

  geographic_view_stream:
    $ref: "#/definitions/incremental_non_manager_stream_base"
    name: geographic_view
    primary_key:
      - customer.id
      - geographic_view.country_criterion_id
      - geographic_view.location_type
      - segments.date
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/geographic_view"

  keyword_view_stream:
    $ref: "#/definitions/incremental_non_manager_stream_base"
    name: keyword_view
    primary_key:
      - ad_group.id
      - ad_group_criterion.criterion_id
      - segments.date
    transformations:
      - type: CustomTransformation
        class_name: "source_google_ads.components.KeysToSnakeCaseGoogleAdsTransformation"
      - type: CustomTransformation
        class_name: "source_google_ads.components.FlattenNestedDictsTransformation"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/transform_metrics_interaction_event_types"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/keyword_view"

  shopping_performance_view_stream:
    $ref: "#/definitions/incremental_non_manager_stream_base"
    name: shopping_performance_view
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/shopping_performance_view"

  topic_view_stream:
    $ref: "#/definitions/incremental_non_manager_stream_base"
    name: topic_view
    primary_key:
      - ad_group.id
      - ad_group_criterion.criterion_id
      - segments.date
      - segments.ad_network_type
      - segments.device
    transformations:
      - type: CustomTransformation
        class_name: "source_google_ads.components.KeysToSnakeCaseGoogleAdsTransformation"
      - type: CustomTransformation
        class_name: "source_google_ads.components.FlattenNestedDictsTransformation"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/transform_metrics_interaction_event_types"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/topic_view"

  user_location_view_stream:
    $ref: "#/definitions/incremental_non_manager_stream_base"
    name: user_location_view
    primary_key:
      - customer.id
      - user_location_view.country_criterion_id
      - user_location_view.targeting_location
      - segments.date
      - segments.ad_network_type
    transformations:
      - type: CustomTransformation
        class_name: "source_google_ads.components.KeysToSnakeCaseGoogleAdsTransformation"
      - type: CustomTransformation
        class_name: "source_google_ads.components.FlattenNestedDictsTransformation"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/transform_metrics_interaction_event_types"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/user_location_view"

streams:
  - "#/definitions/campaign_stream"
  - "#/definitions/ad_group_stream"
  - "#/definitions/display_keyword_view_stream"
  - "#/definitions/geographic_view_stream"
  - "#/definitions/keyword_view_stream"
  - "#/definitions/shopping_performance_view_stream"
  - "#/definitions/topic_view_stream"
  - "#/definitions/user_location_view_stream"

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: "{{ config.get('num_workers', 3) }}"
  max_concurrency: 40

schemas:
  ad_group:
    $schema: http://json-schema.org/schema#
    type: object
    properties:
      campaign.id:
        description: The unique identifier of the campaign to which the ad group belongs.
        type:
          - "null"
          - integer
      ad_group.ad_rotation_mode:
        description: The rotation mode for ads within the ad group.
        type:
          - "null"
          - string
      ad_group.base_ad_group:
        description: The base ad group associated with this ad group.
        type:
          - "null"
          - string
      ad_group.campaign:
        description: The campaign to which the ad group belongs.
        type:
          - "null"
          - string
      metrics.cost_micros:
        description: The cost in micros for the ad group.
        type:
          - "null"
          - integer
      ad_group.cpc_bid_micros:
        description: The cost-per-click bid for the ad group in micros.
        type:
          - "null"
          - integer
      ad_group.cpm_bid_micros:
        description: The cost-per-thousand impressions bid for the ad group in micros.
        type:
          - "null"
          - integer
      ad_group.cpv_bid_micros:
        description: The cost-per-view bid for the ad group in micros.
        type:
          - "null"
          - integer
      ad_group.display_custom_bid_dimension:
        description: Custom bid dimension settings for the display network.
        type:
          - "null"
          - string
      ad_group.effective_target_cpa_micros:
        description: The effective target cost-per-acquisition bid in micros.
        type:
          - "null"
          - integer
      ad_group.effective_target_cpa_source:
        description: The source of the effective target CPA bid.
        type:
          - "null"
          - string
      ad_group.effective_target_roas:
        description: The effective target return on ad spend bid.
        type:
          - "null"
          - number
      ad_group.effective_target_roas_source:
        description: The source of the effective target ROAS bid.
        type:
          - "null"
          - string
      ad_group.excluded_parent_asset_field_types:
        description:
          Field types excluded from being used as asset fields in the ad
          group.
        type:
          - "null"
          - array
        items:
          type: string
      ad_group.optimized_targeting_enabled:
        description: Indicates whether optimized targeting is enabled for the ad group.
        type:
          - "null"
          - boolean
      ad_group.final_url_suffix:
        description: The final URL suffix for the ad group.
        type:
          - "null"
          - string
      ad_group.id:
        description: The unique identifier for the ad group.
        type:
          - "null"
          - integer
      ad_group.labels:
        description: Labels associated with the ad group.
        type:
          - "null"
          - array
        items:
          type: string
      ad_group.name:
        description: The name of the ad group.
        type:
          - "null"
          - string
      ad_group.percent_cpc_bid_micros:
        description:
          The percentage of the cost-per-click bid that is paid for the
          ad group.
        type:
          - "null"
          - integer
      ad_group.resource_name:
        description: The resource name of the ad group.
        type:
          - "null"
          - string
      ad_group.status:
        description: The status of the ad group.
        type:
          - "null"
          - string
      ad_group.target_cpa_micros:
        description: The target cost-per-acquisition bid in micros for the ad group.
        type:
          - "null"
          - integer
      ad_group.target_cpm_micros:
        description:
          The target cost-per-thousand impressions bid in micros for the
          ad group.
        type:
          - "null"
          - integer
      ad_group.target_roas:
        description: The target return on ad spend bid for the ad group.
        type:
          - "null"
          - number
      ad_group.targeting_setting.target_restrictions:
        description: Targeting restrictions defined for the ad group.
        type:
          - "null"
          - array
        items:
          type: string
      ad_group.tracking_url_template:
        description: The tracking URL template for the ad group.
        type:
          - "null"
          - string
      ad_group.type:
        description: The type of the ad group.
        type:
          - "null"
          - string
      ad_group.url_custom_parameters:
        description: Custom parameters for the ad group's URLs.
        type:
          - "null"
          - array
        items:
          type: string
      segments.date:
        description: The date segment for the data.
        type:
          - "null"
          - string
        format: date
    additionalProperties: true

  campaign:
    $schema: http://json-schema.org/schema#
    type: object
    properties:
      campaign.accessible_bidding_strategy:
        description: The accessible bidding strategy of the campaign.
        type:
          - "null"
          - string
      campaign.ad_serving_optimization_status:
        description: The optimization status for serving ads within the campaign.
        type:
          - "null"
          - string
      campaign.advertising_channel_sub_type:
        description: The sub-type of advertising channel for the campaign.
        type:
          - "null"
          - string
      campaign.advertising_channel_type:
        description: The type of advertising channel for the campaign.
        type:
          - "null"
          - string
      campaign.app_campaign_setting.app_id:
        description: The ID of the app associated with the app campaign setting.
        type:
          - "null"
          - string
      campaign.app_campaign_setting.app_store:
        description:
          The app store for the mobile app associated with the app campaign
          setting.
        type:
          - "null"
          - string
      campaign.app_campaign_setting.bidding_strategy_goal_type:
        description: The goal type for the app campaign's bidding strategy.
        type:
          - "null"
          - string
      campaign.base_campaign:
        description: The base campaign linked to the current campaign.
        type:
          - "null"
          - string
      campaign.bidding_strategy:
        description: The bidding strategy used for the campaign.
        type:
          - "null"
          - string
      campaign.bidding_strategy_type:
        description: The type of bidding strategy employed for the campaign.
        type:
          - "null"
          - string
      campaign.campaign_budget:
        description: The budget allocated for the campaign.
        type:
          - "null"
          - string
      campaign_budget.amount_micros:
        description: The budget amount in micros allocated for the campaign.
        type:
          - "null"
          - integer
      campaign.commission.commission_rate_micros:
        description: The commission rate in micros for the campaign.
        type:
          - "null"
          - integer
      campaign.dynamic_search_ads_setting.domain_name:
        description: The domain name set for dynamic search ads within the campaign.
        type:
          - "null"
          - string
      campaign.dynamic_search_ads_setting.feeds:
        description: List of feeds utilized for dynamic search ads.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.dynamic_search_ads_setting.language_code:
        description: The language code associated with dynamic search ads.
        type:
          - "null"
          - string
      campaign.dynamic_search_ads_setting.use_supplied_urls_only:
        description:
          Flag indicating whether only supplied URLs are used for dynamic
          search ads.
        type:
          - "null"
          - boolean
      campaign.end_date:
        description: The end date of the campaign.
        type:
          - "null"
          - string
      campaign.excluded_parent_asset_field_types:
        description: Types of parent asset fields excluded from the campaign.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.experiment_type:
        description: The type of experiment conducted for the campaign.
        type:
          - "null"
          - string
      campaign.final_url_suffix:
        description: The final URL suffix used for tracking in the campaign.
        type:
          - "null"
          - string
      campaign.frequency_caps:
        description: Caps on ad serving frequency for the campaign.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.geo_target_type_setting.negative_geo_target_type:
        description: The negative geo target type settings for the campaign.
        type:
          - "null"
          - string
      campaign.geo_target_type_setting.positive_geo_target_type:
        description: The positive geo target type settings for the campaign.
        type:
          - "null"
          - string
      campaign.hotel_setting.hotel_center_id:
        description: The hotel center ID associated with hotel campaigns.
        type:
          - "null"
          - integer
      campaign.id:
        description: The unique identifier of the campaign.
        type:
          - "null"
          - integer
      campaign.labels:
        description: Labels associated with the campaign.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.local_campaign_setting.location_source_type:
        description: The source type for location targeting in local campaigns.
        type:
          - "null"
          - string
      campaign.manual_cpc.enhanced_cpc_enabled:
        description:
          Indication of whether Enhanced CPC is enabled for manual CPC
          campaigns.
        type:
          - "null"
          - boolean
      campaign.manual_cpm:
        description: Manual CPM bidding used in the campaign.
        type:
          - "null"
          - string
      campaign.manual_cpv:
        description: Manual CPV bidding used in the campaign.
        type:
          - "null"
          - string
      campaign.maximize_conversion_value.target_roas:
        description: Target ROAS set for maximizing conversion value in the campaign.
        type:
          - "null"
          - number
      campaign.maximize_conversions.target_cpa_micros:
        description: Target CPA in micros set for maximizing conversions in the campaign.
        type:
          - "null"
          - integer
      campaign.name:
        description: The name of the campaign.
        type:
          - "null"
          - string
      campaign.network_settings.target_content_network:
        description: Indication of targeting the content network in network settings.
        type:
          - "null"
          - boolean
      campaign.network_settings.target_google_search:
        description: Indication of targeting Google Search in network settings.
        type:
          - "null"
          - boolean
      campaign.network_settings.target_partner_search_network:
        description: Indication of targeting partner search network in network settings.
        type:
          - "null"
          - boolean
      campaign.network_settings.target_search_network:
        description: Indication of targeting search network in network settings.
        type:
          - "null"
          - boolean
      campaign.optimization_goal_setting.optimization_goal_types:
        description: Types of optimization goals set for the campaign.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.optimization_score:
        description: The optimization score of the campaign.
        type:
          - "null"
          - number
      campaign.payment_mode:
        description: The payment mode chosen for the campaign.
        type:
          - "null"
          - string
      campaign.percent_cpc.cpc_bid_ceiling_micros:
        description: The CPC bid ceiling in micros for percent CPC bidding.
        type:
          - "null"
          - integer
      campaign.percent_cpc.enhanced_cpc_enabled:
        description: Indication of Enhanced CPC enabled for percent CPC bidding.
        type:
          - "null"
          - boolean
      campaign.real_time_bidding_setting.opt_in:
        description: Opt-in status for real-time bidding within the campaign.
        type:
          - "null"
          - boolean
      campaign.resource_name:
        description: The resource name of the campaign.
        type:
          - "null"
          - string
      campaign.selective_optimization.conversion_actions:
        description:
          Conversion actions selected for selective optimization within
          the campaign.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.serving_status:
        description: The serving status of the campaign.
        type:
          - "null"
          - string
      campaign.shopping_setting.campaign_priority:
        description: Campaign priority set for shopping campaigns.
        type:
          - "null"
          - integer
      campaign.shopping_setting.enable_local:
        description: Flag indicating whether local shopping is enabled for the campaign.
        type:
          - "null"
          - boolean
      campaign.shopping_setting.merchant_id:
        description: The merchant ID associated with shopping campaigns.
        type:
          - "null"
          - integer
      campaign.start_date:
        description: The start date of the campaign.
        type:
          - "null"
          - string
      campaign.status:
        description: The status of the campaign.
        type:
          - "null"
          - string
      campaign.target_cpa.cpc_bid_ceiling_micros:
        description: The CPC bid ceiling in micros for target CPA bidding.
        type:
          - "null"
          - integer
      campaign.target_cpa.cpc_bid_floor_micros:
        description: The CPC bid floor in micros for target CPA bidding.
        type:
          - "null"
          - integer
      campaign.target_cpa.target_cpa_micros:
        description: The target CPA in micros for target CPA bidding.
        type:
          - "null"
          - integer
      campaign.target_cpm.target_frequency_goal.target_count:
        description:
          The target count set for target frequency goal in target CPM
          bidding.
        type:
          - "null"
          - integer
      campaign.target_cpm.target_frequency_goal.time_unit:
        description: The time unit set for target frequency goal in target CPM bidding.
        type:
          - "null"
          - string
      campaign.target_impression_share.cpc_bid_ceiling_micros:
        description: The CPC bid ceiling in micros for target impression share bidding.
        type:
          - "null"
          - integer
      campaign.target_impression_share.location:
        description: The location targeted for target impression share bidding.
        type:
          - "null"
          - string
      campaign.target_impression_share.location_fraction_micros:
        description: The location fraction in micros for target impression share bidding.
        type:
          - "null"
          - integer
      campaign.target_roas.cpc_bid_ceiling_micros:
        description: The CPC bid ceiling in micros for target ROAS bidding.
        type:
          - "null"
          - integer
      campaign.target_roas.cpc_bid_floor_micros:
        description: The CPC bid floor in micros for target ROAS bidding.
        type:
          - "null"
          - integer
      campaign.target_roas.target_roas:
        description: The target ROAS set for target ROAS bidding.
        type:
          - "null"
          - number
      campaign.target_spend.cpc_bid_ceiling_micros:
        description: The CPC bid ceiling in micros for target spend bidding.
        type:
          - "null"
          - integer
      campaign.target_spend.target_spend_micros:
        description: The target spend in micros for target spend bidding.
        type:
          - "null"
          - integer
      campaign.targeting_setting.target_restrictions:
        description: Restrictions applied to targeting within the campaign.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.tracking_setting.tracking_url:
        description: The tracking URL set for campaign tracking.
        type:
          - "null"
          - string
      campaign.tracking_url_template:
        description: The template for tracking URLs in the campaign.
        type:
          - "null"
          - string
      campaign.url_custom_parameters:
        description: Custom parameters added to campaign URLs.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.vanity_pharma.vanity_pharma_display_url_mode:
        description: The display URL mode set for vanity pharma in the campaign.
        type:
          - "null"
          - string
      campaign.vanity_pharma.vanity_pharma_text:
        description: The text used for vanity pharma in the campaign.
        type:
          - "null"
          - string
      campaign.video_brand_safety_suitability:
        description:
          The brand safety suitability settings for video ads within the
          campaign.
        type:
          - "null"
          - string
      metrics.clicks:
        description: Total number of clicks in the campaign.
        type:
          - "null"
          - integer
      metrics.ctr:
        description: Click-through rate (CTR) metric for the campaign.
        type:
          - "null"
          - number
      metrics.conversions:
        description: Total number of conversions in the campaign.
        type:
          - "null"
          - number
      metrics.conversions_value:
        description: Total value of conversions in the campaign.
        type:
          - "null"
          - number
      metrics.cost_micros:
        description: Total cost in micros incurred for the campaign.
        type:
          - "null"
          - integer
      metrics.impressions:
        description: Total number of impressions for the campaign.
        type:
          - "null"
          - integer
      metrics.video_views:
        description: Total number of video views in the campaign.
        type:
          - "null"
          - integer
      metrics.video_quartile_p100_rate:
        description: Rate of viewers reaching the 100% quartile in video ads.
        type:
          - "null"
          - number
      metrics.active_view_cpm:
        description: Active View CPM metric for the campaign.
        type:
          - "null"
          - number
      metrics.active_view_ctr:
        description: Active View CTR metric for the campaign.
        type:
          - "null"
          - number
      metrics.active_view_impressions:
        description: Number of active view impressions for the campaign.
        type:
          - "null"
          - integer
      metrics.active_view_measurability:
        description: Active view measurability metric for the campaign.
        type:
          - "null"
          - number
      metrics.active_view_measurable_cost_micros:
        description: Cost in micros for measurable active view impressions.
        type:
          - "null"
          - integer
      metrics.active_view_measurable_impressions:
        description: Number of measurable active view impressions.
        type:
          - "null"
          - integer
      metrics.active_view_viewability:
        description: Active view viewability metric for the campaign.
        type:
          - "null"
          - number
      metrics.average_cost:
        description: Average cost metric for the campaign.
        type:
          - "null"
          - number
      metrics.average_cpc:
        description: Average CPC metric for the campaign.
        type:
          - "null"
          - number
      metrics.average_cpm:
        description: Average CPM metric for the campaign.
        type:
          - "null"
          - number
      metrics.interactions:
        description: Total number of interactions in the campaign.
        type:
          - "null"
          - integer
      metrics.interaction_event_types:
        description: Types of interaction events recorded in the campaign metrics.
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      metrics.value_per_conversion:
        description: Average value per conversion in the campaign.
        type:
          - "null"
          - number
      metrics.cost_per_conversion:
        description: Cost per conversion metric for the campaign.
        type:
          - "null"
          - number
      segments.date:
        description: Date segment used for campaign data.
        type:
          - "null"
          - string
        format: date
      segments.hour:
        description: Hour segment used for campaign data.
        type:
          - "null"
          - integer
      segments.ad_network_type:
        description: The type of ad network used for segmentation.
        type:
          - "null"
          - string
    additionalProperties: true

  display_keyword_view:
    $schema: http://json-schema.org/schema#
    type: object
    properties:
      customer.currency_code:
        description: The currency code of the customer
        type:
          - "null"
          - string
      customer.descriptive_name:
        description: The descriptive name of the customer
        type:
          - "null"
          - string
      customer.time_zone:
        description: The time zone of the customer
        type:
          - "null"
          - string
      metrics.active_view_cpm:
        description: The active view CPM metric
        type:
          - "null"
          - number
      metrics.active_view_ctr:
        description: The active view CTR metric
        type:
          - "null"
          - number
      metrics.active_view_impressions:
        description: The number of active view impressions
        type:
          - "null"
          - integer
      metrics.active_view_measurability:
        description: The measurability of active view impressions
        type:
          - "null"
          - number
      metrics.active_view_measurable_cost_micros:
        description: The cost of meausurable active view impressions in micros
        type:
          - "null"
          - integer
      metrics.active_view_measurable_impressions:
        description: The number of measurable active view impressions
        type:
          - "null"
          - integer
      metrics.active_view_viewability:
        description: The viewability of active view impressions
        type:
          - "null"
          - number
      ad_group.id:
        description: The ID of the ad group
        type:
          - "null"
          - integer
      ad_group.name:
        description: The name of the ad group
        type:
          - "null"
          - string
      ad_group.status:
        description: The status of the ad group
        type:
          - "null"
          - string
      segments.ad_network_type:
        description: The type of ad network
        type:
          - "null"
          - string
      metrics.all_conversions_from_interactions_rate:
        description: The rate of conversions from interactions
        type:
          - "null"
          - number
      metrics.all_conversions_value:
        description: The total value of all conversions
        type:
          - "null"
          - number
      metrics.all_conversions:
        description: The total number of conversions
        type:
          - "null"
          - number
      metrics.average_cost:
        description: The average cost per click
        type:
          - "null"
          - number
      metrics.average_cpc:
        description: The average cost per click
        type:
          - "null"
          - number
      metrics.average_cpe:
        description: The average cost per engagement
        type:
          - "null"
          - number
      metrics.average_cpm:
        description: The average cost per thousand impressions
        type:
          - "null"
          - number
      metrics.average_cpv:
        description: The average cost per view
        type:
          - "null"
          - number
      ad_group.base_ad_group:
        description: The base ad group associated with the keyword
        type:
          - "null"
          - string
      campaign.base_campaign:
        description: The base campaign associated with the ad group
        type:
          - "null"
          - string
      campaign.bidding_strategy:
        description: The bidding strategy of the campaign
        type:
          - "null"
          - string
      campaign.bidding_strategy_type:
        description: The type of bidding strategy used for the campaign
        type:
          - "null"
          - string
      campaign.id:
        description: The ID of the campaign
        type:
          - "null"
          - integer
      campaign.name:
        description: The name of the campaign
        type:
          - "null"
          - string
      campaign.status:
        description: The status of the campaign
        type:
          - "null"
          - string
      metrics.clicks:
        description: The total number of clicks
        type:
          - "null"
          - integer
      metrics.conversions_from_interactions_rate:
        description: The rate of conversions from interactions
        type:
          - "null"
          - number
      metrics.conversions_value:
        description: The total value of conversions
        type:
          - "null"
          - number
      metrics.conversions:
        description: The number of conversions
        type:
          - "null"
          - number
      metrics.cost_micros:
        description: The total cost in micros
        type:
          - "null"
          - integer
      metrics.cost_per_all_conversions:
        description: The cost per all conversions
        type:
          - "null"
          - number
      metrics.cost_per_conversion:
        description: The cost per conversion
        type:
          - "null"
          - number
      ad_group_criterion.effective_cpc_bid_micros:
        description: The effective CPC bid in micros for the criterion
        type:
          - "null"
          - integer
      ad_group_criterion.effective_cpc_bid_source:
        description: The source of the effective CPC bid
        type:
          - "null"
          - string
      ad_group_criterion.effective_cpm_bid_micros:
        description: The effective CPM bid in micros for the criterion
        type:
          - "null"
          - integer
      ad_group_criterion.effective_cpm_bid_source:
        description: The source of the effective CPM bid
        type:
          - "null"
          - string
      ad_group_criterion.effective_cpv_bid_micros:
        description: The effective CPV bid in micros for the criterion
        type:
          - "null"
          - integer
      ad_group_criterion.effective_cpv_bid_source:
        description: The source of the effective CPV bid
        type:
          - "null"
          - string
      ad_group_criterion.keyword.text:
        description: The text of the keyword
        type:
          - "null"
          - string
      metrics.cross_device_conversions:
        description: The number of cross-device conversions
        type:
          - "null"
          - number
      metrics.ctr:
        description: The click-through rate
        type:
          - "null"
          - number
      segments.day_of_week:
        description: The day of the week segment
        type:
          - "null"
          - string
      segments.device:
        description: The device segment
        type:
          - "null"
          - string
      metrics.engagement_rate:
        description: The engagement rate
        type:
          - "null"
          - number
      metrics.engagements:
        description: The total number of engagements
        type:
          - "null"
          - integer
      customer.id:
        description: The ID of the customer
        type:
          - "null"
          - integer
      ad_group_criterion.final_mobile_urls:
        description: The final mobile URLs for the criterion
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      ad_group_criterion.final_urls:
        description: The final URLs for the criterion
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      metrics.gmail_forwards:
        description: The number of Gmail forwards
        type:
          - "null"
          - integer
      metrics.gmail_saves:
        description: The number of Gmail saves
        type:
          - "null"
          - integer
      metrics.gmail_secondary_clicks:
        description: The number of secondary clicks on Gmail ads
        type:
          - "null"
          - integer
      ad_group_criterion.criterion_id:
        description: The ID of the criterion
        type:
          - "null"
          - integer
      metrics.impressions:
        description: The total number of impressions
        type:
          - "null"
          - integer
      metrics.interaction_rate:
        description: The interaction rate
        type:
          - "null"
          - number
      metrics.interaction_event_types:
        description: The types of interaction events
        type:
          - "null"
          - array
        items:
          type: string
      metrics.interactions:
        description: The total number of interactions
        type:
          - "null"
          - integer
      ad_group_criterion.negative:
        description: Indicates if the criterion is a negative keyword
        type:
          - "null"
          - boolean
      ad_group.targeting_setting.target_restrictions:
        description: The target restrictions applied to the ad group
        type:
          - "null"
          - array
        items:
          type: string
      segments.month:
        description: The month segment
        type:
          - "null"
          - string
      segments.quarter:
        description: The quarter segment
        type:
          - "null"
          - string
      ad_group_criterion.status:
        description: The status of the criterion
        type:
          - "null"
          - string
      ad_group_criterion.tracking_url_template:
        description: The tracking URL template for the criterion
        type:
          - "null"
          - string
      ad_group_criterion.keyword.match_type:
        description: The match type of the keyword
        type:
          - "null"
          - string
      ad_group_criterion.url_custom_parameters:
        description: The custom parameters for the criterion
        type:
          - "null"
          - array
        items:
          type: string
      metrics.value_per_all_conversions:
        description: The value per all conversions
        type:
          - "null"
          - number
      metrics.value_per_conversion:
        description: The value per conversion
        type:
          - "null"
          - number
      metrics.video_quartile_p100_rate:
        description: The quartile p100 rate for video views
        type:
          - "null"
          - number
      metrics.video_quartile_p25_rate:
        description: The quartile p25 rate for video views
        type:
          - "null"
          - number
      metrics.video_quartile_p50_rate:
        description: The quartile p50 rate for video views
        type:
          - "null"
          - number
      metrics.video_quartile_p75_rate:
        description: The quartile p75 rate for video views
        type:
          - "null"
          - number
      metrics.video_view_rate:
        description: The video view rate
        type:
          - "null"
          - number
      metrics.video_views:
        description: The total number of video views
        type:
          - "null"
          - integer
      metrics.view_through_conversions:
        description: The number of view-through conversions
        type:
          - "null"
          - integer
      segments.week:
        description: The week segment
        type:
          - "null"
          - string
      segments.year:
        description: The year segment
        type:
          - "null"
          - integer
      segments.date:
        description: The date segment
        type:
          - "null"
          - string
        format: date
    additionalProperties: true

  geographic_view:
    $schema: http://json-schema.org/schema#
    type: object
    properties:
      customer.id:
        description: The ID of the customer associated with the geographic view data
        type:
          - "null"
          - integer
      customer.descriptive_name:
        description:
          The descriptive name of the customer associated with the geographic
          view data
        type:
          - "null"
          - string
      geographic_view.country_criterion_id:
        description: The criterion ID for the country in the geographic view data
        type:
          - "null"
          - integer
      geographic_view.location_type:
        description:
          The type of location (such as city or region) in the geographic
          view data
        type:
          - "null"
          - string
      ad_group.id:
        description: The ID of the ad group associated with the geographic view data
        type:
          - "null"
          - integer
      segments.date:
        description: The date segment within the geographic view data
        type:
          - "null"
          - string
        format: date
    additionalProperties: true

  keyword_view:
    $schema: http://json-schema.org/schema#
    type: object
    properties:
      customer.id:
        description: The unique ID of the customer.
        type:
          - "null"
          - integer
      customer.descriptive_name:
        description: The name or description of the customer.
        type:
          - "null"
          - string
      campaign.id:
        description: The ID of the campaign the keyword belongs to.
        type:
          - "null"
          - integer
      ad_group.id:
        description: The ID of the ad group the keyword belongs to.
        type:
          - "null"
          - integer
      ad_group_criterion.type:
        description: The type of the ad group criterion (e.g., keyword, placement).
        type:
          - "null"
          - string
      ad_group_criterion.keyword.text:
        description: The actual text of the keyword.
        type:
          - "null"
          - string
      ad_group_criterion.negative:
        description: Specifies whether the keyword is a negative keyword.
        type:
          - "null"
          - boolean
      ad_group_criterion.keyword.match_type:
        description: The match type of the keyword (e.g., exact, broad, phrase).
        type:
          - "null"
          - string
      metrics.historical_quality_score:
        description: The historical quality score of the keyword.
        type:
          - "null"
          - integer
      metrics.ctr:
        description:
          The click-through rate (clicks divided by impressions) for the
          keyword.
        type:
          - "null"
          - number
      segments.date:
        description: The date when the data was recorded.
        type:
          - "null"
          - string
        format: date
      campaign.bidding_strategy_type:
        description: The type of bidding strategy used for the campaign.
        type:
          - "null"
          - string
      metrics.clicks:
        description: The number of clicks on the keyword.
        type:
          - "null"
          - integer
      metrics.cost_micros:
        description: The cost of the keyword advertising in micros.
        type:
          - "null"
          - integer
      metrics.impressions:
        description: The number of times the keyword was displayed.
        type:
          - "null"
          - integer
      metrics.active_view_impressions:
        description: The number of viewable impressions.
        type:
          - "null"
          - integer
      metrics.active_view_measurability:
        description:
          The ratio of viewable impressions to the number of measurable
          impressions.
        type:
          - "null"
          - number
      metrics.active_view_measurable_cost_micros:
        description: The cost for measurable viewable impressions in micros.
        type:
          - "null"
          - integer
      metrics.active_view_measurable_impressions:
        description: The number of impressions that were measurable for viewability.
        type:
          - "null"
          - integer
      metrics.active_view_viewability:
        description: The ratio of viewable impressions to measurable impressions.
        type:
          - "null"
          - number
      metrics.conversions:
        description: The number of conversions attributed to the keyword.
        type:
          - "null"
          - number
      metrics.conversions_value:
        description: The total value of conversions attributed to the keyword.
        type:
          - "null"
          - number
      metrics.interactions:
        description:
          The total number of interactions (clicks, video views, etc.)
          on the keyword.
        type:
          - "null"
          - integer
      metrics.interaction_event_types:
        description: The types of interactions that occurred (e.g., click, video view).
        type:
          - "null"
          - array
        items:
          description: A specific type of interaction (e.g., click).
          type:
            - "null"
            - string
      metrics.view_through_conversions:
        description:
          The number of conversions that occurred after a view of the ad
          without a click.
        type:
          - "null"
          - integer
      ad_group_criterion.criterion_id:
        description: The unique ID of the ad group criterion.
        type:
          - "null"
          - integer
    additionalProperties: true

  shopping_performance_view:
    $schema: http://json-schema.org/schema#
    type: object
    properties:
      customer.descriptive_name:
        description: The descriptive name of the customer account.
        type:
          - "null"
          - string
      ad_group.id:
        description: The ID of the ad group associated with the data.
        type:
          - "null"
          - integer
      ad_group.name:
        description: The name of the ad group associated with the data.
        type:
          - "null"
          - string
      ad_group.status:
        description: The status of the ad group.
        type:
          - "null"
          - string
      segments.ad_network_type:
        description: The type of ad network.
        type:
          - "null"
          - string
      segments.product_aggregator_id:
        description: The ID of the product aggregator.
        type:
          - "null"
          - integer
      metrics.all_conversions_from_interactions_rate:
        description: The rate of conversions from interactions.
        type:
          - "null"
          - number
      metrics.all_conversions_value:
        description: The total value of all conversions.
        type:
          - "null"
          - number
      metrics.all_conversions:
        description: The total number of conversions.
        type:
          - "null"
          - number
      metrics.average_cpc:
        description: The average cost per click.
        type:
          - "null"
          - number
      segments.product_brand:
        description: The brand of the product.
        type:
          - "null"
          - string
      campaign.id:
        description: The ID of the campaign associated with the data.
        type:
          - "null"
          - integer
      campaign.name:
        description: The name of the campaign associated with the data.
        type:
          - "null"
          - string
      campaign.status:
        description: The status of the campaign.
        type:
          - "null"
          - string
      segments.product_category_level1:
        description: The first level product category.
        type:
          - "null"
          - string
      segments.product_category_level2:
        description: The second level product category.
        type:
          - "null"
          - string
      segments.product_category_level3:
        description: The third level product category.
        type:
          - "null"
          - string
      segments.product_category_level4:
        description: The fourth level product category.
        type:
          - "null"
          - string
      segments.product_category_level5:
        description: The fifth level product category.
        type:
          - "null"
          - string
      segments.product_channel:
        description: The product channel.
        type:
          - "null"
          - string
      segments.product_channel_exclusivity:
        description: The product channel exclusivity.
        type:
          - "null"
          - string
      segments.click_type:
        description: The type of click.
        type:
          - "null"
          - string
      metrics.clicks:
        description: The total number of clicks.
        type:
          - "null"
          - integer
      metrics.conversions_from_interactions_rate:
        description: The rate of conversions from interactions.
        type:
          - "null"
          - number
      metrics.conversions_value:
        description: The total value of conversions.
        type:
          - "null"
          - number
      metrics.conversions:
        description: The total number of conversions.
        type:
          - "null"
          - number
      metrics.cost_micros:
        description: The cost in micros.
        type:
          - "null"
          - integer
      metrics.cost_per_all_conversions:
        description: The cost per all conversions.
        type:
          - "null"
          - number
      metrics.cost_per_conversion:
        description: The cost per conversion.
        type:
          - "null"
          - number
      segments.product_country:
        description: The country of the product.
        type:
          - "null"
          - string
      metrics.cross_device_conversions:
        description: The number of cross-device conversions.
        type:
          - "null"
          - number
      metrics.ctr:
        description: The click-through rate.
        type:
          - "null"
          - number
      segments.product_custom_attribute0:
        description: Custom attribute 0 of the product.
        type:
          - "null"
          - string
      segments.product_custom_attribute1:
        description: Custom attribute 1 of the product.
        type:
          - "null"
          - string
      segments.product_custom_attribute2:
        description: Custom attribute 2 of the product.
        type:
          - "null"
          - string
      segments.product_custom_attribute3:
        description: Custom attribute 3 of the product.
        type:
          - "null"
          - string
      segments.product_custom_attribute4:
        description: Custom attribute 4 of the product.
        type:
          - "null"
          - string
      segments.date:
        description: The date of the data entry.
        type:
          - "null"
          - string
        format: date
      segments.day_of_week:
        description: The day of the week.
        type:
          - "null"
          - string
      segments.device:
        description: The type of device.
        type:
          - "null"
          - string
      customer.id:
        description: The ID of the customer account.
        type:
          - "null"
          - integer
      metrics.impressions:
        description: The total number of impressions.
        type:
          - "null"
          - integer
      segments.product_language:
        description: The language of the product.
        type:
          - "null"
          - string
      segments.product_merchant_id:
        description: The ID of the product merchant.
        type:
          - "null"
          - integer
      segments.month:
        description: The month.
        type:
          - "null"
          - string
      segments.product_item_id:
        description: The ID of the product item.
        type:
          - "null"
          - string
      segments.product_condition:
        description: The condition of the product.
        type:
          - "null"
          - string
      segments.product_title:
        description: The title of the product.
        type:
          - "null"
          - string
      segments.product_type_l1:
        description: Product type level 1.
        type:
          - "null"
          - string
      segments.product_type_l2:
        description: Product type level 2.
        type:
          - "null"
          - string
      segments.product_type_l3:
        description: Product type level 3.
        type:
          - "null"
          - string
      segments.product_type_l4:
        description: Product type level 4.
        type:
          - "null"
          - string
      segments.product_type_l5:
        description: Product type level 5.
        type:
          - "null"
          - string
      segments.quarter:
        description: The quarter.
        type:
          - "null"
          - string
      segments.product_store_id:
        description: The ID of the product store.
        type:
          - "null"
          - string
      metrics.value_per_all_conversions:
        description: The value per all conversions.
        type:
          - "null"
          - number
      metrics.value_per_conversion:
        description: The value per conversion.
        type:
          - "null"
          - number
      segments.week:
        description: The week.
        type:
          - "null"
          - string
      segments.year:
        description: The year.
        type:
          - "null"
          - integer
    additionalProperties: true

  topic_view:
    $schema: http://json-schema.org/schema#
    type: object
    properties:
      topic_view.resource_name:
        description: The resource name of the topic view.
        type:
          - "null"
          - string
      customer.currency_code:
        description: The currency code of the customer associated with the topic view.
        type:
          - "null"
          - string
      customer.descriptive_name:
        description:
          The descriptive name of the customer associated with the topic
          view.
        type:
          - "null"
          - string
      customer.time_zone:
        description: The time zone of the customer associated with the topic view.
        type:
          - "null"
          - string
      metrics.active_view_cpm:
        description: The active view CPM metric.
        type:
          - "null"
          - number
      metrics.active_view_ctr:
        description: The active view click-through rate metric.
        type:
          - "null"
          - number
      metrics.active_view_impressions:
        description: The number of active view impressions metric.
        type:
          - "null"
          - integer
      metrics.active_view_measurability:
        description: The active view measurability metric.
        type:
          - "null"
          - number
      metrics.active_view_measurable_cost_micros:
        description: The cost of measurable active view impressions in micros.
        type:
          - "null"
          - integer
      metrics.active_view_measurable_impressions:
        description: The number of measurable active view impressions metric.
        type:
          - "null"
          - integer
      metrics.active_view_viewability:
        description: The active view viewability metric.
        type:
          - "null"
          - number
      ad_group.id:
        description: The ID of the ad group associated with the topic view.
        type:
          - "null"
          - integer
      ad_group.name:
        description: The name of the ad group associated with the topic view.
        type:
          - "null"
          - string
      ad_group.status:
        description: The status of the ad group associated with the topic view.
        type:
          - "null"
          - string
      segments.ad_network_type:
        description: The type of ad network segment.
        type:
          - "null"
          - string
      metrics.all_conversions_from_interactions_rate:
        description: The rate of all conversions from interactions metric.
        type:
          - "null"
          - number
      metrics.all_conversions_value:
        description: The value of all conversions metric.
        type:
          - "null"
          - number
      metrics.all_conversions:
        description: The total number of all conversions metric.
        type:
          - "null"
          - number
      metrics.average_cost:
        description: The average cost metric.
        type:
          - "null"
          - number
      metrics.average_cpc:
        description: The average CPC (Cost Per Click) metric.
        type:
          - "null"
          - number
      metrics.average_cpe:
        description: The average CPE (Cost Per Engagement) metric.
        type:
          - "null"
          - number
      metrics.average_cpm:
        description: The average CPM (Cost Per Thousand Impressions) metric.
        type:
          - "null"
          - number
      metrics.average_cpv:
        description: The average CPV (Cost Per View) metric.
        type:
          - "null"
          - number
      ad_group.base_ad_group:
        description: The base ad group associated with the topic view.
        type:
          - "null"
          - string
      campaign.base_campaign:
        description: The base campaign associated with the topic view.
        type:
          - "null"
          - string
      ad_group_criterion.bid_modifier:
        description: The bid modifier for the ad group criterion in the topic view.
        type:
          - "null"
          - number
      campaign.bidding_strategy:
        description: The bidding strategy set for the campaign in the topic view.
        type:
          - "null"
          - string
      campaign.bidding_strategy_type:
        description:
          The type of bidding strategy used for the campaign in the topic
          view.
        type:
          - "null"
          - string
      campaign.id:
        description: The ID of the campaign associated with the topic view.
        type:
          - "null"
          - integer
      campaign.name:
        description: The name of the campaign associated with the topic view.
        type:
          - "null"
          - string
      campaign.status:
        description: The status of the campaign associated with the topic view.
        type:
          - "null"
          - string
      metrics.clicks:
        description: The total number of clicks metric.
        type:
          - "null"
          - integer
      metrics.conversions_from_interactions_rate:
        description: The rate of conversions from interactions metric.
        type:
          - "null"
          - number
      metrics.conversions_value:
        description: The value of conversions metric.
        type:
          - "null"
          - number
      metrics.conversions:
        description: The total number of conversions metric.
        type:
          - "null"
          - number
      metrics.cost_micros:
        description: The total cost in micros metric.
        type:
          - "null"
          - integer
      metrics.cost_per_all_conversions:
        description: The cost per all conversions metric.
        type:
          - "null"
          - number
      metrics.cost_per_conversion:
        description: The cost per conversion metric.
        type:
          - "null"
          - number
      ad_group_criterion.effective_cpc_bid_micros:
        description: The effective CPC bid amount for the ad group criterion in micros.
        type:
          - "null"
          - integer
      ad_group_criterion.effective_cpc_bid_source:
        description: The source of the effective CPC bid for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.effective_cpm_bid_micros:
        description: The effective CPM bid amount for the ad group criterion in micros.
        type:
          - "null"
          - integer
      ad_group_criterion.effective_cpm_bid_source:
        description: The source of the effective CPM bid for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.topic.path:
        description: The path of the topic targeted in the ad group criterion.
        type:
          - "null"
          - array
        items:
          type: string
      metrics.cross_device_conversions:
        description: The number of cross-device conversions metric.
        type:
          - "null"
          - number
      metrics.ctr:
        description: The click-through rate metric.
        type:
          - "null"
          - number
      segments.date:
        description: The date segment.
        type:
          - "null"
          - string
        format: date
      segments.day_of_week:
        description: The day of the week segment.
        type:
          - "null"
          - string
      segments.device:
        description: The device segment.
        type:
          - "null"
          - string
      metrics.engagement_rate:
        description: The engagement rate metric.
        type:
          - "null"
          - number
      metrics.engagements:
        description: The total number of engagements metric.
        type:
          - "null"
          - integer
      customer.id:
        description: The ID of the customer associated with the topic view.
        type:
          - "null"
          - integer
      ad_group_criterion.final_mobile_urls:
        description:
          The final mobile URLs set for the ad group criterion in the topic
          view.
        type:
          - "null"
          - array
        items:
          type: string
      ad_group_criterion.final_urls:
        description: The final URLs set for the ad group criterion in the topic view.
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      metrics.gmail_forwards:
        description: The number of Gmail forwards metric.
        type:
          - "null"
          - integer
      metrics.gmail_saves:
        description: The number of Gmail saves metric.
        type:
          - "null"
          - integer
      metrics.gmail_secondary_clicks:
        description: The number of Gmail secondary clicks metric.
        type:
          - "null"
          - integer
      ad_group_criterion.criterion_id:
        description: The criterion ID of the ad group criterion in the topic view.
        type:
          - "null"
          - integer
      metrics.impressions:
        description: The total number of impressions metric.
        type:
          - "null"
          - integer
      metrics.interaction_rate:
        description: The interaction rate metric.
        type:
          - "null"
          - number
      metrics.interaction_event_types:
        description: The types of interaction events that occurred.
        type:
          - "null"
          - array
        items:
          type: string
      metrics.interactions:
        description: The total number of interactions metric.
        type:
          - "null"
          - integer
      ad_group_criterion.negative:
        description: Indicates if the ad group criterion is a negative target or not.
        type:
          - "null"
          - boolean
      ad_group.targeting_setting.target_restrictions:
        description:
          The target restrictions set for the ad group associated with
          the topic view.
        type:
          - "null"
          - array
        items:
          type: string
      segments.month:
        description: The month segment.
        type:
          - "null"
          - string
      segments.quarter:
        description: The quarter segment.
        type:
          - "null"
          - string
      ad_group_criterion.status:
        description: The status of the ad group criterion in the topic view.
        type:
          - "null"
          - string
      ad_group_criterion.tracking_url_template:
        description:
          The tracking URL template set for the ad group criterion in the
          topic view.
        type:
          - "null"
          - string
      ad_group_criterion.url_custom_parameters:
        description:
          The custom parameters set for the ad group criterion in the topic
          view.
        type:
          - "null"
          - array
        items:
          type: string
      metrics.value_per_all_conversions:
        description: The value per all conversions metric.
        type:
          - "null"
          - number
      metrics.value_per_conversion:
        description: The value per conversion metric.
        type:
          - "null"
          - number
      ad_group_criterion.topic.topic_constant:
        description:
          The constant representing the targeted topic in the ad group
          criterion.
        type:
          - "null"
          - string
      metrics.video_quartile_p100_rate:
        description: The quartile P100 rate for video metrics.
        type:
          - "null"
          - number
      metrics.video_quartile_p25_rate:
        description: The quartile P25 rate for video metrics.
        type:
          - "null"
          - number
      metrics.video_quartile_p50_rate:
        description: The quartile P50 rate for video metrics.
        type:
          - "null"
          - number
      metrics.video_quartile_p75_rate:
        description: The quartile P75 rate for video metrics.
        type:
          - "null"
          - number
      metrics.video_view_rate:
        description: The video view rate metric.
        type:
          - "null"
          - number
      metrics.video_views:
        description: The total number of video views metric.
        type:
          - "null"
          - integer
      metrics.view_through_conversions:
        description: The number of view-through conversions metric.
        type:
          - "null"
          - integer
      segments.week:
        description: The week segment.
        type:
          - "null"
          - string
      segments.year:
        description: The year segment.
        type:
          - "null"
          - integer
    additionalProperties: true

  user_location_view:
    $schema: http://json-schema.org/schema#
    type: object
    properties:
      segments.date:
        description: The date related to the user location view data.
        type:
          - "null"
          - string
        format: date
      segments.day_of_week:
        description: The day of the week.
        type:
          - "null"
          - string
      segments.month:
        description: The month.
        type:
          - "null"
          - string
      segments.week:
        description: The week of the year.
        type:
          - "null"
          - string
      segments.quarter:
        description: The quarter of the year.
        type:
          - "null"
          - string
      segments.year:
        description: The year.
        type:
          - "null"
          - integer
      segments.ad_network_type:
        description: The type of ad network.
        type:
          - "null"
          - string
      customer.currency_code:
        description: The currency code used by the customer.
        type:
          - "null"
          - string
      customer.id:
        description: The ID of the customer.
        type:
          - "null"
          - integer
      customer.descriptive_name:
        description: The descriptive name of the customer.
        type:
          - "null"
          - string
      customer.time_zone:
        description: The time zone set for the customer.
        type:
          - "null"
          - string
      user_location_view.country_criterion_id:
        description: The country criterion ID for the user location.
        type:
          - "null"
          - integer
      user_location_view.targeting_location:
        description: The targeted location for the user location view.
        type:
          - "null"
          - boolean
      user_location_view.resource_name:
        description: The resource name associated with the user location view.
        type:
          - "null"
          - string
      campaign.base_campaign:
        description:
          The base campaign information tied to the user location view
          data.
        type:
          - "null"
          - string
      campaign.id:
        description: The ID of the campaign linked to the user location view data.
        type:
          - "null"
          - integer
      campaign.name:
        description:
          The name of the campaign associated with the user location view
          data.
        type:
          - "null"
          - string
      campaign.status:
        description:
          The status of the campaign related to the user location view
          data.
        type:
          - "null"
          - string
      ad_group.name:
        description:
          The name of the ad group associated with the user location view
          data.
        type:
          - "null"
          - string
      ad_group.status:
        description:
          The status of the ad group related to the user location view
          data.
        type:
          - "null"
          - string
      ad_group.base_ad_group:
        description:
          The base ad group information related to the user location view
          data.
        type:
          - "null"
          - string
      metrics.all_conversions:
        description: Total number of conversions for all actions.
        type:
          - "null"
          - number
      metrics.all_conversions_from_interactions_rate:
        description: The rate of all conversions from interactions.
        type:
          - "null"
          - number
      metrics.all_conversions_value:
        description: The total value of all conversions.
        type:
          - "null"
          - number
      metrics.average_cost:
        description: The average cost of all clicks.
        type:
          - "null"
          - number
      metrics.average_cpc:
        description: The average cost per click.
        type:
          - "null"
          - number
      metrics.average_cpm:
        description: The average cost per thousand impressions.
        type:
          - "null"
          - number
      metrics.average_cpv:
        description: The average cost per view.
        type:
          - "null"
          - number
      metrics.clicks:
        description: Total number of clicks.
        type:
          - "null"
          - integer
      metrics.conversions:
        description: Total number of conversions.
        type:
          - "null"
          - number
      metrics.conversions_from_interactions_rate:
        description: The rate of conversions from interactions.
        type:
          - "null"
          - number
      metrics.conversions_value:
        description: The total value of conversions.
        type:
          - "null"
          - number
      metrics.cost_micros:
        description: The cost in micros (millionths of the currency).
        type:
          - "null"
          - integer
      metrics.cost_per_all_conversions:
        description: Cost per all conversions.
        type:
          - "null"
          - number
      metrics.cost_per_conversion:
        description: Cost per conversion.
        type:
          - "null"
          - number
      metrics.cross_device_conversions:
        description: Total number of cross-device conversions.
        type:
          - "null"
          - number
      metrics.ctr:
        description: Click-through rate.
        type:
          - "null"
          - number
      metrics.impressions:
        description: Total number of times the ad was shown.
        type:
          - "null"
          - integer
      metrics.interaction_event_types:
        description: Types of interaction events.
        type:
          - "null"
          - array
        items:
          description: Specific interaction event type.
          type:
            - "null"
            - string
      metrics.interaction_rate:
        description: The rate of interactions.
        type:
          - "null"
          - number
      metrics.interactions:
        description: Total number of interactions.
        type:
          - "null"
          - integer
      metrics.value_per_all_conversions:
        description: Value per all conversions.
        type:
          - "null"
          - number
      metrics.value_per_conversion:
        description: Value per conversion.
        type:
          - "null"
          - number
      metrics.video_view_rate:
        description: The rate of video views.
        type:
          - "null"
          - number
      metrics.video_views:
        description: Total number of video views.
        type:
          - "null"
          - integer
      metrics.view_through_conversions:
        description: Total number of view-through conversions.
        type:
          - "null"
          - integer
    additionalProperties: true
