version: 6.44.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - customer

definitions:
  # Authenticator Definitions
  authenticator:
    type: OAuthAuthenticator
    refresh_request_body: {}
    token_refresh_endpoint: https://www.googleapis.com/oauth2/v3/token
    grant_type: refresh_token
    client_id: '{{ config["credentials"]["client_id"] }}'
    client_secret: '{{ config["credentials"]["client_secret"] }}'
    refresh_token: '{{ config["credentials"]["refresh_token"] }}'

  base_requester:
    type: HttpRequester
    authenticator:
      $ref: "#/definitions/authenticator"
    http_method: GET
    request_headers:
      Content-Type: application/json
      developer-token: '{{ config["credentials"]["developer_token"] }}'
    error_handler:
      $ref: "#/definitions/base_error_handler"

  stream_requester:
    type: CustomRequester
    class_name: "source_google_ads.components.GoogleAdsHttpRequester"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas"
    authenticator:
      $ref: "#/definitions/authenticator"
    url_base: "https://googleads.googleapis.com/v20/{{ stream_partition['customer_id'] }}/googleAds:searchStream"
    http_method: POST
    error_handler:
      $ref: "#/definitions/base_error_handler"

  base_error_handler:
    type: DefaultErrorHandler
    response_filters:
      - type: HttpResponseFilter
        action: FAIL
        http_codes:
          - 500
        error_message: >-
          Unable to fetch data from Google Ads API due to temporal error on the Google Ads server. Please retry again later.
      - type: HttpResponseFilter
        action: IGNORE
        http_codes:
          - 403
  #        error_message_contains: "The customer account can\\'t be accessed because it is not yet enabled or has been deactivated."

  base_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - results

  base_retriever:
    type: SimpleRetriever
    requester:
      $ref: "#/definitions/stream_requester"
    record_selector:
      $ref: "#/definitions/base_selector"
    decoder:
      type: CustomDecoder
      class_name: "source_google_ads.components.GoogleAdsStreamingDecoder"

  stream_base:
    type: DeclarativeStream
    primary_key:
      - id
    retriever:
      $ref: "#/definitions/base_retriever"

  full_refresh_stream_base:
    type: DeclarativeStream
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/stream_requester"
      record_selector:
        extractor:
          type: DpathExtractor
          field_path:
            - results
        schema_normalization:
          type: CustomSchemaNormalization
          class_name: source_google_ads.components.DoubleQuotedDictTypeTransformer
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream: "#/definitions/customer_client"
            parent_key: "clientCustomer"
            partition_field: "customer_id"
    transformations:
      - type: CustomTransformation
        class_name: "source_google_ads.components.KeysToSnakeCaseGoogleAdsTransformation"
      - type: CustomTransformation
        class_name: "source_google_ads.components.FlattenNestedDictsTransformation"
    state_migrations:
      - type: CustomStateMigration
        class_name: source_google_ads.components.GoogleAdsPerPartitionStateMigration
        customer_client_stream: "#/definitions/customer_client"

  incremental_stream_base:
    type: DeclarativeStream
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/stream_requester"
      record_selector:
        extractor:
          type: DpathExtractor
          field_path:
            - results
        schema_normalization:
          type: CustomSchemaNormalization
          class_name: source_google_ads.components.DoubleQuotedDictTypeTransformer
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream: "#/definitions/customer_client"
            parent_key: "clientCustomer"
            partition_field: "customer_id"
            extra_fields: [["manager"]]
    transformations:
      - type: CustomTransformation
        class_name: "source_google_ads.components.KeysToSnakeCaseGoogleAdsTransformation"
      - type: CustomTransformation
        class_name: "source_google_ads.components.FlattenNestedDictsTransformation"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: segments.date
      datetime_format: "%Y-%m-%d"
      lookback_window: P{{ config.get('conversion_window_days', 14) }}D
      cursor_granularity: P1D
      step: P14D
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('start_date', day_delta(-365 * 2, format='%Y-%m-%d')) }}"
        datetime_format: "%Y-%m-%d"
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('end_date', today_utc()) }}"
        datetime_format: "%Y-%m-%d"
    state_migrations:
      - type: CustomStateMigration
        class_name: source_google_ads.components.GoogleAdsPerPartitionStateMigration
        customer_client_stream: "#/definitions/customer_client"

  incremental_non_manager_stream_base:
    $ref: "#/definitions/incremental_stream_base"
    retriever:
      $ref: "#/definitions/incremental_stream_base/retriever"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream: "#/definitions/customer_client_non_manager"
            parent_key: "clientCustomer"
            partition_field: "customer_id"

  template_criterion_stream:
    type: StateDelegatingStream
    full_refresh_stream:
      $ref: "#/definitions/incremental_stream_base"
      retriever:
        $ref: "#/definitions/incremental_stream_base/retriever"
        requester:
          type: CustomRequester
          class_name: "source_google_ads.components.CriterionFullRefreshRequester"
          schema_loader:
            type: InlineSchemaLoader
            schema:
              $ref: "#/schemas"
          authenticator:
            $ref: "#/definitions/authenticator"
          url_base: "https://googleads.googleapis.com/v20/{{ stream_partition['customer_id'] }}/googleAds:searchStream"
          http_method: POST
          error_handler:
            $ref: "#/definitions/base_error_handler"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: change_status.last_change_date_time
        datetime_format: "%Y-%m-%d %H:%M:%S.%f"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', day_delta(-365 * 2, format='%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
      transformations:
        - type: CustomTransformation
          class_name: "source_google_ads.components.KeysToSnakeCaseGoogleAdsTransformation"
        - type: CustomTransformation
          class_name: "source_google_ads.components.FlattenNestedDictsTransformation"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path: ["change_status.last_change_date_time"]
              value: "{{ today_utc().strftime('%Y-%m-%d %H:%M:%S.%f') }}"
    incremental_stream:
      $ref: "#/definitions/incremental_stream_base"
      $parameters:
        url_base: "https://googleads.googleapis.com/v20/{{ stream_partition['parent_slice']['customer_id'] }}/googleAds:searchStream"
      retriever:
        type: CustomRetriever
        class_name: "source_google_ads.components.CriterionRetriever"
        requester:
          type: CustomRequester
          class_name: "source_google_ads.components.CriterionIncrementalRequester"
          schema_loader:
            type: InlineSchemaLoader
            schema:
              $ref: "#/schemas"
          authenticator:
            $ref: "#/definitions/authenticator"
          http_method: POST
          error_handler:
            $ref: "#/definitions/base_error_handler"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
          schema_normalization:
            type: CustomSchemaNormalization
            class_name: source_google_ads.components.DoubleQuotedDictTypeTransformer
        partition_router:
          type: GroupingPartitionRouter
          group_size: 10000
          deduplicate: true
          underlying_partition_router:
            type: SubstreamPartitionRouter
            parent_stream_configs:
              - type: ParentStreamConfig
                stream:
                  $ref: "#/definitions/change_status_stream"
                parent_key: "change_status.{{ parameters['resource_name'] }}"
                partition_field: "{{ parameters['resource_name'] }}.resource_name"
                extra_fields:
                  [
                    ["change_status.last_change_date_time"],
                    ["change_status.resource_status"],
                  ]
                incremental_dependency: true
      transformations:
        - type: CustomTransformation
          class_name: "source_google_ads.components.KeysToSnakeCaseGoogleAdsTransformation"
        - type: CustomTransformation
          class_name: "source_google_ads.components.FlattenNestedDictsTransformation"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: change_status.last_change_date_time
        datetime_format: "%Y-%m-%d %H:%M:%S.%f"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('start_date', day_delta(-365 * 2, format='%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
      state_migrations:
        - type: CustomStateMigration
          class_name: source_google_ads.components.GoogleAdsCriterionParentStateMigration
        - type: CustomStateMigration
          class_name: source_google_ads.components.GoogleAdsGlobalStateMigration

  accessible_accounts:
    $ref: "#/definitions/stream_base"
    name: accessible_accounts
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        url_base: "https://googleads.googleapis.com/v20/customers:listAccessibleCustomers"
        http_method: GET
      record_selector:
        extractor:
          type: CustomRecordExtractor
          class_name: "source_google_ads.components.AccessibleAccountsExtractor"

  customer_client:
    $ref: "#/definitions/stream_base"
    name: customer_client
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        url_base: "https://googleads.googleapis.com/v20/customers/{{ stream_partition['customer_id'] }}/googleAds:searchStream"
        http_method: POST
        request_body:
          type: RequestBodyJsonObject
          value:
            query: >
              SELECT
                customer_client.client_customer,
                customer_client.level,
                customer_client.id,
                customer_client.manager,
                customer_client.time_zone,
                customer_client.status
              FROM
                customer_client
      record_selector:
        extractor:
          type: DpathExtractor
          field_path: ["results", "*", "customerClient"]
        record_filter:
          type: CustomRecordFilter
          class_name: "source_google_ads.components.CustomerClientFilter"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream: "#/definitions/accessible_accounts"
            parent_key: "accessible_customer_id"
            partition_field: "customer_id"

  customer_client_non_manager:
    $ref: "#/definitions/stream_base"
    name: customer_client_non_manager
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        url_base: "https://googleads.googleapis.com/v20/customers/{{ stream_partition['customer_id'] }}/googleAds:searchStream"
        http_method: POST
        request_body:
          type: RequestBodyJsonObject
          value:
            query: >
              SELECT
                customer_client.client_customer,
                customer_client.level,
                customer_client.id,
                customer_client.manager,
                customer_client.time_zone,
                customer_client.status
              FROM
                customer_client
              WHERE
                customer_client.manager = FALSE
      record_selector:
        extractor:
          type: DpathExtractor
          field_path: ["results", "*", "customerClient"]
        record_filter:
          type: CustomRecordFilter
          class_name: "source_google_ads.components.CustomerClientFilter"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream: "#/definitions/accessible_accounts"
            parent_key: "accessible_customer_id"
            partition_field: "customer_id"

  transformations:
    transform_metrics_interaction_event_types:
      - type: AddedFieldDefinition
        path: ["metrics.interaction_event_types"]
        value: >-
          {{ record['metrics.interaction_event_types']
             | map('replace','UNSPECIFIED','0')
             | map('replace','UNKNOWN','1')
             | map('replace','CLICK','2')
             | map('replace','ENGAGEMENT','3')
             | map('replace','VIDEO_VIEW','4')
             | map('replace','NONE','5')
             | list }}

  dynamic_stream_template:
    type: DeclarativeStream
    retriever:
      $ref: "#/definitions/base_retriever"
      requester:
        type: CustomRequester
        class_name: "source_google_ads.components.CustomGAQueryHttpRequester"
        authenticator:
          $ref: "#/definitions/authenticator"
        url_base: "https://googleads.googleapis.com/v20/{{ stream_partition['customer_id'] }}/googleAds:searchStream"
        http_method: POST
        error_handler:
          $ref: "#/definitions/base_error_handler"
      record_selector:
        extractor:
          type: DpathExtractor
          field_path:
            - results
        schema_normalization:
          type: CustomSchemaNormalization
          class_name: source_google_ads.components.DoubleQuotedDictTypeTransformer
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: "clientCustomer"
            partition_field: "customer_id"
            stream: "#/definitions/customer_client"
    transformations:
      - type: CustomTransformation
        class_name: "source_google_ads.components.KeysToSnakeCaseGoogleAdsTransformation"
      - type: CustomTransformation
        class_name: "source_google_ads.components.FlattenNestedDictsTransformation"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/transform_metrics_interaction_event_types"
        condition: "{{ record.get('metrics.interaction_event_types', False) }}"
    state_migrations:
      - type: CustomStateMigration
        class_name: source_google_ads.components.GoogleAdsPerPartitionStateMigration
        customer_client_stream: "#/definitions/customer_client"
    schema_loader:
      type: CustomSchemaLoader
      class_name: "source_google_ads.components.CustomGAQuerySchemaLoader"
      requester:
        $ref: "#/definitions/base_requester"
        url: "https://googleads.googleapis.com/v20/googleAdsFields"
        http_method: GET
        error_handler:
          $ref: "#/definitions/base_error_handler"
        $parameters:
          name: dynamic_schema_loader_requester

  # Stream Definitions
  account_performance_report_stream:
    $ref: "#/definitions/incremental_non_manager_stream_base"
    name: account_performance_report
    primary_key:
      - customer.id
      - segments.date
      - segments.ad_network_type
      - segments.device
    transformations:
      - type: CustomTransformation
        class_name: "source_google_ads.components.KeysToSnakeCaseGoogleAdsTransformation"
      - type: CustomTransformation
        class_name: "source_google_ads.components.FlattenNestedDictsTransformation"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/transform_metrics_interaction_event_types"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/account_performance_report"

  ad_group_stream:
    $ref: "#/definitions/incremental_stream_base"
    name: ad_group
    primary_key:
      - ad_group.id
      - segments.date
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ad_group"

  ad_group_ad_stream:
    $ref: "#/definitions/incremental_stream_base"
    name: ad_group_ad
    primary_key:
      - ad_group.id
      - ad_group_ad.ad.id
      - segments.date
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ad_group_ad"

  ad_group_ad_label_stream:
    $ref: "#/definitions/full_refresh_stream_base"
    name: ad_group_ad_label
    primary_key:
      - ad_group.id
      - ad_group_ad.ad.id
      - label.id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ad_group_ad_label"

  ad_group_ad_legacy_stream:
    $ref: "#/definitions/incremental_non_manager_stream_base"
    name: ad_group_ad_legacy
    primary_key:
      - ad_group.id
      - ad_group_ad.ad.id
      - segments.date
      - segments.ad_network_type
    transformations:
      - type: CustomTransformation
        class_name: "source_google_ads.components.KeysToSnakeCaseGoogleAdsTransformation"
      - type: CustomTransformation
        class_name: "source_google_ads.components.FlattenNestedDictsTransformation"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/transform_metrics_interaction_event_types"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ad_group_ad_legacy"

  ad_group_bidding_strategy_stream:
    $ref: "#/definitions/incremental_stream_base"
    name: ad_group_bidding_strategy
    primary_key:
      - ad_group.id
      - bidding_strategy.id
      - segments.date
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ad_group_bidding_strategy"

  ad_group_label_stream:
    $ref: "#/definitions/full_refresh_stream_base"
    name: ad_group_label
    primary_key:
      - ad_group.id
      - label.id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ad_group_label"

  ad_group_criterion_label_stream:
    $ref: "#/definitions/full_refresh_stream_base"
    name: ad_group_criterion_label
    primary_key:
      - ad_group_criterion_label.resource_name
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/ad_group_criterion_label"

  audience_stream:
    $ref: "#/definitions/full_refresh_stream_base"
    name: audience
    primary_key:
      - customer.id
      - audience.id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/audience"

  campaign_stream:
    $ref: "#/definitions/incremental_non_manager_stream_base"
    name: campaign
    primary_key:
      - campaign.id
      - segments.date
      - segments.hour
      - segments.ad_network_type
    transformations:
      - type: CustomTransformation
        class_name: "source_google_ads.components.KeysToSnakeCaseGoogleAdsTransformation"
      - type: CustomTransformation
        class_name: "source_google_ads.components.FlattenNestedDictsTransformation"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/transform_metrics_interaction_event_types"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/campaign"

  campaign_bidding_strategy_stream:
    $ref: "#/definitions/incremental_stream_base"
    name: campaign_bidding_strategy
    primary_key:
      - campaign.id
      - bidding_strategy.id
      - segments.date
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/campaign_bidding_strategy"

  campaign_budget_stream:
    $ref: "#/definitions/incremental_stream_base"
    name: campaign_budget
    primary_key:
      - customer.id
      - campaign_budget.id
      - segments.date
      - segments.budget_campaign_association_status.campaign
      - segments.budget_campaign_association_status.status
    transformations:
      - type: CustomTransformation
        class_name: "source_google_ads.components.KeysToSnakeCaseGoogleAdsTransformation"
      - type: CustomTransformation
        class_name: "source_google_ads.components.FlattenNestedDictsTransformation"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/transform_metrics_interaction_event_types"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/campaign_budget"

  campaign_label_stream:
    $ref: "#/definitions/full_refresh_stream_base"
    name: campaign_label
    primary_key:
      - campaign.id
      - label.id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/campaign_label"

  click_view_stream:
    $ref: "#/definitions/incremental_stream_base"
    name: click_view
    primary_key:
      - "click_view.gclid"
      - "segments.date"
      - "segments.ad_network_type"
    retriever:
      $ref: "#/definitions/incremental_stream_base/retriever"
      requester:
        type: CustomRequester
        class_name: "source_google_ads.components.ClickViewHttpRequester"
        schema_loader:
          type: InlineSchemaLoader
          schema:
            $ref: "#/schemas/click_view"
        authenticator:
          $ref: "#/definitions/authenticator"
        url_base: "https://googleads.googleapis.com/v20/{{ stream_partition['customer_id'] }}/googleAds:searchStream"
        http_method: POST
        error_handler:
          $ref: "#/definitions/base_error_handler"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: segments.date
      datetime_format: "%Y-%m-%d"
      cursor_granularity: P1D
      lookback_window: "P{{ max(config.get('conversion_window_days', 1), 1) }}D"
      step: P1D
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ max(config.get('start_date', day_delta(-90, format='%Y-%m-%d')), day_delta(-90, format='%Y-%m-%d')) }}"
        datetime_format: "%Y-%m-%d"
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ format_datetime((str_to_datetime(config.get('end_date')) if config.get('end_date') else now_utc()) + duration('P1D'), '%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/click_view"

  customer_stream:
    $ref: "#/definitions/incremental_stream_base"
    name: customer
    primary_key:
      - customer.id
      - segments.date
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/customer"

  customer_label_stream:
    $ref: "#/definitions/full_refresh_stream_base"
    name: customer_label
    primary_key:
      - customer_label.resource_name
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/customer_label"

  label_stream:
    $ref: "#/definitions/full_refresh_stream_base"
    name: label
    primary_key:
      - label.id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/label"

  user_interest_stream:
    $ref: "#/definitions/full_refresh_stream_base"
    name: user_interest
    primary_key:
      - user_interest.user_interest_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/user_interest"

  display_keyword_view_stream:
    $ref: "#/definitions/incremental_non_manager_stream_base"
    name: display_keyword_view
    primary_key:
      - ad_group.id
      - ad_group_criterion.criterion_id
      - segments.date
      - segments.ad_network_type
      - segments.device
    transformations:
      - type: CustomTransformation
        class_name: "source_google_ads.components.KeysToSnakeCaseGoogleAdsTransformation"
      - type: CustomTransformation
        class_name: "source_google_ads.components.FlattenNestedDictsTransformation"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/transform_metrics_interaction_event_types"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/display_keyword_view"

  geographic_view_stream:
    $ref: "#/definitions/incremental_non_manager_stream_base"
    name: geographic_view
    primary_key:
      - customer.id
      - geographic_view.country_criterion_id
      - geographic_view.location_type
      - segments.date
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/geographic_view"

  keyword_view_stream:
    $ref: "#/definitions/incremental_non_manager_stream_base"
    name: keyword_view
    primary_key:
      - ad_group.id
      - ad_group_criterion.criterion_id
      - segments.date
    transformations:
      - type: CustomTransformation
        class_name: "source_google_ads.components.KeysToSnakeCaseGoogleAdsTransformation"
      - type: CustomTransformation
        class_name: "source_google_ads.components.FlattenNestedDictsTransformation"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/transform_metrics_interaction_event_types"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/keyword_view"

  shopping_performance_view_stream:
    $ref: "#/definitions/incremental_non_manager_stream_base"
    name: shopping_performance_view
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/shopping_performance_view"

  topic_view_stream:
    $ref: "#/definitions/incremental_non_manager_stream_base"
    name: topic_view
    primary_key:
      - ad_group.id
      - ad_group_criterion.criterion_id
      - segments.date
      - segments.ad_network_type
      - segments.device
    transformations:
      - type: CustomTransformation
        class_name: "source_google_ads.components.KeysToSnakeCaseGoogleAdsTransformation"
      - type: CustomTransformation
        class_name: "source_google_ads.components.FlattenNestedDictsTransformation"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/transform_metrics_interaction_event_types"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/topic_view"

  user_location_view_stream:
    $ref: "#/definitions/incremental_non_manager_stream_base"
    name: user_location_view
    primary_key:
      - customer.id
      - user_location_view.country_criterion_id
      - user_location_view.targeting_location
      - segments.date
      - segments.ad_network_type
    transformations:
      - type: CustomTransformation
        class_name: "source_google_ads.components.KeysToSnakeCaseGoogleAdsTransformation"
      - type: CustomTransformation
        class_name: "source_google_ads.components.FlattenNestedDictsTransformation"
      - type: AddFields
        fields:
          $ref: "#/definitions/transformations/transform_metrics_interaction_event_types"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/user_location_view"

  change_status_stream:
    $ref: "#/definitions/incremental_stream_base"
    name: change_status
    $parameters:
      url_base: "https://googleads.googleapis.com/v20/{{ stream_partition['customer_id'] }}/googleAds:search"
    retriever:
      type: SimpleRetriever
      requester:
        type: CustomRequester
        class_name: "source_google_ads.components.ChangeStatusRequester"
        schema_loader:
          type: InlineSchemaLoader
          schema:
            $ref: "#/schemas"
        authenticator:
          $ref: "#/definitions/authenticator"
        http_method: POST
        error_handler:
          $ref: "#/definitions/base_error_handler"
        name: change_status
      pagination_reset:
        type: PaginationReset
        action: SPLIT_USING_CURSOR
        limits:
          type: PaginationResetLimits
          number_of_records: 10000
      record_selector:
        type: RecordSelector
        $parameters:
          name: "change_status"
        extractor:
          type: DpathExtractor
          field_path:
            - results
        schema_normalization:
          type: CustomSchemaNormalization
          class_name: source_google_ads.components.DoubleQuotedDictTypeTransformer
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream: "#/definitions/customer_client"
            parent_key: "clientCustomer"
            partition_field: "customer_id"
            extra_fields: [["manager"]]
    transformations:
      - type: CustomTransformation
        class_name: "source_google_ads.components.KeysToSnakeCaseGoogleAdsTransformation"
      - type: CustomTransformation
        class_name: "source_google_ads.components.FlattenNestedDictsTransformation"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: change_status.last_change_date_time
      datetime_format: "%Y-%m-%d %H:%M:%S.%f"
      cursor_granularity: PT0.000001S
      step: P14D
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ day_delta(-90, format='%Y-%m-%d %H:%M:%S.%f') }}"
        datetime_format: "%Y-%m-%d %H:%M:%S.%f"
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%d %H:%M:%S.%f') }}"
        datetime_format: "%Y-%m-%d %H:%M:%S.%f"
    state_migrations:
      - type: CustomStateMigration
        class_name: source_google_ads.components.GoogleAdsPerPartitionStateMigration
        customer_client_stream: "#/definitions/customer_client"
        cursor_field: change_status.last_change_date_time
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/change_status"

  ad_group_criterion_stream:
    type: StateDelegatingStream
    $parameters:
      name: "ad_group_criterion"
      resource_name: "ad_group_criterion"
      primary_key:
        - ad_group_criterion.resource_name
      resource_type: AD_GROUP_CRITERION
    full_refresh_stream:
      $ref: "#/definitions/template_criterion_stream/full_refresh_stream"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ad_group_criterion"
    incremental_stream:
      $ref: "#/definitions/template_criterion_stream/incremental_stream"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ad_group_criterion"

  ad_listing_group_criterion_stream:
    type: StateDelegatingStream
    $parameters:
      name: "ad_listing_group_criterion"
      resource_name: "ad_group_criterion"
      primary_key:
        - ad_group_criterion.resource_name
      resource_type: AD_GROUP_CRITERION
    full_refresh_stream:
      $ref: "#/definitions/template_criterion_stream/full_refresh_stream"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ad_listing_group_criterion"
    incremental_stream:
      $ref: "#/definitions/template_criterion_stream/incremental_stream"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ad_listing_group_criterion"

  campaign_criterion_stream:
    type: StateDelegatingStream
    $parameters:
      name: "campaign_criterion"
      resource_name: "campaign_criterion"
      primary_key:
        - campaign_criterion.resource_name
      resource_type: CAMPAIGN_CRITERION
    full_refresh_stream:
      $ref: "#/definitions/template_criterion_stream/full_refresh_stream"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaign_criterion"
    incremental_stream:
      $ref: "#/definitions/template_criterion_stream/incremental_stream"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaign_criterion"

  custom_ga_query_stream:
    type: DynamicDeclarativeStream
    stream_template:
      $ref: "#/definitions/dynamic_stream_template"
    components_resolver:
      type: ConfigComponentsResolver
      stream_config:
        - type: StreamConfig
          configs_pointer:
            - custom_queries_array
      components_mapping:
        - type: ComponentMappingDefinition
          field_path:
            - name
          value: "{{ components_values['table_name'] }}"
          create_or_update: true
        - type: ComponentMappingDefinition
          field_path:
            - incremental_sync
          value: >-
            {
              "type": "DatetimeBasedCursor",
              "cursor_field": "segments.date",
              "datetime_format": "%Y-%m-%d",
              "lookback_window": "P{{ config.get('conversion_window_days', 14) }}D",
              "cursor_granularity": "P1D",
              "step": "P14D",
              "start_datetime": {
                "type": "MinMaxDatetime",
                "datetime": "{{ config.get('start_date', day_delta(-365 * 2, format='%Y-%m-%d')) }}",
                "datetime_format": "%Y-%m-%d"
              },
              "end_datetime": {
                "type": "MinMaxDatetime",
                "datetime": "{{ config.get('end_date', today_utc()) }}",
                "datetime_format": "%Y-%m-%d"
              }
            }
          condition: >-
            {{
              (
                components_values.get('query', '').count('segments.date') == 1
                and (components_values.get('query') | regex_search('(?i)(\\bSELECT\\b[\\s\\S]*?segments\\.date[\\s\\S]*?\\bFROM\\b)'))
              )
              or
              (
                components_values.get('query', '').count('segments.date') == 2
                and (components_values.get('query') | regex_search('(?i)(\\bSELECT\\b[\\s\\S]*?segments\\.date[\\s\\S]*?\\bFROM\\b)'))
                and (components_values.get('query') | regex_search('(?i)(\\bORDER\\s+BY\\b[\\s\\S]*?segments\\.date)'))
              )
            }}
          create_or_update: true
        - type: ComponentMappingDefinition
          field_path:
            - retriever
            - requester
            - $parameters
            - cursor_field
          value: "segments.date"
          condition: >-
            {{
              (
                components_values.get('query', '').count('segments.date') == 1
                and (components_values.get('query') | regex_search('(?i)(\\bSELECT\\b[\\s\\S]*?segments\\.date[\\s\\S]*?\\bFROM\\b)'))
              )
              or
              (
                components_values.get('query', '').count('segments.date') == 2
                and (components_values.get('query') | regex_search('(?i)(\\bSELECT\\b[\\s\\S]*?segments\\.date[\\s\\S]*?\\bFROM\\b)'))
                and (components_values.get('query') | regex_search('(?i)(\\bORDER\\s+BY\\b[\\s\\S]*?segments\\.date)'))
              )
            }}
          create_or_update: true
        - type: ComponentMappingDefinition
          field_path:
            - schema_loader
            - query
          value: "{{ components_values.get('query', None) }}"
          condition: "{{ components_values.get('query', False) }}"
          create_or_update: true
        - type: ComponentMappingDefinition
          field_path:
            - schema_loader
            - cursor_field
          value: "segments.date"
          condition: >-
            {{
              (
                components_values.get('query', '').count('segments.date') == 1
                and (components_values.get('query') | regex_search('(?i)(\\bSELECT\\b[\\s\\S]*?segments\\.date[\\s\\S]*?\\bFROM\\b)'))
              )
              or
              (
                components_values.get('query', '').count('segments.date') == 2
                and (components_values.get('query') | regex_search('(?i)(\\bSELECT\\b[\\s\\S]*?segments\\.date[\\s\\S]*?\\bFROM\\b)'))
                and (components_values.get('query') | regex_search('(?i)(\\bORDER\\s+BY\\b[\\s\\S]*?segments\\.date)'))
              )
            }}
          create_or_update: true
        - type: ComponentMappingDefinition
          field_path:
            - incremental_sync
            - step
          value: "P1D"
          condition: >-
            {{
              (
                (
                  components_values.get('query', '').count('segments.date') == 1
                  and (components_values.get('query') | regex_search('(?i)(\\bSELECT\\b[\\s\\S]*?segments\\.date[\\s\\S]*?\\bFROM\\b)'))
                )
                or
                (
                  components_values.get('query', '').count('segments.date') == 2
                  and (components_values.get('query') | regex_search('(?i)(\\bSELECT\\b[\\s\\S]*?segments\\.date[\\s\\S]*?\\bFROM\\b)'))
                  and (components_values.get('query') | regex_search('(?i)(\\bORDER\\s+BY\\b[\\s\\S]*?segments\\.date)'))
                )
              ) and components_values.get('query', '') | regex_search('(?i)(\\bFROM\\s+click_view\\b)')
            }}
          create_or_update: true
        - type: ComponentMappingDefinition
          field_path:
            - incremental_sync
            - start_datetime
          value: >-
            {
              "type": "MinMaxDatetime",
              "datetime": "{{ max(config.get('start_date', day_delta(-90, format='%Y-%m-%d')), day_delta(-90, format='%Y-%m-%d')) }}",
              "datetime_format": "%Y-%m-%d"
            }
          condition: >-
            {{
              (
                (
                  components_values.get('query', '').count('segments.date') == 1
                  and (components_values.get('query') | regex_search('(?i)(\\bSELECT\\b[\\s\\S]*?segments\\.date[\\s\\S]*?\\bFROM\\b)'))
                )
                or
                (
                  components_values.get('query', '').count('segments.date') == 2
                  and (components_values.get('query') | regex_search('(?i)(\\bSELECT\\b[\\s\\S]*?segments\\.date[\\s\\S]*?\\bFROM\\b)'))
                  and (components_values.get('query') | regex_search('(?i)(\\bORDER\\s+BY\\b[\\s\\S]*?segments\\.date)'))
                )
              ) and components_values.get('query', '') | regex_search('(?i)(\\bFROM\\s+click_view\\b)')
            }}
          create_or_update: true
        - type: ComponentMappingDefinition
          field_path:
            - incremental_sync
            - end_datetime
          value: >-
            {
              "type": "MinMaxDatetime",
              "datetime": "{{ format_datetime((str_to_datetime(config.get('end_date')) if config.get('end_date') else now_utc()) + duration('P1D'), '%Y-%m-%d') }}",
              "datetime_format": "%Y-%m-%d"
            }
          condition: >-
            {{
              (
                (
                  components_values.get('query', '').count('segments.date') == 1
                  and (components_values.get('query') | regex_search('(?i)(\\bSELECT\\b[\\s\\S]*?segments\\.date[\\s\\S]*?\\bFROM\\b)'))
                )
                or
                (
                  components_values.get('query', '').count('segments.date') == 2
                  and (components_values.get('query') | regex_search('(?i)(\\bSELECT\\b[\\s\\S]*?segments\\.date[\\s\\S]*?\\bFROM\\b)'))
                  and (components_values.get('query') | regex_search('(?i)(\\bORDER\\s+BY\\b[\\s\\S]*?segments\\.date)'))
                )
              ) and components_values.get('query', '') | regex_search('(?i)(\\bFROM\\s+click_view\\b)')
            }}
          create_or_update: true
        - type: ComponentMappingDefinition
          field_path:
            - incremental_sync
            - cursor_granularity
          value: P1D
          condition: >-
            {{
              (
                (
                  components_values.get('query', '').count('segments.date') == 1
                  and (components_values.get('query') | regex_search('(?i)(\\bSELECT\\b[\\s\\S]*?segments\\.date[\\s\\S]*?\\bFROM\\b)'))
                )
                or
                (
                  components_values.get('query', '').count('segments.date') == 2
                  and (components_values.get('query') | regex_search('(?i)(\\bSELECT\\b[\\s\\S]*?segments\\.date[\\s\\S]*?\\bFROM\\b)'))
                  and (components_values.get('query') | regex_search('(?i)(\\bORDER\\s+BY\\b[\\s\\S]*?segments\\.date)'))
                )
              ) and components_values.get('query', '') | regex_search('(?i)(\\bFROM\\s+click_view\\b)')
            }}
          create_or_update: true
        - type: ComponentMappingDefinition
          field_path:
            - retriever
            - requester
            - class_name
          value: "source_google_ads.components.CustomGAQueryClickViewHttpRequester"
          condition: >-
            {{
              (
                (
                  components_values.get('query', '').count('segments.date') == 1
                  and (components_values.get('query') | regex_search('(?i)(\\bSELECT\\b[\\s\\S]*?segments\\.date[\\s\\S]*?\\bFROM\\b)'))
                )
                or
                (
                  components_values.get('query', '').count('segments.date') == 2
                  and (components_values.get('query') | regex_search('(?i)(\\bSELECT\\b[\\s\\S]*?segments\\.date[\\s\\S]*?\\bFROM\\b)'))
                  and (components_values.get('query') | regex_search('(?i)(\\bORDER\\s+BY\\b[\\s\\S]*?segments\\.date)'))
                )
              ) and components_values.get('query', '') | regex_search('(?i)(\\bFROM\\s+click_view\\b)')
            }}
          create_or_update: true
        - type: ComponentMappingDefinition
          field_path:
            - retriever
            - requester
            - $parameters
            - query
          value: "{{ components_values.get('query', None) }}"
          create_or_update: true
        - type: ComponentMappingDefinition
          field_path:
            - retriever
            - partition_router
            - parent_stream_configs
            - "0"
            - stream
            - name
          value: customer_client_non_manager
          condition: "{{ 'metrics' in components_values.get('query', False) }}"
          create_or_update: true
        - type: ComponentMappingDefinition
          field_path:
            - retriever
            - partition_router
            - parent_stream_configs
            - "0"
            - stream
            - retriever
            - requester
            - request_body
            - value
            - query
          value: >
            SELECT
              customer_client.client_customer,
              customer_client.level,
              customer_client.id,
              customer_client.manager,
              customer_client.time_zone,
              customer_client.status
            FROM
              customer_client
            WHERE
              customer_client.manager = FALSE
          condition: "{{ 'metrics' in components_values.get('query', False) }}"
          create_or_update: true

streams:
  - "#/definitions/account_performance_report_stream"
  - "#/definitions/ad_group_stream"
  - "#/definitions/ad_group_ad_stream"
  - "#/definitions/ad_group_ad_label_stream"
  - "#/definitions/ad_group_ad_legacy_stream"
  - "#/definitions/ad_group_bidding_strategy_stream"
  - "#/definitions/ad_group_criterion_stream"
  - "#/definitions/ad_group_label_stream"
  - "#/definitions/ad_group_criterion_label_stream"
  - "#/definitions/ad_listing_group_criterion_stream"
  - "#/definitions/audience_stream"
  - "#/definitions/campaign_stream"
  - "#/definitions/campaign_bidding_strategy_stream"
  - "#/definitions/campaign_budget_stream"
  - "#/definitions/campaign_criterion_stream"
  - "#/definitions/campaign_label_stream"
  - "#/definitions/customer_stream"
  - "#/definitions/click_view_stream"
  - "#/definitions/customer_label_stream"
  - "#/definitions/display_keyword_view_stream"
  - "#/definitions/geographic_view_stream"
  - "#/definitions/keyword_view_stream"
  - "#/definitions/label_stream"
  - "#/definitions/shopping_performance_view_stream"
  - "#/definitions/topic_view_stream"
  - "#/definitions/user_interest_stream"
  - "#/definitions/user_location_view_stream"
dynamic_streams:
  - "#/definitions/custom_ga_query_stream"

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: "{{ config.get('num_workers', 3) }}"
  max_concurrency: 40

schemas:
  ad_group:
    $schema: http://json-schema.org/schema#
    type: object
    properties:
      campaign.id:
        description: The unique identifier of the campaign to which the ad group belongs.
        type:
          - "null"
          - integer
      ad_group.ad_rotation_mode:
        description: The rotation mode for ads within the ad group.
        type:
          - "null"
          - string
      ad_group.base_ad_group:
        description: The base ad group associated with this ad group.
        type:
          - "null"
          - string
      ad_group.campaign:
        description: The campaign to which the ad group belongs.
        type:
          - "null"
          - string
      metrics.cost_micros:
        description: The cost in micros for the ad group.
        type:
          - "null"
          - integer
      ad_group.cpc_bid_micros:
        description: The cost-per-click bid for the ad group in micros.
        type:
          - "null"
          - integer
      ad_group.cpm_bid_micros:
        description: The cost-per-thousand impressions bid for the ad group in micros.
        type:
          - "null"
          - integer
      ad_group.cpv_bid_micros:
        description: The cost-per-view bid for the ad group in micros.
        type:
          - "null"
          - integer
      ad_group.display_custom_bid_dimension:
        description: Custom bid dimension settings for the display network.
        type:
          - "null"
          - string
      ad_group.effective_target_cpa_micros:
        description: The effective target cost-per-acquisition bid in micros.
        type:
          - "null"
          - integer
      ad_group.effective_target_cpa_source:
        description: The source of the effective target CPA bid.
        type:
          - "null"
          - string
      ad_group.effective_target_roas:
        description: The effective target return on ad spend bid.
        type:
          - "null"
          - number
      ad_group.effective_target_roas_source:
        description: The source of the effective target ROAS bid.
        type:
          - "null"
          - string
      ad_group.excluded_parent_asset_field_types:
        description:
          Field types excluded from being used as asset fields in the ad
          group.
        type:
          - "null"
          - array
        items:
          type: string
      ad_group.optimized_targeting_enabled:
        description: Indicates whether optimized targeting is enabled for the ad group.
        type:
          - "null"
          - boolean
      ad_group.final_url_suffix:
        description: The final URL suffix for the ad group.
        type:
          - "null"
          - string
      ad_group.id:
        description: The unique identifier for the ad group.
        type:
          - "null"
          - integer
      ad_group.labels:
        description: Labels associated with the ad group.
        type:
          - "null"
          - array
        items:
          type: string
      ad_group.name:
        description: The name of the ad group.
        type:
          - "null"
          - string
      ad_group.percent_cpc_bid_micros:
        description:
          The percentage of the cost-per-click bid that is paid for the
          ad group.
        type:
          - "null"
          - integer
      ad_group.resource_name:
        description: The resource name of the ad group.
        type:
          - "null"
          - string
      ad_group.status:
        description: The status of the ad group.
        type:
          - "null"
          - string
      ad_group.target_cpa_micros:
        description: The target cost-per-acquisition bid in micros for the ad group.
        type:
          - "null"
          - integer
      ad_group.target_cpm_micros:
        description:
          The target cost-per-thousand impressions bid in micros for the
          ad group.
        type:
          - "null"
          - integer
      ad_group.target_roas:
        description: The target return on ad spend bid for the ad group.
        type:
          - "null"
          - number
      ad_group.targeting_setting.target_restrictions:
        description: Targeting restrictions defined for the ad group.
        type:
          - "null"
          - array
        items:
          type: string
      ad_group.tracking_url_template:
        description: The tracking URL template for the ad group.
        type:
          - "null"
          - string
      ad_group.type:
        description: The type of the ad group.
        type:
          - "null"
          - string
      ad_group.url_custom_parameters:
        description: Custom parameters for the ad group's URLs.
        type:
          - "null"
          - array
        items:
          type: string
      segments.date:
        description: The date segment for the data.
        type:
          - "null"
          - string
        format: date
    additionalProperties: true

  ad_group_criterion:
    $schema: http://json-schema.org/schema#
    type: object
    properties:
      deleted_at:
        description: The date when the ad group criterion was deleted.
        type:
          - "null"
          - string
      change_status.last_change_date_time:
        description: The date and time of the last change made to the ad group criterion.
        type:
          - "null"
          - string
      ad_group.id:
        description: The ID of the ad group associated with the ad group criterion.
        type:
          - "null"
          - integer
      ad_group_criterion.ad_group:
        description: The ad group to which the ad group criterion belongs.
        type:
          - "null"
          - string
      ad_group_criterion.age_range.type:
        description: The age range targeting type for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.app_payment_model.type:
        description: The app payment model type for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.approval_status:
        description: The approval status of the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.audience.audience:
        description: The audience targeting for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.bid_modifier:
        description: The bid modifier for the ad group criterion.
        type:
          - "null"
          - number
      ad_group_criterion.combined_audience.combined_audience:
        description: The combined audience targeting for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.cpc_bid_micros:
        description: The CPC bid amount in micros for the ad group criterion.
        type:
          - "null"
          - integer
      ad_group_criterion.cpm_bid_micros:
        description: The CPM bid amount in micros for the ad group criterion.
        type:
          - "null"
          - integer
      ad_group_criterion.cpv_bid_micros:
        description: The CPV bid amount in micros for the ad group criterion.
        type:
          - "null"
          - integer
      ad_group_criterion.criterion_id:
        description: The ID of the ad group criterion.
        type:
          - "null"
          - integer
      ad_group_criterion.custom_affinity.custom_affinity:
        description: The custom affinity targeting for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.custom_audience.custom_audience:
        description: The custom audience targeting for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.custom_intent.custom_intent:
        description: The custom intent targeting for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.disapproval_reasons:
        description: The reasons for disapproval of the ad group criterion.
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      ad_group_criterion.display_name:
        description: The display name of the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.effective_cpc_bid_micros:
        description: The effective CPC bid amount in micros for the ad group criterion.
        type:
          - "null"
          - integer
      ad_group_criterion.effective_cpc_bid_source:
        description: The source of the effective CPC bid for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.effective_cpm_bid_micros:
        description: The effective CPM bid amount in micros for the ad group criterion.
        type:
          - "null"
          - integer
      ad_group_criterion.effective_cpm_bid_source:
        description: The source of the effective CPM bid for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.effective_cpv_bid_micros:
        description: The effective CPV bid amount in micros for the ad group criterion.
        type:
          - "null"
          - integer
      ad_group_criterion.effective_cpv_bid_source:
        description: The source of the effective CPV bid for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.effective_percent_cpc_bid_micros:
        description:
          The effective percent CPC bid amount in micros for the ad group
          criterion.
        type:
          - "null"
          - integer
      ad_group_criterion.effective_percent_cpc_bid_source:
        description:
          The source of the effective percent CPC bid for the ad group
          criterion.
        type:
          - "null"
          - string
      ad_group_criterion.final_mobile_urls:
        description: The final mobile URLs for the ad group criterion.
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      ad_group_criterion.final_url_suffix:
        description: The final URL suffix for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.final_urls:
        description: The final URLs for the ad group criterion.
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      ad_group_criterion.gender.type:
        description: The gender targeting type for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.income_range.type:
        description: The income range targeting type for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.keyword.match_type:
        description: The match type of the keyword for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.keyword.text:
        description: The text of the keyword for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.labels:
        description: The labels associated with the ad group criterion.
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      ad_group_criterion.mobile_app_category.mobile_app_category_constant:
        description: The mobile app category constant for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.mobile_application.app_id:
        description: The application ID for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.mobile_application.name:
        description: The name of the mobile application for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.negative:
        description: Indicates if the ad group criterion is negative or not.
        type:
          - "null"
          - boolean
      ad_group_criterion.parental_status.type:
        description: The parental status targeting type for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.percent_cpc_bid_micros:
        description: The percent CPC bid amount in micros for the ad group criterion.
        type:
          - "null"
          - integer
      ad_group_criterion.placement.url:
        description: The URL placement for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.position_estimates.estimated_add_clicks_at_first_position_cpc:
        description:
          The estimated additional clicks at the first position CPC for
          the ad group criterion.
        type:
          - "null"
          - integer
      ad_group_criterion.position_estimates.estimated_add_cost_at_first_position_cpc:
        description:
          The estimated additional cost at the first position CPC for the
          ad group criterion.
        type:
          - "null"
          - integer
      ad_group_criterion.position_estimates.first_page_cpc_micros:
        description: The first page CPC bid amount in micros for the ad group criterion.
        type:
          - "null"
          - integer
      ad_group_criterion.position_estimates.first_position_cpc_micros:
        description:
          The first position CPC bid amount in micros for the ad group
          criterion.
        type:
          - "null"
          - integer
      ad_group_criterion.position_estimates.top_of_page_cpc_micros:
        description: The top of page CPC bid amount in micros for the ad group criterion.
        type:
          - "null"
          - integer
      ad_group_criterion.quality_info.creative_quality_score:
        description: The creative quality score for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.quality_info.post_click_quality_score:
        description: The post-click quality score for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.quality_info.quality_score:
        description: The quality score for the ad group criterion.
        type:
          - "null"
          - integer
      ad_group_criterion.quality_info.search_predicted_ctr:
        description: The predicted click-through rate for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.resource_name:
        description: The resource name of the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.status:
        description: The status of the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.system_serving_status:
        description: The serving status of the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.topic.path:
        description: The path of the topic targeting for the ad group criterion.
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      ad_group_criterion.topic.topic_constant:
        description: The topic constant for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.tracking_url_template:
        description: The tracking URL template for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.type:
        description: The type of the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.url_custom_parameters:
        description: The custom parameters for the URLs of the ad group criterion.
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      ad_group_criterion.user_interest.user_interest_category:
        description: The user interest category for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.user_list.user_list:
        description: The user list targeting for the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.webpage.conditions:
        description: The conditions set for webpage targeting of the ad group criterion.
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      ad_group_criterion.webpage.coverage_percentage:
        description:
          The coverage percentage for the webpage targeting of the ad group
          criterion.
        type:
          - "null"
          - number
      ad_group_criterion.webpage.criterion_name:
        description:
          The criterion name for the webpage targeting of the ad group
          criterion.
        type:
          - "null"
          - string
      ad_group_criterion.webpage.sample.sample_urls:
        description: The sample URLs for webpage targeting of the ad group criterion.
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      ad_group_criterion.youtube_channel.channel_id:
        description:
          The channel ID for YouTube channel targeting of the ad group
          criterion.
        type:
          - "null"
          - string
      ad_group_criterion.youtube_video.video_id:
        description: The video ID for YouTube video targeting of the ad group criterion.
        type:
          - "null"
          - string
    additionalProperties: true

  ad_listing_group_criterion:
    $schema: http://json-schema.org/schema#
    type: object
    properties:
      deleted_at:
        description:
          The timestamp indicating when the ad group criterion was deleted,
          if applicable.
        type:
          - "null"
          - string
      change_status.last_change_date_time:
        description: The date and time of the last change made to the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.resource_name:
        description: The resource name of the ad group criterion.
        type:
          - "null"
          - string
      ad_group.id:
        description: The ID of the ad group associated with the criterion.
        type:
          - "null"
          - integer
      ad_group_criterion.criterion_id:
        description: The ID of the criterion defining the ad group criterion.
        type:
          - "null"
          - integer
      ad_group_criterion.listing_group.case_value.activity_country.value:
        description:
          The country where the activity related to the ad group criterion
          takes place.
        type:
          - "null"
          - string
      ad_group_criterion.listing_group.case_value.activity_id.value:
        description: The ID of the activity related to the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.listing_group.case_value.activity_rating.value:
        description: The rating of the activity related to the ad group criterion.
        type:
          - "null"
          - integer
      ad_group_criterion.listing_group.case_value.hotel_city.city_criterion:
        description:
          The city where the hotel related to the ad group criterion is
          located.
        type:
          - "null"
          - string
      ad_group_criterion.listing_group.case_value.hotel_class.value:
        description: The class of the hotel related to the ad group criterion.
        type:
          - "null"
          - integer
      ad_group_criterion.listing_group.case_value.hotel_country_region.country_region_criterion:
        description:
          The country region where the hotel related to the ad group criterion
          is located.
        type:
          - "null"
          - string
      ad_group_criterion.listing_group.case_value.hotel_id.value:
        description: The ID of the hotel related to the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.listing_group.case_value.hotel_state.state_criterion:
        description:
          The state where the hotel related to the ad group criterion is
          located.
        type:
          - "null"
          - string
      ad_group_criterion.listing_group.case_value.product_category.category_id:
        description:
          The ID of the category to which the product related to the ad
          group criterion belongs.
        type:
          - "null"
          - integer
      ad_group_criterion.listing_group.case_value.product_category.level:
        description: The category level of the product related to the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.listing_group.case_value.product_brand.value:
        description: The brand of the product related to the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.listing_group.case_value.product_channel.channel:
        description:
          The channel where the product related to the ad group criterion
          is sold.
        type:
          - "null"
          - string
      ad_group_criterion.listing_group.case_value.product_channel_exclusivity.channel_exclusivity:
        description:
          The exclusivity level of the product on its distribution channel
          related to the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.listing_group.case_value.product_condition.condition:
        description: The condition of the product related to the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.listing_group.case_value.product_custom_attribute.index:
        description:
          The custom attribute index of the product related to the ad group
          criterion.
        type:
          - "null"
          - string
      ad_group_criterion.listing_group.case_value.product_custom_attribute.value:
        description:
          The custom attribute value of the product related to the ad group
          criterion.
        type:
          - "null"
          - string
      ad_group_criterion.listing_group.case_value.product_item_id.value:
        description: The ID of the product item related to the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.listing_group.case_value.product_type.level:
        description: The level of product type related to the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.listing_group.case_value.product_type.value:
        description: The value of the product type related to the ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.listing_group.parent_ad_group_criterion:
        description: The parent ad group criterion of the current ad group criterion.
        type:
          - "null"
          - string
      ad_group_criterion.listing_group.type:
        description: The type of the listing group associated with the ad group criterion.
        type:
          - "null"
          - string
    additionalProperties: true

  campaign:
    $schema: http://json-schema.org/schema#
    type: object
    properties:
      campaign.accessible_bidding_strategy:
        description: The accessible bidding strategy of the campaign.
        type:
          - "null"
          - string
      campaign.ad_serving_optimization_status:
        description: The optimization status for serving ads within the campaign.
        type:
          - "null"
          - string
      campaign.advertising_channel_sub_type:
        description: The sub-type of advertising channel for the campaign.
        type:
          - "null"
          - string
      campaign.advertising_channel_type:
        description: The type of advertising channel for the campaign.
        type:
          - "null"
          - string
      campaign.app_campaign_setting.app_id:
        description: The ID of the app associated with the app campaign setting.
        type:
          - "null"
          - string
      campaign.app_campaign_setting.app_store:
        description:
          The app store for the mobile app associated with the app campaign
          setting.
        type:
          - "null"
          - string
      campaign.app_campaign_setting.bidding_strategy_goal_type:
        description: The goal type for the app campaign's bidding strategy.
        type:
          - "null"
          - string
      campaign.base_campaign:
        description: The base campaign linked to the current campaign.
        type:
          - "null"
          - string
      campaign.bidding_strategy:
        description: The bidding strategy used for the campaign.
        type:
          - "null"
          - string
      campaign.bidding_strategy_type:
        description: The type of bidding strategy employed for the campaign.
        type:
          - "null"
          - string
      campaign.campaign_budget:
        description: The budget allocated for the campaign.
        type:
          - "null"
          - string
      campaign_budget.amount_micros:
        description: The budget amount in micros allocated for the campaign.
        type:
          - "null"
          - integer
      campaign.commission.commission_rate_micros:
        description: The commission rate in micros for the campaign.
        type:
          - "null"
          - integer
      campaign.dynamic_search_ads_setting.domain_name:
        description: The domain name set for dynamic search ads within the campaign.
        type:
          - "null"
          - string
      campaign.dynamic_search_ads_setting.language_code:
        description: The language code associated with dynamic search ads.
        type:
          - "null"
          - string
      campaign.dynamic_search_ads_setting.use_supplied_urls_only:
        description:
          Flag indicating whether only supplied URLs are used for dynamic
          search ads.
        type:
          - "null"
          - boolean
      campaign.end_date:
        description: The end date of the campaign.
        type:
          - "null"
          - string
      campaign.excluded_parent_asset_field_types:
        description: Types of parent asset fields excluded from the campaign.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.experiment_type:
        description: The type of experiment conducted for the campaign.
        type:
          - "null"
          - string
      campaign.final_url_suffix:
        description: The final URL suffix used for tracking in the campaign.
        type:
          - "null"
          - string
      campaign.frequency_caps:
        description: Caps on ad serving frequency for the campaign.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.geo_target_type_setting.negative_geo_target_type:
        description: The negative geo target type settings for the campaign.
        type:
          - "null"
          - string
      campaign.geo_target_type_setting.positive_geo_target_type:
        description: The positive geo target type settings for the campaign.
        type:
          - "null"
          - string
      campaign.hotel_setting.hotel_center_id:
        description: The hotel center ID associated with hotel campaigns.
        type:
          - "null"
          - integer
      campaign.id:
        description: The unique identifier of the campaign.
        type:
          - "null"
          - integer
      campaign.labels:
        description: Labels associated with the campaign.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.local_campaign_setting.location_source_type:
        description: The source type for location targeting in local campaigns.
        type:
          - "null"
          - string
      campaign.manual_cpc.enhanced_cpc_enabled:
        description:
          Indication of whether Enhanced CPC is enabled for manual CPC
          campaigns.
        type:
          - "null"
          - boolean
      campaign.manual_cpm:
        description: Manual CPM bidding used in the campaign.
        type:
          - "null"
          - string
      campaign.manual_cpv:
        description: Manual CPV bidding used in the campaign.
        type:
          - "null"
          - string
      campaign.maximize_conversion_value.target_roas:
        description: Target ROAS set for maximizing conversion value in the campaign.
        type:
          - "null"
          - number
      campaign.maximize_conversions.target_cpa_micros:
        description: Target CPA in micros set for maximizing conversions in the campaign.
        type:
          - "null"
          - integer
      campaign.name:
        description: The name of the campaign.
        type:
          - "null"
          - string
      campaign.network_settings.target_content_network:
        description: Indication of targeting the content network in network settings.
        type:
          - "null"
          - boolean
      campaign.network_settings.target_google_search:
        description: Indication of targeting Google Search in network settings.
        type:
          - "null"
          - boolean
      campaign.network_settings.target_partner_search_network:
        description: Indication of targeting partner search network in network settings.
        type:
          - "null"
          - boolean
      campaign.network_settings.target_search_network:
        description: Indication of targeting search network in network settings.
        type:
          - "null"
          - boolean
      campaign.optimization_goal_setting.optimization_goal_types:
        description: Types of optimization goals set for the campaign.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.optimization_score:
        description: The optimization score of the campaign.
        type:
          - "null"
          - number
      campaign.payment_mode:
        description: The payment mode chosen for the campaign.
        type:
          - "null"
          - string
      campaign.percent_cpc.cpc_bid_ceiling_micros:
        description: The CPC bid ceiling in micros for percent CPC bidding.
        type:
          - "null"
          - integer
      campaign.percent_cpc.enhanced_cpc_enabled:
        description: Indication of Enhanced CPC enabled for percent CPC bidding.
        type:
          - "null"
          - boolean
      campaign.real_time_bidding_setting.opt_in:
        description: Opt-in status for real-time bidding within the campaign.
        type:
          - "null"
          - boolean
      campaign.resource_name:
        description: The resource name of the campaign.
        type:
          - "null"
          - string
      campaign.selective_optimization.conversion_actions:
        description:
          Conversion actions selected for selective optimization within
          the campaign.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.serving_status:
        description: The serving status of the campaign.
        type:
          - "null"
          - string
      campaign.shopping_setting.campaign_priority:
        description: Campaign priority set for shopping campaigns.
        type:
          - "null"
          - integer
      campaign.shopping_setting.enable_local:
        description: Flag indicating whether local shopping is enabled for the campaign.
        type:
          - "null"
          - boolean
      campaign.shopping_setting.merchant_id:
        description: The merchant ID associated with shopping campaigns.
        type:
          - "null"
          - integer
      campaign.start_date:
        description: The start date of the campaign.
        type:
          - "null"
          - string
      campaign.status:
        description: The status of the campaign.
        type:
          - "null"
          - string
      campaign.target_cpa.cpc_bid_ceiling_micros:
        description: The CPC bid ceiling in micros for target CPA bidding.
        type:
          - "null"
          - integer
      campaign.target_cpa.cpc_bid_floor_micros:
        description: The CPC bid floor in micros for target CPA bidding.
        type:
          - "null"
          - integer
      campaign.target_cpa.target_cpa_micros:
        description: The target CPA in micros for target CPA bidding.
        type:
          - "null"
          - integer
      campaign.target_cpm.target_frequency_goal.target_count:
        description:
          The target count set for target frequency goal in target CPM
          bidding.
        type:
          - "null"
          - integer
      campaign.target_cpm.target_frequency_goal.time_unit:
        description: The time unit set for target frequency goal in target CPM bidding.
        type:
          - "null"
          - string
      campaign.target_impression_share.cpc_bid_ceiling_micros:
        description: The CPC bid ceiling in micros for target impression share bidding.
        type:
          - "null"
          - integer
      campaign.target_impression_share.location:
        description: The location targeted for target impression share bidding.
        type:
          - "null"
          - string
      campaign.target_impression_share.location_fraction_micros:
        description: The location fraction in micros for target impression share bidding.
        type:
          - "null"
          - integer
      campaign.target_roas.cpc_bid_ceiling_micros:
        description: The CPC bid ceiling in micros for target ROAS bidding.
        type:
          - "null"
          - integer
      campaign.target_roas.cpc_bid_floor_micros:
        description: The CPC bid floor in micros for target ROAS bidding.
        type:
          - "null"
          - integer
      campaign.target_roas.target_roas:
        description: The target ROAS set for target ROAS bidding.
        type:
          - "null"
          - number
      campaign.target_spend.cpc_bid_ceiling_micros:
        description: The CPC bid ceiling in micros for target spend bidding.
        type:
          - "null"
          - integer
      campaign.target_spend.target_spend_micros:
        description: The target spend in micros for target spend bidding.
        type:
          - "null"
          - integer
      campaign.targeting_setting.target_restrictions:
        description: Restrictions applied to targeting within the campaign.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.tracking_setting.tracking_url:
        description: The tracking URL set for campaign tracking.
        type:
          - "null"
          - string
      campaign.tracking_url_template:
        description: The template for tracking URLs in the campaign.
        type:
          - "null"
          - string
      campaign.url_custom_parameters:
        description: Custom parameters added to campaign URLs.
        type:
          - "null"
          - array
        items:
          type: string
      campaign.vanity_pharma.vanity_pharma_display_url_mode:
        description: The display URL mode set for vanity pharma in the campaign.
        type:
          - "null"
          - string
      campaign.vanity_pharma.vanity_pharma_text:
        description: The text used for vanity pharma in the campaign.
        type:
          - "null"
          - string
      campaign.video_brand_safety_suitability:
        description:
          The brand safety suitability settings for video ads within the
          campaign.
        type:
          - "null"
          - string
      metrics.clicks:
        description: Total number of clicks in the campaign.
        type:
          - "null"
          - integer
      metrics.ctr:
        description: Click-through rate (CTR) metric for the campaign.
        type:
          - "null"
          - number
      metrics.conversions:
        description: Total number of conversions in the campaign.
        type:
          - "null"
          - number
      metrics.conversions_value:
        description: Total value of conversions in the campaign.
        type:
          - "null"
          - number
      metrics.cost_micros:
        description: Total cost in micros incurred for the campaign.
        type:
          - "null"
          - integer
      metrics.impressions:
        description: Total number of impressions for the campaign.
        type:
          - "null"
          - integer
      metrics.video_views:
        description: Total number of video views in the campaign.
        type:
          - "null"
          - integer
      metrics.video_quartile_p100_rate:
        description: Rate of viewers reaching the 100% quartile in video ads.
        type:
          - "null"
          - number
      metrics.active_view_cpm:
        description: Active View CPM metric for the campaign.
        type:
          - "null"
          - number
      metrics.active_view_ctr:
        description: Active View CTR metric for the campaign.
        type:
          - "null"
          - number
      metrics.active_view_impressions:
        description: Number of active view impressions for the campaign.
        type:
          - "null"
          - integer
      metrics.active_view_measurability:
        description: Active view measurability metric for the campaign.
        type:
          - "null"
          - number
      metrics.active_view_measurable_cost_micros:
        description: Cost in micros for measurable active view impressions.
        type:
          - "null"
          - integer
      metrics.active_view_measurable_impressions:
        description: Number of measurable active view impressions.
        type:
          - "null"
          - integer
      metrics.active_view_viewability:
        description: Active view viewability metric for the campaign.
        type:
          - "null"
          - number
      metrics.average_cost:
        description: Average cost metric for the campaign.
        type:
          - "null"
          - number
      metrics.average_cpc:
        description: Average CPC metric for the campaign.
        type:
          - "null"
          - number
      metrics.average_cpm:
        description: Average CPM metric for the campaign.
        type:
          - "null"
          - number
      metrics.interactions:
        description: Total number of interactions in the campaign.
        type:
          - "null"
          - integer
      metrics.interaction_event_types:
        description: Types of interaction events recorded in the campaign metrics.
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      metrics.value_per_conversion:
        description: Average value per conversion in the campaign.
        type:
          - "null"
          - number
      metrics.cost_per_conversion:
        description: Cost per conversion metric for the campaign.
        type:
          - "null"
          - number
      segments.date:
        description: Date segment used for campaign data.
        type:
          - "null"
          - string
        format: date
      segments.hour:
        description: Hour segment used for campaign data.
        type:
          - "null"
          - integer
      segments.ad_network_type:
        description: The type of ad network used for segmentation.
        type:
          - "null"
          - string
    additionalProperties: true

  campaign_criterion:
    $schema: http://json-schema.org/schema#
    type: object
    properties:
      deleted_at:
        description: Timestamp indicating when the criterion was deleted.
        type:
          - "null"
          - string
      change_status.last_change_date_time:
        description: The date and time of the last change made to the criterion.
        type:
          - "null"
          - string
      campaign.id:
        description: The unique identifier for the campaign associated with the criterion.
        type:
          - "null"
          - integer
      campaign_criterion.resource_name:
        description: The resource name of the criterion.
        type:
          - "null"
          - string
      campaign_criterion.campaign:
        description: The specific campaign this criterion is targeting.
        type:
          - "null"
          - string
      campaign_criterion.age_range.type:
        description: The age range targeting type for the criterion.
        type:
          - "null"
          - string
      campaign_criterion.mobile_application.name:
        description: The name of the mobile application targeted by the criterion.
        type:
          - "null"
          - string
      campaign_criterion.negative:
        description: Indicates whether the criterion is a negative targeting criterion.
        type:
          - "null"
          - boolean
      campaign_criterion.youtube_channel.channel_id:
        description: The YouTube channel ID targeted by the criterion.
        type:
          - "null"
          - string
      campaign_criterion.youtube_video.video_id:
        description: The YouTube video ID targeted by the criterion.
        type:
          - "null"
          - string
    additionalProperties: true

  change_status:
    $schema: http://json-schema.org/schema#
    type: object
    properties:
      change_status.last_change_date_time:
        description: The date and time when the last change was made.
        type:
          - "null"
          - string
      change_status.resource_type:
        description: The type of the resource that was changed.
        type:
          - "null"
          - string
      change_status.resource_status:
        description: The status of the resource after the change.
        type:
          - "null"
          - string
      change_status.resource_name:
        description: The name of the resource that was changed.
        type:
          - "null"
          - string
      change_status.ad_group_criterion:
        description: The status of the ad group criterion that was changed.
        type:
          - "null"
          - string
      change_status.campaign_criterion:
        description: The status of the campaign criterion that was changed.
        type:
          - "null"
          - string
    additionalProperties: true

  display_keyword_view:
    $schema: http://json-schema.org/schema#
    type: object
    properties:
      customer.currency_code:
        description: The currency code of the customer
        type:
          - "null"
          - string
      customer.descriptive_name:
        description: The descriptive name of the customer
        type:
          - "null"
          - string
      customer.time_zone:
        description: The time zone of the customer
        type:
          - "null"
          - string
      metrics.active_view_cpm:
        description: The active view CPM metric
        type:
          - "null"
          - number
      metrics.active_view_ctr:
        description: The active view CTR metric
        type:
          - "null"
          - number
      metrics.active_view_impressions:
        description: The number of active view impressions
        type:
          - "null"
          - integer
      metrics.active_view_measurability:
        description: The measurability of active view impressions
        type:
          - "null"
          - number
      metrics.active_view_measurable_cost_micros:
        description: The cost of meausurable active view impressions in micros
        type:
          - "null"
          - integer
      metrics.active_view_measurable_impressions:
        description: The number of measurable active view impressions
        type:
          - "null"
          - integer
      metrics.active_view_viewability:
        description: The viewability of active view impressions
        type:
          - "null"
          - number
      ad_group.id:
        description: The ID of the ad group
        type:
          - "null"
          - integer
      ad_group.name:
        description: The name of the ad group
        type:
          - "null"
          - string
      ad_group.status:
        description: The status of the ad group
        type:
          - "null"
          - string
      segments.ad_network_type:
        description: The type of ad network
        type:
          - "null"
          - string
      metrics.all_conversions_from_interactions_rate:
        description: The rate of conversions from interactions
        type:
          - "null"
          - number
      metrics.all_conversions_value:
        description: The total value of all conversions
        type:
          - "null"
          - number
      metrics.all_conversions:
        description: The total number of conversions
        type:
          - "null"
          - number
      metrics.average_cost:
        description: The average cost per click
        type:
          - "null"
          - number
      metrics.average_cpc:
        description: The average cost per click
        type:
          - "null"
          - number
      metrics.average_cpe:
        description: The average cost per engagement
        type:
          - "null"
          - number
      metrics.average_cpm:
        description: The average cost per thousand impressions
        type:
          - "null"
          - number
      metrics.average_cpv:
        description: The average cost per view
        type:
          - "null"
          - number
      ad_group.base_ad_group:
        description: The base ad group associated with the keyword
        type:
          - "null"
          - string
      campaign.base_campaign:
        description: The base campaign associated with the ad group
        type:
          - "null"
          - string
      campaign.bidding_strategy:
        description: The bidding strategy of the campaign
        type:
          - "null"
          - string
      campaign.bidding_strategy_type:
        description: The type of bidding strategy used for the campaign
        type:
          - "null"
          - string
      campaign.id:
        description: The ID of the campaign
        type:
          - "null"
          - integer
      campaign.name:
        description: The name of the campaign
        type:
          - "null"
          - string
      campaign.status:
        description: The status of the campaign
        type:
          - "null"
          - string
      metrics.clicks:
        description: The total number of clicks
        type:
          - "null"
          - integer
      metrics.conversions_from_interactions_rate:
        description: The rate of conversions from interactions
        type:
          - "null"
          - number
      metrics.conversions_value:
        description: The total value of conversions
        type:
          - "null"
          - number
      metrics.conversions:
        description: The number of conversions
        type:
          - "null"
          - number
      metrics.cost_micros:
        description: The total cost in micros
        type:
          - "null"
          - integer
      metrics.cost_per_all_conversions:
        description: The cost per all conversions
        type:
          - "null"
          - number
      metrics.cost_per_conversion:
        description: The cost per conversion
        type:
          - "null"
          - number
      ad_group_criterion.effective_cpc_bid_micros:
        description: The effective CPC bid in micros for the criterion
        type:
          - "null"
          - integer
      ad_group_criterion.effective_cpc_bid_source:
        description: The source of the effective CPC bid
        type:
          - "null"
          - string
      ad_group_criterion.effective_cpm_bid_micros:
        description: The effective CPM bid in micros for the criterion
        type:
          - "null"
          - integer
      ad_group_criterion.effective_cpm_bid_source:
        description: The source of the effective CPM bid
        type:
          - "null"
          - string
      ad_group_criterion.effective_cpv_bid_micros:
        description: The effective CPV bid in micros for the criterion
        type:
          - "null"
          - integer
      ad_group_criterion.effective_cpv_bid_source:
        description: The source of the effective CPV bid
        type:
          - "null"
          - string
      ad_group_criterion.keyword.text:
        description: The text of the keyword
        type:
          - "null"
          - string
      metrics.cross_device_conversions:
        description: The number of cross-device conversions
        type:
          - "null"
          - number
      metrics.ctr:
        description: The click-through rate
        type:
          - "null"
          - number
      segments.day_of_week:
        description: The day of the week segment
        type:
          - "null"
          - string
      segments.device:
        description: The device segment
        type:
          - "null"
          - string
      metrics.engagement_rate:
        description: The engagement rate
        type:
          - "null"
          - number
      metrics.engagements:
        description: The total number of engagements
        type:
          - "null"
          - integer
      customer.id:
        description: The ID of the customer
        type:
          - "null"
          - integer
      ad_group_criterion.final_mobile_urls:
        description: The final mobile URLs for the criterion
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      ad_group_criterion.final_urls:
        description: The final URLs for the criterion
        type:
          - "null"
          - array
        items:
          type:
            - "null"
            - string
      metrics.gmail_forwards:
        description: The number of Gmail forwards
        type:
          - "null"
          - integer
      metrics.gmail_saves:
        description: The number of Gmail saves
        type:
          - "null"
          - integer
      metrics.gmail_secondary_clicks:
        description: The number of secondary clicks on Gmail ads
        type:
          - "null"
          - integer
      ad_group_criterion.criterion_id:
        description: The ID of the criterion
        type:
          - "null"
          - integer
      metrics.impressions:
        description: The total number of impressions
        type:
          - "null"
          - integer
      metrics.interaction_rate:
        description: The interaction rate
        type:
          - "null"
          - number
      metrics.interaction_event_types:
        description: The types of interaction events
        type:
          - "null"
          - array
        items:
          type: string
      metrics.interactions:
        description: The total number of interactions
        type:
          - "null"
          - integer
      ad_group_criterion.negative:
        description: Indicates if the criterion is a negative keyword
        type:
          - "null"
          - boolean
      ad_group.targeting_setting.target_restrictions:
        description: The target restrictions applied to the ad group
        type:
          - "null"
          - array
        items:
          type: string
      segments.month:
        description: The month segment
        type:
          - "null"
          - string
      segments.quarter:
        description: The quarter segment
        type:
          - "null"
          - string
      ad_group_criterion.status:
        description: The status of the criterion
        type:
          - "null"
          - string
      ad_group_criterion.tracking_url_template:
        description: The tracking URL template for the criterion
        type:
          - "null"
          - string
      ad_group_criterion.keyword.match_type:
        description: The match type of the keyword
        type:
          - "null"
          - string
      ad_group_criterion.url_custom_parameters:
        description: The custom parameters for the criterion
        type:
          - "null"
          - array
        items:
          type: string
      metrics.value_per_all_conversions:
        description: The value per all conversions
        type:
          - "null"
          - number
      metrics.value_per_conversion:
        description: The value per conversion
        type:
          - "null"
          - number
      metrics.video_quartile_p100_rate:
        description: The quartile p100 rate for video views
        type:
          - "null"
          - number
      metrics.video_quartile_p25_rate:
        description: The quartile p25 rate for video views
        type:
          - "null"
          - number
      metrics.video_quartile_p50_rate:
        description: The quartile p50 rate for video views
        type:
          - "null"
          - number
      metrics.video_quartile_p75_rate:
        description: The quartile p75 rate for video views
        type:
          - "null"
          - number
      metrics.video_view_rate:
        description: The video view rate
        type:
          - "null"
          - number
      metrics.video_views:
        description: The total number of video views
        type:
          - "null"
          - integer
      metrics.view_through_conversions:
        description: The number of view-through conversions
        type:
          - "null"
          - integer
      segments.week:
        description: The week segment
        type:
          - "null"
          - string
      segments.year:
        description: The year segment
        type:
          - "null"
          - integer
      segments.date:
        description: The date segment
[...]
