version: 6.48.15

type: DeclarativeSource

description: >-
  This Source is capable of syncing the following core Streams:


  - [checks](https://docs.pingdom.com/api/#tag/Checks/paths/~1checks/get)

  -
  [performance](https://docs.pingdom.com/api/#tag/Summary.performance/paths/~1summary.performance~1{checkid}/get)


  ## Requirements


  - **Pingdom API Key**.[required] See the [PingDom API
  docs](https://docs.pingdom.com/api/#section/Authentication) for information on
  how to obtain the API token.

  - **Start date**.[required]. To Fetch data from. Only use for Incremental way.

  - **Probes**[optional]. Filter to only use results from a list of probes.
  Format is a comma separated list of probe identifiers.

  - **Resolution**[optional]. Interval Size. Should be `hour`, `day`, `week`.
  Default: `hour`

check:
  type: CheckStream
  stream_names:
    - checks

definitions:
  streams:
    checks:
      type: DeclarativeStream
      name: checks
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: checks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - checks
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: offset
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 25000
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/checks"
    performance:
      type: DeclarativeStream
      name: performance
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: summary.performance/{{stream_partition.check_id}}
          http_method: GET
          request_parameters:
            probes: "{{ config['probes'] }}"
            resolution: "{{ config['resolution'] }}"
            includeuptime: "true"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 400
                    action: FAIL
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - summary
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: check_id
              stream:
                $ref: "#/definitions/streams/checks"
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: stream_end_time
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          field_name: from
          inject_into: request_parameter
        end_time_option:
          type: RequestOption
          field_name: to
          inject_into: request_parameter
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: >-
          {{ 'PT2H' if config['resolution'] == 'hour' else ('P2D' if
          config['resolution'] == 'day' else 'P2W') }}
        cursor_granularity: PT1S
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - check_id
              value: "{{stream_partition.check_id}}"
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - stream_end_time
              value: "{{stream_interval.end_time}}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/performance"
  base_requester:
    type: HttpRequester
    url_base: https://api.pingdom.com/api/3.1/
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/checks"
  - $ref: "#/definitions/streams/performance"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      probes:
        type: string
        order: 0
        title: probes
        examples:
          - probe1
          - probe2
      api_key:
        type: string
        order: 1
        title: API Key
        airbyte_secret: true
      resolution:
        type: string
        enum:
          - hour
          - day
          - week
        order: 2
        title: resolution
        default: hour
      start_date:
        type: string
        order: 3
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  autoImportSchema:
    checks: false
    performance: false
  testedStreams:
    checks:
      hasRecords: true
      streamHash: d4d857a1dd322c4042dfc14564ae635b1f99f12a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    performance:
      streamHash: aaf896dd2c52d544f39480060ddf76227572473d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  checks:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
  performance:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties: {}
