version: 7.4.2

type: DeclarativeSource

description: >-
  Interzoid is an AI-powered API platform providing data quality, data matching,
  and data enrichment capabilities that help Airbyte pipelines deliver higher
  data ROI. This connector enables you to call Interzoid’s APIs directly from
  your Airbyte workflows to match records, enrich attributes, normalize and
  standardize fields, or verify data as part of your extraction and loading
  processes. The result is cleaner, more consistent, and more actionable
  datasets flowing through your Airbyte integrations—without additional
  engineering overhead.

check:
  type: CheckStream
  stream_names:
    - Company Name Matching
    - Individual Name Matching
    - Street Address Matching
    - Standardize Company Names

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: ApiKeyAuthenticator
        api_token: "{{ config['api_key'] }}"
        inject_into:
          type: RequestOption
          field_name: license
          inject_into: request_parameter

streams:
  - type: DeclarativeStream
    name: Company Name Matching
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: https://api.interzoid.com/getcompanymatchadvanced
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: license
            inject_into: request_parameter
        request_parameters:
          company: ibm
          algorithm: model-v4-wide
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          Code:
            type:
              - string
              - "null"
          SimKey:
            type:
              - string
              - "null"
          Credits:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: Individual Name Matching
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: https://api.interzoid.com/getfullnamematch
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: license
            inject_into: request_parameter
        request_parameters:
          fullname: John Smith
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          Code:
            type:
              - string
              - "null"
          SimKey:
            type:
              - string
              - "null"
          Credits:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: Street Address Matching
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: https://api.interzoid.com/getaddressmatchadvanced
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: license
            inject_into: request_parameter
        request_parameters:
          address: 100 Main Street Apt 2A
          algorithm: model-v3-narrow
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          Code:
            type:
              - string
              - "null"
          SimKey:
            type:
              - string
              - "null"
          Credits:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: Standardize Company Names
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: https://api.interzoid.com/getorgstandard
        http_method: GET
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: license
            inject_into: request_parameter
        request_parameters:
          org: intl bus machines
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          Code:
            type:
              - string
              - "null"
          Credits:
            type:
              - string
              - "null"
          Standard:
            type:
              - string
              - "null"
        additionalProperties: true

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  testedStreams:
    stream_0:
      streamHash: ad11f9fa446b445a056b0f48d54e74059e0bc977
    Company Name Matching:
      isStale: false
      hasRecords: true
      streamHash: f3ac4c2ae85b18deb6a55b7f3dc892d736c579be
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Street Address Matching:
      isStale: false
      hasRecords: true
      streamHash: 2528dce076d13caec394853155e5fe3c5412f25c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Individual Name Matching:
      isStale: false
      hasRecords: true
      streamHash: 7b4a3731bff1138a56f0f49b255bc84deb2e3ed1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    Standardize Company Names:
      isStale: false
      hasRecords: true
      streamHash: c3eb3b91ca19cdd60f674f3774331378e1767dec
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    Company Name Matching: true
    Street Address Matching: true
    Individual Name Matching: true
    Standardize Company Names: true
