version: 7.28.2

type: DeclarativeSource

description: >-
  The App Store Connect app lets you monitor your app's sales and downloads,
  reply to App Store Review, get notified of new reviews, respond to reviews,
  and more.

check:
  type: CheckStream
  stream_names:
    - list_id_apps

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: JwtAuthenticator
        algorithm: ES256
        secret_key: "{{ config['secret_key'] }}"
        jwt_headers:
          kid: "{{ config['kid'] }}"
          typ: JWT
        jwt_payload:
          aud: appstoreconnect-v1
          iss: "{{ config['iss'] }}"
        header_prefix: Bearer
        token_duration: 1200
      error_handler:
        type: DefaultErrorHandler
        max_retries: 3
        response_filters:
          - type: HttpResponseFilter
            action: IGNORE
            http_codes:
              - 404
              - 410
          - type: HttpResponseFilter
            action: IGNORE
            http_codes:
              - 400
          - type: HttpResponseFilter
            action: RETRY
            http_codes:
              - 429
              - 500
              - 502
              - 503
              - 504
        backoff_strategies:
          - type: ExponentialBackoffStrategy
            factor: 2
      request_parameters:
        filter[accessType]: ONGOING
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('links', {}).get('next') }}"
          stop_condition: "{{ not response.get('links', {}).get('next') }}"
    DailyReportDateField:
      type: AddedFieldDefinition
      path:
        - report_date
      value: "{{ stream_interval.start_time }}"
      value_type: string
    SalesReportCsvDecoder:
      type: GzipDecoder
      decoder:
        type: GzipDecoder
        decoder:
          type: CsvDecoder
          encoding: utf-8
          delimiter: \t
    DailyReportCursorField:
      type: AddedFieldDefinition
      path:
        - _sync_cursor
      value: >-
        {{ format_datetime(str_to_datetime(stream_interval.start_time[:10]) +
        duration('P1D'), '%Y-%m-%d') }}
      value_type: string
    MonthlyReportDateField:
      type: AddedFieldDefinition
      path:
        - report_date
      value: "{{ stream_interval.start_time }}"
      value_type: string
    AnalyticsApiErrorHandler:
      type: DefaultErrorHandler
      max_retries: 3
      response_filters:
        - type: HttpResponseFilter
          action: IGNORE
          http_codes:
            - 400
            - 403
            - 404
            - 410
        - type: HttpResponseFilter
          action: RETRY
          http_codes:
            - 429
            - 500
            - 502
            - 503
            - 504
      backoff_strategies:
        - type: ExponentialBackoffStrategy
          factor: 2
    MonthlyReportCursorField:
      type: AddedFieldDefinition
      path:
        - _sync_cursor
      value: >-
        {{ format_datetime(str_to_datetime(stream_interval.start_time[:10]) +
        duration('P1M'), '%Y-%m-%d') }}
      value_type: string
    AnalyticsReportCsvDecoder:
      type: GzipDecoder
      decoder:
        type: CsvDecoder
        encoding: utf-8
        delimiter: \t
    DailyReportIncrementalSync:
      type: DatetimeBasedCursor
      step: P1D
      cursor_field: _sync_cursor
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ (today_utc() - duration('P1D')).strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {%- if 'sales_reports_start_date' in config and
          config['sales_reports_start_date'] and
          config['sales_reports_start_date'] != 'None' -%} {{-
          config['sales_reports_start_date'] -}} {%- else -%} {{- (today_utc() -
          duration('P365D')).strftime('%Y-%m-%d') -}} {%- endif -%}
        min_datetime: "{{ (today_utc() - duration('P365D')).strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
        min_datetime_format: "%Y-%m-%d"
      datetime_format: "%Y-%m-%d"
      cursor_granularity: P1D
      cursor_datetime_formats:
        - "%Y-%m-%d"
    MonthlyReportIncrementalSync:
      type: DatetimeBasedCursor
      step: P1M
      cursor_field: _sync_cursor
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ (today_utc() - duration('P35D')).strftime('%Y-%m') }}-01"
        datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {%- if 'finance_reports_start_date' in config and
          config['finance_reports_start_date'] and
          config['finance_reports_start_date'] != 'None' -%} {{-
          config['finance_reports_start_date'] ~ '-01' -}} {%- else -%} {{-
          (today_utc() - duration('P11M')).strftime('%Y-%m') ~ '-01' -}} {%-
          endif -%}
        min_datetime: "{{ (today_utc() - duration('P11M')).strftime('%Y-%m') }}-01"
        datetime_format: "%Y-%m-%d"
        min_datetime_format: "%Y-%m-%d"
      datetime_format: "%Y-%m-%d"
      cursor_granularity: P1M
      cursor_datetime_formats:
        - "%Y-%m-%d"
        - "%Y-%m"
    AnalyticsDownloadErrorHandler:
      type: DefaultErrorHandler
      max_retries: 3
      response_filters:
        - type: HttpResponseFilter
          action: RETRY
          http_codes:
            - 403
        - type: HttpResponseFilter
          action: IGNORE
          http_codes:
            - 400
            - 404
            - 410
        - type: HttpResponseFilter
          action: RETRY
          http_codes:
            - 429
            - 500
            - 502
            - 503
            - 504
      backoff_strategies:
        - type: ExponentialBackoffStrategy
          factor: 2
    AnalyticsReportIncrementalSync:
      type: DatetimeBasedCursor
      step: P100Y
      cursor_field: processing_date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ (today_utc() - duration('P1D')).strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['analytics_reports_start_date'] }}"
        min_datetime: "{{ config['analytics_reports_start_date'] }}"
        datetime_format: "%Y-%m-%d"
        min_datetime_format: "%Y-%m-%d"
      datetime_format: "%Y-%m-%d"
      lookback_window: P0D
      cursor_granularity: P1D
      cursor_datetime_formats:
        - "%Y-%m-%d"
      is_client_side_incremental: true
    SubscriptionEventReportIncrementalSync:
      type: DatetimeBasedCursor
      step: P1D
      cursor_field: _sync_cursor
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ (today_utc() - duration('P2D')).strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {%- if 'subscription_event_reports_start_date' in config and
          config['subscription_event_reports_start_date'] and
          config['subscription_event_reports_start_date'] != 'None' -%} {{-
          config['subscription_event_reports_start_date'] -}} {%- else -%} {{-
          (today_utc() - duration('P365D')).strftime('%Y-%m-%d') -}} {%- endif
          -%}
        min_datetime: "{{ (today_utc() - duration('P365D')).strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
        min_datetime_format: "%Y-%m-%d"
      datetime_format: "%Y-%m-%d"
      cursor_granularity: P1D
      cursor_datetime_formats:
        - "%Y-%m-%d"

streams:
  - type: DeclarativeStream
    name: list_id_apps
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: https://api.appstoreconnect.apple.com/v1/apps
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          sku:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          bundleId:
            type:
              - string
              - "null"
          primaryLocale:
            type:
              - string
              - "null"
          isOrEverWasMadeForKids:
            type:
              - boolean
              - "null"
          streamlinedPurchasingEnabled:
            type:
              - boolean
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - name
            value: "{{ (record.get('attributes') or {}).get('name') }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - bundleId
            value: "{{ (record.get('attributes') or {}).get('bundleId') }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - sku
            value: "{{ (record.get('attributes') or {}).get('sku') }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - primaryLocale
            value: "{{ (record.get('attributes') or {}).get('primaryLocale') }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - isOrEverWasMadeForKids
            value: >-
              {{ (record.get('attributes') or {}).get('isOrEverWasMadeForKids')
              }}
            value_type: boolean
          - type: AddedFieldDefinition
            path:
              - streamlinedPurchasingEnabled
            value: >-
              {{ (record.get('attributes') or
              {}).get('streamlinedPurchasingEnabled') }}
            value_type: boolean
      - type: RemoveFields
        field_pointers:
          - - attributes
          - - relationships
          - - links
  - type: DeclarativeStream
    name: subscriber_report
    retriever:
      type: SimpleRetriever
      decoder:
        type: GzipDecoder
        decoder:
          type: GzipDecoder
          decoder:
            type: CsvDecoder
            encoding: utf-8
            delimiter: \t
      requester:
        type: HttpRequester
        url: https://api.appstoreconnect.apple.com/v1/salesReports
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          filter[version]: "1_3"
          filter[frequency]: DAILY
          filter[reportDate]: "{{ stream_interval.start_time }}"
          filter[reportType]: SUBSCRIBER
          filter[vendorNumber]: "{{ config['vendorID'] }}"
          filter[reportSubType]: DETAILED
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          Units:
            type:
              - string
              - "null"
          Client:
            type:
              - string
              - "null"
          Device:
            type:
              - string
              - "null"
          Refund:
            type:
              - string
              - "null"
          Country:
            type:
              - string
              - "null"
          App Name:
            type:
              - string
              - "null"
          Event Date:
            type:
              - string
              - "null"
          report_date:
            type:
              - string
              - "null"
          App Apple ID:
            type:
              - string
              - "null"
          _sync_cursor:
            type:
              - string
              - "null"
          Purchase Date:
            type:
              - string
              - "null"
          Subscriber ID:
            type:
              - string
              - "null"
          Customer Price:
            type:
              - string
              - "null"
          Proceeds Reason:
            type:
              - string
              - "null"
          Customer Currency:
            type:
              - string
              - "null"
          Preserved Pricing:
            type:
              - string
              - "null"
          Proceeds Currency:
            type:
              - string
              - "null"
          Subscription Name:
            type:
              - string
              - "null"
          Developer Proceeds:
            type:
              - string
              - "null"
          Subscriber ID Reset:
            type:
              - string
              - "null"
          Promotional Offer ID:
            type:
              - string
              - "null"
          Subscription Apple ID:
            type:
              - string
              - "null"
          Subscription Group ID:
            type:
              - string
              - "null"
          Subscription Offer Name:
            type:
              - string
              - "null"
          Subscription Offer Type:
            type:
              - string
              - "null"
          Marketing Opt-In Duration:
            type:
              - string
              - "null"
          Subscription Offer Duration:
            type:
              - string
              - "null"
          Standard Subscription Duration:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - report_date
            value: "{{ stream_interval.start_time }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - _sync_cursor
            value: >-
              {{
              format_datetime(str_to_datetime(stream_interval.start_time[:10]) +
              duration('P1D'), '%Y-%m-%d') }}
            value_type: string
    incremental_sync:
      type: DatetimeBasedCursor
      step: P1D
      cursor_field: _sync_cursor
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ (today_utc() - duration('P1D')).strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {%- if 'sales_reports_start_date' in config and
          config['sales_reports_start_date'] and
          config['sales_reports_start_date'] != 'None' -%} {{-
          config['sales_reports_start_date'] -}} {%- else -%} {{- (today_utc() -
          duration('P365D')).strftime('%Y-%m-%d') -}} {%- endif -%}
        min_datetime: "{{ (today_utc() - duration('P365D')).strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
        min_datetime_format: "%Y-%m-%d"
      datetime_format: "%Y-%m-%d"
      cursor_granularity: P1D
      cursor_datetime_formats:
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: sales_report
    retriever:
      type: SimpleRetriever
      decoder:
        type: GzipDecoder
        decoder:
          type: GzipDecoder
          decoder:
            type: CsvDecoder
            encoding: utf-8
            delimiter: \t
      requester:
        type: HttpRequester
        url: https://api.appstoreconnect.apple.com/v1/salesReports
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          filter[version]: "1_1"
          filter[frequency]: DAILY
          filter[reportDate]: "{{ stream_interval.start_time }}"
          filter[reportType]: SALES
          filter[vendorNumber]: "{{ config['vendorID'] }}"
          filter[reportSubType]: SUMMARY
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          CMB:
            type:
              - string
              - "null"
          SKU:
            type:
              - string
              - "null"
          Title:
            type:
              - string
              - "null"
          Units:
            type:
              - string
              - "null"
          Client:
            type:
              - string
              - "null"
          Device:
            type:
              - string
              - "null"
          Period:
            type:
              - string
              - "null"
          Version:
            type:
              - string
              - "null"
          Category:
            type:
              - string
              - "null"
          End Date:
            type:
              - string
              - "null"
          Provider:
            type:
              - string
              - "null"
          Developer:
            type:
              - string
              - "null"
          Begin Date:
            type:
              - string
              - "null"
          Order Type:
            type:
              - string
              - "null"
          Promo Code:
            type:
              - string
              - "null"
          report_date:
            type:
              - string
              - "null"
          Country Code:
            type:
              - string
              - "null"
          Subscription:
            type:
              - string
              - "null"
          _sync_cursor:
            type:
              - string
              - "null"
          Customer Price:
            type:
              - string
              - "null"
          Proceeds Reason:
            type:
              - string
              - "null"
          Apple Identifier:
            type:
              - string
              - "null"
          Provider Country:
            type:
              - string
              - "null"
          Customer Currency:
            type:
              - string
              - "null"
          Parent Identifier:
            type:
              - string
              - "null"
          Preserved Pricing:
            type:
              - string
              - "null"
          Developer Proceeds:
            type:
              - string
              - "null"
          Contingent App Name:
            type:
              - string
              - "null"
          Supported Platforms:
            type:
              - string
              - "null"
          Currency of Proceeds:
            type:
              - string
              - "null"
          Product Type Identifier:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - report_date
            value: "{{ stream_interval.start_time }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - _sync_cursor
            value: >-
              {{
              format_datetime(str_to_datetime(stream_interval.start_time[:10]) +
              duration('P1D'), '%Y-%m-%d') }}
            value_type: string
    incremental_sync:
      type: DatetimeBasedCursor
      step: P1D
      cursor_field: _sync_cursor
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ (today_utc() - duration('P1D')).strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {%- if 'sales_reports_start_date' in config and
          config['sales_reports_start_date'] and
          config['sales_reports_start_date'] != 'None' -%} {{-
          config['sales_reports_start_date'] -}} {%- else -%} {{- (today_utc() -
          duration('P365D')).strftime('%Y-%m-%d') -}} {%- endif -%}
        min_datetime: "{{ (today_utc() - duration('P365D')).strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
        min_datetime_format: "%Y-%m-%d"
      datetime_format: "%Y-%m-%d"
      cursor_granularity: P1D
      cursor_datetime_formats:
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: subscription_report
    retriever:
      type: SimpleRetriever
      decoder:
        type: GzipDecoder
        decoder:
          type: GzipDecoder
          decoder:
            type: CsvDecoder
            encoding: utf-8
            delimiter: \t
      requester:
        type: HttpRequester
        url: https://api.appstoreconnect.apple.com/v1/salesReports
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          filter[version]: "1_3"
          filter[frequency]: DAILY
          filter[reportDate]: "{{ stream_interval.start_time }}"
          filter[reportType]: SUBSCRIPTION
          filter[vendorNumber]: "{{ config['vendorID'] }}"
          filter[reportSubType]: SUMMARY
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          State:
            type:
              - string
              - "null"
          Client:
            type:
              - string
              - "null"
          Device:
            type:
              - string
              - "null"
          Country:
            type:
              - string
              - "null"
          App Name:
            type:
              - string
              - "null"
          Subscribers:
            type:
              - string
              - "null"
          report_date:
            type:
              - string
              - "null"
          App Apple ID:
            type:
              - string
              - "null"
          Grace Period:
            type:
              - string
              - "null"
          _sync_cursor:
            type:
              - string
              - "null"
          Billing Retry:
            type:
              - string
              - "null"
          Customer Price:
            type:
              - string
              - "null"
          Proceeds Reason:
            type:
              - string
              - "null"
          Customer Currency:
            type:
              - string
              - "null"
          Marketing Opt-Ins:
            type:
              - string
              - "null"
          Preserved Pricing:
            type:
              - string
              - "null"
          Proceeds Currency:
            type:
              - string
              - "null"
          Subscription Name:
            type:
              - string
              - "null"
          Developer Proceeds:
            type:
              - string
              - "null"
          Promotional Offer ID:
            type:
              - string
              - "null"
          Subscription Apple ID:
            type:
              - string
              - "null"
          Subscription Group ID:
            type:
              - string
              - "null"
          Subscription Offer Name:
            type:
              - string
              - "null"
          Free Trial Win-back Offers:
            type:
              - string
              - "null"
          Pay Up Front Win-back Offers:
            type:
              - string
              - "null"
          Pay As You Go Win-back Offers:
            type:
              - string
              - "null"
          Standard Subscription Duration:
            type:
              - string
              - "null"
          Active Standard Price Subscriptions:
            type:
              - string
              - "null"
          Free Trial Offer Code Subscriptions:
            type:
              - string
              - "null"
          Pay Up Front Offer Code Subscriptions:
            type:
              - string
              - "null"
          Pay As You Go Offer Code Subscriptions:
            type:
              - string
              - "null"
          Free Trial Promotional Offer Subscriptions:
            type:
              - string
              - "null"
          Pay Up Front Promotional Offer Subscriptions:
            type:
              - string
              - "null"
          Pay As You Go Promotional Offer Subscriptions:
            type:
              - string
              - "null"
          Active Free Trial Introductory Offer Subscriptions:
            type:
              - string
              - "null"
          Active Pay Up Front Introductory Offer Subscriptions:
            type:
              - string
              - "null"
          Active Pay As You Go Introductory Offer Subscriptions:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - report_date
            value: "{{ stream_interval.start_time }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - _sync_cursor
            value: >-
              {{
              format_datetime(str_to_datetime(stream_interval.start_time[:10]) +
              duration('P1D'), '%Y-%m-%d') }}
            value_type: string
    incremental_sync:
      type: DatetimeBasedCursor
      step: P1D
      cursor_field: _sync_cursor
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ (today_utc() - duration('P1D')).strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {%- if 'sales_reports_start_date' in config and
          config['sales_reports_start_date'] and
          config['sales_reports_start_date'] != 'None' -%} {{-
          config['sales_reports_start_date'] -}} {%- else -%} {{- (today_utc() -
          duration('P365D')).strftime('%Y-%m-%d') -}} {%- endif -%}
        min_datetime: "{{ (today_utc() - duration('P365D')).strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
        min_datetime_format: "%Y-%m-%d"
      datetime_format: "%Y-%m-%d"
      cursor_granularity: P1D
      cursor_datetime_formats:
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: subscription_event_report
    retriever:
      type: SimpleRetriever
      decoder:
        type: GzipDecoder
        decoder:
          type: GzipDecoder
          decoder:
            type: CsvDecoder
            encoding: utf-8
            delimiter: \t
      requester:
        type: HttpRequester
        url: https://api.appstoreconnect.apple.com/v1/salesReports
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          filter[version]: "1_3"
          filter[frequency]: DAILY
          filter[reportDate]: >-
            {%- set skip_dates = config['subscription_event_skip_dates'] if
            ('subscription_event_skip_dates' in config and
            config['subscription_event_skip_dates']) else [] -%} {{ '2099-01-01'
            if stream_interval.start_time[:10] in skip_dates else
            stream_interval.start_time }}
          filter[reportType]: SUBSCRIPTION_EVENT
          filter[vendorNumber]: "{{ config['vendorID'] }}"
          filter[reportSubType]: SUMMARY
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          Event:
            type:
              - string
              - "null"
          State:
            type:
              - string
              - "null"
          Client:
            type:
              - string
              - "null"
          Device:
            type:
              - string
              - "null"
          Country:
            type:
              - string
              - "null"
          App Name:
            type:
              - string
              - "null"
          Quantity:
            type:
              - string
              - "null"
          Event Date:
            type:
              - string
              - "null"
          report_date:
            type:
              - string
              - "null"
          App Apple ID:
            type:
              - string
              - "null"
          _sync_cursor:
            type:
              - string
              - "null"
          Days Canceled:
            type:
              - string
              - "null"
          Proceeds Reason:
            type:
              - string
              - "null"
          Marketing Opt-In:
            type:
              - string
              - "null"
          Preserved Pricing:
            type:
              - string
              - "null"
          Subscription Name:
            type:
              - string
              - "null"
          Cancellation Reason:
            type:
              - string
              - "null"
          Original Start Date:
            type:
              - string
              - "null"
          Promotional Offer ID:
            type:
              - string
              - "null"
          Days Before Canceling:
            type:
              - string
              - "null"
          Subscription Apple ID:
            type:
              - string
              - "null"
          Subscription Group ID:
            type:
              - string
              - "null"
          Subscription Offer Name:
            type:
              - string
              - "null"
          Subscription Offer Type:
            type:
              - string
              - "null"
          Consecutive Paid Periods:
            type:
              - string
              - "null"
          Marketing Opt-In Duration:
            type:
              - string
              - "null"
          Previous Subscription Name:
            type:
              - string
              - "null"
          Paid Service Days Recovered:
            type:
              - string
              - "null"
          Subscription Offer Duration:
            type:
              - string
              - "null"
          Previous Subscription Apple ID:
            type:
              - string
              - "null"
          Standard Subscription Duration:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - report_date
            value: "{{ stream_interval.start_time }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - _sync_cursor
            value: >-
              {{
              format_datetime(str_to_datetime(stream_interval.start_time[:10]) +
              duration('P1D'), '%Y-%m-%d') }}
            value_type: string
    incremental_sync:
      type: DatetimeBasedCursor
      step: P1D
      cursor_field: _sync_cursor
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ (today_utc() - duration('P2D')).strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {%- if 'subscription_event_reports_start_date' in config and
          config['subscription_event_reports_start_date'] and
          config['subscription_event_reports_start_date'] != 'None' -%} {{-
          config['subscription_event_reports_start_date'] -}} {%- else -%} {{-
          (today_utc() - duration('P365D')).strftime('%Y-%m-%d') -}} {%- endif
          -%}
        min_datetime: "{{ (today_utc() - duration('P365D')).strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
        min_datetime_format: "%Y-%m-%d"
      datetime_format: "%Y-%m-%d"
      cursor_granularity: P1D
      cursor_datetime_formats:
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: finance_report
    retriever:
      type: SimpleRetriever
      decoder:
        type: GzipDecoder
        decoder:
          type: GzipDecoder
          decoder:
            type: CsvDecoder
            encoding: utf-8
            delimiter: \t
      requester:
        type: HttpRequester
        url: https://api.appstoreconnect.apple.com/v1/financeReports
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          filter[regionCode]: ZZ
          filter[reportDate]: "{{ stream_interval.start_time[:7] }}"
          filter[reportType]: FINANCIAL
          filter[vendorNumber]: "{{ config['vendorID'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          UPC:
            type:
              - string
              - "null"
          Grid:
            type:
              - string
              - "null"
          Title:
            type:
              - string
              - "null"
          End Date:
            type:
              - string
              - "null"
          Quantity:
            type:
              - string
              - "null"
          ISRC/ISBN:
            type:
              - string
              - "null"
          Promo Code:
            type:
              - string
              - "null"
          Start Date:
            type:
              - string
              - "null"
          report_date:
            type:
              - string
              - "null"
          _sync_cursor:
            type:
              - string
              - "null"
          Partner Share:
            type:
              - string
              - "null"
          Customer Price:
            type:
              - string
              - "null"
          Pre-order Flag:
            type:
              - string
              - "null"
          Country Of Sale:
            type:
              - string
              - "null"
          Sales or Return:
            type:
              - string
              - "null"
          Apple Identifier:
            type:
              - string
              - "null"
          Customer Currency:
            type:
              - string
              - "null"
          Vendor Identifier:
            type:
              - string
              - "null"
          ISAN/Other Identifier:
            type:
              - string
              - "null"
          Extended Partner Share:
            type:
              - string
              - "null"
          Partner Share Currency:
            type:
              - string
              - "null"
          Product Type Identifier:
            type:
              - string
              - "null"
          Artist/Show/Developer/Author:
            type:
              - string
              - "null"
          Label/Studio/Network/Developer/Publisher:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - report_date
            value: "{{ stream_interval.start_time }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - _sync_cursor
            value: >-
              {{
              format_datetime(str_to_datetime(stream_interval.start_time[:10]) +
              duration('P1M'), '%Y-%m-%d') }}
            value_type: string
    incremental_sync:
      type: DatetimeBasedCursor
      step: P1M
      cursor_field: _sync_cursor
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ (today_utc() - duration('P35D')).strftime('%Y-%m') }}-01"
        datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {%- if 'finance_reports_start_date' in config and
          config['finance_reports_start_date'] and
          config['finance_reports_start_date'] != 'None' -%} {{-
          config['finance_reports_start_date'] ~ '-01' -}} {%- else -%} {{-
          (today_utc() - duration('P11M')).strftime('%Y-%m') ~ '-01' -}} {%-
          endif -%}
        min_datetime: "{{ (today_utc() - duration('P11M')).strftime('%Y-%m') }}-01"
        datetime_format: "%Y-%m-%d"
        min_datetime_format: "%Y-%m-%d"
      datetime_format: "%Y-%m-%d"
      cursor_granularity: P1M
      cursor_datetime_formats:
        - "%Y-%m-%d"
        - "%Y-%m"
  - type: DeclarativeStream
    name: analytics_report_requests_ongoing
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.appstoreconnect.apple.com/v1/apps/{{
          stream_partition.app_id }}/analyticsReportRequests
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 3
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 400
                - 403
                - 404
                - 410
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
        request_parameters:
          $ref: "#/definitions/linked/HttpRequester/request_parameters"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/0"
            parent_key: id
            partition_field: app_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - string
              - "null"
          app_id:
            type:
              - string
              - "null"
          access_type:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - app_id
            value: "{{ stream_partition.app_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - access_type
            value: ONGOING
            value_type: string
  - type: DeclarativeStream
    name: analytics_installations_reports
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.appstoreconnect.apple.com/v1/analyticsReportRequests/{{
          stream_partition.request_id }}/reports
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 3
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 400
                - 403
                - 404
                - 410
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
        request_parameters:
          filter[name]: App Store Installation and Deletion Standard
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/6"
            parent_key: id
            extra_fields:
              - - app_id
              - - access_type
            partition_field: request_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - string
              - "null"
          app_id:
            type:
              - string
              - "null"
          request_id:
            type:
              - string
              - "null"
          access_type:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - app_id
            value: "{{ stream_slice.extra_fields.app_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - request_id
            value: "{{ stream_partition.request_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - access_type
            value: "{{ stream_slice.extra_fields.access_type }}"
            value_type: string
  - type: DeclarativeStream
    name: analytics_installations_instances
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.appstoreconnect.apple.com/v1/analyticsReports/{{
          stream_partition.report_id }}/instances
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 3
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 400
                - 403
                - 404
                - 410
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
        request_parameters:
          filter[granularity]: DAILY
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
        record_filter:
          type: RecordFilter
          condition: >-
            {{ record.get('id') and (record.get('attributes') or
            {}).get('processingDate') >= config['analytics_reports_start_date']
            }}
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/7"
            parent_key: id
            extra_fields:
              - - app_id
              - - request_id
              - - access_type
            partition_field: report_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - string
              - "null"
          app_id:
            type:
              - string
              - "null"
          report_id:
            type:
              - string
              - "null"
          access_type:
            type:
              - string
              - "null"
          processing_date:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - app_id
            value: "{{ stream_slice.extra_fields.app_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - report_id
            value: "{{ stream_partition.report_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - access_type
            value: "{{ stream_slice.extra_fields.access_type }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - processing_date
            value: "{{ (record.get('attributes') or {}).get('processingDate') }}"
            value_type: string
    incremental_sync:
      type: DatetimeBasedCursor
      step: P100Y
      cursor_field: processing_date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ (today_utc() - duration('P1D')).strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['analytics_reports_start_date'] }}"
        datetime_format: "%Y-%m-%d"
      datetime_format: "%Y-%m-%d"
      lookback_window: P0D
      cursor_granularity: P1D
      cursor_datetime_formats:
        - "%Y-%m-%d"
      is_client_side_incremental: true
  - type: DeclarativeStream
    name: analytics_installations_segments
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.appstoreconnect.apple.com/v1/analyticsReportInstances/{{
          stream_partition.instance_id }}/segments
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 3
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 400
                - 403
                - 404
                - 410
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
        record_filter:
          type: RecordFilter
          condition: >-
            {{ record.get('id') and ((record.get('attributes') or
            {}).get('sizeInBytes') or 0) > 0 }}
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/8"
            parent_key: id
            extra_fields:
              - - app_id
              - - report_id
              - - processing_date
              - - access_type
            partition_field: instance_id
            incremental_dependency: true
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          app_id:
            type:
              - string
              - "null"
          report_id:
            type:
              - string
              - "null"
          access_type:
            type:
              - string
              - "null"
          instance_id:
            type:
              - string
              - "null"
          processing_date:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - app_id
            value: "{{ stream_slice.extra_fields.app_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - report_id
            value: "{{ stream_slice.extra_fields.report_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - processing_date
            value: "{{ stream_slice.extra_fields.processing_date }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - access_type
            value: "{{ stream_slice.extra_fields.access_type }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - instance_id
            value: "{{ stream_partition.instance_id }}"
            value_type: string
    incremental_sync:
      type: DatetimeBasedCursor
      step: P100Y
      cursor_field: processing_date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ (today_utc() - duration('P1D')).strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['analytics_reports_start_date'] }}"
        datetime_format: "%Y-%m-%d"
      datetime_format: "%Y-%m-%d"
      lookback_window: P0D
      cursor_granularity: P1D
      cursor_datetime_formats:
        - "%Y-%m-%d"
      is_client_side_incremental: true
  - type: DeclarativeStream
    name: analytics_installations_segment_details
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: >-
          https://api.appstoreconnect.apple.com/v1/analyticsReportSegments/{{
          stream_partition.segment_id }}
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 3
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 400
                - 403
                - 404
                - 410
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
        record_filter:
          type: RecordFilter
          condition: >-
            {{ ((record.get('attributes') or {}).get('url') or '') | length > 0
            and ((record.get('attributes') or {}).get('sizeInBytes') or 0) > 0
            }}
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/9"
            parent_key: id
            extra_fields:
              - - app_id
              - - report_id
              - - processing_date
              - - instance_id
              - - access_type
            partition_field: segment_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - string
              - "null"
          app_id:
            type:
              - string
              - "null"
          report_id:
            type:
              - string
              - "null"
          access_type:
            type:
              - string
              - "null"
          instance_id:
            type:
              - string
              - "null"
          download_url:
            type:
              - string
              - "null"
          processing_date:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - app_id
            value: "{{ stream_slice.extra_fields.app_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - report_id
            value: "{{ stream_slice.extra_fields.report_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - processing_date
            value: "{{ stream_slice.extra_fields.processing_date }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - access_type
            value: "{{ stream_slice.extra_fields.access_type }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - instance_id
            value: "{{ stream_slice.extra_fields.instance_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - download_url
            value: "{{ (record.get('attributes') or {}).get('url') }}"
            value_type: string
  - type: DeclarativeStream
    name: app_store_installations_and_deletions
    retriever:
      type: AsyncRetriever
      status_mapping:
        type: AsyncJobStatusMap
        failed: []
        running: []
        timeout: []
        completed:
          - analyticsReportSegments
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
        record_filter:
          type: RecordFilter
          condition: "{{ (record.get('Date') or '') | length > 0 }}"
      download_decoder:
        type: GzipDecoder
        decoder:
          type: CsvDecoder
          encoding: utf-8
          delimiter: \t
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/9"
            parent_key: id
            extra_fields:
              - - app_id
              - - report_id
              - - instance_id
              - - access_type
            partition_field: segment_id
            incremental_dependency: true
      status_extractor:
        type: DpathExtractor
        field_path:
          - data
          - type
      polling_requester:
        type: HttpRequester
        url: >-
          https://api.appstoreconnect.apple.com/v1/analyticsReportSegments/{{
          stream_partition.segment_id }}
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 3
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 400
                - 403
                - 404
                - 410
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
      creation_requester:
        type: HttpRequester
        url: >-
          https://api.appstoreconnect.apple.com/v1/analyticsReportSegments/{{
          stream_partition.segment_id }}
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 3
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 400
                - 403
                - 404
                - 410
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
      download_requester:
        type: HttpRequester
        url: "{{ download_target }}"
        http_method: GET
        authenticator:
          type: NoAuth
        error_handler:
          type: DefaultErrorHandler
          max_retries: 3
          response_filters:
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 403
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 400
                - 404
                - 410
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
      polling_job_timeout: 5
      download_target_extractor:
        type: DpathExtractor
        field_path:
          - data
          - attributes
          - url
      download_target_requester:
        type: HttpRequester
        url: >-
          https://api.appstoreconnect.apple.com/v1/analyticsReportSegments/{{
          stream_slice.extra_fields.polling_response.data.id }}
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 3
          response_filters:
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 403
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 400
                - 404
                - 410
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          Date:
            type:
              - string
              - "null"
          Event:
            type:
              - string
              - "null"
          Counts:
            type:
              - string
              - "null"
          Device:
            type:
              - string
              - "null"
          app_id:
            type:
              - string
              - "null"
          App Name:
            type:
              - string
              - "null"
          Page Type:
            type:
              - string
              - "null"
          Territory:
            type:
              - string
              - "null"
          report_id:
            type:
              - string
              - "null"
          App Version:
            type:
              - string
              - "null"
          Source Type:
            type:
              - string
              - "null"
          access_type:
            type:
              - string
              - "null"
          instance_id:
            type:
              - string
              - "null"
          Download Type:
            type:
              - string
              - "null"
          Unique Devices:
            type:
              - string
              - "null"
          processing_date:
            type:
              - string
              - "null"
          Platform Version:
            type:
              - string
              - "null"
          App Download Date:
            type:
              - string
              - "null"
          App Apple Identifier:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - app_id
            value: >-
              {{ stream_partition.get('parent_slice', {}).get('parent_slice',
              {}).get('parent_slice', {}).get('parent_slice', {}).get('app_id')
              }}
            value_type: string
          - type: AddedFieldDefinition
            path:
              - report_id
            value: >-
              {{ stream_partition.get('parent_slice', {}).get('parent_slice',
              {}).get('report_id') }}
            value_type: string
          - type: AddedFieldDefinition
            path:
              - processing_date
            value: "{{ record.get('Date') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - instance_id
            value: "{{ stream_partition.get('parent_slice', {}).get('instance_id') }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - access_type
            value: ONGOING
            value_type: string
    incremental_sync:
      type: DatetimeBasedCursor
      step: P100Y
      cursor_field: processing_date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ (today_utc() - duration('P1D')).strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['analytics_reports_start_date'] }}"
        min_datetime: "{{ config['analytics_reports_start_date'] }}"
        datetime_format: "%Y-%m-%d"
        min_datetime_format: "%Y-%m-%d"
      datetime_format: "%Y-%m-%d"
      lookback_window: P0D
      cursor_granularity: P1D
      cursor_datetime_formats:
        - "%Y-%m-%d"
      is_client_side_incremental: true
  - type: DeclarativeStream
    name: customer_reviews_per_app
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.appstoreconnect.apple.com/v1/apps/{{
          stream_partition.app_id }}/customerReviews
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        request_parameters:
          sort: "-createdDate"
          limit: "200"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/0"
            parent_key: id
            partition_field: app_id
    primary_key:
      - id
      - app_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          body:
            type:
              - string
              - "null"
          title:
            type:
              - string
              - "null"
          app_id:
            type:
              - string
              - "null"
          rating:
            type:
              - integer
              - "null"
          territory:
            type:
              - string
              - "null"
          createdDate:
            type:
              - string
              - "null"
          reviewerNickname:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - rating
            value: "{{ (record.get('attributes') or {}).get('rating') }}"
            value_type: integer
          - type: AddedFieldDefinition
            path:
              - title
            value: "{{ (record.get('attributes') or {}).get('title') }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - body
            value: "{{ (record.get('attributes') or {}).get('body') }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - reviewerNickname
            value: "{{ (record.get('attributes') or {}).get('reviewerNickname') }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - createdDate
            value: "{{ (record.get('attributes') or {}).get('createdDate') }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - territory
            value: "{{ (record.get('attributes') or {}).get('territory') }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - app_id
            value: "{{ stream_partition.app_id }}"
            value_type: string
      - type: RemoveFields
        field_pointers:
          - - attributes
          - - relationships
          - - links
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: createdDate
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['reviews_start_date'] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      lookback_window: P7D
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
        - "%Y-%m-%dT%H:%M:%SZ"
      is_client_side_incremental: true
  - type: DeclarativeStream
    name: analytics_report_requests_historical
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.appstoreconnect.apple.com/v1/apps/{{
          stream_partition.app_id }}/analyticsReportRequests
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 3
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 400
                - 403
                - 404
                - 410
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
        request_parameters:
          filter[accessType]: ONE_TIME_SNAPSHOT
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/0"
            parent_key: id
            partition_field: app_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - string
              - "null"
          app_id:
            type:
              - string
              - "null"
          access_type:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - app_id
            value: "{{ stream_partition.app_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - access_type
            value: ONE_TIME_SNAPSHOT
            value_type: string
  - type: DeclarativeStream
    name: analytics_installations_reports_historical
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.appstoreconnect.apple.com/v1/analyticsReportRequests/{{
          stream_partition.request_id }}/reports
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 3
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 400
                - 403
                - 404
                - 410
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
        request_parameters:
          filter[name]: App Store Installation and Deletion Standard
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/13"
            parent_key: id
            extra_fields:
              - - app_id
              - - access_type
            partition_field: request_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - string
              - "null"
          app_id:
            type:
              - string
              - "null"
          request_id:
            type:
              - string
              - "null"
          access_type:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - app_id
            value: "{{ stream_slice.extra_fields.app_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - request_id
            value: "{{ stream_partition.request_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - access_type
            value: "{{ stream_slice.extra_fields.access_type }}"
            value_type: string
  - type: DeclarativeStream
    name: analytics_installations_instances_historical
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.appstoreconnect.apple.com/v1/analyticsReports/{{
          stream_partition.report_id }}/instances
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 3
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 400
                - 403
                - 404
                - 410
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
        request_parameters:
          filter[granularity]: DAILY
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
        record_filter:
          type: RecordFilter
          condition: "{{ record.get('id') }}"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/14"
            parent_key: id
            extra_fields:
              - - app_id
              - - request_id
              - - access_type
            partition_field: report_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - string
              - "null"
          app_id:
            type:
              - string
              - "null"
          report_id:
            type:
              - string
              - "null"
          access_type:
            type:
              - string
              - "null"
          processing_date:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - app_id
            value: "{{ stream_slice.extra_fields.app_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - report_id
            value: "{{ stream_partition.report_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - access_type
            value: "{{ stream_slice.extra_fields.access_type }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - processing_date
            value: "{{ (record.get('attributes') or {}).get('processingDate') }}"
            value_type: string
  - type: DeclarativeStream
    name: analytics_installations_segments_historical
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.appstoreconnect.apple.com/v1/analyticsReportInstances/{{
          stream_partition.instance_id }}/segments
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 3
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 400
                - 403
                - 404
                - 410
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
        record_filter:
          type: RecordFilter
          condition: >-
            {{ record.get('id') and ((record.get('attributes') or
            {}).get('sizeInBytes') or 0) > 0 }}
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/15"
            parent_key: id
            extra_fields:
              - - app_id
              - - report_id
              - - processing_date
              - - access_type
            partition_field: instance_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          app_id:
            type:
              - string
              - "null"
          report_id:
            type:
              - string
              - "null"
          access_type:
            type:
              - string
              - "null"
          instance_id:
            type:
              - string
              - "null"
          processing_date:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - app_id
            value: "{{ stream_slice.extra_fields.app_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - report_id
            value: "{{ stream_slice.extra_fields.report_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - processing_date
            value: "{{ stream_slice.extra_fields.processing_date }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - access_type
            value: "{{ stream_slice.extra_fields.access_type }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - instance_id
            value: "{{ stream_partition.instance_id }}"
            value_type: string
  - type: DeclarativeStream
    name: analytics_installations_segment_details_historical
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url: >-
          https://api.appstoreconnect.apple.com/v1/analyticsReportSegments/{{
          stream_partition.segment_id }}
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 3
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 400
                - 403
                - 404
                - 410
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
        record_filter:
          type: RecordFilter
          condition: >-
            {{ ((record.get('attributes') or {}).get('url') or '') | length > 0
            and ((record.get('attributes') or {}).get('sizeInBytes') or 0) > 0
            }}
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/16"
            parent_key: id
            extra_fields:
              - - app_id
              - - report_id
              - - processing_date
              - - instance_id
              - - access_type
            partition_field: segment_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - string
              - "null"
          app_id:
            type:
              - string
              - "null"
          report_id:
            type:
              - string
              - "null"
          access_type:
            type:
              - string
              - "null"
          instance_id:
            type:
              - string
              - "null"
          download_url:
            type:
              - string
              - "null"
          processing_date:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - app_id
            value: "{{ stream_slice.extra_fields.app_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - report_id
            value: "{{ stream_slice.extra_fields.report_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - processing_date
            value: "{{ stream_slice.extra_fields.processing_date }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - access_type
            value: "{{ stream_slice.extra_fields.access_type }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - instance_id
            value: "{{ stream_slice.extra_fields.instance_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - download_url
            value: "{{ (record.get('attributes') or {}).get('url') }}"
            value_type: string
  - type: DeclarativeStream
    name: app_store_installations_and_deletions_historical
    retriever:
      type: AsyncRetriever
      status_mapping:
        type: AsyncJobStatusMap
        failed: []
        running: []
        timeout: []
        completed:
          - analyticsReportSegments
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      download_decoder:
        type: GzipDecoder
        decoder:
          type: CsvDecoder
          encoding: utf-8
          delimiter: \t
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/16"
            parent_key: id
            extra_fields:
              - - app_id
              - - report_id
              - - instance_id
              - - access_type
            partition_field: segment_id
      status_extractor:
        type: DpathExtractor
        field_path:
          - data
          - type
      polling_requester:
        type: HttpRequester
        url: >-
          https://api.appstoreconnect.apple.com/v1/analyticsReportSegments/{{
          stream_partition.segment_id }}
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 3
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 400
                - 403
                - 404
                - 410
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
      creation_requester:
        type: HttpRequester
        url: >-
          https://api.appstoreconnect.apple.com/v1/analyticsReportSegments/{{
          stream_partition.segment_id }}
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 3
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 400
                - 403
                - 404
                - 410
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
      download_requester:
        type: HttpRequester
        url: "{{ download_target }}"
        http_method: GET
        authenticator:
          type: NoAuth
        error_handler:
          type: DefaultErrorHandler
          max_retries: 3
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 400
                - 404
                - 410
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
      polling_job_timeout: 5
      download_target_extractor:
        type: DpathExtractor
        field_path:
          - data
          - attributes
          - url
      download_target_requester:
        type: HttpRequester
        url: >-
          https://api.appstoreconnect.apple.com/v1/analyticsReportSegments/{{
          stream_slice.extra_fields.polling_response.data.id }}
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 3
          response_filters:
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 403
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 400
                - 410
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          Date:
            type:
              - string
              - "null"
          Event:
            type:
              - string
              - "null"
          Counts:
            type:
              - string
              - "null"
          Device:
            type:
              - string
              - "null"
          app_id:
            type:
              - string
              - "null"
          App Name:
            type:
              - string
              - "null"
          Page Type:
            type:
              - string
              - "null"
          Territory:
            type:
              - string
              - "null"
          report_id:
            type:
              - string
              - "null"
          App Version:
            type:
              - string
              - "null"
          Source Type:
            type:
              - string
              - "null"
          access_type:
            type:
              - string
              - "null"
          instance_id:
            type:
              - string
              - "null"
          Download Type:
            type:
              - string
              - "null"
          Unique Devices:
            type:
              - string
              - "null"
          processing_date:
            type:
              - string
              - "null"
          Platform Version:
            type:
              - string
              - "null"
          App Download Date:
            type:
              - string
              - "null"
          App Apple Identifier:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - app_id
            value: >-
              {{ stream_partition.get('parent_slice', {}).get('parent_slice',
              {}).get('parent_slice', {}).get('parent_slice', {}).get('app_id')
              }}
            value_type: string
          - type: AddedFieldDefinition
            path:
              - report_id
            value: >-
              {{ stream_partition.get('parent_slice', {}).get('parent_slice',
              {}).get('report_id') }}
            value_type: string
          - type: AddedFieldDefinition
            path:
              - processing_date
            value: "{{ record.get('Date') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - instance_id
            value: "{{ stream_partition.get('parent_slice', {}).get('instance_id') }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - access_type
            value: ONE_TIME_SNAPSHOT
            value_type: string
  - type: DeclarativeStream
    name: analytics_app_download_reports
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.appstoreconnect.apple.com/v1/analyticsReportRequests/{{
          stream_partition.request_id }}/reports
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 3
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 400
                - 403
                - 404
                - 410
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
        request_parameters:
          filter[name]: App Downloads Standard
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/6"
            parent_key: id
            extra_fields:
              - - app_id
              - - access_type
            partition_field: request_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - string
              - "null"
          app_id:
            type:
              - string
              - "null"
          request_id:
            type:
              - string
              - "null"
          access_type:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - app_id
            value: "{{ stream_slice.extra_fields.app_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - request_id
            value: "{{ stream_partition.request_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - access_type
            value: "{{ stream_slice.extra_fields.access_type }}"
            value_type: string
  - type: DeclarativeStream
    name: analytics_app_download_instances
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.appstoreconnect.apple.com/v1/analyticsReports/{{
          stream_partition.report_id }}/instances
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 3
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 400
                - 403
                - 404
                - 410
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
        request_parameters:
          filter[granularity]: DAILY
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
        record_filter:
          type: RecordFilter
          condition: >-
            {{ record.get('id') and (record.get('attributes') or
            {}).get('processingDate') >= config['analytics_reports_start_date']
            }}
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/19"
            parent_key: id
            extra_fields:
              - - app_id
              - - request_id
              - - access_type
            partition_field: report_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          id:
            type:
              - string
              - "null"
          app_id:
            type:
              - string
              - "null"
          report_id:
            type:
              - string
              - "null"
          access_type:
            type:
              - string
              - "null"
          processing_date:
            type:
              - string
              - "null"
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - app_id
            value: "{{ stream_slice.extra_fields.app_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - report_id
            value: "{{ stream_partition.report_id }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - access_type
            value: "{{ stream_slice.extra_fields.access_type }}"
            value_type: string
          - type: AddedFieldDefinition
            path:
              - processing_date
            value: "{{ (record.get('attributes') or {}).get('processingDate') }}"
            value_type: string
    incremental_sync:
      type: DatetimeBasedCursor
      step: P100Y
      cursor_field: processing_date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ (today_utc() - duration('P1D')).strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['analytics_reports_start_date'] }}"
        datetime_format: "%Y-%m-%d"
      datetime_format: "%Y-%m-%d"
      lookback_window: P0D
      cursor_granularity: P1D
      cursor_datetime_formats:
        - "%Y-%m-%d"
      is_client_side_incremental: true
  - type: DeclarativeStream
    name: analytics_app_download_segments
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://api.appstoreconnect.apple.com/v1/analyticsReportInstances/{{
          stream_partition.instance_id }}/segments
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 3
          response_filters:
            - type: HttpResponseFilter
              action: IGNORE
              http_codes:
                - 400
                - 403
                - 404
                - 410
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
        record_filter:
          type: RecordFilter
          condition: >-
            {{ record.get('id') and ((record.get('attributes') or
            {}).get('sizeInBytes') or 0) > 0 }}
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/20"
            parent_key: id
            extra_fields:
              - - app_id
              - - report_id
              - - processing_date
              - - access_type
            partition_field: instance_id
            incremental_dependency: true
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/draft-07/schema#
        properties:
          app_id:
            type:
              - string
              - "null"
          report_id:
            type:
              - string
[...]
