version: "0.29.0"

type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - payouts
streams:
  - type: DeclarativeStream
    name: payouts
    primary_key:
      - payout_date
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api{{ '-' + config.region if config.region != 'eu' }}.{{ 'playground.' if config.playground }}klarna.com/
        path: /settlements/v1/payouts
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['username'] }}"
          password: "{{ config['password'] }}"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - payouts
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: size
        pagination_strategy:
          type: CursorPagination
          page_size: 500
          cursor_value: '{{ response.get("pagination", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("pagination", {}).get("next", {}) }}'
  - type: DeclarativeStream
    name: transactions
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: >-
          https://api{{ '-'+config.region if config.region != 'eu' }}.{{
          'playground.' if config.playground }}klarna.com/
        path: /settlements/v1/transactions
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['username'] }}"
          password: "{{ config['password'] }}"
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - transactions
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        page_size_option:
          inject_into: request_parameter
          type: RequestOption
          field_name: size
        pagination_strategy:
          type: CursorPagination
          page_size: 500
          cursor_value: '{{ response.get("pagination", {}).get("next", {}) }}'
          stop_condition: '{{ not response.get("pagination", {}).get("next", {}) }}'
spec:
  documentation_url: https://docs.airbyte.com/integrations/sources/klarna
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: Klarna Spec
    type: object
    required:
      - region
      - playground
      - username
      - password
    additionalProperties: true
    properties:
      region:
        title: Region
        type: string
        enum:
          - eu
          - us
          - oc
        description: Base url region (For playground eu https://docs.klarna.com/klarna-payments/api/payments-api/#tag/API-URLs). Supported 'eu', 'us', 'oc'
      playground:
        title: Playground
        type: boolean
        description: Propertie defining if connector is used against playground or production environment
        default: false
      username:
        title: Username
        type: string
        description: Consists of your Merchant ID (eid) - a unique number that identifies your e-store, combined with a random string (https://developers.klarna.com/api/#authentication)
      password:
        title: Password
        type: string
        description: A string which is associated with your Merchant ID and is used to authorize use of Klarna's APIs (https://developers.klarna.com/api/#authentication)
        airbyte_secret: true
