version: 6.41.5

type: DeclarativeSource

description: >-
  This is the Cin7 source that ingests data from the Cin7 API.


  Cin7 (Connector Inventory Performance), If you’re a business that wants to
  grow, you need an inventory solution you can count on - both now and in the
  future. With Cin7 you get a real-time picture of your products across systems,
  channels, marketplaces and regions, plus NEW ForesightAI advanced inventory
  forecasting that empowers you to see around corners and stay three steps ahead
  of demand! https://www.cin7.com/


  To use this source, you must first create an account. Once logged in, head to
  Integrations -> API -> Cin7 Core API.

  Create an application and note down the Account Id and the API key, you will
  need to enter these in the input fields. You can find more information about
  the API here https://dearinventory.docs.apiary.io/#reference

check:
  type: CheckStream
  stream_names:
    - bank_accounts

definitions:
  streams:
    deals:
      type: DeclarativeStream
      name: deals
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: reference/deals
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - Deals
      primary_key:
        - ID
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deals"
    leads:
      type: DeclarativeStream
      name: leads
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: crm/lead
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - LeadList
      primary_key:
        - ID
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/leads"
    sales:
      type: DeclarativeStream
      name: sales
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: sale
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
          request_parameters:
            IncludeTransactions: "true"
            CombineAdditionalCharges: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/sale_list"
              parent_key: SaleID
              request_option:
                type: RequestOption
                field_name: ID
                inject_into: request_parameter
              partition_field: ID
              incremental_dependency: true
      primary_key:
        - ID
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sales"
    taxes:
      type: DeclarativeStream
      name: taxes
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: ref/tax
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - TaxRuleList
      primary_key:
        - ID
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/taxes"
    brands:
      type: DeclarativeStream
      name: brands
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: ref/brand
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - BrandList
      primary_key:
        - ID
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/brands"
    accounts:
      type: DeclarativeStream
      name: accounts
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: ref/account
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - AccountsList
      primary_key:
        - Code
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"
    carriers:
      type: DeclarativeStream
      name: carriers
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: ref/carrier
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - CarrierList
      primary_key:
        - CarrierID
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/carriers"
    products:
      type: DeclarativeStream
      name: products
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: product
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
          request_parameters:
            IncludeBOM: "true"
            IncludeMovements: "true"
            IncludeSuppliers: "true"
            IncludeDeprecated: "true"
            IncludeAttachments: "true"
            IncludeCustomPrices: "true"
            IncludeReorderLevels: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - Products
      primary_key:
        - ID
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: LastModifiedOn
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        lookback_window: P1D
        start_time_option:
          type: RequestOption
          field_name: ModifiedSince
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%dT%H:%M:%SZ"
    customers:
      type: DeclarativeStream
      name: customers
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: customer
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
          request_parameters:
            IncludeDeprecated: "true"
            IncludeProductPrices: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - CustomerList
      primary_key:
        - ID
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customers"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: LastModifiedOn
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        lookback_window: P1D
        start_time_option:
          type: RequestOption
          field_name: ModifiedSince
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%dT%H:%M:%SZ"
    locations:
      type: DeclarativeStream
      name: locations
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: ref/location
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - LocationList
      primary_key:
        - ID
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/locations"
    purchases:
      type: DeclarativeStream
      name: purchases
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        requester:
          $ref: "#/definitions/base_requester"
          path: advanced-purchase
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
          request_parameters:
            CombineAdditionalCharges: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/purchase_list"
              parent_key: ID
              request_option:
                type: RequestOption
                field_name: ID
                inject_into: request_parameter
              partition_field: ID
              incremental_dependency: true
      primary_key:
        - ID
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/purchases"
    sale_list:
      type: DeclarativeStream
      name: sale_list
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: saleList
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - SaleList
      primary_key:
        - SaleID
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sale_list"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: Updated
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        lookback_window: P1D
        start_time_option:
          type: RequestOption
          field_name: UpdatedSince
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%dT%H:%M:%SZ"
    suppliers:
      type: DeclarativeStream
      name: suppliers
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: supplier
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
          request_parameters:
            IncludeDeprecated: "true"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - SupplierList
      primary_key:
        - ID
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/suppliers"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: LastModifiedOn
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        lookback_window: P1D
        start_time_option:
          type: RequestOption
          field_name: ModifiedSince
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%dT%H:%M:%SZ"
    bank_accounts:
      type: DeclarativeStream
      name: bank_accounts
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: ref/accountBank
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - BankAccountsList
      primary_key:
        - AccountID
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/bank_accounts"
    opportunities:
      type: DeclarativeStream
      name: opportunities
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: crm/opportunity
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - opportunityList
      primary_key:
        - ID
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/opportunities"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: OpportunityDate
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        lookback_window: P1D
        start_time_option:
          type: RequestOption
          field_name: ModifiedSince
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S"
    purchase_list:
      type: DeclarativeStream
      name: purchase_list
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: purchaseList
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - PurchaseList
      primary_key:
        - ID
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/purchase_list"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: LastUpdatedDate
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f"
        lookback_window: P1D
        start_time_option:
          type: RequestOption
          field_name: UpdatedSince
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f"
          - "%Y-%m-%dT%H:%M:%S"
    attribute_sets:
      type: DeclarativeStream
      name: attribute_sets
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: ref/attributeset
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - AttributeSetList
      primary_key:
        - ID
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/attribute_sets"
    product_family:
      type: DeclarativeStream
      name: product_family
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: productFamily
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - ProductFamilies
      primary_key:
        - ID
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_family"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: LastModifiedOn
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        lookback_window: P1D
        start_time_option:
          type: RequestOption
          field_name: ModifiedSince
          inject_into: request_parameter
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%dT%H:%M:%SZ"
    product_categories:
      type: DeclarativeStream
      name: product_categories
      retriever:
        type: SimpleRetriever
        decoder:
          type: JsonDecoder
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: ref/category
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - CategoryList
      primary_key:
        - ID
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_categories"
  base_requester:
    type: HttpRequester
    url_base: https://inventory.dearsystems.com/externalapi/v2/

streams:
  - $ref: "#/definitions/streams/bank_accounts"
  - $ref: "#/definitions/streams/attribute_sets"
  - $ref: "#/definitions/streams/accounts"
  - $ref: "#/definitions/streams/brands"
  - $ref: "#/definitions/streams/carriers"
  - $ref: "#/definitions/streams/customers"
  - $ref: "#/definitions/streams/deals"
  - $ref: "#/definitions/streams/locations"
  - $ref: "#/definitions/streams/products"
  - $ref: "#/definitions/streams/purchase_list"
  - $ref: "#/definitions/streams/suppliers"
  - $ref: "#/definitions/streams/opportunities"
  - $ref: "#/definitions/streams/sale_list"
  - $ref: "#/definitions/streams/taxes"
  - $ref: "#/definitions/streams/product_categories"
  - $ref: "#/definitions/streams/product_family"
  - $ref: "#/definitions/streams/purchases"
  - $ref: "#/definitions/streams/leads"
  - $ref: "#/definitions/streams/sales"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - accountid
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        description: The API key associated with your account.
        order: 1
        title: API Key
        airbyte_secret: true
      accountid:
        type: string
        description: The ID associated with your account.
        order: 0
        title: Account ID
      start_date:
        type: string
        description: "1970-01-01T00:00:00Z"
        order: 2
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true

metadata:
  assist: {}
  testedStreams:
    deals:
      hasRecords: true
      streamHash: ccd5ea21059bad7b3de4f188f7817a4a52545f61
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    leads:
      hasRecords: true
      streamHash: 5acfccfb598e660c7e119ff3e7031ce00962a760
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    sales:
      hasRecords: true
      streamHash: 797fb097e49e41b0220a03522c6657911e1090b6
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    taxes:
      hasRecords: true
      streamHash: 35da8fd56fd121f5a8a55b369eaef5ba42ea5f60
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    brands:
      hasRecords: true
      streamHash: 1ba54400c734142717e4d0fe3763dfde55b9d338
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    accounts:
      hasRecords: true
      streamHash: eccee12b9abf12f56ecf1b4c1028989886ad5cf0
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    carriers:
      hasRecords: true
      streamHash: 93f0d97f1106e83b190b29d14e443bb156247d42
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    products:
      hasRecords: true
      streamHash: 5a28ced1b8822f7f0fdf0c7abe8b6c7689122a05
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    customers:
      hasRecords: true
      streamHash: c0f5b5657cf550e7b41b436363a8793fc64edf94
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    locations:
      hasRecords: true
      streamHash: 8a9fa74817d1a9806df4a5f74c238ce8bc365481
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    purchases:
      hasRecords: true
      streamHash: cdf54cb85f6912d2cbbc8466b31af08830383aa8
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    sale_list:
      hasRecords: true
      streamHash: 663fa2588db38f1c85fa8f7faade48ec473eddb1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    suppliers:
      hasRecords: true
      streamHash: e16f0c72f975e268d092970ee2ba7aa665b630d2
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    bank_accounts:
      hasRecords: true
      streamHash: 526e86a80a76e0c6a16f2ea29d6c340e97bca755
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    opportunities:
      hasRecords: true
      streamHash: 37cce245f311843006963371f963763975be0fec
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    purchase_list:
      hasRecords: true
      streamHash: ab9eb3486f202070851b7a7780f1d75174b4c7c9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    attribute_sets:
      hasRecords: true
      streamHash: f0c7f8b8ebb4a0baf37f1a3bd8fed8c4b95d81fb
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    product_family:
      hasRecords: true
      streamHash: e3f31119904309c588c627b3d81fd8144e7be114
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    product_categories:
      hasRecords: true
      streamHash: ed87d64b338c7e844c64941cce5607f405210332
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    deals: true
    leads: true
    sales: true
    taxes: true
    brands: true
    accounts: true
    carriers: true
    products: true
    customers: true
    locations: true
    purchases: true
    sale_list: true
    suppliers: true
    bank_accounts: true
    opportunities: true
    purchase_list: true
    attribute_sets: true
    product_family: true
    product_categories: true

schemas:
  deals:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - ID
    properties:
      ID:
        type: string
      Name:
        type:
          - string
          - "null"
      DateTo:
        type:
          - string
          - "null"
      DateFrom:
        type:
          - string
          - "null"
      IsActive:
        type:
          - boolean
          - "null"
      CouponCodes:
        type:
          - string
          - "null"
      AllowCoupons:
        type:
          - boolean
          - "null"
      DealCustomers:
        type:
          - array
          - "null"
      DealDiscounts:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            ID:
              type:
                - string
                - "null"
            BuyMore:
              type:
                - boolean
                - "null"
            Sequence:
              type:
                - number
                - "null"
            DiscountID:
              type:
                - string
                - "null"
            DiscountName:
              type:
                - string
                - "null"
            DiscountType:
              type:
                - string
                - "null"
            IsOrderLevel:
              type:
                - boolean
                - "null"
            DealDiscountTags:
              type:
                - array
                - "null"
            DealDiscountBrands:
              type:
                - array
                - "null"
            DealDiscountProducts:
              type:
                - array
                - "null"
            DealDiscountCategories:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  ID:
                    type:
                      - string
                      - "null"
                  CategoryID:
                    type:
                      - string
                      - "null"
                  CategoryName:
                    type:
                      - string
                      - "null"
      CustomersGroup:
        type:
          - string
          - "null"
      DealCustomerTags:
        type:
          - array
          - "null"
      SingleCouponCodeUsage:
        type:
          - boolean
          - "null"
    additionalProperties: true
  leads:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - ID
    properties:
      ID:
        type: string
      Name:
        type:
          - string
          - "null"
      Amount:
        type:
          - number
          - "null"
      TaxRule:
        type:
          - string
          - "null"
      Comments:
        type:
          - string
          - "null"
      Contacts:
        type:
          - array
          - "null"
      Currency:
        type:
          - string
          - "null"
      Addresses:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            ID:
              type:
                - string
                - "null"
            City:
              type:
                - string
                - "null"
            Type:
              type:
                - string
                - "null"
            Line1:
              type:
                - string
                - "null"
            Line2:
              type:
                - string
                - "null"
            State:
              type:
                - string
                - "null"
            Country:
              type:
                - string
                - "null"
            Postcode:
              type:
                - string
                - "null"
            DefaultForType:
              type:
                - boolean
                - "null"
      CloseDate:
        type:
          - string
          - "null"
      PriceTier:
        type:
          - string
          - "null"
      LeadStatus:
        type:
          - string
          - "null"
      CloseChance:
        type:
          - number
          - "null"
      PaymentTerm:
        type:
          - string
          - "null"
      SalesRepresentative:
        type:
          - string
          - "null"
    additionalProperties: true
  sales:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - ID
    properties:
      ID:
        type: string
      Note:
        type:
          - string
          - "null"
      Type:
        type:
          - string
          - "null"
      Email:
        type:
          - string
          - "null"
      Order:
        type:
          - object
          - "null"
        properties:
          Tax:
            type:
              - number
              - "null"
          Memo:
            type:
              - string
              - "null"
          Lines:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                SKU:
                  type:
                    - string
                    - "null"
                Tax:
                  type:
                    - number
                    - "null"
                Name:
                  type:
                    - string
                    - "null"
                Price:
                  type:
                    - number
                    - "null"
                Total:
                  type:
                    - number
                    - "null"
                Comment:
                  type:
                    - string
                    - "null"
                TaxRule:
                  type:
                    - string
                    - "null"
                Discount:
                  type:
                    - number
                    - "null"
                DropShip:
                  type:
                    - boolean
                    - "null"
                Quantity:
                  type:
                    - number
                    - "null"
                ProductID:
                  type:
                    - string
                    - "null"
                AverageCost:
                  type:
                    - number
                    - "null"
                WeightUnits:
                  type:
                    - string
                    - "null"
                ProductWidth:
                  type:
                    - number
                    - "null"
                ProductHeight:
                  type:
                    - number
                    - "null"
                ProductLength:
                  type:
                    - number
                    - "null"
                ProductWeight:
                  type:
                    - number
                    - "null"
                DimensionsUnits:
                  type:
                    - string
                    - "null"
                BackorderQuantity:
                  type:
                    - number
                    - "null"
                ProductCustomField1:
                  type:
                    - string
                    - "null"
                ProductCustomField2:
                  type:
                    - string
                    - "null"
                ProductCustomField3:
                  type:
                    - string
                    - "null"
                ProductCustomField4:
                  type:
                    - string
                    - "null"
                ProductCustomField5:
                  type:
                    - string
                    - "null"
                ProductCustomField6:
                  type:
                    - string
                    - "null"
                ProductCustomField7:
                  type:
                    - string
                    - "null"
                ProductCustomField8:
                  type:
                    - string
                    - "null"
                ProductCustomField9:
                  type:
                    - string
                    - "null"
                ProductCustomField10:
                  type:
                    - string
                    - "null"
          Total:
            type:
              - number
              - "null"
          Status:
            type:
              - string
              - "null"
          TotalBeforeTax:
            type:
              - number
              - "null"
          SaleOrderNumber:
            type:
              - string
              - "null"
      Phone:
        type:
          - string
          - "null"
      Quote:
        type:
          - object
          - "null"
        properties:
          Tax:
            type:
              - number
              - "null"
          Memo:
            type:
              - string
              - "null"
          Lines:
            type:
              - array
              - "null"
          Total:
            type:
              - number
              - "null"
          Status:
            type:
              - string
              - "null"
          Prepayments:
            type:
              - array
              - "null"
          TotalBeforeTax:
            type:
              - number
              - "null"
      Terms:
        type:
          - string
          - "null"
      Status:
        type:
          - string
          - "null"
      Carrier:
        type:
          - string
          - "null"
      Contact:
        type:
          - string
          - "null"
      TaxRule:
        type:
          - string
          - "null"
      Customer:
        type:
          - string
          - "null"
      Invoices:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            Tax:
              type:
                - number
                - "null"
            Memo:
              type:
                - string
                - "null"
            Paid:
              type:
                - number
                - "null"
            Lines:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  SKU:
                    type:
                      - string
                      - "null"
                  Tax:
                    type:
                      - number
                      - "null"
                  Name:
                    type:
                      - string
                      - "null"
                  Price:
                    type:
                      - number
                      - "null"
                  Total:
                    type:
                      - number
                      - "null"
                  Account:
                    type:
                      - string
                      - "null"
                  Comment:
                    type:
                      - string
                      - "null"
                  TaxRule:
                    type:
                      - string
                      - "null"
                  Discount:
                    type:
                      - number
                      - "null"
                  Quantity:
                    type:
                      - number
                      - "null"
                  ProductID:
                    type:
                      - string
                      - "null"
                  AverageCost:
                    type:
                      - number
                      - "null"
                  WeightUnits:
                    type:
                      - string
                      - "null"
                  ProductWidth:
                    type:
                      - number
                      - "null"
                  ProductHeight:
                    type:
                      - number
                      - "null"
                  ProductLength:
                    type:
                      - number
                      - "null"
                  ProductWeight:
                    type:
                      - number
                      - "null"
                  DimensionsUnits:
                    type:
                      - string
                      - "null"
                  ProductCustomField1:
                    type:
                      - string
                      - "null"
                  ProductCustomField2:
                    type:
                      - string
                      - "null"
                  ProductCustomField3:
                    type:
                      - string
                      - "null"
                  ProductCustomField4:
                    type:
                      - string
                      - "null"
                  ProductCustomField5:
                    type:
                      - string
                      - "null"
                  ProductCustomField6:
                    type:
                      - string
                      - "null"
                  ProductCustomField7:
                    type:
                      - string
                      - "null"
                  ProductCustomField8:
                    type:
                      - string
                      - "null"
                  ProductCustomField9:
                    type:
                      - string
                      - "null"
                  ProductCustomField10:
                    type:
                      - string
                      - "null"
            Total:
              type:
                - number
                - "null"
            Status:
              type:
                - string
                - "null"
            TaskID:
              type:
                - string
                - "null"
            Payments:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  ID:
                    type:
                      - string
                      - "null"
                  Amount:
                    type:
                      - number
                      - "null"
                  Account:
                    type:
                      - string
                      - "null"
                  DatePaid:
                    type:
                      - string
                      - "null"
                  Reference:
                    type:
                      - string
                      - "null"
                  DateCreated:
                    type:
                      - string
                      - "null"
                  CurrencyRate:
                    type:
                      - number
                      - "null"
            InvoiceDate:
              type:
                - string
                - "null"
            InvoiceNumber:
              type:
                - string
                - "null"
            InvoiceDueDate:
              type:
                - string
                - "null"
            TotalBeforeTax:
              type:
                - number
                - "null"
            BillingAddressLine1:
              type:
                - string
                - "null"
            BillingAddressLine2:
              type:
                - string
                - "null"
            CurrencyConversionRate:
              type:
                - number
                - "null"
      Location:
        type:
          - string
          - "null"
      PriceTier:
        type:
          - string
          - "null"
      SkipQuote:
        type:
          - boolean
          - "null"
      COGSAmount:
        type:
          - number
          - "null"
      CustomerID:
        type:
          - string
          - "null"
      ExternalID:
        type:
          - string
          - "null"
      Attachments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            ID:
              type:
                - string
                - "null"
            FileName:
              type:
                - string
                - "null"
            ContentType:
              type:
                - string
                - "null"
            DownloadUrl:
              type:
                - string
                - "null"
      CreditNotes:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            Tax:
              type:
                - number
                - "null"
            Memo:
              type:
                - string
                - "null"
            Lines:
              type:
                - array
                - "null"
            Total:
              type:
                - number
                - "null"
            Status:
              type:
                - string
                - "null"
            TaskID:
              type:
                - string
                - "null"
            Refunds:
              type:
                - array
                - "null"
            Restock:
              type:
                - array
                - "null"
            RestockStatus:
              type:
                - string
                - "null"
            CreditNoteDate:
              type:
                - string
                - "null"
            TotalBeforeTax:
              type:
                - number
                - "null"
            CreditNoteInvoiceNumber:
              type:
                - string
                - "null"
            CreditNoteConversionRate:
              type:
                - number
                - "null"
      Fulfilments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            Pack:
              type:
                - object
                - "null"
              properties:
                Lines:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      Box:
                        type:
                          - string
                          - "null"
                      SKU:
                        type:
                          - string
                          - "null"
                      Name:
                        type:
                          - string
                          - "null"
                      Location:
                        type:
                          - string
                          - "null"
                      Quantity:
                        type:
                          - number
                          - "null"
                      ProductID:
                        type:
                          - string
                          - "null"
                      LocationID:
                        type:
                          - string
                          - "null"
                      WeightUnits:
                        type:
                          - string
                          - "null"
                      NonInventory:
                        type:
                          - boolean
                          - "null"
                      ProductWidth:
                        type:
                          - number
                          - "null"
                      ProductHeight:
                        type:
                          - number
                          - "null"
                      ProductLength:
                        type:
                          - number
                          - "null"
                      ProductWeight:
                        type:
                          - number
                          - "null"
                      DimensionsUnits:
                        type:
                          - string
                          - "null"
                      ProductCustomField1:
                        type:
                          - string
                          - "null"
                      ProductCustomField2:
                        type:
                          - string
                          - "null"
                      ProductCustomField3:
                        type:
                          - string
                          - "null"
                      ProductCustomField4:
                        type:
                          - string
                          - "null"
                      ProductCustomField5:
                        type:
                          - string
                          - "null"
                      ProductCustomField6:
                        type:
                          - string
                          - "null"
                      ProductCustomField7:
                        type:
                          - string
                          - "null"
                      ProductCustomField8:
                        type:
                          - string
                          - "null"
                      ProductCustomField9:
                        type:
                          - string
                          - "null"
                      ProductCustomField10:
                        type:
                          - string
                          - "null"
                Status:
                  type:
                    - string
                    - "null"
            Pick:
              type:
                - object
                - "null"
              properties:
                Lines:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      SKU:
                        type:
                          - string
                          - "null"
                      Name:
                        type:
                          - string
                          - "null"
                      Location:
                        type:
                          - string
                          - "null"
                      Quantity:
                        type:
                          - number
                          - "null"
                      ProductID:
                        type:
                          - string
                          - "null"
                      LocationID:
                        type:
                          - string
                          - "null"
                      WeightUnits:
                        type:
                          - string
                          - "null"
                      NonInventory:
                        type:
                          - boolean
                          - "null"
                      ProductWidth:
                        type:
                          - number
                          - "null"
                      ProductHeight:
                        type:
                          - number
                          - "null"
                      ProductLength:
                        type:
                          - number
                          - "null"
                      ProductWeight:
                        type:
                          - number
                          - "null"
                      DimensionsUnits:
                        type:
                          - string
                          - "null"
                      ProductCustomField1:
                        type:
                          - string
                          - "null"
                      ProductCustomField2:
                        type:
                          - string
                          - "null"
                      ProductCustomField3:
                        type:
                          - string
                          - "null"
                      ProductCustomField4:
                        type:
                          - string
                          - "null"
                      ProductCustomField5:
                        type:
                          - string
                          - "null"
                      ProductCustomField6:
                        type:
                          - string
                          - "null"
                      ProductCustomField7:
                        type:
                          - string
                          - "null"
                      ProductCustomField8:
                        type:
                          - string
                          - "null"
                      ProductCustomField9:
                        type:
                          - string
                          - "null"
                      ProductCustomField10:
                        type:
                          - string
                          - "null"
                Status:
                  type:
                    - string
                    - "null"
            Ship:
              type:
                - object
                - "null"
              properties:
                Lines:
                  type:
                    - array
                    - "null"
                  items:
                    type:
                      - object
                      - "null"
                    properties:
                      ID:
                        type:
                          - string
                          - "null"
                      Boxes:
                        type:
                          - string
                          - "null"
                      Carrier:
                        type:
                          - string
                          - "null"
                      IsShipped:
                        type:
                          - boolean
                          - "null"
                      TrackingURL:
                        type:
                          - string
                          - "null"
                      ShipmentDate:
                        type:
                          - string
                          - "null"
                Status:
                  type:
                    - string
                    - "null"
                ShippingNotes:
                  type:
                    - string
                    - "null"
                ShippingAddress:
                  type:
                    - object
                    - "null"
                  properties:
                    City:
                      type:
                        - string
                        - "null"
                    Line1:
                      type:
                        - string
                        - "null"
                    Line2:
                      type:
                        - string
                        - "null"
                    State:
                      type:
                        - string
                        - "null"
                    Company:
                      type:
                        - string
                        - "null"
                    Contact:
                      type:
                        - string
                        - "null"
                    Country:
                      type:
                        - string
                        - "null"
                    Postcode:
                      type:
                        - string
                        - "null"
                    ShipToOther:
                      type:
                        - boolean
                        - "null"
                    DisplayAddressLine1:
                      type:
                        - string
                        - "null"
                    DisplayAddressLine2:
                      type:
                        - string
                        - "null"
            TaskID:
              type:
                - string
                - "null"
            FulFilmentStatus:
              type:
                - string
                - "null"
            FulfillmentNumber:
              type:
                - number
                - "null"
      ServiceOnly:
        type:
          - boolean
          - "null"
      BaseCurrency:
        type:
          - string
          - "null"
      CurrencyRate:
        type:
          - number
          - "null"
      Transactions:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            Debit:
              type:
                - string
                - "null"
            Amount:
              type:
                - number
                - "null"
            Credit:
              type:
                - string
                - "null"
            TaskID:
              type:
                - string
                - "null"
            Description:
              type:
                - string
                - "null"
            EffectiveDate:
              type:
                - string
                - "null"
            TransactionID:
              type:
                - string
                - "null"
      SaleOrderDate:
        type:
          - string
          - "null"
      ShippingNotes:
        type:
          - string
          - "null"
      SourceChannel:
        type:
          - string
          - "null"
      BillingAddress:
        type:
          - object
          - "null"
        properties:
          City:
            type:
              - string
              - "null"
          Line1:
            type:
              - string
              - "null"
          Line2:
            type:
              - string
              - "null"
          State:
            type:
              - string
              - "null"
          Country:
            type:
              - string
              - "null"
          Postcode:
            type:
              - string
              - "null"
          DisplayAddressLine1:
            type:
              - string
              - "null"
          DisplayAddressLine2:
            type:
              - string
              - "null"
      DefaultAccount:
        type:
          - string
          - "null"
      LastModifiedOn:
        type:
          - string
          - "null"
      ManualJournals:
        type:
          - object
          - "null"
        properties:
          Lines:
            type:
              - array
              - "null"
          Status:
            type:
              - string
              - "null"
      TaxCalculation:
        type:
          - string
          - "null"
      ShippingAddress:
        type:
          - object
          - "null"
        properties:
          ID:
            type:
              - string
              - "null"
          City:
            type:
              - string
              - "null"
          Line1:
            type:
              - string
              - "null"
          Line2:
            type:
              - string
              - "null"
          State:
            type:
              - string
              - "null"
          Company:
            type:
              - string
              - "null"
          Contact:
            type:
              - string
              - "null"
          Country:
            type:
              - string
              - "null"
          Postcode:
            type:
              - string
              - "null"
          ShipToOther:
            type:
              - boolean
              - "null"
          DisplayAddressLine1:
            type:
              - string
              - "null"
          DisplayAddressLine2:
            type:
              - string
              - "null"
      CustomerCurrency:
        type:
          - string
          - "null"
      FulFilmentStatus:
        type:
          - string
          - "null"
      CustomerReference:
        type:
          - string
          - "null"
      InventoryMovements:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            COGS:
              type:
                - number
                - "null"
            Date:
              type:
                - string
                - "null"
            TaskID:
              type:
                - string
                - "null"
            ProductID:
              type:
                - string
                - "null"
            WeightUnits:
              type:
                - string
                - "null"
            ProductWidth:
              type:
                - number
                - "null"
            ProductHeight:
              type:
                - number
                - "null"
            ProductLength:
              type:
                - number
                - "null"
            ProductWeight:
              type:
                - number
                - "null"
            DimensionsUnits:
              type:
                - string
                - "null"
            ProductCustomField1:
              type:
                - string
                - "null"
            ProductCustomField2:
              type:
                - string
                - "null"
            ProductCustomField3:
              type:
                - string
                - "null"
            ProductCustomField4:
              type:
                - string
                - "null"
            ProductCustomField5:
              type:
                - string
                - "null"
            ProductCustomField6:
              type:
                - string
                - "null"
            ProductCustomField7:
              type:
                - string
                - "null"
            ProductCustomField8:
              type:
                - string
                - "null"
            ProductCustomField9:
              type:
                - string
                - "null"
            ProductCustomField10:
              type:
                - string
                - "null"
      SalesRepresentative:
        type:
          - string
          - "null"
      AdditionalAttributes:
        type:
          - object
          - "null"
        properties:
          AdditionalAttribute1:
            type:
              - string
              - "null"
          AdditionalAttribute2:
            type:
              - string
              - "null"
          AdditionalAttribute3:
            type:
              - string
              - "null"
          AdditionalAttribute4:
            type:
              - string
              - "null"
          AdditionalAttribute5:
            type:
              - string
              - "null"
          AdditionalAttribute6:
            type:
              - string
              - "null"
          AdditionalAttribute7:
            type:
              - string
              - "null"
          AdditionalAttribute8:
            type:
              - string
              - "null"
          AdditionalAttribute9:
            type:
              - string
              - "null"
          AdditionalAttribute10:
            type:
              - string
              - "null"
      CombinedInvoiceStatus:
        type:
          - string
          - "null"
      CombinedPackingStatus:
        type:
          - string
          - "null"
      CombinedPaymentStatus:
        type:
          - string
          - "null"
      CombinedPickingStatus:
        type:
          - string
          - "null"
      CombinedShippingStatus:
        type:
          - string
          - "null"
      CombinedTrackingNumbers:
        type:
          - string
          - "null"
    additionalProperties: true
  taxes:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - ID
    properties:
      ID:
        type: string
      Name:
        type:
          - string
          - "null"
      Account:
        type:
          - string
          - "null"
      IsActive:
        type:
          - boolean
          - "null"
      Components:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            Name:
              type:
                - string
                - "null"
            Compound:
              type:
                - boolean
                - "null"
            ComponentOrder:
              type:
                - number
                - "null"
      TaxPercent:
        type:
          - number
          - "null"
      IsTaxForSale:
        type:
          - boolean
          - "null"
      TaxInclusive:
        type:
          - boolean
          - "null"
      IsTaxForPurchase:
        type:
          - boolean
          - "null"
    additionalProperties: true
  brands:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - ID
    properties:
      ID:
        type: string
      Name:
        type:
          - string
          - "null"
    additionalProperties: true
  accounts:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - Code
    properties:
      Code:
        type: string
      Name:
        type:
          - string
          - "null"
      Type:
        type:
          - string
          - "null"
      Class:
        type:
          - string
          - "null"
      Status:
        type:
          - string
          - "null"
      Description:
        type:
          - string
          - "null"
      DisplayName:
        type:
          - string
          - "null"
      ForPayments:
        type:
          - boolean
          - "null"
      BankAccountId:
        type:
          - string
          - "null"
      SystemAccount:
        type:
          - string
          - "null"
      BankAccountNumber:
        type:
          - string
          - "null"
      SystemAccountCode:
        type:
          - string
          - "null"
    additionalProperties: true
  carriers:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - CarrierID
    properties:
      CarrierID:
        type: string
      Description:
        type:
          - string
          - "null"
    additionalProperties: true
  products:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - ID
      - LastModifiedOn
    properties:
      ID:
        type: string
      SKU:
        type:
          - string
          - "null"
      UOM:
        type:
          - string
          - "null"
      Name:
        type:
          - string
          - "null"
      Tags:
        type:
          - string
          - "null"
      Type:
        type:
          - string
          - "null"
      Width:
        type:
          - number
          - "null"
      Height:
        type:
          - number
          - "null"
      Length:
        type:
          - number
          - "null"
      Status:
        type:
          - string
          - "null"
      Weight:
        type:
          - number
          - "null"
      BOMType:
        type:
          - string
          - "null"
      Barcode:
        type:
          - string
          - "null"
      Category:
        type:
          - string
          - "null"
      Sellable:
        type:
          - boolean
          - "null"
      Movements:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            Date:
              type:
                - string
                - "null"
            Type:
              type:
                - string
                - "null"
            Amount:
              type:
                - number
                - "null"
            FromTo:
              type:
                - string
                - "null"
            Number:
              type:
                - string
                - "null"
            TaskID:
              type:
                - string
                - "null"
            BatchSN:
              type:
                - string
                - "null"
            Location:
              type:
                - string
                - "null"
            Quantity:
              type:
                - number
                - "null"
      PickZones:
        type:
          - string
          - "null"
      Suppliers:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            Cost:
              type:
                - number
                - "null"
            Currency:
              type:
                - string
                - "null"
            DropShip:
              type:
                - boolean
                - "null"
            FixedCost:
              type:
                - number
                - "null"
            ProductID:
              type:
                - string
                - "null"
            SupplierID:
              type:
                - string
                - "null"
            LastSupplied:
              type:
                - string
                - "null"
            PurchaseCost:
              type:
                - number
                - "null"
            SupplierName:
              type:
                - string
                - "null"
            ProductSupplierID:
              type:
                - string
                - "null"
            SupplierInventoryCode:
              type:
                - string
                - "null"
            ProductSupplierOptions:
              type:
                - array
                - "null"
      PriceTier1:
        type:
          - number
          - "null"
      PriceTier2:
        type:
          - number
          - "null"
      PriceTier3:
        type:
          - number
          - "null"
      PriceTier4:
        type:
          - number
          - "null"
      PriceTier5:
        type:
          - number
          - "null"
      PriceTier6:
        type:
          - number
          - "null"
      PriceTier7:
        type:
          - number
          - "null"
      PriceTier8:
        type:
          - number
          - "null"
      PriceTier9:
        type:
          - number
          - "null"
      PriceTiers:
        type:
          - object
          - "null"
        properties:
          Tier 6:
            type:
              - number
              - "null"
          Tier 7:
            type:
              - number
              - "null"
          Tier 8:
            type:
              - number
              - "null"
          Tier 9:
            type:
              - number
              - "null"
          Tier 10:
            type:
              - number
              - "null"
          China Star:
            type:
              - number
              - "null"
          H mart & Weee:
            type:
              - number
              - "null"
          Stander Price:
            type:
              - number
              - "null"
          Major Customers:
            type:
              - number
              - "null"
          West Lake & Golden King:
            type:
              - number
              - "null"
      Attachments:
        type:
          - array
          - "null"
      AverageCost:
        type:
          - number
          - "null"
      COGSAccount:
        type:
          - string
          - "null"
      CartonWidth:
        type:
          - number
          - "null"
      Description:
        type:
          - string
          - "null"
      PriceTier10:
        type:
          - number
          - "null"
      SaleTaxRule:
        type:
          - string
          - "null"
      WeightUnits:
        type:
          - string
          - "null"
      AutoAssembly:
        type:
          - boolean
          - "null"
      CartonHeight:
        type:
          - number
          - "null"
      CartonLength:
        type:
          - number
          - "null"
      CustomPrices:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            Price:
              type:
                - number
                - "null"
            CustomerID:
              type:
                - string
                - "null"
            CustomerName:
              type:
                - string
                - "null"
            CustomerCurrency:
              type:
                - string
                - "null"
      DropShipMode:
        type:
          - string
          - "null"
      InternalNote:
        type:
          - string
          - "null"
      StockLocator:
        type:
          - string
          - "null"
      CostingMethod:
        type:
          - string
          - "null"
      ReorderLevels:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            PickZones:
              type:
                - string
                - "null"
            LocationID:
              type:
                - string
                - "null"
            LocationName:
              type:
                - string
                - "null"
            StockLocator:
              type:
                - string
                - "null"
            ReorderQuantity:
              type:
                - number
                - "null"
            MinimumBeforeReorder:
              type:
                - number
                - "null"
      BillOfMaterial:
        type:
          - boolean
          - "null"
      CartonQuantity:
        type:
          - number
          - "null"
      ExpenseAccount:
        type:
          - string
          - "null"
      LastModifiedOn:
        type: string
      RevenueAccount:
        type:
          - string
          - "null"
      AutoDisassembly:
        type:
          - boolean
          - "null"
      DefaultLocation:
        type:
          - string
          - "null"
      DimensionsUnits:
        type:
          - string
          - "null"
      PurchaseTaxRule:
        type:
          - string
          - "null"
      ReorderQuantity:
        type:
          - number
          - "null"
      InventoryAccount:
        type:
          - string
          - "null"
      ShortDescription:
        type:
          - string
          - "null"
      QuantityToProduce:
        type:
          - number
          - "null"
      AlwaysShowQuantity:
        type:
          - number
          - "null"
      CartonInnerQuantity:
        type:
          - number
          - "null"
      AdditionalAttribute1:
        type:
          - string
          - "null"
      AdditionalAttribute2:
        type:
          - string
          - "null"
      AdditionalAttribute3:
        type:
          - string
          - "null"
      AdditionalAttribute4:
        type:
          - string
          - "null"
      AdditionalAttribute5:
        type:
          - string
          - "null"
      AdditionalAttribute6:
        type:
          - string
          - "null"
      AdditionalAttribute7:
        type:
          - string
          - "null"
      AdditionalAttribute8:
        type:
          - string
          - "null"
      AdditionalAttribute9:
        type:
          - string
          - "null"
      MinimumBeforeReorder:
        type:
          - number
          - "null"
      AdditionalAttribute10:
        type:
          - string
          - "null"
      AssemblyInstructionURL:
        type:
          - string
          - "null"
      BillOfMaterialsProducts:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            Name:
              type:
                - string
                - "null"
            Quantity:
              type:
                - number
                - "null"
            ProductCode:
              type:
                - string
                - "null"
            CostPercentage:
              type:
                - number
                - "null"
            WastagePercent:
              type:
                - number
                - "null"
            WastageQuantity:
              type:
                - number
                - "null"
            ComponentProductID:
              type:
                - string
                - "null"
      BillOfMaterialsServices:
        type:
          - array
          - "null"
      AssemblyCostEstimationMethod:
        type:
          - string
          - "null"
    additionalProperties: true
  customers:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - ID
      - LastModifiedOn
    properties:
      ID:
        type: string
      Name:
        type:
          - string
          - "null"
      Tags:
        type:
          - string
          - "null"
      Status:
        type:
          - string
          - "null"
      Carrier:
        type:
          - string
          - "null"
      TaxRule:
        type:
          - string
          - "null"
      Comments:
        type:
          - string
          - "null"
      Contacts:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            ID:
              type:
                - string
                - "null"
            Fax:
              type:
                - string
                - "null"
            Name:
              type:
                - string
                - "null"
            Email:
              type:
                - string
                - "null"
            Phone:
              type:
                - string
                - "null"
            Comment:
              type:
                - string
                - "null"
            Default:
              type:
                - boolean
                - "null"
            Website:
              type:
                - string
                - "null"
            JobTitle:
              type:
                - string
                - "null"
            MobilePhone:
              type:
                - string
                - "null"
            IncludeInEmail:
              type:
                - boolean
                - "null"
            MarketingConsent:
              type:
                - number
                - "null"
      Currency:
        type:
          - string
          - "null"
      Discount:
        type:
          - number
          - "null"
      Location:
        type:
          - string
          - "null"
      Addresses:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            ID:
              type:
                - string
                - "null"
            City:
              type:
                - string
                - "null"
            Type:
              type:
                - string
                - "null"
            Line1:
              type:
                - string
                - "null"
            Line2:
              type:
                - string
                - "null"
            State:
              type:
                - string
                - "null"
            Country:
              type:
                - string
                - "null"
            Postcode:
              type:
                - string
                - "null"
            DefaultForType:
              type:
                - boolean
                - "null"
      PriceTier:
        type:
          - string
          - "null"
      TaxNumber:
        type:
          - string
          - "null"
      CreditLimit:
        type:
          - number
          - "null"
      PaymentTerm:
        type:
          - string
          - "null"
      ProductPrices:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            Price:
              type:
                - number
                - "null"
            ProductID:
              type:
                - string
                - "null"
            ProductSKU:
              type:
                - string
                - "null"
            ProductName:
              type:
                - string
                - "null"
      IsOnCreditHold:
        type:
          - boolean
          - "null"
      LastModifiedOn:
        type: string
      RevenueAccount:
        type:
          - string
          - "null"
      AccountReceivable:
        type:
          - string
          - "null"
      SalesRepresentative:
        type:
          - string
          - "null"
      AdditionalAttribute1:
        type:
          - string
          - "null"
      AdditionalAttribute2:
        type:
          - string
          - "null"
      AdditionalAttribute3:
        type:
          - string
          - "null"
      AdditionalAttribute4:
        type:
          - string
          - "null"
      AdditionalAttribute5:
        type:
          - string
          - "null"
      AdditionalAttribute6:
        type:
          - string
          - "null"
      AdditionalAttribute7:
        type:
          - string
          - "null"
      AdditionalAttribute8:
        type:
          - string
          - "null"
      AdditionalAttribute9:
        type:
          - string
          - "null"
      AdditionalAttribute10:
        type:
          - string
          - "null"
    additionalProperties: true
  locations:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - ID
    properties:
      ID:
        type: string
      Bins:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            ID:
              type:
                - string
                - "null"
            Name:
              type:
                - string
                - "null"
            IsStaging:
              type:
                - boolean
                - "null"
            IsDeprecated:
              type:
                - boolean
                - "null"
      Name:
        type:
          - string
          - "null"
      IsCoMan:
        type:
          - boolean
          - "null"
      ParentID:
        type:
          - string
          - "null"
      IsDefault:
        type:
          - boolean
          - "null"
      IsStaging:
        type:
          - boolean
          - "null"
      PickZones:
        type:
          - string
          - "null"
      IsShopFloor:
        type:
          - boolean
          - "null"
      AddressLine1:
        type:
          - string
          - "null"
      AddressLine2:
        type:
          - string
          - "null"
      IsDeprecated:
        type:
          - boolean
          - "null"
      AddressCountry:
        type:
          - string
          - "null"
      AddressCitySuburb:
        type:
          - string
          - "null"
      AddressZipPostCode:
        type:
          - string
          - "null"
      FixedAssetsLocation:
        type:
          - boolean
          - "null"
      AddressStateProvince:
        type:
          - string
          - "null"
    additionalProperties: true
  purchases:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - ID
    properties:
      ID:
        type: string
      Type:
        type:
          - string
          - "null"
      Order:
        type:
          - object
          - "null"
        properties:
          Tax:
            type:
              - number
              - "null"
          Lines:
            type:
              - array
              - "null"
          Total:
            type:
              - number
              - "null"
          Status:
            type:
              - string
              - "null"
          Prepayments:
            type:
              - array
              - "null"
          TotalBeforeTax:
            type:
              - number
              - "null"
      Terms:
        type:
          - string
          - "null"
      Status:
        type:
          - string
          - "null"
      Invoice:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            Tax:
              type:
                - number
                - "null"
            Paid:
              type:
                - number
                - "null"
            Lines:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  SKU:
                    type:
                      - string
                      - "null"
                  Tax:
                    type:
                      - number
                      - "null"
                  Name:
                    type:
                      - string
                      - "null"
                  Price:
                    type:
                      - number
                      - "null"
                  Total:
                    type:
                      - number
                      - "null"
                  Account:
                    type:
                      - string
                      - "null"
                  Comment:
                    type:
                      - string
                      - "null"
                  TaxRule:
                    type:
                      - string
                      - "null"
                  Discount:
                    type:
                      - number
                      - "null"
                  Quantity:
                    type:
                      - number
                      - "null"
                  ProductID:
                    type:
                      - string
                      - "null"
                  WeightUnits:
                    type:
                      - string
                      - "null"
                  NonInventory:
                    type:
                      - boolean
                      - "null"
                  ProductWidth:
                    type:
                      - number
                      - "null"
                  ProductHeight:
                    type:
                      - number
                      - "null"
                  ProductLength:
                    type:
                      - number
                      - "null"
                  ProductWeight:
                    type:
                      - number
                      - "null"
                  DimensionsUnits:
                    type:
                      - string
                      - "null"
                  ProductCustomField1:
                    type:
                      - string
                      - "null"
                  ProductCustomField2:
                    type:
                      - string
                      - "null"
                  ProductCustomField3:
                    type:
                      - string
                      - "null"
                  ProductCustomField4:
                    type:
                      - string
                      - "null"
                  ProductCustomField5:
                    type:
                      - string
                      - "null"
                  ProductCustomField6:
                    type:
                      - string
                      - "null"
                  ProductCustomField7:
                    type:
                      - string
                      - "null"
                  ProductCustomField8:
                    type:
                      - string
                      - "null"
                  ProductCustomField9:
                    type:
                      - string
                      - "null"
                  ProductCustomField10:
                    type:
                      - string
                      - "null"
            Total:
              type:
                - number
                - "null"
            Status:
              type:
                - string
                - "null"
            TaskID:
              type:
                - string
                - "null"
            Payments:
              type:
                - array
                - "null"
            InvoiceDate:
              type:
                - string
                - "null"
            CurrencyRate:
              type:
                - number
                - "null"
            InvoiceNumber:
              type:
                - string
                - "null"
            InvoiceDueDate:
              type:
                - string
                - "null"
            TotalBeforeTax:
              type:
                - number
                - "null"
      PutAway:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            Lines:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  SKU:
                    type:
                      - string
                      - "null"
                  Date:
                    type:
                      - string
                      - "null"
                  Name:
                    type:
                      - string
                      - "null"
                  CardID:
                    type:
                      - string
                      - "null"
                  Location:
                    type:
                      - string
                      - "null"
                  Quantity:
                    type:
                      - number
                      - "null"
                  Received:
                    type:
                      - boolean
                      - "null"
                  ProductID:
                    type:
                      - string
                      - "null"
                  LocationID:
                    type:
                      - string
                      - "null"
                  WeightUnits:
                    type:
                      - string
                      - "null"
                  ProductWidth:
                    type:
                      - number
                      - "null"
                  ProductHeight:
                    type:
                      - number
                      - "null"
                  ProductLength:
                    type:
                      - number
                      - "null"
                  ProductWeight:
                    type:
                      - number
                      - "null"
                  DimensionsUnits:
                    type:
                      - string
                      - "null"
                  ProductCustomField1:
                    type:
                      - string
                      - "null"
                  ProductCustomField2:
                    type:
                      - string
                      - "null"
                  ProductCustomField3:
                    type:
                      - string
                      - "null"
[...]
