version: 6.41.5

type: DeclarativeSource

description: >
  This is the Cin7 source that ingests data from the Cin7 API.


  Cin7 (Connector Inventory Performance), If you’re a business that wants to
  grow, you need an inventory solution you can count on - both now and in the
  future. With Cin7 you get a real-time picture of your products across systems,
  channels, marketplaces and regions, plus NEW ForesightAI advanced inventory
  forecasting that empowers you to see around corners and stay three steps ahead
  of demand! https://www.cin7.com/


  To use this source, you must first create an account. Once logged in, head to
  Integrations -> API -> Cin7 Core API.

  Create an application and note down the Account Id and the API key, you will
  need to enter these in the input fields. You can find more information about
  the API here https://dearinventory.docs.apiary.io/#reference

check:
  type: CheckStream
  stream_names:
    - bank_accounts

definitions:
  streams:
    bank_accounts:
      type: DeclarativeStream
      name: bank_accounts
      primary_key:
        - AccountID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/ref/accountBank
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - BankAccountsList
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/bank_accounts"
    attribute_sets:
      type: DeclarativeStream
      name: attribute_sets
      primary_key:
        - ID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/ref/attributeset
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - AttributeSetList
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/attribute_sets"
    accounts:
      type: DeclarativeStream
      name: accounts
      primary_key:
        - Code
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/ref/account
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - AccountsList
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/accounts"
    brands:
      type: DeclarativeStream
      name: brands
      primary_key:
        - ID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/ref/brand
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - BrandList
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/brands"
    carriers:
      type: DeclarativeStream
      name: carriers
      primary_key:
        - CarrierID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/ref/carrier
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - CarrierList
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/carriers"
    customers:
      type: DeclarativeStream
      name: customers
      primary_key:
        - ID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/customer
          http_method: GET
          request_parameters:
            IncludeDeprecated: "true"
            IncludeProductPrices: "true"
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - CustomerList
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customers"
    deals:
      type: DeclarativeStream
      name: deals
      primary_key:
        - ID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/reference/deals
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - Deals
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/deals"
    locations:
      type: DeclarativeStream
      name: locations
      primary_key:
        - ID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/ref/location
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - LocationList
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/locations"
    products:
      type: DeclarativeStream
      name: products
      primary_key:
        - ID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/product
          http_method: GET
          request_parameters:
            IncludeDeprecated: "true"
            IncludeBOM: "true"
            IncludeSuppliers: "true"
            IncludeMovements: "true"
            IncludeAttachments: "true"
            IncludeReorderLevels: "true"
            IncludeCustomPrices: "true"
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - Products
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 100
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/products"
    purchase_list:
      type: DeclarativeStream
      name: purchase_list
      primary_key:
        - ID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/purchaseList
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - PurchaseList
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/purchase_list"
    suppliers:
      type: DeclarativeStream
      name: suppliers
      primary_key:
        - ID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/supplier
          http_method: GET
          request_parameters:
            IncludeDeprecated: "true"
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - SupplierList
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/suppliers"
    opportunities:
      type: DeclarativeStream
      name: opportunities
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/crm/opportunity
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - opportunityList
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/opportunities"
    sale_list:
      type: DeclarativeStream
      name: sale_list
      primary_key:
        - SaleID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/saleList
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - SaleList
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/sale_list"
    taxes:
      type: DeclarativeStream
      name: taxes
      primary_key:
        - ID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/ref/tax
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - TaxRuleList
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/taxes"
    product_categories:
      type: DeclarativeStream
      name: product_categories
      primary_key:
        - ID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/ref/category
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - CategoryList
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_categories"
    product_family:
      type: DeclarativeStream
      name: product_family
      primary_key:
        - ID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v2/productFamily
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - ProductFamilies
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/product_family"
    purchases:
      type: DeclarativeStream
      name: purchases
      primary_key:
        - ID
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/purchase
          http_method: GET
          request_parameters:
            CombineAdditionalCharges: "true"
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: ID
              request_option:
                type: RequestOption
                inject_into: request_parameter
                field_name: ID
              partition_field: ID
              stream:
                $ref: "#/definitions/streams/purchase_list"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/purchases"
    leads:
      type: DeclarativeStream
      name: leads
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: v2/crm/lead
          http_method: GET
          request_headers:
            api-auth-accountid: "{{ config[\"accountid\"] }}"
            api-auth-applicationkey: "{{ config[\"api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - LeadList
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: page
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: PageIncrement
            page_size: 1000
            start_from_page: 1
            inject_on_first_request: true
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/leads"
  base_requester:
    type: HttpRequester
    url_base: https://inventory.dearsystems.com/externalapi/

streams:
  - $ref: "#/definitions/streams/bank_accounts"
  - $ref: "#/definitions/streams/attribute_sets"
  - $ref: "#/definitions/streams/accounts"
  - $ref: "#/definitions/streams/brands"
  - $ref: "#/definitions/streams/carriers"
  - $ref: "#/definitions/streams/customers"
  - $ref: "#/definitions/streams/deals"
  - $ref: "#/definitions/streams/locations"
  - $ref: "#/definitions/streams/products"
  - $ref: "#/definitions/streams/purchase_list"
  - $ref: "#/definitions/streams/suppliers"
  - $ref: "#/definitions/streams/opportunities"
  - $ref: "#/definitions/streams/sale_list"
  - $ref: "#/definitions/streams/taxes"
  - $ref: "#/definitions/streams/product_categories"
  - $ref: "#/definitions/streams/product_family"
  - $ref: "#/definitions/streams/purchases"
  - $ref: "#/definitions/streams/leads"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - accountid
      - api_key
    properties:
      accountid:
        type: string
        description: The ID associated with your account.
        order: 0
        title: Account ID
      api_key:
        type: string
        description: The API key associated with your account.
        order: 1
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    bank_accounts: true
    attribute_sets: true
    accounts: true
    brands: true
    carriers: true
    customers: true
    deals: true
    locations: true
    products: true
    purchase_list: true
    suppliers: true
    opportunities: true
    sale_list: true
    taxes: true
    product_categories: true
    product_family: true
    purchases: true
    leads: true
  testedStreams:
    bank_accounts:
      hasRecords: true
      streamHash: 9675478de2bb6d064a94d038f9275a108d922795
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    attribute_sets:
      hasRecords: true
      streamHash: bdbc194f5e7c595d105577a79904162538663c6e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    accounts:
      hasRecords: true
      streamHash: 67477e194c9ed885035b9a08866d4238ec1fe629
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    brands:
      hasRecords: true
      streamHash: 483569b42eef4b9687dd0907a48eaa85c350d996
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    carriers:
      hasRecords: true
      streamHash: 429698392d53bdb03fa88b3593621d72c2ec6e3c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    customers:
      streamHash: 56cf59b8d01777551dcb4f1748c7a3ccba4afe62
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    deals:
      streamHash: 098f4b8282734a2ffda4e71b6958d829b7dc1cd4
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    locations:
      hasRecords: true
      streamHash: 38e5a19d32f8c68f73cf889280168a42924a54a9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    products:
      streamHash: e6112bce84df42e32e05cd257326ef7032e5a115
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    purchase_list:
      streamHash: 147d200fc8c304882d8ccd283cfa6fb3063abcd2
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    suppliers:
      streamHash: 9f4c4d4a838632eec3fc3596e5be1e28c3cf8c98
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    opportunities:
      streamHash: 2264f428e389c3d55b27b9e72c76738db3b3e37d
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    sale_list:
      streamHash: ba929746eafa3485d45b9c7b6c5d7173e80b04ff
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    taxes:
      streamHash: 0909c6a60631e4616df3a2ea5f64210cb21e6cfa
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    product_categories:
      streamHash: a83fc39a84fbe26fda6730f398fbbf501f86f8ca
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    product_family:
      streamHash: 5bc293448d2cdf3d3a2420840d8cca07fbc3c235
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: false
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    purchases:
      streamHash: ff07ff0133c17577d1e7fd124ba439f57f157393
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    leads:
      streamHash: 6395dcff17029b78cbe70e0b92f3e3c38d8c30cd
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  bank_accounts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      AccountCode:
        type:
          - string
          - "null"
      AccountID:
        type: string
      AccountName:
        type:
          - string
          - "null"
      AccountNumber:
        type:
          - string
          - "null"
      Bank:
        type:
          - string
          - "null"
      Currency:
        type:
          - string
          - "null"
      InitialBalance:
        type:
          - number
          - "null"
      StatementBalance:
        type:
          - number
          - "null"
    required:
      - AccountID
  attribute_sets:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      Attribute10Name:
        type:
          - string
          - "null"
      Attribute10Type:
        type:
          - string
          - "null"
      Attribute1Name:
        type:
          - string
          - "null"
      Attribute1Type:
        type:
          - string
          - "null"
      Attribute2Name:
        type:
          - string
          - "null"
      Attribute2Type:
        type:
          - string
          - "null"
      Attribute2Values:
        type:
          - string
          - "null"
      Attribute3Name:
        type:
          - string
          - "null"
      Attribute3Type:
        type:
          - string
          - "null"
      Attribute4Name:
        type:
          - string
          - "null"
      Attribute4Type:
        type:
          - string
          - "null"
      Attribute5Name:
        type:
          - string
          - "null"
      Attribute5Type:
        type:
          - string
          - "null"
      Attribute6Name:
        type:
          - string
          - "null"
      Attribute6Type:
        type:
          - string
          - "null"
      Attribute7Name:
        type:
          - string
          - "null"
      Attribute7Type:
        type:
          - string
          - "null"
      Attribute8Name:
        type:
          - string
          - "null"
      Attribute8Type:
        type:
          - string
          - "null"
      Attribute9Name:
        type:
          - string
          - "null"
      Attribute9Type:
        type:
          - string
          - "null"
      Attributes:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            Name:
              type:
                - string
                - "null"
            Type:
              type:
                - string
                - "null"
            Values:
              type:
                - string
                - "null"
      ID:
        type: string
      Name:
        type:
          - string
          - "null"
    required:
      - ID
  accounts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      BankAccountId:
        type:
          - string
          - "null"
      BankAccountNumber:
        type:
          - string
          - "null"
      Class:
        type:
          - string
          - "null"
      Code:
        type: string
      Description:
        type:
          - string
          - "null"
      DisplayName:
        type:
          - string
          - "null"
      ForPayments:
        type:
          - boolean
          - "null"
      Name:
        type:
          - string
          - "null"
      Status:
        type:
          - string
          - "null"
      SystemAccount:
        type:
          - string
          - "null"
      SystemAccountCode:
        type:
          - string
          - "null"
      Type:
        type:
          - string
          - "null"
    required:
      - Code
  brands:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      ID:
        type: string
      Name:
        type:
          - string
          - "null"
    required:
      - ID
  carriers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      CarrierID:
        type: string
      Description:
        type:
          - string
          - "null"
    required:
      - CarrierID
  customers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      AccountReceivable:
        type:
          - string
          - "null"
      AdditionalAttribute1:
        type:
          - string
          - "null"
      AdditionalAttribute10:
        type:
          - string
          - "null"
      AdditionalAttribute2:
        type:
          - string
          - "null"
      AdditionalAttribute3:
        type:
          - string
          - "null"
      AdditionalAttribute4:
        type:
          - string
          - "null"
      AdditionalAttribute5:
        type:
          - string
          - "null"
      AdditionalAttribute6:
        type:
          - string
          - "null"
      AdditionalAttribute7:
        type:
          - string
          - "null"
      AdditionalAttribute8:
        type:
          - string
          - "null"
      AdditionalAttribute9:
        type:
          - string
          - "null"
      Addresses:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            City:
              type:
                - string
                - "null"
            Country:
              type:
                - string
                - "null"
            DefaultForType:
              type:
                - boolean
                - "null"
            ID:
              type:
                - string
                - "null"
            Line1:
              type:
                - string
                - "null"
            Line2:
              type:
                - string
                - "null"
            Postcode:
              type:
                - string
                - "null"
            State:
              type:
                - string
                - "null"
            Type:
              type:
                - string
                - "null"
      Carrier:
        type:
          - string
          - "null"
      Comments:
        type:
          - string
          - "null"
      Contacts:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            Comment:
              type:
                - string
                - "null"
            Default:
              type:
                - boolean
                - "null"
            Email:
              type:
                - string
                - "null"
            Fax:
              type:
                - string
                - "null"
            ID:
              type:
                - string
                - "null"
            IncludeInEmail:
              type:
                - boolean
                - "null"
            JobTitle:
              type:
                - string
                - "null"
            MarketingConsent:
              type:
                - number
                - "null"
            MobilePhone:
              type:
                - string
                - "null"
            Name:
              type:
                - string
                - "null"
            Phone:
              type:
                - string
                - "null"
            Website:
              type:
                - string
                - "null"
      CreditLimit:
        type:
          - number
          - "null"
      Currency:
        type:
          - string
          - "null"
      Discount:
        type:
          - number
          - "null"
      ID:
        type: string
      IsOnCreditHold:
        type:
          - boolean
          - "null"
      LastModifiedOn:
        type:
          - string
          - "null"
      Location:
        type:
          - string
          - "null"
      Name:
        type:
          - string
          - "null"
      PaymentTerm:
        type:
          - string
          - "null"
      PriceTier:
        type:
          - string
          - "null"
      ProductPrices:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            Price:
              type:
                - number
                - "null"
            ProductID:
              type:
                - string
                - "null"
            ProductName:
              type:
                - string
                - "null"
            ProductSKU:
              type:
                - string
                - "null"
      RevenueAccount:
        type:
          - string
          - "null"
      SalesRepresentative:
        type:
          - string
          - "null"
      Status:
        type:
          - string
          - "null"
      Tags:
        type:
          - string
          - "null"
      TaxNumber:
        type:
          - string
          - "null"
      TaxRule:
        type:
          - string
          - "null"
    required:
      - ID
  deals:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      AllowCoupons:
        type:
          - boolean
          - "null"
      CouponCodes:
        type:
          - string
          - "null"
      CustomersGroup:
        type:
          - string
          - "null"
      DateFrom:
        type:
          - string
          - "null"
      DateTo:
        type:
          - string
          - "null"
      DealCustomerTags:
        type:
          - array
          - "null"
      DealCustomers:
        type:
          - array
          - "null"
      DealDiscounts:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            BuyMore:
              type:
                - boolean
                - "null"
            DealDiscountBrands:
              type:
                - array
                - "null"
            DealDiscountCategories:
              type:
                - array
                - "null"
              items:
                type:
                  - object
                  - "null"
                properties:
                  CategoryID:
                    type:
                      - string
                      - "null"
                  CategoryName:
                    type:
                      - string
                      - "null"
                  ID:
                    type:
                      - string
                      - "null"
            DealDiscountProducts:
              type:
                - array
                - "null"
            DealDiscountTags:
              type:
                - array
                - "null"
            DiscountID:
              type:
                - string
                - "null"
            DiscountName:
              type:
                - string
                - "null"
            DiscountType:
              type:
                - string
                - "null"
            ID:
              type:
                - string
                - "null"
            IsOrderLevel:
              type:
                - boolean
                - "null"
            Sequence:
              type:
                - number
                - "null"
      ID:
        type: string
      IsActive:
        type:
          - boolean
          - "null"
      Name:
        type:
          - string
          - "null"
      SingleCouponCodeUsage:
        type:
          - boolean
          - "null"
    required:
      - ID
  locations:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      AddressCitySuburb:
        type:
          - string
          - "null"
      AddressCountry:
        type:
          - string
          - "null"
      AddressLine1:
        type:
          - string
          - "null"
      AddressLine2:
        type:
          - string
          - "null"
      AddressStateProvince:
        type:
          - string
          - "null"
      AddressZipPostCode:
        type:
          - string
          - "null"
      Bins:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            ID:
              type:
                - string
                - "null"
            IsDeprecated:
              type:
                - boolean
                - "null"
            IsStaging:
              type:
                - boolean
                - "null"
            Name:
              type:
                - string
                - "null"
      FixedAssetsLocation:
        type:
          - boolean
          - "null"
      ID:
        type: string
      IsCoMan:
        type:
          - boolean
          - "null"
      IsDefault:
        type:
          - boolean
          - "null"
      IsDeprecated:
        type:
          - boolean
          - "null"
      IsShopFloor:
        type:
          - boolean
          - "null"
      IsStaging:
        type:
          - boolean
          - "null"
      Name:
        type:
          - string
          - "null"
      ParentID:
        type:
          - string
          - "null"
      PickZones:
        type:
          - string
          - "null"
    required:
      - ID
  products:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      AdditionalAttribute1:
        type:
          - string
          - "null"
      AdditionalAttribute10:
        type:
          - string
          - "null"
      AdditionalAttribute2:
        type:
          - string
          - "null"
      AdditionalAttribute3:
        type:
          - string
          - "null"
      AdditionalAttribute4:
        type:
          - string
          - "null"
      AdditionalAttribute5:
        type:
          - string
          - "null"
      AdditionalAttribute6:
        type:
          - string
          - "null"
      AdditionalAttribute7:
        type:
          - string
          - "null"
      AdditionalAttribute8:
        type:
          - string
          - "null"
      AdditionalAttribute9:
        type:
          - string
          - "null"
      AlwaysShowQuantity:
        type:
          - number
          - "null"
      AssemblyCostEstimationMethod:
        type:
          - string
          - "null"
      AssemblyInstructionURL:
        type:
          - string
          - "null"
      Attachments:
        type:
          - array
          - "null"
      AutoAssembly:
        type:
          - boolean
          - "null"
      AutoDisassembly:
        type:
          - boolean
          - "null"
      AverageCost:
        type:
          - number
          - "null"
      BOMType:
        type:
          - string
          - "null"
      Barcode:
        type:
          - string
          - "null"
      BillOfMaterial:
        type:
          - boolean
          - "null"
      BillOfMaterialsProducts:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            ComponentProductID:
              type:
                - string
                - "null"
            CostPercentage:
              type:
                - number
                - "null"
            Name:
              type:
                - string
                - "null"
            ProductCode:
              type:
                - string
                - "null"
            Quantity:
              type:
                - number
                - "null"
            WastagePercent:
              type:
                - number
                - "null"
            WastageQuantity:
              type:
                - number
                - "null"
      BillOfMaterialsServices:
        type:
          - array
          - "null"
      COGSAccount:
        type:
          - string
          - "null"
      CartonHeight:
        type:
          - number
          - "null"
      CartonInnerQuantity:
        type:
          - number
          - "null"
      CartonLength:
        type:
          - number
          - "null"
      CartonQuantity:
        type:
          - number
          - "null"
      CartonWidth:
        type:
          - number
          - "null"
      Category:
        type:
          - string
          - "null"
      CostingMethod:
        type:
          - string
          - "null"
      CustomPrices:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            CustomerCurrency:
              type:
                - string
                - "null"
            CustomerID:
              type:
                - string
                - "null"
            CustomerName:
              type:
                - string
                - "null"
            Price:
              type:
                - number
                - "null"
      DefaultLocation:
        type:
          - string
          - "null"
      Description:
        type:
          - string
          - "null"
      DimensionsUnits:
        type:
          - string
          - "null"
      DropShipMode:
        type:
          - string
          - "null"
      ExpenseAccount:
        type:
          - string
          - "null"
      Height:
        type:
          - number
          - "null"
      ID:
        type: string
      InternalNote:
        type:
          - string
          - "null"
      InventoryAccount:
        type:
          - string
          - "null"
      LastModifiedOn:
        type:
          - string
          - "null"
      Length:
        type:
          - number
          - "null"
      MinimumBeforeReorder:
        type:
          - number
          - "null"
      Movements:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            Amount:
              type:
                - number
                - "null"
            BatchSN:
              type:
                - string
                - "null"
            Date:
              type:
                - string
                - "null"
            FromTo:
              type:
                - string
                - "null"
            Location:
              type:
                - string
                - "null"
            Number:
              type:
                - string
                - "null"
            Quantity:
              type:
                - number
                - "null"
            TaskID:
              type:
                - string
                - "null"
            Type:
              type:
                - string
                - "null"
      Name:
        type:
          - string
          - "null"
      PickZones:
        type:
          - string
          - "null"
      PriceTier1:
        type:
          - number
          - "null"
      PriceTier10:
        type:
          - number
          - "null"
      PriceTier2:
        type:
          - number
          - "null"
      PriceTier3:
        type:
          - number
          - "null"
      PriceTier4:
        type:
          - number
          - "null"
      PriceTier5:
        type:
          - number
          - "null"
      PriceTier6:
        type:
          - number
          - "null"
      PriceTier7:
        type:
          - number
          - "null"
      PriceTier8:
        type:
          - number
          - "null"
      PriceTier9:
        type:
          - number
          - "null"
      PriceTiers:
        type:
          - object
          - "null"
        properties:
          China Star:
            type:
              - number
              - "null"
          H mart & Weee:
            type:
              - number
              - "null"
          Major Customers:
            type:
              - number
              - "null"
          Stander Price:
            type:
              - number
              - "null"
          Tier 10:
            type:
              - number
              - "null"
          Tier 6:
            type:
              - number
              - "null"
          Tier 7:
            type:
              - number
              - "null"
          Tier 8:
            type:
              - number
              - "null"
          Tier 9:
            type:
              - number
              - "null"
          West Lake & Golden King:
            type:
              - number
              - "null"
      PurchaseTaxRule:
        type:
          - string
          - "null"
      QuantityToProduce:
        type:
          - number
          - "null"
      ReorderLevels:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            LocationID:
              type:
                - string
                - "null"
            LocationName:
              type:
                - string
                - "null"
            MinimumBeforeReorder:
              type:
                - number
                - "null"
            PickZones:
              type:
                - string
                - "null"
            ReorderQuantity:
              type:
                - number
                - "null"
            StockLocator:
              type:
                - string
                - "null"
      ReorderQuantity:
        type:
          - number
          - "null"
      RevenueAccount:
        type:
          - string
          - "null"
      SKU:
        type:
          - string
          - "null"
      SaleTaxRule:
        type:
          - string
          - "null"
      Sellable:
        type:
          - boolean
          - "null"
      ShortDescription:
        type:
          - string
          - "null"
      Status:
        type:
          - string
          - "null"
      StockLocator:
        type:
          - string
          - "null"
      Suppliers:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            Cost:
              type:
                - number
                - "null"
            Currency:
              type:
                - string
                - "null"
            DropShip:
              type:
                - boolean
                - "null"
            FixedCost:
              type:
                - number
                - "null"
            LastSupplied:
              type:
                - string
                - "null"
            ProductID:
              type:
                - string
                - "null"
            ProductSupplierID:
              type:
                - string
                - "null"
            ProductSupplierOptions:
              type:
                - array
                - "null"
            PurchaseCost:
              type:
                - number
                - "null"
            SupplierID:
              type:
                - string
                - "null"
            SupplierInventoryCode:
              type:
                - string
                - "null"
            SupplierName:
              type:
                - string
                - "null"
      Tags:
        type:
          - string
          - "null"
      Type:
        type:
          - string
          - "null"
      UOM:
        type:
          - string
          - "null"
      Weight:
        type:
          - number
          - "null"
      WeightUnits:
        type:
          - string
          - "null"
      Width:
        type:
          - number
          - "null"
    required:
      - ID
  purchase_list:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      BaseCurrency:
        type:
          - string
          - "null"
      BlindReceipt:
        type:
          - boolean
          - "null"
      CombinedInvoiceStatus:
        type:
          - string
          - "null"
      CombinedPaymentStatus:
        type:
          - string
          - "null"
      CombinedReceivingStatus:
        type:
          - string
          - "null"
      CreditNoteNumber:
        type:
          - string
          - "null"
      CreditNoteStatus:
        type:
          - string
          - "null"
      ID:
        type: string
      InvoiceAmount:
        type:
          - number
          - "null"
      InvoiceDate:
        type:
          - string
          - "null"
      InvoiceDueDate:
        type:
          - string
          - "null"
      InvoiceNumber:
        type:
          - string
          - "null"
      InvoiceStatus:
        type:
          - string
          - "null"
      IsServiceOnly:
        type:
          - boolean
          - "null"
      LastUpdatedDate:
        type:
          - string
          - "null"
      OrderDate:
        type:
          - string
          - "null"
      OrderNumber:
        type:
          - string
          - "null"
      OrderStatus:
        type:
          - string
          - "null"
      PaidAmount:
        type:
          - number
          - "null"
      Status:
        type:
          - string
          - "null"
      StockReceivedStatus:
        type:
          - string
          - "null"
      Supplier:
        type:
          - string
          - "null"
      SupplierCurrency:
        type:
          - string
          - "null"
      SupplierID:
        type:
          - string
          - "null"
      Type:
        type:
          - string
          - "null"
      UnstockStatus:
        type:
          - string
          - "null"
    required:
      - ID
  suppliers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      AccountPayable:
        type:
          - string
          - "null"
      Addresses:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            City:
              type:
                - string
                - "null"
            Country:
              type:
                - string
                - "null"
            DefaultForType:
              type:
                - boolean
                - "null"
            ID:
              type:
                - string
                - "null"
            Line1:
              type:
                - string
                - "null"
            Line2:
              type:
                - string
                - "null"
            Postcode:
              type:
                - string
                - "null"
            State:
              type:
                - string
                - "null"
            Type:
              type:
                - string
                - "null"
      Comments:
        type:
          - string
          - "null"
      Contacts:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            Comment:
              type:
                - string
                - "null"
            Default:
              type:
                - boolean
                - "null"
            Email:
              type:
                - string
                - "null"
            Fax:
              type:
                - string
                - "null"
            ID:
              type:
                - string
                - "null"
            IncludeInEmail:
              type:
                - boolean
                - "null"
            MobilePhone:
              type:
                - string
                - "null"
            Name:
              type:
                - string
                - "null"
            Phone:
              type:
                - string
                - "null"
            Website:
              type:
                - string
                - "null"
      Currency:
        type:
          - string
          - "null"
      Discount:
        type:
          - number
          - "null"
      ID:
        type: string
      LastModifiedOn:
        type:
          - string
          - "null"
      Name:
        type:
          - string
          - "null"
      PaymentTerm:
        type:
          - string
          - "null"
      Status:
        type:
          - string
          - "null"
      TaxNumber:
        type:
          - string
          - "null"
      TaxRule:
        type:
          - string
          - "null"
    required:
      - ID
  opportunities:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      AdditionalCharges:
        type:
          - array
          - "null"
      BillingAddressLine1:
        type:
          - string
          - "null"
      BillingAddressLine2:
        type:
          - string
          - "null"
      Contact:
        type:
          - string
          - "null"
      Currency:
        type:
          - string
          - "null"
      CurrencyConversionRate:
        type:
          - number
          - "null"
      CustomField1:
        type:
          - string
          - "null"
      CustomField10:
        type:
          - string
          - "null"
      CustomField2:
        type:
          - string
          - "null"
      CustomField3:
        type:
          - string
          - "null"
      CustomField4:
        type:
          - string
          - "null"
      CustomField5:
        type:
          - string
          - "null"
      CustomField6:
        type:
          - string
          - "null"
      CustomField7:
        type:
          - string
          - "null"
      CustomField8:
        type:
          - string
          - "null"
      CustomField9:
        type:
          - string
          - "null"
      CustomerCurrency:
        type:
          - string
          - "null"
      CustomerName:
        type:
          - string
          - "null"
      CustomerReference:
        type:
          - string
          - "null"
      DefaultAccount:
        type:
          - string
          - "null"
      ID:
        type:
          - string
          - "null"
      LeadID:
        type:
          - string
          - "null"
      Lines:
        type:
          - array
          - "null"
      OpportunityComment:
        type:
          - string
          - "null"
      OpportunityDate:
        type:
          - string
          - "null"
      OpportunityLocation:
        type:
          - string
          - "null"
      OpportunityMemo:
        type:
          - string
          - "null"
      OpportunityNumber:
        type:
          - string
          - "null"
      OpportunityStatus:
        type:
          - string
          - "null"
      Phone:
        type:
          - string
          - "null"
      PriceTier:
        type:
          - string
          - "null"
      SalesRepresentative:
        type:
          - string
          - "null"
      ShipToAddress1:
        type:
          - string
          - "null"
      ShipToAddress2:
        type:
          - string
          - "null"
      ShipToCity:
        type:
          - string
          - "null"
      ShipToCompany:
        type:
          - string
          - "null"
      ShipToContact:
        type:
          - string
          - "null"
      ShipToCountry:
        type:
          - string
          - "null"
      ShipToOther:
        type:
          - boolean
          - "null"
      ShipToPostCode:
        type:
          - string
          - "null"
      ShipToState:
        type:
          - string
          - "null"
      ShippingAddressLine1:
        type:
          - string
          - "null"
      ShippingAddressLine2:
        type:
          - string
          - "null"
      TaxInclusive:
        type:
          - boolean
          - "null"
      TaxPercent:
        type:
          - number
          - "null"
      TaxRule:
        type:
          - string
          - "null"
      TaxTotal:
        type:
          - number
          - "null"
      TermDays:
        type:
          - number
          - "null"
      TermDueNextMonth:
        type:
          - number
          - "null"
      TermMethod:
        type:
          - number
          - "null"
      Terms:
        type:
          - string
          - "null"
      Total:
        type:
          - number
          - "null"
  sale_list:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      BaseCurrency:
        type:
          - string
          - "null"
      CombinedInvoiceStatus:
        type:
          - string
          - "null"
      CombinedPackingStatus:
        type:
          - string
          - "null"
      CombinedPaymentStatus:
        type:
          - string
          - "null"
      CombinedPickingStatus:
        type:
          - string
          - "null"
      CombinedShippingStatus:
        type:
          - string
          - "null"
      CombinedTrackingNumbers:
        type:
          - string
          - "null"
      CreditNoteNumber:
        type:
          - string
          - "null"
      CreditNoteStatus:
        type:
          - string
          - "null"
      Customer:
        type:
          - string
          - "null"
      CustomerCurrency:
        type:
          - string
          - "null"
      CustomerID:
        type:
          - string
          - "null"
      CustomerReference:
        type:
          - string
          - "null"
      ExternalID:
        type:
          - string
          - "null"
      FulFilmentStatus:
        type:
          - string
          - "null"
      InvoiceAmount:
        type:
          - number
          - "null"
      InvoiceDate:
        type:
          - string
          - "null"
      InvoiceDueDate:
        type:
          - string
          - "null"
      InvoiceNumber:
        type:
          - string
          - "null"
      OrderDate:
        type:
          - string
          - "null"
      OrderLocationID:
        type:
          - string
          - "null"
      OrderNumber:
        type:
          - string
          - "null"
      OrderStatus:
        type:
          - string
          - "null"
      PaidAmount:
        type:
          - number
          - "null"
      QuoteStatus:
        type:
          - string
          - "null"
      RestockStatus:
        type:
          - string
          - "null"
      SaleID:
        type: string
      SourceChannel:
        type:
          - string
          - "null"
      Status:
        type:
          - string
          - "null"
      Type:
        type:
          - string
          - "null"
      Updated:
        type:
          - string
          - "null"
    required:
      - SaleID
  taxes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      Account:
        type:
          - string
          - "null"
      Components:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            ComponentOrder:
              type:
                - number
                - "null"
            Compound:
              type:
                - boolean
                - "null"
            Name:
              type:
                - string
                - "null"
      ID:
        type: string
      IsActive:
        type:
          - boolean
          - "null"
      IsTaxForPurchase:
        type:
          - boolean
          - "null"
      IsTaxForSale:
        type:
          - boolean
          - "null"
      Name:
        type:
          - string
          - "null"
      TaxInclusive:
        type:
          - boolean
          - "null"
      TaxPercent:
        type:
          - number
          - "null"
    required:
      - ID
  product_categories:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      ID:
        type: string
      Name:
        type:
          - string
          - "null"
    required:
      - ID
  product_family:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      Attachments:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            ContentType:
              type:
                - string
                - "null"
            DownloadUrl:
              type:
                - string
                - "null"
            FileName:
              type:
                - string
                - "null"
            ID:
              type:
                - string
                - "null"
            IsDefault:
              type:
                - boolean
                - "null"
      AttributeSet:
        type:
          - string
          - "null"
      Brand:
        type:
          - string
          - "null"
      Category:
        type:
          - string
          - "null"
      CostingMethod:
        type:
          - string
          - "null"
      DefaultLocation:
        type:
          - string
          - "null"
      Description:
        type:
          - string
          - "null"
      DropShipMode:
        type:
          - string
          - "null"
      ID:
        type: string
      LastModifiedOn:
        type:
          - string
          - "null"
      MinimumBeforeReorder:
        type:
          - number
          - "null"
      Name:
        type:
          - string
          - "null"
      Option1Name:
        type:
          - string
          - "null"
      Option1Values:
        type:
          - string
          - "null"
      Option2Name:
        type:
          - string
          - "null"
      Option2Values:
        type:
          - string
          - "null"
      Option3Name:
        type:
          - string
          - "null"
      Option3Values:
        type:
          - string
          - "null"
      PriceTier1:
        type:
          - number
          - "null"
      PriceTier10:
        type:
          - number
          - "null"
      PriceTier2:
        type:
          - number
          - "null"
      PriceTier3:
        type:
          - number
          - "null"
      PriceTier4:
        type:
          - number
          - "null"
      PriceTier5:
        type:
          - number
          - "null"
      PriceTier6:
        type:
          - number
          - "null"
      PriceTier7:
        type:
          - number
          - "null"
      PriceTier8:
        type:
          - number
          - "null"
      PriceTier9:
        type:
          - number
          - "null"
      Products:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            ID:
              type:
                - string
                - "null"
            Name:
              type:
                - string
                - "null"
            Option1:
              type:
                - string
                - "null"
            Option2:
              type:
                - string
                - "null"
            Option3:
              type:
                - string
                - "null"
            SKU:
              type:
                - string
                - "null"
      ReorderQuantity:
        type:
          - number
          - "null"
      SKU:
        type:
          - string
          - "null"
      ShortDescription:
        type:
          - string
          - "null"
      Tags:
        type:
          - string
          - "null"
      UOM:
        type:
          - string
          - "null"
    required:
      - ID
  purchases:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      AdditionalAttributes:
        type:
          - object
          - "null"
        properties:
          AdditionalAttribute1:
            type:
              - string
              - "null"
          AdditionalAttribute10:
            type:
              - string
              - "null"
          AdditionalAttribute2:
            type:
              - string
              - "null"
          AdditionalAttribute3:
            type:
              - string
              - "null"
          AdditionalAttribute4:
            type:
              - string
              - "null"
          AdditionalAttribute5:
            type:
              - string
              - "null"
          AdditionalAttribute6:
            type:
              - string
              - "null"
          AdditionalAttribute7:
            type:
              - string
              - "null"
          AdditionalAttribute8:
            type:
              - string
              - "null"
          AdditionalAttribute9:
            type:
              - string
              - "null"
      Approach:
        type:
          - string
          - "null"
      Attachments:
        type:
          - array
          - "null"
      BaseCurrency:
        type:
          - string
          - "null"
      BillingAddress:
        type:
          - object
          - "null"
        properties:
          DisplayAddressLine1:
            type:
              - string
              - "null"
          DisplayAddressLine2:
            type:
              - string
              - "null"
      BlindReceipt:
        type:
          - boolean
          - "null"
      CreditNote:
        type:
          - object
          - "null"
        properties:
          Lines:
            type:
              - array
              - "null"
          Refunds:
            type:
              - array
              - "null"
          Status:
            type:
              - string
              - "null"
          Tax:
            type:
              - number
              - "null"
          Total:
            type:
              - number
              - "null"
          TotalBeforeTax:
            type:
              - number
              - "null"
          Unstock:
            type:
              - array
              - "null"
      CurrencyRate:
        type:
          - number
          - "null"
      ID:
        type: string
      InventoryAccount:
        type:
          - string
          - "null"
      InventoryMovements:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            COGS:
              type:
                - number
                - "null"
            Date:
              type:
                - string
                - "null"
            DimensionsUnits:
              type:
                - string
                - "null"
            ProductCustomField1:
              type:
                - string
                - "null"
            ProductCustomField10:
              type:
                - string
                - "null"
            ProductCustomField2:
              type:
                - string
                - "null"
            ProductCustomField3:
              type:
                - string
                - "null"
            ProductCustomField4:
              type:
                - string
                - "null"
            ProductCustomField5:
              type:
                - string
                - "null"
            ProductCustomField6:
              type:
                - string
                - "null"
            ProductCustomField7:
              type:
                - string
                - "null"
            ProductCustomField8:
              type:
                - string
                - "null"
            ProductCustomField9:
              type:
                - string
                - "null"
            ProductHeight:
              type:
                - number
                - "null"
            ProductID:
              type:
                - string
                - "null"
            ProductLength:
              type:
                - number
                - "null"
            ProductWeight:
              type:
                - number
                - "null"
            ProductWidth:
              type:
                - number
                - "null"
            TaskID:
              type:
                - string
                - "null"
            WeightUnits:
              type:
                - string
                - "null"
      Invoice:
        type:
          - object
          - "null"
        properties:
          InvoiceDate:
            type:
              - string
              - "null"
          InvoiceDueDate:
            type:
              - string
              - "null"
          InvoiceNumber:
            type:
              - string
              - "null"
          Lines:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                Account:
                  type:
                    - string
                    - "null"
                Comment:
                  type:
                    - string
                    - "null"
                DimensionsUnits:
                  type:
                    - string
                    - "null"
                Discount:
                  type:
                    - number
                    - "null"
                Name:
                  type:
                    - string
                    - "null"
                NonInventory:
                  type:
                    - boolean
                    - "null"
                Price:
                  type:
                    - number
                    - "null"
                ProductCustomField1:
                  type:
                    - string
                    - "null"
                ProductCustomField10:
                  type:
                    - string
                    - "null"
                ProductCustomField2:
                  type:
                    - string
                    - "null"
                ProductCustomField3:
                  type:
                    - string
                    - "null"
                ProductCustomField4:
                  type:
                    - string
                    - "null"
                ProductCustomField5:
                  type:
                    - string
                    - "null"
                ProductCustomField6:
                  type:
                    - string
                    - "null"
                ProductCustomField7:
                  type:
                    - string
                    - "null"
                ProductCustomField8:
                  type:
                    - string
                    - "null"
                ProductCustomField9:
                  type:
                    - string
                    - "null"
                ProductHeight:
                  type:
                    - number
                    - "null"
                ProductID:
                  type:
                    - string
                    - "null"
                ProductLength:
                  type:
                    - number
                    - "null"
                ProductWeight:
                  type:
                    - number
                    - "null"
                ProductWidth:
                  type:
                    - number
                    - "null"
                Quantity:
                  type:
                    - number
                    - "null"
                SKU:
                  type:
                    - string
                    - "null"
                Tax:
                  type:
                    - number
                    - "null"
                TaxRule:
                  type:
                    - string
                    - "null"
                Total:
                  type:
                    - number
                    - "null"
                WeightUnits:
                  type:
                    - string
                    - "null"
          Paid:
            type:
              - number
              - "null"
          Payments:
            type:
              - array
              - "null"
          Status:
            type:
              - string
              - "null"
          Tax:
            type:
              - number
              - "null"
          Total:
            type:
              - number
              - "null"
          TotalBeforeTax:
            type:
              - number
              - "null"
      LastUpdatedDate:
        type:
          - string
          - "null"
      Location:
        type:
          - string
          - "null"
      ManualJournals:
        type:
          - object
          - "null"
        properties:
          Lines:
            type:
              - array
              - "null"
          Status:
            type:
              - string
              - "null"
      Order:
        type:
          - object
          - "null"
        properties:
          Lines:
            type:
              - array
              - "null"
          Prepayments:
            type:
              - array
              - "null"
          Status:
            type:
              - string
              - "null"
          Tax:
            type:
              - number
              - "null"
          Total:
            type:
              - number
              - "null"
          TotalBeforeTax:
            type:
              - number
              - "null"
      OrderDate:
        type:
          - string
          - "null"
      OrderNumber:
        type:
          - string
          - "null"
      ShippingAddress:
        type:
          - object
          - "null"
        properties:
          City:
            type:
              - string
              - "null"
          Country:
            type:
              - string
              - "null"
          DisplayAddressLine1:
            type:
              - string
              - "null"
          DisplayAddressLine2:
            type:
              - string
              - "null"
          Line1:
            type:
              - string
              - "null"
          Line2:
            type:
              - string
              - "null"
          Postcode:
            type:
              - string
              - "null"
          ShipToOther:
            type:
              - boolean
              - "null"
          State:
            type:
              - string
              - "null"
      Status:
        type:
          - string
          - "null"
      StockReceived:
        type:
          - object
          - "null"
        properties:
          Lines:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                CardID:
                  type:
                    - string
                    - "null"
                Date:
                  type:
                    - string
                    - "null"
                DimensionsUnits:
                  type:
                    - string
                    - "null"
                Location:
                  type:
                    - string
                    - "null"
                LocationID:
                  type:
                    - string
                    - "null"
                Name:
                  type:
                    - string
                    - "null"
                ProductCustomField1:
                  type:
                    - string
                    - "null"
                ProductCustomField10:
                  type:
                    - string
                    - "null"
                ProductCustomField2:
                  type:
                    - string
                    - "null"
                ProductCustomField3:
                  type:
                    - string
                    - "null"
                ProductCustomField4:
                  type:
                    - string
                    - "null"
                ProductCustomField5:
                  type:
                    - string
                    - "null"
                ProductCustomField6:
                  type:
                    - string
                    - "null"
                ProductCustomField7:
                  type:
                    - string
                    - "null"
                ProductCustomField8:
                  type:
                    - string
                    - "null"
                ProductCustomField9:
                  type:
                    - string
                    - "null"
                ProductHeight:
                  type:
                    - number
                    - "null"
                ProductID:
                  type:
                    - string
                    - "null"
                ProductLength:
                  type:
                    - number
                    - "null"
                ProductWeight:
                  type:
                    - number
                    - "null"
                ProductWidth:
                  type:
                    - number
                    - "null"
                Quantity:
                  type:
                    - number
                    - "null"
                Received:
                  type:
                    - boolean
                    - "null"
                SKU:
                  type:
                    - string
                    - "null"
                WeightUnits:
                  type:
                    - string
                    - "null"
          Status:
            type:
              - string
              - "null"
      Supplier:
        type:
          - string
          - "null"
      SupplierCurrency:
        type:
          - string
          - "null"
      SupplierID:
        type:
          - string
          - "null"
      TaxCalculation:
        type:
          - string
          - "null"
      TaxRule:
        type:
          - string
          - "null"
      Terms:
        type:
          - string
          - "null"
    required:
      - ID
  leads:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      Addresses:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            City:
              type:
                - string
                - "null"
            Country:
              type:
                - string
                - "null"
            DefaultForType:
              type:
                - boolean
                - "null"
            ID:
              type:
                - string
                - "null"
            Line1:
              type:
                - string
                - "null"
            Line2:
              type:
                - string
                - "null"
            Postcode:
              type:
                - string
                - "null"
            State:
              type:
                - string
                - "null"
            Type:
              type:
                - string
                - "null"
      Amount:
        type:
          - number
          - "null"
      CloseChance:
        type:
          - number
          - "null"
      CloseDate:
        type:
          - string
          - "null"
      Comments:
        type:
          - string
          - "null"
      Contacts:
        type:
          - array
          - "null"
      Currency:
        type:
          - string
          - "null"
      ID:
        type:
          - string
          - "null"
      LeadStatus:
        type:
          - string
          - "null"
      Name:
        type:
          - string
          - "null"
      PaymentTerm:
        type:
          - string
          - "null"
      PriceTier:
        type:
          - string
          - "null"
      SalesRepresentative:
        type:
          - string
          - "null"
      TaxRule:
        type:
          - string
          - "null"
