version: 6.44.0

type: DeclarativeSource

description: >-
  Website: https://app.signeasy.com/

  API Reference:
  https://docs.signeasy.com/reference/introduction-to-signeasy-apis

check:
  type: CheckStream
  stream_names:
    - user_me

definitions:
  streams:
    user_me:
      type: DeclarativeStream
      name: user_me
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v3/me/
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: last_modified_time
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/user_me"
    originals:
      type: DeclarativeStream
      name: originals
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v3/original/
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - files
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: last_modified_time
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/originals"
    envelopes:
      type: DeclarativeStream
      name: envelopes
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v3/rs/envelope/
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - files
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: last_modified_time
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/envelopes"
    signed_envelopes:
      type: DeclarativeStream
      name: signed_envelopes
      primary_key:
        - uuid
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v3/rs/embedded/signed
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uuid
              value: "{{ now_utc() }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/signed_envelopes"
    self_signed_documents:
      type: DeclarativeStream
      name: self_signed_documents
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v3/me/signed/
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - files
        decoder:
          type: JsonDecoder
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: last_modified_time
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/self_signed_documents"
    templates:
      type: DeclarativeStream
      name: templates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /v3/template
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/templates"
  base_requester:
    type: HttpRequester
    url_base: https://api.signeasy.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/user_me"
  - $ref: "#/definitions/streams/originals"
  - $ref: "#/definitions/streams/envelopes"
  - $ref: "#/definitions/streams/signed_envelopes"
  - $ref: "#/definitions/streams/self_signed_documents"
  - $ref: "#/definitions/streams/templates"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
      - start_date
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 1
    additionalProperties: true

metadata:
  autoImportSchema:
    user_me: true
    originals: true
    envelopes: true
    signed_envelopes: false
    self_signed_documents: true
    templates: true
  testedStreams:
    user_me:
      streamHash: e02c95434f73735d26f08be8d404b3790f937d3f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    originals:
      streamHash: 5f60ed4ca22bd073e76906781c96e331a2cf64ed
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    envelopes:
      streamHash: 4506ab3a943f36488af7ae6302466a1dab0c96ae
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    signed_envelopes:
      streamHash: 4b967046419cdf266f253a737fe8e9e24d6543ba
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    self_signed_documents:
      streamHash: 6309d3c8628312faf4f4a32d8d4794eef6867dbe
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    templates:
      streamHash: 6d60a7c7cca52e8ed5bd4b80726f7d7828eec7a7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://docs.signeasy.com/reference/fetch-user-details

schemas:
  user_me:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      account_name:
        type:
          - string
          - "null"
      account_type:
        type:
          - number
          - "null"
      activation_time:
        type:
          - number
          - "null"
      billing_cycle:
        type:
          - string
          - "null"
      company:
        type:
          - string
          - "null"
      created_time:
        type:
          - number
          - "null"
      document_credits:
        type:
          - number
          - "null"
      eligible_for_yearly_plan:
        type:
          - boolean
          - "null"
      email:
        type:
          - string
          - "null"
      email_verified:
        type:
          - number
          - "null"
      envelope_credits_available:
        type:
          - number
          - "null"
      envelope_credits_consumed:
        type:
          - number
          - "null"
      first_name:
        type:
          - string
          - "null"
      grace_envelope_credits_available:
        type:
          - number
          - "null"
      grace_envelope_credits_consumed:
        type:
          - number
          - "null"
      id:
        type: number
      import_status:
        type:
          - boolean
          - "null"
      imported_file_count:
        type:
          - number
          - "null"
      is_allowed_change_expiry:
        type:
          - number
          - "null"
      is_auto_renew:
        type:
          - number
          - "null"
      is_paid:
        type:
          - number
          - "null"
      is_social:
        type:
          - number
          - "null"
      is_template_creation_allowed:
        type:
          - boolean
          - "null"
      last_modified_time:
        type: number
      last_name:
        type:
          - string
          - "null"
      plan_subtype:
        type:
          - number
          - "null"
      referrer_code:
        type:
          - string
          - "null"
      referrer_promo_left:
        type:
          - number
          - "null"
      referrer_promo_used:
        type:
          - number
          - "null"
      rs_allowed:
        type:
          - boolean
          - "null"
      signed_file_count:
        type:
          - number
          - "null"
      ss_allowed:
        type:
          - boolean
          - "null"
      status:
        type:
          - number
          - "null"
      subscription_expiry_time:
        type:
          - number
          - "null"
      subscription_status:
        type:
          - string
          - "null"
    required:
      - id
      - last_modified_time
  originals:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      created_time:
        type:
          - number
          - "null"
      id:
        type: number
      last_modified_time:
        type: number
      name:
        type:
          - string
          - "null"
    required:
      - id
      - last_modified_time
  envelopes:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      aadhaar_enabled:
        type:
          - number
          - "null"
      cc:
        type:
          - array
          - "null"
      created_time:
        type:
          - number
          - "null"
      envelope_size:
        type:
          - number
          - "null"
      expiry_time:
        type:
          - number
          - "null"
      has_markers:
        type:
          - number
          - "null"
      has_radio_buttons:
        type:
          - number
          - "null"
      id:
        type: number
      is_deleted:
        type:
          - number
          - "null"
      is_embedded_sending:
        type:
          - number
          - "null"
      is_envelope:
        type:
          - number
          - "null"
      is_in_person:
        type:
          - number
          - "null"
      is_mobile_supported:
        type:
          - number
          - "null"
      is_ordered:
        type:
          - number
          - "null"
      last_modified_time:
        type: number
      message:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      next:
        type:
          - number
          - "null"
      owner_email:
        type:
          - string
          - "null"
      owner_first_name:
        type:
          - string
          - "null"
      owner_last_name:
        type:
          - string
          - "null"
      owner_user_id:
        type:
          - number
          - "null"
      public_link:
        type:
          - string
          - "null"
      recipients:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            2fa_enable:
              type:
                - boolean
                - "null"
            country_code:
              type:
                - string
                - "null"
            created_time:
              type:
                - number
                - "null"
            decline_message:
              type:
                - string
                - "null"
            email:
              type:
                - string
                - "null"
            first_name:
              type:
                - string
                - "null"
            id:
              type:
                - number
                - "null"
            is_deleted:
              type:
                - number
                - "null"
            is_otp_verified:
              type:
                - number
                - "null"
            last_modified_time:
              type:
                - number
                - "null"
            last_name:
              type:
                - string
                - "null"
            order_id:
              type:
                - number
                - "null"
            otp_type:
              type:
                - string
                - "null"
            recipient_id:
              type:
                - number
                - "null"
            recipient_user_id:
              type:
                - number
                - "null"
            status:
              type:
                - string
                - "null"
            verification_status:
              type:
                - number
                - "null"
      status:
        type:
          - string
          - "null"
    required:
      - id
      - last_modified_time
  signed_envelopes:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    title: Generated schema for Root
    properties:
      count:
        type:
          - number
          - "null"
      files:
        type:
          - array
          - "null"
        items:
          type: object
          properties:
            aadhaar_enabled:
              type:
                - "null"
            checksum:
              type:
                - string
                - "null"
            created_time:
              type:
                - number
                - "null"
            fa_aadhaar_enabled:
              type:
                - "null"
            id:
              type:
                - number
                - "null"
            last_modified_time:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
            pending_file:
              type:
                - object
                - "null"
              properties:
                created_time:
                  type:
                    - number
                    - "null"
                has_markers:
                  type:
                    - number
                    - "null"
                id:
                  type:
                    - number
                    - "null"
                is_in_person:
                  type:
                    - number
                    - "null"
                is_ordered:
                  type:
                    - number
                    - "null"
                last_modified_time:
                  type:
                    - number
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                next:
                  type:
                    - number
                    - "null"
                owner_company:
                  type:
                    - "null"
                    - string
                owner_email:
                  type:
                    - string
                    - "null"
                owner_first_name:
                  type:
                    - string
                    - "null"
                owner_last_name:
                  type:
                    - string
                    - "null"
                recipients:
                  type:
                    - array
                    - "null"
                  items:
                    type: object
                    properties:
                      created_time:
                        type:
                          - number
                          - "null"
                      email:
                        type:
                          - string
                          - "null"
                      first_name:
                        type:
                          - string
                          - "null"
                      last_modified_time:
                        type:
                          - number
                          - "null"
                      last_name:
                        type:
                          - string
                          - "null"
                      order_id:
                        type:
                          - number
                          - "null"
                      recipient_id:
                        type:
                          - number
                          - "null"
                      recipient_user_id:
                        type:
                          - number
                          - "null"
                      status:
                        type:
                          - string
                          - "null"
                status:
                  type:
                    - string
                    - "null"
            public_identifier:
              type:
                - string
                - "null"
    additionalProperties: true
  self_signed_documents:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      aadhaar_enabled:
        type:
          - number
          - "null"
      checksum:
        type:
          - string
          - "null"
      created_time:
        type:
          - number
          - "null"
      id:
        type: number
      last_modified_time:
        type: number
      name:
        type:
          - string
          - "null"
      public_identifier:
        type:
          - string
          - "null"
    required:
      - id
      - last_modified_time
  templates:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      metadata:
        type:
          - object
          - "null"
        properties:
          attachments:
            type:
              - array
              - "null"
          fields:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                editable:
                  type:
                    - boolean
                    - "null"
                id:
                  type:
                    - number
                    - "null"
                page_number:
                  type:
                    - number
                    - "null"
                position:
                  type:
                    - object
                    - "null"
                  properties:
                    height:
                      type:
                        - number
                        - "null"
                    width:
                      type:
                        - number
                        - "null"
                    x:
                      type:
                        - number
                        - "null"
                    "y":
                      type:
                        - number
                        - "null"
                required:
                  type:
                    - boolean
                    - "null"
                role_id:
                  type:
                    - number
                    - "null"
          merge_fields:
            type:
              - array
              - "null"
          roles:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                color:
                  type:
                    - string
                    - "null"
                fields:
                  type:
                    - array
                    - "null"
                id:
                  type:
                    - number
                    - "null"
                name:
                  type:
                    - string
                    - "null"
      created_time:
        type:
          - number
          - "null"
      file_content_type:
        type:
          - string
          - "null"
      file_status:
        type:
          - string
          - "null"
      filename_fileserver:
        type:
          - string
          - "null"
      group_info:
        type:
          - object
          - "null"
        properties:
          data:
            type:
              - object
              - "null"
            properties:
              group:
                type:
                  - string
                  - "null"
              owner_id:
                type:
                  - number
                  - "null"
              teams:
                type:
                  - array
                  - "null"
              users:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - number
                    - "null"
      hash:
        type:
          - string
          - "null"
      id:
        type: number
      isTransfer:
        type:
          - boolean
          - "null"
      is_new:
        type:
          - boolean
          - "null"
      is_ordered:
        type:
          - boolean
          - "null"
      is_owned:
        type:
          - boolean
          - "null"
      is_public:
        type:
          - boolean
          - "null"
      is_shared:
        type:
          - boolean
          - "null"
      link:
        type:
          - string
          - "null"
      message:
        type:
          - string
          - "null"
      modified_time:
        type:
          - number
          - "null"
      name:
        type:
          - string
          - "null"
      owner_user_id:
        type:
          - number
          - "null"
      shared_with_everyone:
        type:
          - boolean
          - "null"
      specific_user:
        type:
          - boolean
          - "null"
    required:
      - id
