version: 0.57.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - checks
streams:
  - name: checks
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      requester:
        path: checks
        type: HttpRequester
        url_base: https://api.pingdom.com/api/3.1/
        http_method: GET
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
        request_headers: {}
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - checks
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: offset
        page_size_option:
          inject_into: request_parameter
          field_name: limit
          type: RequestOption
        pagination_strategy:
          type: OffsetIncrement
          page_size: 25000
      partition_router: []
    primary_key:
      - id
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_pingdom/schemas/checks.json"
  - name: performance
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        path: summary.performance/{{stream_partition.check_id}}
        type: HttpRequester
        url_base: https://api.pingdom.com/api/3.1/
        http_method: GET
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
        request_headers: {}
        request_body_json: {}
        request_parameters:
          probes: "{{ config['probes'] }}"
          resolution: "{{ config['resolution'] }}"
          includeuptime: "true"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        - type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                name: checks
                type: DeclarativeStream
                retriever:
                  type: SimpleRetriever
                  paginator:
                    type: NoPagination
                  requester:
                    path: checks
                    type: HttpRequester
                    url_base: https://api.pingdom.com/api/3.1/
                    http_method: GET
                    authenticator:
                      type: BearerAuthenticator
                      api_token: "{{ config['api_key'] }}"
                    request_headers: {}
                    request_body_json: {}
                    request_parameters: {}
                  record_selector:
                    type: RecordSelector
                    extractor:
                      type: DpathExtractor
                      field_path:
                        - checks
                  partition_router: []
                primary_key:
                  - id
                schema_loader:
                  type: JsonFileSchemaLoader
                  file_path: "./source_pingdom/schemas/checks.json"
              parent_key: id
              partition_field: check_id
    primary_key: []
    schema_loader:
      type: JsonFileSchemaLoader
      file_path: "./source_pingdom/schemas/performance.json"
    transformations:
      - type: AddFields
        fields:
          - path:
              - check_id
            value: "{{stream_partition.check_id}}"
