version: 0.79.1

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - users
    - leads
    - campaigns

definitions:
  streams:
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: users
          http_method: GET
          request_headers:
            x-api-key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - users
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ last_record['next_page'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    leads:
      type: DeclarativeStream
      name: leads
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: leads
          http_method: GET
          request_headers:
            x-api-key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - leads
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            extractorPath: leads
            cursor_value: "{{ last_record['next_page'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/leads"
    campaigns:
      type: DeclarativeStream
      name: campaigns
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: campaigns
          http_method: GET
          request_headers:
            x-api-key: "{{ config['api_key'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - campaigns
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            extractorPath: campaigns
            cursor_value: "{{ last_record['next_page'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns"
  base_requester:
    type: HttpRequester
    url_base: https://api.persistiq.com/v1/

streams:
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/leads"
  - $ref: "#/definitions/streams/campaigns"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: >-
          PersistIq API Key. See the <a
          href="https://apidocs.persistiq.com/#authentication">docs</a> for more
          information on where to find that key.
        airbyte_secret: true
        order: 0
    additionalProperties: true

metadata:
  autoImportSchema:
    users: false
    leads: false
    campaigns: false

schemas:
  users:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      activated:
        type:
          - "null"
          - boolean
      default_mailbox_id:
        type:
          - "null"
          - string
      email:
        type:
          - string
        format: email
      id:
        type:
          - string
      name:
        type:
          - "null"
          - string
      salesforce_id:
        type:
          - "null"
          - string
  leads:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      bounced:
        type:
          - "null"
          - boolean
      creator_id:
        type:
          - "null"
          - string
      data:
        type: object
        properties:
          address:
            type:
              - "null"
              - string
          city:
            type:
              - "null"
              - string
          company_name:
            type:
              - "null"
              - string
          email:
            type:
              - "null"
              - string
            format: email
          facebook:
            type:
              - "null"
              - string
          first_name:
            type:
              - "null"
              - string
          industry:
            type:
              - "null"
              - string
          last_name:
            type:
              - "null"
              - string
          linkedin:
            type:
              - "null"
              - string
          phone:
            type:
              - "null"
              - string
          salesforce_id:
            type:
              - "null"
              - string
          snippet:
            type:
              - "null"
              - string
          snippet1:
            type:
              - "null"
              - string
          snippet2:
            type:
              - "null"
              - string
          snippet3:
            type:
              - "null"
              - string
          snippet4:
            type:
              - "null"
              - string
          state:
            type:
              - "null"
              - string
          title:
            type:
              - "null"
              - string
          twitch_name:
            type:
              - "null"
              - string
          twitter:
            type:
              - "null"
              - string
      id:
        type:
          - string
      last_sent_at:
        type:
          - "null"
          - string
      optedout:
        type:
          - "null"
          - boolean
      owner_id:
        type:
          - string
      replied_count:
        type:
          - "null"
          - integer
      sent_count:
        type:
          - "null"
          - integer
      status:
        type:
          - "null"
          - string
  campaigns:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      creator:
        type:
          - "null"
          - object
        properties:
          email:
            type:
              - "null"
              - string
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
      id:
        type:
          - string
      name:
        type:
          - "null"
          - string
      stats:
        type:
          - "null"
          - object
        properties:
          prospects_bounced:
            type:
              - "null"
              - integer
          prospects_contacted:
            type:
              - "null"
              - integer
          prospects_opened:
            type:
              - "null"
              - integer
          prospects_optedout:
            type:
              - "null"
              - integer
          prospects_reached:
            type:
              - "null"
              - integer
          prospects_replied:
            type:
              - "null"
              - integer
          total_contacted:
            type:
              - "null"
              - integer
