@use "scss/colors";

.lineOuter {
  height: 5px;
  width: 100%;
  background-color: colors.$grey-100;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.lineInner {
  height: 100%;
  border-radius: 10px;
  transition: width 5s ease-in-out;

  &.warning {
    background-color: colors.$yellow-400;
  }

  &.default {
    background-color: colors.$blue-200;
  }
}
