@use "scss/variables";

.estimationStats {
  display: flex;
  justify-content: space-between;
}

.streams {
  margin: variables.$spacing-xs 0 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &.open {
    white-space: unset;
  }
}
