@use "scss/variables";
@use "scss/colors";

.stream {
  display: inline-block;
  padding: variables.$spacing-xs variables.$spacing-md;
  background: colors.$blue-50;
  border-radius: 16px;
  margin-right: variables.$spacing-md;
  margin-bottom: variables.$spacing-sm;
  white-space: nowrap;
  color: colors.$grey-700;
  line-height: 16px;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: variables.$spacing-sm;
  min-height: 16px + 2 * variables.$spacing-xs;
}

.progress {
  justify-content: center;
  align-items: center;
  min-width: 16px;
  margin: variables.$spacing-xs;
  aspect-ratio: 1 / 1;
  display: flex;

  .check {
    fill: colors.$white;
    display: none;
  }

  .fg {
    stroke: colors.$blue;
  }

  .bg {
    fill: colors.$white;
  }

  &.done {
    .bg {
      fill: colors.$green;
    }

    .fg {
      display: none;
    }

    .check {
      display: block;
    }
  }
}

.metrics {
  margin: variables.$spacing-md 0 0;
  display: grid;
  grid-template-columns: max-content auto;
  gap: variables.$spacing-md;

  dt {
    grid-column-start: 1;
  }

  dd {
    margin: 0;
    grid-column-start: 2;
  }
}
