@use "scss/variables";
@use "scss/colors";

.stream {
  display: inline-block;
  padding: variables.$spacing-xs variables.$spacing-md;
  background: colors.$blue-50;
  border-radius: 16px;
  margin-right: variables.$spacing-md;
  margin-bottom: variables.$spacing-sm;
  white-space: nowrap;
  color: colors.$grey-700;
  line-height: 16px;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: variables.$spacing-sm;
}

.progress {
  background-color: colors.$white;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  min-width: 16px;
  margin: variables.$spacing-xs;

  // padding: variables.$spacing-sm;
  aspect-ratio: 1 / 1;
  display: flex;
}
