@use "../../../scss/colors";

.container {
  width: 100%;
  position: relative;

  // background-color: colors.$grey-50;
  border: 1px solid colors.$borderColor;
  border-radius: 6px;
  flex: 1;

  &.light {
    background-color: colors.$white;
  }

  &.error {
    background-color: colors.$grey-100;
    border-color: colors.$red;
  }

  &:not(.disabled, .focused):hover {
    background-color: colors.$grey-50;

    // border-color: colors.$grey-100;
    // border-color: colors.$blue;

    &.light {
      background-color: colors.$white;
    }

    &.error {
      border-color: colors.$red;
    }
  }

  &.focused {
    // background-color: colors.$primaryColor12;
    border-color: colors.$blue;

    &.light {
      background-color: colors.$white;
    }
  }
}

.input {
  outline: none;
  width: 100%;
  padding: 7px 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  border: none;
  background: none;
  color: colors.$black300;

  // caret-color: colors.$blue;

  &:not(.disabled).password {
    width: calc(100% - 22px);
  }

  &::placeholder {
    color: colors.$grey-300;
  }

  &.disabled {
    pointer-events: none;
    color: colors.$grey-400;
  }
}

button.visibilityButton {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  height: 100%;
  width: 30px;
  align-items: center;
  justify-content: center;
  border: none;
}
