version: 6.48.15

type: DeclarativeSource

description: >-
  Linear is a project management and issue tracking tool designed specifically
  for product and engineering teams. It focuses on streamlining issues, sprints,
  and product roadmaps with a user-friendly experience and strong support.
  Unlike traditional project management software that tries to do everything,
  Linear emphasizes speed, simplicity, and clarity.

check:
  type: CheckStream
  stream_names:
    - issues

definitions:
  incremental_sync_updated_at:
    type: DatetimeBasedCursor
    cursor_field: updatedAt
    cursor_datetime_formats:
      - "%Y-%m-%dT%H:%M:%S.%fZ"
    datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config.get('start_date', (now_utc() - duration('P2Y')).strftime('%Y-%m-%dT%H:%M:%S.000Z')) }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
    start_time_option:
      type: RequestOption
      inject_into: body_json
      field_path:
        - variables
        - filter
        - updatedAt
        - gte
  base_issues_stream:
    type: DeclarativeStream
    name: issues
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/base_requester"
        path: /
        http_method: POST
        request_headers:
          Content-Type: application/json
        request_body_json:
          query: >-
            query Issues($after: String, $filter: IssueFilter, $orderBy: PaginationOrderBy) { issues(after: $after, first: 25, includeArchived: true, filter: $filter, orderBy: $orderBy) {
            nodes { id addedToCycleAt addedToProjectAt addedToTeamAt
            archivedAt assignee { id } autoArchivedAt autoClosedAt branchName
            canceledAt completedAt createdAt creator { id }
            customerTicketCount cycle { id } description descriptionState
            dueDate estimate identifier integrationSourceType labelIds number
            parent { id } previousIdentifiers priority priorityLabel
            prioritySortOrder project { id } projectMilestone { id }
            reactionData snoozedBy { id } snoozedUntilAt sortOrder startedAt
            state { id } startedTriageAt subIssueSortOrder team { id } title
            trashed triagedAt updatedAt url attachments { nodes { id } }
            sourceComment { id } labels { nodes { id } } slaType slaStartedAt
            slaMediumRiskAt slaHighRiskAt slaBreachesAt relations { nodes { id
            } } subscribers { nodes { id } } } pageInfo { hasNextPage
            endCursor } } }
          variables:
            orderBy: updatedAt
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - issues
            - nodes
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_path:
            - variables
            - after
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.data.issues.pageInfo.endCursor or \"\" }}"
          stop_condition: "{{ response.data.issues.pageInfo.hasNextPage is false }}"
      decoder:
        type: JsonDecoder
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - assigneeId
            value: "{{ record.assignee.id }}"
      - type: RemoveFields
        field_pointers:
          - - assignee
            - id
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - creatorId
            value: "{{ record.creator.id }}"
      - type: RemoveFields
        field_pointers:
          - - creator
            - id
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - cycleId
            value: "{{ record.cycle.id }}"
      - type: RemoveFields
        field_pointers:
          - - cycle
            - id
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - stateId
            value: "{{ record.state.id }}"
      - type: RemoveFields
        field_pointers:
          - - state
            - id
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - teamId
            value: "{{ record.team.id }}"
      - type: RemoveFields
        field_pointers:
          - - team
            - id
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - parentId
            value: "{{ record.parent.id }}"
      - type: RemoveFields
        field_pointers:
          - - parent
            - id
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - projectId
            value: "{{ record.project.id }}"
      - type: RemoveFields
        field_pointers:
          - - project
            - id
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - milestoneId
            value: "{{ record.projectMilestone.id }}"
      - type: RemoveFields
        field_pointers:
          - - projectMilestone
            - id
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - attachmentIds
            value: "{{ record.attachments.nodes | map(attribute='id') | list }}"
      - type: RemoveFields
        field_pointers:
          - - attachments
            - nodes
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - labelIds
            value: "{{ record.labels.nodes | map(attribute='id') | list }}"
      - type: RemoveFields
        field_pointers:
          - - labels
            - nodes
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - subscriberIds
            value: "{{ record.subscribers.nodes | map(attribute='id') | list }}"
      - type: RemoveFields
        field_pointers:
          - - subscribers
            - nodes
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - relationIds
            value: "{{ record.relations.nodes | map(attribute='id') | list }}"
      - type: RemoveFields
        field_pointers:
          - - relations
            - nodes
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - sourceCommentId
            value: "{{ record.sourceComment.id }}"
      - type: RemoveFields
        field_pointers:
          - - sourceComment
            - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/schemas/issues"
  streams:
    issues:
      $ref: "#/definitions/base_issues_stream"
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"
    customers:
      type: DeclarativeStream
      name: customers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_headers:
            Content-Type: application/json
          request_body_json:
            query: >-
              query Customers($after: String, $filter: CustomerFilter, $orderBy: PaginationOrderBy) { customers(after: $after, first:
              50, includeArchived: true, filter: $filter, orderBy: $orderBy) { nodes { approximateNeedCount archivedAt createdAt domains
              externalIds id logoUrl name owner { id } revenue size
              slackChannelId slugId status { id } tier { id } updatedAt }
              pageInfo { endCursor hasNextPage } } }
            variables:
              orderBy: updatedAt
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - customers
              - nodes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_path:
              - variables
              - after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.data.customers.pageInfo.endCursor or \"\" }}"
            stop_condition: "{{ response.data.customers.pageInfo.hasNextPage is false }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"

      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - statusId
              value: "{{ record['status']['id'] }}"
        - type: RemoveFields
          field_pointers:
            - - status
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - tierId
              value: "{{ record['tier']['id'] }}"
        - type: RemoveFields
          field_pointers:
            - - tier
              - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customers"
    users:
      type: DeclarativeStream
      name: users
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_headers:
            Content-Type: application/json
          request_body_json:
            query: >-
              query Users($after: String, $filter: UserFilter, $orderBy: PaginationOrderBy) { users(after: $after, first: 50, includeArchived: true, filter: $filter, orderBy: $orderBy) {
              nodes { active admin archivedAt avatarBackgroundColor avatarUrl
              createdAt createdIssueCount description disableReason
              displayName email guest id initials isMe lastSeen name
              statusEmoji statusLabel statusUntilAt teams { nodes { id } }
              timezone updatedAt url } pageInfo { hasNextPage endCursor } } }
            variables:
              orderBy: updatedAt
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - users
              - nodes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_path:
              - variables
              - after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.data.users.pageInfo.endCursor or \"\" }}"
            stop_condition: "{{ response.data.users.pageInfo.hasNextPage is false }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"

      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - teamIds
              value: "{{ record.teams.nodes | map(attribute='id') | list }}"
        - type: RemoveFields
          field_pointers:
            - - teams
              - nodes
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/users"
    comments:
      type: DeclarativeStream
      name: comments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_headers:
            Content-Type: application/json
          request_body_json:
            query: >-
              query Comments($after: String, $filter: CommentFilter, $orderBy: PaginationOrderBy) { comments(after: $after, first: 50, includeArchived: true, filter: $filter, orderBy: $orderBy) { nodes { archivedAt body bodyData createdAt editedAt id issue
              { id } parent { id } quotedText resolvedAt resolvingComment { id }
              resolvingUser { id } updatedAt url user { id } } pageInfo {
              hasNextPage endCursor } } }
            variables:
              orderBy: updatedAt
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - comments
              - nodes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_path:
              - variables
              - after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.data.comments.pageInfo.endCursor or \"\" }}"
            stop_condition: "{{ response.data.comments.pageInfo.hasNextPage is false }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"

      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - issueId
              value: "{{ record.issue.id }}"
        - type: RemoveFields
          field_pointers:
            - - issue
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - parentCommentId
              value: "{{ record.parent.id }}"
        - type: RemoveFields
          field_pointers:
            - - parent
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - resolvingCommentId
              value: "{{ record.resolvingComment.id }}"
        - type: RemoveFields
          field_pointers:
            - - resolvingComment
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - resolvingUserId
              value: "{{ record.resolvingUser.id }}"
        - type: RemoveFields
          field_pointers:
            - - resolvingUser
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - userId
              value: "{{ record.user.id }}"
        - type: RemoveFields
          field_pointers:
            - - user
              - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/comments"
    cycles:
      type: DeclarativeStream
      name: cycles
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_headers:
            Content-Type: application/json
          request_body_json:
            query: >-
              query Cycles($after: String, $filter: CycleFilter, $orderBy: PaginationOrderBy) { cycles(after: $after, first: 50, includeArchived: true, filter: $filter, orderBy: $orderBy) {
              pageInfo { endCursor hasNextPage } nodes { archivedAt
              autoArchivedAt completedAt completedIssueCountHistory
              completedScopeHistory createdAt description id endsAt
              inProgressScopeHistory inheritedFrom { id } issueCountHistory name
              number progress scopeHistory startsAt team { id }
              uncompletedIssuesUponClose { nodes { id } } updatedAt } } }
            variables:
              orderBy: updatedAt
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - cycles
              - nodes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_path:
              - variables
              - after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.data.cycles.pageInfo.endCursor or \"\" }}"
            stop_condition: "{{ response.data.cycles.pageInfo.hasNextPage is false }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"

      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - inheritedFromId
              value: "{{ record.inheritedFrom.id }}"
        - type: RemoveFields
          field_pointers:
            - - inheritedFrom
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - uncompletedIssueIdsUponClose
              value: >-
                {{ record.uncompletedIssuesUponClose.nodes | map(attribute='id')
                | list }}
        - type: RemoveFields
          field_pointers:
            - - uncompletedIssuesUponClose
              - nodes
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - teamId
              value: "{{ record.team.id }}"
        - type: RemoveFields
          field_pointers:
            - - team
              - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/cycles"
    customer_needs:
      type: DeclarativeStream
      name: customer_needs
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_headers:
            Content-Type: application/json
          request_body_json:
            query: >-
              query CustomerNeeds($after: String, $filter: CustomerNeedFilter, $orderBy: PaginationOrderBy) { customerNeeds(after: $after, first: 50, includeArchived: true, filter: $filter, orderBy: $orderBy) { nodes { archivedAt body bodyData comment { id }
              createdAt creator { id } customer { id } id issue { id } priority
              project { id } updatedAt attachment { id } } pageInfo {
              hasNextPage endCursor } } }
            variables:
              orderBy: updatedAt
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - customerNeeds
              - nodes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_path:
              - variables
              - after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.data.customerNeeds.pageInfo.endCursor or \"\" }}"
            stop_condition: "{{ response.data.customerNeeds.pageInfo.hasNextPage is false }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"

      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - commentId
              value: "{{ record.comment.id }}"
        - type: RemoveFields
          field_pointers:
            - - comment
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - creatorId
              value: "{{ record.creator.id }}"
        - type: RemoveFields
          field_pointers:
            - - creator
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - customerId
              value: "{{ record.customer.id }}"
        - type: RemoveFields
          field_pointers:
            - - customer
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - issueId
              value: "{{ record.issue.id }}"
        - type: RemoveFields
          field_pointers:
            - - issue
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - projectId
              value: "{{ record.project.id }}"
        - type: RemoveFields
          field_pointers:
            - - project
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - attachmentId
              value: "{{ record.attachment.id }}"
        - type: RemoveFields
          field_pointers:
            - - attachment
              - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customer_needs"
    projects:
      type: DeclarativeStream
      name: projects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_headers:
            Content-Type: application/json
          request_body_json:
            query: >-
              query Projects($after: String, $filter: ProjectFilter, $orderBy: PaginationOrderBy) { projects(after: $after, first:
              25, includeArchived: true, filter: $filter, orderBy: $orderBy) { nodes { archivedAt autoArchivedAt canceledAt color
              completedAt completedIssueCountHistory completedScopeHistory
              content contentState convertedFromIssue { id } createdAt creator {
              id } description health healthUpdatedAt icon id
              inProgressScopeHistory issueCountHistory lead { id } name priority
              prioritySortOrder progress projectUpdateRemindersPausedUntilAt
              scope scopeHistory slugId sortOrder startDate startDateResolution
              startedAt status { id } targetDate targetDateResolution teams {
              nodes { id } } trashed updateReminderFrequency
              updateReminderFrequencyInWeeks updateRemindersDay
              updateRemindersHour updatedAt url } pageInfo { endCursor
              hasNextPage } } }
            variables:
              orderBy: updatedAt
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - projects
              - nodes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_path:
              - variables
              - after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.data.projects.pageInfo.endCursor or \"\" }}"
            stop_condition: "{{ response.data.projects.pageInfo.hasNextPage is false }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"

      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - convertedFromIssueId
              value: "{{ record.convertedFromIssue.id }}"
        - type: RemoveFields
          field_pointers:
            - - convertedFromIssue
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - creatorId
              value: "{{ record.creator.id }}"
        - type: RemoveFields
          field_pointers:
            - - creator
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - leadId
              value: "{{ record.lead.id }}"
        - type: RemoveFields
          field_pointers:
            - - lead
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - statusId
              value: "{{ record.status.id }}"
        - type: RemoveFields
          field_pointers:
            - - status
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - teamIds
              value: "{{ record.teams.nodes | map(attribute='id') | list }}"
        - type: RemoveFields
          field_pointers:
            - - teams
              - nodes
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/projects"
    project_milestones:
      type: DeclarativeStream
      name: project_milestones
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_headers:
            Content-Type: application/json
          request_body_json:
            query: >-
              query ProjectMilestones($after: String, $filter: ProjectMilestoneFilter, $orderBy: PaginationOrderBy) { projectMilestones(after: $after, first: 50, includeArchived: true, filter: $filter, orderBy: $orderBy) { nodes { archivedAt createdAt description
              descriptionState id name progress project { id } sortOrder status
              targetDate updatedAt } pageInfo { hasNextPage endCursor } } }
            variables:
              orderBy: updatedAt
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - projectMilestones
              - nodes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_path:
              - variables
              - after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.data.projectMilestones.pageInfo.endCursor or \"\" }}"
            stop_condition: >-
              {{ response.data.projectMilestones.pageInfo.hasNextPage is false
              }}
        decoder:
          type: JsonDecoder
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"

      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - projectId
              value: "{{ record.project.id }}"
        - type: RemoveFields
          field_pointers:
            - - project
              - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/project_milestones"
    project_statuses:
      type: DeclarativeStream
      name: project_statuses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_headers:
            Content-Type: application/json
          request_body_json:
            query: >-
              query ProjectStatus($after: String) { projectStatuses(after:
              $after, first: 50, includeArchived: true) { nodes { archivedAt color createdAt
              description id indefinite name position type updatedAt } pageInfo
              { endCursor hasNextPage } } }
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - projectStatuses
              - nodes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: variables
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ '{"after": "' +
              response.data.projectStatuses.pageInfo.endCursor + '"}' if
              response.data.projectStatuses.pageInfo.endCursor else "" }}
            stop_condition: "{{ response.data.projectStatuses.pageInfo.hasNextPage is false }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/project_statuses"
    issue_labels:
      type: DeclarativeStream
      name: issue_labels
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_headers:
            Content-Type: application/json
          request_body_json:
            query: >-
              query IssueLabels($after: String, $filter: IssueLabelFilter, $orderBy: PaginationOrderBy) { issueLabels(after: $after,
              first: 50, includeArchived: true, filter: $filter, orderBy: $orderBy) { nodes { archivedAt color createdAt creator { id }
              description id inheritedFrom { id } isGroup name parent { id }
              team { id } updatedAt } pageInfo { endCursor hasNextPage } } }
            variables:
              orderBy: updatedAt
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - issueLabels
              - nodes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_path:
              - variables
              - after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.data.issueLabels.pageInfo.endCursor or \"\" }}"
            stop_condition: "{{ response.data.issueLabels.pageInfo.hasNextPage is false }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"

      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - creatorId
              value: "{{ record.creator.id }}"
        - type: RemoveFields
          field_pointers:
            - - creator
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - inheritedFromId
              value: "{{ record.inheritedFrom.id }}"
        - type: RemoveFields
          field_pointers:
            - - inheritedFrom
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - parentLabelId
              value: "{{ record.parent.id }}"
        - type: RemoveFields
          field_pointers:
            - - parent
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - teamId
              value: "{{ record.team.id }}"
        - type: RemoveFields
          field_pointers:
            - - team
              - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/issue_labels"
    workflow_states:
      type: DeclarativeStream
      name: workflow_states
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_headers:
            Content-Type: application/json
          request_body_json:
            query: >-
              query WorkflowStates($after: String, $filter: WorkflowStateFilter, $orderBy: PaginationOrderBy) { workflowStates(after:
              $after, first: 50, includeArchived: true, filter: $filter, orderBy: $orderBy) { nodes { archivedAt color createdAt
              description id inheritedFrom { id } name position team { id } type
              updatedAt } pageInfo { hasNextPage endCursor } } }
            variables:
              orderBy: updatedAt
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - workflowStates
              - nodes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_path:
              - variables
              - after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.data.workflowStates.pageInfo.endCursor or \"\" }}"
            stop_condition: "{{ response.data.workflowStates.pageInfo.hasNextPage is false }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"

      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - inheritedFromId
              value: "{{ record.inheritedFrom.id }}"
        - type: RemoveFields
          field_pointers:
            - - inheritedFrom
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - teamId
              value: "{{ record.team.id }}"
        - type: RemoveFields
          field_pointers:
            - - team
              - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/workflow_states"
    teams:
      type: DeclarativeStream
      name: teams
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_headers:
            Content-Type: application/json
          request_body_json:
            query: >-
              query Teams($after: String, $filter: TeamFilter, $orderBy: PaginationOrderBy) { teams(after: $after, first: 25, includeArchived: true, filter: $filter, orderBy: $orderBy) {
              nodes { activeCycle { id } archivedAt autoArchivePeriod
              autoCloseChildIssues autoCloseParentIssues autoClosePeriod
              autoCloseStateId color createdAt cycleCalenderUrl
              cycleCooldownTime cycleDuration cycleIssueAutoAssignCompleted
              cycleIssueAutoAssignStarted cycleLockToActive cycleStartDay
              cyclesEnabled defaultIssueEstimate defaultIssueState { id }
              description groupIssueHistory icon id issueCount
              issueEstimationAllowZero issueEstimationExtended
              issueEstimationType joinByDefault key
              name parent { id }
              requirePriorityToLeaveTriage scimGroupName scimManaged
              setIssueSortOrderOnStateChange timezone triageEnabled updatedAt
              upcomingCycleCount triageIssueState { id } visibility } pageInfo { endCursor
              hasNextPage } } }
            variables:
              orderBy: updatedAt
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - teams
              - nodes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_path:
              - variables
              - after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.data.teams.pageInfo.endCursor or \"\" }}"
            stop_condition: "{{ response.data.teams.pageInfo.hasNextPage is false }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"

      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - activeCycleId
              value: "{{ record.activeCycle.id }}"
        - type: RemoveFields
          field_pointers:
            - - activeCycle
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - defaultIssueStateId
              value: "{{ record.defaultIssueState.id }}"
        - type: RemoveFields
          field_pointers:
            - - defaultIssueState
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - parentTeamId
              value: "{{ record.parent.id }}"
        - type: RemoveFields
          field_pointers:
            - - parent
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - triageIssueStateId
              value: "{{ record.triageIssueState.id }}"
        - type: RemoveFields
          field_pointers:
            - - triageIssueState
              - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/teams"
    attachments:
      type: DeclarativeStream
      name: attachments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_headers:
            Content-Type: application/json
          request_body_json:
            query: >-
              query Attachments($after: String, $filter: AttachmentFilter, $orderBy: PaginationOrderBy) { attachments(after: $after,
              first: 50, includeArchived: true, filter: $filter, orderBy: $orderBy) { nodes { archivedAt createdAt creator { id }
              groupBySource id issue { id } sourceType subtitle title updatedAt
              url } pageInfo { endCursor hasNextPage } } }
            variables:
              orderBy: updatedAt
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - attachments
              - nodes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_path:
              - variables
              - after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.data.attachments.pageInfo.endCursor or \"\" }}"
            stop_condition: "{{ response.data.attachments.pageInfo.hasNextPage is false }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"

      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - creatorId
              value: "{{ record.creator.id }}"
        - type: RemoveFields
          field_pointers:
            - - creator
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - issueId
              value: "{{ record.issue.id }}"
        - type: RemoveFields
          field_pointers:
            - - issue
              - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/attachments"
    issue_relations:
      type: DeclarativeStream
      name: issue_relations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_headers:
            Content-Type: application/json
          request_body_json:
            query: >-
              query IssueRelations($after: String) { issueRelations(after:
              $after, first: 50, includeArchived: true) { nodes { archivedAt createdAt id issue { id }
              relatedIssue { id } type updatedAt } pageInfo { endCursor
              hasNextPage } } }
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - issueRelations
              - nodes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: variables
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ '{"after": "' + response.data.issueRelations.pageInfo.endCursor
              + '"}' if response.data.issueRelations.pageInfo.endCursor else ""
              }}
            stop_condition: "{{ response.data.issueRelations.pageInfo.hasNextPage is false }}"
        decoder:
          type: JsonDecoder
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - issueId
              value: "{{ record.issue.id }}"
        - type: RemoveFields
          field_pointers:
            - - issue
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - relatedIssueId
              value: "{{ record.relatedIssue.id }}"
        - type: RemoveFields
          field_pointers:
            - - relatedIssue
              - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/issue_relations"
    customer_statuses:
      type: DeclarativeStream
      name: customer_statuses
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_headers:
            Content-Type: application/json
          request_body_json:
            query: >-
              query CustomerStatus($after: String) { customerStatuses(after:
              $after, first: 50, includeArchived: true) { nodes { archivedAt color createdAt
              description id name position updatedAt } pageInfo { endCursor
              hasNextPage } } }
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - customerStatuses
              - nodes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: variables
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ '{"after": "' +
              response.data.customerStatuses.pageInfo.endCursor + '"}' if
              response.data.customerStatuses.pageInfo.endCursor else "" }}
            stop_condition: "{{ response.data.customerStatuses.pageInfo.hasNextPage is false }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customer_statuses"
    customer_tiers:
      type: DeclarativeStream
      name: customer_tiers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_headers:
            Content-Type: application/json
          request_body_json:
            query: >-
              query CustomerTiers($after: String) { customerTiers(after: $after,
              first: 50, includeArchived: true) { nodes { archivedAt color createdAt description
              displayName id name position updatedAt } pageInfo { endCursor
              hasNextPage } } }
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - customerTiers
              - nodes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_name: variables
          pagination_strategy:
            type: CursorPagination
            cursor_value: >-
              {{ '{"after": "' + response.data.customerTiers.pageInfo.endCursor
              + '"}' if response.data.customerTiers.pageInfo.endCursor else ""
              }}
            stop_condition: "{{ response.data.customerTiers.pageInfo.hasNextPage is false }}"
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customer_tiers"
    initiatives:
      type: DeclarativeStream
      name: initiatives
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_headers:
            Content-Type: application/json
          request_body_json:
            query: >-
              query Initiatives($after: String, $filter: InitiativeFilter,
              $orderBy: PaginationOrderBy) { initiatives(after: $after, first:
              25, includeArchived: true, filter: $filter, orderBy: $orderBy) {
              nodes { archivedAt canceledAt color completedAt createdAt creator
              { id } description health healthUpdatedAt icon id name owner { id }
              parentInitiative { id } slugId sortOrder startedAt status targetDate
              targetDateResolution trashed updatedAt url } pageInfo { endCursor
              hasNextPage } } }
            variables:
              orderBy: updatedAt
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - initiatives
              - nodes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_path:
              - variables
              - after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.data.initiatives.pageInfo.endCursor or \"\" }}"
            stop_condition: "{{ response.data.initiatives.pageInfo.hasNextPage is false }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - creatorId
              value: "{{ record.creator.id if record.creator else None }}"
        - type: RemoveFields
          field_pointers:
            - - creator
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - ownerId
              value: "{{ record.owner.id if record.owner else None }}"
        - type: RemoveFields
          field_pointers:
            - - owner
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - parentInitiativeId
              value: "{{ record.parentInitiative.id if record.parentInitiative else None }}"
        - type: RemoveFields
          field_pointers:
            - - parentInitiative
              - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/initiatives"
    initiative_to_projects:
      type: DeclarativeStream
      name: initiative_to_projects
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_headers:
            Content-Type: application/json
          request_body_json:
            query: >-
              query InitiativeToProjects($after: String) {
              initiativeToProjects(after: $after, first: 50, includeArchived:
              true) { nodes { archivedAt createdAt id initiative { id } project
              { id } sortOrder updatedAt } pageInfo { endCursor hasNextPage } } }
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - initiativeToProjects
              - nodes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_path:
              - variables
              - after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.data.initiativeToProjects.pageInfo.endCursor or \"\" }}"
            stop_condition: "{{ response.data.initiativeToProjects.pageInfo.hasNextPage is false }}"
        decoder:
          type: JsonDecoder
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - initiativeId
              value: "{{ record.initiative.id }}"
        - type: RemoveFields
          field_pointers:
            - - initiative
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - projectId
              value: "{{ record.project.id }}"
        - type: RemoveFields
          field_pointers:
            - - project
              - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/initiative_to_projects"
    project_updates:
      type: DeclarativeStream
      name: project_updates
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_headers:
            Content-Type: application/json
          request_body_json:
            query: >-
              query ProjectUpdates($after: String, $filter:
              ProjectUpdateFilter, $orderBy: PaginationOrderBy) {
              projectUpdates(after: $after, first: 25, includeArchived: true,
              filter: $filter, orderBy: $orderBy) { nodes { archivedAt body
              createdAt editedAt health id infoSnapshot isDiffHidden project {
               id } reactionData slugId updatedAt url user { id } } pageInfo {
              endCursor hasNextPage } } }
            variables:
              orderBy: updatedAt
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - projectUpdates
              - nodes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_path:
              - variables
              - after
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.data.projectUpdates.pageInfo.endCursor or \"\" }}"
            stop_condition: "{{ response.data.projectUpdates.pageInfo.hasNextPage is false }}"
        decoder:
          type: JsonDecoder
      incremental_sync:
        $ref: "#/definitions/incremental_sync_updated_at"
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - projectId
              value: "{{ record.project.id }}"
        - type: RemoveFields
          field_pointers:
            - - project
              - id
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - userId
              value: "{{ record.user.id }}"
        - type: RemoveFields
          field_pointers:
            - - user
              - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/project_updates"
    issue_history:
      type: DeclarativeStream
      name: issue_history
      primary_key:
        - issueId
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /
          http_method: POST
          request_headers:
            Content-Type: application/json
          request_body_json:
            query: >-
              query IssueHistory($issueId: String!, $after: String) { issue(id:
              $issueId) { history(after: $after, first: 50, includeArchived:
              true) { nodes { actorId addedLabelIds archived archivedAt
              attachmentId autoArchived autoClosed changes createdAt customerNeedId
              fromAssigneeId fromCycleId fromDueDate fromEstimate fromParentId
              fromPriority fromProjectId fromStateId fromTeamId fromTitle id
              removedLabelIds toAssigneeId toConvertedProjectId toCycleId
              toDueDate toEstimate toParentId toPriority toProjectId toStateId
              toTeamId toTitle trashed updatedAt updatedDescription } pageInfo {
              endCursor hasNextPage } } } }
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: issue_id
              stream:
                $ref: "#/definitions/base_issues_stream"
              request_option:
                type: RequestOption
                inject_into: body_json
                field_path:
                  - variables
                  - issueId
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
              - issue
              - history
              - nodes
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: body_json
            field_path:
              - variables
              - after
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ ((((response.get("data") or {}).get("issue") or {}).get("history") or {}).get("pageInfo") or {}).get("endCursor") or "" }}'
            stop_condition: '{{ ((((response.get("data") or {}).get("issue") or {}).get("history") or {}).get("pageInfo") or {}).get("hasNextPage") is not true }}'
        decoder:
          type: JsonDecoder
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - issueId
              value: "{{ stream_partition['issue_id'] }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/issue_history"
  base_requester:
    type: HttpRequester
    url_base: https://api.linear.app/graphql
    error_handler:
      type: DefaultErrorHandler
      backoff_strategies:
        - type: WaitUntilTimeFromHeader
          header: X-RateLimit-Requests-Reset
          regex: ^\d{10}
          min_wait: 60
        - type: WaitUntilTimeFromHeader
          header: X-RateLimit-Endpoint-Requests-Reset
          regex: ^\d{10}
          min_wait: 60
        - type: WaitUntilTimeFromHeader
          header: X-RateLimit-Complexity-Reset
          regex: ^\d{10}
          min_wait: 60
        - type: ConstantBackoffStrategy
          backoff_time_in_seconds: 60
      response_filters:
        # 1 · Rate limits — unchanged, must stay first.
        - predicate: "{{ 'errors' in response and response['errors'] and response['errors'][0].get('extensions', {}).get('code') == 'RATELIMITED' }}"
          action: RATE_LIMITED
          failure_type: transient_error
          error_message: "Rate limit exceeded for Linear API."
        # 2 · Authentication — surface Linear's own message.
        - predicate: "{{ 'errors' in response and response['errors'] and response['errors'][0].get('extensions', {}).get('code') == 'AUTHENTICATION_ERROR' }}"
          action: FAIL
          failure_type: config_error
          error_message: >-
            Linear rejected the credentials.
            If you authenticated with an API key, confirm it has not been revoked in Linear under Settings → Security & access → Personal API keys.
            If you authenticated with OAuth, re-authenticate to obtain a new refresh token.
            Linear's message: {{ response['errors'][0].get('extensions', {}).get('userPresentableMessage', 'authentication failed') }}
        # 3 · Permission and plan gating — user-correctable, but not a credential problem.
        #     This handler is shared by all 20 streams and by `check`, so the text must stay stream-agnostic.
        - predicate: "{{ 'errors' in response and response['errors'] and (response['errors'][0].get('extensions', {}).get('code') in ['FORBIDDEN', 'FEATURE_NOT_ACCESSIBLE'] or response['errors'][0].get('extensions', {}).get('type') in ['forbidden', 'feature not accessible']) and not (response.get('data') or {}).values() | select | list }}"
          action: FAIL
          failure_type: config_error
          error_message: >-
            Linear denied access to this data.
            Confirm the credentials you configured can read the teams and data this stream covers. If the failing stream is
            customers, customer_needs, customer_statuses or customer_tiers, your workspace also needs Linear's Customer
            Requests feature enabled (Workspace Settings > Customer requests) and, for OAuth sources, the customer:read
            scope. Deselect the stream if you cannot grant it access.
            Linear's message: {{ response['errors'][0].get('extensions', {}).get('userPresentableMessage', 'access denied') }}
        # 4 · Query defects — permanent. Fail immediately; do NOT let the HTTP 500 case retry.
        - predicate: "{{ 'errors' in response and response['errors'] and response['errors'][0].get('extensions', {}).get('code') == 'GRAPHQL_VALIDATION_FAILED' }}"
          action: FAIL
          failure_type: system_error
          error_message: >-
            Linear rejected the connector's query as invalid.
            This is a connector defect, not a configuration problem. Please report it to Airbyte support.
            Linear's message: {{ response['errors'][0].get('message', 'validation failed') }}
        # 4b · Retryable transport statuses. Must sit after the GRAPHQL_VALIDATION_FAILED filter
        #      (so malformed queries still fail fast) and before the catch-all below, which has
        #      no status guard and would otherwise shadow the CDK's DEFAULT_ERROR_MAPPING.
        - http_codes: [429]
          action: RATE_LIMITED
          failure_type: transient_error
          error_message: "Rate limit exceeded for Linear API."
        - http_codes: [408, 500, 502, 503, 504]
          action: RETRY
          failure_type: transient_error
          error_message: "Linear returned a transient error; retrying."
        # 5 · Catch-all for data-less GraphQL errors not classified above. Partial-success pages
        #     flow to the extractor; 408/429/5xx are handled by the status filters above.
        - predicate: "{{ 'errors' in response and response['errors'] and not (response.get('data') or {}).values() | select | list }}"
          action: FAIL
          failure_type: system_error
          error_message: >-
            {%- set errs = response['errors'] -%}
            {%- set err = errs[0] if errs is iterable and errs is not string and errs is not mapping else errs -%}
            {%- set ext = err.get('extensions') if err is mapping else none -%}
            Linear returned an error: {{ (ext.get('userPresentableMessage') if ext is mapping else none)
            or (err.get('message') if err is mapping else err | string) or 'unknown error' }}
    authenticator:
      type: SelectiveAuthenticator
      authenticator_selection_path: ["credentials", "auth_type"]
      authenticators:
        "API Key":
          type: ApiKeyAuthenticator
          api_token: "{{ config['credentials']['api_key'] }}"
          inject_into:
            type: RequestOption
            field_name: Authorization
            inject_into: header
        "OAuth2.0":
          type: OAuthAuthenticator
          client_id: "{{ config['credentials']['client_id'] }}"
          client_secret: "{{ config['credentials']['client_secret'] }}"
          refresh_token: "{{ config['credentials']['refresh_token'] }}"
          token_refresh_endpoint: "https://api.linear.app/oauth/token"
          access_token_name: access_token
          grant_type: refresh_token
          refresh_token_updater:
            refresh_token_name: refresh_token
            access_token_config_path: ["credentials", "access_token"]
            refresh_token_config_path: ["credentials", "refresh_token"]
            token_expiry_date_config_path: ["credentials", "token_expiry_date"]
          refresh_token_error_status_codes: [400, 401]
          refresh_token_error_key: "error"
          refresh_token_error_values:
            ["invalid_grant", "invalid_request", "invalid_client", "unauthorized_client"]

streams:
  - $ref: "#/definitions/streams/issues"
  - $ref: "#/definitions/streams/customers"
  - $ref: "#/definitions/streams/users"
  - $ref: "#/definitions/streams/comments"
  - $ref: "#/definitions/streams/cycles"
  - $ref: "#/definitions/streams/customer_needs"
  - $ref: "#/definitions/streams/projects"
  - $ref: "#/definitions/streams/project_milestones"
  - $ref: "#/definitions/streams/project_statuses"
  - $ref: "#/definitions/streams/issue_labels"
  - $ref: "#/definitions/streams/workflow_states"
  - $ref: "#/definitions/streams/teams"
  - $ref: "#/definitions/streams/attachments"
  - $ref: "#/definitions/streams/issue_relations"
  - $ref: "#/definitions/streams/customer_statuses"
  - $ref: "#/definitions/streams/customer_tiers"
  - $ref: "#/definitions/streams/initiatives"
  - $ref: "#/definitions/streams/initiative_to_projects"
  - $ref: "#/definitions/streams/project_updates"
  - $ref: "#/definitions/streams/issue_history"

# Linear API documented rate limits (per-user, per-hour windows):
# - API key auth: 2,500 requests / hour (approximately 0.69 req/sec).
# - OAuth app auth: 5,000 requests / hour (approximately 1.39 req/sec).
# - Workspace OAuth auth: dynamic uplift based on paid seat count.
# - Source: https://linear.app/developers/rate-limiting
#
# Starting concurrency follows the connector concurrency tuning playbook
# (Path A, tuned against the lowest documented tier — 2,500 req/hr API key):
# floor((2500/3600) / 4) = 0 ≤ 2 triggers the low-rate-limit special case →
# starting_concurrency = 4, step = 1. Empirical tuning will adjust against
# the documented 2,500 req/hr ceiling.
#
# The user-facing `num_workers` config field (see spec below) overrides the
# default at the connection level; users on the higher-ceiling OAuth tiers
# (5,000 req/hr or workspace OAuth dynamic uplift) can raise it up to the
# max_concurrency ceiling, while users on the 2,500 req/hr API-key tier
# should generally stay at or below the default of 4 to avoid sustained
# rate-limit pressure.
api_budget:
  type: HTTPAPIBudget
  ratelimit_remaining_header: "X-RateLimit-Requests-Remaining"
  policies:
    - type: MovingWindowCallRatePolicy
      rates:
        - limit: "{{ 20 if config.get('credentials', {}).get('auth_type') == 'OAuth2.0' else 10 }}"
          interval: PT10S
        - limit: "{{ 80 if config.get('credentials', {}).get('auth_type') == 'OAuth2.0' else 40 }}"
          interval: PT1M
        - limit: "{{ 5000 if config.get('credentials', {}).get('auth_type') == 'OAuth2.0' else 2500 }}"
          interval: PT1H
      matchers: []

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: "{{ config.get('num_workers', 4) }}"
  max_concurrency: 16

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - credentials
    properties:
      credentials:
        type: object
        title: Authentication
        description: Choose how to authenticate to Linear.
        order: 0
        oneOf:
          - type: object
            title: OAuth2.0
            required:
              - auth_type
              - client_id
              - client_secret
              - refresh_token
            properties:
              auth_type:
                type: string
                title: Authentication Method
                const: "OAuth2.0"
                order: 0
              client_id:
                type: string
                title: Client ID
                description: >-
                  The Client ID of your Linear OAuth application. Create or view
                  your applications in Linear under Settings → API →
                  Applications.
                airbyte_secret: true
                order: 1
              client_secret:
                type: string
                title: Client Secret
                description: >-
                  The Client Secret of your Linear OAuth application, shown
                  alongside the Client ID in Linear under Settings → API →
                  Applications.
                airbyte_secret: true
                order: 2
              refresh_token:
                type: string
                title: Refresh Token
                description: >-
                  The Refresh Token that Linear returns when your OAuth
                  application completes the OAuth 2.0 authorization flow. The
                  connector uses it to refresh expired access tokens.
                airbyte_secret: true
                order: 3
              access_token:
                type: string
                title: Access Token
                description: >-
                  The access token that Linear returns when the connector
                  refreshes your OAuth 2.0 credentials.
                airbyte_secret: true
                order: 4
              token_expiry_date:
                type: string
                title: Token Expiry Date
                description: >-
                  The date and time when the current OAuth 2.0 access token
                  expires.
                format: date-time
                order: 5
          - type: object
            title: API Key
            required:
              - auth_type
              - api_key
            properties:
              auth_type:
                type: string
                title: Authentication Method
                const: "API Key"
                order: 0
              api_key:
                type: string
                title: API Key
                description: >-
                  Your Linear personal API key. In Linear, go to Settings →
                  Security & access → Personal API keys, then click Create key
                  and copy the generated key. The key inherits your Linear
                  user's workspace permissions.
                airbyte_secret: true
                order: 1
      start_date:
        type: string
        order: 1
        title: Start Date
        description: >-
          UTC date and time in the ISO 8601 format (e.g.
          2020-01-01T00:00:00.000Z). Any records updated before this date will
          not be replicated. Only applies to streams that support incremental
          sync. If unset, defaults to two years ago.
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\.[0-9]{3}Z$
        examples:
          - "2020-01-01T00:00:00.000Z"
      num_workers:
        type: integer
        order: 2
        title: Number of concurrent workers
        description: >-
          Number of worker threads used to read streams in parallel. Higher
          values can speed up syncs but increase the risk of hitting Linear's
          rate limits. The Linear API limits per-user requests by
          authentication type: API key auth allows 2,500 requests/hour, OAuth
          allows 5,000 requests/hour, and workspace OAuth scales dynamically
          with paid seats. OAuth has a lower hourly complexity budget
          (2,000,000 points versus 3,000,000 for API keys), which is usually
          the binding limit for this GraphQL connector. Stay at the default
          unless you have observed headroom in your rate-limit usage. See <a
          href="https://linear.app/developers/rate-limiting">Linear API rate
          limits</a> for details.
        default: 4
        minimum: 1
        maximum: 10
    additionalProperties: true
  advanced_auth:
    auth_flow_type: oauth2.0
    predicate_key:
      - credentials
      - auth_type
    predicate_value: "OAuth2.0"
    oauth_config_specification:
      oauth_connector_input_specification:
        scopes:
          - scope: "read"
          - scope: "customer:read"
          - scope: "initiative:read"
        scopes_join_strategy: comma
        consent_url: "https://linear.app/oauth/authorize?{{client_id_param}}&{{redirect_uri_param}}&response_type=code&{{state_param}}&{{scopes_param}}&actor=app&prompt=consent"
        access_token_url: "https://api.linear.app/oauth/token"
        access_token_headers:
          Content-Type: "application/x-www-form-urlencoded"
        access_token_params:
          grant_type: "authorization_code"
          code: "{{ auth_code_value }}"
          client_id: "{{ client_id_value }}"
          client_secret: "{{ client_secret_value }}"
          redirect_uri: "{{ redirect_uri_value }}"
        extract_output:
          - access_token
          - refresh_token
          - expires_in
      complete_oauth_output_specification:
        type: object
        additionalProperties: false
        properties:
          refresh_token:
            type: string
            path_in_connector_config:
              - credentials
              - refresh_token
          access_token:
            type: string
            path_in_connector_config:
              - credentials
              - access_token
          token_expiry_date:
            type: string
            path_in_connector_config:
              - credentials
              - token_expiry_date
      complete_oauth_server_input_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - credentials
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - credentials
              - client_secret
  config_normalization_rules:
    type: ConfigNormalizationRules
    config_migrations:
      - type: ConfigMigration
        description: Migrate flat api_key config to nested credentials structure for OAuth 2.0 support
        transformations:
          - type: ConfigAddFields
            fields:
              - type: AddedFieldDefinition
                path: ["credentials", "auth_type"]
                value: "API Key"
            condition: "{{ not config.get('credentials') and config.get('api_key') }}"
          - type: ConfigAddFields
            fields:
              - type: AddedFieldDefinition
                path: ["credentials", "api_key"]
                value: "{{ config['api_key'] }}"
            condition: "{{ not config.get('credentials', {}).get('api_key') and config.get('api_key') }}"


metadata:
  autoImportSchema:
    issues: true
    customers: true
    users: true
    comments: true
    cycles: true
    customer_needs: true
    projects: true
    project_milestones: true
    project_statuses: true
    issue_labels: true
    workflow_states: true
    teams: true
    attachments: true
    issue_relations: true
    customer_statuses: true
    customer_tiers: true
    initiatives: false
    initiative_to_projects: false
    project_updates: false
    issue_history: false
  testedStreams:
    issues:
      streamHash: 31da36c397cf9d42c652cf26817aa06d507c1f10
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    customers:
      streamHash: 45c69f2e84a0cf5a17ff995d6b65f952a568724c
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: 40573da4873d611d9e38e715a30f61465a475172
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    comments:
      streamHash: e403a1e5bd2a61b444f7f41c066c6b50947ea29a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    cycles:
      streamHash: 5199681dd9775c8ca38461e28a5cf51aa6d89f52
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    customer_needs:
      streamHash: 32453753c3728013293ba3a3c49ef7eceb9ff3a9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    projects:
      streamHash: e3968849ba20ce36185afdd17035a2f236048f67
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    project_milestones:
      streamHash: ee6ba54ce103461535b1042e8a43b71a8f60a274
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    project_statuses:
      streamHash: 4a5d57d33f61aff9aa42e9942a4e5253210fc72f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    issue_labels:
      streamHash: b32812d2f502857f57b83aba24b82747d24370af
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    workflow_states:
      streamHash: 606a0a18622cc1abdf5cdc8a9da1c19539ce8ea9
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    teams:
      streamHash: c82293934010eb84d018a5d96470fd1453bbeea7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    attachments:
      streamHash: 4b9aae11fb975daa00ced4ee5d381ded961eafa2
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    issue_relations:
      streamHash: dc008ae0eb13de1d2ce60933e336b5c78e507991
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    customer_statuses:
      streamHash: 21dc77462e1682d0092d175076f3f24adfd76feb
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    customer_tiers:
      streamHash: d0ce4d9289e4ea1d2f09c8479168999be5446015
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  issues:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      addedToCycleAt:
        type:
          - string
          - "null"
        format: date-time
      addedToProjectAt:
        type:
          - string
          - "null"
        format: date-time
      addedToTeamAt:
        type:
          - string
          - "null"
        format: date-time
      archivedAt:
        type:
          - "null"
          - string
        format: date-time
      assignee:
        type:
          - object
          - "null"
      assigneeId:
        type:
          - string
          - "null"
      attachmentIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      attachments:
        type:
          - object
          - "null"
      branchName:
        type:
          - string
          - "null"
      canceledAt:
        type:
          - string
          - "null"
        format: date-time
      completedAt:
        type:
          - string
          - "null"
        format: date-time
      createdAt:
        type:
          - string
          - "null"
        format: date-time
      creator:
        type:
          - object
          - "null"
      creatorId:
        type:
          - string
          - "null"
      customerTicketCount:
        type:
          - number
          - "null"
      cycle:
        type:
          - object
          - "null"
      cycleId:
        type:
          - string
          - "null"
      descriptionState:
        type:
          - string
          - "null"
      dueDate:
        type:
          - string
          - "null"
        format: date
      estimate:
        type:
          - number
          - "null"
      id:
        type: string
      identifier:
        type:
          - string
          - "null"
      integrationSourceType:
        type:
          - string
          - "null"
      labelIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      labels:
        type:
          - object
          - "null"
      milestoneId:
        type:
          - string
          - "null"
      number:
        type:
          - number
          - "null"
      parent:
        type:
          - object
          - "null"
      parentId:
        type:
          - string
          - "null"
      previousIdentifiers:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      priority:
        type:
          - number
          - "null"
      priorityLabel:
        type:
          - string
          - "null"
      prioritySortOrder:
        type:
          - number
          - "null"
      project:
        type:
          - object
          - "null"
      projectId:
        type:
          - string
          - "null"
      projectMilestone:
        type:
          - object
          - "null"
      reactionData:
        type:
          - array
          - "null"
      relationIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      relations:
        type:
          - object
          - "null"
      slaType:
        type:
          - string
          - "null"
      sortOrder:
        type:
          - number
          - "null"
      sourceCommentId:
        type:
          - string
          - "null"
      startedAt:
        type:
          - string
          - "null"
        format: date-time
      state:
        type:
          - object
          - "null"
      stateId:
        type:
          - string
          - "null"
      subIssueSortOrder:
        type:
          - number
          - "null"
      subscriberIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      subscribers:
        type:
          - object
          - "null"
      team:
        type:
          - object
          - "null"
      teamId:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      trashed:
        type:
          - boolean
          - "null"
      updatedAt:
        type:
          - string
          - "null"
        format: date-time
      url:
        type:
          - string
          - "null"
    required:
      - id
  customers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      approximateNeedCount:
        type:
          - number
          - "null"
      archivedAt:
        type:
          - "null"
          - string
        format: date-time
      createdAt:
        type:
          - string
          - "null"
        format: date-time
      domains:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      externalIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      id:
        type: string
      logoUrl:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      revenue:
        type:
          - number
          - "null"
      slugId:
        type:
          - string
          - "null"
      status:
        type:
          - object
          - "null"
      statusId:
        type:
          - string
          - "null"
      tier:
        type:
          - object
          - "null"
      tierId:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
        format: date-time
    required:
      - id
  users:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - boolean
          - "null"
      admin:
        type:
          - boolean
          - "null"
      archivedAt:
        type:
          - "null"
          - string
        format: date-time
      avatarBackgroundColor:
        type:
          - string
          - "null"
      avatarUrl:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
        format: date-time
      createdIssueCount:
        type:
          - number
          - "null"
      displayName:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      guest:
        type:
          - boolean
          - "null"
      id:
        type: string
      initials:
        type:
          - string
          - "null"
      isMe:
        type:
          - boolean
          - "null"
      lastSeen:
        type:
          - string
          - "null"
        format: date-time
      name:
        type:
          - string
          - "null"
      teamIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      teams:
        type:
          - object
          - "null"
      timezone:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
        format: date-time
      url:
        type:
          - string
          - "null"
    required:
      - id
  comments:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      archivedAt:
        type:
          - "null"
          - string
        format: date-time
      body:
        type:
          - string
          - "null"
      bodyData:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
        format: date-time
      editedAt:
        type:
          - string
          - "null"
        format: date-time
      id:
        type: string
      issue:
        type:
          - object
          - "null"
      issueId:
        type:
          - string
          - "null"
      parent:
        type:
          - object
          - "null"
      parentCommentId:
        type:
          - string
          - "null"
      resolvingCommentId:
        type:
          - string
          - "null"
      resolvingUserId:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
        format: date-time
      url:
        type:
          - string
          - "null"
      user:
        type:
          - object
          - "null"
      userId:
        type:
          - string
          - "null"
    required:
      - id
  cycles:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      completedAt:
        type:
          - string
          - "null"
        format: date-time
      completedIssueCountHistory:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      completedScopeHistory:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      archivedAt:
        type:
          - "null"
          - string
        format: date-time
      createdAt:
        type:
          - string
          - "null"
        format: date-time
      endsAt:
        type:
          - string
          - "null"
        format: date-time
      id:
        type: string
      inProgressScopeHistory:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      inheritedFromId:
        type:
          - string
          - "null"
      issueCountHistory:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      name:
        type:
          - string
          - "null"
      number:
        type:
          - number
          - "null"
      progress:
        type:
          - number
          - "null"
      scopeHistory:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      startsAt:
        type:
          - string
          - "null"
        format: date-time
      team:
        type:
          - object
          - "null"
      teamId:
        type:
          - string
          - "null"
      uncompletedIssueIdsUponClose:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      uncompletedIssuesUponClose:
        type:
          - object
          - "null"
      updatedAt:
        type:
          - string
          - "null"
        format: date-time
    required:
      - id
  customer_needs:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      archivedAt:
        type:
          - "null"
          - string
        format: date-time
      attachment:
        type:
          - object
          - "null"
      attachmentId:
        type:
          - string
          - "null"
      commentId:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
        format: date-time
      creatorId:
        type:
          - string
          - "null"
      customer:
        type:
          - object
          - "null"
      customerId:
        type:
          - string
          - "null"
      id:
        type: string
      issue:
        type:
          - object
          - "null"
      issueId:
        type:
          - string
          - "null"
      priority:
        type:
          - number
          - "null"
      project:
        type:
          - object
          - "null"
      projectId:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
        format: date-time
    required:
      - id
  projects:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - string
          - "null"
      archivedAt:
        type:
          - "null"
          - string
        format: date-time
      canceledAt:
        type:
          - string
          - "null"
        format: date-time
      color:
        type:
          - string
          - "null"
      completedAt:
        type:
          - string
          - "null"
        format: date-time
      completedIssueCountHistory:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      completedScopeHistory:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      content:
        type:
          - string
          - "null"
      contentState:
        type:
          - string
          - "null"
      convertedFromIssue:
        type:
          - object
          - "null"
      convertedFromIssueId:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
        format: date-time
      creator:
        type:
          - object
          - "null"
      creatorId:
        type:
          - string
          - "null"
      health:
        type:
          - string
          - "null"
      healthUpdatedAt:
        type:
          - string
          - "null"
        format: date-time
      icon:
        type:
          - string
          - "null"
      id:
        type: string
      inProgressScopeHistory:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      issueCountHistory:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      lead:
        type:
          - object
          - "null"
      leadId:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      priority:
        type:
          - number
          - "null"
      prioritySortOrder:
        type:
          - number
          - "null"
      progress:
        type:
          - number
          - "null"
      scope:
        type:
          - number
          - "null"
      scopeHistory:
        type:
          - array
          - "null"
        items:
          type:
            - number
            - "null"
      slugId:
        type:
          - string
          - "null"
      sortOrder:
        type:
          - number
          - "null"
      startDate:
        type:
          - string
          - "null"
        format: date
      startedAt:
        type:
          - string
          - "null"
        format: date-time
      status:
        type:
          - object
          - "null"
      statusId:
        type:
          - string
          - "null"
      targetDate:
        type:
          - string
          - "null"
        format: date
      teamIds:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      teams:
        type:
          - object
          - "null"
      trashed:
        type:
          - boolean
          - "null"
      updateRemindersDay:
        type:
          - string
          - "null"
      updateRemindersHour:
        type:
          - number
          - "null"
      updatedAt:
        type:
          - string
          - "null"
        format: date-time
      url:
        type:
          - string
          - "null"
    required:
      - id
  project_milestones:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      archivedAt:
        type:
          - "null"
          - string
        format: date-time
      description:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
        format: date-time
      descriptionState:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
      progress:
        type:
          - number
          - "null"
      project:
        type:
          - object
          - "null"
      projectId:
        type:
          - string
          - "null"
      sortOrder:
        type:
          - number
          - "null"
      status:
        type:
          - string
          - "null"
      targetDate:
        type:
          - string
          - "null"
        format: date
      updatedAt:
        type:
          - string
          - "null"
        format: date-time
    required:
      - id
  project_statuses:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      archivedAt:
        type:
          - "null"
          - string
        format: date-time
      type:
        type:
          - string
          - "null"
      color:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
        format: date-time
      id:
        type: string
      indefinite:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      position:
        type:
          - number
          - "null"
      updatedAt:
        type:
          - string
          - "null"
        format: date-time
    required:
      - id
  issue_labels:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      archivedAt:
        type:
          - "null"
          - string
        format: date-time
      description:
        type:
          - string
          - "null"
      color:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
        format: date-time
      creator:
        type:
          - object
          - "null"
      creatorId:
        type:
          - string
          - "null"
      id:
        type: string
      inheritedFromId:
        type:
          - string
          - "null"
      isGroup:
        type:
          - boolean
          - "null"
      name:
        type:
          - string
          - "null"
      parent:
        type:
          - object
          - "null"
      parentLabelId:
        type:
          - string
          - "null"
      team:
        type:
          - object
          - "null"
      teamId:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
        format: date-time
    required:
      - id
  workflow_states:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      archivedAt:
        type:
          - "null"
          - string
        format: date-time
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      color:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
        format: date-time
      id:
        type: string
      inheritedFromId:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      position:
        type:
          - number
          - "null"
      team:
        type:
          - object
          - "null"
      teamId:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
        format: date-time
    required:
      - id
  teams:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      activeCycle:
        type:
          - object
          - "null"
      archivedAt:
        type:
          - "null"
          - string
        format: date-time
      activeCycleId:
        type:
          - string
          - "null"
      autoArchivePeriod:
        type:
          - number
          - "null"
      autoClosePeriod:
        type:
          - number
          - "null"
      autoCloseStateId:
        type:
          - string
          - "null"
      color:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
        format: date-time
      cycleCalenderUrl:
        type:
          - string
          - "null"
      cycleCooldownTime:
        type:
          - number
          - "null"
      cycleDuration:
        type:
          - number
          - "null"
      cycleIssueAutoAssignCompleted:
        type:
          - boolean
          - "null"
      cycleIssueAutoAssignStarted:
        type:
          - boolean
          - "null"
      cycleLockToActive:
        type:
          - boolean
          - "null"
      cycleStartDay:
        type:
          - number
          - "null"
      cyclesEnabled:
        type:
          - boolean
          - "null"
      defaultIssueEstimate:
        type:
          - number
          - "null"
      defaultIssueState:
        type:
          - object
          - "null"
      defaultIssueStateId:
        type:
          - string
          - "null"
      groupIssueHistory:
        type:
          - boolean
          - "null"
      icon:
        type:
          - string
          - "null"
      id:
        type: string
      issueCount:
        type:
          - number
          - "null"
      issueEstimationAllowZero:
        type:
          - boolean
          - "null"
      issueEstimationExtended:
        type:
          - boolean
          - "null"
      issueEstimationType:
        type:
          - string
          - "null"
      key:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      parentTeamId:
        type:
          - string
          - "null"
      requirePriorityToLeaveTriage:
        type:
          - boolean
          - "null"
      scimManaged:
        type:
          - boolean
          - "null"
      setIssueSortOrderOnStateChange:
        type:
          - string
          - "null"
      timezone:
        type:
          - string
          - "null"
      triageEnabled:
        type:
          - boolean
          - "null"
      triageIssueStateId:
        type:
          - string
          - "null"
      upcomingCycleCount:
        type:
          - number
          - "null"
      updatedAt:
        type:
          - string
          - "null"
        format: date-time
      visibility:
[...]
