version: 7.4.2

type: DeclarativeSource

description: >-
  Extracts healthcare data from DrChrono EHR including patients, appointments,
  clinical notes, medications, allergies, problems, vitals, and billing
  information. Supports incremental sync with configurable date.

check:
  type: CheckStream
  stream_names:
    - doctors

definitions:
  authenticator:
    type: BearerAuthenticator
    api_token: "{{ config['access_token'] }}"
  base_requester:
    type: HttpRequester
    url_base: https://app.drchrono.com
    http_method: GET
    authenticator:
      $ref: "#/definitions/authenticator"
    request_headers:
      Accept: application/json
    error_handler:
      type: CompositeErrorHandler
      error_handlers:
        - type: DefaultErrorHandler
          response_filters:
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 429
                - 500
                - 502
                - 503
                - 504
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 2
              max_wait_time_in_seconds: 60
  cursor_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestPath
    pagination_strategy:
      type: CursorPagination
      cursor_value: "{{ response.get('next', '') }}"
      stop_condition: "{{ response.get('next') is none }}"
  incremental_retriever:
    type: SimpleRetriever
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path:
          - results
    paginator:
      $ref: "#/definitions/cursor_paginator"
    partition_router: []
  full_refresh_retriever:
    type: SimpleRetriever
    record_selector:
      type: RecordSelector
      extractor:
        type: DpathExtractor
        field_path:
          - results
    paginator:
      $ref: "#/definitions/cursor_paginator"
  base_incremental_sync:
    type: DatetimeBasedCursor
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%d"
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ now_utc().strftime('%Y-%m-%d') }}"
      datetime_format: "%Y-%m-%d"
    step: P30D
    cursor_field: updated_at
    datetime_format: "%Y-%m-%dT%H:%M:%S"
    cursor_granularity: PT1S
    start_time_option:
      type: RequestOption
      inject_into: request_parameter
      field_name: since

streams:
  - type: DeclarativeStream
    name: patients
    primary_key: id
    retriever:
      $ref: "#/definitions/incremental_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /api/patients
    incremental_sync:
      $ref: "#/definitions/base_incremental_sync"
  - type: DeclarativeStream
    name: appointments
    primary_key: id
    retriever:
      $ref: "#/definitions/incremental_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /api/appointments
    incremental_sync:
      $ref: "#/definitions/base_incremental_sync"
  - type: DeclarativeStream
    name: clinical_notes
    primary_key: id
    retriever:
      $ref: "#/definitions/incremental_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /api/clinical_notes
    incremental_sync:
      $ref: "#/definitions/base_incremental_sync"
  - type: DeclarativeStream
    name: medications
    primary_key: id
    retriever:
      $ref: "#/definitions/incremental_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /api/medications
    incremental_sync:
      $ref: "#/definitions/base_incremental_sync"
  - type: DeclarativeStream
    name: allergies
    primary_key: id
    retriever:
      $ref: "#/definitions/incremental_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /api/allergies
    incremental_sync:
      $ref: "#/definitions/base_incremental_sync"
  - type: DeclarativeStream
    name: problems
    primary_key: id
    retriever:
      $ref: "#/definitions/incremental_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /api/problems
    incremental_sync:
      $ref: "#/definitions/base_incremental_sync"
  - type: DeclarativeStream
    name: doctors
    primary_key: id
    retriever:
      $ref: "#/definitions/incremental_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /api/doctors
    incremental_sync:
      $ref: "#/definitions/base_incremental_sync"
  - type: DeclarativeStream
    name: vitals
    primary_key: id
    retriever:
      $ref: "#/definitions/full_refresh_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /api/patient_vitals
  - type: DeclarativeStream
    name: offices
    primary_key: id
    retriever:
      $ref: "#/definitions/full_refresh_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /api/offices
  - type: DeclarativeStream
    name: patient_flag_types
    primary_key: id
    retriever:
      $ref: "#/definitions/full_refresh_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /api/patient_flag_types
  - type: DeclarativeStream
    name: appointment_templates
    primary_key: id
    retriever:
      $ref: "#/definitions/full_refresh_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /api/appointment_templates
  - type: DeclarativeStream
    name: clinical_note_templates
    primary_key: id
    retriever:
      $ref: "#/definitions/full_refresh_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /api/clinical_note_templates
  - type: DeclarativeStream
    name: custom_fields
    primary_key: id
    retriever:
      $ref: "#/definitions/full_refresh_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /api/custom_fields
  - type: DeclarativeStream
    name: billing_profiles
    primary_key: id
    retriever:
      $ref: "#/definitions/full_refresh_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /api/billing_profiles
  - type: DeclarativeStream
    name: users
    primary_key: id
    retriever:
      $ref: "#/definitions/full_refresh_retriever"
      requester:
        $ref: "#/definitions/base_requester"
        path: /api/users

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    title: DrChrono API Source
    required:
      - access_token
      - start_date
    properties:
      access_token:
        type: string
        description: Get this by running the refresh script (valid for 10 hours)
        title: Access Token
        airbyte_secret: true
        order: 0
      start_date:
        type: string
        title: Start Date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        examples:
          - "2024-01-01"
        order: 1

metadata:
  autoImportSchema:
    patients: true
    appointments: true
    clinical_notes: true
    medications: true
    allergies: true
    problems: true
    doctors: true
    vitals: true
    offices: true
    patient_flag_types: true
    appointment_templates: true
    clinical_note_templates: true
    custom_fields: true
    billing_profiles: true
    users: true
