version: 5.15.0

type: DeclarativeSource

description: >-
  InfluxDB is a high-performance time series database designed for storing,
  querying, and analyzing time-stamped data. It excels in handling large volumes
  of data generated by IoT devices, applications, and real-time analytics,
  providing powerful capabilities for monitoring, observability, and performance
  tracking. With its SQL-like query language, InfluxQL, and support for
  downsampling, continuous queries, and data retention policies, InfluxDB
  enables users to derive insights from their time series data efficiently,
  making it a popular choice for developers and data scientists in various
  industries.

check:
  type: CheckStream
  stream_names:
    - listbuckets

definitions:
  streams:
    listbuckets:
      type: DeclarativeStream
      name: listbuckets
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/buckets
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - buckets
          record_filter:
            type: RecordFilter
            condition: "{{ record.type in ['user'] }}"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: OffsetIncrement
            page_size: 20
            inject_on_first_request: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/listbuckets"
    allbuckets:
      type: DeclarativeStream
      name: allbuckets
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/buckets/{{stream_partition.bucket_id}}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - buckets
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: OffsetIncrement
            page_size: 20
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: .bucket_id
              stream:
                $ref: "#/definitions/streams/listbuckets"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/allbuckets"
    bucketlabels:
      type: DeclarativeStream
      name: bucketlabels
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/v2/buckets/{{stream_partition.bucket_id}}/labels
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - labels
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          pagination_strategy:
            type: OffsetIncrement
            page_size: 20
            inject_on_first_request: true
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: bucket_id
              stream:
                $ref: "#/definitions/streams/listbuckets"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/bucketlabels"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['influx_url'] }}
    authenticator:
      type: ApiKeyAuthenticator
      api_token: Token {{ config['influx_api_token'] }}
      inject_into:
        type: RequestOption
        field_name: Authorization
        inject_into: header

streams:
  - $ref: "#/definitions/streams/listbuckets"
  - $ref: "#/definitions/streams/allbuckets"
  - $ref: "#/definitions/streams/bucketlabels"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - influx_url
      - influx_api_token
    properties:
      influx_url:
        type: string
        description: >-
          The base URL for your InfluxDB instance, excluding any path
          components.
        name: influx_url
        order: 0
        title: InfluxDB URL
      influx_api_token:
        type: string
        description: >-
          API token to use for authenticating requests. You can generate and
          manage your API tokens in the InfluxDB UI under the 'API Tokens'
          section.
        name: influx_api_token
        order: 1
        title: InfluxDB API Token
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    listbuckets: true
    allbuckets: false
    bucketlabels: false
  yamlComponents:
    global:
      - authenticator
  testedStreams:
    listbuckets:
      hasRecords: true
      streamHash: 831b17f93f9c0e6f1f0a3ceb367ac7c11a7bf78d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    allbuckets:
      hasRecords: true
      streamHash: 8082d928566a8a5c9dc9ae1802a920359d2d698f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    bucketlabels:
      hasRecords: true
      streamHash: 9aeb0e077a7a118d42d8c9b1d0c90822921f4f0d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist:
    docsUrl: https://docs.influxdata.com/influxdb/v2/api/

schemas:
  listbuckets:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      id:
        type: string
      labels:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            orgID:
              type:
                - string
                - "null"
            properties:
              type:
                - object
                - "null"
              properties:
                description:
                  type:
                    - string
                    - "null"
                color:
                  type:
                    - string
                    - "null"
      links:
        type:
          - object
          - "null"
        properties:
          labels:
            type:
              - string
              - "null"
          members:
            type:
              - string
              - "null"
          org:
            type:
              - string
              - "null"
          owners:
            type:
              - string
              - "null"
          self:
            type:
              - string
              - "null"
          write:
            type:
              - string
              - "null"
      name:
        type:
          - string
          - "null"
      orgID:
        type:
          - string
          - "null"
      retentionRules:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            everySeconds:
              type:
                - number
                - "null"
      schemaType:
        type:
          - string
          - "null"
      storageType:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
    required:
      - id
  allbuckets:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      createdAt:
        type:
          - string
          - "null"
      id:
        type:
          - string
          - "null"
      labels:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            orgID:
              type:
                - string
                - "null"
            properties:
              type:
                - object
                - "null"
              properties:
                description:
                  type:
                    - string
                    - "null"
                color:
                  type:
                    - string
                    - "null"
      links:
        type:
          - object
          - "null"
        properties:
          labels:
            type:
              - string
              - "null"
          members:
            type:
              - string
              - "null"
          org:
            type:
              - string
              - "null"
          owners:
            type:
              - string
              - "null"
          self:
            type:
              - string
              - "null"
          write:
            type:
              - string
              - "null"
      name:
        type:
          - string
          - "null"
      orgID:
        type:
          - string
          - "null"
      retentionRules:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            everySeconds:
              type:
                - number
                - "null"
      schemaType:
        type:
          - string
          - "null"
      storageType:
        type:
          - string
          - "null"
      updatedAt:
        type:
          - string
          - "null"
  bucketlabels:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      orgID:
        type:
          - string
          - "null"
      properties:
        type:
          - object
          - "null"
        properties:
          description:
            type:
              - string
              - "null"
          color:
            type:
              - string
              - "null"
