.chatTrigger {
  color: var(--color-grey-900);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.15em;
  font-weight: 500 !important;
  border-radius: 6px;
  padding: 8px 12px;
  background:
    linear-gradient(var(--color-white), var(--color-white)
    ) padding-box,
    linear-gradient(90deg, var(--ifm-color-primary-dark)
    0%, var(--color-orange-400)
    100%) border-box;
  border: 1px solid transparent;
  cursor: pointer;
  transition: .2s ease-in;
  white-space: nowrap;
  margin-right: 4px;
 &:hover {
  filter: brightness(0.9);
  color: var(--color-grey-900) !important;
 }

}
.chatTrigger__icon {
  display: inline-block;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  justify-content: center;
}