@use "../../../scss/colors";

.toggleVisibilityButton {
  width: 100%;
  line-height: 1;
  color: colors.$grey-300;
  font-style: italic;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: text;
}

.textarea {
  overflow: auto;
}

.passwordInput {
  display: none;
}
