version: 0.65.0
type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - MetaFields

streams:
  - type: DeclarativeStream
    name: MetaFields
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties: {}
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.bamboohr.com/api/gateway.php/{{ config['subdomain'] }}/v1/
        path: meta/fields
        http_method: GET
        request_parameters: {}
        request_headers:
          Accept: application/json
        authenticator:
          type: BasicHttpAuthenticator
          password: 'x'
          username: '{{ config[''api_key''] }}'
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
      partition_router: []

  - type: DeclarativeStream
    name: CustomReports
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties: {}
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.bamboohr.com/api/gateway.php/{{ config['subdomain'] }}/v1/
        path: reports/custom
        http_method: POST
        request_parameters: {}
        request_headers:
          Accept: application/json
        authenticator:
          type: BasicHttpAuthenticator
          password: 'x'
          username: '{{ config[''api_key''] }}'
        request_body_json:
          title: Airbyte
          fields: list(self.schema["properties"].keys())
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - employees
      paginator:
        type: NoPagination
      partition_router: []

spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/bamboo-hr
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: "Bamboo HR Spec"
    type: object
    additionalProperties: true
    required:
      - api_key
      - subdomain
    properties:
      subdomain:
        type: string
        order: 2
        title: subdomain
        description: Sub Domain of bamboo hr
      api_key:
        type: string
        order: 1
        title: api_key
        description: Api key of bamboo hr
        airbyte_secret: true
      custom_reports_fields:
        type: string
        order: 3
        title: custom_reports_fields
        description: Comma-separated list of fields to include in custom reports.
        default: ""
      custom_reports_include_default_fields:
        title: custom_reports_include_default_fields
        description: >-
          If true, the custom reports endpoint will include the default fields
          defined here:
          https://documentation.bamboohr.com/docs/list-of-field-names.
        type: boolean
        default: true
        order: 4
