version: 4.3.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - exchange_rates
definitions:
  streams:
    exchange_rates:
      type: DeclarativeStream
      name: exchange_rates
      retriever:
        type: SimpleRetriever
        requester:
          type: HttpRequester
          url_base: https://api.apilayer.com/exchangerates_data/
          authenticator:
            type: ApiKeyAuthenticator
            api_token: "{{ config['access_key'] }}"
            inject_into:
              type: RequestOption
              field_name: apikey
              inject_into: header
          path: latest
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: date
        cursor_datetime_formats:
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config['start_date'] }}"
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: date
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          type: object
          $schema: https://json-schema.org/draft-07/schema#
          additionalProperties: true
          properties:
            base:
              type:
                - "null"
                - string
            date:
              type:
                - "null"
                - string
            rates:
              type:
                - "null"
                - object
              properties:
                AED:
                  type:
                    - "null"
                    - number
                AFN:
                  type:
                    - "null"
                    - number
                ALL:
                  type:
                    - "null"
                    - number
                AMD:
                  type:
                    - "null"
                    - number
                ANG:
                  type:
                    - "null"
                    - number
                AOA:
                  type:
                    - "null"
                    - number
                ARS:
                  type:
                    - "null"
                    - number
                AUD:
                  type:
                    - "null"
                    - number
                AWG:
                  type:
                    - "null"
                    - number
                AZN:
                  type:
                    - "null"
                    - number
                BAM:
                  type:
                    - "null"
                    - number
                BBD:
                  type:
                    - "null"
                    - number
                BDT:
                  type:
                    - "null"
                    - number
                BGN:
                  type:
                    - "null"
                    - number
                BHD:
                  type:
                    - "null"
                    - number
                BIF:
                  type:
                    - "null"
                    - number
                BMD:
                  type:
                    - "null"
                    - number
                BND:
                  type:
                    - "null"
                    - number
                BOB:
                  type:
                    - "null"
                    - number
                BRL:
                  type:
                    - "null"
                    - number
                BSD:
                  type:
                    - "null"
                    - number
                BTC:
                  type:
                    - "null"
                    - number
                BTN:
                  type:
                    - "null"
                    - number
                BWP:
                  type:
                    - "null"
                    - number
                BYN:
                  type:
                    - "null"
                    - number
                BYR:
                  type:
                    - "null"
                    - number
                BZD:
                  type:
                    - "null"
                    - number
                CAD:
                  type:
                    - "null"
                    - number
                CDF:
                  type:
                    - "null"
                    - number
                CHF:
                  type:
                    - "null"
                    - number
                CLF:
                  type:
                    - "null"
                    - number
                CLP:
                  type:
                    - "null"
                    - number
                CNY:
                  type:
                    - "null"
                    - number
                COP:
                  type:
                    - "null"
                    - number
                CRC:
                  type:
                    - "null"
                    - number
                CUC:
                  type:
                    - "null"
                    - number
                CUP:
                  type:
                    - "null"
                    - number
                CVE:
                  type:
                    - "null"
                    - number
                CZK:
                  type:
                    - "null"
                    - number
                DJF:
                  type:
                    - "null"
                    - number
                DKK:
                  type:
                    - "null"
                    - number
                DOP:
                  type:
                    - "null"
                    - number
                DZD:
                  type:
                    - "null"
                    - number
                EGP:
                  type:
                    - "null"
                    - number
                ERN:
                  type:
                    - "null"
                    - number
                ETB:
                  type:
                    - "null"
                    - number
                EUR:
                  type:
                    - "null"
                    - number
                FJD:
                  type:
                    - "null"
                    - number
                FKP:
                  type:
                    - "null"
                    - number
                GBP:
                  type:
                    - "null"
                    - number
                GEL:
                  type:
                    - "null"
                    - number
                GGP:
                  type:
                    - "null"
                    - number
                GHS:
                  type:
                    - "null"
                    - number
                GIP:
                  type:
                    - "null"
                    - number
                GMD:
                  type:
                    - "null"
                    - number
                GNF:
                  type:
                    - "null"
                    - number
                GTQ:
                  type:
                    - "null"
                    - number
                GYD:
                  type:
                    - "null"
                    - number
                HKD:
                  type:
                    - "null"
                    - number
                HNL:
                  type:
                    - "null"
                    - number
                HRK:
                  type:
                    - "null"
                    - number
                HTG:
                  type:
                    - "null"
                    - number
                HUF:
                  type:
                    - "null"
                    - number
                IDR:
                  type:
                    - "null"
                    - number
                ILS:
                  type:
                    - "null"
                    - number
                IMP:
                  type:
                    - "null"
                    - number
                INR:
                  type:
                    - "null"
                    - number
                IQD:
                  type:
                    - "null"
                    - number
                IRR:
                  type:
                    - "null"
                    - number
                ISK:
                  type:
                    - "null"
                    - number
                JEP:
                  type:
                    - "null"
                    - number
                JMD:
                  type:
                    - "null"
                    - number
                JOD:
                  type:
                    - "null"
                    - number
                JPY:
                  type:
                    - "null"
                    - number
                KES:
                  type:
                    - "null"
                    - number
                KGS:
                  type:
                    - "null"
                    - number
                KHR:
                  type:
                    - "null"
                    - number
                KMF:
                  type:
                    - "null"
                    - number
                KPW:
                  type:
                    - "null"
                    - number
                KRW:
                  type:
                    - "null"
                    - number
                KWD:
                  type:
                    - "null"
                    - number
                KYD:
                  type:
                    - "null"
                    - number
                KZT:
                  type:
                    - "null"
                    - number
                LAK:
                  type:
                    - "null"
                    - number
                LBP:
                  type:
                    - "null"
                    - number
                LKR:
                  type:
                    - "null"
                    - number
                LRD:
                  type:
                    - "null"
                    - number
                LSL:
                  type:
                    - "null"
                    - number
                LTL:
                  type:
                    - "null"
                    - number
                LVL:
                  type:
                    - "null"
                    - number
                LYD:
                  type:
                    - "null"
                    - number
                MAD:
                  type:
                    - "null"
                    - number
                MDL:
                  type:
                    - "null"
                    - number
                MGA:
                  type:
                    - "null"
                    - number
                MKD:
                  type:
                    - "null"
                    - number
                MMK:
                  type:
                    - "null"
                    - number
                MNT:
                  type:
                    - "null"
                    - number
                MOP:
                  type:
                    - "null"
                    - number
                MRO:
                  type:
                    - "null"
                    - number
                MUR:
                  type:
                    - "null"
                    - number
                MVR:
                  type:
                    - "null"
                    - number
                MWK:
                  type:
                    - "null"
                    - number
                MXN:
                  type:
                    - "null"
                    - number
                MYR:
                  type:
                    - "null"
                    - number
                MZN:
                  type:
                    - "null"
                    - number
                NAD:
                  type:
                    - "null"
                    - number
                NGN:
                  type:
                    - "null"
                    - number
                NIO:
                  type:
                    - "null"
                    - number
                NOK:
                  type:
                    - "null"
                    - number
                NPR:
                  type:
                    - "null"
                    - number
                NZD:
                  type:
                    - "null"
                    - number
                OMR:
                  type:
                    - "null"
                    - number
                PAB:
                  type:
                    - "null"
                    - number
                PEN:
                  type:
                    - "null"
                    - number
                PGK:
                  type:
                    - "null"
                    - number
                PHP:
                  type:
                    - "null"
                    - number
                PKR:
                  type:
                    - "null"
                    - number
                PLN:
                  type:
                    - "null"
                    - number
                PYG:
                  type:
                    - "null"
                    - number
                QAR:
                  type:
                    - "null"
                    - number
                RON:
                  type:
                    - "null"
                    - number
                RSD:
                  type:
                    - "null"
                    - number
                RUB:
                  type:
                    - "null"
                    - number
                RWF:
                  type:
                    - "null"
                    - number
                SAR:
                  type:
                    - "null"
                    - number
                SBD:
                  type:
                    - "null"
                    - number
                SCR:
                  type:
                    - "null"
                    - number
                SDG:
                  type:
                    - "null"
                    - number
                SEK:
                  type:
                    - "null"
                    - number
                SGD:
                  type:
                    - "null"
                    - number
                SHP:
                  type:
                    - "null"
                    - number
                SLL:
                  type:
                    - "null"
                    - number
                SOS:
                  type:
                    - "null"
                    - number
                SRD:
                  type:
                    - "null"
                    - number
                STD:
                  type:
                    - "null"
                    - number
                SVC:
                  type:
                    - "null"
                    - number
                SYP:
                  type:
                    - "null"
                    - number
                SZL:
                  type:
                    - "null"
                    - number
                THB:
                  type:
                    - "null"
                    - number
                TJS:
                  type:
                    - "null"
                    - number
                TMT:
                  type:
                    - "null"
                    - number
                TND:
                  type:
                    - "null"
                    - number
                TOP:
                  type:
                    - "null"
                    - number
                TRY:
                  type:
                    - "null"
                    - number
                TTD:
                  type:
                    - "null"
                    - number
                TWD:
                  type:
                    - "null"
                    - number
                TZS:
                  type:
                    - "null"
                    - number
                UAH:
                  type:
                    - "null"
                    - number
                UGX:
                  type:
                    - "null"
                    - number
                USD:
                  type:
                    - "null"
                    - number
                UYU:
                  type:
                    - "null"
                    - number
                UZS:
                  type:
                    - "null"
                    - number
                VEF:
                  type:
                    - "null"
                    - number
                VND:
                  type:
                    - "null"
                    - number
                VUV:
                  type:
                    - "null"
                    - number
                WST:
                  type:
                    - "null"
                    - number
                XAF:
                  type:
                    - "null"
                    - number
                XAG:
                  type:
                    - "null"
                    - number
                XAU:
                  type:
                    - "null"
                    - number
                XCD:
                  type:
                    - "null"
                    - number
                XDR:
                  type:
                    - "null"
                    - number
                XOF:
                  type:
                    - "null"
                    - number
                XPF:
                  type:
                    - "null"
                    - number
                YER:
                  type:
                    - "null"
                    - number
                ZAR:
                  type:
                    - "null"
                    - number
                ZMK:
                  type:
                    - "null"
                    - number
                ZMW:
                  type:
                    - "null"
                    - number
                ZWL:
                  type:
                    - "null"
                    - number
            success:
              type:
                - "null"
                - boolean
            timestamp:
              type:
                - "null"
                - integer
          required:
            - base
            - date
            - rates
  base_requester:
    type: HttpRequester
    url_base: https://api.apilayer.com/exchangerates_data/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config['access_key'] }}"
      inject_into:
        type: RequestOption
        field_name: apikey
        inject_into: header
streams:
  - type: DeclarativeStream
    name: exchange_rates
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.apilayer.com/exchangerates_data/
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['access_key'] }}"
          inject_into:
            type: RequestOption
            field_name: apikey
            inject_into: header
        path: latest
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date
      cursor_datetime_formats:
        - "%Y-%m-%d"
      datetime_format: "%Y-%m-%d"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['start_date'] }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        inject_into: request_parameter
        field_name: date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: https://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          base:
            type:
              - "null"
              - string
          date:
            type:
              - "null"
              - string
          rates:
            type:
              - "null"
              - object
            properties:
              AED:
                type:
                  - "null"
                  - number
              AFN:
                type:
                  - "null"
                  - number
              ALL:
                type:
                  - "null"
                  - number
              AMD:
                type:
                  - "null"
                  - number
              ANG:
                type:
                  - "null"
                  - number
              AOA:
                type:
                  - "null"
                  - number
              ARS:
                type:
                  - "null"
                  - number
              AUD:
                type:
                  - "null"
                  - number
              AWG:
                type:
                  - "null"
                  - number
              AZN:
                type:
                  - "null"
                  - number
              BAM:
                type:
                  - "null"
                  - number
              BBD:
                type:
                  - "null"
                  - number
              BDT:
                type:
                  - "null"
                  - number
              BGN:
                type:
                  - "null"
                  - number
              BHD:
                type:
                  - "null"
                  - number
              BIF:
                type:
                  - "null"
                  - number
              BMD:
                type:
                  - "null"
                  - number
              BND:
                type:
                  - "null"
                  - number
              BOB:
                type:
                  - "null"
                  - number
              BRL:
                type:
                  - "null"
                  - number
              BSD:
                type:
                  - "null"
                  - number
              BTC:
                type:
                  - "null"
                  - number
              BTN:
                type:
                  - "null"
                  - number
              BWP:
                type:
                  - "null"
                  - number
              BYN:
                type:
                  - "null"
                  - number
              BYR:
                type:
                  - "null"
                  - number
              BZD:
                type:
                  - "null"
                  - number
              CAD:
                type:
                  - "null"
                  - number
              CDF:
                type:
                  - "null"
                  - number
              CHF:
                type:
                  - "null"
                  - number
              CLF:
                type:
                  - "null"
                  - number
              CLP:
                type:
                  - "null"
                  - number
              CNY:
                type:
                  - "null"
                  - number
              COP:
                type:
                  - "null"
                  - number
              CRC:
                type:
                  - "null"
                  - number
              CUC:
                type:
                  - "null"
                  - number
              CUP:
                type:
                  - "null"
                  - number
              CVE:
                type:
                  - "null"
                  - number
              CZK:
                type:
                  - "null"
                  - number
              DJF:
                type:
                  - "null"
                  - number
              DKK:
                type:
                  - "null"
                  - number
              DOP:
                type:
                  - "null"
                  - number
              DZD:
                type:
                  - "null"
                  - number
              EGP:
                type:
                  - "null"
                  - number
              ERN:
                type:
                  - "null"
                  - number
              ETB:
                type:
                  - "null"
                  - number
              EUR:
                type:
                  - "null"
                  - number
              FJD:
                type:
                  - "null"
                  - number
              FKP:
                type:
                  - "null"
                  - number
              GBP:
                type:
                  - "null"
                  - number
              GEL:
                type:
                  - "null"
                  - number
              GGP:
                type:
                  - "null"
                  - number
              GHS:
                type:
                  - "null"
                  - number
              GIP:
                type:
                  - "null"
                  - number
              GMD:
                type:
                  - "null"
                  - number
              GNF:
                type:
                  - "null"
                  - number
              GTQ:
                type:
                  - "null"
                  - number
              GYD:
                type:
                  - "null"
                  - number
              HKD:
                type:
                  - "null"
                  - number
              HNL:
                type:
                  - "null"
                  - number
              HRK:
                type:
                  - "null"
                  - number
              HTG:
                type:
                  - "null"
                  - number
              HUF:
                type:
                  - "null"
                  - number
              IDR:
                type:
                  - "null"
                  - number
              ILS:
                type:
                  - "null"
                  - number
              IMP:
                type:
                  - "null"
                  - number
              INR:
                type:
                  - "null"
                  - number
              IQD:
                type:
                  - "null"
                  - number
              IRR:
                type:
                  - "null"
                  - number
              ISK:
                type:
                  - "null"
                  - number
              JEP:
                type:
                  - "null"
                  - number
              JMD:
                type:
                  - "null"
                  - number
              JOD:
                type:
                  - "null"
                  - number
              JPY:
                type:
                  - "null"
                  - number
              KES:
                type:
                  - "null"
                  - number
              KGS:
                type:
                  - "null"
                  - number
              KHR:
                type:
                  - "null"
                  - number
              KMF:
                type:
                  - "null"
                  - number
              KPW:
                type:
                  - "null"
                  - number
              KRW:
                type:
                  - "null"
                  - number
              KWD:
                type:
                  - "null"
                  - number
              KYD:
                type:
                  - "null"
                  - number
              KZT:
                type:
                  - "null"
                  - number
              LAK:
                type:
                  - "null"
                  - number
              LBP:
                type:
                  - "null"
                  - number
              LKR:
                type:
                  - "null"
                  - number
              LRD:
                type:
                  - "null"
                  - number
              LSL:
                type:
                  - "null"
                  - number
              LTL:
                type:
                  - "null"
                  - number
              LVL:
                type:
                  - "null"
                  - number
              LYD:
                type:
                  - "null"
                  - number
              MAD:
                type:
                  - "null"
                  - number
              MDL:
                type:
                  - "null"
                  - number
              MGA:
                type:
                  - "null"
                  - number
              MKD:
                type:
                  - "null"
                  - number
              MMK:
                type:
                  - "null"
                  - number
              MNT:
                type:
                  - "null"
                  - number
              MOP:
                type:
                  - "null"
                  - number
              MRO:
                type:
                  - "null"
                  - number
              MUR:
                type:
                  - "null"
                  - number
              MVR:
                type:
                  - "null"
                  - number
              MWK:
                type:
                  - "null"
                  - number
              MXN:
                type:
                  - "null"
                  - number
              MYR:
                type:
                  - "null"
                  - number
              MZN:
                type:
                  - "null"
                  - number
              NAD:
                type:
                  - "null"
                  - number
              NGN:
                type:
                  - "null"
                  - number
              NIO:
                type:
                  - "null"
                  - number
              NOK:
                type:
                  - "null"
                  - number
              NPR:
                type:
                  - "null"
                  - number
              NZD:
                type:
                  - "null"
                  - number
              OMR:
                type:
                  - "null"
                  - number
              PAB:
                type:
                  - "null"
                  - number
              PEN:
                type:
                  - "null"
                  - number
              PGK:
                type:
                  - "null"
                  - number
              PHP:
                type:
                  - "null"
                  - number
              PKR:
                type:
                  - "null"
                  - number
              PLN:
                type:
                  - "null"
                  - number
              PYG:
                type:
                  - "null"
                  - number
              QAR:
                type:
                  - "null"
                  - number
              RON:
                type:
                  - "null"
                  - number
              RSD:
                type:
                  - "null"
                  - number
              RUB:
                type:
                  - "null"
                  - number
              RWF:
                type:
                  - "null"
                  - number
              SAR:
                type:
                  - "null"
                  - number
              SBD:
                type:
                  - "null"
                  - number
              SCR:
                type:
                  - "null"
                  - number
              SDG:
                type:
                  - "null"
                  - number
              SEK:
                type:
                  - "null"
                  - number
              SGD:
                type:
                  - "null"
                  - number
              SHP:
                type:
                  - "null"
                  - number
              SLL:
                type:
                  - "null"
                  - number
              SOS:
                type:
                  - "null"
                  - number
              SRD:
                type:
                  - "null"
                  - number
              STD:
                type:
                  - "null"
                  - number
              SVC:
                type:
                  - "null"
                  - number
              SYP:
                type:
                  - "null"
                  - number
              SZL:
                type:
                  - "null"
                  - number
              THB:
                type:
                  - "null"
                  - number
              TJS:
                type:
                  - "null"
                  - number
              TMT:
                type:
                  - "null"
                  - number
              TND:
                type:
                  - "null"
                  - number
              TOP:
                type:
                  - "null"
                  - number
              TRY:
                type:
                  - "null"
                  - number
              TTD:
                type:
                  - "null"
                  - number
              TWD:
                type:
                  - "null"
                  - number
              TZS:
                type:
                  - "null"
                  - number
              UAH:
                type:
                  - "null"
                  - number
              UGX:
                type:
                  - "null"
                  - number
              USD:
                type:
                  - "null"
                  - number
              UYU:
                type:
                  - "null"
                  - number
              UZS:
                type:
                  - "null"
                  - number
              VEF:
                type:
                  - "null"
                  - number
              VND:
                type:
                  - "null"
                  - number
              VUV:
                type:
                  - "null"
                  - number
              WST:
                type:
                  - "null"
                  - number
              XAF:
                type:
                  - "null"
                  - number
              XAG:
                type:
                  - "null"
                  - number
              XAU:
                type:
                  - "null"
                  - number
              XCD:
                type:
                  - "null"
                  - number
              XDR:
                type:
                  - "null"
                  - number
              XOF:
                type:
                  - "null"
                  - number
              XPF:
                type:
                  - "null"
                  - number
              YER:
                type:
                  - "null"
                  - number
              ZAR:
                type:
                  - "null"
                  - number
              ZMK:
                type:
                  - "null"
                  - number
              ZMW:
                type:
                  - "null"
                  - number
              ZWL:
                type:
                  - "null"
                  - number
          success:
            type:
              - "null"
              - boolean
          timestamp:
            type:
              - "null"
              - integer
        required:
          - base
          - date
          - rates
spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/exchangeratesapi
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: exchangeratesapi.io Source Spec
    type: object
    required:
      - start_date
      - access_key
    additionalProperties: true
    properties:
      start_date:
        type: string
        description: Start getting data from that date.
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
        examples:
          - YYYY-MM-DD
        format: date
      access_key:
        type: string
        description: >-
          Your API Key. See <a
          href="https://apilayer.com/marketplace/exchangerates_data-api">here</a>.
          The key is
          case sensitive.
        airbyte_secret: true
      base:
        type: string
        description: >-
          ISO reference currency. See <a
          href="https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html">here</a>.
          Free plan doesn't support Source Currency Switching, default base
          currency is EUR
        examples:
          - EUR
          - USD
      ignore_weekends:
        type: boolean
        description: Ignore weekends? (Exchanges don't run on weekends)
        default: true
metadata:
  autoImportSchema:
    exchange_rates: true
schemas:
  exchange_rates:
    type: object
    $schema: https://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      base:
        type:
          - "null"
          - string
      date:
        type:
          - "null"
          - string
      rates:
        type:
          - "null"
          - object
        properties:
          AED:
            type:
              - "null"
              - number
          AFN:
            type:
              - "null"
              - number
          ALL:
            type:
              - "null"
              - number
          AMD:
            type:
              - "null"
              - number
          ANG:
            type:
              - "null"
              - number
          AOA:
            type:
              - "null"
              - number
          ARS:
            type:
              - "null"
              - number
          AUD:
            type:
              - "null"
              - number
          AWG:
            type:
              - "null"
              - number
          AZN:
            type:
              - "null"
              - number
          BAM:
            type:
              - "null"
              - number
          BBD:
            type:
              - "null"
              - number
          BDT:
            type:
              - "null"
              - number
          BGN:
            type:
              - "null"
              - number
          BHD:
            type:
              - "null"
              - number
          BIF:
            type:
              - "null"
              - number
          BMD:
            type:
              - "null"
              - number
          BND:
            type:
              - "null"
              - number
          BOB:
            type:
              - "null"
              - number
          BRL:
            type:
              - "null"
              - number
          BSD:
            type:
              - "null"
              - number
          BTC:
            type:
              - "null"
              - number
          BTN:
            type:
              - "null"
              - number
          BWP:
            type:
              - "null"
              - number
          BYN:
            type:
              - "null"
              - number
          BYR:
            type:
              - "null"
              - number
          BZD:
            type:
              - "null"
              - number
          CAD:
            type:
              - "null"
              - number
          CDF:
            type:
              - "null"
              - number
          CHF:
            type:
              - "null"
              - number
          CLF:
            type:
              - "null"
              - number
          CLP:
            type:
              - "null"
              - number
          CNY:
            type:
              - "null"
              - number
          COP:
            type:
              - "null"
              - number
          CRC:
            type:
              - "null"
              - number
          CUC:
            type:
              - "null"
              - number
          CUP:
            type:
              - "null"
              - number
          CVE:
            type:
              - "null"
              - number
          CZK:
            type:
              - "null"
              - number
          DJF:
            type:
              - "null"
              - number
          DKK:
            type:
              - "null"
              - number
          DOP:
            type:
              - "null"
              - number
          DZD:
            type:
              - "null"
              - number
          EGP:
            type:
              - "null"
              - number
          ERN:
            type:
              - "null"
              - number
          ETB:
            type:
              - "null"
              - number
          EUR:
            type:
              - "null"
              - number
          FJD:
            type:
              - "null"
              - number
          FKP:
            type:
              - "null"
              - number
          GBP:
            type:
              - "null"
              - number
          GEL:
            type:
              - "null"
              - number
          GGP:
            type:
              - "null"
              - number
          GHS:
            type:
              - "null"
              - number
          GIP:
            type:
              - "null"
              - number
          GMD:
            type:
              - "null"
              - number
          GNF:
            type:
              - "null"
              - number
          GTQ:
            type:
              - "null"
              - number
          GYD:
            type:
              - "null"
              - number
          HKD:
            type:
              - "null"
              - number
          HNL:
            type:
              - "null"
              - number
          HRK:
            type:
              - "null"
              - number
          HTG:
            type:
              - "null"
              - number
          HUF:
            type:
              - "null"
              - number
          IDR:
            type:
              - "null"
              - number
          ILS:
            type:
              - "null"
              - number
          IMP:
            type:
              - "null"
              - number
          INR:
            type:
              - "null"
              - number
          IQD:
            type:
              - "null"
              - number
          IRR:
            type:
              - "null"
              - number
          ISK:
            type:
              - "null"
              - number
          JEP:
            type:
              - "null"
              - number
          JMD:
            type:
              - "null"
              - number
          JOD:
            type:
              - "null"
              - number
          JPY:
            type:
              - "null"
              - number
          KES:
            type:
              - "null"
              - number
          KGS:
            type:
              - "null"
              - number
          KHR:
            type:
              - "null"
              - number
          KMF:
            type:
              - "null"
              - number
          KPW:
            type:
              - "null"
              - number
          KRW:
            type:
              - "null"
              - number
          KWD:
            type:
              - "null"
              - number
          KYD:
            type:
              - "null"
              - number
          KZT:
            type:
              - "null"
              - number
          LAK:
            type:
              - "null"
              - number
          LBP:
            type:
              - "null"
              - number
          LKR:
            type:
              - "null"
              - number
          LRD:
            type:
              - "null"
              - number
          LSL:
            type:
              - "null"
              - number
          LTL:
            type:
              - "null"
              - number
          LVL:
            type:
              - "null"
              - number
          LYD:
            type:
              - "null"
              - number
          MAD:
            type:
              - "null"
              - number
          MDL:
            type:
              - "null"
              - number
          MGA:
            type:
              - "null"
              - number
          MKD:
            type:
              - "null"
              - number
          MMK:
            type:
              - "null"
              - number
          MNT:
            type:
              - "null"
              - number
          MOP:
            type:
              - "null"
              - number
          MRO:
            type:
              - "null"
              - number
          MUR:
            type:
              - "null"
              - number
          MVR:
            type:
              - "null"
              - number
          MWK:
            type:
              - "null"
              - number
          MXN:
            type:
              - "null"
              - number
          MYR:
            type:
              - "null"
              - number
          MZN:
            type:
              - "null"
              - number
          NAD:
            type:
              - "null"
              - number
          NGN:
            type:
              - "null"
              - number
          NIO:
            type:
              - "null"
              - number
          NOK:
            type:
              - "null"
              - number
          NPR:
            type:
              - "null"
              - number
          NZD:
            type:
              - "null"
              - number
          OMR:
            type:
              - "null"
              - number
          PAB:
            type:
              - "null"
              - number
          PEN:
            type:
              - "null"
              - number
          PGK:
            type:
              - "null"
              - number
          PHP:
            type:
              - "null"
              - number
          PKR:
            type:
              - "null"
              - number
          PLN:
            type:
              - "null"
              - number
          PYG:
            type:
              - "null"
              - number
          QAR:
            type:
              - "null"
              - number
          RON:
            type:
              - "null"
              - number
          RSD:
            type:
              - "null"
              - number
          RUB:
            type:
              - "null"
              - number
          RWF:
            type:
              - "null"
              - number
          SAR:
            type:
              - "null"
              - number
          SBD:
            type:
              - "null"
              - number
          SCR:
            type:
              - "null"
              - number
          SDG:
            type:
              - "null"
              - number
          SEK:
            type:
              - "null"
              - number
          SGD:
            type:
              - "null"
              - number
          SHP:
            type:
              - "null"
              - number
          SLL:
            type:
              - "null"
              - number
          SOS:
            type:
              - "null"
              - number
          SRD:
            type:
              - "null"
              - number
          STD:
            type:
              - "null"
              - number
          SVC:
            type:
              - "null"
              - number
          SYP:
            type:
              - "null"
              - number
          SZL:
            type:
              - "null"
              - number
          THB:
            type:
              - "null"
              - number
          TJS:
            type:
              - "null"
              - number
          TMT:
            type:
              - "null"
              - number
          TND:
            type:
              - "null"
              - number
          TOP:
            type:
              - "null"
              - number
          TRY:
            type:
              - "null"
              - number
          TTD:
            type:
              - "null"
              - number
          TWD:
            type:
              - "null"
              - number
          TZS:
            type:
              - "null"
              - number
          UAH:
            type:
              - "null"
              - number
          UGX:
            type:
              - "null"
              - number
          USD:
            type:
              - "null"
              - number
          UYU:
            type:
              - "null"
              - number
          UZS:
            type:
              - "null"
              - number
          VEF:
            type:
              - "null"
              - number
          VND:
            type:
              - "null"
              - number
          VUV:
            type:
              - "null"
              - number
          WST:
            type:
              - "null"
              - number
          XAF:
            type:
              - "null"
              - number
          XAG:
            type:
              - "null"
              - number
          XAU:
            type:
              - "null"
              - number
          XCD:
            type:
              - "null"
              - number
          XDR:
            type:
              - "null"
              - number
          XOF:
            type:
              - "null"
              - number
          XPF:
            type:
              - "null"
              - number
          YER:
            type:
              - "null"
              - number
          ZAR:
            type:
              - "null"
              - number
          ZMK:
            type:
              - "null"
              - number
          ZMW:
            type:
              - "null"
              - number
          ZWL:
            type:
              - "null"
              - number
      success:
        type:
          - "null"
          - boolean
      timestamp:
        type:
          - "null"
          - integer
    required:
      - base
      - date
      - rates
