version: 6.4.0

type: DeclarativeSource

description: This PR adds a new connector for source Reddit Ads (source-reddit-ads)

check:
  type: CheckStream
  stream_names:
    - ad_account

definitions:
  streams:
    me:
      type: DeclarativeStream
      name: me
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /me
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/me"
    ads:
      type: DeclarativeStream
      name: ads
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page.size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page.token
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next_url') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /ad_accounts/{{ config['account_id'] }}/ads
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ads"
    posts:
      type: DeclarativeStream
      name: posts
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page.size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page.token
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next_url') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /profiles/{{ stream_partition.profile_id }}/posts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/me"
              parent_key: id
              partition_field: profile_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/posts"
    search:
      type: DeclarativeStream
      name: search
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page.size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page.token
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next_url') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /targeting/communities/search
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/search"
    devices:
      type: DeclarativeStream
      name: devices
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page.size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page.token
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next_url') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /targeting/devices
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/devices"
    carriers:
      type: DeclarativeStream
      name: carriers
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page.size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page.token
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next_url') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /targeting/carriers
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/carriers"
    ad_groups:
      type: DeclarativeStream
      name: ad_groups
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page.size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page.token
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next_url') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /ad_accounts/{{ config['account_id'] }}/ad_groups
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ad_groups"
    campaigns:
      type: DeclarativeStream
      name: campaigns
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page.size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page.token
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next_url') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /ad_accounts/{{ config["account_id"] }}/campaigns
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns"
    interests:
      type: DeclarativeStream
      name: interests
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /targeting/interests
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/interests"
    ad_account:
      type: DeclarativeStream
      name: ad_account
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /ad_accounts/{{ config['account_id'] }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
      primary_key:
        - id
        - business_id
        - name
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ad_account"
    businesses:
      type: DeclarativeStream
      name: businesses
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page.size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page.token
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next_url') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /businesses/{{ stream_partition.business_id }}/ad_accounts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/ad_account"
              parent_key: business_id
              partition_field: business_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/businesses"
    industries:
      type: DeclarativeStream
      name: industries
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /industries
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/industries"
    communities:
      type: DeclarativeStream
      name: communities
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page.size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page.token
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next_url') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /targeting/communities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/communities"
    suggestions:
      type: DeclarativeStream
      name: suggestions
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page.size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page.token
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next_url') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /targeting/communities/suggestions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/suggestions"
    geolocations:
      type: DeclarativeStream
      name: geolocations
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /targeting/geolocations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/geolocations"
    get_business:
      type: DeclarativeStream
      name: get_business
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /businesses/{{ stream_partition.business_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              stream:
                $ref: "#/definitions/streams/ad_account"
              parent_key: business_id
              partition_field: business_id
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/get_business"
    my_businesses:
      type: DeclarativeStream
      name: my_businesses
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page.size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page.token
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next_url') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /me/businesses
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/my_businesses"
    lead_gen_forms:
      type: DeclarativeStream
      name: lead_gen_forms
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page.size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page.token
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next_url') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /ad_accounts/{{ config["account_id"] }}/lead_gen_forms
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lead_gen_forms"
    custom_audiences:
      type: DeclarativeStream
      name: custom_audiences
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            field_name: page.size
            inject_into: request_parameter
          page_token_option:
            type: RequestOption
            field_name: page.token
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: "{{ response.get('pagination', {}).get('next_url') is none }}"
        requester:
          $ref: "#/definitions/base_requester"
          path: /ad_accounts/{{ config["account_id"] }}/custom_audiences
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_audiences"
  base_requester:
    type: HttpRequester
    url_base: https://ads-api.reddit.com/api/v3
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key_2\"] }}"

streams:
  - $ref: "#/definitions/streams/ad_account"
  - $ref: "#/definitions/streams/businesses"
  - $ref: "#/definitions/streams/ad_groups"
  - $ref: "#/definitions/streams/ads"
  - $ref: "#/definitions/streams/get_business"
  - $ref: "#/definitions/streams/industries"
  - $ref: "#/definitions/streams/my_businesses"
  - $ref: "#/definitions/streams/campaigns"
  - $ref: "#/definitions/streams/custom_audiences"
  - $ref: "#/definitions/streams/lead_gen_forms"
  - $ref: "#/definitions/streams/me"
  - $ref: "#/definitions/streams/posts"
  - $ref: "#/definitions/streams/carriers"
  - $ref: "#/definitions/streams/communities"
  - $ref: "#/definitions/streams/search"
  - $ref: "#/definitions/streams/suggestions"
  - $ref: "#/definitions/streams/devices"
  - $ref: "#/definitions/streams/geolocations"
  - $ref: "#/definitions/streams/interests"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - account_id
      - api_key_2
    properties:
      api_key_2:
        type: string
        order: 1
        title: API Key
        airbyte_secret: true
      account_id:
        type: string
        order: 0
        title: account_id
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://ads-api.reddit.com/docs/v3/
  testedStreams:
    me:
      hasRecords: true
      streamHash: d08a00b549f9e8070b9212e5f39c98c681459625
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    ads:
      hasRecords: true
      streamHash: e63d3490ef65c2ccb6e53cc14f198526633dd93c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    posts:
      hasRecords: true
      streamHash: aefd9b92338a62466fefc2c1eadc41beb5a6806d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    search:
      hasRecords: true
      streamHash: f79ecd8874768a35f159a08cd582122c2927b162
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    devices:
      hasRecords: true
      streamHash: e0519a02dd468c413855f86b08f982637b3f7adb
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    carriers:
      hasRecords: true
      streamHash: c3e262992141e83478f193bac94bc90e593c3470
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    ad_groups:
      hasRecords: true
      streamHash: 1606c4901221435cb72241ad38eb02e637781216
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    campaigns:
      hasRecords: true
      streamHash: c7fa714aa226f577836127a4709a4d60b93bedbf
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    interests:
      hasRecords: true
      streamHash: a5345230de949a6c9e98ee71eb866c38f0ba9571
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    ad_account:
      hasRecords: true
      streamHash: e3b9b8d372bd133f2b4f732da3db8571051a8324
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    businesses:
      hasRecords: true
      streamHash: c46dbd7745a9a82e55655ff6969e479ead2408bb
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    industries:
      hasRecords: true
      streamHash: 76753ea1e1c57121e7eac6f7680bcbc997bb136d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    communities:
      hasRecords: true
      streamHash: 1269442c2a47f95c46017673f5e83fabe5dc749d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    suggestions:
      hasRecords: true
      streamHash: 49f52d4118274a8937389ffc2f26bceb91c0d4e1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    geolocations:
      hasRecords: true
      streamHash: 77366440008171774780dbfacfcd0d370b413248
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    get_business:
      hasRecords: true
      streamHash: f707ff25c194ebb9eb88b8697d55c6bf04ab20fe
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    my_businesses:
      hasRecords: true
      streamHash: aa34fa270b2b33eeafea3cbd00a06b46e3b8b6d3
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    lead_gen_forms:
      hasRecords: true
      streamHash: cc6bd6c98269086d0fa1b4eb84bc09209bc39d43
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    custom_audiences:
      hasRecords: true
      streamHash: 4ccb4a71d9f627ec51d320bf267f3d931211cc6a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    me: true
    ads: true
    posts: true
    search: true
    devices: true
    carriers: true
    ad_groups: true
    campaigns: true
    interests: true
    ad_account: true
    businesses: true
    industries: true
    communities: true
    suggestions: true
    geolocations: true
    get_business: true
    my_businesses: true
    lead_gen_forms: true
    custom_audiences: true

schemas:
  me:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
    properties:
      id:
        type: string
      email:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      lastname:
        type:
          - string
          - "null"
      firstname:
        type:
          - string
          - "null"
      reddit_user_id:
        type:
          - string
          - "null"
      reddit_username:
        type:
          - string
          - "null"
    additionalProperties: true
  ads:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
    additionalProperties: true
  posts:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
    additionalProperties: true
  search:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            icon_url:
              type:
                - string
                - "null"
            categories:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            subscriber_count:
              type:
                - number
                - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
    additionalProperties: true
  devices:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            make:
              type:
                - string
                - "null"
            model:
              type:
                - string
                - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
    additionalProperties: true
  carriers:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            country_code:
              type:
                - string
                - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
    additionalProperties: true
  ad_groups:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
    additionalProperties: true
  campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
    additionalProperties: true
  interests:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            category:
              type:
                - string
                - "null"
    additionalProperties: true
  ad_account:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - id
      - business_id
      - name
    properties:
      type:
        type:
          - string
          - "null"
      id:
        type: string
      name:
        type: string
      currency:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      business_id:
        type: string
      modified_at:
        type:
          - string
          - "null"
      time_zone_id:
        type:
          - string
          - "null"
      admin_approval:
        type:
          - string
          - "null"
      attribution_type:
        type:
          - string
          - "null"
      view_attribution_window:
        type:
          - string
          - "null"
      click_attribution_window:
        type:
          - string
          - "null"
      pixel_partner_preferences:
        type:
          - array
          - "null"
      primary_contact_member_id:
        type:
          - string
          - "null"
    additionalProperties: true
  businesses:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            currency:
              type:
                - string
                - "null"
            created_at:
              type:
                - string
                - "null"
            business_id:
              type:
                - string
                - "null"
            modified_at:
              type:
                - string
                - "null"
            time_zone_id:
              type:
                - string
                - "null"
            admin_approval:
              type:
                - string
                - "null"
            attribution_type:
              type:
                - string
                - "null"
            view_attribution_window:
              type:
                - string
                - "null"
            click_attribution_window:
              type:
                - string
                - "null"
            pixel_partner_preferences:
              type:
                - array
                - "null"
            primary_contact_member_id:
              type:
                - string
                - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
    additionalProperties: true
  industries:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            display:
              type:
                - string
                - "null"
    additionalProperties: true
  communities:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
    additionalProperties: true
  suggestions:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            icon_url:
              type:
                - string
                - "null"
            categories:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            subscriber_count:
              type:
                - number
                - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
    additionalProperties: true
  geolocations:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            dma:
              type:
                - number
                - "null"
            city:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            region:
              type:
                - string
                - "null"
            country:
              type:
                - string
                - "null"
            postal_code:
              type:
                - string
                - "null"
    additionalProperties: true
  get_business:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          country:
            type:
              - string
              - "null"
          industry:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          creator_id:
            type:
              - string
              - "null"
          modified_at:
            type:
              - string
              - "null"
          website_url:
            type:
              - string
              - "null"
          agency_affiliated:
            type:
              - boolean
              - "null"
          primary_contact_id:
            type:
              - string
              - "null"
    additionalProperties: true
  my_businesses:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            phone:
              type:
                - string
                - "null"
            country:
              type:
                - string
                - "null"
            industry:
              type:
                - string
                - "null"
            created_at:
              type:
                - string
                - "null"
            creator_id:
              type:
                - string
                - "null"
            modified_at:
              type:
                - string
                - "null"
            website_url:
              type:
                - string
                - "null"
            agency_affiliated:
              type:
                - boolean
                - "null"
            primary_contact_id:
              type:
                - string
                - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
    additionalProperties: true
  lead_gen_forms:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
    additionalProperties: true
  custom_audiences:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
    additionalProperties: true
