version: 5.14.0

type: DeclarativeSource

description: This PR adds a new connector for source Reddit Ads (source-reddit-ads)

check:
  type: CheckStream
  stream_names:
    - ad_account

definitions:
  streams:
    ad_account:
      type: DeclarativeStream
      name: ad_account
      primary_key:
        - id
        - business_id
        - name
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /ad_accounts/{{ config['account_id'] }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: >-
              {{ response.get('pagination', {}).get('next_url') is not defined
              }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ad_account"
    businesses:
      type: DeclarativeStream
      name: businesses
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /businesses/{{ stream_partition.business_id }}/ad_accounts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: >-
              {{ response.get('pagination', {}).get('next_url') is not defined
              }}
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: business_id
              partition_field: business_id
              stream:
                $ref: "#/definitions/streams/ad_account"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/businesses"
    ad_groups:
      type: DeclarativeStream
      name: ad_groups
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /ad_accounts/{{ config['account_id'] }}/ad_groups
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: >-
              {{ response.get('pagination', {}).get('next_url') is not defined
              }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ad_groups"
    ads:
      type: DeclarativeStream
      name: ads
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /ad_accounts/{{ config['account_id'] }}/ads
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: >-
              {{ response.get('pagination', {}).get('next_url') is not defined
              }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ads"
    get_business:
      type: DeclarativeStream
      name: get_business
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /businesses/{{ stream_partition.business_id }}
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: >-
              {{ response.get('pagination', {}).get('next_url') is not defined
              }}
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: business_id
              partition_field: business_id
              stream:
                $ref: "#/definitions/streams/ad_account"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/get_business"
    industries:
      type: DeclarativeStream
      name: industries
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /industries
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: >-
              {{ response.get('pagination', {}).get('next_url') is not defined
              }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/industries"
    my_businesses:
      type: DeclarativeStream
      name: my_businesses
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /me/businesses
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: >-
              {{ response.get('pagination', {}).get('next_url') is not defined
              }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/my_businesses"
    campaigns:
      type: DeclarativeStream
      name: campaigns
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /ad_accounts/{{ config["account_id"] }}/campaigns
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: >-
              {{ response.get('pagination', {}).get('next_url') is not defined
              }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns"
    custom_audiences:
      type: DeclarativeStream
      name: custom_audiences
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /ad_accounts/{{ config["account_id"] }}/custom_audiences
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: >-
              {{ response.get('pagination', {}).get('next_url') is not defined
              }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/custom_audiences"
    lead_gen_forms:
      type: DeclarativeStream
      name: lead_gen_forms
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /ad_accounts/{{ config["account_id"] }}/lead_gen_forms
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: >-
              {{ response.get('pagination', {}).get('next_url') is not defined
              }}
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/lead_gen_forms"
    me:
      type: DeclarativeStream
      name: me
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /me
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - data
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: "{{ not response.get('pagination', {}).get('next_url') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/me"
    posts:
      type: DeclarativeStream
      name: posts
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /profiles/{{ stream_partition.profile_id }}/posts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: "{{ not response.get('pagination', {}).get('next_url') }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: profile_id
              stream:
                $ref: "#/definitions/streams/me"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/posts"
    carriers:
      type: DeclarativeStream
      name: carriers
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /targeting/carriers
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: "{{ not response.get('pagination', {}).get('next_url') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/carriers"
    communities:
      type: DeclarativeStream
      name: communities
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /targeting/communities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: "{{ not response.get('pagination', {}).get('next_url') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/communities"
    search:
      type: DeclarativeStream
      name: search
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /targeting/communities/search
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: "{{ not response.get('pagination', {}).get('next_url') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/search"
    suggestions:
      type: DeclarativeStream
      name: suggestions
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /targeting/communities/suggestions
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: "{{ not response.get('pagination', {}).get('next_url') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/suggestions"
    devices:
      type: DeclarativeStream
      name: devices
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /targeting/devices
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/devices"
    geolocations:
      type: DeclarativeStream
      name: geolocations
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /targeting/geolocations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: "{{ not response.get('pagination', {}).get('next_url') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/geolocations"
    interests:
      type: DeclarativeStream
      name: interests
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /targeting/interests
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: "{{ response.get('pagination', {}).get('next_url') }}"
            stop_condition: "{{ not response.get('pagination', {}).get('next_url') }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/interests"
  base_requester:
    type: HttpRequester
    url_base: https://ads-api.reddit.com/api/v3
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/ad_account"
  - $ref: "#/definitions/streams/businesses"
  - $ref: "#/definitions/streams/ad_groups"
  - $ref: "#/definitions/streams/ads"
  - $ref: "#/definitions/streams/get_business"
  - $ref: "#/definitions/streams/industries"
  - $ref: "#/definitions/streams/my_businesses"
  - $ref: "#/definitions/streams/campaigns"
  - $ref: "#/definitions/streams/custom_audiences"
  - $ref: "#/definitions/streams/lead_gen_forms"
  - $ref: "#/definitions/streams/me"
  - $ref: "#/definitions/streams/posts"
  - $ref: "#/definitions/streams/carriers"
  - $ref: "#/definitions/streams/communities"
  - $ref: "#/definitions/streams/search"
  - $ref: "#/definitions/streams/suggestions"
  - $ref: "#/definitions/streams/devices"
  - $ref: "#/definitions/streams/geolocations"
  - $ref: "#/definitions/streams/interests"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - account_id
      - api_key
    properties:
      account_id:
        type: string
        name: account_id
        order: 0
        title: account_id
      api_key:
        type: string
        order: 1
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    ad_account: true
    businesses: false
    ad_groups: false
    ads: false
    get_business: false
    industries: false
    my_businesses: false
    campaigns: false
    custom_audiences: false
    lead_gen_forms: false
    me: false
    posts: false
    carriers: false
    communities: false
    search: false
    suggestions: false
    devices: true
    geolocations: false
    interests: false
  testedStreams:
    ad_account:
      hasRecords: true
      streamHash: ea9be97df71a2d695448712cc0599f482aa64374
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    businesses:
      hasRecords: true
      streamHash: f158fb761b1d081f2f3d22f7dd0f3c477e6ecd77
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    ad_groups:
      hasRecords: true
      streamHash: 3af56acb8abc33da2b62801bd7fe76225fb4677e
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    ads:
      hasRecords: true
      streamHash: 208fa351046063020b9c96d6dd3fa35788487051
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    get_business:
      hasRecords: true
      streamHash: b721e1a5147bca240743af4f2cbe61856c11580d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    industries:
      hasRecords: true
      streamHash: a3b4af6f15bfb4e05c43fe0fddadfe4e88a6d009
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    my_businesses:
      hasRecords: true
      streamHash: 0326c880f3e220f8144358a1ba0f90603409f83c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    campaigns:
      hasRecords: true
      streamHash: da55715d9350f403d0753e43cf64e6b20406d0a8
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    custom_audiences:
      hasRecords: true
      streamHash: 8365d20cd9a53f87c5c57d7faf3af23d5b746e89
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    lead_gen_forms:
      hasRecords: true
      streamHash: 486a29fe4c0982183c99d97654eeaa5510c5712c
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    me:
      streamHash: e3ebd93b31e3ee412edd852dabc4d7496efbb4f0
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    posts:
      streamHash: 4a48bfed4cb47199e2a75738ba914bdd07f1e460
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    carriers:
      streamHash: a2c8adc0ba5144b1ef45b1108ab76d347b65d125
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    communities:
      streamHash: 0fd3dabce74e6c171c26b98e4cc477655e3713e8
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    search:
      streamHash: 18e2fe5f9e510f31d02bb52aeb1dd7a75d83e89a
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    suggestions:
      streamHash: c41485f7f8f1cdd5c090be76e2fb9617c3896263
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    devices:
      streamHash: 0b2e92e3f90d5c77804204e2d7477d13c1014fa7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    geolocations:
      streamHash: b55bf491d0634aa87357f466fd5b0a18ee7d3c96
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    interests:
      streamHash: ad77f4dbf187852e94a8a0a047e21e40bf3f41f6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://ads-api.reddit.com/docs/v3/

schemas:
  ad_account:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      admin_approval:
        type:
          - string
          - "null"
      attribution_type:
        type:
          - string
          - "null"
      business_id:
        type: string
      click_attribution_window:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      currency:
        type:
          - string
          - "null"
      id:
        type: string
      modified_at:
        type:
          - string
          - "null"
      name:
        type: string
      pixel_partner_preferences:
        type:
          - array
          - "null"
      primary_contact_member_id:
        type:
          - string
          - "null"
      time_zone_id:
        type:
          - string
          - "null"
      view_attribution_window:
        type:
          - string
          - "null"
    required:
      - id
      - business_id
      - name
  businesses:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            admin_approval:
              type:
                - string
                - "null"
            attribution_type:
              type:
                - string
                - "null"
            business_id:
              type:
                - string
                - "null"
            click_attribution_window:
              type:
                - string
                - "null"
            created_at:
              type:
                - string
                - "null"
            currency:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            modified_at:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            pixel_partner_preferences:
              type:
                - array
                - "null"
            primary_contact_member_id:
              type:
                - string
                - "null"
            time_zone_id:
              type:
                - string
                - "null"
            view_attribution_window:
              type:
                - string
                - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
  ad_groups:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      data:
        type:
          - array
          - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
  ads:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      data:
        type:
          - array
          - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
  get_business:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      data:
        type:
          - object
          - "null"
        properties:
          agency_affiliated:
            type:
              - boolean
              - "null"
          country:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          creator_id:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          industry:
            type:
              - string
              - "null"
          modified_at:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          primary_contact_id:
            type:
              - string
              - "null"
          website_url:
            type:
              - string
              - "null"
  industries:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            display:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
  my_businesses:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            agency_affiliated:
              type:
                - boolean
                - "null"
            country:
              type:
                - string
                - "null"
            created_at:
              type:
                - string
                - "null"
            creator_id:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            industry:
              type:
                - string
                - "null"
            modified_at:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            phone:
              type:
                - string
                - "null"
            primary_contact_id:
              type:
                - string
                - "null"
            website_url:
              type:
                - string
                - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
  campaigns:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      data:
        type:
          - array
          - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
  custom_audiences:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      data:
        type:
          - array
          - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
  lead_gen_forms:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      data:
        type:
          - array
          - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
  me:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      email:
        type:
          - string
          - "null"
      firstname:
        type:
          - string
          - "null"
      id:
        type: string
      lastname:
        type:
          - string
          - "null"
      phone:
        type:
          - string
          - "null"
      reddit_user_id:
        type:
          - string
          - "null"
      reddit_username:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
  posts:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
    additionalProperties: true
  carriers:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            country_code:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
    additionalProperties: true
  communities:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
    additionalProperties: true
  search:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            categories:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            icon_url:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            subscriber_count:
              type:
                - number
                - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
    additionalProperties: true
  suggestions:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            description:
              type:
                - string
                - "null"
            categories:
              type:
                - array
                - "null"
              items:
                type:
                  - string
                  - "null"
            icon_url:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            subscriber_count:
              type:
                - number
                - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
    additionalProperties: true
  devices:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            make:
              type:
                - string
                - "null"
            model:
              type:
                - string
                - "null"
      pagination:
        type:
          - object
          - "null"
        properties: {}
  geolocations:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            city:
              type:
                - string
                - "null"
            country:
              type:
                - string
                - "null"
            dma:
              type:
                - number
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            postal_code:
              type:
                - string
                - "null"
            region:
              type:
                - string
                - "null"
    additionalProperties: true
  interests:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      data:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            category:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
    additionalProperties: true
