version: 7.23.7

type: DeclarativeSource

description: >-
  Reddit ads are paid promotional posts that appear in user feeds and within
  specific community threads, clearly marked as "Promoted".

check:
  type: CheckStream
  stream_names:
    - ad

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: OAuthAuthenticator
        client_id: "{{ config['credentials']['client_id'] }}"
        grant_type: refresh_token
        client_secret: "{{ config['credentials']['client_secret'] }}"
        refresh_token: "{{ config['credentials']['refresh_token'] }}"
        refresh_token_error_status_codes:
          - 400
          - 401
        refresh_token_error_key: message
        refresh_token_error_values:
          - Bad Request
          - Unauthorized
        refresh_token_updater:
          refresh_token_config_path:
            - credentials
            - refresh_token
        token_refresh_endpoint: https://www.reddit.com/api/v1/access_token
        refresh_request_headers:
          User-Agent: "{{ config.get('user_agent') or 'airbyte:source-reddit-ads:v1' }}"
          Content-Type: application/x-www-form-urlencoded
          Authorization: >-
            Basic {{ (config['credentials']['client_id'] ~ ':' ~ config['credentials']['client_secret']) |
            base64encode }}
      error_handler:
        type: DefaultErrorHandler
        max_retries: 10
        response_filters:
          - type: HttpResponseFilter
            action: REFRESH_TOKEN_THEN_RETRY
            http_codes:
              - 401
            error_message: Token expired, refreshing...
          - type: HttpResponseFilter
            action: RATE_LIMITED
            http_codes:
              - 429
          - type: HttpResponseFilter
            action: RETRY
            http_codes:
              - 500
              - 502
              - 503
              - 504
          - $ref: "#/definitions/linked/BadAdAccount400Filter"
          - $ref: "#/definitions/linked/Forbidden403Filter"
          - $ref: "#/definitions/linked/NotFound404Filter"
          - $ref: "#/definitions/linked/Generic400Filter"
        backoff_strategies:
          - type: ExponentialBackoffStrategy
            factor: 5
    BadAdAccount400Filter:
      type: HttpResponseFilter
      action: FAIL
      failure_type: config_error
      predicate: >-
        {{ response is mapping and response.get('error') is mapping and
        ('ad_account' in ((response.get('error', {}).get('message') or
        response.get('error', {}).get('explanation') or '') | lower) or
        'ad account' in ((response.get('error', {}).get('message') or
        response.get('error', {}).get('explanation') or '') | lower)) }}
      error_message: >-
        Reddit rejected the ad account ID '{{ config['ad_account_id'] }}':
        {{ ((response.get('error', {}).get('message') or
        response.get('error', {}).get('explanation')) if response is mapping and
        response.get('error') is mapping else none) }}. Check the Ad Account ID
        in the source settings; it is shown in Reddit Ads Manager (for example
        a2_abc123).
    Forbidden403Filter:
      type: HttpResponseFilter
      action: FAIL
      failure_type: config_error
      http_codes:
        - 403
      error_message: >-
        Reddit denied access to ad account '{{ config['ad_account_id'] }}'
        (HTTP 403: insufficient authentication scopes). Re-authorize the
        refresh token with the adsread scope, using a Reddit user who has access
        to this ad account.
    NotFound404Filter:
      type: HttpResponseFilter
      action: FAIL
      failure_type: config_error
      http_codes:
        - 404
      error_message: >-
        Reddit could not find ad account '{{ config['ad_account_id'] }}' (HTTP
        404). Check the Ad Account ID in the source settings; it is shown in
        Reddit Ads Manager (for example a2_abc123).
    Generic400Filter:
      type: HttpResponseFilter
      action: FAIL
      failure_type: system_error
      http_codes:
        - 400
      error_message: >-
        Reddit rejected the request as invalid (HTTP 400):
        {{ ((response.get('error', {}).get('message') or
        response.get('error', {}).get('explanation')) if response is mapping and
        response.get('error') is mapping else none) or 'no error message
        returned' }}.
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          field_name: page.token
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          cursor_value: >-
            {{ (response.get('pagination', {}).get('next_url',
            '').split('page.token=')[-1].split('&')[0] | regex_replace('%3[Dd]',
            '=')) if response.get('pagination', {}).get('next_url') else None }}
          stop_condition: "{{ not response.get('pagination', {}).get('next_url') }}"

streams:
  - type: DeclarativeStream
    name: ad
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://ads-api.reddit.com/api/v3/ad_accounts/{{
          config['ad_account_id'] }}/ads
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - modified_at
        properties:
          id:
            type: string
          name:
            type:
              - string
              - "null"
          post_id:
            type:
              - string
              - "null"
          post_url:
            type:
              - string
              - "null"
          products:
            type:
              - array
              - "null"
            items:
              type: object
          click_url:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          profile_id:
            type:
              - string
              - "null"
          ad_group_id:
            type:
              - string
              - "null"
          campaign_id:
            type:
              - string
              - "null"
          modified_at:
            type: string
          preview_url:
            type:
              - string
              - "null"
          ad_account_id:
            type:
              - string
              - "null"
          event_trackers:
            type:
              - array
              - "null"
          preview_expiry:
            type:
              - string
              - "null"
          effective_status:
            type:
              - string
              - "null"
          rejection_reason:
            type:
              - string
              - "null"
          configured_status:
            type:
              - string
              - "null"
          campaign_objective_type:
            type:
              - string
              - "null"
          click_url_query_parameters:
            type:
              - array
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: modified_at
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config.get('start_time') or (now_utc() -
          duration('P2Y')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
      is_client_side_incremental: true
  - type: DeclarativeStream
    name: campaign
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://ads-api.reddit.com/api/v3/ad_accounts/{{
          config['ad_account_id'] }}/campaigns
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
          - modified_at
        properties:
          id:
            type: string
          name:
            type:
              - string
              - "null"
          app_id:
            type:
              - string
              - "null"
          goal_type:
            type:
              - string
              - "null"
          objective:
            type:
              - string
              - "null"
          spend_cap:
            type:
              - number
              - "null"
          created_at:
            type:
              - string
              - "null"
          goal_value:
            type:
              - integer
              - "null"
          modified_at:
            type: string
          ad_account_id:
            type:
              - string
              - "null"
          age_restriction:
            type:
              - string
              - "null"
          effective_status:
            type:
              - string
              - "null"
          configured_status:
            type:
              - string
              - "null"
          funding_instrument_id:
            type:
              - string
              - "null"
          special_ad_categories:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          is_campaign_budget_optimization:
            type:
              - boolean
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: modified_at
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config.get('start_time') or (now_utc() -
          duration('P2Y')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
      is_client_side_incremental: true
  - type: DeclarativeStream
    name: campaign_report
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url: >-
          https://ads-api.reddit.com/api/v3/ad_accounts/{{
          config['ad_account_id'] }}/reports
        http_method: POST
        request_body:
          type: RequestBodyJsonObject
          value:
            data:
              fields:
                - ACCOUNT_ID
                - AD_CREATE_TIME
                - AD_EFFECTIVE_STATUS
                - AD_GROUP_ID
                - AD_ID
                - AD_UPDATE_TIME
                - ADGROUP_CREATE_TIME
                - ADGROUP_UPDATE_TIME
                - IMPRESSIONS
                - KEYWORD
                - PLACEMENT
                - POST_ID
                - REACH
                - REDDIT_LEADS
                - REGION
                - SPEND
                - VIDEO_VIEWABLE_IMPRESSIONS
                - ENGAGED_CLICK
                - KEY_CONVERSION_CLICKS
                - KEY_CONVERSION_ECPA
                - KEY_CONVERSION_RATE
                - KEY_CONVERSION_TOTAL_COUNT
                - KEY_CONVERSION_VIEWS
                - CPC
                - COUNTRY
                - CPV
                - CTR
                - FREQUENCY
                - DATETIME
                - ECPM
                - CONVERSION_SIGN_UP_VIEWS
                - CONVERSION_ROAS
                - CONVERSION_SIGNUP_AVG_VALUE
                - CONVERSION_SIGNUP_TOTAL_VALUE
                - CONVERSION_VIEW_CONTENT_CLICKS
                - CONVERSION_VIEW_CONTENT_ECPA
                - CONVERSION_VIEW_CONTENT_VIEWS
                - CONVERSION_LEAD_AVG_VALUE
                - CONVERSION_LEAD_CLICKS
                - CONVERSION_LEAD_ECPA
                - CONVERSION_LEAD_TOTAL_VALUE
                - CONVERSION_LEAD_VIEWS
                - CONVERSION_PAGE_VISIT_CLICKS
                - CONVERSION_PAGE_VISIT_ECPA
                - CONVERSION_PAGE_VISIT_VIEWS
                - COMMUNITY
                - CLICKS
                - CAMPAIGN_UPDATE_TIME
                - CAMPAIGN_CREATE_TIME
                - BID_STRATEGY
                - DMA
                - CONVERSION_PURCHASE_TOTAL_VALUE
                - CONVERSION_PURCHASE_VIEWS
                - CONVERSION_SEARCH_CLICKS
                - CONVERSION_SEARCH_ECPA
                - CONVERSION_SEARCH_VIEWS
                - CONVERSION_SIGN_UP_CLICKS
                - CONVERSION_PURCHASE_AVG_VALUE
                - CONVERSION_PURCHASE_CLICKS
                - CONVERSION_PURCHASE_ECPA
                - CONVERSION_PURCHASE_TOTAL_ITEMS
                - CONVERSION_SIGN_UP_ECPA
              breakdowns:
                - campaign_id
                - date
              time_zone_id: GMT
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          type: DefaultErrorHandler
          max_retries: 10
          response_filters:
            - type: HttpResponseFilter
              action: REFRESH_TOKEN_THEN_RETRY
              http_codes:
                - 401
              error_message: Token expired, refreshing...
            - type: HttpResponseFilter
              action: RATE_LIMITED
              http_codes:
                - 429
            - type: HttpResponseFilter
              action: RETRY
              http_codes:
                - 500
                - 502
                - 503
                - 504
              backoff_strategy:
                type: ConstantBackoffStrategy
                backoff_time_in_seconds: 60
            - $ref: "#/definitions/linked/BadAdAccount400Filter"
            - $ref: "#/definitions/linked/Forbidden403Filter"
            - $ref: "#/definitions/linked/NotFound404Filter"
            - $ref: "#/definitions/linked/Generic400Filter"
          backoff_strategies:
            - type: ExponentialBackoffStrategy
              factor: 5
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
            - metrics
    primary_key:
      - campaign_id
      - date
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - campaign_id
          - date
        properties:
          cpc:
            type:
              - number
              - "null"
          cpv:
            type:
              - number
              - "null"
          ctr:
            type:
              - number
              - "null"
          date:
            type: string
          ecpm:
            type:
              - number
              - "null"
          reach:
            type:
              - number
              - "null"
          spend:
            type:
              - number
              - "null"
          clicks:
            type:
              - number
              - "null"
          post_id:
            type:
              - string
              - "null"
          frequency:
            type:
              - number
              - "null"
          campaign_id:
            type: string
          impressions:
            type:
              - number
              - "null"
          reddit_leads:
            type:
              - number
              - "null"
          engaged_click:
            type:
              - number
              - "null"
          conversion_roas:
            type:
              - number
              - "null"
          key_conversion_ecpa:
            type:
              - number
              - "null"
          key_conversion_rate:
            type:
              - number
              - "null"
          conversion_lead_ecpa:
            type:
              - number
              - "null"
          key_conversion_views:
            type:
              - number
              - "null"
          conversion_lead_views:
            type:
              - number
              - "null"
          key_conversion_clicks:
            type:
              - number
              - "null"
          conversion_lead_clicks:
            type:
              - number
              - "null"
          conversion_search_ecpa:
            type:
              - number
              - "null"
          conversion_search_views:
            type:
              - number
              - "null"
          conversion_sign_up_ecpa:
            type:
              - number
              - "null"
          conversion_purchase_ecpa:
            type:
              - number
              - "null"
          conversion_search_clicks:
            type:
              - number
              - "null"
          conversion_sign_up_views:
            type:
              - number
              - "null"
          conversion_lead_avg_value:
            type:
              - number
              - "null"
          conversion_purchase_views:
            type:
              - number
              - "null"
          conversion_sign_up_clicks:
            type:
              - number
              - "null"
          conversion_page_visit_ecpa:
            type:
              - number
              - "null"
          conversion_purchase_clicks:
            type:
              - number
              - "null"
          key_conversion_total_count:
            type:
              - number
              - "null"
          video_viewable_impressions:
            type:
              - number
              - "null"
          conversion_lead_total_value:
            type:
              - number
              - "null"
          conversion_page_visit_views:
            type:
              - number
              - "null"
          conversion_signup_avg_value:
            type:
              - number
              - "null"
          conversion_page_visit_clicks:
            type:
              - number
              - "null"
          conversion_view_content_ecpa:
            type:
              - number
              - "null"
          conversion_purchase_avg_value:
            type:
              - number
              - "null"
          conversion_signup_total_value:
            type:
              - number
              - "null"
          conversion_view_content_views:
            type:
              - number
              - "null"
          conversion_view_content_clicks:
            type:
              - number
              - "null"
          conversion_purchase_total_items:
            type:
              - number
              - "null"
          conversion_purchase_total_value:
            type:
              - number
              - "null"
          conversion_purchase_total_value_all:
            type:
              - number
              - "null"
        additionalProperties: true
    transformations: []
    incremental_sync:
      type: DatetimeBasedCursor
      step: P3D
      cursor_field: date
      end_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ now_utc().replace(minute=0, second=0,
          microsecond=0).strftime('%Y-%m-%dT%H:00:00Z') }}
      is_data_feed: false
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ config.get('start_time') or (now_utc() -
          duration('P2Y')).strftime('%Y-%m-%dT%H:%M:%SZ') }}
        min_datetime: "{{ (now_utc() - duration('P2Y')).strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      datetime_format: "%Y-%m-%dT%H:00:00Z"
      end_time_option:
        type: RequestOption
        field_path:
          - data
          - ends_at
        inject_into: body_json
      lookback_window: PT7H
      start_time_option:
        type: RequestOption
        field_path:
          - data
          - starts_at
        inject_into: body_json
      cursor_granularity: P1D
      cursor_datetime_formats:
        - "%Y-%m-%d"
        - "%Y-%m-%dT%H:%M:%SZ"
        - "%Y-%m-%dT%H:%M:%S%z"
        - "%Y-%m-%dT%H:%M:%S.%f%z"

api_budget:
  type: HTTPAPIBudget
  policies:
    # Reddit's published ads-campaign-management-read (400/60s) and ads-reporting (60/60s) limits.
    - type: MovingWindowCallRatePolicy
      rates:
        - limit: 400
          interval: PT1M
      matchers:
        - type: HttpRequestRegexMatcher
          url_base: https://ads-api.reddit.com
          url_path_pattern: ^/api/v3/ad_accounts/[^/]+/(ads|campaigns)$
    - type: MovingWindowCallRatePolicy
      rates:
        - limit: 60
          interval: PT1M
      matchers:
        - type: HttpRequestRegexMatcher
          url_base: https://ads-api.reddit.com
          url_path_pattern: ^/api/v3/ad_accounts/[^/]+/reports$
  status_codes_for_ratelimit_hit:
    - 429

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: "{{ config['num_workers'] if (config.get('num_workers') is integer and config['num_workers'] is not boolean and config['num_workers'] >= 1) else 3 }}"
  max_concurrency: 10

spec:
  type: Spec
  documentation_url: https://ads-api.reddit.com/docs/v3/
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - credentials
      - ad_account_id
    properties:
      credentials:
        type: object
        title: Authentication
        description: Choose how to authenticate to Reddit.
        order: 0
        oneOf:
          - type: object
            title: Authenticate with Reddit
            required:
              - auth_type
              - client_id
              - client_secret
              - refresh_token
            properties:
              auth_type:
                type: string
                const: OAuth2.0
                default: OAuth2.0
                order: 0
              client_id:
                type: string
                title: OAuth Client ID
                description: The client ID of your Reddit app.
                order: 1
              client_secret:
                type: string
                title: OAuth Client Secret
                description: The client secret of your Reddit app.
                airbyte_secret: true
                order: 2
              refresh_token:
                type: string
                title: OAuth Refresh Token
                description: The refresh token to renew the expired access token.
                airbyte_secret: true
                order: 3
            additionalProperties: true
          - type: object
            title: Use your own Reddit app
            required:
              - auth_type
              - client_id
              - client_secret
              - refresh_token
            properties:
              auth_type:
                type: string
                const: OwnApp
                order: 0
              client_id:
                type: string
                title: OAuth Client ID
                description: The client ID of your Reddit app.
                order: 1
              client_secret:
                type: string
                title: OAuth Client Secret
                description: The client secret of your Reddit app.
                airbyte_secret: true
                order: 2
              refresh_token:
                type: string
                title: OAuth Refresh Token
                description: The refresh token to renew the expired access token.
                airbyte_secret: true
                order: 3
            additionalProperties: true
      start_time:
        type: string
        description: >-
          Optional UTC start date applied to all three streams, in
          YYYY-MM-DDTHH:MM:SSZ format. When omitted, all three streams start 24
          months before the current date. A value earlier than 24 months ago is
          clamped for campaign_report, because Reddit only serves report data
          for the last 24 months.
        order: 5
        title: Start Date
        format: date-time
        pattern: >-
          ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(Z|[+-][0-9]{2}:?[0-9]{2})$
        examples:
          - "2024-05-11T00:00:00Z"
        pattern_descriptor: YYYY-MM-DDTHH:mm:ssZ
      num_workers:
        type: integer
        order: 6
        title: Number of Concurrent Workers
        description: >-
          Higher values speed up syncs but increase the chance of Reddit rate
          limiting.
        default: 3
        minimum: 1
        maximum: 10
      user_agent:
        type: string
        description: >-
          Optional. A unique and descriptive user agent string in the format:
          platform:app_id:version (by /u/yourusername). If empty, the connector
          uses an Airbyte user agent.
        order: 1
        title: User Agent
        airbyte_secret: true
      ad_account_id:
        type: string
        order: 2
        title: Ad Account ID
        description: >-
          The Reddit Ads account ID to sync, shown in Reddit Ads Manager, for
          example a2_abc123.
        airbyte_secret: true
    additionalProperties: true
  advanced_auth:
    auth_flow_type: oauth2.0
    predicate_key:
      - credentials
      - auth_type
    predicate_value: OAuth2.0
    oauth_config_specification:
      oauth_connector_input_specification:
        consent_url: >-
          https://www.reddit.com/api/v1/authorize?client_id={{client_id_value}}&response_type=code&state={{state_value}}&redirect_uri={{redirect_uri_value}}&duration=permanent&scope=adsread
        access_token_url: https://www.reddit.com/api/v1/access_token
        access_token_headers:
          Authorization: "Basic {{ (client_id_value ~ ':' ~ client_secret_value) | b64encode }}"
          Content-Type: application/x-www-form-urlencoded
          Accept: application/json
          User-Agent: "airbyte:source-reddit-ads:v1"
        access_token_params:
          grant_type: authorization_code
          code: "{{ auth_code_value }}"
          redirect_uri: "{{ redirect_uri_value }}"
        extract_output:
          - refresh_token
      complete_oauth_output_specification:
        type: object
        additionalProperties: false
        properties:
          refresh_token:
            type: string
            path_in_connector_config: [credentials, refresh_token]
      complete_oauth_server_input_specification:
        type: object
        additionalProperties: false
        properties:
          client_id: {type: string}
          client_secret: {type: string}
      complete_oauth_server_output_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
            path_in_connector_config: [credentials, client_id]
          client_secret:
            type: string
            path_in_connector_config: [credentials, client_secret]
  config_normalization_rules:
    type: ConfigNormalizationRules
    config_migrations:
      - type: ConfigMigration
        description: >-
          Moves the flat client_id, client_secret, and refresh_token into
          credentials with auth_type OwnApp (the connector's own Reddit app).
          It never selects OAuth2.0, so platform OAuth parameter injection
          (gated on credentials.auth_type == OAuth2.0) never applies to
          migrated configs. The flat keys are left in place.
        transformations:
          - type: ConfigAddFields
            fields:
              - type: AddedFieldDefinition
                path: ["credentials", "client_id"]
                value: "{{ config.get('client_id') }}"
                value_type: string
              - type: AddedFieldDefinition
                path: ["credentials", "client_secret"]
                value: "{{ config.get('client_secret') }}"
                value_type: string
              - type: AddedFieldDefinition
                path: ["credentials", "refresh_token"]
                value: "{{ config.get('refresh_token') }}"
                value_type: string
              - type: AddedFieldDefinition
                path: ["credentials", "auth_type"]
                value: "OwnApp"
            condition: "{{ config.get('client_id') and not (config.get('credentials') or {}).get('auth_type') }}"

metadata:
  assist:
    docsUrl: https://ads-api.reddit.com/docs/v3/
  testedStreams:
    ad:
      isStale: true
      hasRecords: true
      streamHash: 12f761940133b9a5bbf75c27bb07896233b0e613
      hasResponse: true
      primaryKeysAreUnique: false
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    campaign:
      isStale: true
      hasRecords: true
      streamHash: 86ac3ffe1ca0bde79d13b215405daa42a30e564a
      hasResponse: true
      primaryKeysAreUnique: false
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    campaign_report:
      isStale: true
      hasRecords: true
      streamHash: c10e6796c645c14fce59738fd22163c6596f6833
      hasResponse: true
      primaryKeysAreUnique: false
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    ad: false
    campaign: false
    campaign_report: true
