version: 4.3.2

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - organizations

definitions:
  streams:
    organizations:
      type: DeclarativeStream
      name: organizations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: me/organizations
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - organizations
              - "*"
              - organization
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("paging", {}).get("next_link", {}) }}'
            stop_condition: '{{ not response.get("paging", {}).get("next_link", {}) }}'
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
          - "%Y-%m-%d"
        datetime_format: "%Y-%m-%d"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config.get("start_date", "2011-09-01") }}'
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/organizations"
    adaccounts:
      type: DeclarativeStream
      name: adaccounts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: organizations/{{ stream_slice["organization_id"] }}/adaccounts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - adaccounts
              - "*"
              - adaccount
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("paging", {}).get("next_link", {}) }}'
            stop_condition: '{{ not response.get("paging", {}).get("next_link", {}) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: organization_id
              stream:
                $ref: "#/definitions/streams/organizations"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config.get("start_date", "2011-09-01") }}'
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/adaccounts"
    creatives:
      type: DeclarativeStream
      name: creatives
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adaccounts/{{ stream_slice['adaccount_id'] }}/creatives
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - creatives
              - "*"
              - creative
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("paging", {}).get("next_link", {}) }}'
            stop_condition: '{{ not response.get("paging", {}).get("next_link", {}) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: adaccount_id
              stream:
                $ref: "#/definitions/streams/adaccounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config.get("start_date", "2011-09-01") }}'
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/creatives"
    ads:
      type: DeclarativeStream
      name: ads
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adaccounts/{{ stream_slice['adaccount_id'] }}/ads
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - ads
              - "*"
              - ad
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("paging", {}).get("next_link", {}) }}'
            stop_condition: '{{ not response.get("paging", {}).get("next_link", {}) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: adaccount_id
              stream:
                $ref: "#/definitions/streams/adaccounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config.get("start_date", "2011-09-01") }}'
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/ads"
    adsquads:
      type: DeclarativeStream
      name: adsquads
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adaccounts/{{ stream_slice['adaccount_id'] }}/adsquads
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - adsquads
              - "*"
              - adsquad
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("paging", {}).get("next_link", {}) }}'
            stop_condition: '{{ not response.get("paging", {}).get("next_link", {}) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: adaccount_id
              stream:
                $ref: "#/definitions/streams/adaccounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config.get("start_date", "2011-09-01") }}'
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/adsquads"
    segments:
      type: DeclarativeStream
      name: segments
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adaccounts/{{ stream_slice['adaccount_id'] }}/segments
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - segments
              - "*"
              - segment
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("paging", {}).get("next_link", {}) }}'
            stop_condition: '{{ not response.get("paging", {}).get("next_link", {}) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: adaccount_id
              stream:
                $ref: "#/definitions/streams/adaccounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config.get("start_date", "2011-09-01") }}'
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/segments"
    media:
      type: DeclarativeStream
      name: media
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adaccounts/{{ stream_slice['adaccount_id'] }}/media
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - media
              - "*"
              - media
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("paging", {}).get("next_link", {}) }}'
            stop_condition: '{{ not response.get("paging", {}).get("next_link", {}) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: adaccount_id
              stream:
                $ref: "#/definitions/streams/adaccounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config.get("start_date", "2011-09-01") }}'
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/media"
    campaigns:
      type: DeclarativeStream
      name: campaigns
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adaccounts/{{ stream_slice['adaccount_id'] }}/campaigns
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - campaigns
              - "*"
              - campaign
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("paging", {}).get("next_link", {}) }}'
            stop_condition: '{{ not response.get("paging", {}).get("next_link", {}) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: adaccount_id
              stream:
                $ref: "#/definitions/streams/adaccounts"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config.get("start_date", "2011-09-01") }}'
          datetime_format: "%Y-%m-%d"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        is_client_side_incremental: true
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/campaigns"
    adaccounts_stats_hourly:
      type: DeclarativeStream
      name: adaccounts_stats_hourly
      primary_key:
        - id
        - granularity
        - start_time
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adaccounts/{{ stream_slice['id'] }}/stats
          http_method: GET
          request_parameters:
            granularity: HOUR
            action_report_time: "{{ config['action_report_time'] }}"
            swipe_up_attribution_window: '{{ config["swipe_up_attribution_window"] }}'
            view_attribution_window: '{{ config["view_attribution_window"] }}'
            fields: spend
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - timeseries_stats
              - "*"
              - timeseries_stat
              - timeseries
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("paging", {}).get("next_link", {}) }}'
            stop_condition: '{{ not response.get("paging", {}).get("next_link", {}) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/adaccounts"
      incremental_sync:
        type: DatetimeBasedCursor
        is_compare_strictly: true
        cursor_field: start_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config.get("start_date", "2011-09-01") }}'
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start_time
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: end_time
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        step: P1W
        cursor_granularity: PT0S
      transformations:
        - type: AddFields
          fields:
            - path: ["id"]
              value: "{{ stream_slice['id'] }}"
            - path: ["type"]
              value: "AD_ACCOUNT"
            - path: ["granularity"]
              value: "HOUR"
            - path: ["spend"]
              value: "{{ record.get('stats', {}).get('spend') }}"
        - type: RemoveFields
          field_pointers:
            - - stats
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/basic_stats"
    adaccounts_stats_daily:
      type: DeclarativeStream
      name: adaccounts_stats_daily
      primary_key:
        - id
        - granularity
        - start_time
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adaccounts/{{ stream_slice['id'] }}/stats
          http_method: GET
          request_parameters:
            granularity: DAY
            action_report_time: "{{ config['action_report_time'] }}"
            swipe_up_attribution_window: '{{ config["swipe_up_attribution_window"] }}'
            view_attribution_window: '{{ config["view_attribution_window"] }}'
            fields: spend
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - timeseries_stats
              - "*"
              - timeseries_stat
              - timeseries
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("paging", {}).get("next_link", {}) }}'
            stop_condition: '{{ not response.get("paging", {}).get("next_link", {}) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/adaccounts"
      incremental_sync:
        type: DatetimeBasedCursor
        is_compare_strictly: true
        cursor_field: start_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config.get("start_date", "2011-09-01") }}'
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start_time
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: end_time
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        step: P1M
        cursor_granularity: PT0S
      transformations:
        - type: AddFields
          fields:
            - path: ["id"]
              value: "{{ stream_slice['id'] }}"
            - path: ["type"]
              value: "AD_ACCOUNT"
            - path: ["granularity"]
              value: "DAY"
            - path: ["spend"]
              value: "{{ record.get('stats', {}).get('spend') }}"
        - type: RemoveFields
          field_pointers:
            - - stats
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/basic_stats"
    adaccounts_stats_lifetime:
      type: DeclarativeStream
      name: adaccounts_stats_lifetime
      primary_key:
        - id
        - granularity
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adaccounts/{{ stream_slice['id'] }}/stats
          http_method: GET
          request_parameters:
            granularity: LIFETIME
            action_report_time: "{{ config['action_report_time'] }}"
            swipe_up_attribution_window: '{{ config["swipe_up_attribution_window"] }}'
            view_attribution_window: '{{ config["view_attribution_window"] }}'
            fields: spend
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - lifetime_stats
              - "*"
              - lifetime_stat
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("paging", {}).get("next_link", {}) }}'
            stop_condition: '{{ not response.get("paging", {}).get("next_link", {}) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/adaccounts"
      transformations:
        - type: AddFields
          fields:
            - path: ["spend"]
              value: "{{ record.get('stats', {}).get('spend') }}"
        - type: RemoveFields
          field_pointers:
            - - stats
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/basic_stats"
    ads_stats_hourly:
      type: DeclarativeStream
      name: ads_stats_hourly
      primary_key:
        - id
        - granularity
        - start_time
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: ads/{{ stream_slice['id'] }}/stats
          http_method: GET
          request_parameters:
            granularity: HOUR
            action_report_time: "{{ config['action_report_time'] }}"
            swipe_up_attribution_window: '{{ config["swipe_up_attribution_window"] }}'
            view_attribution_window: '{{ config["view_attribution_window"] }}'
            fields: >-
              android_installs,attachment_avg_view_time_millis,attachment_impressions,attachment_quartile_1,attachment_quartile_2,attachment_quartile_3,attachment_total_view_time_millis,attachment_view_completion,avg_screen_time_millis,avg_view_time_millis,impressions,ios_installs,quartile_1,quartile_2,quartile_3,screen_time_millis,spend,swipe_up_percent,swipes,total_installs,video_views,video_views_time_based,video_views_15s,view_completion,view_time_millis,paid_impressions,earned_impressions,total_impressions,play_time_millis,shares,saves,native_leads,conversion_purchases,conversion_purchases_value,conversion_save,conversion_start_checkout,conversion_add_cart,conversion_view_content,conversion_add_billing,conversion_searches,conversion_level_completes,conversion_app_opens,conversion_page_views,conversion_subscribe,conversion_ad_click,conversion_ad_view,conversion_complete_tutorial,conversion_invite,conversion_login,conversion_share,conversion_reserve,conversion_achievement_unlocked,conversion_add_to_wishlist,conversion_spend_credits,conversion_rate,conversion_start_trial,conversion_list_view,custom_event_1,custom_event_2,custom_event_3,custom_event_4,custom_event_5,story_opens,story_completes
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - timeseries_stats
              - "*"
              - timeseries_stat
              - timeseries
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("paging", {}).get("next_link", {}) }}'
            stop_condition: '{{ not response.get("paging", {}).get("next_link", {}) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/ads"
      incremental_sync:
        type: DatetimeBasedCursor
        is_compare_strictly: true
        cursor_field: start_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config.get("start_date", "2011-09-01") }}'
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start_time
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: end_time
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        step: P1W
        cursor_granularity: PT0S
      transformations:
        - type: AddFields
          fields:
            - path: ["id"]
              value: "{{ stream_slice['id'] }}"
            - path: ["type"]
              value: "AD"
            - path: ["granularity"]
              value: "HOUR"
            - path: ["android_installs"]
              value: "{{ record.get('stats', {}).get('android_installs') }}"
            - path: ["attachment_avg_view_time_millis"]
              value: "{{ record.get('stats', {}).get('attachment_avg_view_time_millis') }}"
            - path: ["attachment_impressions"]
              value: "{{ record.get('stats', {}).get('attachment_impressions') }}"
            - path: ["attachment_quartile_1"]
              value: "{{ record.get('stats', {}).get('attachment_quartile_1') }}"
            - path: ["attachment_quartile_2"]
              value: "{{ record.get('stats', {}).get('attachment_quartile_2') }}"
            - path: ["attachment_quartile_3"]
              value: "{{ record.get('stats', {}).get('attachment_quartile_3') }}"
            - path: ["attachment_total_view_time_millis"]
              value: "{{ record.get('stats', {}).get('attachment_total_view_time_millis') }}"
            - path: ["attachment_view_completion"]
              value: "{{ record.get('stats', {}).get('attachment_view_completion') }}"
            - path: ["avg_screen_time_millis"]
              value: "{{ record.get('stats', {}).get('avg_screen_time_millis') }}"
            - path: ["avg_view_time_millis"]
              value: "{{ record.get('stats', {}).get('avg_view_time_millis') }}"
            - path: ["impressions"]
              value: "{{ record.get('stats', {}).get('impressions') }}"
            - path: ["ios_installs"]
              value: "{{ record.get('stats', {}).get('ios_installs') }}"
            - path: ["quartile_1"]
              value: "{{ record.get('stats', {}).get('quartile_1') }}"
            - path: ["quartile_2"]
              value: "{{ record.get('stats', {}).get('quartile_2') }}"
            - path: ["quartile_3"]
              value: "{{ record.get('stats', {}).get('quartile_3') }}"
            - path: ["screen_time_millis"]
              value: "{{ record.get('stats', {}).get('screen_time_millis') }}"
            - path: ["spend"]
              value: "{{ record.get('stats', {}).get('spend') }}"
            - path: ["swipe_up_percent"]
              value: "{{ record.get('stats', {}).get('swipe_up_percent') }}"
            - path: ["swipes"]
              value: "{{ record.get('stats', {}).get('swipes') }}"
            - path: ["total_installs"]
              value: "{{ record.get('stats', {}).get('total_installs') }}"
            - path: ["video_views"]
              value: "{{ record.get('stats', {}).get('video_views') }}"
            - path: ["video_views_time_based"]
              value: "{{ record.get('stats', {}).get('video_views_time_based') }}"
            - path: ["video_views_15s"]
              value: "{{ record.get('stats', {}).get('video_views_15s') }}"
            - path: ["view_completion"]
              value: "{{ record.get('stats', {}).get('view_completion') }}"
            - path: ["view_time_millis"]
              value: "{{ record.get('stats', {}).get('view_time_millis') }}"
            - path: ["paid_impressions"]
              value: "{{ record.get('stats', {}).get('paid_impressions') }}"
            - path: ["earned_impressions"]
              value: "{{ record.get('stats', {}).get('earned_impressions') }}"
            - path: ["total_impressions"]
              value: "{{ record.get('stats', {}).get('total_impressions') }}"
            - path: ["play_time_millis"]
              value: "{{ record.get('stats', {}).get('play_time_millis') }}"
            - path: ["shares"]
              value: "{{ record.get('stats', {}).get('shares') }}"
            - path: ["saves"]
              value: "{{ record.get('stats', {}).get('saves') }}"
            - path: ["native_leads"]
              value: "{{ record.get('stats', {}).get('native_leads') }}"
            - path: ["conversion_purchases"]
              value: "{{ record.get('stats', {}).get('conversion_purchases') }}"
            - path: ["conversion_purchases_value"]
              value: "{{ record.get('stats', {}).get('conversion_purchases_value') }}"
            - path: ["conversion_save"]
              value: "{{ record.get('stats', {}).get('conversion_save') }}"
            - path: ["conversion_start_checkout"]
              value: "{{ record.get('stats', {}).get('conversion_start_checkout') }}"
            - path: ["conversion_add_cart"]
              value: "{{ record.get('stats', {}).get('conversion_add_cart') }}"
            - path: ["conversion_view_content"]
              value: "{{ record.get('stats', {}).get('conversion_view_content') }}"
            - path: ["conversion_add_billing"]
              value: "{{ record.get('stats', {}).get('conversion_add_billing') }}"
            - path: ["conversion_searches"]
              value: "{{ record.get('stats', {}).get('conversion_searches') }}"
            - path: ["conversion_level_completes"]
              value: "{{ record.get('stats', {}).get('conversion_level_completes') }}"
            - path: ["conversion_app_opens"]
              value: "{{ record.get('stats', {}).get('conversion_app_opens') }}"
            - path: ["conversion_page_views"]
              value: "{{ record.get('stats', {}).get('conversion_page_views') }}"
            - path: ["conversion_subscribe"]
              value: "{{ record.get('stats', {}).get('conversion_subscribe') }}"
            - path: ["conversion_ad_click"]
              value: "{{ record.get('stats', {}).get('conversion_ad_click') }}"
            - path: ["conversion_ad_view"]
              value: "{{ record.get('stats', {}).get('conversion_ad_view') }}"
            - path: ["conversion_complete_tutorial"]
              value: "{{ record.get('stats', {}).get('conversion_complete_tutorial') }}"
            - path: ["conversion_invite"]
              value: "{{ record.get('stats', {}).get('conversion_invite') }}"
            - path: ["conversion_login"]
              value: "{{ record.get('stats', {}).get('conversion_login') }}"
            - path: ["conversion_share"]
              value: "{{ record.get('stats', {}).get('conversion_share') }}"
            - path: ["conversion_reserve"]
              value: "{{ record.get('stats', {}).get('conversion_reserve') }}"
            - path: ["conversion_achievement_unlocked"]
              value: "{{ record.get('stats', {}).get('conversion_achievement_unlocked') }}"
            - path: ["conversion_add_to_wishlist"]
              value: "{{ record.get('stats', {}).get('conversion_add_to_wishlist') }}"
            - path: ["conversion_spend_credits"]
              value: "{{ record.get('stats', {}).get('conversion_spend_credits') }}"
            - path: ["conversion_rate"]
              value: "{{ record.get('stats', {}).get('conversion_rate') }}"
            - path: ["conversion_start_trial"]
              value: "{{ record.get('stats', {}).get('conversion_start_trial') }}"
            - path: ["conversion_list_view"]
              value: "{{ record.get('stats', {}).get('conversion_list_view') }}"
            - path: ["custom_event_1"]
              value: "{{ record.get('stats', {}).get('custom_event_1') }}"
            - path: ["custom_event_2"]
              value: "{{ record.get('stats', {}).get('custom_event_2') }}"
            - path: ["custom_event_3"]
              value: "{{ record.get('stats', {}).get('custom_event_3') }}"
            - path: ["custom_event_4"]
              value: "{{ record.get('stats', {}).get('custom_event_4') }}"
            - path: ["custom_event_5"]
              value: "{{ record.get('stats', {}).get('custom_event_5') }}"
            - path: ["story_opens"]
              value: "{{ record.get('stats', {}).get('story_opens') }}"
            - path: ["story_completes"]
              value: "{{ record.get('stats', {}).get('story_completes') }}"
        - type: RemoveFields
          field_pointers:
            - - stats
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/basic_stats"
    ads_stats_daily:
      type: DeclarativeStream
      name: ads_stats_daily
      primary_key:
        - id
        - granularity
        - start_time
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: ads/{{ stream_slice['id'] }}/stats
          http_method: GET
          request_parameters:
            granularity: DAY
            action_report_time: "{{ config['action_report_time'] }}"
            swipe_up_attribution_window: '{{ config["swipe_up_attribution_window"] }}'
            view_attribution_window: '{{ config["view_attribution_window"] }}'
            fields: >-
              android_installs,attachment_avg_view_time_millis,attachment_impressions,attachment_quartile_1,attachment_quartile_2,attachment_quartile_3,attachment_total_view_time_millis,attachment_view_completion,avg_screen_time_millis,avg_view_time_millis,impressions,ios_installs,quartile_1,quartile_2,quartile_3,screen_time_millis,spend,swipe_up_percent,swipes,total_installs,video_views,video_views_time_based,video_views_15s,view_completion,view_time_millis,paid_impressions,earned_impressions,total_impressions,play_time_millis,shares,saves,native_leads,conversion_purchases,conversion_purchases_value,conversion_save,conversion_start_checkout,conversion_add_cart,conversion_view_content,conversion_add_billing,conversion_searches,conversion_level_completes,conversion_app_opens,conversion_page_views,conversion_subscribe,conversion_ad_click,conversion_ad_view,conversion_complete_tutorial,conversion_invite,conversion_login,conversion_share,conversion_reserve,conversion_achievement_unlocked,conversion_add_to_wishlist,conversion_spend_credits,conversion_rate,conversion_start_trial,conversion_list_view,custom_event_1,custom_event_2,custom_event_3,custom_event_4,custom_event_5,story_opens,story_completes,attachment_frequency,attachment_uniques,frequency,uniques,total_reach,earned_reach
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - timeseries_stats
              - "*"
              - timeseries_stat
              - timeseries
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("paging", {}).get("next_link", {}) }}'
            stop_condition: '{{ not response.get("paging", {}).get("next_link", {}) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/ads"
      incremental_sync:
        type: DatetimeBasedCursor
        is_compare_strictly: true
        cursor_field: start_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config.get("start_date", "2011-09-01") }}'
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start_time
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: end_time
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        step: P1M
        cursor_granularity: PT0S
      transformations:
        - type: AddFields
          fields:
            - path: ["id"]
              value: "{{ stream_slice['id'] }}"
            - path: ["type"]
              value: "AD"
            - path: ["granularity"]
              value: "DAY"
            - path: ["android_installs"]
              value: "{{ record.get('stats', {}).get('android_installs') }}"
            - path: ["attachment_avg_view_time_millis"]
              value: "{{ record.get('stats', {}).get('attachment_avg_view_time_millis') }}"
            - path: ["attachment_impressions"]
              value: "{{ record.get('stats', {}).get('attachment_impressions') }}"
            - path: ["attachment_quartile_1"]
              value: "{{ record.get('stats', {}).get('attachment_quartile_1') }}"
            - path: ["attachment_quartile_2"]
              value: "{{ record.get('stats', {}).get('attachment_quartile_2') }}"
            - path: ["attachment_quartile_3"]
              value: "{{ record.get('stats', {}).get('attachment_quartile_3') }}"
            - path: ["attachment_total_view_time_millis"]
              value: "{{ record.get('stats', {}).get('attachment_total_view_time_millis') }}"
            - path: ["attachment_view_completion"]
              value: "{{ record.get('stats', {}).get('attachment_view_completion') }}"
            - path: ["avg_screen_time_millis"]
              value: "{{ record.get('stats', {}).get('avg_screen_time_millis') }}"
            - path: ["avg_view_time_millis"]
              value: "{{ record.get('stats', {}).get('avg_view_time_millis') }}"
            - path: ["impressions"]
              value: "{{ record.get('stats', {}).get('impressions') }}"
            - path: ["ios_installs"]
              value: "{{ record.get('stats', {}).get('ios_installs') }}"
            - path: ["quartile_1"]
              value: "{{ record.get('stats', {}).get('quartile_1') }}"
            - path: ["quartile_2"]
              value: "{{ record.get('stats', {}).get('quartile_2') }}"
            - path: ["quartile_3"]
              value: "{{ record.get('stats', {}).get('quartile_3') }}"
            - path: ["screen_time_millis"]
              value: "{{ record.get('stats', {}).get('screen_time_millis') }}"
            - path: ["spend"]
              value: "{{ record.get('stats', {}).get('spend') }}"
            - path: ["swipe_up_percent"]
              value: "{{ record.get('stats', {}).get('swipe_up_percent') }}"
            - path: ["swipes"]
              value: "{{ record.get('stats', {}).get('swipes') }}"
            - path: ["total_installs"]
              value: "{{ record.get('stats', {}).get('total_installs') }}"
            - path: ["video_views"]
              value: "{{ record.get('stats', {}).get('video_views') }}"
            - path: ["video_views_time_based"]
              value: "{{ record.get('stats', {}).get('video_views_time_based') }}"
            - path: ["video_views_15s"]
              value: "{{ record.get('stats', {}).get('video_views_15s') }}"
            - path: ["view_completion"]
              value: "{{ record.get('stats', {}).get('view_completion') }}"
            - path: ["view_time_millis"]
              value: "{{ record.get('stats', {}).get('view_time_millis') }}"
            - path: ["paid_impressions"]
              value: "{{ record.get('stats', {}).get('paid_impressions') }}"
            - path: ["earned_impressions"]
              value: "{{ record.get('stats', {}).get('earned_impressions') }}"
            - path: ["total_impressions"]
              value: "{{ record.get('stats', {}).get('total_impressions') }}"
            - path: ["play_time_millis"]
              value: "{{ record.get('stats', {}).get('play_time_millis') }}"
            - path: ["shares"]
              value: "{{ record.get('stats', {}).get('shares') }}"
            - path: ["saves"]
              value: "{{ record.get('stats', {}).get('saves') }}"
            - path: ["native_leads"]
              value: "{{ record.get('stats', {}).get('native_leads') }}"
            - path: ["conversion_purchases"]
              value: "{{ record.get('stats', {}).get('conversion_purchases') }}"
            - path: ["conversion_purchases_value"]
              value: "{{ record.get('stats', {}).get('conversion_purchases_value') }}"
            - path: ["conversion_save"]
              value: "{{ record.get('stats', {}).get('conversion_save') }}"
            - path: ["conversion_start_checkout"]
              value: "{{ record.get('stats', {}).get('conversion_start_checkout') }}"
            - path: ["conversion_add_cart"]
              value: "{{ record.get('stats', {}).get('conversion_add_cart') }}"
            - path: ["conversion_view_content"]
              value: "{{ record.get('stats', {}).get('conversion_view_content') }}"
            - path: ["conversion_add_billing"]
              value: "{{ record.get('stats', {}).get('conversion_add_billing') }}"
            - path: ["conversion_searches"]
              value: "{{ record.get('stats', {}).get('conversion_searches') }}"
            - path: ["conversion_level_completes"]
              value: "{{ record.get('stats', {}).get('conversion_level_completes') }}"
            - path: ["conversion_app_opens"]
              value: "{{ record.get('stats', {}).get('conversion_app_opens') }}"
            - path: ["conversion_page_views"]
              value: "{{ record.get('stats', {}).get('conversion_page_views') }}"
            - path: ["conversion_subscribe"]
              value: "{{ record.get('stats', {}).get('conversion_subscribe') }}"
            - path: ["conversion_ad_click"]
              value: "{{ record.get('stats', {}).get('conversion_ad_click') }}"
            - path: ["conversion_ad_view"]
              value: "{{ record.get('stats', {}).get('conversion_ad_view') }}"
            - path: ["conversion_complete_tutorial"]
              value: "{{ record.get('stats', {}).get('conversion_complete_tutorial') }}"
            - path: ["conversion_invite"]
              value: "{{ record.get('stats', {}).get('conversion_invite') }}"
            - path: ["conversion_login"]
              value: "{{ record.get('stats', {}).get('conversion_login') }}"
            - path: ["conversion_share"]
              value: "{{ record.get('stats', {}).get('conversion_share') }}"
            - path: ["conversion_reserve"]
              value: "{{ record.get('stats', {}).get('conversion_reserve') }}"
            - path: ["conversion_achievement_unlocked"]
              value: "{{ record.get('stats', {}).get('conversion_achievement_unlocked') }}"
            - path: ["conversion_add_to_wishlist"]
              value: "{{ record.get('stats', {}).get('conversion_add_to_wishlist') }}"
            - path: ["conversion_spend_credits"]
              value: "{{ record.get('stats', {}).get('conversion_spend_credits') }}"
            - path: ["conversion_rate"]
              value: "{{ record.get('stats', {}).get('conversion_rate') }}"
            - path: ["conversion_start_trial"]
              value: "{{ record.get('stats', {}).get('conversion_start_trial') }}"
            - path: ["conversion_list_view"]
              value: "{{ record.get('stats', {}).get('conversion_list_view') }}"
            - path: ["custom_event_1"]
              value: "{{ record.get('stats', {}).get('custom_event_1') }}"
            - path: ["custom_event_2"]
              value: "{{ record.get('stats', {}).get('custom_event_2') }}"
            - path: ["custom_event_3"]
              value: "{{ record.get('stats', {}).get('custom_event_3') }}"
            - path: ["custom_event_4"]
              value: "{{ record.get('stats', {}).get('custom_event_4') }}"
            - path: ["custom_event_5"]
              value: "{{ record.get('stats', {}).get('custom_event_5') }}"
            - path: ["story_opens"]
              value: "{{ record.get('stats', {}).get('story_opens') }}"
            - path: ["story_completes"]
              value: "{{ record.get('stats', {}).get('story_completes') }}"
            - path: ["attachment_frequency"]
              value: "{{ record.get('stats', {}).get('attachment_frequency') }}"
            - path: ["attachment_uniques"]
              value: "{{ record.get('stats', {}).get('attachment_uniques') }}"
            - path: ["frequency"]
              value: "{{ record.get('stats', {}).get('frequency') }}"
            - path: ["uniques"]
              value: "{{ record.get('stats', {}).get('uniques') }}"
            - path: ["total_reach"]
              value: "{{ record.get('stats', {}).get('total_reach') }}"
            - path: ["earned_reach"]
              value: "{{ record.get('stats', {}).get('earned_reach') }}"
        - type: RemoveFields
          field_pointers:
            - - stats
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/basic_stats"
    ads_stats_lifetime:
      type: DeclarativeStream
      name: ads_stats_lifetime
      primary_key:
        - id
        - granularity
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: ads/{{ stream_slice['id'] }}/stats
          http_method: GET
          request_parameters:
            granularity: LIFETIME
            action_report_time: "{{ config['action_report_time'] }}"
            swipe_up_attribution_window: '{{ config["swipe_up_attribution_window"] }}'
            view_attribution_window: '{{ config["view_attribution_window"] }}'
            fields: >-
              android_installs,attachment_avg_view_time_millis,attachment_impressions,attachment_quartile_1,attachment_quartile_2,attachment_quartile_3,attachment_total_view_time_millis,attachment_view_completion,avg_screen_time_millis,avg_view_time_millis,impressions,ios_installs,quartile_1,quartile_2,quartile_3,screen_time_millis,spend,swipe_up_percent,swipes,total_installs,video_views,video_views_time_based,video_views_15s,view_completion,view_time_millis,paid_impressions,earned_impressions,total_impressions,play_time_millis,shares,saves,native_leads,conversion_purchases,conversion_purchases_value,conversion_save,conversion_start_checkout,conversion_add_cart,conversion_view_content,conversion_add_billing,conversion_searches,conversion_level_completes,conversion_app_opens,conversion_page_views,conversion_subscribe,conversion_ad_click,conversion_ad_view,conversion_complete_tutorial,conversion_invite,conversion_login,conversion_share,conversion_reserve,conversion_achievement_unlocked,conversion_add_to_wishlist,conversion_spend_credits,conversion_rate,conversion_start_trial,conversion_list_view,custom_event_1,custom_event_2,custom_event_3,custom_event_4,custom_event_5,story_opens,story_completes,attachment_frequency,attachment_uniques,frequency,uniques,total_reach,earned_reach
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - lifetime_stats
              - "*"
              - lifetime_stat
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("paging", {}).get("next_link", {}) }}'
            stop_condition: '{{ not response.get("paging", {}).get("next_link", {}) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/ads"
      transformations:
        - type: AddFields
          fields:
            - path: ["android_installs"]
              value: "{{ record.get('stats', {}).get('android_installs') }}"
            - path: ["attachment_avg_view_time_millis"]
              value: "{{ record.get('stats', {}).get('attachment_avg_view_time_millis') }}"
            - path: ["attachment_impressions"]
              value: "{{ record.get('stats', {}).get('attachment_impressions') }}"
            - path: ["attachment_quartile_1"]
              value: "{{ record.get('stats', {}).get('attachment_quartile_1') }}"
            - path: ["attachment_quartile_2"]
              value: "{{ record.get('stats', {}).get('attachment_quartile_2') }}"
            - path: ["attachment_quartile_3"]
              value: "{{ record.get('stats', {}).get('attachment_quartile_3') }}"
            - path: ["attachment_total_view_time_millis"]
              value: "{{ record.get('stats', {}).get('attachment_total_view_time_millis') }}"
            - path: ["attachment_view_completion"]
              value: "{{ record.get('stats', {}).get('attachment_view_completion') }}"
            - path: ["avg_screen_time_millis"]
              value: "{{ record.get('stats', {}).get('avg_screen_time_millis') }}"
            - path: ["avg_view_time_millis"]
              value: "{{ record.get('stats', {}).get('avg_view_time_millis') }}"
            - path: ["impressions"]
              value: "{{ record.get('stats', {}).get('impressions') }}"
            - path: ["ios_installs"]
              value: "{{ record.get('stats', {}).get('ios_installs') }}"
            - path: ["quartile_1"]
              value: "{{ record.get('stats', {}).get('quartile_1') }}"
            - path: ["quartile_2"]
              value: "{{ record.get('stats', {}).get('quartile_2') }}"
            - path: ["quartile_3"]
              value: "{{ record.get('stats', {}).get('quartile_3') }}"
            - path: ["screen_time_millis"]
              value: "{{ record.get('stats', {}).get('screen_time_millis') }}"
            - path: ["spend"]
              value: "{{ record.get('stats', {}).get('spend') }}"
            - path: ["swipe_up_percent"]
              value: "{{ record.get('stats', {}).get('swipe_up_percent') }}"
            - path: ["swipes"]
              value: "{{ record.get('stats', {}).get('swipes') }}"
            - path: ["total_installs"]
              value: "{{ record.get('stats', {}).get('total_installs') }}"
            - path: ["video_views"]
              value: "{{ record.get('stats', {}).get('video_views') }}"
            - path: ["video_views_time_based"]
              value: "{{ record.get('stats', {}).get('video_views_time_based') }}"
            - path: ["video_views_15s"]
              value: "{{ record.get('stats', {}).get('video_views_15s') }}"
            - path: ["view_completion"]
              value: "{{ record.get('stats', {}).get('view_completion') }}"
            - path: ["view_time_millis"]
              value: "{{ record.get('stats', {}).get('view_time_millis') }}"
            - path: ["paid_impressions"]
              value: "{{ record.get('stats', {}).get('paid_impressions') }}"
            - path: ["earned_impressions"]
              value: "{{ record.get('stats', {}).get('earned_impressions') }}"
            - path: ["total_impressions"]
              value: "{{ record.get('stats', {}).get('total_impressions') }}"
            - path: ["play_time_millis"]
              value: "{{ record.get('stats', {}).get('play_time_millis') }}"
            - path: ["shares"]
              value: "{{ record.get('stats', {}).get('shares') }}"
            - path: ["saves"]
              value: "{{ record.get('stats', {}).get('saves') }}"
            - path: ["native_leads"]
              value: "{{ record.get('stats', {}).get('native_leads') }}"
            - path: ["conversion_purchases"]
              value: "{{ record.get('stats', {}).get('conversion_purchases') }}"
            - path: ["conversion_purchases_value"]
              value: "{{ record.get('stats', {}).get('conversion_purchases_value') }}"
            - path: ["conversion_save"]
              value: "{{ record.get('stats', {}).get('conversion_save') }}"
            - path: ["conversion_start_checkout"]
              value: "{{ record.get('stats', {}).get('conversion_start_checkout') }}"
            - path: ["conversion_add_cart"]
              value: "{{ record.get('stats', {}).get('conversion_add_cart') }}"
            - path: ["conversion_view_content"]
              value: "{{ record.get('stats', {}).get('conversion_view_content') }}"
            - path: ["conversion_add_billing"]
              value: "{{ record.get('stats', {}).get('conversion_add_billing') }}"
            - path: ["conversion_searches"]
              value: "{{ record.get('stats', {}).get('conversion_searches') }}"
            - path: ["conversion_level_completes"]
              value: "{{ record.get('stats', {}).get('conversion_level_completes') }}"
            - path: ["conversion_app_opens"]
              value: "{{ record.get('stats', {}).get('conversion_app_opens') }}"
            - path: ["conversion_page_views"]
              value: "{{ record.get('stats', {}).get('conversion_page_views') }}"
            - path: ["conversion_subscribe"]
              value: "{{ record.get('stats', {}).get('conversion_subscribe') }}"
            - path: ["conversion_ad_click"]
              value: "{{ record.get('stats', {}).get('conversion_ad_click') }}"
            - path: ["conversion_ad_view"]
              value: "{{ record.get('stats', {}).get('conversion_ad_view') }}"
            - path: ["conversion_complete_tutorial"]
              value: "{{ record.get('stats', {}).get('conversion_complete_tutorial') }}"
            - path: ["conversion_invite"]
              value: "{{ record.get('stats', {}).get('conversion_invite') }}"
            - path: ["conversion_login"]
              value: "{{ record.get('stats', {}).get('conversion_login') }}"
            - path: ["conversion_share"]
              value: "{{ record.get('stats', {}).get('conversion_share') }}"
            - path: ["conversion_reserve"]
              value: "{{ record.get('stats', {}).get('conversion_reserve') }}"
            - path: ["conversion_achievement_unlocked"]
              value: "{{ record.get('stats', {}).get('conversion_achievement_unlocked') }}"
            - path: ["conversion_add_to_wishlist"]
              value: "{{ record.get('stats', {}).get('conversion_add_to_wishlist') }}"
            - path: ["conversion_spend_credits"]
              value: "{{ record.get('stats', {}).get('conversion_spend_credits') }}"
            - path: ["conversion_rate"]
              value: "{{ record.get('stats', {}).get('conversion_rate') }}"
            - path: ["conversion_start_trial"]
              value: "{{ record.get('stats', {}).get('conversion_start_trial') }}"
            - path: ["conversion_list_view"]
              value: "{{ record.get('stats', {}).get('conversion_list_view') }}"
            - path: ["custom_event_1"]
              value: "{{ record.get('stats', {}).get('custom_event_1') }}"
            - path: ["custom_event_2"]
              value: "{{ record.get('stats', {}).get('custom_event_2') }}"
            - path: ["custom_event_3"]
              value: "{{ record.get('stats', {}).get('custom_event_3') }}"
            - path: ["custom_event_4"]
              value: "{{ record.get('stats', {}).get('custom_event_4') }}"
            - path: ["custom_event_5"]
              value: "{{ record.get('stats', {}).get('custom_event_5') }}"
            - path: ["story_opens"]
              value: "{{ record.get('stats', {}).get('story_opens') }}"
            - path: ["story_completes"]
              value: "{{ record.get('stats', {}).get('story_completes') }}"
            - path: ["attachment_frequency"]
              value: "{{ record.get('stats', {}).get('attachment_frequency') }}"
            - path: ["attachment_uniques"]
              value: "{{ record.get('stats', {}).get('attachment_uniques') }}"
            - path: ["frequency"]
              value: "{{ record.get('stats', {}).get('frequency') }}"
            - path: ["uniques"]
              value: "{{ record.get('stats', {}).get('uniques') }}"
            - path: ["total_reach"]
              value: "{{ record.get('stats', {}).get('total_reach') }}"
            - path: ["earned_reach"]
              value: "{{ record.get('stats', {}).get('earned_reach') }}"
        - type: RemoveFields
          field_pointers:
            - - stats
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/basic_stats"
    adsquads_stats_hourly:
      type: DeclarativeStream
      name: adsquads_stats_hourly
      primary_key:
        - id
        - granularity
        - start_time
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adsquads/{{ stream_slice['id'] }}/stats
          http_method: GET
          request_parameters:
            granularity: HOUR
            action_report_time: "{{ config['action_report_time'] }}"
            swipe_up_attribution_window: '{{ config["swipe_up_attribution_window"] }}'
            view_attribution_window: '{{ config["view_attribution_window"] }}'
            fields: >-
              android_installs,attachment_avg_view_time_millis,attachment_impressions,attachment_quartile_1,attachment_quartile_2,attachment_quartile_3,attachment_total_view_time_millis,attachment_view_completion,avg_screen_time_millis,avg_view_time_millis,impressions,ios_installs,quartile_1,quartile_2,quartile_3,screen_time_millis,spend,swipe_up_percent,swipes,total_installs,video_views,video_views_time_based,video_views_15s,view_completion,view_time_millis,paid_impressions,earned_impressions,total_impressions,play_time_millis,shares,saves,native_leads,conversion_purchases,conversion_purchases_value,conversion_save,conversion_start_checkout,conversion_add_cart,conversion_view_content,conversion_add_billing,conversion_searches,conversion_level_completes,conversion_app_opens,conversion_page_views,conversion_subscribe,conversion_ad_click,conversion_ad_view,conversion_complete_tutorial,conversion_invite,conversion_login,conversion_share,conversion_reserve,conversion_achievement_unlocked,conversion_add_to_wishlist,conversion_spend_credits,conversion_rate,conversion_start_trial,conversion_list_view,custom_event_1,custom_event_2,custom_event_3,custom_event_4,custom_event_5,story_opens,story_completes
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - timeseries_stats
              - "*"
              - timeseries_stat
              - timeseries
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("paging", {}).get("next_link", {}) }}'
            stop_condition: '{{ not response.get("paging", {}).get("next_link", {}) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/adsquads"
      incremental_sync:
        type: DatetimeBasedCursor
        is_compare_strictly: true
        cursor_field: start_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config.get("start_date", "2011-09-01") }}'
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start_time
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: end_time
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        step: P1W
        cursor_granularity: PT0S
      transformations:
        - type: AddFields
          fields:
            - path: ["id"]
              value: "{{ stream_slice['id'] }}"
            - path: ["type"]
              value: "AD_SQUAD"
            - path: ["granularity"]
              value: "HOUR"
            - path: ["android_installs"]
              value: "{{ record.get('stats', {}).get('android_installs') }}"
            - path: ["attachment_avg_view_time_millis"]
              value: "{{ record.get('stats', {}).get('attachment_avg_view_time_millis') }}"
            - path: ["attachment_impressions"]
              value: "{{ record.get('stats', {}).get('attachment_impressions') }}"
            - path: ["attachment_quartile_1"]
              value: "{{ record.get('stats', {}).get('attachment_quartile_1') }}"
            - path: ["attachment_quartile_2"]
              value: "{{ record.get('stats', {}).get('attachment_quartile_2') }}"
            - path: ["attachment_quartile_3"]
              value: "{{ record.get('stats', {}).get('attachment_quartile_3') }}"
            - path: ["attachment_total_view_time_millis"]
              value: "{{ record.get('stats', {}).get('attachment_total_view_time_millis') }}"
            - path: ["attachment_view_completion"]
              value: "{{ record.get('stats', {}).get('attachment_view_completion') }}"
            - path: ["avg_screen_time_millis"]
              value: "{{ record.get('stats', {}).get('avg_screen_time_millis') }}"
            - path: ["avg_view_time_millis"]
              value: "{{ record.get('stats', {}).get('avg_view_time_millis') }}"
            - path: ["impressions"]
              value: "{{ record.get('stats', {}).get('impressions') }}"
            - path: ["ios_installs"]
              value: "{{ record.get('stats', {}).get('ios_installs') }}"
            - path: ["quartile_1"]
              value: "{{ record.get('stats', {}).get('quartile_1') }}"
            - path: ["quartile_2"]
              value: "{{ record.get('stats', {}).get('quartile_2') }}"
            - path: ["quartile_3"]
              value: "{{ record.get('stats', {}).get('quartile_3') }}"
            - path: ["screen_time_millis"]
              value: "{{ record.get('stats', {}).get('screen_time_millis') }}"
            - path: ["spend"]
              value: "{{ record.get('stats', {}).get('spend') }}"
            - path: ["swipe_up_percent"]
              value: "{{ record.get('stats', {}).get('swipe_up_percent') }}"
            - path: ["swipes"]
              value: "{{ record.get('stats', {}).get('swipes') }}"
            - path: ["total_installs"]
              value: "{{ record.get('stats', {}).get('total_installs') }}"
            - path: ["video_views"]
              value: "{{ record.get('stats', {}).get('video_views') }}"
            - path: ["video_views_time_based"]
              value: "{{ record.get('stats', {}).get('video_views_time_based') }}"
            - path: ["video_views_15s"]
              value: "{{ record.get('stats', {}).get('video_views_15s') }}"
            - path: ["view_completion"]
              value: "{{ record.get('stats', {}).get('view_completion') }}"
            - path: ["view_time_millis"]
              value: "{{ record.get('stats', {}).get('view_time_millis') }}"
            - path: ["paid_impressions"]
              value: "{{ record.get('stats', {}).get('paid_impressions') }}"
            - path: ["earned_impressions"]
              value: "{{ record.get('stats', {}).get('earned_impressions') }}"
            - path: ["total_impressions"]
              value: "{{ record.get('stats', {}).get('total_impressions') }}"
            - path: ["play_time_millis"]
              value: "{{ record.get('stats', {}).get('play_time_millis') }}"
            - path: ["shares"]
              value: "{{ record.get('stats', {}).get('shares') }}"
            - path: ["saves"]
              value: "{{ record.get('stats', {}).get('saves') }}"
            - path: ["native_leads"]
              value: "{{ record.get('stats', {}).get('native_leads') }}"
            - path: ["conversion_purchases"]
              value: "{{ record.get('stats', {}).get('conversion_purchases') }}"
            - path: ["conversion_purchases_value"]
              value: "{{ record.get('stats', {}).get('conversion_purchases_value') }}"
            - path: ["conversion_save"]
              value: "{{ record.get('stats', {}).get('conversion_save') }}"
            - path: ["conversion_start_checkout"]
              value: "{{ record.get('stats', {}).get('conversion_start_checkout') }}"
            - path: ["conversion_add_cart"]
              value: "{{ record.get('stats', {}).get('conversion_add_cart') }}"
            - path: ["conversion_view_content"]
              value: "{{ record.get('stats', {}).get('conversion_view_content') }}"
            - path: ["conversion_add_billing"]
              value: "{{ record.get('stats', {}).get('conversion_add_billing') }}"
            - path: ["conversion_searches"]
              value: "{{ record.get('stats', {}).get('conversion_searches') }}"
            - path: ["conversion_level_completes"]
              value: "{{ record.get('stats', {}).get('conversion_level_completes') }}"
            - path: ["conversion_app_opens"]
              value: "{{ record.get('stats', {}).get('conversion_app_opens') }}"
            - path: ["conversion_page_views"]
              value: "{{ record.get('stats', {}).get('conversion_page_views') }}"
            - path: ["conversion_subscribe"]
              value: "{{ record.get('stats', {}).get('conversion_subscribe') }}"
            - path: ["conversion_ad_click"]
              value: "{{ record.get('stats', {}).get('conversion_ad_click') }}"
            - path: ["conversion_ad_view"]
              value: "{{ record.get('stats', {}).get('conversion_ad_view') }}"
            - path: ["conversion_complete_tutorial"]
              value: "{{ record.get('stats', {}).get('conversion_complete_tutorial') }}"
            - path: ["conversion_invite"]
              value: "{{ record.get('stats', {}).get('conversion_invite') }}"
            - path: ["conversion_login"]
              value: "{{ record.get('stats', {}).get('conversion_login') }}"
            - path: ["conversion_share"]
              value: "{{ record.get('stats', {}).get('conversion_share') }}"
            - path: ["conversion_reserve"]
              value: "{{ record.get('stats', {}).get('conversion_reserve') }}"
            - path: ["conversion_achievement_unlocked"]
              value: "{{ record.get('stats', {}).get('conversion_achievement_unlocked') }}"
            - path: ["conversion_add_to_wishlist"]
              value: "{{ record.get('stats', {}).get('conversion_add_to_wishlist') }}"
            - path: ["conversion_spend_credits"]
              value: "{{ record.get('stats', {}).get('conversion_spend_credits') }}"
            - path: ["conversion_rate"]
              value: "{{ record.get('stats', {}).get('conversion_rate') }}"
            - path: ["conversion_start_trial"]
              value: "{{ record.get('stats', {}).get('conversion_start_trial') }}"
            - path: ["conversion_list_view"]
              value: "{{ record.get('stats', {}).get('conversion_list_view') }}"
            - path: ["custom_event_1"]
              value: "{{ record.get('stats', {}).get('custom_event_1') }}"
            - path: ["custom_event_2"]
              value: "{{ record.get('stats', {}).get('custom_event_2') }}"
            - path: ["custom_event_3"]
              value: "{{ record.get('stats', {}).get('custom_event_3') }}"
            - path: ["custom_event_4"]
              value: "{{ record.get('stats', {}).get('custom_event_4') }}"
            - path: ["custom_event_5"]
              value: "{{ record.get('stats', {}).get('custom_event_5') }}"
            - path: ["story_opens"]
              value: "{{ record.get('stats', {}).get('story_opens') }}"
            - path: ["story_completes"]
              value: "{{ record.get('stats', {}).get('story_completes') }}"
        - type: RemoveFields
          field_pointers:
            - - stats
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/basic_stats"
    adsquads_stats_daily:
      type: DeclarativeStream
      name: adsquads_stats_daily
      primary_key:
        - id
        - granularity
        - start_time
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adsquads/{{ stream_slice['id'] }}/stats
          http_method: GET
          request_parameters:
            granularity: DAY
            action_report_time: "{{ config['action_report_time'] }}"
            swipe_up_attribution_window: '{{ config["swipe_up_attribution_window"] }}'
            view_attribution_window: '{{ config["view_attribution_window"] }}'
            fields: >-
              android_installs,attachment_avg_view_time_millis,attachment_impressions,attachment_quartile_1,attachment_quartile_2,attachment_quartile_3,attachment_total_view_time_millis,attachment_view_completion,avg_screen_time_millis,avg_view_time_millis,impressions,ios_installs,quartile_1,quartile_2,quartile_3,screen_time_millis,spend,swipe_up_percent,swipes,total_installs,video_views,video_views_time_based,video_views_15s,view_completion,view_time_millis,paid_impressions,earned_impressions,total_impressions,play_time_millis,shares,saves,native_leads,conversion_purchases,conversion_purchases_value,conversion_save,conversion_start_checkout,conversion_add_cart,conversion_view_content,conversion_add_billing,conversion_searches,conversion_level_completes,conversion_app_opens,conversion_page_views,conversion_subscribe,conversion_ad_click,conversion_ad_view,conversion_complete_tutorial,conversion_invite,conversion_login,conversion_share,conversion_reserve,conversion_achievement_unlocked,conversion_add_to_wishlist,conversion_spend_credits,conversion_rate,conversion_start_trial,conversion_list_view,custom_event_1,custom_event_2,custom_event_3,custom_event_4,custom_event_5,story_opens,story_completes,attachment_frequency,attachment_uniques,frequency,uniques,total_reach,earned_reach
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - timeseries_stats
              - "*"
              - timeseries_stat
              - timeseries
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("paging", {}).get("next_link", {}) }}'
            stop_condition: '{{ not response.get("paging", {}).get("next_link", {}) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/adsquads"
      incremental_sync:
        type: DatetimeBasedCursor
        is_compare_strictly: true
        cursor_field: start_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config.get("start_date", "2011-09-01") }}'
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start_time
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: end_time
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        step: P1M
        cursor_granularity: PT0S
      transformations:
        - type: AddFields
          fields:
            - path: ["id"]
              value: "{{ stream_slice['id'] }}"
            - path: ["type"]
              value: "AD_SQUAD"
            - path: ["granularity"]
              value: "DAY"
            - path: ["android_installs"]
              value: "{{ record.get('stats', {}).get('android_installs') }}"
            - path: ["attachment_avg_view_time_millis"]
              value: "{{ record.get('stats', {}).get('attachment_avg_view_time_millis') }}"
            - path: ["attachment_impressions"]
              value: "{{ record.get('stats', {}).get('attachment_impressions') }}"
            - path: ["attachment_quartile_1"]
              value: "{{ record.get('stats', {}).get('attachment_quartile_1') }}"
            - path: ["attachment_quartile_2"]
              value: "{{ record.get('stats', {}).get('attachment_quartile_2') }}"
            - path: ["attachment_quartile_3"]
              value: "{{ record.get('stats', {}).get('attachment_quartile_3') }}"
            - path: ["attachment_total_view_time_millis"]
              value: "{{ record.get('stats', {}).get('attachment_total_view_time_millis') }}"
            - path: ["attachment_view_completion"]
              value: "{{ record.get('stats', {}).get('attachment_view_completion') }}"
            - path: ["avg_screen_time_millis"]
              value: "{{ record.get('stats', {}).get('avg_screen_time_millis') }}"
            - path: ["avg_view_time_millis"]
              value: "{{ record.get('stats', {}).get('avg_view_time_millis') }}"
            - path: ["impressions"]
              value: "{{ record.get('stats', {}).get('impressions') }}"
            - path: ["ios_installs"]
              value: "{{ record.get('stats', {}).get('ios_installs') }}"
            - path: ["quartile_1"]
              value: "{{ record.get('stats', {}).get('quartile_1') }}"
            - path: ["quartile_2"]
              value: "{{ record.get('stats', {}).get('quartile_2') }}"
            - path: ["quartile_3"]
              value: "{{ record.get('stats', {}).get('quartile_3') }}"
            - path: ["screen_time_millis"]
              value: "{{ record.get('stats', {}).get('screen_time_millis') }}"
            - path: ["spend"]
              value: "{{ record.get('stats', {}).get('spend') }}"
            - path: ["swipe_up_percent"]
              value: "{{ record.get('stats', {}).get('swipe_up_percent') }}"
            - path: ["swipes"]
              value: "{{ record.get('stats', {}).get('swipes') }}"
            - path: ["total_installs"]
              value: "{{ record.get('stats', {}).get('total_installs') }}"
            - path: ["video_views"]
              value: "{{ record.get('stats', {}).get('video_views') }}"
            - path: ["video_views_time_based"]
              value: "{{ record.get('stats', {}).get('video_views_time_based') }}"
            - path: ["video_views_15s"]
              value: "{{ record.get('stats', {}).get('video_views_15s') }}"
            - path: ["view_completion"]
              value: "{{ record.get('stats', {}).get('view_completion') }}"
            - path: ["view_time_millis"]
              value: "{{ record.get('stats', {}).get('view_time_millis') }}"
            - path: ["paid_impressions"]
              value: "{{ record.get('stats', {}).get('paid_impressions') }}"
            - path: ["earned_impressions"]
              value: "{{ record.get('stats', {}).get('earned_impressions') }}"
            - path: ["total_impressions"]
              value: "{{ record.get('stats', {}).get('total_impressions') }}"
            - path: ["play_time_millis"]
              value: "{{ record.get('stats', {}).get('play_time_millis') }}"
            - path: ["shares"]
              value: "{{ record.get('stats', {}).get('shares') }}"
            - path: ["saves"]
              value: "{{ record.get('stats', {}).get('saves') }}"
            - path: ["native_leads"]
              value: "{{ record.get('stats', {}).get('native_leads') }}"
            - path: ["conversion_purchases"]
              value: "{{ record.get('stats', {}).get('conversion_purchases') }}"
            - path: ["conversion_purchases_value"]
              value: "{{ record.get('stats', {}).get('conversion_purchases_value') }}"
            - path: ["conversion_save"]
              value: "{{ record.get('stats', {}).get('conversion_save') }}"
            - path: ["conversion_start_checkout"]
              value: "{{ record.get('stats', {}).get('conversion_start_checkout') }}"
            - path: ["conversion_add_cart"]
              value: "{{ record.get('stats', {}).get('conversion_add_cart') }}"
            - path: ["conversion_view_content"]
              value: "{{ record.get('stats', {}).get('conversion_view_content') }}"
            - path: ["conversion_add_billing"]
              value: "{{ record.get('stats', {}).get('conversion_add_billing') }}"
            - path: ["conversion_searches"]
              value: "{{ record.get('stats', {}).get('conversion_searches') }}"
            - path: ["conversion_level_completes"]
              value: "{{ record.get('stats', {}).get('conversion_level_completes') }}"
            - path: ["conversion_app_opens"]
              value: "{{ record.get('stats', {}).get('conversion_app_opens') }}"
            - path: ["conversion_page_views"]
              value: "{{ record.get('stats', {}).get('conversion_page_views') }}"
            - path: ["conversion_subscribe"]
              value: "{{ record.get('stats', {}).get('conversion_subscribe') }}"
            - path: ["conversion_ad_click"]
              value: "{{ record.get('stats', {}).get('conversion_ad_click') }}"
            - path: ["conversion_ad_view"]
              value: "{{ record.get('stats', {}).get('conversion_ad_view') }}"
            - path: ["conversion_complete_tutorial"]
              value: "{{ record.get('stats', {}).get('conversion_complete_tutorial') }}"
            - path: ["conversion_invite"]
              value: "{{ record.get('stats', {}).get('conversion_invite') }}"
            - path: ["conversion_login"]
              value: "{{ record.get('stats', {}).get('conversion_login') }}"
            - path: ["conversion_share"]
              value: "{{ record.get('stats', {}).get('conversion_share') }}"
            - path: ["conversion_reserve"]
              value: "{{ record.get('stats', {}).get('conversion_reserve') }}"
            - path: ["conversion_achievement_unlocked"]
              value: "{{ record.get('stats', {}).get('conversion_achievement_unlocked') }}"
            - path: ["conversion_add_to_wishlist"]
              value: "{{ record.get('stats', {}).get('conversion_add_to_wishlist') }}"
            - path: ["conversion_spend_credits"]
              value: "{{ record.get('stats', {}).get('conversion_spend_credits') }}"
            - path: ["conversion_rate"]
              value: "{{ record.get('stats', {}).get('conversion_rate') }}"
            - path: ["conversion_start_trial"]
              value: "{{ record.get('stats', {}).get('conversion_start_trial') }}"
            - path: ["conversion_list_view"]
              value: "{{ record.get('stats', {}).get('conversion_list_view') }}"
            - path: ["custom_event_1"]
              value: "{{ record.get('stats', {}).get('custom_event_1') }}"
            - path: ["custom_event_2"]
              value: "{{ record.get('stats', {}).get('custom_event_2') }}"
            - path: ["custom_event_3"]
              value: "{{ record.get('stats', {}).get('custom_event_3') }}"
            - path: ["custom_event_4"]
              value: "{{ record.get('stats', {}).get('custom_event_4') }}"
            - path: ["custom_event_5"]
              value: "{{ record.get('stats', {}).get('custom_event_5') }}"
            - path: ["story_opens"]
              value: "{{ record.get('stats', {}).get('story_opens') }}"
            - path: ["story_completes"]
              value: "{{ record.get('stats', {}).get('story_completes') }}"
            - path: ["attachment_frequency"]
              value: "{{ record.get('stats', {}).get('attachment_frequency') }}"
            - path: ["attachment_uniques"]
              value: "{{ record.get('stats', {}).get('attachment_uniques') }}"
            - path: ["frequency"]
              value: "{{ record.get('stats', {}).get('frequency') }}"
            - path: ["uniques"]
              value: "{{ record.get('stats', {}).get('uniques') }}"
            - path: ["total_reach"]
              value: "{{ record.get('stats', {}).get('total_reach') }}"
            - path: ["earned_reach"]
              value: "{{ record.get('stats', {}).get('earned_reach') }}"
        - type: RemoveFields
          field_pointers:
            - - stats
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/basic_stats"
    adsquads_stats_lifetime:
      type: DeclarativeStream
      name: adsquads_stats_lifetime
      primary_key:
        - id
        - granularity
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: adsquads/{{ stream_slice['id'] }}/stats
          http_method: GET
          request_parameters:
            granularity: LIFETIME
            action_report_time: "{{ config['action_report_time'] }}"
            swipe_up_attribution_window: '{{ config["swipe_up_attribution_window"] }}'
            view_attribution_window: '{{ config["view_attribution_window"] }}'
            fields: >-
              android_installs,attachment_avg_view_time_millis,attachment_impressions,attachment_quartile_1,attachment_quartile_2,attachment_quartile_3,attachment_total_view_time_millis,attachment_view_completion,avg_screen_time_millis,avg_view_time_millis,impressions,ios_installs,quartile_1,quartile_2,quartile_3,screen_time_millis,spend,swipe_up_percent,swipes,total_installs,video_views,video_views_time_based,video_views_15s,view_completion,view_time_millis,paid_impressions,earned_impressions,total_impressions,play_time_millis,shares,saves,native_leads,conversion_purchases,conversion_purchases_value,conversion_save,conversion_start_checkout,conversion_add_cart,conversion_view_content,conversion_add_billing,conversion_searches,conversion_level_completes,conversion_app_opens,conversion_page_views,conversion_subscribe,conversion_ad_click,conversion_ad_view,conversion_complete_tutorial,conversion_invite,conversion_login,conversion_share,conversion_reserve,conversion_achievement_unlocked,conversion_add_to_wishlist,conversion_spend_credits,conversion_rate,conversion_start_trial,conversion_list_view,custom_event_1,custom_event_2,custom_event_3,custom_event_4,custom_event_5,story_opens,story_completes,attachment_frequency,attachment_uniques,frequency,uniques,total_reach,earned_reach
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - lifetime_stats
              - "*"
              - lifetime_stat
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("paging", {}).get("next_link", {}) }}'
            stop_condition: '{{ not response.get("paging", {}).get("next_link", {}) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/adsquads"
      transformations:
        - type: AddFields
          fields:
            - path: ["android_installs"]
              value: "{{ record.get('stats', {}).get('android_installs') }}"
            - path: ["attachment_avg_view_time_millis"]
              value: "{{ record.get('stats', {}).get('attachment_avg_view_time_millis') }}"
            - path: ["attachment_impressions"]
              value: "{{ record.get('stats', {}).get('attachment_impressions') }}"
            - path: ["attachment_quartile_1"]
              value: "{{ record.get('stats', {}).get('attachment_quartile_1') }}"
            - path: ["attachment_quartile_2"]
              value: "{{ record.get('stats', {}).get('attachment_quartile_2') }}"
            - path: ["attachment_quartile_3"]
              value: "{{ record.get('stats', {}).get('attachment_quartile_3') }}"
            - path: ["attachment_total_view_time_millis"]
              value: "{{ record.get('stats', {}).get('attachment_total_view_time_millis') }}"
            - path: ["attachment_view_completion"]
              value: "{{ record.get('stats', {}).get('attachment_view_completion') }}"
            - path: ["avg_screen_time_millis"]
              value: "{{ record.get('stats', {}).get('avg_screen_time_millis') }}"
            - path: ["avg_view_time_millis"]
              value: "{{ record.get('stats', {}).get('avg_view_time_millis') }}"
            - path: ["impressions"]
              value: "{{ record.get('stats', {}).get('impressions') }}"
            - path: ["ios_installs"]
              value: "{{ record.get('stats', {}).get('ios_installs') }}"
            - path: ["quartile_1"]
              value: "{{ record.get('stats', {}).get('quartile_1') }}"
            - path: ["quartile_2"]
              value: "{{ record.get('stats', {}).get('quartile_2') }}"
            - path: ["quartile_3"]
              value: "{{ record.get('stats', {}).get('quartile_3') }}"
            - path: ["screen_time_millis"]
              value: "{{ record.get('stats', {}).get('screen_time_millis') }}"
            - path: ["spend"]
              value: "{{ record.get('stats', {}).get('spend') }}"
            - path: ["swipe_up_percent"]
              value: "{{ record.get('stats', {}).get('swipe_up_percent') }}"
            - path: ["swipes"]
              value: "{{ record.get('stats', {}).get('swipes') }}"
            - path: ["total_installs"]
              value: "{{ record.get('stats', {}).get('total_installs') }}"
            - path: ["video_views"]
              value: "{{ record.get('stats', {}).get('video_views') }}"
            - path: ["video_views_time_based"]
              value: "{{ record.get('stats', {}).get('video_views_time_based') }}"
            - path: ["video_views_15s"]
              value: "{{ record.get('stats', {}).get('video_views_15s') }}"
            - path: ["view_completion"]
              value: "{{ record.get('stats', {}).get('view_completion') }}"
            - path: ["view_time_millis"]
              value: "{{ record.get('stats', {}).get('view_time_millis') }}"
            - path: ["paid_impressions"]
              value: "{{ record.get('stats', {}).get('paid_impressions') }}"
            - path: ["earned_impressions"]
              value: "{{ record.get('stats', {}).get('earned_impressions') }}"
            - path: ["total_impressions"]
              value: "{{ record.get('stats', {}).get('total_impressions') }}"
            - path: ["play_time_millis"]
              value: "{{ record.get('stats', {}).get('play_time_millis') }}"
            - path: ["shares"]
              value: "{{ record.get('stats', {}).get('shares') }}"
            - path: ["saves"]
              value: "{{ record.get('stats', {}).get('saves') }}"
            - path: ["native_leads"]
              value: "{{ record.get('stats', {}).get('native_leads') }}"
            - path: ["conversion_purchases"]
              value: "{{ record.get('stats', {}).get('conversion_purchases') }}"
            - path: ["conversion_purchases_value"]
              value: "{{ record.get('stats', {}).get('conversion_purchases_value') }}"
            - path: ["conversion_save"]
              value: "{{ record.get('stats', {}).get('conversion_save') }}"
            - path: ["conversion_start_checkout"]
              value: "{{ record.get('stats', {}).get('conversion_start_checkout') }}"
            - path: ["conversion_add_cart"]
              value: "{{ record.get('stats', {}).get('conversion_add_cart') }}"
            - path: ["conversion_view_content"]
              value: "{{ record.get('stats', {}).get('conversion_view_content') }}"
            - path: ["conversion_add_billing"]
              value: "{{ record.get('stats', {}).get('conversion_add_billing') }}"
            - path: ["conversion_searches"]
              value: "{{ record.get('stats', {}).get('conversion_searches') }}"
            - path: ["conversion_level_completes"]
              value: "{{ record.get('stats', {}).get('conversion_level_completes') }}"
            - path: ["conversion_app_opens"]
              value: "{{ record.get('stats', {}).get('conversion_app_opens') }}"
            - path: ["conversion_page_views"]
              value: "{{ record.get('stats', {}).get('conversion_page_views') }}"
            - path: ["conversion_subscribe"]
              value: "{{ record.get('stats', {}).get('conversion_subscribe') }}"
            - path: ["conversion_ad_click"]
              value: "{{ record.get('stats', {}).get('conversion_ad_click') }}"
            - path: ["conversion_ad_view"]
              value: "{{ record.get('stats', {}).get('conversion_ad_view') }}"
            - path: ["conversion_complete_tutorial"]
              value: "{{ record.get('stats', {}).get('conversion_complete_tutorial') }}"
            - path: ["conversion_invite"]
              value: "{{ record.get('stats', {}).get('conversion_invite') }}"
            - path: ["conversion_login"]
              value: "{{ record.get('stats', {}).get('conversion_login') }}"
            - path: ["conversion_share"]
              value: "{{ record.get('stats', {}).get('conversion_share') }}"
            - path: ["conversion_reserve"]
              value: "{{ record.get('stats', {}).get('conversion_reserve') }}"
            - path: ["conversion_achievement_unlocked"]
              value: "{{ record.get('stats', {}).get('conversion_achievement_unlocked') }}"
            - path: ["conversion_add_to_wishlist"]
              value: "{{ record.get('stats', {}).get('conversion_add_to_wishlist') }}"
            - path: ["conversion_spend_credits"]
              value: "{{ record.get('stats', {}).get('conversion_spend_credits') }}"
            - path: ["conversion_rate"]
              value: "{{ record.get('stats', {}).get('conversion_rate') }}"
            - path: ["conversion_start_trial"]
              value: "{{ record.get('stats', {}).get('conversion_start_trial') }}"
            - path: ["conversion_list_view"]
              value: "{{ record.get('stats', {}).get('conversion_list_view') }}"
            - path: ["custom_event_1"]
              value: "{{ record.get('stats', {}).get('custom_event_1') }}"
            - path: ["custom_event_2"]
              value: "{{ record.get('stats', {}).get('custom_event_2') }}"
            - path: ["custom_event_3"]
              value: "{{ record.get('stats', {}).get('custom_event_3') }}"
            - path: ["custom_event_4"]
              value: "{{ record.get('stats', {}).get('custom_event_4') }}"
            - path: ["custom_event_5"]
              value: "{{ record.get('stats', {}).get('custom_event_5') }}"
            - path: ["story_opens"]
              value: "{{ record.get('stats', {}).get('story_opens') }}"
            - path: ["story_completes"]
              value: "{{ record.get('stats', {}).get('story_completes') }}"
            - path: ["attachment_frequency"]
              value: "{{ record.get('stats', {}).get('attachment_frequency') }}"
            - path: ["attachment_uniques"]
              value: "{{ record.get('stats', {}).get('attachment_uniques') }}"
            - path: ["frequency"]
              value: "{{ record.get('stats', {}).get('frequency') }}"
            - path: ["uniques"]
              value: "{{ record.get('stats', {}).get('uniques') }}"
            - path: ["total_reach"]
              value: "{{ record.get('stats', {}).get('total_reach') }}"
            - path: ["earned_reach"]
              value: "{{ record.get('stats', {}).get('earned_reach') }}"
        - type: RemoveFields
          field_pointers:
            - - stats
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/basic_stats"
    campaigns_stats_hourly:
      type: DeclarativeStream
      name: campaigns_stats_hourly
      primary_key:
        - id
        - granularity
        - start_time
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: campaigns/{{ stream_slice['id'] }}/stats
          http_method: GET
          request_parameters:
            granularity: HOUR
            action_report_time: "{{ config['action_report_time'] }}"
            swipe_up_attribution_window: '{{ config["swipe_up_attribution_window"] }}'
            view_attribution_window: '{{ config["view_attribution_window"] }}'
            fields: >-
              android_installs,attachment_avg_view_time_millis,attachment_impressions,attachment_quartile_1,attachment_quartile_2,attachment_quartile_3,attachment_total_view_time_millis,attachment_view_completion,avg_screen_time_millis,avg_view_time_millis,impressions,ios_installs,quartile_1,quartile_2,quartile_3,screen_time_millis,spend,swipe_up_percent,swipes,total_installs,video_views,video_views_time_based,video_views_15s,view_completion,view_time_millis,paid_impressions,earned_impressions,total_impressions,play_time_millis,shares,saves,native_leads,conversion_purchases,conversion_purchases_value,conversion_save,conversion_start_checkout,conversion_add_cart,conversion_view_content,conversion_add_billing,conversion_searches,conversion_level_completes,conversion_app_opens,conversion_page_views,conversion_subscribe,conversion_ad_click,conversion_ad_view,conversion_complete_tutorial,conversion_invite,conversion_login,conversion_share,conversion_reserve,conversion_achievement_unlocked,conversion_add_to_wishlist,conversion_spend_credits,conversion_rate,conversion_start_trial,conversion_list_view,custom_event_1,custom_event_2,custom_event_3,custom_event_4,custom_event_5,story_opens,story_completes
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - timeseries_stats
              - "*"
              - timeseries_stat
              - timeseries
              - "*"
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestPath
          pagination_strategy:
            type: CursorPagination
            cursor_value: '{{ response.get("paging", {}).get("next_link", {}) }}'
            stop_condition: '{{ not response.get("paging", {}).get("next_link", {}) }}'
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/campaigns"
      incremental_sync:
        type: DatetimeBasedCursor
        is_compare_strictly: true
        cursor_field: start_time
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%f%z"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ config.get("start_date", "2011-09-01") }}'
          datetime_format: "%Y-%m-%d"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: start_time
        end_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: end_time
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ config.get('end_date', now_utc().strftime('%Y-%m-%d')) }}"
          datetime_format: "%Y-%m-%d"
        step: P1W
        cursor_granularity: PT0S
      transformations:
        - type: AddFields
          fields:
            - path: ["id"]
              value: "{{ stream_slice['id'] }}"
            - path: ["type"]
              value: "CAMPAIGN"
            - path: ["granularity"]
              value: "HOUR"
            - path: ["android_installs"]
              value: "{{ record.get('stats', {}).get('android_installs') }}"
            - path: ["attachment_avg_view_time_millis"]
              value: "{{ record.get('stats', {}).get('attachment_avg_view_time_millis') }}"
            - path: ["attachment_impressions"]
              value: "{{ record.get('stats', {}).get('attachment_impressions') }}"
            - path: ["attachment_quartile_1"]
              value: "{{ record.get('stats', {}).get('attachment_quartile_1') }}"
            - path: ["attachment_quartile_2"]
              value: "{{ record.get('stats', {}).get('attachment_quartile_2') }}"
            - path: ["attachment_quartile_3"]
              value: "{{ record.get('stats', {}).get('attachment_quartile_3') }}"
            - path: ["attachment_total_view_time_millis"]
              value: "{{ record.get('stats', {}).get('attachment_total_view_time_millis') }}"
            - path: ["attachment_view_completion"]
              value: "{{ record.get('stats', {}).get('attachment_view_completion') }}"
            - path: ["avg_screen_time_millis"]
              value: "{{ record.get('stats', {}).get('avg_screen_time_millis') }}"
            - path: ["avg_view_time_millis"]
              value: "{{ record.get('stats', {}).get('avg_view_time_millis') }}"
            - path: ["impressions"]
              value: "{{ record.get('stats', {}).get('impressions') }}"
            - path: ["ios_installs"]
              value: "{{ record.get('stats', {}).get('ios_installs') }}"
[...]
