version: 5.15.0

type: DeclarativeSource

description: >-
  The JobNimbus Airbyte connector enables seamless integration between
  JobNimbus, a popular CRM and project management tool, and your data pipeline.
  This connector allows you to automatically sync data from JobNimbus, including
  contacts records, task information, and more, into your preferred destination.
  It simplifies data extraction and helps you streamline workflows, enabling
  efficient analysis and reporting for enhanced business insights.

check:
  type: CheckStream
  stream_names:
    - jobs

definitions:
  streams:
    jobs:
      type: DeclarativeStream
      name: jobs
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: from
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /jobs
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      primary_key:
        - jnid
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/jobs"
    files:
      type: DeclarativeStream
      name: files
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: from
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /files
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - files
      primary_key:
        - jnid
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/files"
    tasks:
      type: DeclarativeStream
      name: tasks
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: from
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /tasks
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      primary_key:
        - jnid
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tasks"
    contacts:
      type: DeclarativeStream
      name: contacts
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: from
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /contacts
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
      primary_key:
        - jnid
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    activities:
      type: DeclarativeStream
      name: activities
      retriever:
        type: SimpleRetriever
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: from
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
            inject_on_first_request: true
        requester:
          $ref: "#/definitions/base_requester"
          path: /activities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - activity
      primary_key:
        - jnid
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/activities"
  base_requester:
    type: HttpRequester
    url_base: https://app.jobnimbus.com/api1
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/jobs"
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/tasks"
  - $ref: "#/definitions/streams/activities"
  - $ref: "#/definitions/streams/files"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        description: >-
          API key to use. Find it by logging into your JobNimbus account,
          navigating to settings, and creating a new API key under the API
          section.
        name: api_key
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://documenter.getpostman.com/view/3919598/S11PpG4x
  testedStreams:
    jobs:
      hasRecords: true
      streamHash: bca8871c147fef7f6d0f77bfce826a62427599f3
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    files:
      hasRecords: true
      streamHash: d412840cc3aef89019af92b6c5ac93b260947c2d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    tasks:
      hasRecords: true
      streamHash: fc7da0730319c49640b9d5cbc151e3c35d58eddd
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    contacts:
      hasRecords: true
      streamHash: 252325bb77028aaf0376b4576d2cf10e3ab87481
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    activities:
      hasRecords: true
      streamHash: bc82abf07744b65f9b419969a4503e4328a25094
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    jobs: true
    files: true
    tasks: true
    contacts: true
    activities: true

schemas:
  jobs:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - jnid
    properties:
      type:
        type:
          - string
          - "null"
      geo:
        type:
          - object
          - "null"
        properties:
          lat:
            type:
              - number
              - "null"
          lon:
            type:
              - number
              - "null"
      zip:
        type:
          - string
          - "null"
      city:
        type:
          - string
          - "null"
      jnid:
        type: string
      name:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
      recid:
        type:
          - number
          - "null"
      number:
        type:
          - string
          - "null"
      owners:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
      status:
        type:
          - number
          - "null"
      all_day:
        type:
          - boolean
          - "null"
      primary:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          number:
            type:
              - string
              - "null"
      related:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            number:
              type:
                - string
                - "null"
      customer:
        type:
          - string
          - "null"
      date_end:
        type:
          - number
          - "null"
      location:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
      is_active:
        type:
          - boolean
          - "null"
      sales_rep:
        type:
          - string
          - "null"
      created_by:
        type:
          - string
          - "null"
      date_start:
        type:
          - number
          - "null"
      state_text:
        type:
          - string
          - "null"
      task_count:
        type:
          - number
          - "null"
      actual_time:
        type:
          - number
          - "null"
      is_archived:
        type:
          - boolean
          - "null"
      record_type:
        type:
          - number
          - "null"
      status_name:
        type:
          - string
          - "null"
      country_name:
        type:
          - string
          - "null"
      date_created:
        type:
          - number
          - "null"
      date_updated:
        type:
          - number
          - "null"
      last_invoice:
        type:
          - number
          - "null"
      address_line1:
        type:
          - string
          - "null"
      address_line2:
        type:
          - string
          - "null"
      last_estimate:
        type:
          - number
          - "null"
      estimated_time:
        type:
          - number
          - "null"
      sales_rep_name:
        type:
          - string
          - "null"
      created_by_name:
        type:
          - string
          - "null"
      all_day_end_date:
        type:
          - string
          - "null"
      attachment_count:
        type:
          - number
          - "null"
      record_type_name:
        type:
          - string
          - "null"
      parent_fax_number:
        type:
          - string
          - "null"
      parent_home_phone:
        type:
          - string
          - "null"
      parent_work_phone:
        type:
          - string
          - "null"
      all_day_start_date:
        type:
          - string
          - "null"
      date_status_change:
        type:
          - number
          - "null"
      last_budget_revenue:
        type:
          - number
          - "null"
      parent_last_invoice:
        type:
          - number
          - "null"
      parent_mobile_phone:
        type:
          - string
          - "null"
      approved_invoice_due:
        type:
          - number
          - "null"
      parent_last_estimate:
        type:
          - number
          - "null"
      approved_invoice_total:
        type:
          - number
          - "null"
      approved_estimate_total:
        type:
          - number
          - "null"
      last_budget_gross_margin:
        type:
          - number
          - "null"
      last_budget_gross_profit:
        type:
          - number
          - "null"
      last_invoice_date_created:
        type:
          - number
          - "null"
      last_invoice_date_invoice:
        type:
          - number
          - "null"
      last_estimate_date_created:
        type:
          - number
          - "null"
      last_estimate_date_estimate:
        type:
          - number
          - "null"
      parent_approved_invoice_due:
        type:
          - number
          - "null"
      parent_approved_invoice_total:
        type:
          - number
          - "null"
      parent_approved_estimate_total:
        type:
          - number
          - "null"
    additionalProperties: true
  files:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - jnid
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      md5:
        type:
          - string
          - "null"
      exif:
        type:
          - array
          - "null"
      jnid:
        type: string
      size:
        type:
          - number
          - "null"
      owners:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
      primary:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      related:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      customer:
        type:
          - string
          - "null"
      filename:
        type:
          - string
          - "null"
      is_active:
        type:
          - boolean
          - "null"
      created_by:
        type:
          - string
          - "null"
      record_type:
        type:
          - number
          - "null"
      content_type:
        type:
          - string
          - "null"
      date_created:
        type:
          - number
          - "null"
      date_updated:
        type:
          - number
          - "null"
      created_by_name:
        type:
          - string
          - "null"
      record_type_name:
        type:
          - string
          - "null"
      date_file_created:
        type:
          - number
          - "null"
    additionalProperties: true
  tasks:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - jnid
    properties:
      type:
        type:
          - string
          - "null"
      description:
        type:
          - string
          - "null"
      jnid:
        type: string
      tags:
        type:
          - array
          - "null"
      recid:
        type:
          - number
          - "null"
      title:
        type:
          - string
          - "null"
      number:
        type:
          - string
          - "null"
      owners:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
      all_day:
        type:
          - boolean
          - "null"
      related:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            number:
              type:
                - string
                - "null"
      customer:
        type:
          - string
          - "null"
      date_end:
        type:
          - number
          - "null"
      location:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
      priority:
        type:
          - number
          - "null"
      is_active:
        type:
          - boolean
          - "null"
      created_by:
        type:
          - string
          - "null"
      date_start:
        type:
          - number
          - "null"
      actual_time:
        type:
          - number
          - "null"
      is_archived:
        type:
          - boolean
          - "null"
      record_type:
        type:
          - number
          - "null"
      date_created:
        type:
          - number
          - "null"
      date_updated:
        type:
          - number
          - "null"
      is_completed:
        type:
          - boolean
          - "null"
      estimated_time:
        type:
          - number
          - "null"
      created_by_name:
        type:
          - string
          - "null"
      all_day_end_date:
        type:
          - string
          - "null"
      record_type_name:
        type:
          - string
          - "null"
      all_day_start_date:
        type:
          - string
          - "null"
      hide_from_tasklist:
        type:
          - boolean
          - "null"
      hide_from_calendarview:
        type:
          - boolean
          - "null"
    additionalProperties: true
  contacts:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - jnid
    properties:
      type:
        type:
          - string
          - "null"
      geo:
        type:
          - object
          - "null"
        properties:
          lat:
            type:
              - number
              - "null"
          lon:
            type:
              - number
              - "null"
      zip:
        type:
          - string
          - "null"
      city:
        type:
          - string
          - "null"
      jnid:
        type: string
      tags:
        type:
          - array
          - "null"
      email:
        type:
          - string
          - "null"
      recid:
        type:
          - number
          - "null"
      number:
        type:
          - string
          - "null"
      owners:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
      status:
        type:
          - number
          - "null"
      company:
        type:
          - string
          - "null"
      is_user:
        type:
          - boolean
          - "null"
      website:
        type:
          - string
          - "null"
      customer:
        type:
          - string
          - "null"
      date_end:
        type:
          - number
          - "null"
      location:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
      is_active:
        type:
          - boolean
          - "null"
      last_name:
        type:
          - string
          - "null"
      sales_rep:
        type:
          - string
          - "null"
      created_by:
        type:
          - string
          - "null"
      date_start:
        type:
          - number
          - "null"
      fax_number:
        type:
          - string
          - "null"
      first_name:
        type:
          - string
          - "null"
      home_phone:
        type:
          - string
          - "null"
      state_text:
        type:
          - string
          - "null"
      task_count:
        type:
          - number
          - "null"
      work_phone:
        type:
          - string
          - "null"
      actual_time:
        type:
          - number
          - "null"
      is_archived:
        type:
          - boolean
          - "null"
      record_type:
        type:
          - number
          - "null"
      status_name:
        type:
          - string
          - "null"
      country_name:
        type:
          - string
          - "null"
      date_created:
        type:
          - number
          - "null"
      date_updated:
        type:
          - number
          - "null"
      display_name:
        type:
          - string
          - "null"
      last_invoice:
        type:
          - number
          - "null"
      mobile_phone:
        type:
          - string
          - "null"
      address_line1:
        type:
          - string
          - "null"
      address_line2:
        type:
          - string
          - "null"
      last_estimate:
        type:
          - number
          - "null"
      estimated_time:
        type:
          - number
          - "null"
      sales_rep_name:
        type:
          - string
          - "null"
      created_by_name:
        type:
          - string
          - "null"
      attachment_count:
        type:
          - number
          - "null"
      record_type_name:
        type:
          - string
          - "null"
      disable_auto_text:
        type:
          - boolean
          - "null"
      is_sub_contractor:
        type:
          - boolean
          - "null"
      date_status_change:
        type:
          - number
          - "null"
      last_budget_revenue:
        type:
          - number
          - "null"
      approved_invoice_due:
        type:
          - number
          - "null"
      approved_invoice_total:
        type:
          - number
          - "null"
      approved_estimate_total:
        type:
          - number
          - "null"
      last_budget_gross_margin:
        type:
          - number
          - "null"
      last_budget_gross_profit:
        type:
          - number
          - "null"
      last_invoice_date_created:
        type:
          - number
          - "null"
      last_invoice_date_invoice:
        type:
          - number
          - "null"
      last_estimate_date_created:
        type:
          - number
          - "null"
      last_estimate_date_estimate:
        type:
          - number
          - "null"
    additionalProperties: true
  activities:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - jnid
    properties:
      type:
        type:
          - string
          - "null"
      jnid:
        type: string
      note:
        type:
          - string
          - "null"
      owners:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - string
                - "null"
      source:
        type:
          - string
          - "null"
      primary:
        type:
          - object
          - "null"
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          number:
            type:
              - string
              - "null"
          new_status:
            type:
              - number
              - "null"
      related:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            type:
              type:
                - string
                - "null"
            id:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            number:
              type:
                - string
                - "null"
            new_status:
              type:
                - number
                - "null"
      customer:
        type:
          - string
          - "null"
      location:
        type:
          - object
          - "null"
        properties:
          id:
            type:
              - number
              - "null"
      is_active:
        type:
          - boolean
          - "null"
      sales_rep:
        type:
          - string
          - "null"
      created_by:
        type:
          - string
          - "null"
      is_archived:
        type:
          - boolean
          - "null"
      is_editable:
        type:
          - boolean
          - "null"
      record_type:
        type:
          - number
          - "null"
      date_created:
        type:
          - number
          - "null"
      date_updated:
        type:
          - number
          - "null"
      sales_rep_name:
        type:
          - string
          - "null"
      created_by_name:
        type:
          - string
          - "null"
      is_status_change:
        type:
          - boolean
          - "null"
      record_type_name:
        type:
          - string
          - "null"
    additionalProperties: true
