version: 5.15.0

type: DeclarativeSource

description: >-
  Systeme is an all in one marketing platform.

  Using this connector we can extarct records from communities, contacts, tags, contact fields and course resources streams.

  Docs : https://developer.systeme.io/reference/api

check:
  type: CheckStream
  stream_names:
    - communities

definitions:
  streams:
    communities:
      type: DeclarativeStream
      name: communities
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: community/communities
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: startingAfter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ last_record['id'] }}"
            stop_condition: "{{ response.hasMore is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/communities"
    contacts:
      type: DeclarativeStream
      name: contacts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: contacts
          http_method: GET
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: startingAfter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ last_record['id'] }}"
            stop_condition: "{{ response.hasMore is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contacts"
    tags:
      type: DeclarativeStream
      name: tags
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: tags
          http_method: GET
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: startingAfter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ last_record['id'] }}"
            stop_condition: "{{ response.hasMore is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/tags"
    contact_fields:
      type: DeclarativeStream
      name: contact_fields
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: contact_fields
          http_method: GET
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: startingAfter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ last_record['id'] }}"
            stop_condition: "{{ response.hasMore is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contact_fields"
    course_resources:
      type: DeclarativeStream
      name: course_resources
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: school/courses
          http_method: GET
          request_headers:
            accept: application/json
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - items
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: startingAfter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ last_record['id'] }}"
            stop_condition: "{{ response.hasMore is false }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/course_resources"
  base_requester:
    type: HttpRequester
    url_base: https://api.systeme.io/api/
    authenticator:
      type: ApiKeyAuthenticator
      api_token: "{{ config[\"api_key\"] }}"
      inject_into:
        type: RequestOption
        field_name: X-API-Key
        inject_into: header

streams:
  - $ref: "#/definitions/streams/communities"
  - $ref: "#/definitions/streams/contacts"
  - $ref: "#/definitions/streams/tags"
  - $ref: "#/definitions/streams/contact_fields"
  - $ref: "#/definitions/streams/course_resources"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_key
    properties:
      api_key:
        type: string
        order: 0
        title: API Key
        airbyte_secret: true
    additionalProperties: true

metadata:
  autoImportSchema:
    communities: true
    contacts: true
    tags: true
    contact_fields: true
    course_resources: true
  testedStreams:
    communities:
      streamHash: c1225da50424eadc73af707657a9da51738a86b7
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    contacts:
      streamHash: 5468020d1e37baf53374c70b0d21406bd71bc353
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    tags:
      streamHash: 4e3483527bfbd9a63d8750528650257407a38b69
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    contact_fields:
      streamHash: b5735729e7b2c7ddcc3f2b1f76f242dbbc73c742
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    course_resources:
      hasRecords: true
      streamHash: 9191f05b35d42891f54aa2d0963952240aac1053
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  assist: {}

schemas:
  communities:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      domainName:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
      path:
        type:
          - string
          - "null"
    required:
      - id
  contacts:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      bounced:
        type:
          - boolean
          - "null"
      email:
        type:
          - string
          - "null"
      fields:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            fieldName:
              type:
                - string
                - "null"
            slug:
              type:
                - string
                - "null"
            value:
              type:
                - string
                - "null"
      id:
        type: number
      locale:
        type:
          - string
          - "null"
      needsConfirmation:
        type:
          - boolean
          - "null"
      registeredAt:
        type:
          - string
          - "null"
      tags:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
      unsubscribed:
        type:
          - boolean
          - "null"
    required:
      - id
  tags:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      createdAt:
        type:
          - string
          - "null"
      id:
        type: number
      name:
        type:
          - string
          - "null"
    required:
      - id
  contact_fields:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      fieldName:
        type:
          - string
          - "null"
      slug:
        type:
          - string
          - "null"
  course_resources:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      active:
        type:
          - boolean
          - "null"
      domainName:
        type:
          - string
          - "null"
      id:
        type: number
      locale:
        type:
          - string
          - "null"
      modules:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
      name:
        type:
          - string
          - "null"
      path:
        type:
          - string
          - "null"
    required:
      - id
