version: "0.51.11"
type: DeclarativeSource

definitions:
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: ["data"]

  requester:
    type: HttpRequester
    url_base: "https://api.apify.com/v2/"
    http_method: "GET"
    authenticator:
      type: NoAuth
    request_parameters:
      token: "{{ config['token'] }}"

  retriever:
    type: SimpleRetriever
    record_selector:
      $ref: "#/definitions/selector"
    paginator:
      type: "NoPagination"
    requester:
      $ref: "#/definitions/requester"

  base_paginator:
    type: "DefaultPaginator"
    page_size_option:
      type: "RequestOption"
      inject_into: "request_parameter"
      field_name: "limit"
    pagination_strategy:
      type: "OffsetIncrement"
      page_size: 50
    page_token_option:
      type: "RequestOption"
      field_name: "offset"
      inject_into: "request_parameter"

  base_stream:
    type: DeclarativeStream
    retriever:
      $ref: "#/definitions/retriever"

  datasets_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "Dataset catalog"
      primary_key: "id"
      path: "datasets"
    retriever:
      $ref: "#/definitions/retriever"
      paginator:
        $ref: "#/definitions/base_paginator"
      record_selector:
        $ref: "#/definitions/selector"
        extractor:
          type: DpathExtractor
          field_path: ["data", "items"]

  dataset_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "Dataset"
      primary_key: "id"
      path: "datasets/{{ config['datasetId'] }}"
    retriever:
      $ref: "#/definitions/retriever"
      paginator:
        $ref: "#/definitions/base_paginator"

  item_collection_wcc_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "Item Collection - Website Content Crawler (WCC)"
      path: "datasets/{{ config['datasetId'] }}/items"
    retriever:
      $ref: "#/definitions/retriever"
      paginator:
        $ref: "#/definitions/base_paginator"
      record_selector:
        $ref: "#/definitions/selector"
        extractor:
          type: DpathExtractor
          field_path: []

streams:
  - "#/definitions/datasets_stream"
  - "#/definitions/dataset_stream"
  - "#/definitions/item_collection_wcc_stream"

check:
  type: CheckStream
  stream_names:
    - "Dataset catalog"
    - "Dataset"
    - "Item Collection - Website Content Crawler (WCC)"
