version: "0.51.11"
type: DeclarativeSource

spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/apify-dataset
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: Apify Dataset Spec
    type: object
    required:
      - token
      - dataset_id
    properties:
      token:
        type: string
        title: API token
        description: >-
          Personal API token of your Apify account. In Apify Console, you can find
          your API token in the
          <a href="https://console.apify.com/account/integrations">Settings section
          under the Integrations tab</a>
          after you login. See the <a href="https://docs.apify.com/platform/integrations/api#api-token">Apify
          Docs</a>
          for more information.
        examples:
          - apify_api_PbVwb1cBbuvbfg2jRmAIHZKgx3NQyfEMG7uk
        airbyte_secret: true
      dataset_id:
        type: string
        title: Dataset ID
        description: >-
          ID of the dataset you would like to load to Airbyte. In Apify Console, you
          can view your datasets in the
          <a href="https://console.apify.com/storage/datasets">Storage section under
          the Datasets tab</a>
          after you login. See the <a href="https://docs.apify.com/platform/storage/dataset">Apify
          Docs</a>
          for more information.
        examples:
          - rHuMdwm6xCFt6WiGU
    additionalProperties: true

definitions:
  retriever:
    type: SimpleRetriever
    requester:
      type: HttpRequester
      url_base: "https://api.apify.com/v2/"
      http_method: "GET"
      authenticator:
        type: BearerAuthenticator
        api_token: "{{ config['token'] }}"
      request_options_provider:
        request_headers:
          User-Agent: "Airbyte"
    paginator:
      type: "DefaultPaginator"
      page_size_option:
        type: "RequestOption"
        inject_into: "request_parameter"
        field_name: "limit"
      pagination_strategy:
        type: "OffsetIncrement"
        page_size: 50
      page_token_option:
        type: "RequestOption"
        field_name: "offset"
        inject_into: "request_parameter"

streams:
  - type: DeclarativeStream
    name: dataset_collection
    primary_key: "id"
    $parameters:
      path: "datasets"
    schema_loader:
      type: InlineSchemaLoader
      file_path: "./source_apify_dataset/schemas/dataset_collection.json"
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        title: Collection of datasets schema
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            description: Unique identifier of the dataset collection
            type:
              - "null"
              - string
          name:
            description: Name or title of the dataset collection
            type:
              - "null"
              - string
          userId:
            description: User ID of the owner of the dataset collection
            type:
              - "null"
              - string
          createdAt:
            description: Date and time when the dataset collection was created
            type:
              - "null"
              - string
          modifiedAt:
            description: Date and time when the dataset collection was last modified
            type:
              - "null"
              - string
          accessedAt:
            description: Date and time when the dataset collection was last accessed
            type:
              - "null"
              - string
          itemCount:
            description: Total number of items in the dataset collection
            type:
              - "null"
              - number
          username:
            description: Username of the owner of the dataset collection
            type:
              - "null"
              - string
          stats:
            description: Statistics related to the dataset collection
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              readCount:
                description: Number of read operations performed on the dataset collection
                type:
                  - "null"
                  - number
              storageBytes:
                description: Total storage size in bytes occupied by the dataset collection
                type:
                  - "null"
                  - number
              writeCount:
                description: Number of write operations performed on the dataset collection
                type:
                  - "null"
                  - number
          schema:
            description: Data schema or structure of the dataset collection
            type:
              - "null"
              - string
          cleanItemCount:
            description: Number of clean items in the dataset collection
            type:
              - "null"
              - number
          actId:
            description: Identifier of the actor associated with the dataset collection
            type:
              - "null"
              - string
          actRunId:
            description: Identifier of the actor run associated with the dataset collection
            type:
              - "null"
              - string
          title:
            description: Display title of the dataset collection
            type:
              - "null"
              - string
          fields:
            description: Fields present in the dataset collection
            anyOf:
              - type: "null"
              - type: array
    retriever:
      $ref: "#/definitions/retriever"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["data", "items"]

  - type: DeclarativeStream
    name: dataset
    primary_key: "id"
    $parameters:
      path: "datasets/{{ config['dataset_id'] }}"
    schema_loader:
      type: InlineSchemaLoader
      file_path: "./source_apify_dataset/schemas/dataset.json"
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        title: Individual datasets schema
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            description: Unique identifier of the dataset
            type:
              - "null"
              - string
          name:
            description: Name of the dataset
            type:
              - "null"
              - string
          userId:
            description: User ID of the owner of the dataset
            type:
              - "null"
              - string
          createdAt:
            description: Timestamp when the dataset was created
            type:
              - "null"
              - string
          stats:
            description: Contains statistical information about the dataset.
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              readCount:
                description: Number of times the dataset was read
                type:
                  - "null"
                  - number
              storageBytes:
                description: Total storage size of the dataset in bytes
                type:
                  - "null"
                  - number
              writeCount:
                description: Number of times the dataset was written to
                type:
                  - "null"
                  - number
          schema:
            description: Schema definition of the dataset
            type:
              - "null"
              - string
              - object
          modifiedAt:
            description: Timestamp when the dataset was last modified
            type:
              - "null"
              - string
          accessedAt:
            description: Timestamp when the dataset was last accessed
            type:
              - "null"
              - string
          itemCount:
            description: Total number of items in the dataset
            type:
              - "null"
              - number
          cleanItemCount:
            description: Number of clean items in the dataset
            type:
              - "null"
              - number
          actId:
            description: Identifier of the actor associated with the dataset
            type:
              - "null"
              - string
          actRunId:
            description: Identifier of the actor run associated with the dataset
            type:
              - "null"
              - string
          title:
            description: Title of the dataset
            type:
              - "null"
              - string
          fields:
            description: List of fields available in the dataset
            anyOf:
              - type: "null"
              - type: array
    retriever:
      $ref: "#/definitions/retriever"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["data"]

  - type: DeclarativeStream
    name: item_collection_website_content_crawler
    $parameters:
      path: "datasets/{{ config['dataset_id'] }}/items"
    schema_loader:
      type: InlineSchemaLoader
      file_path: "./source_apify_dataset/schemas/item_collection_wcc.json"
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        title: Item collection - Website Content Crawler (WCC)
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          crawl:
            description: Information related to web crawling
            additionalProperties: true
            properties:
              depth:
                description: Depth level of the crawled page
                type:
                  - "null"
                  - number
              httpStatusCode:
                description: HTTP status code of the response
                type:
                  - "null"
                  - number
              loadedTime:
                description: Time when the page was loaded
                type:
                  - "null"
                  - string
              loadedUrl:
                description: URL of the loaded page
                type:
                  - "null"
                  - string
              referrerUrl:
                description: URL of the page that referred to the current page
                type:
                  - "null"
                  - string
            type:
              - "null"
              - object
          markdown:
            description: Markdown content of the webpage
            type:
              - "null"
              - string
          metadata:
            description: Metadata information of the webpage
            additionalProperties: true
            properties:
              canonicalUrl:
                description: Canonical URL of the webpage
                type:
                  - "null"
                  - string
              description:
                description: Description of the webpage
                type:
                  - "null"
                  - string
              languageCode:
                description: Language code of the webpage content
                type:
                  - "null"
                  - string
              title:
                description: Title of the webpage
                type:
                  - "null"
                  - string
            type:
              - "null"
              - object
          text:
            description: Text content of the webpage
            type:
              - "null"
              - string
          url:
            description: URL of the webpage
            type:
              - "null"
              - string
          screenshotUrl:
            description: URL of the screenshot of the webpage
            type:
              - "null"
              - string
    retriever:
      $ref: "#/definitions/retriever"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []

  - type: DeclarativeStream
    name: item_collection
    $parameters:
      path: "datasets/{{ config['dataset_id'] }}/items"
    schema_loader:
      type: InlineSchemaLoader
      file_path: "./source_apify_dataset/schemas/item_collection.json"
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        title: Item collection
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          data:
            description: Collection of items with detailed information
            additionalProperties: true
            type:
              - "null"
              - object
    retriever:
      $ref: "#/definitions/retriever"
      record_selector:
        type: RecordSelector
        extractor:
          class_name: source_apify_dataset.wrapping_dpath_extractor.WrappingDpathExtractor
          field_path: []

check:
  type: CheckStream
  stream_names:
    - dataset_collection
    - dataset
    - item_collection_website_content_crawler
    - item_collection
