version: "0.51.11"
type: DeclarativeSource

spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/apify-dataset
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: Apify Dataset Spec
    type: object
    required:
      - token
      - dataset_id
    properties:
      token:
        type: string
        title: API token
        description: >-
          Personal API token of your Apify account. In Apify Console, you can find
          your API token in the
          <a href="https://console.apify.com/account/integrations">Settings section
          under the Integrations tab</a>
          after you login. See the <a href="https://docs.apify.com/platform/integrations/api#api-token">Apify
          Docs</a>
          for more information.
        examples:
          - apify_api_PbVwb1cBbuvbfg2jRmAIHZKgx3NQyfEMG7uk
        airbyte_secret: true
      dataset_id:
        type: string
        title: Dataset ID
        description: >-
          ID of the dataset you would like to load to Airbyte. In Apify Console, you
          can view your datasets in the
          <a href="https://console.apify.com/storage/datasets">Storage section under
          the Datasets tab</a>
          after you login. See the <a href="https://docs.apify.com/platform/storage/dataset">Apify
          Docs</a>
          for more information.
        examples:
          - rHuMdwm6xCFt6WiGU
    additionalProperties: true

definitions:
  retriever:
    type: SimpleRetriever
    requester:
      type: HttpRequester
      url_base: "https://api.apify.com/v2/"
      http_method: "GET"
      authenticator:
        type: BearerAuthenticator
        api_token: "{{ config['token'] }}"
    paginator:
      type: "DefaultPaginator"
      page_size_option:
        type: "RequestOption"
        inject_into: "request_parameter"
        field_name: "limit"
      pagination_strategy:
        type: "OffsetIncrement"
        page_size: 50
      page_token_option:
        type: "RequestOption"
        field_name: "offset"
        inject_into: "request_parameter"

streams:
  - type: DeclarativeStream
    name: dataset_collection
    primary_key: "id"
    $parameters:
      path: "datasets"
    schema_loader:
      type: InlineSchemaLoader
      file_path: "./source_apify_dataset/schemas/dataset_collection.json"
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        title: Collection of datasets schema
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          userId:
            type:
              - "null"
              - string
          createdAt:
            type:
              - "null"
              - string
          modifiedAt:
            type:
              - "null"
              - string
          accessedAt:
            type:
              - "null"
              - string
          itemCount:
            type:
              - "null"
              - number
          username:
            type:
              - "null"
              - string
          stats:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              readCount:
                type:
                  - "null"
                  - number
              storageBytes:
                type:
                  - "null"
                  - number
              writeCount:
                type:
                  - "null"
                  - number
          schema:
            type:
              - "null"
              - string
          cleanItemCount:
            type:
              - "null"
              - number
          actId:
            type:
              - "null"
              - string
          actRunId:
            type:
              - "null"
              - string
          title:
            type:
              - "null"
              - string
          fields:
            anyOf:
              - type: "null"
              - type: array
    retriever:
      $ref: "#/definitions/retriever"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["data", "items"]

  - type: DeclarativeStream
    name: dataset
    primary_key: "id"
    $parameters:
      path: "datasets/{{ config['dataset_id'] }}"
    schema_loader:
      type: InlineSchemaLoader
      file_path: "./source_apify_dataset/schemas/dataset.json"
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        title: Individual datasets schema
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          id:
            type:
              - "null"
              - string
          name:
            type:
              - "null"
              - string
          userId:
            type:
              - "null"
              - string
          createdAt:
            type:
              - "null"
              - string
          stats:
            type:
              - "null"
              - object
            additionalProperties: true
            properties:
              readCount:
                type:
                  - "null"
                  - number
              storageBytes:
                type:
                  - "null"
                  - number
              writeCount:
                type:
                  - "null"
                  - number
          schema:
            type:
              - "null"
              - string
              - object
          modifiedAt:
            type:
              - "null"
              - string
          accessedAt:
            type:
              - "null"
              - string
          itemCount:
            type:
              - "null"
              - number
          cleanItemCount:
            type:
              - "null"
              - number
          actId:
            type:
              - "null"
              - string
          actRunId:
            type:
              - "null"
              - string
          title:
            type:
              - "null"
              - string
          fields:
            anyOf:
              - type: "null"
              - type: array
    retriever:
      $ref: "#/definitions/retriever"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["data"]

  - type: DeclarativeStream
    name: item_collection_website_content_crawler
    $parameters:
      path: "datasets/{{ config['dataset_id'] }}/items"
    schema_loader:
      type: InlineSchemaLoader
      file_path: "./source_apify_dataset/schemas/item_collection_wcc.json"
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        title: Item collection - Website Content Crawler (WCC)
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          crawl:
            additionalProperties: true
            properties:
              depth:
                type:
                  - "null"
                  - number
              httpStatusCode:
                type:
                  - "null"
                  - number
              loadedTime:
                type:
                  - "null"
                  - string
              loadedUrl:
                type:
                  - "null"
                  - string
              referrerUrl:
                type:
                  - "null"
                  - string
            type:
              - "null"
              - object
          markdown:
            type:
              - "null"
              - string
          metadata:
            additionalProperties: true
            properties:
              canonicalUrl:
                type:
                  - "null"
                  - string
              description:
                type:
                  - "null"
                  - string
              languageCode:
                type:
                  - "null"
                  - string
              title:
                type:
                  - "null"
                  - string
            type:
              - "null"
              - object
          text:
            type:
              - "null"
              - string
          url:
            type:
              - "null"
              - string
          screenshotUrl:
            type:
              - "null"
              - string
    retriever:
      $ref: "#/definitions/retriever"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []

  - type: DeclarativeStream
    name: item_collection
    $parameters:
      path: "datasets/{{ config['dataset_id'] }}/items"
    schema_loader:
      type: InlineSchemaLoader
      file_path: "./source_apify_dataset/schemas/item_collection.json"
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        title: Item collection
        type:
          - "null"
          - object
        additionalProperties: true
        properties:
          data:
            additionalProperties: true
            type:
              - "null"
              - object
    retriever:
      $ref: "#/definitions/retriever"
      record_selector:
        type: RecordSelector
        extractor:
          class_name: source_apify_dataset.wrapping_dpath_extractor.WrappingDpathExtractor
          field_path: []

check:
  type: CheckStream
  stream_names:
    - dataset_collection
    - dataset
    - item_collection_website_content_crawler
    - item_collection
