version: "0.51.11"
type: DeclarativeSource

spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/apify-dataset
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: Apify Dataset Spec
    type: object
    required:
      - token
      - dataset_id
    properties:
      token:
        type: string
        title: API token
        description: >-
          Personal API token of your Apify account. In Apify Console, you can find your API token in the
          <a href="https://console.apify.com/account/integrations">Settings section under the Integrations tab</a>
          after you login. See the <a href="https://docs.apify.com/platform/integrations/api#api-token">Apify Docs</a>
          for more information.
        examples:
          - apify_api_PbVwb1cBbuvbfg2jRmAIHZKgx3NQyfEMG7uk
        airbyte_secret: true
      dataset_id:
        type: string
        title: Dataset ID
        description: >-
          ID of the dataset you would like to load to Airbyte. In Apify Console, you can view your datasets in the
          <a href="https://console.apify.com/storage/datasets">Storage section under the Datasets tab</a>
          after you login. See the <a href="https://docs.apify.com/platform/storage/dataset">Apify Docs</a>
          for more information.
        examples:
          - rHuMdwm6xCFt6WiGU
      clean:
        type: boolean
        title: Clean
        description: >-
          If set to true, only clean items will be downloaded from the dataset. See description of what clean means in
          <a href="https://docs.apify.com/api/v2#/reference/datasets/item-collection/get-items">Apify API docs</a>.
          If not sure, set clean to false.
    additionalProperties: true

definitions:
  requester:
    type: HttpRequester
    url_base: "https://api.apify.com/v2/"
    http_method: "GET"
    authenticator:
      type: NoAuth
    request_parameters:
      token: "{{ config['token'] }}"

  retriever:
    type: SimpleRetriever
    paginator:
      type: "NoPagination"
    requester:
      $ref: "#/definitions/requester"

  base_paginator:
    type: "DefaultPaginator"
    page_size_option:
      type: "RequestOption"
      inject_into: "request_parameter"
      field_name: "limit"
    pagination_strategy:
      type: "OffsetIncrement"
      page_size: 50
    page_token_option:
      type: "RequestOption"
      field_name: "offset"
      inject_into: "request_parameter"

  base_stream:
    type: DeclarativeStream
    retriever:
      $ref: "#/definitions/retriever"

  datasets_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "Dataset catalog"
      primary_key: "id"
      path: "datasets"
    retriever:
      $ref: "#/definitions/retriever"
      paginator:
        $ref: "#/definitions/base_paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["data", "items"]

  dataset_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "Dataset"
      primary_key: "id"
      path: "datasets/{{ config['dataset_id'] }}"
    retriever:
      $ref: "#/definitions/retriever"
      paginator:
        $ref: "#/definitions/base_paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: ["data"]

  item_collection_wcc_stream:
    $ref: "#/definitions/base_stream"
    $parameters:
      name: "Item Collection - Website Content Crawler (WCC)"
      path: "datasets/{{ config['dataset_id'] }}/items"
    retriever:
      $ref: "#/definitions/retriever"
      paginator:
        $ref: "#/definitions/base_paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []

streams:
  - "#/definitions/datasets_stream"
  - "#/definitions/dataset_stream"
  - "#/definitions/item_collection_wcc_stream"

check:
  type: CheckStream
  stream_names:
    - "Dataset catalog"
    - "Dataset"
    - "Item Collection - Website Content Crawler (WCC)"
