version: 6.5.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - "datasets"

definitions:
  base_requester:
    type: HttpRequester
    url_base: "{{ config['base_url'] }}"
    http_method: GET
    authenticator:
      type: CustomAuthenticator
      class_name: source_declarative_manifest.components.NexusCustomAuthenticator
      config: "{{ config }}"

streams:
  - type: DeclarativeStream
    name: datasets
    $parameters:
      path: "rest/3.1/analytics/dataset/{{ config['dataset_name'] }}/export?mode={{ config.get('mode', 'Full') }}"
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      requester:
        $ref: "#/definitions/base_requester"
      decoder:
        type: CustomDecoder
        class_name: source_declarative_manifest.components.FlexibleDecoder
        $parameters:
          config: "{{ config }}"
    schema_loader:
      type: CustomSchemaLoader
      class_name: "source_declarative_manifest.components.DynamicSchemaLoader"
      config: "{{ config }}"

spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/nexus-datasets
  connection_specification:
    title: Infor Nexus Datasets Spec
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - base_url
      - user_id
      - access_key_id
      - secret_key
      - api_key
      - dataset_name
      - dataset_model_name
    additionalProperties: true
    properties:
      base_url:
        title: "Base URL"
        type: "string"
        description: "The base URL of the Infor Nexus datasets API."
        pattern: "^https?://[\\w.-]+(:\\d+)?(/[\\w.-]+)*/?$"
        order: 1
      user_id:
        title: "User ID"
        type: "string"
        description: "The user ID for the Infor Nexus API."
        order: 5
      access_key_id:
        title: "Access Key ID"
        type: "string"
        description: "The access key ID for the Infor Nexus API."
        order: 6
      secret_key:
        title: "Secret Key"
        type: "string"
        description: "The secret key for HMAC authentication."
        order: 7
      api_key:
        title: "API Key"
        type: string
        description: "The Infor Data API Key."
        order: 8
      dataset_name:
        title: "Dataset Name"
        type: string
        description: "The name of the dataset to export."
        order: 2
      dataset_model_name:
        title: "Dataset Model Name"
        type: string
        description: "The name of the dataset model to export."
        order: 3
      mode:
        type: string
        title: Infor Streaming Mode
        description: "Infor Streaming mode (Full or Incremental)."
        enum:
          - Full
          - Incremental
        default: Full
        order: 4
        additionalProperties: true