version: "4.6.2"
type: DeclarativeSource

definitions:
  base_requester:
    type: HttpRequester
    url_base: https://jsonplaceholder.typicode.com
    http_method: GET
    authenticator:
      type: NoAuth

  base_record_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: []

  posts_stream:
    type: DeclarativeStream
    name: posts
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/base_requester"
        path: /posts
      record_selector:
        $ref: "#/definitions/base_record_selector"
      paginator:
        type: NoPagination
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          userId:
            type:
              - integer
              - "null"
          id:
            type: integer
          title:
            type:
              - string
              - "null"
          body:
            type:
              - string
              - "null"

  comments_stream:
    type: DeclarativeStream
    name: comments
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/base_requester"
        path: /comments
      record_selector:
        $ref: "#/definitions/base_record_selector"
      paginator:
        type: NoPagination
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          postId:
            type:
              - integer
              - "null"
          id:
            type: integer
          name:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          body:
            type:
              - string
              - "null"

  albums_stream:
    type: DeclarativeStream
    name: albums
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/base_requester"
        path: /albums
      record_selector:
        $ref: "#/definitions/base_record_selector"
      paginator:
        type: NoPagination
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          userId:
            type:
              - integer
              - "null"
          id:
            type: integer
          title:
            type:
              - string
              - "null"

  photos_stream:
    type: DeclarativeStream
    name: photos
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/base_requester"
        path: /photos
      record_selector:
        $ref: "#/definitions/base_record_selector"
      paginator:
        type: NoPagination
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          albumId:
            type:
              - integer
              - "null"
          id:
            type: integer
          title:
            type:
              - string
              - "null"
          url:
            type:
              - string
              - "null"
          thumbnailUrl:
            type:
              - string
              - "null"

  todos_stream:
    type: DeclarativeStream
    name: todos
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/base_requester"
        path: /todos
      record_selector:
        $ref: "#/definitions/base_record_selector"
      paginator:
        type: NoPagination
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          userId:
            type:
              - integer
              - "null"
          id:
            type: integer
          title:
            type:
              - string
              - "null"
          completed:
            type:
              - boolean
              - "null"

  users_stream:
    type: DeclarativeStream
    name: users
    primary_key:
      - id
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/base_requester"
        path: /users
      record_selector:
        $ref: "#/definitions/base_record_selector"
      paginator:
        type: NoPagination
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        type: object
        additionalProperties: true
        properties:
          id:
            type: integer
          name:
            type:
              - string
              - "null"
          username:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          address:
            type:
              - object
              - "null"
            properties:
              street:
                type:
                  - string
                  - "null"
              suite:
                type:
                  - string
                  - "null"
              city:
                type:
                  - string
                  - "null"
              zipcode:
                type:
                  - string
                  - "null"
              geo:
                type:
                  - object
                  - "null"
                properties:
                  lat:
                    type:
                      - string
                      - "null"
                  lng:
                    type:
                      - string
                      - "null"
          phone:
            type:
              - string
              - "null"
          website:
            type:
              - string
              - "null"
          company:
            type:
              - object
              - "null"
            properties:
              name:
                type:
                  - string
                  - "null"
              catchPhrase:
                type:
                  - string
                  - "null"
              bs:
                type:
                  - string
                  - "null"

check:
  type: CheckStream
  stream_names:
    - posts

streams:
  - $ref: "#/definitions/posts_stream"
  - $ref: "#/definitions/comments_stream"
  - $ref: "#/definitions/albums_stream"
  - $ref: "#/definitions/photos_stream"
  - $ref: "#/definitions/todos_stream"
  - $ref: "#/definitions/users_stream"

spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/jsonplaceholder
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: JSONPlaceholder Source Spec
    type: object
    additionalProperties: true
    properties: {}
    required: []
