@use "../../../../../scss/colors";
@use "../../../../../scss/variables" as vars;

.button {
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border-radius: 10px;
}

.connectorCardWrapper {
  padding: vars.$spacing-xl 35px;
}
