version: 5.15.0

type: DeclarativeSource

description: >-
  This is the Revolut Merchant source that ingests data from the Revolut
  Merchant API.


  Revolut helps you spend, send, and save smarter https://www.revolut.com/


  The Revolut Merchant account is a sub-account of your Revolut Business
  account. While a Business account is for managing your business finances, the
  Merchant account is dedicated to helping you accept online payments from your
  e-commerce customers.


  This source uses the Merchant API and has the orders, customers and location
  endpoints. In order to use this API, you must first create a Revolut account. 

  Log in to your Revolut Business account: Access the Revolut Business log in
  page and enter your credentials.

  Navigate to Merchant API settings: Once logged in, access the Merchant API
  settings page by clicking your profile icon in the top left corner, then
  selecting APIs > Merchant API. 

  Here you can access your Production API keys (Public, Secret) specific to your
  Merchant account.

  Get API keys: If you're visiting this page for the first time, you'll need to
  initiate the process by clicking the Get started button. To generate your
  Production API Secret key, click the Generate button.

  You can find more about the API here
  https://developer.revolut.com/docs/merchant/merchant-api

check:
  type: CheckStream
  stream_names:
    - orders

definitions:
  streams:
    orders:
      type: DeclarativeStream
      name: orders
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1.0/orders
          http_method: GET
          request_headers:
            Revolut-Api-Version: "{{ config[\"api_version\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: OffsetIncrement
            page_size: 1000
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%Y-%m-%dT%H:%M:%S.%fZ"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ config[\"start_date\"] }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        start_time_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: from_created_date
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/orders"
    customers:
      type: DeclarativeStream
      name: customers
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/1.0/customers
          http_method: GET
          request_headers:
            Revolut-Api-Version: "{{ config[\"api_version\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customers"
    locations:
      type: DeclarativeStream
      name: locations
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /api/locations
          http_method: GET
          request_headers:
            Revolut-Api-Version: "{{ config[\"api_version\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/locations"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config["environment"] }}.revolut.com
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"secret_api_key\"] }}"

streams:
  - $ref: "#/definitions/streams/orders"
  - $ref: "#/definitions/streams/customers"
  - $ref: "#/definitions/streams/locations"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - api_version
      - secret_api_key
      - start_date
      - environment
    properties:
      api_version:
        type: string
        description: >-
          Specify the API version to use. This is required for certain API
          calls. Example: '2024-09-01'.
        name: api_version
        title: API Version
        order: 0
      secret_api_key:
        type: string
        description: >-
          Secret API key to use for authenticating with the Revolut Merchant
          API. Find it in your Revolut Business account under APIs > Merchant
          API.
        name: secret_api_key
        title: Secret API Key
        airbyte_secret: true
        order: 1
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 2
      environment:
        type: string
        description: The base url of your environment. Either sandbox or production
        title: environment
        enum:
          - sandbox-merchant
          - merchant
        order: 3
    additionalProperties: true

metadata:
  autoImportSchema:
    orders: true
    customers: true
    locations: false
  testedStreams:
    orders:
      streamHash: 029edb3159cb90ba6d7e54b216a2d6f118665165
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    customers:
      streamHash: dc0f2db5574ead07283be51fafd8d5037e689124
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    locations:
      streamHash: 2fbbfea59789b5f870d88a118d29d4fb59b35797
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist:
    docsUrl: https://developer.revolut.com/docs/merchant/merchant-api

schemas:
  orders:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - string
          - "null"
      metadata:
        type:
          - object
          - "null"
      capture_mode:
        type:
          - string
          - "null"
      created_at:
        type: string
      id:
        type: string
      order_amount:
        type:
          - object
          - "null"
        properties:
          currency:
            type:
              - string
              - "null"
          value:
            type:
              - number
              - "null"
      order_outstanding_amount:
        type:
          - object
          - "null"
        properties:
          currency:
            type:
              - string
              - "null"
          value:
            type:
              - number
              - "null"
      state:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
      - created_at
  customers:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      business_name:
        type:
          - string
          - "null"
      created_at:
        type:
          - string
          - "null"
      email:
        type:
          - string
          - "null"
      full_name:
        type:
          - string
          - "null"
      id:
        type: string
      phone:
        type:
          - string
          - "null"
      updated_at:
        type:
          - string
          - "null"
    required:
      - id
  locations:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      type:
        type:
          - string
          - "null"
      details:
        type:
          - object
          - "null"
        properties:
          domain:
            type:
              - string
              - "null"
      id:
        type: string
      name:
        type:
          - string
          - "null"
    required:
      - id
    additionalProperties: true
