version: 5.14.0

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - event

definitions:
  streams:
    addon:
      type: DeclarativeStream
      name: addon
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /addons
          http_method: GET
          request_parameters:
            sort_by[asc]: updated_at
            include_deleted: "true"
            updated_at[between]: "'[{{stream_slice['start_time']}}, {{stream_slice['end_time']}}]'"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - addon
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/addon"
    attached_item:
      type: DeclarativeStream
      $comment: >-
        As of 2/8/24 this stream should be full refresh only as there is an
        issue with state being appended rather than replaced, causing
        duplicates. See GH Issue:
        https://github.com/airbytehq/airbyte/issues/33854
      name: attached_item
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /items/{{ stream_slice.item_id }}/attached_items
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - attached_item
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: item_id
              stream:
                $ref: "#/definitions/streams/item"
              incremental_dependency: true
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/attached_item"
    customer:
      type: DeclarativeStream
      name: customer
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /customers
          http_method: GET
          request_parameters:
            sort_by[asc]: updated_at
            include_deleted: "true"
            updated_at[between]: "'[{{stream_slice['start_time']}}, {{stream_slice['end_time']}}]'"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - customer
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/customer"
    coupon:
      type: DeclarativeStream
      name: coupon
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /coupons
          http_method: GET
          request_parameters:
            updated_at[between]: "'[{{stream_slice['start_time']}}, {{stream_slice['end_time']}}]'"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - coupon
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/coupon"
    contact:
      type: DeclarativeStream
      name: contact
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /customers/{{ stream_slice.id }}/contacts
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 404
                    action: IGNORE
                    error_message: Entity unavailable. Customer may have been deleted.
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - contact
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/customer"
              incremental_dependency: true
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - customer_id
              value: "{{ stream_slice.id }}"
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/contact"
    credit_note:
      type: DeclarativeStream
      name: credit_note
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /credit_notes
          http_method: GET
          request_parameters:
            sort_by[asc]: date
            include_deleted: "true"
            updated_at[between]: "'[{{stream_slice['start_time']}}, {{stream_slice['end_time']}}]'"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - credit_note
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/credit_note"
    event:
      type: DeclarativeStream
      name: event
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /events
          http_method: GET
          request_parameters:
            sort_by[asc]: occurred_at
            occurred_at[between]: "'[{{stream_slice['start_time']}}, {{stream_slice['end_time']}}]'"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - event
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: occurred_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/event"
    gift:
      type: DeclarativeStream
      name: gift
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /gifts
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - gift
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ format_datetime(config[''start_date''], ''%s'') }}'
          datetime_format: '%s'
        datetime_format: '%s'
        cursor_datetime_formats:
          - '%s'
        is_client_side_incremental: true
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/gift"
    order:
      type: DeclarativeStream
      name: order
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /orders
          http_method: GET
          request_parameters:
            sort_by[asc]: updated_at
            include_deleted: "true"
            updated_at[between]: "'[{{stream_slice['start_time']}}, {{stream_slice['end_time']}}]'"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - order
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/order"
    hosted_page:
      type: DeclarativeStream
      name: hosted_page
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /hosted_pages
          http_method: GET
          request_parameters:
            sort_by[asc]: updated_at
            include_deleted: "true"
            updated_at[between]: "'[{{stream_slice['start_time']}}, {{stream_slice['end_time']}}]'"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - hosted_page
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/hosted_page"
    invoice:
      type: DeclarativeStream
      name: invoice
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /invoices
          http_method: GET
          request_parameters:
            sort_by[asc]: updated_at
            include_deleted: "true"
            updated_at[between]: "'[{{stream_slice['start_time']}}, {{stream_slice['end_time']}}]'"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - invoice
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/invoice"
    item:
      type: DeclarativeStream
      name: item
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /items
          http_method: GET
          request_parameters:
            sort_by[asc]: updated_at
            include_deleted: "true"
            updated_at[between]: "'[{{stream_slice['start_time']}}, {{stream_slice['end_time']}}]'"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - item
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/item"
    item_price:
      type: DeclarativeStream
      name: item_price
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /item_prices
          http_method: GET
          request_parameters:
            sort_by[asc]: updated_at
            include_deleted: "true"
            updated_at[between]: "'[{{stream_slice['start_time']}}, {{stream_slice['end_time']}}]'"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - item_price
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/item_price"
    plan:
      type: DeclarativeStream
      name: plan
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /plans
          http_method: GET
          request_parameters:
            sort_by[asc]: updated_at
            include_deleted: "true"
            updated_at[between]: "'[{{stream_slice['start_time']}}, {{stream_slice['end_time']}}]'"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - plan
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/plan"
    payment_source:
      type: DeclarativeStream
      name: payment_source
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /payment_sources
          http_method: GET
          request_parameters:
            sort_by[asc]: updated_at
            include_deleted: "true"
            updated_at[between]: "'[{{stream_slice['start_time']}}, {{stream_slice['end_time']}}]'"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - payment_source
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/payment_source"
    promotional_credit:
      type: DeclarativeStream
      name: promotional_credit
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /promotional_credits
          http_method: GET
          request_parameters:
            sort_by[asc]: created_at
            created_at[between]: "'[{{stream_slice['start_time']}}, {{stream_slice['end_time']}}]'"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - promotional_credit
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/promotional_credit"
    subscription:
      type: DeclarativeStream
      name: subscription
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /subscriptions
          http_method: GET
          request_parameters:
            sort_by[asc]: updated_at
            include_deleted: "true"
            updated_at[between]: "'[{{stream_slice['start_time']}}, {{stream_slice['end_time']}}]'"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - subscription
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/subscription"
    subscription_with_scheduled_changes:
      type: DeclarativeStream
      name: subscription_with_scheduled_changes
      primary_key:
        - subscription_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            /subscriptions/{{ stream_slice.subscription_id
            }}/retrieve_with_scheduled_changes
          http_method: GET
          error_handler:
            type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                http_codes:
                  - 404
                action: IGNORE
                error_message: Entity unavailable. Subscription may have been deleted.
              - type: HttpResponseFilter
                http_codes:
                  - 400
                action: IGNORE
                error_message_contains: No changes are scheduled for this subscription.
                error_message: No scheduled changes for subscription.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: subscription_id
              stream:
                $ref: "#/definitions/streams/subscription"
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
        - type: AddFields
          fields:
            - path: ["subscription_id"]
              value_type: string
              value: "{{ stream_slice.subscription_id }}"
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/subscription_with_scheduled_changes"
    transaction:
      type: DeclarativeStream
      name: transaction
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /transactions
          http_method: GET
          request_parameters:
            sort_by[asc]: updated_at
            include_deleted: "true"
            updated_at[between]: "'[{{stream_slice['start_time']}}, {{stream_slice['end_time']}}]'"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - transaction
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/transaction"
    unbilled_charge:
      type: DeclarativeStream
      name: unbilled_charge
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /unbilled_charges
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - unbilled_charge
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ format_datetime(config[''start_date''], ''%s'') }}'
          datetime_format: '%s'
        datetime_format: '%s'
        cursor_datetime_formats:
          - '%s'
        is_client_side_incremental: true
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/unbilled_charge"
    virtual_bank_account:
      type: DeclarativeStream
      name: virtual_bank_account
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /virtual_bank_accounts
          http_method: GET
          request_parameters:
            sort_by[asc]: updated_at
            include_deleted: "true"
            updated_at[between]: "'[{{stream_slice['start_time']}}, {{stream_slice['end_time']}}]'"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - virtual_bank_account
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/virtual_bank_account"
    quote:
      type: DeclarativeStream
      name: quote
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /quotes
          http_method: GET
          request_parameters:
            sort_by[asc]: date
            include_deleted: "true"
            updated_at[between]: "'[{{stream_slice['start_time']}}, {{stream_slice['end_time']}}]'"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - quote
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/quote"
    quote_line_group:
      type: DeclarativeStream
      name: quote_line_group
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /quotes/{{ stream_slice.id }}/quote_line_groups
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    http_codes:
                      - 404
                    action: IGNORE
                    error_message: Entity unavailable. Quote may have been deleted.
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - quote_line_group
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
        partition_router:
          type: SubstreamPartitionRouter
          parent_stream_configs:
            - type: ParentStreamConfig
              parent_key: id
              partition_field: id
              stream:
                $ref: "#/definitions/streams/quote"
              incremental_dependency: true
      transformations:
        - type: AddFields
          fields:
            - type: AddedFieldDefinition
              path:
                - quote_id
              value: "{{ stream_slice.id }}"
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/quote_line_group"
    site_migration_detail:
      type: DeclarativeStream
      name: site_migration_detail
      primary_key:
        - entity_id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /site_migration_details
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - site_migration_detail
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: migrated_at
        start_datetime:
          type: MinMaxDatetime
          datetime: '{{ format_datetime(config[''start_date''], ''%s'') }}'
          datetime_format: '%s'
        datetime_format: '%s'
        cursor_datetime_formats:
          - '%s'
        is_client_side_incremental: true
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/site_migration_detail"
    comment:
      type: DeclarativeStream
      name: comment
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /comments
          http_method: GET
          request_parameters:
            sort_by[asc]: created_at
            created_at[between]: "'[{{stream_slice['start_time']}}, {{stream_slice['end_time']}}]'"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - comment
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: created_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/comment"
    item_family:
      type: DeclarativeStream
      name: item_family
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /item_families
          http_method: GET
          request_parameters:
            sort_by[asc]: updated_at
            include_deleted: "true"
            updated_at[between]: "'[{{stream_slice['start_time']}}, {{stream_slice['end_time']}}]'"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - item_family
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/item_family"
    differential_price:
      type: DeclarativeStream
      name: differential_price
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /differential_prices
          http_method: GET
          request_parameters:
            sort_by[asc]: updated_at
            include_deleted: "true"
            updated_at[between]: "'[{{stream_slice['start_time']}}, {{stream_slice['end_time']}}]'"
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                response_filters:
                  - type: HttpResponseFilter
                    predicate: "{{ 'api_error_code' in response and response['api_error_code'] == 'configuration_incompatible' }}"
                    action: IGNORE
                    error_message: Stream is available only for Product Catalog 1.0
              - type: DefaultErrorHandler
                max_retries: 10
                backoff_strategies:
                  - type: WaitTimeFromHeader
                    header: Retry-After
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - list
              - "*"
              - differential_price
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: offset
          page_size_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: limit
          pagination_strategy:
            type: CursorPagination
            page_size: 100
            cursor_value: "{{ response.get('next_offset')|tojson() }}"
            stop_condition: "{{ not response.next_offset }}"
      incremental_sync:
        type: DatetimeBasedCursor
        cursor_field: updated_at
        cursor_datetime_formats:
          - "%s"
        datetime_format: "%s"
        start_datetime:
          type: MinMaxDatetime
          datetime: "{{ format_datetime(config['start_date'], '%s') }}"
          datetime_format: "%s"
        end_datetime:
          type: MinMaxDatetime
          datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          datetime_format: "%Y-%m-%dT%H:%M:%SZ"
        step: P1M
        cursor_granularity: PT1S
      transformations:
        - type: CustomTransformation
          class_name: source_declarative_manifest.components.CustomFieldTransformation
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/differential_price"
  base_requester:
    type: HttpRequester
    url_base: https://{{ config['site'] }}.chargebee.com/api/v2
    authenticator:
      type: BasicHttpAuthenticator
      username: "{{ config['site_api_key'] }}"

streams:
  - $ref: "#/definitions/streams/addon"
  - $ref: "#/definitions/streams/attached_item"
  - $ref: "#/definitions/streams/customer"
  - $ref: "#/definitions/streams/coupon"
  - $ref: "#/definitions/streams/contact"
  - $ref: "#/definitions/streams/credit_note"
  - $ref: "#/definitions/streams/event"
  - $ref: "#/definitions/streams/gift"
  - $ref: "#/definitions/streams/order"
  - $ref: "#/definitions/streams/hosted_page"
  - $ref: "#/definitions/streams/invoice"
  - $ref: "#/definitions/streams/item"
  - $ref: "#/definitions/streams/item_price"
  - $ref: "#/definitions/streams/plan"
  - $ref: "#/definitions/streams/payment_source"
  - $ref: "#/definitions/streams/promotional_credit"
  - $ref: "#/definitions/streams/subscription"
  - $ref: "#/definitions/streams/subscription_with_scheduled_changes"
  - $ref: "#/definitions/streams/transaction"
  - $ref: "#/definitions/streams/unbilled_charge"
  - $ref: "#/definitions/streams/virtual_bank_account"
  - $ref: "#/definitions/streams/quote"
  - $ref: "#/definitions/streams/quote_line_group"
  - $ref: "#/definitions/streams/site_migration_detail"
  - $ref: "#/definitions/streams/comment"
  - $ref: "#/definitions/streams/item_family"
  - $ref: "#/definitions/streams/differential_price"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - site_api_key
      - site
      - start_date
    properties:
      site_api_key:
        type: string
        description: >-
          Chargebee API Key. See the <a
          href="https://docs.airbyte.com/integrations/sources/chargebee">docs</a>
          for more information on how to obtain this key.
        title: API Key
        airbyte_secret: true
        order: 0
      site:
        type: string
        description: The site prefix for your Chargebee instance.
        title: Site
        examples:
          - airbyte-test
        order: 1
      start_date:
        type: string
        description: >-
          UTC date and time in the format 2017-01-25T00:00:00.000Z. Any data
          before this date will not be replicated.
        format: date-time
        title: Start Date
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        examples:
          - "2021-01-25T00:00:00Z"
        order: 2
      product_catalog:
        type: string
        description: >-
          Product Catalog version of your Chargebee site. Instructions on how to
          find your version you may find <a
          href="https://apidocs.chargebee.com/docs/api?prod_cat_ver=2">here</a>
          under `API Version` section. If left blank, the product catalog
          version will be set to 2.0.
        title: Product Catalog
        enum:
          - "1.0"
          - "2.0"
        default: "2.0"
        order: 3
      num_workers:
        type: integer
        title: Number of concurrent workers
        minimum: 1
        maximum: 50
        default: 3
        examples: [1, 2, 3]
        description: >-
          The number of worker threads to use for the sync.
          The performance upper boundary is based on the limit of your Chargebee plan.
          More info about the rate limit plan tiers can be found on Chargebee's API <a href="https://support.chargebee.com/support/solutions/articles/243576-what-are-the-chargebee-api-limits-">docs</a>.
        order: 4
    additionalProperties: true

metadata:
  autoImportSchema:
    addon: false
    attached_item: false
    customer: false
    coupon: false
    contact: false
    credit_note: false
    event: false
    gift: false
    order: false
    hosted_page: false
    invoice: false
    item: false
    item_price: false
    plan: false
    payment_source: false
    promotional_credit: false
    subscription: false
    subscription_with_scheduled_changes: false
    transaction: false
    unbilled_charge: false
    virtual_bank_account: false
    quote: false
    quote_line_group: false
    site_migration_detail: false
    comment: false
    item_family: false
    differential_price: false
  yamlComponents:
    streams:
      addon:
        - transformations
      attached_item:
        - transformations
      customer:
        - transformations
      coupon:
        - transformations
      contact:
        - errorHandler
        - transformations
      credit_note:
        - transformations
      event:
        - transformations
      gift:
        - transformations
        - incrementalSync
      order:
        - transformations
      hosted_page:
        - transformations
      invoice:
        - transformations
      item:
        - transformations
      item_price:
        - transformations
      plan:
        - transformations
      payment_source:
        - transformations
      promotional_credit:
        - transformations
      subscription:
        - transformations
      subscription_with_scheduled_changes:
        - errorHandler
        - transformations
      transaction:
        - transformations
      unbilled_charge:
        - transformations
        - incrementalSync
      virtual_bank_account:
        - transformations
      quote:
        - transformations
      quote_line_group:
        - transformations
      site_migration_detail:
        - transformations
        - incrementalSync
      comment:
        - transformations
      item_family:
        - transformations
      differential_price:
        - transformations
    global:
      - authenticator
  testedStreams: {}
  assist: {}

schemas:
  addon:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    name: Add-on
    properties:
      type:
        type:
          - string
          - "null"
        description: Type of addon.
      description:
        type:
          - string
          - "null"
        description: Description of the addon.
      accounting_category1:
        type:
          - string
          - "null"
        description: First accounting category for the addon.
      accounting_category2:
        type:
          - string
          - "null"
        description: Second accounting category for the addon.
      accounting_category3:
        type:
          - string
          - "null"
        description: Third accounting category for the addon.
      accounting_category4:
        type:
          - string
          - "null"
        description: Fourth accounting category for the addon.
      accounting_code:
        type:
          - string
          - "null"
        description: Accounting code for the addon.
      archived_at:
        type:
          - integer
          - "null"
        description: Timestamp indicating when the addon was archived.
      avalara_sale_type:
        type:
          - string
          - "null"
        description: Avalara sale type for tax calculation.
      avalara_service_type:
        type:
          - integer
          - "null"
        description: Avalara service type for tax calculation.
      avalara_transaction_type:
        type:
          - integer
          - "null"
        description: Avalara transaction type for tax calculation.
      channel:
        type:
          - string
          - "null"
        description: Channel for which the addon is applicable.
      charge_type:
        type:
          - string
          - "null"
        description: Type of charge for the addon.
      currency_code:
        type:
          - string
          - "null"
        description: Currency code for the addon pricing.
      custom_fields:
        type:
          - 'null'
          - array
        items:
          type:
            - 'null'
            - object
          properties:
            name:
              type:
                - 'null'
                - string
            value:
              type:
                - 'null'
                - string
      enabled_in_portal:
        type:
          - boolean
          - "null"
        description: Indicator for whether the addon is enabled in the customer portal.
      id:
        type:
          - string
          - "null"
        description: Unique identifier for the addon.
      included_in_mrr:
        type:
          - boolean
          - "null"
        description: >-
          Indicator for whether the addon is included in Monthly Recurring
          Revenue (MRR).
      invoice_name:
        type:
          - string
          - "null"
        description: Name to be displayed on the invoice for the addon.
      invoice_notes:
        type:
          - string
          - "null"
        description: Additional notes to include on the invoice for the addon.
      is_shippable:
        type:
          - boolean
          - "null"
        description: Indicator for whether the addon is shippable.
      meta_data:
        type:
          - object
          - "null"
        description: Additional metadata associated with the addon.
        properties: {}
      name:
        type:
          - string
          - "null"
        description: Name of the addon.
      object:
        type:
          - string
          - "null"
        description: Type of object, in this case, addon.
      period:
        type:
          - integer
          - "null"
        description: Duration of the addon period.
      period_unit:
        type:
          - string
          - "null"
        description: Unit of duration for the addon period.
      price:
        type:
          - integer
          - "null"
        description: Price of the addon.
      price_in_decimal:
        type:
          - string
          - "null"
        description: Price of the addon in decimal format.
      pricing_model:
        type:
          - string
          - "null"
        description: Model used for pricing the addon.
      resource_version:
        type:
          - integer
          - "null"
        description: Version of the resource.
      shipping_frequency_period:
        type:
          - integer
          - "null"
        description: Frequency of shipping for the addon period.
      shipping_frequency_period_unit:
        type:
          - string
          - "null"
        description: Unit of frequency for shipping the addon.
      show_description_in_invoices:
        type:
          - boolean
          - "null"
        description: Indicator for whether the description should appear on invoices.
      show_description_in_quotes:
        type:
          - boolean
          - "null"
        description: Indicator for whether the description should appear on quotes.
      sku:
        type:
          - string
          - "null"
        description: Stock Keeping Unit (SKU) for the addon.
      status:
        type:
          - string
          - "null"
        description: Status of the addon.
      tax_code:
        type:
          - string
          - "null"
        description: Tax code associated with the addon.
      tax_profile_id:
        type:
          - string
          - "null"
        description: Tax profile identifier for the addon.
      taxable:
        type:
          - boolean
          - "null"
        description: Indicator for whether the addon is taxable.
      taxjar_product_code:
        type:
          - string
          - "null"
        description: TaxJar product code for tax calculation.
      tiers:
        type:
          - array
          - "null"
        description: Tiers with specific pricing for the addon.
        items:
          type:
            - object
            - "null"
          properties:
            ending_unit:
              type:
                - integer
                - "null"
              description: Ending unit quantity for the tier.
            ending_unit_in_decimal:
              type:
                - string
                - "null"
              description: Ending unit quantity in decimal for the tier.
            price:
              type:
                - integer
                - "null"
              description: Price of the tier.
            price_in_decimal:
              type:
                - string
                - "null"
              description: Price of the tier in decimal format.
            starting_unit:
              type:
                - integer
                - "null"
              description: Starting unit quantity for the tier.
            starting_unit_in_decimal:
              type:
                - string
                - "null"
              description: Starting unit quantity in decimal for the tier.
      unit:
        type:
          - string
          - "null"
        description: Unit of the addon quantity.
      updated_at:
        type:
          - integer
          - "null"
        description: Timestamp of the last update to the addon data.
  attached_item:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    name: Attached Items
    properties:
      type:
        type:
          - string
          - "null"
        description: Type of the attached item.
      billing_cycles:
        type:
          - integer
          - "null"
        description: Number of billing cycles associated with the attached item.
      charge_on_event:
        type:
          - string
          - "null"
        description: Indicates when the attached item should be charged.
      charge_once:
        type:
          - boolean
          - "null"
        description: Flag to determine if the attached item should be charged only once.
      created_at:
        type:
          - integer
          - "null"
        description: Timestamp when the attached item was created.
      custom_fields:
        type:
          - 'null'
          - array
        items:
          type:
            - 'null'
            - object
          properties:
            name:
              type:
                - 'null'
                - string
            value:
              type:
                - 'null'
                - string
      id:
        type:
          - string
          - "null"
        description: Unique identifier for the attached item.
      item_id:
        type:
          - string
          - "null"
        description: Identifier of the item to which this attached item belongs.
      object:
        type:
          - string
          - "null"
        description: Type of object representing the attached item.
      parent_item_id:
        type:
          - string
          - "null"
        description: Identifier of the parent item to which this attached item is attached.
      quantity:
        type:
          - integer
          - "null"
        description: Quantity of the attached item included in the parent item.
      quantity_in_decimal:
        type:
          - string
          - "null"
        description: Quantity of the attached item in decimal format.
      resource_version:
        type:
          - integer
          - "null"
        description: Version of the attached item resource for tracking changes.
      status:
        type:
          - string
          - "null"
        description: Current status of the attached item.
      updated_at:
        type:
          - integer
          - "null"
        description: Timestamp when the attached item was last updated.
  customer:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    name: Customer
    properties:
      allow_direct_debit:
        type:
          - boolean
          - "null"
        description: Indicates if direct debit is allowed for the customer.
      auto_close_invoices:
        type:
          - boolean
          - "null"
        description: Flag to automatically close invoices for the customer.
      auto_collection:
        type:
          - string
          - "null"
        description: Configures the automatic collection settings for the customer.
      backup_payment_source_id:
        type:
          - string
          - "null"
        description: ID of the backup payment source for the customer.
      balances:
        type:
          - array
          - "null"
        description: Customer's balance information related to their account.
        items:
          type:
            - object
            - "null"
          properties:
            balance_currency_code:
              type:
                - string
                - "null"
              description: Currency code for the balance.
            currency_code:
              type:
                - string
                - "null"
              description: Currency code used for the transaction.
            excess_payments:
              type:
                - integer
                - "null"
              description: Amount of excess payments.
            object:
              type:
                - string
                - "null"
              description: Object type for the balance.
            promotional_credits:
              type:
                - integer
                - "null"
              description: Amount of promotional credits.
            refundable_credits:
              type:
                - integer
                - "null"
              description: Amount of refundable credits.
            unbilled_charges:
              type:
                - integer
                - "null"
              description: Amount of unbilled charges.
      billing_address:
        type:
          - object
          - "null"
        description: Customer's billing address details.
        properties:
          city:
            type:
              - string
              - "null"
            description: City in the billing address.
          company:
            type:
              - string
              - "null"
            description: Company name in the billing address.
          country:
            type:
              - string
              - "null"
            description: Country in the billing address.
          email:
            type:
              - string
              - "null"
            description: Email address for billing communication.
          first_name:
            type:
              - string
              - "null"
            description: First name in the billing address.
          last_name:
            type:
              - string
              - "null"
            description: Last name in the billing address.
          line1:
            type:
              - string
              - "null"
            description: Address line 1 in the billing address.
          line2:
            type:
              - string
              - "null"
            description: Address line 2 in the billing address.
          line3:
            type:
              - string
              - "null"
            description: Address line 3 in the billing address.
          object:
            type:
              - string
              - "null"
            description: Object type for billing address.
          phone:
            type:
              - string
              - "null"
            description: Phone number for billing contact.
          state:
            type:
              - string
              - "null"
            description: State in the billing address.
          state_code:
            type:
              - string
              - "null"
            description: State code in the billing address.
          validation_status:
            type:
              - string
              - "null"
            description: Validation status of the billing address.
          zip:
            type:
              - string
              - "null"
            description: Zip code in the billing address.
      billing_date:
        type:
          - integer
          - "null"
        description: Date for billing cycle.
      billing_date_mode:
        type:
          - string
          - "null"
        description: Mode for billing date calculation.
      billing_day_of_week:
        type:
          - string
          - "null"
        description: Day of the week for billing cycle.
      billing_day_of_week_mode:
        type:
          - string
          - "null"
        description: Mode for billing day of the week calculation.
      billing_month:
        type:
          - integer
          - "null"
        description: Month for billing cycle.
      business_customer_without_vat_number:
        type:
          - boolean
          - "null"
        description: Flag indicating business customer without a VAT number.
      business_entity_id:
        type:
          - string
          - "null"
        description: ID of the business entity.
      card_status:
        type:
          - string
          - "null"
        description: Status of payment card associated with the customer.
      channel:
        type:
          - string
          - "null"
        description: Channel through which the customer was acquired.
      child_account_access:
        type:
          - object
          - "null"
        description: >-
          Information regarding the access rights of child accounts linked to
          the customer's account.
        properties:
          portal_download_child_invoices:
            type:
              - string
              - "null"
            description: Permission to download child invoices.
          portal_edit_child_subscriptions:
            type:
              - string
              - "null"
            description: Permission to edit child subscriptions.
          send_invoice_emails:
            type:
              - boolean
              - "null"
            description: Permission to send invoice emails.
          send_payment_emails:
            type:
              - boolean
              - "null"
            description: Permission to send payment emails.
          send_subscription_emails:
            type:
              - boolean
              - "null"
            description: Permission to send subscription emails.
      client_profile_id:
        type:
          - string
          - "null"
        description: Client profile ID of the customer.
      company:
        type:
          - string
          - "null"
        description: Company or organization name.
      consolidated_invoicing:
        type:
          - boolean
          - "null"
        description: Flag for consolidated invoicing setting.
      contacts:
        type:
          - array
          - "null"
        description: List of contact details associated with the customer.
        items:
          type:
            - object
            - "null"
          properties:
            email:
              type:
                - string
                - "null"
              description: Email address of the contact.
            enabled:
              type:
                - boolean
                - "null"
              description: Flag indicating contact is enabled.
            first_name:
              type:
                - string
                - "null"
              description: First name of the contact.
            id:
              type:
                - string
                - "null"
              description: ID of the contact.
            label:
              type:
                - string
                - "null"
              description: Label for the contact.
            last_name:
              type:
                - string
                - "null"
              description: Last name of the contact.
            object:
              type:
                - string
                - "null"
              description: Object type for contact.
            phone:
              type:
                - string
                - "null"
              description: Phone number of the contact.
            send_account_email:
              type:
                - boolean
                - "null"
              description: Permission to send account emails to the contact.
            send_billing_email:
              type:
                - boolean
                - "null"
              description: Permission to send billing emails to the contact.
      created_at:
        type:
          - integer
          - "null"
        description: Date and time when the customer was created.
      created_from_ip:
        type:
          - string
          - "null"
        description: IP address from which the customer was created.
      custom_fields:
        type:
          - 'null'
          - array
        items:
          type:
            - 'null'
            - object
          properties:
            name:
              type:
                - 'null'
                - string
            value:
              type:
                - 'null'
                - string
      customer_type:
        type:
          - string
          - "null"
        description: Type of customer (e.g., individual, business).
      deleted:
        type:
          - boolean
          - "null"
        description: Flag indicating if the customer is deleted.
      email:
        type:
          - string
          - "null"
        description: Email address of the customer.
      entity_code:
        type:
          - string
          - "null"
        description: Code for the customer entity.
      excess_payments:
        type:
          - integer
          - "null"
        description: Total amount of excess payments by the customer.
      exempt_number:
        type:
          - string
          - "null"
        description: Exemption number for tax purposes.
      exemption_details:
        type:
          - array
          - "null"
        description: Details about any exemptions applicable to the customer's account.
        items:
          type:
            - object
            - "null"
          properties: {}
      first_name:
        type:
          - string
          - "null"
        description: First name of the customer.
      fraud_flag:
        type:
          - string
          - "null"
        description: Flag indicating if fraud is associated with the customer.
      id:
        type:
          - string
          - "null"
        description: Unique ID of the customer.
      invoice_notes:
        type:
          - string
          - "null"
        description: Notes added to the customer's invoices.
      is_location_valid:
        type:
          - boolean
          - "null"
        description: Flag indicating if the customer location is valid.
      last_name:
        type:
          - string
          - "null"
        description: Last name of the customer.
      locale:
        type:
          - string
          - "null"
        description: Locale setting for the customer.
      meta_data:
        type:
          - object
          - "null"
        description: Additional metadata associated with the customer.
        properties: {}
      mrr:
        type:
          - integer
          - "null"
        description: Monthly recurring revenue generated from the customer.
      net_term_days:
        type:
          - integer
          - "null"
        description: Number of days for net terms.
      object:
        type:
          - string
          - "null"
        description: Object type for the customer.
      offline_payment_method:
        type:
          - string
          - "null"
        description: Offline payment method used by the customer.
      parent_account_access:
        type:
          - object
          - "null"
        description: >-
          Information regarding the access rights of the parent account, if
          applicable.
        properties:
          portal_download_child_invoices:
            type:
              - string
              - "null"
            description: Permission to download child invoices for the parent account.
          portal_edit_child_subscriptions:
            type:
              - string
              - "null"
            description: Permission to edit child subscriptions for the parent account.
          send_invoice_emails:
            type:
              - boolean
              - "null"
            description: Permission to send invoice emails for the parent account.
          send_payment_emails:
            type:
              - boolean
              - "null"
            description: Permission to send payment emails for the parent account.
          send_subscription_emails:
            type:
              - boolean
              - "null"
            description: Permission to send subscription emails for the parent account.
      payment_method:
        type:
          - object
          - "null"
        description: Customer's preferred payment method details.
        properties:
          type:
            type:
              - string
              - "null"
            description: Type of payment method.
          gateway:
            type:
              - string
              - "null"
            description: Payment gateway used for transactions.
          gateway_account_id:
            type:
              - string
              - "null"
            description: ID of the gateway account.
          object:
            type:
              - string
[...]
